[2018-06-19 21:33] smitpatel commented on #12412
@peterjanto - Thanks for the repro.

[2018-06-19 22:13] jceddy commented on #12402
So I thought it was fine because I encountered a different error and thought I was making progress, but now after making some changes, making sure I have the correct provider getting set up, etc., I'm back to the same error. Here is the verbose output when I run add-migration:

    Using project 'src\Framework\Server\CompanyName.ProductName.EntityFramework'.
    Using startup project 'src\Applicat

[2018-06-19 22:35] joelGarcia93 opened #12418 "Why AspNetUsers doesn't use email as Primary Key?"
hello everyone, I have a question about entity framework authentication, it suppose the queries would be faster with email as primary key instead email as index (UNIQUE). someone can explain me why?
or what strategy are you using to handle the performance of the query when a user is signing in.

After of all Thank you so much, Im new in EntityFramework and it's really awesome. Thank you :D

[2018-06-19 23:22] #10648 closed

[2018-06-20 01:12] Tarig0 commented on #12418
Stack overflow is a better platform, for this question.

EF doesn't handle the execution of the queries just the generation of the sql and mapping of the results.  Also you should mention what database engine you are using, each one is different.

But PK vs UX is minimal hit to performance. Like you can't even blink in the amount of time you lose

[2018-06-20 01:39] joelGarcia93 commented on #12418
Im using SQL server, Thank you for the answer

[2018-06-20 03:43] benaadams commented on #12418
email would be a poor primary key. The user primary key, would also be the foreign key for any table that referred to the user; so replicated across most tables.
* email is an arbitrarily long field so can be expensive to match and join tables with
* email is a changing field (as the user changes emails); so updating it if it was the primary key would require a cascading update to every table whic

[2018-06-20 03:52] joelGarcia93 commented on #12418
@benaadams  does it affect the performance? I think is same velocity, but the teacher told me is more slow unique index than primary key Im really so confused.

[2018-06-20 04:17] benaadams commented on #12418
That's a more complex question
* Primary key is normally what the rows in the table are sorted on and it is part of the row; so you can do a binary type search to look up the row using primary key and get its data.
* An index is normally more of a dictionary type structure, so a very fast lookup up; however what you are looking up with the index is the primary key, which you then use to lookup the

[2018-06-20 04:40] joelGarcia93 commented on #12418
Amazing Sr, Im gonna share this link to my teacher. Thank you so much and have a nice day.

[2018-06-20 05:34] SimonCropp opened #12420 "Typo"
https://github.com/aspnet/EntityFrameworkCore/search?q=Referers&unscoped_q=Referers

[2018-06-20 05:35] SimonCropp opened #12421 "Typo: "Referers" should be "Referrers""
https://github.com/aspnet/EntityFrameworkCore/search?q=Referers&unscoped_q=Referers

let me know if you want a PR

[2018-06-20 06:32] Seramis opened #12422 "Can not extend DbSet with own classes that inherit from DbSet"
https://github.com/aspnet/EntityFrameworkCore/blob/6bb96ccb241c87b44c005e87d330dc5cadd1e6d7/src/EFCore/Internal/DbSetFinder.cs#L39-L40

Because of these conditions i can not extend my own repository classes from DbSet and define my repository classes in DbContext instead of direct DbSet.

The conditions should not directly check if defined property is DbSet, but if it inherits (or is directly) DbS

[2018-06-20 07:08] piotrkolodziej opened #12423 "ef core 2.1 throws error for alternate key placed inside owned type"
**Update2:**

Isolated the issue (see comment below) and provided link to sample project that will demonstrate it.

**Update1:**

I tried to run my app and I am getting the same result, so my guess is it's not only affecting dotnet ef database *' but occurs during a normal program run (whenever the '_hotelManagerContext.Database.EnsureCreated();' is being run

——

I have just migrated my code from

[2018-06-20 07:59] leak commented on #12357
Looks like adding those manually gets me straight trapped in dependency hell (dependencies of dependencies of dependencies....)

[code]

This is what I'm currently adding at the end of `ConfigureServices()` and there are still errors about missing dependencies trying to get the differ out of DI without exceptions...
[code]
I guess by the time i have them all listed my list is equally long to what

[2018-06-20 08:05] gnpretorius commented on #12408
Thanks guys!

I'll do that and follop up with the outcome.

[2018-06-20 08:16] ilmax commented on #12422
Hi @Seramis, I'm a bit curious about what scenario are you trying to achieve extending dbset.

[2018-06-20 08:42] Seramis commented on #12422
Hi @ilmax ,
The DbContext is a full-blown Unit of Work implementation and DbSet is a full-blown Repository implementation.

It's always possible to create your own repository on top of DbSet (effectively creating repository on top of repository), but that's not really reasonable. Also EF Core documentation warns you about not creating secondary UoW and Repo implementations on top of EF Core, that

[2018-06-20 08:45] dermeister0 opened #12424 "SqliteRelationalConnection does not call BundleInitializer"
SqliteRelationalConnection does not call BundleInitializer

[Static constructor](https://github.com/aspnet/Microsoft.Data.Sqlite/blob/d24c8d41a628b284973a866426f330f90dc43a9a/src/Microsoft.Data.Sqlite.Core/SqliteConnection.cs#L29) of `SqliteConnection` is not called when `Context.Migrate()` is executed on SQLite DB. `BundleInitializer.Initialize()` is not called, I receive an exception.

[code]

#

[2018-06-20 08:46] ilmax commented on #12422
Yes, I understand the fix is a one line, but since this is not something very common, I'm interested into the use case of creating your own dbset version.

[2018-06-20 08:49] Seramis commented on #12422
@ilmax ,
Yes, i understand that. I just mentioned it in addition as it seems, it's not really intended to be that strict. (Based on official documents)

For a example, i would like to create UserRepository : DbSet<User>, where i have additinal method ByGender() and the real LINQ conditions are inside that method.
Like an ordinary Repository in that sense.

[2018-06-20 10:15] roji commented on #12423
I'm not going to have any time to look at this in the coming days, but this kind of issue is usually ef core-related rather than npgsql-related. I'd recommend opening an issue on the efcore repo.

[2018-06-20 10:19] BalassaMarton commented on #5719
Now that EF Core has query types, the scaffolding could generate those for tables without primary key.

[2018-06-20 10:39] piotrkolodziej commented on #12423
**I have managed to isolate the issue. It turns out it ONLY works if the owning type defines ONLY one owned type property:**.

[code]

Sample project can be downloaded from the following [link](https://drive.google.com/open?id=1dLyBJ1fDneg_bJ5ouw_6HAG-CPlP4mDk).

[2018-06-20 10:53] roji commented on #12423
Again, this is very likely an EF Core issue rather than an Npgsql, @ajcvickers can you check if this rings any bells?

[2018-06-20 11:14] Jrubzjeknf commented on #11570
For anyone wondering how to use this functionality: you must specify your connectionstring to be named, which looks like `name=MyConnectionString`. The name of your connection string corresponds with the one defined in your `appsettings.json`.

[2018-06-20 11:16] roji commented on #1679
Add providers-fyi? I occasionally search for stuff I need to react it with `providers-fyi` and `provider-beware`, so it's useful to have them on any issues which may require provider attention.

[2018-06-20 11:18] Jrubzjeknf commented on #10432
For anyone wondering how to use this functionality: you must specify your connectionstring to be named, which looks like `name=MyConnectionString`. The name of your connection string corresponds with the one defined in your `appsettings.json`.

[2018-06-20 11:53] andrewslavin opened #12425 "Provide overload of EntityFrameworkQueryableExtensions.ForEachAsync<T>() that accepts async lambda."
The issue, as well as the proposed solution, are described here: https://stackoverflow.com/questions/50920636/unexpected-behaviour-with-microsoft-entityframeworkcore-entityframeworkqueryable.

In a nutshell: `ForEachAsync()` takes `Action<T>` as second argument, but if I provide `Func<T, Task>` (async lambda) instead, the code still compiles. But obviously it will not work as expected, because the

[2018-06-20 12:05] AurelioRighetti opened #12426 "Exception then using Include but the query work"
Hi, the execute the query first time, i retrive an exception but the query work ok, if repeat the query many time the exception not appear. This exception appear in the Diagnostic Tool any time execute a new query  whit .Include(). The query work ok.
[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServe

[2018-06-20 12:13] EIDIVANDI commented on #7891
just at the moment had the same problem , after verifing the Msdn link [UseSqlServer](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.sqlserverdbcontextoptionsextensions.usesqlserver?view=efcore-2.1 ) found that the Microsoft.EntityFrameworkCore has not added the Microsoft.EntityFrameworkCore.SqlServer

[2018-06-20 12:14] MichaelKetting commented on #12230
@parxal I've explained the details in https://www.re-motion.org/jira/browse/RMLNQ-121 but the TL:DR answer to solve your problem right now is the following:

You need to use the type where the property was originally declared, just like the C# compiler does it, e.g. "BaseViewModel" for "CreatedByUserName"

[2018-06-20 12:53] EddyPPP commented on #12256
Thanks @smitpatel, but as I mentioned before - the lack of an Include was simply to demonstrate the issue (and actually to ensure a null) - this is example code that I mocked up for the purpose of demonstrating the minimum code needed to surface the issue, not the final production code!

To avoid ambiguity, I have included 2.0 and 2.1 apps with a WHERE, TAKE, and INCLUDE:
[2.0.zip](https://github.

[2018-06-20 13:11] SimonCropp commented on #6872
so i needed to work around this enough time that i wrapped the workaround in a nuget https://github.com/SimonCropp/EfCore.InMemoryHelpers

[2018-06-20 13:11] SimonCropp commented on #2166
so i needed to work around this enough time that i wrapped the workaround in a nuget https://github.com/SimonCropp/EfCore.InMemoryHelpers

[2018-06-20 13:38] vanbukin opened #12427 "Need improve translation to T-SQL some requests with nullable values"
I find that transation to T-SQL is not effective in some cases when we working with nullable values.
If you try to run the code below, you will see that it transaltes to
[code]
but what I really expect is
[code]
I check that value is not null inside `Where` predicate:
[code]
So I think it will be cool readability improvement of T-SQL, that generated by EF Core, if EF Core can understand that cases

[2018-06-20 14:10] Wain123 opened #12428 "OriginalValues of an entity in Added state are equal to CurrentValues"
I am adding an entity using `DbSet.Add`.
I am using `ChangeTrackingStrategy.ChangingAndChangedNotificationsWithOriginalValues`.

As far as I can tell, OriginalValues of Added entities are always equal to CurrentValues. The OriginalValues even change when I set a property value.

I expected the OriginalValues to either be equal to the property values at the time I called `DbSet.Add` or to throw an

[2018-06-20 14:32] ADringer opened #12429 "Owned type retrieval failure"
Hi,

I have a couple of classes as:

[code]

and have set up the owned type as:
[code]

When attempting to retrieve a Donor I get the error:

Looking in the logs I can see:

[code]
[code]
From the logs output it looks like it thinks `Address` is a different table and so doing a join to it when it's on the same table.

I am running this in an Azure Function, not sure if that will cause an issue?

#

[2018-06-20 15:11] MatthewLymer commented on #8332
The suggested solution of being able to pass arguments to the `IDesignTimeDbContextFactory` would be great for my use case, a multi-tenant application where each tenant has their own database.

Right now I'm using the workaround of setting an env-var with the connection string.

What is the purpose of the `args` parameter, I can't see a way to populate it?

[2018-06-20 15:27] ajcvickers opened #12430 "Consider always write to backing fields by default"
However, also consider notification entities where setting the property may be needed to trigger the notification.

[2018-06-20 15:30] ajcvickers commented on #12421
@SimonCropp Sure.

[2018-06-20 15:48] ajcvickers commented on #12422
@Seramis DbSet creation and management is not completely trivial. I'm not against being able to use types derived from DbSet, but such functionality should be done in a way that it works consistently with the way DbSet works, including things like the caching which in turn ensures things like .Local work consistently. We would consider a PR for this if it is done well. The PR would need to have te

[2018-06-20 15:50] piotrkolodziej commented on #12423
I have the follow up question: you mentioned I should create the issue on the entity framework core repo. I just did that, and was wondering who is right here. In the last I did the same thing, and back then, also someone from npgsql commented that I should post in on efc repo. Am I doing something wrong or you guys are just getting notifications whenever someone mentions npgsql?

[2018-06-20 15:59] ajcvickers commented on #12423
@piotrkolodziej When one gets notifications from many repos (as I do and I am sure @roji does too) it is easy to get lost as to which repo one is currently working in. I suspect that @roji didn't realize this was already posted in the EF Core repo.

[2018-06-20 16:14] ajcvickers commented on #12423
@piotrkolodziej I'm trying to figure out what all the configuration you have means, but I am having trouble making sense of it. Can you describe what the intended mapping here is? If you know what database tables you expect, then that would help. Otherwise can you explain in words what the relationships between the three types is supposed to be?

[2018-06-20 16:25] piotrkolodziej commented on #12423
@ajcvickers sure, let me clarify:

Country - separate table with CountryId (int) and Name (string-alternatePK).
Invoice - separate table with InvoiceId (int), HotelDetails_Country (string FK to Country.Name) and GuestDetails_Country (string FK to Country.Name)

Please try downloading the [sample code](https://drive.google.com/open?id=1dLyBJ1fDneg_bJ5ouw_6HAG-CPlP4mDk) that I've created to isolate

[2018-06-20 16:34] xumix opened #12431 "Join with client side collections"
It would be great to use .Contains and .Join as translated statements like it is do with simple ```.Contains(e.Id)```

For example:
[code]

### Further technical details
EF Core version: 2.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
IDE: (e.g. Visual Studio 2017 15.7)

[2018-06-20 16:51] ajcvickers commented on #12428
@Wain123 Asking for original values of an Added entity doesn't make much sense, but throwing requires conditional logic to be used to avoid asking for them on Added object, while returning the current values allows Added objects to often be treated the same as entities in other states.

[2018-06-20 17:10] AlekseyMartynov commented on #11711
Hello @smitpatel
I recently stumbled upon this issue and found that there is a family of equivalent aggregates:

1.
[code]

2.
[code]

3.
[code]

4.
[code]

(maybe more?)

Please support them all in the context of this feature.
[This code from NHibernate](https://github.com/nhibernate/nhibernate-core/blob/5cb7b3f9d67eb84d97984bcf7c86e639e3449d40/src/NHibernate/Linq/GroupBy/GroupBySelectClauseRewri

[2018-06-20 17:19] smitpatel commented on #11711
@AlekseyMartynov - Thanks for information. All of them are normalized into single form in our query parser so shouldn't be issue in supporting them all.

[2018-06-20 17:33] bricelam commented on #5719
@BalassaMarton Yep. I was going to look into just that as part of #1679

[2018-06-20 17:39] rkreisel opened #12432 "Enhance scaffolding to prepend schema names to entity classes"
The "all knowing" dba powers that be on my project have decided that schemas are the best thing since sliced bread. Which might be okay if they didn't also have identically named tables (with different columns) in multiple schemas. For instance [Schema1].[TableA] and [Schema2.TableA] and [Schema3.TableA]. When EF scaffolds that database you will get entity classes for TableA, TableA1, and TableA2.

[2018-06-20 17:46] smitpatel commented on #12423
Repro code:
[code]
ModelBuilding fails. Worked in 2.0.2 release.

[2018-06-20 17:47] smitpatel commented on #12423
Schema in 2.0.2 release
[code]

[2018-06-20 17:51] smitpatel commented on #12432
Duplicate of #3988

[2018-06-20 17:53] smitpatel commented on #12432
While #3988  still needs design, vague idea is to have schema name used in namespace so `TableA` won't have type clash and will not require name with number suffix. It would also make it easy to add new schema with same table name. Since that new type will be under the new namespace corresponding to that schema.

[2018-06-20 17:56] smitpatel commented on #12422
Related: `ParameterExtractingExpressionVisitor` also utilizes `typeof(DbSet<>)` and may need to adjust for custom DbSet implementation. Though it could also be costly since its query front-end.

[2018-06-20 17:59] smitpatel commented on #12429
@ADringer - Is `Address` different table? Can you share what does table look like in database?

[2018-06-20 18:25] AlekseyMartynov opened #12433 "Specific GroupBy + Sum is evaluated locally"
Version: 2.1.1 stable
Provider: `Microsoft.EntityFrameworkCore.SqlServer`

The following query is synthetic and doesn't look particulary useful, but I'd like to know why it's not translated into SQL. Does it indicate an issue with the current `GroupBy` support?

[code]

[code]

Expected SQL is as simple as:
[code]

[2018-06-20 18:50] rockstardev commented on #4050
LOL @ "because it had lot of issues". Thanks for providing solution @jsakamoto

Inception when I see #1698

[2018-06-20 18:51] ADringer commented on #12429
@smitpatel It's all in one table, here's what the table looks like (there are more columns than the model defines)

![image](https://user-images.githubusercontent.com/19554490/41678560-43d59e1c-74c3-11e8-9205-9ec467db95e8.png)

[2018-06-20 19:08] thedragan commented on #11785
Is there a workaround in place for deploying updates on compiled projects for 2.1??

[2018-06-20 20:43] roji commented on #12423
@piotrkolodziej and others sorry, it's my fault for not looking closely enough. I get email notifications about issues from both Npgsql and EF Core and I sometimes get confused...

[2018-06-20 21:52] smartprogrammer93 commented on #1833
+1

[2018-06-20 21:52] ajcvickers opened #12434 "IsRowVersion or [Timestamp] on property that maps to provider byte[] type should generate rowversion column"
As described in #5936, mapping a ulong with a store type of "rowversion" (or "timestamp") results in a rowversion column in SQL Server that can be used effectively in LINQ queries. This should also work for cases like this:
[code]
and this:
[code]
And possibly even when ` .HasConversion<byte[]>()` is not used explicitly, since IsRowVersion or [Timestamp] imply this, at least for SQL Server

[2018-06-20 21:56] ajcvickers opened #12435 "Reverse engineering rowversion/timestamp on SQL Server should generate ulong property"
Because mapping to ulong with conversion is a nicer experience that mapping to byte[]. See #5936

[2018-06-20 22:01] ajcvickers opened #12436 "Add tests for rowversion/timestamp to ulong conversions so they do not regress"
See #5936

[2018-06-20 22:01] ajcvickers commented on #5936
Notes from triage:
* Closing this issue as suggested above
* Filed #12434 to further improve the experience
* Filed #12435 to start reverse engineering to this mapping
* Filed https://github.com/aspnet/EntityFramework.Docs/issues/784 to use a doc example
* Filed #12436 for the testing

[2018-06-20 22:46] ajbeaven commented on #1833
Can we lock new comments on this issue? I'm keen to hear progress on this but don't want to be spammed by inane +1 comments.

If you wish to throw support behind this issue, thumbs up the OP and subscribe to notifications. The fourth comment here says that this will happen at some point, so either be patient or create a pull request.

[2018-06-20 23:03] maumar opened #12437 "Query: compilation error for query with subquery, Any() result operator and DefaultIfEmpty"
query using Northwind model:

[code]

query plan:

[code]

exception:

[code]

[2018-06-20 23:39] ajcvickers commented on #12357
@leak It is certainly feasible to replace EF services with similar services that have different behavior. This should not involve changing scope. On the other hand, where an architectural decision has been made about how these services should function and work together as a system, then attempting to do something that goes against that decision is generally not feasible. In some cases this include

[2018-06-20 23:43] maumar opened #12438 "Query: compilation error for query that joins two GroupBys by their keys"
query using northwind model:

[code]

query plan (dangling qsre):

[code]

[2018-06-20 23:44] ajcvickers commented on #12374
Triage: As of this time we don't feel like this meets the bar for a patch since the workaround is easy (do ToList before the GroupBy) and doesn't cause any more client eval than is already happening. We could revisit this decision based on more feedback.

[2018-06-20 23:45] ajcvickers commented on #12402
@jceddy There is nothing obvious here. I think we will need a full project/solution or complete code listing to be able to fully investigate.

[2018-06-20 23:48] ajcvickers commented on #12403
@wadebee When using the normal patterns for an ASP.NET app startup, EF should resolve your DbContext from your service provider, so it should not need a parameterless constructor. Can you post either a full project/solution that demonstrates what you are seeing, or at least your Program.cs and Startup.cs files?

[2018-06-20 23:51] ajcvickers commented on #12409
@satyajit-behera Issue #8443 is tracking the Cosmos DB provider. We don't have any preview ready yet and there is no concrete date planned. We will make sure that issue is updated when something is available.

[2018-06-21 00:00] ajcvickers commented on #12414
@danjohnso Thanks for reporting this. The fix in 2.1.1 that causes this issue can be reverted by setting the app switch "Microsoft.EntityFrameworkCore.Issue12119" as documented here: https://msdn.microsoft.com/en-us/library/system.appcontext.setswitch(v=vs.110).aspx

[2018-06-21 00:20] ajcvickers commented on #12424
@dermeister0 SQLitePCL.raw is not used by EF Core 1.0 or 1.1. You'll need to update to 2.0 or preferably 2.1 to get this functionality.

[2018-06-21 00:38] joelGarcia93 commented on #12418
hello developer's in the Table AspNetUsers in the Primary key Id you are using nvarchar(450) again I have other question, it suppose the primary key has to be short instead a long field, why did you declare 450 characters? it supposed its a bad practice right?

Im very curious, please I don't ask these questions to get angry someone, I just wanna know why the expert's do that in the frameworks, Im

[2018-06-21 00:44] benaadams commented on #12418
I've also wondered that...

[2018-06-21 01:05] ajcvickers commented on #12418
@joelGarcia93 Is the question why is the primary key a string, or why is it constrained to 450 characters? For the former, I don't know. For the latter, because there is a limit in SQL Server (and some other database systems) on the size for string key columns, and 450 was at some point determined to be a reasonable default, based primarily on SQL Server's limit, taking into account that it may be

[2018-06-21 01:16] joelGarcia93 commented on #12418
@ajcvickers as @benaadams wrote above, the primary key has to be constrained with the minimum characters, 450 is a very long number for a primary key, I believe with 20 characters would be ok, don't you believe that? actually my teacher told me in the SQL server Version in about 2005, it wasn't possible to do that, because it isn't a good practice in the architecture of the DB.

[2018-06-21 01:40] smarts opened #12439 "No entries in ChangeTracker w/ InMemoryDatabase"
The ChangeTracker doesn't work as expected with the in-memory database

### Steps to reproduce
- configure an in-memory database
- add object to `DbSet<T>`, saving reference to the returned `EntityEntry<T>`
- notice that the returned `EntityEntry<T>`'s `State` property is `EntityState.Added`, but if you examine context`.ChangeTracker.Entries<T>()`, it is empty.

I typed this up w/o an IDE, so plea

[2018-06-21 01:53] divega commented on #12418
@joelGarcia93 I can't remember if we made an explicit decision in ASP.NET Core Identity not to configure the size of the key. Or if we did any performance analysis with different lengths. @haok, do you remember?

I just found an article at https://sqlperformance.com/2017/06/sql-plan/performance-myths-oversizing-strings that goes into good detail about this, and not surprisingly, the conclusion is

[2018-06-21 04:45] jaredcnance opened #12440 "Possible Memory Leak in Integration Tests"
After upgrading our Asp.Net Core and EF Core applications from 1.x to 2.1, I am struggling with what appears to be a memory leak. We are running our tests within a container on CircleCI and they started exiting with an unspecified reason. Tests are run serially by xUnit and I can confirm each test and `DbContext` get disposed after each test.

[code]

Running locally on OSX, I will occasionally ge

[2018-06-21 06:39] AurelioRighetti commented on #12426
Hi Ajcvickers
ok thanks, time to create a small project and then place it.

Many Thanks

[2018-06-21 09:34] PawelGerr opened #12441 "How to refresh EF cache after using raw SQL?"
What are my options to refresh/clear the EF cache after using raw SQL to update/insert/delete data?

## Example
This is an oversimplified example. What I'm really doing is mass inserts/updates. When the mass operation is executed then there *should* be no records in the `StateManager` of the type the raw SQL changes but I don't want to rely on that.

Given is table/DbSet `Products` with properties

[2018-06-21 10:56] JasonLoKiSmith commented on #6482
As suggested by    @carlreinke. this does work even in the full release of Core 2.1.1 . I have included it with the required namespaces:
******************************************************
using Microsoft.EntityFrameworkCore.Internal;
using Microsoft.EntityFrameworkCore.Query;
using Microsoft.EntityFrameworkCore.Query.Internal;
using Microsoft.EntityFrameworkCore.Storage;
using System;
using Sy

[2018-06-21 11:36] J0nKn1ght commented on #1100
@smitpatel Thanks for the suggestion, but that doesn't work.

If I remove the 'Ignore', I get an exception thrown when the following query is run:

[code]

`System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.SqlServer.Types, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91'. The system cannot find the file specified.'`

(Note that in my original comment,

[2018-06-21 11:42] JeanCollas commented on #1100
@J0nKn1ght For your initial use, the one including columns, have you tried [NotMapped] attribute to the entity property?

[2018-06-21 12:03] J0nKn1ght commented on #1100
@JeanCollas I've just tried using [NotMapped], and I get the same result.

I'm not sure NotMapped is correct anyway, as we want EF to include a Location column in the database, but tell it to set the column type to 'sys.Geography', hence the line following line in the context:

[code]

My understanding of NotMapped is that you are indicating to EF that you don't want the property persisted to the

[2018-06-21 12:44] J0nKn1ght commented on #1100
@JeanCollas OK. Is there no performance hit to having the Location sys.Geography column defined as a computed column?

[2018-06-21 12:46] JeanCollas commented on #1100
@J0nKn1ght Just set it as "persisted", so it is recomputed only when latitude or longitude is changed. However I am not sure about indexes if it is possible to use spacial indexes or not, it needs to be checked. (it depends also on the number of lines you have to handle, few thousands will not be an issue at all).

[2018-06-21 13:19] dskotha commented on #11704
Problem with the mismatch in the Versions. Issue was fixed when Updated with same Versions.

[2018-06-21 13:28] uegomgom commented on #11078
I have same problem.
When will this problem fix?

[2018-06-21 13:53] jceddy commented on #12402
Which files are actually involved in this process? Is it just the current snapshot and the model itself, or does it also look at the previous migration file, or all migration files? I might be able to narrow it down to changes made in the last month or two.

[2018-06-21 14:04] punkouter2021 opened #12442 "using Microsoft.EntityFrameworkCore.Storage.ValueConversion does not exist everytime I add migration"
Describe what is not working as expected.

Whenever I add-migration I get two errors and always have to remove this statement

using Microsoft.EntityFrameworkCore.Storage.ValueConversion;

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'ValueConversion' does not exist in the namespace 'Microsoft.EntityFrameworkCore.Storage' (are you missing an

[2018-06-21 14:33] justhoma opened #12443 "Issue with Merge Statements generated by EF when running an insert against a view"
We are running into an issue where EF is creating a merge statement for inserts of multiple records within the same context.
The query runs fine when we are pointed at a physical table, but in our case, our implementation is running an insert against a View.

When executed against SQL Server, we get the following error:

The column reference "inserted.rec_id" is not allowed because it refers to a

[2018-06-21 15:02] ErikEJ commented on #12443
I think you can try to set MaxBatchSize to 1

[2018-06-21 15:09] HerraHak commented on #12356
Indeed there's the ToList.Table2 is loaded in the context but for other queries it doesn't happen just for this one.

[2018-06-21 15:40] ajcvickers commented on #12439
@smarts I am not able to reproduce this--my sample code is below. Can you post a full project/solution or complete code listing that demonstrates the behavior you are seeing?

[code]

[2018-06-21 15:41] ranouf commented on #9503
Hi,

Still not working.

Is there someone who found a fix?

[2018-06-21 15:59] smarts commented on #12439
@ajcvickers you didn't use the same setup that I did…

[2018-06-21 16:02] ajcvickers commented on #12439
I tried this too:
[code]

[2018-06-21 16:07] justhoma commented on #12443
This would impact all updates...correct? Is it possible to do this at a more granular level?

[2018-06-21 16:10] ajcvickers commented on #12440
@jaredcnance This is what I think is happening. When AddDbContext is called it ensures certain services used by EF are added to the service provider. For example, ILoggerFactory. Since this is done for every context instance, it's equivalent to what is described in #10211.

Registering the context as a singleton is generally not a good idea even in tests since it should never be registered as sing

[2018-06-21 16:14] ajcvickers commented on #12441
@PawelGerr Recommendation is to create a new context instance. Generally, it is could practice to create a new short-lived context instance for each unit-of-work.

[2018-06-21 16:17] J0nKn1ght commented on #1100
Thanks @JeanCollas.

Can anyone comment on whether using computed columns outside of the normal EF model is the best approach (until spatial types are supported), and whether there are any other knock-on effects in subsequent migrations.

Presumably, if I use the same technique as I mentioned above, of populating a list of entities using 'FromSQL', I'll still need to generate the list of propertie

[2018-06-21 16:28] ajcvickers commented on #11078
@uegomgom See https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/514

[2018-06-21 16:30] ajcvickers commented on #12402
@jceddy Probably just the current model and the snapshot, but possibly also the last migration. Anything older than the last one should not be relevant.

[2018-06-21 16:33] ajcvickers commented on #12442
@punkouter2018 You likely have a mix of incompatible package versions. See the discussion here: #11704.

If you are still seeing this after updating either SDK (for ASP.NET Core apps) or all EF package versions (for other apps) then please post a project/solution that exhibits the behavior you are seeing.

[2018-06-21 17:33] uegomgom commented on #11078
Thank you for your information.
And I'm sorry. My bad. It works.

I mistook the context initialize.
  ```optionsAction.UseMySQL(Configuration.GetConnectionString("MysqlCon"));```
   -> This doesn't work on EF2.1
  ```optionsAction.UseMySql(Configuration.GetConnectionString("MysqlCon"));```
   -> This works on EF2.1

Thanks.

[2018-06-21 17:46] krptodr commented on #941
How would you go about doing this with ComplexTypes?

[2018-06-21 17:48] jaredcnance commented on #12440
@ajcvickers thanks, that's very helpful. The reason the `DbContext` is registered as a singleton is so we can wrap our tests within a transaction, like so:

[code]
[code]

It would be great if somehow we could access the request scoped instance from our tests, but I'm not sure how to do that except maybe some `AsyncLocal` wizardry. I suppose it might be possible to use System.Transactions here sin

[2018-06-21 17:56] AndriySvyryd opened #12444 "Add API for configuring inverse from an owned type"
With this we can disallow using `HasOne`/`HasMany` to configure existing ownerships, except for old snapshots.

Also remove `HasMany` from the owned type configuration builder.

[2018-06-21 18:40] slimeygecko opened #12446 "Includes are unpredictably ignored"
@halosghost and I have been working on a project together and have found it increasingly difficult to guarantee some of the navigational properties in our queries. When I first read the documentation on ignoring includes (https://docs.microsoft.com/en-us/ef/core/querying/related-data#ignored-includes), I thought that only it was applicable when lazy loading was being used. I was quite surprised to

[2018-06-21 18:50] smitpatel commented on #12446
You applied `Include` on `TreeNode` entity type and you are not projecting out `TreeNode` in your final projection. You are selecting `Distribution`. Hence include got ignored. (When you do `ToList` without any `Select` it implies `.Select(e => e)` which is equivalent of projecting out `TreeNode`)

[2018-06-21 18:54] slimeygecko commented on #12446
Why is this intended behavior?

[2018-06-21 18:59] smitpatel commented on #12446
You specify include on entity type you want. To include navigation on distribution above, do Select before Include and it will load nav prop.

[2018-06-21 19:07] HalosGhost commented on #12446
If that is the case, why allow chained ``ThenInclude``s? Unless projecting to the deepest property, all of those would be thrown away regardless, no?

I guess what we're balking at is that eliding a side-effect (especially one as fundamental as "fetch this data”) is hugely surprising.

[2018-06-21 19:16] ajcvickers commented on #12446
@HalosGhost The semantics of Include are, "when Include is used on an `IQueryable<T>`, then when returning entities of type T, also bring back related entities as specified in the Include calls."

If the query does not return entities of type T, then Include does not apply.

[2018-06-21 19:23] ajcvickers commented on #12107
This is approved for 2.1.3. Do not merge yet; branch is expected to open Monday.

Given these issues have been parked for some time, please be careful to ensure the correct commits get into the correct branches.

[2018-06-21 19:23] ajcvickers commented on #12280
This is approved for 2.1.3. Do not merge yet; branch is expected to open Monday.

Given these issues have been parked for some time, please be careful to ensure the correct commits get into the correct branches.

[2018-06-21 19:23] ajcvickers commented on #12180
This is approved for 2.1.3. Do not merge yet; branch is expected to open Monday.

Given these issues have been parked for some time, please be careful to ensure the correct commits get into the correct branches.

[2018-06-21 19:24] ajcvickers commented on #12203
This is approved for 2.1.3. Do not merge yet; branch is expected to open Monday.

Given these issues have been parked for some time, please be careful to ensure the correct commits get into the correct branches.

[2018-06-21 19:24] ajcvickers commented on #12290
This is approved for 2.1.3. Do not merge yet; branch is expected to open Monday.

Given these issues have been parked for some time, please be careful to ensure the correct commits get into the correct branches.

[2018-06-21 19:28] slimeygecko commented on #12446
Isn't this a huge pitfall for developers (with many devs who probably have used Entity Framework in the past and are now moving to EFCore)? I thought Entity Framework always respected Includes (but I could be wrong).

[2018-06-21 19:32] ajcvickers commented on #12446
@slimeygecko EF6 and all previous versions work in basically the same way.

[2018-06-21 19:58] JeanCollas opened #12447 "BeginExecuteReader requires an open and available Connection. The connection's current state is open."
How is this possible?

[code]

The caller is
[code]

[2018-06-21 20:06] ADringer commented on #12429
Sorry for the delay, had a sick child to look after!

I've worked out what my issue was. The DB was originally created using EF6 and I had configured it using `Remove<PluralizingTableNameConvention>();`.

I've since moved on to EFCore and needed to map the entities to the correct table names. Rather than doing each one individually I instead used the following:

[code]

Whilst this worked original

[2018-06-21 20:58] bricelam commented on #11785
The `Microsoft.EntityFrameworkCore.Tools.DotNet` package was removed in EF Core 2.1. `dotnet ef` is now an SDK tool. The new path to `ef.dll` is here:

    C:\Program Files\dotnet\sdk\2.1.300\DotnetTools\dotnet-ef\2.1.0\tools\netcoreapp2.1\any\tools\netcoreapp2.0\any\ef.dll

[2018-06-21 21:00] bricelam commented on #11785
cc @benday

[2018-06-21 21:32] AndriySvyryd commented on #12169
@dmitry-lipetsk For full support for update commands with output parameters in EF you'd need to add something like `GetValue` to `IRelationalParameter` and perform the necessary conversion in the implementations. Also add `ParametersModificationCommandBatch` derived from `ModificationCommandBatch` that uses the parameters from the `RelationalCommand`.
Additional refactoring will probably be needed

[2018-06-21 23:34] benday commented on #11785
@bricelam — is that going to be the guaranteed official path on Windows?  Is there a similar official path on Linux?

[2018-06-22 01:34] bricelam commented on #11785
"guaranteed official" might be a bit strong though, the [dotnet/cli](https://github.com/dotnet/cli) guys determine the location. They'd probably tell you it's just an implementation detail and subject to change in the future. But that's no different than it was previously.

Have you considered bundling a copy of ef.dll with your plugin? That might be the most reliable option. It's intended to be f

[2018-06-22 02:08] maumar opened #12448 "Query: missing null check for async query with include and manual group join"
query using GearsOfWar model:

[code]

SQL in sync:

[code]

SQL in async:

[code]

2nd query is missing `AND [t2].[Nickname] IS NULL`, 3rd query is missing `AND [t0].[Nickname] IS NOT NULL`

[2018-06-22 02:12] maumar opened #12449 "Query: compilation error for async queries with client evaluation that directly project collection navigation"
Repro using GearsOfWarModel:

[code]

Exception:

[code]

[2018-06-22 05:15] dermeister0 commented on #12424
Works with EF Core 2.1.

[2018-06-22 08:05] J0nKn1ght commented on #1100
@ajcvickers Thanks.  We are on .Net Core.

We know that it is potentially dangerous, and not a good idea, but we switched to .Net Core development for this project before we knew that later phases would require spatial types, and we also didn't realise that EFCore v2.x didn't include support for them (as we had been using them successfully in EF 6 projects).

We therefore only have the options of

[2018-06-22 08:31] HairyPorker commented on #1833
to OP, my current workaround is to use LINQ join

[2018-06-22 08:44] skyflyer commented on #5936
@kvpt, is  your `[RowVersion]` a custom attribute? I know timestamp is deprecated, but it is still an alias and the `[Timestamp]` attribute is the only one that I can find.

Having said that, the @divega's approach with `HasColumnType` works well.

[2018-06-22 08:55] kvpt commented on #5936
@skyflyer RowVersion is just the name of my column of RowVersion type.
So the sql generated **[ColumnName]** **TYPE** become **[RowVersion]** **ROWVERSION**.
In Visual Studio it's displayed like this :
![image](https://user-images.githubusercontent.com/1446221/41767666-96589372-760a-11e8-8fe0-2db11f3ce968.png)

[2018-06-22 09:00] skyflyer commented on #5936
@kvpt, OK, I misread `[RowVersion]` as a c# property annotation. :) Everything clear.

We were referring to different layers (I was talking about c# prop annotation, which (should) drive the model field type as well), whereas you were referring to the DB type... I believe it is clear now.

The renaming of `[Timestamp]` attribute to better reflect the underlying data type would be a candidate for a

[2018-06-22 10:04] vankooch commented on #12054
Is this already released? I've still problems with my VS see https://developercommunity.visualstudio.com/content/problem/278419/fromsql-makes-crash-visual-studio.html

[2018-06-22 12:00] figuerres commented on #1100
@J0nKn1ght

my view is that until the geo types are working i am staying with EF 6 on full .net.
ef core to me (my view only)  this is a beta not a ready library until then.

others may see this differently, that's ok.  just my view.

[2018-06-22 12:09] JeanCollas commented on #12447
Unfortunately the project is probably too complex to share, and the issue does not happen every times, it is random, only a few % of request have this issue.

[2018-06-22 12:35] JeanCollas commented on #1100
@J0nKn1ght
I think to get a good advice, you should share the approximate volume of
- \# of requests per second/minute/hour
- \# of rows in the concerned table(s)
- if you query coordinates as other fields or if you filter on coordinates
- if you have some optimizations for working with coordinates, and what do you use them for

On my side, I have 2 approaches that work in parallel, both use dista

[2018-06-22 13:22] viveksingh30 commented on #7891
in .proj file change Microsoft.AspNetCore.App to Microsoft.AspNetCore.All

<ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" />
  </ItemGroup>

[2018-06-22 13:35] gnpretorius commented on #12408
Hey guys. This is still not working for me? I've reinstalled the SDK (yesterday) and it's still version 2.1

Thoughts?

[2018-06-22 13:39] ydekova commented on #8223
@anpete  This is either not fixed or recurring in 2.1.

I think this works if the method is static, however, if the method is not static the impact is dramatic.
So far it seems to be one of the main contributors to the memory problem we have after the upgrade (https://github.com/dotnet/coreclr/issues/18577). I'm not sure yet whether it is the only one. We still have some closure objects related to

[2018-06-22 13:47] J0nKn1ght commented on #1100
@JeanCollas Thanks for taking the time to add some more detail.

With regards to your questions, we don't really know how many requests we're likely to get that involve spatial queries.  The site currently serves around 100k requests a week, so the likely number of requests which will involve a spatial query is likely to be pretty low.

Again, the number of rows isn't yet known, as we don't have a

[2018-06-22 13:48] daaa57150 commented on #11453
Hi,
I just updated everything to version 2.1.1 and I'm still experiencing this bug.
Was it packaged in the latest release ?

**That's the generated query** (I had to obfuscate some things)
[code]
=> `AS [Year]` and `AS [Month]` should not be in the `ORDER BY`.

**The code to generate that query looks like this** (obfuscated a little)
[code]

**Here is what the `dotnet --info` command spits out:**

[2018-06-22 14:00] bmitchenko opened #12451 "Performance issue with eager loading and lazy loading"
Consider the following example:

[code]

After the data was loaded (1), the loop (2) took a few milliseconds to complete without lazy loading.
When lazy loading is enabled with .UseLazyLoadingProxies() the loop is pretty slow and there are many messages in the log:

[code]
Even if I repeat the loop (2) again, it still works very slowly.

### Further technical details
EF Core version: 2.1
Database

[2018-06-22 14:08] khalidabuhakmeh commented on #12451
What does slow mean? Could you use a tool like [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet) to quantify what you are seeing?

[2018-06-22 14:13] bmitchenko commented on #12451
The loop took
**0.05 ms** without lazy loading
**22 sec** with lazy loading

[2018-06-22 14:17] khalidabuhakmeh commented on #12451
Have you tried the same test against SQL Server? It may help isolate the issue to EF Core 2.1 vs. the underlying database provider.

[2018-06-22 14:40] bmitchenko commented on #12451
Tried to reproduce this issue in SQL Server and got almost the same result.

Here is what my enties look like:

[code]

And here is code that I tried with SQL Server:

[code]

[2018-06-22 14:54] khalidabuhakmeh commented on #12451
I see you have a `Take(1000)`. How big is your test dataset? Do you have a csv or json dump of your sample?

[2018-06-22 15:03] bmitchenko commented on #12451
Unfortunately, I can not provide the data, because I tested on the production server. But I'm sure that any database with the "one-to-many" relation is suitable for reproducing this problem. Performance degradation is visible even on 10 rows, as every time I access preloaded navigation property it takes some time. And it almost instant without lazy loading.

[2018-06-22 15:18] HalosGhost commented on #12446
I would also be interested in knowing why this is the case.

It does not, for example, always avoid fetching extra data (for example, if you use a ``Where`` clause before the ``Select`` which operates on a given navigational property, that property will still need to be fetched for the evaluation of that clause, it will just have its data thrown away after the ``Select``ion).

What's the rationale

[2018-06-22 15:25] chrishumphrey1985 opened #12452 "EFCore 2.1 - Error when running Add-Migrations: Parent does not have a default constructor"
Trying to run the following command
`"Add-Migration InitialCreate -Project Unity.Database -Verbose"`  brings the following error message.

Please can you assist?

[code]
Data context class
[code]

### Further technical details
EF Core version: 2.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 v.1803
IDE: Visual Studio 2017 15.7.4

[2018-06-22 16:01] smarts commented on #12439
My apologies. I also was not able to repro this simple case. After examining my real case more closely it was an issue of 2 types having the same name and my passing the incorrect one to the generic `.Entries<T>()` method 🤦‍♂️ . It became apparent once I used the non-generic method and found the expected entries.

[2018-06-22 16:37] ajcvickers commented on #12440
@jaredcnance You might want to take a look at the tests in this repo. We use the same pattern of using a transaction that is never committed for tests that mutate the database. However, it doesn't impact the DbContext scope, it only requires using the same DbConnection in the context instance that updates the database and the context instance that reads from the database.

[2018-06-22 16:41] ajcvickers commented on #12447
@JeanCollas I have seen this before when multiple threads are using the same DbContext/DbConnection instance concurrently. Both DbContext and DbConnection and other related classes are not thread safe.

[2018-06-22 16:56] ajcvickers commented on #12408
@gnpretorius Please post your csproj files so we can see the dependencies.

[2018-06-22 17:04] ajcvickers commented on #12451
@bmitchenko Thanks for reporting this. Looks like a bug. Can you try locally turning off automatic DetectChanges:
[code]

[2018-06-22 17:07] ajcvickers commented on #12446
@HalosGhost Depends what you mean by "fetched". If you project out the navigation, then the data will be returned. If the navigation is used in the projection as part of the query, then it may not result in the data for that navigation being returned. They are really two different things.

[2018-06-22 17:50] bmitchenko commented on #12451
After disabling automatic change detection, the problem disappears.

[2018-06-22 17:54] ralmsdeveloper commented on #11453
Fyi:
@ajcvikers I did not find where ... But I'm pretty sure to have a PR that @Smitpatel worked on.

[2018-06-22 18:07] ralmsdeveloper commented on #12447
@ajcvickers
I do not know if it is useful for you, but I had something identical and solved only with **MultipleActiveResultSets =True** in my connection string

[2018-06-22 20:25] bricelam commented on #1100
Design Notes
===

Ecosystem
---

We did a survey of a few different databases and .NET libraries:

* NTS&mdash;NetTopologySuite
* MSSQL&mdash;SQL Server
* SQLite&mdash;SQLite + SpatiaLite
* PG&mdash;PostgreSQL + PostGIS
* EF6&mdash;System.Data.Entity.Spatial (was System.Data.Spatial)
* OData&mdash;Microsoft.Spatial (was System.Spatial)

The shows support for varios OGC operations.

Operation | NTS

[2018-06-22 20:31] JeanCollas commented on #12447
Thanks, the DbContext is created in the same thread of the execution (it is something like `using(new DbContext(dbOptions) `).
However I will check if the concerned connection have the MultipleResultSets activated. :)

[2018-06-22 20:33] gnpretorius commented on #12408
Here you go:
[code]

This is after I installed the latest SDK from here:
https://www.microsoft.com/net/download/visual-studio-sdks

[2018-06-22 20:52] HalosGhost commented on #12446
I think we may have misunderstood one another there; but I'm not worried about how it works anymore. I'm interested in why it was designed to work this way rather than just actually loading the requested data.

Can you shed some light on why it was designed to work this way?

[2018-06-22 22:17] xuzhg opened #12453 "to put Take() in the different place will get different SQL"
If we put "Take()" in the different place, we will get different SQL.

### Steps to reproduce
1. Just create a basic EF Core console project,
2. Create some POCO class and DBContext class, for example "CustomerOrderContext".
3. Do the following query/project.
4. Notice the different `Take(1)` method call.
5. Verify the log output.

## 1
[code]

If output the log, I can get the following informatio

[2018-06-22 23:05] maumar commented on #12453
This is by design, Take operator forces us to produce a subquery, which complicates the overall query. You should still get correct results for both queries, difference is that in first case the second projection is performed on the client.

In general you will get better queries if operators like Skip/Take/Distinct are used as late as possible

[2018-06-23 00:12] rcollette opened #12454 "DateTime not supported for RowVersion property when upgrading to core 2.1 and no changes to entities/migrations"
Upon upgrading .net core to 2.1 with all previously existing entities and migrations in place, upon application startup I get a fatal exception for my RowVersion property stating that DateTime is not supported by my provider.  The code previously worked.

[code]

### Steps to reproduce
Upgrade the target from netxoreapp2.0 to netcoreapp2.1
Upgrade the package reference for Microsoft.AspNetCore.All

[2018-06-23 00:50] divega commented on #12453
@maumar maybe I am missing something but it seems reasonable to expect Take to be lifted here. I get that we don't do it, and that maybe this scenario alone doesn't justify changing that, but is there any fundamental reason we can't?

[2018-06-23 01:07] divega commented on #12454
@rcollette can you try this with Pomelo.EntityFrameworkCore.MySql 2.1.0-rc1-final? There are many known issues with type mapping that surface when using version 2.0.1 of the provider with EF Core 2.1.

BTW, the Timestamp attrirbute and calling IsRowVersion is redundant.

[2018-06-23 01:39] Giancarlos commented on #1100
I will note that with EF Core and MSSQL I can:

Send WKT to MSSQL using EF ORM Update and Insert, and MSSQL will convert WKT back to a Geometry type (I put [Type="Geometry"] in my model if I remember correctly but I define it as a string. When I'm selecting it will not map it back to a string so I've got to do a .FromSQL to get it back STAsString.

So weirdly enough what works with the ORM with Ge

[2018-06-23 03:05] rcollette commented on #12454
@divega - That works.  Would like a minor release to not be breaking but no one has a crystal ball.   Everything I read from MS seems to say 2.1 is majorly backwards compatible.   So far I have this and Automapper not finding Newtonsoft (but only in unit tests for some reason), not matching that description.   We'll work through it though.

[2018-06-23 03:54] divega commented on #12454
@rcollette yes, that was the intention, but maintaining backwards compatibility with providers proved especially challenging. FWIW, we mentioned this in our 2.1 announcement at https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-entity-framework-core-2-1/.

[2018-06-23 06:44] bbakermmc commented on #6717
Would this also be supported under this, or is it another issue, or is there a current way to implement it?

WITH CHANGE_TRACKING_CONTEXT (context)

https://docs.microsoft.com/en-us/sql/relational-databases/system-functions/with-change-tracking-context-transact-sql?view=sql-server-2017

[2018-06-23 11:47] DSilence commented on #11486
Anyone working on this at the moment? If not, I'm willing to make a contribution.

[2018-06-23 12:03] Djangoum commented on #11486
I'm sorry but now i can't work on that, feel free to start working on it. @DSilence

[2018-06-23 17:17] Thorarin opened #12456 "[Regression] Projection causes InvalidOperationException "No coercion operator is defined between types""
I've been working on upgrading an application that was built on .NET Core 2.0 and EF Core 2.0 to version 2.1.1 of both. I've run into a specific query which **works fine on EF Core 2.0**, but is now failing.

The LINQ query in question:

[code]

The issue seems to arise in the **second projection** being done. An `InvalidOperationException` is thrown:

[code]

If I remove either the `CompetitionSe

[2018-06-23 18:47] gnpretorius commented on #12408
Looks like this has finally been resoleased. Installed the 2.1.301 SDK and works fine now.
https://blogs.msdn.microsoft.com/dotnet/2018/06/22/net-core-2-1-june-update/

Thanks
Gordon

[2018-06-23 18:50] Trojaner opened #12457 "Migrations on class library projects"
Hello!
We're developing a plugin framework for .NET game servers, which utilizes EntityFrameworkCore for database abstractions. We want to add migrations for our plugins, which are just normal  .NET Standard class libraries.

At the moment it is not possible to generate such migrations:
**Command:** Add-Migration Initial -Project ExamplePlugin
**Output:**

A workaround is to create a dummy .exe pr

[2018-06-23 21:30] stil commented on #11971
I have encountered this error and I think the exception message could be more informative than `NullReferenceException`.

In my case I did `.Include(message => message.UserId)` instead of `.Include(message => message.User)` (included foreign key instead of navigational property). I spend good 20 minutes tracking this simple problem.

[2018-06-24 02:47] zulander1 commented on #10001
@xmlapi Do you have an example of "we have to let ld = from db.Details.Where().OrderBy().FirstOrDefault() and then left join again to db.Details." I am facing this issue and we cannot wait for 3.0
Thank's

[2018-06-24 15:03] divega commented on #12453
Reopening this so we can discuss it in triage.

[2018-06-24 15:55] YehudahA commented on #12270
@thumer, I you have a Roslyn analyzer that guarantee this, you may share it with EF team :)

[2018-06-24 16:04] thumer commented on #12270
Yes of course, I will share our branch soon. We had already changed the code, all works fine now. But every time we pull a new version, we have to adjust the code. It would be more useful if this would already be changed in the dev branch.

[2018-06-24 17:36] johnnyreilly commented on #9841
@barmyard I implemented @broersa's approach and blogged it here: https://blog.johnnyreilly.com/2018/06/vsts-and-ef-core-migrations.html

[2018-06-25 01:40] SimonCropp commented on #12454
@divega i cant see anything about Timestamp  or RowVersion  in that blog post. can u provide a deep link, or quote the relevant text.

Also i cant tell from this issue, if this is a bug that will be fixed, or a by-design change?

[2018-06-25 03:28] divega commented on #12454
@SimonCropp I was referring to the provider compatibility problems described in the [Provider Compatibility](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-entity-framework-core-2-1/#user-content-provider-compatibility). It also mentions the plan (that we have since completed) of working with the Pomelo provider owners to make their provider compatible with EF Core 2.1. The result o

[2018-06-25 07:53] byrnedo commented on #12323
@ajcvickers it seems like it was only 2 types that it didnt like. I'm not sure what was different with those compared to the rest of the types. I got round it for now by just replacing those columns in the generated context with the underlying type.

[2018-06-25 08:14] BladeWise commented on #12457
Notice that Add-Migration supports both a -StartupProject and -Project, that are used to define the 'bootstrap' executable and the projects where migrations will be created.
So, even if it is inconvenient to have a (shared?) exe project just to kick-off migrations, you can still generate them in a target project.

[2018-06-25 08:52] ghost opened #12458 "Override (Id) property type in Identity (IdentityRoleClaim) Model"
### Further technical details
EF Core version: 2.1.1

I have read [this](https://github.com/aspnet/EntityFrameworkCore/issues/8448) and [this](https://github.com/aspnet/Identity/issues/780) issues… But I cannot find a solution…

**I find no documentation about this subject**.

This EF Core **behavior I get, seems, to me, _unexpected_**; and what @ajcvickers wrote in issue 780 is too cryptic (for w

[2018-06-25 09:02] patsadow2 commented on #12424
Doesnt work 2.0.2

[2018-06-25 11:30] Trojaner25 commented on #12457
This would not be such an big issue if said plugins were in the same solution.

Instead, each plugin has its own solution with its own projects (see http://github.com/RocketModPlugins), of which all are class libraries. We would have to add dummy migrator exes to each of these solutions and would also require external plugin developers to do this for their plugin projects.

[2018-06-25 12:34] alexandr-osprey opened #12459 "The instance of entity type cannot be tracked because another instance with the same key value for {'Id'} is already being tracked"
I am aware that such question has already been asked numerous times, but solutions did not help me.
I try to unit test my code in XUnit, but have numerous issues with EF Core, here is one of them.

[code]

### Further technical details
EF Core version: 2.1
Database Provider: InMemory
Operating system:
IDE: (Visual Studio 2017 15.7)

[code]

[2018-06-25 13:30] BladeWise commented on #12457
As per [this answer in SO](https://stackoverflow.com/a/44434134/232143), multi-trageting the project can help to overcome the issue... I know it is not a perfect solution, but I suppose it is the best short-term solution for this limitation... :(

That said, I suppose the tool should take care of all this stuff, without the need for workarounds...

[2018-06-25 14:02] VadymZakusyloDevPro commented on #11785
Hi,

this error
**'Your startup project 'Web' doesn't reference Microsoft.EntityFrameworkCore.Design. This package is required for the Entity Framework Core Tools to work. Ensure your startup project is correct, install the package, and try again.'**
 appears on all versions .net core 2.1 :
- 2.1.0-preview2
- 2.1.0-rc1-final
- 2.1.0
- 2.1.1

version 2.0.2 for .net core 2.0 works as well

is there

[2018-06-25 15:18] iliveoncaffiene commented on #10787
@ajcvickers To add on this issue (and possibly clarify what I think @mikke49 was describing):
I have an entity:
`    public class Product : AuditedEntity, INamedEntity
    {
        public string Name { get; set; }

        public int CompanyId { get; set; }

        public virtual Company Company { get; set; }

        /// <summary>
        /// Complex (owned) type - not a foreign key
        ///

[2018-06-25 15:32] alexandr-osprey commented on #12459
Numerous issues I've been running into have one nasty root.
In a nutshell: I've learned the hard way why dbContext is scoped rather than singleton.
Here is simplified test initialization code

    public TestBase()
    {
        services = new ServiceCollection();
        storeContext = StoreContextMock.ConfigureStoreContext(services, output);
        serviceProvider = services.BuildServiceProvide

[2018-06-25 16:02] daniels7 opened #12460 "Xamarin Android: Exceptions thrown if SDK Assemblies are linked, after updating all NuGet-Packages"
If I build a Xamarin Android App with linked SDK Assemblies it will crash after EF Core is Updated to newest version.

[code]

### Steps to reproduce

I'll try to append a sample project tomorrow, though I somehow have the thought this might be somehow related to Issue #10207 ?

Does anyone have an idea on how to modify the linking behaviour so that the Application will work again? Without linking

[2018-06-25 16:38] chobo2 opened #12461 "Full Text Search in EF Core 2.1"
Hi

I seen so many posts here about Full Text Search, it is a bit hard to know the state of this feature.

Is it fully supported by EF Core 2.1? If show, anyone have examples?

If it is not fully supported by EF Core 2.1.  Can anyone show me a tutorial on how to implement something that will make it work EF Core.

Thanks

Edit I found this https://github.com/aspnet/EntityFrameworkCore/issues/1590

[2018-06-25 16:55] natemcmaster commented on #12408
Closing as it appears this is resolved and all 2.1.301 SDK downloads are available.

[2018-06-25 17:04] benday commented on #11785
@VadymZakusyloDevPro --

I'd like to understand better how your solution, projects, and code is organized so that I can try to reproduce the problem.  Can you describe your solution and projects?  Here are the top things that I'm wondering about:

1. Do you have multiple projects such as a web project and an API dll?
2. If multiple projects, which project are you trying to deploy the migrations fr

[2018-06-25 17:48] ajcvickers commented on #12218
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-25 17:49] ajcvickers commented on #12363
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-25 17:50] ajcvickers commented on #12404
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-25 17:57] alaatadmori commented on #4785
Look at the solution here: [](https://stackoverflow.com/questions/35710263/the-visual-studio-component-cache-is-out-of-date-please-restart-visual-studio)
It seems to help so far. (Disk cleanup)

[2018-06-25 17:57] ajcvickers commented on #12446
@vsopko I'm not able to fully understand what you are asking. I don't see any real connection between the many-to-many implementation and ignored Includes. Making a navigation private has no bearing on whether or not an Include will be ignored.

@HalosGhost I'm not sure on the reasoning for why it works this way. I will follow up on that.

[2018-06-25 17:57] divega commented on #12461
@chobo2 in EF Core 2.1 we had a contribution that added support for translating EF.Functions.FreeText() to the FREETEXT function. There is now a PR being out that adds also support for CONTAINS in a similar way. We don't have first-class support for creating full-text indexes, but you can do that by dropping down to SQL in migrations.

Note for triage: I added Full Text Search to the list of worka

[2018-06-25 17:59] ajcvickers commented on #12447
@ralmsdeveloper @JeanCollas Setting MultipleActiveResultSets should not resolve this intentionally. It's likely that it is masking a bug in your app code.

[2018-06-25 18:02] ajcvickers commented on #12452
@chrishumphrey1985 This error indicates that the entity type does not have a suitable constructor for use as a lazy loading proxy type. Remember that proxy types inherit from your entity types, which means they must be public, unsealed, and have a public/protected constructor that can be called from the derived type.

[2018-06-25 18:03] chobo2 commented on #12461
@divega  - I am new to the world of EF Core,so how do I make a migration script you talk about. I only done it by using the "add-migration" commands that goes through the code and creates the migration that way. Not by some custom sql script I made.

I am still looking into the freetext but still confused on what the difference is between it and Contains and how it is actually used in the C# code.

[2018-06-25 18:20] #12421 closed

[2018-06-25 18:46] ajcvickers commented on #11744
Removing from backlog temporarily to discuss the command line switch.

[2018-06-25 19:09] jonathanford commented on #10114
Should the same behaviour occur when query filters are applied such as when doing a soft delete? For example in a Blog/Posts scenario, if a Post is soft deleted (using shadow property and query filter), the Post no longer appears in the DbSet, but I still see it in the navigation collection of the Blog.

[2018-06-25 19:10] ajcvickers opened #12462 "Stop configuring lazy-loading for properties that will always be eager-loaded"
For example, for owner to owned navigation properties in aggregates.

See also https://github.com/aspnet/EntityFrameworkCore/issues/10787#issuecomment-399989313

[2018-06-25 19:12] ajcvickers commented on #10787
@mikke49 Thanks for the feedback. I have created #12462 for cases where we configure lazy loading even if the navigation property will always be eager loaded. However, it is not the case that an owned type will never require lazy-loading since it may contain a navigation property to some other entity type, and this should still have lazy-loading semantics.

[2018-06-25 19:13] SimonCropp commented on #10625
this would seem to be incorrectly titled. it is actually about IsConcurrencyToken https://github.com/aspnet/EntityFrameworkCore/issues/10625#issuecomment-354850783

and the repro code does not use rowversion at all

[2018-06-25 19:22] ajcvickers commented on #10625
@SimonCropp Correct. The code doesn't match the issue that this is tracking. But the title is correct at least! :-)

[2018-06-25 19:45] SimonCropp commented on #10625
ok i am confused. can either the title or the repro be fixed so that they match, since from my perspective it seems that IsConcurrencyToken was conflated with row version which resulted in an incorrect title. ie "fixing" this issue based on the title will have no impact on the repro as described.

[2018-06-25 19:53] psibernetic commented on #10625
The original issue was for both, neither worked at the time. My code showed IsConcurrencyCheck because I assumed that it was used by IsRowVersion. Not sure if that is true, but there was a larger issue with row version not being supported in the in-memory db. This issue now tracks the enablement of #2195 for the in-memory implementation I think.

The repro code is no longer applicable. Should prob

[2018-06-25 19:56] maumar opened #12463 "Query: compilation error (bad cancellation token) for async query projecting collection navigation and include"
query using complex navs model:

[code]

exception:
[code]

query plan:

[code]

[2018-06-25 19:57] maumar commented on #12463
possibly related to #12358

[2018-06-25 19:59] divega commented on #1100
@J0nKn1ght I looked at your workaround in more detail to try to understand if Ignore() is not working as expected and if you are in any danger of depending on that behavior. My conclusion is that Ignore() is working correctly and what you are doing is fine. Here is my understanding:

You first create an entity with a string property, and tell EF Core that the actual column type is sys.Gepgraphy. W

[2018-06-25 20:02] SimonCropp commented on #10625
@psibernetic thanks for the clarification.

the reason i am asking is that i am using in-memory heavily for testing, and i find some of the  pieces it doesnt currently implement to be desirable. So i created a "in memory feature polyfill" (for lack of a better term) https://github.com/SimonCropp/EfCore.InMemoryHelpers

for the issues it fixes/implements, i want to track those issues, and remove th

[2018-06-25 20:03] jdlm91 opened #12464 "Seeding data with .HasData()"
Hi,

I went through the issues related to EFCore 2.1 and data seeding, but was not able to solve my issue.

Not sure if this is the expected behavior of using EFCore's `.HasData()` method but this is what I am currently experiencing.

I have the two basic classes created from the EFCore tutorial on Microsoft's site, namely Blog and Post.

Blog.cs
[code]
Post.cs
[code]

AppDbContext.cs

[code]
Usin

[2018-06-25 20:29] kjbetz commented on #12464
What's your API controller look like?

[code]

I think that should work.

[2018-06-25 21:17] psibernetic commented on #10625
Very nice, thanks for sharing!

[2018-06-25 21:31] divega opened #12465 "EF Core 2.2 roadmap discussion"
Discussion thread for the EF Core 2.2 roadmap announcement at https://github.com/aspnet/Announcements/issues/308.

[2018-06-25 22:05] julielerman opened #12466 "Don't use Min/Max batch size values when generating migrations"
I've noticed that sometimes when I'm inserting multiple entities of the same type with hasdata they will each get their own insertdata command. Other times I've seen it use one insertdata command and list multiple items in the objects parameter. I haven't been able to track down the pattern for what results in one or the other.

Here is a screenshot of a migration wher eyou can see that brewertype

[2018-06-26 01:30] mguinness commented on #12375
@granthoff1107 Yep the examples are confusing all right.  The use case you suggested is covered in [Include the IsDeleted values when user is admin](https://stackoverflow.com/questions/50982252/include-the-isdeleted-values-when-user-is-admin) where the field is defined in the DbContext, not the model.

[2018-06-26 02:11] DongLei-tw commented on #8996
you might miss the CliToolReference references:

[code]

[2018-06-26 03:27] lincolnzocateli commented on #11336
@AndriySvyryd, I'm doing well with your solution,

thanks for the help.

[2018-06-26 05:33] millertimebjm opened #12467 "EntityFrameworkCore 2.1.1 KeyNotFoundException The given key was not present in the dictionary"
Error when using EntityFrameworkCore InMemory DbContext to look at a relationship between DbSet's,

[code]

### Steps to reproduce
Create Class Library using Core 2.1.  Add EntityFrameworkCore SqlServer, InMemory, and Tools.  Use local Sql Server and restore database schema in which I have been able to reproduce the problem.

Add xunit and xunit.runner.visualstudio to project.  Add Class to run xU

[2018-06-26 06:20] divega commented on #11336
We wanted to keep this open in the backlog.

[2018-06-26 08:21] VadymZakusyloDevPro commented on #11785
@benday
1) I have multiple projects, Web (mvc project, it has rejerence to Data project) and Data (data context, migrations etc, this project has referenced Microsoft.EntityFrameworkCore.Design)
2) I've tried to deploy Data and set Web as a start up project.
3) Data project has DbContext
4) Data project has Entites
5) I am not use IDesignTimeDbContextFactory:
Web project has injection for DataCont

[2018-06-26 08:28] BalassaMarton opened #12469 "DbSet<T>.Find by alternate key or predicate"
It would be nice to have a version of `DbSet<T>.Find` that works with an alternate key or predicate.
[code]
The proposed signatures:
[code]
Functionally, this can be achieved with extension methods, by first searching the local set, but it would perform better if there was an identity map for alt. keys and `Find` would search using that.

[2018-06-26 08:55] GorelH commented on #12465
Many-to-Many relationships [1368](https://github.com/aspnet/EntityFrameworkCore/issues/1368) is one of the most demanded feature right now, is there a plan to support it in this roadmap?

[2018-06-26 09:03] SSkovboiSS commented on #12465
Hi @GorelH
According to #10508, many-to-many relationships are currently in 3.0 milestone.

[2018-06-26 09:12] GorelH commented on #12465
size 2~4-weeks of dev works, this blocked our adoption of .NETCore since v1.

[2018-06-26 10:08] xav-stargate opened #12470 "Improve message for 'A second operation started on this context before a previous operation completed'"
Hey, I migrate my project from .Net Core 2.0 to 2.1 all is fine but when I update my Microsoft.EntityFrameworkCore (+ .Design & .SqlServer) from 2.0.3 to 2.1.0/2.1.1

I have this exception :

[code]
This problem does not exist with version 2.0.3

### Steps to reproduce

[code]

[code]

### Further technical details
EF Core version: 2.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Ope

[2018-06-26 11:06] Tbd19 opened #12471 "Get a string from an array on automapper mapping fails"
I have the following configuration on the Automapper 7 and EFCore 2.0.3

[code]

I have updated to EFCore 2.1.1 and I get the error
System.InvalidOperationException: Nullable object must have a value.

I have asked the same question to AutoMapper and they said that it is a EF issue
https://github.com/AutoMapper/AutoMapper/issues/2699

[code]

[2018-06-26 12:29] BobbyCannon commented on #12114
I also found this behavior to be unexpected. When I deleted an entity I would expect it to be removed from all other relationships. When converting my unit testing framework for EF from EF 6 to EF Core I noticed this difference. Hopefully EF Core will be updated to fix this issue.

[2018-06-26 12:41] PurplePenguin4102 opened #12472 "dotnet ef migrations script wrong output npgsql 2.1.1-rtm-30846"
using a dotnet core solution with postgres on Linux ubuntu 17.10 Aardvark. Cloned repo and tried "dotnet ef database update" to get error message. Failed with message "Syntax error" -despite working on windows machine locally- retested on windows same result. Short debugging session found that "dotnet ef migrations script" was producing this line at end of script

INSERT INTO "__EFMigrationsHistor

[2018-06-26 12:58] tuespetre commented on #8172
@divega is implementing this going to help reach for M2M mapping?

[2018-06-26 13:01] MaverickMartyn commented on #9503
Same issue here.
I have been banging my head into the wall for hours now, getting nowhere.
Someone please help me. You will have my eternal grattitude.
After setting up ApplicationRole <-> ApplicationUser mmany-toMany relation as follows:
[code]
I keep gettign this in my migration:
[code]

[2018-06-26 14:05] kjbetz commented on #12464
Add the json options to your `Startup.cs`

[code]

Here's a repro: https://github.com/kjbetz/BlogPosts

[2018-06-26 14:28] jbagley-iona opened #12473 "hasdata"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2018-06-26 15:09] ajcvickers commented on #8172
@tuespetre Not directly. It's more about aggregates support, which goes to handling documents, which goes to Cosmos DB. The main prerequisites for many-to-many are skip-level nav props and property bag entity types.

[2018-06-26 15:32] xxlagr opened #12474 "Generates mutually exclusive condition from !String.IsNullOrEmpty(str) in LINQ."
**Condition**

`[e0].[Name] IS NOT NULL AND (([e0].[Name] <> N'') OR [e0].[Name] IS NULL)`

So value could be NULL and haven't be NULL simultaneously.

**Code**

[code]
**Result query**

[code]

**Further technical details**
EF Core version: 2.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
IDE: Visual Studio 2017 15.7.4

[2018-06-26 15:51] Bud91 commented on #12464
@kjbetz Thanks a lot, that worked :)

[2018-06-26 15:53] Bud91 commented on #12464
Sorry about that, new to GitHub and forgot to close the issue with  the comment itself.

[2018-06-26 15:56] ajcvickers commented on #12467
Duplicate of #11593

[2018-06-26 16:07] ajcvickers commented on #12469
@BalassaMarton This has been discussed several times in the past--for example, see #10303. Find has two advantages over executing a query:
* It is a simple API that takes a key value and nothing more
* It looks in the DbContext cache first and only does a query to the database if needed

Any time we look at expanding the Find API we always come to the conclusion that it would be better to just wri

[2018-06-26 16:12] millertimebjm commented on #12467
Interesting problem, thanks for finding this.

For reference, here is the comment with the solution.  Don't use underscores "_" for lambda expressions.
https://github.com/aspnet/EntityFrameworkCore/issues/11593#issuecomment-379901936

[2018-06-26 16:32] tuespetre commented on #8172
@ajcvickers ahhh Cosmos DB, I see now. Thanks

[2018-06-26 16:33] ajcvickers commented on #12471
@Tbd19 I have not been able to reproduce this. Can you please post a complete project/solution or code listing that demonstrates the behavior you are seeing?

[2018-06-26 16:47] ajcvickers commented on #12472
@PurplePenguin4102 This is a duplicate of https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/283, which is fixed in the 2.1 releases.  The reason you are still hitting it seems to be a mismatch of package versions. You will need to update all EF packages to the latest 2.1 versions, including the PostgreSQL provider package. Also, you may need to update your ASP.NET Core metapac

[2018-06-26 16:49] mguinness commented on #12461
@chobo2 You need to use [MigrationBuilder.Sql()](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations#using-migrationbuildersql) to manually create your index using DDL.  Your [question](https://stackoverflow.com/questions/51047514/how-to-use-freetext-in-ef-core-2-1) in SO has an answer providing the usage.  See [Query with Full-Text Search](https://docs.microsoft.com/en

[2018-06-26 17:21] sdanyliv commented on #12456
@Thorarin, you have created really challenging query for EF, but possibly solveabe. LINQ gives freedom of expressing your needs but often it is complicated to translate to the SQL.
Just for academical interest, which SQL were produced by version 2.0?

[2018-06-26 17:21] ajcvickers commented on #9503
@MaverickMartyn @ranouf I have written the first draft of a document describing how to customize the Identity model--the PR is here: https://github.com/aspnet/Docs/pull/7288

I was not able to reproduce the issues you are seeing when following the steps from the document.

[2018-06-26 17:44] smitpatel commented on #12456
Simplified repro:
[code]

[2018-06-26 17:47] ajcvickers commented on #12054
@vankooch This fix was shipped with the 2.1.1 update of EF Core.

[2018-06-26 18:13] smitpatel commented on #12466
I have seen this in past. AFAIK, the behavior is coming from `MinBatchSize` value. If the number of InsertData operations is higher than MinBatchSize then we get single operation, else they are put into individual operations.

[2018-06-26 18:14] smitpatel commented on #12463
Perhaps this `ct` is not replaced with `queryContext.CancellationTokenParameter`

[2018-06-26 18:16] #12374 closed

[2018-06-26 19:19] BalassaMarton commented on #1948
IMHO it is a terrible idea to change just a few methods of `IQueryable` to behave this way, while leaving the rest. Consider this: according to `IQueryable` semantics, the following two queries should return the same set:
[code]
The great thing about `Find` is precisely that it has different, documented semantics than the rest of the `IQueryable` methods.

[2018-06-26 19:21] BalassaMarton commented on #12469
@ajcvickers This is something that I've come across in an actual ETL project. Take this very simple example where we have a flat input with `ProjectCode`, `ProjectName`, `ProjectStatus`; and an EF Core target with `Project` entity that has `long` primary key and `Code` alternate key.
Let me first show you what doesn't work:
[code]
When we hit the same project code a second time, `FirstOrDefault` w

[2018-06-27 03:18] SimonCropp commented on #10582
@ajcvickers

re this

Is there some way to be notified when, some usage of code in c#, translates to the entire table being loaded into memory?

Eg an event, or a config flag to log it as an error?

[2018-06-27 04:13] AdGalesso opened #12475 "EF Core 2.1.1 group by with Include generates wrong query"
I've just updated my EF Core to 2.1.1 to get the Group By and it is working for simple queries like this one:

[code]

This generates this SQL:

[code]

That's perfect. However, when I try to include a table to do a inner join:

[code]

It gets lost and generates this query:

[code]
Am I doing something wrong or Group By is still not being translated correctly in EF Core?

[2018-06-27 04:41] smitpatel commented on #12475
Duplicate of #12173

[2018-06-27 05:08] MarS0K opened #12476 "Query: Translate LINQ GroupBy to SQL GROUP BY where possible"
I want to group some entities by uppercase string property. But:
[code]
Query:
[code]
Am I wrong?
### Steps to reproduce
Model:
[code]
Generated SQL (if needed):
[code]
Expected SQL (something like that):
[code]

### Further technical details
EF Core version: Microsoft.EntityFrameworkCore 2.1.0
Database Provider: Microsoft.EntityFrameworkCore.Sqlite

[2018-06-27 05:34] AdGalesso commented on #12475
Is it a duplicate? In #12173 the projection was unnecessary, but what if it is? In my case, I join the table to get a further column, the query should be translated to this:

[code]

Tried a join and still doesn't work:

[code]

[2018-06-27 06:20] AdGalesso commented on #12475
@smitpatel Ok got it, cannot Include, but since I need data from both tables I decided to inner join, and worked, just a side note of a wired thing:

This is the Linq:

[code]

That generated this query:

[code]

As you can see... INNER JOIN 2x

[2018-06-27 07:23] zabihy opened #12477 "OrderBy on field with multiple aliases"
This a simple query:
[code]
and this is profiler sql query
[code]
The problem is translating ```OrderBy``` to  ```ORDER BY [Id]``` when I try to use ```MagazineId``` with two different aliases.

It creates the following exception:
[code]
### Further technical details
EF Core version: (2.1.1)
Database Provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Operating system: Windows 10 Enterprise
I

[2018-06-27 09:28] JaylanChen commented on #795
strongly recommend.

[2018-06-27 11:59] Diaskhan commented on #12457
in ef 6 have serializable model, in ef core there more startup nature,
I'm saying that what U could in in ef6 U not could easily in ef core.

Maybe this would help !
https://github.com/aspnet/EntityFrameworkCore/issues/11819
https://github.com/aspnet/EntityFrameworkCore/issues/11851

[2018-06-27 12:12] viveknuna opened #12478 "Why ef core 2.1 generates multiple select for include"
I have an ef command which is:

[code]

and in execution process it generates two select in form of sql:

[code]

The question is why two independent SQL commands are being generated while the first one could be skipped?? is there any reason behind that? for me, it seems like a bug!

You can find the same question [here](https://stackoverflow.com/questions/51060244/why-ef-core-2-1-generates-multip

[2018-06-27 12:42] ckams commented on #12458
Cannot find the logic behind…

if I try this `ApplicationIdentityDbContext` type signature:

#### `ApplicationIdentityDbContext`

`public class ApplicationIdentityDbContext : IdentityDbContext<ApplicationIdentityUser<Guid>, ApplicationIdentityRole<Guid>, Guid/>`

I get this "expected" message:

But if I keep this `ApplicationIdentityDbContext` type signature—or keep the first, as in my first comme

[2018-06-27 13:01] jceddy opened #12479 "Migration rollback on exception?"
I just have a question and not sure where else to ask it. If an exception occurs while a migration is being applied, is the entire migration rolled back? Or does it just stop processing and throw the exception, or even continue processing the rest of the migration?

[2018-06-27 13:39] viveknuna opened #12480 "Application startup exception: MySql.Data.MySqlClient.MySqlException (0x80004005): Unknown database"
I have deployed the Asp.NEt Core application on IIS. I get the below exception when I try to browse it. But my database exists.

**Logs:**

**Environment:**

Windows 10
MySQL 8.0.11
.Net Core SDK: 2.1.201

[2018-06-27 14:17] julielerman commented on #12466
that does make sense but given that (AFAIK) the default batching minimum is 4 but I've seen it at 3 (like above) and sometimes at 2 even though above the 2 were separated... I'm not sure if that's a solid pattern. It's not a huge deal. I just wanted to be able to explain it if someone asks because while I'm working on my 2.1 course I'm seeing this randomness. Thanks :)

[2018-06-27 15:21] ajcvickers commented on #12351
@maumar This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:21] ajcvickers commented on #12314
@maumar This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:21] ajcvickers commented on #12290
@ajcvickers This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:22] ajcvickers commented on #12280
@ajcvickers This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:22] ajcvickers commented on #12214
@ajcvickers This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:23] ajcvickers commented on #12203
@AndriySvyryd This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:23] ajcvickers commented on #12180
@smitpatel This issue is approved for patch and the release\2.1 branch is now open for merging. Please ensure:
* The appropriate changes get into both the release and dev branches
* Quirking is included for the release branch only

[2018-06-27 15:23] ajcvickers commented on #12107
@AndriySvyryd

[2018-06-27 15:46] #12399 closed

[2018-06-27 15:47] TheBauwssss commented on #12399
Thanks! 👍

[2018-06-27 16:00] AurelioRighetti commented on #12426
Hi Ajcvickers, sorry for the inconvenience, i have resolve the error. After investigating,i had an error in the datacontext, once corrected, everything is ok.

Close the Issue

Many Thanks and Sorry

[2018-06-27 16:19] ajcvickers commented on #12403
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-27 17:19] csboling opened #12481 "Dynamic Where expression after projection causes translation failure when referencing a property of the DTO's base type"
### Steps to reproduce
[Here](https://github.com/csboling/ef-core-dynamic-where-issue) is a repo with a reproduction and a demonstration of some similar usages where translation succeeds.

A query with a Where clause after projection, such as
[code]
correctly translates to SQL. This also works if the body of the Where clause is an expression built at runtime:
[code]

as long as the `Pk` property i

[2018-06-27 17:32] camainc commented on #6872
Just an FYI:

The code example by @ajcvickers works if you do  not have any query types defined in your DbContext. If you do, might get a null reference error when it tries to find the primary key (my query result objects have no primary key defined).

I had to change this line:

`foreach (var keyProperty in context.Model.GetEntityTypes()`

to this:

`foreach (var keyProperty in context.Model.GetE

[2018-06-27 17:40] koenbeuk opened #12482 "Batch insert with SQL_Variant fails when different variant types are present"
Batch inserts seem to fail when SQL_Variant is being used and within the batch, different types are being used as params for sql_variant.

e.g. EF core generates something like the following:

[code]

This will raise an error: `Conversion failed when converting the varchar value 't' to data type int.`.
When P2 and P1 are reversed, things will work but only because INT is convertible to VARCHAR. Ot

[2018-06-27 17:41] smitpatel commented on #12475
@AdGalesso - I marked as duplicate since in the original query, you are doing group by and aggregate operation which does not project out any entity type so `Include` is effectively ignored. `Include` is used to load related data only. Navigations used inside the query are automatically expanded and does not require any `Include` operator.

The kind of query you would want is described in https://

[2018-06-27 17:57] kbekkenutte commented on #12478
What if there are no controllers for a project? You would get no project results (something that could be overcome by left joining controllers into projects). What if there are multiple controllers? Each record would then bring in a copy of the same project. Either case has its up and downs. Also check this post: https://stackoverflow.com/questions/34724196/entity-framework-code-is-slow-when-using

[2018-06-27 18:03] smitpatel commented on #12478
Duplicate of #12098

[2018-06-27 18:06] smitpatel commented on #12478
Especially I would suggest reading this comment https://github.com/aspnet/EntityFrameworkCore/issues/12098#issuecomment-391095895 which elaborates in detail why EF Core is using split query instead of one large query like EF 6.
As @kbekkenutte said, either case has its up and downs and it is entirely dependent on the cardinality of one to many relationship. (More projects each Controller have bett

[2018-06-27 20:10] NiekGr commented on #10001
It's too bad this got postponed. But thanks for the update.

[2018-06-27 20:20] dwaskel commented on #12460
I have the same issue, works fine in 2.0.3 but not 2.1.0 or 2.1.1.

[2018-06-27 20:35] leak commented on #12465
I really wish someone could make the SQLite provider actually production ready after 4 years by solving #329.
So far I've been filling that gap myself but the recent changes in 2.1 made it so annoyingly complicated (#12357) that I can't even guess how many hours I would have to put into it to make it work again.

Not being able to create simple rename column migrations is just not realistic for an

[2018-06-27 20:39] ajcvickers commented on #12157
Re-discussed in triage and decided to move this to 2.2 to at least help prevent a bug in query caching from resulting in out-of-memory. See #8223

[2018-06-27 20:41] ajcvickers commented on #8223
@ydekova Can you please open a new issue with a runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can fully investigate.

[2018-06-27 20:41] #8223 closed

[2018-06-27 20:43] ajcvickers commented on #11453
@daaa57150 Can you post a runnable project/solution that demonstrates this behavior, or at least the shape of the entity types involved and their configuration?

[2018-06-27 20:46] ajcvickers commented on #11744
@ravensorb We discussed this and came to the conclusion that:
* It would be good to add a "language version" in parallel with the currently supplied "language".
* This should be read from the user's project by default, just like the language is.
* Based on this, we can start using features that are supported by the language version being used.

Marking this a up-for-grabs since this should not be

[2018-06-27 20:47] ajcvickers commented on #12256
Closing as dupe of #10471. (There are several things mentioned here covered in several different issues elsewhere, by 10471 seems reasonable to choose as the dupe.)

[2018-06-27 20:50] ravensorb commented on #11744
@ajcvickers this sounds like an excellent solution! I am looking forward to it :)

[2018-06-27 20:53] ajcvickers commented on #12435
Note that #12434 and #12436 should be implemented first.

[2018-06-27 20:53] ajcvickers commented on #12438
@smitpatel to de-dupe.

[2018-06-27 20:58] ajcvickers commented on #12443
Triage: Putting this on the backlog to allow maximum batch size to be set with more granularity--probably per table.

[2018-06-27 21:09] smitpatel commented on #12438
Duplicate of #12304

[2018-06-27 21:11] ajcvickers commented on #12433
Notes for triage: tested this and it fails for me. Repro code, stack trace, and query model below.
[code]
[code]

[2018-06-27 21:12] ajcvickers commented on #12444
Note from triage: we should discuss naming and availability of methods when working on this.

[2018-06-27 21:12] ajcvickers commented on #12456
@maumar to de-dupe.

[2018-06-27 21:38] camainc commented on #7212
@dazinator would you mind elaborating a bit on how you did that? I'm in the same boat, and I'd rather steal from you than reinvent the wheel :-)

[2018-06-27 21:39] #12107 closed

[2018-06-27 22:14] #12203 closed

[2018-06-27 22:28] #12214 closed

[2018-06-27 22:37] camainc commented on #7212
Thanks for responding. I deleted my comment because I realized it was a stupid question. I did just what you suggested as soon as I deleted the comment.

Thanks again!

[2018-06-27 23:56] ajcvickers commented on #12446
@HalosGhost and others. I'm going to try to explain this based on our discussion. Consider this model:

[code]
Notice that there are two ways to get from a blog to a post--the OldPosts relationship and the FeaturedPosts relationship. Let's populate this with model with some data:
[code]
Notice that some posts are related to blogs through one relationship, some through the other. Now lets do a simp

[2018-06-27 23:57] ajcvickers opened #12486 "Query: Ensure we have test coverage for `let`"

[2018-06-28 00:10] ajcvickers commented on #12457
@Trojaner25 This is an issue with the way .NET Standard class libraries work--that is, a class library needs to be used against an actual .NET implementation before the code in it can be executed. We have considered and attempted workarounds (close to hacks) for this in EF tooling, but they tend to make the situation worse rather than better because other parts of the .NET ecosystem then start to

[2018-06-28 00:14] ajcvickers commented on #12458
@ckams I just finished a new doc on [customizing the Identity model](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1). Hopefully this will help make things clearer in this area.

To address your specific question, I don't believe it is reasonably possible to change the key type for  IdentityRoleClaim. The manager APIs rely on it bei

[2018-06-28 00:16] ajcvickers commented on #12458
@ckams Also, future issues in this area should be posed to the [Identity repo](https://github.com/aspnet/Identity/issues).

[2018-06-28 00:23] ajcvickers commented on #12460
@daniels7 @dwaskel It would be great if you could post a sample project/solution that demonstrates this.

@cwrea Does this look like something you have run into?

[2018-06-28 00:34] HalosGhost commented on #12446
@ajcvickers, thank you for the long and detailed reasoning and explanation. This is yet another point of significant disappointment I've run into with Entity Framework, but I recognize that this (along with many other pieces) is not necessarily a simple problem.

[2018-06-28 00:35] HalosGhost commented on #12446
@ajcvickers, thank you for the long and detailed reasoning and explanation. This is yet another point of significant disappointment I've run into with Entity Framework, but I recognize that this (along with many other pieces) is not necessarily a simple problem.

Consider this my vote to close.

[2018-06-28 01:04] SimonCropp commented on #6872
@camainc thanks. verified with a test and added a fix. shipped in v 1.1.2 of EfCore.InMemoryHelpers

[2018-06-28 02:01] Jonesie opened #12488 "Default value for new 'Role' column get's 'dbo'"
I added a 'Role' column to my User entity persisted to SQL Server.
I set a default for the role in OnModelCreating as 'User'.
After migration the column has 'dbo' as the value for existing users.

Funky :)

### Steps to reproduce

1. Create any entity with a Role string property.
2. Add the following to OnModelCreating:

[code]

3. Create migration and update db.

### Further technical details
EF

[2018-06-28 02:20] mfeingol commented on #12460
I'm seeing the same thing. I don't have a simple repro on hand, but willing to provide access to a private VSTS repo to the right person.

[2018-06-28 03:03] John0King commented on #6812
Any news on this ?

[2018-06-28 04:51] viveknuna opened #12489 "Entity Framework Core 2.1 throwing ArgumentException on left join"
I recently upgraded my project from .NET Core 2.0 to 2.1. I use Entity Framework Core and have several LINQ expressions that include left joins. The following code is an example:

[code]

If .NET Core 2.0, this line executed with no exceptions. In .NET Core 2.1, it's throwing the following ArgumentException:

If I change the LINQ to perform inner joins instead of left, then it executes no problem.

[2018-06-28 04:55] AdGalesso commented on #12475
@smitpatel thank you for the time/response. Perfect, Used to procs and EF6 didn't knew about the automatic expand. Removed the join and the query is perfect.

[2018-06-28 05:55] elyasnew commented on #12098
there are 2 independent queries which means the second query does nothing with the first query, so still I don't understand how running 2 queries prevents data duplication!

[2018-06-28 05:57] Trojaner25 commented on #12457
Thanks @ajcvickers, this indeed answered my question. I will likely cross compile against netcoreapp2.1 for generating migrations.

[2018-06-28 06:02] elyasnew commented on #12478
there are 2 independent queries which means the second query does nothing with the first query, so still I don't understand how running 2 queries prevents data duplication!

[2018-06-28 06:20] optiks opened #12490 "Make accessor delegates work with backing fields that are not the exact type"
The [Backing Fields documentation](https://docs.microsoft.com/en-us/ef/core/modeling/backing-field) states:

The issue is that if there are two or more backing fields, where the first to match based on precedence rules doesn't match the property's return type, then things blow up.

It seems like the reflection code should also ensure that the eligigble fields are of the same type as the property.

[2018-06-28 07:18] hasan419 commented on #12098
explain how to work this code? and why produce two query?

var project = await _uow.Get<Project>().Include(p => p.Controllers).FirstOrDefaultAsync(p => p.Id == pid);

SELECT TOP(1) [p].[Id], [p].[AppKey], [p].[CreateDate], [p].[Name], [p].[Title]
FROM [Project] AS [p]
WHERE [p].[Id] = @__pid_0
ORDER BY [p].[Id]
Microsoft.EntityFrameworkCore.Database.Command:Information: Executed DbCommand (19ms) [

[2018-06-28 07:27] JakobFerdinand opened #12491 "Duplicate column names in Select when using table splitting"
When querying tables with Owned Entities Ef Core 2.1.1 creates a SQL statement that asks twice for Id column.

[code]

`context.Authors.ToList()` creates this SQL query:
[code]
with two times `[a].[Id]`

There´s a [Sample Project](https://github.com/rzlsoftware/EfCoreSqlQueryWithOwnedEntity).

When you just use the sql to query the database it´s no problem, but when you reuse the sql for example f

[2018-06-28 09:09] hbjorgo opened #12492 "RowVersion is not updated in query"
I have a table called Chapters and I try to add optimistic concurrency control on it. I get the current version from the database, but during an update, if I pass in another (random) version to check against, the database still executes the update as if the versions match.

I expected an `DbUpdateConcurrencyException`. From the log one can see that `@p2='0x0000000000001562'` is the version that is

[2018-06-28 10:17] ckams commented on #12458
@ajcvickers

Thanks, but some questions remain unanswered (all about the core issue…):

- What did you mean in the issue [8448](https://github.com/aspnet/EntityFrameworkCore/issues/8448#issuecomment-301116404)?

Your documentation provides nothing about this point…

Where can I find, in this provided link, the answer to this question (related to the issue 8448)?
- **How to understand the BackingFi

[2018-06-28 10:23] Materix opened #12493 "Dynamic order by"
Hi,

I have class with one enum field and I want to order by this field by in custom order (and I don't want to reorder enum values)

I prepare `EnumOrderAttribute` and manually create expression using `Expression.Condition` but I received:

[code]

So paging  will be also perform locally and whole table will be materialized, which is unefficient.

I also try with SwitchCase expression but then I

[2018-06-28 11:53] daaa57150 commented on #11453
I'll try to post a runnable project demonstrating the problem.

[2018-06-28 12:21] ErikEJ commented on #12465
@leak Have you considered using another database engine?

[2018-06-28 14:45] leak commented on #12465
@ErikEJ Yes, also I think we've had that exchange before ;)
https://github.com/aspnet/EntityFrameworkCore/issues/329#issuecomment-323261847

[2018-06-28 15:30] bricelam commented on #12465
@leak you are one of a few people who could contribute improvements in this area. Please don't hesitate to start a discussion with us on a proposed design and start working on a PR.

[2018-06-28 15:56] ajcvickers commented on #12402
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-28 16:09] ajcvickers commented on #12479
@jceddy If the migration is being executed from the EF commands (PMC or dotnet CLI) then the migration is executed in a transaction, which is rolled back if an error occurs.

[2018-06-28 16:09] smitpatel commented on #12412
Patch fix commit 2821a22014810809a1a8d98368f3a52701d33b37
Quirk commit 610662840d7847ffbe0999a2ffaa707266f3fcaa
dev commit 443d4ec3c7f8b093b4f779c9bbd53a588721446d

[2018-06-28 16:11] ajcvickers commented on #12480
@viveknuna Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can fully investigate?

[2018-06-28 16:31] smitpatel commented on #12480
Perhaps some typo in the connection string related to escaping.

[2018-06-28 16:42] smitpatel commented on #12493
[code]
So translation works for normal linq. It seems like something incorrect or out of place compared to what compiler would generate in your Expression tree processing.

[2018-06-28 16:44] ajcvickers commented on #12481
@csboling The difference is that the PropertyInfo generated by the compiler has a [ReflectedType](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.reflectedtype?view=netframework-4.7.1) indicating it was obtained from `BaseDto`. To get the same in the manually built expression tree you need to explicitly get the PropertyInfo instead of just passing the string name:

[code]

[2018-06-28 16:57] smitpatel commented on #12493
Found the cause,
Don't use constant of type `object` in expression tree. It is not possible to translation pipeline to know if that constant of type `object` can be printed in SQL tree or not. Compiler just works because every type derives from `object` and at runtime it would have actual types.

Following code works correctly and generates case block in SQL
[code]
Notice how I have used constant

[2018-06-28 16:59] viveknuna commented on #12480
@ajcvickers can you please share your email id?

[2018-06-28 17:00] viveknuna commented on #12480
@smitpatel but same connection string works if I add as a website

[2018-06-28 17:00] smitpatel commented on #12481
Duplicate of #12230

[2018-06-28 17:01] ajcvickers commented on #12488
@Jonesie This is because the `HasDefaultValueSql`  the defines the _SQL_ use use in the default constraint of the column. Which for "User" means return me the current user--that is, "dbo".

If you want to set a constant value, rather than a SQL expression, then use `HasDefaultValue("User")` instead.

[2018-06-28 17:02] ajcvickers commented on #12480
@viveknuna avickers

[2018-06-28 17:07] smitpatel commented on #12098
@elyasnew - They are not independent queries. 2nd query fetches the related data (for collection include) for the records in the first query. If you want all data in one query then you need to a join which will duplicate data in first query for every related record in 2nd query.

[2018-06-28 17:23] viveknuna commented on #12480
@ajcvickers avickers@gmail.com?

[2018-06-28 17:29] csboling commented on #12481
Excellent, I figured I had to be missing something simple, but the expressions appearing to be the same got me thinking it was translation related. Thanks!

[2018-06-28 18:05] ajcvickers commented on #12480
@viveknuna Nope, sorry. At microsoft.com. Sorry, thought that was implied.

[2018-06-28 18:08] #12180 closed

[2018-06-28 18:10] smitpatel commented on #12180
Ported to release in 23e9fc8d841828e051c8f655825656ab7d356ad7
Already merged to dev in 995822a14ee160d178cc97e6b80500cdfb86b9ee

[2018-06-28 18:14] smitpatel commented on #12433
@ajcvickers - `Freight` is ignored property in EF model of northwind. Unmapped property with anonymous projection is expected to fail. Can you verify if it is happening with mapped properties?

[2018-06-28 18:32] ajcvickers commented on #12433
@smitpatel Repro code is above. It's not using any pre-existing Northwind database or configuration. It's just using the entity types above in a clean database.

[2018-06-28 19:50] smitpatel opened #12495 "Query: EntityTrackingInfo depends on QSRE which is not valid for owned entities"
Owned entities may not always have QSRE referencing them since they cannot be query root. It is impossible to track them otherwise.

[2018-06-28 20:33] #12290 closed

[2018-06-28 20:56] MIKE-R-PALMER opened #12496 "Shadow Properties and HasData"
How do I use HasData with a shadow property.  I have defined my shadow property Deleted as a bool, if I set this to bool? and assign HasDefaultValue(false), my HasData works and sets the Deleted value to null (not what I want).  If I leave it as bool my HasData fails saying that the value cannot be null. When I look at the scripts, the HasDefaultValue(false) is being ignored for HasData.

EF Core

[2018-06-28 21:20] tourili commented on #626
Hi @divega

What about intercepting connection like we used to do on EF6 using IDbConnectionInterceptor.
Interception is not for logging only!

My asp core app requires executing session context
`EXEC sp_set_session_context ...` on the server each time database connection is opened.

My only workaround now is to hook on the event `Database.GetDbConnection().StateChange`. which is my last option.

[2018-06-28 22:44] ajcvickers commented on #12492
@hbjorgo One possibility here is that it is in the way that `chapterToEdit` is obtained; I'll try to explain. When comparing concurrency tokens, the value used from the client side is the "original value" of the property. That is, the value that the property had when it was queried from the database. (This is important for manual concurrency where the property can have a value different from what

[2018-06-28 22:46] ajcvickers commented on #6812
@John0King This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-06-28 23:10] ajcvickers commented on #12458
@ckams What I meant in #8448 is that the primary (or alternate) key and the foreign key must have compatible types. For example:
[code]
Now if I want to change the type of the PK, then I must also change the type of the FK:
[code]
The document doesn't show this explicitly, since for the key properties that are valid to change in the Identity model all use the TKey generic for both primary and fore

[2018-06-28 23:12] ajcvickers commented on #10753
@Vasimovic What do you mean by, "implement this in EF 2.2"? Do you mean can you implement this in the EF code and send a PR?  Or do you mean, can you implement something on top of EF in your own code that will allow types to be added to the model dynamically?

[2018-06-28 23:43] AndriySvyryd commented on #12466
The generated migration operations don't depend on the configured Min/Max batch size. If you could show an example where the data has been separated into two I could state the reason more accurately, but usually it's because the affected columns are different, i.e. one row uses the default value for a column while the other one specifies an explicit value.

[2018-06-29 00:20] maumar opened #12501 "Query: convert tests that dont use AssertQuery to use the pattern"
Some query tests don't use AssertQuery pattern for verification. We should convert them to the pattern. Reason is that we get full result verification for the test and async execution for free.

[2018-06-29 00:47] firatakyildiz opened #12502 "TransactionScope with Multiple DbContext's"
### Title
Multiple DbContext's residing in the same TransactionScope are unaware of each other.

### Functional impact
I am not sure if this behavior is expected. So please bear with me. I want to add/update several tables at once asynchronously. Since async calls on a DbContext is not permitted, I tried to do this with multiple DbContext objects all within same TransactionScope. However, changes

[2018-06-29 01:12] maumar commented on #12343
fixed in d76ce76e8a40ba758aba84e232760310aa441abf

[2018-06-29 01:12] #12343 closed

[2018-06-29 05:56] roji commented on #6717
Just to reiterate the importance of something like `EF.StoreType(value, storeType)`, we've recently seen lots of issues where there's a need to explicitly specify store types when the same CLR type can be mapped to more than one store type. Aside from the recent geometry/geography discussion,

I just realized that this is a bit more complicated than a simple method translator, since we need to do

[2018-06-29 06:33] roji commented on #12502
The exception you're seeing is quite explicit: you're trying to insert related entities into the database via different connections, so you're violating foreign key constraints. Each context has a different database connection, and each connection functions independently (even if you wrap them in a single transaction), so this simply cannot work. In theory, you can use the different contexts to in

[2018-06-29 06:35] roji commented on #12502
One last note... If you're looking to insert large amount of data into your database and are really looking to optimize performance, take a look at bulk insert APIs ([COPY in the PostgreSQL case](http://www.npgsql.org/doc/copy.html)). These have the disadvantage of operating completely outside EF Core, but they are extremely fast.

[2018-06-29 06:43] MIKE-R-PALMER commented on #11083
I get this same error with Shadow Properties; it seems to ignore the default value I had assigned? Any thoughts on how I might seed shadow properties

[2018-06-29 08:28] christamlyn-bridge opened #12504 "Null exception on AlterColumn in 2.1"
After upgrading to EF 2.1, an existing migration throws an null reference exception on a migration to Alter Column type.

[code]

### Steps to reproduce
[code]

To get the migration to work in 2.1 required to explicitly define oldType in the Up.  Is this now mandatory?  It seems to have worked in previous versions without.

The following migrates successfully:

protected override void Up(Migration

[2018-06-29 09:04] hbjorgo commented on #12492
Thank you for your reply!

I got it to work using your second example with the OriginalValue. I find it a bit confusing exactly why the behavior is as it is. Perhaps your examples should make it to the documentation?

But it's not a bug then, it's a feature :)

[2018-06-29 09:16] thumer commented on #12270
@YehudahA
We uploaded our Roslyn analyzer, that ensures that all `await `calls are configured with `.ConfigureAwait(false)`:
[RZL.ConfigureAwaitAnalyzer)](https://github.com/rzlsoftware/RZL.ConfigureAwaitAnalyzer)

We forked EntityFrameworkCore and branched from 2.1.1 where we added `.ConfigureAwait(false)` to all await calls:
[ConfigureAwait Branch](https://github.com/rzlsoftware/EntityFrameworkC

[2018-06-29 11:05] benday commented on #11785
@VadymZakusyloDevPro --

I've been trying to reproduce your exact error but I haven't figured out exactly what you've got going wrong.  If you can share a GitHub repo with your failing app and scripts, that could be helpful.

In your script, can you try changing "--assembly" to point to data.dll and then "--startup-assembly" should point to Web.dll?

-Ben

[2018-06-29 13:03] nishantkagrawal opened #12505 "After upgrading to .Net Core 2.1 and EF Core 2.1 DeleteBehavior.Restrict is not working"
## Describe what is not working as expected.

I have following models (See https://github.com/nishantkagrawal/EFCoreIssue for code)
[code]

### Steps to reproduce
Prior to upgrading to .Net Core 2.1.1 the following test was passing.
[code]
Now it fails with the following error
[code]

### Further technical details
Source Code: https://github.com/nishantkagrawal/EFCoreIssue
Master branch has .Net C

[2018-06-29 13:05] eveneveneven commented on #12227
@grayver Did you find any workaround for this issue?

[2018-06-29 13:10] viveknuna commented on #12480
@ajcvickers please check your mail.

[2018-06-29 13:15] grayver commented on #12227
Unfortunately no.. I upgraded all my projects to .NET Core 2.1, except EntityFramework packages. They are still 2.0
Taking in account that this bug was assigned 2.2 milestone, which will be released in the end of year, it is very frustrating..

[2018-06-29 13:19] daaa57150 commented on #11453
So, the query executed exactly as I wrote it previously:
- in a fresh project => WORKS
- in MY project => ALSO WORKS!

I was really puzzled but by splitting the query step by step to match the code in my project, I finally found the culprit.

Here is an exerpt of the faulty code:
[code]

The full project demonstrating this can be found [here](https://github.com/daaa57150/DotNetBugGroupByDatePart).

[2018-06-29 13:37] tourili commented on #1629
Hi  there
What about Intercepting connection level to support Row Level Security. I checked the latest release, but still not supported yet.
I'm working around this lack by connecting the legacy handler `Database.GetDbConnection().StateChange` to monitor the connection state to inject my session context
`this.Database.GetDbConnection().StateChange += (s, e) =>`
 `          {`
`                if (

[2018-06-29 13:54] StarkShang opened #12506 "Install Microsoft.EntityFrameworkCore.Proxies version 2.1.1 failed on macos"
Hi.
I want to Install Microsoft.EntityFrameworkCore.Proxies version 2.1.1 on macos, but I get error infos as follows,

[code]

However, this version of package Microsoft.EntityFrameworkCore.Proxies is already on the nuget website, and I have succeed install it on windows. On mac, I tried to install with dotnet cli, powershell and even visual studio for mac. But all the method were not work. What c

[2018-06-29 14:39] firatakyildiz commented on #12502
Thank you very much for your quick reply and detailed explanations.

[2018-06-29 14:54] breyed opened #12507 "Enum inequality comparison triggers query warning"
Comparing two enums via inequality within a SQL query causes EF Core to report a warning like this:

The generated SQL is fine:

[code]

If the comparison is equality, the warning does not appear.

Repro:

[code]

[2018-06-29 15:05] JairoMarques commented on #11314
I think this is also related to this question:

[code]

I'm waiting for this column order:

UserId
Active
UserCode
Name
**ResellerId
Password**

Instead I'm getting this column order:

UserId
Active
UserCode
Name
**Password
ResellerId**

[2018-06-29 15:20] BarretHTW commented on #12460
I have this problem as well, resulting in a too big apk...

[2018-06-29 16:06] JairoMarques commented on #11314
Sorry, my bad. The columns order is related to properties in my class not the order in the Configure method.

[2018-06-29 16:17] ajcvickers commented on #10753
@Vasimovic The main limitation in EF Core to be aware of is that the model is read-only once it is being used by a context instance. (Mostly because multiple threads may be accessing it and mutation is not thread-safe.) So, the way to do this now is to build a new model when you need to add a new type, then create a new context instance that uses that model. Whether or not this is practical depend

[2018-06-29 16:22] ajcvickers commented on #12502
Thanks @roji!

[2018-06-29 16:36] ajcvickers commented on #4978
See also comments in the thread here: https://github.com/aspnet/EntityFrameworkCore/issues/6717#issuecomment-401255439

[2018-06-29 16:37] ajcvickers commented on #6717
@roji Thanks for the input. We're tracking this feature as #4978. I have removed that issue from the backlog so we can discuss priority in triage.

[2018-06-29 16:37] Vasimovic commented on #10753
I need it in the same context, I am in the process of migrating a project from EF 6 to EF Core and have about 200 view-only models, adding the DbQuery<Model> to the context for 200 of them seemed a bit :smile: - Anyhow #10753 will be very useful for me

Thank you for taking your time to respond @ajcvickers much appreciated

[2018-06-29 16:41] ajcvickers commented on #11083
@MIKE-R-PALMER Did you try using an anonymous type in the HasData method, as shown above? This allows you to seed values for any property, shadow or not.

[2018-06-29 16:42] ajcvickers commented on #12504
@christamlyn-bridge Can you post the full stack trace?

[2018-06-29 16:45] roji commented on #6717
Oh sorry, I forgot that #4978 already existed. Thanks for giving this your attention.

[2018-06-29 16:46] ajcvickers commented on #12505
@nishantkagrawal Can you explain why the exception is the correct behavior?

[2018-06-29 17:06] patnym opened #12508 "One to Many Composite key relation failing in 2.1 but not 2.0"
### Title
Creating a one to many relationship where the Foreign key of the Dependant entity consists of a composite key throws an exception.

### Functional impact
Can't use a composite key to setup my one to many relation.

### Minimal repro steps
Created a simple solution with two projects running the same code that demonstrates the problem
One is running 2.0 (**works**) and the other 2.1 (**fai

[2018-06-29 17:31] sdanyliv commented on #12470
@xav-stargate, it is better to rewrite your query using Eager loading. This linq query produces additional database queries for each main record and needs additional database connection for processing. It may lead bad performance and bad resources usage even when EF guys fix this issue.

[2018-06-29 17:50] bricelam commented on #12504
[code]

[2018-06-29 17:52] ajcvickers commented on #12470
@xav-stargate Have you checked that the code is not attempting to execute multiple queries concurrently using the same context instance? If so, then please post a runnable project/solution or complete code listing that demonstrates the issue.

[2018-06-29 17:53] bricelam commented on #12504
@christamlyn-bridge What version of EF was used to generate this migration? (Look for `modelBuilder.HasAnnotation("ProductVersion", "X.X.X")` in the designer file.) Or was is handcrafted?

[2018-06-29 17:58] ajcvickers commented on #12496
@MIKE-R-PALMER To set shadow properties you can use an anonymous type, as shown here: https://github.com/aspnet/EntityFrameworkCore/issues/11083

[2018-06-29 18:00] ajcvickers commented on #12447
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-06-29 18:06] sdanyliv commented on #12470
@ajcvickers, sorry for the intervention, not sure but looks like in newer version changed moment when DataReader is closed.

[2018-06-29 18:08] ajcvickers commented on #12470
@sdanyliv Not sure how that is relevant.

[2018-06-29 18:15] sdanyliv commented on #12470
Ideally when First() method called, DataReader should be closed and EF should finish matherialization using client eval of non server side properties. But if you have mechanism that opens additional database connection during reading data from DataReader, yes it is not revelant.

[2018-06-29 18:57] maumar commented on #12489
@viveknuna could you share your model as well (entities and contents of DbContext class?) or ideally a full repro code.

[2018-06-29 20:35] ckams commented on #12458
@ajcvickers
Did you try the same configuration than me? I mean using **many-to-many relationship** between `ApplicationIdentityRole<TKey>` and `ApplicationIdentityRoleClaim<TKey>`?

Or did you only try the configuration like the above post?

Anyway, I will open a new issue.

[2018-06-29 20:36] ajcvickers commented on #12508
Notes for triage: 2.0 and 2.1 models below. Notice that in 2.0, a shadow FK is created, while in 2.1 part of the PK is used.

2.0:
[code]

2.1:
[code]

[2018-06-29 20:42] maumar commented on #12280
Merged to 2.1 in 77512c451480d52f9b4e2970a8ba72d9f38c0141

[2018-06-29 20:42] #12280 closed

[2018-06-29 22:42] ajcvickers commented on #12486
Just ask Let!

[2018-06-30 00:55] carlos8k commented on #11763
I have a same problem when migrating my project from core 1.1 to core 2.1 and I found a solution that might help other developers who encountered the same problem.

The reason for the new EF to eliminate tables that do not exist and to create tables that already exist is in the old **ForSqlServerToTable** method. This method (deprecated in this version, overridden by the **ToTable** method) has ge

[2018-06-30 01:05] StrangeWill commented on #1906
This would be a huge boost for a project I'm working with, we have a context that is over 4MB (programatically generated from an in-use database today), boot time is over *40000ms*, this is silly when our tests boot up (but we'll live for now).

[2018-06-30 04:29] AndriySvyryd commented on #1906
At the current rate it's unlikely that anyone from the EF team would get time to work on this before 2020. But we can provide guidance for anyone who is willing to tackle this.

[2018-06-30 07:20] kierenj commented on #1906
I’m curious to see if this is something I might be able to understand/tackle. Right now I’m really unclear on how even many hundreds of entities would require any significant time at all to initialise. @AndriySvyryd would a quick tour of the appropriate area of code, top level thoughts on a plan and potential pitfalls be something that mightnt take too long to put together?

[2018-06-30 07:50] AndriySvyryd commented on #1906
In EF Core model building is done in a reactive manner using `configuration conventions`. They are basically event handlers that apply some rule to configure an aspect of the model in response to some change in the model. For example when an entity type is added the `RelationshipDiscoveryConvention` will use reflection to find navigation properties and configure them. See https://github.com/aspnet

[2018-06-30 07:59] kierenj commented on #1906
Ok, great thanks. In terms of a 'compiled model' my initial thought was that this was some kind of serialised cache of the result of the process you mention there, since that's what I've encountered w/EF6 as a solution to this. Now I wonder if we're talking about code generation, much like the model snapshot? Either way I'm keen to see if I can help with the challenge.

[2018-06-30 08:55] nishantkagrawal commented on #12505
because of these lines
[code]

[2018-06-30 09:04] xav-stargate commented on #12470
@ajcvickers I do not think so but I'm not sure, why in 2.1.1 and not in 2.0.3 ?
You can download a solution that demonstrates the issue here : https://drive.google.com/open?id=1gmMCPTy7EkDJy4ARzW8i5sNJa5CUaGwS

The solution use EntityFrameworkCore & EntityFrameworkCore.SqlServer 2.0.3 it's work and if you change to 2.1.1 you have the issue

@sdanyliv Thanks for the suggestion, I will rewrite my co

[2018-06-30 09:15] quezhihui opened #12509 "Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalParameterBuilder..ctor(Microsoft.EntityFrameworkCore.Storage.IRelationalTypeMapper)'"
When I  use "Update-DataBase",Show this error

Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalParameterBuilder..ctor(Microsoft.EntityFrameworkCore.Storage.IRelationalTypeMapper)'

This my csproject:
 <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="Application\Behaviors\" />
    <Folder Inc

[2018-06-30 09:16] quezhihui commented on #12509
<PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="Application\Behaviors\" />
    <Folder Include="wwwroot\" />
    <Folder Include="Options\" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Consul" Version="0.7.2.5" />
    <PackageReference Include="DotNetCore.CAP" Version="2.2.4" />
    <PackageReference Inc

[2018-06-30 13:14] fragrancewithin commented on #7891
I had same issue, to resolve this i had to Install Microsoft.EntityFrameworkCore.SqlServer package separately then use using Microsoft.EntityFrameworkCore.SqlServer;

[2018-06-30 18:34] milanc opened #12510 "Why so many limitations on the usage of QueryType?"
Hi

First to thank you for another release of EF core and your hard work on constant improvements of it.

When I heard about this new feature of query types I was hoping that it will be something to make easier building of a read only (query) contexts for CQRS pattern.

In order to achieve better performance for query stack I am creating db context with entity sets behind properties that are using

[2018-06-30 20:03] AndriySvyryd commented on #1906
@roji Yes, we profile model building before each release and fix the worst parts. The more risky improvements have been scheduled for 3.0.0:

- https://github.com/aspnet/EntityFrameworkCore/issues/7850
- https://github.com/aspnet/EntityFrameworkCore/issues/214:

 When executing delayed conventions prune redundant ones
Use reference counting to avoid scanning the model for unused elements.

[2018-06-30 20:17] AndriySvyryd opened #12511 "Generate a conventionless model configuration"
Add a way to generate a complete model configuration that doesn't need to use conventions akin to the migrations model snapshot.
This code will build the model significantly faster, but will need to be regenerated on any model change or EF version upgrade.
This would be an alternative to [compiled model](https://github.com/dotnet/efcore/issues/1906)

[2018-06-30 20:55] AndriySvyryd commented on #1906
There are several ways we can avoid running conventions:

- Use some kind of serialization to store and then restore the model. There isn't a natural format that the EF Core model can be serialized to, so just defining it would be significant work. Besides, deserialization could still take a significant amount of time.
- Generate code that explicitly configure every aspect of the model, similarly

[2018-06-30 21:52] Suchiman commented on #12510
Query types were designed for entities that do not have primary keys. Entities without primary key are by nature readonly as EF cannot locate them (locating an entity is done via PK) and they cannot act as the principal end of a relationship because for that they would need a PK.
DbQuery and its restrictions were designed for entities without PK, not for readonly entities, that's just a side effec

[2018-06-30 22:18] roji commented on #1906
Thanks for that overview @AndriySvyryd, it all makes sense.

[2018-07-01 02:07] andrewr93 opened #12512 "querying with datetime add minutes failing"
![image](https://user-images.githubusercontent.com/34843070/42130376-a7adb276-7ce3-11e8-932d-2a83f2067534.png)

![image](https://user-images.githubusercontent.com/34843070/42130383-dfaf6bd8-7ce3-11e8-918f-548eb9f84f7a.png)

Not sure if i need to explain anything else, core/ef 2.1.0, running on windows 10

[2018-07-01 03:01] milanc commented on #12510
Hi @Suchiman, thank you for your response.
From documentation I understood what is the intention for DbQuery, but also I am just wondering why there would not be some simpler way to make readonly entities/contexts.

As I've mentioned, I was doing things you are suggesting to achieve readonly context, this is my constructor
[code]
and in save methods I am throwing exceptions.

I know that I can sol

[2018-07-01 03:47] YehudahA commented on #12270
@thumer, it solves your problem? we can say that this simple change fixes the deadlocks?

cc @ajcvickers

[2018-07-01 07:33] thumer commented on #12270
@YehudahA
Yes it solves our problem. We created this duplicate Ticket [Deadlock in WPF when calling .Wait() #12407](https://github.com/aspnet/EntityFrameworkCore/issues/12407). Before we had deadlocks when we call .Wait() on an async operations.
With the modified EFCore Version [RZL.ConfigureAwaitAnalyzer](https://github.com/rzlsoftware/RZL.ConfigureAwaitAnalyzer) it works in all cases. It is easy

[2018-07-01 08:46] MIKE-R-PALMER commented on #12496
That worked a treat, thank you for taking the time to assist me, very much appreciated.

[2018-07-01 15:53] ralmsdeveloper commented on #12512
Hello @andrewr93,

There are some quirks here:

1 - You are making a query using criteria on the server and the second query is bringing all records and doing the eval on the client, this means that you may have non-real information, because the SQL server time may not be synchronized with your machine.

**Your first query generates something like this:**
[code]

**Already the second one (bad quer

[2018-07-01 16:44] ralmsdeveloper opened #12513 "Version Microsoft.EntityFrameworkCore.Attributes"
Any special reason for this package version **Microsoft.EntityFrameworkCore.Attributes**, stay in 2.1.0-preview1-final?

Just to know.

[2018-07-01 18:31] jeubank12 commented on #11778
Without opening a new question, can you go into the "more complicated"?

I have npgsql backend on EF Core 2.1.1.  Table "Container" has a serial key property "Id", but there is a manually inserted row with "Id" = 0.  Table "Description" has a many-to-many relationship with "Container", a relationship which is stored in the normalized "DescriptionToContainer" table ("ContainerId", "DescriptionId").

[2018-07-01 19:02] ErikEJ opened #12514 "Overiding GenerateOrdering"
I am writing an (other) EF Core provider.

A number of tests fail due to GenerateOrdering adding "(SELECT 1)" to the generated SQL.

How do I override this, without pulling in large amount of private code?
@smitpatel  ?

### Further technical details
EF Core version: 2.1
Database Provider: VistaDB (in progress)

[2018-07-01 19:03] ErikEJ commented on #12514
`
Test 'Microsoft.EntityFrameworkCore.Query.SimpleQueryVistaDBTest.OrderBy_true' failed: VistaDB.Diagnostic.VistaDBSQLException :
Error 567 (Provider v. 5.6.8.0): Column does not exist:  (
Line #: 3; Column #: 10
Error 509 (Provider v. 5.6.8.0): Invalid or incomplete statement:  SELECT
Line #: 1; Column #: 1

---- VistaDB.Diagnostic.VistaDBSQLException :
Error 567 (Provider v. 5.6.8.0): Column doe

[2018-07-01 19:07] ErikEJ commented on #12514
Never mind! Found a fix in another provider! 😄
`
        protected override void GenerateOrdering(Ordering ordering)
        {
            if (ordering.Expression is ParameterExpression
                || ordering.Expression is ConstantExpression)
            {
                Sql.Append("GETDATE()");
            }
            else
            {
                base.GenerateOrdering(ordering);

[2018-07-01 19:08] pmiddleton commented on #12514
You should be able to override GenerateOrdering in your provider.

[2018-07-01 19:08] pmiddleton commented on #12514
oh haha - beat me by a minute :)

[2018-07-01 22:00] welkie opened #12516 "Migrations fail silently when Startup.cs code throws exception (error message says to implement DbContextFactory)"
I deleted my migrations folder because my workflow involves periodically deleting the database and recreating it (I use docker-compose to do this easily). I just wanted a fresh database after my latest model change, since I knew doing this change through a migration would involve data loss.

When I ran `dotnet ef database update` I got an error message saying the following:

[code]

I googled and

[2018-07-01 22:14] welkie commented on #12516
After more debugging I have found what caused the issue for me. It was nothing to do with deleting my Migrations directory. I was also testing the Google Cloud SDK and I had some test code still in my program. It built and ran fine in the Visual Studio Code debugger, so I thought nothing of it. However, the code caused an instance of the Google Cloud Storage client to be created, grabbing the serv

[2018-07-02 00:08] mqudsi opened #12517 "SQLite not evaluating simple DateTime expressions in database"
### Steps to reproduce
[code]

where the following is the definition:

[code]

This produces the following:

[code]

I see that #10525 implemented `DateTime.Addxxx` for SQL-side values, so I'm really confused by why this won't work as it's a straight comparison between the raw db value and the evaluated C# value. I thought that perhaps it was the usage of `DateTimeOffset` instead of `DateTime`, bu

[2018-07-02 01:45] SimonCropp opened #12518 "NumberToBytesConverter on ulong RowVersion property fails with .Include query"
Sorry about the detail. but this has a few moving pieces.

(TLDR run [this test in the repro](https://github.com/SimonCropp/EfRowVersionRepro/blob/master/DataModel/Tests.cs#L37))

### Scenario

 * using a [Timestamp/row version](https://docs.microsoft.com/en-us/ef/core/modeling/concurrency#timestamprow-version)
 * rowversion is mapped to a `ulong` property with a [NumberToBytesConverter](https://d

[2018-07-02 04:08] pmiddleton commented on #12517
There are two issues here.

1) DateTimeOffset.UtcNow is not currently translated.

2) DateTimeOffset operations are not performed server side for Sqlite.  See #11889

If you switch the model to use DateTime and then use DateTime.Now you should be ok.

[2018-07-02 04:57] mqudsi commented on #12517
Thanks for ge reply. This actually consumes me a bit though - is it not utc date stored in the database? I’d imagine utc operations would be the no-op implemented-by-default case and not the other way around?

I tried DateTime but with DateTime.UtcNow, and that didn’t work.. but as it was the comparand shouldn’t that have been ok in all cases as the value is evaluated once prior to the function ca

[2018-07-02 05:04] SimonCropp commented on #11608
@ajcvickers given this is very difficult to debug. wouldnt it be better to detect and log that there are conflicting context both loaded into the static context?

[2018-07-02 06:43] Materix commented on #12493
@smitpatel Thank you for help. I used `object` due to requirements of another function (and there is no implicit conversion from `Expression<Func<T, int>>` to `Expression<Func<T,object>>`). But somehow compiler do it so I just "copy" that

[2018-07-02 06:55] ErikEJ opened #12519 "[question] Understanding "GenerateOrdering""
What is the purpose of GenerateOrdering with "(SELECT 1)"

It seems to simply generate unneccessary SQL ORDER BY statement - if it is required, would
"ORDER BY 1" work? (I have issues with an engine that only supports ordering on columns)

### Further technical details
EF Core version: 2.1
Database Provider: any
Operating system:
IDE: (e.g. Visual Studio 2017 15.4)

[2018-07-02 12:32] fschlaef opened #12520 "Exception when adding two Sum with one being null"
When adding two `Sum()` results, if one returns null, the whole query fails.
However, if no addition is performed the Sum will be 0.

Exception message: `Nullable object must have a value.`

Stack trace:
[code]

### Steps to reproduce
Full repro, including workaround

[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating s

[2018-07-02 12:33] fschlaef commented on #12355
The same exception can be obtained without GroupBy : #12520

[2018-07-02 13:05] ralmsdeveloper commented on #12519
Hello @ErikEJ,

The 1 would be the ordinal numeral of the select, so I observed this instruction will only be printed when there is a constant.

Example: `select 'x' from bar order by 1 desc`.

it's just a guess, it makes sense to you!

[2018-07-02 13:38] fschlaef opened #12521 "Ternary operation being evaluated when it should not"
If you write a ternary in a Linq operation, all the operands will be evaluated by the expression visitor, even though they should not. If any operand happens to be an object property, EF will try to access it even if the ternary specifies not to. If that object is null, the query will throw an exception.

Exception message:
 `An exception was thrown while attempting to evaluate the LINQ query para

[2018-07-02 14:16] patrikrazem commented on #12435
There appears to be a bug in the way RowVersion/Timestamp fields are converted from `byte[]` to `ulong`.

I have two models, both of which have Timestamp properties:

[code]

that are mapped as RowVersion fields:

[code]

Note that `OtherID` on the `Second` model is a nullable property.

If I run the following query:

[code]

as long as the `OtherID` is not NULL, everything works fine. But when it

[2018-07-02 14:45] ErikEJ commented on #12519
I am not sure that (SELECT 1) refers to the first column in the SELECT list, but I am well aware that 1 does - that is the reason for my question - why not just use "1" iso (SELECT 1) ?

[2018-07-02 15:28] mqudsi commented on #12517
Yes, minus the migration part as it was a no-migrations configuration. SQLite doesn't have a `DateTime` type let alone a `DateTimeOffset`, both can be deserialized from the text representation stored in the database column (`2018-07-02 02:21:38.3258299+00:00` with type `Text/Numeric`).

[2018-07-02 15:53] sirJimmy1 opened #12522 "Left Join and Group by is client evaluated"
Hi, I am working with version EF core 2.1.1 and it seems to me that left join with group by not working.

Please see simple example:
[code]

With commented left join part it is translated correctly,
unfortunately with left join it is translated as:
[code]

and it's grouped by in memory.

I found this issue has been resolved in https://github.com/aspnet/EntityFrameworkCore/issues/11755
but with EF

[2018-07-02 16:04] ajcvickers commented on #12469
@BalassaMarton We discussed this in triage and came to the conclusion that once #7391 (as referenced from #10303) is implemented, then it will be possible to easily to efficient lookup by key or alternate key in the state manager, which will allow different types of Find to be implemented as extension methods.

[2018-07-02 16:04] bricelam commented on #12517
I fixed a lot of DateTime SQLite translations in c360e894f74f9c295bb0021328a2489e6e329835, but it hasn't shipped in a release yet. (Try [the nightly builds](https://dotnet.myget.org/gallery/aspnetcore-dev).)

Operations on `DateTimeOffset` can't be translated to SQLite without registering user-defined functions for each operation. Just letting these evaluate on the client is the most pragmatic sol

[2018-07-02 16:18] ralmsdeveloper commented on #12519
Yes, I understood, I looked for information on why and did not find it, I really believe that we could use only "1" instead of "(SELECT 1)", since this is no longer an expression and becomes a sub-query, looking at some tests I realize that does not make much sense!

For Exemple:
https://github.com/aspnet/EntityFrameworkCore/blob/dev/test/EFCore.SqlServer.FunctionalTests/Query/GearsOfWarQuerySqlSe

[2018-07-02 16:27] ajcvickers opened #12523 "Detect if multiple backing fields are compatible by convention"
See #12490. If multiple fields:
* match the naming convention to be a backing field
* are assignable,
* and none is an exact match for the property type

Then either throw, or make the match fail so that no backing field is found and log it.

[2018-07-02 16:28] ajcvickers opened #12524 "Add logging for backing field discovery"
So that people will know when we have failed to find a backing field by convention.

[2018-07-02 16:29] ajcvickers commented on #12490
Triage. Marking this as a bug to fix the exception from the delegate factory. Also filed #12523 and #12524 to improve the experience here.

[2018-07-02 16:40] ajcvickers opened #12525 "Improve experience for HasData with anonymous types"
This involves several changes around the way missing properties and additional properties that don't match mapped properties are handled. The idea is to make it possible to detect typos, without making it necessary to specify a value for every property--since the CLR or database default may be fine.

Specifically:
* When using an instance of the actual entity type, the property values for mapped p

[2018-07-02 16:41] ajcvickers commented on #12496
Closing this as question, but also filed #12525

[2018-07-02 16:46] ajcvickers commented on #12506
@StarkShang There's not much to go on here, but maybe try cleaning your NuGet caches?
[code]

[2018-07-02 16:47] ajcvickers commented on #12507
@breyed Can you give some more details as to what the issue is here? Is it that the warning exists at all? That there is a warning even though the SQL is correct? That there is no warning in other similar cases?

[2018-07-02 16:53] breyed commented on #12507
The problem is that the warning exists at all, i.e. it's a spurious warning that requires the developer to track down what's going on, only to discover that his code and the generated SQL are both just fine and no action was actually required.

There is no warning in the similar case of equality. You could say that the inconsistency between the behavior of equality and inequality is a problem, but

[2018-07-02 17:01] ajcvickers commented on #12508
@patnym The workaround for this is to specify the shadow property explicitly before configuring the relationship. For example:
[code]
This should result in the same mapping as was generated in 2.0.

[2018-07-02 17:18] #12351 closed

[2018-07-02 17:20] #12314 closed

[2018-07-02 17:31] ajcvickers commented on #12480
@viveknuna I don't have access to the link you sent.

[2018-07-02 18:00] smitpatel commented on #12513
It was package introduced in 2.1 release. It was renamed to Microsoft.EntityFrameworkCore.Abstractions before RTM
https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Abstractions/

[2018-07-02 18:55] maumar commented on #12520
Still fails in current bits. Query plan:

[code]

[2018-07-02 20:33] ajcvickers commented on #12470
Note for triage: Simplified repro code is below. Notice that this fails only when passing an extra parameter to the method.

[code]
In the case that works, the inner query is executed first:
[code]
[code]
[code]
[code]
In the case that doesn't work, the inner query is executed while the outer query is executing:
[code]
[code]
[code]
[code]

[2018-07-02 21:00] RickBlouch opened #12526 "Transient errors and transaction commit failure state verification strategy issue"
We are seeing the following exceptions occasionally (5-10 times a day) in azure (SQL) on a webjob that runs every 15 seconds on a timer trigger.  Each iteration of the timer trigger can process multiple saves, but usually completes within 20-100ms.

I've read the [connection resiliency](https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency) article quite a few times now.  We

[2018-07-02 21:00] MikeDempseyFL commented on #2850
I am trying to add an 'int Random(int, int)' function to EF.Functions but it looks like it is trying to evaluate it on the client rather than calling Random(int, int) on the DBS.
I assume this is because there are no objects from the model referenced in a call to Random.

I have added other database specific functions to EF.Functions and they work fine.
Those all take at least one object reference

[2018-07-02 21:06] rwasef1830 commented on #2850
@MikeDempseyFL You can force EF to always send a function to the database by overriding the `IEvaluatableExpressionFilter` service.

[code]

In your filter class inherit from `RelationalEvaluatableExpressionFilter` and override the `IsEvaluatableMethodCall` method. It should return true if the method can be evaluated on the client and false if it should always be evaluated on the server.

[2018-07-02 21:11] ajcvickers commented on #12482
@kbekkenutte I have not been able to reproduce this. Could you take a look at my repro code below and figure out what is missing to make it demonstrate the behavior you are seeing?

[code]
Relavent output:
[code]

[2018-07-02 21:17] erikj999 commented on #6717
Hi, I'm not sure from the discussion where the current thinking on QUERY/TABLE hints has landed and whether a solution is in mind.  IMO, the biggest need for many developers is simply control of locking during queries (i.e. table hints).  Just that one feature would be really welcome.

For EF 6, we created a With() extension -- just like Rafael described (except with an enum to avoid injection iss

[2018-07-02 21:22] pmiddleton commented on #2850
@MikeDempseyFL Are you implementing a provider or are you just using EF Core in a project?

[2018-07-02 21:39] ajcvickers commented on #12505
Note for triage: This is failing due to changes made in https://github.com/aspnet/EntityFrameworkCore/pull/10941 which was a bug fix to stop the state manager being overly aggressive at assuming that a constraint violation exists. Instead, we let the database decide whether there is a violation or not. However, in this case the in-memory database is being used, which doesn't do referential constra

[2018-07-02 21:40] MikeDempseyFL opened #12527 "Adding a new EF.Functions function with no object references"
I am trying to write additional EF.Functions that must be executed on the server.

This works well if at least one of the function arguments is a reference to a database column. (via the entity model)

If all arguments are constants, or if there are no arguments, it results in an exception.
This exception occurs without our custom IMethodCallTranslator code getting called.
Linq (?) apparently deci

[2018-07-02 21:45] ajcvickers commented on #12507
@breyed The reason for this warning is that in some cases when value conversions are used the generated SQL may not be correct--for example, see #10265. So for now, the warning indicates that you should check to make sure the generated SQL is correct. This is a temporary measure until translations with value conversions become more robust.

[2018-07-02 21:51] ajcvickers commented on #12510
@milanc Read-only entity types are tracked by #7586.

[2018-07-02 22:28] MikeDempseyFL commented on #2850
I am implementing a provider.
I think someone pointed me to the solution using IEvaluatableExpressionFilter service.

Thanks
Mike

From: Paul Middleton <notifications@github.com>
Sent: Monday, July 2, 2018 17:23
To: aspnet/EntityFrameworkCore <EntityFrameworkCore@noreply.github.com>
Cc: Dempsey, Mike <Mike.Dempsey@Teradata.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/EntityFrame

[2018-07-02 22:32] ajcvickers commented on #12516
Notes for triage: behaviors when DbContext has no parameterless constructor.

When there are no 'hosting' methods (e.g. `BuildWebHost`) found, then:
[code]
Following [the link](https://go.microsoft.com/fwlink/?linkid=851728) doesn't directly give examples of using the hosting methods, although the information can be found in further linked places.

When hosting methods exist but throw:
[code]
Noti

[2018-07-02 22:46] ajcvickers commented on #12517
Bringing together the comments above:
* Nothing on `DateTimeOffset` is translated
*  `DateTime.UtcNow` is translated in 2.1.1
* `DateTime.AddDays` is translated in 2.2 nightlies

[2018-07-02 22:47] mqudsi commented on #12517
@ajcvickers if that's the case, then there's a bug. `DateTime.UtcNow` on the C# side of the expression is _not_ translated in 2.1.1.

[2018-07-02 22:52] ajcvickers commented on #12517
@mqudsi It translates for me. Can you look at the repro code below and determine why it mighty be that you are seeing a different behavior?
[code]
Generated SQL
[code]

[2018-07-02 22:57] mqudsi commented on #12517
@ajcvickers I actually retracted my comment so I could dig into it further locally before makings that assertion with more confidence.

I'm assuming that the expression to determine the value of the righthand side of the comparison in `.Where(x => x == SomeExpr(notX))`  does not matter and will first be reduced to a single value prior to translation, so long as it does not depend on the value of x

[2018-07-02 23:00] ajcvickers commented on #12517
@mqudsi I'm not sure if I 100% follow, but I don't think that assumption holds.

[2018-07-02 23:06] mqudsi commented on #12517
Basically, I am wondering if the entire lambda, including any function calls, must be reduced/translated by EFCore or if subexpressions not dependent on the value of the callback parameter may be first evaluated are first JIT'd before the translation is kicked off.

[2018-07-02 23:09] divega opened #12528 "Update IX Async dependency to 3.2"
Main features IX Async carries are:
- Adds a .NET Standard 2.0 target (good for https://github.com/aspnet/EntityFrameworkCore/issues/10968)
- It is a signed package

[2018-07-02 23:24] ajcvickers commented on #12518
Notes for triage: `NumberToBytesConverter` is being called from query with a zero-length byte array, which should never happen even if there are rows in the database. Queries "look" the same in both cases:
Working query log (property is byte[]):
[code]

Broken query log:
[code]

[2018-07-02 23:44] pmiddleton commented on #12517
The lambda will be converted to an expression tree by the c# compiler.

Nothing will be evaluated before translation starts.

The translation will first look at the expression tree and preevaluate most anything it can (adding constants, run nonmapped functions, etc).

The remaining will be translated to sql if possible.  If something is not supported in the translation then that section will be ev

[2018-07-02 23:52] breyed commented on #12507
This doesn't make sense to me. An enum equality comparison also needs a value conversion (enum to int), but it doesn't trigger a warning. So it would seem that somehow the scope of the warning is being limited. Couldn't it likewise be limited to not trigger on inequality?

There are two problems with the spurious warning approach:

1. Evaluating the warning on a complex real-world query takes time

[2018-07-03 01:47] milanc commented on #12510
Thank you @ajcvickers.

[2018-07-03 02:30] pmiddleton commented on #12527
Have you registered your IMethodCallTranslator in your class which derives from RelationalCompositeMethodCallTranslator?

[2018-07-03 02:58] welkie commented on #12516
I notice that your dotnet command line exposed the exception that was thrown. This behavior is actually different from mine. My code threw an exception but that caused the message "you must implement x..." to be displayed, even though

[2018-07-03 04:29] viveknuna commented on #12480
@ajcvickers can you please try now.

[2018-07-03 06:18] kbekkenutte commented on #12482
@ajcvickers You can reproduce the issue by providing different types for different names, e.g.
[code]

This generates the following SQL:

[code]
p1 and p3 (both representing the name column in the example) and are of a different type which SQL Server doesn't seem to like. Declaring these parameters as sql_variant or explicitly converting them as such solves this issue.

[2018-07-03 06:22] michaelmairegger opened #12529 "ObservableHashSet: binding to WPF and removing items leads to InvalidOperationException"
When I bind to an ObservableHashSet<T> from WPF and remove an item then an InvalidOperationException is thrown

[code]

### Steps to reproduce

[code]

[code]

If I bind to ` <ItemsControl ItemsSource="{Binding Path=ObjOfC1.CSs}" />` and remove an item from ObjOcC1.CSs then the exception shown above is thrown.

There is no issue if I define ObservableCollection instead of ICollection on `C2s`.

##

[2018-07-03 07:33] inlineHamed opened #12530 "Why ef wants to Remove an entity when a required field of it is being null?"
I have a model like this:
[code]

in my asp action:
[code]

 ef will remove the entire object from database.

[2018-07-03 10:13] divega commented on #6717
@erikj999 great to hear from you! I have a couple of questions:
1. What if we gave you the ability to control locking at the query granularity level instead of at the table level? That is, you specify the locking hint once on the query and we take care of propagating it to all the intervening tables. Would that be something your application could use? In other words, how important is it to be able

[2018-07-03 11:09] Soarc commented on #12339
@snys98 I'm trying to do exactly same thing. Did you find any workaround to seed identity server data?

[2018-07-03 11:20] hisuwh opened #12531 "EFCore 2.1 - System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.EntityFrameworkCore.Extensions.Internal.EFPropertyExtensions.CreateEFPropertyExpression"
I have just upgraded an existing project to EntityFrameworkCore 2.1

A query that was previously working is now throwing a null reference exception.  I have put calls to `.ToList()` at various points through building up my query and it seems to be something to do with the call to automapper `ProjectTo`.

This doesn't happen for all my queries though.

This is the exception I am getting:
[code]

##

[2018-07-03 11:21] dfyx opened #12532 "Provider: best way to translate Any() to something other than SELECT CASE WHEN EXISTS"
Not a bug, just some help needed for writing a provider.

I'm writing a provider that sends SQL statements via COM to a legacy Visual FoxPro 9 application. By default EF Core translates `var any = X.Any(x => x.Foo == 0)` to something like the following:

[code]

Sadly VFP9 doesn't supports neither `CASE` nor `SELECT` without `FROM`.

One version that would work is:

[code]

Sadly I couldn't find t

[2018-07-03 11:38] dfyx commented on #12532
Another version that works is what ActiveRecord does:

[code]

Or translated to VFP (yes it looks funny but we can't do much about the `TOP` syntax and its requirement for an order)

[code]

(Note that in this case it doesn't return a row with `0` for "not found" but instead no rows at all)

[2018-07-03 12:29] MikeDempseyFL commented on #12527
Yes. All my Teradata specific functions are handled by the same translator and it is only those with no object references that are not working. The failure occurs before the translator would be called.

Mike

From: Paul Middleton <notifications@github.com>
Sent: Monday, July 2, 2018 22:31
To: aspnet/EntityFrameworkCore <EntityFrameworkCore@noreply.github.com>
Cc: Dempsey, Mike <Mike.Dempsey@Terada

[2018-07-03 12:35] JakobFerdinand commented on #12491
#### Same problem when also using TPH

[code]

`context.People.ToList()` creates this SQL query:
[code]

with once `[p].[Id]` and once `[t].[Id]` where both are the same.

I also added a own Project to the [Sample](https://github.com/rzlsoftware/EfCoreSqlQueryWithOwnedEntity)

[2018-07-03 12:42] Ranmoro commented on #12491
The number of [Id] equals the number of objects Owned Entities in model.

[2018-07-03 13:04] kjbetz commented on #12531
What's the object, what's the query, what's the automapper mapping profile set up?

[2018-07-03 13:23] JakobFerdinand commented on #12491
Yes, but that is not what it´s supposed to do.

let´s take the simple example from upside:

In the database i have a row like where `Firstname` and `Lastname` are wrapped in an Owned Property:

Id | Description | Firstname | Lastname         |
--- | --- | --- | --- |
1  | "foo" | "Max" | "Mustermann" |

Why do i need a sql statement like this:
[code]

this should be enough:
[code]

[2018-07-03 13:42] hisuwh commented on #12531
I've done some further investigation and it seems that all of the classes this are failing with have a property called `Type`.  As soon I comment this out of the models I am projecting to it works.

[2018-07-03 13:57] dsagar3409 opened #12533 "Migration Fail in X64 build"
Describe what is not working as expected.

I have a .NET Project targeting .NET 4.7 and Entity Framework 6.2.0. The project works fine as expected in x86 mode but fails with the following exception when we try to execute **add migration** command in x64 mode.

[code]

### Steps to reproduce
[MigTest.zip](https://github.com/aspnet/EntityFrameworkCore/files/2159632/MigTest.zip)

1.	Build the attache

[2018-07-03 14:21] MattOG opened #12534 ".Select property from within collection causes NullReferenceException"
Apologies if I don't submit this correctly.
Issue:
Attempting to access a collection using .First(), .FirstOrDefault(), .Single(), or .SingleOrDefault() throws a NullReferenceException when the collection is not empty.

The collection accessed (Customer.Locations) and the properties within (.Location.Country) is never null and I have confirmed it as such with the working data.

Controller Query:
[

[2018-07-03 14:39] Ranmoro opened #12535 "Change the object with Owned Entities. properties replacement."
EntityFramework changes the properties of the new Owned object to the properties of the old object in the "Add" operation. The same thing happens with "Attach" action.

[code]

### Further technical details
EF Core version: Version="2.1.1"
Database Provider:
 "Microsoft.EntityFrameworkCore.InMemory" Version="2.1.1"
 "Microsoft.EntityFrameworkCore.SqlServer" Version="2.1.1"
Operating system: Window

[2018-07-03 14:44] Ranmoro commented on #12535
Аfter the actions "Add" and "Attach" Owned Entities of the new object are replaced with Owned Entities of the old object.

[2018-07-03 14:46] hisuwh commented on #12531
OK I have managed to reproduce this.  Seems to be some combination of a `GroupBy` call and projecting to a model with a property named `Type`.  Not sure why these specific situations cause this issue.

Can see repro here: https://github.com/hisuwh/EFAutomapperBugRepro

[2018-07-03 15:09] paulirwin opened #12536 "Additional ExecutionStrategy extension point: OnOperationRetrying(Async)"
In [ExecutionStrategy](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore/Storage/ExecutionStrategy.cs#L205), there is a convenient template method `OnRetry` that will be called after an operation failure. However, there are a few limitations to this extension point:

1. It is called before the delay, so you cannot do something after the delay (i.e. allowing the database time to

[2018-07-03 15:15] Wain123 commented on #9288
Do you have any estimate on whether/when this feature will eventually be implemented? I'm considering implementing my own workaround, depending on how long I'd have to wait otherwise - and the target milestone has changed a few times so far. Any estimate that's more precise than "backlog" would be useful.

[2018-07-03 15:30] hisuwh commented on #12531
Worth noting that I tried without the group by clause also and this works fine so it seems to be some combination of these things

[2018-07-03 15:31] paulirwin commented on #12536
With a little further exploration, I found that this is technically possible today without this extension point, by wrapping the `operation` parameter to `Execute`/`ExecuteAsync` like so:

[code]

But my suggestion above would certainly be cleaner and fit better with the template method pattern that already exists, so I'm still interested in hearing feedback on this suggestion.

[2018-07-03 15:32] Vasimovic commented on #12510
@Suchiman, re "Query types were designed for entities that do not have primary keys."

This is not always the case; all my query types have primary keys, they are subsets of read-only views or results from stored procedures that have multiple joins

EF 6 had the ability to map any query to a type with or without keys, EF Core has the DbQuery<T>  rooted in the DbSet, I have to agree with @milanc; i

[2018-07-03 15:45] ajcvickers commented on #12510
@Vasimovic This is a true statement: "Query types were designed for entities that do not have primary keys." It is certainly possible to use query types in some other scenarios, but their primary purpose is to support querying without keys.

[2018-07-03 15:52] kjbetz commented on #12531
This seems similar: https://github.com/aspnet/EntityFrameworkCore/issues/12534

[2018-07-03 15:53] kjbetz commented on #12534
I wonder if this is similar: https://github.com/aspnet/EntityFrameworkCore/issues/12531

[2018-07-03 16:03] ajcvickers commented on #4693
See also https://github.com/aspnet/EntityFramework.Docs/issues/797--make sure to support temporal in-memory tables.

[2018-07-03 16:05] ajcvickers opened #12537 "Change nuget packages projectUrl to point to doco or better landing page"
Moved from https://github.com/aspnet/EntityFramework.Docs/issues/803 filed by @SimonCropp since NuGet packages and their metadata are generated as part of the build.

Often searches will resolve to a nuget package. or people will know the nuget they are using and want to find the doco for it.

However most MS nuget

At the moment nugets point to generic getting stated pages. For example

 * [Micro

[2018-07-03 16:06] ajcvickers commented on #12537
Assigning to @bricelam for the build part, and @divega to update existing packages on NuGet.

[2018-07-03 16:22] Vasimovic commented on #12510
@ajcvickers, I understand. I was just pointing out that I have no choice but to use the DbQuery for my case, it seems like since day one I was missing the ability to do simple mapping to arbitrary types #1862, and the DbQuery is the closest thing I can use, I have hundreds of read-only only views, and I am sure others do too. In EF 6  this was trivial `dc.Database.SqlQuery<T>`

I hope I don't soun

[2018-07-03 16:34] ajcvickers commented on #12516
@welkie Yes, please. That would be useful.

[2018-07-03 16:45] ajcvickers commented on #11608
Re-purposing this issue to improve the logging for this, as suggested by @SimonCropp.

[2018-07-03 16:49] ajcvickers commented on #12435
@patrikrazem This looks like a duplicate of issue #12518

[2018-07-03 16:55] ajcvickers commented on #12527
@MikeDempseyFL @pmiddleton This is currently a by-design behavior, but it is something we have discussed changing. We will discuss again in triage.
/cc @divega

[2018-07-03 16:57] patrikrazem commented on #12435
You're absolutely right, I must've missed that issue.

[2018-07-03 17:05] ajcvickers commented on #12482
@kbekkenutte Thanks!

[2018-07-03 17:06] pmiddleton commented on #12527
@ajcvickers

Ok - I'm going to hold off on looking at it then.  Let me know what comes out of triage.

[2018-07-03 17:10] ajcvickers commented on #12529
Duplicate of #7397. Short answer is that WPF requires the use of ObservableCollection, or some other type that that preserves order.

[2018-07-03 17:12] ajcvickers commented on #12530
@hmdhasani There's not much to go on here, but this is likely due to cascading behaviors of required relationships, as described in the docs: https://docs.microsoft.com/en-us/ef/core/saving/cascade-delete

[2018-07-03 17:18] ajcvickers commented on #12533
Duplicate of https://github.com/aspnet/EntityFramework6/issues/458

[2018-07-03 17:51] bricelam opened #12538 "Spatial Indexes"
After #1100 is implemented, we should consider allowing spatial indexes to be defined on spatial columns. My initial thought is to promote (by convention) regular indexes defined on these columns to spatial indexes, and for backends that support additional facets, we should expose Fluent API.

[2018-07-03 17:56] bricelam commented on #12538
Reference:
* [PostgreSQL (via PostGIS)](http://postgis.net/docs/manual-2.4/using_postgis_dbmanagement.html#idm2269)
* [SQL Server](https://docs.microsoft.com/en-us/sql/relational-databases/spatial/spatial-indexes-overview)
* [SQLite (via SpatiaLite)](http://www.gaia-gis.it/gaia-sins/spatialite-cookbook/html/rtree.html)

[2018-07-03 18:29] maumar commented on #12453
We can optimize this (i.e. move Take() further if there are no filters in the query after the place where Take was originally.

This can be optimized:

[code]

This can't be optimized:

[code]

[2018-07-03 18:42] roji commented on #12538
I don't know much about the other databases, but at least for PostgreSQL I'm not sure that spatial indexes retiré any special handling between regular indexes... Npgsql already supports specifying the index method (gist vs. brin etc.), is anything else required as far as you know?

[2018-07-03 18:55] danobri opened #12539 "StackOverflowException after upgrade to from 2.0.2 to 2.1"
I recently tried upgrading an application from EF Core 2.0.2 to 2.1.1, and following the upgrade, one of the common (and more complicated) projections in the application is throwing a StackOverflowException.  I am using Automapper to centralize the code that defines the projections (using the AutoMapper.QueryableExtensions.ProjectTo function), but I believe the issue is with EntityFramework, as it

[2018-07-03 20:04] camainc commented on #10639
I am having this issue and  none of the suggested workarounds work for me. I am dead in the water.

System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly referen

[2018-07-03 20:08] camainc commented on #12010
I posted this on another similar issue: I am having this problem with 4.2.0.0 also, and none of the supposed workarounds are working.

System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition

[2018-07-03 20:36] bricelam commented on #12538
Don't know, but that seems sufficient enough for now. Unfortunately, SQL Server and SQLite require entirely different DDL.

[2018-07-03 20:39] roji commented on #12538
Ah, got it...

Things always seem so complicated in those evil parallel universes...

[2018-07-03 21:23] SimonCropp commented on #11608
Thanks @ajcvickers

[2018-07-03 21:30] maumar opened #12540 "Query: compilation error when trying to use ToListAsync in a subquery"
Repro:

[code]

Exception:

[code]

[2018-07-03 21:48] #12358 closed

[2018-07-03 21:49] maumar commented on #12358
fixed in 3d2ba391cc1d8d6cc7b0a67ced4539067ad07a64

[2018-07-03 21:49] maumar commented on #12463
fixed in 3d2ba391cc1d8d6cc7b0a67ced4539067ad07a64

[2018-07-03 21:49] #12463 closed

[2018-07-03 22:04] shawnwildermuth opened #12542 "Using HasData with new lines breaks the migrations"
Describe what is not working as expected.
I create a HasData that has a new line in it, and the corresponding HasData doesn't deal with new lines, Need to add @"" to make it work.

### Steps to reproduce
1. Add HasData with a new line:

[code]

2. Do "dotnet ef migrations add Seeding"
3. Compile project and fails because of new lines in generated code.

### Further technical details
EF Core versio

[2018-07-03 22:31] maumar commented on #12129
fixed in 1ccc2fa6c2e0d861441cccc1fae4307e68ac363e

[2018-07-03 22:31] #12129 closed

[2018-07-03 23:08] maumar commented on #12456
Problem is in nav reweite. We have optimization when navigation is compared to another, and the navigations were converted to navigation joins, we instead compare their keys. However we don't check that both sides of the comparison are converted to navigation joins - we do the conversion separately.

In the repro code, left side is a simple navigation that can be converted, but the right side is a

[2018-07-03 23:57] david-waterworth commented on #11900
Hi

I'm seeing the same issue, I've reduced my query to the following (it's basically the typical take the ltest row per group pattern)

[code]

throws 'Query source (from Trade y in [x]) has already been associated with an expression.'

Where Trade is a type which looks like

[code]

Removing any of Select / Include / Where eliminates the error.

[2018-07-04 00:05] jasoncoe2 commented on #7058
I have hit a very similar issue with ASP.net Core 2.0.  I had copied my VS project to a new one, and i was getting this error message.  After doing some research, I was able to determine that the nlog.config file was not copied into the bin > Debug > net461 folder.  Once I did this, I was able to run my application.  I found it by running dotnet run from the command line on my project where the cs

[2018-07-04 00:51] AndriySvyryd commented on #7773
Also applies for `IncludeCompiler`. Perhaps `NavigationRewritingExpressionVisitorFactory` should accept the visitors that need the information that is lost during the rewrite and provide them with it each time a rewrite happens.

[2018-07-04 01:26] julielerman opened #12545 "SQLite provider sending Foreign_Keys ON command multiple times on same context instance"
I'm logging SQL commands using the ConsoleLoggingProvider and SQLIte.

Each SQL query in the log output is prefaced with what looks like some kind of warm-up. I don't know if this is standard SQLite behavior (google is not helping me determine that) or a problem with the logging via the provider. It is _not_ happening when I switch to the SQL Server provider. In other words, with SQL Server, I onl

[2018-07-04 01:43] SimonCropp commented on #12537
@ajcvickers  sorry for the cheese moving. but i actually think this should be in https://github.com/MicrosoftDocs/feedback. since it is not specific to only EF. thoughts??

[2018-07-04 03:38] andycmaj commented on #646
hello... not understanding which versions `--assembly` is expected to work in...

i'm trying to run migrations on a published dll and `--assembly` doesn't seem to fix the missing project error:

[code]

[2018-07-04 04:19] andycmaj commented on #646
ended up snatching `ef.dll` from the package cache during my builds...

[code]

so now i can publish with `ef.dll` and this seems to actually work for migrations, rather than `dotnet-ef.dll`

[2018-07-04 05:07] ErikEJ commented on #12545
The command text is "PRAGMA foreign_keys on"!

It enforces fk checks (off by default in SQLite)

[2018-07-04 05:08] nishantkagrawal opened #12546 "uint not working with oid Postgres Entity Framework 2.1.1"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
I have a Model where one of the field is UInt32, the respective field in PostGres is oid.

It was working before upgrade to Entity Framework 2.1.1 in 2.0.1.

[code]

### Further technical details
EF Core version: 2.1.1
Database: P

[2018-07-04 05:41] roji commented on #12546
You're not supposed to get an exception on this, but there was indeed a behavior change. The type `oid` is an internal PostgreSQL type and isn't really meant to be used in user tables. As such it is no longer mapped by default to. NET `uint`.

You can still explicitly map to `oid` by specifying the column type with the fluent API (`.HasColumnType()`) or the corresponding attribute.

Otherwise, unl

[2018-07-04 05:57] roji commented on #12546
@nishantkagrawal, I couldn't reproduce the issue, see my code below which successfully maps a CLR `uint` property to a PostgreSQL `bigint` column, as expected (via value converters).

Regardless, even if there's an issue here, it's entirely Npgsql-related so please move this issue to http://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/.

Working code:

[code]

[2018-07-04 07:10] SrinivasSrinivas opened #12547 "Using IMutableProperty.AfterSaveBehavior from other than OnModelCreating?"
Can we do the AfterSaveBehavior from a place other than OnModelCreating?
I mean the AfterSaveBehavior should be dynamic, so that whenever I update I should be able to change the AfterSaveBehavior.

### Further technical details
EF Core version: 2.1.0
Database Provider:  Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: (e.g. Visual Studio 2017 15.7.4)

[2018-07-04 08:04] hisuwh commented on #12531
That issue does share the idea of having a .First() within a select, though it is strange with my issue that removing the Type property from the projection fixes the issue.

[2018-07-04 11:28] MattOG commented on #12531
The issues appear to have the same underlying cause.
I read this issue before submitting mine and failed to see the similarity because I didn't inspect the sample you provided properly.

Specifically the issue is seen when accessing a collection within a .Select on a parent model.
The issue occurs in this code because the .GroupBy causes a collection of ThingTypeModels to be created, which is then

[2018-07-04 12:05] shaher commented on #10282
I have the same problem after upgrading to EF Core 2.1, at least for now in two different places, this code was running with no problems before upgrade from 2.0

[2018-07-04 12:09] altmann opened #12548 "V2.1 - Many thousands exceptions during first query execution"
We updated from EF Core 2.0.1 to 2.1.1. Now we face one issue. We have two queries in our application (GetById() and GetAll()).

If I execute one query the first time then the query takes longer (6 seconds) in comparison to Ef Core 2.0 (4 seconds). In Visual Studio in Diagnostic Tools we see that many thousands of Exceptions are thrown during these 6 seconds. Exception see attachment.

If I execut

[2018-07-04 12:11] julielerman commented on #12545
oh! (palm to forehead) so it is! ( the command text) duh!

Just reading up on that at https://sqlite.org/foreignkeys.html. It's not something I knew about before.

So my 3 commands are the first query followed by 2 lazy loading queries. As a warmup it makes sense on first query. But it's also being sent prior to each of the other 2 queries ..on the same instance of dbcontext.

Found this statement

[2018-07-04 12:56] shaher opened #12549 "Union: new transaction is not allowed because there are other threads running in the session"
I have the same problem after upgrading to EF Core 2.1, at least for now in two different places in the code, the same code was running with no problems before upgrade from 2.0

The issue seems to be related to union, after changing the code as below the error disappeared.
In BOTH places the problem fixed by dividing the union to multi selects and do union in memory.

This code failed
------------

[2018-07-04 15:18] Rand-Random opened #12550 "Releases Page - Version 2.0.1 latest?"
Any reason the releases page:
https://github.com/aspnet/EntityFrameworkCore/releases

Highlights 2.0.1 as latest release?

[2018-07-04 15:21] erikj999 commented on #6717
Hi @divega, great to hear from you, too.  Here's what worries me about propagating a lock hint throughout a query.  With READ COMMITTED SNAPSHOT mode, which we use and I think is the default for SQL Azure and given the query:

BEGIN TRANSACTION        -- Otherwise nothing gets locked
SELECT c.Company, c.CustNum, c.Name
FROM Customer AS [c] WITH(UPDLOCK)
JOIN Company AS [c1] ON (c.Company = c1.Comp

[2018-07-04 16:54] jemiller0 opened #12551 "Invalid ORDER BY clause is generated for query with projection that includes foreign key property"
The following query fails with EF Core 2.1.1 with following exception.
[code]
[code]
When using EF Core 2.0.2, the query works fine and produces the following SQL.

[code]
I tested with the SQL Server, PostgreSQL, and Pomelo MySQL providers and the behavior is the same for all of them. Also, I tested on .NET Framework and .NET Core.

The problem looks like it has something to do with the fact that

[2018-07-04 17:35] julielerman commented on #12545
It's definitely repeating the FKs ON command when I have 3 LINQ queries executed by a single context instance.
Is that expected? Necessary?
Thanks

[code]

[2018-07-04 17:54] igoventura commented on #12551
I think that the error is at the OrderBy in linq:

[code]

I think it's missing the dot. ASAP i'll test the project in the issue description and check.

[2018-07-04 18:18] mqudsi opened #12552 "SQL translation should be more generic and operate on end results"
Following up on the discussion in #12517, I believe there's a fundamental issue with the way SQL translation is currently handled. If there is an expression that cannot be directly mapped to an SQL equivalent, but that expression evaluates to a data type that _can_ be directly plugged in to an SQL query, then that expression should be evaluated and its result used instead of the SQL translation gi

[2018-07-04 18:19] mqudsi commented on #12517
Thanks for the reply. I have filed a new issue with some remarks on this behavior.

[2018-07-04 20:13] tuespetre commented on #12552
I agree. I think a ‘second pass’ at untranslatable expressions that can extract client-side evaluatable expressions into parameters is the way to go. I have mentioned this elsewhere before but I am not sure what the team thinks of it.

[2018-07-04 22:46] ckpearson commented on #9664
I've also just run into this issue, it took using -verbose to track down what was going on, good job there weren't any migrations to be run on one of our environments!

Our issue is that we're using Development for something other than local dev.

The startup project is configured correctly, and has the correct environment set in the debug properties, but EF core via powershell isn't honouring thi

[2018-07-05 00:33] StephanyBatista opened #12553 "A connection was successfully established with the server, but then an error occurred during the pre-login handshake."
In .Net Core 2.1 using docker SQL Server at linux I don't connect and get the error "pre-login handshake"

.NET Core SDK (reflecting any global.json):
 Version:   2.1.301
 Commit:    59524873d6

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.301/

Host (useful for support):
  Version: 2.1.1

[2018-07-05 00:35] jholovacs opened #12554 "Incorrect documentation: ObsoleteAttribute referencing IRelationalTypeMappingSource"
Latest release of EF Core has ObsoleteAttributes peppered across the code base with the following message or similar:

...but there's a problem with that.  The aforementioned interface does not have this method.  There is a `FindMapping(Type)`, but its signature is of `CoreTypeMapping`, not the expected `RelationalTypeMapping`; `CoreTypeMapping` does not have a GenerateSqlLiteral() method.

[2018-07-05 01:33] granthoff1107 opened #12555 ".Net-Core 2.1 DTC Escalation from same context"
I'm running some tests and I'm getting an error:

[code]
The cause is that I'm using:
[code]
and my Services Requests from the Service Collection a DbContext instead of my CustomContext, but my services register a CustomContext with the DI for DbContext
[code]
I thought DTC Escalation only occurs when makes requests to seperate contexts,  Is this a bug?

Here's my call stack:

   at System.Transac

[2018-07-05 03:03] AtomicBlom opened #12556 "Performing a Subquery on a string-mapped Enum results in InvalidOperationException"
I have a database with a series of Reference tables that have Enums mapped to strings using `.HasConversion(typeof(string))`

We have run into an issue where attempting to perform a query that uses the reference table's mapped enum in a subquery results in an InvalidOperationException.

I'm able to query the reference tables using the entities and they are returned as expected. I'm also able use .

[2018-07-05 05:22] yyjdelete commented on #12489
Looks like #11765 I reported before? But the latter is catched and will not throw, only fire an FirstChanceException, which is annoying for debug and logging.

[2018-07-05 08:39] n00bje opened #12557 "Update from 2.0 to 2.1.1: InvalidCastException when casting to/from enum in query."
In EF Core 2.0 queries like these would work:
(Status is an enum)

[code]

However, after updating to EF Core 2.1.1 I get the following exception:

[code]

### Steps to reproduce
Project: [EFCoreTest.zip](https://github.com/aspnet/EntityFrameworkCore/files/2165725/EFCoreTest.zip)

[code]

[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.

[2018-07-05 09:43] zuckerthoben commented on #3726
I guess option 2 only works when putting in constant int? I have an API that forwards the skip and take parameters to the client. That way I dont get parameterized queries, without the expression overload known from EF6.

Background is that my Azure database is recommending "Parameterized Queries" and I don't see a way to fix this in my search action that uses EF Core. I am inclined to rewrite the

[2018-07-05 09:52] CobeLapierre opened #12558 "ArgumentException when assigning readonly list to new object in query"
I'm trying to do the following:
Selecting a readonly list in a query and assign to a new object results in an argument exception.

I have an object which has a property of type IReadOnlyList.

[code]

This property is working by using the following fluent api mapping:

`builder.Metadata.FindNavigation(nameof(T1.T2)).SetPropertyAccessMode(PropertyAccessMode.Field);`

Repository:

[code]

(of course

[2018-07-05 11:34] reberinformatik commented on #12527
This seems to break also https://github.com/aspnet/EntityFrameworkCore/issues/11484

[2018-07-05 12:59] BrianARice commented on #1282
I inherited a project that had IDbSet<ApplicationUser> Users... and was able to query the AspNetUsers table (not sure why this worked) with this to, for example, sort all users by UserName. This ability was kind of nice... not sure how to reproduce this behavior in Core.

[2018-07-05 13:09] Materix opened #12559 "Generating invalid SQL for RenameTable for 2.1.0-preview1 version"
I have migration generated with version `2.1.0-preview1-27377`. In this migration renaming table was generated as
[code]

During creating database using IIS APPPOOL user (with default schema set to `IIS APPPOOL\DefaultAppPool`) exception occured:
[code]

Generated SQL:
[code]

Firsly, there is no escaping for @defaultSchema and therefore generated SQL is invalid.
Secondly, there should not be tran

[2018-07-05 14:50] viveknuna commented on #12480
@ajcvickers Please let me know if you have any update on this?

[2018-07-05 15:06] BlaiseD opened #12560 "Must be reducible node System.ArgumentException upgrading to EF Core 2.1.1"
The exception looks similar to #11933 but the query is different and the stack trace is not identical.  In case the problem source is unrelated please find the description below.

The following works fine in 2.0.1:
[code]
After upgrading to Microsoft.EntityFrameworkCore.SqlServer version 2.1.1 from version 2.0.1, a System.ArgumentException gets thrown with the following message and stack trace.
[c

[2018-07-05 15:25] thomasdc opened #12561 "Value Conversion generates invalid query"
`EnumToStringConverter` works fine when persisting to the database, as documented [here](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions):

[code]

However, when I query the database with a filter on the enum:

[code]

EF Core underlying generates a SQL expression filtered on a number instead of the string representation.

[code]

This is of course an invalid query since the Mo

[2018-07-05 15:29] jzabroski commented on #9436
@ajcvickers  oy vey.... I think you should close #5536 and create a new ticket with clear scenarios. How is anyone supposed to contribute to such unwieldy tickets?

Here is one possible ticket:
* Update Cascade Delete documentation's delete scenario table to explain interaction with lazy loading and proxies

Note, this wouldn't solve any problems, just call out unaddressed gaps in the API which ca

[2018-07-05 15:41] srungta commented on #6554
@Sojaner @AndriySvyryd
I have a similar issue.
A part of our models is as below.
[code]
This created a migration that added two foreign keys `IntentId` and `IntentStagingId` to the TopicStaging table.The migrations have already been applied to the database. Is there any way to drop the extra `IntentStagingId` column and maintain a single reference?

My main concern is that when i try to include th

[2018-07-05 15:41] jzabroski commented on #9436
I created a pull request to start refactoring the documentation, so it will be clearer which scenarios result in run time exceptions, here: https://github.com/aspnet/EntityFramework.Docs/pull/810

[2018-07-05 15:49] Sojaner commented on #6554
@srungta I highly recommend it to start using the fluent api for configuring your model-first ef.
I'm not at my computer right now so I can't write the piece of code needed but I'm pretty sure that you will need to define the parent-child inheritance (in my preference using the fluent api) before it would start working properly.

Also, using the fluent api, you can define the keys including the fo

[2018-07-05 15:57] jzabroski commented on #5536
@sam-wheat I think you and I are on the same page; I want user stories/scenarios, not big hairy, ambiguous tickets like "turn-key disconnected entities", since I have no idea what that means.

In my opinion, the biggest mistake EF makes is tightly coupling requiredness relationships to Delete. It's one of those solutions only a computer scientist would think up, and it creates gaps/run-time errors

[2018-07-05 16:00] 935main commented on #757
Does someone else saying 'Please' make a difference?  I'm about to begin a migration to EFCore and this feature would suuuuure make that transition easier.  Please?

[2018-07-05 16:23] ajcvickers commented on #12537
@SimonCropp We can change what we do for EF packages. For other packages, you'll need to file an issue in an appropriate place where the owners of those packages will see it. I suspect in all cases the issues should be in "code" repos not docs repos because the packages are generated by the build. The same thing applies to API docs. For other packages in ASP.NET, https://github.com/aspnet/Home wou

[2018-07-05 16:35] bricelam opened #12562 "Test dotnet-ef 3.0 on .NET Core 2.0 and 3.0 projects"
We may need to cross-target ef.exe to make this work, but we should test and see.

[2018-07-05 17:11] ajcvickers commented on #12539
@danobri Can you send the project to me? I am "avickers" at this place I work--microsoft.com

[2018-07-05 17:13] ajcvickers commented on #10639
@camainc Can you post your full csproj?

[2018-07-05 17:17] ajcvickers commented on #12545
@julielerman It is expected that this command is sent each time the connection is opened. So, as you know, since the connection is by default opened and closed for each query, then this expected. However, if you are opening the connection only once and this is still sent before each query, then that would be a bug.

[2018-07-05 17:20] SidShetye commented on #3060
What's the definitive final guide on singularization of entity classes and pluralization of collections? Documentation is [empty](https://docs.microsoft.com/en-us/ef/core/managing-schemas/scaffolding) (as of now) and across the last 3 years there are multiple offered solutions on stackoverflow and github; esp as EF Core has evolved (e.g. dbsets now take the table names i.e. pluralized)

For some b

[2018-07-05 17:23] ajcvickers commented on #12546
@roji I wonder if this issue happens when the column already exists in the database as an `oid` and then 2.1 is used which expects the column to be a `uint`?

[2018-07-05 17:23] ajcvickers commented on #12546
Closing as a PostgreSQL provider issue, as stated above by @roji

[2018-07-05 17:32] ajcvickers commented on #12550
@Rand-Random Because we missed updating it.

[2018-07-05 17:49] ajcvickers commented on #12554
@jholovacs The GetMapping methods are extension methods--see https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore.Relational/Storage/RelationalTypeMappingSourceExtensions.cs

However, I'm curious what you are doing that needs this--these methods are commonly used by providers or other low-level extensions. It's pretty unusual for applications to need them.

[2018-07-05 17:55] ErikEJ commented on #3060
@SidShetye "EF Core Power Tools" reverse engineer has pluralization

[2018-07-05 17:58] ajcvickers commented on #12555
@granthoff1107 This:
[code]
means register the service defined by the type `DbContext` as implemented as an instance of `CustomContext`. It specifically does not mean that CustomContext should be resolved from D.I., even though its constructor arguments _are_ resolved. Yes, this is confusing, but not something that EF can change.

So, this means that `CustomContext` and `DbContext` resolved from t

[2018-07-05 18:01] jaredcnance commented on #12440
@ajcvickers I did a write up about my issue and solution here: https://nance.io/a-better-story-for-asp-net-core-integration-testing/

I would really appreciate any feedback or suggestions you might have. Also, it would be pretty awesome if something like this was an officially supported feature. Do you think there would be any possibility of this and if so, do you have any suggestions for how I co

[2018-07-05 18:02] danobri commented on #12539
Great - thanks!  On it's way...

[2018-07-05 18:04] ajcvickers commented on #3726
@zuckerthoben Can you file a new issue with a runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can investigate?

[2018-07-05 18:06] ajcvickers commented on #1282
@BrianARice Should be able to use the DbSet class instead.

[2018-07-05 18:10] danobri commented on #12539
@ajcvickers The email is getting blocked due to "executable content."  I tried changing the zip file to a txt extension, but that did not work.

[2018-07-05 18:12] granthoff1107 commented on #12555
@ajvickers, oops I was more confused about this because I thought it only occurred for different databases, but it’s for nested as well

[2018-07-05 18:17] ajcvickers commented on #12539
@danobri Clean the build to strip out all executables before zipping. There shouldn't need to be any DLLs, etc. in there as everything will be either restored from NuGet or built.

[2018-07-05 18:20] danobri commented on #12539
[EfPerformanceExperiment_enc.zip](https://github.com/aspnet/EntityFrameworkCore/files/2167762/EfPerformanceExperiment_enc.zip)

Will email you instructions on opening this file...

[2018-07-05 18:31] danobri commented on #12539
Done - looks like it went through this time - let me know if you got it.  You will need to run the SCHEMA script to create the database, and DATA script to seed the database.  You may also need to alter the database file locations in the SCHEMA script to work with whatever version you have installed.

[2018-07-05 18:45] ajcvickers commented on #12471
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-07-05 19:05] camainc commented on #10639
Actually I eventually worked through this after spending a couple of hours on Google and StackOverflow.

I had to add the following to my web.config:

[code]

The key was figuring out the correct version number for the newVersion attribute.

[2018-07-05 19:17] jzabroski commented on #12443
Can you post sample repro code?

[2018-07-05 19:22] jzabroski commented on #12542
@shawnwildermuth  What generated code does the  "dotnet ef migrations add Seeding" command generate? I was a bit confused... are you saying that doing @"" solves the problem?
As a workaround, I recommend using FluentMigrator.

@ajcvickers  I feel you should push customers harder on submitting complete repros. How much time does Microsoft waste even building test repros for this stuff?

[2018-07-05 19:44] jzabroski commented on #12552
This can be done outside EF, or on top of EF. Please see the excellent expression transformation library, [erecruit.Expr](https://github.com/fsoikin/erecruit.Expr).

This library is agnostic to EF, although there are some clever optimizations that [handle problems with how EF caches queries with IEnumerable.Contains expressions](https://github.com/fsoikin/erecruit.Expr/blob/656f5a30670ab7cbb815cf7

[2018-07-05 20:30] maumar opened #12564 "Query: invalid SQL for queries with GroupBy, OrderBy group key projecting a constant"
query using Northwind model:

[code]

generated SQL:

[code]

[2018-07-05 20:31] mrhmouse commented on #11687
I'm seeing something similar when the projection is a nullable struct in a conditional expression, like this:

[code]

[2018-07-05 20:32] maumar commented on #11687
@mrhmouse are you using EFCore version 2.1?

[2018-07-05 20:36] maumar commented on #12564
Similar problem happens for group aggregate queries that project constant afterwards:

[code]

[code]

[2018-07-05 20:48] ajcvickers opened #12565 "Hiding a property in a base class and then attempting to map both throws"
Moved from https://github.com/aspnet/Identity/issues/1855

More information on the context can be found here:
- https://github.com/aspnet/EntityFrameworkCore/issues/12458

I get this:

Here a repo
- https://github.com/ckams/-Buggy-__BackingField

[2018-07-05 20:48] ajcvickers commented on #12565
Note for triage: the issue is triggered by a hiding a property in a mapped base class with another property in the derived class when attempt is made to include them both in the model. Simplified repro:

[code]

[2018-07-05 20:57] maumar opened #12566 "Query: error when projecting is a nullable struct in a conditional expression"
Reported here: https://github.com/aspnet/EntityFrameworkCore/issues/11687 by @mrhmouse

query:

[code]

[2018-07-05 21:05] maumar opened #12567 "Query: NRE for query with top level DefaultIfEmpty and projecting a constant"
query using Northwind model:

[code]

query plan:

[code]

Exception:

[code]

[2018-07-05 21:20] maumar opened #12568 "Query: compilation error for query with Except projecting a constant"
query:

[code]

exception:

[code]

[2018-07-05 21:29] maumar opened #12569 "Query: invalid sql generated for query with groupby aggregate pushdown projecting constant on top"
query using Northwind model:

[code]

Query plan:

[code]

exception:

[code]