[2016-04-19 19:17] rowanmiller commented on #5047
Don't think so, if you are happy we understand it and there is nothing to change then feel free to close 😄

[2016-04-19 19:17] #5047 closed

[2016-04-19 19:18] natemcmaster commented on #5069
Actually, this UWP tooling just released publically last week. It's a little hard to see, but you need to have .NET Native SDK 1.3.1 installed and use Microsoft.NetCore.UniversalWindowsPlatform 5.1.0. Also, make sure you are building with "Compile with .NET Native tool chain" enabled (on by default in "Release" mode.)

The release was announced here: https://blogs.msdn.microsoft.com/visualstudio/2

[2016-04-19 19:49] smitpatel commented on #5049
dupe of #4877. fixed in latest code already.
Generated SQL now
[code]

[2016-04-19 19:49] #5049 closed

[2016-04-19 19:50] gdoron opened #5117 "Discussion about evaluate untranslatable queries on the client"
@rowanmiller @divega  Can we please have a discussion about the _we do not know how to translate the code to be evaluated on the server, we'll do it on the client instead_ feature?

I for one, think it's a very risky feature, that will cause people significant performance issues when they'll go live-production.

Instead of evaluate on the client and log a warning (most people I believe won't even

[2016-04-19 20:00] smitpatel commented on #5117
The behavior can be changed with following code in `OnConfiguring` method
`new SqlServerDbContextOptionsBuilder(optionsBuilder).QueryClientEvaluationBehavior(QueryClientEvaluationBehavior.Throw);`
Visibility is questionable.

[2016-04-19 20:07] davesmits commented on #5069
i did this with the 1.3.1 release; before that release the number of generics EF core used let the compiler go out of memory. .net native feedback alias helped me to figure that out. If using .net core 5.1 EF RC2 doesnt want to install and with the RC1 having those errors as mentioned on top

[2016-04-19 20:08] natemcmaster commented on #5069
@davesmits can you share your project.json and project.lock.json?

[2016-04-19 20:10] davesmits commented on #5069
@natemcmaster when using .netcore 5.1 and rc 1?

[2016-04-19 20:13] natemcmaster commented on #5069
Ms.NetCore.Uwp 5.1 and RC2. These should work, which is why I'm asking. If they don't, then we need to re-open https://github.com/aspnet/EntityFramework/issues/4802

[2016-04-19 20:15] gdoron commented on #5117
@smitpatel

A. I agree it's not visible at all.
B. It should be the default. EF Core should be safe by default, not the other way around.
C. It should be explicit **per query**, you might not be aware of all the places you'll get hit by this.
D. It shouldn't exist at all IMHO... I think my suggestion is better, forcing the developer on each query to explicitly say he wants to evaluate the query on

[2016-04-19 20:23] divega commented on #5117
Customer feedback can always bring new data and help us revisit issues, change our minds and make better decisions. In this case AFAIR we discussed the default behavior and intentionally landed where we are now. I don't remember all the details of the discussion right now but I am sure we considered all the points above, plus the complexity of writing those queries explicitly as client (which assu

[2016-04-19 20:28] smitpatel commented on #5050
It is fixed in latest dev 😃
Repro code
[code]
Migration generated
[code]
Generated Sql script
[code]

[2016-04-19 20:28] #5050 closed

[2016-04-19 20:30] gdoron commented on #5089
I like the idea, I never used RavenDb in production so I can't say too much about it.
But I know that one of its core features is exactly this "safe by default".
Maybe even adding another warnings like too long queries, too many connections to the DB in one request.

All these features exist in RavenDb.

[2016-04-19 20:31] natemcmaster opened #5119 ".NET Native: LINQ query with anonymous types throw NullReferenceException"
With UWP Tooling 1.3.1 (latest at time of writing), some queries that use anonymous types fail on .NET Native (aka Universal Windows Platform apps on "Release" mode).

Example query that fails:

[code]

Example error:

[code]
## Workaround

Replace anonymous types with concrete types. Although a little cumbersome, this should fix this issue. It also improves the speed _and_ functionality of .NET N

[2016-04-19 20:35] davesmits commented on #5069
which myget url i can best use? i am now using https://www.myget.org/F/aspnetcirelease/api/v3/index.json (changed it this evening) and the EF library is now 7.0.0.0-RC1-update1

[2016-04-19 20:38] natemcmaster commented on #5069
I'd recommend https://www.myget.org/F/aspnetrelease/api/v3/index.json. It's been through testing. https://github.com/aspnet/Home/wiki/NuGet-feeds

Here is my project.json
[code]

[2016-04-19 20:44] davesmits commented on #5069
if i add via the nuget UI i get this error: Package restore completed successfully for 'XpertFinder.Model'.
Unable to find metadata of Microsoft.Data.Sqlite.1.0.0-rc3-20550 ; when i manually edit the project.json it works. i am now building the release build and wil lrun wack one more time

[2016-04-19 20:48] divega commented on #5119
Curious about what the failure looks like.

[2016-04-19 20:49] natemcmaster opened #5121 "Discussion: EF on UWP"
Discussion item for https://github.com/aspnet/Announcements/issues/170 and other issues with EF + UWP.
## Prerequisites

EF on UWP requires UWP Tools 1.3.1, which was release with VS 2015 Update 2. (See https://blogs.msdn.microsoft.com/dotnet/2016/04/18/whats-new-for-the-net-native-compiler-and-runtime-in-visual-studio-2015-update-2/.)
## Current known issues
- Queries with anonymous types may fai

[2016-04-19 20:53] davesmits commented on #5069
the binary analyzer of wacks returns less faults.. but still some:

File C:\Program Files\WindowsApps\SparkedApps.XpertFinder_2.1.51.0_x86__pkpvvn6f26pj6\sqlite3.dll has failed the AppContainerCheck check.
◦File C:\Program Files\WindowsApps\SparkedApps.XpertFinder_2.1.51.0_x86__pkpvvn6f26pj6\sqlite3.dll has failed the DBCheck check.
◦File C:\Program Files\WindowsApps\SparkedApps.XpertFinder_2.1.51

[2016-04-19 20:53] natemcmaster commented on #5119
Added example error and stack trace.

[2016-04-19 21:07] divega commented on #5119
Thanks. Failure isn't great. I hope this can be fixed in .NET Native. I didn't know that nominal types made LINQ interpretation faster. That is interesting.

[2016-04-19 21:10] mauricew commented on #5035
I'm using EF RC1, I just did a test using .NET Core (1.0.0-rc1-update1) and it works successfully, but in Mono 4.2.3 it does not work.

Just to make a record of it, here is a more thorough example of what I did with anonymized variables. It has 2 includes and one join.

[code]

x.One.Date is a smalldatetime in this example

[2016-04-19 21:18] ajcvickers commented on #4285
Fixed with #5090. Marking for re-triage to discuss if we want to do anything else to handle structural changes introduced only for use by some providers.

[2016-04-19 21:19] #4988 closed

[2016-04-19 21:24] #4375 closed

[2016-04-19 21:27] #3253 closed

[2016-04-19 21:44] divega commented on #5035
@smitpatel

Talked to @anpete and we both expected DateTime.Parse() inline in the query to be funcletized (i.e. partially evaluated and included in the query) instead of triggering client side evaluation. Maybe there is something in this case that we missed or that we have regressed?

[2016-04-19 21:54] natemcmaster commented on #5069
I just tried using the WACK on a UWP app with EF RC2, compiled in release mode. Everything passed for me (except the branding...guess it didn't like my logos). http://bl.ocks.org/natemcmaster/raw/aee79d6c21abd5413ab7607f80552bc0/

[2016-04-19 22:08] GSPP commented on #5089
@gdoron in case you are interested: the safe by default design in RavenDB often means truncating result sets silently or delivering incomplete data (you can search the web for that). Such things are not found during testing. EF should not do that... But warning in an opt-in way would be useful.

[2016-04-19 22:09] anpete commented on #5089
@GSPP Don't worry, we are NEVER going to do that!

[2016-04-19 23:11] gdoron commented on #5089
@GSPP
I know, It's a trade off. [TANSTAAFL](https://en.wikipedia.org/wiki/There_ain%27t_no_such_thing_as_a_free_lunch)
Though enumerate all the results and log a warning might be the better option in my humble opinion.

[2016-04-20 04:58] jamiewest opened #5123 "Support Sql Server Extended Properties"
It would be really helpful to access/manage extended properties on the server, in particular for documentation purposes. Currently we have to do this via the [sp_addextendedproperty](https://msdn.microsoft.com/en-us/library/ms180047.aspx) and [sp_dropextendedproperty](https://msdn.microsoft.com/en-us/library/ms178595.aspx) stored procedures. Having some extension methods and annotations would grea

[2016-04-20 05:41] tiwariarvin commented on #1864
Thanks, will keep an eye.

[2016-04-20 06:06] StefH opened #5124 "Question: Are non-parameterless constructors and initializers supported by this latest .net core version from EF?"
I did observe in some test-code that I wrote, that it seems that this latest EF can handle this ? Or is this still not supported ?

[2016-04-20 08:30] xyting commented on #4996
@rowanmiller
public class Blogging : DbContext
{
    public DbSet<Blog> Blog1s { get; set; }
    public DbSet<Blog> Blog2s { get; set; }
    ...
}

public class Blog
{
    public int BlogId { get; set; }
    public string Url { get; set; }
}

could I have two same structure tables? one table named Blog1s another table named Blog2s

[2016-04-20 08:32] xyting commented on #4996
@rowanmiller
public class Blogging : DbContext
{
public DbSet<Blog> Blog_One { get; set; }
public DbSet<Blog> Blog_Two { get; set; }
...
}

public class Blog
{
public int BlogId { get; set; }
public string Url { get; set; }
}

Could I have two same structure tables? one table named Blog_One another table named Blog_Two

[2016-04-20 09:20] ikourfaln commented on #5030
thanx @rowanmiller for replay

[2016-04-20 10:33] Suchiman commented on #5117
I think it's nice that EF can do this now, especially since it can reorder queries to do as much as possible on the server, which isn't the case with forcing ToList. And #5089 seems to perfectly address the major concern about client eval.

But to address the concerns named here, i would suggest to provide a `WithPartialClientEvaluation(bool)` [*naming WiP*] akin to `AsNoTracking()`. This provides

[2016-04-20 11:29] gdoron commented on #5117
The unbound feature is indeed nice, but not enough.
Besides of returning too many results, if only parts of the query will be translated to SQL(or whatever NoSQL language), the server might not use existing indexes.

@Suchiman I'm not sure why you prefer having `WithPartialClientEvaluation` instead of simply `ToList`.

[2016-04-20 11:36] Suchiman commented on #5117
@gdoron

That means that you can have `Where(runningOnServer).Where(runningOnClient).Where(runningOnServer)` and EF takes care of ordering the query in a fashion that allows the first and last `Where` to execute on the server while only the second executes on the client. It also abstracts away which parts can actually be translated to the server which may vary by store and version.

Also calling T

[2016-04-20 11:43] gdoron commented on #5117
@Suchiman

Since EF builds Expression tree, it doesn't matter (AFAIK) if the conditions are chained with separate `Where`s or in a single `Where`.

That's a bad thing. You should be very aware and excplicit about what won't run on the server as it can have a huge impact on the performance.

You can then use `AsEnumerable` instead of `ToList`

[2016-04-20 11:51] gdoron commented on #4996
@xyting Sounds like a bad design to me.
What is the actual problem you're trying to solve here?

[2016-04-20 12:06] sergeitemkin commented on #5052
Thanks @rowanmiller, can't believe I missed that!

[2016-04-20 12:15] Suchiman commented on #5117
@gdoron

Yes correct, my sample is missing a bit of context, it was associated with the second sample:
EF cannot reorder the query if you insert something to force client eval
`Where(runningOnServer).AsEnumerable().Where(runningOnClient).Where(couldRunOnServer)`

I'll side here with @divega. It's certainly something you should keep an eye on but we could also start forbidding LINQ at all because i

[2016-04-20 12:23] mikes-gh opened #5125 "Nit - Spelling on Error Message for missing Microsoft.EntityFramework.Commands"
https://github.com/aspnet/EntityFramework/blob/72af85c13f09654dea9e8cc91a8a70d71c7f1451/src/dotnet-ef/ReflectionOperationExecutor.cs#L85

Microsoft.EntityFramework.Commands -> Microsoft.EntityFrameworkCore.Commands

[2016-04-20 12:32] gdoron commented on #5096
It has very little to do with EF.
You're basically asking how to run DDL scripts on production database.

[2016-04-20 12:57] mikes-gh opened #5126 "Consider ignoring common Tooling tables eg __RefactorLog when doing reveng"
2 examples I have in my reveng generated code.
__RefactorLog (used my SSDT)
dtproperties (not sure about this one I think tool is now dead so maybe moot).

Consider an ignore list for reveng
Not sure how __EFMigrationHistory is ignored.
I cant see any scenario where the above would be useful in the dbcontext and model classes.

[2016-04-20 12:58] funzeye opened #5127 "Any Concurrency End-to-End Tutorials?"
Just looking to implement concurrency.
**I know** there is a tutorial on the **docs site** but that just shows you how to add the timestamp column.

Im assuming I need to update the timestamp value before I save changes to the database each time? This isnt mentioned in that tutorial...

What value do I use? a number, a date? the values that are added automatically when adding new record look like:

[2016-04-20 13:23] Imjamshid opened #5128 "FromSql is not working"
FromSql option is not working ignored type.

Ignored by using

modelBuilder.Ignore<type>

Context.type.FromSql("select ....").

It thrown an exception from framework.. its working if we removed the ignore from the model builder

[2016-04-20 13:42] ErikEJ commented on #5127
I do not think you need to do anything

[2016-04-20 13:55] f0rt commented on #5096
I'm asking about something like this that works with the latest EF: http://www.codeproject.com/Tips/814618/Use-of-Database-SetInitializer-method-in-Code-Firs

[2016-04-20 14:06] gdoron commented on #5096
I would never use it on production, but you can use something like this:

	using (var serviceScope = app.ApplicationServices.GetRequiredService<IServiceScopeFactory>()
	    .CreateScope())
	{
	    serviceScope.ServiceProvider.GetService<RegistryDbContext>()
	         .Database.Migrate();
	}
But don't.

You want to backup data/scheme on production DB, manually read and apply one by one the migratio

[2016-04-20 14:10] gdoron commented on #5128
You probably want to add more details to the issue.
With real full code of the query, configuration and the error you get.

[2016-04-20 14:20] f0rt commented on #5096
I promise I won't use it on production. :) I'm already using sql script generation for the migrations. I can see the benefits. Thank you.

[2016-04-20 14:27] funzeye commented on #5127
Okay.
I assumed that was the case but it was throwing an error.

You're right though, I found what the issue actually was - my issue was being caused by not declaring the timestamp property in my viewmodel class also, I just had it declared in the model class only so was being set to null during the update process.
Its working now.

[2016-04-20 14:40] ziombo opened #5129 "SQLite database update problem"
I'm trying to deploy my asp.net 5 web app on linux server and I'm using EF 7 and SQLite. I managed to add a migration but I get an error when trying to update database:

[code]

[2016-04-20 15:59] natemcmaster commented on #5129
@ziombo You are seeing two errors here. First, your app is trying to use SQL Server, not SQLite. (The stack trace has System.Data.SqlClient). Check for "UseSqlServer" somewhere in your code.

Second, missing System.Net.Security was a known issue of RC1. See https://github.com/aspnet/EntityFramework/pull/3689#issuecomment-158201904 for the workaround.

Closing as a duplicate of https://github.com/a

[2016-04-20 16:04] natemcmaster commented on #5126
As you may know, dbcontext scaffolding can [take parameters](http://docs.efproject.net/en/latest/cli/powershell.html#scaffold-dbcontext) to filter on specific tables and schema. For now I consider this the best way to prevent these tables from being scaffolded. To solve this generally, we'd need a clear answer to "what are common table names that should always be excluded?"

[2016-04-20 16:51] SimonOrdo opened #5130 "Including Multiple Navigation Properties throws exception"
DNX 4.5.1 - EF 7.0.0-rc1-final

`var course = _context.Courses.Where(x => x.ID == 5).Include(y => y.LastEditByNavigation).Include(z => z.UploadedByNavigation).ToList();`

throws

Courses looks like

[code]

I thought this was fixed in beta8, but it's still happening here.

Using either include by itself works fine.  Using both fails.

Debug output doesn't print any Query output, so I'm not sure it

[2016-04-20 16:56] ziombo commented on #5129
Sadly, this didn't fully solve my issue. While using `optionsBuilder.UseSqlServer("home/demo/test.db");` throws me the following error:

[code]

while using `optionsBuilder.UseSqlite("/home/demo/test.db");` throws me this:

[code]

[2016-04-20 16:56] anpete commented on #5117
@gdoron @smitpatel Just to clarify on the API for disabling client-eval: It can also be set in the options lambda passed to UseSqlServer().

[2016-04-20 16:59] anpete commented on #5128
FromSql only currently works with mapped (not ignored) entities. Tracked here: #1862.

[2016-04-20 17:01] natemcmaster commented on #5129
@ziombo from these errors it looks like you aren't missing a few steps in configuring your SQLite provider. You need this in your code to use sqlite:
[code]
See http://docs.efproject.net/en/latest/platforms/coreclr/getting-started-linux.html for a walkthrough of everything you need to setup a project to use SQLite + Linux and See http://docs.efproject.net/en/latest/providers/sqlite/index.html for

[2016-04-20 17:04] anpete commented on #4996
@xyting You would need two different context types for that. At a very high level, EF operations are keyed on the CLR type, and so a single CLR type can only map to one table (currently).

[2016-04-20 17:09] ziombo commented on #5129
`optionsBuilder.UseSqlite("Filename=myfile.db");` im using exactly this line:

[code]

[2016-04-20 17:34] ErikEJ commented on #5126
Providing exclusion filter rather than inclusion filter would be a good start

[2016-04-20 17:46] rowanmiller commented on #5093
@Skinney migrations are mostly provider agnostic now. Where you do need to write provider specific code, there is an `ActiveProvider` property on the `MigrationBuilder` that is passed to the `Up` and `Down` methods, which allows you to write conditional logic based on the provider you are targeting.

One thing to bear in mind though, is that SQL Server supports a lot of schema changes, whereas SQL

[2016-04-20 17:47] rowanmiller commented on #5094
Duplicate of https://github.com/aspnet/EntityFramework/issues/795. Not currently supported, but on our backlog.

[2016-04-20 17:48] mikary commented on #2558
Added transaction suppression in #4917

[2016-04-20 17:48] #2558 closed

[2016-04-20 17:50] rowanmiller commented on #5096
In many cases you will want a script, potentially to hand off to a DBA etc. But there are also scenarios where letting EF run migrations can be acceptable - in the context of ASP.NET Core, the code @gdoron shared is the right way to do this. The built-in publish functionality in Visual Studio is also going to enable the ability to run migrations as a deployment step - rather than at application st

[2016-04-20 17:55] rowanmiller commented on #5071
This was a known issue with migrations in RC1 which has since been fixed and will ship in the RC2 release. Migrations will now combine the two properties into a single column - provided they are the same data type etc.

[2016-04-20 17:58] rowanmiller commented on #5109
The ability to map to classes/properties that are not part of the model/database is tracked by https://github.com/aspnet/EntityFramework/issues/1862 and is not currently implemented in EF Core.

[2016-04-20 18:01] ajcvickers commented on #5074
@rowanmiller @divega @AndriySvyryd @anpete Draft exception message:

[2016-04-20 18:03] joekaiser opened #5131 "EF6: Stackoverflow exception when selecting a large number of columns from a view and not using a strongly typed entity"
We have a bit of an odd use-case and I think I may have uncovered a bug. I am going to be as clear as I can, but please ask any questions you need for clarification. I know this bug (if it is a bug) isn't going to be fixed today, so if someone can point me to the location in source this might originating from, I can take a look and 1) see if I can fix it or 2) if it isn't a bug in EF adjust my cod

[2016-04-20 18:12] dazinator opened #5132 "Multiple DbContexts, wrong DbContextOptions being injected."
I have multiple `modules` that run code on start up of my ASP.NET 5 RC 1 application. Each module needs to register its own `DbContext`. The modules are not aware of eachother. They run the following code to register their paritcular `DbContext`:-

[code]

What I notice, when I place a break point in the constructor of a particular `DbContext` instance, is that the wrong `DbContextOptions` are bei

[2016-04-20 18:23] Skinney commented on #5093
Great!

[2016-04-20 18:35] anpete commented on #4903
@divega We need the DISTINCT in general because the sub-query may return duplicates (depending on the top-level query. E.g. For this SelectMany query:
[code]
We would generate:
[code]
If the DISTINCT is omitted, then the second query will return 4105 Orders cf. just 830.

WRT EXISTS, as @GSPP observes, the second query could be written as:
[code]
We went with INNER JOIN because the query generatio

[2016-04-20 18:40] #4285 closed

[2016-04-20 18:42] #5095 closed

[2016-04-20 18:44] ElvisHalil opened #5133 "EF 7 Wont Save Changes on Entity With Many-to-Many Relationships"
I'm not sure if I'm doing something completely wrong (if so, PLEASE let me know!), but I am trying to add to a entity (Devices) which has some relationships using Code First (EF Core).  Here is the model in question:

    [Table("Devices")]
    public class Device
    {
        public int ID { get; set; }

        public string SerialNumber { get; set; }

        public int DeviceModelID { get; se

[2016-04-20 18:49] f0rt commented on #5096
Thank you for the reply. I'm glad to read that it will be integrated in the publish wizard.

[2016-04-20 18:50] rowanmiller commented on #5125
These strings should all be moved to a resources file too

[2016-04-20 18:51] rowanmiller commented on #5126
We should handle this with the ability to exclude tables

[2016-04-20 18:52] rowanmiller commented on #5126
BTW we should be ignoring system tables... not sure if __RefactorLog is a system table or not

[2016-04-20 18:57] rowanmiller commented on #5132
@dazinator you want to use the generic options type:

[code]

BTW we have improved the exception message in RC2 to give more info on this situation

[2016-04-20 19:02] ElvisHalil commented on #5133
Just some more context from the Database itself, the Device Table at the time of posting this looks like this:

[code]

[2016-04-20 19:02] rowanmiller commented on #5074
👍

[2016-04-20 19:02] gdoron commented on #5096
Just don't forget your promise @f0rt ...
You don't want to be famous like [this fellow](http://www.independent.co.uk/life-style/gadgets-and-tech/news/man-accidentally-deletes-his-entire-company-with-one-line-of-bad-code-a6984256.html)

[2016-04-20 19:05] ElvisHalil commented on #5133
Please note that the errors are pointing to 2 different devices, not the device I'm trying to Save... No Idea what the issue is here but I'm having a hard time figuring it out myself.  Any help would be greatly appreciated.

[2016-04-20 19:16] gdoron commented on #4996
@xyting but why not just add another property-column with the tenant name? (I guess you are trying to solve multi tenancy here) or other solutions like that.

[2016-04-20 19:16] ErikEJ commented on #5126
You should add: is_ms_shipped to the tables query - and refactorlog is a user table:

https://technet.microsoft.com/da-dk/library/ms190324(v=sql.110).aspx

http://stackoverflow.com/questions/10029979/how-to-check-if-sql-server-tables-are-system-tables

[2016-04-20 19:35] GSPP commented on #4903
@anpete the answer on Stack Overflow is misleading and, for SQL Server, wrong. On Stack Overflow I'm one of the users you'd consider "authoritative" for SQL Server, so I'll answer this here (I don't want to link the profiles publicly):

The cases where INNER JOIN is faster than EXISTS are coincidental (cardinality estimation errors and such). Internally, EXISTS *always* is a join. It is marked spe

[2016-04-20 19:47] anpete commented on #4903
@GSPP Thanks for the info; great to get detail on this from someone who knows the domain.

The main idea of the answer in the SO thread that I was referring to was "If you do an inner join on a recordset with DISTINCT applied (to get rid of the duplicates), EXISTS is usually faster.", which seems to match what you are saying above. Am I missing something?

I'm going to see if we can do anything fo

[2016-04-20 19:53] divega commented on #4903
@GSPP Thanks for the details! 👍

@anpete Makes sense. We should probably have a bug to use EXISTS and discuss it in triage. Sounds like it would be a good improvement.

[2016-04-20 19:54] rowanmiller commented on #5131
I've moved this one over to the EF6 project https://entityframework.codeplex.com/workitem/2910

Our team is currently heads down getting EF Core 1.0.0-rc2 ready. Once we've finished that, we are going to take a period of time to focus mostly on the EF6 code base... so we will dig into this issue then (it will probably be a couple of weeks away).

[2016-04-20 19:55] anpete commented on #4903
@divega I was hoping to re-purpose this bug for that :smile:

[2016-04-20 20:09] divega commented on #4903
I am fine with that. I am only concerned that switching to EXISTS could become much more involved than what the original bug proposed (and turned out to be incorrect), in which case we should probably re-triage it.

[2016-04-20 20:15] dazinator commented on #5132
Ahh bingo. Cheers!

[2016-04-20 20:20] divega opened #5134 "Add async dimension to microbenchmarks"
cc @rowanmiller

[2016-04-20 20:58] mikary commented on #3585
Note: Regression testing for this issue should be covered by `QueryTestBase.Where_ternary_boolean_condition_with_another_condition` added in commit 10f74f9db2

[2016-04-20 21:01] divega commented on #5053
@rowanmiller the exception message was actually already there: "Exception instance". Doesn't sound familiar.

[2016-04-20 21:42] mikes-gh commented on #5126
@ErikEJ
Good find
I confirm both the examples I quoted are in system table folder

![system tables](https://cloud.githubusercontent.com/assets/16208742/14691442/2a30ac34-0749-11e6-98c8-fc410a740be8.png)

so the stack overflow article is the answer.  Although it doesn't look as straightforward as is_ms_shipped = 0

The article shows the query SSMS uses to classify.

[2016-04-20 21:57] maumar commented on #5033
@kall2sollies I ran the scenario on our current bits and it seems to be working. I guess it must have been addressed in one of the Include improvements that we did after RC1 was released. Repro produces the following output:

[code]

[2016-04-20 21:57] #5033 closed

[2016-04-20 21:57] divega commented on #5053
I responded on the StackOverflow thread:

I think the instance failure is occurring because the connection string is incorrect:

[code]

Should actually be

[code]

Or

[code]

I.e. don't use both a verbatim string (prefixed with @) and double backslash.

I am not sure this answer your main question though.

@rowanmiller reminded me that the guidance is to leave the connection string in the `AddDb

[2016-04-20 22:04] divega commented on #5053
Closing as I believe I have answered your questions, but feel free to reply here or reactivate.

[2016-04-20 22:22] kall2sollies commented on #5033
Hello,

It must be as you say, since my code was run against rc1, and also ef7rc1.

So the next release will probably solve that.

Thanks for the reply.

Calendau GUQUET
Via mon iPhone

[2016-04-20 23:16] divega opened #5135 "Consider moving SqlDataReaderExtension and SqlServerTableSelectionSetExtensions to internal namespace"
Relative to other types in `Microsoft.EntityFrameworkCore.SqlServer.Design` they seem to be more implementation detail than public surface that we want to expose to anyone.

[2016-04-20 23:27] mikary commented on #2732
Note: based on the query plan, it looks like regression testing for this scenario is covered by the test `GearsOfWarQueryTestBase.Select_null_propagation_negative1` added in 616886d

[2016-04-20 23:29] mikes-gh commented on #5126
**The following**
[code]
Gives a list of user tables excluding the pseudo System Tables

This is based on what SSMS spits out and the stack overflow article.
I tried to make it pretty honestly..

[2016-04-20 23:38] mikes-gh commented on #5126
Could be an idea to make __EFMigrationHistory  is_ms_shipped = 1 aswell?

http://www.tech-recipes.com/rx/49940/is_ms_shipped-property-in-sql-server/

Probably SSDT should be using it aswell for __RefactorLog

[2016-04-20 23:40] joekaiser commented on #5131
That is fine. Any clues on where in the codebase the enumeration would be happening? I couldn't find it And the pdb symbols are not included in the nuget package, which means I can't step into it. I'm asking because if I can look at where it might be.thrown from, I could potentially come up with a work aroind

[2016-04-20 23:41] divega commented on #5034
@natemcmaster I am not sure it looks the same, but the error you get from NuGet is misleading so hard to tell.

In case it helps, NuGet does not support packages with references to design-time facades, and apparently that is by design. For some reason it doesn't always fails though. See https://github.com/NuGet/Home/issues/2193 and https://github.com/NuGet/Home/issues/2594 for more examples.

[2016-04-20 23:52] divega commented on #5034
@natemcmaster I reproed it myself and I actually believe that you are right. Not sure it is relevant but the last package that installs successfully is Remotion.Linq.2.0.2 and after that it tries to find this package that doesn't exist.

[2016-04-21 00:03] divega commented on #5034
In case it helps, I looked at the logs of installing this on both on .NET 4.6 and on .NET 4.5.1.

At the point in which you start getting failures on .NET 4.6, in .NET 4.5.1 (where installing this package succeeds) the next package that gets installed is: System.Collections.4.0.11-rc2-24018.

For Microsoft.AspNet.Identity.EntityFramework the culprit turned out to be System.Diagnostics.DiagnosticSo

[2016-04-21 05:17] ErikEJ commented on #5126
I am not sure a user can set is_ms_shipped = 1

[2016-04-21 05:21] ErikEJ commented on #5034
Ah, good old System.Collections!

[2016-04-21 06:32] AlexKulbako commented on #5053
Thank you guys for your help)

[2016-04-21 07:43] mikes-gh commented on #5126
@ErikEJ  I was thinking the EF team (rather than an end user) could set __EFMIgrationHistory to is_ms_shipped = 1.
Presumably you could speak to the SQL Server team to see how to do this or if its a good idea.
Doesn't solve the __RefactorLog case though which AFAIK can only be determined from the horrible query above.

[2016-04-21 09:50] GSPP commented on #4903
Yes, it's equal or faster or worse by coincidence.

[2016-04-21 09:53] GSPP commented on #4903
If you want to play around:

[code]

The `EXISTS` does not need the `DISTINCT` operator because the hash join does that. In my mind this is a missing optimizer feature.

[2016-04-21 11:21] shaulbehr opened #5138 ".GroupBy() and .Contains() do not work for implicit joins"
(Refers to EntityFramework.Core.7.0.0-rc1-final)

example:

var q1 = db.Invoices.GroupBy(i => i.CustomerId); // this works

var q2 = db.Invoices.GroupBy(i => i.Customer.StateId); // throws exception "Sequence contains more than one element"

var q3 = db.Invoices.Where(i => customerIds.Contains(i.CustomerId)); // this works

var q4 = db.Invoices.Where(i => stateIds.Contains(i.Customer.StateId));//

[2016-04-21 11:43] ErikEJ commented on #5126
Setting is_ms_shipped would require EF (on behalf of the dev/person running migrations) to use an undocumented stored procedure - I would strongly advise against doing that! http://sqlblog.com/blogs/kalen_delaney/archive/2008/08/10/geek-city-system-objects.aspx

[2016-04-21 12:24] mikes-gh commented on #5126
Fair point forgot it runs in user context.  Its also filtered by default anyway.

`ToolingTableWhereClause` here?  Similar to TemporalTableWhereClause

https://github.com/aspnet/EntityFramework/blob/2acd2f1f250285f2fe9bb9c81c27f7bb11355e6b/src/Microsoft.EntityFrameworkCore.SqlServer.Design/SqlServerDatabaseModelFactory.cs#L200

[2016-04-21 13:02] azhoshkin opened #5139 "Contains method for strings does not add N before string literal in SQL query"
I use accent insensitive queries to DB and this is important for me to match .Net strings as unicode strings in MS SQL Server.
In fact .Net String type is Unicode string and for CONTAINS SQL clause it should always use N prefix.

[2016-04-21 13:28] ErikEJ commented on #5126
I think it should be done on the column query level..

And a PR should include both the tooling condition and the is_ms_shipped condition

[2016-04-21 14:19] GSPP commented on #5117
Client-side evaluation is a very important feature:

1. It provides LINQ 2 SQL compatibility. I am still stuck on L2S with a significant codebase because rewriting all queries to not use this feature is not feasible. I'm hoping for EF7 to provide relief. Please help us abandoned L2S customers to finally migrate away!
2. It is very convenient.

L2S was only capable of evaluating a final `Select` pa

[2016-04-21 14:22] shaulbehr opened #5140 ".SelectMany() messes up joins"
This one is a howler:

var q = db.Customers
    .Where(c => c.StateId == stateId)
    .SelectMany(c => c.Invoices)
    .ToList();

This emits Sql:

SELECT [i].[InvoiceId], [i].[CustomerId], [i].[Amount], [i].[Date]
FROM [Invoice] AS [x]
CROSS JOIN [Invoice] AS [i]
WHERE [x].[StateId] = 'NY' AND ([x].[CustomerId] = [x].[CustomerId])

No mention of the Customer table in there, and the join clause jo

[2016-04-21 14:59] kall2sollies commented on #5033
I am unable to migrate my test project to RC2 (ou RC3) builds of EF.
Here's what I did:

- Added rererence to the beta nuget channel (https://www.myget.org/F/aspnetvnext/api/v3/index.json)
- Changed package names to reflect the new naming and version reset

Here's my project.json file:

	{
	  "version": "1.0.0-*",
	  "description": "LinqKitIssue Console Application",
	  "authors": [ "cguquet" ],

[2016-04-21 16:45] mikary commented on #5130
I attempted to reproduce the issue with Sql Server on rc1-final, but it did not produce the exception described in this issue. While attempting to reproduce this issue, I noticed that some of the foreign key values were not properly added to the database and manually updated them before running the query again.

Neither issue (throwing the exception or missing foreign key values) reproduced when r

[2016-04-21 16:48] mikary commented on #5130
@SimonOrdo could you provide additional details about the model and the specific values that caused the exception?

[2016-04-21 16:49] mikes-gh commented on #5126
That would be simplest..  My vote is for where clause and keep --Tables as is.
I think you are more likely to want to include rather than exclude.

I'm not adverse to the exclude option but it would involve breaking things to do it properly.

- Remove `--Tables` Add `--IncludeTables` and `--ExcludeTables`
- You would still have to additionally exclude the tooling tables by default anyway as having

[2016-04-21 17:00] maumar commented on #5140
This issue has already been fixed in https://github.com/aspnet/EntityFramework/commit/7d27bf6527391cd46dbb09210f7e40f7998e549e

[2016-04-21 18:17] ElvisHalil commented on #5133
Another thing I'd like to mention here is that if I run through the same data set another time, the device does get saved but nothing at all changes... Confusing, not sure if EF 7 bug, or me.

[2016-04-21 18:37] maumar commented on #5033
@kall2sollies Visual Studio is missing the tooling support for RC2 stuff, you can try using .NET cli  which is the replacement for dnx, and a command line. Here is the link to the project, which contains some getting started instructions:
http://dotnet.github.io/getting-started/

[2016-04-21 18:42] mikary commented on #3626
Attempted to reproduce this issue with EntityFramework.SqlServer 7.0.0-rc1-final but instead of a `NullReferenceException` an `InvalidOperationException` ("Sequence contains more than one element") was thrown. Testing against current dev, the same query did not throw any exception and produced the correct output.

[2016-04-21 19:27] kall2sollies commented on #5033
Among all the things I thought I could try, it has been the only one I didn't, because I thought it was a lightweight version of the runtime, and not the future runtime itself, so ok tomorrow I'll go for it, thanks!

[2016-04-21 20:36] divega commented on #5097
Clearing up for triage.

[2016-04-21 20:40] mikary commented on #3626
Appears to be resolved by other changes, added tests in #5141.

[2016-04-21 20:40] #3626 closed

[2016-04-21 21:04] divega commented on #5139
@azhoshkin what version are you using? AFAIR we did the work necessary to fix this for RC2.

[2016-04-21 21:08] azamk100 commented on #5097
Diego, apologize I haven't had a chance to check your suggestion.

I'll have a reply by tomorrow.
On Thu, Apr 21, 2016 at 4:37 PM Diego Vega <notifications@github.com> wrote:

[2016-04-21 21:08] mikary commented on #3595
Confirmed that this exception was being thrown in Beta8 using the InMemoryProvider. Ran the same repro against current dev and the exception was not thrown. Appears to have been resolved by fixes for other related issues.

[2016-04-21 21:23] divega commented on #4425
@ajcvickers I had this assigned to me I believe with the purpose of giving it some thought. Re-reading it today I am not sure how much of it is still necessary. While I tend to agree that it could be worth to centralize the knowledge of how CLR types + facets map to database types for a specific database provider, I believe having logic that is runtime specific and design time specific in separate

[2016-04-21 21:25] divega commented on #4425
@lajones I am not sure I completely understand this paragraph. In what format is the type information obtained currently for scaffolding?

[2016-04-21 22:49] maumar opened #5144 "Sqlite :: subquery with SingleOrDefault returning multiple results doesn't throw in Sqlite"
Query:

[code]

This gets translated to:

[code]

On SQL Server this is invalid query because the subquery returns multiple results and is later compared with a scalar, which somewhat simulates SingleOrDefault, however on Sqlite this is allowed (returning first row and therefore resulting in FirstOrDefault behavior instead)

We could do a few things about it:
- leave as is,
- always force client e

[2016-04-21 23:05] #3595 closed

[2016-04-21 23:12] maumar commented on #4458
this is due to optimization done in corefx - source collections are executed in different order now to allow some short circuiting. The discrepancy is by design and we just need to be mindful in out tests.

[2016-04-21 23:12] #4458 closed

[2016-04-21 23:14] divega opened #5145 "Migrations PowerShell commands can't work for both EF6 and EF Core projects that are part of the same solution"
The PowerShell versions of the migrations commands are global to the solution and have the same names in EF6 and EF Core but their implementations are version specific. Only one version of them can be active per solution. This can be very inconvenient while incrementally migrating existing projects to EF Core if at any point projects targeting different versions of EF are part of the same solution

[2016-04-21 23:50] divega opened #5147 "How to make Identity helper classes use existing DbConnection?"
_From @gdoron on April 19, 2016 9:48_

Hi,

I noticed through my logs, Identity helper classes (e.g. `UserManager`) open a new connection for each method.
This can be 10 new connections in a single API request.
Also, it causes changes made locally in the DbContext not "seen-able" in the other connection.

Is it possible to config Identity helper classes use existing DbConnection?
If it's not, can

[2016-04-21 23:50] divega commented on #5147
Identity methods should be using the same instance of a `DbContext` (an `ApplicationDbContext` in an application based on the default templates) within a request. For this to work, the `DbContext` in question has to be registered as a scoped service, e.g. using the `AddDbContext<TContext>()` method.

Each `DbContext` will only use one instance of `DbConnection` but by default it is true that it wi

[2016-04-21 23:50] divega commented on #5147
_From @gdoron on April 21, 2016 22:31_

Thanks for the answer @divega,

I hope you classify it as a bug...

A. I can't open the connection asyncly in constructors.
B. I don't want to open a connection in each and every request, some of my actions are cache-able, meaning there will be absolutely 0 requests to the DB.
C. It's a bit awkward.

What is the reason it was designed this way?

I meant that

[2016-04-21 23:58] gdoron commented on #5147
Just clarifying B.
Some of the actions are MVC GET requests that only returns HTML, no DB is involved.
And even for WebApi requests, some of the actions don't need DB connection, like when the data is cached.

[2016-04-22 00:38] divega commented on #5147
@gdoron I understand that opening and closing the connection on demand and automatically may sound strange to you but it is by design and has been the default behavior of EF in all previous versions, for various reasons.

Closing and reopening the connection between operations automatically may not always be the most efficient behavior but it is likely the best we can do automatically: While every

[2016-04-22 00:49] HaoK commented on #5147
Yeah basically every 'write' operation in the user manager calls SaveChanges at the end as part of the Update to the user.  So if there are any unsaved changes before you call many of the UserManager apis, they will be saved as part of the identity operation anyways.

[2016-04-22 00:50] gzak commented on #4711
@rowanmiller would you mind giving an example (like my second comment) that uses `DateTimeOffset` to correct the issue?

[2016-04-22 01:30] maumar opened #5148 "Query :: customers.Include(c => c.Orders).SingleOrDefault() reads orders for the second customer, which is redundant"
For the scenario in question we create two queries:

outer - querying for the customers:

[code]

and inner - querying for corresponding orders:

[code]

When executing the query we:
- materialize customer1 from the outer query,
- materialize orders for customer1 from the inner query,
- materialize customer2 from the outer query,
- materialize orders for customer2 from the inner query,
- perform c

[2016-04-22 01:41] smitpatel commented on #4903
This could potentially solve #5038 which is mainly occurring due to `Distinct` keyword.

[2016-04-22 01:47] maumar commented on #5138
those scenarios work in the current bits. Must have been fixed by one of the improvements that were done after RC1 has shipped.

We currently produce the following queries:

q2:
[code]

q4:
[code]

[2016-04-22 01:53] gdoron commented on #5147
@divega that makes sense.
I didn't know EF and Identity call SaveChanges implicitly.

Is it just with Identity that connections close and open frequently or is it true even for EF itself?
Because if not, and the DbContext is Scoped and there are async operations in the requests that can keep connections opened for a long time too.

Thanks.

[2016-04-22 07:01] azhoshkin commented on #5139
@divega I'm still on RC1. Sorry, search only in open issues. Looks like mine is duplicate of https://github.com/aspnet/EntityFramework/issues/4686
Thanks! Closing this.

[2016-04-22 09:07] kev160967 opened #5149 "zero/one to many relationship generating incorrect inner join"
I have two tables:

Job, integer ID, string column Container (nullable)
HaulageJob, integer ID, nullable column DeliverJobID with FK relationship to ID on Job

I have classes defined for each of them

[code]

I configure them as follows:

[code]

I then try to do a query something like this:

`_context.Itineraries.where(i=>i.DeliveryBooking==null || i.DeliveryBooking.ContainerNumber==container)`

[2016-04-22 09:28] kev160967 commented on #5149
To avoid confusion with any simplifications I made to produce the above, I've reproduced it with two self contained tables. Also, never mentioned it above, but this is running on SQL Server 2014.

So here is the script for the tables:
[code]
Here are the classes:

[code]
Here is the configuration:

[code]

and here is the query:

`                var test = _context.Parents.Where(i => i.Child.Stri

[2016-04-22 09:35] davesmits commented on #5069
I found the situation where it goes wrong. If you create a class library and reference sqlite in that class library, then from your app reference to that class library you will get errors. i added a sample where i have 2 empty projects and getting this error

[Test.zip](https://github.com/aspnet/EntityFramework/files/231515/Test.zip)

[2016-04-22 09:41] maumar commented on #5149
This is a known issue that has been fixed after RC1 has been shipped. Essentially every navigation (optional and required) would get translated into INNER JOIN. This is fixed in the current code base, producing LEFT OUTER JOIN in case if optional navigations.

[2016-04-22 09:50] kev160967 commented on #5149
Thank you maumar. If I want to use the in an ASP.Net 5 project will I need to build my own version - I'm new to github, so please excuse me if this is a stupid question!

[2016-04-22 12:00] gdoron commented on #5149
You can use the nightly builds (different nuget source), you don't need to clone the EF repository for that.
Bear in mind that there many many things have changed since RC 1.
And you won't be able to use VS until they finish wrapping the dotnet CLI tooling (Scott said RC2 Will be released in 4-6 weeks)

[2016-04-22 12:55] kev160967 commented on #5149
Thanks Doron, I was thinking much the same - I hadn't realised how much things had diverged from the DNX model until I looked into this.

[2016-04-22 14:08] stefanhendriks opened #5150 "using In Memory Database not working nicely with ASP.Net Core TestServer and Startup.cs"
Note: I have unit tests working with an InMemoryDatabase. This is different :)

**Context:**
I'm using ASP.net core (MVC) with Entity Framework Core. I have a running web app, it stores some stuff in the database properly.

**Goal:**
Now I want to run my same app with an In Memory Database. I want to run integration tests against this app.

So I made sure setting up the database is different in my

[2016-04-22 14:46] marchy commented on #3204
+1

[2016-04-22 15:44] markolbert opened #5151 "Error Message on Keys Not Being Allowed on Derived Type..But It's Not a Derived Type"
I wrote this up over on stackoverflow (http://stackoverflow.com/questions/36797464/ef7-keys-on-derived-type-but-its-not) but thought I'd mention it here.

Summary version: I have two simple, related classes on which I am trying to define keys using the fluent api (I switched from using data annotations because the child class uses a composite primary key, one of whose elements is a foreign key bac

[2016-04-22 16:58] rowanmiller commented on #4212
@dthomasdidit - there aren't any dates for RC2 at the moment sorry, the move from DNX to .NET CLI has taken a long time for us to stabilize and we are still working thru the last issues. Dates will be shared when we have them.

[2016-04-22 17:11] rowanmiller commented on #5131
@divega who could help out with a quick pointer on this one?

[2016-04-22 17:36] smitpatel commented on #5151
dupe of #3727
The class `Site` contain property of type `object`. Which is being discovered as navigation because TypeMapper cannot map `object` to any SqlServer Type. That adds `object` as entity type in the model. Since all classes are implicitly derived from `object`, every other entity type becomes derived type of entity type representing `object`.
In #3737, we blocked discovering `object` as

[2016-04-22 17:41] robbpriestley opened #5152 ".NET Core 1.0 and EntityFramework 7 Compatibility Issues"
As I originally asked over on StackOverflow in [this posting](http://stackoverflow.com/questions/36749200/net-core-1-0-and-entityframework-7-not-compatible), I've upgraded to Visual Studio Code 1.0.0 and I'm trying to retrofit an ASP.NET Core project I was working on in VSCode previously, before the new release. VSCode is seemingly quite different now in terms of configuration. I've worked with [t

[2016-04-22 17:53] rowanmiller commented on #5117
So far, we still feel like we have the right defaults.

If you don't like the default, then it can easily be changed. The following code can go in  `OnConfiguring`  (or in the call to  `AddDbContext`  in  `Startup.cs`  if you are working in ASP.NET Core)

[code]

Agreed that there should be a way to specify whether client eval is OK/not-OK on a per-query basis - this will most likely be post v1.0.

[2016-04-22 17:54] rowanmiller commented on #5124
@StefH we're not quite sure what you are asking, could you elaborate? If you want parameterless constructors on entity types, then that is supported (it's actually all that is supported right now)

[2016-04-22 17:57] rowanmiller commented on #5119
We are discussing this with the .NET Native team, hopefully they can do something to enable this for us. Leaving open so that we can track the scenario (and marking as blocked since the fix is external to us).

[2016-04-22 18:12] rowanmiller commented on #5097
Closing as we think that it's been fixed, feel free to reply if you still see the issue and we will reopen.

[2016-04-22 18:19] rowanmiller commented on #5144
Closing as this is one of the many "how SQLite works" quirks... but we will reconsider adding logic to compensate if customers hit issues with this.

[2016-04-22 18:24] rowanmiller commented on #5152
@natemcmaster can you take a look at this one, guessing it is just a point in time thing where things are out of sync?

[2016-04-22 18:29] natemcmaster commented on #5152
@robbpriestley I think the offender here is that "imports" only brings in "net45". We need "net451" at least. Try this:
[code]

[2016-04-22 18:37] robbpriestley commented on #5152
Yep, that did it, thanks a bunch!

Say, I'm having a hard time understanding what the imports section actually does. Technically, I am building my application to run in Docker on Linux. I don't quite get why earlier versions of .NET and (seemingly?) Windows need to be referenced? This is probably the wrong place to ask, if not appropriate, I'd be happy to be referred elsewhere or to some docs?

[2016-04-22 18:47] smitpatel commented on #5117
@rowanmiller - I couldn't find `DisableQueryClientEvaluation()` function. 😢

[2016-04-22 18:50] rowanmiller commented on #5117
That was the name in RC1. If you are using our nightly builds, then the method is `QueryClientEvaluationBehavior(...)`.

[2016-04-22 19:14] natemcmaster commented on #5152
Imports are document here: https://docs.nuget.org/consume/projectjson-format#imports. The primary reason for needing it is because Ix-Async and re-linq haven't yet produced libraries that are compiled to "netstandard". More docs are available here. http://dotnet.github.io/

If you want even more details, look in the "Documentation" folder in the source code for https://github.com/dotnet/corefx/tre

[2016-04-22 19:14] #5152 closed

[2016-04-22 19:21] natemcmaster commented on #4228
Verified this is fixed now using corefx 24018

[2016-04-22 19:21] #4228 closed

[2016-04-22 19:51] markolbert commented on #3727
I recently ran across this problem, and tried to solve it by calling Ignore() before doing anything else in OnModelCreating(). Unfortunately, that doesn't solve the problem -- System.Object still gets discovered.

However, applying the NotMapped annotation to the property in the class definition does solve the problem.

It seems odd that the annotation approach works but the fluent approach does n

[2016-04-22 19:57] robbpriestley commented on #5152
Thanks very much

[2016-04-22 20:06] #2140 closed

[2016-04-22 20:10] smitpatel opened #5154 "RevEng : Use unbounded navigations in scaffolded model"
Since updated navigation are supported in design time model now, RevEng should use them to have navigations in scaffolded model.

[2016-04-22 20:11] smitpatel opened #5155 "Migrations: ModelDiffer should find diff on navigations"
ModelSnapshot contains navigation information now. ModelDiffer should utilize this info in computing differences.

[2016-04-22 20:13] smitpatel commented on #2140
Filed #5154 & #5155 for RevEng & Migrations to utilize shadow navigations.

[2016-04-22 21:58] kall2sollies commented on #5033
Ok I have installed the redist installer and can now run the .Net CLI with dotnet commands (.NET Command Line Tools (1.0.0-beta-001598).
No problem scaffolding a new projet with the `dotnet new` command, but I am still unable to build or run this simple project mentioned above.

Below is my current project.json file. Current framework moniker is set to `net46`, but I also tried `net461`, `netcore5

[2016-04-22 22:12] natemcmaster opened #5156 "Commands: cannot identify all context from service container"
At design-time, we relied on the presence of `DbContextOptions` to figure our which types of context have been added in startup via `AddDbContext<T>()`. With recent changes, this means only one type of DbContextOptions is ever present.

## Repro
[code]
Then make a call to DbContextOperations.GetContextTypes();
## Expected
DbContextOperations.GetContextTypes() should return Context1 and Context2

#

[2016-04-22 22:30] divega commented on #5154
A bit off-topic, but any thoughts on whether we should actually commit to the term "shadow navigation" in our ubiquitous language?

In my mind things are shadow only if at runtime their original and current values are tracked in shadow state, e.g. shadow entities don't currently exist but they may exist in the future. However these navigation properties don't have their own state so to me they are

[2016-04-22 22:32] smitpatel commented on #5154
Updated title & issue. I did not think in that detail about the term "shadow" but not using it for navigations seems more reasonable.

[2016-04-22 22:42] divega commented on #3727
@markolbert what version of the bits are you using? This was fixed post RC1.

[2016-04-22 22:48] natemcmaster commented on #5156
cc @ajcvickers

[2016-04-22 23:24] markolbert commented on #3727
Diego,
I’m using 7.0.0-rc1-final (the “stock” configuration that comes up when you create a new ASPNET5 web project in VS2015).
I’m open to trying something more recent. What’s the easiest way to do that?

-          Mark

From: Diego Vega [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 3:43 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: Mark Olbert <Mark@arc

[2016-04-22 23:25] divega commented on #5156
@ajcvickers I told @natemcmaster to unblock himself by replacing the call to `TryAddSingleton<DbContextOptions>()` inside `AddDbContext<TContext>()` with `AddSingleton<DbContextOptions>()` so that all `DbContextOptions<TContext>` get registered as `DbContextOptions`.

AFAICS the only observable changes from what we have now should be:

1. `GetService<DbContextOptions>()` will return the last one r

[2016-04-22 23:36] divega commented on #3727
@markolbert RC2 hasn't shipped the closest we have is staged in this NuGet feed: https://www.myget.org/F/aspnetrelease/api/v3/index.json

(More information about the different feeds at https://github.com/aspnet/Home/wiki/NuGet-feeds)

I don't think we have any comprehensive guidance on how to move an existing RC1 project to RC2 yet.

[2016-04-23 00:07] natemcmaster commented on #5156
One drawback I've found is https://github.com/aspnet/EntityFramework/issues/4994. We should put https://github.com/aspnet/EntityFramework/pull/5017 in RC2

[2016-04-23 00:35] divega commented on #5154
@smitpatel I wasn't really pushing back. I would just like to hear what people in the team think we should call them.

[2016-04-23 02:19] cevarief commented on #3925
[code]
Output :
[code]
When restoring package : ```Package Newtonsoft.Json 8.0.3 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0).```

Config :
[code]

[2016-04-23 02:28] cevarief commented on #3925
Is there workaround to make it works ?

[2016-04-23 04:03] cevarief commented on #3925
I cleared all the nuget package and restore. The newton.json error has gone.
Another error when adding migration :
[code]

[2016-04-23 07:24] StefH commented on #5124
Sorry for the confusion.
Actually I mistyped the title, I wanted to ask if `non` parameterless constructors are supported. But I guess the answer is no.

Second question : is there public code inside corefx/coreclr which lets you easily create an **anonymous type** based on properties names and property types ?

Currently I'm using my own code (https://github.com/StefH/System.Linq.Dynamic.Core/blo

[2016-04-23 21:49] SepiaGroup opened #5159 "pluggable schemes for mapping c# names"
I am using EF Core with PostgreSQL/Npgsql. Since PostgreSQL is case sensitive for object names and Properties are proper cased in C# this cause you to use double quotes when writing native sql.

could it be possible to create a pluggable scheme to allow the mapping of object names, similar to what is done when you want to camel case objects to json using CamelCasePropertyNamesContractResolver().

[2016-04-24 06:24] roji commented on #5159
Just to add a bit of detail, this would provide users the choice to map C# names like MyClassName to my_class_name, etc.

[2016-04-24 06:25] roji commented on #5159
Another note: the same mapping scheme provider would ideally be used for reverse-engineering.

[2016-04-24 06:46] Cologler commented on #5069
I got same issue on my app. I think `Microsoft.Data.Sqlite` using wrong `sqlite3.dll` (replace with `sqlite3.dll` which from `SQLite for UAP` will be fine).

Also include some API test failed:

[code]

[2016-04-24 08:13] patrickmichalina commented on #3925
@cevarief I was able to get the tools started using this:

[code]

[2016-04-24 08:45] patrickmichalina commented on #3925
Nevermind... That just throws this...
![capture](https://cloud.githubusercontent.com/assets/6701211/14766424/0c92a96a-09cf-11e6-9364-e6eaea6e2a8a.PNG)

[2016-04-24 11:30] andershol opened #5160 "Null pointer exception when using model"
Running this application with EF 7.0.0-rc1-final (i.e. after running `Install-Package EntityFramework.Commands –Pre` and `Install-Package EntityFramework.MicrosoftSqlServer –Pre`)

[code]

Results in this exception in the call to "Where(...)":

I tried using the "aspnetcidev" package source, but using that currently results in a "missing method" error related to logging.

[2016-04-24 11:39] shaulbehr commented on #5140
@maumar How do I get a release of EF that has this fix?  What command line can I run in Package manager?
Thanks!

[2016-04-24 11:44] andershol opened #5161 "Stack overflow when using model"
Running this application with EF 7.0.0-rc1-final (i.e. after running `Install-Package EntityFramework.Commands –Pre` and `Install-Package EntityFramework.MicrosoftSqlServer –Pre`)
[code]
Results in this exception in the call to "Where(...)":

I tried using the "aspnetcidev" package source, but using that currently results in a "missing method" error related to logging.

[2016-04-24 14:19] clinton05 commented on #2876
any updates on this???

[2016-04-24 14:57] danda1man commented on #1946
Was surprised to not see the validation on DbContext as I am investigating migrating a current project to EF7, but I think what @divega said makes send.  The MVC models already have input validations and if youare manually constructing your objects you should know the database limits so running extra validations in EF just slows things down.  99% of the time, the only time I would see a validation

[2016-04-24 18:07] maumar commented on #5160
Make sure you are using Microsoft.EntityFrameworkCore.* packages, we had a rename/rebranding and there are two sets of packages available currently on myget, the new one that works and the old one that doesnt

[2016-04-24 20:03] ralmsdeveloper opened #5162 "Command Like EF Core 1 RC2"
**Hello friends,**
Not bug!
I believe that could improve the production of this query

**SELECT [r]. [Codcargo], [r]. [Nomecargo]
FROM [Cargos] AS [r]
WHERE [r]. [Nomecargo] LIKE ('%' + 'test') + '%'**

For

**SELECT [r]. [Codcargo], [r]. [Nomecargo]
FROM [Cargos] AS [r]
WHERE [r]. [Nomecargo] LIKE ('%' + 'test' + '%')**

Only the "%" stand inside "()"

I'm using EF Core 1 RC2 (Windows 10x64 - Dot

[2016-04-24 21:59] moozzyk commented on #3925
You used an incorrect import `"portable-net40+sl5+win8+wp8+wpa81"` brought the Silverlight version. You need the import that has "dnxcore50" in it. Note that after you fix your import you have to clean your NuGet cache otherwise the error will not go away (you can clean all NuGet caches using `nuget.exe locals -Clear all`)

[2016-04-25 01:12] aloncor opened #5163 "Still has the error: "Property 'Count' was not found on type 'System.Collections.ArrayList'""
I've tried a lot of thinks trying to put my application to work, and always I have this error:
Property 'Count' was not found on type 'System.Collections.ArrayList'
In other post says that I need to include the directive <Type Name="System.Collections.ArrayList" Dynamic="Required All" />
That doesn't work for me....
I have a project, and a class library, in the class library is where I'm using EF,

[2016-04-25 08:34] MrMatthewLayton opened #5164 "aspnet is not the correct parent for EntityFramework"
Apologies if this seems a bit pedantic, but why does EntityFramework come under aspnet on GitHub?

![untitled](https://cloud.githubusercontent.com/assets/17050082/14778036/a1a1b830-0ac8-11e6-8ea1-7a4015e3faad.png)

EntityFramework is a persistence framework that can be used by any type of application (Windows Forms, WPF, ASP.NET, etc.) so why is this project specifically under aspnet?

[2016-04-25 08:37] MarcinSzyszka opened #5165 "Saving 26k objects in context with property AutoDetectChangesEnabled set to false takes much more time than in EF6"
Hi.
In previous version (EF6) when Configuration.AutoDetectChangesEnabled is set to false and I add to context 26k objects, and call SaveChanges() - saving operation takes 40 seconds.
In Entity Framework Core this operation with property ChangeTracker.AutoDetectChangesEnabled = false, and with the same count and type of objects takes 15 minuts.
Where is the problem or what I'm doing wrong?

[2016-04-25 08:44] MarcinSzyszka commented on #5161
Try this:
Remove [NotMapped] attribute from_ List_ property in Foo class.
Add _modelBuilder.Entity<Foo>().Ignore(f => f.List)_ in _OnModelCreating_ method after base call.

[2016-04-25 08:47] MrMatthewLayton opened #5166 "Interfaces as entities"
Whilst writing an application using EF6, I found myself in a situation where I would have liked to use interfaces to represent entities.

Take for example an interface which represents a user in my domain model.

[code]

From this I have two implementations, my entity, and my view model.

[code]

Notice that while both the entity and the model differ in implementation, they both implement IUser.

[2016-04-25 09:54] stefanhendriks commented on #5150
Update:
Using `Sqlite` instead of `InMemory` works.

For now this is sufficient, but it does not solve the actual problem.

For me, I want to run integration tests and run them isolated. Using Sqlite I can do this. I can get rid of the DB files and run tests again. I also don't need a separated DB instance. Other ways would  be to use a different Schema (on same DB instance).

[2016-04-25 10:19] ErikEJ commented on #5165
Which EF version? - a number of performance impovements have been made in RC 2

[2016-04-25 10:26] MarcinSzyszka commented on #5165
7.0.0-rc1-final - package in project.json and 7.0.0-rc1-16348 - Product Version in DbContextModelSnapshot

[2016-04-25 10:27] MarcinSzyszka commented on #5165
When I will be able to use RC2? :)

[2016-04-25 11:31] ErikEJ commented on #5165
Soooon!

[2016-04-25 14:10] cevarief commented on #3925
I use the following import, but still can not successfully add migration. ```System.ArgumentNullException: Value cannot be null. Parameter name: assemblyName```.
[code]

[2016-04-25 14:43] davidroth commented on #5166
This is already tracked by #757.
It's not possible at the moment and is on the backlog.

[2016-04-25 15:46] YuriiNskyi opened #5167 "Unable to resolve service for type 'Microsoft.AspNet.Http.IHttpContextAcccessor' while attempting to activate 'NewLibrary.Models.ApplicationDbContext'."
When I'm trying to add migrations with `dnx ef migrations add Mig`, I have the following exception in console:

My ApplicationDbContext:

[code]

What's the problem?

How should I correctly add dependencies to ApplicationDbContext constructor?

[2016-04-25 16:20] ajcvickers commented on #5154
@divega No reason why they couldn't have state in the future. Would be relatively easy to implement, although I'm not sure that the value would be high.

I haven't looked at the code yet, but presumably they can already or will at some point be useable in query to do things like Include.

[2016-04-25 16:27] ajcvickers commented on #5156
@divega @natemcmaster For people using AddDbContext in a normal way there should be not drawbacks. #4994 still exists in either case, but as Diego said the context type that gets the wrong connection string will be switched.

The only drawback I am aware of (and the reason it was a TryAdd) is that if somebody else is registering DbContextOptions outside of AddDbContext and then calls AddDbContext

[2016-04-25 16:46] divega commented on #5156
Thanks @ajcvickers. I agree it is not a big deal.

I think @natemcmaster hit #4994 almost immediately and that is what he means. I agree it is a shame that the improved exception are not in RC2. We have seen a few customers hitting it as well. Good XML docs would help too.

[2016-04-25 16:56] mi4t23 opened #5169 "scaffold schema to different namespace"
using
dnx dbcontext scaffold ...

_One expects ef7 to scaffold db objects from different schemas to subdirectories named after db schemas they live in leaving generated context in main directory._

that is:
given tables:

[code]

and running`> dnx dbcontext scaffold -o Model -c MyDbContext`
I expect the following files to be generated

[code]

[2016-04-25 16:56] ajcvickers commented on #5150
@stefanhendriks The first two errors are, as you said, because the code is trying to use relational-specific functionality with a non-relational database. I believe there is now a better exception message for this, and not just the "no service registered" message.

The third issue looks like a dupe of #4285 which is fixed in the current code base.

[2016-04-25 17:05] mi4t23 opened #5170 "dbcontext scaffold ignores project namespace"
performing dbcontext scaffold, the project directory name is taken as root namespace and not configured project default namespace.

For example if a Project **XCompany.YProject** lives in subdirectory **YProject** of a solution and the default namespace for the project is configured as **XCompany.YStuff** scaffold ignores both the configuration and even the project name and takes directory name as

[2016-04-25 17:13] mikary opened #5171 "Query: Group by on Join without DefaultIfEmpty throws ArgumentException"
Similar to #3316, an `ArgumentException` is thrown when compiling the following query:

[code]

Exception details:

[code]

[2016-04-25 18:06] divega commented on #5034
@ErikEJ @smitpatel Although I had originally been able to repro this I have seen Microsoft.EntityFrameworkCore.Relational.Design.Specification.Tests from both aspnetcidev and aspnetrelease install correctly in the last couple of days. Not sure if it had anything to do with an improvement in our packages, or with cleaning up the package cache in my machine. Have you observed the same?

[2016-04-25 18:10] natemcmaster opened #5172 "Cleanup dotnet-ef end to end tests"
All tests in test/Microsoft.EntityFrameworkCore.Tools.Cli.FunctionalTest are currently set to "Skip" due to flakiness in running these tests on CI. We should clean this up for RTM.

Part of cleaning up the tests depends on https://github.com/NuGet/Home/issues/2469

[2016-04-25 18:21] ErikEJ commented on #5034
@divega I will attempt again next time I refresh rc2 packages. How does one: clean up the package cache?

[2016-04-25 18:37] smitpatel commented on #5034
I am still getting error, even after clearing out all packages & caches.

[2016-04-25 18:38] divega commented on #5034
There is a cache under `%userprofile%\.nuget`. You can delete that directory directly o if you have the nuget command line tool you can try `nuget locals all -clear`.

[2016-04-25 18:39] divega commented on #5034
@smitpatel with NuGet 3.4.2?

[2016-04-25 18:51] smitpatel commented on #5034
Upgraded NuGet to Version: 3.4.3.855 and tried again but still hitting error.

[2016-04-25 18:55] ErikEJ commented on #5034
@smitpatel Bummer!

[2016-04-25 19:23] rowanmiller commented on #5169
Duplicate of https://github.com/aspnet/EntityFramework/issues/3988, leaving open for the moment so that we can discuss priority of that issue in triage.

[2016-04-25 19:27] rowanmiller commented on #5150
Just to build on @ajcvickers comments - InMemory is not intended to be a relational database. As with anything that is used with as a substitute for testing, the ability for it to replicate the behavior of the actual database you ultimately target is limited. InMemory gets you a step closer than creating test doubles for the context etc. You can also use SQLite with in-memory mode to replicate som

[2016-04-25 19:33] rowanmiller commented on #5164
It's purely an organizational thing - we share the same management and a lot of the same infrastructure as ASP.NET. It has no impact on the packages we ship, it just makes it easier for our day to day work. Most of the packages we produce are `Microsoft.*` and don't have ASP.NET in the name (except for the ones that are ASP.NET specific of course 😄).

BTW I totally get why it seems unexpected, but

[2016-04-25 19:37] rowanmiller commented on #2876
@clinton05 not yet, tackling SQL Server support on UWP will be a post 1.0.0 task. BTW the work to make this happen is mostly in the SQL Client code base - here is an issue in their project that you could add your voice to https://github.com/dotnet/corefx/issues/6751.

[2016-04-25 19:59] rowanmiller commented on #5124
@StefH - regarding the original question... https://github.com/aspnet/EntityFramework/issues/240 is tracking the ability to control how types are constructed and populated (including constructor arguments). It will be a post 1.0.0 feature.

The question about dynamic types is probably best asked at github.com/dotnet/corefx/

[2016-04-25 20:58] mikary commented on #3208
No longer throws, re-enabled test and closing.

[2016-04-25 20:58] #3208 closed

[2016-04-25 20:59] mikary commented on #3316
Queries of this form no longer throw exceptions on current dev, opened related issue (#5171) for similar queries where DefaultIfEmpty is not used.

[2016-04-25 20:59] #3316 closed

[2016-04-25 21:48] andershol commented on #5161
Thanks for the suggestion. It was a good hit to look for the NotMapped-attributes. I think it can work as a workaround for me.
But EF shouldn't overflow the stack. If attributes have been used incorrectly (or in an incompatible way), it should throw an error, ideally with a useful error message.

[2016-04-25 21:53] andershol commented on #5160
So what you are saying is that I should use the "aspnetvnext" myget repository(?), as the nuget only have an alpha-version, and issue `Install-Package Microsoft.EntityFrameworkCore.Commands –Pre` and `Install-Package Microsoft.EntityFrameworkCore.SqlServer –Pre`? It does seem to fix it.
Unfortunately the database provider used in the real app does not yet support this version. But thanks for the n

[2016-04-25 23:22] cevarief commented on #3925
@mightea Thanks. It works by commenting out addMvc() and addCors().
[code]

[2016-04-26 00:15] natemcmaster commented on #4577
Initial support has been added with changes in #5142. We are still waiting for https://github.com/dotnet/cli/pull/2586 to become available in CLI.

[2016-04-26 00:18] natemcmaster commented on #3925
Heads up to anyone following this issue. We recently made big changes in #5142.  "dotnet-ef" has been renamed to "Microsoft.EntityFrameworkCore.Tools". I've updated the sample usage in the issue description above to show what needs to be in project.json to use the tool now. https://github.com/aspnet/EntityFramework/issues/3925#issue-119549607

I'm leaving this issue open as we are still waiting on

[2016-04-26 00:22] natemcmaster commented on #5066
Fixed by https://github.com/dotnet/cli/pull/2619

[2016-04-26 00:22] #5066 closed

[2016-04-26 00:32] gzak opened #5175 "DateTime values lose accuracy when stored in the DB"
If you store a `DateTime` object in the DB, then read that record back from the DB, you'll get a `DateTime` object with a slightly different value than what you originally stored. This means that a test to compare equality of the before/after value of a round trip to the DB will fail.

Here's an example:

[code]

If you inspect `now.Ticks` and `entity.Date.Ticks`, you'll see that the latter ends w

[2016-04-26 01:16] cevarief commented on #3925
@natemcmaster What feed should we use to resolve Microsoft.EntityFrameworkCore.Tools, i use both aspnetcirelease and aspnetcidev and get this error :
[code]

[2016-04-26 01:28] divega commented on #4875
Working on a customer case today I learned that the compiler won't always introduce a convert to `object` in this situation. E.g. if `TenantId` was defined in an interface `IHasTenant` and the method looked like this:

[code]
(Note that T is constrained to the interface but not to be a reference type) Then the compiler would introduce convert nodes to the interface everywhere. I am reopening so th

[2016-04-26 01:33] natemcmaster commented on #3925
It has to move through our build system. The fastest I've seen it make it through to CI feeds is 6 hours. I pushed the code about 90 min ago

[2016-04-26 02:46] divega opened #5176 "Need external dependencies to support .NET Standard in order to remove the requirement for imports in project.json"
Two of EF Core's dependencies, Remotion.Linq and Ix-Async currently use pre-existing portable targets to support multiple platforms. Until these packages add support for .NET Standard, libraries or applications using EF Core will need to specify additional import attributes in project.json.

[code]

These two issues track the necessary changes in our dependencies:

Reactive-Extensions/Rx.NET#174
h

[2016-04-26 02:56] lcalabrese commented on #3748
+1 being able to write this in the fluent API and have the migration builder automatically pick up when I change something would be a really useful time-saver.

[2016-04-26 04:27] cevarief commented on #3925
I've just tried to restore and now it works good. Thanks a lot 👍

[2016-04-26 06:15] stefanhendriks commented on #5150
Thanks for responding.

From a testing POV I would expect an InMemory database atleast to have stubbed all mechanics (dependencies), even though they would not do anything. But perhaps it should be explicitly enabled somewhere? So atleast as a tester you are making the explicit choice to use a 'fake database'. (which is a step further than "in Memory" - which you could literally just see as a DB s

[2016-04-26 08:16] gdoron commented on #5164
I'm curious to know why Identity has AspNet in the package & namespace names.

[2016-04-26 08:43] WiliamGP opened #5177 "EF don't create the tables in UWP application (.NET Native)"
I use EF7 and SQLite in my application for Windows 10 Mobile, even with Migrate() function in App.xaml.cs the tables are not created. Every time I use the database I use the EnsureCreated() function, but occurs error "No such table: nameTable". This error only occurs when I compile the application with the .NET Native. Someone can help me with this?

[2016-04-26 08:55] AdrienTorris commented on #4422
Sometimes if this error happens during the log of an exception with _Microsoft.Extensions.Logging_, the error can have nothing to do with _EntityFramework.Core.resources_, you have an SQL exception (contrainst error, or something), and the EntityFramework.Core.resources error happens when the exception is logged.

[2016-04-26 09:02] series0ne commented on #5164
Yes I'm curious about though too, however isn't the Windows Identity Framework (WIF) going to supersede Identity Framework?

[2016-04-26 12:01] john-surcombe commented on #3797
After some reflection and trialling with EF Core, I've come to the conclusion that the lack of lazy loading makes it unusable for us. Our ORM coding style (first with NHibernate and later with EF4/5/6) is to use lazy loading and write code which freely and naively navigates foreign key properties and collections. We then do profiling to identify N+1 select issues which have a performance impact an

[2016-04-26 14:16] davidroth opened #5178 "Build from source: Build initialize fails"
I just cloned the dev branch into a clean folder and I am getting the following error when running `build initialize`.

![image](https://cloud.githubusercontent.com/assets/338856/14821191/13539578-0bca-11e6-9874-dd7e66891f51.png)

I am running on VS 2015 Update 2 on Windows 10.

Any ideas?

[2016-04-26 14:44] ErikEJ commented on #5178
I assume you have no .build folder in your repo - if you do, delete it. Clear .nuget cache? There is a cache under  %userprofile%\.nuget . You can delete that directory directly or if you have the latest nuget command line tool you can try  nuget locals all -clear .

[2016-04-26 16:08] Muchiachio commented on #5175
Which EF build are you using? I couldn't reproduce in `EF7-rc1-final`.

[2016-04-26 16:53] ElvisHalil commented on #5133
Hi, thanks for assigning this.  Just want to add some more details I've discovered.  The error is pointing to the previous set of data that was added successfully.  My application iterates through data files and processed them then adds them to the DB.  In this case the DBset for the device repository had items in it from the previous set of data that was processed.  My app will add the device(s)

[2016-04-26 16:57] mikary opened #5179 "Query: Select Where Navigation returns wrong results on relational providers"
The existing test in `QueryNavigationsTestBase` returns the correct number of results but incorrect values on relational providers.

[code]

The list of orders contains 14 references to the same order (10904 on SqlServer, 10269 on Sqlite) instead of the expected results for the query. Results appear to be correct on the InMemory provider.

[2016-04-26 17:00] mikary commented on #3674
Verified that this query throws an `ArgumentException` in `EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final`, but the exception is not thrown in current dev.

The returned results appear to be incorrect due to a related issue (#5179) with navigations.

[2016-04-26 17:18] mikary commented on #5179
Generated SQL for SqlServer:
[code]

[2016-04-26 18:12] sayedihashimi opened #5181 "ef7 DbDataReader' does not contain a definition for Close and no extension method 'Close' accepting a first argument of type 'DbDataReader' could be found"
Originally posted by @stevensrf1 at https://github.com/aspnet/Tooling/issues/449

The more I use ef7 the more it sucks.
I need to call a stored procedure using ef7.
I read many ways to do this but none of the methods used to do this exist. Especially the FromSQL that is suppose to be available.
So I just got the DBConnecton from the DBContext and called a stored procedure int he normal way,
An err

[2016-04-26 18:19] rowanmiller commented on #5175
@smitpatel can you verify that with our default mapping no precision is lost

[2016-04-26 18:23] rowanmiller commented on #5179
@maumar this should be your top priority

[2016-04-26 18:34] natemcmaster opened #5182 "Use DotnetToolDispatcher for dispatching project dependency command in dotnet-ef"
https://github.com/aspnet/Coherence-Signed/issues/276

[2016-04-26 18:38] mikary commented on #3675
Verified that this query throws an `InvalidOperationException` in EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final, but the exception is not thrown in current dev.

The returned results appear to be incorrect due to a related issue (#5179) with navigations.

[2016-04-26 18:42] rowanmiller commented on #5181
@stevensrf1 did you have a using statement for `Microsoft.Data.Entity`? `FromSql` is an extension method and you need that namespace to get it (and our other query related extension methods).

[2016-04-26 18:46] divega commented on #4994
Reactivating this to get a chance to make the changes in RC2.
cc @natemcmaster @rowanmiller @ajcvickers

[2016-04-26 18:48] divega commented on #4994
Changes for release branch are already included in https://github.com/aspnet/EntityFramework/pull/5183, so assigning this to @natemcmaster.

[2016-04-26 18:55] mikary commented on #3676
Verified that this query throws an `ArgumentException` in `EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final`, but the exception is not thrown in current dev.

The returned results appear to be incorrect due to a related issue (#5179) with navigations.

[2016-04-26 19:05] natemcmaster opened #5184 "SerializationException during test runs on CI machines"
Tests on CI occasionally fail with this error message. The error goes away on repeated test runs.

[2016-04-26 19:53] smitpatel commented on #5175
This works fine in latest packages.
Repro code:
[code]
Output:
Assert passes. &
[code]

[2016-04-26 20:54] gzak commented on #5175
This is my bad, we aren't using EF's insert functionality due to #1441 (we're waiting for that to be released), and the issue was with `DbParameter.DbType` being detected as `datetime` rather than `datetime2` for `System.DateTime` objects in the code. This (and our other issue with timezones captured in #4711) are both solved by switching all dates to the `DateTimeOffset` type in C# and the dateti

[2016-04-26 20:57] gzak commented on #4711
Never mind my last comment, I didn't realize there was a corresponding sql type called `datetimeoffset`. Basically, we've switched everything over to the `-offset` variants in both C# and the DB which solved this issue as well as #5175.

[2016-04-26 21:32] mikary commented on #4860
Closing this issue as it appears to be a duplicate of #3705, Exception thrown for Where with Contains.

[2016-04-26 21:32] #4860 closed

[2016-04-26 21:47] natemcmaster commented on #5156
Fixed in #5183

[2016-04-26 21:47] #5156 closed

[2016-04-26 21:47] natemcmaster commented on #4994
Fixed in #5186

[2016-04-26 21:47] #4994 closed

[2016-04-26 21:55] rowanmiller commented on #4711
@gzak glad it's working for you now

[2016-04-26 22:02] natemcmaster commented on #5182
Fixed in #5185

[2016-04-26 22:02] #5182 closed

[2016-04-26 22:19] lajones commented on #4827
We haven't heard back and I can't repro this problem, so closing. Feel free to reopen if you still see the problem in the latest builds.

[2016-04-26 22:19] #4827 closed

[2016-04-26 22:41] natemcmaster opened #5187 "CLI Commands: migrations not added to relative-up output directories"
[code]

[2016-04-26 22:42] natemcmaster opened #5188 "CLI Commands: usability improvements"
Some ideas for improving the usability of dotnet ef.

- [ ] `dotnet ef database update` doesn't list the migrations being applied/reverted
- [ ] Don't require building to get output of `--help`. We can show help dialog without dispatching to inside-man.
- [x] Support `--json` on all subcommands
- [ ] Allow top-level arguments in any order. E.g. currently `dotnet ef dbcontext list --no-build` throw

[2016-04-26 22:42] divega commented on #5187
Do you know why?

[2016-04-26 22:44] anpete commented on #1137
@avanderhoorn Can this be closed?

[2016-04-26 22:45] natemcmaster commented on #5187
Yes. We use `outputDir` to calculate the namespace of the migrations. When we write files, we pick the folder based on the namespace, not the outputDir. It’s probably a simple fix.

[2016-04-26 22:52] natemcmaster opened #5190 "CLI Commands: cleanup code"
As a part of #5142, we ended up with some warts. We should clean this up for RTM.

- [ ] Cleanup the flow of top-level command line arguments into OperationExecutor. DRY
- [ ] Add our `[NotNull]` and `Check` calls to Tools.Cli
- [ ] Run API consistency tests to .Tools.Cli
- [ ] Make the powershell parsing of JSON output more robust

[2016-04-26 22:54] natemcmaster commented on #3925
Closing as we have finished with the implementation of .NET Core CLI commands. Any remaining bugs should be opened as a separate issue.

Additional work for post-RC2:
https://github.com/aspnet/EntityFramework/issues/5188
https://github.com/aspnet/EntityFramework/issues/5187
https://github.com/aspnet/EntityFramework/issues/5190

[2016-04-26 22:54] #3925 closed

[2016-04-26 23:24] divega commented on #5187
Got it. We should achieve better separation of namespace from output dir in general (even if we still use output dir to calculate the namespace by default) because of https://github.com/aspnet/EntityFramework/issues/4524 anyway.

[2016-04-26 23:26] natemcmaster commented on #5177
Hi @WiliamGP, can you share more about your project setup, the connection string you use, and which version of EF you are using?

[2016-04-26 23:33] natemcmaster commented on #5069
I believe what is happening here is a limitation in the workaround Microsoft.Data.Sqlite has to ensure your project gets the right version of `sqlite3.dll`. For now, manually replacing sqlite3.dll with a UWP compatibile version is the best workaround.

Explanation:
NuGet does not support any features to distinguish between native libraries compiled for WinRT vs Win32. By default, NuGet will try to

[2016-04-26 23:41] lajones commented on #5154
Note: see #5146 for the fix that allowed navigation properties to point to entities which do not yet have a backing CLR type (which is what we have when constructing the `IModel` during RevEng).

[2016-04-27 01:45] maumar opened #5191 "Query :: invalid results returned for queries with complex projection involving FirstOrDefault and navigation property"
[code]

The test above returns nulls instead of actual customer values.

Query plan is as follows:

[code]

[2016-04-27 03:26] guidefreitas commented on #3128
Similar problem here

Microsoft .NET Execution environment
 Version:      1.0.0-rc1-16609
 Type:         CoreClr
 Architecture: x64
 OS Name:      Linux
 OS Version:   7 debian
 Runtime Id:   ubuntu.14.04-x64

I tryed to install the x86 version without success
root@e369f14d116f:/app/src/DefesaCivil.Web# dnvm install -r coreclr -arch x86
Core CLR doesn't currently have a 32 bit build. You must use

[2016-04-27 13:33] DanielTipo opened #5192 "Changes are not applied in correct order if put in via DbContext.Entry<TEntity> method"
If changes put in via DbContext.Entry<TEntity> method, the order given by DbContext.ChangeTracker.Entries() and the order of the generated scripts on trace log are not the same. On delete it gives foreign key constraint error because it wants to delete the last item in the list which is obviously the entity referenced by the other entities.

[2016-04-27 13:48] ewahner commented on #4236
Just as a followup to band-aid this problem I resorted to just creating a powershell script that ran the init.ps1 and install.ps1 and saved the script in my solution root directory.  Now when I have this problem in the Package Manager Console, I just type "ef7" the name of my script and it reruns those 2 powershell scripts and lets me work again.

[2016-04-27 14:50] Yablargo commented on #2866
@hkoestin I am in the same boat for sure. I absolutely love what I can do with an inmemory database, test server, and some tinkering with code. I have nearly all of what would have been scripted or manual tests as xunit tests and it has been fantastic. However, not being able to test methods with transaction scope is a huge letdown right now. I don't care if the transaction doesn't work, but right

[2016-04-27 16:10] mikary commented on #3722
Confirmed that this reproduces in beta8 but is working in current dev. Appears to have been resolved in #4431.

[2016-04-27 16:10] #3722 closed

[2016-04-27 16:33] DevNeeraj commented on #2679
@bricelam

In a project, i am using

[code]
and
[code]

[2016-04-27 17:08] mikary commented on #3741
@glatzert I've attempted to reproduce the exception you described in this issue with the InMemory provider on current dev, 7.0.0-RC1-final, and 7.0.0-beta8 but I have not seen a case where an exception is thrown by this query. Could you provide additional details about the model and data involved in this issue?

Here is the source for an attempted reproduction of the issue:
[code]

[2016-04-27 17:54] mikary commented on #3792
Still appears to repro on current dev.

Cleaned up version of repro:
[code]

[2016-04-27 18:03] ElvisHalil commented on #5133
I have discovered the problem and it is with change tracking.

The next block of code that executes is this:

[code]

UnitDevice here in memory is similar to device where I don't link objects together, rather I link the ID's.  A exception here is if the Device isn't yet in the DB and since it's auto incremented int it needs to be added before I get an ID.  In this case UnitDevice has a relation in

[2016-04-27 18:58] DevNeeraj opened #5194 "Entity Framwork 7.0.0-rc1-final reverse engineer from existing db "Database first""
`dnx ef DbContext Scaffold "Server=databasename;Database=data;UserID=*;Password=*;" EntityFramework.MicrosoftSqlServer
`

In a project, i am using

[code]

and

[code]

So how can i enable **RevEng** command in **dnx**,
Help me to out !

[2016-04-27 19:03] ErikEJ commented on #5194
There is no command called RevEng. Just scaffold

[2016-04-27 19:20] DevNeeraj commented on #5194
Then what is RevEng command?  I have checked in many post they using RevEng command to get reverse engineering

[2016-04-27 19:22] ErikEJ commented on #5194
A link to one of the posts?

[2016-04-27 19:40] DevNeeraj commented on #5194
Some are
http://stackoverflow.com/questions/30419577/entity-framework-7-reverse-engineering-asp-net-5/30426177#30426177

http://stoutcloud.com/geek-out-entity-framework-7/geek-ef7-reverse-engineering-first-look/

[2016-04-27 19:56] lajones commented on #5194
There has been a lot of change in this area. The command was originally called `reveng` - which was short for "reverse engineering". But it was changed to `dbcontext scaffold` a while back. `reveng` no longer exists. I'm closing this issue as that seems to answer your question. But feel free to re-open if there's anything I missed.

[2016-04-27 20:06] DevNeeraj commented on #5194
@lajones
It's fine for me too. Thanks for this.
But i have many queries related ef 7 7.0.0-rc1-final ? where i have discusses my queries ?

[2016-04-27 20:09] lajones commented on #5194
@DevNeeraj You can raise another issue in this forum. But please look over the existing issues before you do - many RC1 issues regarding query have been addressed.

[2016-04-27 20:11] DevNeeraj commented on #5194
Okay,
Thank you

[2016-04-27 20:15] #5074 closed

[2016-04-27 20:30] ajcvickers commented on #5133
@ElvisHalil I'm not sure exactly what is going on, but it sounds like you are creating a single context instance and using it over and over. It is usually much better to create a short-lived context instance just for a single unit-of-work. From what you have said, it seems like each call to SaveChanges probably defines a unit-of-work in your case, and so the context should be disposed and thrown a

[2016-04-27 20:59] ElvisHalil commented on #5133
@ajcvickers You are correct!  I was iterating through files within that class where all my units of work are being initialized in the constructor.  I have now moved the iteration piece outside of the class and am disposing my repositories in the constructor (if not null) and re-initializing them.  This now works with track changes turned on.

Thank you!

[2016-04-27 21:06] natemcmaster commented on #5077
Fixed.

The recipe to running dotnet-test-xunit from the output of `dotnet publish` is as follows:

1. Download the shared framework from https://github.com/dotnet/cli
2. Copy `$ProjectName.runtimeconfig.json` to `dotnet-test-xunit.runtimeconfig.json`
3. Copy  `$ProjectName.deps.json` to `dotnet-test-xunit.dll`
4. Run dotnet.exe (from step 1): `dotnet.exe dotnet-test-xunit.dll [AssemblyFile] [add'

[2016-04-27 21:06] #5077 closed

[2016-04-27 21:08] #5133 closed

[2016-04-27 21:10] #4854 closed

[2016-04-27 21:17] mikary commented on #3736
Verified that this is still an issue. May be related to / relevant for #4875

[2016-04-27 22:16] mikary commented on #3804
Verified that this issue reproduces in `EntityFramework.MicrosoftSqlServer 7.0.0-RC1-final` but it does not throw the exception in the current dev branch.

[2016-04-27 22:18] #5035 closed

[2016-04-28 00:42] raphlo opened #5199 "Query: Translate string.IsNullOrEmpty"
I'm having a situation where I need to get data from a single table with 100k+ rows with a quite simple where clause. This query was originally created with EF6 and returned within 100ms.
The code is:
[code]
The query above took more than 55 secs to come back. So I used Profiler to discover that the generated SQL did not include any of the where clause except for the last one (IsDeleted).
[code]
I

[2016-04-28 03:47] bricelam commented on #2679
@DevNeeraj, it's `dbcontext scaffold`

[2016-04-28 07:10] davidroth commented on #5178
Thanks @ErikEJ - deleting the `%userprofile%.nuget` folder did the trick :+1:

[2016-04-28 08:09] glatzert commented on #3741
Hm.. I do not see much difference to my model (except I have more properties).
I will have spare time next week an can try to reproduce it again in my environment

[2016-04-28 08:21] peirens-bart opened #5201 "Cannot have keys other than those declared on the root type"
I'm having problems mapping types in an inheritance gain.

My Models:

[code]

[code]

My context:

[code]

My Mapper

[code]

Exception in command line
C:\Code\BookerTools\Source\Development\Version_1\Source\BookerTools.Database.EF>
**dnx ef migrations add BT-0001 -c "ApplicationContext" -p "BookerTools.Database.E
F"**
System.InvalidOperationException: The derived type 'BookerTools.Framework.Mode

[2016-04-28 09:55] erikzhang opened #5202 "support for key-value storage"
Is there any plans in the future to support key-value storage such as leveldb?

[2016-04-28 10:53] thisisstark opened #5203 "[EF7 rc1] IQueryable doesn't work?"
it doesn't work: and doesn't throw Exception

[code]

Output

[2016-04-28 16:33] mikary commented on #3829
Still reproduces on current dev

[2016-04-28 16:37] ElvisHalil commented on #5133
@ajcvickers You pointed me to the right direction.  It turns out I was using the wrong lifestyle for my DI containers.  They were set to singleton which completely makes sense with my issue.  I have now configured it properly to scoped and there is no longer errors from DB tracking referencing old data.

Thank you!

[2016-04-28 17:52] Rick-Anderson opened #5206 "Dependency conflict. Microsoft.EntityFrameworkCore"
Using the 4-21 build Microsoft .NET Core Tools (RC2)   14.1.20421.0

Create a new web app with individual user accounts. You get:
C:\wrk\xx\project.json(29,54): warning NU1012: Dependency conflict. Microsoft.EntityFrameworkCore 1.0.0-rc2-20708 expected Microsoft.Extensions.Logging >= 1.0.0-rc2-20708 but got 1.0.0-rc2-20706

Add DI and you get:
C:\wrk\xx\project.json(28,66): warning NU1012: Depende

[2016-04-28 18:00] rowanmiller commented on #2866
@Yablargo we promoted the transaction APIs to core in our working code base. So when RC2 release you'll be able to use them with InMemory (https://github.com/aspnet/EntityFramework/issues/2891)

[2016-04-28 18:03] rowanmiller commented on #5192
EF does not maintain the order of operations as they were applied via the API... but we do a topological sort to ensure they are applied in an order that will succeed. Sounds like you are hitting a bug in the sort algorithm. Can you share a complete code listing that we can run to reproduce the issue you are seeing.

[2016-04-28 18:14] lajones commented on #5135
Discussed this in a team meeting today and decided to put all the classes in the `M.EFCore.SqlServer.Design` assembly into `.Internal` namespaces to indicate that, although other provider-writers can take dependencies on some of those classes, we still feel free to make breaking changes to them. Same for the `M.EFCore.Sqlite.Design` assembly.

[2016-04-28 18:17] rowanmiller opened #5207 "Guidance on applying migrations during KUDU deploy"
We've had a few folks ask about this. It should be possible with CLI commands, but folks have reported errors trying to do so. We should get it working and then document how to do it.

[2016-04-28 18:17] rowanmiller commented on #244
@ryanerdmann I've opened https://github.com/aspnet/EntityFramework/issues/5207 to sort this out.

[2016-04-28 18:44] Rick-Anderson commented on #5206
No repro with todays LGK build ( 4-24)

[2016-04-28 19:08] Yablargo commented on #2866
@rowanmiller Thanks, after trying and failing for a day to wire this in rc1, I just wrote a helper in my base dbContext that calls the transaction only when not in memory. Looking forward with the new version eagerly.

[2016-04-28 19:46] mikary commented on #4352
The first query (Where_subquery_on_navigation_with_projection) is still throwing an ArgumentException but the message is now `An item with the same key has already been added.`
Exception is thrown from `RelationalQueryModelVisitor.RegisterSubQueryVisitor`

The additional repro from @anpete does not appear to fail (query compiles and runs but does not terminate in a reasonable amount of time due to

[2016-04-28 21:57] lajones commented on #5126
Discussed offline and decided to go with just updating the query as suggested by @mikes-gh above (thanks for that) and leaving the flags as is for now. I.e. if we see enough need we'll add the `ExcludeXYZ` command line options later.

[2016-04-28 22:04] #5075 closed

[2016-04-28 22:04] #445 closed

[2016-04-28 22:21] justinyoo commented on #5207
I've left an issue on KUDU as well - not sure it's EF issue or KUDU issue:

https://github.com/projectkudu/kudu/issues/1977

[2016-04-28 22:22] justinyoo commented on #5207
@rowanmiller  If I can make a spare time today, I'll deploy a test web app and let you know.

[2016-04-28 22:25] rowanmiller commented on #5150
I think for folks that want something that behaves like a relational database, SQLite in in-memory mode is the right thing for us to recommend... as we pad out our docs I'll make sure that we make that clear. We could make InMemory look more like a relational database - but as we enable non-relational data stores it becomes less clear that it would be a good idea. For some APIs (such as `Database.

[2016-04-28 22:26] bruceyclee opened #5212 ""DNX commands" still in resource file"
Small issue in src/Microsoft.EntityFrameworkCore.Tools.Core/Properties/ToolsCoreStrings.resx, there are some sentences still indicating "DNX commands".

For example,  <value>More than one DbContext was found. Specify which one to use. Use the '-Context' parameter for PowerShell commands and the '--context' parameter for DNX commands.</value>

Maybe you want to change them to "Dotnet commands"

[2016-04-28 22:30] rowanmiller commented on #5159
It's actually super easy to override the default naming scheme with some simple code in your `OnConfiguring` method.

[code]

Or I prefer to write it like this...

[code]

[2016-04-28 22:32] rowanmiller commented on #5160
@andershol correct, you should install from `https://www.myget.org/F/aspnetvnext/`... or wait til we ship RC2. Depending on the provider in use, they may have nightly builds that work with out nightly feed (though things are often broken at the moment).

[2016-04-28 22:35] mikary commented on #4447
Ran the full repo against current dev and it does not throw anymore.

As written, the query in the reproduction performs client evaluation of the entity comparison (either through change tracking, or if that is disabled object comparison). I am looking into adding test coverage that uses a navigation property on the IDs to work better with the default untracked entities in our query tests.

[2016-04-28 22:57] rowanmiller commented on #5161
Verified that this is fixed in the working code base and the fix will ship in RC2.

[2016-04-28 22:57] #5161 closed

[2016-04-28 22:58] rowanmiller commented on #5162
Implementing this change would introduce significant complexity to work out when it is save to avoid parenthesis and when it is not. We don't think it would have any significant performance impact, so it's not something we would do.

[2016-04-28 22:59] rowanmiller commented on #5163
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2016-04-28 23:00] rowanmiller commented on #5164
Are you asking about `Microsoft.AspNetCore.Identity`? If so, that is ASP.NET and identity and very much specific to ASP.NET applications.

[2016-04-28 23:06] rowanmiller commented on #5207
@justinyoo sounds good, I appreciate you spending your time to help on this

[2016-04-28 23:11] rowanmiller commented on #5165
Duplicate of https://github.com/aspnet/EntityFramework/issues/4831

[2016-04-28 23:14] rowanmiller commented on #5167
Duplicate of https://github.com/aspnet/EntityFramework/issues/4232. See [this comment](https://github.com/aspnet/EntityFramework/issues/4232#issuecomment-171007407) for ways to solve this. We also have https://github.com/aspnet/EntityFramework/issues/4546 to track trying to improve this area.

[2016-04-28 23:15] rowanmiller commented on #5170
@lajones I vaguely remember us fixing this issue already... is that correct?

[2016-04-28 23:30] natemcmaster commented on #5170
Potential the same issue as https://github.com/aspnet/EntityFramework/issues/4524?

[2016-04-28 23:39] divega commented on #5034
@ericstj (directing this to the other Eric on purpose :smile:) while investigating this issue we realized that the Roslyn package doesn't install in NuGet on 4.6 projects. That applies even to the latest packages from the Roslyn-nightly build:

[code]
Output:
[code]

Seems pretty bad. Any thoughts?

cc @pranavkm

[2016-04-28 23:46] pranavkm commented on #5034
cc @emgarten

[2016-04-28 23:47] ericstj commented on #5034
not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

That's been fixed in the latest RC3 builds.  I did two things to fix it: 1) reduced the places where we have dependencies on the UNIX shims (runtime.native.*) by harvesting these dependencies by crawling the IL for p-invokes, similar to how we harvest the

[2016-04-28 23:50] pranavkm commented on #5034
ELI5 please

[2016-04-28 23:51] natemcmaster commented on #5212
Looks like we also need to update the error for MigrationsAssemblyMismatch. This doesn't apply to CLI commands

[2016-04-28 23:56] ericstj commented on #5034
@pranavkm have a look at the dependencies for System.Collections.Immutable.

[code]
NETStandard group has package dependencies.  Every other group has empty dependency groups since all the packages have inbox implementations.

This isn't a requirement, as I've mentioned we've fixed the CoreFx packages to work in more places (like desktop projects using packages.config), but it does reduce noise in

[2016-04-29 00:04] lajones commented on #5170
Within RevEng we are passed a `RootNamespace` and an output path. If the output path is a _relative_ output directory within that project, then the generated namespace will be the concatenation of the two. If the directory is not relative the output namespace will just be the RootNamespace - see https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Tools.Core/Scaffol

[2016-04-29 00:10] roji commented on #5159
Of course... that makes total sense.

[2016-04-29 06:31] stefanhendriks commented on #5150
@rowanmiller makes sense.

about `DbConnection` - could https://github.com/aspnet/EntityFramework/blob/dev/test/Microsoft.EntityFrameworkCore.Relational.Tests/TestUtilities/FakeProvider/FakeDbConnection.cs be of any help?

[2016-04-29 07:57] roji opened #5215 "EFCore doesn't add ORDER BY clause (OrderBy_nav_prop_reference_optional fails)"
While trying to run tests on Npgsql, the OrderBy_nav_prop_reference_optional test fails. Debugging this shows that the following test code produces SQL without an ORDER BY clause:

[code]

Under SqlServer the test happens to pass because the expected order is returned by chance.

[2016-04-29 09:03] roji opened #5216 "Test fixture base class uses SqlServer-specific code"
InheritanceRelationalFixture sets ColumnType to nvarchar, which is SqlServer-specific and should happen in a provider-independent project.

https://github.com/aspnet/EntityFramework/blob/fb465491355f09f7f0fafdd2013043acb670d87e/src/Microsoft.EntityFrameworkCore.Relational.Specification.Tests/InheritanceRelationalFixture.cs#L22

[2016-04-29 09:58] davesmits commented on #5069
any hints how to do? i tried to add sqlite extension to my project but that gives error about a double file as payload. Also tried to remove the sqlite3.dll as post build action in my class library and then add the file again but so far no real luck :(

[2016-04-29 10:06] roji commented on #2195
FYI I found out PostgreSQL does have an automatically-updated xmin column which could be used as a concurrency token, much like SqlServer's rowversion, so this may be less important for PostgreSQL. See https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/19.

[2016-04-29 13:44] ralmsdeveloper commented on #5162
@rowanmiller Thank you for your answer, I understand, it was just a little hint of code organization!

It really has no impact on performance, also want to say they are doing a great job ... I accompanied every project ... to migrate the ERP for my Asp.Net Core 1

[2016-04-29 14:47] mdmoura opened #5217 "Add test for GroupBy after projection"
I have the following Entity Framework 7 entities:

    public class EbookFile {
      public Int32 EbookId { get; set; }
      public Int32 FileId { get; set; }
      public virtual Ebook Ebook { get; set; }
      public virtual File File { get; set; }
    }

    public class File {
      public Int32 Id { get; set; }
      public Byte[] Content { get; set; }
      public String Name { get; set; }

[2016-04-29 16:26] #4347 closed

[2016-04-29 16:27] #448 closed

[2016-04-29 16:30] roji opened #5220 "Test issue with Substring_with_constant and Substring_with_closure"
These tests assert that the first row to come out of the query is "ari" and "ria", but there's no order by to enforce which row gets selected first. The test happens to pass on SqlServer but fails on PostgreSQL.

[2016-04-29 16:57] justinyoo commented on #5207
@rowanmiller Hmmm... I deployed a new test ASP.NET Core web app into new Azure Web App and run DB migration directly on KUDU. This time I couldn't reproduce the issue. I should deploy my **real** app to see the error. I'll get back to you next week.

[2016-04-29 16:57] mikary commented on #4450
Original query does not throw the exception on current dev.

Generated SQL is now (OrderBy now contains Case statement):
[code]

[2016-04-29 17:02] mikary commented on #4450
Attempted to create a similar query to the one provided by @GZidar

Query code:
[code]

Generated SQL:
[code]

This query completes successfully. Note the inner Case statement is not present in this query.

[2016-04-29 17:03] anpete opened #5221 "Better diagnostics for exceptions"
We see a lot of issues filed that are lacking in specifics. E.g. No details about product version etc.

I think we could add more detail to logging/exceptions to improve this:
- Product version
- Configured providers
- Configuration values (change tracking enabled etc.)
- Model snapshot?

[2016-04-29 17:21] mikary commented on #4459
Ran the complete repro against current dev and the exception was not thrown / valid results were displayed.

[2016-04-29 17:25] rowanmiller commented on #5170
Ah, yep #4524 was the one I was thinking of... didn't realize we hadn't implemented that yet.

[2016-04-29 18:10] rowanmiller commented on #5169
Closing as dupe, bumped up priority of #3988

[2016-04-29 18:12] rowanmiller commented on #5184
We should make this test class serializable as we suspect there is an underlying error causing this condition.

[2016-04-29 18:16] Rick-Anderson opened #5223 "Migrations: Scaffold MaxLength"
When I apply

[code]

to my existing model, EF doesn't pick up this change.

To repro:

1. Create a model with string and no DataAnnotations.
2. add migrations/update
3. apply ``[StringLength(60)0``

EF doesn't detect the change.

#5224 <-- NOT NULL is detected but not enforced

[2016-04-29 18:21] Cologler commented on #5069
So now I use sqlite.net-pcl, everything fine...... o(^_^)o

[2016-04-29 18:22] Rick-Anderson opened #5224 "EF doesn't detect [Required] model change (NOT NULL)"
WHen you make a model change and add [Required]  - EF doesn't detect this change and you can create/edit data. WHen you run migrations, it does pick this up:

[code]

Expected behavior:
After adding [Required]  to the model and NOT running migrations/update, EF should throw because the schema is out of sync.

Actual behavior:
The change is not detected and no exception is thrown.

[2016-04-29 18:25] rowanmiller commented on #5215
This particular code snippet intentionally does the ordering client side (and compares to a second wuery with ordering done in db). Assigning to investigate though.

[2016-04-29 18:52] rowanmiller commented on #5224
Are you expecting EF to validate that the data is non-null before saving to the database? In EF Core we dropped doing validation since it is usually already done client-side, server-side, and then in the database too.

[2016-04-29 18:59] Rick-Anderson commented on #5224
I was expecting EF to detect the schema change and not let me work with the old model. No change is detected and I'm not require to run migrations/update. IOW, I don't get this message after making this change to my model:

A database operation failed while processing the request.

SqlException: some message
There are pending model changes for mov1Context

Scaffold a new migration for these change

[2016-04-29 19:37] rowanmiller commented on #5224
Ah, yep we also don't do any of that in EF Core. It was part of a larger move to not do any database initialization work at all. The initialization logic we had in EF6.x was helpful in some very basic cases, but also a huge source of bugs and pain for customers.

[2016-04-29 19:50] smitpatel opened #5227 "CLI : dotnet ef or dotnet Microsoft.EntityFrameworkCore.Tools.Cli"
dotnet ef command output contains following
Entity Framework .NET Core CLI Commands 1.0.0-rc3-20747
Usage: **Microsoft.EntityFrameworkCore.Tools.Cli** [options] [command]
Should it be "ef" instead?

[2016-04-29 19:51] smitpatel commented on #5227
I guess yes. 😞
[code]

[2016-04-29 19:55] smitpatel commented on #5012
I am using `Entity Framework .NET Core CLI Commands 1.0.0-rc3-20747` and still hitting this issue.
[code]

[2016-04-29 20:06] smitpatel commented on #5223
Tested this with nightly builds
The generated migration file does not have string length changes
[code]
On the other hand model snapshot is updated to account for change in length.
[code]
Also the generated migration script has alter column statement.
[code]

[2016-04-29 20:07] smitpatel commented on #5012
not just for done for any other message also same error
[code]

[2016-04-29 20:34] stefanhendriks commented on #5150
As said, I have written a blog post. Hope it is any good :) -> http://www.stefanhendriks.com/2016/04/29/integration-testing-your-dot-net-core-app-with-an-in-memory-database/

[2016-04-29 21:11] rowanmiller commented on #5223
Interesting... I guess we are reading the length information out of the target model snapshot... we should stop doing that 😄

[2016-04-29 21:11] rowanmiller commented on #5223
@Rick-Anderson this means that everything should work... but it's obviously super confusing that the length isn't in the generated code. We'll keep this open to address that, but it shouldn't block you.

[2016-04-29 21:15] Rick-Anderson commented on #5223
@rowanmiller  it's not blocking, I just thought you might want to know. I've finished all the scaffolding and have everything working with RC2. I did open a bunch of scaffold bugs.

[2016-04-29 21:36] smitpatel opened #5230 "Query: Optimize predicate on discriminator"
Current visiting FromClause adds predicate on discriminator column. If WhereClause (or any other way) another predicate on discriminator column is added then we should combine them in some way to improve readability.
`Can_use_is_kiwi` test
Generated SQL:

[code]

This is just readability improvement. Sql Server optimize the predicate by self for perf.

[2016-04-29 21:40] rowanmiller commented on #5202
Yes. For the 1.0.0 release we are focusing on relational providers, but once that is released we will be bringing other providers online. Our team will be starting with our Azure Table Storage and Redis providers (which we have already prototyped). Ideally providers are written by folks that own the database engine, but we may also pick off a key value store too.

[2016-04-29 22:15] #5179 closed

[2016-04-29 22:26] lajones commented on #5135
Fixed as discussed above with PR #5209.

[2016-04-29 22:26] #5135 closed

[2016-04-29 22:27] lajones commented on #5126
Fixed as discussed above with PR #5213.

[2016-04-29 22:27] #5126 closed

[2016-04-29 22:31] mikary commented on #4447
Tests added in #5219

[2016-04-29 22:31] #4447 closed

[2016-04-29 23:10] #5007 closed

[2016-04-29 23:28] divega commented on #5012
Reopening for now based on @smitpatel's findings.

[2016-04-29 23:31] mikary commented on #5217
Confirmed that this reproduces with `EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final` but it does not throw the exception in current dev.

We don't appear to have a GroupBy on a query with an IEnumerable.Contains, so it may be worth adding a test to cover this case.

[2016-04-30 00:29] tdjastrzebski opened #5232 "support for Update-DbContext command"
Here is a typical scenario: SQL Server DB, EF data access layer and Web API JSON web service.
And just one, quite common requirement: some table/entity fields shall not be returned by web service. They are for internal use only so they still must be present in generated entities.

The easiest solution is to decorate entity fields which are to be hidden with attribute like `[JsonIgnore]`.
Since the

[2016-04-30 01:00] heavenwing opened #5233 "EnsureCreated on SQL Azure just creating __EFMigrationsHistory table"
I use EnsureCreated to create new database model , this is work on my development computer with SQL Server LocalDB, and when publish app into azure app service, EnsureCreated just create __EFMigrationsHistory  table on SQL Azure database.

[2016-04-30 16:20] ErikEJ opened #5234 "Migration commands are not logged !?"
Or am I doing something wrong: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Extensions/Logging/DbLoggerProvider.cs#L25

Or is it the well known issue of the command text of a SqlCeCommand being cleared when the instance is dosposed? https://github.com/aspnet/EntityFramework/blob/21fdcf99d8aa00defb03d05e6c883d4df3de79fc/src/Microsoft.EntityFrameworkCore.Rela

[2016-04-30 16:57] smitpatel commented on #4450
Order By issue fixed in #5122
Any issue is fixed during some changes after RC1, tests are added in #5006

[2016-04-30 23:47] ralmsdeveloper opened #5235 "Problem EF Core 1(RC2) - Command Where()"
## Hello friends,

I have a very strange case, if I make an appointment without declaring a variable EF Core 1 RC2, returns me all record of my table, but when I declare the variable he obeys the command!

Example

 var Database = new JamsoftBanco.JamsoftBancoContext();
  var c01 = Database.Cargos.Where(p=>p.codcargo<int.Parse(id)).Take(1).OrderByDescending(r=>r.codcargo).ToListAsync();
## Produce

[2016-05-01 00:52] MicahZoltu opened #5236 "Entity Framework doesn't follow ASP.NET rules for hosting environment."
[code]

When I run this with this DNX command: `"web": "Microsoft.AspNet.Server.Kestrel"` the code correctly steps through the `ConfigureDevelopmentServices` method and _NOT_ the `ConfigureServices` method.

However, when I run `dnx ef migrations add Foo` (`"ef": "EntityFramework.Commands"`), it gives me an exception complaining about not being able to find the `SqlServerConnectionString` indicati

[2016-05-01 11:48] tdjastrzebski opened #5238 "missing "using System;" in context class"
version: 1.0.0-rc1-final

SQL Server DB has a table with uniqueidentifier (Guid) column which has a default value "00000000-0000-0000-0000-000000000000".

Proper Fluent API gets generated:
`entity.Property(e => e.PrintFormatListId).HasDefaultValue(new Guid("00000000-0000-0000-0000-000000000000"));`
but lack of "using System;" in the file header causes compiler error CS0246: The type or namespace n

[2016-05-01 12:13] tdjastrzebski opened #5239 "plural vs. singular issue"
In 99% cases DB developers creating a DB table for, let's say, customer name it Customer**s**, not Customer. Northwind, Contoso and other numerous examples available.

However, code developers expect Customer class/entity and Customer**s** data context collection.

This is the reality. EF Core does not seem to respect it yet scaffolding database context.

[2016-05-01 12:17] ErikEJ opened #5240 "Perf against Azure database..."
Running @rowanmiller  build demo against latest RC2 release bits, and  using a SQL Azure DB, I get these results (notice the results come out in favor of EF Core when running against LocalDB.)
Test:

[code]

 Iteration 0
- EF6.x:        59ms
- EF Core:     126ms
- Improvement: -114 %

  Iteration 1
- EF6.x:        53ms
- EF Core:     140ms
- Improvement: -164 %

  Iteration 2
- EF6.x:        64ms

[2016-05-01 14:19] shaulbehr opened #5241 "Where can we get the latest release?"
Hi,
Some time ago I reported [two](https://github.com/aspnet/EntityFramework/issues/5140) [bugs](https://github.com/aspnet/EntityFramework/issues/5138) in EF7.
One of the developers closed both bug reports as having been fixed.
But there is nothing available in [NuGet](https://www.nuget.org/packages/EntityFramework.Core) with these fixes; the last available version is 7.0.0-rc1-final, which was pu

[2016-05-01 14:23] divega commented on #5239
Dupe of #3060.

[2016-05-01 15:13] ErikEJ commented on #5241
You can get the lastest bits from Myget, there are a number of feeds of different quality available https://github.com/aspnet/Home/wiki/NuGet-feeds

[2016-05-01 15:17] Aequoris commented on #5241
The mysterious dependencies are most likely the replacement of DNX with coreclr for rc2. I recommend watching the weekly standups on Scott Hanselmans youtube channel to catch up on the RC2 news.

[2016-05-01 15:21] ErikEJ commented on #5241
I can build latest without any issues, btw @shaulbehr - what was the error you got?

[2016-05-01 15:35] AndriySvyryd opened #5242 "EF6 microbenchmarks are flaky"
The EF6 microbenchmarks fail on cleanup sometimes, potentially leaving the database in an invalid state.

[code]

[http://aspnetci/viewLog.html?tab=buildLog&buildTypeId=Lite_EntityFramework&buildId=88056#_focus=12730]()

[2016-05-01 16:07] dteichman commented on #5241
@ErikEJ
I am working with @shaulbehr.
This is the error we received:

C:\AgileWork\EntityFramework\tools\EntityFramework.targets(116,5): error MSB401
8: The "GenerateProjectLockTargets" task failed unexpectedly.\r [C:\AgileWork\E
ntityFramework\src\Microsoft.EntityFrameworkCore\Microsoft.EntityFrameworkCore.
csproj]
C:\AgileWork\EntityFramework\tools\EntityFramework.targets(116,5): error MSB401
8:

[2016-05-01 16:13] ErikEJ commented on #5241
And you are in a clean folder and clear your nuget cache? http://stackoverflow.com/questions/30933277/how-to-clear-nuget-package-cache-using-command-line

[2016-05-01 18:09] Villason opened #5243 "Simple expression causes the warning: The LINQ expression '(Not([p].IsDeleted) And Not([p].IsPending))' could not be translated and will be evaluated locally"
Hi,

I am writing a aspnet 5 web app.

My problem is that as soon as I include an "and" operand in a filter the expression can no longer be evaluated at the SQL server.

[code]

This is my custom code that causes the problem:

[code]

If I switch to this no warning is issued:

[code]

GetAsync just ends up calling this code:

[code]

Is this a bug?

Edit: I am using RC1 bits.

[2016-05-01 19:05] Villason commented on #5243
Forget it. I was using & instead of &&...

[2016-05-02 08:16] dteichman commented on #5241
I did start in a clean folder. Now I wiped the folder, cleared the nuget cache, recloned the repository, checked out the release branch, ran build initialize from command line, and

info:   commandline: src\Microsoft.EntityFrameworkCore\Microsoft.EntityFrameworkCore.csproj /t:GenerateProjectLockTargets /v:m /nologo /p:Configuration=Debug
info:   workingdir: C:\AgileWork\EntityFramework
C:\AgileWor

[2016-05-02 11:40] NickSevens opened #5244 "EF7 RC2 on dnx451"
When trying to include package "EntityFramework.MicrosoftSqlServer": "7.0.0-rc2-16649" in project.json I receive an error in package restore:

"NU1002: The dependency Microsoft.Extensions.Caching.Abstractions 1.0.0-rc2-20456 does not support framework DNX,Version=v4.5.1

I've tried the same with "dotnetcore50" and some other framework, but nothing works... :(

[2016-05-02 12:09] shaulbehr opened #5245 "Bad reference for Microsoft.Extensions.Logging"
Hi,
I am working with a slightly newer version of EF7, which I got off MyGet (EntityFramework.Core.7.0.0-rc2-16769).
Since I upgraded to this from 7.0.0-rc1, creating my DbContext fails in the constructor:

`System.MissingMethodException : Method not found: 'Void Microsoft.Extensions.Logging.ILogger.Log(Microsoft.Extensions.Logging.LogLevel, Int32, System.Object, System.Exception, System.Func`3<Sy

[2016-05-02 13:17] peirens-bart commented on #5201
Found the cause of the issue,
One of the models has a property with object as type. if I add ignore on that property everything is working (and ignore is the correct behavior for that property).
I must say, the exception message is a bit confusing, I was looking in BinaryImage but the problem was in  TeamOptions object. BinaryImage is just the first model that I map.

[2016-05-02 13:18] NickSevens opened #5246 "EF7 code first: Value cannot be null. Parameter name: navigation"
When adding a relationship to an inherited class I get the following error.

I'm using EF7 RC1 on dnx451

Data model as follows:

CHILD : PARENT
CLASS2 --> CHILD (Foreign key: Class2Id)

CLASS2 has a property "Children", CHILD a property "Class2"

When trying to create initial DB migration I get the following result:

`System.ArgumentNullException: Value cannot be null.
Parameter name: navigation

[2016-05-02 14:00] rmja opened #5247 "Migration does not correctly include custom annotations"
Custom annotations on properties are not included in generated Up/Down migration, but they are correctly included in the model snapshot.

Consider the following example:

[code]

The generated migration is:

[code]

The custom annotations on the `SomeString` property are not included in the migration. The expected behavior would be that the annotations are included so that the column definition wo

[2016-05-02 14:08] divega commented on #5244
That package got renamed to Microsoft.EntityFrameworkCore.SqlServer for RC2.

[2016-05-02 14:10] divega commented on #5245
Entityframework.codeplex.com got renamed to Microsoft.EntityFrameworkCore.SqlServer for RC2. You are likely getting a very old build.

[2016-05-02 14:13] Trickass commented on #5244
Okay, didn't know that :) but still, using that package gives me the exact same issue...

[2016-05-02 14:23] Sohra opened #5248 "Microsoft.EntityFrameworkCore.Tools does not support Shared Projects"
A number of the PowerShell commands take a Project parameter that allows you to specify which project is used.  Take for example Add-Migration, the parameter indicates which project will have the migration code added to it.  Used in combination with the OutputDir parameter on this cmdlet, one can control the project and folder/sub-namespace migration code is placed in.

However if a shared project

[2016-05-02 14:33] Sohra opened #5249 "__EFMigrationsHistory table not populated on database create"
I'm using Microsoft.EntityFrameworkCore.Sqlite 1.0.0-rc3-20637, in Windows 10, in a .NET 4.6.1 application.

On startup I call `dbContext.Database.EnsureCreated()` and this creates the database with the full schema, however the __EFMigrationsHistory table is empty, and it should contain the name of the initial migration.

This problem prevents me from using code such as the following:

[code]

Whe

[2016-05-02 15:30] HalidCisse commented on #5246
possible duplicate  #3805

[2016-05-02 16:08] #4450 closed

[2016-05-02 16:54] rowanmiller commented on #5249
This is by design. `EnsureCreated()` just brute force creates the schema without paying any attention to migrations etc. It is mostly designed for testing, or scenarios where you don't care about upgrading the database.

I think you just want to call `Migrate()` - it will take care of creating the physical database if it doesn't already exist.

[2016-05-02 17:03] heldersepu commented on #1035
+1

[2016-05-02 17:11] gmartinezsan opened #5250 "Specified cast is not valid in Microsoft.EntityFrameworkCore.Relational"
Is this a real bug or something I'm missing?. I'm getting this exception:

[code]

This same test was working with RC1.

DbContext class definition

[code]

Thanks in advance!

[2016-05-02 17:27] smitpatel commented on #5247
Same as #5223

[2016-05-02 17:57] smitpatel commented on #5201
Exception message has been updated after RC1 see #3727

[2016-05-02 18:00] rowanmiller commented on #5242
There doesn't seem to be anything actionable on this one. The EF6 benchmarks don't do any cleanup work and it looks like every test in the run failed with the same error (not just the benchmarks).

[2016-05-02 18:01] rowanmiller commented on #5242
Discussed with @AndriySvyryd  and it's a little unclear from the log what exactly causes the `Collection was modified` exception.

[2016-05-02 18:11] rowanmiller commented on #5223
We'll discuss when @bricelam is back

[2016-05-02 18:19] rmja commented on #5223
Could this be related to #4146?

[2016-05-02 18:24] rowanmiller commented on #5241
@dteichman do you have MSBuild or VS installed?

[2016-05-02 18:29] rowanmiller commented on #5245
@shaulbehr can you share details of what feed you are installing from etc.

[2016-05-02 18:33] ErikEJ commented on #5249
@rowanmiller Maybe an update to the xml docs for EnsureCreated stating just that would be helpful?

[2016-05-02 18:56] natemcmaster opened #5254 "Mixing sync and async APIs on SqlClient for Linux overwhelms connection pooling"
The test re-enabled in https://github.com/aspnet/EntityFramework/pull/5062 fails on Linux consistently. We should investigate if this is a bug in SqlClient or in our test setup.

[code]

[2016-05-02 19:00] natemcmaster commented on #5012
Possible duplicate of #4771

[2016-05-02 19:01] smitpatel commented on #5012
I was using powershell.

[2016-05-02 19:03] #4826 closed

[2016-05-02 21:55] #4459 closed

[2016-05-02 23:52] anpete commented on #5250
@gmartinezsan Can you please share the code for the test, along with the log produced (LogLevel.Debug) when running the query?

[2016-05-03 00:20] f0rt opened #5257 "SaveChangesAsync() sometimes throws erros if in a method that is not awaited"
Hi team,
**I have:**
- VS2015U2
- MVC 6 website
- that targets DNX 1.0.0-rc1-update2
- reference to EF 1.0.0-rc1-final

I've implemented 2 classes similar to these below:

[code]

and

[code]

and a MVC controller:

[code]

When I load the page in the browser I get behavior that varies:
- Sometimes it runs without errors
- Sometimes I get InvalidOperation exception: The requested operation cannot

[2016-05-03 01:03] khionu commented on #5257
Async... without awaiting, your async methods will not hold up your threads, meaning the next portions of your code will execute without pausing... when your code is executing portions that depend on other portions  that that haven't finished executing yet, you get a Race Condition. Race Conditions are one of the reasons people not used to async should be wary.

[2016-05-03 01:07] divega commented on #5257
@f0rt TL;DR: You will have to await.

You may need to change your expectations on what async support on EF Core (or EF6 for that matter)is about: for applications executing on a server is actually about improving scalability by freeing up threads when they would otherwise have to wait idle for database operations to complete. It doesn't mean that you can "fire and forget" async operations so that

[2016-05-03 06:05] rmja opened #5258 "Migrations: Incorrect discriminator value generated if a derived class is referenced from an entity"
Consider the following example:
[code]

The `Carpark` references the derived type `Car`. This causes the following model snapshot to be generated:

[code]
The `.HasValue("Vehicle")` should not be included and the code cannot compilse as `"Vehicle"` cannot be converted to int.

Latest rc2 bits

[2016-05-03 06:30] Eneuman opened #5259 "Bug: (rc1) Foreign characters in Entity names does not work with Azure SQL V12."
Hi!
I'm using EF7 RC1.
I have a simple entity named "Ärende".
This entity is connected to a table named "Ärenden".

Example code:
var ärende = new Ärende();
ärende.KundId = 1;
_dbContext.Ärenden.Add(ärende)
 await _dbContext.SaveChangesAsync();

When running this on my local machine using SQL 2014, Everything works fine, but when I publish it to Azure and run it on a Azure SQL V12 I get this error

[2016-05-03 06:56] shaulbehr commented on #5245
@divega Thank you.  I think that will probably make a big difference... :)

[2016-05-03 07:35] dteichman commented on #5241
@rowanmiller yes to both. MSBuild 14.0.23107.0
and Microsoft Visual Studio Enterprise 2015 Version 14.0.23107.0 D14REL

[2016-05-03 09:53] PowerMogli commented on #5092
We have a similar problem, when we try to add a new child to parent. When calling DbContext.Update(entity) we get a DbUpdateConcurrencyException with message "Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded." Is this behavior intended or a bug?

Simple code below:
`private void OnLoaded(object sender,

[2016-05-03 09:53] f0rt commented on #5257
Thank you very much for the fast response. I suspected something like this but wanted to check that with you. It sound very clear now when you explain but I couldn't find anything in the net for that. Maybe it will be a good idea to mention that "Always await for awaitable DB operations" in the documentation. I've actually spent a a couple of hours debugging this on a azure website. You know debug

[2016-05-03 10:42] khionu commented on #5257
Or better yet, you can learn how to properly utilize Async
https://msdn.microsoft.com/en-us/library/hh873177(v=vs.110).aspx

[2016-05-03 11:59] Sohra commented on #5249
Good to know then, thanks

[2016-05-03 14:10] ErikEJ commented on #5241
DI you have Nuget 3.4 installed?

[2016-05-03 14:20] Eneuman commented on #5259
I can now confirm that renaming the entity from "Ärende" to "Arende" solved the problem.
So for some reason, foreign characters in Entity names does not work with Azure SQL V12.

[2016-05-03 15:50] divega commented on #5257
Triage: I agree with @f0rt that thus is a topic we should add in the documentation if we don't have it already.

[2016-05-03 16:18] natemcmaster opened #5260 "CLI Commands: PMC invokes scaffolding with incorrect arguments"
When invoking Scaffold-DbContext on a .NET Core project, the powershell generates an incorrect argument list.

[code]

Somehow, the powershell is adding a space between every letter of `--data-annotations`

https://github.com/aspnet/EntityFramework/blob/3f67cf09cc66919c9ba3d9295965fa8ad12f98da/src/Microsoft.EntityFrameworkCore.Tools/tools/EntityFramework.psm1#L474-L488

[2016-05-03 16:23] dteichman commented on #5241
@ErikEJ Actually I do, but I upgraded recently and I wasn't sure if it was before or after my above tests.
I cleaned everything up again. Fresh folder, clear nuget cache etc. and tried again.

Now I got this

info :   GET https://myget-2e16.kxcdn.com/artifacts/aspnetcidev/nuget/v3/flatcontainer/microsoft.extensions.configuration.fileextensions/1.0.0-rc3-20777/microsoft.extensions.configuration.fil

[2016-05-03 16:56] natemcmaster commented on #5227
We should update the help text to say "dotnet ef". The command is `dotnet ef`. Microsoft.EntityFrameworkCore.Tools.Cli is an internal implementation detail.

[2016-05-03 17:15] anpete commented on #5250
@gmartinezsan GetResult is attempting to cast the value in the ValueBuffer to a bool. This is failing so it is likely that the underlying value in the buffer is not a bool.

[2016-05-03 17:41] gmartinezsan commented on #5250
Yeah, I checked and the value is a "0". Is this a bug then ?

[2016-05-03 18:35] Eilon commented on #5212
@rowanmiller @natemcmaster any update on this? If we can't get it in today we'll likely need to move it out to RTM.

[2016-05-03 18:37] natemcmaster commented on #5212
I believe this was fixed in https://github.com/aspnet/EntityFramework/pull/5229. @rowanmiller did this go into release branch?

[2016-05-03 18:40] #5102 closed

[2016-05-03 19:01] natemcmaster commented on #5069
I confirmed the issue, but the issue is not in EF. The issue is in how Microsoft.Data.Sqlite is packaged. The workaround is to add Microsoft.Data.Sqlite as direct dependency of your app. When it is brought in as a transitive dependency, NuGet gets the wrong native binaries.

Moving to https://github.com/aspnet/Microsoft.Data.Sqlite/issues/245

[2016-05-03 19:12] natemcmaster commented on #5212
Confirmed. The fix is in release. I didn't find DNX any other strings/resources.

[2016-05-03 19:32] #3477 closed

[2016-05-03 19:33] gmartinezsan commented on #5250
[log.txt](https://github.com/aspnet/EntityFramework/files/247594/log.txt)

Here is the code of the unit test:

  public void CanConnectWithConnectionOnConfiguring()
    {
      var serviceCollection = new ServiceCollection();
      serviceCollection.AddEntityFrameworkMySQL()
        .AddDbContext<ConnectionStringInOnConfiguringTestContext>();

     var serviceProvider = serviceCollection.BuildServ

[2016-05-03 19:34] Pilchie opened #5261 "Unable to execute EF Migrations on dotnet core"
### Minimal repro steps
1. Install the latest CLI (I've been using OSX, not sure if that matters)
2. Clone https://github.com/Pilchie/SquashNext/pull/2
3. `dotnet restore`
4. `dotnet ef migrations list`
### Expected result

The list of migrations.
### Actual result

[code]
### Notes:
1. `dotnet --version`: 1.0.0-rc2-002543
2. Restore complains about package downgrades, and I end up with some rc3 p

[2016-05-03 19:40] stannynuytkens commented on #5176
Hi what is the supposed workaround?

[2016-05-03 19:41] Eilon commented on #5212
Thanks!

[2016-05-03 20:28] natemcmaster commented on #5069
Found that this is actually 2 issues. First the sqlite3.dll issue aspnet/Microsoft.Data.Sqlite#245.

Second issue: Microsoft.EntityFrameworkCore.Tools (called EntityFramework.Commands in RC1) brings in the CLR when this is listed as a dependency of a class library that is used in UWP.

### Reason
This package uses MSBuild to do some funky dll swapping in order to enable package manager console com

[2016-05-03 20:39] natemcmaster commented on #5069
cc @rowanmiller @divega this limitation is going to affect RC2 release

[2016-05-03 20:40] Ronan-Farrell commented on #1100
Also a vote here for some DbGeography support!

[2016-05-03 20:43] divega commented on #5069
I believe the workarounds are acceptable for RC2, but we need to mention them in any relevant documentation and release notes.

[2016-05-03 21:30] roji commented on #1100
Speaking from a PostgreSQL perspective, if and when you do tackle the problem of spatial data it's extremely important to do so with a cross-provider vision. EF6's spatial types, just like most other things in EF6, were designed to work with SqlServer's spatial support and don't necessarily capture what PostgreSQL's PostGIS allows - so a provider-independent abstraction such as DbGeography may not

[2016-05-03 21:47] anpete commented on #5250
@gmartinezsan Do you have an implementation of RelationalDatabaseProviderServices in the MySql provider? If so, can you share it?

[2016-05-03 21:52] mikary commented on #3675
The test: `QueryNavigationsTestBase.GroupBy_on_nav_prop` added in #5141 for issue #3626 has the same shape as the query. Closing as resolved / duplicate

[2016-05-03 21:52] #3675 closed

[2016-05-03 22:07] StrangeWill opened #5262 "Take Working Incorrectly When Used WIth OrderByDescending"
Given the following query:

    this.Context.Media
      .OrderByDescending(m => m.Created)
      .Skip(0)
      .Take(60)
      .Include(m => m.Files);

I'm getting 3 files for one piece of media, and 0 for another. There should be 3 for each (there are only two pieces of media).

However if I do this:

    this.Context.Media
      .OrderBy(m => m.Created)
      .Skip(0)
      .Take(60)
      .In

[2016-05-03 22:29] natemcmaster commented on #5261
This could be part of the problem. To ensure you are only getting RC2 bits, use this as your nuget.config

[code]

And if you still have trouble, you may need to [clear nuget caches](https://gist.github.com/natemcmaster/eb0cbecc8b0b43353234e160f09fb8a8).

[2016-05-03 22:50] natemcmaster commented on #5236
Thanks for the PR @Zoltu. Just so you know, because of our release schedule, this change won't be in the upcoming RC2 release. You can workaround this bug by using IHostingEnvironment and conditionally adding services within `Startup.ConfigureServices`

[2016-05-03 22:55] natemcmaster commented on #5261
@Pilchie I confirmed using my machine that when only using RC2 bits from the feeds I mentioned, this bug doesn't repro:

[code]

[code]

[2016-05-03 23:56] natemcmaster commented on #5212
Reopened. The fix broke the build. https://github.com/aspnet/EntityFramework/commit/2af1137acca85f9f53c8344bb813739ad3e727b0

[2016-05-04 00:03] #5227 closed

[2016-05-04 00:03] natemcmaster commented on #5187
Fixed with #5263

[2016-05-04 00:03] #5187 closed

[2016-05-04 00:14] natemcmaster commented on #5176
Use "imports" in project.json.
[code]

[2016-05-04 04:21] stannynuytkens commented on #5176
Hi, still getting EntityFramework.Core 7.0.0-rc1-final is not compatible with .NETPlatform,Version=v5.0.

[2016-05-04 04:25] davidfowl commented on #5176
@stannynuytkens can you provide more details? That looks you have a bad `project.json`

[2016-05-04 04:39] stannynuytkens commented on #5176
{
  "supports": {
    "net46.app": {},
    "dnxcore50.app": {}
  },
  "dependencies": {
    "Microsoft.NETCore": "5.0.0",
    "Microsoft.NETCore.Portable.Compatibility": "1.0.0"
  },
  "frameworks": {
    "dotnet": {
      "imports": "portable-net451+win8"
    }
  }
}

[2016-05-04 04:40] stannynuytkens commented on #5176
Just trying to add EntityFramework.Core to a 4.6.1 Portable class library for use in a .net core app.

[2016-05-04 04:43] stannynuytkens commented on #5176
Full output:

Restoring packages for 'BitBite.Data'.
Restoring packages for C:\Users\nuytk\Documents\Visual Studio 2015\Projects\BitBite\BitBite.Data\project.json...
Detected package downgrade: System.Reflection from 4.1.0-beta-23225 to 4.0.10
 BitBite.Data (>= 1.0.0) -> EntityFramework.Core (>= 7.0.0-rc1-final) -> Microsoft.Extensions.DependencyInjection.Abstractions (>= 1.0.0-rc1-final) -> Syste

[2016-05-04 04:50] levitatejay opened #5264 "Multiple 'Count' inside a 'Select' causes properties to interfere with each other"
I'm using RC1

The following code:

`_ctx.Products
                .Select(p => new
                {
                    Id = p.Id,
                    CustomerCount = p.LicenceProducts.Count,
                    UserCount = p.ProductUsers.Count
                })
                .ToList();`

Returns a list where each CustomerCount and UserCount property has the same value.

The results change ba

[2016-05-04 04:55] davidfowl commented on #5176
Yea, the `project.json` isn't right. You can't use the `dotnet` TFM (it's pretty much deprecated at this point). What are you trying to do? Write a portable class library that uses EF Core?

[2016-05-04 05:20] rowanmiller commented on #5212
The fix is in the release branch so closing this issue. I'm taking care of the merge to dev but build.cmd is broken for me at the moment, so I'll track the merge elsewhere.

[2016-05-04 05:20] #5212 closed

[2016-05-04 05:22] stannynuytkens commented on #5176
Hi David, yeah that's about exactly what I'm trying to do. =)

[2016-05-04 05:25] davidfowl commented on #5176
First thing you need to do is install update 2 and change the portable class library to a .NET Standard class library by right clicking and using the project properties. Also make sure you have the latest version of the NuGet client

[2016-05-04 05:44] stannynuytkens commented on #5176
Thank you David, will do.

[2016-05-04 13:49] rmja commented on #5223
@rowanmiller, @bricelam  I have looked into this and the problem seems to be that the `MigrationsAnnotations.For(target)` in [this line](https://github.com/aspnet/EntityFramework/blob/a1a9e2c65551b41d4d121c8c9e6a7b3ebb9fdb54/src/Microsoft.EntityFrameworkCore.Relational/Migrations/Internal/MigrationsModelDiffer.cs#L347) returns an empty enumerable as the [provider implementation](https://github.com

[2016-05-04 14:00] rmja commented on #5247
Closing this one as #5223 now also tracks the problem with custom annotation.

[2016-05-04 14:30] rmja commented on #5223
... and while you are at it, In `MigrationsModelDiffer`, could you insert `CopyAnnotations(MigrationsAnnotations.For(target), operation);` right after the creation of the `DropTableOperation()` [here](https://github.com/aspnet/EntityFramework/blob/a1a9e2c65551b41d4d121c8c9e6a7b3ebb9fdb54/src/Microsoft.EntityFrameworkCore.Relational/Migrations/Internal/MigrationsModelDiffer.cs#L375) :-) I need it t

[2016-05-04 14:56] rmja commented on #5258
The problems seems to be [on this line](https://github.com/aspnet/EntityFramework/blob/5fce4e24440fde8936d1c3806f0d8b0080da42a4/src/Microsoft.EntityFrameworkCore.Relational/Metadata/Internal/RelationalEntityTypeBuilderAnnotations.cs#L94)

`DiscriminatorProperty.ClrType == discriminatorType` Evaluates to false, as `typeof(int) != typeof(Vehicle)`, and so the discriminator value annotation is set to

[2016-05-04 15:31] rmja commented on #5258
I guess the fallback to use the name of the type as discriminator value should only be used if the type of the discriminator is string and the clr type is not abstract?

[2016-05-04 15:44] Villason opened #5265 "Question: Rank ordered by multiple columns executed by the server?"
Hi,

How can I implement the RANK() function taking into account two columns for the ranking? The main column does not have unique values. This is the query:

`select *, RANK() over (order by score, posteddate desc) as rank from Post`

I need to implement pagination without the offset limit pattern and I thought a kind of ranking function would be ok. I have a partial implementation which only wor

[2016-05-04 16:37] natemcmaster commented on #5176
@stannynuytkens this conversation has deviated from the original issue. Can you open a new issue on http://github.com/aspnet/home?

[2016-05-04 17:20] Pilchie commented on #5261
Awesome, that seems to work!

[2016-05-04 17:24] mikary commented on #3676
Retested now that related issue has been resolved. The initial query completes successfully; however, a `NullReferenceException` is thrown in `LinqOperatorProvider.GetEnumerator` when enumerating the elements within the `IGrouping<TKey, TElement>`

[code]

[2016-05-04 17:39] gmartinezsan commented on #5250
Sure.. here it is

public class MySQLDatabaseProviderServices : RelationalDatabaseProviderServices
  {
    public MySQLDatabaseProviderServices(IServiceProvider serviceProvider) : base(serviceProvider)
    {
    }

    public override string InvariantName
    {
      get { return GetType().GetTypeInfo().Assembly.GetName().Name; }
    }

    public override IDatabaseCreator Creator
    {
      get

[2016-05-04 17:57] anpete commented on #5250
@gmartinezsan Thanks. Can you try removing the override of ValueBufferFactoryFactory?

[2016-05-04 18:00] rowanmiller commented on #5232
Duplicate of https://github.com/aspnet/EntityFramework/issues/831

[2016-05-04 18:04] rowanmiller commented on #5235
@ralmsdeveloper can you share your model. The Where clause in both queries is different, so it's probably more to do with the properties you are accessing rather than the fact you are using a variable. It looks like the `.Where(p=>p.codcargor.codcargo)` is getting evaluated in-memory, but without knowing what that property is it's hard to comment on why.

[2016-05-04 18:09] rowanmiller commented on #5192
**EF Team Triage: ** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-04 18:11] rowanmiller commented on #5241
@dteichman are you trying to build the dev or release branch? That feed (aspnetcirelease) would only work with the release branch.

[2016-05-04 18:12] rowanmiller commented on #5244
@natemcmaster any thoughts on this one?

[2016-05-04 18:15] rowanmiller commented on #5258
Workaround for the moment is probably to set an `int` value (even thought its not needed) for `Vehicle`

[2016-05-04 18:20] natemcmaster commented on #5244
AFAIK we haven't tested EF Core RC2 on DNX because dnx is retired. EF Core relies on dependencies that work with dotnet-cli (https://github.com/dotnet/cli) but do not necessarily work with dnx. @Trickass you could try to use "imports" in project.json to make "dnx451" backwards compatible, but I don't know what the imports are.

@rowanmiller is this a scenario we want to support?

[2016-05-04 18:25] smitpatel commented on #5264
dupe of #3616

[2016-05-04 18:33] #3080 closed

[2016-05-04 18:35] rowanmiller commented on #3101
@maumar where are we at with this issue?

[2016-05-04 18:37] rowanmiller commented on #3141
@mikary can you let us know what you find, then we can re-triage

[2016-05-04 18:38] rowanmiller commented on #3180
@mikary  #4715 is now fixed, can you check on this one now

[2016-05-04 18:45] rowanmiller commented on #3674
@mikary can you verify now that #5179 is fixed

[2016-05-04 18:50] ilmax commented on #3080
@rowanmiller any details about this? Is it implemented, or rejected?

[2016-05-04 18:54] rowanmiller commented on #3741
*EF Team Triage:* Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-04 18:54] #3741 closed

[2016-05-04 18:57] #3804 closed

[2016-05-04 18:59] rowanmiller commented on #3807
@maumar do you know if this is still n+1

[2016-05-04 19:01] rowanmiller commented on #5103
@mikary can you confirm if this is fixed

[2016-05-04 19:01] rowanmiller commented on #3811
@mikary can you confirm if this is fixed

[2016-05-04 19:02] rowanmiller commented on #3811
@maumar can we close this one out?

[2016-05-04 19:59] divega commented on #3080
@ilmax The behavior implemented is that for queries that have different roots with different tracking settings, the last one will win.

[2016-05-04 20:20] rowanmiller commented on #5244
This isn't a "blessed scenario"... DNX is retired as of RC2 in place of CLI.

[2016-05-04 20:24] Trickass commented on #5244
I think I basically got very confused with all dnx, cli, dotnet, ... versions out there... That combined with dev, test, rc, ... package sources really makes me lose track of what I need to work with those packages. :/

[2016-05-04 20:26] rowanmiller commented on #5244
@Trickass totally get it, things are in a super confusing state at the moment. It will all settle down a lot when we get RC2 out the door and you don't have to rely on a whole bunch of nightly builds of things that sometimes work together.

[2016-05-04 20:29] Trickass commented on #5244
Great :) i guess i'll survive for another couple weeks without rc2 ;)
Thanks for the info!

[2016-05-04 20:54] divega opened #5266 "Consider removing IX-async dependency"
We currently are getting value from IX-async in two ways:

- Shared `IAsyncEnumerable<T>` interfaces
- In-memory implementation of async LINQ operators

A few new data points may affect the initial decision on taking this dependency:

- The .NET languages team is working on standard version the interfaces and language support for them (see https://github.com/ljw1004/roslyn/blob/features/async-retu

[2016-05-04 21:00] anpete commented on #5266
@divega I remember now that we discussed the quick option, too - Copy the relevant IX code into EF (internal) so that we can do the migration piecemeal.

[2016-05-04 21:31] rowanmiller commented on #5240
This is pretty interesting, I guess I never ran the whole set of tests against SQL Azure before (just the SaveChanges one to show the effect of batching).

The numbers I see aren't quite as bad, but they do show EF Core performing the same or worse for a simple SELECT against SQL Azure.

[code]

The improvement is still there on more complex queries, but much less pronounced.

[code]

This is actu

[2016-05-04 21:49] maumar commented on #3811
@rowanmiller yes, first example has been fixed and there is no response from the second customer about details of his scenario.

[2016-05-04 21:53] divega commented on #5266
If the main goal was to avoid committing to the `IAsyncEnumerable<T>` interface in IX-async while we wait for the BCL version, another option would be to make the dependency purely internal, e.g. making sure all the ways you can access the underlying `IAsyncEnumerable<T>` from a query are internal: `AsAsyncEnumerable()` and `IAsyncEnumerableAccessor<T>` should be defined in internal namespaces and

[2016-05-04 21:56] maumar commented on #3807
@rowanmiller yes, checked on latest bits

[2016-05-04 22:17] rowanmiller commented on #5240
Hold on my comment about the benchmarks... looks like we have some anomaly results in there and the benchmarks haven't been running long enough on the new hardware for those outliers to come out in the wash.

[2016-05-04 22:23] pranavkm opened #5267 "dotnet-ef scaffold references old EF package name"
Usage: dotnet ef dbcontext scaffold [arguments] [options]
Arguments:
  [connection]  The connection string of the database
  [provider]    The provider to use. For example, **EntityFramework.MicrosoftSqlServer**

[2016-05-04 22:38] anpete commented on #3807
@maumar Do the inner queries have a where clause?

[2016-05-04 22:45] anpete commented on #3418
@mikary Did you confirm that the query doesn't work with the Include before the GroupBy? This should be working and we have a test for it (f001a99d)

[2016-05-04 22:56] rowanmiller commented on #5240
@ErikEJ I'm guessing you just ran this against the SQL Azure database you created using the script from the demo repo? If so, that was only ever setup for the SaveChanges demo to show the effect of batching. The customers table is empty, so the query isn't returning any data 😊. I overlooked this too, until I realized the SQL Azure queries were running a lot quicker than the LocalDb ones... which d

[2016-05-04 23:01] rowanmiller commented on #5240
Ignore my previous comment (removed) about the lower % improvement on Azure vs. LocalDb... this makes total sense since the majority of the test is spent round tripping, so the time spent in EF code is a much smaller % overall.

[2016-05-04 23:15] anpete commented on #5262
@StrangeWill Which version of EF Core are you running?

[2016-05-04 23:15] anpete commented on #5088
Closing as we have done a first pass on this

[2016-05-04 23:16] #5088 closed

[2016-05-04 23:20] mikary commented on #3418
@anpete I hadn't looked into it yet, but I just ran a sample app and it appears to be working. I passed this one on to @maumar because he said he was working the related issue.

[2016-05-05 06:08] chris02031 opened #5269 "Empty GUID is overriden with a new GUID"
When trying to insert GUID.Empty as a value explicitly the EF framework seems to replace this with a new random GUID.

In the query parameters list it appears as a '?'.

EDIT: The column IS a key, but it is not database generated / seed.

[2016-05-05 06:47] ErikEJ commented on #5240
Doh! Of course!

[2016-05-05 07:28] dteichman commented on #5241
@rowanmiller release

[2016-05-05 08:29] ErikEJ commented on #5034
Exact same issue with build rc2-20801

[2016-05-05 10:48] Zero3 commented on #2303
@sayedihashimi Ping.

[2016-05-05 11:11] rabbal commented on #4846
1+

[2016-05-05 14:32] gmartinezsan commented on #5250
Done it. Now the exception is on MS.EntityFramework.Core

System.FormatException occurred
  HResult=-2146233033
  Message=String was not recognized as a valid Boolean.
  Source=mscorlib
  StackTrace:
       at System.Boolean.Parse(String value)
       at System.String.System.IConvertible.ToBoolean(IFormatProvider provider)
       at System.Convert.ToBoolean(Object value)
       at MySql.Data.MySql

[2016-05-05 14:40] ErikEJ commented on #5250
It looks like the erroris in MySql.. MySql.Data.MySqlClient.MySqlDataReader.GetBoolean

[2016-05-05 14:45] gmartinezsan commented on #5250
Looks like it is.. thanks ErikEJ!

[2016-05-05 14:49] #5250 closed

[2016-05-05 17:25] natemcmaster opened #5271 "Update Ms.EfCore.Tools.Cli package description"
The package description doesn't match what is actually in the package now.

![image](https://cloud.githubusercontent.com/assets/2696087/15051068/ba84d73e-12ab-11e6-9670-b0bef0d625f5.png)

Also, might be good to direct users in the package description to install Ms.EfCore.Tools, not Ms.EfCore.Tools.Cli.

[2016-05-05 17:26] rowanmiller commented on #5241
The *ci* feeds have packages pushed pretty regularly and they aren't always a coherent set of packages... that feed is pretty volatile, but gives you the latest build of every component (which is why we use it for local dev work). The error you got makes me think you may have been restoring packages as our CI was part way thru uploading a new set. Errors like this are often resolved by cleaning yo

[2016-05-05 17:51] natemcmaster opened #5272 "CLI Commands: adding more descriptive error message to help with OOB experience"
In the OOB experience for getting CLI Commands, users are likely to encounter this error:
[code]
Although this error helps, it does not 100% guide a user to a solution. What user must really do is:

1. Add to tools
2. Also make sure Ms.EfCore.Tools. Is a dependency of any project they need to use tools on.
3. Ensure they use the right imports.

Suggest adding a fwlink to a help page for this.

Tri

[2016-05-05 18:21] natemcmaster opened #5273 "Consider pay-for-play for tools packages"
Installing Microsoft.EntityFrameworkCore.Tools into a desktop .NET project brings with it packages that are only there for .NET Core CLI commands. Although this can be harmless, this means csproj/packages.config projects end up with about 20 packages and references they don't actually need. This also makes uninstalling tools.

IMO we should consider pay-for-play. A package such as Ms.EFCore.Tools.

[2016-05-05 18:37] ErikEJ commented on #5273
Yes, I noticed this when getting the latest Tools package for a demo. This seems insane, and contrary to your pay per play goals

[2016-05-05 18:39] rowanmiller commented on #5273
Kinds of a dupe of https://github.com/aspnet/EntityFramework/issues/4830, which we ultimately decided was a dupe of https://github.com/aspnet/EntityFramework/issues/4546

[2016-05-05 18:42] natemcmaster commented on #5273
Yes, but not 100% overlap with #4546. Adding Ms.EfCore.Tools.Cli as a dependency of Ms.EfCore.Tools is orthogonal to #4645. Its addition alone accounts for ~20 or so unnecessary dependencies.

[2016-05-05 18:46] CharlesToniolo commented on #1381
Is there any workaround to make it work with we have for now (RC1 or RC2)?
We are using automapper to translate these strings to enum (and enum to string), but doing this, almost of our queries have AsNoTracking and it is leading us in some troubles.

[2016-05-05 18:59] rowanmiller opened #5274 "Migrations: Can't Add-Migration in WPF app (ArgumentException: Path cannot be the empty string or all whitespace.)"
Repro steps:
* VS2015 Update 2
* New WPF app (.NET 4.5.2 - default in VS2015.2)
* `PM> Install-Package Microsoft.EntityFrameworkCore.SqlServer -Pre -Source https://www.myget.org/F/aspnetcirelease/api/v3/index.json`
* `PM> Install-Package Microsoft.EntityFrameworkCore.Tools -Pre -Source https://www.myget.org/F/aspnetcirelease/api/v3/index.json`
* Add any EF model (I used [this one](http://docs.efpr

[2016-05-05 19:01] rowanmiller commented on #5274
Found testing against `1.0.0-rc2-20820`

[2016-05-05 19:15] divega commented on #1381
You could do the conversion in code in the entity and map the underlying string property using EF (you can make the property private and still map it) and leave the enum property unmapped (e.g. with `[NotMapped]`).

[2016-05-05 19:30] rowanmiller commented on #5274
When fixing this, also make sure that relative paths in `-OutDir` work. At the moment, it puts them in a relative path to the compiled binaries (i.e. `bin\debug\...`).

[code]

I'm assuming this has the same root cause of the project directory not being picked up.

[2016-05-05 19:30] rowanmiller commented on #5274
BTW as a workaround to this entire issue, you can specify an absolute path in `-OutDir` to a folder within you project.

[2016-05-05 20:49] CharlesToniolo commented on #1381
That is exactly what i thought. Thanks!

[2016-05-05 21:11] rowanmiller opened #5275 "Install Microsoft.EntityFrameworkCore.Tools fails (for 1.0.0-rc2-20823)"
This is probably just a point in time thing while our dependencies all become coherent... but opening this just so we are tracking it.

[code]

[2016-05-05 21:33] rowanmiller opened #5276 "Migrations: Improve error message when no context in selected project in Package Manager Console"
This is usually going to be because you have the wrong project selected. We should print out what project/assembly we looked in and that you can change it with the 'Default project:' dropdown.

[code]

[2016-05-05 21:34] #5199 closed

[2016-05-05 21:45] rowanmiller opened #5277 "Migrations: Error when adding migration to directory outside of project"
[code]

We correctly add the generated migrations as a linked file, but it fails and the snapshot is never added.

[2016-05-05 22:10] gtbull80 commented on #3925
not sure if this is the right place for this...but any ideas?

PM> dotnet ef migrations add MyFirstMigration
dotnet.exe : Build failed.
At line:1 char:7
+ dotnet <<<<  ef migrations add MyFirstMigration
    + CategoryInfo          : NotSpecified: (Build failed.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

[2016-05-05 22:12] natemcmaster commented on #3925
@gtbull80 dotnet-ef requires your project to build before it can add a migration. Run `dotnet build` to see the compilation errors.

[2016-05-05 22:22] divega commented on #2303
@Zero3 did you mean to ping someone else? :smile:

[2016-05-05 22:25] divega commented on #5034
Long story short, we confirmed this to be an issue in the Roslyn packages and its dependencies but it won't be fixed for RC2. It is already fixed in post-RC2 bits.

@ErikEJ does this block you or can you target 4.5.1? Otherwise @ericstj mentioned you can use project.json as a workaround.

[2016-05-05 22:25] divega commented on #5034
We should verify that this is fixed for 1.0.0.

[2016-05-05 22:54] Zero3 commented on #2303
@divega Oh, right you are. My tab completion skills are clearly not in their final form yet! Sorry. @satyajit-behera was the one!

[2016-05-05 23:12] anpete opened #5278 "Debugging: Add informational ToString() to Model"
Return the model snapshot or some other informational format.

[2016-05-06 01:08] gtbull80 commented on #3925
Yeah...So I'm trying to wrap my head around all the new tech.  Life's fun on the bleeding edge!  When I run `dotnet build` , there are no errors...in fact there's no output at all.  So I'm not sure if my environment configuration is wrong or I'm missing something else.  I run the command in VS studio's package manager console from my project src\\{projectname} directory.  I'm running an MVC6 app t

[2016-05-06 01:15] ralmsdeveloper commented on #5235
The where clause is the same the only difference is that in a get the value of a variable and not another.

Follow my Model as requested.

    public class Cargos
    {
       [Key]
       [Display(Name="codcargo")]
       public int codcargo { get; set; }

       [Display(Name="nomecargo")]
       [StringLength(50)]
       [Column(TypeName="varchar(50)")]
       public string nomecargo { get; set

[2016-05-06 05:03] pradeepgade opened #5280 "Multiple Conditions in Where in Linq gives Error in EF7 SQLite"
Hi I am trying to give multiple conditions in the where clause for getting the data from the SQLite DB and it's giving an error.

If I try with single condition (either of the conditions) I am able to retrieve the results.

Not Working Code:
`_context.Object1
.Include(r => r.Object2)
.Include(r => r.Object3)
.Where(r => r.Object2.StringId == StringIdToCompare1 && r.Object3.StringId == StringIdToCo

[2016-05-06 06:47] divega commented on #5280
This is likely the same as #4597, which no longer repros in RC2.

[2016-05-06 06:50] antonioapostoliu opened #5281 "dotnet ef migrations list problem"
dotnet ef migrations list
give me:
System.MissingMethodException: Method not found: 'Microsoft.Extensions.PlatformAbstractions.IRuntimeEnvironment Microsoft.Extensions.PlatformAbstractions.PlatformServices.get_Runtime()'.
   at Microsoft.EntityFrameworkCore.Commands.ReflectionOperationExecutor..ctor(String startupProject, String environment)
   at Microsoft.EntityFrameworkCore.Commands.MigrationsL

[2016-05-06 08:13] ErikEJ commented on #5034
@divega At some point in history, I was forced to target .NET 4.6 from the test project, due to some dependency - after having reverted to .NET 4.5.1, I am now UNBLOCKED and all tests pass! Thanks...

[2016-05-06 09:33] Dresel commented on #2209
Had the same issue.

I added

    <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net451" />

manually to the packages.config, clicked on restore.

After that I could install `EntityFramework.InMemory`.

[2016-05-06 14:03] nrkarthick commented on #4293
@alexkeh.. Any updates from your team.. ?

[2016-05-06 14:20] ampalla opened #5282 "Insert-Update Entity with Computed column in sql"
When inserting or updating  an entity with computed column in sql, I get the error:

Computed columns should not be included in insert or update statements.

[2016-05-06 14:47] jlmelis commented on #4561
Can you explain the trick?

[2016-05-06 15:31] rowanmiller commented on #5282
Are you using RC1? Probably already fixed in https://github.com/aspnet/EntityFramework/issues/1441

[2016-05-06 16:05] natemcmaster commented on #4577
Known issue: if a user is trying to use dotnet-ef on a net451 project where "buildOptions" > "emitEntryPoint": false, dotnet-ef cannot execute. It tries to dispatch to a command inside `bin/Debug/net451/win7-x64/Microsoft.EntityframeworkCore.Tools.Cli.exe`, but for class libraries, the command is in `bin/Debug/net451/Microsoft.EntityframeworkCore.Tools.Cli.exe`.

[2016-05-06 16:16] alexkeh commented on #4293
@nrkarthick No new info announced yet.

[2016-05-06 16:18] ajcvickers commented on #5269
@chris02031 Can you please post your entity classes and any code you have in OnModelCreating?

[2016-05-06 16:20] natemcmaster commented on #4577
Blocked: https://github.com/dotnet/cli/issues/2919

[2016-05-06 16:41] smitpatel commented on #5235
dupe of #4826 which is fixed by #5251 recently.

[2016-05-06 16:51] natemcmaster commented on #4577
Second issue: dotnet-ef cannot load the startup assembly in desktop .NET when executing on a different project. This was a design oversight on our part. Here is the issue:

### In PowerShell
[code]
`Add-Migration Init -Project LibProj -StartupProject WebApp`
The powershell will load **`WebApp.dll`**, using the app domain base path as `WebApp/bin/Debug/`. Because WebApp references LibProj, all asse

[2016-05-06 17:02] rowanmiller commented on #4561
@jlmelis

[2016-05-06 17:07] jlmelis commented on #4561
@rowanmiller  Sorry I should have been more clear. What do you mean by "tell EF it is a table"?

[2016-05-06 17:13] rowanmiller commented on #4561
@jlmelis just write the code the same as you would when you map to a table. Create an entity, and if the table name it expects by convention doesn't match the name of your view then [use DataAnnotations or the Fluent API to specify the "table" name](http://docs.efproject.net/en/latest/modeling/relational/tables.html).

[2016-05-06 17:28] #1378 closed

[2016-05-06 18:32] ilmax commented on #3080
@divega thank you

[2016-05-06 19:40] smitpatel opened #5285 "Tools.CLI is 64 bit architecture"
Not an error just a warning but this came up while using rev eng on win7 32 bit machine

C:\Program Files\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1820,5): warning MSB3270: There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of the reference "Microsoft.EntityFrameworkCore.Tools.Cli, Version=1.0.0.0, Culture=neutra

[2016-05-06 19:49] chris02031 commented on #5269
My original post was wrong. The column is in fact a key, but not DB generated.

[code]

[code]

This creates a random GUID as the key where EF6 used the literal empty GUID.

[code]

[2016-05-06 21:06] StrangeWill commented on #5262
@anpete Terribly sorry about that... that's an obvious should-be-here thing.

EntityFramework.Core 7.0.0-rc1-final

[2016-05-06 23:54] ajcvickers commented on #3376
Closing since both these models work with the current bits. Will send PR with regression tests.

[2016-05-06 23:54] #3376 closed

[2016-05-07 00:07] smitpatel opened #5288 "RevEng: Sqlite : Relative path for database file does not work"
Repro steps
Create csproj based solution console app/class library
Install EFCore.Tools/SQLite/SQLite.Design packages

[code]

The db file resides in project root directory. The scaffolding command is invoked from the same directory. The filename in connection string is provided with relative path.
1. We should handle relative paths better, at least in the context of project directory.
2. If the d

[2016-05-07 00:56] smitpatel opened #5289 "RevEng: DataAnnotations are not used for column types"
Using northwind.db
command:
Scaffold-DbContext "Data Source=C:\Users\smpatel\Documents\Visual Studio 2015\Projects\ClassLibrary2\northwind.db" Microsoft.EntityFrameworkCore.Sqlite -OutputDir .\Models -Context MyContext -DataAnnotations -Tables Employees,Orders -Project ClassLibrary1 -Environment Production -Force -Verbose
Generates following in modelbuilder code
[code]
Some of the types here like

[2016-05-07 01:02] smitpatel opened #5290 "RevEng: Types with length can be specified using data annotations"
Using Northwind Database with SqlServer provider,

[code]

SqlServer db type is made of the type and length. If the type is default for given clr type we generate annotation for length. If type is different from default then we generate fluent api. (like `nchar(5)`)
But according to
https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/Metadata/Conventions

[2016-05-07 01:04] rowanmiller opened #5291 "Review package descriptions"
Ensure we use consistent language etc.

[2016-05-07 01:21] smitpatel opened #5292 "Show better error message when using EF tools in Powershell with version lower than 3.0"
Default version of PowerShell in windows 7 is 2.0. EF.Tools requires version 3.0+. The installation of packages run init.ps1 script which shows some error but package installation shows success. And when trying to use EF commands,
[code]
I will update the issue later once I get a machine without PS 3.0 on how `Install-Package` looks like.
But since we are running PS script from our tools, we shoul

[2016-05-07 01:33] divega opened #5293 "Remove-Migration for last migration fails to remove model snapshot (at least on UWP apps)"
### Repro steps:
1. Create UWP application as described in http://docs.efproject.net/en/latest/platforms/uwp/getting-started.html (I haven't tried with other kinds of applications)
2. Stop after add-migrations step succeeds
3. Execute `Remove-Migration -Verbose`

### Expected result:
Both last (and only) migration and model snapshot are removed.

### Actual result:
Output is:
[code]
(notice the er

[2016-05-07 03:11] #5274 closed

[2016-05-07 12:03] danielcirket opened #5294 "IDbContextFactory and RC2 Migrations"
As per the title if you use an `IDbContextFactory<TContext>` during migrations this must have a default constructor, or a `MissingMethodException` is thrown (Seems this has been mentioned previously here too after some further looking #4832).

Granted in this example the factory isn't really going to be required, however I have other projects which are going to be using an `IDbContextFactory<TCont

[2016-05-07 12:44] danielcirket commented on #5294
Would it be possible to try and resolve the factory using the IServiceCollection first, rather than simply constructing it via Activator.CreateInstance?

Not sure what side-effects that would have though.

[2016-05-07 15:06] spboyer opened #5295 "Method not found: Void Microsoft.EntityFrameworkCore.Storage.RelationalDatabaseCreator"
Converted to RC2 getting `Method not found: Void Microsoft.EntityFrameworkCore.Storage.RelationalDatabaseCreator` when running `DbSeeder.SeedAsyc()`

[code]

Appears that the issue is on db.Database.EnsureCreatedAsync() when trying to create schema from migration.

[code]

See: https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/tree/dotnet-cli

Updated: reference to proper branch. sorry @dav

[2016-05-07 15:24] davidfowl commented on #5295
@spboyer Why does that application still use dnxcore50 and runtime specific packages? If you're going to use RC2, start from the CLI samples here https://github.com/aspnet/cli-samples.

[2016-05-07 15:33] spboyer commented on #5295
@davidfowl the cli-samples are not complete samples, just starter "HelloWorld", no EF, PostgreSQL etc.  Trying to convert this application over.  Started with the project.json from cli-samples.  Is there something specific I didn't replace? or Add/Remove?

It appears that the Sqlite provider doesn't have the `RelationalDatabaseCreator` method implemented

[2016-05-07 15:35] spboyer commented on #5295
@davidfowl and the **HelloMVC** example also has dependencies on dnxcore still in the samples

https://github.com/aspnet/cli-samples/blob/master/HelloMvc/project.json#L28

[2016-05-07 15:40] davidfowl commented on #5295
Did you start from the samples? Here are some issues:

- You're targeting dnxcore50
- You still have a `hosting.json` https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/blob/master/hosting.json
- You still have commands https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/blob/master/project.json#L37-L40
- You still have excludes https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/b

[2016-05-07 15:47] spboyer commented on #5295
@davidfowl - Oy! I pasted the wrong branch for reference : https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/tree/dotnet-cli

[2016-05-07 16:01] spboyer commented on #5295
Esssentially what I did, and chased down the namespace changes
also used this as a reference. https://github.com/aspnet/Home/issues/1381

[2016-05-07 16:04] davidfowl commented on #5295
That looks much better, you should remove this https://github.com/spboyer/AspNetCorePostgreSQLDockerApp/blob/dotnet-cli/project.json#L19, It's not required.

[2016-05-07 16:07] spboyer commented on #5295
So valid EF issue or something else you think

[2016-05-07 16:20] divega commented on #5295
That kind of exception is often a symptom of mixing new and stale package versions.

[2016-05-07 18:22] spboyer commented on #5295
@divega got all of the EF ones fresh, unless you are saying that there are some that are not updated?

[2016-05-07 18:36] divega commented on #5295
See https://github.com/aspnet/EntityFramework/issues/5241.

[2016-05-07 18:49] gdoron commented on #4561
Steps:

1. Create the POCO-class as you would had it been a table.
2. Add customization like changing the table name as @rowanmiller suggested.

If you are using migrations
3. Create a migration
4. Remove the create table migration script from the Up method and the drop table from the down.
5. Add the create/drop view in the Up/Down instead if you want to manage the view via migrations.

Note that

[2016-05-07 19:37] bunceg commented on #3797
+1 Lazy Loading. We are in the same position as john-surcome. We use Lazy Loading unless our profiling states its a problem; yes it's an issue for inexperienced ORM developers who hit the SELECT N+1 problem but then that's why we have lead devs who know what they are doing.

To say "it causes issues for devs so we shouldn't have it at all" is, IMO, a poor reason for adding additional complexity to

[2016-05-07 20:38] SepiaGroup commented on #5159
i am not so sure that this way of overriding the default names works.
my first issue is that the modelBuilder is not in the OnConfiguring which is defined as

protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)

but it is available in OnModelCreating, which is where i placed this code.
i did see that it lowercase the names but it still builds the table in the db with capi

[2016-05-08 07:18] ErikEJ opened #5296 "Wrong sample code in blog from Windows team"
Hi, I know it is not directly related to you guys, but could you perhaps contact the author of this blog post: https://blogs.windows.com/buildingapps/2016/05/03/data-access-in-universal-windows-platform-uwp-apps/ and help him/her update the code sample so it can compile?

DatabaseContext => DbContext etc.

[2016-05-08 08:06] dteichman commented on #5241
@rowanmiller thanks.
I tried git clean -fdx and then build.cmd, but still failed:

Installed:
    41 package(s) to src/Microsoft.EntityFrameworkCore.Tools/project.json
info: Run target: csproj-initialize
info: Exec
info:   program: C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe
info:   commandline: src\Microsoft.EntityFrameworkCore\Microsoft.EntityFrameworkCore.csproj /t:GenerateProjectLockTa

[2016-05-08 17:03] spboyer commented on #5295
Cleared nuget repos locally and `dotnet restore` repaired issue.  Need to add `--no-cache` option to `dotnet restore` perhaps? @davidfowl

[2016-05-08 17:39] davidfowl commented on #5295
It's already there.

[2016-05-08 21:53] Trickass commented on #5246
Is there a way to know WHICH navigation parameter it's talking about?
As in: what the parameter value of "navigation" is when the error occurs?
Might help finding out what's going on.

[2016-05-09 07:05] Ciantic commented on #4695
Also this:

[code]

[code]

Causes two inner joins.

[2016-05-09 07:14] ampalla commented on #5282
I am using RC1 and I have set MaxBatchSize to 1.

[2016-05-09 09:28] yaochangyu opened #5297 "Entity Framework maping data definition language of Description schema"
@code first
The Name property can mapping DDL of Description schema
public class Person
{
public int Id { get; set; }

[Description("姓名")]
public string Name { get; set; }
}

@database first
Description schema can convert property's DescriptionAttribute

@SQL
CREATE TABLE [ConsoleApplication3.MyDbContext].dbo.People (
Id int IDENTITY,
Name nvarchar(max) NULL,
CONSTRAINT [PK_dbo.People] PRIMARY KEY

[2016-05-09 09:29] yaochangyu opened #5298 "ADO.NET Entity Data Model Template generate property(POCO) should add Column TypeName = "NVARCHAR" from Database"
ADO.NET Entity Data Model Template generate property(POCO) should add Column TypeName = "NVARCHAR" from Database

@Database
CREATE TABLE Test.dbo.Test (
Id INT IDENTITY
,Name NVARCHAR(50) NOT NULL
,CONSTRAINT [PK_dbo.test] PRIMARY KEY CLUSTERED (Id)
) ON [PRIMARY]
GO

@POCO (via ADO.NET Entity Data Model Template Generated)
[Table("Test")]
public partial class Test
{
public int Id { get; set; }

[

[2016-05-09 09:30] strich opened #5299 "Why can't EF serialize classes in models?"
Suppose I have the following model:

[code]

The `Deployment` class is a stub - Its unique to every project and will never be shared with anything else. It'll only ever be accessed through a `Project`. It is just a collection of properties really. It could be flattened out into the `Project` class, but there are code cleanliness benefits to encapsulating them for use elsewhere in the application.

[2016-05-09 12:25] lucamorelli opened #5300 "cannot add migration in a uwp app"
I'm trying to add a ef 7 db context in a uwp app, following the tutorial in the docs site, but when I try to create the migration I have the error message "Object reference not set to an instance of an object."

Am I missing somthing?

[2016-05-09 13:30] Jargon64 opened #5301 "No way of enabling IGNORE_DUP_KEY for unique indexes via code first"
I've searched around regarding this and unless I'm mistaken there is no way to do this.

I have a service which receives a lot of data from multiple origins, however it is often that some of the data in each post is duplicated. Multiple records get added at the same time but if a duplicate exists none of them are saved (as an exception is thrown). I could break apart the record adds and save indiv

[2016-05-09 14:25] smitpatel commented on #5299
dupe of #246

[2016-05-09 14:58] shaulbehr commented on #3421
Interested to hear how this feature is coming along?

[2016-05-09 15:15] danBhentschel opened #5302 "Can't install both Commands and SQLite into same project?"
I've tried this several times now in VS2015:

1) File -> New -> Project
2) Templates -> Visual C# -> Unit Test Project  w/ .NET Framework 4.5.2
3) Install-Package EntityFramework.SQLite -Pre
 ----> SUCCESS
4) Install-Package EntityFramework.Commands -Pre

If I try to install Commands first, and then SQLite second, the behavior is similar. Commands succeeds, but SQLite fails. Am I doing something w

[2016-05-09 15:17] ErikEJ commented on #5302
Do you have the latest version (3.4.3) of NuGet installed?

[2016-05-09 15:24] danBhentschel commented on #5302
I had 3.4.0. I just installed 3.4.3, and retried. Same behavior as before.

[2016-05-09 15:32] strich commented on #5299
Going to close this issue as it is a dupe of an existing feature request.

[2016-05-09 15:36] danBhentschel commented on #5302
Nevermind. I think I got it. I had AspNetVNext (https://www.myget.org/F/aspnetvnext/api/v2/) setup as a package source. Don't remember when or why I did that. When I removed that source, installation succeeds.

Perhaps the devs might still want to look into this??? But it's no longer an issue for me. I can move forward.

 - danBhentschel

[2016-05-09 15:46] shaulbehr opened #5303 "How to generate custom IDs?"
EF7 does all the usual stuff about auto-generating auto-incrementing IDs. Now, I have some tables that require custom key generation on insert.
1. COMB Guids. i.e. Guids that get inserted (close to) sequentially so they don't wreak havoc with the clustered index.
2. One table has a custom GUID generated from the hash of some other values on the table, to ensure that the ID is consistent over all o

[2016-05-09 15:51] ErikEJ commented on #5302
You were mixing rc1 and rc2 packages then, and that will not work.

[2016-05-09 15:51] Bartmax opened #5304 "Errors when using dotnet ef anycommand"
When running `dotnet ef migrations list` (or any command actually)  I get this error (ignore the warnings):

[code]

**dbcontext:**
[code]

**startup:**
[code]

**dotnet info:**
[code]

[2016-05-09 16:01] natemcmaster commented on #5296
Thanks @ErikEJ . I'll reach out internally to see if we can fix the sample.

[2016-05-09 16:30] danBhentschel commented on #5302
Thanks.

[2016-05-09 16:49] danBhentschel opened #5305 "SaveChanges improperly throws an exception due to "circular dependency""
I have created an extremely simple unit test project that illustrates this problem:

https://github.com/danBhentschel/EF7CircularDependencyTest

It was created using code-first and a SQLite DB.

The short description is that I get an exception when attempting to `SaveChanges()`:

However, if I try to save the **exact same** data to the DB, but break the commit step into two staggered calls to `Sav

[2016-05-09 17:00] glatzert commented on #3741
Besides the upper full repo code lacking a `ToListAsync()` or `FirstAsync()`, I was not able to produce that bug anymore in my environment. Unfortunately we removed the code at some point in time, and I have no idea where I could be looking for the code in TFS ... Sorry that I wasted your time.

[2016-05-09 17:09] rowanmiller commented on #5303
Are values generated in the database, or in memory prior to insert? Also, it this an existing database, or are you using migrations to create the database from the model?

[2016-05-09 17:10] rowanmiller commented on #3421
@shaulbehr we haven't started on this yet. It will be a post 1.0.0 feature, and there are some more fundamental features on the list ahead of it.

[2016-05-09 17:12] rowanmiller commented on #5301
I assume you are using migrations to create the database? If so, there is no default support baked in, but you could use the `Sql(string)` method in a migration to run the raw SQL statement to set this option for the index.

[2016-05-09 17:14] rowanmiller commented on #5298
Code first should use `nvarchar` by default for string properties. You would only get a non-Unicode column if you manually configure the `varchar` data type.

[2016-05-09 17:21] rowanmiller commented on #5159
Typo on my behalf, OnModelCreating is the correct place (I updated my original comment).

[2016-05-09 17:34] rowanmiller commented on #5294
@danielcirket `IDbContextFactory` is typically used when EF can't get a hold of the service provider (i.e. we can't work out how to interact with Startup.cs). If we can get the service provider, then we would just resolve the context directly and not worry about the factory.

[2016-05-09 17:44] rowanmiller commented on #5246
Duplicate of #3805 which is already fixed and will ship in RC2

[2016-05-09 17:46] rowanmiller opened #5306 "XML Docs: Clarify XOR nature of Migrate() and EnsureCreated()"
The API docs should point out what when to use these APIs (and that they can't be combined)

[2016-05-09 17:46] rowanmiller commented on #5249
Opened https://github.com/aspnet/EntityFramework/issues/5306 to update the docs

[2016-05-09 17:49] rowanmiller commented on #5257
Added note to https://github.com/aspnet/EntityFramework.Docs/issues/158 to ensure we doc this when we do query docs

[2016-05-09 17:52] rowanmiller commented on #5265
To do this you would need to drop down to a raw SQL query, using the `DbSet.FromSql(string)` method. You'd also need to introduce a new model type that includes the Rank property since it is in the SELECT list (we have https://github.com/aspnet/EntityFramework/issues/1862 tracking the ability to return results into a type that is not part of the model.

[2016-05-09 17:52] yeasin90 opened #5307 "Migration update fails in UWP with SQLite and EF7"
I added a new filed in my model class and generate a new migration file with the command :
**Add-Migration MyNewMigration**

When I start the application, the following code :

[code]

throws exception : **SQLite cannot support this migration operation.**

Packages I have installed are : **Install-Package EntityFramework.SQLite –Pre**
and : **Install-Package EntityFramework.Commands –Pre**

[2016-05-09 18:21] rowanmiller commented on #3101
@maumar ping 😄

[2016-05-09 18:21] rowanmiller commented on #3807
@maumar ping 😄

[2016-05-09 18:34] ErikEJ commented on #5307
Maybe your migration is hit by one of the many sqlite limitations: http://ef.readthedocs.io/en/latest/providers/sqlite/limitations.html

[2016-05-09 18:36] natemcmaster commented on #5277
Fixed in https://github.com/aspnet/EntityFramework/pull/5279

[2016-05-09 18:36] #5277 closed

[2016-05-09 18:37] rowanmiller commented on #5281
@natemcmaster did we already have a change in the pipeline to react to this?

[2016-05-09 18:39] JunTaoLuo opened #5308 "Hanging tests on single threaded Ubuntu environment"
It seems like some tests in EF are hanging consistently on agent projectk-tc-ag6, see http://aspnetci/viewLog.html?buildId=90832&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildLog#_focus=115519. I took a brief look at the test set up in https://github.com/aspnet/EntityFramework/blob/f732e3c7c1a680a944b9aafaf34bef88ed8a19c4/test/Microsoft.EntityFrameworkCore.FunctionalTests/DatabaseErrorLog

[2016-05-09 18:47] natemcmaster commented on #5285
This is essentially a duplicate of https://github.com/aspnet/EntityFramework/issues/5273. With "Tools.CLI" as a dependency of "Tools", users will get this error. We can fix this by splitting packages or preventing Tools.CLI from installing in csproj type projects.

The error thrown by MSBuild is valid because Tools.CLI ships a "exe", not a "dll" in the nupkg to support CLI commands on desktop .NET

[2016-05-09 18:48] natemcmaster commented on #5281
Yes. @antonioapostoliu can you share which version of Entity Framework packages you have installed? (project.lock.json). This should have already been fixed in builds >= 20832

[2016-05-09 18:49] rowanmiller commented on #5294
We'll look at this in RTM as part of the overall interaction with Startup.cs

[2016-05-09 18:51] rowanmiller commented on #5300
@lucamorelli are you using RC1 packages from NuGet.org?

[2016-05-09 18:52] lucamorelli commented on #5300
yes

[2016-05-09 18:57] natemcmaster commented on #5304
@Bartmax thanks for the stack trace. This shows that the NRE comes from user code, not ef. When EF invokes startup, something inside is null. This could be that either EF invokes Startup without all the right parameters, or the user code isn't loading something correctly at design time. Based on what provided, my guess is the problem is this expression `Program.Configuration["Data:DefaultConnectio

[2016-05-09 18:59] Bartmax commented on #5304
sure! makes sense... I think this static is bad :)

[code]

[2016-05-09 19:03] natemcmaster commented on #5304
Bingo. EF doesn't run Program.Main. "dotnet ef" will only invoke the Startup class. If you initial Configuration somewhere else (such as a static constructor on Program), this should solve the NRE.

FYI - we hope to sort out this interaction with ASP.NET hosting for our RTM release. See https://github.com/aspnet/EntityFramework/issues/4546.

[2016-05-09 19:07] Bartmax commented on #5304
@natemcmaster static constructor on program?

[2016-05-09 19:16] natemcmaster commented on #5304
To clarify, I mean you *could* use a static constructor. But as long as Configuration is initialized somehow in these steps, it doesn't matter how you want to structure your code.

How EF calls startup: https://github.com/aspnet/EntityFramework/blob/96628d58a56865f8f6650e3fa0e970f1bdd11a2e/src/Microsoft.EntityFrameworkCore.Tools.Core/Design/Internal/StartupInvoker.cs

[2016-05-09 19:29] peirens-bart opened #5309 "Cannot have keys other than those declared on the root type"
I'm having these error when running:
dnx ef migrations add BT0001 -c "ApplicationContext" -p "BookerTools.Database.EF" -v

I can't find why I'm having this error,
I added the project that I'm using, Can someone tell me what I'm doing wrong or what that I forget to do.
Many thanks in advanced.

[2016-05-09 19:34] pranavkm commented on #5292
Have a repro for this in a Win7 machine with Powershell 2.0 installed. The package manager console produces the following error:
[code]

Would be nice to see a clear error here.

[2016-05-09 19:38] natemcmaster commented on #5304
Closing as a duplicate of  #4546. @Bartmax feel free to re-open if you still can't get this to work.

[2016-05-09 19:38] #5304 closed

[2016-05-09 19:41] natemcmaster commented on #4546
Related issue: https://github.com/aspnet/EntityFramework/issues/5304#issuecomment-217956745

Recent Hosting templates have changed to loading configuration in `Program.Main`. EF can't (and shouldn't) call `Program.Main` at design-time, yet we still need to load configuration to get connection strings.

[2016-05-09 20:07] divega commented on #5265
@Villason If I understand your question correctly the other thing you may want to try is calling `UseRowNumberForPaging()` after `UseSqlServer()`.

[2016-05-09 20:11] rowanmiller commented on #3829
The issue is using Include after projecting to select a navigation property. The workaround is to rewrite the query like

[code]

[2016-05-09 20:19] rowanmiller commented on #3987
@lajones regardless of extension points, we should update EF to handle snake case

[2016-05-09 20:43] rowanmiller commented on #4523
@maumar ping

[2016-05-09 20:46] rowanmiller commented on #4581
@mikary can you confirm if this is fixed

[2016-05-09 20:50] rowanmiller commented on #4596
@mikary can you verify if this is fixed

[2016-05-09 21:05] anpete commented on #4371
@PrashanthIBM Can you try the fix outline in: https://github.com/aspnet/EntityFramework/issues/5250

[2016-05-09 21:22] ilkertskn commented on #5309
http://www.bricelam.net/2014/09/14/migrations-on-k.html

[2016-05-09 22:04] natemcmaster opened #5311 "CLI Commands: support loading startup from a separate project"
Add support for supplying a project as a parameter in `--startup-project` that is different than the current project.

This is explicitly disabled in code. See https://github.com/aspnet/EntityFramework/issues/4577#issuecomment-217496222 for background and https://github.com/aspnet/EntityFramework/pull/5312.

[2016-05-09 22:10] natemcmaster commented on #4577
Base support for CLI commands on desktop is added for RC2. Remaining issues are tracked else where.

See #5311 and https://github.com/dotnet/cli/issues/2645

[2016-05-09 22:10] #4577 closed

[2016-05-09 22:27] #4441 closed

[2016-05-09 22:31] divega commented on #5294
Just to add some information, from @bricelam comment at https://github.com/aspnet/EntityFramework/issues/4441#issuecomment-181505444:

This implies that with the current design `IDbContextFactory` implementations need to be self-contained and not take arguments. If we started resolving them from DI first, that would break the contract that "you just need to implement an `IDbContextFactory<T>` and

[2016-05-09 22:51] divega commented on #5308
One of the tests that is failing is  [`DatabaseErrorLogStateTest.Query_logs_DatabaseErrorLogState_during_LINQ_enumeration_async`](https://github.com/aspnet/EntityFramework/blob/dev/test/Microsoft.EntityFrameworkCore.FunctionalTests/DatabaseErrorLogStateTest.cs#L87) which is a sync test that is testing an async query method with a Wait() at the end (so it is not very surprising that it hangs when r

[2016-05-09 23:03] smitpatel commented on #4839
@ajcvickers, @rowanmiller - What should be the exception message here?

[2016-05-09 23:19] pranavkm opened #5313 "CLI Command: dotnet ef fails to run on Windows 7"
OS: Windows 7 Enterprise (Version 6.1 Build 7601)
dotnet --version: 1.0.0-rc2-002678
Microsoft.EntityFrameworkCore.Tools: 1.0.0-rc2-20828

Running `dotnet ef` fails with

[code]

This indicates something has the wrong import. However the same app works fine on Windows 10, CentOS 7.1, Ubuntu 14.04

Repo: https://github.com/pranavkm/ef-migration

[2016-05-09 23:33] natemcmaster commented on #5313
Also on OSX El Capitan. I believe this might be a bug in how Microsoft.NETCore.App is created.

[2016-05-09 23:35] pranavkm commented on #5313
cc @davidfowl \ @ericstj

[2016-05-09 23:40] anpete commented on #5308
cc @rowanmiller who wrote this originally.

[2016-05-09 23:47] anpete commented on #4839
Something like: "A parameterless constructor was not found on entity type 'Foo'. In order to create an instance of 'Foo' EF requires that a parameterless constructor be declared.

[2016-05-09 23:49] anpete commented on #5308
@divega I think the reason here is to DRY-up the result verification. Suggest we split async into different tests like we do usually. NB. I have seen this pattern in some of our other tests, too.

[2016-05-10 00:00] pranavkm opened #5314 "CLI Command: Success message prints incorrect guidance for remove"
`Done. To undo this action, use 'ef migrations remove'`

Compare this to usage help: `Usage: dotnet ef migrations remove [options]` (Note the missing `dotnet`)

[2016-05-10 00:20] pranavkm opened #5316 "dotnet ef database drop does not provide any feed back when y/Y is keyed"
It seems like the command is hung when the key is pressed. It would be nice to get some form of response that says it's busy deleting the db.

[2016-05-10 00:21] pranavkm commented on #5316
Would be also nice to have it ask for "yes" followed `Enter ↵` to prevent accidental key strokes from dropping the db.

[2016-05-10 00:23] pranavkm opened #5317 "dotnet ef database drop always ask if it wants to drop the database regardless of the existence of the db"
The command always prompts for `Are you sure you want to drop the database ...` without verifying if it exists. Running it twice makes it appear as if it hasn't done any work the first time around.

[2016-05-10 05:37] antonioapostoliu commented on #5281
Error persist today
===================================================
D:\fix4\MusicStore-dev\src\MusicStore>dotnet --info
.NET Command Line Tools (1.0.0-preview1-002700)

Product Information:
 Version:     1.0.0-preview1-002700
 Commit Sha:  0336f6bb34

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x86
==============================

[2016-05-10 05:40] antonioapostoliu commented on #5281
I don't wanted to write with different font weights and size. I don't know what github input filter does it.
Best Regards

[2016-05-10 05:47] antonioapostoliu commented on #5281
From project.lock.json:

"Microsoft.EntityFrameworkCore.Commands/1.0.0-rc3-20680": {
        "type": "package",
        "dependencies": {
          "Microsoft.AspNetCore.Hosting.Abstractions": "1.0.0-rc3-20680",
          "Microsoft.EntityFrameworkCore.Relational.Design": "1.0.0-rc3-20680",
          "Microsoft.Extensions.PlatformAbstractions": "1.0.0-rc3-20680",
          "System.Collections.NonG

[2016-05-10 05:52] antonioapostoliu commented on #5281
I added 1.0.0-rc3-20832 only for Microsoft.EntityFrameworkCore.Commands
dot net restore give me:
Errors in D:\fix4\MusicStore-dev\src\MusicStore\project.json
    Unable to resolve 'Microsoft.EntityFrameworkCore.Commands (>= 1.0.0-rc3-20832)' for '.NETFramework,Version=v4.5.1'.
    Unable to resolve 'Microsoft.EntityFrameworkCore.Commands (>= 1.0.0-rc3-20832)' for '.NETCoreApp,Version=v1.0'.

NuGet

[2016-05-10 07:38] shaulbehr commented on #5303
We *could* generate the COMB GUIDs in the database, but a good part of the reason why we chose to have GUID keys is so that we can generate them in memory and have the values available before we insert.

This is an existing database; we're migrating to EF7 from NHibernate.

[2016-05-10 08:08] peirens-bart commented on #5309
ilkertskn, The problem is not the command but the exception message that I get.

If I comment out the "MyDatabase" models and mappers in the context, the command is creating the emigration file.
If I uncomment the "MyDatabase" models and mappers I got the exception

[code]

For me the message is strange since the User is not part of the "MyDatabase" models and if that model is the cause of the err

[2016-05-10 12:00] timbilt opened #5318 "Include Function Backward Compatibility For Generic Repositories"
Support of generic repositories is very important.  A major problem with EF 7/Core is that the new syntax for the Include/ThenInclude functions provide more intuitive readability, but make it very difficult to write a generic repository to include navigation relationships.  We were always able to pass a list of object-returning lamdas based on the queried entity type to select any relational table

[2016-05-10 13:37] shaulbehr opened #5319 "Attach not working"
Hi,
I'm testing attaching an object to a DbContext and saving, and it doesn't appear to work.  Perhaps my usage is incorrect?

[code]

Inside the Update code is:

[code]

I'm running Sql Profiler, and I find that the update query doesn't even fire.
Is there something wrong with my usage of .Attach?

[2016-05-10 15:55] natemcmaster commented on #5281
@antonioapostoliu the packages you are using are obsolete. We merged Microsoft.EntityFrameworkCore.Commands and dotnet-ef into one package named "Microsoft.EntityFrameworkCore.Tools". Can you update to these new packages and let us know if your bug still reproduces?