[2017-03-11 02:33] ajcvickers commented on #7837
I think maybe it is time to create this fast subset of tests. We have talked about it on and off for years, and it has come up in several contexts over the past few days. Let's discuss on Monday.

[2017-03-11 03:11] smitpatel commented on #7746
Just to expand on this for the processing of NullConditionalExpression
It is being ignored in ExpressionVisitorBase from visiting. Also it blocks `MemberAccessBindingExpressionVisitor` deriving from ExpressionVisitorBase.

[2017-03-11 03:31] natemcmaster commented on #7837
Something appears to be wrong with the SQL Server functional tests. Here are the results:

- Travis - https://travis-ci.org/aspnet/EntityFramework/builds/209958734
  - ✅ Unit tests (*.Tests.csproj) 8.5 min
  - ✅ Functional tests w/o SQL Server (*.FunctionalTests.csproj) 12.5 min
  - :x: SqlServer.Design.FunctionalTests + SqlServer.FunctionalTests - timed out after 50 minutes
- AppVeyor - https://c

[2017-03-11 11:29] axelheer commented on #7799
@ajcvickers it's actually quite easy to reproduce. I've added the code; exception message is already there (copied from xunit ouput, whicht puts the message *after* the stack trace...).

[2017-03-11 12:41] clement911 commented on #7795
I'm aware of the single thread limitation of DbContext. I definitely don't use the same instance in parallel. Or at least not intentionally.
Unfortunately I'm not able to reproduce and I've seen that happen only once (well mulitple times during a short period of time)

[2017-03-11 12:42] clement911 commented on #7795
It hasn't happened since so feel free to close, but it may a bug that just rarely happens...

[2017-03-11 14:49] strangeattr commented on #619
I'm sorry, I can't find the vote button here but I'd like to vote this up.

I'd also like to add to the feature specification: it should be possible to use a table as a part of more than one entity.

E.g. GUIDS are used as primary keys for all the tables and there is a field that every entity has, so there is a table of 2 columns: the GUID and the common field and a record with equal GUID is creat

[2017-03-11 15:00] ekaggata opened #7854 "Stored procedure CRUD mapping"
As an alternative to the default table query generation facilities there is to be an option to map the CRUD operations to stored procedures.

[2017-03-11 15:01] strangeattr commented on #7854
Surprisingly I couldn't found this feature request submitted already. I am sorry if it has actually already been.

[2017-03-11 15:06] strangeattr commented on #7854
PS: It would sound to broad so I have preferred the more specific task, ideally, however, EF Core should support purely logical application-level entities that are not represented directly by any specific table in the DB but are mapped (in their create/read/update/delete/find actions) to an additional layer of logic implemented on the DB side, on the model code side or both.

[2017-03-11 15:23] ErikEJ commented on #7854
Duplicate of https://github.com/aspnet/EntityFramework/issues/245

[2017-03-11 16:49] divega commented on #7811
In case it helps, duplicate issue #7799 now contains the following self-contained repro provided by @axelheer:

[code]

[2017-03-11 17:38] mabbashm110 commented on #7053
`{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.1",
      "type": "platform"
    },
    "Microsoft.AspNetCore.Diagnostics": "1.0.0",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.1",
    "Microsoft.Extensions.Logging.Console": "1.0.0",
    "Microsoft.AspNetCore.StaticFiles": "1.0.0",
    "Microsoft.AspNetCore.

[2017-03-11 18:04] bricelam commented on #7053
Here is the documentation on using the 1.0.0 version of `dotnet ef`: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2017-03-11 19:08] AVin9 commented on #7848
Currently in my company, we are using DNX 451 and not Core. When I just changed the Microsoft.EntityFrameworkCore.SqlServer version 1.1.1, i'm getting several errors, eg: Services collection in Startup.cs. Where can I get a sample, to see what all changes I have to make in order to upgrade it to Microsoft.EntityFrameworkCore.SqlServer version 1.1.1.

Thank you for your help.

[2017-03-11 20:23] tuespetre commented on #7766
This was largely resolved by #7843 and will be handled when #7831 is addressed (the third point about inheriting from SubQueryFromClauseFlattenrr, to be specific)

cc @smitpatel

[2017-03-11 21:24] danobri commented on #827
I agree with many others here - view support is critically important - please try to get it in the next release.  The lack of view support is especially painful given that there are also issues with doing projections on related objects - #5738 and #7131.  Unless there is something I am missing - at this point the only efficient way to do a query that joins a bunch of entities and selects a minimal

[2017-03-12 01:44] Eilon commented on #7837
BTW from @dougbu 's email (that a few of you are on), it seems we do have a few very long running tests (60sec+), and no doubt a lot that take 30-60sec, on our relatively fast internal CI. I can only imagine how much slower they are on other hardware. That might be a good place to start a plan of attack.

[2017-03-12 02:50] jemiller0 opened #7858 "While iterating over a DbSet, if an exception occurs, the exception isn't thrown until after all rows have been returned"
The following code iterates over a DbSet in a DbContext. The first time through the loop, an exception is thrown. The Bibs DbSet has close to 8 million rows in it, including a CLOB field which make iterating over all rows slow. What's weird about the following is that the exception doesn't happen right away. Somehow even though the exception happens on the first row, all rows are read back from th

[2017-03-12 06:19] datasecurity commented on #2341
[code]

[2017-03-12 06:29] mattrobineau opened #7859 "Dropping a database throws InvalidOperationException after UserSecrets changes"
I currently migrated from VS 2016 over to VS 2017. With the new EF tools, you must update the Startup.cs as mentioned in [this announcement](https://github.com/aspnet/Announcements/issues/223). Startup will now use the new `AddUserSecrets<Startup>()` method instead of `AddUserSecrets()`.

The following exception is thrown when trying to drop a database:

[code]

### Steps to reproduce
This is the

[2017-03-12 10:43] EdwardBlair commented on #7858
Not an EF issue, I don't think.. Try setting Connectiontimeout to like 10 minutes or something. Or write quicker queries. and do it in batches e.g.

[2017-03-12 13:03] jpiquot commented on #3748
+1

[2017-03-12 13:47] per3ian commented on #7434
I am trying to add `Microsoft.EntityFrameworkCore.Relational.Design ` and it added to my project.json :

[code]

but I cant even access to `CSharpUtilities` through  `Microsoft.EntityFrameworkCore.Relational.Design ` namespace. when I press Ctrl+. it suggest me to add `Microsoft.EntityFrameworkCore.Relational.Design` even when it available in my project.json. I click on  add package `Microsoft.Ent

[2017-03-12 14:37] jpiquot commented on #7829
Hi,
I have the same issue on unique indexes or on primary key duplicates. The Entries value of the BbUpdateException is empty.

Regards

[2017-03-12 17:14] jemiller0 commented on #7858
I just tried a similar test using the following Dapper method with buffered = false to see how it behaves compared to EF.

`public static IEnumerable<dynamic> Query(this IDbConnection cnn, string sql, object param = null, IDbTransaction transaction = null, bool buffered = true, int? commandTimeout = default(int?), CommandType? commandType = default(CommandType?));
`

[code]

[code]

SQL Server fai

[2017-03-12 20:42] ojorma commented on #7540
im having a similar issue except that im not in a file share. I just got vs2017 and i get this error when i try to add-migration

`add-migration : Exception calling "AddFromFile" with "1" argument(s): "'basePath' cannot be an empty string ("") or start with the null character.
Parameter name: basePath"
At line:1 char:1
+ add-migration init
+ ~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpec

[2017-03-12 20:49] Zero3 commented on #2303
@rowanmiller Was this issue resolved, since you closed this? Or was it because of the lack of an example?

[2017-03-12 23:01] divega commented on #2303
@Zero3 it was closed because of lack of information.

[2017-03-13 02:27] Allann opened #7860 "Altering DbSet queryable causes read"
I have a partial class (service) that is generated, but allows developers to perform additional logic if required.  One such change is to the dbset IQueryable that returns the GetAll feature.

Generated class (CarrierService.generated.cs):
[code]
They can then alter this in their own partial class (CarrierService.cs):
[code]

However, using SQL Profiler (2014) it shows that two queries are run.  O

[2017-03-13 05:47] CumpsD commented on #7341
It seems to work with netstandard libraries in 2017, except `dotnet ef migrations remove` which still throws:

[code]

[2017-03-13 06:06] roji commented on #7791
Got @ErikEJ error while restore. Adding a package reference in all csproj files to version 4.3.0 seems to work around the issue.

[2017-03-13 06:17] dotnetnoobie commented on #7540
I have the same error message as @ojorma
Using VS2017 ASPNET CORE & EF CORE 1.1 versions

I am using a class library for the DataContext Objects

I only get this error with the DataContext which also is the context object which is used for ApplicationDbContext

When I try it with other DataContext objects which are for small stand alone databases I don't get the error.

I also noticed that when I

[2017-03-13 06:21] ErikEJ commented on #7791
@roji So ?
- Add NuGet pacakge System.Runtime.CompilerServices.Unsafe version 4.3.0
- Add NuGet package MS.EFCore.Realtional

[2017-03-13 06:31] roji commented on #7791
@ErikEJ I have the following references in my provider csproj (among others):

[code]

I'm getting warnings but stuff seems to work.

[2017-03-13 07:01] ErikEJ commented on #7791
Thanks; I will give it a try with Classic csproj and Nuget 3.5... There are some many provider changes I need to catch up with

[2017-03-13 07:14] roji commented on #7791
I feel your pain... I'm also in the midst of a blitz of conversions and build work...

[2017-03-13 07:21] ErikEJ commented on #7791
not pain - "improvements" for EF Core 2! 😏

[2017-03-13 11:49] rajeeshmenoth commented on #7817
Thanks @ajcvickers, I looking for how to resolve this issue without using migration & Visual Studio 2017. I will open this bug on Asp.Net Home.

[2017-03-13 12:18] raffaeu commented on #5392
Using **Package Manager Console** within Visual Studio 2017 RTM, you must first run a CD and be inside the project root folder.
After that you'll get all PS/DOS commands from `dotnet ef` cli

[2017-03-13 12:41] raffaeu commented on #6644
Actually @ajcvickers  solution works just fine.
I have adopted the following one:
[code]

[2017-03-13 14:36] tuespetre commented on #4844
What should this do, throw a `NotSupportedException`?

[2017-03-13 15:13] tuespetre commented on #7776
Alright, I've put together #7857 for implementing `OUTER APPLY` (although that is mostly a sugar for what can already be done with `CROSS APPLY`.) Other than that, the inefficiency here is that the range variables which are subqueries are expanded into each place they are used in the projection. An optimization can be applied to the query model to create a single lateral join instead (via an `Addi

[2017-03-13 15:48] bricelam commented on #7540
@ojorma @dotnetnoobie Are you using Docker? You may be hitting #7439.

[2017-03-13 15:51] bricelam commented on #7341
@CumpsD Using `--force` should avoid the error.

[2017-03-13 15:54] bricelam commented on #7791
We <3 you guys. We're trying to get all of the planned 2.0 breaking changes in now to give you plenty of time to react.

P.S. I'll dig into this issue today to see if I can get to the bottom of it.

[2017-03-13 15:55] CumpsD commented on #7341
I had to use --startup-project and point to a console app

[2017-03-13 15:59] bricelam commented on #7341
Oh that's right. SQL Server is packaged in a way that won't work with *just* .NET Standard. With SQLite, any command that doesn't open a database connection should work.

[2017-03-13 16:15] ErikEJ commented on #7791
@bricelam Thanks, Brice, confident that you are on top of the situation as always!

[2017-03-13 16:31] ojorma commented on #7540
@bricelam I am using a console app. I first tried it with a class library but thesame thing so i tried it again in a console app. I just got vs2017 and testing the basic stuff out. I got burnt with version 1.0 cause of entityframework core.

[2017-03-13 16:32] ajcvickers commented on #7795
@AndriySvyryd Can you take a quick look at the code and check for anything obvious that would cause a null ref exception? If you can't find anything, then probably close as no-repro unless you want to investigate more.

[2017-03-13 16:34] ojorma commented on #7540
this is what my sample project looks like
![entitycorebug](https://cloud.githubusercontent.com/assets/17591360/23864592/4b27e418-0813-11e7-9dfb-c79324e9c9ca.PNG)

[2017-03-13 16:37] tuespetre commented on #7080
@maumar this should be fixed in #7845

[2017-03-13 17:17] shanhongyue opened #7862 "Add Chinese characters support"
I put my asp .net core project under a **Chinese** name folder.

I want to generate migration code, so I type

`Add-Migration xxx`

in Package Manager Console in Visual Studio 2017.

If everything goes well, migration code will be generated. But when it read **project.assets.json** file, it seems not to read this file with utf8 encoding, instead, with ANSI encoding. So Chinese characters in the fi

[2017-03-13 17:43] natemcmaster commented on #7837
On our internal CI, EntityFramework takes about an hour to pass. The build history shows a sudden jump from 40 minutes to 60 minutes that corresponds to VS 2017 conversion.

![image](https://cloud.githubusercontent.com/assets/2696087/23867423/0c70594c-07d9-11e7-9056-05232973a29a.png)

This is likely another casualty of https://github.com/Microsoft/vstest/issues/349. In addition to making other tes

[2017-03-13 18:11] ajcvickers commented on #2167
Putting this in 2.0 for now not because we will necessarily do it, but because it relates "update from database" feature.

[2017-03-13 18:28] ajcvickers commented on #7841
@divega To investigate what works in L2O and other Linq implementations, and to add a note about ThenBy.

[2017-03-13 18:31] ajcvickers commented on #7847
This makes sense for update from database, so putting on the backlog for that.

[2017-03-13 18:33] ajcvickers commented on #7848
@divega to follow up with upgrade information.

[2017-03-13 18:49] AndriySvyryd commented on #7795
I didn't see anything in our code that could cause the exception, however I did notice that the `IExecutionStrategy` extension methods don't have checks for null parameters, so I'll keep this open to fix this.

[2017-03-13 18:52] NinoFloris opened #7863 "Somehow a mismatch in the ShapedCommandContext entries resulting in KeyNotFoundException"
[code]

![](http://i64.tinypic.com/mwxhu0.png)

This check does not do a ContainsKey before trying to access the key in the other cache entry:
[code]
https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/src/EFCore.Relational/Query/Internal/ShaperCommandContext.cs#L44

### Steps to reproduce
It requires a few tries to reproduce as it's non deterministic due to the

[2017-03-13 19:20] ajcvickers commented on #7754
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-03-13 19:23] ajcvickers commented on #7858
@jemiller0 Could you provide a project to reproduce this? In particular, we are not sure what EF provider you are using, or what "OleLibrary" is. On SQL Server, assuming "Bibs" is a normal DbSet, this should not be buffering. But there may be something else going on, which is why a repro project would be very useful.

[2017-03-13 19:32] ajcvickers commented on #7862
@shanhongyue Could you provide a project to reproduce this? It could be a NuGet bug, or something specific to the project files that you have, but it's hard to know without being able to reproduce it.

[2017-03-13 19:41] jemiller0 commented on #7858
@ajcvickers Bibs is a normal DbSet in an EF Core DbContext.  You would need to have a table with a lot of data in it to see the problem. I think you should be able to reproduce the problem with any table that has lots of data in it. I could create a repro, but, the main issue is that you need to have a large table. Otherwise, the code is trivial. Basically, what you see above. Just iterate over th

[2017-03-13 19:45] divega commented on #7848
@AVin9 there have been several changes since DNX RC1. One of the main breaking changes was the renaming of many of our packages, which happened in RC2. Here you will find some guidance on how to upgrade from RC1 to RC2 (most of it should still apply):

https://docs.microsoft.com/en-us/ef/core/miscellaneous/rc1-rc2-upgrade

We have also recently reached RTM for the .NET Core tooling. The main chang

[2017-03-13 19:49] divega commented on #7848
By the way, if you find any problems migrating from RC1 to RC2 and the RTM and the final version of the tooling, it might be easier to create a new project using the default templates and the copy the code files.

I am closing this issue based on the belief that I have answered your questions. But feel free to reopen if you still have problems using TVPs after upgrading or creating a new issue if

[2017-03-13 20:01] divega commented on #7858
@jemiller0 @ajcvickers I wouldn't be too surprised if there are providers (ours or otherwise) that consume all remaining results when disposing the enumerator of the query. It could be just a bug or a requirement of the ADO.NET provider/database. Some additional cleanup may also be needed when the connection is closed if there are open results.

If this repros using our EF Core providers (e.g. SQL

[2017-03-13 20:08] ajcvickers commented on #7860
@Allann Below is a full code listing and logging output of my attempt to reproduce this. Could you provide a full repro for what you are seeing, perhaps by starting with the code below and seeing how it differs from the code you have?

[code]

[code]

[2017-03-13 20:10] jemiller0 commented on #7858
I think the problem will happen with the SQL Server provider. However, I ran into a separate issue #7363 which causes problems testing that (for the table size that I was testing on). In the test that I did with SQL Server I cancelled out once memory grew to 23 GB. As far as I can tell, it was doing the same thing as the MySQL driver. I.e. kept reading data although an exception was throw on the f

[2017-03-13 20:44] ajcvickers commented on #7859
@mattrobineau I have been unable to reproduce this issue with the code posted. One possibility is that somehow there are mismatched versions of the EF assemblies in your project. Can you check that everything is updated to 1.1.1? If the error persists, could you please provide a full project that reproduces the issue?

[2017-03-13 20:48] ajcvickers commented on #7837
Discussed in triage and this is the plan:
* Come up with a subset of tests that should run faster and cover all but corner cases. We will uses this subset for aspnetci runs and Travis. We will continue to run the full set on efci and on developer boxes.
* Investigate some suspicious slow-running tests from those identify by Doug and see if they can be sped up.
* Re-prioritize getting the parallel

[2017-03-13 20:50] ajcvickers commented on #7837
Self-assigning for now to come up with the test subset.

[2017-03-13 21:00] ajcvickers opened #7864 "OrderBy_correlated_subquery_lol2 seems to be a very slow test"
The `OrderBy_correlated_subquery_lol2` test seems to run slowly on SQLite, In-memory, and SQL Server. We should check if there is a way to make it faster while still testing what it needs to test.

* QuerySqliteTest.OrderBy_correlated_subquery_lol2: 145 seconds
* QueryInMemoryTest.OrderBy_correlated_subquery_lol2: 86 seconds
* RowNumberPagingTest.OrderBy_correlated_subquery_lol2: 82 seconds
* Quer

[2017-03-13 21:03] ajcvickers commented on #7864
@maumar Can you make this your second priority, after the 1.1.0 to 1.1.1 regressions? We can discuss again if there are no easy wins here.

[2017-03-13 21:12] ajcvickers commented on #7411
@AndriySvyryd Could you bump up the priority of this and do some initial investigation this week? See also  #7837

[2017-03-13 21:13] ajcvickers commented on #7411
@AndriySvyryd Also, FYI, @bricelam is able to reproduce these issues running locally.

[2017-03-13 21:13] ajcvickers commented on #7864
Also related to #7837.

[2017-03-13 21:58] AndriySvyryd commented on #7411
On it.

[2017-03-13 22:26] Allann commented on #7860
Thanks for the quick reply.  You are correct, your version does not produce the double read, which points to something in my code.  I'll spend some time today looking through and updating your example to see if I can make it fail the same way.

[2017-03-13 22:50] ctolkien opened #7866 "Request: Allow default context to be set for tooling"
In almost all of our projects we tend to several `DbContexts` - As an example, we might have the primary `MyApplicationDbContext`, but also a `ReadOnlyMyApplicationDbContext` which inherits from `ApplicationDbContext`, replaces the DbSets with `AsNoTracking()` variants and throws if you try and call `SaveChanges` etc.

Whenever we need to interact with the tooling, we need to explicitly specify to

[2017-03-13 23:13] EdwardL75 commented on #2167
First I want to say how irritating it is to do searches on database-first issues and most every response is code-first. Also even the few you can find that answers questions about database-first talks about migration, that is not a solution at all. Code should revolve around data not the other way around.

My issue here is that with a database already setup for ASPNETUSER table and corresponding t

[2017-03-13 23:39] smitpatel commented on #7858
I tried reproducing this. I created database with 1mil. rows and threw exception on 10th iteration using SqlServer as provider. I got exception in less than a second with approx. 20MB of memory used overall. This seems to be consequence of #7363 , if streaming is not working correctly then it is possible that exception won't be throw immediately (because time would be being spent in fetching all d

[2017-03-13 23:39] maumar commented on #7864
Fixed in c402d73796551929cdff1a50c77c326e62c309f3

[2017-03-13 23:39] #7864 closed

[2017-03-13 23:54] divega commented on #2167
@EdwardL75 I remember @HaoK did an exercise to identify additional steps necessary to upgrade from a database that doesn't have the normalized columns (i.e. from an ASP.NET Identity 2.0 database to ASP.NET Core Identity). He should be able to provide some details.

[2017-03-13 23:54] clement911 commented on #7795
FYI this happened again yesterday. Again it looks like it may have been some sort of transient weird state over a couple of minutes. In the same period I see concurrency exceptions and other exceptions like the following:

[code]

[2017-03-13 23:58] AndriySvyryd commented on #7795
@clement911 Are you sharing the same connection between multiple instances of DbContext?

[2017-03-14 00:06] EdwardL75 commented on #2167
Thanks but I prefer NOT to change the database structure, but implement some override code that make use of EF without needing to have those "normalized" fields present.

[2017-03-14 00:08] clement911 commented on #7795
No I don't pass in the connection, so it should be owned/handled by DbContext directly if I understand correctly...

[2017-03-14 00:09] Allann commented on #7860
This can be closed. Thank you.  I tracked it down with your help to a Telerik extension method .ToDataSourceResult(request) as used by ASP.NET Core grids using an Ajax Read Action on a controller.

Works:
[code]
Not Working:
[code]

This is their recommended way to return paged data to the grid. I will be raising the issue with them.

Hope this helps someone else.

[2017-03-14 00:23] AndriySvyryd commented on #7795
@clement911 That's correct. The exceptions you shared usually indicate that a DbContext instance is being used concurrently from multiple threads. Double-check whether this might be the case.

[2017-03-14 00:33] HaoK commented on #2167
You can see what I did here for reference: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat/IdentityUser.cs

Basically we pointed the new columns at the old ones

[2017-03-14 00:53] divega commented on #2167
@EdwardL75 Understood. I think the approach that @HaoK is pointing to does that, but if I remember correctly, it had some disadvantages, e.g. lookups will be resolved in memory. Anyway, if you want to discuss it any further I suggest you create an issue in http://github.com/aspnet/identity/issues.

[2017-03-14 02:14] Rick-Anderson opened #21361 "VS 2017 shows red squiggly on UseSqlSever when method is resolved"
To reproduce:
1. Create new ASP.NET Core web app with all defaults.
2. Add Movie class

[code]

3.Scaffold
4. Build/run - it works fine.
5. Open _Startup.cs_ and UseSqlSever is underlined with red squiggly.  It shows the error:
'DbContextOptionsBuilder' does not contain a definition for 'UseSqlServer' and no extension method 'UseSqlServer' accepting a first argument of type 'DbContextOptionsBuilde

[2017-03-14 02:29] EdwardL75 commented on #2167
So using that code in a data/model class with my project I have the using
but I get error in the ApplicationDbContext class of:

Besides that issue. I have another issue that maybe you have come across before. When I setup a generic ASPNETCORE web app with Individual user account (so EF references are pre-populated), and I try adding a `MyServerDbContext : DbContext` class after the IdentityDbCont

[2017-03-14 03:20] shanhongyue commented on #7862
It has nothing to do with the project configuration, just because there is Chinese characters in the path of the folder where the project is located in, Or in the name of the project itself.

[2017-03-14 03:44] jemiller0 commented on #7858
I think if the table isn't that wide, it might not be that noticeable. The table I'm querying has a CLOB field in it and the size on disk is 31 GB. I only saw the problem in #7363 when using the SQL Server provider.

[2017-03-14 08:43] GZidar opened #7869 "EF Migrations fail when startup project is different from database project"
When using the cli command "dotnet ef migrations add" from within the root of the database project an exception is thrown relating to  'System.Diagnostics.DiagnosticSource, Version=4.0.1.0'. This happens when running the command using the latest version of the SDK (1.0.1)

There are two work arounds. One is to edit the project file and change the target framework to netcoreapp1.0 (from netcoreapp1

[2017-03-14 09:11] per3ian commented on #1100
Hi,
I found a solution guys! you can use this until _EntityframeworkCore_ supports spatial

follow the instruction :

First of all you need to add a field with geography data type, then you need to run this commend in one of migrations up class :
[code]
if you are using UnitOfWork you can update Location field after you inserted a record like this :
[code]
And now if you want to find nearby cities

[2017-03-14 09:12] NPadrutt opened #7870 "SQLite: Exists returns false positive when SQLITE_CANTOPEN_ENOENT"
we have an app written with xamarin for android who uses Entity Framework Core. It works on our test devices from Wiko (Android 6.0), HTC (Android 7.1) and Sony(6.0). But on Samsung devices (6.0) we get the following exception on startup:

[code]

To reproduce it, I created a new solution, included the projects and removed as much as possible who isn't needed. You can find it under this link:
http

[2017-03-14 14:50] UmairB commented on #7869
I am getting this aswell (at first intermittent but now always). Could you please post an example with the -s switch please?

[2017-03-14 14:53] im1dermike commented on #4189
@rowanmiller Your example is directly applicable to my situation.  I see you've configured your `Created` like so:

    modelBuilder.Entity<Blog>()
        .Property(b => b.Created)
        .ValueGeneratedOnAdd()
        .HasDefaultValueSql("GETDATE()");

What if I want to define my default value outside of EF (perhaps in the CREATE TABLE SQL definition) or otherwise don't want EF to know _how_ I'

[2017-03-14 16:05] #7624 closed

[2017-03-14 16:13] ajcvickers commented on #7858
@smitpatel Since you started investigation on this, could you continue? 😁 Can you try with a wide table and see if it repros then. If so, it could be that this and #7363 are dupes. Also, if you can repro it can you check whether it repros with pure ADO.NET/SQL Client code?

[2017-03-14 16:21] Ch3sta commented on #242
Are there any new plans on this issue? It is still the top suggestion on uservoice but still seems to be ignored.

[2017-03-14 16:35] ajcvickers commented on #4189
@im1dermike HasDefaultValueSql does two things:
* It tells Migrations or Database.EnsureCreated what to set on the column.
* It tells SaveChanges that there is default for the column so that it can do the correct thing on inserts.

If you are managing the database outside of EF, then the first point doesn't apply. For the second point, SaveChanges actually never uses the string passed to HasDefaul

[2017-03-14 16:41] ajcvickers opened #7872 "Add parameterless overload of HasDefaultValueSql"
HasDefaultValueSql does two things:
* It tells Migrations what to set on the column.
* It tells the update pipeline that there is default for the column so that it can do the correct thing on inserts.

If you are managing the database outside of EF, then the first point doesn't apply, but you still need to pass in some string, even though this is then ignored by the update pipeline. This has alway

[2017-03-14 16:53] bricelam commented on #7862
I'm not able to reproduce this issue locally. `Add-Migration` is works without error after creating new ASP.NET Core Web Application with the name 测试测试测试.

@shanhongyue Could you provide your project? If not, does adding `-Verbose` give any additional information?

[2017-03-14 17:03] im1dermike commented on #4189
@ajcvickers Thanks!  Related, but off topic question... If you're using `ValueGeneratedOnAdd()` and `HasDefaultValueSql()` as described, does the property and database column need to be nullable?  That seems to be the case based off my current testing.

[2017-03-14 18:03] ajcvickers commented on #4189
@im1dermike If the property has a value set, then it will be inserted. If the property is the CLR default, then it will get the value from the database default. It is common to use nullable properties such that the CLR default is null, but this is not required. It is also possible to change this behavior and force the database value to always be used by dropping down to lower-level metadata and se

[2017-03-14 18:15] bricelam commented on #7866
In prerelease versions of the tools, we had `Use-DbContext` in PMC, but we removed it since tab expansion of the `-Context` parameters coupled with command history seemed to be sufficient for most users.

We've also considered honoring a `DBCONTEXT` environment variable in `dotnet ef`. (see #927)

[2017-03-14 18:25] bricelam commented on #7815
This is resolved. We're no longer using a service account to connect to LocalDB.

[2017-03-14 18:25] #7815 closed

[2017-03-14 18:25] bricelam commented on #7828
This is resolved. We're no longer using a service account to connect to LocalDB.

[2017-03-14 18:25] #7828 closed

[2017-03-14 18:32] bricelam commented on #7849
The simplest way to get what you want is:
1. Scaffold the first migration into 'MyModel'
2. Move the generated migration and model snapshot classes into 'Maintenance'

After this, you should be able to add new migrations directly into 'Maintenance'

Also note, the `-Project` parameter overrides PMC's Default project drop-down

[2017-03-14 18:46] benday commented on #7869
I tried the -s/--startup-project workaround that was suggested and it doesn't appear to have an effect.  I'm still getting this exception.

[2017-03-14 19:09] smitpatel opened #7875 "Query: Consider optimizing outer_parameter is null SQL"
We are generating SQL like this
[code]
We optimize for user parameters and based on value we trim down `IS (NOT) NULL`. We should do the same when parameter is coming from outer query.

[2017-03-14 19:21] ikourfaln commented on #1100
@per3ian thank you. But what about Coupling !! it works but it's a bad design. If someone changed the structure of the City entity we need to change the SQL query or it will breaks.
Anyway, temporary, it is a good solution. Thanx again.

[2017-03-14 19:37] mtdaniels opened #7876 "Unidirectional Many-to-Many Relationship"
Is it possible to have a unidirectional, many-to-many relationship?  For instance:

[code]
The real motivation behind this is that I have multiple classes which consume Category.  I would prefer not to have to add all of the join tables to category as it does not add any value to the project.

Note, this is not one-to-many because multiple products can use the same category.

[2017-03-14 19:42] maumar commented on #7714
Problem was caused by: b8fb258be5b50922ce6405002f040d2ce51edaa9

[2017-03-14 20:39] GZidar commented on #7869
My project structure is as follows

[code]

The command I am using when positioned in the Database project directory is:

[code]

My startup project has the following dependencies in the csproj
[code]

My database project has the following
[code]

There is some more information on using the -s / --startup-project switch here:

https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

I ho

[2017-03-14 21:05] UmairB commented on #7869
Thanks for that @GZidar

In my situation I have a project for the entities and dbcontext, and another project for the database migrations (which is a console application, however it doesn't have to be) - in essence my database section (as compared to yours) is split into multiple projects.

My "startup" project is completely disjoint and independent from my data layer. I suppose I can add yet anot

[2017-03-14 22:19] GZidar commented on #7869
Hi @UmairB.

My startup project is also separate from the data layer in that I have a csproj file in the Database folder and I ahave a different csproj file in the Presentation folder.

You should be able to reference the startup project from whichever database project you are attempting to migrate. Does that make sense? In fact @benday has written a blog entry describing the work around in more d

[2017-03-14 22:40] GZidar commented on #7869
Thanks @benday I certainly appreciate your kind words but I can't take all the credit. I did create this issue with the hope that the exception be replaced with a nice dev friendly message but it was @haraldnagal who found that the -s / --startup-project switch was the way to get around it. :-)

[2017-03-14 23:18] smitpatel commented on #7876
Writing following code in your `OnModelCreating` method should give you desired results.
[code]
The only difference this has with general many-to-many relationships is there is no reverse navigation specified from `Category` to `ProductCategory` but usage of `WithMany` marks the relationship to be one to many. Hence overall many to many relationship.

[2017-03-15 00:16] maumar commented on #7714
@joshmouch can you post your query and model? (entities and contents of OnModelCreating method on the DbContext)

[2017-03-15 00:33] maumar commented on #7714
Fixed in 8dbcab11d6bacc8d3443db2244178fd5f2d0f3b3

[2017-03-15 00:35] smitpatel commented on #7837
Created #7880 which was very log-hanging fruit.

[2017-03-15 00:37] maumar opened #7882 "Query : stop producing N+1 queries for cases where single element subquery is projected inside a DTO"
As a consequence of fixing issue #7714 we are now producing N+1 queries for cases like:

customers.Select(c => new DTO { Count = c.Orders.Count() })

This is not necessary, because, even though parent query model needs client projection (because DTO is being used), the subquery returns a single result. We need to pass additional information to SqlTranslatingExpressionVisitor, so that it knows that

[2017-03-15 00:38] maumar commented on #7714
Also opened https://github.com/aspnet/EntityFramework/issues/7882 to track proper fix in the 2.0.0 that would not introduce unnecessary N+1 queries for those cases.

[2017-03-15 00:55] mattrobineau commented on #7859
According to Nuget, everything is up to date.
You can find the repo here.
https://bitbucket.org/mattrobineau/stories/branch/stories_vs2017

[2017-03-15 02:01] smitpatel commented on #7811
@maumar - Check if this is fixed.

[2017-03-15 02:06] slubowsky opened #7883 "Not possible to use Temporal tables with entity framework?"
Temporal tables have several restrictions [https://msdn.microsoft.com/en-us/library/mt604468.aspx](url) including no cascading deletes or "instead of" triggers.

Does this mean that either you cant use entity framework for deletes (and instead need to write custom procedures that delete related entities) or you cant use temporal tables? (I suppose you could also write entity framework code to dele

[2017-03-15 02:55] maumar commented on #7882
This is already fixed in dev branch - we are binding to parent query directly and never attempt to introduce the _outer parameters, closing

[2017-03-15 02:55] #7882 closed

[2017-03-15 03:16] maumar commented on #6647
Fixed in 03a990c7a5ac2dacbc6181132d8be39198961ec4

[2017-03-15 03:16] #6647 closed

[2017-03-15 03:22] maumar opened #7884 "Query: We force materialization of query sources for queries with GroupJoin that is not flattened by SelectMany"
Currently for queries that contain GroupJoin clause, which is not afterwards flattened by a SelectMany, we force materialization on both outer and inner query sources. This is because for the client _GroupJoin method we don't always know how to properly divide inners into groups - specifically, when the outer (key) is not present in the final projection.

This is to track remaning work after fixin

[2017-03-15 03:59] dotnetnoobie commented on #7540
@bricelam  I am not using docker
Just a standard projects

AspNetCore 1.1 app which references Class Library
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>

    ....

  <ItemGroup>
    <PackageReference Include="Hangfire" Version="1.6.11" />
    <PackageReference Include="MailKit" Version="1.12.0" />
    <PackageRefe

[2017-03-15 04:12] dotnetnoobie commented on #7540
@bricelam I also had problems with the class library originally
what I did was create a test website with individual auth set in the options
I then opened the .csproj file and copied the correct EF Core related references for the nuget packages
and added them to the class library .csproj file

This seemed to solve the issues I has of not actually having all the correct nuget packages referenced to

[2017-03-15 05:31] Reltik commented on #3797
Its a joke, very bad one... How can EF Core be considered a ORM without Lazy Loading? I mean come on... Is one of the must basic features some one could expect!! I will stick to NHibernate hoping they port it to .net core soon...

[2017-03-15 07:55] per3ian commented on #1100
@ikourfaln absolutely! I know this is bad design & structure but it is very good for now. we can not design in other way until EFCore 2 release. i waiting for spatial like you and other guys but we have not spatial features  in this version. All should know this is temporary way.

[2017-03-15 08:17] YZahringer commented on #2341
The support of GroupBy translation to SQL is not planned for the release 2.0.0?

[2017-03-15 09:49] fbertin commented on #7869
Hi folks,

Thank you so much for this workaround @GZidar. I'm able to run migrations but now when I do `dotnet ef database update` I'm getting the same "System.IO.FileLoadException" problem. I have my startup project separated from the data layer. Do you have any thoughts? Thanks in advance!

`System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Versio

[2017-03-15 10:11] ShenZZ opened #7885 "Inheritance does not discover Id as PK by conventions"
TPH add-migration exception

Model:
[code]
Exception message:
System.InvalidOperationException: The entity type 'AppUser' requires a primary key to be defined.
Stack trace:
System.InvalidOperationException: The entity type 'AppUser' requires a primary key to be defined.
   at Microsoft.EntityFrameworkCore.Internal.ModelValidator.ShowError(String message)
   at Microsoft.EntityFrameworkCore.Interna

[2017-03-15 10:28] ShenZZ commented on #7885
if use the Fluent API set the key, migration is ok.
builder.Entity<AppUser>().HasKey(a => a.Id);

or property is "int Id" migration is ok.

[2017-03-15 11:01] thiennn commented on #2725
I just found a workaround

1. Create another DbContext that inherit your DbContext, for example MigrationDbContext. Override the OnModelCreating method and ingore entities that you want it's table not being generated.

[code]

2. Create another class that implement IDbContextFactory<MigrationDbContext>. For example

[code]
The migration tool will discover this MigrationContextFactory and use the M

[2017-03-15 12:36] mtdaniels commented on #7876
Thanks @smitpatel .  I had tried that previously, but was unsuccessful (Product.Categories was always null).  As it turns out, this was caused by lack of lazy loading support (https://github.com/aspnet/EntityFramework/issues/3797) + lack of eager loading (http://stackoverflow.com/questions/38019808/entity-framework-core-ef-7-many-to-many-results-always-null)

[2017-03-15 13:08] im1dermike opened #7886 "ValueGeneratedOnAdd() only works with DEFAULT constraint"
I have the following entity configuration for a `Patient` entity:

    builder.Property(x => x.RegistrationDateUtc)
        .IsRequired()
        .ValueGeneratedOnAdd()
        .HasDefaultValueSql("GETUTCDATE()");

I've found that an exception is thrown if I do not have a default value constraint defined on that column as follows:

    CONSTRAINT DF_Patients_RegistrationDateUtc DEFAULT GetUtcDate(

[2017-03-15 13:09] im1dermike commented on #4189
@ajcvickers #7886

[2017-03-15 15:37] fgiomi opened #7887 "Left outer join isn't translated correctly"
My query is:
[code]

EF7 translate this to
[code]

while EF6 correctly translates:

[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:
IDE: (e.g. Visual Studio 2015)

[2017-03-15 16:05] fgiomi opened #7888 "Joined query isn't correctly translated"
My query is:
[code]
which EF Core translates with this non-working sql
[code]
where `[t].[MyField]` doesn't exist in the WHERE clause of the second SELECT

EF6 translate the same query with this:
[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 & LinqPad

[2017-03-15 16:31] bricelam opened #7889 "Could not load System.Diagnostics.DiagnosticSource"
I am seeing ***a ton*** of people hitting this when using `netcoreapp1.1`. (See #7869, #7557, #7742, #7358 & #5627) We thought dotnet/corefx#15031 was going to fix it, but there must be another underlying issue somewhere.

[2017-03-15 16:43] prafullbhosale opened #7890 "Expose RequiresValueGenerator as an external extension method for Microsoft.EntityFrameworkCore.Metadata.IProperty."
Scaffolding uses the `RequiresValueGenerator` property from EFCore 1.0.x and 1.1.x versions to determine autogeneration status.

The property has been moved to be an Extension method in 1.2.0-preview but in an internal namespace.

Can this extension method be made available as a public extension method instead?

cc @bricelam @mlorbetske

[2017-03-15 16:56] paddyfink commented on #7714
@maumar When you say fixed, you mean it will be fixed with the next entity framework update? Do you have a date approximatively? Thanks

[2017-03-15 17:20] smitpatel commented on #7773
Same goes for `SubQueryMemberPushdownExpressionVisitor`

[2017-03-15 17:34] bricelam commented on #7889
Looks like this only occurs on Class Library projects targeting `netcoreapp1.1`. The issue is that we fallback to using `ef.runtimeconfig.json` which targets `Microsoft.NETCore.App` version 1.0.0.

Workaround
----------
You can workaround the issue by forcing a runtime config to be generated by the project. This avoids falling back to running on 1.0. To do this, add the following to the project's

[2017-03-15 17:39] ChuckkNorris opened #7891 "UseSqlServer() method is missing from Microsoft.EntityFrameworkCore.SqlServer 1.1.1"
While following the [Identity4 tutorial](http://docs.identityserver.io/en/release/quickstarts/8_entity_framework.html#refentityframeworkquickstart), it seems the `DbContextOptionsBuilder.UseSqlServer()` method is missing. Was this moved to a new package?

![error](http://image.prntscr.com/image/821f6ed25f3348a389c65de0d839b2fc.png)

[code]

### Steps to reproduce

[code]

### Further technical det

[2017-03-15 17:43] bricelam commented on #7891
Possible external dupe: dotnet/roslyn-project-system#1741

[2017-03-15 17:48] bricelam commented on #7869
I filed a more concise issue with a more isolated workaround: #7889

[2017-03-15 17:57] bricelam commented on #7870
What version of EF Core are you using?
What version of SQLite is being used? (can get using `new SqliteConnection().ServerVersion`)

[2017-03-15 17:59] ajcvickers commented on #7886
@im1dermike What is your expectation of what should happen in this case?

[2017-03-15 18:00] maumar commented on #7714
@paddyfink the fix will be available with the next patch release (1.1.2). Unfortunately we don't have any dates yet. If possible, you should use the workaround, i.e. don't use the DTO, but use anonymous type instead (and then project into DTO in memory):

rather than:

[code]

do:

[code]

If this workaround works for you, you should use it even after the fix is in, as the queries with DTO
we will

[2017-03-15 18:00] fbertin commented on #7889
Thanks a lot @bricelam, this workaround fixed the problem I was having with `dotnet ef database update` command on a Class Library project targeting `netcoreapp1.1` that was driving me crazy! Thanks again!

[2017-03-15 18:10] im1dermike commented on #7886
@ajcvickers I'm expecting there not to be a need to define a default value constraint in the database.  This is what I expect `HasDefaultValueSql("GETUTCDATE()")` to accomplish.  Having to define it in two places is redundant.

[2017-03-15 19:01] maumar commented on #7811
dupe of #7714

[2017-03-15 19:02] szykov commented on #7714
@maumar producing inefficient SQL when using DTO as like in your example will be fixed or we consider this as bad practice then? It is quite a surprise for me...

[2017-03-15 19:09] mattrobineau commented on #7859
Removing the StoriesDbContext's default ctor has fixed the issue.

I will close this issue since the problem has been resolved by remove the default ctor.
However, it would seem that the EF Core 1.1 tooling has introduced a bug that was not present in the EF Core 1.0 tooling.

[2017-03-15 19:21] ajcvickers commented on #7886
@im1dermike HasDefaultValueSql is for telling EF to use the default value from the database. If EF is being used to create the database, then it will use the string given to setup the constraint. If the database is created some other way, then it tells EF that such a constraint exists such that EF can generate insert statements that make use of it.

Are you looking for a way to have the client gen

[2017-03-15 19:25] cincuranet opened #7892 "Nested entities not tracked automatically?"
#### Model:
[code]

#### Context:
[code]

#### Problem:
Assume some data in the database. The query `db.Questions.Include(x => x.Answers).ToArray();` results in having all `Question`s and all `Answer`s tracked, based on `Console.WriteLine(string.Join(Environment.NewLine, db.ChangeTracker.Entries().Select(x => x.Entity.ToString())));`. While running `db.Questions.Select(x => new SomeDto() { Questio

[2017-03-15 19:26] #7411 closed

[2017-03-15 19:35] ajcvickers commented on #2229
We seem to have two issues tracking this. Closing this one in favor of #4693, since that issue contains a bit more information.

[2017-03-15 19:36] maumar commented on #7888
@fgiomi EF Core currently doesn't recognize this pattern as LEFT OUTER JOIN. The correct way to do it currently is using GroupJoin-SelectMany-DefaultIfEmpty pattern like so:

[code]

this produces the following sql:

[code]

[2017-03-15 19:38] ajcvickers commented on #7883
@slubowsky I believe temporal tables should be usable with EF, with a couple of limitations as described here: #4693.

With regard to cascade deletes, EF does not require cascade deletes on the database in order to function correctly. However, if the database does not have cascade deletes, then all related entities must be loaded into the context before the delete happens to ensure that everything

[2017-03-15 19:53] ajcvickers commented on #7891
@ChuckkNorris Does the build fail for you in addition to VS showing the error in the editor window?

[2017-03-15 20:03] ajcvickers commented on #7885
@ShenZZ I have not been able to repro this with just the information provided. Here is my attempt at a simple console app to show the issue. Can you provide a full project or code listing that demonstrates what you are seeing, perhaps using the listing below as a starting point?

[code]

[2017-03-15 20:03] ksmithRenweb opened #7894 "DbSet.AddRange not preserving order of list in sql database"
What we are seeing is that the order is not preserved when we add a range of values.

### Steps to reproduce
1) Insert an list with a specific order. using an dbset addrange call.
2) Check database table to review order.

pseudo code:
[code]
Result in database
Id , OrderBy
1, 3
2 , 1
3, 4
4, 2
5, 5

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCo

[2017-03-15 20:13] ajcvickers commented on #7894
@ksmithRenweb There is no guarantee that entities will be inserted in the order that they are tracked. There are actually many reasons for this, both around efficiency of internal data structures and the need to re-order where dependencies exist. Also, many stores will not preserve order once inserted, and hence trying to preserve order while inserting doesn't help.

If you are looking for specifi

[2017-03-15 20:58] mb2140 opened #7896 "SqlAzureExecutionStrategy in 1.1?"
I'm trying to figure out the correct way to implement SqlAzureExecutionStrategy.  According to this pull request it looks like it was merged in 1.1: https://github.com/aspnet/EntityFramework/commit/48cb312acf70ae7492307b062a00186baa573cbc

However I'm not seeing this as an option when updating my connection string.  Currently running my own custom execution strategy:

[code]

But I'm receiving err

[2017-03-15 21:07] ErikEJ commented on #7896
Did you see the docs here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency

[2017-03-15 21:11] ErikEJ commented on #5376
@mkalkere  Please do not "hijack" existing, closed issues - please specify the exact version of the EF Core packages you are using.

You must upgrade to VS 2017 and csproj with the Tools version you are using (or you can use my graphical tool in my SQLite Toolbox (alos works for SQL Server)

[2017-03-15 21:21] mkalkere commented on #5376
@ErikEJ Sorry for posting in the closed post.
I'll use the SQLLite Toolbox.

Just for knowing, will the scaffolding not work with VS2015?

Tools Version
---------------
"Microsoft.EntityFrameworkCore.SqlServer": "1.1.1",
    "Microsoft.EntityFrameworkCore.Tools": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer.Design": "1.1.1",
    "BundlerMinifier.Core": "2.4.337",
    "Microsoft.Applicatio

[2017-03-15 21:33] victor168 opened #7898 "Left Join SelectMany "type arguments cannot be inferred from" error relating to manual workaround for Scaffold-DbContext not creating entities for tables without primary keys"
Hello,

I followed the instructions here (https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db) to have Scaffold-DbContext auto generate entity classes for my database.  However it did not work for tables without primary keys such as the PrimarySecondary table in the following diagram -- essentially a relationship table that defines a many-to-many relationship between 2 othe

[2017-03-15 21:40] anpete opened #7899 "Port #7769 (missed reflection equality fixes) to patch?"
#7769 should probably go into patch.

[2017-03-15 21:43] maumar commented on #7898
@victor168

[code]

what is the ifFalse condition here? its missing in the code sample.

Can you try casting SecondaryId in the final projection to int?, like so:

[code]

If this doesn't work I will take a closer look. Also, can you post stack trace for the exception?

[2017-03-15 21:44] vishwajeets7 opened #7900 "String is truncated at 43679 characters on Select although the column is nvarchar(max)"
This issue was closed earlier #7209. Would like to reopen as i am still facing the same issue with SQL2012.
The string gets cut off after 43679 characters, when the data type is NVARCHAR(MAX).

[2017-03-15 21:52] ctolkien commented on #7866
Ah, I feel this is pretty much a dupe of #927. Will close this off and put my +1 behind that.

[2017-03-15 22:06] victor168 commented on #7898
Hi @maumar !

The if null condition:

[code]

is to prevent run-time exceptions when the left join query does not match anything on the PrimarySecondary table.  Is this the best way to handle this?

I don't think the casting is a factor, because I still see the error even if I leave out the SecondaryId line entirely, like this:
[code]

Unfortunately, I don't have any run-time stack traces because

[2017-03-15 22:11] maumar commented on #7898
Thanks for the follow up, will try to reproduce this.

[2017-03-15 22:12] oatkins opened #7901 "Max(), Min(), etc. do not differentiate between no results and zero"
The `Min()` and `Max()` aggregate functions, and their async counterparts, make it difficult to differentiate between the case that there are no matching rows on which to perform the aggregate, and the minimum or maximum is zero.

Interestingly, the standard behaviour for the LINQ `Min()` and `Max()` functions is to throw `InvalidOperationException` if there are no matching rows. This is a bit of

[2017-03-15 22:13] victor168 commented on #7898
@maumar Thanks so much!

[2017-03-15 22:34] smitpatel commented on #7898
The error is in the same line but differently. As @maumar said it is missing ifFalse part.
`SecondaryId = (null != pps) ? pps.ps.SecondaryId`
Moreover `pps.ps` does not exist. The result of `GroupJoin` has anonymous type containing p & ps properties but when you apply `SelectMany` on the top of that, in the result selector of SelectMany `(temp, pps)` temp is same as anonymous type coming out of Gr

[2017-03-15 22:37] gforceg opened #7902 "same as #7563?"
(I think this is the same as closed issue #7563)

I am following [this tutorial](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db) except I'm trying to substitute 'dotnet ef dbcontext scaffold' in place of 'Scaffold-DbContext'

I'm getting no errors, no warnings, and 'Build succeeded.' on the command line when I run:

[code]

A single file is created in 'Models/' called

[2017-03-15 22:40] gforceg commented on #7902
Sorry, a little more info:
I'm running Windows 7.
Using VS Code and the CLI (trying with both 'cmd.exe' and git-bash)
SQL Server 2014

Thanks again!

[2017-03-15 23:05] gforceg commented on #7902
A coworker just advised me that the database I inherited has no primary keys in it. Would that cause this issue?

[2017-03-15 23:22] smitpatel commented on #7902
@gforceg - If it has no primary keys defined then it is likely to fail creating entity type using ef scaffolding. You may not be seeing warnings due to #7315

[2017-03-15 23:30] gforceg commented on #7902
Thanks @smitpatel and @Alex-Torres. I swapped out the database in question w/ another that does have primary keys and it worked perfectly.

[2017-03-16 00:07] dvdobrovolskiy opened #7903 "Cannot insert explicit value for identity column"
I have standard CRUD template where I read Registers table including data from related tables

model is like this
[code]
so I read data

return Json(_context.Registers.Include(i=>i.Teacher).Include(i=>i.Term).Include(i=>i.Level).Include(i=>i.Students));

in Create action I simply check model and add new record.
[code]
and on save I got
[code]

As I understand my item (being instance of Register cl

[2017-03-16 00:40] ajcvickers commented on #7903
@dvdobrovolskiy You will need to do something to tell EF that the Person and Level entities already exist and so should not be inserted. There are a number of different ways to do this. For example, you may be able to just call Attach on the root item (Register), which will mark the entire graph as unchanged, and then explicit set the new items to Added. For example:
[code]
A more flexible and pow

[2017-03-16 00:47] dvdobrovolskiy commented on #7903
many thks. will study that

[2017-03-16 00:58] dvdobrovolskiy opened #7904 "Query: Navigation filter + navigation group by + order by grouping key throws exception"
In general I have this error then using Telerik kendo grid with EF core when I try to use group by

I reproduced this behaviour in pure linq query

so model is
[code]
Person, Term, Level is also models

so this works

_context.Registers.Include(i => i.Teacher).Include(i => i.Term).Include(i => i.Level).Include(i => i.Students).GroupBy(g => g.Level.Title).OrderBy(o=>o.Key);

and this does not
_cont

[2017-03-16 01:06] maumar commented on #7784
Fixed in 42e8bbed604b0447a57933e75caa0e58ed35d912

[2017-03-16 01:06] #7784 closed

[2017-03-16 01:46] maumar commented on #7888
It's also worth pointing out that in the current dev branch the original query produces the following correct sql:

[code]

We could still choose to recognize the pattern and convert it to LOJ, but that's not as urgent.

[2017-03-16 01:58] ojorma opened #7905 "Add-Migration on any dotnetcore project"
I get an error when I to run add-migration with entitcore on any dotnetcore based project but the equivalent command works when targeting the full dotnetframework

Add-Migration : Exception calling "AddFromFile" with "1" argument(s): "'basePath' cannot be an empty string ("") or start with the null character.
Parameter name: basePath"
At line:1 char:1
+ Add-Migration init
+ ~~~~~~~~~~~~~~~~~~

[2017-03-16 02:19] divega commented on #7900
@vishwajeets7 Last time we were unable to repro. Does it happen for you with any `nvarchar(max)` column on SQL Server 2012? Would you be able to produce a repro project?

[2017-03-16 02:54] tmoodley commented on #7077
I had this issue with Visual Studio 2017, I copied all the files including the dll's from the bin\Debug\netcoreapp1.0 to the bin\MCD\Debug\netcoreapp1.0

The scaffolding wasn't working correctly until I copied the files in the bin folder.  I am not sure what the MCD folder does but for some reason the scaffolding process looks in this folder.

[2017-03-16 03:04] tuespetre opened #7906 "Query: SelectMany subquery from a GroupJoin'ed subquery fails to compile"
Example test:

[code]

It blows up when `SqlTranslatingExpressionVisitor` attempts to translate the `WhereClause` in the subquery of the `AdditionalFromClause`, because it can't find a matching table in the `SelectExpression` for the `MainFromClause` of the subquery.

[2017-03-16 03:07] ShenZZ commented on #7885
public class TestContext : DbContext
{
    //public DbSet<AppUser> AppUser { get; set; }
    public DbSet<AppUser> User { get; set; }
    public DbSet<Employee> Employee { get; set; }

    protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
    {
        optionsBuilder.UseSqlServer(
            @"Server=(localdb)\mssqllocaldb;Database=Test;Trusted_Connection=True;ConnectR

[2017-03-16 03:27] natemcmaster opened #7907 "Updating to Moq 4.7 causes tests to fail"
**Repro**
Change Moq version in tests to 4.7.1
Run tests

**Error**
[code]

[2017-03-16 06:11] xepher commented on #7889
It works for me, thanks @bricelam

[2017-03-16 07:25] NPadrutt commented on #7870
Oh I'm sorry. It seems I deleted this line again.

The EF Core version and EF Core Sqlite Versions are both 1.1.1.
The Sqlite Database on the Samsung devices is 3.8.10.2. On my HTC (which worked) it's 3.9.2.

This seems to correlate with the android version. I will check the other devices we have with android 6.0.1 wo worked. But in theory they should have the same SQL version as the Samsung devic

[2017-03-16 08:44] ZhaoXiangXML opened #7908 "dotnet ef can't find project.json"
I'm trying to run dotnet ef on an VS 2017 .net standard project. my Startup Project is .net core. Both projects are created in VS 2017 and based on .csproj.

However I got the following error message:

[code]

### Steps to reproduce
My .csproj file looks like this:

[code]

### Further technical details
EF Core version: 1.1.0-preview4-22752
Database Provider: Pomelo.EntityFrameworkCore.MySql
Opera

[2017-03-16 08:56] ZhaoXiangXML commented on #7908
Package Management Console works for me, just not dotnet ef

[2017-03-16 09:17] ZhaoXiangXML commented on #7908
I switched to 1.0.0-msbuild3-final and it appears to be working

[2017-03-16 09:48] ojorma commented on #7540
@dotnetnoobi @rowanmiller it turns out the problem is caused as a result of having multiple dotnetsdk and the wrong one been called in the environmental variables. if you dont want to uninstall the earlier sdk make sure you move
![environ](https://cloud.githubusercontent.com/assets/17591360/23990234/b422ad62-0a35-11e7-9245-cec2e54f3438.PNG)
i moved the 64bit dotcli path up (C:\Program Files\dotnet

[2017-03-16 09:48] szykov commented on #7714
@maumar  Thanks for great explanation.

[2017-03-16 11:34] hawkpgl commented on #6560
Yeah I hit the same problem. I'm on VS 2017 and .Net core 1.1.1. If that intellisense gets corrected would be great.

[2017-03-16 12:49] vishwajeets7 commented on #7900
Thanks for your response.

I can explain you the environment, unfortunately can't copy paste the code.

Working with SQL 2012, I have a table with column as NVARCHAR(MAX), as understood with the definition thought this will handle the long string. I am using EF6, to update the long string data. However found that the string is stored only upto 43679 characters, and the rest is ignored.

[2017-03-16 12:50] vishwajeets7 commented on #7900
Adding....
I have validated almost 10-15 records where the string is getting curtailed.

[2017-03-16 14:24] JonPSmith commented on #6968
Hi,

I was expecting this bug to be fixed in release 1.1.1 but it doesn't seem to be fixed. Can you clarify:
1. Is it fixed or not in version 1.1.1 of Microsoft.EntityFrameworkCore.Sqlite
2. If its fixed what is the proper way of opening the connection.

Thanks.

[2017-03-16 15:08] glucaci opened #7910 "UserStore has inconsistent constraints"
Hello,

I want to make my own implementation of Identity and I see some constraints in UserStore which cannot be fulfilled.

### Steps to reproduce
I have the next implementations for IdentityDbContext/User/Role/Claim
[code]
I have implemented succesfuly the RoleStore:
[code]
and the implementation of UserStore should look like this:
[code]
the problem is I get the next error:
[code]
I took a look

[2017-03-16 15:15] yosbeleg89 commented on #4526
This is an implementation of [MERGE to MSSQL](https://gist.github.com/ondravondra/4001192) than can give ideas. It is an extension method to EF6.

[2017-03-16 16:00] bricelam commented on #6968
This bug is marked as fixed in the 2.0.0 release. You can try it out using [the nightly builds](https://dotnet.myget.org/gallery/aspnetcore-dev)

[2017-03-16 16:03] abuzuhri opened #7911 "ValidateEntity not Exist any more in DBContext"
in the EF6 i have the following code in DbContext and i want to upgrade to EF Core 1.1 but i don't find the method **ValidateEntity** , so is there is any way to do the same code but in different method or what the solution will be !

[code]

[2017-03-16 16:09] bricelam commented on #7907
Superseded by #7627

[2017-03-16 16:14] bricelam commented on #7905
What version of `Microsoft.EntityFrameworkCore.Tools` are you using? Does `-Verbose` give additional information?

[2017-03-16 16:19] bricelam commented on #7908
You're using the wrong version of of the CLI tool. "Update" (downgrade?) it to 1.0.0.

[code]

[2017-03-16 16:42] ajcvickers commented on #7885
@ShenZZ How is the class `User` defined?

[2017-03-16 16:57] ajcvickers commented on #7910
@HaoK Can you take a look at this?

[2017-03-16 17:02] ojorma commented on #7905
@bricelam thanks for the response. I figured it out and posted the answer here
https://github.com/aspnet/EntityFramework/issues/7540#issuecomment-286636108

[2017-03-16 17:03] HaoK commented on #7910
Yep moving to identity repo

[2017-03-16 17:05] HaoK commented on #7910
https://github.com/aspnet/Identity/issues/1131

[2017-03-16 17:11] ajcvickers commented on #7900
@vishwajeets7 This repository is for EF Core only. If you are seeing this with EF6, then can you please open an issue on https://github.com/aspnet/EntityFramework6. We have attempted to reproduce this in the past with EF Core and have not been able to do so. That is likely to be the case again unless you can give us a full repro (i.e. a simplified version of your scenario with anything that you ca

[2017-03-16 17:29] ajcvickers commented on #6968
Removing milestone to reconsider for 1.1.1.

[2017-03-16 18:21] bricelam commented on #7849
Closing, but please re-open if you still think there's an issue here.

[2017-03-16 19:01] smithaitufe commented on #4900
I really don't know how to use this Include and ThenInclude features of ef core.

I am trying to achieve something so simple but I can't

[code]
All I want is to include book along with Format and Genre. But Book also has Authors which is linked with AuthorsLink.

But this is not working for me

[2017-03-16 19:08] smitpatel commented on #4900
@smithaitufe - The query you are looking for is this
[code]
`Include` always starts at the base entity (which is checkout here) If you want to include multiple navigations after including BookVariant, you need to repeat include on BookVariant each time.

[2017-03-16 19:31] ajcvickers opened #7913 "Support read-only property behaviors"
Note: read-only entities is covered by issue #7586. This issue is about read/write entities with read-only properties.

The matrix of behaviors is covered by:
* Throw if value is set/changed verses ignore any set/changed value
* Insert or Update
* Property is store generated or not

For throw scenarios:
* ReadOnlyBeforeSave throws if value is set before insert
* ReadOnlyAfterSave throws if value i

[2017-03-16 19:32] ajcvickers commented on #3239
#7586 is tracking read-only entity types
#7913 is tracking read-only property scenarios

[2017-03-16 19:37] ajcvickers opened #7914 "Make StoreGeneratedAlways the default for computed columms"
Currently applications have to be careful not to mark properties that are "store generated on update" as modified because this will cause the modified value to be sent to the database which almost always causes an exception because updating the computed column is not allowed. This is why we had to introduce the StoreGeneratedAlways flag and set it for concurrency tokens--without it concurrency res

[2017-03-16 19:50] joshmouch opened #7915 "Query: Comparing subquery returning entity to null leads to client evaluation"
I'm using version 1.1.0, so let me know if this is fixed in 1.1.1.  I can't upgrade to 1.1.1 because it gives me different problems.

I have a simple query:

[code]

And this query causes N+1 hits to the database where N in the number of rows in EntityOne.  So if there are 10 rows in EntityOne, then there will be 11 database hits.
This used to be supported in EF.

[2017-03-16 19:53] natemcmaster commented on #7624
cc @Eilon looks like we have another dead repo 😢

[2017-03-16 19:56] benday commented on #6313
@bricelam -- Any updates on how to get this to work with the current version of EFCore?  As a little background, I'm trying to do an assembly-based migration (not code-based) from TFS Release Management.

Thanks,
-Ben

[2017-03-16 20:21] ajcvickers opened #7916 "Investigate using IConfiguration in OnConfiguring"
Current POR for 2.0 is that IConfiguration will be in the app service provider for ASP.NET Core applications. We should look at how easy it will be to get access to this from OnConfiguring. This is related to #7185

I don't expect we will, but we should also briefly discuss whether the DbContextOptionsBuilder code out of Startup and into OnConfiguring.

[2017-03-16 20:27] joshmouch commented on #7915
If I upgrade to 1.1.1, I get the error talked about in this ticket: https://github.com/aspnet/EntityFramework/issues/7714.

If I then refactor (incorrectly) to this:

[code]

Then I still get the extra database hits.

[2017-03-16 20:27] redowl3 opened #7917 "FromSql Issue - Incorrect values returned"
I'm not sure if I'm doing something wrong but when I try to use FromSql the data returned is not the same as when running the SQL directly.

When running the following query

SELECT i.Id, irt.RegionId, t.Code, s.Code AS SupplierCode FROM Item i
                    INNER JOIN ItemRegionTariff irt ON i.Id = irt.ItemId
                    INNER JOIN Tariff t ON t.TariffId = irt.TariffId

[2017-03-16 20:31] joshmouch commented on #7714
I'd just like to say that this is a pretty huge deal.  I don't think it's enough to say "we'll release a fix in 2.0 sometime in the future."
Probably 50% of my queries are broken because of this, or what I think is the same bug I put in this ticket:
https://github.com/aspnet/EntityFramework/issues/7915.

[2017-03-16 20:48] pablotdv opened #7918 "Scaffold-DbContext Computed Column"
When I run the "Scaffold-DbContext" command on an existing database. I'm having problems with the calculated columns.

The script of my Table

[code]

After running the command

`Scaffold-DbContext "Server=.\SQLExpress;Database=TestComputedColumn;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models2`

My OnModelCreating was as follows:
[code]
Note the attribute HasCo

[2017-03-16 21:01] bricelam commented on #7624
Not dead yet. We may need to service the 1.0.0 or 1.1.0 release.

[2017-03-16 22:29] smithaitufe commented on #4900
@smitpatel Thanks so much. I have read through the doc many times but I was not patient enough to see the details.
I came up with something like this.

[code]
Any idea about the performance of this multiple include?

[2017-03-16 22:56] reneherrero opened #7919 "Create new Sqlite database programatically"
Hi,

Forgive me if this sounds like a newbie question, I'm going into uncharted territory...

What I'm trying to do is simple: create a new SQLite database programmatically.  The DB is used for caching purposes and does not need to be updated -> just deleting it and recreating a new one will work fine, and be less error prone I'm temped to think.

I found the context.Database.Migrate(); migrate fu

[2017-03-16 23:04] PMExtra commented on #7849
![image](https://cloud.githubusercontent.com/assets/11289158/24022132/88c45b48-0adf-11e7-8cca-d3c35a69d283.png)

Thanks, I have done it! I make a complete `Startup` to `ConfigureServices`, so that works fine. I hope you can provide a richer document about this.

[2017-03-16 23:31] ajcvickers commented on #7919
@reneherrero Look at `context.Database.EnsureCreated()` and `context.Database.EnsureDeleted()`.

[2017-03-16 23:45] Eilon commented on #7624
Not dead, done 😄

[2017-03-17 00:13] bricelam commented on #6313
Look at the output of `dotnet ef database update --vervbose` to see how it calls `ef.exe` (or `ef.dll`)

[2017-03-17 00:15] sjb-sjb opened #7920 "PropertyEntry.CurrentValue should throw an exception"
When the value assigned to propertyEntry.CurrentValue cannot be assigned into the database field, then the CurrentValue is not updated, but also no exception is thrown. This makes it harder to debug failed assignments. An exception should be thrown by CurrentValue (and, I suppose, OriginalValue) if the value cannot be assigned.

An example of this is a database table created with an entity propert

[2017-03-17 00:16] reneherrero commented on #7919
Damn, worked like a charm... can't believe I missed that...
Wish I could by you a beer! :)
Thanks!  And awesome work!  Love how you separated the relational stuff into a separate Nuget and the flexibility that provides... very sweet.

[2017-03-17 00:20] bricelam commented on #7624
Note, if we update the EntityFramework repo's servicing branches to csproj I can move that code and the repo can be deleted.

[2017-03-17 00:45] ajcvickers commented on #7920
@sjb-sjb The correct behavior (per current design) for this case would be that setting the CurrentValue should succeed and the value should be set to null. I have verified that this does not happen--the value does not get set to null. This is a bug we will fix.

That being said, CurrentValue should not throw in this case. In general, setting the CurrentValue should succeed any time that the proper

[2017-03-17 01:39] maumar opened #7921 "Query: compilation error for complex query with SelectMany, optional navigation, subquery and string concat in projection"
[code]

throws:

The operands for operator 'Add' do not match the parameters of method 'Concat'.
	at System.Linq.Expressions.Expression.GetMethodBasedBinaryOperator(ExpressionType binaryType, Expression left, Expression right, MethodInfo method, Boolean liftToNull)
	at System.Linq.Expressions.Expression.Add(Expression left, Expression right, MethodInfo method)
	at System.Linq.Expressions.Expressio

[2017-03-17 01:42] maumar commented on #7761
another case:

[code]

[2017-03-17 07:00] winterlimelight opened #7922 "Contains method on client list of nullable guid/int fails to translate to server"
When a nullable Guid and a non-nullable Guid are compared using the Contains() method I get a log message: "could not be translated and will be evaluated locally". Unfortunately this is then downloading a big table to perform the comparison causing a performance problem. This occurs whether the nullable is an argument to or the caller of .Contains() as will be shown in the four cases below.

This

[2017-03-17 07:29] szykov commented on #7714
@joshmouch It's the open source project, we're not in a situation to push them to do anything. But you can always contribute and make 2.0 release sooner.

[2017-03-17 07:50] joshmouch commented on #7714
@szykov My meaning is that I hope this could be made as part of a bug fix rather than a whole new release.  This seems pretty big to me for people migrating from existing EF queries.

[2017-03-17 07:51] ErikEJ commented on #7917
Could you share your code/model?

[2017-03-17 08:24] grahamehorner commented on #6089
Just like to vote up this feature; we are looking at providing a multi-tenant restful API which switches database context / schema based on URI / JWT user claims; it would be great in to have some way of resolving / dynamically creating a context / connection based on some predicate filter, storing / pooling the resulting instance so it can be reused.

[2017-03-17 08:47] redowl3 commented on #7917
Sure,

 (In Context)
public DbSet<ItemUploadExport2> ItemUploadExports { get; set; }

(In Repo)
   var itemUploadExports= _context.ItemUploadExports
                    .FromSql(@"SELECT i.Id, irt.RegionId, t.Code, s.Code AS SupplierCode FROM Item i
                    INNER JOIN Tariff t ON t.TariffId = irt.TariffId
                    INNER JOIN Supplier s ON i.LastOrderSupplierId = s.Id

[2017-03-17 09:15] szykov commented on #7714
@joshmouch as @maumar said they can't fix that bug without changing API. EF support semantic versioning and breaking change such as changing API means a major change from point of semantic versioning. Major change means increasing the first number of the version => 2.0.

[2017-03-17 09:22] ah-its-andy opened #7923 "(Advice feature) Intercept sql generator to motify final sql statement"
Sometimes, i want to motify the generated sql statements to use some database enigne feature that I can not use with EntityFramework.
Perhaps possible add a intercept feature in sql generator like FilterAttribute in asp.net mvc.

[2017-03-17 11:00] grahamehorner opened #7924 "no such table ?"
Running ASPNETCORE with EFCore using SQLite; a datacontext is loaded which has an in memory connection string in side of a controller method, the tables in the datacontext look to have been created;
querying the datacontext set<T> produces the following stack trace with no exception.

[code]

[2017-03-17 11:36] zeeshaniqbal commented on #7891
remove the follow refs from the csproj file,
<PackageReference Include="Microsoft.VisualStudio.Web.CodeGenerators.Mvc" Version="1.1.0-preview4-final" />
<PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration" Version="1.1.0-preview4-final" />
<PackageReferenceInclude="Microsoft.VisualStudio.Web.CodeGeneration"Version="1.1.0-preview4-final" />

Add the following refs,
<PackageReferenc

[2017-03-17 11:58] AnilCAE commented on #7922
This seems this also same when we use contains with List<int?>?

[2017-03-17 12:12] rossvegas commented on #6631
Hi @rowanmiller, in your last comment you discouraged trying to mock EF.

I have just been doing a Pluralsight course by @julielerman from Sept 2016, she says that because a DBContext is an implementation of the repository pattern itself you don't need to implement the repository pattern again through your own classes creating what could be an unnecessary abstraction. She mentions the following MS

[2017-03-17 12:20] TPJ11 commented on #7922
For EF team to see the same issue with INT - http://stackoverflow.com/questions/42856379/c-sharp-linq-nullable-int-field-contain-within-listint-sql-translation/42856449

[2017-03-17 14:36] joshmouch commented on #7714
@maumar I'm just guessing here, but is ticket https://github.com/aspnet/EntityFramework/issues/7714 the same issue?  Is using the "let" statements causing the same sort of client evaluation to be performed as projecting to a DTO does?  Will 1.1.2 allow "let" statements to be used again?

[2017-03-17 14:52] smitpatel commented on #7924
From SQLite in-memory documentation.

You need to open the connection to in-memory db and pass it to EF while configuring the model so that connection remains open always, if you don't do it that way and instead give connection string to EF then every time EF opens connection it will get different db and there won't be tables you created using different connection string.

See https://docs.microso

[2017-03-17 15:24] NinoFloris commented on #7863
I'd think this is quite a problem. We don't know if we release an alteration of this code (that doesn't crash EF) that it will not show up in production under load in any other way. Basically somewhere the underlying model is broken in a way that is quite scary.

Please at least give some response, any at all is better than this complete silence.

Mind you the reproduction of this issue is 100% wi

[2017-03-17 15:28] benday commented on #6313
Thanks for the tip, @bricelam.  To make it easier to call from an automated build or TFS Release Management, I turned the calls into a batch script.  https://www.benday.com/2017/03/17/deploy-entity-framework-core-migrations-from-a-dll/

[2017-03-17 16:19] ajcvickers commented on #7863
@NinoFloris We triage issues multiple times per week. This issue was filed after our first triage this week and our second one for this week is today. We will assign someone to investigate at that time. However, from looking at the info above, I suspect we are going to need more information to be able to reproduce it. A simplified complete project or code listing would be ideal. If that's not poss

[2017-03-17 16:27] ajcvickers commented on #6631
@rossvegas If you are trying to mock your data layer, then using a repository or similar is probably a better way to go than attempting to mock EF directly. However, there are many other valid ways to develop/test that don't involve mocking the data layer. In such cases creating a repository can be overkill because it isn't providing any value over what the context already has.

[2017-03-17 16:30] joshmouch opened #7925 "ArgumentOutOfRangeException when using DefaultIfEmpty"
I'm using version 1.1.1 and am currently trying to find a workaround for the problem I reported here: https://github.com/aspnet/EntityFramework/issues/7915.

So I've rewritten the LINQ query to use DefaultIfEmpty(), but now I'm getting an ArgumentOutOfRangeException from the QueryCompiler.

Here is the query:

[code]

And here are the exception details:

[2017-03-17 17:41] maumar commented on #7925
duplicate of #6879 (fixed in 2.0.0)

[2017-03-17 17:44] maumar commented on #7915
@joshmouch you mean this used to work (i.e. produce single query) in previous versions of EF Core, or do you mean EF6? Also, could you post the model you are using? (entities and contents of OnModelCreating method on the DbContext)

[2017-03-17 18:04] ajcvickers commented on #6357
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-03-17 18:13] ajcvickers commented on #7869
Dupe of #7889

[2017-03-17 18:25] joshmouch commented on #7915
Yes, I meant it used to produce a single query in EF6.

The entities look something like this:

[code]

The OnModelCreating is 12k+ lines long, so I can't give it to you exactly, but here's a simplified version:

[code]

[2017-03-17 18:27] ajcvickers commented on #7887
Putting on the backlog to look at improving the query.

[2017-03-17 18:36] ajcvickers commented on #7891
@zeeshaniqbal We are not entirely sure how this relates to those packages, and they look like older versions as well.

[2017-03-17 18:56] ajcvickers commented on #7918
@lajones We may have some special handling for this in EF6; you might want to look at it for reference.

[2017-03-17 19:18] bricelam commented on #7870
Is the location of the database file correct? If you're using relative paths in the connection string, they'll be rooted at `AppContext.BaseDirectory`.

[2017-03-17 19:23] ajcvickers commented on #6968
Discussed in triage and we are going to port this to 1.1.2, so it will ship with the next patch assuming this is approved.

[2017-03-17 19:24] ajcvickers commented on #7923
@mykge This is currently being tracked by issue #626

[2017-03-17 19:34] ajcvickers commented on #7917
@redowl3 We suspect that this is due to identity resolution on the returned entities, although this doesn't quite match the data provided. More specifically, when EF encounters a row with the same key value as an entity that has previously been created, then it will not create a new entity but instead return the entity that was already created. So, in the data provided, EF will create an entity fo

[2017-03-17 19:44] ajcvickers commented on #7888
Closing this as fixed in dev. There is potential optimization here, but that is tracked by issue #7887, since it is the same root cause.

[2017-03-17 19:44] #7888 closed

[2017-03-17 19:46] ajcvickers commented on #7890
We discussed this in triage and we're going to look into whether RequiresValueGenerator is the correct thing to use here, or even a useful extension method to have internally at this point. It's semantics are not very tightly defined.

[2017-03-17 19:49] ajcvickers commented on #7892
Dupe of #7569

[2017-03-17 19:50] ajcvickers commented on #7901
We discussed this in triage and we are going to investigate throwing. However, this needs some more thought, so adding the needs-design tag to do more thinking.

[2017-03-17 19:54] jhaacke commented on #7889
Thank you @bricelam.  I was about to punch a hole through my computer screen until I found your work around.

[2017-03-17 20:06] aday12345 opened #7926 "PMC Tools: Scaffold-DbContext hangs when run from install.ps1"
i am trying to create a NuGet package that will run some Powershell  the will call 'Scaffold-DbContext'
then i do this is looks like visual studio is trying to build the project but it just hangs and i have to end the process because visual studio never comes back.

if i run the 'Scaffold-DbContext' in the pm console directly is works fine but not from a powershell script that is executed during a

[2017-03-17 20:08] ajcvickers commented on #7911
@abuzuhri It doesn't look like that code is actually doing validation. I would try moving this kind of processing to SaveChanges.

[2017-03-17 20:20] pablotdv commented on #7918
So I would have some tutorial explaining how I could do to debug the EF project code.

[2017-03-17 20:26] oatkins commented on #7901
👍

[Apparently](http://stackoverflow.com/questions/31154798/why-is-enumerable-min-or-max-inconsistent-between-collections-of-reference-and-v), `Enumerable.Min()` etc. only throws for non-nullable types.

A quick test using the C# REPL gives:

[code]

Unfortunately, these functions are most often used on numeric values, and (even without involving SQL), the default behaviour [often surprises](https

[2017-03-17 20:27] ajcvickers opened #7927 "Analyse functional impact of loop error"
PR #7909 fixes a bug where the wrong variable is being used in a for loop. We should analyse what functional impact this change makes and then make a call as to whether to port this to 1.1.2

[2017-03-17 20:41] julielerman commented on #6631
Hey @rossvegas , I would like to clarify something about what you say you heard in my course. I have an entire module called "Understanding EF Encapsulation and the Great Repository Debates" where I pointed out that one argument is that the dbcontext is a repo so you don't need to abstract it but that there are times when implementing a repository pattern  is perfectly reasonable. And that there a

[2017-03-17 21:35] bricelam commented on #7926
If you disabled NuGet's automatic package restore, does it work? Maybe NuGet puts a lock on some project resource...

[2017-03-17 21:37] maumar commented on #7915
@joshmouch  try the following:

[code]

comparing queries to null is in general, problematic and if the query is fully translated to SQL you don't actually need the null protection logic (since its built-in SQL already)

[2017-03-17 22:02] smitpatel commented on #4267
dupe of #7784 fixed in #7804

[2017-03-17 22:41] rossvegas commented on #6631
Thanks @ajcvickers and @julielerman I appreciate there are debates surrounding the use of repositories and different strategies for them. Also @julielerman I am a big fan I have been following your guidance for years.

My question is really regarding support by the EF Core for mocking. The MSDN link I posted indicated that Microsoft supported and demonstrated mocking for EF6. Is this not the case

[2017-03-17 23:21] rezdm commented on #2229
One more vote for this one.

[2017-03-17 23:58] NPadrutt commented on #7870
We use this as the DB Path on Android:
`Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Personal), Constants.DB_NAME);`

And assign it with:
`FadContext.DataBasePath` = Mvx.Resolve<ISqlite>().DbPath;

Maybe to point out: I can create the database, when I execute the Create Statements instead of
`db.Database.Migrate();`
or
await `db.Database.MigrateAsync();`

[2017-03-18 01:06] ajcvickers commented on #6631
@rossvegas I'm not sure what makes something "official" 😸, but I think there is general agreement across the team with what Rowan said.

[2017-03-18 01:33] ajcvickers commented on #7918
@pablotdv I'm not sure exactly what you are asking, but if you mean building and working with the EF code yourself, then there some instructions here: https://github.com/aspnet/EntityFramework/wiki/Getting-and-Building-the-Code

[2017-03-18 02:27] bricelam commented on #7870
Ah, that's the missing piece I needed.

It looks like an [extended error code](http://sqlite.org/c3ref/c_abort_rollback.html) is being returned which we don't handle in the `Exists` check. This is a bug.

[2017-03-18 03:09] joshmouch commented on #7915
@maumar that does work for nullable types (e.g. String or Nullable<Boolean>).
However, it doesn't work for a non-nullable type (i.e. Decimal).

In other words if e2 PropertyTwo were a string, null propagation works, but if it's a decimal, it doesn't.

I've tried your suggestion before when experimenting with different options and I had the idea to use a null propogation operator to change the type

[2017-03-18 03:19] joshmouch commented on #7915
Actually, I just tried simply casting the type to a nullable (even though it's not), and now the query works as expected.  I have some other problems, but I'll create a new ticket for that.  So this is the final query:

[code]

[2017-03-18 05:12] codingonHP opened #7930 "Question: How to scaffold only few tables in DB first approach in EF Core."
I am trying to do database first development in EF Core 1.1. I am following https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db to do so. What I am guessing from the command
**Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models**
is that it will generate DbContext containing

[2017-03-18 05:22] maumar commented on #7915
@joshmouch We have made a lot of improvements in 2.0.0 (and many more are still pending), so a lot of queries should be supported or more efficient. I will look into this example on Monday. In the meantime, you can try a following trick for those cases:

[code]

Basically, rather than comparing entire entity to null, compare it's key to the default value. Assuming that your database doesn't have d

[2017-03-18 06:36] ErikEJ commented on #7930
For the selecting tables issue, you can use my (unofficial) VS Tool to generate the code, and it has a UI for selecting tables:  https://twitter.com/ErikEJ/status/834405829889638402

[2017-03-18 08:45] codingonHP commented on #7930
@ErikEJ Thanks :)
Any thoughts on

[2017-03-18 11:45] ErikEJ commented on #7930
@codingonHP Yes: why use EF Core if you only need to execute stored procedures?
If the stored procedures return results, you need some classes in your DbContext to map them to, and if they match some of your tables, then scaffolding makes sense...

[2017-03-18 13:55] atonamy commented on #7869
@GZidar totally support idea to add user friendly error message. The message "Could not load file or assembly message" really makes me confused and I naively tried solve it by adding System.Diagnostics.DiagnosticSource dependency.

I spent whole day on it because before this issue I faced another issue cos by default "dotnet new classlib" (in my case database library) create netstandard1.X and thi

[2017-03-18 14:17] atonamy commented on #7889
@bricelam please at least you could add some friendly messages to guide user what to do and how to solve it. This exception is very confusing and eat a lot of time. Also why netstandard1.6 doesn't work with migration?

[2017-03-18 15:13] eriksendc commented on #7800
@ErikEJ or @AndriySvyryd ... I reading https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency I think I want to create my own execution strategy, modeled on SqlServerExecutionStrategy. I've written my execution strategy class, but I'm just not able to wrap my head around how to wire it up in startup.cs. This is what I'm doing:

                services.AddDbContext<Applicatio

[2017-03-18 15:39] MarcoLoetscher opened #7931 "Could not install package 'System.Runtime.InteropServices.RuntimeInformation 4.3.0'"
Visual Studio Community 2017, .NET desktop development and only the Option SQL Server Express 2016 LocalDB

When I try to install Microsoft.EntityFrameworkCore.SqlServer, I get the following error:

Install-Package : Could not install package 'System.Runtime.InteropServices.RuntimeInformation 4.3.0'. You are trying to install this package into a project that targets
'.NETFramework,Version=v4.6.1',

[2017-03-18 16:46] ErikEJ commented on #7800
How about: https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/test/EFCore.SqlServer.FunctionalTests/Utilities/DbContextOptionsBuilderExtensions.cs#L26

[2017-03-18 19:50] Ibrahim-Islam commented on #3863
@maumar What was your solution to this?

[2017-03-18 21:01] eriksendc commented on #7800
Thanks much, @ErikEJ I now have my own execution strategy in place. I think the main issue will boil down to whether it is safe to retry for the specific errors I'm seeing. They're always err.Number = -1, `A transport-level error has occurred when receiving results from the server. (provider: Session Provider, error: 19 - Physical connection is not usable)`. So if it is not 100% safe to retry give

[2017-03-18 21:55] Eilon commented on #7624
@bricelam that's being considered, but it's a ton of work and I personally believe it's very high risk. That is, how can we guarantee that switching the build system will produce packages that are essentially identical? I guess we could do the binary diffing thing (which I believe you now have experience with)...

[2017-03-19 06:26] Ma3yTa commented on #4021
@divega @rowanmiller Guys, When expect this feature will be done?

[2017-03-19 10:37] tdjastrzebski opened #7932 "Add support for Microsoft.EntityFrameworkCore.SqlServer in UWP"
Please add support for Microsoft.EntityFrameworkCore.SqlServer in UWP.
In VS 2017 RTM attempt to add this NuGet package  fails.
(Microsoft.NETCore.UniversalWindowsPlatform latest ver 5.3.1, Microsoft.EntityFrameworkCore.SqlServer latest ver 1.1.1)

I suppose the issue is known. Probably there is a reason EF Core samples for UWP
[Getting Started on Universal Windows Platform (UWP)](https://docs.mic

[2017-03-19 10:52] ErikEJ commented on #7932
Duplicate of https://github.com/dotnet/corefx/issues/6751

[2017-03-19 13:50] sjb-sjb commented on #7920
I should mention then that my entity property had the [Required] attribute.
I had assumed, though, that this attribute would only be used for
validation and would not affect the database table scheme. Does it?

On Thu, Mar 16, 2017 at 8:46 PM, Arthur Vickers <notifications@github.com>
wrote:

[2017-03-19 17:09] TobiasOskarsson commented on #2725
+1, This would make it possible to use ef core in plugin based architectures with each context inheriting from the core context with working relationships between contexts.

[2017-03-19 23:21] Daniel15 opened #7933 "Replacement for IPluralizationService"
I'm trying to convert a site from Entity Framework 6 to Entity Framework Core. In my database context, I have some code like this:

[code]

Is there a replacement for `IPluralizationService`? After reading #3060, my understanding is that pluralisation is no longer done automatically by Entity Framework. However, is the previous implementation of `IPluralizationService` available as a standalone pr

[2017-03-19 23:26] Daniel15 opened #7934 "Many-to-many support"
The docs (https://docs.microsoft.com/en-us/ef/core/modeling/relationships) say:

Is there an issue tracking this?

[2017-03-20 03:53] chadwackerman commented on #242
Rowan Miller announced he's leaving the team. Provided some private details that are interesting. And revealed an amazing blind spot around why walking into a room shouting "Hey, I'm in charge of Entity Framework" yields fewer glasses of champagne than it did 5 years ago.

https://romiller.com/2017/03/06/im-leaving-the-ef-team/

[2017-03-20 04:22] AndriySvyryd commented on #3863
@Ibrahim-Islam The key must be defined on the base type because EF allows assigning derived entities to navigations configured with the base entity type.
If you don't need to track the base entity type you can just ignore it in 'OnModelCreating'

[2017-03-20 04:30] AndriySvyryd commented on #7800
@eriksendc Check out https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/src/EFCore.SqlServer/Storage/Internal/SqlServerTransientExceptionDetector.cs

[2017-03-20 05:04] nrubiano commented on #7889
Thanks @bricelam, it works....

[2017-03-20 08:34] RiseeeAgainst opened #7935 "Must be reducible node exception"
Must be reducible node exception

The reason of exception metod in class "NavigationRewritingExpressionVisitor"
method: "protected override Expression VisitBinary(BinaryExpression node)"

### Steps to reproduce

There is the link with zip archive of test project
https://drive.google.com/file/d/0B-WxIMR78dsVZ3p1TUJzS0lSM28/view?usp=sharing

I'm sorry for registering this issue in second time (#7832

[2017-03-20 08:34] deadZedd commented on #242
@chadwackerman could you elaborate on what you mean with your last sentence? I understand its literal meaning, but i guess theres some idiom or metaphor im missing since i cant understand what you are reffering to in his article.

[2017-03-20 08:45] radenkozec commented on #7077
After migrating to VS2017 check csproj xml file. It should have this settings migrated. I just delete it because now is obsolete.

[2017-03-20 09:08] kierenj commented on #242
@deadZedd, unfortunately it's all trolling from Chad, who needs to find a more appropriate place to find somewhere to voice his concerns, which are unrelated to this issue.

[2017-03-20 11:07] jtheisen commented on #242
@deadZedd I think he's referring to the *absence* of a hint that working on EF is less cool these days. And @kierenj, I, too, am wondering when, if ever, EF Core will be at a stage where using it is economical. It's a legitimate concern. Microsoft isn't exactly honest about where their true priorities lie and we all know that if they wanted to focus on it, EF Core could easily be where EF6 is.

In

[2017-03-20 11:39] patoncrispy commented on #1862
Possibly a little off topic, but does anyone have any advice for stubbing results from a RelationalDataReader?

[2017-03-20 12:33] xyting opened #7936 "What's DatabaseName used for?"
Today, I test some ef core features, I assume the `test_db1` and `test_db2` in the same machine:
step1: I use database named `test_db1` in connection string
step2: I change the database name in  `OnModelCreating(ModelBuilder modelBuilder)` method like this:

[code]
step3: I check where the data inserted, in test_db1? or in test_db2?

The result is data inserted into `test_db1`, so, my question is

[2017-03-20 12:58] tuespetre commented on #7934
https://github.com/aspnet/EntityFramework/issues/1368

[2017-03-20 13:25] cdie opened #7937 "System.InvalidOperationException when trying to moq data and call AsNoTracking method"
We've created an abstraction on top of EF that will be our main data access. When we try to moq it in order to retrieve test data to test business logic, this exception is thrown when returning a list as queryable.

[code]

Note that it doesn't throw any exception in EF6 (same code with EF6 just works well)
Note also that .Include() doesn't throw anything

### Steps to reproduce
Here's code to rep

[2017-03-20 14:07] chadwackerman commented on #242
In his farewell post, Rowan states that he was on a team that dropped from 60 to 10. And with his departure, now it's single digits.

A quick history:

We lost the visual designer and they replaced it with cryptic annotations. Then we lost most of those so we can't even create an Index by typing [Index] any more.

We lost lazy loading. You can argue that this forces devs to do the right thing up f

[2017-03-20 14:38] aday12345 commented on #7926
Just tried that at is did not fix it, also tried 'Set-ExecutionPolicy Bypass -Scope Process' on the line before the call to 'Scaffold-DbContext' but it still just freezes vs and i have to end the process

[2017-03-20 14:39] DavidNorena commented on #7889
Thank you a lot @bricelam it really worked !

[2017-03-20 14:44] bricelam commented on #7624
I'm all for doing it. In my mind me, it lowers the long term cost of maintenance. I don't think verification will be too difficult. An API diff, embedded resource diff, and nupkg diff could all be automated.

[2017-03-20 16:21] ajcvickers commented on #7932
Copying Rowan's comment from #4692, which still applies: Closing as there is nothing actionable on the EF side - the EF SQL Server provider will work on UWP if SQL Client is enabled.

Looks like the issue @ErikEJ referenced is tracking this on the corefx side.

[2017-03-20 16:22] ajcvickers commented on #7920
@sjb-sjb [Required] will make the column non-nullable in the store.

[2017-03-20 16:30] ajcvickers commented on #7933
@Daniel15 There is no replacement in EF Core and we don't plan to add one at this time or make the previous one available standalone. Rowan's post here: https://romiller.com/2017/02/10/ef-core-1-1-pluralization-in-reverse-engineer/ uses an external pluralization service. Maybe you could use this for your needs?

[2017-03-20 16:34] Daniel15 commented on #7933
Thanks @ajcvickers! It turns out I don't even need this due to the fact that EF Core uses the DbSet property name as the table name by default (#4688).

[2017-03-20 16:36] Daniel15 commented on #1368
The docs (https://docs.microsoft.com/en-us/ef/core/modeling/relationships) mention this limitation:

But don't provide any clues as to when this will be coming. Is there an ETA for this?

[2017-03-20 16:46] ajcvickers commented on #7936
@xyting The database to use is controlled only by the connection string. The DatabaseName is stored in the model as part of the reverse engineering process, but is otherwise not used.

Note for triage: Consider removing sugar API for this annotation if it is only needed by reverse engineering.

[2017-03-20 16:54] ajcvickers commented on #1368
@Daniel15 It's currently on our backlog and not scheduled for any of the immediate upcoming releases.

[2017-03-20 17:16] tdjastrzebski commented on #4692
Do I correctly understand the problem is currently System.Data.SqlClient ver 4.1 or above is not supported on UWP?

[2017-03-20 17:18] ajcvickers commented on #4692
@tdjastrzebski Correct. As far as I am aware, there is no released version of System.Data.SqlClient that works on UWP.

[2017-03-20 18:04] ajcvickers commented on #7930
@lajones Can you point @codingonHP to the documentation to do this without Erik's tool? (If we need to improve the docs, then let's make sure there is an issue for that.)

[2017-03-20 18:06] ajcvickers commented on #7935
@maumar Assigning to you--could be a dupe of #7832

[2017-03-20 18:09] ErikEJ commented on #7930
@ajcvickers The main issue is that the current tools /command line only allows you to specify "exclusions", not "inclusions"

[2017-03-20 18:11] ajcvickers commented on #7937
@smitpatel to investigate, checking with @anpete who did some related changes in this area previously.

[2017-03-20 18:15] tinchou commented on #7937
This piece of code suggests there's no special handling https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/src/EFCore/EntityFrameworkQueryableExtensions.cs#L2451

[2017-03-20 18:47] lajones commented on #7930
@codingtonHP - the docs on Scaffold-DbContext are [here](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell#scaffold-dbcontext). Specifically you can include just a specific set of tables or all the tables from a specific set of schemas. See the `-Tables` and `-Schemas` flags in the documentation.

@ErikEJ - I think you meant the command-line tool only allows **inclusions** not

[2017-03-20 18:56] ajcvickers commented on #7711
Re-opening for patch approval process.

[2017-03-20 18:56] ErikEJ commented on #7930
@lajones Sorry, yes!

[2017-03-20 18:58] ajcvickers commented on #7930
@divega Is this documentation okay, or should we make it more prominent?

[2017-03-20 19:30] lajones commented on #7930
@divega @ajcvickers I would like to put the whole section under `Tools & Extensions` as well as / instead of under `Miscellaneous`. At least that's where I first looked for it. (That said, the things currently under `Tools & Extensions` look very different - so maybe we need to rename one or more of the sections?)

[2017-03-20 20:14] ErikEJ commented on #7930
How about moving the command line reference a level up, so it is the same level in TOC as API Reference (it is a large part of the EF Core surface)

[2017-03-20 23:23] NickCraver commented on #774
I was investigating making a `MiniProfiler.EntityFrameworkCore` package for easily hooking up profiling...but I can't see how to do this. If we had a service, we could hopefully replace it and override the connection with a `ProfiledDbConnection`. As it stands, I'm not sure how I'd even instruct a user on how to do this, even manually.

Is this planned? Or am I missing an obvious hook here for pro

[2017-03-21 00:11] sjb-sjb commented on #7920
So: non-nullable in the database, but nullable CLR type; currently cannot assign null to CurrentValue but this is a bug and one should be able to assign null to it.

So if I assign null in the entity and then try SaveChanges … an exception occurs, I guess.

Of course that would only happen if I didn’t validate the entity properly (using the [Required] attribute). First assign null to the CLR entit

[2017-03-21 00:57] xyting commented on #7936
@ajcvickers Thanks, I got it as I had investigated the source code last night. Have any easy way to dynamic change the database name initial determined by connection string?

[2017-03-21 01:18] fedoranimus commented on #1368
That's disappointing @ajcvickers. It would appear to be an issue for many people (including myself). I know it will **drastically** simplify my code and make it maintainable.

[2017-03-21 01:48] KSubedi commented on #1368
I agree with @fedoranimus, I was hoping this feature would be available with the 1.1 release, I am disappointed to hear that its not even scheduled.

[2017-03-21 03:31] pmiddleton commented on #7922
I just took a look into this issue, and it can be closed.

I can confirm the issue is happening on 1.1.1, but it has already been resolved in the dev branch..

[2017-03-21 04:25] maclax commented on #245
I'm trying to call stored procedure in my dbcontext class using the entity type. Please find the code below:
public IEnumerable<StoreCheckByDate> ExecuteStoreCheckQuery()
        {
            DateTime startdate = new DateTime(2017, 03, 15);
            string sdate = String.Format("{0:MM/dd/yyyy}", startdate);

            DateTime enddate = new DateTime(2017, 03, 01);
            string edate =

[2017-03-21 05:14] VSG24 commented on #1368
I can't say that I'm surprised. The whole .NET Core ecosystem is a big mess right now.

[2017-03-21 05:42] maclax commented on #245
Using async/await i modified the stored procedure call.
Controller class
[HttpGet]
        public async Task<IActionResult> ReportSalesbyBrand()
        {

            return View(await _totalSalesRepository.GetStoreCheckData(););

        }

Repository class
  public async Task<IEnumerable<StoreCheckByDate>> GetStoreCheckData()
        {

             return await _totalSalesContext.ExecuteStoreC

[2017-03-21 05:59] pmiddleton commented on #7616
Like #7922 this is now working in the dev branch.  No client side evaluation is performed in the sample code provided.

[2017-03-21 09:12] tdjastrzebski commented on #4692
That is a show stopper - my first attempt at UWP development :/

[2017-03-21 09:17] jjklee121 opened #7938 "DB first issue with Index giving one-to-one instead of one-to-many relationship"
Hi,

When running database first migration using **Scaffold-DbContext** the some of the models generated are linked by one-to-one relationships, when in actual fact they are one-to-many and I'm not getting any errors or exceptions.

Basically I have a table of jobs and a table of appointments.
A job can have multiple appointments and each of these appointments can have difference statuses e.g.
**A

[2017-03-21 11:53] NickCraver opened #7939 "What's the intended use pattern of RelationalDiagnosticSource* messages?"
I'm trying to hook [MiniProfiler](https://github.com/MiniProfiler/dotnet) up to Entity Framework Core, but I'm not really understanding what the intended interface is. My understanding is that my best (supported) route is [DiagnosticSource](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md), called via [`RelationalDiagnostics`](h

[2017-03-21 12:40] NickCraver commented on #7939
As an example of why `dynamic`/DLR access is something I really, really want to stay away from here, I added a quick benchmark of the performance impact (this is .NET 4.6.2, [re-runnable benchmark code here](https://github.com/NickCraver/PerfBenchmarks/blob/master/Benchmarks/DLR.cs)):

[code]
Results:
[code]
 |  Method |       Mean |    StdDev | Allocated |
 |-------- |----------- |---------- |---

[2017-03-21 12:55] fletchsod-developer commented on #1368
If you really look at several other bugs, you'll find they're being fixed one by one.  We're actually getting there but not fast enough though.

[2017-03-21 13:24] cdwaddell commented on #7937
I came across this same issue today and ended up writing my own gated version of AsNoTracking() as a workaround.

[2017-03-21 13:31] nicolaspierre1990 opened #7940 "Update-Database fails to login on a LocalDB"
Hey guys,

I'm trying to build an app that is based on Code First database Model. So after I added the migrations I tried to update the database with the `Update-Database` command in the Package Manager of Visual Studio 2017, because the `dotnet ef` command seems not to work with me from a console. (which I don't know why aswell) But I'm always getting the error `Login failed for user ''.` Now I s

[2017-03-21 13:40] joshmouch opened #7941 "Intellitrace support?"
Is there a way to get Entity Framework Core queries to show up in the Diagnostic Tools window in Visual Studio?
Is this currently supported, or will it be?

I see that Application Insights can capture when a query occurs, but doesn't capture much detail (no script, no line numbers, etc.).

[2017-03-21 14:21] shanhongyue commented on #7862
I found the reason. The path may be too long. I placed my solution folder under "E:\保持同步\存档PX1T\我的软件\基于地理位置和关键字的优惠信息推荐\CouponServer". After I moved it to "E:\保持同步\存档PX1T", it succeed in adding migration and updating database.

[2017-03-21 14:43] dgee2 opened #7942 "Deploying DB Migrations from build output from pure PowerShell"
Hi,

I'm working on a project using EF Core where we want to be able to deploy the database migrations (and probably a fresh DB) from a PowerShell prompt as part of our CI.
Is there a way that we can use PowerShell to deploy the database migrations from our built binaries without having to do some lifting and shifting of source code and the Microsoft.EntityFrameworkCore.Tools  or Microsoft.EntityF

[2017-03-21 15:03] joacar commented on #1590
When is this planned? Really keen to use this feature

[2017-03-21 15:53] michalczerwinski commented on #3732
We are still experiencing this issue on the recent version: 6.1.3. What is the current status of this?

[2017-03-21 15:54] mdmoura opened #7943 "GroupBy needs a ToList before to work"
I am getting an error when using a Select after a GroupBy.

[code]

### Steps to reproduce
The code is the following:

[code]
If I add `ToList()` before `GroupBy` I don't get an error (but I loaded everything into memory).

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio Code

[2017-03-21 15:56] SimonTouchtech commented on #3732
@michalczerwinski This repository (and issue) is for Entity Framework Core. If you're using Entity Framework 6.x you should go to https://github.com/aspnet/EntityFramework6

[2017-03-21 17:00] pakrym commented on #7939
You can use https://github.com/aspnet/eventnotification and `SubscribeWithAdapter` extension method that generates proxy for you (https://github.com/aspnet/EventNotification/blob/dev/src/Microsoft.Extensions.DiagnosticAdapter/DiagnosticListenerExtensions.cs#L16)

[2017-03-21 17:02] pakrym commented on #7939
Sample usage in ApllicationInsights MVC diagnostic listener: https://github.com/Microsoft/ApplicationInsights-aspnetcore/blob/develop/src/Microsoft.ApplicationInsights.AspNetCore/DiagnosticListeners/Implementation/MvcDiagnosticsListener.cs

[2017-03-21 17:54] shaulbehr opened #7944 "EF Core 1.1.1 has introduced a new ArgumentException for complex queries with with subqueries, if the same subquery is present multiple times in the query model"
I saw today that EF Core 1.1 has been released.  I made a new branch and upgraded from 1.0.  Now several of our integration tests are failing with the below error.  I'm not going to attempt to give you the full code base that raises this error; our codebase is massive.  Rather I will just paste the line of code that throws the error along with the stack trace and hope this will be helpful to you.

[2017-03-21 18:21] felipemmasan opened #7945 "Error when web deploy to azure an application with EF on Visual Studio 2017"
When I try to do a publish to azure of my app, visual studio shows the erro bellow:

Generating Entity framework SQL Scripts...
Executing command: dotnet ef migrations script --idempotent --output "C:\Users\felipe.m.santos\Desktop\Estudo\masonweb\src\masonweb\obj\Release\netcoreapp1.0\PubTmp\EFSQLScripts\masonweb.Models.masonwebdbContext.sql" --context masonweb.Models.masonwebdbContext
Entity fram

[2017-03-21 18:38] smitpatel commented on #7940
I tried reproducing this.
Changes required to run EF commands,
1. Delete global.json from root directory. It is picking up older version of dotnet cli which does not work with new csproj.
2. In your startup you don't need line `services.AddEntityFrameworkSqlServer().AddDbContext<FlexureContext>();`. `AddDbContext` will do all work for you.

PMC commands:
If you are not able to get ef commands in P

[2017-03-21 18:39] divega commented on #7939
Thanks @pakrym!

@NickCraver please let us know if the suggested approach works for MiniProfiler. Otherwise we can keep looking into it (and also discuss #774 if if really necessary).

[2017-03-21 19:16] smitpatel commented on #7945
Can you run the command with verbose flag?

[2017-03-21 19:47] ajcvickers commented on #7922
@pmiddleton PRs with additional tests are always welcome. 😸

[2017-03-21 19:53] ajcvickers commented on #245
@maclax Can you open a new issue for this? Please make sure to include the full stack trace for the exception you are seeing.

[2017-03-21 19:59] ajcvickers commented on #7938
Notes for triage: support for filtered indexes in SQL Server was added in 5817 and  #6866. I'm not sure off the top of my head how far this permeates into the stack. It feels like in this case we should at least try to interpret the index to not mean the relationship is 1:1, and if we can also add support to reverse engineer the filtered index correctly that would be great. Let's discuss in triage

[2017-03-21 20:22] NickCraver commented on #7939
@pakrym @divega Thanks a lot for the info and example, there's a lot there but everything *seems* sane. While I'm not as concerned with the perf given the proxy IL generation in play, I am concerned about the overall interface.

Is there documentation for the parameters available to the listener methods? While I can see from reading source the parameter names on the interface or anonymous type mus

[2017-03-21 20:28] ajcvickers commented on #7937
Looks like Include/ThenInclude has the special handling, but AsNoTracking does not. Changing from "investigate" to bug. We should also make sure that there aren't other extension methods that need similar changes. (AsTracking is the obvious one. 😄)

[2017-03-21 20:31] smitpatel commented on #6703
@anpete @maumar - I was looking this in my current work. For complex expressions, we are able to alias the projection and use it in order by but for subquery it is failing because we generate different select expression (essentially the table aliases are different) because our subquerymodelvisitor will run twice on same qm. Thoughts where we should optimize this?

[2017-03-21 21:20] smitpatel commented on #7944
@maumar - Did you investigate this?

[2017-03-21 21:46] jdcrutchley opened #7946 "PropertyAccessMode enhancement"
Could PropertyAccessMode have an additional option, possibly called IgnoreDuringConstruction, which would tell EF to create the property, use it's public getter when storing to the database for query reasons, but when instantiating from the database, just ignore it.  The use case for this would be having getter-only properties computed from other properties, which can be easily queried at the data

[2017-03-21 21:58] maumar commented on #7944
In ```QueryModelMappingPopulatingVisitor``` before adding model to the dictionary we should check if it's already been added. This _should_ be safe to do, but will do some more testing to make sure.

[2017-03-21 22:01] smitpatel commented on #7944
While having defensive add to dictionary is safe to do, we should also investigate the reason for it to arise and evaluate if we want to preserve the first value or last value. Also if such cases should be impossible (but happening due to bug somewhere else) then defensive check would make it harder for us to catch the issue.

[2017-03-21 22:32] ajcvickers commented on #7946
@jdcrutchley Just want to clarify something. You said, "trick EF into not doing anything to set the property." I don't see anything in that property definition that will prevent EF from setting the property. Can you elaborate more?

That being said, the idea of computed properties that are persisted for query is interesting. We will discuss. 😸

[2017-03-21 23:26] natemcmaster opened #7949 "CommandLineUtils is duplicated"
EF has an almost-exact copy of [Microsoft.Extensions.CommandLineUtils.Sources](https://github.com/aspnet/Common/tree/dev/shared/Microsoft.Extensions.CommandLineUtils.Sources/CommandLine)

I believe it was added because early versions of csproj didn't support contentFiles yet. I see it has since diverged from what is in aspnet/Common (https://github.com/aspnet/EntityFramework.Tools/pull/36). Can we

[2017-03-21 23:49] jdcrutchley commented on #7946
I probably worded that badly.  My understanding was, it'll find the field _myProperty, which isn't actually used for anything, and set that.  I have the private set only so that EF will pick up the property in the first place without having to do anything special in the mapping.  However, now that I think about it more, I probably don't need the field since a do-nothing setter serves the same purp

[2017-03-22 00:51] bricelam commented on #7949
Ours has been simplified and customized to meet our specific needs. Ultimately, we just want to use System.CommandLine when it's done.

[2017-03-22 01:17] natemcmaster commented on #7949
What were the changes? Would our other command line apps benefit from them?

[2017-03-22 01:56] NinoFloris commented on #7863
It took some time but this is the smallest we can get :)

https://gist.github.com/NinoFloris/2c91585c047050e00e388e94edc09a98

`dotnet new console` with package:

[code]

[2017-03-22 02:19] bricelam commented on #7949
Probably not. They allow known options after unknown arguments. E.g. to capture --verbose when in dotnet-ef when 'dotnet ef database update --verbose' is specified. ('database' and 'update' are captured as extra args)

[2017-03-22 02:21] bricelam commented on #7949
It's really only valuable for dispatching commands.

[2017-03-22 02:54] natemcmaster commented on #7949
I see. There is still value in de-duping shared code, but if your changes are too disruptive to the way CommandLineApplication worked then never mind.

[2017-03-22 02:56] smitpatel commented on #6968
@ajcvickers - Patch-proposed label?

[2017-03-22 07:08] ErikEJ commented on #7791
Any update? @bricelam

[2017-03-22 07:28] SepiaGroup opened #7951 "Syntax complexity of outer joins and where conditions"
this is not an code issue/bug but the complexity of the syntax for outer joins is really hard to work with, for example:

[code]

the query  produced by this is very close to what i am expecting but it does have an order by at the end that is a bit odd.

[code]

am i doing something wrong or not knowing a better way of producing the query?
is there any work on trying to simplify this syntax?

sorr

[2017-03-22 08:32] dengyuehua opened #7952 "Use Include questions"
### Steps to reproduce

- my DbContext

[code]

### The issue

[code]

sql log:

[code]

[code]

### Further technical details

MySQL version: 5.6
Operating system: win64
Pomelo.EntityFrameworkCore.MySql version: 1.1.0

Other details about my project setup:

[2017-03-22 08:38] maclax opened #7953 "Using async/await for calling stored procedures in entity framework core generates NullReferenceException"
I'm trying to call stored procedure using async/await. On executing the application, it is throwing NullReferenceException.

StackTrace:

An unhandled exception occurred while processing the request.

NullReferenceException: Object reference not set to an instance of an object.
lambda_method

Stack Query Cookies Headers
NullReferenceException: Object reference not set to an instance of an object.

[2017-03-22 10:38] nicolaspierre1990 commented on #7940
Trying your solution gives me this.
![image](https://cloud.githubusercontent.com/assets/5520669/24193871/0e1c28bc-0ef4-11e7-9200-5678a94bf065.png)

[2017-03-22 13:09] felipemmasan commented on #7945
I'm not running the command. I just push the right button on the project and click on "publish"

![part3](https://cloud.githubusercontent.com/assets/19172005/24199247/95b3283c-0ee7-11e7-9abc-51f25f8ba0da.png)
![part4](https://cloud.githubusercontent.com/assets/19172005/24199249/95c96926-0ee7-11e7-928a-bcf6e92f245f.png)
![part1](https://cloud.githubusercontent.com/assets/19172005/24199251/95d11752-

[2017-03-22 14:31] smitpatel commented on #7940
`dotnet ef database update --verbose` this is where the error is. You are configuring `UseSqlServer` in Startup.cs in Flexure project. You need to pass it as startup project while running dotnet ef so that EF can initialize services.
Command to be used
`dotnet ef database update --startup-project Flexure`

[2017-03-22 14:34] smitpatel commented on #7945
As the publish step just runs bunch of commands only under the hood,
Can you run `dotnet ef migrations script --idempotent --context masonweb.Models.masonwebdbContext --verbose` from the folder `src\masonweb`? That would give more insight on why script generation is failing.

[2017-03-22 14:35] nicolaspierre1990 commented on #7940
Still the same problem.. I am doing it in the right folder right ?
![image](https://cloud.githubusercontent.com/assets/5520669/24203069/05fd49ec-0f15-11e7-8bdb-f38f6d1486c0.png)

[2017-03-22 14:44] nicolaspierre1990 commented on #7940
Something is wrong with me SQLExpress instance. You can close this. Works on (localdb)\MSSQLLocalDB now

[2017-03-22 14:48] felipemmasan commented on #7945
Result:
![image](https://cloud.githubusercontent.com/assets/19172005/24203798/789e669a-0ef5-11e7-8f1a-c305c6a5e686.png)

[2017-03-22 14:57] smitpatel commented on #7945
Can you specify a different & valid output path while running command? That directory may not be available if not run as a part of publish step.

[2017-03-22 14:59] smitpatel commented on #7940
The same happened to me. Worked on `(localdb)\MSSQLLocalDB`, It gave me above error for `SQLExpress` and I don't have SQLExpress instance on my machine. There may be a different reason too. But most probably it is connection string issue rather than EF issue.

[2017-03-22 15:14] felipemmasan commented on #7945
I created the folder "EFSQLScripts" and the command executed successfully. I did a test and I was able to publish through visual studio.

I only had one question, despite having deselected the "Apply this migration on publish" option, visual studio still executes this command. Should visual studio not stop running?

![image](https://cloud.githubusercontent.com/assets/19172005/24205077/235ddaae-0ef

[2017-03-22 15:18] darkurse commented on #6397
I can see that both #6381 and this issue are closed but this is still an issue with EF Core version 1.1.1.

I still cannot apply a case insensitive filter to my SQLite queries. Looking at the source, `instr()` is still used as the expression translator for `.Contains()`. Why not use the SQLite `like()` function to do the job (if mapping the `LIKE` operator is an issue) ?

This is clearly not an ed

[2017-03-22 15:24] smitpatel commented on #7945
@bricelam - For insights on tooling. Do we generate migration script even if we are not applying migrations on publish through publish wizard?

[2017-03-22 15:31] livarcocc opened #7954 "publish dotnet core application in docker,db connections cannot release"
_From @zhaiweihao on March 22, 2017 6:11_

I have an application  with .net core 1.1.0 and  publish it  in docker ,I find that connections in  sqlserver cannot release,
this error cause me much trouble in production environment,how can I resolve it?
when publish it in IIS ,connections are quite normal release.

I push a demo application to github,this is the address :https://github.com/zhaiweihao/

[2017-03-22 15:47] ajcvickers commented on #7953
@maclax This may be due to the data having null values when the CLR property type that value is going to is not nullable. Can you try updating to the latest version (1.1.1)? We made changes to produce better exception messages in cases like this.

[2017-03-22 16:48] bricelam commented on #7791
Sill haven't dug into it... ☹️

[2017-03-22 16:53] bricelam commented on #7945
It shouldn't, but you'd have to double check with the team

[2017-03-22 17:00] smitpatel commented on #7945
There are 2 issues here
1. EF is not creating the folder in which the output SQL script is stored. Hence `migrations script` fails to execute successfully.

2. Verify behavior if `Apply this migration on publish` is deselected then migrations script is not executed.

[2017-03-22 17:17] Choleriker commented on #1100
+1

[2017-03-22 17:26] sonphnt opened #7956 "Scaffold-DbContext generate IsRequired() on nullable unique column."
Hi Everyone,

I have a column with unique index like this.
[code]
The class generated by Scaffolding look like this

[code]

Why it added IsRequired() into Name property?
Is it a bug? And is it possible to do a unique nullable column in Entity Framework?

Thanks

[2017-03-22 17:33] bricelam commented on #7889
Note, a fix has been checked into `dev` and should be available soon on the [nightly build](https://dotnet.myget.org/gallery/aspnetcore-dev) feed.

[2017-03-22 17:57] grokky1 opened #7957 "Feature request: custom SQL in fluent API"
I hope this is the correct repo for this.

There will always be more you cannot support than can, because every db provider is different.

E.g. I need check constraints, but that can only be done in custom validation (`IValidatableObject`), or a migration (`MigrationBuilder.Sql()`). Both are bad options, but reasonable workarounds for now.

It would be better to issue custom SQL from the fluent AP

[2017-03-22 18:21] dapalmi commented on #7714
I have following query with the same error message:
var test = _repository.AggregateQueryable.Select(x => x.Items.Any() ? x.Items.GroupBy(y => y.Priority).Select(g => g.Key).ToArray() : new int[0]);
What is the workaround for this?

[2017-03-22 18:47] TheGatsby81 commented on #7057
I'm still seeing a problem with the latest build here (1.2.0-preview1-24047). ForeignKey attribute does not work with a nullable key.

[2017-03-22 18:47] dougbu opened #7958 "Track recent breaking changes in `exceptions.net*.json` files"
This repo contains untracked breaking changes. To find and address them
1. Revert d30fd13ea
2. Run `.\build.cmd /t:Pack` in projects d30fd13ea touched or `.\build.cmd /t:Package` in the repo root
3. Update `exceptions.net45.json` and `exceptions.netcore.json` to track the changes
4. If not already announced, suggest filing issues at https://github.com/aspnet/Announcements

[2017-03-22 19:33] maumar commented on #7944
@shaulbehr are there other operations applied on the ```pagedResult``` (filters, orderbys etc) or is it just ```entities.Skip(..).Take(...)```?

[2017-03-22 19:54] bricelam commented on #7791
I'm not able to repro this. .NET Framework 4.5.1 projects on both VS 2015 & 2017 install the latest version of the package without error...

[2017-03-22 20:00] ErikEJ commented on #7791
What build is that?

[2017-03-22 20:23] gsGabriel opened #7960 "In Memory does'nt work with special types"
I have a problem when I use the in-memory database. My context has been mapped to a postgresql database and has a table with PostgisGeometry type, but when I try to run tests in memory the following error occurs:

**Cannot call Property for the property 'Geom' on entity type 'TbGeometry' because it is configured as a navigation property. Property can only be used to configure scalar properties.**

[2017-03-22 20:34] roji commented on #7960
I think I know what's going on, but to be sure could you please post the relevant parts of your model (affected entity as well as any code in your OnModelCreating which references it)?

[2017-03-22 20:49] mariuszkochanowski opened #7961 "Table schema doesn't work"
Example below throws exception: 'Invalid object name 'SampleSchema.Clients'.'
[code]

[2017-03-22 21:01] victor168 opened #7962 "DateTime comparison in Where predicate is ignoring time of day"
Hello,

I am using a query with a Where clause like the following:

[code]

However, it will match regardless of the time of day as long as the Date (i.e. month, day, year) is satisfied.  That is, in my example, if minimumDate was 5pm today, and CreatedDate was 2pm today, it would satisfy the Where clause and this is not correct.

The SQL Server table column "CreatedDate" is using the "datetime" t

[2017-03-22 21:06] ajcvickers commented on #7961
@arespr Can you confirm that your database contains a table "Clients" in the "SampleSchema" schema?

Assuming it does, can you post the full stack trace for the exception?

[2017-03-22 21:06] ozonni commented on #7960
Also we have a problem with hstore type when property has Dictionary<string, string> type.

 System.InvalidOperationException : The property 'Description' is of type 'Dictionary<string, string>' which is not supported by current database provider. Either change the property CLR type or manually configure the database type for it.
Stack Trace:

[2017-03-22 21:12] maumar commented on #7944
standalone repro:

[code]

[2017-03-22 21:15] ajcvickers commented on #7960
@ozonni The in-memory provider does not support all the data types that the postgres provider supports. Two points to consider:
* Different providers have different capabilities, including supporting different types. EF Core does not attempt to create a fully abstract layer over the database such that providers can just be swapped and the same code will always work. Instead, it allows common patte

[2017-03-22 21:37] arespr commented on #7961
Database doesn't contain table Clients.

[2017-03-22 21:41] pmiddleton commented on #7962
That is how you compare datetimes so it should be working.  There is probably an issue elsewhere in your code.  Can you provider a working example of the issue.

[2017-03-22 21:46] AndrewKralovec opened #7964 "The expression '[p].Name' passed to the Include operator could not be bound."
Describe what is not working as expected.

I added EntityFramework to my asp.net core application. I have a method in my controller that queries my projects table. However, when i try to query my context with 2 includes (one for the project name and other one to get the hours worked on the project), i get the following error.  **Any idea what is causing this problem ?**

[code]

![image](https://c

[2017-03-22 21:59] bricelam commented on #7791
1.2.0-preview1-24025 (from the [aspnetcore-dev](https://dotnet.myget.org/gallery/aspnetcore-dev) feed)

[2017-03-22 21:59] bricelam commented on #7791
The latest from [aspnetcore-ci-dev](https://dotnet.myget.org/gallery/aspnetcore-ci-dev) also worked for me.

[2017-03-22 22:00] ajcvickers commented on #7961
@arespr That's what the message "Invalid object name 'SampleSchema.Clients'" is telling you. Make sure you have added a migration and updated the database.

[2017-03-22 22:07] smitpatel commented on #7927
I added test to observe the behavior of query cache in the presence of the error. While `GetHashCode` gave same result for different expressions due to error, `Equals` method still identified them differently, hence adding 2 different cache entries. The only impact error had was bit more time spent in comparison because `GetHashCode` did not return correct results and caused `Equals` comparison.

[2017-03-22 23:19] sfgadjo commented on #4693
I look forward to full support of Temporal Tables in an upcoming release. In the meantime, I am trying to make use of the SysStartTime/SysEndTime columns added to the table in the model (using CodeFirst), and I find that EF is trying to write to those columns even when I have the model property annotated with DatabaseGenerated(DatabaseGeneratedOption.Computed). Is there a way to get around this is

[2017-03-22 23:24] #7937 closed

[2017-03-22 23:43] smitpatel commented on #7906
The issue here is incorrect association of additional from clause with select expression. There is no defaultIfEmpty operator so we need to do groupjoin on client (even after joining queries using LOJ). When we visit the additional where clause which iterating the grouping, we associate the previous select expression with it. This further worsen the situation. Even though we have group join done o

[2017-03-23 00:09] pmiddleton commented on #7964
.Include is only needed for preloading related entities or collections.  In your case you just need to select the columns into an anonymous type

[code]

[2017-03-23 00:14] smitpatel commented on #7904
This happens in 1.1.1 release but fixed in latest dev.
This is the SQL generated.
[code]

[2017-03-23 01:24] maumar commented on #7944
Fixed in 0594995d21b3706821107b84cf35dfe372210add

[2017-03-23 06:29] maclax commented on #7953
@ajcvickers You're absolutely right. One of the entity member variables was returning null. When i updated the version to 1.1.1, the exception thrown was more specific. Many Thanks!!!!

[2017-03-23 09:11] ErikEJ commented on #7791
Magic!

[2017-03-23 09:11] #7791 closed

[2017-03-23 09:16] sonphnt commented on #7956
If I set like this
`Name (nvarchar(100), not null)`

There is no IsRequired() added. It looks weird. It should be the other way around.

[2017-03-23 09:21] roji commented on #7957
One note: DDL for specifying columns differs across databases, so different clauses may have to be integrate in different places of the statement. In other words, according to the custom behavior you're trying to apply (add constraint or something), the custom fragment may need to be implanted in different places. This makes the idea of custom fragments not very workable - it's better to simply dr

[2017-03-23 09:22] ErikEJ commented on #7956
What is the value of the "nullable" column for that table/column when you run this:

https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer.Design/Internal/SqlServerDatabaseModelFactory.cs#L322

[2017-03-23 09:25] roji commented on #7791
Same here!

[2017-03-23 09:45] grokky1 commented on #7957
@roji You're right, so:

- for fragment: should be part of a specific db provider as an extension method, or

- for entire statement: use `modelBuilder.Custom("foo bar");` to apply complete SQL statement (unrelated to a column/table)

Second option is simpler and better.

[2017-03-23 09:53] sonphnt commented on #7956
Hi @ErikEJ  What do you mean. How can I run what you mean in your link?

[2017-03-23 10:00] roji commented on #7957
@grokky1 unfortunately even within a single provider, different fragments may need to be located in different places based one what they're doing.

There's a pretty easy way around all this - you can simply specify raw SQL in your migrations. That is, after having your table created by EF Core in the regular way, you can edit your migration file and simply add an ALTER TABLE statement which does w

[2017-03-23 10:17] grokky1 commented on #7957
@roji Yeah that's exactly the workaround we're using now.

But specifying some of the config using the `ModelBuilder`, and the rest using the `MigrationBuilder` isn't ideal. Since the schema is specified in the fluent API, it makes sense to be able to do it there.

But we must use the "entire statement" approach, like you explained. With something like `ModelBuilder.Custom(string sql)` or `ModelBu

[2017-03-23 10:32] roji commented on #7957
Another issue that comes to mind with specifying raw DDL on the model builder, is statement ordering. Migrations are executed in the order in which they are specified in source code, so they're ideal for inserting some raw DDL somewhere in the middle. The model builder, however, simply builds a model, which later gets translated to (ordered) DDL - how would you possibly specify that some raw DDL h

[2017-03-23 10:46] grokky1 commented on #7957
The easy way to get around the ordering issue, is to run/translate the custom commands last.

However those are all good points, and I understand what you mean. More complex than I initially thought.

(It's just a real pity there's so many places to get the whole story setup. There's the model builder for the basics, if you want extra stuff then stick it into a migration using the migration builde

[2017-03-23 10:48] ErikEJ commented on #7956
In SQL Server management studio against your database

[2017-03-23 10:52] sonphnt commented on #7956
Name column nullable value = 1 in SSMS

[2017-03-23 11:06] ErikEJ commented on #7956
So it is currently

    Name (nvarchar(100), null)

[2017-03-23 11:07] sonphnt commented on #7956
Yes, exactly

[2017-03-23 11:46] gsGabriel commented on #7960
@roji

Folow the code

On Model Creating property mapping
`entity.Property(e => e.Geom).HasColumnName("geom");`

Model
`public PostgisGeometry Geom { get; set; }`

[2017-03-23 12:21] roji commented on #7960
Yeah, as @ajcvickers explained, this is a PostgreSQL-specific type that the Npgsql provider recognizes, but none of the other providers do. It's definitely expected behavior for the memory provider not to support it.

You can have this property ignored when a non-Npgsql provider is being used, if that helps you out.

[2017-03-23 12:26] gsGabriel commented on #7960
thanks @roji and @ajcvickers

[2017-03-23 13:21] joacar opened #7968 "[Question] Joining on multiple predicates"
Domain model
=

[code]

[code]

[code]

Query
=
[code]
Problem is that when the query is translated to SQL I end up with below

[code]
What I would like to do sematically and syntax wise is `query.IncludeIf(p => p.YouTube, p => p.IsLocked == showLocked)` that translate to `left join youtube y on y.ProfileId = p.Id and y.IsLocked = __p1`

Just by executing the LINQ query generates excessive joins

[2017-03-23 14:32] ericwj commented on #5705
I am having almost the exact same issue.

Should I be using version 1.0.0 of `Microsoft.EntityFrameworkCore.Tools.DotNet` with `netcoreapp1.1` on `dotnet --version` 1.0.1 and Microsoft.* packages at 1.1.1?

I actually use a fairly minimal Startup class just to bootstrap a DbContext in a different assembly. So I run `dotnet ef` with the `--startup-project` parameter. It is `dotnet ef` that is crash

[2017-03-23 15:20] ShenZZ commented on #7885
public class Program
    {
        public static void Main()
        {
            using (var context = new TestContext())
            {
                context.Database.EnsureDeleted();
                context.Database.EnsureCreated();

                context.Add(new AppUser { Id = "1" });
                context.Add(new Employee { Id = "2" });

                context.SaveChanges();

[2017-03-23 15:37] smitpatel commented on #5705
@ericwj - Does your context have constructor with `DbContextOptions` as parameter?

[2017-03-23 15:42] bricelam opened #7969 "SQLite Migrations: Support more operations using PRAGMA writable_schema"
`PRAGMA writable_schema = 1;` can be used for changes that don't affect the on-disk content:
* `AlterColumn` (when `defaultValue` or `defaultValueSql` change or `nullable` changes to `false`)
* `DropForeignKey`
* `RenameColumn`

⚠️ **Warning:** Misuse corrupts the database.

This could be a cheaper alternative to implementing full table rebuilds.

[2017-03-23 15:44] bricelam commented on #329
A cheaper alternative to supporting `DropForeignKey`, `RenameColumn`, and some uses of `AlterColumn` on SQLite would be to use `PRAGMA writable_schema`. (See #7969)

[2017-03-23 16:03] victor168 commented on #7962
Hi @pmiddleton ,

Thanks for your reply and confirmation that it is working!

After 4 more hours of debugging I noticed it was indeed my environment.  The SQL Server is residing in a different timezone than my client code.  And my client code is communicating via a REST API to extract the database information.  It turns out that the Json.NET serialization on my client side did not set any timezone

[2017-03-23 16:15] arespr commented on #7961
It was my mistake. I didn't add migration.

[2017-03-23 16:41] livarcocc opened #7970 "'DbContextOptionsBuilder' does not contain a definition for 'UseSqlServer' and no extension method 'UseSqlServer' accepting a first argument of type 'DbContextOptionsBuilder' could be found"
_From @Smilefounder on March 23, 2017 12:49_

## Steps to reproduce
Run the following command line:
`dotnet ef dbcontext scaffold "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=...\Database.mdf;Integrated Security=True;Connect Timeout=30"  Microsoft.EntityFrameworkCore.SqlServer --context DbContext --force --output-dir ../_tmp --json`

## Expected  behavior
POCO Generator and build without e

[2017-03-23 16:46] ajcvickers commented on #7885
@ShenZZ Thanks for the repro!

Note for triage: this code works if the AppUser DbSet property name is "AppUser":
[code]
but fails if the property name is "User"
[code]

[2017-03-23 18:03] ccampbellclearesult commented on #7031
May you explain where we would see Microsoft.EntityFrameworkCore being pulled in? Or where I can read on how that process works? I also thought I needed to add a reference to it in my csproj - but a warning symbol appears next to it...

I cannot write: "using Microsoft.EntityFrameworkCore" or access DbContext.

[2017-03-23 19:06] CoskunSunali commented on #4021
I would love to see this implemented. I personally think that this is more of a "must have" rather than a "nice to have" feature.

I understand that there are other basic requirements that have to be implemented before resources are available to implement this one but still...

[2017-03-23 19:09] gdoron commented on #4021
Must have, on a feature that was just introduced in SQL server 2016 that almost no application is taking advantage of.
It's not useless by any mean, but the definition of must have is not "this feature will help *me* very much"

P.s. This feature WILL help me very much...

[2017-03-23 19:34] bjorn-ali-goransson commented on #4021
Yes it's important.

But on the other hand, if you need a JSON storage solution, you're not really the primary target audience for EF Core - it's relational DB consumers. This can be found out both by looking at the EF Core goals and history, and by looking at the fact that neither this nor the flexible mapping is getting any attention. The team is busy developing relational database support (and

[2017-03-23 19:39] ajcvickers commented on #7872
Design meeting notes:
* We decided to do this as described, except use the HasDefaultValue() method rather than the HasDefulatValueSql() because the latter says "there is a default value of some form" without it necessarily being SQL.

[2017-03-23 19:55] maumar commented on #7944
Justification to include this in 1.1.2 release:

Impact: Medium. This is a regression introduced by patch 1.1.1 and was reported by a customer. However the scenario affected is quite complex - it requires a subquery nested within another subquery.

Risk: Low. Fix is very local - basically we are adding defensive check when trying to add an item to a dictionary. They only scenarios that could possi

[2017-03-23 20:05] CoskunSunali commented on #4021
@gdoron

Exactly what you said. The two definitions are different and I am free to define it as a "must have" feature where as you define it as a "will help me" feature. The EF Core team also is free to say "not to be implemented" and close this issue. Right? I prefer the team to speak for themselves.

And oh yeah, we are very much taking advantage of the native JSON data support in SQL server 201

[2017-03-23 20:05] #7927 closed

[2017-03-23 20:06] ajcvickers commented on #7913
Design meeting notes:
* Decided to do this, although not all of it is high priority
* Would be good to combine ReadOnly... and IgnoreValue... APIs into enum, possibly obsoleting the old APIs for now
* If we add OnUpdate, then we should change the enum to be a flags enum; makes the breaking change cleaner but with higher impact, but makes it more likely that providers will react correctly to the br

[2017-03-23 20:56] jtheisen opened #7971 "Counting over group join returns wrong result"
A query of the form

[code]

returns the wrong result.

### Steps to reproduce

#### Model

[code]

#### Test

[code]

#### Output

[code]

Expected are 15 objects with a count of 20 each, not one with a count of 15.

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:
IDE: Visual Studio 2017

[2017-03-23 21:03] #7922 closed

[2017-03-23 21:12] maumar opened #7973 "Query: compilation error during nav rewrite for queries with SelectMany with inner collection having a subquery with DefaultIfEmpty"
repro:

[code]

Exception:

[code]

If DefaultIfEmpty is removed, the query works fine and produces the following sql:

[code]

[2017-03-23 21:14] maumar commented on #7973
found when investigating #7830, this could be a regression from 1.1.1 (customer reports that in 1.1.1 similar query compiled into a SQL, just not the one customer was expecting)

[2017-03-23 21:58] maumar commented on #7830
@gnaungayan try the following:

[code]

Currently, SelectMany-GroupJoin_DefaultIfEmpty pattern is the way to model LEFT JOIN in EF Core. You are seeing INNER JOIN for the second navigation, because that JOIN comes from navigation rewrite. In the rewrite we look at the navigation metadata itself to determine whether it should be optional or requited, and in your case navigation OrganizationUser ->

[2017-03-23 22:08] maumar opened #7975 "Query: we should propagate optional navigations thru nav rewrite, if the initial optional navigation was created using SelectMany-GroupJoin-DefaultIfEmpty"
Repro:

[code]

This produces the following sql:

[code]

Instead we should detect that organization is optional created via SelectMany-GroupJoin-DefaultIfEmpty and create LEFT JOIN instead

[2017-03-23 22:08] maumar commented on #7975
Found when investigating #7830

[2017-03-23 22:43] #7904 closed

[2017-03-23 22:55] pmiddleton commented on #7971
This has already been fixed in dev, I believe by #7823.

In 1.1.1 the Take call is being translated into a top statement in the sql which is limiting the number of results.  That is why you are only seeing 1 result with a 15 count.  In dev branch the count it is being applied clientside.

In dev this will currently not produce an optimal query since group by is not yet supported, but it does produ

[2017-03-23 23:01] maumar commented on #7971
Yup, this is a dupe of https://github.com/aspnet/EntityFramework/issues/7497, closing

[2017-03-23 23:19] smitpatel commented on #7363
@jemiller0 -
Can you provide repro code for this? We are not able to reproducing it based on code provided above. Looking at the exception and memory profiling, the query buffer is buffering all the results. That happens when MARS is disabled & there are multiple result sets are opened (causing result set to be fully buffered.)
Code listing we need is,
Model classes, DbContext, Code being run when

[2017-03-23 23:29] ajcvickers commented on #6397
@darkurse Can you file a new issue for this. It could be a different root cause with the same observed behavior. Please make sure include everything needed to reproduce what you are seeing.

[2017-03-24 00:26] jemiller0 commented on #7363
I have MARS set to false. Should I have it set to true? I didn't think EF Core used MARS.

[2017-03-24 01:06] smitpatel commented on #7363
EF Core uses MARS when available. When MARS is disabled and multiple record sets are needed that's where EF buffers query results. (That is happening in this case).
If you set MARS to true, above problem should not be arising.
Though we still have to investigate that why the buffering was initiated by EF. With just single record set like above query, MARS should not have any effect. There could be

[2017-03-24 01:21] jemiller0 commented on #7363
Thanks. I will try it with MARS enabled and see what happens.

[2017-03-24 03:25] gnaungayan commented on #7830
@maumar Thanks for the alternative query although unnecessary columns are being selected despite the projection, I guess this is another bug?

I also notice that using this query which is basically the same you gave produces a different SQL Query. It also noted that the below query will use CASE-WHEN pattern compared to the above query

[code]

[2017-03-24 05:25] ericwj commented on #5705
Yes yes yes
[code]

[2017-03-24 09:08] Cuiqs76 opened #7977 "Could not load file or assembly Microsoft.EntityFrameworkCore.Design"
Run commond add-migration initialize throw errors in PM:`
Exception message:
Could not load file or assembly 'Microsoft.EntityFrameworkCore.Design, Culture=neutral, PublicKeyToken=null'.

Stack trace:
PM>  add-migration initialize
System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.EntityFrameworkCore.Design, Culture=neutral, PublicKeyToken=null'. 系统找不到指定的文件。
File name: 'Mi

[2017-03-24 09:44] jtheisen commented on #7971
I'm glad to hear it!

[2017-03-24 13:48] sonphnt commented on #7956
Did you find anything @ErikEJ ?
Thanks

[2017-03-24 13:51] sonphnt commented on #7977
How many project are in your solutions?
Try to set on the project you are doing migration with right-click and "Set as startup project"
I had the same problem before

[2017-03-24 13:59] PawOrmstrupMadsen opened #7978 "EF Core Slower than EF6"
We are porting an MVC app to .NET Core including EF6 to EF Code porting.

Performance is going the wrong way. by up to 200%

FULL .NET 4.5.1 Performance and SQL-Query
![ef6](https://cloud.githubusercontent.com/assets/11302862/24296900/3610a89e-10a1-11e7-9325-73ea4dbefaa4.PNG)
[ef6.txt](https://github.com/aspnet/EntityFramework/files/868052/ef6.txt)

.NET Core Performance and SQL-Query
![core](http

[2017-03-24 14:01] PawOrmstrupMadsen opened #7979 "Possible include where bug"
This works as intended

![image](https://cloud.githubusercontent.com/assets/11302862/24297311/9ca8a18c-10a2-11e7-9deb-9fbec6f505c5.png)

This creates an sql call for every image in the list (not intended)
![image](https://cloud.githubusercontent.com/assets/11302862/24297345/b9760d22-10a2-11e7-8e3e-69ea64fac01e.png)

[2017-03-24 14:04] tuespetre commented on #7978
You have another level of entity in your model with Core than you did with EF6. That might have something to do with it.

Is this on cold start or have the queries already compiled before benchmarking? Can you try the same query through a simple console app that runs the query a good number of times and takes an average?

[2017-03-24 14:06] PawOrmstrupMadsen commented on #7978
i have a extra entry because its a many to many "container" which EF core dosnt handling as easy as the old ef6.

the times you see are after 3-6 runs, they dont change. the first and second runs are way slower.

[2017-03-24 14:08] tuespetre commented on #7978
Ah, ok. Thanks for that. I wonder how much of that overhead is coming from having to do the many-to-many like that.

[2017-03-24 14:29] julielerman commented on #7978
Also don't forget that includes are processed differently in EF Core. So with all those includes and the many to many, you may be paying a hefty price for materializing the objects from the resulting data.

Have you looked at differences in what calls (& how many) are sent? (I know you said you've tested the raw sql).

Have you looked at the differences in what the result sets look like? Can you l

[2017-03-24 14:50] pmiddleton commented on #7808
I just confirmed this is fixed in dev.  I'm not sure which PR resolved the issue.

[2017-03-24 15:09] RandyBuchholz opened #7980 "Scaffold-DbContext Use Schema in Object Name"
I'm not sure if this repo was split to an issues list and features discussion list. Please let me know.
Also, if there is a general thread for Scaffold-DbContext command line features can you point me to it?
### Current
When reversing a DB with schemas, same-name tables come across as Table, Table1.

### Future
Same-name tables should incorporate the schema name. Ugly, but maybe using an _.
 Accou

[2017-03-24 16:00] PawOrmstrupMadsen commented on #7978
The raw queries are in the txt files. Ef core splits it into two calls as expected and ef6 does it in one query as expected.
They are however equally fast from ssms.

Any suggestion to how i can debug time spend before and after ef calls the db?

The end result-sets from ef6 and ef core are the same.

The reason i found this performance hit in the first place was the bug i reported in #7979 where

[2017-03-24 16:35] RandyBuchholz opened #7981 "Question - Build Models from Existing Context?"
I'm playing with a Context-First approach, where I write the context and then gen both the db and models. Is there a "migration" command that just generates the classes from an existing context and does nothing more?

[2017-03-24 16:44] lajones commented on #7980
Dupe of #3988.

[2017-03-24 17:17] ajcvickers commented on #7981
@RandyBuchholz Can you post a simple example of what you would write and then outline what gets generated?

[2017-03-24 17:27] crhairr commented on #7243
For anybody that's interested, this code is now in its own standalone repo:

https://github.com/crhairr/EntityFrameworkCore.MongoDb

[2017-03-24 17:47] ajcvickers commented on #5705
@ericwj Looks like you might be hitting this: #6826. Try removing the parameterless constructor or adding an IDbContextFactory.

[2017-03-24 18:19] jbagga opened #7982 "Functional tests failing on the CI"
The following tests are failing on the CI

- SqliteScaffoldingModelFactoryTest.It_loads_default_values
[Details](http://aspnetci/project.html?projectId=XPlat&testNameId=-7020909974607453548&tab=testDetails)

- SqliteScaffoldingModelFactoryTest.It_assigns_uniqueness_to_composite_foreign
[Details](http://aspnetci/project.html?projectId=XPlat&testNameId=4003493612089367827&tab=testDetails)

- SqliteS

[2017-03-24 18:36] julielerman commented on #7978
Ah I see the txt files! I *think* EFProf got updated but I haven't tried it with EF Core in .NET or .NET Core apps yet. I really don't know if you can get that detail from the fancy new performance explorer in 2017. But EF Prof does let you separate query time from app processing time.

[2017-03-24 18:39] julielerman commented on #7978
https://ayende.com/blog/176897/nhibernate-profiler-entity-framework-profiler-4-0-beta-release

[2017-03-24 18:52] RandyBuchholz commented on #7981
In a DB first approach, reversing generates both the context and models. I want to add custom things to my models. So I would like to create the context first, modify it, and then generate the models. Or I may already have the models and I want to apply changes to them based O/R information. Ideally, I could just start from the Context.cs, and generate both the DB and Models.

For example, I may w

[2017-03-24 19:07] bricelam commented on #7982
Possibly due to undisposed command objects in our testing infrastructure

[2017-03-24 19:07] PawOrmstrupMadsen commented on #7978
I'll run the profiler on monday. It's been a while since i used ef profiler.

[2017-03-24 19:08] bricelam commented on #7982
`SqliteConnectionTest.EnableExtensions_works` has been flaky on AppVeyor too. Can probably just remove the test or add some retries.

[2017-03-24 19:10] bricelam commented on #7982
This isn't supposed to matter if the connection gets disposed, but there might be a bug...

[2017-03-24 19:13] bricelam commented on #7982
@smitpatel feel free to revert https://github.com/aspnet/Microsoft.Data.Sqlite/commit/351d65fd1648b9482cb67c6a9fd14f5f427cb1e3 & https://github.com/aspnet/Microsoft.Data.Sqlite/commit/e39711b155cd501bfe10458d773469c4a6799e20. I can dig more into the failures when I get back on Wednesday.

[2017-03-24 19:27] julielerman commented on #7978
me too!  Usually with clients we first watch sql profiler in case it's something obvious like a horrible sql command. If not, then next step is EF Profiler. I really do need to check it out against EF Core and do some comparisons beyond the tsql generated .

[2017-03-24 19:28] dmitryshunkov opened #7983 "Calling static method in select and applying ToList produces wrong results."
Inconsistent behavior when calling extension method for projection (f.e. for mapping to DTO) with and without ToList. Looks like closure behavior. If call ToList on Select with static extension method call it produces duplicate values.

[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: (Microsoft.EntityFrameworkCore.InMemory, Microsoft.EntityFrameworkCore.SqlServer)
O

[2017-03-24 19:39] rwobben commented on #7891
I have this problem also but I do not have the codegeneration in my .csproj file

[2017-03-24 19:45] ChuckkNorris commented on #7891
@rwobben I don't believe the `**.CodeGeneration` packages are related to this issue. The issue seems to have resolved itself. Try updating VS2017 (Tools -> Extensions and Updates -> Updates), updating the `Microsoft.EntityFrameworkCore.SqlServer` package, and restarting Visual Studio.

![Update VS2017](http://image.prntscr.com/image/9a1d3503065a47768bdf63392aacb720.png)

[2017-03-24 19:51] ghost opened #7984 "VS 2017 shows red squiggly on UseSqlSever when method is resolved"
Describe what is not working as expected.

I see a red swiggeling line when this schould be resolved in the startup.cs file

### Steps to reproduce
Start a new project.
And add this line to startup.cs :

    services.AddDbContext<AppDbContext>(options => options.UseSqlServer(_configurationRoot.GetConnectionString("DefaultConnection")));
            services.AddTransient<ICategoryRepository, MockCa

[2017-03-24 19:55] ajcvickers commented on #7982
@bricelam We have been investigating this morning. Smit confirmed that it is the SQLite change causing the issue. We tried to go back to an older build, but it wasn't in the feed, so Smit is reverting.

[2017-03-24 20:03] rwobben commented on #7891
Here no updates avaible

[2017-03-24 20:07] AndriySvyryd opened #7985 "Identifying shadow FK values are not propagated when tracked as unchanged or modified"
If the shadow PK is of nullable type
`context.ChangeTracker.TrackGraph(principal, e => e.Entry.State = EntityState.Unchanged);`
 throws
 `Unable to track an entity of type '...' because primary key property '...' is null`

`context.Attach(principal)` works, but marks the dependent as added

[2017-03-24 20:18] anpete opened #7986 "Complex collection Include queries can produce worse SQL with new Include compiler"
Because we are now using QueryModel to build the collection Include queries. E.g. IncludeSqlServerTest.Include_duplicate_collection_result_operator

We need to determine what is preventing full translation of the generated collection Include query.

[2017-03-24 20:19] ChuckkNorris commented on #7891
@rwobben Does your solution build even with the syntax errors?

[2017-03-24 20:20] rwobben commented on #7891
nope, I will not build.
When building I see the above error
When needed I can put my whole project on github. It's one view and he first steps to make EF work

[2017-03-24 20:21] smitpatel commented on #7982
Reverted the offending commit in SQLite repo and created issue to investigate it further.
This should fix the CI builds.
@jbagga - Close this issue if CI passes after SQLite changes are in.

[2017-03-24 20:22] ChuckkNorris commented on #7891
Hm - try manually adding the using statement `using Microsoft.EntityFrameworkCore;` and building again. It could be a Rosalyn-related issue.

[2017-03-24 20:23] olegmusin commented on #7891
Solution builds even with this issue

[2017-03-24 20:24] rwobben commented on #7891
Thanks, adding the using did solve it

[2017-03-24 20:25] colltoaction opened #7987 "Refactor exception catching to use catch-when"
I was debugging some code and realized we can refactor our code to use the C#6 `catch`-`when` feature to improve our experience a little bit.

Take a look for example at https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer/Storage/Internal/SqlServerExecutionStrategy.cs#L28.

[code]

This means that when `operation` throws an exception that doesn't match the condition, our code w

[2017-03-24 20:26] olegmusin commented on #7891
Anyway it is abnormal

[2017-03-24 20:55] ericwj commented on #5705
Removing the parameterless constructor works.

[2017-03-24 20:59] anpete opened #7988 "Move QuerySqlServerTest.Member_init_expressions_are_compared_correctly_in_query_cache to unit test"
Looks like a unit test and not like a query functional :-)

[2017-03-24 21:03] rwobben commented on #7984
Solved with a little help,

I had to add this using :  using Microsoft.EntityFrameworkCore;

[2017-03-24 21:33] smitpatel commented on #7364
@divega - Can you provide specific set of formatters which we want translated?

[2017-03-24 23:13] rykr commented on #1862
So I'm guessing this feature didn't make 1.1?   So it's now planned for 1.2 or 2.0?

[2017-03-24 23:43] divega commented on #7364
@smitpatel Here is the link to the spec:  [https://github.com/aspnet/EntityFramework/wiki/it-does-not-work-like-that](https://www.youtube.com/watch?v=dQw4w9WgXcQ).

:trollface:

Actually, I am glad that you ask because it forces me to think. I believe this issue should have been closed as soon as we took @maumar's fix to switch to client evaluation rather than ignoring the formatters. We can alway

[2017-03-25 00:01] zsvanderlaan opened #7990 "Cannot debug dotnet ef dbcontext scaffold"
I am trying to debug my application as it is being invoked by entity framework dbscaffold, but do not get debugging symbols loaded for my code.

My project looks like this:

![image](https://cloud.githubusercontent.com/assets/18043474/24317390/ccb43be6-10b3-11e7-94fe-d01dfc175a95.png)

I have these dependencies:
![image](https://cloud.githubusercontent.com/assets/18043474/24317210/47fc817a-10b2-11

[2017-03-25 00:15] tylerlrhodes opened #7991 "Many to Many Query Problem"
I'm having to write an additional query to get access to categories below.  This is a many-to-many relationship and even though I've included them in the first query, when I go to retrieve them via the method I have with the variable `categories2` I'm returned a null list.  So I have to query for the Ids and then do another query directly from my Categories table in order to get the actual data ba

[2017-03-25 04:48] TonyHenrique commented on #1906
Any updates on this? I am having problem on Cold Start up time, specially on a large model...

[2017-03-25 15:05] pmiddleton opened #7993 "build and unit test running issue"
I just started running into problems yesterday when I pulled the latest code from dev.  I am running into the following errors.  I have tried re-cloning the repo, and I have also tried setting up a clean VM - neither solved the issues.

Is anyone else seeing these?

When I try to build from the command line I am getting this error.

	[xUnit.net 00:00:45.0037271]   Finished:    Microsoft.EntityFram

[2017-03-25 16:01] rpokrovskij opened #7994 "Transition references doesn't work how it could be expected: System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=1.1.1.0..."
VS 2017.  4.6.01586

**Steps:**
1) Create Command Line framework 4.6.2 project
2) Create Library for Standard 1.4. project
3) Reference lib project in the Command Line project,  run it with test line  `var c = new ClassLibrary1.Class1()`,  everithing is ok.
4) Add Nuget package `Microsoft.EntityFrameworkCore.SqlServer` (current version 1.1.1, supports .NETStandard 1.3) to  our lib project.
5) Crea

[2017-03-25 20:15] dougbu commented on #7958
In addition the following projects lack baselines. The details below are reformatted from a recent Universe build on the CI. (Of course, disabling API Check for a couple of the projects listed may be appropriate.)
[code]

[2017-03-25 23:37] EdwardL75 opened #7995 "BROKEN? ASP.Net Core Identity User login being based on NormalizedUserName DB field and not NormalizedEmail"
Recently I noticed with my WebAPI I am creating based on generic template for 'Individual Account' setup, that upon trying to re-log a registered user back in even though the login page/view requestes the user's email, it is actually taking that INPUT and comparing against NormalizedUserName in the DB. This I verified by changing the UserName fields in the DB and commenting out the [EmailAddress]

[2017-03-26 00:53] dougbu commented on #7958
Not positive (didn't check all package ids) but it appears these packages all shipped in 1.0.0. If that's right, baselines should be created in `release` or `rel/1.0.1.1` and checked into at least `dev`.

[2017-03-26 02:37] smitpatel commented on #7958
Specification.Tests projects are explicitly ignored. See https://github.com/aspnet/EntityFramework/issues/6996#issuecomment-276262616

Rest of the projects were added to the repo after we had initially created baselines. I will add baselines for them. Thanks for info.

[2017-03-26 13:02] xyting commented on #7936
@ajcvickers Thanks.

[2017-03-26 13:32] dvdobrovolskiy opened #7996 "Message = "No value provided for required parameter '_outer_RegisterId'.""
I trying to have select in select

I split query in 2 parts in attempt to identify problem.

[code]
Here at results2 I have Error
Message = "No value provided for required parameter '_outer_RegisterId'."

Where RegisterId in results do have value
![results single row](http://static.realgrad.ru/1.jpg)

models
[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.

[2017-03-26 15:19] smitpatel commented on #7996
Dupe of #7714

[2017-03-26 16:12] Gfweis opened #7997 "Linq to Sql vs Entity Famework Core - Speed Test"
I decided to start learning something about .Net Core and Entity Framework for Core. Since most of our apps rely heavily on data access, I decided to start with the Entity Framework for .Net Core. After creating a working app, I decided to run the same the same query using Linq to SQL and test the response time. The database was local (running on the same machine). The EF code was created based on

[2017-03-26 17:26] dvdobrovolskiy commented on #7714
Seems like I also met same error when trying to get some aggregated values in subselect

[code]

with models
[code]

test project if needed
http://static.realgrad.ru/WebApplication2.zip

[2017-03-26 17:58] dvdobrovolskiy commented on #7714
@maumar can you please explain if error I have is related to this error as suggested workaround seems like does not work in one case

[code]
Error is
System.InvalidCastException: 'Unable to cast object of type '<_GroupJoin>d__26`4[CETDB.Data.CorporatePerson,CETDB.Data.Person,System.Nullable`1[System.Int32],Microsoft.EntityFrameworkCore.Query.EntityQueryModelVisitor+TransparentIdentifier`2[CETDB.Da

[2017-03-26 20:24] patoncrispy commented on #1862
@rykr it seems to have been attached to the [2.0 milestone](https://github.com/aspnet/EntityFramework/milestone/24).

[2017-03-26 20:39] smitpatel commented on #7993
We are also facing the same issue. Build is currently in broken state.

[2017-03-26 21:13] jbagga opened #7998 "EF Core Benchmark test failing"
Benchmarks.EF6.CreateAndDisposeUnusedContext(collector: NullMetricCollector { MemoryDelta = 0, TimeElapsed = 0 }, cold

exception message: `System.IO.FileLoadException : Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference

[2017-03-26 23:35] smitpatel commented on #7998
Adding binding redirects did not help in above case. It still tries to load incorrect assembly version. The incorrect assembly is being called from dependency - Configuration.FileSystemExtensions. Also the calling code is in different test project. It happens only when using `ColdStartSandbox` which is net46 specific code. Same code works fine when sandbox is not used. There are 6 tests disabled i

[2017-03-26 23:37] smitpatel commented on #7993
@pmiddleton - Build should be working now. Can you verify and close this issue if it is working fine?

[2017-03-27 01:51] pmiddleton commented on #7993
Both issues have been resolved.  Closing issue.

[2017-03-27 01:51] #7993 closed

[2017-03-27 02:10] NickCraver opened #8001 "RelationalDiagnostics: Naming inconsistencies"
I'm working on a `DiagnosticListener` approach in #7939 and noticed some inconsistencies in [`RelationalDiagnostics.cs`](https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/src/EFCore.Relational/Internal/RelationalDiagnostics.cs):

1. ConnectionError is incorrect, `nameof(ConnectionClosed)` (repeated)` should be `nameof(ConnectionError)`. I've submitted PR #8000

[2017-03-27 08:16] PawOrmstrupMadsen commented on #7978
Sadly, my EF Profiler (4.0.4039) won't show Duration on the queries when doing them from EF Core, it works fine on EF6

![image](https://cloud.githubusercontent.com/assets/11302862/24346787/38f0ccba-12d6-11e7-9927-aba61c4aec1e.png)

I wrote their support for help.

[2017-03-27 13:47] joehoeller commented on #7020
Can someone explain why .Include(c => c.TableName) only returns one row from the dB? It needs to return all the rows, with associated data and does not.

[2017-03-27 13:51] joehoeller commented on #7020
This code above makes no sense. Let's say I have a Parent and a Child table.

I want to include all the children of each of the parents in one REST call.

public class Parent
    {
        [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
        [Key]
        public int ParentId { get; set; }
        public string ParentName { get; set; }
        public virtual ICollection<Child> Children { g

[2017-03-27 13:53] joehoeller commented on #7020
Why does it only produce one Parent with One of the related children?

[2017-03-27 14:02] fitzchak commented on #7105
Can this get into next release of v1?

[2017-03-27 14:18] smitpatel commented on #7020
@joehoeller - Because the navigation 'OfficeAssignment` is reference navigation. Every `Instructor` will have 0 or 1 (depending on required nature of FK property) `OfficeAssignment`. Hence there will be only 1 row returned.

In your code, you are using collection navigation `Children`. The query will produce one Parent, containing collection of child and the collection will have all the associated

[2017-03-27 14:57] Gfweis commented on #7997
I kept playing and decided to try a different approach.
<
 string Query = string.Format("Select * from PackageData Where Buildingnumber='{0}' and (Status='All' or Status='{1}')", Building, Status);
 var Lst = context.PackageData.FromSql(Query).ToList();

The result was returned in 3 seconds vs the 20 seconds that it took for the Linq query shown above.

Why is there such a difference?

[2017-03-27 15:19] gdoron commented on #7997
@Gfweis you should check the generated SQL, that's most probably the reason.

[2017-03-27 15:28] gdoron commented on #7978
@PawOrmstrupMadsen You can run EF6's SQL in core with `FromSql`, curios to know if it helps.

[2017-03-27 15:30] ChrisKlug opened #8002 "Simple mapping throwing index out of range exception"
Mapping a couple of simple related entities does not work when the column name starts with a letter later than I in the alphabet.

I know it sounds stupid, but renaming the column, and updating the mapping to a column name that starts with A>I works. In my case, the column name SalesCountry fails, but renaming it to ASalesCompany gets it working...

The exception that is thrown is an index out of

[2017-03-27 15:41] PawOrmstrupMadsen commented on #7978
I dont think it will work with FromSql since i have multiple includes.

![image](https://cloud.githubusercontent.com/assets/11302862/24364906/7c165486-1314-11e7-8ce5-d004ad816d3b.png)

But i can give it a shot.

[2017-03-27 15:43] joehoeller commented on #7020
It doesnt work though, I literally get one parent and the first child. I want all parents and all their associated children

[2017-03-27 16:03] Gfweis commented on #7997
Isn't it the Entity Framework's responsibility to do the conversion to SQL? Or, does each query have to be checked to make sure that the Entity Framework makes the proper conversion before implementation?

[2017-03-27 16:16] aday12345 commented on #7926
i am going to try looking into this some more, but could this be some kind of bug?

[2017-03-27 16:21] ajcvickers commented on #7931
@MarcoLoetscher We made some recent changes to the configuration. Can you try this again?

[2017-03-27 16:23] ajcvickers commented on #7938
EF Triage: Minimal fix is to not reverse engineer this to a unique index. Ideally, the index should be reverse-engineered into the model retaining the filter information. If that is a lot of work, then we can have a new bug for it outlining the work that is needed and we will triage that separately.

[2017-03-27 16:24] ajcvickers commented on #7939
Assigning to @divega since work involved here is currently to make sure we are doing the right thing.

[2017-03-27 16:26] ajcvickers commented on #7941
@joshmouch SQL Server queries should be showing up already. Are you asking this for some other provider?

[2017-03-27 16:28] ajcvickers commented on #7945
Assigning to @bricelam to create the folder into which the SQL Script is stored (or to push back if this is something EF shouldn't be doing.)

(We will also need to follow up with Smit's second point, but no issue for that as yet.)

[2017-03-27 16:28] gdoron commented on #7997
Of course it is entity framework responsibility, but like always with ORM and specially with a relatively new one, sometimes you need to make sure the ORM generates good SQL.

Usually when stuff are slow in EF, it's the SQL.

[2017-03-27 16:29] ajcvickers commented on #7946
We discussed this in triage and decided that as this time having no field and an empty setter is a reasonable solution for his mapping, which is not something commonly asked for.

[2017-03-27 16:31] ajcvickers commented on #7949
Discussed in triage and decided that, per @bricelam's comments and reccomendation, we wish to keep our fork, since it has changes specific to our tool. We accept the responsibility of merging any upstream fixes.

[2017-03-27 16:33] ajcvickers commented on #7954
@zhaiweihao Can you please try this without using EF? That is, if you create and use SqlConnection's directly do you see a difference with and without docker?

[2017-03-27 16:34] joshmouch commented on #7941
No, I'm asking for SQL Server.
Do you need VS Ultimate to view them?
Would using the `Microsoft.AspNetCore.TestHost.TestServer` and initiating the requests from an xunit test cause them to not show up in any way?
The only events I see in the Diagnostic Tools are "Application Insight" events.

[2017-03-27 16:36] ajcvickers commented on #7956
We discussed this in triage and decided that we should reverse engineer what the schema says even if it is not something we would generate by default. We should also look at whether or not this should generate warnings in model validation.

[2017-03-27 16:38] Gfweis commented on #7997
I will start watch in the SQL and testing the queries both ways before actual implementation.
Appreciate the follow up - thanks and have a really great day!

[2017-03-27 16:40] ajcvickers commented on #7957
Triage: we are not planning to add this to the fluent API--see points made by @roji. Ideally, if you wish to flow information from model building through to Migrations this would be done by adding annotations to the model. @bricelam Do you know if flowing annotations through to Migrations is currently doable? Do we have any docs/examples?

[2017-03-27 16:43] ajcvickers commented on #7968
We believe this is resolved by #7974

[2017-03-27 16:44] ajcvickers commented on #7969
It would be worth investing a day or so investigating whether we can safely get some cheap wins doing this.

[2017-03-27 16:47] ajcvickers commented on #7970
@Smilefounder The output directory needs to be a project folder, not just a temporary file location. Also, naming your DbContext "DbContext" is likely to cause build issues--choose a different name.

[2017-03-27 16:48] ajcvickers commented on #7978
@PawOrmstrupMadsen Would it be possible to get a project that reproduces this issue so we can investigate?

[2017-03-27 16:49] ajcvickers commented on #7979
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-03-27 16:51] ajcvickers commented on #7981
@RandyBuchholz This is not something we are planning to tackle. It seems like there would be lots of chicken/egg issues and complexity with the implementation without adding much value to the common ways people use EF.

[2017-03-27 16:55] smitpatel commented on #7020
@joehoeller - Please create a new issue with repro code.

[2017-03-27 17:13] sonphnt commented on #7956
Hi @ajcvickers .

Yes the flow should be reversed with SQL schema. Column allow null then it generated IsRequired(), Column "not null" then there was no IsRequired() specification.

For now after scaffolding I have to change DbContext file manually to make EF querying correctly.

Thanks

[2017-03-27 17:17] RandyBuchholz commented on #7981
@ajcvickers I get that you wouldn't want to put any effort into something like this, and wasn't looking for that. I was just hoping there was something exposed already that I wasn't aware of.

[2017-03-27 17:33] MarcoLoetscher commented on #7931
It still does not work.
I think it might be due to the minimal installation of Visual Studio.

![visualstudio](https://cloud.githubusercontent.com/assets/15805817/24369382/15f99d42-1324-11e7-8be9-8a67d8868d59.png)

[2017-03-27 17:51] gforceg opened #8003 "class library unable to load sqlite3"
I am following [this official tutorial](https://docs.microsoft.com/en-us/ef/core/get-started/netcore/new-db-sqlite) to start my EF Core app. Everything works fine until I break my project up into a solution with multiple projects. I'm placing all database (and EF Core) code into a Data project (class library). When I try to update the database, the CLI complains that it suddenly can't find sqlite3

[2017-03-27 17:52] anpete opened #8004 "Implement query Like function in core"
With the introduction of relational specific functions like LIKE, we are making it harder to test against In-memory. Where a client-side impl. is plausible, we should consider moving the function to core and providing the client-side impl.

[2017-03-27 18:01] maumar commented on #7714
@dvdobrovolskiy the scenario from your first post is indeed the same problem. The proposed workaround should resolve it though (tested with the model you provided). The second issue is different - it's a compile time error, where the issue in question throws at runtime (due to incorrect SQL being generated). Could you file a new issue for this? Please also provide the model used, as it seems to be

[2017-03-27 18:06] ajcvickers commented on #7364
Ensure that we are doing client eval. Wait for feedback before deciding to do any translation of formatters.

[2017-03-27 18:10] ajcvickers commented on #7982
Issue being tracked at root cause on SQLite repro.

[2017-03-27 18:22] gforceg commented on #8003
I went to the "driver" project of my solution and ran the dotnet ef commands. When I ran dotnet ef datbase update I got this message:
[code]

So it seems that I must change my "migrations assembly". The example used in the above output is for Sql whereas I'm using Sqlite. So I don't know if I can say:

[code]

If I even can, how do I specify to use the file: @"Data Source=mydata.db" ? Do I need ye

[2017-03-27 18:30] ajcvickers commented on #8004
Also, make sure that we follow this generally for new functions.

[2017-03-27 18:36] dvdobrovolskiy opened #8005 "Unable to cast object of type"
code
[code]

Generates error

System.InvalidCastException: 'Unable to cast object of type '<_GroupJoin>d__264[CETDB.Data.CorporatePerson,CETDB.Data.Person,System.Nullable1[System.Int32],Microsoft.EntityFrameworkCore.Query.EntityQueryModelVisitor+TransparentIdentifier2[CETDB.Data.CorporatePerson,System.Collections.Generic.IEnumerable1[CETDB.Data.Person]]]' to type 'System.Int32'.'

also

_context.P

[2017-03-27 18:37] gforceg commented on #8003
I was able to get it working by using the **--startup-project** option:

[code]

It didn't populate the database w/ my database seed though... I think that's something I did.

[2017-03-27 18:40] lajones commented on #7956
Note: this doesn't happen if you don't create the index; then `Name` is correctly _not_ assigned the `IsRequired()` fluent API.

What's going on here is that in [RelationalScaffoldingModelFactory.VisitIndex()](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational.Design/RelationalScaffoldingModelFactory.cs#L472) the scaffolder is correctly calling `HasAlternateKey()` on the Enti

[2017-03-27 18:41] tinchou commented on #7987
This is also cool about exception filters: http://stackoverflow.com/a/38498087/625581

[2017-03-27 18:41] gforceg commented on #8003
I forgot to run my app for the first time to generate the seed data. It's all good in the hood now!

[2017-03-27 18:49] dvdobrovolskiy commented on #7714
New issue https://github.com/aspnet/EntityFramework/issues/8005

PS
Workaround did help. But First posts is about new project I created to demonstrate issue and I tried to recreate same conditions as my current project. But in my current project (second post and new issue) Workaround do not help me

[2017-03-27 18:57] ajcvickers commented on #7981
@RandyBuchholz Not that I am aware of.

[2017-03-27 18:59] smitpatel commented on #7364
We are doing client eval already. @maumar 's PR fixed it. Looks like we forgot to close the issue earlier.

[2017-03-27 18:59] #7364 closed

[2017-03-27 19:27] ajcvickers commented on #7956
@lajones Just because there is a unique index does not mean that there should be an alternate key. There should only be an alternate key if the the properties are at the principal end of a foreign key constraint.

[2017-03-27 19:30] NickCraver opened #8007 "Feature request: add instanceId (Guid) to RelationalDataReader for DiagnosticSource"
Related issues: #8001 and #7939

In RelationalDiagnostics there's an `instanceId` (a `Guid`) added to each event type so that things like `WriteCommandBefore` and `WriteCommandAfter` can be tracked together in the linear logging format that is DiagnosticSource.

For reference, the DiagnosticsListener bits are here: [RelationalDiagnostics.cs](https://github.com/aspnet/EntityFramework/blob/69d25a0b8

[2017-03-27 19:31] NickCraver commented on #7939
Opened #8007 for another issue I hit actually trying to hook up here - happy to PR it if someone will take a peek there.

[2017-03-27 19:42] ajcvickers commented on #7954
Closing this a a duplicate of this issue with SQLClient: https://github.com/dotnet/corefx/issues/13422

[2017-03-27 19:44] ajcvickers commented on #7957
@smitpatel may also have some info on this, such as tests that currently flow annotations from the model to Migrations.

[2017-03-27 19:45] ajcvickers commented on #7964
Include is designed to be used with navigation properties between entities, not scalar properties like "Name.

[2017-03-27 19:47] ajcvickers commented on #7990
@Eilon Is there a general issue somewhere on GitHib that tracks making symbols available for our packages?

[2017-03-27 19:48] ajcvickers commented on #7991
@tylerlrhodes We're probably going to need a full project to reproduce this. In particular, we will need to know what the entity types look like, and also any configuration in OnModelCreating.

[2017-03-27 19:50] ajcvickers commented on #7994
@rpokrovskij This doesn't seem to be an EF issue. Can you file something on NuGet: https://github.com/NuGet/Home/issues

[2017-03-27 19:51] lajones commented on #7956
OK. Then we should be calling `HasIndex()` instead of `HasAlternateKey()`. I've assigned this to myself to update.

[2017-03-27 19:51] ajcvickers commented on #7995
@HaoK Can you take a look at this?

[2017-03-27 19:53] ajcvickers commented on #8001
@NickCraver Thanks for the PR for 1. We would also take a PR for 2, since we can take reasonable breaking changes in the 2.0 release. Would you be willing to send a PR?

[2017-03-27 20:06] PawOrmstrupMadsen commented on #7978
I'm at a loss, i cannot make EF Core behave as it did before the weekend. It must have been Visual Studio or something else. i can't make EF Core slower than EF 6 today..

EF 6 results today:
![image](https://cloud.githubusercontent.com/assets/11302862/24374279/84b592e4-1334-11e7-8cc1-9262e6daeda0.png)

EF Core results today:
![image](https://cloud.githubusercontent.com/assets/11302862/24374298/96

[2017-03-27 20:10] ajcvickers opened #8008 "Update F1 model to avoid repeated issues with policheck"
Remove all references to that team associated with Sir Richard.

[2017-03-27 20:17] stajs commented on #8008
I'm assuming that's a euphemism...?

[2017-03-27 20:20] ajcvickers opened #8009 "Overall plan for diagnostics"
We need to have an overall plan for the who/what/where of diagnostics messages. Specifically,
* Where should new code be writing do--just the diagnostics package, or also integration with APIs?
* What is the plan for different layers sending the same info? For example, if ADO.NET layer is triggering for queries, then should EF not do so? Or is it up to the consumer to filter?
* Do we need to do an

[2017-03-27 20:23] ajcvickers commented on #7941
@joshmouch In full .NET Framework, SQL Client had Intellitrace integration. My understand is that this is not available in .NET Core. As of right now, I am not sure what is sending messages where, but I have opened #8009 to investigate and track this.

[2017-03-27 20:27] ajcvickers commented on #8008
@stajs Nope.

[2017-03-27 20:33] ajcvickers commented on #7105
Marking for re-triage to consider putting it in patch release.

[2017-03-27 20:43] ajcvickers commented on #1906
@TonyHenrique Any chance we could get access to your large model for perf testing? You can send it privately (to avickers at my work) if you don't want to post here.

It's unlikely we will get to this in the near future--other work items have higher priority right now.

[2017-03-27 20:47] darxis commented on #3797
I have created a Nuget package that enables LazyLoading for the EF Core, at least until it is officially supported.

Repository: https://github.com/darxis/EntityFramework.LazyLoading
Nuget: https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.LazyLoading/

In this repository you can find a sample project, as well as instructions on how to configure LazyLoading using this library.

I know t

[2017-03-27 20:57] ajcvickers opened #8010 "Add very simple "type mappings" for non-relational providers"
This came out of the discussion of type mappings (#7434) and of issue #7960. The in-memory provider doesn't really need to do type mapping, but if does have a list of "known types" that it will map. It could be useful for applications to be able to add new entries to the list, which for some subset of types would then "just work" with the in-memory database. For other types it may still be necessa

[2017-03-27 21:32] SimonOrdo commented on #4807
@maumar Same issue as @adrien-constant .  Using `"Microsoft.EntityFrameworkCore": "1.1.0",`

AsNoTracking() prevents Exception.

     records = _context
                        .Footprints
                            .Include(x => x.Enrollment)
                            .Where(x =>
                                x.CourseId == courseId
                                && x.Actor == forUser

[2017-03-27 21:37] pdesterlich commented on #6313
what about an app published on linux, where ef.dll is nowhere to be found?

[2017-03-27 22:01] mikebridge commented on #3722
I have subquery that is generating that same error, but only when the Func is passed into the method containing the query.

[code]

I have a "School" entity which contains "Program" entities, and I'm doing a subquery like the following---and this works fine:

[code]

However, I can't extract the "Where" function without generating an error.  I think this should work the same:

[code]

Any idea why

[2017-03-27 22:15] HaoK commented on #7995
This is by design, the APIs that verify passwords are always using the user name field, the individual auth template happens to use the email as the user name, but they are distinct fields.

[2017-03-27 22:23] mikebridge commented on #3722
I'm sure I'm missing something obvious here.  But it looks like I get the same error if I try to extract the Func from the Expression.  This works when I pass it into my `SearchShoolPrograms` method:

[code]

This doesn't:

[code]

I think they should be equivalent, but I'm still getting `System.NotSupportedException : Could not parse expression 'school.Programs.Any(__p_0)': The given arguments di

[2017-03-27 22:35] smitpatel commented on #7998
In `ColdStartSandBox` we needed to copy over binding redirects while creating new app domain.

[2017-03-27 22:46] EdwardL75 commented on #7995
So if I give the user the ability to specify their username, where I need the change the viewmodel request to state "User Name"/password to login will that break any chance at external logins?

[2017-03-27 22:49] tylerlrhodes commented on #7991
@ajcvickers thanks for your reply.  You can see the database context class with the OnModelCreating at the link below.

https://github.com/tylerlrhodes/bagombo/blob/master/src/blog/Data/BlogDbContext.cs

The entity types can be found under the models folder:

https://github.com/tylerlrhodes/bagombo/tree/master/src/blog/Models

The whole project on Github is at:

https://github.com/tylerlrhodes/bag

[2017-03-27 23:43] EdwardL75 commented on #7995
@HaoK So if I give the user the ability to specify their username at registration, where I make the change in the viewmodel  will that break any abilities at external logins?

[2017-03-27 23:46] HaoK commented on #7995
I'm not sure exactly what you are asking, but identity checks the username against the password, if you wish to use email as the primary identifier, you can still do that, and do a lookup for the user based on Email to get the username.

[2017-03-27 23:49] smitpatel commented on #3722
@mikebridge - Can you post whole stacktrace?

[2017-03-27 23:53] EdwardL75 commented on #7995
@HaoK You state that APIs use UserName/Password authentication. If I change how the default Individual Auth template is setup to allow a user to provide their own UserName that is different than that of their email, placing in the corresponding fields within the DB AspNetUser table, will the APIs still recognize who is attempting to login from the external social site credentials. Or are they expe

[2017-03-28 00:10] HaoK commented on #7995
Identity uses the UserId for foreign keys in general, so external logins should be fine.

[2017-03-28 00:11] maumar commented on #7714
@szykov @joshmouch good news, we did some extra digging around this issue and were able to come up with a different, more functional approach. Once the patch is live, you should be able to use DTOs without drawbacks, just like in 1.1.0.  Query from #7915 will also be better, although there will still be N+1 due to other issues (discussed in the bug itself)

[2017-03-28 00:32] maumar commented on #7648
Fixed in 74b7e4d9b3c143030a41d7ffb7d029eb1fb1b5e6

[2017-03-28 00:32] #7648 closed

[2017-03-28 00:56] 303248153 commented on #242
As a note Pomelo.EntityFrameworkCore.MySql implemented json field can serialize any type,
but only available for mysql.

The implementation is
https://github.com/PomeloFoundation/Pomelo.JsonObject/blob/master/src/Pomelo.JsonObject/System/JsonObject%601.cs
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlType

[2017-03-28 01:10] InteXX opened #8012 "VB.NET Migrations Support"
Please support VB.NET migrations.

What is the latest status?

[2017-03-28 01:11] smitpatel commented on #7991
@tylerlrhodes - Thanks for providing full project code.

The problem in the query is, you are not eager loading the navigation you need.
Following are the queries being used,
[code]

While querying for `BlogPostFeature` you are loading related `BlogPost` & further loading related `BlogPostCategory` (using navigation `Categories`). So in your final query you will have collection of BlogPostCategory

[2017-03-28 01:18] tylerlrhodes commented on #7991
Perfect.  Thank you.

I think I need to rely less on Intellisense too.  The auto complete for
that last ThenInclude didn't include Category on bpc, one of the rare spots
where Intellisense didn't come up with a possible suggestion.

Thanks for your help.

Tyler

On Mon, Mar 27, 2017 at 9:11 PM, Smit Patel <notifications@github.com>
wrote:

[2017-03-28 01:21] maumar commented on #7915
@joshmouch Here are the result of my investigation on the current dev:

[code]

produces N+1:

[code]

(filter is performed on the client)

However, if the query is slightly modified to:

[code]

we get:

[code]

[2017-03-28 01:22] smitpatel commented on #7991
You were hitting issue https://github.com/dotnet/roslyn/issues/8237 there.
Intelliense does not provide much help after getting into `ThenInclude`. Regardless, if you write the full query, it will compile.

[2017-03-28 01:43] maumar commented on #7951
If you join on PK/FK, you can use navigations, e.g.

[code]

and EF will rewrite them into group joins for you.

[2017-03-28 01:48] tylerlrhodes commented on #7991
Yep, tested it out and it works great.  Thanks again for all your help.

On Mon, Mar 27, 2017 at 9:22 PM, Smit Patel <notifications@github.com>
wrote:

[2017-03-28 02:09] maumar commented on #7935
@RiseeeAgainst thank you for the improved repro - with the new information I was able to reproduce the issue, even on our current dev bits.

[2017-03-28 02:10] maumar commented on #7832
closing this, since #7935 contains better repro and more information

[2017-03-28 02:16] maumar commented on #7935
Simplified repro:

[code]

[2017-03-28 02:21] ajcvickers commented on #8002
@ChrisKlug I have not been able to reproduce the naming dependency, but there is something very strange in your model building for ProjectInfo, which may be the root cause. The entity type has three properties:
[code]
But then the model configuration adds a new shadow property and makes it the key:
[code]
This shadow property is mapped to the same column name that one of the non-shadow properties

[2017-03-28 02:31] #7998 closed

[2017-03-28 02:57] M-R-Bishop commented on #7714
I agree that this is a pretty serious bug - especially considering VS 2017 is a one-way upgrade.  Can we grab a nightly build that includes this fix anywhere?

[2017-03-28 02:58] mb2140 commented on #7714
I agree that this is a pretty serious bug - especially considering VS 2017 is a one-way upgrade. Can we grab a nightly build that includes this fix anywhere?

[2017-03-28 03:00] sjb-sjb commented on #797
I would like to reopen this discussion to ask for a version of Find that only looks in memory, and does not go to the database. The point is to use the EF indices to find the entry quickly, if it is in memory.

My use case is this: I have a variety of views with viewmodels that can reference overlapping data i.e. the same entity loaded through several contexts. I want to be able to switch back and

[2017-03-28 03:24] mikebridge commented on #3722
@smitpatel sorry, yes, here it is:

[code]

[2017-03-28 03:33] ajcvickers commented on #797
@sjb-sjb Covered by #7391

[2017-03-28 05:56] ChrisKlug commented on #8002
You are right! Damn it! I changed the id from being a shadow property to being an actual property, but apparently forgot to change the mapping properly. however, the error message with index out of range makes that VERY hard to figure out. Not too mention that for some reason,  that mapping issue causes me to not be able to map columns depending on the name of the column, which is very odd.

You a

[2017-03-28 08:11] enghussein opened #8013 "select from a Table-Valued Function (TVF)"
i want to make select query from sql server table-value-function from and i am using EF7, ASP.NET Core RC1

SELECT * FROM [dbo].[GetMyFunction] ( 2017,1)
i created fake entity as the following :
[code]
Exception message:   "Value cannot be null.\r\nParameter name: entityType"
Stack trace:
"   at Microsoft.Data.Entity.Utilities.Check.NotNull[T](T value, String parameterName)\r\n   at Microsoft.Data