[2019-10-28 16:32] ajcvickers commented on #18429
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-10-28 16:33] ajcvickers commented on #18487
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-10-28 16:36] ajcvickers commented on #18603
Duplicate of #17839

[2019-10-28 16:44] Pilchie commented on #18618
@agocke suggested that the overloads taking lambdas are causing a lot of the time.  Not sure how much moving to IOperation would help if the underlying binding is already taking a long time.  @mavasani - any ideas?

[2019-10-28 16:44] ajcvickers commented on #18606
@symphony2014 API documentation takes time to write and maintain. We do this for public API where many people will benefit from it. For internal APIs where the primary consumption is people reading the source code we prefer instead to let the code do the talking.

That is not too say it wouldn't be useful to document at least some of these APIs, but its a lot lower priority than many other things

[2019-10-28 16:46] rschiefer commented on #18429
A simplified example of the table would be:

TestCases Table:
x | y |
------
1 | 1 |
1 | 2 |
2 | 1 |
2 | 2 |

SQL:
SELECT x, y, x * y as [product]
FROM TestCases

SQL Results:

x | y | product |
------
1 | 1 | 1 |
1 | 2 | 2 |
2 | 1 | 2 |
2 | 2 | 4 |

[2019-10-28 16:57] mavasani commented on #18618
We have had some internal teams recently move from SyntaxNode/GetSymbolInfo based analyzer implementation to IOperation based implementation and they saw 4x-5x improvement in analyzer performance. I think it would be a good change to make regardless of whether or not it completely addresses the underlying performance concern of the analysis scenario.

[2019-10-28 17:06] rschiefer commented on #18429
Correct.  The problem is EF won't (at least not that I can figure out) return the calculated result unless you define the column as part of your entity which then requires you to set some default value that is a magic value for null (I'm currently using -1).

I want:

- Calculation performed in SQL
- Result returned by EF
- No table schema column on entity table for result column

[2019-10-28 17:16] ajcvickers commented on #18614
@AndriySvyryd to find dupe.

[2019-10-28 18:10] bricelam commented on #15256
@roji The fix by @lauxjpn seems like the most reasonable way to fix this issue. Do you agree? It has to be done per provider, but anything else will probably require significant plumbing, might be breaking, and will also likely just require providers to update anyway.

[2019-10-28 18:13] AndriySvyryd commented on #18614
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/18045

[2019-10-28 18:27] Cooksauce commented on #18588
@ajcvickers Just an FYI - We determined this was caused by a NuGet Package, [Google.Cloud.Storage.V1 - 2.3.0](https://www.nuget.org/packages/Google.Cloud.Storage.V1/2.3.0), which depends on [System.Interactive.Async - 3.1.1](https://www.nuget.org/packages/System.Interactive.Async/3.1.1). Depending on in [System.Interactive.Async - 4.0.0](https://www.nuget.org/packages/System.Interactive.Async/4.0.

[2019-10-28 18:28] ajcvickers commented on #18610
@d1mnewz This is [the behavior for the 3.0 release](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#linq-queries-are-no-longer-evaluated-on-the-client). For previous releases, use `dbContextOptionsBuilder.ConfigureWarnings(w => w.Ignore(RelationalEventId.QueryClientEvaluationWarning));`.

[2019-10-28 18:31] ajcvickers commented on #16386
@davkean Any ideas what might be going on here?

[2019-10-28 18:40] smitpatel commented on #18429
LINQ: `context.TestCases.Select(t => new { t.x, t.y, product = t.x * t.y });`

[2019-10-28 18:42] ajcvickers commented on #18609
@facu-larocca-zenfolio I have not been able to reproduce this--I see the output below. However, why is it that you want to install the `dotnet` tool inside the VS Package Manager Console? The [PowerShell commands designed for the PMC](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell) provide a better experience.

[code]

[2019-10-28 18:43] ajcvickers commented on #18611
Note from triage: @AndriySvyryd to take a look.

[2019-10-28 18:51] ajcvickers opened #18620 "Revisit model-snapshot for perf"
At the beginning of EF Core we decided that we would use the fluent API in model snapshots rather than designing a new serialization format. (In other words, the fluent API is the way to serialize the model.) However, this can lead to a lot of code compiled for big models and when the number of migrations build up. See, for example, #18618.

We should consider:
* A different snapshot serialization

[2019-10-28 18:52] ajcvickers commented on #18618
Notes from triage:
* Putting this in 3.1 to:
  * Ensure that generated code is being skipped
  * If the perf is still poor after skipping generated code, then consider also skipping migrations themselves. (It is possible these will be edited to use internal code, but that's not going to be common.)
* Issue #18620 covers the more general perf issue for big models and/or many migrations

[2019-10-28 18:55] ajcvickers commented on #18389
Notes from triage:
* Making the default safe would negatively impact perf for common read-only scenarios
* There was pushback on adding a discoverable API to choose the behavior as not adding much value
* So the decision is to document this for now. However, we may revisit based on feedback from other people hitting this issue.

[2019-10-28 19:01] maurei opened #18621 "Include() after Entry(...).State = EntityState.Detached no longer works"
Loading a relationship using `Include( .. )` after having performed a `Entry(e).State = EntityState.Detached` no longer works if the targeted relationship has a nullable foreign key.

Small example:
[code]

The queries are performed by EF core as expected as can be seen from the logs, but the result is not reflected on the navigation property. This seems to be a regression, it worked in v2.1.

I a

[2019-10-28 19:01] ajcvickers commented on #18588
@Cooksauce Yes

[2019-10-28 19:12] ajcvickers commented on #18124
Note from triage: we will add the methods on DbSet as proposed above. This does not "fix" the entire problem, but should make it easier for people to use the two libraries together without needing to add their own extension methods. See #18622

[2019-10-28 19:19] smitpatel commented on #17342
@roji - Can you look into above? We want to make sure that ContainsTranslator handles all generic collection types. (no need to put a lot of effort for exhaustive search, just the ones mentioned in this thread should be good enough)

[2019-10-28 19:53] ajcvickers commented on #18621
Duplicate of #17784. Verified fixed in the current daily builds.

[2019-10-28 19:55] mhDuke opened #18623 "ef core migration generator is confused in regards to OwnsMany() ReferentialAction"
without altering a bit, no matter how many `add-migration` commands i execute the same migration class script is generated, which is trying to change the relation `onDelete` `ReferentialAction` to `Cascade` instead of `Restrict`.
When inspecting the sql server database it's set to `ON DELETE CASCADE`, which is the correct referential action behavior.

[code]

EF Core version: 3
Database provider:

[2019-10-28 20:05] rschiefer commented on #18429
I would prefer to bring back my entity class and specify how I want the "calculated" property set:

context.TestCases.Select(t => new TestCase { t.x, t.y, product = t.x * t.y });

[2019-10-28 20:10] bricelam opened #18624 "Tools: Work around dotnet/project-system#3619"
This bug is painful. I wonder if there's anything we can do to work around it or give the user more guidance. We might be able to leverage the StartWorkingDirectory/RunWorkingDirectory project metadata.

[2019-10-28 20:34] bricelam commented on #329
Note, we added support for column renames in EF Core 2.2

[2019-10-28 20:35] AndriySvyryd commented on #18623
Duplicate of #18045

[2019-10-28 20:39] bricelam commented on #18359
https://github.com/aspnet/AspNetCore/blob/d34dc80e02161369908d8560f550e6e2822807b3/src/Middleware/Diagnostics.EntityFrameworkCore/src/DatabaseErrorPageMiddleware.cs#L138-L147

[2019-10-28 20:43] bricelam commented on #18618
Confirmed that we generate already generate this in the snapshot and code behind:
[code]
Maybe Roslyn doesn't handle self-closing tags?

[2019-10-28 20:54] maurei commented on #18621
That issue does not mention anything about the behaviour of `Include( .. )` after detaching entities. I can imagine the issues are related, but is this really the same issue? My guesd would be that EF doing join queries but this not being reflected in the nav props to me would seem to be independent of the changed (but reverted) behaviour of clearing nav props upon a change in `EntityState`?

 (I

[2019-10-28 20:56] roji commented on #18618
Will investigate what's going on tomorrow.

[2019-10-28 21:28] jyothi530 opened #18627 "LINQ Contains method on Non Key column in Where clause is not translated to query"
Writing a LINQ query with Contains function on a non key column throwing InvalidOperationException . Cannot translate to query.

### Steps to reproduce

Write any simple query on a DbSet Model with Where clause filtering on a Non-Key column with Contains functions.

[code]

### Further technical details

EF Core version: 3.0
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framewo

[2019-10-28 21:41] roji commented on #17342
Sure @smitpatel, will do that tomorrow.

[2019-10-28 21:46] grosch commented on #18608
@ajcvickers That makes sense.  Can you point at any specific solutions though so that I'm not pulling down thousands of duplicate rows?

[2019-10-28 22:01] 414004738 opened #18628 "ExecutionStrategy ignored when doing ToList() in EF Core 3.0"
The configured execution strategy (either a custom one or SqlServerRetryingExecutionStrategy via e.g. EnableRetryOnFailure()) is not being used when ToList() is called on a DbSet.

It does seems to be used when SaveChanges() is called, however.

In EF Core 2.2, the execution strategy would be used for queries (e.g. ToList()) as well as on SaveChanges().

This is causing our queries to fail occasio

[2019-10-28 22:07] ajcvickers commented on #18621
@maurei I ran your code against the latest [daily build](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md) of 3.1 and it works as expected. I believe the issue I linked fixed it by not nulling navigations/FKs. If this isn't the case, then please update your repro code to make it fail with the current 3.1 bits and we will investigate further.

[2019-10-28 22:08] ajcvickers commented on #18608
@grosch I don't know of any way to implement a custom distinct operation in SQL. Is there some specific SQL that you are expecting to be generated?

[2019-10-28 22:13] #18124 closed

[2019-10-28 22:20] Pilchie commented on #18618
The roslyn code just looks at the start of the string, but the comment has to be the first thing in the file.

[2019-10-28 22:21] Pilchie commented on #18618
It also excludes some files by file name patterns, so it might be working already

[2019-10-28 22:27] bricelam commented on #18359
Investigated; this is a bug. `Mode=Memory` isn't being handled here:
https://github.com/aspnet/EntityFrameworkCore/blob/0f8d0e92f8784b839fe4991bf1274267cb75626d/src/EFCore.Sqlite.Core/Storage/Internal/SqliteRelationalConnection.cs#L100
It works if you use a connection string `Data Source=:memory:`

[2019-10-28 22:38] davkean commented on #16386
@davidwengier This looks like the same issue we ran into with the CodeAnalysis telemetry where Properties was returning null. I don't think we even figured out the root cause for this. A repro project would be amazing.

[2019-10-28 22:39] ajcvickers commented on #12586
@bricelam This repros for me on 3.0 bits. The issue happens when attempting to change the length of a string primary key column that is referenced by an FK. More minimal code below. Use as-is to generate the first migration and create the database. Then change the value passed to HasMaxLength, add a new migration, and update the database.

[code]
Output:
[code]

[2019-10-28 22:47] agocke commented on #18618
So, modifying the analyzer could be useful, but the performance is still not great, even just building the code, because of the pattern of generated code.

The key thing on the analyzer side is that we're somehow avoiding re-using symbols from binding, effectively causing us to bind twice. Obviously this slows things down even more, but the underlying binding is still unfortunate. Overall on the a

[2019-10-28 22:52] mavasani commented on #18618
RE: Generated code analysis

Please ensure that analyzer explicitly configures generated code analysis mode by invoking [AnalysisContext.ConfigureGeneratedCodeAnalysis](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs,209) in the `Initialize` callback.

[2019-10-28 22:53] ajcvickers commented on #18478
@sharpwood Can you also attach a SQLite database containing the data that is causing issues? Hopefully this will allow us to get to the bottom of what is happening with the different types of values.

[2019-10-28 22:57] sharpwood commented on #18478
https://github.com/aspnet/EntityFrameworkCore/files/3753479/SqliteUlong.zip Here is a test database in database folder

[2019-10-28 23:05] bricelam commented on #18618
@agocke We've filed https://github.com/aspnet/EntityFrameworkCore/issues/18620 to address this

[2019-10-28 23:08] bricelam commented on #18618
@mavasani We do.

https://github.com/aspnet/EntityFrameworkCore/blob/68b864c209f16597c49e6d07e8f0af0edcaa3862/src/EFCore.Analyzers/InternalUsageDiagnosticAnalyzer.cs#L40-L49

[2019-10-28 23:20] mavasani commented on #18618
@bricelam Thanks.

I notice that you invoke `GetSymbolInfo` on every single member access and object creation in the compilation. That is going to be extremely expensive, and certainly not recommended for semantic analysis. @sharwell has done bunch of performance measurements in this space, and can confirm the same. You should certainly move to `RegisterOperationAction` for these callbacks. You ca

[2019-10-28 23:23] davidwengier commented on #16386
Looks like the same root issue, yes, but from reading the comments it seems more machine based than project based. Certainly with the supplied RazorPagesMovie.zip from above, I don't repro the issue with or without the Azure workload installed, on 16.3.4.

[2019-10-28 23:28] ajcvickers commented on #18510
Note for triage: repros on 3.0 and 3.1 daily build as expected since we don't handle Invoke.

@RaguMP Writing the query without embedding lambda expressions should work. For example:

[code]

[2019-10-28 23:40] ajcvickers commented on #18582
@ChristopherHaws I have not been able to reproduce this--see my code below. Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[code]

[2019-10-28 23:41] ajcvickers commented on #18613
Duplicate of #18510

[2019-10-29 00:00] berkayalcin commented on #4825
That's work.Thank you :)

[2019-10-29 02:09] AndriySvyryd commented on #18611
@Diaskhan I'm not able to reproduce this. Can you provide a runnable project, including the code that registers `DbSchemaAwareModelCacheKeyFactory`?

[2019-10-29 02:15] ChristopherHaws commented on #18582
Hi @ajcvickers, I apologize for not including a code sample in the original post, i was under a time pressure that day. Here is a code sample that repro's the issue. I believe it has something to do with owned types. I will update the title of the issue to reflect this.

[code]

If I update the entity configuration to the following, the code works:
[code]

[2019-10-29 04:06] nmichels commented on #15283
Hi @divega and @ajcvickers
I've opened a PR with an initial attempt to implement some similiar functionality as we used to have at EF6 with DBFunctions.CreateDate, please let me know if I'm going the right way. Initially this is targeting SqlServer only.

[2019-10-29 04:49] #18592 closed

[2019-10-29 07:07] klausenbusk commented on #18359
Thanks! I look forward to https://github.com/aspnet/EntityFrameworkCore/pull/14122, it is a bit easier just to run a few commands as part of our CI.

Will the fix be backported to 2.2?

[2019-10-29 07:20] kelsosharp opened #18632 "Create Database fails due to incorrect file path."
Create Database in update-database fails due to incorrect path, ending slash is missing in the file path

Assumption: The migration is getting the name of the database file to create from the connectionstring property in the appsettings,json

 "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=aspnet-TwoFactAuth;Trusted_Connection=True;MultipleActiveResultSets

[2019-10-29 08:08] shelbypereira commented on #15047
I also have this issue in Core 3.0.

forcefully updating to System.Interactive.Async  4.0.0 only helped partially.  The error went away, but now I have another error:
Reference to type 'IAsyncEnumerable<>' claims it is defined in 'System.Interactive.Async', but it could not be found

I have a test class:
internal class TestAsyncQueryProvider<TEntity> : IAsyncQueryProvider

and it seems that IAsync

[2019-10-29 08:29] maurei commented on #18621
Confirmed that it it works as expected with  `3.1.0-preview2.19525.5`. Thanks.

[2019-10-29 08:32] DominikDitoIvosevic commented on #9550
@ajcvickers EnsureCreated does not create the tables for me in the unit tests. How exactly is this supposed to work?

[2019-10-29 09:35] MihaMarkic opened #18633 "Having a keyless detail scaffolds wrong code"
When having a keyless table in SQL server, scaffolding would generate entity navigation code between master and detail. The code fails at runtime when context is created.
I assume the code shouldn't throw an exception and probably scaffolding shouldn't generate it in first place.
Is this a scaffolding or EF Core issue?

### Steps to reproduce

Create a master and detail tables in sql server with d

[2019-10-29 10:14] Diaskhan commented on #18611
[FaclonFactory.zip](https://github.com/aspnet/EntityFrameworkCore/files/3782950/FaclonFactory.zip)

Here. Update-dabase

And set a breakpoint to
[code]

[2019-10-29 10:32] roji commented on #17342
@smitpatel ended up simply implementing what you originally proposed: https://github.com/aspnet/EntityFrameworkCore/issues/17342#issuecomment-525417356. Now any one-argument method names Contains on any type which implements ICollection<> will be matched.

Continuing to track via this issue, but tell me if you prefer a new one.

[2019-10-29 11:58] yangke2911 opened #18635 "need method: public DbSet Set(Type entityType) in DbContext.cs for Migrating from .net4.5"
DbSet Set(Type entityType) Sync/Migrating coding from .net 4.5 issue

need method: public DbSet Set(Type entityType) in EntityFrameworkCore/DbContext.cs for Migrating from .net 4.5 to aspnetcore

[2019-10-29 13:20] bvdwalt commented on #8527
Any idea as to when this might be considered by the EF team or we can just use this to collaborate on getting a new PR going for us wanting to use the graph functionality on SQL Server?
@WiredUK 's PR has been closed due to there being too many changes in the latest major release of EF.

[2019-10-29 13:48] toralux opened #18636 "IComparable lamda-expression and dynamic call to OrderBy (Expression.Call) cannot be translated"
Building IComparable lamda-expression to sort using dynamic call to OrderBy (Expression.Call) fails with "could not be translated"-error. This used to work in EF Core 2.0 (without any client evaluation), but now throws exception.

### Steps to reproduce
A small example that is able to reproduce this bug.

[code]
Error message:
The LINQ expression 'OrderBy<SomeEntity, IComparable>(
    source: DbSe

[2019-10-29 14:32] TheFanatr commented on #16920
If I am missing something please let me know, and I mean no offense by this.

I would like to mention that, in my experience, not having `Include` support is very detrimental to the usefulness of the Cosmos DB provider; instead of being able to write queries "organically" using the expected APIs, the query must now be done somehow else when attempting to use `Include`, which, in my case, is a lot.

[2019-10-29 15:00] roji opened #18637 "Optimize analyzer by using Roslyn operations"
@mvasani wrote in https://github.com/aspnet/EntityFrameworkCore/issues/18618#issuecomment-547187638:

    OperationKind.Invocation - Gives back an IInvocationOperation
    OperationKind.FieldReference - Gives back an IFieldReferenceOperation
    OperationKind.MethodReference - Gives back an IMethodReferenceOperation
    OperationKind.PropertyReference - Gives back an IPropertyReferenceOperation

[2019-10-29 15:02] roji commented on #18618
tl;dr this is fixed in 3.1 (although we can consider further perf improvements in the future).

@bricelam added GeneratedCodeAnalysisFlags.None to the analyzer in 68b864c209f16597c49e6d07e8f0af0edcaa3862, which is in 3.1 but not in 3.0 (of course I had totally forgotten). So the 3.0 version of the analyzer indeed processes all code-generated, but 3.1 does not. As @Pilchie wrote above, Roslyn treat

[2019-10-29 15:06] roji commented on #18618
@Sally-Xu it can you please try the EF Core 3.1.0 [daily builds](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md) and confirm the results?

[2019-10-29 15:23] grosch commented on #18608
I just want DISTINCT in there.  So instead of generating this:

[code]

I want you to generate this:

[code]

[2019-10-29 15:56] roji commented on #17942
Will take a look at this.

Note: this is the same as #12521 which was fixed for 2.2.0.

[2019-10-29 15:57] pauldotknopf commented on #18113
I am having this issue, but my ```Id``` type is a ```string```.

In 2.X, the ```string Id``` properties were automatically set with a ```Guid.NewGuid().ToString()```.

After upgrading to EF 3.0, when inserting items, I would get exceptions with "null primary key" (or something similar). I dug around, and realized that in EF 2.X, the Id has "ValueGenerated.OnAdd" by default, whereas 3.0 doesn't.

T

[2019-10-29 16:03] pauldotknopf commented on #18113
Here is my full repro.

[code]

Output:
[code]

[2019-10-29 16:06] ajcvickers commented on #18627
@jyothi530 This looks like a duplicate of #17342. If it isn't, then please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-10-29 16:06] phatcher opened #18638 "Convert convention extensions from 2.2 to 3.0"
Sorry if this is documented, but I couldn't see this in the list of breaking changes for 3.0...

### Steps to reproduce

I'm trying to port some convention code from 2.2 to 3.0, for example...

[code]
and

[code]

These are invoked in `OnModelCreating(ModelBuilder modelBuilder)`

### Further technical details

EF Core version: 3.0
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target f

[2019-10-29 16:07] roji commented on #18113
@pauldotknopf this is [an intentional breaking change](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#string-and-byte-array-keys-are-not-client-generated-by-default).

[2019-10-29 16:08] pauldotknopf commented on #18113
Switching by ```Id``` between ```Guid``` and ```string``` changes ```ValueGenerated``` between ```OnAdd``` or ```Never```. In EF 2.X, it was always ```OnAdd```.

[2019-10-29 16:10] pauldotknopf commented on #18113
Understood, I'm sorry, I missed that.

[2019-10-29 16:19] ajcvickers commented on #18582
@smitpatel Still repros for me on nghtlies.

[2019-10-29 16:24] roji commented on #18637
Thanks @sharwell, we'll discuss this.

[2019-10-29 16:24] ajcvickers commented on #9550
@DominikDitoIvosevic If it's not working, then please open a new issue and include a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-10-29 16:28] ajcvickers commented on #18635
Duplicate of #2586 and #747.

[2019-10-29 16:58] jirkafajfr opened #18639 "ICollection<T> doesn't translate to SQL"
When `ICollection<T>` is used in `Where(...)` it does not generate proper SQL query and crashes with request for query rewrite.

### Steps to reproduce

I've created following repo https://github.com/jirkafajfr/EfCore-CollectionInExpressionProblem which demonstrates the problem. Essentially when `ICollection<T>` comes to the expression it can't be translated where array or list would work just fin

[2019-10-29 17:18] AndriySvyryd commented on #18611
@Diaskhan You need to put the breakpoint in `OnModelCreating`. The code in `DbSchemaAwareModelCacheKeyFactory` has to run for every context creation as each instance needs a new key.

[2019-10-29 17:23] sharwell commented on #18637
@roji It sounds like you reviewed the performance of the builds to show that the current builds are not impacted to the degree I described. If this analyzer is limited to running within this repository, it would certainly be reasonable to use that as the primary basis for your triage.

[2019-10-29 17:26] Diaskhan commented on #18611
The beahivour has changed from 2.2 ?

[2019-10-29 17:31] ajcvickers commented on #18639
Duplicate of #17342. Verified tests are passing with latest [daily build](https://docs.microsoft.com/en-us/ef/core/).

[2019-10-29 17:37] ajcvickers commented on #18628
@AndriySvyryd Thoughts?

[2019-10-29 17:38] AndriySvyryd commented on #18611
@Diaskhan No, it's always been like this.

[2019-10-29 17:42] roji commented on #18637
@sharwell this analyzer isn't used only within this repo - it's flown to all users of EF Core, to prevent accidental usage of pubternal APIs. So making sure it runs efficiently is definitely important.

[2019-10-29 17:43] roji commented on #18637
In other words, the specific migrations example reported by the user in #3663 is no longer (significantly) affected, but huge user repos could suffer.

[2019-10-29 17:44] ajcvickers commented on #8527
@bvdwalt I doubt this is something that the EF team will implement any time soon. However, we will consider a well-written PR that integrates with the query changes made in 3.0.

[2019-10-29 17:47] ajcvickers commented on #18608
@grosch What do you get if you use, `.Distinct()` in your query instead of `.Distinct(new ApmEntitlementEqualityComparer())`?

[2019-10-29 17:55] ajcvickers commented on #18418
@shoe-diamente You can use it with .NET Core 3.0. Not with EF Core 3.0.

[2019-10-29 18:13] sharwell commented on #18637
@CyrusNajmabadi it sounds like this analyzer could be generalized and migrated to BannedApiAnalyzers to address some of the issues were looking into

[2019-10-29 18:32] #17342 closed

[2019-10-29 18:34] #18579 closed

[2019-10-29 18:47] #18587 closed

[2019-10-29 18:51] #18359 closed

[2019-10-29 18:57] smitpatel commented on #13859
TypeBinaryExpression can also short-circuit.
Something like this
[code]

[2019-10-29 19:29] MaxG117 commented on #18455
@ajcvickers I was just replying to Brice's comment, I did not say that `GO` is executed in the wrong place for me.

Here's what I'm getting at. The `Can_generate_idempotent_up_scripts()` unit test in EFCore.SqlServer.FunctionalTests project expects the following SQL to be generated for the migration whose MigrationId = 00000000000001_Migration1:

[code]

My understanding is that multiple statement

[2019-10-29 19:52] AndriySvyryd opened #18643 "Add Fluent API to specify a ValueComparer for a property"
Possibly an overload of HasConversion

[2019-10-29 19:56] grosch commented on #18608
There's no error then of course, but I have hundreds of duplicated entries in my output.

[2019-10-29 20:25] hrattls commented on #18017
This might work:
[code]

[2019-10-29 21:11] antoniopinedo opened #18644 "DbFunctionBuilder HasTranslation not accepting Expression after upgrade to EF Core v3.0"
Following code used to work on EF Core v2.2.6:

[code]

After upgrade to EF Core v3.0, the block for "modelBuilder.HasDbFunction(method).**HasTranslation**" throws the following error:

While checking the methods signature for EF Core v2.2.6 and EF Core v3.0 I could notice that the HasTranslation function type was changed from Expression to SqlExpression, making the returned type incompatible (Bin

[2019-10-29 21:12] bricelam commented on #18455
EF6 assumed that every statement could be combined into a single batch (batches are separated by GO), but there are several Transact-SQL statements which are required to be at the beginning of a batch and even some that are required to be the only statement in a batch.

EF Core generates a script that represents exactly how the migrations are executed at runtime (e.g. via `dbContext.Database.Migra

[2019-10-29 21:19] fergalmoran opened #18645 "Migrations looking for invalid netstandard version after update to EF 3.0"
Recently updated asp.net core project to netcoreapp 3.0 and updated Microsoft.EntityFramework.* to 3.0.0

Everything is working as expected, all tests are passing and production instances are all stable... however.

Any dotnet ef * command produces the following output

[code]

I have no global.json anywhere in my tree, I have dotnet-sdk 3.0, 2.2 & 2.1 intalled. I have audited my dependencies as m

[2019-10-29 21:19] ajcvickers commented on #18608
@grosch What SQL is generated?

[2019-10-29 21:28] ajcvickers commented on #18239
@smitpatel Why did you remove `customer-reported` from this issue?

[2019-10-29 21:56] #13859 closed

[2019-10-29 21:56] #17942 closed

[2019-10-29 22:48] jyothi530 commented on #18627
@ajcvickers Yes. I think it is a duplicate of #17342. Looks like stack trace is different. You can close this one if it is a duplicate. I believe this should be fixed as part of 3.1 right. Thanks

[2019-10-29 22:50] ajcvickers commented on #18627
Correct; fixed for 3.1

[2019-10-29 23:06] AdamDotNet opened #18646 "DbConnection State and Database are not accurate after DbConnectionInterceptor.ConnectionOpenedAsync is used to change database"
### The Issue
Initially when I connect to my DB with EF Core, the connection is made to a single known database so that the connection string can be pooled. Using `DbConnectionInterceptor` and overriding `ConnectionOpenedAsync`, I'd like to change databases asynchronously based on a runtime value. So far that works, and while I'm in the interceptor method, `DbConnection` `State` and `Database` are

[2019-10-29 23:08] MaxG117 commented on #18455
Ok, this makes sense now.

The documentation for the `IHistoryRepository` `GetBeginIf[Not]ExistsScript` and `GetEndIfScript` does not make it clear that even though these methods are used to BEGIN and END a "block", which to me implies multiple statements, the `Migrator.GenerateScript` method does not treat them as wrappers around a "block" of statements, but rather as wrappers around a single sta

[2019-10-29 23:32] smitpatel commented on #18239
By mistake when removing type-bug.

[2019-10-29 23:43] smitpatel commented on #18644
Replace
`return Expression.MakeBinary(type, left, right, false, method);`
With
`return new SqlBinaryExpression(type, left, right, method.ReturnType,null);`

[2019-10-30 00:24] VR-Architect opened #18647 "Exclude Identity tables when database-first scaffolding"
Please add a flag to Scaffold-DbContext to exclude the Identity tables created starting with dbo.AspNet*

There is no need to have an EF view of these tables as they are reached via the built-in Identity managers (userManager, roleManager, etc.)

Example flag -ExcludeIdentity

ref: https://github.com/aspnet/EntityFrameworkCore/issues/2725

[2019-10-30 00:39] #17756 closed

[2019-10-30 00:39] #17852 closed

[2019-10-30 00:39] #18090 closed

[2019-10-30 00:39] #18127 closed

[2019-10-30 01:08] UdiAzulay commented on #13850
seems that the above suggested ugly workaround only works for "_fastQuery" and fails with "_shapedQuery" so i had to put another ugly solution for that:

        static EntityContext()
        {
            var localMethod = typeof(EntityContext).GetMethod("TryReadValue", System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.NonPublic);
            typeof(Microsoft.EntityFramework

[2019-10-30 01:27] maumar commented on #18597
there are other optimizations we can do here, if we know nullability of a given expression. E.g.
when a is not nullable
a == a -> true
a != a -> false

[2019-10-30 01:47] antoniopinedo commented on #18644
Hi Smit, that solves the problem with the Binary Expressions, so now there is a different inheritance path like:
Expression -> SqlExpression -> SqlBinaryExpression

Makes sense.  Thanks a lot for your help

[2019-10-30 02:16] divinebovine commented on #18633
I am having the same issue with a scaffolded database, but I am unable to navigate any entity. It's as if the existence of an entity without a key is breaking navigation.

Example Model:
[code]

Excerpt from Context.cs:
[code]

Unit test with exception:
[code]
Exception:
![image](https://user-images.githubusercontent.com/2818169/67823452-32250680-fa91-11e9-8198-30b81ec43e52.png)

[2019-10-30 02:29] yangke2911 commented on #18635
basically below solution works fine for me so far. thanks! Hope whole solution all works  #fine.
-----------------------------------------------------------------------------------
MeikelLP commented on Feb 6, 2018
Here is my code (works at least for me).

        [HttpPost]
        public async Task<IActionResult> List(string entityType)
        {
            var type = typeof(ApplicationUser).As

[2019-10-30 02:42] gdlcf88 commented on #17820
How can I temporarily solve this problem in EF Core 3.0? >_<

[2019-10-30 02:59] AndriySvyryd commented on #17820
@gdlcf88 You can try making IdentityUser.CreationTime optional

[2019-10-30 05:31] donhuvy opened #18650 "Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 3.1.0-preview1.19508.20 is not compatible with netcoreapp3.0 (.NETCoreApp,Version=v3.0)."
### Describe the bug
Upgrade framework, all Nuget packages to 3.1, but fail when Publish.

### To Reproduce
Steps to reproduce the behavior:

Development environment

[code]

Tools: Microsoft Visual Studio Community 2019 Preview. Version 16.4.0 Preview 2.0
Type of webapp: ASP.NET Core 3.1 Blazor Server.

File `csproj`

[code]

### Expected behavior
In Visual Studio, can publishing web-app success.

[2019-10-30 07:02] shelbypereira commented on #15047
Thanks,  your sugestion works,  I actually did not have EF Core referenced,  it seems I did not need it in .net Core,  adding the reference to EF 3.0 worked.

[2019-10-30 12:09] hakankaya56 opened #18653 "When I do group by, linq query does not working"
**This my code** =>
[code]

**this is my error** =>
[code]

[2019-10-30 14:40] jorgesoprani opened #18654 "EF Core 3 - Skip() not working"
Paging is not working on my queries:

### Steps to reproduce

![image](https://user-images.githubusercontent.com/19509475/67868021-0d20aa00-fb0a-11e9-9e69-4d2a8d6f6897.png)

I'm using the UseRowNumberForPaging option, but seems to be ignored.
I'm using EF Core 3.0.0 with SQL Server 2008 R2. Aand this is how its configured.
![image](https://user-images.githubusercontent.com/19509475/67868039-14e04e

[2019-10-30 14:46] phatcher commented on #18638
@ajcvickers Ah ok, it's slightly complicated by the fact that `.Configure` and `.Properties` extensions have been removed in 3.0, so I've added them back in my code base to make it easier to write conventions, so we get...
[code]
Then the conventions become...
[code]

[2019-10-30 15:44] AdamJachocki commented on #11948
Another one, really don't know what to do with this. I have a simple mechanism to map ONLY the properties that I want (like in nHibernate, actually I came from nHibernate), it's simple:

[code]

Now, I have one base class implementing IEntityTypeConfiguration. And it looks basically like this:

[code]

So the idea is simple. I have to derive from BaseMap and then Map only those properties that I r

[2019-10-30 15:46] omatrot opened #18656 "Filter and Include reference navigation property fails"
I have the following EF query that works fine. Please note that I just discovered that I was able to filter on referenced navigation property directly.

[code]

Sql Generated is:

[code]
I'd like to include the TrackedVehicule reference navigation property. So I naively added an .Include clause:

[code]
But this time the query is failing with this weird **System.Data.SqlTypes.SqlNullValueException

[2019-10-30 16:00] MichalLechowski opened #18657 "Autorollback doesn't work after upgrading to EF Core 3.0"
Project: WebAPI .NET Core 3.0
EF release: EF Core 3.0
Test framework: xUnit 2.4.1 (latest)
DB: MsSql 2016

The issue is Autorollback on scope dispose stopped working, it was working fine before upgrading to 3.0. The example code is here: [CLICK](https://github.com/xunit/samples.xunit/blob/master/AutoRollbackExample/AutoRollbackAttribute.cs)

It's used as attribute for Class or Method so it's simpl

[2019-10-30 16:00] ajcvickers commented on #18650
@Pilchie Are ASP.NET Core 3.1 middleware packages intended to run on .NET Core 3.0, or do they require .NET Core 3.1?

[2019-10-30 16:00] malohr commented on #12078
I ran into the same issue even without using related entities. Found a solution for my case.
Hope this will help you guys.

Quick example:
 public class Event {
        public Event(string subject, DateTime startDate, DateTime endDate, bool enablePrivate)
        {
            Subject = subject;
            StartDate = startDate;
            PrivateEvent = enablePrivate;
            EndDate = endD

[2019-10-30 16:02] roji commented on #18181
This repros on 3.0.0 but is gone in 3.1.0-preview1.

[2019-10-30 16:02] #18181 closed

[2019-10-30 16:08] leniency opened #18658 "Contains on a readonly collection throws InvalidOperation exception."
A query that uses a `collection.Contains` will fail when the collection is marked `readonly`. It works as expected without the `readonly`.

### Steps to reproduce

[code]

#### Exception
[code]

### Further technical details

EF Core version: 3.0
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework:  .NET Core 3.0
Operating system: Windows 10
IDE: Visual Studio 2019 16.3

[2019-10-30 16:21] ajcvickers commented on #18657
@MichalLechowski What is the `Autorollback` attribute and where does it come from?

[2019-10-30 17:02] roji commented on #18087
Poaching

[2019-10-30 17:42] rtroberts opened #18660 "HashSet queries are no longer translatable"
Queries which utilize HashSet<T>.Contains methods are no longer translated in EF Core 3.0 and throw an exception.

I can find no evidence indicating this change was intended in 3.0. HashSet<T> implements ICollection and IEnumerable, so I'm led to believe this is a bug.

A contrived example:

[code]

In EF Core 2.2, the `GetDocumentsInStatuses` method above would produce SQL analagous to the follow

[2019-10-30 17:59] langdonx commented on #11881
Currently..

Translates to..

    WHEN [t].[work_order_number] IS NOT NULL AND ([t].[work_order_number] LIKE '%D') THEN CAST(1 AS bit)
    ELSE CAST(0 AS bit)

Did I do something wrong, or is that expected until this issue is resolve?

[2019-10-30 18:05] langdonx commented on #11881
Gets even crazier when two are used together:

Translates to..

    WHEN [t].[work_order_number] IS NOT NULL AND ([t].[work_order_number] LIKE '%T') THEN CAST(1 AS bit)
    ELSE CAST(0 AS bit)
END IS NOT NULL) AND ((([t].[work_order_number] IS NOT NULL AND ([t].[work_order_number] LIKE '%D')) OR (CAST(0 AS bit) = CAST(1 AS bit))) AND CASE
    WHEN [t].[work_order_number] IS NOT NULL AND ([t].[work

[2019-10-30 18:25] tfadler opened #18662 "Add built-in value converters for IPAddress or PhysicalAddress"
If I have either an IPAddress or PhysicalAddress property on an entity and set it up for UseInMemoryDatabase() there will be exceptions when the database is created.

Note that these data types are acceptable in my real database (postgresql)

Thought it may be related to this: https://github.com/aspnet/EntityFrameworkCore/issues/11074

### Steps to reproduce

Here is a sample application displayin

[2019-10-30 18:42] smitpatel commented on #18657
@ajcvickers - It is coming from xunit. Runs some code before & after the test. The OP has link to the attribute if that helps in what processing it does and how it would work with EF.

[2019-10-30 18:43] roji opened #18665 "Support non-static members in C# generation"
Needed for literal code generation of various types.

[2019-10-30 18:47] MichalLechowski commented on #18657
There's a link in the first post, start from there.

Yep and it's pretty basic stuff, it simply creates instance of transaction scope before method and calls Dispose() on scope instance after method ends.

[2019-10-30 20:15] langdonx commented on #15585
In trying to upgrade to 3.0, this issue has tripped up a number of our integration tests, where we insert a few records in a transaction (some good, some bad), and query them back out to verify our expectations.

The way it works is certainly unexpected -- it seems to consistently insert in reverse order for me.

The quick work around for us is bullet #3 above -- calling `SaveChanges` after each `

[2019-10-30 20:35] #18665 closed

[2019-10-30 21:08] smitpatel commented on #18656
@omatrot - We have changed how queries are translated in 3.0 version and believe that above issue would be fixed in 3.0 release. Can you try running against EF Core 3.1 preview1?

[2019-10-30 21:11] smitpatel opened #18667 "Obsolete UseRowNumberPaging"
If we are not doing it for 3.1, it should at least be obsoleted so user gets error that it is not supported anymore.

[2019-10-30 21:13] smitpatel commented on #18667
@aspnet/efteam - We should consider this for 3.1

[2019-10-30 21:15] smitpatel commented on #18654
@sfrobous - EF Core 3.0 does not support row number paging. https://github.com/aspnet/EntityFrameworkCore/issues/16400 is tracking to bring back support for it.
In the meantime, I have filed https://github.com/aspnet/EntityFrameworkCore/issues/18667 to obsolete the method so that as a user you get better error message that it is not supported.

[2019-10-30 21:19] smitpatel commented on #18653
@hakankaya56 - The reason it fails to translate is, your query contains grouping by an entity which is not scalar which cannot be used in SQL GROUP BY clause. Please refer to our [documentation](https://docs.microsoft.com/en-us/ef/core/querying/complex-query-operators#groupby) for more details.
In order to evaluate this in server, you can rewrite your query to select only scalar columns you need i

[2019-10-30 21:41] bricelam commented on #14445
Here's a model that repros from 2.1.11 to 2.2.6

[code]

[2019-10-30 21:44] bricelam commented on #14445
New exception on `release/3.1`:
[code]

[2019-10-30 21:46] AndriySvyryd commented on #14445
@bricelam Can you post the snapshot?

[2019-10-30 21:48] bricelam commented on #14445
Note, only happens with snapshots generated on 2.1:
[code]

[2019-10-30 21:51] AndriySvyryd commented on #14445
@bricelam We can compensate by making the properties required before setting the PK. I assume it also reproes for 2.0 snapshots

[2019-10-30 21:54] AndriySvyryd commented on #18620
Note that this will likely mean that snapshots will need to be updated for major version upgrades and possible minor ones. So we should consider https://github.com/aspnet/EntityFrameworkCore/issues/18557 at the same time

[2019-10-30 22:03] bricelam commented on #14445
[code]
[code]

[2019-10-30 22:04] smitpatel commented on #18658
readonly here factors as inline-ing the whole expression rather than creating the parameter. The reason we fail to translate is, there is an additional cast to `IEnumerable<TagCategoryType>` in front of the array.

@leniency - As a work-around (if you cannot remove readonly), you can also change the type of `Types` to be `TagCategoryType[]`.

[2019-10-30 22:07] bricelam commented on #14445
Getting NullRef on 2.0.3. Snapshot is mostly the same but no ValueGeneratedOnAdd or ValueGenerationStrategy annotation.

[2019-10-30 22:07] bricelam commented on #14445
Oh, and Ids are Nullable on 2.0

[2019-10-30 22:08] bricelam commented on #14445
* aren't Nullable

[2019-10-30 22:10] RE-Butler commented on #18232
This also has me dead in the water. Is there any workaround that will allow the use of Stored Procedures?

[2019-10-30 22:12] AndriySvyryd commented on #14445
The NRE is thrown because the model is read-only at that point, since we call `FinalizeModel` at https://github.com/aspnet/EntityFrameworkCore/blob/24b9aa1d2e14fe2e737255ede9b2a7a623fcf2af/src/EFCore.Relational/Infrastructure/ModelSnapshot.cs#L24
We should move that call to the SnapshotModelProcessor

[2019-10-30 22:22] #17374 closed

[2019-10-30 22:40] ajcvickers commented on #18667
Indeed. I'll do it if nobody gets to it first.

[2019-10-30 22:45] smitpatel commented on #17505
This actually works without any changes in 3.0 already because Navigation Expansion removes it.

[2019-10-30 22:45] #17505 closed

[2019-10-30 23:07] bricelam commented on #14445
@AndriySvyryd Added some tests in [bricelam:ownold](https://github.com/aspnet/EntityFrameworkCore/compare/release/3.1...bricelam:ownold). Should I start making the product changes to make them pass or are you already on it?

[2019-10-30 23:08] grosch commented on #18608
Sorry I'm struggling to figure out exactly how to enable this logging in EF Core 3.

[2019-10-30 23:09] AndriySvyryd commented on #14445
@bricelam Go ahead. I'm working on https://github.com/aspnet/EntityFrameworkCore/issues/18628, it'll likely take me all the time left for 3.1

[2019-10-30 23:24] grosch commented on #18608
@ajcvickers Finally figured out how to do logging now :)

This is what I'm seeing for that part of the query.

This one is first:

[code]

and this one shows afterwards.

[code]

So, while the individual subquery seems to be including the distinct, it appears that being wrapped in a `LEFT JOIN` might be what's adding the duplicates?

[2019-10-30 23:27] smitpatel commented on #14445
@AndriySvyryd - I can work on #18628 or anything else on your plate you find suitable.

[2019-10-30 23:35] AndriySvyryd commented on #14445
@smitpatel I'd like to do at least the initial work. Once that's done we can see who'll handle the perf optimization (avoiding boxing).

[2019-10-30 23:57] grosch commented on #18608
@ajcvickers OK, this helps identify the problem.  I greatly simplified the query trying to track down why there's extra data.  I now have this code

[code]

And the logged query is like so:

[code]

You can see in the built SQL, it's asking for the `AccessDt` column, for example.  That is a column on the `Badge_Reader_Data` table, but I do *not* ask for that anywhere in my query.  As soon as you t

[2019-10-31 00:03] smitpatel commented on #18608
Related #15873
I believe this query cannot be translated to server. There is no correlation to figure out the collection grouping. I am not sure why it translated to incorrect result in first place. (I was expecting invalid SQL)

[2019-10-31 00:17] grosch commented on #18608
@ajcvickers Looking at the `Badge_Reader_Data` table I see that the primary key is made up of 4 columns:  `AccessDt`, `EntitlementId`, `ReaderId`, `Lab_Space_Id`.  So that at least explains why you're throwing those columns in there.  I'll need to work with the DBA to see if I can get that changed.

[2019-10-31 00:27] GasyTek commented on #15681
I think the goalis to be able to configure common properties of an owned type accross all aggregates that reference it, so this proposal miss the point here.

For instance if we have Person, Company and Address classes like this.

`public class Person
{
    public int Id {get;set;}

    public Address Home {get;set;}
}

public class Order
{
    public int Id {get;set;}

    public Address BillingA

[2019-10-31 00:38] clarkgranum commented on #17864
I am having the same issue. I am running an ASP.NET Core 2.2 Application, using EF Core 2.2.0, in a framework dependent deployment. My EF project is separate from the ASP.NET Core project.

It looks like the issue is in SpatialiteLoader.cs in the FindExtension() method. The method is attempting to add the directory of the mod_spatialite.dll to the PATH Environment variable, but the path it is tryi

[2019-10-31 01:11] smitpatel commented on #15736
Same as #13519

[2019-10-31 01:12] smitpatel commented on #15681
@GasyTek - That is being tracked in different issue. See https://github.com/aspnet/EntityFrameworkCore/issues/6787#issuecomment-294047613

[2019-10-31 01:15] AndriySvyryd commented on #13519
Related to #11108.

[2019-10-31 04:32] nexawo opened #18671 "Getting Entity names into a list for DDL"
I am working on a project using EFCore with CodeFirstapproach and I am stuck in an issue which is to get all entities or table names into a list and show them in a view as a DropDown List.

[2019-10-31 05:38] acbaile5 commented on #15448
I have the same problem. Did you rename the folders? Not some configuration files? Is it safe?

[2019-10-31 07:23] LMSSonos opened #18672 "EFCore Projection to Children get's lost when using Skip() / Take()"
When I run the following code (which worked in EFCore 2.0.3) it fails in the method `Projection_Children_With_Take_Fails` when accessing the `Address.AddressTags.Tag.TagName` property because the Tag object is null.

It does work if no Skip/Take is executed. It also works, when it's run in the same context where we first execute the query without skip/take.

Maybe it's related to #18374

Issue sho

[2019-10-31 09:44] patrickdgt opened #18673 "CosmosDB - Entity Framework Core - Contains could not be translated"
I try to manipulate a CosmosDB (SQL) using entity framework core 3.0. Everything works fine except when I try to use Contains

For example:

var query = _context.Challenges.Where(c => c.Name.Contains( "string"));

EF is supposed to translate it to the following SQL (that works perfectly on the CosmosDB – Query Explorer)

SELECT * FROM c WHERE CONTAINS(c.Name, "string")

But I receive the following

[2019-10-31 09:50] omatrot commented on #18656
@smitpatel Good catch, this is indeed working fine with EF Core 3.1 Preview1.

[2019-10-31 09:50] #18656 closed

[2019-10-31 10:24] wstaelens commented on #1222
https://stackoverflow.com/questions/58640437/ef-core-3-0-translating-string-equals-ordinalignorecase-correctly

[2019-10-31 10:57] AdamJachocki commented on #4922
It makes testing in memory database completely unsuitable. No one keeps connection open through the lifetime of the application. So you should create database before every test. I have additional problem with that, because I have to use some custom steps during migration, which involves opening connection and closing connection (if it was not opened).

You should keep in memory database until user

[2019-10-31 12:30] smitpatel commented on #18656
@omatrot - Thanks for confirming that it is working in 3.1 package.

[2019-10-31 12:32] smitpatel commented on #18673
Duplicate of #16143

[2019-10-31 12:33] d1mnewz commented on #12849
We experience the same issue. Very weird.

[2019-10-31 12:41] smitpatel commented on #18672
Note for triage: Need to try on nightly builds, there were couple of PRs which went in which could affect this, but it still may remain as bug.

[2019-10-31 12:44] smitpatel commented on #12849
This issue is tracking bug in pipeline when after doing group by, whole group is being materialized. That requires client eval of group by (i.e. what happened in 2.x release). Since 3.0 does not support this, the issue is no longer relevant. Implicitly client eval'ing group by is being tracked at #17068, if we ever fixed that, we will support this scenario too.

[2019-10-31 12:57] alexb5dh commented on #1833
Not sure if it was mentioned but [EF Plus](https://github.com/zzzprojects/EntityFramework-Plus) can be used as a [workaround](https://entityframework-plus.net/query-include-filter) for now.

[2019-10-31 13:03] pavitrag123 opened #18677 "Nested OwnsMany entities 'VistLambda' error"
I've multiple nested owns many relationships in my entity. Able to insert the data into cosmos db but facing below issue while retrieving data

![image](https://user-images.githubusercontent.com/19691194/67948954-c8ca0280-fc0c-11e9-9676-d4fe33f5a927.png)

### Steps to reproduce
Same as issue https://github.com/aspnet/EntityFrameworkCore/issues/18265 that was marked as closed but still not working

[2019-10-31 13:04] Vick-edit opened #18678 "Using HasOperators() on PostgreSQL lead to exception on megration creating"
We have database based on PortgreSQL. Resently we migrate from .net core 2.2 to 3.0 and now we cannot creating migration by "add-migration". We tryed use scaffolding to create entities and maping and create Initial migration after that and got same exception every time.

We use varchar feld  based index with option "varchar_pattern_ops". And we use .HasOperators("varchar_pattern_ops") call on inde

[2019-10-31 13:50] yruson commented on #14529
@JanEggers Can you share your implementation, I don't know what method to use to know if IQueryable's Provider supports asynchronous. Thank you very much.

[2019-10-31 13:54] roji commented on #18678
Npgsql issue, already filed as https://github.com/npgsql/efcore.pg/issues/1104.

[2019-10-31 13:58] roji opened #18681 "Consider setting facets (size/precision/scale) systematically on DbParameters"
We don't currently systematically set facets on DbParameters to match the corresponding column's facets (we do set some facets in some cases). This hasn't been a problem up to now, as SQL Server accepted parameters for columns with differing facets. However, when Always Encrypted is on, it seems that parameter facets have to precisely match the columns (see https://github.com/dotnet/SqlClient/issu

[2019-10-31 16:14] AndriySvyryd opened #18682 "CrossStore tests are flaky"
- Can_save_changes_and_query
- Can_register_multiple_context_types_with_default_service_provider
- Can_use_one_context_nested_inside_another_of_a_different_type_with_implicit_services
- Can_use_one_context_nested_inside_another_of_a_different_type

There might be a connection leak:

[2019-10-31 16:53] roji commented on #18147
Also errors on PostgreSQL :(

[2019-10-31 17:07] SidShetye commented on #4073
@AndriySvyryd, that's the key confirmation, thanks. So no major side effects of skipping the AK present in the DB. That actually works for us.

[2019-10-31 17:30] SidShetye commented on #15910
@ajcvickers Taking one step back, based off [this](https://github.com/aspnet/EntityFrameworkCore/issues/15910#issuecomment-542396848),

what's the difference between the interceptors and events? Just a class vs a function or something more conceptually different? We've historically registered on the events, not interceptors, so that's our familiar go-to.

The proposal [above](https://github.com/as

[2019-10-31 17:47] clarkgranum commented on #15691
There is a bug in SpatialiteLoader.cs::FindExtension(). The problem is when the candidate assets are built:

`                            if (string.Equals(
                                Path.GetFileName(file.Path),
                                "mod_spatialite" + _sharedLibraryExtension,
                                StringComparison.OrdinalIgnoreCase))
                            {

[2019-10-31 17:47] nphmuller commented on #15910
@SidShetye

Pretty sure it’s been mentioned that 3.1 will basically be only bug fixes.

[2019-10-31 17:54] SARAVANA1501 commented on #15910
Raised draft PR to get initial feedback, after i will implement test suite.

`SaveChangesCompleted` method in `CoreLoggerExtension.cs` is void.
is it right to place interceptor calling there?

[2019-10-31 17:55] ajcvickers commented on #15910
@SidShetye Look at the existing interceptors. Registration would be the same for the new one.

This won't get done for 3.1. 3.1 is primarily about stabilizing after 3.0.

[2019-10-31 19:43] smitpatel opened #18685 "ExpressionEqualityComparer cleanup"
Use switch on Type rather than NodeType.
Add hashcode computation for missing nodes
- BlockExpression
- AssignExpression

[2019-10-31 19:58] NetMage commented on #1985
As I see it, the problem with suggesting owned entities in place of automatic `Include`s is that the limitations of owned entities make value objects in separate tables problematic.

How would you get around having to `Include` a linked department entity (to get department name) with every query with owned entities to a separate table while still supporting adding / deleting of department entities

[2019-10-31 20:30] ajcvickers commented on #15403
## October 31, 2019

## EF Core 3.1

What you need to know about EF Core 3.1:
* The release cycle is short--EF Core 3.1 is scheduled for release on December 3.
* The goal of this release is stabilize 3.0 and fix bugs to prepare 3.1 for long term support (LTS)
* We have fixed **129** issues so far
* EF Core 3.1 contains no new significant features

## Builds to use

* The [daily builds](https://git

[2019-10-31 20:38] AndriySvyryd commented on #1985
@NetMage Automatic include is tracked by #2953

[2019-10-31 20:52] ajcvickers commented on #18645
@fergalmoran Did you [install dotnet-ef as a global tool](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#dotnet-ef)? (This was not needed prior to 3.0.)

[2019-10-31 20:59] ajcvickers commented on #18646
@AdamDotNet A couple of things to note:
* By default, EF opens a connection when needed and then closes it when done. However, if the application opens the connection, then EF will leave it open--the application is responsible for closing it.
* ChangeDatabase only works on current open connection. Any change is lost as soon as the connection is closed.

Based on this, the behavior in the repro see

[2019-10-31 21:14] ajcvickers commented on #18633
Note for triage: talked to @AndriySvyryd and it looks like scaffolding should be generating a uni-direction navigation property here. For example:
[code]
This is because keyless entity types cannot have incoming navigations, but can be at the dependent end of a unidirectional navigation to the principal.

[2019-10-31 21:15] ajcvickers commented on #18650
@donhuvy I confirmed that ASP.NET Core 3.1 packages require .NET Core 3.1.

[2019-10-31 21:17] maumar opened #18689 "Query: make null semantics optimizations provider-specific"
There are some null semantics optimizations we can do on SQL Server but not on other providers. We should consider making NullSemanticsRewritingExpressionVisitor provider specific.

example query:

[code]

null semantics rewriting visitor when initially encounters this expression determines that it cant do optimized translation, since its in the projection,
so we get:

[code]

however, later on th

[2019-10-31 21:23] smitpatel commented on #18633
It could also be HaseOne().WithOne();

[2019-10-31 22:14] #18425 closed

[2019-10-31 22:50] fergalmoran commented on #18645
@ajcvickers Yes I did. I installed every 3.* version of it I could find both on my development boxes and on clean Win & Ubuntu boxes.

I don't want to be a pain but this is becoming a really serious issue for us, we're completely stalled here as we can't add any new features while this is broken, I'm sure I'm missing something simple or being a complete idiot but I would be extremely grateful for

[2019-11-01 00:05] #17794 closed

[2019-11-01 00:31] ajcvickers commented on #18645
@bricelam Any ideas here?

[2019-11-01 03:37] donhuvy commented on #18650
@ajcvickers Please help me clear problem! I already installed .NET Core 3.1 `3.1.100-preview1-014459` .

![publish_webapp31_error](https://user-images.githubusercontent.com/1328316/68000647-8697d400-fc93-11e9-85d3-82b1cc2887e8.png)

[2019-11-01 06:24] Neme12 commented on #13935
Why isn't the method UseRowNumberForPaging() at least marked as obsolete with an error? It still exists and just doesn't do anything. I spent a bunch of time updating a project only to find out at runtime that I can't actually update after all. If i saw immediately that this method is no longer supported it would have saved me some time.

[2019-11-01 07:11] Neme12 commented on #16400
Why isn't the method `UseRowNumberForPaging()` at least marked as obsolete with an error? It still exists and just doesn't do anything. I spent a bunch of time updating a project only to find out at runtime that I can't actually update after all. If i saw immediately that this method is no longer supported it would have saved me some time.

[2019-11-01 07:20] ErikEJ commented on #16400
It was a bug that it was not marked obsolete, and it will be fixed in 3.1

[2019-11-01 07:56] AndriySvyryd commented on #18677
Issue #18265 was fixed in 3.1.0-preview2. Try that version when it's out or a nightly.

[2019-11-01 11:10] generik0 opened #18695 "MsSql = "Could not be translated", utests with InMemoryDatabase pass"
Hi

I am a little worried about some matters in EF Core 3.0

I have a pile of repository pattern tests. All using the InMemoryDatabase. They are passing.
However the "real code" using a MsSql connections throw exceptions.
I.e. Issue with linq:

- Contains
- CompareTo
- Any

Housten (or should I write Redmond), do we have a problem?

![image](https://user-images.githubusercontent.com/2411563/680208

[2019-11-01 11:20] generik0 commented on #18695
Is there maybe i ayay i can add an event to my uTests, that all queries  trigger a ToSql check?

[2019-11-01 11:34] salaros commented on #18299
Not if you are not using owned entities with table splitting.

For example we are using owned entity for audit-related information

[code]

We put this entity on many multiple entities (e.g. manufacturers, products, product translations etc), therefore our EF Core-generated queries are monstrous.

This simple expression

[code]

results in

[code]

this is ridiculous, since we use owned entities w

[2019-11-01 11:41] generik0 commented on #18695
The ".Equals(s, StringComparison.OrdinalIgnoreCase)" alos passes with in mem, but not for mssql

![image](https://user-images.githubusercontent.com/2411563/68022542-ee0a4f80-fca4-11e9-88ad-d9d44e4dcc37.png)

[2019-11-01 11:45] generik0 commented on #18020
@ajcvickers So what is the correct way to make the server do it?
I mean why does the linq not translate to sql. e.g.:

WHERE convert(varbinary, myField) = convert(varbinary, value)

?

[2019-11-01 11:49] dalton5 opened #18696 "Bug in EF Core?"
Hi,

I have described the whole issue on stack overflow.

I think there is an issue when ef will track all objects that been queried and modified.

In my case, my object hasn't been modified but my updated Entity is modified while they both share same id.

And it seems ef core is confused

Link is below: https://stackoverflow.com/questions/58652464/ef-core-update-with-tracked-objects

[2019-11-01 11:58] blakeex opened #18697 "How to overwrite/set the nested owned types property?"
I am using EF Core 2.2 & here are my entity classes.

BigBoss class
[code]
BigBoss class owns SmallBoss,which owns Secretary and so on.

Here is the hierarchy: BigBoss -> SmallBoss -> Secretary.
Secretary has a foreign key which is Intern.
[code]
Here is how I setup the owned entity with data context (simplified for example purpose):
[code]
When I am about to overwrite/set the `SmallBoss` property

[2019-11-01 12:09] 0Lucifer0 commented on #18020
It actually run on the clientside which is not something wanted in netcore 3. Running anything clientside is actually bad as it mean you get all the data.
Depending on the db you are targetting there is way to specify case insensitive.
In my specific case I just to lower which is server side and use it as comparison.

[2019-11-01 12:14] generik0 commented on #18020
hi @0Lucifer0 so s.Name.ToLower() == username.ToLower() gets passed by the ORM as LOWER([Name]) = LOWER(@username)

?thx

[2019-11-01 12:31] 0Lucifer0 commented on #18020
Yes like this https://github.com/NosCoreIO/NosCore/blob/b48e3c1089c398419a7c59f2bbc4faa665ac186b/src/NosCore.GameObject/Networking/LoginService/LoginService.cs#L87

[2019-11-01 12:35] generik0 commented on #18695
Hmm. I tried adding the DbCommandInterceptor, did not breakpoint on any of the overrides...

[2019-11-01 12:47] Neme12 commented on #17935
Is there no workaround for this?

[2019-11-01 13:01] generik0 commented on #18020
@0Lucifer0 cheers. I still think that the ORM should translate the string.Equals(s.Name, username, StringComparison.OrdinalIgnoreCase to the best server-side behavior. But I guess that's life :-)

[2019-11-01 13:03] StefanSimion commented on #17935
@Neme12  I couldn't find any workarounds.
The only thing that saved me was to upgrade to .NET Core 3.1 preview1.

[2019-11-01 13:24] twDuke opened #18698 "Using in memory db when saving a set of objects with foreign keys"
When saving a set of objects with keys not under db context control, in memory database throws exception when saving changes thinking that the objects do not exist.
Worked in version 2.6.

### Steps to reproduce
https://github.com/twDuke/ef-core-in-mem-bug

### Further technical details

EF Core version: 3.0.0
Database provider: InMemory
Target framework: (e.g. .NET Core 3.0)
Operating system: Win

[2019-11-01 14:19] AdamDotNet commented on #18646
@ajcvickers - Thanks for the explanation! I'll have to see how best to move forward now that I know.

[2019-11-01 14:43] ajcvickers commented on #18650
@donhuvy Do you have a global.json file anywhere in your solution? It could be pinning the older SDK.

[2019-11-01 15:08] ajcvickers commented on #18310
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:10] ajcvickers commented on #18449
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:10] ajcvickers commented on #18469
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:11] ajcvickers commented on #18528
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:12] smitpatel commented on #18695
@generik0 - The first query seems like duplicate of #17342, we have fixed that for 3.1 release.
The second query - string equals method with StringComparison argument was never translated in EF Core. See #1222 which is tracking it and discussion why it is not easy to do. It was being evaluated in previous versions of EF, now it is throwing exception as EF Core 3.0 does not allow client evaluation.

[2019-11-01 15:12] ajcvickers commented on #18535
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:14] ajcvickers commented on #18581
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-01 15:21] AndriySvyryd commented on #18697
This was fixed in 3.1 Try again after updating (or using a nightly build) and post the exception message if is still doesn't work.

[2019-11-01 15:21] ajcvickers commented on #18671
@nexawo This question is too vague. For example, at what point do you want to get all entities? From the built model?

[2019-11-01 15:25] generik0 commented on #18695
HI @smitpatel . Thanks for answering! :-)

My point is **not** that EF Core 3.0 is failing for MS. That is what it is.

My point is that the Memory Db, is not falling for the queries that the real db is failing for.....

How can I use the Memory Db for testing, if we can not trust it behaves the same way when we query? 😨

In other words. if the memory db is to be used for testing, e.g. repos (whic

[2019-11-01 15:27] generik0 commented on #18695
Again, if the mssql ef core LINQ fails for translations, the memory really also should too.. Otherwise, test with the memory db has no value at all... :-/
Does it make sense what I am trying to convey here?

[2019-11-01 15:28] donhuvy commented on #18650
Thank @ajcvickers , I use [this dependency](https://github.com/DevExpress/Blazor/tree/master/tools/DevExpress.Blazor.DocumentMetadata) in my solution.

[2019-11-01 15:30] ajcvickers commented on #18681
@roji I believe if the facets are set on parameters, then SqlClient starts truncating the values, and it does so in a way that is inconsistent with how SQL Server would round otherwise. A quick search found #6538, although that may be more about issues with the temp table in the update pipeline--but that could be related here.

I think we need a good repro and then we need to really understand the

[2019-11-01 15:33] ajcvickers commented on #18695
You can't. See the discussion here: #18457

[2019-11-01 15:38] generik0 commented on #18695
@ajcvickers, oh, that is bad new. The InMemeroy Db rocked.. And a clear advantage when using the repo pattern and TDDing / integration tests...

[2019-11-01 15:45] generik0 commented on #18457
Sqlite memory is an interesting alternative, however the sqlite requires migrations. This means you need to maintain multiple migrations. Also the sqlite does not support all types that MsSql does.. So can you trust it?...

We use the InMemoryDatabase a lot! And (until some issues in efcore 3) it has been wiked 🚀 !
Its all about patterns and how we divide our application up in responsibility.

Whe

[2019-11-01 15:54] ajcvickers commented on #18650
@donhuvy Can you explain the relevance of that dependency?

[2019-11-01 16:29] mattheiler commented on #10012
I see you were hoping on getting this in 3.0. Looks like it's still an issue. Any update on this? Is this punted for 3.1 now?

[2019-11-01 16:35] smitpatel commented on #10012
@mattheiler - While this issue is not marked as fixed, many of this scenarios could already be working. We have done work to improve implementation to make such queries translate though we did not have time to go through various queries to find edge case bugs. You can try running your query on 3.0 (or even better 3.1 preview) and it may be working already. If it is not then there is always easy wo

[2019-11-01 16:38] ajcvickers opened #18700 "Remove row-number paging code"
If #16400 is not implemented.

[2019-11-01 16:39] ajcvickers commented on #18667
See also #18700

[2019-11-01 16:48] ghost opened #18702 "Is DbContextPool populated lazily?"
This is more of a question than a feature request... Namely, is the `DbContext` pool populated with a full complement of instances on startup (128 by default), or are instances created lazily as they are requested? I assume its the latter, but just want to be sure.

**What problem are you trying to solve?**
I have a background service app that does some work every few minutes, forever. During each

[2019-11-01 17:01] bricelam commented on #18317
@ericsink Gentle ping. You still intend to release 2.0.2 fairly soon, right? (We're just making sure our ducks are in a line for our 3.1.0 release)

[2019-11-01 17:05] ericsink commented on #18317
Ouch! Thanks for the nag. I actually forgot that I left 2.0.2 in a -pre state.

I'll get on that ASAP.

[2019-11-01 17:18] ajcvickers commented on #18570
Ping @smitpatel

[2019-11-01 17:22] ajcvickers commented on #18636
@smitpatel to show different way to write query.

[2019-11-01 17:23] ajcvickers commented on #18653
@maumar to look for duplicate.

[2019-11-01 17:31] ajcvickers commented on #18673
Note from triage: do the 3.1 relational fix for Cosmos.

[2019-11-01 17:40] ajcvickers commented on #18087
@roji Co-assigning @smitpatel to look at this today for 3.1.

[2019-11-01 17:57] mattheiler commented on #10012
@smitpatel I'll put together an example to reproduce. Thanks!

[2019-11-01 17:57] AndriySvyryd opened #18705 "Add perf tests that use buffering"
i.e. with a retrying execution strategy

[2019-11-01 18:09] Neme12 commented on #17935
I don't get it. Nullable owned entity types are a new feature but when I simply assign to it to make it non-null, I get an exception...? This is the most basic usage I could think of. If this doesn't work... then what does? Owned entity types are now completely unusable 😞  And it's not like I have a choice in making them nullable - it didn't used to be null, and now it is, and I can't make it not

[2019-11-01 18:14] smitpatel commented on #18636
[code]

[2019-11-01 18:17] maumar commented on #18653
dupe of #17653

[2019-11-01 18:38] ericsink commented on #18317
@bricelam

OK, 2.0.2 has been pushed up to nuget.org.  Sorry I dropped the ball on this.  How embarrassing.

There were no changes since the last -pre.

I re-reviewed all the relevant issues, re-read all the diffs since 2.0.1, and re-ran all the tests.  It all looks solid.  Let me know if you encounter any problems.

[2019-11-01 18:54] ajcvickers commented on #18608
Re-opening to discuss in triage.

[2019-11-01 18:54] bricelam commented on #18645
I'd need a repro do dig into it. The full `--verbose` output might be helpful too.

[2019-11-01 18:57] bricelam commented on #18317
Thanks! Submitted PR #18706 to update.

[2019-11-01 18:57] ajcvickers commented on #4922
@AdamJachocki See #16103

[2019-11-01 19:00] bricelam commented on #16667
I didn't get a response from SpatiaLite. I'm working on just building it myself without PROJ over in [bricelam/mod_spatialite-NuGet](https://github.com/bricelam/mod_spatialite-NuGet)

[2019-11-01 19:11] AndriySvyryd opened #18707 "Cosmos: run CI tests on an emulator"

[2019-11-01 19:42] bricelam opened #18708 "Migrations: SnapshotModelProcessor not used when generating SQL"
This could lead to errors or incorrect SQL on older migrations.

[2019-11-01 19:43] alwilton commented on #16386
This issue has been driving me nuts. Yes, it seems machine based. From my main workstation which has been installed from scratch one month ago and is a Windows 10 Enterprise Version 1903 with VS 2019 16.3.7 running (Get-Project ApiAuthSample).ConfigurationManager.ActiveConfiguration on a problem project I get
DTE               : System.__ComObject
Collection        : System.__ComObject
Configurati

[2019-11-01 19:54] bricelam commented on #18620
Another idea I has was to only put the *store* model in the *.Designer.cs files, but this doesn't work. We need the full model when removing a migration.

[2019-11-01 20:01] TheFanatr commented on #18696
I posted an answer to your post at the link you provided. What seems to be happening is that when you are calling `UpdateAsync` on your repository type, it is attaching an entity to a database context which is already tracking it. The solution is to not attempt to attach it again, but rather to just call `UpdateAsync` directly on a context tracking the object.

[2019-11-01 20:03] AndriySvyryd commented on #18708
Mitigated by https://github.com/aspnet/EntityFrameworkCore/issues/18557
Might be superseded by https://github.com/aspnet/EntityFrameworkCore/issues/18620

[2019-11-01 20:09] TheFanatr commented on #15289
I have a fix implemented on a local copy of the master branch via inheriting `StateManager` from a class and overriding `StateChanging` to include a call to `ValueGenerationManager.Generate(entry)` and adding the aforementioned derived class's type to the internal service collection via modifying the `CosmosServiceCollectionExtensions.AddEntityFrameworkCosmos` to include a `EntityFrameworkServices

[2019-11-01 20:10] TheFanatr commented on #15289
This is messy because it does not account for other values that are generated, and more specifically, making sure that those generators don't run and replace existing data. But as for generating the shadow properties required for the Cosmos DB provider to work correctly, this suffices for me as it also fixes the problem of `Reload` not working.

[2019-11-01 20:14] TheFanatr commented on #15289
I've never touched the source to Entity Framework Core in my life so this took some long hours (15+) of debugging; maybe it should be more clear somewhere that this provider is not to be used in it's current state. To further back that up, I've now found that loading reference navigation properties does not work and will post an issue soon enough.

[2019-11-01 20:20] AndriySvyryd commented on #15289
@TheFanatr `Reload` should be working in the nightly builds. The current limitations of the Cosmos provider are listed on [this page](https://docs.microsoft.com/en-us/ef/core/providers/cosmos/limitations)

[2019-11-01 20:22] maumar commented on #15994
there are still sql asserts disabled with this issue, re-opening

[2019-11-01 20:23] TheFanatr commented on #15289
I did try with the nightly builds on the 30th, and it did not work. I set up a reproduction project and just debugged it myself with the Entity Framework Core source from master. I can send post it if you would like.

[2019-11-01 20:24] TheFanatr commented on #15289
The failure mode was an exception saying that the model was not finalized.

[2019-11-01 20:28] AndriySvyryd commented on #15289
@TheFanatr If Reload doesn't work then please create a new issue with a small repro project that uses an officially built nightly package

[2019-11-01 20:29] TheFanatr commented on #15289
Ok, sounds good.

[2019-11-01 21:02] AndriySvyryd commented on #18702
@DanVicarel It's the latter. If at most N instances are used concurrently there shouldn't be more than N + 1 instances in the pool.

[2019-11-01 21:03] maumar opened #18709 "Query: expression printer should still print type argument for Cast and OfType"
Currently just prints out Method name, like for all other Enumerable/Queryable methods

[2019-11-01 21:08] smitpatel commented on #18087
Decision:
Casting to implemented interface is removed from the tree - so translates correctly.
Casting to non-implemented interface is kept in the tree - and throws translation error
Casting to object is removed from the tree - so translates correctly.
Casting to basetype/derivedtype will update the navigation tree accordingly.

[2019-11-01 21:11] TheFanatr opened #18710 "Comsos Provider EntityEntry.ReloadAsync Non-Functional"
Using the `Microsoft.EntityFrameworkCore.Cosmos` nightly alpha of the master branch at `5.0.0-alpha1.19551.4` results in a bug when reloading data via `EntityEntry.ReloadAsync`. The following exception is thrown.
[code]
## Steps to reproduce

### Database Context

[code]

### Models

[code]

### Console Program Class

[code]

### Further technical details

Version: `5.0.0-alpha1.19551.4`
Provider:

[2019-11-01 21:11] AndriySvyryd commented on #18681
If we decide to do this it would need to be opt-in to avoid the breaking change as we've seen many instances where the model facets don't match the database (and everything works).

[2019-11-01 21:11] smitpatel opened #18711 "Remove creative programming"
#18693 we needed a constant when projecting out a single result from subquery. Each constant need typemapping assigned which we don't have there. In order to get such constant, we use Limit from subquery which is guaranteed to have constant 1 with int type mapping.

[2019-11-01 21:40] leventefarkas commented on #10065
Hi guys!
I found a solution, but not nice. Downgrade Microsoft.EntityFrameworkCore.Design to 2.2.6 version. This is not nice but works and when fixed the bug, upgrade the version.

[2019-11-01 21:52] ajcvickers commented on #18633
Note from triage: we should generate a unidirectional relationship here.

[2019-11-01 21:53] ajcvickers commented on #18647
Note from triage: given that this isn't always the correct thing to do, and given that the tools already have a more general way to choose the tables, we're not going to implement a specific flag juts for this case.

[2019-11-01 22:11] ajcvickers commented on #18662
@tfadler This is because the in-memory provider doesn't handle these types by default. A workaround is to add value converters when using the in-memory database:

[code]

I'm putting this issue on the backlog to make these (or similar) converters built-in so the conversion is done automatically for any provider that doesn't support these types natively.

[2019-11-01 22:15] #18667 closed

[2019-11-01 22:19] AndriySvyryd commented on #18710
Note to implementor: the `Reload` query contains non-persisted properties, they can be filtered out in a Cosmos-specific `IEntityFinder` or in Core when https://github.com/aspnet/EntityFrameworkCore/issues/14121 is implemented

[2019-11-01 22:21] maumar commented on #18689
Another optimization available on sql server:

[code]

since NOT(a) on sql server (assuming we dont run relational null semantics) can never be null

[2019-11-01 22:26] ajcvickers commented on #18696
@dalton5 This usually indicates that the DbContext instance is being re-used for more than one unit-of-work. Make sure a new context instance is being used each time you want to send an update.

If this doesn't fix your issue, then please post a small, runnable project/solution that demonstrates the behavior you are seeing so that we can investigate.

[2019-11-01 22:26] maumar commented on #18689
removing properse-close, there is decent value in doing it in the future, imo

[2019-11-01 22:30] tfadler commented on #18662
@ajcvickers Yes that would be a good work around and is for just in memory database.

I was hoping to have an in memory database for some Integration Tests.  My boss will likely want to still have those be native type in the actual (postgresql) database.  So I can't put the conversions in my  OnModelCreating() for my dbcontext.

I guess I could write a new dbcontext class (for ITs) that inherits m

[2019-11-01 22:31] #17287 closed

[2019-11-01 22:38] ajcvickers commented on #18698
This is due to an [intentional change made in 3.0](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#dc) that brings DetectChanges into alignment with attaching entities with regard to how generated key values are interpreted.

This discussion may also be helpful: https://github.com/aspnet/EntityFrameworkCore/issues/18055#issuecomment-546068893

[2019-11-01 23:01] dalton5 commented on #18696
Thanks for the replies. I tried this to replace the accomplishment in the context.

`  var acc = _accomplishmentRepository.GetAll().Where(a => a.Id == input.Id.Value).Include(a => a.Categories).FirstOrDefault();

            var context = _dbContextProvider.GetDbContext(Abp.MultiTenancy.MultiTenancySides.Host);
            var updatedEntity = ObjectMapper.Map(input, acc);
            var c = conte

[2019-11-01 23:04] ajcvickers commented on #18570
Verified same behavior with EF6:
[code]

[2019-11-01 23:05] ajcvickers commented on #18696
@dalton5 Please post a small, runnable project/solution that demonstrates the behavior you are seeing so that we can investigate.

[2019-11-01 23:06] #18087 closed

[2019-11-01 23:07] maumar commented on #18200
closing as dupe of #12657

[2019-11-01 23:12] dalton5 commented on #18696
I use a global project with ABP. It will be difficult to provide a simple project. May I provide remote session with TeamViewer?

[2019-11-01 23:27] dalton5 commented on #18696
For details this is the stack trace of the error:

   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.IdentityMap`1.ThrowIdentityConflict(InternalEntityEntry entry)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.IdentityMap`1.Add(TKey key, InternalEntityEntry entry, Boolean updateDuplicate)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.StartTracking

[2019-11-01 23:49] maumar opened #18714 "Query: add default implementation for SqlExpressionVisitor"
currently all VisitSql* methods are abstract, so either we are forced to use ExpressionVisitor or implement all methods, even when only few are relevant

[2019-11-01 23:51] maumar commented on #18714
apparently not needed :trollface: - closing

[2019-11-01 23:54] waelalshabani opened #18715 "Provide more information when 'No DbContext was found' error is generated"
I have already solved what I'm facing, but thought I should report it since I struggled for an hour trying to figure out the following error message which I think it's unrelated to the problem I had:

### Steps to reproduce

I have a .dll file that contains the migrations classes and DbContext class which were generated by a different solution.
- I created an ASP.NET Core 2.2 project in a separate

[2019-11-02 00:05] #17543 closed

[2019-11-02 00:05] #18525 closed

[2019-11-02 00:05] #18547 closed

[2019-11-02 00:13] #18628 closed

[2019-11-02 00:16] jamesgurung commented on #17543
@maumar Fantastic - will be upgrading from 2.x to 3.1 Preview 2 when it's out!

[2019-11-02 02:18] ChristopherHaws commented on #16369
I have run into this issue as well when running integration tests with the InMemory database provider. I tried to use `EnableServiceProviderCaching(false)` but found that my tests took over 4 min to run (compared to 40 seconds in EF Core 2.2). I was able to just follow the info in the error to disable to ignore the warning/error and all my tests still work and they run in around 45 seconds like th

[2019-11-02 02:23] donhuvy commented on #18650
@ajcvickers My solution has 2 projects (1 project created by me, 1 project is [DevExpress.Blazor.DocumentMetadata](https://github.com/DevExpress/Blazor/tree/master/tools/DevExpress.Blazor.DocumentMetadata) . In the second project, it used something related to version `3.0.0` ( https://github.com/DevExpress/Blazor/blob/master/tools/DevExpress.Blazor.DocumentMetadata/DevExpress.Blazor.DocumentMetada

[2019-11-02 10:38] Neme12 opened #18718 "Owned entity doesn't get updated"
After upgrading to EF Core 3.0, I can't update properties on an owned entity.

### Steps to reproduce

Start with this sample app that uses EF Core 2.2.6:
[code]
[code]

I always initialize `UserAction` properties in the class itself to make sure they're never null, even right after creating the entity.

After running this, as expected, `Updated_TimeUtc` will be set in the table row. But if I chan

[2019-11-02 11:10] guardrex commented on #17224
Update: This issue isn't blocking us. We're able to perform integration testing without `UseInternalServiceProvider` and `EnableServiceProviderCaching`. The latest sample project for the [Integration Testing doc](https://docs.microsoft.com/aspnet/core/test/integration-tests) is here ...

https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/test/integration-tests/samples/3.x

This speci

[2019-11-02 12:08] Neme12 opened #18719 "Bring back DbQuery<T>"
In EF Core 2.2, we used a query type similar to this (notice the `Id` property):
[code]

that wasn't mapped to anything - not a table, not a view. We only used it with `FromSql()`. In our DbContext we had:
[code]

After upgrading to EF Core 3.0, I see that `DbQuery` is marked as obsolete, suggesting the use of `DbSet` instead. I was a little confused, because - how will EF Core then be able to tel

[2019-11-02 12:14] Kukkimonsuta commented on #18341
Could you please elaborate why this query is working with `ToArray`, but it's not supposed to work with `Count`? These queries were working in 2.x and it is causing us significant pain when porting to 3.0 since we are using them for paging and discovery of number of possible pages with upper limit.

[2019-11-02 12:30] Neme12 opened #18720 "Allow FromSql on IQueryable<T>"
EF Core 3.0 made a change to remove `FromSql` on `IQueryable<T>` and replace it with `FromSql*` methods on `DbSet<T>` itself, so it's no longer composable. Why is this no longer supported?

My use case was:
I was overriding ASP.NET Core's `UserStore` like this:
[code]

to make sure that the `UserProfiles` collection of `ApplicationUser` is always included, because we are using it everywhere we're

[2019-11-02 12:54] Neme12 opened #18721 "Reconsider breaking change policy"
I was honestly a little surprised by the number and character of breaking changes in .NET Core 3.0

Yes, .NET Framework had a tremendous disadvantage in that almost nothing could be changed, fixed or improved and compatibility was to be taken extremely seriously as any minor bug fix could break millions of existing applications because of a single shared global runtime.

.NET Core was a promise th

[2019-11-02 13:38] JonPSmith opened #18722 "Cosmos DB: OrderBy on nullable property, with mixed null and non-null entries, throws exception"
If I have a nullable property in a class mapped to a Cosmos database, and the database contains a mixture of null and non-null values then when I use an OrderBy I get an exception.

*NOTE: Where clause works OK with mixed null/non-null data.*

### Steps to reproduce
Entity class
[code]
DbContext
[code]
Unit tests - both int? and string
[code]

The exception for the string example is

[code]

### F

[2019-11-02 13:39] MintPlayer opened #18723 "Unable to install dotnet-ef 3.1-preview1"
I'm trying to use the **dotnet ef** tool in my database project for ASP.NET Core.

Installed NuGet packages (project):

- Microsoft.EntityFrameworkCore.SqlServer @ 3.1.0-preview1.19506.2
- Microsoft.EntityFrameworkCore.Tools @ 3.1.0-preview1.19506.2

When I run a dotnet ef command in my project, I'm getting the following error:

[code]

Okay, dotnet-ef is not installed. So let's install it globall

[2019-11-02 13:52] ramanathanv commented on #18685
Hi @smitpatel , @ajcvickers ,
I would like to resolve this issue as a first contribution.
I noticed that there are 5 places in 4 classes where there is a switch statement against NodeType.
ExpressionPrinter.cs, ExpressionEqualityComparer.cs, CSharpHelper.cs, RelationalSqlTranslatingExpressionVisitor.cs.
Can you provide some additional explanation on the issue to help me get going with this?

[2019-11-02 13:52] sudoman281 commented on #13481
I can't create an instance of SqlFragmentExpression - the constructor is internal.

[2019-11-02 13:55] cyptus commented on #13481
@sudoman281 this has been fixed: https://github.com/aspnet/EntityFrameworkCore/pull/18208

[2019-11-02 16:46] AndriySvyryd opened #18724 "Race condition in SpatialiteLoader.FindExtension()"
`GetEnvironmentVariable` is not thread-safe and can return `null` if `SetEnvironmentVariable` is being executed concurrently.

    SpatialiteLoader.FindExtension() line 182
    SpatialiteLoader.Load(DbConnection connection) line 98
    SpatialiteLoader.TryLoad(DbConnection connection) line 68
    SqliteTestStore.ctor(String name, Boolean seed, Boolean sharedCache, Boolean shared) line 44
    Sqlit

[2019-11-02 17:32] BenjaminAbt opened #18725 "Optimize out null checks when translating Enum flags"
I have an enum with corresponding flags.
The goal now is to check whether a property has _one of the passed_ flags.

[code]

### Steps to reproduce

[code]

Following SQL will be fired:
[code]
I don't think this is the correct query: the IS NULL check is unnecessary (column is "int, not null").
If the column could be null, this would even create a wrong query.

### Further technical details

EF Co

[2019-11-02 18:34] #18618 closed

[2019-11-02 19:03] AndriySvyryd commented on #15681
I updated the proposal with a non-generic interface that can be shared between multiple owned types.

[2019-11-02 19:25] ralmsdeveloper commented on #18662
@ajcvickers, I'll take this for me!

[2019-11-02 21:54] bricelam opened #18728 "Enum seed data converted to string yields UPDATE every migration"
[code]
[code]

[code]

[2019-11-02 22:01] bricelam opened #18729 "Error while diffing spatial seed data"
Diffing the model snapshot against the original model in `ModelSnapshotSqlServerTest.SeedData_annotations_are_stored_in_snapshot()` results in the following exception.
[code]

[2019-11-02 23:39] Shiko1st commented on #16386
I have the same issue.
VS Version 16.3.7 under Windows 7, solution with .net core 3

Solution was migrated from .net core 2.2 to .net core 3

When trying to execute Add-Migration command it shows error:
`The specified deps.json [E:\projects\XXX\src-dev\YYY\YYY.deps.json] does not exist`
This deps.json was found in directory where artifacts of the project YYY are located (YYY/bin/Debug/netcoreapp3.

[2019-11-03 03:00] Shiko1st commented on #16386
I've made some additional experiments.
If to roll back to .net core 2.2 and try to add migration in VS 2019, the same problem occurs. As follows from additional output, it uses EF Core 3 to execute Add-Migration command.
If switch to VS 2017, everything is ok.

I tried to investigate command line formed in VS 2017 and found that it contains parameter that was missed in VS 2019:
`--runtimeconfig E:

[2019-11-03 12:36] sygnowskip commented on #13669
@bobvandevijver there is a way to make it queryable, but there are also some restrictions in current EF Core implementations (ID's needs to be generated on server side, so you're not able use database identity), you could find more details here: https://sygnowskip.github.io/domain/natural-identifiers-with-entity-framework-core/

[2019-11-03 13:02] breyed commented on #12560
What if you consider bucketing on the client side to be an inherent part of object-relational mapping rather than client side evaluation? Then group join would fall outside the no-implicit-client-side-evaluation safeguard. If there are a million comments, the developer who writes the query

[code]

expects to pull a million rows from the comment table. Building `ILookup`'s hashtable is already con

[2019-11-03 13:21] breyed commented on #12560
I thought of a downside to my previous post. Even though the grouping isn't expensive, the implicit switch to client-side evaluation can be confusing if the query contains subsequent operations. If the `groupby` is followed by a `where`, I can see it being difficult to generate a meaningful exception showing the user where the client-side evaluation occurred.

Maybe it's best to recommend that the

[2019-11-03 14:15] aburcuburcu opened #18731 "Recursive Insert TEnitiy design time error"
I have an entitiy STUDENT and it has a property GRADE. I want to insert firstly sub entities.
If I try recursive insert because GRADE can contains another sub entitiy too.

My insert function want TEntity, if I cast GRADE as TEntity, code try to assign GRADE as a STUDENT

how can I resolve this problem?

[code]

[2019-11-03 14:23] robinwilson16 commented on #12560
What I was doing to get around this error was to wrap the server part in a `( ).ToListAsync()` and then doing any further client side evaluation after this and then finally calling `.ToList()` at the end to be able to output to the page. Then if only a single result was expected I added `.FirstOrDefault()` onto the end.
The first `ToList()/ToListAsync()` causes EF Core to load the results on the s

[2019-11-03 16:22] Sally-Xu commented on #18618
@roji,

I just downloaded EF Core 3.1.0-preview2.19525.5 and the problem is still there.  Does the EF Core 3.1.0-preview2.19525.5 include this fix?

I haven't got time to setup my machine to try the daily build. Would rather wait for NuGet package to try it.

[2019-11-03 17:28] smitpatel commented on #12560
@breyed - See #17068

[2019-11-03 17:47] breyed commented on #12560
@smitpatel I'd seen #17068 and considered it in conjunction with this issue. Both seemed to stop at identifying that SQL `GROUP` is less versatile than LINQ `GroupBy`. Neither seem to address yet whether LINQ `GroupBy` should be implemented via a SQL `JOIN` with cheap ORM-side grouping.

[2019-11-03 19:04] wertzui opened #18748 "Update CommandTimeout API docs to reference DbCommand.CommandTimeout"
What has to be passes in to get an infinite command timeout?
"0"or "null" or "int.MaxValue"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40adb00a-9d15-8a4b-9db9-48f4686a107e
* Version Independent ID: f57a3648-2f32-5422-4cab-09f0f4080f35
* Content: [RelationalDbContextOptionsBuilder&lt;TBuilder,TExtension&gt;.Command

[2019-11-03 20:46] julielerman opened #18733 "More superflous null checks in EF Core 3.1 preview"
In case you are still trying to hammer these out via something related to https://github.com/aspnet/EntityFrameworkCore/pull/18694 , some simple queries are still adding in IS NOT NULL where I would not expect them.

I have checked these using 3.1.0-preview2.19525.5 as well. (Latest daily build)

Example 1, hard coded predicate

`context.People.Where(p=>p.Name=="Erik").ToList();`

Results in
the f

[2019-11-03 21:01] smitpatel commented on #18733
Latest daily builds are preview3 but I am not sure if they are being published properly. I am sure the fix is not in preview2 builds.

[2019-11-03 21:36] julielerman commented on #18733
Hmm. I  used the version shown on Nuget explicitly. I'll see what happens with "3.1.0-*" and the fees in my Nuget.config file.

[2019-11-03 21:41] julielerman commented on #18733
that and variations aren't giving me preview3 so maybe not published. Anyway...i'll just carry on. You can close this if you know you've already gotten to it.

[2019-11-03 22:38] Racerboymatt commented on #2266
Please create this feature.  For the love of all that is holy!

[2019-11-04 00:07] BrightSoul opened #18734 "[3.0] Owned types are null when Select, Skip and Take are used with Sqlite"
Hello there, I've found an eerie behavior with EFCore 3.0 and Sqlite. Owned types are null when I use Select, Skip and Take because their fields do not appear in the SQL query. Here's a repro project.
[https://github.com/BrightSoul/repro-skip-take-issue](https://github.com/BrightSoul/repro-skip-take-issue)

Here's the gist of it: a simple entity having a `CurrentPrice` property of type `Money`.
[c

[2019-11-04 00:36] davidwengier commented on #16386
Thank you for the in depth information on installed components @alwilton. Unfortunately after installing additional workloads on my machine I still can't reproduce this issue. Looking in Help -> About for me, I see no components that you have that I don't have. Sadly its possible for other components to be installed that don't show in Help -> About so its not an exhaustive list.

If you can, it wo

[2019-11-04 00:54] alwilton commented on #16386
I hope I have done what you have asked for - the report is at https://developercommunity.visualstudio.com/content/problem/804599/the-specified-depsjson-does-not-exist-after-vs-201-1.html

If needed I can send a report from my VM where the commend succeeds.
HTH

[2019-11-04 00:59] dh-connect opened #18735 "Insert after Migration from EF 2 to 3 no longer working"
My inserts are failing with SqlException:
Cannot insert the value NULL into column 'REQ_NO', table 'PRD.dbo.TBL_REQ'; column does not allow nulls. INSERT fails. The statement has been terminated.

after migration with no code change, code worked in EF 2.
Using EF Core v 3.0.0

I debugged and REQ_NO is filled, before sending Add record request.

Failing Code Statement:

[code]

I created a view mod

[2019-11-04 01:49] marchy commented on #2266
Oh fantastic, my apologies for this slipping through and missing the announcement (spatial was one of 3 critical missing features we've been tracking)

[2019-11-04 04:05] lorinkundert opened #18736 "No support for .Net Frameork"
So move to a modern framework, ok, Linux it is

[2019-11-04 04:08] leroylll opened #18737 "Entity Framework Core with Azure Table Storage"
Any plans to have Entity Framework Core work with Azure Table Storage?

[2019-11-04 04:22] jwhitener6 commented on #14467
This was my issue migrating from 2.2 to Core 3.0. spent far too much time figuring this out. It makes sense that [required] would mean non-nullable but I saw nothing in the change notes.

Thanks

[2019-11-04 08:34] MeTitus commented on #795
4 years later and this is still open, when can we expect this to be implemented?

Thanks

[2019-11-04 08:36] bobvandevijver commented on #13669
@sygnowskip As explained in the earlier comments it is not about it not being queryable in the easy explanation of the word, but about converting the query to something the database actually uses. Your link exactly describes what I already did, but when you are going to look at the executed queries, you will see that the filter will be done in memory.

I'm not sure whether or not this now works wi

[2019-11-04 09:02] Shiko1st commented on #16386
I have exception if to run this over my project XXX (Properties object is null):
`(Get-Project XXX).ConfigurationManager.ActiveConfiguration.Properties.Item('OutputPath')`
Will it be useful if I will send report through Report System too?

[2019-11-04 09:18] roji commented on #18618
@Sally-Xu 3.1.0-preview2.19525.5 indeed contains the fix. I retested and as far as I can see the issue is gone, can you please double-check? If you're still seeing a slow build time, could you please provide detailed instructions (similar to the below)?

To test, I created a minimal project with your migrations (see https://github.com/roji/AnalyzerBuildPerf). I've done three tests, executing the f

[2019-11-04 09:39] sygnowskip commented on #13669
@bobvandevijver my queries will be correctly translated to SQL (as WHERE clause) and executed on database, check tests in my source code. It's working on both, EF Core 2.2 and 3.0.

[2019-11-04 10:56] toralux commented on #18636
@smitpatel Thanks, now it's working after changing my code as described.

My example used to work in EF Core 2.x. You can close this issue if backward-compatibility in this situation is not required. Thanks a lot! :)

[2019-11-04 11:10] RaguMP opened #18738 "Projection mapping is not updated when set operation within pending collection"
I am not getting correct result when using "Union" inside the select of objects in Linq query.

My requirement is that I need to match mapper table and get the details by combining two column values into single and return to the object inside "select" statement in linq query. Hence I used "Union" in this scenario.

**Sample Query:**

[code]

For each student, I am getting either first value of "In

[2019-11-04 12:20] salaros commented on #18299
Any news?

[2019-11-04 12:39] AdamJachocki opened #18739 "[BLOCKER] - Migrations, Sqlite and DateTime"
Column which should be of type DateTime is of type TEXT

### Steps to reproduce

Just create simple model like:
class Model
{
    public Guid Id {get; set;}
    public DateTime Start {get;set;}
}

And create a migration.

In Sqlite this column is created as TEXT and not DATETIME.
This is real blocker for me. Is there anything fast that I can do to workaround this?

I am using EfCore 3 with Microso

[2019-11-04 12:40] fergalmoran commented on #18645
Thanks for getting involved @ajcvickers  and @bricelam, I tried to put together a minimal repro over the weekend, and along the way discovered the issue was that I now need the below in the csproj file of the project which contains my migrations.

[code]

[2019-11-04 13:58] MichalLechowski opened #18741 "Cannot translate Contains for simple string comparison (not a collection)"
After upgrading to 3.0 method using Where with string.Contains(string) inside throws translation error.

### Steps to reproduce
[code]

x is an object with properties int Id and string Value.
searchFilter is a simple string.

Exception similiar to the issue when Contains is called on Collections (saw this issue already reported):

Of course it was working fine before upgrading to 3.0. So is there

[2019-11-04 14:09] amazingfox opened #18742 "Exception message thrown by SingleAsync, when sequence contains no element, is vague"
Entity Framework Core's extension method `SingleAsync` throws an exception, if more than one element exists. The message of this exception is vague and does not match with it's synchronous LINQ counterpart `Single`.

For comparison this is the message for the exception that is thrown by the `Single` method.

And here the exception message thrown by `SingleAsync`, which doesn't really tell us what

[2019-11-04 14:28] JValck commented on #15910
For those who came here via SEO: because I needed this functionality myself, I created my own package with lifecycle hooks.

You can download it via [NuGet](https://www.nuget.org/packages/Ramses). Full docs are available on [the Github page of the project](https://github.com/JValck/Ramses).

[2019-11-04 14:29] JValck commented on #15858
For those who came here via SEO: because I needed this functionality myself, I created my own package with lifecycle hooks.

You can download it via [NuGet](https://www.nuget.org/packages/Ramses). Full docs are available on [the Github page of the project](https://github.com/JValck/Ramses).

[2019-11-04 14:37] JValck commented on #626
For those who came here via SEO: because I needed this functionality myself, I created my own package with lifecycle hooks.

You can download it via [NuGet](https://www.nuget.org/packages/Ramses). Full docs are available on [the Github page of the project](https://github.com/JValck/Ramses).

[2019-11-04 16:26] ajcvickers commented on #18696
@dalton5 We have a very high incoming rate of issues on this repo. If you're looking for general help in getting your code working, then Stack Overflow is likely to be a better bet. We're happy to investigate here for specific issues with EF or to answer specific questions on the behavior of EF, but we don't have the time to dig into the details of your application.

[2019-11-04 16:29] ajcvickers commented on #18715
@waelalshabani `update-database` should create the database if it doesn't exist. I will confirm with the team, but this looks to me like a bug with the Pomelo provider.

[2019-11-04 16:31] ajcvickers commented on #16369
@ChristopherHaws It sounds like some tests are sharing an internal service provider, but that still many are being created. A better way forward would be to find out why so many internal service providers are being created and avoid doing that.

[2019-11-04 16:48] #14445 closed

[2019-11-04 16:56] AndriySvyryd commented on #18735
@dh-connect Could you create a small runnable project that exhibits this issue? Preferably without using AutoMapper

[2019-11-04 17:00] ajcvickers commented on #18650
@donhuvy If you have a dependency that _requires_ .NET Core 3.0 but doesn't work on .NET Core 3.1, then it's likely you will have to wait until it is updated. However, this should be rare for anything outside of the .NET Core shared framework itself, so it might be worth following with that dependency to find out why it has this limitation.

[2019-11-04 17:02] chassq commented on #6482
Just as an aside we have been trying to use Azure Data Studio and adding he SQL Profiler extension (Preview: https://docs.microsoft.com/en-us/sql/azure-data-studio/sql-server-profiler-extension?view=sql-server-ver15https://docs.microsoft.com/en-us/sql/azure-data-studio/sql-server-profiler-extension?view=sql-server-ver15). Once we get the filters on the profiler set correctly (e.g. TextData Contain

[2019-11-04 17:05] gbjbaanb commented on #2266
Frankly just write SQL and call it from Dapper (which is brilliant). Use EF for the simple stuff.

[2019-11-04 17:13] AndriySvyryd commented on #795
@MeTitus As soon as it gets through our [planning process](https://docs.microsoft.com/en-us/ef/core/what-is-new/index#release-planning-process) above other features.

[2019-11-04 17:14] ajcvickers commented on #18718
Note for triage: Verified that this still fails with 3.1. preview 3

[2019-11-04 17:21] ajcvickers commented on #17224
@guardrex It depends. If you explicitly want EF  to use a different internal service provider for each test, then, turning off service provider caching is the best option. Otherwise, finding and correcting whatever it is that is causing a new service provider to be built is the best option. If that isn't possible because new dependencies are created for each test and this can't be changed, then ag

[2019-11-04 17:28] ajcvickers commented on #18609
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-04 17:33] guardrex commented on #17224
Fair enough ... I'm not really sure if the community will have that scenario. We certainly haven't had any questions about it yet. I think on that basis that we're ok today with the current guidance and sample.

We'll keep an :ear: open for feedback from the community.

Thanks for your help.

[2019-11-04 17:35] GeraudFabien commented on #795
If you have read you know that you can also use Dapper side by side with ef [core]. If you want it mods now

[2019-11-04 17:35] AndriySvyryd commented on #18722
@JonPSmith [We expected it to not return the items with null values](https://docs.microsoft.com/en-us/ef/core/providers/cosmos/limitations#azure-cosmos-db-limitations), but it should not throw. What is the exception that you get?

[2019-11-04 17:39] yuanxiongwei commented on #795
I think linq2db is a good choice, better than dapper

[2019-11-04 17:45] ajcvickers commented on #18719
@Neme12 We appreciate the feedback, but I think we are going in the correct direction here.

A query type was simply an entity type without a key defined. It could be mapped to a table, or to a view, or not to anything at all. All three of these possible mappings are also valid for entity types with keys. So Migrations working differently just because a type doesn't have a key led to a lot of conf

[2019-11-04 17:49] ajcvickers commented on #18731
@aburcuburcu There isn't enough information here for us to be able to effectively investigate. Please post a small, runnable project/solution or complete code listing that demonstrates what you are trying to do and where it is not working.

[2019-11-04 17:51] ajcvickers commented on #18736
Linux is a good choice for .NET Core.

[2019-11-04 17:53] ajcvickers commented on #18737
@leroylll We currently have no plans. Duplicate of #18514

[2019-11-04 18:00] AndriySvyryd commented on #15663
This is now a dupe of https://github.com/aspnet/EntityFrameworkCore/issues/17890

[2019-11-04 18:33] ajcvickers commented on #18741
@maumar to investigate.

[2019-11-04 18:33] ajcvickers commented on #18742
@smitpatel Is this easy to change?

[2019-11-04 18:36] roji commented on #18738
Also opened as https://github.com/npgsql/efcore.pg/issues/1108, am following up there for now.

[2019-11-04 19:05] JonPSmith commented on #18722
Hi @AndriySvyryd,

Sorry for the blank bug entry. I did put the explanation in there but I must and moved away before saving it. I have the unit tests so it was easy to redo.

[2019-11-04 19:21] olegkap commented on #18715
I have similar issue.
I also get "No DbContext named 'WorkflowDbContext' was found.".
In this case also, all database migration script are in seperate assembly and different DbContext.

When I run "dotnet ef  database update", it creates and applies all database migrations from mine and other assembly just fine but if I try to generate script, it only includes changes from my assembly and when I t

[2019-11-04 20:02] ajcvickers commented on #18657
@MichalLechowski The attribute is working for me--my test code is below. In the test I update a value in the database, confirm that it has updated in the test. Without Rollback, the test fails the second time it is run. With rollback it can be run many times, indicating that the change was committed.

Can you please post a small, runnable project/solution that demonstrates the behavior you are see

[2019-11-04 20:04] AndriySvyryd commented on #18722
This looks like an external issue since you are not using different partitions (EF Core sends a null partition key value if none is specified), so at least the exception message in incorrect.
@j82w Is this a known issue?

[2019-11-04 20:06] smitpatel commented on #18738
My suspicion would be on collection projection after union. May be bug around unique identifier (since inner records are no longer unique)

[2019-11-04 20:08] smitpatel commented on #18742
Easy to change. CoreStrings + copy messages from BCL.
https://github.com/aspnet/EntityFrameworkCore/blob/0279e2274677e3ded9e9a3d16db75961f09486ae/src/EFCore/Query/ShapedQueryCompilingExpressionVisitor.cs#L109-L151

[2019-11-04 20:08] ajcvickers commented on #18672
@smitpatel Still fails with 3.1 preview 3.

[2019-11-04 20:09] AndriySvyryd commented on #11948
@AdamJachocki Please file a new issue with a small runnable project

[2019-11-04 20:09] julielerman commented on #18733
I now have 3.1.0-preview3.19553.2 and can see both of my examples now have no NULL checks in them.
closing and also making sure @ErikEJ sees this :)

[2019-11-04 20:10] smitpatel commented on #18741
Possibly caused by #18486

[2019-11-04 20:11] smitpatel commented on #18672
Do we want to fix this for 3.1? I can investigate (when I get reliable internet)

[2019-11-04 20:17] ajcvickers commented on #18672
@smitpatel Possibly. Is it something you think we would patch? (Since the 3.1 bar is basically now the same as the patch bar.) In other words, how bad is it?

[2019-11-04 20:22] ajcvickers commented on #18721
@Neme12 Thanks for the feedback--I answered a similar question here: https://github.com/aspnet/EntityFrameworkCore/issues/18256#issuecomment-540109273

There is always a balance between breaking for a better experience long-term, and not breaking to keep existing applications running. For 3.0, we may have erred too much on the breaking side, but it will likely take some time before we can really t

[2019-11-04 20:31] AndriySvyryd commented on #18722
@JonPSmith You can work around this by filtering out nulls before the orderby or by mapping an explicit partition key and adding a partition filter to the query.

[2019-11-04 20:33] sygnowskip commented on #11597
@ilmax Could you share some code how you configured your OrderId property with TemporaryLongValueGenerator to be able to UseHiLo / HasDefaultValueSql / UseIdentityColumn?

[2019-11-04 20:36] Davilink opened #18746 "AddAsync but no UpdateAsync ?"
It's more a question than a bug. After reading the difference between DbSet.Add() vs DbSet.AddAsync(), i was wondering why DbSet.UpdateAsync doesn't exists, because :

Extract of the doc for DbSet.Update()

        //     then it will be tracked in the Microsoft.EntityFrameworkCore.EntityState.Modified
        //     state. If the primary key value is not set then it will be tracked in the Microso

[2019-11-04 20:42] smitpatel commented on #18672
Ignored includes mainly, which are easy to find out if you are using it. Work-around is to apply skip/take beforehand doing collection projection.

[2019-11-04 20:42] ajcvickers commented on #18720
@smitpatel This seems to work correctly in 2.2. That is, an IQueryable that is not a DbSet can have FromSql used on it and the results we get back still honor the Include. If FromSql was allowed on IQueryable, would this work with the 3.0 query pipeline?

[2019-11-04 20:44] ajcvickers commented on #18672
@smitpatel Workaround seems okay for now. We can patch if we get more feedback.

[2019-11-04 20:51] ajcvickers commented on #18739
@bricelam Do we already document somewhere how we work with types in SQLite?

[2019-11-04 20:51] LMSSonos commented on #18672
@smitpatel  thanks for the workaround suggestion, but @ajcvickers to be honest, applying the workaround is to search through all queries in the code, in a big application it's a lot of work. Especially as you only get the exception at runtime and it was working in EF2.2 - would be nice if it makes into 3.1

[2019-11-04 20:52] ajcvickers commented on #18715
Note from triage: from the non-provider side, we should surface the error more clearly in cases like this.

[2019-11-04 21:14] ajcvickers commented on #18718
@AndriySvyryd The update bug does appear to be due to the eager initialization of owned entities.

However, do we have guidance on how do deal with getting back a null entity when all properties of the entity are null?

[2019-11-04 21:16] sethjackson opened #18747 "DELETE FROM <table name> does not work as expected in EF Core when using the Microsoft.Data.Sqlite driver"
### To Reproduce

Call `context.Database.ExecuteSqlInterpolated($"DELETE FROM {tableName}")` or call `context.Database.ExecuteSqlRaw("DELETE FROM {0}", tableName)`.

[code]

[code]

[code]

[code]

[code]

This does not work either:

[code]

However this does:

[code]

### Additional context

Microsoft.EntityFramework.Core version: `3.0.0`
Microsoft.Data.Sqlite version: `3.0.0`
Target framework: .

[2019-11-04 21:17] ajcvickers commented on #18723
@MintPlayer Can you try this with preview 2, which is now on NuGet? We believe the issue has already been fixed.

[2019-11-04 21:19] ajcvickers commented on #18734
@smitpatel Is this a duplicate of #18672 If so, maybe we should prepare a patch.

[2019-11-04 21:32] AndriySvyryd commented on #18718
@ajcvickers It's mentioned [here](https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting#usage), but we don't provide the workaround there (adding a required property)

[2019-11-04 21:53] bricelam commented on #18739
Column names are irrelevant to SQLite, Microsoft.Data.Sqlite, and EF Core. If you need it to be DATETIME, make it so:

[code]
or
[code]

[2019-11-04 22:01] ajcvickers commented on #18299
@salaros This issue is in the Backlog milestone. This means that it is not going to happen for the 3.1 release. We will re-assess the backlog following the 3.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-11-04 22:03] ajcvickers commented on #18739
@bricelam Shouldn't we add this to the documentation?

[2019-11-04 22:04] ajcvickers commented on #18645
@bricelam Should we update the breaking change docs to include that you may now need an explicit package reference for Design in your Migrations project?

[2019-11-04 22:06] bricelam commented on #18739
Note, SQLite only supports four [primitive types](https://sqlite.org/datatype3.html): INTEGER, REAL, TEXT, and BLOB. All additional semantics have been added by **System**.Data.SQLite. This is the fundamental between System.Data.SQLite and Microsoft.Data.Sqlite. You are free to wrap SqliteDataReader to add additional semantics:
[code]
Or, if you're using Dapper, add a type handler:
[code]
[code]

[2019-11-04 22:06] bricelam commented on #18739
Yep

[2019-11-04 22:16] marchy commented on #2266
Ughh EF is LITERALLY built for the opposite reason. Complex, domain-driven entities that can be designed code-first as to model your domain as closely as possible, and able to handle complexities across relations, complex types (as of EF Core) and to HIDE as much needless ORM details as possible – not expose them.

If we were looking for a simplistic solution we wouldn't be on EF in the first plac

[2019-11-04 22:18] ajcvickers commented on #18746
@Davilink In that scenario, the database could occasionally be accessed synchronously.  A few follow-up qustions:
* Are you seeing this cause functional issues in your application?
* If so, have you considered using a bigger interval on the sequence to minimize the database access from Update?
* Related to the previous question, what is your primary motivation for using SequenceHiLo?

[2019-11-04 22:30] Davilink commented on #18746
To be honest, i don't have this issue at this moment, because i don't use this strategy. I was only wondering why there was not updateAsync, is it something that you forgot or it just a edge case that wasn,t not worth the effort. It was only by curiosity.

[2019-11-04 22:30] bricelam commented on #18645
I'd need a full repro to fully understand what's going on here. I don't see how the error and fix are at all related.

[2019-11-04 22:34] ajcvickers commented on #18741
/cc @roji since he made the referenced change.

[2019-11-04 22:37] ajcvickers commented on #18645
@fergalmoran Can you post the repro solution that you created that works without the package reference on an earlier version of EF Core?

[2019-11-04 22:50] ajcvickers commented on #18746
@Davilink When AddAsync was implemented it wasn't an issue, since Attach/Update would never mark an entity as Added, and therefore never accessed the database. When that change was made, we could have gone back and added AttachAsync and UpdateAsync at that time, but we didn't because, as you alluded to:
* SequenceHiLo is not commonly used, and even less commonly used correctly
* AddAsync (as oppos

[2019-11-04 23:03] Davilink commented on #18746
Ok

[2019-11-04 23:06] bricelam opened #18749 "Packages include icon twice"
![image](https://user-images.githubusercontent.com/1226749/68165562-9a9e3880-ff14-11e9-884e-ea8eb0d0dd71.png)

cc @aspnet/build

[2019-11-04 23:13] fergalmoran commented on #18645
@bricelam @ajcvickers - 100% adding the above 4 lines to my migrations project fixed the issue, I even removed and re-added to double check. It's late here now but I'll try to put together a minimal repro tomorrow for you (I gave up on creating the repro once I stumbled upon the fix).

[2019-11-04 23:35] dougbu commented on #18749
@wtgodbe please do the needful. Looks like the automated PRs get the PNG files from _both_ your changes and the latest Arcade SDK. I'm surprised this didn't hit errors in an Arcade dependency update PR.

[2019-11-04 23:44] ajcvickers opened #18751 "Review Azure database use"
Specifically those in `Internal Consumption EF test`. The main questions are:
* What is each database being used for?
* Is this still needed?

[2019-11-04 23:44] bricelam commented on #18723
Fixed by #18551

[2019-11-04 23:51] bricelam commented on #18747
Use string concatenation. SQLite doesn't support parameter reference tokens in that part of the SQL.

[2019-11-04 23:54] bricelam commented on #18747
[code]

[2019-11-05 00:32] AndriySvyryd commented on #18722
Found the Cosmos issue: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/733
It might have been fixed in 3.4.0

[2019-11-05 00:49] zulander1 commented on #17389
I am running Entity Framework Core 3.1.0-preview2.19525.5. I don't think this is resolved !

[code]

Microsoft.EntityFrameworkCore.Infrastructure: Information: Entity Framework Core 3.1.0-preview2.19525.5 initialized 'dbContext' using provider 'Microsoft.EntityFrameworkCore.SqlServer' with options: None
Exception thrown: 'System.NullReferenceException' in System.Private.CoreLib.dll
Object referenc

[2019-11-05 01:00] AndriySvyryd opened #18753 "Cosmos: Use the V4 SDK"
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/v4/changelog.md

[2019-11-05 01:42] dh-connect commented on #18735
I did a test bypassing the AutoMapper and mapping it manually.

[code]
The error went away.

So it is the mapped object which is not working any longer. (worked in EF 2)

I have a very large model and don't want to map it all manually, any advice where to go from here?

[2019-11-05 02:02] AndriySvyryd commented on #18735
@dh-connect Try adding the AutoMapper back now to your test and see what output it actually produces and how is it different from the manual object. Perhaps this can be fixed through some changes to the AutoMapper configuration.

[2019-11-05 02:22] AlseinX commented on #1368
So, will many-to-many relationship come with 3.1 LTS?
It would be a significant fixing to make EF Core usable for production in fact.

[2019-11-05 02:22] sethjackson commented on #18747
Ok so I can't use:
[code]
then?

Is there some way for the driver to let the end user know that? That was not clear to me at all.

Also is that a limitation of the driver or SQLite itself?

[2019-11-05 02:34] bricelam commented on #18747
It’s a SQL syntax error. We don’t parse SQL in EF Core or ADO.NET so that super unhelpful error coming from SQLite is the best we can do. Their errors are notoriously vague and unhelpful ☹️

[2019-11-05 03:18] sethjackson commented on #18747
Ah ok. That makes sense.

Thanks so much for your help!! I was able to get it working with the string concatenation snippet. :)

[2019-11-05 03:50] lorinkundert commented on #18736
By dropping support for .NET Framework we lose all of our 3rd party controls and that raises the pain point to where we can replace Windows desktops with Linux

[2019-11-05 04:13] smitpatel commented on #18734
Both of them happens in same area but this has different root cause. Above case specifically is about doing client projection in non-last operation. Any operation which does pushdown can cause not loading the properties.
#18672, we still have entity references just in a form which we did not recognize. Above case, we don't even have entity left after client projection. Nav expansion moves skip/tak

[2019-11-05 04:17] smitpatel commented on #18720
Yes, it will work. I believe, when adding the restriction on DbSet, we explicitly decided that user would have to specify FromSql before Include. Are we changing it?

[2019-11-05 04:33] AndriySvyryd commented on #18736
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/18141

[2019-11-05 04:43] AndriySvyryd commented on #1368
@AlseinX 3.1 is stabilizing release, no new features will be added. Watch #10508 for updates from the EF team.

[2019-11-05 05:53] SoheilHasankhani commented on #2266
It's ridiculous and unpleasantly disappointing, EF core team does not consider community need at all !!!
This feature has been on the backlog for a long time and the community always has asked for implementation. It seems the EF team does not care about community feedback and requirements.

[2019-11-05 07:02] mperdeck opened #18755 "Adding method that returns a Func to Entity Framework model causes exception "InvalidOperationException: The entity type '<>c' requires a primary key to be defined.""
I have a class that I am using successfully as an Entity Framework model. I use .Net Core 2. It has the primary key explicitly defined:

[code]

I added this method to this class:

[code]

Now whenever I access the SsoProfile table via the SsoProfile class, I get the exception:

Same happens when I add this method:

[code]

But when I add this method, there is no exception:

[code]

How can I add

[2019-11-05 08:00] MintPlayer commented on #18723
Done.

1) Install the preview2 SDK: https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.1.100-preview2-windows-x64-installer
2) Update dotnet ef tool:
[code]

[code]

3) dotnet ef migrations add / dotnet ef database update works now

[2019-11-05 08:00] #18723 closed

[2019-11-05 08:12] ilmax commented on #11597
@sygnowskip I will try to come push a sample here on github today or tomorrow CET time, essentially my use case was to wrap the underlying long value into it's own class (OrderId) and have EF treat it like it's underlying value to not use guids. I was able to accomplish this circumventing EF validation so I think this is an unsupported feature and I've not tested it enough.

@ajcvickers I can try

[2019-11-05 10:15] MichalLechowski commented on #18741
@smitpatel I've checked this out and if your suggestion is equality comparer issues then it's not it.

[2019-11-05 10:38] MichalLechowski commented on #18657
Ok, so your example is pretty basic and I guess it might work fine when context is retrieved inside test method. But that's just a guess. In my case there's a whole test setup and context is provided by Fixture.

Something like this (I can't copy/paste production code, sory) so I'll try to write something similar with crucial aspects:

[code]

So that's how the test looks like but there's nothing

[2019-11-05 10:53] matteocontrini commented on #2266
@SoheilHasankhani quite the opposite. This issue is the [3rd most voted](https://github.com/aspnet/EntityFrameworkCore/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) feature request, so with limited resources they will obviously consider the ones that are more requested.

[2019-11-05 11:09] chrisdpratt commented on #2266
@SoheilHasankhani If you read through the full thread, the team has responded multiple times on this. The problem boils down to limited resources and other features have been more important.

While I am sympathetic, I think the calculation of which features the team is focused on is suspect. For example, EF Core didn't *need* to support CosmosDB, but I imagine that decision was made above their pa

[2019-11-05 11:39] AdamJachocki opened #18756 "Decimal type should be NUMERIC in Sqlite"
Now, when one does a migration in Sqlite, all decimal types create TEXT data column in Sqlite database. I think they should create NUMERIC data type according to this (table in 3.1.1 section): https://www.sqlite.org/datatype3.html -> look at DECIMAL(10,5) data type. It should be represented as NUMERIC.

[2019-11-05 11:58] ackava opened #18757 "Error `Cannot INSERT NULL` with Default SQL Value set for Boolean Property"
This was working correctly in EF 2.1

# Model
[code]

# Context
[code]

Test
[code]

# Migration

In migration/creating database, default sql value is required at many places where table rows are inserted by some other stored procedures which are out of scope of EF.

### Steps to reproduce

1. Clone this Repo https://github.com/ackava/ef-core-3-insert-bug
2. Run SQL Query to create table against t

[2019-11-05 12:34] KaptenJon opened #18758 "A select into a decimal model translates to CAST([v].[Value] AS decimal(18,2)) (only two decimals recieved)"
The statement select( new{decimalValue = (decimal) doubleValue}) translates into  CAST([v].[Value] AS decimal(18,2)) resulting in rounding to 2 decimals. Is this really intenden?

### Steps to reproduce
Create a model and corresponding database with float type on Value

[code]
Call it as:
[code]

This will give you a decimal value with maximum 2 decimals.

### Further technical details

EF Core ve

[2019-11-05 13:04] MintPlayer opened #18759 "QueryFilter (cont): KeyNotFoundException: The given key '__ef_filter__p_0' was not present in the dictionary."
Follow up of: https://github.com/aspnet/EntityFrameworkCore/issues/18158
Repository: https://github.com/MintPlayer/QueryFilterIssue (Only mind DotNetCore31)

- I updated the .NET Core SDK
- I updated the NuGet packages in my project
- I'm able to generate the database migrations
- I'm able to perform the database migrations

Now I'm getting the following exception when yielding the DbSet from the

[2019-11-05 13:41] jcemoller commented on #17809
Thanks @smitpatel, just verified with _3.1.0-preview3.19554.8_ but unfortunately the generated SQL is still invalid. I made a diff of the resulting SQL between preview1 and preview3, and the only visible change was related to null checks which seems a bit relaxed in preview3.

[2019-11-05 14:14] roji commented on #18741
@MichalLechowski as we made changes in this area (#18486), can you please try with 3.1.0-preview2 and report the results?

Regardless, I couldn't repro the issue on 3.0 with the following code. If your issue persists with 3.1.0-preview2, could you please submit a full repro such as the following?

[code]

This produces the following SQL (again on 3.0):

[code]

[2019-11-05 14:30] roji commented on #18759
Confirmed that this happens with latest 3.1, minimal repro:

[code]

[2019-11-05 14:45] wrkettlitz opened #18760 "CanConnect() and other methods throw NullReferenceException when run as an Azure container, but works fine on development pc."
[code]

### Further technical details

EF Core version:
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: .NET Core 3.0
Operating system: Docker Container Ubuntu
IDE: Visual Studio 2019 latest preview.

[2019-11-05 15:28] smitpatel commented on #18759
@roji - Things to look at, there should not be any parameter generated. It should be inlined as null constant.

[2019-11-05 15:31] smitpatel commented on #17809
@jcemoller - Thanks for verifying. I will investigate this further.

[2019-11-05 15:31] wrkettlitz commented on #18760
[Looks like this is what fails? I am completly clueless why this happens. I appreciate any help you can offer.](https://imgur.com/a/C7qc2cn)

[2019-11-05 15:41] roji commented on #18759
@smitpatel here's some interesting intermediate findings... In this failing test case, the null ConstantExpression in the query filter has a type of object, and so it seems to be [mistakenly identified](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore/Query/Internal/ParameterExtractingExpressionVisitor.cs#L353) by ContextParameterReplacingExpressionVisitor as IsAssignableFrom t

[2019-11-05 15:55] wrkettlitz commented on #18760
Okay, looks like it crashed because i had an Requiredattribute on a list, I will still keep this issue open because i dont think it is supposed to throw a NullReferenceError, besides, i still dont understand why the error happend in azure but not on the developer pc. So I believe these are 2 bugs.

[2019-11-05 16:01] roji commented on #18759
Oh I understand what's going on... our Northwind entity classes define typed equality operators (==), so in our test, `o.Customer == null` uses that and the null is typed to Customer. In the regular case, on the other hand, there's no equality operator so the null is an Object.

Note that this hasn't bitten us since the codepath using _contextParameterReplacingExpressionVisitor is only taken when

[2019-11-05 16:16] smitpatel commented on #18759
Excluding object sounds like a correct fix.

[2019-11-05 16:20] roji commented on #18759
Thanks @smitpatel! Submitted #18761 to fix.

Seems to me we should consider bringing this into 3.1, /cc @ajcvickers.

[2019-11-05 16:28] ajcvickers commented on #17389
@zulander1 I am not able to reproduce this--see my code below. Please open a _new_ issue and include a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[code]

SQL:
[code]

[2019-11-05 16:55] ajcvickers commented on #18760
Note for triage: key piece here is that the relationship needs to be unidirectional. This results in a null INavigation being passed to the logger.

/cc @AndriySvyryd

[code]

[2019-11-05 17:03] ajcvickers commented on #18759
@roji What is the scope of what is not working? Is it any query filter that compares a navigation property to null? Is it more than that? Are there other conditions?

[2019-11-05 17:05] roji commented on #18759
That's right. There could be some other edge cases - any appearance of something typed as Object in the expression tree would trigger this bug; maybe @smitpatel can think up other cases.

[2019-11-05 17:21] ajcvickers commented on #18759
@roji Okay, sounds common enough to patch. Please create a PR on release/3.1 but don't merge yet. We'll take it through Tactics.
/cc @Pilchie

[2019-11-05 17:27] ajcvickers commented on #11597
@ilmax Doing something basic is fine as long as it isn't a pervasive hack and as long as it doesn't introduce behaviors that would break later when a more complete implementation exists.

[2019-11-05 17:29] smitpatel commented on #18759
From my understanding only non-primitive compared to null. Primitive types have their own Equals. For entity/navigation it is easy to write in terms of key equality by user itself. For a collection type which is mapped to scalar by usage of value converter can cause the issue without work-around.

[2019-11-05 17:31] ajcvickers commented on #18657
@MichalLechowski The part that EF plays in all this seems very minimal--that is, EF enlists the connection into a transaction scope if one has been created. Currently I don't see anything indicating that that is not working. If you are able to create a small, runnable project/solution that demonstrates the behavior you are seeing, then we will investigate further.

[2019-11-05 17:40] ajcvickers commented on #18759
@smitpatel

This is a good workaround. So I guess it depends just how many people will hit this and need to work around it. It seems to me that comparing a navigation to null in a filter would be quite common, but we could wait for more feedback before patching. Let's prepare the PR anyway.

Comparing this to null in a query filter seems much less common.

[2019-11-05 17:48] bricelam commented on #18756
NUMERIC is a type affinity. It means SQLite will prefer REAL (64-bit floating-point values) or INTEGER (64-bit integer values) as the on-disk format.

In .NET, `decimal` represents a 128-bit floating-point value. Coercing these to 64-bit values would be lossy so we persist them as TEXT values.

[2019-11-05 17:51] bricelam commented on #18756
If you don't need the precision, but would still like to work with `decimal` types in your domain model, you can use a value converter:
[code]

[2019-11-05 17:54] ajcvickers commented on #18757
@ackava Configure the property not to use generated values when inserting:
[code]

[2019-11-05 17:54] PawelGerr commented on #16743
I'm getting the same error when using subqueries along with global filters.

[code]

The error is raised in EF Core 2.2.6 only. No exception is thrown when updating to 3.0.

[2019-11-05 18:37] #18725 closed

[2019-11-05 18:38] bricelam commented on #18753
👎 The number four dead to us. We'll just have to wait for v5.

[2019-11-05 18:49] AdamJachocki commented on #18756
I tried to do this in my db context:

[code]

So, as you can see, I want to set column type to numeric, only if DBMS is Sqlite and clr type is decimal. But this does not work. Created column type is still TEXT.

[2019-11-05 18:59] theNETTechie commented on #12290
Getting the same issue with .NET Core 3.0 and EF Core 3.0.  Resolution is to implement operators == & != on the struct.

Stack trace:
System.AggregateException: One or more errors occurred. (Exception has been thrown by the target of an invocation.)
 ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.InvalidOperationException: T

[2019-11-05 19:11] ajcvickers commented on #18662
@tfadler [IModelSource](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore/Infrastructure/IModelSource.cs) can be implemented to decouple OnModelCreating from the DbContext instance.

[2019-11-05 19:16] AndriySvyryd commented on #18662
@tfadler You can add conditional code to OnModelCreating:
[code]

[2019-11-05 19:32] BrightSoul commented on #18593
I don't understand. An `OrderBy(c=> c.DecimalColumn)` should just append "ORDER BY DecimalColumn" to the SQL query. Why does it matter it's a decimal?
The following SQL query runs just fine on a Sqlite database.
[code]
@ajcvickers

Please clarify. Is this what you were referring to?

Suppose there's 100k rows and I just need to fetch the first page of 20 results sorted by that decimal column. How

[2019-11-05 19:34] roji commented on #18759
Am not sure (am outside), but won't this also affect null checks on non-navigation reference properties (e.g. e.SomeStringProperty == null)? Also harder to work around...

[2019-11-05 19:41] ajcvickers commented on #18478
@sharpwood How are you determining that the "precision has not been lost"? I am never able to get the exact value that you are looking for. It certainly appears to me that precision has been lost.

[2019-11-05 19:43] ajcvickers commented on #18720
@smitpatel No decision to change it yet; we will discuss.

[2019-11-05 19:58] mojtabakaviani opened #18764 "Separate EF roadmap from .NET Core"
Next version of .NET Core scheduled for November 2020. this means not add new features to EF Core for one year, while if developing it separated from .NET Core can releasing next version(4,5) very soon before next .NET Core.
Many request features that very important in real projects remained in the Backlog. please change policy and listen user voices!

[2019-11-05 20:04] ajcvickers commented on #18593
@BrightSoul It matters because SQLite [can't store decimal values natively](https://docs.microsoft.com/en-us/ef/core/providers/sqlite/limitations#query-limitations). They must either go through a non-lossy conversion to a text value or a potentially lossy conversion to floating point value. When using the non-lossy conversion, the sort order of those strings is different from the sort order of the

[2019-11-05 20:10] maumar commented on #16093
dupe of #15798

[2019-11-05 20:11] smitpatel opened #18766 "Link release planning process from repo readme"

[2019-11-05 20:25] smitpatel commented on #18759
The null constant for those cases is null of actual type rather than object.

[2019-11-05 20:33] maumar commented on #16955
fixed in https://github.com/aspnet/EntityFrameworkCore/commit/dd92ba3dc60186cb1a36a925824f660da92d8f42

[2019-11-05 20:33] bricelam commented on #13767
Duplicate of #14257

[2019-11-05 20:44] #18709 closed

[2019-11-05 20:44] #18413 closed

[2019-11-05 20:44] Cooksauce opened #18769 "Configuring TPH with Enum Discriminator Throws InvalidOperationException"
There appears to be a bug when configuring by implementing `IEntityTypeConfiguration<TEntity>` ... order should not matter. Otherwise the `ApplyConfigurationsFromAssembly(...);` method can/will throw exception.

An `InvalidOperationException` is thrown with message `The property 'Discriminator' cannot be added to type 'Base' because the type of the corresponding CLR property or field 'Direction' d

[2019-11-05 20:55] AndriySvyryd commented on #18718
@Neme12 The underlying issue is https://github.com/aspnet/EntityFrameworkCore/issues/18007. When `Created` and `Updated` are populated during construction the values aren't replaced with the correct instances coming from the database.

As a workaround you can avoid initializing them:
[code]

 or to do it lazily:
[code]

[2019-11-05 21:00] roji commented on #18759
Reopening to consider for 3.1

[2019-11-05 21:02] maumar commented on #16050
related to  #18555

[2019-11-05 21:12] AndriySvyryd commented on #18755
@mperdeck Can you show how `DefaultSortOrderSelector` is used, where the exception is thrown from and the full stack trace?

[2019-11-05 21:12] roji commented on #18759
Opened PR #18770 against release/3.1.

[2019-11-05 21:40] ajcvickers commented on #18769
Likely duplicate of #15553

[2019-11-05 21:41] maumar commented on #17635
Verified this has been fixed

[2019-11-05 21:44] #16955 closed

[2019-11-05 21:51] Cooksauce commented on #18769
@ajcvickers I saw that issue. In my opinion, I wouldn't classify this as a duplicate. #15553 is an issue with relationships between two hierarchies, while this is a just a single hierarchy and the issue is based around the discriminator name **and** the order of configuration.

I have a repro which demonstrates the bug without any other entities than those above, so I'm 100% sure this isn't caused

[2019-11-05 22:10] Cooksauce commented on #18769
Repro here: https://github.com/Cooksauce/EnumDiscriminatorBug

[2019-11-05 22:39] maumar opened #18772 "Query: sql exception (cant cast from bigint to int) when trying to project result of IndexOf"
query:

[code]

exception:
[code]

Problem is that on SqlServer function CHARINDEX returns bigint if the argument is nvarchar(max)

[2019-11-05 23:05] zulander1 commented on #17389
@ajcvickers nerve mind. There was something wired going with the project... Re-installed package to all project.. all working thanks

[2019-11-05 23:13] maumar opened #18773 "Query: simplify IndexOf translation"
Currently query like:

[code]

gets translated to:

[code]

This seems too complicated. While it's true that **if** argument is and empty string we can short circuit and not compute the result of CHARINDEX function it doesn't seem too common (usually queries are on indexof different than emtpy).
Another reason might have been that for cases when target is null, and argument is empty string we retu

[2019-11-06 00:16] maumar opened #18774 "Query: optimize nested CASE blocks"
Some nested CASE blocks, e.g.:

[code]

can be optimized to:

[code]

In practice we get those kinds of chained CASE blocks in the following scenarios:

[code]

[2019-11-06 00:54] maumar opened #18775 "Query: Simplify aliases for complex projection if being used in order by clause in new pipeline"
query:

[code]

translation:

[code]

expected translation:

[code]

This used to work in the old pipeline - see #6703

[2019-11-06 03:10] MonkeyBrush commented on #18398
See https://github.com/scottksmith95/LINQKit/issues/100 for a preview of LinqKit.Microsoft.EntityFrameworkCore that should work with EF Core 3

[2019-11-06 03:16] smitpatel commented on #16093
There are more tests disabled with this issue number.

[2019-11-06 03:44] prageethmadhu commented on #7891
installing this in package manager save me Microsoft.EntityFrameworkCore.SqlServer

[2019-11-06 03:54] ChristopherHaws commented on #16369
@ajcvickers We have test classes that contain more the 20 unit tests and each test has its own `InMemoryDatabaseRoot` to prevent the tests from conflicting.

[2019-11-06 05:30] mhamri opened #18776 "Request to open PR 5607"
Requesting to merge PR
https://github.com/aspnet/EntityFrameworkCore/pull/5607

I am so upset that the PR was there but didn't merged. it was a long-awaited feature to happen.

as a team, we are doing a feature branch. each branch come with its own migration. as a convention, we are putting the task number in front of the migration and if it's something we needed to write custom script (somethign

[2019-11-06 06:42] davidscherf opened #18777 "Scaffold-DbContext more than 1 Foreign to another table"
My table has
DeviceLocationId
and
ChildDeviceLocationId
that point to the DeviceLocation table

I cannot generate the entity source code

System.InvalidOperationException: The foreign key {'DeviceLocationId'} cannot be added to the entity type 'Device' because a foreign key on the same properties already exists on entity type 'Device' and also targets the key {'DeviceLocationId'} on 'DeviceLocatio

[2019-11-06 08:10] ilmax commented on #11597
@sygnowskip [here](https://github.com/ilmax/efcore-strongly-typed-id) you can find a simple project using strongly typed id with a generated db value (Sql server identity)

[2019-11-06 08:14] ilmax commented on #11597
@ajcvickers my plans are just make the some checks more permissive to allow using identity with strongly types id without circumventing EF like I did in the prototype posted above.

[2019-11-06 08:24] pavinan commented on #18742
@ajcvickers The message returned is correct in ef core 2.2. This is only happening in ef core 3.0. The entire stack strace is changed. May be this should be considered a bug rather than enhancement.

[2019-11-06 10:18] MintPlayer commented on #18158
A simple solution off course is to just declare the UserDeleteId (Nullable<int>) explicitly on the entity, and use following QueryFilter:

    modelBuilder.Entity<Subject>().HasQueryFilter(s => s.UserDeleteId == null)

This would only be possible for simple cases as a temporary workaround (no navigation).

[2019-11-06 10:21] roji commented on #18759
@smitpatel you're right that this isn't a problem for string (which defines an equality operator like our Customer). However, other reference types are affected when used as a simple non-navigation property. For example, checking if a byte array property is null in a query filter also fails; the error is different (`Failed to convert parameter value from a BugContext18759 to a Byte[].; Object must

[2019-11-06 10:21] mahmoudsalahmis commented on #14679
There reason for this error that Azure function does some organising to build artefacts with certain structure and it moves dlls to subdirectory different to the project.dll.

To fix that you need to add PostBuildEvent as following:
[code]

[2019-11-06 10:34] omatrot opened #18778 "Missing schema in generated SQL for ThenInclude"
I have the following EF query:

[code]

The Icon entity is configured as this:

[code]

We can see that the **Icon** table belongs to the **cst** schema.

However, the generated SQL do not include the schema name, thus the query is failing:

[code]
The exception is:

[code]
The correct query needs to include the schema name in front of [Icon]. It should read **[cst].[Icon]**

### Further technical

[2019-11-06 12:03] pauloasantos commented on #18398
Thank you @MonkeyBrush, i was waiting this update.

thank you again

[2019-11-06 12:10] zhou-xb opened #18779 "EF core 3 migration tool ignores Default Database Location property"
I am learning ASP.NET w/ Visual Studio Community 2019, and follow the tutorial to create Razor Pages web app, am just trying the EF core 3 migration tool. I learned that **Update-Database** command always creates database at folder **C:\Users\<current user>**, although I changed the **Default Database Location** property of server (localdb)\MSSQLLocalDB to other folder.

I hope the migration tool

[2019-11-06 13:08] Q-Tec90 opened #18780 "Database First code generation won't trigger if project can't compile"
Hello,
I just had an issue with the generation for the entity classes as well as the context class.
Mostly I am working with database first and while testing out the new ef core I had multiple issues.
1) The ef tool is no longer default in the dotnetcore sdk. Took me some time to undestand the fact that it has been moved out and needs to be installed additionally.
2) if you are working on an proje

[2019-11-06 13:11] fschlaef commented on #17942
@smitpatel @roji Confirmed fixed as of `3.1.0-preview3.19554.8` 👍

[2019-11-06 13:45] shoe-diamente commented on #18418
Oh right, sorry. Misread.

[2019-11-06 14:01] roji commented on #17942
@fschlaef thanks for confirming!

[2019-11-06 14:11] fschlaef commented on #17287
@smitpatel Confirmed fixed as of `3.1.0-preview3.19554.8` 👍

[2019-11-06 14:59] chadgruka commented on #18718
Which version is this workaround for? 3.0 or 3.1 preview?

[2019-11-06 15:57] glararan opened #18781 "[2.2.7] SingleOrDefault() throws exception while database contains only one row"
I have table Categories. Some category pages thows exception "Sequence contains more than one..." even if database table contains just one row.

### Steps to reproduce
- Well I dont know how to simple reproduce it for this issue. I dont know why 99% categories works. But few ones not. I mean I dont know what to write for reproducing.

[code]

**Got Exceptions? Include both the message and the stac

[2019-11-06 15:57] odk0706 opened #18782 "Performance gain after adding HasValue check to nullable type comparison"
For some reason, we get a big performance gain when we add an additional HasValue check to nullable long type comparison. Is this behavior on purpose or can this be labeled as a bug?

Does this maybe have something to do with UseRelationalNulls?

### Steps to reproduce

[code]

[code]

### Test results:

The query was executed on a SQL Server 2016 (13.0.5081)  database with around 6.7 million reco

[2019-11-06 16:17] ErikEJ commented on #18780
Just use EF Core Power Tools (disclaimer: I am the author)

[2019-11-06 16:26] smitpatel commented on #18778
@aspnet/efteam should investigate this for 3.1. Code looks fine in flowing schema.

[2019-11-06 16:28] smitpatel commented on #18775
It used work in old pipeline with a lot of bugs :trollface:

Should be easy step in posttranslation.

[2019-11-06 17:04] ajcvickers commented on #18780
Related to #9716
/cc @bricelam

[2019-11-06 17:09] roji commented on #18516
Here is some analysis/thoughts about QueryCompiler. It's my first time in this area so I'm probably missing context etc.

tl;dr I don't think we have a bug, but we do have a non-ideal spinning loop which should be fixed. Also not sure the synchronization in question is necessary.

* Some services participating in compilation are scoped (e.g. IQueryCompiler, IDatabase), while others are instantiate

[2019-11-06 17:10] ErikEJ commented on #18782
I think this is fixed in 3.1

[2019-11-06 17:14] ErikEJ commented on #18777
Please share the schema of the two involved tables

[2019-11-06 17:16] ajcvickers commented on #18782
@maumar Is this already fixed?

[2019-11-06 17:23] ajcvickers commented on #11597
@ilmax I would start by writing a bunch of tests for the types of converters you want to cover with different kinds of value generation enabled.

[2019-11-06 17:26] ajcvickers commented on #18776
Why do you need to do this? Why not edit the generated migration?

Why not just add another migration?

Migrations are not generated with the intention that they will never be changed. Using EF to scaffold a migration is a starting point. It is intended that the migration then be edited as needed.

[2019-11-06 17:31] AndriySvyryd commented on #18718
@chadgruka It should work for any 3.x version

[2019-11-06 17:36] ajcvickers commented on #18756
@AdamJachocki I am not able to reproduce this. Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-11-06 17:41] ajcvickers commented on #18778
@smitpatel Do you think we will be able to reproduce this with just the information provided above? Do you think we will hit this even for simple queries?

[2019-11-06 18:01] sygnowskip commented on #11597
Thanks @ilmax, your solution is not working on EF Core 3.0 (working on 2.2.6), but based on your solution I was able to produce working version for EF Core 3.0 😃 Thanks!

[2019-11-06 18:14] sygnowskip commented on #13669
And after additional research, I was able to configure natural ID's and IDENTITY INSERT on database @bobvandevijver - solution for this is here https://github.com/sygnowskip/sygnowskip.github.io/tree/feature/support-for-numeric-natural-ids/sources/2019-11-03-natural-identifiers-with-entity-framework-core/NaturalIdentifiers

[2019-11-06 18:40] sygnowskip commented on #11597
@ilmax do I understand correctly that you're working on adding support for object IDs to EF Core? I'm willing to help you with implementation, because it's quite important feature for me.

Also, I thought about moving those ValueConverters / ValueSelectors to some nuget package like `EntityFrameworkCore.Identifier` and share it with people that are looking for this feature, but maybe it's a better

[2019-11-06 18:56] bricelam commented on #18780
We load the provider, design, and plugin assemblies via the project and give you a hook to customize the design-time services (e.g. use a custom pluralizer or code generator).

Without this, we’d need to duplicate a lot of the work of NuGet and MSBuild.

I love that the PowerTools don’t need to build the project, but it comes at a cost—they have to include all the provider and plugin assemblies an

[2019-11-06 18:56] gbjbaanb commented on #2266
EF LITERALLY doesn't do this, which is why this issue exists. So you have a choice of doing your DB in a DB-first approach, or trying to fudge your c# domain to fit what EF will let you have. In practical terms, that's only one real choice.

[2019-11-06 19:01] ErikEJ commented on #18780
No hook? You can customize some services via the configuration UI / JSON file

[2019-11-06 19:05] ajcvickers commented on #18758
@smitpatel I assume this is because we use the default type mapping for decimal?

[2019-11-06 19:09] ajcvickers commented on #18742
@pavinan Exception messages and stack traces are both non-stable from release to release. (Indeed, stack traces may not be stable from built to build.) Applications should not rely on these things staying the same.

[2019-11-06 19:32] brendansojo commented on #2266
EF *Core* doesn't do this; EF—all versions—SHOULD do this. Which is why most of us are ignoring EF Core and sticking with EF6 (or other). If MS wants us to take up Core they need to fix this. Otherwise it's just a toy tech - not suitable for serious enterprise development.

We know that other stuff is being prioritized. We get it. Which is precisely why we're all here, advocating for change.

[2019-11-06 19:56] smitpatel commented on #18782
HasValue check will short-circuit early in case of null hence performance gain. I believe in 3.1 we added that logic in our pipeline too that if you write HasValue like that, the column in the right side of && will always be non-null if it reached there.

[2019-11-06 19:57] smitpatel commented on #18758
Yes, that is correct.

[2019-11-06 20:16] ZombiesWithCoffee commented on #15047
Once I added System.Interactive.Async 4.0 - I now get

TypeLoadException: Could not load type 'System.Collections.Generic.IAsyncEnumerable`1' from assembly 'System.Interactive.Async, Version=4.0.0.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263'.

[2019-11-06 21:03] KaptenJon commented on #18758
@smitpatel Are there any cases when that default type mapping is actual relevant. Or is the solution to actually change that default mapping. I cannot come up with any cases.

[2019-11-06 21:30] ajcvickers opened #18784 "Remove obsolete APIs for 5.0"

[2019-11-06 21:32] RafaelSalguero opened #18785 "Add-Migration generates nullable columns for non-nullable properties inside owned types"
Migration tool `Add-Migration` generates code for adding a nullable column for non-nullable properties inside owned types

### Steps to reproduce
1.- C# 8 nullable checks are on
2.- Add a non-nullable property to an `Owned` type
3.- Run `Add-Migration`
4.- `nullable: true` code is generated

[code]

Generated code:
[code]

### Further technical details

EF Core version: 3.0.0
Database provider: Mi

[2019-11-06 21:48] roji opened #18786 "Split SimpleQuery tests into different classes"
We currently have a mammoth SimpleQueryTestBase, split across several files with partial classes. We could maintain the same split (Where, Select, Functions...) but using actual classes instead. This seems like it would improve IDE performance (will confirm this if people are OK with the idea), would make it much easier to filter tests via the command (i.e. by class name), etc. Of course we'd stil

[2019-11-06 21:52] ajcvickers commented on #18758
@KaptenJon The _default_ type mapping is used because the use of `decimal` here is not associated with any decimal column in the database for which a different type mapping might be used. Implementation of #4978 would allow this to be changed.

[2019-11-06 21:58] ajcvickers commented on #18785
Duplicate of #16943

[2019-11-06 22:05] AbrahamLopez10 commented on #18658
Hi @smitpatel , I also encountered this issue. I'm running .NET Core 3.0 and EF Core 3.0.

Basically, code like the one below fails saying the LINQ expression cannot be converted to SQL and that I need to use `.AsEnumerable()`:

[code]

In the code above, if I change `appNames` from `ICollection<string>` to just `string[]` then the error is gone and the LINQ expression is translated to SQL.

I'd h

[2019-11-06 22:06] AbrahamLopez10 commented on #18741
Hi @roji , I encountered a issue very similar to this one. I'm running .NET Core 3.0 and EF Core 3.0.

Basically, code like the one below fails saying the LINQ expression cannot be converted to SQL and that I need to use `.AsEnumerable()`:

[code]

In the code above, if I change `appNames` from `ICollection<string>` to just `string[]` then the error is gone and the LINQ expression is translated to

[2019-11-06 22:06] roji opened #18788 "Support bitwise complement (non-boolean Expression.Not)"
*DISCLAIMER*: I got sucked into this just as I was about to go home, so technically this is a project done on my free personal time!

Our codebase mistakenly assumes in various places that ExpressionType.Not is boolean. Make sure bitwise complement (non-boolean ExpressionType.Not) is properly translated.

Supported by SqlServer, Sqlite, PostgreSQL, even Cosmos...

[2019-11-06 22:16] roji commented on #18741
@AbrahamLopez10 can you please try 3.1.0-preview2 as I suggested above?

[2019-11-06 22:27] IGx89 commented on #18782
Just ran into this bug ourselves. Query conditions in EF Core 2.2 were:
[code]
and in EF Core 3.0 are:
[code]
Our Azure SQL Server database that was running very comfortable at 20 DTUs in production started maxing out 200 DTUs after our deploy completely due to that query change. This is a hard issue to catch in non-prod environments unless you're able to simulate production-level loads -- due to

[2019-11-06 22:47] maumar commented on #18782
@odk0706 @IGx89 this issue has been fixed in 3.1, we removed unnecessary null checks so the performance around null comparisons should be comparable to 2.2. Original issue: #17543

[2019-11-06 22:51] IGx89 commented on #18782
Mainly including my experience in case there are plans for a 3.0.1 bugfix release. With 3.1 apparently tracking for December though I'm guessing that's basically going to be your bugfix release.

[2019-11-06 23:25] BernardBoakye commented on #11314
Imagine you are working on large data entities with a lot of base entities. That will be really tedious.

[2019-11-06 23:59] maumar commented on #18782
@IGx89 exactly - all the fixes are going to 3.1.

[2019-11-07 00:03] AndriySvyryd commented on #703
Consider how this would interact with https://github.com/aspnet/EntityFrameworkCore/issues/13575

[2019-11-07 00:03] maumar opened #18791 "Query: add optimization that converts multiple comparisons of the same expression to IN/NOT IN"
We used to do this in the old pipeline.

[code]

[2019-11-07 00:14] BrightSoul commented on #18593
@ajcvickers Thank you so much for the solution, it worked perfectly.

Indeed, but _why_ does EFCore care about this?
The `.HasConversion<double>();` is, of course, useful for code-first since the migration has know whether it should generate a NUMERIC or a TEXT column. But suppose I'm not using migrations. I just mapped my conceptual model by hand for an existing database. When I use `.OrderBy(x =

[2019-11-07 01:50] yonathanseleshi opened #18792 "Error after removing SuppressForeignKeyEnforcement() after EF Core 3.0 upgrade"
I am working on a Xamarin Forms App and I upgraded to Xamarin iOS 13.8 .  After I upgraded I noticed my dbcontext.savechanges was no longer working so I upgraded my EF Core and EF Core Sqlite to 3.0.

After doing this I got an error stating

optionsBuilder.UseSqlite($"Filename={DBPath}", x => x.SuppressForeignKeyEnforcement());

no longer worked as x.SuppressForeignKeyEnforcement was no longer ava

[2019-11-07 02:24] AndriySvyryd commented on #18760
@wrkettlitz [Required] on a collection navigation doesn't affect configuration and can be removed. You see a different behavior on Azure container because it has different logging configuration.

[2019-11-07 02:31] Sally-Xu commented on #18618
@roji,  I just tested it again. Yes, the build time with 3.1.0-preview2.19525.5 is better than v3.0.0, but it is still not ideal.

For our project the build time is 53s (EF3.0) vs 32s (EF 3.1.0-preview2.19525.5 ) vs. 2.7s  (without Migrations folder)

For your EFGames testing project, the build time on my machine is 34s( EF3.0) vs 9s (EF 3.1.0-preview2.19525.5) vs. 1s (Without Migrations folder)

[2019-11-07 02:56] bricelam commented on #18780
I just mean you can’t, for example use a custom implementation of IPluralizer. All the extensibility has to be implemented in the PowerTools

[2019-11-07 03:06] Steve887 opened #18793 "Creating database with inherited properties on Xamarin throws IndexOutOfRangeException"
I ran into an interesting situation trying to get Entity Framework working in my Xamarin application which I have narrowed down to what seems to be a bug internally.

The bug occurs when you call GetCustomAttribute on an inherited property's GetMethod ReturnParameter. This results in an IndexOutOfRangeException. However, if the same code is called from a netcoreapp3.0 application it works as expec

[2019-11-07 03:09] Steve887 commented on #18793
I decided to go through each of the releases between 2.2.0 and 3.0.0 to see where the issue arises.

The issue first occurs in 3.0.0-preview9.19423.6.

Looking ahead of 3.0.0 to the 3.1 previews, it appears a workaround was commited to `NonNullableConventionBase` in 3.1.0-preview2.19525.5 that (intentionally or not) fixes this issue.

https://github.com/aspnet/EntityFrameworkCore/commit/5fec0d085e

[2019-11-07 03:35] smitpatel commented on #18786
I discussed this idea with @maumar last week. If we have good infra to make sure database is initialized only once, we should split even other classes like complexnavs/gearsofwar too. Earlier we split only based on the runtime it took but it would be a good time we start splitting into smaller classes to group tests better and manageable.

[2019-11-07 04:13] AndriySvyryd commented on #18786
@smitpatel Just use `IClassFixture` and everything will work fine

[2019-11-07 07:20] omatrot commented on #18778
Here is another query that does not have the problem:

[code]

May be this is related to the filtering used in the failing query?

[2019-11-07 07:44] AbrahamLopez10 commented on #18741
@roji Sorry, thought that recommendation was recommended because the specific issue with `.Value`. I'll try the 3.1.0-preview2 release and report back.

[2019-11-07 08:06] roji commented on #18618
@Sally-Xu thanks for providing the info. To make sure I understand: the numbers I posted [above](https://github.com/aspnet/EntityFrameworkCore/issues/18618#issuecomment-549271940) are for the migrations you provided earlier (see full project in https://github.com/roji/AnalyzerBuildPerf), are you using a different project with many more migrations? Just trying to understand the considerable differe

[2019-11-07 08:08] roji commented on #18786
@smitpatel @AndriySvyryd thanks for the input!

Unless I'm mistaken we already have several test suite classes working on Northwind (Simple isn't the only one), so I was assuming this problem is already solved... Anyway I'll pay close attention to this.

[2019-11-07 08:13] roji commented on #18741
@AbrahamLopez10 I understand. We also fixed #17342 which seems related to your issue. However, I just checked and that fix wasn't merged in time for 3.1.0-preview2, could you please test with the latest preview3 [from our daily builds](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md)?

[2019-11-07 08:34] administersoftware commented on #11314
It sure was for me, took a couple of hours to do and check, sure hope it gets fixed soon.

[2019-11-07 09:03] administersoftware opened #18794 "Migration script issue when changing 'old' nullable types to non nullable types"
I made a change to 2 entities, in one I changed the type of one property from INT? to INT and in another entity I changed the type of one property from LONG? to LONG, yet the migration script generated me a blank Migration class, well when I say blank it had the Up and Down Methods but no migrationBuilder.AlterColumn code :(

### Further technical details

EF Core version: 3.0
Database provider: M

[2019-11-07 09:09] ThomasBergholdWieser commented on #18505
Can we have a documentation for this in either the RowVersion or IsConcurrencyToken documentation?

[2019-11-07 09:28] weitzhandler opened #18817 "Is there a way to filter on converted columns?"
Hi,

I was wondering if there is a way to search on a converted column.
I have my custom type "YearMonth", which is the year and month only of a date, and is converted to and from a string.
Will EF Core translate my queries on this column, so that they're represented as string in the DB?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-07 10:05] mhamri commented on #18776
because the model is changed. or the PR is merged but there are more to be done and it only can be done before certain migration. let say we need to have a before migration script.
so the flow is like this:

1. I use ef to generate a migration based on some model change
2. I create an empty migration and add the custom script
3. after PR I understand I need to change the model and have a before mi

[2019-11-07 10:13] fschlaef commented on #18090
@smitpatel confirmed fixed as of `3.1.0-preview3.19554.8` 👍

[2019-11-07 10:44] Q-Tec90 commented on #18780
Thank you all for the responses.
@ErikEJ Thank you. It does look solid.

I really do miss the the edmx designer which is using t4 for generation. It sure had its own issues but overall an awesome utility for Database First Models. One click and he generated everything new regardless of the project he was in.

[2019-11-07 10:48] roji opened #18795 "Support more bitwise operators"
Following #18788, we can add support for xor, shift-left, shift-right etc. which seem to be pretty universally supported across databases.

[2019-11-07 12:48] #18788 closed

[2019-11-07 13:24] StiviiK commented on #18645
Adding the explicit package reference did not fix the problem for me, still the same error occures.

[2019-11-07 13:41] botondus opened #18796 "When using subquery I get `Cannot use multiple DbContext instances` error"
I'm trying to use a subquery in a query and when I do it I get an `Cannot use multiple DbContext instances`. Even though the entities should be in the same db context.

### Steps to reproduce

Both _mainRepository and _accountRepository point to entities which belong to the same DbContext called `GenesysAccountsDbContext`. dimensionSet and dimensionSetValue are defined in a `GenesysDbContext` howe

[2019-11-07 13:43] roji opened #18797 "Allow translating non-constant NewExpression in translators plugins"
We currently can't translate the following NodaTime expression:

[code]

... since the constructor contains a non-evaluatable parameter. Ideally it should be possible to translate via a translator (like method or member), and exposed to plugins as well.

Low priority, at the moment am only aware of NodaTime types - but there may be others.

[2019-11-07 14:06] groege opened #18798 "Don't share change trackers between DbContext instances"
[code]
When calling it the second time, with the same guid, it will thrown an Exception telling me another instance with this guid is already being tracked, how is this possible - does it track changes between different instances of DbContext?
How can I disable this -> i do want to track changes within the using block.
But imho two different context objects should never share tracked objects.
Am I

[2019-11-07 14:16] jhcfmm opened #18799 "SQLite cannot order by expressions of type 'decimal'. Convert the values to a supported type or use LINQ to Objects to order the results."
I have upgraded a VS2017 project with .NetStandard2.0 and EFCore 2.x to VS21019, .NetStandard2.1 and EFCore 3.0.  Got hit by the issue where a function parameter could not be included in the LINQ command since the server side could not handle it and would throw an exception.  Removed the function part of the query and got hit by the: "SQLite cannot order by expressions of type 'decimal'. Convert t

[2019-11-07 14:17] Sally-Xu commented on #18618
@roji,

The migrations folder in your testing project is exactly the same as in my full project. But my project is much bigger with all the other code.

When looking at the build time without the Migrations folder, the build time on your testing project is < 1s vs 2. s on my full project which I think is reasonable.

With Migrations folder, the build time increases dramatically (and seems the bigg

[2019-11-07 14:33] roji commented on #18618
That's odd... Since there's no slowdown with only the migrations folder, it would seem that to repro this you need to have both:

1. The migration folder, and
2. The entire (non-migration) project

I'm not sure how that could be - any chance you could share the entire project for me to repro this on my side? This would allow me to dig deeper and possibly to experiment whether #18637 is a solution.

[2019-11-07 14:56] bricelam commented on #18780
Re-opening. I want to discuss some possibilities with the team

[2019-11-07 15:00] syndicatedshannon commented on #14594
I have to agree with G3 and other requests here.

Because the UoW pattern crosses knowledge boundaries, we can't really ensure we don't save at the end of our scoped operation without a UoW-bound flag. `RejectChanges()1 is one way that could be provided.

Otherwise, we have to ensure our exceptions surface all the way up, beyond the last `SaveChanges()` call, which breaks other SoC.

[2019-11-07 15:03] syndicatedshannon commented on #14594
Also, FYI, I see that RejectChanges() could easily lead to misunderstandings about the state of the context. Can we then apply more changes after rejection? etc. My prior comment about boundaries still applies, and I'm not sure what the solution is.

[2019-11-07 15:05] roji commented on #18738
Repro:

[code]

[2019-11-07 15:21] syndicatedshannon commented on #10694
@kierenj

Yes, I'm at the same place. Honestly, I need this ability to do something temporary, but I still need it. Having to refer to `new DbContext()` is challenging because we rely on various other configuration-specific steps to get a properly-configured context in production cloud, dev, and test environments, such as Azure keys and such. I really don't want to rebuild all that system-specific

[2019-11-07 15:25] geedsen opened #18800 "Unable to install EF Core tools 3.0.0 in .net Core 3.0"
Trying to create the initial migration
dotnet ef migrations add initial --startup-project ..\CojacDB\CojacDB.csproj

results in the following error:

The EF Core tools version '2.1.4-rtm-31024' is older than that of the runtime '3.0.0'. Update the tools for the latest features and bug fixes.
Unable to create an object of type 'CojacJobContext'. For the different patterns supported at design time,

[2019-11-07 15:34] bricelam commented on #18780
For example, there is a hidden `—no-build` option that will probably just work most of the time with `dbcontext scaffold`. We could document it for that command explaining the caveats

[2019-11-07 16:14] bricelam commented on #18645
I have some ideas about this. Let me experiment. But a repro would also be great if you have one

[2019-11-07 16:51] Pilchie commented on #18618
I haven't looked at the code generated for migrations, but if as @agocke said, there a ton of overload resolutions that involve lambdas *and* the non-migration code includes additional overloads, it could increase the complexity of each resolution.

[2019-11-07 17:22] geedsen commented on #18800
Tried this: dotnet tool install --global dotnet-ef
But no difference

[2019-11-07 17:24] StiviiK commented on #18645
I try to create a minimal one.

[2019-11-07 17:46] roji commented on #18738
After some investigation, this looks like a dup of #17337 (loss of referential integrity).

The projection with the union is in the pending collections. When CollectionJoinApplyingEV processes the query, it pushes down the query before applying the CROSS APPLY (as there's a Limit). As part of this, the pending collections are remapped with SqlRemappingVisitor, to modify the ColumnExpressions refer

[2019-11-07 17:58] roji commented on #18618
It's weird though... When @Sally-Xu deletes the migration directory, the build is super fast (~3s), implying that the non-migration code isn't problematic. At the same time, when I run a project containing *only* the migrations, I get an ~8s build (~6s with the analyzer totally disabled).

[2019-11-07 18:01] Pilchie commented on #18618
My point is that if the compiler has to consider overloads declared outside the migrations folder to resolve the calls inside the migrations folder, it could lead to this sort of complexity where both pieces are required to see the full effect of the perf problem

[2019-11-07 18:12] roji commented on #18618
Right, understood - although migrations typically aren't supposed to interact in complex with the rest of the project code.

Anyway, it would be good to be able to look at the actual project producing this. Regardless I'll definitely also give #18637 a try as previously suggested.

[2019-11-07 18:24] larkydoo commented on #3595
I'm having the same issues. @brent-russell : how did you get around it? The one thing I did that worked was to use ToListAsync() rather than FirstOrDefaultAsync, but this isn't really a desirable solution.

Original Query (throws undesired NullReferenceException):
[code]
New Query (throws desired NotFoundException):
[code]

[2019-11-07 19:28] roji commented on #18800
Can you please run `dotnet tool list --global` and post the results?

[2019-11-07 19:38] Sally-Xu commented on #18618
@roji ,

I created a new mini Web API project (https://github.com/Sally-Xu/net3buildissue) only contains the Migrations Folder and DBContext.

The build time on my machine is ~40 s (with Migrations) vs. 2 s (without Migrations).

You can un-comment the following setting in the .csproj file to test both situations:

`
 <ItemGroup>

  </ItemGroup>
`

[2019-11-07 19:40] roji commented on #18798
@groege it's not clear exactly what you're referring to. The following code sample loads the same entity several times inside the same context and also within different contexts (active at the same time), and there's no issue. Change tracking is something that is done at the DbContext level, not globally. Could you please submit a clear code sample?

[code]

[2019-11-07 19:40] roji commented on #18618
Thanks @Sally-Xu, I'll investigate this.

[2019-11-07 20:00] KaptenJon commented on #18758
@ajcvickers I understnand, but shouldent the default sql decimal type be something that correspond with .net decimal type.

[2019-11-07 21:09] roji commented on #18618
I've dug some more and indeed saw a big build perf difference between the repo @Sally-Xu provided and my own. I managed to narrow it down to a quite surprising factor: specifying `<Project Sdk="Microsoft.NET.Sdk.Web">` in the csproj makes the build time shoot up *from around 6s to around 16s*. Here are some measurements:

Scenario  | Build time
-- | --
Microsoft.NET.Sdk.Web | 16s
Microsoft.NET.Sdk

[2019-11-07 21:14] Pilchie commented on #18618
The Web Sdk pulls in a bunch of other analyzers for MVC and stuff, so it's possible that they have similar problems.  @mkArtakMSFT ?

[2019-11-07 21:17] rainersigwald commented on #18618
@roji Is that all end-to-end build time? Where is the time going? The task time summary in MSBuild is probably a nice place to start.

[2019-11-07 21:22] wtgodbe commented on #18749
https://github.com/aspnet/EntityFrameworkCore/pull/18805

[2019-11-07 21:26] roji commented on #18618
@Pilchie that sounds like a promising direction.

@rainersigwald yeah, sorry, this is end-to-end time (am not a big build perf expert). Here's the msbuild detailed summary from an even slower machine, although it doesn't seem very helpful:

[code]

[2019-11-07 21:29] wtgodbe commented on #18749
Never mind, https://github.com/aspnet/EntityFrameworkCore/pull/18806

[2019-11-07 21:37] geedsen commented on #18800
Package Id      Version      Commands
--------------------------------------
dotnet-ef       2.1.4        dotnet-ef

[2019-11-07 21:49] geedsen commented on #18800
Not sure if this helps (it did not for me :)
![image](https://user-images.githubusercontent.com/1316595/68430673-c50c2200-01b0-11ea-8ac6-44876e8dbcdb.png)

[2019-11-07 21:56] rainersigwald commented on #18618
@roji I think the more interesting sections will be `Project Evaluation Performance Summary`, `Project Performance Summary`, `Target Performance Summary`, and `Task Performance Summary`.

Specifically:
* If the `Csc` task is taking the bulk of the time, it's likely code complexity or analzyers.
* If evaluation is slow we have more data we can get.

I suspect the former but it's cheap to confirm.

[2019-11-07 21:59] geedsen commented on #18800
but this did work:
dotnet tool uninstall --global dotnet-ef
dotnet tool install --global dotnet-ef --version 3.0.0 --interactive

Had to do the uninstall first else it would tell me it was already installed.

[2019-11-07 22:02] maumar commented on #18773
Also this scenario yields different results between SqlServer and Sqlite, when the argument to IndexOf is empty string, i.e.

[code]

Sqlite produces:

[code]

[2019-11-07 22:03] roji commented on #18618
@rainersigwald I can dig into this more tomorrow if nobody else does before that (am in Berlin)

[2019-11-07 22:04] ajcvickers commented on #15403
## November 7, 2019

## EF Core 3.1

EF Core 3.1 [Preview 2](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/3.1.0-preview2.19525.5) is on NuGet! However, we still recommend using the [daily builds](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md)--see below.

What you need to know about EF Core 3.1:
* The release cycle is short--EF Core 3.1 is scheduled for relea

[2019-11-07 22:13] StiviiK commented on #18645
Found the root of the problem, i had the following line in my `.csproj`
`<GeneratePackageOnBuild>false</GeneratePackageOnBuild>`

[2019-11-07 22:23] ygoe opened #18807 "Cannot translate Contains method call"
My application has a query string parser that translates a user-provided search query string into an `IQueryable` expression that can be handed to the database for a database query. Now this search also considers data that isn't in the database. It's a list of selected items that comes from elsewhere but can be part of the search query by the user. So it has to be available in the SQL WHERE clause

[2019-11-07 23:02] roji commented on #18807
Can you please try this with 3.1.0-preview2 and report on the results?

[2019-11-07 23:21] maumar opened #18808 "Query: incorrect results for query with Join where key selector is anonymous type with a single property"
e.g.:

[code]

we produce:

[code]

We should be applying null semantics here instead to be consistent with c# (we do that if anonymous type has more properties)

[2019-11-08 01:18] sharpwood commented on #18478
@abpiskunov   I was mistaken before, precision has indeed been lost. However, it is good if we can query the value after losing the precision.

[2019-11-08 01:42] Wonderdch opened #18811 "HasQueryFilter not support DateTime"
DateTime cann't convert to SQL correctly.

### Steps to reproduce
[code]

SQL generated by EF Core
[code]

### Error Trace

System.Data.SqlClient.SqlException
  HResult=0x80131904
  Message=从字符串向 datetime 转换时失败。
  Source=Core .Net SqlClient Data Provider
  StackTrace:
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   a

[2019-11-08 06:37] ValerieSF opened #18812 "Subquery in Single fails with KeyNotFoundException"
If you have a sub-selection inside of another sub-selection, the outermost of which is resolved with a .Single(), the query fails to translate with a KeyNotFoundException.

### Steps to reproduce

A full program that demonstrates the bug is provided.

[code]

The exception received is given below.

[code]

### Further technical details

EF Core version: 3.0.0
Database provider: Microsoft.EntityFra

[2019-11-08 07:24] groege commented on #18798
That is really weird, came back to work today and now it works (without code changes)... Really weird, thank you for your time!

[2019-11-08 08:09] aspirinv commented on #17068
Is this [article](https://docs.microsoft.com/de-de/ef/core/what-is-new/ef-core-2.1#linq-groupby-translation) related to the topic?
If so, maybe it makes sense to clean up and stop confusing people

[2019-11-08 09:14] capesean opened #18813 "EntityFrameworkCore IndexOutOfRangeException when saving geometry using NetTopologySuite"
When I call `db.SaveChanges()`, on some geometries I get IndexOutOfRangeException.

(Just posted this on S-O)

### Steps to reproduce
Code snippet here:
https://gist.github.com/capesean/57527a0576d5972ff1514438440397fa

It works fine in SQL Server though:

[code]

### Further technical details

EF Core version: 3.0.0
Database provider: SQL Server 2014
Target framework: .NET Core 3.0
Operating syst

[2019-11-08 10:21] keatkeat87 commented on #4073
I m trying to use sql server cascade update to doing this. but sometime it will facing the cascade multiple path problem.
for cascade delete normally we just need a trigger instead.
but cascade update is not so easy, we need to first disable nocheck constraint then update all the child after than only can update the main and then enable constraint again.
just sharing my experience here.

[2019-11-08 12:59] roji commented on #18618
I investigated this further and all seems clear. Using `Microsoft.NET.Sdk.Web` brings in three additional analyzer packages: Microsoft.AspNetCore.Analyzers, Microsoft.AspNetCore.Mvc.Analyzers AND Microsoft.AspNetCore.Components.Analyzers. Lots of the contained analyzers do perform generated code analysis, explaining the situation. Did an analyzer-by-analyzer analysis (ha), and opened https://githu

[2019-11-08 13:00] dahumadaatgmail commented on #18299
any workaround?

[2019-11-08 13:14] MintPlayer commented on #18811
[code]

I'm however able to run this example:
- Target framework: .NET Core 2.2
- NuGet:
    - Microsoft.EntityFrameworkCore.SqlServer @ 2.2.3

Repository: https://github.com/MintPlayer/Issue18811

[2019-11-08 15:10] ajcvickers commented on #18758
@KaptenJon See #6965

[2019-11-08 15:27] smitpatel commented on #18811
@Wonderdch - Can you try 3.0 (or 3.1-preview2 release) from nuget. We believe this issue is fixed in 3.x release already.

[2019-11-08 15:58] smitpatel commented on #18738
Track separately.

[2019-11-08 16:01] ajcvickers commented on #18671
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-11-08 16:10] #17635 closed

[2019-11-08 16:23] ajcvickers commented on #18799
@jhcfmm Pleas post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can investigate.

[2019-11-08 16:57] roji commented on #18637
Check out https://github.com/aspnet/AspNetCore/blob/master/src/Components/Analyzers/src/ComponentParameterUsageAnalyzer.cs for a similar analyzer implemented with IOperation.

[2019-11-08 17:20] ajcvickers commented on #18817
Duplicate of #10434

[2019-11-08 17:53] ajcvickers commented on #18812
Note for triage: still throws with 3.1 daily build.

[2019-11-08 17:57] ajcvickers commented on #18811
Note for triage: SQL generated is now:
[code]

[2019-11-08 18:06] ajcvickers commented on #18608
@smitpatel to investigate.

[2019-11-08 18:21] ajcvickers commented on #18751
Triage: Kill 'Em All and see what breaks! (Justice for all!)

[2019-11-08 18:33] ajcvickers commented on #18773
Theoretically, could do fancy parameter snipping to special case empty string.

[2019-11-08 20:35] ajcvickers commented on #18672
Note from triage: we discussed taking this for 3.1, but the risk of breaking other things with a change here is quite high, so based on current value/risk ratio we're not going to take it yet. We could revisit  this with feedback from other customers, in which case we will look into quirking.

[2019-11-08 20:40] ajcvickers commented on #18720
Discussed in triage and given that `FromSql` always replaces the query root, even if it is not called at the root, we think that it makes sense to keep enforcing that it only be applied to the root. This can break certain ways of writing repositories (or similar) that are valid, like here, but these can generally be refactored to inject the root rather than expose the root as a simple property.

[2019-11-08 20:40] ajcvickers commented on #18734
Note from triage: Putting this in 5.0 for the same reason as #18672

[2019-11-08 20:44] ajcvickers commented on #18758
Note from triage: duplicate of #4978.

Workaround is to force the conversion on the client. For example:
[code]

[2019-11-08 20:52] ajcvickers commented on #18764
@mojtabakaviani EF typically has three types of releases:
* Major versions
* Minor versions
* Patches

For the patches, we are planning to be able to release more quickly that .NET Core as a whole is able to. However, we haven't got there yet, and it still might not work out this way.

For major versions, we will likely still be tied to the .NET Core releases, at least for the time being. There ar

[2019-11-08 21:02] ajcvickers commented on #18813
Note for triage: repros on 3.1; stack below. Looks like it could be a SqlClient/TDS issue.

/cc @bricelam for spatial
/cc @AndriySvyryd for update pipeline

[code]

[2019-11-08 21:03] ajcvickers commented on #18776
@mhamri Can you post an example of what kind of code you put in the "custom script"?

/cc @bricelam to take a look.

[2019-11-08 21:18] ajcvickers commented on #18778
@smitpatel Common cases using schema seems to work--see below.

@omatrot I have not been able to reproduce this. Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[code]

[2019-11-08 21:19] rick-de-water opened #18818 "Add CancellationToken to IQueryable.AsAsyncEnumerable"
Lets make a simple repository style wrapper around a database context!
[code]

Easy! Now lets make it async!
[code]
It worked! Now lets add a `CancellationToken`!
[code]

Uh oh! Maybe we can use `WithCancellation`?
[code]

`WithCancellation` does not return an `IAsyncEnumerable`!
Ok... I guess we can loop over it ourselves in an async function?
[code]

It compiles, but since this library function

[2019-11-08 21:24] ajcvickers commented on #18779
@zhou-xb My understanding is that LocalDb never uses the Default Database Location. You need a normal SQL Server instance for that--SQL Express should work.

I tried to find documentation for this, but couldn't find anything specific. You might want to try asking at https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/view-or-change-the-default-locations-for-data-and-log-files?vi

[2019-11-08 21:25] mojtabakaviani commented on #18764
I know these. But in major's version just add some features and we must wait one year for next version, if project is open source contributers and issuers must assign next features and roadmap, now is a public source! Anyway i will hope speedup version releasing.

[2019-11-08 21:25] smitpatel commented on #18818
The pain you went through, exactly same I went through while trying to add CancellationToken to the method. You can also remove EF from picture. If you are using any method which returns IAsyncEnumerable<T>, you cannot pass cancellationToken unless you go through above exercise. It's beautiful but the beauty is created by BCL (especially result type of WithCancellation() being different. ) I would

[2019-11-08 21:28] ajcvickers commented on #18780
Note from triage: document `--no-build` and it caveats in the `--help` for the command, and also add update the doc page.

[2019-11-08 21:33] ajcvickers commented on #18781
@glararan A lot of code here was changed for the 3.0 release. Please test this with EF Core 3.0, or better still, the latest 3.1 [daily build](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md). If the error is happening, then please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-11-08 21:36] ajcvickers commented on #18792
@bricelam The [breaking change documentation](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#ef-core-no-longer-sends-pragma-for-sqlite-fk-enforcement) says:

Does that mean that `Foreign Keys=False` will disable FK enforcement? (I remember we had discussion around this, but I don't remember the outcome.)

[2019-11-08 21:38] ajcvickers commented on #18793
@Steve887  `System.Attribute.InternalParamGetCustomAttributes` should not be throwing `Index was outside the bounds of the array.` regardless of what EF is passing to it, so it looks to be that this is a Xamarin bug. Can you please file it against Xamarin?

[2019-11-08 21:40] ajcvickers commented on #18794
@administersoftware Were the properties keys? Are they specified anywhere as `Required`?

It would really help if you could post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-11-08 21:40] ajcvickers commented on #18796
@botondus A lot of code here was changed for the 3.0 release. Please test this with EF Core 3.0, or better still, the latest 3.1 [daily build](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md). If the error is happening, then please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-11-08 21:42] rick-de-water commented on #18818
It gives me comfort knowing I'm not alone.

I remember reading somewhere that `ConfiguredCancelableAsyncEnumerable` not implementing `IAsyncEnumerable` was a design decision. And since pretty much every other async `IQueryable` methods support `CancellationToken`, I figured I would have more luck here with a small change. It only needs to be done once, so the higher up the chain the better. But I'

[2019-11-08 21:43] ajcvickers commented on #18811
Further note: verified that if the column is mapped to something other than datetime2, then this now works in 3.1.

[code]

[code]

[2019-11-08 21:46] ajcvickers commented on #18811
Duplicate of #14095

[2019-11-08 21:48] #18808 closed

[2019-11-08 21:54] maumar opened #18819 "Query: optimize arithmetic operation on constants"
Currently when we translate Substring on SqlServer into something like this:

[code]

we should simplify `1+1` into `2`

[2019-11-08 22:02] glararan commented on #18781
@ajcvickers I am trying to stick at 2.2.7 because as you mentioned.. a lot of code was change on EF 3.0. I would had to change a lot of code :(

Anyway thanks. I have to wait till I upgrade whole project to 3.1

[2019-11-08 22:04] ajcvickers opened #18820 "Move issues from preview milestones after GA"
So all issues in `3.0-previewX` would move into `3.0.0`.

The previews become largely irrelevant after release and we (and customers) can then easily see in one place everything included in a given release.

If we don't delete the preview milestones, then the history will still indicate which milestone it was fixed, so we're not losing information here.

[2019-11-08 22:09] #16093 closed

[2019-11-08 22:17] smitpatel commented on #18818
Is there a method we have which returns IAsyncEnumerable & also support cancellationToken? EF Core provides async methods mainly for single result (where enumerable is not returned) or methods which enumerates and populate collection objects. They all take cancellationToken since they enumerate asynchronously inside the body to generate the result (rather than streaming).

[2019-11-08 22:33] administersoftware commented on #18794
No @ajcvickers, they were just regular properties. One of the properties was originally an INT? that I changed to a LONG? and the add-migration created a script to AlterColumn, but when I then decided that I wanted the LONG? to become LONG the add-migration created a script with empty Up and Down methods.

I'll see if I can knock up a quick example for you over the next couple of days. To fix it I

[2019-11-08 23:38] #18784 closed

[2019-11-08 23:39] #17529 closed

[2019-11-08 23:39] #18700 closed

[2019-11-08 23:39] #18539 closed

[2019-11-08 23:57] fradsham commented on #11314
I have been following this thread for a while. I was hoping that it would have been addressed with net core 3. I have a project with 57 objects and some are inherited, so reordering the builder files is not feasible. I have tested different approaches. For example to handle logical deletion as opposed to physical deletion of records, I have a root class that all are inherited from (code below). Th

[2019-11-09 01:42] Looooooka commented on #2981
Not just string.join...mssql supports returning xml and json strings("FOR JSON  AUTO" and "FOR JSON PATH" ).
There has been talk about basic string.join support since EF v 1 and nothing has been done about it. Even when you manage to write 99% of the SQL queries using linq, the second you realize these 3 functions return smaller and faster results than anything EF can come up with, you are stuck w

[2019-11-09 02:46] Steve887 commented on #18793
@ajcvickers I did open an issue on Xamarin.Forms but was directed to post on the Mono project instead  https://github.com/xamarin/Xamarin.Forms/issues/8112.

The issue on the Mono project hasn't had any response yet: https://github.com/mono/mono/issues/17477

I agree that this isn't an EF issue in that the bug comes from internal code, however I opened this issue to track the workaround that is no

[2019-11-09 04:05] QuantumToasted opened #18821 "InvalidCastException on custom types used as keys"
*(Disclaimer: I am unsure if this is a limitation of EF Core, a bug, or a problem in my own code. But I did as much testing as I could and determined that it something is amiss here.)*

I am working on a [Discord bot](https://github.com/QuantumToasted/Administrator/tree/rewrite/Administrator), which uses EF Core with PostgreSQL as its database provider, porting from one internal library to another