[2018-10-01 16:36] ajcvickers commented on #13435
@NGancevich I attempted to add in other code needed to reoproduce what you are seeing, but it is working for me:
[code]

[2018-10-01 16:39] ajcvickers commented on #13452
@shakeri Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-10-01 16:41] johnnyoshika commented on #12713
I ran into this problem as well (which required an AppPool restart to fix). To get around this problem, I'd like to upgrade EF Core. The NuGet package I'm loading is referenced like this:

[code]

According to this page https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1, version attribute is no longer recommended. Excerpt:

A couple of questions:
* How do I know which

[2018-10-01 16:46] ajcvickers commented on #13453
@ice1e0 The general answer to this is that EF exceptions should not be used as a means for your application to determine what to do. In other words, attempting to track two entity instances with the same key value is a program error, not a recoverable situation that can be corrected such that the program can continue. Instead of telling EF to do something it can't do, check beforehand in your app

[2018-10-01 16:47] bricelam commented on #12677
A community member created [Microsoft.Data.Sqlite.Core.Backport](https://www.nuget.org/packages/Microsoft.Data.Sqlite.Core.Backport/) to target older platforms with the 2.0.0 codebase of Microsoft.Data.Sqlite, but it looks like it hasn't been updated in a while. A similar effort could be done to the EF Core codebase.

[2018-10-01 16:57] NGancevich commented on #13435
@ajcvickers , but I used Fromsql method to get sp data.

[2018-10-01 16:58] ajcvickers commented on #2167
@louislewis2 If you have an existing database and a model that maps to it, then scaffold an initial migration, but remove all the code in the Up and Down methods before applying it. This will get the model snapshot and history table in a state that is in-sync with the database. Now you can move forward with changing the model and applying migrations as normal.

[2018-10-01 17:09] ajcvickers commented on #13435
@NGancevich I'm using the same code you posted to get the data, which uses `FromSql`.

[2018-10-01 17:10] AndriySvyryd commented on #11738
@almazsr If you need to rebuild the model based on some external information you can use implement `IModelCacheKeyFactory` so that it's only cached when appropriate, see [Alternating models with the same DbContext](https://docs.microsoft.com/en-us/ef/core/modeling/dynamic-model)

[2018-10-01 17:16] NGancevich commented on #13435
@ajcvickers , yes. You have the same. It's weird .  Did you have any entry in your table?

[2018-10-01 17:36] ajcvickers commented on #13435
@NGancevich Yes. The full code as a console app is posted above.

[2018-10-01 17:45] AndriySvyryd commented on #13423
@espray In addition to the features you mentioned I added a shadow property on the root entity named `__jObject` (naming can still change) that will contain the whole document. It will only be present when the model is built for Cosmos. You can make changes to it and they will be persisted as long as the entity is marked as modified and other properties don't override your changes.

[2018-10-01 17:51] AlexGhiondea commented on #13268
@ajcvickers I am glad to hear that this is partially addressed by an updated VS. Is there a way to get a minimal repro so that we can debug the loader and try to understand what is happening?

[2018-10-01 17:54] ajcvickers commented on #13268
@AlexGhiondea Yes--it is referenced in this comment: https://github.com/aspnet/EntityFrameworkCore/issues/13268#issuecomment-424108108

[2018-10-01 17:59] bricelam commented on #13454
On a related note, I've wanted hooks for the following in my [TimeSpan on SQLite](https://github.com/bricelam/EFCore.SqliteEx) extension:

* SqlTranslatingExpressionVisitor
  * VisitUnary
  * VisitBinary
* RelationalConnection
  * Open
  * OpenAsync

[2018-10-01 18:18] ajcvickers commented on #11900
@smitpatel @maumar Can you look into workarounds?

[2018-10-01 18:40] ajcvickers commented on #13441
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-10-01 18:43] roji commented on #1100
@bricelam that's interesting, it seems to be the opposite of what I'm getting on the PostgreSQL side (although i haven't done a poll or anything)... Isn't geography significantly more limited and expensive when it comes to calculations?

[2018-10-01 19:04] espray commented on #13423
@AndriySvyryd I tried a shadow property with `2.2.0-preview2-35157` and got the below exception. But I see you just added `__jobject` a few days ago. :)

Maybe I will just need to switch to the using Nightly Builds until preview3 :)

[code]

[2018-10-01 19:45] AndriySvyryd commented on #13423
@espray Yes, sorry that I forgot to mention that small detail. Please let me know if that plus the above mentioned features would be enough for your scenario.

[2018-10-01 20:11] maumar commented on #13430
fixed in 44184d2419dd12a0af9c9d6a9e6c0d2821aeaaac

[2018-10-01 20:11] #13430 closed

[2018-10-01 20:35] richof opened #13459 "The instance of entity type "Rmt" cannot be tracked because another instance with the same key value for {Id} is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached. Consider using DbContextOptionsBuilder.EnableSensitiveDataLogging; to see the conflicting key values."
I have 3 process inside a method,  first two of them call create methpod from repository, the trhid and fourth ones update the entities that has been recently created in db.

[code]

______________________________________________________

Commit just call dbContext.SaveChanges() method

[code]
 "Microsoft.EntityFrameworkCore" Version="2.1.3"
Thanks in advance

[2018-10-01 21:11] bricelam commented on #1100
Yes, but that's never stopped a de-facto standard before. 😉

I expect PostGIS developers do use geometry more. Their documentation does a good job of pushing users in this direction.

I would map to geometry by convention on Npgsql.

[2018-10-01 21:27] AndriySvyryd commented on #13423
@espray Yes, `__jObject` is special. I don't think we'll allow mapping any `JObject` for the initial release. But it sounds like it won't be necessary once we fix the bugs with the discriminator and the owned type.

[2018-10-01 21:33] smitpatel commented on #13450
Related to #12737

[2018-10-01 21:38] smitpatel commented on #13448
Duplicate of #12062

[2018-10-01 22:03] espray commented on #13423
@AndriySvyryd Yup I agree fixing the discriminator and the owned type would work. Do what you want with this issue if the discriminator and the owned type are tracked somewhere else.

Thanks! Keep up the amazing work! Looking forward to the final release!!!!

[2018-10-01 22:44] #13379 closed

[2018-10-01 22:48] smitpatel commented on #13424
`OfType` is certainly not the linq operator which maps to that behavior. Hence, I am having hard time understanding what is exact linq query you are running which uses `OfType` and pulls all data which you don't want.

[2018-10-01 22:49] smitpatel commented on #13424
Posting your original attempted query and description would help us get you in write direction about what query should be written to work efficiently with EF.

[2018-10-01 22:54] maumar commented on #11900
@cyilcode slightly less involved workaround would be to change Achievements to something like this:

[code]

The problem is with the correlated collection feature, which tries to optimize projection of collection navigations. It's caused by bug in external package that we use (https://www.re-motion.org/jira/browse/RMLNQ-111)

The optimzation doesn't work if the collection is using a paging operati

[2018-10-01 22:56] smitpatel commented on #13449
This is issue in MySQL provider. Each provider needs to disable binary operators which are not supported in provider.
Like SqlServer does in this file, https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.SqlServer/Query/ExpressionVisitors/Internal/SqlServerSqlTranslatingExpressionVisitor.cs

[2018-10-01 22:58] smitpatel commented on #13364
@dmitry-lipetsk - We don't use such code style (no braces for if conditions). We combine return statements whenever possible.

[2018-10-01 22:59] smitpatel commented on #13417
This annotation is about include filter on an index. Changing nullability of a column would change filter defined on index associated with such column.

[2018-10-01 23:01] ajcvickers commented on #1100
@roji @bricelam With geometry mapping by default on Npgsql, when I ask for the distance between two points, what units will be used for the result?

[2018-10-01 23:13] smitpatel commented on #13433
This issue is lacking enough information for us to effectively reproduce. Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-01 23:43] ajcvickers commented on #8527
@WiredUK Thanks for spending the time looking at this. @divega is going to take an initial look at your approach and provide some feedback, and we can take it from there.

[2018-10-01 23:48] ajcvickers commented on #13339
Thanks everyone for your input and contributions here. I'm closing this out now in favor of some remaining follow-up items on the relevant docs issue: https://github.com/aspnet/EntityFramework.Docs/issues/807

[2018-10-01 23:50] ajcvickers commented on #13411
Note from triage: there are two issues tracked here:
* Client evaluation of the `!=` query when relationship is required (non-nullable FK property)
* Exception from same when relationship is optional (nullable shadow FK property)

[2018-10-01 23:55] ajcvickers commented on #13439
@nicoabie There are many different ways of implementing multi-tenancy. They involved different trade-offs in terms of complexity, efficiency, and isolation. Use query filters can be easy to implement, but doesn't give very good isolation, so if that's something that is important to you, then this probably isn't the correct approach.

With regard to generating this from reverse engineering, again t

[2018-10-01 23:57] ajcvickers commented on #13454
@roji 2-3 weeks won't make it for preview3, but it should be good for RTM. This doesn't sound like it will be a risky change, so I think we'll be good taking it directly into RTM. (There is no RC for 2.2; rightly or not, we're going straight from preview3 to RTM.)

[2018-10-02 00:01] ajcvickers commented on #13409
Discussed in triage. We should not track entities returned from queries if they didn't come from the database. Doing so results in entities that are in the unchanged state but for which there is (possibly) no row in the database. However, this doesn't preclude returning an entity instance that is _already_ tracked, but this must be explicitly done before executing the query.

[2018-10-02 00:02] ajcvickers commented on #13441
Discussed in triage and decided that while the idea of being able to clear data is potentially useful, changing HasData to not be cumulative is potentially confusing as well as breaking. Therefore we should instead add new API for this--something like `ClearData`.

[2018-10-02 00:06] #13087 closed

[2018-10-02 00:16] nicoabie commented on #13439
@ajcvickers, I was just asking for the autogenerated DbContext to be abstract. With that one would be aware to not call it directly but I understand of it's not a priority...

[2018-10-02 00:18] maumar commented on #12200
simpler repro:

[code]

[2018-10-02 00:27] maumar commented on #12200
Simpler repro:

[code]

[2018-10-02 00:27] ajcvickers commented on #13439
@nicoabie The generated `DbContext` class is partial already, which means you can easily make it abstract in your own partial. For example, in the generated code:
[code]
Then in your code add this:
[code]

[2018-10-02 01:13] nicoabie commented on #13439
@ajcvickers that works for me, thanks a lot!!!

[2018-10-02 02:34] HairyPorker commented on #1833
@GertArnold I am not sure I understand the dilemma.
In your sample,
The first statement should return all the entities including the children in which active == true;
The second statement should return all the entities including the children in which active == false;

At least this is what my use case most of the time, that EF unable to support filtering on the Include / children level; of course

[2018-10-02 03:06] #13281 closed

[2018-10-02 03:54] sjb-sjb commented on #10783
Comment, this could have been due to a navigation property being set through a property setter, during a materialization that in other respects bypasses the property setters.
See https://github.com/aspnet/EntityFramework.Docs/issues/1007

[2018-10-02 04:08] jasonycw opened #13462 "Insert default value for Shadow Property"
Insert default value with shadow property not working as expected

### Steps to reproduce
Was hoping to use HasDefaultValue to insert some default value to db without adding it to our entity.
But it seems not working and we need to set the current value before save.

Here is some sample code
[code]

### Further technical details
EF Core version: 2.1.4
Database Provider: Microsoft.EntityFrameworkCo

[2018-10-02 04:17] sjb-sjb commented on #626
Just a comment based on some recent experience and reviewing the various comments above.

Many of the comments / issues raised are connected to the fact that Tracked / StateChanged events occur during materialization or during SaveChanges. For example we see a number of comments seeking initialization hooks, which would be addressed if we knew that state transitions occurred after  completion of q

[2018-10-02 05:56] shakeri commented on #13452
@ajcvickers I uploaded a sample code for this problem.
[SampleCode.zip](https://github.com/aspnet/EntityFrameworkCore/files/2436601/SampleCode.zip)

To test this example:
[code]

This sample code works in Windows 10 without problems, but it fails in Ubuntu.

[2018-10-02 08:13] arndim01 opened #13464 "There is no implicit reference conversion from ApplicationDbContext to Microsoft.EntityFrameworkCore.DbContext"
While following the [tutorial](https://www.pmichaels.net/tag/dbcontext-identitydbcontext/)  I am getting an error when `DbContextOptions<ApplicationDbContext>`
 which is ApplicationDbContext inherit to IdentityDbContext but when I tried to inherit DbContext it works fine.

![error](https://user-images.githubusercontent.com/6179080/46336558-bf631500-c65d-11e8-9529-2b654ffe9be7.png)

**Exception mes

[2018-10-02 08:39] FransBouma commented on #1100
Is there any documentation yet how this is going to work if you e.g. reverse engineer the AdventureWorks database (which contains geography types), as those types are of types SqlGeography/SqlGeometry from the SqlServer types package? Are the poco field types then suppose to be of type SqlGeography/SqlGeometry or of a type from the NTS package and you do the conversion internally?

(I ask this bec

[2018-10-02 12:30] sjb-sjb commented on #626
On the other hand it is also true that sometime you do want the synchronous invocation. For example this is useful if you are trying to track state information that is synchronized with EF state information.

[2018-10-02 13:09] ralmsdeveloper commented on #13464
This is wrong, the correct would be.
[code]
DbContextOptions<**IdentityDbContext**>
to
DbContextOptions<**ApplicationIdentityDbContext**>

[2018-10-02 13:45] lomholdt opened #13465 "Pass connection string as argument to `dotnet ef database update`"
When doing a `dotnet ef database update` it could be an awesome feature to enable passing environment variables in style with the [comand line configuration provider](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?view=aspnetcore-2.1#command-line-configuration-provider). That way when I want to use another connection string for migrating the database I can simply pas

[2018-10-02 13:46] espray commented on #13423
@AndriySvyryd @smitpatel
Below are 2 usecases. Goal would be to store in single document for best performance. In a relational database I would be fine with multiple tables. But, NoSql the more data I can pack on the document the better the performance.

1.
[code]

2. This one is more complex. Same goal would be to stored in single document.
[code]

[2018-10-02 14:28] neridonk commented on #1368
can we fund this wish? Our economy is about to get a big shock, time is running help

[2018-10-02 14:49] devel0 commented on #10365
Meanwhile you can try [netcore-ef-util](https://github.com/devel0/netcore-ef-util) and a code like follow

[code]

having defined a composite structure to hold data result with

[code]

More complex example [here](https://github.com/devel0/worked-hours-tracker/blob/df807cfa04c239b48f5d0da01bcd23351b3cc6fc/WorkedHoursTrackerWebapi/Controllers/ApiController.cs#L296-L302) with [composite type](https:

[2018-10-02 15:13] GertArnold commented on #1833
@HairyPorker

But it doesn't, that's my point. Sure, the SQL query will return only inactive children. But right after the statement _all_ children are tracked, so all `Children` collections of all entities will be populated fully if relationship fixup keeps working the way it does now. Keep in mind that `entities1` and `entities2` contain the same parent instances, because the statements run in t

[2018-10-02 15:34] ajcvickers commented on #13462
@jasonycw `HasDefaultValue` is for specifying the default value to configure as a constraint on the column in the database, which can then be applied using migrations. If you are mapping this to an existing column, then it won't have any affect. Having the ability to set a client-side default may be a useful addition--we will discuss. For now, setting it in SaveChanges seems like a good workaround

[2018-10-02 15:37] YandyZaldivar commented on #1833
@GertArnold even that being the case, the ability to create such filtered query is a great plus for many scenarios. Internal performance improvements could achieved later with the corresponding clarification, one example is the recent introduction of GroupBy translation in 2.1.

[2018-10-02 15:41] danjohnso opened #13466 "Migration Issue with Inherited Contexts"
public abstract class BaseContext : DbContext {}
public class TenantAContext : BaseContext {}
public class TenantBContext : BaseContext {}

BaseContext currently has an object called BasicMaterialDefinitionMasterModelCustomerInformation.  TenantBContext no longer needs that table, so I removed the DbSet from BaseContext and moved it to TenantAContext.  Adding a migration for TenantAContext worked

[2018-10-02 15:42] ajcvickers commented on #13464
@ralmsdeveloper  The screenshot already shows use of `ApplicationDbContext`.

@arndim01 There is not enough info here to see what is going on. Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-10-02 15:44] plamen-i commented on #1100
I'm second to leave default mapping behavior to geometry.

[2018-10-02 15:58] ajcvickers commented on #13466
@danjohnso Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-02 16:03] #13414 closed

[2018-10-02 16:06] btecu commented on #1100
Because your use case requires geometry?

Saner defaults are a very important part of any library / framework and as it was mentioned, geography is used significantly more, so it makes sense to have it as default.

[2018-10-02 16:29] bricelam commented on #1100
@FransBouma Our goal is that if you have the `Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite` package installed before you reverse engineer, your model will contain NTS `Geography` properties for those columns and the column type in the EF Core model will be configured as either `geometry` or `geography`. Llblgen pro can mimic this behavior by generating `Geography` properties in the mod

[2018-10-02 16:39] ralmsdeveloper commented on #13464
@ajcvickers  Yes, of course, the image seems to have been edited, I almost certainly looked at it, I even created a repro, but thank you.

This may be missing some package, or incompatibility with the target, because the project structure does not appear to be ASP.NET CORE

[2018-10-02 16:41] ajcvickers commented on #1100
@bricelam @roji So then geometry with an SRID is more useful in Npgsql than it is in SQL Server, so I can see why Npqsql people would be more likely to choose geometry than SQL Server people. Still think, on balance, the default should probably be geography for a more consistent experience while allowing advanced people to switch it, but I can see it both ways.

[2018-10-02 16:49] danjohnso commented on #13466
@ajcvickers Guess not.  Tried the same scenario in a new test project but the migration seems to work ok.  Not sure how I can extract this to something reproducible since it is a project that has been around a while ...any way I can track where it is picking up this reference in the model?  Verbose mode on the migration generation doesnm't provide anything useful.   Its probably 20 different table

[2018-10-02 17:30] ajcvickers commented on #13466
@danjohnso My best guess is that there is a reference to the type somewhere in the model so it is still being pulled in. For example, a navigation property that points to the type. If it's something else, then I don't have any ideas as to what that might be.

[2018-10-02 17:51] smitpatel commented on #13382
Simple Repro:
[code]

[2018-10-02 17:52] eltiare commented on #11564
I, too, would like for a feature like this. Having to manually go through and remove preloaded relations that I have not requested would save a lot of headaches for serialization.

[2018-10-02 18:06] cculver commented on #13417
I just received this as well. On 2.2.0-preview2-35157.
In OnModelCreating, I am calling the following:
`modelBuilder.Entity<Company>().HasIndex(t => t.EIN).IsUnique(true).ForSqlServerInclude("LegalName", "Website", "AddressId", "AlternateNames", "ReturnType");`
I subsequently increased the length of the LegalName field and am now receiving the same error as reported above.
In the initial migration

[2018-10-02 19:17] C-BERBER opened #17506 "Hours Wasted assuming the framework could handle a complex object save(insert, or update)"
I foolishly assumed that the EF would understand based on all of the keying relationships I defined what was a new object vs what was to be updated (or even removed).

It seems to me that there should be one method that performs this for any complex model.

Having to manage the implementation above will require a lot of redundant code across multiple levels of a big data model. This is a great opp

[2018-10-02 19:42] bricelam opened #13470 "Relational Query: Unify CASE generation"
After PR #13469, we generate SQL CASE expressions in multiple places. We should consider going through the same codepath for both of them.

[2018-10-02 19:47] espray opened #13471 "Cosmos.Sql -- Logging category name Microsoft.EntityFrameworkCore.Database.Command"
`Version="2.2.0-preview3-35373"` logging category `Microsoft.EntityFrameworkCore.Database.Command` with `LogLevel.Information` is not outputting any information. As a comparison `Microsoft.EntityFrameworkCore.SqlServer` with the same category/loglevel will output the sql statements.

[2018-10-02 20:54] ajcvickers commented on #13269
@xperiandri After digging through the configuration it's still hard for me to tell exactly what the intention is, but it looks like an attempt is being made to configure an owned type as the principal end of a relationship, which is not supported. If that's not the case, then it would be really helpful to see the database structure that you are attempting to map to so I can see exactly where the F

[2018-10-02 21:54] ajcvickers commented on #13452
@shakeri I have so far not been able to reproduce this. Can you post the full stack trace? Also, have you tried using raw ADO.NET commands to the database? Do you get timeouts with that mechanism too?

[2018-10-02 21:55] #13382 closed

[2018-10-02 21:59] smitpatel commented on #13131
Assigning to @divega to write conclusion. We may probably not do anything special about this.

[2018-10-02 22:46] joperezr commented on #13268
One thing to note, is that there are some test runners that won't honor the App.config file so binding redirects are not used. That might explain why you have the redirect but it the loader is still trying to use a higher version. I'm not sure if the R# test runner is one of those who don't honor the config file though.

[2018-10-02 22:53] karelz opened #13474 "Microsoft.EntityFrameworkCore.RawSqlStringInjectionDiagnosticAnalyzer Warning"
_From @pgmolloy on September 27, 2018 0:5_

Just started getting a build warning after updating Visual Studio. Can this be disabled as it doesn't seem to affect anything that I can tell, app builds, deploys and runs in Azure without a problem so not sure why this is a warning except maybe for that package developer. CSC : warning AD0001: Analyzer 'Microsoft.EntityFrameworkCore.RawSqlStringInjectio

[2018-10-02 23:01] ajcvickers commented on #13474
@pgmolloy What version of Visual Studio are you using and what version of the .NET Core SDK do you have installed?

[2018-10-02 23:08] tylercamp opened #13475 "Scaffolded navigation property name no longer meaningful when using composite foreign keys"
### The Problem

**When scaffolding using single-column foreign keys, I would get navigation properties with useful names such as:**
[code]
_(Where `current_army` table has primary key `army_id`)_

**After changing the primary keys to be composite for these tables and setting the foreign keys as composite accordingly, I get generic, uninterpretable names such as:**
[code]
_(Where `current_army` ta

[2018-10-03 00:27] #11738 closed

[2018-10-03 00:33] SidShetye commented on #626
@divega and @ajcvickers : it's been several months since an update so wanted to ask if you have clarity on `ObjectMaterialized` and `SavingChanges` hook release dates?

[2018-10-03 00:57] arndim01 commented on #13464
Hi guys tnx for the respond. The complete code is the same with the tutorial I mentioned above. I actually Im not getting an error if I inherit DbContext and not the IdentityDbContext. I used IdentityDbContext because it has a built-in user authentication which is I needed in the project.

[2018-10-03 01:06] arndim01 commented on #13464
@ralmsdeveloper hi ram yeah you are correct my mistake that's a web api project structure. Although I created a asp.net core, I'm still getting the same error.

[2018-10-03 01:09] tylercamp commented on #13475
Does this imply that keeping the same foreign key naming as in the first case should lead to the expected property names?

Maybe I'm missing something, how does the convention not work for composite key?

[2018-10-03 01:27] arndim01 commented on #13464
Hi guys. I did able to run the code and now its working fine. Its seems that the mistake is because of the packages I used.

BTW tnx for your time.

[2018-10-03 07:26] rotem925 opened #13478 "Navigation properties on other entities are not removed when OnDelete Restrict"
It seems that when using DeleteBehaviour.Restrict and removing an entity from the navigation property - the navigation property gets deleted from the database and from the removed collection after SaveChanges, BUT it still exists in other entities that have a relation to that deleted entity.
However, this issue does not happen if the DeleteBehaviour.Cascade is specified.
This seems to be a bug, th

[2018-10-03 07:51] AndriySvyryd opened #13479 "Replace service doesn't work correctly for IConventionSetBuilder"
When used with a provider (e.g. SqlServer) the replacement service is added twice.

[2018-10-03 08:35] FransBouma commented on #1100
@bricelam

Ah thanks for the info :) Sounds good :)

[2018-10-03 08:59] liroforum opened #13480 "Execute SP using Entity Framework and .net Core"
I created a web api project using .net core and entity framework.
This uses a stored procedure which returns back most of the properties of a table defined by entity framework.

The entity framewrok does not bring back all the columns of the table. And I get an error when I call the api complaining it cannot find the missing columns when I execute the stored procedure using ,

_context.Set<TableFr

[2018-10-03 09:03] fragilethoughts commented on #9906
It works for classes but not for structs. If you try to use `struct` with `OwnsOne` you get error: `error CS0452: The type 'Vector' must be a reference type in order to use it as parameter 'TRelatedEntity' in the generic type or method 'EntityTypeBuilder<Player>.OwnsOne<TRelatedEntity>(Expression<Func<Player, TRelatedEntity>>)`

[2018-10-03 11:17] KLuuKer opened #13481 "Implement DatePart nanosecond"
We need access to SQL's DatePart nanosecond to do some in sql sorting (don't ask me why it's a stupid reason).

Would it be possible to have this in EF.Functions?

incase someone wants to lookup the command....
https://docs.microsoft.com/en-us/sql/t-sql/functions/datepart-transact-sql?view=sql-server-2017

[2018-10-03 11:30] CalvinPangch opened #13482 "Collection was modified; enumeration operation may not execute."
recently i just migrate EF 6 to EF core and i encounter this issue.
I had this error randomly, i had no problem to execute in the xUnit Test But not OK when i runing in the Web Application.on the first load of web, the error "Collection was modified; enumeration operation may not execute" raised, but sometime it will get a success call after the 2nd tried.

StackTrace
[code]

[2018-10-03 11:31] JanEggers opened #13483 "Precompiled queries assume the model for a given DbContext will never change"
### Steps to reproduce
when I use EF.CompileQuery to generate a Query it fails to find the result. executing the linq normally returns the result.

I also verified that it is not a threading issue. the item is there all the time and if im setting the debugger to call FindItemQuery again it still returns null.

The behavior is observed in a unittest. using xunit. If the test is executed alone it wo

[2018-10-03 11:47] shakeri commented on #13452
[code]

@ajcvickers I tried with ADO.NET, but with ADO.NET it works without problems:
[code]

[2018-10-03 11:56] NicolasDorier opened #13484 "Super slow first request"
I have around 14 tables, and the first request (which happen to be done by `.Migrate`) is awfully slow.
I guess it compiles the model, first request takes 6 seconds. Next requests are almost instant.

Is there some trick to decrease the slowness? It takes forever to start/debug an integration test because of this.

[2018-10-03 12:27] BrightSoul opened #13485 "Configuring a value converter for a property of an owned type"
Hi all, I'using EF Core 2.1 and I have this value object in my model, which is then configured as an owned type for properties such as "Price".
[code]
Currency is a simple enum like this.
[code]
I'd like to persist the Currency property as a string, i.e. I want 'EUR' or 'USD' to appear in the database instead of its numerical representation.

For this, I tried to configure the `EnumToStringConvert

[2018-10-03 12:41] Danielku15 opened #13486 "Sorting by included child collection property causes exception"
If you have an entity with a child collection and in your query you attempt to sort by a "joined" value the query fails with a NullReferenceException.

[code]

### Steps to reproduce

[code]

**Testdata:**
_MyObject_

| Id | Name |
| --- | ----------
| 1 | Test1 |
| 2 | test2 |

_MyMeta_

| Id | Key | Value | MyObjectId |
|---|-----|--------|--------------|
| 1 | Meta1 | Value1 | 1
| 2 | Order | V

[2018-10-03 13:02] alexvkru commented on #13268
No, i'm updated VS to 15.8.5, but problem still exists.

[2018-10-03 13:16] alexvkru commented on #13268
I have similary problem, but haven't solution for it. If i use single project (EF Core SQlite WPF) - all just work. If I try to use separate project for UI (WPF) and data (EF Core + SQlite) - i have error: `"Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies".`
I tried all of possible sol

[2018-10-03 13:38] KLuuKer opened #13487 "Query: Translate byteArray.Length on SQL Server and SQLite to avoid reading complete blobs"
when querying the length of a byte[] sql like this is produced

**actual:**
`SELECT [Blob] From [MyTable]`
**expected:**
`SELECT DATALENGTH([Blob]) as [HowLong] From [MyTable]`

### Steps to reproduce

[code]

### Further technical details
EF Core version: 2.2.0-preview2-35157
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.9.0 Pre

[2018-10-03 13:43] tylercamp commented on #13475
If that naming convention does not apply to composite keys, is there any other way to dictate the property name in this case?

[2018-10-03 14:04] JanEggers commented on #13483
updating to Microsoft.EntityFrameworkCore.InMemory Version="2.1.4" did not resolve the issue

[2018-10-03 14:15] JanEggers commented on #13483
from the in memoryQuery context i get from the precompiled view when removing firstordefault I see that the table contains the values but the enumerable is based on a snapshot that does not contain the values!

_innerEnumerable.results.source.source. Microsoft.EntityFrameworkCore.InMemory.Storage.Internal.InMemoryTableSnapshot = 0
!=
InMemoryQueryContext.Store.Tables.InMemoryTable.Rows.Count = 3

[2018-10-03 14:27] USFbobFL opened #13488 "why is there little helpful documentation on executing stored procedures?"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2018-10-03 14:40] JanEggers commented on #13483
creating a new compiled query also returns the correct result

[2018-10-03 14:44] danjohnso commented on #13466
@ajcvickers Spent a couple hours looking for navigation properties and possible indirect references and I couldn't find anything.  I have my actual context setup pulled out of the main application and the issue still happens when trying to add the migration on an empty ConsoleApp.  Do you have a way I can share without posting it publicly?

[2018-10-03 14:54] joalcava commented on #7340
Hi everyone. First of all sorry if I'm missing something really obvious here.
My scenario is as follows:
I have an entity called: `Program` and another called: `Process`. The relationship between them is many to many, so i have a third entity to represent that relationship.
[code]
Users can select what processes a program have, so when they edit an existing program I prefer to replace the whole co

[2018-10-03 15:06] JanEggers commented on #13483
meh I dont get it if I do the exact same code as in EF.CompileQuery in my class it works if I use the default method I get an empty snapshot.

[2018-10-03 15:27] ajcvickers commented on #13475
@tylercamp Do you have a suggestion on how the navigation names could be generated from the information available in the database schema?

[2018-10-03 15:36] THammond9 opened #13489 "Using Query<> and FromSql does not map columns by name"
I am using `this.TenantContext.Query<EnrollmentGetChoicesForSurveyField>().FromSql("EnrollmentGetChoicesForSurveyField {0}", myVar.Value)` to run a stored procedure.
The `EnrollmentGetChoicesForSurveyField` class looks like:

    public class EnrollmentGetChoicesForSurveyField
    {
        public string Label { get; set; }
        public string Value { get; set; }
        public string Key { get;

[2018-10-03 15:41] smitpatel commented on #13487
Probably need to add `Array.Length` translation for SqlServer.
Based on the query model shape, it would be easy to do so marking for up-for-grabs.
Let me know if anyone need more guidance.

[2018-10-03 15:43] smitpatel commented on #13483
Likely, you are not using same InMemoryDatabase. InMemoryDatabase may change if service provider is re-created.

[2018-10-03 15:45] ajcvickers commented on #13466
@danjohnso You can email it to me. At "microsoft.com", I am "avickers".

[2018-10-03 15:55] ajcvickers commented on #13478
Duplicate of #12114

[2018-10-03 15:59] twurm opened #13490 "Model.DebugView Property - Causing Massive Log Growth"
Describe what is not working as expected.
We are using Nlog to handle all of our logging.  We started seeing massive growth while doing some concurrency testing.  The base exception we see (though not the actual problem) is: Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/f

[2018-10-03 16:02] ajcvickers commented on #13480
@liroforum Currently FromSql must either return an entity type or a query type with all properties mapped. See https://docs.microsoft.com/en-us/ef/core/querying/raw-sql

See also #11624 and #10753 for issues tracking support for more than just entity/query types.

[2018-10-03 16:04] tylercamp commented on #13475
Via foreign key name, as is the case with single-column foreign keys.

Strip prefixes and suffixes of fk, fkey, and id, separated by underscore, and use the current convention of replacing underscores via camel case.

This works for my case and I’d expect other cases, but I’m unfamiliar with the full range of formats that foreign key names may take.

[2018-10-03 16:05] ajcvickers commented on #13482
@CalvinPangch Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-03 16:06] tylercamp commented on #13475
Even if not used as a primary approach, using this as a fallback would be much preferred to RelationNavigation, Relation1, Relation2, etc

[2018-10-03 16:10] ajcvickers commented on #13483
@JanEggers Can you post a runnable project/solution or complete code listing that demonstrates the issue?

@smitpatel That was my thought to, but then, I can't reconcile that with, "If the test is executed alone it works most of the time. If I execute all the tests it sometimes returns null."

[2018-10-03 16:12] ajcvickers commented on #13479
@AndriySvyryd Interesting. This is because the service is registered with "allow multiple" and we find two instances to replace. It's not clear to me how/if ReplaceService should work in this case.

[2018-10-03 16:16] Tarig0 commented on #13485
think you need Entity<MyEntity>().Property(e => e.Price.Currency).HasConversion

[2018-10-03 16:16] ajcvickers commented on #13484
@NicolasDorier There's not much to go on here. A runnable project/solution or code listing that demonstrates the behavior would be ideal. If that's not possible, then at least some snippets of code that show what is happening on startup would be useful to give us something more to work with for suggestions.

[2018-10-03 16:30] ajcvickers commented on #13485
@BrightSoul This should work:
[code]

[2018-10-03 16:36] ajcvickers commented on #13488
@USFbobFL https://docs.microsoft.com/en-us/ef/core/querying/raw-sql shows calling a stored procedure using `FromSql`. If you're looking for something more specific, then please file an issue with more details on https://github.com/aspnet/EntityFramework.Docs

[2018-10-03 16:42] ajcvickers commented on #7340
@joalcava "I've made ProgramProcess inherit from IEquitable to make the two id values represent the identity of the entity." EF can only track a single instance for an entity with any given ID.

[2018-10-03 16:58] ajcvickers commented on #13490
@twurm ToString on the exception doesn't dump out all that information. Presumably there is something else (maybe NLog) which is attempting to read state from the exception object and serialize it into what you posted above. This is actually a dangerous thing to do without a lot of care because the state of the exception is not intended to be used like this and a) can be large (as you see) as well

[2018-10-03 17:21] BrightSoul commented on #13485
Thank you @ajcvickers, it's working wonderfully. I have to repeat that configuration with each usage of the Money type but it's not a big deal right now. Of course, a type-wide converter configuration would be even more useful. Something like this:
[code]
Also, I couldn't find this in the [documentation](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions), maybe a paragraph about

[2018-10-03 17:30] JanEggers commented on #13483
I will try to create a repro.

[2018-10-03 17:37] twurm commented on #13490
@ajcvickers thanks for the quick response.

The issue was related to the @ formatter that was added in [Nlog 4.5](https://github.com/NLog/NLog/wiki/Exception-layout-renderer).

[2018-10-03 17:40] ajcvickers commented on #13485
@BrightSoul I'll file a docs issue. Global config of a converter is tracked by #10784.

[2018-10-03 17:51] ajcvickers commented on #13412
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-03 17:53] ajcvickers commented on #13417
@per3ian @gabrielRibeiroCamargoFerreira @olaeld @cculver What is the full stack trace of the exception?

[2018-10-03 18:17] corruptmem opened #13491 "Pooling isn't resetting QueryTrackingBehaviour"
I am trying to use EF context pooling, but I am finding that contexts are not coming back in a pristine state on some requests.

My code alters the DbContext's ChangeTracker.QueryTrackingBehaviour property to NoTracking for certain subsystems, and doesn't reset it back to TrackAll with the expectation that "fresh" DbContexts will default to TrackAll.

However, it appears when the pool returns a co

[2018-10-03 18:21] JanEggers commented on #13483
here is a repro:
https://github.com/JanEggers/EfCoreRepro_PrecompiledQuery

and yes it is another context but that should not be an issue as I pass the new context to the precompiled query when executing it.

[2018-10-03 18:28] ajcvickers commented on #12660
@maumar to try to reproduce.

[2018-10-03 18:31] ajcvickers commented on #13226
@smitpatel @maumar @ErikEJ to look for workarounds

[2018-10-03 18:33] JanEggers commented on #13483
why isnt that something like:

 (with a const or some reflection magic to get the context name)

[code]

https://github.com/aspnet/EntityFrameworkCore/blob/a3f0a78c41fe209924f8fb39fc77c421236f1bbe/src/EFCore/Query/Internal/CompiledQueryBase.cs#L58-L65

and here:

[code]

[2018-10-03 18:34] JanEggers commented on #13483
may I provide a pr?

[2018-10-03 18:41] ajcvickers commented on #13444
Duplicate of #10513

[2018-10-03 18:43] ajcvickers commented on #13452
@smitpatel to investigate

[2018-10-03 18:47] ajcvickers commented on #13462
@divega to find dupe
@ajcvickers to try a value generator

[2018-10-03 19:16] ralmsdeveloper commented on #13487
According to the documentation from Microsoft ([https://docs.microsoft.com/pt-br/sql/t-sql/functions/datalength-transact-sql?view=sql-server-2017](https://docs.microsoft.com/pt-br/sql/t-sql/functions/datalength-transact-sql?view=sql-server-2017)) we have many possibilities for DataLength, it would not be better to meet all of them use something like this:
`EF.Functions.GetDataLength(T)`

[code]

I

[2018-10-03 19:28] ajcvickers commented on #12669
Triage: for 2.2 we will do "It should always handle multi-line and escaping (we actually decided we would do this, but maybe we haven't implemented it yet)"

[2018-10-03 23:15] smitpatel commented on #11936
I tried to reproduce above using Entity Framework Core 2.2.0-preview2-35157 (latest package on NuGet) but the FK is scaffolded correctly for me.
Database schema
[code]
Generated model
[code]

Since original issue was reported for 2.0.3, it is likely to be fixed already.
If you are able to reproduce the issue in latest version then please provide SQL to generate database.

[2018-10-03 23:23] divega opened #13493 "EF benchmarks are failing"
We are not getting benchmark results and therefore we cannot publish them. We haven't investigated exactly what broke them but @smitpatel suspects it could have to do with some changes we did to leverage a new feature of Benchmark.NET and/or issues with the .NET Framework installed in the machine.

[2018-10-03 23:36] ajcvickers commented on #13449
Closing this as external per analysis above.

[2018-10-03 23:40] ajcvickers commented on #13471
@espray The Cosmos provider should be logging queries to that category, but it's possible that there is a bug. Can you post a runnable project/solution or complete code listing that demonstrates what you are seeing?

[2018-10-03 23:45] smitpatel commented on #12954
I used following code to reproduce the issue
[code]
Based on whatever said in the comments above, I tried to recreate similar model but it is working for me successfully in version 2.2.0-preview2-35157 (lastest on NuGet). I also verified that we set schema appropriately (not just the table) when configuring shared table. Beyond that, I believe, it is not possible for us to investigate without actu

[2018-10-03 23:48] ajcvickers commented on #13475
@tylercamp Just to clarify, EF Core uses the foreign key _column name_ as the basis for generating the navigation name. It does not use the foreign key _constraint name_. While in your case you have FK constraint names that might, with some manipulation, make reasonable names, our experience from trying to use constraint names for this in the past has been that they are usually not named in a way

[2018-10-03 23:51] ajcvickers commented on #13479
Proposal from triage discussion:
* By default, replace all occurrences with the single one supplied
* Allow the current _implementation_ type to be passed to ReplaceService as the first generic, and then only replace that implementation with the new type provided.

[2018-10-03 23:58] NicolasDorier commented on #13484
@ajcvickers I will make a repro later today. But basically: Have 14 tables, call `Migrate()` first time => 6 seconds. Call a second time => Less than one second.

I thought this was well known issue in entity framework core.

[2018-10-04 00:00] ajcvickers commented on #13484
@NicolasDorier Not with only 14 tables, and the call to Migrate also makes it unusual.

[2018-10-04 00:06] ajcvickers commented on #626
@SidShetye Unfortunately, the schedule for 3.0 is pretty full, and this is not planned for that release--as indicated by being in the "Backlog" milestone. That being said, it's possible something small will get slipped in depending on how things go.

[2018-10-04 00:09] tylercamp commented on #13475
Thank you, this clarification was needed.

Before I finish by making a custom `IDesignTimeServices` for my specific types and column names, is there a convention for naming of navigations based on composite key column names?

[2018-10-04 00:53] ajcvickers commented on #13483
Note for triage: something strange is going on here with the in-memory database. Repro code is below. Running with SQL Server results in:
[code]
while with the only change being `UseSqlServer` to `UseInMemoryDatabase` the results are:
[code]
Note that the internal service provider is being managed by EF, The service provider created in the code is only used for `AddDbContext` and resolving that co

[2018-10-04 01:00] smitpatel commented on #13069
Issue: The column has facets specified in owner type but not in owned type (where there is shadow PK property mapping to same column). If `Created` is declared before `ProviderKey` in class then column ordering in migration will use the property from owned type to generate column operation. The owner column gets ignored since it has same name/table. Hence we lost configuration.

Work-around: Confi

[2018-10-04 01:45] phillipsj commented on #13481
I would like to give this a try for Hacktoberfest.

[2018-10-04 05:01] joshmouch commented on #13417
I just started getting this exception, too.  I did a search in my solution for "SqlServer:Include", and there are 0 matches.

The stack trace is:

[code]

[2018-10-04 05:03] joshmouch commented on #13417
Here's a better stack trace:

[code]

[2018-10-04 05:48] roji commented on #1100
@ajcvickers @bricelam OK... For reference [here](https://postgis.net/docs/manual-2.5/using_postgis_dbmanagement.html#PostGIS_GeographyVSGeometry) are the PostGIS docs with user advice on when to use which type (I'm not big spatial expert and by now you probably know more about PostGIS than I do...).

I guess it's legitimate for different providers to map to different types by default, as geometry

[2018-10-04 06:47] raffaeler commented on #12954
@smitpatel At the end the problem was a mix of two issues:
- the message coming from the exception is not clear enough to understand the real origin of the problem
- the docs are not suggesting to use ToTable (as I wrote [here](https://github.com/aspnet/EntityFrameworkCore/issues/12954#issuecomment-412929110) )

HTH

[2018-10-04 07:15] milomconsulting opened #13495 "Enhancements to full-text seach"
SQL Server provides an option for full-text CONTAINS that includes all indexes defined in a full-text index (rather than specifying each index separately): CONTAIN(*, <search_term>, [LANGUAGE <language_id>]). EF Core does not currently support this use case.

Although the ideal solution would be to provide a provider-agnostic extension to define a "contains from any indexed field" extension to Lin

[2018-10-04 07:36] Der-Kraken commented on #1833
@GertArnold That is an interesting point of view and I think that could be a problem in a long living context instance (not a technical problem but more an organizational).

But I understand the DataContext as an UnitOfWork. An UnitOfWork is created for one task. After that it get's disposed. During one task I do not believe that the scenario you describe is relevant.
If so then I would expect tha

[2018-10-04 07:40] liroforum commented on #13480
So does that mean I should not add my own model class and change the SP to return all the properties of the entity. So what about really complicated sql SP which does not need the entire column of a table to return(may be uses joins between tables in database)?

[2018-10-04 07:48] KLuuKer commented on #13487
I would also say translate `.Length` to `DATALENGTH`.

But there is also the `LEN` function
https://docs.microsoft.com/en-us/sql/t-sql/functions/len-transact-sql?view=sql-server-2017

It's basically the same except it excludes trailing blanks (and has very bad performance because it has to go trough the entire data) i don't know how much use people have for that one tough...

[2018-10-04 08:46] daghb commented on #13268
[rant]

For every new VS/MSBuild version, the dll hell is more and more evident. What I am unable to fathom, is why the endless problems with these assemblyredirects is not taken care of at all. After almost 30 years with build problems due to DLLs I do not see the end at all - it has actually never been as crazy as it is now. Could you please fix this, once and for all - and give us ways to upgra

[2018-10-04 08:46] Tonvengo commented on #12911
@christianholsen Thanks for response. I found different solution. I am producing all migrations separately and in Octopus Deploy run only those migrations, that were not applied. So I am waiting as well when this will be fixed, so I can switch back to migrations.sql. :)

[2018-10-04 09:01] btodts opened #13497 "Table/Column annotations are empty in custom SqlServerMigrationsSqlGenerator"
Consider the following `EntityTypeConfiguration` which, among others, adds Annotations to the EntityTypeBuilder:

[code]

In this particular use case, I want to add a `COLLATE` clause to the column definition when a migration is executed. To do this, I created a custom `SqlServerMigrationsSqlGenerator`. In this Generator, I figured I could get a column's annotations and, if necessary, add addition

[2018-10-04 09:42] Kukkimonsuta commented on #13481
I'd like to implement this. From what I could find, the following tables describe current possible translations:

| DatePart | Currently translated from | Proposal |
| ---- | ---- | ---- |
| year                | DateTime.Year                       ||
| quarter             |                                     ||
| month               | DateTime.Month                      ||
| dayofyear

[2018-10-04 10:15] Looooooka commented on #10001
While people on the OLD EF can write queries...I have to use the OLD EF to generate the best query...then copy the resulting working SQL query and use FromSQL...and hack away to make this usable.
Needless to say this is the single most painful slowdown of programming since switching to .NET Core.
I have to say that for any non-basic queries this platform so far is pretty much useless. The main rea

[2018-10-04 10:49] subinmathewit commented on #10327
I am also facing the same issue with my service fabric application with Stateless Asp.Net Core Service(.Net Framework). Is there any fix for this?

[2018-10-04 11:45] maganuk commented on #12738
@smitpatel just upgraded to 2.1.4 and tried running the query in the first post, throwing a different error now:

[code]

The same is happening with 2.2-preview-2.

[2018-10-04 13:48] alewmt opened #13498 "Is there a way to inject semaphore?"
Hi!
I get different kinds of timeouts due to too many threads accessing the database at peak times.  It is not easy to do IQueryable api facade to intercept database requests. Coordination of threads at the application level does not give good results. I would like to know if it is possible to inject `SemaphoreSlim` in `EF`
to limit the number of simultaneous accesses to the database? I need it to

[2018-10-04 14:37] j-rewerts commented on #12894
Thanks for the explanation! I've found the tests for ConstructorBindingConvention [here](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/test/EFCore.Tests/Metadata/Conventions/Internal/ConstructorBindingConventionTest.cs). I'll try to create a test that reproduces your issue on my fork.

[2018-10-04 15:04] AJHopper opened #13499 "Equal is not defined for the types 'System.Int32' and 'System.Nullable`1[System.Int32] on versions after 2.1.1"
So, within our codebase we have had a setup that has been working on EF Core up to 2.1.1 however on versions beyond this fails with the Equal not defined issue - curious if this change is by design or a bug.

The issue being on a HasOne().WithMany() one way relationship mapping as detailed below where one of the fields it links on is an int type, and one is nullable int, as mentioned it works in 2

[2018-10-04 15:29] cyptus commented on #13130
i had the same issue. it was caused by an entity which did have an property with an empty class type which was also not part of the dbcontext.

[2018-10-04 15:36] ajcvickers commented on #13498
@alewmt This is not something that is currently possible or that we are planning to do. Throttling is not something that should be handled at the EF layer; it would probably make sense to review your architecture and determine where a more traditional throttling mechanism could be inserted.

[2018-10-04 15:43] dchenier commented on #11922
@smitpatel , your suggestion of using a visitor to the entire project seems to work!  I just couldn't find an appropriate visitor that was already in the project, is it acceptable to create a new one?

Here is what I am thinking: https://github.com/aspnet/EntityFrameworkCore/compare/release/2.2...dchenier:Issue11922

[2018-10-04 15:49] ajcvickers commented on #13462
@jasonycw It was pointed out that this can actually be done today with a value generator. For example:
[code]
[code]
This will set the value for the shadow property on every new entity before it is inserted.

[2018-10-04 16:28] AndriySvyryd commented on #12954
@raffaeler Calling `ToTable` on the owned types is a workaround for your issue, it shouldn't be needed, that's why it's not documented.

[2018-10-04 16:54] raffaeler commented on #12954
@AndriySvyryd ok. But without it I could not make it work. I am not sure whether @smitpatel test cover the case when PhysicalSchema was initially specified by hand to the entity (and thus not propagated to the Owned Type)

[2018-10-04 16:57] obelixA commented on #13268
Back from my illness I have a minimal demo project to reflect the issue

hope this helps. My suspicion, as already mentioned in a post above, that it has to do with separated projects...

[Test.zip](https://github.com/aspnet/EntityFrameworkCore/files/2447301/Test.zip)

[2018-10-04 17:00] HSchwichtenberg opened #13500 "Allow all WithTag() comments to be ignored by a global setting"
The new WithTag() in EFCore 2.2 is a great feature (#12669). However, a developer might want to see the comments only during debugging and tracing scenarios, hidding them in normal operations.

Feature Request: Please allow a global setting in the DbContext to ignore all WithTag() comments, e.g.

context.Database.WithTagBehavior = WithTagBehavior.Ignore;

[2018-10-04 17:11] smitpatel commented on #12954
@raffaeler - If you look at the code I posted, I have configured the owner type to map to different schema using `ToTable` call and yet it is propagated properly to owned entities. The code in SharedTableConvention also does processing for table and schema both. Hence the assumption that schema is not getting propagated is incorret.
At this stage we will need repro to investigate further else ther

[2018-10-04 17:14] cculver commented on #13417
Mine's basically the same.
`System.InvalidOperationException: The annotation 'SqlServer:Include' was not found. Ensure that the annotation has been added.
   at Microsoft.EntityFrameworkCore.Infrastructure.AnnotatableExtensions.GetAnnotation(IAnnotatable annotatable, String annotationName)
   at Microsoft.EntityFrameworkCore.Migrations.SqlServerMigrationsSqlGenerator.GetIndexesToRebuild(IProperty

[2018-10-04 17:31] smitpatel commented on #13497
You also need to override https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.SqlServer/Migrations/Internal/SqlServerMigrationsAnnotationProvider.cs to transport annotation from model to MigrationOperations.

[2018-10-04 17:32] #13280 closed

[2018-10-04 17:34] bricelam commented on #13280
Translated both. I realized the translation was pretty much the same...

[2018-10-04 17:46] Jaffacakes82 opened #13501 "EF Core 2.1.3 Migrations not generating identical property mapping"
When generating migrations for the following class:
[code]
The following mapping is created:
[code]
As you can see, the LastUpdatedBy column is not being mapped in the migration, whereas the CreatedBy column is. These two columns are seemingly the same to me, so why is one being mapped and not the other?

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrame

[2018-10-04 17:52] JanEggers commented on #13483
I investigated further and guess I found the issue:

https://github.com/aspnet/EntityFrameworkCore/blob/c599721a3f9bcc71a35f7e363bcb1e46ef92d8ba/src/EFCore.InMemory/Storage/Internal/InMemoryStore.cs#L119

the table is not found at that line because because the EntityType are not ReferenceEqual because one is from the first model and the other is from the second model

the easiest fix would be to e

[2018-10-04 18:01] ajcvickers commented on #13501
@Jaffacakes82 What does the `User` class look like and do you have any configuration in `OnModelCreating`?

[2018-10-04 18:38] j-rewerts commented on #12894
I've got a test that's more descriptive. It returns:
`
'No suitable constructor found for entity type 'BlogNone'. The following parameters could not be bound to properties of the entity: 'Constructor (title, did) can't bind 'did', Constructor (notTitle, shadow, id) can't bind 'notTitle', Constructor (title, shadow, dummy, id) can't bind 'dummy''.'
`

@sm-g Think I'm on the right track?

@ajcvicker

[2018-10-04 18:57] Jaffacakes82 commented on #13501
@ajcvickers the `User` class is at the top of my comment.

My `OnModelCreating` method just has a couple of table name bindings and a many to many mapping:
[code]

[2018-10-04 19:03] smitpatel commented on #13501
`CreatedBy` & `LastUpdatedBy` are not scalar properties which would have corresponding columns. They are navigations. Since they are defined on `User` and also target `User` type, together they form a self-referencing foreign key navigation pair. One of those navigation `CreatedBy` is picked as dependent to principal navigation hence the shadow FK created is named `CreatedById` and there is not `L

[2018-10-04 19:10] smitpatel commented on #11922
@dchenier - We need to add new visitor. I looked at your code. There are some refactoring things to cover but you should submit a PR.

[2018-10-04 19:33] smitpatel commented on #13069
@AndriySvyryd - Facets to validate
- `IsUnicode`
- `GetMaxLength`
- `Relational().IsFixedLength`

Anything else? I couldn't find precision/scale

[2018-10-04 19:35] alanrezendee opened #13505 "Dotnet tool ef, showing error when installed in the same version."
Operating system used:
ArchLinux

Dotnet version that presents the error: 2.1.4.
Dotnet ef version that presents the error: 2.1.4.

When I run the simple "dotnet ef" command, where everything is OK with the tool, I should return for example "Entity Framework Core .NET Command-line Tools 2.1.2-rtm-30932", and command-line options of the tool, is displaying the error below:

Error message: A Fatal E

[2018-10-04 20:25] AndriySvyryd opened #13507 "Use the configured ValueComparer in ModificationCommandComparer"

[2018-10-04 21:06] NathanNZ opened #13508 "Nullable Alternate Keys / Navigation Properties on Unique Keys"
I'm currently prototyping a solution using EF Core, but I've hit into an issue with nullable alternate keys. As data coming into this system is going to be eventually consistent with identifiers coming from an outside event driven system I'd like to have the ability to link the objects when they eventually arrive using EF Core, but just have them return null if the object has not arrived yet.

My

[2018-10-04 21:07] ajcvickers commented on #13507
The `KeyComparer` of the property is the appropriate one to use in this case.

[2018-10-04 21:47] #12749 closed

[2018-10-04 22:30] maumar commented on #12200
Generated query plan for the above case:

[code]

Problem here is that outer shaper for client GroupJoin is `TransparentIdentifier<Branch, ValueBuffer>` - this is because navigation expansion that happens "inside" / "before" group join.

When we process client group join, trying to place inners into correct buckets we check if the outers are the same (keep adding to the bucket) or different (need

[2018-10-04 22:48] art-grig opened #13511 "SelectMany with DefaultIfEmpty() generates unexpected INNER JOIN"
In EF Core same code with SelectMany and DefaultIfEmpty() generates **INNER JOIN** and brings unexpected result, while in EF 6 it works perfectly fine with **LEFT JOIN**

### Steps to reproduce
Let's assume we've simple one->one->many relation with following tables structure:

[code]

And trying to run the following query:
[code]

So for some reason for CentralSchool **INNER JOIN** is getting to b

[2018-10-04 23:56] ralmsdeveloper commented on #12634
@smitpatel you can see this, maybe it is the simplest solution to this problem.
https://github.com/ralmsdeveloper/EntityFrameworkCore/commit/47c2b4a71066c461861a4f477ba9de5099c17fe5

If you like PR, tests will be implemented in SimpleQueryTestBase, and then provider writers will be able to rewrite it if there are any quirks.

[2018-10-05 02:45] darcythomas commented on #11881
My observation/ 2 cents:

For me:
`[Foo] LIKE @foo + '%' AND (LEFT([Foo], LEN(@foo)) = @foo)) OR (@foo = '')`
is 100X slower than `[Foo] LIKE @foo + '%'`

This seems to be because the the query needs to perform a index scan rather than an index seek on `IX_TableName_Foo`

[2018-10-05 03:49] jasonycw commented on #13462
@ajcvickers Thanks, this is a good idea to group the default values in one place.

One more similar issue, we want to report too is the HasDefaultValueSql or HasComputedColumnSql
[code]
The `another_email_column` and `is_gmail` will still be NULL when we add entities to the DB.
I assume it is the same as HasDefaultValue where we understand them incorrectly.

Any suggestion on how to map shadow pro

[2018-10-05 04:02] klawingco commented on #13417
It's also happening to me.
I need to increase the max length of a property from 255 to 500.
I spinned a migration that change the maxLength.
Then when I run the update-database. It throws error
here is the stack trace

[code]

Environment : Visual Studio 2018 15.8.4
OS : Windows 7 Professional SP1
EF : EntityFrameworkCore.SqlServer (2.2.0 preview1-3509)
Net Core : 2.1

[2018-10-05 05:05] ws4u commented on #7232
As mentioned by @bricelam , when using .OrderBy(), the rows will be ordered by their TEXT values on the database.  This produces weird order results for my 'Price' column. Say, $9 will be deemed larger than $13. In my model definition, Price is of type decimal. And in the database, it is converted to TEXT. Do you have a way to make it converted to 'REAL'? Or do you have other solutions to make the

[2018-10-05 07:34] generik0 commented on #13342
@ajcvickers I have made an example. You just need to run:
Add-Migration -outputdir Migrations/Release42 -Context TestDbContext -project EfCoreMultipleTransactionsSameDbContext -startupproject EfCoreMultipleTransactionsSameDbContext -Name Add_Test
And you will see there is an extra snapshot created.
[EfCoreNewSnapshotCreated.zip](https://github.com/aspnet/EntityFrameworkCore/files/2449324/EfCoreNew

[2018-10-05 07:45] raffaeler commented on #12954
@smitpatel I see but there is a huge difference between my code and yours.
I have to manually specify all the mappings because in my case I don't know the entities. Therefore I have to use reflection to map them.
Beyond the fact I created new extension methods to use reflection objects such as PropertyInfo, I manually add every single property without letting the conventions decide.

That said, I

[2018-10-05 12:34] zd-dalibor opened #13512 "Microsoft.EntityFrameworkCore.Analyzers - warning EF1000: Possible SQL injection vulnerability."
Microsoft.EntityFrameworkCore.Analyzers shows this warning:

[code]

The main problem is that I cannot find where is this warning in my code. Message does not tell anything about line number or file where this problem exists.

I search my whole project for `{0}` but I do not have it.

Is there some way to get more detailed message for this warning or is there some way to suppress this warning, not

[2018-10-05 12:56] JanEggers opened #13513 "Memory leak when using fromSql with dynamic sql"
related to https://github.com/borisdj/EFCore.BulkExtensions/issues/73

using context.Set<T>().FromSql("select something from #dynamic") causes a memory leak in the Query cache.

EFCore.BulkExtensions uses this pattern to read entities from a temporary table with dynamic name.

expected behavior:
the FromSql queries should either not be cached at all or there must be a way to disable caching like t

[2018-10-05 13:16] byrnedo commented on #13192
Hi, we're having trouble with `x.CompareTo("123") > 0` where x is a varchar column, the sql generated is `x > N'123'`. This is causing big performance issue since it can't use the index. Any idea when this case would be fixed?

[2018-10-05 13:56] THammond9 commented on #13489
I see that this is marked as a bug with a milestone that seems not soon, so I was wondering if there was a work around for this issue? I thought that position of the returned columns in the stored procedure might matter but when I changed the order the values were still mapped incorrectly. How should I arrange things so that the values end up in the correct properties?

[2018-10-05 14:14] klaussj commented on #12951
I'm having the same issue, and it's a real problem for me.

I made a [gist ](https://gist.github.com/klaussj/07ddb934534c22a0d58287a782d49139) to reproduce. Can you re-open please ?

[2018-10-05 14:18] gius opened #13514 "Wrong 'Order by' priorities in SQL when using multiple OrderBy statements"
Using multiple `OrderBy` statements is sometimes translated with wrong priorities just like the later `OrderBy` was `ThenBy`.

This was OK with EF Core 2.0.3 but does not work with 2.1.0 and later.

Unfortunately, I can reproduce the issue only when using Automapper, I was not able to isolate the problem further. However, since the test case works properly when using differrent IQueryable source o

[2018-10-05 15:28] ajcvickers commented on #13489
@THammond9 Based on your description above we were working on the assumption that it was using the order, which would be a bug, although since this code has been the same since 1.0 or 1.1, it would be a bug that has likely been around a long time. However, based on your follow up comment this no longer seems to be the case.  Can you please post a runnable project/solution or complete code listing

[2018-10-05 15:38] dalibor983 commented on #13512
@ajcvickers No, this warning is shown in solution explorer window under dependencies
[code]

Noting happens when I double click on `EF1000: Possible SQL injection vulnerability.` :disappointed:

[2018-10-05 15:42] ajcvickers commented on #13512
@ajcvickers Can you post the full text in the context of all the other text around it?

[2018-10-05 15:49] julielerman commented on #329
Before I dig too deeply I want to see if this is related. This is something I did not experience in 2.0 but am in 2.1.4. I have an existing migration. Then I add in a many to many entity between two entities and add the key mapping for that join entity. When I attempt to add a new migration, it fails. If I delete all of the migrations, I'm able to create a migration with the new mapping. So I beli

[2018-10-05 15:51] Wain123 opened #13515 "Multiple aggregates in one query"
I would like to get the sum of two different columns in one query, using LINQ. In SQL, it would look like:
[code]

The first solution that comes to mind would be:
[code]
but that throws `System.NotImplementedException: 'Remotion.Linq.Clauses.ResultOperators.AggregateResultOperator'`

Is there a way to do this or do I need to use multiple queries? The problem with doing multiple queries is performa

[2018-10-05 15:52] dalibor983 commented on #13512
@ajcvickers There are no any text around it. I can get more information only when I goes to properties of `EF1000: Possible SQL injection vulnerability.` and in property window I got this:

[code]

[2018-10-05 15:55] julielerman commented on #329
also here's the error :
[code]

[2018-10-05 16:04] ajcvickers commented on #1100
@roji I think we are happy for you to make the call on what the default should be for Postgres.

[2018-10-05 16:12] ajcvickers commented on #12738
Marking for re-triage. Confirmed both the repros above are not fixed in 2.1.5.

[2018-10-05 16:19] ajcvickers commented on #13088
@DSilence Thanks for contributing this!

[2018-10-05 16:32] ajcvickers commented on #12894
@j-rewerts If you're using Visual Studio, then then right-clicking and choosing "Run Custom Tool" on the T4 template file will update the code generated from the resources. (It's also pretty easy to manually update this when outside of VS.) That's really the only tricky part. We use resources as a best practice and to allow localization, but we're not currently doing any localization of exception

[2018-10-05 16:38] ajcvickers commented on #13505
Moved to https://github.com/dotnet/cli/issues/10112 since all these errors are coming from dotnet rather than EF

[2018-10-05 16:49] ajcvickers commented on #13508
Duplicate of #4415

[2018-10-05 16:57] smitpatel commented on #13512
It's not an error. It is Visual Studio's way to show all the warnings from given analyzer so that you can set severity of each of them using GUI tool.
FWIW, this is what is being talked about.
![image](https://user-images.githubusercontent.com/1528107/46548862-17c82b80-c885-11e8-9962-306c2ffc1d98.png)

[2018-10-05 16:59] JanEggers commented on #13483
@ajcvickers I did not check. but the different database is because of the different strings provided in  UseInMemoryDatabase. my understanding is that each unique string gets its own database. and that is the way I intended my tests so I get a fresh isolated database for each test.

from my point of view the real problem is that the entity types are not ref equal. so I guess i could also workaroun

[2018-10-05 17:00] smitpatel commented on #13515
`ctx.Things.GroupBy(e => 1).Select(g => new { x = g.Sum(a => a.x), y = g.Sum(a => a.y) }).ToList()`

[2018-10-05 17:02] smitpatel commented on #13514
@maumar - Looks like correlated subquery is doing something funky with ordering.

[2018-10-05 17:07] bricelam commented on #7232
In EF Core 2.2, `OrderBy()` should be evaluated in .NET giving you the expected results (fixed by PR #11889)

[2018-10-05 17:08] smitpatel commented on #12954
`var propertyBuilder = ownershipBuilder1.Property<string>("City")`
Don't forget that the type of `Property` should match up.
The cause of issue is more likely that you are specifying table manually but not the schema when configuring owned entities.

[2018-10-05 17:12] ajcvickers commented on #13462
@jasonycw Overriding SaveChanges is probably your best bet for that at the current time.

[2018-10-05 17:13] bricelam commented on #329
@julielerman Looks related to data seeding. Could you [submit a new issue](https://github.com/aspnet/EntityFrameworkCore/issues/new) so we can investigate?

[2018-10-05 17:14] ajcvickers commented on #13342
@generik0 Yes, thank you. I was able to reproduce this previously, hence it is assigned as a bug and in a milestone.

[2018-10-05 17:18] ajcvickers commented on #13513
Duplicate of #12902

[2018-10-05 17:27] ajcvickers opened #13517 "Simple query filter breaks simple projection"
As reported by @klaussj here: https://github.com/aspnet/EntityFrameworkCore/issues/12951#issuecomment-427380358

Removing the query filter fixes the issue.

[code]

Exception:
[code]

[2018-10-05 17:27] ajcvickers commented on #12951
@klaussj Filed a new issue: #13517

[2018-10-05 17:30] cculver opened #13518 "Long Load Times For Large Datasets - Possible Solution?"
I'm a relative novice to EF and EF Core, but one of the things that has been really bothering me is the amount of time it takes me to load a large dataset. Googling this, it seems to bother quite a few people. It may be clear to everyone developing the project what's causing this slowdown, but I wanted to start a discussion in case it isn't, and hopefully work towards a solution that makes the pro

[2018-10-05 17:34] JanEggers commented on #13513
related to #12905

[2018-10-05 17:39] bricelam commented on #329
modelBuilder.HasData()

[2018-10-05 17:42] dalibor983 commented on #13512
@smitpatel In my case there is also yellow exclamation mark and in properties window `Message` property with value `The SQL expression passed to '{0}' embeds data that will not be parameterized. Review for potential SQL injection vulnerability. See https://go.microsoft.com/fwlink/?linkid=871170 for more information.`

Something like this:
![warningvs](https://developercommunity.visualstudio.com/st

[2018-10-05 17:46] julielerman commented on #329
Sorry, my question wasn't clear. Do you mean that even if I'm not using HasData, the seeding APIs are messing this up? Because I'm not using HasData in the context.

[2018-10-05 17:50] ajcvickers commented on #13422
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-05 17:55] #13417 closed

[2018-10-05 18:00] raffaeler commented on #12954
@smitpatel I am now using your example and I did not modify the entities you defined, so `string` is correct.
I also tried this statement:
[code]
but I still get a NullReferenceException. At home I did not configure the source code stepping so I am not understanding why this exception get thrown. (In any case I don't expect EFCore throwing a NullReferenceException).

[2018-10-05 18:04] #11936 closed

[2018-10-05 18:37] ajcvickers commented on #13517
@smitpatel to investigate

[2018-10-05 19:18] THammond9 commented on #13489
@ErikEJ All of the columns are already aliased. I did try changing the names so that Key & Value were not used in case they were treated special.

@ajcvickers After more investigation, I have found that there is an order being followed. It is: `Key, Value, Label` but I am confused as to how that order is being determined. It is not alphabetical and reordering the class' properties does not affect

[2018-10-05 20:05] smitpatel commented on #13517
[code]
It is not query filter which is issue.
We generated Left Join here and there are no matching rows (due to filter), For some reason we are trying to read Null values in non-null properties even though there is a check.

Assigning to @maumar

[2018-10-05 20:06] THammond9 commented on #13489
Continuing the investigation into this problem:
I think the order is determined by the column creation order in the tables that are being queried. I reproduced this issue with a basic query selecting just a few columns. It just so happened that the columns I chose were listed in the order that they were created in for the table. When I moved the columns around in the select statement, the data end

[2018-10-05 20:07] smitpatel commented on #11936
@ajcvickers to assign milestone.

[2018-10-05 20:08] ajcvickers opened #13519 "NullReferenceException thrown from string-based Property call"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/12954 filed by @raffaeler

@raffaeler commented 2 days ago
@smitpatel At the end the problem was a mix of two issues:

the message coming from the exception is not clear enough to understand the real origin of the problem

@AndriySvyryd commented a day ago
@raffaeler Calling ToTable on the owned types is a workaround for your issue, i

[2018-10-05 20:09] smitpatel commented on #13512
The yellow exclamation mark on dependencies in VS is sign of dependencies are not available. If you run package restore and use correct SDK, yellow mark will go away. It is nothing specific about EFCore.Analyzers. It's more of telling that there is an issue with dependencies this project is referencing.

[2018-10-05 20:10] ajcvickers commented on #13519
@raffaeler We discussed this in triage and we would love to be able to reproduce what you are seeing but so far we have not been able to. Could you please file a project/solution or complete code listing that reproduces the behavior you are seeing, and also the full stack trace of the exception.

[2018-10-05 20:10] ajcvickers commented on #12954
Moved to #13519

[2018-10-05 20:14] ajcvickers commented on #13483
Notes from triage: we think there are two things going here:
* The in-memory database is creating a different model instance when used with the second external service provider. This is probably because a new internal service provider is being created, which may be by-design, but should be investigated anyway. @ajcvickers to investigate this aspect.
* A query that was compiled with one model is th

[2018-10-05 20:17] ajcvickers commented on #13499
@AJHopper Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-05 20:19] raffaeler commented on #12954
With regards to the NullReferenceException, I already documented the changes I made to @smitpatel sample.
In any case this is the complete listing.
I installed sqlite provider just because it's easier to setup.
[code]

and this is the csproj:
[code]

[2018-10-05 20:19] ajcvickers commented on #13507
The KeyComparer should be used so that keys of any type that do not compare appropriately with the default Equals (e.g. IGeometry) will be sorted correctly.

[2018-10-05 20:19] smitpatel commented on #13481
@divega to advise on above list.

[2018-10-05 20:20] ajcvickers commented on #13511
Triage: we will look at this for 2.2, but will punt to 3.0 if it gets complicated and/or risky.

[2018-10-05 20:20] dalibor983 commented on #13512
@smitpatel yellow exclamation mark stands at `EF1000: Possible SQL injection vulnerability.`. This image is only for illustration how yellow exclamation mark look like

[2018-10-05 20:20] ajcvickers commented on #13514
Triage: we will look at this for 2.2, but will punt to 3.0 if it gets complicated and/or risky.

[2018-10-05 20:33] ajcvickers commented on #13519
@raffaeler This line:
[code]
says configure the property called `City` which is of type `Address`. The City property is of type `string`, not `Address`.

[2018-10-05 20:37] raffaeler commented on #13519
@ajcvickers sorry, my fault after the tests I made on the other thread.
Specifying `string` or even no generic type at all, does not change the result:
![image](https://user-images.githubusercontent.com/5183152/46558943-0a478b80-c8ef-11e8-8ab2-0085c81def87.png)

![image](https://user-images.githubusercontent.com/5183152/46558978-2a774a80-c8ef-11e8-8086-618258f71cd2.png)

[2018-10-05 20:55] dchenier commented on #11922
@smitpatel - I accidentally deleted my last commit which deleted the code changes in my last PR (newbie error!)

I really appreciated your feedback and tried to incorporate in the new PR.  This approach is much smaller than the public class in the last PR.

Thanks!!

[2018-10-05 20:56] ajcvickers commented on #13519
The issue is holding on to the ownership builder, configuring a second ownership (which in turn makes the type weak) followed by further configuration on the original builder, which now tries to access the weak type as a normal type. Smaller repo:
[code]
Changing the model building code to this makes it pass:
[code]

[2018-10-05 21:13] AJHopper commented on #13499
@ajcvickers Was setting up a small runnable solution that has the issue and seemingly couldnt get it to error - this lead me to delve into our codebase more and I found the issue was a redundant .HasConversion() call - the code runs fine without it but equally, as mentioned above it also runs fine with it in versions 2.1.1 and below, so will still post the code up to repro it.

[code]

[2018-10-05 21:14] #11969 closed

[2018-10-05 21:14] #13276 closed

[2018-10-05 22:05] divega commented on #12047
Updated design for the new `IAsyncEnumerable<T>` interface:

https://github.com/dotnet/corefx/issues/32640.

[2018-10-05 22:15] #12508 closed

[2018-10-05 22:33] maumar commented on #13517
problem is because we optimize `[s].RefEntity == null` into `[s].RefEntity.Id == null` and then using PK-FK optimization to '[s].RefEntityId == null`

The RefEntityId is not null, even when the entity is supposed to be filtered out with query filter. So the check:

[code]

doesn't really work, and we still try to materialize the RefEntityDto even though the RefEntity that we want to use has been f

[2018-10-06 00:11] divega opened #13524 "Client evaluation in query with Contains on an IEnumerable subquery"
This is the query pattern that [caused StackOverflow.com to go offline yesterday](https://twitter.com/Nick_Craver/status/1047929955206795267):

![image](https://user-images.githubusercontent.com/1253414/46564945-993caf80-c8bf-11e8-87eb-8269c533495f.png)

There are two separate aspects we need to follow up on:

1. This is a predicate that we could do a better job of translating to SQL. We will use

[2018-10-06 00:58] #12423 closed

[2018-10-06 01:30] julielerman commented on #329
Update: After a lot of trial and error (also fails w SQL Server, succeeds on a simple repro,succeeds in 2.0.3 but fails with 2.1.0-2.14) I finally discovered that it succeeds again with the 2.2 preview. So unless you want a proper breadcrumb for this problem which I can't get to the bottom of, I won't bother creating an issue because it seems to be okay going forward. It would be interesting to de

[2018-10-06 02:03] ajcvickers commented on #13518
@cculver Also, thanks for the epic filing. The graphs are compelling. :clap:

[2018-10-06 06:43] JoshSchreuder commented on #13524
A couple of things I noticed when trying to reproduce this:

* EF6 will throw an error if you use `grp.Select(...)` inside of the predicate

`NotSupportedException: Unable to create a constant value of type 'UserQuery+Group'. Only primitive types or enumeration types are supported in this context.`

* If you pull the `grp.Select(...)` out into a variable before using that variable in the predicate

[2018-10-06 07:15] NetTecture commented on #12951
Whow. Never would have thought to look at the lower level filters for that. Ouch.

[2018-10-06 08:48] dmitry-lipetsk opened #13527 "Question: Translation of MemberExpression"
Could anybody explain me the next code from SqlServerStringLengthTranslator:

https://github.com/aspnet/EntityFrameworkCore/blob/92b902d81c56ad2235c70a5d92f2d7523c4e01a3/src/EFCore.SqlServer/Query/ExpressionTranslators/Internal/SqlServerStringLengthTranslator.cs#L20-L23

1. When "memberExpression.Expression" may be null?

2. Why it checkes a "memberExpression.Expression.Type", but not "memberExpre

[2018-10-06 10:16] Starkie opened #13528 "Exception when scaffolding SQLite database with FTS tables"
Hi!

I detected that when trying to scaffold an existing SQLite database with [Full-Text Search tables](https://www.sqlite.org/fts3.html), the process fails with the following message:
[code]

### Steps to reproduce
I prepared a little project to repro the issue, including a `test.db` with the tables: [SqliteScaffold.zip](https://github.com/aspnet/EntityFrameworkCore/files/2452903/SqliteScaffold.z

[2018-10-06 13:45] julielerman opened #13529 "Add-Migration with changing FKs fails in 2.1 (works again in 2.2 preview)"
I'm leaving this here as a breadcrumb, should anyone else hit this problem.
I originally brought it up in https://github.com/aspnet/EntityFrameworkCore/issues/329 because I thought it was related to SQLite table rebuilds due to constraint changes.

**Overview**
I have a solution with a number of custom mappings.  Along the way I did two mapping changes that were fine in 2.0.0-2.0.3, failed in 2.1.

[2018-10-06 14:42] Rookian opened #13530 "Use TransactionScope with multiple DbContexts and RetryOnFailure using EF Core 2.1"
I could not find a documentation on how I can use **multiple** DbContexts that configured `RetryOnFailure `and use `TransactionScope`.

 What I could achieve so far is that each `DbContext `shares the same `SqlConnection`. (

I have multiple DbConexts that point to the same SqlServer.

Is this scenario supported?

See also: [8131](https://github.com/dotnet/docs/issues/8131)

**EDIT:**
You don' nee

[2018-10-06 15:29] divega commented on #13447
@davkean this is the issue I told you about last night. I searched in
https://github.com/dotnet/project-system but I was not able to find a previously reported issue. I will go ahead and move this one, but feel to close as duplicate.

[2018-10-06 15:31] divega commented on #13447
This issue was moved to dotnet/project-system#4092

[2018-10-06 16:22] Starkie opened #13531 "Exception when scaffolding SQLite databases with columns with no a declared type"
Hi again!
This is a similar bug that the one reported at #13528.

Apparently, in SQLite [the type declaration of a column is optional](https://www.sqlite.org/lang_createtable.html) (explained at the _Column Definitions_ section of the link). So, `CREATE TABLE data(key PRIMARY KEY);`, omitting the column type, is a valid expression to create a table.

I tried to create the scaffold of a table with

[2018-10-06 19:55] smitpatel commented on #13527
1. MemberExpression.Expression is null for static members. The Expression property is instance on which member is called.
2. It checks for inner Expression's type to be string rather than declaring type because it would have been translated before coming to this code path. If for some reason the SqlExpression on server is not of type string, we don't want to apply the code (when value converter is

[2018-10-07 00:08] sam-wheat opened #13532 "Release notes for 2.1.4?"
I moved from 2.1.3 to 2.1.4 and performance against MySQL dropped by roughly half.  I would like to provide more info but honestly I don't know where to begin looking.  My app is a downloader that reads/ writes  multiple tables simultaneously.  I think if I knew what changed between the releases I would have a better starting point.
I am using Pomelo.EntityFrameworkCore.MySql version 2.1.2.  This

[2018-10-07 00:11] ajcvickers commented on #13532
@sam-wheat This is what changed: https://github.com/aspnet/EntityFrameworkCore/issues?q=is%3Aclosed+milestone%3A2.1.5

[2018-10-07 01:21] Deegava opened #13534 "Slow client side execution of simple expression for SqlLite"
I have 3 tables (FileMeta, FileTags, FileFileTags). I want to query for all files tagged "dotard".
I find that almost the entire query is running locally. Just to get a count of files tagged "dotard" take 3 seconds even when no files have been tagged e.g. FileFileTags has no records.

I use expression trees to build the query filters so I don't have to hard code all conceivable variants of search

[2018-10-07 11:16] reloaded commented on #10259
+1 It would be great to have the ability to write EF queries that filter based on inheritance.

My use case is simple, I have a hierarchy of log entities that inherit from a base log entity. The discriminators are success, error, info, diagnostics, etc. I'd like to write a single query against the base type and filter it so I only get Success and Info back.

Pseudo code below.
[code]

[2018-10-07 12:01] notanaverageman opened #13535 "Ordering of joins is not guaranteed for multiple includes"
The order of the `Include` calls is overwritten by an `OrderBy` clause. The default behavior (just `Include`s) seems to reverse the order in the code. However, when I append an `OrderBy` clause at the end, the related table will always be the last one to be joined. This hurts the performance of the query. For example: when I try the SQL query EF Core generated on my database, the query takes ~1300

[2018-10-07 12:31] divega commented on #13495
Hello @milomconsulting. Thanks you very much for submitting this proposal. Indeed, I believe it would be very good to add support for passing '*' to the free text methods. Here is some feedback:

1. According to [the documentation](https://docs.microsoft.com/sql/t-sql/queries/freetext-transact-sql) (in this case for FREETEXT, but it should work the same for CONTAINS):

   I would recommend you try

[2018-10-07 12:41] divega commented on #8695
@mlorbetske is now tracking this in his list. Clearing up fields to decide what to do with this issue.

[2018-10-07 12:44] divega commented on #11950
@mlorbetske is now tracking this in his list. Clearing up fields to decide what to do with this issue.

[2018-10-07 12:58] sam-wheat commented on #13532
@ajcvickers Thanks Arthur.  False alarm sorry.  Issue resolved.

[2018-10-07 15:58] jpiquot commented on #11765
Hi,
I have the same issue and it is very annoying when we have not the enable just my code. This option is needed to report bugs in third party libs (like WebApi ODate).

I hope this will be fixed before 3.0.

Regards,
Jérôme

[2018-10-07 17:52] bricelam commented on #13341
The database format doesn’t change, you just need the latest version of the native SQLite library...

[2018-10-07 17:57] Deilan commented on #13341
@bricelam How can I assure of that? The initial creation of sqlite database file was made by EF Core 2.1, so I'm not sure... Can you please point at a right direction on that topic?

[2018-10-07 19:03] ajcvickers opened #13537 "API review: refactor GenerateSqlFunctionName"
And potentially remove GenerateTagsHeaderComment

[2018-10-07 19:04] ajcvickers commented on #13537
@smitpatel Ideally for preview 3.

[2018-10-07 20:27] ajcvickers commented on #13385
Re-opening to consider adding an optional `tracking` parameter to AsTracking without adding a new API.

[2018-10-08 06:54] Oblomoff commented on #9210
The bug strikes back in Microsoft.EntityFrameworkCore.SqlServer 2.1.4 (maybe in earlier versions too)! See the attached solution: [EfBug.zip](https://github.com/aspnet/EntityFrameworkCore/files/2454888/EfBug.zip)

[code]

[2018-10-08 07:33] Wain123 commented on #13515
@smitpatel That mostly works, but it requires special-casing the situation where the table is empty. A normal `Sum` would return 0 for the sum of an empty set, while the `GroupBy` solution contains no groups in that case.

[2018-10-08 08:11] OnurSevket commented on #12459
Hi all,

I have same issue.I develop generic repository with .net core 2.1.1 Web api. I used AddSingleton DbContext on DependencyInjection . Get,GetAll,Post,Delete is working. But Put(Update) is not working.Please give me advice.

Best Regards,
Onur

[2018-10-08 08:53] Starkie commented on #13531
It seems to be related to #13253, which might solve this issue.

[2018-10-08 09:08] weitzhandler commented on #7394
@jovanpop-msft
Just read your great [Code Project](https://www.codeproject.com/Articles/1166099/Entity-Framework-Storing-complex-properties-as-JSO) article, thanks for sharing. This is one of the most important features I'd want to see of EF Core.
It'll open EF to the world of NoSQL at once.

[2018-10-08 13:59] chernihiv opened #13540 "Allow services to be easily resolved from the application service provider from within EF Core"
I try to resolve CustomMigrationsSqlGenerator with IMyCustomService but it throws an exception.

I have overridden partially logic inside SqlServerMigrationsSqlGenerator,  but for my goal I need to resolve extra service inside, e.g:
[code]
it throws an exception
`System.InvalidOperationException: Unable to resolve service for type 'IMyCustomService' while attempting to activate 'CustomMigrationsSq

[2018-10-08 14:18] sekulicb commented on #8332
Hi. Any news on this? I have exactly the same scenario as @MatthewLymer . I just wanted to check in, before actually starting on some workaround, or should I wait ?

Thanks.

[2018-10-08 14:47] smitpatel commented on #13515
@Wain123 - That is something which is not supported at the moment. We have kept this ticket open to track adding enhancement (support for IQueryable.Aggregate). I was just simply giving work-around in the meantime till this issue is fixed. Thanks for pointing out that work-around may not always give same results in all cases.

[2018-10-08 15:11] ajcvickers commented on #8332
@sekulicb Thanks for your interest. Unfortunately, this issue is in the "Backlog" milestone. This means that while we do intend to implement this in the future it is not currently scheduled for a release. You're probably going to be better off pursuing a workaround.

[2018-10-08 15:30] ajcvickers commented on #13540
@chernihiv Could you show the code for setting up the service provider(s)?

[2018-10-08 16:18] bricelam commented on #13341
We build on top of SQLitePCL.raw which has [many was of using the native SQLite library](https://github.com/ericsink/SQLitePCL.raw#many-different-native-sqlite-libraries).

To bring your own, install these packages.

* ~~Microsft.EntityFrameworkCore.Sqlite~~ (remove this one)
* Microsoft.EntityFrameworkCore.Sqlite.Core
* SQLitePCLRaw.provider.custom_sqlite3.netstandard11

Download the [latest vers

[2018-10-08 16:33] Rookian commented on #13530
My current "solution" looks like this:

[code]

[2018-10-08 16:55] ajcvickers commented on #13466
@danjohnso One connection is coming from `Task` which is mapped with both it's sub-types here:

[code]
This is one way that the reference to both tenants gets included in the model, which then results in further dependencies coming in, which ultimately brings in `BasicMaterialDefinitionMasterModelCustomerInformation`. I stopped here, so there may also be other references.

[2018-10-08 17:16] ajcvickers commented on #13457
@EricBourland I have not been able to reproduce this issue--my code is below. Could you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[code]

[2018-10-08 17:28] smitpatel commented on #13483
Currently the query cache has 4 core components
- Expression query
- Model
- QueryTrackingBehaviour
- Async
Relational adds UseRelationalNulls & SqlServer adds RowNumberPaging.

So we are safe from query cache side.

[2018-10-08 17:28] AlexGhiondea commented on #13268
@obelixA thanks for the repro project. I have tried that on my machine but I am unable to repro it. Do I ned to do any set up on the machine for the issue to repro or just opening the project and running should be enough?

[2018-10-08 17:29] smitpatel commented on #13487
@divega to make a call on `LEN` vs `DATALENGTH` for `string.Length`

[2018-10-08 17:30] ajcvickers commented on #11683
@pantonis Can you update to the 2.1 release of EF Core and report back if you are still seeing this issue?

[2018-10-08 17:31] smitpatel commented on #13487
@ralmsdeveloper - #9242 only blocks in case of EF.Property. If you use direct member access, array types work.

[2018-10-08 17:34] smitpatel commented on #13424
Triage decision: `v.GetType() == typeof(Vehicle)` should get converted to discriminator predicate when used with TPH mapping.

[2018-10-08 17:34] ajcvickers commented on #11981
@hez2010 @AndyCJ The issue was reported on a 2.1 RC release. Does this still happen with the latest 2.1 releases of the SDK and EF Core?

[2018-10-08 17:38] ajcvickers commented on #13433
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-08 17:38] ajcvickers commented on #13435
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-08 17:39] ajcvickers commented on #13459
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-08 17:46] #12950 closed

[2018-10-08 17:46] #13288 closed

[2018-10-08 17:46] #13423 closed

[2018-10-08 18:02] ajcvickers commented on #13489
For triage: here's my code:
[code]
Output:
[code]
Logs:
[code]

[2018-10-08 18:12] danjohnso commented on #13466
Thanks for clarifying the behvior, didn't think using TPH would trigger it being included in the base model...guess I will need to wait for TPC to split these databases up.

[2018-10-08 18:14] reloaded commented on #10259
Could you advise me on how to do this in a way that does the filtering in SQL? When I attempted to achieve this type filtering by using the type "Is" operator was not translated to SQL so LINQ ran the filter in the app.

Here's the code I was using before I gave up and wrote 4 separate LINQ queries. The requirements are to count how many logs of each type there are where ImportOperationId is equal

[2018-10-08 18:29] ErikEJ commented on #13487
Notice: If processing a unicode string, DATALENGTH will return twice the number of characters.

[2018-10-08 18:49] ajcvickers commented on #13524
/cc @divega

[2018-10-08 18:53] ajcvickers commented on #13531
Triage: allow empty-string type names. :trollface:

[2018-10-08 18:53] ajcvickers commented on #13528
Duplicate of #13531

[2018-10-08 18:55] ajcvickers commented on #13529
@smitpatel to investigate

[2018-10-08 19:00] ajcvickers commented on #13534
@maumar to investigate

[2018-10-08 19:06] ajcvickers commented on #13535
@smitpatel to follow up

[2018-10-08 19:08] chernihiv commented on #13540
@ajcvickers  Sure, I've built from scratch, empty solution.

Here is all configuration:

[code]
Here is controller for testing. Don't forget to create Init migration.
[code]

Without IMyCustomService in CustomMigrationsSqlGenerator  you are able to Migrate and use all APIs, but with IMyCustomService service you should receive the following exception:

[code]

[2018-10-08 19:37] alexandr-osprey commented on #12459
@OnurSevket

here is you problem, mate. DbContext instance won't let any object go. if you've added object, it will keep reference to it (even if you don't save it explicitly), therefore this object will always be tracked.
Singleton DbContext doesn't really make sense, I would recommend you to add DbOptions as a singleton like so
`DbContextOptions<DbContext> contextOptions =
                new Db

[2018-10-08 20:12] rajeevsoni opened #13543 "Unable to load navigation property when i attach the main entity in another DbContext"
Not able to load navigation property.

### Steps to reproduce
having a self referencing entity of the below structure.

Post
{
Comment(list)
}

Comment
{
Comment (list)
}

I have fetched a Post from 1 method and have included only 1st level of comments.
Now i have passed the Post to separate method for some updation on its childs.
Now in the new method i have a new dbContext n i have attached "Pos

[2018-10-08 21:09] wli3 opened #13544 "dotnet-ef 2.1.4 is targeting runtime 2.1.5"
https://github.com/dotnet/cli/issues/10112

If the `dotnet-ef` does not intent to align with runtime version please close this issue.

Describe what is not working as expected.

### Steps to reproduce
Download dotnet-ef 2.1.4 nupkg, https://www.nuget.org/api/v2/package/dotnet-ef/2.1.4

find the file `dotnet-ef.2.1.4\tools\netcoreapp2.1\any\dotnet-ef.runtimeconfig.json`

it is targeting
[code]

###

[2018-10-08 21:30] #13190 closed

[2018-10-08 21:35] smitpatel commented on #13535
This is an undocumented behaviour. In other words, it happens to be that way but the code neither does that explicitly nor guarantee that it will remain that way. It may have ended up like that based on current implementation.
There are mainly 2 issues around deterministic order like the way you want
1. We process Include as a tree of navigation to load starting from the query root. Once you creat

[2018-10-08 21:51] smitpatel commented on #13529
@ajcvickers @julielerman - No obvious sign what could be wrong in code. I tried to find out possibilities of null ref in related code, looking for signs of change from 2.1 to 2.2 but no luck.

[2018-10-08 21:53] vijayrkn opened #13545 "Scaffolding problem with BIT type fields"
_From @lm28 on September 13, 2018 7:56_

## Note: If filing an issue related to using Scaffolding within Microsoft Visual Studio, please file an issue on the Microsoft Developer Community instead of here. This can be accomplished from Visual Studio by clicking on Help > Send Feedback, and choosing the appropriate action.

## Steps to reproduce:
When creating my tables (in SSMS) the script for one

[2018-10-08 21:53] vijayrkn commented on #13545
_From @Rick-Anderson on September 13, 2018 19:4_

@lm28 can you come up with the simplest possible sample to reproduce the problem? It's helpful to put the sample on github. You have alot of complexity in your actual code that not necessary to reproduce the problem.

[2018-10-08 21:53] vijayrkn commented on #13545
_From @lm28 on September 15, 2018 3:39_

Simplest sample. Create a table where one field type is a BIT, then run the scaffold tool.

[2018-10-08 21:53] vijayrkn commented on #13545
Since this is an issue with EF scaffolder (Scaffold-DbContext), moving to the EF repo.

[2018-10-08 21:55] smitpatel commented on #10259
[code]
[code]

[2018-10-08 21:57] ajcvickers opened #13546 "Projecting entity type removes auto-includes added for ownership"
Originally filed as https://github.com/aspnet/EntityFrameworkCore/issues/9210#issuecomment-427736113 as comment by @Oblomoff

The bug strikes back in Microsoft.EntityFrameworkCore.SqlServer 2.1.4 (maybe in earlier versions too)! See the attached solution: [EfBug.zip](https://github.com/aspnet/EntityFrameworkCore/files/2454888/EfBug.zip)

[code]

[2018-10-08 21:57] ajcvickers commented on #13546
@ajcvickers commented:

Note for triage: this is a different issue than the original issue reported since in the new variation the query root is for Foo which then makes a projection to Bar. Based on how Include currently works, this is by-design. Based on owned types as aggregates the behavior is wrong. I would rather this be tracked by a new issue, rather than re-opening this one, but let's disc

[2018-10-08 21:57] ajcvickers commented on #9210
New issue moved to https://github.com/aspnet/EntityFrameworkCore/issues/13546

[2018-10-08 21:57] #9210 closed

[2018-10-08 22:07] ajcvickers commented on #13545
@vijayrkn What is the EF error here? I don't see anything wrong until "\ Razor Pages using Entity framework (CRUD)" is used, which is not EF code.

[2018-10-08 22:10] derekgreer commented on #6246
I know this issue is closed, but I will say that this isn't at all intuitive behavior.  If you had a class DynamicHouse that had a SetDefaultLightSwitchToggle(Toggle.Off) and then you called _dynamicHouse.CreateRoom() which returned an instance of class Room which had a DefaultLightSwitchToggle property, what would you expect that value to be?  It just doesn't make sense for a composing object to

[2018-10-08 22:11] vijayrkn commented on #13545
@ajcvickers - This was the initial reported issue

[code]

[2018-10-08 22:13] ajcvickers commented on #13545
@vijayrkn Because they are mapped by convention and so do not need any additional configuration in OnModelCreating. If this is the only issue being reported, then this should be closed by-design, but it looks to me like things are failing later.

[2018-10-08 22:20] ajcvickers commented on #13517
Notes from triage:
* As soon as a query filter is used on the principal table, then the relationship essentially becomes unconstrained--see #13146. This means that it is no longer correct to assume that a dependent has a corresponding principal.
* This means that optimizations that make this assumption cannot be used. For example, we cannot use an inner join, and we cannot assume that the FK value

[2018-10-08 22:35] vijayrkn commented on #13545
@lm28 - Does this answer your questions? If not, can you let us know what is failing during scaffolding? A sample project would definitely help.

[2018-10-08 22:41] #12198 closed

[2018-10-08 22:42] #12812 closed

[2018-10-08 22:42] #13228 closed

[2018-10-08 23:20] ajcvickers commented on #13540
Notes for triage: there are several things going on here:
* IMigrationsSqlGenerator is a singleton service and so cannot depend on a scoped custom service. This is the way D.I, works, so going forward I'm assuming the custom service is registered as a singleton.
* The custom service is registered in the application's service provider, but IMigrationsSqlGenerator is resolved from the internal servi

[2018-10-08 23:28] ajcvickers commented on #13543
@rajeevsoni There is not enough information here for us to be able to reproduce what you are seeing. Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-08 23:32] ajcvickers commented on #13544
@wli3 This is by-design. Patch versions were only incremented when a patch was release. ASP.NET Core 2.1.x has  been patched one more time than EF Core 2.1.x, and hence ASP.NET Core is at 2.1.5 and EF Core is at 2.1.4.

I managed to get this changed for future releases, so if ASP.NET Core and EF Core are patched in the same release, then going forward they will have the same version.

[2018-10-08 23:46] ajcvickers commented on #13499
@AJHopper Thanks for the additional info.

Triage: the issue here is that a conversion is defined for `int?` to `int?` but then used for an `int` property. This probably should work given that the reverse (`int` to `int` but used for an `int?`) is supposed to work. For example:

This fails:
[code]
This works:
[code]

[2018-10-09 00:00] julielerman commented on #13529
thanks for looking into it. My model is a little weird. It may be a waste of time to track it down for my particular scenario but if someone hits the same thing, hopefully they'll find this thread. I'm just grateful that it magically fixed itself with 2.2. :) If I ever figure out what particular thing was causing it, I'll leave that info here. Closing .... :)

[2018-10-09 00:08] manishmawat commented on #7891
Installing Microsoft.EntityFrameworkCore.SqlServer solved the problem for me.
It is strange that the installed package is showing unused in the file, but it is not showing any error now and build is successful.

[2018-10-09 00:39] NickCraver commented on #10434
Not sure if related, but we're hitting similar, a simple example of:

[code]
...won't translate, where as:
[code]
...works fine. This was a regression from Linq2SQL where it was a non-issue and translated to a server-side SQL query.

[2018-10-09 01:03] manishmawat commented on #9415
I also faced this problem but then I tried to create a sample project in core 2.1, where I got the default implementation and it solved my problem for the existing project also.
   `public static void Main(string[] args)
        {
            CreateWebHostBuilder(args).Build().Run();
        }
        public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
            WebHost.CreateDe

[2018-10-09 01:42] reloaded commented on #10259
Interesting, so it looks like you're using the EF model builder API in ApplicationDbContext to ensure the said filter is applied to the entire DbSet<T>.

Is there a way to achieve this functionality without baking it into the EF Model? Ideally I want to write multiple repository methods, each querying against the same EF DbSet<T>, but each repository method can optionally filter the query further

[2018-10-09 03:31] jwooley commented on #1679
Since this is now punted to 3.0, should the 2.2 roadmap be updated (https://github.com/aspnet/Announcements/issues/308). I would comment there, but feedback has been turned off on that page.

[2018-10-09 03:45] obelixA commented on #13268
@AlexGhiondea  just open it and run (debug).
That's enough on my machine. When I am back on the machine I will provide details about VS...

[2018-10-09 04:29] svipandi commented on #12459
Hi

I have fixed this using the following code:
    var entity = await DbContextInMemory.FindAsync<EntityName>(EntityId);  //To Avoid tracking error
    DbContextInMemory.Entry<EntityName>(entity).State = EntityState.Detached;

[2018-10-09 05:00] smitpatel opened #13549 "Query: Funcletization Improvements"
Find the biggest evaluatable subtree to parametrize.

[2018-10-09 05:01] smitpatel commented on #13549
Also consider following case

@NickCraver wrote
Not sure if related, but we're hitting similar, a simple example of:

[code]
...won't translate, where as:
[code]
...works fine. This was a regression from Linq2SQL where it was a non-issue and translated to a server-side SQL query.

[2018-10-09 05:02] smitpatel commented on #10434
@NickCraver - It is slightly unrelated to this issue but on my radar. I filed #13549 for tracking & visibility.

[2018-10-09 05:06] smitpatel commented on #13549
Related #13068

[2018-10-09 05:06] smitpatel commented on #12820
This would be interesting to fix. Since the large subtree is not technically evaluatable but still it can short circuit.

[2018-10-09 05:33] rajeevsoni commented on #13543
@ajcvickers
Can't share the actual code base.
Find the dummy code snippet below.

  public class Area
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Status { get; set; }
        public Area ParentArea { get; set; }
        public List<Area> Child { get; set; }
    }

    public void DoModification()
    {
        int areaId = GetAreaId();

[2018-10-09 06:59] NetTecture commented on #13517
What a triage. Instead of better documentation - did it ocur to you to issue a hotfix that fixes a bug that makes a whole subsystem (i.e. query filters) totally unusable? And it is nice to see that you basically tell all of us to go home and use EF - because a bug that shuts down a whole subsystem is scheduled for - ah, 3.0. Nice. Basically "oh, sorry you rely on query filterrs, maybe in a year we

[2018-10-09 07:59] ErikEJ commented on #13268
Your zip file solution is not runnable on other machines, projects are missing

[2018-10-09 08:40] obelixA commented on #13268
hmmm
seemed like @AlexGhiondea was able to run it. And I ZIPed the complete solution folder after "clean solution" - so I cannot imagine what is missing...

[2018-10-09 10:45] MaklaCof opened #13550 "Join returns more columns then it should"
When using join query returns more columns then it should.

### Steps to reproduce
This query:
[code]
executes this query:
[code]
but it should be without `[t1].[MaxInserted`:
[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win-10-64bit
IDE: (Visual Studio 2017 15.8.3)

### Also tried
this query
[code]
but no

[2018-10-09 11:38] dmitry-lipetsk commented on #10520
Please, allow to specify the Type for SqlFragmentExpression.

I have the problems with translation of DateTime.Now to "CURRENT_TIMESTAMP".

[2018-10-09 12:31] EricBourland commented on #13457
No, I have not been able to reproduce a small example of it either and the project is not open source and too big to post. Sorry, I don't know exactly what is causing it other than it's related to change tracking and it only happens when I add any spatial type (i tried IGeometry, Geometry, Polygon, and LineString)

[2018-10-09 12:41] alanrezendee commented on #13544
Understood!
Thank you guys!

[2018-10-09 14:07] AndrewMutation opened #17532 "Not sure about the "returns", isn't this method meant to re-enable tracking?"
Returns
IQueryable&lt;TEntity&gt;
A new query where the result set will not be tracked by the context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a70c79f4-2309-e89f-1e6c-36cc32b414bd
* Version Independent ID: 5aa3fc5e-a518-6940-13e8-76f14a483d93
* Content: [EntityFrameworkQueryableExtensions.AsTracking(IQueryable&l

[2018-10-09 15:51] quangvt commented on #9578
Thanks Homertax.

[2018-10-09 17:37] AlexGhiondea commented on #13268
@obelixA I was able to run something, but I don't think I ran your repro as I didn't have an issue with what I ran. Having a simpler repro that we can run locally would be very useful!

[2018-10-09 17:52] rishabh0202 commented on #10327
Do check your default project (it should be the on which you have installed EF Core) before running the command on Package Manager Console. It worked for me.

[2018-10-09 18:19] ajcvickers opened #13552 "Consider utilizing "local" detect changes"
That is, DetectChanges that only scan a single entry, or possibly only the entries on either side of a given relationship. This may miss cascading changes, but it is likely to avoid the need for full DetectChanges in many scenarios. For example, see #13122 and #12810.

[2018-10-09 18:21] ajcvickers commented on #13122
Fixing the issue for 2.2 where a navigation already null does not have IsLoaded reset when the underlying FK changes. However, not implementing this in absence of DetectChanges because it would be better done as part of a wider change to do local DetectChanges as tracked by #13552

[2018-10-09 18:35] divega commented on #13457
I am able to repro the same exception and similar stack trace from Add() if I pass an object that has a null IGeometry:

[code]

Repro code:

[code]

[2018-10-09 18:37] cculver commented on #13457
Experiencing an issue adding an entity to a table with a nullable (as in db column) Point where it throws an exception at the exact same place in the code. Determined that setting the Point member to Point.Empty solves this, but does not solve the underlying issue of needing to have a null value in the database. I believe that the reason is due to Point not having a parameterless constructor. Can

[2018-10-09 18:59] smitpatel commented on #12237
First issue reported here is already fixed in current release.
Generated model
[code]

[2018-10-09 19:07] smitpatel commented on #12237
Second issue which I reported here is duplicate of #13382

Generated model
[code]

[2018-10-09 19:08] smitpatel commented on #12237
Assigning milestone of 2.2.0-preview1 as that is where first issue was resolved.

[2018-10-09 19:08] #12237 closed

[2018-10-09 19:48] cculver commented on #13457
I was incorrect. Here's a little more information. Inside SnapshotFactoryFactory.CreateConstructorExpression(), the expression tree created to copy the values in the object for change tracking contains the following:
    (NetTopologySuite.Geometries.Point).Call ($entity.GeoLocation).Copy(),

I believe this is where the NRE is occurring. Copy is a member of IGeometry - if the entity's member is nul

[2018-10-09 20:02] ajcvickers commented on #13457
@cculver Thanks for the analysis

[2018-10-09 21:01] cculver commented on #13457
I got it working by changing GetSnapshotExpression() as well as GetHashCodeExpression() and GetEqualsExpression() to check for nulls.

[2018-10-09 22:22] AndriySvyryd opened #13559 "Cosmos: Allow partial updates"
https://docs.microsoft.com/en-us/azure/cosmos-db/partial-document-update

[2018-10-09 22:26] #11922 closed, assigned to smitpatel

[2018-10-09 22:47] maumar opened #13560 "Query: "Value can not be null" in runtime for complex query with weak entities, SelectMany on navigation chain with DefaultIf Empty"
Example of the failing QM:

[code]

[2018-10-09 22:51] maumar commented on #13560
Possibly not related to weak entities - they just added complexity to the query, given how we obtain them in our tests.

[2018-10-09 23:12] divega commented on #13131
I am following up with the Cosmos DB team to close on some details.

My understanding is that they have long term plans to extend Cosmos DB indexing, so that the behavior will be more predictable for ORDER BY (it will start returning rows for which the property is not defined, either at the end or at the begining of the query results), but not sure what they will do will help with WHERE directly,

[2018-10-09 23:32] divega commented on #13524
Updated original post with workaround.

[2018-10-09 23:38] #13537 closed

[2018-10-09 23:59] #12628 closed

[2018-10-10 01:18] maumar opened #13561 "Query: "nullable object must have a value" on InMemory provider for a very complex query with SelectMany, complex navs, DefaultIfEmpty, joins and correlated collection projection"
query:

[code]

exception:

[code]

[2018-10-10 02:14] seancpeters opened #13563 "DbContextOperations.CreateContext(String contextType) seems to behave inconsistenly"
Describe what is not working as expected.
I'm getting seemingly inconsistent behavior when calling `Microsoft.EntityFrameworkCore.Design.Internal.DbContextOperations.CreateContext(String contextType)` via aspnet/scaffolding of Razor Pages (CRUD) for a 2.1 project.
If you are seeing an exception, include the full exceptions details (message and stack trace).

It seems to work fine in most cases - t

[2018-10-10 03:47] sjb-sjb opened #13564 "Redundant Add when using notification entites"
When I set a navigation property in a notification-tracking entity, the referenced (primary) entity is added to the context (resulting State is Added) even if the referenced entity already has a store-assigned primary key.

I understand why the referenced entity needs to be added if the primary key has not been created (e.g. a long with value zero) because EF needs a unique pseudo-key until the fi

[2018-10-10 04:37] avinash-phaniraj-readify opened #13565 "Detect Changes - Incorrect State"
Scenario -
1. Attach an entity to the context with a known primary key specified (Id > 0)
2. Extend entity graph by adding/associating another entity with an Id > 0
3. Trigger DetectChanges for ex; invoke context.ChangeTracker.Entries().

You will find the new entity (which was not explicitly attached) being tracked.
It's state however is incorrectly tracked as "Added" and not "Unchanged".

If the

[2018-10-10 05:28] hez2010 commented on #11981
@ajcvickers This problem still exists when scaffolding identity pages in .NET Core SDK 2.1.403. But Scaffold-DbContext and dotnet ef dbcontext works fine.
And also I found that the scaffolded identity pages miss a "ShowRecoveryCodes" page.

[2018-10-10 06:57] subprime commented on #13424
@smitpatel, sorry i was in holiday...
Can you shortly explain what this means?

[2018-10-10 07:18] smitpatel commented on #13424
We will convert `v.Getype() == typeof(Vehicle)` to `EF.Property(v, "Discriminator) == "Vehicle"` automatically to do server evaluation.

[2018-10-10 07:21] lurumad opened #13566 "Error when we use owned type as a alternate key."
Hi folks,

Given the next model:

[code]

ProductNumber and ProductTypeId need to be alternate key, so if a try to configure like this:

[code]

We received this error:

[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 Enterprise 1803
IDE: Microsoft Visual Studio Enterprise 2017
Version 15.8.5
Visua

[2018-10-10 07:39] obelixA commented on #13268
hmmm
so please help me out. Simpler:
The TEST project consists of 1 WinForm doing nothing than referencing the DataReaderWriterSQLITE project, and the DataReaderWriterSQLITE consists of 2 *.cs files, one initializing the sqlite DB and one context throwing the exception when running.
I really do not know how to cut this down to a simpler version.
What I did is a "clean solution" before zipping. I c

[2018-10-10 08:16] Kukkimonsuta commented on #12911
We are experiencing the same issue with hand written updates after column was removed/renamed: `migrationBuilder.Sql(@"UPDATE [Foo] SET [Bar] = 15 WHERE [Bar] = 10");` - it would be great if this was also wrapped when generating a script.

[2018-10-10 09:27] Meberem opened #13567 "FirstOrDefaultAsync is not supported in EF.CompileQuery"
FirstOrDefaultAsync is not supported when calling a Compiled Query

[code]

### Steps to reproduce
Run the query

[code]

### Further technical details
EF Core version: Microsoft.EntityFrameworkCore.SqlServer (2.1.4)
Operating system: Window 10
IDE: Visual Studio 2017 15.8.4

[2018-10-10 10:06] sellomkantjwa commented on #10093
Seems like InternalEntry. CascadeDelete() has been removed from Ef core 2.1. So @jruizx 's workaround would not work as is.

[2018-10-10 10:41] jruizx commented on #10093
Hi @sellomkantjwa, on my website I have added a fix for EF Core 2.1 https://comment-it.co.uk/entity-framework-core-soft-delete-workaround/

[2018-10-10 10:51] f135ta commented on #8576
@ilmax - Hi! Yes, its still on my list of things to work on. I've been mega busy with "real-life" so I havent had time to complete the work yet. Hopefully i'll be able to dedicate some time to it over the weekend.

[2018-10-10 11:28] Wain123 opened #13568 "Query with null-coalesced entity gets client-evaluated"
This query throws a `QueryClientEvaluationWarning`:
[code]

As a workaround, I can compare the PK instead of the navigation:
[code]

EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.Oracle
Operating system: Windows 10
IDE: Visual Studio Professional 2017 15.8.6

[2018-10-10 11:30] Wain123 commented on #13141
@francescomazzurco Your workaround works because it causes the query to be client-evaluated instead of being translated to SQL. See issue #13568

[2018-10-10 11:42] jblantonhiperos opened #13569 "Migrations do not support multiple workers"
I'm building an application using dotnet core 2.1 and efcore. The application runs migrations on startup. When running in a kubernetes cluster, multiple workers often start in quick succession, especially after a deployment. Do migrations support multiple workers trying to run migrations simultaneously? Should we be preventing multiple workers from calling Migrate() on startup? We often see the fo

[2018-10-10 12:47] Kukkimonsuta commented on #11499
@nikitasavinov Are you still working on this? If not I'd like to take this on.

[2018-10-10 12:50] nikitasavinov commented on #11499
Frankly - no, I didn't find time for it. Good luck!

ср, 10 окт. 2018 г. в 14:47, Lukáš Novotný <notifications@github.com>:

[2018-10-10 13:04] gighen76 opened #13570 "Unexpected results in query"
There are some concurrent situations where following query:
[code]
results in a list of rows where items are not what I expect:
[code]
wrongResult is true: wrongOrderRows contains rows with a null DeliveryDate in spite of what was expressed in "where condition".

### Steps to reproduce
I've following (simplified) model:

[code]

I've a db populated with orders each one containing 10 rows. Code tha

[2018-10-10 14:07] NickCook-StruMIS commented on #12118
I have this problem as well, although @smariussorin solution did not work for me but @AndriySvyryd solution works perfectly. Do we know when this problem will be resolved so I can remove my temporary work around. Thanks.

[2018-10-10 14:14] davidroth commented on #13518
@ajcvickers I have a question regarding your statement  _"For 3.0, we will stop doing identity resolution for no-tracking queries."_.

Does this mean that you plan to completely remove identity resolution in combination with AsNotTracking in 3.0, without an option to enable it?

I would not be happy if this would be removed without an option to enable it.

The documentation of `QueryTrackingBehavi

[2018-10-10 14:30] dmitry-lipetsk opened #13571 "Q: Extensions for nullable types"
At first - I'm sorry for my english :)

I already created support for string methods, which more or less equal to DBMS behavour (#13395).

For example, ((string)null).Length will return null (Nullable&lt;int&gt;()).

Now I begin write support for DateTime methods and get the problem with Nullable&lt;DateTime&gt; value.

I want to write "nullableDateTime.AddYear(...)".

But should write "nullableDa

[2018-10-10 15:55] corradolab opened #13572 "SqlException Timeout expired on Azure SQL Database"
A simple query which extract a single record from an indexed table time out while running against Azure SQL Database.

Same query execute correctly in less then a second:
- on a local database
- on Azure while executed from SSMS

[code]

### Steps to reproduce
Very simple query which generate correct SQL as per above log

[code]

### Further technical details
EF Core version: 2.1.4
Database Provid

[2018-10-10 15:56] sjb-sjb commented on #13564
On second thought I am not convinced that the entity even needs to be added to the context in order to create the temporary key value. Logically they are separate concepts.

[2018-10-10 16:19] ajcvickers commented on #13518
@davidroth Tracking queries will still do full identity resolution. In essence, no tracking queries were trying to behave like tracking queries in this respect, since normally the tracking is what provides the identity resolution.

[2018-10-10 16:22] parxal opened #13573 "Throw for ambiguous self-referencing navigations"
Include Method are Generating Wrong Sql Join

[code]

### Steps to reproduce
SQL
[code]
[code]
The same instructions in Entity Framework 6.2 works fine. (this code only returns 3 records)
In entityframeworkcore sql generate join is "strange", and returns 4 records.

### Further technical details
EF Core version: 2.1.4
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:
IDE

[2018-10-10 16:31] ajcvickers commented on #10259
@reloaded Is there a reason you want to use global query filters for that instead of adding filters as needed locally to the queries that should have the filters?

[2018-10-10 16:43] ajcvickers commented on #13543
@rajeevsoni This is an infinite recursion:
[code]

[2018-10-10 16:49] rajeevsoni commented on #13543
@ajcvickers
No, there will always be a root area with ParentAreaId = null

[2018-10-10 16:52] ajcvickers commented on #13543
[code]
[code]

[2018-10-10 16:56] ajcvickers commented on #13457
@cculver Would you consider submitting a pull request to fix this?

[2018-10-10 16:57] #12083 closed

[2018-10-10 16:57] #13283 closed

[2018-10-10 17:02] bricelam commented on #12835
In addition to obsolete methods, we should collapse overloads that were added to prevent breaks around parameter defaults. (They couldn't be marked obsolete)

[2018-10-10 17:12] davidroth commented on #13518
@ajcvickers So to recap, NoTracking in EF 3.0 will not perform any identity resolution, right? Will we have at least identity resolution within each materialisation phase (per query) when using NoTracking?

[2018-10-10 17:28] ajcvickers commented on #13518
@davidroth Current plan is to go back to the EF6 way of doing things for this, so no.

[2018-10-10 17:30] rajeevsoni commented on #13543
@ajcvickers
Will make it a runnable and will share that solution with you in a while.

But my concern is, if i am getting entity from another context and then using it in another context using Attach i.e. UpdateAreaStatus method

If i do not attach the entity and instread load it again from dbContect using Id of entity then every thing works fine(means loading ParentArea navigation property).

[2018-10-10 17:38] ajcvickers commented on #13563
@seancpeters Can you provide some details as to why you are calling EF internal APIs?

[2018-10-10 17:51] ajcvickers opened #13575 "Consider stronger semantics around generated keys"
Currently we avoid reasoning about store-generated keys in some places because it is possible to add a new entity with an explicit key value set even when the entity type is configured to use generated keys. The two most prominent examples of this are:
* Add behaves differently from Attach. That is, Attach can assume that an entity without a key value set should be Added, while Add cannot assume t

[2018-10-10 17:52] ajcvickers commented on #13564
The typical scenario for adding a new entity instance to an already-tracked graph is that the new entity instance represents a new entity, not an entity that exists in the database but was not being tracked. Therefore, the behavior, both in classic EF, and in EF Core is to mark the entity as Added. However, I have been thinking about this recently and I just filed #13575 to potentially change this

[2018-10-10 17:56] ajcvickers commented on #13565
@avinash-phaniraj-readify Please see my response to #13564 and also see #13575 which would change this if we chose to implement it.

[2018-10-10 17:56] bricelam commented on #13563
The public API to do this is `DbContextActivator.CreateInstance()`

[2018-10-10 17:58] ajcvickers commented on #13269
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-10 17:58] ajcvickers commented on #13471
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-10 17:59] ajcvickers commented on #13474
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-10 17:59] ajcvickers commented on #13482
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-10 17:59] ajcvickers commented on #13484
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-10-10 18:00] rajeevsoni commented on #13543
@ajcvickers
Hi, minor mistake is there while doing recursion for updating parent and also done a small change by not doing eager loading of parentArea. Please refer below update code.

using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace ConsoleApp4
{
    public class Area
    {
        p

[2018-10-10 18:20] maumar commented on #13511
fixed in 172d5e68db74043d649c070300e3a78757e33da1

[2018-10-10 18:20] #13511 closed

[2018-10-10 18:38] smitpatel commented on #13573
Share your model configuration.
It seems like your model is configured incorrectly to use `CreatedById` as FK for `UpdatedBy` navigation property. Which is incorrect since, it should be using `UpdatedById`.

[2018-10-10 18:44] ajcvickers commented on #13566
@lurumad Can you five some details on why the alternate key is needed? The issue is similar to #11336, except that is just about creating indexes, not full EF alternate keys, which have more semantics.

[2018-10-10 18:50] ajcvickers commented on #13569
@jblantonhiperos We generally recommend against running migrations on application startup. One of the reasons for this is that it is important that one and only one process/thread attempts to migrate the database, and that this happens before any other process/thread attempts to use the database. This is increasingly hard to coordinate when going beyond the simple single process, single database m

[2018-10-10 18:52] smitpatel opened #13576 "ModelBuilder: KeyDiscoveryConvention should throw for multiple matching properties"
[code]
Generates following model
[code]

We preferred `Id` over `{ClassName}Id`.
We should not discover PK by convention and let model validator throw.

[2018-10-10 19:10] seancpeters commented on #13563
The call to this API is part of aspnet/scaffolding, here:
https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.EFCore/EntityFrameworkModelProcessor.cs#
At line 404.

I don't know the historical context of why scaffolding is creating db contexts in this manner, as opposed to some other way.

[2018-10-10 19:17] ajcvickers commented on #13570
@gighen76 This line:
[code]
is going to do a database query for any rows where the DeliveryDate is not null. However, since the entity instances for these rows are already being tracked it is these tracked instances that are retuened. Since the database is being updated underneath by another thread, it means that these results being tracked by the context are stale and may not match in terms of wh

[2018-10-10 19:39] gighen76 commented on #13570
... but the problem is that it returns tracked instances with DeliveryDate == null even if my condition is !=null.
If my query is orderRows.Where(or => or.DeliveryDate != null) I don't expect orderRows with DeliveryDate == null in result. At most I expect empty list with stale context.

Same code running in older EF (.net 4.5.2) works perfectly.

[2018-10-10 19:42] ajcvickers commented on #13570
@gighen76 The behavior is the same in all versions of EF, so maybe, since this is a race condition, it just happens that it is being hit with EF Core and not with your older code.

[2018-10-10 19:49] parxal commented on #13573
@ajcvickers just upload my example https://github.com/parxal/EntityFrameworkCore

[2018-10-10 19:53] divega commented on #13518
@davidroth after this change is effective, if you want a query to execute with identity resolution within its results, but without interfering with the context’s state, you can still do so by executing the query on a separate DbContext instance. I wonder if we can make that easier than it is now. I am also curious what kind of queries you are concerned about returning duplicate instances.

[2018-10-10 19:58] JaimeStill opened #13577 "Prevent Collection Nav Props from Loading Unspecified Sub-Props"
When including a navigation property, the associated navigation collection is loaded with data that is loaded from the initial query, even when `ThenInclude` is not specified.

Per the [docs](https://docs.microsoft.com/en-us/ef/core/querying/related-data#eager-loading):

### Steps to reproduce
Consider the following entity structure:

[code]

[code]

If I want to retrieve all `Items` with their `C

[2018-10-10 20:08] maumar commented on #13514
Problem is indeed caused by correlated collection optimization. When determining order in which the correlated queries should be returned we take all the orderby clauses in the order that they were declared. This is incorrect for corner cases, such as one in the repro. Problem also exists to a certain extent in the Include pipeline, when including collections, although the algorithm used is slight

[2018-10-10 20:09] ajcvickers commented on #13573
@parxal Thanks!

Note for triage: the model created is making CreatedBy and UpdatedBy inverses of each other:
[code]

@parxal We will discuss if this is the correct model to build by convention. You should be able to fix your issue by explicitly configuring the two relationships as separate. For example:
[code]

[2018-10-10 20:11] AndriySvyryd opened #13578 "Cosmos: Preserve unmapped properties for owned collections"
Currently when updating an entity that has a nested owned collection the unmapped values will be lost.

[2018-10-10 20:13] maumar commented on #13514
@gius workaround is to change a mapping for the `Addresses` collection somewhat by adding Skip(0) at the end. This will not change the results but will disable correlated collection optimization which is the source of the issue you are seeing.

Caveat is that queries won't be able to take advantage of the perf boost that comes with this optimization - we will now issue N+1 queries, rather than jus

[2018-10-10 20:13] sjb-sjb commented on #13575
Consideration should be given to allowing fine-grained control over when an entity is attached to a context. The distinction made in EF Core between calling Add and setting State=Added is an example of providing control over whether and when EF automatically / implicitly starts tracking an entity. A systematic review should be done to find all other situations in which EF automatically starts trac

[2018-10-10 20:13] AndriySvyryd opened #13579 "Cosmos: Track owned entities when included with the owner"
Currently from `context.Vehicles.First().Operator` won't be tracked if `Operator` is an embedded owned entity. We should track both `Vehicle` and `Operator`.

[2018-10-10 20:17] ajcvickers commented on #13575
@sjb-sjb Please file a separate issue for that--it's not the same thing that this issue is tracking.

[2018-10-10 20:27] #13088 closed, assigned to nobody

[2018-10-10 20:27] parxal commented on #13573
@ajcvickers thanks, i just fixed it width :  modelBuilder.Entity<User>().HasOne(e => e.CreatedBy).WithMany();
And now all it's ok. This project was created with code first and my final question is : Should this line be Required when creating the model?

[2018-10-10 20:35] smitpatel commented on #13573
2 navigations between a pair of entity (same entity in this case), are always paired of if it is not ambiguous. If you want to declare multiple navigations, you would need to manually configure them.

[2018-10-10 20:36] ajcvickers commented on #12632
@divega Punt to 3.0?

[2018-10-10 20:37] ajcvickers commented on #8299
@divega Punt to 3.0?

[2018-10-10 20:37] optiks commented on #13575
“However, setting key values like this is typically used in special situations--most notably test data and seeding.“

Not in our case - it’s production code!

We’ve worked around this by forcing the state to Unchanged through the ChangeTracker.Tracked event.

[2018-10-10 20:37] ajcvickers commented on #11741
@divega Move to 3.0 for further tracking?

[2018-10-10 20:39] bricelam opened #13580 "SqlServer Spatial: Wrong results, constants, and parameters when mapping to geometry"
This is related to #4978 and #13192, but we can fix this independently of them.

When mapping to `geometry` columns, the types of method call results and arguments aren't inferred. This causes it to fallback to the default mapping of `geography` which flips the X and Y values and interprets polygon rings differently leading to incorrect results or unexpected exceptions.

[2018-10-10 20:41] ajcvickers commented on #13573
@parxal "Should this line be Required when creating the model?" is something we need to discuss.

[2018-10-10 20:42] divega commented on #11741
@ajcvickers okay

[2018-10-10 20:43] davidbaxterbrowne commented on #13573
I would think that unless CreatedById is unique, that UpdatedBy cannot be the inverse navigation property of CreatedBy.

[2018-10-10 20:48] JaimeStill commented on #13577
I already have `ReferenceLoopHandling.Ignore` set, but it's still populating this data. Beside the point, this is an unexpected and unintuitive behavior. If I wanted that data, then I would have used `ThenInclude()` to specify it as part of my query.

[2018-10-10 20:49] ajcvickers commented on #13575
@optiks If you're forcing the state to Unchanged, then I think your workaround is doing what I am suggesting we should do by default. That is, if we make this change, then if you set the key value, then we will always assume that this means the state of the entity should be Modified/Unchanged. Conversely, if the key value is not set, then we will always assume that the entity should be Added.

The

[2018-10-10 20:52] gighen76 commented on #13570
@ajcvickers tanks for your reply. So for a linq query
orderRows.where(or=>or.DeliveryDate!=null)
 is ok to have orderRows with DeliveryDate=null as result? I expected at least a result with a satisfied condition.

[2018-10-10 20:54] ajcvickers commented on #13573
@davidbaxterbrowne My guess is we currently pivot on matching navigations before attempting to look for FKs, and hence CreatedById is not even matched as an FK.

[2018-10-10 20:55] bricelam commented on #1100
The work for this feature is more-or-less done and shipping in the upcoming EF Core 2.2 Preview 3 release. Thanks everyone for helping *shape* this feature! 🤣 I'm going to go ahead and close this issue now.

There are currently two known issues: #13181 & #13580. Please continue to provide feedback on the feature and let us know about any bugs you find by [submitting new issues](https://github.com/

[2018-10-10 20:55] #1100 closed

[2018-10-10 20:58] ajcvickers commented on #13577
@JaimeStill You're only getting the data (i.e. rows from the database) that you are requesting. EF is not pulling back any extra data. It's just that this data is being connected up as defined by the relationships of the model. It, the relationships are being set _between objects you are already getting_.

[2018-10-10 21:01] ajcvickers commented on #13570
@gighen76 Yes, of the entity instances for those rows are already being tracked by the context, and the values in those instances are stale with regard to the database.

[2018-10-10 21:05] JaimeStill commented on #13577
@ajvickers There should at least be an opt-in or opt-out configuration for this as it is undesora

[2018-10-10 21:08] ajcvickers commented on #13577
@JaimeStill The size of the dataset is not being changed in any way.

[2018-10-10 21:11] ajcvickers commented on #13577
Or to try to explain in a different way, the JSON serializer is duplicating data, and hence it is taking the dataset that EF is returning and creating duplicates of many of the returned entities. This is why the data in JSON is bigger. The dataset that EF is returning is not bigger.

[2018-10-10 21:14] JaimeStill commented on #13577
It is when it's serialized as JSON in Web API. Every `Item` conains a `Category` (which I asked for), and unexpectedly, each `Category` has an array of `Items` that I didn't ask for. The `Category.Items` should be null unless I specify that I wanted them with `.ThenInclude()`, or as proposed, I configure EF to attach the loaded data into the nav prop tree (as is default now).

[2018-10-10 21:32] gighen76 commented on #13570
@ajcvickers I Think the misunderstand is on what I intend are "placed" those instances. DeliveryDate=null is for instances in stale context even if they are stale with regard of database. I dont intend instances in database but i expected != null at least for those tracked by datacontext.

[2018-10-10 21:33] bricelam commented on #13563
Good time to fix aspnet/Scaffolding#681 and see if it still fails?

[2018-10-10 22:01] ajcvickers commented on #13577
@JaimeStill Yes. This is because the serializer is duplicating instances.

[2018-10-10 22:21] sjb-sjb commented on #13575
@ajcvickers The issue I described here is a restatement of the one I had in #13564.  The point is that EF is automatically attaching the entity when I don't want it to (don't expect it to & can't prevent it). So I would say either we reopen #13564 or leave the comment here.

[2018-10-10 22:37] AlexGhiondea commented on #13268
@obelixA this is what I see when I try to compile your project:
[code]

Those are warnings and if I continue to run the project, I end up with a *running* blank WinForms application. I don't see any errors or exceptions.

[2018-10-10 22:43] maumar commented on #12738
related to https://github.com/aspnet/EntityFrameworkCore/issues/6478

[2018-10-10 22:44] ajcvickers commented on #13575
I re-opened #13564 and we will discuss in triage.

[2018-10-10 22:54] optiks commented on #13575
@sjb-sjb Our workaround may help you (you may need to tweak/make it generic if you don't use int ids):

[code]

[2018-10-10 22:55] sjb-sjb commented on #13564
To highlight, the point is that EF is automatically attaching the entity when I don't want it to (don't expect it to & can't prevent it).

Consideration should be given to allowing fine-grained control over when an entity is attached to a context. The distinction made in EF Core between calling Add and setting State=Added is an example of providing control over whether and when EF automatically /

[2018-10-10 22:55] seancpeters commented on #13563
@bricelam - Thank you! This appears to have fixed the problem. Looking at history, it seems that the original fix never got merged, or got lost somewhere along the way.

[2018-10-10 23:00] sjb-sjb commented on #13575
@optiks Will that cause re-entry into the Tracked (or StateChanged) event handler?

[2018-10-10 23:03] sjb-sjb commented on #13575
@ajcvickers  I agree with your proposal, which I read after suggesting something similar in one of the comments in #13564.

The only people that could find it problematic would be people who set store-generated keys themselves and, well, they just shouldn't be doing that in the first place!

[2018-10-10 23:10] ajcvickers commented on #13575
@ajcvickers I disagree your last statement. It's very much a valid thing to do in testing/seeding scenarios. We had many requests to be able to do this in classic EF. However, my point is that we can still support this as an explicit gesture.

The main problem with making this change now is that it's going to be a break for a lot of seeding/tests, so while I am proposing this, I'm not convinced we

[2018-10-10 23:15] optiks commented on #13575
@sjb-sjb Unchanged is still tracked, so it shouldn't be re-entrant. If you're subscribing to StateChanged as well, then yes, I'd expect that to fire.

[2018-10-10 23:34] smitpatel commented on #13108
The issue here arises because in `Property` call the type is not specified. Which we infer through reflection but don't set configuration source properly hence while using it as FK, we choke.

[2018-10-10 23:50] sjb-sjb commented on #13575
@ajcvickers Good point about seeding. I am currently not seeding in the recommended way, instead I am making internal API calls and then doing a SaveChanges.

It would make sense to me to go ahead with the changes you propose and then alter HasData so that seeding still works. Within HasData you can move the entities from Unchanged to Added.

Outside of seeding, it seems like broken behavior to me

[2018-10-11 00:03] optiks commented on #13575
@ajcvickers FWIW, I agree that you should be limiting the number of breaking changes. In general, opt-in for behavioural changes is reasonable.

[2018-10-11 00:10] avinash-phaniraj-readify commented on #12378
@ajcvickers @optiks
On our migration project (from L2S), we find heavy reliance on the primary key properties being 0 throughout the app; including business logic etc.

It will be great if EFCore can get away from setting the properties to negative numbers.

While you think through the possibility, can you please advise if there are any workarounds/ideas that may help us ?

Thanks,
\A

[2018-10-11 00:35] JaimeStill commented on #13577
My biggest issue is that even before it gets to the serializer, that data is included in the C# model. Data I did not ask for, and data that I do not need. If I had wanted that data in the first place, I would have queried for it, and EF could have optimized reusing already retrieved data. I don't see how it's on the serializer to know not to include data I didn't ask for in the first place? I alr

[2018-10-11 00:43] optiks commented on #13575
@sjb-sjb, I get what you're saying.

Two other workarounds I can think of are:
1. Set the foreign key id property, instead of the navigation property object reference. This may or may not work for you.
2. Pre-emptively attach the foreign key object reference as `Unchanged`. EF Core won't override this state during the Add.

Another thing to consider is whether disabling [AutoDetectChanges](https:/

[2018-10-11 00:44] #13108 closed

[2018-10-11 01:02] ajcvickers commented on #13577
@JaimeStill I understand what you are saying--that you want the data in a graph that can be easily serialized without duplicates. There is value in that--it's something we are considering. However, this is specifically not about the data size.

![image](https://user-images.githubusercontent.com/1430078/46774255-5d865900-ccb6-11e8-97e5-2e37481fc020.png)

![image](https://user-images.githubuserconte

[2018-10-11 01:10] JaimeStill commented on #13577
I understand that having those values available doesn't impact the technical size of the data, but it does impact the shape of the data in a way that you wouldn't expect if you didn't understand what's happening. And that generates big implications for the size of serialized data being sent to the client side using Web API.

If I have a collection of 800 items with 800 categories, and each of thos

[2018-10-11 01:13] ajcvickers commented on #13577
@JaimeStill Agreed!

[2018-10-11 01:15] ajcvickers commented on #13577
@JaimeStill Of course, I am assuming that you know that if you _never_ want to navigate that direction in your model, then you can just remove the navigation property:
[code]
Everything else should work the same.

[2018-10-11 01:29] JaimeStill commented on #13577
@ajcvickers of course! Most of the time in these cases, the nav prop is preferred for the inverse (which items belong to a category). I understand you could manually query this, but I feel this is more in line with why we have nav props to begin with.

With this in mind, would there be a better workaround than manually setting the undesired values to null (as shown in the original issue)?

[2018-10-11 02:09] jeffrey-igaw commented on #12793
Yes! we every write left join query as below, this is not clear and not expectable what is mean.

[code]

maybe we want to use as ..

[code]

[2018-10-11 02:43] divega commented on #13577
@JaimeStill I may have missed this if it was mentioned in the thread before, but are you aware that most serializers recognize “ignore” attributes that you can use to skip traversing specific navigation properties during serialization?

This is the simplest way to handle this that I am aware of, and possible the most common. It has the advantage that it can be used to eliminate cycles completely,

[2018-10-11 02:46] NicolasDorier commented on #13484
My apologize, I did not had time. Will reopen once I have a repro.

[2018-10-11 05:37] divega commented on #13579
@AndriySvyryd is this different form #13036?

[2018-10-11 05:49] samzhou2 opened #13587 "An exception occurred while reading a database value. The expected type was 'System.Decimal' but the actual value was of type 'System.Double'"
An aggregation query with cast will throw  InvalidOperationException

[code]

### Steps to reproduce

Entity:
[code]

Query to reproduce error
[code]

Repro included at https://github.com/avinash-phaniraj-readify/EFCoreTestBed/tree/InvalidCast

### Further technical details
EF Core version: 2.1.4
Database Provider: SqlServer and SqlCE
Operating system: Win 10
IDE: VS 2017 15.8.1

[2018-10-11 06:41] divega commented on #13487
Using `DATALENGTH(array)` sounds good for binary `array.Lenght`. I don't think there is a perfect translation in SQL Server for `string.Length`:

- `DATALENGTH(string)` not only needs to be divided by 2 for Unicode strings, it is also inaccurate when the string contains Unicode Surrogates, which take more than 2 bytes.

- `LEN(string)` may very well be true that it is slower and it doesn't count t

[2018-10-11 06:46] obelixA commented on #13268
You are right! I missed to remove the references.
If you get a running app, this means you do not have the issue on your machine.
If I start the app, it calls "Form1_Load", within there a new "DataReaderSQLITE" Object is created.
Stepping into that the constructor creates a new LogContext.
Stepping into that, the LogContext inits the DB and in line 23 [this.Database.OpenConnection();] when opening

[2018-10-11 07:22] gighen76 opened #13588 "Unexpected behaviour in where clause"
Just to exclude misunterstanding in my previous issue I'd try to describe my problem in another way.
I've following code:

[code]

In some situations I've following exception:
**InvalidOperationException:  Nullable object must have a value.**
caused by orderRows with DeliveryDate = null in or.DeliveryDate.Value .
But how can I have orderRows with null values when I requested those with "not null"

[2018-10-11 08:31] davidroth commented on #13518
@divega  Nothing specific in my mind. I was just thinking, that there might be usages in disconnected scenarios, where one would like to have the combination of "NoChangeTracking + IdentityTracking" (Better query performance because no ChangeTracking is involved but still have unique instances in the resulting graph).

Sure, spinning up a new context with Tracking enabled, will give you Identity t

[2018-10-11 08:33] jcemoller opened #13590 "SelectMany with TPH and OfType throws System.ArgumentException"
Trying to extract the details of a derived entity (TPH) through the use of SelectMany and OfType fails with System.ArgumentException.

[code]

### Steps to reproduce

See the following gist: https://gist.github.com/jcemoller/b48ea98f71896cd00752c5d16bdc947a

Offending code is the following:

[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCo

[2018-10-11 10:39] RowlandShaw commented on #2266
In our case we were looking to move our application over to .Net Core/EF Core, but as the existing database used TPT, this is a blocking issue, without having to migrate all the existing data, and ancillary tooling/reporting at the same time.
Brings in to question the financial viability of migrating to netcore and EF.Core  :(

[2018-10-11 11:00] kalebpol commented on #13334
Had the same issue, in the end, in order to dynamically add initial seed data i did this:
'''
dynamic json = JsonConvert.DeserializeObject(seedData);
var entityListType = typeof(IEnumerable<>).MakeGenericType(entityType);
var entityList = json[entityType.Name].ToObject(entityListType);
modelBuilder.Entity(entityType).HasData(entityList.ToArray()); // Warning! must convert to array otherwise you ge

[2018-10-11 11:47] etairi opened #13591 "What is the proper way to run migrations in Azure?"
I'm using a local database for development purposes and a deployed database in Azure for production. My problem is that when I locally I can easily apply the migrations with `dotnet ef database update`, but I was wondering how can I apply the migrations to the production database that is in Azure. I think automatic migrations are not available in EF Core. But, I tried to do something like this (fr

[2018-10-11 11:57] msmolka opened #13592 "EF ignores ValueGeneratedOnAdd"
Describe what is not working as expected.

### Steps to reproduce

I have following model
[code]

I've even added manually:

[code]

The query generated by EF is:
[code]

I would expect that Id will be generated by server. but it is inserted.

### Further technical details
EF Core version: 2.1.4
Database Provider: (Microsoft.EntityFrameworkCore.SqlServer)
Operating system:  Windows 10 Pro
IDE: (e.

[2018-10-11 12:10] JaimeStill commented on #13577
@divega, please see my response to the first comment. This data (in this case, each `Item.Category.Items` array) is still serialized in aspnet core using `ReferenceLoopHandling.Ignore`.

[2018-10-11 12:20] SergeyLimonov commented on #2266
@RowlandShaw While waiting when TPT will be implemented you can try to use composition on data layer instead of inheritance but with some restrictions (for example you can't querying concrete entities from "base" table and inheritance is available only by interface types). Please see my example:

`
using System;
using System.Collections.Generic;
using System.Linq;
using Microsoft.EntityFrameworkCo

[2018-10-11 12:35] RowlandShaw commented on #2266
One of our use cases is loosely:
[code]
And then, we rely on the polymorphism to be able to do stuff like
[code]

Appreciate this could be rewritten something like
[code]
Or
[code]
But that's a lot of code to change just because we've chosen TPT historically

[2018-10-11 12:43] SergeyLimonov commented on #2266
@RowlandShaw in any case you can use inheritance in interfaces so you can define following interfaces
public interface IPlace {}

[2018-10-11 13:30] JaimeStill commented on #13577
@ajcvickers @divega I created a minimal representation of this issue on [GitHub](https://github.com/JaimeStill/UnrequestedData) with a comprehensive readme documenting the full scope of the issue in question.

[2018-10-11 13:44] Deilan commented on #13341
@bricelam Thank you, it's very educational!

There's some step probably missing though, or I am doing it wrong, because on invoking of
[code]
I get

Tried to copy Precompiled Binaries for Windows both x86 and x64 to `bin\Debug` - neither worked. 😞

[2018-10-11 14:50] msmolka opened #13594 "Grouping produces wrong query when nested navigation is used"
Grouping produces wrong query.

I have following model:

### Steps to reproduce

[code]

then I have selector
[code]

all is working properly when it comes to sorting or filtering
however when I'm trying to group .e.g. by name group by produces wrong select.
It reproduces in this case:

[code]

at the end of SQL select part of group
which is not exist in from select which is causing SQL exception:

[2018-10-11 14:53] cculver commented on #13457
Yea...I did something terribly wrong with my PR and unfortunately don't have time to figure it out so I closed the issue. The modification is in there, however. Hopefully you can use that. If you're merging into the version that has GetHashCodeExpression(), the following lines are needed as well:

            var checkNull = Expression.ReferenceEqual(instance, Expression.Constant(null));

[2018-10-11 14:59] kalebpol commented on #13154
Yeah, i have this problem too. The migrations are created just fine when the primary key is an int, but with the entities that have a string as primary key the migrations delete and re-insert the data when there is a change.

[2018-10-11 15:07] divega commented on #1238
Clearing milestone to discuss https://github.com/aspnet/EntityFrameworkCore/pull/13463 in triage.

[2018-10-11 15:57] ajcvickers commented on #13587
Note for triage: was able to easily repro this.

[2018-10-11 16:09] ajcvickers commented on #13570
@gighen76 EF always executes queries against the database, so the query will return entity instances based on the value in the database, not the value in the tracked entity. So if the database has been updated since the entity was tracked, then the predicate is still evaluated against the database, but the results may contain stale data that don't match what the predicate tested for in the databas

[2018-10-11 16:09] ajcvickers commented on #13588
Duplicate of #13570

[2018-10-11 16:20] ajcvickers commented on #13592
@msmolka See my answer here: https://github.com/aspnet/EntityFrameworkCore/issues/10070#issuecomment-336502376

[2018-10-11 16:53] AndriySvyryd commented on #13579
@divega Yes, this is specifically about nested entities (stored in the same document). The implementation would have to be different.

[2018-10-11 16:56] bricelam opened #13596 "Update NetTopologySuite.IO.SqlServerBytes package to release version"
Currently depending on a pre-release version. We'll need to update to their RTM version before we RTM.

[2018-10-11 17:36] bricelam commented on #13341
Oh haha, looks like you have to rename `sqlite3.dll` to `custom_sqlite3.dll`? That's silly.

There's probably a way to keep it `sqlite3.dll`... Maybe by using `SQLitePCLRaw.provider.sqlite3.netstandard1.1` instead.

[2018-10-11 17:46] maumar commented on #12771
@ilmax release/2.2 - we will merge it into master afterwards

[2018-10-11 18:07] maumar commented on #12738
fixed in 7e28f43dc79205aae8a74e3e53adf628aa25174f

[2018-10-11 18:07] #12738 closed

[2018-10-11 18:09] bricelam commented on #13487
SQLite already translates `string.Length`, but we should add a translation for `byteArray.Length` (to `length(byteArray)`)

[2018-10-11 18:33] onionhammer commented on #6983
And therefore does not support seed data? this does not follow for me.

[2018-10-11 19:14] #13122 closed

[2018-10-11 19:20] divega commented on #13131
I got additional information from the Cosmos DB team:

1. They are working now on a feature that will allow returning results with `ORDER BY <sort_property>` without an implicit `WHERE IS_DEFINED(<sort_property>)` filter. The timeframe isn't super solid but it seems to work well with our latest schedule.

2. There are no plans to change the semantics of NULL in `WHERE`. I.e. a property being `NULL

[2018-10-11 20:05] KaeTar commented on #5913
Just need it to actually generate the model and throw a //TODO: in there indicating the need to define a key.   I am fine with it throwing an error still if you try to use a class that doesn't define the key.   But I am tired of hand creating models so I can manually define the key using attributes, it would be nice if the model existed so I could add the key attributes

[2018-10-11 20:29] AndriySvyryd opened #13603 "Move discriminator support to Core"
This would allow easier implementations of discriminators in non-relational providers

[2018-10-11 21:05] #12192 closed

[2018-10-11 21:06] #13531 closed

[2018-10-11 21:29] divega commented on #13579
@AndriySvyryd ok, thanks. I think the issues are joined at the hip though. We should apply whatever behavior we decide is best to both.

[2018-10-11 21:39] optiks commented on #13587
@ajcvickers, if there’s any way of getting this into a 2.1 patch we’d be greatly appreciative. Totally understand if you can’t though.

[2018-10-11 21:56] AlexGhiondea commented on #13268
I debugged this and what is happening is that the Winforms project does not have a dependecy to the `System.ComponentModel.Annotations` package.

That package is puled in by the `Microsoft.EntityFrameworkCore` reference in the `DataReaderWriterSQLITE` project. Because the package references are not transitively being included in the Winforms project you end up with that exception.

Please explicit

[2018-10-11 22:05] ajcvickers commented on #13268
@AlexGhiondea Thanks for the info. How would a customer find out that this is needed?

[2018-10-11 22:17] ilmax commented on #12771
@maumar I can create a pr for 2.2.tomorrow morning CET time

[2018-10-12 01:05] kensel opened #13606 "SQL localdb attempting to create in c:\Users folder"
Describe what is not working as expected.
Trying to follow along the tutorial found at [https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.1](url) I try running the Update-Database before and after updating the Microsoft.EntityFrameworkCore.Tools in the solution and I get the error regarding access denied.  It appears to be trying to create the file in the c

[2018-10-12 01:56] smitpatel commented on #12771
@ilmax - we can just cherry-pick the commit from master. Do you need it to be in 2.2 release?

[2018-10-12 01:57] smitpatel commented on #13606
Duplicate of https://github.com/aspnet/EntityFramework6/issues/384

[2018-10-12 05:38] mani009 commented on #11683
Hello Everyone,

Further technical details

EF Core version: 2.1.4
Database Providers: Microsoft.EntityFrameworkCore.Sqllite and Pomelo.EntityFrameworkCore.MySql
Operating system: Windows 10 17134
IDE: Visual Studio 2017 15.8.5

so this is not only a problem with the migrations tools.
The optionsBuilder is configured this way.
Is this possible??

[code]

When i call the database objects

[code]

s

[2018-10-12 06:57] Starkie commented on #13531
That was a 10/10 commit message. Thanks for solving it so fast! 👍

[2018-10-12 07:01] pantonis commented on #11683
@ajcvickers I updated to MS EfCore 2.1.4 and still the same problem

[2018-10-12 07:01] obelixA commented on #13268
How do I know which of the projects (in my real program, not in the test) do need the `System.ComponentModel.Annotations package`? The original project consists of 85 libraries...

[2018-10-12 07:09] ilmax commented on #12771
@smitpatel nope, it was because of @maumar [comment](https://github.com/aspnet/EntityFrameworkCore/issues/12771#issuecomment-429052463) if it's not required, I'm fine with it in the next version (3.0?)

[2018-10-12 08:08] AndyCJ commented on #11981
I gave it a quick test and it seems fine for me now. I'm not sure what I messed up. I must have been on an old version as you say.

1. Created new mvc project via dotnet "dotnet new mvc --auth Individual" (.NET Command Line Tools (2.1.402)).
2. Changed project language version to "latest minor version" via VS (15.8.6).
3. Restored NuGet packages via VS.
4. Updated NuGet packages via VS.
5. Changed

[2018-10-12 09:05] gighen76 commented on #13570
@ajcvickers thank you for your reply.
So there are some situations in that where conditions are not respected and I can't do orderRow.DeliveryDate.Value after a orderRows.Where(or => or.DeliveryDate != null)
but I've to check again the list returned in memory as follows:
context.orderRows.Where(or => or.DeliveryDate != null).ToList().Where(or => or.DeliveryDate != null)
:(

[2018-10-12 09:31] tgutzler commented on #13531
Hi,
I'm getting the same error when trying to scaffold a sqlite database (schema attached) with 2.2.0-preview2-35157.
However, looking at the schema, I don't see a table that has rows without a defined type. Am I missing it or is there another problem?

PM> Scaffold-DbContext "Filename=homebudget.db" Microsoft.EntityFrameworkCore.Sqlite
System.ArgumentException: The string argument 'storeTypeName'

[2018-10-12 10:51] JonPSmith commented on #7829
Can I request this issue be considered again. Here is the use case.

I am trying to write a SQL error handler that will produce a user-friendly error message from a unique index constraint. I can decode the SQL Server error message if its a single column constraint, but for multiple column indexes it is far harder.

I would also like to alert users to possible duplicate errors where the errors com

[2018-10-12 12:14] mukeem1 opened #13607 "owned entity type is not working in 2.1.5 release"
Owned Entity type is not working in latest release of .net core 2.1.5 runtime running on azure web app
which was working on .net core 2.1.0. This is throwing invalid column name error with entity name .

My app stopped working after this update even though this is working at my local machine at my machine is having version 2.1.0 runtime

Invalid column name **"Price_SkuMrpId".**

[code]

### Furth

[2018-10-12 14:00] joarkm commented on #12516
Thank you!

[2018-10-12 15:18] Psypher9 commented on #577
@bricelam I am actually working on a prototype for the first two scenarios. Would this still be a helpful enhancement? I may be able to have a PR ready next week for this. The third scenario is going to take more research, but I have some ideas.

[2018-10-12 15:33] juanmarl opened #13608 "IsConcurrencyToken defined on OwnedType does not work as expected"
Changing the owned-type object throws always a `DbUpdateConcurrencyException ` when the owned type has a property set as concurrency token..

[code]

### Steps to reproduce

For example given this model:

[code]

The following code throws a `DbUpdateConcurrencyException `:

[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Opera

[2018-10-12 15:59] #11981 closed

[2018-10-12 16:08] ajcvickers commented on #13608
Duplicate of #12865

[2018-10-12 16:08] ajcvickers commented on #12865
See also #13608 for non-rowversion example.

[2018-10-12 16:12] ajcvickers commented on #13607
@mukeem1 Can you please post a runnable project/solution or complete code listing that demonstrates the issue you are seeing.

[2018-10-12 16:13] joperezr commented on #13268
@AlexGhiondea can you verify if this repros (Without the explicit reference to S.C.Annotations) when migrating the project to use PackageReference? I would expect that in that case the full package dependencies will be restored and added correctly, which would answer the question of what is the best way from a user's point of view to avoid these type of issues.

[2018-10-12 16:14] ajcvickers commented on #7829
@JonPSmith The issue is not closed; it is scheduled to be fixed in the 3.0 release.

[2018-10-12 16:14] TrieBr commented on #12617
Great find! I've spent days trying to figure out why my code runs fine locally on windows, but I'm getting the errors you describe on my Ubuntu 18.04 server. As described in #13318, if you build your model snapshot on one machine and run it on a machine with a different locale will fail.

In my case I built my model shapshot on windows 10 with Locale en-US. My Ubuntu server was set to C.UTF-8. I s

[2018-10-12 16:24] ajcvickers commented on #13531
@tgutzler "...screenMajor INTEGER, _screenMinor_, screenMini INTEGER..."

[2018-10-12 16:31] ajcvickers commented on #13570
@gighen76 It might be worthwhile looking at this from a bigger picture. First consider if it is really necessary to query multiple times in a single unit of work. Consider instead running one query to get the data, manipulating it in memory without querying a second time, and then deal with conflicts when writing using optimistic concurrency. Alternately, if the unit of work needs to issue multipl

[2018-10-12 16:37] ajcvickers commented on #12378
@avinash-phaniraj-readify I don't have any great ideas for a workaround other than do to what I already saw in some other code from you guys where you instead check for negative values instead of zero--maybe you can move this into a common helper that you then call whenever this logic exists.

[2018-10-12 17:10] bricelam commented on #11683
I'm able to repro this. MySqlProjectContext is used even when I specify `-Context ProjectContext`. MySqlProjectContext inherits from ProjectContext, so I suspect we're picking it's IDesignTimeDbContextFactory.

You can probably workaround the issue by making ProjectContext abstract and introducing a new derived type for SqlServer.

[2018-10-12 17:11] bricelam commented on #11683
This may be related to #11611

[2018-10-12 17:15] bricelam commented on #577
Yeah, I'd be happy to help get this feature in. The diagnostics page does a check for pending model changes [here](https://github.com/aspnet/Diagnostics/blob/release/2.1/src/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore/DatabaseErrorPageMiddleware.cs#L134-L143).

[2018-10-12 17:18] ajcvickers commented on #13543
@rajeevsoni The reason for this is that the foreign key for the relationship is not mapped to a property of the entity type. Instead, the value is being stored in "[shadow state](https://docs.microsoft.com/en-us/ef/core/modeling/shadow-properties)"--that is, with the tracking information that the context has about the entity. This is fine for a query/update on the same context instance, but if you

[2018-10-12 17:18] bricelam commented on #577
Can we review your design before you send a PR? Just a comment here about what command(s) you run and what the output will look like should be enough for us to discuss.

[2018-10-12 17:53] Psypher9 commented on #577
Yeah definitely. I would look forward to that discussion. I have been studying the work that you guys have done, both in the PSM and in `ef.dll`, so that I can follow the methodology closely.

[2018-10-12 17:54] Psypher9 commented on #577
This is helpful to know! Thanks for pointing this out.

[2018-10-12 18:03] Starkie commented on #6182
Are there any news on the implementation of this functionality?

I think it would be useful, for example, when a table causes an error in the generation of the scaffold. I had this happen in #13528. As a workaround, all tables had to be referenced manually using the `--table` flag, excluding the two that caused the exception.

[2018-10-12 18:13] ajcvickers commented on #1238
@divega to follow up on PR.

[2018-10-12 18:20] ajcvickers commented on #13131
@divega to document triage decisions

[2018-10-12 19:40] olavivaino opened #13609 "Exception "Data type 'nvarchar' is not supported in this form..." during scaffolding"
Doing dbontext scaffolding on command line for existing DB, throws exception System.ArgumentException. No context or other files are generated.
Command line: dotnet ef dbcontext scaffold "Data Source=sql_srv;Initial Catalog=sql_db;UserID=user;Password=*" Microsoft.EntityFrameworkCore.SqlServer -o Model

There are similar errors reported on #9814, #9188, #9501. However it seems those issues are abo

[2018-10-12 20:41] ajcvickers commented on #8527
Moving this back onto the backlog for tracking, since the EF team is not working on this right now. However, that certainly doesn't preclude a community PR as described by @divega above.

[2018-10-12 20:43] ajcvickers commented on #13519
Triage: we will generate a better exception for this case that indicates that builders should not be held onto like this and that a new builder should be created when coming back to work on the same part of configuration again.

[2018-10-12 20:50] ajcvickers commented on #13540
Notes from triage: we should consider allow registering an explicit bridge service in the internal service provider such that both singleton services can be registered and so that constructor injection can be used to resolve these in replaced services.

@chernihiv Overriding the MigrationsSqlGenerator is not the way to do this. It would allow different databases to be created, but would not allow

[2018-10-12 21:00] ajcvickers commented on #13575
Triage: we agreed on the general idea, but the breaking potential is great. Therefore, we will instead introduce two new methods:
* AddOrAttach
* AddOrUpdate

These methods would work in the way described above when generated keys are being used. That is, if the instance has no key value set, then it will always be Added. If it has a key value set then it will be Unchanged for AddOrAttach or Modif

[2018-10-12 22:04] bricelam commented on #11722
Fixed by #13115

[2018-10-12 22:04] #11722 closed

[2018-10-12 22:18] bricelam commented on #13587
Dupe of #10642?

[2018-10-12 22:43] bricelam commented on #365
I looked on NuGet.org for popular type that exposed this functionality on .NET Standard (similar to how NTS enabled us to implement spatial), but couldn't find one. I think we can consider ourselves blocked on this until one emerges or Microsoft.SqlServer.Types is updated to target .NET Standard.

Technically speaking, we (or someone else) *could* create a package that only works on .NET Framework

[2018-10-12 23:05] lajones opened #13610 "Indexed properties mapping support (part of property bag entities)"
From discussion with @divega and @ajcvickers. We would like to support Entity classes with indexers:

[code]

You can then declare an indexed property in `OnModelCreating()` and have EF use the indexer to access that property, instead of expecting a member. (Note: this addresses parts of issues #2968 and #9914).

Previous Tasks:
- [ ] Update the metadata to allow the model to get and set property

[2018-10-13 02:00] christopher-landress opened #13613 "Update pattern for scaffolding column default constraints"
When using database first, creating a table (MSSQL) with a  a bit field that has a default value produces strange results.

MSSQL Script:
[code]

Scaffolding command:

`Scaffold-DbContext "Server=172.16.1.140;Database=DocStudio;User Id=<uid>;Password=<pass>;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -f`

Generated model :

[code]

and finally, the fluent OnModelCreating method:

[

[2018-10-13 07:50] dwarry opened #13614 "Seed fails if Entity has Owned"
Attempting to seed data fails at runtime if a persistent Entity has an Owned Entity that is initialized by the parent.

[code]

### Steps to reproduce
See https://github.com/dwarry/EFCoreSeedIssueRepro for a minimal repro. This fails unless line 14 of Domain.cs is commented out.

### Further technical details
EF Core version: 2.1.4
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operati

[2018-10-13 10:10] ErikEJ commented on #577
EF Core Power Tools also has some code to get Migrations status...

[2018-10-13 10:12] ErikEJ commented on #6182
Maybe EF Core Power Tools can help you? (Persists the table selection)

[2018-10-13 10:13] ErikEJ commented on #13609
Looks like you are running a old beta version of EF Core

[2018-10-13 10:15] ErikEJ commented on #365
@dotmorten ?

[2018-10-13 10:46] chravikishore opened #13615 "Seeding problem, there was no value provided for the required property"
I had this model
[code]
and has following mapping
[code]
When I create seed like below
[code]
I am getting error.

Field showing error has a default value defined and only database field which does not have property on model object

[code]
[code]

[2018-10-13 10:48] olavivaino commented on #13609
Thanks for the hint!
Indeed, the issue was in the package Microsoft.EntityFrameworkCore.Tools that was not the latest version.
But it was so logical to suspect "Entity Framework Core .NET Command-line Tools" package that produced exception.

I got model scaffolded using following versions combination:
<PackageReference Include="Microsoft.EntityFrameworkCore" Version="2.2.0-preview2-35157" />
    <

[2018-10-13 11:06] olavivaino commented on #13613
Struggling with the same issue. Its really not desirable to have "bool" in the DB and "bool?" in the code.
I'm wondering what is the reasoning behind this:

[2018-10-13 11:15] 279095090 opened #13616 "two TPH in one root"
when i use `add-migration "Add_xxx"` in cmd.
[code]

### My Code
[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: window10 x64
IDE: (e.g. Visual Studio 2017 15.8.7)

[2018-10-13 11:30] christopher-landress commented on #13613
The most

It seems to be completely indiscriminate too. Verified was defined in the model correctly but is missing the default value in OnModelCreating whereas Active was defined incorrectly in the model but correctly in OnModelCreating. It also got the unique index, but ignored the primary key completely. Makes it impossible to use scaffolding in a build task without constantly fudging with the m

[2018-10-13 12:36] NickCraver opened #13617 "IN() list queries are not parameterized, causing increased SQL Server CPU usage"
Currently, EF Core is not parameterizing `IN(...)` queries created from `.Contains()` (and maybe other cases). This has a very detrimental impact on SQL Server itself because:
1. The query hash is different for each distinct set of IDs passed in.
2. SQL Server needs to calculate a plan for each of these distinct combinations (CPU hit).
3. The query plans created occupy an entry in SQL Server's pla

[2018-10-13 12:37] aherrick opened #13618 "In Memory Database Not Persisted with Injected Data when Testing"
I believe my issue is surrounding this closed out bug. https://github.com/aspnet/EntityFrameworkCore/issues/9613

In reviewing, I've setup a stripped down sample showing the issue:
https://github.com/aherrick/TestServerAndInMemoryDbDemo

The issue boils down to this.

In my Test Project I am spinning up the basic ASP.NET Core server so I can run API tests against it.

I have a simple `DbContext `

[2018-10-13 12:38] dotMorten commented on #365
I have a SQL hiarchy implementation that matches the SQL types here:
https://github.com/dotMorten/Microsoft.SqlServer.Types/tree/master/src/Microsoft.SqlServer.Types/SqlHierarchy

[2018-10-13 15:39] huysentruitw commented on #10915
The lack of `ConfigureAwait(false)` in EF core totally breaks the graphql-dotnet dataloader way of working (currently, the only way to make it work is to call the EF Core sync methods). Any reason for closing this?

[2018-10-13 15:40] bricelam commented on #365
Have you published a NuGet package? If so I’ll throw something together during my moonlit hours.

[2018-10-13 16:19] ErikEJ commented on #13617
Related issue: https://github.com/aspnet/EntityFrameworkCore/issues/12777

[2018-10-13 16:41] dotMorten commented on #365
It was published without consent and because I was procrastinating 😁
I'll have a proper one up with source linking and correctly code signed.

[2018-10-13 16:46] divega commented on #13131
Triage decisions:
1. We will map `IS_DEFINED(<property>)` on EF.Functions for Cosmos DB
2. We will expand null comparisions for nested properties to compensate, e.g. `c.Address.City = address` will expand to `c.Address = null OR c.Address.City = null` when `address` is equal to null.
3. We won't add compensation for missing properties in general, at least for now. We can always add it later based

[2018-10-13 17:32] kroymann commented on #13617
I wrote an extension to EF6 to handle this exact problem for our product and apparently it is extremely similar to what Nick is proposing above.  By replacing this where clause: `.Where(entity => myEnumerable.Contains(entity.prop))` with this extension method: `.BatchedWhereKeyInValues(entity => entity.prop, myEnumerables, batchSize: 100)`, my solution will break the list of values into batches, a

[2018-10-13 20:02] StasPerekrestov commented on #13617
@kroymann Works like a charm! Big Thanks!

[code]

**Usage:**
[code]

[2018-10-13 21:46] wasabii commented on #12441
I want to leave another comment on this issue, since I think the recommendation misses a key point.

I open a transaction. Do a lot of EF work. And then do some bulk SQL loads. And then do more EF work. And then commit the transaction.

This leaves no possibility for using multiple DB contexts. They would not be able to span the transaction.

Previous frameworks I've used (NHibernate) just updated

[2018-10-13 22:46] ravenboilinux opened #13619 "Could not load file System.Interactive.Async"
I get this error for a package that does not exists when i run a program
Could not load file or assembly 'System.Interactive.Async, Version=3.0.3000.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263' or one of its dependencies. The system cannot find the file specified.
there is no version 3.0.3000.0 of System.Interactive.Async

Exception message:
Could not load file or assembly 'System.Interact

[2018-10-13 22:53] bricelam commented on #365
Wow these types are awful. The operator overloads return `SqlBoolean` forcing you to write LINQ like this:
[code]
We probably need a more .NET-idiomatic wrapper type to make the EF Core experience acceptable.

[2018-10-13 23:08] dotMorten commented on #365
These are an exact match on the sqltypes API. Take it up with Microsoft. It's an API geared towards working with SQL server.

[2018-10-14 01:02] wasabii opened #13620 "Reloading Data"
I would very much like to know how to force data to reload in EF Core.

ReloadAsync on EntityEntry works fine. Though it sucks that you have to do it one at a time.

But what about Navigation collections? I have tried many ways to mess around with the CollectionEntry to no avail. Setting IsLoaded to false. Clearing current value. Setting CurrentValue manually to what I want.

Everything I try has

[2018-10-14 01:46] ravenboilinux commented on #13619
I have executed both commands:
[code]
Unfortunately, I still get the same exception

all my bindingRedirect for all the config files that include that dll are:
[code]
which my file version is 3.2.702 and the product version 3.2.0+ge6549cefd7

I have check all the nuget version none the of version contain the version 3.0.3000.0 of the dll of the System.Interactive.Async

[2018-10-14 04:40] dotMorten commented on #365
This is all just how UDT types work in SQL. Not sure what the point of ranting against that is, unless you hope to change how SQL Server works?

[2018-10-14 04:52] olmobrutall commented on #365
Exactly

[2018-10-14 06:44] dotMorten commented on #365
Fixed several bugs and inconsistencies with the official Sql Types library and uploaded to NuGet: https://www.nuget.org/packages/dotMorten.Microsoft.SqlServer.Types/1.0.0

[2018-10-14 07:58] DennisDyallo commented on #5858
I tried VahidN's cache and I'm afraid it doesn't scale at all.
Any insert, update or delete operation invalidates the current cached DbSet and all related DbSet's even if the newly inserted/updated entity doesn't affect any of the cached query.
That is to say, if you have cached an entity (of type DbSet<Images>) by using the query Images.Where(e => e.Id == id) and you insert or update into that ta

[2018-10-14 08:09] tww19861004 commented on #12260
very good

[2018-10-14 08:43] john1452 commented on #12482
Hi is there a workaround for this issue ?

[2018-10-14 14:49] sjb-sjb commented on #12430
The advantage to backing fields cited in https://docs.microsoft.com/en-us/ef/core/modeling/backing-field is that one can then have private property setters.

The programmer's decision to have property setters used for materialization (or, for example, for reversion when State is set to Unchanged) is likely based on very different considerations than the decision of whether a given property should

[2018-10-14 14:50] kbekkenutte commented on #12482
@john1452 You can suppress batching of updates while waiting for a fix, something like:
`...UseSqlServer(..., options => options.MinBatchSize(1));`

[2018-10-14 16:36] bricelam commented on #365
No ranting here—just remembering why we had to introduce DbGeography in EF6.

I’m also disappointed that fixing this issue isn’t as trivial as I first thought it would be.

[2018-10-14 16:43] bricelam commented on #365
I suspect all of the awkwardness stems from the three-valued logic of SQL (True/False/Unknown)

[2018-10-14 16:46] Berreek opened #13621 "Move DesignTimeServiceCollectionExtensions to Microsoft.Extensions.DependencyInjection namespace"
Is there any reason to not have `DesignTimeServiceCollectionExtensions` in `Microsoft.Extensions.DependencyInjection` namespace as it is recomended [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2) to have all `ServiceCollection` extensions in one namespace ?

`We recommended that apps follow this convention. Place extension methods in the M

[2018-10-14 17:59] dotMorten commented on #365
Now I can't pretend I know much about EF, but I don't understand the big surprise about this. It's not really any different than working with all the built-in SqlTypes. Wouldn't you just do it all the same way?

[2018-10-14 18:03] dotMorten commented on #365
FYI OMD of the library here: https://sharpgis.net/omds/dotMorten.Microsoft.SqlServer.Types.html
And here's a list of the API's the official package has, that no .NET Standard implementation is provided for (yet):
https://sharpgis.net/omds/dotMorten.Microsoft.SqlServer.Types-missing.html

[2018-10-14 18:31] wasabii commented on #13620
Okay, so, I've written a series of extension methods that navigate through the Entry graph and reload each component. Got it work right right. But, this is pretty terrible. Thousands of queries where one would suffice.

How about passing something like a MergeStrategy down through the query execution pipeline, which alters how data coming in is parsed into Entries? If it's set to Override, then it

[2018-10-14 18:36] ajcvickers commented on #13613
@christopher-landress @olavivaino With regard to the boolean default values, can you give some details on you wish these default values to be used from EF? Should they be included in the model, and, if so, why?

@christopher-landress If a primary key is being ignored, can you post the details on the key that is being ignored--this sounds like a bug.

[2018-10-14 18:39] fsmirne opened #13624 "Multiple many-to-many joins produce the correct SQL but the wrong result"
I'm trying to optimize a call using 2 many-to-many relationships into one call using Entity Framework v2.2.0-preview2-35157 and while I was able to produce the right SQL, the resulting object doesn't populate correctly and I get 2 warnings about unnecessary includes which were ignored as described below.

For this example, I'm using a modified **ApplicationUser** class which has a join table to **

[2018-10-14 18:43] ajcvickers commented on #13618
@aherrick Given that this seems to be the same issue as #9613, what is it that you are hoping for from posting this issue?

[2018-10-14 18:55] ajcvickers commented on #12430
@sjb-sjb EF Core has always been able to map private (protected, internal, etc.) properties. I'm curious what the text is in that link that made you think otherwise.

[2018-10-14 19:03] ajcvickers commented on #13620
@wasabii The reason we haven't implemented this with higher priority is because a single context instance is intended to be used for a single unit-of-work. This usually results in no, or very limited, need to refresh existing entities. Any conflicts that happen while the unit-of-work is being executed are either handled as a last-one-wins, or with optimistic concurrency patterns to resolve the con

[2018-10-14 21:35] christopher-landress commented on #13613
The default value should be whatever the constraint specifies. In the above case Verified should be 0 and Active should be 1... specified by :

`CONSTRAINT DF_Account_Verified DEFAULT (0)`

                entity.Property(e => e.Verified)
                    .IsRequired()
                    .HasDefaultValueSql("((0))");

and

`CONSTRAINT DF_Account_Active DEFAULT (1)`

                entity.Prop

[2018-10-14 21:53] talalong commented on #11855
Hi,
I got same problem. But in my case, I don't need a primary key to be defined at all. Like for example:
The table _**customer_has_orders**_ represents the relationship n-m between _**order**_ and _**customer**_ .So technically, Im not going to use this Id-property. Im using .Net Version 2.1 and is there any other solution to work around this or I need to define a Id-prop for those tables, that

[2018-10-14 22:35] ajcvickers commented on #13613
@christopher-landress Assume that the reverse engineering is doing what you expect, such that you have two bool properties in your model, both with HasDefaultValue (or HasDefaultValueSql) set. Can you describe how you will then use these properties? What will the default value do? Why is it there?

(I'm not asking to be mean, but because how to deal with column defaults depends on what they are us

[2018-10-14 23:16] xt0rted commented on #12956
I know this was closed as by design, but with #13617 discussing something similar I wanted to bring this back up. Wouldn't it be better to parameterize the query in my example for the same reasons as mentioned in the other issue?

[2018-10-14 23:51] christopher-landress commented on #13613
The way I see it, and maybe I am over/under thinking it, is the advantage of having default values for future use. Neither of which are initially important to the insert. Verified would be updated to true once the email address is validated, and Active would work as a soft delete for the record. This could absolutely be accomplished with different schema but I feel like that defeats the purpose of

[2018-10-15 00:00] ajcvickers commented on #13613
@christopher-landress Consider this entity type:

[code]
where IsValid has a column default of `true` and this is mapped correctly int the EF model.

After inserting the the following entity instance, what would you expect the IsValid column value to be set to?
[code]
Likewise, for this:
[code]
And for this one:
[code]

[2018-10-15 00:01] space-alien opened #13625 "How about parameterless [InverseProperty()] to give us the equivalent of parameterless .WithOne()?"
Hopefully the title is self-explanatory!

[2018-10-15 00:11] christopher-landress commented on #13613
I understand the limitation of the model's type.

[code]

Is there no way to fix this in OnModelCreating without using a nullable type?

[2018-10-15 02:16] wasabii commented on #13620
Doesn't jive with using a DbContext per DI scope, however. In this mode of operation, there is no way to get rid of the DBContext for the entire scope, replace all users of it within that scope, and get them refreshed entity entries.

[2018-10-15 03:45] divega commented on #12956
@xt0rted I will try to explain the design:

In most cases, EF Core only generates parameters for variables referenced in the query. The goal of this design is to give you control on whether parameters or constants are used.

Issue #13617 is a degenerate case because it is very hard to write the query in a way that the values in the enumerable passed to `Contains` are parameterized in the SQL. The

[2018-10-15 03:55] RenshuozZ opened #13626 "how to use snapshot in team develop in three branch"
i have three branch with .net core web api that use ef core 2.0
every branch has it own db
we develop in dev  and use dev db  and add-migration .... update database and the snapshot is good
when i merge the dev to master  i  want to sync the change in dev db  to master db
but add migration is empty  because snapshot is not match with my db
is there any solution

[2018-10-15 03:57] RenshuozZ commented on #13626
@bricelam  I look forward to your reply.

[2018-10-15 07:03] Varorbc opened #13627 "ForeignKeyAttribute add cascadeDelete cascadeUpdate param"
ForeignKeyAttribute add cascadeDelete cascadeUpdate param

[2018-10-15 07:40] ginomessmer commented on #1368
+1

[2018-10-15 08:52] klaussj commented on #13517
Shouldn't that fail too then ?

[code]

Changing it to this fails however:

[code]

[2018-10-15 09:49] FranklinWhale opened #13628 "Unnecessary alternate key generated by convention"
An unnecessary alternate key is created for the `UserListMember` table in Step 2 of the Steps to Reproduce:
[code]
That alternate key is not generated when the word `User` is removed from the table name (Step 5):
[code]
The same behaviour is also reproducible using the Npgsql provider.

### Steps to Reproduce
1. Create a new console project
2. Create a `.cs` file with content below:
[code]
3. Run

[2018-10-15 10:12] gongjie18675517757 opened #13629 "Translate GroupBy after Join with aggregate in projection"
Note: works fine in a single table
Exception: Working abnormally when using multiple tables to associate queries (EF 6.0 is normal)
example:
[code]

[2018-10-15 10:47] aherrick commented on #13618
@ajcvickers is there another way I can achieve resolving the DB Context? #9613 seemed it was Closed out so I'm not sure what the resolution is.

[2018-10-15 12:07] schamo opened #13630 "Changed "Include" behavior with "ToList""
With EF Core 1.1.x (linked example project uses 1.1.1), we were able to do something like

[code]

In the CanRead method, the Children navigation property was loaded, and the filtering worked as planned. What's already strange, though, is that the following code does things differently:

[code]

Here, the child elements won't be loaded in the CanRead method, hence the code won't do what we expect

[2018-10-15 12:59] dannythomas13 opened #13631 "Can not resolve reference: `System.Buffers`, referenced by `System.Memory`"
I am building a cross platform xamarin forms application using vs2017 version 15.8.7 nad after adding reference to ef core sqllite (2.2.0-preview2-35157) I am getting the following error:

Can not resolve reference: `System.Buffers`, referenced by `System.Memory`. Please add a NuGet package or assembly reference for `System.Buffers`, or remove the reference to `System.Memory`