[2017-04-13 21:50] maumar commented on #8162
dupe of https://github.com/aspnet/EntityFramework/issues/7600
Please upgrade EF to 1.1.1 and this issue should get resolved.

[2017-04-13 21:55] smitpatel commented on #7858
Closing this as dupe #7363 .
If we are not going to stream the results then throwing exception will happen only after buffering has finished.

[2017-04-13 22:00] bricelam opened #8164 "Design: Discover DbContext types using Program.BuildWebHost()"
If ASP.NET Core adds a well known, static accessor to the `IWebHost`, our tools can use this to instantiate the `DbContext` at runtime.

We may also want to reconsider some aspects of the previous `Startup`-based mechanism which leaked a bit into our codebase. Specificly: environment and content root directory. This includes the `--environment` option on `dotnet ef` and `ef.exe`, the `environment`

[2017-04-13 22:00] pranavkm commented on #8139
@smitpatel just saw `DatabindingSqlServerTest.DbSet_Local_does_not_call_DetectChanges` fail. We're building `rel/1.1.2` of EF. Could you verify if your changes were commited to this branch?

[2017-04-13 22:10] ajcvickers commented on #7363
@jemiller0 @maumar @anpete @smitpatel Could this be related to #8147

[2017-04-13 22:16] smitpatel commented on #7363
Possibly related. That seem to be one explanation for buffering. Though query is not matching that shape.

@jemiller0 - All issues reported by you are happening due to query buffering results instead of streaming since buffering takes time and memory. Therefore you are not able to see immediate exception. And as in case of SqlServer you run out of memory because all the results are loaded in the m

[2017-04-13 22:20] ajcvickers commented on #8129
@meikeric Thanks for showing an interest in this. Here is some guidance based on our current understanding of how this would be best implemented and general patterns/considerations in the EF Core code.
* We had envisioned this would be implemented, or at least participate in, types mapping and type conversions. Put another way, rather than having ad-hoc code that does conversions, this should be p

[2017-04-13 22:22] anpete commented on #7363
@ajcvickers QueryBuffer uses weak refs to avoid this issue when streaming. Also the query plan above is showing that it is not using the QueryBuffer (UnbufferedEntityShaper). Additionally, the memory snapshot screen dump above is showing that the objects are rooted by a Queue<ValueBuffer>, which we only used when doing non-MARs buffering,.

[2017-04-13 22:26] anpete commented on #8147
The shadow properties may be accessed from anywhere during a query and such accesses are unrelated to materialization - The whole query may be in terms of ValueBuffers.

The first point is fair, though; should be trivial to fix.

[2017-04-13 22:32] #7217 closed

[2017-04-13 22:33] #7465 closed

[2017-04-13 22:36] meikeric commented on #8129
Thanks for the feedback.
Regarding the type mapping that seems to be a popular topic of concern: Hypotetically, and assuming it makes it into 2.0, would you be using native types on the provider side, e.g. SQL server?

I'm trying to invision how EF could use SQL Server's new support of JSON_VALUE and JSON_QUERY to offload the work to the DB server.  That's essentially what I was trying to encompas

[2017-04-13 22:49] bricelam commented on #8163
This looks familiar. What version(s) of the EF packages are you using?

[2017-04-13 23:31] AndriySvyryd commented on #6787
Related to #3867

[2017-04-13 23:34] AndriySvyryd commented on #7147
This is probably already fixed in 2.0.0

[2017-04-13 23:35] AndriySvyryd commented on #7148
This is probably already fixed in 2.0.0

[2017-04-13 23:44] AndriySvyryd commented on #7599
This is probably already fixed in 2.0.0

[2017-04-13 23:48] AndriySvyryd commented on #7800
Closing as the issue appears to be resolved. Feel free to add a comment if you still experience it.

[2017-04-14 00:49] smitpatel commented on #8068
@maumar - Re-enable skipped test in one of the future PRs and close this issue once done.

[2017-04-14 01:16] smitpatel commented on #6563
@anpete @roji - I was able to get above test failure in local machine. I am having hard time debugging with pre-release bits of CLI/SDK & Asp.Net nightly packages. @anpete - would you like to take a look?

[2017-04-14 01:26] smitpatel commented on #5346
superseded by #7160

[2017-04-14 01:29] maumar commented on #6938
We now throw different exception (dangling qsre)

Simplified repro:

[code]

query plan:

[code]

[2017-04-14 01:49] Zonciu commented on #8149
@ajcvickers How to custom the FK name? Or it must be named "UserId"？

[2017-04-14 02:01] maumar commented on #7123
This works in current bits, however the query is executed mostly on the client (due to interfaces and subsequent Cast operators that are being introduced by relinq)

[2017-04-14 02:10] maumar commented on #7123
initiali query:

[code]

initial query model
[code]

after nav rewrite:
[code]

query plan:
[code]

[2017-04-14 02:18] smitpatel commented on #8151
When you are inside `OnModelCreating` method, the model is not finalized yet. So you can see model in intermediate state. There are few steps being run after `OnModelCreating` which includes model clean up and validation. During clean up phase we are removing ignored entity types. So as in the first case you saw, the migration generated was correct.

But it is valid expectation that you should be

[2017-04-14 02:25] smitpatel commented on #8149
If you want to use different FK property then what EF matches by convention then you need to use fluent API to explicitly specify it. Following in the docs describe how to use `HasForeignKey` to define which property to use as FK property. https://docs.microsoft.com/en-us/ef/core/modeling/relationships#one-to-one

[2017-04-14 06:34] MichaelKetting commented on #7983
@smitpatel Yes, an issue would be much approciated for bookkeeping.

PS: Sorry, I thought that I already responded here but looks like it got lost in the inbox queue. I try to do a repro for this in the re-linq tests over the weekend but the next couple of weeks will be crazy for me so I can't make promises and I'll apologize in advance for any delays :)

[2017-04-14 06:57] johnnyreilly commented on #4797
If you're working with csproj you might find you need this:

[code]

The packages you need in your csproj:

[code]

[2017-04-14 07:52] DerGary commented on #8151
I did not know that, thanks for the clarification. But what I don't understand is: why is the ignored entity type not in the debug view when one of the 2 relations (CustomerGroup or SubsidiaryCompany) do not exist. And if one of the two mentioned entitys do not exist the model works as expected because the ignored entity types do not get included.

@AndriySvyryd

The problem is not only that you c

[2017-04-14 09:36] sweetwxh opened #8169 "Update entity with detached data has odd behavior after savechanges"
I retrive json data from web api and then convert it into an entity. Then update it with context.Update method. When the entity is not query with the same id before update, or just update the entity from query, everything goes fine. Yet if I query it ahead, and call context.Update, it will throw an exception, in the catch scope, I  update the properties through EntityEntry's SetValues method, the

[2017-04-14 10:06] zahik commented on #2272
Any Update on That?
(Any UserVoice place to vote for it?)
I Really need this too!
Thanks.

[2017-04-14 10:12] zahik commented on #2272
Added :
https://data.uservoice.com/forums/72025-entity-framework-feature-suggestions/suggestions/18936844-ef-core-migrations-column-ordering

[2017-04-14 12:32] cdie commented on #8169
@sweetwxh Have you try a context.ChangeTracker.DetectChanges() before to see if something changed ?
Did you disable AutoDetectChangesEnabled within your context because of your merge system ? (it happens to me, I've found it a lot of time after ...)

[2017-04-14 12:39] ErikEJ opened #8170 "Running the benchmark tests - a few questions"
I have investigated running the benchmark tests against the SQL CE provider.

Initially I just wanted to run the SQL Server tests on my own localdb instance.

I have noted the following:
- You must set runIterations": true in the config.json file in the test project to actually enable running the benchmark tests (which makes sense)
- You must manually create the "Benchmarks" database according to

[2017-04-14 13:16] Ciantic commented on #4558
I think I stumbled on this, I managed to make it work like this:

Assume following classes
[code]

I assume you have in startup something like this:

[code]

The EntityFramework uses `SpecificDbContext` as the injected class. This means that controllers that assumes `AppDbContext` being there ceases functioning.

In order to use the `AppDbContext` or even `DbContext` as a injected class (but still

[2017-04-14 14:35] darkengines opened #8171 "[Feature] Interface mapping"
Apart from having to request several tables (according to the used strategy), what is the real difficulty with this feature?

The absence of this functionality forces people to use abstract classes where an interface would have been desirable and sufficient, take the following example:

[code]

The lack of this feature leads developers to create whimsical classes like "CoffeeDrinkerFeatureProvider

[2017-04-14 15:47] ajcvickers commented on #8171
@darkengines This is being tracked by #757. There isn't any fundamental difficulty here, although two things to consider:
* Make the resolution of concrete types flexible enough that it could be performed by an IoC container
* Ensure that polymorphic associations are allowed

[2017-04-14 15:59] ajcvickers commented on #8169
@sweetwxh Rather than creating a new instance, if the entity already exists, then assign values to the properties of that instance. EF will then detect changes appropriately and make an update call. If the entity doesn't exist, then EF will insert it. Something like this:
[code]

[2017-04-14 16:25] Trolldemorted commented on #1590
@rowanmiller are there any plans on getting this out of the backlog in the near future? A dirty workaround would suffice, but being unable to do any efficient full-text search is really bad.

[2017-04-14 16:53] ajcvickers commented on #1590
@Trolldemorted @mikebridge I think you should be able to use FromSql to write a full-text query, but I haven't tried it. /cc @divega

[2017-04-14 16:55] ErikEJ commented on #8170
**Notes about changes required to the Benchmarks.EF6 project in order to use the EntityFramework.SqlServerCompact provider**

1: Created a Adventureworks2014.sdf file and added to the project

2: Added the EntityFramework.SqlServerCompact Nuget package

- csproj changes:
[code]
3: Modified Fixture and DbContexts:
[code]
4: Added DbConfiguration class:
[code]
5: Modified Model and test to match SQL

[2017-04-14 17:01] ErikEJ commented on #1590
@Trolldemorted You can use the concepts here to get started, just use the CONTAINS or FREETEXT functions instead of LIKE.. https://github.com/rowanmiller/Demo-EFCore/blob/master/StartingSourceCode/FromSql/Program.cs

[2017-04-14 17:27] DamirLisak commented on #7614
@ajcvickers why did you remove this issue from the 2.0.0 milestone?

[2017-04-14 17:28] mikebridge commented on #1590
@ErikEJ @ajcvickers The problem is that I have some complex logic which constructs a query using linqkit's predicatebuilder.  If I could extract the resulting SQL some way I could at least do some string manipulation on it and send it through FromSql, but I see no way to do this in EF7.  It was possible in EF6 with `DBInterceptor` or `ToTraceString` but these no longer exist.

[2017-04-14 17:30] ajcvickers commented on #7614
@DamirLisak Because I likely won't have time to investigate so we need to re-evaluate in triage.

[2017-04-14 17:42] jemiller0 commented on #1590
After awhile one has to ask, is jumping through all these hoops, just to use LINQ really worth it? It is a constant fight trying to get the queries to work in an efficient manner. An example, is the way one-to-manys are now handled in EF Core, where it does separate queries for each of the tables rather than a big join. That works well for some things, but, other things it is terrible. For example

[2017-04-14 17:44] mikebridge commented on #1590
... another ES6 workaround that no longer works was to use [ToString()](http://stackoverflow.com/questions/16002898/entity-framework-view-sql-using-totracestring#answer-16003054) on an IQueryable.

[2017-04-14 17:58] mikebridge commented on #1590
Has anyone tried extending IQueryable like [this](https://github.com/aspnet/EntityFramework/issues/5845)?

[2017-04-14 18:03] tuespetre commented on #7520
More ideas for building a richer expression tree:

- Instead of having `SqlTranslatingExpressionVisitor` return `null` and have a `ClientEvalPredicate` property, have it return expressions that can be used with pattern matching for a more functional processing style:
    - `SqlTranslatableExpression`
    - `SqlUntranslatableExpression`
    - `SqlPartiallyTranslatableExpression` with `TranslatableE

[2017-04-14 18:04] AndriySvyryd commented on #2953
Clearing the milestone as this would be nice for owned entities

[2017-04-14 18:06] AndriySvyryd opened #8172 "Support collections of owned entities"

[2017-04-14 18:20] ajcvickers commented on #7614
@divega Can you investigate this as part of your work to determine the current state of UWP?

[2017-04-14 18:24] mikebridge commented on #1590
[This](https://weblogs.asp.net/ricardoperes/implementing-missing-features-in-entity-framework-core-part-5-getting-the-sql-for-a-query) method of generating the query via reflection fails for me, but I think it has something to do with the fact that I'm producing it with LinqKit.

[2017-04-14 18:30] ajcvickers commented on #8150
@ErikEJ Seems like there is something different on your machine. Maybe locale is different causing different ordering? Could you investigate what might be different about your machine and then we can try to make the test more robust.

[2017-04-14 18:38] ajcvickers commented on #8157
@ajcvickers will investigate bottom two
@maumar to investigate others

[2017-04-14 18:56] ajcvickers commented on #2953
@anpete just to do the convention part of this for owned entity types (i.e. those that are known to be part of an aggregate)

[2017-04-14 18:59] narendrachava commented on #3748
+1

[2017-04-14 19:16] #7205 closed

[2017-04-14 19:25] ajcvickers commented on #2874
Discussed this in triage and decided that we want to keep EnsureCreated and EnsureDeleted as a pair of methods with very simple semantics. That is, if the database doesn't exist or is completely empty, then create it for EnsureCreated, and always wipe it completely clean for EnsureDeleted.

@thisispaulsmith Look into using IRelationalDatabaseCreator.CreateTables for what you want to do.

[2017-04-14 19:29] ajcvickers commented on #8155
@cdie Having some way to better handle merging of disconnected entities is par of #5536. But anything we do there, and anything we do outside of that, would almost certainly involve resolving identity conflicts before the place we currently throw so that there would never be any attempt to track two instances of the same type. So the best thing to do now is to check before trying to track an insta

[2017-04-14 19:32] ErikEJ commented on #8150
Will do!

[2017-04-14 19:39] ajcvickers opened #8173 "Delete old data from perf machines"
Old data was so out-of-whack that it is making current data hard to read. It should be soft or otherwise deleted.

[2017-04-14 20:53] smitpatel commented on #7983
Filed issue on Re-Linq https://www.re-motion.org/jira/browse/RMLNQ-112

[2017-04-14 21:18] #8131 closed

[2017-04-14 22:01] maumar commented on #7187
Works in current bits, closing

[2017-04-14 22:01] #7187 closed

[2017-04-14 22:43] divega commented on #8146
In triage we decided we will give @bricelam the last word on this, so adding my argument here:

SQL is a language I for once only use occasionally, and so I prefer to rely very little on previous knowledge about rules and conventions in order to understand things that the code is doing implicitly.

I actually don't feel strongly about it, but I do believe it would be better to be explicit.

[2017-04-14 22:44] maumar commented on #7170
The first scenario works in the current bits. We produce the following query plan (with join being correctly executed on the client):

[code]

[2017-04-14 23:08] maumar opened #8176 "Query: projecting stringColumn.Length may cause invalid cast exception, if the stringColumn is of type (n)varchar(max) on SqlServer"
This happens because LEN returns long for varchar(max) and nvarchar(max) columns, but we are expecting int.

[2017-04-14 23:08] maumar commented on #7170
filed https://github.com/aspnet/EntityFramework/issues/8176 for the second issue

[2017-04-14 23:08] #7170 closed

[2017-04-14 23:22] smitpatel opened #8178 "Test: Re-enable SqlServer tests on Windows7/Server2008"
Revert #8177

Blocking issue https://github.com/dotnet/corefx/issues/18406

[2017-04-14 23:32] smitpatel commented on #6563
@roji - I debugged into this and found out root cause. There are 3 test failures. 2 of them fails with no exception where it is supposed to give exception. I tried with ADO.NET provider for postgre, when we call `NpgSqlDataReader.GetString` regardless of the type of the column, if it can be converted to string (like int type) the conversion will happen. SqlServer is much stricter about this kind o

[2017-04-14 23:43] maumar commented on #7973
Verified this is not a regression

[2017-04-14 23:44] smitpatel commented on #8139
Latest run in CI for EF 1.1.2 passed. Fixed via 23e45fa9a326448d6a56e1ca2245d9e0588f1417 & 3681db266ac7985d560faa497f1c37ac859a5da6

[2017-04-14 23:44] #8139 closed

[2017-04-15 00:28] maumar commented on #7080
This scenario indeed works on the current bits. We produce the following SQL (give or take, the model might not be exactly the same, as I reverse engineered it from the query):

[code]

[2017-04-15 00:28] #7080 closed

[2017-04-15 00:44] Jonatthu commented on #2266
If Entity Framework 2 is going to bring this, When is EF Core 2 going to come? To be honest TPT is a very useful feature and is very useful when we are working with roles and users, and you need to separate information that is not nullable in a table.

This should be already implemented TPT is important.
@rowanmiller

[2017-04-15 00:46] maumar commented on #6844
This works in the current bits. We produce the following sql:

[code]

[2017-04-15 00:46] #6844 closed

[2017-04-15 01:03] #7280 closed

[2017-04-15 01:30] maumar commented on #7207
Still repros in current bits. Simplified repro:

[code]

query plan:

[code]

[2017-04-15 01:47] smitpatel commented on #7207
It looks like that nav rewrite is not expanding through not expression.

[2017-04-15 02:12] maumar commented on #8176
Fixed in e98a33dfdfd776a7477ba0079804e49ba004b502

[2017-04-15 02:12] #8176 closed

[2017-04-15 08:23] JonPSmith commented on #7170
Hi @maumar,

Yes, I checked. This was fixed in 1.1.1

[2017-04-15 08:42] Trolldemorted commented on #1590
@ajcvickers @ErikEJ thanks, i will have a look!

do you also have an advice on how to make ef core's migrations cope with an fts3/4/5 table peacefully?

[2017-04-15 08:50] ErikEJ commented on #1590
Think of migrations as a "proposal" for schema changes, so you are always free to modify them, including having Raw SQL in them via the Sql() method.

[2017-04-15 09:13] MarcoLoetscher commented on #7931
I have tested again with Windows 10 Creators Update and .NET 4.7. When I try to install Microsoft.EntityFrameworkCore.SqlServer, I get the following error:

Could not install package 'System.Runtime.InteropServices.RuntimeInformation 4.3.0'. You are trying to install this package into a project that
targets '.NETFramework,Version=v4.7', but the package does not contain any assembly references or c

[2017-04-15 09:46] JohnHe404 opened #8181 "ServiceProvider.GetService<MyAppContext>() can not get an assembly that has already been loaded in AppDmain."
https://github.com/aspnet/DependencyInjection/issues/515
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

I'm Develop one WPF App.

All assembly in project->Resources->Embed resources
Then use it EF Core DependencyInjection->serviceScope.ServiceProvider.GetService<MyAppContext>()
But I get a System.IO.FileNot

[2017-04-15 10:59] irowbin opened #8182 "Unable to cast object of type 'System.Func`2 using entity framework core. v1.1.1"
[code]
![capture](https://cloud.githubusercontent.com/assets/13050078/25063090/720c0252-21fa-11e7-84eb-dc174b4e2024.PNG)

[2017-04-15 15:03] bricelam commented on #8146
Given that we decided to always make it explicit in C#, and it was explicit in EF6, I think we should do it.

Personally, I don't like it since NULL just means don't add a null constraint to the column, and telling the database not to do something it wouldn't have is silly. ☺

[2017-04-15 16:53] anpete opened #8183 "Navs: Projecting nav from GJ QSRE broken"
Similar to #7652
[code]
[code]
[code]

[2017-04-15 17:07] smitpatel opened #8185 "Run benchmarks on netcoreapp2.0"
#8178 disabled tests on windows 7 machine to unblock CI. Though it had no effect on benchmarks since, benchmarks uses totally different architecture to discover & run tests which does not allow to have an assembly level skip condition. Though unlikely we need it but we can re-examine the design.

To unblock CI, while trying to think of way to disable these tests, it was found that we are not runni

[2017-04-15 17:47] ErikEJ commented on #8146
Also, SQLCE does not like having it not specified (see the EF6 issue)

[2017-04-15 18:24] ajcvickers commented on #8181
@HeMinzhang How does this relate to EF Core?

[2017-04-15 18:31] ajcvickers commented on #8182
@irowbin Not sure why the exception is being thrown when using `GetValue<object>`, but if you want to get the value in a non-generic way use `var current = entry.CurrentValues[property.Name];` instead.

[2017-04-15 18:33] mdarefull commented on #8163
I have the latest stable updates of every nuget package, so they should be:
1.1.1 and 1.1.0 for Microsoft.EntityFrameworkCore.Tools

[2017-04-15 20:00] intexx commented on #8012
@bricelam — Thank you for the link, but my question remains. Is there any ETA for VB support in Migrations? Is VB support expected at all?

[2017-04-15 20:02] intexx commented on #8012
@ajcvickers — I see you added this to the 2.0.0 milestone. Does this mean that VB support is targeted for the v2.0.0 release? If so, is there any ETA for the milestone?

[2017-04-15 20:18] ajcvickers commented on #8012
@intexx No, it means that @divega is assigned to do follow up on it.

[2017-04-15 20:21] intexx commented on #8012
@ajcvickers — OK, thanks. Will he be replying in this thread, do you expect?

[2017-04-15 20:22] ajcvickers commented on #8012
@intexx Yes, I expect he will, but he is a busy person with many other things to do.

[2017-04-15 20:24] intexx commented on #8012
@ajcvickers — Aren't we all :-) OK, thanks. I'll wait for his reply.

[2017-04-15 22:25] anpete commented on #8183
Turned out to be a local problem.

[2017-04-16 02:24] HeMinzhang commented on #8181
@ajcvickers  EF Core- ServiceProvider.GetService-get an exception

[2017-04-16 03:03] anpete opened #8186 "Navs: nav expansion on GJ QSRE in projection doesn't introduce parameter"
[code]
produces:
[code]
[code]
produces:
[code]

[2017-04-16 03:21] irowbin commented on #8182
@ajcvickers it worked. Thanks

[2017-04-16 10:42] HeMinzhang commented on #8181
@ajcvickers Very Thx,I'm success Run the program.EF Core can give assembly has been loaded in AppDmain.I'm use WPF+EF core Developed the program only one .exe file.It was a great moment for me.

[2017-04-16 12:05] cdie opened #8187 "InvalidOperationException when calling SaveChanges when inner collections are modified and not root object"
When I try to update a root objet that contains many sub-entities, I have an InvalidOperationException.

[code]

We're working with on an EDA (Event Driven Architecture) project on a WPF app, so we have one context per view (defined in Autofac Lifetime scope), which is resolved when we need data access.

We're using Automapper to switch from Domain object to Persistence and vice-versa

I've made a

[2017-04-16 13:59] WilliamABradley opened #8188 ".NET Native Compilation causes a Database to read the wrong Property for a Property"
Trying to fetch a string from an object in a DBContext causes a crash saying that it was receiving the wrong type. Currently my multiple DataBase Contexts are stored in a Separate Universal Windows Class Library from my Main App, as the Databases are also used inside the BackgroundTasks WinRTComponent.

Using Debug is fine, however, if I try with Release on x86 or x64 (Haven't tried ARM), I receiv

[2017-04-16 22:13] marcoregueira opened #8189 "DbSet.Find() doesn't work for nullable properties"
I use nullable properties for primary keys. When I declare an entity like this:

    public class Client {
         public long? Id { get; set;} //primary key with nullable property
         ...

Everything seems to work as expected. But the Find method introduced in version 1.1, doesn't seem to work.

When calling:
`
long clientId = 1;
dbContext.Find<Client>(clientId);
`

EF Returns

**_The key v

[2017-04-17 11:38] cdie commented on #8189
A primary key cannot be null, it's impossible. Any element of a PK should be not null in SQLServer.
Check your column into VS SQL object explorer or through SSMS to see it.
Also, because it's not null into your database, EF cannot make the link between a nullable into your C# code and a standard long.

[2017-04-17 12:47] tinchou commented on #7432
@ajcvickers please re-triage and update https://github.com/aspnet/EntityFramework/wiki/Roadmap#ef-core-20 accordingly. I ported ODBC (https://github.com/dotnet/corefx/pull/15646) but very little progress was made on this.

[2017-04-17 13:14] nvivo commented on #4019
Just to add one use case here, I currently have an application that uses 3 databases databases in the same server, and a dozen servers that access the same 3 databases. Because the connection string is different for each database, each application has 3 connection pools to the same server. This causes lots of connections being open to the same server, which can cause the server to stop accepting c

[2017-04-17 14:07] ErikEJ commented on #7432
@tinchou That is very interesting news - Are you able to share your ODBC port (a branch??)

[2017-04-17 14:32] tinchou commented on #7432
@ErikEJ if you mean `System.Data.Odbc` namespace, it's been merged into [dotnet/corefx](https://github.com/dotnet/corefx). I linked to the PR in the previous comment, but here it is again: https://github.com/dotnet/corefx/pull/15646.

If you mean my work on creating an ODBC-based provider, I think I just got a couple of very basic select statements working. I was making it run on Oracle, but now I

[2017-04-17 14:45] sjb-sjb opened #8190 "Cross-context transacted SaveChanges"
It would be nice to have a convenient way to save changes in multiple contexts and have them all wrapped in a single transaction. Like this:

static public async void SaveChangesAsync(  this IList<T> contexts) where T: DbContext
{
....
}

To do this, one needs an easy way to have the contexts all share a single connection.

There is a way to do it, explained in https://docs.microsoft.com/en-us/ef/

[2017-04-17 15:25] MarcoLoetscher commented on #7931
I found a solution. In Tools -> Options... -> "NuGet Package Manager" -> I clicked "Clear All NuGet Cache(s)", and now it works.

[2017-04-17 15:26] ajcvickers commented on #8189
@cdie It's perfectly reasonable to the CLR type to be nullable, where null then means that the key value has not been set.

@marcoregueira Thanks for reporting this. We'll get it fixed for 2.0.

[2017-04-17 15:50] ajcvickers commented on #8187
@cdie TrackGraph is designed to traverse the graph of un-tracked entities so that EF can start tracking them. The call to TrackGraph in your repro project is being made on an already tracked entity, and hence TrackGraph has nothing to do.

Also, the way you use AutoMapper in your repro results in duplicate object instances being created. This is almost certainly not a good idea.

[2017-04-17 15:58] cdie commented on #8187
@ajcvickers I don't see where I have duplicate object instances ?
My AEntity represents domain entity and ADbEntity persistence entity to persist only what is necessary.
I explicitly use mapper.Map(a, persist) to fill exsting persistable object instead of creating a new one in this example.

The problem here is that an instance into my collection is currently not tracked by EF, and without having

[2017-04-17 16:05] ajcvickers commented on #8187
@cdie Duplicate object instances: look at the collection on persist after the call to `mapper.Map(a, persist);`

[2017-04-17 16:26] borisdj opened #8191 "Linq Navigation join with nullable FK loads ALL(redundant) columns from second table."
Only one column from second table is specified for join, but when query is analysed from SqlProfiler it selects all columns.

### Steps to reproduce
Main Table
[code]
Join Table
[code]
Linq:
[code]
Profiler:
[code]

Columns **Desc** and **SomeInfo** should NOT be in query.
This showcase was simplified just to emphasis the issues.
In real scenario Party table has much more columns and some tables h

[2017-04-17 16:33] cdie commented on #8187
@ajcvickers Thanks a lot, I haven't notice this!!

For anyone who might look after this kind of issue after, I've used https://github.com/AutoMapper/AutoMapper.Collection to keep my objects references (and I also update my repo for this)

[2017-04-17 16:44] rposener opened #8192 "Hidden columns are scaffolded"
When scaffolding  a database to EF Core, Hidden Columns are not excluded.  As a result, columns used for SQL Temporal Tables get scaffolded back into the application. As a result, if the DB has not had those turned on, it breaks the EF code against another database which does not have them.

### Steps to reproduce
Create a Database Project and scaffold it to a SQL Server.
Now run Scaffold-DbContex

[2017-04-17 16:58] ErikEJ commented on #8192
Note that is_hidden in sys.columns only applies to SQL Server 2016 and Azure SQL Database

[2017-04-17 18:05] ajcvickers commented on #7432
We are not planning to do this on the EF team, but once System.Data.Odbc is available in .NET Core, then somebody else could make use of it to do something like this.

[2017-04-17 18:06] ajcvickers commented on #8114
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-17 18:06] ajcvickers commented on #8121
Waiting to get input from @bricelam on this one.

[2017-04-17 18:16] ajcvickers commented on #8191
@maumar to find the dupe.

[2017-04-17 18:45] ajcvickers commented on #8188
@WilliamABradley Thanks for reporting this. Can you give us access to the full solution. I am "avickers" at this place I work.

[2017-04-17 18:49] ajcvickers commented on #8190
@sjb-sjb To have multiple contexts that share a single connection, the connection can be passed to UseSqlServer, or the equivalent method for the other providers. The transaction APIs can then be used to create a new the same transaction across all contexts. This requires some orchestration across the app which wouldn't be much different in the method signature you suggest, so at this time we don'

[2017-04-17 19:04] ErikEJ commented on #7432
@tinchou Based on the comment from @ajcvickers - are you able to share ? I would consider moving forward with coordinating an ODBC provider...

[2017-04-17 19:31] tinchou commented on #7432
Here you go!

[Tinchou.EntityFrameworkCore.Oracle.zip](https://github.com/aspnet/EntityFramework/files/926457/Tinchou.EntityFrameworkCore.Oracle.zip)

Comments:
1. This is targeting the Full Framework since the API surface stayed the same and it is easier than dogfooding corefx. But if you want to do that, you'd need to follow [these instructions](https://github.com/dotnet/corefx/blob/master/Docum

[2017-04-17 20:14] ajcvickers commented on #5421
@smitpatel Can we just close this one?

[2017-04-17 20:15] smitpatel commented on #5421
@anpete - Thoughts?

[2017-04-17 20:20] maumar commented on #8191
dupe of https://github.com/aspnet/EntityFramework/issues/6647

[2017-04-17 20:23] ajcvickers commented on #5947
Only thing we decided to do here is add a flag to disable name-changing logic, which is covered by #6018, so closing this as a duplicate,

[2017-04-17 20:26] ajcvickers commented on #6004
Closing this since it doesn't seem to be a real-world problem. Can consider in the future if it turns out to be causing problems.

[2017-04-17 20:30] ajcvickers commented on #6085
We aren't planning on doing this, but we would consider it again later if there is interest, and especially if there is a good PR for it, making sure to follow the feedback on the closed PR referenced above.

[2017-04-17 20:35] ajcvickers commented on #6463
@rowanmiller Sorry to bother you, but if you remember could you explain what was ugly about the workaround to use HASH indexes? Wasn't it just adding some code to the migration?

[2017-04-17 20:37] ajcvickers commented on #6671
Closing this for now, but we will consider re-opening if there is a lot of interest in this.

[2017-04-17 20:42] ajcvickers commented on #6713
@anpete Can you take a quick look at this and make a decision as to whether we will ever change anything here, or whether it is okay the way it is. If the former, we should try to do it for 2.0 because of the breaking nature. If the latter, we'll just close.

[2017-04-17 20:50] ajcvickers commented on #6988
Closing for now. Doesn't mean that we wouldn't like to have better factoring, but we're not going to track actively doing the work.

[2017-04-17 20:50] borisdj commented on #8191
So it is already fixed, great.
Thx for quick response.

[2017-04-17 20:54] ajcvickers commented on #7037
If we decide to do this, let's check it will make an actual perf difference.

[2017-04-17 20:58] ChuckkNorris commented on #8121
@ajcvickers Thanks for the heads up, sir

[2017-04-17 20:58] ajcvickers commented on #7098
Closing for now. We will consider it in the future if there is a lot of interest or significant scenarios that would be much better with it.

[2017-04-17 21:00] ajcvickers commented on #7468
@anpete Putting this on the backlog, but if you think what we have is fine, then feel free to close this.

[2017-04-17 21:03] ajcvickers commented on #7489
@anpete How much extra coverage/benefit do we get by re-adding the shadow properties? (Given that no assertions broke when removing them.) Should we add assertions that were not there?

[2017-04-17 21:04] ajcvickers commented on #7582
Note to self: follow up with .NET Native.

[2017-04-17 21:06] ajcvickers commented on #7926
@bricelam Can you provide a bit more context on what needs doing here? (Can talk in person when you are in if that's easier.)

[2017-04-17 21:07] ajcvickers commented on #7936
Should do this for 2.0, since it is a breaking change.

[2017-04-17 21:08] ajcvickers commented on #7943
Removing "punt" so we can re-triage as normal.

[2017-04-17 21:12] ajcvickers commented on #6018
A lot of people have been asking for this, so we should try to do it for 2.0.

[2017-04-17 21:14] ajcvickers commented on #8192
We think that hidden columns should not be scaffolded. We're not going to do it for 2.0, but we would consider a well coded PR to do it.

[2017-04-17 21:44] maumar commented on #8191
@borisdj on our current bits the following SQL is generated for this scenario:

[code]

[2017-04-17 22:01] maumar commented on #7417
This works in current bits. We produce the following sql:

[code]

[2017-04-17 22:01] #7417 closed

[2017-04-17 22:08] divega opened #8197 "Diagnostics: Report number of rows returned by server on reader dispose"
This is information can in turn be used by a profiler, e.g. to display a warning if the number of rows goes over certain threshold.

This is related but not the same as https://github.com/aspnet/EntityFramework/issues/5089, which is about warning on the log.

[2017-04-17 22:14] smitpatel commented on #7225
Dupe of https://github.com/aspnet/EntityFramework/issues/8060

[2017-04-17 22:36] WilliamABradley commented on #8188
@ajcvickers Is there an email so I can add you to my VSO Readers group, or is there a better way to do this?

[2017-04-17 22:38] lajones commented on #7315
Change is already checked in to rel/1.1.2 (see above) - no further work.

[2017-04-17 22:38] #7315 closed

[2017-04-17 23:38] WilliamABradley commented on #8188
@ajcvickers  I sent you the Solution via OneDrive Email, Shared to your email.

[2017-04-18 05:16] sjb-sjb opened #8200 "Need a way to detect cascade restrict exceptions"
@rowanmiller, consistent with your comment in #4628, I have set cascade restrict whenever the foreignKey.IsRequired because in my application I normally do not want to delete any parent records that are required by dependent records.

What I would like to do is catch the cascade restrict exceptions and inform the end user that the (parent) record cannot be deleted because it is in use. Is there an

[2017-04-18 05:43] John0King opened #8201 ".Include() .Count() not using inner join for count"
I'm using  Sqlserver 2008( old database, **without foreight key relation** )， and recently I try to using EntityFramework Core to access the database .

[code]

`.Count()` and `.Select()' or 'Take()`  produce  very different sql when using `Include(x=>x.property)` .
`.Select()' or 'Take()`   will use `Inner Join` for navigation property, but `.Count()` will just igone them.
And that mean when I pa

[2017-04-18 05:44] grahamehorner opened #8202 "Please consider GraphEngine.IO"
I would love to be able to use EF CORE with GraphEngine.IO as the backend store for large graphs

[2017-04-18 06:01] grahamehorner commented on #7432
@ajcvickers is this a u-turn from what was said on live.asp.net community standup, my understanding was odbc providers would be supported by the ef core team but not in 2.0 timeframe?

[2017-04-18 06:31] borisdj commented on #8191
That SQL looks much better.

[2017-04-18 06:37] frasdav commented on #8026
@ajcvickers We've run in to this problem too - I'm happy to try to build a console app to replicate if you can re-open the issue?

[2017-04-18 06:47] mojtabakaviani commented on #7136
I testing with latest dev build and not solved.

[code]

[2017-04-18 06:54] FObermaier commented on #1100
Thanks @robertmclaws for drawing my attention to this topic.
We'd be more than pleased to adjust/refactor GeoAPI that it'd be suitable as the spatial type for EF7.

[2017-04-18 07:07] maumar commented on #7136
@mojtabakaviani what is the data type of the "Score" column?

[2017-04-18 07:12] ErikEJ commented on #7432
@tinchou Great, will you be OK with me hosting a "EntityFrameworkCore.ODBC" package? Can you recommend a SQLite ODBC provider? Sounds like SQL Server might be a better (easier) option?

[2017-04-18 07:20] maumar commented on #8201
Regardless of the database version, EF Core treats ```AId``` as a foreign key. The fact that its ```int``` and not ```int?``` makes it a required relationship and causes the INNER JOINs to be generated. If you want LEFT JOINs then you should use ```int?```

[2017-04-18 07:39] mojtabakaviani opened #8203 "sum of collection specified cast is not valid"
following #7136 issue I testing with last dev build but raise exception yet.

linq:
[code]
t-sql:
[code]

exception:
[code]

[2017-04-18 07:45] maumar commented on #8203
@mojtabakaviani I reactivated the original issue. Closing this as a duplicate. Thanks for following up!

[2017-04-18 07:57] mojtabakaviani opened #8204 "Query: Anonymous type projections should use member names as column aliases wherever possible"
For example anonymous type with new property names:
[code]
generated t-sql:
[code]
improvement t-sql:
[code]

[2017-04-18 07:58] mojtabakaviani commented on #7136
sql: real
dotnet: float

[2017-04-18 08:24] JonPSmith commented on #8137
@ajcvickers

I found a difference between the two. The SQL tables creation is identical, but...
1. Case 1 (partially defined) - catches duplicate tickets and throws exception
A Index is created for the `AttendeeId` foreign key in the `Ticket` entity. This is the Sqlite code:
[code]
2. Case 2 (fully defined) - does not throw an exception on duplicate ticket, but detaches one of the attendees with a

[2017-04-18 09:51] uthens commented on #8099
It's related on this : http://stackoverflow.com/questions/43468765/ef-core-connection-string-on-private-local-database

[2017-04-18 12:16] Mats391 opened #8205 "SQLite: decimal literals formatted incorrectly"
When I insert a decimal value into a Sqlite database using EntityFramework Core, it will save it in a `Text` column.  This is fine and prevents loss of data, but sometimes makes you unable to find a value you added before

### Steps to reproduce

- Create Sqlite DbContext
- Insert Entity with a decimal value without decimal places
- SaveChanges
- Try to find by inserted value

[code]

It adds the

[2017-04-18 12:43] CKnop commented on #7397
Hi @ahoischen,

I have that problem too.
I see you have a working temporary solution by refreshing the Listbox manually.
But I still can't get it to work in my MVVM based solution.
It would be very helpfull if you could update your example solution with the changes you made to get it to work, please?

[2017-04-18 14:02] ahoischen commented on #7397
@CKnop I can't test the workaround I have right now, but the hack I used was to subscribe to `Local.PropertyChanged` and `Local.CollectionChanged` and create a new Collection as the `ItemsSource` everytime that happened. I *think* it worked, but I'm not sure as I kinda forgot about the project.

[2017-04-18 14:19] MichaelKetting commented on #7983
@smitpatel Just for bookkeeping: Thanks for the repro, it was a great tool for reminding me this can (and is meant to) be solved in EntityFramework using exisitng re-linq parsing infrastructure (IEvaluatableExpressionFilter). Please check the RMLNQ-112 issue for details.

[2017-04-18 14:36] gsGabriel opened #8206 "Composite Foreign Key"
Houston, we have a problem hahahahaha

I have an issue with mapping a composite foreign key, i have two keys for the one constraint foreign key in my database.

I have one table with actions and i used this table to get a actions of anything, for the example: actions of applications or actions of the users. In this table i have a collumn type and IdEntity. In my case I can have a situation where I

[2017-04-18 15:06] Remleo opened #8207 "WHERE ... IN ... for .Contains(.Convert()) expressions issue"
Code to reproduce:
[code]

[code]

The Code 1 throws warning:
`Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationContextFactory:Warning: The LINQ expression 'Contains(Convert([card].GroupId))' could not be translated and will be evaluated locally.`

But the Code 2 generates correct SQL (ignores .Convert()):
[code]

The problem is in convertation from `int?` to `int`. The PK is

[2017-04-18 15:37] John0King commented on #8201
@maumar   I do want to use INNER JOIN but It not work with `.Count()` Method.
[code]

[2017-04-18 15:40] tomerpeled opened #8208 "Async/wait deadlock when using “one-to-many” relationship and WebApi"
I'm encountering a deadlock when use asynchronous implementation of an EF Core provider.

Say I have the following models:

[code]
Now I want to run the following query:

[code]
When I run this code via Console Application/XUnit test it works as excepted... But when I run it via ASP.Net WebApi it get into deadlock and never ends...

I used **ConfigureAwait(false)** all the way down in order to pre

[2017-04-18 16:45] ajcvickers commented on #8206
@gsGabriel Are you configuring the composite FK as described here: https://docs.microsoft.com/en-us/ef/core/modeling/relationships? If so, can you post a complete listing or project that reproduces what you are seeing?

[2017-04-18 16:47] tinchou commented on #7432
@ErikEJ how about `EntityFrameworkCore.Odbc`? Anyway, keep in mind that you will have to use a specific SQL syntax. This means that a generic ODBC provider might not work with any specific database unless you override the methods that generate the SQL code.

The project I shared uses the `Relational` provider as a starting point, and so it will use whatever SQL it generates. It more closely resemb

[2017-04-18 16:56] ajcvickers commented on #8200
@sjb-sjb I think you need to consider what is happening where. In general, EF can never tell you if there is going to be a constraint violation when saving changes. This is because EF never knows exactly what is in the database. That being said, if you use a transaction and have EF load all dependent entities, recursively, then you would be able to make an assessment as to whether or not a depende

[2017-04-18 16:57] ErikEJ commented on #7432
If that is the case, I do not really see the point...

[2017-04-18 17:00] ajcvickers commented on #8188
Note for triage: I have the repro files, so we can assign this now.

[2017-04-18 17:02] ajcvickers commented on #8026
@frasdav Yes, a repro would be great!

[2017-04-18 17:12] tinchou commented on #7432
The main use case for ODBC is databases that don't have a managed implementation. It abstracts away all the connection management and communication specifics, and you only focus on building a `string` of SQL code.

If I was going to write an EF provider for example for Oracle, I would:

1. Get a well supported database such as Sqlite working on top of ODBC
1. Switch the connection string to point

[2017-04-18 17:15] ajcvickers commented on #7432
@ErikEJ This whole thing is a little confusing. 😸 The idea, as I understand it, that there is currently a barrier to entry on writing an EF Core provider for .NET Core which is that you have to have an ADO.NET provider for .NET Core to use at the lower level. If you've got a native one, then you're good to go. But this is not always the case, especially given that .NET Core is pretty new. But if t

[2017-04-18 17:17] ErikEJ commented on #7432
Thanks for clearing that up guys - I completely misunderstood the whole undertaking... 😕  - I will let it be...

[2017-04-18 17:32] gsGabriel commented on #8206
@ajcvickers Can you tell if code-First generates the relationship with foireing-key composite? My problem is precisely in this step...

My database have this constraints (i'm using postgreesql)

[code]

[2017-04-18 17:34] bricelam commented on #8121
@ChuckkNorris You are using **Mpi.Auth.Server** as your start-up project when running `Scaffold-DbContext`. Is this intentional? If not, you probably intended to use `-StartupProject Mpi.Api.Aptify`.

[2017-04-18 17:35] ajcvickers commented on #8206
@gsGabriel Please post the code you have in OnModelCreating.

[2017-04-18 17:37] bricelam commented on #7926
We need debug this by creating a NuGet package with an `install.ps1` that calls `Scaffold-DbContext`. Assuming it repros, we need to determine what is deadlocking and file an appropriate issue on either NuGet or the VS project system.

[2017-04-18 17:44] maumar commented on #8060
fixed in 11dd5f60028a70329946dfe07409bbb4094c95a3

[2017-04-18 17:44] #8060 closed

[2017-04-18 17:47] gsGabriel commented on #8206
Ok @ajcvickers , but the code-first don't generate the relationship

`protected override void OnModelCreating(ModelBuilder modelBuilder)
{
    modelBuilder.Entity<TbAction>(entity =>
    {
        entity.HasKey(e => e.Id)
            .HasName("PK_tbActions");

        entity.ToTable("tbActions");

        entity.Property(e => e.IdType)
            .HasColumnName("IdType")

        entity.Property(

[2017-04-18 17:52] gsGabriel commented on #8206
@ajcvickers

I used the example that is in the link that you sent me, the code worked ... but the doubt stays in the code-first, should it generate the mapping or not?

[2017-04-18 17:55] ajcvickers commented on #8206
@gsGabriel Are you saying that you used the EF Core command line tools to scaffold a context and entity types from an existing database and that it didn't include the relationship? Or are you asking if conventions in EF Core should detect this relationship and use it without any configuration? If the former, then that's likely a bug in reverse engineering. If the latter, then no, EF won't detect c

[2017-04-18 18:07] gsGabriel commented on #8206
@ajcvickers
I do not know I understood, but tell you what I did, I created the database and I'm trying to reverse engineer from that database. After running the command that I will put below the relationship was not implemented in OnModelCreating. The composite foreing key are not mapped.

`Scaffold-DbContext "Host=******;Port=*****;Database=db_tests;Username=postgres;Password=postgres;Persist Sec

[2017-04-18 18:14] lajones commented on #8206
@gsGabriel Try adding the `-Verbose` flag to the `Scaffold-DbContext` line. That should give you more detail on what's happening.

[2017-04-18 18:26] bricelam commented on #8205
Looks like we need to add the following.

[code]

BUT this is only the tip of the iceberg. Any arithmetic operation will coerce the values into `double`s before performing the operation resulting in lossy results. In general, using `decimal` values (and any non-SQLite-primitive type like DateTime, DateTimeOffset, and TimeSpan) in an expression that gets evaluated on the server should be carefully

[2017-04-18 18:28] bricelam commented on #8205
Oh wait, the above code probably isn't sufficient. They need to be `TEXT` literals.

[2017-04-18 18:30] bricelam commented on #8205
We should review all literals too--we had anther issue with `Guid` in 1.0.0.

[2017-04-18 18:33] gsGabriel commented on #8206
@lajones It just says it was compiled and it also looks up references to namespaces and assembly

[2017-04-18 18:37] smitpatel commented on #8201
@John0King - What you are seeing is optimized query specifically ignored include. When you do `Select` or `Skip` or `Take` then you are projecting out the `B` in final results. Due to eagerly loading via include, The navigation property `B.A` needs to be populated. When you do `Count` you are not projecting out `B` therefore there are no navigation property to load hence Inner Join is not required

[2017-04-18 19:08] smitpatel commented on #8185
Fixed via #8194

@divega - You may want to file an issue to consume the data at appropriate place.

[2017-04-18 19:08] #8185 closed

[2017-04-18 19:25] smitpatel commented on #8204
We don't alias column names unless we need to. Only in a subquery all columns need to have unique names. At top level aliasing is not needed at all. What is improvement here?

[2017-04-18 19:39] smitpatel commented on #6353
This is probably fixed by #7950

[2017-04-18 19:46] andrelmp commented on #7674
had the same issue, it took almost a day trying to figure out why SetPropertyAccessMode doesn't work.
Thanks @ajcvickers saved my day

[2017-04-18 19:51] maumar commented on #7573
Test enabled ineabc74efb9f4565bc489f638b3c64755c9b84200

[2017-04-18 19:51] #7573 closed

[2017-04-18 20:34] bricelam commented on #8142
Tracking in the corresponding EntityFramework milestones for simplicity. The patch build system has been updated to do the right thing.

[2017-04-18 20:44] lajones commented on #8206
@gsGabriel Ah, yes. Sorry - I forgot - we had a bug at that time which meant that most of the useful info from `-Verbose` wasn't coming out. :-(

Composite foreign keys are mapped in SQL Server - we have check-in tests that check that. However looking at your `OnModelCreating()` it looks like it is finding a PK on each table - but that in each case it is just `Id', not `(IdType, Id)`. This is just

[2017-04-18 21:03] szavoda commented on #7380
Just confirming that this is an issue.  For anyone that stumbles on this and is trying to find the correct references to use the workaround mentioned above, make sure you have installed the Microsoft.EntityFrameworkCore.SqlServer (1.1.1) package.

[2017-04-18 21:42] sjb-sjb commented on #8200
@ajcvickers: Philosophically I agree with the point that it is business logic rather than database triggers that should drive your ui. However this does not solve the problem because the business logic is well represented by the object design.  A required relationship and cascade  restrict represents the business logic that the parent entity cannot be deleted if the child entity is present.

Let m

[2017-04-18 21:48] maumar commented on #8068
tests enabled in dd1583074a522c875a82d082d455d4ed2beeb18a

[2017-04-18 21:48] #8068 closed

[2017-04-18 21:49] maumar commented on #6383
fixed in dd1583074a522c875a82d082d455d4ed2beeb18a

[2017-04-18 21:49] #6383 closed

[2017-04-18 21:58] #7899 closed

[2017-04-18 21:58] #7711 closed

[2017-04-18 22:00] ajcvickers commented on #8142
@Eilon @bricelam Looking at #7889 an seeing that a "tone of people" are hitting this, and given that we already have the fix coded and just need to port it, I think we should get approval for this in 1.1.2.

[2017-04-18 22:03] ajcvickers commented on #8063
@anpete How strongly do you feel we need to patch this? I expect most people can use DbSet properties, and for those that can't there is a workaround, even though it's not very pretty. /cc @Eilon

[2017-04-18 22:08] Cnordbo commented on #7908
Downgrading from 1.1.0 to 1.0.0 worked for me.

[2017-04-18 22:22] anpete commented on #8063
@ajcvickers Risk is low, I think we should patch it. I see Set<T> being used pretty often in user repositories etc.

[2017-04-18 22:38] smitpatel commented on #8147
We do entity equality rewrite which would convert `entityType != null` to `EF.Property(entityType, PK) != null)`. Here PK can be shadow/non-shadow either. When we bind this through via query buffer we guard against entityType being null. If we stop using QueryBuffer then we have to make this a member access which is not null safe and we have no easy way to make it null safe.

Removing from milesto

[2017-04-18 23:22] gsGabriel commented on #8206
Hmm ... I think I understood ... Thank you @lajones ... I'm going to take the time to contextualize the reason I'm using the composite  foreing key ... I would not need to map tbAction with tbUsers or tbSystems, my DBA allowed it not There was this relationship, but when there is no relationship the entity can not solve and put the correct Id. I'm gonna explain. My application has the Repository P

[2017-04-18 23:29] sjb-sjb commented on #8200
Update: I looked at the SQLite docs and I see that the extended error code for a foreign key failure is 787. All I have to do is find out how to get this code from the EF exception and voila! Problem solved.

[2017-04-18 23:35] AndriySvyryd opened #8216 "Query: navigation rewrite fails for queries with navigation inside a subquery inside join inner key selector"
Paste into `ComplexNavigationsQueryTestBase`:
[code]

Query model:
[code]

Exception:
[code]

[2017-04-18 23:52] lincolnzocateli commented on #7031
Yes, you can close this issue

[2017-04-19 00:26] lajones commented on #7918
Note: we decided not to trim. In fact we are now not interpreting the value we get from the metadata at all - we just put it into the `HasComputedColumnSql()` method (this also applies to the `HasDefaultValueSql()` method) exactly as it comes from the DB.

[2017-04-19 00:38] anpete opened #8218 "Move FixupTests"
I noticed that these tests look like FTs (have test databases do I/O etc.) If so, we should move them to functionals.

[2017-04-19 00:40] anpete commented on #8218
Looks like they use in-memory - maybe this is OK :trollface:

[2017-04-19 00:46] anpete commented on #8204
@smitpatel It can make the generated SQL easier to understand (map back to the original LINQ query). We already do this for QSREs when we can.

[2017-04-19 00:47] anpete commented on #8208
@tomerpeled Have you tried removing the ToList call in the projection?

[2017-04-19 01:55] John0King commented on #8201
@smitpatel  That make sense for a strong relation database .
And my personal opinion is :   `optimized query ` should detect is the `.Include()` perform a INNER JOIN , if not then it's safe to ignore them ,  if true  then do not  ignore ,  even when use `.Select` but not take a value in navigation property.

[2017-04-19 02:09] smitpatel commented on #8204
Note to implementer:
While storing member info to projected expression information inside selectexpression during projection visitor, convert the projected expression to alias expression with alias being name of the member info.

[2017-04-19 02:10] trinvh commented on #6984
Hi, i don't know should I open a new issue so I'll post there.

I have DB context as following:

[code]

**Sometimes**, when I try to add new or update an existing Table object it throws "The property 'LastUpdate' on entity type 'Table' is defined to be read-only after it has been saved, but its value has been modified or marked as modified."

Why? I didn't update LastUpdate field anywhere.

Any h

[2017-04-19 02:47] ajcvickers commented on #8206
@lajones Do we have tests for composite FKs that reference a non-primary principal key?

[2017-04-19 02:51] ajcvickers commented on #8063
@Eilon Based on @anpete's comment, can we send this (and #8142) to get approval for 1.1.2?

[2017-04-19 02:53] ajcvickers commented on #7889
@Eilon Looks like this also got the "patch-proposed" label last week, but for 1.0.4. @bricelam is this something we really need to put in 1.0.x patches? Let's discuss tomorrow.

[2017-04-19 02:54] ajcvickers commented on #7710
@Eilon And this one is "patch proposed" as of  this afternoon. Guess we have some conversions to have. 😺

[2017-04-19 03:31] tomerpeled commented on #8208
Yes, but without it the Games won't load at all...

[2017-04-19 04:11] tomerpeled commented on #8208
I'll update my answer above, it won't load at the ToListAsync time,  but it will get load and get into deadlock when ending the controller action...

[2017-04-19 05:34] ChuckkNorris commented on #8121
Thanks @bricelam - that resolved it. I assumed running the command in the `Mpi.Api.Aptify` project directory would tell it to use that project.

[2017-04-19 06:28] John0King commented on #8201
:(   Current  I manually do a join like you mentioned 。
I had to say `Include` is the most easy way  to do  a Join  (and most stable api for doing a join in database today)

`nullable` tell EF to use LEFT OUTER JOIN  and     `ValueType` or  `required` tell  EF to use INNER JOIN .
That's the reason I use `int` instead of `int?` .

I don't know how EF process those thing. And I think it will be bett

[2017-04-19 07:04] CKnop commented on #7397
@ahoischen Thanks. I can see that Local.CollectionChanged has the correct OldItems value, but the OldStartingIndex is always -1.
Unfortunately OldStartingIndex is readonly (as it should be), so I can't change it to the correct value (as a workaround).
I've successfully changed (in the debugger) the internal value of e._oldStartingIndex = -1 to the correct index of the item that should be removed.

[2017-04-19 10:15] ghost opened #8222 "Subquery WHERE clause translation issue with joined table"
My (simplified) query is

[code]
and i get this error:

while I got no error using `tbl1.Field` instead of `tbl2.field` in the where clause.

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-04-19 11:23] tomerpeled commented on #8208
I'm adding the StackTrace: (See the call to ToEnumerable)

Not Flagged		21672	5	Worker Thread	grpc 0 (cq 0)	System.Interactive.Async.dll!System.Linq.AsyncEnumerable.**ToEnumerable_**<NG.Admin.BL.DAL.Entities.Game>	Normal
 	 	 	 	 	 	mscorlib.dll!System.Threading.Monitor.Wait(object obj, int millisecondsTimeout, bool exitContext)
 	 	 	 	 	 	mscorlib.dll!System.Threading.Monitor.Wait(object obj, in

[2017-04-19 11:26] hikalkan commented on #4711
I found a solution for that and shared as a blog post: http://volosoft.com/datetime-specifykind-in-entity-framework-core-while-querying/

[2017-04-19 12:13] artsiomLikhachou opened #8223 "SelectExpression Cache: Memory leak when using method as Func in select statement"
Using _method_ as Func<TSource, TResult> in the following select statement:
[code]
lead to memory growing and possible memory leak problem. The root issue is selecting and mapping result set to another result set using method as func before calling ToList/ToListAsync https://github.com/artsiomLikhachou/bugs/blob/master/TestEfMemoryAsp/TestEfMemory/src/TestEfMemory/ProductService.cs#L24-L25 . Makin

[2017-04-19 13:10] spottedmahn opened #8224 "How to Create a Migration for a Table Name Spelling Mistake?"
I misspelled a table, let's call it ProductCat**ge**ories.  I've fixed the spelling mistake but I'm not sure how to create the migration.

1. I would like all data in ProductCatgeories to be inserted into ProductCategories
2. Or call my seeder class on migration up to load the values again.

### FK Failure
Currently my migration fails b/c my Products table has a FK on the ProductCategories table a

[2017-04-19 13:23] tomerpeled commented on #8208
So after a very long debugging I found the problem and did some work around to solve it. I'll try to explain:

I'm building **EF Core provider** to the **Google Spanner db**. For this I'm using [Google Spanner DotNet AP](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/tree/master/apis/Google.Cloud.Spanner.V1)I - although it is not yet public and very unmature API (actually it is just au

[2017-04-19 13:43] bricelam commented on #7889
Technically, it's in the 1.0.1 release of dotnet-ef (there is no 1.1.0).

[2017-04-19 14:19] octocat-mona opened #8225 "Generate models using T4 from Database project directly"
Using an `.edmx` it is currently possible to generate models by clicking `Update Model from Database`.
It would be nice if it could link to a database project directly instead, is that possible?

### Further technical details
IDE: Visual Studio 2017

[2017-04-19 14:34] cdie opened #8226 "TrackGraph stop tracking if current State is not set, but setting state throw InvalidOperationException"
In our situation, we have to work with TrackGraph method because we have mapping between Domain and Persistence layer.

The fact is, in case of update, we look in local tracking entries to retrieve value and update it if necessary

[code]
In case of update, we enter the function with a Detached entity, retrieve the corresponding local instance and then updating it. However, because we're not setti

[2017-04-19 15:26] Trolldemorted commented on #1590
With "peacefully" i meant it will not introduce problems in future migrations - how does ef core determine the difference between the last migration and the status quo when it generates a new migration, and may that cause problems?

If we could get some official sound on when this comes out of the backlog (even if it takes several months to be implemented) i'd rather not meddle with it myself, but

[2017-04-19 15:55] anpete commented on #8208
@tomerpeled That was my suspicion regarding the ToList call. The problem is that ToList is a non-async call, and our query compiler is not yet sophisticated enough to transform such embedded sync sub-query expressions into a larger composed async expression. That said, I have made some progress on this in dev, at least for the Select operator case you are hitting. I am going to try and make this w

[2017-04-19 16:17] ajcvickers commented on #7710
@bricelam Just from reading this it isn't clear why this should go into the patch. Can you explain some more?

[2017-04-19 16:29] bricelam commented on #7710
This was an ask from the Scaffolding team. Issue aspnet/Tooling#898 describes the end-to-end scenario.

[2017-04-19 16:54] tinchou commented on #7413
I think this can be achieved pretty nicely with inheritance + discriminators. You can have:

[code]

[code]

The downside compared to a filter would be the boilerplate code needed, but it's also a very flexible model.

[2017-04-19 16:58] lajones commented on #8206
@ajcvickers For SQL Server, yes. See e.g. [this expected result](https://github.com/aspnet/EntityFramework/blob/dev/test/EFCore.SqlServer.Design.FunctionalTests/ReverseEngineering/Expected/AllFluentApi/SqlServerReverseEngineerTestE2EContext.expected#L384). But not sure what the PostgreSQL provider does.

[2017-04-19 17:21] #7234 closed

[2017-04-19 17:26] anpete opened #8227 "Query: Navs: MaterializeCollectionNavigation needs async version"
CollectionNavigationSubqueryInjector always injects a sync call to MaterializeCollectionNavigation even when the query is async.

[2017-04-19 17:50] ajcvickers commented on #8206
@roji Looks like this could be an issue with PostgreSQL reverse engineering, although we haven't tested it yet. Any thoughts?

[2017-04-19 18:08] ajcvickers commented on #6713
Make RelationalQueryContextFactory public.

[2017-04-19 18:11] ajcvickers commented on #6803
@smitpatel to re-open Rosyln bug and find out if it is fixed in 2.0 and if so, why we aren't seeing this work.

[2017-04-19 18:14] ajcvickers commented on #7943
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-19 18:45] ajcvickers commented on #8207
Putting in 1.1.2 since it might be a regression, but we should check against 1.1.0 RTM.

[2017-04-19 18:49] ajcvickers commented on #8208
Try to do at least Select for 2.0.

[2017-04-19 18:57] Eilon commented on #7944
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:57] Eilon commented on #7899
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:57] Eilon commented on #7714
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:57] tomerpeled commented on #8208
OK, thanks.

[2017-04-19 18:58] Eilon commented on #7711
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:58] Eilon commented on #7698
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:58] ErikEJ commented on #8225
Is this a EF6 question? In that case, you can do something like that with my SQL Toolbox extension

[2017-04-19 19:03] #6563 closed

[2017-04-19 19:27] gsGabriel opened #8228 "Child relationships lose reference after SelectMany in query"
Hello,

I need a help of us again :D...

I am making an query where it has three levels ... One Users has many Groups that have many SubGroups. My code is follow:

[code]
With the above code I can not get the SubGroups reference in the Groups entity, however if I use the code below I can access the SubGroups entity:

[code]

I need to use SelectMany because I will filter the SubGroups data of the

[2017-04-19 19:34] smitpatel commented on #8228
https://docs.microsoft.com/en-us/ef/core/querying/related-data#ignored-includes

[2017-04-19 19:52] smitpatel commented on #8222
This reproduces in 1.1.1 but is fixed in latest dev.
The query is projecting out sequence so it is evaluated on client using N+1. Earlier that evaluation failed to translate the where clause and showed warning. Now, it is translated using outer parameter from first query and does not show any client evaluation warning in either case.

[2017-04-19 19:53] smitpatel commented on #8222
The client evaluation warning was correct in the sense that it could not bind and where was evaluated on client.

[2017-04-19 20:17] tomerpeled commented on #8208
By the way is there some workaround that you can think of, in order to run this code async?

One solution that I can think of is to seperate the query to two queries, one for the player and another for the games...

[2017-04-19 20:23] anpete commented on #8208
Try this:
[code]

[2017-04-19 20:37] maumar opened #8229 "Query: we shouldn't rewrite collection navigations if they are also being included"
query:

[code]

This currently produces N+1 queries because the collection is being projected in the final result, however we should leverage the include pipeline for this case, as it can produce better queries (i.e. no N+1)

This should already be happening for references.

Another thing we could/should do is to use Include pipeline for collection navs projections even when the Include is not spe

[2017-04-19 20:42] kpstolk commented on #8225
Yes indeed, I did look at EF Core but couldn't find if it is any different from EF6.

Is this the [SQL Toolbox extension](https://marketplace.visualstudio.com/items?itemName=ErikEJ.SQLServerCompactSQLiteToolbox) you mentioned?
And is it different when using EF Core?

Thanks!

[2017-04-19 20:43] ajcvickers commented on #8225
@kpstolk This repository is for Entity Framework Core issues. For EF6 issues, please use https://github.com/aspnet/EntityFramework6

That being said, we have investigated integration with database projects in the past but currently have no plans to implement this.

[2017-04-19 20:44] gsGabriel commented on #8228
Hmmm I understand, so I have to use Include after modifying the query? Would it be this? Like this...

[code]
Thanks @smitpatel

[2017-04-19 20:47] kpstolk commented on #8225
@ajcvickers Sorry for posting in the wrong project, guess will look at the Toolbox extension for now, but this feature would be useful I think to have!

[2017-04-19 20:51] ajcvickers commented on #8226
@cdie We will consider this. As a workaround, you could use IEntityEntryGraphIterator directly. However, this is internal code, so be aware that we may make breaking changes to the API in any release.

[2017-04-19 20:53] FrancoisM opened #8230 "What can EntityFramework be waiting for so long?"
In that SO post, I'm trying to find out why my query response time can vary so much. It shows that the time is spent waiting. But waiting what and why?

http://stackoverflow.com/q/43503179/1826096

[2017-04-19 20:57] ajcvickers commented on #7926
@aday12345 `install.ps1` is not something we have seen used very much and is not supported in the modern variants of NuGet. We strongly recommend that you find a different approach. If you still have problems when not using `install.ps1`, then please open a new issue for that. You could try filing a bug on NuGet about things not working when run in `install.ps1` but I am confident that they will a

[2017-04-19 21:04] ajcvickers commented on #8201
@John0King EF relies on a well-formed and consistent mapping from EF model to database model when using a relational database, as was explained by @smitpatel Any non-relational provider will have different requirements based on the semantics of that back-end.

[2017-04-19 21:15] jemiller0 commented on #7363
I appear to be having even bigger problems now. Now, if I even run a query where I do a projection, it is consuming large amounts of memory. The following code worked fine in the past. I just tested a console app with nothing else in it but this and it consumed about 900 MB. Tried it with EF 6 and it's only using 300 MB. The app is compiled for 64-bit. It uses less when configured for 32-bit.

var

[2017-04-19 21:19] #5663 closed

[2017-04-19 21:20] jemiller0 commented on #7363
Not sure if this is any help, but, it looks like a BufferAll() method is being called.

![image](https://cloud.githubusercontent.com/assets/15931877/25202727/fe1c6d44-251b-11e7-80ce-c13cf42e1528.png)

[2017-04-19 21:30] ajcvickers commented on #7363
@jemiller0 As @smitpatel said above, for us to make any progress on this we will need a complete & stand-alone code listing to reproduce the issue. We have spent a lot of time trying to get the results you are seeing and we simply cannot reproduce it. We may be missing something simple, but without a complete repro we are currently out of ideas.

[2017-04-19 21:38] maumar commented on #8207
@Remleo I was able to reproduce the issue in 1.1.1 and patch bits (1.1.2), and you are right - it is due to the convert being there. However, the scenario was also failing for me in 1.1.0-preview1 (and from looking at the 1.1.0-preview1 code, the relevant code looks the same).

I used the following code as repro:

[code]

Can you double check that the problem actually was not present in 1.1.0-prev

[2017-04-19 21:43] ajcvickers commented on #8202
@grahamehorner Thanks for showing an interest in this. We are not planning to implement this provider, but we would be happy to answer questions, etc. for anybody attempting to do this as an open source project. We would also value feedback on any broken abstractions or areas that are difficult to implement, and we will consider changing the core code to help in these areas.

[2017-04-19 21:47] ajcvickers commented on #8224
@spottedmahn You should be able to do AddMigration for this. (See one of the [walk-throughs](https://docs.microsoft.com/en-us/ef/core/get-started/) for basic instructions on Migrations.)

If the migration generated does not generate a rename (because both store and model names changed) then you should be able to edit the migration to make it a rename, which should mean that you don't need to move

[2017-04-19 21:49] anpete commented on #8007
Moving to @ajcvickers who is working on this.

[2017-04-19 22:17] divega commented on #8012
@intexx thanks for your patience. The answer for this one is basically the same we had previously for F#:

We are not planning on implementing VB support as part of EF Core, but we would consider fixing any issues or taking any PR required to improve our extensibility story so that VB support can be cleanly implemented as a separate package.

[2017-04-19 22:20] divega commented on #8012
**Note for triage:** Let's decide together whether we want to close this issue or keep it in the backlog as an up-for-grabs. Although it is a valid request we now tend not to keep open issues to track work we are not planning to do. Whatever the decision, we should probably do the same with #6401 for F#.

[2017-04-19 22:29] jemiller0 commented on #7363
OK, I attached a project that demonstrates the problem. To see the problem, run the console application. The app runs until it prompts for a key press. Run it, then check Task Manager to see how much memory is in use. I see 1.2 GB with EF Core and 182 MB with EF 6. Comment or uncomment the TestEF6() and TestEFCore() method calls in the Main() method in the console app to test each. The project is

[2017-04-19 22:33] anpete commented on #7363
Thanks @jemiller0!

[2017-04-19 22:48] divega opened #8232 "Query: consider non-generic version of EF.Property() method for dynamic query generation scenarios"
Dynamic generation of queries (e.g. adding filters, sort order or even projections to a query without knowing the names and the types of the properties at compile time) requires dropping down to building LINQ expressions by hand or using libraries that help with building them. This is often an order of magnitude harder than understanding regular LINQ queries.

In many of those cases `EF.Property<T

[2017-04-19 22:56] #7207 closed

[2017-04-19 23:03] dvdobrovolskiy opened #8233 "Invalid column name"
I met bad sql generated by EF

Bad query generated in situation where 5 nested tables and grouping by 2 columns.
in project I use http://www.telerik.com/ and grouping is done by telerik. I tried to reproduced it without Telerik`s DataSourceRequest (it does grouping) but I cannot reproduce error. I still posting it here because it is still EF to generate query

It is a bit bulky to describe module

[2017-04-19 23:16] anpete commented on #7363
OK, we think it is because you are enabling retry on failure in OnConfiguring. Can you try with this disabled? Retrying causes us to buffer the results ahead of time because we don't want to provide incomplete results.

[2017-04-19 23:22] anpete opened #8234 "Add retry strategy opt-out LINQ operator"
So the user has an option to have large queries stream.

[2017-04-19 23:39] jemiller0 commented on #7363
Thanks @anpete MUCH APPRECIATED! Yes, that solved my latest problem as well as the original one. Sorry for wasting so much of everyone's time. Next time, I will submit a complete example to begin with. I would swear the id query into the List was working until recently though. Not sure if maybe something changed in 1.1.1. Or, maybe I'm just confused. At any rate, I know to steer clear of RetryOnFa

[2017-04-19 23:43] IgorMoreira commented on #7977
@sonphnt tks.

[2017-04-20 00:00] jemiller0 commented on #7363
Actually, I may have spoken too soon. I think that does fix the original problem that I had. However, it looks like I'm having the same problem with the Pomelo MySQL provider. Only, when I use that one, the problem looks much worse. It went all the way up to 28 GB RAM in use and still hasn't completed after a few minutes of running. Something is definitely wrong there. But, that test is using a si

[2017-04-20 00:40] jemiller0 commented on #7363
It looks like that is a separate issue with the Pomelo 1.1.1 provider. I downgraded to version 1.1.0 and it works fine. I submitted a separate bug report with Pomelo.

[2017-04-20 01:12] smitpatel commented on #7136
@mojtabakaviani - How did you test with latest dev? what is the version number of EFCore packages?

[2017-04-20 01:31] maumar commented on #7136
@smitpatel I was able to reproduce this on our current bits, working on the fix now...

[2017-04-20 01:36] intexx commented on #8012
@divega — Thanks for the update, although I have to admit I'm a bit saddened by the news. The extensibility side of the question sounds like it can be a solution, however bittersweet.

I would tend to agree with closing the issue, in keeping with your stated policy of not tracking active projects.

[2017-04-20 03:02] intexx commented on #8012
@divega — Could you point out the current C# generator, so I can get an idea of what's involved? I'm having some trouble spotting it.

[2017-04-20 03:28] bricelam commented on #8012
https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Design/Migrations/Design/CSharpMigrationsGenerator.cs

[2017-04-20 03:31] intexx commented on #8012
@bricelam — Thanks.

[2017-04-20 08:45] WilliamABradley commented on #8188
Are there any updates as to what can be done to fix this?

[2017-04-20 08:51] Daniel-Glucksman opened #8236 "Query Take and Includes causes related collection to be empty"
I have the following statement below, for privacy reasons i cannot list the specifics.

    dbcontext
    .AsNoTracking()
    .Where(query)
    .OrderByDescending(d => d.Created)
    .Take(8).
    .Include(c =>xxxxxxxxxxx)
    .ToList()

The results are always more than 8 in varying amounts and some of the referenced included collections are blank, if i remove the take all works well.

Has anyone

[2017-04-20 08:55] Remleo commented on #8207
@maumar Sorry, my mistake. You are right, the problem was really present in 1.1.0-preview too.

[2017-04-20 10:05] wertzui commented on #3748
+1

[2017-04-20 11:36] tomerpeled opened #8237 "Query syntax and method syntax"
I found that projection don't work quite well with "Query Syntax" in oppose to "Method Syntax".

For example:

**Method syntax:**
[code]

**Query syntax:**
[code]
In the method syntax the projection works well and the select query contains only the status column.
In the query syntax the projection doesn't work well and the select query contains all the players' columns...

Is this a known issue?

[2017-04-20 11:48] tomerpeled commented on #8237
Sorry I was miss confused, please ignore...

[2017-04-20 12:14] manospasj commented on #7034
I finally found the root cause of this and it happens also in 1.1.1.

Let's say I have an entity named 'Customer' and an entity named 'Invoice' with a one to many relationship between these two.

Now if I want to query the Invoices using raw sql but also include the Customer entity the produced sql query is not correct.

My code looks like this:
[code]

The sql query that gets executed is this:
[c

[2017-04-20 13:01] tomerpeled opened #8238 "Projection and redundant order by with Navigation propery"
When using navigation property the generated sql query ignores the projection requested and bring all columns (for both tables).
Also an order by clause is added to the query - but I guess this maybe relates to https://github.com/aspnet/EntityFramework/issues/6861 right?

Example:

**Models:**

[code]
**The query::**

[code]

**The SQL generated:**

[code]

Is this a known issue?

[2017-04-20 13:30] grahamehorner commented on #7432
@ajcvickers is/could there be any mileage on making public the POC work that was mentation only a few days ago on the live.asp.net as working? would really like to try and hook up this with the oracle odbc c++ provider for linux ;)   I do understand why it's moved across into a corefx task give that database connectivity via odbc etc. is a layer below EF and developers may not event want EF in the

[2017-04-20 13:43] urielb92 opened #8239 "Concatenated string sequence as primary key - Insertion fail via EF code"
**Describe what is not working as expected:**
I want to use a concatenated string to a sequence as a primary key of a table.
I have created the table using Code-First migration successfully, and have set the default value of the column to be the desired concat.

When I insert rows to the table manually using the INSERT command, it works as expected. If I choose to omit the value of the column, it

[2017-04-20 14:03] asobolev01 opened #8240 "Long running migrations failed"
EF Code First 6.1.3
We have an issue, probably with Garbage Collector, when applying long migrations on DB. In this case we adding index on very large table.

**Exception message**: Object '/4e5b14da_612e_418e_bef1_a78633067db8/zpduder6bkbdvcrmhn48cbtr_2.rem' has been disconnected or does not exist at the server.

**Stack trace:**
[code]

### Further technical details
EF Core version: 6.1.3 (insta

[2017-04-20 14:25] JonPSmith commented on #8137
Hi @ajcvickers,

I see you have marked this as a bug, and the milestone is 2.0. My chapter 7, on configuring relationships, will come out before Version 2.0 is out, so can I check on what is wrong with the relationship so I can note this.

My tests show that this issue arises if a fully defined one-to-one relationship is configured by convention or via Fluent API. The only difference I can see bet

[2017-04-20 15:08] arame3333 opened #8241 "Could not load file or assembly 'Microsoft.EntityFrameworkCore.Design, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified."
I am trying to reverse engineer an existing database in EF Core in VS 2017.
So I type the scaffold command and this happens;
PM> **Scaffold-DbContext -Connection "Data Source=SQL_xxx;Initial Catalog=Survey;Integrated Security=True" -Provider "System.Data.EntityClient" -Context "MSurveyEntities" -Tables "Property, PropertyContract" -VERBOSE**
Using project 'Properties.Data'.
Using startup project '

[2017-04-20 16:02] #6353 closed

[2017-04-20 16:20] lajones commented on #8241
Your provider is wrong - you need to point to the name of the database provider for the kind of database you are pointing to e.g. `Microsoft.EntityFrameworkCore.SqlServer`. The [docs](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell) will help you here. Note: if you are using SQL Server you will need to install the `Microsoft.EntityFrameworkCore.SqlServer.Design` package into

[2017-04-20 17:36] maumar commented on #8207
@Remleo thank you for double checking. In that case, closing this as a dupe of #6937

[2017-04-20 17:44] maumar commented on #8238
dupe of #6647

[2017-04-20 18:03] ajcvickers commented on #4693
@R00iBaard This issue is in the Backlog milestone. This means that it is not going to happen for the 2.0 release. We will re-assess the backlog following the 2.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2017-04-20 18:09] #8178 closed

[2017-04-20 18:17] AndriySvyryd opened #8243 "Consider combining EntityEqualityRewritingExpressionVisitor with NavigationRewritingExpressionVisitor"
Without `EntityEqualityRewritingExpressionVisitor` running beforehand `NavigationRewritingExpressionVisitor` doesn't rewrite optional navigation equalities correctly.

[2017-04-20 18:18] ajcvickers commented on #8188
@WilliamABradley It takes more time to reproduce and debug ,NET Native issues. We currently don't have any resources free to do so. We are working towards getting someone available to investigate.

@MattWhilden If someone from .NET Native is available sooner to investigate this, then I can send over the customer's repro project.

[2017-04-20 18:21] smitpatel commented on #8243
Example?
If we keep things separate that NavRewrite should only convert nav access to joined queries hence producing new qsre. Entityequality rewrite should be step afterwards so that it can also rewrite new qsre representing entities.

[2017-04-20 18:21] ajcvickers commented on #7432
@grahamehorner I don't know what was specifically mentioned in the stand-up--I would follow up with whomever mentioned it. With regards to making the work we have done public, I believe it is all public already. @tinchou referenced the corefx work above and also provided a zip of the prototyping work in another comment. I don't think we have anything else.

[2017-04-20 18:43] AndriySvyryd commented on #8243
@smitpatel  Try commenting out the line
[code]
in `QueryOptimizer` and run `ComplexNavigationsQueryInMemoryTest`

[2017-04-20 18:46] ajcvickers commented on #8239
@urielb92 You likely need a call to `HasDefaultValueSql` as explained in #4189. See also #7872.

[2017-04-20 18:52] lajones commented on #7918
Fixed by PR #8217.

[2017-04-20 18:52] #7918 closed

[2017-04-20 18:52] urielb92 commented on #8239
I have called 'HasDefaultValueSql'. That's how I set the default value, which works on manual insert

[2017-04-20 18:58] ajcvickers commented on #8137
@JonPSmith The general concept here is that once you have a one-to-one relationship, then assigning any entity to that relationship will cause the newly assigned entity to replace any entity that is already there. Replacing the entity that is already there can mean different things:
* If cascade deletes are enabled (normal for required relationships), then it is deleted
* Without cascade deletes,

[2017-04-20 19:02] smitpatel commented on #8243
The awkward dependency. Navigation rewrite should be independent of entity equality rewrite.

[2017-04-20 19:03] ajcvickers commented on #8239
@urielb92 Can you post some code that reproduces the issue? A full project or code listing is preferable, but just your entity types and OnModelCreating may be sufficient.

[2017-04-20 19:14] urielb92 commented on #8239
Sure, I'll post the the relevant parts later when I have access to the code

[2017-04-20 20:22] spottedmahn opened #8246 "Where's the Migration Documentation?"
When I filter down the [EF Core Docs](https://docs.microsoft.com/en-us/ef/core/) for migrations I'm not finding anything.  Shouldn't I find something?

![image](https://cloud.githubusercontent.com/assets/14079228/25250892/7129c6f0-25e5-11e7-8abb-e888257bce9e.png)

[2017-04-20 20:26] grahamehorner commented on #7432
@ajcvickers see https://www.youtube.com/watch?v=8jJVrYXSJvo&list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF&index=0 or live.asp.net episode titled EF Core Team Apr 11, 2017

[2017-04-20 20:45] ajcvickers commented on #7432
@grahamehorner The things @divega talked about at around the 18 minute mark are the things that are referenced above.

[2017-04-20 21:14] #8146 closed

[2017-04-20 21:18] bricelam commented on #7480
Superseded by #7480

[2017-04-20 21:20] bricelam commented on #8159
Merging into #8164

[2017-04-20 21:20] bricelam commented on #8164
As part of revisiting `DbContextFactoryOptions`, we can remove `ContentRootPath` (this was tracked by #8159)

[2017-04-20 21:24] bricelam commented on #8164
#7353 may also be related to this work.

[2017-04-20 21:27] smitpatel commented on #7480
@bricelam - Superseding issue is the same as this one. Circular reference? :trollface:

[2017-04-20 22:32] AndriySvyryd opened #8248 "Projected nav from First not included"
Paste into ComplexNavigationsQueryTestBase:
[code]

Query model:
[code]

Exception:
[code]

[2017-04-21 00:14] #7525 closed

[2017-04-21 00:21] lajones commented on #7936
Fixed with PR #8247.

[2017-04-21 00:21] #7936 closed

[2017-04-21 01:02] WilliamABradley commented on #8188
Ok, thanks

[2017-04-21 01:33] xyting commented on #7936
Good job, thanks!

[2017-04-21 02:07] maumar commented on #7136
Fixed in f41fcc98453f453df1725204881ac3bee835865e

[2017-04-21 02:07] #7136 closed

[2017-04-21 02:08] xyting commented on #7936
@lajones Make it a Scaffolding() one instead is ok if it is only needed by reverse engineering, but, the reason why I test this feature is I want to dynamically change the database name at runtime. That's to say I want support multiple databases/tables sharding (in the same maching, I assume) in the same model. For MySQL, the Schema is the same as database, so for MySQL, I can dynamically change t

[2017-04-21 02:17] bricelam commented on #7936
@xyting Couldn't you just use a new connection string pointing to a different database?
[code]
You may also be looking for #4019

[2017-04-21 02:28] xyting commented on #7936
@bricelam Yes, this is one choose. Right row, I use a DbContextFactory to dynamic create DbContext to support different maching multiple databases/tables sharding in the same model. In the same machine, I do not need to recreate the DbContext, I only change the MySQL Schema to archeve the database change.

OK,  the all for test purpose, I haven't use in my production.

[2017-04-21 04:55] divega commented on #7432
I have very little to add to @ajcvickers' explanation at https://github.com/aspnet/EntityFramework/issues/7432#issuecomment-294915210. I think that covers exactly what this item was about. But just as an update:
- At this point the `System.Data.Odbc` package containing the code that @tinchou ported is unlikely to be included in the 2.0 release but should come shortly after. The main reason is that

[2017-04-21 06:05] tomerpeled commented on #8238
Thanks

[2017-04-21 06:19] arame3333 commented on #8241
I changed the provider as specified but I still get the same error.
And my csproj, which I meant to paste before looks like this;
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="1.1.1" />
    <PackageReference Include="Microsoft.E

[2017-04-21 07:53] JonPSmith commented on #8137
@ajcvickers,

Thanks for that. I agree that EF Core does a sensible (actually quite clever) action in that case. But you have marked this as a bug - I assume because the fully defined relationship exhibits a different action to the partially defined relationship. I just wanted to know how you plan to change it, again I assume you will change it to work the same as the partially defined relationshi

[2017-04-21 08:15] ErikEJ commented on #8225
@kpstolk My SQLite Toolbox (yes, correct link) only supports EF6 with that particular feature corrently.

[2017-04-21 09:24] mojtabakaviani commented on #7136
Thank you very much. you solving very important bug that must solved very early (ef core 1).

[2017-04-21 13:53] joacar commented on #8014
@smitpatel "All of a sudden" my custom sorting expressions stopped working. The generated SQL is

[code]

instead of correctly applying `COALESCE` operator. However this issue is not present in the linked test project allthough they reference the same version of EF, namely `Microsoft.EntityFrameworkCore.SqlServer-v.1.1.0`.

The project that doesn't work is a ASP.NET Core MVC project so perhaps som

[2017-04-21 15:49] ajcvickers commented on #8137
@JonPSmith Yes, the reason the issue is open is because of the different behaviors, but I won't have a crisp idea of what is going on until I investigate more.

[2017-04-21 15:56] ajcvickers commented on #8240
@asobolev01 This GitHub repo is for Entity Framework Core issues. Please file EF6 issues on https://github.com/aspnet/EntityFramework6.

That being said, this looks like a duplicate of https://github.com/aspnet/EntityFramework6/issues/96

[2017-04-21 16:40] juliencousineau commented on #5106
Microsoft.EntityFrameworkCore.Storage.IRelationalCommandBuilderFactory

Doesnt exist ...

[2017-04-21 16:49] Opiumtm commented on #4423
I have executed some benchmarks of embedded DBs for UWP platform.

On Intel Core i7 Windows 10 Desktop PC, ESENT shows much better performance than SQLite.
These results are very important for resource constrained handheld devices or IoT.

Bulk DB inserts inside transaction:
SQLite: ~60 microseconds/insert
ESENT: ~15 microseconds/insert

Bulk random record searches by primary key:
SQLite: ~30 micr

[2017-04-21 17:00] ErikEJ commented on #4423
@opiumtm Looking forward to your 3rd party provider!

[2017-04-21 17:05] Opiumtm commented on #4423
@ErikEJ I have tested DBs performance using low-lever APIs for each DB provider. So, no ORM was used. Just plain SQL commands for SQLite and raw ManagedEsent invokes for ESENT.

As far as I know, there is no EF provider exists for ESENT. Personally I have reasonable experience with raw ESENT APIs (using ManagedEsent lib) and have used ESENT this way in some of my projects, but have minimum knowled

[2017-04-21 17:08] ErikEJ commented on #5106
@juliencousineau Of course it does... What EF Core version are you using?

[2017-04-21 17:11] juliencousineau commented on #5106
My bad, I didn't add the package EntityFramework.SqlServer

Thanks !

[2017-04-21 17:49] bricelam commented on #7870
Digging into this more, it looks like the database is returning the result code SQLITE_CANTOPEN_ENOENT (1294) which is not a standard SQLite error code, but something that has been added to a customized version of SQLite.

SQLite has no way to enable extended error codes when opening connection (they can only be turned on after a connection is open).

In summary, this behavior is incompatible with

[2017-04-21 17:51] smitpatel commented on #6803
We have correct runtime but the test is in Specs lib which targets netstandard1.3 still hence the expression tree does not find new overload (even though it is present at runtime). Since we are going to cross compile on net standard, this test (only ToString(string) part) should be made conditional on netstandard2.0 when we cross compile to that tfm.

Blocked on https://github.com/aspnet/Coherence

[2017-04-21 17:52] NPadrutt commented on #7870
Thanks for the update. Is there any timeframe for release of 2.0.0?

[2017-04-21 17:55] bricelam commented on #7870
[The roadmap](https://github.com/aspnet/Home/wiki/Roadmap) currently says Q3 2017. We should have our first prerelease within a month or so. You can always try [the nightly builds](https://dotnet.myget.org/gallery/aspnetcore-dev).

[2017-04-21 17:57] NPadrutt commented on #7870
Ah, great. Thank you very much :)

[2017-04-21 18:03] bricelam commented on #8246
Dupe of aspnet/EntityFramework.Docs#204

Until then, the ASP.NET Core docs have a[ great article on EF Core Migrations](https://docs.microsoft.com/aspnet/core/data/ef-mvc/migrations).

[2017-04-21 18:11] smitpatel commented on #6803
@bricelam

[2017-04-21 18:15] bricelam opened #8250 "Specification Tests: Target netcoreapp2.0"
Currently, our test specs target net46 and netstandard1.3, but we only ever test on net46 and netcoreapp2.0.

* EFCore.Specification.Tests
* EFCore.Relational.Specification.Tests
* EFCore.Relational.Design.Specification.Tests

We should remove the netstandard1.3 target and add netcoreapp2.0 instead. This would enable us in our tests to take advantage of some fixes and features that have been added

[2017-04-21 18:49] bricelam commented on #8250
This would unblock #6803

[2017-04-21 18:51] bricelam commented on #8241
Is this line in the output expected? Or did you intend to run with `-StartupProject Properties.Data`?

[2017-04-21 19:01] ajcvickers commented on #8230
@FrancoisM We looking into this but there doesn't seem to be much we can do without more information. Could you dig a little more and find out if, for example, you seem the same behavior when using SQLClient with DbConnection/DbCommand/etc. directly?

[2017-04-21 19:02] tancevsasa commented on #1698
+1 for IndexAttribute

[2017-04-21 19:03] ajcvickers commented on #8236
@devteamexpress For EF6 issues, please use https://github.com/aspnet/EntityFramework6

Also, for any issue filed there we will need more information on how to reproduce what you are seeing. A complete code listing or project is ideal, but if that's not possible, then at least the shape of the entity types and something that resembles more accurately the query being used.

[2017-04-21 19:19] spottedmahn opened #8252 "Why Are There Gaps in IDs?"
For some unknown reason my identities are jumping.  Why could that be?  Where do I start to look for why something like this happening?

### Jump 1 Example
![image](https://cloud.githubusercontent.com/assets/14079228/25292209/2e655848-26a3-11e7-8b12-adcf3dba33bb.png)

### Jump 2 Example
![image](https://cloud.githubusercontent.com/assets/14079228/25292219/36a64e36-26a3-11e7-8a96-db09c5077018.png)

[2017-04-21 19:21] smitpatel commented on #8014
This works in EF.
Generated SQL:
version 1.1.1
[code]
Extra order by and all columns in projection is due to #6647

In nightly builds
[code]

Probably there is some error with your project setup or exact packages they are referencing.

[2017-04-21 19:41] Vannevelj commented on #1368
Can you shed some light as to why this isn't more of a priority since it's such a fundamental database aspect? I wanted to try EF again after 2 years of not using it and after even just a day I'm already ditching it because the first two models that I wanted to connect in my app require a bloated solution.

[2017-04-21 19:46] smitpatel commented on #8233
@dvdobrovolskiy - I am not able to get that project to work. Specifically I am getting error ` Unable to resolve 'Telerik.UI.for.AspNet.Core (>= 2017.1.223)' for '.NETCoreApp,Version=v1.1'.`

Can you post a simplified repro, which uses only EF. Also include, your domain classes, dbcontext & most importantly query you are running which is generating above wrong sql.

[2017-04-21 19:49] dvdobrovolskiy commented on #8233
I mentioned before Telerik.UI.for.AspNet.Core.Trial instead from
https://nuget.telerik.com/nuget

Telerik add grouping to query in some way and this brakes query. Then I add grouping on same column without telerik I got no error

[2017-04-21 19:59] smitpatel commented on #8233
That nuget feed requires authentication.

[2017-04-21 20:02] dvdobrovolskiy commented on #8233
Can you please find a time to get telerik`s tral
https://www.telerik.com

Telerik responded with "EF is the one who generate sql not we"

[2017-04-21 20:03] aday12345 commented on #7926
I will try but I am not aware of any other way I can run this command from a NuGet package then using install.ps1 it needs to run from PowerShell

From: Arthur Vickers [mailto:notifications@github.com]
Sent: Wednesday, April 19, 2017 4:58 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: Day, Andrew <aday@ivey.ca>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/Enti

[2017-04-21 20:06] smitpatel commented on #8233
Can you tell what is the nuget feed url for that package? It should be something like this format
`https://api.nuget.org/v3/index.json`

[2017-04-21 20:08] dvdobrovolskiy commented on #8233
Hm
I have this
https://nuget.telerik.com/nuget
as source in Nuget package sources

Where I can get this?

[2017-04-21 20:10] smitpatel commented on #8233
I tried that just now. Again authentication failure. It is some private package which is not accessible to us. Best would be to try and find what is the exact query being used in EF.

[2017-04-21 20:13] dvdobrovolskiy commented on #8233
It uses telerik.com account authentication .
http://docs.telerik.com/aspnet-mvc/getting-started/nuget-install

Seems like dead end. Will try to roll back to 1.0.0. might be it will help

[2017-04-21 20:16] smitpatel commented on #8233
There were some issues around choosing the table name in multiple joins. We have fixed it in https://github.com/aspnet/EntityFramework/pull/7691
See issue https://github.com/aspnet/EntityFramework/issues/7220

It is fixed for next release and most likely resolve this error.

Given the error does not produce without telerik, it is doing something to the query & the new query generated is failing to

[2017-04-21 20:25] dvdobrovolskiy commented on #8233
Could be. The whole thing telerik does is to add filtering grouping and sorting to EF lambda expression. Hope it will go with release. Sad for now, thnks for help

[2017-04-21 20:49] sthiakos commented on #1368
While considered an essential, there is a workaround and someone could argue that it's an optimization.  These guys have ton of other difficult and truly essential features to implement (ahem...TPT/TPC ;)  along with maintaining quality and performance.

@bricelam, @ajcvickers, @divega , @rowanmiller - Thanks for all you do.

[2017-04-21 21:03] AndriySvyryd opened #8254 "Null semantics are not carried from subquery"
Paste into ComplexNavigationsQueryTestBase, run in ComplexNavigationsQuerySqlServerTest:
[code]

Generated SQL:
[code]
Expected SQL:
[code]

[2017-04-21 21:19] divega commented on #7939
@NickCraver, sorry for the late answer (I am catching up with issues assigned to me). I got this response from @vancem a while ago:

There should be tests for any DiagnosticSource events that have been created.   This is a more serious omission, as was pointed out, it is reasonably likely for them to be broken unless there is some testing.   We should log issues in the appropriate code base to get

[2017-04-21 21:20] divega commented on #7939
@NickCraver BTW @ajcvickers is working on a bunch of changes in this area for 2.0 which will likely include breaking changes. It would be great if we can devise a way to help you track this work closely, e.g. we can mention you in any PRs.

[2017-04-21 21:30] AndriySvyryd opened #8255 "The generated identifiers in multi level queries are too long for SQLServer"
Paste into ComplexNavigationsQueryTestBase, run in ComplexNavigationsQuerySqlServerTest:

[code]

Exception: `The identifier that starts with 'l1.OneToOne_Required_PK.OneToOne_Required_PK.OneToOne_Required_PK.OneToOne_Required_FK_Inverse.OneToOne_Required_FK_Inverse.OneT' is too long. Maximum length is 128.`

[2017-04-21 22:07] divega commented on #8032
@archanasoni Sorry for the late answer. I am catching up with issues assigned to me.

I believe DB2 supports the general feature of correlating values from the outer query's in expressions in a subquery, e.g. among some examples I found in the Internet:

[code]

Can you point out what the exact limitation is that prevents `q`  from being in scope? E.g. is `q` is defined two levels up?

[2017-04-21 22:11] AndriySvyryd opened #8256 "Consider replacing IQueryOptimizer with IQueryOptimizerFactory in DI"
`QueryOptimizer` has state and is not thread-safe

[2017-04-21 22:14] anpete opened #8257 "Investigate de-scoping QueryCompiler"
It seems like we could make this singleton with a few minor refactorings.

[2017-04-21 22:18] anpete commented on #8256
It's registered as scoped though, so thread-safety isn't an issue. But we need to verify whether it is safe to re-use the instance when optimizing multiple queries within a scope.

[2017-04-21 22:30] divega commented on #8170
@ErikEJ

Q1: We have a Web-based dashboard that @rowanmiller put together. The code isn't public but I don't think there is a strong reason not to make it public (**we should discuss this in triage**).

Q2: You can use anything, but obviously anything running in the machine at the same time as the benchmarks will affect the quality of the results :smile: We run our benchmarks in a CI agent on dedi

[2017-04-21 22:33] AndriySvyryd opened #8258 "Create a read-optimized implementation of IModel"
This `IModel` will be built after the model is validated and will not have the `ConfigurationSource` or other data used only during model building.

This model will be built by `IModelRuntimeInitializer` and stored in a runtime annotation in case the original model is reused.

To provide the optimized implementations default interface implementations are to be used, see https://github.com/aspnet/E

[2017-04-21 22:45] bricelam opened #8259 "Query: ulong literal throws RuntimeBinderException"
[code]

[code]

[2017-04-21 22:52] bricelam commented on #8205
It looks like `double` and `float` literals are also wrong:

   SQLite Error 1: 'unrecognized token: "1.79769313486232E+308E0"'.

[2017-04-22 00:35] smitpatel commented on #8252
This stackoverflow questions answers it in detail.
http://stackoverflow.com/questions/14146148/identity-increment-is-jumping-in-sql-server-database

It is the way SqlServer works (on restart) not something specific to EF behavior (which merely uses database values created by SqlServer)

[2017-04-22 00:43] tomerpeled commented on #8208
Just updating that I just released an EFCore intergration on top of Spanner: (to whom it is interested)
https://github.com/NoGame/NG.Data.Spanner

[2017-04-22 01:03] #7700 closed

[2017-04-22 01:18] maumar commented on #7516
We decided not to support the first scenario. Include only works on entities.

[2017-04-22 01:19] maumar commented on #7499
working on a fix now

[2017-04-22 11:54] ErikEJ commented on #8208
You should do a PR to the providers list in the EF docs repo

[2017-04-22 13:30] verdie-g commented on #1862
I have made[ this to call stored procedure](https://github.com/verdie-g/StoredProcedureDotNetCore/) and map the DataReader to a specified Model. I hope it helps.

[2017-04-22 20:17] Zonciu commented on #1368
Is there any way to create a relationship by using object id only? For DDD rules, we should not relate  aggregate roots with object reference.

There is an example:
[code]

Is it possible to implement, or I have to use another relationship class to relate User and Department?
The relationship class:
[code]

[2017-04-22 21:01] smitpatel commented on #7516
Instead of throwing from compiler crash, we should print out exception message that include is not applied on entity type.

[2017-04-22 23:51] anpete commented on #7516
We already warn for ignored Includes. Agree we should never crash though.

[2017-04-23 02:12] ajcvickers commented on #1368
@Zonciu You can create a relationship with no navigations. For example:

[code]

However, if you want to have a many-to-many relationship, then you'll still need the join table. So something like:

[code]
With configuration:
[code]

[2017-04-23 02:14] phristov opened #8263 "Feature request: Row Number working with AsQueryable()"
Row Number working with AsQueryable()

example:
`
this.Context.Students.Select((x, index) => new {Id=x.Id, Index = index}).ToList();
`

It is only working with AsEnumerable() right now.

[2017-04-23 06:25] Zonciu commented on #1368
@ajcvickers Thank you! This works:
[code]

[2017-04-23 07:39] urielb92 commented on #8239
@ajcvickers Sorry for the delay, posting the relevant parts of the code.
This was scaffolded from the DB so the context is a bit verbose, so i'll just post the relevant parts.
Also - I've added the functionality through a migration, since a sequence had to be created.

The entity :
`    public partial class TheEntity
    {
        public EntityName()
        {
        }

        [Column("EntityCol

[2017-04-23 16:47] ajcvickers commented on #8239
@urielb92 This line tells EF that you never need any kind of store-generated value:
[code]
so you need to remove that,

Then, as explained in #4189 and #7872, you need to put this in your OnModelCreating:
[code]
This tells EF to generate values and that the column has SQL to do this.

[2017-04-23 17:03] ShaZeh commented on #7227
I am unsure if this is just me, but I was using EF Core 1.1.0 and was getting the same issue, I have updated all of my nuget packages to the latest, which mean EF Core 1.1.1 and I am observing the exact same issue.

If another entity was being added, the property isModified was taken into account. However if the only change to be done was the property marked as modified, nothing occurs. I have the

[2017-04-23 17:14] ajcvickers commented on #7227
@ShaZeh Please open a new issue with a complete project or code listing that reproduces what you are seeing.

[2017-04-23 19:15] brentdavid2008 commented on #6426
i am still getting this with 1.1.1 and VS 2017.  The workaround using the fluent API did not seem to change anything.

![image](https://cloud.githubusercontent.com/assets/7902547/25316553/f723992a-282e-11e7-843e-33847700e25a.png)

![image](https://cloud.githubusercontent.com/assets/7902547/25316557/042b95f0-282f-11e7-9b51-a6e750a44cd4.png)

![image](https://cloud.githubusercontent.com/assets/79025

[2017-04-23 19:38] dvdobrovolskiy commented on #7714
Patch did`nt helped with #8233
Still have grouping issue

[2017-04-23 19:44] smitpatel commented on #7714
@dvdobrovolskiy - The probable fix for #8233 is not in patch and will be released in 2.0.0-preview1

[2017-04-23 19:50] dvdobrovolskiy commented on #7714
Year, may the 10th. Waiting. Thanks!

[2017-04-23 20:25] dopare opened #8264 "Cannot insert entity into DB using attach and EntityState.Added"
I am getting following exception when trying to insert entity by attaching and changing its state.

[code]

### Steps to reproduce
[Sample repo](https://github.com/dopare/EFCoreTest)

[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 x64
IDE: (e.g. Visual Studio 2015)

[2017-04-23 23:47] Eilon commented on #8142
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-23 23:47] Eilon commented on #8063
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-23 23:47] Eilon commented on #7889
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-23 23:47] Eilon commented on #7710
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-24 01:59] dvdobrovolskiy commented on #8113
It is an issue.

Now I want to make value nullable
Was
public float Value2 { get; set; }
Become
public float? Value2 { get; set; }

add-migration generate empty migration. No change to column nullable state
Was
[Value2] [real] NOT NULL
and is
[Value2] [real] NOT NULL,

[2017-04-24 05:43] ShaZeh opened #8265 "Attaching entity and setting different IsModified values to different property prevent update"
I am not quite sure if this is me doing something wrong, I am pretty sure I have been using this technique without any issues for a good while. But it might be possible that I might never have noticed that some fields were not updating. It might also be possible that the update only fail under very specific circonstances.

So far I have only reproduced the issue while having two property explicitl

[2017-04-24 05:53] andershermansen commented on #7714
@Eilon My project was hit by this bug with 1.1.1 so I have have kept it at EfCore 1.1.0.
I tested the preview package of 1.1.2 now (1.1.2-rtm-201704210746), it works great! :)
No more exception

[2017-04-24 06:31] arame3333 commented on #8241
That was a mistake I made. I corrected it and I get the same error;
C:\Users\geoffreypayne\.nuget\packages\microsoft.entityframeworkcore.tools\1.1.0\tools\net451\ef.exe dbcontext scaffold "Data Source=SQL_xxx;Initial Catalog=Survey;Integrated Security=True" System.Data.EntityClient --json --context MSurveyEntities --table "Property, PropertyContract" --verbose --no-color --prefix-output --assembly

[2017-04-24 08:14] urielb92 commented on #8239
Hi, I've tried your suggestion before (described in the main post), and it resulted with the Id being generated as a GUID, totally ignoring the default value. Just to make sure, tried it again - same results.

[2017-04-24 08:44] ahmad-moussawi commented on #2517
Is this still valid as for the version `1.1.1` ?,
I can't find the method Reference of `EntityTypeBuilder<T>`

[2017-04-24 10:16] bugproof opened #8266 "[Unique] Data annotation"
Currently, it's possible to ensure field uniqueness like this:
[code]

I'm not sure about other ways.

My proposition is to add [Unique] data annotation to simplify this process.

[2017-04-24 12:27] ErikEJ commented on #8192
@ajcvickers @lajones What SQL Server version does the SQL Server design tests run against?

[2017-04-24 13:58] archanasoni commented on #8032
@divega , Yes problem seems to be with 2 level up:
as in your example if I modify something like:
select * from orderdetails as x
where exists ( select 1 from (
select productid from products as y
 where x.productid=y.productid
) as t)

again we can see the same error.
Invalid SQL statement
ERROR [42704] [IBM][DB2/NT64] SQL0204N  "X.PRODUCTID" is an undefined name.

For original query, if we chang

[2017-04-24 14:38] joacar commented on #8014
So this will be incredibly hard to debug... I'll add a `WebApplication` project and see if I can reproduce it within that context. It runs fine in console mode and only referencing EF-packages

[2017-04-24 15:32] #8142 closed

[2017-04-24 15:32] #7889 closed

[2017-04-24 15:32] #7710 closed

[2017-04-24 15:36] bricelam commented on #2517
RTM syntax:
[code]

[2017-04-24 15:47] Eilon commented on #7714
@andershermansen that's great, thank you so much for trying it out!

[2017-04-24 15:53] lajones commented on #8266
@midnightstarr There has been a suggestion for an `Index` attribute in the past. I think `Unique` would be part of that. So closing as a dupe of #4050.

[2017-04-24 16:14] ajcvickers commented on #8063
@anpete Is this merged into the 1.1.2 branch yet?

[2017-04-24 16:19] ajcvickers commented on #7944
@shaulbehr Could you please check that this issue is fixed for you using the feed posted above? It would be really great to confirm that the issue is fixed in a real-world scenario and that it doesn't regress functionality in some other way. It would be greatly appreciated.

[2017-04-24 16:25] ajcvickers commented on #7315
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-24 16:26] ajcvickers commented on #6968
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-24 16:27] ajcvickers commented on #7889
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-24 16:31] ajcvickers commented on #6984
@trinvh Can you please open a new issue for this including a full code listing or project that reproduces the problem.

[2017-04-24 16:49] ajcvickers commented on #6426
@brentdavid2008 Can you please open a new issue including a complete code listing or project that reproduces what you are seeing.

[2017-04-24 17:01] anpete commented on #8063
@ajcvickers Yep.

[2017-04-24 17:05] brentlyjdavid opened #8267 "Identity Insert still indicates error with version 1.1.1"
### Describe what is not working as expected.
Identity insert not working correctly.  Still shows same error as #6426

### Steps to reproduce
See attached codebase, run it and hit the contact route.  This will trigger the error i am seeing.

[WebApplication1.zip](https://github.com/aspnet/EntityFramework/files/952539/WebApplication1.zip)

### Further technical details
EF Core version: 1.1.1
Databa

[2017-04-24 17:11] ajcvickers commented on #8063
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-24 17:12] ajcvickers commented on #8063
@Tasteful Could you check using the feed above that the fix checked in solves the problem you are seeing. It would be greatly appreciated.

[2017-04-24 17:12] #8063 closed

[2017-04-24 17:14] paradisehuman opened #8268 "Is there any way to run dotnet ef command in Xamarin PLC .netstandard ?"
I tried dotnet ef command on Xamarin PLC .netstandard but the cmd shows me does not exist.
This is my project json :
[code]
When I use a .netstandard class library ( Not PLC ) dotnet ef works but when I tries to migrate the cmd shows me your :

I have All references but the project does not find them.

[2017-04-24 17:16] ahmad-moussawi commented on #2517
@bricelam wonderful :)

[2017-04-24 17:29] ajcvickers commented on #8265
Note for triage: Confirmed that this is a bug. Doing this works:
[code]
But moving the `IsModified = false` first makes it fail:
[code]

[2017-04-24 17:56] bricelam commented on #8259
It looks like similar bugs can happen for `sbyte`, `uint` & `ushort` too.

[2017-04-24 18:07] bricelam opened #8270 "Query: Some double & float literals are wrong"
Values over/under a certain value have two `E`s in them.

Type | Value | Literal
---- | ----- | -------
float<br />double | 1e-5 | `1E-05E0`
float | 1e7 | `1E+07E0`
double | 1e15 | `1E+15E0`

[2017-04-24 18:19] ajcvickers commented on #7939
@ajcvickers to look at what MVC is doing.

[2017-04-24 18:21] ajcvickers commented on #8170
@divega to create anew issue about making the dashboard source publicly available.

[2017-04-24 18:27] brentdavid2008 commented on #8267
@ajcvickers, here is the new issue as requested.

[2017-04-24 18:28] ajcvickers commented on #8259
Also, quick check for any additional test coverage--such as in all-types mapping tests.

[2017-04-24 18:52] vancem commented on #7939
There are two basic solutions to reading values out of objects passed with DiagnosticSource.

1) Use reflection to fetch items.

Standard reflection of course works, as does using the 'dynamic' feature of C#.
You can do efficient reflection (where you end up caching the delegate that does the fetch).   See

https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/Sy

[2017-04-24 18:58] ajcvickers commented on #8263
@phristov We will consider adding support for this in a future release. Question: what happens when you try to do this now? Does it throw an exception? If so, what is the exception and stack trace?

[2017-04-24 19:02] ajcvickers commented on #8264
@dopare Attaching the entity means that the entity already exists in the database. This means that no key generation is done--because the key must already have had a value assigned to be saved int the database. On the other hand, if Add is called, then it means that the entity is new and has not yet been saved to the database. In this case key generation will kick in, ultimately using the Identity

[2017-04-24 19:08] ajcvickers commented on #8268
@paradisehuman Here is the canned response for anything with project.json: We are not planning to fix this issue because the  [.NET Core SDK 1.0.0](https://www.microsoft.com/net/download/core) no longer supports project.json or Visual Studio 2015. Everyone doing .NET Core development is encouraged to [migrate from project.json to csproj](https://docs.microsoft.com/dotnet/articles/core/migration/)

[2017-04-24 19:53] ajcvickers opened #8271 "Consider removing UseSqlServerIdentityColumn and ForSqlServerUseSequenceHiLo"
Nobody really knows what they mean, when to use them, or where they are valid.

[2017-04-24 19:54] ajcvickers commented on #8267
@brentdavid2008 The code is making a non-key property use an Identity column. These seems to be working as expected, although note that there is no need for this:
[code]
since the default for SQL Server is to create an identity column anyway.

However, Identity columns cannot be updated. Normally for a key the property is marked as read-only, so EF does not attempt to update the column by default

[2017-04-24 19:55] brentdavid2008 commented on #8267
Yeah, i just wanted a SQL server generated column for numbers, it never should be updated.  Why doesn't this happen by default when i have  the database generated attribute like it did in EF6?

[2017-04-24 20:01] ajcvickers commented on #8267
@brentdavid2008 Because EF Core supports having a column that gets a store-generated value on insert but can then later be updated. For example, if you have a default constraint on the column. It's just that SQL Server doesn't allow this for Identity columns.

[2017-04-24 20:02] brentdavid2008 commented on #8267
I guess my assumption is that there should never be a reason why someone would ever want to update an identity column.  SQL doesn't even allow this through SSMS.  So to have it error out on a field that is [DatabaseGenerated(DatabaseGeneratedOption.Identity)] seems odd to me.

I would presume EF would know how to handle that since the method indicates it understands it as a SQL database. (hence .U

[2017-04-24 20:05] ajcvickers commented on #8267
@brentdavid2008 Yes, it would be possible to write a convention that connects the dots back from it being a SQL Server Identity column to it getting this behavior by default. That's why I liked #7913, which is about better experiences in this area. But it's pretty uncommon to have Identity for a non-key column, so this doesn't come up very often.

[2017-04-24 20:08] brentdavid2008 commented on #8267
Sounds good, Thanks for the clarification.

[2017-04-24 20:13] #8204 closed

[2017-04-24 20:48] bricelam commented on #7588
We currently allow a `ConfigureDesignTimeServices` method to be defined on the startup class. We should consider removing that convention and only allow implementations of `IDesignTimeServices`.

[2017-04-24 20:48] bricelam commented on #8164
We currently allow a `ConfigureDesignTimeServices` method to be defined on the startup class. We should consider removing that convention and only allow implementations of `IDesignTimeServices`.

[2017-04-24 20:58] petelopez commented on #8241
I had the same issue and it turned out to be my startup project... See here: https://github.com/aspnet/EntityFramework/issues/7977

Additionally, in the docs, one of the params is the StartupProject: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell

This could have been made a little clearer.

[2017-04-24 21:41] bricelam commented on #8164
Questions we need to answer:
* Can we remove `--environment` and `DbContextFactoryOptions.EnvironmentName`? This would make Environment a Hosting-only concern.
* Can we remove `DbContextFactoryOptions.ContentRootPath`? This would make ContentRootPath a Hosting-only concern.
* Can we remove the logic that attempts to call `<startup>.Configure<environment>Services` directly?
* Do we try and call `<s

[2017-04-24 22:31] divega opened #8272 "Integrate EF Core diagnostics information into ApplicationInsights"
We can either extend [Microsoft Application Insights for ASP.NET Core applications](https://github.com/Microsoft/ApplicationInsights-aspnetcore) or create our own package that integrate EF Core's DiagnosticSource (or possibly logging) events into Application Insights monitoring.

[2017-04-24 22:32] divega commented on #8272
@anpete @ajcvickers I believe one of you is going to start working on this soon. Feel free to self-assign.

[2017-04-25 00:16] phristov commented on #8263
it throws  a `NotSupportedException`

      NotSupportedException: Could not parse expression 'value(Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[WebApplication2.Data.Student]).Select((x, index) => new <>f__AnonymousType5`2(Id = x.Id, index = index))': This overload of the method 'System.Linq.Queryable.Select' is currently not supported.

`Remotion.Linq.Parsing.Structure.MethodCa

[2017-04-25 01:32] #7693 closed

[2017-04-25 03:18] cihankusmez commented on #2272
I have the same problem. I need ordering columns.

[2017-04-25 03:26] ajcvickers commented on #8263
/cc @anpete

[2017-04-25 05:40] anpete commented on #8263
As suspected, relinq doesn't handle this overload out of the box.

[2017-04-25 05:41] Tasteful commented on #8063
@ajcvickers I have tested the `1.1.2-rtm-201704210746` and what I can see the cache is now operating as it should.

I noticed that the package `Microsoft.EntityFrameworkCore.Tools` still is on `1.1.1`. I'm not sure if you bump all versions number to the same or if they are independent per package.

[2017-04-25 05:44] Eilon commented on #8063
@Tasteful each "repo" versions independently, so all packages within a repo generally have the same version, though different repos might be on somewhat different versions. Glad you're now seeing the behavior you're expecting!

[2017-04-25 06:27] kierenj opened #8275 "EnableRetryOnFailure defaults don't cover SQL Azure recommended retry period"
The `EnableRetryOnFailure` method defaults to 5 retries, max delay 30 sec, which the code comments indicate give a ~26sec total retry duration.

The SQL Azure "dealing with transient errors" documentation indicates that transient problems may list up to 1 minute. (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-troubleshoot-common-connection-issues)

Should the default for `Enable

[2017-04-25 07:19] WilliamABradley commented on #8188
@ajcvickers  @MattWhilden Have you managed to get someone to start investigating the issue? I'm looking to release the update from half way through next month, but perhaps it could last until the end of the month.
Thanks,
William.

[2017-04-25 10:12] shaulbehr commented on #7944
@ajcvickers : For our actual production code we decided only to use release code (not previews).  But for the sake of this exercise I branched off and upgraded to preview 24623 (which was latest available at this time of writing).  Regrettably I couldn't get past my integration test setup because of some other changes that appear to be broken by the way I'm declaring my relationships:
[code]
First

[2017-04-25 11:29] frasdav commented on #8026
Okay, demo console app attached. On the first run through when the database is created, there's no issue. On the second and subsequent execution, however, I get an AggregateException with an inner NullReferenceException from Microsoft.EntityFrameworkCore.Relational.

[EFCoreNullReferenceExceptionApp.zip](https://github.com/aspnet/EntityFramework/files/954851/EFCoreNullReferenceExceptionApp.zip)

[2017-04-25 16:01] ajcvickers commented on #7944
@shaulbehr Thanks for trying it. Yes, please file an issue for the new bug. We will investigate.

[2017-04-25 16:05] ajcvickers commented on #7944
@shaulbehr How are the primary keys defined on those two entity types?

[2017-04-25 16:12] ajcvickers commented on #7944
@AndriySvyryd Can you investigate this as a possible regression from 1.1.1 to 1.1.2?

[2017-04-25 16:20] ajcvickers commented on #8026
@frasdav Thanks for providing the repro. What is the exception message and stack trace that you see?

Note that the code in your repro is not supported:
[code]
EF doesn't support multiple concurrent tasks on the same context instance. Each find call needs to be awaited for this to be valid code. The only reason for wanting a repro for this issue is that the exception and stack trace were not what

[2017-04-25 16:43] ajcvickers commented on #7944
@shaulbehr Did you test this with the latest nightly build, or with the 1.1.2 preview feed posted in the comments above?

[2017-04-25 17:02] divega commented on #8173
I have moved the data from the time period in which there were issues to a separate table using the following:

[code]

A few observations:
- Whatever the malfunction was that caused the performance dive, it seems that it only affected tests that access the database, e.g. the `DbSet` operation tests were not affected by it.
- Since the bad data has been removed, it is now easier to observe that th

[2017-04-25 18:03] divega commented on #8173
Clearing up milestone so that we can discuss any follow up actions in triage.

[2017-04-25 18:09] AndriySvyryd commented on #7944
@shaulbehr I wasn't able to repro the new issue using the 1.1.2 nightly. Please provide a complete code listing when filing a new issue for this.

[2017-04-25 18:52] DJDA opened #8277 "NET Core CLI Cannot Find Connection String in appsettings.json When configuration property is not in sorted order in file"
I'm working with a ASP.NET Core web application project that references another project with my DbContext.  DBContextOptions are being configured in the dependency injection container.

When attempting to run `dotnet ef migrations add` it cannot find the connection string when the connection string property (i.e. "ConnectionStrings") in appsettings.json is not included in the file in sorted order.

[2017-04-25 19:52] bricelam opened #8280 "Tools: Ensure both netcoreapp1.x and 2.0 projects work"
Will EFCore.Tools 2.0 work on netstandard1.x and netcoreapp1.x projects?

If the startup project is netcoreapp2.0 or net461: Yes.
If not: I don't know.

We need to decided what is supported and engineer a solution to support that. This needs to be done for 2.0.0-preview1.

[2017-04-25 20:26] bricelam commented on #8280
Blocked since netcoreapp2.0 tools don't even work yet.

[2017-04-25 20:36] bricelam commented on #8280
We also need to test netcoreapp2.0 projects when we can.

[2017-04-25 20:54] #7958 closed

[2017-04-25 21:35] NPadrutt commented on #4807
I have the same issue. is here an update to that beside using AsNoTracking?

[2017-04-25 21:44] ajcvickers commented on #4807
@NPadrutt Can you please create a new issue for this, including a full code listing or project that reproduces what you are seeing?

[2017-04-25 21:46] NPadrutt commented on #4807
@ajcvickers sure, if it helps. Although I can't provide more than @SimonOrdo  already did.

[2017-04-25 21:56] NPadrutt opened #8282 "The given expression does not contain the searched expression '[x]' in a nested NewExpression with member assignments or a MemberBindingExpression."
I get this error when I Execute the following Linq Statement:

[code]

This is the whole exception message:

System.Reflection.TargetInvocationException: 'Exception has been thrown by the target of an invocation.'

inner exception:
ArgumentException: The given expression 'new Account([x])' does not contain the searched expression '[x]' in a nested NewExpression with member assignments or a MemberB

[2017-04-25 22:22] smitpatel commented on #8277
This looks more like a Configuration issue.

[2017-04-25 22:25] smitpatel opened #8284 "Re-enable owned entity types query tests"
While implementing #8283 , I added `Equals` method on entity types to make it easy to do comparison while verifying results. Doing so resulted in all of the tests in `ComplexNavigationsOwnedQuerySqlServerTest` failing with following error during seeding phase.
[code]

[2017-04-25 22:39] AndriySvyryd commented on #8254
After fixing unskip tests in `ComplexNavigationsOwnedQuerySqliteTest` and `ComplexNavigationsOwnedQuerySqlServerTest`

[2017-04-25 22:40] AndriySvyryd commented on #8216
After fixing unskip tests in `ComplexNavigationsOwnedQueryTestBase`

[2017-04-25 22:40] AndriySvyryd commented on #8248
After fixing unskip test in `ComplexNavigationsOwnedQueryTestBase`

[2017-04-25 22:42] divega opened #8285 "Benchmarks: Make source code for the benchmark dashboard public"
We internally use a Web based interface @rowanmiller wrote to look at our benchmark results. It should the delta between EF6 and EF Core and charts for the different scenarios. If there is enough interest (there was a bit in https://github.com/aspnet/EntityFramework/issues/8170#issue-221802029) we can consider getting this code in this repo (or in some other repo) so anyone and run it and improve

[2017-04-25 22:44] divega commented on #8170
Closing since I believe we have answered the questions. @ErikEJ please let us know otherwise and feel free to reactivate. Also create #8285 to track making the Web UI public.

[2017-04-25 23:00] divega commented on #8032
@archanasoni thanks for the additional information.

@anpete @smitpatel @maumar In summary, The original query does not work because DB2 does not support correlating a subquery to a value that comes from more than one level up in the outer query. Rewriting the query as in the comment above (moving the predicate from the WHERE clause of the most nested subquery into the ON clause of the JOIN) would

[2017-04-25 23:51] smitpatel commented on #8284
@AndriySvyryd - Fixing this in same PR.

[2017-04-26 01:09] ajcvickers commented on #8188
@WilliamABradley I'll try to do the investigation this week.

[2017-04-26 01:48] #8255 closed

[2017-04-26 01:48] #8284 closed

[2017-04-26 02:06] WilliamABradley commented on #8188
@ajcvickers Awesome,
Thanks.

[2017-04-26 06:36] shaulbehr commented on #7944
@ajcvickers It was the daily build.  I'll try again with the 1.1.2 preview.

[2017-04-26 07:58] shaulbehr commented on #7944
OK, so I got it working locally; looks like the patch worked.
Still have a problem on the build bot, though.  I added the feed to the NuGet command line:
[code]
... but alas, it blows up with a bunch of errors like this:
[code]
What am I missing?

[2017-04-26 08:06] ErikEJ commented on #7944
You made a typo, I think.

    https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-publics

Should be:

    https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json

(and public, not publics)

[2017-04-26 08:27] shaulbehr commented on #7944
@ErikEJ I deleted my previous comment - was my bad.

[2017-04-26 08:42] trinvh opened #8286 "Issue many concurrent "Cannot rollback - No transaction is active""
I am using EFCore SQLite with SignalR.

When there are many clients connect at the same time, database can not changes (insert/update) anymore, this exception throws: "Can not rollback - No transaction active"

Logs:

`An exception occurred in the database while iterating the results of a query.
System.InvalidOperationException: A second operation started on this context before a previous operatio

[2017-04-26 08:45] ErikEJ commented on #8286
Why not use a proper, scalable database engine instead - like SQL Server?

[2017-04-26 08:52] shaulbehr commented on #7944
Confirmed: patch has fixed my problem.  Thanks!

[2017-04-26 10:19] joacar commented on #8014
Not a big surprise that there was a application error - a change in the datamodel was the cause. Had a property on my domain model that no longer mapped against a column in the database hence the issue.

Sorry for taking your time!

[2017-04-26 11:10] Mardoxx commented on #7286
What is the solution?

[2017-04-26 14:50] DamirLisak commented on #7614
@rowanmiller : Is somebody investigating this issue? Is it a UWP or a EF-Problem?

[2017-04-26 14:52] frasdav commented on #8026
I get an AggregateException, with one inner:

Message:  Object reference not set to an instance of an object.
Source:  Microsoft.EntityFrameworkCore.Relational
Stack trace:

`at Microsoft.EntityFrameworkCore.Query.RelationalQueryContext.<RegisterValueBufferCursorAsync>d__14.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionService

[2017-04-26 15:40] bricelam commented on #7286
@Mardoxx Can you [submit a new issue](https://github.com/aspnet/EntityFramework/issues/new) describing your scenario? A lot has changed since this issue was created.

[2017-04-26 15:51] spottedmahn commented on #8026
hey @ajcvickers - please see this [sample code](https://github.com/spottedmahn/EfCoreException).

I'm not getting the same stack trace as above but I see the same issue.  If I perform a single await first and then use Task.WhenAll I don't get an exception.  If I perform only a Task.WhenAll I get an exception.

I'm wondering if I'm getting a different stack trace b/c this sample uses 1.1.1 and the

[2017-04-26 15:56] ajcvickers commented on #7944
@shaulbehr Thanks for checking! Much appreciated. Can you still file the issue for what you are seeing on dev?

[2017-04-26 16:06] ComptonAlvaro opened #8287 "Include does an inner join and not left join"
I have:
[code]
In TableA, IDTableB can't be null, IDTAbleC and IDTableD can be null both.

When I am trying to get the related entities I do this:

[code]

I use the same way in EF6 and EF Core, but I get differents queries.

In EF6 I get this:

[code]

And in EF Core I get:

[code]

In EF6 I get the exptected results, all the rows from TableA and all the rows from TableC and TableD if there are.

[2017-04-26 16:09] ajcvickers commented on #8026
@spottedmahn Thanks.

Note for triage: When I ran the code I got an error from SqlClient. I had thought that the check for concurrent access would help for these cases, but recent discussions indicate that it is only done on non-async code paths. I wonder if there is a way we can extend it to work with async paths so that people get a better message that this is not supported. I thought we had som

[2017-04-26 16:29] ajcvickers commented on #8286
@trinvh That's a very old version of EF Core. Please update to an RTM version--preferably 1.1.1.

Also, are you ensuring that you don't have the same context instance being accessed by multiple threads concurrently, or making multiple async calls without awaiting each one? The context is not thread-safe and cannot be accessed concurrently by multiple threads.

[2017-04-26 17:59] maumar commented on #8287
Can you share the code listing for entities and DbContext? (in particular contents of OnModelCreating method). Also, which version of EF Core are you using? We will generate LEFT JOIN for includes if we think the navigation is optional - my guess is, the entities are configured is such a way that the navigation (from EF Core perspective) is required.

[2017-04-26 18:33] ComptonAlvaro commented on #8287
Thanks for the advise. I checked my mapping and I can see that I had .IsRequiered() in this properties. If I comment this option, it is work as I expect.

So when I do the scaffolding, it sets as IsRequiered() when the relationship allows null values, so it not wouldn't be better don't set it as IsRequired()?

[2017-04-26 18:38] #8173 closed

[2017-04-26 18:46] ajcvickers commented on #8275
@AndriySvyryd Any comments on this?

[2017-04-26 18:49] ajcvickers commented on #8285
Everyone: please thumbs-up if you want us to do this.

[2017-04-26 18:59] mikeharder opened #8289 "Flaky Test: EnsuredCreated_is_noop_when_database_with_filename_exists_and_has_schema"
[code]

# Repros
4/26/17: http://aspnetci/viewLog.html?buildId=208861&buildTypeId=Lite_EntityFrameworkTest&tab=buildLog&filter=err

[2017-04-26 19:12] bricelam commented on #8164
Decisions:
* Remove `--environment`
* Remove `DbContextFactoryOptions`
* Require `IDesignTimeServices` to be implemented before calling `ConfigureDesignTimeServices`
* For now, arguments will be empty at design-time. Add `IDbContextFactory.Create(string[] args)` to enable flowing in the future.

Still need to discuss this:
* Can we remove the logic that attempts to call `<startup>.Configure<enviro

[2017-04-26 20:40] spottedmahn commented on #8026
@ajcvickers np.  Sounds like you were able to generate: System.InvalidOperationException: 'BeginExecuteReader requires an open and available Connection. The connection's current state is closed.'.

Were you able to generate 'System.NullReferenceException: 'Object reference not set to an instance of an object.'?

[2017-04-26 20:59] spottedmahn opened #8290 "How to Deploy EF Core to Azure App Services When Migrations Are in a Separate Assembly?"
How do I publish to Azure App Services when I have a separate migrations assembly?  [Reference](https://github.com/bricelam/Sample-SplitMigrations)

[code]
Also, I have two databases so I have to specify the context when using dotnet ef from the command line; how will that impact my Azure deployment?

I found [this article](https://docs.microsoft.com/en-us/aspnet/core/tutorials/publish-to-azure-we

[2017-04-26 21:10] divega commented on #8032
Just to reflect some of the conversation we had today in triage about this:

- We don't think this would be a good change for base provider since moving filters away from the source table can affect performance if the query engine of the database isn't sophisticated enough
- We could suggest a change that forces the subquery would be evaluated separately.
- @smitpatel suggested it would be cleaner

[2017-04-26 21:15] AndriySvyryd commented on #8275
I think it would be reasonable to bump up the default retry count to 6 to match the current recommendation.
I don't think EF retries this error by default. You could try increasing the timeout in the connection string.

[2017-04-26 22:01] dbarwikowski opened #8293 "Promoting column in hierarchy"
Promoting ForeignKey in hierarchy doesn't work as expected:
http://stackoverflow.com/questions/43645374/promoting-column-in-ef-code-first-tph

[2017-04-26 22:26] smitpatel opened #8294 "SqlServer: Switch to managed code for SqlClient"
SqlClient 4.3.0 on netcoreapp2.0 does not work on windows 7/SqlServer2008 (See https://github.com/dotnet/corefx/issues/18406)

As a work-around, upgrade to 4.4.0 package was suggested.

SqlClient 4.4.0 on netcoreapp2.0 with MARS enabled hangs. (See https://github.com/dotnet/corefx/issues/18997)
To avoid having build break, work-around to use native code as suggested here https://github.com/dotnet/

[2017-04-26 22:26] smitpatel commented on #8294
Blocked by https://github.com/dotnet/corefx/issues/18997

[2017-04-26 22:45] smitpatel commented on #8294
This reverts changes made by #8291

[2017-04-26 23:11] smitpatel commented on #8287
@ComptonAlvaro - For the thing you are seeing with scaffolding is result of https://github.com/aspnet/EntityFramework/issues/7956

[2017-04-27 00:31] ajcvickers opened #8297 "Generate boilerplate logging code from metadata file"
See the code added for event IDs and logger extensions in https://github.com/aspnet/EntityFramework/pull/8288

[2017-04-27 01:13] Eilon commented on #2274
@ajcvickers - should this bug be opened/closed/different milestone?

[2017-04-27 01:27] #2274 closed

[2017-04-27 01:52] divega opened #8298 "Perf: DbSetOperationTests.RemoveRange shows a 25% regression since April 8"
Just creating this issue to give us a chance to follow up.

![image](https://cloud.githubusercontent.com/assets/1253414/25464357/c469af5e-2ab0-11e7-95da-223a65e30d1d.png)

Note that it is still significantly more performant than EF6 on the same scenario and that many other benchmarks show significant (and mostly positive) changes in April 8 running on .NET Framework.

[2017-04-27 02:12] divega opened #8299 "Benchmarks: Some benchmarks have unstable results"
Some of our benchmarks produce considerably unstable results. For this reason they tend to show up in trend reports as possible regressions. Among others:

- SimpleQueryTests.LoadAll
- SimpleQueryTests.Where
- SimpleQueryTests.OrderBy
- SimpleQueryTests.Projection
- SimpleQueryTests.ProjectionAcrossNavigation
- SimpleQueryTests.SkipTake
- SimpleQueryTests.Include (only observed on .NET Framework,

[2017-04-27 03:16] imadyTech opened #8301 "asp.net core issue: "The configured user limit (128) on the number of inotify instances has been reached.""
Describe what is not working as expected.
I use Asp.net core (Microsoft.NETCore.App 1.1.0 + MySql.Data.EntityFrameworkCore) on both Ubuntu 14.04/16.04. The MVC works well but the database request failed after some times (around 100 queries). I was first blaming the Mysql and switched to Dapper, untill the bug was reported again after several dotnet restarts.

If you are seeing an exception, includ

[2017-04-27 07:29] shaulbehr opened #8302 "2.0.0 Preview causes InvalidOperationException in navigation properties"
I have a working project using EF 1.1.  I branched off and upgraded to 2.0.0 preview 24623 (which was latest available at this time of writing).  Regrettably I couldn't get past my integration test setup because of some other changes that appear to be broken by the way I'm declaring my relationships:
[code]
Firstly, I know I shouldn't have to declare those relationships in both entities, but I've

[2017-04-27 07:29] shaulbehr commented on #7944
@ajcvickers Done
https://github.com/aspnet/EntityFramework/issues/8302

[2017-04-27 08:00] Axioma-ShirokovPN commented on #7315
Yes, it works in **aspnet-1-1-2-may2017-patch-public**
Thank you.

[2017-04-27 08:37] Axioma-ShirokovPN commented on #7576
I try to test it again with **aspnet-1-1-2-may2017-patch-public** and it not works.
I have many UDDT with name TypeId, but in different schemas and I have the same error:
**An item with the same key has already been added. Key: TypeId**

[2017-04-27 09:03] kierenj commented on #8275
Ok, that's all understandable.

Although... this is the first time I've come across one of these "transient" problems with SQL Azure*, and out-of-the-box, the flag which I assumed was designed for this kind of cloud scenario, didn't cover the right timeout period, or cover the type of error I encountered.

I understand if it's not a part of the plan (though it would be a plus, depending on other p

[2017-04-27 10:08] ErikEJ commented on #8298
@divega Just curios: What happened on April 8?

[2017-04-27 12:38] TsengSR commented on #7674
Thanks @ajcvickers! This one bite me too and I spent 4 days trying to hunt it down, until I finally realized that the `.SetField` call is being ignored and EF Core always used the Navigation property!

Pushing the `.SetField` and `SetPropertyAccessMode` after the relationships worked as a workaround.

[2017-04-27 13:20] topfunet commented on #7397
I have same problem when i binding dbset.local to a datagrid in wpf.
Now i can't delete item through _context.xxx.remove(), can anyone help?

[2017-04-27 15:56] quixoticaxis opened #8303 ".NET Native: UWP code works in Debug but throws when compiled in Release"
Hello.
I'm sorry if this is a duplicate but I didn't find exactly the same issue. Here's the code (counting unread messages in the folders):

[code]
(`db.Messages` is a `DbSet` that contains `DbMailMessage`s which have a property `Flags` of type `DbMailMessageFlags`).
This code works fine in Debug but throws an exception when compiled in Release mode with .Net Native toolchain.

`System.ArgumentEx

[2017-04-27 16:17] swt-das opened #8304 "Incorrect SQL Generation: Missing parenthesis with Contains() and nullable collections"
In a Where of the form `Where(e => SomeCheck && nullableList.Contains(e.SomeNullableProperty)` the generated SQL code is missing parenthesis therefore generating incorrect results.

Assume an entity like:
[code]
and the following LINQ:
[code]
This generates:
[code]
which is missing parenthesis around [e].[SomeValue] IN (100) OR [e].[SomeValue]. Due to this, every entry where SomeValue is null is r

[2017-04-27 16:22] lajones commented on #7576
@Axioma-ShirokovPN I'm afraid the fix for this only went into the 2.0.0 release, not the 1.1.2 release. So it is not available in the aspnet-1-1-2-may2017-patch-public feed.

[2017-04-27 16:28] ajcvickers commented on #8293
SO question was removed, so closing.

[2017-04-27 16:42] ajcvickers commented on #8298
Possibly this? https://github.com/aspnet/EntityFramework/pull/8070

[2017-04-27 16:49] ajcvickers commented on #8301
@silentrock When you say, "switched to Dapper, untill the bug was reported again after several dotnet restarts." do you mean that you still see this when using Dapper instead of EF Core?

[2017-04-27 16:54] ajcvickers opened #8305 "Revisit concurrency detector"
Need to make sure:
* If async paths are intended to be serialized, then make sure this works for all async paths--i.e. done at appropriate level
  * Consider overhead for doing this when there really isn't any async code in the async path--i.e. when Task.FromResult is used.
* New code paths that have been added after the concurrency detector was introduced are making the right calls into the detec

[2017-04-27 16:56] ajcvickers commented on #8206
@lajones Can you verify whether or not this repros with SQL Server? If it doesn't, then let's close this and open a Postgresql bug.

[2017-04-27 16:59] ajcvickers commented on #8271
Note from triage: Consider adding strategy for column-constraint-based Sequence.

[2017-04-27 17:00] ajcvickers commented on #8277
@DJDA In the one you say is not working, the connection string is nested under Logging. It wouldn't expect to be found there. This seems like it is by-design to me, but if you still feel there is an bug, then please file an issue in https://github.com/aspnet/Configuration

[2017-04-27 17:10] rajeshj18 commented on #245
Hi, am new to EF Core (1.1).  currently my app is in EF and is using lot of stored procedures.  these stored procedures return a complex resultset meaning they don't directly map to a table entity in DB.
Can you point me to some examples where the SP returns a custom resultset which is not same as DB entity.

i have few other questions related to this.

1. Can i use DBSet statement is like this -

[2017-04-27 17:12] DJDA commented on #8277
@ajcvickers Thanks! The JSON nesting mistake was the issue.  Appreciate the response.

[2017-04-27 17:14] rmarskell commented on #245
@rajeshj18 As far as I know this is not yet supported. See [this comment](https://github.com/aspnet/EntityFramework/issues/245#issuecomment-219793551).

[2017-04-27 17:26] rajeshj18 commented on #245
@rmarskell thanks for the reply.  just to confirm, "**_EF core 1.1 does not support calling sps which return resultsets which are different from db entities_**".  is that correct statement?

in above discussion is @maclax not trying to do the same thing?

can you shed some light on #1 and #2 questions above?

Thanks.

[2017-04-27 17:36] gsGabriel commented on #8206
@ajcvickers I discovered one possible cause of the problem. I created a test scenario where I create a new database and rebuild all tables with an sql script. When I did this the reverse engineering was correct and the composite keys were generated. I researched a bit more and realized that reverse engineering fails when there is a cache in the PostgreSQL database. For some reason it does not gene

[2017-04-27 18:23] #8192 closed

[2017-04-27 18:32] smitpatel commented on #8192
@lajones - Everything going into dev now is 2.0.0 milestone. We already branched.

[2017-04-27 18:34] lajones commented on #8192
@smitpatel Sorry - selected wrong dropdown. Thx for fixing.

[2017-04-27 18:36] AndriySvyryd commented on #8275
@kierenj We do retry on failure during the connection opening, but the exception you got is not considered retryable because it's generated on the client side and you have a different mechanism to set the timeout there.
We try to handle as many transient failures as possible by default, but we don't want to swallow any exceptions that might not be transient.

[2017-04-27 18:43] ajcvickers commented on #7939
We did some investigation and thinking on this today and we have decided to create nominal types for all our payloads. This will mean:
* There is a place we can easily document what the types are
* Our normal processes for detecting breaking changes will just work without anything special being needed
* Consumers can use the payloads in a performant and type-safe manner without needing any proxies

[2017-04-27 18:59] vancem commented on #7939
I think having explicit types is very reasonable.

My recommendation is that they call get put into a namespace that ends with 'DiagnosticSource'  Thus

namespace System.Data.YYY.DiagnosticSource {
public class EventXXXData {
     string PayloadItem1;
     int PayloadItem2;
}
}

[2017-04-27 19:20] ajcvickers commented on #8206
Thanks @gsGabriel Closing this.

[2017-04-27 19:21] tomerpeled opened #8306 "Provider - How to override boolean query"
What will be the easiest and correct way to override a boolean query expression from using '1' to use 'true'? (In EFCore provider code)

For example:
`ctx.Players.Where(p => p.IsActive).FirstOrDefault();

`
Currently it generates:
[code]

And I would like it to generate:
[code]

Thanks,
Tomer

[2017-04-27 19:37] ErikEJ commented on #8306
I think you can override:

            protected override void GenerateLiteralValue(StringBuilder builder, bool value)

In your implementation of RelationalSqlGenerationHelper

[2017-04-27 19:47] tomerpeled commented on #8306
Great! That works :)

Thanks

[2017-04-27 19:57] divega commented on #214
Regarding

We believe that this could help improve the performance of building the model quite a bit. Currently our benchmarks show that build the model is marginally slower than EF6:

### InitializationTests.BuildModel_AdventureWorks

![image](https://cloud.githubusercontent.com/assets/1253414/25501839/f8a25b3e-2b48-11e7-8886-17dfeb7d48bc.png)

cc @AndriySvyryd

[2017-04-27 20:00] #7588 closed

[2017-04-27 20:07] bricelam commented on #8280
Discussed yesterday and it should work with all frameworks if you're using the 2.0 SDK.

[2017-04-27 20:15] maumar commented on #8304
this is legitimate bug and it repros in the current code

[2017-04-27 20:31] divega commented on #8299
I noticed that in many of the benchmarks the EF Core results are unstable while the EF6 results are very stable, which makes me suspect the spikes could be a symptom of something EF Core is doing differently.

[2017-04-27 20:32] bricelam commented on #8164
We will no longer attempt to call `Startup.ConfigureServices` directly. Use `Program.BuildWebHost` or `IDbContextFactory` instead.

[2017-04-27 20:41] chaitanyabagrait opened #8308 "Scaffolding using Entity Framework"
I created a new project of asp.net core web application using .net framework.

Then I created a model with its attribute and also have created a key in the model.

When I am trying to scaffold using the entity framework which adds controller and view I am getting error. Please find the error attached with this question.
error
![error](https://cloud.githubusercontent.com/assets/28116901/25503409/39

[2017-04-27 20:41] divega opened #8309 "Perf: Some query benchmarks currently show slower results than EF6"
This is the full list of EF Core query micro-benchmarks that present results slower than EF6:

- FuncletizationTests.SameQueryInstance:
- SimpleQueryTests.Projection:
- SimpleQueryTests.SkipTake:
- SimpleQueryTests.Where:
- SimpleQueryTests.ProjectionAcrossNavigation
- SimpleQueryTests.OrderBy
- SimpleQueryTests.LoadAll
- SimpleQueryTests.Include
- NavigationsQueryTests.PredicateAcrossOptionalNavi

[2017-04-27 20:43] bricelam commented on #7050
@Eilon @ajcvickers Do we want to try and get this into 2.0.0-preview1 too? The work for `Program.BuildWebHost` (#8164) has broken the internal APIs Scaffolding was using...

[2017-04-27 20:46] bricelam commented on #7050
(and possibly 1.0.4 & 1.1.2)

[2017-04-27 20:50] ajcvickers commented on #7050
@bricelam Without this, what is broken?  When you say "Scaffolding" I'm not sure which "Scaffolding" that is--reverse engineering, or asp.net scaffolding?

Why would we put it in 1.0.4/1.1.2? What is broken there that this would fix?

[2017-04-27 20:57] bricelam commented on #7050
The Scaffoding repo. Anything they use a DbContext for is broken.

I'll add back an overload to maintain compatibility in 2.0.0-preview1.

[2017-04-27 21:04] maumar commented on #8304
Problem is that currently Contains with on array with null value(s) is converted into OrElse(InExpression, IsNullExpression) and revisited. SqlGen assumes parens are not needed for this case (we only add them if the left side of binary expression is another binary expression).

Instead of this approach (rewrite and revisit) we should handle the InExpression translation right away (or perhaps add s

[2017-04-27 21:53] poke commented on #245
@rajeshj18 @rmarskell Please read this issue. As I repeatedly explained above, consuming stored procedures *is* possible with EF Core but requires you to set up the *entity type* (not a `DbSet`). This is the case because EF can only materialize entities that are defined in the database context (using the model builder).

I’ve written [an answer on Stack Overflow](http://stackoverflow.com/a/4308803

[2017-04-27 22:42] divega opened #8313 "Perf: DbSetOperationTests.Update benchmark with AutoDetectChanges off shows EF Core is slower then EF6"
The difference is of about 25% in the last 10 days:

### DbSetOperationTests.Update
#### AutoDetectChanges Off
![image](https://cloud.githubusercontent.com/assets/1253414/25507217/8f56f592-2b5f-11e7-87ed-b9ffc9c10458.png)

Note that perf. results for the same test with AutoDetectChanges On are significantly better:

### DbSetOperationTests.Update
#### AutoDetectChanges On
![image](https://cloud.gi

[2017-04-27 23:07] #7353 closed

[2017-04-27 23:38] sethen opened #8315 "Argument types don't match for queries projecting conditional expression with anonymous type result"
I am using a query in my repository which you can view at this gist: https://gist.github.com/sethen/c1f3cb54e50eb36b696a1f4d79d1670c#file-gistfile1-txt-L23 which is similar to the query I found in issue #5522 -- unfortunately I am still getting the same error.  Here is my stack trace:

[code]
Essentially I just want to be able to work with nullable properties on my models in a sane way.  The issue

[2017-04-27 23:49] sethen commented on #8315
Tried upgrading to 1.1.1 to see if it would fix the issue but it didn't.

[2017-04-28 01:02] ajcvickers commented on #8188
@WilliamABradley I was able to run the application, but I am not able to make it fail with the exception you are seeing. What I am seeing is that the DbSet properties on the context are null, so I get an ArgumentNull exception instead. But as of yet I can't figure out why the DbSet properties are null--this should never happen. I will do some more investigation tomorrow, but if you have any additi

[2017-04-28 01:26] romulonissola opened #8316 "dbset.Include does not working in Memory database"
When I use in memory database for testing, dbset.Include("entity") always return null, when I use sqlserver provider the same code works.

### Steps to reproduce

these are the options of my DbContext
[code]
When I Use next code, my company returns  null

[code]

these are my classes to understand better my scenario

[code]

### Further technical details
EF Core version: inmemory(1.1.1)
Database P

[2017-04-28 03:07] bricelam commented on #8280
Should be unblocked by the next CLI build.

[2017-04-28 06:18] smitpatel commented on #7539
@AndriySvyryd - Can I poach this?
Solution: Remove discriminator column when no base type & no directly derived type?

[2017-04-28 06:21] smitpatel commented on #8151
@AndriySvyryd - Can I poach this?

[2017-04-28 06:22] smitpatel commented on #6828
Can I poach this? :trollface:

[2017-04-28 06:24] smitpatel commented on #7177
Can I poach this? :trollface:

[2017-04-28 06:24] smitpatel commented on #7238
Can I poach this?

[2017-04-28 06:26] smitpatel commented on #7240
can I poach this?

[2017-04-28 06:29] smitpatel commented on #7608
Can I poach this?

[2017-04-28 06:30] AndriySvyryd commented on #7539
@smitpatel You can poach all of my issues, no need to ask upfront.
The proposed solution is correct.

[2017-04-28 06:30] smitpatel commented on #7095
@maumar @anpete - Is this important enough for 2.0?
If yes then can I take this?

[2017-04-28 06:31] smitpatel commented on #3736
@maumar - This is somewhat related to our discussion from today.

[2017-04-28 06:42] divega commented on #8298
@smitpatel looked a the the changes that come in in those days and we believe another change that could have had widespread effects was the switch to netcoreapp2.0, but we are not sure it can explain a change in perf on .NET Framework.

[2017-04-28 06:44] maumar commented on #7499
fixed in c6a0602deb525e85e91ce069066b165ff57fe8fe

[2017-04-28 06:44] #7499 closed

[2017-04-28 06:46] smitpatel commented on #7499
@maumar - Please file a bug for clean up too.

[2017-04-28 07:21] ErikEJ commented on #245
@poke How little code is required in ModelCreating method, it looks a bit unclear from your SO reply

[2017-04-28 07:42] maumar opened #8318 "Query: Clean-up logic around RemoveConvert"
Currently the way we use RemoveConvert in some of the visitors is not very robust. We sometimes remove converts when visiting expression but not bring it back, which can lead to compilation errors for some scenarios where converts are explicitly added by customer.

At the moment we have helper methods for creating EF.Property, member access and assignment that compensates for discrepancies, howeve

[2017-04-28 07:56] poke commented on #245
@ErikEJ You would set it up like any other entity that exists as a table in the database—except that it has no table, so you don’t need to care about things like table name or index configurations. You can set up the entity either using the FluentAPI inside the model builder, or use the data annotations. This is explained in the [modeling section of the documentation](https://docs.microsoft.com/en

[2017-04-28 08:08] maumar commented on #3736
it might also be due to incorrect assumption in the QM lifting, i.e. lifting casts is not always safe

[2017-04-28 08:34] ComptonAlvaro opened #8319 "When I remove entities in the dbContext, they are still in navigation properties of the entities"
I have two entities like that:

[code]

In EF 6, if do this:

[code]
When I delete the entity02 from the dbContext, the entity02 is also removed form the navigation property myEntity01.Entity02.

However, if I do the same in EF Core, the entity02 is deleted from myDbContext.Entity02 collection, but it still is in the property myEntity01.Entity02 property, so I have to delete it manually.

In my ca

[2017-04-28 10:55] rodchenkov opened #8320 "EnsureCreated when multiple DbContext in one database"
Hi All

I have integration test project and I need to create test database based on 3 DbContexts.

My code:
`
identityDbContext.Database.EnsureCreated();
configurationDbContext.Database.EnsureCreated();
persistedGrantDbContext.Database.EnsureCreated();
`

As a result only tables for first DbContext (identityDbContext) created.

Can you please provide solution on how to solve this?

[2017-04-28 12:24] h4ck-rOOt opened #8321 "Scaffolded Controller throws exception for already tracked item (PUT Method)"
During the implementation of a REST-API with EF Core and ASP.NET Core, i found some strange behavior of the "Entry" function in DbContext. After updating some values of the same object (with id 1), EF Core throws an exception...

[code]

### Steps to reproduce

First of all i have two models called "LectureItem" and "PackageItem" used in my DbContext:
[code]

I want to change some of the propertie

[2017-04-28 13:45] iJungleboy opened #8322 "SQL for string-updates sometimes uses nvarchar(450) if a string field is used in an index (not key)"
Entity Framework Core auto-generates SQL-Statements to cause updates to happen. When a string-value is used as a key, it will by default use nvarchar(450) instead of nvarchar(max).

The problem is that this also happens in a few (but not all) code generated for string values which are in an index (instead of a key). Specifically, the temporary table which is used in the SQL for merge operations wi

[2017-04-28 14:56] ajcvickers commented on #8320
Dupe of #2874 (See comments at the end for what to do instead.)

[2017-04-28 15:05] ajcvickers commented on #8322
Note for triage: this looks like another manifestation of #6835

/cc @divega @AndriySvyryd

[2017-04-28 15:58] bricelam commented on #7004
I briefly looked into this, and I think if we merge them we need to rework some of the architecture to favor composition over inheritance. Right now, providers inherit a base implementation for generating C#, but a better factoring might come if we just ask provider's for the fragments of C# they need to provide. This would push all of our C#-generating code into EFCore.Design, and the contracts f

[2017-04-28 16:35] anurse commented on #7944
Verified fixed in 1.1.2 candidate build.

[2017-04-28 16:48] anpete commented on #7095
Looks easy so sure.

[2017-04-28 17:06] anurse commented on #7889
Verified fixed in the 1.0.1 candidate build of dotnet-ef.

[2017-04-28 17:20] ajcvickers commented on #8316
@romulonissola I took the code you posted and put it into the console app below, making minimal changes to make it comple. It works as expected. Can you look at the repro and see what I am missing that makes it fail in the way you are seeing?

[code]

[2017-04-28 17:29] ajcvickers commented on #8319
@ComptonAlvaro This difference in behavior from EF6 is intentional. With EF Core, the deleted entity is still removed from the collection, but it happens at SaveChanges time when the entity is actually deleted. The call to Remove just marks the entity for deletion--it doesn't actually remove it. The behavior that EF6 has makes certain things very hard because it results in "shredding" the graph--i

[2017-04-28 17:37] ajcvickers commented on #8321
@h4ck-rOOt The context can only track a single instance of any given entity. If you have an instance that is already being tracked, then you must decide how to merge the two instances into one--for example, copy the property values from one into the other. (There are some methods to help with these things if you drill down into the EntityEntry API.)

As to why the context is already tracking an in

[2017-04-28 18:06] ajcvickers commented on #8230
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-28 18:13] ajcvickers commented on #8275
Increase retries to cover one minute.

[2017-04-28 19:07] saf-itpro opened #8324 "Data type issue on Enumerable.Sum(TSource) method"
**Environment**: EF-Core 1.1, VS2015, Windows 10 (updated from Windows 7)

I'm getting the following error on LINQ Query shown below:
`Unable to cast object of type 'System.Double' to type 'System.Nullable`1[System.Single]'`

**LINQ**:
var `totalFreight =
    (from cust in db.Customers
       join ord in db.Orders on cust.ordID equals ord.OrdID
      select ord.Freight).Sum();`

**NOTES**:

1.  I'

[2017-04-28 19:10] smitpatel commented on #8324
@maumar

[2017-04-28 19:18] ajcvickers commented on #8322
@iJungleboy What is the actual column type for Value?

[2017-04-28 19:19] ajcvickers commented on #8322
@iJungleboy Also, does the index IX_EAV_Values2 containing the column actually exist in the database, or is it only defined in EF?

[2017-04-28 19:51] smitpatel commented on #8289
I investigated this and there seems to be nothing wrong with test. The exception happens in `EnsureCreated` which is used in almost all tests and by many customer. Perhaps some random environment situation caused it but it never reproduced again.
Closing for now because there is nothing actionable.

[2017-04-28 19:54] AndriySvyryd commented on #8322
@AndriySvyryd Try using nvarchar(max) for all TVV columns in SQL Server 2008

[2017-04-28 20:32] maumar commented on #8324
dupe of #7136 which is fixed in 1.1.2

[2017-04-28 21:06] bricelam commented on #7835
FYI, these may be going away in 2.0.0. (See #8326)

[2017-04-28 21:22] ajcvickers commented on #8308
Moved this to https://github.com/aspnet/Scaffolding/issues/465, since this is the repo for controller scaffolding.

[2017-04-28 21:28] #8275 closed

[2017-04-28 21:34] maumar commented on #8063
Verified fixed in 1.1.2 candidate build.

[2017-04-28 21:35] smitpatel commented on #6828
@AndriySvyryd - Suggested doc comment here?
`The maximum delay between retries.` ? or do we want to include timespan too?

[2017-04-28 21:47] bricelam commented on #8164
After #8314, #8326 & dotnet/templating#705 are merged, the 2.0.0-preview1 work for this item is done. We'll gather feedback and see if we need to do anything more in this area.

I'll file a new issue to reflect the work that was done for 2.0.0-preview1 and move this one into 2.0.0 for to follow up.

[2017-04-28 21:51] ajcvickers commented on #8319
@divega Following discussion in triage I tested what actually happens. 😺 It is as described above--no navs get changed before SaveChanges. After SaveChanges we are a bit inconsistent. What is supposed to happen is that anything still tracked (i.e. the entity not deleted) will have its navs fixed up. For a Blog/Post model, this works if Post is deleted--it still points to the Blog afterwards, but t

[2017-04-28 21:56] AndriySvyryd commented on #6828
Timespan is implied, so the first suggestion should be ok.

[2017-04-28 22:10] bricelam opened #8328 "Tools: Remove logic to invoke Startup.ConfigureServices"
The ASP.NET Core templates are changing in a way that breaks how `dotnet ef` and the PMC commands invoke `Startup.ConfigureServices()` at design-time to discover and instantiate `DbContext` derived types.

A new design-time entry point of `Program.BuildWebHost()` is being added, and we're considering adding first-class support for it in #8164.

We're taking this opportunity to try a much simpler d

[2017-04-28 22:10] bricelam commented on #8164
Filed #8328

[2017-04-28 22:38] maumar commented on #7899
Verified ported to 1.1.2 candidate build.

[2017-04-28 22:50] maumar commented on #7516
Fixed dbe6b2846bc81e2653605eb4c2b6b4a7987848e5 in a sense that we no longer throw for this case and log Ignored Include warning instead

[2017-04-28 23:25] ajcvickers commented on #8188
@WilliamABradley I was able to reproduce the issue and do some investigation. Things I tried:
* Using EF 1.1.2, which has some Reflection fixes--didn't help
* Using Native 5.3.3--didn't help
* Using LINQ but forcing client eval at various levels--didn't help. (A simple ToLIst on the entity set repros the problem.)
* Even FromSql (`cache.TVDBSeries.FromSql("select * from TVDBSeries").ToList();`) ha

[2017-04-28 23:37] smitpatel commented on #6206
@maumar - Can you do a quick check if this is fixed after new include compiler ?

[2017-04-28 23:38] smitpatel commented on #6159
@anpete - Is this same as in-memory like we have?

[2017-04-28 23:39] #7238 closed

[2017-04-28 23:39] maumar commented on #6206
Yes, that is indeed fixed, closing

[2017-04-28 23:40] smitpatel commented on #5278
@anpete @ajcvickers - dupe of #6304 which is already fixed. Close this?

[2017-04-29 00:13] mguinness commented on #6482
+1 This was available in EF6 using [context.Database.Log](https://msdn.microsoft.com/en-us/library/dn469464%28v=vs.113%29.aspx?f=255&MSPPError=-2147217396).

Ricardo Peres' blogged about [getting it](http://blogs.msmvps.com/ricardoperes/2016/08/30/implementing-missing-features-in-entity-framework-core-part-5-getting-the-sql-for-a-query/) using reflection.

[2017-04-29 00:16] divega commented on #8319
@ajcvickers if I understand correctly, what you are proposing makes sense. What do you think the priority is? Should we try to do it for 2.0?

[2017-04-29 02:30] ajcvickers commented on #8319
@divega I think it's small enough to fit in 2.0--let's chat on Monday.

[2017-04-29 02:31] #6206 closed

[2017-04-29 02:34] bricelam commented on #8164
*Inlining @ajcvickers's [comment](https://github.com/aspnet/EntityFramework/pull/8326#issuecomment-298123593).*

Think we need a better message that indicates that this has happened not because they did something "wrong" but because we have made a change in how things work in 2.0. Probably with a fwlink to docs on how to convert. But happy for all this to happen later.

[2017-04-29 02:49] bricelam opened #8331 "Design: Allow open generic implementations of IDbContextFactory"
I'm still not sure if this is a good idea, but it sounds cool. Imagine the following.

[code]

Then, any context you used `.AddDbContext()` on in `ConfigureServices` would light-up at design-time without additional code.

There is one big downside I can see to this: What if you don't want a particular context to use it? (e.g. you want it to use its own factory or just its default constructor.

[2017-04-29 02:56] bricelam opened #8332 "Tools: Flow arguments into IDesignTimeDbContextFactory"
We've enabled the ability for arguments to be passed into the Create method (via a `string[] args` parameter), but we need to think through the design of how they get specified on the command line.

For `dotnet ef` and `ef`, I think it's obvious: any unknown argument will be passed verbatim.

    dotnet ef database update --connection-string "Data Source=prod.db"

It gets a little more complicated

[2017-04-29 03:00] bricelam commented on #8332
Another harebrained idea I had was to apply a convention to the unknown arguments. For example, `-ConnectionString` would magically be translated `--connection-string`, but this falls down if someone tries to take advantage of PowerShell's case-insensitivity `-connectionstring` or ability to under-specify `-Conn`.

[2017-04-29 03:15] ajcvickers commented on #8188
@WilliamABradley Had an idea while napping and just tried it. I replaced all the nullable enums in the model with `int?` properties. Success! So I hope this means two things:
* You can unblock yourself by making this change in your model--you'll have to add a few casts where you use the properties, but from what I could see it didn't seem too bad.
* We now have a more concrete lead as to what is n

[2017-04-29 03:17] WilliamABradley commented on #8188
@ajcvickers That's awesome! I'll let you know if I run into any more issues. Would be another solution be two replace the nullable Enums with Enums that have a default of say "Unknown"?

[2017-04-29 03:22] #8328 closed

[2017-04-29 03:33] ajcvickers commented on #8188
@WilliamABradley Possibly, but I didn't try that.

[2017-04-29 03:39] WilliamABradley commented on #8188
@ajcvickers Do I need to change the properties in the actual model, or does changing the Types in the migrations work?

[2017-04-29 04:08] WilliamABradley commented on #8188
@ajcvickers FYI I got it working by switching my Nullable Enums with Nullable Ints :)
Thanks for the help.

[2017-04-29 04:13] maumar opened #8334 "Query: fix edge cases around Cast/OfType result operator lifting"
There are some issues around result operator lifting, specifically Cast and OfType:

1.) cast used as type validation doesn't always throw when it should, e.g.:

[code]

when run on the client it will throw, because not every gear is an officer. However it works fine on sql sever, even though during QM optimization we turn this to:

[code]

2.) Before we try to lift cast, we handle OfType, by upda

[2017-04-29 05:59] Murf commented on #7801
I  have this problem even after a dotnet restore

[2017-04-29 13:53] Tratcher opened #8335 "An exception was thrown while deserializing the token."
_From @1amirjalai on April 29, 2017 13:30_

 System.Security.Cryptography.CryptographicException: The key {xxxxxxxx} was not found in the key ring.

Im running asp.net core on a webfarm using redis as dataprotection.
after getting error like this from redis
 Timeout performing EVAL, inst: 9, queue: 1448, qu: 0, qs: 1448, qc: 0, wr: 0, wq: 0, in: 65536, ar: 0, clientName: xxxx
 i opt in to make red

[2017-04-29 13:54] Tratcher commented on #8335
Woops, tool error.

[2017-04-29 14:56] divega commented on #8331
A few more thoughts on this:
- Generic factories don't help with discovery of `DbContext` types, i.e. in order to use them we need to have discovered the type of the context first. This is a reason to introduce a non-generic one.
- Having more than one factory that can be used for a given `DbContext` type is a problem. How do we decide? Options:
  - Just prefer a non-generic if available. Consider

[2017-04-29 15:15] ComptonAlvaro commented on #8319
So if I understand correctly, the actual behavior will be changed? I mean that now if a blog is deleted and its collection is cleared, the post still point to the blog. This behavior will be changed? Anyway, I think that this is not coherent because one navigation is changed (the collection of the post) but the post still points to the blog.

I guess that it would be better clear all or not clear

[2017-04-29 15:39] divega commented on #8331
@bricelam in the snippet, the class is missing the generic argument :smile_cat:

[2017-04-29 15:40] paradisehuman opened #8336 "Is there a way to migrate in .netstandard with Xamarin.Forms package ?"
Hi.
I have a .netstandard Model layer that referenced from Xamarin.forms
I set Xamarin.Forms package in Model layer => `PrivateAssets="All"`
My .netstandard Data layer referenced from Model layer.
When I run this command in PowerShell :

`dotnet ef --startup-project ../Eela.Web/ migrations add v1`

I have this error :

Even I'm using :
`<PackageTargetFallback>$(PackageTargetFallback);portable-win+

[2017-04-29 17:03] smitpatel opened #8337 "Command line build flavour with only .Net core switch"
Since, net46 tests on command line are terribly slow for EF. (SQLite.FunctionalTests takes ~8 mins, SqlServer.FunctionalTests takes ~12 mins) And they run much faster in TD.net, create a command line option to run tests for netcoreapp only. Which combined with TD.net testing in VS provides full coverage.

@anpete

[2017-04-29 17:28] maumar commented on #8334
2.) can be addressed by removing all Cast operators that come before the given OfType, but that potentially makes 1) worse

[2017-04-29 19:01] #6802 closed

[2017-04-29 23:35] romulonissola commented on #8316
Hi @ajcvickers , Found my problem, thanks for show for me my error, I am disposing my context every time then my test is losing my company, and the inmemory don't have fk error, I don't see the real error, I will show an example of my error, see below.

[code]

[2017-04-30 02:17] ajcvickers commented on #8316
@romulonissola Couple of pointers:
* Don't use `UseInternalServiceProvider` unless you really need to. If you really need to, then I would love to get feedback on the scenario you have that needs it.
* If you are going to use `UseInternalServiceProvider`, then create one (or a very small number) and cache it/them. Otherwise it will defeat all EF's internal caching, which will result in poor perfor

[2017-04-30 06:15] silentrock commented on #8301
@ajcvickers Yes the Dapper also has similar issue. The difference is, there is no incremental number of inotify instances if use "lsof -p dotnetpid |wc -l" command to check the total opened instances. Therefore, asp.net core website works well normally, till I repeated publish-upload-deploy cycle for several times and the error will appears. Restart dotnet will not solve the error, unless you rest

[2017-04-30 06:39] maumar commented on #7516
Reactivating and sending for re-triage - we might end up supporting this scenario in the future

[2017-04-30 06:42] Zonciu opened #8340 "Tracking object Add/Remove in a List"
I want to manage a table in a single class object which contains a List member, and make it traceable when I add or remove items.

[code]
In this class, each Organization object in Organizations can be persisted to database when I update the its data, but EF can't detect the list's change when I add/remove item in Organizations.

Is there any way to do this?

[2017-04-30 10:04] activebiz commented on #365
Any update on this ?

[2017-04-30 15:11] PeteX commented on #4526
I know there are lots of things it would be nice to support, and limited developer time, but it's a shame this one is missing.  Apart from this, my code is entirely database-independent, but it's hard to implement upsert without database support.

The usual pattern is that you try to insert, and whether it succeeds or fails, you know the relevant row is in the database.  You can therefore pull it

[2017-04-30 18:58] ComptonAlvaro opened #8342 "OnDelete restrict doesn't allow me delete an entity"
I have two entities, one parent entity and one child entity. The relationship between both are this:

[code]

But when I try to delete the parent entity I get an error that says that I can't delete the parent entity because it doesn't allow to set null values. I have to configure the OnDelete if I want to delete the parent entity. If I set on cascade, then I don't have problems or I can delete OnD

[2017-04-30 20:29] mesurajyadav commented on #7138
Have you executed Update-Database command from executable project? Running that migrations command from library project gives same error.

[2017-04-30 21:31] mejiamanuel57 commented on #7889
I just installed **System.Diagnostics.DiagnosticSource** and **System.Collections.Immutable** from the NuGet Package Manager, and everything is working :)

[2017-04-30 21:33] mejiamanuel57 commented on #7358
I just installed System.Diagnostics.DiagnosticSource and System.Collections.Immutable from the NuGet Package Manager, and everything is working :)

[2017-04-30 23:29] ajcvickers commented on #8197
@divega The diagnostics payload already contains "recordsAffected", which comes from DbDataReader.RecordsAffected. Is this different from what you are asking for?

[2017-05-01 01:17] divega commented on #8197
@ajcvickers if the information is there and is correct for all SELECT queries then we shouldn't need anything else.

[2017-05-01 06:59] iJungleboy commented on #8322
@ajcvickers The real type is nvarchar(max), and no, it was not in the DB index at all, that must be a minor bug in the DB-First model generation.

@AndriySvyryd As noted the column is already nvarchar(max) and the SQL version is 2012

[2017-05-01 09:20] SergeBerwert commented on #3748
+1

[2017-05-01 13:29] eriksteinebach commented on #3748
+1

[2017-05-01 15:38] bricelam commented on #7801
@Murf can you submit a new issue detailing as much information about your project (versions, frameworks, runtimes, etc.) as possible?

[2017-05-01 15:47] bricelam commented on #8336
What does your `*.csproj` file look like?

[2017-05-01 15:48] bricelam commented on #8336
Also, have you tried installing the `Microsoft.EntityFrameworkCore.Tools` package and using the `Add-Migration` PMC command?

[2017-05-01 15:53] paradisehuman commented on #8336
@bricelam
[code]
I solved it by removing Xamarin.Forms dependency,
In fact I wanted the Command.cs class in Xamarin.Forms ,and I got the Command.cs source and copy paste it t to my code and I used it.

No i didn't use Add-Migration. I will test it . thanks any way.

[2017-05-01 15:59] bricelam commented on #7138
The following `project.json` will create a standalone .NET Standard library. The `dotnet ef` command doesn't work on standalone projects and has many limitaitons on .NET Standard libraries.

[code]

Whereas this `project.json` will create a portable, .NET Core application. This is supported by `dotnet ef`.

[code]

[2017-05-01 16:06] bricelam commented on #8336
Oh good. I'm glad you were able to solve it. It looks like the `Xamarin.Forms` package uses some MSBuild tasks that are incompatible with the `dotnet` command.

[2017-05-01 16:08] bricelam commented on #8336
You could probably workaround it by updating the reference to look like this:

[code]

[2017-05-01 16:10] paradisehuman commented on #8336
@bricelam Thanks . I will test it ...
`Add-Migration` in PMC doesnt use MSBuild ?

[2017-05-01 16:14] johnkwaters opened #8343 "Problem with case sensitivity when querying a view"
I know Views are not fully supported, but I have a simple view that I am querying, and found to my suprise that it is case sensitive. When querying a table, it is not. I am using Azure DB, and looking at the debug output, I can see that in the table case, there is a WHERE clause with CHARINDEX, and since the Azure DB collation is case insensitive this works. However, when the entity is a view, tha

[2017-05-01 16:14] bricelam commented on #8336
Not directly; it uses the Visual Studio SDKs instead.

[2017-05-01 16:20] paradisehuman commented on #8336
@bricelam
[code]
Worked like a charm ... Thank you ...

[2017-05-01 16:31] paradisehuman commented on #8336
@bricelam We have a proverb in Persian that says : "Nosh daro bad az marge Sohrab"
It means : eating drug to someone after his death .
But it will help me in future work probably.

[2017-05-01 16:34] smitpatel commented on #8343
@johnkwaters - EF doesn't do special processing just because EntityType is view and not a table. Client eval happens when EF cannot translate the Where clause to SQL. Please post your queries used against table & view.

[2017-05-01 16:41] johnkwaters commented on #8343
I build the SQL dynamically, this is what I see output:

(QueryContext queryContext) => IEnumerable<int> _ToSequence(
    element: int Count(
        source: IEnumerable<vwTenantDTO> _Select(
            source: IEnumerable<ValueBuffer> _Where(
                source: IEnumerable<ValueBuffer> _ShapedQuery(
                    queryContext: queryContext,
                    shaperCommandContext: Se

[2017-05-01 16:43] johnkwaters commented on #8343
I am programatically building the expression analog to 'where name contains 'searchString''
Basically by using the string.Contains method.
THis translates to CHARINDEX for the tables
For the view it doesnt

[2017-05-01 16:44] johnkwaters commented on #8343
![view](https://cloud.githubusercontent.com/assets/3422637/25586116/b64da22c-2e52-11e7-9fb1-cfbbba9ffc93.png)

[2017-05-01 16:46] johnkwaters commented on #8343
The vwTenantDTO project to looks like:

`    public class vwTenantDTO : TenantDTO
    {
        /// <summary>
        /// The number of kiosks in this tenant
        /// </summary>
        public int NumKiosks { get; set; }
        /// <summary>
        /// The number of users in this tenant
        /// </summary>
        public int NumUsers { get; set; }
        /// <summary>
        /// The numb

[2017-05-01 16:46] johnkwaters commented on #8343
With

`    public class TenantDTO : IEntityId
    {
        /// <summary>
        /// Unique ID
        /// </summary>
        public int Id { get; set; }
        /// <summary>
        /// The name of the Tenant
        /// </summary>
        public string Name { get; set; }
        /// <summary>
        /// The type of tenant
        /// </summary>
        public int TenantTypeId { get; set; } =

[2017-05-01 16:50] johnkwaters commented on #8343
One difference is that the fluent table declaration specifies a unique index on that Name field, where as the view version doesnt

[2017-05-01 17:14] ajcvickers commented on #8340
@Zonciu Can you be more specific about what you are attempting to do? I think iy would be helpful to show some more code indicating how you are updating the entities/list and what you expect to be persisted and where they should be persisted.

[2017-05-01 17:25] ajcvickers commented on #8342
@ComptonAlvaro Agree the documentation is confusing. We will take a look at making it better.

You should have no trouble deleting a parent entity if it has no children. If the parent entity does have children, and the FK is non-nullable, then deleting the parent will cause an error because the constraint on the children means that they cannot continue to exist without the parent. This is the same

[2017-05-01 17:30] ajcvickers commented on #8197
@divega It's the value from the DbDataReader as it is being disposed. Can you be more specific about how it might be incorrect so I can write tests for that, or we can file bugs to do so? Likewise, can you be specific about what you want me to test for "all SELECT queries".

[2017-05-01 17:32] ajcvickers commented on #8322
@iJungleboy Would it be possible to get a repro that caused this index to get reverse engineered? Hopefully, if you can post the table definitions we can do it from there.

[2017-05-01 17:40] bricelam opened #8344 "Tools: .NET Standard 2.0 Class Libraries (without a Startup project) don't work"
Using the tools (`dotnet ef` or PMC) on a `netstandard2.0` class library project (without a concrete startup project) will throw the following exception.

    System.IO.FileNotFoundException: Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.
    File name: 'netstandard, Version=2.0.0.0, Cultu

[2017-05-01 17:41] bricelam commented on #8280
Tested. Everything looks good. Just one issue with `netstandard2.0` class library projects: #8344

[2017-05-01 17:41] #8280 closed

[2017-05-01 18:08] ComptonAlvaro commented on #8342
I understand that. But in my case, if I set restrict and I get all the childs from database, if I delete the childs in the dbContext and the parent too, I get this error. It is true that the database doesn't allow null values in the relationship, but I get all the childs from database and I delete them. So why I get this error? EF should allows to delete them, and if a new child is add while I am

[2017-05-01 18:21] ajcvickers commented on #8334
@maumar Can you write down some of the ideas we discussed in triage?

[2017-05-01 18:55] #7177 closed

[2017-05-01 18:55] #6828 closed

[2017-05-01 19:01] ajcvickers commented on #8290
@spottedmahn Can you be more specific about what you are seeing? Do you get an exception? If so, what is the message and stack trace? Or does something else happen? If so, what?

[2017-05-01 19:04] ajcvickers commented on #8301
@silentrock Based on our initial analysis we believe this is likely an issue with either the MySQL provider, or some layer of MySQL below the provider. You might want to try filing an issue here: https://bugs.mysql.com/

[2017-05-01 19:22] maumar commented on #8334
We should force client eval on Cast operator to mimic its type asserting functionality. However, some queries inject unnecessary casts, e.g.

[code]

we should strip casts for those cases (where the cast type is the same as element type of EntityQueryable

[2017-05-01 19:23] divega commented on #8197
@ajcvickers I mean all queries, e.g. LINQ, `FromSql()`, and other APIs that can return multiple rows in results. If we do this consistently for the queries we execute as part of `SaveChanges()` that is a plus.

One of my concerns is that over the years I have seen APIs similar to this property be a bit fragile and fail to report the actual row count, depending on providers and or the text in the q

[2017-05-01 19:41] maumar commented on #7516
Modified the original fix in 2e4e138572404ed936eb6e75cde4ed40a8ba6096. Now we throw NotSupportedException with a better explanation, rather than just log a warning.

[2017-05-01 19:47] ajcvickers commented on #8342
@ComptonAlvaro With regard to, " I get all the childs from database, if I delete the childs in the dbContext and the parent too, I get this error." I am not able to reproduce this. If I mark the parent and all the children as deleted, then EF will delete them all. Here is the code I used to try to reproduce what you are seeing. Maybe you can look at this and try to see what is different from your

[2017-05-01 19:49] ajcvickers commented on #8342
@ComptonAlvaro Agree that the documentation is confusing. At runtime, EF doesn't really treat Restrict and SetNull differently.

Note for triage: this is the enum we have, which is used directly by the OnDelete method in Code First:
[code]

[2017-05-01 19:58] ajcvickers commented on #8197
@divega Okay, thanks I get what you are saying now. I checked the code and AFAICT we we always get this event and have this available whenever we use a data reader--we don't have different data reader paths, even in update.

However, marking this for re-triage to decide how much work to do report the "real" value when ADO.NET doesn't give us back something useful.

[2017-05-01 20:01] smitpatel commented on #8343
@johnkwaters - I am not able to reproduce this. With table and view both, I was getting contains translated to server. Unique index causes no effect on queries so that is not the reason. There may be something different in your model which is causing failed translation. Can you modifying following code so that it reproduces the issue you are seeing.

I used following code
[code]

[2017-05-01 20:03] divega commented on #8331
We discussed in triage that we may want to morph this interface into something that facilitates discovery as well as instantiation of `DbContext` types. As it stands `DbContext` types registered in the service container in an ASP.NET Core application but defined in assemblies other than the startup project wouldn't be discovered. And that is a wasted opportunity since in the implementation of `Cre

[2017-05-01 20:13] zahik commented on #6426
+1.
Same problem.

[2017-05-01 20:17] bricelam commented on #8344
Hmm, after updating to use the same trick we used on netstandard1.x (running on netcoreapp), it still doesn't work. You just get a different exception:

    Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Linq, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does not match the assembly referenc

[2017-05-01 20:23] bricelam opened #8349 "Tools: Better support for .NET Standard projects"
Since .NET Standard 2.0 projects are broken (#8344), we can take this opportunity to rework how we handle .NET Standard class library projects in the tools when you don't specify a startup project.

The heart of the issue is that .NET Standard is an abstract framework and doesn't contain all of the assets necessary to execute assemblies.

One way to fix this is to, behind the scenes, make the proj

[2017-05-01 21:21] maumar commented on #7435
dupe of 6451

[2017-05-01 21:37] bricelam opened #8350 "Design: Update Logging interception mechanism"
The mechanism we were using to intercept Logging messages at design-time (ILoggerFactory.AddProvider) and report them to the user in the tools was obsoleted in aspnet/Logging#605.

After discussing, we all agreed that using a decorator/wrapper pattern over `ILoggingFactory` should instead be used to intercept the messages.

[2017-05-01 21:38] bricelam commented on #8350
See PR #8323 for the places that need to be updated.

[2017-05-01 21:55] bricelam commented on #8349
We may be able to leverage `GenerateDeps.proj` which is part of the .NET Core SDK.

[2017-05-01 22:26] jimwheaton commented on #1862
@verdie-g Thanks for providing that. It's working for me.

[2017-05-01 22:46] divega commented on #8332
@bricelam would something like this work for PowerShell?

[code]

Ideally I want to be able to copy and paste command line arguments I use for invoking the application into one argument of the PowerShell command and only make minimal edits.

[2017-05-01 22:50] #8337 closed

[2017-05-01 22:56] bricelam commented on #8332
Yep. That would work too.

[2017-05-01 22:58] bricelam commented on #8332
(assuming you swapped the parenthesis and quotes)

[2017-05-01 22:59] bricelam commented on #8332
You'd also need to handle argument quoting and escaping yourself. Whereas with the array, we could handle that for you.

[2017-05-01 22:59] smitpatel commented on #8315
@sethen - Please share your DbContext & model classes esp. Analysis, Comment, Game, Reward, Matchup.

[2017-05-02 00:59] hqywork commented on #7177
What is the 'poach'?

At 2017-04-28 14:24:14, "Smit Patel" <notifications@github.com> wrote:

Can I poach this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.