[2017-01-04 15:43] JDunaganFL commented on #7345
Stupid question for you: did you dotnet restore before trying the add migration?

[2017-01-04 16:37] mgolois opened #7351 "How to get Database Column type in EF 1.1?"
Hello,

I am working in a .netcore EF Core 1.1 app and I would like to loop through the properties of a given entity before saving in order to get each property database column type. Is it possble? if so, how should I approach this?
Thanks,

Golois

[2017-01-04 17:03] bricelam commented on #7339
From the stack trace, this looks like a bug for the [dotnet/cli](https://github.com/dotnet/cli) repo. Could you  [submit a new issue](https://github.com/dotnet/cli/issues/new) there so they can follow up?

[2017-01-04 17:10] bricelam commented on #7346
Try moving `Microsoft.EntityFrameworkCore.Tools` to `dependencies` (not `tools`--confusing, I know).

[2017-01-04 17:14] bricelam commented on #7345
Does adding `-Verbose` give any additional information?

[2017-01-04 17:30] ajcvickers commented on #5912
@divega It probably makes senses to look at the generic parameters regardless of whether the JsonObject stuff actually works right now. Re-opening to triage.

[2017-01-04 17:33] ajcvickers opened #7352 "Design: Look at generic parameters when generating namespace using directives"
In various places where we generate code we look at the namespaces of the types used in order to generate using directives. This was done in #5912, which has the details of where we do this. However, if the type is generic, then we should also generate using directives for the namespaces of those types.

[2017-01-04 17:34] ajcvickers commented on #5912
Decided to create a new issue (#7352) for this instead so we don't lose release information for where this one was fixed.

[2017-01-04 17:34] #5912 closed

[2017-01-04 17:45] ajcvickers commented on #7319
@avikenjale I wrote this test app against SQL Server and it seems to work. Can you run this using MySQL and see if you get different results? If so, it is probably an issue with the MySQL provider and I would suggest filing a bug against that provider.

[code]

[2017-01-04 18:01] ajcvickers commented on #7259
@asadsahi When you say, "Save changes method was being called, but for some reason it wasn't auditing entities." can you explain a bit more what you mean by "it wasn't auditing entities?" Which part of the AuditEntities method was not working? For example, was `ChangeTracker.Entries<IAuditable>()` returning no values? Or something else?

[2017-01-04 18:08] ajcvickers commented on #7332
Note for triage: confirmed this is a bug.

[2017-01-04 18:16] ajcvickers commented on #7333
@sjb-sjb Thanks for the detailed comments. I think what you are asking for is covered by issue #626.

I suspect you are already aware of this, but you can `context.ChangeTracker.Entries<TEntity>()` to get state information for all entities of a given type--not sure if that is what you meant by iterating over all entities in the DbSet, but it is better than using the DbSet directly since it will ne

[2017-01-04 18:47] maumar commented on #7284
duplicate of https://github.com/aspnet/EntityFramework/issues/6534

[2017-01-04 18:49] maumar commented on #6534
Per information in #7284, this is a regression introduced in 1.1. Should we move this to 1.1.1? @divega

[2017-01-04 18:53] ajcvickers commented on #7334
@kall2sollies Thanks for the very good bug report. The reason for this is that in 1.1 whenever we determine that an entity should be Added because it does not have a key set, then all entities discovered as children of that entity will also be marked as Added. In this case, the entity in the join table is new and marked as Added, and hence the Place entity also ended up being marked as Added. This

[2017-01-04 18:59] divega commented on #5912
@ajcvickers makes sense. Thanks.

[2017-01-04 19:35] dandax commented on #7215
@divega Can you let us know how you tried to repro? I ran into the same issue. My solution has two projects: one is a data project that contains only EF entities and dbcontext, and the other is an MVC project. Try to run Update-Database on my Data project and it fails with the same error.

[2017-01-04 19:47] divega commented on #7234
**EF Team Triage:** We discussed this and we believe we should try to support this query and the translation to `DISTINCT` on the server.

[2017-01-04 19:51] divega commented on #7238
**EF Team Triage**: We believe we shouldn't warn, at least if the key was created explicitly in shadow state. We can discuss what to do if we would ever create the key by convention, but we can't remember if we ever do that.

[2017-01-04 20:04] divega commented on #7249
**EF Team Triage:** We believe that the user creating a non-unique index explicitly is a reasonable way to assert that they don't want a unique index to be created. So we should do this. The auditing scenario could also be enabled with model-level filters.

[2017-01-04 21:30] ajcvickers commented on #7336
Fixed.

[2017-01-04 21:30] #7336 closed

[2017-01-04 21:33] divega commented on #7215
@dandax I was referring to a more recent version of our tools which works with MSBuild based projects and @bricelam is working on. @bricelam may be able to provide more details.

[2017-01-04 21:37] divega commented on #6534
Thanks @maumar. Moved.

[2017-01-04 21:44] Allann commented on #7347
Further information for this:

- If I remove the line   `b.Property(p => p.IsActive).HasDefaultValue(true);`  from the CarrierConfiguration mapping file, the test begins to pass.
- If I update the record after the initial create, the record updates successfully.

[2017-01-04 21:52] divega commented on #7337
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-01-04 22:01] maumar commented on #7304
The issue that we project all columns after Left Join is tracked here: https://github.com/aspnet/EntityFramework/issues/6647

[2017-01-04 22:07] ajcvickers commented on #7340
Notes for triage: This is the case where there is an identifying relationship where where the dependent PK is also the FK. The application loads an existing principal and dependent and then attempt to replace the dependent with a new entity--i.e. reference stealing. This requires deletion of the old dependent followed by insertion of the new dependent, where both have the same key.

This worked in

[2017-01-04 22:13] maumar commented on #7304
For the second part of the problem, try:

[code]

We automatically inject null-ref protection if you use navigations (e.g. deviceLog.Device.AssetNumber), but you need to add them yourself if you manually construct LOJ (via SelectMany-GroupJoin-DefaultIfEmpty call)

[2017-01-04 22:17] jcramer commented on #7347
I am having the exact same issue using v1.1 using SQL express.  It does seem like a bug because when I set the default value to "false" using the fluent API `HasDefaultValue(false);` the implemented value of true is not overwritten by the db's default value.  Do experience this same thing? Or does this overwriting occur regardless of using true or false as the default value?

I found the following

[2017-01-04 22:19] ajcvickers commented on #7344
@vaindil The DbContext is registered as scoped, which means that:
- Services that depend on it cannot be singletons
- A scope must be created and the DbContext (or any services that depend on it) must be resolved from that scope.

[2017-01-04 22:21] ajcvickers commented on #7082
Note for triage: schema to repro provided above.

[2017-01-04 22:22] vaindil commented on #7344
@ajcvickers The `UserService` is scoped, so is the problem that the middleware is (I assume) a singleton? If that's the case I can try to figure that out and close this issue as it's not an EF problem.

[2017-01-04 22:27] ajcvickers commented on #7347
Dupe of #7089. Short answer is to use a `Nullable<bool>` property. This lets EF know to use the default value if the property is set to null, otherwise insert the value that has been set.

[2017-01-04 22:28] jemiller0 commented on #6214
Can you add a line to the feature comparison chart at https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features stating that automatic migrations aren't supported in EF Core? The chart specifies that migrations are supported on both, but, doesn't specify that automatic ones aren't.

[2017-01-04 22:36] ajcvickers commented on #7349
@Dixin You need to tell EF that the column is set up to generate values using something like:
[code]

(Note that EF at runtime doesn't actually care what string you pass to HasDefaultValueSql; it just has to know that there is something there in the database. The string passed will be used if you ever use Migrations to create the database.)

[2017-01-04 22:45] jholovacs commented on #7346
@bricelam I just tried it, then ran `dotnet restore`, then the `add-migration` command.  Same message.

[2017-01-04 22:49] ajcvickers commented on #7351
@mgolois Assuming you have an entity instance called `entity` and the DbContext as `context`, then this should work:
[code]

[2017-01-04 22:54] jcramer commented on #7347
This worked for me. Thanks!

[2017-01-04 22:55] ajcvickers commented on #7249
Closing this as #7254 was created to track this issue.

[2017-01-04 23:02] tuespetre commented on #7344
@vaindil sounds about right; you can grab a scoped instance of `UserService` from `HttpContext.RequestServices` for a quick solution. I'm sure there are 'better' ways to do it with constructor injection and all, though.

[2017-01-04 23:19] bricelam commented on #5320
**Bad news**
The solution I had stopped working. You will have to use a separate startup project when working directly with .NET Standard projects. You will receive the following error.

**Good news**
They're adding a .NET Core (in addition to the .NET Standard) Class Library in Visual Studio 2017. The Entity Framework Core Tools will work as expected on these projects.

[2017-01-04 23:58] ChaosEngine commented on #7319
I haven't tested those exact test cases but my own example confirms that. Additionally column mapping is also not taking care of ColumnAttribute. Heres my test case:

### Mysql DB table:
[code]

### My Entity model:
[code]

Comments denote attributes which are useless because they **do not** work under **MySQL**.
With **SqlServer** the problems does not seem to exist; same model, same B definition

[2017-01-05 01:03] Eilon opened #7353 "CLI Tools: Honor ASPNETCORE_ENVIRONMENT"
_From @opensrcken on November 2, 2016 7:57_

Representative of the script I'm using when I encounter said bug.

[code]

`env.EnvironmentName` does not not seem to be aware of `ASPNETCORE_ENVIRONMENT` when running the second command. Instead, it is always set to `Development`.

_Copied from original issue: dotnet/core#327_

[2017-01-05 01:03] Eilon commented on #7353
_From @Petermarcu on January 5, 2017 0:51_

@Eilon , Where's the best place to track this?

[2017-01-05 01:04] Eilon commented on #7353
Bug might not be in EF, but at least we should start the investigation here.

[2017-01-05 02:17] Allann commented on #7347
me too.  thanks

[2017-01-05 02:19] divega commented on #7078
@Eilon as discussed we would like to ask if dotnet/corefx#11100 can be addressed in a patch release before we consider more impactful workarounds (e.g. changing dependencies of EF Core for the .NET Framework targets).

What would be the best way to drive towards a resolution? Would the "blocking-partner" label help?

Also the impact of these issues on applications using `Microsoft.Extensions` libr

[2017-01-05 02:38] Allann commented on #7089
@ajcvickers I understand your comment in #7347 but this is not a valid long term solution.  Let me explain the scenario (nothing to do with migrations).

I have an entity, it has a required boolean IsActive property in the domain object that is used by the DbContext.  However, in many cases this field is not included on dynamic objects that represent a subset of the domain (e.g. id, code, name) so

[2017-01-05 02:39] divega commented on #7078
Other issues related under aspnet:
- https://github.com/aspnet/Security/issues/1046
- https://github.com/aspnet/JavaScriptServices/issues/487

[2017-01-05 02:46] divega commented on #7089
@Allann I am not sure the scenario you are describing is what I have in mind, but consider that you can at the same time:
- make the property of type `bool?`
- configure the property as `IsRequired()`

That way the property on the entity can be null (meaning no value was supplied and the default specified in the model should be used) but the column created will not be nullable.

[2017-01-05 03:53] Allann commented on #7089
@divega You are completely correct in that that will "work-around" the issue, however, I don't want the domain object to rely on a particular database mapping to work.  I NEED the field to be not nullable as it is not allowed to be null.  What you are suggesting is the field is allowed to be null at some stage, as long as it's set before being sent to the database.  My viewmodel field is nullable,

[2017-01-05 04:22] Allann commented on #7347
Actually it doesn't.  "I have included this comment in the duplicate too"

@ajcvickers You are completely correct in that that will "work-around" the issue, however, I don't want the domain object to rely on a particular database mapping to work. I NEED the field to be not nullable as it is not allowed to be null. What you are suggesting is the field is allowed to be null at some stage, as long as

[2017-01-05 08:18] kall2sollies commented on #7334
Thank you @ajcvickers for the reply (and the compliment !). So the bahaviour is once more subject to change if I read you well ? Could you please tell us if that change is already milestoned in a future release ? I also think that since disconnected entities are a very common practice in modern web apps, the corresponding point in the docs should be detailed, according to each release (https://doc

[2017-01-05 08:24] JonPSmith commented on #7340
Hi @ajcvickers,

Thanks for the detailed explanation. I don't want to put any unessential work into your already heavy workload so I will change my example.

I would say that other people might bump into this as its a valid pattern (and it works in EF6), so if there is any way you reject this as a valid relationship might save some support issues.

[2017-01-05 12:05] subprime commented on #3797
@rowanmiller Do you know if Lazy Loading have a chance for R1.2? Is somewhere a list of features of R1.2 available?

[2017-01-05 13:39] codearoo commented on #7343
Hi... so....  is there another GitHub place that I should submit this bug to?

[2017-01-05 14:53] mgolois commented on #7353
did you try using "Setx" instead of "Set"?
http://batcheero.blogspot.com/2008/02/set-and-setx.html

[2017-01-05 15:08] shairozan opened #7356 "DotnetCLI commands not following same behavior as Application"
_From @shairozan on January 4, 2017 22:9_

## Steps to reproduce
Whenever we try to run a migration, it fails, complaining about the secrets.json file not being in the right location. Our DBContext has an onconfiguring override that allows us to select the connection string dynamically based on the environment variables in order to make Docker deployments more fluid.

The biggest issue is that sin

[2017-01-05 15:08] shairozan commented on #7356
_From @livarcocc on January 4, 2017 22:47_

Can you please move this issue here: https://github.com/aspnet/EntityFramework?

[2017-01-05 16:13] bricelam commented on #6214
@jemiller0 Can you [submit a new issue](https://github.com/aspnet/EntityFramework.Docs/issues/new) on the [aspnet/EntityFramework.Docs](https://github.com/aspnet/EntityFramework.Docs) repo?

[2017-01-05 16:16] bricelam commented on #7346
Would you mind sharing your project so we can investigate further?

[2017-01-05 16:43] avikenjale commented on #7319
I tried changing MySQL native package to `"Pomelo.EntityFrameworkCore.MySql": "1.1.1-prerelease-10009",` and **TableAttribute** works.  So issue is with MySQL libraries.

Not sure to whom should we report this issue.

[2017-01-05 17:05] mrozado opened #7357 "No executable found matching command "dotnet-ef""
I have changed my ASP.NET Core app to target .Net 4.5.2 (before it was a Net Core app) in order to support WCF Relay.

I have the Migrations and DB Context in a different project (With the Program.cs and everything) and was working fine before changing the target and updating.

Now, after upgrading EF Core and changing the target of the solution I get the message in the title.

Here is my project.

[2017-01-05 17:19] vaindil commented on #7344
@tuespetre Perfect, that's what I needed. `Startup.cs` stays the same, but I had to change the middleware to the format below. I made `_userSvc` not readonly and removed it from the constructor, then set it at the top of `Invoke()` using `context.RequestServices`.

Thank you!

[code]

[2017-01-05 17:23] mrozado commented on #7357
I can't update Tools to Tools.DotNet because the app is targeting .net 4.5.2

[2017-01-05 17:29] bricelam commented on #5320
Scratch that. It was an unrelated issue. .NET Standard class libraries will "work" (as much as they can)

[2017-01-05 17:39] avikenjale commented on #6926
I am using `Pomelo.EntityFrameworkCore.MySql`, as native MySQL library has some another issues like Data Annotations  **TableAttribute**, **ColumnAttribute**

[2017-01-05 17:41] tuespetre commented on #7344
You should use a local variable instead of a field to store the user service, otherwise your code is not thread-safe: request A begins and sets the field, but before it gets to the last line, request B begins and overwrites the field. Now when A gets to the last line, it's seeing the value written by request B.

[2017-01-05 17:45] vaindil commented on #7344
@tuespetre Shoot, good catch! I have a couple other functions in this middleware that are called by `Invoke()`, that's why I was using a field. I altered them to accept a `UserService` parameter and I'm passing the local variable now.

Thanks again!

[2017-01-05 18:24] bricelam commented on #7337
We don't currently detect entity type renames. We used to do this using fuzzy matching in EF6, but sometimes got it wrong. In EF Core, we decided that it's easier to rewrite dorp-add to `RenameTable` calls rather than sometimes having to change the rename to drop and add calls.

I think we could do something similar to #6582 here and detect them as a rename if *only* the name has changed and nothi

[2017-01-05 18:29] bricelam commented on #7353
We don't currently honor the `ASPNETCORE_ENVIRONMENT` environment variable. You should be able to get it working by using the following.

    dotnet ef database update --environment %ASPNETCORE_ENVIRONMENT%

[2017-01-05 18:32] bricelam commented on #7356
Could you share your `project.json`?

[2017-01-05 18:36] bricelam commented on #7357
Update your `tools` section to include `.DotNet`. You'll also need to use preview3 because of #7071

[code]

[2017-01-05 18:39] ajcvickers commented on #7334
@kall2sollies Since #6990 is fixed and in the 2.0 milestone it is scheduled to be released with 2.0. Just to clarify on breaking changes, everything EF7 was pre-release and we made a lot of behavior changes between all EF7 pre-releases and EF Core 1.0. The further change in #6990 is a breaking change we decided to take for the 2.0 milestone. which, since it is a major version change, may be expect

[2017-01-05 18:44] ajcvickers commented on #7340
@JonPSmith It is certainly a completely valid relationship. The question is whether or not to allow two entities with the same identity to be tracked at the same time. It weakens the concept of identity such that instead of just being based on the key value it needs to also include something else. EF6 doesn't have this problem because it doesn't give new entities identity until they are saved, but

[2017-01-05 18:46] ajcvickers commented on #7343
@codearoo If there is a memory leak coming from D.I., then you can file a bug on https://github.com/aspnet/DependencyInjection. It would be useful to create a standalone repro that shows the leak.

[2017-01-05 18:47] shairozan commented on #7356
[code]

[2017-01-05 18:47] ajcvickers commented on #7319
@avikenjale https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2017-01-05 18:50] tonyeung commented on #7332
@Dixin  thanks for the workarounds. Makes spending two hours trying to figure out if I was going crazy not so bad.

[2017-01-05 18:51] ajcvickers commented on #7089
@Allann With that rule, how does EF determine whether to include the value in the insert statement? Currently, EF includes the value if it set to something other than the CLR default for the property type.

[2017-01-05 19:14] davidfowl commented on #7343
The DI container keeps track of transient disposables. They won't go away until the container is disposed.

[2017-01-05 19:15] Eilon commented on #7353
@bricelam should we add support for that env var? It's a bit gross to tie the two together, but it's also a very common scenario to use EF in ASP.NET.

[2017-01-05 19:19] ajcvickers commented on #7343
@davidfowl Agreed, but in the original report above it is stated that the services are being disposed, which implies that the scope is being disposed, which from my quick look at the D.I. code should mean that the list of transients is cleared, which should mean that the memory is freed for GC. I haven't had chance yet to dig into what is actually happening and we haven't got a standalone repro ye

[2017-01-05 19:20] maumar commented on #7348
This happens because https://github.com/aspnet/EntityFramework/issues/6647 (left join on WidgetManufacturer)

However for this case we now produce incorrect results. Before the change, Distinct was done on the client, based on only one column and therefore produced the correct results. We should aim to fix this in 1.1.1 @divega

[2017-01-05 19:23] bricelam opened #7358 "EF Core Tools Bug Bash"
All the work we've done since last October finally shipped in version `1.0.0-msbuild3-final` of the tools. There has been significant changes to the code including support for the new MSBuild-based (and [CPS-based](https://github.com/dotnet/roslyn-project-system) in VS 2017) projects. We would love to get as many people testing this out as we can (both team and community members alike).

If you fi

[2017-01-05 19:38] bricelam commented on #7353
We should definitely consider it.

[2017-01-05 20:14] Dixin opened #7359 "In TPH inheritance, int discriminator does not work, exception is thrown when compiling query"
In TPH inheritance, string discriminator works, but int discriminator does not work.

[code]

When querying SupplierTansactions table, EF Core throws InvalidOperationException when compiling the query:

The reason is, in RelationalQueryModelVisitor.TypeIsExpressionTranslatingVisitor.VisitTypeBinary method:
[code]

The discriminator property PaymentMethodID becomes an **int?** property, but the dis

[2017-01-05 20:14] Eilon commented on #7353
I love definite maybes! 😄

[2017-01-05 20:24] mrozado commented on #7357
@bricelam I did and the following appeared

[2017-01-05 20:29] bricelam commented on #7357
Ensure you also have the [LTS .NET Core Runtime](https://www.microsoft.com/net/download/core#/runtime) installed.

[2017-01-05 20:30] Materix opened #7360 "Access to database in migration"
In our project we used migrations in environment with data which we don't want to lose. Actually we are forced to use some compression directly on model. I created migration where I connect to database and, using SqlClient etc., get, transform and save data.

Connection string is saved in config.json file. We also used another config file depend on environment.
Is it any possibility to access to c

[2017-01-05 20:42] bricelam commented on #7360
This isn't really how Migrations are designed to work. The `Migration` classes are merely a way of generating SQL scripts. Connecting to the database during this process would cause strange side effects since the script it's producing in the `Up` method wouldn't actually be executed until *after* the method has completed. You also don't want the database to be altered when it's generating the scri

[2017-01-05 20:45] #7241 closed

[2017-01-05 20:47] mrozado commented on #7357
Ok, after doing that on my pal's machine worked

[2017-01-05 20:47] mrozado commented on #7357
Thank you mate!

[2017-01-05 20:51] avikenjale commented on #7319
@ajcvickers , yes Pomelo is working as I mentioned earlier and started using it. However MySQL native has issues.  Thanks !

[2017-01-05 20:53] Materix commented on #7360
Some of transformation required by migration cannot be done in T-SQL. We have to pack part of data into json and then compress it by GZIP algorithm. As far as I know there is no build-in method to use GZIP in T-SQL until SQL Server 2016. Actually we use 2014.

We create 3 migrations to do that model transformation. In first we add new column, in second move data and in last remove old columns. All

[2017-01-05 20:59] bricelam commented on #7357
No problem. Sorry for all the trouble! We know it's painful, and we're working hard to make it great.

[2017-01-05 21:07] maumar commented on #7207
Verified that this was already broken in 1.0.2, moving out of 1.1.1

[2017-01-05 21:10] divega commented on #7319
cc @gmartinezsan as FYI.

[2017-01-05 21:13] divega commented on #7348
@maumar sounds good. Feel free to assign it.

[2017-01-05 21:18] ajcvickers commented on #7319
@avikenjale Sorry, I misread your message. Diego pointed you to the correct MySQL contact.

[2017-01-05 21:54] ajcvickers commented on #7227
This is fixed and merged. Leaving bug open until it is approved.

[2017-01-05 22:09] Allann commented on #7089
@ajcvickers Sorry, I thought the rule was fairly clear.  Let me try and rework that:

EF should only use the default if it is different to the CLR default like you say **BUT ONLY** when the property is not included in the insert statement **OR** is null on a nullable property.

[2017-01-05 22:11] ajcvickers commented on #7089
@Allann EF has to determine somehow which properties are included in the insert statement. How are you proposing that EF determine which properties to include in the insert statement?

[2017-01-05 22:23] jemiller0 opened #7363 "Iterating over DbSet<T> with .AsNoTracking() with SQL Server provider isn't streaming the data, it's reading it all into memory"
If I iterate over a DbSet and use either .AsNoTracking() or set the QueryTrackingBehavior to NoTracking to turn change tracking off globally, I expect the results to be streamed from the database server and not be all read into memory at once. The following is a simple example that would demonstrate the problem. You need to query a table with a large amount of data in it to easily see the results.

[2017-01-05 22:23] divega commented on #7340
FWIW, if we ended up leaning towards supporting this in EF Core I believe it should work in a completely different way from EF6:

- two entities tracked in the "current graph" of a context (e.g. added, modified and unchanged entities) cannot have the same identity
- entities that are tracked for the only purpose of being deleted are not part of the current graph so no reason they cannot have the s

[2017-01-05 22:30] bricelam commented on #7358
Exploratory testing on Ubuntu 16.04 looks good. I targeted:
- Child process interaction
- Console interaction
- Paths

[2017-01-05 22:31] Allann commented on #7089
@ajcvickers Correct me if I'm wrong but does EF not already determine which properties to include when it converts the objects into the SQL statement?  In that process does the SQL generator not determine what the property type and values are?
I have no idea about how that process works, hence these questions, otherwise I'd attempt to make the appropriate rule changes and send a push request. I'm

[2017-01-05 22:37] maumar opened #7364 "Query : ToString() method that takes a formatter argument should translated on the server"
Currently ToString calls with formatter (e.g ToString("X")) are translated to SQL and the formatter is ignored, we should instead translate it on the client.

[2017-01-05 22:40] jemiller0 commented on #7363
I just tried it with tracking enabled. It uses even more memory. You can see memory climb when it gets to the point where it's iterating over the records. With no tracking enabled, memory climbs before it even starts to iterate. It appears to load everything into memory first and then starts to iterate. I tried it with a different table. The first table I tested with had an XML field. So, I tested

[2017-01-05 22:42] ajcvickers commented on #7089
@Allann Yes, EF does do this already. It looks at the value of each property. If that value is different from the CLR default, then the value is included in the insert statement. If the value is the CLR default, then it is not included in the insert statement. (This is only for properties configured with store default values and is simplified a bit to keep it clear.)

Examples:
- string property,

[2017-01-05 22:48] codearoo commented on #7343
@davidfowl Well, how do we tell the container to stop tracking them? It would mean in any typical ASP.Net that is using The ServiceCollection and Transient objects would perpetually keep increasing in size? How can you throw the container away? Isn't it supposed to be created upon App startup and there permanently for other threads to use it to get objects?

[2017-01-05 22:52] HappyNomad commented on #7305
@ajcvickers As I understand, that line makes it required in the model but not necessarily in the relational database due to TPH mapping.  In the relational database, `null` _is_ a valid value for a FK that is not applicable.

As for what I expect with this model, firstly I expect it to not throw an exception.  Secondly, I expect it to insert null for the inapplicable FK.

[2017-01-05 22:57] ajcvickers commented on #7305
@HappyNomad Ah, I see what you are saying now. Will leave to @AndriySvyryd to investigate/comment any further.

[2017-01-05 23:07] Allann commented on #7089
As I see it most of those examples are correct except:

- int property, value 0 -> do not include in insert
- bool property, value false -> do not include in insert

How do you ever insert the CLR default value into the database if these columns has a default value then?  Should they be inserted and then updated with the CLR default?

Whenever the value is passed on a **value type**, regardless of

[2017-01-05 23:19] ajcvickers commented on #7089
@Allann What you said is a pretty good summary of the discussion in this thread. The other side of the argument is that the current behavior works very well for many scenarios--consider store generated keys with nothing special done in the entity type. Issue #7199 was created to discuss adding the ability to always push values even if they are the CLR default. As of now we discussed and do not pla

[2017-01-05 23:26] Allann commented on #7089
My only concern is that this redefines the legacy meaning of default constraints.  And in the example above, I would have to know implicitly to perform an additional update to set the Amount value to zero after the insert.
This is my biggest concern and until this is rectified I can't in good conscience recommend that our project teams upgrade to EF core as they would need to do a LOT of testing o

[2017-01-05 23:30] ajcvickers commented on #7089
@Allann That's fair enough. However, I'm not sure what you are "upgrading" from. EF Core has always had this behavior. EF6 and previous versions of non-core EF are a different product with different behaviors and there should be no expectation of compatibility between EF Core and EF6. A lot of things will work the same; a lot of things will work differently. Moving from EF6 to EF Core should be co

[2017-01-05 23:39] Allann commented on #7089
Thanks, that is becoming more and more evident.  Whilst the majority would be EF6 some other ADO from older applications would also be on the cards.   However, regardless of the legacy technology, and they all do things differently, there are many common rules adhered to, one is what a default constraint means.  Regardless of whether I'm nHibernate, EF6, ServiceStack's ORM or ADO, they all treat a

[2017-01-06 00:03] riezebosch commented on #4007
I've created this small framework to scan for N+1 queries and included the unit tests that validates this exact behaviour.

Examples: https://github.com/riezebosch/efcore-practices/blob/master/src/EFCore.Practices.Tests/SelectPlusOneVerifierTests.cs

Framework: https://www.nuget.org/packages/EFCore.Practices/

[2017-01-06 00:32] ajcvickers commented on #7116
This is fixed and merged. Leaving the bug open for patch approval.

[2017-01-06 03:24] jholovacs commented on #7346
@bricelam I gave you access to it, let me know who else needs it; I don't want to open it up to the world.  At this point it's a skeleton (trying to port/ improve an existing application to .NET Core but keep getting hung up on infrastructure) but it will eventually have proprietary code in it.

[2017-01-06 06:34] pmiddleton opened #7368 "Query: Added support for User Defined Scalar Functions."
I have added support for user defined scalar functions.

My fork can be found at https://github.com/pmiddleton/EntityFramework in the udf branch.

I am looking for feedback on this feature and if there is interest in it I will submit a pull request.

This update has three main features.

* User defined scalar functions. #4319
* The EntityFunctions feature from EF 6 #2850
* The ability to intercept

[2017-01-06 08:56] JulienM28 commented on #7227
Thanks.

[2017-01-06 09:46] mrozado opened #7369 "After EF and Identity EF upgrade, Add-migration removes Indexes and FK"
After upgrading EF from 1.0.1 to 1.1 and Identity the same, the first Add-migration I do removes like 5 indexes and 2 FK. And adds only 3 in the same Up method.
Out of these 5 Indexes removed, like 2 of them are from Identity origin (Role table)

Is this possible? Any ideas?

### Further technical details
EF Core version: 1.1
Database Provider: SQL Express 2016
Operating system: WIN10
IDE: VS2015

[2017-01-06 10:11] JonPSmith commented on #7340
Hi @divega,

Clearly there is an alternative to the one-to-one PK+FK pattern I am using and I will swap to that. For that reason this issue isn't a priority at all.

My only long-term concern is that the one-to-one PK+FK pattern looks and feels like a proper relationship until you try and change an existing relationship. All of my example code is a) simple and b) has a unit tests, so I caught this

[2017-01-06 12:40] PrashanthIBM commented on #5250
@gmartinezsan  : Was the issue resolved on this layer MySql.Data.MySqlClient ?

[2017-01-06 12:53] Reonekot commented on #7082
Just a "me 2" - I'm surprised this hasn't got any more mentions, as I think it breaks with any "real life" production databases. Half our tables has indexes that breaks and as we use database first and recreates the context on changes, hand editing is out of the question for us.

I have worked around it for now by removing all "entity.HasIndex" calls through a script (which I need anyway to rename

[2017-01-06 13:00] sbradley090877 commented on #7082
I gave up and just left entity framework as v1.01 until it gets fixed hopefully in a newer version

[2017-01-06 13:01] mrozado commented on #7369
Tryied rolling back the version of EF Core to 1.0.1 but:
Microsoft.EntityFrameworkCore.Tools.DotNet is not working:

And using the old Microsoft.EntityFrameworkCore.Tools says

[2017-01-06 13:48] intergleam commented on #1590
any update?

[2017-01-06 13:50] intergleam commented on #4119
come on, why would I use `FromSql`? I have a 3 page query generated by EF and I just need to replace `LIKE` to `CONTAINS`

[2017-01-06 13:51] intergleam commented on #4119
BTW the http://www.entityframework.info/Home/FullTextSearch is dead

[2017-01-06 14:13] roji commented on #1590
Posting link to [the PostgreSQL full-text search capabilities](https://www.postgresql.org/docs/9.5/static/textsearch-intro.html) for when design begins on this feature.

[2017-01-06 17:21] kudoz83 commented on #7082
@Reonekot - if we're discussing feelings on the matter -  The problem is that Database First feels like it is becoming a 2nd class citizen to Code First.  I can't imagine a high value project where I wouldn't *prefer* a qualified DBA managing the database, and that won't happen in a code first scenario.   Even as a start up we've structured our database processes to support growth in that directio

[2017-01-06 17:28] kudoz83 commented on #7082
@sbradley090877 in the team's defense - they did ask you to provide steps to reproduce, like 3 months ago.  Submit bugs, and then stay on top of them - it will be a big help to the rest of the community (I'm sure this fix would have made it into the 1.1 release for example had you followed up)

Just food for thought next time.

[2017-01-06 18:04] Hoshinokoe commented on #7215
@bricelam When new version of tools will be available through nuget ?

[2017-01-06 18:07] ajcvickers commented on #7340
I have been thinking about @divega's suggestion and I think it could be implemented without too high cost, both in dev time and in perf/mem usage. It would be nice to not have to do the additional SaveChanges in this case.

[2017-01-06 18:13] #6963 closed

[2017-01-06 18:17] Advanium commented on #2876
@rowanmiller Is there any update on this?

The [EF core documentation](https://docs.microsoft.com/en-us/ef/core/providers/sql-server/) states to install the SQL Server provider, yet the install fails on my UWP project:

One or more packages are incompatible with UAP,Version=v10.0 (win10-arm).

[2017-01-06 18:18] bricelam commented on #7215
See #7358 for details on trying out the next release.

[2017-01-06 18:31] ErikEJ commented on #2876
The SQL Server provider does not support UWP, as stated here: https://docs.microsoft.com/en-us/ef/core/providers/sql-server/

[2017-01-06 18:32] bricelam commented on #7346
Hmm... I'm not able to reproduce the error.

    PM> Add-Migration Test -Verbose
    Build started...
    Build succeeded.
    Setting app base path C:\Projects\YourProject\YourProject.Application\bin\Debug\netcoreapp1.0
    Finding DbContext classes...
    Using context 'ApplicationDbContext'.
    Writing migration to 'C:\Projects\YourProject\YourProject.DataAccess\Migrations\20170106182522_Test.

[2017-01-06 19:16] satyajit-behera opened #7370 "Allowing Partial Update of a model"
While updating a model (table), we have to fetch the entire model and then update a relevant field in the database. Otherwise, it will update all the other fields as default values in the model.

Will EF allow only selected fields to be updated from a model.

If I have an Employee model with fields
Id
FirstName
LastName
Age....etc,

Can I update only the field "Age" without fetching the entire mod

[2017-01-06 19:18] satyajit-behera opened #7371 "Command Interception"
When can we expect the simple command interception to be implemented in EF Core. In its absence, are there any work around of implementation of IsDeleted type of feature in EFCore?

[2017-01-06 19:20] divega commented on #7266
@AndriySvyryd looks like this could be a regression from previous behavior based on the title.

[2017-01-06 19:21] divega commented on #7268
Closing as this is a known limitation in SqlClient in non-Windows. There is a bug in corefx tracking this.

[2017-01-06 19:24] divega commented on #7276
@balachir do you know if the issue in the known issues list is fixed?

[2017-01-06 19:28] satyajit-behera opened #7372 "Provider for Document DB"
Are there any roadmaps for EF provider for Document Db?

[2017-01-06 19:31] divega commented on #7281
Please reopen if by "But tables where generated as expected with a migration" you mean that in a specific execution of the command work happened but there was no output.

[2017-01-06 19:37] divega commented on #7286
Closing as fixed since we have mitigated the issue.

[2017-01-06 19:37] #7286 closed

[2017-01-06 19:40] divega commented on #7288
@HaoK can you help with a repro here?

[2017-01-06 19:44] jholovacs commented on #7346
...well that sucks.  Maybe I have something stuck in cache.

[2017-01-06 19:44] divega commented on #7290
@maumar this could be related to another 1.1.1 issue you are working on.

[2017-01-06 19:49] divega commented on #7294
**EF Team Triage:** we discussed this and agreed not to make any changes. If the expected relationship configuration is different from what our conventions decide then the right solution is to configure the relationship explicitly.

[2017-01-06 19:56] divega commented on #7295
**EF Team Triage:** We won't do this now but we can revisit if we get information from customers that indicates that the warning can help.

[2017-01-06 19:57] divega commented on #7295
If we ever do this we should consider generating a TODO comment.

[2017-01-06 19:59] divega commented on #7297
@Biarity could you provide a repro project for this?

[2017-01-06 20:05] divega commented on #7306
@daviatorstorm could you elaborate on what your expectation is?

[2017-01-06 20:09] divega commented on #7307
@joshmouch could you try using `OrElse` instead of `Or`?

@smitpatel looks like this is a bug regardless of whether this works with `OrElse`, but we can discuss the priority if it does.

[2017-01-06 20:11] divega commented on #7309
`Microsoft.EntityFrameworkCore.Tools.DotNet` is supposed to go in the tools section (DotNetCliToolReference items in MSBUILD based projects) not as a dependency.

[2017-01-06 20:12] divega commented on #7310
@firedeepan can you provide a repro project?

[2017-01-06 20:13] divega commented on #7314
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-01-06 20:15] asleight commented on #7031
You CAN use "dotnet ef" in the Package Manager Console.

You just have to "cd" to the root directory of your project; where the .csproj file lives. (Or whichever one you're using.)

This is especially handy when using a .csproj, because commands like "Add-Migration" do not work for .csproj files (yet).

[2017-01-06 20:18] divega commented on #7319
https://bugs.mysql.com/

[2017-01-06 20:20] joshmouch commented on #7307
@divega I'm not sure I'd know how to easily do that.  I'm using a simple LinqKit method to add to the Expression.

[2017-01-06 20:30] atrauzzi commented on #7294
That's unfortunate.  I still say the majority of scenarios will prefer it the other way.  So this is going to result in more configuration code for the majority of scenarios.

[2017-01-06 21:30] bricelam commented on #7358
Testing netcoreapp1.1, cross-targeting & standalone apps looks good.

Interestingly, making an app standalone only affects publish now, so we can stop worrying about when working on our tools.

[2017-01-06 21:51] bricelam commented on #7031
Howdy, folks, if anyone is interested in trying out the next release of tooling, please see #7358.

[2017-01-06 22:16] flashrider commented on #7281
Exactly so divega. The complete output of the command I received are listed above and no sql where printed to output window even though the tables where generated as expected.

[2017-01-06 22:38] divega commented on #7294
@atrauzzi Just some context on our thought process. I am not expecting you to agree but it might help you understand why this decision.

When I look at the example you provided (`User`/`UserInformation`) it seems obvious that the model should be setup the way you expect. When I look at the example @ajcvickers provided (`Order`/`User`) it seems obvious that it should be the other way around. It is

[2017-01-06 22:50] divega commented on #7281
@bricelam do you think this is worth looking at or should we ask for a repro on the latest tools?

@flashrider would you be able to try this with our new bits? Details provided in #7358

[2017-01-06 23:44] ajcvickers commented on #7370
@satyajit-behera Attach the entities and then mark appropriate properties with something like:
[code]

[2017-01-07 01:30] atrauzzi commented on #7294
I think I understand even more than what you've said and yes, most of the explanation jives - except that you say "what makes most sense", and yet when you look at your peers in the ORM space, they landed on the other side.

_Why?  The tldr; is: Have another internal discussion and ask "Why?" - and be sure to get the honest answer for yourselves._

So:

 - Yes, my example makes sense, as does the

[2017-01-07 01:54] CsharpOnLinuxDev commented on #7309
Doesn't work either.

[2017-01-07 04:46] SilverioMiranda commented on #7335
I found duplicate : [https://github.com/aspnet/EntityFramework/issues/6647](https://github.com/aspnet/EntityFramework/issues/6647)

[2017-01-07 12:50] jnm2 commented on #7294
I'm not sure whether or not I agree with you, but on a side note if EF Core has shipped with this behavior, then it literally is too late to change unless they want to break their users and rev to v2.

[2017-01-07 15:14] atrauzzi commented on #7294
Okay.  Well, it's that very attitude that has ensured the same mistake was made twice.  At some point you have to break the cycle.  No matter what kind of reaction the user base is prone to.

Again, I don't think my list of benefits is mistaken in any way, so agree or not - and I still think the EF team is very bright - the rest of the community has outshone them.

It's okay to give in.  And in a

[2017-01-07 18:11] capiono opened #7375 "Make concurrency check handle re-entrance"
Getting exception below when making Async calls.

[code]

[code]

    "Microsoft.AspNetCore.Identity.EntityFrameworkCore": "1.1.0",
    "Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore": "1.1.0",
    "Microsoft.EntityFrameworkCore": "1.1.0",
    "Microsoft.EntityFrameworkCore.Design": {
      "type": "build",
      "version": "1.1.0"
    },

[2017-01-07 18:26] jnm2 commented on #7375
This is a common user error. No two sync or async operations can be in flight at the same time.

[2017-01-07 21:03] daviatorstorm commented on #7306
Sure. When creating such migration show warning like "You can lose your data when doing database update at 'TableName.ColumnName[CurrentColumnType]'". Then on update database command remove integer table column and add date time table column.

[2017-01-07 22:07] flashrider commented on #7281
@divega sorry but I cant. Refactored my project to classic asp.net.

[2017-01-07 23:27] jholovacs commented on #7346
@bricelam can you tell me how your VS is configured?  I installed the latest SDK and runtimes from the link you provided, and rebooted my machine.  I then wiped out the solution on my file system, re-cloned it from github, built it, and in the PMC I set the default project (the application project was the startup) to the DataAccess project, and the following is the result.  Perhaps there's another

[2017-01-08 00:03] shahafal opened #7376 "MissingMethodException when upgrading to entity framework core with mysql"
I have a working application with the following dependencies:
dot net core 1.0
entity framework core 1.0
mysql official connector 7.0.4-IR-191

due to a problem entity framework core 1.0 and mysql connector 7.0.4 have with the Contains method (see this issue: https://github.com/aspnet/EntityFramework/issues/6687)
i saw that there is a fix in the latest mysql connector 7.0.6 along with entity frame

[2017-01-08 01:33] davidfowl commented on #7343
@ajcvickers

An object dump or memory profile would be the way to see if it's still rooted by anything or if the GC just hasn't run yet.

@codearoo Transient disposable objects (not all transient objects).

Which one, there's a unique scope per request so if you make transient *disposable* objects in there they'll go away at the end of the request.

Call dispose on it.

Not sure what you mean.

[2017-01-08 06:13] hey-red opened #7377 "Shadow primary key"
Its possible to use "Single Navigation Property" with shadow primary key?
i.e:
[code]

[2017-01-08 07:17] CsharpOnLinuxDev commented on #7309
@divega I've created a project from scratch and tried everything including the suggestion you provided above and still having no luck.

[2017-01-08 14:29] sjb-sjb commented on #7333
Thanks for the reply. I agree that conceptually 626 covers my request, and I am glad to have this linked to that topic.

I would point out that there are existing hooks covering my ask, it's just that (a) they are not structured as DbSet events and (b) they are not part of the documented API. In addition I don't think that it is necessary to enable modifying entity state transitions on the fly (fo

[2017-01-09 03:56] saf-itpro opened #7378 "Adding new model to existing ones using Code First"
Currently I achieve the above - `using EF Core` - as follows.

**Question**: Is it the right approach in order to keep the data in the exiting tables intact. I feel I'm doing it rather a long-winded way. Any suggestions on alternate/correct ways of doing it?

 1. Create a new entity (model) and add a corresponding `DbSet<...>` entry in `myProjectContext.cs` file
 2. Delete existing migration from

[2017-01-09 07:47] kierenj opened #7379 "Runtime error (System.Runtime 4.2.0.0 not found) using nightlies"
As per https://github.com/dotnet/cli/issues/5242 - have narrowed down my issue to the EF Core preview1 packages.

Exception when using `dotnet run` is as follows:

[code]

If there's some guidance, notes or announcement I missed would you mind pointing me to it?  Have been happily running nightlies until I pushed a new build of my app to Azure a few days ago, whereupon some new version caused this

[2017-01-09 08:47] tonysneed commented on #7308
@ajcvickers Thanks, this helps a lot. With `e.InboundNavigation.FindInverse()` and `referenceToPrincipal.IsDependentToPrincipal()` I'm able to determine if the node is on the child-side of a one-to-many relationship.

I am also able to read the reference property of the node with `e.Entry.Reference(referenceToPrincipal.Name).CurrentValue`.  However, it is possible that the reference property is `n

[2017-01-09 11:38] axelheer commented on #7293
BTW, generic parameters seem not to be the root cause. I've had another crash with a very similar stack trace, but no time to reproduce it with a small sample like above.

[2017-01-09 15:08] avikenjale commented on #7319
Bug raised at MySQL
: http://bugs.mysql.com/bug.php?id=84423

[2017-01-09 15:40] gmartinezsan commented on #7319
@avikenjale Thanks for the report.. taking a look now.

[2017-01-09 16:24] bricelam commented on #7346
That looks like the standalone app issue. Ensure your `project.json` files **don't** have a `runtimes` section, and that the dependency on `Microsoft.NETCore.App` looks like this.

[code]

[2017-01-09 16:26] bricelam commented on #7346
Also, if you're ready to switch to VS 2017, you can try out the latest bits. See #7358 for details.

[2017-01-09 17:45] ajcvickers commented on #7294
@atrauzzi Are you saying you think this should be interpreted as 1:1 by default? If that is the case, then everything else you say follows on from that. However, it is also valid to interpret it as 1:*, which is what EF does. At that point there is no longer any choice where to co-locate the FK--it has to be on the dependent, and that has to be the entity without the navigation property.

[2017-01-09 17:51] ajcvickers commented on #7376
Dupe of #7223.

[2017-01-09 18:10] ajcvickers commented on #7377
@hey-red Yes, but it looks like currently you have to be more explicit about the relationship:
[code]

[2017-01-09 18:28] #7203 closed

[2017-01-09 19:16] divega commented on #7326
cc @pranavkm does this look like something we need to fix on dev?

[2017-01-09 19:18] divega commented on #7332
@ajcvickers I assigned this to 1.1.1 because I am not sure whether it is a regression. Please fix on the appropriate branch.

[2017-01-09 19:19] VladDragnea opened #7380 "Updating fails when using an identity column that is not a key"
I define an entity like this:
[code]
and a context like this:
[code]
If i use this context in the following way, it will fail on the second SaveChanges(), because EF will generate SQL to update the ClusteredId column.
[code]
[code]
If, when defining the model, I either specify ValueGeneratedOnAddOrUpdate() for the ClusteredId property, or use an alternate key instead of a unique index on the same

[2017-01-09 19:27] divega commented on #7342
@paradisehuman can you provide the full stack for the exception?

[2017-01-09 19:36] #7204 closed

[2017-01-09 19:38] divega commented on #7350
To things you can try:

- Use eager loading, i.e. `Include(b => b.Owner)`
- Write a query like this (I haven't actually tested it, but it should work):
[code]

[2017-01-09 19:42] divega commented on #7350
@Remleo BTW, we would be interested in understanding your scenario better, e.g. why didn't you use eager loading in this case.

[2017-01-09 19:49] divega commented on #7359
@Dixin are you planning to send a PR with the fix?

[2017-01-09 19:50] pranavkm commented on #7326
@pmiddleton - unfortunately the only time we update our build scripts is if the script directory ('.build directory) in the root of the repository is missing. To get new shared runtime versions, the only way to do this is to remove the directory and run `build initialize` to redownload it. That should in general sort this out. We're looking in to improving this experience since we run in to this a

[2017-01-09 19:51] divega commented on #7359
@Dixin also, does this repro with some specific query or with any query?

[2017-01-09 19:53] divega commented on #7359
Assigning to 1.1.1 based on the assumption that the whole scenario of integer discriminators could be broken, although we suspect there is something specific about this model or queries that make the bug surface. We can discuss moving it to a different milestone depending on those details.

[2017-01-09 20:03] divega commented on #7364
We could consider actually supporting translation in some specific cases.

[2017-01-09 20:04] ajcvickers commented on #7332
@divega Not a regression. OriginalValues did not exist before 1.1. :-)

[2017-01-09 20:05] divega commented on #7369
@mrozado can you provide more details, e.g. what indexes get removed? We did some work in 1.1.0 so that redundant indexes would not be created.

[2017-01-09 20:05] hey-red commented on #7377
@ajcvickers
I'm added foreign key and this works. Thx!
[code]
Also, maybe has another way to achieve shadow a principal key and foreign key in map b?

[2017-01-09 20:08] ajcvickers commented on #7377
Re-opening as the original case threw an exception, which was not the behavior I expected.

[2017-01-09 20:12] divega commented on #7378
@saf-itpro you should be able to add an entity and create a new migration. When this migration is applied it will not affect data in existing tables.

In summary, you don't need steps 2 and 4.

[2017-01-09 20:15] divega commented on #7379
Did the comment at https://github.com/dotnet/cli/issues/5242#issuecomment-271316426 address your issue?

[2017-01-09 20:18] divega commented on #7380
@AndriySvyryd can you investigate this? Feel free to move to a different milestone if it turns out to be something we should fix earlier than 2.0.0.

[2017-01-09 20:37] paradisehuman commented on #7342
@divega Thank you for your attention. My problem was solved. my relationship had problem. I changed my relation and everything working as I expected.

[2017-01-09 20:39] HaoK commented on #7288
@Biarity the UserId in IdentityUserLogin is the primary key for the ApplicationUser, the key for the UserLogin is defined as: `b.HasKey(l => new { l.LoginProvider, l.ProviderKey });` if you want to match how we do it by default in our EF DbContext:

[2017-01-09 20:45] mrozado commented on #7369
Yes, after researching a bit it seams to me what you said is what actually happened. Thank you

[2017-01-09 21:07] #7202 closed

[2017-01-09 21:17] divega commented on #7369
Thanks for confirming @mrozado.

[2017-01-09 21:20] divega commented on #7342
@paradisehuman Good to know. Thanks! I will go ahead and close the issue.

[2017-01-09 21:23] divega commented on #7326
Closing as answered but feel free to respond if this doesn't address the issue or create a new issue if you run into something new with the build.

[2017-01-09 21:43] asleight commented on #7345
I was having the same issues where EF components were not found. Try doing a `cd` to the project directory (where the VS Project file is) before running the command.

ie:
[code]

if you have more than one Context, be sure to specify it with:
`Add-Migration Initial --context MyDbContext`

[2017-01-09 21:44] #7049 closed

[2017-01-09 22:41] divega commented on #7309
@CsharpOnLinuxDev please provide a repro project and we will take a look.

[2017-01-09 23:22] bricelam commented on #7264
Tools changes done. We should review the runtime assemblies too.

[2017-01-09 23:23] anpete opened #7381 "Unable to build dev after cleaning test databases."
First error:

[code]

[2017-01-09 23:37] bricelam commented on #7310
@firedeepan The workaround for #7241 is to add the following to your csproj:

[code]

[2017-01-09 23:38] bricelam commented on #7310
You can also try it on the latest bits. See #7358

[2017-01-10 00:31] atrauzzi commented on #7294
@ajcvickers - That doesn't change or address any of my points about the default behaviour.

I know how it works.  I'm saying the way it currently works is the less frequent and less desirable default.

[2017-01-10 01:16] jholovacs commented on #7346
Thanks for walking me through this.  That made a huge difference.  I also had to update my global.json file to look like this:

{
  "projects": [],
  "sdk": {
    "version": "1.0.0-preview2-1-003177"
  }
}

...since I had updated my SDK per your recommendation.  It was almost anticlimactic when it generated the schema and subsequently updated the db.

[2017-01-10 02:34] JayGuAtGitHub opened #7382 "using EF, C# data doesn't match SQL Server db result"
### Steps to reproduce
you can use the following sql script to generate the test data(the database Saron is set as default)
[EF bug.sql.txt](https://github.com/aspnet/EntityFramework/files/695109/EF.bug.sql.txt)

[code]

watch q.ToString(), the sql is as below:

SELECT
    1 AS [C1],
    [Extent2].[MiscId] AS [MiscId],
    [Extent2].[FileName] AS [FileName],
    [Extent2].[File] AS [File],
    [Ex

[2017-01-10 08:26] bjorn-ali-goransson commented on #240
Since this doesn't seem to be on the roadmap, I'd like to stop waiting and ask is this functionality available in any other framework?

EF6? (rather not but ...)
Maybe Hibernate.NET?

[2017-01-10 11:41] mdoaie commented on #1698
+1 for IndexAttribute

[2017-01-10 17:06] bricelam commented on #6313
I've helped this scenario a little bit by logging our call to `dotnet exec ef.dll` in the PMC and CLI tools when `-v` (verbose) is specified.

[2017-01-10 17:18] bricelam commented on #6831
@sam-wheat Does this repro using the latest bits? (See #7358)

[2017-01-10 17:20] bricelam commented on #7356
@shairozan Does this repro using the latest bits? (See #7358 for how to try them out.)

[2017-01-10 17:24] bricelam commented on #6987
@MikeRavenelle Could you describe your scenario a little more? How are you making the connection strings runtime-specific? Why are you trying to generate runtime-specific migrations instead of using the same set of migrations for all runtimes?

The landscape has also probably changed a bit with the move to MSBuild. Making an app standalone, is now purely publish time thing; It no longer affects de

[2017-01-10 17:26] bricelam commented on #6987
If you want to play around with this on the latest bits (to see if it's still a problem), see #7358 for details.

[2017-01-10 18:01] ajcvickers commented on #7294
@atrauzzi I'm trying to understand if it is your opinion that this should be by-convention mapped as a 1:1 instead of a 1:*.

[2017-01-10 18:58] HappyNomad commented on #3910
The `Include`/`ThenInclude` overloads that accept LINQ `Expression` trees like those @divega describe would help in some scenarios.  What I need is reflection-friendly overloads that I call like this:

    .Include( "Positions" )
    .ThenInclude( typeof(SalesPosition), "Group" )
    .Include( "Positions" )
    .ThenInclude( typeof(GroupPosition), "GroupType" )

Currently, there's no `ThenInclude`

[2017-01-10 19:24] maumar opened #7384 "Query : incorrect results for some queries with manually created groupjoin and result operator"

[2017-01-10 19:25] maumar commented on #7384
note to triage: this is good candidate for 1.1.1 since the queries return wrong data

[2017-01-10 19:25] #7257 closed

[2017-01-10 19:26] #7262 closed

[2017-01-10 20:13] MikeRavenelle commented on #6987
@bricelam This issue was purely for executing a migrations post publish on the command line. I alternatively wrote code into my application to handle migration instead of relying on the command line tool. The issue was that I could not specify what runtime to generate the migration on. This was primarily an issue when using SQLite since the database file would not be generated for that specific ru

[2017-01-10 20:26] bricelam commented on #6987
Oh interesting. I think your solution of doing this at runtime is the right approach, but let us know if you think it could be improved on the MSBUILD-ENABLED version.

[2017-01-10 20:35] johnnildo opened #7385 "Nullifying One to Zero or One related data while detached (sqlite) doesn't update its column on the db table upon Update call"
When a detached entity has one navigation property nullified, DbContext.Update(entity) doesn't nullify its corresponding column.

### Steps to reproduce

Execute the following code after running Add-Migration:

[code]
### Expected results
Text column of One table to be Null. Property column of the One table to be null.

### Actual results
Text column gets nullified but Property column does not.

#

[2017-01-10 21:19] maumar commented on #7384
closing as it turns out we are ok for those cases

[2017-01-10 21:44] ajcvickers commented on #7385
Dupe of #6504. To summarize, EF isn't tracking the entity when the navigation is set to null. Once the entity is attached there is no way to tell that the navigation is not null just because the related entity is not loaded . #6504 has some ideas on how to handle this situation.

[2017-01-10 21:59] bricelam opened #7386 "CLI Tools: Unknown commands show the unicorn"
No error or non-zero exit code--just a gorgeous, pristine white unicorn.

![image](https://cloud.githubusercontent.com/assets/1226749/21826546/c875855e-d73c-11e6-9e2d-d43719307d3b.png)

[2017-01-10 22:00] bricelam commented on #7358
Found one: Unknown commands just show help without erroring. #7386

[2017-01-10 22:10] gmartinezsan commented on #6687
@shahafal Still hitting this issue?

[2017-01-10 22:20] bricelam commented on #5390
Possible overlap with #6546

[2017-01-10 22:26] bricelam commented on #811
Closing. NuGet MSBuild work includes support for `PrivateAssets="All"`. As support moves to more platforms, this will just work.

[2017-01-10 22:31] bricelam commented on #2646
This "works" (as much as it can). It could be made better by #6128, but I don't think there's anything else to do here.

[2017-01-10 22:31] #2646 closed

[2017-01-10 22:31] bricelam commented on #2646
The workaround for when it doesn't work is to reverse engineer into a console app and copy the files to the UWP one.

[2017-01-10 23:04] thiennn opened #7387 "How can I know if the application is invoked by ef cli?"
I am writing an entity framework configuration provider, similar to the doc https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration#simple-sample-of-entity-framework-custom-provider

I am facing an issue when run ef migration command, because at that time the db connection might not be ready or the table has not been created yet.

And I would like to know whether there are some mec

[2017-01-11 01:01] AndriySvyryd commented on #7313
@arielcloud You should be able to see commit and rollback messages as well. Can you post project.json and relevant methods from `Startup.cs`?

[2017-01-11 02:01] maumar commented on #6534
Fixed in fba433e2471a3a395efaea0c58b0e79e5383e113

[2017-01-11 02:06] AndriySvyryd commented on #7305
@HappyNomad I agree with @ajcvickers here. `P2TId` is required on `P`, so when you are inserting `P` instances that don't have an associated `T` instance `P2TId` will have the CLR default value for `int`.

[2017-01-11 05:58] Kagamine commented on #7352
# Reproduce

Add `Pomelo.EntityFrameworkCore.MySql` 1.1.0 into project.json

[code]

Then `dotnet ef migrations add Init`

[2017-01-11 07:44] arielcloud commented on #7313
startup.cs:
in startup ():
` Log.Logger = new LoggerConfiguration()
                .MinimumLevel.Debug()
                .Enrich.FromLogContext()
                .ReadFrom.Configuration(Configuration)
                .CreateLogger();`

in configure():
`loggerFactory.AddConsole(Configuration.GetSection("Logging"));
            loggerFactory.AddDebug();
            loggerFactory.AddSerilog();`

web

[2017-01-11 08:04] shahafal commented on #6687
@gmartinezsan Hi gabriela, Yes I'm still having this same issue with version 7.0.4-IR-191 of MySql.Data.EntityFrameworkCore (and Entity Framework core version 1.0),
so when I'm using `.Contains()` method I'm getting a bad sql query like the one in your first post: `('%' + 'jo') + '%'`.

I saw that in version 7.0.6-IR31 you published this issue is fixed when combined with entity framework core 1.1,

[2017-01-11 11:38] ljvanschie opened #7388 "Throw for explicit loading of an untracked entity"
When trying to explicitly load a reference or a collection, the values of these properties will still be null in case you are querying a DbSet with NoTracking behaviour (either by using the .AsNoTracking() extension method or by setting the default query tracking behaviour of the DbContext).

This had me puzzled quite a while, since this is not mentioned in any documentation. Furthermore, I would

[2017-01-11 13:35] Remleo commented on #7350
Sometimes may need to eager/explicit load a relationship after the parent model has already been retrieved. For example, this may be useful if I need to dynamically decide whether to load related models:

[code]

This code works:
[code]
but code is not "dry". `where statement` need to be hardcoded and match FK for Navigation-property. Context knows about FK and it is his "job" to load Navigation-p

[2017-01-11 13:48] shairozan commented on #7356
Yeah. Even after updating to 1.1.0-msbuild3-final, the application loads and locates json configurations fine, but dotnet ef complains about not being able to find it.

[2017-01-11 15:54] jnm2 commented on #7305
If the FK is only defined on a certain subtype, zero should be inserted if the discriminator points to that subtype and null should be inserted for any other discriminator.

[2017-01-11 16:07] milasch commented on #7385
Sorry I didn't quite get what you were suggesting on #6504 (adding the FK). What I did is the below, which seems a bit hackish. Was that what you meant?

    class One
    {
        public int Id { get; set; }
        public string Text { get; set; }
        public int? ZeroOrOneId { get; set; }
        public ZeroOrOne ZeroOrOne { get; set; }
    }

    class Program
    {
        static void Mai

[2017-01-11 16:43] bricelam commented on #7356
Can you share your project (or a simplified repro) so we can investigate further?

[2017-01-11 17:01] bricelam commented on #1776
I think we can close this. After #6747, you can just do this:

[code]

[2017-01-11 17:24] ajcvickers commented on #7385
@milasch That's one way to do it. You could just set ZeroOrOneId to null when you set ZeroOrOne to null, or you could just set ZeroToOne to null while it is being tracked. What is best depends on how your application is constrained. The way it is written above asserts that if any ZeroOrOne exists, then it is loaded. If this assertion doesn't hold, then the code will end up severing relationship or

[2017-01-11 17:28] ajcvickers commented on #7388
@ljvanschie Note for triage: This code is saying to load a relationship for a detached entity. It would be nice if this worked, but I expect is is non-trivial. We should probably throw for now.

[2017-01-11 17:29] gmartinezsan commented on #6687
@shahafal Thanks for the feedback. 6.10.0 alpha should be enough for this case. I personally tried it today and it is working with EF Core 1.1 and 6.10.0.

Here's the linq expression I'm using:

context.Employees.Where(t => t.FirstName.Contains("jo")).ToList();

Could you please share the code you are using?

Thanks!

[2017-01-11 17:41] milasch commented on #7385
@ajcvickers  Ah, setting ZeroOrOneId to null along with ZeroOrOne seems to do the trick, which is definitely preferred to the hack I posted. Thank you.

[2017-01-11 18:11] #7001 closed

[2017-01-11 18:12] ajcvickers commented on #7259
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2017-01-11 18:16] HappyNomad commented on #7305
I was incorrectly interpreting aggregation to mean that the foreign key is required.  That's usually true but not always.  An entity type may have multiple parents even though an instance of it has exactly one parent.  The correct interpretation is to turn on cascade delete alone.

[2017-01-11 18:34] ajcvickers opened #7389 "Provide access to referencing entity in TrackGraph"
TrackGraph provides the callback with the inbound navigation property that was used to discover the current entity. However, it does not provide access to the actual instance that referenced the current instance. This can then be hard to find if something about that instance is needed, the navigation is uni-directional, and FK values are not yet set. See #7308. It would be trivial to add this info

[2017-01-11 18:35] #7320 closed

[2017-01-11 18:37] ajcvickers opened #7390 "Add Property/Reference/etc overloads that take IProperty/INavigation"
When using the Entry APIs in combination with metadata APIs it is common to have an IProperty/INavigation for which .Name is called to pass this information to the Entry APIs. The Entry APIs immediately lookup this name to get back to the IProperty/INavigation. Instead these APIs should have simple overloads that accept an IProperty/INavigation. For example, see #7308.

[2017-01-11 18:42] ajcvickers opened #7391 "Add key values sugar"
It seems common to need to do things with key values--see #7308 for some examples.

Some things to consider:
* Get the key values of a tracked entry
* Lookup an entity in the state manager using key values (the state manager part of Find)
* Get the FK values of a tracked entity
* Build query clauses that find given key values or compare principal and foreign key values (e.g. #7350)

[2017-01-11 18:44] ajcvickers commented on #7308
@tonysneed Something like this:
[code]
But that only works if the FK is mapped and an the property values are set before calling Add. See #7389.

[2017-01-11 18:49] AndriySvyryd commented on #7193
@Jupakabra Could you share the `Model` class and the context?
The topological sort puts deletes before updates and inserts targeting the same table.

[2017-01-11 19:48] Jupakabra commented on #7193
[code]
I do however delete it's children and stuff, I will try creating an isolated solution tomorrow, if you can't repro. Maybe some particular scenario doesn't work.

[2017-01-11 20:05] ajcvickers commented on #7179
@arielcloud Something like this:

[code]

[2017-01-11 20:21] AndriySvyryd commented on #7313
@arielcloud Thanks. Could you also provide `appsettings.json`? Make sure to strip any sensitive information from there if present.
Are you logging to a file?
Are you running in Debug or Release mode?

[2017-01-11 20:51] arielcloud commented on #7313
[code]

as u can see, serilog logging into file.
I saw this on debug mode. now tested on release mode and it's the same.

tried also change all log levels on appsettings.json to trace, and no change.

[2017-01-11 21:16] ljvanschie commented on #7388
Thanks for the quick response @ajcvickers. Sorry if I'm misunderstanding or if my example wasn't clear enough, but in this (simplified) example, ItemGroup is a navigation property and also exists as an entity within the same DbContext. If I change the tracking behaviour, it loads as expected.

I don't see how this is different than the examples in the documentation (https://docs.microsoft.com/en-u

[2017-01-11 21:17] maumar commented on #7364
change translating ToString with formatter to the client has been checked in here: 8b0ef7f550cf5ab5b08efed14d079a707306ba2a

[2017-01-11 21:36] ajcvickers commented on #7388
@ljvanschie AsNoTracking results in entities that are not tracked. The Entry method is typically used to get information and perform operations on a tracked object. (It can be used on an object that is not tracked, but the main use for this is to changed its state to make it tracked.) So if you want the services of the context, including additional loading with fixup, then you need to track the en

[2017-01-11 21:43] ajcvickers commented on #7278
@volleyms The relationship between User and Setting is optional because the FK property UserId is nullable. By convention, EF will only configure cascade deletes for required relationships. You can make the relationship required by adding `.IsRequired()` to its configuration in OnModelCreating.

[2017-01-11 21:50] saf-itpro commented on #7378
@divega Your suggestion worked. Thank you specifically for briefly explaining what I need to do and that why it will work.

[2017-01-11 22:09] AndriySvyryd commented on #7313
@arielcloud It seems to be an issue in Serilog.
You can see all the events if you enable Microsoft Debug-level logging by setting `"Microsoft"` to  `"Debug"` in `appsettings.json` and redirecting the console output to a file by setting `stdoutLogEnabled` to `"true"` and setting `stdoutLogFile` to an existing path in `web.config`, see https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core

[2017-01-11 22:21] AndriySvyryd commented on #7193
@Jupakabra Please attach a repro, as I don't see the exception with the code provided so far.

[2017-01-11 22:30] ljvanschie commented on #7388
I see, thanks for clearing that up!

[2017-01-11 23:13] maumar commented on #7290
turns out to be unrelated to #7367
Problem is that we are not marking one of the groupjoin sources for materialization, because its wrapped in a subquery

[2017-01-11 23:24] AndriySvyryd commented on #7133
@WilliamABradley Please provide the full model if you are still experiencing this issue.

[2017-01-11 23:34] ajcvickers commented on #7317
Hi @ErikEJ. I tried this with the following code and got the output below. It seems like commands from EnsureCreated are getting logged. Is there something else I need to do to repro this?

[code]
Output:
[code]

[2017-01-11 23:45] AndriySvyryd commented on #7266
@xperiandri Could you send the repro to Andriy.Svyryd@microsoft.com?
This exception usually means that there are multiple navigations between `CarRequest` and `CarResponse` so EF cannot determine which matches which and specifying the relationship using Fluent API as you did is a good workaround.

[2017-01-12 00:18] cigano commented on #6214
@divega What do you mean with "more manageable approach"?

Suppose I have a team with 8 devs, all of them creating models simultaneously in a fresh project. By your assertion, all of them will have to add migrations and then the sunny sunday will occur when this code is merged: The `Update-Database` will run succesfully in the machine of the 8 devs.

Also, I missed the `AutomaticMigrationsDataLoss

[2017-01-12 01:34] AndriySvyryd commented on #7266
This is a new regression in 1.1.1

[2017-01-12 02:59] divega commented on #6214
@cigano it means that as a user there is less magic and more control, e.g. and you get a chance to decide whether the migration that EF (EF Core in this case) *guessed* was the right one is actually what you want to happen in the database. It also means simpler and more maintainable code in the EF Core codebase because we don't need to deal with corer cases in which there is a mix of explicit and

[2017-01-12 03:01] divega commented on #7266
@AndriySvyryd just to be sure, is it a regression we introduced in 1.1.1 that we should fix before we ship or a regression in 1.1 that we should fix in 1.1.1? Thanks!

[2017-01-12 07:20] Jupakabra commented on #7193
[Here's](https://github.com/Jupakabra/UniqueConstraint) a repro, I'm sorry I kind of misinformed you, because I found out that it only happens when entities are being inserted as a part of an object graph.
That is
[code]

[2017-01-12 07:35] volleyms commented on #7278
Hello Arthur,

I cannot agree:

1. UserId is defined as (part of) the primary key in both tables. The schema which is created by Add-Migration defines all primary key columns as non-nullable.

2. Even if all properties defined as keys are additionally defined as required, just like you suggested, the schema created by Add-Migration is identical, and the program behavior does not change.

3. The De

[2017-01-12 08:25] kierenj commented on #7379
Yes, however I'd like to understand what I could have done to avoid falling into this trap.

Is there some announcement repo or place to look for notices around updates to the nightly EF Core builds which mandate changes in consumers of them, e.g. a point where a new version of the runtime is required?

My main issue is that I was happily running 1.1 on an Azure App Service, until I ran into more

[2017-01-12 09:17] shahafal commented on #6687
@gmartinezsan
this is my project.json:
[code]

this is my code:
[code]

and the error:
[code]

I wonder if perhaps the reason your code passed and mine failed is due to cached nuget packages? (like the issue in upgrading entity framework version from v1.0 to v1.1 where the package "Microsoft.EntityFrameworkCore.Relational" is needed to be added to project json with the new 1.1 version otherwise it

[2017-01-12 09:21] jovanpop-msft opened #7394 "Add SQL Server JSON support through backing fields"
I would like to define a property of string[] type that would be serialized as JSON text in database (I don't want to have a separate table for list of tags).

I'm trying to use backing field where I would serialize/deserialize property using JSONConvert class:

[code]
However, OnModelCreating throws the following error:

There should be no limitation in this case since I'm defining my serializati

[2017-01-12 09:23] jovanpop-msft commented on #4021
@rowanmiller @divega Maybe JSON mapping could be implemented using backing fields. Here is a proposal: https://github.com/aspnet/EntityFramework/issues/7394

[2017-01-12 10:24] raphi011 opened #7395 "SSLv3 method not defined"
Hi! I'm trying to access an SQL Server via EF on Arch Linux and the following error occurs.

[code]

I know Arch Linux is not supported but maybe you guys have a hint so I may be able to fix this.

### Steps to reproduce

Execute an arbitrary EF statement

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Arch Linux
ID

[2017-01-12 10:24] ErazerBrecht opened #7396 "Migrations tries to drop index before creating the index"
Problem:

The generated SQL tries to drop a newly created index before adding it.

[code]

Exception:

[code]

### Steps to reproduce

FluentAPI:

[code]

Migration:

[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:  Win10 x64
IDE: Visual Studio 2015

Sincerely,
Brecht

[2017-01-12 11:16] ErikEJ commented on #7317
Thanks @ajcvickers I guess my event filtering is too sctrict: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Extensions/Logging/DbSimpleLogger.cs#L25

[2017-01-12 11:42] ErikEJ commented on #7317
Actually, it was not a filtering issue, it is due to this: https://github.com/aspnet/EntityFramework/blob/aff7bef4db688325af12cc45f825e19fc2b2bd00/src/Microsoft.EntityFrameworkCore.Relational/Storage/RelationalDataReader.cs#L77

(Dispose causes the SQL CE provider to clear the CommandText) 😢

[2017-01-12 12:04] ikourfaln commented on #7394
Awesome, Thank you for clarifying, I really need this feature.

[2017-01-12 12:37] tonysneed commented on #7308
@ajcvickers Thanks, this is helpful.  However, I will need access to the referencing entity, as proposed in #7389, because the FK and parent entity may not have the key set because it is an auto-generated identity column.

[2017-01-12 12:39] tonysneed commented on #7389
:+1 On providing access to the referencing entity.

[2017-01-12 12:56] saurabhnandu commented on #7211
I face the same issue on Ubuntu 16. The docs only install previous version. They need to be updated. You can find the link to install the latest preview 4 version from here [ https://github.com/dotnet/core/blob/master/release-notes/preview4-download.md ]. Then if you have an existing project then run the dotnet migrate command to migrate it to latest project format and fix the package errors.

[2017-01-12 16:21] divega commented on #7395
@raphi011 Probably a good idea to ask this over at https://github.com/dotnet/corefx/issues.

[2017-01-12 16:37] divega commented on #7379
Nightly builds are by definition getting lots of changes every day, some of which are changes in dependencies. Things are expected to move rapidly and to break. It is hard to think of a comprehensive approach for this that wouldn't create a lot of overhead but we could discuss something like labeling PRs that we believe are going cause certain kinds of breaks, e.g. having to upgrade dependencies.

[2017-01-12 17:31] muratg commented on #7379
I would phrase it differently: nightly builds of the SDK and the runtime are not deployed to Azure App Service.  Azure App Service is updated only when there's a public release.

If you'd like to still deploy with nightlies, you can build your app as a "standalone" app, i.e. packing and deploying the runtime itself with your app. Just a reminder though, only public RTM releases are considered "off

[2017-01-12 17:58] ajcvickers commented on #7278
@volleyms I will investigate further.

[2017-01-12 18:18] ahoischen opened #7397 "DbSet<>.Local InvalidOperationException with ListBox.ItemsSource"
Using the DbSet<>.Local property as the source for an System.Windows.Controls.ListBox and then adding and removing an instance causes an InvalidOperationException to be thrown. This is not an external issue as this is following your [recommended use case for this property](https://docs.microsoft.com/de-de/ef/core/api/microsoft.entityframeworkcore.dbset-1#Microsoft_EntityFrameworkCore_DbSet_1_Local

[2017-01-12 19:44] bricelam commented on #646
We've decided to leave `--assembly` as a named parameter.

[2017-01-12 19:45] anpete commented on #7230
Fixed in rel/1.1.1

[2017-01-12 19:46] divega commented on #7115
@anpete was this fixed pushed to the 1.1.1 branch? Should we reopen the issue?

[2017-01-12 19:46] divega commented on #7061
@maumar was this fixed pushed into the 1.1.1? Should we reopen the issue for approval?

[2017-01-12 19:47] divega commented on #7048
@anpete was the fix pushed to the 1.1.1 branch? should this be open waiting approval?

[2017-01-12 19:48] anpete commented on #7115
Yep, re-opened.

[2017-01-12 19:48] divega commented on #6534
@maumar Is the fix for this issue checked in the 1.1.1 branch? Should the issue be reopened for approval?

[2017-01-12 19:54] ajcvickers commented on #7332
@divega @rowanmiller Moving this to 1.1.1 as discussed.

[2017-01-12 19:54] AndriySvyryd commented on #7266
@divega It was introduced in 1.1.1

[2017-01-12 19:55] ajcvickers commented on #7298
@divega @rowanmiller Should this also go in 1.1.1? AddAsync first shipped in 1.1.

[2017-01-12 19:57] bricelam commented on #646
I believe it's ready for prime time. I've filed aspnet/EntityFramework.Docs#328 to document it.

[2017-01-12 19:57] #646 closed

[2017-01-12 19:58] rowanmiller commented on #7298
To me it seems like a serious enough issue to warrant a patch.

[2017-01-12 20:00] anpete commented on #7048
Yes, re-opened.

[2017-01-12 20:10] bricelam opened #7398 "PMC Tools: Invalid object passed in, ':' or '}' expected. (1): {"
DevDiv Bug: 366587

When using PowerShell 4.0 or older, the EF Core PMC Commands error with the following.

The workaround is to install [the latest version of PowerShell](https://www.microsoft.com/en-us/download/details.aspx?id=50395).

[2017-01-12 20:17] divega commented on #7121
@maumar @smitpatel do you know if this is a duplicate of #7033?

[2017-01-12 20:22] ajcvickers commented on #7350
Reopening so we can visit this in triage.

[2017-01-12 20:49] ajcvickers commented on #7317
Marking for re-triage. Questions to consider:
- Is this only for SQL CE?
- Is it worth trying to work around it by saving away the command text somewhere?
- Can this be done by any provider that needs to do it without it being done always?

[2017-01-12 21:00] ajcvickers commented on #7394
@jovanpop-msft In the cases where you are getting the exception EF is still mapping the Tags property because there is no code that tells EF not to map this property. If the expectation is that EF should interact through the _Tags field, then the Tags property will need to be ignored, like you do with NotMapped in the second example. The _Tags field can then be mapped using something like:
[code]

[2017-01-12 21:26] ajcvickers opened #7400 "ef.exe scaffold with simple assembly name throws with path not legal"
Run:

Gives:

   at System.IO.Path.LegacyNormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.NormalizePath(String path, Boolean fullCheck, Int32 maxPathLength, Boolean expandShortPaths)
   at System.IO.Path.GetFullPathInternal(String path)
   at Microsoft.EntityFrameworkCore.Tools.OperationExecutorBase..ctor(String assembly, String star

[2017-01-12 21:27] bricelam opened #7401 "Tools: ef.exe is x64 (not AnyCPU)"
We need to figure out how to compile an AnyCPU assembly using the .NET Core SDK...

[2017-01-12 21:28] ajcvickers opened #7402 "Design: Better error when --no-appdomain is required"
Help works; anything else results in this:

   at Microsoft.EntityFrameworkCore.Design.OperationExecutor..ctor(Object reportHandler, IDictionary args)
   --- End of inner exception stack trace ---
   at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor)
   at System.Reflection.RuntimeConstructorInfo.Invoke(BindingFlags invokeAttr, Binder

[2017-01-12 21:31] Ma3yTa commented on #4021
Guys from NHibernate started to implement this feature https://nhibernate.jira.com/plugins/servlet/mobile#issue/NH-3930

[2017-01-12 21:32] ajcvickers commented on #7358
Tests UWP app with 1.1 on 32-bit Windows 10:
* PMC experience was very nice. Everything worked as expected, including helpful message when trying to update database.
* donet ef resulted in: No executable found matching command "dotnet-ef". According to @bricelam this is expected.
* ef.exe din't really work. Filed #7400, #7401, #7402

[2017-01-12 21:52] bricelam commented on #7402
Yuck. 😄

It should tell you to add `--no-appdomain` and try again.

[2017-01-12 21:57] maumar commented on #7348
Fixed in 858a34f711094b30ec74238ad18eb97b1d19ba5e

[2017-01-12 22:40] olee opened #7403 "Validation errors for non existing entities"
Hi
I recently added a second small DbContext to my application to access just one simple entity from a database.
However when I try to use the DbContext, I get this exception:
[code]
(relevant part of the stacktrace)
[code]

This however does not make sense, because the DbContext I'm trying to initiate has only **one** entity (`Channel`) and the two entities mentioned there - `C3.Dialog.Core.Datab

[2017-01-12 22:48] olee commented on #7403
Sorry - I found the problem - the entity extended a base class and that one had a leftover foreign key.

[2017-01-12 22:54] ajcvickers opened #7404 "Migrations remove with ef.exe on UWP doesn't seem to do anything"
20170111221928_First
20170111224048_SecondII
20170111224906_Three
20170112224751_MyTestMigAgain

Reverting model snapshot.
Done.

20170111221928_First
20170111224048_SecondII
20170111224906_Three
20170112224751_MyTestMigAgain

[2017-01-12 22:54] #7398 closed

[2017-01-12 22:56] ajcvickers opened #7405 "Migrations Add with ef.exe doesn't create blank migration when no changes"
In this case a migration was needed and was added:

Done. To undo this action, use 'ef migrations remove'

In this case there were no changes and no migration was added:

Done. To undo this action, use 'ef migrations remove'

[2017-01-12 23:00] ajcvickers opened #7406 "ef.exe commands that access the database fail for x86 UWP apps"
This might be a dupe, but not sure of all the conditions, so filing for triage.

System.DllNotFoundException: Unable to load DLL 'sqlite3': This operation is only valid in the context of an app container. (Exception from HRESULT: 0x8007109A)
   at Microsoft.Data.Sqlite.Interop.NativeMethods.Sqlite3_sqlite3.sqlite3_open_v2(IntPtr filename, Sqlite3Handle& ppDb, Int32 flags, IntPtr vfs)
   at Microso

[2017-01-12 23:01] ajcvickers commented on #7402
Tried again with that and some things started working. Filed #7404 #7405 #7406

[2017-01-12 23:11] jovanpop-msft commented on #7394
@ajcvickers  Maybe I don't understand you, but according to the https://docs.microsoft.com/en-us/ef/core/modeling/backing-field#controlling-when-the-field-is-used I just need to specify that Property Tags will use field _Tags:
[code]
This actually works when backing field and property have the same type and this code works fine:
[code]
Hovewer, this code fails with exception:
[code]
Therefore the

[2017-01-12 23:59] ajcvickers commented on #7394
@jovanpop-msft It has different semantics in the model. In the case where the property is mapped, then the metadata for the property in the model comes from the type of the property. So even if you say that EF should read and write that property using the field, it doesn't change that EF reasons about it using the type of the property. This impacts how APIs such as EF.Property or property entries

[2017-01-13 01:15] ajcvickers commented on #7116
Justification: Assemblies compiled against 1.0 assembly will throw when using 1.1 assembly unless they are re-built.
Risk: Low--Adding back in the API that was removed; functionality is unchanged.

[2017-01-13 01:17] ajcvickers commented on #7227
Justification: This is a break from 1.0 where the entity would become attached to the context. Existing apps may depend on this behavior.
Risk: Low--Fix is small and constrained to this case.

[2017-01-13 01:19] ajcvickers commented on #7332
Justification: If a developer doesn't catch that the wrong values are returned, then this could result in the wrong data being saved when doing things like resolving concurrency exception.
Risk: Low--only needs a small change to add overrides in an existing derived type.

[2017-01-13 01:23] ajcvickers commented on #7298
Talked to @divega and moving.

[2017-01-13 01:25] ajcvickers commented on #7298
Justification: The behavior of Add and AddAsync should be the same. The async versions not doing graph behavior is a copy/paste error.
Risk: Low-risk; copy/paste error.

[2017-01-13 01:35] tuespetre commented on #2341
Heads up: I have made a lot of headway in this area. Expect a PR soon 😸

[2017-01-13 02:36] bricelam commented on #7310
Closing, but please re-open with additional information if you can't get it working on version 1.0.0-msbuild3 of the tools.

[2017-01-13 02:41] bricelam commented on #7027
@koushik984 Are you able to repro this on the latest bits? (See #7358 for how to try them out) If so, could you share your project so we can investigate further?

[2017-01-13 02:44] bricelam commented on #7008
@RonPenton Could you share a repro project to help us investigate? (If not, I'll do my best without it.)

[2017-01-13 02:47] bricelam commented on #6802
@ajcvickers Should this one be assigned to you?

[2017-01-13 02:56] bricelam commented on #927
Pulling into 2.0.0 to resolve alongside #7353

[2017-01-13 02:59] bricelam commented on #2593
Marking for re-triage since it seems like a bug that we ignore changes here.

[2017-01-13 03:10] bricelam commented on #3821
@AndriySvyryd Is this possible now?

[2017-01-13 03:23] cigano opened #7407 "EF Core Migrations Configuration"
I didn't find a way to configure the Migrations like in EF6.

[code]

Is there something planned in EF Core to replace this feature?

[2017-01-13 03:27] bricelam commented on #1058
I think this experience is more-or-less as complete as it can be with the current architecture. `Add-Migration` and `Remove-Migration` work. Other commands error pointing you to an alternative. AnyCPU, x86, and x64 are supported. Class libraries can be used if you specify an app as the startup project.

#6128 is about taking it even further, but I think this can be closed now.

[2017-01-13 03:40] cigano commented on #6214
I **strongly** disagree with this. What happens in general is: every developer, after the Source Control Sync, has to delete all his/her migrations, delete the database and start over. Totally counter-productive.

Imagine this happening every beginning of the working day. With advanced seeding, with thousands of test records, it takes almost half hour to drop the yesterday's database, create an ex

[2017-01-13 03:40] bricelam commented on #7337
Related to #5826

[2017-01-13 03:43] bricelam commented on #4081
@smitpatel Do you know if this works now?

[2017-01-13 04:33] AndriySvyryd commented on #3821
@bricelam Yes, should work.

[2017-01-13 06:02] #3821 closed

[2017-01-13 07:05] divega commented on #6214
I don't understand why creating and applying an explicit migration would be any different performance-wise from an automatic one.

[2017-01-13 10:17] ErikEJ commented on #7317
@ajcvickers Thanks for reconsidering, found this older related issue: https://github.com/aspnet/EntityFramework/issues/3654

[2017-01-13 12:27] satyajit-behera opened #7408 "Complex Type Implementation for EF Core"
How can I implement a Complex Type in EF Core

[2017-01-13 12:48] sepplK opened #7409 "Accessing DbContext from model"
Version: EntityFrameworkCore 1.1.0 (SQL)

Hi,

i can't figure out how to access the DbContext from a readonly property in the model.

Maybe with the IEntityMaterializerSource (optionsBuilder.ReplaceService...) and using another constructor  to inject the current DbContext?

Thanks for help.

Sebastian

[2017-01-13 13:06] ekarimi commented on #7407
Automatic migrations has been removed from EF7 and currently there is no support for this feature. I don't think this one will be a good idea at all !!!
Source control is much simpler now. You can now add migrations without applying previous one to the database.
Use code migrations.

[2017-01-13 15:09] pholly commented on #7071
@cda-1 That's interesting. Maybe because that version doesn't exist (doesn't show up in nuget package mgr) it's actually using the previous version 1.0.0-preview3-final?

[2017-01-13 15:57] cigano commented on #6214
The problem here is not the performance, but the rework.

Assuming again the 8 devs scenario. Each one open VS, make a pull and the migrations from all the 7 devs will be merged into the project. The dev runs the `Update-Database` command and the command breaks because the state that each database was at that point, for each dev machine, was different from each other.

Two options here: try to gen

[2017-01-13 17:11] Jupakabra commented on #6214
@cigano how did you now run into problems in EF6? On our team we do have a problem of different devs making migrations on different database states, always resulting in last migrations regeneration (on a branch merge).

[2017-01-13 17:20] jemiller0 commented on #6861
I want to test this out. On the main page, it mentions, nightly builds and Myget. I've never used this before. What I'm wondering if I can add Myget to Visual Studio so that I can get the nightly builds off Nuget? Are there instructions somewhere for doing this?

[2017-01-13 17:21] memark commented on #7071
I can no longer find `1.2.0-preview4-22817` anywhere, including on the dev-feed. Luckily I had i cached, so now I'm commiting it to my repo and adding a local nuget feed for this package only.

The version numbers are a bit confusing. Has this "fix" been released in some other version that I should switch to?

[2017-01-13 17:21] bricelam commented on #6214
Keep in mind, we also have #3053 which would bring back some of the convenience that automatic migrations offered.

[2017-01-13 17:22] NickStrupat commented on #7391
Hi @bricelam, @ajcvickers,

The first two points are supported by my project [EntityFramework.PrimaryKey](https://github.com/NickStrupat/EntityFramework.PrimaryKey), and the FK values is something I didn't think of but it sounds interesting and useful.

How do you imagine the query clause building would look and/or work?

[2017-01-13 17:27] ajcvickers commented on #6802
Yep, at least until after we decide what to do. :-)

[2017-01-13 17:29] bricelam commented on #7400
I wonder if we should also allow just `EFTest`.

[2017-01-13 17:30] ajcvickers commented on #7409
@sepplK Not really possible right now unless you are willing to hack internal code. Covered by #626 and see my comments on #7124

[2017-01-13 17:32] bricelam commented on #7407
Are you looking for something like #3053, or is your scenario different?

[2017-01-13 17:33] bricelam commented on #7071
If anyone here is interested in trying out the latest (MSBuild/VS2017) tools, see #7358 for details.

[2017-01-13 17:48] ajcvickers commented on #7397
Notes for triage: It looks like the issue here is that the control will only work with an ordered, indexed list. This is not something that our LocalView does. We will need to investigate whether to change LocalView, or instead add a helper for when using it in data binding like this.

[2017-01-13 18:20] ajcvickers commented on #7278
Note for triage: I was able to reproduce this and it appears to be an issue with either SQLite or the provider. The database is created with the cascade delete and for the first entity deleted the cascade is applied, but for the next four it is not applied. The exact same code run against SQL Server results in all cascade deletes happening correctly.

[2017-01-13 18:37] ajcvickers opened #7410 "Re-consider patterns used to set metadata from conventions"
See #7301. Currently we have a mechanism for metadata set by convention where attempting to set that piece of metadata may or may not actually do something based on whether or not setting that things is valid. It would be good to consider whether or not this is the best approach given:
* There are places, such as in #7301, where a convention should never try to set metadata that is invalid, so it

[2017-01-13 18:40] AndriySvyryd commented on #7410
This is related to #214

[2017-01-13 18:45] ajcvickers commented on #7408
Dupe of #246

[2017-01-13 18:49] ajcvickers commented on #7391
@NickStrupat See https://github.com/aspnet/EntityFramework/blob/f9adcb64fdf668163377beb14251e67d17f60fa0/src/Microsoft.EntityFrameworkCore/Internal/EntityFinder.cs

[2017-01-13 19:12] #1058 closed

[2017-01-13 19:15] rowanmiller commented on #1825
We already have the flag to allow you to do different things based on the active provider. We think this is enough and we don't need to scaffold for multiple providers.

[2017-01-13 19:18] rowanmiller commented on #2593
We haven't seen folks ask for this, we can reconsider if we get requets

[2017-01-13 19:19] pchasco commented on #3797
Another vote in favor of lazy loading here. Eager loading is an optimization. Without lazy loading, an domain aggregate has no way to know whether or not it's been completely populated and thus cannot know whether or not it's in a valid state.

Additionally without having lazy loading in place, any consumers of a service must know what parts of a data model are required for the service to do its w

[2017-01-13 19:27] rowanmiller commented on #7406
This is a known limitation, but we don't think these scenario are really valid for UWP (since the database would be created on the device).

[2017-01-13 20:12] #7208 closed

[2017-01-13 20:44] bricelam opened #7411 "Investigate parallelization issues with SqlServer.FunctionalTests"
These tests fail a lot on CI (and for me after I drop databases) when run in parallel. We used to mitigate this on CI using an environment variable, but this feature is being removed from KoreBuild (see aspnet/KoreBuild#157). Instead, we'll need to disable them at the assembly level by adding the following. (Or debug and fix the issues.)

[code]

[2017-01-13 20:45] gmartinezsan commented on #6687
@shahafal just tried using a variable instead of a constant or hard coded value as I was doing and only the last one worked. I added a bug in our community site so you can follow up the fix.
[(http://bugs.mysql.com/bug.php?id=84505)]
Thank you for your feedback.

[2017-01-13 21:24] cigano commented on #7407
@bricelam I understood the idea, it'll be something like:

    PM> Recycle-Database

Some Powershell script updates the Snapshot, drop the database, re-scaffold the initial migration and redo a new database with (probably) the seeding process in the end.

Sounds great, but I believe that the initial code migration should have a default name, to source control purposes.

Please note that this doesn

[2017-01-13 21:32] cigano commented on #6214
@Jupakabra Well, the migrations configuration is like this:

        public Configuration()
        {
            AutomaticMigrationsEnabled = true;
            AutomaticMigrationDataLossAllowed = true;
            ContextKey = "MySystem";
        }

For each dev, EF6 will generate a custom migration to make the database state the same at the merge point of a branch or, in my case, in the beginnin

[2017-01-13 22:04] rmja commented on #4583
@boutquin You can let your `TenantHistoryRepository` depend on `CurrentDbContext` instead of `DbContext` and then access your context from `CurrentDbContext.Context`.

[2017-01-13 22:05] maumar commented on #6687
@gmartinezsan could you provide the entire stack trace of the issue that you were experiencing? This particular scenario seems to be working on Sql provider, but I wonder if I can force the issue here as well if I modify a query somewhat.

[2017-01-13 22:08] rowanmiller commented on #7410
Merged info into https://github.com/aspnet/EntityFramework/issues/214

[2017-01-13 22:12] maumar commented on #6861
You can use the following myget feed: https://www.myget.org/F/aspnetvnext/api/v3/index.json

You can find some more info here: https://github.com/aspnet/home

[2017-01-13 22:14] maumar commented on #6861
@jemiller0 yeah you should be able to add it directly to Visual Studio, rather than modify the nuget.config directly

[2017-01-13 22:15] rowanmiller commented on #7407
Configuration of anything migrations related is now done in `OnConfiguring` (or Startup.cs for ASP.NET Core), rather than having a separate `MigrationsConfiguration` class.

[code]

Data loss settings only applied to automatic migrations, since scaffolded ones were never run automatically and you could review them before applying.

[2017-01-13 22:16] rowanmiller commented on #7407
I'm going to close this one out, as we have a lengthy discussion going on #6214 and we also have #3053 tracking a simpler approach for iterative development.

[2017-01-13 22:18] rowanmiller commented on #7396
Note for triage: We thought there was a dupe of this issue, but I am not able to find it.

[2017-01-13 22:21] rowanmiller commented on #7394
Closing as we already have the following issues tracking the high level scenario here:
* Simple Type Conversion https://github.com/aspnet/EntityFramework/issues/242
* JSON Support https://github.com/aspnet/EntityFramework/issues/4021

As @ajcvickers outlined, backing fields need to match the data type of the property they are backing.

[2017-01-13 22:23] rowanmiller commented on #7388
Decided that we should throw for the moment, this isn't a scenario we intended to support. We may look at explicit loading for untracked entities in the future, based on customer demand. For the moment, using a tracking query, or eager loading, would be our recommendation.

[2017-01-13 22:54] rowanmiller commented on #7411
Setting up the "Simple CI" I consistently saw these tests fail when the LocalDb databases were dropped before the test run. I see 28 failures with:

[code]

I've disabled the step that cleans the databases for the moment.

[2017-01-13 22:57] gmartinezsan commented on #6687
@maumar
Sure, Here is the call stack

System.InvalidOperationException was unhandled by user code
  HResult=-2146233079
  Message=When called from 'VisitChildren', rewriting a node of type 'System.Linq.Expressions.Expression' must return a non-null value of the same type. Alternatively, override 'VisitChildren' and change it to not visit children of this type.
  Source=System.Linq.Expressions
  St

[2017-01-13 23:05] WilliamABradley commented on #7133
I discovered what was causing the issue, I had a Uri property marked with Attribute [NotMapped], however, EF Core is Still reading it. Commenting it out reveals that EF Core isn't reading any of my Attributes as classes with the [Key] Attribute are not working either. Is this issue fixable, or should I switch to Fluent API?

[2017-01-13 23:11] AndriySvyryd commented on #7133
@WilliamABradley Are you targeting UWP by any chance?

[2017-01-13 23:16] WilliamABradley commented on #7133
@AndriySvyryd That is correct

[2017-01-13 23:20] AndriySvyryd commented on #7133
@WilliamABradley Then you are hitting a known issue - https://github.com/aspnet/EntityFramework/issues/7194
You can use [this workaround ](https://github.com/aspnet/EntityFramework/issues/7045#issuecomment-265010057) or downgrade .Tools to preview-3.

[2017-01-13 23:24] WilliamABradley commented on #7133
@AndriySvyryd That's good to know its a known issue, I have switched to Fluent for the Meantime.

[2017-01-13 23:32] series0ne commented on #3797
I've not found this to be an issue with Eager or Explicit loading.

Whenever I have a particular task I think "what information do I need to perform this task?"

And then I just create a query on my repository to load that data. If that query ends up needing more data from navigation properties then just include them further down the line, without affecting other queries

The only think I really w

[2017-01-13 23:49] divega commented on #7339
This issue was moved to dotnet/cli#5317

[2017-01-13 23:53] divega commented on #7345
In case you can try the latest version of the tooling, here are some instructions: #7358.

[2017-01-13 23:55] divega commented on #737
@ajcvickers found this issue in the backlog. Should it be closed as a dupe of #626?

[2017-01-14 00:00] anpete opened #7413 "Model-level Entity Filters"
Allow LINQ predicate expressions to be associate with Entity Types in the model. E.g.
[code]
Simple, yet powerful feature that can be used to enable many higher-level asks such as Soft-delete, multi-tenancy and filtered Include.

[2017-01-14 00:09] divega commented on #7371
@satyajit-behera we haven't decided if we want to have command interception that looks like the one we did in EF6 but here are a few related things:

- Issue #626 covers all lifecycle hooks which could include some means for command or query interception
- We have been thinking a lot about the concept of filtering applied to a model and `DbContext`, which should make it easier to implement soft-de

[2017-01-14 00:09] divega commented on #7371
Closing as a duplicate of #636 and #7413.

[2017-01-14 00:13] divega commented on #7372
Dupe of #1035.

[2017-01-14 00:14] divega commented on #7255
This issue was moved to aspnet/EntityFramework6#170

[2017-01-14 00:24] bricelam commented on #7407
Also, in EF Core, we'll warn during Add-Migration if any scaffolded operation would result in data loss.

[2017-01-14 00:26] divega commented on #7256
I will assume that this is a duplicate of #795, but just in case, there are other feature that are often confused with bulk operations:

- Batching (we already support it)
- SqlBulkCopy kind of functionality (we have no plans)
- TVP support (is in our backlog at #2484)

[2017-01-14 00:28] divega commented on #7256
Closed as a duplicate of #795.

[2017-01-14 00:30] divega commented on #7260
This issue was moved to aspnet/EntityFramework6#171

[2017-01-14 00:45] divega commented on #7274
@qianthinkover yes, calling `Where()` repeatedly will result in a query that accumulates the effects of all the filter conditions you specified, which is semantically equivalent to chaining the conditions with AND.

To get OR semantics:
- Chain all the conditions into a single condition using the OR operator (i.e. `||` in C#) and call `Where()` only once
- If you need to do this dynamically at run

[2017-01-14 07:44] ErikEJ commented on #7317
Actually, it might not be what I think was the issue (command?.Dispose();) - All statements, even INSERTs are logged correctly in the standard SaveChanges/Query pipeline, only the Migration SQL is not logged.

When I run this test: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/test/EntityFramework.SqlServerCompact.FunctionalTests/BasicEndToEndScenarioForIdentity.cs I get t

[2017-01-14 08:34] ErikEJ commented on #6696
I have added a DbContextOption that allows users to work around this on a case by case basis, so closing for now, thanks for help @divega and @smitpatel
https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Query/ExpressionVisitors/SqlCeTranslatingExpressionVisitor.cs#L20

[2017-01-14 10:10] irwangunardi opened #7414 "Include() method returns only first entry"
### Steps to reproduce
While I am making web api, I found out if I use .Include(), it only returns the first blog entry

[code]
and that first blog entry is correct by showing all its posts. But the rest blogs are missing.

I tried removing the Include() part, it returning all the blogs as expected.

### Stack trace
[code]
[code]

Exception occurred was self referencing loop. My Blog have list of

[2017-01-14 10:26] lucabriguglia commented on #3797
@pchasco if you use the same model for your data and your domain you can have navigation properties that don't belong to the domain aggregate.

[2017-01-14 11:54] satyajit-behera commented on #7371
@divega Thanks.
@ajcvickers Please let me know how I can achieve this using a different mechanism. Thanks.

[2017-01-14 14:55] bidelakbari opened #7415 "Include() results in two separate query to fetch data"
### Steps to reproduce
I have Blog and Post entities. when I enable eager loading on Blog I see two separate queries in SQL Profiler.

_So, for this:_
[code]

_I get this:_
[code]

_and this in Sql Profiler:_
[code]

I believe the first one is redundant.

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer 1.1.0
Operating system: Win 10
I

[2017-01-14 15:25] bidelakbari commented on #7415
Discard this issue please. It had to do with an incomplete db migration.

[2017-01-14 16:21] shahafal commented on #6687
@gmartinezsan in my previous message I was still having this error even after upgrading to mysql v6.10.0-alpha:
`MySql.Data.MySqlClient.MySqlException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '+ '%'' at line 3`
I managed to get past the error -
The problem was - I upgraded dotnet core version from 1.0 to

[2017-01-14 19:03] cigano commented on #7407
@rowanmiller Can I configure data loss tolerance using this method?

[2017-01-14 19:04] cigano commented on #7407
@bricelam Would be possible to use a parameter like `-Force` to execute the migration even with the data loss?

[2017-01-14 21:57] gdoron commented on #7415
You should probably read the discussion in this thread:
#1833
(I spammed it with an off-topic discussion 😿, but it has the answer to your question )

TL;DR; It's by design.

[2017-01-15 01:14] ShiningBomb commented on #7414
Edited to provide more clear information.

[2017-01-15 04:43] jemiller0 commented on #1590
This is a feature I've been wanting for a long time. Really, all I need is the ability to do a .Contains() filter in an efficient way, which as far as I know can only be done using full-text search. The tables I'm working with have millions of rows, so, using a SQL LIKE is problematic.

[2017-01-15 05:26] Dixin opened #7416 "GroupJoin does not correctly translate resultSelector to SQL."
GroupJoin does not translate resultSelector correctly:
[code]
The projection is specified in the resultSelector.

In EF, the required 2 columns (and the key and a null identifier) are queried, which is correct:
[code]

However, in EF Core, all columns of both tables are queried:
[code]
It seems the resultSelector is not translated.

[2017-01-15 05:46] jemiller0 commented on #6861
Thanks maumar. That's great that the dev builds are available like that. I just tried it out and got it working. I ran into a versioning issue though since I had the Npgsql provider included in my project. However, I commented that code out for the time being and have it working.

However, now, I'm running into a different problem. .StartsWith() filters are adding an extra CHARINDEX() call. EF 6 d

[2017-01-15 06:26] Dixin opened #7417 "GroupJoin and SelectMany fails to translate"
I am porting EF code to EF Core, and got this error. GroupJoin returns hierarchical data, so use SelectMany to flatten it:
[code]

In EF, the translation is correct:
[code]

In EF Core, the translation fails, and throws exception:

The exception is from RelationalQueryModelVisitor.OptimizeJoinClause:
[code]

[2017-01-15 07:02] jemiller0 commented on #474
Is there a way to disable the adding of the call to CHARINDEX()? I'm seeing slow query performance with that against SQL Server and a table containing 7 millions rows with an index. It's taking 11 seconds to run with the call to CHARINDEX() and only one second without it. It seems like maybe the extra function call is confusing the query optimizer.

[2017-01-15 15:23] bricelam commented on #7407
The migrations will always execute. The warning occurs while scaffolding.

EF Core is very extensible since you can customize and replace any service. I'm sure you could serialize the data loss flag in the C# and throw during migrate if it's present.

[2017-01-16 01:39] MikeYeager commented on #7031
I am having no luck whatsoever. I've got the very latest VS 2017 RC as of today. I created an ASP.NET Core Web API project. I changed the Core version to 1.1. These are my NuGet references:
<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="1.1.0" />
<PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer.Design" Version="1.0.1" />
<PackageReference Include="Mi

[2017-01-16 01:39] qianthinkover commented on #7274
Thanks a lot!

[2017-01-16 05:30] BigVan opened #7418 "Create tables with same structure"
Hello everyone.
I need some help:
**Is there any effecient way to build tables with same structure?
OR
Is there a gentle way to descirbe relations between two objects?**
Recently, I am building a shopping session in my work using EF core with official Mysql provider.
And  I found there are some relations between two objects.
For example,
_A user have some favorite items;
A seller have his own item

[2017-01-16 08:22] MontyGvMC opened #7419 "grouping and flatening 1:M:M:1 related data in Entity Framework Core/LINQ"
Hello together.
I get exceptions when I try to query 1:M:M:1 related data and especially when I try to flatten and group them.
This happens in a .NET Core web api.

It happens in the following scenario:
I have a database where tasks are assigned to persons. Each task can only be assigned to one person. For each task the person needs access to
zero, one or more rooms.

In the PersonController I try

[2017-01-16 08:45] KANekT opened #7420 "How use long in SaveChangesAsync?"
How use long in SaveChangesAsync?
[code]

I keep the primary keys in a database in long format

But for save I may use only int ?

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer 1.1.0
Operating system: Windows 10
IDE: Visual Studio 2015

[2017-01-16 09:04] ArashMotamedi commented on #6855
@rowanmiller Thanks for the details. Here's a nuance: I'm having the same issue but my project is Asp.net Core on .Net Framework 4.6.1, and it seems EF.Tools.DotNet:1.1.0* is not available for net461. What dependencies and tools should I specify to be able to run ef commands?

[2017-01-16 09:13] JonPSmith commented on #7340
I just wanted to show another example I was planning to use which uses the PK+FK pattern in a one-to-many relationship, just to show that the pattern turns up on other places.

The example is of an `Order`, which has many `LineItem`s. I create the `LineItem` with the `OrderId` and a `LineNum` as a composite key. Obviously, this works in all cases other than update of an `LineItem` where the compos

[2017-01-16 09:57] John0King commented on #7420
`SaveChangesAsync` does not return primary key , it return  the number of row that were effected . I don't think you will update/insert/remove more than 2,147,483,647 objects  in one `SaveChanges`.
If you want get the inserted Id, just get it from same the object  after you `SaveChanges`.
And you don't need to set foreignKey , EF will set for you automaticly when `SaveChanges` .

[2017-01-16 10:04] KANekT commented on #7420
@John0King Thx!

[2017-01-16 10:05] freerider7777 commented on #7031
@MikeYeager Hi!
I just tested scaffolding with new project, please have a look what packages I've added:

<Project Sdk="Microsoft.NET.Sdk" ToolsVersion="15.0">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <Compile Include="**\*.cs" />
    <EmbeddedResource Include="**\*.resx" />
  </ItemGroup>
  <ItemGr

[2017-01-16 10:18] MontyGvMC commented on #7414
Which setting do you have in your Startup.cs?

[code]

[2017-01-16 11:28] shaulbehr opened #7421 "Wrong Sql emitted when doing a .Distinct() query on a one-to-one join"
I have a `Thing` table, which has a one to zero/one relationship with `ThingExtended`:
[code]
Now I want to write a query that finds the number of distinct values for `ThingExtended.SomeValue` for some subset of `Things`:
[code]
Ba-da-BOOM!  SQL error:

I put a sniffer on the Sql server, and found this script being run:
[code]
... which, aside from being invalid Sql, is incorrect logically, since

[2017-01-16 12:02] ShiningBomb commented on #7414
It works! Didn't expected it would require additional options. Would be helpful if it mentioned in the docs, provided it is a common scenario.

[2017-01-16 12:39] Robelind opened #7422 "Unit testing - simulate errors"
When unit testing using in memory db, how do you simulate that an error occurred when accessing the db?

[2017-01-16 14:07] MontyGvMC commented on #7419
The good news: it works using the following code (added a .ToList() after the Where)

[code]

The bad news: I don't understand the difference enough to get it working in my complex "real life" scenario where the query is aproximatly 100 lines big (collecting data from  15 database tables) and there it results in an exception

[code]

The code line causing the problem seems to be

[code]

My curren

[2017-01-16 14:43] MontyGvMC commented on #7419
well, in my real life example I missed the Include() (s) and ThenIncludes().
Now there it works too.
(Without the includes the taskroom and room was empty which caused the exception above I guess)

The code for the flattened and ordered query is

[code]

Thx for the help

but still don't know what .ToList() now causes internally.

Does it mean it queries all the fields from the tables, creates the

[2017-01-16 15:35] InariTheFox opened #7423 "Design: 1.1.0-preview4-final tooling: appsettings.json not loading when using dotnet ef migrations command"
After upgrading to .NET Core 1.1.0 and EF Core 1.1.0 and the associated tooling to 1.1.0-preview4-final, the dotnet cli migrations functionality fails, preventing from adding new migrations or listing existing ones.

My hypothesis is that the tooling does not respect the Startup.cs file and any configuration which exists in code except below.

When running the application (VS/IIS/donet run) the St

[2017-01-16 15:46] ole1986 opened #7424 "Behaviour of ignoring includes/thenincludes"
When using Entity Framework Core (v1.1.0) with Linq and **GroupBy** clause I noted that the ThenInclude method does not properly receive the objects

### Steps to reproduce

[code]

[code]

[code]

### Details

so, I assume the the `IQueryable<Permission>` later contains a list or IEnumarable of Permission objects with the User object (which works so far) and also the Group included into the User.

[2017-01-16 15:52] ole1986 commented on #7419
@MontyGvMC to answer your question, yes! So, `ToList()` causes EF to request the SQL server and receive the data. Rest is done in memory in your application

[2017-01-16 17:03] hey-red opened #7425 "Adding a graph of new entities"
[Docs](https://docs.microsoft.com/en-us/ef/core/saving/related-data#adding-a-graph-of-new-entities) has been obsoleted?
Currently it's wont work, and needs to manually add new posts before blog:
[code]

[2017-01-16 21:09] cigano commented on #7407
@bricelam Okay, I'll dig into the sources and try to implement something.

You mentioned the steps to obtain the differences in other issue. I'll use this as a guide to extend EF Core in some way.

[2017-01-16 22:42] vijayrkn opened #7426 "dotnet ef dbcontext list does not return dbcontexts from dependent dlls w/o passing the startup project"
Describe what is not working as expected.
Publish tooling in Visual studio currently calls "dotnet ef dbcontext list" to get the list of dbcontexts to show in the publish settings tab.

If the dbcontext is in a different project, the above command does not return the dbcontexts from the dependent projects.

Can we have an additional flag (if provided) will search for the db contexts in all depende

[2017-01-16 22:45] julielerman opened #7427 "migrations from class library msbuild3 -- subcommands still require --startup-project"
On further thought, I realized that this was not a problem but a good solution for an old problem. So I've changed the title and the description.

Thanks for allowing us to get help via dotnet ef on class library projects without having to specify the --startup-project. Once you get the help, then you can learn that you need to specify a --startup-project if you are starting from a class library.

[2017-01-17 02:20] vijayrkn commented on #7426
@rowanmiller @bricelam

[2017-01-17 11:55] cSteusloff commented on #2229
+1

[2017-01-17 14:25] figuerres commented on #1100
@rowanmiller   : lack of Geo  types is keeping the project i am working on stuck on .net 4.xx and EF 6.xx.
just my vote to get this solved please !!!  I work for a logistics company so locations are very important for our core business.

[2017-01-17 16:43] xperiandri commented on #1100
Agree

However you can workaround it with [Geodesy](https://www.nuget.org/packages/Geodesy), mapping and stored procedures while
#### model
[code]
#### insert
[code]

[2017-01-17 16:53] robertmclaws commented on #1100
Which is fine if you want to work with stored procedures. If you don't, you're out of luck.

[2017-01-17 17:59] ajcvickers commented on #7425
**EF Team Triage:** The docs are not out of date. This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution t

[2017-01-17 18:14] ajcvickers commented on #7340
@JonPSmith Can you give more details on what you mean by this, "Obviously, this works in all cases other than update of an LineItem where the composite key is identical to an existing entry in the list that is being deleted." Specifically, can you should the code that is doing the insert/updates/deletes of LineItems?

[2017-01-17 18:18] ajcvickers commented on #7414
Reopening to discuss if there is anywhere we might be able to put a doc note for this. It isn't an EF issue at all, but people keep hitting it with MVC and Json serialization.

[2017-01-17 18:18] ajcvickers commented on #7317
@ErikEJ Is there something you wan us to investigate here?

[2017-01-17 18:22] ajcvickers commented on #7371
@divega Not sure what you are referring to; I haven't done this in EF Core. I think @anpete might have done something at one point. @satyajit-behera If I was going to start somewhere, I would probably investigate replacing SqlServerConnection, or whatever the RelationalConnection class is for the provider you are targeting.

[2017-01-17 18:22] rowanmiller commented on #474
@jemiller0 can you open a new issue since this issue is closed (and what you're describing looks like something we should dig into).

[2017-01-17 18:23] ajcvickers commented on #737
@divega It probably can be. It was originally a different issue to track what kind of "eventing/interception" mechanism to use throughout the stack, but I think that can be covered when we start work on 626.

[2017-01-17 18:35] JonPSmith commented on #7340
Hi @ajcvickers ,

Sure, here is the unit test. It fails if the `LineItem` class uses the PK+FK pattern as shown in the previous post. The failure is the same as with the original `PriceOffer` PK+FK, i.e
[code]

If I change the `LineItem` to have is own PK, e.g. `LineItemId`, and relegate the `BookId` to just being a Foreign Key then this test passes.

[code]

Note, if I make the new LineItem have

[2017-01-17 18:38] rowanmiller commented on #6855
@bricelam could you help out with the above question?

[2017-01-17 18:41] ErikEJ commented on #7317
@ajcvickers Yes, I am wondering why statement logging works only for query and update pipeline, but not for migrations - am I doing something wrong, or is it "by design" ?

[2017-01-17 18:47] julielerman commented on #7426
This will also make it possible to publish projects where EF is in a dependent project

[2017-01-17 18:50] ajcvickers commented on #7418
@BigVan I don't fully understand what you are asking for, but I think you might be looking for ways to describe relationships between objects. This section of the documentation would be a good place to start: https://docs.microsoft.com/en-us/ef/core/modeling/relationships

[2017-01-17 18:55] ajcvickers commented on #7422
@Robelind You could look in to creating your own derived version of the InMemoryStore class and then using ReplaceService in OnConfiguring to have EF use your version. This would be using internal code, so do this at your own risk and with the understanding that it could break any time a new version of EF is shipped.

[2017-01-17 19:03] ajcvickers commented on #7340
@JonPSmith In this case, even if EF didn't throw, then the database would throw because the code is attempting to save two entities with the same key. The only way I can see this working is if LineNum was store-generated. It isn't in the code above--is it intended to be?

[2017-01-17 19:06] ajcvickers commented on #7340
Also, is the intention of the code to load the LineItems collection and then throw away that collection and replace it with a new one? Replacing collections with entirely new collections like this is something we don't see very often and certainly wouldn't recommend doing. It is something I have a note for to so more testing on, but it has been a low priority.

[2017-01-17 19:15] rowanmiller commented on #7424
@ole1986 could you share the actual code for the query that works (the code listed wouldn't compile)... guessing it's just a copy/paste error from the non-working sample 😄

[2017-01-17 19:21] rowanmiller commented on #7418
Closing, but feel free to reply with follow up questions if we didn't answer

[2017-01-17 19:25] rowanmiller commented on #7415
As @gdoron noted, this is by design

[2017-01-17 19:29] Tratcher opened #7428 "SQL generation issue when doing a SUM with a column Coalesce function in it"
_From @grantnilsson on January 16, 2017 22:57_

I have a class (called Transaction), which has a property defined as a nullable integer (int?). I then run a Linq command against this property to SUM all the values together. Note: some transactions have a NULL vaue for this field.

[code]
The Linq command looks like this
[code]
This generates an invalid SQL command stating "'sum' is not a recognize

[2017-01-17 19:31] rowanmiller commented on #7381
We should look at re-enabling the drop all database step on EFCI once this (and other test work) is done.

[2017-01-17 19:32] AndriySvyryd commented on #7381
Fixed in 87ed1f2a455c5a11977dbb3ea3500141f60c3af7

[2017-01-17 19:32] #7381 closed

[2017-01-17 19:34] rowanmiller commented on #7387
@bricelam any thoughts on this one?

[2017-01-17 19:37] CallumHemsley commented on #4825
@omuleanu When i hardcode the connection like you did, do I get this error?

Here is my dbcontext:
`public class ApplicationDbContext : IdentityDbContext<ApplicationUser,IdentityRole,string>
    {

        public ApplicationDbContext()
        {

        }

        protected override void OnModelCreating(ModelBuilder builder)
        {
            base.OnModelCreating(builder);

        }

[2017-01-17 19:37] rowanmiller commented on #7396
@ErazerBrecht Can you share the complete model (entities and context) before and after the change - to help us debug.

[2017-01-17 19:42] rowanmiller commented on #7411
@bricelam feel free to disable paralellization for now, if needed to unblock CI

[2017-01-17 19:44] rowanmiller commented on #7414
We'll add a note to https://docs.microsoft.com/en-us/ef/core/querying/related-data

[2017-01-17 20:05] JonPSmith commented on #7340
Hi @ajcvickers,

Let me take your second point first. I think there are situations where you want to replace the whole of a collection, especially when in the disconnected state. I have an [example application](samplemvcwebapp.net/Posts/) - try Edit and change the tags. The code to update the Tags can be found in [here](https://github.com/JonPSmith/SampleMvcWebApp/blob/master/ServiceLayer/PostServ

[2017-01-17 20:11] ajcvickers commented on #7340
@JonPSmith Okay, thanks for the additional info.

[2017-01-17 20:49] maumar commented on #7416
dupe of https://github.com/aspnet/EntityFramework/issues/6647

[2017-01-17 20:54] yasinuohyd commented on #629
Hi @rowanmiller, Are we going to bring this feature in near future?

[2017-01-17 21:08] jemiller0 opened #7429 "StartsWith() filter slow with use of SQL CHARINDEX()"
Describe what is not working as expected.

I have a LINQ query that is using a .StartsWith() search on a string column. I found that it is being translated into the following SQL WHERE clause.

`WHERE [b].[updated_by] LIKE N'jemiller%' + N'%' AND (CHARINDEX(N'jemiller%', [b].[updated_by]) = 1)
`

The full SQL statement is.

[code]
The problem that I'm having is that the query is taking 11 seconds

[2017-01-17 21:27] divega commented on #7341
@bricelam in triage we said this was a duplicate of an other issue, but I am not sure of which one. Can you help?

[2017-01-17 21:32] divega commented on #7371
@ajcvickers ok, I guess I had it mixed up in my notes. @anpete do you know of a test that does service replacement to achieve something similar to command interception? I had this in my notes from triage but it might have been a misunderstanding.

[2017-01-17 21:35] rowanmiller commented on #7414
PR is out to add this to the docs - https://github.com/aspnet/EntityFramework.Docs/pull/333. Closing as docs are maintained in a different repo.

[2017-01-17 21:38] anpete commented on #7371
@divega https://github.com/aspnet/EntityFramework/blob/1145ef9b3dd46a07a84cb04b11141ecc8bfc62d2/test/Microsoft.EntityFrameworkCore.Sqlite.FunctionalTests/BadDataSqliteTest.cs

[2017-01-17 21:42] divega commented on #2461
Here is another scenario we may want to generate comments for: *Add a migrations warning for ValueGeneratedOnAdd for a non-key property for SqlServer #7295*

[2017-01-17 21:57] divega opened #7431 "Add a version of the ExecuteInTransaction() that supports specifying the isolation level"
Currently `IExecutionStrategy.ExecuteInTransaction()` always calls `Context.Database.BeginTransaction()` with no arguments. This means if you want to use an isolation level different from the default you have resort to `Execute()` and calling `BeginTransaction()` explicitly as described at https://github.com/aspnet/EntityFramework/issues/7318#issuecomment-269742840.

It looks like it would be easy

[2017-01-17 21:58] divega commented on #7318
I have created issues for the two follow up action items. Closing as I believe the question was answered.

[2017-01-17 22:03] MMalikKhan commented on #2784
hi @hermitdave  i am having the same issue, it was all working fine i created migration in december 2016 and now when i added a column try to run add-migration and i am getting exact same issue.. i tried following #5471  but no luck so far.. still keep getting it .. this is my project json

{
  "dependencies": {
    "Microsoft.EntityFrameworkCore.Design": "1.0.1",
    "Microsoft.EntityFrameworkCor

[2017-01-17 22:04] muratg commented on #7379
@kierenj, in case you're interested in "standalone" (AKA self-contained apps):

- For project.json based projects, Scott Hanselman has a blog post: http://www.hanselman.com/blog/SelfcontainedNETCoreApplications.aspx
- For csproj projects: https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/

[2017-01-17 22:05] rowanmiller commented on #2546
Clearing the milestone as discussed with @anpete that this may be done

[2017-01-17 22:08] #7094 closed

[2017-01-17 22:14] rowanmiller commented on #218
We're not 100% happy with where we have landed - so we want to revisit this in 2.0. Next step is for @ajcvickers to prepare something for a design meeting.

[2017-01-17 22:24] hermitdave commented on #2784
I have given up on using Add-Migration.. created Migration file by hand.. much better use of my time

[2017-01-17 22:25] ajcvickers commented on #7317
@ErikEJ When I run that test against SQL Server, this is what I see getting logged. If you modify the test on your machine to hit SQL Server do you see the migrations commands being logged? Or are you saying that you don't see the migrations commands only when trying to filter? If so, that's probably covered by #7217.

[code]

[2017-01-17 22:55] divega commented on #7214
@Opiumtm we have consider all these improvements as part of https://github.com/aspnet/EntityFramework/issues/1906 and https://github.com/aspnet/EntityFramework/issues/241, which are currently in our backlog.

[2017-01-17 23:03] divega commented on #7214
**Note for triage:** I think there is overlap between this issue and the existing #1906 and #241 (and also between the latter two). But there is good information here about things we have discussed doing but that are not called out in the existing issues.

I.e. I think we could probably track compiled models and any code we want to pre-generate (e.g. using Roslyn) in just one issue, and we should

[2017-01-17 23:23] divega commented on #7219
We worked together with ASP.NET Core to refine how the log output should look like for a typical request during development.

The decision was made that the SQL should be included in the log during development and the default logging level for our comments during development in the ASP.NET Core templates is `Information` (see [appsettings.Development.json](https://github.com/aspnet/Templates/blob/

[2017-01-17 23:29] gdoron commented on #7219
Is there a way to control the log level?
Could be really handy.
Because we do want log the SQL, but not many other things.

Now that I'm rethinking, maybe it's better using the code I posted earlier, control what to log in the logger itself. I'm not sure.

[2017-01-17 23:39] rowanmiller opened #7432 "Experimental: ODBC-based providers"
Look at a base provider implementation that uses ODBC.

[2017-01-18 00:31] colltoaction opened #7433 "Outdated Writing an EF7 Provider wiki docs"
[Writing an EF7 Provider](https://github.com/aspnet/EntityFramework/wiki/Writing-an-EF7-Provider) in the wiki is outdated.

Maybe we should point to https://docs.microsoft.com/en-us/ef/core/miscellaneous/internals/writing-a-provider?

[2017-01-18 01:05] divega opened #7434 "Self-contained type mappings"
Adding support for a new type on a relational database provider currently requires making changes in a few places:

1. The provider's implementation of `IRelationalTypeMapper`: used to populate parameters, configure column facets, etc.
2. The provider's implementation of `ISqlGenerationHelper`: used to generate literal values for a given type in SQL
3. Potentially, `CSharpUtilities` in `Microsoft.

[2017-01-18 01:11] divega commented on #7432
Related: *System.Data.Odbc Namespace https://github.com/dotnet/corefx/issues/13035*

[2017-01-18 01:21] tinchou commented on #7432
Will take a look at this

[2017-01-18 02:43] MrGadget1024 commented on #5199
Any chance you added support for  **String.IsNullOrWhiteSpace** while you were at it?

[2017-01-18 05:57] thiennn commented on #7387
Just take a look at the https://github.com/aspnet/EntityFramework/blob/master/src/Microsoft.EntityFrameworkCore.Design/Internal/OperationExecutor.cs.

The environment variable DataDirEnvName = "ADONET_DATA_DIR" is set everytime a EF CLI command run. So I have tried

[code]
and it worked. But still wonder if there is a better way

[2017-01-18 06:37] MohammadAkbari opened #7435 "Include after select not load navigation property"
I use entity framework core 1.1.
I have a query like below, and I expect to users who have UserProfile by using Include, load UserProfile. but this query always return UserProfile null .

Query:

    var user = dbContext.UserMappers
		.Where(e => e.OldUserId == id)
		.Select(e => e.User)
		.Include(e=>e.UserProfile)
		.FirstOrDefault();

Models:

    public class UserMapper
    {
        [Key, For

[2017-01-18 07:26] ErikEJ commented on #7317
OK, so it is a SQL CE only issue, probably due to #3654 - and only when running Migration commands - never mind...

[2017-01-18 11:14] MarkusEgle commented on #7211
Since the last few weeks I tried several installations.
With
- Ubuntu 16.04.1 Server amd64
- Lubuntu 16.04 Desktop amd64
With
- the manually downloaded and installed 4 packages from [https://apt-mo.trafficmanager.net/repos/dotnet-release/pool/main/d/](https://apt-mo.trafficmanager.net/repos/dotnet-release/pool/main/d/)
- tried several preview releases including the current `.NET Core SDK 1.0 Previ

[2017-01-18 13:13] ole1986 commented on #7424
attached is a  working solution (using AspNetCore)

You may need to change the appsettings.json with a proper database connection string.
all the important line are located in the Startup.cs (LINE 50-107)

[EF-Issue7424.zip](https://github.com/aspnet/EntityFramework/files/713951/EF-Issue7424.zip)

[2017-01-18 14:08] groege commented on #3797
@series0ne Sorry, no offense but I have to disagree. If you have a big project with many people working on it, different modules, many MANY lines of code, it's not always visible what data will be needed. What would happen is missing data even though there is something.
At my previous job (java with a homegrown entity manager though) this would result in something like a "NotLoadedException" somew

[2017-01-18 14:21] series0ne commented on #3797
@groege A good tester/test team should be picking such issues up well before they hit the customer...perhaps I'm missing your point, but I can't quite imagine a scenario where you might not know what data you need...

[2017-01-18 14:29] groege commented on #3797
That's just the thing, I'm writing about corner cases, that don't come up that easily.
If you have a very complex application let's say in the >2M lines of code range (i.e. logistics software for automated and manual warehouses), which can be adapted to the customers by simply configuring the software by flags, mappings,...
There is no way to test all possibilities since with every flag you add ra

[2017-01-18 14:32] groege commented on #3797
You can also test separate Units (well that's what unit tests are for) but those units might be too small and test won't show an issue because you know what data to load for that specific part - but put to together into a huge project... the complexity will rise exponentially again.

[2017-01-18 14:33] pchasco commented on #3797
@groege Yes, wouldn't that be luxury to have a good test team :) Thine horse is too high, sir!

There are no limit to the number of scenarios where you don't know what data you need, or that you must assume that all data is needed. Given any business process of at least intermediate complexity, in order to know all data that is needed in advance you will need to know how all the business rules wil

[2017-01-18 14:35] groege commented on #3797
@pchasco What you said 👍

[2017-01-18 14:38] gdoron commented on #3797
Guys let's just agree that different people have different opinions?
There's really no need to continue arguing about it (and sending notifications to everyone here), it's already high on the roadmap.

[2017-01-18 15:07] RonCass commented on #7082
@rowanmiller Hi Rowan/EF Team, I just started having the same issue. Here is some information that hopefully helps.

**Also, I just reverted my packages back to the original version that works and I don't get the exception anymore. I put the both package versions below.**

I generated my models and DBContext about 4-6 months ago and have been building a site off them since then. Just yesterday I u

[2017-01-18 15:21] popcatalin81 commented on #7429
@jemiller0 what type is your updated_by column VARCHAR or NVARCHAR?

In case it's varchar then the piece CHARINDEX(N'jemiller', [b].[updated_by], may force an conversion of the column to nvarchar row by row bypassing the index, while LIKE alone may not force a conversion and allow the index to be used.

[2017-01-18 16:33] jnm2 commented on #7429
Could the CHARINDEX be left out if you know that there are no wildcards?
Barring that, what if you went the LIKE ... ESCAPE route for performance?

[2017-01-18 16:33] jnm2 commented on #7429
Ignore me, I didn't see OP asked the exact same thing.

[2017-01-18 19:24] jemiller0 commented on #7429
The column is a NVARCHAR(40) NULL. I generated the database using EF Core and it's a string property. Hopefully, EF Core wouldn't include the N'' strings if it was a VARCHAR.

I have the same database in PostgreSQL and MySQL. MySQL (Pomelo provider) does something similar and generates the following SQL.

`WHERE `b`.`updated_by` LIKE CONCAT('jemiller','%') AND (POSITION('jemiller' IN `b`.`updated_

[2017-01-18 19:33] zman13 commented on #6323
I had a similar issue with .NETCore 1.0.1 connnecting to the database. It worked fine (in Windows 7)  if I ran under IIS Express or Self hosted. Also ran fine when I built a container and exported it to run on a unix box, it just stopped working as a docker container locally on a Windows 7 VirtualBox setup (in debug or release). The solution that worked for me was to change the database name in th

[2017-01-18 19:37] jemiller0 commented on #7429
One other thing I noticed is that if I comment out the JOIN to the other table, then, the query takes around 0.7 second with the call to CHARINDEX() and ironically, it takes 1.7 seconds without it. I ran it multiple times and the results were the same.

So, in the simple case, you may not see the issue. It probably only happens when you are joining in other tables.

[2017-01-18 19:56] rowanmiller commented on #7040
Closing as we are concerned about unknown side effects of this for various project types etc. NuGet 3.5 will become more widely adopted in the near future.

[2017-01-18 19:57] Andrew-By commented on #7069
Just to add up to that. I get an error only on x86 configuration, which is required for Design Data to work.

[2017-01-18 20:27] rowanmiller commented on #7433
Yep that page should be deleted. We should take a look at the [design documents](https://github.com/aspnet/EntityFramework/wiki/Design-Documents) and see which ones we want to keep, and which ones should just be deleted.

[2017-01-18 20:28] rowanmiller commented on #7433
BTW that section in our docs is pretty average too... I think we should just point folks to the blog series by @ajcvickers as it is the most comprehensive (and up to date) info we have https://blog.oneunicorn.com/2016/11/11/so-you-want-to-write-an-ef-core-provider/.

[2017-01-18 20:37] tinchou commented on #7433
Sure. But maybe don't delete it since it's one of the first search results.
We could put a link to the updated docs.

On Wed, Jan 18, 2017, 12:28 Rowan Miller <notifications@github.com> wrote:

[2017-01-18 21:35] gdoron commented on #6935
@divega Curios to know what is the reason behind not supporting `Include` with `Find` *by-design*.
I think it would be great if EF intelligently could:

Say you want to query X and include Y with it:

1. If  X and Y are already tracked by the context, retrieve them both from the Identity Map (that's how it's called in NH, is that the term in EF too?) .
2. If X isn't tracked by the context, query f

[2017-01-18 21:55] divega commented on #6935
@gdoron The answer to your question has a few parts:
- Currently `Find()` is a simple method defined on `DbSet` by design, as opposed to a general query method that composes with things like `Include()`
- I agree there is some value in doing what you said. #1948 is about doing this automatically for the query methods.
- Once we do #1948 we could in theory redesign `Find()` (or create something new

[2017-01-18 21:56] popcatalin81 commented on #7429
@jemiller0 if removing the join gives a difference of 0.7 and 1.7 with CHARINDEX respectively, then this means the carnality estimator gets confused, it doesn't think the index on [updated_by] is more selective than presumably (if it exists) the index on [bib_id]. I would suggest to help the query planner to work better by Updating and/or Creating a new set o statics on the columns that need to be

[2017-01-18 22:02] gdoron commented on #1948
If it will be implemented, it might be a good idea adding an overload that forces these method to do a roundtrip to the DB for the cases where you do not want to get stale data.

[2017-01-18 22:04] gdoron commented on #6935
Thanks for the input @divega!
Is it called Identity Map in EF too or am I using the wrong term for EF?

[2017-01-18 22:09] jemiller0 commented on #7429
Thanks. I will give that a try.

I still think that EF Core shouldn't add that check unless the input contains a special character though. I think it would result in less problems out of the box.

[2017-01-18 22:23] #7193 closed

[2017-01-18 22:39] divega commented on #6935
@gdoron yep, identity map is ubiquitous language for that concept within the EF team too :smile:

[2017-01-18 22:45] divega commented on #1948
@gdoron this only applies to tracked queries so it would return stale data from the identity map anyway. If you don't want the stale data you use a non-tracking query. The database roundtrip would only really make a difference in cases in which the entity has been deleted from the database, but even in that case it is debatable if the current behavior (you would get a null from a `FirstOrDefault()

[2017-01-18 22:53] divega commented on #7429
@jemiller0 @popcatalin81 I was also going to suggest trying UPDATE STATISTICs hoping that would help. If it doesn't help we can consider other options.

Sniffing into the value to see if it contains wildcards is a possibility but it is potentially provider specific and would only work if the argument for `StartsWith()` is coming from the client.

Also, this is a scenario in which having actual sup

[2017-01-18 23:19] glennc opened #7439 "PMC Tools: Error when using Docker tools"
VS creates a project that is set as the startup project when you are running a solution inside containers, but it doesn't have any code in it.

This means that if you run Add-Migration without specifying a startup project it will fail. I am told that for some project types we provide an error message telling people what they have to do. Given that it will never be correct to use the docker project

[2017-01-18 23:23] maumar commented on #7429
Another thing worth considering is caching. Currently we only depend on parameter nullability determine the resulting SQL (with a given query plan we will always generate the same SQL, regardless of the parameter value, unless the value is null). If we were to add the extra check only when needed, we would have 3 possible states: null, non-null-with-escaping, non-null-without-escaping. For all cas

[2017-01-19 00:05] maumar opened #7441 "Query : possible error around conditional removing visitor and sql functions"
Problem so far only surfaces in MySql provider, but potentially it's a wider issue that can be reproduced in Sql provider with a correct query.

More info: https://github.com/aspnet/EntityFramework/issues/6687#issuecomment-272543460
Mysql repro: http://bugs.mysql.com/bug.php?id=84505

[2017-01-19 02:17] maumar commented on #7382
This issue was moved to aspnet/EntityFramework6#175

[2017-01-19 05:40] sjb-sjb opened #7442 "Documentation for LoadAsync, cancellation, and transactions"
Well, this is more of a question than an issue but ... I guess it's an issue if the documentation doesn't tell me the answer :-)

Will the use of a transaction result in all-or-none loading when cancellation occurs (or for that matter if an error occurs), assuming I am using LoadAsync?

For example, it would be helpful to know that when I do an await dbSet.Skip(n).Take(p).LoadAsync(cancellationTok

[2017-01-19 08:49] Axioma-ShirokovPN opened #7443 "Scaffold-DbContext, MSSQL, column names reverse to camelCase"
If in table column name contains UPPER values, they rewrite to camelCase.
May be exists some parameters for this, but I don't to find it.

### Steps to reproduce
Create simple db table with column name BornInUSSR.
After reverse, we receive: **_public byte BornInUssr{ get; set; }_**
**BornInUssr != BornInUSSR**
In previos 6.x version all was ok

### Further technical details
<PackageReference Inclu

[2017-01-19 09:45] bricelam commented on #831
In theory, this isn't too different than Migrations: Diff the current model with the reverse engineered model from database and generate operations to perform on the Roslyn syntax tree.

[2017-01-19 09:47] asperheim commented on #7139
@sambernaerdt i got this error while using the "MySql.Data.EntityFrameworkCore": "7.0.6-IR31". But my error was that i was pulling in the "Microsoft.EntityFrameworkCore.Relational":"1.1.0" or "Microsoft.EntityFrameworkCore":"1.1.0" in addition to the mysql nuget. But the "Microsoft.EntityFrameworkCore.Relational":"1.1.0" is pulled by the mysql nugget so all you have to do is to remove the "Microso

[2017-01-19 15:49] joacar opened #7444 "To change the IDENTITY property of a column, the column needs to be dropped and recreated"
Changing an identity pk to composite key

[code]

### Steps to reproduce

[code]

Can't recall if doing schema compare in VS created the temporary table and did the data moving or not. For now I just deleted the previous data so no data migration needed to take place, but perhaps EF generates the same as Schema Compare does (or don't :)

### Further technical details
EF Core version: 1.1.0
Databas

[2017-01-19 16:35] rowanmiller commented on #7444
Duplicate of https://github.com/aspnet/EntityFramework/issues/329, planned for the next release of EF Core.

[2017-01-19 16:38] rowanmiller commented on #831
Yeah, I think we'd want to keep a snapshot when the model was reverse engineered, so that we can work out what changed without loosing changes the developer has manually made to the model. Probably ok if we overwrite changes on something that also changed in the database, but not things that remained the same. But, as you said, all those pieces are there from migrations.

[2017-01-19 16:38] joacar commented on #7444
Searched prior to submission but didn't find that :)

Thanks will follow that issue

[2017-01-19 16:39] rowanmiller commented on #7444
No problem, it's not obvious from the title of #329 😄

[2017-01-19 16:40] rowanmiller commented on #7443
Duplicate of https://github.com/aspnet/EntityFramework/issues/6018

[2017-01-19 17:31] ajcvickers commented on #7442
@sjb-sjb You can end up with a partial set of results loaded. However, if there is a failure or cancellation, then there should be no problem just executing the same query again because EF will do identity resolution to ensure that only one instance of each entity is loaded--there should not be a need to clean anything up.

[2017-01-19 18:17] rowanmiller commented on #7433
@tinchou agreed, will do

[2017-01-19 19:53] Eilon commented on #6534
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:53] Eilon commented on #7010
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:54] Eilon commented on #7048
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:54] Eilon commented on #7057
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:54] Eilon commented on #7061
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:54] Eilon commented on #7084
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:55] Eilon commented on #7115
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:55] Eilon commented on #7116
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:55] Eilon commented on #7127
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:55] Eilon commented on #7227
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:55] Eilon commented on #7230
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:56] Eilon commented on #7266
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:56] Eilon commented on #7298
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:56] Eilon commented on #7332
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 19:56] Eilon commented on #7348
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 20:09] smitpatel commented on #5199
@MrGadget1024 - Yes. `string.IsNullOrWhiteSpace` is already supported.
Test - https://github.com/aspnet/EntityFramework/blob/dev/test/Microsoft.EntityFrameworkCore.SqlServer.FunctionalTests/QuerySqlServerTest.cs#L5810

[2017-01-19 20:10] #7266 closed

[2017-01-19 20:16] #7127 closed

[2017-01-19 20:19] #7084 closed

[2017-01-19 20:20] #7057 closed

[2017-01-19 20:21] #7010 closed

[2017-01-19 20:23] #7227 closed

[2017-01-19 20:24] #7116 closed

[2017-01-19 20:24] AndriySvyryd opened #7445 "Use Task.FromResult consistently"
For methods returning a non-generic `Task` we should always use Task.FromResult(true)

[2017-01-19 20:24] #7332 closed

[2017-01-19 20:29] benaadams commented on #7445
Use task cache? https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.TaskCache.Sources/TaskCache.cs

[2017-01-19 20:38] ajcvickers opened #7446 "Make AddAsync and AddRangeAsync really async"
The safe fix for #7298 made these async methods always execute synchronously. This issue tracks adding the needed changes to the graph methods to make them really async again.

[2017-01-19 20:48] #7298 closed

[2017-01-19 20:54] AndriySvyryd commented on #7445
@benaadams Yeah, that's even better

[2017-01-19 21:28] sjb-sjb commented on #7442
Thanks for the comment. In my case the cancellation will be because I've moved on to loading a different page due to a new incoming user request. It seems like a waste though if I delete perfectly good entities just because it was a partial page load. Maybe I should think about the design a bit more.

[2017-01-19 21:33] ajcvickers commented on #7442
@sjb-sjb A few things to note. First, the context is not thread safe, so if the same context is being used to load two pages at the same time, then that is an error. Second, if you want the entities from the first page to not be tracked by the context when loading the second page, then that will require some work regardless of whether all the entities were loaded or not. Third, if you find that yo

[2017-01-19 22:24] #2805 closed

[2017-01-19 22:27] #6534 closed

[2017-01-19 22:28] #7061 closed

[2017-01-19 22:29] #7348 closed

[2017-01-19 22:38] bricelam commented on #7031
@MikeYeager See #7358 for what packages to install.

[2017-01-19 22:46] bricelam commented on #6855
For now, you need to add it manually to the csproj (NuGet will enable installing from the UI later).

[code]

[2017-01-19 22:56] MikeYeager commented on #7031
Thanks for the responses. I eventually found another computer I could install everything on (VS2017 RC, Docker, etc.) I managed to get everything to work there. It seems that no amount of uninstalling, reinstalling, repairing, etc. is able to fix my original dev machine. Something is hosed and even using -Verbose flags, etc. there is not much feedback about why it's failing. I'm going to chalk it

[2017-01-20 00:05] smitpatel commented on #7364
@maumar - Is this fixed?

[2017-01-20 00:08] maumar commented on #7364
partially: the part about ignoring formatter is fixed (i.e. now we do client evaluation rather than ignoring the formatter), but what @divega was suggesting (i.e. translate some of the formatters to SQL) is not.

[2017-01-20 00:09] smitpatel commented on #7307
possible dupe of #7271

[2017-01-20 01:24] smitpatel commented on #7359
Removing milestone for re-triage.
The issue mainly arises due to `EF.Property` expression being nullable type. If the discriminator column is of value type but in shadow state then materializer throws exception. For non-shadow discriminator, materializer would work fine but for the query with predicate `Where(e => e is DerivedType)` it would throw exception. The same would happen for any discrimin

[2017-01-20 02:00] xyting commented on #6089
@rowanmiller my team are hard to look for this feature, yes, we need this feature too.

[2017-01-20 02:15] sjb-sjb commented on #7442
Well, I agree about the threading. This is a client application and the tasks are all awaited from the UI thread, so I think the main challenge in my case is not threading per se but to make sure the tasks on that thread don't get in each others' way. I also agree there's got to be some work done somewhere, there's no free lunch.

About the context lifetime, I have seen this mentioned elsewhere an

[2017-01-20 02:32] xyting commented on #4019
@rowanmiller Have any plan to release this feature? our team waiting to use this feature in spring of 2017

[2017-01-20 04:19] davkean opened #7449 "Adding an EF 6.x DbContext Generator to classlibary generates many errors"
_From @BillHiebert on January 19, 2017 18:53_

VS build D15Rel.26116.00

1, New .NET Core class library
2. R-click\Add new Item. Search for "Entity".
3. Select the EF 6.x DbContext Generator, OK

You get a couple of errors like the following
[code]
Followed by:
[code]

_Copied from original issue: dotnet/roslyn-project-system#1260_

[2017-01-20 04:19] davkean commented on #7449
Is this thing supposed to show up for .NET Core projects? This sounds like a EF bug.

[2017-01-20 04:19] davkean commented on #7449
tag @ajcvickers, @bricelam

[2017-01-20 06:24] divega commented on #7364
@maumar I think that was a note I took in triage but the original suggestion came from @anpete. If we can take a quick look and what formatters would make a lot of sense to translate then I think we can create a new issue for that and prioritize it in triage.

[2017-01-20 06:27] divega commented on #7449
This issue was moved to aspnet/EntityFramework6#177

[2017-01-20 08:25] joacar commented on #7444
I'll post a small question here to you @rowanmiller :)

I have a model (most properties excluded)

[code]

The table for Offering is

Name | Key(s) | Nullable
---- | --- | --------
 OfferingId | PK, FK | not null
 InfluencerId | PK | not null
 InfluencerId | FK | null

If I add the InverseProperty-attribute to `Offerings.Influencers` and remove the `ForeignKey`-attribute from `OfferingInfluencer.I

[2017-01-20 12:08] jusefb commented on #5900
I still can not get this to work with .NEt core 1.1. Looking at examples in this post it looks like the --startup-project option is no longer there. Not sure how to resolve this.

[2017-01-20 13:27] julielerman commented on #6946
Guys -- this is the "kludge" I was talking about on Wednesday that I was confused about when you said it was implemented in 1.1.
This is how I'm currently using & explaining it with 1.1:
![image](https://cloud.githubusercontent.com/assets/5007120/22151014/238c4cb6-deea-11e6-9223-53acaeed5c3b.png)

Am I missing something?

[2017-01-20 13:32] ErikEJ commented on #6946
@julielerman I am doing this instead (based on sample code from Rowan) https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Extensions/Logging/DbSimpleLogger.cs

[2017-01-20 17:15] ajcvickers commented on #7442
@sjb-sjb With regard to detaching entities, it seemed like you were saying that you would need to detach entities for one page because another page is loading. I was trying to say that that might be an indication that each page is a different unit of work.

[2017-01-20 17:49] #7446 closed

[2017-01-20 18:14] rowanmiller commented on #6946
Our logging is overly complex to work with at the moment, and we have an item on the list to address this in 2.0 (#218). Honestly, either way is fine with 1.x. `DbCommandLogData` is marked as obsolete... but we won't be removing it until 2.0 - at which point there will be a much cleaner way to do this.

[2017-01-20 18:24] bricelam commented on #7426
Note, if it's registered in the application services using `services.AddDbContext<MyExternalDbContext>()` it will be listed.

But correct, we currently don't crawl project/assembly references looking for DbContext classes.

[2017-01-20 18:28] rowanmiller commented on #4019
@xyting it's not on our list for an upcoming release. It would make a good external contribution though 😄

[2017-01-20 18:42] bricelam commented on #7387
A better way might be to implement `IDbContextFactory<MyDbContext>` in the same assembly and pass in a flag to your DbContext.

[code]

Note, you can do more in the `Create` method too (like calling `Startup.ConfigureServices` and getting the `DbContext` from there) the `options` parameter has properties like `ContentRootPath` and `EnvironmentName`.

[2017-01-20 18:45] bricelam commented on #7341
#5320

[2017-01-20 18:46] bricelam commented on #7341
@armartinez If you're interesting it trying out the latest tools where a lot of issues like this have been fixed, see #7358

[2017-01-20 18:49] bricelam commented on #7423
@InariTheFox does adding `--verbose` give any additional information?

[2017-01-20 19:03] bricelam commented on #7439
*Anything* is possible, Glenn. Shun the non-believer...

[2017-01-20 20:29] davidroth commented on #7413
@anpete I think it would be useful if such filters could be enabled/disabled per context instance or even modified.
If I take the soft-deletion as an example, it is quite common that there is some kind of toggle/switch which enables/disables hiding soft deleted entities in an application/view.

[2017-01-20 20:38] anpete commented on #7413
@davidroth Yes, I was thinking of per-query granularity for disabling them. I'm not sure about modification, though. Filters will be parameterizable via variables in the same way as regular queries, which I think should capture many scenarios. I.e multitenancy.

[2017-01-20 20:39] anpete opened #7450 "Model-level Entity Ordering"
Companion feature to Model-level Entity Filters. (#7413). Allow specification of default query ordering at the model level.

[2017-01-20 20:41] AndriySvyryd commented on #7007
This is a known issue: data annotations don't work on UWP, see https://github.com/aspnet/EntityFramework/issues/5471

[2017-01-20 21:00] vijayrkn commented on #7426
@bricelam Is it possible to add this feature to dotnet ef to look for the dbcontexts from dependent assemblies/projects when an additional flag is passed?

[2017-01-20 21:53] rowanmiller commented on #629
@yasin-uohyd this is not currently planned for an upcoming release.

[2017-01-20 21:54] anpete opened #7451 "Relational OfType op selects unnecessary columns"
Given a hierarchy like:
[code]
the following query will select the columns from B:
[code]

[2017-01-20 21:56] flashfearless commented on #329
Personally, I would think that MS would find it inexcusable to supply EF framework migrations without supporting this functionality.  What is the delay in getting this supported?

[2017-01-20 21:57] ErazerBrecht commented on #7396
@rowanmiller
I'm sorry but I'm not allowed to share the complete model.

[2017-01-20 22:21] rowanmiller commented on #626
@sidshetye it's planned to be in our 2.0 release (at least the first set of hooks). No specific dates on that yet, but it's the release we are starting work on now.

[2017-01-20 22:46] rowanmiller commented on #7396
Here is my attempt to reproduce it.

* New console app with the following code:

[code]

* `Add-Migration Initial`
* `Update-Database`
* Add the following code to the context:

[code]

* `Add-Migration Second`
* `Update-Database`

This succeeds. Can you adjust the steps above to reproduce the issue. I realize your scenario is more complex, because the drop of the `IX_Projects_CompanyId` index must

[2017-01-20 22:47] rowanmiller commented on #7396
Clearing the milestone and assigning as there is nothing actionable until we have a repro.

[2017-01-20 22:47] smitpatel commented on #7220
This is confirmed bug though not a regression.
A work-around is to apply the projection before doing Skip/Take.
The working query would be
[code]

Also you wouldn't need `Include` if you are not materializing entity in projection.

[2017-01-20 22:57] sjb-sjb commented on #7442
I agree. It would be nuts to have two tasks competing to load two pages into the same context.

Thanks again for your insights, I really appreciate the depth of your experience.

[2017-01-20 23:20] maumar commented on #7290
Problem here is that our current mechanism to find the groupjoin sources that needs to be materialized only works on top level query. If the query has subqueries containing groupjoins, they will not be marked for materialization and cause the error.

The simple fix would be to introduce the visitor that walks the entire QueryModel and finds all the necessary query sources, however the problem with

[2017-01-20 23:20] maumar commented on #7290
clearing milestone for re-triage

[2017-01-20 23:49] ErazerBrecht commented on #7396
I'll have a look tomorrow.

Thanks in advance

[2017-01-20 23:50] maumar opened #7452 "Query : invalid cast for queries with nullable bool and coalesce"
[code]

exception:

System.InvalidCastException: Specified cast is not valid.
   at lambda_method(Closure , ValueBuffer )
   at System.Linq.Enumerable.WhereSelectEnumerableIterator`2.MoveNext()
   at Microsoft.EntityFrameworkCore.Query.Internal.LinqOperatorProvider.ExceptionInterceptor`1.EnumeratorExceptionInterceptor.MoveNext() in D:\git\EntityFramework\src\Microsoft.EntityFrameworkCore\Query\Int

[2017-01-21 00:02] maumar commented on #7421
Looks like a duplicate of https://github.com/aspnet/EntityFramework/issues/7348 which is not fixed and will ship in 1.1.1

[2017-01-21 00:04] maumar commented on #7421
Unfortunately the fix is not ideal - distinct and count will now be applied on the client. This will again be fixed once we stop materializing unnecessary columns in the LEFT JOIN scenarios

[2017-01-21 00:43] divega commented on #7233
@anpete @MichaelKetting  reading the whole thread I tend agree that the fact that queries returned from all operators are `IOrderedQueryable<T>` is less than ideal. Any thoughts on this?

[2017-01-21 02:28] divega commented on #7252
@qianthinkover there are several features that could make working with dynamic models easier that are covered in this issue in the backlog: https://github.com/aspnet/EntityFramework/issues/2282.

Within the current feature set, there is at least one thing that could help you easily make programmatic changes to the model, but it is limited to adding properties to the EF model without modifying the

[2017-01-21 02:30] divega commented on #7078
Clearing up milestone to discuss this next week given some new information.

[2017-01-21 12:44] intergleam commented on #2344
@ChristineBoersen tried your code and got

`'Database' does not contain a definition for 'GetDbConnection' and no extension method 'GetDbConnection' accepting a first argument of type 'Database' could be found (are you missing a using directive or an assembly reference?)`

[2017-01-21 17:05] ChristineBoersen commented on #2344
Unfortunately, the code snippet above was written before the framework went to RTM, so I would expect it to break at this point.  I've edited the post to indicate that as I've moved away from EF for my current projects.

[2017-01-21 17:46] divega commented on #2344
@intergleam looking for this? https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/RelationalDatabaseFacadeExtensions.cs#L154

[2017-01-22 09:48] divega commented on #7048
@anpete closing again since this is approved and the fix is in. please reopen if necessary.

[2017-01-22 09:48] #7048 closed

[2017-01-22 09:49] divega commented on #7115
@anpete closing again since the fix is in and approved for the patch. Please reopen if necessary.

[2017-01-22 09:49] #7115 closed

[2017-01-22 09:51] divega commented on #7230
@anpete closing again since the fix is in and approved for the patch.

[2017-01-22 09:51] #7230 closed

[2017-01-22 09:58] divega commented on #7293
Reopening as this still needs to go through patch approval process.

[2017-01-22 14:36] intergleam commented on #4057
hey @Kagamine can you please share full codes? thanks

[2017-01-22 16:53] ktrkumarbablu commented on #4062
Can anyone has resolve this issue.I tried find the solution but completely unsuccessful...
Please look this issue..

[2017-01-22 19:48] ArtemKalachev commented on #7158
Hello @rowanmiller

Faced the same issue on iOS platform. Do we have any resolution here or at least plan when it can be fixed?

Thanks,
Artem.

[2017-01-22 21:01] predalpha opened #7453 "[UWP][DATABASE LOCATION][EF CORE][SQLITE]"
Hello,

im learning EF Core for windows universal apps.
I want to know if it is possible to move the database (filename=Blogging.db) to another place.
For exemple to a shared folder in order to have many people to connect to it.

If i set the connectionstring to @"Filename=" + Windows.Storage.ApplicationData.Current.LocalFolder.Path + "\Blogging.db"

It works fine.

But if im away that local folde

[2017-01-23 03:00] stg609 opened #7454 "EF Core 1.1 - Failed to add migrations in .net core console app"
I have asked a question in [SO](http://stackoverflow.com/questions/41789794/ef-core-1-1-how-to-add-migrations-in-net-core-console), but didn't get enough responses. So I'm trying to ask the same question here again.
There're two projects in my solution as below:

- **Sample.UI**: a dotnet core console project created by "dotnet new".
- **Sample.Infrastruction**: a dotnet core library created by "d

[2017-01-23 04:32] Eilon commented on #7078
@anurse does this get fixed by us doing https://github.com/aspnet/Coherence-Signed/issues/389 / https://github.com/aspnet/Coherence-Signed/issues/400 ?

[2017-01-23 08:25] ErikEJ commented on #7317
Leave a comment

[2017-01-23 08:40] MichaelKetting commented on #7233
@divega Sure :)

Historically speaking, yes, EntityFramework 5.0 and 6.0 also implments IOrderedQueryable in addition to IQueryable on the root query source. Linq2SQL on the other hand does not implement IOrderedQueryable on the root query source (Table<T>), but it does so on the DataQuery<T> type returned by every call to IQueryProvider.CreateQuery() so the interface is introduced right with the

[2017-01-23 09:03] dotnetnoobie commented on #7059
@smitpatel if I use the above project.json file

with frameworks.

"**net461**": => no errors are shown, but there is **NO** files generated (no controller, no views)

"**net452**": => works, Controller and Views are generated
"**net462**": => works, Controller and Views are generated

[2017-01-23 09:06] divega commented on #7233
@MichaelKetting that is super useful information and great perspective, thanks. Then the version of the extension method that @jnm2 wrote that inspects the previous`MethodCallExpression` is anyway a practical  approach to address this requirement for many of the most used LINQ implementations.

I will close as I think the original question was answered by @jnm2.

[2017-01-23 09:19] MichaelKetting commented on #7233
@divega Glad to help!

[2017-01-23 13:59] ghost opened #7455 "Probable bug to the integrate two or more DbContext"
I work with Domain Driven Design concept and i am having on problem to integrate two DbContexts. Apparently is a bug, but i want friends' opinion.

I have two domains. In each one of domains exists one class with the same name "city". This class refers to same table in the database, but in one context is important only some properties and in other context, others properties. This is motive of have

[2017-01-23 17:04] bricelam commented on #7453
See aspnet/Microsoft.Data.Sqlite#287

Not currently. It just does a normal build of your project. See #7387 for a runtime alternative.

[2017-01-23 17:08] bricelam commented on #7059
@dotnetnoobie I'd recommend trying with the latest tools (See #7358 for details)

[2017-01-23 17:13] tuespetre commented on #2341
Checking in:

I've been using almost all of my free time to work on this and I'm just fixing some remaining failing tests. I've learned a lot about the codebase during this time and as I've work on things, I've both inadvertently and purposefully introduced a number of other optimizations like `LEFT JOIN LATERAL`/`OUTER APPLY`, more compact SQL queries as a result of improving the 'query source re

[2017-01-23 17:20] chris-oswald commented on #2341
Derek @tuespetre I work for a data warehouse company and we do tons for query performance tuning.  If you ever want any help in query optimization from a SQL Server perspective please reach out to my Git account.  Happy to conference call.

[2017-01-23 18:17] anpete commented on #7312
@divega Not a regression. Looks to be a dependent issue of #7451 where the unnecessary columns in the projection throw off the value buffer indexes.

[2017-01-23 18:40] rowanmiller commented on #7158
This fix will be included in a future version of Mono... there aren't any specific dates around when the fix will ship yet.

[2017-01-23 18:44] rowanmiller commented on #7455
This is essentially a duplicate of https://github.com/aspnet/EntityFramework/issues/2725. Migrations doesn't reason about other models, what's already in the database, etc. It is purely about creating/altering the schema for a given model.

The easiest way to handle this now, is to just delete the `CreateTable` call for the `City` table when you scaffold the migration for Domain 2.

[2017-01-23 18:48] smitpatel commented on #6946
Removing milestone for this. Since we are re-addressing logging, should we merge this issue with #218

[2017-01-23 18:54] smitpatel commented on #6986
I have tackled this issue in various ways but yet to arrive at fully working fix. But based on all the attempts so far, the fix for this issue would involve breaking changes & may be risky for patch release.
Since this is data corruption issue, for patch we can just throw exception and block the scenario. Removing milestone for the discussion if we should split the issue in 2 parts.

[2017-01-23 19:30] simeyla commented on #2341
@Derek Excited :-) Since you mention LEFT OUTER - can you check on this
issue at some point:
http://stackoverflow.com/questions/40544642/efcore-returning-too-many-columns-for-a-simple-left-outer-join
I never got around to formally reporting it.

In summary of the issue : LEFT OUTER with a simple Select projection would
end up returning all columns from the DB instead of just the ones in the
projec

[2017-01-23 19:42] dvdobrovolskiy opened #7456 "Migration is not being applied to db"
Project has  single migration - Initial.  Applied to db and single record in  __EFMigrationsHistory.

Next I add new migration and try to apply it to db.  update-database say done but I have exception like
[code]
and no record added to __EFMigrationsHistory.

also then I try remove-migration I got message that migration Initial is applied to db and cannot be undone (then is should be second migrat

[2017-01-23 20:23] divega commented on #4269
FYI, we got word from Xamarin that the issue reported at https://github.com/aspnet/EntityFramework/issues/4269#issuecomment-266083402 by @al1b (the `NotImplementedException` coming from `AsyncLocal<T>` was fixed some time ago and the fix is available in a Xamarin.Android 7.1.x version that is in preview.

[2017-01-23 21:41] ajcvickers opened #7457 "Allow only one database provider per service provider"
In EF Core 1.0 there can be multiple database providers registered in the same service provider (D.I. container). However, only one can be used with any given DbContext instance. This works by defining a set of provider services and having service resolution go through a scoped indirection based on the current context so that the correct service is returned for the provider currently being used.

[2017-01-23 22:02] asadsahi opened #7458 ""Arithmetic operation resulted in an overflow" for all queries"
Describe what is not working as expected.
Any query to sql server using ef core.

If you are seeing an exception, include the full exceptions details (message and stack trace).
![image](https://cloud.githubusercontent.com/assets/3470892/22224494/c872a1fc-e1b6-11e6-965d-54f57f0c1573.png)

[code]
2017-01-23 21:16:17.129 +00:00 [Error] An exception occurred in the database while iterating the results

[2017-01-23 22:16] bricelam commented on #7456
What version of the `Microsoft.EntityFrameworkCore.Tools` package were you using? What is the output of the command with `-Verbose`?

[2017-01-23 22:26] bricelam commented on #6987
Closing for now. Re-open if you have any suggestions on how we can improve this scenario.

[2017-01-23 22:48] asadsahi commented on #7458
Right, this was the issue:

http://stackoverflow.com/questions/32609088/arithmetic-overflow-exception-when-opening-sql-connection

Resolved by following 3 steps.

[2017-01-23 23:01] bricelam commented on #7423
Closing as a dupe of #7356

[2017-01-23 23:36] #7400 closed

[2017-01-23 23:36] #7401 closed

[2017-01-23 23:56] #7386 closed

[2017-01-23 23:56] bricelam commented on #7386
Fixed in aspnet/EntityFramework.Tools@0df567ab03bc48c9a403ffe412c5e8e56b2150a7

[2017-01-24 00:22] tuespetre commented on #2341
@simeyla the changes I've been making will address many such scenarios.

[2017-01-24 01:51] smitpatel commented on #7121
duplicate of #7033

[2017-01-24 01:51] #7121 closed

[2017-01-24 02:37] smitpatel commented on #7424
At present the way include works is, if the final projection is materializing the starting entity then include will populate navigation properties. But if that is not the case then include will bring only stuff which is being projected out. For queries like
`db.As.Include(a => a.Bs).ThenInclude(b => Cs).ToList()`
will have A & B & C populated but for queries like
`db.As.Include(a => a.Bs).ThenIncl

[2017-01-24 02:56] jnm2 commented on #7424
The mental model is that you've marked that path to include. It's somewhat surprising to stop including `b.Cs`.

It's extremely handy to be able to use includes when the final projection is not the original entity.

[2017-01-24 03:11] akamud opened #7460 "Generate a warning for incorrectly mapped char/varchar"
An easy and common mistake to make when using EF with a SQL Server databases is incorrectly mapping `char`/`varchar` columns to `nchar`/`nvarchar` and vice-versa, these leads to serious performance problems because the query ends up with implicit conversions and are very hard to notice only looking at the code/mapping.

I described this [here](http://stackoverflow.com/a/29244442/1710624), and Jimm

[2017-01-24 08:06] ErikEJ opened #7461 "Add sugar to get the underlying column type"
Looks like ColumnType returns null unless explicitly set??

(1.2-preview1)

[2017-01-24 08:20] webbkvalite commented on #7053
After trying alot of combinations, this is what works with my framework:

 "dependencies": {
    "System.Net.Http": "4.3.0",
    "YeshuApp.Models": "1.0.0-*",
    "Microsoft.NETCore.App": "1.1.0",
    "Microsoft.ApplicationInsights": "2.2.0",
    "Microsoft.EntityFrameworkCore": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",
    "Microsoft.EntityFrameworkCore.Relational": "1.1.0"

[2017-01-24 11:54] subprime opened #7462 "SQL Server 2016 Change Data Capture support"
**Is there any support planed for the sql server feature called "Change Data Capture".
How to collect this information with Entity Framework core to use this informations in my project.**

**Why:** Currently i create a web application in .NET Core (Yeah! Rocks!) which is an intranet application that hold many entity informations and the costumer needs a high traceablity and data integrity for each

[2017-01-24 11:57] ErikEJ commented on #7462
I think it is not related to using EF Core, you can just enable it on your server.

[2017-01-24 12:12] subprime commented on #7462
You are right but my costumer won't look into the plain DB. For this we are planing something like a dashboard in the backend area

[2017-01-24 12:15] ErikEJ commented on #7462
?? Are you talking about showing the results of this? https://msdn.microsoft.com/en-us/library/bb522553.aspx

[2017-01-24 12:38] subprime commented on #7462
@ErikEJ Right.

[2017-01-24 15:57] rohitshrivastava04 commented on #6635
It seems like this is been fixed in 1.1, if we are using LTS release, does it have any workaround to have multiple left outer join in single query?

[2017-01-24 16:03] marchy commented on #4021
This would be fantastic to see.
More and more data in databases is unstructured or has shallow hierarchies that need not span multiple tables thus don't map to simple columns (such as the Complex Types feature would bring). JSON is a perfect structure for these scenarios but right now it takes not only the programming complexity hit, but more importantly a performance hit to serialize/deserialize

[2017-01-24 16:39] marchy commented on #240
Guys this should be prioritized.
The whole point of an ORM is to Map to Objects... and EF has traditionally stood out particularly due to its ability to map to POCOs / domain representations of objects.

This means removing the friction of relational mapping and the ability to hide the complexity. Today there is still quite a LOT of friction in this and the reality is quite a ways from the promise

[2017-01-24 17:04] ajcvickers commented on #7461
@ErikEJ This is by design. We discussed a lot a couple of years ago whether to store the type mappings in the model or to look them up at runtime. #7166 might change this for 2.0, but as of now the type mapping should be obtained at runtime using the IRelationalTypeMapper. That being said, I think it would be good to put some sugar over this so apps don't have to get and use the raw service. I'll

[2017-01-24 17:07] ajcvickers commented on #7460
@akamud The problem with this is that EF doesn't know what the type is in the database. (The only time EF knows is when reverse engineering from an existing database, and in that case the model will get the correct mappings as part of the process.)

[2017-01-24 17:13] ErikEJ commented on #7461
@ajcvickers Yes, I think that would be very useful! So for now I will have to get the Typemapper service and call FindMappping?

[2017-01-24 17:14] ErikEJ commented on #7461
Sample: https://github.com/aspnet/EntityFramework/issues/7351

[2017-01-24 17:15] ajcvickers commented on #7461
@ErikEJ Correct.

[2017-01-24 18:12] rowanmiller commented on #7424
Just a side note, the current behavior is documented in the Ignored Includes section of https://docs.microsoft.com/en-us/ef/core/querying/related-data#eager-loading.

[2017-01-24 18:14] akamud commented on #7460
I see, I tried to find somewhere in the code where this could be possible with no success.

I guess this can be closed then.

[2017-01-24 18:18] agonzalezm opened #7463 "Add-migration not working after update to entityframeworkcore.tools-1.1.0-preview4 - Cannot bind parameter 'Path' to the target. Exception setting "Path""
I had to update to entityframeworkcore.tools-1.1.0-preview4 because entity inheritace was not working with error:

The current CSharpHelper cannot scaffold literals of type 'System.Func`3[Microsoft.EntityFrameworkCore.Metadata.IProperty,Microsoft.EntityFrameworkCore.Metadata.IEntityType,Microsoft.EntityFrameworkCore.ValueGeneration.ValueGenerator]'. Configure your services to use one that can.

I

[2017-01-24 18:31] bricelam commented on #7356
Note, UserSecrets requires updating the call from `.AddUserSecrets()` to `.AddUserSecrets<Startup>()`.

[2017-01-24 18:39] jnm2 commented on #7424
Huh, weird that you can link right to the header https://docs.microsoft.com/en-us/ef/core/querying/related-data#ignored-includes but the page doesn't show that.

[2017-01-24 18:40] jnm2 commented on #7424
I still live in hope that one day I'll be able to select an entity + some calculations in one projection and have working includes on the entity.

[2017-01-24 18:41] bricelam commented on #7356
Closing since I am not able to repro. Please re-open with a full repro if making the appropriate UserSecrets change doesn't help.

[2017-01-24 18:49] ajcvickers commented on #6705
Superseded by #7457

[2017-01-24 19:01] bricelam commented on #7463
It looks like you're mixing 1.1.0 and 1.0.0 packages. Ensure all your packages align to a single Major.Minor set of packages.

[2017-01-24 19:02] bricelam commented on #7463
Closing and re-opening VS may also help.

[2017-01-24 19:03] ajcvickers opened #7465 "Add paramter objects and service rewriting code to avoid breaking base class D.I. constructors in patch/point releases"
When a service is overridden by a provider, the provider must call the base service constructor. This means it becomes a breaking change when base service gets new dependencies such that its constructor needs to change.

We previously implemented a mechanism whereby additional services could be injected as part of the provider service resolution mechanism. This worked because provider services wer

[2017-01-24 19:05] ajcvickers opened #7466 "Consider combining core convention set builder with provider-specific builder"
After #7457 (one provider) and #7166 (one model) it seems that there may now be no need for two convention set builders anymore.

[2017-01-24 19:08] bricelam commented on #7027
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2017-01-24 19:08] bricelam commented on #6831
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2017-01-24 19:29] gdoron opened #7467 "Exception is thrown when running two queries in parallel using two DIFFERENT DbContexts"
I've an EF 1.1 application which runs into troubles in a specific method where we are running two queries in parallel.
Since EF is not thread safe, we configured it to have `transient` life time in Startup.cs

	services.AddDbContext<AltoDbContext>(options =>
	{
		options.UseSqlServer(Configuration.GetConnectionString("Sql"),
			b => b.MigrationsAssembly("Alto.Web")).ConfigureWarnings(x => x.Log())

[2017-01-24 19:34] rowanmiller commented on #1100
We're doing https://github.com/aspnet/EntityFramework/issues/7434 in 2.0 as a stepping stone for this feature.

[2017-01-24 19:35] #2546 closed

[2017-01-24 19:38] gdoron commented on #1100
@rowanmiller but Spatial won't be ready for 2.0, am I right?
Can you give (even if not accurate) estimation of when it will be ready? Q2/Q3/Q4 2017/8?

Thanks Rowan.

[2017-01-24 19:40] rowanmiller commented on #6986
@smitpatel to code the fix and then we will make the decision

[2017-01-24 20:00] rowanmiller commented on #241
Closing in favor of #1906

[2017-01-24 20:01] rowanmiller commented on #7214
Closing in favor of #1906

[2017-01-24 20:03] rowanmiller commented on #7211
Can folks hitting these issues follow the instruction from https://github.com/aspnet/EntityFramework/issues/7358 and then file new issues for any issues encountered. That issue is around testing of the RTM version of the tooling.

[2017-01-24 20:06] rowanmiller commented on #1100
The work we do in #7434 will likely make it possible, just full native support won't be included in the box. One option we are considering is for spatial support to be a separate library that builds on the feature.

[2017-01-24 20:13] jnm2 commented on #7465
I'm super curious what you come up with. I've hit this in my own unrelated architectures.
I've been thinking about the fact that the BCL best practice for adding parameters to event handlers in a back-compatible way is by defining an `EventArgs` from the start.
Compared to straight up constructor injection it feels like quite some overhead to write a `DependencyArgs` for each class, yet we've done

[2017-01-24 20:17] jovanpop-msft commented on #4021
Here is the article that explains how to [map objects and arrays to JSON fields](https://www.codeproject.com/Articles/1166099/Entity-Framework-Storing-complex-properties-as-JSO). Using not-mapped/backing fields we can map non-value properties to JSON columns in database.

The bigges thing that is missing is some ability to translate LINQ queries like this:
[code]
to something like this:
[code]

[2017-01-24 20:18] ajcvickers opened #7468 "IResultOperatorHandler uses an unusual pattern in D.I."
Consider a service for which there there is one contract in core with an extended contract in relational or a specific provider. For example, IDatabaseCreator and IRelationalDatabaseCreator. When IRelationalDatabaseCreator is registered in D.I. it is also registered as IDatabaseCreator. This means that core services that don't know about anything relational still get the same service instance as r

[2017-01-24 20:23] ajcvickers opened #7469 "Provide good feedback when providers don't implement services"
Prior to #7464, providers used a base class as a guide for which services to implement. Services for which there were no defaults had abstract members in the base class, which meant a provider could not ship without having some implementation for all required services.

Post #7464, there is no base class. This means that there is nothing forcing providers to implement required services. If provide

[2017-01-24 20:29] ErikEJ commented on #7469
Could the specification tests help with this?

[2017-01-24 20:29] roji commented on #1100
I think the important question here is whether there's a goal of providing *portable*, cross-database spatial or not.

If portable spatial is not a goal, then there's nothing really stopping providers from exposing their spatial support right now. In fact, Npgsql already allows you to define Npgsql-specific spatial (PostGIS) types on your entities and have those mapped to database columns. #7434 s

[2017-01-24 20:33] ajcvickers commented on #7469
@ErikEJ Yes, that is one of the things we have talked about. But I think we can also do more.

[2017-01-24 20:55] bricelam commented on #7237
This is a duplicate of #6826

[2017-01-24 21:18] bricelam commented on #7008
I am not able to reproduce this. I suspect it may be a duplicate of #4683 which was fixed in 1.0.0-preview3-final of the tools.

[2017-01-24 21:28] benchmatebob opened #7470 "Key specification"
I want to create a table with a Unique Key.  In the table Part, How do I specify that 'strPartNbr' is to be unique (only one part number).  Also, I would line 'iRecid' to be a unique key value generated by SQLite.
The code below runs w.
[code]
Project.json
{
  "dependencies": {
    "Microsoft.EntityFrameworkCore.Sqlite": "1.0.1",
    "Microsoft.EntityFrameworkCore.Tools": "1.0.0-preview3-final",

[2017-01-24 21:28] Kikimora opened #7471 "Why transaction commit closes db connection?"
I wonder what is reason for transaction to close database connection on commit? I'm working on rather intricate scenario where I have to synchronise two requests access to the database and this behaviour breaks my logic.

I planned to use 'sp_getapplock/sp_releaseapplock' MS SQL procedures to implement database mutex which guards access to shared resource. I implemented 'class DbMutex : IDisposabl

[2017-01-24 21:34] ajcvickers commented on #7470
@benchmatebob Remove the Key annotation and then add the following in OnModelCreating:
[code]
Or, if you prefer a more DRY syntax, then use:
[code]

[2017-01-24 21:40] robertmclaws commented on #1100
It sounds to me like they have the right plan and are on the right track. You have to have a solid, extensible underlying type mapping system before you can have support for a specific type. Once they have that in place, they should be able to support spatial types, then queries that leverage those types. Hopefully then during that time frame we can get the SQL Server team to adopt System.Spatial

[2017-01-24 21:46] bricelam commented on #7405
I suspect, from the commands you pasted that you were running this from the `bin\x86\Debug` directory without specifying `--project-dir`. The migrations were probably being generated as expected, but under `bin\x86\Debug\Migrations` (outside of the project). `--verbose` should tell you where the files are being written.

[2017-01-24 21:48] agonzalezm commented on #7463
Thank restarting VS fixed the issue

[2017-01-24 21:53] bricelam commented on #7404
I am not able to repro this. I suspect the project wasn't rebuilt after removing the migration, so the list of migrations was still "cached" in the assembly.

[2017-01-24 22:36] smitpatel commented on #7307
duplicate of #7271
PR #7331 resolves this too.

[2017-01-24 22:51] bricelam opened #7474 "CLI Tools: Report data in a different color"
We introduced a new reporting level in `dotnet-ef` (and `ef.exe`) to differentiate between information and data. Data currently includes:

* All JSON
* Database name & server from `dbcontext info`
* Context names from `dbcontext list`
* Migration names from `migrations list`
* SQL from `migrations script`

With `--prefix-output` you can differentiate between data and information, but without it, b

[2017-01-24 23:18] benchmatebob commented on #7470
Thanks Arthur.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27655.1C33A4D0]<http://www.benchmate.com/>  [cid:image005.jpg@01D27655.1C33A4D0] <https://twitter.com/@BenchmateCMMS>  [cid:image006.jpg@01D27655.1C33A4D0] <http://www.linkedin.com/pub/bob-nichols/34/a66/b62>

Fro

[2017-01-24 23:23] marchy commented on #4021
@jovanpop-msft Fantastic article link Jovan. Thanks for that share.
The in-database translation is exactly the golden feature we were looking for.

Fingers crossed for future support on this in the not too distant future  =)

[2017-01-25 00:01] anurse commented on #7078
No, it wouldn't be affected. In fact, the fix involves introducing **more** package references to replace framework references.

[2017-01-25 00:56] maumar opened #7476 "Query : client-side result operators may cause extensive client-side evaluation for queries with GroupJoins (and/or optional navigations) in a subquery"
query:

[code]

produces the following query plan:
[code]

However, very similar query (Distinct swapped for Take):

[code]

produces much more effective query plan:

[code]