[2019-05-09 08:17] emilborowiec commented on #15305
This bug is still occurring in preview 5 of EF Core 3.0.

I actually don't think it is a duplicate of #6872 which seems to be more about resetting value generator between the tests. Here the problem is that value generator does not take into account explicit IDs passed in HasData calls and tries to start from 1 for integers.

Please consider reopening.

[2019-05-09 08:52] liao770913 opened #15668 "SqlServer Intersects problem with Well-known text translate to varbinary geom"
Model:

	public partial class Acc
	    {
	        public Acc()
	        {
	            AccDetail = new HashSet<AccDetail>();
	            CollisionPoints = new HashSet<CollisionPoints>();
	        }

	        public long KeyId { get; set; }

		...

	        virtual public AccPoints AccPoints { get; set; }

		...

	    }

	public partial class AccPoints
	    {
	        public AccPoints()
	        {

[2019-05-09 08:59] AhmedHemdan21 commented on #15448
I had the same issue with .NET Core 2.2 after i have install .NET Core 3.0 Preview

when i try to execute

i get

then i did run the command

then i tried with

 again then i got this error

and when i have checked this path i found that it installs it as

so i had to rename the folders manually to match and it worked fine

[2019-05-09 09:09] Matthiee commented on #15493
@ajcvickers  I'll implement this one.

[2019-05-09 09:18] kskalski opened #15669 "Grouping by navigational property's id could not be translated and will be executed locally"
I'm trying to execute relatively simple GroupBy using Id of navigational property as a grouping key, but unfortunately it can't be translated
[code]

### Steps to reproduce
The following data schema and query is used
[code]

### Further technical details
EF Core version: 3.0.0-preview5.19227.1
Database Provider: Microsoft.EntityFrameworkCore.Sqlite
Operating system: Windows 10

[2019-05-09 09:55] Nihel1994 commented on #5965
how can i create a table with entity framework?

[2019-05-09 12:13] Stamo-Gochev commented on #12255
@smitpatel Will this be supported (as in EF 6 for example) or should the queries be rewritten? This seems like a problem when migrating projects.

[2019-05-09 12:38] fschlaef commented on #14523
For anyone wanting to re-enable query logging without embedding configuration in `DbContext` (with Serilog for example, which is what I'm doing), the override you're looking for is `Microsoft.EntityFrameworkCore.Database.Command`

Excerpt from my Serilog conf :

[code]

This pretty much restores the old behavior, while maintaining control over what is logged in config files.

[2019-05-09 12:55] dmitryshunkov commented on #12841
I hit the issue when trying to apply [Enumeration](https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types) pattern and seed base type with derived types (derived types add no new properties into class signature, just logical separation).

See CardType [implementation](https://github.com/dotnet-architecture/eSho

[2019-05-09 13:07] fkorak opened #15670 "Add support for dynamically extended queries as per LinqKit"
The package LINQKit, a solution for making queries dynamically extendable at runtime, currently sits at half a million downloads for EF Core alone, with much more for traditional EF.

The old uservoice forums had an [issue](https://data.uservoice.com/forums/72025-entity-framework-feature-suggestions/suggestions/2390752-add-support-for-dynamically-extended-queries-as-pe) with 114 upvotes, which put

[2019-05-09 13:19] mburbea commented on #6717
Is there any consideration for option(optimize for @p0 = 1) and hints like it? I have some queries that are suffering from parameter sniffing. It'd be nice to turn it off selectively where it hurts rather than turn it off at the DB level

[2019-05-09 13:43] gojanpaolo commented on #12841
@dmitryshunkov Here's a similar workaround I did on my project.

[code]

[2019-05-09 13:55] alextof commented on #10305
It happens again with .NET Core 2.2.102, latest EF Core Power Tools & Azure SQL Database performing reverse engineering with Power Tools.

[2019-05-09 14:02] dmitryshunkov commented on #12841
@gojanpaolo I guess, your situation is a bit different, as your derived type (`RssBlog`) is presented in the model (with discriminator). And what I'm trying to achieve is to have CardType table with "Id", "Name" columns, but seed it with derived types instances (no additional properties, so I don't need TPH for CardType hierarchy).
For now, as a workaround, I just manually construct anonymous type

[2019-05-09 14:11] ajcvickers commented on #11003
@cilerler Can you provide some more details as to why OData changes things here?

[2019-05-09 14:15] ajcvickers commented on #15656
@amira133 What kind of example would be helpful? Can you show the code you would have liked to see?

[2019-05-09 14:18] ajcvickers commented on #15448
@AhmedHemdan21 The more appropriate workaround is to install with a preview version specified, as shown above and in the announcement.

[2019-05-09 14:19] ajcvickers commented on #5965
@Nihel1994 See our documentation here: https://docs.microsoft.com/en-us/ef/core/

[2019-05-09 14:25] bdebaere opened #15671 "Support separation of query and update mapping"
Copied from my StackOverflow post.

I've since gone through the code and noticed that SqlServerQuerySqlGenerator is not used to generate non-SELECT queries, am I correct? So I'm left with adjusting the code to a custom EF Core version and add a ViewAttribute which it uses during `INSERT INTO SELECT ... FROM` generation or multiple classes which is the least preferred option by the person pulling m

[2019-05-09 14:42] shawty commented on #15448
I concur with @ajcvickers renaming and/or messing about with the paths, folders and installed commands can never be a good thing, using the version suffix above is the safest way of ensuring you don't break anything even accidentally.

[2019-05-09 14:57] christophedemey opened #15672 "Include lost on DbSet<Entity>"
Hi

My include is lost if implemented in the following manner, the related entities are not loading.
[code]

In the end product i need to be able to receive a List<string> which contains all the neccessary includes.
So i figured this would be great to just iterate over a list of string and add the includes.
[code]

### Steps to reproduce
NOK :
[code]
OK :
[code]

### Further technical details
EF C

[2019-05-09 15:15] ajcvickers commented on #15672
@christophedemey In common with the way pretty much everything in LINQ works, the `Include` method does not mutate the query passed to it, but rather returns a new query modified appropriately from the previous query. In other words, this:
[code]
is essentially a no-op because the query with `Include` applied to it is never used.

In your example, typically something like this is needed:
[code]

[2019-05-09 15:23] christophedemey commented on #15672
hi  @ajcvickers

Yeah i found out 5 minutes ago, sorry for bothering you :)

[2019-05-09 15:26] jzabroski commented on #6717
@mburbea The solution for now is to create a view and map an entity to the view, or move the generated query into a stored procedure after you capture it in profiler, and apply your hint inside the wrapper.

[2019-05-09 16:44] smitpatel commented on #12255
@Stamo-Gochev - This issue is in backlog milestone. We plan to implement at some point but it is not currently planned for next release.

[2019-05-09 16:45] smitpatel commented on #15669
`Tuple.Create` throws off server eval. Try projecting into anonymous type.

[2019-05-09 16:46] smitpatel commented on #15646
Duplicate of #12045

[2019-05-09 16:53] smitpatel commented on #12241
We want to scaffold the decimal type only in SqlServer provider rather than everywhere. So providers have to contribute in certain way that, ClrType requires `HasColumnType` regardless of it being default.

[2019-05-09 17:20] bricelam commented on #6182
We should probably file a new issue for adding a command (and API) to get a list of tables...

[2019-05-09 17:26] ErikEJ commented on #15105
@Lupin1st How would you expect a reverse engineer of stored procs to work - can you supply a code sample or the proc and the corresponding generated code?

[2019-05-09 17:36] bricelam commented on #11744
@Muppets already has an open PR. But yes, I think we can move forward with this since C# 8.0 will be the default for projects targeting .NET Standard 2.1 and .NET Core 3.0.

[2019-05-09 17:39] ErikEJ commented on #11744
@bricelam Sorry, missed that

[2019-05-09 17:39] jwr456 commented on #15105
Perhaps as it does in EF6?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Erik Ejlskov Jensen <notifications@github.com>
Sent: Thursday, May 9, 2019 12:27 PM
To: aspnet/EntityFrameworkCore
Cc: Joel Roberts; Comment
Subject: Re: [aspnet/EntityFrameworkCore] Reverse engineer/scaffold stored procedures (#15105)

@Lupin1st<https://github.com/Lupin1st> How would you

[2019-05-09 17:39] bricelam commented on #14545
I think we can safely assume C# 8.0 as our language minimum version in EF Core 3.0. This is the default for projects targeting .NET Standard 2.1 and .NET Core 3.0.

[2019-05-09 17:58] mojtabakaviani commented on #12255
EF have many group by issues but i thinking not in man road map and EF team work in your ideas not cutomers feadbacks. Many issues that customers requested in backlog milestone for long times.

[2019-05-09 17:59] bricelam commented on #14545
Areas I'd like to improve:
- [ ] Use `nameof` in data attributes #11744
- [ ] Use auto-property initializers for collection properties
- [ ] Use nullable reference types when enabled
- [ ] Consider using AnnotationNames constants (not language-related, but they're public now)

[2019-05-09 18:14] bricelam opened #15673 "Get-DbContext (without -Context) isn't script friendly"
The Format-Table call doesn't return the original objects so you can't use them for further scripting. I think we can use I think we can use a [formatting file](https://docs.microsoft.com/en-us/powershell/developer/format/writing-a-powershell-formatting-file) to make it both pretty and scriptable.

[2019-05-09 18:21] ajcvickers commented on #15403
## May 9, 2019

## Highlights from the last week

Some items of interest from the last week:

* We have released [EF 6.3 in preview](https://www.nuget.org/packages/EntityFramework/6.3.0-preview5-19254-05) with .NET Core support. See [the announcement](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-6-3-preview-with-net-core-support/) for full details.
* The SQL Server team has re

[2019-05-09 18:31] cilerler commented on #11003
@ajcvickers in my case database may have new fields, and time to time I need to add those to code. The easy workaround for me is generating the new DbContext through scaffolding and compare it with the previously generated one.

Since scaffolding uses `.HasKey` instead of `[Key]`, OData is not able to identify those and forcing me to use it in `GetEdmModel()` as below, which requires manual verifi

[2019-05-09 18:41] ajcvickers commented on #11003
@cilerler I don't see any composite keys in that example.

[2019-05-09 18:59] cilerler commented on #11003
@ajcvickers updated as `.HasKey(e => new { e.Name, e.Code });`

[2019-05-09 19:02] jzabroski commented on #15666
I put the wrong entity in the `HasForeignKey` relationship.

[2019-05-09 19:13] StingyJack commented on #8943
@ajcvickers  - Please unseal the `KeyAttribute` so I can specifically identify and differentiate Primary keys, Surrogate Keys, and Natural Keys.

[2019-05-09 19:15] ajcvickers commented on #11003
@cilerler Can you show the attributes that would be needed by OData to configure this as a composite key, including how the order of the two parts of the composite key is defined?

[2019-05-09 19:20] ajcvickers commented on #8943
@StingyJack `KeyAttribute` is not defined by EF Core. It comes from Microsoft.ComponentModel.Annotations. Regardless, this has been discussed before and there are no plans to unseal it.

[2019-05-09 19:20] don4of4 opened #17567 "EF Core Doc's Omit System Exceptions"
The EF Core documentation is inconsistent with the EF Framework 6.2 documentation in that it omits details about exceptions that can be thrown by a call to the method.

Specifically, it excludes errors that stem from serious programming faults, like NotSupportedException, InvalidOperationException, and ObjectDisposedException.  Can EF Core emit any of these events?  If so, I would propose the docu

[2019-05-09 19:56] cilerler commented on #11003
@ajcvickers Just having `[Key]` on properties would be fine, there is no order so far.  You may see more details in here https://stackoverflow.com/a/27538581/439130

[2019-05-09 20:17] AndriySvyryd opened #15675 "Remove extra model annotations from snapshot"
Put all the annotations that should be removed in one place that `CSharpSnapshotGenerator`, `MigrationsCodeGenerator` and `CSharpDbContextGenerator` use.

And add tests for ignored model annotations

[2019-05-09 20:26] IOrlandoni commented on #11961
Problem also exists while using SQL Server, not just Sqlite.

[2019-05-09 20:28] AndriySvyryd opened #15676 "Store check constraints in the snapshot as Fluent API"

[2019-05-09 21:26] ajcvickers commented on #11003
@cilerler That is something we can never support because the order of the properties in the composite key is critical for correctness. I'm actually very surprised that OData allows this given they they presumably have the same problem since the order is also critical to the OData model, but maybe it is constrained in some other way that isn't apparent here.

[2019-05-09 21:32] bricelam commented on #5719
@smitpatel @ErikEJ Can this be closed?

[2019-05-09 21:32] bricelam commented on #1679
@smitpatel @ErikEJ Can this be closed?

[2019-05-09 21:32] #5719 closed

[2019-05-09 21:32] roji commented on #14545
There's #15520 for tracking NRT scaffolding, should we close that and track everything there? Note that for NRTs specifically there's the additional opt-in flag so it's an additional thing to do.

[2019-05-09 21:37] smitpatel commented on #11003
Based on stackoverflow post, OData is actually not caring about order at all. It's all about which are the key properties which should be bound when calling Get method. Order of properties does not matter because ODataRoute attribute specify which parameter should be bound with which key property.

@cilerler - You are free to add KeyAttribute to your model to make OData work. The EF model will not

[2019-05-09 21:43] ajcvickers commented on #11003
Thanks @smitpatel for clarifying that.

[2019-05-09 22:38] bricelam commented on #14545
I think it goes beyond DbContext scaffolding too—model snapshots and migrations may also have to be updated when NRT is enabled in the project

[2019-05-09 22:41] bricelam commented on #14545
But maybe not as much as I think since NRE is more about member definitions than types...

[2019-05-09 23:08] roji commented on #14545
Yeah, could be...

[2019-05-09 23:43] maumar commented on #8526
this has been done as part of nav expansion rework. the remaining work is to extract the logic to a separate visitor

[2019-05-09 23:44] cilerler commented on #11003
Thanks, @smitpatel.

I was under the impression that I was asking if you may make the issue priority, did I sound different?

I got into the details because of @ajcvickers comments.  As I mentioned above, it already works the way it is, and I have to do a manual check about the keys each time I do scaffolding which is an error-prone step.

Just wanted to nudge to get attention on this issue. 😁

[2019-05-09 23:51] smitpatel commented on #11003
@cilerler - I just wanted to clarify 2 different aspect. This issue particularly talks about support for KeyAttribute at runtime. i.e. not requiring Fluent API configuration. In your particular case, we can scaffold the code which would work with OData & it would still work with EF Core. It is just matter of scaffolding KeyAttribute which would be ignored by EF. But I was commenting that it would

[2019-05-10 00:07] cilerler opened #15677 "Use KeyAtrribute for scaffolding to support OData"
OData requires `[Key]` attribute for entities where the primary key property name is not `Id` _(it can't use `.HasKey()` info in FluentAPI)_

Please allow scaffolding to generate Key Attributes if the column is name is not `Id` or the key is different than the `Id` property.

[2019-05-10 00:10] cilerler commented on #11003
Thank you for clarifying that and even further providing me a workaround. 🤗

I'm sorry for hijacking this issue; it wasn't my intention.
I just created an issue for what I was asking https://github.com/aspnet/EntityFrameworkCore/issues/15677

[2019-05-10 01:26] mburbea commented on #6717
A view doesn't help me here as you can't stick an option clause on a view statement. I can switch to a store procedure route, but that's kind of ugly and removes the whole point of using EF.
I can go down the road of using a diagnostic listener and intercept it that way, but I'd prefer to avoid that mess. It'd be nice to end a query with a `.Hint("option optimize for (@p0=1)")`.

[2019-05-10 01:35] ralmsdeveloper commented on #6717
@smitpatel you have thought about this?
If I had I would like to work on it.

If you have nothing on, I can play some bits to restart this thread!

cc/ @divega

[2019-05-10 04:00] WhitWaldo opened #15678 "Failing to creation migration because of FK constraint on entity not in DbSets"
**Describe what is not working as expected.**
I'm attempting to create and apply migrations of my code to my database. Unfortunately, I keep getting the error described below. Oddly, it's referring to an entity that I do use within a context, but not within the context for which I'm creating this migration. I've thoroughly checked all the entities I'm specifying across my DbSets in this context an

[2019-05-10 04:50] rahul-uttarkar opened #15679 "Renaming of AspNetRoles (Identity framework) is not working after upgraded from 2.0.0 to 2.2.4 to"
I was using EntityFrameworkCore 2.0.0 and renamed the Identity framework table as below in ApplicationDBContext on OnModelCreating.

[code]

Everything was fine its correctly implemented and successfully used last year.

After i upgrading to  EntityFrameworkCore 2.2.4 and created a Test Migration and its reverting back to old table **AspNetRoles** and also keeping **Roles** tables which means enti

[2019-05-10 05:01] gulshan commented on #15105
EF6 is being ported to .net core. It can be an option for some scenarios.

[2019-05-10 06:52] kroymann commented on #13483
Is there any update on this issue?  I just spent a few hours updating a bunch of code to use precompiled queries only to discover that my unit tests are now all broken because of this issue, which means I'll have to shelve those performance improvements and hope that I can resurrect them at some future date when this is fixed.  I see that @JanEggers proposed solution was rejected.  Is there any ot

[2019-05-10 09:31] JanEggers commented on #13483
@kroymann my workaround was to place the precompiled queries on a singleton service that way they get rebuild each time the service collection is rebuild

[2019-05-10 11:31] sdanyliv commented on #15671
@bdebaere, no EF do not support such operations. Check [this extension](https://github.com/linq2db/linq2db.EntityFrameworkCore#linq2dbentityframeworkcore) and you will be able to do that.

[2019-05-10 12:36] kskalski commented on #15669
Hm, when I do it:
[code]
I still get the same error:
[code]

I'm pretty sure it's because of translation of navigational property's id, since when I change model's ``public Models.Tree Tree { get; set; }`` to ``public long TreeId { get; set; }``
then this code works:
[code]
(even though it uses Tuple, it is apparently fine)

[2019-05-10 14:19] samueleresca opened #15681 "The type 'Type` cannot be marked as owned because a non-owned entity type with the same name already exists."
I have the following entities:

[code]
I've mapped the entities using the following schemas definitions: [SchemaDefinitions.cs](https://gist.github.com/samueleresca/c77e4b256b6fde75f16e52f3e5951013)

[code]

### Further technical details
EF Core version: `3.0.0-preview5.19227.1`
Database Provider: `Microsoft.EntityFrameworkCore.SqlServer`
Operating system: MacOS
IDE: Rider

[2019-05-10 14:58] angelyordanov opened #15682 "FromSql composability fails when the initial SELECT is followed by a non platform line ending"
A query composed of a `FromSql` call coupled with some linq (e.g. Where filtering) will be evaluated locally if the sql in question starts with a "SELECT\n" on windows or "SELECT\r\n" on macos.

The following console application exhibits the problem.

To make things more obvious EFCore is setup to throw on QueryClientEvaluationWarning.

[code]

The only requirements are a call to
[code]

And setti

[2019-05-10 15:01] ajcvickers commented on #15681
@samueleresca The configuration for an owned type needs to be done in the `OwnsOne`/`OwnsMany` API calls of the entity type that owns it. It is not currently possible to have a separate `IEntityTypeConfiguration` for an owned type. Doing so causes EF to configure it as a normal, non-owned entity type.

[2019-05-10 15:05] ajcvickers commented on #15679
@drua Can you attach the test application that was created from following the steps you enumerate above?

[2019-05-10 15:08] ajcvickers commented on #15678
@WhitWaldo Are you 100% certain that the entity types you're not expecting in the model are not referenced (through either collection or reference navigation properties) from entity types that are in the model? This is the only thing I can think of that would cause this, so I suspect if that's not the case then we're going to need more information to reproduce what you are seeing.

[2019-05-10 15:10] JohnCOsborne commented on #2266
Another person here who needs/needed TPT. Just commenting to add a +1 to those wanting TPT. If I had the time I'd look through these comments and see if there are **non** EF Core/Microsoft employees arguing against TPT.

[2019-05-10 15:14] ajcvickers commented on #15682
Duplicate of #14489

[2019-05-10 16:14] bricelam commented on #9339
@AlansButler Just replace the `IPluralizer` service instead?

[2019-05-10 16:26] #11744 closed

[2019-05-10 16:35] bricelam commented on #14545
For example, will these work as-is in a project that enables NRTs?

### DbContext

* `protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)`
* `protected override void OnModelCreating(ModelBuilder modelBuilder)`

### Migration

* `protected override void Up(MigrationBuilder migrationBuilder)`
* `protected override void Down(MigrationBuilder migrationBuilder)`
* `protected o

[2019-05-10 16:36] ajcvickers commented on #15507
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-10 16:37] ajcvickers commented on #14738
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-10 16:48] lesscodetxm commented on #14738
Update:
We are not using async for this API.
We added context hash code logging for the problem queries and it did not appear that the context is being reused across ASP.NET requests.

What we _have_ done is changed our complex join queries from this form:

[code]
to this form:

[code]

It's been a few days since we made this change and we haven't seen the concurrency errors so far.

[2019-05-10 17:21] ajcvickers commented on #15662
@ajcvickers to look at 1 and 3. @roji to look at 4.

[2019-05-10 17:30] BrightSoul commented on #14963
Thank you guys!

[2019-05-10 18:07] mdmoura opened #15683 "Query with All and Any evaluates locally"
Using Entity Framework Core 2.2 I am trying to execute the following query on the database:

    var user = context.Users.AsNoTracking()
      .Include(x => x.UserSkills).ThenInclude(x => x.Skill)
      .Include(x => x.UserSkills).ThenInclude(x => x.SkillLevel)
      .FirstOrDefault(x => x.Id == userId);

Then I tried the following query:

    var lessons = _context.Lessons.AsNoTracking()
      .W

[2019-05-10 18:07] jgveire opened #15684 "Projection not working correctly when using the EnumToStringConverter"
When making use of the EnumToStringConverter the projection of enum properties does not work correctly for DTO's. The following linq query creates an incorrect sql query.

[code]
It creates the query:

[code]

But this should be:

[code]

Below you can find a unit test to reproduce the issue.

### Steps to reproduce
Run the unit test below to reproduce the problem.

[code]
###Exception
[code]

###

[2019-05-10 18:20] DanielStout5 opened #15685 "NetTopologySuite SqlServer provider incorrectly translates Within query"
I have this query:

[code]

The server-evaluated query is incorrect - it omits points within the polygon `poly`, and includes ones that are outside it. The locally-evaluated version ("bug demo") **does** return the expected results. They should be returning the same results since they are doing the same thing. `query` is `IQueryable`.

The values received for the bounds will be like this:
[code]

[2019-05-10 18:26] ajcvickers commented on #15639
@ArchSerpo Can you please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-05-10 18:37] ajcvickers commented on #15642
Putting this in 3.0 to investigate. We should also consider whether something in this area should target ADO.NET rather than EF Core.

[2019-05-10 18:38] ajcvickers commented on #15645
Note: also check this scenario for owned entities.

[2019-05-10 18:41] #1679 closed

[2019-05-10 18:42] ajcvickers commented on #15670
Note from triage: we should investigate what makes sense in this space. For example, that might be making sure EF Core works well with LINQKit and making it easier for the two to keep working across releases.

[2019-05-10 18:47] bigswede74 commented on #13229
If I do not fix these warnings what is the truncated behavior? Does it do any rounding or just truncates to the proper decimal point precision?

No type was specified for the decimal column. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values using 'ForHasColumnType(

[2019-05-10 18:53] ajcvickers commented on #13229
@bigswede74 Is there a reason to not fix the warnings?

[2019-05-10 19:01] bigswede74 commented on #13229
@ajcvickers We are currently evaluating if we absolutely need to fix the warnings as the release is going out the door in a few weeks. If it does not do any rounding we will most likely deffer the issue until our next release.

[2019-05-10 19:01] behzad888 commented on #2266
+1

[2019-05-10 19:02] ajcvickers commented on #15660
Note from triage. Consider a different factoring such that validation is split up by what needs to be verified. For example, for things that need to validate a property, we should iterate over the properties once and call out to each validator in that loop.

[2019-05-10 19:06] ajcvickers commented on #15671
Notes from triage: we should consider this as part of greater flexibility in update verses query mapping. This has overlap with:
* Using of stored procs for updates
* CQRS patterns that involve different models for query/update

[2019-05-10 19:07] bricelam commented on #14595
This should be as trivial as updating [this method](https://github.com/aspnet/EntityFrameworkCore/blob/dc723424e0c4e0610c9a324697f432ee8f4668a8/src/EFCore.SqlServer.NTS/Storage/Internal/SqlServerGeometryTypeMapping.cs#L146) to leverage the feature added to SqlClient.

[2019-05-10 19:09] IGx89 commented on #13617
Here's an alternative solution I discovered thanks to a semi-related SO post by @davidbaxterbrowne:

[code]

It's specific to SQL Server 2017+ (or Azure SQL Server), and in my testing with a list of 50,000 IDs against a remote Azure SQL database it was 5x faster than a standard batching (dividing into lists of 1,000 items) solution.

[2019-05-10 19:12] bricelam commented on #15378
@alexandermujirishvili If you update your EF Core packages to 3.0.0-* does it work? `CreateHostBuilder` isn't detected by EF Core 2.2

[2019-05-10 19:12] ajcvickers commented on #15675
Putting this on the backlog to make sure that we have test coverage and that the correct annotations are included in the snapshot.

Note that in triage we were not 100% sure whether MaxIdentifierLength should be in the snapshot or not. There may have been MySQL bugs when it wasn't there.

[2019-05-10 19:15] ajcvickers commented on #15676
@Muppets This is something that was missed in your PR. Would you consider sending a PR to rectify this?

[2019-05-10 19:19] Muppets commented on #15676
@ajcvickers Sure thing. Are you able to provide some more details on it? Still learning my way around the code base. Any good examples where we do this already?

[2019-05-10 19:20] bricelam commented on #15668
It looks like the type inference isn't working with nav expansion. In other words, the variable is being interpreted as GEOGRAPHY (the default) instead of GEOMETRY (as it should be inferred from the column type).

Code 2 is the correct workaround.

[2019-05-10 19:22] bricelam commented on #15668
This may already have been fixed in 3.0.0 by @smitpatel

[2019-05-10 19:26] ajcvickers commented on #15677
Notes from triage: the discussion in #11003 on how `[Key]` is used by OData indicates that it can be useful to have `[Key]` on properties _even if doing so is not sufficient for EF Core mapping_. Another example of this is data binding where properties attributed with `[Key]` may be hidden by default.

A couple of concrete things that come out of this:
* When working on #11003 we should consider t

[2019-05-10 19:26] ajcvickers commented on #11003
See also the notes on https://github.com/aspnet/EntityFrameworkCore/issues/15677#issuecomment-491403879

[2019-05-10 19:28] ajcvickers commented on #15681
Putting this on the backlog to consider patterns that allow owned type mappings to be split out like this.

[2019-05-10 19:31] ajcvickers opened #15686 "If entity type has good FK candidate, then it should be dependent regardless of `[Required]`"
#15539 includes a case that we believe should be fixed as a bug. Specifically:

- The convention detects `[Required]` (or non-nullability) on a navigation and makes the target of the navigation the principal, but that principal contains a good FK candidate property

[2019-05-10 19:38] ajcvickers commented on #15577
Notes from triage: putting this on the backlog to consider exposing this. Specifically:
* While short-lived context instances are recommended and a reset flag can lead people down this path, it is still valid in some cases to allow the context instance to be reset--for example, the scenario described in this issue.
* Context pooling has limitations as to when resetting is safe to do. We need to ma

[2019-05-10 19:43] ajcvickers commented on #13229
@bigswede74 I believe in some cases you may seen truncation to the default, which is `decimal(18, 2)`. However, this won't always happen, and I'm not 100% you will see truncation, not rounding. @AndriySvyryd  may remember more.

[2019-05-10 19:53] AndriySvyryd commented on #15676
@Muppets You'd have to modify `Microsoft.EntityFrameworkCore.Migrations.Design.CSharpSnapshotGenerator` to look for the annotation and generate Fluent API calls on the corresponding EntityTypeBuilder.
It would be easier to find the correct entity type if the check constraint annotation [is stored on the entity type itself](https://github.com/aspnet/EntityFrameworkCore/issues/15551#issuecomment-490

[2019-05-10 20:16] bdebaere commented on #15671
@ajcvickers I have working code which listens to an extension method ToView(). If there is no view mapped to the entity, the table name is taken. I can create a PR soon that you can take a look at.

[2019-05-10 20:30] ajcvickers commented on #3380
Just do smoke testing for 3.0

[2019-05-10 20:33] leszekrogowski opened #15687 "Duplicated entries in navigation collection if Equals and GetHashCode are overridden"
If you override Equals and GetHashCode in entity it'll cause ChangeTracker strange behaviour for navigation collection. Child entities get duplicated when you're adding new entities to the collection.

### Steps to reproduce

 Please consider the following code:

[code]

### Further technical details
EF Core version: 2.2.4
Database Provider: Checked on Microsoft.EntityFrameworkCore.InMemory and Mi

[2019-05-10 20:34] timotei commented on #4641
FYI, this issue is worse and cannot be solved nicely AFAICT, if we want to do partial properties selection from an entity, for example: `Select(x => new { x.Property1 }`

However, it's very important (application-wise) to take just some specific property(ies), because other column(s) will contain binary data/unwanted on the client

[2019-05-10 20:37] samueleresca commented on #15681
Hi @ajcvickers, thanks for the support. I've tried to convert the code using the `OwnsOne` API, but I'm still getting the error.
This is the code:
[code]
This is the exception:
[code]

[2019-05-10 20:44] samueleresca commented on #15681
Plus, I'm not sure about the way that `OwnsOne/OwnsMany`.  If my domain model has a chain of three relationships, means that I will have 3 levels of nesting in my code. Something like:

[code]
I think the level of nesting causes a little bit of redundancy? Is there any specific reason why you are keeping this syntax?

[2019-05-10 20:53] ajcvickers commented on #13361
We should at least make sure it throws for 3.0 instead of returning incorrect results.

[2019-05-10 21:06] #15390 closed

[2019-05-10 21:22] AndriySvyryd commented on #12837
This could be handled by [default value conventions](https://github.com/aspnet/EntityFrameworkCore/issues/9329)

[2019-05-10 21:26] ajcvickers commented on #14318
Smoke test only for 3.0

[2019-05-10 21:40] ajcvickers commented on #14173
We need to add the `@` if it is not there.

[2019-05-10 22:02] Muppets commented on #15676
@AndriySvyryd Raised a PR for that change. For this change, I just added a method to get check constraints by table and schema.

Moving a check constraint annotations dictionary to each entity type sounds like a good plan. I can probably rework that since I've had my fingers in it recently. Want me to raise a separate issue for it?

[2019-05-10 22:07] ruimaciel opened #15689 "Allow users to check connection string used by database update operation"
A database update operation fails, quite naturally, if the project isn't configured correctly and ends up passing a wrong connection string (i.e., wrong choice/combination of host/port/username/password/etc).

This problem might occur due to a myriad of reasons due to the many ways that project/environment settings might determine the connection string, which might pose a challenge to developers t

[2019-05-10 22:49] AndriySvyryd commented on #13229
AFAIK the values will be truncated on insertion, but in queries where they need to be converted to a value with lower precision for some operation they would be rounded.

[2019-05-10 22:57] AndriySvyryd commented on #15676
@Muppets It's up to you whether to do it in a separate PR or not. But note that the code in https://github.com/aspnet/EntityFrameworkCore/pull/15688 would generate duplicate check constraints for entity types mapped to the same table.

[2019-05-10 23:34] The-DevOps-Guy commented on #12919
Hi, I have created a example project with this issue for you to reproduce.
To see, all you need to do is run the following command in the Package Manager Window.

Solution: https://drive.google.com/file/d/1gXqpyamax-SQVU6F006AlCsc-mcZNRJZ/view?usp=sharing

[2019-05-11 01:22] #15301 closed

[2019-05-11 02:48] divega commented on #6717
@ralmsdeveloper as a team, we are really focused on finishing EF Core 3.0. AFAIR, the general design was settled a long time ago and captured in a few of the 69 comments above, but at this point, even if you sent a perfect PR that addresses all the concerns, we would probably have to ask you to wait until we have a chance to review it, most likely in the next release after 3.0. Even trying to sepa

[2019-05-11 05:16] liao770913 commented on #15668
Thank you

[2019-05-11 05:24] ralmsdeveloper commented on #6717
@divega
We know the commitment that the team has, let's wait for more about it, if there is time left I will create an extension for version 3.0 so those who need this functionality could use it.

[2019-05-11 10:03] chaim1221 commented on #7341
Trying the method above I just get
[code]

... `--verbose` tells me that it looks for CreateWebHostBuilder (we have a custom implementation, but the CreateOrMigrateDatabase method is there), looks for IDesignTimeFactory implementations (which I am trying to avoid)... looks for (and misses!) the application service provider (where I've defined AddDbContext with the provider!), and looks for "IWebHo

[2019-05-11 10:37] jwisener commented on #15319
Is there some sort work around or something we can do here? This issue is causing some major problems for us.

[2019-05-11 11:42] alexandermujirishvili commented on #15378
@bricelam Yes, it works. Thank you.

[2019-05-11 11:53] auri179 opened #15691 "Issue when using spatialite in IIS"
Hello,

I am using Sqlite with entityframework core and NettopologySuite (Spatialite)

I embedded everything in a web api

Everything works fine when I launch the API in debug or .NET Core, but when I deploy the API in IIS (8.5 W2012 Server R2) .

It doesn't work giving me the following message :
[code]

I don't know what is the module and why it is not working in IIS. I've launched the API in the

[2019-05-11 11:55] auri179 commented on #15691
PackageReference Include="Microsoft.AspNetCore.App" /
    PackageReference Include="Microsoft.AspNetCore.Razor.Design" Version="2.2.0" PrivateAssets="All" /
    PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="2.2.4" /
    PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite" Version="2.2.4" /
    PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite.NetT

[2019-05-11 14:17] danports opened #15692 "Queries in which a table is joined to itself throw a duplicate parameter exception"
This appears to be a regression from 1.x, as it handled these queries without a problem. I was rather surprised to encounter this issue after upgrading from 1.x since this type of query seems like a pretty common scenario. I don't think this issue is specific to the MySQL database provider since I'm guessing the parameter name generation is handled by the framework and not the providers.

[code]

[2019-05-11 14:21] danports commented on #15692
It appears that it is possible to work around this problem for now by referencing the ID properties rather than the reference properties in the `Where` condition - i.e. `await context.Investments.Where(i => i.OwnerId == user.Id || i.Owner.ManagerId == user.Id).ToListAsync()` works.

[2019-05-11 15:15] smitpatel commented on #15692
Duplicate of #14645

[2019-05-11 15:44] yoadwo commented on #11329
hey. actually, i had the same problem, with a "reversed" solution. following [this tutorial by okta](https://developer.okta.com/blog/2018/09/07/build-simple-crud-with-aspnet-webapi-vue) i had encountered migration problems. except, their tutorials connection string was this:

      `connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=WeightTracker;Integrated Security=SSPI;AttachDB

[2019-05-11 17:17] ajcvickers commented on #8299
Closing this as we are in the process of moving to a different perf infrastructure.

[2019-05-11 17:56] JonPSmith commented on #14523
I agree with reducing the logging load because I have seen the impact of looging on performance. However I do think that having access to the database commands (typically SQL) that EF Core produces is very important. This is a great way to understand a database access, especially if you are looking to performance tune things. I recommend this to everyone who is concerned with EF Core performance.

[2019-05-11 18:06] ajcvickers commented on #14523
@JonPSmith As [documented](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#query-execution-is-logged-at-debug-level), you can change the level of only this event to whatever you want with something like this:
[code]

[2019-05-11 18:24] JonPSmith commented on #14523
@ajcvickers, Sorry, I read the headline and didn't read further - my bad.

That is an acceptable fix and I'll try to publicise that when I'm writing about EF Core 3.

[2019-05-11 18:43] ajcvickers commented on #6441
Closing as there is now no need to track this following the query pipeline changes.

[2019-05-11 21:08] ajcvickers commented on #12138
Closing as this is no longer relevant with the latest query changes.

[2019-05-11 22:26] stap123 opened #15693 "Data Classification APIs"
With the announcement of the new SqlClient ([https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/](https://devblogs.microsoft.com/dotnet/introducing-the-new-microsoftdatasqlclient/)), specifically the data classification support. I thought it might be a good feature if there was something like a simple attribute/fluent api/both to allow you to setup the data classifica

[2019-05-11 22:41] ajcvickers commented on #12037
This is no longer relevant due to the query pipeline changes.

[2019-05-11 22:41] ajcvickers commented on #11848
Closing as no longer relevant due to query changes.

[2019-05-11 23:24] ajcvickers commented on #13450
Closing as using `Include` after a projection will not be supported.

[2019-05-11 23:25] ajcvickers commented on #13437
Discussed and decided we are happy with this for now.

[2019-05-11 23:26] ajcvickers commented on #13252
No longer needed since query types and entity types have been collapsed.

[2019-05-11 23:27] ajcvickers commented on #14557
Closing as we don't plan to add plug-in support specifically for fragments.

[2019-05-11 23:38] ajcvickers commented on #12922
Closing as no longer relevant due to query changes.

[2019-05-11 23:38] ajcvickers commented on #12449
Closing as no longer relevant due to query changes.

[2019-05-11 23:40] ajcvickers commented on #14787
Discussed this again and per @divega's comments we are not going to make this change. We may bring `.ToView` back later when it actually has some semantics directly related to views, as opposed to just skipping inclusion in migrations.

[2019-05-11 23:47] NinoFloris commented on #14192
@ajcvickers why did this get pushed into backlog? Postgresql seeding with xmin still doesn't work after 2 years of seeding being introduced. There is a tail of issues slowly fixing parts of the problem, this being the last piece. I'd really appreciate it if 3.0 or a 3.0 patch would finally fix this.

[2019-05-12 00:03] ajcvickers commented on #12905
Notes from discussion: we will use `MemoryCache` but fully internalized.

[2019-05-12 00:04] ajcvickers commented on #13961
Close; it is needed in the new pipeline, so nothing to do here.

[2019-05-12 00:04] ajcvickers commented on #13518
The query pipeline no longer does identity resolution for no-tracking queries, so closing this.

[2019-05-12 00:06] ajcvickers commented on #14192
@AndriySvyryd @roji Thoughts?

[2019-05-12 00:13] ajcvickers opened #15695 "Final review of internal code usage"
Once query is ready, we need to do a final review of internal code used by providers. Everything other than query and conventions should be in a good state, but we may as well check everything one last time when doing the work for query.

[2019-05-12 00:19] ajcvickers commented on #11721
Closing in favor of #15695

[2019-05-12 00:19] #11721 closed

[2019-05-12 00:20] ajcvickers commented on #15096
Closing in favor of #15695

[2019-05-12 00:20] #15096 closed

[2019-05-12 00:29] #15406 closed

[2019-05-12 00:44] ajcvickers commented on #15126
Done for non-query. Closing in favor of #15695 for remaining work

[2019-05-12 00:44] #15126 closed

[2019-05-12 05:22] sdanyliv commented on #15683
It do not looks like a bug but misunderstanding how `IQueryable` works.
Rewrite in the following way (source for method chain should be `IQueryable` but not just list or collection):
[code]

[2019-05-12 10:04] AndersMalmgren opened #15696 "SingleOrDefaultAsync argument exception"
[code]

We have several `SingleOrDefaultAsync` queries, it doesn't matter what the Where clause is, we can even omit it. But it always throws a internal exception which ends up in the log.

[code]

### Steps to reproduce
Any SingleOrDefault should reproduce were no data is returned

### Further technical details
EF Core version: 224
Database Provider:  Microsoft.EntityFrameworkCore.SqlServer
Opera

[2019-05-12 10:16] Muppets commented on #15676
@AndriySvyryd Just to check I've got the scenario correct for the duplicate checks. I [added this test](https://github.com/aspnet/EntityFrameworkCore/pull/15688/commits/6ab3cd145920a2b8cfac60f51258d54dcba04cfd) which adds a check constraint on a derived type. Right now, this fails as the current code generates duplicate HasCheckConstraint calls. This correct?

I'll start the work to refactoring ch

[2019-05-12 12:24] Laurianti opened #15697 "EnlistTransaction is missing"
https://github.com/aspnet/EntityFramework.Docs/blob/master/samples/core/Saving/Saving/Saving.csproj
"Saving" project references "Microsoft.EntityFrameworkCore 2.0.0.0".

https://github.com/aspnet/EntityFramework.Docs/blob/master/samples/core/Saving/Saving/Transactions/CommitableTransaction/Sample.cs
"Sample.cs" uses "EnlistTransaction", that was missing, because was introduced in "Entity Framework

[2019-05-12 14:53] Muppets commented on #15551
As @AndriySvyryd mentioned, I believe the work I did in [this PR](https://github.com/aspnet/EntityFrameworkCore/pull/15688) to store constraint annotations on entity types will resolve this issue.

[2019-05-12 20:01] WhitWaldo commented on #15678
@ajcvickers You're right - there was a reference to the other properties 6 entities deep on one of the items. Thanks!

[2019-05-12 20:23] WhitWaldo opened #15698 "'CollectionOwnershipBuilder' does not contain a definition for 'HasAlternateKey'"
Describe what is not working as expected.
I've got several DbContexts in my solution. All are working as expected except for one, which is generating anomalous code in the snapshot and designer classes. I have an entity, let's call it ABC. ABC has a list of DEFs. DEF is marked as `[Owned]` and I have it configured as an OwnsMany in the OnModelCreating as in the following:

[code]

The IDs for each

[2019-05-12 20:26] WhitWaldo commented on #15698
Of course, all of 5 minutes after I wrote this up and posted it, I discovered why this was happening, but I still think it should be attributed to buggy behavior.

Shouldn't use the two attributes on the key in the Owned entity. Putting [Key] and [DatabaseGenerated] on the Id introduces this issue for each owned entity you add them to.

Instead, of simply building a migration that can't be used, I

[2019-05-13 01:40] RainingNight commented on #12088
??

[2019-05-13 03:48] br3nt commented on #8332
I'm not sure that `IDesignTimeDbContextFactory` is the right abstraction... Yes, we want to create a `DbContext`, but we also need to gather all the information about the environment and relevant application configuration and settings in order to do this.

The ideal solution would be to introduce dependency injection and use the [generic host](https://docs.microsoft.com/en-us/aspnet/core/fundament

[2019-05-13 03:58] drua commented on #15679
I have uploaded the actual application source code,

Please access form below link.

https://github.com/drua/Samayuga/tree/master/EnterpriseSolutions

[2019-05-13 05:07] badcommandorfilename commented on #12045
I have an interesting case and hopefully a workaround for some people. Using netcore2.2 and EntityFrameworkCore v2.2.0.

I have a "Text" class, which is simply a non-nullable string type (see https://andrewlock.net/using-strongly-typed-entity-ids-to-avoid-primitive-obsession-part-3/):

[code]

So we use this in an Entity type and add a ValueConverter:

[code]

I want this to be evaluated server-si

[2019-05-13 06:50] zp978 commented on #1100
Cant find much documentation on how to use NetTopologySuite with Entity Core. Looking for stuff like
Inserting a Poligon suing Entity Core Classes and NetTopologySuite, Inserting a Location  Point using Enity Core with NetTopologySuite datatypes/property.

Links to any documentation on CRUD operations using Enitity Core/NetTopologySuite  will be great.

[2019-05-13 07:51] KLuuKer commented on #15670
We mostly use LINQKit for the reuse of `.Where(....)` for special business logic that is reused in allot of places that might need to be changed in the future (or just have a simple\easier name for it),
and `.Select(.....)` for selecting some common models that are reused in a bunch of places

if only that feature would make it into EF Core itself i would be very happy

also i have noticed that EF

[2019-05-13 08:22] adria3a3 commented on #12911
I'm having the same problem with the migrations. When the idempotent flag is set not all statements are wrapped with a `EXEC` statement and the migration fails.

It there an ETA know for this issue to be resolved?

[2019-05-13 08:56] Lupin1st commented on #15105
I have created a [small project](https://github.com/Lupin1st/efcore_scaffold_stored_procedures) with a simple use case for a procedure mapping sample that fits our needs. Functions could be generated in a similar way but should return an IQueryable object.

We currently use EF6 and will surely port to EF6 on .Net Core 3.0 when its available. But we still want to migrate new modules to EFCore as we

[2019-05-13 09:43] fschlaef commented on #13859
@smitpatel As of `3.0.0-preview5.19227.1` this is still broken.

This was originally punted for 3.0.0 but now it is in Backlog, is a fix still to be expected ?

Updated repro :

[code]

[2019-05-13 10:03] mhsadiqhussain commented on #9277
Please use the below code, It works:

SqlParameter spOutVar;

var result = context.set<MyModel>().FromSql("Sp_Todo @todoCounts OUTPUT",
spOutVar = new SqlParameter("@todoCounts", SqlDbType.VarChar) { Direction = ParameterDirection.Output}).ToList();

int outputCount = int.Parse(spOutVar.Value.ToString());

Happy Coding :)

[2019-05-13 11:56] vainolo commented on #12560
Similar problem happening to me on 2.2.4. This works:

[code]

But I get `ArgumentException: must be reducible node` when done in only one statement

[code]

What is causing the problem here? Shouldn't the expression compilation results be the same in both cases?

[2019-05-13 14:15] sgxman commented on #10305
I also have this exact problem.
In SQL-Server: Bit column, NOT NULL, Default Value ((1))
Class gets generated as: public bool?

/Jonny

My Environment
------------------
Visual Studio 2017 (all updates)
SQL Server 2014 SP1
EF Core Power Tools - 2.2.12
EF Core 2.1.8
NET Core 2.2.102

[2019-05-13 14:21] spottedmahn opened #15700 "Query source has already been associated with an expression | LTS and Workaround?"
Appears to be the same issue as #11900...

[code]

### Workaround
I'm having a hard time understanding the workaround in #11900.

[source](https://github.com/aspnet/EntityFrameworkCore/issues/11900#issuecomment-444991415)

I don't think I'm doing any navigation projection in the following, right?

[code]

### Further technical details
EF Core version: `<PackageReference Include="Microsoft.AspNetCo

[2019-05-13 14:44] ajcvickers commented on #10305
@alextof @sgxman This is by-design when the default value in the column is not the same as the CLR default for the type. Once #15182 is implemented, we may generate something different.

[2019-05-13 14:47] ajcvickers commented on #13859
@fschlaef We still plan to fix this, but the fix may come after the 3.0 release because we currently have too much work scheduled for 3.0 so we are unfortunately having to punt some issues.

[2019-05-13 14:48] jonasnordlund commented on #15511
I got here via a web search as we just had the same problem. Ensure that all your NuGet package versions are up-to-date. The first install of Microsoft.EntityFrameworkCore and assorted related providers like Sqlite and PostgreSQL does surprisingly not come with in a functioning state for us, but after downloading the latest versions Visual Studio immediately wants us to update a large number of th

[2019-05-13 14:52] ajcvickers commented on #1100
@zp978 Does https://docs.microsoft.com/en-us/ef/core/modeling/spatial cover what you are looking for?

[2019-05-13 15:25] ajcvickers commented on #15681
@samueleresca If you are still seeing issues, then please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

With regard to the model configuration syntax, the reason for it is that it forms a complete configuration for the _aggregate_; that is, the 'normal' entity type as the aggregate root, and all its owned types as the aggregate chi

[2019-05-13 15:25] jzabroski commented on #6717
@divega Could I try to create a new, clean issue that tries to summarize some of the talking points?

I've started extracting some of my comments into sub-pages here: https://github.com/jzabroski/SqlQueryHintMatrix - my thought would be to continue to improve this repository, have your team review it, then create a new issue from my refactored README.md

I think Smit's thoughts are valuable, espec

[2019-05-13 15:49] ajcvickers commented on #15685
Note for triage: looks like this could be SQL Server polygon direction again. /cc @bricelam

[2019-05-13 15:55] ajcvickers opened #15701 "Ensure explicit interface implementations have API docs"
See discussion here: https://github.com/aspnet/EntityFrameworkCore/pull/15667#discussion_r282962368

[2019-05-13 15:56] PinpointTownes commented on #15498
Any news?

FWIW, the `Microsoft.Bcl.AsyncInterfaces` package was pushed to NuGet as part of .NET Core preview6: https://www.nuget.org/packages/Microsoft.Bcl.AsyncInterfaces/1.0.0-preview6.19259.10

[2019-05-13 16:07] ajcvickers commented on #15624
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-13 16:25] natemcmaster commented on #14501
Re-opening. This is now blocking dependency flow for aspnetcore. See https://github.com/aspnet/EntityFrameworkCore/pull/15680

[2019-05-13 17:39] DanielStout5 commented on #15685
Not sure this is relevant, but I did try:

- Specifying the points in the opposite order (counter clockwise)
- Not calling Normalize
- Not calling Reverse

As well as the different combinations of the clockwise order/normalize/reverse, and it would either immediately throw an exception (saying they were declared in the wrong order) or work as it does now.

[2019-05-13 17:40] #4016 closed

[2019-05-13 17:59] maumar commented on #12560
@vainolo there are number of issues with `GroupBy` translation and your example is hitting one of them. Adding `ToList()` at the end of query `a` causes every subsequent operation to be executed on the client - bypassing EFCore translation and avoiding all the associated bugs.

[2019-05-13 18:18] vainolo commented on #12560
Any ETA for a fix here?

[2019-05-13 18:43] maumar commented on #12560
@vainolo as of now the bug is scheduled for 3.0 release, so (if nothing changes) that should be sometime in September.

[2019-05-13 18:46] AndriySvyryd commented on #1699
Also handle unique indexes

[2019-05-13 18:51] AndriySvyryd commented on #15319
@jwisener When you are swapping values between two rows that have unique indexes there is no way to order the updates that doesn't result in an exception.
If the property being changed was nullable EF could set it to null temporarily if we implement [cycle breaking](https://github.com/aspnet/EntityFrameworkCore/issues/1699)

There are several workarounds for this:
- Make the index non-unique.
- Ma

[2019-05-13 18:58] bricelam commented on #2725
**Note to implementer**: Update the obsolete `ToView` method to call this in order to preserve its old semantics.

[2019-05-13 19:03] bricelam commented on #8332
Note, we detect and use the generic host pattern (Program.CreateHostBuilder) at design time in 3.0.

You only need `IDesignTimeDbContextFactory` if you want to configure your services differently between run time and design time.

[2019-05-13 19:05] bricelam commented on #12911
We still hope to address this issue before the final 3.0.0 release (this September).

[2019-05-13 19:14] roji opened #15702 "Measure perf impact of not being in the platform"
Now that EF Core isn't included as part of the platform, look into the perf impact of not having pregenerated ngen/R2R images.

[2019-05-13 19:16] bricelam commented on #15685
What is `query`? Can you attach a standalone repro with data that demonstrates the issue?

I also remember MSSQL having some unorthodox behaviors for things landing exactly *on* a boundary. Could it be that?

[2019-05-13 19:17] bricelam commented on #15685
Could be related to #15668, but it seems unlikely

[2019-05-13 19:22] DanielStout5 commented on #15685
Query is `IQueryable<Business>` where `Business` has a `NetTopologySuite.Geometries.Point` property called `Location`.

I'll see if I can get the time to setup a repo that replicates the issue - I've already spent quite a few hours trying to figure out what was going on here, so that may have to wait a bit.

The locations are not exactly on the boundary - they are many kilometers away.

#15668 doe

[2019-05-13 20:05] AlansButler commented on #9339
Thanks for the suggestion bricelam.
Could you point me to an example?

[2019-05-13 20:24] ajcvickers commented on #11406
Closing in favor of #15695

[2019-05-13 20:26] ajcvickers commented on #11404
Closing in favor of #15695

[2019-05-13 20:37] #10897 closed

[2019-05-13 21:14] bricelam commented on #9339
[code]
[code]

[2019-05-13 21:43] AlansButler commented on #9339
Thanks. But what we'd like to do is prepend the schema name. I'm not sure how to access the schema name from within Pluralize.
  public string Pluralize(string name)
        {
            return schema +'_'+ name;
        }

[2019-05-13 22:43] bricelam commented on #9339
Well, that's nothing like the original code you showed... 🙂 We don't have an easy hook for that. Start in [CSharpModelGenerator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.Design/Scaffolding/Internal/CSharpModelGenerator.cs) to find a new hack. But also recognize that using internal API will likely break again in the future.

[2019-05-13 23:08] ajcvickers commented on #15024
Note fore triage: I don't think that there is any reason we can't add an `IEnumerable<object>` overload to `FromSqlRaw`. However, it is a little more involved than for `ExecuteRawSql` because query would need to understand both methods. This doesn't look especially difficult, but it is some work.

Even if we decide to add this, we should still consider whether we need to do this for 3.0. (It's sma

[2019-05-14 00:14] maumar opened #15704 "QueryRewrite: add support for FromSql"
Issue for tracking purposes - when FromSql works, make sure to enable skipped tests.

[2019-05-14 00:15] smitpatel opened #15705 "Convert Enumerable methods to queryable methods when appropriate"
Especially when Nav Rewrite converts collection navigation to Queryable.

[2019-05-14 01:20] zp978 commented on #1100
Thanks for the reply. https://docs.microsoft.com/en-us/ef/core/modeling/spatial does not cover much,

Was looking for examples of CRUD operations to geography type columns .

Inserting a new row using (entity core/nettopologysuite) in DB with a Geography column type that will store a Polygon ? or Even inserting a new row in the DB with column (geography) storing location pount?

Have also checked

[2019-05-14 02:34] AlseinX opened #15707 "EF Core 3.0 preview 5 cannot tanslate equality operator on System.Guid to sql"
[code]

### Steps to reproduce
Simply a linq query with equality operator on System.Guid

[code]

### Further technical details
EF Core version: 3.0.0-preview5.19227.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 17763.437
IDE: Visual Studio Core

[2019-05-14 04:26] AndriySvyryd opened #15708 "NullSafeAccessVerifyingExpressionVisitor is not thread-safe"
See https://dev.azure.com/dnceng/public/_build/results?buildId=188110&view=ms.vss-test-web.build-test-results-tab&runId=4532326&paneView=debug&resultId=102817

[2019-05-14 05:39] divega commented on #6717
@jzabroski thanks for collecting that information. It doesn’t help now, but i may help when we revisit this issue in the future.

[2019-05-14 12:38] voroninp commented on #15584
@ajcvickers I am still pondering over the problem.
Honestly, I don't get how these two issues help. I will end up with entity containing a collection of value objects with multiple properties and overridden equality.

[2019-05-14 14:17] JediLeeSkywalker commented on #15685
Hello, I am one of colleague whose the reporter [#15685](https://github.com/aspnet/EntityFrameworkCore/issues/15685):

Some experience of mine would help :
1. Type declare of the Location column in the SQLContext directs to be a "geometry"or "geography", if there is none ,the default will be a "geography". it looks like :
 ` entity.Property(e => e.Location).HasColumnType("geometry");`
2. [Detect c

[2019-05-14 14:26] ComptonAlvaro commented on #15515
Why would it be the reson to use ObservableCollection? Now it is used a hashset for collections because I guess for performance is better because because to get an element it is O(1), but if now the collections will be ObservableCollections, wouldn't it make that to lose performance?

Just I am wondering why ObserbableHashSet is not appropiate in this case.

Thanks.

[2019-05-14 14:34] auri179 commented on #15691
Any ideas ?

[2019-05-14 14:39] DanielStout5 commented on #15685
The Location is of type geography. I thought that was correct, since I'm dealing with latitude/longitude and not arbitrary shapes?

I'm not sure that's the issue, since I tried both clockwise and counter-clockwise. One way would always cause an exception, and I have it the other way. It doesn't cause an exception how I have it now, but it also doesn't return the results.

I've tried Intersects as

[2019-05-14 14:41] ajcvickers commented on #15515
@ComptonAlvaro It's because `ObservableHashSet` does not have a stable order. It's fine for notifications, but data binding requires that the order of other items not change when a different item is inserted or removed.

[2019-05-14 14:50] ajcvickers commented on #15691
@auri179 There is nothing immediately obvious to me, but this looks more like an issue with the underlying layers, rather than an issue with EF itself. Have you tried using SpatiaLite module without using EF Core?

/cc @bricelam

[2019-05-14 14:52] ComptonAlvaro commented on #15515
Thanks for the answer, it is good to learn new things.

[2019-05-14 14:54] ajcvickers commented on #1100
@zp978 Thanks for your feedback. I moved your issue to the docs repo here: https://github.com/aspnet/EntityFramework.Docs/issues/1471

[2019-05-14 14:56] jhirschdrg commented on #827
As i see this will be one of the new feature in ef core 3
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/features#reverse-engineering-of-database-views

[2019-05-14 15:06] JediLeeSkywalker commented on #15685
Hello:
　　Is it equal to original points array? if you try to test the binary parameter of translated SQL in SSMS Query Analyzer :
`DECLARE @g geography;
SET @g = geography::STGeomFromWKB(0xE61000000104050000002...<--[the complete binary　code],4326);
SELECT @g.ToString(); `
ref [STGeomFromWKB](https://docs.microsoft.com/en-us/sql/t-sql/spatial-geography/stgeomfromwkb-geography-data-type?view=sql-se

[2019-05-14 15:12] ajcvickers commented on #15687
@leszekrogowski There are a couple of issues here. First, EF Core uses reference equality for entities, and requires that only one entity instance is tracked for any given entity identity. This means that entities that override `Equals` and `GetHashCode` must still ensure that only a single instance is tracked. Further, navigation properties that EF interacts with must also respect these semantics

[2019-05-14 15:30] ajcvickers commented on #15679
@drua I looked at your code and did not see anything obvious. However:
* It did not build for me, so I was not able to debug
* There's a lot of code, which makes it hard to find the issue.

I had assumed that since you listed steps above to reproduce the issue that these steps would, if followed, actually reproduce what you are seeing. Have you tried doing this?

[2019-05-14 16:05] jbrown-jane-com commented on #15414
I have Preview5 and I still get this error.

[2019-05-14 16:06] smitpatel commented on #15185
Duplicate of #15588

[2019-05-14 16:09] smitpatel commented on #8243
Closing as won't fix since we want to keep them separate in new pipeline for better modularity. We can revisit the decision if run into issues.

[2019-05-14 16:09] ajcvickers commented on #15414
@jbrown-jane-com Can you post you csproj file?

[2019-05-14 16:23] jbrown-jane-com commented on #15414
Actually, I have a suggestion.  Can somebody post simple steps (using VS2019 preview5 .net core console app) on getting entity framework core preview5 setup and using scaffolding for an existing db?

I've tried 7 test projects just today.  I add core, tools, design and sqlserver nugets all version 5 as per the sample commands in nuget.

I believe it is sqlserver's package that keeps degrading othe

[2019-05-14 16:24] petli opened #15710 "Intermittent NRE in SelectExpression.Tags"
About every 15-20 executions of the unit test suite of our .NET Core 2.2 project we get a NullReferenceException that always end with this stacktrace:

[code]

The stack trace leading up to that point comes from various types of EF queries: sync and async, projections, includes, singletons, toarray.  There's no pattern that we can see. (A few stack traces are included at the end of the issue). So

[2019-05-14 16:28] DanielStout5 commented on #15685
I actually did want to test this, but to be honest I'm not sure how to get the full binary representation of the polygon since the SensitiveDataLogging for EF core only includes the first bit. I tried a few different things (e.g. `BitConverter.ToString(poly.AsBinary()).Replace("-", "");`) but it doesn't match what EF Core is logging. Any idea how to get the full binary data?

It is Google maps, bu

[2019-05-14 16:29] smitpatel opened #15711 "Queryable methods translation progress"
Relational:
- [x] All
- [x] Any
- [x] Average
- [x] Cast
- [x] Concat
- [x] Contains
- [x] Count
- [x] DefaultIfEmpty
- [x] Distinct
~- [ ] ElementAt (#17066)~
~- [ ] ElementAtOrDefault (#17066)~
- [x] Except
- [x] First
- [x] FirstOrDefault
- [x] GroupBy
~- [ ] GroupJoin (#17068)~
- [x] Intersect
- [x] Join
- [x] LeftJoin
- [x] Last
- [x] LastOrDefault
- [x] LongCount
- [x] Max
- [x] Min
- [x] Of

[2019-05-14 16:33] JediLeeSkywalker commented on #15685
1.  I don't know VS 2017 or 2019 's way  but  I am sure you can get  full binary representation by SSMS Profilter.
2. OK, for google maps , just for a chance.
3. I suggest you post constant values of the points array to the masters of this git, if you still not get solution.

[2019-05-14 16:50] ErikEJ commented on #15414
Please post your csproj file...

[2019-05-14 17:01] #15708 closed

[2019-05-14 17:03] jbrown-jane-com commented on #15414
Here is the file just before I try to put in the Microsoft.EntityFrameworkCore.SqlServer

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore" Version="3.0.0-preview5.19227.1" />
    <PackageReference Include="Microsof

[2019-05-14 17:05] ajcvickers commented on #15644
Note for triage: looks like we need to review which error numbers can indicate that the database doesn't exist. We could also expose the amount of time to wait until `Exists` returns true.

[2019-05-14 17:13] DanielStout5 commented on #15685
Good idea about the Sql Server Profiler. That did get me the full parameters.

For some reason, STGeomFromWKB isn't working for me.

I found two zoom levels, which should share many of the same points. The first returns nothing, the second (more zoomed in) returns them all.

[code]

`0xE6100000010C3CA06CCA15524640A089B0E1E9C94FC0` is a location within both of the `poly` values, but it only gets re

[2019-05-14 17:25] bricelam commented on #15691
Does `mod_spatialite.dll` get deployed with your app? Is your app targeting .NET Framework? Could you attach a simple repro app so we can investigate further?

[2019-05-14 17:31] cmorgan091 commented on #11003
I'm currently doing a migration from EF6 to EF Core 2.2 and where we use composite PK's extensively and do it all through decoration with the KeyAttribute and ColumnAttribute.

I couldn't bear to do literally hundreds of statements in fluent, so I think I have a workaround, but please note THIS HAS NOT BEEN PROPERLY TESTED YET.  Add this to OnModelCreating

[code]

Let me know if this helps anyone

[2019-05-14 17:37] bricelam commented on #15685
Correct, it's the SQL Server serialization format. You can turn it into WKT like this:

[code]

[2019-05-14 17:38] JediLeeSkywalker commented on #15685
My wrong:
`DECLARE @g geography;
SET @g =0xE6100000010405000000BC29F036B459444094D172A3B1AB55C0BC29F036B459444028A3E546336F46C0EDE38ED110A0484028A3E546336F46C0EDE38ED110A0484094D172A3B1AB55C0BC29F036B459444094D172A3B1AB55C001000000020000000001000000FFFFFFFF0000000003
SELECT @g.ToString()
`

[2019-05-14 17:49] smitpatel opened #15712 "Query: Avoid anonymous type constants in expression tree"

[2019-05-14 17:51] auri179 commented on #15691
I've investigated and it appears that it might come from mod_spatialite.dll

I've created a console app everythiing is fine till I put x => x.UseNetTopologySuite() in my context  OnConfiguring(DbContextOptionsBuilder optionsBuilder)

mod_spatialite.dll is present in those directories

publish\runtimes\win-x86\native
publish\runtimes\win-x64\native

Which are relevant because I am in windows enviro

[2019-05-14 17:56] smitpatel opened #15713 "Query: Generate OrderBy (Select 1)"

[2019-05-14 18:01] AndriySvyryd commented on #13603
Metadata moved to Core. Common Query parts still need to be moved.

[2019-05-14 18:05] auri179 commented on #15691
Here is a repository with the consoleApp unfortunately I can't put the database which is 7 Gig.
But database is fine no need to connect through the error is coming before. I can say that if the app complains about file not found it is done !

https://github.com/auri179/SpatialiteIssue

[2019-05-14 18:06] bricelam commented on #15685
I think you're looking for `STContains`...

[2019-05-14 18:07] bricelam commented on #15685
..err, I mean `STWithin`.

[2019-05-14 18:09] bricelam commented on #15685
I think `STIntersects` means anything that crosses the polygon boundary on SQL Server

[2019-05-14 18:10] DanielStout5 commented on #15685
I've tried `STWithin`, `STContains`, `STIntersects`, `STOverlaps`, as well as `STDistance <= 0`, and they all return false.

`STWithin` is what I originally started with.

[2019-05-14 18:13] JediLeeSkywalker commented on #15685
`
declare @poly varbinary(112) = 0xE610000001040500000079DA50E81999434094D172A355B75AC079DA50E8199943404046CB8D963C37C0EAC7100794B84B404046CB8D963C37C0EAC7100794B84B4094D172A355B75AC079DA50E81999434094D172A355B75AC001000000020000000001000000FFFFFFFF0000000003;
declare @pt varbinary(112) = 0xE6100000010C3CA06CCA15524640A089B0E1E9C94FC0;

select geography::Deserialize(@poly).STAsText();
select geogr

[2019-05-14 18:20] skwork34 commented on #15414
Here is my version 4 project that gives me the same errors listed in this feed.  no suprises of course.

[TestEF8-Version4.zip](https://github.com/aspnet/EntityFrameworkCore/files/3179223/TestEF8-Version4.zip)

Here is my version 5 project that has build errors (listed below).

[TestEF8-Version5-BuildErrors.zip](https://github.com/aspnet/EntityFrameworkCore/files/3179224/TestEF8-Version5-BuildErro

[2019-05-14 18:21] skwork34 commented on #15414
Please keep in mind I have tried many variants of this.  Starting with version5, starting with 4 and upgrading, using packagereferences, using install from package manager console.  I have yet to get all the preview5 packages to work together.  Hence my request for simple steps to get EF working with preview5.

[2019-05-14 18:22] DanielStout5 commented on #15685
That's interesting.. So if the point is Geometry instead of Geography, it is counted as being within the polgyon.

I could convert the stored Location from geography to geometry, but the problem is that the application uses distance queries.

[code]

Result:
[code]

The latter is the correct distance in meters. The first is something else, maybe degrees?

Is it possible to tell EF Core somehow con

[2019-05-14 18:24] skwork34 commented on #15414
Interesting to note that my preview5 version of the project has all 5's in the project file but I get this:

![image](https://user-images.githubusercontent.com/48222193/57722077-f9a88200-7642-11e9-9fc0-1d50111668f1.png)

You will note that the last NuGet package DotNetAppHost does not show preview5 even though I ran the install tool and put in the package ref.  It keeps getting changed back when I

[2019-05-14 18:24] skwork34 commented on #15414
The project has nothing confidential in it, I can upload the entire folder if need be.

[2019-05-14 18:25] KorpEduardoSikora opened #15714 "[Help] Using migration builder / 2 microsservices using legacy software database table"
Hello ladies and gentleman..

My company has an old and very large destkop ERP software and now we're making the transition to a microsservices structure..

In this microsservices structure (at least in the begining) , multiple services will have to access the same table on the legacy ERP database..

Because of this, we may have one microsservice that needs to access a table, let's say 'Products',

[2019-05-14 18:25] JediLeeSkywalker commented on #15685
3 D format:
declare @g1 geography = geography::STGeomFromText('POLYGON ((-106.86460195744286 39.1961031336586 **0**, -23.2366722699428 39.1961031336586 **0**, -23.2366722699428 55.442017443841749 **0**, -106.86460195744286 55.442017443841749 **0**, -106.86460195744286 39.1961031336586 0))',4326);
declare @g2 geography = geography::STGeomFromText('POINT (-63.57745 44.64129 **0**)',4326);

select @g

[2019-05-14 18:26] smitpatel opened #15715 "Query: Materialize an array"
Current binding is member based and does not support arrays. Hence projection gets overwritten.

[2019-05-14 18:29] ilmax commented on #12045
Hey @badcommandorfilename  I gave it a try but still getting the same exception when filtering a query with a custom type because I've disabled client evaluation of queries.

I'm using a type that wraps an int, and implementing a value converter I'm able to do:

- Insert
- Delete
- Read (read a list or filter by other properties)

But the filter using the custom type is still not accepted by the q

[2019-05-14 18:29] smitpatel opened #15716 "Query: Enable client eval in projection"

[2019-05-14 18:30] JediLeeSkywalker commented on #15685
It is a easy way that change the poly switches x y to y x , or anyway to get poly object to real **geography**?

[2019-05-14 18:34] DanielStout5 commented on #15685
I'm not entirely sure what you mean.

I create the polygon in my code based on the map bounds the frontend sends up:

[code]

I saw a comment a minute ago about setting the Z value of the points and polygon to 0 fixing the STIntersect. Did that not actually work?

[2019-05-14 18:39] AndriySvyryd commented on #14842
Also move extensions for our types to the folder corresponding to the namespace.

[2019-05-14 18:43] guidevnet commented on #15414
@skwork34 You should try uninstalling all of the nuget packages, and then install all from scratch in version 5 (instead of upgrading it).

[2019-05-14 18:49] smitpatel opened #15717 "Query: Port AllAnyToContainsRewritingExpressionVisitor"

[2019-05-14 19:03] JediLeeSkywalker commented on #15685
No it not work, I found the incorrect code that I put @g1.STIntersects(@g1), Z point not work.

this works:
declare @g1 geography = geography::**STPolyFromText**('POLYGON ((-106.86460195744286 39.1961031336586,-106.86460195744286 55.442017443841749, -23.2366722699428 55.442017443841749, -23.2366722699428 39.1961031336586,-106.86460195744286 39.1961031336586))',4326);
declare @g2 geography = geogra

[2019-05-14 19:19] DanielStout5 commented on #15685
Hmm.. That polygon you're using is different than the original - the points are in a different order. Specifically the 2nd and 4th are switched (You're going counter-clockwise, I think?)

If I change the creation of the polygon to this:

[code]

It still has the same issues as before. I'm not sure it's happening the exact same way, but at certain zoom levels and pan positions (i.e. certain boundin

[2019-05-14 19:24] JediLeeSkywalker commented on #15685
I had searched what is different from STPolyFromText and STGeomFromText, and more about direction of polygon, I found [diff](https://stackoverflow.com/questions/25165406/tsql-geography-stgeomfromtext-displaying-wrong-result) is most closest this question.
It mentions Reverse order or something  at last reply, or you just make the WKT reader , I wish NTS would do some work like STPolyFromText.

[2019-05-14 19:30] DanielStout5 commented on #15685
Well, I think I found the problem:

![image](https://user-images.githubusercontent.com/13984239/57726316-849a7400-7665-11e9-9075-e538bb26eb62.png)

[2019-05-14 19:33] DanielStout5 commented on #15685
I think this might be part of the issue:

Turns out SSMS has a Spatial Results visualizer:

[code]

![image](https://user-images.githubusercontent.com/13984239/57726472-e0fd9380-7665-11e9-9f5d-e26d5e57e660.png)

So the point would be within the polygon if it had straight lines, but they connected by curves..

[2019-05-14 19:44] JediLeeSkywalker commented on #15685
I am not sure if this info could help. If I change compatibility_level of SQL Server Database to 100, I get an error running above SQL:

Microsoft.SqlServer.Types.GLArgumentException: **24205**: The specified input does not represent a valid geography instance because it exceeds a single hemisphere. Each geography instance must fit inside a **single hemisphere**. A common reason for this error is

[2019-05-14 19:47] DanielStout5 commented on #15685
Interesting.. but I've already tried both ring orientations - assuming that's referring to the order the points are passed into `IGeometryFactory.CreatePolygon`. And the polygon definitely doesn't span hemispheres.

[2019-05-14 19:52] smitpatel opened #15718 "Query: SqlServer LongCount"
Because it uses a different SqlFunction

[2019-05-14 19:57] JediLeeSkywalker commented on #15685
I tried to draw a similar polygon in [Wicket](https://arthur-e.github.io/Wicket/sandbox-gmaps3.html), then I get the result WKT put to SQL, then it works.
Get the WKT by API that before I  mentioned, then use WKTReader.

POLYGON((-97.5701683636928 54.333628305112036,-29.3670433636928 54.333628305112036,-29.3670433636928 38.50235178337623,-97.5701683636928 38.50235178337623,-97.5701683636928 54.333

[2019-05-14 20:05] roji commented on #14192
@NinoFloris this issue isn't actually necessary in order to seed entities that has xmin. The root issue was https://github.com/aspnet/EntityFrameworkCore/issues/14161 which was fixed in EF Core 2.2.2 - this issue was opened as part of a proposed workaround for that, which is no longer necessary to use xmin (but is important for other scenarios).

[2019-05-14 20:15] smitpatel opened #15719 "Query: NewExpression.Members can be null"
Perhaps binding similar to array can help but I doubt without the member infos we can compose any further.

[2019-05-14 20:27] smitpatel opened #15720 "Query: Subquery Member pushdown"

[2019-05-14 21:18] skwork34 commented on #15414
I've done that.  That's the first route I took.  It dies on installing the Microsoft.EntityFrameworkCore.SqlServer.  That one gives the same error.

[2019-05-14 21:35] skwork34 commented on #15414
Found the issue:  I mistakenly thought the latest update of visual studio that hit with the preview5 announcment had the preview5 .net core sdk with it.  @guidevnet 's comment triggered the thought of downloading the sdk again and installing it and wham, it all works.  Thanks for the triggering suggestion, and thanks to all who helped.

[2019-05-14 21:38] ajcvickers commented on #15498
First, thank you all for the feedback. As always, we really appreciate it.

Let me try to clarify a few points:
* This kind of change is not something we take lightly. There have been extensive discussions around whether or not this is the right thing to do and the right time to do it. Strong arguments can be made on both sides. However, this is part of a broader strategy for all of .NET going for

[2019-05-14 21:42] #14501 closed

[2019-05-14 22:09] bricelam commented on #14212
This finally shipped today in [version 2.1.11](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Sqlite/2.1.11).

(Note, it first shipped in version 2.2.2 four months ago.)

[2019-05-14 22:44] PinpointTownes commented on #15498
Thanks for the reply, @ajcvickers.

I’m confused because it’s exactly the argument @divega mentioned in his recent post: https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-4/. Have I missed something?

If async enumerable support is not the main motivation for abandoning .NET Standard 2.0, then can you please shed some light on why moving to 2.1-only is required?

N

[2019-05-14 23:49] smitpatel commented on #15560
Duplicate of #15705

[2019-05-15 00:29] #15705 closed

[2019-05-15 02:05] maumar opened #15722 "QueryRewrite: remove redundant null semantics terms involving non-null parameters once we know parameter values"
Currently when performing null semantics rewrite we assume all parameters are nullable. This is because at that point we don't have the parameter values.

We should run optimizations after the values are known and simplify fragments like `@prm IS NULL`, `@prm IS NOT NULL` once we know if the parameters are actually null or not.

[2019-05-15 05:19] davidroth commented on #15498
Thanks for the answer @ajcvickers
But it is still not clear on why you are making the change now.

Can you elaborate on how EfCore 3.0 targeting netstandard2.2 aligns with the vision of net5?

I also don't get the argument of not being able to retarget to 2.2 in the 3.1 timeframe because I don't see any sound reason for retargeting the 3.1 minor version anyways.

You could still step back and anno

[2019-05-15 05:46] divega commented on #14787
I had yet one more idea that I like more because I believe may help us keep a simple `ToView()` but in a way that doesn’t introduce confusion and can evolve gracefully as we add more capabilities. The principles would be simple:

1. A call to`ToView()` in the model is equivalent to `ToTable()` for query and update pipeline.

2. For migrations and EnsureCreated, a call to `ToView()` in the model is

[2019-05-15 06:14] thijsalofs commented on #12045
If you can't wait till the next major EF Core release, maybe this approach might work for you:
https://andrewlock.net/strongly-typed-ids-in-ef-core-using-strongly-typed-entity-ids-to-avoid-primitive-obsession-part-4/

[2019-05-15 06:37] freerider7777 opened #15723 "Query: Linq inner query with Any and nullable fields problem"
Hi,
We have a linq query

[code]
which produces the select:

[code]

How can we get rid of
[code]
as it runs 100x times slower with this condition. We have `p."DeliveryChannelId" IS NULL` in first place, so it goes inside inner query only with not null.

[2019-05-15 07:04] ilmax commented on #12045
@thijsalofs Thankl you for the link, will give this a try!

[2019-05-15 07:08] divega commented on #15498
@PinpointTownes That blog post reflects what our thinking was around a month ago. After that, we learned that some of the technical concerns would be addressed by Microsoft.Bcl.AsyncInterfaces and we have had many more discussions, including conversations with the larger .NET team about how to best align the EF Core roadmap to the overall .NET strategy. The decision to target .NET Standard 2.1 rem

[2019-05-15 07:23] davidroth commented on #15498
@divega Sorry I was mixing up netstandard versions. I have updated my previous comment.

Well I can only hope that `Linqpad` transations to netcore app this year then. Otherwise it will be a very sad story for those relying on this tool for interactive ef core query execution. (We use it heavily).

[2019-05-15 11:48] yesmey commented on #12482
We experienced this same issue.

The following code:
[code]
Is producing the following sql query:
[code]

Since SQL Server doesn't allow this. It would possible to just cast all parameters to sql_variant before by doing: (@p0, CAST(@p1 AS sql_variant)) for each row. It's also possible to simply insert all parameters with the datatype set to sql_variant.

Following diff implements the second option

[2019-05-15 11:55] drua commented on #15679
@ajcvickers Yes i have tried multiple times, since after i upgraded to EntityFrameworkCore to 2.2.4 this issue occurred (still exist and ignoring this table rename issue until future version of EF core released) and its happening only for the one table AspnetRoles among the identity tables.

[2019-05-15 12:01] DanielStout5 commented on #15685
The only reason that works is because you have chosen a different polgyon that happens to include the point.

![image](https://user-images.githubusercontent.com/13984239/57774098-033bf380-76f0-11e9-9fa6-7d4006972fa1.png)

The problem is that the polygon doesn't have the correct shape for some reason when passed to SQL Server, even though it does when evaluated locally.

[2019-05-15 13:17] TomasHubelbauer commented on #14812
I am using the version `3.0.0-preview4.19216.3` (also Cosmos) and it still seems to be happening.

[2019-05-15 15:03] MontyGvMC opened #15725 "Scenario of code first against existing legacy database"
Describe what is not working as expected.

When using EFC one does not only have database first and code first. Sometimes the database is old & the database layout should be reused and recreated with EFC.

Therefor one would recreate the database using the code first approach with brings a completly new database with the exact same layout as the old database (plus the __EFMigrationHistory table).

[2019-05-15 15:35] muqeet-khan opened #15726 "How to Support netcoreapp2.2 and 3.0 app using same library"
Describe what is not working as expected.
I am trying to use our current NETStandard 2 library that we have been using for our NETCOREAPP2.2 apps and make it work for 3.0 previews? Is that possible? Whats the migration path like? Currently, this library calls:
[code]
I was assuming that using the following in an aspnet core 3.0 project would work.
[code]
Could you point me to a document or directi

[2019-05-15 16:00] tiyebm opened #15727 "How to excecute join queries using raw SQL in EF Core?"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

Describe what is not working as expected.

If you are seeing an exception, include the

[2019-05-15 16:04] ajcvickers commented on #15726
@muqeet-khan You will need the .NET Core 3.0 preview to use EF Core 3.0 preview; it won't work with 2.2.4. Also, make sure to update all the EF packages you reference to the same preview version.

[2019-05-15 16:59] medberg commented on #15679
Change

`modelBuilder.Entity<IdentityRole<string>>().ToTable("Roles");`

to

modelBuilder.Entity<IdentityRole>().ToTable("Roles");

You will then need to add a migration and update your db.

[2019-05-15 20:53] maumar opened #15728 "Query: compilation error (null type mapping) for query with join where key selectors are anonymous types and one of them is constat"
query:

[code]

however this works:
[code]

[2019-05-15 20:59] smitpatel commented on #15728
Duplicate of #15712

[2019-05-15 20:59] smitpatel commented on #15728
Duplicate of #14672

[2019-05-15 21:54] #15676 closed

[2019-05-15 21:55] AndriySvyryd commented on #15551
Fixed in #15688

[2019-05-15 21:55] #15551 closed

[2019-05-15 22:44] maumar opened #15730 "Query: improve translation of StartsWith/EndsWith"
In EF6 we had a specific translation that took advantage of sargability

[code]

To achieve that translation we explicitly disabled null semantics processing for the translated sql fragment. In the new pipeline we want to avoid special casing this, so the query we generate *looks* significantly worse:

[code]

We should simplify some of this, especially once we know the value of parameters, and se

[2019-05-15 23:06] jzabroski opened #15732 "Discussion for possible implementation of a Snowflake database provider"
I figure this would be a good way for me to learn more about EFCore internals and then go on to help improve EFCore metadata.

[2019-05-15 23:09] smitpatel commented on #15732
https://www.snowflake.com/

[2019-05-15 23:15] jzabroski commented on #15732
J/W: Why the confused look?   My understanding is snowflake is built by some ex-SQL Server guys.

https://github.com/snowflakedb/snowflake-connector-net

[2019-05-15 23:20] ajcvickers commented on #15732
@jzabroski Why did you open an issue here? To get guidance from the EF team? Or because you are requesting that this provider is something we ship?

[2019-05-15 23:30] jzabroski commented on #15732
To coordinate in case it is already in the works. My free time is valuable so if I am going to give this a shot, why would I work on it in secret?

[2019-05-16 04:29] StrangeWill opened #15733 "Support For Columstore Index Storage"
Currently it appears the only way I can roll Columnstore Indexes (https://docs.microsoft.com/en-us/sql/relational-databases/indexes/columnstore-indexes-overview?view=sql-server-2017) is to basically write a ton of SQL during a migration and leave the database in a state that the model is not really aware about.

Is there any planned support for these unique types of indexes for the SQL Server prov

[2019-05-16 05:27] ErikEJ commented on #15733
@StrangeWill You could also use SSDT for database first development

[2019-05-16 06:20] divega opened #15734 "Cosmos: Translate Skip and Take"
Support for OFFSET and LIMIT has been added to the SQL dialect. We should translate Skip and Take.

[2019-05-16 07:09] drua commented on #15679
Thanks @medberg ,

Issue got fixed after changing IdentityRole<string> to IdentityRole.

[2019-05-16 09:28] ghost1372 opened #15735 "using DataDirectory in DataSource"
hi is it possible that i use DataDirectory in DataSource? i used this code but not worked
[code]
I could do this in app.config connectionstring before but in EFCore i cant

[2019-05-16 10:45] iamshen commented on #14190
add  ` ((OracleParameter)parameter).OracleDbType = OracleDbType.Blob;`  to `ConfigureParameter  ` work for me

[2019-05-16 11:18] lugospod opened #15736 "Throw better exception for stale Fluent API builders"
**Problem:**
When multiple fields of single owned type are added to the class, then there is a problem with migration process - MyEntity containins multiple MyOwnedEntity fields. The seeding process throws an exception:

**Exception:**
System.InvalidOperationException: 'The entity of type 'MyEntity' is sharing the table 'my_entity' with entities of type 'MyEntity.FirstOE#MyOwnedEntity', but there

[2019-05-16 11:49] sdanyliv commented on #15723
@freerider7777, try this [option](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.infrastructure.relationaldbcontextoptionsbuilder-2.userelationalnulls?view=efcore-2.1#Microsoft_EntityFrameworkCore_Infrastructure_RelationalDbContextOptionsBuilder_2_UseRelationalNulls_System_Boolean_).

[2019-05-16 12:07] MontyGvMC commented on #10368
I run into the exact same issue (except that in my case another table is the first in the migration).

Kind of weird it is even the database from Identity Server (4).

The migration works perfectly when run against an empty DB. When run against an existing db the exception is thrown.

[code]

IdDbContext is basically
`
public class IdDbContext: IdentityDbContext<ApplicationUser>, IConfigurationDbC

[2019-05-16 12:08] BjarkeMeier commented on #10784
@backdoormanUC It works like a charm. Thx for sharing! I made a few small extensions to target my personal needs:

[code]

[2019-05-16 14:10] Wouter8 opened #15738 "> 2 InverseProperties gives: The convention invocations have reached the recursion limit. This is likely an issue in EF Core, please report it."
I am trying to setup multiple entities with inheritance. See class definitions (hiding irrelevant properties):
[code]

When creating a migration with these classes the `PartialAnswers` table gets 4 columns which are not needed.

- MultipleAnswersRepeatingUnsortedId
- MultipleAnswersRepeatingSortedId
- MultipleAnswersUnsortedId
- MultipleAnswersSortedId

I want them to all use the column `AnswerId`

[2019-05-16 14:33] MontyGvMC commented on #10368
For me the problem was messing up the migrations.

I tried to create 3 migrations (the first for asp.net identity, the second + the configuration store, the third + the persisted grants db)

I removed the dbsets but forgot to remove the calls within the OnModelBuilding method. So each migration had all the tables (e.g. in the model snapshot) and therefor it seems they tried to create them multiple

[2019-05-16 14:47] orassr opened #15739 "SDK mismatch <- posted originally @dotnet/cli"
Normally, when type `dotnet ef` the result is:

                              _/\__
                  ---==/          \\
         ___  ___        |.          \|\
        | __|| __|        |         )   \\\
        | _| | _|          \_/       |  //|\\
        |___||_|                   /   \\\/\\

this time all I'm getting is that error again and again no matter what command it is
I tried to updat

[2019-05-16 14:54] StrangeWill commented on #15733
Hmm, yeah I guess going back to SSDT is an option, code-first and EF migrations brought us a _ton_ of benefits though.

[2019-05-16 16:13] ajcvickers commented on #15735
Duplicate of #13840

[2019-05-16 16:17] smitpatel commented on #15739
Do you have folder `C:\Users\orass\.dotnet` on your machine? Given none of the SDK is installed in that location, I wonder why it is trying to find dotnet ef executable in that folder. If the folder exists, then can you delete it and try again?

[2019-05-16 16:25] ajcvickers commented on #15738
@Wouter8 Which release of EF Core are you using?

[2019-05-16 16:37] Wouter8 commented on #15738
@ajcvickers I'm not sure. I don't have a packages.json and it's not in my .csproj

[2019-05-16 16:38] Wouter8 commented on #15738
Looks like it's under Microsoft.AspNetCore.App: EntityFrameworkCore (2.1.1)

[2019-05-16 16:43] Wouter8 commented on #15738
@ajcvickers updated to 2.2.0. Getting the same error when adding the InverseProperty to more than 2 of these classes.

[2019-05-16 17:50] ErikEJ commented on #15733
EF Core Power Tools can generate DbContext and POCO classes from your SSDT project...

[2019-05-16 17:54] hmdhasani commented on #1387
I have tested faibistes solutions and it worked for EF Core 2.1.
also I tired to set Observaciones as Owned Entity but I figured out that Owned Entities are included by default.
If we had an option for owned Entities to not be included by default and be in select part only when they are included, that would be a cleaner solution.

[2019-05-16 18:01] AndriySvyryd commented on #1387
@hmdhasani The solution @faibistes showed is [Table splitting](https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting), that's the recommended way to lazy load scalar properties.

Owned entities will always be eagerly loaded.

[2019-05-16 18:09] ajcvickers commented on #15403
## May 16, 2019

## Highlights from the last week

Some items of interest from the last week:

* Conventions that only validate and never change the model have been [moved to the `ModelValidator`](https://github.com/aspnet/EntityFrameworkCore/pull/15659)
* Further progress has been made on the new query code:
  * [Lifting of sub-queries](https://github.com/aspnet/EntityFrameworkCore/pull/15721) fo

[2019-05-16 18:39] 007souvikdas commented on #7540
if u are facing issue in Package manager console, try using dotnet cli with the following commands:
for add migration:=>dotnet ef migrations add MyFirstMigration
and for update database:=> dotnet ef database update, it worked for me

[2019-05-16 19:03] ajcvickers commented on #15732
@jzabroski Thanks for clarifying. I'll make this a discussion issue and rename it so it doesn't look like a feature request.

[2019-05-16 19:21] bricelam commented on #7540
Related issues: #14349 & #14781

[2019-05-16 19:44] ajcvickers commented on #15736
Note for triage: the issue here is that the builders are stashed away, then when they are later used for `HasData` they do not have valid state because the model has changed underneath.

@lugospod You can workaround this by using the builders where they are declared. For example:

[code]
Or more idiomatically:
[code]

[2019-05-16 19:52] PinpointTownes commented on #15498
So it's absolutely not a technical motivation - you could keep supporting .NET Standard 2.0 if you wanted to - but rather a deliberate business decision? (at least, that's the logical conclusion since you haven't mentioned any concrete point that would justify that from a technical POV).

I really hate to be that guy, but it's honestly sad to see that you haven't learnt from the past few years tha

[2019-05-16 20:26] ajcvickers commented on #15662
`ColumnModification` seems fine the way it is.

[2019-05-16 21:00] roji commented on #15704
Note from discussion: in the old pipeline it was possible have `FromSql()` anywhere in the query - ordering was ignored (e.g. a predicate specified before the `FromSql()` was rendered after it in the SQL query). We have decided to disallow this and make the following changes:
* Change FromSqlRaw() and FromSqlInterpolated() to be extension methods on DbSet instead of on IQueryable
* Leave the obsol

[2019-05-16 21:08] Muppets commented on #12132
This looks like a duplicate of #15037?

[2019-05-16 21:21] lugospod commented on #15736
Thank you very much for the workaround ... I lost quite a lot of time on this one :(

[2019-05-16 21:49] jbirrenkott opened #15741 "EF Core not saving to CosmosDB"
Describe what is not working as expected.
When trying to add an entity to CosmosDB using EF Core the changes are not saved to the database.

[code]

### Steps to reproduce
Run the following code.

[code]

### Further technical details
EF Core version: 3.0.0-preview5.19227.1
Database Provider: Microsoft.EntityFrameworkCore.Cosmos
Operating system: Windows 10

IDE: Visual Studio 2019 16.0.3

[2019-05-16 21:53] lugospod opened #15742 "Are multiple linq where clauses in EF CORE SQLite supported?"
I tried to find an issue that references this question, and also tried to google it... it look like it is not supported..
`var x = context.MyEntitites.AsNoTracking().Where(z => z.Id % 2 == 1) ;
 x.Where(z => z.Id == 1);
 var result = x.ToList();`

The previous code doesn't add the ID == 1 to the query...it basically ignores all of the where statements after the first...
tnx!

[2019-05-16 22:03] smitpatel commented on #15742
When you do `x.Where(z => z.Id == 1)` it creates new expression tree but you are not storing it. You are using the old `x.ToList()` hence you are not seeing predicate because it is not in expression tree.
Whenever you chain anything on queryable you need to save that new queryable object to actually use it.

[2019-05-16 22:24] maumar opened #15743 "Query: join on complex boolean key selectors with Relational nulls returns (arguably) incorrect results on SqlServer"
query:

cs
[code]

in this scenario, if relational nulls are on I would expect entities whose Name is NULL to not be matched by a join. This is because join equals doesn't match nulls.

However currently the join predicate needs to be a search condition like so:

[code]

in this form CASE statements only returns true and false, so nulls will match.

We should be producing case statements that take

[2019-05-16 23:44] divega opened #15744 "Considering statically restricting Include to be specified in the query root"
Today we decided to try restricting `FromSqlRaw` and `FromSqlInterpolated` to only apply to `DbSet<T>`.

Later @roji, @maumar and @smitpatel and I had a chat  about doing something similar with `Include` (although probably force any `FromSql` to happen before `Include`). The arguments were inconclusive. Creating this issue so that other can weigh in.

We know that restricting `Include` to modify t

[2019-05-17 01:09] poke commented on #15498
I honestly don't get how the announced future of .NET, a version 5 that releases in 2020, has any effect on Entity Framework Core 3.0. If there are no real technical reasons, you could easily stick to netstandard2.0 and upgrade to 2.1 _later_ when you actually see a _real reason_ to require new things.

This really feels like ASP.NET Core 2.0 again. And I'm really disappointed that you don't try h

[2019-05-17 02:19] StrangeWill commented on #15733
Yep, it just requires us to do double up/change a lot of our process:

- Application cannot manage it's own database state, we need to add new processes both for dev (create new SSDT changes, re-import new context/POCOs), and our CI process (removing our ability to build on Linux).
- SSDT tools now need to be deployed on everyone's machines (we have some devs that are 100% Linux now being as that

[2019-05-17 07:22] shravan2x opened #15746 "Supporting TableAttribute on properties"
Currently, attempting to use EF's `[Table]` atrribute on a `DbSet` property complains with an error `Attribute 'Table' is not valid on this declaration type. It is only valid on 'class' declarations.`. I created this issue to ask whether it could be updated to work on properties as well, and if not, to understand why the decision was made. I was unable to find a satisfactory answer via a Google se

[2019-05-17 07:26] shravan2x commented on #15746
It seems other users have also looked for a similar solution in the past:
https://github.com/aspnet/EntityFrameworkCore/issues/7299
https://github.com/aspnet/EntityFrameworkCore/issues/7418
https://github.com/aspnet/EntityFrameworkCore/issues/10272

[2019-05-17 10:09] hmdhasani commented on #1387
Ok, anyway the downside of using table split is adding an unnecessary complexity to data model that can be a high cost for big data models.
It would be more simple if we can do something like these:

[code]
And
[code]

I wonder is there currently any way to do this? ( maybe by somehow interposition or manipulation of query generation process )

[2019-05-17 10:24] alan994 commented on #14906
@ajcvickers  Any update on this?

[2019-05-17 10:42] popcatalin81 commented on #15407
Please consider fixing #7089 for breaking changes. This was one of the most controversial features of EF core needs revisiting. Needing to have a nullable boolean (tristate), where only two values are needed at the application level is not ideal.

[2019-05-17 11:08] ErikEJ commented on #15733
Fwiw, you can run sqlpackage on Linux

[2019-05-17 12:29] Enngage commented on #14467
I've experienced this issue when going from .NET Core 2.2 to 3-preview5 and it was caused by the fact I had abstract Entity class that contained `[Required]` attribute on `nullable `property. I would assume that same thing can happen if you configure required property via fluent API.

.Net Core 2.2 didn't seem to care and it worked perfectly fine, but the correct behavior is the one implemented in

[2019-05-17 13:10] angieleba commented on #11781
@ajcvickers  Hello...is there any workaround for EFCore 2.1? I am forced from my project dependencies to use that version but this issue is giving me problems. Thanks

[2019-05-17 13:19] DarkGraySun commented on #9339
I got the code running with EF 2.2.4. The code generates the migration code, but how do I get it integrated (compiled) at runtime?

[2019-05-17 13:21] freerider7777 commented on #15723
Thanks! Just what I was looking for.

[2019-05-17 13:57] jacqueskang commented on #12911
We are having this issue too and it would be nice to have it fixed for 2.x too

[2019-05-17 14:02] mitchelsellers commented on #12911
For those using Azure DevOps, we did release a set of .NET Core Pipeline tasks.  A temporary workaround for this issue is included as an option in our tasks that script the migrations (https://marketplace.visualstudio.com/items?itemName=iowacomputergurus.dotnetcore-pipeline-tasks)

Just a workaround until this can be truly fixed

[2019-05-17 15:03] ajcvickers commented on #14906
@alan994 We working on it, but it's not quite ready yet. Hopefully it will make preview 6. More realistically, preview 7.

[2019-05-17 15:30] ajcvickers commented on #15407
@popcatalin81 We plan to support the pattern shown in #15182. This allows two values to be used at the application level, while still allowing the store-generated value to be used when no value was explicitly set. I believe all other cases are covered by appropriate configuration. (That is, either not configuring a store-generated value, or configuring it only for migrations and not using at updat

[2019-05-17 16:15] ajcvickers commented on #15746
@shravan2x Allowing `[Table]` on a `DbSet` property is certainly an interesting idea. However, it's quite a deviation from how the attribute was intended to be used, and would be an outlier in behavior if this was allowed. Also, `TableAttribute` is not defined by EF Core, but instead comes from the `Microsoft.ComponentModel.Annotations` package. There is a pretty high bar for making changes to tho

[2019-05-17 16:21] lesscodetxm commented on #14738
Update: Going on more than a week now and the changes to our join queries have not yielded any more open data reader errors. Even though we're unable to reproduce the problem in isolation, I still there's something going on with the canonical form of the query under heavy load.

[2019-05-17 16:24] ajcvickers commented on #12132
Thanks @Muppets. Closing this as a duplicate.

[2019-05-17 16:28] ajcvickers commented on #14738
@lesscodetxm Thanks for the additional information. I don't think there is currently anything actionable here for us, so I'll leave this issue closed. Also, there are extensive changes to query architecture for 3.0, so it may be that the underlying cause becomes irrelevant anyway.
/cc @smitpatel

[2019-05-17 16:32] ajcvickers commented on #15639
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-17 16:33] ajcvickers commented on #15643
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-17 16:39] ajcvickers commented on #15701
Note: research suggests we can use `<inheritdoc/>` here. It's not honored by Intellisense, but that doesn't matter her since these comments are not used by Intellisense.

We should also consider updating the API check to flag these.

[2019-05-17 17:09] ajcvickers commented on #14787
Triage: will discuss with @bricelam

[2019-05-17 17:16] ajcvickers commented on #15689
Triage: Follow up with @bricelam

[2019-05-17 17:17] ajcvickers commented on #15691
Triage: discuss with @bricelam

[2019-05-17 17:27] ajcvickers commented on #15707
@smitpatel to find duplicate

[2019-05-17 17:29] ajcvickers commented on #15714
Triage: discuss with @bricelam

[2019-05-17 17:35] ajcvickers commented on #15725
Triage: discuss with @bricelam

[2019-05-17 17:37] ajcvickers commented on #15730
@maumar to close as duplicate

[2019-05-17 18:27] ajcvickers commented on #15696
@AndersMalmgren Can you please post a small, runnable project/solution or complete code listing that reproduces the behavior you are seeing.

[2019-05-17 18:28] ajcvickers commented on #15700
@spottedmahn The workaround you show above is what we would recommend as a workaround for this issue, so we're not sure exactly what you mean by a "proper workaround"?

With regard to porting this fix to 2.1, the bar is very high and right now this issue does not meet that bar.

[2019-05-17 18:32] ajcvickers commented on #15744
Discussed in triage and decided not to do this for `Include`. While the benefits of leading people to a better understanding of `Include` are significant, we also think this kind of change would break a lot of existing queries. Also, sometimes the query can be more readable with `Include` not directly on the root, and we may choose in the future to support `Include` in places where it is not curre

[2019-05-17 20:24] bitrix1 commented on #15739
Error

[code]

I found this

[code]

Info
[code]
Help ;(

[2019-05-17 20:27] smitpatel commented on #15739
Delete the folder `C:\Users\Alex1\.dotnet` it seems corrupted.

[2019-05-17 20:30] smitpatel commented on #15707
Duplicate of #13192

@AlseinX - If you believe it is not duplicate then post a runnable project which demonstrate the issue.

[2019-05-17 20:30] AndriySvyryd commented on #15736
Note to implementor: We should throw a better exception when the builder is stale. Related to https://github.com/aspnet/EntityFrameworkCore/issues/11108.

[2019-05-17 20:37] ajcvickers opened #15748 "Consider allowing table mapping by attribute on the `DbSet`"
In #15746 is is suggested that we allow `TableAttribute` on `DbSet` properties. Using `Table` for this is problematic as described there, but we could allow another attribute to be used for this.

Also, we should consider this along with #15241 which is also about attributing the `DbSet` property for a similar reason.

[2019-05-17 20:37] ajcvickers commented on #15241
See also #15748

[2019-05-17 20:38] ajcvickers commented on #15746
Discussed in triage ans while we decided not to use `TableAttribute` for this, we would consider a new attribute for this.

[2019-05-17 20:50] spottedmahn commented on #15700
Copy that.  Thanks for your response! 😊

Gotcha.  Wonder what is the LTS bar?  Wonder if that is documented anywhere? 🤔

[2019-05-17 20:53] bitrix1 commented on #15739
Remove  `C:\Users\Alex1\.dotnet` and install.
[code]
Error.

[2019-05-17 21:07] smitpatel commented on #15739
Duplicate of #15448

[2019-05-17 21:25] ajcvickers commented on #15671
See https://github.com/aspnet/EntityFrameworkCore/pull/15699#issuecomment-493603778 for an additional workaround and some more comments on this feature.

Also, see #245 for the overall stored-proc mapping feature

[2019-05-17 23:24] bdebaere commented on #15671
@ajcvickers Thank you very much for your response. Unfortunately I cannot use FromSql as, unless I'm mistaken, this doesn't function well together with IQueryable.

[2019-05-18 10:07] John0King commented on #15279
Will `GroupBy` with `Sum` and conditions be supported by EF Core 3.0 ?
[code]

[2019-05-18 15:45] bricelam opened #15749 "macOS Test Failures"
It looks like a few failures have slipped through on macOS. These test suites terminate early (no errors logged):

- Microsoft.EntityFrameworkCore.CrossStore.FunctionalTests
- Microsoft.EntityFrameworkCore.Sqlite.FunctionalTests

We should investigate further.

[2019-05-18 15:50] bricelam commented on #15749
[code]
[code]

[2019-05-18 21:15] roji opened #15750 "QueryRewrite: parameter support for FromSql()"
Basic FromSql() support is implemented in #15704, but parameter support was left for later to review how to best do this.

[2019-05-18 21:15] roji commented on #15704
Note: splitting out parameter support to #15750 as discussed with @smitpatel

[2019-05-18 22:50] roji opened #15751 "QueryRewrite: materializer doesn't intercept reader exceptions"
In the old pipeline we had `TypedRelationalValueBufferFactoryFactory.ThrowReadValueException()` intercepting exceptions and throwing threw InvalidOperationException with more detailed messages (including entity name, property name, etc.). We should bring this back in the new pipeline.

Note: the old implementation always threw InvalidOperationException, including for InvalidCastExceptions coming o

[2019-05-18 23:08] smitpatel commented on #15751
Throwing any exception in new pipeline is not implemented yet.

https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore.Relational/Query/Pipeline/RelationalShapedQueryCompilingExpressionVisitor.cs#L373-L400

[2019-05-18 23:15] roji commented on #15751
OK. Right now SqlException bubbles up from SqlClient which seems fine. Am not sure this is totally critical for 3.0, we can discuss - I'll update with tests that depend on this as I see them.

[2019-05-19 04:36] sdanyliv commented on #15748
Looks nice, but there are another real case scenario which is not covered by this feature:
Tables may contain archived data splitted by years
[code]
So, based on year you have to change table name.
What is more flexible is to change table name in linq chain
[code]

[2019-05-19 06:08] smitpatel commented on #15751
Disable those tests with TaskList#24

[2019-05-19 09:12] hnviradiya opened #15753 "Map to customized (dynamically generated but with same structure) tables entity framework core"
Can't there be a mapping of multiple tables (dynamically N tables) to same class.

I have multiple tables generated at runtime. I want to query them. What is a solution to this?

Cant create classes. As tables are generated at runtime.

E.g. table_1, table_2. table_3, ...table_N should map to "table" class. To which I should be able to provide parameter that which table to query on.

Currently onm

[2019-05-19 11:03] roji commented on #15751
OK, as I've already opened this issue we can use it to track? Added reference from task list.

[2019-05-19 14:58] greendimka commented on #6812
If it is still relevant, here is the solution: use Dapper.

[2019-05-19 16:00] smitpatel commented on #15750
Also
- FromSql with stored proc
  - Remapping the columns

[2019-05-19 17:58] kingmotley commented on #6812
The DbQuery feature (and dapper) both work well if you have a static query that you need to run that needs to be filtered/paged, but if your query requires dynamic changes, then those don't work, or quickly become a maintenance problem.   After all, you can always just run your query using a DbCommand/DbDataReader, and instantiate and populate your own classes, but that assumes that the person who

[2019-05-20 00:27] qazq opened #15754 "How to query from a linked server?"
Hi,
In the `TableAttribute` only included `Name` and `Schema`. How can I set the linked server's name? Thanks.

[2019-05-20 04:01] majidmadadi opened #15755 "EF does not log commands"
I'm using EF core v3.0 preview and have the following context:
[code]
but ef does not log commands sent to the db.

[2019-05-20 06:05] optiks commented on #13860
Hmm, the workaround is kinda messy. It seems every other workaround gets optimised out. e.g.
- `new { Year = b.Year as int? }.Year`
- `new Workaround13860<int?> { Value = b.Year as int? }.Value`

This means we need to map into the wrapper `Workaround13860<T>`, then project again.

[code]

[2019-05-20 07:36] AndersMalmgren commented on #15696
Interesting. the error has gone away without any change. I will reopen if I can repro again.,

[2019-05-20 07:43] KLuuKer commented on #15670
And now i'm blocked from upgrading to EF Core 3.0 #https://github.com/scottksmith95/LINQKit/issues/95

Official support for the feature i meantioned above would remove my dependency on LINQKit (I really like the library but built in support would be better of course :smile: )

[2019-05-20 07:46] avk2k commented on #14093
This happens because in the runtime enviroment `dependencyContext.Default` is not null. And in source code `src/EFCore.Sqlite.Core/Infrastructure/SpatialiteLoader.cs` in method `FindExtension()` local variable `hasDependencyContext` set `true`. So line `var rids = DependencyContext.Default.RuntimeGraph.First(g => g.Runtime == rid).Fallbacks.ToList();` rising error (Sequence contains no matching el

[2019-05-20 11:47] Ultronvision opened #15756 "EF 2.1.8-servicing-32085 migration problem for postgresql with dotnet core 2.1"
I am using EF with Npgsql, the initial creation of the database was fine as I use add-migration and update-database commands from Package manager console. After passing some time, I feel the need to add one more column in one of the tables. Now after updating the class model, the add-migration gives me the following errors.

Add-Migration gwgsldbUpdates
The EF Core tools version '2.1.4-rtm-31024'

[2019-05-20 12:34] alexk8 commented on #10918
I've found this issue, because I've run into a bit similar problem.
I've turned on verbose mode and I've got lots of messages:
 _[DBG] The foreign key properties haven't been configured by convention because the best match {'Id' : int} are incompatible with the current principal key {'Id' : string}. ...'_.
The problem is that I do not understand what entities are involved there, I can only guess t

[2019-05-20 13:17] goetae opened #15757 "Add list of nested owned types"
I cannot add an entity with list of nested owned types. After calling "Add", the inner owned type is set to null, resulting in obvious errors

[code]

For testing, I replaced the list with a single item reference and the nested owned type worked perfectly.

Do I miss some required EF configuration?

Simplified example project:

[code]

[2019-05-20 13:38] DarkGraySun commented on #9339
Ok found a solution.
1. Compile the code with roslyn
2. Set the migration assembly in the optionsbuilder

[2019-05-20 14:12] ajcvickers commented on #15671
@bdebaere Can you give some more details on what you mean by that?

[2019-05-20 14:32] ajcvickers commented on #15751
@smitpatel @roji This should only happen when "rich data logging" is enabled, right? Also, I'm not sure I agree with throwing different exception types. It makes it more difficult if people are trying to catch these exceptions in one place. (The inner exception should vary, of course, but I think the one we throw should be the same.)

[2019-05-20 14:58] ajcvickers commented on #15756
@Ultronvision Please post a small, runnable project/solution that reproduces the behavior you are seeing.

[2019-05-20 15:02] ajcvickers commented on #15755
@majidmadadi You may be running into [this breaking change](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#query-execution-is-logged-at-debug-level). (We decided in a recent API review that we are going to revert this break, but the work hasn't been done yet.)

If this isn't it, then please file a small, runnable project/solution or complete code listing that dem

[2019-05-20 15:10] ajcvickers commented on #15753
@hnviradiya Can you explain a bit more how you would use this kind mapping? For example, what would be the code you would write for a query against "table_3"? Also, would all tables have the same columns? If not, how would this be handled? (I'm asking these questions to try to distill down to what EF would need to support for this to work.)

[2019-05-20 15:13] ajcvickers commented on #11781
@angieleba There are several workarounds discussed in the comments above. Have you tried these?

[2019-05-20 15:24] angieleba commented on #11781
@ajcvickers  Yes, commenting the paths, adding migration and than un-commenting to build, worked.

[2019-05-20 15:52] hnviradiya commented on #15753
All tables have same db structure (basically this is a partition of own implementation to handle large datasets).
I can write something like
dbcontext.DbSet<TableType>("TableName") which will map TableType to TableName mapping..???

isn't this possible?

[2019-05-20 16:05] ajcvickers commented on #15753
@hnviradiya So then what is the CLR type `Table` and how does it relate to this?

[2019-05-20 16:09] hnviradiya commented on #15753
Table is a model (not dbset, but model). because all tables have same structure we can use it in generic way?

[2019-05-20 16:12] ajcvickers commented on #15753
@hnviradiya Okay, so you do have a class that you want to map, you just want to dynamically change which table it maps to. Is this correct?

[2019-05-20 16:12] hnviradiya commented on #15753
yes :)

[2019-05-20 16:25] smitpatel commented on #13048
Looking at expression tree, it is not possible to handle reference to instance (or even properties) of enclosing class same way as other reference to local variables. We need to figure out a way to identify such references. In short term we can stop caching such tree.

cc: @roji

[2019-05-20 16:27] bricelam commented on #15689
Using `--verbose` will show a line like the following:

We don't show the full connection string because passwords.

[2019-05-20 16:44] bricelam commented on #15714
Currently, you have to use SQL.
[code]

If all the migrations are exactly the same between projects, you could also give them the same ID. This would ensure it was only applied once to the database.

[2019-05-20 16:47] bricelam commented on #15725
Duplicate of #2167?

[2019-05-20 16:49] ajcvickers opened #15758 "Consider building an EF Core provider for System.Data.SqlClient"
We're moving the default EF Core SQL Server provider to use Microsoft.Data.SqlClient--see #15636.

However, if there is demand, we could consider building the provider against System.Data.SqlClient and shipping this as a legacy package--similar to the CE 3.5 package we used to have on EF6.

The places in the code where we hard-reference SqlClient are minimal and could be made dynamic to make suppo

[2019-05-20 16:54] sdanyliv commented on #15753
Generating query for such tables is not a problem. But it also needs ChangeTracker extension point.
Also user may require Database and Linked Server support also. This is a typical situation for projects with a history when CodeFirst is not an option at all.

@hnviradiya, i suggest to tryout [this extension](https://github.com/linq2db/linq2db.EntityFrameworkCore#linq2dbentityframeworkcore)  :alien

[2019-05-20 17:13] daveaglick commented on #2167
Another related that we're looking at now and that might be handled in docs is running EF5/6 and EF Core side-by-side for a while.

We have a large app that we're looking to port bit by bit. The intent is to continue with our existing EF model as authoritative (I.e., the one with migrations) while using a duplicate EF Core model in a new app that points to the same database. Verifying model parity

[2019-05-20 17:39] ajcvickers commented on #15730
Pinging @maumar

[2019-05-20 17:40] AndriySvyryd opened #15759 "Improve FK convention warning"
Reported by @alexk8 in https://github.com/aspnet/EntityFrameworkCore/issues/10918#issuecomment-493968093:

I've found this issue, because I've run into a bit similar problem.
I've turned on verbose mode and I've got lots of messages:
[DBG] The foreign key properties haven't been configured by convention because the best match {'Id' : int} are incompatible with the current principal key {'Id' : str

[2019-05-20 18:04] bdebaere commented on #15671
@ajcvickers As far as I'm aware there is no way to include navigation properties, filter on them, select on them, et cetera.

[2019-05-20 18:08] hatami57 opened #15760 "Owned entities' values are reverted to detached entity, after changing the State to Modified!"
Suppose I have two entity types named `Product` and `ProductDetails`. `Product` owns `ProductDetails` entity type. First, I insert a product (says `product1`) to the database (`dbContext.Set<Product>().Add(product1);`) and then change the state of `product1` to `EntityState.Detached`. Afterwards I try to update the entity through a new entity instance but with the same key (`dbContext.Entry(produc

[2019-05-20 18:13] bricelam commented on #7681
I have a rough draft of this in [bricelam:commit](https://github.com/aspnet/EntityFrameworkCore/compare/master...bricelam:commit). Unfortunately, I have a lot of other EF Core 3.0 and EF 6.3 work that I need to finish first.

[2019-05-20 18:20] divega opened #15762 "Migrations: Provide easy way to get script from latest applied on database to latest in the codebase"
This is what `Update-Database -Script` does by default in EF6 and it was very natural, but in EF Core, that isn't available, so you need to run other commands to find out that the latest applied is before you can pass that to `Script-Migration -From` argument.

See Twitter thread about this:

See <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Migrations in EF Core are a pa

[2019-05-20 18:20] roji opened #15763 ""collection selector was not NavigationExpansionExpression" when joining two FromSql()s"
Test FromSqlRaw_queryable_multiple_composed fails with the error "collection selector was not NavigationExpansionExpression" (check after #15752 is merged).

[2019-05-20 18:23] ajcvickers commented on #14580
Closing this for now as we don't plan to do anything specific for the module in the core EF package. However, we could revisit this in the future with enough feedback.

[2019-05-20 18:24] ajcvickers commented on #14787
After lengthy discussion on whether or not this would make the experience better we are going to punt for 3.0, and leave `ToView` obsoleted for now so we can still do whatever we decide in the future.

[2019-05-20 18:26] ajcvickers commented on #15685
Closing this as external since it seems there are no issues in the translation to SQL, just some confusion as to how SQL Server interprets these queries on a sphere.

[2019-05-20 18:27] ajcvickers commented on #15689
@ruimaciel Is the database name and server sufficient? Or is there other information in the connection string that would be useful?

[2019-05-20 18:31] ajcvickers commented on #15714
@bricelam I haven't been able to find the existing issue that you mentioned in triage.

[2019-05-20 18:32] hnviradiya commented on #15753
Great, that will work for me. Thanks :)

[2019-05-20 18:32] ajcvickers commented on #15754
This is likely a duplicate of #4019, but keeping it in the backlog for now in case there is something specific to linked servers that needs to be considered.

[2019-05-20 18:33] ajcvickers commented on #15753
This is essentially a duplicate of #15671

[2019-05-20 18:47] ajcvickers commented on #15671
@bdebaere The `IQueryable` returned from `FromSql` can be composed on in the same way as the IQueryable from `DbSet`. For example:
[code]
translates to
[code]

[2019-05-20 20:26] maumar commented on #15730
dupe of https://github.com/aspnet/EntityFrameworkCore/issues/15722

[2019-05-20 20:29] EduSikora commented on #15714
Thanks @bricelam.

We solved this issue similar to your answer..

Basically I created a method where the programmer will invoke as the last step of the migration Up and Down methods.

HandleUpLegacyTable and HandleDownLegacyTable as extensions of migrationBuilder which need a dbContext and a string or a list of strings with the legacy table names.

From the migrationBuilder, I get the Operations l

[2019-05-20 22:27] bricelam commented on #15762
I think we have a few open PRs (and/or items on the backlog) that would enable you to do something like this:

[code]

[2019-05-20 22:33] bricelam commented on #15714
@ajcvickers #15725 is the issue I was thinking of.

[2019-05-20 22:34] shravan2x commented on #15748
@sdanyliv I think the suggested method to deal with that problem in relational databases is to use a separate column called `year` and then just include it in any queries you write i.e. `SELECT * FROM goods WHERE year=1995`.

[2019-05-20 23:49] RickStrahl commented on #15762
Thanks for that  @bricelam - that's helpful!

But it sure would be nice to have that as something you don't have to remember like a `--pending` flag. I would even argue that this should be the default. The 90% use case is that you want to apply pending changes to the database.

Actually come to think of this I think  this behavior would be better provided with `update-database --script` just as it

[2019-05-21 02:24] orassr commented on #15739
I ended removing VS Preview and the new 3.0 SDK, restore and it works again.
@smitpatel I do have that folder and I also removed and installed the runtime and the SDK - same results :/

[2019-05-21 05:36] sdanyliv commented on #15748
@shravan2x, it is not suggested method it is how database designed to avoid table locks. And it is just sample. In real situation there are more complicated cases.

[2019-05-21 06:26] shravan2x commented on #15748
Oh that's interesting, I haven't encountered something like that before. Do you have any pointers to example use cases?

[2019-05-21 09:06] ruimaciel commented on #15689
@ajcvickers having access to the hostname and port number would already be very helpful.  Some database drivers also require connection parameters that would be nice to check (say, npgsql's username, database, [etc](https://www.npgsql.org/doc/connection-string-parameters.html)), but I'm sure this sort of corner case is hard to generalize.

[2019-05-21 10:23] blarsern commented on #15173
Just a follow up, we have a case going on with case id 119031526000920

So during analysis of the dumps they found a a huge amount of diagnostic listeners which where not released.

So if i send 500 requests to the test project locally and take a dump, i get this i VS:
![image](https://user-images.githubusercontent.com/48992118/58087463-e22c4480-7bc0-11e9-956c-416fb17a7641.png)

If i remove the db

[2019-05-21 11:05] Ultronvision commented on #15756
I can upload my project(Official) but I can try to explain once again, that might help you to get the point.
The main issue is, in backend the add-migration and update database works even I can make entries through the API, but the weired thing is that it creates the migration and pop up the same error. Besides the below error the code works(with above modifications).

An error occurred while acce

[2019-05-21 11:53] khuramshahzad commented on #14016
After lot of research and findings , i delete the already installed dotnet-ef (C:\Users\khurram\.dotnet\...) and install by using dotnet tool install --global dotnet-ef --version 3.0.0-* and it worked for me.

[2019-05-21 16:28] cmorgan091 commented on #2725
+1 this is key to DDD that implement a common context where there is a need for referential integrity from other contexts (multi-tenant or references to users or other common elements)

In EF6 we could hack this by implementing a CSharpMigrationCodeGenerator which overrode Generate commands to check the schema name and just return.  Have attempted this with a SqlServerMigrationsSqlGenerator in EF

[2019-05-21 17:36] JRBonnema commented on #6872
I tried to test this issue using 3.0.0 preview5 but I ran into the issue described in https://github.com/aspnet/EntityFrameworkCore/issues/14906 (Could not load type 'System.Collections.Generic.IAsyncEnumerable'1' from assembly 'System.Interactive.Async, Version=4.0.0.0), so in my case testing was not possible.

[2019-05-21 18:34] jzabroski commented on #15732
@ajcvickers Some quick thoughts based on https://www.snowflake.com/blog/breaking-the-dev-test-deployment-dollars-cycle/

- Snowflake supports zero-copy clones, which would in theory allow any code-first migrations to roll-back as part of `EnsureCreated();` - either the database migrations are in a valid state or they're not.  In theory we could snapshot the production schema, perform a test of sch

[2019-05-21 20:38] WhitWaldo opened #15766 "Failing to create migration because of entity not used in DbContext or DbSets"
Describe what is not working as expected.

I'm attempting to create a new migration in a C# solution in which I have three different contexts. Each context is in its own project but they all point to a shared domain project.

My migration is consistently failing because of the exception provided later in this ticket. The issue here is that I am 100% certain that the referenced entity isn't used an

[2019-05-21 20:46] WhitWaldo commented on #15766
A relevant follow-up here. I've dug through the old migrations and this context has never before referenced this many-to-many entity historically nor either of the entities it's joining. So, why it's picking today to complain about it is beyond me.

[2019-05-21 21:14] WhitWaldo commented on #15766
If I add the following to my context, the migration works:

modelBuilder.Entity<EntityAToEntityB>().HasKey(a => new {a.EntityAId, a.EntityBId});

However, it also brings in just about the entire entity schema from the other context which is obviously not desirable.

That said, I've now gone through and identified the issue. I'm guessing that convention is playing a role here in that I've got a pro

[2019-05-21 21:41] MaxG117 commented on #10513
I need this fixed -- the private fields `_typeMapping` (already mentioned in #9143) and `_valueConverterWarningsEnabled` are used in multiple public virtual methods in `DefaultQuerySqlGenerator`. If I only need to override some of these virtual methods, I lose the benefit of these private fields, and the only solution is to override ALL the virtual methods that use these private fields These priva

[2019-05-21 22:20] maumar commented on #15363
member pushdown part is fixed - scenario works when projecting a single scalar. We still need to fix materialization for case where entire entity is projected. Assigning to @smitpatel

[2019-05-21 23:14] davidfowl commented on #15173
Do you get this leak if you turn of intellitrace in visual studio?

[2019-05-22 00:56] maumar commented on #15720
fixed in 8de54ecc1f4d5c849e7cc2496480afd0a6e97523

[2019-05-22 00:56] #15720 closed

[2019-05-22 02:11] maumar commented on #13900
This works in the new pipeline. We simplify the intermediate projection and access the properties directly. Also entity we convert the `x.LastOrder != null` to key equality.

equivalent query on northwind:

[code]

produces the following sql:

[code]

[2019-05-22 04:24] roji commented on #15173
@blarsern thanks for the added info, can you confirm whether the leak info also occurs only in one specific Azure app plan as mentioned in https://github.com/aspnet/EntityFrameworkCore/issues/15173#issuecomment-477627943?

[2019-05-22 06:27] pfdsilva opened #15772 "RevEng: Missing HasColumnType fluent API for NCHAR column"
Hi,

While reverse engineering a database schema to generate the entity type classes and a DbContext class, we are noticing that the HasColumnType fluent API is not getting generated for NCHAR column in the DbContext class.

Please note, no exceptions are noticed.

[code]

### Steps to reproduce

1. Create a table in SQL Server database that contains NCHAR column:

[code]

2. Scaffold this databas

[2019-05-22 08:27] superdopey commented on #1100
` public static IGeometry ProjectTo(this IGeometry geometry, int srid)
        {
            var geometryFactory = _geometryServices.CreateGeometryFactory(srid);
            var transformation = _coordinateSystemServices.CreateTransformation(geometry.SRID, srid);

            return GeometryTransform.TransformGeometry(
                geometryFactory,
                geometry,
                tran

[2019-05-22 09:19] superdopey commented on #1100
Nevermind I was missing the  NetTopologySuite nuget package

[2019-05-22 09:32] sshukurov opened #15773 "ValueConverter on inherited entity field gets ignored when field is retrieved via cast in projection"
I took an example with blogs from https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance and extended it:
[code]
Now attempt the following query:
[code]
The query gets executed successfully, but the value conversion does not take place for the property RssUrl.

I am currently using the following query as a workaround:
[code]

### Further technical details
Dotnet Core SDK 2.2.104

[2019-05-22 10:02] kedarchinchvalkar commented on #15636
Waiting for Microsoft.Data.SqlClient to be integrated in preview of Microsoft.Entity.SqlServer. Currently its using System.Data.SqlClient as dependency.

Badly needed it to take advantage of column encryption feature of SQL Server 2016 in .net core project using entity core.

[2019-05-22 10:07] ErikEJ commented on #15636
@kedarchinchvalkar @Tim-Bijnens You can use the new client with EF Core 2.x as described here: https://github.com/dotnet/SqlClient/issues/11#issuecomment-493091283

[2019-05-22 10:51] blarsern commented on #15173
@davidfowl
If i turn off intellitrace 5 of the objects disappears, but diagnostic listener remains:
![image](https://user-images.githubusercontent.com/48992118/58158694-34ca3700-7c7b-11e9-84f7-3c485f643cdc.png)

And thank you for suggesting this because:
I recently installed a new VM with: Windows Server 2019 / SQL 2019 / VS 2019
And i got severe performance issues with my load tester app.
In the

[2019-05-22 15:04] ajcvickers commented on #15173
@blarsern This could be related to how logging is configured with EF. Do you have any calls to `UseLoggerFactory` in your code? Do you create any `DiagnosticListener` instances in your code?

[2019-05-22 15:24] ajcvickers commented on #15766
@WhitWaldo It certainly should not be the case that having a property named `EntityDId` will cause an `EntityD` type to be discovered. Would it be possible for you to post a runnable project/solution that demonstrates this behavior so that we can investigate further?

[2019-05-22 16:14] WhitWaldo commented on #15766
@ajcvickers I'll see if I can't reproduce it in a more succinct solution as I've got time.

[2019-05-22 16:39] WhitWaldo commented on #15766
@ajcvickers While recreating a solution here, I did find an EntityD that was hiding in one of the entities. I'd commented out that class while working through a solution to the migration issue, so the [NotMapped] ultimately didn't actually do the trick - commenting out the class with the offending property actually resolved this.

[2019-05-22 16:43] ajcvickers commented on #15766
@WhitWaldo Thanks for checking.

[2019-05-22 17:24] WhitWaldo opened #15776 "Feature request: Create SQL database within existing Azure SQL Elastic Pool"
If the database doesn't exist for a given connection string, I can use Database.Migrate() to create the database and commit the migrations to it. However, this functionality doesn't yet support creating the database to exist within an existing elastic pool and this will instead result in creating a single S0 database on the SQL server that isn't attached to the pool.

The [documentation](https://d

[2019-05-22 17:43] blarsern commented on #15173
@ajcvickers
If you look at the test project, it is just std logging. No diagnostic listener.

And my post from yesterday shows code that was supposed to turn off logging completely.

[2019-05-22 17:46] polkduran commented on #14429
Is there an option to disable code generation (emit)?
I don’t know if it’s even possible to EF to work without but I get randomly this problem and the main problem is that the corresponding query is not functional once it has encountered this exception and thus the app may be unrecoverable.
I’m working on Xamarin Android targeting versions 6+

[2019-05-22 18:17] ajcvickers commented on #15173
@blarsern Is the link above ([GutHub MemTestRepo](https://github.com/larserikfinholt/WebAppMemTest)) still the code to repro the Listener leak?

[2019-05-22 18:30] blarsern commented on #15173
@ajcvickers Yes

[2019-05-22 19:30] henrikdahl8240 opened #15777 "EF 6.3 FINALLY FIXES: Object ... has been disconnected or does not exist at the server."
For a range of years, there has been countless complaints, that EF throws: "Object ... has been disconnected or does not exist at the server." when you run various migration commands.

It appears in many of these e-mails that the reason is, that there has been no willingness to salary a developer for the few minutes it would take to remove the timeout when marshalling to another AppDomain, which t

[2019-05-22 20:03] maumar opened #15778 "Query: null semantics visitor incorrectly classifies subquery returning single scalar value as non-nullable"
This yields incorrect results for cases where such a scalar subquery is compared to null (or other scalar subquery) like:

[code]

[2019-05-22 20:19] ajcvickers commented on #12285
Bringing this back to 3.90 since it's closely related to the underlying issue of #15214. Specifically, we should make the exception serializable, but then disable serialization of the actual entity entries.

[2019-05-22 20:21] ajcvickers commented on #15214
Closing this as external since fixing this requires changes to Serilog.Exceptions, as described above. However, see #15779 for a closely related fix.

[2019-05-22 20:56] #15715 closed

[2019-05-22 20:56] #15716 closed

[2019-05-22 20:56] #15719 closed

[2019-05-22 21:03] smitpatel commented on #12285
Version 3.90 :trollface:

[2019-05-22 21:04] bricelam commented on #15662
(updated with 2nd pass)

[2019-05-22 21:23] bricelam commented on #1100
@superdopey Re-opened aspnet/EntityFramework.Docs#1260

[2019-05-22 22:24] #12285 closed

[2019-05-22 23:13] roji commented on #15718
Abortive attempt in #15774, defer this until GroupBy is fully fleshed out.

[2019-05-22 23:40] Gary-Zh commented on #15333
Hi @divega , it's been a while since we last time running EFCore tests.
So I've tried to increase the core number to 6 this time, same thing happens, please see the pictures below:
![EFCore_Test1](https://user-images.githubusercontent.com/45860872/58215738-34985e80-7cb0-11e9-9ec6-8c0616b864c1.PNG)
![EFCore_Test2](https://user-images.githubusercontent.com/45860872/58215739-34985e80-7cb0-11e9-98c6-f

[2019-05-22 23:40] Gary-Zh commented on #15333
Can we re-open this issue and investigate more?

[2019-05-23 00:00] SidShetye commented on #626
Hi Arthur and Diego - can we raise the priority of the lifecycle hooks? The community demand has been very strong (30+ participants, 50+ thumbs, over 5+ years) but this item has been waiting (waiting, waiting ...) in the queue to be punted across every release. I understand the team has a challenging schedule but perhaps a swap/re-prioritization against another issue/feature would help get this lo

[2019-05-23 00:49] smitpatel opened #15783 "[Query] Include should be wrapped around only the first parameter"
[code]

There are 2 `IncludeExpression` and both of them are different object so cannot dedupe them easily either. We tend to avoid materialization twice. Doing include twice on same object is even worse.

[2019-05-23 06:24] dongshengfengniaowu opened #15784 "Microsoft.EntityFrameworkCore.Cosmos 3.0.0-preview5.19227.1 Cause Memory leak"
using (DeviceCosmosDbContext deviceCosmosDbContext = new DeviceCosmosDbContext(cosmosDataOptions, loggerFactory))
   {
     Query---
   }
, repeat 30000 times, the Memory keep growing .

![image](https://user-images.githubusercontent.com/39110620/58230250-62d87580-7d66-11e9-8824-37cf7f383e04.png)

[2019-05-23 07:14] TanvirArjel opened #15785 "Custom Migrations History Table does not work from `ConfigureServices()` method"
[Custom Migrations History Table](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/history-table#schema-and-table-name) document says that:

But it does not work from `ConfigureServices()` method in Startup class. It only works from `OnConfiguring()`. Please take a look on it!

What I have tried is:

            services.AddDbContext<TanvirArjelDbContext>(options =>

[2019-05-23 07:38] anton-beetroot-23071996 commented on #14906
@ajcvickers Hi) Is there exist any non-closed issue for this (or maybe PR), to track on its status ?

[2019-05-23 07:51] Tbd19 opened #15786 "Using InMemoryDatabase and InternalServiceProvider the changes are not saved"
I am using in-memory database to test my application and everything was working. However now I have a request to implement audit trail and I want to inject a service in order to do this. Because the DbContext can not have a constructor where the service is injected I have to use GetService to retrieve the dependency.

The in-memory database is constructed like this:

[code]
If I do not use the Int

[2019-05-23 10:40] roji commented on #15333
@Gary-Zh the problem is that this occurs neither in our continuous builds (which run all the time), nor on my personal build machine. So whatever issue you're running into seems to be somehow tied to your specific environment...

Any chance you could try on a physical Linux box (non-VM) and report?

[2019-05-23 11:00] nphmuller opened #15787 "dotnet-ef: Consider showing output that the project is building"
My project takes a while to build. When running `dotnet ef` commands like `dotnet ef migrations add MyMigration` the project often gets build first. At the stage when the project starts building `dotnet ef` has not written any output to the console yet, and it will not write anything to the console until the build has finished. I know that I can see the build output via `-v` or `--verbose`, but it

[2019-05-23 16:40] MPasadu opened #15788 "Testing with InMemory and DI (No ASP.Net)"
I think this issue is related to: https://github.com/aspnet/EntityFrameworkCore/issues/4988

I am trying to create a integration/acceptance test that writes into the inMemory db and then reads it.

But when using:

`serviceCollection.AddDbContext<ServiceContext>(options => options.UseInMemoryDatabase("Service"), ServiceLifetime.Transient);`

and then writing:

[code]

[code]

The second context is

[2019-05-23 18:01] kpejr commented on #14194
Is there a trick to getting this to work?  Latest preview I get the key required message.

[2019-05-23 18:20] Demimos commented on #12752
Same issue on my Notebook, but i dont have it on my PC, using same code. How can it be?

[2019-05-23 19:05] kpejr commented on #14194
@AndriySvyryd Thanks, missed that working great now.

[2019-05-23 21:33] #15064 closed

[2019-05-23 21:35] smitpatel commented on #15064
Tracking is inbuilt in materialization. Reference include merged. Collection include work is tracked by #15611

[2019-05-23 21:46] bricelam commented on #15777
To which timeout are you referring? Would you mind submitting a PR?

[2019-05-23 21:51] bricelam commented on #15787
I have an [old branch](https://github.com/aspnet/EntityFrameworkCore/compare/master...bricelam:respond) with this change I've been meaning to get back to...

[2019-05-23 21:57] nphmuller commented on #15787
Looks perfect! :)

[2019-05-23 22:33] bricelam commented on #15787
#12049 is also about making sure we’re not doing anything that slows it down.

[2019-05-23 23:16] AlansButler commented on #9339
[code]

[2019-05-23 23:36] smitpatel commented on #15750
Implementation notes:
- FromSql args are always going to be of type `object[]`. It is parameter for implicit query compilation and constant for compiled queries.
- Most of the processing would remain similar to what we had in DefaultQuerySqlGen. NewArrayInit is not possible anymore so that piece of code can be removed.
- object[] can contain any type of value or DbParameters. This require us to ha

[2019-05-24 00:00] maumar opened #15790 "Query: handle ToList/ToArray in nav rewrite and consolidate it with MaterializeCollectionNavigation"
Currently when materializing "naked" collection, nav expansion gathers metadata about the collection type and creates a MaterializeCollectionNavigation call to keep the types consistent.

We should also handle ToList/ToArray and don't create a MaterializeCollectionNavigation call, but rather create expression that will hold the necessary metdata, so that it can all be properly materialized later i

[2019-05-24 09:16] roji commented on #15750
@smitpatel sure - am much less clear on the shaper side of things but will ask you for help as needed.

[2019-05-24 09:21] iokill opened #15794 "Added entities are not detected/inserted when reloading entity"
Hi!

I ran into a strange issue with EF Core 2.1 (I'm stuck on 2.1 for now):

I have a 3-level model hierarchy:

[code]
If I update a `Level2` entity by modifying its `Children` collection through adding new entries and updating existing ones, `SaveChanges()` properly detects these changes and persists them.

If I however, before calling `SaveChanges()`, load the parent `Level1` entity with relate

[2019-05-24 11:11] vikumarsing commented on #6010
=>In Context File
public DbQuery<Products> Products{ get; set; }

var productList = context.Products.FromSql("SELECT * FROM MyTVF({0}), argument).ToList();

[2019-05-24 13:33] hmdhasani commented on #1387
After trying some approaches I ended up with this workaround:
The base idea is to turn for example this query:
[code]
into this:
[code]
by overriding DefaultQuerySqlGenerator.GenerateList()
when the query is like this:
[code]

I added AsNoTracking() to become sure the value of ignored column will not change.

here is the full code: ( most parts were taken from https://www.chasingdevops.com/sql-gen

[2019-05-24 16:35] ajcvickers commented on #15403
## May 23, 2019

## Highlights from the last week

Some items of interest from the last week:

* Further progress has been made on the new query code:
  * Support for [C# null semantics](https://github.com/aspnet/EntityFrameworkCore/pull/15745) has been merged
  * Various other fixes and cleanup to the query code have also been merged
* We have [updated EF `Exception` classes](https://github.com/a

[2019-05-24 16:40] ajcvickers commented on #15794
@iokill This is expected behavior. Since the query is executed by the database, it will only return entities that exist in the database. Entities that have not yet been saved can be accessed using `DbSet.Local` or `context.ChangeTracker.Entries()`.

[2019-05-24 17:15] ajcvickers commented on #15788
@MPasadu This is likely due to the way the `DbContext` is being configured. Can you post the code you have that calls `AddDbContext` and/or is in `OnConfiguring`.

[2019-05-24 17:25] ajcvickers commented on #15786
@Tbd19 A couple of things. First, `DbContext` can have services injected into its constructor in the normal way. I'm curious to understand why you're not finding this to be the case.

Second, that being said, it's still not clear to me why this means you have to call `UseInternalServiceProvider`. Can you give some details on why you are calling this?

[2019-05-24 17:28] ajcvickers commented on #14906
@anton-beetroot-23071996 It will happen as part of #15498

[2019-05-24 17:31] ajcvickers commented on #626
@SidShetye Unfortunately, at this point there isn't anything that can be bumped to give this a higher priority.

[2019-05-24 17:40] mhosman commented on #10770
This could be a great feature!

[2019-05-24 18:12] Tbd19 commented on #15786
I can not use the constructor to inject the service because I am using code first and every time I am trying to add a new migration I get an exception.
How can I over come this?

[2019-05-24 18:16] AndriySvyryd opened #15796 "QueryRewrite: re-enable ApiConsistency tests"

[2019-05-24 18:23] manish2535 opened #15797 "Question regarding use of Microsoft.Data.Sqlite"
I am using the Microsoft.Data.Sqlite nuget package on my project. I just noticed that the github page says its been archived and moved to EntityFrameworkCore.

Can anyone tell me what this means for people using Microsoft.Data.Sqlite package by answering these questions?

**1**. Can I continue using Microsoft.Data.Sqlite?

**2**. If yes, will it continue receiving updates and development?

**3**.

[2019-05-24 19:24] #15636 closed

[2019-05-24 20:52] bricelam commented on #15797
We just combined a few repos. See https://github.com/aspnet/Announcements/issues/320. Microsoft.Data.Sqlite is otherwise unaffected. Issues are tracked here with the [area-adonet-sqlite](https://github.com/aspnet/EntityFrameworkCore/issues?q=label%3A%22area-adonet-sqlite%22+is%3Aopen) label. In fact, there are already several [resolved issues](https://github.com/aspnet/EntityFrameworkCore/issues?q

[2019-05-24 21:59] lajones commented on #15403
:shipit:

[2019-05-24 22:02] maumar opened #15798 "Query: chaining multiple collection navigations followed by FirstOrDefault returns incorrect results"
query:

cs
[code]

we translate this to:

[code]

Now, because we apply c# semantics to the comparison, when od.InverseId is NULL and the orders subquery is null, we match this to true and return the associated order detail. This is not expected - we should filter out elements where null == null (i.e. simulate database null semantics for this specific case)

[2019-05-24 22:38] maumar commented on #15778
fixed in ca37ebe190e2a480764c46aa96451a5c67396bc2

[2019-05-24 22:38] #15778 closed

[2019-05-25 00:14] smitpatel opened #15799 "Query: Index property support"

[2019-05-25 03:47] MelbourneDeveloper opened #15802 "Can't Disable Lazy Loading"
### Describe what is not working as expected.

This should turn lazy loading off, but it doesn't:

[code]

What makes this problem so much worse is that there seems to be no IncludeAll method in EF core.

### Steps to reproduce

Download this sample and run it:
https://www.dropbox.com/s/mimvgvcmibr7em2/EFSQLiteTest.7z?dl=0

- Notice that it creates a Person with an Address (BillingAddress).
- You

[2019-05-25 08:52] lugospod opened #15803 "EF is using inner join instead of left join"
**Problem:**
var data = context.Templates.Include(x => x.Parts).ToList();

This linq query generates the following SQL query:
_SELECT "x"."Id", "x"."Text" FROM "Templates" AS "x" ORDER BY "x"."Id"_

I except to get a left join to Parts table.

**Environment:**
EF Core 2.2.4, EF Core Sqlite 2.2.4, .NET CORE 2.2, VS 2019

**Reproducible example:**
[(https://github.com/lugospod/TestEfCoreBuggy)]

**D

[2019-05-25 16:50] AndrewBoklashko commented on #15802
Hi @MelbourneDeveloper

By default EF Core does not load related entities and `ChangeTracker.LazyLoadingEnabled` does not have any impact on that, it's only for configuring whether related entities will be lazy loaded or the default behaviour will apply.

#4851 has an explanation of why IncludeAll does not exist.
You should also consider to use owned typed https://docs.microsoft.com/en-us/ef/core/

[2019-05-25 21:22] smitpatel opened #15805 "Query: Remove duplicate columns in projection"

[2019-05-25 22:19] maumar commented on #15634
fixed in b28f9eeb06044fef37c656c61e9499ec7e21e7da

[2019-05-25 22:19] #15634 closed

[2019-05-25 22:29] smitpatel opened #15807 "Query: Casting in EF.Property"
[code]

[2019-05-25 22:36] roji commented on #15803
The current expected behavior here is for EF Core to generate *two* queries: one to get the blogs, and a second one to get the posts (joined with their blogs). Can you please double-check your SQL logs and confirm that you're seeing both queries?

Note that in Entity Framework Core 3.0 this behavior is changing, and a single join query will be generated instead.

[2019-05-25 23:54] smitpatel opened #15808 "Query: Optimize discriminator predicates in select expression"

[2019-05-26 00:05] smitpatel commented on #14590
@AndriySvyryd - Do all of the above properties have different IProperty in the model?

[2019-05-26 00:44] #15717 closed

[2019-05-26 05:23] bigworld12 commented on #12430
how does this stack with https://github.com/aspnet/EntityFrameworkCore/issues/2968 ? if you force all read/writes to fields, how are you going to implement custom getters/setters for properties ?

[2019-05-26 05:34] smitpatel commented on #13976
@roji - To fix this issue, we need new funcletizer.

[2019-05-26 07:45] tipa commented on #10963
Any updates to this?
EF7 currently makes up a large percentage of my app's APK size and I would highly appreciate if it was possible to reduce it as much as possible.

[2019-05-26 07:50] tipa commented on #12087
Any updates to this?
Many of my users are asking about why my app is starting so slowly compared to other apps in the store. Even with AOT enabled startup times are ~4 secs on high end phones.
This issue (together with [this one](https://github.com/aspnet/EntityFrameworkCore/issues/10963)) make me seriously consider making me switch to a more lightweight library

[2019-05-26 07:52] lugospod commented on #15803
Hi, Thank you for you your explanation. 1) I was expecting one query, because I could find any information in the documentation that would state otherwise... my bad 2) my logging was just displaying the last query but after your comment I switched to detailed logging and now I see the two queries.

thank you for your help!
KR;
Luka

[2019-05-26 07:53] darkflame0 opened #15812 "Improve the exception message when altering a read-only model"
### Problem
I have a method for change table name dynamically

[code]

the above code work fine in 2.X

but in 3.0 preview5 will throw an exception

[code]

### Further technical details
EF Core version:3.0.0-preview5.19227.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer or Npgsql.EntityFrameworkCore.PostgreSQL
Operating system: Windows 10
IDE: Visual Studio 2019 16.2.0 Preview 1.0

[2019-05-26 08:18] iokill commented on #15794
@ajcvickers Yes, that I understand. My issue is that this code

[code]

works fine. It will result in `SaveChanges()` adding a new entry `Level3` to the `Children` collection which properly is persisted to the database.

While doing this will **not** insert the new `Level3` entry into the database:

[code]

After this `SaveChanges` the new `Level3` entry with `Value = "5"` is not in the database!

[2019-05-26 09:12] zehavibarak opened #15813 "Specifying 'schema' on migration builder CreateTable constraints fails"
Fails setting a schema on migrationBuilder.CreateTable, the table.ForeignKey() constraints.

[code]

yields

[2019-05-26 10:02] sjb-sjb commented on #12430
@bigworld12, for my purposes the point is that EF will use direct field access during materialization while my application code will use the setters/getters. I want different things to happen in the two cases.

[2019-05-26 10:18] mayconbeserra opened #15814 "Timeout expired"
### Timeout expired

From time to time, I get this issue on Production. The timeout lasts 8 hours. To solve the issue, I restarted the containers for the application and it worked fine.

Some fun facts are - we don't have a high load during the night (only our monitoring tools) and after restarting the application everything works.

Is the connection pool per user, database and application instanc

[2019-05-26 13:24] RouR commented on #10662
This is not work.
[code]
var connection = new SqliteConnection("DataSource=:memory:");

Microsoft.EntityFrameworkCore.Sqlite 2.2.4

[2019-05-26 15:27] ajitgoel opened #15815 "System.InvalidOperationException: “No database provider has been configured for this DbContext”"
Adding migrations and updating database were working fine but seem to have hit a snag after updating to the latest version of Entity Framework core. What am I missing?

**Failing Command**
`add-migration authenticationtoken -Context ApplicationDbContext -verbose`

**ApplicationDbContext.cs**
[code]

**Startup.cs**
[code]

**Program.cs**
[code]

**project.csproj:**

[code]

**StackTrace:**

[code]

[2019-05-26 18:53] AndriySvyryd commented on #14590
@smitpatel Yes

[2019-05-26 22:09] vanillajonathan opened #15816 "Value converter for Uri"
This is a feature request. I would like to propose the addition of a value converter for the [Uri](https://docs.microsoft.com/en-us/dotnet/api/system.uri?view=netcore-2.2) type.

[2019-05-27 00:22] bicatu commented on #12078
Any update or alternative solution for this?

[2019-05-27 08:40] Bjego opened #17569 "Missing Exception information"
In your text it says:
Asynchronously returns the only element of a sequence, and throws an exception if there is not exactly one element in the sequence.
But you don't list them.
I assume they are equal to the exceptions listed in Single + Task Cancellation...
https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.single?view=netframework-4.8

---
#### Document Details

⚠ *Do not edit

[2019-05-27 12:05] mayconbeserra opened #15818 "The incoming tabular data stream (TDS) protocol stream is incorrect. The MARS TDS header contained errors"
### Issue

Failed executing DbCommand ("2"ms) [Parameters=["@__GetType_Name_0='?' (Size = 500)"], CommandType='Text', CommandTimeout='30']"
""SELECT TOP(2) [t].[Enabled]
FROM [FEAT_TOGGLES] AS [t]
WHERE [t].[Id] = @__GetType_Name_0"

[code]

[code]

We have a small table for our toggles and we started having issues with MARS. Is this an issue with EFCore, SQLClient or the Database?

### Further te

[2019-05-27 12:35] arghlolrofl commented on #2266
Yet another one whose company is desperately waiting for EFCore to support TPT. This really is a game breaker, as we are unable to port our current Data Access Layer to .NET Core. Looking at all the upvotes in this issue, it is just not comprehensible, why this feature is taking so long. Also the lack of a clear roadmap for this feature is just frustrating!

Please make this a (very) high priority

[2019-05-27 14:54] manish2535 commented on #15797
Thanks for the confirmation.

[2019-05-27 15:49] tico321 opened #15819 "SQLite Error 19: 'UNIQUE constraint failed' when using same DbConnection different DbContext instances"
Sqlite throws Microsoft.Data.Sqlite.SqliteException : SQLite Error 19: 'UNIQUE constraint failed:
when you use the same connection in different instances of DbContext and you have a relationship of 0 to 1.

Here is a sample project with 3 unit tests where the problem can be reproduced:
https://github.com/tico321/SQLiteUniqueErrorSeparateUsings/blob/master/SQLiteUniqueError/UnitTest1.cs

Also note

[2019-05-27 17:40] ajcvickers commented on #15802
@MelbourneDeveloper In addition to the comments from @AndrewBoklashko above, it seems like the main thing that isn't clear here is that lazy-loading being turned off doesn't mean that EF will eagerly load everything. It just means don't lazy-load, even if you have entities that would normally lazy-load.

[2019-05-27 17:53] ajcvickers commented on #15812
@darkflame0 Can you show an example of how you are using this code?

[2019-05-27 17:56] ajcvickers commented on #15814
@mayconbeserra Is that app using [connection resiliency](https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency)?

[2019-05-27 18:06] mayconbeserra commented on #15814
No, It is not using the retry.

Will that make the difference for the pool size exception?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Arthur Vickers <notifications@github.com>
Sent: Monday, May 27, 2019 7:57:30 PM
To: aspnet/EntityFrameworkCore
Cc: Maycon Beserra; Mention
Subject: Re: [aspnet/EntityFrameworkCore] Timeout expired (#15814)

@mayconbeserra<http

[2019-05-27 18:26] ajcvickers commented on #15819
@tico321 Given that the code above creates two `EntityB` instances with the same ID, I would expect either EF or the database to throw here indicating that two entities with the same primary key cannot be inserted. Can you provide some more details as to why you don't expect this?

Note for triage: full repro code below. Somehow EF ends up using the tracked entity instance instead of the new entit

[2019-05-27 18:41] ajcvickers commented on #15818
@mayconbeserra This is an issue either SqlClient or that database. It looks like a duplicate of https://github.com/dotnet/SqlClient/issues/85. If not, then please file a new issue on that repo.

[2019-05-27 18:44] ajcvickers commented on #15814
@mayconbeserra I'm not 100% sure. @divega? @AndriySvyryd?

[2019-05-27 18:47] ajcvickers commented on #12078
@bicatu What is the specific problem for which are you looking for an alternative solution?

This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for reso

[2019-05-27 18:50] ajcvickers commented on #15815
@ajitgoel The main issue here is that ASP.NET defines a specific pattern for use by tooling like EF Core. This pattern is shown here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-2.2

Since your `Main` does everything in one method it means tooling cannot use the well-known pattern to create you context instance. Refactoring to meet the expected pattern s

[2019-05-27 18:51] ajcvickers commented on #10662
@RouR Please file a new issue and include a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-05-27 18:56] ajcvickers commented on #15794
@iokill Sorry about that--I missed that important details.

Note for triage: also repros on 2.2.4.

[2019-05-27 19:01] ajcvickers commented on #12087
@tipa Unfortunately we do not have the resources to spend time significant time on the Xamarin experience. While I hope that we get back to it in the future there are so many other issues that are higher priority that I think if you want something in the short term that is performant you would be better off using something other than EF.

[2019-05-27 19:02] ajcvickers commented on #10963
This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-05-27 19:04] ajcvickers commented on #15786
@Tbd19 Can you post a small, runnable project/solution or complete code listing that demonstrates the issue you are seeing?

[2019-05-27 19:10] ajcvickers opened #15821 "Issue quality is worse after change to template"
My qualitative experience is that more people are not reading the template now that the standard warning for security issues has been included. My guess is that people stop reading after the first sentence because they assume all the other text is also related to this. In particular, many issues now do not include version info, when it was common before.

The current template is below.

-----

###

[2019-05-27 19:19] ajcvickers commented on #15815
Update: This is what I was looking for: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation

[2019-05-27 19:28] ajcvickers commented on #15785
@TanvirArjel I have not been able to reproduce this--my code and output from Migrations is below. Can you post a small, runnable project/solution or complete code listing (like below) that demonstrates the issue you are seeing.

[code]
[code]

[2019-05-27 19:34] ajcvickers commented on #15756
@Ultronvision Thanks for the additional information. However, assuming this is a bug, then we need to be able to reproduce it before any action can be taken to fix it. This is why I am asking for code that reproduces the issue, rather than more general information about it. We really need to see and run code.

[2019-05-27 19:34] ajcvickers commented on #15755
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-05-27 19:35] ajcvickers commented on #15689
Putting this on the backlog to consider adding a specific command that returns the full connection string being used.

[2019-05-27 20:01] RouR commented on #10662
My mistake.
I did some investigation.
It seem that Sqlite-in-memory does not support raw sql queries. So, some logic changes in DB was skip, and result query is not valid. Not valid query returns null.

I guess it need a warning in log for context.Database.GetDbConnection().CreateCommand() and context.SomeEntities.FromSql

Some tests for play with it http://github.com/RouR/Sqlite-InMemoryTest

[2019-05-27 20:09] tico321 commented on #15819
@ajcvickers Thank you for your response.

You made me realize it was my mistake. Basically I was expecting this to work:
[code]
As equivalent to this:
[code]
And after your example we can see that we can accomplish the same result by loading the entity, and EF will use the tracked one....

Thanks again you for your time and help!

[2019-05-27 20:55] NickA55 commented on #12087
This is really sad and disappointing to hear.  The future Microsoft is pushing is .NET Core, EF Core being part of that.  It begs the question of how does Xamarin fit into the plans?  Is Xamarin that low on the priority list that you really have no one to work on issues?

This is a major issue, and makes EF Core on Xamarin totally unusable in a real world application.  So if I want to create a Xam

[2019-05-27 21:14] silverf1re opened #15822 "NU3004 When installing Microsoft.EntityFrameworkCore.SqlServer"
Describe what is not working as expected.
I am trying to inhstall Microsoft.EntityFrameworkCore.SqlServer using the nuget window in rider IDE
If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

[2019-05-27 22:42] ajitgoel commented on #15815
Thank you @ajcvickers , I learnt something today.

[2019-05-27 23:40] douglasg14b commented on #626
Hell, lifecycle hooks have been a community want since EF v4 in 2010.

[2019-05-27 23:54] optiks commented on #12761
We ended up giving up on this approach, as we lost the EF Core null-coalescing benefits. We've now also increased the scope of our transformation to deal with existing performance issues, which means we now Include() any required navigations up-front.

This is still a design issue though IMO.

[2019-05-28 00:05] bicatu commented on #12078
I have an aggregateRoot (A) that has a constructor that receives some Value Objects and an entity (B) that is part of the aggregate.

imagine
`a = new A(VO, VO, new B())`

[2019-05-28 02:22] ghost opened #15824 "dotnet-ef 3.0.0-preview5.19227.1 segfaults on start on Solus linux"
Hello

I am getting a segfault trying to run `dotnet-ef`.  This is a brand new project created with `dotnet new webapi`.  No other information given other than "Segmentation fault"

See below:

[code]

[code]

Some custom environment paths from bashrc .. mostly needed as workarounds on solus

[code]

[2019-05-28 03:48] lakeman commented on #15641
While looking for a workaround I also hit this;
[code]

Which generated;
[code]
Where the intermediate value shouldn't be named. And finally discovered that this does work;
[code]
And generates straight forward SQL. Though the result set is obviously an int instead of bool, I can live with that for now.

[2019-05-28 04:33] TanvirArjel commented on #15785
@ajcvickers As MyDbContext is in a different class library, I had to put `builder.MigrationsHistoryTable("__EFCoreMigrationsHistory", schema: "_Migration");` in `DesignTimeDbContextFactory` also as follows:

   public class DesignTimeDbContextFactory : IDesignTimeDbContextFactory<TanvirArjelDbContext>
    {
        public TanvirArjelDbContext CreateDbContext(string[] args)
        {
            va

[2019-05-28 07:08] Tbd19 commented on #15786
@ajcvickers I will try to provide a runnable project at the end of this week. Untill then here is the error I get when trying to add a new migration
PM> add-migration test
System.InvalidOperationException: The DbContext of type 'XXXContext' cannot be pooled because it does not have a single public constructor accepting a single parameter of type DbContextOptions.
   at Microsoft.EntityFrameworkCor

[2019-05-28 09:10] Ultronvision commented on #15756
Hi, Thanks for your reply. I forgot to mention in the last message that, my project is kind of professional and cannot share the code. However today I have just created a separate demo project and tested the EF migration and it works without any issue. Although in the initial it asked the EF Tools must update to 2.1.8 version which I did and after that everything works smoothly without any additio

[2019-05-28 09:57] bdebaere commented on #7623
Copied from my StackOverflow post.

[2019-05-28 10:35] darkflame0 commented on #15812
this is my test
[code]

[2019-05-28 10:56] bjorn-ali-goransson commented on #7623
Hey,

Sounds like a relational database isn't the right tool for the job, honestly ...

[2019-05-28 12:53] iokill commented on #15794
@ajcvickers no worries. I should have explained it better from the start. 😄

[2019-05-28 14:10] BladeWise opened #15825 "ExecuteInTransaction strategy: verifySucceeded only called on commit failure"
Using the execution strategy [ExecuteInTransaction](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore/Extensions/ExecutionStrategyExtensions.cs#L684) or [ExecuteInTransactionAsync](https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore/Extensions/ExecutionStrategyExtensions.cs#L735) the `verifySucceeded` callback is only invoked if the exception is raised during th

[2019-05-28 14:35] roji opened #15826 "Entity equality: bring back foreign key comparison optimization"
In the old query pipeline, when doing entity equality on a dependent whose principal was already traversed, we generated a comparison on the principal's foreign key column(s) instead of on the dependent's key column(s), saving an additional join.

However, if global filters were defined on the dependent, this caused the filters to be ignored. As a result the optimization was removed in 3.0.

Consi

[2019-05-28 14:47] ajcvickers commented on #15786
@Tbd19 The solution to that issue is to not use context pooling. If you find that doing so causes a significant change in performance, then please let us know.

[2019-05-28 15:15] Tbd19 commented on #15786
@ajcvickers I tried to use
service.AddDbContext<XXXContext>(options => options.UseSqlServer(connectionString));

but I got an exception
System.InvalidOperationException: Unable to resolve service for type 'Schaeffler.Database.Context.IInjectedService' while attempting to activate 'Schaeffler.Database.Context.GVPiContext'.
   at Microsoft.Extensions.DependencyInjection.ServiceLookup.CallSiteFactory

[2019-05-28 15:53] AlansButler opened #15827 "Create DBContext and models like EF POCO Generator (using EF Core)"
Hello,

We we're happily using Simon Hughes' EntityFramework Reverse POCO Generator to manipulate models generated from a SQL Server database.  Alas, the POCO Generator is not yet available for EF Core, so I'm trying to override EF internals to get some of the same results.

The only part I'm having trouble simulating is below:
When building the models this is what I want for example:
[code]
The s

[2019-05-28 15:55] cmorgan091 opened #15828 "Make MigrationsModelDiffer:ToReferentialAction protected rather than private"
The MigrationsModelDiffer is great for being able to override certain areas to change functionality as needed.  However, a relatively minor thing, when overriding the Diff method for ForeignKeys, there is a call to a private method ToReferentialAction.

I can copy this in to my superseding class of course, but it would be nice if ToReferentialAction was protected rather than private
### Further te

[2019-05-28 16:12] ajcvickers commented on #15822
@silverf1re Can you post a small, runnable project/solution that has this issue so we can take a look?

[2019-05-28 16:22] ErikEJ commented on #15827
EF Core Power Tools has custom renaming, maybe you can use that?

[2019-05-28 16:36] smitpatel commented on #11957
Duplicate of #13361

[2019-05-28 16:37] smitpatel commented on #15826
Related #11691

[2019-05-28 16:59] max-arshinov commented on #3342
Hi guys. What is the status of this issue? It looks that according to the roadmap (https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/features) it will not be implemented in EF Core 3.0. Will it?

[2019-05-28 17:31] bricelam commented on #3342
Some support for [constructor injection](https://docs.microsoft.com/en-us/ef/core/modeling/constructors#injecting-services) was added in 2.1.

[2019-05-28 17:42] bricelam commented on #15785
It looks like your application services aren't being used at design-time.

[2019-05-28 17:45] bricelam commented on #15828
Out of curiosity, what functionality are you changing/adding?

[2019-05-28 17:55] akselarzuman commented on #15814
We have the same issue as well.

We're using dotnet core 2.2 and all our Microsoft packages are up to date.
Our database is SqlServer 2012.

We have been looking for a solution and could not do much about it. We suspected that the error could be from Entity Framework Core.

Today, we created a dummy API that only has one GET endpoint in which all configurations are made from Microsoft's official d

[2019-05-28 17:56] ghost opened #15829 "EF Core migration not working"
Hi All,

I a have problem about migration
Migration does not work exactly when I do the code as follows
MigrationHistory table is created but it is empty and tables not created
Can you help me where I do wrong

EFCore version is 2.2.4

	public class MigrationContext:DbContext
    {
        public MigrationContext()
        {

        }

        public DbSet<Audit> Audit { get; set; }

        prot

[2019-05-28 18:26] divega opened #15830 "React to changes in metadata about nullable reference types"
There is some churn expected on the attributes you can get for nullable reference types via reflection, and even possibly on the ability to get them for private members.

Creating this issue so that we can track this and coordinate with partner teams to make sure we look for the right things for 3.0 RTM.

cc @roji @ajcvickers @jaredpar

[2019-05-28 18:46] roji commented on #15830
Any specific external issue? In any case we have the basic tests so we'll know if something breaks there.

[2019-05-28 19:27] ajcvickers commented on #15798
@divega to have a bit of a think.

[2019-05-28 19:44] twenzel opened #15831 "Add-migration throws nullrefexception"
[code]

### Further technical details
EF Core version: 3.0.0-preview6.19274.4
Database Provider. Microsoft.EntityFrameworkCore.SqlServer
IDE: Visual Studio 2019 16.1.0

[2019-05-28 19:56] roji opened #15832 "Non-constant property name in EF.Property (and indexer property)"
Investigate what is currently happening (and what we want to be happening) if a non-constant expression (e.g. closure parameter) is used for the property name to `EF.Property()` (and the indexer property).

[2019-05-28 19:58] cmorgan091 commented on #15828
@bricelam - Good question and I apologise for the overly long answer that it entails

TL;DR
I am implementing DDD by having multiple Contexts that link back to a common Context (containing for example Tenant, User, Security etc...), since the module contexts have foreign keys back to the common contexts they are picked up in migrations and try to create the tables. This is essentially a hack of a

[2019-05-28 20:28] cmorgan091 commented on #2725
For anybody that is interested, I have implemented a workaround that I believe allows this to work when the elements you want to exclude are part of a different schema in the database (which is what I wanted to do).

I have included this as an example in an issue I have raised here: [https://github.com/aspnet/EntityFrameworkCore/issues/15828](url)

Let me know if this helps anyone

[2019-05-28 20:33] maumar opened #15833 "Query: column specified multiple times for queries with join, projecting both sides and Take (or other pushdown)"
query:

[code]

sql:

[code]

exception:

[code]

[2019-05-28 20:41] MelbourneDeveloper commented on #15802
@ajcvickers this was a misunderstanding on my part. The problem that it is not possible to load all data in one hit still stands though. EF Core at least needs an IncludeAll.

[2019-05-28 20:54] ajcvickers commented on #15802
@MelbourneDeveloper As pointed out above, [this issue](https://github.com/aspnet/EntityFrameworkCore/issues/4851#issuecomment-205519885) indicates that we believe `IncludeAll` would be an anti-pattern and we have no plans to implement it. If your model consists of only one aggregate, then once support for aggregates is completed, defining the model as such would result in the equivalent of `Includ

[2019-05-28 20:57] maumar opened #15834 "Query: translation error for queries with nested joins"
When translating join we expect inner select expression to have only one Table expression. However for some queries with nested joins, the select can be another join and then it contains multiple Table expressions.

query:

[code]

exception:

[code]

[2019-05-28 21:12] NArnott commented on #14087
Are there plans to fix this in 2.2? or only for 3.0?

[2019-05-28 21:32] lbogdanov commented on #14194
@ajcvickers one of the query type's benefits - you can pre-define queries using raw sql in your code, no need to create a views in the database. Will this feature be retained in some form and shape in v3.0?
`        modelBuilder.Query<MyQueryType>().ToQuery(
            () => Query<MyQueryType>().FromSql("select * from mytable"));
`
Thank you

[2019-05-28 21:37] maumar opened #15835 "Query: NotImplementedException thrown from QueryProviderTest.Non_generic_ExecuteQuery_does_not_throw_incorrect_pattern"
We used to swallow NIEs earlier because there were so many of them. We started letting them pass which exposed this issue.

[2019-05-28 22:09] divega commented on #15814
@akselarzuman I suspect the issue you are seeing may be different from @mayconbeserra's. There can be multiple different causes for this exception. Yours actually look similar to  https://github.com/dotnet/SqlClient/issues/18, while @mayconbeserra's doesn't occur under load.

Can you elaborate a bit on how you are observing this behavior?

According to the analysis at https://github.com/dotnet/Sql

[2019-05-28 22:28] divega commented on #15333
@roji would it possible to break into the running tests with a debugger to figure out where the execution is at then the tests stall?

[2019-05-28 23:15] maumar commented on #15041
This is already fixed - tests enabled in d1fd913df63a2092f01d5d49fc949dfa49780cdf

[2019-05-28 23:15] #15041 closed

[2019-05-28 23:20] roji commented on #15333
Sure, but I haven't actually seen the tests stall on my Linux machine at any point... I just ran the SqlServer functional test suite, once on 2.2.5 and once on master and everything was fine.

@Gary-Zh have you had a chance to try on a physical Linux box, ideally against the same SQL Server instance?

[2019-05-28 23:25] AndriySvyryd commented on #14194
@ibogdanov Yes, all functionality remains the same. You just need to call 'modelBuilder.Entity<MyQueryType>().HasNoKey()' instead of 'modelBuilder.Query<MyQueryType>()'

[2019-05-28 23:46] SidShetye commented on #626
@ajcvickers That is disappointing - and hard to believe. Why? Because looking at the 474 issues open in [3.0.0 milestone](https://github.com/aspnet/EntityFrameworkCore/issues?q=is%3Aopen+milestone%3A3.0.0+sort%3Areactions-%2B1-desc), there is only [ONE. solitary. single. issue](https://github.com/aspnet/EntityFrameworkCore/issues/6812) with more customer demand than this issue. **Every** one of th

[2019-05-29 00:06] ajcvickers commented on #2167
See also scenario in #15725

[2019-05-29 00:08] divega commented on #626
@SidShetye Customer feedback is very important to us. But there several other sources of information we use to decide what goes into each release. By the way, we made an attempt to describe the process at https://docs.microsoft.com/ef/core/what-is-new/roadmap#release-planning-process.

Besides that this isn't really a regular issue. It is more of an "umbrella" issue that represents several individ

[2019-05-29 04:32] weitzhandler commented on #4583
Thanks for this great stuff @rowanmiller & @rmja!

`IDbContextFactory` appears to be obsolete.

Is there any documentation on how to have the databases dynamically generated per tenant (in my scenario each tenant has a separate DB).

Thank you!

[2019-05-29 06:50] allanchao opened #15838 "EF Core Scaffold-DbContext command (database-first) does not add proper [DatabaseGenerated(DatabaseGeneratedOption.Computed)] on generated class properties"
There is an [existing issue](https://github.com/aspnet/EntityFrameworkCore/issues/14910) that was closed as could not reproduce, but I will try my best to describe what's happening.

Using EF Core v3.0.0-preview5.19227.1
+ Microsoft.EntityFrameworkCore.SqlServer
+ Microsoft.EntityFrameworkCore.Proxies
+ Microsoft.EntityFrameworkCore.Tools

Steps to reproduce:

1. Create any database table in SQL S

[2019-05-29 09:36] Mikilll94 commented on #15059
Are there any plans for implementing this? Inserting large numbers of rows in EFCore is painful.

[2019-05-29 10:03] weitzhandler commented on #3160
@rowanmiller
In my scenario I'm working on a multi-tenant app and I have a custom connection string set up in the `OnConfiguring` method of the `DbContext`.

I want to call `context.Database.Migrate()` after the DB has been migrated.
Where is the right place to achieve that?

[2019-05-29 10:34] weitzhandler commented on #11683
Hi guys and thanks for your input.
How can I call `context.Database.Migrate` post `OnConfiguring`?

I have a dynamic per-tenant configuration and I want the DB to be generated once the tenant info is available.

[2019-05-29 11:45] altmann opened #15839 "Using a deep Owned Entity graph raises exception"
I have two Entities:
- Antrag
- AntragVersion

Both have an Owned Entity Einstellung.
Antrag has also the Owned Entity Ablehnung.

See attached code sample. If you execute it then I get an exception. I'am very sure that I configured it correctly.

If I replace in class ErstePruefung the property Pruefer with Type Fachmitarbeiter with a simple DateTime property (and adapt the modelbuilder configura

[2019-05-29 12:20] bkhezry opened #15841 "Zero value not store in db. default value saved."
I use Aps.net Core 2.1 & EF 2.1.4
for each field from my table in SQL Server that is a number( int, float) when the passed value is zero, the default value of field stored. Another number store correct(like 1, 3 , ...)

[code]
aboveGrade type is `int`. when set it to zero, -1 will be store in db.
other numbers store correct.

[2019-05-29 15:32] nvmkpk opened #15843 "Entities derived from unmapped base class"
Why can't I map entities derived from an unmapped base class? My context was working fine in version 2.1.4. I am unable to upgrade to 3.0 preview 5. without altering my context or entity classes.

[2019-05-29 16:57] bricelam commented on #15828
Makes sense. 😄 Feel free to send a PR to make things virtual split things out into new methods. (Similar to PR #14430). But issue #2725 is also still planned for 3.0, so it may make sense just to wait.

[2019-05-29 17:08] SidShetye commented on #626
@divega @ajcvickers - believe it or not, we're huge fans of the EF team and respect the work coming out right from EFs early days. So much so, that at the unique intersection of ORMs and Data Security where our Crypteron products, services and IP reside, we've heavily invested and have always treated EF (till EF 6.x) as our 'golden target' that drive the designs for other ORMs we support like Java

[2019-05-29 17:26] AFDevMike commented on #626
I very much appreciate the EF teams work and am hesitant to step into what is best described as a passionate back and forth.  I have one request however.

- This 'issue' is acknowledged as having the 2nd most customer demand.
- A counter point is, this issue is an umbrella issue whereby "Each lifecycle hook clearly should have its own priority"

Objectively, I would assert if this umbrella issue h

[2019-05-29 18:06] nimion opened #15844 "Unable to track an entity of type because alternate key property 'id' is null. EF 3.0 preview."
I am attempting to attach a database entity to track changes and I receive the following exception.

_Unable to track an entity of type 'GameSession' because alternate key property 'id' is null. If the alternate key is not used in a relationship, then consider using a unique index instead. Unique indexes may contain nulls, while alternate keys must not._

[FullStackTraceException.txt](https://gith

[2019-05-29 18:33] bricelam opened #15845 "Review generated expressions"
We should review the expressions (System.Expression) we generate to make sure they're not repeating work. (e.g. introduce local variables instead of copying sub-expressions)

[2019-05-29 18:59] egarkavy commented on #8474
I hope I will help at least someone

My problem is:
I have ASP Net MVC 5 application which refers on .Core project. And this core project uses IHttpClient in some service. .Core project has a reference on Microsoft.Extensions.*whatever*.

For some reason compiler doesn't understand that that he needs to copy this .dll to bin folder.

So I just added this extention directly to my MVC project via Nu

[2019-05-29 19:12] divega commented on #626
@SidShetye thanks for the pointer to https://github.com/aspnet/EntityFrameworkCore/issues/626#issuecomment-359082350. To give you some perspective, there were ~90 comments before that, and ~70 comments after that in this issue. That is one of the reasons it has become extremely hard to distill the comments in this issue into actionable work items that we can prioritize. I would be very grateful if

[2019-05-29 19:28] AFDevMike commented on #626
@divega  I was counting based upon @SidShetye's assertion here: https://github.com/aspnet/EntityFrameworkCore/issues/626#issuecomment-496730616

And since it wasn't refuted in your direct response, I assumed it to approximate the reality.  My error, apologies for noise.

[2019-05-29 19:34] maumar commented on #15834
fixed in 4f43be937d3ee23c2737d31e7253ca7df8177826

[2019-05-29 19:34] #15834 closed

[2019-05-29 21:48] bricelam commented on #11683
@weitzhandler Please submit a new issue describing where your tenant identifier is coming from and where you'd like to call Migrate

[2019-05-29 22:23] weitzhandler opened #15846 "Enable calling Database.Migrate upon model configuration completion"
Hi,

Where is the right place to call `Database.Migrate` post model configuration?

I tried calling it in the `OnConfiguring` method but an `InvalidOperationException` is thrown, saying:

I'm working on a multi-tenant project where each tenant has a dedicated DB and connection string (provided dynamically by an external DI-provided service from an external DB).

Here's what my `DbContext` looks li

[2019-05-29 22:25] weitzhandler commented on #11683
@bricelam
Opened #15846, thanks.

[2019-05-29 22:47] weitzhandler commented on #626
@divega

I opened a new issue that is related to life-cycle hooks. In my scenario, I need to have a post-`OnConfiguration` hook, so I can call `Database.Migrate`. See #15846.

[2019-05-29 23:32] smitpatel commented on #15846
It should go in your application startup logic.

[2019-05-29 23:37] weitzhandler commented on #15846
@smitpatel
How so? The connection string isn't known yet.

[2019-05-30 01:36] maumar opened #15848 "Query: translation error when projecting with a cast"
query:

[code]

exception:

[code]

[2019-05-30 01:49] maumar opened #15849 "Query: invalid sql (expecting search condition) for query projecting a single element from the collection of bool properties"
query:
[code]

sql:
[code]

exception:
[code]

[2019-05-30 01:52] maumar opened #15850 "Query: "Null TypeMapping in Sql Tree" for query with conditional expression that doesn't get optimized out as null propagation"
query:

[code]

exception:

[code]

[2019-05-30 02:22] maumar opened #15851 "Query: "Null TypeMapping in Sql Tree" for contains query with List parameter"
query:

[code]

exception:

[code]

[2019-05-30 02:26] maumar opened #15852 "Query: translation error - changing type of NewExpression during visit"
query:

[code]

exception:

[code]

[2019-05-30 02:28] smitpatel commented on #15850
This may be blocked by entity equality rewrite.

[2019-05-30 02:28] smitpatel commented on #15851
Likely entity equality rewrite.

[2019-05-30 02:30] smitpatel commented on #15852
Need to override ListInit in SqlTranslator and return null.

[2019-05-30 02:38] alexk8 opened #15853 "Arithmetic operations with GroupBy are not translated"
[code]
Arithmetics are quite handy with "group by" but they are not supported (not translated to sql)
`Error generated for warning 'Microsoft.EntityFrameworkCore.Query.QueryClientEvaluationWarning:
The LINQ expression 'GroupBy([o].CustomerId, [o])' could not be translated and will be evaluated locally.
'. This exception can be suppressed or logged by passing event ID 'RelationalEventId.QueryClient

[2019-05-30 03:19] #6681 closed

[2019-05-30 06:20] yyjdelete commented on #15173
https://github.com/aspnet/EntityFrameworkCore/blob/2daec6ae17d415af47a606feb0d9f8cfe21296b8/src/EFCore/Infrastructure/EntityFrameworkServicesBuilder.cs#L303-L304

Lazy init here?

[2019-05-30 08:28] chrsas opened #15854 "Allow FKs to exist in the model but avoid creating them in the database"
Note: This issue is about _only_ not creating the constraint in the database. EF will still treat the relationship as constrained. If you want an unconstrained relationship--that is, a relationship where an FK value is non-null but there is no corresponding PK in the database--then please vote for #13146.

----

I try to use `RemoveForeignKey` to remove all foreign keys from my DbContext, but it i

[2019-05-30 10:04] roji opened #15855 "Accessing properties on closure parameters or inline instantiated types fails"
After enabling entity equality, property access on closure parameters or inline instantiated types fail with InvalidOperationException.

See test `Entity_equality_local` for the former, `Where_query_composition_entity_equality_multiple_elements_FirstOrDefault` for the latter.

/cc @smitpatel

[2019-05-30 12:26] bdaniel7 commented on #14812
I have the same error, only when calling SingleOrDefaultAsync().
When calling .ToListAsync(), it's not happening.

And when I'm using the non-async version, SingleOrDefault, I only get a warning:

[code]

On EF Core 2.1, MS SQL 2017

[2019-05-30 12:46] bdaniel7 commented on #14812
I see that the warning and the error are caused by the Mapster. When I'm using AutoMapper, it all works correctly.

[2019-05-30 14:26] ajcvickers commented on #15854
@chrsas Can you give some details as to why you want to remove all foreign keys from the model?

[2019-05-30 15:15] roji commented on #10739
Note that table inheritance is no longer recommended by PostgreSQL: https://wiki.postgresql.org/wiki/Don%27t_Do_This#Don.27t_use_table_inheritance

[2019-05-30 15:21] brianjlowry commented on #10739
I don't understand why this "fad" is a bad idea. How would you map foreign keys/tables to hierarchical domain models?

[2019-05-30 15:36] warappa commented on #12045
@thijsalofs Indeed, it works!

I took Andrew Lock's approach and aligned it to the API conventions of EF Core.
With this I was able to even remove _all_ `builder.Property(x => x.SomeCustomId).HasConversion(...)` calls.

Here's the gist with the code and how to use it:
https://gist.github.com/warappa/b81ec5c8e99c0314f5c9385b22f37c0e

1. Register the new ValueConverterSelector while registering a Db

[2019-05-30 16:23] smitpatel commented on #15846
@bricelam may have better idea.
I put following in Configure method inside startup.cs and it initialized the database before running the app. You can achieve similar by putting in Program.Main method too.
[code]

[2019-05-30 16:38] dabagab opened #15857 "SQL Migration does not run."
## Describe the bug
I have followed some articles to be able to use the aspnet core application with sql server.
Unfortunately the migration command does not run.

## Steps to reproduce the issue
Provide steps for us to reproduce the issue

1. Creating a new Asp.net Core 2.2 Web (MVC) project from the official template in the Visual Studio 2019.
2. Adding Docker-Compose support to the project.
[co

[2019-05-30 17:47] bricelam commented on #15846
Program.Main() is a better place than Startup.Configure(). BUT we discourage using Migrate() at all during startup. It's typically part of deployment, not startup. Creating an admin page to create/update the database after deployment is another good option.

Be careful with database permissions. Most users SHOULDN'T be able to drop tables, etc.

[2019-05-30 17:58] SidShetye opened #15858 "Work item for entity lifecycle hooks"
This is a work-item issue emerging from the parent [discussion issue](https://github.com/aspnet/EntityFrameworkCore/issues/626) which already captures the community demand/severity. We'd like to regain functionality that existed in EF 6 but has been missing in EF Core.

EF Core should have the following events

1. `ObjectMaterialized`: An event fired when the raw data read from the database is fil