[2016-11-02 20:16] gdoron commented on #6760
@Eilon @divega Can you share a ~ release date of 1.0.2?
We just got hit hard by the bug I mentioned earlier of MVC and ValidationSummary. 😢

(Safari for some reason doesn't respect form validations ([for 9 years!](https://bugs.webkit.org/show_bug.cgi?id=28649)) and a very important customer of ours submitted an invalid form and MVC couldn't show him the errors because the required field was in a c

[2016-11-02 20:21] patricknolan commented on #6919
Hi @rowanmiller an unique index wouldn't work for me as I need to be able to cater for a null Descriminator.

If I have a unique index I can add two records with the same ApplicationName, Aspect and SectionName where the Descriminator is null.

With an AlternativeKey which should produce the same result as my sample SQL, if I try and add two records with the same ApplicationName, Aspect and Sectio

[2016-11-02 20:28] patricknolan commented on #6919
Hi @divega if I move the position of the HasAlternateKey() to the bottom the constraint is created but EF changes it to an index even though I have declared it as an Alternative Key. In my comment above I explain why I need an alternative unique key and not a unique index.

I believe I should be able to reproduce the same result as the sample SQL Statement. If I can do this in SQL it should not be

[2016-11-02 20:57] SapientGuardian commented on #6914
Thanks for the heads up. Is it practical to build an EF provider that _doesn't_ rely on the internal namespaces at this point? It looks like the Npgsql provider references them too, though perhaps not the parts that triggered this break. Rebuilding against new libraries is easy enough, but eliminating the references to the internals seems like a fair bit of work.

cc @how02

[2016-11-02 21:18] Eilon commented on #6760
@gdoron hopefully soon 😄 We're nearly done writing the code, but we have to do verification of the bits first. We have a package feed with nightly builds at https://dotnet.myget.org/gallery/aspnetcore-patch, but the builds for this release aren't there yet (we're working on it right now).

[2016-11-02 21:38] gdoron commented on #6760
@Eilon, for some reason, we can't use the nightly builds.
When we try to update our references it always breaks and won't compile, it's extremely frustrating 😢 .
@smitpatel was very kind and [tried helping us out,](https://github.com/aspnet/EntityFramework/issues/6634#issuecomment-250548293) but it didn't work for us.

Can you please assign someone to take a look? I can give him an access to our p

[2016-11-02 22:03] ElanHasson commented on #6686
Perhaps we can modify the generated method to include (!optionsBuilder.IsConfigured)... then use the hardcoded connection string.

This should be a great low-effort modification that can satisfy the DI use case without introducing additional overhead, such as documentation, many net-new unit tests, etc.

[2016-11-02 22:14] rowanmiller commented on #6686
Interesting idea, re-opening to discuss in triage

[2016-11-02 22:17] rowanmiller commented on #6919
I think what you actually want is the ability to include null values in the index, which is tracked by https://github.com/aspnet/EntityFramework/issues/6794.

Alternate keys are effectively the same as primary keys and EF does not allow null values to be stored in them.

[2016-11-02 22:19] ajcvickers commented on #6914
@SapientGuardian Could you let us know which internal APIs you are using? Last time I checked, npgsql was only using the following:
* RelationalFullAnnotationNames
* RelationalModelValidator
* RelationalConventionSetBuilder
* RelationalStrings.UpdateConcurrencyException, UpdateStoreException
* IInternalDatabaseModelFactory

/cc @roji

[2016-11-02 22:21] rowanmiller commented on #6914
BTW our goal is that folks don't have to use internals... but that isn't reality yet. If a provider needs an API, our goal is to tidy it up and make it public.

[2016-11-02 22:44] anpete opened #6923 "PERF: Implement DbContext pooling for high scale scenarios"
- [x] Add overload of AddDbContext that enables pooling
- [x] OnConfiguring is never run. Configuration is external only.
- [x] Add state reset (context behavior flags, internal StateManager state)
- [x] Add Dispose event redirection.
- [ ] Logging
- [x] Pool cleanup

[2016-11-02 22:58] SapientGuardian commented on #6914
We're currently using the following internals:
* Microsoft.EntityFrameworkCore.Update.Internal.IKeyValueIndexFactorySource
* Microsoft.EntityFrameworkCore.Update.Internal.CommandBatchPreparer
* Microsoft.EntityFrameworkCore.Metadata.Conventions.Internal.ICoreConventionSetBuilder
* Microsoft.EntityFrameworkCore.Metadata.Internal.RelationalFullAnnotationNames
* Microsoft.EntityFrameworkCore.Internal

[2016-11-02 22:58] rowanmiller commented on #6920
BTW in the `tools` node, you should also replace:

[code]

with

[code]

[2016-11-02 23:00] ajcvickers commented on #6872
@ardalis @robertmclaws Here is some code that might work for you:
[code]

To use, call `context.ResetValueGenerators();` before the context is used for the first time and any time that EnsureDeleted is called. For example:
[code]
No matter how many times I call this code, Blog.Id and Post.Id will always get the value 1.

The code works by finding every int primary key in the model and setting the

[2016-11-02 23:04] smitpatel commented on #6328
Reactive-Extensions/Rx.NET#291

[2016-11-02 23:05] AndriySvyryd opened #6924 "Make more services singletons"
There are currently some services that could be registered as singletons, reducing the number of allocations we have to make for each `DbContext` instance:
1. Services that no longer need to be scoped, such as `IInternalEntityEntryFactory`
1. Services that have no mutable state, but use scoped services like `ICurrentDbContext` or `IDbContextOptions` in one of the methods and can be refactored to p

[2016-11-02 23:07] onovotny commented on #6328
Thanks, will dive into this immediately.

[2016-11-02 23:37] ajcvickers commented on #6914
@SapientGuardian How is MySQLCommandBatchPreparer used? (Which uses MySQLValueBufferFactoryFactory.) It seems like this is dead code unless I am missing something.

[2016-11-02 23:53] SapientGuardian commented on #6914
I was wondering that myself. I thought it might be something pulled in externally by convention/reflection/magic, but it might just be dead. @how02 that code came in on one of your commits, can you solve the mystery?

[2016-11-03 00:02] onovotny commented on #6328
Thanks for the repro, just checked in a fix and am building an RC2 package to push to nuget

[2016-11-03 00:07] how02 commented on #6914
@SapientGuardian Indeed it's dead code, it can be removed.

[2016-11-03 00:07] ajcvickers commented on #6716
See discussion of internal types used by providers in issue #6914

[2016-11-03 00:13] SapientGuardian commented on #6914
Excellent. I've removed the dead code from our repo, and updated my post above.

[2016-11-03 00:15] pierre-weceipt commented on #6920
That's strange, intellisense wasn't giving me the tooltip for 1.0.1 but when I replaced it with the preview2 it worked again. I tried the new tool package too (preview3) but as it was not working I thought it was designed to work with the 1.1 preview. It is still a bit confusing with the packages version not being fully unified.
On a side note should we use only core package, db provider package (

[2016-11-03 00:21] divega commented on #6880
@cdie I am not sure if by "creating explicit foreign key" you are referring to defining a property explicitly with a call like `entityBuilder.Property<Guid>("Link1Id")` or if you are adding actual C# properties to the `LTCLinks` type. Either approach should work, but I would also recommend adding a call to `HasForeignKey()` indicating what property to use for each relationship to avoid any ambigui

[2016-11-03 00:28] divega commented on #6914
@ajcvickers aren't there any more reversions we want to want to do in 1.1?  (not sure if this was closed automatically when you pushed your change).

[2016-11-03 00:35] ajcvickers commented on #6914
@divega I made a reference to this discussion in #6716. We decided not to make changes just because providers use internal code. We also did verification with a set of providers that was agreed upon. If we want to do additional checks to see if this or other providers are broken, then that should probably be a new issue that we discuss in triage.

[2016-11-03 00:55] onovotny commented on #6328
I've just pushed an RC2 package to NuGet, if this passes all of your regression tests, I'd be happy to republish it as RTM.

https://www.nuget.org/packages/System.Interactive.Async/3.1.0-rc2

[2016-11-03 01:28] divega commented on #6914
Here is some additional information from pushing the SapientGuardian provider through NGen (similar to #6783):

[code]

The cause is that we removed the parameterless constructors from string method translators in 5e1c562ae40c16ef49b90731fd015eccce0c1d44.

We should decide in triage whether we want to fix this for the same reason we reverted the removal of `EntityTypeExtensions.DisplayName()` or w

[2016-11-03 01:30] divega opened #6926 "Breaking changes in 1.1 affecting SapientGuardian MySQL provider"
Here is some information about missing methods from pushing the SapientGuardian.EntityFrameworkCore.MySql v7.1.11 provider through NGen (similar to how I did for #6783):

[code]

The cause is that we removed the parameterless constructors from string method translators in 5e1c562ae40c16ef49b90731fd015eccce0c1d44.

Creating this issue so that we can decide in triage whether we want to fix this for

[2016-11-03 01:31] divega commented on #6914
Decided to instead open an new issue (#6926) and keep this one closed.

[2016-11-03 01:31] #6914 closed

[2016-11-03 01:35] divega commented on #6328
We still won't upgrade the dependency in 1.1 (it is too late/risky) but we will see if we can do some additional verification over your RC2 package soon.

cc @smitpatel

[2016-11-03 01:46] smitpatel commented on #6328
RC2 Packages passes for all current tests (without removing workarounds).
I am doing additional testing with removing workarounds to see if bugs are fixed. I will report if anything still doesn't work.

[2016-11-03 02:46] onovotny commented on #6328
@divega my concern is that 3.0 has known bugs, as @jskeet has encountered. 3.1 is intended as a bugfix release that does address many longstanding Ix issues and we're hoping to get it out broadly. In the new world of transitive dependencies, I'm afraid that most people won't even know there's an upgrade available and hit issues that have already been fixed.

Question is if keeping 3.0 with its kno

[2016-11-03 03:53] sweetwxh commented on #6926
I'm using the official provider for mysql, and have the same issue. Almost all operation throws MissingMethodException. It's fine on previous version of efcore. I also updated Microsoft.EntityFrameworkCore.Relational to 1.1.0, but doesn't make any sense.

Below is one of the operation's exception:
`
Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalCommandBuilderFact

[2016-11-03 04:20] divega commented on #6328
Clearing up milestone so that we can discuss @onovotny's concern in triage.

[2016-11-03 04:32] saad749 commented on #6918
Following is the output.
[code]

This is line 45 from Startup.cs
[code]

I simply commented this block, and the migrations ran fine.
P.S. I haven't configured any secrets for the project.
Before upgrading, the migrations used to run in the same scenario

Is it expected behavior?

[2016-11-03 05:29] roji commented on #6914
@ajcvickers will hunt and try to remove Internal usage on my side (https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/122).

FYI RelationalModelValidator is not longer used in my 1.1.0 branch.

[2016-11-03 06:39] opensrcken commented on #6878
@ajcvickers, that results in the following:
[code]

[2016-11-03 06:48] divega commented on #6918
@natemcmaster looks like the exception could be coming from the new attribute handling code in user secrets. Thoughts?

[2016-11-03 07:03] natemcmaster commented on #6918
`Assembly.GetEntryAssembly()` is returning null because of the way EF invokes the startup class inside an appdomain.

Workaround: use the AddUserSecrets overload for the assembly that has your startup class.
[code]

UserSecrets should throw a better error message in this case. I'll have to think about the parameterless version `.AddUserSecrets()` to see if it can be smarter in this situation.

[2016-11-03 07:46] cdie commented on #6880
@divega when I said "creating explicit foreign key", I was talking about adding 2 Guids C# properties for defining foreign keys for `Link1 `& `Link2 `object. In fact, these properties are not mandatory for EF to work, as I said in my first post, EF create shadow properties for them if we don't add them.
If the final developper in our company forget to create those 2 Guids properties, I don't know

[2016-11-03 10:00] NoFear23m commented on #6904
@rowanmiller
Thanks, you are right, it was my mistake. But the same code was ok with the RC1, now i have updated my Seed method and it works fine. Many thanks.

btw: Is here anywhere a place for questions? Where can i ask peoples like you (who work with EF) if i have a question about entity Framework?

Many thanks rowan

[2016-11-03 11:22] HappyNomad commented on #1985
From [this documentation](https://docs.efproject.net/en/latest/modeling/relationships.html#cascade-delete), it sounds like the `[Required]` attribute is already being used to indicate a part-whole relationship.  Is that a correct interpretation?  I would find it more intuitive if this attribute were named `[Part]`.  Is it too late to rename or replace it?

Just because an entity's property is an a

[2016-11-03 13:46] brunneus opened #6928 "EF core treating readonly properties as NULL on Insert"
I'm struggling to understand why ef core are treating readonly fields as null, I have the following property on my model.

`private readonly string _name;`
`public string Name => _name;`

When I add my entity to the DBContext and try to save changes, An exceptions is throw because Name cannot be null.

The only way I find to this work is to define on ModelCreating that this property has a colunm n

[2016-11-03 14:24] julielerman opened #6929 "Expecting client eval warnings on Last and LastOrDefault query extensions"
### Steps to reproduce
A simple Last or LastOrDefault query.

db.MyEntities.LastOrDefault();

I'm using the SQL Server provider.
Provider is configured to throw on client eval.

### The issue
Actual query against database is not filtered:

I was seeing this in the ILoggerProvider logging and then verified in SQL Profiler:

SELECT [s].[Id], [s].[Name]
FROM [Samurais] AS [s]

 Therefore I can only a

[2016-11-03 14:44] jalelegenda commented on #6514
@dazinator What's the MenuContext type parameter you provided?

[2016-11-03 16:50] rowanmiller commented on #6904
@NoFear23m some of our team are active on StackOverflow, and here is always ok if you don't get the answer on StackOverflow.

[2016-11-03 17:03] ajcvickers commented on #6878
@opensrcken Change the parameter on the SchoolContext base class to be the non-generic `DbContextOptions`.

[2016-11-03 19:01] #6598 closed

[2016-11-03 19:01] #6581 closed

[2016-11-03 19:01] #6530 closed

[2016-11-03 19:01] #6492 closed

[2016-11-03 19:02] rowanmiller commented on #6920
Absolutely agree, this is definitely a confusing interim state. Once the tools reaches RTM (which will happen when .NET CLI tooling reaches RTM), then we plan to align versions across all packages. We're looking forward to that as much as you are 😄.

[2016-11-03 19:49] #6867 closed

[2016-11-03 20:55] smitpatel commented on #6328
@divega - I have created pulled for feedback if anything missing in verification. The PR which will resolve this issue would be different or merged after RTM of Ix-Async

@onovotny - I have removed most of the workarounds we had in the place and code works like charm. I am still scanning if there more things to removed. But so far looks good.

[2016-11-03 20:56] pendelton opened #6931 "No executable found matching command "dotnet-ef""
Hi!
### Steps to reproduce
I went throught many issues similar to this one but I can not find the proper solution.
I update my project to the newest versions of AspNet and EF and the only problem I have is
runing `dotnet ef` command in my console.

### The issue
I run:
`C:\Users\Piotr\Source\Workspaces\Insiders\Insiders\src\Insiders>dotnet ef`
but i get
`No executable found matching command "dotne

[2016-11-03 20:59] AndriySvyryd commented on #6931
Dupe of https://github.com/aspnet/EntityFramework/issues/6894

[2016-11-03 21:24] dazinator commented on #6514
Sorry was a typo. Should be YourDbContext class.

[2016-11-03 23:57] maumar commented on #6921
@mb2140  can you also provide the model you are using? Specifically, contents of OnModelCreating method on your DbContext and the entities involved: Project, User.

[2016-11-04 00:41] julielerman opened #6934 "What to use in place of Obsolete DbCommandLogData when logging?"
### Steps to reproduce
I was using DbCommandLogData to log ONLY the commands, not all of the rest of the data that comes through:

 if (state is Microsoft.EntityFrameworkCore.Storage.DbCommandLogData)
        {
          Console.WriteLine(formatter(state, exception));
        }

### The issue
It's marked obsolete. What can I use to filter on commands during logging database interaction?

### Furth

[2016-11-04 00:53] smitpatel commented on #6861
We are adding order by columns since the navigation is optional which requires left outer join. We achieve left outer join by rewriting navigation in group join. Since our group join operator is optimized for streaming, we requires the ordering.
Though in this particular case, the navigation is dependent to principal. Which means that there can be only 1 matching record. Hence there is no need of

[2016-11-04 00:56] smitpatel commented on #6650
Closing since I am not able to reproduce this.

[2016-11-04 00:56] maumar commented on #6896
Fixed in 347e33e79e8722e7e5242fd4f357b9b4e653635e

[2016-11-04 00:56] #6896 closed

[2016-11-04 01:00] maumar commented on #6778
Fixed in 8b8006ed74e667a371526bfdae78b717306cebd8

[2016-11-04 01:00] #6778 closed

[2016-11-04 01:03] smitpatel commented on #6934
@julielerman - At present we haven't added alternative mechanism to logging. But check out discussion on #6201. That is the way we want to log commands in the future which will remove `DbCommandLogData` hence `Obselete` attribute

[2016-11-04 01:38] Bartmax opened #6935 "Find and FindAsync does not support IIncludableQueryable"
Is this by design? will be implemented later? something else?
I couldn't find an issue about it so I making this one to track this.

### Steps to reproduce
`context.Entities.Include(e=> e.OtherEntity).FindAsync(id)`

### The issue
I was expecting to work on `IncludableQueryable`.
Without the `Include`, `Find` works as expected.
[code]

### Further technical details

EF Core version: **1.1.0-previe

[2016-11-04 03:19] Bartmax opened #6936 "Add announcement of the rename of "Microsoft.EntityFrameworkCore.Tools" -> "Microsoft.EntityFrameworkCore.Tools.DotNet""
The only place where this is documented right now is on the announcement blog and trying using the previous "Microsoft.EntityFrameworkCore.Tools" doesn't give an error. You will only notice when trying to execute `dotnet ef` i think making an announcement will save people lot of time.

[2016-11-04 03:22] DivenLee commented on #6553
Right, this is the same as my need (#6297). Always hope that EF can choose to use the connection information that is written to the database connection information or read the connection information.

[2016-11-04 07:35] bjorn-ali-goransson commented on #4021
Is it possible to work around this limitation in todays codebase?

For example, I'd like a simple integer to be mapped to a Link object that contains an ID ...

[2016-11-04 07:56] kierenj opened #6937 "Query: Contains on element coming from optional navigation doesn't get server-evaluated"
I'd like to help fix this, but if there's a workaround or suggested different way to express the same query that might work to get me around this in the short term, I'd be very grateful.  Any workaround suggestions are welcome!

### Steps to reproduce

Build a query with the following:

[code]

Relevant entity models:

[code]

### The issue

First issue is I get a warning that the `Contains(b.Widg

[2016-11-04 07:59] NoFear23m commented on #6904
@rowanmiller
Thanks for your answer, i will ask my questions at StackOverflow in the future.
btw: Nice work from you and the other team members!

[2016-11-04 08:59] kierenj opened #6938 "Query: ArgumentException when chaining projections (best guess)"
### Steps to reproduce
Trying to work around the other issue I just raised by grabbing the whole DB model into memory and manually querying.  New internal exception with that one too unfortunately.

Same model as #6937 .

[code]

I'm chaining selects in order to define a subexpression (`usages` in the first projection) to avoid repeating it in the second.

### The issue

Exception:

[code]

Stack

[2016-11-04 12:32] Kizmar opened #6939 "Client evaluation warnings when using method parameters with common Linq expressions"
We have a couple teams working work .Net Core 1.0.0 and Entity Framework Core 1.0.0. We've both been running into the client evaluation warnings like these when using very common Linq methods (like .Contains(), .Count(), .Distinct(), .Take(), etc...) and passing in method parameters:

      The LINQ expression 'Distinct()' could not be translated and will be evaluated locally. To configure this wa

[2016-11-04 13:21] twisstosin commented on #4497
Mine was working 2 days ago, now it's giving the "not recognized as name cmdlet, function ..." Error.

[2016-11-04 13:42] julielerman commented on #6934
Thanks. Saw that earlier and wasn't sure how it related to current bits. Now I understand. :)  Is it possible to change the current notes around DbcommandLogData so that it indicates that it will be obsolete in the future but there isn't a current alternative yet?

[2016-11-04 14:09] caleblloyd opened #6940 "Extra Column Generated when Inheritance Used with Self-Referencing Relationship"
### Steps to reproduce

[code]

### The issue

The generated SQL includes an extra column, `PersonTeacherId`.  The column `TeacherId` shows up correctly, but the SQL generation process incorrectly adds a second, identical column named `PersonTeacherId` with a Foreign Key set to `Restrict`:

[code]

### Other Notes:

In the `PersonKid` model, if I change the line:

`public PersonTeacher Teacher { g

[2016-11-04 14:26] prochnowc opened #6941 "Fetching entity with related entities executes two SQL commands"
### Steps to reproduce

[code]

### The issue

Fetching Customers executes two commands:

[code]

[code]

I think this query should be joined, because when i have thousand customers there will be 1001 commands executed.

### Further technical details

EF Core version: 1.1.0-preview1
Operating system: Windows 10
Visual Studio version: VS 2015

[2016-11-04 14:38] econner20 opened #6942 "NET Standard Compatibility with SQLite and Xamarin"
Which version of SQLite is recommended to be used with EF and .NET Standard for Xamarin cross platform compatibility for iOS, Android and UWP.

[2016-11-04 16:22] caleblloyd commented on #6940
It was due to the relationship in the `PersonTeacher` model: `public ICollection<PersonParent> Parents { get; set; }`

Coding error on my part.  Closing.

[2016-11-04 16:37] rowanmiller commented on #4021
@bjorn-ali-goransson it's not natively supported but with Field Mapping support (added in 1.1 - currently in preview) you could map the integer to a private field and then have a property that converts to/from the Link object. See this post for details on 1.1 Preview1 and how to use field mapping https://blogs.msdn.microsoft.com/dotnet/2016/10/25/announcing-entity-framework-core-1-1-preview-1/.

[2016-11-04 16:43] rowanmiller commented on #6936
Good point. Done - https://github.com/aspnet/Announcements/issues/208.

[2016-11-04 16:43] #6936 closed

[2016-11-04 17:55] maumar commented on #6941
This is by design, we create one additional query per collection navigation that is being included, not per number on entities in the DbSet on which include is performed

[2016-11-04 18:03] jeffbromberger opened #6943 "Migration error creating simple model, failing to find obvious key"
I have 3 other DbSets in my project that are all working fine.  When trying to add a 4th, extremely simple one I am hitting errors with Add-Migration.  Note that every time I run Add-Migration I wipe the db completely and delete all prior migrations to start fresh.  It claims that it can't find a key and I've tried all possible combinations of defining it - convention, annotation and fluent.

I ha

[2016-11-04 18:20] divega commented on #6872
Moving to backlog to consider:
1. Automatically resetting value generators when in-memory database is dropped (value generators would need to be associated with the database instead of the model)
2. Add identity behavior on the in-memory database (and stop emulating it with client-side value generation)
3. Add an explicit API to reset value generation in the product.

[2016-11-04 18:27] divega commented on #6918
@natemcmaster do we have a separate bug tracking what the CLI change that broke the `GetEntryAssembly()` API?

It seems to me that for this customer issue you have already answered with a workaround and can be closed. Thoughts?

[2016-11-04 18:28] divega commented on #6920
@pierre-weceipt could you provide repro steps and a project?

[2016-11-04 18:31] natemcmaster commented on #6918
The API is working as expected. Inside an app domain, this GetEntryAssembly returns null because EF tools don't (and shouldn't) call AppDomain.ExecuteAssembly.

Yes, close as external to EF. Tracking this with https://github.com/aspnet/Configuration/issues/543.

[2016-11-04 18:46] divega commented on #6928
By convention we don't include read-only properties to the model. Invoking `Property()` the way you found is the right way to tell EF Core to consider the property. However if the field is read-only EF Core won't be able to set it.

[2016-11-04 18:51] divega commented on #6929
We should also double-check if/when we can translate `Last`.

[2016-11-04 18:57] divega commented on #6934
@smitpatel please file a new issue detailing the plan for removing this class.

@julielerman hi, can you please clarify what you mean by "notes around DbcommandLogData"? Is it docs or XML documentation? Thanks!

[2016-11-04 19:02] divega commented on #6935
`Find` is not a query operator, but a convenient way to save a database roundtrip if the entity you are looking for is already loaded in the context. `Include` only works in queries. For this case you can write:

[code]

[2016-11-04 19:05] rowanmiller commented on #6943
You should use properties rather than fields. By convention EF will only map properties with a getter and setter. In 1.1, you can map to fields if you really want to, but my guess is that you actually want properties anyway?

[2016-11-04 19:06] maumar commented on #6929
If the query has order by, we could reverse it (asc->desc, desc->asc) and use First/FirstOrDefault instead

[2016-11-04 19:08] divega commented on #6939
@Kizmar can you please provide a repro? Examples of queries should be a good start.

[2016-11-04 19:10] julielerman commented on #6934
@divega hi back! Ahh, yes . A bit more useful if I clarified. I just mean about the annotation on the [DbCommandLogData]((https://github.com/aspnet/EntityFramework/blob/1fa247b038927a7d7438f666dc11253f64e0432d/src/Microsoft.EntityFrameworkCore.Relational/Extensions/DbCommandLogData.cs) ) class:

[code]

[2016-11-04 19:17] julielerman commented on #6929
yeah ...translating last would be very subjective, TOP 1 is also subjective I suppose since it's possible (in linq and in TSQL) to use it without an order by. Would be easier to blame the database if it just had a BOTTOM expression ;)

[2016-11-04 19:22] jeffbromberger commented on #6943
That was exactly the issue.  I don't actually have any use cases where a field vs a property matters in my code, but I didn't make the connection that this was a pre-requisite for EF to work.  Thank you very much and sorry to trouble you with something so petty.

[2016-11-04 19:47] wc-matteo commented on #6935
@divega and in case you don't know the primary key field/s at compile time?

[2016-11-04 19:47] AndriySvyryd commented on #6919
This issue will be used to track that making a property optional removes any keys defined on it silently.

[2016-11-04 19:55] AndriySvyryd commented on #6901
Dupe of #6794

[2016-11-04 19:56] ajcvickers commented on #6935
@wc-matteo

Assuming you know the type and that the key isn't composite:
[code]

Similar code can be written if the problem is less constrained.

[2016-11-04 20:00] AndriySvyryd commented on #6588
Closing as there was no response. Feel free to reopen providing more information if you are still experiencing this issue.

[2016-11-04 20:02] AndriySvyryd commented on #5960
Closing this as there hasn't been a response. Feel free to reopen if the issues persists with the latest version.

[2016-11-04 20:07] wc-matteo commented on #6935
@ajcvickers Nice! I forgot about EF.Property. I was looking at this for an extension to load all the navigation properties of an entity. There is nothing like that in the framework, right?

[2016-11-04 20:10] ajcvickers commented on #6935
@wc-matteo
[code]

[2016-11-04 20:12] wc-matteo commented on #6935
@ajcvickers thanks! That's... what I need ;)

[2016-11-04 20:18] AndriySvyryd commented on #2416
Fixed in f94ff70

[2016-11-04 20:18] #2416 closed

[2016-11-04 20:32] wc-matteo commented on #6935
@ajcvickers ah! Just one doubt... that pulls only the data related to the entity, right?
(And not all the data, of all the navigation properties)

[2016-11-04 20:47] ajcvickers commented on #6935
@wc-matteo It will bring in all entities related to the given entity. If you want all entities related to all entities of a given type you are probably better off using Include. But you could do something like this:
[code]

[2016-11-04 20:52] wc-matteo commented on #6935
Thank you again @ajcvickers! All these snippets will come very handy! 👍

[2016-11-04 23:48] smitpatel opened #6946 "Logging: Use template based format string to log structured DbCommand log data"
At present EF logging of Db Command uses `DbCommandLogData` object with custom formatter which would generate a plain string message for logger to log. This blocks structured logging since logger would get only `DbCommandLogData` object instead of different parts of log messages (for querying). During #6096, we overcame this gap by implementing `IEnumerable<KeyValuePair<string,object>>` in #6201 w

[2016-11-04 23:49] smitpatel commented on #6934
Filed #6946 to outline future of `DbCommandLogData`

[2016-11-04 23:57] AndriySvyryd commented on #6794
Fixed in 428a328

[2016-11-04 23:57] #6794 closed

[2016-11-05 09:33] kierenj commented on #6938
When I remove the chained projections, I get a new error:

[code]

Exception

[code]

Stack trace:

[code]

One inner exception:

[code]

Stack trace:

[code]

[2016-11-05 09:45] kierenj commented on #6938
If I cut down my original query to the point where it runs, any collections of `Guid`s I get back are locked up in some proxy class from EF which I can't inspect with the debugger ("requires all threads to run") - hence trying `ToArray()`.  Unfortunately, `ToArray()` generates exceptions too.

Intellisense (and the compiler) agree there's a coercion operator, but when I again try to cast my proper

[2016-11-05 15:25] onovotny commented on #6328
Ix Async 3.1 was just GA'd: https://twitter.com/onovotny/status/794922947798515713

[2016-11-05 16:04] nishantsgs opened #6949 "Getting NewtonSoft.Json error after migrating from RC2 to RTM"
### Steps to reproduce
I have updated my Project.Json to RTM and started getting restoration error
Package Newtonsoft.Json 8.0.3 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Newtonsoft.Json 8.0.3 supports:
`{
  "dependencies": {
    "AWSSDK.Core": "3.2.5-beta",
    "AWSSDK.S3": "3.2.5-beta",
    "DataAccessMsSqlServerProvider": "1.0.0-*",
    "DomainModel": "*",
    "Mi

[2016-11-05 19:39] JRBonnema opened #6951 "Warnings CS3001/CS3009 generated in EF.Core, but not in EF6 when [assembly: CLSCompliant(true)] is set using CodeAnalysis with BasicCorrectnessRules.ruleset"
I notice an inconsistency between EF6 and EF.Core.  I'am running the latest version of Microsoft Visual C# 2015 - Update 3. I use WinForms.

I was experimenting with Code Analysis with various rulesets to see if some of the warnings generated were usefull to improve my code. One of the warnings was to include the following line in AssemblyInfo.cs [assembly: CLSCompliant(true)]

After I added this

[2016-11-06 04:22] weitzhandler commented on #2266
We had a meeting and decided to hold back and stick to EF6 until TPT is implemented.
Microsoft keeps on inventing new shaky things while neglecting the old reliable functionality.

[2016-11-06 07:02] nishantsgs commented on #6949
Hi All,

I am able to solve the issue and its working properly kindly resolve the ticket.

[2016-11-07 06:15] prochnowc commented on #6941
@maumar Ok, the repro doesnt exacly do what i've done. When i use AutoMapper Queryable mapping support i can see commands being exectured for each Customer.

When looking at the query model, do you think this is AutoMapper issue? Or is EF Core generating wrong query? Should i post the updated repro? Thanks.

EF Core debug output:

[code]

[2016-11-07 06:21] prochnowc opened #6952 "Applying Count() to AutoMapper->EF mapped Queryable throws System.ArgumentException"
### Steps to reproduce

[code]

### The issue
When using Count() on mapped IQueryable (AutoMapper UseAsDataSource) i receive System.ArgumentException. When using EF 6 this does not throw exception.

[code]

### Further technical details

EF Core version: 1.1.0-preview1
Operating system: Windows 10
Visual Studio version: VS 2015

[2016-11-07 07:53] prochnowc opened #6953 "Using Any() in projected query warns about client side evaluation"
### Steps to reproduce

Code to reproduce:

[code]

Produces warnings:

[code]

### The issue

The Where(x => x.Relation.Any()) query warns about client side evaluation when using projected query.

### Further technical details

EF Core version: 1.1.0-preview1
Operating system: Windows 10
Visual Studio version: VS 2015

Other details about my project setup: Query is projected using AutoMapper.

[2016-11-07 09:17] opensrcken opened #6954 "is this a bug? changes not visible when using `AsNoTracking`"
### Steps to reproduce
[code]

### Further technical details

EF Core version: 1.0.0-preview2-final
Operating system: windows 10
Visual Studio version: VS 2015 Community

[2016-11-07 09:43] cdie commented on #246
This point is sadly blocking us for using EF Core.
In fact, we've transpose all our valueobject properties into the parent object, to allow EF to create only one table (in a 1-1 relationship), but actually, EF generates shadow properties cause it doesn't recognize that it's a nested object. We already have overloaded in our repository insertion and selection for those shadow propreties (it's reall

[2016-11-07 09:44] Serjster commented on #2850
I am also very interested in having this implemented.

[2016-11-07 12:37] jnm2 commented on #246
@cdie If you want same-table struct-based value types and don't mind workarounds for the time being, take a look at my [earlier comment](https://github.com/aspnet/EntityFramework/issues/246#issuecomment-199771946) and the following code example.

[2016-11-07 13:00] ErikEJ opened #6955 "RIGHT function not available in SQLCE"
Any hints how to work around this? (Used for EndsWith)

[2016-11-07 13:48] HappyNomad opened #6956 "Model Builder: Avoid foreign key cycles"
The issue can be reproduced with this version:

	"Microsoft.EntityFrameworkCore.SqlServer": "1.1.0-preview2-*",

and this context:

	public class BloggingContext : DbContext
	{
		public BloggingContext( DbContextOptions<BloggingContext> options )
			: base( options ) { }

		public DbSet<L> Ls { get; set; }
		public DbSet<AL> ZAs { get; set; }
	}

and this model:

	public class AL
	{
		public int I

[2016-11-07 14:01] HappyNomad opened #6957 "Model Builder: Configuring one-to-one in OnModelCreating causes NullReferenceException"
The issue can be reproduced with this version:

	"Microsoft.EntityFrameworkCore.SqlServer": "1.1.0-preview2-*",

and this context:

	public class BloggingContext : DbContext
	{
		public BloggingContext( DbContextOptions<BloggingContext> options )
			: base( options ) { }

		public DbSet<L> Ls { get; set; }
		public DbSet<AL> ZAs { get; set; }

		protected override void OnModelCreating( ModelBuilde

[2016-11-07 14:27] sreichi commented on #6897
If you rename it to:
`"tools": {
  "Microsoft.EntityFrameworkCore.Tools.DotNet": "1.0.0-preview3-final"
},`
it will work.

Found at http://stackoverflow.com/a/40304210

[2016-11-07 14:34] cdie commented on #246
@jnm2 Thanks for the tip, however, we cannot use it cause it'll force us to redesign all our domain to fit it as a workaround.
We'll continue to us our custom SQLite DAL in the mean time

[2016-11-07 15:44] manospasj opened #6958 "Auto generated Guid value in Composite Key"
I have an object with a composite key.
The key consists of 3 columns:
- CustomerId - int
- ServiceId - Guid
- ContractId - Auto Generated Guid

The problem is that when I try to save a new object to the database ContractId gets the value 00000000-0000-0000-0000-00000000000.

On the OnModelCreating method I have the following code to declare the key
[code]

Also, if I remove the other two columns f

[2016-11-07 17:41] ajcvickers commented on #6958
@manospasj Members of composite keys are not set to use value generation by default. You need to tell EF that you want the property to have a value generated:
[code]

[2016-11-07 17:50] ajcvickers commented on #6956
This is a SQL Server limitation in how it handles multiple cascade relationships. We don't try to compensate for this automatically because a) not all databases have this limitation and b) there are two main ways to deal with it and the choice of which to do should be made explicitly:

* The relationships can be changed in the EF model such that the pseudo-cycles don't exist, either my making the

[2016-11-07 18:04] ajcvickers commented on #6954
@opensrcken This does not repro for me. Executing those statements in that order will result in the assertion passing. Could you provide a full repro, perhaps in a console application?

[2016-11-07 18:09] Eilon commented on #6760
@gdoron well if you do manage to get nightly builds working, we have some builds on this feed: https://dotnet.myget.org/gallery/aspnetcore-patch

As far as dates, we're nearly done with the code, but the actual release involves a number of teams coordinating lots of builds so we can't guarantee any particular dates.

BTW very cool project you're working on!

[2016-11-07 18:18] ajcvickers commented on #6951
@JRBonnema Curious what your situation is where CLS compliance is relevant?

[2016-11-07 18:48] dazinator opened #6961 "[Question] - How to handle extensibility of a model"
This is just a general question about my use case, and EF7.

My application has an EF7 model and db context. I am calling this the "Core" Data Model.

My application allows third party "extensions" to be installed.

These extensions need to be able to "extend" the existing data model (tables etc) to do things like:

1. Add additional columns
2. Add foreign keys that reference existing core tables.

[2016-11-07 18:48] maumar commented on #6687
The problem is that out VisitBinary operator is hard-coded to a form [leftOperand] [operator] [rightOperand], so it doesn't allow modifying the structure, just what the operator would be. We have StringConcatTranslator that would normally handle this (convert Add binary operator to a method call) but because we already ran a method call translator (translating Contains) which produced the string c

[2016-11-07 18:59] Valeriy1991 commented on #6588
@AndriySvyryd hi! Now, unfortunately, I have no way to reproduce the problem (I'm busy on another project). If a problem appears, I will write about it here (I think in a month). Thanks!

[2016-11-07 19:27] Kizmar commented on #6939
@divega Yeah when I get some time I'll build an example or two that I can drop in here...

[2016-11-07 19:35] bricelam opened #6962 "Tools: Console color broken"
Lately, the color in the tools just hasn't been the same...

![image](https://cloud.githubusercontent.com/assets/1226749/20072702/39998ea6-a4de-11e6-8f00-4406407fe212.png)

[2016-11-07 19:49] anpete commented on #6826
@AndriySvyryd @bricelam @divega Is this a DI bug? Did anyone file it?

[2016-11-07 19:57] divega commented on #6826
Yes, someone did :smile: https://github.com/aspnet/DependencyInjection/issues/197, and it got moved to the backlog.

[2016-11-07 19:58] anpete opened #6963 "Usability: Throw on AddDbContext with options lambda when context has no options ctor"
Right now we seem to silently ignore the options lambda. This bug is about whether we should throw or warn.

[2016-11-07 20:05] ajcvickers commented on #6963
We discussed this in the past and decided against it because we would have to replicate the logic in D.I. to determine if a constructor that takes the options would be used.

Even if we did that, we don't know that the context is not depending on something else that it gets the options from. Could be using service locator, or just have another service that depends on the options.

So to be sure we

[2016-11-07 20:10] bricelam commented on #6962
Hmm, this cold also be a change in CLI Preview3. I'll investigate so we can decide if this should expect fixed for our preview4s

[2016-11-07 20:17] anpete commented on #6963
Makes sense. Maybe just something simple to catch a common case? I.e. when I hit this, both times my context had a single default ctor.

[2016-11-07 20:21] ajcvickers commented on #6963
Yeah, if the context only has a parameterless constructor, then I can't think of a way that AddDbContext would work correctly. So might be okay to throw then.

However, I would still consider this a breaking change because people do a lot of stuff that they don't need to do when it comes to D.I., presumably because its hard to understand how it works. I have seen several situations where code is u

[2016-11-07 20:47] AndriySvyryd commented on #6792
Fixed in 66c4c79

[2016-11-07 20:47] #6792 closed

[2016-11-07 20:50] JRBonnema commented on #6951
My interest is purely theoretical, not practical.

Like I said above I was experimenting with Code Analysis (latest version) to see if I could get rid of all the generated warnings. It turned out that In EF6 I can, but in EFCore I cannot. If the generated Code Analysis warnings can be believed all types in EF6 are CLS compliant, while for example the DbContext in EFCore is apparently not CLS compl

[2016-11-07 21:12] bricelam commented on #6962
Confirmed, this is due to a change in .NET Core SDK 1.0.0 Preview 3. It can wait until the next MSBuild Tools release.

[2016-11-07 22:17] jalelegenda opened #6964 "Resolved database context yields null DbSet(s)"
### Steps to reproduce
I've already asked this question on Stack Overflow with code and details, here's [the link](http://stackoverflow.com/questions/40468075/resolved-database-context-yields-null-dbsets)

### The issue
So the issue is my database context gets null DbSets. I've tried resolving and instantiating a new one, and get the same result. The database is initialized using code first, I've

[2016-11-07 22:28] rowanmiller commented on #6964
It's because your DbSet properties aren't actually properties 😄  ... they are fields. Make them properties with a getter and setter and they will be initialized.

[2016-11-07 23:47] AndriySvyryd opened #6965 "Change the default decimal type mapping"
Currently we map to decimal(18, 2), however this can cause data-loss due to silent truncation, see #6835.
If changed to decimal(38, 28) no CLR decimal will be silently truncated, as they have at most 29 significant digits and overflows are errors in SQL Server.

[2016-11-07 23:53] ajcvickers commented on #6965
If we are doing this to prevent data loss, do we attempt to do it for other types that have similar issues? Like strings? If so, what string mapping will always work and will never result in data loss? If not, why are decimals different than other types?

The resultant column will be much wider, which is the main reason why we didn't do this originally. (I also did some experiments where whatever

[2016-11-08 00:13] divega commented on #6965
@ajcvickers I thought we already used a default (`max`) that avoids data loss for string columns that are not keys. What am I missing?

Besides, saving a string that doesn't fit in a string column causes an error in SQL Server, while extra digits after the decimal separator that don't fit in the scale are silently truncated.

A decimal with a precision of 38, 28 takes 17 bytes in SQL Server, which

[2016-11-08 00:17] AndriySvyryd commented on #6965
@divega We use nvarchar(450) and varbinary(900) as the defaults if the columns are part of an index or key.
We could use nvarchar(max) and varbinary(max) in the temporary table, but it's unnecessary since truncation is an error as you said.

[2016-11-08 00:42] AndriySvyryd commented on #88
This has been fixed. You can use a cast in the Fluent API to specify the mapped entity type:
[code]

[2016-11-08 00:42] #88 closed

[2016-11-08 00:48] divega commented on #6826
@bricelam FWIW, there is already `ActivatorUtilities.GetServiceOrCreateInstance()` that has those semantics.

[2016-11-08 01:23] abdu292 commented on #5570
@MattWhilden @divega @MichalStrehovsky A response would be helpful. Thanks!

[2016-11-08 03:00] janabimustafa commented on #5570
This really is a breaking issue. I am experiencing slow performance from EF+SQLite when deploying to the phone with the release profile. It takes upwards of 30 seconds to execute a DbSet.ToList opertation on the phone compared to around 3 on the desktop. I've tried every suggestion in this thread and it's still only marginally better.

[2016-11-08 05:46] bricelam commented on #6885
I was able to find workarounds for each of the issues.

[2016-11-08 05:57] rmja opened #6966 "Queries on non unicode string column should not prefix strings with N"
### Steps to reproduce
If a column is configured with a non n* string type, say char(3), then the SQL builder should not prefix strings in the generated SQL with a N. For example:

[code]

results in:
[code]

Running that query in SMSS returns the execution plan warning:

Removing the N string prefix removes the warning.

I have performed some non scientific experiments on a query and here are som

[2016-11-08 06:39] HappyNomad commented on #6792
Thanks for the fix here and on #6814.  I see both are on the feature/1.2.0 branch.  I'm now using the MyGet - ASP.NET Core "dev" branch feed with this version configured:

        "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0-preview2-*"

So I can't benefit from these changes until after the 1.1.0 release at which time I'll be able to update my version to 1.2.0-preview1-*, right?  I'd just lik

[2016-11-08 07:26] jalelegenda commented on #6964
Damn... embarassing. I'll make sure I have more coffee next time. Thanks.

[2016-11-08 07:44] manospasj commented on #6958
@ajcvickers your solution seems to work and thanks for that.
I had already tried the annotation [DatabaseGenerated(DatabaseGeneratedOption.Identity)] which doen't work in this case.

I also think it is a bit weird that I have to declare this only for composite keys.
In any case, if this is by design, you should consider updating the docs.

In the [documentation](https://docs.efproject.net/en/lates

[2016-11-08 07:58] ErikEJ commented on #6966
Did you try this with 1.1 preview 1

[2016-11-08 08:14] rmja commented on #6966
@ErikEJ  Nope, I am not running on those bits yet.

[2016-11-08 09:36] kierenj opened #6967 "(Advice) intercepting database accesses"
I'm looking for a way to intercept database queries as a means of getting some more in-depth performance stats.  I'm after number of queries, query duration, the result data (for an idea of data magnitude) and ideally some access to any LINQ expression.

I've looked through the code and feel like wrapping `ExecutionStrategyFactory` or `Database` is the way to go - and while I can create an extensi

[2016-11-08 10:43] JonPSmith opened #6968 "SaveChanges closes connection opened by user using EF API"
I am using Sqlite in-memory for unit testing. I have upgraded from v1.0.1 to 1.1.0-preview1-final and I now get the error `SQLite Error 1: 'no such table:  xxx`.

### Steps to reproduce
1. Run the code under  SqlLite v1.0.1 and SqlServer v1.0.1 it works fine
2. Upgrade to SqlLite 1.1.0-preview1-final and SqlServer 1.1.0-preview1-final and it fails with `SQLite Error 1: 'no such table:  xxx`. on th

[2016-11-08 15:17] caleblloyd opened #6969 "Exception with OfType(<Type>).Include(string) LINQ Query"
### Steps to reproduce

Models are at: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Models/People.cs

DB Context: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/AppDb.cs

You can run these tests against a MySql Database by cloning the

[2016-11-08 15:47] HappyNomad commented on #6956
Thanks for the info.  This is an issue in two class hierarchies in my domain model.  I plan to map both as TPT (#2266) or TPC (#3170) once the alternative is available.  Am I correct that, in the above example, this issue will disappear when I move `class PBase` and its derived classes to an alternative mapping strategy?

If "yes" then I'd conjecture that the correlation between this issue and alt

[2016-11-08 16:50] bricelam commented on #6968
Possibly due to #6335--we might be looking for the database in a different location.

[2016-11-08 16:51] bricelam commented on #6968
lol `:memory:` nevermind. 😄

[2016-11-08 16:58] ErikEJ commented on #6968
In the wrong memory location?? 😆

[2016-11-08 17:01] bricelam commented on #6968
Does it make a difference if you open the `SqliteConnection` before passing it to `UseSqlite()` (instead of calling `DbContext.Database.OpenConnection()` afterward)?

[2016-11-08 17:27] ajcvickers commented on #6958
Note for triage: the data annotation should work in this case--at least, it worked like that in the old stack.

@manospasj It's not done for composite keys because all the value generators are designed to generate unique keys. Therefore, only the value of that single property is needed to give the entity identity. Usually a composite key is used when no one part of the key is unique and it is only

[2016-11-08 17:32] ajcvickers commented on #6956
@HappyNomad Maybe file an issue on SQL Server to be less restrictive in what they report as a "cycle"?

[2016-11-08 17:40] ajcvickers commented on #6965
@AndriySvyryd That sounds acceptable for strings. Why can't we use decimal(38, 28) in the temporary table to avoid data loss in this case instead of changing the default mapping?

[2016-11-08 17:50] ajcvickers commented on #6965
@AndriySvyryd With regard to strings, there will only be an exception at a point where the string or binary value happens to be too long, right? Which means an application could be running in production for a long time before the issue is encountered, right? Also, how easy is the exception to understand given that the database has wide enough columns so the application developer did nothing wrong

[2016-11-08 18:47] ajcvickers commented on #6958
Reopening because of the data annotation issue.

[2016-11-08 18:57] JonPSmith commented on #6968
Hi @bricelam,

Yes, opening

fixed the problem, i.e.
[code]

... and removing the `db.Database.OpenConnection();` worked a treat. Thanks for that. I will update my code to use that approach.

[2016-11-08 19:02] ajcvickers commented on #6968
@bricelam Seems like this could be a breaking change?

[2016-11-08 19:03] AndriySvyryd commented on #6965
@ajcvickers decimal(38, 28) cannot represent the values between 10^9 and 10^14 -1, but decimal(18, 2) can, so it might cause an error if we used just for the temporary table.
While the truncation errors could be tricky to diagnose, they will not result in silent data loss and as I said we could just use the max length types for the temporary table to avoid this, but potentially taking a tiny perf

[2016-11-08 19:17] ajcvickers commented on #6965
@AndriySvyryd So the reason to change the default to (38, 28) (the other issue) is not because it can hold anything that a .NET decimal can throw at it, but because it will cause an exception if it can't hold something that .NET decimal throws at it? And if we used it in the temporary table, then it might throw when if we used the real data type of the column, then it would succeed?

If so, then w

[2016-11-08 19:21] AndriySvyryd commented on #6965
@ajcvickers Correct, but we don't have configuration source information in the update pipeline.

[2016-11-08 19:23] ajcvickers commented on #6965
@AndriySvyryd What is it that we need configuration source for? Do we ever set max length or unicode by convention?

[2016-11-08 19:33] AndriySvyryd commented on #6965
@ajcvickers I thought we did, but no.
However using a different type for decimal in the temporary table will result in different behavior (error vs no error) depending on whether the command is batched or not.

[2016-11-08 19:41] ajcvickers commented on #6965
@AndriySvyryd I think we should discuss in triage.

[2016-11-08 19:44] bricelam commented on #6968
Yes; re-opening. We need to understand why we're closing the connection in this case now.

[2016-11-08 21:04] joshmouch commented on #2850
I'd love to see TruncateTime implemented.

[2016-11-08 21:13] mstahl77 commented on #5570
I have had lot of problems with EF+SQLite and .NET Native also. I had to rewrite many queries to not use Include or joins to make it work with .NET Native. And now when I have simple selects without joins there are still performance problems. Trying to do workarounds by caching data in memory now.

When can we expect any performance improvements?

[2016-11-08 21:31] AndriySvyryd opened #6970 "Update SQL Server execution strategy"
1205, 41301 and 41839 should be considered transient.
41301, 41302, 41305, 41325 and 41839 should be retried much more aggressively, with all retries happening within 100ms from the first failure.
See https://msdn.microsoft.com/en-us/library/mt668435.aspx#Conflict%20Detection%20and%20Retry%20Logic for more information

[2016-11-08 21:54] bdm4 opened #6971 "The schema version of 'Microsoft.EntityFrameworkCore.Tools.DotNet' is incompatible with version 2.12.0.815 of NuGet"
Edited by @rowanmiller 11-29-2016

## Workaround

If you hit this issue, you can resolve it by [installing the latest beta of the NuGet Package Manager](http://docs.nuget.org/ndocs/guides/install-nuget#nuget-beta-channel).

The issue arises because of a combination of requirements in pre-release tooling.

---

This one is really confusing to me but...
I installed the new Tools.DotNet package:
proj

[2016-11-08 22:24] maumar commented on #6969
This has been fixed in 93ecfeca38c45cfc3081756e0a65920db19b42a0 which will be available in 1.2 release

[2016-11-08 22:24] #6969 closed

[2016-11-08 23:05] AndriySvyryd commented on #6792
@HappyNomad Correct. Hopefully you won't need to wait long.

[2016-11-08 23:08] bricelam commented on #6029
Discussed with @rowanmiller and, while there is a way to make it work, it is not recommended by NuGet due to the incurred perf and storage costs. We don't install into PCLs anymore, and we issue the following error when the startup project is a UWP class library:

[2016-11-08 23:13] bricelam commented on #5320
As far as I can tell, I'm able to make this scenario work in the Package Manager Console Tools (i.e. Add-Migration) for VS "15". I'll do some more testing, but I should also be able to use the same approach in the .NET Command Line Tools (i.e. dotnet ef).

[2016-11-08 23:16] bricelam commented on #5471
By hooking `AppDomain.AssemblyResolve`, we're able to remove the need to add binding redirects.

[2016-11-08 23:16] #5471 closed

[2016-11-08 23:16] #6916 closed

[2016-11-08 23:56] manospasj commented on #6958
I have also found that the annotation doesn't seem to work either for single property keys. Let's say that I have a property with the annotations [Key] and [DatabaseGenerated(DatabaseGeneratedaOption.None)], when I add a new entity to my DB I get an exception saying that I can't explicitly set the primary key. Even if I remove the annotations and use fluent api, I get the same exception

[2016-11-09 00:00] ajcvickers commented on #6958
@manospasj What is the full message and stack trace? Is it possible that the column in the database has not been modified even though the EF model has been changed?

[2016-11-09 00:06] manospasj commented on #6958
I don't have the stack trace right now. I will post it tomorrow. But you are right, the column doesn't change. There must be something wrong with the migration, because when I add a new migration, it doesn't see any changes to this property.

[2016-11-09 00:16] #6929 closed

[2016-11-09 00:36] divega commented on #6883
@bricelam could you take a quick look at this issue? It seems specific to PMC commands.

[2016-11-09 03:59] pranavkm opened #6974 "[CI] EF.Tools - EndToEndTests.ShowsErrorWhenMissingDesignDependency fails"
[code]

[2016-11-09 04:00] pranavkm commented on #6974
Skipping this test to get the 1.0.3 bits out. cc @bricelam

[2016-11-09 05:11] RainingNight opened #6975 "Recommend add IgnoreOnInsert and IgnoreOnUpdate attribute that limit insert or update."
When update db by dtos with [IgnoreOnInsert] or [IgnoreOnUpdate], this is very useful!

[2016-11-09 06:17] amirazizian commented on #2229
+1

[2016-11-09 07:40] bjorn-ali-goransson commented on #3797
@rowanmiller Won't LL require proxying?

[2016-11-09 11:27] divega commented on #6975
@leshin could you provide a detailed example?

[2016-11-09 13:35] HappyNomad commented on #6956
@ajcvickers The issue was already filed: [Foreign key that references the same table](https://connect.microsoft.com/SQLServer/feedback/details/470632).  It's still "Active" but it's been around since 2009.  Since adding TPT to EF-Core would solve the issue in my case, I hope it doesn't stagnate too.

Triggers are mentioned as another workaround.  Could this be incorporated into EF-Core's SQL Serve

[2016-11-09 13:39] cdie opened #6976 "Cannot create Many-To-Many self relationship with details"
I'm trying to do a self Many-To-Many with details.

Considering this objects :

[code]

And this mapping :

[code]

Adding a migration giving me the following exception :

How can I do such a mapping ? I precise that I've already tried to comment `subBuilder `mapping or `mBuilder` mapping, without success, always the same exception.

[2016-11-09 13:55] goenning opened #6977 "How to use Tools.DotNet 1.0.0-preview3-final with .NET Core 1.1"
I'm currently trying to use Tools.DotNet 1.0.0-preview3-final on a server that only `.NET Core 1.1` is available. Why is it targeting .NET Core 1.0 if it was released with EF Core 1.1?

[code]

[2016-11-09 15:24] sreichi commented on #6897
Update:
I installed the version 1.0.0-preview2-003131 in addition to Version 1.0.0-preview2.1-003155 inside my Docker Container. After that the dotnet ef commands worked.

[2016-11-09 17:10] nh43de opened #6978 "Changing PK Identity Column to DatabaseGeneratedOption.None does not generate correct migration for SQL server"
### Steps to reproduce

1. Create a new empty project (I used sample web application, with net46, and individual user accounts).
2. Create a class "TestClass", add DbSet<TestClass> to the context and add PK column "int TestClassId" to TestClass.
3. Apply attribute "[DatabaseGenerated(DatabaseGeneratedOption.Identity)]"
4. Add migration and update database. This column is a PK and identity column.

[2016-11-09 17:23] ajcvickers commented on #6976
@cdie The problem is that you cannot share navigation properties between two relationships. This is because changes made to the navigation property become ambiguous as to which relationship (i.e. FK) should be modified. You could do something like this:
[code]
This creates the two separate relationships and then exposes the union of both collections on the public surface of the entity.

[2016-11-09 17:28] ajcvickers commented on #6978
Dupe of #5345.

@nh43de As of EF 1.1 you should now get a warning in this case.

[2016-11-09 17:37] bricelam commented on #6883
@bdm4 @cooper1101 What type of project are you using? Could you share your project.

[2016-11-09 17:49] bricelam commented on #6837
For the x86 one, it looks like we always assume the platform is win-x64.

[2016-11-09 17:52] bricelam commented on #6837
This should already be fixed in the VS "15" tools. We get the runtime from the project.

[2016-11-09 17:52] bdm4 commented on #6883
@bricelam I don't think it's anything special. Just a small MVC project that's hung up because of another issue I am having with ef.dotnet.tools and nuget.
https://github.com/FPBSchoolOfNursing/MediaWall

[2016-11-09 17:57] bricelam commented on #6883
It looks like it's a standalone app:

[code]

I'm not sure how well we work with those.

[2016-11-09 18:22] rowanmiller commented on #3797
@bjorn-ali-goransson there are a number of approaches we could use for Lazy Loading, some are more manual and intrusive and others more transparent. We'll be transparent and get feedback when it comes time to design and implement it.

[2016-11-09 18:26] rowanmiller commented on #6714
Done. There were only two API changes between Preview1 and RTM. The changes were in the lower level query components and I synced with relevant folks to make sure they were good.

[2016-11-09 18:26] #6714 closed

[2016-11-09 18:49] manospasj commented on #6958
Below is the full stack trace

[code]

# Steps to reproduce
1) Create an Entity with an integer property and annotate it with [Key].
2) Create a migration and update the database.
3) You can see that in the generated migration file is declared like this
[code]
4) Add the [DatabaseGenerated(DatabaseGeneratedOption.None)] annotation to the primary key.
5) Create a new migration.
6) The new migration

[2016-11-09 18:58] rowanmiller commented on #6920
Closing as I think we've answered things, but feel free to reply if you are still blocked. We know the tooling story is super complex and fragile at the moment and we are working to improve it.

[2016-11-09 18:59] rowanmiller commented on #646
@bricelam investigated and confirmed that the user experience of calling ef.exe directly is not good enough to say that we have provided this feature.

[2016-11-09 19:00] ajcvickers commented on #6958
Since it is an int and a SQL Server identity column it looks like this is a dupe of #5345. With 1.1 the migration should generate a warning.

[2016-11-09 19:08] divega commented on #6970
Clearing up milestone to take this through proper triage.

[2016-11-09 19:13] rowanmiller commented on #6837
Given that xproj is not going to RTM we aren't going to spend time on this. The workaround is to use `dotnet ef`

[2016-11-09 19:19] rowanmiller commented on #6926
@sweetwxh can you open an new issue and include a code listing we can run to see the error.

[2016-11-09 19:37] Grinderofl commented on #3797
@rowanmiller Any hints where to look at for those of us curious about rolling our own? :P

[2016-11-09 19:51] rowanmiller commented on #6966
This should be fixed in 1.1. You can try out preview1 which includes the fix.

[2016-11-09 20:13] divega commented on #6883
@bricelam should we keep the issue in 1.1 or move it out?

[2016-11-09 20:15] smitpatel commented on #6955
This should work by default. Relational one uses `%` syntax for EndsWith instead of RIGHT

[2016-11-09 20:20] divega commented on #515
This issue was moved to aspnet/EntityFramework6#101

[2016-11-09 20:45] smitpatel commented on #6968
`SaveChanges()` is closing connection in this case.

[2016-11-09 22:30] #6970 closed

[2016-11-09 22:34] MichalStrehovsky commented on #5570
The shipping schedule of .NET Native compiler and tools is locked to the shipping schedule of Visual Studio UWP SDK. We understand the frustration this causes - it's not a good place to be in for us, or our users. Visual Studio is a big project and it takes time to get fixes through.

We are working on solving both problems - to bring the bug fixes and performance improvements required for this pa

[2016-11-09 22:39] #6926 closed

[2016-11-09 22:42] #6885 closed

[2016-11-09 22:52] divega commented on #6792
@pranavkm @Eilon any idea why the build output of our feature/1.2.0 branch is not landing in the aspnetcore-feature-work feed? I was under the impression it was automatic :smile:

[2016-11-09 22:54] pranavkm commented on #6792
@divega unfortunatelty it's not automagic. You have to tell the build to push the packages. Here's what Razor does to push - https://github.com/aspnet/Razor/blob/feature/razor-pages/makefile.shade.

[2016-11-09 23:10] smitpatel commented on #6977
@goenning - EF tools are using .NET Core 1.0.0 under the hood. Though it is not required for application to target it. Your application can target any version of .NET Core App. But if you wish to run `dontet ef` commands, it requires your machine to have .NET Core 1.0.0 installed. Just installing .NET Core 1.0.0 on your server will fix the issue without any changes in code.

[2016-11-09 23:13] bricelam commented on #646
A few TODO items:
- [ ] Don't output ANSI escape codes (covered by #6962)
- [ ] Review interaction between `--assembly`, `--startup-assembly`, and the working directory
- [ ] Consider removing `--no-color`
- [ ] Fix argument parsing quirks (covered by #6593)
- [ ] Review argument defaults

[2016-11-09 23:19] divega commented on #6792
cc @anpete about what you asked, see @pranavkm's comment above. Feel free to fix it, or we can wait until we marge feature/1.2.0 into dev.

[2016-11-09 23:29] bricelam commented on #6883
@cooper1101 It looks like you actually don't have `Microsoft.EntityFrameworkCore.Design` installed. Add the following to your dependencies and try again.
[code]

[2016-11-09 23:33] bricelam commented on #6883
@divega I'm still investigating. I'll bring it back to triage when I get to the bottom of it.

[2016-11-09 23:40] Eilon commented on #6792
You are free to merge 1.2.0 changes into dev - the branch is open.

[2016-11-10 00:04] bricelam commented on #6883
I am getting the following error from the project.

Looks like we don't work with standalone apps. Changing to a portable app works:

[code]

[2016-11-10 00:06] bricelam commented on #6883
I'm not sure how involved it would be (or if it's even possible) to support standalone apps, but we could consider showing a better error message in 1.1.0.

[2016-11-10 00:18] divega commented on #6955
@smitpatel the change to the SQL Server provider was done in 1.1. to fix some issues with the default relational translation (e.g. results are incorrect if the parameter string contains wildcard characters) . I believe @ErikEJ is trying to implement the same improvement and I suspect it should be possible to come up with something based on the supported string functions such as `SUBSTRING()`, `CHA

[2016-11-10 00:26] keflem opened #6982 "SubQuery with Aggregates causes uneeded queries in 1.0.0 and throws exception in 1.1.0-preview2-22683"
Attached is a project that exhibits the behavior.

In EF Core 1.0.0 extra queries are generated and "warn" messages are logged.  These extra queries are unneeded as the primary query generated properly retrieves the data that is needed.  In fact, the queries are duplicated over and over again.  Attached is the output.
[EF1_0_0_output.txt](https://github.com/aspnet/EntityFramework/files/582252/EF1_

[2016-11-10 00:30] keflem commented on #6982
Forgot to attach the project.  Here it is.
[EFBug.zip](https://github.com/aspnet/EntityFramework/files/582261/EFBug.zip)

[2016-11-10 00:30] AndriySvyryd commented on #5410
The type for decimal properties should always be specified, even if same as default, due to #6944

[2016-11-10 00:32] anpete commented on #6982
cc @maumar in case this is already fixed in 1.2.

[2016-11-10 00:48] smitpatel commented on #6955
`a.EndsWith(b)`
`RIGHT(a, LEN(b)) = b`
`SUBSTRING(a, LEN(a) - LEN(b) + 1, LEN(b)) = b`

[2016-11-10 00:51] ErikEJ commented on #6955
@smitpatel Great!

[2016-11-10 00:51] goenning commented on #6977
Can we expect a new release of EF tools targeting 1.1 anytime soon?

Official Docker images, for example, does not ship with both versions. Yeah, I can extend it and install it by myself, but I'm trying to leave the footprint as low as possible.

[2016-11-10 01:04] smitpatel commented on #6977
For more info on that see #6897

[2016-11-10 01:20] goenning commented on #6897
I really don't understand why Microsoft is not releasing a 1.1 build for EF tools. DotNet Watch already did it when 1.1 was announced. The docker images were built to be used by a single dotnet version.

[2016-11-10 01:22] maumar commented on #6982
This exception was fixed in 1.2.0 but the scenario hit a bug later in the pipeline. Here is the simplified standalone repro:

[code]

[2016-11-10 01:24] maumar commented on #6982
New exception is: ```System.ArgumentException: must be reducible node```

The query plan is as follows:

[code]

[2016-11-10 01:26] AndriySvyryd commented on #6957
Fixed in 47961c0
@HappyNomad Thanks for finding all these bugs!

[2016-11-10 01:26] #6957 closed

[2016-11-10 01:51] bricelam commented on #6897
@goenning That's the plan for preview4

[2016-11-10 06:46] HappyNomad commented on #6957
@AndriySvyryd I'm not finding the bugs.  The bugs are finding me. 🐜 😱 🐞

[2016-11-10 07:55] cdie commented on #6976
@ajcvickers You surely might be right, on a data/EF perspective.

However, this will break our domain model, and moreover, our domain logic. In fact, the main idea behind the collection and the two Master reference is that they've not the same relation with it. I just create a sample to demonstrate our issue. Doing the way you said, it'll break our domain logic.

We're working in medical software,

[2016-11-10 12:01] danpantry opened #6983 "Add IsRelational(), IsSqlServer(), IsInMemory(), etc. (or GetProviderName()) on DatabaseFacade"
### Steps to reproduce

Given the following class:

[code]

When used in the following manner:

[code]

### The issue
The above code will grant the following error on the line of `MigrateAsync` when executing `DoWorkAsync`:

[code]

This only occurs with the in memory database from my experience and works just fine with the others I've used (which is just sqlite). I would have expected this to hav

[2016-11-10 12:13] danpantry commented on #6983
Another alternative is to use `Microsoft.EntityFrameworkCore.Sqlite` with the connection string set to `Data Source=:memory:`.

[2016-11-10 12:16] JonPSmith opened #6984 "Understanding the ValueGeneratedOnAdd feature"
### Steps to reproduce
I am trying to build an example of `.ValueGeneratedOnAdd()` and `.ValueGeneratedOnAddOrUpdate()` for a book. The `.ValueGeneratedOnAddOrUpdate()` property doesn't seem to be updated.

### The issue
Summary: I have a `CreatedOn` property with the `.ValueGeneratedOnAdd()` setting and  `UpdatedOn` property with the `.ValueGeneratedOnAddOrUpdate()` setting. If I create an entry,

[2016-11-10 12:20] ErikEJ commented on #6983
InMemory is not a relational provider, and therefore does not support migrations

[2016-11-10 13:30] cdie opened #6985 "Add entity with related entity that's not tracked by current context throw exception"
### Steps to reproduce
Considering this architecture
[code]
And this mapping

[code]

Doing this operation  (extra simplified for demonstration purpose)

[code]

Makes last SaveChanges throw exception "Primary key already exists". This is normal because the Inner object is not tracked by the last context. However, this kind of operation happens many times in our application. We don't keep a global

[2016-11-10 16:11] abdu292 commented on #5570
Thanks @MichalStrehovsky for the update. At least we can relax knowing it is being looked at. The silence was pretty annoying with no update.

[2016-11-10 16:17] tiefling opened #6986 "Materialization uses incorrect column value with multiple derived types and shadow properties"
### Steps to reproduce
Load some data from your DbContext as follows...
[code]

Here's the definition for Contact, it's parent and it's children...

[code]

And my DbContext (editied)...

[code]

### The issue
I am unable to load any data from my Contacts table in the database. Contacts is a base class with 4 inheriting types (all of which should be accessible). The only null fields in the databas

[2016-11-10 16:40] rowanmiller commented on #6983
SQLite in in-memory mode is definitely the way to go if you want to do things like migrations. As @ErikEJ mentioned, InMemory is not intended to be a relational database. The Migrations feature is only contained in the relational libraries since it doesn't really make sense for all types of databases. So InMemory doesn't even depend on it. We're going to update the docs to point folks more heavily

[2016-11-10 17:18] livarcocc opened #6987 "Migrations on releases of different runtimes"
I am attempting to publish my application to win10-x64 from a Ubuntu 16.04 system. I am able to publish it correctly but how do I go about adding the migration and updating the database?

I tried using --configuration release flag for dotnet ef, but it defaults to ubuntu-16.04 runtime and creates the migration and database for it instead of the win10-x64. I tried adding the dotnet ef commands to a

[2016-11-10 17:41] ajcvickers commented on #6976
@cdie I'm finding it hard to correlate the domain model you described to the code you posted. Could you post some code representing your domain model, without changing it in any way to try to fit with EF?

[2016-11-10 17:58] ajcvickers commented on #6984
@JonPSmith You need to use HasComputedColumnSql rather than HasDefaultValueSql. Also, you don't actually need the calls to ValuGeneratedOnAdd or ValueGeneratedOnAddOrUpdate because when you call HasDefaultValueSql it automatically sets ValuGeneratedOnAdd  and when you call HasComputedColumnSql  it automatically sets ValueGeneratedOnAddOrUpdate. So your code should be:
[code]

[2016-11-10 18:11] ajcvickers commented on #6985
@cdie There are several ways to handle this:
* Query for the existing object in the context for the unit of work where you will make the changes.
* If the existing object must come from an external source, then treat it as a disconnected entity and Attach it to the context for the unit of work before adding the new entity.
* Use TrackGraph to determine the state for each entity in the graph. For e

[2016-11-10 18:54] #6402 closed

[2016-11-10 19:15] JonPSmith commented on #6984
Thanks @ajcvickers . I was obviously lost there.

It turns out that I misunderstood how the `.HasComputedColumnSql()` command works. I assumed it placed a method that would be executed at the time that the row was read (i.e. the column flag `Is Persisted` is false). However because you wrap the command in brackets it is executed on save.

That is fine, but I think it loses one feature that could b

[2016-11-10 19:27] anpete opened #6988 "Simplify relational ADO interaction code"
Our ADO wrappers/builders/executors are very allocatey and also quite complicated due to the large amount of indirection going on.

We should try and refactor to something a bit simpler and leaner.

[2016-11-10 19:51] ajcvickers opened #6990 "Stop special-casing the root entity on Attach"
Attach sets the state of all untracked entities in the reachable graph to Unchanged, unless the key for the entity has not been set and is using value generation. The same is true for Update/Modified. This would work great for many common cases of disconnected entities.

However, it doesn't work in many cases only because we special case the root entity and force its state to Unchanged even if the

[2016-11-10 20:28] yarmenteros opened #6992 "Materialization using Property instead field"
### The issue
I have problems with the materialization of entities used within Include method. E.F. is using the properties to set values if the associated field does not have the _ prefix. This only happens with entities inside the Include method. If I use the same entity based in their DbSet it works fine without using the properties to set the values.

By tradition I use the same property name

[2016-11-10 20:32] ajcvickers commented on #6992
@yarmenteros Can you provide a more complete listing or project to reproduce the issue? Also, what version of EF Core are you using?

[2016-11-10 20:33] JonPSmith commented on #6984
PS. Another simpler solution. I may not understand this completely (very possible:)), but leaving the brackets off from around the SQL command would allow the developer to make it immediate by putting baskets around it, or execute on read without brackets.

[2016-11-10 20:40] ajcvickers opened #6993 "RelationalFullAnnotationNames should be public"
Since it is used by providers.

We should do this in 1.2 given that we are already breaking providers in that release.

[2016-11-10 20:58] yarmenteros commented on #6992
I using EF Core 1.0.1

[code]

[2016-11-10 23:37] divega commented on #5847
Reopening so that we can consider removing the unused paths in the next major release. I hit this today while hacking some code and it adds confusion to the provider model.

[2016-11-10 23:38] CaffeinatedFunctionality opened #6995 "Generic Async and Find Methods"
I have a generic class using `DbSet<T>` I cannot seem to find a `Find` or `FindAsync` method. Is this already implemented and I'm just doing it incorrectly or is this something that hasn't been built yet? Thanks for your hard work guys. I did notice the Async methods work well for calling those methods in not a generic way, however for Generics it seems to not be available.

[2016-11-10 23:43] ajcvickers commented on #6995
@scy0846 What version of EF Core are you using? Find in all its forms was introduced in EF Core 1,1, which is currently available as a preview package on NuGet.

[2016-11-10 23:43] ErikEJ commented on #6696
Note to self: Overrdie "VisitOrderByClause" and force client eval, if Expression type is not supported

[2016-11-11 00:09] smitpatel commented on #6696
With #6911 Now it is possible for providers to override `SqlTranslatingExpressionVisitor`. This is the main translator which convert fragments of query model into SQL. When it fails to convert to Sql, that tells our framework to do client evaluation for that part.
The main entry point of this class `Visit` method, generates result here.
https://github.com/aspnet/EntityFramework/blob/dev/src/Micros

[2016-11-11 00:57] smitpatel commented on #6986
I am not able to repro this based on data provided above.
Based on exception message query is returning null value where EF does not expect a null.
Since this could be based on data can you post results of this query:
[code]

[2016-11-11 00:59] scy0846 commented on #6995
Oh my God thank you! I see it in the prerelease. Thanks again for your hard
work.

On Thu, Nov 10, 2016 at 6:43 PM, Arthur Vickers <notifications@github.com>
wrote:

[2016-11-11 00:59] scy0846 commented on #6995
Out of curiosity can you use EF6 for a ASPNet Core project? Is there any
issues with that at all?

On Thu, Nov 10, 2016 at 7:59 PM, Taylor Mitchell <scy0846@gmail.com> wrote:

[2016-11-11 01:20] divega opened #6996 "Integrate Api Check"
Api Check can be integrated into our build to help avoid unintentional breaking changes between releases. The tool and the process to add exceptions is described at https://github.com/aspnet/BuildTools/wiki/Api-Check.

An example of a baseline Initial baselines have been checked in at https://github.com/aspnet/EntityFramework/tree/javiercn/breaking-changes (although they may need updating).

cc @j

[2016-11-11 05:27] maumar opened #6997 "Complex query with navigations, contains and client eval produces invalid query plan"
Found when investigating https://github.com/aspnet/EntityFramework/issues/6937

using ComplexNavigations model
[code]

Exception is as follows:

System.InvalidOperationException : variable 'l2.OneToOne_Optional_FK' of type 'Microsoft.EntityFrameworkCore.Specification.Tests.TestModels.ComplexNavigationsModel.Level3' referenced from scope '', but it is not defined
	at System.Linq.Expressions.Compile

[2016-11-11 07:34] tiefling commented on #6986
I'll get that to you ASAP. The only nulls in the data are with the Ids that are specific to each child class of contact. I think that is where the bug lies.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Smit Patel <notifications@github.com>
Sent: Friday, November 11, 2016 12:57:42 AM
To: aspnet/EntityFramework
Cc: Keith Jackson; Author
Subject: Re: [aspnet

[2016-11-11 08:52] tiefling commented on #6986
Output from the query and also a list of all of the data in the table in the same format is attached...
![query](https://cloud.githubusercontent.com/assets/1827169/20209287/82aab65a-a7eb-11e6-86ca-c2e25dfd3890.png)
![alldata](https://cloud.githubusercontent.com/assets/1827169/20209286/82aab416-a7eb-11e6-8745-142b9e75b512.png)

I can create the data fine, whether I create a Contact or any of it's c

[2016-11-11 11:02] danpantry commented on #6983
Cool, good to hear. Totally understand that InMemory is not relational, but the error doesn't really convey that very well. :(

[2016-11-11 12:27] JonPSmith opened #6999 "Can ValueGenerator be applied in add and update situation?"
### Steps to reproduce
**Summary:** I am trying to understand the `ValueGenerator`\`.HasValueGenerator` feature. To do so I
am trying to create a simple tracking example where I saved the username of the person that created, and the username of person that updated a class.

### The issue
It looks like the `ValueGenerator` is only called on an add. Is that correct?

I can of course override `SaveCh

[2016-11-11 13:17] ErikEJ commented on #6696
@smitpatel Thanks sooo much for all your help with this! As you can see above, we have made great progress already. Any idea when #6911 will be avilable in the aspnet-dev feed on myget?

[2016-11-11 16:52] mstaessen opened #7000 "EF executing redundant query for every record in resultset when projection contains nonmapped property"
### Steps to reproduce
Repro case:

[code]

### The issue
For every record in the resultset, EF is executing irrelevant queries. This only happens if your query projection includes a non-mapped property.

Queries executed:

[code]

### Further technical details

EF Core version: 1.0.1
Operating system: Windows 10
Visual Studio version: 2015

Other details about my project setup:

[2016-11-11 17:04] ajcvickers commented on #6999
@JonPSmith Value generators are only invoked when adding a new entity (setting its state to Added) and the property value is the CLR default. We have talked about allowing them to be invoked at other times, but we haven't made any plans to do so.

[2016-11-11 17:24] JonPSmith commented on #6999
Thanks @ajcvickers. All goes to my understanding of EF Core. I may change my example for the book as I'm not sure I'm using Value generators in the way you intended. From looking more at your tests it looks like you designed Value Generators to create keys.

It was a good idea while it lasted  :blush:

[2016-11-11 17:55] ajcvickers commented on #6992
@yanchenw Here is a full console application using your code:
[code]
I ran it first as above and got the following output:
[code]
I then renamed all the backing fields to have a "_" prefix and ran again. The output was the same.

Could you look at the code and see what changes are needed to reproduce what you are seeing?

[2016-11-11 17:57] yanchenw commented on #6992
@ajcvickers you want @yarmenteros , not me. :)

[2016-11-11 18:01] ajcvickers commented on #6992
Sorry. :-)

[2016-11-11 19:02] rpokrovskij opened #7001 "Improve Exception message: Unable to create or track an entity of type 'abc' because it has a null primary or alternate key value."
I have found the difference between Unique Index and Unique constraint: the exception in case of NULL value. In case of Unique Index you have a sqlserver exception  with message that contains column name "Cannot insert the value NULL into column...", when in case of Unique Constraint we get InvalidOperationException with generic message: **Unable to create or track an entity of type 'TestParentRec

[2016-11-11 19:36] divega commented on #5847
**EF Team Triage:** this smells but it was done for perf. Some methods may not be currently used but we are ok with it.

[2016-11-11 19:39] divega commented on #6883
**EF Team Triage:** we are not planning to support stand-alone apps in their current form. We will revisit stand-alone apps in the future when they are easier to support.

[2016-11-11 19:41] divega commented on #6951
**EF Team Triage:** we are not planning to make any changes to EF Core re CLS compliance.

[2016-11-11 19:52] divega commented on #6983
**EF Team Triage:** we want to improve the exception message to explain that migrations is not supported by the provider and add sugar to ask if the database supports this functionality (e.g. `IsRelational()`, provider-specific `IsSqlServer()` and `IsInMemory()` or `GetProviderName()`) to make it easier to write conditional code in tests.

[2016-11-11 21:54] smitpatel commented on #6986
Data-corruption issue with shadow properties. It throws in this case due to presence of `Required` attribute.

[2016-11-11 22:16] hugoterelle opened #7003 "Wrong SQL generated for query with group join on a subquery that is not present in the final projection"
Hi,
I have 2 entities with the following code:

[code]
Where RootEntity and Entity are

[code]
So nothing special.  Just a one-to-many relationship between Brand and Smartphone.
The resulting SQL table are:

[code]

I try to retrieve my "Smartphone" list with the following parameters:

* sort by brand name, then by smartphone model
* skip at least 'skip' rows
* take maximum 'take' rows

Here is th

[2016-11-11 22:31] tiefling commented on #6986
I've refactored my design to unblock myself for now by using a composition rather than inheritance approach to the different contact types. I've kept a tag and branch live of the original code state though, so if I can help with anything more don't hesitate to give me a shout.

[2016-11-11 23:38] bricelam opened #7004 "Dissolve Relational.Design into just Relational and Design"
We've briefly talked about this before, so I'm creating an issue to make any decisions.

We should either:

- Split database creation (`DbContext.Database.EnsureCreated()` and Migrations) out of `Microsoft.EntityFrameworkCore.Relational`.

or

- Merge Reverse Engineering (`Microsoft.EntityFrameworkCore.Relational.Design`) into Relational.

This would cascade into each provider. They would either n

[2016-11-12 00:31] maumar commented on #7000
This is by design. When you include unmapped property as a part of projection (or elsewhere) it forces client evaluation on that element, which in case of anonymous type results in evaluating every element separately. This scenario has been improved in our current bits (as part of other improvement) - we will now correlate the elements from those extra queries, so only the right rows are being ret

[2016-11-12 00:37] JRBonnema commented on #6951
Fine with me, maybe you should inform the Code Analysis team that in one of there coming releases they should drop the relevant warnings in case of analysing EFCore code.

[2016-11-12 00:58] maumar commented on #7003
This still repros on your current bits. Simplified repro:

[code]

[2016-11-12 01:05] maumar commented on #7003
wrt the second query's order - this happens because we introduce order by key any time we produce left outer join (which under the covers we translate into SelectMany-GroupJoin, and we rely on ordered results to group them correctly). The second orderby was performed on the client because of https://github.com/aspnet/EntityFramework/issues/4588 (now fixed).

in the current bits, for the query with

[2016-11-12 01:06] strohhut commented on #6907
The logic should probably be:

[code]

[2016-11-12 02:48] maumar commented on #6662
sending back to trige as there has been no reply for a long time and I believe the problem should be solved by removing Culture overload

[2016-11-12 02:55] maumar commented on #5825
We should translate those types of comparisons into noop in case users trying to write defensive code (i.e. guarding for nulls before performing some other operation). If the intention was to check for any elements, hopefully this will be easy to spot.

[2016-11-12 06:56] ra0o0f opened #7005 "FromSql not composing with LINQ"
Hi

Following `FromSql` query does not compose with LINQ. No exception is raised and the result is correct BUT `Sql Server Profiler` shows that `Where` clause is not composing with `FromSql` query.

[code]

but the query in `Sql Server Profiler` is:

[code]

which shows `Where` clause is not included in query

EF Core version:1.0.1
Operating system: windows 10
Visual Studio version: vs 2015

[2016-11-12 08:08] mstaessen commented on #7000
Is this documented somewhere? This can have a significant impact on performance and it isn't very straightforward that the nonmapped attribute is the culprit.

[2016-11-12 09:05] ErikEJ opened #7006 "Cannot install Microsoft.EntityFrameworkCore.Relational.Design.Specification.Tests.1.1.0 from RTM feed"
### Steps to reproduce
Attempting to install above package fails

### The issue
See title, installing into a .NET 4.5.1 class library (changing the target framework to 4.6.1 does not make any difference)

Exception message:
Attempting to gather dependency information for package 'Microsoft.EntityFrameworkCore.Relational.Design.Specification.Tests.1.1.0' with respect to project 'test\EntityFramewor

[2016-11-12 09:48] MohammadAkbari commented on #5815
The Issue still exist in 1.1.0 preview 1 version.

inheriting from **IdentityDbContext< ApplicationUser >** causes to project all properties of an entity.

it doesn't happen when entities are not inhering from **IdentityDbContext< ApplicationUser >**

instead of selecting only name and username  in the following query all properties are projected.

[code]

[code]

[2016-11-12 12:52] BigVan opened #7007 "Data Annotations seems doesn't work in derived class"
Hi~
When I am using EF core to create `MySQL` table `(using  MySQL.Data.EntityFrameworkCore Package)`, I found some problems that Data Annotations `[Column( TypeName = "varchar(200)" ]` seems doesn't work.

### Steps to reproduce

Here is my code:
[code]

When the database created, the type of column 'Description' is still varchar(255).

However, when I use 'Fluent API' as follow:
[code]
It can ch

[2016-11-12 12:56] nrkarthick commented on #4293
Hi folks .. any updates ?..

[2016-11-12 17:31] RonPenton opened #7008 "Add-Migration fails when AudioRoutingEndpoint is used within UWP App"
### Steps to reproduce
I have a UWP app which includes a function in a Xaml.cs file that references "AudioRoutingEndpoint". Whenever I try to perform an "Add-Migration" command, the execution fails with an exception stating that it cannot find this type. It should be noted that the use of this type occurs nowhere on any of the model or context classes; it's purely in the UI and has nothing to do w

[2016-11-12 17:37] smitpatel commented on #5815
@MohammadAkbari - It happens only in the case, when FK property is nullable (in this case, ApplicationUser.Id is string type which is nullable). Regardless of what property you project out, due to group join, we need to fetch whole related entity. Improvements are tracked at #6647 which is not resolved yet.

[2016-11-13 10:21] hugoterelle commented on #7003
Ok, thanks for your answer.  When the new release will fix these issues?

[2016-11-13 10:45] ErikEJ commented on #7003
@hugoterelle Very soon!

[2016-11-13 12:08] Defee commented on #5900
@natemcmaster could you advise on following:

1. My Server model (DB) is separated on various contexts about 5-7 on separated dll's (packages).
2. The server models will be stored in nuget. So the contexts and configurations of EF API will be stored there too.
3. I want to run the migrations on my web project that references the packages.

Earlier those issues can be resolved by storing particular

[2016-11-13 21:04] gdoron commented on #5444
@anpete @rowanmiller  just got hit by this one (constantly on one specific query) on 1.0.0 after working **for months** on this release.
Can you please shed some light why is this happening and how to avoid it in a non 1.1.0 release?

It looks very random that it drove me mad. 😢

[2016-11-13 22:20] Serjster commented on #2274
This issue is still not fixed.

[2016-11-13 23:17] smitpatel commented on #2274
@Serjster - Is 'Issue.Customers` collection navigation?

[2016-11-13 23:52] Serjster commented on #2274
Oops, sorry converting from my domain specific classes... you're right, that is supposed to be `Customer` (updated above). Thanks for noticing it.

[2016-11-14 06:01] kenhahn85 commented on #6878
Thanks. For those who read in this in the future, what I ended up doing was making a constructor for each subclass in the base class:

[code]

[2016-11-14 06:12] publicvirtualvoid commented on #3797
@rowanmiller I'm also interesting in hacking something up to use until the proper release. Performance and efficiency are not very high priority since it's an internal app, and I'd like to avoid manually eager loading everything.

Is this possible? Do you have any pointers?

[2016-11-14 08:19] cdie commented on #6976
@ajcvickers This is a example to represent my case. In my domain, Master represents a medic object, and Subs a replacement session.
In fact, after discussing with my team, for more simplicity, we'll use the solution you present by exposing two public collection, to avoid making LINQ query on a general collection for retrieving data.
Thanks for helping

[2016-11-14 10:27] JonPSmith opened #7010 "[DatabaseGenerated(DatabaseGeneratedOption.Identity)] incorrectly configures the column as SqlServer identity"
### Steps to reproduce
I tried using the `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` attribute on a DateTime (which has a default value constraint on the column) as described in the [Generated Properties](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties) documentation and I got an error as shown below:

Personally I think the documentation is wrong, as the `[Datab

[2016-11-14 10:44] gdoron commented on #5444
@anpete @rowanmiller  Also, worth mentioning, I'm running on full .NET Framework and not UWP.
So I hope the fix isn't just for UWP.

[2016-11-14 12:31] chrispepper1989 opened #7011 "Deleting bulk items by ID (e.g. Integrating Extended Entity Framework Features?)"
Apologies if this is the wrong place to raise this but I was wondering if there have been any plans to integrate features from:

   https://github.com/loresoft/EntityFramework.Extended

Reason I ask is I am currently getting full models back **just to delete** them, here is a simplified version of what I am doing (effectively we don't, and can't, have cascading foreign keys in the DB)

[code]

[co

[2016-11-14 16:37] natemcmaster commented on #5900
@Defee please open a new issue for your question.

[2016-11-14 18:12] denisz1 opened #7012 "Document exceptions"
MS SDKs typically document which exceptions are thrown.

This is crucial information. We cannot properly handle our error paths without knowing what is going wrong (and catching an `Exception` tells us nothing).

Many EF Core methods lack complete documentation, because they do not mention exceptions thrown. [MSDN was good at this](http://msdn.microsoft.com/en-us/library/system.data.entity.dbconte

[2016-11-14 18:13] rowanmiller commented on #7011
We've got the feature on our backlog (https://github.com/aspnet/EntityFramework/issues/795). It's not something we are planning to do in the immediate future, but we do think it would be a good feature to have.

[2016-11-14 18:18] rowanmiller commented on #5444
@aflx the code you shared is by-design. Because you are storing the task that represents the query and not executing it right away, the context is disposed by the time you run the query. You either need to execute the query within the using statement (like you do in the second listing), or increase the scope of the context so that it is not disposed when you run the query.

[2016-11-14 18:18] markolbert opened #7013 "Includes Not Honored After Recreating Context"
I posted a question about this over on stackoverflow (http://stackoverflow.com/questions/40594653/include-ignored-after-recreating-context), but since then I discovered a workaround which I believe highlights an issue in EF Core.

I have two entities linked in a one to many relationship:

[code]

I'm processing entries returned from an underlying SqlServer database in batches, and part of the proc

[2016-11-14 18:21] gdoron commented on #5444
Just following up, I found a bug in my code involving threads and query running outside the scope of the context, disregard all my comments.
Sorry.

[2016-11-14 18:21] rowanmiller commented on #5444
@gdoron thanks for confirming!

[2016-11-14 18:27] rowanmiller commented on #3797
@Grinderofl @publicvirtualvoid it would be very difficult to do right now. The main piece missing is an event when an entity is created - so that you can wire up some form of lazy loading in its navigation properties. You might be able to do this, but you'd be mucking around with a lot of internal services and would be on your own working it out (and no promises it would work).

[2016-11-14 18:36] rowanmiller commented on #6956
We discussed this but decided we don't want to work around this limitation in the EF stack.

[2016-11-14 18:37] rowanmiller commented on #6971
Can you make sure you have the latest preview of the .NET Core tooling installed - https://www.microsoft.com/net/core#windows. We think it may be an outdated version on NuGet included in an old version of the tooling.

[2016-11-14 18:42] rowanmiller commented on #6961
The approach you described is one that we have seen folks use. The foreign key scenario is really the same as the first one, you just need to generate a migration (with all the base types in the model) before you create the new relationship. Cascade delete would work, or optional relationships with SetNull for the cascade behavior.

[2016-11-14 18:50] rowanmiller commented on #6995
@scy0846 you can use EF6 in an ASP.NET Core project that targets the full .NET Framework (as opposed to .NET Core).

[2016-11-14 18:54] maumar commented on #6953
The problem here is that AutoMapper introduces ToList() inside ProjectTo method. ToList forces client evaluation on everything that happens after it. Essentially the query that is produced is as follows:

[code]

Similar query but without AutoMapper:

[code]

produces the following SQL:

[code]

[2016-11-14 18:58] rpokrovskij commented on #4021
Why just not to start from simpler things: smartly serialize entity (with all it "navigation") to JSON using model information to avoid circular references)? Then you will be able just to append JSON from db fields "as is" and send all together to further layers (usually SPA).  It should cover 95% of JSON field usages.

[2016-11-14 19:00] rowanmiller commented on #6907
@strohhut good point 😄... I updated the code sample

[2016-11-14 19:03] rowanmiller commented on #6662
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-14 19:03] rowanmiller commented on #6939
Closing but we'll reopen if you are able to provide the details

[2016-11-14 19:03] rowanmiller commented on #6954
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-14 19:04] rowanmiller commented on #6965
Closing as we decided not to change the default

[2016-11-14 19:18] rowanmiller commented on #7007
What version of EF Core are you using?

[2016-11-14 19:21] JoeSherwood335 opened #7014 "i am unable to reverse engineer models from my already created database"
### Steps to reproduce

Sql Server 2012
create a Custom DataType
create a Table with that Custom Datatype
run
dotnet ef dbcontext scaffold "Datasource" "Microsoft.EntityFrameworkCore.SqlServer" -o models -t "schema.tablename" -a

### The issue
i am unable to reverse engineer models from my already created database
using
dotnet ef dbcontext scaffold "Datasource" "Microsoft.EntityFrameworkCore.SqlSe

[2016-11-14 19:22] rowanmiller commented on #7012
Note to self - look for custom exception types that we have defined

[2016-11-14 21:04] rowanmiller commented on #7000
@mstaessen the more general topic is covered by https://docs.microsoft.com/en-us/ef/core/querying/client-eval.

[2016-11-14 21:05] Defee opened #7015 "Work with Nuget packages containing DbContexts and Migrations. / Work with separate dlls containing context."
### The issue
@natemcmaster could you advise on following:

1. My Server model (DB) is separated on various contexts about 5-7 on separated dll's (packages).
2. The server models will be stored in nuget. So the contexts and configurations of EF API will be stored there too.
3. I want to run the migrations on my web project(s) that references the packages.
4. The contexts could target one DB or mul

[2016-11-14 21:56] bdm4 commented on #6971
.Net Core 1.0.1 Tooling Preview 2 was already installed. I tried a repair install and no luck.

[2016-11-14 22:14] maumar commented on #2274
@Serjster could you provide a repro? Specifically code listing of all the entity classes and DbContext (especially contents of OnModelCreated method). Also, which version of EF are you using?

[2016-11-14 22:18] maumar commented on #7000
@mstaessen It is not explicitly documented, but unmapped property is from EF perspective identical to using a client-side method. The reason is that implementation of that property could contain arbitrary client code (calling client-side method etc)

[2016-11-14 22:24] anpete opened #7016 "Query: Compiled Queries: Support "non-rooted" query expressions"
User compiled queries allow for more expressiveness in creating query LINQ expressions. E.g.

[code]

This particular query currently fails, I think because of a re-linq issue. In general, we should decide whether we want to spend time on making this work and testing it.

[2016-11-14 22:45] #6829 closed

[2016-11-14 22:45] #6962 closed

[2016-11-14 22:51] gmartinezsan opened #7017 "Nested transactions occurred with ConcurrencyCheck in MySQL provider."
### Steps to reproduce
Before updating to EF Core 1.1 this same example was working with our MySQL provider.
https://docs.microsoft.com/en-us/ef/core/saving/concurrency

### The issue
After updating to EF Core 1.1 we have a nested transaction exception. MySQL does not support nested transactions. Which I think might be the problem if this is a requirement in order to support the ConcurrencyCheck f

[2016-11-14 23:30] bricelam commented on #7015
`dotnet-ef` currently requires a `project.json` file; it can't be used on assemblies directly.

If the `DbContext` types have been added to the consuming web app's services using `IServiceContainer.AddDbContext<T>()`, you should be able to call `dotnet ef database update` as you would on any other DbContext.

We also have issue #646 which is a tool more similar to `migrate.exe` which can work dire

[2016-11-15 00:10] maumar commented on #6937
Fixed in 89659030884949531dc88aeedef74bc8cc9666f1

[2016-11-15 00:10] #6937 closed

[2016-11-15 01:35] jnm2 commented on #7016
I'm positive there are scenarios where I am doing this with EF6 and would definitely expect it to work.

[2016-11-15 07:12] kierenj commented on #6937
@maumar - thank you!

[2016-11-15 13:04] deepanshgupta opened #7019 "Nullable Foreign Keys for Columns in one table which is being used to map Many to Many relationship between rows of another table."
[ManyToManyOnSameTable.zip](https://github.com/aspnet/EntityFramework/files/591954/ManyToManyOnSameTable.zip)
### Steps to reproduce
1. Download and Unzip the solution attached with the issue.
2. Provide the correct connection string for database connectivity to SQL Server 2016 in the appsettings.json file.
3. Execute the solution and verify the schema created in the database.
4. Firms table in th

[2016-11-15 13:25] HappyNomad commented on #1758
@rubenprins I also want EF-Core to reference a common `IAsyncQueryProvider`.  Many of your complaints regarding Ix [were resolved](https://www.dotnetfoundation.org/blog/rx-net-welcome), and EF-Core references it anyway, so I think that's its natural home.  In fact, it's [already there](https://github.com/Reactive-Extensions/Rx.NET/blob/master/Ix.NET/Source/System.Interactive.Async.Providers/IAsync

[2016-11-15 13:46] FritzTheDarkCat opened #7020 "Using .Include() on a one-to-one relation does only return one "parent""
### Steps to reproduce
1. Using model first... targeting SQL-Server

2. Based on the "Creating a complex data model" post found here: https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/complex-data-model

3. using the partial model (Create the Instructor Entity,  Create the OfficeAssignment Entity) that implements a one-to-one or one-to-zero-or-one relation.

4. using add migration for the t

[2016-11-15 13:52] HappyNomad commented on #2900
@axelheer

It looks like `System.Interactive.Async` (Ix) has taken on this role.  I just [requested a feature](https://github.com/Reactive-Extensions/Rx.NET/issues/294) to bridge a remaining gap with EF-Core.

[2016-11-15 16:57] axelheer commented on #2900
Oh no, `IAsyncQueryable` does not implement `IQueryable`. Thus, everything has to be done twice... 😞

[2016-11-15 18:42] johnmurphy01 opened #7021 "Release and/or Delete SQLite database"
### Steps to reproduce
I have a sqlite database that I create locally. Whenever the app goes online and a user signs in an identical in structure, already populated sqlite database is retrieved from a server. I also have an "offline" database that stores local changes that eventually get synced to the cloud. My app uses the offline database as the main database and attaches the online database. Th

[2016-11-15 18:48] rowanmiller commented on #6967
The easiest place would be to logging - https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging. You can look at the `state` parameter that gets passed to `Log` method, you are interested in events where state is an instance of `Microsoft.EntityFrameworkCore.Storage.DbCommandLogData`

[2016-11-15 18:50] rowanmiller commented on #7005
Can you share a complete code listing (or project) that we can run to see the issue? We need to know what the various properties etc. in the model are to work out why this is being client evaluated.

[2016-11-15 18:50] rowanmiller commented on #7013
Can you share the SQL that is being generated for the first and second iteration?

[2016-11-15 18:57] bricelam opened #7022 "Merge Tools.DotNet back into Tools"
As far as I can tell, there is no need to have two packages.

NuGet appears to support multiple package types.
[code]

Unfortunately, the tool still needs to be under `lib\netcoreapp1.0` which means you'll get extra dependencies on that framework. However, we could probably make all our types internal and remove virtually all package dependencies.

[2016-11-15 18:58] kierenj commented on #6967
Ah great thanks, I had been playing with logging and had wondered if anything out in the wild was using real `state` objects - fantastic.

I'm quite keen on getting access to either the LINQ expression going in, or something that can be used to check the "magnitude" of data returned.  This is to determine if a projection or filter has been applied, as well as get some metric on data in/data out fo

[2016-11-15 19:08] rowanmiller commented on #6975
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-15 19:11] rowanmiller commented on #7014
Can you share the create table statement for your table. This is probably somewhat by-design in that we don't support custom data types, but we would expect a warning that we couldn't map the column before a warning about the PK.

[2016-11-15 19:14] rowanmiller commented on #7015
Another alternative is to have the consuming application call the `DbContext.Database.Migrate()` API

[2016-11-15 19:14] rowanmiller commented on #7015
Closing as a dupe of #646

[2016-11-15 20:03] markolbert commented on #7013
I'd be happy to, but I was under the impression -- obviously wrong -- that there wasn't a way, yet, to look at the generated SQL. I'll look into how to do that, but if you'd care to share the instructions here that might be faster.

[2016-11-15 20:35] JoeSherwood335 commented on #7014
CREATE TYPE [dbo].[FieldType] FROM [varchar](6) NOT NULL

CREATE TABLE [schema].[table](
	[FieldName] [dbo].[FieldType] NOT NULL,
        [FieldName2] [nvarchar](11) NOT NULL

 CONSTRAINT [PK_tk] PRIMARY KEY CLUSTERED
(
	[FieldName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

[2016-11-15 20:43] rowanmiller commented on #7013
I usually just run SQL Server Profiler. You can also wire up logging in EF https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging.

[2016-11-15 20:46] ajcvickers commented on #6924
Some additional thoughts on this:

* Consider changing IDatabaseProviderServices so that it can be implemented as a singleton. This would mean that each provider would have a singleton instance, with the one being returned in the scope being the one fore the selected provider. It could then cache singleton provider services to avoid a GetService call. The service provider could no longer be inject

[2016-11-15 21:13] lajones commented on #7014
Could you try running the command with the `--verbose` flag turned on and post the results please?

[2016-11-15 21:32] divega commented on #7021
Possibly related to https://github.com/aspnet/Microsoft.Data.Sqlite/issues/299.

[2016-11-15 22:03] johnmurphy01 commented on #7021
I don't _think_ that's the issue(at least I hope not because there's no current solution other than adding an exception to Defender which would require user interaction). I turned off Windows Defender and I'm still getting the exception about the file still being in use.

**Some more information:**
I have two Contexts: one is the offline database context and whenever it's used(via a using statemen

[2016-11-15 22:10] ajcvickers commented on #6976
@cdie Couple of questions about the domain model:
* What is supposed to happen to a new LettreCleAssociation if it is added to the LettreCleAssociations of a LettreCle. Is this supposed to not be allowed? If it is allowed, then should LettreClePrincipale now point to the LettreCle,  or should LettreCleSecondaire now point to the LettreCle, or should neither, or should both?
* In the same situation

[2016-11-15 22:29] markolbert commented on #7013
Another personal "D'Oh!" moment: I'm embarrassed to admit how long I've been using SSMS, and never noticed, or even thought to look to see if it had, a profiler. Which is kind of an obvious feature for something like SSMS.

In any event, I was able to determine what the problem is. I've attached the t-sql export for the trace file for your reference, but here's my analysis.

EF evaluates the query

[2016-11-15 23:20] rowanmiller commented on #7013
Thanks, I think this aligns with what @smitpatel speculated. He will take a look at the issue.

[2016-11-16 00:42] BigVan commented on #7007
MySQL.Data.EntityFrameworkCore (7.0.6-IR31)

[2016-11-16 01:29] smitpatel commented on #7013
@markolbert - Can you try running it with EF version 1.1.0-preview1 to see if queries are working correctly? This is dupe of #5901 and it was properly fixed with #6607 which is available in preview release. I tried running a repro and we are now generating `INNER JOIN` instead of `WHERE EXISTS` which should give correct results.

[2016-11-16 04:08] jnm2 commented on #7021
@johnmurphy01 Cake.SqlServer solved this by putting the database in offline mode before dropping. (https://github.com/amvsoftware/cake.sqlserver#drop-database) Does that help?

[2016-11-16 08:06] cdie commented on #6976
@ajcvickers

We've defined a method to manage the collection, because the LettreCle domain entity should be responsible of its relationship

[code]
As you can see, the LettreClePrincipale (first parameter of ctor) is always the entity that is currently managed, so it should point to current entity. The LettreCleSecondaire is another instance with a different Code (the Code is a member that's uniqu

[2016-11-16 09:06] DenisAgarev commented on #4021
Yes, agree that we want mapping for just selection. It's not critical to serialize/deserialize on update but would be very helpful with odata sorting and filtering.

[2016-11-16 11:22] ra0o0f commented on #7005
complete code listing:

Entities:
[code]

DbContext:
[code]

connection string
[code]

LINQ query:
[code]

Tables:

[code]

[2016-11-16 12:51] koushik-aravalli opened #7027 "Unable to find provider assembly with name Microsoft.EntityFrameworkCore.SqlServer. Ensure the specified name is correct and is referenced by the project."
### Steps to reproduce
1. Create a class Library-.Net core
2. Add Following Dependencies:

[code]
### The issue
When performing Scaffold-Dbcontext towards a SqlServerDB like below, Microsoft.EntityFramework.SqlServer dll is not resolved..
Scaffold-DbContext "Server={ConnectionString}" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -verbose
[code]
### Further technical details

EF Core v

[2016-11-16 13:50] johnmurphy01 commented on #7021
Does SQLite have the concept of taking a database offline? I couldn't find any references to this concept with regards to SQLite. I think it may just be a SQL Server idea.

[2016-11-16 13:56] jnm2 commented on #7021
@johnmurphy01 My bad, I was thinking LocalDB.

[2016-11-16 15:20] arielcloud opened #7028 "migrationBuilder.DropIndex table param can't be null"
I tried migrationBuilder.DropIndex("IX_XId_YId")

and got exception on update-database:
"System.ArgumentNullException: Value cannot be null.
Parameter name: name"

but it look like it's documentation allow it to be null. see attached picture
![2016-11-16_17h19_11](https://cloud.githubusercontent.com/assets/12379498/20352700/e283f1ca-ac20-11e6-806e-955aeb0d383d.png)

(version 1.0.1)

[2016-11-16 16:00] ErikEJ commented on #7021
@johnmurphy01 Make the file readonly?

[2016-11-16 16:01] ErikEJ commented on #7028
Did you try 1.1 ?

[2016-11-16 16:48] johnmurphy01 commented on #7021
@ErikEJ setting the file to read only also does not appear to work. I confirmed that read only was set by going to the file and checking the properties in Windows Explorer. I also rebooted my machine just to make sure there wasn't some other process outside of my application that had a handle on the file.

[2016-11-16 17:02] rowanmiller commented on #6971
We're not really sure what is happening here. It's not an issue we have seen before. One idea we had was to try using [Fusion logs](https://msdn.microsoft.com/en-us/library/e74a18c4(v=vs.110).aspx) to try and work out what is loading the older version of NuGet, and where the older assemblies are located.

[2016-11-16 17:07] bricelam commented on #7028
SQL Server requires the table to be specified, but other providers (like PostgreSQL) do not. Hence, the API allows `null`, but the SQL Server provider does not.

[2016-11-16 17:11] bricelam commented on #7028
To illustrate, Here is the DDL.
[code]

[2016-11-16 17:13] ajcvickers commented on #6976
@cdie So what you have is two relationships where the domain model constrains and merges those relationships on one side into a single collection. The way to handle this in EF is to either:
* Have two collection navigation properties (which can be private) and implement business logic to handle the domain constraints and expose a single collection.
* Omit EF's navigation properties all together an

[2016-11-16 17:13] adrianorc commented on #1465
Hi.
I'm not sure if this is the right place to post question. Excuse-me if I'm wrong.

I am trying to unapply a migration and I'm getting the following message:
[code]

Next, I'm trying to unapply this migration. But the command `Apply-Migration` isn't recognized.

And I didn't find any reference to this command in the docs:
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell

Is

[2016-11-16 17:16] bricelam commented on #1465
@adrianorc To revert (or unapply) a migration from the database use `Update-Database ThePreviousMigration`. To remove (or delete) a migration from the project, use `Remove-Migration`.

[2016-11-16 17:18] matthewDDennis opened #7029 "How to set Column Description"
I've read the docs, browsed the source and applied my Google and Bing Foo but can not determine
**How to set the description on a SQL column using EF Core Code First.**

Help!

[2016-11-16 17:21] adrianorc commented on #1465
@bricelam Worked. Thank you!

[2016-11-16 17:32] rowanmiller commented on #7029
There is no native API to do it. You would need to use the `Sql(string)` method in a migration to set the description.

[2016-11-16 17:38] satyajit-behera commented on #2266
@rowanmiller Hope this is taken up soon and allow everyone to move to DOTNET CORE faster. This is one of the important feature holding us back. No other alternative working out as a replacement for this feature. Thanks.

[2016-11-16 18:02] rowanmiller commented on #7021
There isn't anything obvious from the description that should prevent this from working. I think we're going to need something we can run in order to debug this. Are you able to provide a project that demonstrates the scenario so that we can debug it?

[2016-11-16 18:06] rowanmiller commented on #6967
You are probably going to have to look at wrapping some services in order to do that. You're kind of on your own, as it's not really a scenario we test for etc. We do have a test that does some wrapping that may be of use to you as some general guidance to get started - https://github.com/aspnet/EntityFramework/blob/dev/test/Microsoft.EntityFrameworkCore.Sqlite.FunctionalTests/BadDataSqliteTest.cs

[2016-11-16 18:15] rowanmiller commented on #7019
The columns are nullable because the foreign key properties in the entity class are nullable. If you want the relationship to be required, then just change the properties to be non-nullable (i.e. `Guid` instead of `Guid?`.

[code]

[2016-11-16 18:19] rowanmiller commented on #6967
Closing, but can reopen if further discussion is needed

[2016-11-16 18:23] johnmurphy01 commented on #7021
Sure I'll put something together

[2016-11-16 18:56] markolbert commented on #7013
Sure. Won't be able to get to it until later today or tomorrow, but I'll let you know if the preview release solves the problem.

[2016-11-16 19:04] johnmurphy01 commented on #7021
I was able to replicate with a stripped down project that contains two empty sqlite databases. When the app launches it creates the db files if they do not exist and then attaches the secondary database. When you click the Detach button, it will detach the secondary database and attempt to close the connection and then delete the file.

https://drive.google.com/file/d/0B7s2r8lGfsBiU3VnT2dRWk5ITDg/

[2016-11-16 19:25] smitpatel commented on #7013
@markolbert - You can also use 1.1 RTM. It is released just today. 😄

[2016-11-16 20:24] JoeSherwood335 commented on #7014
this is the table def i am using to create the model
i am using Field Id as my primary key with DataType Custom
[code]

here is a portion of log, i took out anything that didnt have TableName2.

[code]
it looks like to me field [Id] is completely ignored and because it's the primary key of the table.   its prevents the model from being created

[2016-11-16 20:48] The-MAZZTer opened #7030 "SQLite Error 1: near 'max' syntax error"
### Steps to reproduce
Create a model that results in a varchar(max) type in the migration/model snapshot classes. Migrate an empty/non-existent database file and this error is thrown.

### The issue
SQLite does not support the max keyword. EF Core needs to hard-code the maximum value when passing it to SQLite (8000 is the default, I think SQLite can be compiled with an arbitrary value).

### Furt

[2016-11-16 21:24] smitpatel commented on #7030
Can you elaborate your model configuration? By default you would not be getting `varchar(max)` as store type.

[2016-11-16 21:26] The-MAZZTer commented on #7030
Oops, that's rather important. I imported a SQL Server database to serve as my model using the steps at https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db

There was indeed a varchar(max) as a column in one of the tables.

[2016-11-16 21:33] smitpatel commented on #7030
That is actually interesting. Can you share the code for the table with varchar(max) generated by Scaffold-DbContext - the generated entity type & its model configuration from `OnModelConfiguring` method in dbcontext?

[2016-11-16 21:35] csengineer13 commented on #4561
Attempted @audacity76's solution, and while I no longer generate scaffolding in my migration for views, I get an error saying that the model for my context has changed since my last db update.

[2016-11-16 21:40] #6923 closed

[2016-11-16 21:43] dstep2007 commented on #1200
I see 1.1 was just released.  Did this make it into the release?

[2016-11-16 21:45] smitpatel commented on #1200
@dstep2007 - Yes.

[2016-11-16 21:47] lajones commented on #7014
Note for triage: this sounds like a regression. At the very least the `--verbose` flag ought to output a line that says:

[code]

potentially with a message saying that it doesn't understand that data type (but see later).

Once it fails to see that column the rest of the errors make sense - we don't have a PK and we can't create an Entity which doesn't have a PK.

But when last I looked we did un

[2016-11-16 22:03] smitpatel commented on #7020
Can you post the query you used in step 5?

[2016-11-16 22:06] smitpatel commented on #6328
@divega @anpete - Should we upgrade now?

[2016-11-16 22:31] divega commented on #6328
@smitpatel sounds good to me.

[2016-11-16 22:32] maumar commented on #7020
@FritzTheDarkCat I was unable to reproduce the issue. I used the following code and I'm getting expected results.

[code]

[2016-11-16 23:35] maumar commented on #6824
This works in the current bits, we produce the following query plan:

[code]

[2016-11-16 23:35] #6824 closed

[2016-11-16 23:37] #6990 closed

[2016-11-16 23:49] #6993 closed

[2016-11-17 00:39] The-MAZZTer commented on #7030
I left work so I can't right now, but I will try and make a minimal reproduction case tomorrow.

[2016-11-17 01:19] divega commented on #7000
After talking with @maumar and @smitpatel we believe that we should do much better with this kind of query.

I.e. we shouldn't be falling back to evaluating the whole projection on the client, but just do partial client evaluation of the members that are not mapped, including client-only properties and client-side method calls (even if the method arguments are server-correlated).

Note that we alr

[2016-11-17 01:39] smitpatel commented on #7030
@The-MAZZTer - Thanks. I tried repro myself and hit the issue.

Following is the configuration code we generated
[code]

Generated migration for SQLite (which contains sql server specific type)
[code]
And Migration Sql
[code]

The issue here is `varchar(max)` is SqlServer specific type. The scaffolding should not add it as relational type which gets passed to migration in other providers which is

[2016-11-17 01:59] divega commented on #6996
Last time we talked about checking in a modified baseline every time we make changes instead of checking in the list of exceptions.

The problem with that approach is that Api-Check generates a JSON representation of the whole public surface, therefore any time we make any breaking **or non-breaking** change (e.g. any time we add any new public API) to the public surface we would have a huge file

[2016-11-17 02:32] divega commented on #6953
@anpete @maumar it seems to me that the presence of `ToList()` could be used as a hint to opt out from streaming for the cases like this and in general for #4007. Thoughts?

[2016-11-17 04:02] jrock2004 opened #7031 "dotnet ef not working in VS 2017"
### Steps to reproduce
- Install VS 2017 RC
- Create brand new web application with authentication
- Add the require dependencies for migration builder
- Open the package manager console and type `dotnet ef`

### The issue
So I upgraded to Visual Studio 2017 and generated a new .net core web application with docker support. I am trying to create a new migration and getting an error about not findi

[2016-11-17 05:16] markolbert commented on #7013
I was unsuccessful in testing 1.1 RTM, but that may be because I hadn't actually installed 1.1 RTM.

What I did was go into project.json, and enter "1.1.0" for Microsoft.EntityFrameworkCore (it's been 1.0.1 for a while). I didn't change anything else.

Saving project.json caused an update within VS 2015. But when I ran the app it crashed on a totally unrelated part of the program, which previously

[2016-11-17 05:43] divega commented on #7013
@markolbert the error shows a version mismatch between Microsoft.EntityFrameworkCore and Microsoft.EntityFrameworkCore.Relational. Please try updating all the Microsoft .NET libraries that were 1.0.x to 1.1.0 at the same time.

[2016-11-17 06:22] SateeshO opened #7032 "Execution of Stored Procedure in EF Core for anonymous return type."
hello,

i want to execute Stored Procedure in EF core for anonymous return type. Here i don't have the type of the result set.

this is the kind of syntax i am looking...
var  data= dbContext.Set().FromSql("execute sp_getAllDynamicData")

EF Core version: 1.0.0
Operating system: Windows 7
Visual Studio version: VS 2015

Whether this is avaiable in any other updated Version.

Thanks

[2016-11-17 06:42] skendrot commented on #1100
Is this still not available with the recent release of .NET Core 1.1? @rowanmiller?

[2016-11-17 06:47] ctolkien opened #7033 "v1.1 - The multi-part identifier "x.Id" could not be bound"
The following linq:

[code]

Generates a Select N+1 of the following:

[code]

This is invalid SQL, as `[x]` doesn't exist here. Removing the `.Take(5)` allows the query to proceed without issue (it is a select n+1, but I presume this is by design for now).

[2016-11-17 06:48] markolbert commented on #7013
Thanx. I updated all of the EF & ASPNET/MVC stuff via NuGet at the solution level and the exception went away.

More importantly, the problem with not populating the related collection on the second, third,... passes after context regeneration also went away.

Thanks for the quick replies and help.

[2016-11-17 06:52] ctolkien commented on #7033
I should also flag, this is a regression from v1.0.

[2016-11-17 09:31] cdie commented on #6976
@ajcvickers To be compatible with EF Core, I made two collections, one as parent, and one as child, to link back things, and everything seems to be fine. Also, because it makes sense to navigate only from one parent to its children in our case, we've just expose the childrenCollection.
The other ORM was a custom one from our company, made by me, based on a SQLite one. It considers this kind of rel

[2016-11-17 10:17] bottomup commented on #6492
This fix will be part of 1.0.2. Now 1.1.0 was just released, is this fix also included there? I can't find it in the release notes.

[2016-11-17 10:18] FritzTheDarkCat commented on #7020
@maumar: thank you for doing the check, you are right, sorry for that.

After maumar's feedback I started from scratch and the query does just fine.

var data = _context.Instructor.Include(i => i.OfficeAssignment);

The query runs in a HttpGet Handler and when I checked the returning data in the browser, only one of the rows made it to the browser. So the problem is nor in EF, my fault, sorry.

Pl

[2016-11-17 10:56] 12michel34 commented on #7031
Maybe this helps:
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell

[2016-11-17 11:01] msmaldi commented on #7031
Some problem on Linux

uname -a
`Linux msmaldi-pc 4.8.0-1-amd64 #1 SMP Debian 4.8.5-1 (2016-10-28) x86_64 GNU/Linux`

Microsoft.NETCore.App | 1.1.0
Microsoft.EntityFrameworkCore.Tools | 1.1.0-preview4-final

Microsoft .NET Core Shared Framework Host
  Version  : 1.1.0
  Build    : 928f77c4bc3f49d892459992fb6e1d5542cb5e86

`No executable found matching command "dotnet-ef"`

[2016-11-17 11:26] cdie commented on #7031
@jrock2004 Look at this post https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/

Have you done this command
`PM> Install-Package Microsoft.EntityFrameworkCore.Tools.DotNet -Version 1.0.0-msbuild1-final -Pre `

[2016-11-17 12:35] manospasj opened #7034 "Order By in raw sql query doesn't sort items"
I have the following entity and want to use raw sql to get all the entities from database order by MyDate
[code]
Below is my code
[code]
The problem is that the list is not sorted by MyDate as expected.
I then tried to execute the same query directly in my Database and it returns the results sorted.

The sorting seems to work fine for other property types

[2016-11-17 12:40] ElanHasson commented on #6686
Great to see this moving along... Can I claim this one?

[2016-11-17 12:57] jnm2 commented on #7020
@FritzTheDarkCat you're fine! We all jump to conclusions- it's how our brains are so good at what they do- and it only sometimes goes wrong. =)

[2016-11-17 14:12] jrock2004 commented on #7031
@cdie I tried that and I got the following

[code]

@12michel34 I tried your link and this is what I get

[code]

[2016-11-17 14:17] cdie commented on #7031
@jrock2004 It seems that you haven't install the last SDK for .NET Core. You can find it here https://go.microsoft.com/fwlink/?LinkID=835014

Then, retry 2michel34's link

[2016-11-17 14:31] msmaldi commented on #7031
My problem as solved when i add in project.json
"Microsoft.EntityFrameworkCore.Tools.DotNet": "1.0.0-msbuild1-final"

[2016-11-17 14:44] jrock2004 commented on #7031
@cdie Yep that did it. After installing that I could run the command successfully `Add-Migration -Name CreateAppsSchema`

[2016-11-17 15:23] divega commented on #6492
@bottomup AFAIK all fixes marked as approved for 1.0.2 across all aspnet repos have been included in 1.1 RTM as well.  In some cases separate issues may exist for each release but I don't think that is generally the case. I am not sure we took it into account when preparing the release notes for 1.1.

cc @danroth27 @Eilon @rowanmiller @muratg

[2016-11-17 15:31] bottomup commented on #6492
@divega I have just tested the issue with the 1.1.0 release, and it seems to be fixed :)

[2016-11-17 15:54] rowanmiller commented on #7031
@jrock2004 are we good to close this one now? I think everything you needed was captured in blog post? If not, let me know and we will add the missing info.

[2016-11-17 15:56] ninety7 commented on #7010
Which version includes this fix on the ci-dev builds?

[2016-11-17 16:35] jrock2004 commented on #7031
I want to check if command line still works.

[2016-11-17 16:46] joeizang opened #7035 "ApplicationUser Inheritance requires discriminator property"
Hi everyone,
I am running a standard asp.net core 1.0.1 with EF core 1.0.1 with sapient.EntityFramework.MySql nuget installed. I have 5 users in my application that inherit from ApplicationUser namely student, staff, teacher, guardian and admin. When I run migrations, I get the following error: The entity type 'ApplicationUser' is part of a hierarchy, but does not have a discriminator property con

[2016-11-17 16:46] markolbert commented on #7013
As a possibly-unrelated follow-up, I had to revert back to 1.0.0 because upgrading broke my MVC Core app. The exception was:

System.IO.FileLoadException was unhandled
Message: An unhandled exception of type 'System.IO.FileLoadException' occurred in Unknown Module.
Additional information: Could not load file or assembly 'Microsoft.Extensions.Logging.Abstractions, Version=1.0.0.0, Culture=neutral,

[2016-11-17 16:55] markolbert commented on #7013
Well, reverting >>didn't<< solve the problem. Now I get:

System.IO.FileLoadException was unhandled
Message: An unhandled exception of type 'System.IO.FileLoadException' occurred in Unknown Module.
Additional information: Could not load file or assembly 'Microsoft.AspNetCore.Hosting, Version=1.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The located assembly

[2016-11-17 16:57] divega commented on #7013
@markolbert at first glance those exceptions both seem like version mismatches as well. If you can post your project.json we may be able to help.

[2016-11-17 17:24] markolbert commented on #7013
Here you go:

[code]

[2016-11-17 17:33] ajcvickers commented on #7030
@smitpatel This is by design. Reverse engineering favors the common case and simple code, so we don't do SQL Server specific calls but rather the cleaner relational calls. It is expected that if you reverse engineer from one database provider and then try to use the model with another that you might have to make some edits.

Note for triage: I think this could be considered a dupe of #5410. We now

[2016-11-17 17:33] markolbert commented on #7013
Based on advice from over on the AspNetCore site, I cleared the bin directory and rebuilt the solution, which solved the problem.

 The app's config file had a lot of references to later versions of assemblies that it shouldn't have contained after I regressed the app.

But what confuses me is that I did a "Clean Solution" and Rebuild before asking for help, because I've seen similar problems caus

[2016-11-17 17:33] johnmurphy01 commented on #7021
Anyone have a chance to look at the project I posted?

[2016-11-17 17:36] ajcvickers commented on #6976
@cdie Thanks for the additional info.

[2016-11-17 17:37] Eilon commented on #6492
In it's fair to assume that every RTM (i.e. non-pre-rel) version was released with all the fixes from all lower versions.

[2016-11-17 17:37] Eilon commented on #6492
The main case where we have duplicated bugs for patch + release is when a future release already has a fix, but we later chose to backport a fix to a patch, so we needed to open a new bug for the patch release.

[2016-11-17 18:20] divega commented on #6492
@Eilon not sure what you meant :trollface: but what I meant is that it happens to be the case for all the fixes we have taken **so far** in 1.0.2.

Worth updating the release notes?

[2016-11-17 18:30] divega commented on #7013
Glad you got it to work again. Curious, is the app now working in 1.0 or 1.1? I suspect the two erros you saw had similar causes.

Not completely sure but it sounds like it could be an issue with project.json-based tooling. Since we are in the process of switching to MSBuild based projects it is unlikely that the same issue will apply. In the meanwhile please use the workaround.

[2016-11-17 18:41] Eilon commented on #6492
Oops, I somehow typo'ed out an entire word. I edited it to say `In *general* it's fair ...`.

What release notes are you referring to?

[2016-11-17 18:47] smitpatel commented on #6492
Does that mean if we fix something in 1.0.3 then we would backport it to 1.1.1 release?

[2016-11-17 18:56] pauloanalista commented on #1100
Not yet.

But you have some parallel solutions.

Give it a field of the type varchar in the bank and then you put a trigger that populates the field of type Geometry.

Entity 6 and entity core does not have this functionality yet

[2016-11-17 19:08] smitpatel commented on #7031
@jrock2004 - If it is project.json based project then you need to change current directory to directory containing project.json file. Above error is also throw if dotnet cannot find project.json in current directory.

[2016-11-17 19:11] rowanmiller commented on #7031
There won't be a project.json if this is VS2017. Just make sure to read the guidance in the blog post as you can't have both Package Manager Console and `dotnet ef` work in the same project for this release. Of course, you can add/remove the packages as needed to swap between the two. But if you are in VS, we would recommend using the Package Manager Console commands.

[2016-11-17 19:13] rowanmiller commented on #1100
It's not natively supported yet. But cc @divega as he was experimenting with this and may have found a way to get things working with the current release.

[2016-11-17 19:28] anpete opened #7036 "PERF: Add a way to disable snapshot change tracking"
For the cases where the user is explicitly painting changes via the Entry APIs.

[2016-11-17 19:29] Eilon commented on #6492
@smitpatel well, that wouldn't be back-porting, it's front-porting 😄

But actually that's an interesting point, and I hadn't considered that scenario. I think certainly in some cases the answer is yes, we would port such fixes (assuming they actually apply - not all fixes would actually make sense to port), but ultimately it's case-by-case.

[2016-11-17 19:29] anpete opened #7037 "PERF: Omit SELECT @@ROWCOUNT; when we are executing just a single statement"
Should be able to use ExecuteCommand and check rowsAffected instead of ExecuteReader.

[2016-11-17 19:36] anpete opened #7038 "PERF: Investigate optimized rows affected round-tripping when batching"
We currently do this kind of thing:
[code]
This approach means we have to call NextResult for each statement. We should see if there is faster way, perhaps involving just a single reader MoveNext.

[2016-11-17 19:53] #6328 closed

[2016-11-17 19:55] divega commented on #6492
@Eilon I was referring to https://github.com/aspnet/EntityFramework/releases/tag/rel/1.1.0 but not sure if that is what @bottomup was referring to.

[2016-11-17 20:03] smitpatel opened #7039 "Model building: Cycles not detected properly"
Following model should throw exception in model validation.
[code]

[2016-11-17 20:04] Eilon commented on #6492
@divega O I C. I'm less concerned about the release notes :)

[2016-11-17 20:14] ajcvickers commented on #7039
@smitpatel Can you explain why it should throw?

[2016-11-17 20:28] AndriySvyryd commented on #7039
@ajcvickers I believe that in practice it would be equivalent to
[code]

So if restricting the first form makes the query code simpler then it's reasonable to do it.

[2016-11-17 20:39] bottomup commented on #6492
@divega yes I was refering to the release notes you link to..

[2016-11-17 20:46] davesmits opened #7040 "Upgrade to Microsoft.EntityFrameworkCore.Sqlite 1.1.0 broke app complaince with WACK"
Edited by @rowanmiller 11-29-2016

We are shipping a fix for this, but if you hit the issue in the meantime, you can install NuGet 3.5 to resolve the issue http://blog.nuget.org/20161027/Announcing-NuGet-3.5-RTM.html.

---

### Steps to reproduce
Build an app that exists of 3 projects
- the app
- winmd component with background task
- class library to share code between the to other projects

Refe

[2016-11-17 21:19] AndriySvyryd commented on #7039
I thought it could be represented by a simpler model, but now I think we should still support it as is.

[2016-11-17 21:50] smitpatel commented on #7039
It throws exception while migrating database. Do we detect cycles or let SqlServer throw instead?
[code]

[2016-11-17 21:54] divega commented on #6995
The following documentation article shows how to use EF6 with ASP.NET Core in more detail: https://docs.microsoft.com/en-us/aspnet/core/data/entity-framework-6

[2016-11-17 21:58] ajcvickers commented on #7039
Is this different from the normal issue SQL Server has with cascade paths, as described in #6956?

[2016-11-17 22:07] smitpatel commented on #7039
No. I will close this one then.

[2016-11-17 23:00] divega commented on #1100
Unfortunately I switched in my prototype from replacing the type mapper service to actually modifying the existing type mapper in SQL Server provider very early, so not sure I can help with making things work in the existing code. Anyway, clearing up the milestone so we can discuss assigning this issue to a release.

[2016-11-17 23:01] ctonger opened #7041 "EF CORE 1.1.0 String Based Include not working as expected"
**RESOLVED - Problem was with LinqKit 1,1,7,3**

For versions prior to EF CORE 1.1.0 @rowanmiller provided an excellent workaround for a string based include function which allowed me to do this in my core repository:

[code]

**And that worked perfectly.**
### The issue
When I upgraded to EF Version 1.1.0 I had to remove my IQueryable Extension based on Rowans' workaround, because now the string

[2016-11-17 23:08] robertmclaws commented on #1100
It would be really nice if we could replace the SQL Server types with a clean, simple .NET Core one that can be used by central class libraries without taking a dependency on SQL Server. There has to be a way that SQL Server can use a .NET library for these types, instead of us having to use theirs. It should be possible to move System.Spatial to .NET Core, and SQL Server should use that library i

[2016-11-17 23:10] ajcvickers commented on #7041
@ctonger When you say, "it only works when invoked directly on the `DBSet<>`, it doesn't work on the IQueryable," can you provide more details of how it doesn't work? Does it throw, in which case can you provider an exception message and stack trace? Does it not compile, in which case what is the compiler error? Or does it return the wrong data, in which case how is the data wrong?

[2016-11-17 23:12] ctonger commented on #7041
@ajcvickers it means it does not query the include. So the navigation property stays null. If I directly attach the include to the DBSet in the fluent fashion then it works.

[2016-11-17 23:17] smitpatel commented on #7033
We do client eval in this case producing N+1 queries.
In the second query, ParameterInjection is faulty hence we generated incorrect SQL instead of having injected parameter.

[2016-11-17 23:32] divega commented on #1100
@robertmclaws Just to be clear, my prototyping exercise centered on enabling existing SQL Server types to be mapped through the type mapper in the EF Core provider for SQL Server and I was planning to enable LINQ method translation for certain calls on those types. This can be done similarly for other providers that support spatial functionality and have their own set of CLR types that are support

[2016-11-17 23:33] jumpinjackie commented on #1100
@robertmclaws It's called GeoAPI and NetTopologySuite

https://github.com/NetTopologySuite/GeoAPI
https://github.com/NetTopologySuite/NetTopologySuite

Get EFCore to work with these 2 libraries and things would be golden

[2016-11-17 23:42] mguinness commented on #6926
@sweetwxh were you able to get this working?  I upgraded a project to 1.1 yesterday and got "Method not found" with the official MySQL provider.  It's not clear to me what the fix is, which package update is necessary to overcome this problem?

[2016-11-17 23:59] gerardog opened #7042 "DbSet.Find support for Eager Loading"
Is eager loading supported when you use the DbSet.Find method introduced on 1.1.0 ?

On 1.0.0, I used to do:

var myBlog = await context.Blogs
        .Include(blog => blog.Posts)
        .FirstOrDefaultAsync(b => b.Id == someId);

On 1.1.0 I was hoping to use the new Find method, but it is not supported on the IIncludableQueryable<> interface, which means the following code does not compile:

var

[2016-11-18 00:01] ajcvickers commented on #7042
Dupe of #6935

[2016-11-18 00:02] divega commented on #7022
Consider keeping Tools.DotNet alive in some form (as meta-package or something that throws a helpful message?) for a while for compatibility, at least temporarily.

[2016-11-18 00:09] ajcvickers commented on #7041
@ctonger I wrote this console app in an attempt to reproduce what you are seeing, but it seems to work fine. Can you look at it and see if you can get your issue to repro using it? Or provide a different complete repro?

[code]

[2016-11-18 00:16] patricknolan opened #7043 "POCO objects and Sql_Variant"
I'm using POCO entities with Fluent configuration and mappings and need to map a database field of type Sql_Variant.

Defining the corresponding property in my entity to string or even object does not work.

Is there any solution\workaround for this issue which will support full CRUD?

[2016-11-18 00:19] ctonger commented on #7041
I will! Thanks! I'll get back to you!

[2016-11-18 00:51] ctonger commented on #7041
That Works! I even changed it to come closer to my configuration and it still works. Now I am puzzled.

I will port now one by one my building blocks, such as my base repository to see if I get my issue reproduced based on your solution.

So it means I have to search on my end, which is fair enough. I'll get back to you!!

[2016-11-18 01:05] AndriySvyryd commented on #7010
@ninety7 This hasn't been fixed yet.

[2016-11-18 01:10] #6823 closed

[2016-11-18 01:22] ctonger commented on #7041
@ajcvickers Thanks a million. It works. From my initial code it was that line which seemed to have caused the issue:
return FindQueryExpression(primaryKey.ToArray())
                .Aggregate(results, (current, expression) => current.Where(expression).AsQueryable());

Changing that part to this;

            foreach (var filter in FindQueryExpression(primaryKey.ToArray()))
            {

[2016-11-18 01:31] sgmon opened #7045 "PMC Tools: Add unifying binding redirects on UWP"
### Steps to reproduce
1. Create a UWP application targeting Windows 10 Anniversary edition.
2. Follow steps provided at https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started except for using the later Microsoft.EntityFrameworkCore.Tools v1.1.0-preview4-final and not needing to create the XAML page.
3.  In class Post add property         [NotMapped] public int NotMappedProperty

[2016-11-18 01:45] smitpatel commented on #7033
Possible workarounds
1. Makes 2 queries but fetches all records from second table though only relevant columns. So if there are many `Bars` for each `Thing` it may perform poorly.
[code]
2. N+1 queries but only fetches required rows from `Bars` table. (Also fetches all columns)
[code]

[2016-11-18 02:34] Daivdhuang opened #7047 "Randomly Invalid SQL(Unreasonable error)"
### Steps to reproduce
When i import over 2000 data, it randomly generated error sql(every time not the same)
And There's no law to find

### The issue
Using EF6.1.3 to write data into SQL server 2008 ,But it General invald column name,the column is Unreadable fields
I'm sure my Database is not include there invalid columns

If you are seeing an exception, include the full exceptions details (mess

[2016-11-18 04:29] dotnetshadow opened #7048 "EF Core 1.1 .ToString() translation causes exception"
### Steps to reproduce
Create a basic asp.net application for one of the controllers just insert the query code below with the model provided. As soon as the query is run the exception takes place

### The issue
The following query works in .net core **1.0.1** but doesn't work in **1.1**

**Model**
[code]

**Query**
[code]

If you are seeing an exception, include the full exceptions details (messa

[2016-11-18 05:26] HappyNomad opened #7049 "Exception says another instance has same key, but it doesn't"
The issue can be reproduced with this version:

	"Microsoft.EntityFrameworkCore.SqlServer": "1.2.0-preview*",

and this context:

	public class BloggingContext : DbContext
	{
		public BloggingContext( DbContextOptions<BloggingContext> options )
			: base( options ) { }

		public DbSet<L> Ls { get; set; }
		public DbSet<AL> ALs { get; set; }
	}

and this model:

	public class L
	{
		public int ID {

[2016-11-18 06:17] bricelam opened #7050 "Design: Public API to instantiate DbContext classes"
Scaffolding is now using `DbContextOperations.CreateContext()` to instantiate contexts at design-time; however, this is an internal API.

Model visualization may require the same functionality.

We should consider adding public API with this functionality.

cc @prafullbhosale

[2016-11-18 06:18] bricelam commented on #7050
If we do, we should add it to 1.0.3 as well.

[2016-11-18 07:01] HappyNomad commented on #6792
@AndriySvyryd To clarify, did you implement this suggestion?  I'm using version `1.2.0-preview*` and it seems to be working that way.  The model builds fine even without the `OnModelCreating` workaround you suggested.

Also to clarify, you suggested the workaround:

	modelbuilder.Entity<T>().Property<int>("PId");
	modelbuilder.Entity<T>().HasOne(t => t.P).WithOne().HasForeignKey<T>("PId");

But I

[2016-11-18 07:28] MMalikKhan commented on #6253
@DamirLisak, @natemcmaster @MattWhilden @jspuij  do you have any idea if this is fixed in the Visual Studio 2017 RC ? I am having the same issue if i turn off optimization then i see other null exceptions from different part of the solution. And the worst is the package size is increased x 6 times.  any help is much appreciated.

Note: I am using EF 1 Core in my solution.

Thank You

[2016-11-18 08:30] DamirLisak commented on #6253
Hi Malik,

I don’t know this.
I currently use the following versions of EF-Core:
    "Microsoft.Data.Sqlite": "1.0.0-rc2-final",
    "Microsoft.EntityFrameworkCore.Sqlite": "1.0.0-rc2-final",
An this is the only one version which works with the native toolchain!

All other versions are not working.
Also it doesn’t work on ARM-Processors if you exclude the three assemblies in the Default.rd.xml as

[2016-11-18 08:38] jspuij commented on #6253
Sadly I don't, our project has been delivered and is in bug fixing phase now. It might be extended in the future using Xamarin.NET. For another project we're using React Native. Funny thing is with the JIT compilation of the current javascript engines and things like instant reloading, developing suddenly is a productivity spree again. Don't need fancy relational storage for that project though.

[2016-11-18 08:52] dotnetjalps commented on #6482
Since 1.1 is released -https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/ Should we have this available?

[2016-11-18 09:15] Muchiachio commented on #6482
Seems like they moved it from 1.1 to backlog, so probably no :disappointed:

[2016-11-18 12:02] freerider7777 commented on #7031
Is this the final decision with project.json ??? We just got used to it :(

[2016-11-18 12:57] freerider7777 commented on #7031
@cdie Thx for the link, I installed VS 2017, new project - update nuget packages (to 1.1) - and it did not run after that... Though it's strange why it's not installed with VS.

[2016-11-18 12:59] jrock2004 commented on #7031
@freerider7777 The problem is with VS 2017 generated projects no longer have a project.json file. If you generate via command line or yoeman generator you still get the project.json

[2016-11-18 13:07] freerider7777 commented on #7031
@jrock2004 For sure yoeman does not know yet :)) Connect was just a couple of days ago. Why did Microsoft decide to get rid of project.json?

[2016-11-18 13:41] redowl3 opened #7051 "DbContextOptionsBuilder UseInMemoryDatabase missing?"
### Steps to reproduce
This snippet of code is working on ASP.NET Core /EF 1.0 but after upgrading to 1.1 UseInMemoryDatabase is not resolved, has it moved or do we need to setup differently?

var services = new ServiceCollection();
            services.AddEntityFramework()
                .AddDbContext<CaterpillarContext>(options => options.UseInMemoryDatabase());

            ServiceProvider = s

[2016-11-18 13:54] freerider7777 commented on #7031
could not make dotnet ef to run... :(( VS 2017 windows 7...

[2016-11-18 13:59] redowl3 commented on #7051
Actually, looks like it's a VS17 problem as there are a number of missing project references, will close this an EF issue.

[2016-11-18 15:21] saf-itpro opened #7052 "Error when Upgrading Existing ASP.NET Core 1.0 to ASP.NET Core 1.1"
### Steps to reproduce
Following this official [.NET Core 1.1 article](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/) we upgraded our existing ASP.NET Core 1.0 project to ASP.NET Core 1.1 as follows.

1. In project.json:
Updated the netcoreapp1.0 target framework to netcoreapp1.1.
Updated the Microsoft.NETCore.App package version from 1.0.0 to 1.1.0.

2.  Following th

[2016-11-18 16:38] Thaoden opened #7053 "Entity Framework Tools not working after update to EF Core 1.1.0"
### Steps to reproduce
Update .NET Core packages (including ASP.NET Core and EF Core) in solution from 1.0.0 to 1.1.0.

Update package `"Microsoft.EntityFrameworkCore.Tools" : "1.0.0-preview2-final"` to `"Microsoft.EntityFrameworkCore.Tools" : "1.1.0-preview4-final"`. Alternatively, change to package `"Microsoft.EntityFrameworkCore.Tools.DotNet" : "1.1.0-preview4-final"` as per [the anncouncement]

[2016-11-18 16:41] matgr1 opened #7054 "SqliteContainsOptimizedTranslator doesn't work when using wildcards"
### Steps to reproduce
run a query using string.Contains where the search pattern contains '%' or '_'

### The issue
it seems that since SqliteContainsOptimizedTranslator doesn't use LikeExpression and instead uses "instr" wildcards are not supported (at least not in sqlite...)

This wouldn't be a problem for me right now if #2850 were resolved since then I could explicitly use the like operator (

[2016-11-18 17:08] matgr1 commented on #7054
Also of note: instr appears to be case-sensitive while like is not

[2016-11-18 17:28] bricelam commented on #4108
Easy wins:
- Math.Max ➡️ max
- Math.Min ➡️ min
- Math.Round ➡️ round
- string.IndexOf ➡️ instr
- string.Replace ➡️ replace
- string.Substring ➡️ substr

I started doing this in [bricelam:sqlite](https://github.com/aspnet/EntityFramework/compare/dev...bricelam:sqlite), but probably won't have any time soon to finish it.

[2016-11-18 17:33] johnmurphy01 commented on #7021
@rowanmiller forgot to tag you on the above posts

[2016-11-18 17:35] bricelam commented on #7045
Nuts. It looks like we're still going to need a few binding redirects (despite #6916) for unification.

[2016-11-18 17:52] ajcvickers commented on #7049
Note for triage: Looks like ID in PBase, inherited by Q, is not getting ValueGenerated.OnAdd.

Here is the model:
[code]

[2016-11-18 17:58] saf-itpro opened #7055 "Error when Updating from ASP.NET Core 1.0 to 1.1"
Following this [Official ASP.NET Article][1] I updated from ASP.NET Core 1.0 to 1.1. But when compiling my ASP.NET Core project I get the following error in AccountController.cs file:

**Error**:

    The call is ambiguous between the following methods or properties: 'System.Security.Claims.PrincipalExtensions.FindFirstValue(System.Security.Claims.ClaimsPrincipal, string)' and 'System.Security.Cla

[2016-11-18 18:11] SaucyJack commented on #7053
I am having similar issues running add-migration from package manager console.  I have updated Tools to 1.1.0-preview4-final.

I have this in my dependencies:

`"Microsoft.EntityFrameworkCore.Design": "1.1.0"`

[2016-11-18 18:12] rowanmiller commented on #7055
I think the issue is probably related to this line:

[code]

I think that package is for pre-Core versions of ASP.NET Identity. Can you try removing it?

[2016-11-18 18:24] maumar commented on #7054
We made the change to Contains becasue the scenarios where one wanted to search for strings containing a wildcard (e.g. "75%") were giving unexpected results. Current translation better resembles CLR Contains method, which was our goal. I do agree that we need the ability to use Like and other SQL functions now more than before

[2016-11-18 18:42] jjassobarba commented on #7053
I haven't been able to use the 1.1.0 version,  I had to use:

`"Microsoft.EntityFrameworkCore.Design": "1.0.0-preview2-final"`

So I have all my entityframework dependencies with 1.1.0 version except the tools and the design dll.  That's the only way I made it work.

[2016-11-18 18:52] rowanmiller commented on #7054
Using SQL functions is probably already covered by https://github.com/aspnet/EntityFramework/issues/2850

[2016-11-18 18:53] rowanmiller commented on #7045
@bricelam can you provide the required redirects here so that folks can get unblocked on 1.1

[2016-11-18 18:55] rowanmiller commented on #7021
Thanks for the app to reproduce it. We'll get someone assigned to debug it. We've had a bit of a wave of issues come in, so it may take a little bit to get to it.

[2016-11-18 19:00] divega commented on #7055
That one should actually be changed to

[code]

It is ASP.NET Core but from before it was named that way.

[2016-11-18 19:05] matgr1 commented on #7054
That actually makes good sense to me that it should behave more like the CLR Contains methods, so I take back my comment that it should handle wildcards :)

However, as you mention this does make the case for resolving #2850 much stronger...

[2016-11-18 19:13] rowanmiller commented on #7055
@divega that one is already listed in the supplied project.json, so I think removing the first dependency should be enough.

[2016-11-18 19:19] divega commented on #6992
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-18 19:21] divega commented on #6996
@smitpatel talk to @javiercn

[2016-11-18 19:23] sethen opened #7056 "Error when upgrading to 1.1.0, Method 'Apply' does not have implementation"
### Steps to reproduce
I have a ASP.NET core application using 1.1.0 of the Entity Framework.  Here is my `project.json` file:

[code]
### The issue
When running `dotnet restore && dotnet build && dotnet run` I am getting the following error message:

[code]

### Further technical details

EF Core version: 1.1.0
Operating system: Mac OS X 10.11.6
Visual Studio version: Visual Studio Code

Other de

[2016-11-18 19:36] rowanmiller commented on #6926
@mguinness I've passed this info on to the MySQL team, but you may also want to report it directly so that they can track how many folks are hitting it https://bugs.mysql.com/.

[2016-11-18 19:37] matgr1 commented on #7054
in fact, why don't I just close this one...

[2016-11-18 19:38] rowanmiller commented on #7031
@freerider7777 take a look at https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/ for info on why project.json is being retired. If you are still having issues with `dotnet ef` in VS2017 after following the guidance at the end of https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/, then open up a new issue.

[2016-11-18 19:51] divega commented on #7036
We need to keep in mind:
- We should try to measure the impact against snapshotting and notification entities before we make the actual change
- Currently original value relies on snapshots. We would need to change the entry APIs to copy the original value the first time there is a change
- Change detection be automatically disabled when this option is enabled

[2016-11-18 19:54] freerider7777 commented on #7031
@rowanmiller ok, thx..I've read everything. I see for now VS is rather loosey goosey :) dotnet ef not compatible with package manager comman line...

[2016-11-18 19:57] divega commented on #7041
@ctonger can you please report the issue in LinqKit?

[2016-11-18 19:58] rowanmiller commented on #7031
@freerider7777 `dotnet ef` isn't for use in Package Manager Console, it's for use outside of VS at the command line. You would use the Package Manager Console commands in Microsoft.EntityFrameworkCore.Tools (`Add-Migration`, `Update-Database`, etc.).

[2016-11-18 20:02] rowanmiller opened #7057 "StackOverflowException with InversePropertyAttribute on 1.1.0"
Reported over email...

In order to use latest SignalR I switched all package references to 1.2.0-* as it is defined in a SignalR repository. But as I try to perform any request to a database I receive StackOverflowException

I have the repro project for this (it couldn't be shared publically), so I can give it to whoever investigates.

Attaching stack trace as it is too big to add inline [StackTr

[2016-11-18 20:04] xperiandri commented on #7057
This issue only appeared in 1.2
In 1.0 it worked, 1.1 I did not check.
My guess is that because of inheritance and cross dependencies

[2016-11-18 20:04] gmartinezsan commented on #7017
@AndriySvyryd hi! Any feedback yet?
Thanks!

[2016-11-18 20:14] divega commented on #7052
@saf-itpro could you provide your project.json file so we can look at other possible outdated references?

[2016-11-18 20:17] divega commented on #7053
We believe updating to the latest NuGet Visual Studio Extension from http://docs.nuget.org/consume/installing-nuget should help.

[2016-11-18 20:21] divega commented on #7055
@rowanmiller got it.

@saf-itpro please let us know if removing that entry helps.

[2016-11-18 20:24] freerider7777 commented on #7031
@rowanmiller for you it's obvious, for us not... in VS code you just run npm start as in normal command line. Also the templates for project do not reference 1.1 packages - some work is yet to be done for VS to work 'out of the box' :)

[2016-11-18 20:24] divega commented on #7056
@sethen your project.json file contains some version mismatches. Please try following the instructions to upgrade at:

- https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/
- https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/

[2016-11-18 20:27] divega commented on #7057
@AndriySvyryd please check if this was regressed in 1.1.

[2016-11-18 20:32] rowanmiller commented on #7031
@freerider7777 not disagreeing with you at all. The state of our tooling is very rough right now (especially for VS2017). I definitely didn't mean to imply that it should have been obvious... I still have to look at my own notes to work out what to use where sometimes 😮.

[2016-11-18 20:35] sethen commented on #7056
@divega Oh, awesome, I will try that.  Thanks!

[2016-11-18 20:41] SaucyJack commented on #7053
Did not work, unless I don't have the latest extension:

`Package Manager Console Host Version 3.5.0.1996`

[2016-11-18 20:47] AndriySvyryd commented on #7053
@SaucyJack That was a suggestion for @Thaoden. Could you open a new issue with the full contents of your project.json?

[2016-11-18 21:06] saf-itpro opened #7058 "Http IIS 502.5 Error after migrating from ASP.NET Core 1.0 to 1.1"
### Steps to reproduce
I used these [official ASP.NET Articles](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/) [and](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/) to upgrade my ASP.NET Core 1.0 app to 1.1. The app compiles fine but when I run the app using F5, I get the following error

### The issue
[code]
**NOTE**:
My app

[2016-11-18 21:08] freerider7777 commented on #7031
@rowanmiller Just to mention... we would complain anyway :))) Users are like that you know :) Thx for your efforts! the product is getting better and better.

[2016-11-18 21:10] saf-itpro commented on #7052
@divega After seeing your request I looked at the project.json file and corrected some values. The error was gone. Now, the app compiles fine but when I run the app I get the error shown in another issue I posted [here](https://github.com/aspnet/EntityFramework/issues/7058)

[2016-11-18 21:22] AndriySvyryd commented on #7058
Try deleting all the files in the publish folder before running it again. If publishing to Azure use a new slot.

[2016-11-18 21:50] AndriySvyryd commented on #6792
@HappyNomad Yes, the fix is to choose FK properties that are compatible with the base type if you haven't specified any explicitly, so no extra configuration would be needed.

[2016-11-18 21:53] AndriySvyryd commented on #6792
Both workarounds are valid, it depends on what type you want to be the dependent one.

[2016-11-18 22:07] halter73 commented on #7058
I would also try to [enable stdout/stderror logging in your web.config](https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module#log-creation-and-redirection). That output should show you what exception is causing the process to crash.

You can probably get the same info by navigating to your project directory in a shell and doing `dotnet run`.

[2016-11-18 22:13] saf-itpro commented on #7058
@AndriySvyryd My app is on development machine running on Visual Studio 2015 with built-in IIS Express on Windows 10 . There is no Publish folder since I've not yet published it to anywhere.

[2016-11-18 22:56] anpete commented on #7048
@dotnetshadow Thanks for reporting. I'm still investigating, but it looks like the following workaround might work:
[code]
Can you confirm it this works?

[2016-11-18 23:05] solenovex commented on #7053
I'm using the command line, I have the same issue.
After Installing .netcore 1.1 and Uninstalling .netcore 1.0 Then I upgrade the eftools("Microsoft.EntityFrameworkCore.Tools") to version "1.1.0-preview4-final".
When I run "dotnet ef xxx", it shows "No executable found matching command "dotnet-ef".

[2016-11-18 23:05] xperiandri commented on #7057
Switch everything to 1.1.0-* ?

[2016-11-18 23:07] AndriySvyryd commented on #7053
@solenovex You also need to upgrade "Microsoft.EntityFrameworkCore.Tools.DotNet" to "1.1.0-preview4-final" in the tools section

[2016-11-18 23:14] RandyBuchholz opened #7059 "Scaffolding Stops Working after 1.1.0 Update"
### Steps to reproduce
Create a new project targeting .Net Framework 4.6.2 and Individual User Accounts
[code]

### Data
####project.json before update:
[code]
#### project.json after update
[code]
###

### Further technical details

EF Core version: (found in project.json or packages.config)
Operating system: Windows 10
Visual Studio version: VS 2015

[2016-11-18 23:20] smitpatel commented on #7059
@RandyBuchholz - Packages under "tools" section are from previous release. Can you update them to 1.1 release (package versions are like 1.1.0-preview4-final) and try again?

[2016-11-18 23:22] solenovex commented on #7053
@AndriySvyryd I did upgrade "Microsoft.EntityFrameworkCore.Tools.DotNet" to "1.1.0-preview4-final" in the tools section
`
{
  "userSecretsId": "aspnet-Heavy.Web-4a2adfa9-ab06-4b00-ac2d-d952bafe9a83",

  "dependencies": {
    "Microsoft.AspNetCore.Razor.Tools": {
      "version": "1.1.0-preview4-final",
      "type": "build"
    },
    "Microsoft.EntityFrameworkCore.Tools": {
      "version": "1.1.

[2016-11-18 23:25] AndriySvyryd commented on #7053
@solenovex No, you placed "Microsoft.EntityFrameworkCore.Tools" under tools, it needs to be "Microsoft.EntityFrameworkCore.Tools.DotNet"

[2016-11-18 23:28] solenovex commented on #7053
@AndriySvyryd  sorry about that, I wasn't look carefully, I changed it to "Microsoft.EntityFrameworkCore.Tools.DotNet", and "dotnet ef xxx" works now.
Thank you very much.

[2016-11-18 23:39] bricelam commented on #7022
Never mind. I've been lying to everyone. The documentation was vague and misleading.

cc @DamianEdwards @NTaylorMullen

[2016-11-18 23:41] RandyBuchholz commented on #7059
I ran PM> update-package Microsoft.AspNetCore.Razor.Tools -Pre
and it brought in:
"Microsoft.EntityFrameworkCore.Tools": "1.1.0-preview4-final",

When I tried I got output in the Output window(below) but still not results. Before that there was no output in the output window.

C:\Program Files\dotnet\dotnet.exe aspnet-codegenerator --project "C:\Users\Randy\OneDrive\Food\WebApplication3\src\WebApp

[2016-11-18 23:46] ctonger commented on #7041
@divega, I have just checked there and it seems that it is an already known issue, I.E. Include is ignored on AsExpandable if I got it right.
It could be that it worked for me prior to EF 1.1.0 because I used the Include Method in an own extension on IQueriable. Fact is that in my generic repository all queries refer to a GetAll Method which provides the Entity Set as AsExpandable. This is now gon

[2016-11-18 23:48] AndriySvyryd commented on #7058
@saf-itpro In your case the app runs from the bin folder under your project, so delete it to make sure everything gets updated

[2016-11-19 00:21] saf-itpro commented on #7058
@AndriySvyryd I deleted the `bin` folder ran the `clean solution`, compiled the app and ran again. Still the same error.

[2016-11-19 00:23] AndriySvyryd commented on #7058
@saf-itpro Then please post the log as @halter73 suggested

[2016-11-19 00:30] saf-itpro commented on #7058
@AndriySvyryd I ran dotnet run command from the src directory and got the following error:
[Project ABCTest (.NETCoreApp,Version=v1.1) was previously compiled. Skipping compilation.
The specified framework 'Microsoft.NETCore.App', version '1.1.0' was not found.
  - Check application dependencies and target a framework version installed at:
      C:\Program Files\dotnet\shared\Microsoft.NETCore.App

[2016-11-19 00:33] AndriySvyryd commented on #7058
@saf-itpro You need to install .NET Core 1.1 SDK https://go.microsoft.com/fwlink/?LinkID=835014

[2016-11-19 00:36] saf-itpro commented on #7058
@AndriySvyryd Let me do that. I thought when I got a notification in VS about the release of 1.1, it had downloaded an exe that I had already ran; and hence that was enough along with the instructions in the two above mentioned articles.

[2016-11-19 00:38] AndriySvyryd commented on #7058
@saf-itpro Unfortunately the current VS Tools only include the .NET Core 1.0.1 SDK

[2016-11-19 00:43] saf-itpro commented on #7058
@AndriySvyryd Thank you for coming to my rescue. It's working now after I installed .NET Core 1.1 SDK that you sent the link of. Your team may want to update the articles I mentioned above with the the instructions of installing .NET Core 1.1 SDK as a pre-requisite.

[2016-11-19 01:15] #6686 closed

[2016-11-19 01:17] smitpatel commented on #6326
@divega - Should we remove virtual here?

[2016-11-19 01:29] ElanHasson commented on #6686
@rowanmiller and @smitpatel thanks  for taking care of this so quickly.

Glad I was able come up with a simple, fast solution!!

[2016-11-19 02:28] divega commented on #6326
I think so. Mostly because

[2016-11-19 02:38] smitpatel commented on #7059
@RandyBuchholz - It is bug in scaffolding I filed https://github.com/aspnet/Scaffolding/issues/342.
There is also issue with update-package command, trying to generate repro to file an issue for that.
This is the upgraded project.json should look like
[code]

[2016-11-19 09:00] mo-esmp commented on #5899
I've updated EF from ver 1.0.1 to ver 1.1.0 and after runnig below query I got same error.
[code]

[2016-11-19 09:02] mo-esmp opened #7061 "The binary operator Equal is not defined for the types 'System.Nullable`1[System.Boolean]' and 'System.Boolean' error for queries with complex predicates involving nullable boolean properties"
I've updated EF from ver 1.0.1 to ver 1.1.0 and after runnig below query I got error.
[code]

when I remove `!a.ServiceEquipment.IsDeleted` from query it works.

[2016-11-19 09:17] smitpatel commented on #4108
@bricelam - Want me to finish this?

[2016-11-19 09:28] mejje opened #7062 "Tooling not compatible with net46 projects?"
When upgrading tooling to Microsoft.EntityFrameworkCore.Tools.DotNet 1.1, the nuget restore fails with net46 projects:

project.json at http://hastebin.com/ohekihiqiy.json

[2016-11-19 09:30] smitpatel commented on #7062
"version": "1.1.0-preview4-final",
      "type": "build"
    },

This part should be under "tools" section rather than "dependencies".

[2016-11-19 11:11] abdu292 commented on #4269
@rowanmiller Wondering if you got a chance to do the testing? Eagerly waiting for Xamarin.Forms and Xamarin Android, iPhone & UWP support.

[2016-11-19 11:15] HappyNomad commented on #6792
@AndriySvyryd I looked at the generated model and it's reversing the principle/dependent roles from what I need.  My model classes consistently lack navigation properties that point from dependent to principle, so your fix's default feels counter-intuitive.  How can I leverage my model's consistent approach to navigation, or maybe add some attributes to my model classes' properties (something like

[2016-11-19 12:16] iXmonvi33 opened #7063 "System.Runtime issue with Microsoft.EntityFrameworkCore.SqlServer"
Hello,
Could anyone tell me how to resolve assembly issue with System.Runtime ?

Cannot add to my project :-1:
[code]

[code]

[2016-11-19 13:10] mejje commented on #7062
Thank you, that fixed it. Maybe something left by the old templates or an upgrade I did wrong.

[2016-11-19 14:51] LittleLoveVN opened #7064 "Cannot be tracked because another instance of this type with the same key is already being tracked"
When i'm trying to add continous same entity with difference key i has an error.
[code]
Stack Trace

**Raw exception details:**
[code]
**project.json file:**
[code]

With Entity Core 1.0 work, but after update to 1.1.0 has this error

[2016-11-19 18:42] bricelam opened #7065 "Warn when runtime version newer than tools"
If I invoke version 2.1 of a tool on a project using EF Core 2.2, it should warn suggesting I update my tool.

While everything should be functional, I may be missing new options or commands that I expect to be there in EF Core 2.2.

[2016-11-19 18:46] bricelam opened #7066 "Make Tools.DotNet self-sufficient"
Right now, it requires Tools as a project dependency to work, but we can do a bit of MSBuild magic to remove that restriction.

[2016-11-19 18:52] bricelam opened #7067 "Rename Tools.DotNet"
Something like DotnetCliTool aligns better with the NuGet/MSBuild taxonomy.

[2016-11-19 18:55] bricelam commented on #7067
[code]

[2016-11-19 19:10] MikaelGRA commented on #7053
I think I have roughly the same issue:

I have a ASP.NET Core project that runs ONLY on the Full .NET Framework 4.6.1 (not .NET Core).

However, I cannot make the tooling work after upgrading to 1.1 (Using the Package Manager only).

My DbContext is located in a library project that is referenced by the main web project.

I have tried with:
"Microsoft.EntityFrameworkCore.Tools":
 -> When I use thi

[2016-11-19 19:15] arruw opened #7068 "Problem with database first scaffolding"
I'm having problem with scaffolding `DbContext`. I'm using latest `.NET Core 1.1.0 SDK`. I'm following this guide: [https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db)

But when I run following command in Package Manager Console: `Scaffold-DbContext "<connection-string>"  Microsoft.EntityFramework

[2016-11-19 23:19] smitpatel commented on #7053
@MikaelGRA

-> When I use this, I am simply told the following: Could not find assembly 'C:\path\to\solution\ProjectName.\bin\Debug\net461\win7-x64\ProjectWithContextName.exe'.

You need to set your web project as start-up project. After which you may hit this issue.

Try using `optionsBuilder.MigrationsAssembly()` with assembly name of your class library. This will be done in the web project wher

[2016-11-19 23:31] VagueGit opened #7069 "Cannot Reference ViewModel with EFCore in Contructor from UWP XAML"
Create the EFGetStarted.UWP app with all prerequisites in accordance with [UWP - New Database](https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started)

Add a class MainPageViewModel.cs
[code]
Add the following using directive to MainPage.xaml
`    xmlns:ViewModels="using:EFGetStarted.UWP"
`
and the following
[code]
In VS2015 Update 3there is a build error

project.json
[code]
App

[2016-11-19 23:58] MikaelGRA commented on #7053
@smitpatel

I know. Been using EF for serveral years now. :)

Correct me if I am wrong, but is that not ONLY if you want to have your DbContext in a different assembly from the migration classes? I know about this method and have been using it in a different project, but in this project, the DbContext and migration classes are in the same assembly (but a library project).

I feel like I've tried e

[2016-11-20 03:37] jeffbromberger opened #7070 "Bizarre InvalidCastException error"
I'm doing a query with some Include directives to pull in related entities and then build a list of a different type of object:

 `
[code]
`

This is the query that causes the exception...

[code]
I have spent hours and hours trying to figure out what is wrong, as I am completely unable to decipher the exception stack shown below.  What I have found after a painful amount of trial and error, which

[2016-11-20 07:28] rahamohebbi commented on #5320
I would like to be able to have my repository (Entity Framework) classes in a separate class library. Is this possible right now ? if not, when should I expect this to be added to Entity Framework Core library ?

[2016-11-20 08:43] microef opened #7071 "EF Tools 1.1.0-preview4 Unrecognized option '--config'"
Notes by @rowanmiller

This affects just the `1.1.0-preview4` tools on apps that target full .NET (rather than .NET Core). I have not been able to find a way to workaround this with the latest tools preview.

The best option right now is to roll back to the `1.0.0-preview3` version of the `Microsoft.EntityFrameworkCore.Tools.DotNet` package. Fortunately, because of the way things are factored, you

[2016-11-20 09:28] ammar-haider commented on #3060
Is it resolved in latest 1.1? I do not find a switch.

[2016-11-20 10:21] maumar commented on #7070
@jeffbromberger could you also share your model? Specifically code listing for all the entities and the contents of OnModelCreating method on the DbContext

[2016-11-20 10:24] maumar commented on #7061
@mo-esmp can you share the model you are using? Specifically code listing for all the entities and contents of OnModelCreating method on the DbContext

[2016-11-20 10:37] hyuksel opened #7072 "Scaffolding not working, _EFGetProjectMetadata does not exist! Visual Studio 2017RC"
Hi,

i have created a new asp.net core web application, with Change Authentication and individual User account (no host in cloud).
It creates a project for me, but the first thing that it's odd with core 1.0 libraries.
Why not the latest 1.1 core version packages because i'm using the newly released Visual Studio 2017RC?

Then i have to update all packages to 1.1. It doesn't however update some of

[2016-11-20 12:51] fitzchak opened #7073 "AfterExecuteCommand tracing is missing the result info"
[Here](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/Storage/Internal/RelationalCommand.cs#L250) we are missing the `result` value that was set above. It is should be included in the tracing as it is needed in any case that someone will have to trace this info.

[2016-11-20 14:52] bricelam commented on #4108
Yes please, if you have some spare time.

[2016-11-20 15:02] bricelam commented on #5320
Yes, you can have your model or DbContext in a class library. This issue is about making the Migrations tooling experience a little better. Right now, you have to use an app (non-library) startup project for them to work at all.

I'm working on changes that will largely remove this restriction, although maybe not always for `dotnet database update`.

[2016-11-20 15:43] xperiandri commented on #7057
So I commented out all the navigation attributes except in `CarRequest`
[code]

[2016-11-20 16:22] jeffbromberger commented on #7070
@maumar  I have simplified the models as much as I could to still repro the issue.  I updated the first post with the new naming and also a link to a zip with the model files and the database config routine.

[2016-11-20 16:29] JakubR opened #7075 "Include entity in generic query not working ("
### Steps to reproduce
I want to include tables(maped to properties) of my class but it is not working.

[code]
[...i will insert full implementation if it will be needed...]

[code]

Exception message (lib in version : 1.0.1):
An exception of type 'System.InvalidOperationException' occurred in Microsoft.EntityFrameworkCore.dll but was not handled in user code

Additional information: The property

[2016-11-20 17:56] AR1ES opened #7076 "Dotnet ef error "Unrecognized option '--config'""
Command `dotnet ef migrations add xxx` not working after updating to the netcore latest version (1.1.0) from netcore 1.0.0.

I run command `dotnet ef migrations add xxx` and after compiling the project I get this error:
[code]

My project json:
[code]

[2016-11-20 18:34] adyrotaru commented on #3748
+1

[2016-11-20 19:03] VahidN commented on #7071
If you want to use package manager console to run the migrations, `Microsoft.EntityFrameworkCore.Tools` is necessary, because this package only contains `.ps1` files, located at:
[code]

[2016-11-20 19:04] gdoron commented on #4846
@rowanmiller What's the status with this?
This issue has relatively high amount of  thumbs up as well as the other linked issues.
And @jpadgeo even wrote it took him a long time to find this issue to upvote it.

Thanks!

[2016-11-20 19:29] JakubR commented on #7075
Exception below was, because I didn't upgrade mysl pomelo connector :

Additional information: Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalCommandBuilderFactory..ctor(Microsoft.EntityFrameworkCore.Infrastructure.ISensitiveDataLogger`1<Microsoft.EntityFrameworkCore.Storage.Internal.RelationalCommandBuilderFactory>, System.Diagnostics.DiagnosticSource, Microsoft.

[2016-11-20 19:54] toralux commented on #1767
I still have issue with #1767, #3464, #5369 as the LINQ expression is evaluated locally and not on server-side as expected.

warn: Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationContextFactory[8]
      The LINQ expression '([x].StringField.CompareTo("2000") > 0)' could not be translated and will be evaluated locally.

Running "Microsoft.EntityFrameworkCore": "1.1.0"

[2016-11-20 20:43] dvdobrovolskiy opened #7077 "The specified deps.json does not exist"
then add-migration

The specified deps.json [m\Dispatcher\m:\build\Dispatcher\Debug\netcoreapp1.0\Dispatcher.deps.json] does not exist
Process finished with non-zero exit code

Started after update to 1.1.0.
There was same issue when project name (path?) contains spaces. Deliberately copied project to root and have same issue.

[2016-11-20 21:13] dvdobrovolskiy commented on #7077
Found. Happens when <OutputPath Condition="'$(OutputPath)'=='' ">
specified to an exact folder.

setting <OutputPath Condition="'$(OutputPath)'=='' ">.\bin\</OutputPath> resolves issue.

[2016-11-21 00:32] krs500 opened #7078 ".NET Framework compatibility issue"
### Steps to reproduce
When I try to install the `Microsoft.EntityFrameworkCore` NuGet package in my .NET Framework 4.6.2 project, it pulls the whole .NET Standard, which consists of more than 50 additional packages:
![image](https://cloud.githubusercontent.com/assets/1933456/20467526/325959b4-af92-11e6-98d0-210747060ae5.png)

### The issue
This is obviously wrong, and `Microsoft.EntityFrameworkCo

[2016-11-21 01:23] prindacerk opened #7079 "TPH Inheritance duplicate relationship error"
The logical relationship is that one vehicle can have multiple estimates and invoices. Some estimates are converted as invoice while others aren't.

This is my Code First Classes.
[code]

When I generate the Migration script, I seem to get two references to the table **Vehicles**. And the script adds a new reference column also. However, when I do a

 command, it throws an error stating that the t

[2016-11-21 05:33] mo-esmp commented on #7061
Entites:
[code]

Maps:
[code]
[code]

[2016-11-21 06:55] smitpatel commented on #7076
Fixed in aspnet/EntityFramework.Tools@10699fa2231d78e7ed5f3a4b5c10a765ec3633c1

[2016-11-21 07:04] helloserve opened #7080 ".Where() ignored before .DefaultIfEmpty() (LEFT JOIN)"
### Steps to reproduce
The following LINQ Query (to SQL) does not generate the correct SQL statement:

[code]

### The issue
Specifically, the .Where(x => x.UserId == 2) condition is not applied to the LEFT JOIN result in the generated SQL statement, and causes incorrect results to be returned.

### Expected behavior (from LINQPad 5)

[code]

### Incorrect Observed behavior (current version 1.1.0)

[2016-11-21 08:08] VagueGit commented on #7064
@LittleLoveVN does the item you are adding have an alternate key? I had this issue trying to add items that have an alternate key. The alternate key must also be unique.

[2016-11-21 08:23] alastairanderson opened #7081 "Tooling not working on Mac without project.json"
### Steps to reproduce
1. Have `1.0.0-preview3-004056` installed on Mac (macOS Sierra 10.12.1)
2. Create new project template `dotnet new -t web` which now gives a .csproj file
3. In the .csproj file, add dependencies required for EF and tooling, so it looks like this:
[code]
Note: I understand the issue is around project.json, and I'm using the .csproj file, but if this is the new default, then s

[2016-11-21 09:24] sbradley090877 opened #7082 ".net core 1.1 indexes"
Having trouble upgrading to .net core 1.1. following the guide
created a brand new console app, as per the guide, created as 1.0.1
ran nuget package manager to update to 1.1
generated context from database first
created basic entity framework get all on db context on random table
I get error;

The indexes {'LocationId', 'PromotionId'} on 'DrpromotionLocation' and {'PromotionId'} on 'DrpromotionLoc

[2016-11-21 10:07] oleksandrmelnychenko commented on #7077
How did you solve it ?

[2016-11-21 10:08] dvdobrovolskiy commented on #7077
Setting OutputPath to default, yes. But I rather have an option to change OutputPath

[2016-11-21 10:14] oleksandrmelnychenko commented on #7077
OutputPath in *.xproj file ?

[2016-11-21 10:16] dvdobrovolskiy commented on #7077
Correct.
<OutputPath Condition="'$(OutputPath)'=='' ">.\bin\</OutputPath>

I usually build to RamDrive

[2016-11-21 10:18] oleksandrmelnychenko commented on #7077
Hmm interesting i have it as default value.

[2016-11-21 10:21] dvdobrovolskiy commented on #7077
It is a default value and it is working fine.

not

[2016-11-21 10:42] amirfahmideh commented on #7048
I have a same issue when trying to get ToString() or GetHashCode() just after  updating to 1.1
[code]

[2016-11-21 11:57] KolyaNET commented on #7071
More on the topic #7076

I have a similar problem `Unrecognized option '--config'`

[2016-11-21 11:58] KolyaNET commented on #7076
#7071

[2016-11-21 12:01] blance5555 commented on #7077
I don't understand what meaning, whether can you tell about the steps?

[2016-11-21 12:03] dvdobrovolskiy commented on #7077
What steps? How to change build output folder?

[2016-11-21 12:23] blance5555 commented on #7077
The specified deps.json [F:\Asp.NetCoreSourceCode\JiaJuProject\src\JiaJuApp\F:\Asp.NetCoreSourceCode\JiaJuProject\src\JiaJuApp\bin\Debug\netcoreapp1.0\JiaJuApp.deps.json] does not exist
I set up, but problems still exist

[2016-11-21 13:01] TPJ11 opened #7083 "EF Core Upgrade 1.0.1 to 1.1.0 does not support net4.6.1 / Tooling issue"
### Steps to reproduce

1. Create a project add a .NET core class library
2. Create a Model E.G TestModel with some properties
3. Create a DbContext class E.G TestDbContext
4. Do the normal fix to make a class library run as a console app so EF migrations can run.
5. Change class to use .net 4.6.1
6. Add EF Core 1.0.1 using tools 1.0.0-preview2-final
7. Add a migration (Add-Migration Create) (shou

[2016-11-21 13:32] jnm2 commented on #7079
(Total side note, which you can feel free to ignore, but inheritance should be a "is-a" relationship, not a "has-a" relationship. In my mind just because an invoice *contains* information from an estimate doesn't mean that an invoice *is* an estimate.)

[2016-11-21 14:35] oleksandrmelnychenko commented on #7077
I did a new Dll and carefully added Nugets and it's okay, after i had the same issue. Something with packages maybe

[2016-11-21 14:37] constantin-v commented on #7068
Same here when I try to do a `Update-Database`

**Project.json**

[code]
I also tried with "System.Data.SqlClient": "4.1.0" and "System.Data.SqlClient": "4.1.0.0"

**Exception**

[code]

[2016-11-21 14:49] onovotny commented on #6328
One minor update - you probably want to use `Ix Async 3.1.1` instead of `3.1`. There's no binary changes, only a packaging update to ensure that `net45` does not pull in the `NETStandard.Library` package to reduce friction for desktop .net users. That's the only change.

[2016-11-21 15:32] branciat opened #7084 "KeyAttribute specified on multiple properties creates an incorrect model"
### Steps to reproduce

The entities
[code]
the fluent declaration into the dbcontext
[code]
### The issue

It's alright with the 1.0.0 of entityframwork and netcoreapp 1.1 and failed with the 1.1.0 when add a second entity in the collection.

[code]

### Further technical details
netcoreapp : 1.1
dotnet core : 1.1.0
EF Core version: 1.1.0
Operating system: debian 8.5
Visual Studio version: vs cod

[2016-11-21 15:41] eqbalsajadi commented on #3921
I found a solution:
http://stackoverflow.com/questions/38312437/can-a-string-based-include-alternative-be-created-in-entity-framework-core/38415886#38415886

[2016-11-21 15:44] skorunka opened #7085 "Changing SQL computed column - migration generates wrong SQL; ALTER instead of DROP/ADD"
### Steps to reproduce
Im using, SQL Server 2008, "Microsoft.EntityFrameworkCore": "1.0.1",
Code:
[code]
Add-Migration FormattedId1
[code]
[code]
### The issue

Wrong SQL is generated by migrations to change computed colum on SQL server.

Generated SQL:
[code]
Should be:
[code]
### Further technical details

http://stackoverflow.com/questions/2372655/how-can-i-alter-this-computed-column-in-sql-ser

[2016-11-21 15:45] eqbalsajadi commented on #7041
solution:
http://stackoverflow.com/questions/38312437/can-a-string-based-include-alternative-be-created-in-entity-framework-core/38415886#38415886

[2016-11-21 16:27] gdoron commented on #1833
@rowanmiller @divega Can you please share with us when if ever this is going to be implemented?
We designed our data structure in a way that is best practice regarding DB design, but heavily rely on this feature.

Consider this **simplified** scheme:

    public class Post
    {
        public int Id { get; set; }
        public string Text { get; set; }
        public List<PostImage> Images { get

[2016-11-21 16:55] thepinkmile opened #7086 "Inheritance mapping on generic types"
### The issue
If you have different types that are related in some way, when you try to map all the "Many-to-Many" relationships via a single table using a discriminator column, adding a new migration fails.

Exception message:
Stack trace:
[code]
### Steps to reproduce
[EntityFrameworkCore.zip](https://github.com/aspnet/EntityFramework/files/604210/EntityFrameworkCore.zip)

Load the project in th

[2016-11-21 17:08] roji opened #7087 "Filtered indexes are generally provider-specific"
#5817, #6866 add support for filtered indexes. While implementing support for this in PostgreSQL I realized that since the filter is an SQL query, in most (all?) cases it's going to be provider-specific due to SQL dialect differences. That is, in PostgreSQL we surround identifiers with double-quotes but in SQL Server we enclose in brackets, and so on.

This may mean that the feature should be move

[2016-11-21 17:23] johnmurphy01 commented on #7021
@divega is there an ETA on a solution? I'm ready to start testing my application but this issue is preventing me from doing so effectively. If it's going to be a while, I will need to consider other options.

[2016-11-21 17:45] laskoviymishka commented on #7087
But you can do simply `.HasFilter("'Id' % 2 = 0")`? This filter just pure string which will be cancatenate to `WHERE` claueses. May be it worth to keep it into relational and add some provider specific stuff around it?

[2016-11-21 17:56] roji commented on #7087
@laskoviymishka, in your sample Id is a column, right? In that case, single-quoting it doesn't work in PostgreSQL. The correct way would be to double-quote identifiers, otherwise PostgreSQL automatically lower-cases them. So the PostgreSQL version for your sample would be `HasFilter("\"Id\" % 2 = 0")`.

I'm not sure to what extent quoting/delimiting rules vary that much across providers... It's ab

[2016-11-21 17:58] laskoviymishka commented on #7087
Sounds reasonable

[2016-11-21 17:58] dgxhubbard commented on #4269
I have just started looking at xamarin and was wondering if xamarin is now supported on EF core 1.1. This is a very much needed item in order to proceed with our development plans.

[2016-11-21 17:59] ajcvickers commented on #7041
@eqbalsajadi String-based include was shipped in EF Core 1.1. That stackoverflow is out-of-date.

[2016-11-21 17:59] rowanmiller commented on #1833
@gdoron we do want to do this, but it's not at the top of the list. Our [Roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap) will give you an idea of the things that are going to be worked on next. You will see that this is listed under "High Priority", but just not the "Critical O/RM" list.

[2016-11-21 17:59] roji commented on #7087
So @AndriySvyryd, @laskoviymishka and anyone else from the EF team, it would be good to have your opinion on whether `HasFilter()` should continue to exist. Once there's agreement to that I can submit a PR (or if you prefer to do it @laskoviymishka).

[2016-11-21 18:10] rowanmiller commented on #1767
@toralux please open a new issue and include a code example

[2016-11-21 18:11] ajcvickers commented on #3921
@eqbalsajadi String-based include was shipped in EF Core 1.1. That stackoverflow is out-of-date.

[2016-11-21 18:15] rowanmiller commented on #7069
Could you try explicitly listing `"Microsoft.EntityFrameworkCore": "1.1.0"` in your dependencies?

[2016-11-21 18:23] ajcvickers commented on #7064
@LittleLoveVN Can you show the code for your entity types and any configuration that is happening in OnModelCreating?

[2016-11-21 18:27] rowanmiller commented on #4846
It's just a matter of priority. It comes after some of the other things on our [Roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap). You can workaround it at the moment by replacing the code to create indexes in your migrations with a `Sql(stirng)` call to create it with the `INCLUDE`s

[2016-11-21 18:33] gdoron commented on #4846
Thanks for the reply Rowan.
The problem with having raw DSL SQL in a migration is that you can't delete all your migrations and start fresh, which is a common pattern people do.

But I guess it's the only way currently available.

[2016-11-21 18:43] charleeswann commented on #7072
I have the same issue, can anyone assist with this? thank you

[2016-11-21 18:45] BrennanConroy commented on #6248
AsyncQuerySqlServerTest.Except_nested has started failing on the CI with the
[code]
exception

[2016-11-21 18:57] divega commented on #7032
@SateeshO that is still not supported in EF Core. The feature is tracked as #1862, so closing this issue as a duplicate.

[2016-11-21 19:00] ajcvickers commented on #7084
@branciat Can you show the code for "adding a second entity in the collection"?

[2016-11-21 19:01] hyuksel commented on #7072
Hi Charles,

btw my workaround is to maintain the old project in Dotnetcore 1.0 (in another temp folder) and scaffold /update my classes there and copy the folders to my new VS2017 project folder. I kept the same Assembly and Namespace and everything works fine. I hope the Core team solves the problem soon though.. 👍

[2016-11-21 19:07] rowanmiller commented on #7022
@bricelam anything left to do with this one?

[2016-11-21 19:11] rowanmiller commented on #7055
Closing as we are pretty confident this was the issue

[2016-11-21 19:12] rowanmiller commented on #7056
Feel free to reply if that doesn't fix the issue and we will reopen

[2016-11-21 19:29] rowanmiller commented on #7076
Closing as a dupe of #7071

[2016-11-21 19:46] rowanmiller commented on #7085
The current workaround would be to manually edit the scaffolded migration to do the drop and create.

[2016-11-21 19:52] VagueGit commented on #7069
Thank you for the suggestion @rowanmiller but adding `Microsoft.EntityFrameworkCore": "1.1.0"` makes no difference. The same build error appears.

[2016-11-21 20:07] kratorspore commented on #6971
Am having the same issue here. Tried using Fusion Logs but all the bindings seemed to be with NuGet 3.5. If I remove Microsoft.EntityFrameworkCore.Tools.DotNet from my project.json everything returns to normal. The update and browse tabs of the manager seem to work fine too. The package manager console command Get-Package works just fine.

[2016-11-21 20:07] bricelam commented on #7022
Nope. Won't fix.

[2016-11-21 20:10] rowanmiller commented on #7072
Hey,

First up I just want to acknowledge that this is all super messy at the moment, so I realize the steps to get this working are far from intuitive.

To use `dotnet ef` you need to install a particular version of the tools that are designed to work with the new .NET Core MSBuild work in VS2017. Note that it is `...Tools.DotNet` and not `...Tools`.

[code]

This is mutually exclusive with `Inst

[2016-11-21 20:10] bricelam commented on #7085
This sounds familiar. It may have been fixed in 1.1.0.

[2016-11-21 20:32] rowanmiller commented on #7069
Thanks for confirming, we'll get someone to dig into it. We've had an influx of issues with the 1.1 release, so it may take a little longer than usual.

[2016-11-21 20:44] rowanmiller commented on #6971
Are you still seeing this with the latest tooling release `1.1.0-preview4`?

[2016-11-21 20:45] anpete commented on #7048
Possible issue in corefx ([#13864](https://github.com/dotnet/corefx/issues/13864))

[2016-11-21 20:55] VagueGit commented on #7069
The problem goes away if I set
[code]

 I thought this might be due to `using Microsoft.EntityFrameworkCore;` in `Model.cs` so I added the same using to  `MainPageViewModel` but that didn't fix the problem.

[2016-11-21 21:01] rowanmiller commented on #7081
First up I just want to acknowledge that this is all super messy at the moment, so I realize the steps to get this working are far from intuitive.

To use `dotnet ef` you need to install a particular version of the tools that are designed to work with the new .NET Core MSBuild work in VS2017. You want `1.0.0-msbuild1-final` for the `Microsoft.EntityFrameworkCore.Tools.DotNet` package.