[2019-06-14 19:40] ajcvickers commented on #16102
@kccsf In general we would prefer you log any issues unless you have confidence that they are already tracked by another issue. External feedback on what is working or not is very valuable because query generation is a very large space which means we are inevitably missing test coverage.

[2019-06-14 19:45] NessInOnett opened #16104 "NotImplementedException thrown if predicate passed into a linq method from within an expression tree"
Hi.  I am running into a `NotImplementedException` exception any time I attempt to pass a predicate into any linq method, if it's called from inside an expression tree.  Same issue with `FirstOrDefault(...)`, `OrderBy(...)`, `Select(...)` etc.

`FirstOrDefault()` with no parameters works fine.

I've just updated to the latest preview6 packages and still encounter the same trouble.

Cheers

---

`E

[2019-06-14 20:00] kccsf commented on #16102
@ajvickers - Must be a tough one to cover with tests. Looking forward to EF Core improving as a result of the rewrite  :-).

The nightly build issue was not to do with query generation, an exception occurs when the db context gets newed up. I'll log it now. Thanks again

[2019-06-14 20:13] kccsf opened #16105 "'Derived method 'HasTables' - cannot reduce access (Nightly 3.0.0-preview7.19313.16)"
Upgraded from 3.0.0 preview 5 to nightly 3.0.0-preview7.19313.16 (preview 5 was working fine). When the db context gets newed up an exception is thrown.

Exception message:
Derived method 'HasTables' in type 'Microsoft.EntityFrameworkCore.SqlServer.Storage.Internal.SqlServerDatabaseCreator' from assembly 'Microsoft.EntityFrameworkCore.SqlServer, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb

[2019-06-14 20:34] smitpatel commented on #16105
Can you share your csproj? Are all packages aligned in versions?

[2019-06-14 20:41] crackyTozo commented on #12335
Was this issue ever solved or was there a solution provided? I'm experiencing similar problem in which a property change or update is not persisted to the database because the property is part of a navigation property key. Hence, it's not mark as "modified". I can't find a solution.

[2019-06-14 21:06] ajcvickers commented on #12335
@crackyTozo The `closed-duplicate` indicates that this issue was closed as a duplicate of #10450

[2019-06-14 21:19] smitpatel commented on #16098
Closure variable has type of `DayOfWeek[]` so our parameter gets that type. I am not sure why closure variable got a different type from actual type but it throws off our printing part.

Since it throws with invalid sql and there is easy work-around, marking for punt.

[2019-06-14 21:24] bricelam commented on #16071
@jhoward321 It looks like `dotnet` isn't on the path. How are you installing the .NET Core SDK?

[2019-06-14 21:36] RheaAyase commented on #16071
dotnet is on the path otherwise it wouldn't run - that is dotnet's exception :P
Or rather, that is EF's exception, and for some reason it can't find some (hardcoded or env.var'ed) filepath.
We checked `DOTNET_ROOT` and `ASPNETCORE_ENVIRONMENT` which are both set.

[2019-06-14 22:03] BaoNTGH opened #16106 "Exception must be reducible node when upgrading to Preview6"
Testing EntityFrameworkCore with Microsoft.EntityFrameworkCore.InMemory 3.0.0-preview5.19227.1. Upgrading to Microsoft.EntityFrameworkCore.InMemory 3.0.0-preview6.19304.10 throws exception for the same code.

[code]

### Steps to reproduce
Create a simple netcoreapp project, switching from 2 versions

[code]
[code]
### Further technical details
EF Core version: 3.0.0-preview6.19304.10
Database Pro

[2019-06-14 22:31] bricelam commented on #16071
Looks like the error comes when we try to execute this:

[2019-06-14 22:32] bricelam commented on #16071
Can you try running that with `\verbosity:normal`?

[2019-06-14 22:34] bricelam commented on #16071
No wait, that’s not able to run because it can’t find `dotnet`...

[2019-06-14 22:42] kccsf commented on #16105
I believe they are. Attached are the two projects in the solution that reference EF
Thanks
[csproj.zip](https://github.com/aspnet/EntityFrameworkCore/files/3292415/csproj.zip)

[2019-06-14 23:19] smitpatel commented on #16105
From Repository.csproj file
[code]
Your SqlServer version is behind EFCore.Design. Design would pull in higher version of Relational & Core. Hence the breaking change exists in relational package but you are not using associated updated SqlServer package. Update your SqlServer package version to align with EFCore.Design.

P.S. you should not be referencing Identity 2.2.0 package. It will likely no

[2019-06-15 01:08] kccsf commented on #16105
Superb, many thanks :-)

[2019-06-15 01:42] kccsf opened #16107 "Add test for...ThenInclude value cannot be null"
var test = await dbcontext.SomeEntity
                    .Include(x => x.SecondEntity).ThenInclude(x => x.ThirdEntity)
                    .SingleOrDefaultAsync(x => x.Id == id);

Fails when SecondEntity is null.

Works when ThenInclude is removed. Also works if SecondEntity is not null even if ThirdEntity is null.

[code]

### Steps to reproduce
Have private repo if required

### Further technic

[2019-06-15 01:52] smitpatel commented on #16107
@kccsf - Thanks for reporting. I believe I know where the bug is. Repro is not necessary. :)

[2019-06-15 01:56] kccsf commented on #16107
No problem; thanks again for such speedy feedback! :-)

[2019-06-15 04:18] LlewellynJones opened #16109 "EF Core - Predefined type 'System.Object' is not defined or imported (CS0518)"
Describe what is not working as expected.

The project looked okay until I installed EFCore by running:
"dotnet add package Microsoft.EntityFrameworkCore.SqlServer"

If you are seeing an exception, include the full exceptions details (message and stack trace).
All the objects in my project are in error with the following or similar message:

Predefined type 'System.Object' is not defined or import

[2019-06-15 05:06] ArrowCase opened #16111 "Change tracking throws InvalidCastException when enum is bound to tinyint in Sqlite"
### Versions

Windows 10
Visual Studio `16.2 Preview 1`
.NET Core SDK `3.0.100-preview6-012264`
NETCore.App `3.0.0-preview6-27804-01`
Microsoft.EntityFrameworkCore.Sqlite `3.0.0-preview6.19304.10`

### Steps to reproduce

* Create a project using EF Core with Sqlite.
* Create an entity class with an enum property **whose base type is anything other than `long`**.
* Use annotations or fluent calls

[2019-06-15 07:32] maumar commented on #16090
dupe of #15381

[2019-06-15 08:00] maumar commented on #16076
problem here is that when we rewrite collection navigations into subqueries, we remove MaterializeCollectionNavigation metadata (effectively making it IQueryable<T>) if the collection is wrapped around a method call. We should only do that if the caller/argument slot for which the collection is used is IQueryable itself, otherwise we should materialize the collection to keep the types consistent.

[2019-06-15 11:48] brager17 commented on #6517
@rowanmiller
In version 3 is not fixed this problem?
Why you think that interpolation is difficult to convert, it's just a call to the string.Format method with reference types or value types.

[2019-06-15 11:54] ErikEJ commented on #1679
@smitpatel @bricelam Confirmed that this works as desired with preview6 and AdventureWorks2014:

            modelBuilder.Entity<VVendorWithContacts>(entity =>
            {
                entity.HasNoKey();

                entity.ToTable("vVendorWithContacts", "Purchasing");

[2019-06-15 15:14] mhosman commented on #16104
Same problem here! My code is not working singe preview 6.

[2019-06-15 16:20] jhoward321 commented on #16071
@bricelam you want the msbuild command you posted above? That command works no problem. I can build projects fine, its only EF tools that don't work.
[code]

[2019-06-15 23:36] ajcvickers commented on #15066
@kosinsky PR: #16113 Does this look like it covers what you need?

[2019-06-15 23:57] ajcvickers commented on #15988
Scenarios are partially covered by #15066. Moving to the backlog for the rest.

[2019-06-16 00:02] ajcvickers commented on #626
See #15066 for `IDbCommandInterceptor` (for command interception), for which there is now a PR: #16113

[2019-06-16 01:27] StingyJack commented on #16009
It would if you decorated it with something like `[ForeignKey(typeof(ParentTable), "columnName)]`.

EF having this would mean it could play well with others instead of being the DAL bully.

[2019-06-16 05:28] jose8789 opened #16115 "Global Query is not working in preview6"
###

I have a simple repository with a method to retrieve all courses
[code]
and it gives the current error
[code]

### Steps to reproduce

[code]
in dbcontex
[code]
in repository:
[code]

### Further technical details
EF Core version: 3.0.0-preview6.19304.10
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:
IDE: (e.g. Visual Studio 2019 16.2)

[2019-06-16 14:23] ajcvickers commented on #14523
Note: we are reverting this breaking change. See #15888

[2019-06-16 14:28] ErikEJ commented on #14523
Also update breaking changes docs?

[2019-06-16 14:38] ajcvickers commented on #14523
@ErikEJ Done, but haven't sent the PR yet.

[2019-06-16 14:50] ajcvickers commented on #15921
@divega Do we still want to do this given how the discussions around Blazor have evolved?

[2019-06-16 16:14] douglasg14b commented on #15910
My use case for this would be logging and audit trails.

[2019-06-16 17:27] ajcvickers opened #16119 "Refactor extension info/metadata from IDbContextOptionsExtension"
Because we have now on multiple occasions needed to add to or change this interface. Breaking this out into an abstract base class that extensions can use will make it easier to evolve this without breaking extensions.

(Was part of #16045)

[2019-06-16 17:28] ajcvickers commented on #16045
Broke out the breaking change into a separate issue: #16119

[2019-06-16 23:57] kosinsky commented on #15066
@ajcvickers  Partially. Looks like when implementing IDbCommandInterceptor we don't have a way to access original DbContext or service provider (and then get DbContext scoped service that we could use for command execution). Am I missing something?
In my use case, we attaching our custom SqlResourceComponent (it's responsible for query execution, RLS, circuit breakers etc.) to DbContext and then i

[2019-06-17 00:26] MhdTlb commented on #13987
I would like to work on this task. any guide PLZ

[2019-06-17 03:16] Leon99 commented on #12045
@warappa looks great, kudos for the solution! I noticed that the comments to the original article mention issues with using it with `ValueGeneratedOnAdd()`. Did you manage to help it with your modification by any chance?

[2019-06-17 05:05] #15037 closed

[2019-06-17 05:13] bricelam commented on #13987
Work is described above:
* Update [SqliteDataReader.GetBytes()](https://github.com/aspnet/EntityFrameworkCore/blob/b8d8dbcc5ffcb19134f5c3878bc9921ed7be2f62/src/Microsoft.Data.Sqlite.Core/SqliteDataRecord.cs#L181) to use GetStream()
* Update GetChars() to use GetStream(); Text is encoded as UTF-8
* Update GetTextReader() to use GetStream(). Again, UTF-8
* Update GetStream() to cache `rowidOrdinal`

[2019-06-17 07:05] drua commented on #13726
We are still facing these issue in dotnetcore **console** application.

Steps to reproduce:
Create console app ( core 2.1)
Add Entity frameworks from package-manager console
Use database first approach
`Scaffold-DbContext -Connection name=DbAsp Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -f`

We are getting this same error as soon as we run this command
.

[2019-06-17 08:15] rajeevanvgh opened #16122 ".Net Core 2.1 EntityFramework Error - Db tinyint column(C# byte) checked with == 1 converted in SQL as 1 as Flag at runtime."
While trying to upgrade a .net core 2.0 Web API project to 2.1, I am getting an Exception "Type Flag is not a defined system type."
There are two columns  in db,  `Primary` and `Deleted`  which are of  datatype `tinyint` which we are facing problem, Corresponding .Net Core generated data type is byte .
Please find the details:

The following query throws exception at runtime.

[code]
1) The query

[2019-06-17 08:58] nphmuller commented on #15066
@kosinsky @ajcvickers Injecting the DbContext in the interceptor's constructor would probably work, right? Or are only Singleton interceptors supported?

[2019-06-17 09:25] BryantVail commented on #9847
this actually says, "Column" Needs to be dropped & re-created, not "table"

[2019-06-17 13:47] samueleresca commented on #16099
Hi @ajcvickers, sorry, I've totally missed the announcement part about EF Core, my fault :). Should I close the issue?

[2019-06-17 14:31] warappa commented on #12045
@Leon99 I just tested it. Out-of-the-box (incl. the custom ValueConverterSelector) it doesn't work: EF doesn't know about `CustomId`. But EF supports custom `ValueGenerator`s.
**With a *custom* ValueGenerator it works**:

Entity configuration:
[code]

Custom ValueGenerator:
[code]

I think a generic solution is possible, but as smitpatel suspects the underlying problem is fixed, I didn't went this

[2019-06-17 14:49] #15888 closed

[2019-06-17 14:59] ajcvickers commented on #16099
@samueleresca I was attempting to thank you for filing the issue! I guess I need to change the my wording somewhat to make that clear.

[2019-06-17 15:02] ostorc opened #16124 "Include cause invalid queries"
I have a problem with Include() and ThenInclude() in new version of EF.

I have an IQueryable<BeiType> collection:
[code]
And have (at least) two problems:

1) When using Where on collection, EF generates invalid SQL
[code]
[code]

2. When using FirstOrDefault(e => e.Id == query.Id):
[code]

### Steps to reproduce
I have two entities:
[code]
and
[code]

with following mapping (only which matters):

[2019-06-17 15:07] ostorc commented on #16124
Can provide more information about setup of EF, but it's private repo so can't share whole code...

[2019-06-17 15:16] ajcvickers opened #16125 ".NET Core 3.0.100-preview6-012264 upgrade breaks Culture Comparison"
Moved from https://github.com/dotnet/core/issues/2872 originally filed by @NichUK

- .NET Core 3.0.100-preview6-012264
- Windows Server 2019

**Problem Description**
I upgraded a project to Preview 6 (from Preview 5) and started getting exceptions on a line of code that has been working for months...

`return _oeContext.ConfigItems.Where(c =>`
`                c.Name.Equals(key, StringComparison.C

[2019-06-17 15:19] ajcvickers commented on #16125
@NichUK First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to LINQ

[2019-06-17 15:30] ajcvickers commented on #16109
@LlewellynJones Can you please post you `csproj` file.

[2019-06-17 15:44] LlewellynJones commented on #16109
Here you go:

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.2.4" />
  </ItemGroup>

</Project>

[2019-06-17 15:59] ajcvickers commented on #16111
@ArrowCase SQLite doesn't have a column type `tinyint`. SQLite will let you specify anything, but it doesn't mean anything unless it's one of the four types that it understands. Is there a reason you are specifying `tinyint` on SQLite?

Note for triage: this happens because when picking a value conversion we reject it if it would not result in the correct mapping for the type specified. But since

[2019-06-17 16:09] ajcvickers commented on #13726
@drua By default, a console application created in Visual Studio or by `dotnet` doesn't have any EF code, so when you say that you did not make any modifications to the default created project, that doesn't seem to align with the exception you are seeing. Given this, I think I am misunderstanding what you mean by "default console app". Can you post the "default console app" that you created so we

[2019-06-17 16:20] StrangeWill commented on #14594
A use case I ran into:
- Attempting to do a lot of EF work
- Upon error, create a log entry and log it to the database
- If an error happens in the middle of EF work, the EF state will be invalid (missing objects, not cleaned out other objects, etc.)
- Log insert usually fails due to prior state

My options are:
- Inject a DbContext factory instead of a DbContext, request a new instance from the f

[2019-06-17 16:21] ArrowCase commented on #16111
@ajcvickers

My code was originally written for LocalDB, and I switched providers to Sqlite thinking I shouldn't have to worry about the column annotations since [Sqlite understands those data types](https://www.sqlite.org/datatype3.html#affinity_name_examples) even though it doesn't actually use them. In this case, the enum column is created just fine with INTEGER affinity.

It seems like a bad e

[2019-06-17 16:21] ajcvickers commented on #16122
@rajeevanvgh Have you tried this on the 2.2.4 release?

[2019-06-17 16:29] ajcvickers commented on #15996
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-17 17:24] StrangeWill commented on #14594
Also ran into another case:
- Remove item who's primary key is a composite key of two foreign keys.
- SaveChanges
- Add new item with same composite key

Throws:
`System.InvalidOperationException: The instance of entity type 'Point' cannot be tracked because another instance with the key value '{PointDetailId: 1124936, PointTypeId: 54}' is already being tracked.`

That's a bit rough to get around

[2019-06-17 17:59] ajcvickers commented on #16065
Notes from triage: We plan to implement this in 3.0, but consider:
* `Union` (and likely other set operations) must operate on the same shape to be translated. This means that if the first `ctx.Bars` has an `Include`, then the second must also do so.
So this is okay:
[code]
But this will throw:
[code]
* It is likely that putting the `Include` at the end will work in 3.0, although semantically it c

[2019-06-17 18:09] ajcvickers commented on #16104
First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to LINQ queries

[2019-06-17 18:11] ajcvickers commented on #16106
@NguyenTanBao First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to

[2019-06-17 18:14] ajcvickers commented on #16109
@LlewellynJones Do you have a [`global.json`](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) anywhere that could be pinning to the wrong SDK.

Also, it would probably be a good idea to uninstall the very old 1.0 preview SDK since it could be having some unexpected influence.

[2019-06-17 18:15] ajcvickers commented on #16111
@ArrowCase Thanks for the additional info.

Note from triage: we should discuss with @bricelam

[2019-06-17 18:18] ajcvickers commented on #16115
@jose8789 First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to LIN

[2019-06-17 18:35] UseMuse commented on #16013
@ajcvickers my goal was to update the entity by the entityDto using automapper
All the same, I got my way with [this](https://github.com/AutoMapper/AutoMapper.Collection), more in the description

[2019-06-17 18:38] NichUK commented on #16125
Aha! :)  Thanks for that @ajcvickers. I had not seen that blog, great news, and also says quite clearly that equality comparisons may well fail.

I'm using the ToLower() workaround for now, so all good. I'm happy to either close this as a known issue, or leave it open for tracking, whichever the owning team prefer.

Otherwise Preview 6 is working pretty well for me.

[2019-06-17 18:55] ajcvickers commented on #16125
@NichUK Thanks; great to hear preview 6 is working.

@maumar @smitpatel Please de-dupe this if needed.

[2019-06-17 18:58] ajcvickers commented on #6717
@neoaisac Thanks for your interest. There's a lot of discussion here which I am hoping @divega can distill down into some key points. However, it could be that this ends up being quite complicated to implement and it may end up being something that, realistically, needs to be done by the team.

[2019-06-17 18:58] smitpatel commented on #16125
Duplicate of #1222

I am bit surprised that it worked in preview5 perhaps client eval was set to be on. And now we don't have it anymore in preview6.

[2019-06-17 19:00] ajcvickers commented on #15921
Note from triage: currently marking this as blocked waiting on the outcome of the Blazor discussion in https://github.com/aspnet/AspNetCore/issues/10448.

This is a breaking change that we are willing to make if the value on the Blazor side is high enough, but otherwise is not something where there is clear enough value to make the break.

[2019-06-17 19:01] smitpatel commented on #16115
Duplicate of #15264

[2019-06-17 19:05] smitpatel commented on #16106
InMemory include does not work.

Duplicate of #15711

[2019-06-17 19:08] smitpatel commented on #16104
We need to investigate this since it should already be working. There are few places which needs to work out to translate it correctly.
- FOD with predicate gets converted to where + FOD by nav rewrite
- Subquery member pushdown.

@arcooke - Can you verify the predicate passed into FirstOrDefault as it is always true? Is that typo or valid?

[2019-06-17 19:19] Julien-Marpault opened #16126 "Operation is not valid due to the current state of the object"
I just installed .NET Core 3 preview6 SKD and I get an error with a query:

Here's my query

[code]

where

[code]

And

[code]

When executing I get an error:

Operation is not valid due to the current state of the object.

But if I write my request in three parts, this way:

[code]

It works fine.

Any Idea ?

Thanks.

[2019-06-17 19:38] LlewellynJones commented on #16109
I don't have a global.json in the project. I did uninstall Core .Net 1.0 and the Core .Net 1.0 Tools. Now I'm not getting the object errors but I'm getting _launch Program '' does not exist_ when I start the debugger. When I build the project I get:
ERROR: Error: spawn dotnet ENOENT
Done: -4058.

[2019-06-17 19:55] roji commented on #6812
Here are various notes on database-specific details for set operations (will update as I come across others).

## Database documentation

SqlServer: [UNION](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/set-operators-union-transact-sql?view=sql-server-2017), [INTERSECT/EXCEPT](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/set-operators-except-and-intersect-transact-sq

[2019-06-17 20:08] LlewellynJones commented on #16109
I was able open the above projects in VS 2017 and debug them. Did removing the Core 1.0 convert these projects from VS 2015 to VS 2017...?

[2019-06-17 20:09] arcooke commented on #16104
@ajcvickers Happy to help..  Oddly enough, I was on preview 5 when I first encountered this, and updated to 6 to see if it had been fixed.  I just now reverted everything back to preview 5 (19227.1) to re-test, and now the same code posted above works fine.  I may have temporarily had a version mismatch somewhere since I used wildcards for nuget package versions (`3.0.0-preview5.*`, `3.0.0-preview

[2019-06-17 20:20] Menighin commented on #16030
Hi @ajcvickers , I see you marked this as a bug. Were you guys able to find the reason behind it already?
I'm just asking because maybe there's a way to avoid it and I would pay attention when developing to not fall for it again.
Thanks!

[2019-06-17 20:22] cgountanis commented on #15996
To be honest, just have not had the time to scope a demo with the relational DB/sample data needed. I tested in a console app on existing and did not have any issues, not sure why the MVC app would respond differently. Since then, we really just found a better way to break apart the EF calls into more modular repository calls vs. one big call with "things/joins/includes" we did not need. Looking f

[2019-06-17 20:34] mhosman commented on #16104
Same issue here!!!

[2019-06-17 21:28] maumar commented on #13546
@MikaelEliasson sorry for the late reply. Here is some background:

The problem is that include pipeline relies on QuerySourceReferenceExpression to figure out what/where needs to be included. This leads to the issue that include only works when the QuerySourceReferenceExpression in directly accessible in the final result (top level projection).
In the IncludeLoadTree QuerySourceReferenceExpressio

[2019-06-17 22:01] NichUK commented on #16125
I think EF Core was a few versions behind when I was on Preview 5, hence the problem only appeared when I upgraded everything to 6.

Thanks!

[2019-06-17 22:05] smitpatel opened #16129 "Cosmos: CosmosDbConfiguredConditionAttribute should catch only expected exception"
It uses EF to connect and catches all exceptions. Any exceptions arising from EF stack would skip test as if Emulator is not running. (Even though it is). This hides actual error.

[2019-06-17 22:23] #16045 closed

[2019-06-17 22:23] #16119 closed

[2019-06-18 02:47] vocko commented on #14412
This should be optional as we are unable to upgrade due to tons of duplicate keys now and secondly, we even want to keep those duplicated definitions as they help developers to orient what is pointing where.
It is nice to have a feature to discover them if one wants to remove the duplicate definitions though.

[2019-06-18 03:46] AndriySvyryd commented on #14412
@vocko Can you show open a new issue with a small repro project that throws this exception and explain exactly how it would be useful not to throw besides saving the time to remove them?

[2019-06-18 04:08] vocko commented on #14412
Simply this case. As there are defined Table attributes, you are not allowed to have the ForeignKey one as it duplicates it (at least that's what I'm getting from the error I get). While I can click-through to a Company object, is is still nice to have that attribute on Person's property what gives me immediate visual hint where it points to and that it is related to some other table.

[code]
And

[2019-06-18 04:18] AndriySvyryd commented on #14412
@vocko That example doesn't throw any exceptions.

Is only thrown when there are multiple `ForeignKeyAttribute` for the same property using different navigations.

[2019-06-18 04:29] vocko commented on #14412
Hmm, maybe I've missed something, I'm in the middle of something else right now, but I will take a look later to get the exact example we had problem with. I know that there were problems with Attributes where the same FK is defined in model builder, but I will try to bring the exact problem.

Thanks for responding Andriy!

[2019-06-18 06:36] rajeevanvgh commented on #16122
@ajcvickers  No. I was trying to upgrade to  2.1.11.
The problem looks like scaffolding creates configuration properties as .HasColumnType("Flag") for tinyint and in the query if you check value like x.Primary == 1, the SQL query generated is changing 1 as  CAST(1 AS Flag)). If I use x.Primary == Convert.ToByte(1) it works.

[2019-06-18 08:16] nixxcz opened #16133 "Throw a better exception for failed translations (i.e. client evaluation not supported)"
I'm passing a predicate to LINQ query as `Func<>`. The resulting expression cannot be, for some reason, translated to SQL. In Preview 5, I get a helpful exception. In Preview 6, I get no clue about what went wrong.

https://github.com/aspnet/EntityFrameworkCore/issues/16101 may be related

I would appreciate suggestions on how to pass the predicate so that it can be translated.
Thank you!

### Pre

[2019-06-18 08:38] ctrl-alt-d commented on #16070
hi,

I see the issue was tagged as 3.0.0 milestone. Database indexes with several fields is a widely used, then, I suspect that, maybe, I'm using EF in wrong way. @ajcvickers, can you explain to me if something is wrong with the sample pattern I posted as example? Thanks!

[2019-06-18 10:43] tidusjar commented on #1698
Is there an update for this?

[2019-06-18 11:22] mbodecek commented on #16065
@maumar @ajcvickers Thanks for clarification. It's a fair distinction and in makes sense this does not work with the current in-memory implementation of Union (if maybe surprising for new users coming from EF6).

[2019-06-18 13:16] aybelanov commented on #16104
Hi everyone!
I have the same issue after updating to preview6. Before it all work witout issues (The next code is the native code NopCommerce).

**This simple expression (and others similar ones too):**
 query = from p in query
                        from pc in p.ProductCategories.Where(pc => categoryIds.Contains(pc.CategoryId))
                        where categoryIds.Contains(pc.CategoryId)

[2019-06-18 14:18] dasMulli commented on #16106
@smitpatel the referenced item does not (specifically) mention `Include`, is this though planned to be addressed in an upcoming preview or already in CI builds?

[2019-06-18 14:22] d4e666 commented on #12422
what is the final on this? won't fix or under investyigatyion. I would like to see some REASON for getting closed instead of just "closed question". I see a lot of issues just get closed which make perfect sence. Wo we realy need to start poluting codebases with extension methods because of some lazy development team?

[2019-06-18 14:28] smitpatel commented on #12422
The value vs cost does not favor implementing this for us (given all other competing features). So we are not going to do it. We close the issue we are not planning to fix (ever) since we don't need to track them.

[2019-06-18 14:29] smitpatel commented on #16106
It will be fixed in upcoming preview. It is not currently fixed.

[2019-06-18 14:31] smitpatel commented on #16133
Duplicate of #14572

That being said, second query may not work because of client eval.

[2019-06-18 15:04] ajcvickers commented on #16109
@LlewellynJones It sounds like you are having a lot of issues getting .NET Core to work that are not related to EF. I would suggest to follow up instead on https://github.com/dotnet/core

[2019-06-18 15:05] ajcvickers commented on #16030
@smitpatel @maumar Any specific workarounds for this issue?

[2019-06-18 15:08] ajcvickers commented on #16122
@rajeevanvgh Can you post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can identify the root cause.

[2019-06-18 15:09] ajcvickers commented on #16133
@nixxcz Also, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to LINQ q

[2019-06-18 15:13] DnyaneshwarShivbhakta opened #16135 "Spatial query is taking too much time with NetTopology suite"
We have delivery & tracking application. We are sending live address point(latitude & longitude) from Mobile devices to the Web API & checking those addresses distance with delivery address point. When multiple carriers are online it's taking too much time. following is the query which is taking too much time. This query is taking more than10 minutes of time when we have multiple delivery boy deli

[2019-06-18 15:15] ajcvickers commented on #1698
@tidusjar This issue is closed in favor of #4050, which is on the backlog.

[2019-06-18 15:19] ajcvickers commented on #16135
@DnyaneshwarShivbhakta Do the logs from EF contain a warning indicating that this is being evaluated on the client?

[2019-06-18 15:23] MattHartz opened #16137 ".net core 2.2 + ef core connection timeout"
Hi all,

I am currently running a Service Fabric cluster locally using .net core and ef core. Everything works great in moderation, but during intergration testing I am seeing connection timeouts if ~125 requests are made within a few minute window.

If I am adding the dbcontext at startup, shouldn't the DI container be closing the connection when disposed after the API call has finished?

If ther

[2019-06-18 15:58] LlewellynJones commented on #16109
Okay, I did that.

[2019-06-18 16:00] #15066 closed

[2019-06-18 16:05] DnyaneshwarShivbhakta commented on #16135
no... I am not getting such warning

[2019-06-18 16:15] smitpatel commented on #16030
Do GroupBy on client side since it is not going to server evaluated in this case.

[2019-06-18 16:27] #15939 closed

[2019-06-18 16:47] AndriySvyryd commented on #16070
@ctrl-alt-d There is nothing wrong with your code that I can see. I will investigate whether this is an EF issue and get back to you.

[2019-06-18 17:05] jhorv-bvb commented on #15932
This does pose one problem - when I use Visual Studio's Quick Actions to generate a constructor, it includes a [NotNullAttribute] annotation which is an error.

![image](https://user-images.githubusercontent.com/42846583/59704229-97a2e580-91c9-11e9-9c2d-efed55c87ecf.png)

[2019-06-18 17:22] tidusjar commented on #4050
I know you guys are super busy and have a lot of work to do at the moment but can someone please expand why this was taken out of the 3.0 release? Any idea when it might be placed in a different release?

[2019-06-18 17:23] ajcvickers commented on #15932
@jhorv-bvb See #462 and https://github.com/dotnet/roslyn/issues/5646

[2019-06-18 17:29] ajcvickers commented on #4050
@tidusjar It was taken out because we don't have enough resources to complete it in time for 3.0. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-18 18:35] smitpatel commented on #15338
I am adding infrastructure support for this in query pipeline.

[2019-06-18 19:42] douglasg14b commented on #302
Well, that's a shame...

[2019-06-18 19:53] JabX commented on #14489
Wow I was just confronted with the problem as I was inexplicably getting an error (client evaluation was failing) on my Linux testing environments that I couldn't reproduce on my local Windows machine... I definitely could have searched for a very long time for a proper solution (which is removing *one* line break...) if not for this issue.

[2019-06-18 20:02] tallichet opened #16139 "HasQueryFilter not working from Entity Framework Core 3.0 Preview 6"
I have updated a project (blazor server side using EF Core 3) from preview 5 to preview 6. Since then,  my QueryFilters are not working any more.
My database context are registered as transcient.

The code is has follows:

[code]

The `SetQueryFilter` is called from `OnModelCreating`. `_tenantId` is set in the ctor.

The methods also seems to be called only once.

[2019-06-18 20:03] tallichet commented on #16139
And yes, my code was working correctly using Entity Framework Core 3.0 Preview 5

[2019-06-18 20:21] smitpatel commented on #16139
Duplicate of #15264

[2019-06-18 20:21] ajcvickers commented on #16139
@tallichet First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are happening to LI

[2019-06-18 20:50] AndriySvyryd opened #16140 "Perf: Avoid boxing in CompositeValueFactory and related classes"
Currently the composite key values are stored as `object[]`

[2019-06-18 21:29] max619 opened #16141 "Add EF.Functions.Random()"
Is it possible to retrive random sequence of entities using mysql `rnd()` function and how to do it?

Obviously `OrderBy(x=>Guid.NewGuid())` is not working as referenced [here](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/265)

[2019-06-18 21:51] totpero commented on #10382
I create little "hack" to **bypass 0 PK value restriction** after I reverse engineering the [EF Core][1] code and I find [this][2] line of code.

Here is my snipped extension code:

    using System;
    using System.Linq;
    using System.Collections.Generic;

    using Microsoft.EntityFrameworkCore;
    using Microsoft.EntityFrameworkCore.Internal;
    using Microsoft.EntityFrameworkCore.Metadat

[2019-06-18 22:37] smitpatel opened #16142 "Cosmos: Avoid projecting contained properties"
Test: Select_anonymous_with_object

Generated Sql:
[code]

[2019-06-18 22:41] smitpatel opened #16143 "Cosmos: Add translators for member/methods which map to built-in functions"
See https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-system-functions, https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-linq-to-sql

Done:
* LENGTH, CONTAINS, ENDSWITH, LOWER, LTRIM, RTRIM, STARTSWITH, TRIM, UPPER, SUBSTRING, CONCAT (using + operator), INDEX_OF, REPLACE, case-insensitive versions of STRINGEQUAL
* ABS, ACOS, ASIN, ATAN, ATN2, CEILING, COS, EXP, FLOOR, LOG, LOG10

[2019-06-18 22:44] AndriySvyryd commented on #13168
Related to https://github.com/aspnet/EntityFrameworkCore/issues/16143

[2019-06-18 23:27] SimonCropp commented on #15710
just got the same exception on a CI server

[code]

re-run with no code changes fixed it. first time i have seen it in months of using EF

packages:
![image](https://user-images.githubusercontent.com/122666/59726278-62070680-9274-11e9-855b-347c3eb2d03b.png)

[2019-06-18 23:37] DnyaneshwarShivbhakta commented on #16135
any reply or comment on this issue from Entity framework core team?

[2019-06-18 23:55] maumar commented on #16124
dupe of #15611

[2019-06-19 00:19] smitpatel opened #16144 "Cosmos: Distinct operator in queries"
Test: Distinct
System.ArgumentException : Distict query requires a matching order by in order to return a continuation token.
    If you would like to serve this query through continuation tokens, then please rewrite the query in the form 'SELECT DISTINCT VALUE c.blah FROM c ORDER BY c.blah' and please make sure that there is a range index on 'c.blah'.

[2019-06-19 00:40] smitpatel opened #16146 "Cosmos: Support aggregate operators"
Average/Sum/Min/Max/Count
[code]

[2019-06-19 00:56] maumar commented on #15991
issue has already been fixed, tests enabled in 9b52248189e940eff2b0477833f83120b80b3805 - closing

[2019-06-19 00:56] #15991 closed

[2019-06-19 01:21] maumar commented on #15386
this scenario works in the new query pipeline, running similar query on test model produced the following sql:

[code]

[2019-06-19 01:21] #15386 closed

[2019-06-19 01:39] maumar commented on #16093
related to #15798

[2019-06-19 02:09] smitpatel opened #16150 "Cosmos: Complex order by support"
[code]
gives
[code]

[2019-06-19 02:36] smitpatel opened #16152 "Cosmos: Coalesce works on undefined values rather than nulls"
`c["Region"] ?? "ZZ"` gives value of `ZZ` only if c does not contain key Region. If c["Region"] has value of null the expression returns null rather than ZZ

[2019-06-19 02:47] maumar commented on #8956
this is already fixed, tests enabled in b63a1eb720a6b32edd0baea9ee21028e171ab795 - closing

[2019-06-19 02:47] #8956 closed

[2019-06-19 08:59] rajeevanvgh commented on #16122
@ajcvickers. I have identified the issue. This will not require any entity framework fixes even though noticed some difference in SQL query construction.
The issue is as follows.
1) The SQL Server DB was earlier on premise,  and looks like the dbcontext was generated using scaffolding pointing to that db earlier.
2) The SQL Server DB was migrated to Azure and the connection string is updated and u

[2019-06-19 09:34] adamlepkowski opened #16153 "Cosmos provider: Input string was not in a correct format when data saved."
When Entity Framework Core is used to operate with Cosmos DB provider to create a new entity exception is thrown (Input string was not in a correct format.), and the entity is stored inside a Cosmos DB.

[code]

### Steps to reproduce
Copy the below code to a console application project and execute it.

[code]

### Further technical details
EF Core version: 3.0.0-preview5.19227.1 and 3.0.0-preview

[2019-06-19 09:57] vahapdemir commented on #12105
I am using package SQLitePCLRAW.bundle_green 1.1.12 in a .NET standard 2.0 project. I had the same problem: "DllNotFoundException: Unable to load DLL 'e_sqlite3': The specified module could not be found. (Exception from HRESULT: 0x8007007E)". This .net standard project is used by .NET 4.7.2 project as well. I came across "https://windows-hexerror.linestarve.com/q/so51412189-Unable-to-load-DLL-e_sq

[2019-06-19 13:40] Canvee opened #16155 "Entity Framework Core throws SIGSEV error when creating SQLite database file on real device"
Last week I get an issue with creation of the SQLite database file on a real device. When dealing with an emulator everything works as expected. When I open the same application on my device it always throws a SIGSEV error when creating a file with the `Migrate` the `EnsureCreated` functions. I never had any issues with this.

Looked around the internet but I don't find anything related to this pr

[2019-06-19 14:10] smitpatel opened #16156 "Cosmos: Improve exception message when subquery pushdown is needed"
Cosmos does not have concept of subquery. (i.e. From <subquery>). Hence certain basic operations cannot be translated to server. Like Skip().Distinct() or Skip().Skip(). Since before applying Distinct we need to do a pushdown so that we skip elements before applying distinct.

For such operations, we need to throw exception message with useful information.

[2019-06-19 14:18] smitpatel opened #16157 "Where_subquery_anon_nested fails in result verification on Sqlite"

[2019-06-19 14:27] #15997 closed

[2019-06-19 14:31] ajcvickers opened #16159 "Make DbContext available from CommandEventData for interception"
This allows `IDbCommandInterceptor` (#15066) to get the `DbContext` being used.

[2019-06-19 14:33] rajeevanvgh opened #16160 ".Net Core 2.1 EntityFramework Error - Casting User Defined Types and at runtime getting Type dbo.Flag is not a defined system type."
While trying to upgrade a .net core 2.0 Web API project to 2.1, I am getting an Exception "Type Flag is not a defined system type."
There are two columns in db, Primary and Deleted which are of **User Defined Type**  _Flag_ which we are facing problem.
Please find the details:

The following query throws exception at runtime.

[code]
The query generated internally as follows.
[code]

The Issue in

[2019-06-19 14:46] ajcvickers commented on #16160
Duplicate of #12633

[2019-06-19 14:48] iokill opened #16161 "Some added entities are removed from SortedSet after SaveChanges()"
Hi!

I ran into another issue with EF Core 2.1 and `SortedSet`
(I did not check if this also occurs on 2.2 since I'm stuck on 2.1 for now).

Let's consider the following model where `Level1.Children` is a `SortedSet`
of `Level2` entries. The set sorts its entries by `Level2.Name`.

[code]

My code loads an existing `Level1` entity (with related data), does `lvl1.Children.Clear()`
and (re-)adds som

[2019-06-19 15:04] ajcvickers commented on #15066
@kosinsky See #16159 and PR #16162

[2019-06-19 15:26] nphmuller commented on #15066
@ajcvickers Great! Just curious, but is there any reason the DbContext couldn't by injected in the interceptor via its constructor? Or would that give a circular reference somehow? Or is there perhaps another benefit I'm missing?

[2019-06-19 15:27] prodenx opened #16163 "Question: entities relationships between 2 assemblies (libraries)"
Hi,

I have 2 libraries. Each library has own Entities, Migrations and Db Context. Both of them working with one DB. For example:

**Assembly 1**

        [Table["Foos"]]
        public class Foo
        {
                public int Id { get; set; }

                //columns
        }

**Assembly 2**

        [Table["Bars"]]
        public class Bar
        {
                //columns
        }

[2019-06-19 15:54] smitpatel commented on #16163
Duplicate of #2725

Current model building and migration are always in sync. So if you mark EntityType as ignored then it won't be in the model and migrations both. If you don't mark it as ignored (to get FK constraint) then it will be in migration as table too. #2725 will allow you to include entity in the model to create the constraints but exclude creating table from migration.

[2019-06-19 16:04] smitpatel opened #16164 "Move RelationalStrings.NoElements exception message to core"
And use in Cosmos

[2019-06-19 16:14] ajcvickers commented on #15066
@nphmuller Interceptors are currently resolved only from the internal service provider. So having one depend on `DbContext` will usually not work, since it's not usually registered in the internal service provider. The interceptor might be able to depend on `ICurrentDbContext` to achieve the same thing, but that wouldn't help when an app is using an interceptor that is not registered in D.I., whic

[2019-06-19 16:20] nphmuller commented on #15066
@ajcvickers Okay, thanks. I learned about `ICurrentDbContext` when I looked at these PRs and it seems like an easy way to access the current DbContext in extension points.

Didn't think about the non DI scenario, since DI seems so much like the normal route in ASP.NET Core.
Thanks for the clear explanation!

[2019-06-19 16:47] nixxcz commented on #16133
Thanks @smitpatel and @ajcvickers for your replies. Does that mean that the more helpful exception from Preview 5 will be coming back in future versions?

In case anyone is interested, I managed to work around the issue by using [LinqKit.Microsoft.EntityFrameworkCore](https://github.com/scottksmith95/LINQKit)  and its `Expression.Invoke()` and `Expression.Expand()` extension methods:

[code]

[2019-06-19 18:35] Davilink commented on #15656
I used the DbQuery to indicate that the query was coming from a view, that way it's clear that we can only read data from that Entity, reverting to a DbSet isn't that breaking that purpose ?

[2019-06-19 19:11] IAmHopp commented on #4693
Would be extremely useful having this.

[2019-06-19 19:29] smitpatel commented on #11762
Dependent on #10001

[2019-06-19 20:27] kayakingcoder commented on #10059
It doesn't matter how high you make those values, if the rule is to put the columns WITH the attribute first, then we'd be forced to put the attribute on every other column. The way they've done it in Linq to DB per that link I gave is just more flexible, why not go with that?

[2019-06-19 20:41] mayconbeserra commented on #15814
Hi, @ajcvickers sorry for the delay. I changed to retry six times and started using DbContextPool.

The performance improved, but I still get the issue from time to time.

I'm looking forward to hearing any news about that

[2019-06-19 20:44] maumar commented on #11847
currently blocked by #15711 - SelectMany translation

[2019-06-19 21:00] maumar commented on #12062
currently blocked by SelectMany translation

[2019-06-19 21:18] maumar commented on #12200
currently this fails in new nav expansion pipeline:

[code]

[2019-06-19 21:38] maumar commented on #12062
duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/15855

[2019-06-19 21:42] maumar commented on #11933
blocked by SelectMany translation in the new pipeline

[2019-06-19 22:25] maumar commented on #12456
in new pipeline the scenario throws during translation:

[code]

[2019-06-19 23:01] roji opened #16165 "Only 1 entity materalized although generated SQL returns more rows"
While working on set operations, I ran into a situation where generated SQL properly fetches 7 customers, but only one gets materialized. This can be reproduce with test Union_Include from https://github.com/roji/EntityFrameworkCore/tree/StateOfTheUnion.

Related to #15611 which generally tracks materialization.

/cc @maumar who already did some investigation on this.

[2019-06-19 23:04] smitpatel commented on #16165
outer key selector is busted.

[2019-06-19 23:10] smitpatel commented on #15501
Poaching.

[2019-06-19 23:12] maumar commented on #12456
blocked by #15611

[2019-06-19 23:13] maumar commented on #12579
blocked by #15611

[2019-06-19 23:19] smitpatel commented on #13603
@AndriySvyryd - Can you take a quick look and tell what parts need to be moved from query? Query's materializer utilizes TPH at core level. The only pending thing would be InMemory, but InMemory needs to change it's storage strategy to align with TPH.

[2019-06-19 23:39] AndriySvyryd commented on #15501
@smitpatel  I hoped you would 😉

[2019-06-19 23:41] AndriySvyryd commented on #13603
I think that's enough for now. If some other common pattern appears we can move it later.

[2019-06-19 23:43] smitpatel commented on #13603
Fixed by #15809

[2019-06-19 23:43] #13603 closed

[2019-06-19 23:58] maumar commented on #12566
this is fixed in the current bits

[2019-06-19 23:58] #12566 closed

[2019-06-20 00:04] maumar commented on #15095
work is tracked by https://github.com/aspnet/EntityFrameworkCore/issues/15855

[2019-06-20 00:06] maumar commented on #14421
blocked by #15611

[2019-06-20 00:28] maumar commented on #13196
assigning to @roji since he is implementing set operations

[2019-06-20 00:35] maumar commented on #13413
this is fixed in current bits

[2019-06-20 00:35] #13413 closed

[2019-06-20 01:09] maumar commented on #13514
we changed the way correlated subqueries are implemented - everything will be in one query now so the issue is no longer relevant, closing

[2019-06-20 01:13] maumar commented on #13486
this issue is fixed in current bits

[2019-06-20 01:13] #13486 closed

[2019-06-20 01:26] #13900 closed

[2019-06-20 01:37] maumar commented on #12603
blocked by #15611

[2019-06-20 01:43] maumar commented on #12804
this issue is fixed in current bits

[2019-06-20 01:43] #12804 closed

[2019-06-20 01:55] maumar commented on #12580
this is fixed in current bits

[2019-06-20 01:55] #12580 closed

[2019-06-20 01:58] maumar commented on #12534
this is fixed in current bits, member pushdown is now applied recursively

[2019-06-20 01:58] #12534 closed

[2019-06-20 02:09] maumar commented on #14894
blocked by #15611

[2019-06-20 07:10] #16129 closed

[2019-06-20 07:51] Avidin commented on #16126
I have the same issue by using SQL views. (.NET Core 3.0.0-preview6.19304.10)
I used Scaffold-DbContext to get the model of the SQL Views and tables.

Datacontext:
public virtual DbSet<MyView> ViewSurveySummary { get; set; }
...
 modelBuilder.Entity<MyView>(entity => { entity.HasNoKey(); });
...

I want call something like ...
  return _context.MyView.OrderBy(o => o.Name).ToList();
... but i get t

[2019-06-20 08:12] Gavinluo opened #16171 "EFCore Add Entity with childEntity Throw the same key is tracked"
i`m trying to update my code from ef6 to efcore , in EF 6, give child wrong foregin key value, Context.Set.Add() not Check key . and after Add() , will triggered relationship fix-up(auto modify FK property), then SaveChange , but EF Core when Add() will throw key has already tracked

[code]
may i disable the key check when add(), or fix up foreign key value by hand before call Add() method

### Fu

[2019-06-20 09:31] harshan007 commented on #13317
@AndriySvyryd Any kind updates on this?
Am new to EF core + cosmosDB, as i understand we map all entities to same collection and there is no option at the moment to change it. This issue tracks it to provide an option to override it to store them in different collections and we need that for our new project where are planning to use EF core + cosmos DB.

[2019-06-20 09:59] PetterT2 opened #16172 "Two One-to-One relationships to same table"
First of all it does not seem to work to have to FKs referencing the same table. According to what I understand this might be a limitation in SQL, and handled by triggers instead.

Question:
Is there a proper way to make this work using the fluent api, i.e. using cascade or trigger?

Issue:
No way to make it not throw the exception below. I.e. no way to not generate onDelete: ReferentialAction.NoA

[2019-06-20 13:02] ctrl-alt-d commented on #16070
hi @AndriySvyryd ,

perfect, I will be posted.

dani.

[2019-06-20 14:40] d4dpkrajput commented on #245
Hi ajcvickers, I am done with the code. I created a class ( Entity ) which is the return type of the stored procedure, created an [ID] column in that class. Because it requires a primary key in the class. and then

MyCode :
public IEnumerable<SP_GetAssignedLockers> GetUsedLockers()
{
   return RepositoryContext.SP_GetAssignedLockers.FromSql("SP_GetUsedLockers")
              .AsNoTracking().ToList

[2019-06-20 15:18] oatsoda opened #16175 "RegexMatchTimeoutException for SqlServerMigrationsSqlGenerator"
[code]
Version: 2.2.4
Provider: SqlServer

I have some fairly large initial Migrations to set up some static data (approx 100,000 lines):

[code]
The error seems to be coming from the fact that there is a limited 1000ms timeout on the regex parsing of this.

https://github.com/aspnet/EntityFrameworkCore/blob/f9d1df40fed1e1d7780553c3f9c1813e81eca1aa/src/EFCore.SqlServer/Migrations/SqlServerMigratio

[2019-06-20 15:35] JanEggers commented on #16135
@DnyaneshwarShivbhakta my guess is that activeRouteJobIDList or breadcrumbIDList is the bottleneck,
try using joins instead of operations with precomputed lists. also have a look at the generated sql and look for missing indices etc..

[2019-06-20 15:43] Prateek943 commented on #16135
@JanEggers  No, they are not the bottleneck. activeRouteJobIDList,breadcrumbIDList have hardly 10 or 20 records.Nonclustered index is already present on the column. I have 17 millions of data in my table and based on the activeRouteJobIDList I am fetching records in join

[2019-06-20 15:46] DnyaneshwarShivbhakta commented on #16135
@JanEggers  No, they are not the bottleneck. activeRouteJobIDList,breadcrumbIDList have hardly 10 or 20 records.Nonclustered index is already present on the column. I have 17 millions of data in my table and based on the activeRouteJobIDList I am fetching records in join.

[2019-06-20 15:51] dgxhubbard opened #16176 "Feature Request: Insert SQL commands in sql text stream"
We create a sample database, and in the creation we set our identity columns to specific values. On SQL Server to turn on Identity Insert we use

context.Database.ExecuteSqlCommand ( "SET IDENTITY_INSERT dbo.Tool ON;" );

we then call

context.SaveChanges ();

and then execute another sql command to turn Identity Insert off.

When we Add the entity, can you add a feature,  to insert Identity Inser

[2019-06-20 15:58] smitpatel commented on #16135
@DnyaneshwarShivbhakta - Can you share definitions of `activeRouteJobIDList` & `breadcrumbIDList`?
In certain cases such Contains/Any caused client eval.

[2019-06-20 15:59] smitpatel commented on #16176
Duplicate of #703

[2019-06-20 15:59] DnyaneshwarShivbhakta commented on #16135
[code]

[2019-06-20 16:01] smitpatel commented on #16135
Can you put `ToList` at the end of `activeRouteJobIDList` and see if the query works faster?

[2019-06-20 16:02] DnyaneshwarShivbhakta commented on #16135
@smitpatel  I tried with that as well.

[2019-06-20 16:03] smitpatel commented on #16135
I guess, at this point we would need the generated SQL to verify there is no client eval. That would also give us idea if the generated SQL is slow (bad perf at database level) or something in EF is taking much time.

[2019-06-20 16:10] voroninp commented on #11162
@ajcvickers `EnsureDeleted+EnsureCreatd` is not working for me.

Entity Framework Core .NET Command-line Tools 2.2.4-servicing-10062
EF Core 2.2.4

[code]

[code]

So I assume `Id` should have `AUTOINCREMENT` for SQLite because it is configured as `b.Property<int>("Id").ValueGeneratedOnAdd()` .

However, SQLite shows this SQL for the table:

[code]

I see nothing which indicates automatic incremen

[2019-06-20 16:12] DnyaneshwarShivbhakta commented on #16135
The amount of time for this query is very high only if we have multiple delivery boy tracking simultaneously. For single or 3-4 simultaneous delivery It wouldn't have this much issue

[2019-06-20 16:37] bricelam commented on #13975
I'm not able to repro this. For me, environment variables are persisted in PMC and copied into child processes. You may want to follow up on [NuGet/Home](https://github.com/NuGet/Home/issues).

[2019-06-20 16:45] AndriySvyryd commented on #13317
@harshan007 There's already a way of doing this, just call this for every entity type:
[code]

Note that in preview7 this will be renamed to `ForCosmosToContainer`.

This issue is about adding API to do this with just one call per model.

[2019-06-20 16:54] RheaAyase commented on #16071
To keep this moving, dotnet is most certainly on $PATH, the initial issue is with EF throwing a dotnet exception on Linux system where nothing else other than dotnet itself could possibly do that :P (Therefor, dotnet is there, it is found, and it is running.)

@jhoward321 could we also have a dummy CS file to go with the projectfile if you have one? Or how can we create this on our end? Can you re

[2019-06-20 17:05] omajid commented on #16071
An strace might be nice to have too:

    strace -e trace=%process -fo strace.log dotnet ef -v migrations list

Can you upload the generated strace.log file here?

[2019-06-20 17:40] bricelam commented on #16071
dotnet-ef.dll is running fine. It throws when we try to `Process.Start()` this:

    dotnet msbuild /target:GetEFProjectMetadata /property:EFProjectMetadataFile=/tmp/tmpSpTyF8.tmp /verbosity:quiet /nologo /media/BigDrive2/Coding/ef_error/ef_error.csproj

My first hypothesis was that it can't find `dotnet` because it's not on the PATH. We need to debug into Process.Start() to better understand what

[2019-06-20 18:15] JulienM28 commented on #16126
Here the stack trace:

   at Microsoft.EntityFrameworkCore.Relational.Query.Pipeline.SqlExpressions.SubSelectExpression.Verify(SelectExpression selectExpression)
   at Microsoft.EntityFrameworkCore.Relational.Query.Pipeline.SqlExpressions.SubSelectExpression..ctor(SelectExpression subquery)
   at Microsoft.EntityFrameworkCore.Relational.Query.Pipeline.RelationalSqlTranslatingExpressionVisitor.Visi

[2019-06-20 18:20] divega commented on #13975
@tudordid would you be able to provide more details to help us repro?

[2019-06-20 18:22] AndriySvyryd commented on #15016
@ajcvickers Can we consider this fixed now?

[2019-06-20 18:25] divega commented on #16175
@bricelam can you please explain the workaround?

[2019-06-20 18:29] divega commented on #16171
@Gavinluo could you provide the model corresponding to this code? It would be even better if you could provide a runnable code snippet that we can use to repro.

[2019-06-20 18:31] divega commented on #16161
@ajcvickers does this ring any bells?

[2019-06-20 18:37] divega commented on #16155
@ericsink does this ring any bells?

[2019-06-20 18:41] divega commented on #16152
We can consider blocking the translation, or doing the same translation we use for ternary operator.

[2019-06-20 18:42] mburbea commented on #16135
I'd also remove this `Convert.ToDouble(a.Point.Distance(b.Point)) < 200`, as this trivial cast might prevent it from using your index.

[2019-06-20 18:43] divega commented on #16150
EF Triage: We don't reason about indexes in the database. We produce the SQL you asked for, and if the index doesn't exists, you will get an error from the database engine.

[2019-06-20 18:57] divega commented on #16124
@ostorc thanks for reporting this! We will use #15611 to track the issue.

[2019-06-20 18:57] ericsink commented on #16155
It looks like this is a case where the code runs on the simulator but has not yet been shown to run on a real device.  If so, my first guess would be to check and see if maybe the code is trying to write to a path it is not supposed to write to.

Another diagnostic question:  Are the Android versions the same in the simulator and the device?

[2019-06-20 19:02] ajcvickers opened #16177 "Constrain `FindMapping` and `FindRelationalMapping` to mutable/convention properties"
Since once the model is finalized the mapping is always present.

However, other API surface will also need to be changed because these methods are called from places where we have already lost information as to the type of property interface being used.

[2019-06-20 19:03] divega commented on #8526
@maumar to close this as fixed and create a new issue.

[2019-06-20 19:06] divega commented on #7983
@smitpatel to provide workaround.

[2019-06-20 19:11] divega commented on #12672
There is no ambiguity anymore. The expression either translates to the server or throws.

[2019-06-20 19:51] divega commented on #13271
May be a dupe of https://github.com/aspnet/EntityFrameworkCore/issues/13365.

[2019-06-20 20:55] maumar opened #16180 "Query: move subquery member pushdown from navigation expansion to a separate visitor"
Currently navigation expansion performs subquery member pushdown, we should move this functionality to a separate visitor to simplify NavExpansion which is already quite complicated

[2019-06-20 20:56] maumar commented on #8526
this is fixed in the current bits, filed #16180 to track the cleanup work

[2019-06-20 20:56] #8526 closed

[2019-06-20 21:01] bricelam commented on #11925
@smitpatel Are Average, Max, Min, and Sum regressed in 3.0? If not, I think we can punt this.

[2019-06-20 21:11] smitpatel commented on #11925
Aggregate are not blocked right now. It can be done once we refactor for GroupBy aggregate support.

[2019-06-20 21:15] smitpatel commented on #16126
Duplicate of #10001

[2019-06-20 21:23] #14433 closed

[2019-06-20 21:33] ajcvickers commented on #16137
@MattHartz @MattHartz Are you sure that this isn't because you're actually trying to use too many connections? Do you see different behavior if you use ADO.NET directly?

If this is EF related, then can you post the code that registers the `DbContext` in D.I. and the code that resolves it from D.I.?

[2019-06-20 21:37] ajcvickers commented on #16161
@divega Yes. It looks like unstable, non-reference equality. See #15687

[2019-06-20 21:48] ajcvickers commented on #16172
@PetterT2 Both `Restrict` and `ClientSetNull` should work for this and give the same behavior in the database. If that's not the case, then please file a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

See also https://github.com/aspnet/EntityFrameworkCore/issues/12661#issuecomment-479642950

[2019-06-20 22:06] #15016 closed

[2019-06-20 22:08] divega commented on #15814
@mayconbeserra, @Xepe we re-discussed this issue in triage today, and in order to make progress on it (regardless of whether the root cause is on EF Core, on SqlClient, or elsewhere) we would need a small repro we can run. If you can provide that, that would help a lot.

As has been mentioned in this thread, there are other known causes for this exception, but you both mentioned you can repro:

1.

[2019-06-20 22:11] ajcvickers commented on #11162
@voroninp See #15497. SQLite doesn't support auto-increment on composite keys.

[2019-06-20 22:15] ajcvickers commented on #15656
@amira133 A `DbSet` for an entity type that is configured with `HasNoKey` is functionally equivalent to a `DbQuery`.

[2019-06-20 22:16] ajcvickers commented on #16133
@nixxcz Not sure when the better exception is coming back, but that is the goal.

[2019-06-20 22:17] voroninp commented on #11162
@ajcvickers  I am spoiled by SQL Server =)

But is it hard for EF Core to detect this situation? Can EF signal that configuration in the context of particular provider is not correct?

[2019-06-20 22:22] ajcvickers commented on #11162
Re-opening to discuss @voroninp's suggestion.

[2019-06-20 22:26] ajcvickers commented on #15403
## June 20, 2019

## EF Core

## EF Core 3.0 Preview 6

See the [announcement blog post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) for important  details about this preview.

**IMPORTANT: Although as always, we want to encourage you to experiment with our preview bits in a controlled environment and to provide feedback

[2019-06-20 23:04] divega commented on #16175
**Triage:** We believe the root cause of the issue is what @oatsoda mentioned above: For a sufficiently long input and a sufficiently slow CPU, the regular expression process times out period before it can complete the work.

We have  aggressively added timeout to any regex usage across our codebase as a blanket measure to prevent catastrophic backtracking. When doing so actually causes functional

[2019-06-20 23:05] Davilink commented on #15656
@ajcvickers  Yes but will the intellisense will show you that you cannot Create/Update/Delete that entity ?

[2019-06-20 23:20] divega commented on #16141
@max619, According to the message @yukozh wrote when that issue was closed, Pomelo provider would need to support translating some method to the rand() function on the server. I am not if this is supported but it would be better to ask in [Pomelo.EntityFrameworkCore.MySql]( https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql).

[2019-06-20 23:22] divega commented on #16141
@maumar I had a note in triage to ask you to find out if we had a spec test for this.

However, based on https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/265, it seems that `OrderBy(x=>Guid.NewGuid())` not working to randomize the order on MySQL is by design and you need to write a different query. Not sure if there is a way we could write a spec test that accommodates t

[2019-06-20 23:26] jhoward321 commented on #16071
@omajid here's the strace

[code]

[2019-06-20 23:27] divega commented on #16137
It would be useful to know in what way you came to the conclusion that connections are not being closed. There is a connection pool that keeps physical connections open and that is by-design, so just checking some events on the server may not give you the whole picture of what is happening.

Possible related issues (same exception observed): https://github.com/aspnet/EntityFrameworkCore/issues/158

[2019-06-20 23:31] jhoward321 commented on #16071
@RheaAyase I've tried this with multiple projects but I'll upload the dummy project I've created for this issue. [Here's the dummy repo](https://github.com/jhoward321/ef_error). I've tried sqlite and postgres with the same results.

[2019-06-20 23:32] divega commented on #12065
@maumar, @smitpatel, @roji Looking at this issue again after triage it seems reasonable to suggest that casting to the interface needs to be evaluated on the client so switching with AsEnumerable() should happen first.

If it is desirable that the Concat operation gets transalted to the server, would projecting the desired properties for foo band bar into a common DTO and then doing the Concat hel

[2019-06-20 23:59] roji commented on #12065
In order to Concat on the server, both sides have to be entity types within the same type hierarchy, or simple column projections of the same type, or an anonymous type with a combination of the above. So a DTO wouldn't really help here - either the entities are in the same hierarchy, in which case no need for a DTO, or they're not, in which case putting them in a DTO wouldn't help either...

On w

[2019-06-21 00:18] smitpatel commented on #16133
SqlTranslator is also supposed to return null on VisitInvocation.

[2019-06-21 00:34] #16159 closed

[2019-06-21 01:16] #13752 closed

[2019-06-21 01:16] #13782 closed

[2019-06-21 01:26] mzhukovs commented on #7152
Wondering if this will be addressed directly any time soon?

[2019-06-21 03:36] IvanZheng opened #16186 "Entry.Reload doesn't reload owned object."
Entry.Reload doesn't reload owned object.

### Further technical details
EF Core version: 3.0.0-preview5.19227.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Visual Studio 2019 16.1.3

[2019-06-21 03:46] bricelam opened #16187 "Microsoft.Data.Sqlite: Add Span overloads to SqliteBlob"
SQLitePCL.raw v2 adds a lot of Span goodness. We could add implementation to these methods, but it may require us to target .NET Standard 2.1.

[code]

[2019-06-21 03:59] IvanZheng opened #16188 "Loading owned object fails"
Lazy Loading owned object and `Entry(entity).Reference(e => e.OwnedObject).LoadAsync()` are failed.  Only `dbContext.DbSet.Include(e => e.OwnedObject).FirstOrDefaultAsync()` works.

BTW, they fail on  EF Core version: 3.0.0-preview6.19304.10 but work on EntityFramerworkCore 3.0.0-preview5.19227.1.

[code]

### Further technical details
EF Core version: 3.0.0-preview6.19304.10
Database Provider: Mi

[2019-06-21 05:49] BaoNTGH opened #16190 "Sqlite - multiple include throw not implemented exception in Preview6"
Trying Preview 6 with the same code as Preview 5 for Microsoft.EntityFrameworkCore.Sqlite Provider triggers NotImplementedException:

[code]

### Steps to reproduce

Preview 6 + 2 includes: exception
Preview 6 + 1 include: works
Preview 5: works with 2 includes and 1 include

[code]

[code]

### Further technical details
EF Core version: 3.0.0-preview6.19304.10
Database Provider: Microsoft.EntityF

[2019-06-21 07:00] iokill commented on #16161
@ajcvickers Thanks for the hint! :grin: If I understood your comment in #15687 correctly, this should be the correct way to override `Equals` and `GetHashCode`:

[code]

This however still results in the same issue for me...

[2019-06-21 07:17] oatsoda commented on #16175
@divega I will give it a go splitting it. Thanks.

[2019-06-21 08:07] Gavinluo commented on #16171
@divega  you are so amazing , i have code a full demo and upload here.   https://github.com/Gavinluo/EFCoreSameKeyException . this demo use dbContext to operate data, in actually we use CurdRepository and UnitOfWork ,  i`m trying to update our product from ef6 to efcore,  it is difficult to modify business code  .

[2019-06-21 08:11] avin-kavish opened #16191 "Log translated expressions pre-execution"
Is it possible to log generated SQL prior to execution ? I have a few selects that I'm trying to refactor into the server-side, but I cannot diagnose where queries are going wrong as EF core throws during select list enumeration which ran fine on the client. I think some of the query cannot be translated, which is fair considering it's contents, but I need to see at least what it managed to transl

[2019-06-21 08:24] avin-kavish commented on #16191
Closing as debug takes care of it

[2019-06-21 09:03] garfbradaz commented on #1833
Is this on the roadmap @divega ? Or a Spec so the community can assist?

[2019-06-21 11:34] SecretivePerson opened #16192 "NullReferenceException using .Select with Aliased Column"
NullReferenceException thrown in TypedRelationalValueBufferFactoryFactory.CacheKey.GetHashCode() when doing .Select()

I'm not permitted to release our code, but the following should replicate:

[code]

I have fixed this locally by amending CreateValueBufferFactory in Microsoft.EntityFrameworkCore.Query.Sql.Internal.FromSqlNonComposedQuerySqlGenerator.

In this method, if the expression is not a c

[2019-06-21 12:23] wrkettlitz commented on #6560
Still bugged in version 3.0 preview 6

[2019-06-21 12:54] divega commented on #12065
Interesting. The anonymous type option should provide a decent workaround, but curious why we would treat DTOs differently from anonymous types. I think we have discussed elsewhere to just trust that they work the same way.

Anyway, I am still not sure about keeping this issue open. If both sources where of the same type maybe we could ignore the interface casts. But if they are different, I canno

[2019-06-21 13:54] roji commented on #12065
I may have misunderstood - above I used anonymous type and DTO interchangeably, should have just written anonymous type.

By DTO do you mean some arbitrary user-defined class that is included in the query? If so do you mean we should assume that user classes behave as DTOs (i.e. that property setters/getters don't actually contain any code etc.)? Maybe we an discuss in next triage meeting to make

[2019-06-21 14:37] SabirHossain commented on #11153
Sometimes this happen when you have a null value in your DB column which is bind to a non-nullable property.
Ex.
In DB > (MyProperty = null)
In Model > public bool MyProperty {get; set;}

Solutaion:
public bool? MyProperty {get; set;}

[2019-06-21 14:44] glatzert opened #16193 "Possible regression in EF Core 2.2.x"
I had an error message, stating that a specific property was no navigaton property after migrating from EF Core 2.0.x to 2.2.x.
The issue could be worked around, by renaming a specific property (see classes below).
Since I'm off-site I cannot provide the full stack trace currently, but I'll happily do so, if necessary.

### Steps to reproduce
Create a Model containing the following:

[code]

After

[2019-06-21 15:05] UKDeveloper99 opened #16194 "OwnsMany with inheritance/discriminator"
I'm trying to set up an owned collection of base/child types. I feel like I'm missing something to get this working properly. I've had a look at discriminators but it doesn't seem that discriminators are exposed on ```CollectionOwnershipBuilder```. I think this behavior is handled and setup behind the scenes but I can't figure out how to get it working. Currently when I query for the aggregate obj

[2019-06-21 15:39] #12757 closed

[2019-06-21 15:39] #14882 closed

[2019-06-21 15:39] #15501 closed

[2019-06-21 15:40] smitpatel commented on #12757
We added IsBuitIn flag which will determine if function would be quoted or not.

[2019-06-21 15:41] smitpatel commented on #14882
Added IsBuiltIn flag on SqlFunctionExpression.
Only constructor which takes schema has ability to specify built-in or not. Rest would be assumed to be built-in. Niladic & Instance methods cannot be UDFs. When schema is optional, schema-less ctor can be used to create UDF but user can opt into specifying null schema in the other constructor.

[2019-06-21 15:49] smitpatel commented on #12065
That should work in new pipeline.

[2019-06-21 15:51] smitpatel commented on #16192
@SecretivePerson - Please share full repro code for the issue you are seeing. 3.0 the code is there but not used in query pipeline anymore. So at least for querying, the underlying issue is non-existent.

[2019-06-21 17:25] JulienM28 commented on #16126
Is it really the same issue ?

My problem here is an eception not the fact that many requests are done.

I prefer many requests :)

[2019-06-21 18:03] akshayjoyinfo opened #16195 "EF Core SQL Function LIKE Method with Linq Expression not working for Non String types"
### Issue
I am able to create an invoke Expression with SQL Functions like as shown below

var likeMethod = typeof(DbFunctionsExtensions).GetMethod("Like", new[] { typeof(DbFunctions), typeof(string), typeof(string) });

Expression.Call(null, likeMethod, Expression.Constant(EF.Functions), searchKeyExpression, Expression.Constant($"%{filter.Value}%"));

I just need to understand how can I use the f

[2019-06-21 18:08] akshayjoyinfo commented on #16195
I just need to understand how can I use the functionality for columns like integer or decimal column to use with Like functions.

As I can see there is an option for to do it in Ef.Functions Like method in the below example

`context.Set<MyEntity>().Where(e => EF.Functions.Like((string)(object)e.IntCol, "%1%"))`

but how can I do this using Member Expressions.
[code]

[2019-06-21 18:15] ajcvickers opened #16197 "Allow all logging, diagnostics, and interception to be turned off"
Implement a fast early bailout that means we don't do any of these thing and will avoid even initializing anything needed for these things.

[2019-06-21 18:17] ajcvickers opened #16198 "Generalize interception to every logging/diagnostic event"
In the same that every `ILogger` event can also be sent to a `DiagnosticListener`, it should also be enabled for interception using a common pattern.

[2019-06-21 18:18] ajcvickers opened #16199 "Add error notifications to `IDbCommandInterceptor`"
So it can be used to log/intercept failures.

[2019-06-21 18:20] ajcvickers opened #16200 "Simple Logging API for all logs"
Like `context.Database.Log` from #1199, but not just for database interactions.

[2019-06-21 18:22] ajcvickers opened #16201 "Add correlation ID for `DbContext` like we have for `DbCommand` and `DbConnection`"
To make it easier to correlate events to the context instance being used.

[2019-06-21 18:29] bricelam opened #16202 "Microsoft.Data.Sqlite: Use Span overload of sqlite3_prepare_v2"
This will avoid unnecessary UTF-8 conversions and copying on commands with multiple statements (aka batches).

I took a stab at this while updating SQLitePCL.raw to 2.0.0, but hit the compiler error "ReadOnlySpan\<byte> cannot be used inside iteration blocks" 🤷‍♂️

[2019-06-21 18:56] bricelam commented on #16175
Here's our splitting code copied into an extension method. You can tweak it as needed:
[code]

[2019-06-21 20:19] oising commented on #8996
My problem was that my `dotnet` executable was the 3.0.0-preview version, but the EF project that had the design package installed in it was 2.2. So, I dropped a `global.json` into the solution root to force 2.2 and then `dotnet ef` worked from the root of the solution. I didn't even need to be in the project that had the NuGet package.

[2019-06-21 20:28] Zenexer opened #16204 "HasMany now has cascading deletions"
With v3.0.0-preview6, HasMany now adds cascading deletion constraints by default.  This is a breaking change; if these cascading constraint result in a cycle, an error such as the following will appear:

[code]

[2019-06-21 20:30] #16152 closed

[2019-06-21 20:32] smitpatel commented on #16133
Fixed SqlTranslator to not throw InvalidCastException.

[2019-06-21 20:38] Zenexer commented on #16204
An example in which this breaks:

* Customer has many Inquiries with one Customer
* SupportRep has many Inquiries with one AssignedSupportRep
* SupportRep has many AssignedCustomers with one DefaultSupportRep

This worked in 2.x and 3.0.0-preview5; it results in an exception in preview6.

[2019-06-21 22:41] Canvee commented on #16155
Thank you for your quick replies.
@ericsink What do you mean by "has not yet been shown to run"
In general the creation of the SQLite file was always in the same place and I don't have changed
[code]
And on runtime the application creates the folder structure but I have the feeling that when it comes to the creation of the file itself then there comes the error, because the system recognises it as

[2019-06-21 23:11] divega commented on #1833
@garfbradaz this is the Backlog milestone, meaning that is not assigned to any specific release, but still active, so it is something we would like to do in the future (more information about how we use milestones to track work at https://docs.microsoft.com/ef/core/what-is-new/roadmap).

In general contributions are welcome on all issues, but this particular issue requires some design work (which

[2019-06-21 23:26] #15701 closed

[2019-06-21 23:39] maumar commented on #14900
currently: case_Any_Take1_Sel0, case_Any_Take1_Sel1, case_Any_Take0_Sel0, case_Any_Take0_Sel1, take0_select_true_first_key1 work

take1_select_true_first_key1 fails - producing invalid sql:

[code]

take0_select_true_first_key2 fails, invalid sql:

[code]

take1_select_true_first_key2 fails, invalid sql:

[code]

error:

[code]

[2019-06-22 10:06] bigworld12 opened #16209 "HasData not working with 3.0.0-preview6.19304.10 when using Migrations on SQLite"
when using SQLite database
the following configuration works perfectly on `3.0.0-preview5.19227.1`
when using `Add-Migration`
[code]
but fails on `3.0.0-preview6.19304.10` with the following error:
[code]

[2019-06-22 11:22] MortMH commented on #11564
I would also love a feature to disable automatic fix-up on both a per-request basis but also globally.

[2019-06-22 11:44] oOAhmedKingOo commented on #16043
sorry for late replay,
here is a runnable project attached
[click here to download the project from google drive](https://drive.google.com/open?id=1fIBiyYavJ28dsMh1ZBMa0c-tJknVf7P7)

[2019-06-22 11:45] oOAhmedKingOo commented on #16043
just add migration on TestDbContext and see what will happen

[2019-06-22 11:45] oOAhmedKingOo commented on #16043
BTW im using Reflection to do migrations  !!

[2019-06-22 14:27] #16199 closed

[2019-06-22 21:24] akshayjoyinfo commented on #16195
Found the answer on stackoverflow.

Expression matchExpression = searchKeyExpression;
if (matchExpression.Type != typeof(string))
{
    matchExpression = Expression.Convert(matchExpression, typeof(object));
    matchExpression = Expression.Convert(matchExpression, typeof(string));
}
var pattern = Expression.Constant($"%{filter.Value}%);
var callLike = Expression.Call(
    typeof(DbFunctionsExtensi

[2019-06-22 23:52] emre1702 commented on #10382
@totpero I tried your code and had a bug for like 3 hours, where a normal insert always tried to insert the Id (with value 0), too.
You are deactivating the value generating.

[2019-06-23 04:02] mqudsi commented on #4823
@bricelam fts5 has a boatload of alternate/equivalent syntaxes you can use; one of them is to use the name of the table as a scalar function accepting a string. Shouldn’t it be possible to just map it as a scalar db function with that support recently in EF Core oob?

Eg

[code]

In ADO.NET parlance. If you add the virtual Rank column (already doable) and the scalar function is as I suspect suppor

[2019-06-23 04:19] simeyla commented on #7429
I still find it very odd that the `LEFT` thing is added when there's no special characters. It seems to completely prevent indexes from being used which utterly killed my performance.

It isn't obvious at all that LEFT doesn't work with indexing in SQL Server so until you have to end up researching why it's hard to guage the reason why things are so slow.

Fortunately `EF.Functions.Like(...)` will

[2019-06-23 08:41] chukwu opened #16211 "Ef Core automatically includes collection causing performance issue due to response size"
[code]
The above model is a simple model but each time I query as below:
[code]

EventLocale is always fetched without any INCLUDE but others such as EventType is set to null. Same happens when i drill down the eventActivities collection

[code]

Is this an expected behavior.

[2019-06-23 09:15] MiKom commented on #15520
I'll also add my two cents, that documentation for EF probably needs an update wrt to Nullable Reference Types. Right now, all tutorials and guides guide you to write your DbContext class as follows
[code]

And this will produce a warning when compiling with NRTs.
I couldn't find an issue about tackling this in docs. Should I create one?

[2019-06-23 13:01] chukwu commented on #13577
Guys...This issue is valid and affects performance drastically. In my case, the JSON response for a 4 record data reached about 25MB JSON responds. It's worse when you have a MANY to MANY relationship on your model.

[code]
The above model is a simple model but each time I query as below:

[code]
**EventLocale** is always fetched without any INCLUDE but others such as EventType is set to null. Sam

[2019-06-23 16:16] ErikEJ commented on #15677
This would be really nice to have, also for EF Core Power Tools - is this up for grabs, of should I overide the service as suggested here in the meantime:

https://github.com/aspnet/EntityFrameworkCore/issues/11003#issuecomment-491106261

[2019-06-23 16:36] smitpatel commented on #7429
@simeyla - Your issue has already been fixed. Tracked via #14657

[2019-06-23 16:38] smitpatel commented on #13454
@roji - Do we still need this in new pipeline?

[2019-06-23 18:13] divega commented on #15677
@ErikEJ I think it is ok if you want to go ahead with a PR. @ajcvickers, any concerns?

[2019-06-23 18:30] ErikEJ commented on #15677
As I understand this, the goal is to always scaffold Key attribute for all involved properties when DataAnnotations are requested. Or always?

[2019-06-23 22:32] drchilds commented on #16190
Can confirm this issue exists with the MSSQL provider as well.

[2019-06-24 01:59] divega commented on #15677
My understanding is that KeyAtrribute being used will still depend on whether you ask for DataAnnotations to be used, but no longer on whether the key is composite. And in the latter case we will still generate the HasKey method so that the key mapping works for EF Core (because we need the key member ordering information).

The relevant comment is https://github.com/aspnet/EntityFrameworkCore/iss

[2019-06-24 02:42] divega commented on #12842
When we discussed this in triage on Friday, we said we could close this issue because we no longer had net461 runs on master. However I am no sure we can close as the original issue applies to 2.x runs as well, and it is unclear why it would be different on .NET Core. Clearing milestone so we can come to a conclusion on next triage.

[2019-06-24 02:58] divega commented on #16141
Talked to @maumar offline. We don't have spec test for this. in principle, it is probably not a good candidate for a spec test given that:

1. Obtaining randomized order is apparently going to require different queries for different databases
2. There is no good way to verify that the order obtained is random

That said, if we think of spec tests as a check list of high level functionality a provi

[2019-06-24 03:22] divega commented on #13058
We revisited this issue in triage last week: The repro (left outer) joins a table with a few group by queries with aggregates. SQL translation for this scenario wasn't supported in 2.x and only worked with in-memory database because it was completely evaluated in memory.

Unfortunately, at this stage we don't think what we will be able to build SQL translation support for this scenario in 3.0. In

[2019-06-24 03:51] divega commented on #15702
We discussed punting this in the last triage and we decided to keep it in 3.0 because we still have partner teams asking for it to be evaluated. If the performance hit is significant, this can be turned into a docs issue to describe how the hit can be mitigated.

[2019-06-24 03:53] divega commented on #14851
@smitpatel removing propose-punt as discussed in triage. IIRC, we said this issue was likely to be fixed.

[2019-06-24 03:55] divega commented on #13392
As discussed in triage we decided not to punt this but to do a time-boxed verification if the issue has been addressed at least for the original repro.

[2019-06-24 03:58] divega commented on #12816
As per the discussion in triage, removing the proposed-punt label for this. IIRC, we said this is likely going to be fixed for 3.0.

[2019-06-24 04:01] divega commented on #12805
As per triage discussion, removing propose-punt label. IIRC, we said we believe this will be fixed for 3.0.

[2019-06-24 04:02] divega commented on #12799
As per triage discussion, removing propose-punt. IIRC, we said this will likely going to be fixed for 3.0.

[2019-06-24 04:05] divega commented on #11925
Clearing up milestone so we can decide what to do in triage.

[2019-06-24 04:08] divega commented on #13260
IIRC, in triage last week we said we still wanted to look into this for 3.0. Removing propose-punt lable.

[2019-06-24 04:11] divega commented on #13993
Removing propose-punt lable as per discussion in triage. IIRC, we said this could be fixed for 3.0. @smitpatel feel free to push back if i misunderstood.

[2019-06-24 04:25] smitpatel commented on #13993
Closing as duplicate of #7983

[2019-06-24 05:41] ErikEJ commented on #15037
are there any plans relating to reverse engineering for this?
Is this documented?

[2019-06-24 05:49] divega commented on #13993
@smitpatel okay.

[2019-06-24 05:50] divega commented on #14812
Clearing milestone to discuss propose-close in regular triage.

[2019-06-24 05:51] divega commented on #14680
Clearing milestone to discuss propose-close in regular triage.

[2019-06-24 05:51] divega commented on #12715
Clearing milestone to discuss propose-close in regular triage.

[2019-06-24 06:51] Ljupco7 commented on #9854
It's 2019. Is there still no way for SQL Server Views to be generated? If this is the case, it would be a major setback for our plans to start using ASP.NET Core

[2019-06-24 07:04] divega commented on #6717
@neoaisac thanks for your interest. As I mentioned in https://github.com/aspnet/EntityFrameworkCore/issues/6717#issuecomment-491473311,

I understand there has been interest from multiple people in this issue, so I am going to try to describe some of the dimensions we have identified in this discussion that I believe will be relevant for a future design, even if we don't intend to take this for no

[2019-06-24 07:10] divega commented on #15037
@ErikEJ I think this is a good question. Can you please create a new issue for this? (unless you are able to find one).

[2019-06-24 07:14] NeilBostrom commented on #15037
I've not added any documentation for it yet.

I also remember seeing some comments on supporting [DescriptionAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.descriptionattribute), but I can't for the life of me find this now.

[2019-06-24 07:14] divega commented on #9854
@Ljupco7 I am not sure what you are asking, but the functionality this issue was originally asking for is available in EF Core 3.0 preview 6: https://github.com/aspnet/EntityFrameworkCore/issues/1679.

[2019-06-24 07:55] divega commented on #9882
Is this a duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/11624?

[2019-06-24 08:07] pwaaijenberg commented on #14680
I understand what you are all saying, but for me this is needed for performance reasons. It enables doing more complex queries with very large intermediate result sets in one go.

Queries like "select * from parent where (select count(*) from childtable) > 1) and table.status == 'somestatus'" are quite a common scenario. Imagine that this would retrieve 1000 records from a set of millions. If the

[2019-06-24 08:28] oatsoda commented on #16175
Thanks @bricelam I will give it a go.

@divega I can understand that another parameter might be a bit ugly as consumers won't really want to know that a `Regex` is taking place, but equally they may be like me and hit this issue!  Perhaps you could detect if the environment variable `REGEX_DEFAULT_MATCH_TIMEOUT` is set and if so don't force the 1000ms timeout - allow `Regex` to just use the defaul

[2019-06-24 08:58] wisepotato commented on #1833
@divega any documents on how to start this design process? Its something I really need and am willing to spend some time on. But I find it hard for a "professional" product such as this. Do you have guidelines/plans to follow?

[2019-06-24 09:10] roji commented on #6717
@divega one small note... when talking about table vs. query hints, it may be worth thinking about query hints which apply to specific SELECT statements. A query may involve multiple subqueries, and there may be scenarios where specifying different hints for these may be desirable. I'm not sure whether there's enough real-world scenarios to justify this - just mentioning it.

[2019-06-24 09:15] roji commented on #13454
@smitpatel if I understand correctly, methods/properties like `DateTime.UtcNow` will now always be translated (if translatable) so I don't see any further need....

[2019-06-24 09:29] roji commented on #11881
Note that with #14657, when the pattern is constant we no longer translate the long/inefficient version, but escape the escape characters client-side (if needed) and simply send `LIKE %pattern`, which is the most efficient possible.

We could still look into improvements for non-constant patterns but I'm not really sure it's worth it.

[2019-06-24 10:54] m4ss1m0g opened #16213 "Different behaviour between Find and FirstOrDefault when raise Exception"
### Steps to reproduce
[code]

On the exception code block the _exist_ variable CONTAINS the value, on the nonExist return null.
If it work as expected please report on docs.

### Further technical details
EF Core version: 2.2.
Database Provider: Microsoft.EntityFrameworkCore.Sqlite
Operating system: Windows 10
IDE: Visual Studio 2019 16.1.3

[2019-06-24 11:02] eskensberg commented on #6872
what would I go around using this snippet?
Do I have to wrap each test using it and run my logic inside the test?

[2019-06-24 11:12] jtheisen commented on #5936
At least the following simple way of doing it in EF6 should work on Core also:

https://stackoverflow.com/a/42765541/870815

[2019-06-24 11:22] jtheisen commented on #10582
A related issue is this technique in EF6 to compare byte arrays:

https://stackoverflow.com/a/42765541/870815

[2019-06-24 11:32] KlausEvenEnevoldsen commented on #13058
We changed to code some time ago, it runs as a database view now. 😊

We are in the process of testing out .net core 3.0 preview 6. I guess time will tell if the InMemoryProvider will cause new errors in our Unit Tests.

[2019-06-24 11:58] Cogax commented on #15839
Is there a workaround we can implement?

[2019-06-24 12:48] lixaotec opened #17573 "Entity Id Type (generic / dynamic) with Generic Repository"
How may I have some kind of 'mix' types for Id property (keys) of an Entity that is inherited?
I have tables that Ids are of bigint autoincrement, and some of them are Guid type. (i wish not to change all to Guid)

Like:

[code]

and in my GenericRepositories I do some Linq operations with id property that aren´t accepatable when having object type for it.

What is the best practices of this scena

[2019-06-24 13:55] roji opened #16215 "When performing set operations over different entity types, don't project nulls for unrelated properties"
Currently, when translating a set operation over two different types, the operation returns their closest common ancestor. This means that we need to have null projections for all properties that are in one sibling but not the other, but also for unrelated properties that aren't on either sibling - because the shaper doesn't know that the returned entities will only be of the siblings' types.

We

[2019-06-24 14:05] ajcvickers commented on #15677
@ErikEJ Agree with Diego's last comment. Also, almost any issue that isn't closed is something that we would take a PR for--it doesn't have to have `good-first-issue` on it, which is what `up-for-grabs` has now become.

[2019-06-24 14:20] ajcvickers commented on #6872
@eskensberg Can you file a new issue describing the problem when running tests in parallel?

[2019-06-24 14:26] ajcvickers commented on #16213
@m4ss1m0g The call to `Update` starts tracking the entity. Since [Find](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbset-1.find?view=efcore-2.1#Microsoft_EntityFrameworkCore_DbSet_1_Find_System_Object___) looks at tracked entities first, it returns that entity. The query on the other hand [is always run against the database](https://docs.microsoft.com/en-us/ef/core/q

[2019-06-24 14:40] ajcvickers commented on #16043
@oOAhmedKingOo The model building code is throwing this:
[code]
but the exception is being swallowed in your `OnModelCreating` method. This leaves the model in an invalid state.

[2019-06-24 14:42] ajcvickers commented on #16209
@bigworld12 Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-06-24 14:45] EricStG opened #16216 "Missing reference error when inheriting from CSharpMigrationsGenerator"
When upgrading to EF core 3.0 preview from 2.2, we're getting a missing namespace error for `Microsoft.EntityFrameworkCore.Migrations.Design`, as well as any type in that namespace.

[code]

The issue stems from the change on how the package reference gets created for `Microsoft.EntityFrameworkCore.Design`.

In version 2.2, we'd get this:
[code]
but in 3.0, we get this:
[code]

As a workaround, we

[2019-06-24 15:00] ajcvickers commented on #16161
@iokill Have you verified that EF is not given multiple instances that both represent the same entity? That is, if two instances compare equal but are both used with the same context instance, then things will break. EF can only track a single instance for a given entity.

[2019-06-24 15:03] ajcvickers commented on #7152
@mzhukovs This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-24 15:04] divega commented on #6717
@roji good point. We will need to survey how multiple database engines work to come to arrive to conclusion on whether subqueries can carry they own hints. Do you have any cases in mind?

[2019-06-24 15:14] jzabroski commented on #6717
@divega This is an excellent write-up.  One point:

While this seems like the correct catch-all, I think one edge case @smitpatel mentioned is important:

* Many-to-many with no explicit entity for the cross-reference table (e.g., in Students, StudentCourses, Courses, StudentCourses is implicit and existing only in the fluent mapping definition, not in the domain model)

My main observation is tha

[2019-06-24 15:14] roji opened #16217 "Cannot apply OfType on subquery results"
The following fails with: `EntityProjectionExpression: Cannot update EntityType when _innerTable is null`

[code]

Discovered as part of https://github.com/aspnet/EntityFrameworkCore/pull/16127#discussion_r296047101

[2019-06-24 15:24] smitpatel opened #16218 "Mixed_sync_async_in_query_cache is flaky"
[code]

[2019-06-24 15:25] roji commented on #6717
@divega I guess null ordering (see https://github.com/aspnet/EntityFrameworkCore/issues/6717#issuecomment-390110534) could be an example, where you want one null ordering in a subquery and another in the main. A possibly weaker one is could be `SELECT ... FOR UPDATE ...`, which locks the selected rows for the duration of the transaction. In theory locking behavior is per SELECT per table (although

[2019-06-24 15:25] smitpatel commented on #16218
Related https://github.com/dotnet/SqlClient/issues/85

[2019-06-24 15:30] Enngage opened #16219 "Contains & FreeText throws InvalidOperationException for dynamic columns"
I have following query that works perfectly:

[code]

In my scenario, however, I have only `IQueryable<T>` where I don't know what column is going to be used for searching. Using string as a reference causes `InvalidOperationException` to be thrown. I've been trying something in the sense of:

[code]

But all of them fail. Is there a way of running the queries above successfully?

[code]

### Step

[2019-06-24 15:31] ralmsdeveloper commented on #6717
I had started messing around with this, but the cover was exclusiem to a table, I liked the scenario that @divega pointed out about DbSet <T>.

https://github.com/ralmsdeveloper/EntityFrameworkCore/commit/28fa9882785211762fddc1fc7e8220735959c480

[2019-06-24 15:31] smitpatel commented on #16209
Possible relevant change https://github.com/aspnet/EntityFrameworkCore/commit/af9e2225cabb371932332d65afb742a867b6dfa8#diff-16c7cd39358889e6177c94b44fc5e89d

[2019-06-24 15:35] smitpatel commented on #16219
`DbContext.Foods.Where(m => EF.Functions.Contains(EF.Property<string>(m, "DisplayName"), "apple&raw")).ToList();

[2019-06-24 15:38] MaryadaPurshottam opened #16220 "Query source (from vwUserSearch <generated>_1 in [grouping1]) has already been associated with an expression."
I have sql view which i query further using linq. I'm doing a group by as below. However when the last line executes it gives me the dreaded error. I have not been able to figure it out. Any help would be appreciated. Thanks!

[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: (2.2.3)
Database Provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Operating sys

[2019-06-24 15:48] ralmsdeveloper opened #16221 "Query: simplify comparisons which are result of null semantics in predicates"
I would like to know if there is any particular reason to produce this SQL statement, or it is something that happened when the Query Pipeline was rewritten.

cc/ @smitpatel @maumar

[code]

**Repro**
[code]

[2019-06-24 15:52] smitpatel commented on #16221
What is the issue here? 😕

[2019-06-24 15:54] ralmsdeveloper commented on #16221
@smitpatel

This is trivial, the first instruction overrides the second.
` AND [e].[Description] IS NOT NULL`

[2019-06-24 15:55] smitpatel commented on #16221
Description is nullable column.

[2019-06-24 15:59] ralmsdeveloper commented on #16221
Yes, it is, but I believe we should approach it differently, if you were to write this manually, it certainly would not write like that.

[2019-06-24 16:04] ralmsdeveloper commented on #16221
So we have another problem.
For sample:

[code]

[code]

[2019-06-24 16:05] smitpatel commented on #16221
If you do not add that term then `[e].[Description] = N'VSSUMMIT'` would give null back if it encounters null value. Where Null will skip the row so yes, your results would be right in this case. But for projection, it would fail. Your client side column will be bool type but value you get from server is null. So you get an exception. So additional term makes it fully null safe and convert it from

[2019-06-24 16:10] ralmsdeveloper commented on #16221
@smitpatel, you guys did a great job rewriting the query pipeline, I wanted to do this provocation because many will question this.

This is more process on the server, and if it is not an index field, this doubles the processing value.

Thanks for the answers.

[2019-06-24 16:13] ajcvickers commented on #16197
Or consider having a `Flags` enum to enable just the part you want.

[2019-06-24 16:15] ajcvickers commented on #16204
@Zenexer Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-06-24 16:15] Enngage commented on #16219
Works great! Thank you :-)

[2019-06-24 16:19] ajcvickers commented on #16211
Duplicate of #13577

[2019-06-24 16:21] MaryadaPurshottam commented on #16220
It works if I changed Clients to be of type int[] and then did a ToArray when loading it. But i think doing toarray is just weird as it would brings stuff in memory which is inefficient.

 var query = userClientSignupClaims.Select(x => new UserSearchResultDto
            {
                Clients =
                    userClientSignupClaims
                        .Single(y => y.AspNetUsersId == x

[2019-06-24 16:49] marfenij opened #16223 "Breaking change when migrating from 2.1 to 2.2"
Break work with Query type when perform upgrade to 2.2

in 2.2 in query model doesn't recognize PK property - and does not build correct relation (also can't read from DB, cause think it have shadow property

### Steps to reproduce
Have a simple program

[code]

### ef 2.1 output
[code]
So,
1. we have one real property, which also treated as PK
2 navigation property which correctly mapped

### ef

[2019-06-24 17:21] ajcvickers commented on #16111
@bricelam to explain the difference between "supported types" and "type affinity".

[2019-06-24 17:29] ajcvickers commented on #16144
To test on Cosmos.

[2019-06-24 17:31] ajcvickers commented on #16144
@divega to look into order-by lifting.

[2019-06-24 17:42] ajcvickers commented on #16194
@AndriySvyryd to respond.

[2019-06-24 17:57] ajcvickers commented on #16216
@bricelam to de-dupe.

[2019-06-24 17:59] ajcvickers commented on #16218
@divega to follow up with SqlClient.

[2019-06-24 18:01] ajcvickers commented on #16221
@maumar to de-dupe

[2019-06-24 18:33] ajcvickers commented on #11624
Note from triage: consider also the scenario in #9882.

[2019-06-24 18:34] ajcvickers commented on #9882
Triage: This is a sub-scenario of #11624; tracking there.

[2019-06-24 18:36] ajcvickers commented on #11162
Note from triage: putting this on the backlog to add `TODO` comments in the generated migration indicating that EF was not able to implement any store-generation in the implemented migration. Note, however, that if client side generation is being used, then it's fine for the column to not be store-generated.

[2019-06-24 18:37] ajcvickers commented on #12065
Note from triage: closing this as different queries shapes will not be supported, even if they happen to implement a common interface.

[2019-06-24 18:39] ajcvickers commented on #12715
Note from triage: the way to make this work in the new query pipeline is to cast to a double in the query:
[code]
The plan is for this to generate a conversion in the query such that the comparison will be correct.

[2019-06-24 18:42] ajcvickers commented on #14680
Closing this as in 3.0 an `AsNoTacking` must be added explicitly to make a query tracking, even if it has keyless types.

@pwaaijenberg We have no plans to implement partial tracking/not tracking here. Doing so is complicated both in understanding the semantics of what's going on, and also in the implementation.

[2019-06-24 18:45] ajcvickers commented on #16135
Closing as the reason this query is slow is due to not being sargable due to the conversion.

[2019-06-24 19:02] bigworld12 commented on #16209
@ajcvickers it's a very minimal model consisting of only one entity (Person) connecting to a SQLite database and a single DBSet

[2019-06-24 19:13] ajcvickers commented on #16171
@Gavinluo EF Core doesn't support using an incorrect value for the FK/PK in this code:
[code]
In EF Core, if you want the value to be fixed up from the principal, then don't set it:
[code]
EF will use the value if it has been set, which means that if you do set it, then it needs to be set to the correct value.

[2019-06-24 19:14] bricelam commented on #16111
SQLite supports four types: INTEGER, REAL, TEXT & BLOB. It uses a type affinity to determine the preferred way the data for a column should be stored on disk. But it also supports dynamic typing, so if converting to that type affinity would result in data loss, it won't be used.

We use those same affinity rules [here](https://github.com/aspnet/EntityFrameworkCore/blob/d7e85ed358b6fb5f57be9ad3743b

[2019-06-24 19:17] bricelam commented on #16216
#11506

Manually changing the dependency is the correct way to handle this.

[2019-06-24 19:17] ajcvickers commented on #16177
Triage: value not high enough.

[2019-06-24 19:18] ajcvickers commented on #16190
@NguyenTanBao @drchilds
First, many thanks for trying preview 6. We really appreciate people trying the previews and filing issues on what they find.

If you haven't seen it already, there is some good information in the [preview announcement post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) about the changes that are ha

[2019-06-24 19:19] ajcvickers commented on #16198
Discussed in triage and agreed that it doesn't make sense to have interceptors for every logging event.

[2019-06-24 19:20] ajcvickers opened #16224 "Add Clone or With methods to AlterColumnOperation"
Moved from #15662. Does not need to be done for 3.0

[2019-06-24 19:22] ajcvickers commented on #16209
@bigworld12 Thanks--we discussed in triage and we think we know where the issue is.

[2019-06-24 19:35] mburbea commented on #16135
It's not SARGability, but the fact that geospatial queries only get optimized for very specific queries in SQL server. In my testing, some forms the pointless convert didn't always break the optimization.

[2019-06-24 19:43] divega commented on #16218
@smitpatel does this happen on specific OS platforms?

[2019-06-24 19:43] asadikhan commented on #1368
So, are many to many relationships being supported in EF Core 3.0 without needing the join table or no?

[2019-06-24 19:56] maumar commented on #15849
possibly a dupe of https://github.com/aspnet/EntityFrameworkCore/issues/14900

[2019-06-24 20:00] maumar commented on #16221
turns out we didn't have a tracking issue for this improvement (thought I filed one) - will use this issue to track instead

[2019-06-24 20:34] divega commented on #16218
I talked to @smitpatel offline and this happens on Windows, which I think it is consistent with dotnet/SqlClient#85.

[2019-06-24 21:06] smitpatel opened #16225 "Query: Include cycles in non-tracking queries"
Query:
`orders.Include(o => o.Customer.Orders)`

Here we have cycle for include path, order includes customers which includes orders again. For non-tracking query we do manual fixup to make result a consistent graph. So how steps go:
- Materialize order1 on top level
- Materialize customer1 for include
- Fixup order1.Customer = customer1 & customer1.Orders.Add(order1)
- Materialize order1' for col

[2019-06-24 21:10] Greg-Smulko commented on #11502
Another reason is the ability to compare automatically two database schemas. With names of default constraints generated automatically there is a lot of noise reported.

[2019-06-24 21:20] divega opened #16226 "OrderBy lifting specification"
Copying here our old spec from EF 4 (produced originally by Colin Meek and I), because I think it can still help set direction for EF Core every time we need to make a decision, e.g. recently in #16144. I have made a few edits to remove details that aren't relevant, like ASP.NET WebForms query extenders or EF `DbExpression`.

# OrderBy Lifting for LINQ to Entities

## Current behavior
The current

[2019-06-24 21:21] bricelam opened #16227 "Missing nullable reference types test coverage"
I think #16082 inadvertently removed our test coverage for detecting nullable reference types in the model. These tests were altered:

* NonNullableNavigationConventionTest
  * Non_nullability_inverts_when_navigation_to_dependent
  * Non_nullability_sets_is_required_with_conventional_builder

[2019-06-24 21:21] divega commented on #16144
Here is the original orderby lifting spec: #16226.

[2019-06-24 21:22] smitpatel commented on #16226
Also see #16086

[2019-06-24 21:32] smitpatel commented on #16223
#13662

In 2.1 we configured PK for query types. In 2.2 we removed that bug since query types do not have PK.

[2019-06-24 21:37] divega commented on #16226
Here is a different take on the transformations implemented in EF4, using a different notation that may be more helpful. I haven't gone trough it yet to verify if there are any incongruities.

1.	Root: source.Sort(o)
    1.	source.Sort(o).Filter(f) &rarr; source.Filter(f).Sort(o)
    2.	source.Sort(o).Project(p)
    3.	source.Sort(o).Limit (k)
    4.	source.Sort(o).Skip(k) &rarr; source.Skip(k, o)

[2019-06-24 21:40] smitpatel opened #16228 "Query: Possible incorrect null semantics"
[code]
[code]

[2019-06-24 22:06] smitpatel opened #16229 "Query: Nav expansion should have include on outermost projection"
[code]

Generated tree:
[code]

[2019-06-24 22:21] ralmsdeveloper opened #16230 "Help build source"
I need a little help, I can not compile with using **sdk 3.0.100-preview6-012264**.

[code]

### Anyone have any tips?

[code]

[2019-06-24 22:32] smitpatel commented on #15994
Include_reference_on_derived_type_using_lambda_with_soft_cast

[2019-06-24 22:51] smitpatel opened #16231 "Query: Include on client projection gets ignored"
[code]
[code]

[2019-06-24 23:00] maumar commented on #15381
fixed in 84c7f207fed0dad338291d3051f72374a7989224

[2019-06-24 23:00] #15381 closed

[2019-06-24 23:09] divega commented on #6717
@roji All of this just reinforces that we are nowhere near a final design :smile:

Anyway, I think in many cases subqueries are actually present in the LINQ version of the query as well.

Based on what you describe, I am inclined to support query hints anywhere in the query, just like regular LINQ operators. The provider may decide where to generate it. E.g. the Npgsql provider can decide to gener

[2019-06-24 23:12] divega commented on #16175
Thanks @oatsoda. IMO, that is reasonable. When we actually try to fix this issue we can try this option if we can't come up with something better that makes the timeout unnecessary.

cc @bricelam

[2019-06-24 23:36] nicolasr75 opened #16232 "Does a custom EF Core provider require DbConnection?"
I know this is not an 'issue' with EF Core but a question. The question is probably so exotic, however, that I thought only people from the EF Core team may know the answer directly.

I would like to write a custom database provider for a rather old database system (FlashFiler2).
The purpose here is to enable my team to write new frontend software that connects to existing databases via EF Core. L

[2019-06-24 23:42] smitpatel commented on #16230
Did you follow the wiki ?

[2019-06-24 23:52] divega commented on #1833
@wisepotato we don't have written guidance on how to start the design process specifically. The basics from https://github.com/aspnet/AspNetCore/blob/master/CONTRIBUTING.md of course apply.

We generally only write "one page" descriptions of the functionality we want to enable with enough detail to make the useful to gather feedback. We can add more details if the feedback requests it, and iterate

[2019-06-24 23:52] smitpatel opened #16233 "Query: Derived reference include should be skipped when base type"

[2019-06-25 00:08] ralmsdeveloper commented on #16230
Yes, all!

I'm trying to figure out what's going on.

[2019-06-25 00:09] smitpatel commented on #16230
Which version of VS are you using? Sorry, making everything pre-release work well with each other is hard.

[2019-06-25 00:13] ralmsdeveloper commented on #16230
VS 2019 16.1.3 Enterprise, I am installing the Preview version to test.

[2019-06-25 00:15] smitpatel commented on #16230
Also take care of this https://github.com/dotnet/arcade/issues/3035#issuecomment-502720454

[2019-06-25 00:16] ralmsdeveloper commented on #16230
Yes this has already been enabled, I'm getting almost crazy!

But soon I discover!

[2019-06-25 00:51] smitpatel opened #16234 "Sqlite tests flaky"
I am hitting following errors intermittently when running build.cmd on command line. Re-running gets rid of the error.

[code]

[2019-06-25 03:28] yechao59228866 commented on #11295
the program is dead after throw new NotSupportedException()

[2019-06-25 03:54] doanbui-agilityio commented on #4649
I call "dotnet ef database drop -f -v" first, then call "dotnet ef database update" again

[2019-06-25 04:12] ericstj commented on #16230
@dsplaisted @livarcocc can you provide some help here?  Looks to me like https://github.com/dotnet/cli/issues/11378.

[2019-06-25 04:20] ericstj commented on #16230
And @ralmsdeveloper can you clarify if you did the following:
`starts.cmd EFCore.sln` when opening in VS https://github.com/aspnet/EntityFrameworkCore/wiki/getting-and-building-the-code#using-visual-studio
Enable preview SDKs — https://devblogs.microsoft.com/dotnet/net-core-tooling-update-for-visual-studio-2017-version-15-9/

`build` from  commandline — does it work?

[2019-06-25 04:26] ralmsdeveloper commented on #16230
Yes it is working at the prompt!
The only problem is when I try to compile in VS.

[2019-06-25 04:29] ralmsdeveloper commented on #16230
I had to add this so I can compile and test my stuff, but it's something that we should not change our CSPROJ, this has to be resolved in the SDK:
[code]

[2019-06-25 04:34] livarcocc commented on #16230
This has already been fixed in the latest .NET Core SDK and the latest Visual Studio.

[2019-06-25 04:37] smitpatel commented on #16230
@livarcocc - What would be min version of VS (and SDK if necessary) for this issue to be resolved? I will update wiki page to have it as min requirement.

[2019-06-25 04:38] ralmsdeveloper commented on #16230
I just installed and mine is still going!

![image](https://user-images.githubusercontent.com/16335882/60069588-d49b3a80-96e9-11e9-85e5-ca3dbdd0664c.png)

[2019-06-25 04:39] livarcocc commented on #16230
@dsplaisted to confirm the versions.

[2019-06-25 06:07] divega commented on #15798
@maumar I found a bit interesting that the SQL translation produced by EF Core 2.2 for the second query does not include terms to compensate for three value logic and produces the correct result:

[code]

While the 3.0 translation is:

[code]

Although this might be just a fortunate coincidence (and the reason for it might simply be that we didn't fully implement null semantics ), I agree with you

[2019-06-25 07:28] ganySA commented on #12102
Is there a solution to this.

Would it not be prudent to implement the same logic as in EF6 with DB first. I would assume that 99% of use cases would follow that approach.

The challenge here is we can get one thing or the other. Either we have the 'exact' DB names and no pluralization which will also break apps or we have some 'new' approach to converting which follows different logic to what hap

[2019-06-25 08:17] maumar commented on #15798
In 2.2 we deliberately did not apply null semantics in this case. When constructing a collection navigation we created dedicated expression representing correlation predicate, and when applying null semantics we would not apply null semantics for it (since it was custom expression, it was super easy to detect the case). That was my original plan but @smitpatel was adamant against it.

Wrt composit

[2019-06-25 08:27] grantgonggithub opened #16236 "EFCore Use timestamps to control concurrency problems"
### My code is fine on ef6 but in efcore it will have the following exception:

_Microsoft.EntityFrameworkCore.DbUpdateConcurrencyException:“Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic concur

[2019-06-25 08:44] grantgonggithub commented on #16236
If remove the TS field from the Model, I can succeed

delete  :     _public System.DateTime TS { get; set; }_
delete  :     _builder.Property(t => t.TS) .ValueGeneratedOnUpdate().IsConcurrencyToken();_

[2019-06-25 09:19] marfenij commented on #16223
hmm
it's strange
in documentation https://docs.microsoft.com/en-us/ef/core/modeling/query-types
[code]
so query can have key defined
and now it is not possible to construct relation described in topic

[2019-06-25 10:10] divega commented on #15798
Ok, I believe the solution would look like this, but I think we need to think trough and come up with a rational rule for when the behavior applies. E.g. is it really only for collection navigation? What about regular joins and references?

Yep, that looks like it should work.

[2019-06-25 11:06] #6812 closed

[2019-06-25 11:06] #12549 closed

[2019-06-25 12:16] roji opened #16238 "Set operations: pushdown Take without Offset/OrderBy for SqlServer"
Take without Offset+OrderBy is usually translated as TOP(n) for SqlServer, but that isn't possible directly on set operations. We need to push the set operation down into a subquery to apply TOP(n) outside. This depends on provider-specific customization of SelectExpression logic.

On Sqlite and PostgreSQL there's no problem with adding LIMIT 1 directly on the set operation (`SELECT 1 AS x UNION S

[2019-06-25 13:26] kingmotley commented on #6812
@roji please revert that SQL Server does not support take/order by within subset operations. I believe it should, but not if you only specify order by without a top/take.

[2019-06-25 14:01] roji commented on #6812
@kingmotley trying to run your 2nd query (`(SELECT TOP 1 1 as x ORDER BY 1) UNION (SELECT TOP 1 2)`) errors with "Incorrect syntax near the keyword 'ORDER'". (MSSQL 2017). TOP is indeed allowed in set operands (as I wrote above).

Are you seeing a different behavior?

[2019-06-25 14:37] ajcvickers opened #16239 "Model snapshot is used without type mappings"
This caused an issue with SQLite snapshots--see https://github.com/aspnet/AspNetCore/pull/11531#issuecomment-505289690

There is an easy fix to revert the break, but we may need the model snapshot to actually construct type mappings. See also #14000

[2019-06-25 14:51] ajcvickers commented on #16232
@nicolasr75 There are two broad categories of EF Core database providers. The first kind are what we call "relational providers", which really means providers that are based on ADO.NET types like `DbConnection`. The second type are known as "non-relational providers" which really means that they don't use ADO.NET.

While saying "relational" and "non-relational" is convenient, there is no reason wh

[2019-06-25 15:00] ajcvickers commented on #16234
I believe the first failure shown is the real issue--seems to be a race condition in disposing a transaction that was not committed. The second two issues happen because the transaction on the shared connection failed in the first test.
/cc @bricelam

[2019-06-25 15:06] ajcvickers commented on #16236
@grantgonggithub So in EF6 you had a SQL Server timestamp/rowversion column mapped to a C# `DataTime` property?

[2019-06-25 15:09] ericsink commented on #16234
Which version of SQLitePCLRaw is involved here?  The 2.0 prerelease?  Or 1.x?

[2019-06-25 15:10] smitpatel commented on #16234
@ericsink - 1.1.12

[2019-06-25 15:28] gram197880 opened #16241 "EF generating invalid query - using pluralised table name, despite snapshot explicitly specifying (correctly)"
[code]

### Steps to reproduce
Relevant part of snapshot:

[code]

User code:

[code]

Generated SQL:

[code]

Note - the only reference to `"Credentials"` is the name of the navigation property pointing to the `Credential` entity:

[code]

### Further technical details
EF Core version: `Microsoft.EntityFrameworkCore, Version=2.2.4.0, Culture=neutral, PublicKeyToken=adb9793829ddae60`
Database Prov

[2019-06-25 15:28] smitpatel commented on #16223
Yes, query types do not require a key to be defined. In 2.1 conventions defined a key for it. That was the bug.
You can always create relationship by using fluent API fully. Use `HasForeignKey<SomeChild>(e => e.SomeChildId)` and it will get you back the same model as 2.1 (except SomeChildId won't be a PK)

[2019-06-25 15:39] smitpatel commented on #16241
Are you configuring `Credential` to use non-pluralized name in EF Core model building. (outside of model snapshot)? Did you edit model snapshot yourself?

[2019-06-25 15:45] nicolasr75 commented on #16232
Perfect! Thanks for the explanation.

[2019-06-25 15:54] gram197880 commented on #16241
@smitpatel No to both of those questions.  I'm using the default table name and it's the generated snapshot.

[code]

[2019-06-25 16:01] smitpatel commented on #16241
If that is the case, then we need full repro code. If model is generating snapshot like that and it should also use the same thing in queries/update.

[2019-06-25 16:10] smitpatel commented on #15798
Incorrect. We did _not_ do that at all. It is in where predicate and we did not fully expand it since we assumed null is fall so we don't need it.

The only case we did not apply null semantics in 2.x was single key join. Even for composite key we just went along and applied null semantics. (Though we may have treated it like predicate)

[2019-06-25 16:43] gram197880 commented on #16241
I had an unused (no references)

[code]

in my Context.

I've removed it and the query is now working as expected.

[2019-06-25 16:58] maumar commented on #15798
@smitpatel we created NullSafeEqualExpression (bad name) when expanding collection navigation and during translation we wrapped it around NullCompensatedExpression so that null semantics doesnt peek in. It does seem wrong for complex cases where scalar subquery is part of the correlation predicate and it has some stuff inside that would need null semantics. But for cases of simple navigation acces

[2019-06-25 17:03] marfenij commented on #16223
@smitpatel Thanks a lot
now that instruction work good
[code]

[2019-06-25 17:11] smitpatel commented on #15798
As of now in new pipeline, I don't see NullSafeEqualExpression while translating to SQL.
So I am not able to understand your comment https://github.com/aspnet/EntityFrameworkCore/issues/15798#issuecomment-505339046

The thing which I argued against was to generate null check for outer key rather than inner key.

[2019-06-25 17:15] oising commented on #12911
I came here looking for issues around creating VIEWs and TRIGGERs with an `--idempotent` flavoured migration script, and I get a different error, albeit should probably be thrown into the same bucket as this one. The script generated by `dotnet ef migrations script ...` won't parse at all because of the way it groups `CREATE VIEW` and `CREATE TRIGGER` statements.

According to the SQL laws laid do

[2019-06-25 18:02] roji opened #16243 "Set operations: support when placed after client evaluation in projection"
Test case:

[code]

Can probably be punted post-3.0 (can be easily worked around).

[2019-06-25 18:34] bricelam commented on #11506
Breaking change note added in https://github.com/aspnet/EntityFramework.Docs/pull/1536

[2019-06-25 18:34] #11506 closed

[2019-06-25 18:54] roji opened #16244 "Set operations: translate OrderBy/Take/Skip directly on set operation instead of pushing down"
We currently pushdown to subquery whenever an OrderBy, Take or Offset is applied to it - but these can be applied directly on the set operation, without a subquery (but see #16238 for Take on SqlServer).

For example, for test Select_Union_different_fields_in_anonymous_with_subquery, we currently translate to:

[code]

We should translate to:

[code]

The reason we don't currently do this, is that

[2019-06-25 18:55] smitpatel opened #16245 "Null semantics applies incorrectly for SqlFunction"
Not sure if it would be applicable to more types but we generate this SQL,
Where_string_to_upper
[code]
`[c].[CustomerID]` is never null since its PK and metadata is also correctly says that.

Null semantics is ending up with stale value.

Found out when I made totally unrelated change which made value of stale value change and generated correct SQL.

[2019-06-25 19:00] roji opened #16246 "Set operations: don't terminate nav rewriting if both sides are identical"
The navigation expanding visitor currently treats set operations as terminating, but we should not be doing this when both operands are identical.

[2019-06-25 19:19] garfbradaz commented on #2266
Is this just the case of porting the EF6 code base for TPT into EF Core? If so, can the community help?

[2019-06-25 19:19] smitpatel commented on #16228
Related #16245

[2019-06-25 19:24] AndriySvyryd commented on #2266
@garfbradaz Unfortunately the involved areas - model building, query pipeline, update pipeline and migrations are very different from EF6 and a new approach would be needed. It would take at least 3 EF developers to just create a comprehensive design.

[2019-06-25 19:24] roji commented on #16165
This went away in the new implementation of the nav expanding support for set operations (probably because there's no attempt to not terminate).

[2019-06-25 19:26] ajcvickers commented on #14552
Chatted with @smitpatel  and @divega. Not sure we need to do anything more for 3.0.

[2019-06-25 19:36] roji commented on #16086
Isn't the point that rows coming out of the subquery aren't guaranteed to be sorted, even when the subquery contains OrderBy? Shouldn't we lift the OrderBy outside to the external query instead?

[code]

[2019-06-25 19:37] marcos-cruz opened #16247 "The property 'ValidationFailure.AttemptedValue' could not be mapped"
My class has a complex object and an enum safe pattern. I'm trying to add-migrations, the package manager console shows me the error below.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]
Detail: I have no field or property called 'ValidationFailure.AttemptedValue'

I'm using Visual Studio 2017 Professional - Version 15.9.13,
dotnet Standard

[2019-06-25 19:41] divega commented on #14552
I think we should only need to do some smoke testing to check that our operators and things like AsAsyncEnumerable().WithCancellation(ct) flow cancellation correctly.

[2019-06-25 19:50] mburbea commented on #16221
May I suggest the following translation for sql server?
```WHERE EXISTS (SELECT [e].[Description] INTERSECT SELECT N'VSSUMMIT')```
This generates an = comparison for sql server but with `is` semantics rather than `eq` semantics.
This is equivalent `x is distinct from y` that is available in some variants of SQL (but not sql server).

This has the added benefit that you can generate cleaner sql for

[2019-06-25 19:51] divega opened #16248 "Consider moving design-time interfaces to Abstractions packages"
Interfaces like IDesignTimeDbContextFactory and IPluralizer are commonly implemented in application code to influence tooling behavior. In 3.0 the Microsoft.EntityFrameworkCore.Design becomes a DevelopmentDependency package, so you cannot use these interfaces in application code without manually editing the project file (see https://github.com/aspnet/EntityFramework.Docs/pull/1536/files).

This ca

[2019-06-25 19:51] oising commented on #12911
Ok, I've worked around this by using a powershell task in my release pipeline to munge the migration script in the artifact drop folder before executing it. I'm using regex to wrap all `CREATE VIEW` and `CREATE TRIGGER` blocks with `EXEC('...')`.  Here's my inline script:

[code]

Make sure you tick the box to use PowerShell Core (for the `-raw` parameter support)

[2019-06-25 20:05] pwaaijenberg commented on #14680
@ajcvickers I'm not sure what you are trying to say. You are talking that in 3.0 AsNoTracking is needed to make a query non-tracking. If that is so, in EF 3.0 my query would be tracking by default. As you see, I have included all properties including keys in the parent table. So if you mean what you say, my bug would be 'fixed in 3.0'. Are you sure that is what you mean?

[2019-06-25 20:06] divega opened #16250 "Consider removing nullable reference types support form EF Core 3.0"
We are considering this due to the fact that nullability isn't first class in reflection (see https://github.com/dotnet/corefx/issues/38087, punted post-3.0), and so far we have not been provided any guarantees that the nullability attributes generated by the compiler will be stable after the 3.0 release.

cc @ajcvickers, @roji

[2019-06-25 20:12] ajcvickers commented on #14680
@pwaaijenberg If all the entity types have keys defined, then the query will be tracking by default. If any of the entity types do not have keys defined, then there will be an exception saying that entities without keys can only be used in tracking queries.

[2019-06-25 20:19] roji commented on #16250
Here's the newly-updated document describing the metadata structure. It's not as trivial as before, but also doesn't seem to hard to implement. We can of course wait for final confirmation on what to do, but IMHO there's a good reason to drop this just because there's no reflection API.

/cc @rynowak what are your plans on the ASP.NET side? I'm seeing various issues related to C# 8 nullability in

[2019-06-25 20:21] pwaaijenberg commented on #14680
@ajcvickers That would be a breaking change. Current docs clearly support my usecase!

if you look at my query (in the initial post) my query returns both parent with full info, and a childcount. As per docs, Parent would be tracked but it is not.

var myQuery = context.Parent.Join(childCountQuery, parent => parent.Id, childcount => childcount.Id, (parent, childcount) => new { parent, childcount.C

[2019-06-25 20:29] ajcvickers commented on #14680
@pwaaijenberg That's because you were relying on a bug for this functionality. It wasn't supposed to work that way.

[2019-06-25 20:34] roji commented on #16065
This works in the new implementation, see test Union_Include introduced in #16249.

[2019-06-25 20:36] rynowak commented on #16250
Is there supposed to be a link?

I don't have a decision yet because I haven't been following along with the docs. If it's reasonable to do, then I want to keep the feature.

I don't think we've had any issues reported on related to the metadata, those are unrelated 😆

[2019-06-25 20:37] #14824 closed

[2019-06-25 20:42] roji commented on #13196
This actually works in the new implementation (#16249) - even with an include only on one operand of the set operation.

[2019-06-25 20:45] roji commented on #16250
Oops, it's a bit late here: https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-metadata.md

OK, let's keep in sync on this - at the very least so that we don't implement a metadata parser twice!

[2019-06-25 20:49] pwaaijenberg commented on #14680
Only because I needed a subquery to filter the amount of child records. It works without the include if I do not need the filter. And that behaviour is fully documented and more often implemented.

 What I understand from your statement is that a simple query with a count of children will also track the parent.

[2019-06-25 20:54] ajcvickers commented on #14680
@pwaaijenberg Can you point to where it is documented?

[2019-06-25 21:03] zaouch commented on #12553
Have you solved the issue ? Did you got this error while trying to do a DB scaffolding ?

[2019-06-25 21:06] pwaaijenberg commented on #14680
@ajcvickers https://docs.microsoft.com/en-us/ef/core/querying/tracking

**Tracking and projections**
Even if the result type of the query isn't an entity type, if the result contains entity types they will still be tracked by default. In the following query, which returns an anonymous type, the instances of Blog in the result set will be tracked.

[code]
What I am trying to work around here is tha

[2019-06-25 21:11] zaouch opened #16253 "Scaffolding Error: connection successfully established with server, but an error occurred during pre-login handshake."
While trying to scaffold my PostgreSQL database, I got the following error:
`
System.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - No such file or directory) ---> System.ComponentModel.Win32Exception (2): No such file or directory
`

### Command:
`do

[2019-06-25 21:17] mburbea commented on #16238
You can also consider a translation like
[code]
Which requires no extra subquery. But you to to add a dummy constant you apply to both sides of the union. Sql server will realize the constant is the same on both sides and throw it away, and produce the exact same plan. (it will still appear in the output list but that can just be ignored when materializing the results.)

[2019-06-25 21:20] ajcvickers commented on #14680
@pwaaijenberg Thanks. We should update the documentation to make it clear that this applies only for tracking queries. Since keyless entity types are not allowed in tracking queries, this documentation doesn't apply. Thanks for pointing that out. /cc @divega

[2019-06-25 21:23] pwaaijenberg commented on #14680
@ajcvickers @divega please explain why my query is not tracking as it is not keyless.

[2019-06-25 21:25] ajcvickers commented on #14680
@pwaaijenberg If it's not keyless, then it an be tracking (all entity instances are tracked) or not-tracking (no entity instances are tracked). What I am trying to say is that it can't be half-tracking and half not.

[2019-06-25 21:27] mburbea commented on #16244
positional works in order by clause? So if your concern is the unspeakable name for the union-ed expression, you can always reference it by position.

[2019-06-25 21:31] pwaaijenberg commented on #14680
Ok not fully understanding the difference. Hope Diego can do some ninja guru explaining :-)

Thanks for your time Arthur really appreciate it. When I have time (no promises) I will check what the result will be using EF Core 3.x hope it's not breaking too much and there will be a feasable upgrade path.

[2019-06-25 21:34] roji commented on #16244
@mburbea we actually don't really need positional - the union-ed expression does have a name. The difficulty is an EF Core implementation detail rather than an SQL issue, we simply don't have the infrastructure to make the ordering clause refer to the union-ed expression alias (or position for that matter).

This shouldn't be a critical matter, probably mostly a matter of generating cleaner SQL, s

[2019-06-25 21:36] roji commented on #16238
Nice trick with ordering by a null constant - there are also other ways to get random ordering in databases without dummy projections. We should actually do some quick measurement to see which technique is best (the subquery may actually work better than the extra order by).

On an unrelated note, the set operation already generates null constants for situations where two different entity types ar

[2019-06-25 21:39] divega commented on #16250
We are getting some more reassurance that the attributes in practice won't change because changing it after 3.0 would almost certainly be a breaking change where the C#8 compiler would not recognize annotations from assemblies compiled by a later compiler.

We still need to figure out the feasibility of decoding the new metadata.

[2019-06-25 21:51] ajcvickers opened #16254 "Add interception for events related to DbTransactions"

[2019-06-25 21:51] mburbea commented on #16238
The order by gets eliminated if it's the same. Unfortunately, using `order by (select 1)` doesn't work in union as the order by clause applied to a union must talk about a column in the union.

That said, Sql server rarely works on the Principle of least astonishment.
[code]
Returns 1 row.

[code]
returns 2 rows.

Wrapping the expression to eliminate the extra throwaway column causes sql server to

[2019-06-25 21:52] #13831 closed

[2019-06-25 21:52] #13839 closed

[2019-06-25 21:53] ajcvickers commented on #16254
Currently:

* BeginTransaction
* UseTransaction
* Commit
* Rollback
* Errors

[2019-06-25 21:54] ajcvickers opened #16255 "Add interception for events related to DbConnections"
Currently:
* Open
* Close
* Error

[2019-06-25 22:00] zaouch commented on #16253
My mistake I was using the provider Microsoft.EntityFrameworkCore.SqlServer and I had a PostgreSQL databse.  Npgsql.EntityFrameworkCore.PostgreSQL solved the issue.

[2019-06-25 22:06] ajcvickers opened #16256 "Add interception for DetectChanges/state changes"
For example:
* DetectChangesStarting
* DetectChangesCompleted
* StateChanging

[2019-06-25 22:06] ajcvickers opened #16257 "Add interception for execution strategies"
For example:
* ExecutionStrategyRetrying

[2019-06-25 22:07] ajcvickers opened #16258 "Add interception for internal service provider"
For example:
* ServiceProviderCreated

[2019-06-25 22:07] ajcvickers opened #16259 "Add interception for queries"
For example:
* QueryModelCompiling
* QueryModelOptimized
* QueryExecutionPlanned

[2019-06-25 22:07] ajcvickers opened #16260 "Add interception for update pipeline"
For example:
* BatchReadyForExecution
* SaveChanges
* OptimisticConcurrencyException

[2019-06-25 22:07] ajcvickers opened #16261 "Add interception for transaction enlistment"
For events:
* AmbientTransactionEnlisted
* ExplicitTransactionEnlisted

[2019-06-25 22:07] smitpatel opened #16262 "Set operations are not accounted in Equals/HashCode/Print in SelectExpression"
After addition of Set operations these methods are incorrect.

[2019-06-25 22:09] ajcvickers opened #16263 "Add interception for disposing"
For example:
* Connection
* Command
* DataReader (done in `IDbCommandInterceptor`)
* DbContext

[2019-06-25 22:14] smitpatel commented on #16259
QueryModel? 😱 :trollface:

[2019-06-25 22:35] ajcvickers commented on #10164
Removing milestone to discuss punting.

[2019-06-25 22:39] CRidge opened #16264 "FileNotFoundException: System.Runtime.dll 4.2.1.0"
I have done some major changes to my (previously working) model first project (netcoreapp2.2), and suddenly I'm unable to create new migrations (or run any of the dotnet ef commands). I always get the exception below. The funny thing is that the solution compiles happily both in VS and when using dotnet build.

I've recently done the following, but I've also tried to revert most of them without lu

[2019-06-25 22:43] ajcvickers commented on #16247
@marcos-cruz Looks like it's because EF is trying to map:
[code]
If this property is not intended to be mapped to a database column, then use `[NotMapped]` or `Ignore` in `OnModelCreating` to prevent EF from mapping it.

[2019-06-25 22:45] ajcvickers commented on #16264
@CRidge Can you post the `csproj` file?

[2019-06-25 23:34] vsfeedback opened #16278 "Migrations with more than one one to one or one to many relationship between the same two entities"
## Code first migrations in ef core with more than one one to many relationship between the same entities only adds one relationship.

The code that creates the relationships is shown first and then the complete code.

The code that should create the two one to one relationships between tables Table1 and Table2A with Table1 as the Principal Key entity and Table2A as the Foreign Key entity is as fo

[2019-06-25 23:41] divega commented on #15798
I discussed this further with @smitpatel. Here are some conclusions:

1. There is an agreement that equality with three-value logic does the right thing when traversing relationships so null compensation isn't necessary for these equality comparisons. This applies to anything that navigation expansion produces, and also to ad-hoc relationships introduced in join operations.

2. For the particular

[2019-06-25 23:41] vsfeedback opened #16281 "EF core 2.2.4, TPH types mixed up in navigation property"
Given hierachical objects Mother, ChildA and ChildB in EF core TPH table and using lazy loading.

When I create a navigation between Mother and ChildA objects, EF core gets confused and mixes up the relation updates.

Result: wrong query results and crashes telling me I am using the wrong types.

As a workaround I tried to make the relation optional. Also in that case different errors occur.

_Thi

[2019-06-25 23:43] vsfeedback opened #16282 "UNABLE TO LOAD VIEWS"
Use migrations to create the database for SoftSpot300Context
In Visual Studio, use the Package Manager Console to scaffold a new migration and apply it to the database:

[code]
Alternatively, you can scaffold a new migration and apply it from a command prompt at your project directory:
[code]

Thats the error i get have a clue am build a database and when i click on these 2 tabs to see my Views, i

[2019-06-25 23:47] vsfeedback opened #16283 "code first migrations in ef core with more than one one to one relationship between the same entities only adds one relationship"
Configuring two one to one relationships only creates the second relationship as can be verified by looking at SQL Object Explorer.

The first relationship is configured using RoleClaimBase as Foreign Key table and the code

[code]

The second relationship is configured using RoleClaimBase as Foreign key table and the code

[code]

What happens is that if one or the other block of code is commente

[2019-06-25 23:49] vsfeedback opened #16284 "Lazy Loading navigation properties returns 'System.InvalidOperationException'"
[Original Post](https://stackoverflow.com/questions/56190607/lazy-loading-navigation-properties-returns-system-invalidoperationexception?noredirect=1#comment99043766_56190607")

I've been migrating a VB.net application using EF6 to a C# .Net Core app using EF-Core 3.0. I've always been using EF as DB-First.
With EF-Core, I need to specify the way I want to load my values.
Because I often need to a

[2019-06-25 23:51] maumar commented on #16245
dupe of https://github.com/aspnet/EntityFrameworkCore/issues/16078

[2019-06-25 23:52] vsfeedback opened #16285 "Analyser AD0001 Throws Exception VW2019"
After upgrading to VS2019 the analyzer "Microsoft.EntityFrameworkCore.RawSqlStringInjectionDiagnosticAnalyzer" is throwing an exception and showing as a warning in the error list in VS.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/518155/analyser-ad0001-throws-exception-vw2019.html
VSTS ticketId: 839596_
_These are the original issue comments:_

Tony

[2019-06-25 23:56] smitpatel commented on #16245
It does not seem like duplicate. Do you think #16078 would be fixed by doing something unrelated to null semantics?

[2019-06-26 00:01] maumar commented on #16245
@smitpatel you are right, its a bug, fix incoming

[2019-06-26 00:03] divega opened #16265 "Avoid applying null semantics expansion to joins between composite keys"
In the discussion at https://github.com/aspnet/EntityFrameworkCore/issues/15798#issuecomment-505661799, we agreed that we will stick to the principle that when we traverse relationships (essentially, performing an equality comparisons between keys), null values should not be considered equal, therefore we should not use null semantics.

This principle applies to anything generated by navigation ex

[2019-06-26 00:52] divega commented on #14680
@pwaaijenberg in the title of the issue you mention DBQuery. I (and I think @ajcvickers too) infer from that that one of the types your query materializes is a [query type](https://docs.microsoft.com/ef/core/modeling/query-types). In EF Core 3.0 we are consolidating query types together with entity types.

The key (pun intended) difference between what used to be known as query types and regular e

[2019-06-26 01:13] grantgonggithub commented on #16236
Yes, there is no problem with this code in EF6, but it reported an error when it was upgraded to netcore, and the table structure and code were not modified

[2019-06-26 01:17] grantgonggithub commented on #16236
Now I want to know what the real problem is and how to solve it

[2019-06-26 01:39] kingmotley commented on #6812
Sorry, I didn't have access to an instance of Sql Server when I originally posted, but was pretty certain that you could do two unions of a limited set.  I assumed (wrongly) that since views have the requirement that they can only have a TOP clause when there is also an ORDER BY, then the 2nd query would work.  But in practice, using a view like that in a query (and then inlining it) would look mo

[2019-06-26 01:52] Knar33 opened #16267 ""System.Data.SqlClient.SqlException (0x80131904): Invalid column name 'ColumnName'" When querying with a Select which has a calculated property"
I have a ViewModel class that I am using to pass EF Core data to/from Telerik Grids. On that ViewModel class I have a calculated "Deleted" column, which is a bool value that is true or false depending on whether the "DateDeleted" column from my database is null. It works fine, unless I am trying to order the columns. I'm not exactly sure what ToDataSourceResultAsync does to the query, so that may

[2019-06-26 03:37] Cooksauce opened #16270 "In Memory Database Doesn't Use Value Conversion"
When using the in memory database by calling "UseInMemoryDatabase":

It does not use value converter when materializing entities.

Is this a bug or a design decision?

Note: When using the real db provider the value is used.

### Further technical details
EF Core version: 2.2.4
Database Provider: Microsoft.EntityFrameworkCore.InMemory

[2019-06-26 05:59] CRidge commented on #16264
@ajcvickers

.csproj for migrations project:

[code]
.csproj for the project defining the context:

[code]

[2019-06-26 06:06] smitpatel commented on #16267
Can you share a full repro which generates above SQL?

[2019-06-26 06:26] smitpatel commented on #15872
Tracking via #15711

[2019-06-26 06:29] smitpatel commented on #13131
@AndriySvyryd - What is action item here?

[2019-06-26 06:30] smitpatel commented on #12195
@maumar - Given that nav rewrite converts methods to queryable, does it swallow away AsQueryable? If not, should it do it? Is this issue relevant anymore?

[2019-06-26 06:38] AndriySvyryd commented on #13131
What @divega said. #2 is probably highest priority.

[2019-06-26 07:19] OskarKlintrot opened #16271 "Expression that works for EF 6 can't be translated to SQL in EF Core"
### Describe what is not working as expected.

I have a factory that can create expression that can be translated to SQL to check if, for example, a `DateTimeOffset` is between the property `Created` and `Delete` to be sure I only fetch active `Posts`.

[code]

The full code can be find in my [example project](https://github.com/OskarKlintrot/ef-core-expressions-bug/) but here is the important bit

[2019-06-26 08:08] jfcaldeira opened #16272 "Entity Framework Core multiple filters index unique"
modelBuilder.Entity<Registo>().HasIndex(r => r.IsArranqueActivo)
                .HasName("IsArranqueActivo_Filtered_Index")
                .HasFilter("([ValidatedComponentes]=(1)) AND ([ValidatedGeometrias]=(1)) AND ([ValidatedPokayokes]=(1))")
                .IsUnique();

I tried inserting on the column and it still allowed, what am i doing wrong?

I need the IsArranqueActivo to deny inserts i

[2019-06-26 08:29] gdunit commented on #12729
I am having an issue which I believe may be related to this..
In a query that has a lot of .Include() (11 to be exact) and nested .ThenInclude() statements on each include, the following error is thrown:

System.Data.SqlClient.SqlException (0x80131904): Case expressions may only be nested to level 10.
Case expressions may only be nested to level 10.
Case expressions may only be nested to level 10.

[2019-06-26 08:38] iokill commented on #16161
@ajcvickers Hmm... that is definitely an issues with the second `Level2.Equals()` method I posted above!

However, I now completely removed the custom `Level2.Equals()` and `Level2.GetHashCode()` methods and the issue still persists! So am I right in assuming that something other than my broken `Equals()` implementation is (also) causing problems here?

Also, is there some documentation on the req

[2019-06-26 08:53] roji opened #16273 "Set operations: allow defining custom, provider-specific operation types"
We support the four standard set operations (UNION, UNION ALL, INTERSECT, EXCEPT), but PostgreSQL also supports INTERSECT ALL and EXCEPT ALL (which don't return distinct elements, much like UNION ALL). Our current design uses an enum to represent the operation type, so it's not easily extensible by providers. Options include:

1. Having an Other enum value which allows relational to understand it'

[2019-06-26 09:20] oatsoda commented on #16175
@bricelam I've used your workaround to increase the timeout but I think there could be somewhere else that a Regex is applied.

It gets past the `migrationBuilder.LargeSql` that I have added...but then **AFTER** that it gets a Regex timeout...

[code]

[2019-06-26 09:46] borodaenko-clearscale opened #16274 "EF 3 - Migration Error"
Hello.

I have got the same issue:
https://github.com/aspnet/EntityFrameworkCore/issues/15147

I am developing in Windows, using .net core 2.0, and am having the following error when I do dotnet ef migrations add NewMigration:

"Unable to create an object of type 'OAuthContext'. For the different patterns supported at design time".

I can not show the code, because it is a closed project. But I ca

[2019-06-26 10:46] borodaenko-clearscale commented on #16274
I avoided this error.
This error occurs if the "Set as StartUp Project" is specified as a console.
If you fix the "Set as StartUp Project" on the Asp.net Core Website, the problem does not occur.
In the Nuget console, you can only select the Default Project.
I think that commmands Add-Migration and Update-database should not be dependent on which project is set as the starting point.

[2019-06-26 10:48] borodaenko-clearscale commented on #16274
ConsoleProject.csproj:

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.2</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <ProjectReference Include="..\MyProject.Core\MyProject.Core.csproj" />
    <ProjectReference Include="..\MyProject.Repositories\MyProject.Repositories.csproj" />
  </ItemGroup>
</Project>

[2019-06-26 10:49] CRidge commented on #16264
As far as I can tell, the error occurs when trying to find the `DbContextAttribute` on migrations. I tried to remove all my migrations from my project, but still I'm getting the same error. I can't find any migrations with odd attributes, or unconventional usages of the `DbContextAttribute` in my project ...

[2019-06-26 10:54] borodaenko-clearscale commented on #16274
Sorry, I cann't attach the console .csproj. Github doesn't show it correctly.
But .csproj is very simply, it just simple console project on netcoreapp2.2

[2019-06-26 10:59] marcos-cruz commented on #16247
Hello Arthur,This property is already being ignored, but it still does not work.I feel the problem is when I join the EntityStatus (Enum pattern safe) class and complex object Cpf, Cnpj.Abraços,Marcos Cruz0 XX 11 94261-9856Skype: socramzurcmarcoscruz@terra.com.brhttps://br.linkedin.com/in/cruzmarcosEm Ter 25/06/19 19:44, Arthur Vickers notifications@github.com escreveu:@marcos-cruz Looks like it's

[2019-06-26 11:01] divega commented on #16273
FWIW, UNION ALL, UNION DISTINCT, EXCEPT ALL, EXCEPT DISTINCT, INTERSECT ALL, and INTERSECT DISTINCT are all ANSI SQL standard operators. The DISTINCT keyword is optional.

[2019-06-26 11:16] marcos-cruz commented on #16247
builder.Property(entity => entity.Id)
                .IsRequired();

            builder.Property(entity => entity.Status)
                .HasColumnType($"varchar({EntityStatus.TamanhoDefaultCodigo})")
                .HasColumnName("Status")
                .HasConversion(
                    s => s.Codigo,
                    s => EntityStatus.ObterPorCodigo(s));

            builder.Property(

[2019-06-26 11:45] amirhossein1414 opened #16277 "Entity freamework InvalidOperationException When using Include"
I ran into
 **System.InvalidOperationException: 'Invalid attempt to read when no data is present.'**
when calling Include() method more than once.

[code]

 I don't get this exception when calling each include methods separately.
Currently I'm using microsoft.entityframeworkcore\3.0.0-preview6.19304.10 version.

[2019-06-26 11:54] pwaaijenberg commented on #14680
Thanks! That really clarifies it and also takes away some of my worries. I learned a few new things also today.

Again, I really appreciate the time both of you have spent on this!

[2019-06-26 12:02] roji commented on #12568
This issue disappears with the new implementation of set operations (PR #16249).

[2019-06-26 12:16] roji commented on #16273
Great! In that case maybe we can simply include them in our enum and be done with this?

The only issue with EXCEPT ALL and INTERSECT ALL is that there's no LINQ operator for them, so we'd have to add something on EF.Functions or similar?

[2019-06-26 12:32] PawelGerr commented on #12849
Just stumbled upon the same exception in one of my projects but my query is slightly different.

The issue is very easy to reproduce.

[code]

Github: [GroupBy_Issues_Demos.cs](https://github.com/PawelGerr/Presentation-EntityFrameworkCore/blob/master/src/EntityFramework.Demo/Demos/GroupBy_Issues_Demos.cs)

[2019-06-26 13:11] CRidge commented on #16264
I still don't know what was wrong, but I was able to solve it.

I have three projects:

- A: Defines the context
- B: Contains the migrations
- C: The executable

I had my implementation of IDesignTimeDbContextFactory in B, which worked fine until recently.

Trying to figure this out, I tried to create the migration using cmdlets in the Package Manager Console. This required the factory to be loca

[2019-06-26 14:02] BhushanKD commented on #7777
@bricelam  we are using Xamerin and Target framework is 4.4. We are getting this warning everytime when we launch our application through debug mode. We are using Couchbase.Lite which internally uses SQLitePCL.raw 0.8.0.
We can not migrate to latest Couchbase.Lite as we are having big set of .NET Framework 4.5.1 (PCL) class libraries. Is there any solution you can provide for getting rid of this i

[2019-06-26 14:13] ericsink commented on #7777
(See ericsink/SQLitePCL.raw#277 for more backstory)

@BhushanKD Adding a comment to a closed issue that is 2 years old may not yield a reply.

There is no workaround for the Android N system SQLite issue except to bundle your own SQLite library.

If you cannot migrate to the latest Couchbase Lite, then you have no easy way forward.  Anything you do is going to be a significant amount of work.

[2019-06-26 14:32] ajcvickers commented on #16236
@grantgonggithub This looks like a MySQL database provider issue. I'm not sure what the mapping was in EF6 when using MySQL, but it sounds like the EF Core provider will need to support the same things for this to work. I suggest you follow up at: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2019-06-26 14:35] ajcvickers commented on #16270
@Cooksauce There was a time when it didn't, but I'm pretty sure it was fixed before 2.2 was released. Can you post a small, runnable project/solution or complete code listing that demonstrates the behavior.

[2019-06-26 14:41] ajcvickers commented on #16264
@CRidge Glad you got it working. It may be related to the tools finding the correct projects--for example, the PMC commands can find the startup project from VS, and the target the project selected in the PMC window. The dotnet commands need these things to be specified--see https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#common-options

[2019-06-26 14:47] urza commented on #10750
Could you please elaborate on the idea of using environment variables a little bit please? How whould you use that?

I have one Model (DbContext) and 10 databases created with this context. In runtime I create the Context with constructor that takes the database name as parameter and puts that into connection string in OnConfiguring method.

Now I would like to create migration and update all 10 d

[2019-06-26 14:55] ajcvickers commented on #16161
@iokill Thanks for being patient. I was able to reproduce this on 2.2.4, so it looks like a potential bug.

Yes, this is correct. We should document it better. /cc @divega

[2019-06-26 14:57] ajcvickers commented on #16274
@borodaenko-clearscale Migrations needs to run your code in order to create the model from which migrations are generated. This requires it knows the startup project.

[2019-06-26 14:59] ajcvickers commented on #16247
@marcos-cruz Thanks for the additional details. We're going to need to be able to reproduce this to make progress. Please post a small, runnable project/solution or _complete_ code listing that demonstrates the behavior you are seeing.

[2019-06-26 15:53] mburbea commented on #16273
Sql server does not support these operators, but a translation for `intersect all`/`except all` could be done as so::
[code]
Is equivalent to::
[code]

[2019-06-26 16:02] smitpatel commented on #16277
Duplicate of #15871

[2019-06-26 16:30] ajcvickers commented on #16278
The same navigation properties cannot be used for multiple relationships, since this would make the navigations ambiguous. So the code is defining the relationship once, and then re-defining that same relationship to have different FKs, which is why only one relationship ends up in the model. To make this work the two relationships need to use different navigation properties.

[2019-06-26 17:23] divega commented on #14680
Glad to help. One more question: does your query really need key-less entities (e.g. because an object in the database that is mapped to one of those is the root of the query), or can you work with non-mapped objects?

[2019-06-26 17:23] pranavkm opened #16279 "InvalidOperationException when attempting to filter on decimal data type"
Using this DbContext - https://github.com/dotnet-presentations/blazor-workshop/blob/master/src/BlazingPizza.Server/PizzaStoreContext.cs, when I attempt to filter by a decimal property - https://github.com/dotnet-presentations/blazor-workshop/blob/master/src/BlazingPizza.Shared/Topping.cs#L9 like so

[code]

I get an `InvalidOperationException` without a message stating what's wrong and what I need

[2019-06-26 17:25] smitpatel commented on #16279
SQLite blocks decimal comparisons to be server evaluated since they are stored as text.
See https://docs.microsoft.com/en-us/ef/core/providers/sqlite/limitations#query-limitations

Thanks @bricelam 😄

[2019-06-26 17:27] pranavkm commented on #16279
Should the exception say that this is disallowed? It wasn't clear if I was doing something wrong authoring the query since it's a vanilla InvalidOperationException with no message string.

[2019-06-26 17:28] smitpatel commented on #16279
Duplicate of #16133
Welcome to bleeding edge.

[2019-06-26 17:33] ajcvickers commented on #16281
Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-06-26 17:35] jfcaldeira commented on #16272
What i was looking for is a check constraint which can be done using SQL directly on migrations.

[2019-06-26 17:35] ajcvickers commented on #16282
Please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-06-26 17:45] ajcvickers commented on #16283
Duplicate of #16278

[2019-06-26 18:15] ajcvickers commented on #16284
Everything here seems by-design. As you say, the exception you get is because you're attempting to use the context after it has been disposed, which is by-design.

Please let us known if there is something here that you think should be changed.

[2019-06-26 18:15] bricelam commented on #16175
I was afraid of that. If there aren't actually any GO statements, pre-splitting won't help. Need to override [this code](https://github.com/aspnet/EntityFrameworkCore/blob/22e2ab7d55c9d6b9c7fbecd07bfbb28a917d63db/src/EFCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L1094) instead.

[code]

[code]

[2019-06-26 18:21] ajcvickers commented on #16285
What version of EF Core are you using?

[2019-06-26 18:28] Cooksauce commented on #16270
@ajcvickers  Yup here's the link:
[https://github.com/Cooksauce/InMemoryBugReplication](url)

[2019-06-26 18:38] lajones commented on #16285
@divega Yes, feel free to transfer to the EFCore repo as needed.

TL;DR At the moment you can only choose 1 github repo to which to transfer the bugs from VS Feedback. I choose EF6 because it was likely to be the one we needed most. I'm investigating whether we can set up to transfer to more than one github repo, but for the moment we might have to put up with transferring twice for some bugs :(

[2019-06-26 18:42] divega opened #16286 "Improve exceptions we throw when something cannot be translated to the server query"
We would like to add some helpful wording (TBD) and a fwlink (https://go.microsoft.com/fwlink/?linkid=2097910) when our new LINQ implementation throws because it cannot translate something to the server. This can help customers moving from 2.x to 3.0 given [the client eval breaking change](https://docs.microsoft.com/ef/core/what-is-new/ef-core-3.0/breaking-changes#linq-queries-are-no-longer-evalua

[2019-06-26 18:59] divega commented on #16273
@roji I think it would be okay to come up new IQueryable<T\> extension methods on relational. Providers can choose to re-implement as @mburbea suggests. But it all seems low priority for now.

[2019-06-26 19:20] divega commented on #16161
I have created https://github.com/aspnet/EntityFramework.Docs/issues/1541. Feel free to add more details to it.

[2019-06-26 19:33] AndriySvyryd opened #16287 "Use the correct MemberInfo for collection include"
Usually this should be `navigation.GetMemberInfo(forConstruction: true, forSet: true)`

[2019-06-26 20:08] marcos-cruz commented on #16247
@ajcvickers Thanks for your answers. In this link you have access to a small project, where you can reproduce the error.

[Aguaria.zip](https://github.com/aspnet/EntityFrameworkCore/files/3331697/Aguaria.zip)

To play, do the following:

1. Change the connectionstring in the appsettings file to a local bank
2. Set as startup the project Bigai.Aguaria.Presentation.Migration
3. In Package manager co

[2019-06-26 22:05] vsfeedback opened #16288 "EF core Include exception"
the exeception is as following:

[code]

my code:

[code]

There is just one object type in the T class,so the loop is unused, it broke down when first in the loop,I want to know is the Include Method can just write as
[code]

Thank you for your ansower.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/618805/ef-core-include-exception.html
VSTS ticketId:

[2019-06-26 22:11] #15992 closed

[2019-06-26 22:11] #16233 closed

[2019-06-26 22:14] ajcvickers commented on #16288
Can you explain in more detail what you are trying to achieve?

[2019-06-26 22:33] #16255 closed

[2019-06-26 22:33] #16254 closed

[2019-06-26 22:37] chad-chronotek commented on #15741
We are seeing the same issue in EF Core version: 3.0.0-preview6.19304.10, simple model with just a few simple attributes (all native types, int, string guid) our code matches the example in the original post almost exactly, we are also making a call to HasDefaultContainerName to specify a default container name.  We make a call to SaveChanges, logging shows that it does detect changes so change tr

[2019-06-26 22:42] pwaaijenberg commented on #14680
The use of fromsql was a solution to fix imperfect translation from linq / lambda to sql (resulting in n+1 SQL queries). EF 4.x was better in that situation, it translates the complex lambda I need into one SQL statement. So I needed a //hack to make it work.

So with improved query translation in 3.0 I hope we can just use one lambda on dbcontext without using the join, DBQuery or FromSql.

And a

[2019-06-26 23:00] smitpatel commented on #12603
Dependent on #10001

[2019-06-26 23:06] AndriySvyryd commented on #15741
@chad-chronotek [The Cosmos provider is non functional in preview6](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/)

[2019-06-27 00:13] w391457094 commented on #16288
I want to write an sql dal class with EF Core by using reflection and genericity.And in this way ,because of the T,I can't get the specific properties so that I can't wirte the Include method with this syntax "s  => s.myProperty".I can only reflect its properties,so I must write as this way "s  => propertyInfo.GetValue(s)"

[2019-06-27 00:21] ajcvickers commented on #16288
@w391457094 Have you tried calling the overload of `Include` that takes a string? That's significantly easier to deal with in situations where you are calling generic code from Reflection.

[2019-06-27 00:24] divega commented on #14680
@pwaaijenberg Understood. Sorry if I asked you to explain this again.

For what is worth, looking at your original post, I think you could actually make the object that you use for counting children a regular entity with a key using EF Core 2.2. The key would be the id from the parent. Because the query you use is GROUP BY the id of the parent, you won't have duplicates, hence the id is a proper p

[2019-06-27 00:34] maumar opened #16292 "Query: implement query filters for reference navigation/include"
Currently we only apply query filter when we construct new queryable, either when processing DbSet or collection navigation. However, we should also apply the filters accessing reference navigation

[2019-06-27 00:46] maumar opened #16293 "Query: correlated SelectMany is not supported"
example query:

[code]

exception:

[code]

[2019-06-27 01:22] smitpatel commented on #14680
It should already be working.

[2019-06-27 02:24] w391457094 commented on #16288
I'm sorry that I can't understand what you said.How can I take a string with Include method?The Official definition of the Include is as following.It's just an Expression.

public static IIncludableQueryable<TEntity, TProperty> Include<TEntity, TProperty>([NotNullAttribute] this IQueryable<TEntity> source, [NotNullAttribute] Expression<Func<TEntity, TProperty>> navigationPropertyPath) where TEntit

[2019-06-27 02:27] chad-chronotek commented on #15741
Ah well that makes sense, guess I will have to come back again and give it a try after it matures a little more.  Thanks for sharing the link!

[2019-06-27 07:35] giri-nitesh commented on #9505
@bricelam, @ajcvickers I am still facing this issue even after trying all the answers in this thread. Is this issue still persists in later builds ?
I am also using Sqlite db for unit testing with specflow.

**Technical Details:**
Microsoft.EntityFrameworkCore 2.2.4
Microsoft.Data.Sqlite.Core 2.2.4

[2019-06-27 10:35] minhsonuit opened #16294 "Feature Request: Add OrWhere to Entity Framework"
Sometime we want to build dynamics query with or condidtion
sample:
foreach(var range in status)
{
query = query.OrWhere(p=>p.Status1 == range.Status1 && p.status2 == range.status2);
}

[2019-06-27 11:32] Garios opened #16295 "Insert: using a key-column with datatype: datetime2(3) fails - datetime2(7) works"
[code]

[code]

If I change the database-type to datetime2(7), it works.

I assume, that the precision isn't used in the timestamp-parameter. So that the full .NET-DateTime-Value is passed.
Unfortunately, EF-Log doesn't show the real passed DateTime-Value. It prints only "yyyy-MM-ddTHH:mm:ss"

[code]

### Further technical details
EF Core version: preview6
Database Provider: Microsoft.EntityFramew

[2019-06-27 13:07] kewinbrand opened #16296 "Tips on how to disable caching of IModel"
I have um app that permits the user to dinamically create custom fields.
Googling a bit found some old answers in EF6 involving IModelCacheKeyFactory that I think does not apply to ef core.
After digging a bit in ef implementation I found that in DbContextOptionsBuilder we can UseModel and pass a ModelBuilder. Is this a good approach to accomplish my needs? If so, ModelBuilder needs ConventionSet

[2019-06-27 13:43] ajcvickers commented on #16288
@w391457094 See the documentation here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.entityframeworkqueryableextensions.include?view=efcore-2.1

Notice that two methods are listed under "Overloads". One takes an expression to represent the navigation property, which is great for writing normal code, but hard to use dynamically. The other method does the same thing, but

[2019-06-27 13:59] ajcvickers commented on #16296
@kewinbrand Model caching is very important for performance; if a new model is built for every context instance, then perf will be poor. So disabling it entirely is usually not the way to go.

The recommended way to change when a new model is cached is [with `IModelCacheKeyFactory` as documented](https://docs.microsoft.com/en-us/ef/core/modeling/dynamic-model). (Note that this has always been part

[2019-06-27 13:59] netyam opened #16297 "ArgumentException: Expression must be writeable [question][blazor][migration][EntityFrameworkCore]"
Hey i have a question,
i tried to migrate to a database with

Microsoft.EntityFrameworkCore.SqlServer 3.0.0-preview6.19304.10
Microsoft.EntityFrameworkCore.Tools 3.0.0-preview6.19304.10
.NET Core 3.0 SDK 3.0.100-preview6-012264

i used
PM> add-migration
PM> update-database
Migration was okay but when i try to open it through /api/pizzas/getpizzas i got this problem:

[code]
### To Reproduce

1. Us

[2019-06-27 14:35] oatsoda commented on #16175
@bricelam Yeah, I do have GO statements, but I had to reduce it down to each batch being no more than 25 lines (I have about 100,000 in total) to avoid the timeout.

Thanks though, the override of the `SqlServerMigrationsSqlGenerator` worked.

[2019-06-27 15:37] smitpatel commented on #16294
Duplicate of #13915

[2019-06-27 15:59] roji opened #16298 "Set operations: allow operands with different entity types"
Our current set operation support requires that both siblings have the exact same entity type. Quite a lot of logic is already in place for different entity types (of the same hierarchy), but the feature is currently disabled.

The issue is that when performing a set operation over two different siblings, null projections have to be injected, as the two siblings don't have the same set of properti

[2019-06-27 16:06] roji opened #16300 "Compare to all Queryable/Enumerable methods via MethodInfo, not by name"
In various place, we resolve methods on Queryable/Enumerable via name, and don't verify the exact number and type of parameters, assuming overloads will never be added. We should do a pass to compare against MethodInfo.

We already have LinqMethodHelpers which should contain all commonly-used MethodInfos - this should be used rather than looking up MethodInfos in various places. However, that clas

[2019-06-27 16:09] roji opened #16301 "Set operations: support union with projection that makes us nullable"
Test case:

[code]

This fails since the shaper from the left isn't modified to take into account the new key nullability introduced in the right expression.

Can probably be done post-3.0.

[2019-06-27 16:34] ajcvickers commented on #14427
@roji Poaching this.

[2019-06-27 16:50] saif-momin opened #16304 "QUESTION: Identity updates with port from EF 6 to EF Core"
I have an application with EF6 and Asp.Net Identity, targeting .NET 4.6.1. I am **not** on ASP.NET Core. I am wishing to port to EF Core. Is there an identity library for EF Core running on .NET 4.6.1?

[2019-06-27 17:00] ErikEJ opened #16305 "Reveng: Generate Table and Column descriptions from database (extend DatabaseModel)"
Related to #15037

[2019-06-27 17:20] roji opened #16308 "Set operations: FromSql"

[2019-06-27 17:20] roji commented on #14427
No problem :)

[2019-06-27 17:22] roji commented on #14427
Note that once IAsyncDisposable for ADO.NET goes into .NET Standard (https://github.com/dotnet/standard/pull/1283) we'll have to also make those changes (can do as part of #15917, added comment there).

[2019-06-27 17:29] ajcvickers commented on #14427
@roji Shouldn't be needed for functionality since we dynamically call `AsyncDispose` if the runtime type implements it. However, we should still do it to cleanup the runtime checks.

[2019-06-27 17:32] ajcvickers commented on #2725
Proposing punt...

[2019-06-27 18:14] oOAhmedKingOo commented on #16043
ohh didn't notice that, thanks for your help, and sorry for late replay  :)

[2019-06-27 19:01] Cooksauce commented on #16270
@ajcvickers Are you able to run the repo and see the issue?

[2019-06-27 19:22] ajcvickers opened #16310 "Cleanup for indexed properties punting"
So we don't leave non-functional public API.

[2019-06-27 19:30] ajcvickers commented on #13976
@roji @smitpatel What's the status of the funcletizer?

[2019-06-27 19:41] #15517 closed

[2019-06-27 20:21] smitpatel commented on #13976
No progress AFAIK.

[2019-06-27 20:33] roji commented on #13976
IIRC @maumar was to look at the EF6 funcletizer before any action is taken.

I think we should consider punting if at all possible, i.e. unless there's currently a design flaw that would be impossible to fix without breaking changes later (which I think is improbable). But worth looking into of course.

[2019-06-27 20:42] smitpatel commented on #15871
Fixed by #16289

[2019-06-27 20:42] #15871 closed

[2019-06-27 20:49] ajcvickers commented on #15080
@maumar What if one key value is null and the other is non-null? This should be treated as a null key, but the first property may not be null.

[2019-06-27 21:27] ajcvickers commented on #15307
We think this might mean that when a property is configured as a shadow property, it can later get a `FieldInfo` and become a field-backed non-shadow property.

[2019-06-27 21:58] ajcvickers commented on #15711
@roji @smitpatel Should this be updated for set operations?

[2019-06-27 22:16] smitpatel opened #16311 "Query: Support for outer apply and multi level binding"
[code]
Ignore concurrency part.
For the query, the inner-most collection references c but it is projecting list of ints. We convert collection of results into left join but since it is referencing outer elements which cannot be removed, we need to apply "outer apply"

[2019-06-27 23:05] smitpatel opened #16313 "Query: Correlated subquery with skip/take requires window functions"
They were N + 1 in 2.x release even after correlated collection optimization.
[code]

[2019-06-27 23:16] ajcvickers commented on #15403
## June 27, 2019

## EF Core

## EF Core 3.0 Preview 6

See the [announcement blog post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-6-and-entity-framework-6-3-preview-6/) for important  details about this preview.

**IMPORTANT: Although as always, we want to encourage you to experiment with our preview bits in a controlled environment and to provide feedback

[2019-06-27 23:17] smitpatel opened #16314 "Query: Naked queryables in projection"
[code]

Here in projection `gs.Where(…)` being used, so return type of result becomes `IEnumerable<IQueryable<Gear>>`, since there is no navigation info, we create `List<Gear>` which cannot be used to return `IQueryable<Gear>`

We can either put AsQueryable after list or disallow such query and force users to write ToList or some other method to remove IQueryable.

In 2.x, we did N+1 eval for such

[2019-06-27 23:32] haacked opened #16315 "Global Query Filters do not work with EF Preview 6"
In a simple project using Global Query Filters registered as such:

[code]

Query filtering works fine with version 2.2.4 of the required packages.

[code]

If I take that exact same code, and simply update the package references like so:

[code]

...it stops working. In examining the queries, the filter is never applied when EF Core queries the database. It seems to completely ignore the filter.

[2019-06-27 23:47] tmjac2 opened #16316 "Indexes on hidden fields breaks scaffolding"
When an index is created on a hidden field, scaffolding throws an unfriendly error.  While I don't necessarily think it needs to continue to function, I think the error should at least point out which index/field it is having issues with.

For example, this index would cause an issue (where SysEndTime is hidden):
CREATE NONCLUSTERED INDEX [ix_TableName_SysStartTimeSysEndTime] ON [dbo].[TableName]

[2019-06-27 23:51] HakanL opened #16317 "TryValidateObject should use fluent model builder configuration"
Currently TryValidateObject is only using the data annotation attributes on the models, but since it's perfectly valid to use fluent configuration (the Scaffold-DbContext command is using that for example) I think the TryValidateObject should be able to use the fluent metadata (like HasMaxLength, etc) to validate the model as well.

[2019-06-27 23:51] smitpatel opened #16318 "Query: collection.ToArray in projection"
[code]
How our collection materialization in relational goes over multiple rows is,
We create the result and inject empty list (or collection if coming from navigation) for parts.
Then we iterate over and populate those collections. Once that is done, we return the result.

ToArray call is problematic since we create a list but ToArray is called on list before we populate it. So we need to call To

[2019-06-27 23:53] smitpatel commented on #16317
Who owns TryValidateObject? It is not part of EF Core.

[2019-06-27 23:58] HakanL commented on #16317
Oh, my bad, I thought it was. It's in System.ComponentModel.DataAnnotations.Validator. Where's the correct place for this issue then?

[2019-06-27 23:59] smitpatel commented on #16317
https://github.com/dotnet/corefx/issues

[2019-06-28 00:04] maumar opened #16319 "Query: investigate and fix query filters edge case scenarios"
Tracking issue for unfinished business wrt Query Filters.

[2019-06-28 00:10] DamianEdwards commented on #15862
Any update on this one?

[2019-06-28 00:16] smitpatel commented on #15862
While the exception message is the same, it is quite different scenario.
Collection support is being tracked in #15611 and almost complete (see PR #16312)

[2019-06-28 00:18] #14427 closed

[2019-06-28 00:21] w391457094 commented on #16288
@ajcvickers It's worked !Thankyou very much .

[2019-06-28 00:25] smitpatel opened #16320 "Query: Project out columns used for correlation since they are needed after pushdown"

[2019-06-28 00:40] maumar opened #16321 "Query: add support for owned/weak entities"

[2019-06-28 01:10] maumar opened #16323 "Query: add support for keyless entity types with defining query"

[2019-06-28 01:44] maumar opened #16324 "Query: remove legacy codepath in NavigationExpansionHelpers.AddNavigationJoin"

[2019-06-28 02:36] rlebowitz opened #16325 "Could not load type Microsoft.EntityFrameworkCore.Internal.LazyRef"
Trying to reverse engineer a local db running on SQLExpress.  Running the Scaffold-DbContext command from the Package Manager Console.  Have tried many variations where I specify minimal parameters and sometimes all possible parameters.  Have run as admin and non-admin users.

Saw similar errors reported in earlier releases, the underlying issue may not yet be resolved.

Command example (have trie

[2019-06-28 02:38] maumar opened #16326 "Query: query filters should be properly composed on top of FromSql"
Currently query filters are applied directly after EntityQueryable, i.e. before FromSQL call - this is unexpected, as FromSQL should be composed directly on top of EntityQueryable.
Instead, nav rewrite should detect that EntityQueryable is part of FromSQL and apply the filter after the FromSQL call

[2019-06-28 03:13] maumar opened #16328 "Query: include with non-mapped projection throws during compilation"
query:

[code]

query plan at the time of throwing:

[code]

exception:

[code]

[2019-06-28 03:46] smitpatel commented on #16328
Are you on latest master? I already fixed this in master.

[2019-06-28 04:50] grantgonggithub commented on #16236
If it's  "Pomelo.EntityFrameworkCore.MySql" problem, it's the same error when I switch to sqlserver, so it's still  EFCore problem

[2019-06-28 04:59] smitpatel commented on #16286
Related #16133

[2019-06-28 05:14] grantgonggithub opened #16329 "EFCore Use timestamps to control concurrency problems"
EFCore Use timestamps to control concurrency problems

 follow the link below:
_https://github.com/aspnet/EntityFrameworkCore/issues/16236_

_This looks like a MySQL database provider issue. I'm not sure what the mapping was in EF6 when using MySQL, but it sounds like the EF Core provider will need to support the same things for this to work. I suggest you follow up at: https://github.com/PomeloFo

[2019-06-28 06:11] smitpatel opened #16330 "Query: FirstOrDefault on collection projection may fail to find correlation"
[code]
Conditions
- FirstOrDefault on top level which causes a pushdown
- The correlation predicate is not part of identifier for outer
- The correlation predicate is not being projected out from outer.

This causes it to lose reference when pushing down and then fail to identify correlation predicate.

[2019-06-28 06:38] maumar commented on #16328
I wasn't, now the test fails later:

NRE

[code]

[2019-06-28 06:41] smitpatel commented on #16328
Check tree to verify that it's not https://github.com/aspnet/EntityFrameworkCore/issues/16088
We don't have unmapped property support so it may be that issue.

[2019-06-28 07:21] maumar commented on #16328
turns out my enlistment was (again) in a weird state - verified this is a non-issue and updated the pr, closing

[2019-06-28 08:25] divega commented on #16329
Closing in favor of the original issue https://github.com/aspnet/EntityFrameworkCore/issues/16236, since there is more information there.

[2019-06-28 08:28] divega commented on #16236
FWIW, the [TIMESTAMP data type](https://dev.mysql.com/doc/refman/5.5/en/datetime.html) in MySQL is closer to the definition in SQL standard and equivalent to DATETIME in SQL Server. TIMESTAMP in SQL Server is a binary row version that doesn't make sense to map to a .NET DateTime. I think that might be the source of the confusion.

@grantgonggithub if you have a repro with SQL Server, please point

[2019-06-28 08:35] divega commented on #16325
Sounds like it is a mix of an older version of Microsoft.EntityFrameworkCore.Design which still used LazyRef<T\> and the 3.0-preview6 version of Microsoft.EtnityFrameworkCore that doesn't define the type anymore.

[2019-06-28 09:19] nphmuller opened #16331 "Consider supporting deleting database snapshot files of old migrations"
Since our application is slowly accumulating a lot of database migrations, compiling is starting to take a while (compiling + Roslyn analyzers).

The biggest part of compilation is spend on database snapshots from old migrations. So it would be great if they could be deleted, if I don't want to support reverting those migrations.

See @bricelam 's answer on StackOverflow: https://stackoverflow.com

[2019-06-28 10:07] grantgonggithub commented on #16236
@divega   Thank you for answering my questions!
    My question is actually quite simple. This code works well in EF6, including SQL Server and MySql, but there is an error after upgrading EFCore. MySql and SQL Server both reported an error, so it can be confirmed that there is a difference between EF6 and EFCore in processing timestamp,I want to know what the difference is, or how can I solve the

[2019-06-28 10:14] petli commented on #15710
Given the note in preview 6 about the query engine being rewritten (#12795) and that query tags doesn't work right now, it sounds like this specific issue might not exist in the rewritten code. So it can be moved out of the 3.0.0 milestone for now and my team can come back to see if anything like this remains when the new query code stabilises.

[2019-06-28 10:52] nebojsajsimic opened #16332 "Disabling Auto Transactions"
Hi,
I am trying to use EF but i have difficulties with transaction wrapper,
 main problem is that my data is on a linked server over a driver and that source does not support transactions.
So is there any possibility to use SaveChanges() without wrapping queries in transaction???
Or
Is it possible to get list of all queries that will be executed on SaveChanges(), than execute it as parameter in pr

[2019-06-28 11:43] giri-nitesh opened #16333 "Unit testing with SQLite db throws DllNotFoundException"
I have a .NET Core 2.2 solution with APIs written in it and .NET Standard 2.0 for DAC layer. I am unit testing my code with specflow and I am using SQLite in memory database. The unit test solution builds fine but I get this error when I try to run tests.
[code]
### Further technical details
EF Core version: (2.2.4)
Database Provider: (Microsoft.EntityFrameworkCore.SqlServer Version:2.2.4)
Operati

[2019-06-28 12:13] roji commented on #15711
I think we're still waiting in progress - PR #16249 is still outstanding, and even after that we'd ideally complete #16298 (set operations over different entity types).

[2019-06-28 13:33] rlebowitz commented on #16325
You were correct; I recently upgraded several things on my workstation, and the preview checkbox on the Nuget tab was unchecked such that I installed version 2.2.4 instead of the one for the preview version.  The models were constructed as expected.  Thank you

[2019-06-28 13:58] roji opened #16335 "Query: conditional operator with type check throws InvalidOperationException"
The following throws InvalidOperationException:

[code]

Exception:

[code]

Confirmed on 4f1f0191f5c4ed86aeab5e5f590a4c8323bf90db

[2019-06-28 14:23] ajcvickers opened #16336 "Log extensions for transactions sometimes lose the transaction"
This happens if diagnostic listeners are enabled but no transaction interceptor is registered.

See https://github.com/aspnet/AspNetCore/pull/11626

[2019-06-28 14:24] roji commented on #15773
Repro on 3.0 seems to be blocked by the conditional operator: #16335

Ready-to-run repro for QueryBugsTest (demonstrates error on 2.2):

[code]

[2019-06-28 14:39] roji commented on #15684
Verified fixed in #16338

[2019-06-28 14:42] #16336 closed

[2019-06-28 14:54] roji commented on #15553
Repro'd again in 4f1f0191f5c4ed86aeab5e5f590a4c8323bf90db (close to preview7).

Ready-to-run repro for QueryBugTests:

[code]

[2019-06-28 15:13] ajcvickers commented on #13975
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-28 15:19] ajcvickers commented on #16137
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-28 15:20] ajcvickers commented on #16172
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-28 15:20] ajcvickers commented on #16192
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-28 15:22] MattHartz commented on #16137
Hi all, I was able to fix this issue by updating my connection string to the database to include database pooling. I don't know why I had to do this versus using the extension method in my startup class for database pooling.

[2019-06-28 15:22] UKDeveloper99 commented on #16194
@AndriySvyryd Had a chance to look at this yet? It's affecting a project I'm working on that's due for delivery soon. Thanks in advance.

[2019-06-28 16:02] ajcvickers commented on #16332
@nebojsajsimic `context.Database.AutoTransactionsEnabled = false;`

[2019-06-28 16:09] SidShetye commented on #15911
@ajcvickers - will this be marked for the 3.0 release?

[2019-06-28 16:13] ajcvickers commented on #15911
@SidShetye It's pretty unlikely to go into 3.0 at this point.

[2019-06-28 16:35] ajcvickers commented on #10750
@urza The idea is to change something in a script that can be read inside your code. So, for example, set an environment variable that contains the connection string, then run database updates in a loop changing the value of the environment variable each time.

[2019-06-28 16:58] roji commented on #15208
Confirmed that SQL gets properly generated as of a2ce46082fc91f7325070f3058f13e5c120f216d (near preview7).

Not committing QueryBugsTest repro as it doesn't seem necessary, but here is the code used:

[code]

SQL:

[code]

[2019-06-28 16:59] smitpatel commented on #15208
Do we have regression test?

[2019-06-28 17:00] roji commented on #15208
As I wrote above it didn't seem necessary for this simple case (test posted above). But if we want a test for every bug, I'll submit a PR, no problem.

[2019-06-28 17:01] smitpatel commented on #15208
We should only close without adding test if we have existing test which covers it.

[2019-06-28 18:36] #15392 closed

[2019-06-28 19:27] AndriySvyryd opened #16342 "Reduce SQL Server test flakiness"
- Don't use Northwind in the CrossStore tests
- Disable tests that delete databases on CI
- Don't delete databases in CI script, instead clean Northwind
- Change `DbContextOptionsBuilderExtensions.ApplyConfiguration` to always use an ExecutionStrategy

[2019-06-28 19:30] ajcvickers commented on #16293
@smitpatel to de-dupe

[2019-06-28 19:38] ajcvickers commented on #16315
@smitpatel to de-dupe.

[2019-06-28 19:38] AndriySvyryd commented on #16194
@UKDeveloper99 This is not supported yet. An owned type cannot have any base or derived types mapped to the same navigation.

[2019-06-28 19:41] UKDeveloper99 commented on #16194
@AndriySvyryd ahh okay. Should I just use HasMany for now then?

[2019-06-28 19:41] ajcvickers commented on #16321
@smitpatel to de-dupe

[2019-06-28 19:41] AndriySvyryd commented on #16194
@UKDeveloper99 Yes

Dupe of https://github.com/aspnet/EntityFrameworkCore/issues/9630

[2019-06-28 19:55] smitpatel commented on #16335
Assigning to @roji
`x is Blog` is EntityReferenceExpression in the tree at translation pipeline. It should have been removed earlier.

[2019-06-28 19:55] smitpatel commented on #16335
[code]

[2019-06-28 19:56] smitpatel commented on #16321
Duplicate of #15285

[2019-06-28 19:57] smitpatel commented on #16315
Duplicate of #15264

[2019-06-28 19:58] smitpatel commented on #16293
Duplicate of #15081

[2019-06-28 19:59] jalakhras opened #16343 "Querying Data in a System-Versioned Temporal Table"
We are implementing a solution to query a temporal of any table.

As you know, when enabling a temporal table on SQL server for any table, SQL will automatically add a second table with extra “_History” at the end of the table to track history. For example, if we have a “student” table, SQL server will add “student_History” table.

To query the student history, all that we need is querying student

[2019-06-28 20:01] nebojsajsimic commented on #16332
Nope database does not contain autotransactionenabled........ :(

[2019-06-28 20:04] ajcvickers commented on #15814
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-06-28 20:10] #12098 closed

[2019-06-28 20:10] #15043 closed

[2019-06-28 20:10] #15611 closed

[2019-06-28 20:12] #15181 closed

[2019-06-28 21:07] RugerSR9 opened #16346 "Migration Creating Identical Up and Down"
Not sure how this happened but after doing an add-migration, I receive a migration with an Up/Down that are exactly the same. I also have no idea why it wants to drop an index and recreate it as well as alter a column to the exact same state that it is already in. Any ideas? Is this a bug?

While performing the migration, you get an error of

[code]

[2019-06-28 21:19] #15684 closed

[2019-06-28 22:03] #16231 closed

[2019-06-28 22:06] roji opened #16349 "Capture QueryBaseline.cs in CI"
When SQL assertions fail, we get QueryBaseline.cs that provides the full SQL output. We should capture that in CI runs to help diagnose problematic tests etc.

[2019-06-28 22:14] smitpatel commented on #16346
Column `Permissions` changed max length from 50 to max & Unicode from false to true.

[2019-06-28 22:22] #15208 closed

[2019-06-28 22:22] #16262 closed

[2019-06-28 22:25] smitpatel commented on #16245
Fixed via #16266

[2019-06-28 22:25] #16245 closed

[2019-06-28 22:29] dsplaisted commented on #16230
We think that you need at least VS 16.2 Preview 3 for this, which shipped this week (the 25th).

[2019-06-28 22:46] smitpatel opened #16352 "Test: Verify code path when diagnostic source enabled but no interceptors registered"

[2019-06-28 22:47] smitpatel commented on #16352
Source code fix was added in #16348

[2019-06-28 23:00] #16335 closed

[2019-06-28 23:50] divega opened #16353 "Remove cancellation token from CloseAsync APIs"
This is my conclusion on the conversation started on https://github.com/dotnet/standard/pull/1283#discussion_r298295697.

All in all, it seems that we are using CloseAsync for *cleanup* (e.g. in finally blocks) and it is hard to figure why passing the same cancellation token that you are passing to everything else is the wrong thing to do. Hence it is a pit of failure to have CancellationToken in

[2019-06-29 07:33] Gavinluo opened #16355 "EFCore Delete And Add will merge to Update，and throw concurrency Exception"
i`m trying to update my code from ef6 to efcore . and get  a concurrency exception

i have a Demo Entity
[code]

DemoCode:

[code]

this scene is when you call Set<T>.Remove  and then call Set<T>.Add , and the entity primary key is same .
    1. EFCore  SaveChange will transfer to one update sql.
    2. EF6 SaveChange will transfer to two sql，one is delete sql and another is insert sql.
will , thi

[2019-06-29 07:42] Gavinluo commented on #16355
this is demo code
https://github.com/Gavinluo/EFCoreSameKeyException

[2019-06-29 10:37] roji commented on #16300
Do after #16339 is merged to avoid conflict.

[2019-06-29 12:19] roji commented on #15713
@smitpatel going to give this a try

[2019-06-29 15:19] DubravkaTrampa commented on #16332
Moze li hint koji driver je u pitanju?

[2019-06-29 15:50] professor-k commented on #11153
In my case after adding one explicit .Include() implicit includes by navigation properties got broken, hence NRE. Fixed by adding them explicitly too, though it took me some time to figure out the case.

[2019-06-29 16:17] ajcvickers commented on #16332
@nebojsajsimic Are you using EF6 or EF Core? If EF Core, then which version?