[2015-07-23 16:04] natemcmaster opened #2695 "Migrations revert in the wrong order when going to "0""
Apply-Migration 0 unapplies in the wrong order. It starts with the oldest migration. The first should be last and the last should be first.

[2015-07-23 16:04] natemcmaster commented on #1972
@bricelam Here: #2695

[2015-07-23 16:11] natemcmaster commented on #2687
So really, this is user error. I think we could help this by printing to the console the 'from' and 'to' parameters. Just that little piece of feedback would help me understand what the resulting script represents.

[2015-07-23 16:13] bricelam commented on #2695
Looks like I missed a call to `.OrderByDescending(m => m.Id)` on [line 131 of Migrator.cs](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Migrations/Migrator.cs#L131).

[2015-07-23 16:23] bricelam commented on #2687
Good call. Something like...

[2015-07-23 16:24] natemcmaster commented on #2687
:+1:

[2015-07-23 16:36] bricelam commented on #2691
Dupe of #882. Fixed in Beta 6.

[2015-07-23 16:38] #2674 closed

[2015-07-23 18:23] natemcmaster commented on #2687
Additionally (and for less-verbose output), could we print something like this?

[2015-07-23 20:56] ajcvickers commented on #2636
@PrashanthIBM If you need access to the connection, then you can add an IRelationalConnection parameter to the constructor of your ModificationCommandBatch implementation and have it injected for you. You can then use the connection anywhere you need it.

However, be careful about making sure it is opened and closed consistently. It may have been opened by the application, in which case it shouldn

[2015-07-23 20:57] #1989 closed

[2015-07-23 22:00] bricelam commented on #2687
Given that we already log the "Generating up script" statements, and we're now forcing you to specify the `-To` or `-From`, I think this issue is resolved.

[2015-07-23 22:07] natemcmaster commented on #2687
Agreed.

[2015-07-23 22:21] rowanmiller commented on #2675
Just following up on this thread after discussing it on https://github.com/aspnet/EntityFramework/issues/1698.

We may add this back in the future, but for the moment you need to use the Fluent API.

[2015-07-23 22:24] rowanmiller commented on #2665
This is to be consistent with other frameworks (such as ASP.NET). Moving to EF7 is more of a port scenario than an upgrade so changing namespaces also helps convey that you are really targeting different objects than EF6.

[2015-07-23 22:25] rowanmiller commented on #2660
Discussed and concluded we shouldn't do this. We need to be able to compile the project to get the snapshot from the previous migration so that the model snapshot can be updated. We shouldn't ever produce code that doesn't compile (so we should fix any bugs where this happens).

[2015-07-23 23:35] natemcmaster opened #2700 "Create a {VS,dnx}-less solution for generating migrations"
Anyone not developing within Visual Studio or dnx cannot access Ef.Commands. Generating migrations must be done by hand.

**Ideas:**
- Pure CLI tool. We _might_ be able to port [Program.cs](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Commands/Program.cs) to work .exe tool.
- Hosted solution e.g. a website where you drag and drop some *.cs file(s). and it spits out a migr

[2015-07-24 04:15] yukozh opened #2703 "MaxLength not works in beta5"
<img width="216" alt="qq20150724-1 2x" src="https://cloud.githubusercontent.com/assets/2216750/8867576/9aeb18c8-31fd-11e5-997f-caa56c6bcd81.png">

<img width="679" alt="qq20150724-2 2x" src="https://cloud.githubusercontent.com/assets/2216750/8867578/a7013d0e-31fd-11e5-8f5c-c167e9670475.png">

[2015-07-24 05:38] PrashanthIBM commented on #2636
Hi Arthur,

Thanks for spending your time on this issue.

Connection Open and close has performance issues, but server information is needed during query generation with out that its not possible to take runtime decision.

In this file ,
https://github.com/aspnet/EntityFramework/blob/master/src/EntityFramework.Relational/Update/BatchExecutor.cs

public virtual int Execute(
            IEnumerable<

[2015-07-24 07:11] weitzhandler commented on #1698
How do I define the index **order** via fluent API?

[2015-07-24 07:12] weitzhandler commented on #2665
Will it eventually change to `System.*` after release etc?

[2015-07-24 09:06] Grinderofl commented on #2700
I'm working on an internal SDK which requires EF to have the ability to delegate dbcontext creation to detecting model classes from files, as well as a simple way of working with migrations. I have a very raw version of it uploaded here: https://github.com/Grinderofl/EntityFramework7-helpers (there's even no entity type configuration).

It includes generating dbcontext by finding by base class, us

[2015-07-24 09:41] d0pare opened #2704 "AddEntityFramework method error on OS X with latest beta6"
Getting such an error on OS X with `1.0.0-beta7-12264    mono         ~/.dnx/runtimes      default`

`Startup.cs(46,22): DNX,Version=v4.5.1 error CS0121: The call is ambiguous between the following methods or properties: 'Microsoft.Framework.DependencyInjection.EntityFrameworkServiceCollectionExtensions.AddEntityFramework(Microsoft.Framework.DependencyInjection.IServiceCollection)' and 'Microsoft.

[2015-07-24 10:13] radenkozec commented on #2442
Hi @bricelam @rowanmiller
I have a similar issue on beta5 but without EntityFramework.
Have a error:

My project.json:

    "dependencies": {
    "Hue.Model": "1.0.0-*",
    "Microsoft.Framework.Configuration.Abstractions": "1.0.0-beta5",
    "Microsoft.Framework.Configuration.Json": "1.0.0-beta5",
    "System.Net.Http": "4.0.0-beta-23019",
    "System.Data.Common": "4.0.0-beta-23019",
    "System

[2015-07-24 15:15] manfredsteyer opened #2705 "Question: Is there a sample for SQLight?"
Hi,
I've read, that the current beta supports SQLight again. Is there a sample that shows how to use this Feature?
Wishes,
Manfred

[2015-07-24 16:04] rowanmiller commented on #2705
Hey,
SQLite will be supported in Beta6 (coming out shortly). There will be a walkthrough on our doc site (http://ef.readthedocs.org) that shows how to use SQLite.
~Rowan

[2015-07-24 16:05] rowanmiller commented on #2665
No, they will stay as Microsoft.*. This is consistent with what other technologies that are not part of the BCL have done.

[2015-07-24 16:08] tinganho commented on #2705
@rowanmiller how about Redis support?

[2015-07-24 16:10] natemcmaster commented on #2704
Weird. Try cleaning EF packages (`rm -r ~/.dnx/packages/EntityFramework*`)?

[2015-07-24 16:48] dopare commented on #2704
Thanks, but didn't help :(

[2015-07-24 16:50] divega commented on #2610
@phestermcs As I mentioned before EF will not replace an empty string on a property with a null value.

The errors you are seeing are a consequence of the [data validation feature](https://msdn.microsoft.com/en-us/gg193959) which both EF5 and EF6 use by default on DbContext.SaveChanges(). In this particular case the validation logic in the `System.ComponentModel.DataAnnotations.RequiredAttribute`

[2015-07-24 16:50] rowanmiller commented on #2705
@tinganho We prototyped a Redis provider (to help us design the core to support non-relational stores) but we won't be working on that provider again until after we get the first stable release of EF7 out.

[2015-07-24 16:53] rowanmiller commented on #2652
@unairoldan could it be that you are trying to use the same context instance to update two different instances of an entity that have the same key?

There isn't a lot we can do here without a full set of code to reproduce the issue. Any chance you could share a project? The full stack trace from the exception would be useful too.

[2015-07-24 16:54] bricelam commented on #2703
Dupe of #882. Fixed in Beta 6.

[2015-07-24 16:54] rowanmiller commented on #2646
Discussed and concluded we'll only do this if folks ask for it. Targeting an existing database from UWP seems like a less common scenario (at least until we support targeting non-local storage).

[2015-07-24 16:56] rowanmiller commented on #2700
Dupe of https://github.com/aspnet/EntityFramework/issues/646?

[2015-07-24 17:03] natemcmaster commented on #2700
Someone. It could include a tool like #646, but we may not create a *.exe cli tool. For instance, a Xamarin Addin might be a good solution here.

[2015-07-24 17:16] ajcvickers opened #2706 "Design meeting notes - July 23, 2015"
# NuGet/DNX Commands

We reviewed the Entity Framework Commands and their parameters. Here is the outcome.

NuGet | DNX
----- | ---
Add-Migration<br />&nbsp;&nbsp;&nbsp;&nbsp;[Name]<br />&nbsp;&nbsp;&nbsp;&nbsp;-Context<br />&nbsp;&nbsp;&nbsp;&nbsp;-Project<br />&nbsp;&nbsp;&nbsp;&nbsp;-StartupProject | dnx [project] ef migration**s** add<br />&nbsp;&nbsp;&nbsp;&nbsp;[name]<br />&nbsp;&nbsp;&nbsp;

[2015-07-24 17:17] ajcvickers commented on #2529
@popcatalin81 Yes, that should work.

[2015-07-24 17:39] rowanmiller commented on #2341
Consider these cases when translating SQL
* https://github.com/aspnet/EntityFramework/issues/2639
* https://github.com/aspnet/EntityFramework/issues/2651
* https://github.com/aspnet/EntityFramework/issues/2638
* https://github.com/aspnet/EntityFramework/issues/2637

[2015-07-24 17:40] ajcvickers commented on #2140
@bricelam @rowanmiller @AndriySvyryd @smitpatel @lajones I suspect that Migrations doesn't need it yet because its not diffing navigation properties, but @bricelam can confirm. This makes it lower priority for Migrations, so the priority may depend on its importance for reverse engineering.

[2015-07-24 17:43] rowanmiller commented on #2651
Hey,

This issue relates to EF6, which is managed in a separate repo ([currently on CodePlex](http://entityframework.codeplex.com/), but we are considering moving it to GitHub). We have taken a note on #2341 to consider this scenario and the SQL you suggested when we work on GroupBy translation in EF7.

Regarding this scenario in EF6, give that we are going to improve this in EF7 and the relative

[2015-07-24 17:44] rowanmiller commented on #2638
Hey,

This issue relates to EF6, which is managed in a separate repo ([currently on CodePlex](http://entityframework.codeplex.com/), but we are considering moving it to GitHub). We have taken a note on #2341 to consider this scenario and the SQL you suggested when we work on GroupBy translation in EF7.

Regarding this scenario in EF6, give that we are going to improve this in EF7 and the relative

[2015-07-24 17:44] rowanmiller commented on #2639
Hey,

This issue relates to EF6, which is managed in a separate repo ([currently on CodePlex](http://entityframework.codeplex.com/), but we are considering moving it to GitHub). We have taken a note on #2341 to consider this scenario and the SQL you suggested when we work on GroupBy translation in EF7.

Regarding this scenario in EF6, give that we are going to improve this in EF7 and the relative

[2015-07-24 17:45] rowanmiller commented on #2637
Hey,

This issue relates to EF6, which is managed in a separate repo ([currently on CodePlex](http://entityframework.codeplex.com/), but we are considering moving it to GitHub). We have taken a note on #2341 to consider this scenario and the SQL you suggested when we work on GroupBy translation in EF7.

Regarding this scenario in EF6, give that we are going to improve this in EF7 and the relative

[2015-07-24 17:48] rowanmiller commented on #2627
As @Phasiq mentioned, this is by design. DbSet does not impose any ordering and EF has not contract with the provider around the order things are stored in the database. If you want things in a particular order then adding sorting to the query is the right way to do this.

[2015-07-24 17:49] rowanmiller commented on #2622
Discussed and decided not to do this. If you specify both, then the database can just give you the appropriate error.

Note, this is about DefaultValue and not DefaultValueSql (which is valid)

[2015-07-24 17:51] rowanmiller commented on #2603
@mmelosan those ones with the timestamps come from our nightly build feed. If you standardize everything on Beta 5 it should work just fine. We will also be releasing Beta 6 shortly.

[2015-07-24 17:54] rowanmiller commented on #2555
@malekpour I've contacted the SQL Client team to take a look at this one. They aren't on GitHub, so I'll leave this issue open until we have confirmation from them that the issue is being tracked elsewhere.

[2015-07-24 17:55] rowanmiller commented on #2605
Closing as we have not heard back with the requested details

[2015-07-24 17:57] rowanmiller commented on #2679
Closing as there is nothing actionable from the EF side at the moment. If the design of global commands changes such that the EF commands could make use of them then we will reconsider.

[2015-07-24 18:14] unairoldan commented on #2652
This is the full stack trace:

An exception of type 'System.InvalidOperationException' occurred in mscorlib.dll but was not handled in user code

Additional information: The instance of entity type 'MrBellhop.Model.Company.Company' cannot be tracked because another instance of this type with the same key is already being tracked. For new entities consider using an IIdentityGenerator to generate un

[2015-07-24 18:21] rowanmiller commented on #2680
@ErikEJ anything outstanding from your side here?

[2015-07-24 19:00] matthewDDennis opened #2707 "Attempt to execute supposedly unreachable code."
Using Beta6 from the ASPNETBETA6 myget feed:
# Error

# Console Dump

[code]

[2015-07-24 19:04] natemcmaster opened #2708 "Async query fails on Mono 4.0.x (OS X/Linux)"
Async queries will fail on Mono 4.0.x. The Mono implementation of LINQ will throw this error:

This will be resolved in a future Mono release. Currently their [4.2.0 branch](https://github.com/mono/mono/tree/mono-4.2.0-pre2-branch) contains the fix, but this is pre-release.

(No changes required in EF. Adding this issue just to track the upgrade of Mono)

**Update**

Preview [packages are availabl

[2015-07-24 19:28] ErikEJ commented on #2646
An opportunity for a third party Tool, perhaps?

[2015-07-24 19:30] rowanmiller commented on #2646
@ErikEJ could be, though I'm not sure how often you have an existing local SQLite database that you want to start accessing with EF.

[2015-07-24 19:37] ErikEJ commented on #2680
Yes, as it makes upgrading based on daily builds very cumbersome, error prone and time consuming

[2015-07-24 19:42] ErikEJ commented on #2646
Yes, but I have tools already in place that lets you migrate from SQL Server to sqlite, so a possible RAD workflow if you want to resuse your SQL Server based schema could be:
SQL Server => SQLite db => EF7 codegen

[2015-07-24 19:58] rustd opened #2709 "Migrations should go under a root folder called Data"

[2015-07-24 20:15] GSPP commented on #2651
Rowan,

if this is going into EF7 that would be very nice. I do not especially care about EF6 anyway, this is just the version I used for testing this. I'll be on the latest version long-term.

[2015-07-24 20:40] ajcvickers commented on #2636
@PrashanthIBM If you want to have the connection available in GetCommandText, then get it using dependency injection. Using the SQL Server implementations as an example, have it injected into your ModificationCommandBatchFactory, and then pass it from there to the ModificationCommandBatch:

[code]

Now you can use it wherever you want in GetCommandText or anywhere else you need it, although I woul

[2015-07-24 21:10] maumar commented on #1699
we should make sure not to expose PK values in the exception messages that will be thrown for unbreakable cycles

[2015-07-24 21:25] divega commented on #2708
This is a bit off-topic, but the exception message seems weird, e.g. is the requirement to implement IAsyncQueryProvider to IEntityQueryProvider?

cc @anpete

[2015-07-24 21:35] #2671 closed

[2015-07-24 21:36] bricelam commented on #2709
Not sure if it qualifies as a *breaking* change, but it's been the way it is since Entity Framework 4.3...

[2015-07-24 21:39] ketrex2 opened #2711 "SQL server alias recognized in dnx451 but not in dnxcore50"
I built a web application utilizing EntityFramework and the new Identity libraries. I also set up a SQL configuration alias in SQL server configuration manager. When running my application with the dnx451 runtime, the database connection is established with no problem and the application functions.

If I switch the runtime to dnxcore50, any attempts to connect to the database from the application

[2015-07-24 21:43] bricelam commented on #2706
We finally had to let go of our revEng...

[2015-07-24 22:32] divega commented on #2140
Unassigning and moving to backlog. We can make migrations smarter and tidy up reverse engineering if we add this later.

[2015-07-24 22:35] divega opened #2712 "RevEng: Use DataAnnotations when possible in generated code"
By default we should generate code similar how we did in EF6 for the "Code First from existing database" workflow, e.g. avoid unnecessary configuration, prefer `DataAnnotations` over fluent API, etc.

[2015-07-24 22:52] divega opened #2713 "RevEng: Refactor to split schema acquisition from more common functionality"
Currently the reverse engineering provider for SQL Server contains the logic that retrieves the schema information from the database into an IModel and also the logic that translates that into an enriched IModel containing entities, relationships and annotations that is ready for the code-gen phase.

Ideally, providers should only need to implement the initial schema acquisition and could delegate

[2015-07-24 23:01] divega commented on #599
Closing as Beta4 (should be close enough).

[2015-07-24 23:01] #599 closed

[2015-07-24 23:07] divega opened #2714 "RevEng: Strive for reusing common annotations and metadata APIs"
Our reverse engineering pipeline uses an IModel that is not bound to CLR types as a representation at various stages, including the model that is passed to the final code generation stage.

Note that IModels that are not bound to CLR types aren't full fidelity with all the capabilities of EF, e.g. per see #2140 it is not possible to represent unbound navigation properties. However, we should striv

[2015-07-24 23:15] divega commented on #2167
Noticed this issue has the pri0 but hasn't been assigned. Assigning to @bricelam since he owns our migrations story.

[2015-07-24 23:18] divega commented on #2167
Also, note that the proposal described in a previous comment should be much easier to implement if the IModel that is the output of the reverse engineering pipeline used the same annotations and other constructs that a regular model produced by code first would use (see #2714).

[2015-07-24 23:33] divega commented on #2709
This would only be for MVC apps (based on the default template), and it is just an idea based on feedback that called for the creation of a Data folder for things like the application's DbContext. We could otherwise:

1. Keep Migrations as a top level folder side by side with the new Data folder
2. Not create the Data folder at all and leave the application's DbContext under the Models folder.

[2015-07-25 00:10] divega commented on #2713
@bricelam re the last point, do we have a bug for reverse engineering for SQLite that we can talk about in triage? The one that was closed today was specifically for UWP projects, and I couldn't find one for SQLite.

[2015-07-25 05:01] phestermcs commented on #2610
Thank you kindly for articulating.

[2015-07-25 10:36] Bidou44 opened #2715 "ModelSnapshot: Ensure using directives present for annotation types"
I just installed the beta7-13841 and ran the `Script-Migration' command. It was working with the previous release, now I receive the following error:

PM> Script-Migration
Specified cast is not valid.

Update: same behavior with Add-Migration

[2015-07-25 10:44] tinganho commented on #2715
I'm getting the error `The name 'SqlServerIdentityStrategy' does not exist in the current context`.

[2015-07-25 21:09] dopare commented on #2704
`1.0.0-beta7-12274    mono` have fixed this issue.

[2015-07-26 00:59] NoralK commented on #2715
Same here on beta7-12274
[code]

[2015-07-26 03:05] NoralK opened #2716 "No Intellisense on beta7-12274"
Using VS-Code and when using beta7-12274 there is no Intellisense.  There is Intellisense for beta5.

[2015-07-26 04:48] toddtsic commented on #1441
Any update on this issue, with the lack of sp support at this time, triggers can be very helpful...

[2015-07-26 07:43] unairoldan commented on #2652
I have shared the example project in this repository:

https://github.com/unairoldan/EF7-beta-6-MS_Example/tree/553ccd7b5724fec21d62aa1785da2161a32ae2c2

I just delete some code (from other DB entities) to make easier track the problem

[2015-07-26 13:06] roji opened #2717 "Raise exceptions for unsupported property setup/metadata?"
I'm working on sequence support for Npgsql, and I'm wondering about what to do with properties that are impossible. I'm referring, for example, to identity columns that aren't numeric, to properties that have both DefaultValue and DefaultValueSql, or, in the PostgreSQL case, to computed columns in general which aren't really supported (although there may be alternate ways to implement this).

The

[2015-07-26 19:42] RickStrahl opened #2718 "Create Context without DI?"
If we want to create a fully self-configuring DbContext that doesn't depend on DI, what's the best way to do this?

In the previous beta I was able to access the Configuration instance directly and read the connectionstring info explicitly. However, in the current beta the configuration object appears that it needs a base path which has to come - from DI.

Here's what I would roughly like to be ab

[2015-07-26 21:57] ritcoder opened #2719 "Child records not included in query result"
When I run the query below, the `ratings` property for all records is a list with no records even though the first record has 10 rating items.

This does not work. The

[code]

This works (when the select statement is comment)

[code]

Ratings is defined as

[code]

At the moment, to get it to work, I must execute the query to get all the items and do the select after the toList.
Is this a bug or

[2015-07-27 01:59] ctolkien commented on #1368
Just chiming in on this issue. Many-to-many is the one scenario that is blocking us from EF7 adoption. I realise that you can use intermediate mapping classes, but that requires significant changes to how we'd like to model things.

I note this is still tagged for the backlog. Is this feature on the roadmap for v1?

[2015-07-27 03:53] damccull commented on #1368
Sooo....gimme. Many-To-Many is probably the only thing left that I NEED in order to do what I want...I WANT more features, but many-to-many is all I NEED...probably.

[2015-07-27 08:25] roji commented on #2636
@ajcvickers thanks for the detailed explanation and sorry for the late response.

Absolutely, of course an open connection is needed in PostgreSQL as well. I somehow understood that the version information requires an extra query/roundtrip and would therefore add an unacceptable performance penalty.

As for the rest, everything you say makes sense regarding model building - I understand why it's b

[2015-07-27 12:15] ritcoder opened #2720 "Code supposed to be unreachable when executing count() in subquery"
I'm using `beta5` and the query below gives a `System.InvalidOperationException`. The query is

[code]

Remove ratingCount fixes the problem so it seems the error is coming from the `count()` portion.

Raw exception dump (from IIS)

[code]

[2015-07-27 15:51] bricelam opened #2721 "SQLite: Reverse Engineer"
Implement all the things required to do
[code]

[2015-07-27 15:54] bricelam commented on #2713
Created #2721

[2015-07-27 16:22] divega commented on #2720
Looks like a dupe of #325 (navigation property translation) which is being worked on.

[2015-07-27 17:05] ajcvickers commented on #2718
@RickStrahl You can derive from DbContext and then just use 'new' to create an instance of your context, just like you could in older versions of EF. EF will still use DI to manage its own services, but it will be a separate container isolated from the rest of your application.

UseSqlServer just requires a connection string, which can be obtained in any way you want. In your sample code you are u

[2015-07-27 18:22] RickStrahl commented on #2718
Right I get that. My issue is that in order to build a self-contained context we typically need access to the configuration in some way. In the past we've always been able to get at configuration through the global objects, but now everything is supposed to be injected removing the ability to self-configure easily.

The workaround for now is to use the IServiceProvider overload which requires DI a

[2015-07-27 18:36] ajcvickers commented on #2718
@RickStrahl When you say, "The workaround for now is to use the IServiceProvider overload" do you mean the IServiceProvider overload of DbContext or of something else? Using the IServiceProvider overload of DbContext should not be required here or have any impact on this. EF is never going to read from configuration directly anyway. EF doesn't integrate with the configuration system at all--you ge

[2015-07-27 20:54] manfredsteyer commented on #2705
great. Thx for the quick reply.

[2015-07-27 22:26] RickStrahl commented on #2718
@ajcvickers - if you pass in IServiceProvider, EF will create the instance with the configuration info from the top level configuration applied.

So in say a controller this works if IServiceProvider is injected:

[code]

But, this gets more complicated when you're inside of a component that has no knowledge of the top level application and may not have access to IServiceProvider (or any other DI

[2015-07-27 22:29] ajcvickers commented on #2718
@RickStrahl "if you pass in IServiceProvider, EF will create the instance with the configuration info from the top level configuration applied" EF doesn't so this. It used to do it in beta3, maybe beta4. But then all the configuration integration was removed from EF and it is now up to the application to read configuration in any way that makes sense to the application and then pass it to EF.

[2015-07-27 23:27] brent-russell opened #2724 "Generated Migration Class Partial Class Division & Name"
I have some minor gripes about the generated migration partial classes.

I think the Id property should be part of the main class and not in the 2nd partial. By not putting it in the main partial class, it makes it seem like it's a "second class" member not worthy of being seen by developers. I think it's important enough that it should not be relegated to a partial class. This will also facilitat

[2015-07-28 00:03] brent-russell opened #2725 "Ability to exclude/skip/ignore parts of the model from migrations so that a table is not created (for overlapping bounded contexts)"
I suggest having an attribute that can be applied to DbSet properties in a DbContext, which indicates whether or not to include them in the migration scaffolding process.

An example use case is when part of an application's database is replicated from another environment.  Replicated entities will be included in the same DbContext as custom-developed entities so they can be queried. During develo

[2015-07-28 00:26] divega opened #2726 "Decide on Add() behavior with graphs"
Unlike in previous versions of EF, currently calling `Add()` on an object using EF7 won't mark any of its related objects as added.

We know this is not the only behavior that customers expect from `Add()` (see #2434 and #2387 as examples), however this is certainly a behavior we wanted to expose because in past versions of EF we had a lot of feedback from customers not expecting certain related o

[2015-07-28 05:49] MichaelKetting commented on #2666
Merged.

[2015-07-28 05:49] #2666 closed

[2015-07-28 06:52] heavenwing opened #2727 "NotMappedAttribute still not work for complex type property in beta5"
I have below code:
[code]
EnterpriseReceiptInfo is a complex type, and when ef create database model, it throw a exception to tell me that EnterpriseReceiptInfo must have a Key.
So, I add meta via fluent api in DbContext
[code]
That is work.

[2015-07-28 07:48] popcatalin81 commented on #1368
@bricelam, @rowanmiller Will this feature make into the RTM? I did not see it in the list of upcoming feature in the latest blog post. For me this is the only remaining feature preventing a full migration from EF6 to EF7

[2015-07-28 08:21] branciat commented on #2715
Also persist on dnx beta7-12275 with entityframework beta7-13844

[2015-07-28 12:18] ErikSchierboom commented on #2508
Thanks for listening to the feedback!

[2015-07-28 15:25] Arser commented on #1950
Having the same issue with Visual Studio 2013 Update 5. Any fix avl. for that?

[2015-07-28 15:37] bubibubi opened #2728 "SqlServer provider - MathRoundTranslator"
In EF7 SQL Server provider, MathRoundTranslator (but also other Math related translators) the source code is similar to this (I added only some comments):

[code]

In both overloads arguments is always
methodCallExpression.Arguments[0], Expression.Constant(0)

In case of one parameter I can understand it (ROUND in T-SQL expects 2 parameters) but in case of two parameters I expected
methodCallExpre

[2015-07-28 15:46] bricelam commented on #2715
To clarify, you generated migration classes using an older version of EF (e.g. Beta 6) and you're trying to run `Script-Migration` on Beta 7?

If you delete your migrations (and model snapshot) and add a new one, does Script-Migration succeed?

[2015-07-28 16:38] branciat commented on #2715
I delete the migration files for each update of entity framework.
In the new migration files is missing an using on the assembly which include the SqlServerIdentityStrategy.

[2015-07-28 16:41] divega commented on #2728
@maumar can you take a look?

[2015-07-28 17:54] maumar commented on #2728
@bubibubi  is correct, this is a bug

[2015-07-28 18:11] anpete opened #2730 "Method translators should cache reflection objects"
The following translators are not caching reflected method information:

ConvertTranslator
MathRoundTranslator
MathTruncateTranslator

[2015-07-28 18:11] anpete commented on #2728
Related to #2730

[2015-07-28 18:24] lajones commented on #2713
@ErikEJ Please note this might change your SQLCE provider too (make it simpler, I hope).

I'm planning on having an example checked in soon - but basics are there's a new abstract base class, ReverseEngineeringMetadataModelProvider, which does all the conversion from the relational IModel to the enhanced IModel used for code-gen. You should simply need to override the method ConstructRelationalMod

[2015-07-28 18:36] #2134 closed

[2015-07-28 18:36] #2531 closed

[2015-07-28 18:39] LostBalloon1 opened #2731 "Can't map two classes with same name from different namespace"
As I have no clue if CodePlex is even being looked at anymore.
I would like to know what is going on with the following issue:
https://entityframework.codeplex.com/workitem/483?FocusElement=CommentTextBox

as it still has not been completely fixed with EF6 and despite the low priority it is being given, general consensus is that it's priority should be much higher that the one that has been give t

[2015-07-28 18:39] a99cl208 opened #2732 "InvalidCastException on Select Clause"
Hi,

Using EF7 beta 6 over WebApi2/OData4, I get a cast error doing a simple $select=Id on my entity set.

Here is the error message (approximative translation) :

[code]

Here is the stack trace

[code]

and here is the Debug view of the queryable expression :

[code]

Regards.

[2015-07-28 19:23] NoralK commented on #2715
+1 same for me

[2015-07-28 19:31] #1924 closed

[2015-07-29 06:28] PrashanthIBM commented on #2636
@ajcvickers : I am concerned about your last sentence
"
Now you can use it wherever you want in GetCommandText or anywhere else you need it, although I would still recommend not doing so.
"

--> you are not recommending this approach because it involves opening and closing the connection which leads to performance hit ?
                                                OR
--> if i just need the conn

[2015-07-29 07:31] ErikEJ commented on #2713
Sounds great, will save me 600 lines of code, I did not make any significant changes anyway: https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/blob/master/src/Design40/ReverseEngineering/SqlCeMetaDataModelProvider.cs

[2015-07-29 08:08] petedavis opened #2735 "Migrations: PK indexes not renamed when renaming table with non-default schema"
Using EF 6.1.3, .net 4.5.2

It appears that the query to rename the PK index after the table name has been renamed does not apply the schema name to the index name. Therefore the index is not being renamed if the schema is not the default schema.

This is the SQL that is generated by the following migration:

[code]

was

[code]

I would assume that the PK index exists and rename queries should be

[2015-07-29 13:10] ErikEJ commented on #2713
Why is this line actually neccessary?
https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering/SqlServerMetadataModelProvider.cs#L616

[2015-07-29 13:14] ghost opened #2736 "Add-Migration, Update-Database etc. (EF5) not working with Visual Studio 2013 Update 5"
After I installed Update 5 for Visual Studio 2013 EF-Commands for EF5 stopped working.

The solution contains  several projects using EF5 from NuGet-repos. The following happens if you try to add a new Migration:

[code]

I could figure out a workaround. Adding Entity Framework 5.dll to GAC will make it work, but I think this should also work without having to add EF to the GAC, else we always wou

[2015-07-29 15:04] Muchiachio commented on #1071
Can a key/foreign key property length be lowered to 128? To follow EF6 of defaulting keys to 128? Or you have a reason to use string length of 450, which is quite big for the string key.

[2015-07-29 15:19] Muchiachio commented on #2706
Is -force switch missing or it's no longer needed in EF7?

[2015-07-29 16:23] bricelam commented on #2706
On `Update-Database`? It is no longer needed due to [the removal of automatic migrations](http://www.bricelam.net/2014/12/16/ef7-migrations-designtime.html).

[2015-07-29 16:27] Muchiachio commented on #2706
Yes on `Update-Database`, I was wondering because calling `Update-Database -TargetMigration PreviousMigration` would most of the time result in data loss and it was stopped by an error in EF6.

[2015-07-29 16:32] bricelam commented on #2706
Oh weird; I thought we only blocked data loss on automatic migrations. In EF7, we'll warn you that they have been generated in the `Up` method during `Add-Migration`.

[2015-07-29 16:47] bricelam opened #2737 "Use update pipeline to get DML commands for HistoryRepository"
While implementing the `HistoryRepository`, I was trying to get simple `INSERT` and `DELETE` statements out of the Update pipeline. I traced it back to having to create `InternalEntityEntry` object, but that was impractical due to all its dependencies. We should look at simplifying this scenario.

Also, I needed the ability to use literals instead of parameters.

[2015-07-29 16:54] divega commented on #2737
Related to #2495.

[2015-07-29 17:21] Muchiachio commented on #2706
Here are some other things I noticed :sweat_smile:
[code]
Definitely liking the **s**'es, seems to be more natural to read. :+1:
But why is --from required when --to is specified? I could think of two scenarios when only one of these parameters would be specified.
- I am developing a system, and I just deploy as is, meaning I only need not applied migrations. I go to command line and run `dnx . ef

[2015-07-29 17:25] #2497 closed

[2015-07-29 17:25] #2635 closed

[2015-07-29 17:25] #2695 closed

[2015-07-29 17:31] bricelam commented on #1141
I've added some basic functional tests that cover the `HistoryRepository` in #2733

[2015-07-29 17:32] ghost opened #2738 "Inheritance"
SAMPLE
  protected override void OnModelCreating(ModelBuilder builder)
 {
            builder.Entity&lt;Empresa&gt;(entity =>
            {
                entity.Property(value => value.Endereco.TipoEndereco)
            }
}
ERROR
System.ArgumentException: The expression 'value => value.Endereco.TipoEndereco' is not a valid property expression. The expression should represent a property access: '

[2015-07-29 17:53] MatthewMWR commented on #2319
Would shadow properties be a good fit for this as a workaround (I'm assuming I'd explicitly map them as such in the model builder).?

[2015-07-29 17:59] bricelam opened #2739 "Migrations: Remove batching"
We didn't have it in EF6. Its value-add seems minimal. It isn't supported by SQL Server Compact. We'd have to add API to `MigrationBuilder` for ending batches. Etc. We should scope it out for now.

[2015-07-29 18:22] rowanmiller commented on #2727
@smitpatel Hey mate, this isn't in beta 5, is it. Should it work in current builds?

[2015-07-29 18:25] rowanmiller commented on #2726
We should also consider whether we should mark entities without a key set as added during Attach

[2015-07-29 18:37] rowanmiller commented on #2720
This is the navigation property access that is being tracked by #325 `x.ratings.Count()`

[2015-07-29 18:38] rowanmiller commented on #2719
Also a dupe of #325 (PR out for review at the moment that will enable this scenario)

[2015-07-29 18:53] rowanmiller commented on #2712
It would be good to make it easy to swap to Fluent (like we did in EF6).

[2015-07-29 19:44] maumar opened #2740 "RevEng :: reverse engineering a table with column of type float is incorrect - querying the resulting DbSet throws InvalidCastException"
Problem is that we reverse engineer column of type "float" to CLR float, however when we query that table, the values of that column are of CLR type double.

Due to the way we materialize entities (use GetValue(i) on a reader, and cast the result to appropriate type, then assign to a relevant property in the entity), we are getting invalid cast exceptions for this scenario.

Fix would be to correc

[2015-07-29 20:13] ErikEJ commented on #2712
How do you swap to fluent with EF6?

[2015-07-29 21:14] lajones commented on #2713
@ErikEJ re that line - we define IsStoreGenerated in the query at https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering/Model/TableColumn.csL#26. Given the way that query is defined at the moment the line at https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering/SqlServerMetadataModelProvider.c

[2015-07-29 21:27] ajcvickers commented on #2636
@PrashanthIBM If all you need is information from the connection string then I don't see a problem with it in this case. If used in places like query generation it may still have the issues due to caching.

[2015-07-29 21:36] bricelam opened #2742 "Migrations: Allow provider-specific overrides on operations"
The obvious ones are:
- Table
  - Name
  - Schema
- Column
  - Name
  - Type

This could also be enabled via #2258.

[2015-07-29 22:34] smitpatel commented on #2727
NotMappedAttribute is not available in public bits yet. It was added after beta6 release. It should work in latest nightly build.

[2015-07-29 22:37] rowanmiller commented on #2727
@smitpatel feel free to close if you are confident this scenario now works

[2015-07-29 22:42] lajones commented on #2740
See http://entityframework.codeplex.com/SourceControl/latest#src/EntityFramework.SqlServer/Resources/System/Data/SqlClient/System.Data.Resources.SqlClient.SqlProviderServices.ProviderManifest.xml. Looking at EF6 - looks like we used SQL(float) -> CLR(double) and SQL(real) -> CLR(float).

Note also we are missing rowversion.

[2015-07-29 23:28] divega commented on #1334
@rowanmiller This could have been improved by https://github.com/aspnet/EntityFramework/pull/2734. Is it easy to get new numbers?

[2015-07-29 23:31] rowanmiller commented on #2712
@bricelam did you do a blog post on swapping to Fluent API? I vaguely remember you writing something that showed how to do it :smile:

[2015-07-29 23:31] rowanmiller commented on #1334
Yep they run every night, will have numbers tomorrow morning

[2015-07-29 23:33] #680 closed

[2015-07-29 23:33] rowanmiller commented on #2731
We are still using the CodePlex project for EF6. This isn't something we are planning to address on EF6 (though we would consider accepting a pull request on it). It is addressed in EF7.

[2015-07-29 23:38] divega commented on #1084
@ajcvickers and I talked and it is now safe to assume that scaffolding cascade deletes in migrations is part of how we are going to enable the behavior, so this can now be assigned to @bricelam.

[2015-07-29 23:41] rowanmiller commented on #1368
@popcatalin81 you can have a many-to-many relationship but you need to include an entity that represents the join table. This is how it will be for our first stable release. In the future we will enable shadow state entities (entities that don't have a CLR type) and then you will be able to model it without a CLR class to represent the join table.

[2015-07-29 23:53] rowanmiller commented on #1698
@weitzhandler currently not possible. Feel free to open an issue to request it :smile:

[2015-07-30 00:29] weitzhandler commented on #1698
@rowanmiller
But when creating a multi-key index, does it take care of the order automatically? By what precedence?

[2015-07-30 00:34] rowanmiller commented on #1698
@weitzhandler oh do you mean the order of the columns rather than ASC/DESC? The order of columns is the order that you specify them in the API call to configure the index.

[2015-07-30 00:39] weitzhandler commented on #1698
@rowanmiller

Great, then!

On Jul 30, 2015 3:34 AM, "Rowan Miller" <notifications@github.com> wrote:

ASC/DESC? The order of columns is the order that you specify them in the
API call to configure the index.

[2015-07-30 03:50] NoralK commented on #2715
With 7.0.0-beta7-13854 I cleared out all migrations and ran the following updated command:
[code]

I received these errors when compiling:
[code]
doing a little digging I found 'SqlServerIdentityStrategy' in Microsoft.Data.Entity.SqlServer.Metadata so I added this to all three migration files:
[code]
Now when I compile I am now get this error:
[code]

Noral

[2015-07-30 06:12] branciat commented on #2715
Exactly, i have added the ToString() for each SqlServerIdentityStrategy.IdentityColumn because IdentityColumn is of type enum.

Compilation all right but when applied the migration file with dnx . ef migration apply initial i have the error below
[code]

[2015-07-30 06:22] ponsaravanan opened #2746 "OnModelCreating ForSqlServer Renaming Table Name Fails For IdentityUserRole('AspNetUserRoles')"
I am trying to rename the default tables created for Asp.net identity.  However getting the error. while trying to login

[code]

Environment Used:
Visual Studio 2015
Starter Web Project
libraries beta5 (nothing changed, kept as default)

[code]

[2015-07-30 06:26] ponsaravanan commented on #2746
My Project.json
[code]

[2015-07-30 07:16] NoralK commented on #2715
@branciat I added the ToString() for the  ServerIdentityStrategy.IdentityColumn.  However, the command to apply the migration has changed.  The new command is:
[code]
the error I am getting now is:
[code]

[2015-07-30 07:36] ponsaravanan commented on #2746
After searching a lot i found the problem.

http://stackoverflow.com/questions/19553424/how-to-change-type-of-id-in-microsoft-aspnet-identity-entityframework-identityus

Found the solution in a comment by 'Marcin Zablocki'

IdentityUserRole<string> instead of IdentityUserRole to rename the tables.

[2015-07-30 08:52] ErikEJ opened #2747 "Unable to run tests with latest daily"
No tests are discovered in VS, and the command line runner fails with the error below. Same error occurs on the AppVeyor build server...

Env: VS 2015 RTM, build 7.0.0-beta7-13844, xunit 2.1.0-beta4-build3073 - Test project is csproj based C# class lib, targeting .NET 4.6. Suspect maybe an issue related to XUnit?

Any suggestions how to fix and get unblocked?

And what does this even mean:

    Re

[2015-07-30 10:15] a99cl208 opened #2748 "Issue on startup project resolution in migration commands."
Hi,

There is an issue regarding the startup project resolution in migration command (or maybe i'm using it in the wrong way).

Let's say I've got two projets :
- MyApp.Data (The data access layer, containing the db context)
- MyApp.Web (The web application)

So to add a new migration, I go to the folder "D:\MyApp\src\MyApp.Data", then I run the command "dnx . ef migration add v2 -s MyApp.Web".

T

[2015-07-30 10:38] divega commented on #2746
Thanks for reporting this. We need to look deeper but this could mean that we have a bug on EF and a separate bug on the project templates.

Assuming you took the steps to update the database and ran the code, why wasn't the tableAspNetUserRoles created?

The fact that we are configuring `IdentityUserRole<string>` directly is hard to discover.

[2015-07-30 10:51] ponsaravanan commented on #2746
Sorry for the confusion. I renamed the tables to UserRoles.

My impression was, once tables mapped(renamed, columns redefied) in OnModelCreating, the database will be reflected accordingly. It was not happening that way. So I decided to rename the tables as expected. Now no errors for login and register. Though I need to reflect the changes to the db directly.

[2015-07-30 15:42] heathyates opened #2749 "OnModelCreating ForSqlServer().UseIdentity() is not found in beta 6"
Has `ForSqlServer().Identity()` been depreciated or refactored in beta 6? I have the following line of code that worked in beta 5:

`entity.Property(building => building.BuildingId).ForSqlServer().UseIdentity();`

After some digging, I found something like this in beta 6:

 `entity.Property(building => building.BuildingId).UseSqlServerIdentityColumn();`

Are these two equivalent? Intuitively, I th

[2015-07-30 16:14] bricelam commented on #2749
Yes, the API was flattened a bit.

[2015-07-30 16:16] ErikEJ commented on #2749
If your Entity class is called Building, you do not need any code, as IDENTITY is now the default (as sequence was before)

[2015-07-30 16:17] bricelam commented on #2748
@davidfowl Is this true? You can't load a project/assembly if the current project doesn't list it as a dependency?

[2015-07-30 16:19] heathyates commented on #2749
@ErikEJ @bricelam I will take out this code since it isn't needed. That being said thanks for replying. I hope this helps other folks moving forward. You two are awesome.

[2015-07-30 16:27] rowanmiller commented on #2746
@ponsaravanan if you change the expected shape of the database then you need to use migrations to apply the corresponding changes to the database (or manually changing it works too). Some basic info on that here http://ef.readthedocs.org/en/latest/getting-started/aspnet5.html#create-your-database.

[2015-07-30 16:31] bricelam commented on #2712
I think the only thing I wrote on it was an email to you. :smile: It's a simple matter of taking out [a couple where conditions in Context.cs.t4](https://github.com/bricelam/EntityFramework6/blob/master/src/EFTools/EntityDesign/CodeGeneration/Generators/GeneratedCode/DefaultCSharpContextGenerator.tt#L104) and removing [the code to write annotations in EntityType.cs.t4](https://github.com/bricelam/

[2015-07-30 16:38] bricelam commented on #1084
All the Migrations code is there. You can even manually add it if you want. The `ModelDiffer` is just [waiting for the metadata](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Migrations/Infrastructure/ModelDiffer.cs#L606).

[2015-07-30 17:25] bricelam opened #2750 "RevEng: Change output directory (and namespace)"
In EF6, you could add the model to a specific folder. (E.g. `Models`.) The namespace would also reflect the target directory. (E.g. `WebApplication1.Models`) We should consider adding similar functionality in EF7.

[2015-07-30 17:37] ponsaravanan commented on #2746
Yes it worked, except the AspNetUserRoles Table. However I was using IdentityUserRole  to rename. But actually after using IdentityUserRole<string>. The rename came to effective successfully.

After that I changed the primary key to ID and SQL Identiy also and that too worked.

thank you for your supports.

[2015-07-30 17:37] lajones commented on #2750
+1

[2015-07-30 18:10] divega commented on #1084
Thanks @bricelam. In that case I will close in favor of #333 which is already tracking the general feature.

[2015-07-30 18:10] #1084 closed

[2015-07-30 18:16] divega commented on #333
Our current thinking is that we will support this through a combination of ON DELETE clauses in DDL and delete orphans on `SaveChanges()`.

Migrations already can express the DDL (see #1084) but we need to [set the right things in metadata] (https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Migrations/Infrastructure/ModelDiffer.cs#L606).

[2015-07-30 18:33] rowanmiller commented on #2738
Hey,

It looks like you are trying to dot thru a navigation property, which is not supported. `Property` can only be used to configure properties directly defined on the type (i.e. `Property(post => post.Name)`) and not nested or referenced proeprties (i.e. `Property(post => post.Blog.Url)`).

~Rowan

[2015-07-30 18:33] rowanmiller commented on #2738
If you want to configure `TipoEndereco` then you need to configure it on the entity that it is defined on.

[2015-07-30 18:34] lajones opened #2751 "RevEng: allow the user to select which tables from the database to use"
Reverse-Engineering at the moment assumes that you want to reverse engineer all the tables from the database. Allow the user to specify which tables they want.

[2015-07-30 18:35] rowanmiller commented on #2736
Hey,

This project is for EF7, EF6.x (and EF5) are managed on http://entityframework.codeplex.com/. Given this issue relates to EF5, please open an issue on the CodePlex site. Please be sure to include a sample solution that we can use to see the issue (or steps to setup a solution that hits this issue).

~Rowan

[2015-07-30 18:37] rowanmiller commented on #2735
Hey,

This is fixed in EF7. Unfortunately in EF6.x we don't specify a name for the index and the database is left to pick one. So we don't know what the name is to change it. This has caused a lot of issues and so in EF7 we have been careful to make sure that everything always has a name that we chose.

~Rowan

[2015-07-30 18:37] rowanmiller commented on #2732
Hey,

Could you provide some code that we can use to reproduce the issue so that we can investigate?

~Rowan

[2015-07-30 18:40] rowanmiller commented on #2725
Agreed that this would be good to enable. Generalized the title a bit as an attribute may or may not be the best way to do this. An attribute may be good sugar over a more powerful hook to exclude parts of the model.

Moving to backlog as we will look at this after the first stable release.

[2015-07-30 18:43] lajones commented on #830
Closing this over-arching issue for the whole of RevEng. Now we'll track each individual bug/feature as it comes up. Raised issue #2751 to track ability to select tables.

[2015-07-30 18:43] #830 closed

[2015-07-30 18:47] rowanmiller commented on #2724
Hey,

Generally speaking we split things up based on "this is your code, you are free to edit it" and then the "you shouldn't really mess with this unless you really know what you are doing" stuff goes in the designer file.

The Id of the migration is also included in the filename, so that is where most people see it. You have to be very careful changing it... it's similar to rewriting history in

[2015-07-30 18:48] rowanmiller commented on #2711
@Phasiq any chance you could try this out using `DbConnection` directly to see if it is an EF specific issue, or an issue in SQL Client itself?

[2015-07-30 18:50] rowanmiller commented on #2709
We want to stay consistent with what we have done in the past. It's also not clear that Data is the right pattern. Even discussing within our team there are various opinions on where things should go:
* Everything under Models
* Just CLR classes under Models and then Migrations and DbContext under Data
* etc.

Developers are free to move the migrations to wherever they want and then any subsequent

[2015-07-30 18:51] rowanmiller commented on #2709
Also worth noting that we haven't heard any significant feedback in the past that folks didn't like where we have been putting them

[2015-07-30 18:56] rowanmiller commented on #2652
@unairoldan that exception means that you are trying to attach two entity instances that have the same key to a context. This isn't supported in EF. There can only be one entity instance with a given key per context.

This is occurring because you have added a singleton instance of your repository:
[code]

This means that all requests are sharing a single instance of the repository. You should red

[2015-07-30 19:00] bricelam commented on #2715
The cast error is #2545

[2015-07-30 19:00] ragt1975 commented on #2738
Thanks for the information, I will think of another solution

[2015-07-30 19:02] rowanmiller commented on #2692
I have answered your question on StackOverflow

[2015-07-30 19:02] rowanmiller opened #2752 "Review exception messages to ensure we don't show any instance data"

[2015-07-30 19:29] smitpatel commented on #2715
I investigated deeper in the issue.
It seems that with https://github.com/aspnet/EntityFramework/commit/baba8936d2db859f5f3fc2f95c72b1578b789239#diff-cd68493e81362e882059c78d0aa9ab01R288 commit we changed annotations in snapshot/migration files from string to enum type if any. We have not included using directive for that. This gives the error `The name 'SqlServerIdentityStrategy' does not exist i

[2015-07-30 20:09] afoliaco opened #2754 "ModelBuilder Needs to support DI."
During the creation of dbContext ModelBuilder needs to support injection as a singleton.

[2015-07-30 20:10] SonOfSam commented on #2754
not sure  how to change this from issue to enhancement

[2015-07-30 20:23] thebigb opened #2755 "Latest myget builds pull in System.Runtime for .NET 4.5"
When you create an empty _.NET 4.5_ console application project and attempt to install the package `EntityFramework7.SqlServer`, NuGet will attempt to install the `System.Runtime` package, as shown below. This breaks the build process, and if you attempt to fix it creates a horrible dependency mess. This the case for at least _beta6-13753_ to the latest one (_beta7-13816_).

I believe it's `System

[2015-07-30 20:25] ErikEJ commented on #2755
Looks very similar to https://github.com/aspnet/EntityFramework/issues/2747 - thanks for the detailed investigation

[2015-07-30 20:27] lajones commented on #2740
Fixed by PR https://github.com/aspnet/EntityFramework/pull/2743

[2015-07-30 20:27] #2740 closed

[2015-07-30 20:28] rowanmiller commented on #2754
@SonOfSam I think rather than putting the ModelBuilder in DI you want to construct your model set it on the DbContextOptions that are registered in DI.

[code]

[2015-07-30 20:31] lajones commented on #2713
@ErikEJ - see https://github.com/aspnet/EntityFramework/pull/2743 for the fix for that specific line.

[2015-07-30 20:40] SonOfSam commented on #2754
Hi Ron, Thanks for the reply, by the way huge fan. The problem with that approach is that the application must use a dbcontext in the startup.cs, the goal of the application is to be db agnostic. I have 2 factories one that generate configuration depending on the tenant database selection and another factory that generate a repository that does all the data manipulation. I was able to do this conf

[2015-07-30 21:02] lajones commented on #2721
@natemcmaster - I would wait til https://github.com/aspnet/EntityFramework/pull/2741 is in before you start.

[2015-07-30 22:03] a99cl208 commented on #2732
Hi Rowan,

Sample here : https://onedrive.live.com/redir?resid=D8BBA8E0EB927AC8!61043&authkey=!AG-V67J7aH6kSes&ithint=folder%2ccs

To reproduce the bug :
- Run dnx . ef migration apply on project
- Add an entry on the Customer table in the newly created local db
- Start website and browse for http://localhost:1200/odata/Customers?$select=Id,FirstName

Could you let me know when you've downloader t

[2015-07-30 22:11] #2421 closed

[2015-07-30 22:40] #2545 closed

[2015-07-30 22:40] #2715 closed

[2015-07-30 23:16] #2669 closed

[2015-07-30 23:48] Phasiq commented on #2711
@rowanmiller, thanks for the tip.  As suggested, I bypassed EF and tested with a SqlConnection (DbConnection) object and it fails when using a SQL alias in core50 but succeeds in 4.51 and 4.6. It is most definitely not an EF issue.

Any suggestion on where I should report this behavior? It's quite an interesting gotcha to have SQL aliases work in .NET and fail in .NET core, but I suppose it could

[2015-07-31 00:09] natemcmaster commented on #623
The compiler crashes because of `IEnumerable<EntityLoadInfo>`. Reaching out to the .NET Native team for help.

FYI (team), we *can* use `dynamic` in our code, but when we get ready to do perf work, we should consider alternatives. IL uses reflection to accomplish dynamic which means .NET Native will need to include a bunch of additional reflection info.

[2015-07-31 03:00] bricelam commented on #2711
The `System.Data.SqlClient` code will [ultimately](https://github.com/dotnet/corefx-progress/blob/master/src-diff/README.md) live in the [dotnet/corefx](https://github.com/dotnet/corefx) repo. You could try filing an issue there.

[2015-07-31 05:26] divega commented on #2711
@YoungGah FYI

[2015-07-31 07:13] PrashanthIBM commented on #2636
Hi Arthur,

Can you please explain about Query Cache, it's importance and role in EF7.
I do not have any idea about Query Cache, hence not able to understand its impact.

 It will be grateful, if you can provide any links where i can learn about Query Cache.

Thanks,
Prashanth.

[2015-07-31 08:02] konstantin999 commented on #2266
@rowanmiller TPT inheritance is the reason why we can not use EF in our projects :(  It would be nice if it will included in EF7.
http://data.uservoice.com/forums/72025-entity-framework-feature-suggestions/suggestions/1015337-tpt-table-per-type-inheritance-performance
https://entityframework.codeplex.com/workitem/2332

[2015-07-31 08:14] konstantin999 commented on #2266
For example, in DO this problem was solved by including a TypeId field in all types. http://help.x-tensive.com/Default.aspx##DataObjects.Net%20v3.9/html/P_DataObjects_NET_DataObject_TypeID.htm

[2015-07-31 12:30] PrashanthIBM commented on #2636
@ajcvickers
I tried your suggestion of using Constructor injection to fetch the value of connection string, but it ends in an error.

When debugged found that the value of _dataStoreServices.Value is null.
In EntityFramework.Core : DbContextServices.cs file , in the below line :
** public virtual IDataStoreServices DataStoreServices => _dataStoreServices.Value;**

Exception :
"Object reference not

[2015-07-31 12:51] PrashanthIBM commented on #2636
I am trying to add a row to a table consisting of 2 columns (ID integer ,FNAME varchar(50)) .

App Code
----------------------------------------------------
using (var db = new CustomContext())
           {
                try
                {
                    Customer c1 = new Customer();
                    c1.ID = 17;
                    c1.FNAME = "p17";

                    db.Customers.A

[2015-07-31 14:18] divega commented on #2636
@PrashanthIBM re the query cache: translating LINQ queries into SQL is an expensive operation that involves several phases. We have a query cache that keeps a map between a normalized representation of the input LINQ expressions and the final representation we use to generate the SQL, so that this processing only needs to happen once per distinct query. Assuming that you are going to implement var

[2015-07-31 15:54] Phasiq commented on #2711
Thanks @bricelam , I have posted it in the corefx repo as suggested.

[2015-07-31 16:38] divega commented on #2636
@AndriySvyryd could you look into the error @PrashanthIBM is seeing while @ajcvickers is out?

[2015-07-31 17:14] divega commented on #2711
New issue is https://github.com/dotnet/corefx/issues/2575.

[2015-07-31 17:56] AndriySvyryd commented on #2636
@PrashanthIBM many of the services we register in DI are **scoped** to a specific instance of `DbContext` meaning that if the service is requested for a different `DbContext` it will be a different instance. Other services that depend on scoped services also need to be registered as scoped. When trying to get a scoped service outside of a scope you would get the exception you are seeing, as  _data

[2015-07-31 18:13] rowanmiller commented on #2742
#2258 will be enough for initial release

[2015-07-31 18:37] maumar commented on #2732
@a99cl208 i have downloaded the sample, feel free to take it down

[2015-07-31 19:57] thebigb commented on #2755
Okay, so the issue appears not to be `System.Runtime` being pulled in, but rather a broken dependency chain within the `System.Runtime` dependency.

I also found out that the stable `System.Collections.Immutable` package and its dependencies do not have this issue. So, if its compatible I would advise to select the stable version of `System.Collections.Immutable` as a dependency.

[2015-07-31 20:37] AndriySvyryd opened #2759 "ApiConsistencyTest doesn't check for attributes on parameters of nullable value type"

[2015-07-31 20:47] rowanmiller commented on #2755
@thebigb are you still using the `EntityFramework7.*` packages? We swapped back to ` EntityFramework.*` (dropping the 7) a while back, so just want to make sure you have the latest packages.

[2015-07-31 21:21] thebigb commented on #2755
@rowanmiller I did come across two discussion threads, but apparently skimmed over them too quickly.

Anyway, I just tried the latest `EntityFramework.*` packages on MyGet and they appear to suffer from the same issue.

[2015-07-31 23:05] AndriySvyryd opened #2760 "Perf: Replace IProperty.IsShadowProperty with ClrPropertyInfo"
We can save CPU time by not looking up the PropertyInfo after the model is built.
We can also save memory by not storing the property name and type for non-shadow properties and just getting them from the PropertyInfo

[2015-07-31 23:36] maumar commented on #2730
Fixed in 71fe9fd2fa1081f8b66ef219a1eef93830b9cd54

[2015-07-31 23:36] #2730 closed

[2015-07-31 23:36] maumar commented on #2728
Fixed in 71fe9fd2fa1081f8b66ef219a1eef93830b9cd54

[2015-07-31 23:36] #2728 closed

[2015-08-01 08:06] jasonwilliams200OK commented on #2209
Is this fixed and shipped with beta6 and VS2015 RTM?
In which case should this be closed as resolved?

[2015-08-01 09:41] ErikEJ commented on #2755
Indeed...

[2015-08-01 09:41] jenseralmeida commented on #998
So, I think that will be nice to have this on Entity Framework. Sure we can do this with 'shadow state' but will be nice and a more natural approach if we can just not use and leard a foreign api junto to get a id.

[code]
http://stackoverflow.com/questions/246766/nhibernate-activerecord-any-way-to-map-to-a-foreign-key-column-only

[2015-08-01 10:40] chassq opened #2763 "Beta 5 OnConfiguring not found"
We have EF 7 in a separate dll and are using the OnConfiguring override to set the connection string. This worked fine in beta 4 but when we upgraded to bet 5 the method could no longer be found and resulted in a compile time error. We are using VS 2015 RTM and the dnx, dnu, dnvm contained therein. We have tried to update to EF beta 6 but while our compilation error went away OnConfiguring is stil

[2015-08-01 10:51] Anderman opened #2764 "Old file still exist in source code"
Please remove StoreSqlExecutorSqlServerTest.cs from source code. Not visible in project but still exist in the project

[2015-08-01 10:53] chassq commented on #2763
Ok, we are morons.. We found the issue right after posting the issue. The OnConfiguring parameter typed changed to EntityOptionsBuilder. Sorry to bother!

[2015-08-01 17:18] anfomin opened #2766 "PropertyAttributeConvention does not apply to non-public properties"
Both `PropertyAttributeConvention <T>` and `NavigationAttributeConvention<T>` does not apply to protected and private properties. They use method `Type.GetProperty(name)` to get CLR property which always returns `null` for non-public ones.

[2015-08-01 22:16] Anderman opened #2767 "public virtual SelectExpression PushDownSubquery() forgot predicate"
see Join_customers_orders_with_subquery_predicate_with_take
That create this SQL statement
[code]
Instead of
[code]

[2015-08-01 23:01] biqas commented on #2726
Hi,

maybe this article is also giving an alternative view on the topic

http://blog.brentmckendrick.com/introducing-graphdiff-for-entity-framework-code-first-allowing-automated-updates-of-a-graph-of-detached-entities/

[2015-08-02 01:44] divega commented on #2726
@biqas indeed, I think it is related, even if Add() might not be a general purpose method for disconnected graphs.

The `OwnedCollection()`, `AssociatedCollection()`, `AssociatedEntity()`, etc.  methods in GraphDiff outline the shape of the aggregate on top of the model. Once you have that information you can make better decisions about how states should spread through which relationships as I men

[2015-08-02 11:57] Anderman commented on #2767
When runnig test, I get fails because the text that's generated contains \r\n and the expexted only \n.
I have replaced all Sql with Sql.Replace("\r",''") to pass all test but there must be a better way to do this.

Also I can't buld the last DEV version. Is there a way I can see the last succesfull build like the MVC project [history mvc](https://ci.appveyor.com/project/aspnetci/mvc/history)

[2015-08-02 12:29] ErikEJ commented on #2767
I can build the latest dev, what issues do you see?
The linefeed issue is due to your git configuration, change and get files again.

[2015-08-03 07:22] Anderman commented on #2767
@ErikEJ Thx. I had the line ending problem in the delivery zip file of the Beta 6 pacakge.

The error is
![image](https://cloud.githubusercontent.com/assets/1858745/9032640/cf924d38-39c0-11e5-9687-3d3b4fc6c102.png)

[code]

I think there are problems with nuget. Yesterday and today i got connection errors/ file not found

[2015-08-03 07:49] Anderman commented on #2767
I have clear the nuget cache and get these errors again

![image](https://cloud.githubusercontent.com/assets/1858745/9033115/e0658ebe-39c4-11e5-83dd-597d0187c5da.png)

[2015-08-03 08:00] ErikEJ commented on #2767
Did you run

   build initialize

[2015-08-03 08:55] Anderman commented on #2767
Yep that works.
How do I run all test.

The error I got is in building
`Building EntityFramework.Commands for DNX,Version=v4.5.1` and
`Building EntityFramework.Commands for DNXCore,Version=v5.0`

But 4.5 has no error
`Building EntityFramework.Commands for .NETFramework,Version=v4.5`

[2015-08-03 09:34] PrashanthIBM commented on #2636
@divega , thanks for the explanation of Query Cache .

As far my knowledge, i believe that i will be using the connection info only while trying to translate the query .

Below are the places where i will be using the connection info :

For Update Query Tree :
https://github.com/aspnet/EntityFramework/blob/7.0.0-beta4/src/EntityFramework.Relational/Update/ReaderModificationCommandBatch.cs

[2015-08-03 09:37] weitzhandler commented on #2506
@divega @rowanmiller Is the pluralization service still provided with DNX/Core as part of an external package or elsewhere?

[2015-08-03 09:58] johncollinson2001 opened #2769 "Sequence contains more than one element - 2 joins between entities using stored procedure mappings"
Hi,

I get the error "Sequence contains more than one element" when joining the same 2 entities twice and using MapToStoredProcedures(). See the code below. If you remove the MapToStoredProcedure() calls in the configuration classes, then the code runs.

[code]

A first chance exception of type 'System.InvalidOperationException' occurred in EntityFramework.dll
System.Transactions Critical: 0 : <Tr

[2015-08-03 10:56] ErikEJ commented on #2767
I am not sure that EF.Commands build properly under those platforms - @lajones ?

[2015-08-03 10:59] ErikEJ commented on #2769
That looks like EF6, this is the EF7 site

[2015-08-03 11:03] maartenba commented on #1950
Similar issue: https://github.com/NuGet/NuGetGallery/issues/2592

[2015-08-03 11:11] johncollinson2001 commented on #2769
The code is using EF6.

However not sure where this site states it's EF7 only?!

Either way, an issue that needs to be looked at.

[2015-08-03 11:18] johncollinson2001 commented on #2769
Re-raised on EF6 codeplex site.

[2015-08-03 11:37] ErikEJ opened #2770 "Avoid support issues for EF6 here"
By pointing users to the EF6 site, similar to what is being done at the top of the page here: http://entityframework.codeplex.com/

[2015-08-03 15:16] ErikEJ commented on #2764
I think they actually should be added to the csproj...

[2015-08-03 16:33] rowanmiller commented on #2506
@weitzhandler no, the pluralization service was just an EF component and it's not something we are pulling forwards. You could always copy the code from the EF6 code base if you want since the license is very permissive.

[2015-08-03 16:39] natemcmaster commented on #2708
A preview package for 4.2.0 is available for OS X. See this post: [Mono for El Capitan (OS X 10.11) preview package now available](http://mono.1490590.n4.nabble.com/Mono-for-El-Capitan-OS-X-10-11-preview-package-now-available-td4666401.html).

Note that there are breaking changes on OSX due to El Capitan's new feature that restricts access to `/usr/`. Read the post for details.

[2015-08-03 16:41] rowanmiller commented on #2209
@jasonwilliams200OK yes, this has shipped. Closing it out now.

[2015-08-03 16:41] #2209 closed

[2015-08-03 16:52] jkicha opened #2772 "EF 7 beta 5 with ASP.NET 5 - dnx . ef - error Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1'"
I am running ASP.NET 5 default project template with EF 7 beta 5 in Windows 10 preview. Inside Visual Studio, the project build is fine without any errors.

When running EF migration using dnx, it gives this error.

[code]

dun restore command works fine without any error.

[code]

Thanks for the help.

[2015-08-03 16:56] rowanmiller commented on #2770
Good point, done https://github.com/aspnet/EntityFramework/commit/67e7d672801d688b5cd2fe1550a2eddcdf769e67

[2015-08-03 17:04] rowanmiller commented on #2718
@RickStrahl another option is just to make Startup.Configuration static (I did this in an app where I wanted to be able to access config without having to get it from DI). It's always initialized as part of startup, so it should always be available when you need it.

[2015-08-03 17:44] RickStrahl commented on #2718
The problem is you have to do that at the Application level not the component level. My thinking here is how to get at configuration from within a custom, generic component that might be used by many different applications.

[2015-08-03 17:49] RickStrahl commented on #2718
@ajcvickers - It works for me in Beta 5. If I do this ins using ide of a controller I get a configured instance:

[code]

So somehow EF is pulling the configuration information out of the service provider instance.

[2015-08-03 18:27] natemcmaster commented on #623
Unless I am mistaken, it appears we will also need some of our dependencies to add [.Net Native runtime directives](https://msdn.microsoft.com/en-us/library/dn600639(v=vs.110).aspx) to their projects.

Libraries that may need to add directives.

 - https://github.com/aspnet/DependencyInjection/issues/272
 - Remotion.Linq
 - Ix-Async

*Note here: current debugging tools for .NET Native don't make i

[2015-08-03 18:44] nicbourgoin commented on #2274
Can we reopen this? The repro works in beta6. However, if field1's Placeholder is set to null, an exception is thrown. This only happens when the first record has a null, putting field1's placeholder to mls2 and field2's placeholder to null will NOT cause an exception.

[2015-08-03 22:37] rustd opened #2775 "Decide whether to revert relationship API changes"
These names are very confusing. This is what we have in Identity https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity.EntityFramework/IdentityDbContext.cs#L56

We used to *WithOne() in EF6 which was better

[2015-08-04 10:22] Aristarh71 commented on #245
Where I can find any example of using stored procedures with client composition on  DbSet<T> in entity framework 7 context?

[2015-08-04 16:34] leus commented on #365
Don't know if this is proper protocol, but I'd like hierarchyid gets some love too - too many times in my career I had to create tables with "parent_id" and stupidly complex recursive queries just to draw a tree (and just now I'm doing it again)

[2015-08-04 16:42] rowanmiller commented on #2716
Possibly related to https://github.com/aspnet/Announcements/issues/44

Are you only seeing this issue with EF APIs? Or is IntelliSense missing for other libraries too?

[2015-08-04 16:45] rowanmiller commented on #2707
Dupe of #325 - the query is accessing a navigation property (`...Authors = [a].Authors...`)

[2015-08-04 16:46] rowanmiller commented on #2694
Renames have all made their way through, and we have deleted the EntityFramework7.* packages from the feed.

Can you confirm if you are still seeing this with the latest nightly build?

[2015-08-04 18:05] rowanmiller commented on #2767
Merged

[2015-08-04 18:05] #2767 closed

[2015-08-04 18:07] rowanmiller commented on #2766
@smitpatel we don't map privates by default, but we should respect annotations on them once they are included

[2015-08-04 18:16] mikary commented on #245
There are a few examples in the functional tests [FromSqlSprocQueryTestBase.cs](https://github.com/aspnet/EntityFramework/blob/dev/test/EntityFramework.Relational.FunctionalTests/FromSqlSprocQueryTestBase.cs).

The general pattern is to call the `FromSql` extension with the stored procedure command text and compose on the result:
`myContext.Products.FromSql("[dbo].[Ten Most Expensive Products]").W

[2015-08-04 19:08] divega commented on #2726
Updated write up to reflect some more thinking and feedback from @rowanmiller.

[2015-08-04 21:33] bricelam commented on #2680
Found it. This is an issue with the [Microsoft.Framework.Logging package](https://github.com/aspnet/Logging/blob/release/src/Microsoft.Framework.Logging/project.json#L20).

[2015-08-04 22:09] bricelam commented on #2755
Some of the .NET Core packages RTMed on July 29th. We're currently in the process of updating our dependencies. I'll see if this still repros once that work is in.

[2015-08-04 23:06] natemcmaster opened #2778 "Specified cast is not valid: GetFieldValue<string>"
When retrieving a string from a NULL string column, `GetFieldValue<string>` should return null. Instead it throws.

[2015-08-04 23:07] natemcmaster commented on #2778
Oops, wrong repo. :dunce_cap:

[2015-08-04 23:22] ilmax commented on #2726
Working with disconnected graph in previous version of EF was quite challenging, so for vNext I would like to see 2 different api, one for graphs, and another one for signle entities. Please try to avoid "magic" and instead give us two levels of api.

Regards, Max

[2015-08-04 23:26] divega commented on #2726
From this statement I assume you definitively want one of the two levels of APIs to add single object without side effects (which is covered in our thinking). Do you have any feedback on what the second level of API should do?

[2015-08-04 23:37] ilmax commented on #2726
You're right! For the second level api (the graph one) It's fine for me that Add keep marking all objects as added, the unfortunate part (at lest IMHO) is with update and delete, in those cases it's quite difficult to make the right choice without knowing the aggregate boundaries, so maybe we could just avoid this api (update/delete) for graphs.

Regards, Max.

[2015-08-04 23:41] divega commented on #2726
Thanks for the feedback.

FWIW, "delete for graphs", e.g. cascade delete and deleted orphans behaviors after a call to `Remove()` are a quite desirable features we have all the intention to support for EF7 RTM. See #333.

[2015-08-04 23:54] NoralK commented on #2716
I do not believe so - I see the initial Intellisense as I type but as soon as I hit the "." and any "." after there is no Intellisense anywhere until I hit ctrl-space.  I am thinking that this might be a Visual Studio Code issue.  What are your thoughts?  I am thinking close the ticket.

BTW - I am running beta7-12302 and the same is happening.

[2015-08-05 00:24] seriouz opened #2779 "CodeFirst: Set column collation"
It would be nice to set a collation for a column with the code-first approach:
Change the std **SQL_Latin1_General_CP1_CI_AS** to **SQL_Latin1_General_CP1_CS_AS**

[2015-08-05 01:24] issafram commented on #247
For TPH, allow us to pick a custom Discriminator.  There should be no reason to store a string field for each row.  That is my biggest issue with TPH.

[2015-08-05 03:55] anpete commented on #247
@issafram In EF7 you can pick any property for the discriminator.

[2015-08-05 04:53] issafram commented on #247
@anpete will it support using enums for the discriminator?

[2015-08-05 04:57] kant2002 commented on #624
Would be good to provide async version of #1863 (ExecuteSqlCommandAsync) as it was earlier. It's strange to have all API's Async but for this one only sync version.

[2015-08-05 16:17] anpete commented on #247
@issafram Yes.

[2015-08-05 18:21] rowanmiller commented on #2716
Hey,

Yes I agree, this doesn't appear to be an EF issue. We suspect it is a result of the change discussed in https://github.com/aspnet/Announcements/issues/44. I guess VS Code probably needs to react to this, so opening an issue in [their tracker](https://code.visualstudio.com/Issues/List) is probably the way to go.

~Rowan

[2015-08-05 18:28] rowanmiller commented on #624
Clearing milestone so that we can discuss in triage. I think we have done almost everything here though we should discuss the async request from @kant2002

[2015-08-05 18:48] rowanmiller commented on #2754
@SonOfSam can you just register a factory in DI that is responsible for creating a context based on which database you want to connect to? You can create a DbContextOptions instance (with the connection string and model) externally and pass it into the context, so you can use the same context type with a different connection and different mapping etc. for each database. Components would then get t

[2015-08-05 21:37] divega commented on #624
@rowanmiller agreed. The lack of async ExecuteSqlCommand is an oversight (thanks @kant2002!). I will just re-open #1863 and assign it to @mikary to track that. We can probably just close this one now.

[2015-08-05 21:38] divega commented on #1863
We missed creating the async version of ExecuteSqlCommand. Reopening to track that.

[2015-08-05 23:28] dmitry-a-morozov opened #2782 "Building my own scaffolding"
I want to build my own scaffolding (classes generation based on database schema).
My understanding it can be done in provider independent way in EF7 because each provider supports set of meta-data interfaces/methods.
For starters explaining how to do it for Sql Server is good enough.

Thanks.

[2015-08-06 03:22] kennywangjin opened #2783 "ManyToMany Relation Builder:"
currently there is no many to many relationship configuration.
It is needed for many cases.

[2015-08-06 06:48] ryanwinter opened #2784 "Add-Migration fails on a UWP class library"
I moved my model to a class library (along with the context). When I try and run the command:

    Add-Migration MyFirstMigration -project Model

I get the following error:

    Add-Migration : Exception calling "CreateInstanceAndUnwrap" with "8" argument(s): "Could not load file or assembly 'Microsoft.Framework.Logging.Abstractions, Version=1.0.0.0, Culture=neutral,
    PublicKeyToken=null' or on

[2015-08-06 09:00] gujx opened #2785 "test"
test

[2015-08-06 09:49] lovemory commented on #2156
I want to try Constructor injection as divega said:

 // Constructor injection
  MyController(MyDbContext context, IServiceProvider serviceProvider)
  {
    _context1 = context;
    _serviceProvider = serviceProvider;
      ...
  }

tthis is my code:
    public class ImageStoreController : Controller
    {
        private static bool _databaseChecked;

        //public MyDBContextcs context { get;

[2015-08-06 12:00] SonOfSam commented on #2754
Hi @rowanmiller I'm going to create a sample DB Agnostic using a blog models, once I'm I'm to try to apply your suggestion.  Thanks your help.

[2015-08-06 16:02] natemcmaster commented on #2784
(obvious question) Do you have "Microsoft.Framework.Logging.Abstractions" installed in this new project?

[2015-08-06 16:09] emrs-jm commented on #2784
I am having a similar issue.  The difference is that I get the same error with a different exception listed:
[code]
The migration system was creating migrations in beta5 and before with my context in a project containing my context alone.  I initially thought that I had a dangling reference somewhere to beta 5, but that does not appear to be the case.  The folders inside my packages folder for the

[2015-08-06 16:28] unairoldan opened #2786 "EF7 beta6: ReadAsync error on Update"
I am creating an API using ASP.NET5 and Entity Framework 7.0.0-beta 6, and when I try to execute an update, I get this Exception:

The update operation finish correctly, and the changes are persisted to the database, but I get this exception.

My code is really simple, and I do not try to read anything after the update operation:

[code]

And this is the Stacktrace:

[code]

**Does anyone know how

[2015-08-06 16:28] rowanmiller commented on #2754
@SonOfSam Sounds good. I'm going to close this issue out but feel free to reopen it if you have further questions/issues once you try it out.

[2015-08-06 16:58] bricelam commented on #2786
Possibly fixed by Reactive-Extensions/Rx.NET#117

[2015-08-06 17:35] ryanwinter commented on #2784
I spent about an hour trying to figure this out. The package it is complaining about is pulled in as a dependency from EntityFramework.Sqlite. I actually manually added this to both projects and it still didnt work.

This was a brand new project that I created with a simple model. When I move the context to the main project everything works fine.

[2015-08-06 17:55] natemcmaster commented on #2784
Just by inspection, I'm not sure what is wrong. Can you create a project that reproduces this issue? Make sure to add the project.lock.json file so we can see exactly which packages are being used.

[2015-08-06 18:26] MrJul commented on #2786
Try to change your controller method to return `Task` instead of `void`, otherwise the action won't be awaited by the ASP.NET pipeline. Since your components are probably scoped to the current request, they're disposed before the read can completed.

[2015-08-06 18:42] emrs-jm commented on #2784
I found what my issue was.  Embedded in my project file it was referencing the old beta5 build.  I had to remove it from a text editor since NuGet and Visual Studio weren't catching it.

You may want to double check the packages folder and make sure that the Microsoft.Framework.Logging.Abstractions folder is present with it's data for the beta version you are using.

[2015-08-07 03:34] Natsui31 opened #2788 "EF7-beta6 : "Superkey" produces a migration issue"
Hello,

I'm having an issue with superkeys (Primary Keys / Alternate Keys)

http://pastebin.com/zsdX6wmV

The code above is correctly detected by migration change but when he create "DbContextModelSnapshot", the snapshot is wrong and cause outdated migration

[2015-08-07 05:48] ryanwinter commented on #2784
I uploaded a project that was causing my grief:
http://1drv.ms/1K6u2Gi

[2015-08-07 07:51] danielcweber opened #2789 "Key constraint (specifically, max length of a string key) should be mirrored by foreign key."
Suppose you have an entity "A" with a string field "Id" as key, which is further configured to be of a maximum length of 32 charachters. When an entity "B" defines a navigation to "A" through a property named "Value", the max length constraint is not copied. At least for SQL-server, this leads to an error:

Column 'A.Id' is not the same length or scale as referencing column 'B.ValueId' in foreign

[2015-08-07 12:33] unairoldan commented on #2786
Solved! Thanks!

[2015-08-07 14:05] XcoderTeam commented on #2357
What is the current workaround, after I upgrade from beta5 to beta6, I unable to do migration. on the libraries that not having "Startup" class.

[2015-08-07 15:59] natemcmaster commented on #2784
Confirmed bug.

[2015-08-07 16:24] bricelam opened #2791 "Design meeting notes - August 6, 2015"
# Default Query Tracking Behavior

We attempted to answer the question: "Is it still appropriate to track query results by default, given that in many applications SaveChanges will never be called on the context. E.g. A GET action in a web app."

- We noted that tracking query results significantly reduces query efficiency. And,
- We agreed that it is likely that customers are often tracking query

[2015-08-07 17:13] ErikEJ commented on #2747
@bricelam Any updates, this issue sadly Blocks me from moving forward with beta 7 dailies since middle of july..

[2015-08-07 17:26] lajones commented on #2465
Fixed with commit 5c30958

[2015-08-07 17:27] lajones commented on #2713
Fixed with commit 5c30958

[2015-08-07 17:27] #2713 closed

[2015-08-07 17:35] lajones commented on #2465
@ErikEJ Hi Erik. The changes are now in. I'll write it up but broadly you should only have to implement the ConstructRelationalModel() method in your provider and override the ExtensionsProvider getter now.

See https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering/SqlServerMetadataModelProvider.cs for an example.

[2015-08-07 17:39] ErikEJ commented on #2465
Thanks. Still blocked on https://github.com/aspnet/EntityFramework/issues/2747 and also need to implement MetaData (i could avoid that in beta 6, but not any longer, but glad I postponed)

[2015-08-07 17:47] rowanmiller commented on #2775
Given the direction we have headed with other APIs we should consider reverting back to old API names (or similar to what we had).

[2015-08-07 17:48] ErikEJ opened #2795 "Logging to Console"
Is SQL statement logging to console available in the current api, and if yes, do yiu have a sample?

[2015-08-07 17:50] rowanmiller commented on #2772
Hey,

There doesn't appear to be anything EF specific here, it seems to be something in DNX that is not resolving dependencies. Any chance you could share your project so that we can verify?

~Rowan

[2015-08-07 17:51] rowanmiller commented on #2769
Closing out since this is EF6. EF6 issue is at https://entityframework.codeplex.com/workitem/2791

[2015-08-07 17:53] rowanmiller commented on #2759
This shouldn't be required, value types are either explicitly required or non-required based on whether they are nullable or not. We only require attributes for reference types as there is no way to require a value.

@AndriySvyryd did you hit a scenario where having the attributes would help (resharper tooling etc.)?

[2015-08-07 18:05] bitcrazed opened #2796 "EF7 beta6 missing from myget release source?"
Might me misunderstanding something here, but is the EF 7 Beta6 package missing from the [MyGet release source](http://myget.org/gallery/aspnetrelease)?
![image](https://cloud.githubusercontent.com/assets/961950/9142393/41995044-3cf4-11e5-97d4-bc5f73754803.png)

[2015-08-07 18:11] AndriySvyryd commented on #2759
Perhaps we should check that the are no attributes then. I just found some that had it and some that didn't.

[2015-08-07 18:13] rowanmiller commented on #2789
@danielcweber is the FK property part of your class, or is it a shadow state property that EF introduced based on the relationship?

[2015-08-07 18:16] ErikEJ commented on #2796
The EntityFramework meta package has been removed, use for ex EF.SqlServer or EF.Relational

[2015-08-07 18:17] rowanmiller commented on #2694
Closing out as we think this is resolved now that the renames have propagated and old packages removed from feed. Feel free to reopen if not.

[2015-08-07 18:22] anpete commented on #2759
@AndriySvyryd Good idea.

[2015-08-07 18:42] bitcrazed commented on #2796
Thanks, but shouldn't the meta package be removed from MyGet?

[2015-08-07 19:53] rowanmiller commented on #2796
That's a good question, I'm not sure if we have left all the previous version of the packages there (the meta package did ship for Beta 5).

cc @Eilon to see what he thinks.

[2015-08-07 20:24] #2680 closed

[2015-08-07 20:36] Eilon commented on #2796
No one should ever use the `aspnetrelease` source anyway, outside of the feature team working on stabilization. If you see anything pointing at it, we should fix it to point to a correct feed.

We don't generally go back and purge those feeds, but they do occasionally get purged for other maintenance purposes.

[2015-08-07 21:20] rowanmiller commented on #2782
Here is how we do it for SQL Server :smile:  https://github.com/aspnet/EntityFramework/tree/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering

In all seriousness, we haven't documented any of this yet since things are very much influx and anything we write will be out of date in a matter of days (or hours). We will have docs when things stabilize, which they are starting to now, but in t

[2015-08-07 21:22] rowanmiller commented on #2779
Hey,

We discussed and concluded that setting different collations per column isn't a very common requirement and it's probably not something we would make first class in EF. This would be a good candidate for using annotations to define additional metadata and then extending our SQL generators to process those and specify collation.

~Rowan

[2015-08-07 21:30] dmitry-a-morozov commented on #2782
Thanks !
If you're curios I'm trying to build F# type provider for EF7.
Kinda vNext of https://msdn.microsoft.com/en-us/library/Hh361035.aspx
I understand very well how to build scaffolding using ADO.NET but
to make it work on CoreCLR in provider independent completely diff story.

P.S.
very nice set of videos on C9 !

[2015-08-07 22:00] bricelam commented on #2070
It looks like we ignored `IDENTITY` during alter column operations in EF6. For now, we'll do the same on EF7. With #329 and #1911, we could do a bit more.

[2015-08-07 22:07] bricelam commented on #329
Another scenario to consider when implementing this is changing `IDENTITY` on SQL Server columns. (See #2100)

[2015-08-07 22:07] bricelam commented on #2100
Enabling this scenario, would require a table rebuild (issue #329). Once #2070 is fixed, EF7 behavior will match EF6. I'm closing this for now with a note on #329 to reconsider it in the future.

[2015-08-07 22:09] #1345 closed

[2015-08-07 22:32] natemcmaster commented on #1334
@divega
![ef-tc-1](https://cloud.githubusercontent.com/assets/2696087/9147267/88ee945c-3d19-11e5-8e86-137f93546f8f.png)

[2015-08-07 22:34] natemcmaster commented on #1334
...not that total CI time is the most empirically sound evidence, but yeah, it's getting better.

[2015-08-07 22:52] dmitry-a-morozov commented on #2782
@rowanmiller Is there alternative in EF7 to EF6 System.Data.Entity.Design.PluralizationService class?

[2015-08-07 23:08] natemcmaster commented on #2782
We removed the pluralizing service (see https://github.com/aspnet/EntityFramework/issues/2506). There is always [PluralizationService in full .NET](https://github.com/Microsoft/referencesource/tree/master/System.Data.Entity.Design/System/Data/Entity/Design/PluralizationService), but I don't think there is a .NET Core port.

[2015-08-08 04:48] ryanwinter commented on #2784
Awesome, I'm not going insane.

[2015-08-08 08:32] ErikEJ commented on #2680
:smile:  Fixed now, thanks a lot!

[2015-08-08 11:21] divega commented on #1334
Thanks for the beautiful chart @natemcmaster! :smile: Nice to see some numbers going in the right direction. BTW, I bet https://github.com/aspnet/EntityFramework/pull/2745 is one of the other dots where the line goes down.

[2015-08-08 11:26] divega commented on #1334
Also, let's keep this item open. @ajcvickers can close it when he decides he has done enough.

[2015-08-08 13:17] ghiloufi commented on #2256
DNX . ef Migration add Unable to load file or assembly Microsoft.Framework.Configuration.Json #814
i need help

[2015-08-08 17:17] bricelam commented on #2784
I got to the bottom of this. NuGet 3 no longer copies package assemblies to the output folder for class library projects by default. It's related to NuGet/Home#1084. We're working with the team to figure out a solution to this.

[2015-08-08 17:32] bricelam commented on #2755
It looks like one of our dependencies now requires a minimum of .NET 4.6, but otherwise this issue appears to be resolved. Can you confirm?

[2015-08-08 18:13] saxx opened #2801 "Unable to apply migration: [...]the entity type is defined in shadow state[...]"
Unfortunately I have no clue what EF is trying to tell me with the exception. This is what I did:
1. Upgraded my EF7-beta4 project to beta6
2. Added a simple `string` property to an entity
3. Created a migration via `dnx . ef migration add`
4. Manually cleaned up the migrations `Up` and `Down` methods, because the automatic scaffolding tried to (re-)create all tables etc.
5. Tried to apply the new

[2015-08-08 19:18] thebigb commented on #2755
The packages now install without failure, but I immediately get the following exception while running:

`Could not load file or assembly 'System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context. (Exception from HRESULT: 0

[2015-08-08 20:10] ErikEJ commented on #2755
Nope, when using the latest daily, I still get references to System.Runtime in my test project, and test discovery is completely broken. Will check if removing app.config entries help. But should System.Runtime be installed as a nuget package at all - or is that expected?

[2015-08-08 23:27] JimLynn commented on #2772
I'm seeing the same issue - Visual Studio 2015 RTM with beta5. Here's a default app with no other changes, and if you try dnx . ef you get the same error. https://github.com/JimLynn/DataTestApp

[2015-08-09 00:38] JimLynn commented on #2772
After more digging, and testing, I've discovered the reason it's not working.

I got the error when I was in the root directory of my project. If I run the command in the src/ProjectName directory the command works as expected.

So a simple answer to what looks like a horrendously complex error.

[2015-08-09 07:23] ErikEJ commented on #2755
@bricelam On my 4.5 product project when updating EntityFramework.Relational I get:
1: A app.config with a bogus runtime directive (re System.RunTime)
2: A refrence to System.RunTime
- removing these 2 artifacts unblocks me on the product project.

[2015-08-09 07:27] ErikEJ commented on #2747
Leaving https://github.com/aspnet/EntityFramework/issues/2755 open with various issues, and closing this, as I am now unblocked on actually running the tests with variuos workarounds

[2015-08-09 07:27] #2747 closed

[2015-08-09 09:58] ChristineBoersen commented on #1071
A workaround for now is during the OnModelCreating event of your Context add the following to manually change the column length to 450 characters versus letting the CLR make them nvarchar(max), you will get an nvarchar(450).

Give that your POCO is named YOUROBJECTNAME and that your property is named YOURFIELDNAME and is defined as a string

            modelBuilder.Entity<YOUROBJECTNAME>(entity =

[2015-08-09 10:14] ChristineBoersen opened #2802 "SqlServer: Error when applying a second migration - Issue with default values on bit columns"
There's 2 bugs going on here...

Given that I have
-- done an initial migration
-- applied the migration to the database
-- That I have made no code changes between the initial and second migration creation, hence I should have ZERO changes to apply (bug 1)
-- Have made a second migration
-- Attempted to apply it.(bug 2)

At this point, the update fails on all of the bit columns in the database (t

[2015-08-09 10:21] ChristineBoersen commented on #2802
Also the same migration.AlterColumn statement (bug 3) is listed identically in both the UP and DOWN portion of the second migration as well.

[2015-08-09 10:39] ChristineBoersen commented on #2802
OK looking at some of the latest checkins, this may be resolved with Fixes #1345

[2015-08-09 14:48] ghost opened #2803 "[Question] SET IDENTITY_INSERT"
Hi

I migrate my source using EF7 beta5 to beta6, an early code.

conn.Open()
cmd.CommandText = "SET IDENTITY_INSERT dbo.Vendor ON";
cmd.ExecuteScalar();

//Entity
db.Vendors.Add(vendor);
db.SaveChanges();

cmd.CommandText = "SET IDENTITY_INSERT dbo.Vendor OFF";
cmd.ExecuteScalar();

using beta5 is work fine, after I upgrade to beta6 I encounter an error message, during perform insert entity.

"Ca

[2015-08-09 16:48] XiaoweiJia opened #2804 "Where are Database initialisers like DropCreateDatabaseAlways?"
I cannot find the database initialisers such as DropCreateDatabaseAlways?
The Database.SetInitializer seems to be removed as well. What's the best way to initialise database?
Thanks

[2015-08-09 17:56] ChristineBoersen commented on #2272
Just to add to this, adding the HasColumnOrder attribute isn't currently respected either and instead the columns are added in alphabetical order.

Is there a way to work around this incomplete feature in beta 6  ?

[2015-08-09 18:09] ErikEJ commented on #2272
@ChristineBoersen Why do you need to manage the colum order?

[2015-08-09 18:19] ChristineBoersen commented on #2272
There are times you need to write code at the database level and column order can become more important (inserting into a table without full column specs in a trigger for example). On a wide table, it can save time and since columns in sql databases don’t change order once written easily, is usually fairly safe.

In addition, I prefer to look at the model and data in the same column order 99% of t

[2015-08-10 05:19] mmillican opened #2805 "EntityTypeConfiguration<T> (or similar)"
Edited by @rowanmiller Oct-13-2016

`EntityTypeConfiguration<T>` is a feature in EF6.x that allows you to encapsulate the configuration for an entity type in a class.

Here is some code you can use to enable the pattern until we add support in EF Core.

[code]

And here is a sample application that uses these types:

[code]

[2015-08-10 06:32] ErikEJ commented on #2465
I see the Templates are now shared, and they have

     options.UseSqlServer(@Model.Helper.VerbatimStringLiteral(Model.ConnectionString));

hardcoded....

[2015-08-10 07:32] tstar commented on #2117
We must reopen this issue, because from version 7.0.0-beta7-13905 I had a problem again as described at the beginning of this topic. Now, there is no exception, but I have Null, if the primary key column is set to 0 without any exceptions.

[2015-08-10 09:25] lovemory opened #2806 "dnx . ef migration add MyFirstMigration, error"
I Learn EF7 from the url:
http://ef.readthedocs.org/en/latest/getting-started/aspnet5.html

when i run the commonad :dnx . ef migration add MyFirstMigration
it output errors,   as below:

[code]

[2015-08-10 12:28] danielcweber commented on #2789
It is a shadow state property introduced by EF. I avoid having explicit foreign key properties in my classes if possible.

[2015-08-10 15:47] BrennanConroy commented on #2806
In the error message it says:
```C:\Users\Administrator\Documents\Visual Studio 2015\Projects\WebApplication3\src\WebApplication3\project.lock.json(1,0): error: The expected lock file doesn't exist. Please run "dnu restore" to generate a new lock file.```

Did you try this?

[2015-08-10 16:28] bricelam commented on #2801
Migrations don't upgrade very well between pre-releases. There's been a lot of code churn in that area recently. Try deleting all your migrations, the model snapshot, and your database, then add a new migration and apply.

[2015-08-10 16:32] bricelam commented on #2802
Yes, "bug 2" should be fixed by #1345. Bugs 1 & 3 most likely have the same root cause. Could you share your model (DbContext and entity type classes)?

[2015-08-10 16:39] NoralK opened #2807 "Scaffolding issue with Beta7"
Is the Scaffolding repository still the place to post issues EF7 Scaffolding?  I open a ticket almost a week ago and no one has commented - https://github.com/aspnet/Scaffolding/issues/106.

Thank you

[2015-08-10 16:41] lajones commented on #2465
@ErikEJ  - Re 1 - my bad - I missed that. I'm re-opening to address that. Re 3 in SqlServerDbContextGeneratorHelper I override AddPropertyFacetsConfiguration to add the ValueGeneratedNever() API because the KeyConvention will automatically assume ValueGeneratedOnAdd() if you have a single, integer primary key property - see the comments lines 56-58. I'm not sure if that applies for you. If you've

[2015-08-10 16:51] ErikEJ commented on #2465
Thanks. Re 1: no worries, it is a Work in Progress!

Re 3: I have the same test schema as you do, and that table does have a single int primary identity key. Trying to figure out if I have a bug somewhere. And yes, I just copied the code, assuming it would apply fine to sqlce

[2015-08-10 17:42] ErikEJ commented on #2465
Re 3: had a closer look at the SQL Server schema. I think you will encounter the same issue with the SQL Server provider, actually. It looks like you are missing test coverage of a table with a valid IDENTITY column!

My tools changed the column type from byte to int due to it knowing that only int and bigint are valid datatypes for IDENTITY columns with SQLCE.

[2015-08-10 17:56] saxx commented on #2801
Thanks! Not really happy with that, because I need to drop my existing database and create a new one (and move all existing data to the new one), but I guess that comes with using a preview :)
Creating a new database works fine, by the way.

[2015-08-10 18:14] toddtsic opened #2809 "Left Join Woes"
Using EnitityFrameWork 7.0.0-beta5:

Struggling to get much needed functionality of a left join.  I am doing null checking on output.  Query works fine if not referencing data from left-joined table.

Query:

    var x =
    (
        from t in db.teams
        join c in db.Customers on t.customerID equals c.customerID into c1
        from c2 in c1.DefaultIfEmpty()
        where t.jobID == cd.JobP

[2015-08-10 19:49] XiaoweiJia opened #2810 "Error when specifying AttachDbFileName in connection string"
_Edit: look at https://github.com/aspnet/EntityFramework/issues/2810#issuecomment-243402108 for details on the bug._

When specifying AttachDbFileName in connection string, the following error appear: Unable to Attach database file as database xxxxxxx.
Please advise.

Thanks

[2015-08-10 20:33] maumar commented on #2809
duplicate of https://github.com/aspnet/EntityFramework/issues/2310

[2015-08-10 20:35] toddtsic commented on #2809
Sorry if I'm missing something (please point if so), but I am null checking... (that is the basis of the closing of the related #2310)

T

[2015-08-10 20:46] maumar commented on #2809
GroupJoin + DefaultIfEmpty -> LeftOuterJoin translation is not supported currently and the issues I linked touch the same space. Specifics might be different, but the underlying issue is the same.

[2015-08-10 20:46] maumar commented on #2809
I will reopen the issue, so that we keep track of this specific scenario - make sure it works when the LOJ translation is implemented

[2015-08-10 20:50] toddtsic commented on #2809
Oh no, that can be a problem (not supported).  I'm bending over backwards to make do with given functionality (esp lack of spocs, to push an app to market using these tools).  Do I have any alternatives for a left join short of a subquery (very inefficient)?

T

[2015-08-10 20:56] maumar commented on #2809
You can try latest nightly build. Basic GroupJoin translation support has been added in 7fd078577492601e3671663f06747ae66b70b969

[2015-08-10 21:04] toddtsic commented on #2809
Thanks Maurycy, I'm sticking with what was released with VS 2015 Community,
can't afford otherwise.  I came up with an efficient workaround for this
particular issue...

T

On Mon, Aug 10, 2015 at 1:56 PM, Maurycy Markowski <notifications@github.com

[2015-08-10 21:07] maumar commented on #2809
Would you mind sharing the workaround, in case other people hit the similar problem before new beta is released?

[2015-08-10 21:20] toddtsic commented on #2809
Not sure it would be helpful for others, but I'll describe.

I run a sports administration portal...

Usually I'm managing teams that are part of each portal (each job), but in
the case of a league a team can come from a different portal (or job).

So by default, a teams club is assumed to be that of the portal I'm
managing.  So say there is ACME Soccer Club.  Any team created under that
portal is

[2015-08-10 21:35] bricelam opened #2811 "Migrations: Scaffold RestartSequence when StartValue changes"
This came out of API Review. We decided that changing it after it has been created has very undefined semantics. The one scenario we thought of that this would enable is changing it after it's been created, but before it's been used.

[2015-08-10 21:40] maumar commented on #2809
Thanks a lot for the detailed explanation! I think this might be quite useful to some people actually.

[2015-08-10 22:44] bricelam commented on #2801
In the future if the schema hasn't changed, you could manually insert into the `_MigrationHistory` table to mark the new migration as already applied.

[2015-08-10 23:43] AndriySvyryd commented on #2805
You can configure the mapping by overriding `OnModelCreating` in your derived `DbContext`
Is there a specific thing you aren't able to configure?

[2015-08-11 00:27] AndriySvyryd opened #2813 "Relational: Add a validation rule to ensure unique column names"
This convention would run after the model is built and set unique column names for all the properties with default mapping that conflict with another column name.

[2015-08-11 01:31] MaherJendoubi opened #2815 "PM> Install-Package EntityFramework.SqlServer -Pre"
Hello,

I have just run PM> Install-Package EntityFramework.SqlServer -Pre
but it doesn't work... I am using a windows console app and I am targeting .NET4.6!

PM> Install-Package EntityFramework.SqlServer -Pre
Install-Package : Unable to find package 'EntityFramework.SqlServer'
At line:1 char:1
- Install-Package EntityFramework.SqlServer -Pre
- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  - C

[2015-08-11 02:59] fabiohvp opened #2817 "Query: Exception with nested Select"
Hello,
the problem is when I want to make reusable Projections for select. I'll explain.

I have the following interface:

[code]

And the folloing classes:

[code]

Finally, I have the following Query:

[code]

It gives entity framework error 1025. The problem is when I Select the related property Resources, it requires a Func and not Expression. But since entity framework 6 it is possible to use

[2015-08-11 04:00] nicbourgoin commented on #365
Any guidance on where I should start looking for to try and implement this? I definitly need hierarchicalid from Microsoft.SqlServer.Types to be supported.

[2015-08-11 15:28] jarrettv commented on #2805
So if we have complex mappings, we just need to factor out into our own static classes and call them from OnModelCreating. This will need to sufice for the primary use case for EntityTypeConfiguration in EF6.

[2015-08-11 15:52] bricelam commented on #2815
What if you add `-Source nuget.org` to the command?

[2015-08-11 15:53] MaherJendoubi commented on #2815
It's the same.

[2015-08-11 15:58] jarrettv commented on #2775
I think the new naming is a step in the right direction. Anything will be better than the confusing primary dependent situation in EF6. :)

[2015-08-11 16:00] MaherJendoubi commented on #2815
I tested now 3 times and it works! But yesterday, all the night it wasn't working even with -Source nuget.org! Thank you @bricelam :-)

[2015-08-11 16:16] jarrettv opened #2818 "Problem with simple projection"
![image](https://cloud.githubusercontent.com/assets/219295/9203016/44628a88-401a-11e5-86c0-d061fa447faf.png)

I'm doing a simple projection through a relationship and it is failing. Sequence contains more than one element

[2015-08-11 16:18] jarrettv commented on #2818
![image](https://cloud.githubusercontent.com/assets/219295/9203096/ac4451a4-401a-11e5-9816-a947052d9a0b.png)

[2015-08-11 16:43] rowanmiller commented on #2807
@NoralK yes that is the correct place

[2015-08-11 16:58] rowanmiller commented on #2818
This is a duplicate of #325 - traversing navigation properties in LINQ is being implemented at the moment.

[2015-08-11 17:04] natemcmaster commented on #2810
Please provide [more details](https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md#filing-issues) about your issue.

[2015-08-11 17:08] AndriySvyryd commented on #2805
There are several ways of factoring `OnModelCreating`.
For example you can turn
[code]
into
[code]
or
[code]

[2015-08-11 18:52] natemcmaster opened #2820 "Testing: rev-eng for SQLite"
Add more extensive testing for SQLite reverse engineering. Current tests only examine simple case.
- [ ] Test custom templates
- [x] Test logging
- [x] More complex databases

[2015-08-11 18:55] XiaoweiJia commented on #2810
I am trying to use migration commands to generate database: "dnx . ef migration apply". I get an error saying the database file cannot be attached as database xxxx but if I remove the "AttachDbFileName" section, it works fine and the database file is created in default location.
Please see my code in ConfigureServices.
public void ConfigureServices(IServiceCollection services)
        {

[2015-08-11 18:56] lajones commented on #2465
Closing. Fixed with PRs #2812 and #2816. @ErikEJ - you'll need to implement the UseMethodName getter on your SqlCeDbContextCodeGeneratorHelper but this should fix problems 1 and 3 above. Please re-open if not.

[2015-08-11 18:56] #2465 closed

[2015-08-11 19:00] maumar commented on #2274
Fixed in 486e4e5d78d9c13d4d9a13cac77c70c9c72f286e

[2015-08-11 19:01] natemcmaster commented on #2810
Thanks for updating. This is not a bug in EF 7. We pass-through the connection string to SqlClient. There may be a problem with your localdb setup.

[2015-08-11 20:08] #2721 closed

[2015-08-11 20:28] rosieks commented on #2805
It would be really great to have something like EntityTypeConfiguration<T> and also with autoscanning like in FluentNHibernate.

[2015-08-11 21:27] #2788 closed

[2015-08-12 08:22] Jetski5822 opened #2824 "Attempting to view ExportedTypes throws not found exception"
Hey All,

When trying to load EntityFramework.Core from code (just as an example) using:

[code]

examining Exported types throws a 'System.IO.FileNotFoundException' on System.Interactive.Async

[code]

Any ideas on how I can get the exported types stuff to work?

[2015-08-12 08:27] davidfowl commented on #2824
Don't use LoadFrom. Why are you using that?

[2015-08-12 08:33] Jetski5822 commented on #2824
That was just an example of the shortest way I could repro.

I am using the RoslynProjectCompiler to compile my project and then using the metadata reference to load it. The Assembly gets loaded, but throws a not found exception looking at ExportedTypes saying..

[code]

I then tried to load EntityFramework.Core directly, and it threw the exception to do with System.Interactive.Async.

[2015-08-12 08:33] toddlucas commented on #2748
I had the same problem, but it was a simpler case. I have two projects, with my DbContext in the Data project and the Startup.cs in my Web project. When I ran the command the first time, I got this:

[code]

I was able to fix this by adding a reference to Microsoft.AspNet.Mvc in my Data project (!). I'm hoping to remove this workaround at some point.

One related issue: if my Startup class was not

[2015-08-12 10:58] ErikEJ opened #2825 "New test project EntityFramework.Relational.Design.FunctionalTests should be made available on MyGet"
If it is not, it is blocking 3rd party providers for taking advantage of it...

[2015-08-12 14:02] leus opened #2826 "Disable Caching"
I'm currently facing an issue (as explained in [this stackoverflow question](http://stackoverflow.com/questions/31953837/cached-results-in-linq-query)) that I suspect may be related to caching.

What is the right way to disable caching for a specific query in EF7?

[2015-08-12 15:55] natemcmaster commented on #2824
I'm guessing this error is because you haven't given the compiler all of EntityFramework.Core's [dependencies](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Core/project.json).

[2015-08-12 16:54] #2784 closed

[2015-08-12 16:57] bricelam commented on #2815
Huh, must have had an outage..

[2015-08-12 16:57] ErikEJ commented on #2825
Thanks, that was quick!

[2015-08-12 17:04] bricelam commented on #2807
Word is that that repository is "on hold"...

[2015-08-12 17:19] anpete commented on #2826
Confirmed a bug in query parameter extraction. Fix on the way.

Thanks for reporting.

[2015-08-12 17:24] NoralK commented on #2807
Thank you for the update.  It is understandable since MVC is constant flux right now, but I hope that its status is resolved soon because it is a useful productivity tool that we take for granted - I even liked the return to the command line, it brings back memories of CP/M and MS/DOS v3.3 never PC-DOS :)

[2015-08-12 19:08] smitpatel opened #2829 "DataAnnotations - Decide when to throw or ignore on various errors"
At present we have 2 different behavior in system on how to deal with erroneous DataAnnotations. Sometimes we throw exception and sometimes we log error (presently marked as todo since we don't have logger fully implemented yet).

In following cases we are throwing exception:
- `Timestamp` applied to non-byte array type.
- `Key` applied to multiple properties and key has not been set using fluent

[2015-08-12 20:21] leus commented on #2826
Nice to know. Any hint on how to disable cache (or if that would help)?

Is there anything I can do to help?

[2015-08-12 20:52] #2766 closed

[2015-08-12 21:10] bricelam opened #2832 "Migrations: Change Migration.Id to an Attribute"
This came up in API Review. We might be able to skip instantiating the classes in a few places. We'll most likely continue to need the property (or an extension method) however since we often need to get the ID for an instance.

[2015-08-12 22:07] #2727 closed

[2015-08-12 22:14] bricelam commented on #2810
Cross-reference: [Cannot attach database file when using Entity Framework 7 Migration commands](http://stackoverflow.com/q/31928014/475031) (on StackOverflow)

[2015-08-12 22:32] bricelam opened #2835 "Push Migrations use down into RelationalDatabaseCreator"
Both the SQLite and SQL Server providers have almost identical code to create the database using Migrations components. We should push this down into the `RelationalDatabaseCreator` class.

[2015-08-12 22:57] divega commented on #1170
@rowanmiller should this stay assigned to you or be assigned to @bricelam or @natemcmaster?

[2015-08-12 23:19] rowanmiller commented on #1170
Yeah it should be reassigned

[2015-08-12 23:21] smitpatel commented on #2353
The latest code contains default index name creation as `IX_<entityType>_<properties>` in which generic entity type names are handled already. Closing this. If you are still seeing issues then please provide more detail on model.

[2015-08-12 23:21] #2353 closed

[2015-08-12 23:22] smitpatel commented on #107
All the attributes mentioned in first post are implemented. Anything else remaining here?

[2015-08-12 23:22] rowanmiller commented on #2805
Reopening so that we can triage this... we should consider enabling the same pattern we had in EF6. It's trivial to implement it yourself... but it is a nice piece of sugar that we've seen numerous people use.

[2015-08-13 00:13] divega commented on #1170
Assigning to @bricelam for now.

[2015-08-13 00:55] mmillican commented on #2805
I'm glad I'm not the only one. I rely on it heavily.

I've actually started a solution that I can probably contribute back.

[2015-08-13 06:04] ErikEJ commented on #2835
Would be great if you could take the SQLCE implementation into consideration also: https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/blob/master/src/Provider40/SqlCeDatabaseCreator.cs

[2015-08-13 07:28] Jetski5822 commented on #2824
Yeah, I thought the same, but when I viewed what gets passed to the Roslyn compiler it all looked good. Infact System.Interactive.Async was top of the list.

[2015-08-13 12:52] weitzhandler commented on #2506
@rowanmiller @divega
I've ported the PluralizationService rep. It might be cool if it gets in the .NET Framework. It's a useful service.
I'll add admins and even transfer ownership if needed.
https://github.com/weitzhandler/Pluralization

[2015-08-13 12:55] weitzhandler commented on #2506
@rowanmiller @divega
I've discovered someone already worked on that before:
https://github.com/eduaquiles/PluralizationService

[2015-08-13 17:36] AndriySvyryd opened #2837 "Dissalow defining FKs on properties that are part of an inherited key"
Consider this model:
[code]

There's an FK from `Bun.Id` to `Burger.Id`, however there are no FKs defined from `Ingredient`. Should `Ingredient.Id` use its own value generator? Should it use value generator from `Burger.Id`? What if there's another type derived from `Ingredient` and it has an FK from `Id` to a different property? Should we prohibit defining FKs on properties that are part of an in

[2015-08-13 17:37] AndriySvyryd commented on #2837
@ajcvickers

[2015-08-13 18:38] rowanmiller commented on #2117
@tstar can you open a new issue and include a complete code listing so that we can understand what behavior you are seeing and what you expect.

[2015-08-13 19:07] rowanmiller commented on #2795
Hey Erik,

It's not very pretty yet... but here is a way to wire up the low level pieces to make it happen.

Compiled and tested in Beta 6... may need tweaks for latest dev code base.

[code]

[2015-08-13 19:09] rowanmiller commented on #2795
BTW here is the work item to add something like Database.Log that we had in the past https://github.com/aspnet/EntityFramework/issues/1199

[2015-08-13 19:21] ErikEJ commented on #2795
@rowanmiller Thanks, not exactly intuitive! It will come in very handy for a demo with the SQLCE provider (as no Profiler is available with that)

[2015-08-13 20:50] #2826 closed

[2015-08-13 20:51] AndriySvyryd commented on #107
This should be sufficient as the initial implementation. We'll file separate issues for remaining work.

[2015-08-13 20:51] #107 closed

[2015-08-13 21:22] lajones opened #2840 "RevEng: Keys/AlternateKeys/Indexes"
What code should be generated from a unique constraint which is not the primary key - probably AlternateKey()?

Consider what code should be generated when a foreign key points to such a key in the database.

Should we add fluent API to name the constraint underlying a given foreign key / alternate key / primary key on the database - so that if we regenerated the database using migrations it would

[2015-08-13 21:41] smitpatel commented on #2840
In model snapshot, keys are declared as follows:
- If primary key then use `Key()`
- If referenced by FK then use `PrincipalKey()` on relationshipbuilder.
- Otherwise use `AlternateKey()`

[2015-08-13 21:44] rowanmiller commented on #2840
Those rules sound pretty good for reverse engineer too.

[2015-08-14 05:06] damccull opened #2842 "System.InvalidOperationException: Sequence contains more than one element"
Hi all you smart people,

I have an issue. Using EF7 beta 6

[code]

The code above produces `System.InvalidOperationException: Sequence contains more than one element` on the ToList() and I don't think it should. See the stack trace at https://gist.github.com/damccull/0ea09acbeb668d72f465

The gist also contains each of the models, the applicationdbcontext, and anything else I thought may be rele

[2015-08-14 05:33] damccull commented on #2842
I have determined the culprit is `.Where(m=>m.Players.Count < m.Activity.Slots)`

This causes exception.
[code]

This does not.
[code]

Am I just doing it wrong or is this a bug?

[2015-08-14 09:13] ErikEJ commented on #2795
Thanks, added that to my providers (for the time being) as a LogToConsole() extension method on the DbContext

[2015-08-14 12:27] ErikEJ commented on #2755
@bricelam Using Build 13969 and I no longer see any issues with app.config appearing or any references to System.Runtime. As far as I can see, this can be closed now

[2015-08-14 13:25] ErikEJ opened #2843 "Remove "stable" test packages from Myget feed"
The packages EntityFramework.Core.FunctionalTests and EntityFramework.Relational.FunctionalTests appear as version 1.0.0 (by mistake), but Nuget seems to prefer these  "Stable" packages over the latest.
The feed is here: https://www.myget.org/gallery/aspnetvnext

[2015-08-14 14:02] nicbourgoin opened #2844 "Trying to insert a new entity with childs throws DbUpdateException"
This has been an issue for a long time: You cannot insert an entity if it has new instances of relationships there are two issues:

[code]

This occurs in many-to-one relationships.

No exception is thrown if the foreign key is not present in the model. However, the jobtype still doesn't get persisted.

StackTrace:

[code]

If I use an existing jobtype instead:

[code]

No exception is thrown, how

[2015-08-14 15:50] rowanmiller commented on #2843
@Eilon could you take care of this for us?

[2015-08-14 15:54] rowanmiller commented on #2842
@damccull traversing navigation properties in LINQ queries is being implemented at the moment. Some scenarios are enabled in our working code base, but not in Beta 6. Work is tracked by #325.

[2015-08-14 16:32] ChristineBoersen commented on #2802
Note, when originally tested I had the DBSet and the ClueRelationType_CreateObject code *in* the Context as most examples show. I reorganized that code for unrelated reasons which had no effect on the bugs reported.

For the context

    public class ApplicationUser : IdentityUser
    {

    }

    public partial class ClueContext : IdentityDbContext<ApplicationUser>
    {

        protected Model

[2015-08-14 17:08] Eilon commented on #2843
Will do.

[2015-08-14 17:10] Eilon commented on #2843
Deleted. It'll take MyGet a few minutes to purge from its cache.

[2015-08-14 18:13] rowanmiller commented on #2837
@AndriySvyryd do we automatically wire up `Bun.Id` as the FK? Pretty sure we wouldn't have matched that in EF6?

[2015-08-14 18:14] rowanmiller commented on #2837
Triage: We agree this sounds reasonable

[2015-08-14 18:16] rowanmiller commented on #2829
@smitpatel please bring to design meeting (we should use EF6 behavior to help drive decisions)

[2015-08-14 18:17] rowanmiller commented on #2824
@bricelam doesn't look like an EF issue but can you help route it where it needs to go

[2015-08-14 18:25] rowanmiller commented on #2813
@AndriySvyryd are there cases where this errors at the moment? In inheritance it is probably desirable to use the same column if children have the same property name (and the same type). Having to rename explicitly when they are a different type would be fine (possibly error in the validator).

[2015-08-14 18:33] rowanmiller commented on #2803
@mikary can you take a look at this and see why it doesn't work. Depending on findings we may do something for first release (or not).

[2015-08-14 19:17] AndriySvyryd commented on #2813
@rowanmiller This is needed even without inheritance. Consider
[code]
And yes, a validation rule would be needed also to check the explicit configuration.

[2015-08-14 19:24] rowanmiller commented on #2813
We discussed that scenario in triage and agreed you should have to manually give us a name for Blog.Id too (the model should be invalid)

[2015-08-14 19:28] AndriySvyryd commented on #2813
Then a validation rule would be enough. We can revisit this if we ever allow mapping several properties to the same column.

[2015-08-14 19:36] risogolo opened #2846 "Database migration"
I'm not aware of the feature I'm going to describe here.
I'd like to create "code first database migration" to the script file which creates a script file which is not checking a previous state,  Let's say I have 2 environments, development and production, I'd like to create migration script in development environment which I want to apply against production database which is not aware of previous

[2015-08-14 20:04] risogolo commented on #2846
Based on this article http://www.bricelam.net/2014/10/22/ef7-nuget-commands.html it seems something like that maybe planning for 7 release, am I right?

[2015-08-14 20:08] rowanmiller commented on #2813
:+1:

[2015-08-14 23:50] smitpatel commented on #2285
At present model snapshot is created with following guidelines.
- Sort entity types topologically based on their hierarchy
- For each entity type configure in following order (excluding relationships)
  - BaseType declaration
  - Properties declaration
  - Keys declaration
  - Indices declaration
  - entity type annotations
- Configure all relationships

The sorting is introduced because in case o

[2015-08-14 23:50] #2285 closed

[2015-08-15 01:55] ltctech opened #2849 "Support partial entity materialization"
Hi,

One thing that has always driven me mad about EF was the inefficiency of a trivial update of a single column on a large record. Has this been improved in EF7?

Take for example a blog post being stored in a single table, it has the actual HTML content in one column, a visibility flag in another, and a PK column.

To update an existing post and make it not visible, EF will pull the entire post

[2015-08-15 09:26] thebigb commented on #2755
@ErikEJ Have you tried that on a clean project? I can't reproduce that.

[2015-08-15 10:54] ErikEJ commented on #2755
@thebigb No, that was on an existing project, will try on a blank 4.5 Console app and post the results here!

[2015-08-15 11:14] roji opened #2850 "Query: Provide DbFunctions class to define methods that correspond to standard SQL operations"
Not sure whether this has already been discussed (or makes sense).

There are some standard SQL operations that don't correspond to an already-existing .NET method; the example that comes to mind is LIKE. It seems that up to now, each provider invented its own way to allow users to specify these in LINQ to Entities - SqlClient has [SqlFunctions](https://msdn.microsoft.com/en-us/library/system.data

[2015-08-15 11:19] ErikEJ commented on #2850
I think it is already there: https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Query/Methods/ContainsTranslator.cs

[2015-08-15 20:18] Jetski5822 commented on #2824
You were right, this is not an EF issue afterall, but more down to the way I was resolving dependencies. Cheers,. N

[2015-08-15 20:56] NJKA001 opened #2851 "Nuget Package Broken?? (beta7-13983)"
Hi, I'm trying to get EF7 running for the first time using VS2015 .Net (4.6) (also tried 4.5)

Following the Wicki Get Started Guide.
First this is when I do the "Add-Migration MyFirstMigration" step from the nugget console I get
"Exception has been thrown by the target of an invocation."

If I try and run the app I get the following exception from the DbContext constructor.
An unhandled exception

[2015-08-16 07:39] ErikEJ commented on #2851
Try to add this to your app.cofig:

    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="1.1.36.0" newVersion="1.1.37.0"/>
      </dependentAssembly>
      </assemblyBinding>
      </runtime>

[2015-08-16 13:25] weitzhandler opened #2852 "Support Enum.HasFlag in LINQ"
Hi,

I'd like to see [`Enum.HasFlag`](https://msdn.microsoft.com/en-us/library/system.enum.hasflag) supported in EF's LINQ provider.
I think this feature is pretty useful. Especially with the support of enums introduced to EF in the recent versions - a great feature indeed.

[2015-08-16 21:25] leus commented on #325
Is this still scheduled for beta7? I just stumbled upon it. By the way, neither of these work:

    var q = dbContext.Posts.Include(x => x.Author).Where(x => x.Author.Id == 123);

    var q = dbContext.Posts.Where(x => x.Author.Id == 123);

[2015-08-17 12:21] ErikEJ commented on #2445
Lets just stick to a "NotSupportedException"

[2015-08-17 16:55] weitzhandler commented on #256
Would love to see this feature implemented.

[2015-08-17 17:42] divega commented on #256
@weitzhandler EF7 defines and support several async extension methods for IQueryable<T> (see https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Core/Extensions/EntityFrameworkQueryableExtensions.cs). Is there anything you are missing there or that you have found isn't working correctly?

In case you are asking for the support for async operators over IQueryable<T> to become mor

[2015-08-17 17:55] natemcmaster opened #2855 "Resolve System.Collections.Immutable version conflicts on CLR"
Reverse engineering no longer works on CLR due to [recent changes in DNX](https://github.com/aspnet/dnx/pull/2474).

Reveng uses a version of Roslyn which is complied against System.Collections.Immutable 1.1.36.

EF.Core pulls in System.Collections.Immutable 1.1.37.

 On CLR, we resolved this with binding redirects https://github.com/aspnet/EntityFramework/commit/09412a130e0ff92d802dcc20fe0362f11b

[2015-08-17 17:58] weitzhandler commented on #256
@divega  I got it all wrong. Sorry for interupting, I've deleted my previous post. I'm deleting this post too. Just sending it so you get notified.

[2015-08-17 18:12] divega commented on #2855
Moreover, the removal of the binding redirects was done to unblock the CI but now it blocks the flow of several devs in EF who run tests from VS.

The PR https://github.com/aspnet/EntityFramework/pull/2845 mentions an assembly load loop in DNX that needs to be prevented. Is that a bug that can be fixed in DNX? @troydai @davidfowl @anurse

[2015-08-17 18:38] ErikEJ commented on #2855
Force EF Core to use 1,1,36 ??

[2015-08-17 18:49] natemcmaster commented on #2855
We should fix this before beta7 release. This completely breaks reverse engineering from the package manager console in Visual Studio.

![image](https://cloud.githubusercontent.com/assets/2696087/9313104/e071b1be-44d5-11e5-8370-03de325d89e8.png)

[2015-08-17 18:54] natemcmaster opened #2858 "[Suggestion] EF.Commands as a dependency to all design-time projects"
The design-time features in EntityFramework.SqlServer.Design are inaccessible to an end user without EF.Commands. This is a "user-time" dependency. We should add EF.Commands to the dependency graph for SqlServer.Design and Sqlite.Design.

[2015-08-17 18:57] ErikEJ commented on #2858
Makes a lot of sense, I wil do the same for the sqlce ce design time providers

[2015-08-17 20:22] smitpatel commented on #2492
One alternative to IndentedStringBuilder is `IndentedTextWriter' which is not available for UWP or DNX 5.0
https://msdn.microsoft.com/en-us/library/system.codedom.compiler.indentedtextwriter
Clearing flags for re-triage.

[2015-08-17 20:22] bricelam commented on #2855
@ErikEJ I tend to agree that EF should be using the **lowest** version of dependencies it needs--only updating for necessary fixes and features. This would maximize our *compatibility* with other packages. Apps could then use the **highest** compatible versions to maximize for *stability*.

[2015-08-17 20:24] bricelam commented on #2492
(Just the milestone needs to be cleared.)

[2015-08-17 20:30] bricelam commented on #2858
We actually talked about doing it the other way around at one point: (working names)
* Provider.Tools
    * Provider.Design
    * EF.Commands

[2015-08-17 20:38] natemcmaster commented on #2858
:+1: I like this idea even better than my initial suggestion.

[2015-08-17 20:45] bricelam commented on #2851
Yes, use a binding redirect. Roslyn is compiled against 1.1.36, but the latest is 1.1.37.

[2015-08-17 22:07] natemcmaster commented on #2855
Used @ErikEJ's suggestion in #2860. As far my initial testing shows, just using an older version in EF.Core should work just fine (for now). It would be better in the long-run to revisit how reveng uses roslyn and razor to get a more version-insensitive solution.

[2015-08-17 22:31] weitzhandler opened #2861 "ORDBMS"
Hi,

Now that code first and EF is a trend, is it time to start moving towards the ORDBMS?

Say something like (_Startup.cs_):

[code]

Entity Framework will utilize a file-system based DB that is an open-end for .NET objects and natively query against it.

Here are some areas that will benefit from this:
- Unified code for both model and server
- Easier migration and deployment of DB changes
- Ea

[2015-08-18 06:42] leak commented on #2748
I have similar issues as described above.

Additionally I'd like to point out another potential issue.

If the database path in the connection string is specified in a relative position to the application and the project layout is split up like described above, the actual database will not be found either by the application or by the dnx ef migration command.

Because relative path are not really

[2015-08-18 07:58] leak opened #2864 "Relative path in connection string does not work with Sqlite"
Related to #2748

Specifying a relative path to a database file does not work, the application dies with
"SQLite Error 14: 'unable to open database file'".

[code]

For the "dnx ef" command it already seems to be working (ref https://github.com/aspnet/Microsoft.Data.Sqlite/issues/55)

[2015-08-18 09:09] glatzert opened #2865 "Support CommonTable Expressions"
If you are working with trees and hierarchies, which are materialized into a SQL Server, it would be good to have a possibility of defining recursive CommonTable Expressions (as defined here: https://msdn.microsoft.com/de-de/library/ms175972.aspx).

My proposal for that: an extension method for DbContext, which returns a IQueryable<ComplexType>:

[code]

Similar would be possible for other types o

[2015-08-18 10:55] hkoestin opened #2866 "Database.BeginTransaction() throwing on InMemory Repository"
I have a working code for EF7 beta6 with the SQL CE 4.0 data-provider, which uses some transactions inside.

Now I want to unit-test these things. However, when I switch the context options to be in-memory, I get the following exception:
<code>
"No service for type 'Microsoft.Data.Entity.Storage.IRelationalConnection' has been registered."
Stack:
   at Microsoft.Framework.DependencyInjection.Servi

[2015-08-18 11:00] ErikEJ commented on #2866
@hkoestin This is early beta software so do not expect anything to Work "out of the box" :smile:
Have you tried removing the use of Transactions?
And why do you need Transactions in the first place, SaveChanges is transactional already ?

[2015-08-18 11:58] ge6a93 opened #2867 "Enable migrations in ASP.NET Class library (package)"
Hi,
I'm having DAL (Data Access Layer) class library package in ASP.NET MVC 6 where my entities and DbContext are located and I try to enable migrations  using "dnx . ef migration add MigrationName".
The result it an InvalidOperationException saying:

System.InvalidOperationException: A type named 'StartupProduction' or 'Startup'
could not be found in assembly 'DAL'.

I wouldn't like to move my DA

[2015-08-18 12:09] hkoestin commented on #2866
Well, if I remove the Transactions, it is working - even "out of the box" :smile:

However, that is not really the plan.

I need the transactions in place, because we have repositories (= DbContext) per aggregate. As long as we only touch one aggregate in one command, it is totally fine to just have "no" transaction there, because, as you said, SaveChanges anyhow pulls up a transaction.
Unfortunat

[2015-08-18 15:44] ErikEJ commented on #161
@rowanmiller The current design does not work well with several DbContexts pointing to the same database https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/issues/205

[2015-08-18 15:59] #2802 closed

[2015-08-18 16:00] #2070 closed

[2015-08-18 16:00] anurse commented on #2855
How did this work (even on CLR) before aspnet/dnx#2474? DNX was **ignoring** the binding redirect completely before that change. Or do you mean on non-DNX hosts?

[2015-08-18 16:08] bricelam commented on #2855
@anurse DNX--both CLR and CoreCLR--was always fine; versions get normalized by the loader. Full .NET (one of EF's many targets) has a far stricter loader and needs this since Roslyn is bound against Immutable Collections 1.1.36 and EF against 1.1.37.

[2015-08-18 16:22] natemcmaster commented on #2864
Moving to https://github.com/aspnet/Microsoft.Data.Sqlite/issues/55#issuecomment-132265437

[2015-08-18 16:24] bricelam commented on #2867
Yeah, I'm not sure why Hosting started *throwing* in that case. It used to work. :smile:

[2015-08-18 16:25] bricelam commented on #2867
This is related to #2357

[2015-08-18 16:26] natemcmaster commented on #2867
@ge6a93 Workaround: http://ef.readthedocs.org/en/latest/getting-started/osx.html#add-a-startup-class-to-your-project

[2015-08-18 17:03] anurse commented on #2855
:+1: makes sense. I was just confirming that.

[2015-08-18 17:18] rowanmiller commented on #2844
Hey,

Currently in EF7 `Add()` only adds the single object and does not traverse related objects - so you need to add each object individually or use the `TrackGraph` method. We have https://github.com/aspnet/EntityFramework/issues/2726 to track working out how we best support the "add this graph of objects" scenario.

~Rowan

[2015-08-18 17:20] rowanmiller commented on #2817
This doesn't seem like a very common scenario, so it's probably not critical for initial release of EF7. Assigning to @maumar to see if there are any quick wins we can do to unblock this. If it's more involved then we will deal with it post initial release.

[2015-08-18 17:22] rowanmiller commented on #2805
Moving to backlog since it's not critical for our initial release (it's very easy to quickly implement this yourself without needing to modify EF code). That said, we do want to implement it and we would accept a PR for it.

[2015-08-18 17:24] rowanmiller commented on #2804
Database initializers no longer exist in EF7. You can use `DbContext.Database.EnsureCreated` `EnsureDeleted` etc. in your startup code to achieve the same thing (generally most useful for testing etc.).

[2015-08-18 17:25] rowanmiller commented on #2760
**Triage:** We will optimize this based on results from perf runs. We suspect the benefit would be negligible, but profiling will show if it is something we should change.

[2015-08-18 17:47] rowanmiller commented on #325
@leus parts of it will be in Beta 7.

cc @anpete to comment on the two particular lines of code you shared to see if these will work in Beta 7.

[2015-08-18 17:50] anpete commented on #325
@rowanmiller @leus Yes, that should work in beta7 - let me know if you hit any issues.

[2015-08-18 20:50] AndriySvyryd opened #2869 "Use reference counting to determine what members added by convention should be removed"
Currently we do an explicit graph traversal to find if there are any references to the given member and remove it if there aren't. This could lead to an incorrect removal if the traversal is triggered by a convention invoked while a reference to the given member is being added.
The current method also doesn't recalculate the ConfigurationSource if a reference is removed (e.g. if an explicit relati

[2015-08-18 21:23] bricelam commented on #700
Marking for re-triage; this should probably be `pri0`. Without this, Migrations won't create unique indexes for 0..1:0..1 relationships effectively making them 0..1:* in the database.

Here are the main things that would change in Metadata:

Before | After
------ | -----
Key.IsClustered | Key.Index.IsClustered
ForeignKey.IsUnique | ForeignKey.Index.IsUnique

Migrations would then promote the indic

[2015-08-18 21:30] Schr3da commented on #2122
Hey,

Thank you for your help, I made an Sample application based on the Microsofts Mvc Example.
It contains an SQLite Database and its fully working with beta-6.0.0 bellow is the repository link maybe someone else is searching for it :dancer:

https://github.com/Schr3da/ASP.net-vnext-samples

[2015-08-18 21:31] AndriySvyryd commented on #2589
Marking for retriage.
I think this should be pri0 since it would introduce a big API surface and early release can generate helpful feedback.
Also it will make other changes and fixes in the builders easier as there would be less code duplication.

[2015-08-18 21:38] bricelam commented on #2122
:metal: Rock on.

[2015-08-18 21:47] natemcmaster commented on #2122
Also, we recently added an article to our documentation that uses SQLite on OSX:  http://ef.readthedocs.org/en/latest/getting-started/osx.html

[2015-08-18 21:55] AndriySvyryd commented on #2458
Fixed in 6ecd30ea87ca370314e2882dc2c95de079c7cfdc

[2015-08-18 21:55] #2458 closed

[2015-08-18 22:21] bricelam commented on #1141
Closing. I feel like our coverage is pretty decent now. We'll rely on app building, exploratory testing, and code coverage analysis for more. Creating more provider-agnostic tests will be done as part of #1807.

[2015-08-18 22:21] #1141 closed

[2015-08-18 22:25] Anderman opened #2870 "ToArray is not working with some queries in EF7 but is works in EF6"
For the Jquery.datatables I create a liunq query to get Rolenames of every user

[code]

Roles3 is working in EF 6 but not in EF 7. To get the requested result I have move the include to a separated statement. The dummy statement will execute the queries so the cached queries can be used in the next statement

[code]

see watch window

![image](https://cloud.githubusercontent.com/assets/1858745/93

[2015-08-18 23:04] bricelam opened #2871 "DNX Commands: Verbose switch"
We currently always print verbose output in the DNX commands. We should add a `-v|--verbose` flag to align with other command-line tools.

[2015-08-19 00:17] divega commented on #2850
@roji This does make sense in general although it is probably worth digging more into what "standard SQL operations" means :smile:

We have talked within the EF team about the need to have a way to represent any standard relational functions as well as provider specific functions that aren't well represented by LINQ operators or by standard method calls in .NET BCL classes. We came up with a patte

[2015-08-19 00:19] divega commented on #2850
Clearing up this for triage. I think we can choose having this issue in the backlog and up-for-grabs, or we can wait until the concrete need arises to have specific functions added.

[2015-08-19 01:39] nicbourgoin commented on #2844
You just gave a new meaning to my entire life. :smile:

[2015-08-19 03:11] dcga opened #2872 "DateTime.UtcNow support in LINQ queries to the SQL Server provider."
As suggested in the now closed PR [#2853](https://github.com/aspnet/EntityFramework/pull/2853), DateTime.UtcNow is not supported in the DateTimeNowTranslator  Query Method of the SqlServer provider.

[2015-08-19 07:51] davidfowl commented on #2748
@bricelam yes this is true. The project needs to be referenced for it to be loadable/compilable.

[2015-08-19 09:28] hkoestin opened #2874 "DatabaseCreator - Check for tables from model rather than just any models."
When having two different DbContext instances, e.g. A and B, both having different tables, e.g. A has a1 and a2, B has b1 and b2, a call to context.Database.EnsureCreated() does not really work, when both of the context instances point to the same physical DB.

Only the tables of the first context will be created in the database. The tables from the second context will be ignored. Thus, the first

[2015-08-19 09:47] hkoestin opened #2875 "Support for Database Schema on the Model Builder"
EF 6 had a support for a database schema in the model builder:
[code]

This is a really handy feature and somewhat missing in EF7.

Could this be introduced in future?
Are there any plans for this?

[2015-08-19 15:04] ArnaudFaucher opened #2876 "EntityFramework.SqlServer beta6 fails to install in UWP apps in VS2015..."
... but EntityFramework.Sqlite installs fine. (see `EntityFramework.SqlServer 7.0.0-beta6 is not compatible with UAP,Version=v10.0.` in the log below)

It there a framework problem in project.json for EntityFramework.SqlServer (should support 'dotnet' instead of 'dnxcore50') ???

[code]

[2015-08-19 15:50] bricelam commented on #2748
:disappointed: :wrench: => :bike:
Thanks, we'll rethink our strategy for start-up projects.

[2015-08-19 16:04] bricelam opened #2877 "UseMigrationsAssembly may not work on DNX"
DNX only loads assemblies listed as dependencies of the project. The point of `UseMigrationsAssembly` is to use the assembly for Migrations without actually referencing it. We do this because you may not want to deploy your migrations classes with your app.

We should verify the experience on other non-DNX projects too.

[2015-08-19 16:33] rowanmiller commented on #2877
I think not having to reference the assembly is a good thing, but if it's going to be difficult then I don't think it's critical to support for the initial release since the vast majority of apps will have it referenced.

[2015-08-19 16:35] rowanmiller commented on #2876
Hey,

The SQL Server provider can not be used in UWP apps. This isn't really an EF limitation but because the underlying ADO.NET SQL Client provider does not support UWP (at least not yet).

At this stage SQLite is the only provider that works on UWP (and the InMemory one too... but that is mostly for testing/prototyping).

~Rowan

[2015-08-19 16:58] #2855 closed

[2015-08-19 17:34] rowanmiller opened #2879 "Throw better exception when trying to use BeginTransaction (or other relational APIs) on a non-relational store"
Spinning off from https://github.com/aspnet/EntityFramework/issues/2866

[2015-08-19 17:36] rowanmiller commented on #2866
This is by-design because the transaction APIs are specific to relational data stores. That said, the exception is not at all helpful so we opened #2879 to provide an exception that tells you why the API does not work.

[2015-08-19 17:53] lajones commented on #2750
Fixed with PR #2847

[2015-08-19 17:53] #2750 closed

[2015-08-19 18:20] maumar opened #2881 "Query :: nested Conditional expressions could be optimized"
Currently nested Conditional expressions are not optimized, we translate them to:
CASE WHEN c1 THEN r1 ELSE (CASE WHEN c2 THEN r2 ELSE r3 END) END

We could instead simplify it to:
CASE WHEN c1 THEN r1 WHEN r2 THEN r2 ELSE r3 END

[2015-08-19 18:33] rowanmiller commented on #2861
Hey,

There isn't really anything actionable from the EF project team here, so we are closing this out. ORDBMS may grow in popularity and an ORDMBS provider (or someone else) may want to write an EF provider.

~Rowan

[2015-08-19 18:34] rowanmiller commented on #2858
**Triage:** Closing this out as what we have may not be perfect but it works ok. We can look at add/restructuring packages in the future if needed.

[2015-08-19 18:36] rowanmiller commented on #2851
Dupe of https://github.com/aspnet/EntityFramework/issues/2855

[2015-08-19 18:39] rowanmiller commented on #2846
This isn't something we are planning to natively support. You can generate the script and then remove the calls to insert into __MigrationHistory or override the migrations components not to generate these statements.

[2015-08-19 18:39] rowanmiller commented on #2492
In triage we decided just to keep what we have

[2015-08-19 19:34] weitzhandler commented on #2861
I wan't talking about Oracles DB. I was talking about the general idea of [ORDBM](https://en.wikipedia.org/wiki/Object-relational_database).

I merely wanted top open a discussion rather than an issue. I'm curious if there is any interest in this field.
Personally I think that it would be awesome (especially for < enterprise projects) to have EF be treated as the database itself by having an under

[2015-08-19 20:02] #1711 closed

[2015-08-19 20:02] #2811 closed

[2015-08-19 21:30] maumar commented on #1428
Can't reproduce the issue based on provided information, closing

[2015-08-19 21:30] #1428 closed

[2015-08-19 21:57] maumar commented on #2608
unable to reproduce based on provided information, closing

[2015-08-19 21:57] #2608 closed

[2015-08-19 22:02] rowanmiller commented on #2861
Yes that was what we understood you were talking about :smile:

From the EF perspective we want to be able to connect to all types of data stores. My opinion is that you need to start by picking the type of data store that best suites the way your application will be using data and then pick a data access API that suits the type of store you need. EF7 will be able to connect to some, but not all,

[2015-08-19 22:02] divega commented on #2881
FWIW, SQL Server has a limit of 10 levels of nesting and this did become an issue with previous versions of EF because we used to generate nested case statements often, so we had to do case flattening as a bug fix rather than as optimization. Not saying that we are anywhere near this with EF7.

[2015-08-19 22:02] rowanmiller commented on #2861
Reopening and moving to Discussion for anyone who wants to discuss.

[2015-08-19 22:30] sayedihashimi opened #2883 "DNX Commands: Add --json switch for tool-consumable output"
One of the features that the Visual Studio ASP.NET team would like to support in `beta8` is the ability to [publish support for EF migrations](https://github.com/aspnet/EntityFramework/wiki/Visual-Studio-Publish-Integration).

In previous versions we had a difficult time discovering the contexts correctly for the publish dialog. For DNX projects we have `dnx ef context list`. We would like to use

[2015-08-19 22:51] bricelam commented on #2835
Fun Fact: This issue is debt from #556.

[2015-08-19 22:56] rowanmiller commented on #2883
cc @bricelam for his thoughts

[2015-08-19 23:17] divega commented on #2294
I think https://github.com/aspnet/EntityFramework/issues/2357 is also very related.

[2015-08-19 23:18] maumar commented on #2647
This issue is fixed in the latest bits,
Beta6 generates the following (wrong) query:

[code]

and in current bits we generate:
[code]

[2015-08-19 23:18] #2647 closed

[2015-08-19 23:32] maumar commented on #2232
This is fixed in the current bits. We produce the following TSQL now:

[code]

[2015-08-19 23:32] #2232 closed

[2015-08-20 02:02] leus commented on #325
By the way, guys, just a word to commend the extraordinary work you are doing. I'm having a blast playing with this thing!

[2015-08-20 10:13] endink opened #2887 "foreign key in TPH"
Hi,
When the top level entity in the hierarchy will repeat to generate the foreign key T-SQL。
example:
[code]
the mapping code for 'D':
[code]
the T-sql will like this:
[code]

[2015-08-20 12:40] ArnaudFaucher commented on #2876
Thanks Rowan,

Your "at least not yet" is reassuring. Do you know if there are plans for this support (which is very important for LOB apps)?

[2015-08-20 13:40] hkoestin commented on #2866
@rowanmiller thanks for you reply and your thoughts. I still don't see a reason, why I can't use the BeginTransaction method on an InMemory store. It could just ignore it - or even implement some of the ACID properties (namely ACI). As a user of the whole thing, I don't mind the actual implementation behind (may it be SQL or Azure Doc Store or InMemory). I want to start a Transaction and then perf

[2015-08-20 13:42] hkoestin commented on #2879
Still not really happy with "just a better exception".
See https://github.com/aspnet/EntityFramework/issues/2866#issuecomment-133011083

[2015-08-20 15:03] Tragedie-v-JZD opened #2888 "Querying against joined tables"
EF 7 - beta 6
I have simple data model :

 public class A
    {
       [Key]
        public int Id
        {
            get; set;
        }

[code]

}

public class B {
[Key]
public int Id {get;set;}
public string Name {get;set;}
}

following query
var result = db.A.Where(where => where.another.Name == "string");
ends with
InvalidOperationException: Sequence contains more than one element
System.

[2015-08-20 15:12] davidroth commented on #2866
@hkoestin

One of EF7s goals is to remove any magic and general abstraction over different datastores and rather make all operation which cannot generally be abstracted explicit. I think this is a good principle because it is impossible to reasonable abstract/hide all the different behaviors and features of the various datastores ef7 will support.

In your concrete example,  ```Database.BeginTrans

[2015-08-20 15:18] ErikEJ opened #2889 "Provider test packages no longer available"
There now appear to be four dfiierent ASP.NET vNext galleries on MyGet:
1: https://www.myget.org/gallery/aspnetlitedev
2: https://www.myget.org/gallery/aspnetvnext

3: https://www.myget.org/gallery/aspnetliterelease
4: https://www.myget.org/gallery/aspnetrelease

I would like to update my product code with the most recent EF beta 7 build and run the test suite against the updated product code. Thi

[2015-08-20 16:25] bricelam commented on #2889
@victorhurdugaci What do we need to do to get these published? We had [this code in our makefile.shade](https://github.com/aspnet/EntityFramework/blob/dev/makefile.shade#L11-L37) to enable it before.

[2015-08-20 16:31] bricelam commented on #2883
Hmm, is there any particular reason you want to use the DNX command as an entry point? It would be better if you could use the API backing that command: `Microsoft.Data.Entity.Commands.ContextTool.GetContextTypes()` in `EntityFramework.Commands.dll`

[2015-08-20 17:15] bcrosnier opened #2890 "Collection.Remove(entity) throws NRE on Save"
Considering the repro at https://github.com/bcrosnier/Ef7_RemoveBug

- Model & context: [src/Ef7Test/TestDbContext.cs](https://github.com/bcrosnier/Ef7_RemoveBug/blob/master/src/Ef7Test/TestDbContext.cs)
- Execution: [src/Ef7Test/Program.cs](https://github.com/bcrosnier/Ef7_RemoveBug/blob/master/src/Ef7Test/Program.cs)

Using ver 7.0.0-beta6 from NuGet, and DNX 1.0.0-beta6 ([project.json](https://

[2015-08-20 18:03] rowanmiller commented on #2889
@ErikEJ just some general info on the dev feeds:
1 is the latest set of packages that all build together (unsigned and untested)
2 is the latest build from 1 that all the unit tests pass one and are signed

[2015-08-20 18:09] rowanmiller commented on #2876
@ArnaudFaucher I agree that this is an important scenario. Plenty of discussion about how we support this, not official commitment I can point you to at this stage.

[2015-08-20 18:13] ErikEJ commented on #2889
@rowanmiller  Ah, now I get the meaning of "lite" - so 2 and 4 just need to be fixed regarding the missing packages

[2015-08-20 18:23] rowanmiller commented on #2866
@hkoestin we did talk about having a flag that you could set to make the relational specific APIs a no-op when called on a non-relational store. So you would try and begin a transaction on in-memory... it would throw saying "that's not supported but change this flag if you want it to just no-op". Would that work for you?

[2015-08-20 18:25] rowanmiller opened #2891 "Promote transaction API to core (& no-op implementation for in-memory)"
Spun off from #2866

The primary scenario is testing relational data access code against in-memory provider

[2015-08-20 18:41] Tragedie-v-JZD commented on #2888
Updated to beta8 and works.

[2015-08-20 19:00] bricelam commented on #2294
...and #2553 and #2867... :smile: This is the "fix everything design-time related" bug.

[2015-08-20 19:22] divega commented on #2294
Good luck! :smile:

[2015-08-20 20:25] bricelam commented on #2755
I think all our feeds have finally caught up and everything appears to be working for me now too. Feel free to re-open this if you're still seeing issues.

[2015-08-20 20:31] bricelam commented on #2154
Re-assigning to me since this relates to #2739

[2015-08-20 21:05] sayedihashimi commented on #2883
@bricelam we followed a similar approach (_although a bit more complex_) with unit testing. It will enable us to integrate loosely. The implementation for ef migrations can change and there will be no impact to VS as long as the JSON format doesn't change.

[2015-08-20 21:34] bricelam commented on #2883
Alright, the approach seems OK to me.

I think JSON is overkill--the most data it could possible return is the list of assembly-qualified type names. I agree that we need to, in general, look at the consumability our our output. Automation workflows shouldn't have to filter out our logging.

[2015-08-20 21:39] bricelam commented on #2883
I think a `-q|--quite` flag would be idiomatic.

[2015-08-20 21:46] sayedihashimi commented on #2883
Sure if you pick some other format thats easily consumed thats fine with me. I suggested JSON because of we needed to add more later it would be easy. If we simply return a list of names there is not much opportunity to introduce additional values later.

[2015-08-20 21:51] bricelam commented on #2883
Yeah, I do see the point. It seems to work well for the `azure` command too...

[2015-08-20 21:55] bricelam commented on #2883
(Implementation Notes:)
The commands where this matters are
* `ef dbcontext list`
* `ef migrations list`
* `ef migrations script` (Already has `--output` for similar purposes)
* #577 (Backlog)

[2015-08-20 22:32] sayedihashimi commented on #2883
@bricelam there's an azure command?

[2015-08-20 22:48] thebigb commented on #2755
@bricelam

`EntityFramework.Sqlite 7.0.0-beta8-15162` (and its dependencies) is now doing great on .NET 4.5 and 4.6.

However, `EntityFramework.Commands 7.0.0-beta8-15162` leans on `Microsoft.CodeAnalysis.CSharp`, which fails to even install on .NET 4.5, and only works on .NET 4.6 after deleting the entire `<runtime>` section in `App.config`.

[2015-08-21 00:11] smitpatel commented on #1431
@rowanmiller - Can you suggest exception message for this?

[2015-08-21 05:27] bricelam commented on #2154
Closing this as superseded by #2739. Migrations is the only thing using `SqlBatchBuilder`, so it will most likely go away when we switch to single-statement commands by default.

[2015-08-21 05:29] bricelam commented on #2739
Waiting for #2758 before tackling this as it touches this same area.

[2015-08-21 05:45] bricelam commented on #2883
The non-DNX, node-based one :wink: [Azure/azure-xplat-cli](https://github.com/Azure/azure-xplat-cli)

[2015-08-21 05:51] bricelam commented on #2755
I'm going to look at downgrading a few of our dependencies (including Roslyn). I'll see if it helps that case too.

[2015-08-21 05:53] bricelam opened #2892 "Downgrade packages"
I have a theory that we can downgrade some of our dependencies and increase our compatibility. I'd like to look into it a bit more. :smiley_cat:

[2015-08-21 06:15] hkoestin commented on #2866
@rowanmiller yes, this would already help a lot. Still, I would favor a real transaction (even in memory) over a no-op, but it is better than nothing.

Background: I want to be able to run basic unit (and integration) tests really fast by using the in-memory features of EF7. Setting up a whole context there would just cost to much. And I am talking about roughly 5000 tests. It is a big difference,

[2015-08-21 07:42] tlaimer opened #2893 "Migration commands fail for projects in a visual studio solution folder"
### Migration commands fail for projects in a visual studio solution folder
### Functional impact

Migrations stop working as long as the project remains in the solution folder. The workaround of moving the project into the solution root, doing the migration and moving it back into the solution folder works, but isn't that obvious.
### Minimal repro steps
1. Create a project
2. Add nuget package f

[2015-08-21 08:17] ErikEJ commented on #2893
This is the EF7 repository, you should report EF6 issues here: https://entityframework.codeplex.com/WorkItem/Create?ProjectName=entityframework

[2015-08-21 10:42] tlaimer commented on #2893
Will do, sorry for the hassle.

[2015-08-21 15:51] bricelam commented on #1431
Eww... another reason we'll be cross-compile to `net45`

[2015-08-21 15:53] bricelam commented on #1431
@smitpatel Here's what we had in EF6:

[2015-08-21 16:04] divega commented on #1431
Caveat: There is no DbSet.Local in EF7, at least not yet. Without it databinding is mostly manual, e.g. you can do `.ToList()` and then somehow make sure any items added or removed are added and removed on the context as well.

[2015-08-21 16:09] rowanmiller commented on #2866
@hkoestin yep your scenario makes total sense. BTW we have talked about promoting the concept of transactions to core (rather than relational). Not all data stores have transactions... but the vast majority do.

[2015-08-21 16:14] divega commented on #1431
Moreover, without DbSet.Local the value of throwing an exception here is:
- Avoid executing the query multiple times in the cases in which databinding would enumerate the source (or call `IListSource.GetList()`) more than once
- Future proof things for when we actually add DbSet.Local or equivalent.

[2015-08-21 16:26] rowanmiller commented on #1431
Proposed message:

Obviously we can add more info when we improve our databinding story (i.e. implement .Local).

[2015-08-21 17:35] divega opened #2894 "Perf: Add cold start coverage"
Our current performance tests focus mostly on performance of different pieces after warm up. We need more coverage that measures the cold start, e.g. loading EF and the provider, creating the model, etc.

[2015-08-21 17:38] divega opened #2895 "Perf: Add query compilation coverage"
Our current query performance tests all use warm up iterations so they should be hitting the query cache. We need some coverage that takes into account query compilation time. Ideally we should be able to detect regressions on the query cache as well, i.e. detect cases in which the same query executed more than once isn't resolved always from the cache.

[2015-08-21 17:50] divega opened #2896 "Exploratory testing: Cross-platform providers on .NET Core"
Currently we only own the System.Data.Common-based ADO.NET for SQLite and its corresponding EF provider. We should test (or keep testing) that it works across multiple platforms on .NET Core. As other providers become available we want to try them and help make sure things work great end-to-end.

[2015-08-21 17:52] divega opened #2897 "Test: SQL Server 2008 coverage"
Our functional tests usually run on recent versions of LocalDB. We want to support older versions of SQL Server including SQL Server 2008 so we should figure out a way (through automation or not) to have good coverage for it.

[2015-08-21 17:54] divega opened #2898 "Test: Azure SQL Database"
Our functional tests run every time against LocalDB. In the recent past we have found issues when running against Azure SQL Database only through manual testing. We should figure out a way (through automation or not) to improve our coverage of this scenario.

[2015-08-21 18:22] rowanmiller commented on #2891
This is limited to:
* Move interfaces to core
* Make anything relational specific an extension method
* Create a null implementation for in-memory

[2015-08-21 18:34] rowanmiller commented on #2872
@maumar the PR for this change is assigned to you to process

[2015-08-21 18:36] rowanmiller commented on #2870
@anpete presumably related to nav props and sub-queries. Just assigning to you to make sure it works when you have implemented the support.

[2015-08-21 18:37] ajcvickers opened #2899 "Design meeting notes - August 20, 2015"
# Error handling in Data Annotations

Data annotations are user-written code so any error in the usage of data annotations should be notified to the user. Since data annotations can be used by frameworks other than EF and may not specify the full configuration of the model, throwing an exception in all erroneous cases would just block the user.

Therefore whenever data annotations are used in an a

[2015-08-21 18:41] rowanmiller commented on #2589
@AndriySvyryd can you bring a proposal to the design meeting... or a corridor meeting in our corridor-less open space

[2015-08-21 19:15] gengzu commented on #1543
Have same issue... :(

[2015-08-21 19:25] axelheer opened #2900 "Clarification of IAsyncQueryProvider"
I'm confused about the new interface `IAsyncQueryProvider` compared to the old one (`IDbAsyncQueryProvider`). Apparently the non generic stuff has been dropped, the compliance with the BCL naming guideline of appending Async to async methods as well (`IAsyncEnumerable<T>`, `IAsyncEnumerator<T>`). Furthermore there are actually two interfaces, `IAsyncQueryProvider` and `IEntityQueryProvider`. :conf

[2015-08-21 23:00] mikary commented on #2498
Notes from #2758:
 - Cleanup in Query `DefaultQuerySqlGenerator`, renames based on new `RelationalCommandBuilder`
 - Look at removing `RelationalSqlExecutor` and moving `IRelationalConnection` into `SqlStatementExecutor` constructor dependencies
 - Use DI for `ParameterNameGeneratorFactory` in Query

[2015-08-21 23:04] mikary commented on #2558
Removed transaction suppression in #2758, will need to begin looking at it in light of new consolidated command building.

[2015-08-22 21:05] rswillis opened #2905 "No database providers are configured - best practice for initializing a DbContext from a test?"
[code]

Hi, while migrating my unit tests to beta6 I hit the following error:

"No database providers are configured. Configure a database provider by overriding OnConfiguring in your DbContext class or in the AddDbContext method when setting up services."

Could someone provide an example of how one should new up/configure a context when you don't have ConfigureServices() and DI as you do in Star

[2015-08-22 21:16] rswillis commented on #2905
moving this to stack.  Not a bug so much as a question.

would appreciate guidance...

http://stackoverflow.com/questions/32160858/no-database-providers-are-configured-best-practice-for-initializing-a-dbcontex

[2015-08-22 23:53] leus commented on #2861
As I see it, an ORDBMS built on top of EF would be *awesome*, but I don't see how it affects EF's development process if at all.

[2015-08-23 00:10] weitzhandler opened #2906 "Debug dnx . ef commands?"
Hi,

I'm developing a vNext project.

I was wondering if it's possible to attach a debugger to the `dnx . ef` command, so that when executing migrations, I can place a breakpoint at the `OnModelCreating` piece in my context.

I believe this feature doesn't exist, but do you think it would be a good idea? Is it easily achievable?

[2015-08-23 02:50] weitzhandler commented on #2267
This issue is a breaker.

[2015-08-23 02:52] weitzhandler commented on #247
Any workaround even temporary? Can's live with all subclasses being generated as separated tables.

Is there even a list to exclude base classes?

For instance I have TeacherBase and Teacher, and in fact don't want the TeacherBase at all as a table, I only need Teacher to be generated carrying all properties include the base class'.

[2015-08-23 06:08] issafram commented on #247
@weitzhandler, did you try the `NotMapped` annotation?

Maybe you are asking for TPC (Table Per Concrete Type), but that can get confusing with foreign keys in other tables.

[2015-08-23 12:18] weitzhandler opened #2907 "Avoid separate table for each base entity"
Hi,

I'm trying to subclass `IdentityDbContext` to support multi-tenancy. I want to implement something similar to [JSkimming's solution](https://github.com/JSkimming/AspNet.Identity.EntityFramework.Multitenant).

Anyway, generally if I have one `Person` and one `Teacher` and I have a `DbSet<Person>` in my context, two tables containing ALL the properties of both `Person` and `Teacher` are being g

[2015-08-23 12:18] weitzhandler commented on #247
I've opened a separate issue.
https://github.com/aspnet/EntityFramework/issues/2907

[2015-08-23 13:36] divega commented on #247
@rowanmiller this item seems to represent the inheritance work as a whole and it is assigned to the 7.0.0 release. Should it have a priority and an owner or should we close it?

[2015-08-23 14:02] divega commented on #2907
Inheritance support is still being worked on and depending on which build you are using you might get different levels of functionality. In fact we have only recently added [convention](https://github.com/aspnet/EntityFramework/pull/2839) and [configuration](https://github.com/aspnet/EntityFramework/pull/2800) support for discriminator columns in Code First.

@AndriySvyryd can comment on what the

[2015-08-23 14:06] weitzhandler commented on #2907
@divega
Hi Diego and thanks for your reply.
Unfortunately the `DbSet<Person>` is already declared in the base `DbContext`.
Besides, I don't want it NOT to be declared, I just want `TPerson` of `DbContext<TPerson> where TPerson : Person` to be initialized as table, all the base class' properties should be part of this one.

[2015-08-23 14:09] divega commented on #1449
Assigning this back to @ajcvickers for now.

[2015-08-23 14:15] weitzhandler commented on #2907
I'm sharing here my experiences:

https://gist.github.com/weitzhandler/f9ebca6936ed0489d42d

I can't finish off the multi-tenancy implementation, before the DB is up and running.

[2015-08-24 07:48] hkoestin commented on #2866
@rowanmiller Love to hear that the concept of transactions may be known to more (and not only relational) databases :smile:

[2015-08-24 10:13] mojtabakaviani opened #2908 "Can include and exclude model property for EntityState"
For example in mvc action when want edit model use

[code]

if use bind include/exclude or some property not in view, EF raise validation error or set null.
please add same BindAttribute in mvc to Entry method can easy assign properties that want updated.

[2015-08-24 13:13] clegendre opened #2909 "DbContext configured with an external DbConnection raises an exception when the DbConnection is already opened."
The issue: the DbContext tries to open the connection even if it is already opened.
This happens when we configure a DbContext with a DbConnection in a *Closed* state and then open the DbConnection outside of EntityFramework.
When the DbContext needs to use the DbConnection, it will call Open (or OpenAsync) on the abstract class *RelationnalConnection* without verifiying if the DbConnection is own

[2015-08-24 15:45] bricelam commented on #2906
Hmm.. [I asked xUnit.net](https://github.com/xunit/dnx.xunit/commit/5b310337f9057bab1d3f86d70edd4a2ffe295bf5) to add a `-debug` flag for similar reasons, but I'm not sure if debugging models and migrations is quite as common. You can always add the following to you code to get a debugger attached.
[code]

[2015-08-24 17:04] #2887 closed

[2015-08-24 17:20] #2835 closed

[2015-08-24 17:38] natemcmaster commented on #2899
The design notes are still empty... https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes--August-20,-2015. I would like to see what I missed last week.

[2015-08-24 17:44] rowanmiller commented on #247
Yep, changed title to reflect that we are implementing TPH for initial release (we have other issues on the backlog to track enabling other patterns).

Assigning to Andriy since he has the inheritance ball at the moment (for the model building work). We should keep this open until things work well end-to-end.

[2015-08-24 18:09] bricelam opened #2912 "Convert between StringBuilder and IndentedStringBuilder"
`IndentedStringBuilder` can't derive from `StringBuilder` since it's sealed, but we could have implicit conversion operators between the two.

[2015-08-24 18:40] rowanmiller commented on #2899
@natemcmaster just added the relationship API notes

[2015-08-24 18:47] natemcmaster commented on #2899
@rowanmiller So, no updates yet for [many-to-many](https://github.com/aspnet/EntityFramework/issues/1368) relationships?

[2015-08-24 18:52] divega commented on #2912
Would we use the conversions or is this just a nice to have?

[2015-08-24 18:55] divega commented on #2899
@natemcmaster not a v7 RTM feature.

[2015-08-24 19:54] bricelam commented on #2912
Just nice to have.

[2015-08-24 19:56] rhires opened #2914 "Separate Files for classes and context"
In the sample projects, the Models.cs class contains the context and the classes all in one file. While I can add a new class (e.g., "User") and add it to the context in this file and create a successful migration (both adding and applying), if I attempt the same operation where the class (my "User") as a separate file ("UserModel.cs"), the migration gets created, but the migration apply fails. I

[2015-08-24 20:01] natemcmaster commented on #2914
Moved here from https://github.com/aspnet/EntityFramework.Docs/issues/31

[2015-08-24 20:17] rhires commented on #2914
To reiterate: the only difference is that the class definition is in a different file. If the class definition is in the same file, the migration works. If it's in a different file, then it fails as above.

[2015-08-24 20:31] natemcmaster commented on #2914
@rhires thanks for posting here. Can you share a project that reproduces the issue? I could not reproduce on my own.

[2015-08-24 20:31] davidroth commented on #2899
How does WithOne distinguished between required and optional if ForeignKey properties are not used?

[2015-08-24 20:45] rhires commented on #2914
@natemcmaster I would be happy to share. A few things: how? And I'm worried I've merely done something wrong in my separate class file that is causing the error and isn't a bug at all. I'm not sure how to verify that. I won't be able to do any more until later this evening.

[2015-08-24 20:49] natemcmaster commented on #2914
@rhires As your project likely has too much code to post directly into this discussion thread, you could: zip the entire project up, and upload to Dropbox/OneDrive; create a GitHub repo with all files; or (if it's small) create a [gist](gist.github.com). Whatever way you choose, share a link in this thread.

[2015-08-24 22:07] roji commented on #2850
Sorry for disappearing for a while.

@ErikEJ, Contains provides only a subset of what can be done with SQL LIKE (consider 'a%b%c')

[2015-08-24 22:07] rowanmiller opened #2915 "Move classes that we don't expect app devs or provider writers to use to .Internal"
During API review we decided to be more aggressive about moving classes to `.Internal` namespaces when we don't expect folks to use them (rather than only moving things that we don't want to tidy up yet).

This reduces our "public" surface and allows us to focus on reviewing, documenting, avoiding breaking changes, etc. for the APIs that actually matter.

[2015-08-24 22:09] rowanmiller opened #2916 "Review design of ParameterNameGenerator"
It currently has two concerns:
* Generating unique names within a scope via `GenerateNext()`
* Adding prefixes etc. for externally provided names via `Generate(string name)`

We should either make it ensure uniqueness always (and possibly move `name` to be an optional `nameHint` parameter) or split the concerns out.

[2015-08-24 22:12] CreepyGnome commented on #246
Will this make it into Beta 7? Beta 8? RC? If not by RC I would assume it isn't making it by RTM.

This feature has been lacking since the beginning of EF and yet has been in competitive alternatives. Without this feature EF7 will still be at a competitive disadvantage.  This is a huge feature to allow people to create data models naturally for their domains without having to shoe horn them into c

[2015-08-24 22:13] roji commented on #2850
@divega, the approach looks great.

Regarding rule 2, it might be acceptable for some methods to throw NotSupportedException rather than trigger client evaluation which if they aren't supported by a specific provider. This may encourage more unportable code, but would be more fail-fast (i.e. an exception is better than hard-to-detect slowdown due to client evaluation).

Regarding rule 3, it seems

[2015-08-24 22:17] rowanmiller commented on #2899
@davidroth there is always a foreign key property... it just depends whether it is in your CLR class or in shadow state :smile:. We do have a sugar `.Required()` API on the relationship that just calls `.Required()` on the foreign key for you (whether it is CLR or shadow state).

[2015-08-24 22:20] rowanmiller commented on #246
@CreepyGnome correct, this one is triaged for post initial stable release. This would definitely fall into the bucket of features that means EF6.x will be the right choice for many apps for a while.

[2015-08-24 22:35] CreepyGnome commented on #246
First what do you guys mean by Complex Types here?

What I mean are the ones within the .NET Framework like IDictionary, ILookup, Money, etc. I wasn't worried EF7 supporting my POCO Entities and nesting Entities within other Entities. However now I am concerned.

Technically all Domain Models are nothing but a hierarchy of Custom Complex Types that we typically like to call POCOs. I would have to

[2015-08-24 22:49] npehrsson commented on #246
I thought this was value objects, value objects = complex type in ef6, not
sure why they didn't call it value object mapping. And I agree not
supporting this is a pain for us that want to use the beta.
On Aug 25, 2015 12:36 AM, "Rodney S. Foley" <notifications@github.com>
wrote:

[2015-08-24 22:59] #1431 closed

[2015-08-24 23:15] rowanmiller commented on #246
Hey,

Complex Type just means a class with no primary ke - i.e. it's just a way of organizing some properties that are part of the object it is referenced from. They have historically been called "Complex Types" in EF (before my time) but I think most folks would expect a value type to be immutable (which complex types are not - though you can make the property setters private to somewhat achieve

[2015-08-24 23:24] anpete opened #2918 "Broken doc comments"
Looks like some got broken after renames:

    /// <summary>
    ///     A <see cref="ReaderModificationCommandBatch" /> for providers which append an SQL query to find out
    ///     how many rows were affected (see <see cref="SqlGenerator.AppendSelectAffectedCountCommand" />).
    /// </summary>
    public abstract class AffectedCountModificationCommandBatch : ReaderModificationCommandBatch

"S

[2015-08-25 00:07] #1073 closed

[2015-08-25 00:09] divega commented on #2850
@roji Re rule 2 (client evaluation vs. throwing not supported for performance reasons), client evaluation is actually one of the value adds of EF7 and I don't think we can always assume that evaluating something on the client is going to be so expensive than it is better not to do it. It will most likely depend heavily on how many rows will be returned that wouldn't if the function had been evalua

[2015-08-25 00:27] CreepyGnome commented on #246
What you described as a complex type is broad and to support that would be difficult, unless supported the way EF6 claims to support a much more limited version of Complex Types definition.

I mean a Dictionary and other core classes, don't have ID's and yet are complex types but was never supported before in EF, but is supported by others ORMs.  If EF7 is only trying to be at the same level as EF

[2015-08-25 00:31] CreepyGnome commented on #246
@npehrsson Well the title is "Complex and/or value types" so they are show a clear distinction between the two.  Value Type here I would assume means structs (since they already support primitives), and Complex Types would mean every other type of object that doesn't have a primary key (aka entity). However it seems that Complex Type here may mean something more limited in this feature. Since the

[2015-08-25 00:56] divega commented on #246
@CreepyGnome We didn't mean structs although they could be structs. I think the correct title would be "Complex Types and/or values objects". I can fix that. We punted on the decision on whether we would just support "complex types" in the traditional EF sense or purer DDD-style value objects.

Will fix this as well, @rowanmiller feel free to make edits.

I don't think we currently have an issue f

[2015-08-25 01:29] divega opened #2919 "Rich collection support, e.g. Dictionary, Lookup, HashSet, ordered collections, etc."
We don't plan to support mapping to these for EF 7.0.0 RTM but this can go to the backlog.

[2015-08-25 01:30] divega commented on #2919
Based on feedback at https://github.com/aspnet/EntityFramework/issues/246#issuecomment-134423685.

[2015-08-25 01:30] divega commented on #246
@CreepyGnome I have created https://github.com/aspnet/EntityFramework/issues/2919 for rich collection support.

[2015-08-25 01:41] rhires commented on #2914
Actually, now that I look at the code, it's what is described in the walk-through [here] (http://ef.readthedocs.org/en/latest/getting-started/osx.html). The only differences are: I added a new file in the Models folder called UserModel.cs, and added this class:

    public class User
	{
		public int UserId { get; set; }
		public string Name { get; set; }
	}

And that is the only text in the class

[2015-08-25 05:31] ErikEJ commented on #2889
@bricelam Any progress on this?

[2015-08-25 07:12] ilmax commented on #2791
I would love to turn query tracking off for the entire DbContext, not for a DbSet only as in EF 6. The statements above isn't explicit about that.

This is useful for example when using different context instances for reads and writes.

Regards, Max

[2015-08-25 07:17] ilmax commented on #333
I would like to up-vote what @esditm suggested.

[2015-08-25 10:50] ErikEJ commented on #2850
+1 for the EF.Functions! Great discoverability, and no need to learn a new namespace

[2015-08-25 16:08] bricelam commented on #2889
I haven't dug into it yet. @victorhurdugaci any thoughts on why it doesn't "just work"?

[2015-08-25 16:37] #2832 closed

[2015-08-25 17:27] natemcmaster opened #2920 "Migrations generates unnecessary AlterColumn operation for SQLite"
Creating a new migration for a SQLite context will produce unnecessary AlterColumn operations even though the code definition has not changed.

**Repro**
1. Clone the code from https://github.com/aspnet/EntityFramework.Docs/tree/master/docs/getting-started/x-plat/sample
2. Using dnx 1.0.0-beta6, run `dnu restore`
3. `dnx . ef migration add ShouldBeBlankMigration`

**Expected**
Should generate an e

[2015-08-25 17:31] natemcmaster commented on #2914
I could not find an issue with putting the class definitions into separate files. However, I did find this issue https://github.com/aspnet/EntityFramework/issues/2920. This could be part of the problem you are encountering along with [the other known bugs](http://ef.readthedocs.org/en/latest/getting-started/osx.html#workarounds).

To workaround this, just delete the `.AlterColumn` migration operat

[2015-08-25 18:06] bricelam commented on #2912
Nevermind. I just realized `IndentedStringBuilder` was "internal".

[2015-08-25 18:31] bricelam commented on #2920
Doh, I should have thought of this case while doing #2859! I bet it's comparing attribute value references.

[2015-08-25 18:33] bricelam commented on #2889
Dug into it. The new CI only runs the `compile` target, not `test-compile`. I'll send out a PR shortly.

[2015-08-25 18:35] ErikEJ commented on #2889
:star:

[2015-08-25 18:47] victorhurdugaci commented on #2889
Oh... You have test packages that have to be published? Can you move them to `src`?
Build v2 will do `pack` on `src` and `compile` on `test` and `samples`...

[2015-08-25 18:50] bricelam commented on #2889
No, they don't belong in `src`; they're tests. :wink: I'll update our sake script to copy them to `artifacts` during compile.

[2015-08-25 19:03] bricelam commented on #2920
No wait, there's [already code for that](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Migrations/Internal/MigrationsModelDiffer.cs#L869). It must be something else...

[2015-08-25 19:05] bricelam commented on #2920
Ah, @ajcvickers did it in ea658e95e47aebf2efd0889888e536bcc811458a. It will be fixed in beta8.

[2015-08-25 19:11] natemcmaster commented on #2920
Ah yup. Just tested on newer bits.

[2015-08-25 20:04] rhires commented on #2914
@natemcmaster I was able to perform the "apply migration" after removing the .AlterColumn stuff. I see that you wrote up a much clearer bug and that it seems it was already dealt with and we should see the fix in a few beta updates. Cool!

[2015-08-25 20:49] anpete commented on #2900
Hi @axelheer,

Let me try and address these in turn:

1) WRT the non-generic stuff being dropped, we haven't needed it directly and have a strong preference for the strongly-typed APIs. Feel free to file an issue for this specifically and we can consider adding it.

2) Regarding the Async suffix, observe that this interface actually lives in one of our dependencies: Ix-Async. We are still using th

[2015-08-26 02:33] fradique commented on #1982
Something similar happening on beta6
after opening the newly created project from web site template, a non-empty migration is generated and cannot be applied:

System.Data.SqlClient.SqlException (0x80131904): Incorrect syntax near the keywo
rd 'IDENTITY'.
Incorrect syntax near the keyword 'IDENTITY'.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolea
n breakConnection

[2015-08-26 05:58] ErikEJ commented on #2889
@bricelam Will this fix also apply to the release feed at https://www.myget.org/gallery/aspnetrelease ? I think I need the packages in that feed in order to participate in the beta 7 release

[2015-08-26 10:09] salarcode commented on #107
How about the ability to change column name?
[code]

[2015-08-26 10:23] yukozh opened #2924 "Sqlite beta 6 query throwed an InvalidOperationException"
[code]

[2015-08-26 10:27] ErikEJ commented on #2924
I think you cannot do this:

    Title = x.Key.**Title**,

Until beta 7 (or maybe even beta 8)

[2015-08-26 10:36] Kagamine commented on #2924
Can I do that in SqlServer beta 6?

[2015-08-26 10:41] Kagamine commented on #2924
there is the same problem in this:

            ViewBag.Calendars = DB.Posts
                .Where(x => !string.IsNullOrEmpty(x.CatalogId) && !x.IsPage)
                .OrderByDescending(x => x.Time)
                .GroupBy(x => new { Year = x.Time.Year, Month = x.Time.Month })
                .Select(x => new {
                    Year = x.Key.Year,
                    Month = x.Key.Month,

[2015-08-26 11:28] hkoestin opened #2925 "Entity is still returned by DbSet<T>/Queryable<T> after Remove() on DbContext has been called"
I have the following test, which should verify, that within the same open DbContext and in a fresh DbContext, an aggregate is removed from the DB in background and not found anymore.

`store.StartTransaction|ReadScope` basically just opens a new DbContext and keeps this context alive for the using-scope.

[code]

Already the first assert after the Remove() method fails. The Entity is correctly mar

[2015-08-26 11:49] hkoestin commented on #2925
Update:
Currently, only the call to transaction.Commit() calls a SaveChanges() on the DbContext.

If I change it to the following, it works:
* StartTransaction() really starts a Transaction on the DbContext
* Put/Remove call SaveChanges() on the DbContext
* Commit() on the transaction calls a SaveChanges() + a CommitTransaction() on the DbContext

Is this the way it should be done?

[2015-08-26 13:06] hkoestin opened #2926 "DbSet<T> as Queryable has buggy enumerator?"
It seems, that in some special cases, the enumerator from the DbSet<T> (InternalDbSet) has a bug. It does not tell the same on calls to Any(), Count(), etc.

Whereas a call to Any() returns false, Count() returns 1, which is actually the truth.

I have introduced some methods on my database wrapper to allow the creation of a DbSet<T> at runtime for a certain type. Maybe that is the root of all evi

[2015-08-26 18:43] anpete opened #2927 "Query: Relational: Correlated client sub-query improvement ideas"
For queries that result in separate nested correlated sub-queries, we should try and parameterize the inner queries with the correlation values from the outer query. E.g.

This query:

[code]

we currently gen:

[code]

but we might be able to gen this:

[code]

[2015-08-26 18:51] smitpatel commented on #107
@salarcode - `ColumnAttribute` has been implemented already. You can change column name using the method you have mentioned. :smile:

[2015-08-26 18:53] roji opened #2928 "Ensure schema migration problematic to implement for PostgreSQL"
Creating a schema in PostgreSQL is done with [`CREATE SCHEMA`](http://www.postgresql.org/docs/9.4/static/sql-createschema.html). In order to implement the ensure schema migration, it is therefore necessary to first query the database. However, we can't execute queries within the context of a MigrationsSqlGenerator...

SqlServer doesn't have this issue because it can use `IF SCHEMA_ID(...)`.

(note

[2015-08-26 18:56] anpete commented on #2928
@roji Querying the database from the client while migrating is not an option because it breaks scripting. Can you gen the query in SQL and check the result inline?

[2015-08-26 19:14] justdmitry commented on #107
What about `Index` attribute? Defining non-unique indexes very popular/important feature. But I can't find issue about it.

[2015-08-26 19:23] roji commented on #2928
Well, I was wondering why schema creation isn't handled like all other migrations... For everything else we have CreateTableOperation, CreateSequenceOperation, but only schemas have EnsureSchemaOperation... Is there a specific reason?

I don't think PostgreSQL will support querying and checking the result, but if there's really no other choice I'll try to take a look...

[2015-08-26 19:31] axelheer commented on #2900
Thanks for the elaborate response!

It's a bit tedious -- every library / framework that builds on top of LINQ does its own async stuff, if at all. It would be nice to have some "standard" async LINQ, but I think it's to late for this anyway. :disappointed:

ad 1) I prefer strongly-typed APIs too, was just wondering since the "ordinary" LINQ API provides / requires both. Personally, I don't use th

[2015-08-26 20:20] adamkalicinscy opened #2929 "'$78_System.Reflection.MissingRuntimeArtifactException' in Unknown Module."
I have done everything from http://ef.readthedocs.org/en/latest/getting-started/uwp.html and everything works just fine in Debug.

In Release i have application crash with exception:

Exception thrown: '$78_System.Reflection.MissingRuntimeArtifactException' in Unknown Module.
Unhandled exception at 0x0FF132F9 (Windows.UI.Xaml.dll) in eftest46.exe:

I am using
    "EntityFramework.Commands": "7.0.0

[2015-08-26 20:36] bricelam opened #2930 "AsyncLock deadlocks - Remove AsyncLock"
A few of us have been seeing this in `EntityFramework.SqlServer.FunctionalTests`. The easiest way to repro is:

1. Drop all databases
2. Comment out `[assembly: CollectionBehavior(MaxParallelThreads = 15)]`in `AssemblyInfo.cs`
3. Run the tests

[2015-08-26 20:46] natemcmaster commented on #2929
This is because .NET Native support is not yet ready. See #623

As a workaround, uncheck the **"Compile with .NET Native tool chain"** option in your project settings.

![image](https://cloud.githubusercontent.com/assets/2696087/9505701/c43632ac-4bf8-11e5-8fc0-e321c2e1a763.png)

[2015-08-26 20:49] bricelam commented on #2928
The main reason is because we'll never scaffold a call to `DropSchema()`. We do this because there may be non-EF artifacts contained in the schema.

We only scaffold `EnsureSchema()` if a table or sequence has a schema that wasn't being used in the previous migration.

Most cases would work if you just implement it using `CREATE SCHEMA`. The case where it would fall down is:

1. Migration 1 adds `

[2015-08-26 21:03] #2739 closed

[2015-08-26 22:38] natemcmaster commented on #2897
Ran an initial test. Our functional tests make extensive use of SEQUENCE which is not supported in 2008.

[2015-08-26 22:44] maumar commented on #1767
Fixed in eeb26eaea19f42320c2c00928f1be9d5aa21ae16

[2015-08-26 22:44] #1767 closed

[2015-08-27 00:17] Kagamine commented on #2924
Oh, it seems that I cannot use string.IsNullOrEmpty() during querying.

[2015-08-27 03:55] diegoernestofarias opened #2933 "EF7 beta 6 LINQ where clause with related entity condition fails"
Hi guys,

I'm using EF7 beta 6 (code first), and I have this environment:

Country Entity:
![00-country](https://cloud.githubusercontent.com/assets/13974867/9512181/0f2d8718-4c55-11e5-8626-f68eb673dde5.png)

Region Entity:
![01-region](https://cloud.githubusercontent.com/assets/13974867/9512190/19ec3b40-4c55-11e5-9949-6e1f264289bd.png)

Model Builder fluent configuration:
![03-modelbuilder-fluent-

[2015-08-27 05:28] jhermsen opened #2934 "IEntityStateListener, entity.IsPropertyModified never returns true."
I implemented a StateListener with the IEntityStateListener, but wheter I check in StateChanging or StateChanged the IsPropertyModified on the entry never returns true even though original value and entity value defer in the StateChanging method.

[2015-08-27 05:34] andreyshv opened #2935 "No IDENTITY for primary key in SQL server"
I've created simple SQL Server db with entity:

[code]

generated script:

[code]

Isn't there should be **IDENTITY** token?

EF 7.0.0-bata8-15162  build

[2015-08-27 05:37] ErikEJ commented on #2897
Also OFFSET and FETCH will cause 2008 to break

[2015-08-27 05:59] MichaelKetting commented on #623
@natemcmaster Just figured out the Remotion.Linq feature request is related to EF. Should have known :)

Say, do you have any best practices for doing automated (regression) testing for .NET Native rd.xml? I'm thinking about figuring out who to create a .NET Native application and stuffing integration test code in there, then invoking the application as a process from my regular resting framework

[2015-08-27 06:03] divega commented on #2933
@diegoernestofarias thanks for the detailed report. The expression `r.Country.Name` in your original query refers to a navigation property. Navigation property translation is being worked on. Most of this functionality will light up in the upcoming beta7. Otherwise you can try to use our nightly builds.

[2015-08-27 06:06] divega commented on #2933
BTW, it would be great if you could try with a recent build and confirm that it works.

[2015-08-27 06:08] divega commented on #2933
Possible dupe of #325.

[2015-08-27 08:30] Kagamine opened #2936 "SQLite storing Chinese characters problem in beta 6"
<img width="907" alt="qq20150827-1 2x" src="https://cloud.githubusercontent.com/assets/2216750/9516089/ebc3cf38-4cd8-11e5-8bda-816df5b2cfb4.png">

After saving:

<img width="263" alt="qq20150827-2 2x" src="https://cloud.githubusercontent.com/assets/2216750/9516098/f9d7d614-4cd8-11e5-86ee-5c25da5f056b.png">

[2015-08-27 08:32] Kagamine commented on #2936
How to set the charset into utf8?

[2015-08-27 09:04] divega commented on #2925
@hkoestin whether you should call `SaveChanges()` after each individual change or wait until later depends on what behavior you want from your application, e.g. `SaveChanges()` typically wraps all changes sent to the database in a transaction, so either all changes will succeed or all will fail, so one criterion to decide when to call `SaveChanges()` is when you have completed a group of changes t

[2015-08-27 09:06] default0 opened #2937 "Inconsistent behaviour with Parent-Children Relations"
The following model has inconsistent behaviour when queried via LINQ with entities:

[code]

Given a simple Context like this:

[code]

And then adding some data to it (in my case, like this):

[code]

And then restarting the application (so the Query/Object-Cache is cleared) and then querying like so:

[code]

Outputs "true" for the added "Child" object.

However, querying like so:

[code]

Outpu

[2015-08-27 09:15] ErikEJ commented on #2937
If this is a EF6 issue, it is better to report it here http://entityframework.codeplex.com/workitem/list/basic , as this is the EF7 code repository

[2015-08-27 09:18] default0 commented on #2937
Has been done https://entityframework.codeplex.com/workitem/2809#
Might still be worthwhile to try a repro on EF7 and see if it's also an issue there, or if no one cares, this can be closed :-)

[2015-08-27 09:24] AndyNewland commented on #2266
Agree 100% with ToddThomson. This is another strong vote to add this feature ASAP. I think that TPH can be viewed as a SQL Server anti-pattern once the number of columns becomes unmanageable from a statistics and (more importantly) indexing viewpoint.

[2015-08-27 10:27] ErikEJ opened #2938 "Fix for #2889 not a complete solution"
Re #2889 - This issue has been closed, and I cannot reopen
The files are still missing on both feeds, assume we are just waiting on a successful build on the aspnetvnext feed, but will the test packages ever appear in the aspnetrelease feed for beta 7?

[2015-08-27 10:27] roji commented on #2928
@bricelam what you say makes sense, thanks for the explanation.

I guess since EF7 is "new tech" we can simply require PostgreSQL 9.3 or above, which has a clean `CREATE SCHEMA IF NOT EXISTS` syntax that can implement ensures. It seems better then to avoid this syntax and bomb in your 3rd migration above.

[2015-08-27 10:42] satyajit-behera commented on #2266
@rowanmiller Hi, now you can consider including this feature asap. There is really no alternative to this to model real world objects in business application.

[2015-08-27 10:47] roji opened #2939 "Status of the dbo schema for other providers"
I just wanted to make sure about the status of the "dbo" schema vis-à-vis other databases. The Npgsql EF6 provider used dbo as its default schema, which is definitely not idiomatic in PostgreSQL (which uses the "public" schema instead).

What are the guidelines for EF7? Is this totally a provider-specific question (in which case Npgsql will use "public" as its default schema)?

Sorry if this has b

[2015-08-27 12:42] kabua opened #2940 "All built-in conventions must be build from publicly available content!"
If one of the core ideas behind EF's code first, is the ability to build the database/model through the use of conventions then ALL the built-in conventions MUST be built using ONLY publicly available classes, properties, extension methods, etc. In other words, an external developer must be able to duplicate all the functionality of all the built-in conventions without being impeded.

The is a rea

[2015-08-27 14:13] diegoernestofarias commented on #2933
Yes is a dupe! Totally clear in the roadmap:
Navigation property translation allows dotting thru navigation properties in LINQ (e.g. Products.Where(p => p.Category.Name == "Food"))

I made an attempt to try a more recent build, but I could not, because in this moment I am working with "dnx451" and some of the assemblies that I need (EntityFramework.SqlServer and EntityFramework.Commands) are not b