[2021-09-24 13:10] jacobhjustice commented on #26141
It there any update on this? Really I just want to know how to do nested sums after a groupBy

[2021-09-24 13:18] ajcvickers commented on #4534
@jumpinjackie `AuthUser<TUser>.ExteraInformation` is marked as `NotMapped`. This tells EF that it should not be included in the model. You can map it by removing `NotMapped` and casting to the concrete type when configuring the relationship. For example:

[code]

[2021-09-24 13:55] ajcvickers commented on #26103
/cc @roji

[2021-09-24 13:57] ajcvickers commented on #26138
@andrewharry Can you comment on @maumar's question?

[2021-09-24 14:44] Dasein732 commented on #25818
Could you point me to a template or some docs on the subject? I haven't contributed anything yet so I'm not familiar with the flow. Thanks

[2021-09-24 15:39] jeremycook opened #26173 "Example of DbContext pooling without dependency injection in EF Core 6"
I read the following in Shay's [Announcing Entity Framework Core 6.0 Preview 4: Performance Edition](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-6-0-preview-4-performance-edition/) .NET Blog post.

Sounds great. I searched but was unable to find an example of this in action. Could you provide an example and/or add it to the docs, perhaps [here](https://docs.microsoft.com

[2021-09-24 16:28] ajcvickers commented on #26173
@jeremycook https://github.com/dotnet/EntityFramework.Docs/blob/main/samples/core/Miscellaneous/NewInEFCore6/PublicPooledDbContextFactorySample.cs

Some more docs coming soon.

[2021-09-24 16:52] guidupuy commented on #23830
This basically prevents the usage of `AutoMapper`'s `ProjectTo` with nested projections... what's the latest on this? Are we going to see a fix?

[2021-09-24 17:55] bricelam commented on #26070
Hmm yes, I agree we're handling the seed parameter incorrectly. We're currently passing it as *user data*, but as you've found, this is shared across all invocations of the function within a query. Instead, we need to pass it as part of the *aggregate context*.

We should consider adding a separate way to specify (and access) the user data when we fix this.

[2021-09-24 17:59] bricelam commented on #26070
Invocations in subsequent queries are probably also broken by this.

[2021-09-24 18:02] bricelam commented on #26070
It should work correctly if you change AggClass to a `struct`.

[2021-09-24 18:29] Krzysztofz01 commented on #26146
Here is a link to the repository with the prepared implementation and tests of my proposal.

[EFCore.QueryFilterBuilder](https://github.com/Krzysztofz01/EFCore.QueryFilterBuilder)

[2021-09-24 21:46] geetmenon opened #26175 "Why does Microsoft.Data.SqlClient.SNI.dll get published under runtimes?"
I have a .net core 5 library project (using VS2019) for my data layer which includes the following nuget packages:
Microsoft.EntityFrameworkCore.SqlServer" Version="5.0.8"
Microsoft.EntityFrameworkCore.Tools" Version="5.0.8"

When I build/publish my solution, I notice a "runtimes" folder with the following files underneath:
win-x64\native\Microsoft.Data.SqlClient.SNI.dll
win\lib\netcoreapp3.1\Micr

[2021-09-25 00:58] wzchua commented on #26070
It doesn't work with struct.

as a workaround I'm using something like this
[code]

[2021-09-25 05:11] ErikEJ commented on #26175
Those files are required to connect to SQL Server under with Windows.

[2021-09-25 08:07] ajcvickers commented on #26175
@geetmenon As @ErikEJ says, [Microsoft.Data.SqlClient](https://github.com/dotnet/SqlClient), the underlying ADO.NET data provider for SQL Server, has required dependencies, some of which are native DLLs for Windows. If these are problematic in some way, then feel free to follow up with the SqlClient team at https://github.com/dotnet/SqlClient.

[2021-09-25 09:53] cilerler commented on #25654
@ajcvickers, are you sure? It is not the case in my scenario. Did you hand-typed those, or did you test it?

[2021-09-25 10:04] ajcvickers commented on #25654
@cilerler I tested it and copy-pasted the generated code into here.

[2021-09-25 10:12] cilerler commented on #25654
thanks for the quick reply,
any idea why it may not generate it? _(by the way source database is Azure SQL, if that make any difference)_

[2021-09-25 10:15] ajcvickers commented on #25654
@cilerler Post the database schema for the tables you are scaffolding from and I'll take a look.

[2021-09-25 10:26] cilerler commented on #25654
[code]

[2021-09-25 14:09] ErikEJ commented on #25654
Lack of rights to the Azure SQL db, known issue.

[2021-09-25 17:01] craigbrown opened #26176 "Add-Migration configures non-nullable entity property as nullable after upgrade from EF Core 3.1"
I set up this code-first model with EF Core 3.1, with Nullable Reference Types enabled in my project:

[code]

When I did `Add-Migration`, the `Address` property of `Company` was correctly recognised as not nullable.

If I upgrade to either EF Core 5 or EF Core 6 Preview, making no other changes, and run `Add-Migration` again, I get this in the resulting migration class:

[code]

The `Address` pro

[2021-09-26 01:11] AlbertoPa opened #26177 "User's secrets are not used in the new templates in Net 6 RC1"
### Describe the bug
New web apps, apis and Blazor hosted applications created with the new templates do not use user's secrets set in secrets.json without manually adding:

[code]

after ``var builder = WebApplication.CreateBuilder(args);``.

### To Reproduce

Create a new web application, web api or Blazor hosted application which uses EF Core, so it requires a connection string, as an example p

[2021-09-26 01:12] davidfowl commented on #26177
This is an issue with the logic we added to resolve the service provider from the new top level statements based applications. I'm working on a fix.

cc @bricelam @ajcvickers

[2021-09-26 05:31] roji commented on #26103
@CameronAavik thanks for this!

For context, EF Core generally only constructs expression trees in places which aren't perf-sensitive. For example, we use expression trees to generate the shaper, which is the piece of code that reads back results from the database and materializes user .NET types out of them; this generation happens once when a query is first seen, and is then cached for later que

[2021-09-26 07:28] GSPP commented on #21446
Would it be possible to detect that the grouping parameter is unused and delete it from parts of the query? That would seem like a useful transformation that could enable a whole range of scenarios to work that previously were blocked.

[2021-09-26 07:50] TehWardy commented on #21446
That's not how it works.
If the grouping clause exists it's applied to the query else nothing happens.

[2021-09-26 09:52] Krzysztofz01 commented on #10275
Recently, I tried to work around the problem of being able to only use the last query filter. I have created an extension that allows the use of multiple filters and it is also possible to control which query filter is active with services injected into DbContext.

[EFCore.QueryFilterBuilder](https://github.com/Krzysztofz01/EFCore.QueryFilterBuilder)

Example:
[code]

[2021-09-26 10:49] ErikEJ commented on #10275
Feel free to add this to the extensions list in docs.

[2021-09-26 16:33] inlineHamed opened #26178 "How to setup a tsql code to be inserted in migration from OnModelCreating"
I'm writing a library that requires the final project to add some TSQL code in a migration to setup some database stuff (like triggers, ...)
Currently my solution is to document it somewhere to tell the final user to add an empty migration and inside that paste my desired code. I'm looking for a more automatic way so that the final user only add a call to a method that I wrote in his OnApplication

[2021-09-26 16:36] Dzivo commented on #10059
Ordering doesnt work if you have following structure:

[code]

[2021-09-26 16:45] TanvirArjel commented on #10059
@Dzivo Please add the migration output here.

[2021-09-26 16:51] roji commented on #10059
@Dzivo better yet, please open a new issue with the full details.

[2021-09-26 16:58] Dzivo commented on #10059
Just a sec i will make new project fast to see if it happens there

[2021-09-26 17:24] Dzivo commented on #10059
Here is whole example:

https://we.tl/t-cQLQ3E0pOA

it uses local docker sql server version
`docker pull mcr.microsoft.com/mssql/server`

But you can change connection string in startup.cs

[2021-09-26 17:47] richardjharding commented on #26163
yep - not spotted that, updated to latest ```6.0.0-rc.1.21452.10 ``` but get the same error with that image

[2021-09-26 17:54] roji commented on #26141
@jacobhjustice the above still isn't a runnable code sample - the model is missing. I've tried to recreate a runnable sample (see below) based on the info above, hopefully this matches your configuration.

With 5.0.10, this indeed generates a translation failure.
With 6.0.0-rc.1, EF does translate the query:

[code]

However, SQL Server errors on this query with:

[code]

Both PostgreSQL and Sqlit

[2021-09-26 18:37] JakeYallop opened #26179 "Using HasKey(...).IsClustered() generates invalid code inside database snapshot"
Runnable repro [here](https://github.com/JakeYallop/EFCoreIsClusteredRepro).

The following code  `HasKey(...).IsClustered()`:

[code]

Generates the following code for the database model snapshot after running `dotnet ef migrations add initial`:

[code]

Which throws the following error at compile time:

[code]

This build error also prevents the user from removing the migration without manually

[2021-09-26 18:42] roji commented on #26179
Duplicate of #26045

[2021-09-26 18:42] roji commented on #26179
This has been fixed for rc2, can you try a daily build and confirm that the issue is fixed there?

[2021-09-26 19:02] JakeYallop commented on #26179
Tested with the latest daily build and can confirm the issue is no longer reproduceable.

[2021-09-26 21:35] jacobhjustice commented on #26141
@roji  Thank you for the response. I apologize, I did not fully understand what you expected by a runnable code sample, but appreciate you taking the time to work through that.

It seems odd that SqlServer would have any issue with translating the query, especially since I can write a select on sum that is directly translated. I suppose this may mean my best approach would be to just write a SQL q

[2021-09-26 21:57] roji commented on #26141
@jacobhjustice with EF Core 6.0, you can achieve what you want with the following query:

[code]

In other words, instead of a nested Sum within a sum, simply flatten everything first and then perform a single Sum. I'd advise using EF Core 6.0.0 rc1 (which is production-ready version with a go-live license).

[2021-09-26 22:04] roji commented on #26178
I don't know what "SetupDbContextModel" or "OnApplicationModelCreating", but you seem to be looking to include raw SQL into the model configuration (e.g. OnModelCreating), so that it gets executed when migrations are executed.

The main issue with this is that the model represents a state (usable by the program), while migrations represent transitions between two model states. More concretely, wha

[2021-09-27 01:22] andrewharry commented on #26138
Hi Guys, I'm looking it from the perspective of avoiding breaking changes to a large existing .NET framework code base using EF 6.2.  We are using Oracle so migrating to EF 6.3 or greater (core compatible) is not an option for us.

Our code base doesn't consistently check the query parameters for nulls (which is what it should be doing)
But due to the previous behavior of EF6 it wouldn't actual re

[2021-09-27 08:45] stefangrasboeck opened #26180 "Support Collection types for Postgres Array operators"
It would be nice if ef-core supports using collection types for executing array operations on postgres.

[code]

[2021-09-27 08:51] stefangrasboeck commented on #26180
moved to correct repository: https://github.com/npgsql/efcore.pg/issues/2006

[2021-09-27 12:07] TanvirArjel opened #26183 "Update columns only for modified properties from disconnected entity."
I am querying the entity using one context instance and updating this entity using another context instance. The update is working fine but the problem is that it's generating the SQL update command for all properties even if there are no changes in values as follows::

[code]

Is there any way to use tracking of one context instance in another context so that the update command is generated only

[2021-09-27 12:43] smitpatel commented on #26167
Pollution of FromSqlParameterExpandingExpressionVisitor. Perhaps empty parameter list is throwing off the logic.

[2021-09-27 12:52] David-FGCS opened #26184 "Scaffolding wants to use a different database provider to my project"
## Ask a question

I am in the process of building a Asp.Net Core website with Razor pages, however whenever I attempt to use any of the scaffolding options that require a database context, one of two things happen.

Either A, the scaffolding process automatically installs 'Microsoft.EntityFrameworkCore.SqlServer' version 5.0.8, and downgrades 'Microsoft.EntityFrameworkCore.Tools' to version 5.0.8

[2021-09-27 12:52] pantonis opened #26185 "Warning Entity 'Role' has a global query filter defined and is the required end of a relationship with the entity in a Many to Many relationships"
## File a bug
I have the following model which has a many to many relationship between Role and Permission. Role implements a Global query filter (ITenant). I manually set the M2M relationship in dbcontext because I have an extra property between Role and Permission (IsGranted). I dont want to set ITenant on Permission since Permissions are the same for all tenants. (No reason to repeat lets say P

[2021-09-27 12:57] smitpatel commented on #26104
[code]
is the core issue.
The selector needs to be something which is a scalar single result value so it gets lifted in projection and ordering is applied afterwards which copies earlier select and they both ends up getting shared so earlier alias is gone from the tree.
Overlaps with #20291 #7776 #18775
Since this is debug only check, we can differ to next release.

[2021-09-27 13:08] smitpatel commented on #26147
SqlNullabilityProcessor is for providers only. Providers define the shape of SQL tree they support. IMethodCallTranslatorPlugin is for providers and extensions. But they cannot generate any SQL tree which is not supported by providers.

[2021-09-27 13:19] EvilVir commented on #26147
Hi, yeah I just have rewritten my custom functions to use just barebones expressions provided by EF itself and it works but took a little while to refactor and patch for newer version of EF. Anyway that's for the suggesstion.

As for "it's only for providers" thing. Well that's kind of artifical limitation right there. In my case I have, for example, string operators that are counting number of oc

[2021-09-27 13:26] smitpatel commented on #26147
Adding a custom SQL expression requires
- Creation of expression, non-provider just can new-up if they want.
- Assignment of type mapping properly to component and expression itself. This requires access to services and becomes little trickier. `ISqlExpressionFactory` is currently responsible for it.
- All visitors which processes Sql tree in some form which may need to interact with it. SqlNullab

[2021-09-27 13:29] EvilVir commented on #26147
Fair enough, thanks for explanation :)

[2021-09-27 13:59] Luigi6821 commented on #26038
I got your point  but,  I guess, for having static instances of different models I have to compile a set of classes for each different scenarios we want to support which can be virtually not definable for all our customers. In the EF6 solution I simply generate model for customer that is using it.

Regards
Luigi

[2021-09-27 14:46] roji commented on #26038
@Luigi6821 note that, as @ajcvickers wrote above, EF Core's compiled models feature is very different from EF6 EDMX models. EF Core compiled models are by definition pregenerated (at design time or at CI time), which is why they can speed up program startup; dynamically-generated EF6 EDMX models simply do not do the same thing.

So I think the fundamental question is what exactly you're trying to

[2021-09-27 14:58] t-dambacher opened #26186 "OnModelCreating is called twice when adding a new migration"
Hello,

I'm trying to add a new migration, through Visual Studio's Package Manager Console :

[code]

The `OnModelCreating` method is than called twice on my DbContext, instead of only once as it was previously in v5.0.10:
[code]
This is especially an issue to me, as data are now seeded twice instead of only once. We could change some things to make it work though, but it's a clear regression.

Th

[2021-09-27 15:36] Luigi6821 commented on #26038
The purpose is exactly to generate multi-tenant model per customer.  The EF6 solution, before the EDMX implementation, needed for each "run" more than one minute (we are talking about more than 600 entities), while now after the first run is ready in less then 2 secs. I remember that, till EF Core 3.1 version, compiling a model of more than 600 hundred table needed a lot of time.  The goal of this

[2021-09-27 15:37] rubens-lopes commented on #23534
Having the same issue on JetBrains Rider 2021.2.1, running on Windows 10

[code]

I've tried @roji suggestion, but it did not solve the error. :(

I can not share the repo since it is a corporate one.

[2021-09-27 16:14] alexthornton1 opened #26187 "Add an AutoRetry flag for Sqlite commands"
Presently, `Microsoft.Data.Sqlite` automatically retries commands when they fail due to SQLite indicating that the database is busy or locked.  I would like to have the ability to turn this behavior off explicitly.

As to the question of why I'm interested in this feature, I'm presently plugging `Microsoft.Data.Sqlite` (among other SQL implementations) into a higher-level database library that has

[2021-09-27 16:16] #18149 closed

[2021-09-27 16:23] cilerler commented on #25654
@ErikEJ, can you provide me a link that states the issue, please?
@ajcvickers I tested with the initial admin on AzureSQL, and it worked.  So clearly it is a permission issue, and I wonder what permissions it needs to retrieve DefaultValues; other than being SA, any lead appreciated.

[2021-09-27 16:46] mguinness commented on #10275
Since `OnModelCreating` runs only once and the model is cached, could the bool parameter contain something like
`accessor.HttpContext.User.IsInRole("Admin")` to enable only when user is in a particular role?  If so, this would be an easier way to manage global query filters.  I hope more people upvote this issue so it can be improved for the next release.

[2021-09-27 17:57] ErikEJ commented on #25654
@cilerler This is the related issue (notice that I have added a check for this to EF Core Power Tools) https://github.com/dotnet/efcore/issues/22842

[2021-09-27 17:57] Lobosque commented on #19328
Our modeling relies heavily on owned entities and we are also being affected by this shortcoming.

[2021-09-27 18:03] cilerler commented on #25654
![bitmoji](https://sdk.bitmoji.com/render/panel/c10864c1-2acd-4397-89d0-3a5667aab6d2-ccdabca3-9682-4342-aa5e-1222b8adc35f-v1.png?transparent=1&palette=1&width=246)

[2021-09-27 18:07] smitpatel commented on #25186
The issue is still present.
https://github.com/dotnet/efcore/blob/289e7a69b0c02f5569bbaf0ac353c21afde5e397/src/EFCore/Metadata/Internal/ForeignKey.cs#L687-L689

When changing required, the convention return new Fk to change deletebehavior to cascade but we don't pick up new FK and hence DeleteBehavior is applied on stale fk and lost.

[2021-09-27 22:41] #26084 closed

[2021-09-27 23:25] CameronAavik commented on #26103
Thanks for the reply, it seems that the perf benefit would not be that big then. For my usecase I was putting most of the logic of creating expressions in a non-perf sensitive path, and instead would have the expressions cached ahead of time. But I still had a few places I was creating expressions while building the cache key to use to get the compiled query. It seems though that in QueryCompiler

[2021-09-28 05:14] geetmenon commented on #26175
@ErikEJ,  if EFCore is using Microsoft.Data.SqlClient (which is still not fully migrated to .Net Core), then EFCore is not truly production ready.  The onus is on Microsoft to have this addressed at the earliest.

[2021-09-28 05:18] ErikEJ commented on #26175
It is fully migrated to .NET Core.

But under Windows (win-x64) it depends on some native components. This is not the case under Linux.

[2021-09-28 05:39] vocko opened #26194 "Allow generate inner join on Include"
As there is no (implicit) way to generate an inner join, it might be a good idea to add an optional second parameter (called ie. `force`) of type boolean to the `Include` method that would generate an inner join on that property. It would generate more efficient queries than sub-select on the where clause.

Not sure this hasn't been suggested before, you can reject it if not suitable for some reas

[2021-09-28 06:55] geetmenon commented on #26175
@ErikEJ,  you said `..But under Windows (win-x64) it depends on some native components. ..` .  So then please have Microsoft fix this asap.

[2021-09-28 07:21] ErikEJ commented on #26175
I do not work for Microsoft - but: fix what? What issue are you actually facing?

[2021-09-28 08:07] ZvonimirMatic opened #26195 "Can't generate a compiled model with keyless entity"
I was unable to generate a compiled model (https://github.com/dotnet/efcore/issues/1906) with the `rc1` version of EF Core. I installed the `rc1` version of .NET 6 and dotnet ef tool. I tried the same thing with `SqlServer` and `SqlLite`, both produce the same result. I was able to do this with the previous versions without a problem, and by [definition of the keyless entity type](https://docs.mic

[2021-09-28 08:17] ErikEJ commented on #26195
The navigation '' cannot be added because it targets the keyless entity type 'MyKeylessEntity'. Navigations can only target entity types with keys.

[2021-09-28 08:23] sungam3r opened #26196 "ObjectDisposedException after migration on net5"
See full repro here: [repos.zip](https://github.com/dotnet/efcore/files/7242283/repos.zip)

Works well on netcoreapp3.1 but yields `ObjectDisposedEsception: cannnot access a disposed context instance. A common cause ...` on net5.
___
netcoreapp31: 6 tests passed
net5: 5 tests passed, 1 test failed (warmup DbContextPool **after** services)

[2021-09-28 08:28] Krzysztofz01 commented on #10275
Sure, the only thing you need to do, is inject the `IHttpContextAccesor` service into `DbContext`, or a even better approach is to create a wrapper for the `IHttpContextAccesor` and create methods like: `IsAdmin()` etc.

[2021-09-28 08:34] chassq opened #26197 "System.ArgumentNullException: Value cannot be null. (Parameter 'name')"
The ef core scaffold works fine in our dotnet 5 project pointed to the same database. We upgraded to dotnet 6. We installed the latest global tools per the package references. We do use temporal tables just fyi.

When trying ef core dotnet 6 we get the following:

Packages:
We did try removing the handlebars package and the Microsoft.EntityFrameworkCore as they are not needed in our case it seems

[2021-09-28 08:34] ajcvickers commented on #26175
@geetmenon It is by-design that Microsoft.Data.SqlClient using native code on Windows. There is no requirement that .NET Core be fully managed. Several components use native code on various platforms. For example, Microsoft.Data.Sqlite uses native code everywhere.

[2021-09-28 08:38] ZvonimirMatic commented on #26195
@ErikEJ but `MyKeyfullEntity` doesn't have a navigation that targets `MyKeylessEntity`. The navigation is defined on the keyless entity, which shouldn't be a problem. By [definition](https://docs.microsoft.com/en-us/ef/core/modeling/keyless-entity-types?tabs=data-annotations), these are keyless entity constraints:
- They may never act as the principal end of a relationship.
- They may not have nav

[2021-09-28 08:42] sungam3r commented on #26196
UPDATE: if comment `using (var scope = _provider.CreateScope())` in `ServicesWarmUpModule` and change `scope.ServiceProvider.GetServices(serviceType);` to `_provider.GetServices(serviceType);` then all tests passed. I think that the cause of problem is inner scope - `WarmUpExtensions.WarmUp` method has already created scope: ` using var scope = provider.CreateScope();` so all code inside alll warm

[2021-09-28 10:34] MohamedRoshdyp commented on #18593
Go To Startup.Cs File and then Convert decimal To double This way must be executed

 protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            base.OnModelCreating(modelBuilder);
            modelBuilder.ApplyConfigurationsFromAssembly(Assembly.GetExecutingAssembly());
            if (Database.ProviderName == "Microsoft.EntityFrameworkCore.Sqlite")
            {

[2021-09-28 11:28] ajcvickers commented on #24222
Duplicate of #24840

[2021-09-28 11:30] ajcvickers commented on #26154
This is covered by #4038, which we are considering for EF Core 7.0.

[2021-09-28 11:41] ajcvickers commented on #26165
@isgori3 We don't think you should be seeing this with SQL Server 2019. Some things you can check:
* Are you running SQL Server with a compatibility mode that makes it behave like and earlier version?
* Do you have restricted permissions which might be preventing you from looking at system tables?

[2021-09-28 11:43] ajcvickers commented on #26167
@smitpatel and/or @roji Can one of you take a look at this for 6.0.

[2021-09-28 11:49] ajcvickers commented on #25182
@smitpatel @JeremyLikness Any update here?

[2021-09-28 11:49] ajcvickers commented on #26037
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-09-28 11:57] ajcvickers commented on #26140
@Psypher9 We're open to it. I have added the `hacktoberfest` topic to this repo. However, if things go sideways again, then no promises; we'll deal with as best we can.

[2021-09-28 11:59] ajcvickers commented on #26163
/cc @bricelam

[2021-09-28 12:07] ajcvickers commented on #26183
@TanvirArjel Attach the entity first, then change the properties. Calling Update marks all properties as modified. This is the easy way to ensure everything that has changed gets saved. On the other hand, calling Attach marks no properties as modified. If you then change the properties, EF will detect those changes and mark only those properties as modified.

[2021-09-28 12:09] ajcvickers commented on #26184
@David-FGCS Please post the full command that you are using to scaffold, including all arguments and options.

[2021-09-28 12:12] TanvirArjel commented on #26183
@ajcvickers I am aware of this. But how would you achieve this with repository pattern? when you have to  make changes even before calling attach or update.

Please look at my code.

[2021-09-28 12:18] ajcvickers commented on #26183
@TanvirArjel I don't see anything in your code that precludes you from doing this.

[2021-09-28 12:26] TanvirArjel commented on #26183
@ajcvickers I am calling the `await _commandRepository.UpdateAsync(employeeToBeUpdated);` with changes  so calling `Attach()` method inside `_commandRepository.UpdateAsync` would not make any effect. Maybe you proposing something as follows:

// Getting the entity using one repository (one context instance) as follows:
Employee employeeToBeUpdated = await _queryRepository.GetByIdAsync<Employee>(em

[2021-09-28 12:30] ajcvickers commented on #26183
Yes.

[2021-09-28 12:34] TanvirArjel commented on #26183
@ajcvickers This option would not help. It would have been great if there is an option to configure the tracking across context instances in scope lifetime.

[2021-09-28 12:35] David-FGCS commented on #26184
@ajcvickers For the most part I am initiating it from the right click menu, so right click 'Pages' folder > Add > New Scaffolded Item. I have tried using the cli but get the same error.

[code]

[2021-09-28 12:39] ajcvickers commented on #26183
@TanvirArjel There is nothing to do this. I would not recommend using two context instances like this; it defeats EF Core change tracking. You can of course find every modified property on the first context instance and mark the same properties as modified in the second context. But that's not something we're going to do automatically.

[2021-09-28 12:41] ajcvickers commented on #26184
@David-FGCS This is ASP.NET scaffolding; moving to the appropriate repo. I suspect ASP.NET scaffolding doesn't support MySQL.

[2021-09-28 12:43] TanvirArjel commented on #26183
Got your point. But you said:

I shall be very happy if you show me a small example with the code. It should fix my issue.

Thanks in advance.

[2021-09-28 13:23] isgori3 commented on #26165
Not my SQL Server is run normal
What means about restricted permissions ? User on Windows or User on SQL Server, in SQL Server has all the permissions for connect, select, delete, update and alter, and I'm using windows authentication

[2021-09-28 13:29] hmdhasani commented on #26178
You are right about the change problem. let's say it's my responsibility to write my raw query in a way that it will handle changes itself. For example in create trigger case, I will place 'DROP Trigger IF Exists' before my command.
let's say the exact query will be a part of model states. Something like RelationalIndexBuilderExtensions.HasFilter() where any changes in the 'sql' param will result

[2021-09-28 13:35] ErikEJ commented on #26165
Can you try to run this SQL when connected to your database (replace name with the actual name)

[code]

[2021-09-28 13:52] ErikEJ commented on #26165
@isgori3 Compatibility level 90 (SQL Server 2005) is not supported by EF Core, you must be at least at 110 (SQL Server 2012), which is the oldest SQL Server version still in support.

[2021-09-28 14:04] ErikEJ commented on #26165
Restore from a backup?

[2021-09-28 14:10] isgori3 commented on #26165
Not this database is new, I installed the SQL Server 2019,  created database and tables and gave me that error maybe in the installation I missed something?

[2021-09-28 14:22] ErikEJ commented on #26165
Restore from a backup?

[2021-09-28 14:23] ErikEJ commented on #26165
Some script or user set the compability level to 90...

[2021-09-28 14:26] isgori3 commented on #26165
![image](https://user-images.githubusercontent.com/83226165/135106748-1eaf6590-6b21-4dac-b2b7-f360ca4546c8.png)

I checked, and I only have the access to modify to these versions, so I don't know

[2021-09-28 14:29] ErikEJ commented on #26165
I am guessing you are not running SQL Server 2019 then!

SELECT @@Serverversion

[2021-09-28 14:30] roji commented on #26038
May I ask why you're using compiled models? How big is the model for a single tenant, and what kind of speedup are you seeing for it when using compiled models?

[2021-09-28 14:46] isgori3 commented on #26165
You are right, I need to check the installer I have, thank you!!

[2021-09-28 14:50] smitpatel commented on #26195
Duplicate of #26073

[2021-09-28 14:51] smitpatel commented on #26197
Duplicate of #25773

[2021-09-28 14:58] chassq commented on #26197
Thank you!

[2021-09-28 15:13] AndriySvyryd commented on #25186
We need to start a convention batch and track the FK when the conventions need to run

[2021-09-28 16:08] geetmenon commented on #26175
We understand this @ajcvickers . However we did not run this issue when we were using EF6.  Now that we are migrating to EF Core, why is there a dependency now on a native dll? We are now being forced to change our builds to push the files in win-x64\native and win\lib folders under runtimes folder because of this constraint.  So why is that EFCore has an indirect dependence on a native library wh

[2021-09-28 16:17] ajcvickers commented on #26165
Thanks for helping here, @ErikEJ.

[2021-09-28 16:18] smitpatel commented on #26167
Issue is that the SelectExpression with FromSql doesn't have any projection so we in-place mutate and the cache is polluted with modification. Our logic for in-place mutation is dependent on projection atm. Changing that logic could be risky. A way to fix without changing current logic would involve putting a hack with new internal API to avoid in-place mutation.
The issue happens with Any only an

[2021-09-28 16:18] ErikEJ commented on #26165
I had to make it make sense 😹

[2021-09-28 16:27] ajcvickers commented on #26175
@geetmenon The native code shipped with .NET Framework.

[2021-09-28 16:48] geetmenon commented on #26175
Thanks for this information @ajcvickers! Will check in `dotnet/core`  repo if they have any information/clarification on this.

[2021-09-28 16:56] ajcvickers commented on #26196
@sungam3r The DbContext is disposed when the scope is disposed. This is expected behavior; I'm not sure why it wasn't doing that in 3.1, but the 5.0 behavior looks correct to me.

[2021-09-28 16:59] ajcvickers commented on #26175
@geetmenon This is all by-design. Microsoft.Data.SqlClient is shipped from [dotnet/SqlClient](https://github.com/dotnet/SqlClient), so if you do want to follow up more, then that would be the best place to start. However, nothing will change here, other than long-term plans to make Microsoft.Data.SqlClient fully managed.

[2021-09-28 17:00] dylinmaust commented on #26014
This may be a stupid question but how can I install the nightly version? Or do I have to wait for RC2? The latest I see on NuGet is 6.0.0-rc.1.21452.10. I've added temporal tables and just stumbled upon this issue.

[2021-09-28 17:02] ajcvickers commented on #26014
@dylinmaust See https://github.com/dotnet/efcore/blob/release/6.0/docs/DailyBuilds.md

[2021-09-28 17:44] ajcvickers commented on #26186
@t-dambacher OnModelCreating is not an appropriate place for such a hook. There are several reasons why EF Core may need to build the model more than once when running an application. For example, the model will be built again whenever EF needs to create a new internal service provider for the context instance.

@AndriySvyryd @bricelam This happens because we now build the model twice inside `AddM

[2021-09-28 18:29] ajcvickers commented on #26176
@AndriySvyryd @roji I am able to reproduce this. The Customer.AddressId FK is required in 3.1.19, but optional in 5.0.10 and 6.0 when NRTs are enabled. When NRTs are disabled, the FK is nullable in both cases.

I suspect it is because of this: [Required on the navigation from principal to dependent has different semantics](https://review.docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/bre

[2021-09-28 18:47] sungam3r commented on #26196
I use `DbContextPool` (or `IDbContextPool` for net5), not `DbContext` directly. When "disposed" `DbContext` just returned (_should be_ returned as I would say) to this pool. But for net5 when I call `IDbContextPool.Rent` method it for some reason returns destroyed `DbContext` object which is obvious wrong.

[2021-09-28 18:49] ajcvickers commented on #26169
Note for triage: we should investigate this. It happens with a default web application in 6.0 rc1. I suspect two things are going on:

1. IConfiguration is not available in the service provider. EF Core named connection string support depends on this.
2. We throw a NullReferenceException instead of the better exception we used to throw in 5.0

This is the 5.0 exception:

/cc @davidfowl @bricelam

[2021-09-28 18:55] ajcvickers commented on #26196
@sungam3r Can you post a simple repro that shows this? The sample you have is very convoluted. Also, the way context pooling works was changed in 5.0. If you were relying on directly using the pool methods instead of relying on D.I. to do its thing, then the behavior may have changed. See https://github.com/dotnet/efcore/pull/21431. That being said, there may be a bug, so a simple repro would be u

[2021-09-28 19:03] sungam3r commented on #26196
Well... I already cut off from production code all non-related things from code to demonstrate this bug.

I did not expect that this example will seem complex. I will try to make it even easier, but it will take time.

[2021-09-28 19:05] ajcvickers commented on #26196
@sungam3r You said:

What I'm looking for is an example of when this happens that doesn't involve the "warm-up" stuff which is very convoluted.

[2021-09-28 19:12] davidfowl commented on #26169
dupe of this https://github.com/dotnet/efcore/issues/26177?

[2021-09-28 19:15] ajcvickers commented on #26169
@davidfowl Could be. How is the fix coming?

[2021-09-28 19:17] davidfowl commented on #26169
I have a branch but I can't figure out how to test it.

[2021-09-28 19:20] ajcvickers commented on #26162
@AndriySvyryd I am able to reproduce this in 5.0 and on latest daily. It appears to happen when there are multiple one-to-one relationships between two entity types, and one of those relationships uses the PK as its FK.

[2021-09-28 19:22] ajcvickers commented on #26169
Point me to the branch and I'll take a look.

[2021-09-28 19:35] sungam3r commented on #26196
[Solution1_net50_simpler.zip](https://github.com/dotnet/efcore/files/7246812/Solution1_net50_simpler.zip)

[2021-09-28 19:36] billybraga commented on #23853
We have this problem in our project. We have a separate project for our EF and API. We want to use a different build folder for linux and windows to allow us to build using wsl on the same folder as windows. We added this to our Directory.Build.Props:

[code]

But since `--msbuildprojectextensionspath` is applied to both `project` and `startupProject` in `RootCommand.cs` (and without env var repla

[2021-09-28 19:37] ajcvickers commented on #26157
This is not down to NRTs directly, but rather whether or not the navigation to the owned type is configured as required or not. Making it explicitly required results in the same behavior:

[code]

/cc @smitpatel

[2021-09-28 19:40] ajcvickers commented on #26061
@geetmenon We discussed this, but it is not something we plan to change. Customization of this is covered by #4038, which we are considering for EF Core 7.0. Also, it's possible that @ErikEJ's EF Core Power Tools may have better support for this.

[2021-09-28 19:50] sungam3r commented on #26196
[Solution1_net50_the_simplest.zip](https://github.com/dotnet/efcore/files/7246886/Solution1_net50_the_simplest.zip)
@ajcvickers done

[2021-09-28 19:59] smitpatel commented on #26157
While the "owned type" is required, it does not contain any properties to distinguish if the instance exists or not. Hence even though an instance of "baz" was "saved" to database, there is no way to query it back. This is by-design. Refer to https://github.com/dotnet/efcore/issues/23564

[2021-09-29 03:33] davidfowl commented on #26169
Here https://github.com/dotnet/efcore/pull/26198

[2021-09-29 04:15] omfgicbf opened #26199 "Add support for AT TIME ZONE"
I'm trying to use `HasDbFunction` and `HasTranslation` to make use of the SQL `AT TIME ZONE` clause.

I have the following in `OnModelCreating`:

[code]

Which is intended to translate calls to the following extension method:

[code]

If I try to query using this extension method like this:

[code]

Instead of the `ToTimeZone` method being translated, the method itself seems to be called and I get

[2021-09-29 04:30] shubhambothara commented on #23830
Any updates on this?

[2021-09-29 05:21] t-dambacher commented on #26157
My bad, I used a too simple example here. If I add a required property:
[code]

And the mapping then becomes:
[code]

The issue still occures, and nothing is returned from the db.

[2021-09-29 07:05] ZvonimirMatic commented on #26073
Is this fix going to be available in `RC2`?

[2021-09-29 07:11] ajcvickers commented on #23830
@shubhambothara @guidupuy This issue is in the Backlog milestone. This means that it is not planned for the next release (EF Core 6.0). We will [re-assess the backlog](https://docs.microsoft.com/ef/core/what-is-new/release-planning) following the this release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing

[2021-09-29 08:29] alexyakunin opened #26202 "ObjectDisposedException on retrieval of a pooled DbContext"
EF Core version: 6.0.0-rc1
Database provider: any
Target framework: .NET 6.0
Operating system: any
IDE: any

https://github.com/dotnet/efcore/blob/release/6.0/src/EFCore/DbContext.cs#L902 - looks like `_disposed` field should be set to `false` here instead (and in the *Async version of the same method). The existing code causes any `DbContext` that was returned back to the pool to throw `ObjectDis

[2021-09-29 08:30] Garios commented on #17936
I have to be more precise:

On MSSQL the query will actually be optimized, but only in simple cases. If there is a "TOP N"- with an "ORDER BY"-Command in the subquery, then MSSQL won't optimize the query. MSSQL then makes a horrible table-scan!

The old EF6 does it right!

Setting an unnecessary index is bad practise! Especially it won't hit the whole query-conditions, because the query-conditions

[2021-09-29 08:32] alexyakunin commented on #26202
The workaround that worked in my case: https://github.com/servicetitan/Stl.Fusion/pull/342/commits/e9a15089fcf864b15a68e2b47c4a5e6d9ca7c2f4#diff-689ef356756e09d3174675ad4ef6f1624dd07edfb435efe0dc2f21203d20cd66

[2021-09-29 08:52] iampratishtha commented on #25995
The problem is, our code is not open source and I cannot share it directly.
I am checking with my team how we can share the code without any breach, this might take some time.

[2021-09-29 09:10] roji commented on #26202
@alexyakunin can you please submit a runnable code sample which shows exactly what you're doing to to get the ObjectDisposedException? The minimal code below works without any exceptions.

<details>
<summary>Attempted repro</summary>

[code]

</details>

[2021-09-29 09:33] archanasoni opened #26203 "Getting NullReferenceException when calling ExecuteSqlRaw(...) api using IBM EF Core provider"
Hi,

We are trying to support NET6 via IBM EF Core provider. We upgraded IBM EF Core provider to target MS EF Relational rc1 pkg. While testing we could figure out all testcases having call for ExecuteSqlRaw(..) api is failing with NullReferenceException:

[code]

On debugging Relation layer we could figure out that cause of this exception is  contextOptions argument of RelationalCommandDiagnostic

[2021-09-29 09:54] alexyakunin commented on #26202
A short note about your code: I'd at least add a check that the second context is actually the same as the first one - otherwise you won't see the problem. I didn't dig into the pooling strategy, but since what's returned is actually up to the pool, it makes sense to at least check if the second attempt to rent the context produces the same instance.

[2021-09-29 09:57] alexyakunin commented on #26202
One other thing is: I ended up thinking it's really a bug after I asked Rider to find every usage of `DbContext._disposed` field & noticed there is no single assignment of a `false` value there.

[2021-09-29 10:01] alexyakunin commented on #26202
Finally, it worth mentioning I saw the bug on this test:
- https://github.com/servicetitan/Stl.Fusion/blob/net6/tests/Stl.Fusion.Tests/PerformanceTest.cs

Basically, it creates lots of DbContexts concurrently.

The service it uses: https://github.com/servicetitan/Stl.Fusion/blob/net6/tests/Stl.Fusion.Tests/Services/UserService.cs

And the `IDbContextFactory` configuration: https://github.com/servi

[2021-09-29 10:02] alexyakunin commented on #26202
+ The fix I referenced above killed all `ObjectDisposedException`-s, and the same test runs fine on .NET 5 build (with EF Core 5.*).

[2021-09-29 10:42] CTGControls commented on #24417
Our application uses this parent(header)/child architecture for change tracking. We don't update or delete we only create new child items. In the above example we are trying to get the newest revision of "_modelHeader -> orderParts[0] -> customerParts". I know we could make multiple database calls to get this data, but in our architecture the the network latency is the slowest point. So the lowest

[2021-09-29 11:28] roji commented on #26202
That is what the outputting of the ContextId is about; the two GUIDs are identical, meaning that the same context instance is being reused.

SetLeaseInternal sets _disposed to false. The way context pooling works is that when the context is disposed, it is placed more or less immediately back into the pool. Before it is handed out again (e.g. from PooledDbContextFactory.CreateDbContext), its state

[2021-09-29 11:39] Dzivo commented on #10059
Did you take a look at it ?

[2021-09-29 14:01] smitpatel commented on #26157
This is required dependent so it should always materialize. Need to check if relational model built is correct for this scenario. Query shouldn't be doing anything fancy.

[2021-09-29 15:26] tylermichael opened #27787 "dotnet-ef needs to multi-target (3.1 and 6)"
I'm trying to get x64 and amd64 to play nicely together on my machine.

I've followed the steps [here](https://github.com/dotnet/installer/issues/11164#issuecomment-896993092) and so far things seem to be ok for normal usage.

However, when I run this I get:

[code]

dnx64 is `alias dnx64="/usr/local/share/dotnet/x64/dotnet"`

I installed the ef tool with dotnet 6 arm64 version.

[code]

The dotne

[2021-09-29 16:43] begerard commented on #26194
I'd also add that if your .Include() have a constraint you need to repeat it in the .Any():
[code]

Which smell quite badly (if you change one contraint but not the other you just introduced a bug) so in definitive you are better off to do it out of the query like that:
[code]

I found this to be a common use case, and the present choices are:
- bad code (smelly C# and slow SQL)
- overloading data

[2021-09-29 16:56] AndriySvyryd commented on #26073
@ZvonimirMatic No, you'll need to wait until 6.0.0 (GA) or use a daily build.

[2021-09-29 18:04] ajcvickers commented on #26199
/cc @maumar

[2021-09-29 18:05] smitpatel commented on #26194
Duplicate of #24955

[2021-09-29 18:07] smitpatel commented on #26185
There is no many-to-many relation in the model. Model has one-to-many relation between Role & RolePermission configured by below code.
[code]
Hence warning is accurate. The exception message has details on how to deal with it.

[2021-09-29 18:11] pantonis commented on #26185
@smitpatel there is a many to many relationship between Role and Permission. I manually configure it instead of using collections on both models because IsGranted exists on the relationship. The exception states that I need to add TenantId into Permission. As i stated there is no need to repeat same permissions for all tenants

[2021-09-29 18:15] smitpatel commented on #26185
There are 2 one-to-many relationship in the model. While it may give the same effect and look like many-to-many, in the model and database there are actually 2 one-to-many relationships only. (Many to many cannot be modeled in relational database directly.). So either you would need to set up filter on RolePermission also or if you believe that your data would be accurate without adding that filte

[2021-09-29 18:17] ajcvickers commented on #26169
Note a dupe. The issue here is that we started TryAdding design time services, which is good since it allows for overrides. However, it meant that for INamedConnectionStringResolver we were not replacing the runtime service, which then null-reffed at design time. Fix is to make them different services so one does not have to override the other.

[2021-09-29 18:32] ajcvickers commented on #26088
We should also consider when and when not to use Skip.

[2021-09-29 18:37] ajcvickers commented on #26167
Note from triage: we should at least throw better exception and point to workaround if other options are too risky for 6.0.

[2021-09-29 18:42] smitpatel commented on #26088
We should consider when and when not to use Task.CompletedTask.
Skip should be only used for test which we intend to fix in future.

[2021-09-29 18:52] ajcvickers commented on #26176
Update: This is fixed in RC2.  Duplicate issue: #23588.

Model:

[code]

[2021-09-29 18:53] ajcvickers commented on #26176
@AndriySvyryd Should we still update the docs?

[2021-09-29 19:06] ajcvickers commented on #26203
@archanasoni Likely because you are attempting to consume `IRelationalCommandDiagnosticsLogger` which is scoped from a singleton service. Make sure your provider services are all added with the same D.I. scope as in the EF and relational layers.

[2021-09-29 19:39] ajcvickers opened #26206 "Scaffolding many-to-many does not initialize skip navigations"
This is inconsistent with non-skip navigations and causes NRT warnings. For example

[code]

[2021-09-29 19:40] ajcvickers commented on #26206
@smitpatel Assigning to you in 6.0, as mentioned in triage.

[2021-09-29 19:42] ajcvickers opened #26207 "Scaffolding many-to-many creates excessive new lines in OnModelCreating"
No need to fix for 6.0. We'll probably argue about the formatting anyway.

[code]

[2021-09-29 20:03] ajcvickers opened #26208 "UsingEntity overloads could be more helpful at matching the by-convention configuration"
### Fully by-convention

[code]

[code]

Ideally, all the following would generate the same model as above, except with an explicitly join entity type.

### Just explicit join type

[code]

[code]

### Explicit join with composite PK defined

[code]

[code]

### Navigations added to join

[code]

[code]

[code]

[2021-09-29 20:04] ajcvickers commented on #26208
@AndriySvyryd For your consideration.

[2021-09-29 20:16] ajcvickers opened #26209 "Value conversion to null in the store generates bad queries"
Note that this could be another reason not to convert nulls. I don't expect us to do anything about this in 6.0. Maybe ever.

Value converter replaces nulls in the database with non-value in the model:

[code]

Query:

[code]

Generates SQL:

[code]

Which generates no results because nothing is equal to null in SQL.

Full repro:

[code]

[2021-09-29 20:22] ajcvickers opened #26210 "Value conversion from null in the store generates bad queries"
Similar to #26209, but in this case conversion is _from non-null in the database to null in code_.

Note that this could be another reason not to convert nulls. I don't expect us to do anything about this in 6.0. Maybe ever.

Value converter replaces zeros in the database with null in the model:

[code]

Query:

[code]

Generates SQL:

[code]

Which is checking against null, even though null Owner

[2021-09-29 21:32] smitpatel commented on #26157
"In-Memory" bug. 🤦🏻

[2021-09-29 21:34] smitpatel opened #26214 "InMemory: Owned navigation for required dependent can generate join"
In #26213 we are making it always generate left join since inner join would dependent on owner's nullability which is not available right now in the method which determines join vs left join. We can pass owner nullability from caller which has entity shaper expression. This would pubternal API break so deferring to next release.

[2021-09-29 21:40] smitpatel commented on #26209
For equal/non-equal we may be able to do something to convert it to `IS (NOT) NULL` but it wouldn't work in large case when comparison or other operators started to use. This is something we shouldn't support.

[2021-09-29 21:41] smitpatel commented on #26210
Same as the other comment!

[2021-09-29 21:44] smitpatel commented on #26207
What is extra here? We generate same line breaks for a normal entity configuration.

[2021-09-29 22:41] stevendarby opened #26216 "Global query filter warning raised for TPH entities"
Following code raises a warning:
[code]
I believe this is incorrect. You can only configure a filter on the base type. The base type, Post, has a filter specified. This flows down to PicturePost, so should be enough to satisfy the warning condition, but EF Core doesn't seem to detect this in its heuristics. If you change the collection navigation on Blog to collection of Posts instead, the warning

[2021-09-29 23:19] AndriySvyryd commented on #26176
Yep

[2021-09-30 01:33] #26157 closed

[2021-09-30 02:06] #26166 closed

[2021-09-30 06:01] #26206 closed

[2021-09-30 06:13] maumar commented on #26199
Problem here is with using `SqlFragmentExpression` - it's supposed to represent a SQL token, not an arbitrary sql statement. As such, it doesn't have a way to specify type or type mapping. We retrieve the translation, but can't apply mapping by default, so the expression is marked as not-translatable and falls back to client eval.

We could extend the usage of `SqlFragmentExpression`, or create ne

[2021-09-30 06:32] roji commented on #26199
We may simply want to add an AtTimeZone SqlExpression, and it may even make sense in relational (IIRC it's part of the SQL standard, and at least PG supports it too)

[2021-09-30 06:42] roji commented on #26202
I managed to repro this in a concurrent tight-loop scenario, see code below. This only seems to repro when nothing is actually executed on the context. I'll investigate this for 6.0 in the coming days.

<details>
<summary>Stack trace</summary>

[code]

</details>

<details>
<summary>Repro</summary>

[code]

</details>

[2021-09-30 06:46] roji commented on #10059
@Dzivo I'll take a look, but can you please open a new issue and post the repro there?

[2021-09-30 08:37] ravindragaikwad opened #26217 "ERROR Unable to load DLL 'Microsoft.Data.SqlClient.SNI.dll' or one of its dependencies: Access is denied."
### Describe the bug
ERROR Unable to load DLL 'Microsoft.Data.SqlClient.SNI.dll' or one of its dependencies: Access is denied.

### Exceptions (if any)
'Benchmark.Entities.UserManagement.UserManagementDataContext'.
System.DllNotFoundException: Unable to load DLL 'Microsoft.Data.SqlClient.SNI.dll' or one of its dependencies: Access is denied. (0x80070005 (E_ACCESSDENIED))
   at Microsoft.Data.SqlCl

[2021-09-30 08:49] ajcvickers commented on #26209
@dotnet/efteam I wonder if we should warn if you create a value converter like this. Or maybe even pull the feature. Let's discuss in triage tomorrow.

[2021-09-30 08:50] ajcvickers commented on #26207
I said we would argue about the formatting. 😆

[2021-09-30 09:13] #26169 closed

[2021-09-30 09:52] v-zubritsky commented on #17936
Hi. Facing the same issue in two scenarios.

1. Taking the only item from the relation.
[code]
EF Core 3.1.14 translates it to sql this way (simplified manually, so may be not fully correct)
[code]
And this nested select isn't optimized by the MS Sql Server, it's Clustered Index Scan for Parent + Clustered Index Scan for Child + Merge Join, which scans the whole Child table instead of using Parend

[2021-09-30 10:18] ChristopherHaas opened #26218 "Bug: Owned type configuration is dependent on registration order"
We are experiencing a problem registering owned types. If an owned type is specified on an entity base type, and the child entity is registered in the ModelBuilder before the base type, you get an exception similar to this

System.InvalidOperationException: 'The entity type 'TestEntity.ComplexType#ComplexType' is configured as owned, but the entity type 'TestInheritedEntity.ComplexType#ComplexType

[2021-09-30 10:29] dhartimakwana opened #26219 "OOM Exception occur when foreign key constraint violet"
Hi,

In ApplicationDbContext class we have defined all DbSet which we are using in application,

[code]

Here we registers a DbContext subclass called ApplicationDbContext as a scoped service in the application service provider,

[code]

**Problem Statement** : When Foreign key constraint violet at that time it's loads all the records of tables (DbSet which we define in ApplicationDbContext class)

[2021-09-30 10:38] ErikEJ commented on #26219
Serilog ??

[2021-09-30 10:58] krazado opened #26220 "Microsoft.Data.Sqlite: Can't load extensions that modify existing functions or collations"
LoadExtension method from SqliteConnection(Microsoft.Data.Sqlite) throws exception, but same method from SQLiteConnection(System.Data.SQLite) works fine.

I built a ICU extension and trying to load it with efcore, ef uses the SqliteConnection which is root reason of the problem, because I tried to create new SqliteConnection and same error is thrown, but as I stated out exactly same setup works fi

[2021-09-30 11:12] ajcvickers commented on #26196
@sungam3r This is because calling Rent on the pool directly bypasses the DbContext leasing mechanism. Resolving the context directly from D.I. works, as does explicitly resolving a lease. Note, however, that both renting the context directly and using the lease directly involve calling EF Core internal APIs, and so are not recommended.

Minimal repro:

[code]

[2021-09-30 11:31] dhartimakwana commented on #26219
Yes

[2021-09-30 11:34] ajcvickers commented on #26183
@TanvirArjel Here's an example:

[code]

Update SQL does not write Notes, since it was not modified:

[code]

[2021-09-30 11:35] ajcvickers commented on #26219
@dhartimakwana  Duplicate of #15214. You'll need to use Serilog.Exceptions.EntityFrameworkCore.

[2021-09-30 12:22] ajcvickers commented on #26218
Verified that this still repros on latest daily.

[2021-09-30 12:42] ajcvickers commented on #26202
@roji Race condition:

Context is disposed:

[code]

Calls `_lease.ContextDisposed();`

[code]

Context is now back in the pool. Back to Dispose method, `DisposeSync` is called:

[code]

Context is marked as disposed and lease is deactivated. But by this time the context may already have been pulled from the pool again, so we deactivate a context that is in use.

[2021-09-30 15:45] knautilus commented on #12482
Could you please add this fix to 5.* version of efcore?

[2021-09-30 16:28] ajcvickers commented on #12482
@knautilus We only patch released versions for high-impact issues, for which this doesn't meet the bar. See [release planning](https://docs.microsoft.com/en-us/ef/core/what-is-new/release-planning) for more details.

[2021-09-30 16:31] TanvirArjel commented on #26183
@ajcvickers Thank you but this would not help in the case of the repository pattern.

[2021-09-30 16:36] ajcvickers commented on #10059
@Dzivo Your project uses EF Core 5.0.9. This issue is fixed in EF Core 6.0 RC2 as indicated by its milestone, which will be released soon, or you can get it from a [daily build](https://github.com/dotnet/efcore/blob/release/6.0/docs/DailyBuilds.md).

[2021-09-30 17:36] sungam3r commented on #26196
My task is to maximum prepare app for handling future requests. If the app uses `DbContext` without pooling (`AddDbContext` extension method) then warmup calls supplied delegate onto injected `DbContext`, see `DbContextWarmupModule` in my initial example. If the app uses pooled `DbContext` (`AddDbContextPool`) then warmup rents `DbContext` from pool, calls supplied delegate and returns `DbContext`

[2021-09-30 17:41] ajcvickers commented on #26196
If you're using pooling with D.I., then you should obtain the DbContext from D.I. in the normal way. That is, request the DbContext from a scope, and it will be disposed when the scope is disposed.

[2021-09-30 18:51] roji commented on #26207
:fist_oncoming:

[2021-09-30 18:57] plettb commented on #26169
Does this mean the fix is available?  If so, how do I get it?

[2021-09-30 19:01] roji commented on #26178
let's say the exact query will be a part of model states. Something like RelationalIndexBuilderExtensions.HasFilter() where any changes in the 'sql' param will result in an AlterColumn command appearance in next migration.

This is the point I was trying to make. EF Core contains specific support for index filters; when the index filter's raw SQL changes, EF Core knows how to change it, and issues

[2021-09-30 19:09] sungam3r commented on #26196
Thanks.

[2021-09-30 19:10] hmdhasani commented on #26178
I think the answer is no but asking:
Is it possible for someone from outside of EF Core to add (register) support for some database object in migration?

[2021-09-30 19:11] ajcvickers commented on #26178
@hmdhasani See [Custom Operations](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations) in the docs.

[2021-09-30 19:15] hmdhasani commented on #26178
Thanks, I think that will solve my problem

[2021-09-30 19:16] roji commented on #26103
Just a couple notes in addition to @smitpatel's comment...

For truly high-perf EF Core users, there's the compiled query feature which allows skipping over ParameterExtractingExpressionVisitor - but that doesn't mean we shouldn't optimize it as you suggest.

I'm pretty this kind of very local optimization would be accepted - the library has received various changes (e.g. NRT and trimming annotati

[2021-09-30 19:52] maumar commented on #26138
@andrewharry  Unfortunately, we decided to keep the behavior as is. We believe `IS NULL` is a better translation when user intention is taken into account.

As to a potential solution, you can try using `DbCommandInterceptor` (see docs: https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/interceptors). It can intercept `DbCommand` before it's being executed and convert all instance

[2021-09-30 20:00] roji commented on #23534
@rubens-lopes this kind of thing is almost always some sort of build or dependency issue - review your csproj, try to clean your project and rebuild from scratch on the command-line (to isolate whether this is a VS-related issue). If you're still seeing an issue, try to create a repro for this based on your actual corporate code; we don't need to see your actual project, just something that reprod

[2021-09-30 20:02] plettb commented on #26169
@ajcvickers Perfect.  Thanks a lot! :)

[2021-10-01 03:28] #26208 closed

[2021-10-01 03:40] alexyakunin commented on #26202
@ajcvickers , huge thanks - I also wanted to post a working example, but just got back to this & was pleasantly surprised!

[2021-10-01 04:07] clement128 commented on #21770
Sorry for comment on the closed issue, just want to know if can this also  merge to efcore 5.0? thanks

[2021-10-01 05:54] archanasoni commented on #26203
Thanks @ajcvickers , we've verified with SQL Server EF provider, and our services are matching with it. Not exactly sure which is newly introduced service that would require to be register.. things work fine with .NET5.

[2021-10-01 06:25] ajcvickers commented on #21770
@clement128 We only patch released versions for high-impact issues, for which this issue doesn't meet the bar. See [release planning](https://docs.microsoft.com/en-us/ef/core/what-is-new/release-planning) for more details.

[2021-10-01 06:28] ajcvickers commented on #26203
@archanasoni Also check all services into which IRelationalCommandDiagnosticsLogger is injected, including those where it is injected transitively, and make sure that none of them are singletons.

[2021-10-01 06:51] omfgicbf commented on #26199
@maumar, thanks, that explains why it wasn't working.

Is there any documentation on which expressions are supported in `HasTranslation`?

All I could find was [here](https://docs.microsoft.com/en-us/ef/core/querying/user-defined-function-mapping) and [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.metadata.builders.dbfunctionbuilder.hastranslation?view=efcore-5.0)

[2021-10-01 07:52] roji commented on #26199
Not really - HasDbFunction is mostly used to map CLR functions to a simple SQL function call, it's rather rare for users to have to map to other SQL expression types. The relational (database-independent) SQL expressions can be found [here](https://github.com/dotnet/efcore/tree/release/6.0/src/EFCore.Relational/Query/SqlExpressions), while the SQL Server-specific ones go [here](https://github.com/

[2021-10-01 08:49] roji commented on #26202
Note: the same bug exists in 5.0.

[2021-10-01 10:23] iampratishtha commented on #25995
@ajcvickers Could you please share your official email id?

[2021-10-01 10:25] ajcvickers commented on #25995
@iampratishtha I shared it above.

[2021-10-01 11:42] TAGC opened #26227 "Why is AsNoTrackingWithIdentityResolution() different to .AsTracking(QueryTrackingBehavior.NoTrackingWithIdentityResolution)?"
## Ask a question

I'm trying to resolve an issue in which I need EF Core to be able to resolve a recursive one-to-many relationship:

![](https://yuml.me/da14cde5.svg)

I've set up this simple test:

[code]

If I run that, then the query executes fine and the test passes.

If instead I run:

[code]

Then the test fails with this exception:

[code]

This is very unexpected behaviour as I assumed `

[2021-10-01 12:00] TAGC commented on #26227
I've updated to EF Core 5.0.10 and I still observe the same behaviour.

[2021-10-01 12:09] Luigi6821 commented on #26038
Hi please find here attached a project that in a simplified form explain what I want to achieve.
The tables I added are more than 600 but are still not the whole set.

Let me explain the very simple console project lines of code:

`
            var optionsBuilder = new DbContextOptionsBuilder();
            optionsBuilder.UseLazyLoadingProxies(true);
            double dbschemaVersion;

[2021-10-01 12:10] Wazner commented on #26227
It seems the `AsTracking` method only supports `QueryTrackingBehavior.TrackAll` and `QueryTrackingBehavior.TrackNone)`

From the source code:
https://github.com/dotnet/efcore/blob/289e7a69b0c02f5569bbaf0ac353c21afde5e397/src/EFCore/Extensions/EntityFrameworkQueryableExtensions.cs#L2982-L2988

[2021-10-01 12:20] smitpatel commented on #26199
I don't think "AT TIME ZONE" belongs to relational layer.

[2021-10-01 12:41] ajcvickers commented on #26038
@Luigi6821 I think the thing that I don't fully understand is how the schema is changing but the mappings are not changing. Typically if the schema is different, then the mappings in code also need to be different. Can you give an example of where the schema changes but this does not require the mappings to change?

[2021-10-01 12:52] roji commented on #26199
@smitpatel `AT TIME ZONE` exists in [SQL Server](https://docs.microsoft.com/en-us/sql/t-sql/queries/at-time-zone-transact-sql?view=sql-server-ver15) ,[PostgreSQL](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-ZONECONVERT) and [Oracle](https://docs.oracle.com/cd/B19306_01/server.102/b14225/ch4datetime.htm#i1007699), and might also exist in the same way in [MySQL

[2021-10-01 15:08] Luigi6821 commented on #26038
I hope to clarify which is my scenario:
- Database schema is maintained using database tools and not using EF Core creation/migration tools.
- My purpose is to have a set of classes which always is the in memory representation of the last database schema version.
- Use EF/EFCore for database interaction as follows:
   - Map class/property to table/column if some conditions are satisfied. Database

[2021-10-01 15:46] begerard commented on #24955
Hey @smitpatel, do you have any update about this problem?

The current status is either slow SQL or RAW SQL (as Liero explained well), and I can't see how the metadata would help as it does depend of what I want to do with one Include specifically, not all the Includes on a navigation property.

[2021-10-01 16:45] igorgiovannini commented on #17890
+1

[2021-10-01 17:06] ajcvickers commented on #24417
/cc @maumar

[2021-10-01 17:26] mevans-medpace commented on #24426
Is there any known workaround for this problem? We are unable to insert data into a table with encrypted nullable decimal columns.

[2021-10-01 18:02] ajcvickers commented on #10275
Also consider #26146

[2021-10-01 18:03] ajcvickers commented on #26146
Added a note to #10275.

[2021-10-01 18:04] ajcvickers commented on #26168
Note from triage: providers should continue to support type mappings that exist in snapshots. Providers can choose to throw in model validation if they are used outside of snapshots if they need to make a breaking change like this.

[2021-10-01 18:06] ajcvickers commented on #26202
Note from triage: backport to EF Core 5.0.x, and possibly also to 3.1.x if it is also present there.

[2021-10-01 18:06] ajcvickers commented on #26207
@AndriySvyryd says it's fine.

[2021-10-01 18:21] ajcvickers opened #26229 "EntityFrameworkExperimentalAttribute"
Introduce an EntityFrameworkExperimentalAttribute, which works like the EntityFrameworkInternalAttribute, except that it indicates a feature is experimental for the current release, rather than internal.

[2021-10-01 18:22] ajcvickers opened #26230 "Make value converting nulls internal for 6.0"
In 6.0 we implemented [Allow HasConversion/ValueConverters to convert nulls](https://github.com/dotnet/efcore/issues/13850). However, this has proved to be very problematic in practice with many pitfalls. For example:

* [Value conversion to null in the store generates bad queries](https://github.com/dotnet/efcore/issues/26209)
* [Value conversion from null in the store generates bad queries](http

[2021-10-01 18:23] ajcvickers commented on #26230
@Pilchie @JeremyLikness FYI. We can discuss as needed.

[2021-10-01 18:24] ajcvickers commented on #26210
Backlog for now. See also https://github.com/dotnet/efcore/issues/26230.

[2021-10-01 18:26] ajcvickers commented on #26209
Backlog for now. See also https://github.com/dotnet/efcore/issues/26230.

[2021-10-01 19:28] rubens-lopes commented on #23534
Thank you for your time @roji, we solved the mystery.

Turns out the one of the .csproj has the tag `<WarningsAsErrors />` it was breaking the build on Rider and on Azure, but not on Visual Studio.

For now the time has decided to not update this package, beyond 3.1.*, util the next LTS.

[2021-10-01 23:20] devinleighsmith opened #26234 "Migrations executed individually pass, executing all migrations fails"
I wasn't able to find a similar issue within this repository, but I'm hoping someone can provide some insight into this issue.

Essentially, I get an error when running dotnet ef database update, the final migration fails 20211001205930_v0.2.11.0 (see below output for stack trace). However, if I run all of the previous migrations, and then run the final migration like so:
[code]
all of the migrati

[2021-10-02 00:41] AndriySvyryd commented on #26209
Seems like a specific case of #10434/#15979. We should also consider what should happen when a join on the converted values is used.

[2021-10-02 01:18] davidbuckleyni commented on #1368
Has this been sorted yet or  do we still require the backing table EF 5.10

[2021-10-02 01:22] davidbuckleyni commented on #1368
Sorry this is indeed the correct link to docs.

https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew

[2021-10-02 05:59] clement911 commented on #15269
Is there an update on this one? Is it planned for the next version?

[2021-10-02 08:02] roji commented on #26234
That would be the best way to move forward with this. Please also try to reduce the sample as much as possible - there's quite a lot going on in the logs above, and a minimal sample would help pinpoint what this is about.

[2021-10-02 17:58] jeremyZX commented on #9470
I can understand the rationale for in-memory accepting entities into the in-memory store which would otherwise be invalid if it went into a relational store, and I can also understand the rationale for treating includes like an inner join, but but is this expected behavior? I've been wrestling with it in converting our unit tests to use EF Core InMemory:

[code]

[2021-10-02 20:39] SoftCircuits opened #26235 "Error when modifying a primary key as a foreign key"
I have a primary key as a foreign key in Entity Framework.

    public class RailcarTrip
    {
        [Key, ForeignKey("WaybillRailcar")]
        public int WaybillRailcarId { get; set; }
        public WaybillRailcar WaybillRailcar { get; set; }

        // Etc.
    }

This seems to work fine, and generates the following table.

    CREATE TABLE [dbo].[RailcarTrips](
    	[WaybillRailcarId] [int

[2021-10-03 01:00] omfgicbf commented on #26199
@roji, thanks for the feedback.

Right, it's just that the document [here](https://docs.microsoft.com/en-us/ef/core/querying/user-defined-function-mapping#mapping-a-method-to-a-custom-sql) refers to "Mapping a method to a custom SQL" and uses the following example:

[code]

Which isn't so simple, and implies support of more complex SQL where specific use-cases haven't been covered by other express

[2021-10-03 03:56] AndriySvyryd commented on #25488
Since `GetAnnotations` isn't used frequently we could sort on demand and use `Hashtable`/`Dictionary<string, Annotation>`

[2021-10-03 06:43] CaiusJard opened #26236 "Minor optimization for SQLServerProvider translating IsNullOrWhiteSpace as LTRIM(RTRIM(..))"
Documentation here https://docs.microsoft.com/en-us/ef/core/providers/sql-server/functions

says that INOW() translates as

    @value IS NULL OR LTRIM(RTRIM(@value)) = N''

If a string is whitespace, to my mind RTRIM would have reduced it to `''` already, so the decision can be made as to whether it's WS without the need to call LTRIM on it..?

[2021-10-03 07:05] roji commented on #26199
That's true, but complex SQL is very different from implementing custom expressions. Users can translate to arbitrary complex SQL constructs, as long as their basic building blocks (the expression types) are supported by the  provider.

SqlFragmentExpression simply isn't like these other expressions, and wasn't meant for doing this kind of thing. I'm not sure "token" describes it better than "frag

[2021-10-03 07:12] roji commented on #26236
In fact, since SQL Server disregards all trailing whitespace when comparing strings, we should simply be able to translate to:

[code]

This should even be sargable...

[2021-10-03 09:24] stevendarby commented on #26236
Is this fixed in 6.0? https://github.com/dotnet/efcore/issues/22916

[2021-10-03 09:51] #26227 closed

[2021-10-03 11:03] ajcvickers opened #26238 "Sequence contains no elements running in-memory query with class key"
See skipped tests in KeysWithConvertersInMemoryTest

[2021-10-03 11:10] roji commented on #26236
@stevendarby good catch - [this is indeed already fixed in 6.0](https://github.com/dotnet/efcore/blob/release/6.0/src/EFCore.SqlServer/Query/Internal/SqlServerStringMethodTranslator.cs#L353).

Submitted #3461 to update.

[2021-10-03 12:16] roji commented on #26202
FYI I don't think this bug exists in 3.1 - it doesn't seem like the DbContext is mutated in any way after being returned to the pool ([code](https://github.com/dotnet/efcore/blob/v3.1.18/src/EFCore/Internal/DbContextPool.cs#L73)).

[2021-10-03 13:27] ajcvickers opened #26239 "Cosmos: relationship cannot be configured when key is class type"
See skipped tests in KeysWithConvertersCosmosTest.

With by-convention configuration:

[code]

Result is:

[code]

With explicit configuration:

[code]

Result is:

[code]

[code]

[2021-10-03 14:25] stevendarby commented on #26216
Think this might be fixed for 6.0 or is it being backlogged? I can have a go at putting together a PR if that helps.

[2021-10-04 07:34] ajcvickers commented on #26202
@roji Can you prepare a PR cherry-picking this to 5.0.x?

[2021-10-04 07:40] ajcvickers commented on #26038
@Luigi6821 So why cannot the compiled model be regenerated at the time that the `tableBVx` class is added?

[2021-10-04 07:49] ajcvickers commented on #24426
@mevans-medpace Can you try with the latest [EF Core 6.0 daily build](https://github.com/dotnet/efcore/blob/release/6.0/docs/DailyBuilds.md)? We have fixed several bugs in this area for EF Core 6.0.

[2021-10-04 07:52] ajcvickers commented on #26124
@roji Ping.

[2021-10-04 08:11] kl1mm commented on #11336
Any news to this issue? Any considerations to implement this?

[2021-10-04 08:16] ajcvickers commented on #11336
@kl1mm This issue is in the Backlog milestone. This means that it is not planned for the next release (EF Core 6.0). We will [re-assess the backlog](https://docs.microsoft.com/ef/core/what-is-new/release-planning) following the this release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources. Make

[2021-10-04 08:30] Luigi6821 commented on #26038
Becasue I hould have a set of classes for each of the possible scenarios that are so many that makes it unmaintainable.

[2021-10-04 08:33] ajcvickers commented on #26038
@Luigi6821 How does the context optionally include those classes in the model? In other words, you're building the model from code before writing it out to an EDMX file. How does the model built from code either include or not include these optional classes?

[2021-10-04 09:39] Garios commented on #17936
### Simple Example

[code]

#### Result
[code]

#### Critical
Of course on small tables you will not even notice. But on huge tables, like our Position-Table with billions of records, you won't get a result in the next years...

[2021-10-04 09:41] roji commented on #26202
@ajcvickers #26241

[2021-10-04 09:45] roji commented on #26124
On my plate for today promise.

[2021-10-04 10:12] tiggris commented on #24426
Unfortunately the issue still persists - just tested on NET Core 6.0 with Microsoft.EntityFrameworkCore & Microsoft.EntityFrameworkCore.SqlServer updated to version 6.0.0.-rc.1.21452.10.

[2021-10-04 10:19] ajcvickers commented on #24426
@tiggris Yes, but we have fixed several issued _after RC1 was built_. Can you please try with the [daily build](https://github.com/dotnet/efcore/blob/release/6.0/docs/DailyBuilds.md). This will give you version 6.0.0-rtm.21503.1.

[2021-10-04 10:36] tiggris commented on #24426
You nailed it! It's working :) Tested on version 6.0.0-rtm.21503.1

[2021-10-04 10:44] #24426 closed

[2021-10-04 13:55] roji commented on #26124
I've taken a look at this, and I'm not sure there's a good way of doing it. Here's the SQL we send to Cosmos:

[code]

We simply compose the discriminator filter over the user's raw SQL; if that SQL happens to not return the discriminator, our filter simply returns no rows. Our shaper does make sure that the discriminator is correct, but because of the discriminator filter there's nothing here to

[2021-10-04 14:02] roji opened #26243 "Cosmos: FromSql allows omitting properties from the projection"
While investigating #26124, I came across a discrepancy in behavior with relational. Our current behavior for relational is to throw if any columns are missing from the raw SQL projection (test FromSqlRaw_queryable_simple_columns_out_of_order_and_not_enough_columns_throws); Cosmos does not throw in this case, and returns a partially-populated entity instance instead.

I'm guessing we disallow part

[2021-10-04 14:16] angelaki opened #26244 "Mix AsSingleQuery / AsSplitQuery"
It would be great if we were able to mix both of these behaviors for one query. E:g. if I have several 1:1 and only a single (but huge) 1:n relation, I'd like to include them via `AsSingleQuery` and only the last one via `AsSplitQuery`.

But I'm afraid implementing this isn't that easy?

[2021-10-04 15:18] roji commented on #26244
@angelaki 1:1 relationships are always loaded via a single query, regardless of whether you specify AsSingleQuery/AsSplitQuery, only collection navigations are affected by those ([see this note in the docs](https://docs.microsoft.com/en-us/ef/core/querying/single-split-queries#split-queries-1).

[2021-10-04 16:07] julielerman opened #26245 "Visual Studio Add New Controller forces refs to EF Core 5.0.9 when latest is 5.0.10"
I am not sure how to get the VS team's attention on this so I want to be sure EF team is aware.

I have a multi project solution with EF Core (5.0.* puling in 5.0.10) in one project and an ASP.NET Core API in another.

When I choose Add New Controller (for MVC or API), the wizard adds EF Core 5.0.9 reference and then the process fails because that is incompatible with the other project's use of 5.

[2021-10-04 16:33] ajcvickers commented on #26124
@AndriySvyryd @smitpatel Thoughts on this?

[2021-10-04 16:34] ajcvickers commented on #26243
I'm in favor of matching the relational behavior. @AndriySvyryd? @smitpatel?

[2021-10-04 16:38] #26116 closed

[2021-10-04 17:12] AndriySvyryd commented on #26124
We should verify whether the proposed change has any measurable impact on perf (and the cost charge), the worst case scenario would be when all items have a discriminator, but with a different value.

An alternative would be to not do any filtering and make the user do it, we would throw if we get a row with no discriminator or an unexpected one.

[2021-10-04 17:36] roji commented on #26124
Does it really make sense to burden users with adding the discriminator filter for all their raw queries, just because they may forget to project the discriminator, an unsupported/negative scenario which should be relatively easily discoverable?

I feel a bit similarly about adding the `NOT IS_DEFINED`... I can look into the perf for that, but this feels a bit risky/too much to me just to flag thi

[2021-10-04 18:12] smitpatel commented on #26124
I would be in favor of this given the first proposal complicates the SQL.

Historically relational added discriminator filters to avoid rows with unknown discriminator value in TPH scenario. Additional filtering also turned out to be problematic there at times so we had to introduce complete discriminator mapping.
For Cosmos, we have discriminator because of sharing the collection. If you are usin

[2021-10-04 18:13] AndriySvyryd commented on #26124
If @JeremyLikness had trouble figuring it out it doesn't bode well for the average user.

When using raw SQL users should be very conscious of discriminators. I think that letting the user deal with it provides a learning opportunity and it also empowers the user to do it in a more efficient way.

[2021-10-04 18:14] smitpatel commented on #26243
Though we should discuss difference of key missing and key having null value in JSON since relational doesn't have that feature.

[2021-10-04 18:52] roji commented on #26124
OK, let's maybe give this a quick discussion in triage tomorrow? For the record I do think it's better to omit the filtering (requiring users to do it) than to add `NOT IS_DEFINED`, although I also think the current situation isn't that bad...

[2021-10-04 18:54] smitpatel commented on #26124
My only issue with current situation is incorrect results without exception. At least if we drop the ball on user, either it works or they will get error about other entity records.

[2021-10-04 19:10] joakimriedel commented on #17936
Wow, thanks for that workaround @v-zubritsky

We have some larger time based tables that we regularly query similar to

`LastAction = o.Actions.OrderByDescending(a => a.TimeCreatedUtc).FirstOrDefault()`

and I have noted the bad query plans but haven't found any workaround until now.

Just inserting `.Take(1).ToArray()` before the `FirstOrDefault()` ....

`LastAction = o.Actions.OrderByDescending(

[2021-10-04 19:16] midas1977 commented on #25273
A quick workaroud I use currently:

### _CoreContext.cs_ has multiple constructors (generated by scaffolding with EF tools)
[code]

### _CoreContextActivator.cs_ additional context file, created manually
[code]

The trick is, to utilize the partial class and add another constructor with the ActivatorUtillitiesConstructor attribute.
In my case I use database-first approach with EF and the context f

[2021-10-04 19:56] roji commented on #26124
It's true we have incorrect results without exception, but the query will never ever return a single result the way it's written - this is very different from some of the more subtle "incorrect results" errors we've seen... It just feels like we shouldn't penalize users or do risky things perf-wise for it.

[2021-10-04 19:58] vsfeedback opened #26249 "Console.Foreground not always working?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ConsoleForeground-not-always-working/1539666)._

---
I have written a simple logger, that outputs to the console.
The entire color+write statement is inside a SemaphoreSlim set to (1), howver. Sometimes (1 / 500) setting Console.Foreground doesn't actually change the Console.Foreground.

[2021-10-04 19:58] danmoseley commented on #26249
Moved to EF.

[2021-10-04 20:04] BrianBergh commented on #26249
@danmoseley I think you are spot on, thank you very much for helping out with this.

[2021-10-04 20:16] danmoseley commented on #26249
@BrianBergh my pleasure. perhaps we'll see you again in this repo? we are always glad for our community to grow. there are up for grabs issues, API proposals etc... 😄

[2021-10-04 20:17] smitpatel commented on #26216
@stevendarby - We will likely to fix this in next release. While I agree this is a bug, but it is an incorrect warning, which user can either suppress (assuming all other warning of same kind are taken care of) or choose to ignore the warning. It can also be configured to just log rather than throw. So that way, this bug is not causing app to crash or not function properly. Hence it is not enough

[2021-10-04 20:19] smitpatel commented on #26124
Depending on app logic, incorrect result not returning any row can also cause data corruption which is same as any other incorrect result errors. Hence our priority always has been incorrect result > exception > slow query.

[2021-10-04 21:08] maumar commented on #24417
@CTGControls that's correct. We discussed it more within the team (how viable it would be to fix the problem for NoTracking - wrt tracked this is already by design) and it's super hard and realistically won't happen. Splitting into 2 queries is the only real workaround if you want to use EF for this scenario. Given what you said, using alternatives seems like the right call in this case.

[2021-10-05 04:02] arielmoraes commented on #23522
When upgrading to .NET 5 we faced the same issue. A TempId property has been added to some entities, I couldn't find a relation between the configurations, it happened on OwnsMany, OwnsOne and HasOne.

A workaround is to apply the migrations of the parent entity before ignoring the base types.

[2021-10-05 07:43] ajcvickers commented on #26038
@Luigi6821 If you have a handful of different schema versions, then compiling a model for each of these seems reasonable. If you have dozens, then I agree it would not be reasonable. In that case you could look into running the tool dynamically, compiling the resulting code with Roslyn, and then dynamically loading it. I'm not saying it would be easy, but I think it could theoretically be done. Be

[2021-10-05 08:09] ajcvickers commented on #26235
@SoftCircuits This is tracked by #4073.

[2021-10-05 08:13] ajcvickers commented on #26249
@danmoseley Can you explain more how you think the code in Reporter.cs is relevant here? Likewise for AnsiTextWriter.cs? When using `LogTo`, EF does not do any manipulation of the strings or the console. LogTo simply sends strings directly to the delegate supplied. EF does not even know if it is connected to a console or not.

[2021-10-05 08:36] jeancallisti commented on #24387
I should add that _--namespace_ seems to supersede _--output-dir_
As a consequence :  If your full project name is Company.Solution.Project and you also use this as a namespace, then because of --namespace the migration files will be created in   src/Company.Solution.Project/Company/Solution/Project (instead of inside src/Company.Solution.Project/Migrations just with the namespace being Company.So

[2021-10-05 08:36] stevendarby commented on #26216
Thanks for taking the time to answer, that seems entirely reasonable to me, at least for 6.0.0. I have some quibbles and frustrations with the approach to bug fixing between major versions, but that's not for discussion here. Can certainly live with this one for another year (or two for LTS!) :)

[2021-10-05 08:42] jeancallisti commented on #24339
+1 to everything @edespong said.

I should add that this issue goes both ways, i.e. problems also arise when doing "migrations remove" : If the migrations are in a custom directory (in a different project from the DbContext) then EF seems to overlook (can't find?) some of the existing classes it generated before and it deletes the Snapshot altogether -- even when the "remove" didn't operate on the

[2021-10-05 11:14] Luigi6821 commented on #26038
Hi Arthur,
You have been very clear.
Let me only try to check with you if an alternative way can be implemented that could really save my work.
Here below my EF core running time tests (milliseconds):
Build model : [36347]
Finalize model : [4498]
First query : [447]
As is easy to get the build model time is the most expensive one.
Basically the code:

`
    var modelBuilder = new ModelBuilder(SqlS

[2021-10-05 15:56] dylinmaust opened #26252 "Migrations / Temporal Tables: Temporal SYSTEM_TIME period is already defined on table when executing idempotent script"
EF Core 6 RC1 migrations generate an idempotent script which fails on subsequent runs. Should ADD PERIOD FOR SYSTEM_TIME commands be wrapped in `EXEC`?

The offending command in the SQL script:
[code]

Model configuration:

[code]

### Include provider and version information

EF Core version: 6.0.0-rc.1.21452.10
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: NET 6.0

[2021-10-05 16:00] ajcvickers commented on #26252
@dylinmaust Duplicate of #26166, which should be fixed in the latest [daily build](https://github.com/dotnet/efcore/blob/release/6.0/docs/DailyBuilds.md). Can you give it a try?

[2021-10-05 16:03] dylinmaust commented on #26252
@ajcvickers Sorry I missed that! Thank you for the reference - will use the daily build.

[2021-10-05 16:20] danmoseley commented on #26249
Hi @ajcvickers

If NoColor is false, when Reporter is asked to eg write an error, it wraps the text in escape sequences representing colors
https://github.com/dotnet/efcore/blob/29e2c156c412118be2859511529c5fb541b36832/src/ef/Reporter.cs#L22

It passes these to AnsiConsole.WriteLine
https://github.com/dotnet/efcore/blob/29e2c156c412118be2859511529c5fb541b36832/src/ef/AnsiConsole.cs#L13

AnsiConsol

[2021-10-05 16:27] danmoseley commented on #26249
BTW, AnsiTextWriter does a lot of reading and writing of the color. Writing a single message that is bolded:

read, write
https://github.com/dotnet/efcore/blob/29e2c156c412118be2859511529c5fb541b36832/src/ef/AnsiTextWriter.cs#L108

read, write, read, write
https://github.com/dotnet/efcore/blob/29e2c156c412118be2859511529c5fb541b36832/src/ef/AnsiTextWriter.cs#L115-L121

Console.WriteLine()

read, R

[2021-10-05 16:34] #16202 closed

[2021-10-05 16:42] ajcvickers commented on #25182
/cc @bricelam

[2021-10-05 16:44] ajcvickers commented on #26187
/cc @bricelam

[2021-10-05 16:52] ajcvickers commented on #26220
/cc @bricelam

[2021-10-05 17:12] danmoseley commented on #26249
Ah, I see. I couldn't see all @BrianBergh code so I didn't attempt to connect. @BrianBergh can you shed light? is it possible to share code of SimpleDebugLogger?

[2021-10-05 17:48] jeffhandley commented on #26229
`RequiresPreviewFeaturesAttribute` was created in .NET 6 and is part of the shared framework, with an analyzer that reports builds errors if the caller hasn't opted in to using preview features. I'd be interested to know if that attribute could meet these needs instead of having another mechanism.

[2021-10-05 17:57] bricelam commented on #26187
Using a timeout of `-1` will disable any retries.

[2021-10-05 18:01] bricelam commented on #26187
This design is intentional, and we have tests for it. Agreed that we should document it better.

[2021-10-05 18:23] berhir opened #26257 "Owned Types get attached multiple times as different types"
I try to implement a simple activity stream with EF and Cosmos DB. This is a very simplified version of the structure I want to save:
[code]
There are different types of activities, but all have the same base class. The `Type` property is used as the discriminator. All activities have an `Actor` property, but actors can be of different types with different properties. All actors have the same base

[2021-10-05 18:26] ajcvickers commented on #26229
Thanks @jeffhandley. I'll look into this tomorrow. We may be able to use it in 6.0 for #26232.

[2021-10-05 21:10] lauxjpn opened #26260 "[BLOCKING] All Pomelo tests fail with the same service resolution exception after upgrading from 6.0 Preview 7 to 6.0 RC1"
<details>
<summary>Stack trace</summary>

[code]

</details>

The Pomelo tests usually start by cleaning the database. This triggers the EF Core service resolution for the first time (because we resolve for `IMySqlOptions` so we can pass it later inside of `CreateDatabaseModelFactory()` to our `MySqlDatabaseModelFactory` constructor).

First, `DbContext.ContextServices` "creates" and initializes a

[2021-10-05 21:54] smitpatel commented on #23260
- Currently "O:" doesn't work on docs site, only "Overload:" works but putting that in source creates compile time error. Raised issue with docs to support "O:" prefix for cref.
- Docs don't generate page for members which are implicitly coming from base class so referencing them will require using the base class type.
- We should avoid to use T:/M:/P: prefix as much as we can so that we know at s

[2021-10-05 21:59] tyler-boyd commented on #24219
I've been running into this too. Is there a known mitigation/workaround for it? Apart from just removing all check constraints on TPT relations?

[2021-10-05 22:02] smitpatel commented on #26260
PR https://github.com/dotnet/efcore/pull/25509 changed SqlExpressionFactory from singleton to scoped so it was earlier working fine.

From design perspective, QuerySqlGeneratorFactory cannot depend on SqlExpressionFactory. SqlGen is about to print out given SQL tree. It shouldn't try to construct something especially using SqlExpressionFactory. If providers need to move around something for ease o

[2021-10-05 22:02] maumar commented on #24867
I verified that it works on 5.0, closing

[2021-10-06 01:32] #23260 closed

[2021-10-06 05:21] maumar commented on #24092
Verified this works on current bits (as has already been reported by a customer). Problem was that EF wasn't correctly compensating for nullability change of a non-nullable property projected from a left join (after expand). Workaround is to make that property nullable.

[2021-10-06 05:55] clement911 commented on #24530
We're still seeing a lot of errors in the logs "Failed executing DbCommand" for transient errors but the lack of exception details makes it impossible to know why there was a failure.

[2021-10-06 06:12] roji commented on #23260
@smitpatel is it feasible to somehow integrate a docs gen pass in our pipeline so as to fail builds which create issues?

[2021-10-06 07:20] maumar commented on #23135
works in current bits

[2021-10-06 08:17] ajcvickers commented on #24219
@tyler-boyd The workaround is to edit the generated migration to remove the extra check constraint.

[2021-10-06 09:07] #26202 closed

[2021-10-06 09:37] BrianBergh commented on #26249
Hi @danmoseley , unfortunately I can't share the code of SimpleDebugLogger as I am not the owner of it (it belongs to my company, and it contains secrets) However, I can share the primary logic of it, and explain what I have discovered so far.
**This method is whats used in .LogTo :**
[code]
**EFLogTo is then calling this:**

[code]

**This is an example of how we setup LogTo:**

[code]

The issue

[2021-10-06 09:41] ajcvickers commented on #26249
@BrianBergh If you make any async calls with EF, then your LogTo delegate will likely be called by different threads. Could this be causing your issues?

[2021-10-06 09:43] BrianBergh commented on #26249
@ajcvickers Thats why the entire statement (color and out) is wrapped in a lock(Console.Out) { .... } - So no?

[2021-10-06 09:54] ajcvickers commented on #26249
@BrianBergh I notice that if an exception is thrown, then `Console.ResetColor();` will not be called.

[2021-10-06 10:26] ajcvickers commented on #26238
Example of test that fails:

[code]

Exception thrown:

[code]

Types used:

[code]

[2021-10-06 11:11] angelaki opened #26263 "Validate that no properties on an entity type are mapped to the same column"
I have a table where authorizations for multiple objects of my database are stored. Its primary key is

 - Module
 - ObjectId
 - UserId

Now I'm forcing two issues here:

First I'd like to set the key like this: `p.HasMany(p => p.Authorizations).WithOne().HasPrincipalKey(p => new { Module = Module.Name, ObjectId = p.Id });`. This does not work since EFCore can only use entity properties for relati

[2021-10-06 11:16] ajcvickers commented on #26229
@jeffhandley I can't seem to make RequiresPreviewFeaturesAttribute work. I don't get any warnings or errors when using it. What am I missing here?

I'm using a local build of EF Core. My code checks that the attribute is present:

[code]

csproj:

[code]

Build correctly warns for using EF internal code, but nothing for the preview attribute:

[code]

Running also results in no errors:

[code]

[2021-10-06 14:01] alexthornton1 commented on #26187
Great news!  As long as there's a well-defined way to avoid the retries, I'm a happy guy.

Thank you!

[2021-10-06 14:06] ajitgoel opened #26264 "Database connection fails when the password is changed, but works when the application is restarted"
I have been redirected to ask a question in this forum by [Microsoft Q and A](https://docs.microsoft.com/en-us/answers/questions/574435/database-connection-fails-when-the-password-is-cha.html?childToView=579508#comment-579508).
We have an ASP.Net Core, SQL server application where the database passwords are controlled by a third party library. The passwords get changed(every 75 to 90 days without

[2021-10-06 16:43] EvgenyPrikhodko opened #26265 "Select Many use null conditional operator ?"
Net 5

[code]

[2021-10-06 16:46] bricelam commented on #26220
Two native libraries (icuin69.dll and icuuc69d.dll) seem to be missing from the sample...

[2021-10-06 19:07] KevRitchie commented on #18861
Hi @bricelam, is this still up for grabs?  @ThiagoKoster, do you still want to take this one?

[2021-10-06 19:13] sergiorpvn commented on #25731
Hi @roji ,

Sorry for the (too) late reply, I was working on other stuff, vacations, etc.. but now I can go back to this.
Thanks for sending this code, it works as you told in your reply.
However, after reviewing my code, I think I missed some data for you. My problem is a bit different, but I was able to modify your code a little bit to reproduce my issue.

Imagine that you have a class DataReque

[2021-10-06 19:24] bricelam commented on #18861
Yep, go for it

[2021-10-06 21:03] roji opened #26266 "Consider relaxing the requirement to project out all properties in relational raw SQL queries"
When discussing this in the Cosmos context (https://github.com/dotnet/efcore/issues/26243), we decided to make it the user's decision what to project out, and it's their responsibility to make sure things work as desired when change tracking and saving back to the database. We could do the same in relational.

[2021-10-06 21:11] BrianBergh commented on #26249
@danmoseley Thanks for the tip. There is not one single console call outside the SimpleDebugLogger in the whole solution. That is the point of it, we wanted to consolidate all output to it, to easily be able to control where the output goes (Debug or Console) because the application normally runs in Azure (as a service). - And as im 100% sure that this is the only place in the entire solution that

[2021-10-07 00:34] devinleighsmith commented on #26234
Closing this, it turns out this project was using a custom sql generator to dynamically generate unique constraint names for defaults using a custom annotation. This is what was at fault. Apologies for logging this erroneously.

[2021-10-07 00:34] devinleighsmith commented on #26234
closing.

[2021-10-07 04:49] jeffhandley commented on #26229
I'm unsure from those details if you have 6.0 RC2+ SDK in place. The `CA2252` (Preview Feature) analyzer was only recently set to report build errors when usage of preview features was detected--it was reporting as `info` level when it was first introduced.  Otherwise, it does look to me like referencing the `base` constructor should report a diagnostic. If you are indeed using RC2+ SDK, let me kn

[2021-10-07 07:42] ajcvickers commented on #26229
SDK is 6.0.100-rc.2.21505.57

[2021-10-07 11:38] Luigi6821 commented on #26038
What a bad news for me :-(

[2021-10-07 12:13] ajcvickers commented on #26229
@roji I tried it with a direct assembly reference, rather than a project reference, and there was no difference. Didn't try building it into a package.

[2021-10-07 17:12] SoftCircuits opened #26272 "FirstOrDefaultAsync() indicates return value is not ever null"
Can anyone tell me why the following code does not produce a warning when `nullable` is enabled?

    CustomerRailcar customerRailcar = await dbContext.CustomerRailcars
        .Where(cr => cr.RailcarNumber == railcar.RailcarNumber)
        .FirstOrDefaultAsync();

This code could clearly return null. But `FirstOrDefaultAsync()` shows it's returning `Task<CustomerRailcar>` and not `Task<CustomerRa

[2021-10-07 17:13] ajcvickers opened #26271 "Temporal history table name always based on entity type name, not table name"
For example:

[code]

Results in `PersonHistory` not `PeopleHistory`:

[code]

Likewise:

[code]

Still results in `PersonHistory`:

[code]

[2021-10-07 17:37] ajcvickers commented on #23884
## October 7, 2021

## Highlights

* Check out the full documentation and samples for [everything new in EF Core 6.0](https://docs.microsoft.com/ef/core/what-is-new/ef-core-6.0/whatsnew).
* We have pretty much closed down work on the GA version. Get the bits now in a [daily build](https://github.com/dotnet/efcore/blob/main/docs/DailyBuilds.md) and report your issues!
* Learn about SQL Server Tempo

[2021-10-07 18:06] smitpatel commented on #26272
EF Core 5.0 is not annotated for nullable types. This has been fixed in EF Core 6.0.

[2021-10-07 18:06] geetmenon opened #26273 "You can avoid scaffolding the connection string by using the Name= syntax to read it from configuration"
This is what I currently have, and it scaffolds fine:

[code]

However, it ends up adding the following in MyDbContext.cs:

[code]

How do I prevent it from either adding `OnConfiguring()` or prevent it from including the hard coded connection string value?  Some documents say we need to use `--no-onconfiguring` option and some says we need to use the Name= syntax. The documentation for this is ve

[2021-10-07 18:33] dehghani-mehdi opened #26275 "The framework 'Microsoft.NETCore.App', version '2.0.0' was not found."
## File a bug

I installed `ef core tools` using `dotnet tool install --global dotnet-ef` command and then tried to use it to add migration to my .NET 5.0 project using `dotnet ef migrations add Init` command, but I got following output:

[code]

### Include provider and version information

EF Core version:
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: NET 5.0
Opera

[2021-10-07 19:09] mguinness commented on #25192
@lauxjpn Do we need to open an issue for Pomelo?

[2021-10-07 19:11] ErikEJ commented on #26273
Try
-NoOnconfiguring

Which EF Core version?

Or use EF Core Power Tools 😀

[2021-10-07 20:20] geetmenon opened #26277 "Add support to exclude tables during scaffolding"
I am using EFCore 5.0.8. I understand that we can use the  `-Tables` switch to specify the list of tables to be included for scaffolding using `Scaffold-DbContext` command. For us, the list of tables to be included is a huge list and the list of tables to be excluded is small list. So for us it  would make sense to specify exclude tables list as opposed to specifying include tables list.  EFCore d

[2021-10-08 05:33] acpsa opened #26280 "Using Mysql database Collation function ForMySQLHasCollation() with dotnet ef command not generating correct ModelSnapshot"
I am using efcore with mysql database in code first approach.
[Reference](https://dev.mysql.com/doc/connector-net/en/connector-net-entityframework-core-charset.html)

This is how I am adding the collation in DbContext using FluentAPI -
[code]

After I add migration using `dotnet ef migrations add MigrationName` , the generated ModelSnapshot `MyDbContextModelSnapshot.BuildModel()` shows as
[code]
,

[2021-10-08 06:09] ErikEJ commented on #26277
Duplicate of#6182

[2021-10-08 06:21] zhangning-0105 opened #26282 "Using postgre database, paging query performance issues"
Using Postgre database, the table has 660,000 pieces of data. When the paging query does not exceed 110,000 pieces of data, a single query of 3000 pieces of data takes 600 milliseconds, and when more than 110,000 pieces of data, a single query of 3000 pieces of data takes 1700 milliseconds。
The following is part of the paging query code。
[code]

[2021-10-08 06:46] RSadocchi commented on #19471
Thanks @ajcvickers

[2021-10-08 08:31] ajcvickers commented on #19471
@RSadocchi I think you meant to thank @AndriySvyryd. 😄

I was thinking about this, and you can always inject your own model building delegates. For example:

[code]

Which isn't quite what you want, but is perhaps an interesting pattern.

[2021-10-08 08:38] ajcvickers commented on #26280
@acpsa Have you tried using the [Pomelo MySQL EF Core provider](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql), on [NuGet](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/)? A lot of people have had luck with this provider in cases where the official provider from Oracle doesn't work.

Beyond that, you will likely need to report this to Oracle as a provider i

[2021-10-08 11:30] ajcvickers commented on #26264
@ajitgoel You don't say how this is failing, but a place to start is by making sure you are following the guidance on [execution strategies and transactions](https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency#execution-strategies-and-transactions) from the documentation.

[2021-10-08 11:34] vonzshik opened #26283 "SqliteConnection.Open/Close allocate StateChangeEventArgs per every call"
https://github.com/dotnet/efcore/blob/458569e14f675f0330147a75ff05ab4aee51118e/src/Microsoft.Data.Sqlite.Core/SqliteConnection.cs#L290

https://github.com/dotnet/efcore/blob/458569e14f675f0330147a75ff05ab4aee51118e/src/Microsoft.Data.Sqlite.Core/SqliteConnection.cs#L325

Instances of `StateChangeEventArgs` can be cached as static fields.

[2021-10-08 14:24] roysurles opened #26284 "Sql Server Feature Request: Dynamic Order By clause"
### Is your feature request related to a problem? Please describe.
I cannot find any location to submit a Sql Server feature request, so please point me in the right direction.

### Describe the solution you'd like
I want to submit a feature request: Dynamic Order By clause via parameter (@OrderBy) without using dynamic sql (@Sql + ' ' + @OrderBy), Case or IIf.
This should allow for multiple colum

[2021-10-08 16:09] ajcvickers commented on #26284
@roysurles I'm not aware of any place you can publicly request features from SQL Server. Happy to be corrected if there is such a place and someone can point to it. @ErikEJ?

[2021-10-08 17:14] ajitgoel commented on #26264
Hello @ajcvickers , Please find the log which shows the connection string after the password was changed(1 in attached image) , connection string just before the database update is made(2 in attached image), and the stacktrace. I have obfuscated some details but I can assure you that the connection string is exactly the same.
![2021-10-08 12_05_53-Window](https://user-images.githubusercontent.com/

[2021-10-08 17:27] AndriySvyryd commented on #12100
Might be an unintended breaking change, it was only working in 3.1 as an accident, this scenario wasn't supported.

[2021-10-08 20:44] roji opened #26288 "When looking up methods via reflection, be trimming/AOT-friendly"
* [x] Stop using GetRequiredRuntimeMethod ([see this comment](https://github.com/dotnet/runtimelab/issues/733#issuecomment-784018305))
* [ ] When looking up generic methods, use the pattern described [here](https://github.com/npgsql/efcore.pg/pull/2028/files#r725139551) (thanks @hez2010)

[2021-10-08 22:13] KevRitchie commented on #18861
@roji no problem at all.  It's all experience 😄 Do you want me keep the PR open for now or close it?

[2021-10-09 00:02] ThiagoKoster commented on #18861
You can take it!

On Wed, 6 Oct 2021 at 16:07 Kev Ritchie ***@***.***> wrote:

[2021-10-09 01:31] #26271 closed

[2021-10-09 01:37] zhangning-0105 commented on #26282
This is the original SQL generated by the VS2019 compiler. The time spent executing in Navicat has nothing to do with the number of data items queried. When executed in our program, it will be related to the number of queries.
[code]
Below is the explain query plan with limit=3000 and offset=4
[code]
Below is the explain query plan with limit=3000 and offset=40
[code]
There is almost no difference

[2021-10-09 06:45] roji commented on #18861
One more note for completeness... Just doing a single insensitive list pass is problematic also because an earlier parameter may match insensitively where there's a later parameter that could match sensitively.

[2021-10-09 08:00] zhangning-0105 commented on #26282
Our operation and maintenance engineers have upgraded all postgre database versions to 12. This problem has been resolved.
If there are any further problems, I will continue to reply to posts.
Thank you very much anyway!

[2021-10-09 08:20] ajcvickers commented on #26257
Note for triage: not a regression.

[2021-10-09 08:21] ajcvickers commented on #26263
@angelaki We're not really sure what you're trying to do here. Could you post the database schema and foreign key constraints that you are trying to map to?

[2021-10-09 08:24] ajcvickers commented on #15911
Note from triage: consider configure await when implementing this.

[2021-10-09 08:27] #26230 closed

[2021-10-09 08:31] ajcvickers commented on #13850
For anyone watching this issue: they are significant problems when executing queries that either convert nulls in the database to non-nulls in code or vice-versa. Therefore, we have marked this feature as internal for EF Core 6.0. You can still use it, but you will get a compiler warning. The warning can be disabled with a #pragma. See https://github.com/dotnet/efcore/issues/26230 for more informa

[2021-10-09 09:18] ajcvickers commented on #26038
@Luigi6821 No, that's not something we are going to implement.

[2021-10-09 09:39] Luigi6821 commented on #26038
Seems no way. Thanks

[2021-10-09 15:06] shuuxdev opened #26293 ".NET Json handle self reference inaccurary when eager loading with DTO model"
I have a function that return a List of Manga model with all of it's navigation

###
[code]
##
And the controller look like this
[code]
these code working fine and .NET Json can  handle self refenrence loop perfectly.
The result look like this:
[code]
##
However, when i tried to turn the Manga model to MangaDTO by using Select (because i want to remove the userFollowList field), they arent working

[2021-10-09 18:06] vonzshik opened #26294 "SqliteCommand._preparedStatements list initialized with 0 capacity"
https://github.com/dotnet/efcore/blob/9b66f4c1f865b2a897f2b6f0776c2e1a1a25f4ef/src/Microsoft.Data.Sqlite.Core/SqliteCommand.cs#L30

Since majority of the queries have only one statement, by setting the default capacity to 1 the underlying array wouldn't expand to 4 elements.

[2021-10-09 18:40] vonzshik opened #26295 "SqliteCommand allocates one Stopwatch per every query or prepare"
https://github.com/dotnet/efcore/blob/9b66f4c1f865b2a897f2b6f0776c2e1a1a25f4ef/src/Microsoft.Data.Sqlite.Core/SqliteCommand.cs#L259

https://github.com/dotnet/efcore/blob/9b66f4c1f865b2a897f2b6f0776c2e1a1a25f4ef/src/Microsoft.Data.Sqlite.Core/SqliteCommand.cs#L310

They can be allocated once per SqliteConnection.

[2021-10-09 19:01] vonzshik opened #26296 "SqliteCommand allocates byte array per every query or prepare"
https://github.com/dotnet/efcore/blob/9b66f4c1f865b2a897f2b6f0776c2e1a1a25f4ef/src/Microsoft.Data.Sqlite.Core/SqliteCommand.cs#L475

I see 2 possible ways to remove this allocation:
a) `ArrayPool<byte>.Shared`
b) Allocate an array and keep it on bound connection

To limit the potential memory consumption after a big query there can be put a maximum limit for an array length (1mb ?), and in case of

[2021-10-09 19:18] roji commented on #26296
This doesn't seem to escape the method, so stackalloc? Since the byteCount could be anything, we'd limit to some reasonable limit, and beyond that ArrayPool may be sufficient...

[2021-10-09 20:32] vonzshik opened #26298 "SqliteCommand.GetStatements unnecessarily gets parameter count for prepared statement"
Parameter count can be held together with prepared statements on the `_preparedStatements` list.
This should reduce `sqlite3_bind_parameter_count` calls for prepared queries, which also reduces `StubHelper.SafeHandleAddRef` and `SafeHandle.InternalRelease` calls.

Before:
![image](https://user-images.githubusercontent.com/14861420/136673051-65c999ed-78a2-4815-aea8-47ad7c3abdce.png)

After:
![image

[2021-10-09 20:56] m-khooryani opened #26299 "Value Converter not working in Update when the field is not changed (Cosmos DB)"
With **Cosmos DB Provider**,

ValueConverter works fine when an entity was created. But after updating, the ValueConverter does not work correctly and changes the saved value in DB.
In the following example, I set a ValueConverter for DateTimes, but after updating date format changes. (check comments in code)

## Steps to reproduce

Context with ValueConverter for dateTimes

[code]
Main:
[code]

E

[2021-10-10 04:32] shuuxdev commented on #26293
anyway, i dont use eager loading anymore, instead i get specific navigation by Select and it's working fine

[2021-10-10 09:39] ajcvickers commented on #9229
Fixed as part of #20961.

[2021-10-10 15:49] blazorin opened #26302 "EF 6 making NOT NULL columns of properties/fields that are not marked with RequiredAttribute"
I'm using .NET 6 RC1, and I'm seeing an issue that was not happening on NET 5 (I've not used EF in older .NET 6 previews rather than preview 7(rc1) )

Here is a screenshot browsing the table data and structure. Only the column I marked as not required with Fluent API is allowed to have null values (not doing this also creates the email column as NOT NULL like the other ones)
![Screen Shot 2021-10-

[2021-10-10 21:14] roji commented on #26302
@3DSX can you please post a full model? It's difficult to know what's going on from a partial code snippet.

In some cases, a database column is nullable even when the property is marked as required in the EF mode; this is notably the case when the TPH inheritance is being used, and there are other entity types in the hierarchy which do not have that property.

[2021-10-10 21:19] ajcvickers commented on #26302
@3DSX Do you have nullable reference types enabled? Check for `<nullable>enable</enable>` in your csproj file.

[2021-10-11 01:43] sylecointre opened #26303 "OnDelete not generated correctly in migration"
Hi,

I tried to override the default value of OnDelete but the migration always generated the same value. Even the FK name is not generated correctly.

Here is my entity configuration, we can see that the OnDelete is defined to Restrict
[code]

Here is the generated migration code:
[code]

Here are the packages added to my project:
![image](https://user-images.githubusercontent.com/36316840/136721

[2021-10-11 07:43] 3DSX commented on #26302
Thank you guys for the quick response. Yes, it was that! I forgot .NET 6 new project files at least for Web API had nullables enabled by default. In fact, it makes more sense than just using the attribute.
Have a good day.

[2021-10-11 13:10] raymens commented on #11308
We've actually ran our services with this combination for a few months. Fortunately due to our constant deployments the memory was freed due to restarts. Until we hit a slower period and we did hit the 100% memory. It took quite some figuring out, including looking at memory dumps, to see what was going on. Once the use of Pool and Proxies stood out, this issue was found quite quickly and thus als

[2021-10-11 13:40] sylecointre commented on #26303
@ajcvickers Thanks for your answer, it works.
But I don't understand why it doesn't work with the new modifier. I call the base at the first line of the method and the configuration is not defined in the base class but in the derived class.
I use the new identifier in order to hide the function of the base class because, for me, the only one to use is this of the derived class.
Why did the algorit

[2021-10-11 18:48] dmitry-lipetsk opened #26309 "Problem with SQL-translation of double Negate: -(-column)"
EFCore 6.0

Seems, your infrastructure incorrect translate the double negate operation:

**MSSQL test**

[code]
**Error message** 

[2021-10-11 19:11] smitpatel opened #26310 "Query: Non-tracking query doesn't throw for null keys"

[2021-10-12 07:48] roji commented on #26309
Confirmed, this generates `WHERE --[s].[Id] = [s].[Id]`, the double-dash is interpreted as a SQL comment.

[2021-10-12 08:58] pochtaliot opened #26314 "deps.json does not exists after update-databse in package manager console"
Hi everyone. Suddenly I can't run migrations in my aspnet (.net 5) web api project. Package manager console throws error that my deps.json file does not exists. And it's true according to the path that it tries to use to find this deps.json. Normaly it is located in bin\ then Release or Debug and deeper. But in mu case it tries to find it in my startup project root path.

Running update-databse wi

[2021-10-12 17:59] sergiorpvn opened #26315 "Performance issue when using SplitQuery and QueryFilters"
Hello, I had created an issue (#25731) but it wasn't so clear what the problem was, and it was closed.
So, I'm recreating it here with a sample code.

Imagine that you have a class DataRequest that is a single data request that you can send via fax or email (or phone, instant message app, pigeon, etc), and in each fax/email you can add multiple DataRequests. If I have some requests IDs and want to

[2021-10-12 23:04] miguellira commented on #25927
@bricelam Today I decided to get RC2 a try with this issue since the bug you referenced was also marked closed. It still an issue and I would consider re-opening this issue and/or tagging another issue that would truly fix this.

For the record, this is what I did:

1. I ran [dotnet-uninstall-pkgs.sh](https://github.com/dotnet/sdk/blob/main/scripts/obtain/uninstall/dotnet-uninstall-pkgs.sh) locate

[2021-10-12 23:25] sam-wheat opened #26322 "Unnecessary where clause logic grouping and ignored IN queries"
#### Questions
1.) In the Linq below only two of the AND clauses are grouped with parenthesis however the generated SQL nests each AND clause (except the last one for unknown reasons).  I can't say this will generate incorrect results however it does make the query much more difficult to read and use for debugging purposes.  Is this the expected behavior?

2.)  The lookups using the string arrays

[2021-10-13 08:36] umbarov opened #26326 "Support `ValueTuple(string, object | NpgsqlDbType)` parameters for raw sql queries"
[code]
With tuples the code is concise. For SQL Server no need to add dependency package `System.Data.SqlClient`.

[2021-10-13 08:47] MeikelLP opened #26327 "HasQueryFilter is ignored by aggregate functions"
When calling a query (`IQueryable`) with an aggregate function (`Sum`, `Count`, `Max`, ...) the `HasQueryFilter` on a sub entity is ignored. However it is not ignored if I execute/query the queryable (`ToList`, `ToArray`).

It is expected that the results may be unexpected due to a nested `HasQueryFilter` ([see docs](https://docs.microsoft.com/en-us/ef/core/querying/filters#accessing-entity-with-q

[2021-10-13 09:58] 21r8390 commented on #25182
I continued testing and also installed the latest EF Core version (5.0.11).
In the debugger everything runs as planned and without problems. But as soon as I switch to **Release** this error occurs.

So far I have changed the linking behavior to `Link All`, `Link SKD only` and `Dont Link`.

[2021-10-13 10:03] ErikEJ commented on #18780
@Kurti123 EF Core Power Tools? (does not require anything to be building)

[2021-10-13 11:21] spahnke commented on #25927
I think this is now tracked by https://github.com/dotnet/sdk/issues/21349 which is still open. That issue also shows yet another workaround by signing the global tool yourself.
[code]

[2021-10-13 11:26] tnlthanzeel opened #26328 "string case sensitivity not working"
hi all. i have a piece of code which worked in in ef core 2,2 used to compare string casing show below.

[code]

i run the same code in ef core 5 and the application crashes. any help @ErikEJ

[2021-10-13 11:35] chassq opened #26329 "Hidden Columns Removed in EF Core 6 RC 2 Scaffold"
RC 1 of EF Core 6 scaffold did not run due to a bug in temporal table hidden field properties I think. We upgrade to RC 2 and now it seems hidden columns are removed from our models where before they were added. I see #8192 whereby it looks like the default behavior could be now to not scaffold hidden columns. However this change effects a ton of our models. Is there a way in scaffold to specify t

[2021-10-13 12:09] ErikEJ commented on #25699
@julielerman  Are your tools updated?

`dotnet ef --version`

[2021-10-13 12:30] julielerman commented on #25699
facepalm ...all the moving parts. Thanks. No coffee yet LOL
tools were at 6.0.0-rc.1.21409.5
just updated to 6.0.0-rtm.21507.9 and it's there.

[2021-10-13 13:45] fdipuma opened #26330 ""The value of shadow key property 'PROPERTYNAME' is unknown when attempting to save changes" on tracked entities"
Hello!

We are detecting a regression on our tests when using collections of Owned Types with a shadow key property.

It seems the owned entity is detected as with "unknown key" even if it is still tracked on the context (this is not happening with EF Core 3.1.x)

Tested with InMemory provider.

Full Program.cs:

[code]

### Stack trace

[code]

### Provider and version information

EF Core versio

[2021-10-13 14:13] szogun1987 opened #26331 "EF CLI using ToTable(null) causes migration to drop non-existing column"
## File a bug
If I use a query-only entity, dropping the non-existing table is added to my migration.

What do I add to OnModelCreating

[code]

What appears in the migration:

[code]

EF Core version: 5.0.8 and 5.0.11
Dotnet-EF tool version: 5.0.9 and up - works fine on 5.0.8
Database provider: Pomelo.EntityFrameworkCore.MySql
Target framework: .NET 5.0
Operating system: Checked on windows
IDE: I

[2021-10-13 15:23] mseada94 opened #26332 "[Bug]: The Property uses `ValueGenerator` in complex FK is not tracked correctly"
## Setup
- Two entities having one-to-many relation with a composite foreign key. (One Author Has Many Books)
- The relation is optional and not required.
- One of the key properties is generated using custom `ValueGenerator<Guid>`. (`TenantId`)

## Error and notes
When adding a book with no author **without setting** the `TenantId`
- The value has been generated and could be shown as the `Current

[2021-10-13 15:25] szogun1987 commented on #26331
OK. It is not version-related. I have to check what are differences between 2 environments I create migrations.

[2021-10-13 16:08] Jejuni opened #26333 "Multiple entities owning the same object hierarchy breaks migrations"
# Description

Given a simple object hierarchy of object1->object2->object3 that is configured as an owned entity of 2 different regular entities causes migrations to break.
The first migration is generated correctly.
With or without changing anything following migrations generate statement that try to drop columns that don't exist.

Migrations were produced using the `dotnet-ef` tools version 5.0

[2021-10-13 17:30] ajcvickers commented on #23222
@KevRitchie Yes.

[2021-10-13 21:42] #19661 closed

[2021-10-13 22:13] roji commented on #17936
@koverda this did end up getting punted from the 6.0 release - we're now doing the planning for 7.0, I really hope this will make it in.

[2021-10-14 03:25] Wayne-Mather opened #26339 "EF Core Closed Connection"
Hi,

I am on a project using .NET Core 3.1LTS. We are using context.Database.BeginTransaction() to create a transaction. We are also using EFCore.BulkExtensions and are using TempDB for the inserts.

The issue we have is that while the code is in the transaction scope, it looks like EF has closed the connection. If we query context.Database.GetDbConnection().State , it seems the state has already

[2021-10-14 07:17] paviano opened #26341 "'object' type with column type 'Text' works on SQLite but not in SQLServer"
Hi guys,
it appears that SQLite support object type property with 'HasColumnType("text")' but the same not works on Microsoft SQL Server and Posgres neither. The property is a standard autoproperty

The property 'DataItemExtended.Value' is of type 'object' which is not supported by the current database provider. Either change the property CLR type, or ignore the property using the '[NotMapped]' at

[2021-10-14 09:13] waywardcode opened #26343 "EF CORE 5.0 ThenInclude OrderBy, uses PK before OrderBy field, rendering it useless"
Has there been any progress with this? Ordering navigation properties still does not translate into the expected ordering in EFC5.0.5

[code]

If there is no intention of ever fixing this, it might be best to show a warning when an attempt to order a navigation property is made to avoid confusion.

_Originally posted by @Bitz in https://github.com/dotnet/efcore/issues/9067#issuecomment-843671773_

[2021-10-14 09:25] dmitry-lipetsk opened #26344 "SqlNullabilityProcessor and COALESCE with more than two arguments"
Hello,

https://github.com/dotnet/efcore/blob/59e9ff2e73ed05eefc01ab580266652938e1adda/src/EFCore.Relational/Query/SqlNullabilityProcessor.cs#L1035-L1045

SQL-function COALESCE allows usage more than two parameters.

My provider, for example, may generate a call of COALESCE with many arguments.

I think, your generic SqlNullabilityProcessor must process all arguments of COALESCE. Not only [0] and

[2021-10-14 10:37] TrymBeast opened #26345 "Table splitting: Make HasColumnName optional"
Hello!

When configuring table splitting I would like not to need to specify the name of the column in the database if the property name of the entity matches the name of the column.

As per the [documentation](https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting) this is needed, and after trying it I know it is, but I don't understand why if normally we don't need this.

For example,

[2021-10-14 11:15] omatrot opened #26347 "API for graph traversal ?"
Unless there is something already available, I'd like to generate an iterator for each entity graph by using a variation of an old t4 [template](https://web.archive.org/web/20200722003019/https://docs.microsoft.com/en-us/archive/blogs/adonet/working-with-sets-of-self-tracking-entities). Scroll down to the The NorthwindEntityIterator Class section.

The business need is, given and old and a new ent

[2021-10-14 11:16] omatrot commented on #26347
Related to https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/182

[2021-10-14 11:32] roji commented on #26339
@Wayne-Mather there isn't enough information above for us to investigate this - we're going to need some sort of code sample. In this sample, at some point between BeginTransaction and your BulkInsert, the transaction is somehow closed - we'd need to understand what you're doing to trigger that.

Each DbContext indeed has its own DbConnection. However, the DbConnection is only kept open for the mi

[2021-10-14 12:28] maxkoshevoi opened #26348 "How to do a missing migration check in CI"
## Ask a question

I have an idea to add "missing migration" check to my CI pipeline. This check should validate that DbSnapshot that is present in a branch matches models in that branch (in another words, it should validate that if I will create a migration, `Up` and `Down` would be empty).

Straightforward way of doing this would be to execute `dotnet ef migrations add Test` and validate that re

[2021-10-14 12:45] ajcvickers opened #26349 "Update formatting code for double-nested lambdas"
Currently the code doesn't handle indents correctly.  For example, scaffolded temporal table configuration:

[code]

[2021-10-14 12:54] ajcvickers commented on #26345
@TrymBeast The default behavior is to map properties with the same name but from different classes to different columns in the database. This is because the properties are not necessarily conceptually the same, and may map to columns with different store types or facets. This behavior is overridden by explicitly mapping both the properties to the same column.

In retrospect, it would probably have

[2021-10-14 13:57] leonardder opened #26351 "Microsoft.EntityFrameworkCore.Migrations.Design missing in EF Core 6 RC2"
I have a migration operation generator that inherits from CSharpMigrationOperationGenerator. However, when updating from EF Core 5 to EF Core 6 RC2, it looks like these are no longer part of EF Core, yet there is no sign of this in the [Breaking changes document](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/breaking-changes).

### Include your code
`using Microsoft.EntityFramew

[2021-10-14 14:22] emaborsa commented on #23310
@mortenaslo Nice workaround. Suppose `FirstId` is a foreign key, is there a way to map `MyCoolModel`'s property `public virtual First First { get; set; }`?

[2021-10-14 14:51] markovana opened #26352 "Nested projection fails to translate to query"
Hi.
I am trying exposing entities as projected dto-s and I have additional middleware which applies final projections to dto-s to select only specific data. Currently it fails to translate query when trying to access projected collection.

[code]
Small reproducible project: https://github.com/markovana/ef-projection-issue/tree/master/projection

### Stack trace

[code]

### Provider and version in

[2021-10-14 14:53] roji opened #26353 "Test Subquery_with_Distinct_Skip_FirstOrDefault_without_OrderBy is non-deterministic"
It seems this test generates non-deterministic results by design (omitting OrderBy), and ordering on the client isn't an option here. Should we convert this test to not use AssertQuery?

/cc @maumar @smitpatel

[2021-10-14 16:56] jeffhandley commented on #26229
Thanks for this. I meant to leave a comment earlier--I'm investigating this. It's not behaving as I expected it to, and I've repro'd this behavior with an even simpler scenario. I'll follow back up later.

[2021-10-14 16:57] ajcvickers commented on #26229
Thanks @jeffhandley

[2021-10-14 17:14] fdipuma opened #26354 "Regression: GroupJoin (left join) fails when using InMemory provider and entity has an Owned type"
Found a regression while spinning up tests that were working with EF Core 3.1.x, and now fails with EF Core 6.0RC2

When using `GroupJoin` for computing a left join operation, and an entity has an Owned entity, the left join operation fails (acting like a standard `Join`) by not returning the not matching items.

Full Program.cs:

[code]

### Provider and version information

EF Core version: 6.0.

[2021-10-14 17:28] #26330 closed

[2021-10-14 17:33] NilsEngelbach opened #26356 "How to model many-to-many relations with readonly collections? (DDD)"
I am trying to model many-to-many relations between entities using read-only collections.
I want to use read-only collections to enforce updates via the provided methods in my domain entities.
I was following this guide: [infrastructure persistence layer implementation entity framework core](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/infrastru

[2021-10-14 17:51] dmitry-lipetsk opened #26357 "[Q] SqlNullabilityProcessor.VisitSqlFunction, Nullability of SUM function"
Hello @maumar,

In case of "SUM" function, VisitSqlFunction returns not-nullable expression COALSECE(0, SUM(....)).

But does not set out-variable **nullable** to **false**

https://github.com/dotnet/efcore/blob/07d281b1e1243997510b4c72f8dc9a339e578803/src/EFCore.Relational/Query/SqlNullabilityProcessor.cs#L1048-L1067

It is correct?

Thank you in advance for your response.

[2021-10-14 19:04] ErikEJ commented on #26329
Hidden columns were ignored since EF Core 2. Are you sure the columns are actually defined as HIDDEN in your tables,?

[2021-10-14 19:33] ajcvickers commented on #26356
@NilsEngelbach You shouldn't need to do anything particularly special to make this work. The only real change to your code above is to use private backing _fields_ for the collections, rather than creating private properties. These should be picked up by convention. Here's a working example:

[code]

[2021-10-14 20:36] Bitz commented on #26343
Hey,

This is essentially a duplicate of #9067

Thanks

[2021-10-14 22:03] Webreaper opened #26361 "EF Core Migrations command broken with .Net 6 RC1 on M1 Mac (see notes)"
I installed .Net 6 RC 2 on my M1 Mac yesterday, before @richlander updated the blog to clarify that RC2 isn't supported with VS for Mac. As part of the installation, **all** previous .Net SDKs are removed from the machine. When it didn't work with VS, I deleted the `/user/local/share/dotnet` folder to remove RC2, and re-installed .Net 6 RC1 (x64).

Now, when I run EF Core migrations, I'm getting t

[2021-10-15 01:52] smitpatel commented on #26343
This is not duplicate of #9067 using OrderBy inside Include, tries to populate collection in the order specified inside collection, support for which was added in #1833 We have several test verifying that it works correctly. At the same time it only works if the collection type has a order preserving behavior, like List, but something like HashSet may not preserve the order in which items are adde

[2021-10-15 01:53] smitpatel commented on #26353
We can still use AssertQuery for ease of writing and add element asserter to skip the check of elements inside collection.

[2021-10-15 02:12] maumar commented on #26353
I was thinking that too @smitpatel

[2021-10-15 03:20] waywardcode commented on #26343
I don't have way to share my whole repo publically, is there a way I can show you without showing my client's entire project publically?

Here is the offending code - I have tried many, many, combinations (a Weeks worth!!) - so this is what my latest looks like which starts off with a Many-to-Many. I've tried it with one side of the MTM navigation too. i.e. NavArea or NavBlock as starting point. A

[2021-10-15 04:58] Wayne-Mather commented on #26339
Going to close this ticket here. From all my testing I do not believe it's an issue with EF Core. The library in question does close any connections, therefore a transaction will have issues across multiple calls.

TLDR; Issue with either 3rd-Party code or project code - but not within the EF Core library

[2021-10-15 09:55] tsmeets2 opened #26364 ".NET 6 RC2 Entity Framework -> Nullable object must have a value."
### Describe the bug

I have a Blazor server project which uses Entity Framework, code first.

After upgrading from .NET 6 RC1 to RC2, all calls to a DbContext (Entity Framework) will result in a 'Nullable object must have a value.' message. Switching back to RC1 resolves this.

### Exceptions (if any)

[code]

### Further technical details
- The IDE (VS / VS Code/ VS4Mac) you're running on, and i

[2021-10-15 10:06] onurkaya85 commented on #5866
I have same problem? Does anyone has a solution?

[2021-10-15 12:39] ajcvickers commented on #26364
@tsmeets2 There isn't enough information here for us to be able to reproduce the error you are seeing. Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2021-10-15 13:11] RobThree opened #26365 "Stringlength/Maxlength ignored on record when creating migration"
First of all: I tried searching but haven't found a similar issue in this efcore repository. If this doesn't belong here then my apologies; please point me in the correct direction.

## The problem

I have an entity (say, for example) `Customer` with a `Name` property that I want to be a) unique and b) limited to 50 chars.

So I write my entity:

[code]

Notice that I'm using a `record` instead of

[2021-10-15 13:39] RobThree opened #26366 "Enum mapped to char keeps producing database modifications on each migration"
First of all: I tried searching but haven't found a similar issue in this efcore repository. If this doesn't belong here then my apologies; please point me in the correct direction.

## The problem

I have an entity (say, for example) `Customer` with an `ApprovalStatus` property that maps to an enum.

[code]

I want the enum to be mapped to a char in the database, so I provide the configuration an

[2021-10-15 14:06] roji commented on #26343
There is no difference between specifying split query on a specific query (with `AsSplitQuery()`) or globally in your model (with `UseQuerySplittingBehavior` on your `UseSqlServer`). Both do the exact same thing - the latter simply configures split query as a general default.

Looking at the tweaked code sample, thing still look OK for me. Here's the last of the split queries:

[code]

This query

[2021-10-15 16:53] RobThree commented on #26365
🤦‍♂️D'oh. That makes total sense. I'll check it when I get back to work or maybe sooner this weekend. Either way: I'll consider this closed/solved. Thanks!

[2021-10-15 16:54] pas059 opened #26367 "database not created with x86 platform"
Hello,

for some reasons i need to make a x86 version of my x64 software (Windows, EFc 3.1, .net 4.7.2). To make the x86 version, i simply changed the target of the solution (and some other things not relevant to EFc, ).
Everything works fine when using existing databases, but i can not create new database. To do this i use migration. Whether i use SQlite or postgrSQL, this gives exactly the same

[2021-10-15 19:10] erikbra opened #26369 "SqliteConnection.Dispose does not release .db file on Windows (6.0 rc1 ->)"
There seems to be a bug in Microsoft.Data.Sqlite, v 6.0, from rc1 onwards, which makes the database file remain locked after the SqliteConnection is closed, but only on Windows. It works up until preview7 (of the versions published on Nuget.org).

Repo with small repro can be found here: https://github.com/erikbra/Microsoft.Data.Sqlite-dispose-bug

[code]

It fails with the following stacktrace:
[

[2021-10-15 19:28] smitpatel commented on #26322
1. This is just due to construction of expression tree by compiler into BinaryExpression. It is a binary tree so nesting will come which requires to put parenthesis to preserve operator precedence. The result should be same regardless.
2. The lookup should translate to server, need to investigate why it isn't. A repro would be useful.

[2021-10-15 20:14] smitpatel commented on #26343
Issue only happens when having 2 ordered includes chained through ThenInclude. The middle split query has incorrect ordering of OrderBy terms. Need to see what is generated SQL in current bits.
We are unlikely to fix this in 5.0 release.

[2021-10-15 21:01] sam-wheat commented on #26322
Thanks @smitpatel, working on it.

[2021-10-15 22:26] #19356 closed

[2021-10-15 23:06] #26353 closed, assigned to maumar

[2021-10-16 00:23] erikbra commented on #26369
Thanks a lot. I ran into a lot of issues with too many attached databases, etc, for my unit tests, so I had to resort to `Pooling=false` there: SQLite Error 1: 'too many attached databases - max 10'.

I'll look into it later, but turning off pooling makes it work as before, at least, Thanks!

[2021-10-16 00:37] erikbra commented on #26369
Just a follow-up question: Since the files were not locked on Linux, does that mean that connection pooling is not working in the same way on Linux, or just that file locking works differently on Linux fundamentally?

[2021-10-16 01:25] nillkitty commented on #9238
Here's a much less hacky way of doing this;  it's how I'm doing this in v5.0.11  (this method is a member of the inherited `DbContext`).   You can tweak the foreach loop if you want to filter out specific migration commands and let others through,  but this should replay all of the necessary commands,  including creation of indexes and keys;  as long as you suppress any "already exists" exceptions

[2021-10-16 06:02] jeffhandley commented on #26229
@ajcvickers Thanks a bunch for trying this out and letting me know it wasn't working as expected. This uncovered that we had a 6.0 GA ship-blocker issue lurking here that had gone undetected. That fix is now in place and it will make the GA snap.

To work around the bug until you take in an SDK build with the fix though, you can select the CA2252 analyzer from your dependencies and set it to Error

[2021-10-16 07:09] dmitry-lipetsk opened #26376 "[Q] Average/Min/Max and error message "Sequence contains no elements.""
Hello,

EF 6.0.

I create tests for Average function and get strange error message "_Sequence contains no elements_."

EFCore query:
[code]

SQL:
[code]

This SQL returns **one** record with NULL value.

So, sequence **has** element. And this element is NULL.

Maybe throw more useful error message like - "_Aggregate function <name> return a NULL value, which can't be translated to not null value f

[2021-10-16 07:58] juchom opened #26377 "Integration of Cysharp/Ulid almost working"
Based on the excellent work of Shay Rojanski and Steve Rasmusmen to integrate NodaTime, I tried to do the same with Ulid.

The wip repo is here https://github.com/linoafr/UlidIntegration with unit tests if this can help.

Ulid api works almost like Guid api

[code]

Ulid can be stored in a database as char(26) or binary(16).

I think the relevant code is here for char(26).

[code]

## This query i

[2021-10-16 08:27] ajcvickers commented on #26348
@maxkoshevoi We discussed this in triage; there isn't an easy way to do this now, but we agree that it would be useful.

Notes from triage:
* Issue #22105 covers warning for pending migrations and possible API surface to support this
  * With API, a unit test could be added to check there are no pending migrations
  * It would be useful to check for pending migrations in `migrations list`
* Using

[2021-10-16 08:34] ajcvickers commented on #26329
@chassq Currently temporal table period columns must be mapped to shadow properties. For now, you will likely need to use 5.0 to scaffold your database to get back to the prvious behavior. We will discuss possible ways forward here and get back to you.

/cc @maumar

[2021-10-16 08:44] chassq commented on #26329
Thank you @ajcvickers !

[2021-10-16 09:35] ajcvickers commented on #26264
@ajitgoel I am not able to reproduce this--see my code below. The second SaveChanges, after the new connection string is set, succeeds. Please attach a small, runnable project or post a small, runnable code listing, like below, that reproduces what you are seeing so that we can investigate.

[code]

[2021-10-16 11:17] ajcvickers opened #26378 "Cosmos: Average truncates results"
This matches behavior in Cosmos SQL, but Smit suggested I still file this.

[code]

[code]

[2021-10-16 12:37] git102347501 opened #26379 "Use concurrency check to check the entity. When the entity is deleted, the entity status obtained through ex.entries. Single() is modified?"
Env:
- NetCore 5.0
- EFCore 5.0
- Database: localdb

I am writing the code of an optimistic lock demonstration program. The specific code is as follows:
[code]
This is my context and entity:
[code]
First, I queried the stock entity, and its information exists

Then, I updated the physical inventory quantity and manually deleted the inventory information in the database

After that, I saw that the

[2021-10-16 13:33] roji commented on #26378
Defniitely seems like our Cosmos translation of Average (and possibly other aggregates) is weird, this may need @smitpatel's attention as part of the Cosmos query pipeline cleanup.

[2021-10-16 17:13] vonzshik commented on #26296
Sadly, `stackalloc` isn't going to cut here since you can't pass a `stackalloc` array to `sqlite3_prepare_v2`.

[2021-10-16 19:19] NormanGiHu opened #26381 "How to access the Shadow-ForeignKey-properties of an EntityEntry"
Hi,
how can i access the Shadow-ForeignKey-properties of an EntityEntry?

For example, i want to know the propertyName which stores the foreign key of a Navigation Property (reference):
Ef core scaffolding is creating models from database-tables.
When in these tables a foreign key is defined, then a navigation property is created in the model of these tables.
If foreign key references to a primary

[2021-10-16 20:33] Psypher9 commented on #24607
Is this open for contributions?

[2021-10-16 22:06] AinoraZ commented on #23110
@ajcvickers I was interested in this proposal, so I took the interfaces that were written here originally and fleshed them out to support generic typing. The syntax ended up changing a little bit to support this, so I guess I'll make another proposal.

New include syntax:
[code]

Equivalent current syntax:
[code]

The example code for this can be seen [here](https://github.com/AinoraZ/EFCore.Inclu

[2021-10-17 14:55] erikbra commented on #26369
Hi again. Yes, I was indeed using "ATTACH", and was not "DETACH"-ing well enough. I'm developing a SQL took supporting many database types (SQL Server, PostgreSQL, MariaDB, etc), and want to keep things as similar as possible between the database types. The "CREATE DATABASE" and "DROP DATABASE" equivalents in Sqlite were a bit difficult to land on, but now I landed on:

* The equivalent of `CREATE

[2021-10-17 15:12] selvam920 opened #26383 "Could not find method 'AddYears' on type 'System.DateOnly'"
After publish asp webapi project getting below error. the same is working in debug app mode.
.net 6 Rc2 version used

Could not find method 'AddYears' on type 'System.DateOnly'   at System.SharedTypeExtensions.GetRequiredRuntimeMethod(Type type, String name, Type[] parameters)\r\n   at Microsoft.EntityFrameworkCore.Sqlite.Query.Internal.SqliteDateTimeAddTranslator..ctor(ISqlExpressionFactory sqlEx

[2021-10-17 16:32] 0xced opened #26384 "The `dotnet ef dbcontext scaffold` command does not print all expected logs"
This is a regression from EF Core 5.

## With .NET 5 / EF Core 5

**.config/dotnet-tools.json**

[code]

**ef5scaffold.csproj**

[code]

**global.json**

[code]

[code]

Running `dotnet ef dbcontext scaffold --verbose --no-onconfiguring "Server=sqlprosample.database.windows.net;Database=sqlprosample;User=sqlproro;Password=nh{Zd?*8ZU@Y}Bb#" Microsoft.EntityFrameworkCore.SqlServer` prints many verbo

[2021-10-17 18:41] AliMahmodi commented on #21968
@qsdfplkj  Have you find any solutions for this ?
If you don't mind please share it

[2021-10-17 19:02] qsdfplkj commented on #21968
I didn't. I tried creating derived types and use some kind of table per hierarchy approach which seemed to work but in the end it we did not use any of it. The example I gave is just a reproduction of an issue I had. In the end our design uses an extra link table that references two (which seem to work) persons. Where each person only has a single parent and references this link table. I no longer

[2021-10-17 22:43] mguinness commented on #13805
@shoooe Take a look at [Improved GroupBy support](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/whatsnew#improved-groupby-support).

[2021-10-18 00:52] Psypher9 commented on #24607
@bricelam , so I've been looking at this a little bit and it looks like the private function that gets the subnamespace inside of the `EFCore.Design.DatabaseOperations.ScaffoldContext` needs to have a `.Replace(' ', '_')` added to [this ternary](https://github.com/dotnet/efcore/blob/bb46c5ef74b24d8f17fa98138245603a87ce6a64/src/EFCore.Design/Design/Internal/DatabaseOperations.cs#L149-L154) before t

[2021-10-18 06:21] honey-ramgarhia opened #26385 "How to check if an entity is already being tracked by Ef Core?"
Suppose, I have an Entity (Apple) which I loaded earlier and another Entity (FruitBasket) which also have Apple included as a navigational property loaded later. Apple is loaded without tracking and FruitBasket (Apple included) is loaded with tracking enabled. Now, whenever I call context.Attach(theApple), it throws an exception that Apple is being tracked already which is OK. So I thought I will

[2021-10-18 08:34] ajcvickers commented on #26376
@dmitry-lipetsk This is by-design. The defined behavior of `Average` in LINQ is to throw if the input contains no elements. For consistency, we throw the same exception as LINQ to Objects.

[2021-10-18 11:18] angelaki opened #26387 "Include first and last element of relation"
With the latest EFCore build it is possible (and pretty nice!) to include only the first / last element of a relation, e.g. `.Include(p => p.Steps.OrderBy(p => p.Id).Take(1))`.

But if I'd like to include both relations

[code]

I get the following exception:

`The filters 'navigation .OrderByDescending(p => p.Id) .Take(1)' and 'navigation .OrderBy(p => p.Id) .Take(1)' have both been configured on

[2021-10-18 11:18] ajcvickers commented on #26381
Something like this will give you the property metadata for the FK property:

[code]

[2021-10-18 11:28] ajcvickers commented on #20194
In latest daily, this now throws:

[2021-10-18 11:32] risogolo opened #26388 "How can I measure a performance of queries executed with SplitQuery()"
How can I measure a performance of queries executed with SplitQuery(), so I will see overall measured time aggregated from all "subqueries", is it for instance possible to write some kind of an interceptor and how?

EF Core 5

[2021-10-18 11:45] archanasoni opened #26389 "Getting NullReferenceException when calling ExecuteSqlRaw(...) api using IBM EF Core provider"
Hi,

We had opened Github issue but due to some other priority work could not proceed with it, hence opening the new case..
For detail : Please go through #26203
We addedand registered a class called Db2RelationalCommandDiagnosticsLogger, then further debugged and as per our analysis while trying to resolve dependencies for DatabaseFacade.. first call for Db2RelationalCommandDiagnosticsLogger is p

[2021-10-18 13:08] virzak opened #26392 "IAsyncEnumerable support"
Oftentimes there is a need to read a table with a large amount of records from the database and output it to a file. In order to avoid having all records in memory at the same time, the current approach is to retrieve records in batches or pages. That results in a repetitive code

A nice solution would be to use of `IAsyncEnumerable`, similar to the approach in Anthony Chu's Async Streams with IAs

[2021-10-18 16:04] ajcvickers commented on #26381
@NormanGiHu If you are starting with an instance of `SecondModel`, then you're making things more difficult than they need be by looking up the metdata twice.  Your code can be shortened to:

[code]

[2021-10-18 19:22] maumar opened #26397 "Query/Test: convert the "no_data" tests in NorthwindAggregateOperatorsQueryTestBase to use AssertQuery"

[2021-10-18 19:26] ajcvickers commented on #21401
Verified that this is now fixed.

[2021-10-18 19:26] #21401 closed

[2021-10-18 20:27] bricelam commented on #24607
Yes, I'm OK with this approach. It would also be nice to do it for Migration class names.

[2021-10-19 00:54] #26357 closed, assigned to maumar

[2021-10-19 01:20] AndriySvyryd commented on #16536
We can separate the warning into specific messages for each listed reason with additional information

Did you look at the model after it was finalized?

[2021-10-19 03:52] selvam920 commented on #26383
PS C:\Users\Jack Selvam> dotnet --list-sdks
5.0.401 [C:\Program Files\dotnet\sdk]
6.0.100-rc.2.21505.57 [C:\Program Files\dotnet\sdk]

 Same is working in Development and Framework dependent publish.
 self contained publish only not working throwing error

[2021-10-19 08:22] #26364 closed

[2021-10-19 08:36] sturlath commented on #25555
I´m getting this error both with `6.0.0-rc.1.21452.10` and `6.0.0-rc.2.21480.5` it doesn´t matter if restart the machine and just run the bundle script.

`C:\Program Files\dotnet\sdk\6.0.100-rc.1.21463.6\Microsoft.Common.CurrentVersion.targets(4646,5): warning MSB3026: Could not copy "obj\Debug\net6.0\EFCoreMigrationWeb.dll" to "bin\Debug\net6.0\EFCoreMigrationWeb.dll". Beginning retry 1 in 1000ms

[2021-10-19 09:04] #26343 closed, assigned to nobody

[2021-10-19 09:27] gparissis commented on #23472
Is this going to be corrected with EF Core 6? The workaround is not working for me because of the reason explained above.
I am using a filtered index on the bool column and the conversion is not using the index.

[2021-10-19 09:38] ClementeGao opened #26402 "when i use EF.CompileAsyncQuery((DbContext db, Func<TEntity, bool> filter) => db.Set<TEntity>().Where(filter)),there has been an error"
[code]

[2021-10-19 10:57] Robelind opened #26404 "InMemory provider and required properties"
After upgrading to 6.0.0-rc.2.21480.5 my unit tests has started to fail.
It seems that required properties now must have a value.
Is there a breaking change to this effect in version 6?

EF Core version: 6.0.0-rc.2.21480.5
Database provider: Microsoft.EntityFrameworkCore.InMemory
Target framework: .NET 6.0
Operating system: Windows 10
IDE: Visual Studio 2022 RC1

[2021-10-19 12:49] Priyansh2001here commented on #8876
So, does that mean you don't have to explicitly define null=true in class itself

```public int? PersonId { get; set; }```
In order to make relationship nullable we don't need to define it like this , using
```IsRequired(false)```
will itself define relation ship nullable

[2021-10-19 13:00] julielerman commented on #25555
Same ...I tried reverting to the earlier build with no luck. @bricelam mentioned that it's a problem with Omnisharp. (I can run the command from the visual studio command prompt ...a little clunky for a conference demo but that's what I'll have to do). Is there an issue filed on the omnisharp end?

[2021-10-19 16:51] ajcvickers commented on #26015
/cc @AndriySvyryd

[2021-10-19 20:12] schuettecarsten opened #26405 "Exception when creating new migration after updating from 6.0-rc.1 to 6.0-rc.2 or 6.0-rtm (daily)"
I've updated my test solution from net6.0-rc.1 and efcore6.0-rc.1 to rc.2 versions. Then I try to add a new migration that drops a table from model class `CloudManagementTool.DataAccess.Model.Supplier.SupInvoiceReconciliationFile` and should create a new table from model class `CloudManagementTool.DataAccess.Model.Supplier.SupInvoice`.

When running the `Add-Migration` command from Package Manager

[2021-10-19 20:19] schuettecarsten opened #26406 "Unneccessary schema name parameter generated in rc.2 migrations code generator"
Migration generator from rc.2 generates `b.ToTable("tablename", (string)null)` in generated migration code, while rc.1 generated `b.ToTable("tablename")` here.

Code from product version 6.0.0-rc.2.21480.5:
[code]

Code from product version 6.0.0-rc.1.21452.10:
[code]

Is the second parameter really neccessary?

[2021-10-19 20:57] bricelam commented on #26220
Just for fun, here's the horrible C code I had to write to get to the bottom of this. 😬 Don't bother pointing out all the leaked memory; handling all those result codes was painful enough.
[code]

[2021-10-19 21:14] bricelam commented on #25872
We solved the issues I listed there in EF Core 5.0 which made the script a lot more robust.

The problems that still exist with the script which are solved by bundles are:

* They need something (usually database-specific) to execute them (`Sqlcmd`, SSMS, MSDeploy, etc.)
* Most tools that execute SQL Server scripts simply continue on to the next statment when they encounter an error. This can leav

[2021-10-19 21:32] bricelam commented on #15854
+1 Our infrastructure runs on MySQL 4.1 so foreign keys aren't supported. :trollface: (Just kidding. Every time I see this issue though, it reminds me how awesome it was to switch from MyISAM to InnoDB.)

[2021-10-20 01:27] xuejmnet opened #26408 "How ReplaceService That Factory Service"
## Ask a question
i want replace service IDbContextTransactionManager
efcore:
[code]
i want
[code]
but it's not found method to replace service function<IServerProvider,TService>

[2021-10-20 02:08] xuejmnet commented on #26408
i resloved
[code]

[2021-10-20 09:31] ipax77 opened #26409 "Many to Many Migration with [Table] Annotation produces RenameTable"
Declaring a Tableattribute on Many to Many DbSets produces a RenameTable Migration.

[code]

After the first successful Migration every following has a RenameTable included

[code]

### Include provider and version information

EF Core version: 5.0.11 / 6.0.rc2
Database provider: Microsoft.EntityFrameworkCore.SqlServer

[2021-10-20 10:03] roji opened #26410 "Allow method/member translators to provide translation failure error details"
We have a nice mechanism for reporting translation failure details, but that mechanism isn't currently accessible to method translators.

[2021-10-20 10:37] roji opened #26411 "Do not generate Convert node in SQL if the converted store type is identical to the operand's"
There are sometimes scenarios where multiple CLR types can be mapped to the same store type (e.g. PostgreSQL maps Instant, DateTime (with kind UTC), ZonedDateTime (with timezone UTC) and OffsetDateTime (with offset 0) to `timestamp with time zone`; all represent UTC timestamps).

These types contain various conversion methods between one another (e.g. Instant.ToDateTimeUtc returns a UTC DateTime).

[2021-10-20 13:16] ajcvickers opened #26412 "Model from #16536 leaves unused foreign key column after finialization"
See #16536

[code]

[code]

[2021-10-20 13:22] #20194 closed

[2021-10-20 15:31] Vlad-Stryapko opened #26413 "Scaffolding a new migration with a custom operation type"
Hi,

I need to extend the migration mechanism with a custom operation for (currently) two databases, possibly more.

I'm currently using a custom `MigrationsModelDiffer` to detect changes in the model and generate additional custom operations, all of which inherit from `MigrationOperation`.

However, when I run Add-Migration, I get the following error:

`The current CSharpMigrationOperationGenerat

[2021-10-20 18:52] gordcross commented on #7800
Been pulling my hair out, looking at the server guys with squinty eyes, just did per she2 and voila. Thanks

[2021-10-20 18:58] ajcvickers opened #26415 "Remove reference to Relational.Tests from AspNet.Specification tests"
Because we don't ship Relational.Tests as a package.

See https://github.com/dotnet/efcore/pull/26414

[2021-10-20 19:58] TonyValenti opened #26416 "Ef Core - On the Fly?"
Is it possible to point EF core at a database at runtime and essentially have it reverse engineer a model out of it? My goal is to use reflection and this auto generated EF core model as an alternative to SQL select statements.￼

[2021-10-20 21:45] roji commented on #26383
Ah yes, if trimming was on it makes sense for this error to occur. EF Core isn't currently trimming-compatible - [we plan to improve that in 7.0](https://github.com/dotnet/efcore/issues/21894).

[2021-10-21 02:21] JakenVeina opened #26417 "Revisit the reporting of exceptions and stack traces in logging"
I am encountering exceptions during logging, due to EF Core passing unserializable `state` data to `ILogger.Log()` calls.

Specifically, looking at the `SaveChangesFailed` log event:

https://github.com/dotnet/efcore/blob/8144d50ec0d15b87c35a9a3a425b1faadafb87f1/src/EFCore/Properties/CoreStrings.Designer.cs#L3475

https://github.com/dotnet/efcore/blob/8144d50ec0d15b87c35a9a3a425b1faadafb87f1/src/E

[2021-10-21 07:14] jespersh opened #26421 "Suggestions to making QueryIterationFailed a bit more useful"
# Issue description
If an exception happens in iteration of a result set, then the details of `public void Log<TState>(LogLevel logLevel, EventId eventId, TState state, Exception exception, Func<TState, Exception, string> formatter)` are not very useful of tracking down the column or row this happened at since it appears to only log the contexttype that was used to generate the error https://githu

[2021-10-21 07:34] smitpatel commented on #26421
Consider enabling sensitive data logging. By default we don't log those details as it may contain sensitive user data. See https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/simple-logging#getting-detailed-messages

[2021-10-21 07:36] #26397 closed, assigned to maumar

[2021-10-21 08:16] ajcvickers commented on #26405
@schuettecarsten Please try this with the latest [daily build](https://github.com/dotnet/efcore/blob/main/docs/DailyBuilds.md). If you are still running into errors, then please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2021-10-21 08:48] ExtendedSpice opened #26422 "RC2 Sqlite provider no longer clears temporary files on exit"
Since RC2 update scoped sqlite dbcontext no longer deletes *-shm and *-wal files on app exit.
Maybe I am missing some clean up behavior settings but it worked without apparent tweaks in previous versions.

Microsoft.EntityFrameworkCore.Sqlite version 6.0.0-rc.2.21480.5
Target framework: NET 6.0 preview

[2021-10-21 09:48] ajcvickers commented on #23110
@AinoraZ Thanks for the work done here. We discussed this and we think there is some synegy with this and #2953, which is about load patterns for rule-based eager loading. We think we should consider these two things together. I have added a link from that issue to here so that we can consider them together.

[2021-10-21 10:13] ajcvickers commented on #20873
The scoping of many services has changed since this issue was opened, allowing the logger to be injected into more places. Requests to add the logger for specific cases should be made by filing new issues, indicating exactly where the logging it needed.

[2021-10-21 10:14] ajcvickers commented on #21099
Covered by #21894

[2021-10-21 10:25] benstevens48 opened #26423 "Table splitting and generated columns (specifically full text search)"
## Ask a question

I have decided to use table splitting to split my `Product` model into two classes - `Product` and `ProductExtraDetail`, because the latter contains a long description field that I don't usually want to return in queries. However, I would like to add a generated NpgsqlTsVector column for a full text search on the product. This contains fields from both the main `Product` itself,

[2021-10-21 10:43] ajcvickers commented on #24685
Note from triage: Ping @AndriySvyryd when working on this.

[2021-10-21 11:02] tag5 opened #26424 "Repeatable read issue with EF Core"
The following code has been runned on a blazor server web application.
The EntityFrameworkCore package's version is 5.0.8
The EntityFrameworkCore.SqlServer package's version is 5.0.8

Let's suppose 2 users.

The first one will create a record and update it.
The second user will read record value.

In order to reproduce the bug, i have put both users database connections and operations in the same

[2021-10-21 13:11] piotrzbyszynski opened #26425 "Async methods blocking?"
## Ask a question

I have an application that expiriences all symptoms of thread pool starvation during short and sudden bursts of traffic.
I am load testing it localy using https://github.com/benaadams/Ben.BlockingDetector library, and it reports that EF async extension methods are blocking. Here is a stack trace. Any comment on that would be appreciated

[code]

[code]

EF Core version:
Database

[2021-10-21 13:19] roji commented on #26425
This seems to be signaling the use of locks which are taken by System.Linq.Expressions. While locking can indeed lead to some synchronous blocking, this case is extremely unlikely to block for any meaningful amount of time; it seems to be some sort of internal protection when compiling code at runtime. In any case, given that EF Core uses runtime code generation, there's not much to be done here.

[2021-10-21 13:23] roji commented on #26388
I don't think an interceptor helps here - database interceptors once again work at the level of a single DbCommand.

Note: if we implement batching for split queries (#10878), this gets resolved on its own, since all split queries would be sent as a single DbCommand.

[2021-10-21 13:25] schuettecarsten commented on #26405
Woohoo, sorry, the issue is still there with latest rtm version, but it looks like it only occurs when a table is dropped and a new table is created, and both table names are very similar. In my case, the dropped table name is `InvoiceReconciliationFile` and the new tables are named `Invoice` and `ReconciliationFile`, all in schema `sup`.

[2021-10-21 13:41] pzbyszynski commented on #26425
@roji Thx for clarification :)

[2021-10-21 15:34] accent opened #26426 "EF Core DBContext scaffolding with custom model naming convention"
On scaffolding DB Context, model names derives from table names according to some convention. Would it be possible to modify this process and provide rules for names.

My case has 2 different requirements:
- remove prefix from generated model names
- add suffix to generated model names

Both cases covers also DBSets.

Is it somehow achievable in EF Core 5.x, future 6.x or somewhere on the roadmap?

[2021-10-21 17:12] ajcvickers commented on #23884
## October 21, 2021

## Highlights

- Zero issues open for EF Core 6.0 GA
  - Full documentation and samples: https://aka.ms/efcore-whatsnew60
  - Get the 6.0 daily build: https://aka.ms/efcore-daily-builds
- New on the .NET Blog: [Prime your flux capacitor: SQL Server temporal tables in EF Core 6.0](https://devblogs.microsoft.com/dotnet/prime-your-flux-capacitor-sql-server-temporal-tables-in-ef-c

[2021-10-21 17:52] bricelam commented on #14044
I made a couple attempts at implementing this in [bricelam:pool](https://github.com/dotnet/efcore/compare/main...bricelam:pool) and [bricelam:pool2](https://github.com/dotnet/efcore/compare/main...bricelam:pool2) before switching my focus to connection pooling. Not sure if they're actually useful, but leaving myself a note here just in case.

[2021-10-21 18:18] smegleyshire opened #26428 "Exception in SQL server query in EF Core 6, looks related to HasQueryFilter(), worked in EF Core 5"
I've been trying out EF Core 6 against our existing SQL server DB and have come across a strange exception when executing a simple query that includes a navigation between 2 tables in a 1:0/1 relationship. Our tables have a "deleted" (integer) column used for soft delete. I've mapped that to a bool IsDeleted property in my entity classes using the built-in HasConversion() and set up a query filter

[2021-10-21 18:43] AndriySvyryd opened #26429 "Non-nullable value comparer can't be applied on nullable type"
sadly the above solution does not work anymore with RC2 for **Nullable** DateOnlys/TimeOnlys

[code]

I get the error message, that the "DateOnlyComparer" cannot be used for a nullable DateOnly property. It seems that the Nullable DateOnly conversion is completely ignored.

Because of that, I reverted my whole solution back to RC1.

Are there any changes known regarding this and how to solve that?

[2021-10-21 20:07] AndriySvyryd commented on #24685
Add `SetIsNullable(this IMutableProperty, bool, in StoreObjectIdentifier)` to allow configuring column nullability independently from property nullability.

[2021-10-21 23:58] ParadiseFallen commented on #16470
@ajcvickers @roji @douglasg14b
I create sample project that show main problem that can be easilly solved by adding IDbContext. And why you need to do it

https://github.com/ParadiseFallen/efcore-IDbContext-Issue

I hope you will understand my bad english. I will be glad to answer your questions

[2021-10-22 09:15] Airfolen opened #26433 "Migration from EF Core 3.1 to 5 - Using property Count in IReadOnlyCollection throws NullReferenceException"
### Example repository

https://github.com/Airfolen/Reproducing_EF_Core_5_Error

### Code
[code]

### Stack traces

[code]

### Provider and version information

EF Core version:
Database provider: (e.g. Npgsql.EntityFrameworkCore.PostgreSQL 5.0.0)
Target framework: (e.g. .NET 5.0)

[2021-10-22 16:16] shvmgpt116 opened #26436 "EFCore 6 - NullReferenceException upon EnsureDeleted"
I have a sample application which used to work with EFCore 5 sql server provider. But with EFCore 6 rc2, I am getting null reference exception when executing EnsureDeleted().

### Here is the sample application

[code]

### Here is the stacktrace of error

[code]

I suppose this is negative scenario since Data Annotation and fluent API used for foreign key are conflicting. But since fluent API tak

[2021-10-22 18:53] Grauenwolf opened #26437 ".Contains fails with using a IReadOnlySet"
## File a bug

.Contains fails with using a IReadOnlySet.

### Include your code

To fix any bug we must first reproduce it. To make this possible, please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing.

It is often impossible for us to reproduce a bug when working with only code snippets since we have to guess at the missing code.

Use

[2021-10-23 16:45] juchom opened #26440 "Is there a way to avoid EF1001 warnings without having to use every providers"
## Ask a question

I continue my work on integrating Ulid in EF Core, the code is pretty small and should work for every SQL Database.

Ulid is stored to char(26) or binary(16) nothing fancy.

I'm trying to avoid creating a package for SQL Server, Postgre, MySQL...

### Include your code

[code]

If I do this in a Program.cs

[code]

### Warnings

[code]

### Is there a way to refactor this extens

[2021-10-23 18:26] ajcvickers opened #26442 "Remove tabs from T4 templates"
See https://github.com/dotnet/efcore/pull/26439/files/453c0cc7098537ad7424ae972752dabeba14dec5#diff-9d728bc53c049e07cbcbb9de43f19227aa7306a71fea75b7f49c34d436677ac2

[2021-10-23 18:27] ajcvickers opened #26443 "Use hrefs for links"
See https://github.com/dotnet/efcore/pull/26439/files/453c0cc7098537ad7424ae972752dabeba14dec5#diff-79fca67d52dcad8bd986ccbc138932992809e9b796e1801010b80b6b417a275f

[2021-10-23 19:58] ajcvickers opened #26444 "Check and update service lifetime docs"

[2021-10-23 23:20] paulluscastro opened #26446 "EF Core 5 - ValueGeneratedNever() still creates an identity column"
## Context

I am using [enumeration classes instead of enums](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types), but I want my Database to be meaningful so whoever is looking at the DB alone can understand my enums, thus I am creating tables for them using EF.

As these Enumerations have their value pre-defined I

[2021-10-24 01:37] douglasg14b opened #26447 "How to resolve DbContext in package-by-feature or other "vertical slice" architectures?"
## Preface

Similar to `feature-folder` architecture, `package-by-feature` vertically slices the codebase to achieve much better cohesion, However, EF Core seems to get right in the way of that since a `DbSet` can only be of a concrete type, and we can't really "register" our entities in a non-coupled fashion.

This is one (of many) long-standing architectures (This one articled/ written on circa

[2021-10-24 10:13] mseada94 opened #26448 "[Bug]: Attach with `ValueGenerator` composite key not working in case of Relations (FK)"
## Setup
- Two entities (Book, Author) have one-to-many relation with a composite foreign key. (One Author Has Many Books)
- Single entity (Student) has no relations.
- One of the key properties is generated using custom `ValueGenerator<Guid>`. (`TenantId`)

## Error and notes
- When trying to attach the `book` entity with the `TenantId` property unset, The value will be generated correctly but th

[2021-10-24 11:44] roji opened #26449 "Make sure all fwlinks in the <remarks> are in <see href>"
E.g. https://github.com/dotnet/efcore/pull/26439#discussion_r734988676

[2021-10-25 10:09] JonneOkkonen opened #26451 "Temporal Table: Owned Entities support?"
I have been testing the new Temporal Table support in EF Core 6 and I just found out that it doesn't seem to work properly with Owned entity types. Adding/updating/removing entities that have owned entities work just fine, but when I try to get history data with `TemporalAll/TemporalAsOf`, it will return the history correctly for the Main Entity but not for the Owned Entity. Returned Owned Entity

[2021-10-25 10:57] schuettecarsten opened #26453 "[Bug] Migrations "Could not drop constraint." exception after earlier foreign key exception during "Update-Database""
I have tried to rollback my database to an earlier state by running `Update-Database <migrationname>`. In my case, the process failed because the migrations ran into foreign key errors with my existing data:

[code]

After fixing the data and trying to re-apply the `Update-Database` command, I got a new error:

[code]

It looks like the constraint was already dropped on the previous try and the mi

[2021-10-25 15:22] taha-ghadirian opened #26456 "Self-referencing relationship breaks in `6.0.0-rc.2.21480.5`"
Hello, I want to make a new migration with this class, but it throws `Nullable object must have a value.`
It was working in previous version of EFcore like `5.0.11` but its not working now!
Could you please fix this bug?

My class is here,
[code]

[code]

### Include provider and version information

EF Core version: `6.0.0-rc.2.21480.5`
Database provider: (Microsoft.EntityFrameworkCore.SqlServer)

[2021-10-25 16:26] pboucher1960 opened #26457 "Support for temporal tables for TPT (Table per Type) and other entity-splitting scenarios"
## Temporal tables for TPT tables

We are developing an application that currently use the concept of Table-Per-Type to minimize the duplication of fields instead of using a discriminator that is required with Table-Per-Hierarchy. More tables are planned in the future that will depend on the same parent table.

With the latest version of EF Core, we saw an opportunity to use the new temporal table

[2021-10-25 19:20] voroninp opened #26461 "Make EntityEntryGraphIterator publicly usable"
Currently `EntityEntryGraphNode` constructor is internal and depends on internal types.

---

I want to automatically change concurrency token of an aggregate root when any of its entities changes.
It's is possible that AR entity has no changes, but child entities do. So I'd like to traverse the graph and check whether there are modified, added, or deleted entities. And if yes, `Version` property

[2021-10-26 07:49] arafeeq21 opened #26462 "Recursive CTE call in FromSqlRaw OR FromSqlInterpolated doesn't work in EF Core 5.0"
I have a recursive CTE that I'd like to invoke directly via raw SQL query API in EF Core. To test this out; I copied the simples Fibonacci series example in MySql documentation and invoke the query the following way:

Fibonacci: https://dev.mysql.com/doc/refman/8.0/en/with.html#common-table-expressions-recursive-examples

[code]
Call pattern:
[code]

Error incorrectly suggests to use AsEnumerable(

[2021-10-26 09:53] FransBouma opened #26463 "Allow temporal Period properties to be mapped to CLR properties (i.e. not shadow properties)"
(.NET 6, EF Core 6 RC2/latest)

I generate the fields in an entity which are mapped to the period fields in a temporal table as readonly properties and map them as normal fields, however when using them in a query I get:

[code]

Why do the period properties have the requirement to be shadow properties? I could generate them as such but IMHO it sucks for the user as to use them they have to fall b

[2021-10-26 11:42] Gua-naiko-che opened #26464 "System.ArgumentOutOfRangeException: Index was out of range when using AsSplitQuery()"
**REMARK:** this issue seems closely related to https://github.com/dotnet/efcore/issues/23311 and https://github.com/dotnet/efcore/issues/25680

An ArgumentOutOfRangeException is launched when running the following code, which uses `AsSplitQuery`:

[code]

The problem is fixed with any these options:
- Remove the `AsSplitQuery`
- Remove the `OrderBy`
- Remove the `.ThenInclude(s => s.Translations)

[2021-10-26 12:28] chrispaynter opened #26465 "How to create foreign keys using fluent API and Value Convertors"
## Ask a question

- I am using value objects as entity ids - POCOs and Value Convertors
- I need to create Foreign Key relationships without navigation properties.
- I can get this working by using code first navigation properties.
- Example of this in my original [Stack Overflow question](https://stackoverflow.com/questions/69720793/how-to-create-foreign-keys-using-ef-core-fluent-api-and-value-c

[2021-10-26 12:37] SireMartin opened #26466 "dotnet-ef CLI does not build dotnet user-secrets"
## File a bug

Locally installed dotnet-ef cli (Entity Framework Core 6) does not build user secrets. This works in version 5.

In the code below, "SkyBase:UserName" and "SkyBase:Password" are user secrets, specified by the dotnet CLI.

### Include your code

In Program.cs

[code]

### Include stack traces

Include the full exception message and stack trace for any exception you encounter.

Use tr

[2021-10-26 14:05] rvramesh opened #26467 "Idea / Feature Suggestion - Model First Development"
When writing entities and context using Code First seems to be more verbose and generating from DB First will force us to be profcient with DB first, using a model file something similar to [prisma schema file](https://www.prisma.io/docs/concepts/components/prisma-schema) and generating the entities and db context from this will reduce the verbose code to be keyed in.

This may also reintroduce th

[2021-10-26 17:59] angelaki opened #26468 "ForeignKey on Entity without primary key"
Just as already mentioned in this case https://github.com/dotnet/efcore/issues/18633 the following model produces an exception:

`The navigation '' cannot be added because it targets the keyless entity type 'TaskGenerator'. Navigations can only target entity types with keys.`

[code]

`TaskGenerator` is the result of a Table-Valued Function and is used like `_dbContext.TaskGenerators.FromSqlRaw("S

[2021-10-27 04:06] maumar opened #26469 "Query: enable temporal tables for table splitting scenarios"
Currently we block temporal tables for table splitting scenarios (owned entities). We could enable it as long as all entities from the table are marked as temporal and all their periods are the same.

related to https://github.com/dotnet/efcore/issues/26451

[2021-10-27 08:58] #26444 closed, assigned to nobody

[2021-10-27 12:38] roji opened #26471 "Identify common table expressions (WITH) as composable for raw SQL"
It turns out that WITH is fully composable in PostgreSQL, MySQL and Sqlite - SqlServer is the odd one out; the below SQL works as expected.

<details>
<summary>Composed WITH SQL</summary>

[code]

</details>

Our default implementation of [CheckComposableSql](https://github.com/dotnet/efcore/blob/main/src/EFCore.Relational/Query/QuerySqlGenerator.cs#L445) currently identifies only SELECTs as compo

[2021-10-27 13:01] mariotebest opened #26472 "EF generates invalid SQL when using enums in projections"
My team and I stumbled upon a strange behavior while optimizing our internal paging library which is currently blocking us, since we did not find any workaround.

Everytime we project data using a `.Select(...)` and that select contains an enum and its int value matches the value passed in a `.Skip()` or `.Take()` efcore generates invalid sql because it tries to insert the enum ***string*** value

[2021-10-27 15:47] e-gauthier opened #26473 "When removing the relation of a parent/child entities with Foreign key as string, the child is deleted without notification."
## Include provider and version information

EF Core version: 6.0.0-rc.2.21480.5
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: .NET 6.0.0-rc.2.21480.5
Operating system: Win 11
IDE: Visual Studio 2022 17 Preview 7.0

### Issue

[code]

#### .NET 6
When an existing relation exist between a parent entity and a child entity, setting the Child.Parent and Child.ParentId to

[2021-10-27 17:20] romfir opened #26474 "TagWith/TagWithCallSite with lazy loading tags only first query"
When using ```.TagWith()``` and ```TagWithCallSite()``` only first query is tagged, other queries from lazy loaded properties are not tagged.

[code]

sql:
[code]

EF Core version: 5.0.11
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: .NET 5.0/6.0

[2021-10-28 00:44] #26310 closed, assigned to smitpatel

[2021-10-28 08:02] vsfeedback opened #26477 "The specified deps.json [...] does not exist"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/The-specified-depsjson--does-not-e/1564536)._

---
[severity:It's more difficult to complete my work]
Very new to ASP.Net CORE and following an online tutorial.  When using Package Manager to add-migration "initialsetup" get error msg.

VS2019 Community

Have deleted and recreated projec

[2021-10-28 09:55] ajcvickers opened #26478 "Implement interceptors for Cosmos"

[2021-10-28 13:43] eslamo opened #26479 "efcore 6 bundle error"
.Net Version: 6.0.100-rc.2.21505.57
Ef Tools Version: 6.0.0-rc.2.21480.5
Visual Studio Version: 17.0.0 Preview 7.0

dotnet ef migrations bundle --project Project/Project.csproj --startup-project Project/Project.csproj--force --verbose --configuration Release

###
C:\Program Files\dotnet\sdk\6.0.100-rc.2.21505.57\Microsoft.Common.CurrentVersion.targets(4635,5): error MSB3027: Could not copy "obj\Re

[2021-10-28 13:59] Uraharadono opened #26480 "Insert record sequentially in DB without identity on PK"
I asked this on SO as well, unfortunately I didn't get any number of notable responses:
https://stackoverflow.com/questions/69750232/ef-core-insert-record-sequentially-in-db-without-identity-on-pk

**Disclaimer:** This question is regarding "modernization" of almost 17 years old system. ORM that was used 17 years ago required that PK's don't use **Identity**.
I know how bad it is, and I can't chan

[2021-10-28 19:39] jacobhjustice opened #26482 "Filtered Include Does Not Seem to work in Tests"
## File a bug

I have a simple filtered include that I am trying to test. In the test, it seemed to be ignoring the filter part and just including all entities with a FK/PK relationship.

I tried setting the filteredinclude to always fail, but it still includes all records.

### Include your code

Function:
[code]
Test:
[code]

When I run locally, I get that the output is filtered. Is there an iss

[2021-10-28 22:09] SoftCircuits opened #26485 "Visual Studio assumes return value from FirstOrDefaultAsync() cannot be null"
I have the following query.

[code]

But for some reason, Visual Studio decides that *'railcarInfo' is not null here* immediately following this query.

![image](https://user-images.githubusercontent.com/3191331/139342855-ae94db17-3d70-4c04-ab8c-941c387366eb.png)

The point of `FirstOrDefaultAsync()` is that it returns the first item in a collection, or null if the collection is empty. It could de

[2021-10-28 22:29] roji opened #26486 "Support for common table expressions (aka WITH) via special LINQ operator"
We could have a special queryable-returning function which we'd translate into a TableExpressionBase:

[code]

... becomes:

[code]

Do recursive CTEs as well.

Note: CTEs are also valid with `WITH ... INSERT ... INTO`, `WITH ... DELETE`, `WITH ... UPDATE`.

See also #29918 (embedded IQueryables to common table expressions)

## Community implementations

* [Linq to DB](https://linq2db.github.io/ar

[2021-10-28 23:17] #26433 closed, assigned to smitpatel

[2021-10-29 10:06] javiercoll opened #26488 "ORA-02292: integrity constraint violated - child record found"
## Bug report

In the following scenario:

- Vehicle, class which has a property, Driver.
- Car, child of Vehicle.
- Driver, which has a list of Vehicles.
  - Driver has the AddCar method, but not an AddVehicle method.

When executing code labelled as A and then the one labelled a B (for example, two different API calls), you produce the ORA-02292 error; but this happens with **Oracle**.

If execu

[2021-10-29 12:40] yangzhongke opened #26489 "Bug occurs when one-to-one with optional navigation property"
## File a bug
When using one-to-one with optional navigation  property, the following exception is thrown:"The database operation was expected to affect 1 row(s), but actually affected 0 row(s); "

### Include your code

[code]
[code]

### Include stack traces
I inspected the generated SQL, it generated Update statement instead of Insert one.
[code]
The following exception was thrown on the last S

[2021-10-29 18:42] Metritutus opened #26490 "Related property key value resets when attaching a disconnected entity."
## The Issue

I have encountered a peculiar problem where performing `DbContext.Attach()` on a disconnected entity was seemingly resetting one of the property values.  In addition, this value reset seems to happen without the property's set accessor being invoked.

Also, [according to the documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbcontext.attach?view

[2021-10-29 19:39] JeremyLikness opened #26491 "Cosmos: Support AAD RBAC via the ClientSecretCredential"
The Azure Cosmos DB SDK now supports role-based access control (RBAC) via Azure Active Directory (AAD) token credentials.

Instructions: [Configure role-based access control for your Azure Cosmos DB account with Azure  Active Directory](https://docs.microsoft.com/azure/cosmos-db/how-to-setup-rbac#initialize-the-sdk-with-azure-ad)

This more direct support should be recommended over [resource token

[2021-10-29 19:39] JeremyLikness commented on #20969
Closing via #26491

[2021-10-29 21:01] voroninp opened #26492 "[Minor/Convenience] Creating classes from model snapshot."
When creating models with high degree of encapsulation (yes, DDD), we end up with classes which can hardly be used for UI queries (Aggregate Root usually hides all its related entities).

Now we have to scaffold DbContext from database.
It would be nice, if we could build read model from model snapshot of plain classes with 1-to-1 relationship to DB table.

[2021-10-29 21:42] #26471 closed

[2021-10-30 20:48] felinepc opened #26493 "Shouldn't DbContext.Update() result in commands to delete (set all null) an entity's owned type navigation property if it is null?"
When the `DbContext.Update` method is used in a disconnected scenario, I see it having such balancing characteristics:

1. It does lack some update efficiency because it would generate commands to update all non-navigation fields, regardless if they've actually changed
2. On the other hand, it requires no separate DB trip to read in an entity first before update. This can be convenient and efficie

[2021-10-31 19:24] Dr-Ogden-Wernstrom commented on #26295
@vonzshik "They can be allocated once per SqliteConnection."

So, is this simply a case of declaring the 'timer' Stopwatch as a field, and instantiating in the `Connection` setter, and resetting in the places where currently instantiate (lines 259, 310)?

[2021-10-31 20:20] vonzshik commented on #26295
@Dr-Ogden-Wernstrom more like an internal property on `SqliteConnection` which returns a `Stopwatch` instance, something like:

[code]

The main question here is, should the instance of `Stopwatch` be kept on `SqliteConnection` or on `SqliteConnectionInternal` (this way we do pay a little bit every time we're going to access `timer`, but on the other hand that's going to reduce `SqliteConnection`

[2021-10-31 20:28] Dr-Ogden-Wernstrom commented on #26295
Thanks @vonzshik, understood. I've never contributed before but would like to try these options out, see what works best, and take a crack at a PR.

[2021-10-31 20:42] vonzshik opened #26494 "SqliteCommand.GetStatements allocates List<T> enumerator per every prepared query"
One way this can be mitigated is by:

1. Moving most of the `GetStatements` logic into another method (which only operates on a single statement).
2. Changing `GetStatements` so it iterates over `_preparedStatements` list with `for`, and `foreach` over `PrepareAndEnumerateStatements`.

[2021-10-31 21:38] Dr-Ogden-Wernstrom commented on #26295
So I think it makes more sense to hold the StopWatch on SqliteConnection rather than SqlConnectionInternal because an internal connection is created each time the connection is opened (and destroyed each time the connection is closed). The same stopwatch can be re-used by all instances of SqliteConnectionInternal that SqliteConnection creates.

[2021-10-31 21:40] vonzshik commented on #26295
@Dr-Ogden-Wernstrom not unless pooling is enabled (which it is by default).

[2021-10-31 22:03] Dr-Ogden-Wernstrom commented on #26295
@vonzshik Ok (can't believe I missed that). So makes more sense to put on the internal connection (internal getter with initializer) and put another internal property on SqliteConnection that simply passes through the timer from the internal connection, or returns null if called when the connection has not yet been opened.

The only downside is when pooling is disabled then an allocation is made e

[2021-11-01 05:12] #26437 closed

[2021-11-01 06:32] vonzshik commented on #26295
@Dr-Ogden-Wernstrom pooling is a very new feature (it should be released together with 6.0 release), so not a lot of people actually know about that)

Pretty much, yes. Although, I'm not sure `SqliteConnection.Timer` supposed to ever return a null, since you have to have an internal connection to execute a query, so in the end I think it should look something like this:

[code]

[2021-11-01 07:43] Dr-Ogden-Wernstrom commented on #26295
@vonzshik That it never returns null I did spot. However, I reasoned that the property itself doesn't know that it's always called when it has a value. Only the calling code knows that. So I thought maybe more appropriate to define the property on SqliteConnection as
[code]
and use null-forgiving from SqliteCommand.PrepareAndEnumerateStatements
[code]
I've pushed a commit with this in so you can s

[2021-11-01 07:54] vonzshik commented on #26295
@Dr-Ogden-Wernstrom but you could just do the same at the `SqliteConnection.Timer` property, so you don't have to put a `!` everywhere.

Anyway, I think the best way to go forward is to submit a pr, where we will discuss further.

[2021-11-01 10:54] aboondeviant opened #26496 "Scaffolder throws error if junction table foreign key columns have identical names"
In the new EF Core 6 Scaffolder junction tables are generated as many-to-many relationships and not as separate entities.

The scaffolder seems to be using the column names in the junction table to generate names of the navigation properties.
This will cause issues if you have multiple junction tables using the same column name (this can be quite common if a table has multiple junction tables to i

[2021-11-01 12:17] EmptyBucket opened #26499 "Irrelevant value in the shadow property leads to an wrong state of the nested entity in the StateManager"
## File a bug

InternalEntityEntry.SetEntityState() is not selecting the correct state for the nested entity. This is because ValueGenerationManager.Propagate() does not correctly select the principal entry. This is due to the fact that the shadow property FK is irrelevant(default). If we abandon the shadow property and explicitly specify FK, then everything works as expected, since FK has the cor

[2021-11-01 13:16] bezchastnyi opened #26500 "How to create custom EF Core extension?"
Hi everyone
I want to extend EF core with custom bulk update that update query with expression that explain what have been changed

I found nothing about this question
Can somebody help with it ?

[2021-11-01 13:19] Uraharadono commented on #26480
Hello @roji,
Sorry for late reply. I was confused as hell why is this happening, then I took a bit time to rest over the weekend. Today I created **POCO solution** which replicates this behavior.
You can find it here: https://github.com/Uraharadono/RojiSequencePoco

Setup is as follows:

1. Create local DB with name **BloggingDb**
2. **Package Manager Console** -> `Update database `
3. Run project

[2021-11-01 13:22] DanoThom opened #26501 "Bundle-Migration failing"
I've tried to build a migration bundle in my project and it keeps failing with the following error:

'dotnet-ef migrations bundle -c MyContext --verbose'

`C:\Program Files\dotnet\sdk\6.0.100-rc.2.21505.57\NuGet.targets(466,5): error MSB4044: The "GetRestoreProjectStyleTask" task was not given a value for the required parameter "MSBuildProjectName". [C:\Users\daniel.thompson\AppData\Local\Temp\d1f

[2021-11-01 14:45] JonPSmith opened #26502 "Throw when using relational FromSqlRaw with Cosmos, or vice-versa"
In NET6 EF Core I get an compile error if I use the method `FromSqlRaw` \ `FromSqlRawAsync` when both of the following NuGet Packages are installed:

- Microsoft.EntityFrameworkCore Version="6.0.0-rc.2.21480.5"
- Microsoft.EntityFrameworkCore.Cosmos" Version="6.0.0-rc.2.21480.5"

The error is:

[code]

## Example code

[code]

Its easy to get around by adding the namespace before the `FromSqlRaw`,

[2021-11-01 14:48] roji commented on #26502
Yeah, that's intentional - both Relational and Cosmos have their own versions of FromSqlRaw, and they don't recognize each other's version (so e.g. the relational FromSqlRaw wouldn't be recognized by Cosmos). Making them ambiguous as above forces the user to explicitly specify which one they want, which prevents confusion etc.

[2021-11-01 15:12] JonPSmith commented on #26502
So are you saying that a relational database should use the `RelationalQueryableExtensions` version of `FromSqlRaw` and Cosmos version should use the `CosmosQueryableExtensions` version? If so I have another error as the following code fails, but if I use `RelationalQueryableExtensions.FromSqlRaw` it works.

[code]

### Stacktrace for the failed version

When using `CosmosQueryableExtensions.FromS

[2021-11-01 15:45] roji commented on #26502
Yes.

Can you share your full model configuration (or ideally the project)?

[2021-11-01 15:56] DanoThom commented on #25555
Same here. LockHunter says the file(s) aren't being locked at all however.

![image](https://user-images.githubusercontent.com/4973075/139701402-1ba82a8e-c219-4caa-82be-b763ec37ae7e.png)

[2021-11-01 16:33] angelaki commented on #26263
@AndriySvyryd yes, this issue still exists. I'll try to create a minimal model this week.

[2021-11-01 16:52] roji commented on #26480
@Uraharadono you have `[DatabaseGenerated(DatabaseGeneratedOption.None)]` on the Blog.Oid property. Although the database column indeed has the proper default value SQL (`NEXT VALUE FOR BlogSeq`), DatabaseGeneratedOption.None tells EF Core that there is no value generation configured. This makes EF Core always send whatever value is contained in the Blog.Oid, which is zero if it's unset. If you re

[2021-11-01 16:56] roji commented on #26500
@bezchastnyi you'll have to provide a bit more detail than that. SQL bulk update is a feature which is [planned](#795) for EF Core 7.0, and in the meantime, various 3rd-party extensions exist for that (see the [extensions page](https://docs.microsoft.com/en-us/ef/core/extensions/). However, I'm not sure what you mean with "update query with expression that explain what have been changed".

[2021-11-01 17:47] angelaki commented on #26263
Here is the minimal model. Did it now, since a fix the next time would be great, need it right now 😉

[code]

For the first exception no Db is needed. Here is the quite simple script for the Db the 2nd issue needs:

[code]

I'm already excited what you'll say!

[2021-11-01 18:32] Uraharadono commented on #26480
@roji Thanks a lot for coming back to me once again. Can I just ask another thing:
Is this same behavior if we have `ValueGeneratedNever ` using fluent api?

Or to put more perspective and sense into this whole mess of a question.

My code first entities are created using EF Scaffold command on existing (17 y.o. DB), and it generated this code for this table:

[code]

So it has automatically gener

[2021-11-01 20:13] roji opened #26504 "A testing-only transaction manager which replaces nested transactions with savepoints"
It is currently a bit challenging to write integration tests for (user) product code which explicitly manages transactions. Since database don't support nested transactions, users can't run the entire test in a transaction and roll it back (to avoid test interference, as can be done with tests which don't manage transactions). This causes the following difficulties:

* The database needs to be rev

[2021-11-01 20:22] smitpatel commented on #26502
Don't think that is valid SQL for cosmos unless the container name is "c". The error message also indicates that it was bad query sent to CosmosDb.

[2021-11-02 01:47] Varorbc commented on #25696
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/whatsnew#distinct-queries

@roji @ajcvickers  why are there different behaviors on different database providers?

[2021-11-02 02:31] ethanresnick opened #26505 "Owned type w/ uni-directional HasMany"
Similar to #24535, I have an entity that uses an owned type to group some of its properties. I'd like one of the properties in the owned type to be the parent side of a to-many relationship. My understanding is that #24535 was closed because it would violate DDD semantics to have the dependent side of the relationship point back to the owned type (rather than it pointing to the aggregate root). So

[2021-11-02 03:16] samuelpsfung opened #26506 "Provide event that can be used to get notifications when all property changes have been detected"
Please see attached program. I use a shadow property for one-to-many relationship, and wish to capture changes in ChangeTracker.StateChanged event. When the parent relationship changed, the current value in the event is still the same as the original one.

![image](https://user-images.githubusercontent.com/56810423/139781128-85de878a-3852-4ce2-bf75-1f1961a5614a.png)
[EFEvents.zip](https://github.c

[2021-11-02 07:48] bezchastnyi commented on #26500
So, example:

[code]

and this **BulkUpdateAsync** that I need -> have to update all lines in DB with updateEx expression
and this **BulkUpdateAsync** I must implement

[2021-11-02 09:01] ajcvickers commented on #26488
@javiercoll Given that this issue only happens when using the Oracle provider, it should be reported to Oracle as a bug with their provider.