[2015-09-16 15:55] bricelam commented on #3044
Sounds good. Thanks for following up.

[2015-09-16 18:41] smitpatel commented on #3147
It looks like the relationships are not configured correctly. Can you share your domain classes and modelbuilder configuration?

[2015-09-16 19:25] #2258 closed

[2015-09-16 19:42] TheMadKow commented on #3147
Yeah, Sure...
I've uploaded the classes to this Dropbox folder : https://www.dropbox.com/sh/sadxtas4m0a2c1h/AAB2hSoCK5c-8hBlYbLN8YPKa?dl=0

Thank you,

[2015-09-16 19:46] Vasim-DigitalNexus opened #3152 "How to disable migrations for existing databases"
How do you disable migrations for existing databases in code?

Previously I used this in the DbContext constructor:
`Database.SetInitializer<ApplicationDbContext>(null);`

[2015-09-16 19:48] bricelam commented on #3152
EF7 will never automatically create or alter your database schema. Users will need to explicitly call one of the following to do that.
[code]

[2015-09-16 19:56] davezych commented on #3152
@bricelam what's the difference between `Migrate` and `EnsureCreated`?

[2015-09-16 20:51] matthewDDennis commented on #3146
If you are measuring performance, make sure you have a Release build and running Non-Debug.
There are some caching of views and queries that may not run in debug, basically so they can be debugged.  This is from observation, not looking at the code.

[2015-09-16 21:10] #3142 closed

[2015-09-16 21:18] smitpatel commented on #3147
@TheMadKow - thanks for files. I looked into `Schema.cs` & `Occurrence.cs` files. Since `Schema.cs` has 3 navigation properties of type `Occurrence` convention should not be creating relationships between them. Are you configuring the relationship using modelbuilder? If yes, then please share your db context code.

[2015-09-16 21:51] bricelam commented on #3152
`EnsureCreated` bypasses Migrations. It will simple create the database schema for the current model. It is primarily used for prototyping and testing.

[2015-09-16 22:01] bricelam opened #3156 "Re-enable Shadow Keys"
These were disabled by #1621. Both @rowanmiller and I have found them very useful.

[2015-09-16 22:01] bricelam commented on #2944
Filed #3156 :wink:

[2015-09-16 22:02] bricelam commented on #2944
IMHO, if they were explicitly added, they should be treated like any other property in the model.

[2015-09-16 22:08] divega commented on #3156
:+1: They can be a pretty decent workaround for the lack of complex type support if you only care about how the object model looks like as opposed to the database schema.

[2015-09-17 00:50] #3144 closed

[2015-09-17 08:17] TheMadKow commented on #3147
@smitpatel , Adding those right now to the drive.
(Sorry for the delay, different time zones :))

There are two parts :
* DataBuilderBase (and all related there), which actually handles the build.
* ApplicationContext (the original call-maker).

Also attached all migrations created by "dnx ef" to this point, under "Migrations" subfolder.

This is the relevant part of the builder, regarding Schema

[2015-09-17 09:08] ErikEJ opened #3158 "Query: Test SelectMany_Joined_Take() generates unexpected SQL with SQL CE provider"
For the SQL CE provider. the SQL below is generated

    SELECT [c].[CustomerID], [c].[ContactName]
    FROM [Customers] AS [c]

    SELECT [o].[OrderID], [o].[CustomerID], [o].[EmployeeID], [o].[OrderDate]
    FROM [Orders] AS [o]

    SELECT [o].[OrderID], [o].[CustomerID], [o].[EmployeeID], [o].[OrderDate]
    FROM [Orders] AS [o]

    SELECT [o].[OrderID], [o].[CustomerID], [o].[EmployeeID], [

[2015-09-17 10:28] danielcweber commented on #3061
I'm currently running into a similar problem, where I have tow derived types, both with a navigation named "Reference" to a referenced type. Database creation for SQL-Server fails (cannot have two equally named columns).  I would not expect this to work out-of-the-box, but every workaround I tried also fails. Here's the entities:

    public class BaseType
    {
        public string Id { get; set

[2015-09-17 14:22] ToddThomson commented on #2336
@rowanmiller is EF6 and EF7 SxS still a possibility? ( Using EF7 only for Identity ).

[2015-09-17 16:55] rowanmiller commented on #2336
@ToddThomson PMC in xproj is still planned for our initial stable release (it requires changes by NuGet and xproj tooling team). The work has not been done yet though.

Unfortunately SxS is not possible, we were pushing some renames to make it possible but after much community feedback we reverted back to the old naming.

[2015-09-17 17:39] ToddThomson commented on #2336
@rowanmiller Thanks Rowan. I really appreciate your quick feedback. The asp.net 5 team is really doing a great job!

My preference right now is to try to find a way to make EF7 work for my application. I can't use TPH inheritance ( can't get my head around the denormalized schema and I have to many subtypes ), so I'm not quite sure how I'll deal with inheritance with EF7. Solving Inheritance and m

[2015-09-17 17:49] ToddThomson commented on #333
I would like to have EF7 support cascadeDelete: true/false in .foreignKey().

Is this something that is planned for RTM?

[2015-09-17 17:57] cherrydev commented on #2336
Keep in mind @ToddThomson that a '1.0' release for ASPNET5 is not expected to correspond to a version of EF7 that is intended as a general-purpose replacement for the functionality of EF6 and if you want to use Identity 3.0, you can do that with EF6 without too much trouble.  Really, the biggest hassle was dealing with the fact that EF7 can use types with type parameters (generics) as entities and

[2015-09-17 19:06] bricelam opened #3159 "Design meeting notes - September 17, 2015"
# Design-time services

At design-time (i.e. for the Migrations and Reverse Engineer tooling) there are several different sources for services that need to work together.

* Runtime services (e.g. `Migrator`)
* EF design-time services (e.g. `MigrationsScaffolder`)
* Provider design-time services (e.g. `SqliteMetadataModelProvider`)
* User design-time services (e.g. `MyMigrationsCodeGenerator`)

At

[2015-09-17 19:22] rowanmiller commented on #3097
@davezych totally understand... that is the case for most folks with interesting models :smile:

I don't have an exact timeline, but this is a pretty significant bottleneck so addressing it will be high priority.

[2015-09-17 19:37] timvanderweijde opened #3160 "Migrations doesn't work with Beta 7 (Only Initial migration is found)"
Hi,

I created a migration with
dnx ef migrations add Initial
dnx ef database update

After that I made some changes to the model and I added a new Migration Second
dnx ef migrations add Second.

Now when I try to update the database I get an error.
I tried:
dnx ef database update
dnx ef database update Second
dnx ef database update <somenumber>_Second

The error says the table is already created.

[2015-09-17 20:15] rowanmiller commented on #1228
We have coverage and we are working thru improvements for areas that need work

[2015-09-17 20:15] #1228 closed

[2015-09-17 20:15] #1227 closed

[2015-09-17 20:16] rowanmiller commented on #1170
This is done. We will continue to test with each release

[2015-09-17 20:16] #1170 closed

[2015-09-17 20:19] rowanmiller commented on #1166
The only thing we need to do for RC is verify that query works with the new API pattern we decided on. After that, this can move to the 7.0.0 milestone if there is anything we think needs doing.

[2015-09-17 20:24] rowanmiller commented on #1162
We're happy this has been covered by app building etc.

[2015-09-17 20:24] #1162 closed

[2015-09-17 20:27] rowanmiller commented on #978
Work is required in NuGet and xproj tooling before we can light this up

[2015-09-17 20:29] rowanmiller commented on #705
We are completely changing the API, and we've done API review. We will work on port guidance all up.

[2015-09-17 20:29] #705 closed

[2015-09-17 20:31] rowanmiller commented on #623
We should push to get this done for RC if possible since UWP apps can't be deployed without it. We get blocked on this often, so it may be out of our hands.

[2015-09-17 20:39] #1905 closed

[2015-09-17 20:41] rowanmiller commented on #1904
We'll enable this when we work on multi-provider migrations etc.

[2015-09-17 20:44] rowanmiller commented on #1707
Anything that is missing will show up in testing

[2015-09-17 20:44] #1707 closed

[2015-09-17 20:46] rowanmiller commented on #1676
Currently we only use `SqlConnection` directly when connecting to master... and we have an issue to use `Clone()` instead. Everything else should work just fine.

[2015-09-17 20:46] #1676 closed

[2015-09-17 20:48] rowanmiller commented on #1669
@lajones what is still outstanding here?

[2015-09-17 20:51] rowanmiller commented on #1473
@mikary is this done?

[2015-09-17 20:52] rowanmiller commented on #1375
We need to review logging all up.

[2015-09-17 20:52] #1375 closed

[2015-09-17 21:01] rowanmiller commented on #2511
The changes have been made, the properties are swapped to methods

[2015-09-17 21:02] rowanmiller commented on #2499
@AndriySvyryd anything for us to do here?

[2015-09-17 21:04] AndriySvyryd commented on #2499
We need to investigate whether it's us and forward the issue if it isn't.

[2015-09-17 21:05] AndriySvyryd commented on #2511
I don't see the changes

[2015-09-17 21:06] rowanmiller commented on #2493
This should be a very scoped refactoring just to ensure providers don't have to override escaping etc. in multiple places

[2015-09-17 21:09] #2385 closed

[2015-09-17 21:10] rowanmiller commented on #2368
We can just be reactive if issue arise

[2015-09-17 21:10] #2368 closed

[2015-09-17 21:10] rowanmiller commented on #2357
This goes away based on our design meeting this morning

[2015-09-17 21:11] rowanmiller commented on #2357
This is tracked by several other issues too

[2015-09-17 21:14] rowanmiller commented on #2234
Nav prop translation is now implemented and these scenarios work

[2015-09-17 21:14] #2234 closed

[2015-09-17 21:15] maumar opened #3161 "Inheritance :: error when adding Customer and VipCustomer to a db set in one "save changes""
Repro:

[code]

This throws:
The instance of entity type 'Repro3161.VipCustomer' cannot be tracked because another instance of this type with the same key is already being tracked. For new entities consider using an IIdentityGenerator to generate unique key values.

   at Microsoft.Data.Entity.ChangeTracking.Internal.StateManager.StartTracking(InternalEntityEntry entry) in D:\k\EntityFramework\src

[2015-09-17 21:16] rowanmiller commented on #2151
You no longer need the ctor parameter and our docs are all updated

[2015-09-17 21:16] #2151 closed

[2015-09-17 21:19] maumar commented on #3161
Everything works fine if VipCustomer is added in separate SaveChanges

[2015-09-17 21:25] rowanmiller commented on #2879
This was superseded by https://github.com/aspnet/EntityFramework/issues/2891

[2015-09-17 21:25] #2879 closed

[2015-09-17 21:26] rowanmiller commented on #2870
Nav props are now supported in queries

[2015-09-17 21:26] #2870 closed

[2015-09-17 21:34] rowanmiller commented on #2726
We've implemented everything we concluded from design meeting etc.

[2015-09-17 21:34] #2726 closed

[2015-09-17 21:34] rowanmiller commented on #2714
@lajones is this done now?

[2015-09-17 21:37] rowanmiller commented on #2626
@ErikEJ we are going to pretty hard pressed to get this done for RC, any chance you could look at a contribution for it?

[2015-09-17 21:38] rowanmiller commented on #2597
@smitpatel is this done?

[2015-09-17 21:42] lajones commented on #2714
There's one more small place where I want to update the code.

[2015-09-17 21:42] rowanmiller commented on #2514
@AndriySvyryd can you add some more details on what this means?

[2015-09-17 21:45] lajones commented on #1669
The standard RevEng capabilities are covered through the end-to-end tests, but would like to add more unit tests.

[2015-09-17 21:49] rowanmiller commented on #3023
We should at least fix this null issue for RC (SQL Server has the same issue with comparing nulls). Consolidating sql gen can wait to post RC if needed.

[2015-09-17 21:51] rowanmiller commented on #2930
Done

[2015-09-17 21:51] #2930 closed

[2015-09-17 21:53] AndriySvyryd commented on #2514
Consider
[code]

You should be able to create an index like this:
[code]

Also if you had created an index on the derived entity type:
[code]

You should be able to override it on base:
[code]
and viceversa.
Same applies to FKs.

[2015-09-17 21:53] rowanmiller commented on #2895
We have basic coverage now

[2015-09-17 21:53] #2895 closed

[2015-09-17 21:55] maumar opened #3163 "Query :: include doesn't work well with inheritance"
Repro:

[code]

throws:

 The expression 'Convert([<generated>_1]).Orders' passed to the Include operator could not be bound.
   at Microsoft.Data.Entity.Query.EntityQueryModelVisitor.<IncludeNavigations>b__43_0(IncludeQueryAnnotation annotation) in D:\k\EntityFramework\src\EntityFramework.Core\Query\EntityQueryModelVisitor.cs:line 297
   at System.Linq.Enumerable.WhereSelectEnumerableIterator`2.M

[2015-09-17 22:25] AndriySvyryd commented on #1164
This should also include testing how easy is to use entities with shadow primary keys

[2015-09-17 22:33] bricelam opened #3164 "SQLite RevEng: Context is always named ModelContext"
By default, it should be named `<database-name>Context`.

[2015-09-17 22:36] bricelam opened #3165 "Core: Add DbContext.OnConfiguringServices"
When a service provider is created by the framework, we should have a hook users can use to override services. One proposal is...

[code]

[2015-09-17 22:38] rowanmiller commented on #623
@natemcmaster are we completely blocked on this, or are there things we can do on our side to make it work?

[2015-09-17 22:39] rowanmiller commented on #2339
Closing in favor of https://github.com/aspnet/EntityFramework/issues/3023 (which has more details).

[2015-09-17 22:40] rowanmiller commented on #2789
Duplicate of https://github.com/aspnet/EntityFramework/issues/2455

[2015-09-17 22:50] rowanmiller commented on #629
@weitzhandler good discussion on the best pattern for the moment going on at https://github.com/aspnet/EntityFramework/issues/3070

[2015-09-17 22:57] rowanmiller commented on #3016
@muratg can you add these packages to the list that gets published for Beta 8
* EntityFramework.Core.FunctionalTests
* EntityFramework.Relational.FunctionalTests
* EntityFramework.Relational.Design.FunctionalTests

[2015-09-17 23:15] AndriySvyryd commented on #2994
We've decided this isn't a very important scenario and preserving EF6 behavior trumps it.

[2015-09-17 23:23] muratg commented on #3016
It looks like this are new packages. I'll add these to the upload list.

@danroth27 FYI

[2015-09-17 23:47] weitzhandler commented on #2861
@leus
Having a .NET oriented DB will open a whole new world of capabilities in persistent storage.
Here are some simple examples:
 - Use your native .NET syntax to search the DB
 - Search with Regex
 - No limitations to [Canonical Functions](https://msdn.microsoft.com/en-us/library/vstudio/bb738626) in LINQ to entities (Entity SQL)
 - Complex nesting of queries
 - Easy graph transactions of any si

[2015-09-18 00:05] bricelam commented on #2679
Re-opening. We need this to properly enable `--startupProject`

[2015-09-18 00:05] AndriySvyryd commented on #3148
This might have been fixed in 8667adaecfe8d96cd8929cf83939cae6fd43f189

[2015-09-18 02:02] kennywangjin opened #3168 "insertion with invalid foreign key throws no exception:"
I tried to add an entity with invalid foreign key, after save changes, no exception was thrown and no data was inserted. like below:

[code]

[code]

there is no CostCenter with id of 100, but entity framework throws no exception and indicates that the operation is successfully done. however, I found no record inserted in database.

[2015-09-18 02:32] maumar opened #3169 "Query :: include with inheritance can return fewer results than expected when including optional (null valued) navigations"
TSQL that we produce for includes with inheritance is incorrect, and can yield fewer results than it should, example of the query we produce:

[code]

This is wrong when there is a Tag that is not related to a Gear.

Query should look something like:

[code]

i.e. the Discriminator predicate should be only applied to the Gear table scan, and not the entire JOIN-ed query

[2015-09-18 04:39] AndriySvyryd commented on #3156
We should still throw/log a warning for shadow keys created by convention, since it's very easy to unintentionally do when configuring a relationship

[2015-09-18 04:49] divega commented on #3156
Sounds good.

[2015-09-18 05:23] jimmymain commented on #247
how is TPC inheritance being tracked?
I have an existing project where each class within the hierarchy is mapped to a particular table.
I will move this model over to version 7 once it's implemented. Is this strategy also being tracked by this [issue](https://github.com/aspnet/EntityFramework/issues/247). The title does not make this clear.

[2015-09-18 05:28] jimmymain commented on #2266
I agree with andy, if the EF team honestly believe that they cannot do this because it's too slow, bring on nhibernate, because entity framework becomes pretty useless for real world business scenarios. The SQL team will never endorse de-normalised entities because of EF.

[2015-09-18 05:47] rowanmiller commented on #3156
Yeah I don't think we should create them by convention, we should still throw if no key is found

[2015-09-18 06:06] ErikEJ commented on #2626
@rowanmiller I guess I could, at least the opt out...

[2015-09-18 09:56] htuomola commented on #3149
This seems to be caused by System.Collections.Immutable v. 1.1.37+. I just saw similar behavior with NLog and started looking around and then found this: https://github.com/dotnet/corefx/issues/2984.

[2015-09-18 11:32] ErikEJ commented on #3149
Stay on version 1.1.36!

[2015-09-18 15:42] CuddleBunny commented on #3067
I also get this error when there is a pending migration, it took me a few minutes to find that the command is now `dnx ef database update`. The issue is already fixed on dev: https://github.com/aspnet/Diagnostics/pull/181

[2015-09-18 16:16] ToddThomson commented on #2266
Preface: This is not a knock against the EF7 team and their design goals. I really just want to know what I'm going to be working with if I choose to go with EF7 over EF6 for the next 12 months or so.

I think that there are real world scenarios that benefit from either TPH, TPC or TPT inheritance. I feel that the EF7 team needs to state clearly that TPC and/or TPT are going to be part of the futu

[2015-09-18 16:23] blakeholl commented on #2718
If you can't set a connectionstring without using DI, there's a problem.

[2015-09-18 16:29] rowanmiller commented on #2718
@blakeholl you can totally use EF without DI, in fact outside of ASP.NET 5 that is the default pattern we recommend folks use - here is a sample from our docs http://ef.readthedocs.org/en/latest/getting-started/full-dotnet.html.

[2015-09-18 16:34] sheinema commented on #3152
@bricelam I am running into the same issue. I have tried calling EnsureCreated() and Migrate() as suggested but still get a nondescript error that "There are pending model changes for AppDbContext". Is there another way to disable migrations so I might get a more useful error?

[2015-09-18 16:35] rowanmiller opened #3170 "Relational: TPC inheritance mapping pattern"
Consider configuring or issuing a warning to help with split identity seeding or shared sequence for the PK
FKs that point to a TPC entity type won't be enforced

- [x] Model support
- [x] Migrations support
- [x] Seed data support
- [x] SaveChanges support
- [x] Query support
- [x] End-to-end tests

Related: https://github.com/dotnet/efcore/issues/17270#issuecomment-588037768

[2015-09-18 16:36] rowanmiller commented on #247
@jimmymain #2266 is actually for TPT, I opened #3170 to track TPC (they were originally all tracked by this issue, but then we split it out since we are only implementing TPH for the initial stable release)

[2015-09-18 16:38] rowanmiller commented on #3152
@sheinema did you try scaffolding the next migration to see what changes it things are pending?

[2015-09-18 16:46] sheinema commented on #3152
@rowanmiller yes, I was able to figure out the mismatch; however my team is interested in completely disabling migrations since we are doing database first. It would be nice to get a more useful/specific error and not have to scaffold a new migration each time.

[2015-09-18 17:00] blakeholl commented on #2718
Yes, I have seen that wiki.  I just think it's a bit of a hassle that I have to write a lot of implementation details (adding a constructor and _connectionString field, and override OnConfiguring) into my DbContext subclass to support setting a connection string programmatically.  I still feel like nhibernate has the better configuration model.  Thanks anyway @rowanmiller

[2015-09-18 17:34] jimmymain commented on #2266
A clear statement of intent would assist us in making sound decisions for our clients.

[2015-09-18 17:35] rowanmiller commented on #3001
Hey @mustaphakd,

By default, key generation should work just fine with the InMemory provider. For example, the following code just uses all the default conventions (which includes generation for the `Blog.BlogId` property).

[code]

Running the code gives the following output, showing that values are successfully generated for the property.

2: Blog Two

There is a lot of repository layering etc,

[2015-09-18 17:38] rowanmiller commented on #3152
@sheinema so the database error page will only ever show if there is an exception trying to access the database (and details of the exception will be shown on the page too). It won't ever show just because you have pending model changes - it's trying to add some helpful information about your model in a situation where you would be getting an error page anyway.

[2015-09-18 17:39] rowanmiller commented on #3152
You can always remove it, there is an `AddDatabaseErrorPage` call in `Startup.cs`, then you will just see the standard error page in these situations.

[2015-09-18 17:41] rowanmiller commented on #2718
@blakeholl you can also just take a `DbContextOptions` instance in your constructor and pass that to the base constructor - then you don't need to use `OnConfiguring` etc. (`OnConfiguring` is really just a convenience method to allow you to setup the `DbContextOptions` inline in your context).

[2015-09-18 17:55] rowanmiller commented on #3115
**Note for triage:** We should support passing in DbParameters as well as just the raw values (we supported this in EF6), but it doesn't work at the moment.

[2015-09-18 18:09] rowanmiller commented on #3063
@CodeStoneK can you share a complete sample code listing we can use to reproduce this (model etc.).

[2015-09-18 18:17] rowanmiller commented on #2514
@AndriySvyryd can you discuss with folks what we want to do before doing it. Either design meeting, or just in the team room.

[2015-09-18 18:20] rowanmiller commented on #2499
This isn't a priority for us since it's external and we have a workaround.

[2015-09-18 18:20] rowanmiller commented on #1669
Closing, feel free to incrementally add coverage as you work on things.

[2015-09-18 18:23] rowanmiller commented on #3121
At this stage we are maintain code to keep test runners working. Given this we are just going to keep Test Driven .NET working (as that is what our team uses), but we would accept contributions if folks want to keep others working too.

Once things stabilize we will make other things work.

[2015-09-18 18:25] rowanmiller commented on #3118
@anpete @divega thoughts on this one?

[2015-09-18 18:30] rowanmiller commented on #3106
@lucadibiagio was it an invalid connection string?

[2015-09-18 18:33] rowanmiller commented on #3098
@bricelam is this all covered by existing issues we are tracking?

[2015-09-18 18:34] rowanmiller commented on #3097
@AndriySvyryd this should be your highest priority item :smile:

[2015-09-18 18:35] sheinema commented on #3152
@rowanmiller Thank you, removing AddDatabaseErrorPage() indeed reverted to the standard error page.

The migrations error message did include the generic exception but not the stack-trace, which is what we were looking for.

[2015-09-18 18:36] rowanmiller commented on #3094
@miroslavsiska you have specified `Trusted_Connection=True` in the connection string which means it will try to use Windows Auth. Given you also have a username and password, you should just remove this.

[2015-09-18 18:42] rowanmiller commented on #3168
@kennywangjin the database should enforce this, is there a reason the database is allowing this data to be saved?

[2015-09-18 18:48] rowanmiller commented on #3160
@timvanderweijde can you provide some detailed steps for us to reproduce this? We are not able to get the same result. If you can provide initial code, the change you make, etc.

[2015-09-18 18:49] rowanmiller commented on #3158
@anpete any thoughts on this one?

[2015-09-18 18:53] rowanmiller commented on #3152
@sheinema do you have any migrations in your project? I would only expect to see the pending changes message if you have a model snapshot for the context in question.

[2015-09-18 18:58] rowanmiller commented on #3149
@htuomola yeah this doesn't seem to be anything EF related. Can you open up an issue in the NuGet repo https://github.com/NuGet/Home

[2015-09-18 19:01] rowanmiller commented on #3147
@smitpatel feel free to clear up Milestone field if you want us to re-evaluate once you investigate

[2015-09-18 19:03] rowanmiller commented on #3146
Context per request is the correct pattern to use (for the reasons discussed in this thread).

@jerry2007 can you share your project so that we can investigate the performance issue?

[2015-09-18 19:19] rowanmiller commented on #3134
**Triage:** Agreed that `Load()` can always imply tracking

[2015-09-18 19:37] anpete commented on #3158
Had a quick look and couldn't see anything obvious. Might need to debug it.

[2015-09-18 21:01] sheinema commented on #3152
@rowanmiller No, there are no migrations in this project; no model snapshot

[2015-09-18 22:22] rowanmiller commented on #3152
Opened https://github.com/aspnet/Diagnostics/issues/182 to review this scenario as we shouldn't talk about migrations on the page when you have an existing schema and no migrations. We should also include info about how to turn off the error page.

[2015-09-18 22:30] smitpatel commented on #3147
@TheMadKow - Thanks for the detailed info. From the code of model builder it looks like you are not configuring any relationship explicitly. That means all the relationship will be formed by conventions only based on the navigation properties defined.

Based on description you provided about `Schema.cs` and `Occurrence.cs`, the classes would look like following
[code]
Model generated with above cl

[2015-09-18 23:08] anpete opened #3172 "DbContextOptions: Consider making runtime consumption happen through immutable interfaces"
Same as we do for metadata.

[2015-09-19 01:35] kennywangjin commented on #3168
i let conventions to build the database, and the table foreign keys are well configured. If i set the foreign key with a valid id, item will be saved. if with a invalid id, no data is saved, and NO exception! That's the point. Normally it should throw some exception to inform the invalid exception.

[2015-09-19 03:34] staff0rd commented on #827
@ilmax care to share how you are mapping views and generating migrations for them?

[2015-09-19 09:13] ilmax commented on #827
@staff0rd my prototype was build against early ef7 version, since ef was in the early days at the time, I abandoned the prototype, waiting for ef7 to  RC.
I think that now the majority of EF building blocks are quite stable, so maybe I can start working on this and put together a prototype here on github.

[2015-09-19 11:04] miguellira opened #3174 "Guidelines for running ef commands"
Looks like a recent commit (https://github.com/aspnet/EntityFramework/commit/448170f732116607bf4a464e627988f0874317dd#diff-b8c39a3f7fffa559788354a8e675e20eL99) by @bricelam removed the `--startupProject` argument from ef commands.

Are there any guidelines/best practices for running ef commands in a solution where your `DbContext` is in a project other than your startup project?

An open issue (ht

[2015-09-19 11:48] roji commented on #3122
OK, thanks for the clarification. Getting just the new value is insufficient for at least some cases - the old value may be necessary to generate the alteration SQL etc.

Just want to stress this isn't a critical issue or anything (definitely not RTM), just raising this so it's treated at some point.

[2015-09-19 18:06] timvanderweijde commented on #3160
Hi,

Sure. shall I send a demo project to this emailadres? (is  that public?)

Regards, Tim

Op vr 18 sep. 2015 om 20:49 schreef Rowan Miller <notifications@github.com>:

[2015-09-19 18:33] timvanderweijde commented on #3160
Hi,

I started to create a demo project and I noticed a difference (and the reason why I got the error).

I also used another tutorial:
http://mvc.readthedocs.org/en/latest/tutorials/mvc-with-entity-framework.html

In there there a line:
if (context.Database.AsRelational().Exists())
{

But this line doesn't work with beta7 anymore. (the tutorial is behind)

I replaced this with this line:
context.

[2015-09-19 22:44] yukozh opened #3176 "Does EF7 eager load support lift include?"
There is a lift foreign key in my model:

[code]

I want to get parent's parent until it equals to null.

In the EF 6, I have used the lazy load, there was no need to use .Include().ThenInclude(), but I don't know how to make this works by using eager load with EF7.

Is there any methods like .LiftInclude(x => x.Parent) in the latest unstable package?

[2015-09-19 22:47] Kagamine commented on #2980
https://github.com/aspnet/EntityFramework/issues/3176
Are there any method to make a lift include?

[2015-09-19 23:27] maumar commented on #3176
You could try something like this:
var topic = context.Topics.Include(t => t.Parent).Where(t => t.Id == someId).SingleOrDefault();
if (topic!= null && topic.Parent != null)
{
topic = context.Topics.Include(t => t.Parent).Where(t => t.Id == topic.Parent.Id).SingleOrDefault();
}

If there are multiple levels of parents, you can use "while" instead of "if".

[2015-09-19 23:37] Kagamine commented on #3176
It's so complex. Why not make a support for eager load, or implement the lazy load?

[2015-09-19 23:46] maumar commented on #3176
You could also do it without use of include, by inspecting the foreign key and querying for entity which I'd is topic.ParentId)

Its all matter of priority. While lazy loading makes your code simpler but doesn't enable new scenarios. (you can do everything using eager loading, although its more difficult) There are still things in EF7 that don't work at all and we would like to implement them firs

[2015-09-19 23:58] Kagamine commented on #3176
:disappointed:

[2015-09-20 02:20] divega opened #3177 "Test: Remove tests packages from NugetPackageVerifier exclusion list"
NugetPackageVerifier is an fxcop-like tool for required NuGet package and assembly metadata and for proper code signing that now runs automatically in our build. When it was enabled recently in our branch [tests packages we produce were excluded](https://github.com/aspnet/EntityFramework/pull/3157/files#diff-7923ea359ac2a1c7ec90f580db690e1aR28).

However per #3016 these packages will soon be publi

[2015-09-20 02:24] divega commented on #3177
We should try removing the packages from the exclusion list and fix whatever we need to fix. No need to break the build :smile:

cc @Eilon @ajaybhargavb.

[2015-09-20 18:29] TheMadKow commented on #3147
@smitpatel , Hey,
Sorry for not including this info - the error is only at run time, when trying to create a new Schema and attach an occurrence, under "await AppContext.SaveChangesAsync()".

I'm entering partial code again.

        public async Task<IActionResult> Create(CreateUpdatePostit model)
        {
            Logger.LogInformation($"User {AppUser().FullName} requested to CREATE Post-it

[2015-09-21 05:56] ErikEJ opened #3178 "[RevEng] Error running "scaffold-dbcontext""
Using SQLCE provider with build: beta8-15719 I get this error when running scaffolding - any idea what could be causing this? (The beta 7 bits on NuGet work fine)

    PM>  Scaffold-DbContext -Connection "Data Source=C:\data\Chinook.sdf" -Provider EntityFramework.SqlServerCompact40
    Scaffold-DbContext : Exception calling "CreateInstance" with "8" argument    (s): "Type 'System.Management.Automa

[2015-09-21 14:32] HakamFostok opened #3179 "Mistyping Error"
The Property "ContextKey" in the "System.Data.Entity.Migrations.DbMigrationsConfiguration" class
has the following documentation

![image](https://cloud.githubusercontent.com/assets/12747172/9994574/9caa3e3e-6086-11e5-9afd-40ba0c6d551b.png)

please note that the "applied to" is repeated statement.
thanks in advanced.
@anpete

[2015-09-21 16:44] lajones commented on #2714
This is now done with commit 057b8df.

[2015-09-21 16:44] #2714 closed

[2015-09-21 17:41] lajones commented on #3178
@ErikEJ  Are you able to do any other command e.g. a migration command? If not it's probably that something's changed about Activator.CreateInstance().

[2015-09-21 18:42] ErikEJ commented on #3178
@lajones Yes, I am:

     PM> add-migration first
     No DbContext was found. Ensure that you're using the correct assembly and that the type is neither abstract nor generic.

[2015-09-21 18:48] lajones commented on #3178
Hmmm. Not sure. I'll investigate.

[2015-09-21 18:48] ajaybhargavb commented on #3177
Updated the PR with this change https://github.com/aspnet/EntityFramework/pull/3157/

[2015-09-21 18:50] ErikEJ commented on #3178
@lajones  Please let me know if I can provide any more info! The test project is a .NET 4.5 Console app.

[2015-09-21 18:51] lajones commented on #3178
@ErikEJ - will do. As a workaround does it works from the command line?

[2015-09-21 19:12] Venomed opened #3180 "A column has been specified more than once in the order by list. Columns in the order by list must be unique."
I'm running the following query to test out relation configuration in context and get the above error:

[code]

if I break it down to:

[code]

or

[code]
then it works fine.

Profiler shows that SQL is indeed messed up:

[code]

[2015-09-21 19:13] ErikEJ commented on #3178
Does the command line work with a csproj project?

[2015-09-21 19:49] natemcmaster commented on #623
@rowanmiller I am still not able to get EF and UWP to play nice. NuGet's latest updates also broke SQLite. Prior to the update, I was able to get parts of our framework running. Query and dependency injection have never worked.

[2015-09-21 20:13] MichaelKetting commented on #623
@natemcmaster just a heads-up: Haven't gotten around to .NET Native yet in re-linq (probably won't get to it before October, either) but we do accept PRs (after the Apache 2 CLA is signed :) ). If you want to discuss specifics, the https://www.re-motion.org/jira/browse/RMLNQ-92 issue's comment thread is probably best for this.

[2015-09-21 20:30] lajones commented on #3178
@ErikEJ - you'd need to have a project.json to use the command line. But I think I found the problem - I'll post a PR.

[2015-09-21 21:02] lajones commented on #3178
@ErikEJ - I checked in a fix - so closing. But if you still have problems please re-open.

[2015-09-21 21:02] #3178 closed

[2015-09-21 22:12] maumar commented on #3180
Could you also share a model used to cause this issue?

[2015-09-21 22:26] lajones commented on #3135
Can I get more details? I'm not seeing it. If I do Scaffold-DbContext in the Package Manager Console without sqlite3 I get:

`Unable to load DLL 'sqlite3': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`

If I do it on the command line. I get:

[code]

[2015-09-21 23:19] ajaybhargavb commented on #3177
b4edf2eabd05752420f434b490c317e8f27488de

[2015-09-21 23:24] lajones commented on #3164
@bricelam. @natemcmaster and I talked this over. A typical `database-name` for SQLite is just a file path. That's what you get if you put the connection string into SqliteConnectionStringBuilder and ask for DataSource (which is similar to what we do for SqlServer). We could just strip off all directories and just make a CSharp identifier out of the name of the file. Would that work?

[2015-09-21 23:50] divega commented on #3164
FWIW, works for me: just the file name with no path or extensions + Context.

[2015-09-22 00:30] smitpatel commented on #3147
@TheMadKow  - Since migrations/context creation is working fine, model looks perfectly valid. Error coming at `SaveChangesAsync()` means the cycle is being formed by in entities being added.
I have created a standalone repro for this.
- Schema has list of all occurrences
- Schema has navigation to future occurrence

In the code new Schema & Occurrence are being created. ForeignKey properties for a

[2015-09-22 00:32] smitpatel commented on #3147
Cleared milestone for re-triage since investigation is done.

[2015-09-22 01:08] natemcmaster opened #3183 "DbContextServices should not call dispose on parent service provider"
Recent changes (https://github.com/aspnet/DependencyInjection/commit/bbb9acf101d4f9b3b818834c60572f67ec16ac63) to DependencyInjection means DbContextServices.Dispose() cleans out a parent service provider. On a 2nd call to the service provider, some services have been removed, e.g. the model.

[code]

[2015-09-22 01:13] smitpatel commented on #3034
Once #3109 is resolved, user will get exception about null PK. That should block usage of model far earlier than reaching the exception about wrong column name. Closing this out as there is nothing actionable here.

Better exception while spatial/complex type expanded as entitytype -> #3109
Spatial types -> #1100

[2015-09-22 01:55] divega commented on #3183
Looks like what #1113 was supposed to fix (dispose the scope instead of the service provider) just became more urgent.@natemcmaster feel free to poach if you can get to it now.

Cc @mikary

[2015-09-22 05:11] kennywangjin opened #3186 "Query: [Nav Prop Translation] Optional navigation translates to INNER JOIN instead of LEFT OUTER JOIN"
I have model:

[code]
when the query dbContenxt.Items.Where(item=>item.ParentId==null || item.Parent.ParentId==null)

it returns just the items matching the second filter: item.Parent.ParentId==null, the first filter doesn't work!
if I remove the second filter and just use the first one, then I could get the items matching the first filter.

Is it a bug or any misunderstanding of the framework?

[2015-09-22 05:21] ErikEJ commented on #3178
@lajones Excellent - thanks for the quick response! :smile:

[2015-09-22 12:03] freshe opened #3187 "Generic FromSql"
FromSql only seems to work with classes/tables that is already mapped within your DbContext.
Is there a way/plan to make it work like the "EF6x SqlQuery<T> generic" way?

The entity type 'Test' was not found. Ensure that the entity type has been added to the model

[code]

[2015-09-22 12:32] TheMadKow commented on #3147
@smitpatel  Thanks for the kind reply, i'll try to figure this one out, and what i did wrong.

[2015-09-22 13:22] tuespetre commented on #3115
Dictionaries are cool and all but the 'micro-orm' approach of allowing anonymous objects to be passed in is much more convenient.

[2015-09-22 14:06] Venomed commented on #3180
I've removed columns that had only `Required` or `MaxLength` constraints

[code]

[2015-09-22 14:59] HenryGarle commented on #3107
No longer an issue after updating to latest beta's.

[2015-09-22 16:51] anpete commented on #3187
See #1862

[2015-09-22 17:14] #3097 closed

[2015-09-22 17:22] Tratcher commented on #3183
@natemcmaster @divega this is blocking the CI, can it get taken care of today?

[2015-09-22 17:23] natemcmaster commented on #3183
@Tratcher It's being worked on.

[2015-09-22 19:15] natemcmaster commented on #3183
Update: this bug is unverified. I found it is not *directly* related to what was blocking CI. Temporarily disabling the broken tests:  aa6a40e56ce4a0450346c3b64797cbd38d3c53bd.

[2015-09-22 19:17] divega commented on #3187
@freshe this is a known limitation of `FromSql()` compare to EF6's `SqlQuery()` as explained in the bug @anpete linked to. Although `FromSql()` allows you to provide alternative SQL to bootstrap a `DbSet`, the `DbSet` can still only be of mapped entity type. All that said, you should be able to do this to get what you want:

[code]
Also note that until very recently there was a bug (#3142) that th

[2015-09-22 20:55] freshe commented on #3187
Thanks @divega @anpete for clarification and workarounds.

I have a UnitOfWork class with the SqlQuery<T> method used extensively throughout the application. If FromSql could be used in the same way it would have been easy to update the code in one place and just have it work.

[2015-09-22 21:23] lajones commented on #3164
Fix checked in with commit 9d69d87.

[2015-09-22 21:23] #3164 closed

[2015-09-22 21:34] Vasimovic commented on #3187
Same here we use the sqlQuery method extensively throughout applications that are not rooted in the DbContext; typically to retrieve (subset) view data that is not part of the DbContext, therefore item #1862 would be invaluable

[2015-09-22 21:44] #3109 closed

[2015-09-22 21:56] ajcvickers opened #3192 "ConditionalTheory/ConditionalFact tests don't run in TestDriven.NET"

[2015-09-22 22:11] smitpatel commented on #2597
This is done. ModelSnapshot includes call to BaseType in entity declaration, which should do everything required. Closing this issue. If we find something missing in future, will file a new issue.

[2015-09-22 22:11] #2597 closed

[2015-09-22 22:17] natemcmaster commented on #2977
The latest version of SqlClient on coreclr fails on Windows Server 2012 R2.

[2015-09-22 22:27] natemcmaster commented on #2977
@bricelam the CI boxes will not work with SqlClient 4.0.0-beta-23302 for reasons no one understands. Reverting to an older version.

[2015-09-22 23:32] maumar opened #3195 "Mapping :: confusing exception message is thrown for some invalid models - hard to figure out what's wrong"
Model:

[code]

Exception that is thrown is as follows:

The specified entity type 'Microsoft.Data.Entity.FunctionalTests.TestModels.InheritanceRelationships.NestedCollectionBase' is invalid. It should be either the dependent entity type 'Microsoft.Data.Entity.FunctionalTests.TestModels.InheritanceRelationships.NestedReferenceBase' or the principal entity type 'Microsoft.Data.Entity.FunctionalTest

[2015-09-22 23:57] natemcmaster commented on #3183
Closing as a dup of #1113

[2015-09-23 00:01] CodeStoneK commented on #3063
@rowanmiller,

Here you go. Let me know if you need more details.

    // Entity

    public class EntityBase
    {
        public DateTime CreatedDate { get; set; }
        public string CreatedBy { get; set; }
        public DateTime LastUpdatedDate { get; set; }
        public string LastUpdatedBy { get; set; }
    }

    public class Account : EntityBase
    {
        public Account() {   }

[2015-09-23 00:09] smitpatel commented on #3156
At present shadow-keys are allowed in the model. `ModelValidator` logs a warning for shadow keys.
I will be making changes to block shadow-keys created by convention.

[2015-09-23 00:14] divega commented on #3187
@freshe @Vasimovic thanks for the feedback. I will close this issue as a dupe of #1862 and have that one marked as up-for-grabs. We agree this capability is important but at the moment we don't plan to include it in EF 7.0 RTM.

[2015-09-23 00:28] csunali commented on #3002
This null reference exception occurs with a basic query as below:

[code]

The `ParentId` field is of type `long?`.

I can see that the work to fix this issue has already been done. When do you think we can see it on the developer feeds?

[2015-09-23 09:10] FabienDehopre opened #3199 "The table schema is not always scaffolded when creating a migration and table name may be wrong when using schema"
### Functional impact

When configuring multiple entities to be in a different schema than dbo, not all the tables are created in the given schema.
There is also a confusion in the table name in the migration script for the table(s) assigned to the custom schema.
### Minimal repro steps
1. Create several entities.
2. Create a DbContext class and configure the entities with at least the ".ToTable(t

[2015-09-23 12:22] kennywangjin opened #3200 "no exception when model is different to database schema:"
when the code first model is different to database schema (maybe some changes to only model or only database schema, no sync), if I try to add some entity to database, savechanges throws no exception or gives any notification, and no record is inserted into database.
Is this behavior intended or something wrong?

[2015-09-23 14:09] AmineKhi opened #3201 "Generating code from an existing database "AggregateException""
I'm trying to generate code from my database but i get errors : System.AggregateException: One or more errors occurred. ---> Method not found

this is my project.json:
//////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\
{
"webroot": "wwwroot",
"version": "1.0.0-*",

"dependencies": {
    "Microsoft.AspNet.Mvc": "6.0.0-beta5",
    "Microsoft.AspNet.Server.IIS": "1.0.0-beta7",
    "Microsoft

[2015-09-23 16:26] jeremyZX opened #3202 "Negation expression in projection causes "Incorrect syntax near '='." error when executed (SqlServer)"
I'm unable to compose a query that uses a negation expression as part of the projection.  These simple cases result in the same error:

[code]

These all throw a SqlException: `"Incorrect syntax near '='."`

The generated SQL appears to be syntactically invalid:

[code]

Contrasted with EF6:

[code]

[2015-09-23 16:39] mikary commented on #3002
The PR associated with this issue was actually closed for rework due to a design/factoring issue. I'll try to get a PR to specifically address this issue out right away.

[2015-09-23 16:40] csunali commented on #3002
Appreciated.

[2015-09-23 17:12] leus commented on #3200
I've observed this but since I'm in a rapid prototyping phase I don't add migration-generated files to my project. I'm curious about this too.

[2015-09-23 17:32] lajones commented on #3201
Closing as a dupe of #3135.

[2015-09-23 17:59] bricelam commented on #3098
Yes, #2294 is the high-level item.

[2015-09-23 18:00] divega commented on #3202
This scenario is described in #649 which we triaged as pri1. Conditional expressions in the projection need to be wrapped in a CASE statement, or I guess they could be evaluated in memory.

@maumar @anpete any thoughts?

[2015-09-23 18:00] bricelam commented on #2294
See also the [September 17, 2015 Design Meeting Notes](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes-(September-17,-2015)#design-time-services).

[2015-09-23 18:02] gabrielgreen commented on #3119
I'm getting this too...

[2015-09-23 18:03] ajcvickers commented on #3120
@roji Provider agnostic tests are preferred if possible unless the scenarios are very specific to a single provider.

[2015-09-23 18:04] bricelam commented on #3174
The `--startupProject` didn't work very well. It will come back when #2679 and #2294 are done.

[2015-09-23 18:08] bricelam commented on #3122
Retrieving the old value could be enabled by #1911

[2015-09-23 18:21] miguellira commented on #3174
Thanks @bricelam. Subscribed to the referenced issues.

[2015-09-23 18:29] bricelam commented on #3135
I'm not seeing it anymore. Must've been a bug in my code that got fixed before merging.

[2015-09-23 18:30] bricelam commented on #3135
Wait, I'm still not seeing a stacktrace...

[2015-09-23 18:30] user100003 opened #3204 "Equivalent events to ObjectMaterialized and SavingChanges in EF Core?"
Hi,

On EF6, we hook into the ObjectMaterialized and SavingChanges events very easily to perform some DateTime transformations that are required for sharing the DB with other applications.

Considering the ObjectContext API isn't there in EF7, what are the equivalent events to ObjectMaterialized and SavingChanges in order to achieve the same functionality?

[code]

Thanks

[2015-09-23 18:35] bricelam commented on #3135
Ah, looks like my use of `Write-Output` is wrong.

[2015-09-23 18:40] ajcvickers commented on #3005
@LonDat IClrCollectionAccessorSource is the extensiblity point to use for changing the way collection properties are accessed. It handles the caching and dynamic creation of delegates. If you want to do something that doesn't dynamically create delegates or creates them in a different way, then this is the service to replace.

[2015-09-23 18:41] #1113 closed

[2015-09-23 18:44] natemcmaster commented on #2897
Fixed with #3086

[2015-09-23 18:44] #2897 closed

[2015-09-23 18:46] mikary commented on #3002
When testing changes based on the reproduction, I discovered that query does not provide Type information when adding parameters resulting in using the default type for null values (which doesn't work in the case of the provided query).

[2015-09-23 18:47] natemcmaster commented on #2898
Status update: running *all*  functional tests against SQL Azure is not likely to work. I can get a very small subset passing, but anything that tests that uses database creation/deletion fails (which is basically all right now).

[2015-09-23 18:49] LonDat commented on #3005
@ajcvickers Thx for response...so IClrCollectionAccessorSource will not use IClrPropertyGetter/IClrPropertySetter. I understand that correctly?
Thx :)

[2015-09-23 18:50] ajcvickers commented on #2717
@roji I think there are a couple of things we can do here. In some cases it may be fine to just throw in Migrations. For example, if it might be possible for a database to be setup with triggers, etc. to do what is asked, but there is no way to create such a database from Migrations. In cases where the model is always going to invalid then look into implementing an IModelValidator, This seems to b

[2015-09-23 18:51] bricelam commented on #3199
It looks like you only configured the name and schema for the `Option` entity ...three times.
[code]

[2015-09-23 19:09] ajcvickers commented on #2934
@jhermsen I just tried using your listener and after setting the entity state to Modified I got a StateChanged event as expected. In your code your are checking if the oldState is Modified, so nothing else kicks in because I'm changing from Unchanged to Modified, but if I change this to check for an oldState of Unchanged, then I see IsPropertyModified returning true for all non-key properties.

At

[2015-09-23 19:11] bricelam commented on #2867
Closing since this work is tracked by #2294

[2015-09-23 19:12] bricelam commented on #2748
Closing since this work is tracked by #2294

[2015-09-23 19:12] bricelam commented on #2553
Closing since this work is tracked by #2294

[2015-09-23 19:16] bricelam commented on #2256
I have no idea what work needs to be done for this issue anymore. I suspect most of it will be covered by #2294. Moving to a discussion and closing. Please create new issues for anything that you think is not tracked already tracked by other issues.

[2015-09-23 19:17] ajcvickers commented on #1721
@rmja This does not repro for me with the current bits. I'm going to assume that it is fixed since code has changed in this area but please feel free to re-open the bug with a full repro if the issue is still happening for you with the latest bits.

[2015-09-23 19:32] marrrcin commented on #3117
Resolved, see http://stackoverflow.com/questions/32543448/update-of-navigation-property-in-ef7-does-not-get-saved/32547375#32547375

[2015-09-23 19:42] mikary opened #3205 "SqliteRelationalConnection enables foreign keys each time open is called"
The SqliteRelationalConnection should only enable foreign keys when the underlying connection changes state to Open

[2015-09-23 19:42] maxmantz opened #3206 "Cannot use migrations when using DbContexts on multiple databases"
I'm developing a multi tenancy setup where I use the same DbContext on multiple databases. However, I can't get migrations to work. When I try a dynamic apporach as the one described in my <a href="http://stackoverflow.com/questions/32737557/how-to-setup-multi-tenancy-in-asp-net-5-web-api-and-entity-framework-7">StackOverflow question </a>, I get errors. When I supply a connection string, the migr

[2015-09-23 20:21] ajcvickers opened #3207 "Consider aligning old and new fluent API names"
We chose to make all the following consistent with the old stack:
- Entity
- Property
- HasKey
- IsRequired
- HasMaxLength
- IsConcurrencyToken
- ToTable (relational)
- HasColumnName (relational)
- HasColumnType (relational)

These are new APIs, some of which could have "Has" or "Is" prefixes to be consistent.
- Index
- BaseType
- Annotation
- HasAlternateKey
- Unique (on IndexBuilder)
- ValueGene

[2015-09-23 20:26] marrrcin commented on #3119
Is this under investigation? Could anyone from the team comment on this?

[2015-09-23 20:44] natemcmaster commented on #623
See also #3019

[2015-09-23 20:55] natemcmaster commented on #3019
This may be resolved by using a newer version of Microsoft.NETCore.UniversalWindowsPlatform (as long as this newer NETCore version doesn't cause further conflicts.)

[code]

[2015-09-23 21:07] mikary opened #3208 "Query does not apply null semantics when using .Equals with nullable parameters"
[Fact]
        public virtual void Where_equals_on_null_nullable_int_types()
        {
            int? nullableIntPrm = null;

            AssertQuery<Employee>(
                es => es.Where(e => nullableIntPrm.Equals(e.ReportsTo)),
                entryCount: 1);

            AssertQuery<Employee>(
                es => es.Where(e => e.ReportsTo.Equals(nullableIntPrm)),
                entryCo

[2015-09-23 21:08] mikary commented on #3002
Opening related issue #3208

[2015-09-23 21:12] bricelam commented on #639
See also the [September 17, 2015 Design Meeting Notes](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes-(September-17,-2015)#design-time-services).

[2015-09-23 21:25] nwykes opened #3209 "ExecuteReader() throws "System.InvalidOperationException: ExecuteReader requires an open and available Connection.""
In Beta-7 I'm attempting to use ExecuteReader() to run some raw SQL to get data that's not associated with an entity.  It throws
`
System.InvalidOperationException: ExecuteReader requires an open and available Connection. The connection's current state is closed.
`

Here's a simplified use case (I'm actually generating stats based on case and sum, but the below count query shows the problem in a m

[2015-09-23 21:51] AndriySvyryd commented on #3195
Does this read better?

[2015-09-23 22:15] divega commented on #3123
@sgmon Could you provide some information about the pattern you are using in your implementation of `INotifyPropertyChanged`? Did you need to do this to have the UI work correctly with notifications in UWAs? Is this a pattern you found somewhere? Where? How common is this type of implementation?

To give you some background: EF needs the notification to happen immediately and in the same thread as

[2015-09-23 22:44] divega commented on #3070
I have filed a new issue in ASP.NET hosting: https://github.com/aspnet/Hosting/issues/373 for first class support of application code that runs at startup. In the meanwhile, running code within a service socpe in `Startup.Configure()` seems to be the best workaround:

[code]

This workaround is now [implemented in the MusicStore sample](https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/

[2015-09-23 23:05] divega commented on #3119
@marrrcin Is this the full repro? @gabrielgreen too, are you sure that you are not using the `EF.Property()` method anywhere in your code?

This seems bizarre, because [we are only throwing that exception from within the body of the method](https://github.com/aspnet/EntityFramework/search?utf8=%E2%9C%93&q=PropertyMethodInvoked) (at least currently).

Also, would it be possible for you to try more

[2015-09-23 23:06] divega commented on #3119
Moving to rc1, as there are two reports and this seems like something we need to get to the bottom of.

[2015-09-23 23:18] maumar commented on #3169
Fixed in 1a100f95c36697949c5d25791d9b132662b49243

[2015-09-23 23:18] #3169 closed

[2015-09-23 23:18] maumar commented on #3163
Fixed in 1a100f95c36697949c5d25791d9b132662b49243

[2015-09-23 23:18] #3163 closed

[2015-09-24 00:38] maumar commented on #1802
added many inheritance related tests in 1a100f95c36697949c5d25791d9b132662b49243 closing

[2015-09-24 00:38] #1802 closed

[2015-09-24 00:41] kennywangjin commented on #3200
Exactly, me too, no migration-generated files added.
But, it should throw some exception or return some notification indicating the invalid operation, right?

[2015-09-24 01:18] maumar commented on #3029
this is still broken in latest bits

[2015-09-24 01:45] maumar commented on #2599
Fixed in d2802fdaf35458e35a69f9573e57c592d43c6367

[2015-09-24 01:45] #2599 closed

[2015-09-24 03:40] divega commented on #2897
Thanks!

[2015-09-24 07:26] FabienDehopre commented on #3199
Indeed... It seems I did need an external point of view to see my mistake.
Shame on me :$

[2015-09-24 13:00] Venomed commented on #3180
I feel like I have yet another instance of this bug hitting me. Fortunately this time I have a stacktrace too. This time, however, I have no SQL to offer for the crashed instance as it doesn't get that far.

The following query works fine in EF6 but not in EF7:

[code]

EF6 yields SQL:

[code]

EF7 throws: An item with the same key has already been added.

with StackTrace:

at System.ThrowHelper.T

[2015-09-24 17:04] mikary commented on #3110
The `SqlStatementExecutor` disposes `DbCommand`s and closes the connection before the `DbDataReader` can be consumed.
- Update pipeline uses a `Consume(DbDataReader)` pattern that could be provided as an `Action<T>` allowing the executor to control the life-cycle of the ADO objects
- Query
 - Requires a streaming / lazy reader, calling `Dispose` and closing connection outside of the executor
 - Re

[2015-09-24 17:38] natemcmaster commented on #3192
I believe this is a problem with testdriven.net. These custom attributes work just fine on some classes. Inherited + generics seems to be the problem. TD.net doesn't discover tests on these types of classes.

[2015-09-24 17:56] natemcmaster opened #3217 "Running iterations causes perf tests to crash"
Running adventure works tests with "benchmarks:runIterations=true" crashes with the xunit.console.exe runner.

[code]

[2015-09-24 17:56] natemcmaster commented on #3217
/cc: @rowanmiller

[2015-09-24 18:18] #1652 closed

[2015-09-24 18:18] #1769 closed

[2015-09-24 18:38] ajcvickers commented on #3192
I wonder if the tests are running on the CI? Before this was committed the CI was running 7793. The CI was broken for a while, but when it started again the number of tests running was 7640.

[2015-09-24 18:45] natemcmaster commented on #3192
Should be. They work locally with dnx.
![image](https://cloud.githubusercontent.com/assets/2696087/10083049/7aa6def0-62b1-11e5-9133-3c294e245ad0.png)

[2015-09-24 18:55] anpete opened #3219 "Logging: Add event ids to all publication sites"

[2015-09-24 18:58] #3156 closed

[2015-09-24 19:02] anpete commented on #3219
Any calls to ILogger.Log should specify a non-zero event id that is unique within the current logging category.

[2015-09-24 19:17] ErikEJ commented on #3038
@rowanmiller @anpete Any suggestions or anything I can do?

[2015-09-24 19:48] mikary commented on #1720
@rmja  I attempted to reproduce this issue on 7.0.0-beta3 based on the information provided, but I was unable to recreate the problem described. Could you produce a stand-alone reproduction of this issue?

[2015-09-24 20:35] natemcmaster commented on #3192
...and just to be sure, I removed all Conditional* and the number of tests did not change.

[2015-09-24 20:57] lajones commented on #3131
Checked in with commit a172942.

[2015-09-24 20:57] #3131 closed

[2015-09-24 20:57] #2491 closed

[2015-09-24 21:21] grandchamp opened #3222 "get_EntityQueryableExpressionVisitorFactory does not have an implementation."
I've just updated all my projects to beta7, and i'm getting this on EF.
![image](https://cloud.githubusercontent.com/assets/10946750/10087213/f57b3acc-62e8-11e5-92b7-5344d18e09cd.png)

[2015-09-24 21:23] gabrielgreen commented on #2806
The solution worked for me.  Thanks.  FYI, the problem only happened after I moved the project from one location to another in order to place it under source control.

[2015-09-24 22:08] #1863 closed

[2015-09-24 22:08] #3002 closed

[2015-09-24 22:20] mikary commented on #3112
Removed the `RelationalParameterList` and changed the "params" constructor. I think the new factoring should satisfy the intent of this issue
- [ ] API review required

[2015-09-25 01:17] weitzhandler commented on #1950
Still having the same issue. VS2015 on a new project of ASP.NET 4 MVC 5.2, trying to call *Enable-Migrations*. This is unbelievable. It's like the ASP.NET dropped the support for the released version focusing on the unreleased beta.
I tried the workaround of the [first post](https://github.com/aspnet/EntityFramework/issues/1950#issue-65169768) - none worked. I have a solution that contains a singl

[2015-09-25 01:28] brendangreen commented on #1950
@weitzhandler - which workaround?  The new nuget, or the patches psm1?

[2015-09-25 01:31] weitzhandler commented on #1950
Both. I have the latest NuGet (3.2), and tried replacing the psm1 file. Neither worked.

[2015-09-25 01:33] brendangreen commented on #1950
Post your error message.  It's possible that there may be a different issue?
On 25/09/2015 11:17:53 AM, Shimmy <notifications@github.com> wrote:
Still having the same issue. VS2015 on a new project of ASP.NET 4 MVC 5.2, trying to call Enable-Migrations. This is unbelievable. It's like the ASP.NET dropped the support for the released version focusing on the unreleased beta.
I tried the workaround o

[2015-09-25 01:36] weitzhandler commented on #1950
@brendangreen
This was all brought above but to make you happy here you go:

    enable-migration : The term 'enable-migration' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path
    was included, verify that the path is correct and try again.
    At line:1 char:1
    + enable-migration
    + ~~~~~~~~~~~~~~~~

[2015-09-25 01:40] brendangreen commented on #1950
When I was using the work around, I had to Import-Module the psm1 file.  You did that?

[2015-09-25 01:49] weitzhandler commented on #1950
@brendangreen
Well after explicitly uninstalled EntityFramework (`Uninstall-Package EntityFramework`) and reinstalled it it works now.

[2015-09-25 02:53] lajones commented on #3047
Thanks for the feedback - I've checked in a fix for this with commit 4f133c1. The flag is --context-class-name or -c for short.

[2015-09-25 02:53] #3047 closed

[2015-09-25 07:25] ErikEJ commented on #3158
@anpete  Now get same pattern with Where_query_composition4() !

[2015-09-25 07:59] danielcweber commented on #2789
Why is this considered a bug with pri0, while #2455 is considered only an enhancement and pri1 ?

[2015-09-25 10:38] garora opened #3225 "An idea to add SQL Like Functionality in LINQ"
`This is not an issue, its just an idea of new feature, if not implemented till date.`
**_Is there any features list available?**_
Currently, there is no feature or support similar to `Like` functionality in `SQL`. However, we can use `Contains` to meet our requirements, which uses `in` at `SQL` side (dbengine). I am just thinking to add a new feature something similar to `sqllike` here is an exam

[2015-09-25 12:07] grandchamp commented on #3222
For some reason it was downloading EntityFramework.Core as beta8. Closed.

[2015-09-25 15:59] natemcmaster commented on #3225
We already have this.

https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Query/ExpressionTranslators/ContainsTranslator.cs

[2015-09-25 16:34] etrigoco opened #3226 "Issues trying to connect to an existing database using beta7"
I'm running beta7 for everything, including EF 7. I'm trying to connect to my remote existing database using the ASP.NET 5 Application template project. My project.json looks like this:

[code]

Doing a search online it seemed that in order to accomplish that I want I need to run the following command:
`dnx ef dbcontext scaffold "ConnectionString" EntityFramework.SqlServer`

Which I could not do b

[2015-09-25 17:04] natemcmaster commented on #3226
Did you run `dnu restore`?

[2015-09-25 17:14] garora commented on #3225
Awesome! Good to know
On 25/09/2015 9:30 PM, "Nate McMaster" <notifications@github.com> wrote:

[2015-09-25 17:16] natemcmaster commented on #3225
Thanks for the suggestion!

[2015-09-25 17:50] bricelam opened #3227 "RevEng: Provide default context name when unspecified"
The following command...
[code]
...throws the following exception.
[code]

[2015-09-25 17:53] bricelam opened #3228 "RevEng: Namespace is missing first character"
The following command...
[code]
...outputs code with the following namespace.
[code]

[2015-09-25 17:56] bricelam opened #3229 "RevEng: Unnecessary usings in entity class code"
Entity classes include the following using directives.

[code]

I can't think of any entity class code that would require them.

[2015-09-25 19:05] nteague22 commented on #3076
I do know that stored procedures as of Sql Server 2012 can accept string ADO parameter values when the parameter type is marked as HierarchyId, is there a simple way to override and create a new derivative of SqlOperation that extends these checks?

[2015-09-25 19:09] #3135 closed

[2015-09-25 19:12] lajones commented on #3227
@bricelam I'm not seeing it on my box. And it's weird - there are already a couple of layers of default - see https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational.Design/ReverseEngineering/ReverseEngineeringGenerator.cs#L72 and https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer.Design/ReverseEngineering/Configuration/SqlServerModelConfigur

[2015-09-25 19:21] bricelam commented on #3076
@nteague22 It may require a few changes, but we should be able to set the parameter type using the [SqlServerTypeMapper](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.SqlServer/Storage/Internal/SqlServerTypeMapper.cs).

[2015-09-25 19:25] nteague22 commented on #365
HierarchyId might be work tackling sooner than later, if for no other reason than doing the Reference<>() definitions and Collection<>() definitions in the IModel.  Parenting chains within a table could greatly make steps to reduce the separation I have had with using the outstanding features of the system, while juggling the inability to do extensive business and enterprise processing

[2015-09-25 19:27] bricelam commented on #3227
@lajones Were you using the DNX or NuGet commands? PowerShell might be supplying an empty string instead of null.

[2015-09-25 19:32] lajones commented on #3227
AH, DNX. Let me look into that.

[2015-09-25 19:36] lajones opened #3232 "RevEng: Address Schema/Table Names which Selection currently does not handle"
At the moment there are a small set of schema/table names that the table selection algorithm can't handle. See https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational.Design/ReverseEngineering/Internal/TableSelectionSetBuilder.cs#L9.

This issue is to come up with a workaround for those.

[2015-09-25 21:40] roji commented on #3068
Note new discussion on standardized replacement API for `DbConnection.GetSchema` and `DbDataReader.GetSchemaTable`: https://github.com/dotnet/corefx/issues/3423

[2015-09-25 21:55] maumar opened #3235 "Query :: include with inheritance and join doesn't work in some cases"
Repro:

[code]

[2015-09-25 22:20] lajones commented on #3227
Checked in with commit 1e6c8c9. Please re-open if any problems.

[2015-09-25 22:37] lajones commented on #3227
Note: further fix for issue #3047

[2015-09-25 23:16] #1856 closed

[2015-09-25 23:52] maumar commented on #3091
fixed in 357102d51c9c5e9283a3b0ea00b30d2a5ea212f4

[2015-09-25 23:52] #3091 closed

[2015-09-26 00:15] louislewis2 opened #3239 "Readonly properties (Query only)"
Sometimes when creating models that represents a subset of a table, it feel normal to add in fields which we can use to query and identify a particular record. Consider in a example where in an accounting system the rest api provides two ways in which a ContactDetail object can be returned. One way is a primary key (int) and the other account (string). So in the model we add those two fields for q

[2015-09-26 02:08] Mertsch commented on #1573
@maumar Can you shortly elaborate what was wrong, I run into the same issue and I am out of ideas why

[2015-09-26 06:06] endink opened #3240 ""connection's current state is open""
When i use inject a dbcontext in a controller, and execute multi threaded query, like this:

Task t1 = query 1（ToArrayAsync()）;
Task t2 = query 2;
Task t3 = query 3;

Task.WhenAll(t1, t2, t3);

Often an error occurred:
A database operation failed while processing the request.

"connection's current state is open"

There are pending model changes for ApplicationDbContext
Scaffold a new migration fo

[2015-09-26 12:34] divega commented on #3240
@endink DbContext is not thread-safe and interleaving query execution like this on the same instance is not supported. The exception condition you are running into ("connection's current state is open") is possibly the most innocuous problem you have if you do this. Any state maintained by the DbContext may as well be corrupted.

DbContext has never been thread safe in any previous version of EF.

[2015-09-26 21:28] weitzhandler opened #3241 "Support for querying a hierarchy of self-referencing entities?"
Hi,

Often you need to retrieve a whole hierarchy of self-referencing entities.

Consider this example:

[code]

Now I want to retrieve an `Affiliate` along with its children, grandchildren, and great grandchildren. Or I want to retrieve an `Affiliate` with its `Referrer`, he's referrer's referrer, and his referrer's referrer's referrer `n` levels up.

How can this be achieved in a single round-tr

[2015-09-26 21:47] weitzhandler commented on #1467
@rowanmiller @AndriySvyryd
Alright, no problems with storing the data, but is there a way to retrieve a hierarchy of depth `n`?
#3241

[2015-09-26 21:48] weitzhandler commented on #1372
Support of querying a hierarchy of those?
#3241

[2015-09-27 06:42] angelsix opened #3242 "SQLite or SQLServer"
Which do you recommend using on Linux. SQLite, or SQLServer (Mono SQL Client)?

I am wondering if the full SQLServer will be natively supported within say 6-12 months and its worth me using that for now, or whether SQLite is the better option for linux?

I expect the database to be fairly sized, nothing mad - likely 20-30 tables, 100,000 to 1,000,000 entries on average. However I would like the be

[2015-09-27 07:34] Yorie opened #3243 "A way to use custom migrations directory?"
Seems command `dnx ef migrations add` doesn't support custom directories to save migrations to.
So, having multiple database contexts will produce difficulties in generating migrations.
Or am I wrong and it can be done some way?

[2015-09-28 01:39] staff0rd opened #3244 "Exception when MARS not enabled"
I'm assuming MARS is no longer a requirement due to PR #2198 and #1665, but the following snippet results in `UserManager.AddToRoleAsync` throwing `System.InvalidOperationException: Operation is not valid due to the current state of the object.` when MultipleActiveResultSets=false.

**CODE**
[code]

**OUTPUT**
[code]

[2015-09-28 01:55] maumar commented on #3241
Your best bet would be:
context.Affiliates.Include(a => a.Referred).ThenInclude(a => a.Referred)

This will pull affiliates along with their children and grandchildren.

For one-to-one navigations you can use:
context.Affiliates.Include(a => a.Referrer.Referrer)

This will pull patent and grandparent. The second case will be done with one query to the database. In case of one-to-many there will be

[2015-09-28 07:05] #2987 closed

[2015-09-28 08:17] erictrigo commented on #3226
Yes I did, but it doesn't seem to do much. This is what the console command looks like when I run "dnu restore" and the scaffold script right after each other:

PS C:\XXX\XXX (Project folder)> dnu restore
Microsoft .NET Development Utility CoreCLR-x64-1.0.0-beta7-15532

  CACHE https://api.nuget.org/v3/index.json
Restoring packages for C:\XXX\XXX\src\Titanes2015\project.json
  GET https://api.nuge

[2015-09-28 08:31] hkoestin commented on #999
Is there any progress concerning this topic?
When can I expect Beta8 to be released?
Or which nightly build is already supporting signed assemblies?

Whereas I was able to just "brute-force" sign my EF7-beta7 assemblies with some tools, I neither can execute the application nor the unit tests now.

Getting the following error:

**System.MethodAccessException - [\Debug\Microsoft.Framework.Dependenc

[2015-09-28 08:38] hkoestin commented on #2971
Is there any progress?
See https://github.com/aspnet/EntityFramework/issues/999#issuecomment-143674933

[2015-09-28 08:44] Venomed commented on #3180
Any feedback at all?!

[2015-09-28 14:29] emrs-jm commented on #3180
I am having the same issue with the multiple columns being included in the order by with the same column name.

Essentially I am trying to grab information relating to a record that has many attachments to other sections of the data.  It seems like all of the one-to-one relationships pick up the data properly and the first one-to-many relationship loads fine.  The issue comes into play when the fi

[2015-09-28 15:38] bricelam commented on #3243
The tool will mimic the directory and namespace of the previous migration. Simply change them to what you want and code on.

[2015-09-28 15:43] bricelam commented on #3242
The [Npgsql provider](www.npgsql.org/doc/ef7.html) for PostgreSQL is another great option to consider on Linux.

[2015-09-28 15:46] angelsix commented on #3242
As far as a know, that doesnt have an Entity Framework provider. Also both of the others are cross-platform between Linux/Windows. I'm not sure if PostgreSQL is and I've had no experience with that at all so wouldnt really want to change from SQL Server if possible.

[2015-09-28 15:57] Yorie commented on #3243
Yeah, this works awesome. Thanks for highlight this feature!

[2015-09-28 16:02] bricelam commented on #3243
I'm going to re-open this issue since we may have a documentation/user-education issue here.

[2015-09-28 16:52] #3071 closed

[2015-09-28 16:58] Yorie commented on #107
+1 for IndexAttribute, that was nice feature. Of course in parallel with "fluent API" implementation.

[2015-09-28 17:27] natemcmaster opened #3247 "Reveng: update metadata fetching for SQL Server"
Reverse engineering for SQL Server uses `INFORMATION_SCHEMA.*` but should be updated to use `sys.*` instead.

[2015-09-28 17:31] lajones commented on #2751
With commits d3c4001 the architecture to allow you to pass in a set of inclusions and exclusions is in. With fcfe8ef I checked in the inline command-line option which will use that architecture. However the form of that is still under discussion. So keeping open for now.

[2015-09-28 17:46] maumar commented on #3241
In EF6 you would do a similar thing:
context.Affiliates.Include("Referred.Referred")

There is no way in either EF6 or EF7 to automatically retrieve the entire hierarchy.

[2015-09-28 17:52] StevenBonePgh opened #3248 "RevEng: smallint column with default null constraint generates warning"
The command

    Scaffold-DbContext -Connection "<connection string>" -Provider EntityFramework.SqlServer

Generates the following warning

    For column [dbo][MyTable][NullableInt16] unable to convert default value (NULL) into type System.Nullable`1[System.Int16]. Will not generate code setting a default value for the property [dbo][MyTable][NullableInt16] on entity type [dbo][MyTable].

If [MyT

[2015-09-28 17:54] weitzhandler commented on #3241
@maumar thanks. that's awesome. this way I can even do this recursively.

i was only wondering if `Include` is queryable i.e. Include Where.

[2015-09-28 17:57] StevenBonePgh opened #3249 "RevEng: varchar column with default null constraint generates warning"
The command

    Scaffold-DbContext -Connection "<connection string>" -Provider EntityFramework.SqlServer

Generates the following warning

    Unable to interpret the string ULL as a SQLServer string literal.
    For column [dbo][MyTable][SomeVarchar] unable to convert default value (NULL) into type System.String. Will not generate code setting a default value for the property [dbo][MyTable][Some

[2015-09-28 18:15] StevenBonePgh opened #3250 "RevEng: datetime field with default constraint generates warning"
The command

    Scaffold-DbContext -Connection "<connection string>" -Provider EntityFramework.SqlServer

Generates the following warning

    For column [dbo][MyTable][MyDateTime] unable to convert default value ('3000-01-01T00:00:00') into type System.DateTime. Will not generate code setting a default value for the property [dbo][MyTable][MyDateTime] on entity type [dbo][MyTable].

If [MyTable]

[2015-09-28 18:15] divega commented on #3242
@angelsix yes, the EF7 provider for PostgresSQL is being worked on. That is what @bricelam is pointing to.

To your original question, we plan to fully support using SQL Server from EF7 on a Linux box, but we are focusing more on CoreCLR based implementation of SqlClient than on Mono.

[2015-09-28 18:16] divega commented on #3242
Closing since I believe we have answered your question, but feel free to reopen if we haven't.

[2015-09-28 18:20] maumar commented on #3241
@weitzhandler yes, you can compose on top of Include like this:

context.Affiliates.Include(a => a.Referred).Where(a => a.Id >5),

but you can't so stuff like:
context.Affiliates.Include(a => a.Referred.Where(a => a.Id >5))

[2015-09-28 20:38] ajcvickers opened #3253 "Allow named in-memory stores"
We decided in API review to remove the "persist" flag from the in-memory provider and replace with a string that could be used to create a named in-memory store. However, we were pretty much never using the persist: false anyway, so I just removed it and created a bug to triage adding named databases so we could triage appropriately.

[2015-09-28 20:41] #3092 closed

[2015-09-28 20:41] #3090 closed

[2015-09-28 20:54] maumar commented on #2372
The first example works in current bits, producing the following TSQL

[code]

[2015-09-28 20:55] maumar commented on #3180
@Venomed @emrs-jm I didn't get the chance to look at this yet, as we have a significant backlog of issues to go through. I will try to investigate sometime this week

[2015-09-28 21:01] anpete opened #3255 "Remove command logging extensions from LoggingExtensions"
LoggingExtensions is a shared file and so should only contain methods that are generally useful.

[2015-09-28 21:17] rowanmiller commented on #3253
At the moment, do you get one per ServiceProvider, or one per context type per ServiceProvider? Either way, I don't think we need the named database capability for RC.

[2015-09-28 21:27] ajcvickers commented on #3253
You get one table per entity type per service provider.

[2015-09-28 21:53] rowanmiller commented on #2266
TPT is definitely out for our November RC release (purely due to time constraints). Clearing up milestone so that we can re-discuss in triage and see if we can make a clear yes/no on our intent to support the feature in the future (my feeling is that we have enough feedback that folks want it).

[2015-09-28 22:02] ToddThomson commented on #2266
Thank-you for the feedback @rowanmiller .

[2015-09-28 22:09] rowanmiller commented on #3124
Notes for triage:

I like this, though perhaps just using the contexts name rather than namespace. I.e. `BlogContext` would give you `<root>.Migrations.Blog` and obviously use the same folder structure. I know we discussed this a while back and thought it wasn't optimal for the single context scenario... but I don't think it really makes that any worse (and of course you can always just move them

[2015-09-28 22:10] rowanmiller commented on #3124
@poke

Why does this need to be invalid. You use the names when applying migrations, and in this case you have always specified which context you want to operate on.

[2015-09-28 22:11] rowanmiller commented on #3129
This would be enabled by https://github.com/aspnet/EntityFramework/issues/240 (which we are planning to do)

[2015-09-28 22:13] rowanmiller commented on #3141
This is a dupe of https://github.com/aspnet/EntityFramework/issues/113
EF doesn't currently support evaluating equality of an entity (`post.User == context.Names.FirstOrDefault(name => name.Text == "Test").User`) - you currently need to test equality of the primary keys.

[2015-09-28 22:14] rowanmiller commented on #3099
This is a duplicate of https://github.com/aspnet/EntityFramework/issues/333 (which is currently being implemented).

[2015-09-28 22:22] maumar commented on #2372
The second example also works, but produces very inefficient queries, basically the joins happen on the client. If you want to produce LEFT JOINs you can follow this pattern (GroupJoin + SelectMany + DefaultIfEmpty) recognized by EF:

[code]

or in method syntax:

[code]

[2015-09-28 22:22] #2372 closed

[2015-09-28 22:28] bricelam commented on #3255
I would have put them in `Relational.Design`, but that isn't available on `uwp10.0` projects... I suppose I could use a shared (but not globally) source file.

[2015-09-28 22:40] Suchiman commented on #3141
@rowanmiller
`you currently need to test equality of the primary keys.`
This delivers wrong results:
[code]
results in:
[code]
The filter is lost.

Also i wanted to point out that EF6 didn't support comparison of entities in queries to local instances but against other entities in the same queries as per my sample code.

[2015-09-28 23:13] MaximBalaganskiy commented on #2372
what if i want to left join with an operator other than equals? is that still possible? and why such a regression? I would say lots of code will have troubles migrating to ef7 because of it.

[2015-09-28 23:55] anpete commented on #3255
That sounds good.

[2015-09-29 10:09] satyajit-behera commented on #2266
Thanks @rowanmiller . Hope you will take this item with priority, since an alternative is not available to implement the concepts possible with TPT. Critical and Important. I am sure many enterprise level applications will be using this.

[2015-09-29 11:19] poke commented on #3124
@rowanmiller My point is that you can easily create migrations with the same name for multiple contexts but as soon as you have a second one, you completely break the project at compile time.

[2015-09-29 11:34] GVX111 opened #3260 "Exception on upgrade [Bug]"
Exception on: Database.Migrate();

<pre>An exception of type 'System.ArgumentException' occurred in EntityFramework.Core.dll but was not handled in user code
Additional information: The properties expression 'u => Convert(Convert(u).Id)' is not valid. The expression should represent a property access: 't => t.MyProperty'. When specifying multiple properties use an anonymous type: 't => new { t.MyP

[2015-09-29 11:41] NeelBhatt commented on #3260
I guess the exception occurred because you entered wrong syntax. can you put your code?

[2015-09-29 11:45] gvx111 commented on #3260
<pre> public class Account : IdentityUser
    {
        public string Firstname { get; set; }
        public string Lastname { get; set; }
        public DateTime Birthdate { get; set; }
        public bool Gender { get; set; }

        public string GetGender()
        {
            return Gender ? "Male" : "Female";
        }
    }
    public class EfContext : IdentityDbContext<Account>
    {

[2015-09-29 11:45] gvx111 commented on #3260
Its worked correctly before dnu restore

[2015-09-29 15:26] thomas-darling commented on #2266
Another vote for TPC and TPH - we absolutely need it and will look for another ORM if it's not supported. I agree that query performance is not great, but it is very important if we want a nicely denormalized domain model. We can always create denormalized tables or views optimized for specific queries, but our single source of truth must be nicely structured.

The fact that inexperienced develope

[2015-09-29 15:37] rainman-63 opened #3261 "Provide NuGet packages without sqlite3.dll"
The EntityFramework.Sqlite NuGet package has a dependency on the Microsoft.Data.Sqlite NuGet package, which contains the sqlite3.dll.  If we use a custom sqlite3.dll (distributed either as an Extension SDK or as a NuGet package) with the EntityFramework.Sqlite NuGet package, the build will fail because there are 2 sources for the sqlite3.dll.

When using a custom version of the sqlite3.dll, you ha

[2015-09-29 16:18] bricelam commented on #3261
It's a shame NuGet doesn't have virtual packages. Then the users could choose how to satisfy the *Native SQLite Library* dependency.

If we did split out the native components into its own package, I wonder if using `Install-Package Microsoft.Data.Sqlite -IgnoreDependencies` would work, or if automatic package restore would just bring it in anyway.

If we can't make anything else work, having anot

[2015-09-29 16:25] bricelam commented on #3165
Implemented this in [bricelam:services](https://github.com/aspnet/EntityFramework/compare/dev...bricelam:services), but didn't like it.

[2015-09-29 16:31] rowanmiller commented on #2266
@thomas-darling TPH is already being implemented for our RC release in November (it mostly works now) and TPC is on our backlog (https://github.com/aspnet/EntityFramework/issues/3170). This issue is specifically about TPT and whether that pattern needs to be supported.

[2015-09-29 16:43] bricelam commented on #3227
Re-opening. Now I get the following.
[code]

[2015-09-29 16:45] bricelam commented on #3227
P.S. Code file is correct--`NorthwindContext.cs`.

[2015-09-29 16:48] rowanmiller commented on #3124
@poke only if they are in the same namespace though right? Our recommendation is to use separate namespaces... but I agree that we should make this happen by default rather than requiring you to move things.

[2015-09-29 16:52] poke commented on #3124
Yes only if they are in the same namespace, but as I said above, there is no way to adjust the namespace other than moving the types manually afterwards. So creating a migration should fail if there is already a migration in the target namespace (i.e. `<root>.Migrations` now, or whatever generated namespace in the future) already contains a migration with the same name. The check should not go by

[2015-09-29 17:30] satyajit-behera commented on #2266
@rowanmiller Difficult to get rid of TPT without any alternative implementation for the same. One common Id shared across all inherited classes. Base class should allow typecasting to inherited class. And all reside in different tables.

[2015-09-29 17:48] #2871 closed

[2015-09-29 18:10] natemcmaster commented on #3247
Wrinkle to consider when implementing: sys.types/sys.columns will always return precision, scale, and max-length, even when these are not explicitly needed to define types.

[2015-09-29 18:11] rowanmiller commented on #3202
Dupe of #649
Bumping priority of #649 too

[2015-09-29 18:18] rowanmiller commented on #3192
We want to have a test runner that works with all of our tests. We should try and make them work with TD.NET or swap to another runner.

[2015-09-29 18:19] ErikEJ commented on #3192
Why not the VS runner? :smile:

[2015-09-29 18:26] maumar commented on #2372
@MaximBalaganskiy unfortunately EF7 only supports joins with equality, so the scenario you are describing is not possible at the moment. Upon initial release, EF7 is not intended to be a recommended upgrade for everyone who is using EF6 at the moment. Consider http://blogs.msdn.com/b/adonet/archive/2014/12/02/ef7-priorities-focus-and-initial-release.aspx for more context on that matter.

[2015-09-29 18:31] rowanmiller commented on #3165
We aren't going to use this pattern, we will have higher level sugar APIs for things that are common to replace. For other things, storing a static ServiceProvider in your context isn't too difficult.

[2015-09-29 18:37] maumar opened #3263 "Query: Recognize additional join patterns"
In EF6 we support easy patterns to create join queries:

[code]

translates to:

[code]

[code]

translates to:

[code]

This also allows making joins using different operators than equal:

[code]

translates to:

[code]

We should consider those for EF Core as well.

[2015-09-29 18:39] maumar commented on #2372
Filed an issue to introduce those join patterns to EF7:
https://github.com/aspnet/EntityFramework/issues/3263

[2015-09-29 18:42] rowanmiller commented on #3158
@ErikEJ we have a pretty big backlog of things to investigate, so if you have any time to do further debugging that would be great :smile:

[2015-09-29 18:47] rowanmiller commented on #3147
We need to improve the message making it clear that it is instance data causing the cycle (not schema/model)

[2015-09-29 18:47] rowanmiller commented on #3146
Closing since we have not heard back, feel free to re-open if you can provide more details

[2015-09-29 18:51] rowanmiller commented on #3141
Need to investigate the dropping of the filter mentioned in above comment

[2015-09-29 19:08] rowanmiller commented on #3123
Closing as this does not seem like a common scenario

[2015-09-29 19:11] rowanmiller commented on #3118
@roji we would take a PR on this, but it would need to be in before RTM

[2015-09-29 19:14] Venomed commented on #3180
thanks @maumar. I'm going on holiday for a week so I won't be able to offer feedback for this quickly but I'll keep an eye in case you need more information.

[2015-09-29 19:47] martinKupec opened #3265 "Migrations generates invalid Guid Add column"
Let's have simple code using Beta7:
[code]
The marked part will be added after initial migration is created.
It than generates following script:
[code]
Problem is, that the "0000000-..." part is invalid. Is should probably be in quotes.
I get error: `SQLite Error 1: 'near "-": syntax error'`

[2015-09-29 20:35] bricelam commented on #1199
BTW, just logging everything is relatively simple:
[code]

[2015-09-29 20:57] #3192 closed

[2015-09-29 21:30] natemcmaster opened #3267 "RemoveConvert does not remove convert"
Upgrades to compiler has broken ExpressionExtensions.RemoveConvert CI is failing with this error:

[code]

RemoveConvert does not actually remove the convert expression.

[2015-09-29 21:32] natemcmaster commented on #3267
Possibly related to the latest changes in `Microsoft.CodeAnalysis.CSharp.1.1.0-beta1-20150928-02`

[2015-09-29 21:33] shreedevishete commented on #2603
Can anyone share the code , how to read Config.json in Beta7.
Looks like the package is changed

[2015-09-29 21:40] maumar commented on #2485
This works in the current bits, we generate the following query:

[code]

[2015-09-29 21:40] #2485 closed

[2015-09-29 21:48] maumar commented on #3180
@Venomed thanks, the repro you provided is very detailed, and should be more than enough for the purpose of investigation.

[2015-09-29 22:00] rowanmiller commented on #1199
@bricelam that needs to go in app startup right since the ServiceProvider is shared between context instances? Otherwise you add it multiple times.

[2015-09-29 22:25] maumar commented on #3186
This is a legitimate bug. The problem is that we create the following sql:

[code]

where the correct sql would be:

[code]

(LEFT JOIN instead of INNER JOIN)

[2015-09-29 22:57] smitpatel commented on #3260
possible dupe of #3267

[2015-09-29 23:08] MaximBalaganskiy commented on #2372
Wonderful, thanks for that.

[2015-09-29 23:12] natemcmaster commented on #3267
Fixed with ba69049733d4124dd08ae90dbca52392005b5428

[2015-09-30 00:55] divega opened #3269 "Code cleanup: Standarize how we detect EF.Property<T>() in expression visitors"
Investigating bug #3119 I saw in the code that we are using several dissimilar patterns to check for `EF.Property<T>()` in several expression visitors (by checking for reference equality against `EntityQueryModelVisitor.PropertyMethodInfo`). Looks like this could be moved into a utility method. In a lot of cases we use this to special case `EF.Property<T>()` in `VisitMethodCall()`, so wondering if

[2015-09-30 01:28] divega commented on #3119
I was able to figure out why we would ever see that exception: In [`NavigationRewritingExpressionVisitor`](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Core/Query/ExpressionVisitors/NavigationRewritingExpressionVisitor.cs#L354) we happen to create expressions that invoke `EF.Property<T>()`. However those are supposed to be either translated in the store query or transform

[2015-09-30 01:28] #3119 closed

[2015-09-30 01:33] divega commented on #3119
Here is the repro code I used with beta8 bits in case it helps:

[code]

[2015-09-30 01:40] divega opened #3270 "Consider renaming EntityFramework.SqlServer package and assembly to allow side-by-side loading of EF6 and EF7"
This came up in a conversation with @rowanmiller and @bricelam today and we wanted to capture it before we forget:

We believe that currently the fact that the EntityFramework.SqlServer.dll assembly is named the same between EF6 and EF7 is the only reason both cannot be used side by side. If that proves to be truth, we could consider renaming the assembly (probably in EF7 it would make the most se

[2015-09-30 01:48] divega commented on #113
Just to add more details based on the discussion on #3141: In EF6 we did not support comparing an in-memory entity instance against an expression representing an entity in the database but we did have some support for a few patterns for comparing entities in the database, e.g. joins in grouping on an entity would in some cases work and the translation would expand the comparison between entities i

[2015-09-30 07:36] ErikEJ opened #3272 "[RevEng] TableSelection and TableSelectionSet implementation breaks SQLCE"
The SQL CE engine has not concept of "schema", so the checks on schema in the .Allows and .Matches methods and method signatures causes the SQLCE provider to be not able to use table filtering @lajones

[2015-09-30 07:50] AlexTo commented on #3103
Exact same issue, my simple join query like so do not work:
`from a in _db.A join b in _db.B on ...  `

but if I add .ToList() after _db.A and _db.B then it works :(

[2015-09-30 10:18] waterfallbay opened #3273 "RemoveRange Error when removing multiple records in UWP and SQLite"
![ef-7-multi-delete-bug](https://cloud.githubusercontent.com/assets/13427419/10190334/642996ee-679e-11e5-83f2-382171c9bf44.png)

I have run the below code to get all shop types from SQLite with shopTypeId >2, and then removed them all in a batch:

[code]

However, the program return me an error by stating that:

[code]

I have no such error if the size of the list to be deleted is 1, or I delete t

[2015-09-30 10:58] hahmed opened #3274 "Connecting to an database on mac..."
Can you connect to a database using EF on vnext just yet? As I am seeing some errors which I cannot seem to find any answer for.

If i persist security info (connection string) I get an error message:

[code]

[Full stack trace removed]

If I try and connect to an **azure sql database** I get another error message:

[code]

Thanks

[2015-09-30 11:08] ErikEJ commented on #3274
Could you share your connection string? I think you have some unsupported settings in it.

[2015-09-30 12:10] hahmed commented on #3274
I just simply copied it directly from azure portal...

This is the connection string for the azure portal sql database, do you want the connection string to my rackspace db too?

[code]

[2015-09-30 12:52] robfarmergt opened #3275 "Database Update Error: Cannot insert the value NULL into column 'ContextKey'"
I've tried updating my database using a new migration in beta7 with this command:

[code]

[code]

[2015-09-30 12:57] ErikEJ commented on #3270
EntityFramework.SqlServerR2 ?
EntityFramework.SqlServer2008AndLater ?

[2015-09-30 13:24] lucamorelli commented on #3274
on mac? seems to me that the mono implementation of the sql driver does not suports encryption. I suppose we have to wait that for the a coreClr implementation of that driver

[2015-09-30 13:40] hahmed commented on #3274
@lucamorelli yep... on a mac.

Ok cool, is there any idea when that will be shipped?

[2015-09-30 14:07] lucamorelli commented on #3274
I don't know if this is fixed for beta 8, anyway I suppose that you can check in the documentation site http://ef.readthedocs.org/en/latest/providers/index.html and see if they update the note

[2015-09-30 14:42] lajones commented on #3272
@ErikEJ Can you expand a bit more? I deliberately allowed the concept of setting `TableSelection.Schema` to `TableSelection.Any` (i.e. "*") for providers such as SQLCE that don't understand the concept of a schema. All of your table selections should look like `*.<table_name>` and after that the `TableSelectionSet` should work as is.

[2015-09-30 15:11] endink commented on #3240
thanks, so i use "await" it works fine, "pending model changes" is a bug in my code, sorry . thanks again.

[2015-09-30 15:44] robfarmergt commented on #3275
Looks like ContextKey is not a part of the query. This is what a SQL trace showed for the migration history:

[code]

@rowanmiller was this column removed? should I just remove the column manually or did a miss a step in upgrading? I didnt see this mentioned in the Announcements repo.

[2015-09-30 15:51] rowanmiller commented on #3274
Correct, CoreCLR will be the ultimate solution to this since there are some significant limitations on the Mono SQL Client implementation.

@danroth27 do we have a public schedule on the availability of CoreCLR on Mac?

[2015-09-30 15:58] danroth27 commented on #3274
@Saurabh500

The .NET Core schedule is aligned to the ASP.NET 5 roadmap: https://github.com/aspnet/home/wiki/roadmap. The xplat SqlClient isn't quite ready for beta8, but it should be available in Nov.

[2015-09-30 15:59] ianschmitz opened #3277 "DropForeignKey() generates incorrect SQL using principalTable overload instead of explicit constraint name"
Looks to be an issue with the generated SQL when trying to drop a foreign key constraint during a migration using a certain overload of `DropForeignKey()`.

I wanted to drop a FK column and it's constraint using migrations. However, i had multiple databases using the schema, and had different names for the FK constraints. This seemed like a good use of the DropForeignKey overload: `DropForeignKey(

[2015-09-30 16:18] roji commented on #1100
I know you guys aren't working on this at the moment, but what are the chances that you'll be reusing types and concepts from EF6's [System.Data.Entity.Spatial](https://msdn.microsoft.com/en-us/library/system.data.entity.spatial(v=vs.113).aspx) namespace?

I'm asking because there's some interest in working on this namespace and I'd like to have an idea (if possible) as to whether that will be use

[2015-09-30 16:32] rowanmiller commented on #3204
This is being tracked by https://github.com/aspnet/EntityFramework/issues/626. It won't be in our November RC, but you can override `SaveChanges` to run your own logic before save. It should also be possible to override some low level components in DI to intercept when an object is materialized (it would be complex, but may be a way to unblock you if needed).

[2015-09-30 16:34] rowanmiller commented on #3200
Not giving an exception just because the model/database don't match is by-design - in EF7 we no longer have initialization logic that runs against the database. You should get an exception from `SaveChanges` though if something fails. Can you add some code that demonstrates where the save fails but no exception is thrown.

[2015-09-30 16:38] rowanmiller commented on #3195
Suggested message:

cc @divega @ajcvickers for input from them too

[2015-09-30 16:41] rowanmiller commented on #3160
Hey @timvanderweijde,

Ok that explains it, `EnsureCreated` totally bypasses migrations and just creates the schema for you, you can't mix this with migrations. `EnsureCreated` is designed for testing or rapid prototyping where you are ok with dropping and re-creating the database each time. If you are using migrations and want to have them automatically applied on app start, then you can use `con

[2015-09-30 16:41] roji commented on #3200
@rowanmiller would you consider adding an opt-in model/database sync check? Although it makes sense not to impose this on the user, in many applications it's a good idea to make sure the model is synchronized at initialization time (early fail-fast rather than receiving a late exception).

[2015-09-30 16:45] rowanmiller commented on #3124
**Triage:** We will continue to generate migrations for the first context in `<root>.Migrations` but if you start adding migrations for a second context (i.e. if there are migrations for a different context in the namespace we are going to generate to) then we will create a sub-namespace/folder for the second context for you. That way you don't have to move files around and there are no type name

[2015-09-30 16:49] rowanmiller commented on #3200
@roji you can already check if there are any changes to the model since your last migration, which can tell you if you forgot to push changes to the database. You could add some app start logic that uses that. We actually use this as part of the Database Error Page in ASP.NET 5 to provide some database centric help when things fail.

[2015-09-30 17:09] natemcmaster commented on #2977
Closed with #3268

[2015-09-30 17:09] #2977 closed

[2015-09-30 18:04] ErikEJ commented on #3272
So here: https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/blob/master/src/Design40/ReverseEngineering/SqlCeMetaDataModelProvider.cs#L195

I should use a "*" for schema name?

[2015-09-30 18:14] natemcmaster commented on #3272
@ErikEJ SQLite has the same issue. This is how we get around it. https://github.com/aspnet/EntityFramework/blob/80108e1f83c79af89c594500e84f62f65cf076d0/src/EntityFramework.Sqlite.Design/ReverseEngineering/SqliteMetadataModelProvider.cs#L63

[2015-09-30 18:16] natemcmaster commented on #3274
@hahmed can we close this issue on EF? As Mono's implementation of SqlClient is *very* outdated and not likely to be updated, there isn't much we can do in EF to alleviate this problem.

[2015-09-30 18:19] maumar commented on #3180
@Venomed which version of EF are you using? When I tried running the first query against current bits, I got the following SQL without the duplicate orderings:

[code]

If you were using older version, please try running the code with the latest beta. If you saw this with beta7 or later I will investigate further.

@emrs-jm could you share the model and query for the case in which you are seeing t

[2015-09-30 18:21] maumar commented on #3180
@Venomed the second case fails because EF7 doesn't have support for groupby translation at the moment. This is being tracked by https://github.com/aspnet/EntityFramework/issues/1909

[2015-09-30 18:22] lajones commented on #3272
@ErikEJ Use TableSelection.Any (which is underneath the covers * but could be changed).

[2015-09-30 18:27] nteague22 commented on #3076
Excellent, I really am impressed with the work you guys produce and the team as a whole!  Even in beta, EF7 makes my life easier on running ETL and other data migratory operations

[2015-09-30 18:32] natemcmaster commented on #3270
:+1: for EntityFramework.MSSqlServer

[2015-09-30 18:38] divega commented on #3195
:+1:

[2015-09-30 19:01] ErikEJ commented on #3272
@natemcmaster @lajones Thanks, guys!

[2015-09-30 19:22] smitpatel opened #3280 "KeyAttributeConvention throws while composite keys used with inheritence"
Once the model is built `KeyAttributeConvention` checks if the for composite PK and verifies that it has not been set using data-annotation. Present this does not check for base type and in derived entity tries to set PK which throws `InvalidOperationException`.

Repro:
[code]

[2015-09-30 19:29] smitpatel opened #3281 "[Test] TestModelSource does not run ModelBuiltConventions"

[2015-09-30 19:46] maxmantz commented on #3206
Solved the problem by specifying `this.Database.Migrate();` in the context constructor.

[2015-09-30 19:55] rowanmiller commented on #3206
@maxmantz you probably want toad some logic so that it's not done on every context creation, just once per AppDomain. Our recommendation is to do it during app startup rather than inline in the context.

[2015-09-30 20:03] smitpatel opened #3282 "[Inheritence] RequiresValueGenerator is not handled properly"
When there is conflicting relationship between baseType and derivedType, we remove the conflicting relationship but this marks the `RequiresValueGenerator` as true which gets merged with base type property. Since base type still have the relationship it throws following error:
`System.InvalidOperationException: The property 'SquadId' on entity type 'Gear' has value generation on add enabled and it

[2015-09-30 20:39] ajcvickers opened #3283 "Using Include in GraphUpdatesTestBase throws"
The current code uses multiple queries to load a full graph into memory. Changing the code to use include causes exception below to be thrown.

[code]

[code]

[2015-09-30 21:00] bricelam commented on #1199
Hmm yes, I think you're right...

[2015-09-30 21:01] #2916 closed

[2015-09-30 21:25] emrs-jm commented on #3180
I was using EF7-beta6.  I just switched to EF6-beta7 to see if the issue is fixed there.  I do not know if it is because I get a different error before hand.

The current error is "Cannot create a row of size 9982 which is greater than the allowable maximum row size of 8060"
It makes some sense since the new generated query is huge.

Since the code is a branch of a production system, I cannot put

[2015-09-30 21:46] hahmed commented on #3274
@natemcmaster closed this issue. Subscribed to the referenced issue so I can track when this will be fixed.

I am creating my team admin site using vnext and ef. I have managed to connect to my rackspace database I needed to remove the setting Persist Security info to make that work. Hopefully this will be done some time soon.

I know this is off topic, but do migrations work the same way as befor

[2015-09-30 21:53] natemcmaster commented on #3274
@hahmed Migrations is an opt-in feature. They do not run automagically. So if you are not sure if migrations run or not, you probably aren't.

Not yet, docs are in progress. https://github.com/aspnet/EntityFramework.docs is all we have.

[2015-09-30 22:04] maxmantz commented on #3206
@rowanmiller Thanks for the hint! I've updated the project to call the following during the configuration phase in order to call the migrations only once per application startup, like this:

    using (var context = tenantContextFactory.GetTenantContext<SamuraiContext>(custId))
    {
          context.Database.Migrate();
    }

Works like a charm so far.

[2015-09-30 22:09] bricelam commented on #3265
It [looks like](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Storage/RelationalSqlGenerator.cs#L113-L114) this may be fixed in the nightly builds.

[2015-09-30 22:14] user100003 commented on #3204
@rowanmiller Thanks for the update and appreciate your suggestions. For now, we're holding off switching to EF7 (still on EF6) since the workaround suggested would be rather klunky.

#626 is good but the concern is that it's a more complex requirement, delaying the engineering, testing and final release as compared to this sub-set of requirements (just two hooks).

If not Nov-RC, are there any bes

[2015-09-30 22:18] bricelam commented on #1100
@roji At the moment, I don't think we intend to put a common abstraction over it. Instead we would light-up provider-specific types like [SqlGeography](https://msdn.microsoft.com/en-us/library/microsoft.sqlserver.types.sqlgeography.aspx) leveraging the work for #242.

[2015-09-30 22:25] rowanmiller commented on #3204
@user100003 I don't have a definite answer for you as we haven't really done any prioritization of features post the initial RTM. That said, this is a fairly fundamental requirement and so I think we'll prioritize it pretty quickly after initial release.

[2015-09-30 22:56] lajones commented on #3105
This should be fixed with commit 6d6d1d3. Closing, but please re-open if you see issues.

[2015-09-30 22:56] #3105 closed

[2015-09-30 22:57] bricelam commented on #2867
Re-opening. :blush: It's a distinct enough issue to track on its own.

[2015-09-30 23:48] lajones opened #3287 "RevEng: Validation Step"
Consider moving the code in `SqlServerMetadataModelProvider.AddKeysToModel()` which validates that all entity types have a PK and adds an annotation if not down into a future `RelationalMetadataModelProvider.ValidateRelationalModel()` step.

[2015-09-30 23:50] lajones opened #3288 "RevEng: ModelBuilder Approach?"
For the future. Consider taking a ModelBuilder approach to building the relational and codeGen models. Are there any (e.g. error) situations where this won't work?

[2015-10-01 00:14] fujiy commented on #2192
Unfortunately Rx.NET project seems inactive

[2015-10-01 00:27] divega commented on #2192
CC @bartdesmet

[2015-10-01 00:36] smitpatel opened #3289 "[Inheritence] Setting base type can merge 2 different relationships"
When base type and derived type both have relationship with one entity and if the relationships use same foreignkey properties (configured by conventions) then while setting base type, relationship from derived type is removed even though both relationships are different (navigationToDependent is different)

Repro:
[code]
[code]

[2015-10-01 04:21] roji commented on #3118
Closed via #3276

[2015-10-01 04:21] #3118 closed

[2015-10-01 04:28] roji commented on #1100
OK thanks.

Note that this mean it will no longer be possible to write provider-independent code that manipulates spatial DB values (as was possible in EF6). I have no idea to what extent spatial support across databases (SqlServer, PostGIS, etc.) overlaps, so this may or may not be a big loss.

Then again with the EF7 approach a common spatial abstraction seems to be a problem outside of EF's dom

[2015-10-01 07:51] divega opened #3291 "Add a guard to prevent interleaving of async calls"
We did this in EF6 to prevent multiple threads from using the same context concurrently, and to guide users to the right async patterns.

See #3240.

[2015-10-01 09:11] louislewis2 opened #3292 "OUTPUT clause without INTO clause"
We are migrating an application from Asp.Net 4 using EF 6, to Asp.Net 5 with EF 7.
Today I started porting some of the persistence code, and got caught with this error.

The target table 'Project' of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause.

This problem was not visible in our original application. Is there anything we can d

[2015-10-01 09:24] louislewis2 commented on #1441
Please excuse me for opening a new issue, when one exists already.
https://github.com/aspnet/EntityFramework/issues/3292

I only found this issue after filing the above one.

Is there any update regarding this issue? Without this issue resolved we would be unable to use EF 7 in our application, which we are currently porting from Asp.Net 4 with EF 6 to Asp.Net 5 with EF 7. Where not being able to

[2015-10-01 16:37] m0ngr31 opened #3293 "Issues with UWP on EF7 beta 6"
I have a UWP app ready to go, but it crashes when running in .NET native. It took me a while to pin down why (Debug runs fine), but I think this is the problem: `MakeGenericMethod() cannot create this generic method instantiation because the instantiation was not metadata-enabled: 'MicrosoftDataEntityMetadataInternalClrAccessorSource<MicrosoftDataEntityMetadataInternalIClrPropertySetter>CreateGene

[2015-10-01 16:41] natemcmaster commented on #3288
Also worth noting: SQLite.Design constructs a model from metadata using `ModelBuilder` and SQL server only makes call on `Model`. It may be possible to unite the implementations into one "relational" metadata => model process.

[2015-10-01 16:47] natemcmaster commented on #3293
Yes, this is exactly the issue we are working on in #623. It's ugly, but if you really need to work around this, you will need to add runtime directives to your project.

In Default.rd.xml, you will need to add lines that look like this (this is the bit I had to add for my testproject...names will be different for you). This is just one instance. You will probably need more, especially for queries

[2015-10-01 18:37] #2944 closed

[2015-10-01 18:46] m0ngr31 commented on #3293
I can't seem to get it working... I got rid of that original error, but now I'm seeing this:
[code]

[2015-10-01 18:58] divega opened #3294 "Consider obtaining method infos from compiler generated expressions (may help with UWP/.NET Native)"
[`Queryable`](https://github.com/dotnet/corefx/blob/master/src/System.Linq.Queryable/src/System/Linq/Queryable.cs) uses this pattern:

[code]

We haven't tested yet if this actually helps but it avoids using reflection directly at runtime and in particular `MakeGeneticMethod<T>()` [which is known to be problematic with .NET Native](https://github.com/aspnet/EntityFramework/issues/3293#issuecomment

[2015-10-01 19:01] natemcmaster commented on #3293
@m0ngr31 I haven't seen this error yet. .NET Native support is still a work in progress, and it is currently a minefield of bugs. If you can share any more details about this error message your project and types, which call triggered this, etc. we would appreciate it.

[2015-10-01 19:16] m0ngr31 commented on #3293
@natemcmaster What info would help the most? I had to dig around in the memory to find that little error snip.

I can add you to my Bitbucket repo if that would be easiest?

[2015-10-01 19:22] natemcmaster commented on #3293
@m0ngr31 Please link to your repo here so I *and* the community can see what is causing the issue. If it's not a public project, please create a separate, public repo that reproduces the issue without your "secret sauce".

[2015-10-01 19:32] m0ngr31 commented on #3293
I don't have anything to hide, I'm just a terrible programmer! Here's my repo: https://github.com/m0ngr31/Wikki

Hopefully you can figure out something...

[2015-10-01 20:30] lajones opened #3296 "RevEng: Change to use new table selection syntax"
And to use separate -t flags for each table and add a similar -s flag to include schemas.

[2015-10-01 20:32] lajones commented on #3296
Per the Design Meeting discussion today change the command-line table selection syntax from:

`-t *:table,schema:*,schema1:table1...`

to

`-s schema -t table -t schema1.table`

[2015-10-01 20:56] ajcvickers opened #3297 "Design meeting notes - October 1, 2015"
# Table selection in reverse engineering

Right now we have the syntax

`-t|--tables <filters>`

where `<filters>` looks like `*:table,schema:*,schema1:table1...`

Decided to move to `-t|--table` and `-s|--schema` where both `-t` and `-s` are allowed multiple times. `-s` will represent what was previously `schema:*`, `-t` will be some combination of `schema_name` and `table_name` uniquely identify

[2015-10-01 21:10] ajcvickers opened #3298 "Reverse Engineering tests fail when run from VS with TestDriven.NET"
[code]

[2015-10-01 21:24] ajcvickers opened #3301 "C.I. runs fewer tests than TestDriven.NET"
C.I. is running approximately 7909.

Test Driven is running approximately 8500.

So potentially the C.I. is not running some of our tests.

(C.I. numbers are not completely up-to-date since it takes a while to catch up to current checked in bits.)

[2015-10-01 22:10] gisek opened #3302 "OrderByDescending(...).First() returns random for a not mapped property"
For an unmapped property:

[code]

This code returns a random value

[code]

This one however works fine
[code]

The same with First, FirstAsync, FirstOrDefaultAsync

[2015-10-01 22:25] anpete commented on #3302
Thanks for reporting.

[2015-10-01 22:26] anpete commented on #3302
I think this is an issue with FirstOrDefault being translated to SQL even though the ordering is client-eval.

[2015-10-01 22:28] gisek commented on #3302
@anpete That's also my guess.

[2015-10-01 22:31] anpete commented on #3302
If you want to send a PR, the issue is likely around this line:

https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Relational/Query/Internal/RelationalResultOperatorHandler.cs#L141

[2015-10-01 22:33] gisek commented on #3302
Currently I'm totally out of time. :(

[2015-10-01 22:35] anpete commented on #3302
No problem :smile:

[2015-10-01 22:43] maumar commented on #3103
@kskalski the problem is because of the way we translate navigation properties in the key selectors. The problem will also reproduce for a simpler query:

consider a simpler version of the query:

[code]

What we do is expand the nav prop p.Good into a join like so:

[code]

this works great, however if the nav prop is in the inner selector:

[code]

this logic fails due to chicken and egg problem

[2015-10-01 22:45] lajones commented on #3296
See https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes-(October-1,-2015)#table-selection-in-reverse-engineering

[2015-10-01 22:49] brent-russell opened #3303 "Proposal for Set-Based Delete Operation"
One of the drawbacks of EF has always been the ability to perform set-based deletes on a foreign key or other criteria. E.g. to perform the following SQL query operation via EF, a fetch operation needs to be run to return EF entities, which are then marked for deletion in the DbContext and then submitted to the repository as a batch. Alternatively, SQL can be executed directly against the database

[2015-10-01 23:13] #1374 closed

[2015-10-01 23:16] divega commented on #3303
@brent-russell thanks for submitting your proposal. We have discussed similar ideas in the past, but the idea of `RemoveRange()` overload that takes a query is very interesting (Incidentally I have talked to customers in the past that simply expected things to work this if the argument passed to `RemoveRange()` was an EF query :smile:).

Just nitpicking on terminology, we usually refer to this fea

[2015-10-01 23:21] natemcmaster commented on #3298
I'd bet the csproj just doesn't have the right "copy to output" setting for this *.expected file. @lajones ?

[2015-10-01 23:30] natemcmaster commented on #3293
@m0ngr31 Thanks for sharing. The issue you encountered above ("TypeHandles ...") is a bug in UWP. I've passed along info to the net native team and they will work on fixing it. We hope to deliver a solution that doesn't require you to include lines of XML. Closing this issue as it is part of #623.

[2015-10-01 23:45] natemcmaster commented on #3301
[Theory]? When fixing #3192 I noticed bugs in how TD.net counts test cases.

[2015-10-01 23:50] rowanmiller commented on #3301
Benchmark tests are also skipped on DNX, so that would be a difference (though only ~150 tests). BTW I have a PR going out now to change that since I isolated why they were so slow.

[2015-10-02 00:41] AndriySvyryd commented on #3282
We keep `RequiresValueGenerator` up to date using conventions, but it doesn't seem like something a user would want to turn off, so I suggest calculating the correct value as the default, this would be the most robust solution.
Having said that we can still fix this bug using conventions.

[2015-10-02 00:41] m0ngr31 commented on #3293
Is there a way I can track the progress of this bug with the .net native team?

[2015-10-02 00:56] natemcmaster commented on #3293
Nope. :disappointed: I will update #623 as we make progress on this and other issues in our dependencies.

[2015-10-02 02:42] leus commented on #2341
Just another test case:

    public class Categoria
    {
        public int Id { get; set; }
        public int? CategoriaId { get; set; }
        public string Nombre { get; set; }
    }

    var q = from c in dbContext.Categorias
                    join cc in dbContext.Categorias on c.CategoriaId equals cc.Id
                    group c by c.CategoriaId into g
                    select new {

[2015-10-02 02:51] brent-russell commented on #3303
@divega yes, sorry, my language-brain-part did not translate my conceptual-brain-part information correctly. Definitely looking for a single set-based query as opposed to a SQL batch. I'll update the issue to avoid confusion.

Running it as a no-tracking operation seems great to me. In most cases it would likely be the first, only, or last operation run on those particular entities in a unit of wo

[2015-10-02 04:06] rowanmiller commented on #3303
BTW this is already tracked by https://github.com/aspnet/EntityFramework/issues/795

[2015-10-02 04:14] divega commented on #3303
Thanks. I was sure we had I but couldn't find it. Closing as dupe.

@brent-russell do you intend to contribute this?

[2015-10-02 06:42] kskalski commented on #3103
Thanks for analysis.
Right, I thought that using foreign key property would work around the problem, since I would not involve MarketGood table at all.
However this query also shows the inefficiency of the current translation method. Note that I never actually requested Good to be materialized / included in the result set, so in theory your suggestion for modifying query to use GoodId instead of G

[2015-10-02 07:22] ErikEJ commented on #3297
1: Does this mean that Data Annotations will be opt-in rather than opt-out? (A good thing if so)

2: Should the dnx switch not be: --schemas rather than --schema  ?

[2015-10-02 11:11] AlexTo commented on #3103
Here is the complete query that works, to make it failed, just remove all ToList()
[code]

And my model

[code]
And I have this configuration in OnModelCreating

[code]

Thank you

[2015-10-02 13:17] angelsix opened #3306 "Checking if all migrations applied change from beta7 to beta8"
I used to check if all migrations where applied to a DbContext with:

[code]

In beta7.

However, in beta8 Migrations has changed from

[code]

To

[code]

So the Id property on the Migration class no longer exists.

How do I check for all migrations applied in beta8?

[2015-10-02 14:39] lajones commented on #3297
@ErikEJ Re 1. That is correct.
Re 2. no, we will allow multiple `--schema` (or probably just `-s`) flags on the `dnx` command line each of which will take a single schema. Similarly for `--table`. However for the Powershell command it is `-Schemas` because that takes an array as its argument. See the design meeting notes for details - which I've updated to be more clear.

[2015-10-02 16:49] prasannapattam commented on #2485
This is working with beta 7. Thanks.

[2015-10-02 16:54] prasannapattam commented on #3115
I also vote for anonymous object approach to pass in the named parameters.

[2015-10-02 16:56] lajones commented on #3298
Fixed - commit f1ce78e.

[2015-10-02 16:56] #3298 closed

[2015-10-02 17:07] rowanmiller opened #3308 "Perf: Address query benchmarks that are slower then EF6"
We currently have some benchmarks in SimpleQueryTests where EF7 is slower than EF6. There are probably common causes across the set, so opening a general item to investigate these and implement improvements.

[2015-10-02 17:10] rowanmiller opened #3309 "Perf: Address warm initialization"
In the  InitializationTests  our cold start numbers show a solid improvement over EF6 but our warm numbers are slower. There are probably common causes across the set, so opening a general item to investigate these and implement improvements.

[2015-10-02 17:10] bricelam commented on #3306
The dictionary key is the migration Id. This was done to avoid instantiating the `Migration` classes unnecessarily.
[code]

[2015-10-02 17:28] angelsix commented on #3306
Thanks that works

[2015-10-02 17:32] rowanmiller commented on #3217
Are you still seeing this? It sometimes happens when there is another exception occurring. The perf CI runs using the console runner and it's all green now.

[2015-10-02 17:33] natemcmaster commented on #3217
I was seeing the error on CI, so it must be fixed now.

[2015-10-02 17:36] rowanmiller commented on #2574
Root cause was `GC.GetTotalMemory(forceFullCollection: true)` being slow on DNX (opened https://github.com/aspnet/dnx/issues/2886).

Checked in a workaround on our end since we don't really care about metric collection when we just run a single iteration. The full perf runs against DNX continue to be affected, but it's less of a concern that they have the overhead since they run on a dedicated CI

[2015-10-02 17:36] #2574 closed

[2015-10-02 17:44] ajcvickers commented on #3195
Message looks good to me.

[2015-10-02 18:20] maumar commented on #3103
I am currently working on a fix that will detect this case and translate to FK, if possible. Problem is that this can only be done for a subset of scenarios (no composite keys, no chaining of nav props, you need to use PK as a key selector, as opposed to e.g. "name", and navigation needs to point in the right direction).

For other cases we will try to do a more involved and much less optimal tran

[2015-10-02 18:29] rowanmiller commented on #3227
@lajones is this fixed now?

[2015-10-02 18:31] rowanmiller commented on #3232
No longer needed after decisions form yesterdays design meeting

[2015-10-02 18:37] rowanmiller commented on #3243
Discussed and decided we should add a param to the command to allow you to specify directory ( we will imply namespace from this).

[2015-10-02 18:37] davezych commented on #3029
Just tried this with `beta8-15840` and receive the following exception:

[2015-10-02 18:37] rowanmiller commented on #3243
In the meantime, you can just move the migrations since we will follow where the most recent migration is. The parameter would just override this behavior.

[2015-10-02 18:45] rowanmiller commented on #3255
Discussed and decided this doesn't matter

[2015-10-02 18:46] lajones commented on #3227
Signed off but not checked in. Per email am trying to include into beta-8 with table selection changes.

[2015-10-02 18:46] rowanmiller commented on #3260
Fixed now (see #3267)

[2015-10-02 18:54] lajones commented on #3229
@rowanmiller Suggest pri0 is too high...

[2015-10-02 19:10] rowanmiller commented on #3270
**Decision:** `EntityFramework.MicrosoftSqlServer`

We do not like it :panda_face: ... but we have to chose another name to support SxS with EF6 :couple_with_heart:... which we think is important :star2:

[2015-10-02 19:16] rowanmiller commented on #3281
Feel free to add more detail and remove milestone if you don't think this is pri0 for RC

[2015-10-02 19:24] rowanmiller commented on #3292
Closing as a dupe of #1441 and following up there

[2015-10-02 19:25] rowanmiller commented on #1441
Bumping from Backlog to 7.0.0 for us to look at before RTM

[2015-10-02 19:31] rowanmiller commented on #3294
@natemcmaster you may want to do this earlier to reduce directives for .NET Native

[2015-10-02 19:47] NTaylorMullen opened #3310 "File => New Template => Register bad data = Cannot locate SQL database"
This may be the wrong location to file this bug so feel free to move if I'm wrong.

I've noticed that when publishing a file => new template application and running on Windows Server 2012 R2, Windows Server 2008 R2 and Linux (on beta8 sign off bits, clr and coreclr for windows, just clr/mono on linux) and visiting `/Accounts/Register` to where you submit bad data to the server (without client side

[2015-10-02 19:47] NTaylorMullen commented on #3310
Note: After first request, you don't get this error anymore.

[2015-10-02 19:50] rowanmiller commented on #3097
@davezych can you retry on the latest builds? We are now seeing significant improvement in our benchmarks

[2015-10-02 19:55] natemcmaster commented on #3270
...=> Announcement repo?

[2015-10-02 19:57] divega commented on #3229
@lajones agreed it is not critical, but we think it is small and we should just do it, so pri0 is to keep it in the radar for now.

[2015-10-02 20:00] ErikEJ commented on #3270
@natemcmaster  Brace yourselves!

[2015-10-02 20:01] divega commented on #3029
That sounds a lot like #3119 which we I closed because I couldn't repro.

[2015-10-02 20:01] natemcmaster commented on #3270
@ErikEJ :see_no_evil:

[2015-10-02 20:04] natemcmaster commented on #3273
To diagnose this better, we need to log what is actually being sent to SQLite. It's unfortunately hacky, but here are some instructions for adding a logger in beta6.

[code]
(this is what we do in [NorthwindQuerySqliteFixture](https://github.com/aspnet/EntityFramework/blob/7.0.0-beta6/test/EntityFramework.Sqlite.FunctionalTests/NorthwindQuerySqliteFixture.cs)). Use the TestSqlLoggerFactory from [t

[2015-10-02 20:45] davezych commented on #3097
@rowanmiller using the latest beta8 and it's definitely much faster. :+1:

[2015-10-02 20:50] rowanmiller commented on #3097
@davezych great, thanks

[2015-10-02 22:52] rowanmiller commented on #2266
**Triage:** We do plan to do this based on feedback from the community. Purely due to time constraints it won't be in the initial release (just TPH will be in).

[2015-10-02 22:55] rowanmiller commented on #3226
@erictrigo given this seems to be an issue with restoring, resolving dependencies, etc. can you open up an issue in the DNX repo https://github.com/aspnet/DNX.

[2015-10-02 22:55] davezych commented on #3029
@divega I just upgraded to latest rc1 bits (`rc1-15886`) and I get the same `EF.Property<T>` exception as above. I'll see if I can isolate the issue and provide you with some more useful information. Here's what my model looks like now:

    public class Forum
    {
        public Forum()
        {
            Topics = new HashSet<Topic>();
        }

        public int ID { get; set; }
        [R

[2015-10-02 22:56] rowanmiller commented on #3277
@ianschmitz this repo is for EF7 and it looks like you issue relates to EF6.x. Can open a new issue on the EF6.x project site - http://entityframework.codeplex.com/.

[2015-10-02 23:29] Kagamine commented on #107
+1 for IndexAttribute

[2015-10-03 04:56] bitcrazed opened #3312 "EF Core doesn't lazy-load virtual navigation properties"
## Issue: EF7 **may** not be lazy-loading all entities in a graph of related entities, despite all entities' navigation properties being virtual:

I built a [basic blog atop EF6](https://github.com/bitcrazed/EF6TestWebApp). It behaves as expected and correctly models many-to-many relationships - in this case, the fact that posts may have zero or more authors.

I then rewrote this [basic blog atop

[2015-10-03 10:19] SaphuA opened #3313 "Including Identity User doesn't work"
Somehow EF isn't including my Identity User in results. I've tested this in a newly created default web project (beta 7).

Here's my model:

[code]

These are my queries and the results I'm getting. I'm 100% positive that, at least according to the data, the User-results shouldn't be null.

[code]

[2015-10-03 13:33] wzuo opened #3314 "Invalid error description when migration is not applied"
Hi,
when migration is not created/applied ASP.NET MVC vNext throws following error:

This error description is not correct, since the commands have changed to:

I don't know if this is correct place (it may be ASP.NET MVC issue) to report this typo.

[2015-10-03 16:21] GVX111 opened #3315 "Error after DNU RESTORE [BUG]"
MissingMethodException: Method not found: 'Void Microsoft.Data.Entity.Query.Internal.QueryCompilationContextFactory..ctor(Microsoft.Framework.Logging.ILogger`1<Microsoft.Data.Entity.Query.Internal.QueryCompilationContextFactory>, Microsoft.Data.Entity.Query.IEntityQueryModelVisitorFactory, Microsoft.Data.Entity.Query.ExpressionVisitors.IRequiresMaterializationExpressionVisitorFactory, Microsoft.Da

[2015-10-03 17:07] davidfowl commented on #3315
Thats not enough information to know what the problem is.

[2015-10-03 17:26] gustyn opened #3316 "Grouping with Joins using anonymous objects"
I am using dnx Beta7 as well as "EntityFramework.SqlServer": "7.0.0-beta7",

Given the following query which is a query I have run in various forms or other in EF6 and earlier:
[code]

I keep getting the following exception:
[code]

[2015-10-03 17:40] gvx111 commented on #3315
IT IS MY project.lock.json
http://m.uploadedit.com/ba3k/144389398484.txt

[2015-10-03 18:24] LonDat opened #3317 "MSSQL - incorrect sql - Where(x => subQuery.Any(y => x.xxx == y.yyy)"
Hi, I have code:
[code]

It's generate this SQL:
[code]
This SQL statement is broken (`An expression of non-boolean type specified in a context where a condition is expected, near 'THEN'.`)

My environment:
MSSQL 2014 Developer Ed.
EF 7 - dev branch (today synced - 2015/10/3)

EF7 ROCK (is't not ironic :D)
Thx for check, Milan

[2015-10-03 21:23] gvx111 commented on #3315
Url of project:
http://tss.ge/

[2015-10-04 02:33] bricelam commented on #3314
Possibly fixed by https://github.com/aspnet/Diagnostics/pull/181

[2015-10-04 08:06] angelsix opened #3318 "Is virtual for lazy loading still needed?"
I ask because the UnicornStore demo doesnt set for example Product as virtual in CarlItem and OrderLine, yet it does .Include(i => i.Product) which wouldnt be needed if it wasn't virtual lazy loaded in the first place.

[2015-10-04 17:46] ErikEJ commented on #3016
Those packages are now available in the beta8 myget feed, thanks for fixing this!

[2015-10-04 17:46] #3016 closed

[2015-10-04 18:43] muratg commented on #3016
@ErikEJ NP, and they will be in nuget.org when we release beta 8 as well.

[2015-10-04 19:39] tuespetre commented on #3318
This is an unofficial answer in the form of a question, but how would lazy loading be implemented without an overridden property?

[2015-10-04 19:53] angelsix commented on #3318
That's what I thought. If virtual is still needed then the sample code is misleading and or wrong or just superfluous as it calls .Include when a non virtual property will already be fully loaded

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Derek <notifications@github.com>
Date: 04/10/2015 20:39 (GMT+00:00)
To: aspnet/EntityFramework <EntityFramework@noreply.g

[2015-10-04 22:08] HenryGarle commented on #3312
The short answer is that EF7 does not currently support automatic lazy loading in the same way that EF6 did. I've seen it discussed in a few places and if anyone is better informed feel free to correct me but as far as I am aware it is fairly far down their priority list and if some posts I have read are to believed, that's if they choose to implement it at all.

[2015-10-04 23:31] ardpx opened #3320 "Unable to load DLL 'api-ms-win-core-processthreads-l1-1-0.dll' when running under Ubuntu"
Hi,

I am writing an asp.net 5 app with ef 7 to work with sql server. It's all okay when the app is running under windows. When I tried running it under linux using 'dnx kestrel' (runtime: beta7 coreclr linux x64), the web site is up, but when there needs to interact with database, the following error gets issued:

error   : [Microsoft.Data.Entity.DbContext] An exception occurred in the database w

[2015-10-04 23:41] ardpx commented on #3320
Found the issue, connection string contains 'Trusted Connection', which should not be there..

[2015-10-05 01:07] ardpx opened #3321 "System.Data.SqlClient.SqlException: Snix_Connect in Ubuntu"
Hi,

I am writing an asp.net 5 app with ef 7 to work with sql server. It's all okay when the app is running under windows. When I tried running it under linux using 'dnx kestrel' (runtime: beta7 coreclr linux x64), the web site is up, but when there needs to interact with database, the following error gets issued:

[code]

Please help check. Thank you!

[2015-10-05 01:18] divega commented on #1137
@anpete I found this in our backlog and thought it should be assigned to you so you can put a check on what we have done and possibly find other things we could do soon.

[2015-10-05 02:24] rhires opened #3322 "DbEntityValidationException - not finding this in Microsoft.Data.Entity"
Transferring a few things to EF7 from EF6, and it doesn't work. Just getting errors about not finding the assembly reference, for both dnx451 and dnxcore50. Running against beta 7 on Mac OS X w/ Yosemite. I'm not sure where DbEntityValidationException would be, if not in Microsoft.Data.Entity.

[code]

What am I missing?

[2015-10-05 02:29] ardpx commented on #3321
Not supported in Linux yet?

[2015-10-05 04:44] divega commented on #3321
Cross platform support for SqlClient on .NET Core is being worked on. It won't be part of beta 8 though. See https://github.com/dotnet/corefx/pull/3567.

[2015-10-05 06:44] divega commented on #3312
@HenryGarle is right. There is no automatic lazy loading support in EF7, and we don't have a clear outlook on its priority. Lazy loading can make data access easier to deal with but it has pitfalls such as potentially producing very inefficient query patterns that cause many more database roundtrips than necessary. By comparison eager loading (i.e. the `Include()` methods), and using projections o

[2015-10-05 06:53] divega commented on #3318
@angelsix EF7 does not lazy-load automatically through navigation properties so that does not play as a reason to make the properties virtual.

[2015-10-05 06:58] divega commented on #3322
EF7 does not perform automatic data validation so the `DbEtityValidationException` class does not exist in EF7. This article is a good read to understand the differences between EF6 and EF7:

http://blogs.msdn.com/b/adonet/archive/2014/10/27/ef7-v1-or-v7.aspx

[2015-10-05 07:52] angelsix commented on #3318
Ah ok. My understanding was if a single item isn't marked as virtual, it will fully load when you load the parent item. Only collections/lists didn't load automatically. So a Product would fully load, but an ICollection<Product> would not of.

Is my understanding wrong? I am sure in EF6 I had to mark single navigation properties on a class as virtual otherwise they got eager loaded when the parent

[2015-10-05 12:22] divega commented on #3318
What you are describing sounds a bit like how things work un NHibernate: If you specify 'lazy = false' on a property, it will get eager loaded; collections default to 'lazy = true' and references default to 'lazy = false'.

In EF6 you make navigation properties virtual to enable the creation of proxy types in which EF can embed the ability to lazy load. EF will never eager load anything automatica

[2015-10-05 14:06] avanderhoorn commented on #1137
As a side note, this issue was created prior to having Diagnostics Source (previously Telemetry Source). The same requirements are still there but on top of Diagnostics Source.

[2015-10-05 14:11] rhires commented on #3322
Thank you. I did see that article, but it doesn't seem to say anything about the validation, and neither did I see what is included in the new version vs what is left out, just that a lot of things are, without it being very specific. I did some other searching around, and didn't see much. Maybe it's just not written in the docs yet?

As a relatively new developer, I wonder how to do the validatio

[2015-10-05 14:33] AndyNewland commented on #2266
Thanks @rowanmiller, good news

[2015-10-05 15:42] bitcrazed commented on #3312
Wow. I am surprised - while far from perfect, removing Lazy Loading is a pretty major change that I've not seen explicitly stated in any of the docs, nor in the ASPNET/Announcements repo, no mention of it in the [Guiding Principles](https://github.com/aspnet/EntityFramework/wiki/Guiding-Principles), etc. Can you point me at any docs where this is stated?

Also, you state that EF7 doesn't support l

[2015-10-05 15:55] natemcmaster commented on #3320
FWIW, this issue is a problem with coreclr. See https://github.com/dotnet/corefx/issues/2461.

[2015-10-05 15:59] divega commented on #3318
That last sentence is referring to EF6. I will edit it.

[2015-10-05 16:01] divega commented on #3318
@rowanmiller do you know if we have anything in the documentation, feature list, roadmap or blog posts that mentions the status of lazy loading in EF7?

[2015-10-05 16:05] divega commented on #3312
Edited that Las sentence to make it clearer that I was referring to EF6 behaviors.

[2015-10-05 16:09] natemcmaster commented on #3313
EF requires that you map relationship types before `.Include` can function correctly. This can be done from the `OnModelCreating` override or (in some cases) using data annotations.

I recommend reading [this answer on StackOverflow](http://stackoverflow.com/a/30309381/2526265) as docs are not yet ready. (NB: the names of methods have changed since this answer).

For example,
[code]

[2015-10-05 16:17] rowanmiller commented on #3318
It's listed on our roadmap as a high priority feature but something we'll implement based on feedback https://github.com/aspnet/EntityFramework/wiki/Roadmap#high-priority-features

[2015-10-05 16:22] bitcrazed commented on #3312
Thanks.

Assume there's currently no statement on the removal of Lazy Loading? Any chance the EF team could add [Announcements](https://github.com/aspnet/announcements) and/or document breaking changes like these - it'd be a huge help to those of us trying to get started (and help others do so) on the new bits?

[2015-10-05 16:22] rowanmiller commented on #3239
@louislewis2 it sounds like you probably want to specify which properties are modified, rather than using the "just mark everything as modified" behavior of `Update`. EF will only send an `UPDATE` statement for the properties that are modified. Here is how you do that:

[code]

[2015-10-05 16:26] rowanmiller commented on #3275
@robfarmergt yes we removed this column. You should just be able to manually remove it from the table.

[2015-10-05 16:31] natemcmaster commented on #3312
@bitcrazed Thanks for the feedback. Since we are still pre-release, there is no documentation on what is a "breaking" change from EF6 to EF7. As EF7's features stabilize, we will write more docs. I've added https://github.com/aspnet/EntityFramework.Docs/issues/40 to help capture this feedback.

[2015-10-05 16:32] rowanmiller commented on #2626
@ErikEJ just a general note on this (and a couple of other issues where we need to make things more flexible to support CE). Given how much is on our plate to get RC done, we aren't going to be able to dedicate a lot of time to sorting this out for RC. We will spend the time to unblock things before RTM. Our perspective is that the limitations should be ok for the CE provider for RC - as they don'

[2015-10-05 16:33] rowanmiller commented on #3038
@ErikEJ just a general note on this (and a couple of other issues where we need to make things more flexible to support CE). Given how much is on our plate to get RC done, we aren't going to be able to dedicate a lot of time to sorting this out for RC. We will spend the time to unblock things before RTM. Our perspective is that the limitations should be ok for the CE provider for RC - as they don'

[2015-10-05 16:33] rowanmiller commented on #3158
@ErikEJ just a general note on this (and a couple of other issues where we need to make things more flexible to support CE). Given how much is on our plate to get RC done, we aren't going to be able to dedicate a lot of time to sorting this out for RC. We will spend the time to unblock things before RTM. Our perspective is that the limitations should be ok for the CE provider for RC - as they don'

[2015-10-05 16:33] janpieterz opened #3324 "InvalidOperationException thrown when adding an entity with two properties as key and values supplied for both properties"
Running beta7 the following exception occurs

[code]

Object:

[code]

OnModelCreating override:

[code]

I tried it with and without the second line in OnModelCreating (setting the AccessLevelId to ValueGeneratedNever() ).

I might just be doing this wrong, but it seems like other objects don't have the problem if I supply the identifier, although so far those have only been guids and this is one

[2015-10-05 16:34] rowanmiller commented on #2626
@anpete can you respond to this from @ErikEJ

[2015-10-05 16:36] rowanmiller commented on #3312
Agreed, we will have some "Should I be using EF7" documentation and the "What's new in EF7" and "What's removed in EF7" content will be a large part of that.

[2015-10-05 16:42] ErikEJ commented on #2626
@anpete @rowanmiller Thanks both, looking forward to some pointers to get me started with a workaround - but as you say Rowan, certainly not high prio, concentrate on the SQL Server and SQLite experiences for now. I have not heard of anybody being hit by this, either!

[2015-10-05 16:43] janpieterz commented on #3324
Apologies, found the solution.
Only after posting this I read the following:
https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-July-2,-2015#no-key-generation-with-attempt-to-use-sentinel
Which lead me to:
http://ef.readthedocs.org/en/latest/modeling/configuring.html#generated-properties-identity-computed-store-defaults-etc

Links posted as it might be relevant for someone else.

[2015-10-05 16:56] bearyung opened #3325 "SqlMethods.Like equivalent in EF7"
In EF6, we can perform a SQL LIKE enquiry by writing

[code]

and it will translate to

[code]

What should I do to perform the same query under EF7?

[2015-10-05 17:05] natemcmaster commented on #3325
In EF7 we translate ".Contains" to "LIKE".

[code]

[2015-10-05 17:06] brent-russell commented on #3303
@divega I would like to, and had a look through the code this weekend, but realistically won't have time for it until probably Feb-Mar 2016.

[2015-10-05 17:11] bitcrazed commented on #3312
@natemcmaster Many thanks.

I know it's early days for the EF team but when developing in the open like this, timely release of breaking changes vs. a previous version is pretty important.

I think that official guidance on issues like this (along with no automatic many-to-many support) will be crucially important for many who need to decide between using EF7 or EF<=6 for new projects that may be

[2015-10-05 17:11] bitcrazed commented on #3312
@rowanmiller For me, this is just another example why I think this project should have been called something other than EntityFramework - because it's not EF. While EF7 retains some vestiges of EF **concepts**, I think it's sufficiently (so very) different from EF that it'd be easier to explain what it is if it wasn't called EF!

[2015-10-05 17:28] roji commented on #3325
See #2850 for related discussion

[2015-10-05 17:32] bearyung commented on #3325
@natemcmaster Got it, thanks!

@roji so the issue of "Contains provides only a subset of what can be done with SQL LIKE (consider 'a%b%c')" still exist in EF7 beta6? Is there any workaround for that?

[2015-10-05 17:38] divega commented on #3325
Since we don't have something like `EF.Functions.Like()` the best workaround is bootstrap the query with the `FromSql()` method, e.g. something like this:

[code]

[2015-10-05 17:45] bearyung commented on #3325
@divega Extacly what I need, thanks.

[2015-10-05 18:00] natemcmaster commented on #3294
This won't work. LINQ uses `Type.MakeGenericMethod` under the hood.
See
https://github.com/Microsoft/referencesource/blob/74706335e3b8c806f44fa0683dc1e18d3ed747c2/System.Core/Microsoft/Scripting/Ast/MethodCallExpression.cs#L999.

[2015-10-05 18:01] divega commented on #3322
Thanks for the feedback. We have created a documentation bug to track the need to be more explicit about EF6 features that are not included in EF7: aspnet/EntityFramework.Docs#40.

If you are in an MVC application the best choice is to use MVC support for model validation. Documentation for ASP.NET 5 [isn't there yet](http://docs.asp.net/projects/mvc/en/latest/models/validation.html) but in genera

[2015-10-05 18:03] divega commented on #3294
Interesting. Then does Queryable currently not work at all in .NET Native?

[2015-10-05 18:07] natemcmaster commented on #3294
The problem is in `Expression.Call`. The overload used in the example above does not trigger a call to `MakeGenericMethod`

[2015-10-05 18:07] rowanmiller commented on #3325
Closing as dupe of https://github.com/aspnet/EntityFramework/issues/2850

[2015-10-05 19:06] divega commented on #3294
Still don't understand why it wouldn't work for us, sorry about that :smile: Will probably ask you in person.

[2015-10-05 19:14] natemcmaster commented on #3294
Discussed in person. Will investigate more.

[2015-10-05 19:29] louislewis2 commented on #3239
Thanks @rowanmiller I managed to implement this shortly after I created the issue (work must go on :) )
I think though this as a feature would still be greatly loved by many. I would even settle for an attribute that performs in essence the same as the code above. Thanks for the reply and thanks to the team for a great new EF!

[2015-10-05 19:29] rowanmiller opened #3329 "Reverse Engineer: Simplify provider surface to simple database orientated object model"
We decided to stop using `IModel` to try and represent the database schema and instead use a simple, purpose built object model. We also want to refactor things so that in most cases providers only need to implement the surface area to return this model (plus the code fragment for `OnConfiguring` and the context class name) - the rest of the pipeline should be provider agnostic.

The rest of the s

[2015-10-05 19:30] rowanmiller commented on #3329
Assigning to @natemcmaster as he has already prototyped something like this.

cc @roji @ErikEJ as an heads up (this will come for RC)

cc @lajones

[2015-10-05 20:15] natemcmaster opened #3330 "Reveng cascade delete"
Detect cascading delete from database and add cascade delete to scaffolded model.

[2015-10-05 20:22] #2293 closed

[2015-10-05 20:22] #2867 closed

[2015-10-05 20:27] bricelam commented on #2294
Closing; the remaining work is tracked by #639 & #2679.

[2015-10-05 20:27] #2294 closed

[2015-10-05 20:29] rowanmiller commented on #3239
@louislewis2 there actually is a flag on our lower level metadata to setup what you want:

[code]

We may promote this to the top level Fluent API if feedback says folks want it often.

[2015-10-05 20:52] natemcmaster commented on #3270
Here it comes #3331....

[2015-10-05 21:46] louislewis2 commented on #3239
The name of the property from a South African language point of view is quite puzzling, at first glance is looks like it is saying that it will become read only after a save. Perhaps I am missing something but in my understanding having it look like this makes more sense (to me).

[code]

For a feature like the above, how many times can I vote? :)

[2015-10-05 22:18] rowanmiller commented on #3239
@louislewis2 that is exactly what it means... when you initially create the entity you can assign a value to the property and have it persisted to the database. At that point EF assumes the value of the property will never change, and thus it will never be marked as updated. Is that what you want?

[2015-10-05 22:45] louislewis2 commented on #3239
@rowanmiller Not quite, I am looking for always read only, as in EF will never try to persist a value.
Imagine the following scenario.

[code]

To make it easy for customers via REST, we allows them to load a record for example
GET /api/accounts/1 (Using Id)
GET /api/accounts/acc100 (Using AccountCode)

On a post, the customer can edit the RW fields, few in the sample, but in practice could be man

[2015-10-05 22:58] natemcmaster opened #3336 "Commands: Use ConfigureDesignTimeServices convention for providers"
Use our startup convention for provider design-time service discovery.

This will replace `IDesignTimeMetadataProviderFactory`.

[2015-10-05 23:00] louislewis2 commented on #3239
A lot of our work is integration based and very often the systems we integrate with have been around for many years, and have interesting database designs, it is not uncommon for us to see tables have either close to or more than 100 columns. So what often happens is that a EF model is creating to make sense of a smaller picture of the actual underlying data. 1 database table, may end up with 10 o

[2015-10-05 23:04] #2883 closed

[2015-10-05 23:31] smitpatel commented on #3281
This bug does not affect the product but due to this #3280 was not caught before. Fix for this should be simple and I will include it with #3280 fix.

[2015-10-06 00:01] rowanmiller commented on #3239
@louislewis2 it sounds like there are two things you are asking about:

Could you just do it the other way around and mark `IsModiifed = true` for the fields that are being updated by the current request? There is a weakly-typed string overload of `Property()`, so you can write general purpose helper methods for it.

This is exactly what the `IsReadonlyAfterSave` flag does - it will only ever be i

[2015-10-06 00:45] staff0rd commented on #1949
Getting the same

[2015-10-06 01:05] #3280 closed

[2015-10-06 01:05] #3281 closed

[2015-10-06 03:28] divega commented on #3019
Is this still going to be blocked (without the .NET native tool chain) in beta8? Otherwise can we close the issue?

[2015-10-06 06:39] waterfallbay commented on #3273
We are having problem in using TestSqlLoggerFactory in our UWP project. We can't use System.Runtime.Remoting.Messaging for the CallContext class. Is there any work around?

![2015-10-06_14-38-10](https://cloud.githubusercontent.com/assets/13427419/10301742/f8257906-6c37-11e5-997a-bf5517846b9d.png)

[2015-10-06 07:35] SaphuA commented on #3313
@natemcmaster

Whoops I failed to mention that I was using migrations to generate everything for me.

I've done some testing and I've finally figured out the issue.

IdentityUser uses a string type as the primary key, even though it stores Guids in that field.

Once I changed the UserId properties to strings everything was working as expected.

I think it is a little weird that a string type is us

[2015-10-06 08:34] jpwits commented on #2307
Hi rowan,
I 've got a similar issue , I seed my db (250 tables) with json files, for this I need Identity Insert Off, for the existing PK/FK's,  but once I run the web app I need Identity insert on to add new entries, since the front end sends multi threaded updates to the same table, via Web API so it then need to create the identity for me. Thus if u could add this to EF7, it will be an excellen

[2015-10-06 09:44] htuomola opened #3340 "Can't reference EntityFramework.Commands in ASP.net MVC 5 app with 7.0.0-rc1-15886"
Hi, I just updated to 7.0.0-rc1-15886 and trying to add migration with `add-migration foo` gave the error message: "Cannot execute this command because EntityFramework.Commands is not installed in the startup project 'UserInterfaces.Web'."

I guess this is some new constraint as I don't believe it was in place previously - EF.Commands was referenced by the project where the migrations are.

This a

[2015-10-06 10:01] topguss opened #3341 "Problem with annotations "ForeignKey" & "InverseProperty" on One-to-One relation."
We have problem with annotations "ForeignKey" & "InverseProperty"  on one-to-one relation with EF 7 beta-7.

We tried several cases, here are our examples and results:

Case 1:

[code]

When we tried to add two related object to DbContext, EF couldn't recognize annotation "DatabaseGenerated" and it tried to add PersonId value into Person table.

Here is exception:
"An error occurred while updating

[2015-10-06 11:29] benharden commented on #2874
Does this issue mean there is no support for multiple contexts when using the same database throughout EF7 or is it just an issue with the relational provider?

You say that this won't be included in the November release, but will support for this be included in the Q1 2016 release?

[2015-10-06 13:23] Artur2 opened #3342 "Support DI for contructors of POCO"
Hello EF Development team.
I have a question about dependency injection.
Does EF looking for dependencies when materializing object from database in this manner ?

[code]

After loading and materializing from database DataContext(DataContext is inherited from DbContext) must injected in constructor.

Anything like this is possible now ?

[2015-10-06 13:50] miroslavsiska opened #3343 "Composite key and navigation property"
Hi, please check this:

[code]

Data Annotation:

[code]

Mapping is:
One Directory can have many contact
One ContactType can have many contact
Contact is exactly customized join table with composite key in ContactType

Add data to ContactType

[code]

Add data to Contact:

[code]

Until HERE completed succesfully
But following part of code not working:

[code]

my cccc show me in debugger cccc.Co

[2015-10-06 13:57] nteague22 commented on #2266
I know as any release draws near, things can get hectic...  But I at least want to take a moment and give you guys a round of applause. You and your team have stepped up in most every manner, continue to impress on response time and feedback, and I feel personally have shown a lot of poise.  To many of my peers, the pre existing entity framework was one of the old and sluggish libs still around fr

[2015-10-06 15:16] miroslavsiska commented on #3343
Sorry, solved by my self

[2015-10-06 15:28] Aristarh71 commented on #926
Not all providers support DISTINCT.
In Google Big Query the error message is:
syntax error at: 4.7 - 4.58. SELECT DISTINCT is currently not supported. Please use GROUP BY instead to get the same effect. [400]
Is it possible to override code generation to fix this problem?

[2015-10-06 15:30] Aristarh71 commented on #926
Provider for Google Big Query is here:
https://github.com/DevExpress/BigQueryProvider

[2015-10-06 15:36] angelsix opened #3345 "SQL Server connection string for Mono"
EF7 supports SQL Server on Linux using Mono (http://ef.readthedocs.org/en/latest/providers/index.html#entityframework-sqlserver). However, I have no idea what the connection string will be on Linux using Mono?

I presume we dont have to use localdb either and can use an actual server, but again I have no documentation or idea where to start.

[2015-10-06 16:08] natemcmaster commented on #3019
EF installs on UWP now, and works in "Debug" mode only. This is a separate issue from netnative support. We can close this.

[2015-10-06 16:08] #3019 closed

[2015-10-06 16:28] bricelam commented on #3019
Resolved by #3279

[2015-10-06 16:31] bricelam commented on #2892
We've downgraded to the versions that RTMed with the Windows 10 Tools (in #3279). We'll consider further downgrades as the Generations feature solidifies and based on feedback.

[2015-10-06 16:31] #2892 closed

[2015-10-06 16:35] natemcmaster commented on #3345
EF passes the connection string through to the ADO.NET provider. Mono uses the same format that full .NET uses. Official docs: https://msdn.microsoft.com/en-us/library/ms254500(v=vs.110).aspx. More useful docs: https://www.connectionstrings.com/sqlconnection

[2015-10-06 16:41] natemcmaster commented on #3313
@SaphuA Were you able to resolve the issue then? or should we reopen?

[2015-10-06 16:51] bricelam commented on #3340
Oh yuck; we should remove our dependency on Razor (Issue #2947) soon. I hadn't realized it would conflict with MVC 5 and newer.

You may be able to work around this by setting the project with your migrations as the VS startUp project (or by using the `-StartupProject` parameter) when running the commands.

[2015-10-06 16:53] natemcmaster commented on #3273
@waterfallbay You could just try using the DNXCORE implementation instead.
System.Runtime.Remoting is in mscorlib for full .NET. Which version of .NET are you targetting?

[2015-10-06 16:53] #639 closed

[2015-10-06 17:00] natemcmaster commented on #3273
(Doh - I read more carefully. You're on UWP.) UWP doesn't have the DNXCORE50 compile symbol defined. Change this to NETFX_CORE.

[2015-10-06 17:20] htuomola commented on #3340
Yup, I created an empty console app, added Commands reference there and use it as startup project, works fine for now.

----- Alkuperäinen viesti -----
Lähettäjä: "Brice Lambson" <notifications@github.com>
Lähetetty: ‎6.‎10.‎2015 19:52
Vastaanottaja: "aspnet/EntityFramework" <EntityFramework@noreply.github.com>
Kopio: "Henri Tuomola" <htuomola@gmail.com>
Aihe: Re: [EntityFramework] Can't reference

[2015-10-06 17:23] htuomola commented on #3340
Ah right, I could've used the same project for startup which has the migrations. Don't know why I didn't think of that. Anyway, at least the issue is noted now.

----- Alkuperäinen viesti -----
Lähettäjä: "Brice Lambson" <notifications@github.com>
Lähetetty: ‎6.‎10.‎2015 19:52
Vastaanottaja: "aspnet/EntityFramework" <EntityFramework@noreply.github.com>
Kopio: "Henri Tuomola" <htuomola@gmail.com>
A

[2015-10-06 17:25] JohnGalt1717 opened #3346 "Elastic DB + Entity Framework 7 Guidance - Samples are broken"
Could someone do up an example of how to use Elastic DB with EF 7?  The samples won't work with a direct update and getting all of the dynamic loading stuff to work seems to be a non-trivial conversion.

Would be really great to have the sample load data from any shard and then save a new entity dynamically to the best shard possible.

Thanks!

[2015-10-06 17:33] angelsix commented on #3345
I was after some info on how to actually use in on linux/mono. The links you provide are just MS links.

For example, installed mono on linux. Is that it?
Do I need to manually install something for SQL to be on linux/mono?
How do I see the database, start it, stop it, manage it?
What's the server name? (local), ., machine name, something else?

With my current build on linux with mono installed,

[2015-10-06 17:46] rowanmiller commented on #3261
Moved to https://github.com/aspnet/Microsoft.Data.Sqlite/issues/148

[2015-10-06 18:04] rowanmiller commented on #3346
@JohnGalt1717 can you point us to the sample you are using for EF6?

[2015-10-06 18:06] natemcmaster commented on #3345
Based on your questions, I suggest you read some tutorials on the fundamentals of using SQL Server. I would suggest this as a starting place: [Database Engine Tutorials on MSDN](https://msdn.microsoft.com/en-us/library/ms345318.aspx).

Regarding your question about mono, your error message indicates to me you have mono installed correctly. Mono comes with a version of SqlClient out-of-box, but it

[2015-10-06 18:10] rowanmiller commented on #2947
Changing to "remove" rather than "internalize" being an option given https://github.com/aspnet/EntityFramework/issues/3340

[2015-10-06 18:10] rowanmiller commented on #3340
Closing as we have update #2947 to explicitly say we need to remove the dependency

[2015-10-06 18:11] maumar commented on #926
@Aristarh71 provider could override DefaultQuerySqlGenerator.VisitSelect to generate SELECT that works on their backend as a workaround.

[2015-10-06 18:11] angelsix commented on #3345
I have 5 years SQL Server experience on Windows and run multiple 1 million plus user sites so I'm not sure why you feel I would need basic tutorials on how it works.

I've asked specific questions on how it works on Linux which I have zero experience in but again the questions were ignored.

I'll just look at the .Net source code I'm clearly getting nowhere here

[2015-10-06 18:13] rowanmiller commented on #3330
This is very important so that we don't cascade delete in-memory when cascade delete is explicitly off in the database.

[2015-10-06 18:14] natemcmaster commented on #3345
@angelsix My apologies. Using SQL Server from Linux is the same as using it from another Windows instance except that (obviously) you cannot have a localhost instance of SQL Server. Add the server DNX name or IP address to your connection string. Furthermore, IntegratedSecurity does not work on Linux as that is a Windows-only feature, so you will need SQL Server authentication.

[2015-10-06 18:42] angelsix commented on #3345
I have mis-read the supporting document. I was under the impression Mono had a version of SQL Server for Linux (which I was very surprised by) and thought it was a new .Net Core feature that SQL Server had been ported to run on linux.

Re-reading it, it looks like its just a provider to access an SQL server running on a windows machine.

So that puts me back to a new requirement. My project will r

[2015-10-06 18:46] natemcmaster commented on #3345
Yup, you and many wish for SQL Server hosting on Linux. Fortunately, EF7 will work with other providers. There is pre-release support for postgres (http://ef.readthedocs.org/en/latest/providers/index.html#entityframework-npgsql) being done by another group (external to the ASP.NET team). It is still a work in progress. You can track the progress on https://github.com/npgsql/npgsql/issues/249.

[2015-10-06 19:03] JohnGalt1717 commented on #3346
Here's the link to the article: https://azure.microsoft.com/en-us/documentation/articles/sql-database-elastic-scale-use-entity-framework-applications-visual-studio/

For such a powerful tool in general the documentation, especially to use it with Entity Framework is pretty bad and it doesn't work with EF7 although it looks like there's no reason why it shouldn't.

Perfect world:

1. There would be

[2015-10-06 19:06] JohnGalt1717 commented on #3346
Oh, and integration with Identity Framework so that Users can be distributed across shards automatically and in a perfect world, oauth refresh tokens distributed across shards as well.

[2015-10-06 19:15] angelsix commented on #3345
Thanks. Looks like I'll have to switch to postgres. Is that the only EF database linux option? (in case I find issues with postgres)

[2015-10-06 19:46] natemcmaster commented on #3345
At the moment, yes postgres is it. (Other than SQLite, which is really only meant for embedded/mobile devices.)

[2015-10-06 19:47] rowanmiller commented on #3345
SQLite is also good for local dev work if you just want to get up and running without needing to spin up Postgres (you can think of it as somewhat akin to LocalDB). We are working with other provider writers to have EF7 providers for the other common database choices on Linux.

[2015-10-06 19:53] angelsix commented on #3345
I dont mind putting the work in (currently have Postgres installed a user created and a database manually created via psql) so I'll work with PostgeSQL as its the only option.

I like to have alternative options though in case of issues. Don't suppose you guys plan on porting SQL Server to Linux natively? :)

[2015-10-06 20:00] natemcmaster commented on #3345
No plans that I'm aware of.

However, we are hard at work getting SQL Client working well on Linux on .NET Core (not Mono). A [recent change](https://github.com/dotnet/corefx/pull/3567) in CoreFX (the .NET Core implementation of System.Data.SqlClient) makes huge steps towards better Linux support. It should be reflected in our product fairly soon.

But of course, this means you still need a Window

[2015-10-06 20:01] smitpatel commented on #3341
@topguss - I tried running above code with beta7, everything is working fine for me.
By looking at exception message for case 1, following could have happened
- DatabaseGeneratedAttribute worked correctly and made column PersonId identity for table Person
- The relationship between Person and PersonPhoto got configured in a way that made Person as dependent side and PersonId became the foreign key

[2015-10-06 20:04] angelsix commented on #3345
Ok good to know. It would be nice to have a good SQL client as my main machine is now a Linux box and SQL clients really suck for linux.

Looks like I'll work hard at PostgreSQL and hope it works with EF7!

[2015-10-06 20:14] divega opened #3351 "Perf coverage for FromSql()"
We should add microbenchmarks for FromSql(). A few aspects that come to mind that might be important to understand:

- Comparison with SqlQuery() in EF6
- Simple `FromSql()` queries vs. `FromSql()` plus LINQ composition
- Composable (i.e. `SELECT`) vs. non-composable queries
- Caching (see #2315 as an issue that can possibly affect it)

[2015-10-06 20:17] #3270 closed

[2015-10-06 20:31] chriskinsella opened #3352 "revEng does not support Pure Join Tables (PJTs)"
EF 7.0.0-beta7 revEng does not seem to support Pure Join Tables (PFJs).

EF6 does reverse engineer PJTs.  In doing so EF6 does not include the entity class of the PJT itself, instead placing collections directly in each of the entities joined by the PJT. ref https://msdn.microsoft.com/en-us/library/vstudio/dd742359(v=vs.100).aspx

My PJTs have only two foreign keys and a UNIQUE CLUSTERED constrain

[2015-10-06 20:39] lajones commented on #3352
Many-to-many without the intermediate join table is not supported by the first stable release of EF7. We do allow many-to-many but only if you include the intermediate table as an entity - and that adds the requirement that it have a primary key. We are tracking this with #1368. So closing this as a dupe.

[2015-10-06 20:42] lajones commented on #1368
Note: see also #3352 where the user has a requirement to support a join table which defines the  combination of the 2 foreign keys as unique, but does not provide a primary key - which makes defining an entity type for it impossible.

[2015-10-06 20:51] JohnGalt1717 opened #3353 "The EntityFramework package is not installed on project -Both Installed"
I have a project that uses dnx46 only. It has both EntityFramework.Commands and EntityFramework.SqlServer added and working and a data context (IdentityDbContext)

When I try and run Enable-Migrations or Add-Migration I get the above error.

[2015-10-06 21:36] angelsix commented on #3345
All done and working (at least the initial EF migration) with PostgreSQL.

For anyone wanting to use it basic steps are:

1. Install PostgreSQL (http://www.postgresql.org/download/linux/)
2. Create a username and pass you would like to use in EF. Via terminal type:
sudo -u postgres psql
psql#> create user <desiredusername> createdb createuser password ‘<desiredPassword>’;
psql#> \q

3. In your pro

[2015-10-06 22:22] bricelam commented on #3353
Per #978, the NuGet Commands don't work on DNX projects. Please use the [DNX Commands](http://www.bricelam.net/2014/09/14/migrations-on-k.html) instead.

[2015-10-06 23:20] anpete commented on #3219
Done for runtime.

[2015-10-06 23:20] #3219 closed

[2015-10-06 23:20] anpete commented on #2490
Done for runtime.

[2015-10-06 23:20] #2490 closed

[2015-10-06 23:41] fujiy commented on #2192
Disappointed for not being listed as a contributor in Rx.NET ;)

[2015-10-06 23:46] Kagamine commented on #1698
+1 for IndexAttribute

[2015-10-06 23:48] Kagamine commented on #2980
+1 for lazy load

[2015-10-06 23:53] bartdesmet commented on #2192
Sorry about that; we're still getting our process for PRs smoothened out over here. When you're visiting the mother ship, I'll pay you a coffee to compensate :-).

[2015-10-07 00:03] hankbeasley opened #3359 "Name related entity collection with "I" at the beginning does not produce the correct model."
In the project I am working in, if I name a related property collecting start with "I" I do not get the proper relatedship created in the model therefore queries do not work.

For example:

[code]

Produces proper relationship in the model stapshot:

[code]

If I just remove the A

[code]

The b.Reference disappears from the model snapshot. Seems like it is just the "I" causing the issue.

[code]

[2015-10-07 00:03] fujiy commented on #2192
Deal :+1:

[2015-10-07 01:15] hankbeasley commented on #3359
I found the issue. There was a relationship problem in a property that started before "I". I think the model builder should have failed though. I didn't know there was a problem.

[2015-10-07 03:47] waterfallbay commented on #3273
@natemcmaster TestSqlLoggerFactory works now after changing the symbol to NETFX_CORE. Thanks. But the logger still does not work, it show errors on
[code]
stating that it does not contain a definition for "ServiceCollection", please help.
![2015-10-07_11-42-49](https://cloud.githubusercontent.com/assets/13427419/10328575/283124ea-6ce9-11e5-85c4-fb2a3b8f8e80.png)

[2015-10-07 05:49] #3207 closed

[2015-10-07 06:08] Tasteful opened #3360 "migrations options "-startupProject" is removed"
In beta7 it was possible to specify an separate startup project for the application when running the `dnx ef migrations add Init -startupProject MyStartupProject`.

Today I tested with beta8-15922 and the `-startupProject` was not there any more. (Removed here: https://github.com/aspnet/EntityFramework/commit/448170f732116607bf4a464e627988f0874317dd#diff-b8c39a3f7fffa559788354a8e675e20eL186)

How

[2015-10-07 06:48] natemcmaster commented on #3273
@waterfallbay Ah yes. We added `.ServiceCollection()` as a helper to our testing class. This has the exact same effect.

[code]

[2015-10-07 07:52] Aristarh71 commented on #926
VisitSelect in DefaultQuerySqlGenerator contains some private method calls and classes and too large.
VisitJoin method is private (is it possible to make it protected?).
Private class NullComparisonTransformingVisitor is used too.
Field _parameterValues is inaccessible (private).

[2015-10-07 10:34] AlekseyMartynov opened #3361 "Type conversion error with a DateTime constant in a dynamic Where expression (rc1)"
Sample project: https://github.com/AlekseyMartynov/ef7-bugs/tree/date-const-bug

I generate a dynamic Where condition with a `DateTime` constant ([code](https://github.com/AlekseyMartynov/ef7-bugs/blob/date-const-bug/EF7Bugs/Submission1.cs))

And get a type conversion error ("Conversion failed when converting date and/or time from character string.") and the following generated SQL:

    SELECT CO

[2015-10-07 11:47] csunali commented on #3208
Could that possible relate to https://github.com/AutoMapper/AutoMapper/issues/902 as well?

There seems to be an exception whenever there is a "Select" statement as `HasChildren = item.Children.Count > 0` and the Children are bound to the parent entity using a `long?` field:

[code]

The entities are as follows:

[code]

And a simple code that breaks is:

[code]

Please consider the fact that if I

[2015-10-07 12:03] leus commented on #3071
Had to use `git blame` when upgrading to find out what `Reference` and `InverseCollection` were now. Is there a "breaking changes" list or wiki page somewhere?

[2015-10-07 12:18] ErikEJ commented on #3071
@leus There are many "breaking" changes all the time, as this is beta software in motion...

[2015-10-07 12:18] joshmouch opened #3362 "ModelBuilder API: Please don't remove database-agnostic API"
So I'm in the process of migration a large EF6 code first database project to an EF7 one and I have to admit that I'm a bit taken aback.  One of the primary goals of code first was to be database-agnostic.  Theoretically, you could simply change the database server in use and it would "just work".  That is no longer true.  When switching to EF7, for about 90% of my entity properties, I now need to

[2015-10-07 13:12] SonOfSam commented on #1035
+1

[2015-10-07 13:31] joshmouch commented on #3362
Sorry that the previous comment is a bit wordy.  I just want to make sure that you keep the database-agnostic goal of code-first.

[2015-10-07 13:43] JohnGalt1717 commented on #3353
Ok, well the documentation still references nuget, and the dnx commands above say "change directory into the project file" but I'm at a loss as to how you get to a command prompt that has the dnx commands because it doesn't tell you that and just going into either a developer command prompt or straight up and typing dnu or dnx results in command not found. (I'm using Vs.net)

[2015-10-07 14:35] leus commented on #3071
@ErikEJ of course, that's not the point - I love living on the edge, but sometimes it's a little too difficult to find out these kind of changes. It's not important, just a nice-to-have.

[2015-10-07 15:48] bricelam commented on #3353
This will put `dnu` and `dnx` on the PATH:
[code]
We agree it's much harder to use than the NuGet Commands; we're [working with the NuGet](https://github.com/NuGet/Home/issues/1174) and Web Tooling team to enable the Package Manager Console on ASP.NET 5 projects.

[2015-10-07 16:25] JohnGalt1717 commented on #3353
dnvm use default said I need to install default: dnvm install default.

I did that and got a Bad Request response. Don't mind the command prompt stuff, always thought using package manager was a little odd.

The issue is that it says "command prompt" but doesn't elaborate and that doesn't work by default and there is no instructions on how to make it work and it doesn't work properly in the comman

[2015-10-07 16:55] ajcvickers opened #3363 "Query test sometimes fails"
Probably a test ordering issue.

[code]

[2015-10-07 17:02] anpete commented on #3363
@rowanmiller hit this yesterday. We thought it may happen the first time the database is created.

[2015-10-07 17:04] ajcvickers commented on #3363
Been happening frequently for me since yesterday and I haven't deleted any databases.

[2015-10-07 17:13] roji commented on #3345
@angelsix am the main Npgsql dev, happy to see things work for you. Please note that the provider is still not production-ready although most thing should work fine. Please report any issues you run across to https://github.com/npgsql/npgsql

[2015-10-07 17:19] lajones commented on #2751
Updated the command-line syntax as agreed in the design meeting https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes-(October-1,-2015)#table-selection-in-reverse-engineering with PR #3356.

[2015-10-07 17:19] #2751 closed

[2015-10-07 17:20] lajones commented on #3227
Fixed with PR #3356, commit 1c2916b.

[2015-10-07 17:20] #3227 closed

[2015-10-07 17:23] ajcvickers commented on #333
Basic support for RTM done. Reverse engineering tracked by a separate bug.

[2015-10-07 17:23] #333 closed

[2015-10-07 17:31] anpete opened #3365 "Tests: InheritanceRelationshipsQuery are not enabled for SQLite"
But relational FT base classes exist.

[2015-10-07 17:32] bricelam commented on #3353
Yes, DNX can be hard to grok at times. :frowning: Here is their [getting started page](https://github.com/aspnet/Home). I encourage you to file bugs there and on the [dnx](https://github.com/aspnet/dnx), [dnvm](https://github.com/aspnet/dnvm), and [Tooling](https://github.com/aspnet/Tooling) repos about some of the usability issues you're encountering.

[2015-10-07 17:40] bricelam commented on #3122
Closing since I think the the work for this is already tracked by #1911.

[2015-10-07 17:43] bricelam commented on #2906
Closing. We discussed as a team and decided that this should either be a DNX feature or left up to the users--there's nothing for the EF team to do here.

[2015-10-07 17:46] JohnGalt1717 commented on #3353
Ok, now I at least have it working to the point where I can call dnx.  in EF 6 you just set it to your project with the dbcontext and ran it and it would automatically find the startup project (My entities are in a separate project where they belong so it isn't the hello world case).  It doesn't do this and says it can't find startup. When I pass the -s and the name of the start up project it says

[2015-10-07 18:00] maumar opened #3366 "Query :: make DefaultSqlQueryGenerator more extensible"
If one wants to tweak sql generation by overriding DefaultSqlQueryGenerator, they cant use a lot of building blocks since they are private. We should consider opening them up.
- VisitJoin method is private
- NullComparisonTransformingVisitor class is private
- _parameterValues field is private.

[2015-10-07 18:00] maumar commented on #926
I opened issue to track this https://github.com/aspnet/EntityFramework/issues/3366

[2015-10-07 18:16] bricelam commented on #3353
`--startupProject` was very broken, as you've found. It's been removed in Beta 8 and we'll bring it back with #2679 when we can make it work. The main issue was that DNX can't load assemblies that aren't listed in you dependencies, but you can't list you startup project as a dependency because it needs to depend on the DbContext and that would cause a circular dependency.

I promise I'll do my bes

[2015-10-07 18:20] anpete opened #3368 "Tests: Dead code in ChangeTrackingTestBase"
Lots of dead locals. Review whether they can be removed.

[2015-10-07 18:28] #3124 closed

[2015-10-07 18:28] #3243 closed

[2015-10-07 19:07] JohnGalt1717 commented on #3353
Ok, so no way of making this work as it stands now in Beta 7 (or in beta 8 from what I can tell?)

[2015-10-07 19:59] lajones commented on #3296
Fixed by PR #3356

[2015-10-07 19:59] #3296 closed

[2015-10-07 21:11] lajones commented on #3248
Fixed with PR #3350

[2015-10-07 21:11] #3248 closed

[2015-10-07 21:12] lajones commented on #3249
Fixed with PR #3350

[2015-10-07 21:12] #3249 closed

[2015-10-07 21:23] bricelam commented on #3360
It was mostly broken. It will be re-enabled with #2679

[2015-10-07 21:43] #3336 closed

[2015-10-07 21:48] jparish9 opened #3370 "Large performance difference with EF6 join vs EF7 include"
Windows 10, VS 2015, IIS Express, SQL Server Express 2014, EF 7.0.0-beta7, ASP.NET 6.0.0-beta7

I am seeing a large performance difference for a simple join in EF7 beta7 vs EF6.  Using these models:

[code]

[code]

Join code for EF6:

[code]

Which generates SQL:

[code]

vs. EF7 join code:

[code]

Which generates SQL:

[code]

Both have similar execution plans, and with test data of 100 blogs a

[2015-10-07 22:24] anpete commented on #3370
@jparish9 Thanks for the detailed report.

Can you please try adding AsNoTracking() - That might tell us more about where the problem lies.

[2015-10-07 22:42] davezych commented on #3029
@divega @rowanmiller I tested this most of the day and I'm still getting the `The EF.Property<T> method may only be used within LINQ queries` error. I'm using the latest rc1 bits (`rc1-15886`). It seems like the existence of data causes it to break - if the tables are empty it runs without error. This may also be relevant to #3119.

I created a sample application showing the error here: https://gi

[2015-10-07 23:14] divega commented on #3029
@davezych Thanks for all the details and repro code! This is really helpful. @maumar will be investigating this. He may be able provide and ETA for when he will get to it.

[2015-10-07 23:48] smitpatel opened #3374 "Be consistent about namespaces"
`ModelSource` is in MDE.Infrastructure
`SqlServerModelSource` is in MDE.Internal
`SqliteModelSource` is in MDE.Infrastructure.Internal

[2015-10-08 00:46] ajcvickers commented on #1581
Sentinels going away, so this is not needed.

[2015-10-08 00:46] #1581 closed

[2015-10-08 01:05] staff0rd commented on #2336
@cherrydev are you able to share your migration solution?

I have [EF6 working in Identity 3 here](https://github.com/staff0rd/Identity/tree/dev/src/Microsoft.AspNet.Identity.EntityFramework6) but I need my DataContext library that references this to be an xproj - due to Identity 3 targeting DNX only.

Unfortunately when I convert my library to xproj, I lose migrations.

[2015-10-08 02:57] staff0rd commented on #2336
Seems like [this](http://stackoverflow.com/a/20382226/469777) was the piece of the puzzle I was missing.

[2015-10-08 06:11] waterfallbay opened #3376 "Support self-referencing overlapping FK/PK (since generated value does not need to be propagated)"
I have a ModifierGroupHeader which has a foreign key
.ForeignKey(x => new { x.LinkedGroupHeaderId, x.AccountId, });
pointing to itself with self reference.

An exception of type 'System.InvalidOperationException' occurred in EntityFramework.Core.dll but was not handled in user code

Additional information: A circular dependency was detected: 'ModifierGroupHeader' {'LinkedGroupHeaderId', 'AccountId

[2015-10-08 06:34] Artur2 commented on #3342
@bricelam , @rowanmiller  ?

[2015-10-08 07:07] divega commented on #3342
We currently don't support this, but it is one of the capabilities for flexible object mapping (#240) we will consider adding in the future.

[2015-10-08 07:09] Artur2 commented on #3342
@divega thank you for answer =)

[2015-10-08 10:05] TomGillen opened #3377 "IndexOutOfRange thrown from In-Memory with polymorphic types"
I am running an in-memory database within a DNX project (beta7), with a DbSet of an abtract type with two concrete classes.

Attempts to query the set throws an IndexOutOfRangeException. In addition, inspecting the DbSet in the debugger will work *once*, and then fail all subsequent attempts to expand the collection. This is also true if there are multiple DbSets with polymorphic types; expanding

[2015-10-08 11:50] prochnowc opened #3378 "Where() throws ArgumentNullException when applied after Skip()"
Hi,

in beta7, when building a query which applies Where() after Skip() the following exception will be thrown:

Stacktrace:

`System.ArgumentNullException
Value cannot be null.
Parameter name: provider
at Microsoft.Data.Entity.Utilities.Check.NotNull<T>(T value, String parameterName)
at Microsoft.Data.Entity.Query.EntityQueryable<TResult>..ctor(IEntityQueryProvider provider)
at Microsoft.Data.Ent

[2015-10-08 14:37] jparish9 commented on #3370
@anpete That seems to be the culprit.

[code]

shows similar performance to EF6.

[2015-10-08 15:05] lajones commented on #3229
Fixed with commit 1f3f1eb.

[2015-10-08 15:05] #3229 closed

[2015-10-08 15:56] ilmax commented on #242
Does this allow me to map a custom type to whatever filed in the storage? e.g. create a custom type for entity.Id (which only wraps an int) instead of using int or map enum to char?

[2015-10-08 19:11] smitpatel commented on #3374
Also namespaces for SQLite Tests are all different.

[2015-10-08 20:55] rowanmiller opened #3380 "Exploratory testing: Always Encrypted end-to-end"
(edited to cover the full end-to-end support for always encrypted)

This issue covers:

- Make sure EF Core and our SQL Server provider work well with the always encrypted feature.

- Add APIs to migrations (and potentially higher in the stack) to make it easier for folks to enable Always Encrypted on a schema that EF is managing.

[2015-10-08 21:19] Venomed commented on #3180
@maumar Sorry about the late reply. I'm not sure of the version that my Data library was running off, but it was either beta6 or 8 (i had upgraded but I just noticed that one of the projects had beta6 installed). I just upgraded EntityFramework.Core / EntityFramework.Commands to RC1-15945 and EntityFramework.SqlServer to RC1-15886 to see if the problem can be reproduced and I'm getting a strange "

[2015-10-08 21:49] #2813 closed

[2015-10-08 22:00] anpete opened #3382 "Logging: Move sensitive data logging to core"

[2015-10-08 22:28] anpete opened #3383 "Review scoped service scoping"
Some services that are currently scoped might not have to be. E.g. QueryCompiler. I suspect the current scoping is due to the viral nature of scoped services in dependency chains. Can we do some simple refactoring to reduce the number of scoped services?

[2015-10-08 22:28] bricelam commented on #732
`AddDbContext<TContext>()` registers an instance of `IDbContextFactory<TContext>` under `IDbContextFactory` and the `TContext`.

Commands take advantage of this by...
1. Asking for `IEnumerable<IDbContextFactory>`
2. Looking at the `TContext` generic argument
3. Asking for `TContext`

[2015-10-08 22:34] maumar commented on #3180
We recently renamed SQL provider from SqlServer to MucrosoftSqlServer, and what you see might be an artifact of that. Try deleting your packages cache.

[2015-10-08 22:50] maumar opened #3384 "Query :: consider Api for include that would allow multiple ThenIncludes chained from a parent Include"
When using Include/ThenInclude we always have to start from the root, e.q.

[code]

This is not ideal for more complex queries with multiple includes/then includes

@emrs-jm  suggested something like this:

[code]

We should consider it, or something similar

[2015-10-08 22:51] maumar commented on #3180
@emrs-jm sorry for missing your comment, feel free to send me info to maumar(AT)m1cr0$0Ft(DOT)c0m (let me know when you get the address so I can take it down from here). I also files a new issue with your suggestion about the include: https://github.com/aspnet/EntityFramework/issues/3384

[2015-10-08 22:51] maumar commented on #3180
@emrs-jm I filed a new issue with your suggestion about the include: https://github.com/aspnet/EntityFramework/issues/3384

[2015-10-09 03:56] waterfallbay commented on #3273
@natemcmaster i have implemented what you have suggested and run successfully. However, would you please advise where would TestSqlLoggerFactory.Sql file saved? Since i can't locate it.
Thanks.

[2015-10-09 07:53] natemcmaster commented on #3273
To clarify, it does not save a file. The awl can be inspected in memory. Run your app in debug mode. When you hit your error, inspect the static field TestSqlLogger.Sql in your IDE.

[2015-10-09 08:28] topguss commented on #3341
Hi again,

This example we were from our commercial project. And it represent simplified use case.

Now, we make test solution and find out that problem occurs when we have two dependent classes (as is in commercial project) PersonPhoto and PersonData.

As you said, everything is working fine with one dependent class.

Here is additional dependent class:

    public class PersonData
    {

[2015-10-09 09:46] Boglen opened #3388 "Migrations: Wrong migration generates when DbContext implementation is generic"
Subject.
If I try dnx . ef migrations add with generic context implementation, model snapshot generate wrong attribute
[DbContext(typeof(SiteContext`17))]

[2015-10-09 10:53] mnikonov opened #3389 "Include of entity and quering to it property generates excessive number of INNER JOINs"
Next query

var news = context.News.Include(p => p.Feed).Where(p => p.Feed.ShowOnMainPage).AsNoTracking().ToList();

Generate the following SQL statements.

SELECT "p"."Id", "p"."DateAdded", "p"."Description", "p"."FeedId", "p"."FullText", "p"."Guid", "p"."IsFavourite", "p"."IsRead", "p"."Link", "p"."PubDate", "p"."Title", "f"."Id", "f"."Description", "f"."Encoding", "f"."FeedUrl", "f"."IncludeIma

[2015-10-09 11:08] csunali commented on #3208
@mikary Could you possibly provide some info if my last comment is related to this issue? If not, I will create a new issue but don't want to create a replicate if it relates to this one.

[2015-10-09 13:36] Tasteful opened #3390 "Columns with HasMaxLength is not respected when SQL is generated"
When trying to add record to database that contains field that has HasMaxLength attributes will throw exceptions.

[code]

The generated SQL command is the following where we can see that the first 3 parameters (p2-p4) not respect the `HasMaxLength` attribute.

[code]

Model

[code]

And mapping in the DbContext

[code]

The script that was generated to create the table will respect the length lim

[2015-10-09 14:13] satyajit-behera commented on #2266
Thanks @rowanmiller for putting this again as a backlog item. I hope, this will get a place in the final release.

[2015-10-09 15:43] Venomed commented on #3180
@maumar Thanks for the tip. Took me a few nuget removes & readds but it finally worked out (i had many nuget left overs from previous installs that were being referenced and it was just generally a mess).

Unfortunately RC1-15945 offers me exact same error.

Stacktrace at innermost exception (actual SqlException) is:

[code]

[code]

[2015-10-09 15:48] emrs-jm commented on #3180
I got the address so you can remove the other comment.  I'll send the failing code as soon as I can come up for air.  You should have received an email from me a moment ago.  I do have a work around that works, but I'm not sure if the query ends up as efficient as batching it all in one go would.

[2015-10-09 15:59] jrote1 opened #3391 "Maximum InMemory size"
Is there a max size for the InMemory data store or is it only constrained by memory? Also how efficient is it for querying data or should a use SQLServer or something? Reason I ask this is I have a large amount of data but does not matter if it is lost.

Thanks

[2015-10-09 16:19] mikary commented on #3208
@csunali It looks like you are running into a different issue from the one I described. In the reproduction for this issue the query executes without throwing, but the wrong SQL is generated and no results are returned. I would suggest opening a new issue.

[2015-10-09 16:29] csunali commented on #3208
I will do that asap. Thank you for your response!

[2015-10-09 17:15] anpete commented on #3391
It is pretty primitive right now. Constrained by memory and querying is basically linq to objects.

[2015-10-09 17:29] #3247 closed

[2015-10-09 17:30] maumar commented on #3180
@emrs-jm got the email, thanks. Take your time, I'm swamped with work myself

[2015-10-09 17:33] divega commented on #1238
Another thing to consider: I think it would be nice to have overloads that implement conventions such as inferring the database name from the context type. This is kind of blocked right now because there doesn't seem to be any way to access the context, context type or context type name from the `DbContextOptionsBuilder`. E.g. I tried the following code:

[code]
But `optionsGenericArguments[0].Ful

[2015-10-09 17:41] maumar commented on #3180
@Venomed are you using ASP.NET5 or regular .net?

this is the code I came up with, based on your repro. Could you check if it works for you as well? Are there any significant differences between the one you have on your end? Alternatively, could you send me a complete repro project that fails for you, so I can do the investigation (rather than off-loading the diffing and whatnot to you)

[code]

[2015-10-09 17:48] divega commented on #3208
A note on the original issue: this seems to only repro when using the Equals() method (inherited from object through `Nullable<T>`) and not for the equality operator. In fact it seems that Equals() right now has relational equality semantics :smile:

[2015-10-09 18:39] rowanmiller commented on #3382
Also need to have a corresponding change in the ASP.NET templates

[2015-10-09 18:46] rowanmiller commented on #3374
**Triage:** ` SqlServerModelSource` should move to `MDE.Infrastructure.Internal`

[2015-10-09 18:47] rowanmiller commented on #3374
@smitpatel feel free to just do this if you want (even though it is in the RTM milestone)

[2015-10-09 19:02] rowanmiller commented on #3361
Notes: this is because the column in the database is `datetime`. You should include login in `OnModelCreating` to setup the correct datatype for this column (since the default type for `DateTime` is `datetime2`)... but we're also not sure that EF will do the correct thing even if you do this.

To work with `datetime` we could generate `WHERE [i].[Date] = '1998-05-06 00:00:00.000'`. Alternatively t

[2015-10-09 19:03] rowanmiller commented on #3361
BTW if you split the date time value out into a variable rather than inline in the LINQ query it should work because it will get parameterized.

[2015-10-09 19:04] rowanmiller commented on #3353
@bricelam to reply with a workaround

[2015-10-09 20:16] rowanmiller commented on #3342
This work is covered by https://github.com/aspnet/EntityFramework/issues/240

[2015-10-09 20:17] divega commented on #3361
Just a note on the alternate approach

[code]

I am not sure what type semantic rules SQL Server would apply in this case. If it upcasts `[i].[Date]` implicitly to `datetime2` the resulting query will likely not be sargable. We should check what the case is and take that into account when resolving this issue. A lossy conversion usually works.

[2015-10-09 20:31] rowanmiller commented on #3310
@NTaylorMullen It looks like the connection string in the app is still pointing to LocalDb (which is installed with Visual Studio, so you probably don't have it on the machine you are deploying to... definitely not on the Linux machine :smile:).

Here is the exception that confirms it is trying to connect to LocalDb

pecific error occurred while establishing a connection to SQL Server. The server

[2015-10-09 20:36] rowanmiller commented on #3390
This is by-design, `Culture` is setup with a max length of `10` (`nvarchar(10)`) but you are trying to insert the value `4dbc58b1-0b93-4054-943f-654e07995d2c` (which would result in truncation). EF doesn't do any validation of this, since it would just be duplicating the check that is also going to be performed by the database.

BTW you may notice that EF is generating parameters with a `nvarchar(

[2015-10-09 20:46] rowanmiller commented on #3378
@prochnowc can you include a code listing that we can use to reproduce this issue? In particular we are after the LINQ query you are running and the model.

[2015-10-09 20:46] rowanmiller commented on #3376
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2015-10-09 20:49] rowanmiller commented on #3370
@jparish9 we are already tracking this slow down as part of https://github.com/aspnet/EntityFramework/issues/3308. The benchmark that covers this scenario is https://github.com/aspnet/EntityFramework/blob/dev/test/EntityFramework.Microbenchmarks/Query/SimpleQueryTests.cs#L182 and we are seeing a similar slowdown to the numbers you have posted here.

[2015-10-09 20:50] lajones opened #3394 "RevEng: Split Relationship Fluent API Line in OnModelCreating()"
Currently for RevEng in `OnModelCreating()` we generate the fluent API configuring a relationship all on one line e.g.:

[code]

This can get pretty long. Consider doing the following instead:

[code]

[2015-10-09 21:34] Tasteful commented on #3390
In my test the `Culture` was set to `null` and because of that `Culture` is part of the composite primary key the value for `Culture` was generated by EF. I'd did not see that when I inspected the SQL. Maybe it should be better to not generate values on the composite primary keys, in that case will the error message be more clear and says that `Culture` not can be `null`.

[2015-10-09 22:12] rowanmiller opened #3396 "Collection navigation properties without setter not detected (they were in EF6)"
Not having a setter on a collection navigation is not uncommon if you always initialize it in your domain class. In the following model `Customer.Orders` is not detected as a navigation (it would be in EF6)

[code]

You can see that it is not part of the model by trying to use it in an Include.

[code]

	System.InvalidOperationException: The expression '[c].Orders' passed to the Include operator c