[2018-03-05 17:30] Eilon commented on #11142
@roji oh you were doing great, just with a different set of objectives 😄

[2018-03-05 17:49] roji commented on #11142
Those are kind words @Eilon but I'm just gonna be depressed in the corner now, thanks.

[2018-03-05 17:49] jjxtra commented on #4150
Is this going to happen anytime soon? Using EfCore.Shaman to workaround this issue and others at the moment...

[2018-03-05 17:52] boxofnotgoodery commented on #11074
Got hit with this also.
Going to see where the problem lies in my setup, but any update from the team would be great.

[2018-03-05 17:58] ajcvickers commented on #11060
@mburakerbay Did you remove the HasKey call that was defining MemberId and BookId as the key? You might want to read through some of the model building docs: https://docs.microsoft.com/en-us/ef/core/modeling/

[2018-03-05 18:25] ajcvickers commented on #9249
@msangtarash It is not intended that the value for MaxGenericTypes be changed. Setting it to pathologically low numbers also largely defeats the purpose of the design. Also, there are likely other places that will fail for similar reasons if the underlying bug is not fixed, so I think there needs to be a very strong case to change this as oppose to getting the underlying bug fixed.

[2018-03-05 18:33] ajcvickers commented on #11149
@dpedrelli What you describe seems to be working as designed. That is, when performing a normal tracking query, all relationships between entities in the query are "fixed up"--i.e. the navigation properties are set/populated with entities based on the FK values in the loaded entities. This happens regardless of whether or not Include is used explicitly on those relationships. This is a service pro

[2018-03-05 18:56] #10641 closed

[2018-03-05 19:05] mj1856 opened #11155 "Migration is missing namespace import when using a ValueConverter"
Trying out `ValueConverter` on a new application.  Found that when creating the initial migration using `Add-Migration`, that the files generated would not compile because they include `ValueConverter` but are missing the namespace import `using Microsoft.EntityFrameworkCore.Storage.Converters;`

Adding the namespace import manually works around the problem.

[2018-03-05 19:15] ajcvickers commented on #11142
Blocked on lack of glue.

[2018-03-05 19:26] ajcvickers commented on #11144
Assigning to @bricelam to move DbFunctionAttribute with forwarding in a non-breaking way.

[2018-03-05 19:29] Eilon commented on #11142
I found that regular super glue works, but is not very effective. It is too "thin," and doesn't adhere well to the shiny surface of the cans.

Some sort of thicker cement would be ideal. We'd need to run some structural tests on glued sections to figure out what works best.

[2018-03-05 19:55] roji commented on #11142
Label area-tools? Definitely avoid up-for-grabs, or at least add a providers-beware in case any are standing around...

[2018-03-05 20:32] ajcvickers commented on #11142
Before (only picture we have is after some damage):
![before1](https://user-images.githubusercontent.com/1430078/36998199-f8b0e2a8-2070-11e8-9a5d-f2c6e7d77b84.jpg)
Crash dump:
![crash](https://user-images.githubusercontent.com/1430078/36998198-f89c1f9e-2070-11e8-9b70-f67144bbdfd2.jpg)
After re-build:
![after2](https://user-images.githubusercontent.com/1430078/36998200-f8c57c7c-2070-11e8-9e2f-d577b

[2018-03-05 20:33] ajcvickers commented on #11142
Initial observations from analysis of re-build:
* It's not in the middle of the room
* It's not straight
* There facing discrepancies for some of the cans.

[2018-03-05 20:52] ajcvickers commented on #11147
@roji @ErikEJ We discussed this in triage and we're not going to make any change to the providers we own primarily because it creates an additional coupling for reserved names, etc., but for your providers we're happy to do what you want. Please be sure that this is safe with regard to any kind of SQL injection attack--should be if it is limited to identifiers, but just saying...

[2018-03-05 20:52] mattjohnsonpint opened #11156 "Custom ValueConverter doesn't get translated to SQL"
I'm trying out the new `ValueConverter` type in the 2.1 preview.  I plan to use this to author a library to support using [NodaTime](https://nodatime.org) types in EF Core.  I'm starting this experiment by trying to store a `NodaTime.Instant` type as a UTC-based `DateTime` into a SQL Server `datetime2` field.

My Model:
[code]

I then create the migration script, init the database, add some values

[2018-03-05 20:55] mj1856 commented on #11156
Also, I see in [the docs](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions)

However, I do not see any such warnings.

[2018-03-05 20:59] ajcvickers commented on #11150
@MCFHTAGENTS [The documentation](https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance) shows how the discriminator can be mapped to a CLR property and how it can be configured for things like max-length. Also, if you want to leave it as a shadow property, then it can be [accessed in queries using the EF.Property method](https://docs.microsoft.com/en-us/ef/core/modeling/shadow-p

[2018-03-05 21:06] smitpatel opened #11157 "Query: Incorrect warning about group by client eval"
Repro code:
[code]
[code]

[2018-03-05 21:06] ajcvickers commented on #11151
@naster01 The relationship posted above between Category and CategoryTranslation is a one-to-one relationship:
[code]
It's one-to-one because there is a reference from Category to CategoryTranslation and also a reference in the reverse direction from CategoryTranslation to Category. This means only one Category can be associated with a CategoryTranslation and only one CategoryTranslation can be as

[2018-03-05 21:07] smitpatel commented on #2341
@simeyla - Thanks for info. I have filed #11157 to track the issue and fix it.

[2018-03-05 21:10] ajcvickers commented on #11153
This is a duplicate of #9038, which is already fixed and released in the 2.0.1 patch of EF Core (released as part of the 2.0.3 all-up ASP.NET Core patch release.)

[2018-03-05 21:11] ajcvickers commented on #11056
@ErikEJ We can certainly discuss this week, but regardless we would be interested in getting a PR for the changes you would like--it's certainly something we would consider.

[2018-03-05 21:11] pmiddleton commented on #11142
The EF team definitely needs a tack welder in the office.

[2018-03-05 21:15] naster01 commented on #11151
You are absolutely right, I'm clearly new to EF, thx!

[2018-03-05 21:21] smitpatel commented on #11128
[code]

The stacktrace suggests that something went with NuGet. That too while loading some index rather than downloading/installing any particular package. Hence we suggested to file issue on NuGet. Those folks would have better understanding at the cause of error in their code.

[2018-03-05 21:28] ajcvickers commented on #11156
@mj1856 Yes, this is a limitation of value converters that we are tracking with #10434. We are going to add the warning before 2.1 RTM, but it hasn't been done yet. We hope to add a mechanism to allow translation in a later release.

We had discussed here the idea of using this to support NodaTime. Very interested to see how it goes and hear any feedback you have. /cc @divega @roji

[2018-03-05 21:29] Eilon commented on #11142
Tack welding aluminum is not trivial, apparently. But if we put our minds to it... we can definitely start a huge fire! 😄

[2018-03-05 21:36] roji commented on #11142
You broke it and built it again from scratch? You guys need to add "core" to it then... Only a few more cans...!

[2018-03-05 22:09] spouliot commented on #10963
@cwrea

Nope, at least not by default. You can enable REPL (optional) but otherwise the `mscorlib.dll` shipped with XI does not have support for SRE, including none of the types so you'll fail at build time.

To be honest the number of limitations are shrunk significally over the years and very few people hit them anymore. You're much more likely to hit sim/device differences - e.g. related to the

[2018-03-05 22:14] #11135 closed

[2018-03-05 23:06] ajcvickers commented on #9467
@benrhere Ideally, EF can find and use your DbContext as it is used in your application. For web apps, that usually means using the BuildWebHost pattern as described in the link above. In that situation, the same configuration will be used in both cases, and there should be no need to use the design-time factory. In other words, doing something like specifying the MigrationsAssembly does not mean

[2018-03-05 23:08] ajcvickers commented on #4150
@jjxtra This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-03-05 23:23] benrhere commented on #9467
Hi @ajcvickers ,

Can you confirm if you're referring to this link:

And if so, can you give me a bit more detail about how to implement the BuildWebHost pattern in a scenario where I'm in a class library without a main entry point? Where should that code live? Also, I presume this is similar to the code you're suggesting I implement a second time:

public static IWebHost BuildWebHost(string[] arg

[2018-03-05 23:28] anpete opened #11160 "Consider using Humanizer"
Roslyn has taken a dependency on this lib for pluralization: http://humanizr.net

“Humanizer meets all your .NET needs for manipulating and displaying strings, enums, dates, times, timespans, numbers and quantities.”

Features

• Humanize String
• Dehumanize String
• Transform String
• Truncate String
• Format String
• Humanize Enums
• Dehumanize Enums
• Humanize DateTime
• Humanize TimeSpan
• Hum

[2018-03-05 23:39] #9275 closed

[2018-03-05 23:44] ajcvickers commented on #9467
@benhere That is the link that I meant. But if you are purely making a class library, then BuildWebHost is probably not the right choice. The docs for design-time DbContext may help: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation

Note also that if your class library targets .NET Standard, then consider targeting .NETCoreApp instead. Othereise, you'll likely need to

[2018-03-05 23:59] bricelam commented on #9467
.NET Standard limitation mentioned here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/#frameworks

[2018-03-06 00:03] #11004 closed

[2018-03-06 00:17] anpete commented on #11101
@johnnycamby Can you confirm that you tried against a nightly build? They are available here: https://dotnet.myget.org/feed/aspnetcore-dev

Thanks.

[2018-03-06 00:18] maumar commented on #10561
@alex-zyl the repro you provided works correctly in the current bits, closing

[2018-03-06 00:50] robichaud commented on #11075
I am seeing the same error when running Add-Migration from the Package Manager Console:
![image](https://user-images.githubusercontent.com/1945293/37007959-839aa35c-20a5-11e8-97d3-ec0815436df7.png)

DotNetCliToolReference was updated. Here is what the csproj looks like:
![image](https://user-images.githubusercontent.com/1945293/37008059-fdcd0502-20a5-11e8-8523-59e4ce87bec1.png)

[2018-03-06 03:09] sjb-sjb commented on #9133
You may want to re-open this. I had this error crop up today and was able to get it to appear / disappear at will. Of course it is buried in the middle of thousands of lines of code, but here's what I can tell you.

I have entity base classes called NamedEntity and DatedEntity, and several derived classes from each. However only the derived classes are in the model, the base classes are not given

[2018-03-06 03:32] ErikEJ commented on #11056
I guess it should be a change in  from:

      string GenerateCandidateIdentifier([NotNull] string originalIdentifier);

To:

      string GenerateCandidateIdentifier([NotNull] DatabaseTable databaseTable);

and

      string GenerateCandidateIdentifier([NotNull] DatabaseColumn databaseColumn);

[2018-03-06 03:54] benrhere commented on #9467
Hi @ajcvickers , I don't think this is a problem with the EF code. But per your suggestion, I think it will be simpler to have you take a look at a simple example I put together and attached. A few notes:

-I don't care what type of project houses my data types. I just care that there's a boundary of separation between them and my web project.
-For some reason this example is currently giving an e

[2018-03-06 06:10] RainingNight commented on #11075
@robichaud Try to DotNet CLI `dotnet ef migrations add xxx`.

[2018-03-06 06:12] viveknuna opened #11162 "Add a warning when store-generated PK is not supported"
I'm using ABP framework which is built on top of asp.net core and using entity framework core. I have tried to create PK to a different column other than the default **Id** column with the help of [this](https://stackoverflow.com/questions/46153399/how-to-use-a-varchar-column-other-than-id-for-pk/48604164#48604164) solution. Its working fine for every scenario, but my test cases are failing. I hav

[2018-03-06 06:13] simeyla opened #11163 "Correlated subquery (N+1 fix) missing ORDER BY clause inside nested query"
I am trying to do a simple query to get a list of `Club` rows with associated customer `Order` rows. (This is for a subscription model where a customer has a `Club` membership).

With the new EFCore 2.1 functionality only two queries are generated to avoid N+1 issues. I get back the correct results, until I add `OrderByDescending` in which case no data is returned for the 'child' query.

It is cle

[2018-03-06 06:57] roji commented on #11156
Note that the next version of PostgreSQL/Npgsql [will support Nodatime at the ADO.NET level](https://github.com/npgsql/npgsql/issues/546) (in fact, this should become the recommend way to do date/time), removing the need to do this at the EF Core level with value converters.

However, when it comes to translating *operations*, the same problem exists - translators have to be done for operations on

[2018-03-06 07:10] johnnycamby commented on #11101
No i didn't because my visual studio doesn't support .NET Core 2.1 Preview 1 and my project is in production phase so switching from one version because of testing may be time cost effective.- But I download a  Visual Studio 2017 Preview version this week and test it out

[2018-03-06 07:16] anpete commented on #11101
@johnnycamby No problem, I can try it out if it's a hassle. We think there is a decent chance this is already fixed.

[2018-03-06 09:51] simon-tamman commented on #2266
@lloydpowell88  Do some sort of CQRS? I.E. Make the read and write models are different so you can denormalise for the reads.
It doesn't really solve the problem as you can't use TPT properly for the writes but it mitigates the issue slightly by introducing another. :D

[2018-03-06 10:19] viveknuna opened #11164 "How to solve Update-Database issue when switching branch?"
I have one entity which has a column as int in Branch **A**. Now I switch to a different Branch **B**. There I create a migration and change column to `varchar` and run `Update-Database`. Now If I switch to Branch **A** again. If I see in the code the column datatype is `int`, but in the database, its datatype is `varchar`. But I want its datatype to be `int`. I can not even remove this migration

[2018-03-06 10:51] ysmoradi commented on #9249
I understand this bug should be fixed from the ground up in mono & xamarin ios and there is a fix in mono/master branch for this.

But to find some workarounds, I've done following and I'd like to share them with you:

1- I've used ef core for these requirements **only**: Migrations & Linq (Query)
2- I disabled ef core change tracking: ```optionsBuilder.UseQueryTrackingBehavior(QueryTrackingBehavi

[2018-03-06 11:01] Diaskhan commented on #2805
whizkidwwe1217 maybe  reflection wiil help ))
I have problem, I'am too want thats all my model stores in asseblmy, and loaded dynamicaly!

I guessing many people on ef core Want to make self enterprise systems, that must have user model configuration !

[2018-03-06 11:05] samfozz opened #11165 ""No coercion operator is defined" with dynamically generated selection expression"
I'm trying to generate a selection expression at runtime using System.Linq.Expressions.

This expression selects a navigation property - I am able to generate an expression equivalent to the following with no problems and it works well correctly :

[code]

However, the issue seems to come in when I attempt to add a null check to the generated expression, like this :

[code]

This expression when m

[2018-03-06 12:05] ststeiger opened #11166 "Entity Framework paging, that is to say Skip/Take, doesn't work for large tables"
The definiton of skip and take doesn't allow for more than 2.147483648 billion rows

Int32.MaxValue = 2'147'483'648

[code]

Theoretically, you could skip more than that:
[code]

But that doesn't work either because EF internally tracks the skip count as an int.
Why even int and not uint ? Can't skip or take less than zero.

https://stackoverflow.com/questions/32309807/how-use-long-type-for-skip-i

[2018-03-06 13:26] roji opened #11167 "Possible issue in RelationalTypeMappingExtensions.CloneWithFacetedName"
While synchronizing the Npgsql EF Core provider with the latest dev branch, I ran into an issue. The BuiltInDataTypes tests have a MaxLengthDataTypes entity, with a byte[] property whose MaxLength is set via the fluent API. Now, PostgreSQL's byte[] type (called bytea) doesn't support max length - no parentheses - but the code generates bytea(5) etc.

In a nutshell, it seems that CloneWithFacetedNa

[2018-03-06 13:26] roji commented on #11167
/cc @ajcvickers

[2018-03-06 13:47] roji commented on #11167
https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/300 may also be a bit relevant here... If we need to allow extensibility, i.e. adding mappings not known to the TypeMappingSource, then we can't expect the TypeMappingSource to know everything about the mappings (which ones accept a length, a precision/scale)... It may be better to have that information on RelationalTypeMapping

[2018-03-06 14:46] roji commented on #11147
FYI, implemented this for Npgsql in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/327. The criteria for being an unquoted identifier in PostgreSQL is actually quite strict (lowercase letters, digits, underscore, dollar), and the reserved word list is pulled from the ADO.NET layer with GetSchema(). Only one keyword has been added in like 5 years, so it feels pretty safe :)

[2018-03-06 16:25] KallDrexx opened #11168 "Double pipe or clauses not working for subqueries"
Describe what is not working as expected.

We have the following query in our code:

[code]

This query was not returning any results as expected.  In the logging console window it appeared to be generating the following sql:

[code]

This is obviously wrong.  However changing them out to single pipes did produce the expected query:

[code]
This produced the expected sql

[code]

### Further techn

[2018-03-06 16:45] jgonte commented on #2266
The issue is not to map all the inheritance tree to a single table. That is an absolute lack of normalization and the best practices in database design is to normalize the data ... as simple like that

[2018-03-06 16:53] bricelam commented on #10882
We followed up with the project system team. They have no plans to change the behavior of the Visual Studio APIs (EnvDTE), nor to add first-class UI for changing the active framework.

Resolving this will require us to use lower level APIs to understand cross-targeting projects.

A first step would be to match `dotnet ef` and add a `-Framework` parameter.

After that, we could look into making `do

[2018-03-06 16:55] simon-tamman commented on #2266
For standard-traffic source databases sure but I'm asking the question if the user needs to see the actual direct source. You can project denormalised projections of your data and map to those.

[2018-03-06 17:32] ajcvickers commented on #9133
@sjb-sjb Looks like this is because in the working case you correctly use the full entity type name, which includes the namespace for entities that have CLR types, while in the case where it breaks you use the simple name (i.e. without the namespace) which is incorrect.

[2018-03-06 17:42] ajcvickers commented on #11162
@viveknuna Looks like the migration was generated against SQL Server, but is being used with SQLite. Does it work correctly if the migration is instead created for use with SQLite?

[2018-03-06 18:48] viveknuna commented on #11162
Yes, migration is generated against sql server. I don’t run any migrations explicitly for my test cases, But test cases use SQLite. SQLite generates same schema.

So is this SQLite related issue or there is some problem with my current implementation?

Please let me know what should I try at my end?

[2018-03-06 18:54] viveknuna commented on #11162
My application uses sql server only, but test cases use SQLite. I’m using XUnit.

[2018-03-06 19:13] camilin87 commented on #6482
I created this nuget to address this issue until it gets a permanent solution https://www.tddapps.com/2018/03/06/seamlessly-debug-entity-framework-core-sql-commands/

[2018-03-06 19:19] ajcvickers commented on #11162
@viveknuna Migrations are generated against the provider that you are using and may contain code specific to that provider. If you want to test against a different provider, then consider either:
* Using EnsureDeleted/EnsureCreated for your tests so that they don't depend on the migrations at all
* Use migrations against two providers using one of the approaches [described in the docs](https://doc

[2018-03-06 19:59] ajcvickers commented on #11165
@samfozz Looking in the debugger, the difference in the expression trees is in the type of the null constant used int the conditional. Changing it to type object in the explicitly built tree results in identitical expression trees and it then works with EF query:
[code]

Leaving this issue open to discuss in triage if this is something we need to address in the query pipeline.

[2018-03-06 20:13] ajcvickers commented on #11142
A first attempt to add structural integrity (Scotch tape) resulted in disaster. We really need to hire a hardware engineer. Software engineers building real-world stuff isn't working too well...

![ohno](https://user-images.githubusercontent.com/1430078/37055918-c50b63d4-2137-11e8-90d3-2fd3fae4bfdb.jpg)

[2018-03-06 20:19] BojidarStanchev commented on #11142
Just today I thought "What are Microsoft doing that is so important that they ignore EF core Many2Many implementation for so long". Then I saw this.

[2018-03-06 20:20] ajcvickers commented on #11166
@ststeiger EF Core doesn't define the Skip and Take methods--these are defined in the BCL as part of LINQ.

That being said, using Skip/Take for paging this amount of data will likely perform poorly. See #9115 and the links it contains for a different approach that we would like to support in some way in a future release of EF Core.

I'm curious if you have tried the Skip/Take approach with close

[2018-03-06 20:37] ajcvickers commented on #11167
@roji The idea for this was to create a utility method that could be used by providers that need to do this but which does not need to be used by other providers. So, for example, SQL Server and Oracle use it, but SQLite does not. From our conversations I was assuming that Postgres probably wouldn't use it, but maybe it is needed for some types and not for others?

That being said, I like the idea

[2018-03-06 20:48] pmiddleton commented on #11142
That is EF Core Many 2 Many - Coke, Pepsi, Dr Pepper, Mountain Dew....

[2018-03-06 21:10] smitpatel commented on #11166
We don't store them. We always parametrize arg of skip/take. Internally SQL tree contains Expression to represent value of skip/take. Which are not tied to any type let alone int.

[2018-03-06 21:50] bricelam commented on #11164
I don't fully understand the issue, but does the [EF Core Migrations in Team Environments](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/teams) doc provide any insight about how to resolve it?

[2018-03-07 00:16] sjb-sjb commented on #9133
Ha, I thought I tested that possibility!
Thanks for the tip.

[2018-03-07 01:25] maumar commented on #10122
fixed in 12e5c1b58211c18bbbf722dc1a4cf67d8aa81806

[2018-03-07 01:25] #10122 closed

[2018-03-07 04:12] divega opened #11170 "Consider renaming the Attributes package to Abstractions and moving other types there"
It could be a place to put things that you may consider using on entities without coupling to the whole EF Core as a dependency.

The first non-attribute type that comes to mind is ILazyLoader.

[2018-03-07 05:52] lust4life commented on #10069
[code]
this may give some help. @cdie

[2018-03-07 06:23] roji commented on #11167
Thanks @ajcvickers. But doesn't SQL Server and Oracle have this issue as well? In other words, if some user mistakenly sets `.HasMaxLength(5)` on a type that doesn't support it, I think the current behavior would be to append `(5)` to the type name and to send that to the database. It's not the end of the world (the model configuration can be said to be mistaken), but it seems better for EF Core t

[2018-03-07 07:02] johnnycamby commented on #11101
**@anpete** i think the problem is with using linq to sql **inner and outer join queries** on multiple different DbContexts. Does EF-Core support it.

[2018-03-07 09:46] jeffrey-igaw commented on #11075
@brianrob Thank you, your solution fixed it. This issue has been resolved and will be closed. :D

[2018-03-07 09:54] samfozz commented on #11165
@ajcvickers Sorry I didn't spot that myself - Thanks for this!

[2018-03-07 09:58] NumiLarsson opened #11171 "Include on derived navigational properties breaks ToListAsync(). (2.1.0-preview1-final)"
Running 2.1.0-preview1-final.

Using the newly implemented "Include for derived types" e.g. (dataContext.Questions.Include(q => (q as ChildQuestion).SubQuestions) breaks ToListAsync(), but still works in ToList().

[code]

### Steps to reproduce
Simply using any derived navigational property in a ToListAsync call seems to break it.
I've setup two identical queries, using derived properties, and To

[2018-03-07 10:22] weitzhandler commented on #1833
How about:

[code]

[2018-03-07 10:41] tonygeorgiew commented on #11076
add-migartion 'initial' --verbose
The term 'add-migartion' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify th
at the path is correct and try again.At line:1 char:1
+ add-migartion 'initial' --verbose
+ ~~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (add-migartion:String) [], Comman

[2018-03-07 10:43] ErikEJ commented on #11076
You are spelling it wrong 😁

[2018-03-07 11:25] weitzhandler commented on #10946
To anyone experiencing this, taking the constant out to a variable works fine:

[code]

[2018-03-07 11:30] cocowalla commented on #6214
@bricelam so I can see that there are differences - for example, the reverse-engineered model doesn't have `AlternateKey` applied, which will be why it's always included in the diff.

I tried updating to `2.1.0-preview1-final`, but get the same result. Do you know if more complete reverse engineering support will make it into preview 2 (or indeed if it's already in the nightlies)?

[2018-03-07 11:50] SPEMoorthy commented on #2266
I am waiting see  TPT And TPC in EFCore as soon as possible. It is really need

[2018-03-07 11:56] divega commented on #11024
Beta 2 is out in NuGet: https://twitter.com/oracledotnet/status/971179206750060544?s=21. Clearing up fields so we can re-assign in triage.

[2018-03-07 12:40] colotiline commented on #9415
In default angular template (vs code) your `BuildWebHost` looks like:
[code]

EF migrations can't work with the second parameter, so just remove it and change the place where `url` is gathering:
[code]

[2018-03-07 13:19] Kriyainc commented on #5856
Restarting VS worked for me, using VS2017

[2018-03-07 14:42] tuespetre opened #11172 "IDbContextOptionsBuilderInfrastructure seems too esoteric"
There is an interface, `IDbContextOptionsBuilderInfrastructure`, that exists solely for this purpose:

[code]

This is kind of a weird thing to figure out while writing an extension. The `DbContextOptionsBuilder` exposes a nice set of extensibility hooks already:

- `ReplaceService<T>`
- `UseApplicationServiceProvider`
- `UseInternalServiceProvider`

These hooks keep the nice 'fluent API' spirit a

[2018-03-07 15:08] tonygeorgiew commented on #11076
@ErikEJ You are right, sorry for the stupid mistake.
Getting the same error now with -verbose

============================
PM> add-migration 'initial model' -verbose
Using project 'Data\eShop.Data'.
Using startup project 'Web\eShop.Web'.
Build started...
Build succeeded.
C:\Program Files\dotnet\dotnet.exe exec --depsfile C:\Users\admin\source\repos\eShop\Web\eShop.Web\bin\Debug\netcoreapp2.0\eSho

[2018-03-07 16:38] smitpatel commented on #11171
@NumiLarsson - Thanks for reporting this issue. This is Duplicate of #10440
If you're eager to test it out, you can try [the nightly feed](https://dotnet.myget.org/gallery/aspnetcore-dev).

[2018-03-07 18:19] Tarig0 opened #11174 "Migration continues to generate same column alters over and over"
When creating a migration the engine generates the following

[code]
expect
[code]
I'm not sure what relevant information I need to gather

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win 10
IDE: Visual Studio 2017 15.4

[2018-03-07 18:30] premaarya commented on #10803
How can i get this fix?  I am using the package Npgsql.EntityFrameworkCore.PostgreSQL and this use the  EntityFrameworkCore  version 2.1.0-preview2-30183
Still gettting the error while scaffolding a pstgresql database.
Unable to resolve service for type 'Microsoft.EntityFrameworkCore.Storage.IRelationalTypeMapper' while attempting to activate 'Microsoft.EntityFrameworkCore.Scaffolding.Internal.Rel

[2018-03-07 18:59] maumar opened #11176 "Query: groupby doesn't get translated if the result is projected into DTO"
This translates correctly:

[code]

into:

[code]

but this:

[code]

produces the following query plan:

[code]

[2018-03-07 19:18] ajcvickers commented on #11042
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-07 19:20] ajcvickers commented on #11056
@ErikEJ Looks good. PR?

[2018-03-07 19:37] masoud-bahrami opened #11177 "The current CSharpHelper cannot scaffold literals of type 'Microsoft.EntityFrameworkCore.Metadata.Internal.DirectConstructorBinding'. Configure your services to use one that can."
I's using dotnet core 2 and EF core 2.
I use CLI to generate migration files.
In module which i try to generate Migration file, i use this factory:

`
public class ApplicationDbContextFactory : IDesignTimeDbContextFactory<ChakavakIdentityDbContext>
    {

        public ChakavakIdentityDbContext CreateDbContext(string[] args)
        {
            var builder = new DbContextOptionsBuilder();

[2018-03-07 19:40] FrederickBrier commented on #11045
I got distracted. I meant to ask, is there a link on how to install the entire 2.1-preview1 runtime for .NET Core? Following that path would be very helpful. Thank you.

[2018-03-07 19:52] benrhere commented on #9467
I've updated the project above, and can boil down the above to a much simpler question now:

What steps do I need to take in order to be able to run "dotnet ef migrations add xyz" and have it work successfully? I don't care where it places the migrations files.

[2018-03-07 19:56] Alex2128 commented on #8277
Excelent. It helped me a lot.

[2018-03-07 21:05] maumar opened #11178 "Query: compilation error for complex query with group by and correlated subquery"
query:

[code]

throws:

[code]

[2018-03-07 21:08] maumar commented on #11178
GroupByAggregateTranslatingExpressionVisitor.CanTranslate() tries to extract ShapedQuery from _queryModel.Expression. It doesn't take into account that expression can have InjectParameters around it.

[2018-03-07 21:26] smitpatel commented on #11178
:trollface: not needed.

[2018-03-07 21:27] maumar commented on #10472
Multiple queries is the expected behavior currently and this specific case won't be improved in 2.1 release. We can translate subqueries that result in just one element (e.g. p.Children.Count). If subquery produces a collection we often can translate it into two queries (see #9282), however optimization has a number of limitations, including GroupBy result operator. In the future release we might

[2018-03-07 21:43] ajcvickers commented on #10882
Putting this on the backlog now, to reconsider based on feedback. Also, [updated the docs](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/) to not recommend cross-targeting.

[2018-03-07 21:43] benrhere commented on #9467
I was finally able to figure this out. There were a few things that tripped me up:

To Start:

C:\Users\ben.rubinger\Desktop\EF Migrations Help\EF Migrations Help>dotnet ef migrations add new
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]``
[code]

[2018-03-07 21:44] ajcvickers commented on #11024
@ralmsdeveloper Are you interested in submitting a PR to update the provider in the EF Core Oracle sample.

[2018-03-07 21:46] ajcvickers commented on #11174
@Tarig0 It's possible this is already fixed--could you try with 2.1 preview1 or our nightly builds? If not, can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-03-07 21:46] ErikEJ commented on #11045
@FrederickBrier  https://www.microsoft.com/net/download/all

[2018-03-07 21:51] FrederickBrier commented on #11045
Ah silly me, is there an install for the 2.1-preview2-<nightly build number>? That is what I meant to ask, because it the owned types that will be fixed (hopefully) in a new nightly build. And if not, how would I build and then deploy it?

[2018-03-07 21:56] mexahuk61 commented on #11177
The same problem with EF Core 2.1-preview1-final (but it works with 2.0.1)

[code]

Startup:
[code]

SqlDbContext:
[code]
result of `>dotnet ef migrations add Initial `:
[code]

[2018-03-07 21:56] ajcvickers commented on #10803
@premaarya This issue has been fixed and you should not be seeing it with currently nightly builds of EF Core and Postgres. Can you please create a new issue including a runnable project/solution that demonstrates what you are seeing?

[2018-03-07 22:00] masoud-bahrami commented on #11177
@mexahuk61 I think this link can help you:
https://docs.microsoft.com/en-us/ef/core/miscellaneous/1x-2x-upgrade

[2018-03-07 22:17] ralmsdeveloper commented on #11024
@ajcvickers  Yes
I was waiting for you to manifest.

[2018-03-07 22:19] maumar commented on #11163
this is already fixed in d787c130fa5017ced3e8c1a54cdf073495b80a17

[2018-03-07 22:19] #11163 closed

[2018-03-07 22:31] maumar commented on #11163
we produce the following SQL now:

[code]

[2018-03-07 23:12] ajcvickers commented on #11177
@masoud-bahrami @mexahuk61 Looks like you are using a mixture of EF Core 2.0 packages and EF Core 2.1 preview1 packages. Was your intention to use 2.0 or 2.1 preview1?

[2018-03-07 23:15] ajcvickers commented on #11045
@FrederickBrier 2.1 preview2 is not released yet. The EF packages on our nightly feed are labeled "preview2" in anticipation, and you may be able to get other parts of it from other places, but I wouldn't attempt to try to get a full 2.1 preview2 install of the SDK at this point.

[2018-03-07 23:24] mexahuk61 commented on #11177
@ajcvickers why do you think I'm using a mixture? Loot at my csprog file: everywhere EF 2.1...

[2018-03-08 00:35] maumar commented on #10283
relinq now translates `nullableProperty.HasValue` to: `nullableProperty != null`, which we can fully translate. Closing

[2018-03-08 00:35] #10283 closed

[2018-03-08 01:30] maumar opened #11181 "Query: Navigation fixup doesn't happen for query with include take and concat"
query using GearsOfWar model:

[code]
result is 10 elements, with all the gears having their Squad property populated.

[code]

results in 6 elements with only "Baird" (which is projected twice, from left and right part of concat), having his Squad property populated.

[2018-03-08 02:08] ErikEJ commented on #11056
Coming up!

[2018-03-08 02:09] AndriySvyryd opened #11183 "LoadInMemoryTest are broken for 2.0.0"
See http://efci/viewLog.html?buildId=28913&tab=buildResultsDiv&buildTypeId=ef_EntityFrameworkCompat

---- System.InvalidCastException : Specified cast is not valid.
   at Microsoft.EntityFrameworkCore.Metadata.Internal.EntityMaterializerSource.ThrowReadValueException[TValue](Exception exception, Object value, IPropertyBase property)
   at Microsoft.EntityFrameworkCore.Metadata.Internal.EntityMater

[2018-03-08 07:22] simeyla commented on #11163
@maumar Thanks for taking the time to provide the code. Tried to search for this issue because I figured it was more than likely already in the pipeline, but wanted to make sure :-)

[2018-03-08 08:51] roji commented on #10803
@premaarya make sure you don't have any dependency confusion, I regularly run the Npgsql EF Core 2.1.0-preview1 (and preview2 builds) against EF Core 2.1.0-preview1/2 and everything seems fine.

[2018-03-08 10:07] Tidus972 opened #11185 "Value Conversion for Enumeration To String"
I'm using  Entity Framework Core 2.1 Preview 1 and .Net Core 2.0
I have an entity Drn with a Type property of type TransactionType.
TransactionType is an enum.

[code]

I want to store the name of the enumeration and not the value; so I used the HasConversion method as follow:
[code]
I seed some data with
[code]

My result is that  my column is created as an nvarchar(max) but the values inside are

[2018-03-08 11:15] almosvirog commented on #9625
Thanks! It helped me much. I tried to initialize DbContext in it's constructor but it have to be done from out of DbContext class.

[2018-03-08 12:24] ErikEJ commented on #10177
@smitpatel  This is fixed in 2.1 preview1 🎉

[2018-03-08 12:24] #10177 closed

[2018-03-08 12:45] alexk8 opened #11186 "Query: Selecting scalar properties alongwith entity fails to lift and causes N+1 eval"
//With classic Parent-Children (like in issue #10472)
This works well (within single select):
[code]
But this works as 2N+1 queries:

[code]

That's a bug? Or what's the problem, I cannot see any difference...

That's in 2.1.0-preview1

[2018-03-08 12:58] ErikEJ opened #11187 "Unable to build latest dev"
1: Get latest dev

2: Run "build.cmd" from command line.

3: Fails with:

C:\Users\Erik\.nuget\packages\internal.aspnetcore.sdk\2.1.0-preview2-15707\build\GenerateAssemblyInfo.targets(25,5): error MSB4062: The "Microsoft.AspNetCore.BuildTools.Sdk_GetAssemblyFileVersion" task could not be loaded from the assembly C:\Users\Erik\.nuget\packages\internal.aspnetcore.sdk\2.1.0-preview2-15707\build\..\to

[2018-03-08 13:28] juripyykko opened #11188 "Crash when trying to AddRange to Db on Xamarin iOS"
I've got a NET-standard (2.0.1) Xamarin.Forms project using EF Core, and when I run this on an iPhone and try to add entries `dbContext.Courses.AddRange(courses)`, I get the exception below. The expected behavior would be that the courses were added to the database, and the MainPage got displayed. See the attached project at the bottom of this post.

This seems to be similar to:
https://github.com

[2018-03-08 13:53] viniciusmiguel opened #11189 "Duplicate Foreign Key creation"
[code]
when I try to create the composite key

[code]
With the Foreign Key to Project
the migration is generated this way:

[code]

I can't have this duplicate ProjectId1 on my model

### Further technical details
EF Core version: 2.0.1
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL 2.0.1
Operating system: Windows 7
IDE: Visual Studio 2017 15.5.7

[2018-03-08 14:28] viniciusmiguel commented on #11189
Seems to me, a bug when I try to declare

`builder.HasOne<Project>()`
instead
`builder.HasOne(t => t.Project)`

the second one seems to resolve the problem

I can't find any documentation referring to a different behavior using generics or not.

[2018-03-08 16:20] edwiles opened #11190 "Using SeedData can generate code that violates code analysis rules SA1118 and CA1814"
When using EntityTypeBuilder.SeedData, EF Core migrations can generate code that violates code analysis rules SA1118 and CA1814.

A workaround is to globally suppress these rules, with Target = "~M:\<project\>.Migrations.InitialCreate.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)".

### Steps to reproduce
1. Create an entity named MyEntity:
[code]

2. In OnModelCreating, seed the t

[2018-03-08 16:27] #10096 closed

[2018-03-08 16:35] ajcvickers commented on #11185
@Tidus972 Looks like you are hitting #11131, for which there is currently a PR out. Also, consider [reading the docs on value conversion](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions). In particular, to convert an enum to and from its string values requires only this:
[code]
There is no need to write your own conversions for this.

[2018-03-08 16:46] ajcvickers commented on #11189
@viniciusmiguel When HasOne is called with no navigation property (`HasOne<Project>()`) it explicitly means this relationship does not have a navigation property. In other words, it says that even if there is a property that connects these two types, it still should not be used for the relationship. This is turn means that any such property that does exist must be part of a different relationship

[2018-03-08 17:23] yzorg commented on #9841
Maybe this will come with the Core 2.1 support for global installed tools?  (Like npm install --global but for dotnet CLI tools.)

Any plans to add a migration tool as a Core 2.1 global CLI tool?

[2018-03-08 17:38] ajcvickers commented on #9552
Fixed as part of #10142

[2018-03-08 17:38] #9552 closed

[2018-03-08 18:00] ajcvickers commented on #10966
These are the logging levels we currently have:

### Oracle

Log Level | EventId
------------ | -------------
Warning | DecimalTypeDefaultWarning
Warning | ByteIdentityColumnWarning
Debug | DefaultSchemaFound
Debug | ColumnFound
Debug | ForeignKeyFound
Warning | ForeignKeyReferencesMissingPrincipalTableWarning
Warning | MissingSchemaWarning
Warning | MissingTableWarning
Debug | TableFound
Debug |

[2018-03-08 19:10] ralmsdeveloper opened #11191 "Oracle Sample Documentation"
If you enable to generate the document from the Oracle sample provider, all basically all code is broken!

`
<GenerateDocumentationFile>true</GenerateDocumentationFile>`

![documentacaooracle](https://user-images.githubusercontent.com/16335882/37170702-5697aa34-22ea-11e8-9806-f5953b0b0610.PNG)

Taking this to solve.

/cc @ajcvickers  @bricelam

[2018-03-08 19:38] hitaspdotnet opened #11192 "Configuring a relationship that uses Table Splitting in EF Core 2"
I'm trying to build my first Table Splitting in EF Core 2 using fluent configuration. <br>
I have two simple entities named `User` and `Customer` and I want use them in single table named "AppUsers". So I created a simple entity classes for both:

**User.cs**
[code]
And:

**Customer.cs**
[code]
Then I make changes to `MyDbContext` as:

**MyDbContext.cs**
[code]
And then I created a migration using

[2018-03-08 19:46] smitpatel commented on #11191
@ralmsdeveloper - Probably not generating documentation is by design. It is a sample provider only and not for production use & may not need documentation.

[2018-03-08 19:50] ralmsdeveloper commented on #11191
Thanks @smitpatel !

So the answer is not to generate?
Or are you going to discuss this?

[2018-03-08 19:51] smitpatel commented on #11186
The difference is
in first query, individual property (-ies) are being selected from entity rather than whole entity as in second query. Selecting whole entity requires us to use materialization code path.
At present materialization is tied closely with shaper and there would be one shaper for each query source, we cannot do materialization and some other scalar value processing both on single que

[2018-03-08 20:19] ajcvickers commented on #11192
@CS-beglnner The issue is that each row in the database table now contains fields from two entities--one User and one Customer. This means that every time a User is created and saved, there must also be a Customer created and saved with the same Id, because the database row cannot hold only a User or only a Customer, it must have both.

Table splitting is most often used when the row contains data

[2018-03-08 20:20] AndriySvyryd opened #11193 "Migrations: Test using snapshot"
The test suite with most scenarios for migrations - `MigrationsModelDifferTest` currently doesn't use the product pipeline to run the tests. It creates two models and then diffs them. Whereas the product generates a snapshot of the first model, compiles it, loads it and then diffs it with the second model.

The model snapshot could be significantly different from the model (e.g. it uses different

[2018-03-08 20:29] ajcvickers commented on #10966
Notes from design meeting:
* Move ContextInitialized to Debug level and create a new message (or re-purpose ServiceProviderCreated) that happens only when a context type with a provider is initialized the first time.
* Make the following Debug:
  * ShadowPropertyCreated
  * NavigationLazyLoading
  * RedundantIndexRemoved
  * IncompatibleMatchingForeignKeyProperties
  * RequiredAttributeOnDependent

[2018-03-08 20:35] ajcvickers commented on #10966
Also, be consistent about the data (sensitive or not) passed into and use in the diagnostic events.

[2018-03-08 20:38] anpete commented on #11101
@johnnycamby Mixing different contexts in a single query is not supported right now. It would be great to get an idea of your expectation for this query. I.e.

- The contexts target the same database, and you expect a single SQL query to be produced. Or,
- You expect multiple queries to be combined, client-side.

Thanks.

[2018-03-08 20:45] CS-beglnner commented on #11192
@ajcvickers Thanks a lot. That's both data's is about a single thing. I'm using IdentityServer4. Server4 user entities response many useless per context query and a eShop solution need many call's to User table. So I used table splitting to make clean call with my Db. Is it wrong?

[2018-03-08 20:49] ajcvickers opened #11194 "Investigate perf regressions from 2.0 related to change tracking"
Specifically:
* Add/Attach/Update/Remove including Range, Children, and Parent variations
* QueryChildren

[2018-03-08 20:50] ajcvickers opened #11195 "Investigate perf regressions from 2.0 related to update pipeline"
Specifically, Update/Delete with batching: false.

[2018-03-08 20:51] ajcvickers opened #11196 "Investigate perf regressions from 2.0 related to model building"
Specifically, BuildModel_AdventureWorks (cold)

[2018-03-08 20:53] ajcvickers opened #11197 "Query: Investigate perf regressions from 2.0 related to sync Include queries"
Specifically, the Query | Include test.

[2018-03-08 20:55] ajcvickers commented on #11016
Filed:
* Include: #11197
* Change tracking: #11194
* Update pipeline: #11195
* Model building: #11196

[2018-03-08 21:02] smitpatel commented on #11024
Re-opening so i remember to update Universe

[2018-03-08 21:02] ajcvickers commented on #11192
@CS-beglnner Impossible for me to say. I would follow up with the IdentityServer people.

[2018-03-08 21:05] ajcvickers opened #11198 "Create a log of changes that could impact providers"
The log would include:
* The PR/commit where the change was made
* A simple, one-line description of why a provider writer might care or need to react

We still need to find the best place for this; it will likely not happen until post 2.1.

/cc @roji @cincuranet @ErikEJ @caleblloyd

[2018-03-08 21:07] ajcvickers commented on #9615
Also, update it to be consistent with issues we have "propose close" closed.

[2018-03-08 21:10] JohnyL opened #11199 "EF 2.1 Value Conversion fails with custom type"
I have custom type TimesRecords (which converts XML from database into objects) and entity which uses it:
[code]
Here's converter:
[code]
For full picture, here's T-SQL of table:
[code]
So, when I run this simple code:
[code]
I get the following error:

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: W

[2018-03-08 21:13] bricelam opened #11200 "Design: Flow root namespace alongside namespaces"
Whenever VB needs to generate a namespace statement, they need to know both the root namespace and the desired namespace of the class.

[2018-03-08 21:14] maumar commented on #11022
In case key selectors for Join/GroupJoin are entity, we should rewrite it to key comparisons, like we do for equality

[2018-03-08 21:39] ajcvickers commented on #11199
@JohnyL Can you post the code for the TimesRecords class?

[2018-03-08 21:40] masoud-bahrami commented on #11177
@ajcvickers yes you are right! and I think this is very confusing about EF 2 or EF 2.1

[2018-03-08 21:42] masoud-bahrami commented on #11177
I update all json packages to use EF 2.0.0

[2018-03-08 22:05] ajcvickers commented on #11142
Current status: reconstructed, realigned, but still no glue:
![noglue2](https://user-images.githubusercontent.com/1430078/37179176-a10033c2-22d9-11e8-98f7-7cc9925ff994.jpg)
![noglue1](https://user-images.githubusercontent.com/1430078/37179126-7561ed50-22d9-11e8-81df-4be3bda82eb1.jpg)

[2018-03-08 22:08] blowdart commented on #11142
I find it incredulous that no blame was laid for this destruction when, as ever, the fault lies with @davidfowl (Junior) who apparently, when I was away, removed the security from my desk, borrowed some toys and flung them with no apparent planning or threat model. He takes after his dad that one.

[2018-03-08 22:12] ajcvickers commented on #11142
@blowdart Well...I heard that he was encouraged by a certain French gentleman. At least some of the blame must lie there. After all, if we're not responsible adults in our own workplace, then how can we expect the younger generation to learn appropriate behavior?

[2018-03-08 22:13] blowdart commented on #11142
From a security POV I will point out that I firmly instructed the young man in the proper use of my pokeballs, which was to throw them at his daddy _ONLY_. Unapproved usage cannot be secured.

[2018-03-08 22:13] pmiddleton commented on #11142
Has JB Weld been considered?

[2018-03-08 22:28] blowdart commented on #11142
Also from a quick examination the initial vulnerability still exists and  the current implementation remains insecure and unprotected.

It may be time for a comprehensive Sodacan Defense Lifecycle (SDL) review

![Insecure EF](https://i.imgur.com/UAJoHGi.jpg "Insecure EF")

[2018-03-08 22:33] smitpatel commented on #11022
This would probably get covered in entityequality refactoring fix. You can assign to me.

[2018-03-09 00:31] smitpatel commented on #11024
Reverted the change.

[2018-03-09 00:45] ralmsdeveloper commented on #11024
@smitpatel, just out of curiosity!
This has been reversed until the universe is updated, as commented @natemcmaster?

[2018-03-09 00:46] maumar commented on #10974
problem is that we add orderby group key clause to the query. When we compile include we project order by clauses in the inner query (one being qsre). We should optimize group by entity, to group by entity key instead.

[2018-03-09 00:49] smitpatel commented on #11024
@ralmsdeveloper - Yes. We need to figure out licensing side before using that package in our code. So we will first get approval to use the package in the code then update. I will do that work. Regardless, thanks a lot for testing out the new package for us.

[2018-03-09 00:52] smitpatel commented on #10970
This looks like issue described here https://developercommunity.visualstudio.com/content/problem/160750/nuget-bug-in-vs155.html

It is a bug in VS 15.5 and fixed in 15.6

[2018-03-09 00:53] maumar commented on #10974
assigning to @smitpatel since he is working on entity equality improvement currently

[2018-03-09 00:54] ralmsdeveloper commented on #11024
Many thanks for your explanation now I understand.

Good job!

[2018-03-09 00:55] smitpatel commented on #10974
Hold on!
We cannot convert group by entity to group by entity key, if we have to return back the groups.

[2018-03-09 00:59] maumar commented on #10974
Ah right, I guess we can just recognize we are about to order by qsre and order by key instead.

[2018-03-09 01:01] smitpatel commented on #10974
Further entity equality deals with equality only and wouldn't process just a qsre in ordering. Perhaps include pipeline at some place needs to convert QSRE to key access while constructing collection query model since AnonymousObject cannot hold a qsre.

[2018-03-09 01:06] maumar commented on #10974
or we could do that broadly, in OptimizeQueryModel - we just need to convert orderby qsre into orderby pl before RewriteCollectionQueries

[2018-03-09 01:35] #9693 closed

[2018-03-09 01:37] #9603 closed

[2018-03-09 01:52] #11131 closed

[2018-03-09 05:06] smitpatel commented on #10974
We can certainly do that more broadly. Right now we have piece of code in SqlTranslatingExpressionVisitor which translates QSRE to PK access when not in projection. Perhaps we could evaluate that code path and convert those to PK access during QM rewrite itself.

[2018-03-09 08:23] alexk8 commented on #11186
It looks like just a technical imperfections at first, but I think it should be fixed with a high priority, because these queries are commonly used here and there.
In order to materialize it easily, query should look like just this
[code]

[2018-03-09 08:27] fabianus76 commented on #11152
Same Problem here:

`[Owned]
public class StreetAddress
{
    public string Street { get; set; }
    public string City { get; set; }
}

public class Order
{
    public int Id { get; set; }
    public StreetAddress ShippingAddress { get; set; }
}`

I get this

The property 'StreetAddress.Street' could not be mapped, because it is of type 'string' which is not a supported primitive type or a valid

[2018-03-09 09:07] JohnyL commented on #11199
@ajcvickers Here are TimesRecords and related TimeRecord classes.

__TimesRecords__ class
[code]
__TimeRecord__ class
[code]

[2018-03-09 09:08] Basil1991 opened #11208 "Could not find file 'D:\xxx\bin\Debug\netcoreapp2.0\ef.xml'"
System.IO.FileNotFoundException: Could not find file 'D:\xxx\bin\Debug\netcoreapp2.0\ef.xml'.
File name: 'D:\xxx\bin\Debug\netcoreapp2.0\ef.xml'
   at System.IO.FileStream.OpenHandle(FileMode mode, FileShare share, FileOptions options)
   at System.IO.FileStream..ctor(String path, FileMode mode, FileAccess access, FileShare share, Int32 bufferSize, FileOptions options)
   at System.IO.FileStream..

[2018-03-09 09:18] Basil1991 commented on #11208
The reason is  Assembly.GetEntryAssembly().

[2018-03-09 11:30] cltschoke opened #11209 "Migration script is changing nullable to non-nullable after adding max length to TEXT column"
Added max length to an existing nullable string column and but the generated script migration is changing the column to non-nullable.

### Steps to reproduce
First, configure EF Core Code First to create the following entity type:
[code]
using this configuration:
[code]
After the database is created/updated, the Note column is created as TEXT (NULL).
Then, change add max length to Note property:

[2018-03-09 12:39] ErikEJ opened #11210 "Add a check in specification tests suite to help providers discover missing implementations"
In order to help providers discover new features, (that will have new specification tests), add some kind of check in the spec test to warn consumers of the spec test that it has not been implemented.

@ajcvickers @AndriySvyryd

//cc @cincuranet @roji @caleblloyd

(Feel free to close if this is a duplicate)

[2018-03-09 13:29] GWigWam opened #11211 "Filtering (Where/First) on an enum property with a ValueConversion does not work (2.1-preview1)"
I have an enum property defined on an entity which uses a custom value conversion (`.HasConversion`) to be mapped to a string (`nvarchar(20)`) column in MSSQL. When I use this property in a `.Where` or `.First` linq query an exception is thrown: `Conversion failed when converting the nvarchar value 'Value2' to data type int.`

### Steps to reproduce

##### Type definition
[code]

##### In DbContex

[2018-03-09 13:42] ErikEJ opened #11212 "Support for "netcoreapp2.1" (in Tools, for example)"
Not sure if it is an issue, but just noticed this:

https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/dotnet-ef/RootCommand.cs#L155

and something similar in src\EFCore.Tools\tools\EntityFrameworkCore.psm1

[2018-03-09 14:22] jenspettersson opened #11213 "One-to-One relationships generates differently based on entity names"
Maybe I'm missing something fundamental, but this is really confusing for me.

We're seeing differently generated relationships based on what our entities are named, even though the configuration (via the fluent configuration API) is the same.

### Steps to reproduce
A new `DbContext`, in my case called `LabContext`, that has four entities as `DbSet<T>`. In the `OnModelCreating(ModelBuilder builde

[2018-03-09 15:42] chris31389 commented on #10430
This is also affecting this type of query:

[code]

[2018-03-09 15:56] smitpatel commented on #11212
But ef.exe is netcoreapp2.0 only
https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/ef/ef.csproj#L4

[2018-03-09 15:57] smitpatel commented on #11211
Duplicate of #11127

[2018-03-09 16:18] ErikEJ commented on #11212
I guess we can just close, then?

[2018-03-09 16:19] roji commented on #11210
Duplicate of #10934?

[2018-03-09 16:27] ErikEJ commented on #11210
Indeed!

[2018-03-09 16:50] smitpatel commented on #11212
Let Brice tell us the secret why it is this way. I was just adding another piece of info into suspense. 🔀

[2018-03-09 16:52] ajcvickers commented on #11209
@cltschoke This looks like an issue with the MySQL provider SQL generation. Everything looks correct in the code above until the actual SQL is generated. On SQL Server, this results in:
[code]
Please file an issue with the MySQL folks on this.

[2018-03-09 17:00] ajcvickers commented on #11199
Looks like it could be the same root cause as #11074. @AndriySvyryd? @smitpatel?

[2018-03-09 17:53] AndriySvyryd commented on #11199
Sounds more like another case of https://github.com/aspnet/EntityFrameworkCore/issues/10765

[2018-03-09 17:54] bradmarder commented on #11074
@ajcvickers I just found a very simple repo.

Just add `public IEnumerable<string> Types => null;` to any model

[2018-03-09 18:23] ardalis commented on #10573
Has anyone confirmed whether this is fixed in 2.1? It's an issue in 2.0 (that's where the issue first occurred). I'm confused by the reason given for closing this issue...

[2018-03-09 18:27] ErikEJ commented on #10837
Is this syntax also possible with PMC, and if yes, what does it look like:

    dotnet ef dbcontext scaffold ..\TheDatabase\bin\Debug\TheDatabase.dacpac EFCore.SqlServer.Dacpac

[2018-03-09 18:37] bricelam commented on #6214
You probably won't see any improvements in this are for the 2.1.0 release.

[2018-03-09 18:40] bricelam commented on #9415
@colotiline It [looks like](https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/Program.cs#L20) this is fixed in the latest codebase.

[2018-03-09 18:41] ajcvickers commented on #10573
Re-opened to discuss in triage.

[2018-03-09 18:43] bricelam commented on #11076
...and you're positive the `MigrationsAssembly()` is correct and doesn't use the non-existent `"eShop"` assembly?

[2018-03-09 18:53] bricelam commented on #10837
Should just be...
[code]

[2018-03-09 18:54] bricelam commented on #10837
The relative path is weird though. It's probably relative to the target project, not the current directory.

[2018-03-09 19:07] JasonRodman commented on #6214
I keep wishing one day this will get added, or someone builds an extension that does it. Until then I just can't use it. I keep holding out hope they will consider this a valuable feature to add. Defeats the purpose of an ORM if I have to manage every schema change manually, in my opinion.

[2018-03-09 19:08] premaarya commented on #10803
Sorry for the late response .. I took the latest code just now had one check-in labeled "Fixed extension scaffolding bug" by Shay Rojansky.
I am using the dev branch for Npgsql. Please refer the attached screenshot I am still getting the same error
![postfres-scaffolding error](https://user-images.githubusercontent.com/20116758/37224931-30bcae4c-2392-11e8-8cc7-54678e6e1972.PNG)

the command i exec

[2018-03-09 19:30] yepeekai commented on #9180
The log should be adjusted.  At the moment, it doesn't fail (I think) but there are plenty of lines in the log that say it did failed...

[code]

[2018-03-09 19:37] ErikEJ commented on #10837
I Will document a full path!

[2018-03-09 19:49] cocowalla commented on #6214
@JasonRodman personally, I'm not bothered with automatic migrations - I only found them useful for dev environments, in which case I generally prefer to automate tearing down, recreating and seeding the whole database at startup. What I _do_ want is the ability to do a diff between my current model and a database, and use that to generate SQL scripts that can be executed manually, or be used with

[2018-03-09 20:08] #9695 closed

[2018-03-09 20:11] bricelam commented on #10837
It's a similar issue to #10036, but probably requires a different solution since yours is inside a `connectionString`.

[2018-03-09 20:11] smitpatel opened #11215 "Query: RequiresMaterializationExpressionVisitor issues"
General issue for writing down, where we mark query source for materialization even though its not needed.
- If GroupBy is not last result operator then even though we may not need to generate groupings, we still mark the query source inside the selector for materialization forcing us to do client groupby. See `GroupBy_Distinct()`

[2018-03-09 20:21] bricelam opened #11216 "Analyzer: Unnecessary Include"
We have a runtime warning for this, but it may also be good to add an analyzer to catch the simple cases earlier.

[2018-03-09 20:23] bricelam opened #11217 "Analyzer: Unnecessary Configuration"
It would be good to catch by-convention and redundant/overridden configuration inside OnModelCreating and IEntityTypeConfiguration.

[2018-03-09 20:31] ajcvickers commented on #9180
@yanchenw These log messages do not indicate errors; they are messages out of the model building conventions mechanisms describing what was discovered about the model as it is being processed by the conventions. The log level for these messages will be bumped down to "debug" as part of #10966.

[2018-03-09 20:34] ajcvickers commented on #11119
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-09 20:34] JasonRodman commented on #6214
@cocowalla To someone who follows domain driven design patterns, this is invaluable. We have been using automatic migrations it production environments since it first came out in EF many years ago with great success. The vast majority of our changes are additive, which this work great for. When we remove or move things around we have to intervene, but that is a very rare occasion. When I heard of

[2018-03-09 21:10] yepeekai opened #11218 "'AS' in group by statement when an 'AS' is present in the select statement"
[code]

EF uses Emploi.EmployeurId instead of Emploi.Employeur.Id which is ok.  It renames it in the query with 'AS' statement.  The problem is that the statement get copied in the group by clause with the 'AS' in it.
[code]

This generates the following query:
[code]

[2018-03-09 22:02] ajcvickers commented on #11166
Triage: we will investigate any issues around multiple Skip calls and then decide what to do.

[2018-03-09 22:23] bricelam commented on #11212
We compile ef.dll against netcoreapp2.0 so it can run on .NET Core 2.0, 2.1, 2.2, etc.

[2018-03-09 22:25] bricelam commented on #11212
It always executes on the same runtime as the user's project.

[2018-03-09 22:26] yepeekai opened #11219 "select new {} in a selectmany fails"
[code]
Exception:
[code]

[2018-03-09 22:31] bricelam commented on #11164
(Further discussion [on Stack Overflow](https://stackoverflow.com/q/49127514/475031))

[2018-03-09 23:26] bricelam commented on #10619
I'm still not able to repro this. I'll assume it was fixed by #10532. If the error still occurs in versions 2.0.2 (not yet released) or 2.1.0-preview1-final, let us know.

[2018-03-09 23:41] bricelam commented on #11191
Correct. We may eventually remove the comments that are there.

[2018-03-09 23:42] #9993 closed

[2018-03-09 23:49] ralmsdeveloper commented on #11191
As soon as I complete other priorities, I'll clean it!

[2018-03-09 23:52] #11166 closed

[2018-03-10 00:26] smitpatel commented on #11215
- Presently during translation of GroupBy, we visit only element selector and discard SelectClause (since element selector defines what should go into group). But QSRM doesn't account for this due to lack of QMV backing it. Hence we visit selector & ElementSelector both but we can encountering GroupBy aggregate we cannot demote the selector because it not being QSRE (normal case when joining 2 que

[2018-03-10 00:29] smitpatel commented on #10974
@maumar - https://github.com/aspnet/EntityFrameworkCore/issues/11022 seems same as that but for join key selector case.

[2018-03-10 01:01] ajcvickers commented on #9775
Closing this as it is basically done. Any further requests for enhancements should be filed on the [EF docs repo](https://github.com/aspnet/EntityFramework.Docs).

[2018-03-10 01:01] #9775 closed

[2018-03-10 02:15] ridomin opened #11223 "EFCore 2.0.1 does not build in UWP"
Empty UWP project with reference to EFCore 2.0.1 fails with

[code]

## Repro Steps.
- OS: Windows Insider RS4
- RS4 SDK installed
- VS 2017 15.6.1
- Create UWP project (TPV/TPMinV=16299, UWP MetaPacakge=6.0.8)
- Install-Package Microsoft.EntityFrameworkCore (latest version is 2.0.1)
- Build

**Observed**: Build fails with the Remotion.Linq error shown above
**Expected**: build succeeds as describ

[2018-03-10 06:26] smitpatel commented on #10934
We need this! Even InMemory provider is not running a lot of async test because of no derived test classes. 😞

[2018-03-10 06:39] #9944 closed

[2018-03-10 13:25] benmccallum commented on #8443
Loving the potential for an EF provider here. Currently investigating GraphQL + CosmosDB and I think it'd be nice to use EF's programming paradigm rather than Cosmos DB's SQL or Linq providers. Struggling a bit getting [graphql-net](https://github.com/ckimes89/graphql-net) playing nicely with relations and show forth. Swapping in an EF provider rather than the Linq provider could be my answer as i

[2018-03-10 15:17] alexk8 opened #11227 "Consider single-responsibility-principle for AsNoTracking() with fix-ups"
Nowadays (efcore 2.0 and 2.1-pre1), AsNoTracking() does not do fix-ups for reference-properties (practically) and, as far as I know, this is considered as a bug and going to be fixed in 2.1 (issue #10603).
Some time ago it did, and some people complained that they actually do not want it happen (see docs comments at the bottom: https://docs.microsoft.com/en-us/ef/core/querying/tracking).
So I thin

[2018-03-10 16:03] efaruk opened #11228 "Consider Supporting Database Constraints with InMemory Database Provider."
Following copied from offical github page: https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/miscellaneous/testing/in-memory.md

If InMemory won't support database constraints I can't see much value using it any way. Please consider supporting RDBMS related features. I don't see anything hard to implement those, at least couple of them like unique constraints...

If

[2018-03-10 16:06] anpete commented on #8443
@benmccallum, @natemcmaster and I hacked something up ages ago: https://github.com/anpete/GrefQL

[2018-03-10 17:34] ajcvickers commented on #11228
Duplicate of #2166  and #11032

[2018-03-10 17:55] ajcvickers commented on #11227
@alexk8 Some questions to clarify what you are asking. First, the current behavior is:
* An entity returned from a tracking query is fixed up for both sides of all relationships to any other tracked entity.
* An entity returned from a no-tracking query is fixed up for both sides of only the relationships explicitly specified in Include.

For example, in this model:
[code]
There are two relationshi

[2018-03-10 19:36] #10944 closed

[2018-03-10 19:38] ajcvickers commented on #5837
Closing this for now because we are not planning on implementing this at this time. (Also, @ErikEJ has already implemented something like this in the EF Core Power Tools.)

We may reconsider putting something in the box for this based on feedback/telemetry, since that would be useful for a different class of user, but the cost of shipping in VS is very high, so at least for now we're not planning

[2018-03-10 19:41] ajcvickers commented on #11187
@ErikEJ Is this still an issue for you? Have you tried clearing all your NuGet caches and deleting all preview versions of the SDK installed by the build? (There were some versioning changes in the SDK a while ago that might cause this.)

[2018-03-10 19:43] ajcvickers commented on #11190
For SA1118, the code generation has been changed slightly so that this pattern is only used in more limited cases, however we have no further plans to change where it is still being used.

For CA1814, this is by-design. It is intentionally not a jagged array.

[2018-03-10 19:48] ErikEJ commented on #11187
I will do that, the build passed on AppVeyor, so it is only an issue on my PC

[2018-03-10 19:50] ErikEJ commented on #11056
PR submitted

[2018-03-11 02:37] alexk8 commented on #11227
@ajcvickers, unfortunately, that's not what I meant.

With tracking behaviour entities are fixed up with ALL entities that returned with query AND already existing in context.
With non-tracking behaviour, now entities are fixed up with ONLY entities that returned within query.
I think that:
1. non-tracking entities should have fixed-up references to tracking ones, which already exist in context (i

[2018-03-11 03:31] alexk8 commented on #11227
Consider this:
[code]
Which makes lots of joins, that are practically unacceptable.
In contrast with:
[code]
Which could use no joins and load far less columns, but now doesnt work

[2018-03-11 07:59] alexk8 commented on #3797
@ajcvickers,
I came here quite late, but...
IMHO, lazy-loading is an "antipattern" and should not have been implemented.
Instead, developers should encourage users to use best-practices (by good documentation), such as context-aware-unit-of-work or something. Example:
[code]
plus
[code]
that's how I usually do it, and I think that's a good approach. IMHO.
Lazy-loading causes ploblems, like circula

[2018-03-11 08:36] hikalkan commented on #3797
As opposite, I think lazy-loading is a good (maybe best) practice for ORMs. Let me explain why;

In DDD, Aggregate roots are considered as transaction units. If we want to make a change on an aggregate root, we normally get it as a whole (including child entities) from data source, make the change and save it as a whole (even if the change is made on a child entity). We are sure that all child col

[2018-03-11 08:39] MarcoLoetscher commented on #5837
It's a very bad decision to close this issue. This is a [critical O/RM feature](https://github.com/aspnet/EntityFrameworkCore/wiki/roadmap#critical-orm-features) on  your roadmap. If the costs are too high to ship the function with Visual Studio, it can be provided as an extension. I don't understand why the world's largest software company (Microsoft) cannot recruit enough staff for this project

[2018-03-11 08:44] MarcoLoetscher commented on #1027
It's a very bad decision to close this issue. This is a [high priority feature](https://github.com/aspnet/EntityFrameworkCore/wiki/roadmap#high-priority-features) on  your roadmap. If the costs are too high to ship the function with Visual Studio, it can be provided as an extension. I don't understand why the world's largest software company (Microsoft) cannot recruit enough staff for this project

[2018-03-11 09:27] ErikEJ commented on #5837
@MarcoLoetscher Have you tried my free Visual Studio extension (EF Core Power Tools)?
I would be happy to work with you on anything that you miss.

[2018-03-11 09:27] ErikEJ commented on #1027
@MarcoLoetscher Have you tried my free Visual Studio extension (EF Core Power Tools)?
I would be happy to work with you on anything that you miss.

[2018-03-11 09:28] alexk8 commented on #3797
I agree that there is only problem, but this problem is Huge problem. Programmers do make mistakes.
By using extra-verb, you explicitly allow platform to go to database. The platform will not go there without that permission. Nobody wants implicit db-trips, especially in loops... especially in nested loops.
So, if lazy-loading exists, it should be clearly visible in every statement where it can ha

[2018-03-11 09:31] ErikEJ commented on #3797
I like that you really have to opt-in: https://docs.microsoft.com/en-us/ef/core/querying/related-data#lazy-loading

[2018-03-11 10:59] Diaskhan opened #11230 "DBSET as List in dbcontext, dynamic loading dbset from assembly (Concept Question)"
Good day friends.
It is possible to make DBSET as list ?

For example there a many dbset in DbContext And all types must defined directly
[code]

It's possible to make this kinf of code.
1.Motivation, add entity in dbset dynamically, clear code of dbcontext!
2.Loading Entities from dynamic assembly ! Dynamic Linking!
[code]
A have seen this repo
https://github.com/bricelam/Sample-SplitMigrations
B

[2018-03-11 11:04] Diaskhan commented on #11230
A have seen this repo
https://github.com/bricelam/Sample-SplitMigrations
But in code of dbcontext we must have defined manually all dbset that will use !

[2018-03-11 11:26] Diaskhan commented on #10220
**jotab123**

**Questions**
1.Could U provide  solution of ure tested projects ?
2. U must profile
`  var item = Activator.CreateInstance(typeof(MyType));`
If there some diference in results, this topic is similar to [https://github.com/dotnet/coreclr]
Similar to reflection perfomance !

**Conclusions**
1.U could profile yore program by profiling tools!
2.U could gather a statistic !
[code]
3. Try

[2018-03-11 12:09] roji commented on #10220
@jotab123 the benchmark code posted above is problematic in that it has no warm-up phase... The slowdown you're seeing may simply be a result of longer start-up times (e.g. when building the model) - that coincides well with the fact that the slowdown disappears with large row numbers.

It's recommended to not roll your own benchmarks in this way and to avoid all the pitfalls by using BenchmarkDot

[2018-03-11 12:27] Diaskhan commented on #10220
![image](https://user-images.githubusercontent.com/15046677/37253254-8a8edb5c-2559-11e8-9560-56058493b805.png)

In scenario where all models are statically(static assembly) compilled the best choise is use **New operator**

In the second one when entity load dynamycally from assembly, is only Activator works !

[2018-03-11 12:30] MarcoLoetscher commented on #1027
@ErikEJ We use EF 6. x in an extensive WPF business application. Unfortunately, there are still some features missing in EF Core for us, so we haven't used EF Core Power Tools yet. Thank you for your work on this extension. The "DbContext Model Diagram" looks very rudimentary for me in comparison to the "Entity Data Model (Read-only)" view in EF Power Tools. I hope that this diagram can be display

[2018-03-11 12:30] dasMulli commented on #3797
I'm glad there is an option to manually wire it up using async calls, though I'd appreciate if there was some "more natural" async way (ideally utilizing `ValueTask<T>`).
Since some users already got bitten by sync-over-async processing due to ASP.NET Core not being limited to classic ASP.NET's parallel request handling limit, having synchronous lazy-loading navigation properties may be a bit dang

[2018-03-11 13:06] ErikEJ commented on #1027
What are you missing - maybe I could add it?

Do you want to create a model from a diagram - this is not this "feature" and not supported/mentioned by the team (EDMX no longer exists) - you can look at the 2 third party tools listed here to help with that: https://docs.microsoft.com/en-us/ef/core/extensions/

[2018-03-11 14:54] MarcoLoetscher commented on #1027
No, I just want to display a read-only model of the DbContext. The Entity Data Model of the [old](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/advanced-entity-framework-scenarios-for-an-mvc-web-application/_static/image15.png) EF Power Tools was much clearer than that of the [new](https://raw.githubusercontent.com/ErikEJ/SqlCeToolbox/master

[2018-03-11 15:09] divega commented on #8443
@benmccallum the idea is to use ownership to model this. When working with relational databases owned entities works as a relationship with stronger semantics (owned entities cannot exist on their own, and we set up eager loading by convention on them). With document databases, ownership will be used to signal that the relationship is mapped within the same document/aggregate rather than an FK.

C

[2018-03-11 16:35] caleblloyd commented on #11132
I made this change, and can now see that we have a lot of references to upstream internal classes.  How are you guys dealing with this @ErikEJ @roji?  Copying these files into your provider?

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/497#issuecomment-372128480

[2018-03-11 17:17] roji commented on #11132
I haven't made the change, but I wouldn't be surprised to find out I have some references to EF Core internal classes. I work hard to keep the provider in sync with EF Core relatively quickly, so I'm sure that has prevented breakage as I adapt to changes in internal EF Core code...

[2018-03-11 17:18] roji commented on #11132
Coming to think of it, aside from very specific extension classes that should automatically light up for users, why shouldn't all provider classes be in their own namespace? What's the gain in having even non-public classes in Microsoft.EntityFrameworkCore?

[2018-03-11 19:06] ErikEJ commented on #11132
I have the following problematic uses of .Internal namespaces, that I cannot see how to avoid, but maybe I am doing something wrong? @ajcvickers

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Extensions/SqlCeServiceCollectionExtensions.cs

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/tree/master/src/Provider40/MetaData/Conventions/Internal

htt

[2018-03-11 19:15] smitpatel commented on #11132
I looked at MySQL solution to figure out what kind of references to EFCore Internal classes are.

1. Conventions are Internal, when provider has to add more conventions or extend one of the core ones, they are required to use .Internal
2. ProviderMetadataAnnotations/BuilderExtensions classes are using InternalMetadataBuilders/ConfigurationSource which requires .Internal
3. IRelationalCommandBuilde

[2018-03-11 19:21] smitpatel commented on #11132
From SqlCe, apart from 1-2 from last post about Convention/Annotations,

`QueryCompilationContext` requires `ILinqOperatorProvider`. That interface & implementation both are .Internal. So overrideing QueryCompilationFactory forces use of .Internal.

[2018-03-11 19:24] ErikEJ commented on #11132
@smitpatel  But must I override QueryCompilationContext at all??

[2018-03-11 20:29] smitpatel commented on #11132
@ErikEJ - Yes. The interfaces are public so providers can override it. Perhaps one of the parameter type left out from public by error.

[2018-03-11 21:40] mguinness commented on #1027
@MarcoLoetscher IMHO your best bet would be to use [Entity Developer](https://www.devart.com/entitydeveloper/editions.html) as it's the closest replacement I could find for the old EDMX designer.  I'd encourage you to try the Express Edition (which is limited to 10 tables) to see if it meets your needs.

![image](https://user-images.githubusercontent.com/14002844/29324877-80a1a952-819a-11e7-97dd-3

[2018-03-11 22:19] Devy-Devly commented on #10765
I found I had problems creating my context if I also Owned another property that was listed after the Conversion, i.e. order of the builder code is relevant
e.g.
The following fails:
`builder.Property(x => x.Email).HasConversion(
                    new ValueConverter<Email, string>(email => email, value => Email.Create(value)));`
`builder.OwnsOne(p => p.OtherEmailType).Property(p => p.Value).HasC

[2018-03-11 22:32] firelizzard18 commented on #3797
@alexk8 If you don't like it, then don't use it

[2018-03-12 01:05] jonreis opened #11231 "Should not require [NotMapped] when using a Database First development approach"
I am using the Database first approach generating my classes using the EF Core Power Tool extension with HandleBars.

https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools

The EF Core Power Tools generates partial classes in one set of files and I add <classname>.Partial.cs files to extend the functionality of the generated classes, by adding properties that are outside of the data mode

[2018-03-12 02:13] ajeetys opened #11232 "Owned types not included on GetDatabaseValues() on entry"
When an entry with owned types is queried through entry.GetDatabaseValues(), owned types are not being retrieved.
Below is an example:
[code]

When  an existing student gets updated through a disconnected context...
[code]
The above call ``entry.GetDatabaseValues()`` generates the below SQL

[code]
How do I get to include the owned type and change track it?

### Further technical details
EF Core v

[2018-03-12 02:41] caleblloyd opened #11233 "[MySql Provider Question] 2.1.0-preview1 Upgrade 'GeneratedTime.CreatedTimestamp' could not be mapped"
I am working on the Pomelo MySql provider update to 2.1.0-preview1:

- Branch is [here](https://github.com/caleblloyd/Pomelo.EntityFrameworkCore.MySql/tree/f_2.1.0-preview)
- PR is https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/510

Presently everything is failing with this error and I can't figure out what is missing.  Could you point me in the right direction @ajcvicke

[2018-03-12 03:23] ajeetys opened #11234 "Alternate key relationship mapping throws when returned as a readonly collection"
Relationship mapped based on alternate keys with a backing field and being returned as a readonly collection throws exception. This happens either through eager loading or explicit loading.

Course collection gets loaded, but the Coupons throws.

[code]

### Steps to reproduce

[code]

Changing to below, results in no exception, but the collection is not loaded.
[code]
When changed to this, the co

[2018-03-12 03:47] smitpatel commented on #11234
Duplicate of #10612

As a work-around, you can define your relationship first then set PropertyAccessMode on navigations.

[2018-03-12 04:58] simeyla commented on #4324
@ShiroYacha If you came up with a class you could share I'd very much like to do see what you came up with. Thanks.

[2018-03-12 07:12] #11170 closed

[2018-03-12 09:09] johnnycamby commented on #11101
@anpete sorry for the late reply. My contexts were targeting different databases and yes i realised EF doesn't support it.

[2018-03-12 10:10] berets76 opened #11235 "Wrong FK's creation in migration"
Hi, we upgrade to 2.1.0-preview1-final to solve some issue related to "Optimization of correlated subqueries" (2.1.0 release note).

Our model was perfectly generated with 2.0.1 version but now the core seems to not recognize fluent settings and duplicate our foreign keys.

### Steps to reproduce

Sample model

[code]
Fluent settings

[code]

Generated CountryNames table

![image](https://user-ima

[2018-03-12 10:27] benmccallum commented on #8443
Thanks @divega, was poking around the source code thus far and looks awesome. 😄

Looks like Cosmos DB doesn't support cross-collection joins, there's talk of cross-document joins which might help, but I guess this means any navigational properties (FKs) would always be lazy-loaded? Could this be an n+1 nightmare? I'm still getting my head around doc dbs but it seems like putting commonly queried d

[2018-03-12 11:15] tonygeorgiew commented on #11076
Yes, I believe highly so,
you can see the source code here yourself https://github.com/tonygeorgiew/eShop

[2018-03-12 15:32] roji opened #11236 "Guidance: best place to implement provider-wide features"
As part of implementing external plugins for the Npgsql provider (Nodatime, NetTopologySuite...), I need to provide a method for users which changes some global provider behavior (specifically add mappings and translators, see https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/300). Now, these changes aren't specific to a context - they affect all usage of the Npgsql provider.

[2018-03-12 15:40] OpenSpacesAndPlaces opened #11237 "In-memory Where clause Misc"
I'm not sure if this is working as intended, but thought I'd pass this along.

Working with a JSON string field that is getting getting converted to a list for running a LINQ intersect against a passed-in list. I found that scoping the expression in terms of a type conversion from the DB field threw an error, but if I scoped it in the reverse, in terms of the passed-in list, the expression worked

[2018-03-12 16:24] Tarig0 commented on #11174
If I upgrade my migrations project alone,

module A 2.0.1
module B 2.0.1

migrations project 2.1.0

I get the following

[code]

[2018-03-12 18:02] divega commented on #11188
Thanks @juripyykko. This indeed looks like a duplicate of #9249. The problem is that the underlying Xamarin.iOS bug which was believed to be fixed still manifested in some flavors of ARM and iOS, and hence got reactivated.

According to https://bugzilla.xamarin.com/show_bug.cgi?id=59184#c58, a more complete fix has been committed and verified and will be included in the 15.7 release of Xamain, whi

[2018-03-12 18:10] sam-wheat opened #11238 "Performance test - Best approach for inserting"
db.Entry(v).State = Microsoft.EntityFrameworkCore.EntityState.Added;

My question relates to the above statement. Not shown in the code below is a test where all rows are added to the context before SaveChanges is called.  Test is not shown because if I just add rows to the DbContext without ever calling SaveChanges the program times out without ever hitting the database.

It appears the dbcontext

[2018-03-12 18:14] divega commented on #9249
Update: According to https://bugzilla.xamarin.com/show_bug.cgi?id=59184#c57, the more complete fix in Mono 2017-12 is now merged and has been verified on Xamarin.iOS.

According to https://bugzilla.xamarin.com/show_bug.cgi?id=59184#c58, the fix should be included in the 15.7 release of Xamarin, which I believe maps to Xamarin.iOS 11.9 (at least I found that on https://github.com/xamarin/xamarin-ma

[2018-03-12 18:49] zinov opened #11239 "Specify order of columns in SQL generated from LINQ queries that project a whole entity"
I would like to have an option or an attribute in entity framework core that cares about the order of how the SQL queries are generated from Linq queries that project a whole entity,

If my model a Person or a Truck,  IsDeleted and CreatedDate fields can't be marked as the last properties of every generated query. The [Column(Order = #)] attribute doesn't work in this scenario

[code]

[2018-03-12 18:50] zinov opened #11240 "How to make soft delete in cascade with Entity Framework Core including navigation properties?"
I can get all the entities marked as IsDeleted = true, applying query filters, where IsDeleted is a field of my entities.

Now, my question is very simple, how to make a soft delete in cascade with Entity Framework Core when I am soft deleting an entity that has navigation properties that I want to mark as IsDeleted too.

I also posted the question here:
https://stackoverflow.com/questions/4924215

[2018-03-12 18:53] canselcuk commented on #7143
If you are using Visual Studio 2017, actually you dont need "Microsoft.EntityFrameworkCore.Tools.DotNet"
instead of it  install the "Microsoft.VisualStudio.Web.CodeGeneration.Design"
From Tools > NuGet Package Manager > Package Manager Console    Run the following command
Install-Package Microsoft.VisualStudio.Web.CodeGeneration.Design

[2018-03-12 18:59] divega commented on #11236
I believe we have actively tried not to need something like this :smile:

Curious, do you already have a global API for this at the ADO.NET layer? How does it look like? Could you factor things so that you only need to set these mappings at the ADO.NET layer and have the EF Core provider pick them up as well? (I thought that was implied when I read https://github.com/npgsql/Npgsql.EntityFrameworkC

[2018-03-12 19:20] roji commented on #11236
At the ADO.NET level, mapping changes can be added/modified either at the global level or at the connection level:

[code]

To be honest, the per-connection mapping is a bit far-fetched: I expect 99% of users will just set up Nodatime globally for their entire application, but I wanted the option to be there at least for completeness. For intensive short-lived connections, setting up the mapping e

[2018-03-12 19:37] marek-safar commented on #9249
15.7 preview 1 should go out today with the final version (RTW) to be somewhere around 10th of May

[2018-03-12 20:03] jonreis commented on #8824
Hello @bricelam, question regarding where this is going please. If I have the following table definition:

CREATE TABLE [Schema] (
  [SchemaId] INTEGER  NOT NULL
, [SchemaVersion] nvarchar(16)  NOT NULL
, [DatabaseVersion] int  NOT NULL
, [Expression] ntext NULL
, [Description] nvarchar(1024)  NULL
, [ReadOnly] bit NOT NULL
, [ModifiedDateTime] datetime NOT NULL
, CONSTRAINT [sqlite_master_PK_Sche

[2018-03-12 20:03] ajcvickers commented on #11227
@alexk8 The other big reason for using no-tracking is to get a view of the values in the database for entities that are already tracked by the context. In this case, fixing up to entities that are tracked by the context would not be desirable. However, doing one-way fixup to tracked entities (but not back the other way) for some forms of no-tracking query is an interesting idea that we will consid

[2018-03-12 20:05] ajcvickers commented on #5837
@MarcoLoetscher Can you explain why you think this is so important?

[2018-03-12 20:10] ajcvickers commented on #11230
@Diaskhan There is no need to create DbSet properties on the context in order to get entity types into the model. Instead, use an `.Entity` call on the ModelBuilder in OnModelCreating.

We have discussed in the past doing dynamic discovery for you, but ultimately decided against it, partly because scanning assemblies can be a tricky business to do correctly across all platforms. It's much easier i

[2018-03-12 20:19] ajcvickers commented on #11132
@caleblloyd @ErikEJ @smitpatel @roji This is great data! We will look through these and consider what to do about each case. The goal here is not to force providers to copy "a lot" of code to avoid using internals, but instead to identify and fix holes in the public surface that send providers down the internal code path. However, that being said, there likely is some places that a small amount of

[2018-03-12 20:22] ajcvickers commented on #11132
@roji I have no problem with changing the namespaces of the public provider code if you want to do so, although it will likely technically result in a breaking change at this point, since these are public types that have been shipped. I honestly can't quite remember why we choose this namespace approach for our providers. I think it made some things look "cleaner" in some way, but I don't think it

[2018-03-12 20:23] ajcvickers commented on #10765
@Devy-Devly Can you please file a new issue for this, including full details of how to reproduce the problem and version, etc. as requested in the issue template.

[2018-03-12 20:26] ajcvickers commented on #11231
@ErikEJ Do the power tools do exhaustive configuration or only where conventions would result in something different? (I'm assuming it's the latter, but the above implies that it is the former.)

[2018-03-12 20:27] Tarig0 commented on #11174
Fixed in 2.1 can't wait for the official ready for prod release

[2018-03-12 20:30] ajcvickers commented on #11232
@ajeetys The Address is a different entity instance than the Student, and so GetDatabaseValues needs to be called for that instance. I'm curious as to why you expect the database values to be returned for the address when you call it for the student?

[2018-03-12 20:34] Tarig0 commented on #11174
To bad I can't just upgrade my migrations project.

migrations 2.1 -> extendmodel module a 2.0
   -> extendmodel module b 2.0

Looks like the error above comes in because the old 2.0 operations gets removed.

[2018-03-12 20:34] ajcvickers commented on #11233
@caleblloyd That exception means that the the type mapper (ITypeMappingSource in 2.1) is not returning a mapping for DateTime. ITypeMappingSource calls into your implementation of IRelationalTypeMapper if you haven't implemented the new service shapes directly.

[2018-03-12 20:36] ajcvickers commented on #4324
@simeyla There really shouldn't need to be any reason to implement this interface. Sensitive data logging is turned on or off by the call on DbContextOptionsBuilder.

[2018-03-12 20:42] andreluizsecco opened #11241 "EF Core - Disable lazy-loading for some navigation properties"
Hello,

I'm testing the lazy loading in EF Core (preview1-final version), leaving it enabled by default in my DbContext.

Ex:

[code]

From what I've noticed, this setting forces me to have my navigation properties marked as "virtual". In one of my entities, I have 3 navigation properties, but I want to enable Lazy loading in just two of them (I would not like to implement ILazyLoader, as it would

[2018-03-12 20:47] ZooDoo4U commented on #11075
I think there is a bug when a model includes a new field to a class, in my case a nullable field (public DateTimeOffset? DateOfInterest { get; set; }) and perform a migration.    If I downgrade to 2.0.1  the migration works no error all worked fine.  I then added another nullable DateTimeOffset?, upgraded back to the "2.1.0 final preview" and i get the error again...

**Vitals**:
VS 2017 (15.5.7)

[2018-03-12 20:54] ajcvickers commented on #11236
@roji To Diego's point, we haven't enabled anything like this so far. The closest we have are things like .UseRowNumberForPaging, which changes the way the SQL Server provider works in several ways, or EnableSensitiveDataLogging, which changes the way all of EF works. In both of those cases, the common thing to do is have one setting that is used everywhere by your application, but it is still pos

[2018-03-12 21:00] divega commented on #11223
[Microsoft.EntityFrameworkCore 2.0.1](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/2.0.1) depends on [Remotion.Linq 2.1.1](https://www.nuget.org/packages/Remotion.Linq/2.1.1), which targets .NET Standard 1.0.

Remotion.Linq.dll assembly version in that package is in fact 2.1.0.0.

 Could this be an issue with RS4 SDK?

[2018-03-12 21:02] boxofnotgoodery commented on #11074
Just had another run in with this issue.
Turned out to be use of System.Uri

Curious if it was some sort of default value or constructor issue I set a default value in my modelbuilder..
Which then let me to "type 'Uri' which is not supported by current database provider. " being thrown.

I switched my System.Uri to string and things are back to operational.

[2018-03-12 21:15] divega commented on #10999
Here are some initial thoughts on this (based on a conversations with @SteveSandersonMS):

Reasons EF Core may not be a good fit for Blazor:
- Size constraints: I don't know what the effective constraints are, but perhaps @SteveSandersonMS can provide some more information. Presumably this maybe less of an issue for Electron apps (as [mentioned above in the thread](https://github.com/aspnet/Entity

[2018-03-12 21:25] caleblloyd commented on #11233
We're still using IRelationalTypeMapper

The CLR Type Mapping for DateTime is here:

https://github.com/caleblloyd/Pomelo.EntityFrameworkCore.MySql/blob/f_2.1.0-preview/src/EFCore.MySql/Storage/Internal/MySqlTypeMapper.cs#L147

This method hasn't changed from 2.0.1 to 2.1.0-preview1

Anything else that could cause it?

[2018-03-12 22:05] bricelam opened #11242 "Relational: CharTypeMapping doesn't escape apostrophe"
Generating the SQL literal will produce `'''` with is an unclosed string starting with apostrophe.

This is low priority for us since neither SQL Server nor SQLite use this.

[2018-03-12 22:27] divega commented on #10541
Visual Studio 2017 version 15.6 includes several improvements to F# tooling's .NET Standard support (see [release notes](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes) for details).

I am going to go ahead and close this issue as external, because there doesn't seem to be any actionable item for EF Core and I hope the underlying issue has been resolved.

If it turns ou

[2018-03-12 22:30] ajcvickers commented on #11241
@andreluizsecco Configuration of only specific navigation properties is tracked by #10787, which is currently on the backlog. We don't plan to pivot this behavior using virtual because that was a common source of errors/confusion in classic EF--it's very easy to miss a virtual and not notice.

[2018-03-12 22:36] ajcvickers commented on #11233
@caleblloyd I would suggest debugging to see why the type mapper is not returning a mapping on this code path.

[2018-03-12 22:46] ajcvickers commented on #11239
@zinov Can you explain a bit more about why the order in the query is important to you?

[2018-03-12 22:49] ajcvickers commented on #4025
Note to implementer: remember to make cascade delete (of tracked entities) work.

[2018-03-12 22:51] ajcvickers commented on #11240
@zinov This is not implemented yet--it will likely happen as part of #4025. As a workaround you can process the entities in SaveChanges to find dependents and flag them as deleted. You might want to use the code EF uses internally as a starting point: https://github.com/aspnet/EntityFrameworkCore/blob/0a513ae5df2c846bd6790ae1a0740fa000e02633/src/EFCore/ChangeTracking/Internal/StateManager.cs#L826

[2018-03-12 22:53] ajcvickers commented on #11075
@ZooDoo4U This looks like a different problem than is being tracked here. Can you please open a new issue for it?

[2018-03-12 22:57] bricelam commented on #8824
No. In SQLite, column type names mean nothing*. System.Data.SQLite added additional semantics to them to map them CLR types.

Early on, we decided that Microsoft.Data.Sqlite and EF Core's SQLite provider should not add these additional semantics instead exposing the underlying SQLite behavior more directly.

This issue is about looking the actual *data* to determine the CLR type. The column type n

[2018-03-12 23:01] bricelam commented on #8824
For additional reference, System.Data.SQLite's column to EDM type mapping is specified [here](https://system.data.sqlite.org/index.html/artifact/7c6ce7a622e681fd).

[2018-03-12 23:04] bricelam commented on #8824
The Microsoft.Data.Sqlite [Data Type Mappings](https://github.com/aspnet/Microsoft.Data.Sqlite/wiki/Data-Type-Mappings) might also be interesting.

[2018-03-12 23:45] jonreis commented on #8824
Hi Brice. Thank you for the reply. Please bear with me I am new to EF Core and I just spent a couple of days attempting to port a relatively simple data model from EF6 to EF Core 2.1, just to see where the pain points will be. I was expecting a simpler port, but found that it was more difficult due not being able to be involved in the code generation (solved with EF Core Power Tools) and the chang

[2018-03-13 00:05] ajeetys commented on #11232
@ajcvickers Thanks for pointing this out. I was seeing Owned type in line with complex type of EF6. In EF6 we cannot get ``DbEntityEntry`` on Address instance.
EF6 includes data for complex types on GetDatabaseValues().

I was surprised I could do this with Core
[code]
The way owned types are retrieved when doing a ``_context.Find<Student>(student.Id)`` or you don't need to Include them when loadi

[2018-03-13 00:50] divega commented on #10288
This is an issue with the 2017 version of LocalDB and is not related to memory optimized tables. Here are the repro steps:

1. Install SQL Server 2017 LocalDB edition:
   a. Download [installer](https://www.microsoft.com/en-us/download/details.aspx?id=55994)
   b. Choose Custom option
   c. Execute installer and choose Installation | Upgrade from previous version of SQL Server
   d. Upgrade LocalD

[2018-03-13 00:53] maumar opened #11245 "Query: compilation error for queries with join where the inner key is navigation"
repro using GearsOfWar model

[code]

throws:

[code]

[2018-03-13 00:55] maumar commented on #11245
problem is that inner key nav rewrite goes thru a different code path (needs to be converted to subquery rather than join, because chicken-and-egg problem), and we have some invalid assumptions when the key doesn't have a scalar member at the end

[2018-03-13 01:02] divega commented on #8115
FWIW, this seems to be fixed in SQL Server 2017, however creation of LocalDB databases with SQL Server 2017 is now affected by a different issue: https://github.com/aspnet/EntityFrameworkCore/issues/10288.

[2018-03-13 01:29] ajcvickers commented on #11072
@roji I mad some updates in this PR where I made two changes relevant here:
* All type mappings now have a ValueComparer
* Some helper methods and tests added around composition.

It will take expression tree work to create a complex, non-boxing comparer that composes comparers for arbitrary sub-types, but it should certainly be possible. Let me know if you think there should be helper methods for

[2018-03-13 01:36] #9856 closed

[2018-03-13 01:41] ajcvickers commented on #11232
@ajeetys Thanks for the additional information. It's important to remember that owned types are _not_ complex types even though they can be used for some of the same things. So, to answer your question, it is being treated as a separate entity because it is a separate entity.

[2018-03-13 05:43] satvik1986 commented on #2533
if i use if (lstemployeeRepository.Find(employee.LstEmployeeId)==null)
                return NotFound();

            if (!ModelState.IsValid)
            {
                return new UnprocessableEntityObjectResult(ModelState);
            }

            lstemployeeRepository.Update(employee);
Getting error "System.InvalidOperationException: 'The instance of entity type 'LstEmployee' cannot be t

[2018-03-13 06:12] steve17wgit commented on #10215
Please configure the connection string in ConfigureServices before running the line
Add-Migration Initial

public void ConfigureServices(IServiceCollection services)
{
    // requires
    // using RazorPagesMovie.Models;
    // using Microsoft.EntityFrameworkCore;

    services.AddDbContext<MovieContext>(options =>
        options.UseSqlServer(Configuration.GetConnectionString("MovieContext")));

[2018-03-13 06:44] roji commented on #11132
OK.

At least for my side (with the somewhat-reduced backwards compatibility constraints :)), I think I'll be changing the namespace for the entire provider, aside from extension classes which are obviously meant to be publicly-accessible (e.g.`UseNpgsql()`). I'll report back here on any Internal dependencies on EF Core that I find.

[2018-03-13 07:59] ignusin commented on #2266
Wow, I got hit with that one too.
We were really considering the move to .NET Core with EF Core, but now it seems impossible without TPT.
Hopefully it will be released soon.

[2018-03-13 08:30] ErikEJ commented on #11132
FYI: I have file copied Check.cs..

[2018-03-13 08:33] ErikEJ commented on #11231
The Power Tools just wraps the EF Core reverse engineering... And sprinkles a little bit of sugar on top

[2018-03-13 09:21] roji opened #11247 "RelationalQueryCompilationContext accepts internal types in constructor"
RelationalQueryCompilationContext is a public type that needs to be subclassed by providers (IsLateralJoinSupported, MaxTableAliasLength). However, its constructor requires two internal types (ILinqOperatorProvider, IQueryMethodProvider) which force providers to reference internal namespaces in EF Core.

Also, QueryCompilationContextDependencies itself is internal.

[2018-03-13 09:53] roji commented on #11132
OK, that was fun...

Here are some places where Npgsql is referencing Internal components in EF Core. I went a bit quickly so there's probably quite a bit of duplication in the following list. There are also probably cases where I'm simply doing things wrong, let me know.

# Conventions

* Following the SqlServer model, NpgsqlPropertyBuilderExtensions has GetNpgsqlInternalBuilder, which references

[2018-03-13 10:29] masoud-bahrami opened #11248 "System.InvalidOperationException: The operands for operator 'Equal' do not match the parameters of method 'op_Equality'."
I used the EF 6 and then upgrade source code to dot net core 2 and so i was update EF to EF core 2.
I have some EF query like this:

[code]

Although I had no error before, I'm facing this error now
{System.InvalidOperationException: The operands for operator 'Equal' do not match the parameters of method 'op_Equality'.
   at System.Linq.Expressions.Expression.GetMethodBasedBinaryOperator(Expressio

[2018-03-13 10:46] masoud-bahrami commented on #11248
I think reference equality by using (== or !=) which is used by EF core run into problem since it compare two different object.
I replace `agenda.LoadingLocation == null`   with  `agenda.LoadingLocation.Equals(null)`

[2018-03-13 11:55] Diaskhan commented on #11230
How !!!
Acrtually I do it that way.

Just i'am searching more comfortable way to access to entityes !

[code]

[2018-03-13 13:00] jwalker5006 commented on #9718
I know exactly what you @doublnt are talking about.  Using a CountAsync I get thousands of the select *
I will do my best to try an recreate steps. And post a workaround to the countAsync() flaw.

With my situation, I am testing withSQL using a Select * which I know is bad. I am testing. But the main point is the iquerable CountAsync is doing a SELECT COUNT(*) FROM () AS [p]) over and over again f

[2018-03-13 14:15] fschlaef opened #11249 "Relationship from 'User' to 'Customer' not configured because there are multiple properties on one entity type"
Since updating to 2.1.0-preview1, I noticed these messages popping at startup.
These are apparently due to multiple foreign keys on one table referencing the same table.

For example :

Customer -> What user created the customer (references User)
Customer -> What user modified the customer (references User)

There are no errors or exceptions thrown but the message spam considerably slows down star

[2018-03-13 14:35] julielerman commented on #1027
I agree with @MarcoLoetscher . It's a tool I cannot build models without and we need it for cross-platform work. I'm happy to use @ErikEJ tool when I'm on windows in vs2017. But that's not my most common scenario. Future @bricelam :
![please](https://user-images.githubusercontent.com/5007120/37348316-2bf4ea80-26aa-11e8-8c1e-0ae2acb6e1ed.gif)
:)

[2018-03-13 15:10] nicbavetta commented on #3797
Does this new implementation of Lazy Loading support the retrieval of a children of children?
I have the following POCO structure:

- Parent1
  - Child1
    - Child1A (reference back to Parent1)
    - Child1B
  - Child2

I am using EF Core 2.1 Lazy Loading. When I retrieve Parent1, Child1 and Child2 are loaded, however, Child1A and Child1B are null. I find this odd, especially since Child1A should

[2018-03-13 15:46] ErikEJ commented on #11132
It did not mention Strings (last paragraph above), but I have the same issue, just did not mention it.

[2018-03-13 15:51] ErikEJ commented on #1027
Would SVG format work for you, @Julielerman ?

[2018-03-13 15:54] bricelam commented on #8824
You can change the CLR types after reverse engineering.

We won't. You'll have to update the type manually if you know they're datetime values.

We could apply heuristics, but since the type names could literally be anything (including no type name), we would constantly be getting issues to update the heuristics to match/not match every new type name somebody's application decided to use. SQLite d

[2018-03-13 15:56] JipingWang opened #11250 "Scaffold-DbContext not importing similar table names in different Schemas"
Scaffold-DbContext not importing same table names in different Schemas

### Steps to reproduce
dbo.mytable and tmp.myTable Schemas have similar table names.
Scaffold-DbContext imports both Entity propertites in MyDbContext, but
not only creates one POCO class mytable.
So, building fails.
### solution
Have to rename one table to be imported.

[2018-03-13 16:20] iudelsmann commented on #10988
@ajcvickers Sorry for the delay, had some busy days and some troubles. Tried to test this now but seems to be getting a problem with missing apostrophes surrounding my discriminator values, causing the query to be invalid throwing an exception in postgres. Using ef core 2.1.0-preview2-30301 and npgsql.PostgreSQL 2.1.0-ci-00132.

[2018-03-13 16:45] #9705 closed

[2018-03-13 17:01] bricelam commented on #11250
Duplicate of #3988

[2018-03-13 17:55] jonreis commented on #8824
Thank you for your patience on this Brice. I think we have been talking at cross-purposes here. I have no problem modifying my model after the reverse engineering. That makes sense to me. What I thought was been said is that I could not in general use a bool with SQLite because it doesn't support that type.

So here is what happens if I use a bool in my model. Perhaps it is because I am configurin

[2018-03-13 18:02] stap123 commented on #1833
Just want to throw a +1 onto this, would be excellent to have this feature I commonly hit this limitation.

[2018-03-13 18:03] smitpatel opened #11251 "Query: GroupBy with element selector with aggregate over unmapped properties throws"
[code]
Here `Order.Freight` is unmapped property.
Throws
[code]

[2018-03-13 18:04] jonreis commented on #11231
@ajcvickers, it looks exhaustively configured to me. Please see below:

From the following sqlite definition:

CREATE TABLE [Schema] (
[SchemaId] INTEGER NOT NULL
, [SchemaVersion] nvarchar(16) NOT NULL
, [DatabaseVersion] int NOT NULL
, [Expression] ntext NULL
, [Description] nvarchar(1024) NULL
, [ReadOnly] bit NOT NULL
, [ModifiedDateTime] datetime NOT NULL
, CONSTRAINT [sqlite_master_PK_Schema

[2018-03-13 18:13] andrasg opened #11252 "Using InMemory database with TPH"
I am trying to use the InMemory database engine for my unit tests to "mock" my DbContext. I have created a `DbContext` using a `DbContextOptionsBuilder` specifying `.UseInMemoryDatabase(databaseName)`.
I am using table per hierarchy to store child entities of `AbstractClass`. My EF model works fine over SQL Server.

When running the unit test I get the following exception though:

[code]

Stacktra

[2018-03-13 18:21] ajcvickers commented on #3797
@nicbavetta Based on the info given it seems this should work. Please file a new issue with a runnable project/solution or complete code listing that demonstrates the issue.

[2018-03-13 18:21] andrasg commented on #11252
Ah, ignore, I have added a mapping for the `Discriminator` column and that's why it is complaining.

[2018-03-13 18:22] ajcvickers commented on #10988
@iudelsmann Can you file a new issue for this including a runnable project/solution or complete code listing so that we can investigate? /cc @roji

[2018-03-13 18:26] AndriySvyryd opened #11253 "Perf: more pooling"
Consider using a pool for entity entries and possibly the entities themselves. This would be opt-in and probably require exposing some hook on the entity.

[2018-03-13 18:35] julielerman commented on #1027
@ErikEJ The format is not the issue but where I can run it from. If you could take the work you did to make it happen in VS 2017 without depending on the class designer and have an extension for VS Code, that would be amazaballs!

[2018-03-13 18:41] roji commented on #10988
Any missing apostrophes sound more like an issue in the Npgsql provider (and unrelated to the original issue above), can you please post a code sample on [Npgsql.EntityFrameworkCore.PostgreSQL](github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL)?

[2018-03-13 18:43] generik0 opened #11254 "Can't mock DatabaseFacade"
Hi

The DatabaseFacade is impossible to mock.
Could the Facade not be an abstractions, without all those nasty extensions?

Your concrete DatabaseFacade could easily be abastracted=? This will also give you the ability to have different Facades for diiferent implemenations. Also allowing you to SO**L**ID .

Any thoughts?

[2018-03-13 19:02] AndriySvyryd opened #11256 "Perf: Cache EntityEntry"
Storing `EntityEntry`/`EntityEntry<TEntity>` in the `InternalEntityEntry` lazily would prevent redundant object instantiation when performing bulk operation on the entries and/or handling state events

[2018-03-13 19:24] ilmax opened #11257 "Feature parity: Add IQueryTypeConfiguration<TEntity>"
I really like the addition of the new `IEntityTypeConfiguration<TEntity>` type that allows us [self-contained type configuration for code first](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-2.0#self-contained-type-configuration-for-code-first) and if I'm not missing anything, this types allows only entity (i.e. not query types) to be configured.
I think ef can provide the same expe

[2018-03-13 19:40] bricelam commented on #8824
Oh weird. Yes, that should definitely work. Could you fine a new issue with a simplified repro? It may be hitting a bug somewhere in query.

[2018-03-13 19:50] jonreis commented on #8824
Not sure why it is being reverse engineered as a string when the type in Sqlite is an integer.

I will log a new issue with a sample project.

Thanks for your help.

[2018-03-13 20:09] MarcoLoetscher commented on #5837
It makes life easier for us developers. You could also ask what an IDE like Visual Studio needs. Most people get along better with visual tools than with a command-line.

[2018-03-13 20:59] edwiles commented on #11190
That's fine but how about adding suppression pragmas to the generated code?

[2018-03-13 21:17] jonreis opened #11258 "Sqlite - System.InvalidOperationException: 'An exception occurred while reading a database value for property 'Schema.ReadOnly'. The expected type was 'System.Boolean' but the actual value was of type 'System.Boolean'.'"
I am trying to use EF Core with a version of Sqlite that supports encryption. Everything seems to work except for bool types. (see attached project that reproduces the problem)

It does seem related to the fact that I am using System.Data.SQLite.Core 1.0.108. If I use an unencrypted database and do not pass in the SqliteConnection into the optonsBuilder, the bool is handled fine.

      var connec

[2018-03-13 21:18] jonreis commented on #8824
@bricelam logged as #11258

[2018-03-13 21:32] roji commented on #11236
@ajcvickers thanks for explaining that.

The problem here is that at the ADO.NET layer, these plugins modify global state. In other words, once you (globally) set up the Nodatime in the ADO.NET layer, then reading timestamp columns will suddenly start to provide Nodatime objects, and if EF Core expects ordinary .NET DateTime then we'll have a crash. The fundamental issue is that the ADO.NET layer

[2018-03-13 21:37] roji commented on #11072
@ajcvickers I'll sync up with your changes soon and will let you know how it goes.

[2018-03-13 21:46] #11036 closed

[2018-03-13 21:49] smitpatel commented on #10012
[code]
[code]

Few issues here:
- Since Key comes from anonymous binding from SelectExpression. It is alias expression which may need to unwrapped.
- When the join key is aggregate function, the initial client eval does not use SqlTranslatingExpressionVisitor, causing issue with grouping parameter being non-sequence type.
- Even after above is fixed, the QueryModelVisitor generated for subquery la

[2018-03-13 23:40] ajcvickers commented on #10573
Closing again--responded to @ardalis on email about the general issue from which this came, and confirmed previous triage decision.

[2018-03-13 23:46] ajcvickers commented on #11236
I don't think we want to make the common case slow just to support a more obscure scenario. Sounds like your provider really does have global configuration, and this cannot be obtained purely from the ADO.NET provider because it needs to know things that ADO.NET doesn't know. We haven't done any work on global configuration, but there is the EF class which is the starting point for a lot of "stati

[2018-03-13 23:52] ajcvickers commented on #11190
@edwiles Because adding suppressions makes the code less readable for everyone, even those people (which is a lot) who don't use these tools. The discussion in #10203 may be relevant to this point,

[2018-03-14 00:00] ajcvickers commented on #11254
@generik0 The extension methods are a key part of allowing database providers to extend the API.

In general, creating test doubles for DbContext and related classes is not recommended. If you do need to create test doubles, then consider creating your own repository API and mocking that. You might also consider using DbContext with the in-memory database or with SQLite running in in-memory mode.

[2018-03-14 01:19] smitpatel commented on #9969
Pulling this back into 2.1 milestone. I got it working.

[2018-03-14 03:06] xie-sheng commented on #1862
entityframework core 2.1 resolove raw queries

1.  add  modelBuilder.Query<YourModel>() to OnModelCreating

2 .use db.Query<YourModel>().FromSql(rawSql) get data

[2018-03-14 06:01] generik0 commented on #11254
Hi
I would love to use the in mem dB.
But the migrations are unique from dB to dB. Hence i would need multiple migrations for each dB.

Also the sqlite does not support Removing columns etc. so the migration needs to rename the table, create a new table and transfer the data. Then set the constraints.

Would a abstract DatabaseFacade not help this?
So your migrations can be cross dbs and the facad

[2018-03-14 07:51] generik0 commented on #11254
@ajcvickers

Please note, The only reason this came up was because i was implementing a uow pattern. So i needed to test it. And making a mock of the DatabaseFacade was easiest when it helps making the transaxtions. I also tried to make a proxy with NSubstitute .PartOf<> so i coul atleaset check that messages are received.
Nothing works with the DatabaseFacade :/

c#```
if (db.ConnectionState != C

[2018-03-14 07:51] bruceliu2008 opened #11261 "Support cache when creating a sequence"
Hi,
    May I know are there any plan for ef core to support cache size for sequence, something like this:
modelBuilder.HasSequence<int>("OrderNumbers", schema: "shared")
            .StartsAt(1000)
            .IncrementsBy(5)
            **_.CacheSize(10)_**;

Thanks,
Bruce'

[2018-03-14 09:58] sir-boformer opened #11262 "Predicate (date == DateTime.MaxValue) always returns false (EF 2.1-preview1-final)"
The query ``.Where(m => m.Date == DateTime.MaxValue)`` does not work, no results are returned.

This is a new problem that started occurring when I switched from Net Core 2.0 (with Microsoft.AspNetCore.All 2.1.0-preview1-2737) to Net Core 2.1 (with Microsoft.AspNetCore.All 2.1.0-preview1-final).

I reproduced this in my migrated main project and a separate [newly setup test project](https://github

[2018-03-14 12:43] GertArnold commented on #453
@thiagomajesk Maybe it's a scant comfort to know that AddOrUpdate in EF6 had [its own problems](https://github.com/aspnet/EntityFramework6/issues/23), considerably limiting its usefulness.

[2018-03-14 16:31] ajcvickers commented on #11238
@sam-wheat Have you tried switching off DetectChanges while the rows are being added? If this doesn't help, then can you please post a runnable project/solution or code listing? The code above is missing important parts needed to make it compile, which makes it pretty hard to use to really test what you are seeing.

[2018-03-14 17:09] ajcvickers commented on #11262
Note for triage:
Insert SQL:
[code]
Query SQL:
[code]

[2018-03-14 17:28] smitpatel commented on #10870
We generate SQL like this now
[code]

[2018-03-14 17:31] berets76 commented on #11235
### UPDATE (SOLVED?)

The problem is in the fluent, this line

`modelBuilder.Entity<CountryName>().HasOne<Country>().WithMany(wm => wm.Names).HasForeignKey(fk => new { fk.TenantID, fk.CountryID });`

generate "wrong" FK, instead this one

`modelBuilder.Entity<CountryName>().HasOne(ho => ho.Country).WithMany(wm => wm.Names).HasForeignKey(fk => new { fk.TenantID, fk.CountryID });`

use my correct fi

[2018-03-14 17:31] smitpatel commented on #9969
We translate
[code]
[code]
Same happens when grouping is by a variable from closure.

[2018-03-14 17:41] roji commented on #10870
Unless I'm mistaken, `HAVING` is part of the SQL standard so it should be fine to use it. It's great that EF Core will be using it.

[2018-03-14 17:49] #10870 closed

[2018-03-14 17:49] #9969 closed

[2018-03-14 17:49] #11157 closed

[2018-03-14 17:49] #11176 closed

[2018-03-14 17:49] #11218 closed

[2018-03-14 17:59] smitpatel commented on #9481
Assigning to @maumar to verify this is fixed while fixing #10974
If there is still invalid sql, feel free to pass me back.

[2018-03-14 18:28] ilmax commented on #11257
if you guys like the idea and label it as an up for grabs/are interested in a contribution for this one, I can submit a PR

[2018-03-14 19:34] DamianEdwards commented on #10554
Is this going to land in preview2? Also, can you ensure an issue get's logged in aspnet/templating to remove the project tool reference once this is integrated into the SDK installer, thanks.

[2018-03-14 19:35] karimo3 opened #11264 "issues when executing "Add-Migration" command"
Describe what is not working as expected.
I am following a tutorial on the Microsoft site --> https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model
I am up to the part where I need to "Add scaffold tooling and perform initial migration". I have installed the required NuGet package (microsoft.visualstudio.web.codegeneration.design) and attempted to run the "Add-Migration" command

[2018-03-14 20:33] ajcvickers opened #11266 "Identify and document internal code used by providers"
Following up on the discussion from #11132, we have decided to take the following action for 2.1:
* Identify the internal types that are used by the "big five" providers (Postgres, MySQL, SQLite, SQL Server, SQL Compact) and add a note to each of these types to avoid breaking in the 2.1 timeframe
* File an issue for each class of internal code--e.g. one for resource strings, one for conventions, a

[2018-03-14 20:36] ajcvickers commented on #11132
@ErikEJ @roji @caleblloyd I filed #11266 to capture the work we plan to do in 2.1 with regard to provider use of internal types. Can we continue any discussion there?

[2018-03-14 20:36] ajcvickers commented on #11266
@ErikEJ @roji @caleblloyd Would appreciate your thoughts on this.

[2018-03-14 20:47] ajcvickers commented on #11231
@jonreis We discussed this cam to some conclusions below, but let me first explain what is going on. When a database is reverse-engineered (whether using the Power Tools or the command line) this results in a Code First model being created. Code First just means that the code represents the model--i.e. there isn't some other underlying model definition; it's just the code. Also, because partial cl

[2018-03-14 20:52] #11074 closed

[2018-03-14 20:52] #11152 closed

[2018-03-14 20:52] roji commented on #11266
@ajcvickers would you like me to open issues for the points raised in #11132?

[2018-03-14 20:53] maumar opened #11267 "Query: empty AnonymousObject.GetHashCode throws"
GetHashCore uses Aggregate which doesn't work with null inputs

[2018-03-14 21:00] ajcvickers commented on #11236
@roji We discussed this in triage and came to the following conclusions. First, it would be great if this didn't really need to be global. Some of the ideas put forward were:
  * Have different connection pools for the different cases, which may make the perf hit in the common case less of an issue (@divega)
  * Integrate ADO.NET with D.I. such that it doesn't need true globals (@anpete)

However,

[2018-03-14 21:33] ajcvickers commented on #11266
@roji That would be great, especially if you could include the actual internal types that are being used so we know where to go make annotations in our code.

[2018-03-14 21:41] roji commented on #11236
Thanks to you and the team for spending the time discussing this.

This could be a good direction, but the problem (as we've discussed many times in the past) is that there's no ADO.NET concept of a pool (see https://github.com/dotnet/corefx/issues/26714), so at the ADO.NET level there's no easy place for users to specify they want the plugin (e.g. Nodatime)...

Even if this ADO.NET issue were sol

[2018-03-14 21:46] sam-wheat commented on #11238
WOW just what I needed.  Thanks!

Is [this post](https://blog.oneunicorn.com/2012/03/12/secrets-of-detectchanges-part-3-switching-off-automatic-detectchanges/) also valid for EF core?

[2018-03-14 21:52] ajcvickers commented on #11262
@sir-boformer This also fails for me on EF Core 2.0.1. Can you confirm that this was something that worked with EF Core 2.1 before preview1 but now fails with EF Core 2.1 preview1? Or does it only fail when running EF Core on .NET Core 2.1 as apposed to .NET Core 2.0? Do you know if it worked with EF Core 2.0 on any platform?

[2018-03-14 22:16] smitpatel commented on #10012
Moving this to backlog. We will be doing client eval (streaming groupby) whenever we the GroupByAggregate query is used in conjunction with join.

[2018-03-14 22:40] ajcvickers opened #11270 "Update Has.../With... API docs to be clear on meaning of not specifying a navigation property"
See #11235

[2018-03-14 22:40] ajcvickers commented on #11235
Notes from triage: The behavior, as designed, for the Has.../With... methods is that if no navigation property is specified, then it means that relationship explicitly does not use that navigation property. However, there was a bug in 2.0 and before which meant that if the navigation property was not explicitly configured to be part of another relationship, then it would be brought in as the navig

[2018-03-14 22:40] #11235 closed

[2018-03-14 22:49] ajcvickers commented on #11247
Assigning to @smitpatel to add annotations (comments) to the code about this--part of #11266.

[2018-03-14 22:51] sir-boformer commented on #11262
I can confirm that it works that it works with version:

Microsoft.AspNetCore.All **2.1.0-preview1-27377**
TargetFramwork: netcoreapp2.0
Branch: https://github.com/sir-boformer/EF-DateTime-Bug/tree/preview1-27377

Further investigation:

It also works with **2.1.0-preview1-27377** and netcoreapp2.1
Branch: https://github.com/sir-boformer/EF-DateTime-Bug/tree/preview1-27377-net21

That means the sw

[2018-03-14 22:53] ajcvickers commented on #11249
@fschlaef Thanks for reporting this. A couple of questions:
* How many lines are logged to build the model?
* What is the performance like when LogLevel is changed to Information? How about Warning?

[2018-03-14 22:55] ajcvickers commented on #11257
@ilmax We would love a PR to fix this one. Thanks!

[2018-03-14 22:59] ajcvickers commented on #11258
@jonreis Looks like you are not using [Microsoft.Data.Sqlite](https://github.com/aspnet/Microsoft.Data.Sqlite) but instead using the System.Data.SQLite provider. The EF Core SQLite provider is designed only to work with Microsoft.Data.Sqlite since it behaves significantly differently than System.Data.SQLite.

More information about using Microsoft.Data.Sqlite with encryption can be found on @brice

[2018-03-14 23:06] jonreis commented on #11231
I think it would be reasonable in the future to have a mode that requires attributes for all database properties, or exhaustively configured. I think it would be helpful in the database first workflow, but it is not critical.

@ajcvickers , thank you for taking the time to think about it..

[2018-03-14 23:20] sir-boformer commented on #11262
The problem seems to be the date precision in SQL queries.

The value of `DateTime.MaxValue` is `9999-12-31T23:59:59.9999999`

The query in 2.1-preview1-final:
[code]

In 2.06 the query looks like this:
[code]

[2018-03-15 00:06] #11072 closed

[2018-03-15 00:07] smitpatel commented on #11262
In SqlServer
date literal has no time part
datetime literal has 3 fractional seconds part
datetime2 literal has 7 fractional seconds part
At present we have single type mapping `SqlServerDateTimeTypeMapping` which is used by all 3 types and generates literal in the format of what datetime would expect. Hence it is giving incorrect result in this case (where server type is datetime2)

[2018-03-15 00:07] smitpatel commented on #11262
https://github.com/aspnet/EntityFrameworkCore/blob/13b4f7da77f6cad405f08d9b74d4d168ad382154/src/EFCore.SqlServer/Storage/Internal/SqlServerDateTimeTypeMapping.cs#L19

@bricelam - Do you know reason if any why we chose this specific format?

[2018-03-15 00:28] divega commented on #10288
I was wrong about out code path for "memory optimized" not being involved, however the repro I found yesterday shows that there are multiple ways to hit the same fundamental problem.

Today, I confirmed that you don't even need EF to repro this issue, and we have reported this to the SQL Server team. The saving grace of this is that Visual Studio 2017 still installs the SQL Server 2016 version of

[2018-03-15 00:58] smitpatel commented on #11266
Pomelo.MySql

Annotations Framework
	- InternalEntityTypeBuilder
	- RelationalAnnotationsBuilder
	- ConfigurationSource
	- InternalIndexBuilder
	- InternalModelBuilder
	- InternalPropertyBuilder
	- InternalKeyBuilder
	- InternalRelationalBuilder
	- RelationalForeignKeyBuilderAnnotations

Conventions
	- DatabaseGeneratedAttributeConvention
	- IModelInitializedConvention
	- RelationalConventionSetbu

[2018-03-15 01:12] FrederickBrier commented on #11152
Thank you very much! I will try out the nightly build when it gets merged.

[2018-03-15 01:20] smitpatel commented on #11266
Npgsql

Annotations Framework
	- InternalEntityTypeBuilder
	- ConfigurationSource
	- InternalIndexBuilder
	- InternalModelBuilder
	- InternalPropertyBuilder
	- InternalKeyBuilder
	- InternalRelationalBuilder
	- RelationalForeignKeyBuilderAnnotations
	- RelationalIndexBuilderAnnotations
	- RelationalKeyBuilderAnnotations
	- RelationalEntityTypeBuilderAnnotations
	- RelationalAnnotationsBuilder
	- P

[2018-03-15 01:21] smitpatel commented on #11266
SqlCe/SqlServer/SQLite is hard to figure out at present because they use the same namespace as EFCore hence no way to differentiate between EFCore type vs provider type.

Blocked on #11132

[2018-03-15 01:23] divega commented on #11236
Absolutely not saying that this solves all the problems :), but FWIW, what I had in mind when I said this was:

- Alternative 1: create an "options" object that contains the setting and you pass to the DbConnection (using a method or a property) before you open it (i.e. before a physical connection is associated with the DbConnection). This options object would be equal-comparable and would act (t

[2018-03-15 01:55] jonreis commented on #11258
@ajcvickers, ok I'm 3 in 0 for bugs.

Though, it seems like this should be prevented if it is not supported. It works, almost. Which means others are going to bump into this. Again, I am coming from the perspective of trying to get something that functioned will in EF6 migrated to EF Core 2.x. It has not been an easy migration.

Is it SQLitePCLRaw.bundle_sqlcipher that is compatible with  SQLite.I

[2018-03-15 02:44] tuespetre commented on #11172
Oops, let this one slip me.

I am writing an extension that provides an alternative query compiler subsystem. It needs to register some things with the service collection.

[2018-03-15 03:36] ly303550688 opened #11278 "ef tools can't quit when it's done"
use visual studio pmc

[2018-03-15 03:36] ly303550688 opened #11279 "ef tools can't quit when it's done"
use visual studio pmc

[2018-03-15 03:36] ly303550688 opened #11280 "ef tools can't quit when it's done"
use visual studio pmc

[2018-03-15 04:14] smitpatel commented on #11280
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-03-15 04:15] smitpatel commented on #11279
Duplicate of #11280

[2018-03-15 04:15] smitpatel commented on #11278
Duplicate of #11280

[2018-03-15 05:28] vinhloc1996 commented on #4649
I have exactly the same issue with the EF core. I also remove the `EnsureCreated()` function and rebuild the project but the error still there. After one day, I run again the `update-database` and it works fine. I really don't know what kind of this error.
So the solution may be: Remove the method `EnsureCreated()` (if any), clean and build the project then try the `update-database`, if it still n

[2018-03-15 07:38] roji commented on #11266
Thanks for the legwork @smitpatel. Just to say that although this is important, it isn't incredibly urgent for me - in general I try to keep up with EF Core so Internal changes at your end are usually a minor annoyance more than anything else.

[2018-03-15 07:51] cello99d commented on #11231
I second this request. It would be very useful if we could tell EF that the mapping for a class is complete.
Right now, we need to include something like the following code in all our mappings to prevent the mapping of addiotonal fields by EF conventions:
foreach (var prop in typeof(Posts).GetProperties(BindingFlags.Public | BindingFlags.NonPublic | BindingFlags.Instance)) {
				if (MappedProperti

[2018-03-15 07:54] roji commented on #11236
That reminds me a bit how SqlClient includes the username in the pool key alongside the connstring (for "integrated security"). I like this option less then:

This could be interesting. Rather than asking users to set up their plugins (either globally or per-connection), a plugin would register a "plugin ID" with Npgsql, which the user would then be able to reference in the connstring. That would

[2018-03-15 09:14] fschlaef commented on #11249
@ajcvickers I investigated this further :

- The application takes 3 minutes to start, but VS says the debugging session lasted ~10 seconds, and increments seconds at a fraction of realtime speed. So VS is slowing down a lot.
- The Garbage Collector is apparently going haywire for some reason (see screenshot) and the CPU is at 100%
- The log created just for startup contains 47 000 lines regarding

[2018-03-15 10:11] ErikEJ commented on #11266
@smitpatel Look in this branch, there I have renamed namespace: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/tree/2-1-preview1-prep

[2018-03-15 10:30] ErikEJ commented on #11266
@ajcvickers  Sounds like a good plan, but agree on the urgency with @roji

[2018-03-15 11:00] caleblloyd commented on #11266
Thanks for compiling the list, @smitpatel. I agree with the others on the low urgency, we also try to do minor releases quickly that track upstream.

It would be really nice to get to a point where minor and patch releases don't require many changes, because it can be time consuming figuring out what has changed upstream.

[2018-03-15 12:34] divega commented on #11236
Registration can fix the limitations of the connection string approach. Didn’t think of it :smile:

[2018-03-15 13:03] divega commented on #11236
Some time ago I was in a discussion about authentication plug-ins for another ADO.NET provider, and now that I think of it, I believe it ended up adopting a very similar pattern.

Makes me wonder if it could make sense to try make this a general extensibility mechanism for the provider or if it should be specific for type mapping.

[2018-03-15 13:53] stap123 commented on #9118
It might be nice to be able to pass an optional "get me the entity" flag on a save changes call. That way when you need it add it, when you don't don't.

[2018-03-15 13:56] bradmarder opened #11281 "Proxies package - System.MissingMethodException - EntityTypeParameterBinding..ctor()"
I'm just testing out the proxies package and getting this error. Everything else with the 2.1 preview has worked fine. Removing the call to `UseLazyLoadingProxies` and it works.

[code]

### Steps to reproduce
[code]

[code]

### Further technical details
EF Core version: 2.1.0
Database Provider:  Microsoft.EntityFrameworkCore.SqlServer
Operating system: win10 x64
IDE: (e.g. Visual Studio 2017 15.

[2018-03-15 14:58] roji commented on #11236
I actually do have a 2nd new extensibility point, which is a little obscure - how to load type from the database. Npgsql usually loads all type definitions from a set of internal tables, this how is we know which enums/composites/extension types are available. However, there are a lot of non-PostgreSQL databases based on PostgreSQL or using the PostgreSQL wire protocol (CrateDB, CockroachDB, Denod

[2018-03-15 14:59] roji commented on #11236
Am closing this as I think we've discussed enough options and have found some satisfactory answers.

[2018-03-15 15:59] sdunst opened #11283 "Do not build whole Solution on Add-Migration"
Problem
When adding a new Migration the whole solution is build every time. Because I am working in a solution with a second Startup Project that takes a while to build, the creation of a new Migration is really slow

Possible solutions:

- I think it would be enough to only build the Startup Project of the current Add-Migration command. Especially because it is necessary, that the Startup Project

[2018-03-15 16:28] ajcvickers commented on #11280
@ly303550688 Can you describe more precisely what you mean and what the consequences are? For example, when do you need to close the process and why? What were you doing at that time?

[2018-03-15 16:52] ErikEJ opened #11285 "2.1 Preview-1 test failing"
Output from Microsoft.EntityFrameworkCore.PropertyEntrySqlCeTest.Property_entry_original_value_is_set:
  Entity Framework Core 2.1.0-preview1-28290 initialized 'F1Context' using provider 'EntityFrameworkCore.SqlServerCompact40' with options: SensitiveDataLoggingEnabled MaxBatchSize=1

  Beginning transaction with isolation level 'Unspecified'.
[code]
0 passed, 1 failed, 0 skipped, took 3,52 second

[2018-03-15 16:53] ErikEJ commented on #11285
Looks like it is the duplicate e.Id in the query that is the issue

[2018-03-15 17:03] bricelam commented on #11258
No. System.Data.SQLite [uses wincrypt](https://system.data.sqlite.org/index.html/artifact/d5323af6c6450b0f)--a deprecated Windows-only API.

[2018-03-15 19:16] #11262 closed

[2018-03-15 20:18] #11213 closed

[2018-03-15 20:58] bwalters3 commented on #7938
I've just hit what I think is the same issue as posted above but I'm using version 2.0.2 of the Microsoft.EntityFrameworkCore.Tools and Microsoft.EntityFrameworkCore.SqlServer packages, which would suggest that the issue hasn't been entirely resolved in 2.x. Should I open a new issue or post details to this thread?

[2018-03-15 20:59] jonreis commented on #11258
@bricelam on Windows it is pretty common to use this form of encryption as it was the one provided in the standard install of SQLite.Interop.dll. Which library can I use to be compatible with EF Core 2.1 and the database that were created with SQLite.Interop.dll?

[2018-03-15 21:13] bricelam commented on #11258
I think the best upgrade path is to decrypt the database using System.Data.SQLite and re-encrypt it using SQLCipher (or similar).

[2018-03-15 21:17] jonreis commented on #11258
Not the answer I was hoping for but thanks for letting me know

[2018-03-15 21:19] bricelam commented on #11258
@ericsink Do you know if there is an encryption technology compatible with System.Data.SQLite's?

[2018-03-15 21:22] ericsink commented on #11258
Not that I know of.

[2018-03-15 21:22] ajcvickers commented on #7938
@bwalters3 Yes, please open a new issue.

[2018-03-15 21:24] #11144 closed

[2018-03-15 21:34] starychfojtu commented on #7350
I find this feature very useful. For example if you don't want to use eager loading too much, because it generates JOIN queries and if some other query already fetched the data, you are still stuck with lot of joins instead of simple selects. For example you have entity A with property C and entity B with property C and you eager load A with C and then you still have too eager load C with B instea

[2018-03-15 22:22] ajcvickers commented on #11281
@bradmarder I was able to reproduce this by having a different version of the .NET Core SDK installed. Did you install the preview1 SDK, or just update NuGet packages? Do you have any custom installed SDKs on your path? Perhaps from building EF or ASP.NET source code?

[2018-03-15 22:33] ajcvickers commented on #11172
@tuespetre That's reasonable. The reason it is done like this is because we wanted to keep it out of the API that is seen by application developers since they should never need to use this. Agreed that it is a bit ugly, but given that it is for advanced scenarios I'm not sure there is enough value in trying to put something prettier over the top of it.

[2018-03-15 23:09] maumar opened #11288 "Query: Join/GroupJoin where key selectors are qsres or navigations fails during compilation"
Examples using GearsOfWar model:

[code]

[code]

If the qsre references entity, we can compare keys instead of entities themselves.

[2018-03-15 23:17] smitpatel opened #11290 "Build warnings after changes to EFCore.Tools nuspec"
Build warnings after #11272

[code]

cc: @bricelam

[2018-03-16 00:58] smitpatel commented on #11132
We discussed in design meeting and arrived at follow conclusions:
For our providers, we will use the package name as root namespace. So for SqlServer, it becomes Microsoft.EntityFrameworkCore.SqlServer.
The sub namespaces will append after the root following same hierarchy as EFCore.

The changes we have made as following

| Provider | Root Namespace |
|----------|---------------------|
| SqlServe

[2018-03-16 01:00] pauloanalista commented on #1100
It seems that SqlServer and Entity Framework 6 uses a dll to perform queries that use spatial data.

The big problem is that this dll is done in a language that ends up needing the windows kernel to give load in the dll.

By my tests, this dll is not possible to take to linux, due to not having how to give a load in dll

With this EntityFramework Core, could not run inside a container Docker for e

[2018-03-16 01:17] NinoFloris commented on #10879
Was just looking for this!

Our scenario absolutely demands collection based retrieval instead of joins as our joined tables have low cardinality and a lot of columns/data. However currently EF doesn't provide any other option than trading transfer time for roundtrips.

https://github.com/zzzprojects/EntityFramework-Plus/tree/master/src/shared/Z.EF.Plus.QueryFuture.Shared brings this functionality

[2018-03-16 03:06] drjameshouse opened #11294 "Query: NullReferenceException: When using Async methods with navigational collections after upgrade to 2.0.0"
When using a join with an Any(), and selecting navigational collections, I receive a NullReference Exception from Microsoft.EntityFrameworkCore.Metadata.Internal.EntityMaterializerSource.TryReadValue.  This only seems to happen when using the Async version (FirstOrDefaultAsync vs FirstOrDefault).  If I don't include the Any() selection in the join it works as well.

System.NullReferenceException

[2018-03-16 08:27] he-dev commented on #4809
@codearoo you need to install the [Microsoft.EntityFrameworkCore.Relational](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Relational) package that contains the necessary extensions. See also [RelationalDatabaseFacadeExtensions.ExecuteSqlCommand Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.relationaldatabasefacadeextensions.executesqlcommand?view

[2018-03-16 09:54] Kation opened #11295 "How to write DbFunction's translation?"
When we use _ModelBuilder.HasDbFunction_ to add a database function to model
It generate the **SQL** with **QUOTE** char all of the arguments
With **SQL Server 2016**, there is a **JSON_VALUE** function
It's require first argument to be column without **QUOTE**, and second argument not be a parameter.

I wrote a test to solve first question but a bug exist.

Write a static method
[code]

Write a e

[2018-03-16 10:37] csancheztfs commented on #10220
I don't measure times for Activator.CreateInstance. I only take times for EFSqlServerContext.Save Method:

watch1.Start();
test.SaveChanges();
watch1.Stop();

Activator.CreateInstance is not taken into account in the timing...

[2018-03-16 11:13] LeroyK opened #11296 "Proposal: Add overload to .Include for custom SQL query"
We currently use DbSet<>.FromSql to execute temporal queries on System-Versioned Temporal Tables, this works fine, but we can't use .Include in these queries, since you can't specify a SQL query for included entities. There is a workaround, which is to select all of the included entities beforehand using .FromSql so they are already in the EF Core model. However, this is quite cumbersome to do and

[2018-03-16 11:49] jholovacs commented on #11074
When does this change become a nuget package?  It zinged me yesterday.

[2018-03-16 12:34] mnmr opened #11297 "Work is added to migrations for model/database properties that are identical (so should not be added)"
When I add a new migration, EF Core (latest stable 2.1.0 preview/CI build) keeps adding migrations that do not change either model or database. Even if I apply the suggested migrations, next time I add a migration they're being added again.

The following shows the original init definition for the type:
[code]

This is the current snapshot for the type:
[code]

This is what the current table defin

[2018-03-16 13:02] bradmarder commented on #11281
@ajcvickers

`dotnet --version `
`2.1.300-preview2-008261`

Yes, I installed the preview1 SDK. It looks like I currently have 2 SDKs installed though, `2.1.300 preview x64`, and `2.1.100 x64`.
No, I do not have any custom installed SDKs.

[2018-03-16 13:07] Diaskhan commented on #10220
Dear Sanchez! The main problem!  That is Activator.CreateInstance create instance by reflection nature! I think when u're creating reflection object when u invoke save method! It acess objects via reflection !

Could u provide demo VS projects for 1.1 and 2.0! I have a time to test it ! Actually i'm interested in reflection nature of net core!

[2018-03-16 13:16] bwalters3 opened #11298 "Scaffold-DbContext generates incorrect nav property on foreign key with filtered unique index"
I've run into an issue using the Scaffold-DbContext command for the Package Manager Console in Visual Studio to reverse engineer a database on a SQL Server 2016 instance. It seems that command misinterprets one-to-many foreign key relationships as one-to-one when there is a filtered unique index on the foreign key column(s) in the child table. The navigation property on the entity type generated f

[2018-03-16 13:31] mnmr opened #11299 "EF Core does not reject queries using unmapped properties"
I have an entity with a simple auto-property that is ignored by EF (i.e. unmapped). When using the property in a query, EF issues a warning (saying that parts of the query can only be evaluated client-side), but does not outright reject the query.

Would it not make more sense to throw an exception in this scenario?

The are essentially two use cases here that I can think of:
1) The property is a

[2018-03-16 13:40] Dave3of5 commented on #3797
Not sure if this is relevant but I want to include a M2M navigation property on the ApplicationUser from IdentityServer. The problem I've got is that I need a parameter-less constructor for this class so I can't use ILazyLoader using DI and I'm not sure about how I would use the delegate method with Application User.

I tried just building the DI container directly but IlazyLoader requires a DBCon

[2018-03-16 16:25] bricelam commented on #11283
There's [a TODO for that](https://github.com/aspnet/EntityFrameworkCore/blob/2.0.2/src/EFCore.Tools/tools/EntityFrameworkCore.psm1#L729). I tried to do it that way earlier on, but ran into limitations in the EnvDTE APIs...

[2018-03-16 16:32] dotlogix opened #11300 "Implement IAsyncQueryable in DbSet"
I think there is a use case to provide an implementation for IAsyncQueryable from the package System.Interactive.Async.Providers, instead of only implementing IAsyncEnumerable.

It would make it much more easy to have a consistent Async API above of entity framework.

So maybe I miss something, but I think even to write a wrapper to support this interface is not possible.

[2018-03-16 16:34] bricelam commented on #11298
Similar to #10183. The provider would need to provide additional information about the index filter. If it's not the by-convention WHERE..IS NOT NULL, RevEng shouldn't treat the index as unique.

[2018-03-16 16:37] bricelam commented on #10183
Today, the provider doesn't play a role in deciding whether "core" configuration would be applied by convention. We need to add additional provider APIs to enable this.

[2018-03-16 16:47] #11290 closed

[2018-03-16 17:00] ajcvickers commented on #11281
@bradmarder Interesting. My install of preview1 is "2.1.300-preview1-008174". It certainly shouldn't have a preview2 version. Not sure where that came from, but looks like you need to uninstall that SDK and make sure that the preview1 version is installed.

[2018-03-16 17:05] bricelam commented on #11297
The snapshot is missing `Nullable` after converting to the enum's underlying type:
[code]

[2018-03-16 17:15] zhangxijing666 opened #11303 "An exception has been raised that is likely due to a transient failure."
Hi All
When I upgrade my project from EF Core 1.1.1 to 2.0, and I get a linq bug.
Linq:
_var tax = DbContext.Agents.Where(a => a.Enable && !a.IsDeleted)Include(a => a.SalesTax).Where(a => a.Id == agentId).Select(a => a.SalesTax).FirstOrDefault();_

**I got a exception:**

2018-03-17 00:38:40.2461 Error Environment:Default
Message:An exception has been raised that is likely due to a transient failu

[2018-03-16 17:16] ajcvickers commented on #11074
@jholovacs It will be in the nightly builds (listed on the homepage) first--probably already, although I didn't check, and it will get to nuget.org as part of the preview2 release.

[2018-03-16 17:27] ajcvickers commented on #10554
@DamianEdwards Yes, it will be in preview2.

[2018-03-16 18:24] mguinness commented on #6482
Another extension to get generated SQL
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.Extensions.ToSql

[2018-03-16 19:16] sebastienros opened #11304 "Failures on Benchmarks"
Source:
https://github.com/aspnet/benchmarks/tree/dev/src/Benchmarks

[code]

[2018-03-16 19:26] #11132 closed

[2018-03-16 19:42] ajcvickers commented on #11101
Discussed in triage, and for now we will throw if a second context instance is encountered, regardless of whether it is the same type or not.

[2018-03-16 19:48] ajcvickers commented on #11237
@OpenSpacesAndPlaces There isn't enough information here for use to be able to investigate effectively. Could you post a runnable project/solution or code listing that demonstrates the issue and shows all the types involved?

[2018-03-16 19:49] ajcvickers commented on #11238
@sam-wheat Yes, the concepts apply to EF Core, although EF Core calls DetectChanges automatically in fewer places than EF6 does.

[2018-03-16 19:53] ajcvickers commented on #11249
@fschlaef Thanks for the additional information. We're doing a couple of things in this area:
* Moving more messages to debug (won't help when running on Debug, but will help for Info level)
* Reducing the number of model building messages

The second of these changes is already in out nightly builds (see https://github.com/aspnet/EntityFrameworkCore). Could you test it and see whether the 47000 l

[2018-03-16 19:54] ajcvickers opened #11305 "Setup functional spec tests to run on MySQL repo"
See https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/512#issuecomment-373572421

[2018-03-16 19:57] ajcvickers commented on #11264
@karimo3 Looks like there are probably mis-matched package versions somewhere. Can you check that you are using consistent versions? If you still hit the issue, then please post a runnable project./solution that demonstrates what you are seeing so that we can investigate.

[2018-03-16 19:58] ErikEJ commented on #11305
This is required for any good quality provider.. Let me know if I can help in any way...

[2018-03-16 20:06] ajcvickers commented on #11285
@ErikEJ We discussed this in triage. The same query is generated on SQL Server and doesn't run into issues, and we haven't seen issues for other providers either. Based on this, for now we think the best thing to do is to fix it in the CE provider. @smitpatel will provide some guidance to that end, so assigning to him for now to give the guidance.

[2018-03-16 20:08] ajcvickers commented on #11305
@ErikEJ If you want to volunteer to get this setup on their repo that would be great. (Not get all the tests passing, but just the infrastructure, which we were planning to copy from either you or @roji anyway.)

[2018-03-16 20:10] ajcvickers commented on #11295
@smitpatel will provide some guidance here.

[2018-03-16 20:10] ajcvickers commented on #11295
@smitpatel Also, if this can be done in a way that we get docs out of it then all the better! /cc @divega

[2018-03-16 20:16] ajcvickers commented on #11296
@LeroyK This is an interesting idea. We discussed it in triage and we're going to put it on the backlog for now. However, it could be that the same functionality might be better implemented in a different place, such as [in a defining query](https://github.com/aspnet/EntityFrameworkCore/issues/3932) although this would likely require the defining query to be parameterized. It might also be covered

[2018-03-16 20:17] mnmr commented on #11297
There is no method (or extension) that I could find called `Nullable`.

As far as I understand, the omission of .IsRequired() on the property should instruct EF to make the column nullable. As such, the mapping already specifies that the property should be nullable.

[2018-03-16 20:23] ajcvickers opened #11306 "Allow client evaluation to be enabled on only selected queries"
For example, client eval could be configured to throw globally, with some way to annotate a given query or part of a query to allow it.

[2018-03-16 20:23] ajcvickers commented on #11299
@mnmr Thanks for your input. We discussed this in triage and for now we're going to keep a single warning. However, something we have discussed in the past that would help here is the ability to allow client evaluation only on selected queries, so that it is not a global on/off flag--I have filed #11306 to track this.

[2018-03-16 20:26] ajcvickers commented on #11300
@dotlogix We're not planning to take any additional dependencies on IxAsync packages or features at this time. There are various internal reasons for this, and we also want to have a good idea of where CoreFx/C# is going in terms of async support before doing anything new.

[2018-03-16 20:30] ajcvickers commented on #11303
@zhangxijing666 Are you saying that you occasionally see this? If so, are you sure it isn't really reporting a transient error? If this is a bug, then it looks like it's probably related to [the Postgres provider](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL), so you may want to file an issue there, including a runnable project/solution or complete code listing.

/cc @roji

[2018-03-16 20:32] smitpatel commented on #11251
We cannot bind through anonymous object so element selector as NewExpression would block us from evaluating if property in aggregate is unmapped. In the case where element selector is selecting properties (rather than querysources), that QS should get marked for materialization due to unmapped property in element selector. It may just work for such case. When fixing this issue consider both the sc

[2018-03-16 20:32] roji commented on #11303
As @ajcvickers says this probably belongs in github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL. But not that your stack trace seems partial -
 NpgsqlException should have an inner IOException that explains exactly what went wrong.

[2018-03-16 20:37] ajcvickers commented on #9193
The latest information we have on this is that always-encrypted should work fine with EF Core as long as:
* Key (primary, alternate, and foreign) columns are not encrypted
* All type mappings are explicitly and correctly specified with full SQL Server types

Encryption has issues with ordering, and EF Core needs to do ordering on keys for things like Include to work correctly, which is the main re

[2018-03-16 20:42] AndriySvyryd commented on #11256
Alternatevly `InternalEntityEntry` could derive from `EntityEntry<TEntity>`

[2018-03-16 20:42] ErikEJ commented on #9193
And reveng explicitly defines all column types?

[2018-03-16 20:47] ajcvickers commented on #9193
@ErikEJ End-to-end work for always encrypted is tracked by #3380, which is not in the plan for 2.1.

[2018-03-16 21:34] mnmr commented on #11249
I am also experiencing this issue with 2.1.0-preview2-30365. With information level logging we get about 60 messages emitted on startup (for a DB with almost the same amount of entities). Context initialization takes less than a second, so no performance issue.

However, we are worried about the warnings, as they seem to imply that EF is ignoring part of our mapping definitions, and it's unclear w

[2018-03-16 21:38] smitpatel commented on #11295
@Kation
You actually does not need so much of code to use `JSON_VALUE` function.
Based on documentation of function,
- 1st argument has to be string type. It can be any expression. You can pass literal string/parameter or use column. EF Core will take care of it automatically based on whatever value you pass in.
- 2nd argument has to be literal string at present. It cannot be parameter (this requi

[2018-03-16 21:42] smitpatel commented on #4021
Update: You can use JSON_VALUE function using user defined function feature in EF Core 2.0
https://github.com/aspnet/EntityFrameworkCore/issues/11295#issuecomment-373852015 explains how to do it for SqlServer.

(also added to first post)

[2018-03-16 21:43] divega commented on #11304
@smitpatel

[2018-03-16 21:51] smitpatel commented on #11304
cc: @bricelam

This is because of moving some messages from CoreStrings to AbstractionStrings. Which breaks providers.

[2018-03-16 21:56] divega commented on #11304
@ajcvickers @roji just the heads up that this seems to be yet another way providers uses internal types. @bricelam will add the resource back in Microsoft.EntityFrameworkCore for 2.1 to avoid breaking anyone.

[2018-03-16 22:05] smitpatel commented on #11285
From my understanding the offending query is
[code]
Assuming having same column multiple times in projection and also used by order by clause, it is invalid on SQL CE,
In EF Core, SelectExpression assign unique names to projection only in subqueries. At top level 2 columns of same name (coming from same or different table) would remain without aliasing.

The easiest way to solve is to give alias i

[2018-03-16 22:10] smitpatel commented on #8094
Also consider scenario in #4957

[2018-03-16 22:14] smitpatel commented on #4957
Take is a result operator. It causes a subquery to generate. So when you put take there are outer & inner query model generated. Putting Take at the end means single flat query model hence no nesting in SQL.

At present, we lift subquery at query model level but the way joins are handled, if Select Expression is anything more than basic shape, we push it down to be safe. Which is causing nesting i

[2018-03-16 22:16] #11304 closed

[2018-03-16 22:17] bricelam opened #11307 "Remove CoreStrings.ArgumentIsEmpty() and CollectionArgumentIsEmpty()"
Moved to EFCore.Abstrations, but kept in EFCore to prevent breaking providers.

[2018-03-16 22:24] bricelam commented on #11283
Duplicate of #9716

[2018-03-16 22:29] bricelam commented on #7065
Re-opening. The story has changed with the introduction of global tools, and we should reconsider.

[2018-03-16 22:38] smitpatel opened #11308 "DbContext Pooling does not dispose LazyLoader"
https://github.com/aspnet/EntityFrameworkCore/blob/2bdb72f0206ef0f4657f565b5a5bf7226564befc/src/EFCore.Specification.Tests/LazyLoadProxyTestBase.cs#L1602

Enable pooling with above switch. 12 tests fails in LazyLoadProxySqlServerTest.
In non pooling case when we dispose context, we also dispose lazy loader. And tests verify that we throw appropriate exception.
In pooling case we are not disposing

[2018-03-16 22:56] smitpatel opened #11309 "DbContextPooling does not throw exception when trying to get model from disposed context"
Repro:
[code]
Output:
// Non-pooling case
[code]
// Pooling case
[code]

Disabled test Race_when_context_disposed_before_query_termination

[2018-03-16 23:55] zhangxijing666 commented on #11303
@ajcvickers @ajcvickers Thank you for your suggestion

[2018-03-17 00:14] smitpatel opened #11311 "Fixup ends up with entries with different state managers in DbContext Pooling"
https://github.com/aspnet/EntityFrameworkCore/blob/2bdb72f0206ef0f4657f565b5a5bf7226564befc/src/EFCore.Specification.Tests/GraphUpdatesFixtureBase.cs#L29

Enable pooling with above line.
Some tests fail.
I investigated in Optional_many_to_one_dependents_with_alternate_key_are_orphaned_starting_detached test for (ChangedNotifications : GraphUpdatesSqliteTestBase<ChangedNotifications.ChangedNotifica

[2018-03-17 00:25] smitpatel commented on #9358
Filed product issues
#11308
#11309
#11311

[2018-03-17 00:59] #10176 closed

[2018-03-17 01:07] #9358 closed

[2018-03-17 06:59] ErikEJ commented on #11304
@divega Yes, I and others already mentioned this,, I plan to remove usages

[2018-03-17 08:17] roji commented on #11305
Agree that there is a lot of value in doing this. Am very busy with my own things at the moment so I don't think I can actively contribute, but would definitely be happy to provide any advice.

In any case, just setting up the infrastructure should be pretty quick and easy, the arduous part is slowly making all the tests green, which is a very MySQL-specific task anyway...

[2018-03-17 08:49] ErikEJ commented on #11285
@smitpatel Thanks, but quite over my head - in particular: "a method which inspect projection of the SelectExpression"

[2018-03-17 09:03] ErikEJ commented on #11305
Like @roji , I am quite busy prepping the 2.1 SQLCE provider, but will be happy to provide any inspiration and advice to the MySQL team of volunteers, which should be big, considering how popular a database system it is.

[2018-03-17 18:01] TanvirArjel opened #11314 "Migrations: Order columns of abstract base class properties last in CreateTable"
Before the release of **Entity Framework Core 2.1**, Entity Framework Core team announced that,

but unfortunately, it is not working as expected in case of the following scenarios:

[code]

Entity Framework Core Migration is generating the Employee Table columns as the following order:

      [CreatedBy] <-----
      ,[CreatedAt] <-----
      ,[ModifiedBy] <-----
      ,[ModifiedAt] <-----

[2018-03-17 18:39] #11257 closed

[2018-03-17 19:52] thealmogg opened #11315 "Specify which project file to use when inside project directory"
Hi,
Trying to use "dotnet ef" command in Package Manager Console.
the PMC is cd to the .csproj directory, and still getting:
dotnet : Specify which project file to use because this 'C:\Users\PC-NAME\Source\Repos\TestProject\Test" contains more than one project file.
At line:1 char:1
+ dotnet ef migrations add TestMigration
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotS

[2018-03-17 21:15] elepner opened #11316 "SQL builder appends '= 1' after custom sql function regardless return type"
I'm digging into EF Core internals. I try to extend EF capabilities by adding CONTAINS function support from SQL Server text analysis package.
What I have done:
Extended `SqlServerCompositeMethodCallTranslator` where I append custom `FreeTextTranslator`
This `FreeTextTranslator` translates custom extension method `ContainsText` of `string` to `CONTAINS` query.

Here's the code of translator (idea

[2018-03-17 22:31] ajcvickers commented on #11308
This is a known issue with pooling and lazy loading. Pooling relies on reusing services which means the scope and the therfore the lazy loader service is never disposed. However, we decided this was okay beacause it is unlikely to cause issues, and if issues do exist, then the solution is to stop using pooling.

[2018-03-18 04:54] joshuakent opened #11317 "Group By is getting an alias and causing a SQL Exception (in 2.1 Preview 1)"
[code]
generates the following sql

[code]
where the AS [Date] is not valid SQL. This generates the following exception

`System.Data.SqlClient.SqlException (0x80131904): Incorrect syntax near the keyword 'AS'.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning

[2018-03-18 09:10] Liero opened #11318 "Build Failed on Update-Database"
I've upgraded my asp.net core 2.0.3 app to EF Core 2.1 and when I try to update database, I'm getting:

But I'm able to build the project in Visual Studio

Full code:
https://github.com/Liero/vyvojari-sk/tree/2193d67facd5a284990478ebd21bb61a4c3522c0

[2018-03-18 16:14] pmiddleton commented on #11316
SqlFunctionExpressions must have a return type, in your example it is bool.  In your case a default compare to 1 is being added to the expression tree.

You would need to update the query generator to ignore the comparison when generating the sql for your function.

Freetext support for Sql Server was added in pr #10480.  Take a look at the changes made to SqlServerQuerySqlGenerator.cs to see what

[2018-03-18 16:37] elepner commented on #11316
Ok, I see that there's a change in [VisitBinary ](https://github.com/aspnet/EntityFrameworkCore/blob/c78637261b0114650b5fe08867cdfcadf450730b/src/EFCore.SqlServer/Query/Sql/Internal/SqlServerQuerySqlGenerator.cs#L48)method.

Don't you think that that `if` statement in this pr is quite weird and should be more generic? It will fall back to the base method if function name is not `"FREETEXT"` (e.g.

[2018-03-18 18:33] incompletude opened #11319 "HasDefaultValueSql and ValueGeneratedOnAdd behaviour"
Windows, PostgreSQL, lastest releases.

This following behavior seems a little strange:

[code]

If `user.Password` is null, this will throw a not null exception on password while adding. Is this expected?

Also, is there a way to access the `user.Password` reference inside `.HasDefaultValueSql()` ?
[code]
Thx,

[2018-03-18 19:54] incompletude commented on #3955
I'm trying to use `ValueGeneratedOnAddOrUpdate()`. The ValueGeneratedOnAddOrUpdate() seems to remove the property value from the generated SQL, thus causing an error on the trigger because `NEW.senha` doesn't exist.

With `ValueGeneratedOnAddOrUpdate` the code works properly, but the property values are not updated.

[code]
[code]

[2018-03-18 21:08] jholovacs opened #11320 "unable to generate deps.json, it may have been already generated"
trying to use migrations, or update the database, I get this message:

[code]
application builds fine.  I've tried

`dotnet restore`

and this seems to work.

`dotnet run` also works.

versions of stuff:
[code]

[2018-03-18 21:56] ahmedtolba1984 commented on #8172
@AndriySvyryd  @divega
When will you support this feature '**Collection of Owned Types**' ?

[2018-03-18 23:32] AlirezaHaghshenas commented on #11227
@alexk8 Fixing no-tracking entities to existing ones will result in strange behavior.

Consider this case: For simplicity let's say there is a one-to-one relationship between `Person` and `Position`:

You already have a `Person p` attached to the context.
You fetch `Job j1` as no tracking, its `Person` property will (as you demand) refer to p.
Then you fetch `Job j2` from the context. `Person p`'s

[2018-03-19 02:08] ajcvickers commented on #11227
@AlirezaHaghshenas If we did this the fixup would be one way only. That is the untracked objects would reference the tracked ones, but not vice versa. They would likely also be read-only. Essentially, this is a slight variation on the reference data scenario where some set of readonly entities don't need to be loaded every time they are used.

[2018-03-19 05:06] syedabdulaala opened #11321 "Deadlock issue on using SumAsync();"
Having this issue https://stackoverflow.com/q/49262030/4209924 just in case of using SumAsync(); everything else is working fine...

### Further technical details
EF Core version: 2.0.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 (Version 1709, Build 16299.309)
IDE: Visual Studio 2017 15.4

[2018-03-19 06:14] smitpatel commented on #11316
Duplicate of #9143

The SQL Gen phase has a expression visitor which converts values to condition and vice-versa based on part of SQL statement. That visitor is private at present so provider cannot override that code. Presently that visitor assumes that all SqlFunctionExpression are of value type. Hence when it appears in where predicate it will convert to condition so append `= 1`. That VisitBin

[2018-03-19 06:29] divega commented on #8172
@ahmedtolba1984 the plan is to do work on this soon after we finish 2.1.

[2018-03-19 07:05] Liero commented on #9282
Hi, what about this query, which is still producing N+1 queries in EF2.1 preview:

dbContext.ForumThreads.Include(t => t.Posts)
   .Select(t => new
   {
      t.Id,
      t.Title,
      PostAuhtors = t.Posts.Select(p => p.AuthorName).Take(5)
   }).ToArray();

https://stackoverflow.com/questions/49346001/how-to-avoid-n1-queries-in-ef-core-2-1/

[2018-03-19 07:33] seroche commented on #2266
Do we have an ETA for this? I can see it's not even included in the roadmap for 2.1.

[2018-03-19 08:17] elepner commented on #11316
Thanks for quick reply :) Now the problem is 100% clear. I wish I could fix it by myself and contribute your great project, but I'm not smart enough for that :)

[2018-03-19 08:39] ahmedtolba1984 commented on #8172
@divega
Thanks :)

[2018-03-19 10:54] fschlaef commented on #11249
@ajcvickers I got some testing done with 2.1.0-preview2-30366, there are definitely improvements :

- Number of messages down from 47 000+ to 12 015 for the same database
- VS is still slowing down, but a lot less and the startup takes 45s down from 3 minutes
- A lot less madness regarding GC and CPU, see screenshot
- Messages are still logged with Information level, but with further changes we co

[2018-03-19 11:04] HSchwichtenberg opened #11322 "Wrong SQL generation with group by and Count() in EF Core 2.1 Preview 1"
In EF Core 2.1 Preview 1, this query

[code]
produces this SQL
[code]
which is wrong.

Exception:

System.Data.SqlClient.SqlException: 'An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.'

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider

[2018-03-19 11:30] paulvanbladel opened #11323 "dbContext.Database.Migrate() is not working correctly when called from a asp.net test project."
I have a .net core asp.net project with localdb. Just an out of the box setup with migrations managed from the command prompt. So the migrations are managed in this project. There are not automagic migrations (by means of dbContext.database.Migrate() in this project. Working great.
Next, I have a corresponding test project based of TestServer and uses a slightly different Startup which I call Test

[2018-03-19 12:48] roji opened #11324 "Non-hardcoded types (enums, plugins) and migrations"
Yes, it's me again with more enum-related type mapping issues. PostgreSQL enum support is almost done but I've ran into a snag when trying to do migrations.

I've reached a point where everything works well as long as I create my database without migrations (`EnsureCreated()`). My TypeMappingSource has a mapping from the CLR enum to the PostgreSQL one (by communicating with the ADO.NET layer), my

[2018-03-19 13:05] mrmartan commented on #2533
I'm hitting the same issue.

[code]

Now the Update() fails because `entity` and `state` have the same value of key (as intended). I cannot really use Single() here as I am relying on the "dynamic/untyped" nature of Find().

[2018-03-19 13:56] markusschaber commented on #9770
We had cases where the PMC commands errored out, while "dotnet ef" worked for us. I'll see whether I can come up with STR...

[2018-03-19 14:15] MaklaCof commented on #9282
I did not try this in 2.1, but I would like to mention another scenario (**FirstOrDefault**):
[code]

[2018-03-19 15:44] ajcvickers commented on #9282
@Liero @MaklaCof Can you please file new issues including a runnable project/solution or complete code listing so that we can investigate what you are seeing. (This issue is closed, so it is unlikely that posting here will result in any action.)

[2018-03-19 15:47] ajcvickers commented on #9770
@markusschaber Can you file an issue for the errors you are seeing when using the PMC?

[2018-03-19 15:48] ajcvickers commented on #2533
@satvik1986 @mrmartan Can you file new issues for the problems you are seeing, including a runnable project/solution or complete code listing that demonstrates the problem?

[2018-03-19 15:50] mwe commented on #1906
I also think this is a problem in a happy development workflow. In a test driven environment our developers need to wait 2 minutes for the DbContext to initialize in order to (re)run the test. This is a lot of waiting. Also our test systems where the apppool shuts down takes a long time to have a cold startup where at least 3-4 minutes are caused by EF (EF6 has indeed the same problem, but a cache

[2018-03-19 15:51] smithaitufe commented on #9535
Please what is the state of this issue?

I am currently having similar issue. How do I resolve it?

https://aspnetcore.slack.com/archives/C18UW3ALA/p1521474152000171

[2018-03-19 15:59] ajcvickers commented on #11324
@roji With regard to, "is absent when command-line tools are executed (e.g. add migration), because they are outside the application." This is probably a case where the application needs to implement IDesignTimeContextFactory.

The issue with global configuration and tooling is one of the reasons we have tried to avoid it. In the old stack it lead to the abomination that is DbConfiguration.

[2018-03-19 16:14] markusschaber commented on #9770
@ajcvickers I will, given that we can still reproduce them with the current version.

[2018-03-19 16:15] ajcvickers commented on #11323
@paulvanbladel couple of things to check about "dbContext.Database.Migrate() is applied when a TestServer session is started.":
* Ensure that the context is resolved from a D.I. scope and that scope is disposed.
* Ensure that the migration is finished before the application is allowed to start and any requests get processed. (Or otherwise ensure that the database is migrated once and only once and

[2018-03-19 16:20] smithaitufe opened #11326 "Query: invalid SQL for queries projecting a single column from a subquery using Take and FirstOrDefault"
This is strange for me. It was working quite in the past months until today.

A simple query like the one below is throwing the error `SqlException: Invalid column name 'Id'.`

[code]

### Stacktrace

[code]

Please I need to rectify this issue as quickly as possible.

Thanks so much

[2018-03-19 16:29] roji commented on #11324
Yeah, I see what you mean, but there still has to be a place where my user says "use this type plugin", or "here's this enum mapping", and I'm not aware of one... Yeah, all this definitely goes in the direction of global configuration, and I know it's not a simple subject.

[2018-03-19 16:30] roji commented on #11324
It's OK if at the end of the day you guys say "we don't want to support this kind of scenario", although it would be a bit of a shame - the idea is to get us thinking about it (it's also obviously OK if you're busy with more important preview2 stuff...).

[2018-03-19 16:41] ajcvickers opened #11327 "Visual Studio Community 2017 v15.6.1 and v15.6 EF Core related compile time errors when debugging a UWP project"
From VS Feedback:

Hi., I recently updated my Visual Studio IDE to 15.6 and then 15.6.1 successfully. I have a UWP project which referencing a .net standard project which is a database model project using SQLite data provider for EF Core as described at the link https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started. And, the db model project installed with respective nuget packa

[2018-03-19 16:46] ajcvickers commented on #9535
@smithaitufe This issue is fixed in the 2.1 preview1 release. So the options here are:
* Use the preview release
* Use the workarounds listed above
* Wait for the 2.1 RTM release

[2018-03-19 16:57] ajcvickers commented on #11324
@roji Are you asking about applications specifying type mappings separately from the provider, or about making sure the provider has the information it needs to setup the type mappings?

[2018-03-19 17:01] roji commented on #11324
I'm talking about applications specifying type mappings, yeah (or the provider pulling them from some application-managed place). Some examples of use:

* In my application I want database date/time types to be mapped to Nodatime instead of the built-in BCL types (e.g. DateTime)
* In my application I want a certain CLR enum type to be mapped to a PostgreSQL enum type, rather than to a database int

[2018-03-19 17:22] ajcvickers commented on #11324
@roji We don't have a way for applications to easily set their own type mappings. We may well get to the point where we do this, but so far we have been focusing on allowing the application to change verious facets of the mapping and have that work with the provider to generate the correct mapping. This is inherently more provider-agnostic than just having the application set an explicit mapping b

[2018-03-19 17:41] ajcvickers commented on #11239
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-19 17:59] zinov commented on #11239
@ajcvickers The order is important to maintain a consistent standard when you see the data you query, in another way you need to start looking for the fields randomly displayed as part of your query result

[2018-03-19 18:12] roji commented on #11324
That's right - there are two ways to approach Nodatime support (in Npgsql) - doing it either at the ADO.NET level, or at the EF Core level (once you guys provide support for that). There are advantages either way - it seems cleaner to directly convert Nodatime to PostgreSQL representations and vice versa, rather than having to go through DateTime intermediaries (in some cases the impedance between

[2018-03-19 18:16] ajcvickers commented on #11309
Assigning to @smitpatel to re-enable the test without pooling.

[2018-03-19 18:36] dazinator commented on #626
Just sharing a quick and dirty implementation to get the type of notification I needed for grabbing ID values after a save:

[code]

Use case looks something like this:

[code]

[2018-03-19 18:37] gojanpaolo commented on #1906
I just wanted to share a workaround if you're using xUnit and in-memory testing.
You might notice that if you have multiple test classes that uses a `DbContext` then each test class will have the overhead of model creation.
You can apply this workaround so that the model creation will be done only once per test run and not once per test class.

[code]

[2018-03-19 18:45] ArchwayEon opened #11329 "CREATE FILE encountered operating system error 5(Access is denied)"
During update-database in the Package Manager Console, the creation of the mdf file is failing because the path string does not include a slash. See the included image. Instead of writing the mdf file to C:\Users\Parkers\Lab10Db.mdf it tries to write to C:\Users\ParkersLab10Db.mdf

### Steps to reproduce
I'm an instructor and I have my students create a database using the code first approach. It d

[2018-03-19 19:03] ajcvickers commented on #11239
@zinov The order that the columns are created does not necessarily correspond to the order that the columns are queried. I am closing this as by-design because, regardless of the behavior of column creation, we have no plans to implement anything that would allow the order of columns in the query to be specified. This would add complexity to queries for very minimal value.

[2018-03-19 19:04] maumar commented on #11326
@smithaitufe  Can you provide code listings for all the entities used in the query, as well as contents of your OnModelCreating? This will help us get to the bottom of this much faster.

[2018-03-19 19:07] ajcvickers commented on #11324
@roji Yes--that's what IDesignTimeContextFactory is for. See the docs here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation

[2018-03-19 19:19] maumar commented on #11326
Also, something that might help is putting the Where before the Select:

[code]

it's effectively the same query, but from EFCore perspective its much easier to translate

[2018-03-19 19:30] ajcvickers commented on #11308
Updated: https://github.com/aspnet/EntityFramework.Docs/issues/501

[2018-03-19 19:34] ajcvickers commented on #11314
@TanvirArjel Can you be more specific about what is "wrong" with the order generated? For example, is it just that the primary key is not the first column? Or is it also that the unmapped base type should go at the end? If the latter, then what is the logic that determines this and would that also be true if it was a mapped base type?

[2018-03-19 19:35] ajcvickers commented on #11318
@Liero What issue are you reporting here?

[2018-03-19 19:37] omora-RA commented on #9193
At our organization we have a mix of EF6 and EF Core microservices. We are trying to figure out our column encryption strategy. For EF6 SQL Always Encrypted works like a charm. For EF Core I don't see a clear path. I see they added support to [convert data types](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions), and interesting enough the documentation specifically says:

To me

[2018-03-19 19:42] ajcvickers commented on #11319
@incompletude Typical use for HasDefaultValueSql is to get a value generated when none was specified. Reading between the lines it seems like what you are attempting is:
* Password property can be set or null
* Either way, password is included in the insert
* Something such as a trigger runs which changes the password as it is being saved
* That new value is read back and the entity is updated wit

[2018-03-19 19:49] ajcvickers commented on #11320
@jholovacs We're not really sure what is going on here and whether it is a CLI issue or an EF issue. Some observations/ideas:
* One thing we noticed is that the SDK version installed seems to be different that the package version being used. It's not clear that this would cause the issue you are seeing, but if this is not intentional, then it is something to investigate.
* Please try cleaning your

[2018-03-19 19:50] ajcvickers commented on #11321
@syedabdulaala The first async call must be awaited before the second call is started.

/cc @anpete at @divega's request.

[2018-03-19 19:51] maumar commented on #9282
@Liero this is a known limitation (there are other limitations that we are aware of, listed here: https://github.com/aspnet/EntityFrameworkCore/commit/b95f23ffa4fbba305b3f0ea4c864fe53f456ad58)

@Liero this is already fixed by #10813

[2018-03-19 19:53] ajcvickers commented on #11327
Notes from triage: this is likely an issue, as you found, with multi-targeting. Multi-targeting currently doesn't work well as an experience across VS, which is why we recently updated our guidance to not suggest it anymore for UWP/EF tooling. (See https://github.com/aspnet/EntityFrameworkCore/issues/10882 for some of the issues.) Beyond this, can you post the actual errors/stack traces that you a

[2018-03-19 19:55] ajcvickers commented on #9193
@omora-RA What specific issues are you seeing with EF Core?

[2018-03-19 19:59] incompletude commented on #11319
Hey @ajcvickers, thx for all your help.

I have done the following:

[code]
On create, the password is required, and the trigger fills it correctly. On update, if the property is filled, a new password and token is also set.

Is this the correct approach?

[2018-03-19 20:03] ajcvickers commented on #1906
@gojanpaolo Models are cached by default; if you are seeing otherwise then can you please file a new issue with a runnable project/solution or code listing that demonstrates this behavior?

[2018-03-19 20:14] #10966 closed

[2018-03-19 20:14] #11094 closed

[2018-03-19 20:19] smithaitufe commented on #11326
@maumar
`book.js`
[code]
[code]
With respect to the second suggestion, the code was initially in that way. I moved the `where` clause to after the select because I wanted to see if it would help. But it was the same.

[2018-03-19 20:30] bricelam commented on #11315
Answered [on Stack Overflow](https://stackoverflow.com/a/49367772/475031).

[2018-03-19 20:31] maumar commented on #11326
also need listing for related entities. What version of EFCore are you using, and which one were you using before it started failing?

[2018-03-19 20:37] bricelam opened #11330 "CLI Tools: Default unfound startup project to target project"
Two scenarios:
* You run `dotnet ef` in a directory with multiple project files
* You run `dotnet ef` in a directory without projects

In both of these scenarios, we'll fail telling you to specify `--project`, but once you do that, we'll fail again telling you to also specify `--startup-project`.

It would be nice if when we can't find the startup project, but you specified a target project we'd j

[2018-03-19 21:04] smithaitufe commented on #11326
`Term.cs`
[code]
`Variant.cs`
[code]
`Publisher.cs`
[code]
`Image.cs`
[code]
`BookAuthor.cs`
[code]

### EF Core Version

[code]

[2018-03-19 21:21] zinov commented on #11239
@ajcvickers my point is that even the table can't be generated in that way, you can't specify that a certain column goes as the final column on a table(IsDeleted), then the query itself doesn't make much sense because with every select * the field(IsDeleted) will be the latest.

[2018-03-19 21:26] divega commented on #11327
Part of the problem is that the guidance on the UWP tutorial hasn't been updated yet. Fixing it is tracked at https://github.com/aspnet/EntityFramework.Docs/issues/581.

FWIW, the new guidance is to create a new .NET Core console app that targets "netcoreapp2.0" and execute the tools against it. The library should just target "netstandard2.0".

[2018-03-19 21:35] anpete opened #11331 "Perf: Logging infra allocates even when no logging enabled."
```ILogger``` has ```IsEnabled```, which should normally be used to avoid doing logging work (building log messages etc.) when logging is disabled.

However, while profiling, I noticed that our logging infra. still seems to do the work, even when logging is disabled. One example is ```RelationalLoggerExtensions.CommandExecuted```, which will allocate a string, a delegate, and several enumerators f

[2018-03-19 21:42] pmiddleton commented on #11329
I have run into this issue myself.  There is a bug in the localdb version of Sql Server 2017 in which it fails to put the final slash between the file path and database name.

You can read more here - https://dba.stackexchange.com/questions/191393/localdb-v14-creates-wrong-path-for-mdf-files

Can you have the students with the issue manually create the database?

[2018-03-19 21:54] ArchwayEon commented on #11329
Thanks for the stack exchange.

The workaround I use for those students is to manually add AttachDbFilename=<path> into the connection string.

[2018-03-19 21:54] TanvirArjel commented on #11314
@ajcvickers  Yes! Primary key should be the first column and the unmapped based type columns should go at the end..

[2018-03-19 21:54] roji commented on #11324
That looks perfect, I wasn't aware of it... sorry for all the roundabout explaining/questioning.

I'll post back here if I encounter any more issues.

[2018-03-19 21:54] pmiddleton commented on #11329
That works too :)

[2018-03-19 21:56] maumar commented on #11326
I was able to reproduce the problem. Try the following:

[code]

Basicaly removing Take(1) calls from YearsOfPublication and MonthsOfPublication, it is not needed anyways because FirstOrDefault does the same thing under the covers.

[2018-03-19 21:58] ajcvickers commented on #11314
@TanvirArjel Can you provide an explanation as to why the unmapped base type should go at the end and whether or not this should also be the case for a  mapped base type? (I'm not saying you're wrong, I'm just trying to understand what the reasoning is behind this ordering.)

[2018-03-19 22:02] jholovacs commented on #11320
`dotnet build` works.

`dotnet ef --verbose` doesn't get particularly verbose:

[code]

cleared the nuget cache:
[code]

now build doesn't work:

[code]

sooo... yay?  different error?  Never seen this one before, don't know if it's related.

[2018-03-19 22:17] smithaitufe commented on #11326
If I take that away, will it solve the problem? I will try that tomorrow. About to sleep. Thanks for your help

[2018-03-19 22:18] #11056 closed

[2018-03-19 22:19] maumar commented on #11326
It solves it on my machine, so it should work for you also.

[2018-03-19 23:06] bricelam opened #13833 "Microsoft.Data.Sqlite: Leverage ADO.NET spec tests"
Some progress on dotnet/corefx#7810 has been made in [mysql-net/AdoNetApiTest](https://github.com/mysql-net/AdoNetApiTest). We should consider leveraging it here.

cc @bgrainger @roji

[2018-03-19 23:40] johnkwaters commented on #9627
I ran in to this today too. I was wanting to set a default value with my code first DB generation, so that the column would end up with XXX bit NOT NULL DEFAULT 0
The reason I do this is if you are inserting manually (not through EF), you don't want to have to specify the default values. But if there is no default, you cannot omit them in your insert. Hence, a useful default.
Your line of reasonin

[2018-03-19 23:42] gojanpaolo commented on #1906
@ajcvickers Will do :)

[2018-03-19 23:55] cwrea commented on #11027
@Reshiru Your Android app project has its `AndroidLinkMode` set to `Full`, and so the linker has removed types from EF Core that appear not to be used from a static analysis perspective, but are actually required at run-time, accessed via reflection. **Try changing your `AndroidLinkMode` to `SdkOnly`.**

I have an adapted Xamarin app sample [available here](https://github.com/cwrea/XamarinTodo/tre

[2018-03-20 00:10] gojanpaolo opened #11333 "DbContext Models are not cached throughout xUnit test run"
See https://github.com/aspnet/EntityFrameworkCore/issues/1906#issuecomment-374352462

Here are the test results that I got.
![image](https://user-images.githubusercontent.com/16026608/37628678-7271d7b8-2ba8-11e8-9efd-72f283443a87.png)

The `CacheTestClassXXX` classes use a simplified version of the work around described in https://github.com/aspnet/EntityFrameworkCore/issues/1906#issuecomment-3743

[2018-03-20 00:28] maumar commented on #11326
Problem is in HandleFirst() after the subquery already has a limit, e.g.

[code]

we try to pushdown subuqery:

[code]

and then we try to lift order by. Currently as a result we generate the following, incorrect sql:

[code]

problem is that the outer query doesn't have OrderID available. We would have to modify the inner projection to include the order column(s), and then manually re-project onl

[2018-03-20 00:48] cwrea commented on #8792
I've been mucking around with EF Core 2.0.1 and 2.0.2 with Xamarin.iOS lately, trying to get a meaningful cross-section of EF Core unit tests copied into and passing in a mobile app deployed to a real iOS device, i.e. AOT compiled. I'm doing this to get more confidence in EF Core for Xamarin mobile app development. (EF Core is working in samples I've tried, but they're relatively shallow.)

This r

[2018-03-20 01:16] CodeSwimBikeRunner opened #11335 "EFCore Linq Query Could not be translated and will be evaluated locally"
This is more of an enhancement. I have seen other posts, and I understand there are numerous possibilities as to why a Linq Query could not be translated. However, I believe this should not only be a fairly simple enhancement, but it should serve a great many developers. Below is the warning message provided by EF Core, then the steps to reproduce the error, then the suggested enhancement.

Warnin

[2018-03-20 01:25] jholovacs commented on #11320
OK, I discovered the issue; it's permissions on the sdk directory.  Once I opened up the permissions for nonprivileged users to write to the sdk directory, this message went away.  Maybe this file should be generated someplace else?

[2018-03-20 02:56] smitpatel commented on #11326
Bug in `SelectExpression.LiftOrderBy` function. It should ensure that ordering which is being pulled outside is referenced by the projection.

[2018-03-20 03:03] omora-RA commented on #9193
@ajcvickers I am trying to use SQL Always Encrypted with EF Core.
I just tried the latest EF Core 2.1.0-preview1-final.
If I add "Column Encryption Setting=enabled" to the connection string It throws an error:

[2018-03-20 03:54] lzocateli opened #11336 "Allow mapping a key or index over more than one column across owned entity types."
I need to generate migration for my entity "Contact" has the "Complex Type -> Address".

So far so good!

However, in the "Contact" entity I need to create a unique index containing "Complex Type -> Address" properties, which is causing migration error.

How can I create this unique index?

The code with example is in:
https://github.com/lincolnzocateli/EFCoreExample/blob/master/Map/ContactMap.cs

[2018-03-20 04:12] thiagomajesk opened #11337 "Migration works within Package Manager but not CLI"
After doing everything as described in the [migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/) I'm still getting the error:

Adding a migration or running `Update-Database` from Package Manager Console works just fine but running `dotnet ef database update` fails.

Sample code can be found here: https://github.com/thiagomajesk/ASP.NET-Core-Bootstrap-Template

[2018-03-20 04:14] smitpatel commented on #11335
Is there any specific reason you are using `Func<DisplayItem, bool>` instead of `Expression<Func<DisplayItem, bool>>` ?

The reason I ask this because, unless the expression is passed into the linq query, the function call itself would become opaque to EF Core. The Expression tree generated by compiler when you use func does not allow us to inspect what is inside of the Func, hence EF Core cannot

[2018-03-20 04:18] smitpatel commented on #11337
@thiagomajesk - It could be arising from multiple projects scenario.
Can you tell us
- What is your startup project in VS?
- What is the project selected in Package Manager Console while running `Update-Database`?
- From which project directory are you running `dotnet ef database update` command?
- Are you passing in project/startup-project arg to `dotnet ef`? One of them may be needed since your

[2018-03-20 04:25] thiagomajesk commented on #11337
@smitpatel

- What is your startup project in VS?
**Project.Web**
- What is the project selected in Package Manager Console while running Update-Database
**Project.Web**
- From which project directory are you running dotnet ef database update command?
**Project.Infra**
- Are you passing in project/startup-project arg to dotnet ef? One of them may be needed since your DbContext is not in same proje

[2018-03-20 05:24] smitpatel commented on #11337
Can you run `dotnet ef` with `--startup-project` switch pointing to your Project.Web project file and see if that works?

[2018-03-20 06:41] HSchwichtenberg opened #11338 "Converter for model type 'EquineBeast' cannot be used for 'ConsoleApp3.Rider.Mount' because its type is 'int'"
I cannot get the converter sample from the docs (https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions) to work with migrations.

Update-Database will throw an error: Converter for model type 'EquineBeast' cannot be used for 'ConsoleApp3.Rider.Mount' because its type is 'int'.

### Steps to reproduce

1. Code

[code]

2. Add-Migration v1
3. Update-Database
Applying migration '2018032

[2018-03-20 06:47] ErikEJ opened #11339 "Question: Missing aliases in GroupBy tests"
Any ideas why there is this difference in generated SQL? Aliases seem to be missing - what am I doing wrong?

     GroupBy_Property_Select_Key_Average

SQL CE:
[code]

SQL Server:
[code]

[2018-03-20 06:48] smitpatel commented on #11339
@ErikEJ - Which version of EF Core package?