[2018-09-11 07:44] jwdb commented on #13267
The modelbuilder for entities with spatial data, which is generated with the migrations, contain the following configuration:

[code]

Changing this into the following (or whatever specific spatial type you're using) in all your auto-generated migration files:

[code]

Will make it work correctly!

[2018-09-11 07:45] corstian commented on #13267
Thanks JW!

Note that, even with the `MyDesignTimeServices`, the migrations will contain the `SqlBytes` type for spatial data fields.

[2018-09-11 07:48] RoshanJeewantha opened #13285 "UseRelationalNulls does not work with SELECT conditions"
I observed a behavioural inconsistency of **UseRelationalNulls** method when used with Linq WHERE and SELECT conditions. It seems UseRelationalNulls works correctly with WHERE conditions, but has no impact on conditional SELECTs, which leads to incorrect results.

### Steps to reproduce
Repro included at https://github.com/avinash-phaniraj-readify/EFCoreTestBed/tree/UseRelationalNullsBehaviourInco

[2018-09-11 07:54] qibunext commented on #13194
@ajcvickers
https://github.com/qibunext/QibuOSS2/invitations
There are 120 or so memories in the site that are not enough to recycle without problems, but when there are many sites, 330 sites will have memory leaks.

[2018-09-11 09:27] chrispickford commented on #13277
@ajcvickers Thanks for your response. The intention is to not map the base type `EntityBase` however in my real world scenario I have many other entities that inherit from this and benefit from the common mappings set up at this level, e.g. in addition to above I have:

    public abstract class EntityBase
    {
      public int Id { get; set; }
      public byte[] RowVersion { get; set; }
      p

[2018-09-11 15:07] genne commented on #13275
Thanks 👍

[2018-09-11 15:16] ajcvickers commented on #13194
@qibunext As far as I can tell, the code there does not use Entity Framework.

[2018-09-11 15:29] Paul-Dempsey commented on #1862
I tried `modelBuilder.Query<string>();`, but when I execute `await _context.Query<string>().FromSql(sql).ToListAsync();` I get `System.InvalidOperationException: No suitable constructor found for entity type 'string'. The following parameters could not be bound to properties of the entity: 'value', 'value', 'startIndex', 'length', 'value', 'value', 'startIndex', 'length', 'value', 'value', 'startI

[2018-09-11 15:49] ajcvickers commented on #13274
@Trapov The problem is that `Account.Id` is being picked up as the primary key, and hence is being used to relate the two entity types in the table. In 2.2, the way to override this is to tell EF to:
* Create a shadow property to use instead of `Id`
* Tell EF to use this relate the two entity types by using this as the FK

[code]

[2018-09-11 15:49] ajcvickers commented on #13274
Leaving this open for triage since this is a pretty obscure thing to have to do.

[2018-09-11 15:56] ajcvickers commented on #13277
@chrispickford Issue #6787 is tracking bulk configuration for unmapped base types, and shows a way to do it before first class support is implemented.

[2018-09-11 15:58] ajcvickers commented on #13268
@obelixA When you say, "doesn't work" do you mean it still gives the same error?

[2018-09-11 15:59] herme063 opened #13286 "query type with fluent api"
I am trying to write a fluent configuration for a one to many query type.

    public class ObjectA
    {
        ...
        public int OwnerId { get; set; }
        public Owner Owner { get; set; }
        ...
    }

    public class Owner
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

I configured the owner as follow `modelBuilder.Query<Owner>().ToView

[2018-09-11 16:03] blogcraft commented on #831
The thing is that I started the project way ago, so, the first time I runned the Power Tool the efpt.config.json was obviously empty. So I had to select all my tables manually.

[2018-09-11 16:03] obelixA commented on #13268
yes. same error...

[2018-09-11 16:05] ajcvickers commented on #13194
@qibunext You're asking a very broad question in what appears to be the wrong place. This issue tracker is specifically for bugs with Entity Framework Core.

An appropriate way forward for you would be:
* Debuig and distill the problem until you have some understanding of where the problem might be coming from and how it might be reproduced by somebody else
* Based on the results of doing that, fi

[2018-09-11 16:12] qibunext commented on #13194
@ajcvickers  I don't know how to refine, I have been looking for a long time, I have changed a lot of places, I still haven't made progress. I hope you can help me. I have been suffering from this problem for a long time.
我不知道如何提炼，找了很久，改了很多地方，还是没有进展，希望你们能帮帮我，这个问题我苦脑了很久

[2018-09-11 16:30] ErikEJ commented on #13285
Have you tested with the SQL Server provider?

[2018-09-11 16:40] #13248 closed

[2018-09-11 17:13] aspnet-hello opened #13287 "Test failure: Update_on_bytes_concurrency_token_original_value_matches_does_not_throw"
This test [fails](http://aspnetci/viewLog.html?buildId=551273&buildTypeId=Releases_21Public_HighSierraOsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @ajcvickers

This issue was made automatically. If there is a problem con

[2018-09-11 17:13] aspnet-hello commented on #13287
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-11 17:21] aspnet-hello commented on #12922
Load_collection_using_Query_composite_key [failed with about the same error](http://aspnetci/viewLog.html?buildId=551022&buildTypeId=XPlat_Windows_Win10Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-11 17:27] ErikEJ commented on #831
@blogcraft Sure, but once you have done that, the selection remains in the file...

[2018-09-11 17:52] smitpatel opened #13288 "CosmosDb: Querying base type does not give results from derived type"
SelectExpression produces filter on base discriminator only rather than derived type inclusive.

[2018-09-11 17:54] Eilon commented on #13117
OK I fixed EF Core:

![image](https://user-images.githubusercontent.com/202643/45377984-0f940d80-b5b1-11e8-9497-37c2f5070b5d.png)

Now I'll go fix the other repos. Thanx!

[2018-09-11 18:42] ajcvickers commented on #13238
Also IDatabaseCreator and IDatabaseCreatorWithCanConnect

[2018-09-11 18:51] joshpeterson commented on #13099
Hey, I'm a developer at Unity working on IL2CPP. Hopefully I can shed a bit of light on this issue.

Starting in Unity 2018.2, IL2CPP will use the Interpreter for Linq expressions, so some things have a chance of working. As discussed here, you will need to use a link.xml file, since the interpreter implementation uses reflection in internal, and the managed byte code stripper is a bit too aggress

[2018-09-11 18:53] mshauny commented on #5900
dotnet ef --startup-project ../XXXX.API migrations add MigrationName -c MyContext
Works for me too 😄 Thanks

[2018-09-11 19:09] SimplerSoftware commented on #12793
This would be extremely helpful!

[2018-09-11 19:20] youngaj commented on #8764
Thanks for the help @ajcvickers and @bricelam

I added some logic to the code to handle the computed property during testing.  I'm hoping it won't become a performance problem for the application at run time.

[2018-09-11 19:31] herme063 commented on #13286
Owners table is in a different database but I want to be able to fetch it with ObjectA without needing a separate step.

[2018-09-11 19:40] ajcvickers commented on #13286
@herme063 It's not clear to me how query types helps with that scenario. Can you give some more details?

[2018-09-11 20:03] herme063 commented on #13286
The users of my application can create objects that they own. The user data table is in a different database than the objects table. When I fetch the objects using ef core, I need to pull the related owner/user data(currently just Id and Name).

So, I am planning to create a view; then configure an Owner class to point to that view. I would like for Owner to be read only and it should not be part

[2018-09-11 20:40] bricelam commented on #13267
Yep, that's a bug. Manually changing it back to `Point` should fix the issue.

[2018-09-11 20:41] MovGP0 commented on #10434
I guess that there might be the need to register type conversions globally in the `DbContext`, such that the expression tree builder in the LINQ clauses can access it  (ie. by trying to cast the  `IQueryable` object to some new  `IConversionProvider` base type) and generate the proper expression tree.

[2018-09-11 20:43] bricelam commented on #13267
Wow, for some reason I thought you were trying to `dbcontext scaffold`, not `database update`. The design-time services are unnecessary.

[2018-09-11 20:47] #13217 closed

[2018-09-11 21:09] smitpatel commented on #12241
Marking for re-triage. Currently decimal warning is in ModelValidator code. And the inference about requiring `HasColumnType` happens in ScaffoldingTypeMapper via TypeMappingSource. We don't have enough information available to do this in provider agnostic way right now.

[2018-09-11 21:23] smitpatel opened #13292 "RevEng: Remove infra around underlyingstoretype which was to support type aliases"
With #12633 type alises are going away from DatabaseModel level. i.e. providers will find out underlying type for aliased type and swap them out so EF never sees aliases. The infra to support aliases in EF Core design is public and should be removed.

[2018-09-11 21:30] mlynam commented on #13276
Thanks for the tracking info guys.

[2018-09-11 21:42] bricelam commented on #13292
(Mentioned in PR) Let's obsolete it now and encourage provider writers to do the same as SQL Server

[2018-09-11 22:31] ajcvickers commented on #13287
Duplicate of #13262

[2018-09-11 22:39] smitpatel opened #13295 "Owned collections require PK to be defined"
[code]
Fails with
[code]

[2018-09-11 22:55] #13262 closed

[2018-09-11 22:57] #12633 closed

[2018-09-11 23:01] #13235 closed

[2018-09-11 23:18] smitpatel opened #13297 "Spatial: HasData does not work with Geometry"
Throws exception from CSharpHelper while scaffolding literal for type `System.Data.SqlTypes.SqlBytes`

[2018-09-11 23:35] ajcvickers commented on #13286
@herme063 If the rows returned from the view have keys, then just map them using entity types in the normal way. Excluding them from migrations is tracked by #2725. Read-only entities is tracked by #7586.

[2018-09-11 23:35] #12211 closed

[2018-09-11 23:55] RoshanJeewantha commented on #13285
Yes.

I verified with the following providers which showed the same behaviour,
- EntityFrameworkCore.SqlServerCompact35 - 2.1.0.5
- Microsoft.EntityFrameworkCore.SqlServer - 2.1.3

[2018-09-12 02:08] ZapRiver opened #13299 "Can't reference Microsoft.EntityFrameworkCore.SqlServer"
I'm trying to install the package Microsoft.EntityFrameworkCore.SqlServer to my Shared project (.NET Standard 2.0) of a Blazor ASP.NET Core Hosted Application using the command 'Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 2.1.0' but I'm getting an error, regardless of whether I try to install version 2.1.0, 2.1.1 or 2.1.2. This used to work perfectly well until a month ago whe

[2018-09-12 04:13] darkguy2008 commented on #5913
I'm facing the same issue, just got my project blocked due to this...

[2018-09-12 04:30] qibunext commented on #13194
@ajcvickers

[2018-09-12 04:30] qibunext commented on #13194
@ajcvickers

[2018-09-12 04:30] qibunext commented on #13194
@ajcvickers

[2018-09-12 04:39] anildbest83 commented on #8127
Somehow I managed to tackle my situation using the code written by @ppn2, thanks

[2018-09-12 04:57] seroche opened #13300 "Order of entity mappings matters when dealing with shadow properties"
Our `User` entity has a One-To-many relationship with another entity called `Profile`.

You may find the mappings we are using below:
[code]
If `Profile` related mappings are added **after** those for the `User` entity, EF Core will end up throwing the following exception:
`System.InvalidOperationException: 'The types of the properties specified for the foreign key {'Email'} on entity type 'Profil

[2018-09-12 05:04] behzad888 commented on #1862
@Paul-Dempsey You should use your DbSet instead `string`

[code]

[2018-09-12 05:32] aspnet-hello opened #13301 "Test failure: Applied_to_multiple_body_clauses"
This test [fails](http://aspnetci/viewLog.html?buildId=552086&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ryanbrandenbur

[2018-09-12 05:32] aspnet-hello commented on #13301
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-12 05:32] aspnet-hello commented on #13301
Applied_to_body_clause_with_projection [failed with about the same error](http://aspnetci/viewLog.html?buildId=552086&buildTypeId=Lite_UniverseTest) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-12 06:46] WeihanLi opened #13302 "is it possible for add `FromSql` support for memoryDatabase"
Is it possible for add `FromSql` support for memoryDatabase?

I'm using inMemoryDatabase provider for ef core, but it seems it does not support `FromSql`.
So is it possible to add support?

[2018-09-12 07:46] Forester- opened #13303 "ArgumentException on Left Outer Join LINQ with Contains"
The next LINQ causes ArgumentException:

[code]

Exception:
[code]

Sampe source code is available at https://github.com/Forester-/EFCoreLojErr

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10, MS SqlServer 11.0.2100 at Windows Server 2008 R2
IDE: Visual Studio 2017 15.4.5

[2018-09-12 10:07] merrycoder commented on #11738
Same for me as for @sadjadbp - blocks me from upgrading to 2.1.

[2018-09-12 10:29] roji commented on #13297
Dup of #8741

[2018-09-12 13:37] dmitry-lipetsk opened #13304 "StringTypeMapping.EscapeSqlLiteral (GenerateNonNullSqlLiteral) and zero char"
Just for information.

Current implementation of StringTypeMapping.EscapeSqlLiteral (GenerateNonNullSqlLiteral) simple replaces '\'' to "\'\'".

I think, It not enough when string contains the symbol with zero code - '\0'.

Example of Linq query:
`     var recs=db.testTable.Where(r => r.DATA.ToLower()=="a\0s");
`

In case of Firebird, 'a\0s' should transformed into 'a'||x'00'||'s' string.

In case

[2018-09-12 14:02] almazsr commented on #11738
We met the same problem, when tried to create `IModel` through `ModelBuilder`. By default EF Core caches `IModel`, thus all `DbContext`'s use one instance of it. If you need a new specific instance of `IModel` per each `DbContext` creation, create custom `IModelSource` to prevent caching of `IModel`:
[code]
Then just replace the default ModelSource with created one to create a new `DbContext` with

[2018-09-12 14:18] luigi68 commented on #11738
I tried without luck...  honestly i believe problem is somewhere else.

[2018-09-12 15:42] spudcud commented on #8127
@anildbest83 What did you do to get it to work? Can you post a snippet?

[2018-09-12 15:47] ajcvickers commented on #13300
@seroche Please post the User and Profile classes.

[2018-09-12 15:49] ajcvickers commented on #13302
@WeihanLi The in-memory database is not a relational database and does not have any support for running a query language like SQL.

[2018-09-12 16:35] bricelam commented on #13297
Requires #8741

[2018-09-12 17:01] #13254 closed

[2018-09-12 17:30] WiredUK commented on #8527
I think this is a really interesting feature but not sure how it would work with EF. Perhaps we could discuss it here?

1. Annotations for migrations: This should be a fairly simple matter of adding method(s) similar to `ForSqlServerIsMemoryOptimized` (e.g. `ForSqlServerIsGraphNode` and `ForSqlServerIsGraphEdge`)

2. How to materialise the `$node_id`, `$edge_id`, `$from_id` and `$to_id` columns? W

[2018-09-12 17:50] #11951 closed

[2018-09-12 17:56] smitpatel commented on #1862
@Paul-Dempsey - #11624

[2018-09-12 18:28] ajcvickers commented on #3932
@smitpatel file an issue for the bug and fix in 2.2.
@divega to clean up this issue.

[2018-09-12 18:43] Paul-Dempsey commented on #11624
Meanwhile, falling back to ADO with an example as in this thread should be covered in the topic on Raw Sql Queries for EF core, as well as the limitations and prerequisites (registration) better documented in the docs for Query<t>

[2018-09-12 18:43] Paul-Dempsey commented on #1862
Ok, #11624 showed something that worked (well close enough - the example neglected to open the connection). DbSet doesn't make sense because there isn't one.

[2018-09-12 19:56] ajcvickers commented on #12241
Triage: we will make a change to always scaffold a column type for decimal for all providers. This means there may be some extra configuration in the model that is not needed, but there will be no warnings at runtime. We will then leave this issue open to do a provider-specific fix once the infrastructure is in place.

[2018-09-12 20:04] ajcvickers commented on #13163
@djkiwe Can you post the output when running with the '--verbose' flag?

[2018-09-12 20:06] ajcvickers commented on #13268
@obelixA Unfortunately we're out of ideas to try. Would it be possible to post a project/solution that reproduces what you are seeing so that we can investigate?

[2018-09-12 20:09] ajcvickers commented on #12966
Triage; putting this into 2.2 since we should be more robust here.

[2018-09-12 20:11] ajcvickers commented on #13274
Triage discussion: we should look into not detecting PKs by convention on owned types, since it is uncommon that an owned type will have an explicitly declared PK. However, we can continue to look for an FK by convention.

[2018-09-12 20:13] ajcvickers commented on #13280
Triage: do the `OgcGeometryType` option for 2.2.

[2018-09-12 20:18] ajcvickers commented on #13299
@ZapRiver Can you provide some more details on exactly when you hit this? Is it on package install or some other time? Does building the solution work? (Also note that generally using the IL linker is likely to have issues based on similar scenarios for Xamarin and Unity--see #10963 and #13099)

[2018-09-12 20:32] ajcvickers opened #13307 "Visual Studio 2017 version 15.8.4 update error"
From VS Feedback:

After Visual Studio 2017 version 15.8.4 update

Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=2.1.3.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

Because not working web project

before version Microsoft.EntityFrameworkCore, Ve

[2018-09-12 20:32] ajcvickers commented on #13307
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-09-13 00:29] #11591 closed

[2018-09-13 01:46] WeihanLi commented on #13302
Thanks @ajcvickers

[2018-09-13 01:49] SteffenMangold opened #13309 "Query tags inside compiled query"
It seems not to be possible to use `.WithTag(` in combination with compiled queries.

[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.2.0-preview2-35157
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.4

[2018-09-13 02:05] andresdsep commented on #12211
I just pulled version 2.2.0-preview2-35157 from NuGet and found this issue to still be occurring.

As I said before though, it only seems to happen when using `.Contains` in the expresssion:
`repo.Where(x => x.RollDate == today)`
produces:
`exec sp_executesql N'SELECT [x].[AllTheColumnsHere]
FROM [table] AS [x]
WHERE ([x].[RollDate] = @__today)',N'@__rollDate_Date_1 datetime2(7)',@__today='2018-09

[2018-09-13 02:36] Shadetheartist commented on #11765
I am having this issue as well and it is causing minutes of lag for a single query, one that only took a second previously.

[2018-09-13 03:23] scottsauber opened #13310 "EF Querying All DbSets Randomly"
For some reason, **sporadically something is triggering EF to loop through and query all DbSets associated with a context and return all the results.  This is causing out of memory exceptions, because it's pulling literally our entire database.**

We can't seem to consistently replicate this, but when we have it's been when we call `SaveChangesAsync` and there's been some sort of exception (like t

[2018-09-13 07:05] netnr opened #13311 "Published to Centos7, memory has been growing until the process is killed"
Asp.net core 2.1 EF

Centos7 1Core 1G

Previously, Windows was running on IIS, using the sqlserver database. In the first two weeks, it was replaced by Centos, using nginx as a proxy, and the database was replaced by sqlite3.

At the beginning, the Centos system swap space is about 200MB, the site runs for one day, the memory accounts for 90%, the swap runs out, the dotnet process is killed; the s

[2018-09-13 07:08] andycode112 opened #13312 "error NU5029"
A problem arose when I used build.cmd to build the entityframework core-2.2 source code on Windows.

C:\Program Files\dotnet\sdk\2.1.302\Sdks\NuGet.Build.Tasks.Pack\build\NuGet.Build.Tasks.Pack.targets(198,5): error NU5029: NuspecProperties 的格式应为 "key1=value1;key2=value2"。 [E:\powershell-build\EntityFrameworkCore-2.2\src\EFCore.Analyzers\EFCore.Analyzers.csproj]
C:\Program Files\dotnet\sdk\2.1.302

[2018-09-13 07:37] joamla96 opened #13313 "Identity seed kept across inMemory databases"
Hi.

I'm setting up my test framework to use an in memory database for the different scenarios. Each test uses a "unique" database, and each step of the test use a different context for entity framework.

Problem is, even if the tests use different "in memory" databases, and different contexts from entity framework, the identity in the database seems to increase.

### Steps to reproduce
Created 2

[2018-09-13 07:48] anildbest83 commented on #8127
Something like this

Used SqlHerper.cs class (attached)

[SqlHerpler.txt](https://github.com/aspnet/EntityFrameworkCore/files/2378221/SqlHerpler.txt)

and cosnume it like this

`_context.LoadStoredProc("get_user_by_lastupdateddate]")
                .WithSqlParam("@lastupdatedfrom", lastUpdatedFrom)
                .WithSqlParam("@startwithuserid", startWithUserId)
                .ExecuteStoredPr

[2018-09-13 08:49] generik0 commented on #9007
@ajcvickers Any update? I have same issue if:
Demo code:
[code]

[2018-09-13 10:07] j-hudecek opened #13314 "EF Core returning stale data"
Sorry for not having a repro, but perhaps someone can still look into this:

### Steps to reproduce

My web app deleted some entities using ``ExecuteSqlCommandAsync("delete from ..,")`` and then encountered an uncaught exception that prevented it from calling ``SaveChanges``. It ran a query (with ``QueryTrackingBehavior.NoTracking``) to get the entities which returned no results. Later new entitie

[2018-09-13 11:14] thomaslevesque opened #13315 "InvalidCastException when trying to use FreeText with a local variable as the language argument"
When I try to use a local variable for the `language` argument of the `FreeText` method, I get the following exception:

[code]

### Steps to reproduce
[code]

Using a literal instead of the `lcid` variable works fine.

The problem seems to be on this line:

https://github.com/aspnet/EntityFrameworkCore/blob/7b11733e091e937ea6f616ecf56ebc6fcb11955f/src/EFCore.SqlServer/Query/ExpressionTranslators/

[2018-09-13 11:18] thomaslevesque commented on #13315
In the original expression, the argument is a `FieldExpression` (the `lcid` captured local variable) off a `ConstantExpression` (the object holding the captured locals). But by the time it reaches the `SqlServerFreeTextMethodCallTranslator` class, it has been changed to a `PrimitiveParameterExpression`, so I'm not sure if it's possible to retrieve the value...

[2018-09-13 11:29] Necronux commented on #12333
I'm just revisiting the issue.

@Tarig0 what about

[code]

instead of setting `null` or `default` to invalidate and calculating new value in property getter. I think the result is the same, drawback might be duplication of logic?

[2018-09-13 12:10] dmitry-lipetsk commented on #6482
Does not work with current EFCore from master (2018-09-13). Could you update this code? Thanks.

[2018-09-13 12:29] roddharris opened #13316 "Allow mapping of get-only property one-way to database"
It would be nice if we could map a get-only property from a POCO to the database so the information gets stored.

An example of this would be a Fullname property getter that computes and returns the full name of a Person.  I would like that Fullname stored in the database to make it easier on those who query the database (so they don't have to compute the name).  However, because it is computed in

[2018-09-13 12:42] thomaslevesque commented on #13315
Workaround: fixup the expression to replace references to a local variable with the value of that variable.

[code]

Usage:

[code]

[2018-09-13 12:59] obelixA commented on #13268
Would a remote session be ok? There are so many libraries involved that I'm not sure I can create a test project that reflects the circumstances...
If so, drop me a message at a.bohmann@acs-it-systems.de

[2018-09-13 13:09] JoshTango opened #13317 "Discriminator issue"
You released an article today which said this "our prototype mapped entities in each inheritance hierarchy to their own separate Cosmos DB collections, but because of the way Cosmos DB pricing works, this could become unnecessarily expensive"  and as a result you used a discriminator and pushed all entities into one collection.
The thing is thought that Azure changed its pricing to allow you to co

[2018-09-13 13:12] genne opened #13318 ""The entity type was not found." when mixing cultures"
If you initiate your `DbContext` on a thread with one culture (`Thread.CurrentCulture`, i.e. `en-US`), and then try to use another instance of your context using another culture (i.e. `sv-SE`), you can run into `InvalidOperationException: 'The entity type 'MyEntity' was not found. Ensure that the entity type has been added to the model.'`

It seems like the `SortedDictionary` over entity types doe

[2018-09-13 14:54] altmank opened #13319 "InMemoryDb Returns Local (cached) DbSet entity when Context is set to NoTracking"
I'm trying to understand if there is an issue here or if my understanding of the intended behavior is incorrect.

I create an InMemoryDatabase DbContext with UseQueryTrackingBehavior(QueryTrackingBehavior.NoTracking).

I create an instance of my DbContext inside of the unit test, I then add an entity with some specific data and SaveChanges();

My unit test then calls a service and that service wil

[2018-09-13 14:58] habefvd01 commented on #11564
I also think it is better there is a way to disable the "Fix-up" properties.
I meet the situation that sometimes I need get both parent entity and associated child entities data which I just explicitly use .include method is OK.
but sometimes I only need get parent entity data, but even if I didn't use .include method,just use something like
_db.parentEntity.FirstOrDefault(...)
it also automatical

[2018-09-13 15:01] ajcvickers commented on #12211
@andresdsep This fix did not make it into the preview2 release. This is why the milestone is still set to 2.0.0, and not 2.0.0-preview2.

[2018-09-13 15:08] gojanpaolo opened #13320 "InMemory implicitly deletes entity when changed to an invalid state"
A `Post` with `null` `Blog` can be saved using the in-memory provider even if the `Post.BlogId` is non-nullable. But when a `Post` is saved with a `Blog` instance and then later changed to `null`, the said `Post` entity will be implicitly deleted.

### Steps to reproduce

[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCore.InMemory
Operatin

[2018-09-13 15:14] ajcvickers commented on #13310
@scottsauber The only thing I can think of that would cause something like this is if lazy-loading is enabled and then something tries to walk the entire graph of navigation properties. But that seems unlikely to be a randomly occurring thing, so I don't really have any good ideas.

[2018-09-13 15:16] ajcvickers commented on #13311
@netnr It's unlikely we will be able to figure out what is happening without a solution/project or code listing that reproduces what you are seeing. Are you able to distill the scenario down into something that we can use to investigate?

[2018-09-13 15:17] ajcvickers commented on #13313
Duplicate of #6872

[2018-09-13 15:20] ajcvickers commented on #9007
@generik0 This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-09-13 15:28] scottsauber commented on #13310
@ajcvickers - Thanks for the quick response.  I appreciate it.

We don't have Lazy Loading enabled.  I've walked through all of our DbContext queries and nothing stands out to me.

This person seems to have hit something similar:
https://stackoverflow.com/questions/51510086/filtering-data-with-linq-doesnt-seem-to-compile-properly

We are using `.AnyAsync` in quite a few spots, where that author is

[2018-09-13 15:39] ajcvickers commented on #13316
@roddharris We discussed this in #7946 and decided that having an empty setter is reasonable for this scenario. For example:
[code]

[2018-09-13 15:46] ajcvickers commented on #13319
@altmank Because the entity is being tracked by the call to `Add` or similar that you use to start tracking the entity. This is required since SaveChanges operates on tracked entities. It sounds like there are multiple units of work in this test. The best practice would be to use a new context instance for use of these.

[2018-09-13 15:49] ajcvickers commented on #13310
@scottsauber Query tags are available in the 2.2 preview, although they still need some work. See #1664

[2018-09-13 15:54] altmank commented on #13319
@ajcvickers I'm not sure it makes sense still, if an entity starts being tracked by the usage of Add, why would my Find command bypass the Context behavior of NoTracking?

[2018-09-13 15:58] ajcvickers commented on #13320
@gojanpaolo For the first case, the save is not throwing because the in-memory provider currently doesn't enforce relational constraints--see #2166.

For the second case, `Post.BlogId` is not nullable, which implies a required relationship between Blog and Post. This means that when the relationship is severed the default behavior is to delete the dependent (Post) since it can't exist without it's

[2018-09-13 16:00] altmank commented on #13319
[Example.zip](https://github.com/aspnet/EntityFrameworkCore/files/2380097/Example.zip)

I've attached a sample project demonstrating this issue.

[2018-09-13 16:01] ajcvickers commented on #13319
@altmank Find is always a tracking call. The semantics of Find is to always return a tracked entity if possible without performing a query. If you want to force a query, no-tracking or otherwise, then use a query instead of using Find.

[2018-09-13 16:02] altmank commented on #13319
@ajcvickers Okay, that's good to know. Is there a document somewhere that details which calls override the context tracking behavior?

[2018-09-13 16:06] ajcvickers commented on #13319
@altmank The query-tracking behavior applies only to queries. It's not that it is overridden by anything, it's that it only applies to queries.

[2018-09-13 16:10] altmank commented on #13319
@ajcvickers I switched my test project to use a call to Single() instead of Find() and the behavior continues. Is Single() not a query?

[Example2UsingQuery.zip](https://github.com/aspnet/EntityFrameworkCore/files/2380117/Example2UsingQuery.zip)

[2018-09-13 16:11] gojanpaolo commented on #13320
I see now. Thank you @ajcvickers.

[2018-09-13 16:31] ajcvickers commented on #13319
@altmank I ran your code and it shows an interesting behavior. The reason that you don't see the updated value is that it is never saved. The reason it is never saved is that, contrary to what I said above, the Find call is resulting in a no-tracking query when the entity is not already tracked. This is interesting and something we should discuss.

If I change the Find to a tracking query:
[code]

[2018-09-13 16:36] altmank commented on #13319
@ajcvickers Actually, I think that makes sense. If I have turned tracking off, I would not expect my field modification to be captured only by SaveChanges(). I would expect I would need to call DbContext.Update() on the modified entity first.

If you agree, then I think the only issue here was my lack of understanding that query tracking does not apply to Find()

[2018-09-13 16:38] ajcvickers commented on #13319
@altmank Except that is half does apply to find--this is what I want to discuss with the team.

[2018-09-13 16:39] altmank commented on #13319
Okay, sounds good.

[2018-09-13 16:43] xKloc opened #13321 "Adding Same Id to Multiple Entities' Owned Collection Fails"
I am trying to add immutable objects to different entities and cannot because their "Id" is the same. It looks like the shadow foreign key for the owned collection isn't being considered.

[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.2 preview 2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2018-09-13 16:44] xKloc commented on #13321
Current Workaround is to define the key manually.

[code]

[2018-09-13 17:42] djkiwe commented on #13163
Update released today using dotnet-sdk 2.1.402 fixed the issue. Now I'm able to use global dotnet-ef tools. I don't know what caused the error in the end. Thanks a lot for your time.

[2018-09-13 17:58] divega commented on #13317
@JoshTango thanks for bringing this up. I agree that ignoring the pricing, having each aggregate to a separate collection is more natural. We definitively plan to provide an option for that.

We talked to the Cosmos DB team about the new global pricing model before we decided, and with the data we had at the time, mapping to a single collection seemed to be a better default anyway.

We will follow

[2018-09-13 18:24] gojanpaolo opened #13322 ".NET Framework 4.7.2 InMemory EnsureCreated with seeded data then Add new entity throws ArgumentException : An item with the same key has already been added."
I get the following exception on .NET framework 4.7.2 but not on .NET Core 2.1.

[code]

### Steps to reproduce

[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCore.InMemory
Operating system: Win7
IDE: Visual Studio 2017 15.4

[2018-09-13 18:40] TrevorFradsham commented on #11240
I have attempted to implement this workaround, but I have a follow-up question. I get an unknown reference to Entry(dependentEntry). What is the Entry function? The dependentEntry is an actual object from the child collection and not an EntityEntry object needed for the HandleDependent method. Is there a Using statement missing. I am testing within a GenericRepository pattern.

[2018-09-13 18:42] JoshTango opened #13323 "Regular Azure Table Storage"
You now offer a Cosmos DB Provider.  Cosmos DB API supports talking to the regular table storage outside of Cosmos so does this mean I can use the Cosmos DB Provider and configure it to talk to regular table storage?  The reason why I ask this is because it is 3 to 4 times cheaper than Cosmos Table Storage.

[2018-09-13 18:46] gojanpaolo commented on #13322
Issue seems to be fixed on 2.2.0-preview2-35157.

[2018-09-13 19:00] divega commented on #13323
@JoshTango Thanks for bringing this up. As explained [in the announcement](https://blogs.msdn.microsoft.com/dotnet/2018/09/12/announcing-entity-framework-core-2-2-preview-2/#new-ef-core-provider-for-cosmos-db) our Cosmos DB provider targets the [SQL API](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-introduction).

We currently don't have plans to build a provider for the Table API, but

[2018-09-13 19:03] JoshTango commented on #13323
Oh right it only targets sql api.  I see.  Well it would be easy for you to also provider table storage support since your using a discriminator to map all entities to only one collection.

[2018-09-13 19:14] divega commented on #13310
@scottsauber this is just a shot in the dark, but after reading the stackoverflow.com question you pointed to, I suspect you could be seeing something like this if some code accidentally uses the LINQ extension methods for `IEnumerable<T>` instead of the `IQueruable<T>` version. This could happen if, for instance, you pass a `Func<T, bool>` argument instead of `Expression<Func<T, bool>> to a LINQ

[2018-09-13 19:32] divega commented on #13323
@JoshTango writing a provider for a database API that has a completely different paradigm is not that easy :blush:, but as I said it is still something we can consider doing in there is enough demand.

[2018-09-13 21:23] danjohnso opened #13324 "Logging elapsed as string"
https://github.com/aspnet/EntityFrameworkCore/blob/d59be61006d78d507dea07a9779c3c4103821ca3/src/EFCore.Relational/Internal/RelationalLoggerExtensions.cs#L120

In the RelationalLoggerExtensions, you convert the elapsed time to a string which was frustrating to find when utilizing structured logging.  I was trying to run aggregations over values from our logs but kept getting null errors until I fou

[2018-09-13 23:13] SteffenMangold opened #13326 "WithTag and simple value projection"
`WithTag` can't be used with simple type projection because of an compiler error.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us t

[2018-09-13 23:43] netnr commented on #13311
After testing, using SQL to query memory without EF will not always increase

[2018-09-13 23:44] netnr commented on #13311
https://github.com/netnr/netnrf/tree/master/src/v2/Netnr.ResponseFramework/Netnr.Data

[2018-09-14 00:37] fulviocanducci opened #13327 "Unhandled Exception: System.NotImplementedException: The method or operation is not implemented. at Microsoft.EntityFrameworkCore.Cosmos.Sql.Storage.Internal.CosmosSqlDatabaseCreator.EnsureCreated()"
The error posted is at the time of command `db.Database.EnsureCreated();`

[code]

Class
---
[code]
---

Execution

[code]
### Further technical details
Database Provider: (e.g. Microsoft.EntityFrameworkCore.Cosmos.Sql)
Operating system:
IDE: (e.g. Visual Studio 2017 15.8.4)

[2018-09-14 01:09] scottsauber commented on #13310
Appreciate the responses @ajcvickers and @divega.  I will keep digging and report back what I find.

[2018-09-14 01:11] seroche commented on #13300
Here they are. Entity base class just contains a property called Id. For the sake of simplicity I removed all methods from those class to keep them short!

    public class User : Entity<Guid>, IAggregateRoot
    {
        private string _email = string.Empty;
        private readonly List<UserRole> _roles = new List<UserRole>();
        private readonly List<Profile> _profiles = new List<Profile>

[2018-09-14 01:35] smitpatel commented on #13327
Use `EnsureCreatedAsync()` instead. Sync APIs for database creation and SaveChanges are not part of preview2 package. We are adding them for next preview.

[2018-09-14 04:19] linkinshi commented on #13311
@netnr
optionsBuilder.UseLoggerFactory(new LoggerFactory(new[]
            {
                new ConsoleLoggerProvider((category, level)
                    => category == DbLoggerCategory.Database.Command.Name
                    && level == LogLevel.Error, true)
            }));
don't create new LoggerFactory each time.
you can see this https://docs.microsoft.com/en-us/ef/core/miscellaneous/logg

[2018-09-14 05:29] netnr commented on #13311
@linkinshi Resolved issue, thanks

[2018-09-14 06:40] haidari-m commented on #1368
EF Core Team please fix this!

[2018-09-14 07:04] Jupakabra commented on #12617
We are running into this too, our web application starts with default US culture, but after that it can be changed by user to many other ones. If other culture has a different ordering rules especially if letter `Y` goes like ` I Y J`. Only entity types which get different ordering fail, because sorted dictionary just cant find them even though their string representation is the same. Hoping we ca

[2018-09-14 07:06] Jupakabra commented on #13318
Duplicate of #12617, but this provides some additional information and examples

[2018-09-14 07:14] cwe1ss commented on #13317
They have not really fixed their pricing. The minimum RUs for the new database provisioning is 50.000 RU/s which is ~ 300 USD / month. That's still very expensive for dev environments and smaller projects.

[2018-09-14 07:58] GeorgeBushRekt commented on #5856
This is still an issue in vs2017, please re-open and fix.

[2018-09-14 08:09] j-hudecek commented on #13314
I don't think it's long lived, I just do this in ``ConfigureServices``:

            services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlite(Configuration.GetConnectionString("DefaultConnection")));

But I agree there is not much that would help where to look.

[2018-09-14 09:55] Alexxtheonly commented on #13322
With this version I also get the error

[2018-09-14 12:00] JoshTango commented on #13317
that's not what I meant, what I meant was they used to have RU's per collection, now they have an option to have RU's applied globally to all the collections.

[2018-09-14 12:04] JoshTango commented on #13323
I'm sorry I was thinking to simply.  When I realized you have pushed all your entities into one collection using a discriminator I thought then that it could simply be used with a table in azure table storage also.  While it would be easy for you offer that part I forgot their is a whole bunch of code associated with the LINQ side of things which can not be reused and would be a lot of work.

[2018-09-14 13:27] gojanpaolo commented on #13322
@Alexxtheonly Could you please try this https://github.com/gojanpaolo/ef-core-13322 ?
It has .net core, .net 4.7.2, and .net 4.7.2 w/ ef core 2.2

[2018-09-14 13:49] ulhas07 opened #13328 "Cannot add or update a child row: a foreign key constraint fails MYSQL : EF Core"
Describe what is not working as expected.
Getting a DbUpdateException when trying to insert data in MySQL database.
Have used Pomelo.EntityFrameworkCore.MySql package to scaffold the models from the database,
the project is created in .net core 2.1
If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Have Booking, BookingDet

[2018-09-14 13:52] ulhas07 commented on #13328
Have one to many relation between booking -bookingDetail, booking-invoice, bookingDetail - invoice

[2018-09-14 14:14] gojanpaolo commented on #13322
So I just tested again on a new solution and issue still exists in 2.2.0-preview2-35157

[2018-09-14 15:45] gius commented on #10125
What if there are unsaved modifications on tracked entities after a DbContext is used? Will it be saved when the instance is reused from the pool and called `SaveChanges`? Can/should I dispose of a DbContext when using pooling?

Won't the long-lived DbContext get slower and slower as it will track more and more entities over all reuses? Or is the tracker reset when the DbContext is returned to the

[2018-09-14 16:04] smitpatel commented on #10125
@gius - All services including ChangeTracker are reset when the DbContext is returned to the pool. So whenever you get a context from pool, it is same as what it would be if you re-initialize it (except for few limitations).

[2018-09-14 17:40] dmitry-lipetsk opened #13329 "EF Logging and Tests"
I write tests for my EF data provider and want to check a generated SQL text.

Decision from #6482 does not work correctly, so I began use a log.

[code]
TestLogger works as expected - I receive notifications from EF and can save a SQL of executed command.

One problem - each test creates and registed in own (local) DbContext an own (local) log object.

But seems AddProvider append the log object

[2018-09-14 18:17] smitpatel commented on #13329
You don't need to add logging infra. Just use `Fixture.TestSqlLoggerFactory` it should be available for all test fixtures in functional tests in EF Core Specs tests. If you are writing tests which are not derived from EF Specs tests then you can follow how TestSqlLoggerFactory is wired up in DI to use in own tests.

[2018-09-14 18:42] bricelam commented on #5856
@GeorgeBushRekt Could you file an issue on [NuGet/Home](https://github.com/NuGet/Home/issues/new) with the steps to reproduce it?

[2018-09-14 18:43] bricelam commented on #5856
I vaguely remember something like moving a project to a different solution folder causes it to fail, but I may be remembering wrong.

[2018-09-14 18:44] divega commented on #13317
These are two options you choose from: per database or per collection reserved throughput. The per database option was added more recently. See https://azure.microsoft.com/pricing/details/cosmos-db/.

[2018-09-14 18:59] mrbm2007 commented on #6847
In my case, name of database had '-' character, after changing it to '_' it solved

[2018-09-14 19:02] #11956 closed

[2018-09-14 19:10] ajcvickers commented on #12617
See also #13318 as well. When fixing this, make sure to check all places where we sort by strings and do so with the invariant culture.

[2018-09-14 19:16] ajcvickers commented on #13322
Duplicate of #6872, since in-memory value generation from keys does not currently consider any existing values.

[2018-09-14 19:45] ajcvickers commented on #13328
@ulhas07 The Invoice has a required relationship to Booking, but no Booking instance is set when attempting to insert, so the database raises an FK constraint violation.

[2018-09-14 20:54] theberserker opened #13330 "Wrong filepath to LocalDB file with on Migrations (Update-Database) when user folder contains a space"
For a LocalDB (installed with Sql Server 2017) when Windows username contains a space character, the EF Core tool crashes on  `Update-Database`, due to wrongly concatenating user's folder and a database filename. The combined path becomes _'C:\Users\Name SurnameDatabaseName.mdf'_ instead of _'C:\Users\Name Surname\DatabaseName.mdf'_

Connection string used: `"Server=(localdb)\\mssqllocaldb;Databas

[2018-09-14 21:03] olmobrutall commented on #365
I've just made a [pull request](https://github.com/dotMorten/Microsoft.SqlServer.Types/pull/6 ) adding support for `SqlHierarchyId` in [dotMorten's ](https://github.com/dotMorten/Microsoft.SqlServer.Types).

When merged, the repository will have a .Net Standard implementation of all the important types in  `Microsoft.SqlServer.Types`:
* `SqlHierarchyId`
* `SqlGeometry`
* `SqlGeography`

Maybe coul

[2018-09-14 22:56] theberserker commented on #13330
Thanks @ajcvickers. Yes, I can confirm that my assumption was wrong and this is indeed the issue. After installing _Cumulative Update Package 10 for SQL Server 2017 - KB4342123_, it works fine.

[2018-09-15 00:57] ajcvickers commented on #12192
Will work on this after #8741 is fixed.

[2018-09-15 05:59] dmitry-lipetsk commented on #13329
Hi @smitpatel,

Thanks, I understood.

[code]
Now tests work as expected.

[2018-09-15 08:31] psibernetic commented on #12086
Probably don't call my tables Unicorn. 🦄 😄
![image](https://user-images.githubusercontent.com/621605/45584358-f5934d00-b886-11e8-9f0b-e9382bec1ce9.png)

[2018-09-15 13:51] ctrl-alt-d opened #13333 "Migrations are not database brand agnostics"
[EF Core generated migration has database brand annotations.](https://stackoverflow.com/questions/52310236/ef-core-generated-migration-has-database-brand-annotations-looking-for-database) Digging into auto generated migrations files (`dotnet ef migrations add mymigration1`) I see references to specific database brand:

[code]

I use EF2 core to be able to deploy and run application on several data

[2018-09-15 14:16] Nurgunkalol commented on #13307
same error, up

[2018-09-16 02:03] zulander1 commented on #10001
Hi,

Any possibility to have this issue fixed as soon as possible, in the next minor/major release ?

Thank you

[2018-09-16 02:05] marchy commented on #12465
Could we please get an EF6 roadmap put up as well? (similar to the Core one: https://github.com/aspnet/Announcements/issues/308)

For many reasons the community has beat to death at this point – including no migration paths from EF6 to EFCore – EF6 is the only framework that any production team can sanely consider for the foreseeable time in the future (ie: 2019/2020).

Please shed some light on f

[2018-09-16 15:42] redplane opened #13334 "Parameter count mismatch while seeding generic data EF Core 2.1.3"
Hi,

I'm making an application using `.Net core` and `EF Core` with `In-memory provider` to mocking my data.
My data is saved in json files.
For now, I just want to loop through the list, read the json file and add to `DbContext` automatically.
Here is what I done:

- Created a file `AddMockingRecords.cs` to read json files, and save to a `Dictionary<Type, string>` where **key** is entity type , *

[2018-09-16 22:11] ajcvickers commented on #12732
Note for triage: issue here is that the DbParameter is for type `List<TodoType>`, but issue is the same for type `List<int>`. Bringing back to triage to discuss how to handle such parameters.

[2018-09-16 22:26] xperiandri commented on #13269
Provided reproduction in private email.
Let me know if anything else required.

[2018-09-16 23:57] touhidulfahim commented on #5856
Select Project From Dropdown
![image](https://user-images.githubusercontent.com/24824421/45602359-9710cf00-ba3e-11e8-86f8-83016bd2c6e1.png)

[2018-09-17 07:45] jirikanda commented on #11691
Because of this behavior we do not use query filters at all.

[2018-09-17 08:16] mokeyish opened #13337 "Ability to map a DbFunction to a fragment of SQL"
In this issue we discussed having the ability to map a DbFunction directly to an arbitrary fragment of SQL without requiring that the SQL is generated by the provider form expression nodes. We ended up deciding not to do this for various reasons:

1. It would be hard to adapt the current way SQL is generated to support this
2. As providers add more capabilities, the usefulness of this would dimini

[2018-09-17 08:25] JakobFerdinand opened #13338 "Using an Owned Entity Type twice or more causes EF Core to not Find that Type in DbContext.Model"
When using an Owned Entity in different EntityTypes EF Core doesn´t find the Owned Entitytype in the `DbContext.Model`.

[Here is a sample project to reproduce the Issue.](https://github.com/rzlsoftware/EFCoreOwnedEntityUsageInTwoDifferentEntitiesSample)

### Steps to reproduce
[code]

[code]

[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFramework

[2018-09-17 09:54] andriysavin commented on #9882
So #1862 is implemented, how do I do ExecuteScalar now?

[2018-09-17 13:48] andre-f-paggi commented on #9630
It took me so much time to get to this issue.

I am having a problem in which a owned type generates a Discriminator property, even though there is no need for it, since the class that has this property is not derived anywhere else.

Can this be the same issue?

I tried removing it from migration and from the snapshot to test, but it generates a wrong sql statement when acessing the DbContext on t

[2018-09-17 13:49] nunorelvao commented on #11314
I also would love to have the possibility to work with order annotations eg:

`public class BaseModel
    {
        [Key, Column(Order = 0)]
        [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
        public int Id { get; set; }

        [Column(Order = 100, TypeName = "datetime")]
        public DateTime Base_Addeddate { get; set; }

        [Column(Order = 101, TypeName = "datetime")]

[2018-09-17 15:03] sjb-sjb commented on #13227
@ajcvickers, any comment on whether the design of EF allows eager loading related entities using a navigation whose dependant type is the base class rather than the concrete derived class? Noting that the cast notation requires the derived type so it cannot be used in a software design where that type is not available.

[2018-09-17 15:33] mmillican opened #13339 "Running EF Core Migrations from DLLs on Linux"
I'm currently working on setting up a build to our Linux EC2 instances via Code Deploy and have been having some issues getting EF Migrations to run.

Running `dotnet ef database update -p ProjectName.Backend.Core.dll -s ProjectName.Backend.Api.dll` produces the following:

[code]

What do I need to get migrations to run on Linux from a published output?

I've seen [Ben Day's post](https://www.ben

[2018-09-17 16:45] ajcvickers commented on #13222
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-17 16:46] ajcvickers commented on #13227
@sjb-sjb That's not something that EF Core currently supports.

[2018-09-17 16:47] ajcvickers commented on #13230
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-17 16:47] ajcvickers commented on #13233
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-17 16:48] ajcvickers commented on #13272
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-17 17:00] ajcvickers commented on #13324
@danjohnso There at least used to be issues passing non-strings to ASP.NET Core logging, but even without that we want to format the values appropriately for the message. We will discuss this in triage, but I expect the answer is to use DiagnosticSource/DiagnosticLister to get events with structured data. This API is designed to give you full access to the raw data for the event. EF Core generates

[2018-09-17 17:08] bricelam opened #13341 "Sqlite Migrations: Support RENAME COLUMN"
Version 3.25.0 of SQLite supports renaming columns:
[code]
We should add support for this in migrations when SQLitePCL.raw updates to this version.

[2018-09-17 17:11] bricelam commented on #329
Hey cool, SQLite 3.25.0 supports renaming columns. Filed #13341 to implement it on our side.

[2018-09-17 17:49] Deilan commented on #13341
2.2? Please? 🙏

[2018-09-17 18:14] ajcvickers commented on #3932
@smitpatel file an issue for the bug and fix in 2.2.
@divega to clean up this issue.

[2018-09-17 18:34] sjb-sjb commented on #13227
OK!! I would certainly vote for it.

[2018-09-17 18:42] generik0 opened #13342 "Snapshot location uisng Add-Migration -OutputDir with Release fodler"
HI

Thanks for a cool package.
When i for a migration i like to use:

Add-Migration -OutputDir Migrations\Release2018_x -Context XzyMigrationDbContext -Project Xzy.Migrations -StartupProject Xzy.App -Name Add_Xxy

But this also means that the snapshot is in the Migrations\Release2018_x folder.
What do i do when i make the next release and the migrations shoud be in Migrations\Release2019_y release

[2018-09-17 19:17] davidsonsousa commented on #13307
I had the same issue and here is how I fixed:

1. Update Microsoft.EntityFrameworkCore.Proxies to version 2.1.3 and also  Microsoft.VisualStudio.Web.CodeGeneration.Design to version 2.1.4
2. Delete both /bin and /obj folders from the project
3. Rebuild

Perhaps using "Clean Solution" in the step 2 could also work.

[2018-09-17 20:14] MikeDempseyFL opened #13343 "How to generate the 'using' command for our EFCore provider"
I have created code in our EFCore provider to scaffold a database.
This is based on the SQL Server EFCore provider and with one exception it seems to be working.

The exception is the "**using Teradata.EntityFrameworkCore;**" statement that we need to add at the top of the generated Context file.

Without this line any attempt to compile the generated source results in an error because it can not

[2018-09-17 20:48] ajcvickers opened #13344 "Allow entity type instance to implement/inherit from type in model"
Allow interfaces or base types to be mapped by specifying the type to use when materializing an instance of the interface or base class. For example, something like this:
[code]
Currently this can be mapped like this:
[code]
Instead, this would be mapped using something like this:
[code]
Note that there is significant overlap here with #10789. For example, it should be possible to use a factory me

[2018-09-17 20:51] ajcvickers commented on #13227
@sjb-sjb I filed #13344 to cover what we have been thinking of in this area. Note that at some point EF will need to be given configuration that tells it how to construct instances of the derived class, although that could come in the form of a factory.

[2018-09-17 20:53] ajcvickers commented on #13324
Triage: discussed and there was general agreement that DiagnosticSource is better for this. If we were to do anything for ASP.NET Core logging, then it would require enhancements to the message formatting capabilities there first, which would be something to follow up on at https://github.com/aspnet/Logging/issues

[2018-09-17 20:55] ajcvickers commented on #13268
@obelixA Unfortunately this isn't something we will be able to do. If you have a support contract with Microsoft, then you might want to follow up through that channel.

[2018-09-17 20:59] ajcvickers commented on #13315
Triage: moving this to the backlog to look into a general way of allowing values like this to not be parameterized.

@smitpatel to link related issue.

[2018-09-17 21:05] ajcvickers commented on #13319
Triage: discussed at length the behavior of Find when query-tracking behavior is no-tracking at the context level. Options discussed were:
* All parts of Find are treated as no-tracking, including not returning a tracked entity if one exists.
* All parts of Find are treated as tracking
* Current behavior, where if an entity is tracked already, then it is returned, but otherwise the query is no-tra

[2018-09-17 21:08] shupna opened #13345 "smalldatetime type error"
I have a query type that mapped to a view. The view selects a smalldatetime field from a table.
I got an exception when I make a query from linq with a condition, like
DbContext.Vw_UnitStatus.Where(r=>r.TheDate < Datetime.Now)

EF issues sql command like:
SELECT [u].[ProjectId] AS [I1]
FROM [Vw_UnitStatus] AS [u]
WHERE ([u].[TheDate] >= '2018-09-13T00:00:00.0000000') AND ([u].[TheDate] < '2018-09-

[2018-09-17 21:11] danjohnso commented on #13324
@ajcvickers sounds good, I was unaware EF Core fully implemented DiagnosticSource.  I know I have seen other parts of the core framework that don't put information in both places so I didn't think to look there for the information, but glad I can use that for ef data

[2018-09-17 21:33] bricelam commented on #13341
We decided to add this ASAP. Even if SQLitePCLRaw.bundle_green doesn't support it, it's better to get `Error: near "column": syntax error` and be able to bring your own copy of 3.25.0 than just not have it. Marking as up-for-grabs since it should be trivial to add to SqliteMigrationsSqlGenerator.

[2018-09-17 22:28] ajcvickers commented on #13333
@ctrl-alt-d Documentation for supporting multiple providers in Migrations is here: https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers

We are not planning to implement full scafolding and management for migrations to multiple providers because the cost is very high while the value is relatively low compared to many other things. Also, sometimes multiple migration sets a

[2018-09-17 22:34] ajcvickers commented on #13337
@mokeyish This isn't possible with the current code, but putting it on the backlog to consider for the future.

[2018-09-17 22:49] ajcvickers commented on #13338
@JakobFerdinand This is because once a CLR type is mapped to multiple different types in the model, then the model type can no longer be identified just by the CLR type. Therefore, each model type becomes a "weak entity type" which is defined by both it's CLR type and the defining navigation property from it's owner. These can be found using a different overload of `FindEntityType`:

[code]

[2018-09-17 22:51] ajcvickers commented on #13339
@mmillican The concept should be the same as is described in the post. Are you asking for help converting the script to run in your Linux shell?

[2018-09-17 22:58] #12114 closed

[2018-09-17 22:58] #12126 closed

[2018-09-17 23:00] #12451 closed

[2018-09-17 23:01] #12629 closed

[2018-09-17 23:09] ajcvickers commented on #12795
@tuespetre Sent you an email last week--did you get it? If not, what is a good email address to use?

[2018-09-17 23:12] ajcvickers commented on #13328
@ulhas07 Can you post the EDMX and entity types that are working with EF6?

[2018-09-17 23:19] ajcvickers commented on #10001
@zulander1 It's currently in the 3.0 milestone, which realistically is the best we can hope to do at this point.

[2018-09-17 23:27] ajcvickers commented on #9630
@andre-f-paggi Please file a new issue and include a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-17 23:32] ajcvickers commented on #13343
@MikeDempseyFL The common pattern is to put `UseXxx` methods (and other extension methods that developers need to resolve easily) into the `Microsoft.EntityFrameworkCore` namespace.

[2018-09-17 23:33] smitpatel commented on #13345
I am not able to reproduce this on 2.2.0-preview2 packages from NuGet. Please provide a full repro code (including csproj file) which demonstrate above issue.

[2018-09-17 23:35] MikeDempseyFL commented on #13343
OK Thanks. That explains why I couldn't find it :)

[2018-09-17 23:40] smitpatel opened #13346 "Stackoverflow in ToQuery method when defining with FromSql"
[code]
Above used to work in 2.1 version, we regressed it while fixing #11803

[2018-09-17 23:40] smitpatel commented on #3932
Filed #13346

[2018-09-18 00:29] AndriySvyryd commented on #13300
@ajcvickers Did this repro on 2.2?

[2018-09-18 00:31] ajcvickers commented on #13300
@AndriySvyryd Didn't try--thought it might be a dupe, but figured you would know better. I can try on 2.2 to confirm if you think this is fixed already.

[2018-09-18 00:47] AndriySvyryd commented on #13300
Yes, should have been fixed by 4cd2a5df871383c8a9ddb9817170f2b0013bf537

[2018-09-18 00:53] ajcvickers commented on #13300
@AndriySvyryd Still fails in 2.2 with exception below. Passes if Profile is configured first.

[code]

[2018-09-18 03:01] sjb-sjb commented on #13227
I will add some comments there.

[2018-09-18 03:36] sjb-sjb commented on #13344
I experienced a challenge that might be addressed by this enhancement. However I view it from a slightly different perspective.

Let's first talk about base classes rather than interfaces. When considering a base class, since EF already has a database implementation for inheritance, the question is really about how to execute queries from the base class. Specifically if there is a navigation relat

[2018-09-18 03:54] TanvirArjel commented on #11314
@nunorelvao  Think! you have hundred of model classes with lots of columns. Then imagine how many times you have to write `order` annotations.

[2018-09-18 08:16] obelixA commented on #13268
ok, so i'll do my very best to create a project reflecting the issue...

[2018-09-18 08:16] sabo3000 commented on #11738
same issue. please fix it as soon as possible!

[2018-09-18 08:18] alekrist commented on #11738
Having the same issue and this blocks us from upgrading to v2.1. Please fix this soon.

[2018-09-18 08:58] JakobFerdinand commented on #13338
Ok. Thank you for the quick answer! 👍

[2018-09-18 09:48] damirci opened #13348 "strange behavior of include and theninclude funtions"
I have a query like belove on my database context:
[code]
until now the is nothing special things in code, but after running query post.User.UserTeam is null, actualy query doesnt load data, and in sql provider I have seprated queries for loading commentlikes that I expect just one query when I use include.

[2018-09-18 10:18] Risbot opened #13349 "ToListAsync() fails but ToList() works"
I use basic query for loading data from database, if I use ToListAsync I get exception in below, if I use ToList I get data.

[code]

### Steps to reproduce
I loading more than 1800 rows from db.
Here is my code:
[code]

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win 10 pro 64bit
IDE: Visual Studio 2017 Communit

[2018-09-18 10:55] Joganoth commented on #11738
same issue for me, please fix it asap!

[2018-09-18 12:33] mmillican commented on #13339
@ajcvickers I can probably convert the script (at least the basics) if someone hasn't already.

My other question though is: how do I get the EF tools installed on the instance? EF isn't available as a global tool and these instances wouldn't have the Nuget packages installed on them.

[2018-09-18 13:01] redoz commented on #3988
Seems a lot of people want this (myself included) any chance this will actually make it into EFCore soon?

[2018-09-18 13:33] RudyCo commented on #3988
We NEED this ! :-)

[2018-09-18 14:30] matipaulo commented on #12211
Hi @ajcvickers @smitpatel

We found a similar issue with EF 2.1, we are getting `Conversion failed when converting date and/or time from character string.` when we are trying to execute the following code:

`await _context.Database.ExecuteSqlCommandAsync($"INTO SomeTable(SomeDateField) VALUES({DateTime.Now:yyyy-MM-dd}");`

We could sove it using the following approach:

`await _context.Database.Ex

[2018-09-18 14:59] sumit4palz commented on #11900
Still awaiting response on this.

[2018-09-18 15:43] ajcvickers commented on #11738
@sabo3000 @alekrist @Joganoth  @mfernandezruiz @AAltemus @luigi68 @almazsr This issue is about the behavior of building the model using an explicitly empty convention set. Can you conform either:
* Confirm that this is the case for the issues you are seeing and provide some details as to why you are using an empty convention set
* Or file a new issue with a runnable project/solution that demonstra

[2018-09-18 15:49] ajcvickers commented on #12451
@mryabets It will be in 2.2 preview 3.

[2018-09-18 15:55] ajcvickers commented on #13348
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-09-18 15:56] shupna commented on #13345
Hi Smit,
Thank you for your quick reply. Here is the full repro code that reproduces the error.

1, Create view "Vw_Orders" on Northwind DB with following codes
SELECT  OrderID, CustomerID, OrderDate, Freight, ShipCountry, ShipRegion, ShipVia
FROM dbo.Orders

2, Open the solution
3, Set "Sample" as default project
4, Run Debug
5, Select a order date from the calender on data grid filter row
6, Get

[2018-09-18 16:07] ircheg opened #13350 "DBContextPool usage: manual creation"
Hi!

I have a question concerning DbContext Pooling usage.
I have stateless service and don't want to add dozens of asp net core packages in order to call AddDbContextPool.
Do I understand it correct that it's not recommended to create DbContextPool manually as in future releases of EF Core the APIs can be changed or even deleted?

`Container container = new Container(); // simple injector contain

[2018-09-18 16:07] ajcvickers commented on #13338
@JakobFerdinand If the CLR type is mapped to a single entity type in the model, then it can be found just by CLR type, as normal. It's only when the same CLR type is mapped to multiple entity types that they need to be treated differently.

[2018-09-18 16:16] ajcvickers commented on #13350
@ircheg `AddDbContextPool` does not require any ASP.NET Core packages. EF Core is often used with ASP.NET Core, but there are no dependencies on ASP.NET Core.

[2018-09-18 16:37] ajcvickers opened #13351 "Linq function Aggregate within a VB Source compiles, but throws NotImplementedException at Runtime"
From VS Feedback:
Linq function Aggregate within a VB Source compiles, but throws NotImplementedException at Runtime
View on Developer Community
I have a VB.Net program, that contains the following method:
Option Strict On : Option Explicit On : Option Infer On
[code]
When executing this, it throws the following error:
[code]

It runs fine however, if I change the routine slighty:
[code]

I am usi

[2018-09-18 16:50] bricelam opened #13352 "SqlServer Migrations: Consolidate ValueGenerationStrategy, IdentitySeed & IdentityIncrement"
My only regret in Migrations is using this...
[code]
...instead of something like this:
[code]

Is it worth making this change? We could do it in a way that doesn't break existing migrations.

[2018-09-18 16:57] mfernandezruiz commented on #11738
This code runs until version 2.1 and with the 2.1.3 fails

using Microsoft.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore.Metadata.Conventions;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

namespace EFCoreTest
{
    class Program
    {
        static void Main(string[] args)
        {
            var conventions = SqliteConventionSetBu

[2018-09-18 17:16] luigi68 commented on #11738
About me I think I am not using empty convention set.
The following code virtually represent my actual implementation:
var connection = System.Data.SqlClient.SqlClientFactory.Instance.CreateConnection(...);
var conventionSet = SqlServerConventionSetBuilder.Build();
var modelBuilder = new ModelBuilder(conventionSet);

modelBuilder.Entity("ADDRESS").HasKey( )... // example...
...

var optionsBuilder

[2018-09-18 17:26] luigi68 commented on #11738
Because my model is built one time and used many times. WebAPI rest: on the first call build the model and  use it on any subsequent calls (improving performance)

[2018-09-18 17:30] neris commented on #11738
@luigi68 Since EF Core 2.0 there is a feature called [DbContext pooling](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-2.0#dbcontext-pooling). If you configure your EF Core inside your application correctly, it will pool DbContexts like in a similar way you have your connections to the database pooled. It creates a DbContext once (or a couple of them) and then reuses across your app

[2018-09-18 17:37] luigi68 commented on #11738
I explain briefly: I created a framework that can use  EF or EF Core (I was not able to adopt only EF Core because of missing database drivers - ie. Oracle, SAP...).
The framework works correctly for EF/EFCore aside when I SaveChanges()...
In my application connection is created externally to the Entity Framework passed to it and closed and the end of the WebCall and I don't want DbContext in the

[2018-09-18 17:45] bricelam commented on #13342
Feel free to move the file and change the namespace. The tool can usually find it and update it.

Don't add two snapshots. That will cause problems.

[2018-09-18 17:48] AAltemus commented on #11738
I was doing something that was using  `var modelBuilder = new ModelBuilder(SqlServerConventionSetBuilder.Build());` and using `modelBuilder.Entity(entityType)` where entityType was a DbContext type, then trying to return using `modelBuild.Model` .   I was only using annotations at this point.  I could not use the OnModelCreating because this is a Singleton that was going to be re-used.

Changing i

[2018-09-18 17:58] bricelam commented on #365
@olmobrutall It should be trivial to create a package like our [NetTopologySuite ones](https://github.com/aspnet/EntityFrameworkCore/tree/release/2.2/src/EFCore.Sqlite.NTS) that allow these types to be mapped and translated.

One of the reasons we didn't take this approach is because we wanted to enable using the same CLR types (the NetTopologySite spatial types) across multiple providers (e.g. SQ

[2018-09-18 18:41] smitpatel commented on #13345
The issue is in your configuration of DbQuery of type `Vw_Orders`. In northwind database, Orders.OrderDate is of type `datetime`. Your view is using OrderDate column but not setting any column type on it so EF Core by convention maps it to `datetime2` type. Hence you get a SQL literal which fails during conversion. If you configure the column type of `Vw_Orders.OrderDate` to be of `datetime` every

[2018-09-18 18:44] generik0 commented on #13342
@bricelam
Thanks for your answer, i find that if i move, it creates a new one each time under the Migrations\Release2018x.

I have tried to move to root, i.e "Migrations" and then an add-migration just creates a new snapshot.

[2018-09-18 18:48] smitpatel commented on #11900
@sumit4palz - Unless you post your query and relevant model classes, there is no way for us to provide you a work-around.

[2018-09-18 18:58] smitpatel commented on #12211
@andresdsep - I am not seeing exactly same SQL as you but in preview2 package the SQL generated is something like this,
[code]
`-07:00` part is incorrect which is fixed here in 2.2.0 package.

@matipaulo - Please file a new issue with detailed repro steps.

[2018-09-18 19:35] smitpatel commented on #12732
Putting this in 2.2 milestone. Easy fix only.

[2018-09-18 19:52] DizzieDuke opened #13357 "EF Core 2.0.1 to 2.1.3 - Lost in translation"
I recently upgraded from EF Core 2.0.1 to 2.1.3.

The LINQ query below was previously correctly translated to TSQL that was syntactically correct. This is no longer true. Removing the group by solves the problem in the short term.

[code]
Is translated to:
[code]

[2018-09-18 20:10] smitpatel commented on #13357
Duplicate of #12304

[2018-09-18 20:11] smitpatel commented on #13339
From the blog post

That's it. Just copy over `ef.dll` file on your instance (probably alongwith the script) and use it directly.

[2018-09-18 20:13] shupna commented on #13345
I couldn't find the way to define the column data type for DbQuery after extensive google search. Could you please send me the sample codes? or send the working version of the repos codes back to me. Thank you so much!!

[2018-09-18 20:16] smitpatel commented on #13345
Ref: https://docs.microsoft.com/en-us/ef/core/modeling/relational/data-types
You can use `ColumnAttribute` or fluent API as described in the docs. The only difference in fluent API code is instead of calling `Entity<>` you need to call `Query<>` since you are configuring a query type rather than entity type.

[2018-09-18 20:45] bricelam commented on #13178
Part of #329. Like indexes, it may work when increasing the max length--just not when narrowing.

[2018-09-18 20:53] divega opened #13358 "Support for mapping entity types to defining queries"
In EF Core 2.1 we added [query types](https://docs.microsoft.com/ef/core/modeling/query-types), which can be mapped in the model to "defining query" specified using the ToQuery API.

Such defining query is generally a LINQ query that becomes the source of data for read operations for the query type.

This issue is about adding the ToQuery API and the ability to map regular entity types to defining

[2018-09-18 20:54] divega commented on #3932
Filed #13358 for defining query feature on entity types. Closing this as fixed in 2.1 for query types.

[2018-09-18 20:54] #3932 closed

[2018-09-18 21:02] shupna commented on #13345
It works!!! Thank you.

[2018-09-18 21:54] ajcvickers opened #13359 "Using JSON.NET in EFCore.Proxies.Tests targeting net461 can fail"
Using JSON.NET in EFCore.Proxies.Tests results in error on some machines when targeting net461 and running full build from the command line:

[code]

[2018-09-18 21:54] ajcvickers commented on #13359
Test code:
[code]

[2018-09-18 22:12] smitpatel opened #13361 "Query: QueryFilters/Defining queries are not applied recursively"
As described in #11803, query filters (and also defining queries included), are not applied recursively. Fix for that issue apply recursion at expansion time but it became quite limited in terms of what it can do. Specifically following issues were ignored
- Navigation expansion is not done. So query filters would not be applied on db set coming through navigations.
- FromSql/Include any other que

[2018-09-18 22:13] smitpatel commented on #11803
The fix for this issue is being reverted due to #13346 and will be tracked at #13361

[2018-09-18 22:16] #12732 closed

[2018-09-18 22:38] #12772 closed

[2018-09-18 22:40] ajcvickers commented on #13359
@JamesNK Have you seen anything like this before? (I suspect it is related to assembly versions and loading on .NET Framework rather than anything specific to JSON.NET.)

[2018-09-18 22:50] ZooDoo4U opened #13362 "EF 6.2.0 TypeUsage MaxLength, possible? OR EF6 should support String length > Int32"
Nothing is broken for me right now, but i'm more concerned that looking at the length restriction for a string is still only an Int32?  However if i might user SQL I could get strings with a max length as Int64.  Working on some code for validating string values for my DB i was doing this to outside of EF via straight SqlCommand calls with a SqlDataReader.  I found i would get back at either an In

[2018-09-18 23:13] ajcvickers commented on #13362
EF6 only supports 32-bit max length values. While it is true that theoretically SQL Server (or other databases) could support longer, this is something we had decided not to fix, even while EF6 was in active development on CodePlex.

[2018-09-18 23:16] JamesNK commented on #13359
I haven't seen this kind of error before.

[2018-09-19 06:27] dmitry-lipetsk opened #13364 "How to detect and ignore BooleanExpressionTranslatingVisitor in Accept method?"
I want to generate SQL like:
`
WHERE ("r"."COL_VARCHAR_10" STARTING WITH 'ABC')
`

EFCore adds the "=TRUE" and I see SQL:
`
WHERE ("r"."COL_VARCHAR_10" STARTING WITH 'ABC') = TRUE
`

MyExpression class:

[code]
I can resolve this problem through adding into MyExpression.Accept the next condition:

[code]

But not sure, that is right decision.

How I may say to EFCore `do not add "=TRUE"` to boolea

[2018-09-19 07:44] John0King opened #13365 "Manual GroupJoin is getting flattened out in case when groupping is used to create a new List"
### Steps to reproduce
see code

[code]

db value: student A   have 2 StudentExtendField
result :  student A have 1 studentExtendField

### Further technical details
EF Core version:  EF Core 2.1
Database Provider:  Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win 10
IDE:  Visual Studio 2017 15.8

[2018-09-19 08:06] shotyme commented on #11765
I am having this issue too. This cause two major issues: A very slow execution time and in my other scenario, where I use EF together with an OData Query, the execution is canceled and no data is loaded.

Please schedule this bug with higher priority! In my case I am not able to use EF 2.1 with this behavior.

[2018-09-19 08:07] dmitry-lipetsk commented on #13364
I found the point, where EFCore adds the "=TRUE"

[code]

[code]

This method called from:
[code]

Decision made in:
[code]

My offer - need add into EFCore a new special public interface without any method - IsSearchConditionExpression, which will inherited by ExistsExpression, InExpression, IsNullExpression, LikeExpression, StringCompareExpression and by other (my) external Expression classes.

[2018-09-19 08:55] merrycoder commented on #11738
We are more or less using the same code as @mfernandezruiz below. No matter if we use empty convention, or conventions built with SqliteConventionSetBuilder or SqlServerConventionSetBuilder, the code fails with the indicated error. We are not using database migrations, in case this makes a difference.

[2018-09-19 12:56] mmillican commented on #13339
I see references to `ef.dll` all over the place. Thinking that it may just be a "placeholder" I thought it would be easy to find on my machine... not so much. Which EF DLL(s) do you actually _need_ to run this?

Also, are there any plans for making this easier in the future? This is _incredibly_ frustrating and annoying.

[2018-09-19 13:11] ac10n opened #13366 "Allow removal of Cascade on Delete Convention"
In EF, there was a way to configure CascadeOnDelete to None, like:

    builder.Conventions.Remove<OneToManyCascadeDeleteConvention>();

In ef core, the only options is to configure it on each relationship via Fluent api.

I want to argue that:

1. There should be an option to remove this convention, DbContex-wide, not on each relationship
2. The default behavior should be not to cascade on delete

[2018-09-19 13:54] paulroreilly commented on #11099
I've been keeping a close eye on the CosmosDb provider for EFCore and the migrations strategy is the only concern I have now about moving my projects to Cosmos.

Just wanted to jump start this thread again to see if there has been progress on the topic - whether there will be tolling/code solution or a published best practice strategy to managing changes to the model.

In my use cases, I have very

[2018-09-19 14:19] dmitry-lipetsk commented on #11881
[code]

If patternExpression contains 'char' or 'const string' (ConstantExpression), you may detect length localy and pass it to SQL.

[2018-09-19 14:44] milosloub commented on #13366
You can set it globally in OnModelCreating method of your DbContext class:

[code]

[2018-09-19 15:32] mfernandezruiz commented on #11738
My example is just an example. My application needs to create the data models at run time and also needs to handle several data models at the same time.

[2018-09-19 15:42] ajcvickers commented on #11765
@Shadetheartist @Shadetheartist @smartcodinghub If this slow down is happening outside of the debugger, then please file a new issue with a runnable project/solution or code listing that demonstrates the behavior.

[2018-09-19 16:06] mfernandezruiz commented on #11738
@neris : My example is only for reproduce the problem. My application needs to create data models at run time and also needs to handle several data models at the same time, so overwriting 'OnModelCreating' does not help

[2018-09-19 16:09] mschnack opened #13367 "After a property is modified, when setting its value back to its original value, isModified remains true (even though CurrentValue is equal to OriginalValue)."
When tracking the state of an entity, EF Core is correctly changing it to _Modified_ when a property is changed. But if the property value is set back to its original value, the entity is still being marked as _Modified_ and the property is still marked as _IsModified = true_.

Please ignore if this is intended by design, but my expectation is that the state of the property to be computed based on

[2018-09-19 16:36] ajcvickers commented on #13307
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-19 16:42] #13223 closed

[2018-09-19 16:47] KuzDeveloper commented on #1833
I did not say it is easy to achieve this, but in its current state EF Core is not production ready. We used it for one of our microservices and it is causing a lot of performance issues to load too many unnecessary records when we already have 6-7 different filters available. Other than this, it would be an excellent tool.

[2018-09-19 18:55] ajcvickers commented on #13364
@smitpatel to find dupe.

[2018-09-19 19:07] MatthewLymer opened #13368 "InMemory DbContext does not respect CancellationToken on SaveChangesAsync"
When using an InMemory DbContext, the `SaveChangesAsync` does not respect the cancellation token being passed in.

### Steps to reproduce
1. Create a DbContext called TenantDbContext
1. Create a type called `Setting`, expose a `DbSet<Settings>`
1. Run the following unit test:

[code]

### Further technical details
EF Core version
* Microsoft.EntityFrameworkCore.Design v2.1.0
* Microsoft.EntityFram

[2018-09-19 20:01] Shadetheartist commented on #11765
It's only occurring when debugging. But that's not a valid reason to not fix this with more urgency. I use Jetbrains Rider instead of Visual Studio, and i can't find a 'Just my Code' setting in that IDE, so have to run without debugging to actually use my app. This proves to be a pretty prohibitive to speedy and effective development. In my estimation it's not appropriate to wait to fix this this

[2018-09-19 20:34] bugproof opened #13369 "Is this code safe?"
https://softwareengineering.stackexchange.com/questions/378670/should-i-check-if-something-exists-in-the-db-and-fail-fast-or-wait-for-db-except

[code]

People are saying that there will be a concurrency problem with this code.

What's the general practice to deal with problem like this?

[2018-09-19 20:38] pmiddleton commented on #13368
@MatthewLymer

The InMemory provider does not make any async calls and therefore does not use the cancellationToken.  Internally it it just performs a Task.FromResult inside of SaveChangesAsync

[2018-09-19 20:40] leppie commented on #13369
Not sure if you trying to troll the classic `File.Delete` issue or misunderstanding the difference between concurrency and transactions. 😕

[2018-09-19 20:40] Necronux commented on #13369
@leppie fuck you asshole

[2018-09-19 20:41] leppie commented on #13369
Wow, that escalated fast!

[2018-09-19 20:43] ajcvickers commented on #13369
@Necronux Yes, that code can have concurrency issues. See https://docs.microsoft.com/en-us/ef/core/saving/concurrency

[2018-09-19 21:00] smitpatel commented on #13364
Duplicate of #10513

[2018-09-19 21:01] smitpatel commented on #13364
Specifically we discussed in #9143 exactly same thing that providers cannot influence this visitor. There are multiple ways to resolve it out. In 3.0 timeframe we will make it to move in proper place so that providers can opt into behavior of appending "true" and also influence the value/search condition determination of custom expression types.

[2018-09-19 21:33] Necronux commented on #13369
Neither, and your comment is arrogant and pointless

[2018-09-19 21:37] smitpatel commented on #13365
@John0King - I am not able to reproduce this issue. In my repro code, I am able to see 2 student extend fields. In terms of query, the change I had to make is to use `_db.Set<Student>()` rather than `_db.Query<Student>()`. If the `Student` is declared as QueryType than it cannot be principal end of a relationship hence you cannot have student A having 2 StudentExtendField.
Following is the code I

[2018-09-19 22:36] JRBonnema opened #13373 "Upgrading EF Core 2.1.2.0 to 2.1.3.0 - Dependent Assemblies in app.config are not all automatically updated"
I noticed that after installing the latest 2.1.3.0 version of EFCore the three packages below are not automatically updated to the new version. I have to do it by hand. Note that other packages are automatically updated. I didn't notice these behaviour during earlier updates, so I assume that this a new  problem.

[code]

[2018-09-20 00:39] ajcvickers commented on #11738
Triage: we will look into adding a `Finalize`/`Build` or similar method to the model that will make it possible to build the model externally from the context but still have all the conventions execute.

[2018-09-20 00:43] ajcvickers commented on #13309
Currently, query tags are associated with a _query_ and not with a _call site_. However, after discussing this in triage it doesn't seem unreasonable to want to associate a compiled query with a call site, in which case it needs to be parameterized into the query. This clearly can't happen in the normal way since there is no way to create a SQL parameter to change a SQL comment. However, it would

[2018-09-20 00:47] ajcvickers commented on #13339
@benday Do you have anything describing more specifically how to do this on Linux, or would you consider adding it to your post?

[2018-09-20 00:47] ajcvickers commented on #13342
@generik0 Can you please post a runnable project/solution that demonstrates the behavior you are seeing?

[2018-09-20 00:50] ajcvickers commented on #13366
The code @milosloub posted is the way to do this now, but removing the convention should be covered by #214

[2018-09-20 00:52] ajcvickers commented on #13367
@mschnack This is currently by-design, mostly because we don't always have reliably information about original values and several important scenarios require that a property remain marked as modified even if the original value we have is the same as the current value.

[2018-09-20 00:57] ajcvickers commented on #13373
@JRBonnema Can you be more specific about what you mean by "installing the latest 2.1.3 version?" Installing what specifically from where?

[2018-09-20 01:06] JRBonnema commented on #13373
@acjvickers: I Installed the three mentioned packages EFCore packages (version 2.1.3.0) from NuGet using the menuoption Manage NuGet Packages for Solution inside Visual Studio - version 15.8.4

[2018-09-20 01:28] optiks commented on #13025
Confirming that this is now fixed in 2.1.4. Many thanks team.

[2018-09-20 01:29] optiks commented on #10153
Confirming that this is now fixed in 2.1.4. Many thanks team.

[2018-09-20 01:29] optiks commented on #12980
Confirming that this is now fixed in 2.1.4. Many thanks team.

[2018-09-20 01:33] John0King commented on #13365
Should this be a bug ? Since it's correct in LinqToObject . and the sql that generated is correct for sqlserver  , the result in sqlserver is  two same student A with their extendField , there must something wrong when create the record (in linq to object leave).
Maybe the consider is about  `QueryType` do not have primary key and theoretically can have repeatable records, I think it will not be a

[2018-09-20 01:48] jdmallen commented on #13334
I too am getting this same error trying to seed data, though I'm using EF Core 2.1.2.

[code]
`Feedback` is an entity type and `SeedSampleFeedback` uses [GenFu](https://github.com/MisterJames/GenFu) to return a populated list of Feedback objects (which works fine):

[code]

This is all I get as an exception:
[code]

No idea how to address this.

[2018-09-20 01:59] jdmallen commented on #13334
Disregard, I added `ToArray()` to my call to `SeedSampleFeedback()` and that seems to have fixed it.

[code]

Makes sense, given that the parameter options are `params object[] data` or `params T[] data`, both arrays, and I was trying to feed it an IEnumerable.

@redplane Try converting your `originalEntities` to an array before passing it to `HasData()`.

[2018-09-20 02:41] redplane commented on #13334
But converting a generic list wth generic type is not very easy.

[2018-09-20 02:52] ZapRiver commented on #13299
Here's how to reproduce the error.

  1. Open Visual Studio 2017 15.8.4.
2. Create a new ASP.NET Core Web Application -> Blazor (ASP.NET Core hosted).
3. Go to Nuget Package Manager Console.
4. Select the Shared project and type Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 2.1.0.
5. Type Install-Package Microsoft.EntityFrameworkCore.Tools -Version 2.1.0.
6. Recompile. Error:
Er

[2018-09-20 03:29] MatthewLymer commented on #13368
I assumed as much, however I assume the entire purpose of the InMemory database is to facilitate testing, so I think having behavior closely match other providers would be desirable.

[2018-09-20 04:09] dmitry-lipetsk commented on #13364
@smitpatel,

The limitations in external code kills me :)

Could you implement (in current master branch) one of my (temporary) decision for this issue?

I can create PR with (Base)SearchConditionExpression class.

When you implement in 3.0 the "true" decision for this problem, I will use it.

[2018-09-20 04:47] John0King commented on #13365
@smitpatel here it is. https://github.com/John0King/EFReport-GroupJoinQueryType
you can just press F5 to run with visual studio

[2018-09-20 04:51] dmitry-lipetsk commented on #13364
Simplified and updated code of IsSearchCondition:

[code]

[2018-09-20 06:47] a14907 opened #13376 "Is it possible to use ServiceProvider in DbContext?"
I want to use the Value Conversions , and I want to resolve some services from serviceProvider!
So is it possible to access serviceprovider via PropertyBuilder

[2018-09-20 08:54] ctrl-alt-d opened #13377 "Issue with transactions in weird conditions"
# Issue with transactions in weird conditions

When, into a transaction, you query a model with no data and the result is chained through union with other enum, the reader don't ends and commit transaction raises error:

## The code snipped:
[code]

## Steps to reproduce:

* Download and unzip [tx.zip](https://github.com/aspnet/EntityFrameworkCore/files/2400509/tx.zip) code and fix connection stri

[2018-09-20 09:39] markusschaber commented on #3988
I see two problems with namespaces / schemas in databases, with contradicting requirements:

- Use those to structure a big database context with lots of tables, e. G. by different aspects of the product (e. G. User Management, Invoices, Stock, ...)

- Use schema name for tenant implementations, and passing the schema name to the DB Context before working with the data. All schemas replicate the s

[2018-09-20 09:47] ivanromakh commented on #10237
I have such problem when used 'partial' keyword. Without partial no exception

[2018-09-20 10:40] generik0 commented on #13342
@ajcvickers

I think you guys can make this test yourselves. It shold be a part of you CI integration tests
Snaposhot under release folder:
![image](https://user-images.githubusercontent.com/2411563/45813191-38fc1a00-bcd2-11e8-91c4-c0a702f47a71.png)

Snampshot moved and namespace changed:
![image](https://user-images.githubusercontent.com/2411563/45813215-46190900-bcd2-11e8-9b40-d2e454c55a4a.png)

[2018-09-20 13:07] mmillican commented on #13339
@ajcvickers @benday I ended up figuring this out yesterday and plan on doing a blog post soon.

Would be great to have this support built in.

[2018-09-20 14:28] pwen090 commented on #10059
@bricelam you mentioned it on #2272 but to reiterate and upvote here if we have something like:

`    public class Blog
    {
        public int BlogId { get; set; }
        public string Url { get; set; }
    }

    public class RepoBlog : Blog
    {
        [Key]
        public int Id { get; set; }
    }`

This will cause the primary key Id to be output as the last column. I know we can edit mig

[2018-09-20 15:26] mschnack commented on #13367
@ajcvickers Thank you for the explanation. That's what I imagined.

Just in case anyone has a similar need, here is the code I've written to verify if the entities (and their properties) are "truly" modified:

[code]

[2018-09-20 15:27] ajcvickers commented on #13299
@ZapRiver Which version of the ,NET Core SDK do you have installed?

[2018-09-20 15:31] ajcvickers commented on #13376
@a14907 Usually best practice is to inject services into the context in the normal way, but the context can also act as a service location:
[code]

[2018-09-20 15:45] ajcvickers commented on #10237
@ivanromakh If you believe you are seeing a bug, then please file a new issue with a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-20 16:02] ajcvickers commented on #13367
@mschnack The last check for all properties not modified should not be needed since EF should make this state change automatically once there are no remaining modified properties.

[2018-09-20 16:50] bricelam commented on #10059
@pwen090 Tracked by https://github.com/aspnet/EntityFrameworkCore/issues/11314#issuecomment-375159209

[2018-09-20 17:08] bricelam commented on #13339
Note, the easiest way to get the command to run is to use `dotnet ef database update --verbose` and look for a line that starts like this:

    dotnet exec --depsfile MyApp.deps.json --runtimeconfig MyApp.runtimeconfig.json ef.dll database update

[2018-09-20 18:47] Joebeazelman opened #13378 "How do I precompile the EntityFrameworkCore Libraries?"
I am trying to precompile the EntityFrameworkCore libraries on my development machine.  Starting up the debugging takes forever.  The DotNetCore library has a bewildering number of locations where it's DLLs could be  saved.  There's \dotnet\sdk\,  \dotnet\shared\, \dotnet\store\ and even more and that's just in the program files\dotnet folder!  If that's not enough confusion and frustration, some

[2018-09-20 19:10] tuespetre commented on #12795
@ajcvickers sorry, I did get that but was kind of busy. I replied the other day 👍

Regarding what @smitpatel said, I think he covered what I would have suggested as the two 'first motions':

- moving towards a more 'natural' projection model instead of a 'list' projection model. I accomplished this by heavy use of `ValueTuple` to tack on and retrieve extra properties, and extension `Expression`s w

[2018-09-20 19:36] tuespetre opened #13379 "Query<TBase>().HasDiscriminator().HasValue<TDerived>() should not require a call to Query<TDerived>() first"
In EF Core 2.1.1, trying to set up a query type with inheritance can go south if the correct calls to `modelBuilder.Query<>` are not present.

Say I have these two types:

[code]

And this code in the `DbContext`:

[code]

Now, unless I add the extra line as shown before the call to `HasValue<SummaryCommentDetail>`:

[code]

I will get the following exception:

[code]

[2018-09-20 20:53] ajcvickers commented on #13378
@Joebeazelman What do you mean by "precompile"?

[2018-09-20 21:14] Joebeazelman commented on #13378
precompile as in prejitting the assemblies.  Right now, EntityFramework keeps jitting.

[2018-09-20 23:01] dchristensen opened #13381 "NullReferenceException when materializing a Query type on the right side of a left join"
When executing a query where a Query Type is being used on the right side of a left outer join, when there is no row that matches the left side EF Core attempts to construct an object and map `NULL` to the properties, which fails when the Query Type model has non-nullable types.  Executing the same query with an Entity Type correctly produces a `null` value instead of attempting to construct the o

[2018-09-21 02:01] ZapRiver commented on #13299
The latest I installed is 2.1.402 (x64). I have also tried 2.1.400 and 401 with no luck. I have a number of older versions I didn't realize are also installed. Does it matter if they're still installed?

----------------------------------------
 From: "Arthur Vickers" <notifications@github.com>
Sent: Thursday, September 20, 2018 9:32 AM
To: "aspnet/EntityFrameworkCore" <EntityFrameworkCore@noreply

[2018-09-21 02:37] anwarmalik opened #13382 "ModelBuilder: Discovering QueryType before referenced EntityType introduces unnecessary TempId"
When I introduce an Entity Type object as "Principal entity" in QueryType Model I am getting an exception that.

EntityType is mapped to a table and QueryType is mapped to a View..

[code]
### Steps to reproduce
1. Create a view and 1 table in sql  server in different schemas..
2. Configure View as QueryType and Table as Entity in the db Context..
3. When Querying a QueryType include the object in

[2018-09-21 03:51] sundong1982 opened #13383 "How to code OnModelCreating in EF core"
EF6：
[code]

[2018-09-21 10:06] JeanCollas opened #13385 "Add .AsTracking(bool track)"
Here is a very easy/simple requirement.
I have implemented a very simple extension, but I believe it should be part of the framework:

[code]

This allows to specify the tracking status while calling a method depending the use we plan for the data.

[2018-09-21 10:29] irisshing1211 opened #13386 "Dbcontext with dynamic multi connection with from db"
I have 2 db.
1. sys_db: which store all connection string
2. main_db: which is the db of the system

### what I want to do is:
- Create main_db with sys_db's connection string
- Migration every main_db when application run (successful to migration db when application run, but not for multiple main_db)
- Create main_db with seed data through api

### Here is my code

[code]

[code]

### Question
-

[2018-09-21 10:35] WiredUK commented on #8527
Been playing around with this code and now have a working version of EF Core that supports much of the graph processing feature.

So you can do this to configure the model:

    modelBuilder.Entity<Person>(entity ->
    {
        entity.ForSqlServerIsGraphNode();
    };
    modelBuilder.Entity<Friend>(entity ->
    {
        entity.ForSqlServerIsGraphEdge();
    };

This sets up the annotations re

[2018-09-21 12:14] ivanromakh commented on #10237
@jemiller0 Sorry just tried  to set up project but forget to create database and see this error. No bug:)

[2018-09-21 12:44] benday commented on #13339
I'd be happy to share more info about doing migration deploys with Linux.  How can I help? What do you think is missing? What are you finding difficult and/or confusing?

[2018-09-21 14:24] DmitriyKulagin opened #13387 "Minification HTML out of the box"
It would be good to get minification HTML functionality without the need for third-party extensions. Do you plan the implementation of this functionality in the near future?

[2018-09-21 16:00] awr commented on #13239
Anything I can do to help this along? I'd be happy to put together a PR if you point me in the general direction of where you'd want to see this (assuming it fits with your direction for the project).

[2018-09-21 17:12] bricelam commented on #12241
Reopening:

[2018-09-21 18:16] #13089 closed

[2018-09-21 18:19] Tonvengo commented on #12911
@christianholsen can you paste a gist with a powershell script that you use to prepare migration file?
Thanks in advance.

[2018-09-21 18:38] smitpatel commented on #13379
https://github.com/aspnet/EntityFrameworkCore/blob/c59976e09fef817aa18ec0813379591ce64b4405/src/EFCore.Relational/Metadata/Builders/DiscriminatorBuilder.cs#L66-L84

Above code should be calling `Entity/Query` based on hierarchy.

[2018-09-21 18:42] smitpatel commented on #13079
@AndriySvyryd - I tried changing the type in the test but it caused issues with seed data and multiple cascade path. For now, I added a new test which utilizes the same model as in OP.

[2018-09-21 18:51] #11330 closed

[2018-09-21 18:54] smitpatel commented on #10059
Afaik the model posted by @pwen090 wouldn't work if `Blog` is mapped since derived types cannot have keys.

[2018-09-21 18:56] divega commented on #6809
@smitpatel do you think this can be closed now as a duplicate of #12777 that you filed? It seems the latter covers more than the case in which the number of items is relatively small.

[2018-09-21 19:02] smitpatel commented on #6809
Duplicate of #12777

[2018-09-21 19:26] #13326 closed

[2018-09-21 20:55] smitpatel opened #13389 "QueryType APIs: string based methods are missing"

[2018-09-21 21:29] divega commented on #13239
Note for triage: I think this belongs in the backlog for now, but since @awr is interested in contributing we can discuss the design in general terms.

[2018-09-22 05:08] Kishorree commented on #13299
I having the same issue with 2.1.402. Kindly let me know if there is any work around for this issue

[2018-09-22 06:13] shakeri commented on #12166
@ajcvickers I updated my project to ASP.NET Core 2.1.0 RTM and debugged on Ubuntu 18.04 LTS.
When I send multiple requests, i get this exception:
[code]

[2018-09-22 11:50] ice1e0 opened #13391 "Many-to-One relationship with primary key must be required"
I want to set up an N-Hierarchy entity as follows:

[code]

I want to have the field `ParentNum` nullable because it is not required; at the same time I want to use the `Children` list field via the foreign key.
The problem is that ef core requires all fields from the foreign key being `NOT NULL` (or `[Required]`). When I want to enforce this by using the fluent API with `.IsRequired(false)` I get

[2018-09-22 12:55] aherrick commented on #1100
Here's how I'm creating a Point from a Lat/Lng:

[code]

[2018-09-22 13:43] aherrick commented on #1100
I believe I'm seeing odd results with `Distance`.

Below the DB query itself seems OK, and is pulling back the correct data.

When I use `Distance` in memory it's not returning a correct value. Below shows the basic code. Is there something I'm not doing correctly?

[code]

[2018-09-22 13:50] DGuidi commented on #1100
as said earlier in this thread, distance is not in "meters", but unit of measure depends on srid. if you use 4326, you're measuring in degrees so you need to convert to meters by yourself.

[2018-09-22 14:29] aherrick commented on #1100
@DGuidi I am using 4326 to create my initial Point. What does that conversion look like? Degrees to Meters you are suggesting?

[2018-09-22 15:34] fugaku opened #13392 "StackOverflowException when using a lot of joins and select clause"
I was using EF Core version 2.1.3

I had a problem when trying to get a query working.

It was using 23 joins and selecting 100+ fields. And when using this many joins and selects, EF Core will throw a StackOverflowException.

But then the exception is gone when I omit some fields to around 92 fields.

I made a project that reproduce the issue [here](https://github.com/fugaku/EfCoreTest)

Is there

[2018-09-22 18:38] weitzhandler commented on #2141
The compelling feature would be the ability to annotate or configure properties (of any type, even collections) to be recognized as JSON columns.
When configured as such, EF will generate those properties as JSON-ready database-columns, and will store and retrieve its data as JSON (using the JSON converters and JSON settings registered with the IoC container in EF).
When a search is performed and

[2018-09-22 18:38] figuerres commented on #1100
well if you have the locations in a ms sql database you can do it in tsql, no need to use c# to do the math. tsql has a distance method and a convert

[2018-09-22 18:41] weitzhandler commented on #4021
@divega
Any development on this?
This feature can potentially unlock a whole new world of dynamic types with EF!

[2018-09-23 05:48] jkruer01 opened #13393 "Query is Executed Locally when GroupBy is Joined to another Table and Then Sorted"
### Brief Overview
I am doing a group by to find the minimum monthly payment.  I think join to other tables.  If I execute the query everything works as expected.  If I sort by any field on the tables I join to everything works as expected.  If I sort by any field on the table I did the group by on the query can't be interpreted and gets executed locally.

This by-passes the paging and causes majo

[2018-09-23 05:57] ppotin opened #13394 "Ç-´Ç-"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2018-09-23 07:52] JRBonnema commented on #13373
Update: I did the same upgrade on another few solutions after have installed Visual Studio - version 15.8.5. I noticed a difference between these two versions of Visual Studio, but it still not working like it was before.

Further these errors are occurring in rather complex solutions, each having A WCF project in .Net Framework 4.72 using EF Core, calling a class library containing the datamodel

[2018-09-23 10:28] himalayagarg commented on #11078
This issue still exists in Pomelo.EntityFrameworkCore.MySql 2.1.2 with Microsoft.EntityFrameworkCore (2.1.2)

[2018-09-23 14:34] dmitry-lipetsk opened #13395 "Question: How to do local calculation of expression through my code?"
Local calculation of expressions uses rules, which different from DBMS rules.

First example:
DBMS: NULL+'text' -> NULL
LOCAL: null+"text" -> "text"

Second example:
DBMS: SUBSTRING('12345' FROM 10) returns empty string
LOCAL: "12345".Substring(9) generates exception

This creates problems.

Question:
How I can replace local calculation of expressions to my code (which will use DBMS rules)?

It is

[2018-09-23 19:17] Gazzo100uk commented on #10140
Would this allow a discriminator to be configured across multiple columns, i.e. a composite discriminator?

[2018-09-23 21:59] ajcvickers commented on #13072
Poaching

[2018-09-24 01:13] ZapRiver commented on #13299
There is a workaround.

 1. Create a temporary Blazor application solution (the template named 'Blazor', not the ones named 'Hosted' or 'Server-side').

 2. Use the Package Manager Console to add EntityFrameworkCore to that project:
     Install-Package Microsoft.EntityFrameworkCore.SqlServer
    Install-Package Microsoft.EntityFrameworkCore.Tools

 3. Use the Package Manager Console to generate t

[2018-09-24 02:06] Tarig0 commented on #10140
Not with how it's been discussed, think that would be in an issue for type conversion.

[2018-09-24 03:15] Tarig0 commented on #13395
So you want the local evaluation to be a 1-1 of the server calculation?

Think you'll just have to spin your own functions to simulate the provider.

[2018-09-24 03:53] vijayrkn opened #13398 "2.1 Web publish to Azure does not see Data Contexts or support EF migrations"
_From @Eilon on September 10, 2018 18:21_

_From @dpedrelli on Saturday, 01 September 2018 00:21:26_

# Issue Title
2.1 Web publish to Azure does not see Data Contexts or support EF migrations

# General
I have MVC app that targets netcoreapp2.0 and publishes to Azure.  Opening the Publish -> Configure -> Settings, it searches for Data Contexts, finds them, and presents me the option to apply EF m

[2018-09-24 03:53] vijayrkn commented on #13398
_From @Eilon on September 10, 2018 18:21_

_From @Eilon on Monday, 10 September 2018 17:38:21_

@vijayrkn - any idea where this issue should go?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @Eilon on September 10, 2018 18:21_

_From @vijayrkn on Monday, 10 September 2018 18:18:59_

@Eilon - You can move this to aspnet/websdk and we will take a look.

[2018-09-24 03:53] vijayrkn commented on #13398
@dpedrelli  Could this be same as this issue? https://github.com/aspnet/Home/issues/3399#issuecomment-413274239

Can you please try running the below command and see if it lists the output?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 19:47_

From Package Manager Console
dotnet ef dbcontext list --json

Default Project = .NET Standard 2.0 ClassLib (Data Abstraction Layer project)
Result = No project was found. Change the current working directory or use the --project option.

Default Project = .NET Core 2.1 MVC
Result = No project was found. Change the current working directory or use the

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 19:48_

It did not post my PackageReference line from the MVC .csproj.  Here it is without the opening and closing symbols:

PackageReference Include="Microsoft.AspNetCore.All" Version="2.1.3"

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 20:10_

I just ran the Visual Studio Installer.  I updated from 15.8.2 to 15.8.3 and tried again

PM> dotnet ef dbcontext list --json --project SM.DAL --startup-project SM.Mvc
dotnet.exe : It was not possible to find any compatible framework versionAt line:1 char:1
+ dotnet ef dbcontext list --json --project SM.DAL --startup-project SM ...
+ ~~~~~~~~~~~~~~~~~

[2018-09-24 03:53] vijayrkn commented on #13398
Looks like a version mis-match issue. Can you share a sample csproj ?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 20:59_

@vijayrkn
Separately from the Visual Studio Installer, I downloaded and installed .NET Core 2.1.401 SDK.  Now, the Publish settings sees the data contexts.  As I noted an an earlier comment, I did just update the installer to the latest version, 15.8.3, but that did not resolve the problem.  It is only when I downloaded the actual SDK did it work.

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 21:43_

@vijayrkn
Separately from the Visual Studio Installer, I downloaded and installed .NET Core 2.1.401 SDK.  Now, the Publish settings sees the data contexts.  As I noted an an earlier comment, I did just update the installer to the latest version, 15.8.3, but that did not resolve the problem.  It is only when I downloaded the actual SDK did it work.

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 10, 2018 21:46_

@vijayrkn
Follow-up.  The previous comment fixed the problem of seeing the data contexts.  Now, I get an error that I cannot create the SQL script.  It says that it does not support

Executing command: dotnet ef migrations script --idempotent --output "w:\documents\visual studio 2017\Projects\SelectMarketing\SM.Mvc\obj\Release\netcoreapp2.1\PubTmp\EFS

[2018-09-24 03:53] vijayrkn commented on #13398
@dpedrelli - Do you have a reference to 'EF Core tools version '2.1.1-rtm-30846' in the csproj? if so, can you update it to '2.1.2-rtm-30932' as mentioned in the error.

/cc @bricelam

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 11, 2018 16:3_

@vijayrkn
The project has a PackageReference to Microsoft.EntityFrameworkCore.Tools 2.1.2. (There is a newer version 2.1.3).
It, also, has a DotNetCliToolReference to Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0.

I will try different versions of Microsoft.EntityFrameworkCore.Tools and report what I find.

[2018-09-24 03:53] vijayrkn commented on #13398
@dpedrelli - Let us know how the package update goes. Ideally once the right packages are installed, EF migrations should just work.

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 11, 2018 20:6_

@vijayrkn

The first thing I did was to remove, as per the 2.0 to 2.1 migration guide
[code]

With
[code]
I get
1>------ Build started: Project: SM.Mvc, Configuration: Release Any CPU ------
1>SM.Mvc -> w:\documents\visual studio 2017\Projects\SelectMarketing\SM.Mvc\bin\Release\netcoreapp2.1\SM.Mvc.dll
1>SM.Mvc -> w:\documents\visual studio 2017\Projec

[2018-09-24 03:53] vijayrkn commented on #13398
@bricelam - Can you please help with the EF tools versions that is compatible with the latest runtime?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @bricelam on September 11, 2018 20:37_

What database provider are you using? Is it compatible with EF Core 2.1?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @bricelam on September 11, 2018 20:39_

Do you see the build errors using `dotnet build`?

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 12, 2018 12:7_

@bricelam
I am using SQL Server, hosting on Azure.  Calling dotnet build, from the Package Manager Console produced errors that I do not get from building any of the projects using the IDE.  Note, none of this was an issue, when I targeted Core 2.0.  It has only come up, trying to target 2.1.

Some of the .csproj files contained old references, to proj

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 12, 2018 12:48_

@bricelam
An additional piece of info.  I have a second MVC app, in the same solution.  It has a data context that accesses the same database.  However, it does not apply any migrations.  It builds and publishes without any errors.  It is only the app that applies migrations that has a problem.

[2018-09-24 03:53] vijayrkn commented on #13398
_From @bricelam on September 12, 2018 16:31_

I think we're going to need your solution to dig into this one...

[2018-09-24 03:53] vijayrkn commented on #13398
_From @dpedrelli on September 13, 2018 17:57_

@bricelam
The solution without any binaries is about 60MB.  Also, there are some proprietary Nuget packages.  Is there an E-Mail address where I can send this?

[2018-09-24 03:53] vijayrkn commented on #13398
@bricelam - Since this issue is with the script generation, moving to the EF repo.

[2018-09-24 06:22] oernsn opened #13399 "ERROR: System.NullReferenceException"
# EF Core Issue project

## Steps to reproduce the issue

Link: [https://github.com/oernsn/EF_Core_Issue.git](url)

1. Download the latest .NET Core SDK
2. Open the solution in VS
3. Start the API project
4. Start a request against with Postman to http://localhost:61844//odata/Post _(Port can differ)_

__Exception__:

[code]

[2018-09-24 06:32] dmitry-lipetsk commented on #13395
Yes.

Functions and operators (like "string+string").

How I can replace, for example, implementation of System.String.Replace and "String operator + (String, String)" at level of my data provider for EF.Core?

Any examples would be helpful.

---
Additional info.

My data provider may translate call of System.String.Replace to SQL only when arguments is very simple (it is limitations and problems

[2018-09-24 10:36] babak-f opened #13400 "EFCore.InMemory - Key does not get auto-incremented upon adding new item"
I'm using an in-memory EF database.

I populate the entity table for cars with 5 items (seeded from an external file). On these items, I specify the ID (primary key) explicitly.

Then when I try to add a new item without specifying the ID, it tries to add the item with an ID of 1, instead of 6. It clearly results in a conflict (exception - see below), since there is already an element with ID of 1

[2018-09-24 11:36] JonPSmith opened #13401 "Find with QueryFilter does not find an item that has been filtered out"
I am having trouble with QueryFilter interacting with `Find`. I expected the `Find` method to find an entity even if it was filtered out by the query filter, but it doesn't. It is also inconsistent, in that if I read in the item to find as a tracked entity first, then it finds it.

This seems so basic that I think it must be my problem, but I can't find anything I have done that explains that. Ple

[2018-09-24 14:27] Tarig0 commented on #13395
Can you give an example of a call chain that you would need to be evaluated client side?

[2018-09-24 15:04] Tonvengo commented on #10717
@bricelam Hi. I was running your script for producing migrations and I got produced all migrations except initial one. Also I get this warning:

Can this error be because of version mismatch?

[2018-09-24 16:15] dmitry-lipetsk commented on #13395
[code]

My data provider for Linq rejects translate of TRIM to SQL, when it argument contains the parameter. This allow me avoid some limitations of DBMS.

I want to calculate TRIM at client side. Result should be null if r.DATA has null, or vv has null.

[2018-09-24 16:18] ackava opened #13402 "IQueryable.Select ignores value literal in selector for valuetype"
I am using release 2.1

Here is the entity

[code]

Query
[code]

Generated sql does not contain "Archived" column.

[code]
Now generated sql does contain "Archived" which is bound to a parameter.

This is important as I am using generated SQL as sub query to a bulk insert and update procedure.

I found this accidentally, work around for passing parameter for every default type is difficult.

[2018-09-24 16:38] ajcvickers commented on #13382
@anwarmalik Can you post the Address class?

[2018-09-24 16:44] ajcvickers commented on #13383
@sundong1982
* EF Core doesn't pluralize table names.
* AddFromAssembly is tracked by #13088, with PR here: #13305.
* Lightweight conventions are best implemented by iterating over the model--see some examples in #214.
* There are no database initializers.

[2018-09-24 16:49] bricelam commented on #1100
@aherrick This will get better when we add support for SQL Server `geography` columns. For now, NTS and SQL Server's `geometry` columns ignore the SRID, so yes, you'll need to convert from degrees. Note the number of meters in a degree gets less the further you are from the equator, so the math isn't exactly trivial, but you can get in the ballpark using a constant like 111,034.

[2018-09-24 17:03] ajcvickers commented on #13385
@JeanCollas We have discussed this API in the past and for various reasons (some historical) we opted for HasTracking and HasNoTracking instead. Feel free to keep using this extension method in your code--seems like a great way to add the sugar you want without impacting the overall API surface.

[2018-09-24 17:03] bricelam commented on #13394
¯\\_(ツ)_/¯

[2018-09-24 17:16] figuerres commented on #1100
here is a link to what the full math is for distance: [Great Circle formula](https://www.movable-type.co.uk/scripts/latlong.html)
also: [wikipedia](https://en.wikipedia.org/wiki/Great-circle_distance)

[2018-09-24 17:35] Tarig0 commented on #13395
https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore.SqlServer/Query/ExpressionVisitors/Internal/SqlServerSqlTranslatingExpressionVisitor.cs#L49

This looks like where you would override the behavior

[2018-09-24 17:45] ajcvickers commented on #13391
@ice1e0 Currently alternate keys have the same requirements as primary keys in that they cannot be nullable. Issue #4415 is tracking relaxing that requirement, so this is essentially a duplicate of that issue.

[2018-09-24 17:50] ajcvickers commented on #13400
Duplicate of #6872

[2018-09-24 17:54] ajcvickers commented on #13401
@JonPSmith Query filters impact what comes from the database--i.e. queries--but does not impact how entities that are already tracked are handled. If you have a tracked entity--for example, after running a query with no filter--then you can work with it in the normal way. This is useful when you're dealing with some code that, for example, needs to look at entities that have been soft-deleted.

[2018-09-24 18:04] aspnet-hello commented on #12552
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:04] aspnet-hello commented on #12146
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:04] aspnet-hello commented on #11892
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:04] aspnet-hello commented on #11657
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:04] aspnet-hello commented on #11592
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] aspnet-hello commented on #11142
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:05] #11142 closed

[2018-09-24 18:17] #13072 closed

[2018-09-24 18:17] #13098 closed

[2018-09-24 18:28] jzabroski commented on #6717
I don't think you addressed MSSQL2017 -> MSSQL2016 hotfix path.

[2018-09-24 18:29] dmitry-lipetsk commented on #13395
@Tarig0,

In general - yes.

I found where EFCore stored conditions for local calculation after query execution:

https://github.com/aspnet/EntityFrameworkCore/blob/master/src/EFCore.Relational/Query/RelationalQueryModelVisitor.cs#L1029-L1031

But at current time I do not know - what I should do with this :)

[2018-09-24 18:35] ajcvickers commented on #13402
@ackava Curious: in your first example, as you saying that you expect Product.Archived to be queried even when it isn't referenced anywhere?

[2018-09-24 18:36] ajcvickers commented on #13398
@vijayrkn Creating a minimal repro would be better than having us try to run all your code.

[2018-09-24 18:44] #13079 closed

[2018-09-24 18:45] Tarig0 commented on #13395
so basically you would pre-process the fragments so the client eval warning wouldn't be added

| |Left NULL|left NOT NULL|
|---|---|---|
|RIGHT NULL|NULL|NULL|
|RIGHT NOT NULL|NULL|Added value|

And then Trim

Null == null
Value == value.trim()

[2018-09-24 18:46] JonPSmith commented on #13401
Thanks. I wrongly assumed that Find did NOT use the QueryFilter. Thank you for pointing out my mistake.

[2018-09-24 18:47] ajcvickers commented on #13378
@Joebeazelman There is a "crossgen" tool, which is the .NET Core equivalent to the old "ngen" tool for .NET Framework--documentation is here: https://github.com/dotnet/coreclr/blob/master/Documentation/building/crossgen.md

[2018-09-24 18:47] aherrick commented on #1100
Thanks! I'm already using the formula to get distances between 2 lat/lng, so that is getting me by for now!

[2018-09-24 18:49] smitpatel commented on #13402
@ackava - In top level projection if you are using a constant then we don't put it in generated SQL. This is by design. Since the constant value is known we can always plug it in client side when generating the results.  (For nested projection we always send constant to server so that we can lift the subquery). This is specifically helpful by avoiding sending large constant to the server when we g

[2018-09-24 18:51] ajcvickers commented on #13310
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-24 18:51] ajcvickers commented on #13269
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-24 18:52] ajcvickers commented on #13268
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-24 18:57] smitpatel commented on #13395
@dmitry-lipetsk - The way to do it is in writing a proper method for translation at provider level.
https://github.com/aspnet/EntityFrameworkCore/blob/af68d14219bf8da624f1785d434172c732371400/src/EFCore.Relational/Query/RelationalQueryModelVisitor.cs#L986-L1033

Above is the code which translates `Where` clause in Query. Roughly steps involved:
1. Verify if we are not in client eval mode and we ca

[2018-09-24 19:03] irisshing1211 commented on #13386
Thanks @ajcvickers
Let me try.
Thank you very much

[2018-09-24 19:09] mduu opened #13404 ""No DbContext found in assembly" after migrating to EF 2(.1) and ASP.Net Identity Core 2(.1)"
Describe what is not working as expected.

I'm working on a Mac with Visual Studio for Mac (and VSCode if needed).

I try to update my existing .Net Core 1.1, EF Core 1.1, ASP.Net MVC Core 1.1 and ASP.Net Identity Core 1.1 to all the latest versions. After applying lots of tutorials I'm stuck. I decided to restart the MVC app / assembly from scratch by using

    dotnet new webapp --auth individua

[2018-09-24 19:47] obelixA commented on #13268
I'll do my very best to provide the project, but I am ill and bound to bed since several days and will have to stay afk for some more days :-( sorry for that delay, but I will come around with a project for sure when again fit for work...

[2018-09-24 19:47] xperiandri commented on #13269
I uploaded an updated fixed version

[2018-09-24 20:07] vijayrkn commented on #13398
@ajcvickers - The customer was waiting for @bricelam to provide an email address where they can send the repro -https://github.com/aspnet/EntityFrameworkCore/issues/13398#issuecomment-423872210.

[2018-09-24 20:10] gojanpaolo commented on #13268
I get the same exception on a .NET Framework 4.7.2 project with xunit, and setting `xunit.runner.json` `appDomain` to `denied`

sample project: https://github.com/gojanpaolo/ef-13268

[2018-09-24 20:10] dmitry-lipetsk commented on #13395
Ok. I should create new class, which inherites the RelationalQueryModelVisitor. I already think in this direction.

In MyQueryModelVisitor, I override VisitWhereClause.

How I can call from MyQueryModelVisitor.VisitWhereClause the EntityQueryModelVisitor.VisitWhereClause?

I understand that it is C# question, but I not know - how do it? :)

[code]
It seems I should copy the RelationalQueryModelVis

[2018-09-24 20:23] e88z4 opened #13405 "Unit Tests Failed To Seed Initial Data"
Describe what is not working as expected.

I have a unit test project. The unit test workflow works as below:
1. Ensure database is created.
2. Data seed
3. Run test case
4. Delete database

My target database is my own localdb. The database is drop and recrecate for each unit test.

When I ran the test case individually, it works as expected. When I ran them all at once, the unit test failed to s

[2018-09-24 20:33] ajcvickers commented on #13398
@dpedrelli Creating a minimal repro would be better than having us try to run all your code.

[2018-09-24 20:50] ajcvickers commented on #10717
@Tonvengo That warning can be ignored--see https://github.com/aspnet/Home/releases/tag/2.1.3#known-issues

[2018-09-24 20:57] ajcvickers commented on #13405
Duplicate of #703

[2018-09-24 21:12] aspnet-hello opened #13407 "Test failure: Update_on_bytes_concurrency_token_original_value_matches_does_not_throw"
This test [fails](http://aspnetci/viewLog.html?buildId=560203&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ryan

[2018-09-24 21:12] aspnet-hello commented on #13407
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-24 21:17] aspnet-hello commented on #13407
There were 16 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560203&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2:
- SaveChangesAsync_false_processes_all_tracked_entities_without_calling_AcceptAllChanges
- Save_partial_update_on_missing_record_throws
- Remove_partial_on_missing_record_throws
- Save_replaced_principal
- Can_remove_partial
- Remove_on_bytes_concurrenc

[2018-09-24 22:16] #11781 closed

[2018-09-24 22:35] AndriySvyryd opened #13409 "DefaultIfEmpty with parameter throws if entity type has a shadow key"
See `SimpleQueryCosmosSqlTest.Default_if_empty_top_level_arg`

Parameter name: key
   at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
   at System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.IdentityMap`1.Add(TKey key, InternalEntityEntry entry, Boolean updateDuplicate) in C:\enlistments\Universe\E

[2018-09-24 23:13] smitpatel commented on #13395
I am not sure if `base.base.F()` works but you should not call it. You should rather call `base.F()`. While it may still try to translate the where clause through SqlTranslator which will fail but it will give the warning mechanism and client eval from core.
Another alternative is to do rewriting in advance so you don't need to modify each individual clause (like any function call can be re-writte

[2018-09-24 23:51] ryanbrandenburg commented on #13407
@ajcvickers it looks like this was caused by https://github.com/aspnet/EntityFrameworkCore/commit/af68d14219bf8da624f1785d434172c732371400 assigning to you.

[2018-09-25 00:08] aspnet-hello commented on #13407
There were 17 failures [with about the same error](http://aspnetci/viewLog.html?buildId=560221&buildTypeId=XPlat_Windows_Win7_Universe) on master:
- Update_on_bytes_concurrency_token_original_value_mismatch_throws
- Save_replaced_principal
- SaveChangesAsync_processes_all_tracked_entities
- SaveChanges_processes_all_tracked_entities
- Mutation_of_tracked_values_does_not_mutate_values_in_store
- Re

[2018-09-25 02:06] anwarmalik commented on #13382
Here is construct of Address class...

[code]

[2018-09-25 03:07] datphan310 opened #13410 "Entity framework core load testing is very slow"
Hi,
I build a .net core 2.1 application with EF core.
I have use Transaction with read uncommitted isolation level.
I build the async API and create a simple ef query async
- When i create a single request, the query take small time
- When i stress test with 10 threads, ramp-up: 5, loop forever (using jmeter), the query time is same
- However, when i stress test to the api using jmeter (100/200 th

[2018-09-25 06:42] meancrazy opened #13411 "GroupBy and Where with != operator couldn't be translated to sql"
The LINQ expression 'where ({from StockProductsHistory o in [x] select [o].Sale => Min()} != 100)' could not be translated and will be evaluated locally.

### Steps to reproduce
This code generate sql with group by and having:
[code]
And this code evaluate locally:
[code]

### Further technical details
EF Core version: 2.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating syst

[2018-09-25 07:53] cyilcode commented on #11900
We are also getting this exception in our project as well. We have been using(also the POC below);

* netcoreapp2.1
* EF Core 2.1.3

Our goal is to be able to calculate some properties from our models' properties on the database side so that we can be able to apply queries to those calculated properties on the database side as well.

Below, i have prepared a complete one class reproduction that is

[2018-09-25 08:27] Phalanx123 commented on #9202
I'm running EF Core 2.1.2 and I'm getting the same error currently. Whenever I use an include it fails.

[2018-09-25 08:29] Tonvengo commented on #10717
@ajcvickers @bricelam  This is what I get when I am running script above in VSTS:

2018-09-25T08:24:29.6381862Z The EF Core tools version '2.1.2-rtm-30932' is older than that of the runtime '2.1.3-rtm-32065'. Update the tools for the latest features and bug fixes.
2018-09-25T08:24:30.1907454Z System.InvalidOperationException: The migration 'The EF Core tools version '2.1.2-rtm-30932' is older than

[2018-09-25 08:29] Phalanx123 opened #13412 "#9202 getting the same error in 2.1.2 when using include"
I'm getting the same issue in 2.1.2 as was the case in issue #9202. If I use an include it fails with Value cannot be null.

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.4

[2018-09-25 08:39] Tonvengo commented on #10717
Ok, I didnot add part of code for removing logging that @bricelam was proposing. Now I get warning but all migrations are prodused 👍

[2018-09-25 09:40] MaklaCof commented on #4693
EF 2.0 is done, also 2.1. Are there any new plans for this feature?

[2018-09-25 09:48] novikov-alexander commented on #2586
In my project I should often find entities by some predicate.
I do it this way:

Is there shorter way to do it without non-generic "Set"?

[2018-09-25 10:17] anatalin commented on #1368
Waiting for many-to-many in EF Core! Come on, guys, you're cool, you can do it!

[2018-09-25 12:52] thombrink commented on #1368
Maybe someone can do something with my solution: https://github.com/aspnet/EntityFrameworkCore/issues/11892#issuecomment-386422327

If someone is interested I will update the sample with my current implementation (and how to get it working).

[2018-09-25 13:02] chrispickford commented on #13154
Also experiencing this exact same issue, will endeavour to remove the duplicated `InsertData` and `DeleteData` statements from generated migrations until 2.2.0 drops.

[2018-09-25 13:11] collinbarrett commented on #13154
@chrispickford , which EF Provider are you using? Curious if it might be provider-specific or EF Core in general.

[2018-09-25 13:30] collinbarrett commented on #13154
Ok, I'm using Pomelo for MySQL, which is a bit off the main trail of SQL Server. So, I was thinking it could be a bug with that provider. So, thanks for verifying it occurs with SQL Server as well.

Is `SeedData.BrandData` just hard-coded new-ed data similar to what I was doing [here](https://github.com/collinbarrett/FilterLists/commit/3786c835339e3663370b4225fc3fd05884d945cd#diff-a8df4622a20134ae

[2018-09-25 13:35] chrispickford commented on #13154
Yes, just another static class for seed data, exactly like yours in fact.

I thought it might be due to using dynamic values, i.e. `Guid.NewGuid()`, I've since changed to using static hard-coded values and the issue still occurs.

    internal static readonly Brand[] BrandData =
    {
      new Brand {Id = 1, Name = "Brand X", Uuid = new Guid("e5f9762f-44ce-456e-b226-c8b2ae733f72")}
    };

[2018-09-25 14:01] xperiandri commented on #13272
I tried to reproduce it with a piece of the original project and it does not.
I will try to reference sources to the original project and reproduce there.

[2018-09-25 14:01] xperiandri commented on #13272
Do you have symbols published on some symbols server?

[2018-09-25 14:19] MovGP0 opened #13413 "SqlServer Provider: Client Evaluation when comparing with Nullable value"
I want to have an conditional filter dependent if a property of an entity projection is null or not null. For performance reasons this needs to be executed on the database, because i get way to many data and it takes too long if the query runs in memory.

I've tried different approaches to make this work, but none seem to work. Since I consider this example trivial in SQL, I didn't expect it not t

[2018-09-25 14:48] vsopko commented on #1368
@thombrink
Your implementation ([and this also](https://blog.oneunicorn.com/2017/09/25/many-to-many-relationships-in-ef-core-2-0-part-4-a-more-general-abstraction/)) wouldn't work with queries like this:
[code]
If you map Post.Tags as navigation to Tag entity it loads mapped navigation instead of joined entity, and if you make it unmapped it wouldn't load anything because PostTags not exists in qu

[2018-09-25 15:10] ajcvickers commented on #13402
@ackava It is a goal of EF Core to produce simple, readable queries. It's not currently a goal to produce queries that can then act as an input to something else. With regard to bulk updates, that's an important feature, but as with all teams we have limited resources and many important things to work on.

[2018-09-25 15:17] ajcvickers commented on #13412
@Phalanx123 Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-25 15:19] ajcvickers commented on #4693
@MaklaCof It's still in the backlog.

[2018-09-25 15:36] ajcvickers commented on #2586
@novikov-alexander That's actually giving you an `IEnumerable<IDescription>`, not a `DbSet`. The issue is again not how to get the DbSet in a non-generic way, but what you then do with it. There's no way that you can end up with a `DbSet<IDescription>`, but you could get to an `IQueryable<IDescription>()` by doing this instead:
[code]

[2018-09-25 15:45] joaopalma5 commented on #8576
This question have a solution? Now, how is a better way for dinamically enable/disable one Global Filter?

[2018-09-25 15:50] ajcvickers commented on #13407
@bricelam Any ideas on `SQLite Error 1: 'dlopen(mod_spatialite.dylib, 10): image not found'.`

[2018-09-25 16:05] ajcvickers commented on #13404
@mduu Looks like the DbContext is not in the main project. The code you posted doesn't build for me, so I haven't been able to try it, but it looks like you need to specify the project on the command line as described here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#using-the-tools

[2018-09-25 16:28] ajcvickers commented on #13269
@xperiandri Can you please answer the question above:

[2018-09-25 16:52] bricelam commented on #13407
Needs `[SpatialiteRequired]` on the test class and `[ConditionalFact]` (or theory) on the tests.

[2018-09-25 17:08] xperiandri commented on #13269
You can find this in `BaseDbContext.cs`
[code]

[2018-09-25 17:12] xperiandri commented on #13269
Then I database I have a foreign key from Internal Contact to UserMemebership.
And foreign key from InternalContact to Contact.
But I cannot establish a transitive relationship from InternalContact to UserMemebership or vice versa.

[2018-09-25 17:18] xperiandri commented on #13269
[code]

[2018-09-25 17:41] bricelam commented on #13297
Fixed by PRs #13396 & #13397

[2018-09-25 17:42] bricelam commented on #13267
Fixed by PR #13380

[2018-09-25 17:42] #13267 closed

[2018-09-25 17:52] dpedrelli commented on #13398
@ajcvickers I tried to create two, simple solutions.  One using 2.0 and the other 2.1.  I can post them, but I think I found the problem.  I have one class with two properties.  One property is int and the other is DateTime.  In the ModelBuilder, I use FluentAPI to specify the SQL Server time datatype.

When I call
`dotnet ef migrations script`
on 2.0 the command completes successfully.  When I ca

[2018-09-25 17:52] eduherminio commented on #1368
@thombrink Isn't [`ThenInclude()` 2.1 feature](https://docs.microsoft.com/en-us/ef/core/querying/related-data#including-multiple-levels) enough for your purpose?

[2018-09-25 18:29] raffaeler commented on #1368
@eduherminio I can say for at least two customers, the answer is no because the model is public and cannot be changed anymore.
I developed a solution to the problem for a customer but I can't publish the code without an explicit permission. The problem with this solution is that is difficult to integrate into existing code and even if the problem is apparently solved, it cannot be applied to the c

[2018-09-25 18:38] jcmiron commented on #13339
I'm having the same issue, @mmillican  did you create the blogpost yet?

[2018-09-25 18:48] dmitry-lipetsk commented on #13395
@smitpatel,

Think, I found the better place, where I can transform the expression for local calculation - ReplaceClauseReferences.

[code]

FB_Common__ToServerExpressionTransformatorVisitor walks the tree and replaces nodes. Current result looks fine.

[2018-09-25 19:16] bricelam opened #13414 "Use a CodeFragment for CoreTypeMapping.FindCodeLiteral()"
Instead of passing in `language` and returning a `string`, we moved to using strongly-typed, language-agnostic types for design time. (`MethodCallCodeFragment` and `NestedClosureCodeFragment`) This allows providers to be independent and language packages to be self-contained. The user doesn't have to jump through hoops because a provider doesn't know how to generate for their particular language.

[2018-09-25 19:55] smittix6 commented on #1100
What would be the code-first way of adding this to a model? The below does not seem to work yet - not sure if it's ready?

public Point Coords { get; set; }

[2018-09-25 21:51] ajcvickers commented on #13268
@gojanpaolo Thanks!

[2018-09-25 21:58] ajcvickers commented on #13268
@karelz @danmosemsft @natemcmaster The sample project in the comment is very minimal and reproduces the issue. I have spent a couple of hours investigating without luck and there is nothing specific to EF in this other than the combination of packages. So my guess is that this is an issue with:
* The shipped packages--either ones we build or ones corefx builds
* Something going wrong with MSBuild

[2018-09-25 22:10] ajcvickers commented on #13398
@dpedrelli Can you show this line of code: "I use FluentAPI to specify the SQL Server time datatype."

[2018-09-25 22:53] aspnet-hello opened #13415 "Test failure: Save_partial_update_on_missing_record_throws"
This test [fails](http://aspnetci/viewLog.html?buildId=561294&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ryanbrandenbur

[2018-09-25 22:53] aspnet-hello commented on #13415
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-25 22:58] aspnet-hello commented on #13415
There were 16 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561294&buildTypeId=Lite_UniverseTest) on master:
- Save_replaced_principal
- Update_on_bytes_concurrency_token_original_value_mismatch_throws
- Identifiers_are_generated_correctly
- SaveChanges_processes_all_tracked_entities
- SaveChangesAsync_false_processes_all_tracked_entities_without_calling_AcceptAllChange

[2018-09-25 23:42] Phalanx123 commented on #13412
I found that adding .AsNoTracking() prevents this from occurring.

OnGet
`NextService = await _context.EMWHs.Include(x=>x.EMWIs).FirstOrDefaultAsync(x =>  x.Complete == 'N' && x.EMCo == Equipment.EMCo && x.Equipment == Equipment.Equipment).ConfigureAwait(false);`

Context
[code]
EMWH
`   public class EMWH
    {
        public byte EMCo { get; set; }

        public string WorkOrder { get; set; }

[2018-09-26 00:08] aspnet-hello commented on #13415
There were 17 failures [with about the same error](http://aspnetci/viewLog.html?buildId=561382&buildTypeId=Lite_UniverseTest) on master:
- Update_on_bytes_concurrency_token_original_value_mismatch_throws
- Remove_on_bytes_concurrency_token_original_value_mismatch_throws
- Save_replaced_principal
- SaveChanges_false_processes_all_tracked_entities_without_calling_AcceptAllChanges
- Save_partial_upda

[2018-09-26 00:38] gojanpaolo commented on #13268
@natemcmaster I just tried the sample project as it is and I get the exception. I use VS 15.7.2 and Win7.
![image](https://user-images.githubusercontent.com/16026608/46050532-58dc7500-c0fa-11e8-9c5b-53acf1df74da.png)

[2018-09-26 00:42] natemcmaster commented on #13268
I used VS 15.9 Preview on Windows 10. I wonder if this could have anything to do with the version of .NET Framework or Visual Studio. I’m not the right person to investigate this further unfortunately. @ajcvickers you might try forwarding this to the VS Test or .NET Framework teams internally.

[2018-09-26 00:51] ajcvickers commented on #13268
@natemcmaster It repros for me 100% in the VS test runner with the latest 15.8. I'll try 15.9 tomorrow.

[2018-09-26 01:13] ajcvickers commented on #13414
@bricelam I investigated this some, but I think it should wait for 3.0 because:
* The existing fragments are in the Design assembly, but the type mapper doesn't have access to that.
* There are several variations of fragment needed--for example, `null`, `new Foo(args)`, `Foo.Create<T>(args)`, `(Foo)new X().Read(args)`. It's not clear how these variations should be factored, and the more different

[2018-09-26 01:45] ConX-Ryan commented on #4693
@ajcvickers Any idea on the priority of this item? I realize each consumer of the SDK has different priorities and balancing is hard any visibility on this item would be appreciated.

[2018-09-26 02:28] irisshing1211 commented on #13386
Hi @ajcvickers ,
After I add
[code]
when I run the application and the 2nd db is creating with seed, an error throw:
[code]
[code]
is ```c#  context.ConnectionString = con.Replace("main_db", name); ``` correct?
but ```c# Log.Information(context.Database.GetDbConnection().ConnectionString); ``` still returning the 1st db connection string
do I need to restart / reset the context? how to do it?

Tha

[2018-09-26 04:17] sundong1982 commented on #13383
thx:)

[2018-09-26 06:07] mduu commented on #13404
@ajcvickers You are right - my context is in another assembly. I thought specifying it wasn't necessary in EF Core 1.x. Maybe I'm wrong - its a while ago already when I used EF Core. I'll try the CLI switches. Thanks for the link.

[2018-09-26 06:47] ErikEJ commented on #13268
@gojanpaolo Please try to update your .NET Framework version to 4.7.1 or later

[2018-09-26 07:04] AyhamNasser commented on #5719
I am facing the same issue

[2018-09-26 07:40] corstian commented on #1100
@smittix6 be sure to manually change the generated migrations. However, should've been fixed a few hours ago. See https://github.com/aspnet/EntityFrameworkCore/issues/13267 for more context.

[2018-09-26 08:08] per3ian opened #13417 "The annotation 'SqlServer:Include' was not found. Ensure that the annotation has been added"
I am going to make a null field in database,
I changed long? to long

this is my field :
        `public long Size { get; set; }`

and this is my configuration :
[code]

and table is empty

and when I want to update database I got this error :

`The annotation 'SqlServer:Include' was not found. Ensure that the annotation has been added.`

### Further technical details
EF Core version: 2.2
Database

[2018-09-26 08:13] novikov-alexander commented on #2586
@ajcvickers Of course you are right. IQueryable is much better than IEnumerable in this context.
But is this way of getting IQueryable (MakeGenericMethod, Invoke etc) shortest and right?

[2018-09-26 09:53] NickCook-StruMIS opened #13418 "Value Objects / Complex Type not working on collection of entities in Entity Framework Core v2.0"
Hi,

I am trying to incorporate a value object on a collection of entities in Core 2.0 and it is not working. I can create a value object on the Aggregate Root (say Purchase Order), with no problem but when I apply a value object to a child entity (say Purchase Order Item), which is a collection of entities under the aggregate root, it does not work. I have set them up exactly the same and the chi

[2018-09-26 10:02] lighterhy opened #13419 ""dotnet ef migrations script..." failed when publish with migration to Azure App Service."
Output window message:

Generating Entity framework SQL Scripts...
Executing command: dotnet ef migrations script --idempotent --output "E:\Projects\Cii.Cloud\src\Applications\Cii.Cloud\obj\Release\netcoreapp2.1\win7-x64\PubTmp\EFSQLScripts\Cii.Cloud.EntityModels.CiiCloudDbContext.sql" --context Cii.Cloud.EntityModels.CiiCloudDbContext
Build failed.

C:\Program Files\dotnet\sdk\2.1.402\Sdks\Micros

[2018-09-26 12:05] victormarante commented on #11666
Is this still valid? Do you still have call EnsureCreated()?

[2018-09-26 13:16] gojanpaolo commented on #13268
@ErikEJ I [checked the .NET framework version](https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed#to-find-net-framework-versions-by-viewing-the-registry-net-framework-45-and-later) on my machine  and it seems to be 4.7.2 (Release is 461814).

![image](https://user-images.githubusercontent.com/16026608/46082319-6fb7b180-c164-11e8-8dec-9db

[2018-09-26 13:54] SSkovboiSS commented on #13418
Hi @NickCook-StruMIS
Can you provide an example of code that demonstrates the problem?

[2018-09-26 14:28] NickCook-StruMIS commented on #13418
Hi, thanks for your help, please see below:

Here we have a Value Object called PricePerUnit:

public class PricePerUnit : ValueObject<PricePerUnit>
    {
        public double UnitPrice { get; private set; }
        public double Value { get; private set; }

        private PricePerUnit() {}    //EF requires a paramterless constructor to populate the object in reflection.

        public PricePer

[2018-09-26 14:51] iliveoncaffiene commented on #6812
This is a huge downside to EF core right now for me. It's something I just expected out of the box - I didn't want to have to plan my queries around EF Core's limitations

[2018-09-26 15:06] ajcvickers commented on #4693
@ConX-Ryan I'd say it's pretty high up there relative to many things, but probably not still in the next couple of releases at least.

[2018-09-26 15:10] ajcvickers commented on #13386
@irisshing1211 It looks like you are reusing the same context instance from D.I. I would suggest learning about D.I. and scopes, and then registering the context with the appropriate lifetime and/or create scopes appropriately to use a new instance for each unit of work. Alternately, don't use D.I. to resolve your context instances and instead create each one with `new`.

[2018-09-26 15:18] ajcvickers commented on #13268
@ErikEJ I also have 4.7.2 on the machine where this fails.

[2018-09-26 15:20] NickCook-StruMIS commented on #13418
As a follow up, I have trapped the SQL generated from EF when it inserts and retrieves the CostCentre & CostCode objects. As you can see the UnitPrice & Value is being inserted on both objects CostCentre & CostCode (proving that my OwnsOne mapping is correct in the context). But the sql generated for the retrieve includs the UnitPrice & Value for the CostCentre but not the CostCode. So EF is not c

[2018-09-26 15:29] fabricejumarie commented on #11564
@dgxhubbard  thank a lot about your comment. I had the same issue on my application, my repository included unexpected navigation properties in the result of my request and as I have circular references in my data model, I retrieved several Mb of data instead of a couple of Kb.
The solution is to either do not track entities in previous requests (AsNoTracking) or singletonized your dbcontext if yo

[2018-09-26 15:35] ajcvickers commented on #13417
@per3ian Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-26 15:36] ajcvickers commented on #2586
@novikov-alexander It's a reasonable way to do it.

[2018-09-26 15:40] ajcvickers commented on #11666
@victormarante Yes.

[2018-09-26 16:37] gojanpaolo commented on #13268
@ajcvickers Please see output text. Should I try updating VS to 15.8 (currently using 15.7.4)?
[code]

[2018-09-26 16:47] thombrink commented on #1368
@vsopko

In which case would you use the example below?

[code]

The example below would create a new IEnumerable< string > which, in my opinion, would be the thing you would want.

[code]

[2018-09-26 16:47] thombrink commented on #1368
@eduherminio

In short, that's exactly what my new Include extension method does.

[2018-09-26 16:50] ajcvickers commented on #13268
@gojanpaolo Worth trying.

[2018-09-26 17:00] ajcvickers commented on #13268
@natemcmaster @danmosemsft The version of the "System.ComponentModel.Annotations" package we are building against is 4.5.0: https://github.com/aspnet/EntityFrameworkCore/blob/release/2.1/build/dependencies.props#L27

But the version of the assembly in the 4.5.0 NuGet package for net461 is 4.2.1:

![image](https://user-images.githubusercontent.com/1430078/46095976-cb893700-c172-11e8-8532-a47faf59a1

[2018-09-26 17:04] natemcmaster commented on #13268
It’s not necessarily wrong because package version and assembly version don’t align. Corefx packages and assemblies version differently from aspnet.  /cc @weshaggard

[2018-09-26 17:39] dpedrelli commented on #13398
@ajcvickers

`namespace Core21Test.Dal.ModelBuilders
{
    public static class Class1ModelBuilder
    {
        public static void Build(ModelBuilder modelBuilder)
        {
            modelBuilder.Entity<Class1>(entity =>
            {
                entity.ToTable("Class1", "shared");

                entity.HasKey(e => e.ID);
                entity.Property(e => e.ID).UseSqlServerIdentityColu

[2018-09-26 17:45] vsopko commented on #1368
@thombrink

In order to get a list of entities with many-to-many children in two sql queries with only the necessary partial data. Is it possible with your implementation?

[2018-09-26 17:48] ajcvickers commented on #13268
@natemcmaster But why would EF reference assembly version 4.2.0 when the package contains 4.2.1?

[2018-09-26 17:50] gojanpaolo commented on #13268
@ajcvickers Updating to VS 15.8.5 fixed the issue.

[2018-09-26 17:51] meancrazy commented on #6812
Guys, you should try https://github.com/tuespetre/Impatient

[2018-09-26 17:52] ajcvickers commented on #13348
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-26 17:55] ajcvickers commented on #13373
@JRBonnema I'm still not fully understanding what you did and what the issue is. Are you saying that you installed 2.1.3 versions into your project, but that this didn't work and the versions in your project are still 2.1.2?

[2018-09-26 18:04] weshaggard commented on #13268
@ajcvickers as @natemcmaster states the package version and assembly version are intentionally not supposed to match because we have multiple versions of binaries in the packages so the package version matches all other packages released at the same time.

As for the ref and lib having different versions that is also intentional to handle issues where folks can reference this library and try to ru

[2018-09-26 18:08] chamikasandamal commented on #8332
Any update on this? when can we change the connection string with` dotnet ef database update`

[2018-09-26 18:29] mduu commented on #13404
I've tried hard to get it work but still without success. I did decouple my custom User-Entity from the one that Identity provides. So this custom User-Entity setup is gone now. I also ensured the project builds using a Azure Pipeline CI build. It still builds on my machine (Mac).

I tried to add a migration from within the `/src/Tauchbolde.Web` directory using the following command:

    dotnet e

[2018-09-26 18:38] ajcvickers commented on #13268
@weshaggard The following binding redirect was added automatically:
[code]
This looks right to me, but isn't working. Here's the fusion failure from my machine:
[code]

[2018-09-26 18:40] bricelam commented on #12998
Silly me, you'd never write `x == double.NaN` because it's always false. You'd have to write `double.IsNaN(x)`.

For spatial, it could be convenient if we translated `double.IsNaN(x.Geometry.Z)` to `[x].[Geometry].HasZ()`, but again I think it's low priority since if you're using Z or M, you likely always specify a Z or M value.

[2018-09-26 18:45] bricelam commented on #13278
See also NetTopologySuite/NetTopologySuite#246

[2018-09-26 18:47] #8741 closed

[2018-09-26 18:47] #13297 closed

[2018-09-26 18:50] smariussorin commented on #12118
@Alantoo Does it fix the nested own types?

I solved like his for anyone for a quick fix ( We have only a entity with own type so this approach is simpler for me, without reflexion)

`context.Entry(entityExisting).Reference(p => p.OwnTypeA).TargetEntry.CurrentValues.SetValues(entityUpdate.OwnTypeA);
context.Entry(entityExisting).Reference(p => p.OwnTypeB).TargetEntry.CurrentValues.SetValues(entity

[2018-09-26 18:50] mduu commented on #13404
I just managed to add a `ApplicationDbContext` and not it seems that I got a step further. Now I get complains about the ASP.Net Identity-Entitiframework model:

[code]

[2018-09-26 18:55] weshaggard commented on #13268
Yes that binding redirect looks correct however are you sure that one is being used?

[code]
From the log it looks like it is using the 4.2.0.0 policy but not sure where that is coming from.

[2018-09-26 18:58] weshaggard commented on #13268
@AlexGhiondea @joperezr does this issue look familiar? I think System.ComponentModelAnnotations is inbox on .NET 4.7.2 and if that is the case it might be unifying down to 4.2.0.0 but even in that case I'd expect it to use find the one in the GAC if that were true.

[2018-09-26 19:20] JRBonnema commented on #13373
@acjvickers The title says it all : Upgrading EF Core 2.1.2.0 to 2.1.3.0 - Dependent Assemblies in app.config are not all automatically updated. The upgrading itself is working fine. The Nuget packages are installed. The issue I have is that the dependent assemblies in  VS 15.8.4 were in three cases not updated. In VS 15.8.5 there is improvement, but in the case of the complex solutions I describe

[2018-09-26 19:32] ajcvickers commented on #13373
@JRBonnema I see what you're saying. Then this looks like a NuGet issue--I'll move it there.

[2018-09-26 19:37] bricelam opened #13421 "SqlServer Spatial: Add provider-specific functions"
We should consider adding (based on feedback) some of SQL Server's spatial methods to `EF.Functions`.

SQL Method | Notes
--- | ---
AsBinaryZM | Like `new WKBWriter().Write(geometry)`
AsGml | Like `new GMLWriter().Write(geometry)`
BufferWithCurves | Needs NetTopologySuite/NetTopologySuite#247
BufferWithTolerance | Like `geometry.Buffer(distance, parameters)`
CollectionAggregate | Needs #13278
Conv

[2018-09-26 19:41] thombrink commented on #1368
@vsopko

Currently it needs two 'full' queries. I'm working on a more efficient one.
In order to get your code working I had to add AsEnumerable, which is the reason for the inefficient queries.

I looks like this richt now:

[code]

This genenrates the following queries:

[code]

The code is currently hosted on VSTS/Azure DevOps, I could make it public or move it to github.

[2018-09-26 19:47] bricelam commented on #8332
We could enable that specifically via a parameter like `--connection` after #8494 is implemented.

[2018-09-26 19:55] Drofzz commented on #12331
adding a static ctor with the configuration builder worked for me

[2018-09-26 19:59] vsopko commented on #1368
@thombrink

Hm, sql is correrct, I wonder, it seems that your Include extension bypasses the limitation of the lazy loading of EF Core and we can really hide joined entities

It would be great

[2018-09-26 20:08] ajcvickers commented on #13418
@NickCook-StruMIS I haven't been able to reproduce this--my code is below. Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[code]
![image](https://user-images.githubusercontent.com/1430078/46106349-4b23ff80-c18d-11e8-9674-0930d38285a7.png)

[2018-09-26 20:13] ajcvickers commented on #13419
@lighterhy This is because EF doesn't build the solution, so the `SolutionDir` variable will need to be set to something default in the project. We discussed supporting build of the solution--this could likely be done with updates to tooling to allow the solution to be specified. However, given that there is more demand to build less--i.e. only the project(s) that really need building--rather than

[2018-09-26 20:18] vsopko commented on #1368
@thombrink

It would be great to continue on githab, to not clog this branch.

[2018-09-26 21:25] shanmugam-siva opened #13422 "Invalid cast exception while performing updates inside transaction scope"
Issue:
Invalid cast exception is thrown when we try to save multiple entities in a single transaction scope. It doesn’t occur consistently. It happens when entities are in the particular order.

[code]

### Steps to reproduce
Consider following are the entities to be saved.
[code]
If we try to save the entities in the order of DataSet2 and DataSet1 , it throws an Invalid Cast Exception “Unable to

[2018-09-26 21:58] j-rewerts commented on #12894
I'd be interested in taking a look at this. @sm-g Would you be able to share an example of the unreadable output w/ dozens of arguments you mentioned and what you would like to see? It could help to go back and forth on what the format should be.

[2018-09-26 22:12] AlexGhiondea commented on #13268
If you have binding redirects in your application then we won't unify the reference -- we will use whatever version you have redirected to.

[2018-09-26 22:19] ajcvickers commented on #13268
@AlexGhiondea Removing the binding redirect doesn't change the behavior.

[2018-09-27 01:41] irisshing1211 commented on #13386
Thanks @ajcvickers
I resolved it by using scopes.
Thanks a lot

[2018-09-27 03:25] espray opened #13423 "Cosmos.Sql -- JObject/JToken Property"
Type not supported exception for JObject or JToken property.

Are JObject/JToken properties not supported for the Cosmos.Sql provider???

[2018-09-27 08:37] subprime opened #13424 "Translate GetType() for entity types with inheritance"
In my queries i want achive that all vehicles except the prototype vehicles are returned, which has more properties. The query is build with OfType<Vehicle>() but it seems that this has no influence of the behaviour.

[code]

Is this normal? What is the right way to filtrer the entities?

### Further technical details
EF Core version: 2.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer

[2018-09-27 11:29] NickCook-StruMIS commented on #13418
Problem solved Thanks @ajcvickers, it turns out our base context was still referencing EntityFrameworkCORE v2.0.1. Taking your sample and creating a new project forced me to get the latest version of EntityFramework which works fine. It must have been a bug that the Entity Framework team fixed between versions. I am amazed that no one else has picked up on this because I did search every where bef

[2018-09-27 12:59] mmillican commented on #13339
@jcmiron I'm hoping to have it ready this weekend.

[2018-09-27 14:07] chrispickford commented on #6787
The workaround mentioned above doesn't seem to be working for inherited property definitions. I have the following statement in my `OnModelCreating()`:

    foreach (var entity in modelBuilder.Model.GetEntityTypes()
      .Where(e => typeof(IEntity).IsAssignableFrom(e.ClrType)))
    {
      modelBuilder.Entity(entity.Name).Property(nameof(IEntity.Uuid))
        .IsRequired().HasDefaultValueSql("NE

[2018-09-27 14:39] inklr commented on #10012
This has been an issue for nearly a year. Is it possible to get a fix before 3.0.0?

[2018-09-27 14:47] bradmarder commented on #12591
I'm hitting this exception frequently. I created a self-contained repo if it helps.

[code]

[2018-09-27 15:23] DeuxAlpha opened #13425 "Base exception and enum for database-transaction errors"
Good morning!

I was looking for a place to submit suggestions [over here](https://data.uservoice.com/forums/72025--closed-entity-framework-core-feature-suggestions) and was directed to post them here so if this isn't the place to do so I apologize.

My suggestion is rather simple, but I believe it could be quite beneficial in streamlining error responses from various implementations of EFCore. I

[2018-09-27 16:00] ajcvickers commented on #13422
@shanmugam-siva Can you post the code that creates DataSetSaveService and calls SaveDataSets?

[2018-09-27 16:03] blackn1ght commented on #7027
@smitpatel @rowana16 does spell it correctly in the original command though.

I'm having this issue right now.  I've created a new solution with a console application project, and another .NET Core class library project that will contain the EF code, and I've installed the `Microsoft.EntityFrameworkCore.SqlServer` (2.1.3) package, and I'm getting the `Unable to find provider assembly with name Mic

[2018-09-27 16:05] dchenier commented on #11922
I'd be interested in looking at this

[2018-09-27 16:14] ajcvickers commented on #13424
@subprime The semantics of `OfType` is "that type or any derived type", like `is` or `as` in C#. This is not an EF thing, but rather how `OfType` is defined in LINQ.

That being said, I don't know the best way to get just entities of a specific type in EF Core. I tried:

[code]
but that evaluates on the client. This:
[code]
works, but it's a bit obscure.

@smitpatel Can you advise?

[2018-09-27 16:21] ajcvickers commented on #6787
@chrispickford It works for me in a simple test:
[code]

[2018-09-27 16:28] ajcvickers commented on #13425
@DeuxAlpha We have discussed this many times in the past, but we haven't done anything because:
1. There is no common way to get this information from the database exception. This means that we would have to create a mechanism for providers to give EF that information in an abstract way that EF can consume. This is doable, but it isn't a trivial amount of work.
2. These errors typically indicate a

[2018-09-27 16:32] ajcvickers commented on #7027
@blackn1ght Please file a new issue and include a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-27 17:00] bricelam commented on #13280
Looks like we'll need to add the ability to generate a `CASE` with a base expression before we can do this.

[code]

[2018-09-27 17:06] bricelam commented on #13280
WIP in branch [bricelam:2moar](https://github.com/aspnet/EntityFrameworkCore/compare/release/2.2...bricelam:2moar)

[2018-09-27 17:12] bricelam commented on #13281
Apparently `IsWithinDistance` is the only one that's pure sugar. The other ones I was considering turned out to be a lot more involved.

[2018-09-27 17:41] maumar commented on #13392
related to https://github.com/aspnet/EntityFrameworkCore/issues/12539

[2018-09-27 18:59] Talegen commented on #6872
Still running into this. Please make the identity generation smarter as mentioned in related issues.

We want to set the identity of values to a specific number (stored in constants) in our initial test data so that we can use those constant Ids as inputs to our xUnit test methods.

We run into the issue with these values colliding with the InMemory database incrementor tracker.

The simple soluti

[2018-09-27 19:53] subprime commented on #13424
Hey @ajcvickers thanks for the fast reply. I know what you mean but it's wierd. My interpretion of OfType was to get the concrete type instead of the derived types because they have different endpoints in my api... 👎

[2018-09-27 19:57] ajcvickers commented on #13424
@subprime Can you be more specific about what is weird about it? This is the way `OfType` is defined in the base class libraries for .NET. If you feel this is wrong, then probably the compiler team is the best place to give that feedback.

[2018-09-27 20:56] divega commented on #13099
Note for triage: Clearing up assignment and milestone. I think this is not necessarily actionable in 3.0 and can move to the backlog. If things beging working better and the customer demand for running EF Core on Unity becomes significant, we can do some testing, samples, etc.

[2018-09-27 21:00] divega commented on #12892
For now the closest thing we have to a sample is a demo at https://github.com/divega/EFDemos/tree/master/cosmos-db.

[2018-09-27 21:08] gabrielRibeiroCamargoFerreira commented on #13417
I do not know if it helps.
I had the same problem, but in my case I was changing the IdentityDbContext, I ended up having to remove all the migrations and generate the initial again, which I saw was that in the creation of the project in the Migrations folder XXX.Designer. cs, ProductVersion was on preview1  and the new migrations were as preview2

[2018-09-27 21:09] uso800 opened #13430 "OfType<T> throws InvalidOperationException when Derived entity has Owned entity type"
When derived entity types has owned entity types, query with OfType&lt;T&gt; fails.
Query against base type work correctly.

Below is the exception message.
[code]

### Steps to reproduce
You can reproduce this problem with the following code.

[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 Pro 18

[2018-09-27 21:17] smittix6 commented on #1100
@corstian - thanks

[2018-09-27 21:51] gojanpaolo commented on #13430
@uso800 Inheritance with owned types is one of the current shortcomings as [stated in the docs](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities#current-shortcomings).

Also, might be related to: https://github.com/aspnet/EntityFrameworkCore/issues/9630

[2018-09-27 22:10] eZawer opened #13433 "Global Filter with Paging"
When using global filters with paging (take/skip) the the generated SQL looks something like:

SELECT *
FROM (
    SELECT *  FROM GL.Account   ORDER BY   Id asc  OFFSET 0 ROWS FETCH NEXT 50 ROWS ONLY
) AS [t]
WHERE [t].[CompanyId] = 1
ORDER BY [t].[XPath]

As Noted from above the filter applied to the outer query which means that the inner query will fetch first 50 records regardless of their tena

[2018-09-27 22:38] divega commented on #12677
The reason installing the EF Core 2.1 packages fails with this error is that the UWP application targets a minimal version of Windows 10 that does not support .NET Standard 2.0. In order to avoid the error, set the minimal version to Windows 10 Fall Creators Update (build 16299.0) as documented in https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started#create-a-new-uwp-project.

E

[2018-09-28 00:39] maumar commented on #10946
@VictorioBerra can you post a full repro project? I was trying to reverse engineer the model from the query you provided and I'm seeing the correct behavior. I came up with the following model:

[code]

[2018-09-28 01:33] VictorioBerra commented on #10946
Wasn't this closed as fixed 6 months ago? There should be a repro project in my most recent post.

[2018-09-28 05:48] smitpatel commented on #13424
@subprime - Please post your query.

[2018-09-28 06:43] Trolldemorted commented on #12677
That is very unfortunate, especially if there are other bugs in 1.1.6 whose fixes won't be backported.

Since developers can't set the minimal version to 16299 because 16299 is not shipped to W10m devices, could you revise the decision to require .netstandard2.0 or higher? Otherwise you are shutting out every UWP app that wants to run on W10M.

[2018-09-28 07:11] liquanyulll commented on #11078
The 'MySqlDecimalTypeMapping' does not support value conversions. Support for value conversions typically requires changes in the database provider.

[2018-09-28 07:50] sadqiang opened #13434 "Migration with dependency injection in a console application"
I found a solution from stackoverflow how to apply migration to a console application with ef core and dependency injection as follows. It works but the method name `BuildWebHost` seems to be weird for non asp.net core projects.

Here I request a better name for it. Any suggestion is welcome!

[code]

[2018-09-28 07:52] NGancevich opened #13435 "DbQuery FromSql issue when sp returns Date instead DateTime"
I'm using asp.net core 2.1 and code first. I need get data from sp

[code]
If sp return Date column as 'Date' type it doesn't work. If I change Date column type to datetime - it's working.

Please advise

[2018-09-28 08:07] NGancevich commented on #13435
I also find If I renamed class property from Date to StateDate it's also working

[2018-09-28 08:14] blackn1ght opened #13436 "Unable to find provider assembly with name Microsoft.EntityFrameworkCore.SqlServer. Ensure the specified name is correct and is referenced by the project."
I'm attempting to create a DbContext from an existing SqlServer database via the `Scaffold-DbContext` command.  When passing the command, with the `Microsoft.EntityFrameworkCore.SqlServer`, I get the error message: "Unable to find provider assembly with name Microsoft.EntityFrameworkCore.SqlServer. Ensure the specified name is correct and is referenced by the project."

Command:
`Scaffold-DbContex

[2018-09-28 08:16] blackn1ght commented on #7027
Created new issue #13436

[2018-09-28 11:31] aspnet-hello opened #13437 "Make service provider hashing more reliable"
This test [fails](http://aspnetci/viewLog.html?buildId=564444&buildTypeId=Releases_22xPublic_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @ajcvickers

This issue was made automatically. If there is a problem contact r

[2018-09-28 11:31] aspnet-hello commented on #13437
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-28 11:55] jag43 opened #13438 "GroupBy Select OrderBy produces invalid SQL near the keyword 'AS'"
I have a LINQ query
[code]
Which is producing incorrect SQL
[code]

**Note the `AS [StartDate]` at the end**

This is producing an exception
[code]

### Steps to reproduce
I have created a sample project [here](https://github.com/jag43/EFCore_OrderByCreatedAsStartDate). Let me know if you need anything more.

### Further technical details
EF Core version: `Microsoft.EntityFrameworkCore 2.1.3`
Data

[2018-09-28 14:34] nicoabie opened #13439 "Feature request: Make it possible to generate DbContext as an asbstract class"
The use case of this would be multitenant applications.

With different concrete classes for each tenant (maybe not the best idea) or with just one concrete class that extends the abstract DbContext and receives upon creation what is needed to narrow its results to a single tenant.

Having an abstract DbContext would enforce that there is no way to have results of more that one tenant at a time.

[2018-09-28 14:43] Nachitous commented on #13439
That actually sounds like an amazing and quite useful idea

[2018-09-28 16:19] cwe1ss commented on #13317
My previous calculation was wrong. 50K RU/s cost almost 3000 USD / month. They've just reduced the minimum DB RU/s to 10K though - which still costs 585 USD / month - and still is out of reach for many scenarios.

[2018-09-28 16:29] ajcvickers commented on #13424
@smitpatel Not sure which query you want, but here are the three I tested, with the repro code below.

Using `OfType`:
[code]
[code]

Using `GetType`:
[code]
[code]

Using discriminator:
[code]
[code]

Full code:
[code]

[2018-09-28 16:44] ajcvickers commented on #12826
Discuss in triage 🇦🇺

[2018-09-28 16:45] ajcvickers commented on #13226
Discuss in triage 🇦🇺

[2018-09-28 16:47] ajcvickers commented on #13268
@weshaggard @AlexGhiondea @joperezr Any further thoughts on this? Does it look like a bug--if so, where would the appropriate place be to file it?

[2018-09-28 16:51] ajcvickers commented on #13415
Duplicate of #13407

[2018-09-28 17:12] ajcvickers commented on #13434
@sadqiang Using `IDesignTimeDbContextFactory` would be the mode idiomatic way of doing it. However, you should also be careful about the lifetime used to register the context. By default it gets registered as scoped, but the code above doesn't ever create a scope to resolve it. Registering as singleton instead and using the factory looks like this:
[code]
To keep registering it as scoped requires

[2018-09-28 17:27] mmillican commented on #13339
So can I publish it in a blog post?

[2018-09-28 17:28] bricelam commented on #13339
The dirty details: We're effectively running `ef.dll` as if it was your app. We use your app's dependencies and your app's runtime config. If you're not careful you can run into missing or conflicting assemblies.

Bu yes, it's safe to run the command you see in `--verbose`. This is exactly what calling `dotnet ef` runs behind the scenes.

[2018-09-28 17:33] livarcocc commented on #13339
@bricelam you are giving away all our secrets man.

@scottaddie I am not sure this warrants document this or not. This is actually part of the host itself and not really the CLI, so I will let @jeffschwMSFT comment on it.

[2018-09-28 17:33] bricelam commented on #13339
Absolutely. `ef.dll` was designed to be called with `dotnet exec`

[2018-09-28 17:37] bricelam commented on #13339
@scottaddie I wouldn't mention it in the docs. This is just implementation detail of the `dotnet ef` command. The blog post documents the manual steps you have to take for a super advanced scenario: Running EF Core migrations without the .NET Core SDK or your `*.csproj` file available.

[2018-09-28 17:39] bricelam commented on #13339
Note, our recommended approach is to generate SQL script on the dev box and run those on the server instead. At least until we have a good delivery mechanism or an EF tool that can run directly against assemblies.

[2018-09-28 17:42] mmillican commented on #13339
Thanks for the feedback @bricelam, @scottaddie  and @livarcocc. Currently trying to update the post I have to mention these recommendations.

[2018-09-28 17:45] elAndyG commented on #12826
I receive the same Sql structure as @sam-wheat,  but when using `x.Key.PropertyName.ToUpper()`    and `x.Key.PropertyName.ToUpper() ?? "Unknown Property"`

[2018-09-28 17:45] ajcvickers commented on #13439
@nicoabie Can you be more specific about what you mean by "generate"? You can, of course, already create such a base class, so I assume you are asking for something else than the ability to do it. For example:
[code]

[2018-09-28 17:53] maumar commented on #13438
dupe of https://github.com/aspnet/EntityFrameworkCore/issues/12826

[2018-09-28 18:03] nicoabie commented on #13439
@ajcvickers yes sorry, I missed an important part and thanks for the fast reply and example provided. The scenario this use case would be most useful is when using database first and scaffolding the DbContext.

There, it is not the developer who writes the definition of the DbContext but the tool itself.

It is a way of enforcing going through a specific context, in your example it is still possib

[2018-09-28 18:06] mmillican commented on #13339
The [blog post](https://mattmillican.com/index.html) has been published. If the team has any feedback, please [let me know](https://github.com/mmillican/mmillican.github.io/issues).

Thanks for the help all!

cc @jcmiron

[2018-09-28 19:59] ajcvickers commented on #13381
@dchristensen In this line:
[code]
is "Posts" the same table that the Post maps to, or is it a database view? If it is a view, how is it defined?

[2018-09-28 20:09] AndriySvyryd opened #13441 "HasData should remove previously configured data"

[2018-09-28 20:15] maumar commented on #10946
@VictorioBerra sorry, I somehow missed the link to the full repo. Bug was fixed long time ago, but your post was created later so I wanted to make sure the bug fix was complete and we didn't miss something. Using the full repro you provided I was able to reproduce it in 2.0.0 and in 2.1.3. However everything works correctly on the current bits (2.2.0 preview2)

[2018-09-28 20:32] VictorioBerra commented on #10946
@maumar thanks a lot for following up I appreciate it.

[2018-09-28 20:40] #12698 closed

[2018-09-28 20:45] ajcvickers commented on #13398
@dpedrelli The C# `DateTime` class does not map to the SQL datatype `time`. It's possibly that this configuration was being ignored prior to 2.1. What is the actual SQL type of the column in the database?

[2018-09-28 21:00] ajcvickers commented on #13411
@meancrazy Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

Note for triage: I attempted to repro this and got an exception in the first case:
[code]
Second case generates:
[code]

My code:
[code]

[2018-09-28 21:01] ajcvickers commented on #13421
Note from triage: let's see whether it makes more sense to make a PR to NTS for the curve ones.

[2018-09-28 21:04] ajcvickers commented on #13435
@NGancevich Can you post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-09-28 21:14] #12810 closed

[2018-09-28 21:41] maumar commented on #13430
Problem here is that we try to eager load owned entities before we run QM optimizations. This results in `EagerLoadingExpressionVisitor` executing on a following, unoptimized QM:

[code]

and tries to load all owned entities defined on all derived types.

Query optimized converts the QM to:

[code]

for which `OwnedEntity2` is not accessible.

We should be running `EagerLoadingExpressionVisitor` i

[2018-09-28 21:43] meancrazy commented on #13411
It's so strange, but if you change `Stock` class to this (add only one line):
[code]
program will run successfully and generate sql:
[code]

So it's a new issue?

[2018-09-28 21:52] bricelam opened #13444 "Sqlite Query: Don't apply BooleanExpressionTranslatingVisitor"
Because of SQLite's dynamic typing, there is no need to apply `BooleanExpressionTranslatingVisitor` on SQLite.

This is sufficient...

[code]

...and doesn't need to be translated to this.

[code]

[2018-09-28 21:56] dpedrelli commented on #13398
@ajcvickers  If I go into Management Studio and script the table creation:

`[Time] [time](7) NOT NULL,`

However, I just need to use a C# TimeSpan, instead of DateTime?

Thanks,

David

[2018-09-28 22:03] AlexGhiondea commented on #13268
@ajcvickers a couple comments above someone mentioned that upgrading to the latest VS solved the issue for them -- does that solve it for you?

[2018-09-28 22:14] dchristensen commented on #13381
@ajcvickers In the example I've given it is just referencing the same table, for simplicity's sake, but the same behavior exists when I target the Query Type to an actual view.

[2018-09-28 23:47] alexkeh opened #13447 "EF Core Migrations initial scaffolding removes dependent assemblies from project"
I am using Visual Studio 2017 (15.8.5). I create a .NET Core console project in order to create a simple EF Core app using SQL Server.

I add the latest production versions of Microsoft.EntityFrameworkCore.SqlServer and Microsoft.EntityFrameworkCore.Design assemblies (versions 2.1.3) into the project via NuGet. I then add the typical getting started demo using the BloggingContext EF Core sample. I

[2018-09-28 23:49] alexkeh commented on #13447
I've also reproduced this issue with my team's own DB provider. This bug is not a SQL Server-specific issue, but something that is related to the add migrations command.

[2018-09-29 01:10] divega commented on #13447
@alexkeh Thanks for reporting this. I was able to repro most of what you are seeing. However this seems to be a usability issue with NuGet in Visual Studio, and it only affects the first time you try to execute the commands just after adding the packages.

The reason for these errors is that at the point you run `dotnet ef` (either from the PMC or a regular command line), Visual Studio has not sav

[2018-09-29 08:57] dmitry-lipetsk commented on #13364
@ajcvickers,

I think, need finish my current work with translation and look to finished changes in DefaultQuerySqlGenerator.

Today I changed the DefaultQuerySqlGenerator.BooleanExpressionTranslatingVisitor.ConvertToValue for avoid generation a "CASE"-statement in SQL.

[code]

Could I offer to you (EFCore team) a little offer for code style?

Please, do not use complex expression in "return c?r1

[2018-09-29 08:58] dmitry-lipetsk commented on #13444
@bricelam, you stole this problem from me :)

https://github.com/aspnet/EntityFrameworkCore/issues/13364#issuecomment-425629074

[2018-09-29 11:02] AndyCJ commented on #11981
I hit this today too.

I also found that if you've moved the SqlDbContext in to another project so it can be referenced by other projects then it can't find the SqlDbContext in the drop down.

[2018-09-29 11:56] NGancevich commented on #13435
@ajcvickers , unfortunately I can't upload the project but it's wrote all needed code to reproduce the issue.

[2018-09-29 16:39] Eswel opened #13448 "NullReferenceException when filtering foreign key on null parent type"
Hi, I am hitting a bug when using a foreign key as a where filter.
This works:
[code]
but this throws a NullReferenceException when evaluating the closure implicit parent item
[code]
Exception details:
[code]

### Steps to reproduce
Just run the following sample (after initializing database)
[code]

### Further technical details
EF Core version: 2.1.3
Database Provider: Microsoft.EntityFrameworkCo

[2018-09-29 19:08] Cyberboss opened #13449 "Conversion issue with a query that calculates the difference between two date time offsets"
Also reporting this here (https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/691) because I'm not entirely sure where the problem is

I have a table `CompileJobs`

![image](https://user-images.githubusercontent.com/8171642/46249511-69416800-c3f8-11e8-8e94-85a066fd5b8c.png)

which is keyed to a table `Jobs`

![image](https://user-images.githubusercontent.com/8171642/4624950

[2018-09-29 23:45] nazarkryp opened #13450 "When using .GroupBy then .Include is ignored"
Code Like this:
[code]
Generates query like this:
[code]
As a result navigation property Studio in model Movie is null. I've runned the same query in EF6 and it worker fine. Here I've tried different combinations of placing .Include() (e.g: Context.Set<Movie>().Include(e=>e.Studio) etc.)

### Further technical details
EF Core version: 2.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer

[2018-09-30 00:27] bricelam commented on #13444
I slept on this, and realized it's probably was to account for `NULL`. In the database `X < 3` when `X` is `NULL` is neither `1` nor `0`, but `NULL`.

The only thing I'd change on SQLite is to remove the `CAST` since it's unnecessary.

[2018-09-30 04:16] scottsauber commented on #13310
I can repro this on our code base... just trying to make a minimal repro now.  Definitely has to do when there's a SQL exception like exceeded length/truncating and multiple saves are pending.

[2018-09-30 11:54] shakeri opened #13452 "EF Core exception when i send multiple requests"
I updated my project to ASP.NET Core 2.1 RTM.
When I send multiple requests, i get this exception:

[code]
In `MyContext` class:
[code]

In `TestService` class:
[code]

In `Startup` class:
[code]
### Further technical details
EF Core version: 2.1
Operating system: Ubuntu 18.04 LTS

[2018-09-30 12:47] Bogatinovski commented on #5096
@VictorioBerra Migrate still needs to go to the database and check if there are any new migrations that needs to be applied. Am I right ? If this is the case imagine the new application is deployed to 10 instances and each of this instances invokes the Migrate() call so we get 10 parallel database accesses. And imagine having 100 instances to which the new version is deployed.
Now imagine the othe

[2018-09-30 12:58] ice1e0 opened #13453 "Relaxed check if something is tracked - duplicated key violation"
### The short story
I need a easy, relaxed way where I can request from the DbContext if something is tracked to change.

### The long story
In my WPF application I use a SaveCommand with a `CanSave(..)` method to check if something can be saved. This method looks like the following:

[code]

When a duplicate key violation occurs, the `.Entries()` method throws an `System.InvalidOperationException

[2018-09-30 17:21] roji opened #13454 "Add plugin support to EvaluatableExpressionFilter"
2.2 is introducing plugins, which can extend type mappings and method/member translations from outside EF Core. I'm currently porting Npgsql's own plugin model (introduced in 2.1) to the new EF Core one (https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/658), and one missing extension point is for `EvaluatableExpressionFilter`: our NodaTime plugin flags `SystemClock.Instance.G

[2018-09-30 18:02] jag43 commented on #12826
Is there an ETA for this?

[2018-09-30 20:42] divega commented on #13447
@alexkeh yes, it is expected that you have to add Microsoft.EntityFrameworkCore.Tools in order to have access to the PMC tools.

I prefer to leave this open though, to have a chance to review in our triaga, mainly because I would like to understand if the behavior of NuGet is by-design before we close this.

[2018-09-30 20:45] divega commented on #13447
BTW, our documentation for this area has been recently updated. See

- https://docs.microsoft.com/en-us/ef/core/get-started/install/#get-entity-framework-core-tools
- https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell
- https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet.

[2018-10-01 01:26] EricBourland opened #13457 "NullReferenceException when querying entities with spatial types"
Describe what is not working as expected.

I'm unable to query a nested collection with an IGeometry property, I get a NullReferenceException

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Try to query the type from the database (it is a nested entity). My code below is throwing on the call to ToListAsync(). The Token

[2018-10-01 01:30] EricBourland commented on #13457
Also, it does not crash if I add AsNoTracking to the query, but I need change tracking to stay enabled

[2018-10-01 06:40] subprime commented on #13424
@smitpatel which query you want?

[2018-10-01 10:19] chrispickford commented on #6787
@ajcvickers Apologies, in my haste I constructed an incorrect example. The `IEntity` should be an abstract class, e.g:

    public abstract class Entity
    {
      public int Id { get; set; }
      public byte[] RowVersion { get; set; }
      public Guid Uuid { get; set; }
    }

[2018-10-01 13:15] FabriDamazio commented on #12118
I can confirm that @smariussorin workaround works. =))

Tested with a owned type with 5 nested owned types

[2018-10-01 14:01] espray commented on #13423
@AndriySvyryd I am a little on the fence on this one now. :)
Although a JObject property would be handy, but this JObject property would only be supported with the Cosmos.Sql provider. An owned entity types would probably be the correct solution that would work across all providers.

Fixing: https://github.com/aspnet/EntityFrameworkCore/issues/13288 is a must. Also implementing value-conversions c

[2018-10-01 15:46] ajcvickers commented on #6787
@chrispickford Still works for me. Can you please file a new issue including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-10-01 15:55] ajcvickers commented on #13268
@AlexGhiondea It solves it with the VS test runner, but not the R# test runner. If we're confident that this is a test runner issue then I will close, however the original report doesn't say anything about the test runner. More fundamentally, it doesn't seem like there is an understanding from anyone one on _why_ it is failing.

[2018-10-01 16:17] ajcvickers commented on #13448
Note for triage: looks like we're trying to get a FK property value from a null entity instance.