[2017-03-28 09:14] joacar opened #8014 "Arithmetic potential null values"
Arithmetic values are not treated the same if null coalesce operator is used instead of `HasValue` on nullable integer types

### Steps to reproduce
Project available [here](https://github.com/joacar/EFCorePotentialNullArithmetic) and [source code](https://github.com/joacar/EFCorePotentialNullArithmetic/blob/master/EFCorePotentialNullArithmetic/Program.cs)

Two expressions that, imo, should yield

[2017-03-28 09:19] TomWilloughby opened #8015 "Exception when setting the default value for a nullable int field"
**Describe what is not working as expected.**
In a `DBContext` `OnModelCreating()` method, setting a default value on a nullable int field using `HasDefaultValue( null )` throws an exception, while using `HasDefaultValueSql( "null" )` works as expected. The exception message is confusing and potentially inaccurate, suggesting that two identity columns have been defined as opposed to suggesting tha

[2017-03-28 11:53] eoincgreenfinch commented on #7158
@rowanmiller / @divega

Hey Rowan, Diego,

Just wondering if there's any update on this re: Roadmap/Time-to-fix. The original bug over on the the xamarin bugzilla hasn't had any update in months. And the only mention of Xamarin on the EFCore Road map (https://github.com/aspnet/EntityFramework/wiki/Roadmap) is an acknowledgement that it doesn't work in all scenarios.

Just wondering if you can prov

[2017-03-28 12:24] smithaitufe commented on #7288
I am also having the same issue

I am using Ubuntu 16.04 LTS, VS Code, Core 1.1 and Postgresql (Npsql)

I have two contexts: LibrilleIdentityContext and LibrilleContext.
When I run the `dotnet ef migrations add InitialCreate -c LibrilleIdentityContext -o "Migrations/Identity"` code below, it creates the necessary migration files for users, roles, userlogins, userclaims, usertokens.

However, when

[2017-03-28 13:08] joacar opened #8016 "[Question] Conditional Include()"
Is it possible to compose a "conditional include" using LINQ syntax to generate SQL like `LEFT JOIN A ON A.Id ON B.Id AND A.SomeCondition = 1`?

Using query syntax it is possible by creating an anonymous class acting as key

[code]

If this could be expressed like `Persons.Include(p => p.Youtube, youtube => IsLocked == {0,1})` that would be neat.

In my case I'm filtering `Persons` that can have m

[2017-03-28 13:35] smitpatel commented on #8016
dupe of #1833?

[2017-03-28 13:37] joacar commented on #8016
Yeah looks like what I want to achieve. Close it and i'll subscribe to that issue (y)

[2017-03-28 13:41] smitpatel commented on #8014
Addition (`+`) has higher operator precedence in C# than coalesce (`??`). So effectively first expression becomes `a => (a.A1.Cost ?? (0 + a.A2.Cost) ?? (0 + a.A3.Cost)) > limit;` Which makes both the expressions different and yields different translation. (both of them are correct from what has been provided in user query).

Can you check what is the query generated when you write the first expre

[2017-03-28 13:44] smitpatel commented on #8015
Note for Triage: Related to #7872

[2017-03-28 13:53] joacar commented on #8014
@smitpatel Thanks for quick answer.

[code]

[code]

Looks good 👍

[2017-03-28 14:04] smitpatel commented on #8014
According to [https://docs.microsoft.com/en-us/sql/t-sql/language-elements/coalesce-transact-sql](Docs),
The COALESCE expression is a syntactic shortcut for the CASE expression and rewritten by query optimizer into CASE statements.

So, both are same performance-wise. COALESCE generates a shorter (and prettier may be) query. 😄

[2017-03-28 14:10] joacar commented on #8014
@smitpatel Shorter is always better - at least when it comes to code ;)

[2017-03-28 14:22] joacar commented on #8014
@smitpatel

Added three statements with ??-operator and everything works, of course, but there seem the be exessive parenthesis

[code]
produces
[code]

Tried adding parenthesis around the three statements but the generated sql is the same

[2017-03-28 14:30] smitpatel commented on #8014
During our SQL generation, we don't try to reason about operator precedence in SQL. It would require us to look into all nodes together & apply complex logic. Also precedence can vary between different providers. Therefore we just generate SQL with explicit operator precedence.
I would expect `a + b + c` which is interpreted by compiler (and thus query parser) as `(a + b) + c` would be translated

[2017-03-28 14:50] imad24 commented on #7540
Hello @ojorma
I'm facing the same problem with migration on VS 2017. Where can I set the environment variable order please ?
It's not the Windows interface for environment variables you're showing in the screen shot ?
Thank you.

[2017-03-28 14:51] joacar commented on #8014
Fair point :)

[2017-03-28 15:09] sjb-sjb commented on #797
@ajcvickers thanks for this reference.

Do you have any general / high level comment on the overall goal of synchronizing multiple copies of an entity, which arises due to loading the entity multiple times through different contexts? I think this problem is inevitable when you have multiple views of the data, but is it really? I would like to know if I've just gotten lost in the rabbit hole. What

[2017-03-28 15:10] imad24 commented on #7540
Hello @ojorma,
I face the same problem with migration on Visual Studio 2017 under Windows 8.1 . I've checked and I have only one SDK installed the 1.0.0 at C:\Program Files\dotnet.
Have you tried something else ? cause I have exactly the same error message.

[2017-03-28 16:02] mziyabo commented on #4149
Did a dotnet migrate on my project and migrations using the cli are generating the error in this thread:
i.e. No DbContext was found in assembly 'ef'. Ensure that you're using the correct assembly and that the type is neither abstract nor generic.

My Environment is as follows: running dotnet --info
---------------------------------------------------------------------------------------------------

[2017-03-28 16:02] gayan1991 opened #8017 "Column with name "column" is not defined on the local table "table""
I am having a real issue with an error. It is partially killing me.

I am getting an error saying System.InvalidOperationExceptionColumn with name 'WOType' is not defined on the local table 'WorkOrder' when user is trying to insert data to sqlite DB. However, when I try to create this error by debuggin, It is working smoothly. Normally, we deploy a package through VSTS. The package comes from the

[2017-03-28 16:02] ErikEJ opened #8018 "Have we stopped supporting .NET 4.5.1?"
What is going on?

**Could not install package 'Microsoft.EntityFrameworkCore.Relational 1.2.0-preview1-24146'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.**

[2017-03-28 16:09] ErikEJ commented on #8017
This does not seem to relate to Entity Framework Core !?

[2017-03-28 16:10] ajcvickers commented on #797
@sjb-sjb Keep it constrained. That is, for an arbitrary number of instances, each of which can have any changes to both scalar properties or relationships, and for which there can be new entities, deleted entities, modified entities, and unchanged entities, it is very hard to define what the "correct" behavior is, and hard to come up with rules that will cover all cases. On the other hand, if ther

[2017-03-28 16:16] Eilon commented on #7990
Symbol publishing is tracked here: https://github.com/aspnet/Coherence/issues/124

[2017-03-28 16:22] mikebridge commented on #3722
@smitpatel If it helps, I created a [test project](https://github.com/mikebridge/EFQuestion) that generates the error with an in-memory db.

[2017-03-28 16:28] ajcvickers commented on #7990
@zsvanderlaan We are working on being able to get symbols published as part of the wider ASP.NET Core and ,NET Core projects. This is being tracked for us by the issue @Eilon referenced above.

With regard to the crash, does it happen only when debugging, or also when you run the code outside of the debugger?

[2017-03-28 16:39] MarcoLoetscher commented on #8018
Perhaps because of the following change: https://github.com/aspnet/EntityFramework/issues/7931

[2017-03-28 16:51] smitpatel opened #8019 "Subquery.Any(predicateParameter) throws exception"
Stackoverflow question: http://stackoverflow.com/questions/43057695/cant-extract-this-function-from-an-expression

Earlier discussion on #3722
from https://github.com/aspnet/EntityFramework/issues/3722#issuecomment-289599515
@mikebridge wrote

I have subquery that is generating that same error, but only when the Func is passed into the method containing the query.

[code]

I have a "School" entity

[2017-03-28 16:54] smitpatel commented on #3722
@mikebridge - I filed #8019 for your issue.

[2017-03-28 16:59] mikebridge commented on #3722
@smitpatel Thanks!

[2017-03-28 17:09] smitpatel commented on #8018
@ErikEJ - See #7976
@ajcvickers @Eilon can give more info why it was done.

[2017-03-28 17:28] Eilon commented on #8018
@ErikEJ .NET Framework 4.5 (and 4.5.1) are no longer a supported products, see this blog post: https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/

For that reason, plus the additional cost of developing and testing it, we have dropped support for it.

[2017-03-28 17:35] smitpatel commented on #8019
Error here is, we get Func in expression tree and we convert the closure into a parameter. Therefore we end up with `TypedParameterExpression` instead of `LambdaExpression` as expected for `Any()`

[2017-03-28 18:23] HaoK commented on #7288
What's the difference between your two context's @smithaitufe

[2017-03-28 18:29] Ibrahim-Islam commented on #7641
`AddUserSecrets<StartUp>` Did not solve the problem for me but [this](https://docs.microsoft.com/en-us/ef/core/miscellaneous/configuring-dbcontext#using-idbcontextfactorytcontext) did. But I do not hard-coded connection string in the class. What can be done?

[2017-03-28 18:30] ErikEJ commented on #8018
@Eilon Thanks, I will follow suit then! 🛩

[2017-03-28 18:40] Eilon commented on #8018
@ErikEJ sounds good!

[2017-03-28 18:53] akamud commented on #2981
I understand this can be extended adding a new `MethodCallTranslator`, but what is the best way to add it to EF? The classes I found are all in the `internal` namespace.

[2017-03-28 19:07] smitpatel commented on #7520
TableExpressionBase Alias & QuerySource both are nullable & settable. Review.

[2017-03-28 19:15] smitpatel commented on #7520
`FromSqlExpression.Arguments` is not a collection property, just `Expression`. Review property name.

[2017-03-28 19:26] ojorma commented on #7540
@imad24  when you type dotnet --version in the command line what does it give you? this is mine
![image](https://cloud.githubusercontent.com/assets/17591360/24423332/7b8b7da8-13f4-11e7-85dd-cbeab15f20bd.png)
you could still try installing the x86 version of the dotnet sdk.  if you could share a sample project on onedrive or something, I could download an check

[2017-03-28 20:15] smithaitufe commented on #7288
**LibrilleIdentityContext.cs**
[code]

and my

**LibrilleContext.cs**

[code]
They are both using the same connection string.

[2017-03-28 20:25] #7756 closed

[2017-03-28 20:28] HaoK commented on #7288
Try moving your base up, see:

// Add your customizations after calling base.OnModelCreating(builder);

[2017-03-28 20:53] smithaitufe commented on #7288
@HaoK
I actually did that but I did not see any difference.

[2017-03-28 20:55] HaoK commented on #7288
Perhaps the issue is the fact that there are two DbContexts?  Is there any way you can try things temporarily with a single db context just to see if that might be causing issues?

[2017-03-28 20:56] smithaitufe commented on #7288
I did and I did not have any issue.

[2017-03-28 21:12] mikebridge commented on #8019
@smitpatel Sorry, just to clarify, are you saying that EF *should* do reflection on the Func that's being passed as a parameter and it is supposed to create an Expression from it (in other words, it is a bug in EF), or are you saying that a client must pass a Lambda Expression, not a Func (i.e. the bug is in the client code)?

[2017-03-28 21:28] imad24 commented on #7540
@ojorma I've got the same version as you can see (along with two others installed i think)

![image](https://cloud.githubusercontent.com/assets/1884358/24427919/f7e1c5ca-140c-11e7-8b2a-5d4e062e2111.png)

@bricelam Everything seems ok with the Powershell commands as well:
`PM> $DTE.Solution.SolutionBuild.StartupProjects`
`HPCRM\HPCRM.csproj`
`PM> $DTE.Solution.Properties.Item('Path').Value`
`C:\Use

[2017-03-28 22:09] AndriySvyryd commented on #7340
@ajcvickers A related problem that should also be considered is reparenting. In this scenario the principal instance is changed instead of the dependent instance:
[code]

[2017-03-28 22:17] HaoK commented on #7288
So this issue only occurs with two different DbContext types?  @ajcvickers @divega are there any limitations today with using migrations and multiple db contexts?

[2017-03-28 22:24] smitpatel commented on #8019
@mikebridge - EF will not do reflection and look inside if you pass Func.
If the client wants expression to be translated to server, Expression<Func> must be passed.
When EF receives a Func, it cannot translate it to server but it can do evaluation of it in memory after fetching data from server. That is what EF is supposed to do. At present it throws exception. that is the ef bug.

[2017-03-28 22:46] moozzyk opened #8021 "SqlServerStringReplaceTranslator fails with Sequence contains more than one matching element on the latest runtime"
Running:

https://github.com/aspnet/SignalR/tree/dev/samples/ChatSample

fails with the following exception:

[code]

Runtime version: 2.0.0-beta-001846-00

[2017-03-28 23:05] mikebridge commented on #8019
@smitpatel thanks for the clarification!

[2017-03-28 23:50] smitpatel commented on #8021
How can I get copy of latest runtime? It seems that there are multiple overloads of `string.Replace` now. We need to find the exact one which we can translate.

[2017-03-28 23:57] moozzyk commented on #8021
@smitpatel - I just `git clean -xdf` the repo and ran `build.cmd`

[2017-03-29 00:00] rmotzko commented on #7889
It works for me too. Thanks @bricelam !!

 I have spent a lot time to solve the issue! So, let's go ahead !

[2017-03-29 00:20] ojorma commented on #7540
@imad24    im seeing 1.0.0-preview2-1...... That means there are multiple sdks on your system.

1. Please try to delete both folders that have the preview thing. you can leave them in the recycle bin, then check a similar path on the programfiles x86 folder, if there is anyone with preview in it delete the folder. You can use add remove programes to uninstall later. Then check your environmental v

[2017-03-29 00:58] galvesribeiro commented on #1035
Hey guys, would there be any efforts from Microsoft on this particular issue or can community contribute a provider for DocumentDB and it would be accepted as a PR? Its almost an year without activity on this issue.

[2017-03-29 05:13] gdoron commented on #1035
I'm curious why would you use EF instead of documentDb SDK (or Redis).
EF won't have support for many features, like subscriber, fire and forget, replication (Redis examples).

[2017-03-29 05:32] ErikEJ commented on #1035
@galvesribeiro a beta mongodb provider that also works with documentdb is available

[2017-03-29 08:23] imad24 commented on #7540
@ojorma I didnt want to delete the older preview version because I have other projects pointing to them that I haven't migrated yet. But I thought since the "dotnet --version" is displaying "1.0.0" then the right SDK is used. Anyway:
1- I deleted the two folders: not working, same error.
2- I have no dotnet folder in the x86 programs(not yet)
3- In the environment variables i only have one line fo

[2017-03-29 09:02] imad24 commented on #7540
Hello again @ojorma,
As you mentionned I tried to recreate the same conditions as yours, I installed the x86 version, made the changes to the environment variables and it didnt work. (naturally I didnt have the x86 line before)

![env_var](https://cloud.githubusercontent.com/assets/1884358/24446659/988ece3a-146e-11e7-813b-ef20b9de9860.PNG)

After installing the x86 version I realized the 1.0.1 skd

[2017-03-29 09:46] ojorma commented on #7540
while the project is open in visual studio type dotnet  alone and dotnet --version. Let see what gets invoked
![image](https://cloud.githubusercontent.com/assets/17591360/24448624/a3b76242-146c-11e7-9108-1656460824ca.png)
Lastly if its a demo project you can send to my email. Dont know if its allowed here. ojunix@hotmail.com.
Let me check if it runs. if not I will assume its some wrong reference f

[2017-03-29 09:49] etrupja commented on #7813
My issue was resolved by adding these to project.json
"tools": {
    "Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.1.0-preview4-final",
    "Microsoft.EntityFrameworkCore.Tools.DotNet": "1.1.0-preview4-final"
  }

then execute these 2 commands:
1. dotnet restore -> to restore packages
2. dotnet ef migrations add MyMigration

All the credit goes to: http://know-it.ru/2017/03/15/dotnet-exe-

[2017-03-29 10:17] imad24 commented on #7540
@ojorma I'm sending you the project by email.

[2017-03-29 12:49] sjb-sjb commented on #797
Thanks for the good advice. I think scalar properties and add / remove are enough. I plan to only change relationships by setting the reference Id, so that's a scalar property. Let's say I add a new child entity and set the parent id. I don't need to also explicitly create the relationship in the traversal collection, do I?

Since the changes are being made on the ui thread and will be immediately

[2017-03-29 13:05] borisdj opened #8023 "Support for SQL Server sparse columns"
I know I can do this with raw SQL in Up method, but can this be done with fluent API.
If it can How, and if not, are there plans to add this feature in future versions?

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-03-29 13:26] benday commented on #6313
Hi @pdesterlich --

It works almost exactly the same but the paths are slightly different.  I've just updated my blog post (https://www.benday.com/2017/03/17/deploy-entity-framework-core-migrations-from-a-dll/) to include a bash shell script for doing the deployment plus a sample of how to call it.

Here's a direct link to the bash script: https://www.benday.com/wp-content/uploads/2017/03/deploy-e

[2017-03-29 14:49] pdesterlich commented on #6313
thank you @benday for the reply, but it seems to me i'm missing something.
what if i don't have a .nuget directory in my $HOME folder?

maybe a bit of information about my test setup can help you to help me

i have an asp.net core project, developed both on windows and linux; now i'm trying to deploy on a linux server; for my test i'm using a local virtual machine with ubuntu server 16.04 (i'm fol

[2017-03-29 14:51] pantonis opened #8024 "No parameterless constructor was found on 'ClientsContext'. Either add a parameterless constructor to 'ClientsContext' or add an implementation of 'IDbContextFactory<ClientsContext>' in the same assembly as 'ClientsContext'."
Describe what is not working as expected.
I am using a window service with Autofac DI and when I run ```Add-Migration TestDD1InitialMigration``` I get error
[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-03-29 15:00] benday commented on #6313
Hmm.  If you can build your dotnet core project on that Ubuntu machine ("dotnet build"), then you definitely have a .nuget folder somewhere.  I know that sometimes I get confused when I need to find something in a hidden folder in Linux -- any chance you aren't seeing your $HOME/.nuget directory because that folder is a hidden folder?

What happens if you run the following lines?:
cd $HOME
ls -la

[2017-03-29 15:09] pdesterlich commented on #6313
Well my ubuntu dev machine is a different machine from my ubuntu server.

I already tried "ls -la" on home dir in ubuntu server but as said there isn't a .nuget dir.

Keep in mind that everything i'm doing is on an ubuntu server wich is only a deploy server, no development is done on that server

[2017-03-29 15:18] benday commented on #6313
oh...that's *tricky*.  :)

I think you're going to have to find a way to include ef.dll in your build output.  It should be pretty easy -- just copy the file from $HOME/.nuget on your dev box and include it in your output files.

[2017-03-29 15:32] ararion opened #8025 "DISTINCT Exception when sql xml column"
[code]
[code]

### Further technical details
EF Core version: 1.2.0-preview1-24168
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: windows 10
IDE: Visual Studio 2017

[2017-03-29 15:56] spottedmahn opened #8026 "Object reference not set to an instance of an object. at Microsoft.EntityFrameworkCore.Query.Internal.AsyncQueryingEnumerable.AsyncEnumerator.<BufferAllAsync>d__12.MoveNext()"
I'm awaiting a handful of EF Core Queries and I'm seeing this exception

[code]

![image](https://cloud.githubusercontent.com/assets/14079228/24463769/b7b8f798-1475-11e7-8522-5dc069919615.png)

### Steps to reproduce
Turn off MARS and await mutliple queries I **think** will reproduce it.

MultipleActiveResultSets=false;

[code]

### Further technical details
EF Core version: (found in project.json

[2017-03-29 16:52] johnkwaters commented on #1368
I am trying to work with the approach of creating a join entity, and it kind of works... except for this case:

Say you have a many to many from User to Role, so a user can have many roles, a role can be held by many users. I would have User ( Id, Name ), Role (Id, Name) and UserRole (UserId, RoleId).

Inserting a new User is fine, I add a couple of UserRole children, and save.

Now, if I fetch th

[2017-03-29 16:56] ajcvickers commented on #8026
@spottedmahn In general, multiple concurrent use of the same context instance is not supported. (For some pure async query cases the two async queries will be serialized, but this was done more for internal use than as something applications can rely on.)

What is interesting here is that the exception you are getting is not what I would expect to see. Do you see the same exception if you await th

[2017-03-29 17:06] ajcvickers commented on #8024
@pantonis Can you post the code of your DbContext class?

[2017-03-29 17:07] galvesribeiro commented on #1035
@gdoron just for the same reason you would use ADO.Net instead of use RAW SQL against the underlying database engine driver. Abstraction. Just to name one reason.

@ErikEJ MongoDB support on document DB does not support 100% of the DocDB APIs. It is a migration path, not suppose to be used forever if you can change to use the native SDK.

[2017-03-29 17:07] Daniel15 commented on #1368
The way I handle this is by only adding relationships that don't already exist. Given a set of old roles (currently in the database) and new roles (the roles that have been selected), you need to **remove** roles that are in old roles but not in new roles, and **add** roles that are in new roles that are not in old roles. Something like this:
[code]

If you have several many-to-many relationships,

[2017-03-29 17:17] zsvanderlaan commented on #7990
I believe the error was caused within my implementation of CustomCandidateNamingService and not dotnetcore.

I look forward to seeing symbol support in the future, this process would have been much simpler.

For the time being i found a workaround by using the -v flag on my scaffold command and used console.Write for output based debugging.

Thanks for the response

[2017-03-29 17:21] pantonis commented on #8024
[code]

[2017-03-29 17:39] spottedmahn commented on #8026
@ajcvickers interesting, thanks.

No I don't.  If I await them one by one all is good.  That's how I originally had the code but I'm trying to speed it up now...

Also, if I set MultipleActiveResultSets=true the exception goes away.

[2017-03-29 17:44] gdoron commented on #1035
Well I guess EF won't support 100% of the API neither so I'm not sure why you are waiting for an EF provider.
It's like using `IDistributedCache` instead of Redis SDK, technically you can use it, but you're limiting the number of features you can use drastically.

[2017-03-29 18:04] maumar commented on #7952
This happens because https://github.com/aspnet/EntityFramework/issues/4007, basically, when your result is a collection of collections, we will produce inefficient queries (1 query for the top level result and 1 query for each element in that result).

You can make it better by making the projection on the client:

[code]

[2017-03-29 18:13] johnkwaters commented on #1368
Thanks Daniel, that approach worked. I have one more wrinkle... the NEW version of the object comes in as a DTO which is mapped through AutoMapper to the OLD version from the DB. So your code goes in the mapping like so:

   public class MappingProfile : Profile
	{
        /// <summary>
        /// Constructor
        /// </summary>
		public MappingProfile()
        {
            CreateMap<Product

[2017-03-29 19:32] capiono commented on #7478
How do you install  ef.exe?

[2017-03-29 20:39] ajcvickers commented on #7288
@HaoK Yes, in particular when using overlapping models. See https://github.com/aspnet/EntityFramework/issues/2725

[2017-03-29 20:52] HaoK commented on #7288
Okay, so can I close this as dupe #2725 since this error doesn't occur if only a single DbContext is involved

[2017-03-29 20:53] maumar commented on #7714
@mb2140 we are planning to provide a feed with the patch fixes, however we don't know when that will be available. For the time being you have to clone the patch repo (https://github.com/aspnet/EntityFramework/tree/rel/1.1.2) and build it manually

[2017-03-29 20:57] ajcvickers commented on #7288
Yes, because TestModel references ApplicationUser, thereby creating two overlapping models.

[2017-03-29 21:16] maumar commented on #7616
Also verified that it works fine in the dev bits, we create the following queries:

First repro:
[code]

Second repro:

[code]

[2017-03-29 21:16] #7616 closed

[2017-03-29 21:43] michaelantoun opened #8027 "The generated SQL query is not optimal"
The generated SQL query does not have the "Count" in the SELECT clause when I call it from IAsyncEnumerable. It selects all the records from Microsoft SQL DB, then returns the count. This is not efficient.

There is no exceptions.

### Steps to reproduce
1. Create in Visual Studio 2017 a Class Library (.NET Standard) then upgrade it to v1.6
2. Install the following packages:
 - Microsoft.EntityFra

[2017-03-29 21:44] imad24 commented on #7540
Hello everyone,
Just to point out that i fixed my problem. Actually it had to do with the data model on which I was applying the migration.
Many "design errors" were on it (a foreign key property that references a key that doesn't exist on the target type for example.)
I don't understand why it displayed that exception message though.

Thanks for your help @ojorma

[2017-03-29 21:52] #6703 closed

[2017-03-29 22:03] smitpatel commented on #7520
Eliminate `IsProjectStar` by introducing an expression in SelectExpression.Projection representing star projection.

[2017-03-29 22:05] smitpatel commented on #6703
@anpete @maumar - For all cases except subquery, alias-ing of ordering should be working. As explained above, to alias select expression in order by we need that subqueryExpression referencing same QM generating same SelectExpression. Do we want to keep this issue open now? Or merge into the larger issue?

[2017-03-29 22:12] anpete opened #8029 "Add "Release" mode for SQL gen"
We currently prefer verbose SQL generation to make queries more understandable. We could add a "release" mode, which would eschew readability in favor of brevity.

[2017-03-29 22:13] smitpatel commented on #8027
This answer explains the reason for the difference pretty well. http://stackoverflow.com/a/2876655/4484219

[2017-03-29 23:06] maumar commented on #7137
This works in the current bits and produces the following sql:

[code]

[2017-03-29 23:06] #7137 closed

[2017-03-29 23:15] Wayne-Mather commented on #7641
@Ibrahim-Islam

This is my startup relevant functions and this works successfully. To get more information you may have to provide details of your startup function.

Another thing you can do if you have the bandwidth is download visual studio 2017 and create a new application and see how the code differs from your current application.

[code]

[2017-03-30 00:17] smitpatel commented on #8023
Documentation link: https://docs.microsoft.com/en-us/sql/relational-databases/tables/use-sparse-columns

@borisdj - There is no fluent api at present.

[2017-03-30 01:12] smitpatel commented on #2981
Look at `SqlServerStringSubstringTranslator`. That will give you general pattern how those translators work. They are in `Internal` namespace but that is ok. `Internal` namespace allows us to make changes without breaking users since they shouldn't be directly interacting with those APIs.

[2017-03-30 02:00] smitpatel commented on #4149
@mziyabo - Please file a new issue with details of your project, context classes/startup etc.

[2017-03-30 02:08] smitpatel commented on #8013
Your fake entity `MyFunctionResult` is not part of the model. At present EF does not allow to use FromSql returning non-entity objects. Tracking issue https://github.com/aspnet/EntityFramework/issues/1862

If you add `MyFunctionResult` in your model then the query would work.

Also, you are using really old pre-release version. We changed our name from EF 7 to EF Core long time ago and we have rel

[2017-03-30 03:04] akamud commented on #2981
I understand that, but isn't there a way to extend the functionality without using Internal namespaces? That isn't really "extensible" from my point of view.

I don't wanna produce code that *may* break with every EF update if I'm just "extending" the framework.

[2017-03-30 04:34] smalik03 commented on #7848
Hello @divega I tried using the TVP example you have given in the gist, but I keep getting the following error-

``No mapping to a relational type can be found for the CLR type 'TableValuedParameterBuilder'.``

[2017-03-30 05:16] smitpatel commented on #2981
This issue talks about implementing functionality in EF core itself, which is not exactly "extending" framework. Rather extending (or improving to be more precise) Linq-to-SQL translation.
At present we don't have extension point for user to plug in custom method call translator. The current extension point are for provider writers to provide their custom translators.

Is there a specific reason y

[2017-03-30 07:24] enghussein commented on #8013
thx smitpatel for your replay ,
but what if i wont add it in the db? i mean i added it to the model ,but when i  want to skip this enity in migration "modelBuilder.Ignore<MyFunctionResult>(); " it will not work!
if i remove this skip "modelBuilder.Ignore<MyFunctionResult>();" it will work

about old version , its our next plan  to upgrade my project to RTM  version ,  but its not that easy to do i

[2017-03-30 07:28] smitpatel commented on #8013
You can remove `CreateTable` call from scaffolded migration for that particular entity. That is the only way to get around creating migration at the moment. After #1862 is implemented, you will not need to add it as an entity type in the model.

[2017-03-30 07:48] gitsparty opened #8031 "Can't build sources"
build initialize doesn't work as

### Steps to reproduce
RUN "build initialize". it will fail as I don't have access to nuget store msblox.pkgs.visualstudio.com. Is this expected?

Retrying 'FindPackagesByIdAsync' for source 'https://msblox.pkgs.visualstudio.com/DefaultCollection/_packaging/de9af483-3d68-4e7c-88a3-a79624abdade/nuget/v3/flat2/internal.aspnetcore.buildtools.tasks/index.json'.
  Resp

[2017-03-30 08:28] Ibrahim-Islam commented on #7641
@Wayne-Mather I have my code generated with VS 2017 and my StartUp is mostly that, as follows:

[code]

[2017-03-30 09:18] archanasoni opened #8032 "Navigation Issue: subquery is using outquery alias, which is out of scope"
Hi,
We are running below Navigation test scenario via IBM EF Core provider against DB2 LUW server:

[code]

Generated Query:

[code]
Exception:
------------

      An exception occurred in the database while iterating the results of a que
ry.
      IBM.Data.DB2.Core.DB2Exception: ERROR [42704] [IBM][DB2/NT64] SQL0204N  "Q
.PRODUCTID" is an undefined name.[IBM][DB2/NT64] SQL0204N  "Q.PRODUCTID" is

[2017-03-30 09:19] darkurse opened #8033 "[SQLite] Filtering by string fields is case sensitive"
I still cannot apply a case insensitive filter to my SQLite queries. Looking at the source, `instr()` is still used as the expression translator for `.Contains()`. Why not use the SQLite `like()` function to do the job (if mapping the LIKE operator is an issue) ?

Note that the same exact use of `.Contains()` filter with **sqlserver** provider results in the use of a case insensitive filter.

This

[2017-03-30 09:34] JonPSmith opened #8034 "FindProperty(<Name>).Relational().ColumnType is null if column type is not specifically set"
Describe what is not working as expected.

I am trying to obtain the database column type by using `entityType.FindProperty(<PropertyName>).Relational()` and I get null for `ColumnType` for string properties. If I use the same command on another, ~~non-string property it works.~~ property where I have set the type then it contains that type.

### Steps to reproduce
Include a complete code listing

[2017-03-30 10:47] mziyabo opened #8035 "No DbContext was found in assembly 'ef' exception when assembly is named 'EF' in project.csproj file"
Getting a `No DbContext was found in assembly 'ef'` exception when I run `dotnet ef add InitialMigration -p EF.csproj -c MFIDataContext`. This happened after I ran **dotnet migrate**. Prior to this It would have added the migration. Same error occurs when listing dbcontexts or migrations.

[code]

Using project 'EF.csproj'.
Using startup project '/home/mziyabo/Documents/Projects/MFI/EF/EF.csproj'.

[2017-03-30 10:55] mziyabo commented on #8035
The runtime seems to search /.nuget/packages/microsoft.entityframeworkcore.tools.dotnet/1.0.0/tools/netcoreapp1.0/ef.dll for dbcontexts instead of my output dll /home/mziyabo/Documents/Projects/MFI/EF/bin/Debug/netcoreapp1.1/EF.dll

I am not sure about that but it could explain why it outputs the exception as: `No DbContext was found in assembly 'ef'`

Renaming my assembly in the project file to s

[2017-03-30 12:31] akamud commented on #2981
I was under the impression that EF supported extensibility from Rowan's comment.

The ability to crate my own translators for common queries looks like a great feature. Similar to what [nein-linq](https://github.com/axelheer/nein-linq) does.

[2017-03-30 14:21] Remleo opened #8036 "PK auto-generation breaks after DbUpdateException"
Code to reproduce the bug:

[code]

![2017-03-30_17-15-26](https://cloud.githubusercontent.com/assets/10843339/24508567/7ac489ea-156c-11e7-8953-9e9a61d8c3a0.png)

After re-saving we have ID = -2147482647 in DB for ProductCard with name "Some product".

EF Core version: 1.1.1
Microsoft.EntityFrameworkCore: 1.1.1
Npgsql.EntityFrameworkCore.PostgreSQL: 1.1.0
Operating system: Windows 10

[2017-03-30 14:33] wgutierrezr commented on #2272
I have my old application with more than 100 tables and the columns on each table are well organized. After Scaffolding my MS SQL DB into EntityFrameworkCore all the columns order in the cs files classes generated for each table match with the DB. But after run the command to create a new migration, the columns in each table was alphabetically reordered. Edit the migration cs file to fix this issu

[2017-03-30 14:44] Cae2 commented on #7540
Hello, Im having this problem too...

ps: the exact command was working last week, not sure if its related with VS2017 update yesterday.

![ef-error](https://cloud.githubusercontent.com/assets/24416663/24509907/074a953c-153e-11e7-8617-a2800fb5fc95.jpg)

[2017-03-30 14:56] imad24 commented on #7540
@Cae2 For me it was related to the model classes, there were some errors so the migration was raising this "generic error".
Try to scaffold a simpler model (with just one table for example) and see if it displays the same message.

[2017-03-30 15:08] Cae2 commented on #7540
@imad24 created a very simple table to test, but the same error occurs:

![1](https://cloud.githubusercontent.com/assets/24416663/24511081/6102c4ac-1541-11e7-8ca8-3c67652f495c.jpg)

also tried the @bricelam command:

![2](https://cloud.githubusercontent.com/assets/24416663/24511109/73acf262-1541-11e7-8bd4-127f401f853f.jpg)

[2017-03-30 15:14] ahmedChe opened #8037 "Weird Error when defining new migration"
Every time i execute add-migration command on package manage console to update my database schema, i get this error:
System.TypeLoadException: Method 'Apply' in type 'Microsoft.EntityFrameworkCore.Metadata.Conventions.Internal.RelationalColumnAttributeConvention' from assembly 'Microsoft.EntityFrameworkCore.Relational, Version=1.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not hav

[2017-03-30 15:18] imad24 commented on #7540
Well, it may be something else.
One last thing, when creating a migration from a class with "add-migration" you have to specify a primary key for each entity, I see that you didn't on the table you're willing to scaffold. can you give it a last try with primary key set ?

[2017-03-30 15:26] Cae2 commented on #7540
@imad24

To be honest, it seems that doesnt even reach the point to scaffold something...
![3](https://cloud.githubusercontent.com/assets/24416663/24511934/81403f9a-1543-11e7-93c6-bfdfbdc5623d.jpg)

[2017-03-30 15:53] ojorma commented on #7540
@imad24  glad u fixed it. I even went to the extent of living just one table in the dbcontext and still got the error  but I never checked the table it self. That error message is highly misleading. I guess Entityframework core is still evolving.

[2017-03-30 17:04] spottedmahn opened #8038 "How to Implement Conditionally Required Field Validation"
I have field _A_ that is **required when** _B_ has a value of 'X'.  How can I implement this EF Core using ASP.Net Core?

I did find [this article](https://gist.github.com/rowanmiller/52cd1ffb8ba11889af366ed3114c8a75) which seems to be what I want but I'm not exactly sure how to use it in ASP.Net Core.

[2017-03-30 17:26] ErikEJ opened #8039 "Advice on creating alias expression"
@smitpatel - now that AliasExpression has changed, do you have any tips for how to use it here:

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Query/Sql/Internal/SqlCeQuerySqlGenerator.cs#L112

TIA!

[2017-03-30 17:40] pmiddleton commented on #8038
@spottedmahn   The example you are looking at is for validating the database model which is not what you are trying to do.  What you want is to do is to validate the data that will be stored in the model.

Take a look at the docs for asp.net core validation here - https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/validation

What you want to do is a more advanced validation logi

[2017-03-30 18:39] bricelam commented on #7926
Yes, it could be a bug (or limitation) of NuGet or Visual Studio, or something else. We need to figure out where the deadlock is happening.

[2017-03-30 18:41] aday12345 commented on #7926
Ok, thanks

If there is anything I can do please let me know

From: Brice Lambson [mailto:notifications@github.com]
Sent: Thursday, March 30, 2017 2:40 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: Day, Andrew <aday@ivey.ca>; Author <author@noreply.github.com>
Subject: Re: [aspnet/EntityFramework] Using Scaffold-DbContext with NuGet and Powershell in vs2017 (#7926)

Yes, i

[2017-03-30 18:51] smitpatel commented on #8039
It would be very straight forward in that case.
With #6994, we no longer have requirement that operand of `InExpression` has to be `AliasExpression`. You can just use left or right without checking it being alias & wrapping in it.

[2017-03-30 18:58] tinchou commented on #629
Hello everyone! The feature is working pretty well now and you can give it a try :).

1. Clone https://github.com/tinchou/entityframework
1. Drop the contents of this zip on EF's root folder: [SeedDataDemo.zip](https://github.com/aspnet/EntityFramework/files/883489/SeedDataDemo.zip)
1. `cd SeedDataDemo`
1. `dotnet ef database update`
1. `dotnet run`

**Note:** Some steps will take a while since th

[2017-03-30 19:03] bricelam commented on #7945
Dupe of #5535 (fixed in 1.0.0-preview4)

[2017-03-30 19:10] bricelam commented on #7957
It's possible by overriding the provider-specific `IMigrationsAnnotationProvider` service. Here's [a StackOverflow answer](http://stackoverflow.com/a/42491316/475031) about it.

[2017-03-30 19:15] ErikEJ commented on #8039
Thanks!

[2017-03-30 19:21] spottedmahn commented on #8038
@pmiddleton I was hoping I could get validation at the ASP.Net level and EF level like I get with using data annotations like [Required].

I implemented IValidatableObject and it is working in my controller via checking the ModelState

[code]

[2017-03-30 19:26] Cae2 commented on #7540
lol, this is really strange... I just keep flooding the PMC and it works eventually...

![4](https://cloud.githubusercontent.com/assets/24416663/24522278/6eafa790-1565-11e7-844b-067c334c214f.jpg)

[2017-03-30 19:33] ajcvickers commented on #8038
@spottedmahn EF doesn't really do any "validation" even with annotations like Required. Required influences the model, and this results in some constraints with what you can do once a property is required. It also influences how we generate the database with Migrations--making the column non-nullable--such that the database will then do some validation. But there is no explicit validation done by

[2017-03-30 19:52] gsGabriel commented on #827
@danobri you can map the views...
You can do this manually, you will need to create a class that reflects your view and map it in your context. It Works very well for me.

[2017-03-30 20:18] ajcvickers commented on #8034
@JonPSmith This looks like a dupe of #7351, for which we are also planning to add some sugar API in #7461.

However, I am surprised that "If I use the same command on another, non-string property it works." I have not been able to reproduce this. The only time ColumnType should be non-null is when the store type has been explicitly set in the model.

[2017-03-30 20:24] joehoeller commented on #7020
This was the fix to my issue, add this to Startup.cs inside the **_public void ConfigureServices(IServiceCollection services)_** method:

[code]

**Related Articles on the above:**
1. https://benohead.com/c-circular-reference-detected-serializing-object/
2. http://stackoverflow.com/questions/39024354/asp-net-core-api-only-returning-first-result-of-list/39024972

***Note:** If you want to also be a

[2017-03-30 20:27] ajcvickers commented on #8036
@Remleo In the code above, the first entity gets a temporary key value assigned. The key value is then assigned to a new entity, but EF does not know that it is a temporary key value and hence uses it as the real key value.

Can you explain what it is that you are actually trying to achieve when this fails? Why assign the new entity the temporary key value generated for the previous entity?

[2017-03-30 20:37] ajcvickers commented on #2272
@wgutierrezr Thanks for the feedback. I don't have anything to add above that which Rowan posted previously.

Curious: is your intention to re-create the database and all columns from scratch using Migrations?

[2017-03-30 20:45] ajcvickers commented on #7837
Closing this for now because it looks like we are currently in a pretty good place with AppVeyor/Travis.

[2017-03-30 20:45] #7837 closed

[2017-03-30 20:48] joehoeller commented on #7031
.Include( ) not returning relationships (from principal table to dependent table), or only returning one row of data:

http://stackoverflow.com/questions/43127957/fix-include-not-working-in-net-core-include-on-relationship-only-retur

[2017-03-30 20:49] joehoeller commented on #7031
@ccampbellclearesult to make a dB connection place this in **Startup.cs** file:

[code]

[2017-03-30 20:50] joehoeller commented on #7031
Also, in **Startup.cs** make sure you have this at the top:

[code]

[2017-03-30 20:52] ethanli83 commented on #2341
Hi guys, I am working on a project which translates almost all EF lambda expressions into SQL to avoid in-memory execution. Maybe you guys can have a look and see if it is helpful.

Here is the link to the project:
https://github.com/ethanli83/EFSqlTranslator

You can also try it out here:
http://linqrunner.daydreamer.io/

[2017-03-30 20:53] bricelam commented on #7540
What type of project are you using? This may be an issue with the new project system...

[2017-03-30 21:20] joehoeller commented on #3797
`.Include(x => x.TableName )` not returning relationships (from principal table to dependent table), or only returning one row of data, FIX HERE:

https://stackoverflow.com/questions/43127957/include-not-working-in-net-core-returns-one-parent

Also, in Startup.cs make sure you have this at the top:

    using Microsoft.EntityFrameworkCore;
    using Newtonsoft.Json;
    using Project_Name_Here.Mod

[2017-03-30 21:21] joehoeller commented on #1368
`.Include(x => x.TableName )` not returning relationships (from principal table to dependent table), or only returning one row of data, FIX HERE:

https://stackoverflow.com/questions/43127957/include-not-working-in-net-core-returns-one-parent

Also, in Startup.cs make sure you have this at the top:

    using Microsoft.EntityFrameworkCore;
    using Newtonsoft.Json;
    using Project_Name_Here.Mod

[2017-03-30 21:32] joehoeller commented on #7041
If using .NET Core and Entity Framework Core, and `.Include(x => x.TableName )` is not returning relationships (from principal table to dependent table), or only returning one row of data, FIX HERE:

https://stackoverflow.com/questions/43127957/include-not-working-in-net-core-returns-one-parent

Also, in Startup.cs make sure you have this at the top:

    using Microsoft.EntityFrameworkCore;
    u

[2017-03-30 21:41] joehoeller commented on #3312
If using .NET Core and Entity Framework Core, and `.Include(x => x.TableName )` is not returning relationships (from principal table to dependent table), or only returning one row of data, FIX HERE:

[Stackoverflow Answer]((https://stackoverflow.com/questions/43127957/include-not-working-in-net-core-returns-one-parent)

Also, in Startup.cs make sure you have this at the top:

using Microsoft.Entit

[2017-03-30 21:49] divega commented on #7041
@joehoeller You comment and the StackOverflow link you posted doesn't seem to be relevant to the problem discussed in this issue, and the same seems to be the case for the several few times you posted the same comments. Please help us keep the discussion in each issue focused on a single problem.

[2017-03-31 02:26] DeyiXu commented on #7977
@sonphnt thanks

[2017-03-31 03:03] divega commented on #7431
Once we improve the usability of the API we should update the connection resiliency doc topic to use it.

[2017-03-31 03:19] ktrkumarbablu commented on #2272
Columns order should be there,so developers can select any options...

On 31 Mar 2017 2:07 a.m., "Arthur Vickers" <notifications@github.com> wrote:

@wgutierrezr <https://github.com/wgutierrezr> Thanks for the feedback. I
don't have anything to add above that which Rowan posted previously.

Curious: is your intention to re-create the database and all columns from
scratch using Migrations?

—
You a

[2017-03-31 04:26] grokky1 commented on #7957
I've posted an SO question related to this. To be honest, I don't understand your advice, or how it helps to solve the issue, because I'm not familiar with EF's internals at all, I only know how to consume it. 😆 I hope someone will be kind enough to look at that question. Thanks for your time and advice.

(PS I still think @roji answer was good in general, but don't agree. Too many configurations

[2017-03-31 04:32] judypol opened #8041 "the connection is not close"
Describe what is not working as expected.

in Dispose() function,I check the connection state,but the state is always closed, and in the database, can see many sleeping connection. my code is Below:
        if (this.Database.GetDbConnection().State != ConnectionState.Closed)
                {
                    this.Database.GetDbConnection().Close();
                    Debug.WriteLine("Close()"

[2017-03-31 06:10] divega commented on #8041
@judypol keep in mind that SQL Server's ADO.NET provider matains a pool of connections that are ready to use. The provider abstracts the management of the pool, so when you close a `SqlConnection` object, the underlying connection isn't really closed but just returned to the pool to be reused.

To confirm that the open connections you are seeing on the server are the ones on the pool you may want

[2017-03-31 06:23] judypol commented on #8041
@divega,how can I set the max connections. In my Database the connections are more than 500.

[2017-03-31 06:45] Smilefounder commented on #7970
Thanks @ajcvickers for the answer, let me try again and keep you posted.

[2017-03-31 07:45] divega commented on #8041
@judypol look at the connection string documentation, in particular the max pool size and min pool size settings at https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring.aspx

[2017-03-31 08:20] JonPSmith commented on #8034
Hi @ajcvickers,

Thanks for that. I was obviously using the wrong approach to getting the store type, and I have changed to the procedure in #7351. One further question: how can I convert the type that `typeMapper.FindMapping(efProperty)` returns into the actual data type that the database provider will use?

**Feedback on the API:**
I support the discussion in #7461, and here are my comments.

`F

[2017-03-31 08:42] czioutas opened #8042 "Async Function around EF Delete throws Exception"
I am not sure if this is a problem with my implementation or I am missing something in the async logic, or even if it is an issue with the Pomelo MySQL Driver.

I follow the Repository/Service Pattern with DI.
ControllectionAction (DI Service) -> ServiceAction (DI Repository) -> RepositoryAction and back.

The problem is when I want to do a Delete using *async* it throws the following exception. R

[2017-03-31 09:17] themausam commented on #7540
I am getting the same error as well on new **Class Library (.NET Standard)** project while trying to do database first initialisation with connection string:
`Scaffold-DbContext "Data Source=Server1;Initial Catalog=MyDb;Persist Security Info=True;User ID=Developer;Password=Password" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -v -t MyTable1`
I am running Windows 10 with VS 2017. My .

[2017-03-31 10:35] adzhiljano opened #8043 "Inner Join not generated when using custom projections or wrong alias when omitting custom projections"
Recently, I saw that one of my queries actually sends two separate queries to the server, instead of sending one with an inner join in it. First, I thought that it was because of the projections, so I removed them, but got the following results:

### Steps to reproduce

[code]
the following query is sent to the server :

[code]
and then comes the exception:
[code]
Which is expected, given that the

[2017-03-31 10:58] popcatalin81 commented on #7089
This has bitten me hard today !!!

After a long debugging session I've found to my (and the whole team's) surprise that for some reason we cannot insert new rows with the column Enabled=false in DB, The reason being the default (bit) value was 1 (True) in Db, and while we were inserting rows with Enabled = False they were with Enable = True, in Db. Trust me this can drive someone crazy!!!

I highl

[2017-03-31 11:05] dvdobrovolskiy opened #8044 "Null object in Include statment"
I have 3 models
Person
Corporate
and connecting them CorporatePersons

So then I query like that
[code]

I have CorporatePersonsId, and 2 objects of model Person and Corporate

but then I added link from Person to CorporatePersons adding this to model
[code]

I now have Person = null

here is Json result of query after I add link. Person object is null -  "Person":null

[code]

Is here any rule on

[2017-03-31 11:37] wgutierrezr commented on #2272
"Curious: is your intention to re-create the database and all columns from scratch using Migrations?"

Hi
That's my intention. @ajcvickers  Thank you for your answer.

[2017-03-31 11:41] gdoron commented on #7089
@popcatalin81 it's optional, and it's not just optional, you need to opt-in for this behaviour!
You specifically asked this behaviour from EF by using the DefaultValue feature.

Just remove your opt-ining code, and you'll get what you want.

[2017-03-31 12:01] Remleo commented on #8036
The problem was discovered by accident. There was other reason for error in my case. Any DB-specific error breaks pk value autogeneration for others entity (even for other entity type).

That example shows how the error with saving entity type of `ProductGroup` breaks pk value autogen.

In other words:

[code]

After re-saving the autogeneration not working for "Normal Entity". If no error was thr

[2017-03-31 12:09] popcatalin81 commented on #7089
@gdoron it is "obscurely" optional by not including HasDefaultValueSql(), which is different from purely optional, totally unrelated and not intuitive. Also scaffolding generates by default this code: "entity.Property(e => e.Enabled).HasDefaultValueSql("1");" which makes this feature Opt-Out, not Opt-In!

[2017-03-31 12:19] popcatalin81 commented on #7089
@gdoron  Or if you're suggesing I've opted-in to not being able to insert rows with Enabled=false in DB. I never did that, was not warned about, and it was never clear EF will do that! This is contrary to what a regular developer using a fairly straightforward API would expect. This is as unintuitive as it gets, if you don't actually know about nitty grittly internal details of the API.

[2017-03-31 12:46] kierenj opened #8045 "Team-environment migrations - EF Core equivalent?"
We're discussing our strategy for migrations moving forward here.  Long-time fans of automatic migrations during initial build, then explicit migrations from first release.

Have now seen that automatic migrations were removed, and have read the various issues/debates, and http://www.bricelam.net/2014/12/16/ef7-migrations-designtime.html .

As per @divega's comment here https://github.com/aspnet/E

[2017-03-31 12:50] Allann commented on #7089
@gdoron  with that logic, how do you set the column value to false?  When you add a migration to add a new boolean column in an existing table, you must use default values, so that any existing rows are updated during the migration.

[2017-03-31 13:06] dvdobrovolskiy opened #8046 "remove-migration error"
After I add new migration with "add-migration name" I got error on update-database. Now then I want to remove that migration and rebuild models in other way I got error on "remove-migration".

I stuck on migrations. I cannot apply migration to database or remove it. Is any approach to resolve this?

[2017-03-31 13:07] dvdobrovolskiy commented on #8046
sorted

[2017-03-31 13:27] spottedmahn opened #8047 "System.InvalidOperationException: 'The connection was not closed. The connection's current state is connecting.'"
As I understand now, DBContext is not thread safe and I should await my async call one by one not using something like Task.WhenAll();.

When I reviewed: #3291 it seemed like there was a change put in place to have a better error message, is that correct?  I'm unclear on what the final outcome of #3291 was.  Should I still be expecting to see this error or should I be seeing a different error?

In

[2017-03-31 13:30] TomWilloughby commented on #8015
Please correct me if I've missed something, but I don't think this issue is related to #7872 . That deals with when the database is set up to apply a default value outside of Entity Framework, and this is about the difference in behaviour of `HasDefaultValue( null )` for ints compared to other data types (and the confusing message it generates).

[2017-03-31 14:05] gdoron commented on #7089
@popcatalin81 and @Allann I hear what you say, but I yet heard a better way.
EF unlike T/SQL is limited by the CLR rules and if you have a not nullable bool, EF has no way to know if it's false because you didn't set it (and then your "default value"should be used instead) or because you explicit set it to false.

That is because EF core (currently) doesn't use proxies and I'm not sure if it is on

[2017-03-31 14:14] popcatalin81 commented on #7089
@gdoron maybe this should not be based on actual value for all properties (with some exceptions like the Primary Key properties) but use an explicit API, something like ctx.ChangeTracker.Entry(entity).Property("Enabled").UseDefaultValueOnInsert() ... or similar.

[2017-03-31 14:25] gdoron commented on #7089
Now that's intuitive and going to be fun to use...! 😄
Sometimes you need to chose the "lesser evil", yes it's bad, but better than the alternative.

[2017-03-31 14:35] popcatalin81 commented on #7089
So there's no problem if you do something like this:

[code]
Somewhere else:
[code]
Surpriseeee they are all enabled, but you look at the code, you inspect the ChangeTracker before save, you search for bugs in your code ... and finally when you inspect the genrated SQL, you think it's a bug, then you look it up on google and then you find out it's not a bug it's a feature. A surprising feature in

[2017-03-31 15:54] bricelam commented on #7945
@felipemmasan please re-open if you're still seeing this on the latest release of the tooling.

[2017-03-31 16:01] ajcvickers commented on #8015
@TomWilloughby I don't think @smitpatel is saying these are the same issue, but rather we have been discussing the behaviors of HasDefaultValue in that issue, with one decision being that calling HasDefaultValue() (i.e. with no argument) will set the default value to null, which is interestingly what you are trying to do but its not working. So the items are related, but not the same.

[2017-03-31 16:14] ajcvickers commented on #7089
@popcatalin81 Two things:
* #7163 adds a warning for this case.
* Once #7914 gets implemented, the default behavior for computed columns will be to always use the store-generated value if one is configured, rather than only using it if some non-CLR default value is set in the entity. Of course, this won't help you in this case because what you are really asking for is to not use the  store-generat

[2017-03-31 16:16] bricelam opened #8048 "CLI Tools: Hide build success output"
Just before RTM, MSBuild started outputting this:

![image](https://cloud.githubusercontent.com/assets/1226749/24559168/95deb6a2-15f2-11e7-97c7-9fe8167b2b56.png)

We should suppress it.

[2017-03-31 16:19] bricelam commented on #7456
After upgrading your project to the RTM version of the tooling, I'm unable to reproduce this issue.

[2017-03-31 16:24] bricelam commented on #7926
@aday12345 You're trying to do this using `install.ps1`, right?

[2017-03-31 16:25] ajcvickers commented on #7089
Correction: Actually #7914 doesn't apply in this case because this is a ValueGenerated.OnAdd (i.e. at insert time) column, and not a computed column.

[2017-03-31 16:30] popcatalin81 commented on #7089
@ajcvickers in this case I didn't do anything, I've just generated an model based on an existing DB and proceeded to insert some data. The HasDefaultValueSql("1") was not added by me but by Scaffold-DbContext cmdlet, based on existing column default.

I understand what I need to do, but it's still incovenient to clean up after Scaffold-DbContext on dozens of locations after each time the model is

[2017-03-31 16:41] aday12345 commented on #7926
yes

From: Brice Lambson [mailto:notifications@github.com]
Sent: Friday, March 31, 2017 12:24 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: Day, Andrew <aday@ivey.ca>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/EntityFramework] Using Scaffold-DbContext with NuGet and Powershell in vs2017 (#7926)

@aday12345<https://github.com/aday12345> You're trying to do t

[2017-03-31 17:07] ajcvickers commented on #8034
@JonPSmith There are a couple of things going on here:
* Relational() will only return values set generally for all relational providers, and will not set values set explicitly for only one provider. This is what you were referring to with the ForSqlServer... comments above. For this, reason, Relational() should not be used for consuming metadata. We did in fact remove those methods to stop people

[2017-03-31 17:48] ajcvickers commented on #8021
@smitpatel to look at this as a priority since it is blocking music store.

[2017-03-31 17:53] ajcvickers commented on #7870
@bricelam to add the workaround.

[2017-03-31 18:03] ajcvickers commented on #8005
May already be fixed. @maumar to investigate.

[2017-03-31 18:08] ajcvickers commented on #8013
Dupe of #1862

[2017-03-31 18:13] ojorma commented on #7540
@themausam  I dont think codefirst can run from a .netstandard library

[2017-03-31 18:17] laksh-parab opened #8049 "Adding entities using AddRange method does not refresh entity ID"
looks like when i add IEnumerable of entities using AddRange method, and then save, then it saves records in the database however it does not refresh entity ID

detail [here on so](http://stackoverflow.com/questions/43147035/addrange-method-does-not-refresh-entity-id-with-ienumerable)

[2017-03-31 18:55] zzis commented on #7084
Still not fixed in 1.1.1

[2017-03-31 21:03] anpete commented on #7899
Fixed in 37bdb0ab2

[2017-03-31 21:09] AndriySvyryd commented on #7084
@zzis Composite keys cannot be specified using [Key] because it doesn't allow to specify the order.
Are you having issues even if you configure the key using `.HasKey()` ?

[2017-03-31 22:19] bricelam commented on #8045
Correct. Developers just need to ensure the model snapshot is merged correctly when they pull. This avoids most of the issue we saw with team environments in EF6.

You can still hit conflicts that are harder to resolve (e.g. Dev1 renames "A" to "B", but Dev1 renamed it to "C") but while merging the model snapshot these more serious cases will become apparent. The easiest way to resolve these confl

[2017-03-31 22:23] bricelam commented on #8045
If you want to keep the "release" set of migrations minimal, you can use two migrations sets--one for development and one for releases. Do this by putting each set of migrations in its own assembly and configure it using `MigrationsAssembly`.

[code]

[2017-03-31 22:26] ajcvickers commented on #7105
@fitzchak We discussed this but unfortunately we don't think it meets the bar for a patch release, especially because it contains a binary-compat breaking change. Is there any way you can work around the issue you have without taking the change?

[2017-03-31 22:38] ajcvickers commented on #7931
@MarcoLoetscher A couple more questions as we try to track down what is happening:
* What version of EF Core are you using?
* Does it work if you use .NET 4.6 instead of 4.6.1?

[2017-03-31 22:43] ajcvickers commented on #7942
@dgee2 This seems like a duplicate of issue #6313. Reading through that should give you some idea of what we have already, but as that issue indicates, this is an area where we want to make the experience better.

Also, this scenario won't involve the PowerShell commands even when we make improvements to it, but rather a stand-alone "executable". You can of course invoke that executable from Power

[2017-03-31 22:45] ajcvickers commented on #8002
We discussed this in triage and decided that for now it is not worth investing time in detecting a better exception for this case. If it turns out that more people get into this state, then we will revisit how we handle this and express the error.

[2017-03-31 22:54] ajcvickers commented on #8007
@NickCraver We would love to see a PR for this. With regard to item 2, please add it to the existing constructor. This is the cleanest and we don't think that any code outside of ours will be calling this constructor anyway. If they are, then 2.0 is a breaking release anyway and the change to their code should be minimal.

[2017-03-31 22:55] ajcvickers commented on #8007
Assigning to @anpete to handle the PR when it arrives.

[2017-03-31 22:58] ajcvickers commented on #8015
@TomWilloughby We discussed this in triage and have a follow up question: what is it that you want to achieve by setting the default value to null? Given that this is the default anyway when a column doesn't have any default constraint, will it not always result in the same behavior?

[2017-03-31 23:00] ajcvickers commented on #8023
@borisdj It would be interesting to add fluent API extension methods for this for the SQL Server provider. However, it is not a high priority for us, so putting it on the backlog. We would consider at a high-quality PR from the community for this.

[2017-03-31 23:02] bricelam commented on #7870
Workaround
----------
It's ugly, but you can work around this by turning off the extended result codes before calling `Migrate`.

First, import this native function.
[code]

Then add a handler to use it when the connection is opened.

[code]

[2017-03-31 23:05] ajcvickers commented on #8024
@pantonis This usually means that tooling is unable to use your Startup class for some reason. The exception message in this case is confusing; we need to generate better feedback for this case.

@bricelam I was unable to find the duplicate for this, so assigning to you to de-dupe as necessary.

[2017-03-31 23:07] maumar commented on #7915
In current dev bits we generate the following query:

[code]

the ? : is still performed on the client, but we produce only one query

[2017-03-31 23:07] #7915 closed

[2017-03-31 23:07] ajcvickers commented on #8024
@pantonis Also, calling Database.Migrate in your context constructor is likely to cause issues both because it is attempting to use the context before it is fully constructed, and because it will interfere with tooling which is also trying to do Migrations things at the same time.

[2017-03-31 23:10] ajcvickers commented on #8025
@ararion This should be fixed by the Include query refactoring currently being worked on by @anpete. This is tracked by #7520.

[2017-03-31 23:12] ajcvickers commented on #8026
@spottedmahn Can you provide a complete code listing or project to reproduce this issue? It seems like something is going wrong here, but without knowing what calls are being made on the context and what the queries look like it is very hard to debug.

[2017-03-31 23:12] ajcvickers commented on #8047
@spottedmahn Can you provide a complete code listing or project to reproduce this issue? It seems like something is going wrong here, but without knowing what calls are being made on the context and what the queries look like it is very hard to debug.

[2017-03-31 23:14] ajcvickers commented on #8031
@gitsparty What branch are you trying to build? Also, "initialize" is no longer supported by build since we moved from project.json to msbuild. Do you also see these errors when just doing a straightforward "build"?

[2017-03-31 23:34] ajcvickers commented on #8033
@darkurse There are several things at play here and a few ways to get the behavior you want:
* Different database engines treat casing differently in comparisons. We have brainstormed many times whether we should try to force all engines to do the same thing, but doing so has perf costs and makes queries ugly, so as of now we are not intending to try to influence the native database behavior here.

[2017-03-31 23:35] ajcvickers commented on #8034
We will look at making the API a bit easier to understand, possibly by changing the names of some properties in 2.0 to more accurately reflect that they only contain explicitly set values and will otherwise be nulll.

[2017-03-31 23:37] ajcvickers commented on #8035
@mziyabo We discussed this but the only thing we could really do here would be to throw a different exception if you uses ef as your assembly name. The end result would still be that you need to use a different assembly name to make things work. As of right now we don't feel there is enough value in doing this, but if we see this repeatedly causing confusion then we may revisit.

[2017-03-31 23:43] ajcvickers commented on #8037
@ahmedChe It looks like you are probably using incompatible versions of some packages. Please make sure all your versions are in sync, If you still see this error after doing that, then please provide some more details about exactly which packages you are using and what your environment is.

[2017-03-31 23:45] ajcvickers commented on #8042
@drakoumel This looks like a problem with the Pomelo provider. Can you file and issue with them. If it turns out to be an issue in the core EF Core code. then feel free to re-open and provide a full project or code listing to reproduce the issue.

[2017-03-31 23:46] ajcvickers commented on #8044
@dvdobrovolskiy Is the property null in the .NET object graph before serialization to json, or is it only null in the serialized for?

[2017-03-31 23:57] smitpatel opened #8050 "Test: Multi-level hierarchy of tests requires Fact attributes to be specified again"
Those tests can be made part of middle layer from `QueryTestBase` to provider specific QueryTest.

It creates 3 level hierarchy which is blocked on https://github.com/xunit/xunit/issues/1068

[2017-03-31 23:58] maumar commented on #8005
This is indeed fixed in current bits. @dvdobrovolskiy you don't actually need to add Include statements in the queries from the repro. ```Persons.Include(i => i.Level)``` won't take effect because Person is not there in the final projection and ```CorporatePersons.Include(i => i.Person)``` is not needed (assuming that you added it because of navigation access - EF will automatically add joins wher

[2017-03-31 23:58] #8005 closed

[2017-04-01 00:12] ajcvickers commented on #8036
This is a dupe of #6720, which is fixed for 2.0. Until then, you can work around the issue by explicitly marking key values as temporary again before calling SaveChanges. Something like:
[code]

[2017-04-01 00:14] maumar commented on #8043
This is fixed in the current bits - we produce the following SQL:

[code]

[2017-04-01 00:14] #8043 closed

[2017-04-01 00:25] bricelam commented on #8024
Dupe of #7264

[2017-04-01 00:31] maumar commented on #7740
This is fixed in current bits. We produce the following query (group by operation is done on the client):

[code]

[2017-04-01 00:31] #7740 closed

[2017-04-01 00:31] ajcvickers commented on #8049
@laksh-parab The code shown in the linked post enumerates the IEnumerable twice, each time creating new Test object instances. This means the objects being saved are not the objects on which you are looking at the IDs.

In other words, these aren't the objects you're looking for.

[2017-04-01 01:01] maumar commented on #7830
@gnaungayan additional columns are projected due to https://github.com/aspnet/EntityFramework/issues/6647. This issue has been fixed so this shouldn't be happening in the next version. The second query produces different SQL because EF Core (unlike EF6) doesn't recognize the from from-from-where-defaultifempty pattern as LEFT JOIN and so it will perform naive translation. We have issue to track th

[2017-04-01 01:07] maumar commented on #7943
@mdmoura  can you also post your model? (entities and dbcontext)

[2017-04-01 01:23] maumar commented on #7830
Closing this - tracking improvement to the null propagation in separate issue: https://github.com/aspnet/EntityFramework/issues/7975

[2017-04-01 01:52] LinqBeast commented on #7130
@maumar @rowanmiller

Having same issue.  Any news here?

[2017-04-01 02:17] maumar opened #8053 "Query: QuerySourceTracingExpressionVisitor doesn't always prune EF.Property expressions"
Currently, when pruning EF.Property calls in the QuerySourceTracingExpressionVisitor we have additional check, which is not needed - we should always prune EF.Property calls (just like we always prune MemberExpressions)

[2017-04-01 02:25] maumar commented on #8053
Found when investigating https://github.com/aspnet/EntityFramework/issues/5612

[2017-04-01 05:19] MarcoLoetscher commented on #7931
- EF Core 1.1.1, but with version 1.1.0, I have the same problem.
- Even with .NET 4.6 it does not work.

[2017-04-01 06:24] pantonis commented on #8024
For anyone out there having the same problem I managed to resolve it using an IDbContextFactory

[code]

[2017-04-01 06:44] kierenj commented on #8045
Thank you @bricelam.  That does make sense.  Just so I can use the correct terminology, "model snapshot" = the code model?

With regard to your suggestion of separate assemblies - very interesting!  I'll have to think how that fits in with our release process/strategy.

One issue we've run into with some long-running, long-maintained EF projects is that there's maybe 48MB of migrations base64 reso

[2017-04-01 08:39] JonPSmith commented on #8034
I agree - that is the most sensible approach.

Here are my **use cases** for finding out information on the database. I have tried to put them in some sort of order, with what I think are thee more common usages earlier.

1. Find out a table name. I have used this in code to do a fast clear of a table use raw SQL via ADO.NET and I have seen other do that too. Also useful if building raw ADO.NET SQ

[2017-04-01 10:38] dvdobrovolskiy commented on #8044
Yes. It is null before I Json it and send to client

[2017-04-01 12:30] NickCraver commented on #8007
@ajcvickers roger - really busy at the moment but 2.0 has some time so I'll try and get to this in the next week or so. Thanks for taking a look!

[2017-04-01 15:59] bricelam commented on #8045
The model snapshot is a new artifact that gets (re-)generated every time you add a migration. It's typically found in the Migrations directory.

We no longer use resources in EF Core. These were a serialized form of the target model. We now use compiled calls to ModelBuilder to store them.

[2017-04-01 17:14] #7988 closed

[2017-04-01 19:44] ahmedChe commented on #8037
@ajcvickers it's a problem produced by visual studio because after the restoration of dotnet with cache's cleaning, everything goes well..Thank you any way =)

[2017-04-02 01:32] harisbotic commented on #8021
Is there a workout for this, I can't use my app atm

[2017-04-02 02:59] uoc1691 commented on #7889
Using the workaround for now. Thanks!

[2017-04-02 06:47] ErikEJ commented on #8021
@harisbotic Avoid using the latest runtime?

[2017-04-02 07:30] fitzchak commented on #7105
@ajcvickers We cannot work around this.
What is the binary compat breaking change? Isn't it just adding more logs?

[2017-04-02 10:36] harisbotic commented on #8021
won't help, I have latest version and one before that and neither works.
so its not only in the latest runtime, and I can't find a place to download older ones.

The only link I know is this one
https://github.com/dotnet/core-setup#daily-builds

[2017-04-02 10:47] ErikEJ commented on #8021
@harisbotic I meant; Just use the release version from NuGet!

[2017-04-02 10:53] harisbotic commented on #8021
...
I though it had to be 2.0.0-* runtime because its netcoreapp2.0
It works with 1.1.1, thank you very much @ErikEJ

[2017-04-02 22:12] dvdobrovolskiy commented on #8005
Sorry @maumar for being dump here but can you please explain last thig
For ex I have
[code]
and
[code]

so
_context.Classrooms will not give me location mean I get in as null
[code]

only in I explicitly include them like
_context.Classrooms.Include(i=>i.Location)

[2017-04-02 22:58] anpete opened #8054 "Subquery with nested orderby is not lifted"
The following query:
[code]
produces
[code]
I think this is because of the orderby lifting happening in SE.PushDownSubquery. This query represents some Include queries that are worse with the new compiler

[2017-04-02 22:59] anpete commented on #8054
@smitpatel @maumar Any ideas?

[2017-04-02 23:33] dvdobrovolskiy commented on #7903
Still very confused about this

If I use
_context.Attach(item);
_context.Entry(item).State = EntityState.Added;
instead of
_context.Add(item);

I get
[code]

very confused. I only need to very simply add record to a table
I do not need to manipulate graph or do any complicated manipulation during insert

[2017-04-02 23:59] alexsandro-xpt commented on #7286
So, what is the solution?

[2017-04-03 01:41] alexsandro-xpt commented on #7889
It works for me too @bricelam, Thanks!

[2017-04-03 01:49] smitpatel commented on #8054
What is the condition which is blocking flattening of join?

In Sql, join clause is not being materialized but inner Customer is which is weird.

[2017-04-03 03:49] anpete commented on #8054
@smitpatel I think it is the presence of OrderBy without skip/take. The OrderBy is lifted to the outer table expression during Subquery push-down.

[2017-04-03 04:33] smitpatel commented on #8054
If we remove the code which is lifting order by outside in PushDownSubquery, does this query work fine?

[2017-04-03 08:48] TomWilloughby commented on #8015
I'm trying to write self-documenting code. By declaring it explicitly, another developer can glance at it and see what the behaviours are without having to know anything about the underlying framework or storage technology.

The main reason I created this issue, though, was simply the inconsistency. Since using the method in that way works on a boolean and a string field, I expected it to act the

[2017-04-03 09:35] stevenxi opened #8055 "EF's exception handling isn't correct"
It's a bit complicated problem:

1. We found 2 'impossible' errors in our code:
   a. An 'Select' query should always returns value, returns 0 result.
   b. An 'Count' query, throws no element exception.

2. We did investigation, the reason for those errors are because EF executed a data reader, has no result. But for that query, there MUST be result in it.

3. We tried to add log to trap the prob

[2017-04-03 09:55] prasannapethe commented on #8047
![image](https://cloud.githubusercontent.com/assets/12293093/24604192/7bd45c9e-1881-11e7-9f9b-81b8a7b9bf5f.png)

on the retrieving the existing record i got the error of invalidOperation

[2017-04-03 10:06] ErikEJ commented on #8055
This is the EF Core issue tracker, I think you should use this instead: https://github.com/aspnet/EntityFramework6

[2017-04-03 10:07] stevenxi commented on #8055
Ah, sorry. closing it.

[2017-04-03 11:26] kierenj commented on #8045
Ah right - I had seen that before but must have forgotten about it.  Looks great and makes sense.  Thank you for the discussion.

[2017-04-03 11:35] TehWardy commented on #3204
same here ... looks like bot htis ticket and #626 have stopped ... is this going anywhere?
I'd like to see this in EF 6 too though if possible as performing upgrade right now would cause hell for me.

I have been using jcachat/dynamicfilters package which is sort of a good step but has some interesting problems due to the lack of "good hooks" in core EF.

[2017-04-03 13:24] darkurse commented on #8033
@ajcvickers, thank you for your answer.

Regarding :
 - Adding a collation on the column on sqlite doesn't seem to change anything if you keep using `instr()` in EF
 - FromSQL option, I was **really** hoping to avoid this option.
 - Once you'll have EF.Functions feature released, I will definitely use it ! **Any ETA ?**
 - And finally regarding IMethodCallTranslator, I didn't know we could do that

[2017-04-03 13:34] BoubakrEchieb commented on #797
Microsoft.Data.Entity.Infrastructure namespace is not found !

[2017-04-03 13:52] drakoumel commented on #8042
@ajcvickers sure thing.

[2017-04-03 14:32] spottedmahn commented on #8026
@ajcvickers I'll give it a try.  Can you point me in the direction of good scaffolding prj for EF core?

[2017-04-03 14:44] danadigun commented on #8037
guys i have been busting my brain for days now on this nasty error. I have attempted to create a new project to recreate the error but its just frustrating. please @ajcvickers how did you go about clearing your cache please

[2017-04-03 15:58] bricelam commented on #8045
Please let us know what pain points you encounter while using Migrations in team environments. Improving this experience was the main motivation behind the architectural changes to Migrations in EF Core.

[2017-04-03 16:02] bricelam commented on #7286
@alexsandro-xpt Can you [submit a new issue](https://github.com/aspnet/EntityFramework/issues/new) describing your scenario? A lot has changed since this issue was created.

[2017-04-03 16:12] bricelam commented on #7936
Re-opening so we can address @ajcvickers's comment in triage.

[2017-04-03 16:20] bricelam commented on #8012
Related: #6401

[2017-04-03 16:28] sjb-sjb commented on #797
@ajcvickers, a followup on the use of Find in replicating changes from one context to another. My current thinking is to constrain the problem (as you suggest) by only replicating changes when a SaveChanges occurs. That is a lot simpler than the general problem. One can just use Find and/or GetDatabaseValues directly.

[2017-04-03 17:50] anpete commented on #8054
Yes! But others don't 😬

[2017-04-03 17:53] maumar commented on #8005
@dvdobrovolskiy That's correct - you need to add Include statements if you are projecting entities in the final result. However, in the initial example, the projection was:

[code]

it doesn't return the entire entity, just individual properties, and hence Include is not needed. Basically, the way we apply include is we look at the final projection and try to find entities that have include statem

[2017-04-03 18:31] dvdobrovolskiy commented on #8005
got it. Much appreciate @maumar

[2017-04-03 18:54] maumar commented on #8053
repro:

[code]

Include should be ignored, but we try to apply it here, which results in unnecessarily complex query:

[code]

what we should be generating is:

[code]

[2017-04-03 20:13] maumar commented on #8053
Fixed in 8053

[2017-04-03 20:13] #8053 closed

[2017-04-03 20:31] maumar commented on #6611
poaching this

[2017-04-03 21:58] #8021 closed

[2017-04-03 23:25] AndriySvyryd commented on #7698
This is similar to https://github.com/aspnet/EntityFramework/issues/7057

[2017-04-03 23:39] divega opened #8060 "Query: Make our reflection info selection logic deterministic"
We often need to query reflection to find a specific `MethodInfo`, e.g. to generate the right expressions or to identify expressions that we can translate.

Currently we have places that uses patterns that are not resilient to the introduction of new overloads. E.g. issue #8021 is about the introduction of new overloads of `String.Replace()` breaking an assumption in our code that only one overloa

[2017-04-03 23:52] lajones commented on #7930
I've opened https://github.com/aspnet/EntityFramework.Docs/issues/375 to track the docs issue. Am closing this as, @codingonHP, I think we have answered your question.

[2017-04-04 00:43] smitpatel commented on #7613
@maumar - Assigning this to you as this is lifting of order by.

[2017-04-04 00:44] smitpatel commented on #7560
@maumar - Assigning this should be fixed with lifting of order by.

[2017-04-04 06:09] redplane commented on #453
@rowanmiller , for the entity framework core 1.1. I still don't see AddOrUpdate method. Could you tell me whether it has been implemented yet ?

[2017-04-04 06:29] Tasteful opened #8063 "QueryCache: Memory leak when using dbContext.Set<> in subquery"
When using `dbContext.Set<MyTable1>()` query cache is caching each instance that will fill memory with the same query.

The following is the result from https://github.com/Tasteful/bugs/blob/query-cache-memory-leak/MemoryUsage/Program.cs#L29-L56 where the only different is that the first result is using `DbSet<>` and the second using `Set<>`.
[code]

This issue is probably related to #6737 that ha

[2017-04-04 07:25] mheilimo opened #8064 "PMC Tools: Cannot load type IOperationResultHandler"
I made migration first time to my average size project (about 100 tables) and now I am trying to do changes to the azure sql db with 'Update-Database' call in package manager console.

I will get this error always:
Exception message:
Stack trace:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Runtime.Remoting.RemotingException: C

[2017-04-04 09:36] twenzel opened #8065 "The binary operator Equal is not defined for the types 'System.Nullable`1[System.Boolean]' and 'System.Boolean'."
This error will be produced by the weird OData filter query and can be reproduced using following query:
[code]

My entity looks like:
[code]
The OData controller:
[code]

The OData query request looks like:

I'm using EFCore 1.1.1.

[2017-04-04 10:35] KirteeM commented on #3421
Is ElasticDB available for EF core?

[2017-04-04 10:36] KirteeM commented on #3346
Any update on this?
https://github.com/Azure/azure-content/issues/4747  is not accessible.

[2017-04-04 12:53] parad0xchild commented on #7031
For those having issues with `dotnet ef`, make sure when in powershell / dotnet cli (in VS), to navigate to the proper directory containing your .csproj file.

In Visual Studio it probably defaults to the top level (above /src), you'll to navigate down `/src/project`, then run your `dotnet ef` commands.

[2017-04-04 12:55] cedriclange commented on #629
did u really have to change the wole thing while developping .Net Core? this is just complicating our good habit. just spent 30 mins on this while i was supposed to think about other important stuff, instead still trying.to find how to SEED DATA.....

[2017-04-04 14:33] im1dermike opened #8066 "Where is WithMany()?"
I'm trying to create a many-to-many mapping with a junction table where I don't model the associative entity.  Here is some code:

    using Microsoft.EntityFrameworkCore;
    using Microsoft.EntityFrameworkCore.Metadata.Builders;

    builder.HasMany(p => p.Roles).WithMany().Map(m =>
    {
        m.ToTable("WorkflowStateRoles");
        m.MapLeftKey("WorkflowStateId");
        m.MapRightKey("Rol

[2017-04-04 15:47] im1dermike commented on #8066
@ajcvickers  Thanks for your reply.  That's awful, though.  Please prioritize as having to create entities, configurations, etc. isn't great and accessing the data through an extra layer is more nasty.

[2017-04-04 15:49] ajcvickers commented on #3421
@KirteeM ElasticDB support isn't something the EF team is working on. You may be able to find some community efforts with a search, but I don't have any info on their implementation status.

[2017-04-04 15:55] ajcvickers commented on #8063
Note for triage: The call to Set is returning a new DbSet instance each time it is called. Probably needs special handling in the cache.

[2017-04-04 15:58] ajcvickers commented on #453
@redplane There are no concrete plans to implement AddOrUpdate at this time. The way it was implemented in EF6 had issues with identity resolution. Anything we do on EF Core is likely to work differently, and it's not clear that it would have enough value over making your own choice as to whether an entity should be added or updated.

[2017-04-04 16:11] ajcvickers commented on #8037
@danadigun Typically I delete all the files in .nuget\packages in my user account folder.

[2017-04-04 16:14] ajcvickers commented on #8026
@spottedmahn Not sure what kind of scaffolding you mean. You can generate a DbContext and entity types from a database using the EF command line tools. There are some docs here: https://docs.microsoft.com/en-us/ef/core/get-started/full-dotnet/existing-db

[2017-04-04 16:15] ajcvickers commented on #8033
@anpete Can you give @darkurse some guidance on this?

[2017-04-04 16:21] ajcvickers commented on #8047
@prasannapethe Your comment does not seem to be related to this issue. Also, for EF6 issues, please use https://github.com/aspnet/EntityFramework6

[2017-04-04 16:24] ajcvickers commented on #7903
@dvdobrovolskiy That generally happens when you are attempting to Add an entity that already exists and has therefore already had a key value assigned.

[2017-04-04 16:28] anpete commented on #8033
@darkurse The translator looks OK. Do you get into Translate if you set a breakpoint there?

[2017-04-04 16:30] ajcvickers commented on #7105
@fitzchak The PR changes the signature for the RelationalDataReader constructor. We might be able to make the change in a non-breaking way, but to justify it going into a patch release we will need some details as to exactly what is not working so we can get approval.

[2017-04-04 16:38] dvdobrovolskiy commented on #7903
I am definitely not. It trying to add related item. Related Item in other table, already existing in database.

In my case I adding new item to table Registers. Item is definitely new and never existed. But instance of Registers returned from view has Level property of type Level and it is an instance of Level class.

In this case EF trying to insert new Register item and Level item. But Level is

[2017-04-04 16:41] ajcvickers commented on #7903
@dvdobrovolskiy You'll need to provide a full repro. What you are describing should not happen if you first Attach the graph and then just set the state of the root to Added.

[2017-04-04 16:42] anpete opened #8068 "Nav rewrite: EF.Property navs not rewritten correctly"
Using EF.Property instead of a member access can result in different behavior during nav rewrite.

E.g.

[code]
will generate:
[code]
which will then cause:
[code]
When using a member access instead, the correct QM is produced:
[code]

[2017-04-04 16:45] bricelam commented on #8064
Are you using version 1.1.0 of Microsoft.EntityFrameworkCore.Tools?

[2017-04-04 16:57] dvdobrovolskiy commented on #7903
I am very sorry. I think I just misunderstanding whole thing about attaching graph. All I wanting is to inserting single row to DB

[2017-04-04 17:03] redplane commented on #453
Hi @ajcvickers , I think in AddOrUpdate there should be a list of white list properties as @rowanmiller mentioned. If no property is specified in white list, that means every property should be updated.

[2017-04-04 17:20] johnkwaters opened #8069 "Where condition on an include appears not to work"
Is it supported?

I have an entity Product, which has a collection of ProductListItems. ProductListItem is a join table from Product to ListItem. ListItem has in turn a List (that it belongs to). So one List has many list items.

I want to select all products, and include each products list items

var qry = ctxt.Set<Product>.AsNoTracking().AsQueryable();

qry Include( p => p.ListItems)

but only f

[2017-04-04 17:34] ajcvickers commented on #8069
Duplicate of #1833

[2017-04-04 17:51] johnkwaters commented on #1833
OK, so I ran into this today, and also need this feature. Is there a latest on when this might be included in EF?

[2017-04-04 18:04] ajcvickers commented on #7931
@pranavkm Is this a known issue with 4.6/4.6.1?

[2017-04-04 18:16] ajcvickers commented on #8068
Backlog because we don't have shadow navs yet.

[2017-04-04 19:46] ahmedChe commented on #8037
@danadigun just execute this command via console : dotnet restore --no-cache
 you can add [-v|--verbosity] if the previous one did not solve your problem :)

[2017-04-04 19:57] danadigun commented on #8037
Thanks guys. I'll give it a shot and give feedback

On Apr 4, 2017 20:47, "Ahmed Chebbi" <notifications@github.com> wrote:

[2017-04-04 20:10] ajcvickers commented on #7479
Re-opening since community PR to complete this was not building and we decided to track the work as a regular issue.

[2017-04-04 20:20] lajones commented on #7936
Added `breaking change` tag as we would be removing public API.

[2017-04-04 20:24] pranavkm commented on #7931
The package targets `netstandard1.1`, so it should work with `net46` (afaik we use it projects targeting `netstandard1.3`). @ericstj any guesses what might be wrong?

[2017-04-04 20:33] ericstj commented on #7931
No clue.  The package definitely works in net45 and later.  It actually explicitly provides a lib for net45.  Manual installation works fine for me.  Don't trust NuGet's error messages.  IIRC it'll give you the same error if it can't find the package.  Try looking at the package manager output window, it may give you more information.

[2017-04-04 20:48] #7279 closed

[2017-04-04 21:00] joshmouch opened #8071 "Most of Expression ignored when generating SQL"
I am using LinqKit to generate an Expression which I then use with EF Core 1.1.1 to get some entities.  However, most of the expression is being ignored to create the SQL which hits the database.

For example:

[code]

The Expression looks like this:
[code]

However, the SQL looks like this:
[code]

You can see that only the portion of the Expression after the word "Invoke" is being considered whe

[2017-04-04 21:30] joshmouch commented on #8071
So the odd thing is, if I comment out the
`&& taskTypeIds.Contains(t.TaskTypeId.Value)`
from the first expression, everything works as expected.

Still trying different things....

[2017-04-04 21:43] joshmouch commented on #8071
It turns out the ".Value" is triggering the bug.

If I add:

[code]

Then change
[code]
to
[code]

Then things work as expected.

[2017-04-04 21:43] darkurse commented on #8033
@ajcvickers and @anpete, thanks for reaching out to help.

To answer to you question : No, I don't. And I don't even get a breakpoint on CustomSqliteCompositeMethodCallTranslator ctor.

Is there an additional step missing to associate ContainsNoCase to my translator at a higher level ?

[2017-04-04 22:00] maumar commented on #8071
dupe of https://github.com/aspnet/EntityFramework/issues/4247

[2017-04-04 22:02] joshmouch commented on #8071
@maumar I see that this is a dupe of #4247, but I think there might be a bigger issue here.  I should be getting some sort of exception thrown instead of just silently having my SQL generated incorrectly.  It's acting like any part of the Expression it can't evaluate just gets thrown out silently.

[2017-04-04 22:04] maumar commented on #8071
@joshmouch I assumed the untranslated parts would be executed on the client. Is this not the case?

[2017-04-04 22:06] maumar commented on #8071
generally what *should* be happening for Where clauses is that the part that we can translate to SQL is executed in form of SQL statement, and the part that we cant translate is then filtered out in memory. You should still get the correct results, and the query plan should reflect additional client-side _Where(...) method.

[2017-04-04 22:06] joshmouch commented on #8071
@maumar That may be the case.  I have the flag disabled to throw exceptions when there is client-side evaluation because it was hitting too many false positives.

[2017-04-04 22:06] anpete commented on #8033
@darkurse I wonder if it is to do with service registration. Have you seen [this post](https://blog.oneunicorn.com/2016/10/27/dependency-injection-in-ef-core-1-1/) on how to replace services?

[2017-04-04 22:08] maumar commented on #8071
@joshmouch I see, if after enabling the flag you don't get a warning then there is definitely something bad going on (please reopen the bug if that's the case). Otherwise it's just an issue of not translating Value to server.

[2017-04-04 23:45] mheilimo commented on #8064
Thanks for your answer - I double cheched that I have latest tools too.

[2017-04-04 23:54] smitpatel commented on #8037
You can also clean your NuGet caches through visual studio.
In VS goto Tools->Options. Search for NuGet package manager->General. It has button "Clear All NuGet Cache(s)"

[2017-04-05 00:04] maumar commented on #6611
Fixed in f022d66bc3a461851a6250536399cd3b8f8bf8d2

[2017-04-05 00:04] #6611 closed

[2017-04-05 00:14] maumar commented on #8068
Bringing back to 2.0 as it turns out this is needed for write-only nav properties

[2017-04-05 00:14] bricelam commented on #8064
Could you share your project so we can investigate?

[2017-04-05 00:18] maumar commented on #5612
The original issue is fixed in the current bits. Subsequent issues that were uncovered were fixed in c88b74fcd49b0fb390b139aee2af2b33a908a0de and f022d66bc3a461851a6250536399cd3b8f8bf8d2

[2017-04-05 00:18] #5612 closed

[2017-04-05 00:54] maumar commented on #7164
Fixed in f022d66bc3a461851a6250536399cd3b8f8bf8d2

The query we produce now:

[code]

[2017-04-05 00:54] #7164 closed

[2017-04-05 01:35] #7844 closed

[2017-04-05 01:51] maumar commented on #6782
fixed in f868cdc3af9db798e8a2d95e753249026c09b439

[2017-04-05 01:51] #6782 closed

[2017-04-05 01:56] maumar commented on #6618
This now works in relational but fails for InMemory:

[code]

[2017-04-05 01:58] smitpatel commented on #6618
Exception msg - `Nullable object must have a value.` then why it is nullable object. :trollface:

[2017-04-05 02:13] maumar commented on #7613
fixed in f022d66bc3a461851a6250536399cd3b8f8bf8d2

[2017-04-05 02:13] #7613 closed

[2017-04-05 02:14] maumar commented on #7560
Fixed in f022d66bc3a461851a6250536399cd3b8f8bf8d2

[2017-04-05 02:14] #7560 closed

[2017-04-05 05:35] saad749 commented on #5536
Any update on this?

[2017-04-05 11:06] reader-man opened #8077 "Scaffold-DbContext with create default"
Describe what is not working as expected.
When running Scaffold-DbContext
  The Generation of Fluent API for the default value in Context.OnModelCreating(ModelBuilder modelBuilder), returns SQL Server comments which affects the compilation of the Project in VS.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
make a new

[2017-04-05 11:23] reader-man opened #8078 "Scaffold-DbContext: make an option to not capitalize table columns"
Describe what is not working as expected.
Scaffold-DbContext is working as the designers want, but it would be helpful if there was an option to leave the generated table column names as is, leaving their capital/small letters without changing them, here i am talking especially about the first letter of the table column.

### Steps to reproduce
just use Scaffold-DbContext as normal to produce enti

[2017-04-05 11:42] mheilimo commented on #8064
I will send you source package via mail.

[2017-04-05 13:15] saurabha5 commented on #5570
@abdu292 , @MichalStrehovsky can you please link the new bug here so that we know the actual status. I still see lot of performance lag with .Net native compilation.

[2017-04-05 14:17] TsengSR opened #8079 "Unable to perform Eager loading navigation properties on inherited types"
Right now there doesn't seem to be any way to load navigation properties of inherited models.

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide code to reproduce the issue.

[code]

There isn't an

[2017-04-05 14:51] ImageQC opened #8080 "Separation of Concerns: Tool makers vs tool users"
**What isn't working: issue relating to tool makers are jumbled with issues relating to tool users.**

I am a tool user - i.e. someone who uses EF but has no interest in maintaining it (sorry, I'm much too busy with my cancer research work). I found an issue with Scaffold-DbContext and found the issue Reverse-Engineer in RC2: Scaffold-DbContext not working on ASP.NET Core project #5376. This issue

[2017-04-05 16:10] lajones commented on #8078
Many people want many different things for the generated code - closing this as dupe of e.g. #5947.

But, as referenced in that issue, it is possible already to override the `CandidateNamingService` - see https://gist.github.com/natemcmaster/353f4ab3efb4514eeaec846df28f0e24.

[2017-04-05 16:49] #7189 closed

[2017-04-05 16:51] anpete commented on #8063
Verified fixed in 2.0

[2017-04-05 17:36] ErikEJ commented on #8078
@sjh37 !

[2017-04-05 18:31] fujiy commented on #6611
Thanks! @maumar

[2017-04-05 18:43] ajcvickers commented on #8031
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-05 19:20] ajcvickers commented on #8079
@TsengSR This is being tracked by #3910; closing this as a duplicate. The only workarounds for now are to use some other form of loading, either on the DbSet or using `context.Entry(entity).Reference(e => e.Prop).Load();` or similar.

[2017-04-05 19:42] Tasteful commented on #8063
@anpete does it exist any workaround that I can do in my solution? I have multiple ecommerce applications that need to be restarted on a regular schedule.

[2017-04-05 19:48] ajcvickers commented on #8080
@ImageQC Thanks for providing this feedback. We strive to be helpful to both people using EF and those wanting to contribute. For any bug we always try to provide:
- Information about the status of any fix. This is contained in the panel on the right. Specifically:
 - The release (milestone) in which we plan to release a fix (for open issues), or where the fix has been/will be released (for fixed

[2017-04-05 20:09] smitpatel commented on #8054
@anpete - Is this blocking issue for you? The side effects so far I have found
- Join ignores ordering for join clause. Causing ordering difference between l2o/sql queries
- Unnecessary pushdown happening when we don't lift joins.
- There is a blocking bug in ProjectionShaper.

[2017-04-05 20:46] #6924 closed

[2017-04-05 21:06] lajones commented on #7956
I've been looking at this offline. It's OK to not call `HasAlternateKey()` and it turns out we were already calling `HasIndex()`.

If the index is just a separate index independent (not supporting an FK) then this causes no problems. But if the index is on the principal end of an FK (and includes a nullable column) then we see an exception from the Scaffolder:
[code]
This is because the Scaffolder

[2017-04-05 21:12] maumar commented on #7096
This is fixed in the current bits and produces the following query:

[code]

[2017-04-05 21:12] #7096 closed

[2017-04-05 21:21] bricelam commented on #8077
Note to fixer, Migrations [handles this](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Design/Migrations/Design/CSharpHelper.cs#L292-L295) by generating a verbatim string literals for multi-line strings.

[2017-04-05 21:32] ajcvickers commented on #7956
@lajones That's what I thought would happen. I think option #2 is the correct thing to do for alternate keys as well. I think this should also generate a warning because, as you say, if there are nulls in the data then there will be problems when using this at runtime.

[2017-04-05 21:36] mikebridge commented on #1590
Is there any workaround for this in the meantime?  In EF6 it was possible to  use a `DbInterceptor` or maybe even call `ToTraceString()` to generate SQL and eval the result.

[2017-04-05 21:55] bricelam commented on #8064
I hate to say it, but it works for me. Ensure the **Default project** and **StartUp Project** are set as expected, and check the output with `-Verbose` to make sure it's looking where you expect it to.

[2017-04-05 22:18] maumar opened #8083 "Query: projecting anonymous type containing entity and subquery returning a scalar results in N+1 queries"
Repro:

[code]

produces:

[code]

We should be able to produce a single query, and we do, if instead of gear we project it's properties individually.

[2017-04-05 22:30] maumar commented on #6982
The exception is fixed in the current bits, N+1 queries are generated for this scenario due to https://github.com/aspnet/EntityFramework/issues/8083

[2017-04-05 22:30] #6982 closed

[2017-04-05 23:03] lajones commented on #7956
OK. Will go ahead with that. @sonphnt - the effect this will have is that the property `Name` should come out as not Required _except_ if you use it as the principal end of a foreign key.

[2017-04-05 23:33] maumar commented on #6997
Fixed in 432e609429983386453c213febaca11f80cfb27e

[2017-04-05 23:33] #6997 closed

[2017-04-05 23:36] smitpatel commented on #948
https://github.com/aspnet/EntityFramework/blob/dev/test/EFCore.CrossStore.FunctionalTests/TestModels/CrossStoreContext.cs#L23

[2017-04-05 23:57] maumar commented on #8044
This seems to be working in the current bits. Used the following repro code and got expected results (both navigations were loaded). @dvdobrovolskiy can you check if this works for you, and if it does, what are the differences between this model and yours?

[code]

[2017-04-06 00:15] maumar commented on #8065
Verified that this is fixed in current bits. As a temporary workaround you can try disabling null propagation in OData:

Modify ODataController’s EnableQueryAttribute, by including:
```HandleNullPropagation = HandleNullPropagationOption.False```

[2017-04-06 00:15] #8065 closed

[2017-04-06 00:16] maumar commented on #7806
closing in favor of https://github.com/aspnet/EntityFramework/issues/8065

[2017-04-06 00:34] ajcvickers commented on #218
### Proposal for logging categories

Notes:
- Just a proposal: for discussion in the design meeting.
- The principle here is to provide categories that allow for easy filtering by application code.
  - Preferably with StartsWith or EndsWith or a combination of the two
- There are obviously other dimensions that could be used--for example, should SQL be included in Query category?

Categories:
- Mi

[2017-04-06 00:51] #8004 closed

[2017-04-06 01:11] abdu292 commented on #5570
@saurabha5 This issue is not actually on the compilation performance, but on the querying of numerous records in release mode. I tested this (I think a week ago), with the latest UWP version, and it looks like it works and no more performance issues. I am going to publish my app now (after holding for a long time)
The .Native toolchain compilation still takes a while however much better than how i

[2017-04-06 01:51] maumar commented on #6383
This is still broken in the current bits. Full repro:

[code]

[2017-04-06 01:55] maumar commented on #6383
It's worth pointing out, that even when this is fixed, using a helper method like this to DRY the queries is not recommended. We are unable to translate such method, so it will be evaluated on the client, leading to inefficient N+1 queries (querying for list of Albums and then issuing a query for each Album, rather than getting all the information in a single query)

[2017-04-06 02:46] anpete commented on #8054
@smitpatel Not blocking, just regresses certain include queries. Do we know how many other queries may be improved if we fix this?

[2017-04-06 03:15] smitpatel commented on #8054
I worked out to remove copying order by for all push down queries to only limit/offset/group join (include works because query model already lifts it).
There is only 1 failure left which is group join which requires ordering added by us and has inner ordering too. `RowNumberPagingExpressionVisitor` is having trouble dealing with it.

[2017-04-06 03:16] smitpatel commented on #8054
Also, query in first post fails at runtime due to bug in projection shaper. I did not see any other query being lifted anywhere though.

[2017-04-06 04:49] Cuiqs76 opened #8085 "How to view sql generated by EF when savechanges?"
How to view sql generated by EF when savechanges  in vs?

IDE: vs2017 community.
DB:LocalDB

[2017-04-06 05:16] ssuhas76 opened #8086 "Unable to install EF5 to my .NET MVC project via Nuget"
I am trying to install EF 5 to my .NET MVC project. I get the below error and am now struck. I have tried everything from re-installing and restarting VS 2015 but without any success.
Can someone help me her?

Could not find file 'C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\GetEvent.types.ps1xml'.
Could not find file 'C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\

[2017-04-06 06:11] Cuiqs76 commented on #6174
How do you solve it?

[2017-04-06 06:38] Tasteful commented on #8063
I can see that this is partial fixed in branch `rel/1.1.2` after adding https://github.com/aspnet/EntityFramework/commit/41031f5332b03bafe8f29f43e4a236d33388c014 the issue is solved. Can you consider to also include this missed commit into next patch?

@anpete @ajcvickers @rowanmiller

[2017-04-06 06:44] sreejithvijayan commented on #4168
If anyone got the below error,

_Scaffold-DbContext : Cannot bind parameter because parameter 'Tables' is specified more than once. To provide multiple values to parameters that can accept multiple values, use
the array syntax. For example, "-parameter value1,value2,value3".At line:1 char:335_

Then try the following format,

dnx ef dbcontext scaffold "connstring" EntityFramework.MicrosoftSqlServe

[2017-04-06 07:49] divega commented on #7956
@ajcvickers @lajones FWIW, nullable alternate keys (i.e. nullable columns in UNIQUE CONSTRAINTS) are legal in the SQL standard and seems to be supported in at least some databases. Even in SQL Server it is legal, although the behavior does not adhere to the standard in the sense that NULLs values are not completely ignored. The idea is something like "I sometimes don't know the value of this colum

[2017-04-06 08:08] popcatalin81 commented on #7956
@divega @ajcvickers Please don't force IsRequired on nullable unique columns.

I can give a clear example where this would create a blocking issue for the app I'm working on.

There is an Users table with (ID pk, UserName NOT NULL Unique, EMail NULL Unique). In this design the email is optional but also required to be unique. Also null in the email column is used to drive different business proces

[2017-04-06 08:31] oozone opened #8087 "Error Installing EFCore: This version of the Entity Framework Core Package Manager Console Tools doesn't support these types of projects"
While trying to install EntityFrameWorkCore for a new MVC-project in VS2015, I get this error. Nuget is updated to version 3.5.

[code]

### Steps to reproduce
Create new MVC-project, install EFCore packages, updated everything to 1.1.1. Here's my version and project.json. Can anyone assist? Thanks!
[code]
[code]

### Further technical details
EF Core version: 1.1.1
Database Provider: Microsoft.En

[2017-04-06 10:21] sonphnt commented on #7956
@popcatalin81 I agree. There are some cases we need nullable unique columns in business logic. Somethings like Either we dont have a value but if it does, it should be unique. Your example has reflected exactly a business logic in enterprise application

I think nullable unique columns is legal point in SQL standard. If not Microsoft SQL server should not allow users creating unique index like tha

[2017-04-06 12:22] mheilimo commented on #8064
Hi Brice!

Unfortunately I have accidentally given you a non-working project so it can’t have worked ok in your testing.

There were a few mistakes in the model so even the first create db didn't work - one was my bug and the other was created by `Scaffold-DbContext` call (I fixed these issues today after I started testing it more after your feedback).

So if you open the project and and do just U

[2017-04-06 13:19] mheilimo commented on #8064
Now I faked this wanted behavior (initial state in db) so that I can continue after Scaffold-DbContext call.

I create one empty db with a script and then I copy my manually added empty db. I will copy this dbo.__EFMigrationsHistory state to wanted db (that was just created from Scaffold-DbContext call) and then it should work because if Scaffold-DbContext works properly there shouldn't be any cha

[2017-04-06 13:19] ErikEJ commented on #8087
I think you need to migrate from project.json to csproj with VS 2017

[2017-04-06 15:06] smitpatel commented on #8087
See http://stackoverflow.com/a/43106651/4484219

[2017-04-06 15:11] bricelam commented on #8064
Sorry, by *work*, I meant that I am not encountering the *cannot load type IOperationResultHandler* error. The other issues are, of course, still present, but EF is working as expected.

For guidance on how to bootstrap an existing database to use migrations, you might find the EF6 documentation about how to use [Migrations with an existing database](https://msdn.microsoft.com/en-us/library/dn5793

[2017-04-06 15:13] bricelam commented on #2167
@mheilimo had a good idea to help with this scenario when using `Scaffold-DbContext`. We could add an additional `-BootstrapMigrations` flag that scaffolded an InitialCreate migration and marked it as already applied in the database.

[2017-04-06 15:34] ajcvickers commented on #8085
@Cuiqs76 https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging

[2017-04-06 15:37] ajcvickers commented on #8063
@Tasteful Is it possible for you to use DbSet properties on your context?

[2017-04-06 15:51] ajcvickers commented on #7956
@sonphnt @popcatalin81 We are not intending to disallow nullable unique columns. Nor is it about nullable unique columns that are part of a foreign key. The conversation in the recent posts is only about cases where there is a foreign key constraint where the constraint references columns that are not the primary key. Example:

- Blog
  - Id int _PK_
  - BlogName string _Not PK_

- Post
  - Id int

[2017-04-06 16:07] Tasteful commented on #8063
@ajcvickers No, it is not possible. We register everything dynamic in `DbContext.OnModelCreating` so we don't have any `DbSet` properties on the `DbContext`. Our usage is in an ECommerce platform that is used by many of our customers, each customer have their own installation.

[2017-04-06 16:27] lajones commented on #7956
@sonphnt @popcatalin81 As @ajcvickers says above - it is only nullable, unique columns on the **_prinicipal_** end of the FK that are affected. Nullable, unique columns on the dependent end are perfectly normal and are unaffected by the plan above. Both of your situations are describing the dependent end.

[2017-04-06 16:47] ajcvickers commented on #8063
@Tasteful How about something like this:

[code]
Then in your context:
[code]
Then use CachedSet in your queries instead of Set. I tested this with your repro code and I see it caching correctly.

[2017-04-06 16:50] anpete commented on #8063
@Tasteful Agree we should consider this for the next patch.

A possible workaround might be to register a custom IQueryCompiler so you can apply the fix yourself. I think the high-level approach would be:

1) Create a custom QueryCompiler by inheriting QueryCompiler and register your custom version with DI (ReplaceService etc)
2) Create a custom ParameterExtractingExpressionVisitor, again by inher

[2017-04-06 17:04] Tasteful commented on #8063
@ajcvickers If I understand it correctly the problem is that the `Set<>` is returning different instances for every method call? In that case I can make an override of `Set<T>` method of our dbcontext with your code above.

@anpete I can try this suggestion also, but in general I'm against to use the classes/methods in the internal namespace due to possible conflicts between versions.

[2017-04-06 18:03] Tasteful commented on #8063
@ajcvickers One strange thing is that if I add an override in my dbcontext as below, then the cache will still not work correctly, but if I set it as CaachedSet, then the cache will work. Should it not work with the override like this?
[code]

[2017-04-06 18:15] ajcvickers commented on #218
Updated categories above based on design meeting discussion. Only change was to remove the .Design subcategory since it was deemed necessary.

[2017-04-06 18:18] ajcvickers commented on #8063
@Tasteful Based on my understanding overriding Set like that should work. You shouldn't need the _Concurrent_ Dictionary though because context instances are not thread-safe.

[2017-04-06 18:36] lajones opened #8088 "Add ModelValidation Warning for a Unique Index on a Nullable Property?"
From the discussion with @ajcvickers of issue #7956, we should consider adding a warning in model validation if there is a unique  index on a nullable property as you may see different behaviors for different providers.

[2017-04-06 20:02] arashbahreini opened #8090 "DotNet Core , No database provider has been configured for this DbContext"
Hello all.
I am very new on dotnet core framework. i start a simple web application and migrated my database ( it works fine ) . i have a table, named Header and it has some value. now I am getting my values from my table by linq commands but i faced below error.

## My Api code.

[code]

[2017-04-06 20:36] slubowsky opened #8092 "Order by with condition produces invalid SQL"
Putting a condition inside an order by is causing invalid SQL. I think I see similar issues but the ones I found were closed months ago and any fixes should be present in version 1.1.1 which is the version I am using so opening this in case its not a duplicate

[code]

Generates:
[code]

Results in

[code]

[2017-04-06 20:55] Tasteful commented on #8063
If I add an interface as below on the my dbcontext implementation and cast the dbcontext into that interface during query the cache will work without doing anything else.
[code]

[code]

[2017-04-06 20:57] tinchou commented on #629
We're very transparent on [what features are missing](https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features) on EF Core, and if this is an important part of your application you should consider using EF6.

EF Core is a new framework, and so we're not attached to the old design. We can keep it when it makes sense, but we can choose to change it when can be improved. I'm confident the new desi

[2017-04-06 21:11] smitpatel opened #8094 "Query: Improve how SelectExpression performs join to preserve sufficient metadata for binding"
At present our code to lift subquery is not streamlined. We have `QueryModelVisitor.IsLiftable` flag after which we also have other checks which determines if we can lift subquery or not. And even after all these checks, we still sometimes fails to lift subquery during joins.

Moreover the way our AddJoinFamily works is, it takes the first table from inner select expression and add it as joinexpre

[2017-04-06 21:24] smitpatel opened #8095 "Query: ProjectionShaper ignores the offset while Shaping"
Query:
[code]

Generates following query
[code]
Which is correct. Though it throws following exception.
[code]

This exception happens because we do order by on client. The value comes from offset value buffer but projection shaper still tries to pick value from 0th index.

[2017-04-06 22:09] smitpatel commented on #8090
Assuming you are using Identity/MVC setup using startup.cs, can you remove parameterless constructor from your `ApplicationDbContext` and see if it works?

[2017-04-06 22:20] smitpatel commented on #8092
I tried reproducing issue based on data I could gather from above but I got no error.
Query:
[code]
Generated SQL
[code]

@slubowsky - Can you share a complete code listing which demonstrate above issue? There are quite a few pieces missing in your post like what is `_values` & `ProjectTo<TV>()`. Also based on condition, EF would parametrize the variables (like `search.Field`) in the query. But in

[2017-04-06 23:03] bricelam opened #13826 "Microsoft.Data.Sqlite: Persist functions, PRAGMAs, etc. between close and re-open"
This was previously discussed in aspnet/Microsoft.Data.Sqlite#61.

There are quite a few things in SQLite that need to be configured every time a connection is opened. (E.g. certain PRAGMAs, user-defined functions, collations, etc.)

The idea would be that you pass some configuration into your `SqliteConnection` instances, and every time the connection is opened, it would be configured appropriate

[2017-04-06 23:03] lajones commented on #7956
Fixed by PR #8089.

[2017-04-06 23:03] #7956 closed

[2017-04-06 23:38] ajcvickers commented on #8063
@Tasteful Seems by theory for the bug was off a bit. Glad you found a workaround; we will still discuss if this should go in a patch.

[2017-04-07 03:34] smithaitufe opened #8098 "_userManager.GetRolesAsync(user).ToList() Not Supported"
I got an issue.

I am trying to get the roles of a user, assuming a user can have multiple roles.

I wrote this snippet but it is throwing an error, stating the below

[code]
Please what is the work around for this?

My code snippet is found below.

[code]

[2017-04-07 04:04] yajiedesign commented on #7397
same problem.Is there any temporary solution?

[2017-04-07 04:09] divega commented on #7956
@ajcvickers Good to know. I see relaxing those two restrictions (nullability and mutability) on alternate keys as orthogonal improvements. And yes, I believe a null alternate key value could not participate in  relationships. I tested it in SQL Server and null values on the principal and dependent keys do not form a relationship. Do you think it is worth creating an issue for this?

[2017-04-07 04:10] uthens opened #8099 "Our customer can't open database port connection on local database they have PCI compliance security issue"
{
"ConnectionStrings": {
"DefaultConnection": "Server=xx.xx.xx.xxx;Database=DBNAME;uid=sa;pwd=password;MultipleActiveResultSets=true;"
},
"AppSettings": {
"InMemoryProvider": "false"
}
}

**Question:**
On EF core we used connection string on appsetting.jason
but our customer can't open database port they have the security issue on pci compliance.

Our API will install on azure, but customer databa

[2017-04-07 06:06] slubowsky commented on #8092
_values is just a dbset and ProjectTo<TV>() is an Automapper projection, I should have removed it - the bug occurs without it as well.
It really is a pretty vanilla app. I was able to reproduce the bug in a small standalone repo - https://github.com/slubowsky/orderby_bug
If you run the Test.API project it should launch swagger, just click the Try It Out button on the only API method and you should

[2017-04-07 07:52] Tasteful commented on #8063
@ajcvickers I was wrong.

Casting to interface was only changing the query to client evaluation and that was throwing exception and I think that the performance not will be good to fetch everything from db.
I also tried your suggestion with the `DbSets` but that is also moving the query into client evaluation.

I added the following into options builder also
`.ConfigureWarnings(w => w.Throw(Relati

[2017-04-07 08:35] Tasteful commented on #8063
@anpete Your solution to override the `IQueryCompiler` is working to solve the problem. It was some small issues that the `QueryCompiler` have private inner class and `ParameterExtractingExpressionVisitor` have a private ctor so was not possible to inherit. I solved both of them by copying the code.

[2017-04-07 09:21] DalSoft commented on #629
For EF Core I think we should draw a line under seeding as a separate thing. And instead have a lightweight helper available in migrations that allows you to do seeding (with the functionality outlined in the proposal). That way you can have a up and a down 'seed', more importantly the seed data works like a migration avoiding the pitiful mentioned by @rmarskell if the table changes over time.

I'

[2017-04-07 09:36] DalSoft commented on #629
@cedriclange EF Core is new rather than iterative improvement over EF6 - hopefully once your over the initial learning curve your see that it's aiming to quicker and more lightweight than previous versions.

[2017-04-07 11:55] weitzhandler commented on #629
The problem is that migration itself has some serious issues.
For example you can't make it work if there is no start up project. A total annoyance.

[2017-04-07 12:53] DalSoft commented on #629
@weitzhandler yes but you can work around that by creating a separate data startup project example
https://gist.github.com/DalSoft/8684d8be9566221ca7b1b8e962db241f#file-program-cs

[2017-04-07 14:03] cdie opened #8100 "IsKeySet returns false if a basic type has its default value and is part of key"
The IsKeySet property is not always returning a good value. I have encounter a situation where I have an entity and it's primary key is defined as couple of Guids and a boolean.

If the boolean is at false, the IsKeySet always returning false, even if retrieved from database.
I think this is because of the IsKeySetImplementation

[code]

Because false is the default value, it will always returns f

[2017-04-07 15:16] joshmouch opened #8101 "InvalidOperationException: "Collection was modified" inside NavigationFixer"
I have some code that is adding an entity to the DbContext if it hasn't previously been added.  This works in most cases, however, in one case I've found, there's an exception being throw in the `ChangeTracking.Internal.NavigationFixer`.

The code is:
[code]

The exact exception is:
[code]

The stack trace is:
[code]

I went through the source code in that class and I only see some "foreach" loops

[2017-04-07 15:41] vinniep79 commented on #3748
+1

[2017-04-07 15:48] dmcweeney opened #8102 "The entity type '' requires a primary key to be defined"
Hi,

I have a simple table defined with no foreign key constraints defined (yet).
The table has a non-unique index defined.
I have the ModelBuilder defined using fluent api

When I run the code I get the following error:
HResult=0x80131509
  Message=The entity type 'xxx' requires a primary key to be defined.

The table is the target of a one-to-many relationship so does not have a primary key.
Is

[2017-04-07 16:00] ajcvickers commented on #7956
@divega Yes. We should have issues for both relaxations, although we might have one for the mutability already on the backlog.

[2017-04-07 16:12] ajcvickers commented on #8102
@dmcweeney Every entity type must have a primary key mapped to some column in the table.

[2017-04-07 16:16] dmcweeney commented on #8102
Ok @ajcvickers thanks for clarifying...

[2017-04-07 16:19] anpete commented on #8063
@Tasteful Great to hear. The difficulty extending is an oversight, I will file an issue to fix.

[2017-04-07 16:55] bricelam commented on #629
Agreed. We've done everything we can in EF Core's tools to work around the limitations .NET Standard and .NET Core class libraries, but it can still be painful at times. We'll continue to do everything we can in our tools to make the experience as delightful as possible. We also work closely with to the .NET Core SDK team and let them know where we're hitting limitations.

[2017-04-07 17:18] JT-Bruch opened #8104 "Cannot use IDENTITY_INSERT before AddRange to seed database"
After scaffolding a database with the Migration tool, I am attempting to seed a database using data pulled from an existing database.  This data has been generated using the `Generate Scripts` tool inside SSMS and then converted to code (lists of data models) and then called by using `Entity.AddRange()`.

Many of the entities have pre-existing relationships & keys that need to be preserved for the

[2017-04-07 17:49] bricelam commented on #8088
Most stores allow multiple `null` values. We compensate for this in SQL Server by adding a filter by convention to unique indexes on nullable columns.

Unique indexes (alternate keys) on nullable columns are where you'll see a difference between SQL Server and most other stores, but I don't think we allow optional keys, do we?

[2017-04-07 17:51] ajcvickers commented on #8104
@JT-Bruch This is the same issue as described here: https://github.com/aspnet/EntityFramework/issues/703. Are you sure that you are setting IDENTITY_INSERT on for the correct table? In the SQL you posted it is set on for `AclsRef`, but then the insert is for `Acls`.

[2017-04-07 18:02] lajones commented on #8088
@bricelam #7956 was about separating the idea of an alternate key from a unique index. As of the fix for that bug we no longer assume a unique index implies an alternate key _unless_ that unique index is on the principal end of an FK,

Currently it doesn't make sense for us to have a nullable key but @ajcvickers and @divega are discussing the implications if we did allow them (see the discussion a

[2017-04-07 18:13] ajcvickers commented on #8098
@maumar To suggest way to re-write the queries.

[2017-04-07 18:59] ajcvickers commented on #8088
To clarify, the idea here is that when the model has a nullable column that has a unique index on it, and that unique index does not contain the filter, then we should generate a warning. This likely requires #7938 to be implemented as a prerequisite. Also, this is not critical, so putting on the backlog for now.

[2017-04-07 19:02] ajcvickers commented on #8090
Dupe of #6826

[2017-04-07 19:09] ajcvickers commented on #8099
@uthens This doesn't seem to be an issue related to Entity Framework. You could try asking the question on http://stackoverflow.com/ Or maybe open an issue with Azure support if you think there is something actionable there?

[2017-04-07 19:21] smitpatel commented on #4311
Another skipped test - `GroupJoin_customers_orders_count_preserves_ordering`

[2017-04-07 19:40] nukec commented on #7891
Adding using solved for me as well. Ah ah.

[2017-04-07 20:55] nukec opened #8106 "dotnet ef database update works only on net core web application and not on class library"
So I am trying to understand is command dotnet ef database update and migrations commands working only in asp.net core web projects and not class libraries? I tried to run command in class library, then I changed project type from:

[code]

to:

[code]

and rerun command and identity tables were populated into database. Why?

### Further technical details
EF Core version: latest
Database Provider:

[2017-04-07 21:08] smitpatel commented on #4311
@MichaelKetting - I tested Remotion.Linq version 2.2.0-alpha-002 with current codebase of EF. Everything looks fine on our end. All existing test including the above failing tests passes successfully with pre-release version.

[2017-04-07 22:04] divega opened #8107 "Query: Use of types that are neither entities nor anonymous inside a query triggers client-side evaluation"
For a query that internally projects into an range variable of a type which is not recognized as either an entity type or an anonymous type, any subsequent query operators is evaluated in memory even if the range variable is not present in the final projection.

In theory we could recognize more common cases in which intermediary types can be eliminated from the query. This can improve how we proc

[2017-04-07 22:42] divega commented on #8088
Re unique indexes, vs. unique constraints and alternate keys, I think we need to work a bit on our ubiquitous language :smile:

[2017-04-07 22:51] divega commented on #7956
@ajcvickers FYI, nullability is already covered in #4415 and mutability in #4073.

[2017-04-07 22:52] divega commented on #4073
Keywords: mutable alternate keys.

[2017-04-07 22:52] divega commented on #4415
Keywords: nullable alternante keys.

[2017-04-08 05:33] maumar commented on #7421
This is now fixed, closing

[2017-04-08 05:33] #7421 closed

[2017-04-08 06:35] NightOwl888 commented on #4524
Where is the "tooling" element supposed to go in project.json? I can't seem to find any documentation on this.

Also, what version of the CLI was it first supported in?

[2017-04-08 09:39] Suriman commented on #3797
Hi,

Lazy loading is an essential feature for some scenarios that occur in the reality of current business applications.

For example, it is essential to be able to implement solutions based on rule engines, such as CodeEffects. See http://www.codeeffects.com/.

This rule engine evaluates a rule by navigating through a hierarchy of objects so that child objects are loaded dynamically as the engine

[2017-04-08 13:40] NickCraver commented on #8007
@anpete I've thrown up a PR in #8110, let me know what else you need!

[2017-04-08 19:10] smithaitufe commented on #8098
@maumar @ajcvickers What is the way forward?

[2017-04-08 21:12] weitzhandler commented on #629
@DalSoft Is this another project in the solution, or things added to the various current project files?
@bricelam Thanks for your sympathy!

[2017-04-09 05:00] maumar commented on #8098
@smithaitufe try executing the problematic query outside of the main query:

[code]

Because Roles in the original query return a collection even if we could translate it perfectly, we would produce additional queries to get the data for Roles. So doing it the way I suggested doesn't make the performance worse.

[2017-04-09 06:27] DDoSolitary opened #8111 "Unexpected ignored includes"
Hello!
I'm trying to load data with the following code.
I think the `list` should be a list of `Post`s with `Post.Category` loaded, but what I got are `Post`s with `Post.Category == null`.
After checking the log, I found the `Include(p => p.Category)` ignored: `Microsoft.EntityFrameworkCore.Query.RelationalQueryCompilationContextFactory:Warning: The Include operation for navigation: 'pt.Post.Categ

[2017-04-09 07:59] DDoSolitary commented on #8111
Closing as found it duplicate of #4641
Sorry for not searching before opening this.

[2017-04-09 08:27] tomerNG opened #8112 "Provider: Override table alias in the query pipeline"
Is there a way to override the delimiter creation of an alias?
I would like to use "_" instead of ".".

For example: (this is generated by EF right now)
[code]
I would like to use p_Country as the alias instead of p.Country.
Can I somehow override it on my provider (I'm writing a provider for the Google Spanner db)?

[2017-04-09 14:14] NinoFloris commented on #7863
So how does this problem actually manifest?

I definitely know it is an expression visiting problem but where I would have to look then is unknown terrain for me.

I presume there is an expression visitor that decides that the nested function should be visited.
Then another visitor goes and finds all the parameters used in the expression tree and adds them to the ShaperCommandContext? Then my ques

[2017-04-09 16:41] smitpatel commented on #8112
@tomerNG - (Assuming you are writing relational provider)
You need to add provider specific `QueryCompilationContext`. (e.g. https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer/Query/Internal/SqlServerQueryCompilationContext.cs) which is deriving from `RelationalQueryCompilationContext`.

Look at this method in `RelationalQueryCompilationContext`
https://github.com/aspnet/Entit

[2017-04-09 22:05] dvdobrovolskiy opened #8113 "float? maps to (real, not null)"
Sorry if I misunderstand something but google couldn't not help me here
I have model

[code]

I expect Base2 allow null but this is what I get in DB

[code]

sorry buddy, no Nulls allowed

**Update**
```public System.Nullable<float> Base2 { get; set; } ```
works

[2017-04-10 07:02] MichaelKetting commented on #4311
@smitpatel Thanks for testing this! I've got one or two more things I was hoping to get done before releasing v2.2 (https://www.re-motion.org/jira/browse/RMLNQ-25 and https://www.re-motion.org/jira/browse/RMLNQ-111). Am not sure yet regarding my available time but I'd like to wait one or two weekends before making that descision and see how it goes.

[2017-04-10 08:05] cdie commented on #6985
About original issue, setting State (solution I chosse, thanks @ajcvickers for this) is now throwing InvalidOperationException.
In m y case, I retrieve my entity from a part of my app, and with a set of include, in another context, when trying to setting state, I have the exception. I work in a pub-sub situation, so my context is freshly created any time, but I sometimes use Include, which, in thi

[2017-04-10 09:00] tomerpeled commented on #8112
Cool! That's indeed did the trick :)

Thanks!

[2017-04-10 13:47] MaxxDelusional commented on #4114
@rowanmiller I tried using your second suggestions. The query still seems to execute locally, even after adding the null check.
[code]

The logger says `The LINQ expression '{__modifiedById_0 => Contains(Convert([x].ChangedById))}' could not be translated and will be evaluated locally.`

[2017-04-10 14:10] tuespetre commented on #8095
I can take this one if you want, @smitpatel

[2017-04-10 14:41] cdie opened #8114 "Consider using protected instead of private for services members"
I need to rewrite a custom implementation of StateManager. In fact, I only need a specific method to do a different test. To do so, I inherits from StateManager class. But many members are private, so I need to redefine them, same way they're defined in base class just for my method needs.
Also, I have to use reflection to fill base one with my values. It would be more easy if they're proected

##

[2017-04-10 15:27] ajcvickers commented on #6985
@cdie That message indicates that there are two entity instances that have the same key. If these are intended to be the same entity--for example, one from a query, the other coming from somewhere else, then it will require them to be resolved to a single instance, possibly just choosing one, otherwise merging values from one into another.

[2017-04-10 15:35] ajcvickers commented on #8114
@cdie We try to keep the correct balance between public API service, internal API service put exposed as public, and truly private implementation details of the code. If there are specific cases where something that is private needs to be protected, then we would consider that case. Given that, can you provide some more details as to what you need access to and why? Or alternatively, if it is a sm

[2017-04-10 15:37] darkurse commented on #8033
Hi @anpete, sorry for late reply as I've been down with nasty flu :(

Spot on ! Your intuition was correct, it was the service registration.  And also I made a mistake with the second string parameter in my `ContainsNoCase` signature when defining internally the `MethodInfo` :

[code]

However, it still doesn't work .. The method `Translate(MethodCallExpression methodCallExpression)` is called wit

[2017-04-10 15:42] ajcvickers commented on #8113
@dvdobrovolskiy What version of EF Core and what database provider are you using? I used 1.1.1 with SQL Server and got this:
[code]

[2017-04-10 15:55] JT-Bruch commented on #8104
Yeah I am.. I was trying to generalize the code and messed up on the copy/paste. :)  I will update and verify that it still is not working.

[2017-04-10 15:59] ErikEJ commented on #8113
@ajcvickers Would it not be better to explicitly specify "NULL" ? https://docs.microsoft.com/en-us/sql/t-sql/statements/set-ansi-null-dflt-on-transact-sql

[2017-04-10 16:22] jnegron357 commented on #8077
I'm getting the same issue except my output is just a bunch of empty lines:
`.HasDefaultValueSql("create default [DEFgetdate] as getdate()

");
`
When I look at the definition for the custom default DEFgetdate I see that it also has several lines of empty space, could it be the EF core is picking it up from there? If so then maybe it just needs a Trim() function call at the time of generation of c

[2017-04-10 16:23] ajcvickers commented on #8113
@bricelam Any comment on @ErikEJ's point?

[2017-04-10 16:41] ajcvickers commented on #4524
@NightOwl888  The  [.NET Core SDK 1.0.0](https://www.microsoft.com/net/download/core) no longer supports project.json or Visual Studio 2015. Everyone doing .NET Core development is encouraged to [migrate from project.json to csproj](https://docs.microsoft.com/dotnet/articles/core/migration/) and [Visual Studio 2017](https://www.visualstudio.com/downloads/).

*BTW this is a canned response and may

[2017-04-10 16:54] NightOwl888 commented on #4524
I've been told (but have not confirmed) that VS 2017 and the unified .csproj file for .NET Framework/.NET Core is not fully functional yet. And I really don't have the time to migrate my 35 projects (105 different build configurations) to .csproj just to jump over a lot of other hurdles trying to develop again. So for the time being, we are sticking with the project.json file (since that is the wa

[2017-04-10 16:57] dvdobrovolskiy commented on #8113
@ajcvickers 1.1.1 with SQL Server
Assembly Microsoft.EntityFrameworkCore, Version=1.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

[2017-04-10 17:01] ajcvickers commented on #8113
@dvdobrovolskiy Can you post some code that reproduces the issue you are seeing?

[2017-04-10 17:13] andrelmp opened #8115 "Cannot create database when using MemoryOptimizedTables"
I have a entity configured to use MemoryOptimizedTabled as follow:
[code]
When the application starts i run the following command to apply migrations to database:
[code]
If database already exists on server without any table or data everything works fine, but if not exists the exception above is thown.

It seems that when I create the database using Sql Manager, the AUTO_CLOSE option is false, but

[2017-04-10 17:19] anpete commented on #8033
@darkurse Looks like ContainsNoCase is a static extension method so the target will be the first argument, not .Object.

[2017-04-10 17:25] omkarachary opened #8116 "Unable to Add migrations EF core V1.0.2 Code first Migrations for .Net core V1.0.3"
Hi Team,

I'm unable to create Migrations with EF Core 1.0.2 my dot net Core version is 1.0,3.

We recently migrated our project from .net core 1 to .Net core 1.0.3 as a part of this we also migrated EF Core Version.

The new upgradation from entity framework 1.0.1 to 1.0.2 is blocking us from creating the migrations.

Project.JSOn as attached

Figure 1: running migration command

![migrations](ht

[2017-04-10 17:32] dvdobrovolskiy commented on #8113
sorry but what I can show you? it just model and then I add migration via
add-migration some name

[2017-04-10 17:36] dvdobrovolskiy commented on #8113
I added new property to model mentioned above

        public float? Base4 { get; set; }

and now it works fine

            migrationBuilder.AddColumn<float>(
                name: "Base4",
                table: "Meters",
                nullable: true);

but here is what I had in previous migrations when I added
        public float? Base2 { get; set; }
        public float? Base3{ get; set; }

[2017-04-10 17:37] #8054 closed

[2017-04-10 17:40] andrelmp commented on #8115
According to those articles [Link 1](https://docs.microsoft.com/en-us/sql/relational-databases/policy-based-management/set-the-auto-close-database-option-to-off) and [Link 2](https://support.microsoft.com/en-us/help/2160685/recommendations-and-guidelines-for-setting-the-auto-close-database-option-in-sql-server) it's a bad practice use AUTO_CLOSE ON.
Maybe set AUTO_CLOSE OFF by default will be a go

[2017-04-10 17:54] smitpatel commented on #8095
@tuespetre - Sure. I haven't started work on this yet so you can go ahead with this. Thanks.

[2017-04-10 18:25] lajones commented on #7938
@jjklee121 What version of EF packages do you have? I do see the above behavior in 1.1.1, but this is already fixed in 2.0.0 (@ajcvickers this includes retaining the filter info on indexes). Closing as already fixed, but please feel free to re-open if you can see it using the 2.0.0 packages.

[2017-04-10 18:25] #7938 closed

[2017-04-10 19:26] maumar commented on #7429
Fixed in d8567c003c4bd50f23811e501348d7c7e57340ec

[2017-04-10 19:26] #7429 closed

[2017-04-10 20:01] maumar commented on #6921
This works in the current bits and produces the following sql:

[code]

[2017-04-10 20:01] #6921 closed

[2017-04-10 20:42] bricelam commented on #8106
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#net-standard-limitation

[2017-04-10 21:04] Mucaccino commented on #2725
+1

[2017-04-10 21:05] maumar commented on #7657
Verified that this works in current bits, closing

[2017-04-10 21:05] #7657 closed

[2017-04-10 21:20] francoisbeaussier commented on #4114
@MaxxDelusional As far as I can tell, @rowanmiller's suggestion to add a null check was simply to prevent the nullReferenceException that may happen when the client execute the .Value locally. He did not mean that the evaluation would happen on the server.

[2017-04-10 22:29] mikebridge commented on #6846
I agree this is confusing.  It'd be nice if all the dotnet commands ran the same way---seems strange that one accepts an environment variable and one a command line parameter.

[2017-04-10 22:34] bricelam commented on #6846
Dupe of #7353

[2017-04-10 22:39] JT-Bruch commented on #8104
@ajcvickers I was able to figure it out.  Needed the OpenConnection command before the SQL.

Here is a repo for where I was able to repro it for those in the future.

https://github.com/JT-Bruch/TestDatabaseSeed

[2017-04-10 23:50] ChuckkNorris opened #8121 "Scaffold-DbContext command not working"
When running the command to generate a model for an existing DB:
`Scaffold-DbContext "Server=MyIpAddress;Database=MyDb;User Id=myUid;Password=myPw;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -verbose`

I am receiving an error stating that I need to reference `Microsoft.EntityFrameworkCore.SqlServer.Design` however, it is referenced in my `.csproj` file as bo

[2017-04-10 23:56] lajones commented on #7617
@borisdj I'm assuming the foreign key allows nulls? If so that would explain it - see below.

@ajcvickers @bricelam At https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Design/Scaffolding/Internal/ScaffoldingUtilities.cs#L133 we declare that the `defaultOnDeleteAction` is `Cascade` if the FK is Required and `Restrict` otherwise.  If the `OnDelete(...)` we would scaffold matches the def

[2017-04-11 03:08] ghost opened #8124 "dotnet ef command not found"
i try development aspnet core+mysql+ef under macos+vscode, but the dotnet ef command can't work.  please help to resolve this problem

attach my csproj file
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <DotNetCliToolReference Include="Microso

[2017-04-11 07:05] ErikEJ commented on #8121
@ChuckkNorris You could try my GUI tool, it avoids adding design components to your production code all together https://twitter.com/ErikEJ/status/834405829889638402

[2017-04-11 07:27] darkurse commented on #8033
Oups :S Sorry about that. Thank you so much, it all works like a charm. 👍

[2017-04-11 08:04] jjklee121 commented on #7938
@lajones Thanks for getting back to me.
I have EntityFrameworkCore 1.1.0 and EntityFrameworkCore.DynamicLinq 1.0.3.3 installed. (I should've mentioned the versions in my initial post)
I will get these updated and see if that fixes my issue.

[2017-04-11 09:44] archanasoni opened #8125 "Connection state is coming as closed in First itteration for MVC application, when selecting table data"
Originally this issue was reported as #7129 . Opening here to discuss further:
----------------------------------
Excerpt from #7129
Our IBM EntityFramework Core Provider is based MS EF Core 1.0.1 . We have written MVC EF Application using IBM EntityFramework Core provider by following below link:
https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db

It just selects data fro

[2017-04-11 09:58] archanasoni commented on #7129
Opened issue #8125  to discuss further.

[2017-04-11 10:41] Knight1988 opened #8126 "EF6 CodeFirst query return wrong values."
I created following CodeFirst Model.

    public partial class ForumModel : DbContext
    {
        public ForumModel()
            : base("name=ForumModel")
        {
        }

        public virtual DbSet<Subject> Subjects { get; set; }

        protected override void OnModelCreating(DbModelBuilder modelBuilder)
        {
            // Create relationship
            modelBuilder.Entity<Subje

[2017-04-11 10:41] phhbr commented on #3380
Has there been any progress on the .NET Core framework supporting MS SQL's Always Encrypted feature?

[2017-04-11 14:06] tuespetre commented on #8094
Hmmmmm :trollface:

[2017-04-11 14:07] JonPSmith commented on #7340
I am currently working on a chapter covering configuring relationships and I have come across a case where a shadow property foreign key can become both a primary key and a foreign key, which then bumps into the `cannot be tracked because another instance of this type with the same key is already being tracked.` issue.

The example code I am using is as follows:

`Attendee` primary entity class
[c

[2017-04-11 14:35] wandelson commented on #629
What is the delivery forecast?

[2017-04-11 14:44] tinchou commented on #629
Final version? EF Core 2.
Nightly version? I'm hoping to get https://github.com/aspnet/EntityFramework/pull/7824 merged soon, I'd think no later than next Friday.

[2017-04-11 14:49] wandelson commented on #629
Final version? EF Core 2 ?

[2017-04-11 14:53] tinchou commented on #629
Yes. There will be an EF Core version 2 released sometime this year. It'll include this feature and others that we're working on. You can take a look at them if you search by issues with the filter [milestone:2.0.0](https://github.com/aspnet/EntityFramework/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0.0)

[2017-04-11 15:51] ajcvickers commented on #7340
@JonPSmith What is the shadow property that is a PK?

[2017-04-11 16:43] ajcvickers commented on #8125
@archanasoni Here are several observations based on the information above:
* If some code is going to use a connection, then it must ensure that connection is opened and closed appropriately. You should have a class that inherits from RelationalConnection in your code. Use this to open and close the connection. It uses reference counting to handle the situation where the connection has already bee

[2017-04-11 16:53] Eilon opened #8127 "Return multiple resultset from stored procedure in .net core"
_From @rpundlik on March 22, 2017 12:9_

While retrieving the results using stored procedure how can I retrieve and store multiple result set in view model in .net core

For e.g. from stored procedure I am returning records for below queries
[code]
and below is view model
[code]
This is how I am executing the stored procedure
[code]
How can stored the multiple result set using stored procedure in

[2017-04-11 16:53] Eilon commented on #8127
I think this question is more about retrieving multiple result sets from a sproc, and less so about MVC view models.

[2017-04-11 17:05] ajcvickers commented on #7617
@lajones
1. Yes. Cascade is the convention for required FKs, Restrict for optional FKs (although this really is not specified explicitly)
2. If the FK is required, then conventions will run and set Cascade, so the model that Migrations gets will have Cascade set. So, in principle, yes, although Migrations itself just follows what conventions have done to the model.
3. Migrations just outputs what

[2017-04-11 17:30] smitpatel commented on #7983
I investigated into this and this is bug in ReLinq's QueryParser.

When we get the expression tree (after ParameterExtraction) the LambdaExpression in Select has `NewExpression` for `PostDTO` which converts to `ConstantExpression` of `PostDTO` in QueryModel.SelectClause after ReLinq parses the query.

Generated QueryModel.ToString
[code]

@MichaelKetting

[2017-04-11 17:51] smitpatel commented on #7983
@dmitryshunkov - As a workaround you can move defining new PostDTO from select clause. Effectively write query like this
[code]

[2017-04-11 17:57] robertmclaws commented on #1100
The point is to create a minimal set of **core** types that can be used on portable platforms, not re-create a huge spatial querying library. I **do not** want to take a dependency on NetTopologySuite the project where the core types for my system reside, because that will add unnecessary bloat to my apps.

In an ideal world, those core types would have minimal implementation, then @FObermaier and

[2017-04-11 18:20] lajones commented on #7617
Thanks @ajcvickers. @borisdj I'm going to close this as by design. But if the above does not explain what you are seeing feel free to re-open.

[2017-04-11 18:26] JT-Bruch opened #8128 "SqlException: Using IDENTITY_INSERT ON, and Adding a Record with Id 0 causes error."
Describe what is not working as expected.
I have the following code
[code]

Which seeds a database for me.  This does not work if the EntityTable first records' value is zero.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.
1.

[2017-04-11 18:33] ajcvickers commented on #8128
@JT-Bruch EF Core does not allow key values that are the CLR default for the type when using properties configured to be store generated. We did at some point allow this to be configured, but that added complexity and confusion, so currently if you must use the CLR default as a valid key value, then you need to make the property a nullable type. (Usually a better option is to just not use zero as

[2017-04-11 18:40] JT-Bruch commented on #8128
@ajcvickers yeah, ideally I wouldn't use the CLR default, the issue is that this data is coming from an existing database and the purpose of this code is to simply generate our database.  Our application is rather large and I'm afraid that having the types be nullable could cause issues, OR change from the CLR default will cause issues with the application logic down the road.

That said - of the

[2017-04-11 18:40] JT-Bruch commented on #8128
Also - thanks for the prompt response!

[2017-04-11 18:46] ajcvickers commented on #8128
@JT-Bruch You could consider making the key property ValueGenerated.Never in the model just while you are importing data.

[2017-04-11 19:35] meikeric opened #8129 "Extending SqlServerQuerySqlGenerator"
AFAIK JSON mapping is not supported yet...  Therefore, I dug into the EFCore code and came up with the following implementation which has pretty good success and allows me to have a base class with many child classes that maps all the additional class properties that don't have a physical db field into a single field using JSON and deserializes (on the db side using JSON_VALUE or JSON_QUERY if it'

[2017-04-11 21:28] xperiandri commented on #1100
NetTopology suite is too complicated.
https://github.com/juergenpf/Geodesy is much simpler

[2017-04-11 22:10] #8092 closed

[2017-04-11 22:19] anpete opened #8131 "Undo Distinct/Offset/Limit ExplodeStarProjection change caused by Include Compiler binding"
Tracking bug for @smitpatel

[2017-04-11 23:21] maumar opened #8132 "Query: using client method on a collection navigation in the SelectMany inner sequence throws during compilation"
[code]

exception:
[code]

[2017-04-11 23:23] borisdj commented on #7617
@lajones
Yes, FK allowed NULL in this scenario.
I wasn't aware that default behavior depends on Nullability.
Taking that into the consideration, it's all fine, there is no bug.
These are possible combinations:
Null
  SQLCascade   - Default
  SQLNoAction - ReferentialAction.Restrict(explicit)
NotNull
  SQLNoAction - Default
  SQLCascade   - ReferentialAction.Cascade(explicit)

[2017-04-12 00:09] lajones commented on #7617
@borisdj Glad we sorted that out. Thanks for the confirmation.

[2017-04-12 00:12] bricelam commented on #7889
Re-opening. We probably need to update the PMC tools too.

[2017-04-12 00:59] maumar commented on #8068
This is now fixed, most likely as a side effect of collection navigation changes, closing

[2017-04-12 01:40] maumar commented on #6818
NRE is indeed gone, now we tell the users that expected value was int, but got null instead.

[2017-04-12 01:40] #6818 closed

[2017-04-12 01:57] maumar commented on #5171
This issue is now fixed, regression test added here: f274b88b5dd0755ae444285a9f78a3875782ced0

[2017-04-12 01:57] #5171 closed

[2017-04-12 04:44] maumar commented on #3380
We haven't added any explicit support yet, however AlwaysEncrypted feature is fairly transparent, so you should be able to make it work with EF Core for the most part. You do need to provide DDL for the encrypted columns yourself (e.g by adding raw sql in your migrations) and we advise against encrypting PKs/FKs (many query scenarios add order by on PKs and those don't work with encrypted columns)

[2017-04-12 04:45] firedeepan opened #8135 "String fields store 255 symbols only for MySql"
I created a column with [Column(TypeName = "TEXT")]. But the string is limited to 255 symbols when it is saved. I even tried changing the data type manually in MySql Workbench. Still Entity Framework retrieves only the first 255 symbols from the database.  I tried [StringLength(65635)] and [MaxLength(65635)] still no luck.

But when I use fluent API with the following code
`entity.Property(p => p.

[2017-04-12 07:31] plamen-i commented on #1100
As I see, https://github.com/juergenpf/Geodesy is oriented towards calculations. It contains no geometry types in form they need to be stored in GIS-enabled database (point, line, polygon, etc.) and participate in GIS-enabled database level operations (SQL-based intersect, contains, touches and others). As I see, main goal of EF in GIS support should be to leverage these operations at database lev

[2017-04-12 08:03] Wayne-Mather commented on #8124
@bodhichina Did you download the MacOS SDK from https://www.microsoft.com/net/download/core?

Just need to ensure you have the latest version installed. Your project also references older files than the v1.1.1 on my Windows 10 machine.

Here is a copy of my item groups for you to compare against for the v1.1.1 train

[code]

[2017-04-12 08:10] plamen-i commented on #1100
@robertmclaws I agree with you. And I see an easy answer in this situation - that's the way GeoAPI is planned. AFAIK NetTopologySuite uses in its code GeoAPI geometry interfaces only. So a GeoAPI geometry interfaces implementation in minimal EF Core geometry types would allow us to read/write geometries in database and use them without converting with NetTopologySuite where appropriate (back-end)

[2017-04-12 08:13] JonPSmith opened #8137 "One-to-one relationship with bad data behaviors differently for bi-directional verses uni-directional relationships"
I am building some tests/examples for one-to-one relationships, and I found that EF Core differs in its handling of the relationship if an inverse navigational relationship exists or not:
1. One-to-one relationship **without** a inverse navigational relationship correctly saves data
2. One-to-one relationship **with** a inverse navigational relationship detaches data that has a duplicate one-to-on

[2017-04-12 08:20] JonPSmith commented on #7340
@ajcvickers,

What happens is that the shadow property is called `RequiredTrackId` because the navigational property is `Required` (based on EF Core naming rules). Because I place the FK in the dependent entity `RequiredTrack`, which has a PK of the same name, `RequiredTrackId`, then the PK and FK are combined.

Looking at the database the `RequiredTrack` table has a column called `RequiredTrackId

[2017-04-12 08:30] shenniubuxing3 commented on #7977
@sonphnt thanks

[2017-04-12 10:25] RickyG-Akl commented on #8127
@Eilon it looks there was an issue raised in the past [#6026](https://github.com/aspnet/EntityFramework/issues/6026) but it was closed for some reason.  Is there any current plan to include this feature in the [2.0 milestone](https://github.com/aspnet/EntityFramework/milestone/24).

[2017-04-12 10:42] MaherJendoubi commented on #8137
@JonPSmith Please share your Chapter07DbContext and your ConfigureServices method in Startup.cs file.

[2017-04-12 12:15] ErikEJ commented on #3380
Missing support in the .NET Core ADO.NET SqlClient is not an EF issue, please raise an issue in the .NET Core repo. In the meantime, you can use the .NET 4.6.1+ client instead

[2017-04-12 12:34] stephentoub opened #8138 "Lazy loading of non-navigation properties"
_From @Pinox on March 22, 2017 18:20_

As requested I opened a seperate thread for this request.

In linq we can't exclude field name in the select statement. List.Select(x=> new { column1 , column2 })
using code first approach in EF it would be nice if we can say "give me all table fields except the byte[] field of 20mb. By selecting the field names in the current linq scenario changing the datab

[2017-04-12 12:34] stephentoub commented on #8138
_From @svick on March 22, 2017 19:28_

Reposting my comment from https://github.com/dotnet/corefx/issues/17376:

I'm not sure this is something that makes sense in the general LINQ. On the other hand [EF Core supports explicit `Include`](https://docs.microsoft.com/en-us/ef/core/querying/related-data), so maybe it could make sense if it also supported explicit `Exclude`. In that case, it might make

[2017-04-12 12:49] JonPSmith commented on #8137
@MaherJendoubi . I have added my `Chapter07DbContext` to the original post.

[2017-04-12 13:12] MaherJendoubi commented on #8137
@JonPSmith How about ConfigureServices()? to reproduce the issue.

[2017-04-12 13:13] td4ddk commented on #7891
Adding the using statment solved my problem!

[2017-04-12 13:58] Esperadoce commented on #8124
Hi,
 You should Add in the Item group a dotnet cli reference of EF Tools `<ItemGroup>
    <DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="1.0.0" />
</ItemGroup>`

[2017-04-12 14:20] JonPSmith commented on #8137
I don't have a ConfigureServices(). This is a unit test using in-memory Sqlite, which I have used in other issues I have posted here.

[2017-04-12 15:04] MaherJendoubi commented on #8137
@JonPSmith Would you please share a repro project sample?

[2017-04-12 15:08] MaherJendoubi commented on #8137
@JonPSmith I didn't succeed to reproduce the issue because of this :
![image](https://cloud.githubusercontent.com/assets/1798510/24964846/a79257e6-1fa2-11e7-8c2c-32feb163d1b0.png)

[2017-04-12 15:10] MaherJendoubi commented on #8137
![image](https://cloud.githubusercontent.com/assets/1798510/24964929/dcbfaf36-1fa2-11e7-98b4-773b7c2cbec2.png)

[2017-04-12 15:54] ajcvickers commented on #7340
@JonPSmith So somehow even though RequiredTrack has a property called RequiredTrackId, this is not being used and a shadow property with the same name is being created instead? Or am I missing something? Can you post what the model looks like using this: https://blog.oneunicorn.com/2016/11/17/ef-core-1-1-looking-at-your-model-in-the-debugger/

[2017-04-12 16:07] JonPSmith commented on #8137
OK. The repo is at https://github.com/JonPSmith/EfCoreInAction and you need branch `Chapter07`. Be aware I am adding other items, so it may get out of date in weeks to come. It good as of today. look for unit test `TestOption1OneToOneDuplicateTicketBad` in test class [Ch07_OneToOneRelationships](https://github.com/JonPSmith/EfCoreInAction/blob/Chapter07/Test/UnitTests/DataLayer/Ch07_OneToOneRelati

[2017-04-12 16:18] ajcvickers commented on #8137
@JonPSmith I'm finding it a little hard to understand exactly what you are describing, but two things may help clarify the behaviors of EF:
* If EF finds a reference navigation property pointing from one type to another but does not find an inverse navigation pointing the other way, then EF doesn't know for sure whether this is a one-to-one or a one-two-many relationship. Depending on the semantic

[2017-04-12 16:23] ajcvickers commented on #8135
@firedeepan The MySql provider seems to have issues with data annotations. One such bug is here: https://bugs.mysql.com/bug.php?id=84423

This case is different but probably has the same root cause. Either way, I would file a new issue on the MySql bug tracker.

[2017-04-12 16:25] ajcvickers commented on #8135
@firedeepan Also, you might want to try a different MySql provider. I can't say which will work best, but others have had luck switching. See https://docs.microsoft.com/en-us/ef/core/providers/ for a list of the ones we are aware of.

[2017-04-12 16:33] JT-Bruch commented on #4846
Just ran into this myself.. especially when attempting to create a code first database from an existing database.  Would LOVE to see this added.

[2017-04-12 16:42] anpete commented on #8138
Part of #3797 - lazy loading should also be available for non-navigation properties. We will need API for marking such properties as lazy.

[2017-04-12 16:50] lajones commented on #7576
Fixed with commits 0993e23 and caa6dce8.

[2017-04-12 16:50] #7576 closed

[2017-04-12 16:57] lajones commented on #6156
As of the fix for #7956 we no longer do that.

[2017-04-12 17:05] anpete commented on #8095
@tuespetre Any progress on this? 😁

[2017-04-12 17:07] tuespetre commented on #8095
@anpete impeccable timing! Waiting on tests to finish running before pushing up the PR.

[2017-04-12 17:12] anpete commented on #8095
🎆 🍾

[2017-04-12 17:15] Eilon commented on #6968
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:15] Eilon commented on #7315
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:15] Eilon commented on #7698
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:15] Eilon commented on #7711
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:16] Eilon commented on #7714
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:16] Eilon commented on #7899
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:16] Eilon commented on #7944
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:19] anpete commented on #4311
@MichaelKetting Thanks, btw we are hitting RMLNQ-111 and so it would great to get that in.

[2017-04-12 17:22] pranavkm opened #8139 "[1.1.3 patch]: Timeouts in test runs"
1. DatabindingSqlServerTest.Adding_entity_to_state_manager_of_different_type_than_local_view_typ
2. DatabindingSqlServerTest.Entities_removed_from_the_local_view_are_marked_deleted_in_the_state
3. DatabindingSqlServerTest.DbSet_Local_does_not_call_DetectChanges
4. TransactionSqlServerTest.SaveChanges_uses_explicit_transaction_and_does_not_rollback_on_failu
5. TransactionSqlServerTest.RelationalTra

[2017-04-12 17:22] pranavkm commented on #8139
cc @ajcvickers  \ @Eilon

[2017-04-12 17:25] smitpatel commented on #8139
While we are there, why the patch versioned 1.1.3 for EF?

[2017-04-12 17:27] lajones opened #8140 "Update Scaffolding - can now use Identity on a byte property"
Previously EF did not allow the `Identity` strategy to be used on properties which had the data type `byte`.

We enforce this in [SqlServerScaffoldingModelFactory](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer.Design/Internal/SqlServerScaffoldingModelFactory.cs#L161) by issuing a warning if we are trying to put Identity on a byte property.

Discussion with @ajcvickers res

[2017-04-12 17:39] tuespetre commented on #7520
I have an idea to simplify/streamline a good chunk of code around shaped queries, parameter injection, and similar (possibly includes but I'm not up to speed on how that feature has been evolving.) Basically, represent all of these 'special method call expressions' as reducible extension expressions that carry appropriate metadata with them: for instance, `ShapedQueryExpression`, which carries wit

[2017-04-12 17:46] #8095 closed

[2017-04-12 17:52] anpete commented on #7520
This sounds good. We have discussed changes like this internally, too. Look forward to the PR.

[2017-04-12 17:58] bricelam opened #8142 "Tools: Port #7889 to 1.1.1"
The 1.0.1 tools fix for #7889 should be ported to 1.1.1

[2017-04-12 18:00] pranavkm commented on #8139
What do you mean?

[2017-04-12 18:02] Eilon commented on #8139
For EF the actual version is 1.1.2.

[2017-04-12 18:41] ajcvickers commented on #7105
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-12 18:41] #7105 closed

[2017-04-12 18:42] ajcvickers commented on #8026
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-12 18:42] ajcvickers commented on #8047
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-12 18:45] ajcvickers commented on #8063
@anpete to confirm risk is low enough to take in patch.
@Eilon once @anpete has confirmed we would like to take in 1.1.2, if possible, or otherwise the next patch.

[2017-04-12 18:47] ajcvickers commented on #8113
@dvdobrovolskiy Can you post a full code listing or project that reproduces this issue?

[2017-04-12 18:51] ajcvickers commented on #8115
@divega Can you do some investigation into the AUTO_CLOSE question. Maybe we should be using a differentr default in Migrations.

[2017-04-12 18:51] ajcvickers commented on #8116
**EF Team Triage:** We are not planning to fix this issue because the  [.NET Core SDK 1.0.0](https://www.microsoft.com/net/download/core) no longer supports project.json or Visual Studio 2015. Everyone doing .NET Core development is encouraged to [migrate from project.json to csproj](https://docs.microsoft.com/dotnet/articles/core/migration/) and [Visual Studio 2017](https://www.visualstudio.com/d

[2017-04-12 19:05] bricelam commented on #8113
I'm not sure how common it is. We've hard-coded other things that assume the default database configuration in the past, but have heard little feedback about it.

[2017-04-12 19:20] ajcvickers commented on #8142
@bricelam Forgive me for not keeping this all straight, but should this then ship as part of the upcoming 1.1.2 patch?

[2017-04-12 19:23] #7944 closed

[2017-04-12 19:24] #7714 closed

[2017-04-12 19:26] #7698 closed

[2017-04-12 19:26] bricelam commented on #8142
Yes, I was going to check with you and @Eilon about what milestone these should be in...

[2017-04-12 19:31] ajcvickers commented on #8139
@pranavkm With regard to the branch, please use the branch we already created for 1.1.2. It has existed for some time and we have been checking in all our 1.1.2 fixes to that branch.

@Eilon These tests were fixed on 2.0, but this fix required a product change to allow the timeout to be set for the command used to create the database. This has low value for customers since it is unlikely that they

[2017-04-12 19:34] divega commented on #8115
@ajcvickers @bricelam I am missing context here. What are we using AUTO_CLOSE for?

[2017-04-12 19:35] ajcvickers commented on #8126
@Knight1988 This GitHub tracker is for EF Core issues. EF6 issues should be filed at https://github.com/aspnet/EntityFramework6

That being said, it looks like the relationship is being defined as Required, meaning that the ParentId property is expected to be non-nullable, but your query is then expecting there to be nulls in the ParentId column.

[2017-04-12 19:37] bricelam commented on #8115
@AndriySvyryd ?

[2017-04-12 19:38] ajcvickers commented on #8115
@divega Maybe the statement, "but when the Entity Framework creates this option it is true by default" is in error or only happens sometimes?

[2017-04-12 19:39] #6968 closed

[2017-04-12 19:39] ErikEJ commented on #8115
Localdb defaults to auto-close, wonder if that is the real issue (dev/std edition of course have autoclose off)

[2017-04-12 19:42] ErikEJ commented on #8113
I think it is also a question about being unambigous, and pleasing SQL DBAs

[2017-04-12 19:43] ajcvickers commented on #8115
@ErikEJ That makes sense. In that case, I don't think Migrations should specify anything that would override the default. If a special case (like memory-optimized tables) requires a specific setting, then it seems reasonable to edit the migration to do that. Do people agree?

[2017-04-12 19:44] ajcvickers commented on #8113
@bricelam I'm fine with leaving it the way it is. @divega any concerns?

[2017-04-12 19:46] andrelmp commented on #8115
@ajcvickers i think this is the best choice

[2017-04-12 19:47] ErikEJ commented on #8115
+1 - this happens since localdb 2016 sp1 now supports mem-optimized and many other Ent edition festures

[2017-04-12 19:48] AndriySvyryd commented on #8115
@andrelmp So are you using localdb?

[2017-04-12 19:49] divega commented on #8115
Yep, I just found about that, if you do this on LocaldDB:

[code]
The latter return 'Hey', 1.

But it is not the default in other editions.

[2017-04-12 19:49] andrelmp commented on #8115
@ajcvickers no, is a instance db on Express and Dev editions

[2017-04-12 19:52] divega commented on #8115
@andrelmp Express likely default to `AUTO_CLOSE ON` same as LocaldDB. But Developer edition should not. According to the documentation it is because they are "optimized" for the desktop, and they let you copy and backup database files when they are not in use.

I wonder if customers are expected to set the option `AUTO_CLOSE OFF` explicitly in order to use those features.

[2017-04-12 19:52] ajcvickers commented on #8127
@rpundlik @RickyG-Akl There isn't currently any support for this when using EF and FromSql. The workaround is to drop down to ADO.NET and use the DbConnection directly to run the query and handle the multiple resultsets. Putting this issue on the backlog so that we can consider adding support in the future.

[2017-04-12 19:56] divega commented on #8115
@ajcvickers I agree if you mean EF Core should not be in the business of setting this option to any particular value. Although we do the database creation, this is one of the options that can be set afterwards:

[code]

[2017-04-12 20:00] andrelmp commented on #8115
@divega it's true, i tested on enterprise edition and AUTO_CLOSE is OFF by default

[2017-04-12 20:03] divega commented on #8115
I did a quick search in the code, and I don't think we are setting the option explicitly. So I think we can close this issue unless I have misunderstood something.

FWIW, I also found that at https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer/Storage/Internal/SqlServerDatabaseCreator.cs#L193 we have retry logic for transient failures that commonly occur while "auto-closing".

[2017-04-12 20:08] AndriySvyryd opened #8144 "Memory leak in LocalView"
Each time we create a `LocalView` instance we call `ILocalViewListener.RegisterView`, but don't ever deregister them.
Also we cache `LocalView` instances in `DbSet`, but we don't cache `DbSet` instances returned by `DbContext.Set`

[2017-04-12 20:31] divega commented on #8113
@ajcvickers I may be missing context, but I tend to agree with @ErikEJ that it would be better if our DDL specified nullability explicitly even if, regardless of how common it is to issue `SET ANSI_NULL_DFLT_ON OFF`, e.g.:

[code]

On the other hand, I have no idea if this is related to how @dvdobrovolskiy has hit this problem. I don't think he has necessarily used `SET ANSI_NULL_DFLT_ON OFF`.

[2017-04-12 20:36] ajcvickers commented on #8115
Closing as I think there is agreement that EF shouldn't do anything special here.

[2017-04-12 20:47] ajcvickers commented on #8113
@divega I think it is a separate issue. If you are @ErikEJ think this is something that would be worth doing, then can you file a new issue for it?

[2017-04-12 20:48] pranavkm commented on #8139
Sure, I can fix up the Coherence-Patch branches to point to the repo. Can you get someone to cherry-pick the NuGet.config changes from the `patch/*` branches on to the release branches?

Also, another test failure on Windows:
[code]

[2017-04-12 20:50] ajcvickers commented on #8139
@pranavkm I don't know what this means: "Can you get someone to cherry-pick the NuGet.config changes from the patch/* branches on to the release branches?" Can you be more specific?

[2017-04-12 20:52] smitpatel commented on #8139
I know what it means. I will do it.

[2017-04-12 20:54] pranavkm commented on #8139
There's a commit in each of `patch/1.0.5` and `patch/1.13` that updates the NuGet.config to use the new patch feeds:

* https://github.com/aspnet/EntityFramework/commit/ec3d967bc53dd18e5590686fe973b9910d0c486a
* https://github.com/aspnet/EntityFramework/commit/e976132e8fe03d54a5761b0aefcfbdd4cad8a3bc

Once we have these cherry-picked, we should be good to delete the two patch feeds in this repo.

[2017-04-12 20:55] ajcvickers commented on #8139
@smitpatel @pranavkm  Thanks!

[2017-04-12 21:19] Eilon commented on #8139
@ajcvickers - your call on the best way to mitigate these failures. If changing timeouts is impractical (or impossible without new features), then disabling is fine. We generally don't add new features in patches, and almost certainly not for just a test.

[2017-04-12 21:21] ajcvickers commented on #8139
@Eilon  I'm fine with disabling. @smitpatel Can you do this as well, since you're already working in these branches. 😸

[2017-04-12 21:29] smitpatel commented on #8139
I updated the rel branches. @pranavkm - If you updated the patch build to use branches rel/1.0.4 & rel/1.1.2, we can know delete the patch branches and also get better feedback about what is failing which needs to be disabled.

[2017-04-12 21:31] divega opened #8146 "Consider specifying NULL columns explicitly in DDL"
(copied from a conversation in https://github.com/aspnet/EntityFramework/issues/8113)

Currently for an entity type like this:

[code]

For SQL Server we generate DDL like this:

[code]

As mentioned by @ErikEJ the nullability of `Base2` is ambiguous in the script and it can even be altered globally by `SET ANSI_NULL_DFLT_ON OFF` (see https://docs.microsoft.com/en-us/sql/t-sql/statements/set-ansi-

[2017-04-12 21:32] divega commented on #8113
@ajcvickers done.

[2017-04-12 21:48] lincolnzocateli commented on #7031
![image](https://cloud.githubusercontent.com/assets/16601706/24980844/6270673a-1fb0-11e7-994f-2e1151edaa18.png)

I migrated a VS2015 application with EF6.1.3 to VS2017 (net461), but I am not able to do migrations and update-database

![image](https://cloud.githubusercontent.com/assets/16601706/24980893/9825ed6e-1fb0-11e7-8f25-b0cf56e2075b.png)

[2017-04-12 21:50] smitpatel commented on #6952
This works in current dev. Probably due of #5982

[2017-04-12 21:52] maumar commented on #6658
This still reproduces on current bits. We generate the following query plan:

[code]

[2017-04-12 22:20] dvdobrovolskiy commented on #8113
Sorry. Was out of office.

I cannot reproduce problem any more. New properties like
public float? Base5 { get; set; }
creates nullable field in DB

is anything I can do more?

[2017-04-12 22:26] AndriySvyryd opened #8147 "RequiresBufferingExpressionVisitor is too agressive"
`RequiresBufferingExpressionVisitor` marks queries as requiring buffering even if the `EF.Property` calls are not referring to shadow properties or the shadow properties from referenced entity types are not used in materialization.

[2017-04-12 22:26] smitpatel commented on #6658
Which node is non-reducible?

[2017-04-12 22:29] maumar commented on #6658
key selector and element selector on the GroupBy, updated the query plan with debug version instead

[2017-04-12 22:32] maumar commented on #6937
This works in the current bits. We produce the following sql:

[code]

[2017-04-12 22:33] maumar commented on #7102
This works in the current bits. Now we produce the following sql:

[code]

[2017-04-12 22:54] smitpatel commented on #6803
enable the tests once we upgrade to .Net core app 2.0

[2017-04-12 22:56] maumar commented on #7102
This works in current bits. We produce the following queries:

main:
[code]

N+1 query for colors:

[code]

N+1 query for ImageIds:

[code]

[2017-04-12 22:59] maumar commented on #7102
The models in those other bugs were incomplete. I tried to fill in the blanks, so the model may not be exactly correct. Used the following:

[code]

[2017-04-12 22:59] #7102 closed

[2017-04-12 23:01] maumar commented on #6938
When trying to reproduce, consider using this more "complete" model: https://github.com/aspnet/EntityFramework/issues/7102

[2017-04-12 23:26] ajcvickers commented on #8113
@dvdobrovolskiy Thanks for trying.

[2017-04-13 05:05] bricelam commented on #7031
@lincolnzocateli could you file an issue on https://github.com/aspnet/EntityFramework6

[2017-04-13 05:18] maumar commented on #7136
This works in current bits. We return 0 for students without scores, and produce the following sql:

[code]

[2017-04-13 06:14] MichaelKetting commented on #4311
@anpete Thanks for letting me know re RMLNQ-111. Then that's defintiely going into the upcoming release.

[2017-04-13 06:14] maumar commented on #4875
This works correctly in the current bits.
We produce the following sql:

[code]

[2017-04-13 06:14] #4875 closed

[2017-04-13 06:29] maumar commented on #3829
now we throw the following:

[code]

[2017-04-13 06:50] maumar commented on #7178
This works in the current bits. We produce the following query (removed includes for simplicity):

[code]

[2017-04-13 06:50] #7178 closed

[2017-04-13 06:52] gdoron commented on #7178
Thanks 🌷

[2017-04-13 07:02] Zonciu opened #8149 "Custom single navigation property name"
### Sql log and error message
The navigation property **User.Profile.Id** appear in sql as **[u].[ProfileId]**
[code]

### Code
[code]

When I rename UserProfile.Id into UserProfile.UserId, it works fine, looks like it is related by property name, how to custom the navigation property name by using the Fluent API ?

#### UserProfile.Id => UserProfile.UserId
Correct sql
[code]

### Further technica

[2017-04-13 07:05] maumar commented on #7746
It should be OK. Stuff in Caller/NullableCaller is never acesssible from the final projection (the result is either access operation or null)

[2017-04-13 07:59] JonPSmith commented on #8137
@ajcvickers,

Thanks for your comments - they make me go back to the unit test and look more closely at the database etc. It turns out there is not difference in the database/EF Core configuration between both cases - they both create a one-to-one relationship with a UNIQUE constraint on the FK.

This made me look further and I found that not all of the entities were being written to the database.

[2017-04-13 08:08] JonPSmith commented on #7340
@ajcvickers,

Sorry. I don't think I explained precisely enough what the table looks like. Here is the SQL from the EF log of how it builds the Sqlite table `RequiredTrack`
[code]

As you can see it combines the PK and the FK into the column `RequiredTrackId`. Because it does this then it has the same problem I noted in the first post of this issue, that is the `cannot be tracked because another i

[2017-04-13 08:18] thisispaulsmith commented on #2874
Has there been any movement on this? `EnsureCreated` still only checks if the database exists if it does no tables are checked.

[2017-04-13 09:20] simbo1905 commented on #6482
+1 being able to see the sql generated. Java ORMs typically let you see it at startup else have a build too option so that you can generate the SQL on the build. there are many good use case for this such as being able to import it into data migration tooling or to investigate query performance. right not it would be very helpful to see the differences on the official demo app which I am trying to

[2017-04-13 12:00] ErikEJ opened #8150 "New specification test fails with SQLCE provider"
@smitpatel

Running this new test:
https://github.com/aspnet/EntityFramework/blob/0748e3e8b942855db7035d6a8dff98a8cb77584c/src/EFCore.Specification.Tests/QueryTestBase.cs#L3353

(Just noticed it also fails on my PC with the SQLite and SQL Server test)

[code]

### Further technical details
EF Core version: 2.0.0-preview1-24394
Database Provider: EntityFrameworkCore.SqlServerCompact40
Operating sys

[2017-04-13 12:00] tombrown571 commented on #4561
@divega I can't speak for @paaland but I would like to see Views in EF Core, (and EF6 if any work is continuing there) ; also indices with include columns.  The underlying problem is performance.  Using materialised indexed views can be a great way to improve performance - if only EF could allow this using Code First.  I would also like read-only tables (where you can only update in the seed metho

[2017-04-13 12:11] ahoischen commented on #7397
The temporary solution for me was to refresh the `Listbox` manually after every change.

[2017-04-13 13:10] DerGary opened #8151 "NotMapped EntityType gets included in the ModelBuilder.Model"
### Problem
In the model presented below I face the problem that an Entity that is annotated with `NotMapped `gets included in the Model of the `ModelBuilder`. At first this seems to be no problem because the Entity that is `NotMapped `does not get included in the Migration, but with a little tweaking of the Model, this can lead to Errors.

### Steps to reproduce
Here is a Project with the below m

[2017-04-13 14:29] mgildea opened #8153 "Use Type FullName for Discriminator instead of Type Name"
I guess this is more of a question....

Is there a reason why EF uses Type.Name instead of Type.FullName for the Discriminator column value?

In my opinion using the type fullname makes the data more explicit and usable when potentially querying records outside of EF and/or using some type of factory pattern.

In several projects I have found it helpful to include a "Type CD" property to store the

[2017-04-13 14:43] hikalkan commented on #4711
I also would want such a convention @rmja mentioned (https://github.com/aspnet/EntityFramework/issues/4711#issuecomment-201405020). Because not all database providers have datetimeoffset type.

[2017-04-13 15:55] hscanlan opened #8154 "Version for package `Microsoft.EntityFrameworkCore.Tools.DotNet` could not be re solved."
I am deploying a new .NET Core application to my server. I'm trying to run the EntityFramework migration, as the project was created using the "code-first" method.

The command to be run is

Migrations work locally using visual studio without issue, however, on the server, I receive the error;

The version on my development machine of DotNet is 1.0.0
The version on my server of DotNet is 1.0.1

My

[2017-04-13 15:55] cdie opened #8155 "Enhancement : allow to inject custom data merging service instead of throwing InvalidOperationException when adding and object already tracked with the same key"
When trying to add an object within the context and EF is already tracking an object with the same key (it's not the same reference for whatever reason), it would be great if we can define our own merging service instead of disabling the change tracker and do all by hand.

The service should the entity EF already track and the one we try to add, and we should return one merged.

It could help us a

[2017-04-13 16:07] MarcoLoetscher opened #8156 "Context-wide flag for Add/Attach/Update behavior"
In the future we made add a context-wide flag to modify this behavior (https://github.com/aspnet/EntityFramework/commit/82b0c44cabc2fa1d0909d11a95b179a558e50355).
I can't find this flag. Is this issues tracked?

[2017-04-13 16:47] smitpatel commented on #8150
It is data issue. Since it is ordering by city which has some Unicode characters in Mexico (AFAIK), something is not ordering properly. Could be issue of incorrect data or the comparison semantics.
That test explicitly exclude `Where(c => c.CustomerID != "VAFFE")` because it had Unicode letter in the city which was generating different ordering for sql server SQLite.

[2017-04-13 16:53] ErikEJ commented on #8150
Wonder why the SQLite and SQL Server test also fail on my PC, though

[2017-04-13 16:56] smitpatel commented on #8150
I am also surprised at SQLite failure as we have northwind.db in repo for that. Few months ago I had updated northwind.db because the data in SQLite & SQL server wasn't the same. SqlServer you may have different data.

[2017-04-13 16:57] lajones commented on #8077
Fixed by PR #8145. Note: we are just making sure the C# works here, we are not getting into trimming just yet. For now I'd rather just report exactly what SQL Server has stored rather than interpret it in any way. That may change as I think there's another bug where the default value wasn't right because we weren't correctly counting the open and close parentheses that SQL Server had stored in the

[2017-04-13 16:57] #8077 closed

[2017-04-13 17:00] ajcvickers commented on #8156
@MarcoLoetscher We don't have any plans to add that flag. The behaviors that we ultimately landed on seem to be working out well. Can you give some more complete details of what you are trying to do that would require that flag?

[2017-04-13 17:02] ajcvickers commented on #8155
Note for triage: related to #5536

[2017-04-13 17:06] ajcvickers commented on #8153
@mgildea We will discuss in triage, but it seems like the convention we have for discriminators is a good balance of readability while not being overly verbose. You can always configure your discriminators to anything you want using the API. See https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance

[2017-04-13 17:17] bricelam opened #8157 "Investigate netcoreapp2.0 failures"
Some tests started failing after upgrading to netcoreapp2.0. We should investigate the root cause and file appropriate issues on our dependencies.

* EFCore.InMemory.FunctionalTests
  * ComplexNavigationsQueryInMemoryTest
    - [ ] Optional_navigation_projected_into_DTO
* EFCore.Sqlite.FunctionalTests
  * ComplexNavigationsQuerySqliteTest
    - [ ] Optional_navigation_projected_into_DTO
* EFCore.S

[2017-04-13 17:18] ajcvickers commented on #2874
@thisispaulsmith I have cleared the milestone so we can discuss in triage. These APIs are on purpose designed to be very simple because their only intended use if for testing or quick prototyping. Migrations should be used for anything else. That being said, we could make EnsureCreated create the tables if and only if _none_ of the tables that would be created already exist. I don't think we would

[2017-04-13 17:19] bricelam commented on #8157
The last two tests may just be making invalid assumptions about the implementation of `GC.Collect()`

[2017-04-13 17:22] maumar commented on #7122
This is fixed in the current bits. We produce the following queries:

main:

[code]

include1:
[code]

collection include:

[code]

[2017-04-13 17:22] #7122 closed

[2017-04-13 17:22] thisispaulsmith commented on #2874
@ajcvickers Thanks.
I was trying to use it in an integration test. Two contexts using the same DB. Discovered it when using the second context failed. Not a huge issue but I noticed the issue was quite old.

[2017-04-13 17:25] ajcvickers commented on #7340
@JonPSmith I _think_ what you are saying is that when you do this:
[code]
you are expecting it to always create a shadow FK property. But that's not what that API does. It instead just says that "RequiredTrackId" should be used as the FK. If there is a CLR property with that name, then that CLR property is used and a shadow property will not be created. If you want to use a shadow property, then y

[2017-04-13 17:38] ajcvickers commented on #8137
@JonPSmith This is what is happening:
* The first Attendee is tracked by the context and brings in the associated Ticket. Fixup happens to make sure the FKs an navigation properties are consistent. Everything is in the Added state--nothing exists in the database.
* The second Attendee is tracked. It points to the existing Ticket, so it "steals" this Ticket from the first Attendee. Navigation prope

[2017-04-13 17:45] ajcvickers commented on #8149
@Zonciu The association between the two entity types requires a foreign key in the database. EF uses conventions to determine which property to use as the FK. The property "UserId" matches this convention and so is used as the FK--because the other entity type is called "User". The property "Id" does not match, and so is not used as the FK. In this case, EF creates a "shadow property" for the FK a

[2017-04-13 17:51] hscanlan commented on #8154
Seems I just had to do a "dotnet restore" and make sure I had the 1.0.1 installed.

[2017-04-13 17:54] MarcoLoetscher commented on #8156
Suppose I have 100 blogs and each blog contains 10 posts. Now I want to add all the blogs to the context, but without the posts. Because of the better performance, the DbContext.AddRange method would have to be used. Unfortunately the behavior can't be controlled when adding, I have to use "DbContext.Entry(newBlog).State = EntityState.Added;" in a loop to add all the blogs.

[2017-04-13 18:01] ajcvickers commented on #8156
@MarcoLoetscher Why do you not want to add the Posts?

Regardless:
* If you disable AutoDetectChanges while doing the 100 state changes it should have at least as good, if not better, perf than AddRange.
* Look into the TrackGraph method. It should be pretty easy to use it to only track the Blogs and not the Posts.

[2017-04-13 18:07] MarcoLoetscher commented on #8156
OK, you're right. This issue can be closed.

[2017-04-13 18:21] JonPSmith commented on #7340
@ajcvickers,

Thanks. My mistake is that I thought I had to follow the by convention rules for shadow properties, which is where I got the name "RequiredTrackId". I have just tried a random name and I see that it uses that name to create the shadow property.

Sorry, I read the section https://docs.microsoft.com/en-us/ef/core/modeling/shadow-properties Conventions and assumed I needed to stick with

[2017-04-13 18:26] bricelam opened #8159 "Remove DbContextFactoryOptions.ContentRootPath"
After fixing #7588, this property isn't necessary. You could just call `Directory.GetCurrentDirectory()`.

[2017-04-13 18:29] JonPSmith commented on #8137
@ajcvickers,

OK, that was not obvious, but I can see how that works. Another learning point.

Not sure I see why the two cases - with inverse navigation and without inverse navigation affect that, but don't bother to explain as you have far better things to do.

[2017-04-13 19:23] maumar commented on #7654
This works in relational now, but still fails for InMemory. Exception:

[code]

[2017-04-13 19:24] maumar commented on #7654
query plan:

[code]

[2017-04-13 19:31] smitpatel commented on #7654
Verify if the InMemory failure is same as this https://github.com/aspnet/EntityFramework/issues/4311

[2017-04-13 19:57] maumar commented on #7654
Fixed, test added in 28a2d66b2e3f1e03c7eae83b6c6ed3fc3c64d304

[2017-04-13 19:57] #7654 closed

[2017-04-13 20:02] ajcvickers commented on #8137
@JonPSmith The two cases should behave the same way, so something is not working correctly. I will investigate further.

[2017-04-13 20:26] lajones commented on #5346
I'm not seeing any skipped tests for the specifically-referenced areas any more. And most of this has been moved/consolidated since this bug was created. On the other hand there are many, many [ConditionalFact] tests. Looking at all of them would probably need a team push.

[2017-04-13 20:33] lajones commented on #6369
I tried to repro this on the 2.0.0 code but could not - the code replaced dashes by underscores as expected. Closing as non-repro but feel free to re-open if you feel I missed something.

We are using #3988 to track potential changes to namespaces of the generated code.

[2017-04-13 20:38] BradBarnich commented on #749
for my use case, I have audit tables that are maintained by trigger. I wanted the tables to be part of migrations so I did this:

[code]

Also had to make a custom model validator that skips `EnsureNoShadowEntities`, but then it works.

[2017-04-13 20:39] maumar commented on #7716
Should be good now

[2017-04-13 20:39] #7716 closed

[2017-04-13 21:02] maumar commented on #7155
we should file a bug on relinq

[2017-04-13 21:30] divega commented on #4561
@tombrown571 as I mentioned in my previous comment, we don't look often at already closed issues like this one. I would recommend you search for existing issues on the areas you care about and then +1 on them (I believe there are existing issues in our backlog for the majority of the things you mentioned).

[2017-04-13 21:34] maumar commented on #7983
@smitpatel to file a relinq bug on this

[2017-04-13 21:37] JeanCollas opened #8162 "Bug in query generation involving a Math.Round?"
I use EFCore 1.0.1.

Here is my request:

    var reqs1 = await (from r in DbContext.EventSearchs
                       where r.CreationDate > DateTime.Today.AddDays(-22)
                       group r by new { Date=r.CreationDate.Date, User= r.User, Latitude=Math.Round(r.Latitude,4), Longitude=Math.Round(r.Longitude,4) } into r2
                       select new { Date = r2.Key.Date, User=r2.Key

[2017-04-13 21:41] jemiller0 commented on #7363
I tried this with MultipleActiveResultSets=true. I also tried it with a few different large tables that I have in two different DbContexts. Enabling MARS made no difference. The behavior was the same for all the tests that I did. It noticeably increases the RAM usage until it gets through the entire results set and releases it. Any idea when the next version of EF Core will be released? Maybe this

[2017-04-13 21:48] mdarefull opened #8163 "PMC Tools: Logging information on the startup constructor throws"
I'm working on an ASP NET MVC Core project (VS 2017, .NET Core 1.1).
I had the need of logging to the console the running environment of the application at startup and hence I configured the loggerFactory on the Startup's constructor and, immediately after, I log the required information:

[code]

Then, if I tried to use a command related to migrations (Add-Migration or Update-Database) I receive