[2016-05-24 07:49] jingliancui commented on #5407
@natemcmaster  That is RC2. If Please note that:
EF with PrismLibrary go throw exception.
EF without PrismLibrary is no problem.
Both two project sample I had upload to onedrive, you can try it.
The Prism team tell me that they don't know this exception is from yours or from them.....

[2016-05-24 08:01] damienbod commented on #5484
Hi Rick,

From what I understand, the DbContext requires the options which are passed form the DI. These are defined in the services.AddDbContext method.

[code]
Greetings Damien

[2016-05-24 08:13] RickStrahl commented on #5484
Well, what I'm saying is that that code is not firing. Hooking a debugger that code will never get called and the connection string is never set through that code.

[2016-05-24 08:22] mo-esmp opened #5485 "RC1 Strange behavoir of EF on paging"
I have a query like this:

[code]

when `PageNumber` is `0`, EF uses `OFFSET` in generated  SQL query for paging. here is TSQL:

[code]

when `PageNumber` is gearter than 0, EF uses `ROW_NUMBER()` for paging. here is TSQL:

[code]

in subquery there is `[t.ShoppingCart].[Id] AS [c0]` and `[c0]` is `ShoppingCart.Id` and in wrapper query there is select `[t0].[Id] AS [c0]` and `[t0].[Id]` is `Paymen

[2016-05-24 08:41] bragma opened #5486 "RC2 and migrations on Azure website"
Hi,
while porting from RC1 to RC2 I've stumbled on this ancient piece of code doing migrations on ASP NET Core app configuration:

[code]

It did the trick, but it's not nice to scaled out web apps. Not that RC2 is out, what's the suggested way of migrating an azure web app with an azure sqlserver?

When deploying with VS I've noticed a new "Entity framework Migrations" tab under "settings". Is it

[2016-05-24 10:49] mo-esmp opened #5487 "RC1 Selecting data from junction table cause error"
I have context which inhertis `IdentityDbContext`. I want select user role ids by this query:

`var roleIds = _context.Users.Where(u => u.UserName == username).SelectMany(u => u.Roles).Select(r => r.RoleId).ToList();`

but I got this error:

[code]

Query runs in LINQPad without problem:

[code]

query works fine with join syntax:

[code]

[2016-05-24 10:56] oyvindvol opened #5488 "RC2 migrations wrong table names (using class names with namespace)"
Hi. I migrated from RC1 to RC2, and am having trouble getting my database to update pending migrations (`Database.Migrate()`).

I have no changes in my model, and the first migration I created with RC2 is removing and adding all foreign keys, primary keys, indexes, and renaming tables. One problem seems to be that the table names in the generated migration is the full namespace path to my model cl

[2016-05-24 11:59] shaulbehr opened #5489 "Trouble installing Microsoft.EntityFrameworkCore.Tools"
Hi,
My project is referencing Microsoft.Extentions.CommandLineUtils v1.0.0-rc3-21031.
I am trying to run the command lines I remember from EF6 in the Package Manager Console, e.g. `update-database` and `add-migration`, but I'm getting an error:

[code]

Have the commands changed?  If so, where can I find a reference of the commands available?

[2016-05-24 12:13] mleader1 commented on #5489
I used
`dotnet ef database update
`
and it works

[2016-05-24 12:14] shaulbehr commented on #5489
Actually, I think I can see a little better what's going wrong here.  I tried installing Microsoft.EntityFrameworkCore.Tools, and it looks like the installation is hanging on Microsoft.Extensions.Configuration.Abstractions:
[code]
And it just stops there.

[2016-05-24 12:17] shaulbehr commented on #5489
@mleader1 that syntax is not familiar to me - I'm used to `update-database`.  Where can I find a reference for the available command line tools for `dotnet`?

[2016-05-24 12:23] mleader1 commented on #5489
hi @shaulbehr  the one I mentioned is dotnet commandline tool  (i.e. the EntityFrmeworkCore.Tools you referred)

I'm using the RC2 version and seems you refer to rc3 version I guess it should also work if you run it in command line as long as you have a correct project.json setting

[2016-05-24 12:45] shaulbehr commented on #5489
Eventually I got the package installed, this works now.  Sorry to clutter your list with non-issues... :)

[2016-05-24 12:50] kjbetz commented on #5320
I need to test this more, but here is my solution that seems to be working: https://github.com/aspnet/EntityFramework/issues/5460#issuecomment-221167712

[2016-05-24 13:03] mleader1 opened #5490 ""Process is terminated due to StackOverflowException" on Mac - works perfectly on Windows, how can I see further details?"
Hi,

I'm trying out ASP.NET RC2 + EF Core, i created a simple Web Api app connecting to our existing database with the following setting:

1. WebApi:  simple ASP.NET Core 1.0 (RC2)   and on default port 5000
    Test Url:    /sites/{id:long}
    Data Layer testing code:   very simple  ( sudo code:    ` dbContext.Sites.FirstOrDefault(site=>site.Id == id)`

2. As obviously as you can see it's a craz

[2016-05-24 13:27] atrauzzi opened #5491 "Consistency in migration API"
I've just finished spinning up the default project shipping with the latest RC of ASP.NET Core and I've noticed something that seems inconsistent in the migrations:

[code]

The migration that I'm highlighting here isn't important so much as the API it's using.  The parameter `columns` seems to take a closure that returns an object populated with all the desired columns.

The next parameter `const

[2016-05-24 13:29] ManuelHaas opened #5492 "RC2: InvalidCastException in query with two joins"
I'm not sure - maybe I'm using EF the wrong way but the following script generates an exception:

[code]

System.InvalidCastException: Unable to cast object of type 'System.Linq.Expressions.Expression`1[System.Func`2[Microsoft.EntityFrameworkCore.Query.EntityQueryModelVisitor+TransparentIdentifier`2[ToSec.EntityFramework.Models.StatusUpdate,ToSec.EntityFramework.Models.FindingObsPeriod],ToSec.Enti

[2016-05-24 13:58] mleader1 commented on #5490
hi,

a further update here:  I've tried hooking up with another existing database with <20 data tables, it works without any issues on MacOSX

So I guess it's something weird happening with the database has a level of complexity... Since it works in Windows environment I'll stick onto this till next stable release of EF Core.

However if anyone can shed some lights of this issue above or **a way t

[2016-05-24 14:27] Yablargo opened #5493 "Seeding user data in startup.cs with UserManager causes tests run in parallel to hang indefinately. How can I do this correctly?"
Hello.

I have a wide range integration tests running through xunit and am pretty happy with my results.
I'm using a TestServer/InMemoryDB and some logic to turn off Validation Tokens when running the test server.

Part of that logic seeds the inmemorydb with test data.

This has worked pretty well, and then I wanted to seed a user. I wasn't sure how to seed a user correctly (e.g. can I just set a

[2016-05-24 14:34] ManuelHaas commented on #5492
I've found the problem: I referenced the objects in the join. When I reference the keys of the objects the joins are working now. Strange because this has already worked in RC1. Not working:

        var requests = (from statusRpt in db.StatusUpdates
                        join frp in db.FindingObsPeriods on statusRpt.FindingObsPeriod equals frp
                        join f in db.Findings on fr

[2016-05-24 14:39] SimonOrdo commented on #5449
I will give it a go after work today.  Thanks!

[2016-05-24 14:42] Yablargo commented on #5493
Nevermind, switching to the following code stopped any hanging.

[code]

[2016-05-24 15:39] #5368 closed

[2016-05-24 15:47] gumaflux commented on #1035
+1

[2016-05-24 15:57] bricelam opened #5495 "NuGet Commands: Remove Apply-Migration (and possibly Enable-Migrations)"
These were just point-in-time helpers to ease the pain of prerelease churn.

[2016-05-24 16:21] bricelam commented on #4642
Confirmed: PostgreSQL doesn't seem to care. :elephant:

[2016-05-24 16:27] bricelam commented on #4642
@rowanmiller Do you have any preferences on this one? My current thinking is to detect this situation during SQL generation on SQL Server and use the backing model to rebuild the indexes. The other option is to rebuild the indexes for all providers (which don't really need it) by detecting this condition in the model differ.

[2016-05-24 16:29] natemcmaster commented on #5145
We should rename the EF core PS module, but something more advanced, such as detection which version of EF the project is using and invoking the right version of the command is going to be tricky. I can't think of a clean solution that works for all cases.

[2016-05-24 16:33] bricelam commented on #5145
Personally, I think as long as people aren't blocked it's good enough. If they try to use the wrong commands, they'll just get "No context found" errors. Maybe we can add something to that message about EF Core.

[2016-05-24 16:38] ajcvickers commented on #5385
@rowanmiller The reasoning is this:
* The GetService extension method on the context is intended for resolving EF services, usually those scoped to a context instance. I have never seen it used for random services unrelated to EF.
* If it is used for random services unrelated to EF, then it will work if those services have been registered. This works if done right, but the error message doesn't ad

[2016-05-24 16:40] AlexBilonog commented on #5350
Sorry for late. As I told the stack trace on StackOverflowException is empty.
But I created a test project for you (console application attached). It has 105 entities. By running this app you can see that after invoking:

`modelBuilder.Entity<Table01>(entity => { /* any code or empty */ })`

the stack size is decreased by 30% (as I know default console application stack size is 1 MB). That's why I

[2016-05-24 16:41] ajcvickers commented on #4616
@tobbylee1 This API now uses a nested closure pattern:
[code]

[2016-05-24 16:42] #5293 closed

[2016-05-24 16:42] #5383 closed

[2016-05-24 16:52] ajcvickers commented on #5484
@RickStrahl The delegate will not be called until the context instance is created, and then only if your context class accepts a `DbContextOptions<AlbumViewerContext>` in its constructor.

To be more specific:
* AddDbContext adds a service to the D.I. container for `DbContextOptions<AlbumViewerContext>`.
 * The service is added such that when it is resolved it will run the delegate provided to app

[2016-05-24 17:04] mikary commented on #4664
@fuocor I'm trying to reproduce this issue but the is a bit of context that I'm just guessing at. Could you provide a full repro (i.e. stand alone console application) to demonstrate the issue?

I'm also guessing this was originally written against `7.0.0-rc1-final`. We recently released `1.0.0-rc2-final` which may have resolved the issue if you would like to try upgrading.

[2016-05-24 17:05] mikary commented on #4664
Here is what I have attempted so far:
[code]

[2016-05-24 17:09] takazm commented on #5385
I was under the impression that using '. AddDnContext()'  is optional. My DbContext is mapped to an interface IDbContext which i registered. my vode executes instantiates the context but throws the exception when the query results is supposed to materialize

[2016-05-24 17:26] abdu292 commented on #5383
I'm pretty new in this whole git flow. Just wondering, as a fix is applied on to this issue, when I get this. Should I wait for the next release? or clone this entire repository and use in project? Is there any way to get only the dlls with this fix? Thanks!

[2016-05-24 17:27] tdjastrzebski opened #5498 "RC2: "Unable to find provider assembly with name EntityFramework.MicrosoftSqlServer" error"
An attempt to scaffold database as described here:
https://docs.efproject.net/en/latest/platforms/full-dotnet/existing-db.html
results in error:
"Unable to find provider assembly with name EntityFramework.MicrosoftSqlServer. Ensure the specified name is correct and is referenced by the project."
All three required packages have been successfully installed. It worked for RC1

[2016-05-24 17:31] yeasin90 commented on #5383
@abdu292 : I believe we will get an Update in NuGet :)

[2016-05-24 18:12] natemcmaster commented on #5383
@abdu292 our nightlies will contain the fix soon. Checkout https://github.com/aspnet/Home/wiki/NuGet-feeds for an explanation of those feeds. Or, you can wait for the next release which will be end of June. See https://github.com/aspnet/EntityFramework/wiki/Roadmap

[2016-05-24 18:17] #5384 closed

[2016-05-24 18:19] yeasin90 commented on #5383
@natemcmaster : Now migration files are creating for separate UWP class libraries :) :) . I guess, I am missing **db.Database.Migrate()** :(

[2016-05-24 18:22] divega commented on #5385
I think that would be good. If the `GetService()` extension method on the context is only supposed to be used for EF services another option would be to check for a marker interface that all EF services would need to implement, but that seems overkill :smile:

[2016-05-24 18:25] rowanmiller commented on #5498
Your scaffold command has a provider package name in it, you need to swap to the RC2 provider name - which is `Microsoft.EntityFrameworkCore.SqlServer` (the error suggests you are still specifying the RC1 package name of `EntityFramework.MicrosoftSqlServer`).

[2016-05-24 18:25] lajones commented on #5498
That's the error you would see if you executed `Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" EntityFramework.MicrosoftSqlServer`.

For RC2 you need to do `Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer`. Note the change to the provider name.

[2016-05-24 18:38] jacob-robertson opened #5499 "Local variable null check incorrectly translates to SQL"
I have a simple filter being passed into a `.Where()` call that is improperly using the equal operator (=) instead of `IS` to check for null values.

    var g = Guid.Parse('XXXX');
    var guitars = context.Guitars
                         .Include(g => g.Model)
                         .Where(g => guitarId == null || g.Id == guitarId);

Where `guitarId` is equal to some non-null value, translate

[2016-05-24 18:44] rowanmiller opened #5500 "Improve Error Message: Resolving unregistered service from internal service provider"
Currently we assume that resolving an unregistered service means you haven't configured a provider:

But it is particularly confusing if you try to resolve a context from the internal service provider (not a super weird thing to assume might work):

[code]

We should update the message so say something like "Could not resolve '<service>', this may be because...".

[2016-05-24 18:45] ajcvickers commented on #5456
@alexlau811 Can you post the code for DbContext and entities involved?

Also, when you say "random crash" do you mean that it sometimes crashes and sometimes doesn't when run with the exact same code against the exact same data? Or do you mean that it crashes with some data in the database, but not with other data in the database?

[2016-05-24 18:46] rowanmiller commented on #5385
Opened https://github.com/aspnet/EntityFramework/issues/5500 to improve the exception message as it is really not helpful when you are trying to manually resolve something that is not registered. Discussed and agreed that `ICurrentDbContext` is fine for the moment and we don't need to start registereing the current context as a `DbContext` service in the internal service provider.

[2016-05-24 18:49] rowanmiller commented on #5145
👍 folks know they are trying to use two versions of EF in the same project and I think some guidance on how to do this is fine.

[2016-05-24 18:50] rowanmiller commented on #4642
I'm not too concerned, whatever we think makes the most sense.

BTW I was going to ask about SQLite... but then 😫.

[2016-05-24 18:51] rowanmiller commented on #5495
I think we should leave Enable-Migrations since it was an EF6.x thing. Agreed on Apply-Migration

[2016-05-24 18:58] #5045 closed

[2016-05-24 19:08] #3990 closed

[2016-05-24 19:13] ErikEJ commented on #4642
SQL CE FTW - if only it was multi-platform :smile:

[2016-05-24 19:26] bricelam commented on #5234
This.

[2016-05-24 19:31] divega commented on #5350
Reactivating because we now have a repro. Thanks @AlexBilonog!

[2016-05-24 19:40] geoffmmorgan commented on #5455
Seeing this as well with shorts
`Cannot set default value '10' of type 'System.Int32' on property 'SortOrder' of type 'System.Int16' in entity type 'CurriculumMapItem'`

but I can fix with doing an explicit cast
entity.Property(e => e.SortOrder).HasDefaultValue((short)10);

[2016-05-24 20:23] tobbylee1 commented on #4616
@ajcvickers Thank You! It's working now.

[2016-05-24 20:35] ErikEJ commented on #5234
Ok. Any thoughts re fixes/ workarounds? I cannot fix the ado.net provider bug, but open to any suggestions!

[2016-05-24 20:40] AndriySvyryd commented on #5455
@geoffmmorgan The behavior you are seeing is by design, we currently don't perform value conversion in this code, even if it's safe

[2016-05-24 20:43] lajones commented on #3987
Had discussion on 5/24/16 with @rowanmiller, @divega, @ajcvickers and @bricelam. Approach will be:

1. Split DB identifier into words. Word separation happens a) if there is any non-letter & non-digit character, or b) if there is a change of case from lower to upper (where intervening digit characters don't change the change of case i.e. Blog123ID results in 2 words: "Blog123" and "ID")
2. If the

[2016-05-24 21:06] mikary commented on #4926
@lutsykigor I attempted to reproduce the issue you described on `EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final` but I did not observe the exception being thrown. The problem may be resolved by upgrading to the latest version (`Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final`).

Here is the code I used to attempt to reproduce the issue:
[code]

I also attempted some `async` variations

[2016-05-24 21:38] rowanmiller commented on #5486
Yes, you should use that new functionality. It performs the migration during deployment, rather than post-deployment during app startup.

cc @danroth27 @sayedihashimi to see if the feature is documented anywhere. It uses the dbFullSql WebDeploy provider to execute the migration script against the target database.

[2016-05-24 21:51] natemcmaster commented on #5407
@jingliancui my mistake. I opened the wrong rar file in your onedrive link.

After playing with the app a little, it seems the issue is related to neither Prism or Entity Framework Core. Although the error shows up from an EF stack trace, the error is the combination of re-linq (a dependency of EF) and Microsoft.ApplicationInsights. Something in Microsoft.ApplicationInsights.WindowsApps causes a s

[2016-05-24 22:02] bricelam commented on #5234
@anpete Any thoughts on this one?

[2016-05-24 22:05] #3682 closed

[2016-05-24 22:06] natemcmaster commented on #5069
Fixed in #5474

[2016-05-24 22:16] anpete commented on #5234
@ErikEJ Any way to wrap the command so that it preserves its state after Dispose?

Alternatively, we would need to re-jig our Execute methods in RelationalCommand

[2016-05-24 22:38] divega commented on #5350
Triage: This is probably post-RTM. Some notes from a conversation with @AndriySvyryd about this (feel free to correct any inaccuracies):

Currently because of how our model builder logic works (e.g. certain changes in the model requires re-applying conventions) we have areas in which there is recursion and the depth of the stack grows linearly with the number of entities in the model. There are tw

[2016-05-24 22:42] natemcmaster opened #5505 "Fix build on Linux"
Changes in #5494 added references in System.Data.Common.DbParameter API that is technically in the .NET 4.5.1 API surface, but missing from Mono reference assemblies.

See mono bug by @bricelam and @divega: https://bugzilla.xamarin.com/show_bug.cgi?id=29167

Even though we don't run tests against Mono anymore, dotnet build on Linux/OSX still uses Mono reference assemblies to compile.

Solutions:
1

[2016-05-24 22:50] natemcmaster commented on #5505
cc @pranavkm @Eilon what do you think about solution 4?

[2016-05-24 22:56] divega commented on #5505
FWIW, solution 3 looks like a good choice to me, assuming we can make it work.

[2016-05-24 23:00] RickStrahl commented on #5484
Ah ok.

FWIW, I think this very unexpected behavior. The whole point of this interface is so that you can configure EF, so it would be nice if an OptionsBuilder could be created for you and passed to you unconfigured.

Having the extra constructor seems counter intuitive and not very discoverable. I suspect this will bite a lot of people.

[2016-05-24 23:30] pranavkm commented on #5505
cc @davidfowl - we have a similar issue building some of the incoming changes with Logging (https://github.com/aspnet/Logging/pull/434). Do you have ideas on how we'd get the correct reference assemblies on Travis?

[2016-05-24 23:32] natemcmaster commented on #5505
I'm testing a travis build with Mono beta (currently 4.4.0 RC1). https://github.com/aspnet/EntityFramework/commit/db4cd2db22b94dfe61e78ce68c496895368462db and https://travis-ci.org/aspnet/EntityFramework/builds/132707297. We've had issues with Sake + newer versions of Mono. Hopefully those are fixed now.

[2016-05-24 23:38] divega commented on #5484
FWIW, at some point we had similar thoughts and we built some magic to inject the options without having to define the extra constructor on the derived `DbContext`. But the result proved to be confusing in its own way (see #4668 for more details), so we ended removing the magic so EF now works with DI more like most other things.

The documentation explains it in more detail here: https://docs.efp

[2016-05-24 23:43] RickStrahl commented on #5484
Ok, so the recommendation is to just implement that specific constructor.

Still think this will bite a lot of people because the only way to discover this behavior is by explitly implementing that constructor. It might be useful to add a note to the `AddDbContext()` method and the action parameter to indicate that it won't be fired unless the constructor exists (although I think I would have stil

[2016-05-24 23:51] divega commented on #5484
Sounds like something we should consider. I think @rowanmiller is tracking things we want to do to improve the documentation of these methods.

We also include a `DbContext` with the right constructor in our default templates.

Note that we still have a parameterless constructor which works when you don't want to pull dependencies from DI.

[2016-05-25 00:03] #4903 closed

[2016-05-25 00:09] divega commented on #5145
Had a chat with @natemcmaster and I am reopening just to check what errors you get after the change if you apply the EF Core commands to a project using EF6, and to evaluate adding some text to those errors that can help you disambiguate.

Also created https://entityframework.codeplex.com/workitem/2927 to do this on the EF6 side.

[2016-05-25 00:27] RickStrahl commented on #5484
Thanks. It looks like it works as long as `:base(DbContextOptions) ` is called.

The documentation for this looks good.

[2016-05-25 01:17] Eilon commented on #5505
(3) would be nice, assuming we can do it. Option (4) is potentially reasonable as a short-term solution, but is not a valid long-term solution. So if we do (4) to unblock things, log a new bug to revert (4) and find a proper long-term solution.

[2016-05-25 01:32] abdu292 commented on #5383
Thank you @yeasin90 for the response.
@natemcmaster Thank you for sending me the link on myget. I tried configuring my Visual Studio with "http://myget/aspnetvolatiledev" and "https://myget.org/aspnetvolatiledev" however no luck so far. The remote name could not be resolved: 'myget'.
Can you help me with the correct url? Thanks!

[2016-05-25 01:40] alexlau811 commented on #5456
@ajcvickers

It crashes with exact same code and same data in the database randomly. Not sure if my code has any race condition while it only happens on this particular query and works well on other similar queries.

The code involved seems quite lengthy so not sure if you mind me putting a zip instead of pasting here. Please let me know if more codes are required.

Entities involved:

BaseEntity

[2016-05-25 01:55] JunTaoLuo opened #5508 "Fix build warnings caused by outdated project.json options"
### Steps to reproduce

Build Microsoft.Data.Sqlite, Microsoft.EntityFrameworkCore.Tools or Scaffolding.
### The issue

Currently in our coherence build, we see the following build warnings.

[code]

These warnings are not fatal but annoying since it generates noise and it's hard to spot what actually failed. Would be nice to update these project.jsons to use packOptions in the new schema. This re

[2016-05-25 02:11] chinaq opened #5509 "In RC2 how to update database on product."
### The issue

In RC1 when I published a website, it generated a ef.cmd file, I can ran `ef database update` to update the product database. How can I do it in RC2 when there is no ef.cmd file.

[2016-05-25 02:32] divega commented on #5505
BTW solution 3 is a .NET 4.5.1 multi-targetting pack for Linux and OSX 😉

[2016-05-25 02:32] arthurspa commented on #5465
DbSet.Attach worked for me. Thanks.

[2016-05-25 04:01] MaximBalaganskiy opened #5510 "Ef Core RC2 and app insights"
What would be the reason for not seeing EF's app insights in net core project? Not locally nor in Azure. Works ok for net452 though.

[2016-05-25 04:13] MaximBalaganskiy commented on #5510
I can see EF traces in output.

[2016-05-25 05:12] divega commented on #5508
Cc @prafullbhosale for scaffolding.

[2016-05-25 07:38] c1rus commented on #5499
This works before rc2 :/

[2016-05-25 07:43] ShikiGami commented on #5449
I'm having the same problem also with key "Id" from ApplicationUser.

[2016-05-25 11:52] leak commented on #5509
http://ef.readthedocs.io/en/latest/cli/dotnet.html#dotnet-ef-database-update

[2016-05-25 12:11] leak opened #5511 "System.BadImageFormatException from mixed mode assembly when trying to add migration"
### The issue

My project contains a mixed mode assembly

[code]

Everything (dotnet build, dotnet run, VS) works fine apart from the `dotnet ef migrations add Initial` command which fails with `System.BadImageFormatException: Could not load file or assembly`

Stacktrace points to Startup.cs where an object from said assembly is newed. Commenting out that line allows the command to finish.
### Fur

[2016-05-25 12:54] ViktorBergman commented on #3768
I've got the same issue here, the app is compiling but fails at runtime.
UWA Development Tools version : 1.3.2
VS: 2015 Update 2
Target platform: 10586 (x86)
Microsoft.EntityFrameworkCore.Sqlite: 1.0.0-rc2-final
Microsoft.EntityFrameworkCore.Tools: 1.0.0-preview1-final

Default.rd.xml:
< Directives xmlns="http://schemas.microsoft.com/netfx/2013/01/metadata">
  < Application>
    < Assembly Name="*

[2016-05-25 13:47] MaximBalaganskiy commented on #5510
After reinstalling ai extension inazure I see SQL dependencies. But the Command field is still missing both locally and on Azure.

[2016-05-25 13:57] pterevinto opened #5512 "Cannot create a Migration for an RC1 to RC2 updated project"
I am working on a project targetting "net461", and added EF packages. The project was originally created using ASP.Net 5 (RC1) and I was migrating to RC 2.

I removed all the Migrations I had and when trying to add a new one I keep getting the same error: **Could not load type 'System.ICloneable' from assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'.**

Please

[2016-05-25 14:16] pterevinto commented on #5512
Even just calling **dotnet -v ef** gives the same output.

[2016-05-25 14:53] rowanmiller commented on #5509
@chinaq are you using the `right-click->Publish...` functionality in Visual Studio? If so, there is a checkbox in the wizard to apply migrations to the target database during deployment (new in RC2).

[2016-05-25 15:12] RickBlouch opened #5514 "RC2 nullable Guid as foreign key results with in-memory evaluation - did not happen with RC1"
I'll start by saying that I just migrated from RC1 -> RC2 and have found this issue as part of the migration process.  I do not know if it's an EF bug or if there was a change that I did not migrate properly.  I could not find any other issues on GitHub that seemed to be related, but I will admit I'm not a GitHub wizard.  I will say that this was not an issue in RC1 in my real world application.

[2016-05-25 15:19] #5393 closed

[2016-05-25 15:42] djechelon commented on #5473
Hi,

I'd like to join the discussion as I am very interested in using EF7 for large-data management (not as large as `Big Data&trade;`).

In my everyday programming I often face a common pattern: inserting/manipulating 100k records without blowing up the application memory.

Apart the cases when I can successfully split the insert operation into multithread chunks of 500 elements each, I might nee

[2016-05-25 15:45] roji commented on #3023
I've just gotten complaints from users that the use of `IS [NOT] DISTINCT FROM` indeed has a serious adverse effect on performance. The cause seems to be that PostgreSQL doesn't use index for this (see http://postgresql.nabble.com/IS-NOT-DISTINCT-FROM-Indexing-td5812296.html).

This makes it more urgent for me to have proper null comparison in the update pipeline. Is there any chance this can make

[2016-05-25 15:46] ithielnor opened #5515 "IMutableEntityType does not contain a definition for DisplayName"
### Steps to reproduce

I followed the migration guides for RC1->RC2. I'm using the table name shim suggested in the EF migration guide within the `OnModelCreating` method:

[code]
### The issue

This code snippet does not compile.

My usings include `using Microsoft.EntityFrameworkCore;`
### Further technical details

EF Core version: 1.0.0-rc2-final
Operating system: Windows 10
Visual Studio ver

[2016-05-25 16:00] natemcmaster commented on #5505
Fixed with 24a9526caa83bd58d8c4ba84ec663f256f53ce07. We may need to update other CI agents.

[2016-05-25 16:03] natemcmaster commented on #5511
This is a possibly a duplicate of #5285 which was fixed in #5399

[2016-05-25 16:18] divega commented on #3023
Clearing up milestone so we can chat about @roji's comment in triage.

[2016-05-25 16:22] Tragetaschen opened #5516 "Consider documenting how to use a SQLite :memory: database"
The [documentation](https://github.com/aspnet/EntityFramework.Docs/blob/master/docs/miscellaneous/testing.rst#inmemory-is-not-a-relational-database) mentions SQLite's special file name `:memory:`, but to use this (for example during development), there are some hoops to jump through.

[#5086](https://github.com/aspnet/EntityFramework/issues/5086#issuecomment-210783773) contains the necessary code

[2016-05-25 17:27] ErikEJ commented on #5234
@anpete I could do that yes, (as has been done before: https://entityframework.codeplex.com/SourceControl/latest#src/EntityFramework.SqlServerCompact/SqlCeMultiCommand.cs) - but where would I tell EF Core to use the wrapped command??

[2016-05-25 17:42] anpete commented on #5234
@ErikEJ We call CreateCommand on DbConnection so likely you need to override that.

[2016-05-25 17:43] maumar commented on #4355
fixed in 63272b0b7b5fc888b06c6993c1815e8ca780fada

[2016-05-25 17:43] #4355 closed

[2016-05-25 17:44] natemcmaster commented on #5407
Reopening. Microsoft.ApplicationInsights.WindowsApps was red herring. This an issue with the .NET Native compiler.

[2016-05-25 17:54] maumar commented on #5514
Duplicate of https://github.com/aspnet/EntityFramework/issues/4588

In RC1 we were producing INNER JOINs for all kinds of navigations (required and optional), so this would result in invalid data being returned (missing rows) for cases where the navigated value was actually null.

In RC2 we now produce LEFT OUTER JOINs correctly, but the side effect is much more complicated intermediate query, whi

[2016-05-25 17:55] #4952 closed

[2016-05-25 17:58] ajcvickers commented on #5456
@alexlau811 Are multiple threads calling into the context concurrently? The context is not thread safe and so using the same context instance from multiple threads can cause issues like this.

[2016-05-25 18:01] natemcmaster opened #5517 "UWP: property 'Count' not found on type 'System.Collections.ArrayList'"
This issue has been described in other bugs, but this one consolidates and provides a workaround. This will also track progress with the .NET Native team and/or EF including a fix.

## The Issue
At runtime, UWP apps using EF Core RC1 and RC2 may encounter this error but only in "Release" mode.
[code]

## Reason
The .NET Native compiler, which runs on UWP apps in "release" mode, aggressively remove

[2016-05-25 18:04] natemcmaster commented on #5407
Opened https://github.com/aspnet/EntityFramework/issues/5517 to track this as the same issue was reported in multiple issues.

[2016-05-25 18:04] natemcmaster commented on #3768
Thanks @ViktorBergman. This was reported in a few places so I opened https://github.com/aspnet/EntityFramework/issues/5517 to track this.

[2016-05-25 18:04] #3768 closed

[2016-05-25 18:06] ErikEJ commented on #5234
I guess that would mean I also would have to wrap SqlCeConnection, or??

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Storage/Internal/SqlCeDatabaseConnection.cs

[2016-05-25 18:25] matthewjcooper commented on #5488
I had the exact same issue. Since i'm not in production yet, I just blew away all my migrations and created a new initial one, but if anyone is running in prod this is a major bummer.

[2016-05-25 18:26] Tasteful opened #5519 "Include().ThenInclude and order by throws exception"
Tested with and without #5443
[code]

throws exception (this exception after #5443 is applied)
[code]

`IncludeExpressionVisitor` is creating the following sql when debug and the problem is probably in the `LiftOrderBy` method that not converting the subselect order by into `AliasExpression`.

[code]

@anpete @smitpatel Separate PR or include in the #5443?

[2016-05-25 18:27] natemcmaster commented on #5163
If anyone is still encountering this error, I finally figured out what causes the error "Property 'Count' not found on type 'System.Collections.ArrayList'. See https://github.com/aspnet/EntityFramework/issues/5517

[2016-05-25 18:29] oyvindvol commented on #5488
Ahh, luckily I am not in production either, so I deleted all the migrations and created one large new one, and it worked..

[2016-05-25 18:35] Morcatko opened #5520 "SQL RenameIndex fails when table name is not provided"
MigrationBuilder.RenameIndex(...) has an optional parameter "table". When this parameter is not provided rename/migration fails

### Steps to reproduce
add this to any migration
migrationBuilder.RenameIndex("existingIndex", "newIndexName");

### The issue
The migration is executed and fails with
Exception message: `System.Data.SqlClient.SqlException (0x80131904): Either the parameter @objname is a

[2016-05-25 18:41] divega commented on #5516
This issue was moved to aspnet/EntityFramework.Docs#171

[2016-05-25 18:56] smitpatel commented on #5515
You will need this statement `using Microsoft.EntityFrameworkCore.Metadata.Internal;`

[2016-05-25 19:08] #5517 closed

[2016-05-25 19:09] divega commented on #5515
Just to add to that, the caveat of adding that `using` statement to `Microsoft.EntityFrameworkCore.Metadata.Internal` or any other `*.Internal` namespace is that we will treat any types in that namespace as internal API surface and we can change it at any time. Taking a dependency on it is at your own risk.

[2016-05-25 19:13] ithielnor commented on #5515
Thanks. This is intended to be a temporary shim to get the migrations right. I will remove it once fully upgraded.

[2016-05-25 20:16] #5495 closed

[2016-05-25 20:19] brianro opened #5522 "Model with nullable FK fails parent child query with "Argument Types do not match""
**When doing this, also make sure the scenario from #5883 is taken care of - dotting thru an optional nav to get a value**

If you have a model (see attached project) with class A with a nullable id field for child class E - int? EId, querying A->E fails with "argument types do not match" error.

[code]

In attached project query_ef_test_ac fails with the following information:

Test Name:	BugDemo

[2016-05-25 20:39] lajones commented on #5288
Closing as by design.

[2016-05-25 20:58] divega commented on #5458
@natemcmaster do you think this in fact may be a dupe of #5320?

[2016-05-25 21:15] maumar commented on #5454
@AustinFelipe the workaround is as follows:

[code]

if that doesn't work you can also try:

[code]

The reason is that, since User is optional navigation and the result can be null, we are trying to compensate for that by casting non-nullable value types to their nullable version (so that in case User is null, we can return a null for the IsProfessional as well). In some cases we can be smart eno

[2016-05-25 21:20] natemcmaster commented on #5458
Depends. Is emitEntryPoint set to true?  Also, what is the output when adding --verbose?

[2016-05-25 21:36] maumar commented on #3418
poaching per discussion with @anpete

[2016-05-25 21:36] maumar commented on #3807
poaching per discussion with @anpete

[2016-05-25 21:49] AndriySvyryd commented on #5393
@qpler-bot You can use the "RC3" nightly builds from https://www.myget.org/F/aspnetvnext/api/v3/index.json, see https://github.com/aspnet/Home/wiki/NuGet-feeds. Beware that VS tooling will likely not work with these packages.

[2016-05-25 21:54] natemcmaster commented on #5422
Remarking for triage: this doesn't need to happen for RTM. This is a EF dev issue, but doesn't affect product.

[2016-05-25 21:58] natemcmaster commented on #5190
This is going to happen as a part of some refactoring work @bricelam and I will be doing soon. #5334

[2016-05-25 21:58] #5190 closed

[2016-05-25 22:00] natemcmaster commented on #5188
We should do this but it can be post RTM.

[2016-05-25 22:04] natemcmaster commented on #4997
Marking for re-triage: this may change due to changes in tools architecture for #5334. This can wait for post RTM. We believe the work here will mostly be to verify the new architecture solves the problem.

Also, I suspect this is caused by a .NET Native compile build being triggered in the solution, and not by loading the tooling assembly in powershell as I first guessed.

[2016-05-25 22:08] natemcmaster commented on #5334
Remarking for triage: this can wait until after RTM.

[2016-05-25 22:10] natemcmaster commented on #5273
Remarking for triage: this can wait until after RTM.

[2016-05-25 22:10] natemcmaster commented on #4833
Remarking for triage: this can wait until after RTM.

[2016-05-25 22:12] natemcmaster commented on #4816
We haven't seen customer reports of this. This may have just been a point-in-time error as packages have changed.

[2016-05-25 22:15] natemcmaster commented on #4524
Not sure where this "tooling" node came from, but it is not in the project model for CLI projects.

[2016-05-25 22:16] AndriySvyryd commented on #5393
@qpler-bot An RC2 workaround would be to disable update batching by calling
[code]

[2016-05-25 22:32] divega commented on #5288
I must be missing one or more things.

The exception really says "No coercion operator is defined between types 'System.String' and 'System.Char'" and that is by design?

Also, I sort of get why you have to do the copy to output directory stuff, but how are customers supposed to figure that out?

[2016-05-25 22:49] divega commented on #4524
cc @rowanmiller since I know we had resolved a few bugs as dupes of this one. We may want to have something (maybe repurpose this issue?) to make sure we handle the equivalent scenario for tooling RTM.

[2016-05-25 22:51] ToddThomson commented on #5320
Is there a published workaround for this issue? I've added:

    "frameworks": {
        "net451": {
            "buildOptions": {
                "emitEntryPoint": true
            }
        },
        "netcoreapp1.0": {
            "imports": [ "portable-net451+win8" ],
            "buildOptions": {
                "emitEntryPoint": true
            },
            "dependencies": {

[2016-05-25 22:56] natemcmaster commented on #5320
@ToddThomson you are probably hitting https://github.com/dotnet/cli/issues/3164. Try setting the top-level emitEntryPoint build option to true.

[2016-05-25 23:10] smitpatel commented on #5449
@ShikiGami - A repro code would help me out identifying the issue.

[2016-05-25 23:14] ToddThomson commented on #5320
@natemcmaster Yes. That was it.

[2016-05-25 23:14] smitpatel commented on #5519
@Tasteful - To see exactly what is wrong I need to debug but looking at above query,
First `Order By` subquery is not aliased. Not sure if that would happen in `LiftOrderBy` only.
The exception being throw because the subquery is being put outside as is without changing the alias therefore `[c].[CustomerID]` which should be changed to `[o00].[CustomerID]` not happening.

[2016-05-25 23:22] divega commented on #5454
I think this is important still because it happens for a simple query and although the workaround (adding `== true`) looks simple enough once you know it, it is hard to imagine customers arriving to it.

From other perspective it looks lower priority than other RTM bugs.

@rowanmiller I have asked @maumar to still try to get a fix for this in but #3807 seems higher priority. Thoughts?

[2016-05-25 23:54] pachecosoftware opened #5526 "In Entity Framework Core 1.0.0-RC2-Final, there seems to be no way to get the underlying DBTransaction after invoking Db.Database.BeingTransaction()"
In RC1, given a DbContext instance, it was possible to begin a new transaction and gain access to the underlying DbTransaction in the following manner:

using (var transaction = dbContext.Database.BeginTransaction())
{
     **var dbTransaction = transaction.Instance;**
     //do other stuff
     dbContext.SaveChanges();
     dbContext.Database.CommitTransaction();
}

Having easy access to the unde

[2016-05-25 23:57] maumar commented on #3418
scenario works fine if one performs include before groupby, as follows:

[code]

clearing milestone for re-triage

[2016-05-26 00:22] maumar commented on #5454
Actually, this seems to be a duplicate of https://github.com/aspnet/EntityFramework/issues/4753 (scheduled for 1.0.1 currently)

[2016-05-26 02:24] chinaq commented on #5509
Thanks @rowanmiller. I published by the wizard to apply migrations to the target database, but it comes another problem. Because my website and the repo are in different projects and assembles, it causes
[code]
The context is in the repo assemble `SofuProdContr.BE.Repo2`, and I have to change the target to `SofuProdContr.BE.Repo2`. But When publishing I can not execute `donnet ef` manually.

How c

[2016-05-26 02:26] AustinFelipe commented on #5454
@maumar Yeah, I changed it and it's working now.

[code]

Btw, I agree with @divega, it's hard to figure out, isn't it?

But, thanks man, it's working now 👍

[2016-05-26 03:29] rowanmiller commented on #5454
Agreed

[2016-05-26 03:31] rowanmiller commented on #4524
Agreed, reopening and removing milestone so that we can discuss in triage

[2016-05-26 03:52] twsouthwick opened #5528 "Use views when reverse engineering database for POCO models"
Currently when using `Scaffold-DbContext` SQL views are not taken into account. Are there any plans to add model generation for views?

[2016-05-26 04:24] divega commented on #4524
Edited title to make it non project.json specific.

[2016-05-26 05:18] ShikiGami commented on #5449
@smitpatel It isn't an specific model that creates this. Basically any database that was created using RC1, and had a foreign key from a table to the default 'Id' form of IdentityUser and uses IdentityDbContext gets this under RC2.

[2016-05-26 06:13] ghost opened #5529 "Migrations Design: Compile error with enum discriminator"
### Steps to reproduce

Here the discriminator configuration in the DbContext

[code]

Here the project.json

[code]

I get this error with the ef database update command below when the class base is undefined with his own type enum, see the commented line

[code]

and here the discrimator generated in the designer file

[code]

Here the discrimator generated in the designer file when i uncommente

[2016-05-26 07:59] janiceattard opened #5530 "Performance of Include() on RC2"
Having the below model:

[code]

The SQL generated by the following queries is similar and both have similar timings in SSMS (< 0ms) and execution plans:

[code]

However, the when running the code the query with the Include() is very slow compared to the one with the join.

With the Include() we are only able to run 54,500 queries in 1 minute
With the join we get 212,500 queries in 1 minute

[2016-05-26 09:18] mhenderson442 commented on #5458
@natemcmaster

emitEntryPoint is set to true.

[code]

Here is the output when running Scaffold-DbContext with verbose:

[code]

[2016-05-26 11:22] leak commented on #5509
You probably have to wait until #5320 will be resolved.

[2016-05-26 12:33] lutsykigor commented on #4926
I can confirm that this issue is fixed at RC2, thanks guys for fixing it.

[2016-05-26 12:34] #4926 closed

[2016-05-26 13:14] Tasteful opened #5532 "Migrations: Avoid redundant IS NOT NULL on indexes"
### Steps to reproduce
Create an entity with string property that got an unique-index. Field is marked as required.
[code]

### The issue
Index is created on non null column, index is still created as a filtered index with an where statement. Somehow the filtered index is not used during all querying and got slow response time from SQL server (SQL 2012r2).
[code]

Migration code looks like the fol

[2016-05-26 14:56] bricelam commented on #3906
The wrap folder is no longer a thing in the .NET Core CLI. I'll be sure to verify this scenario, however, as we implement the changes coming to our tooling.

[2016-05-26 15:23] bricelam commented on #4078
This no longer repros on the latest codebase.

[2016-05-26 15:23] #4078 closed

[2016-05-26 15:52] #5184 closed

[2016-05-26 15:52] natemcmaster commented on #5458
@mhenderson442 thanks for that. I suspect this is related to imports. Try this to fix it

1. Delete `%USERPROFILE%\.nuget\packages\.tools\Microsoft.EntityFrameworkCore.Tools` and `%USERPROFILE%\.nuget\packages\Microsoft.EntityFrameworkCore.Tools`.
2. Make sure your "tools" section matches this:
[code]
cref https://docs.efproject.net/en/latest/cli/dotnet.html
3. Re run `dotnet restore` and look in

[2016-05-26 16:07] #5418 closed

[2016-05-26 16:07] #5272 closed

[2016-05-26 16:07] #5292 closed

[2016-05-26 16:23] lajones commented on #5528
Closing as dupe of #1679. https://github.com/aspnet/EntityFramework/wiki/Roadmap mentions that this is on the Backlog but no anticipated date yet.

[2016-05-26 16:41] bricelam commented on #5294
Notes for Triage: This is currently by-design. If an `IDbContextFactory` is found for the context, we will always try and use that to instantiate the `DbContext`. This is because `IDbContextFactory` is intended to override all other mechanisms (including getting an instance from the service provider and calling the `DbContext`'s default constructor).

[2016-05-26 16:44] bricelam commented on #4710
Closing this. We'll take it into consideration as part of #4546.

[2016-05-26 16:49] natemcmaster opened #5535 "Script migration fails if directory does not exist"
### Steps to reproduce
`dotnet ef migrations script -o ./some/folder/that/doesnt/exist.sql`

### The issue
[code]

### Workaround
Make the directory manually first.

[2016-05-26 16:56] Eilon commented on #5463
BTW for EF it could very well be that this is already 99% done. And for EF especially, if things like `tags` are needed, can copy as much as makes sense from the EF6 packages.

[2016-05-26 16:57] bricelam commented on #4606
I am not able to repro this on RC2. I suspect it was fixed with the transition to the .NET Core CLI.

[2016-05-26 16:57] #4606 closed

[2016-05-26 17:09] rowanmiller commented on #5509
@leak is correct, this is due to #5320 which is a limitation we are working to remove for the next release.

In the meantime, the best workaround is to revert to applying migrations in `Startup.cs`. You would do that by putting code like this in the `Configure(...)` method.

[code]

[2016-05-26 17:11] rowanmiller commented on #5320
When we have this implemented we need to verify that the right-click->Publish migrations feature works when the context/migrations is in a class library - I suspect it is not going to work by default because it will likely need to specify some of the target/startup project parameters.

[2016-05-26 17:24] rowanmiller commented on #5526
@pachecosoftware if you add a `using Microsoft.EntityFrameworkCore.Storage` then you will get a `GetDbTransaction()` extension method on `IDbContextTransaction`. It's an extension method now, because we promoted transactions to be part of the core of EF, but `DbTransaction` is specific to relational data stores.

[2016-05-26 17:25] rowanmiller commented on #5422
I think our main concern was having the test coverage to ensure we have the right quality for RTM. Are these tests getting run on CI or somewhere?

[2016-05-26 17:31] AndriySvyryd commented on #5393
@qpler-bot Yes, the change might take a few days to get pushed, as currently there are some unrelated failures that are blocking the package publishing

[2016-05-26 17:36] ToddThomson commented on #5320
Additionally, if your DbContext takes a parameter then you also need to add a simple startup.cs to the class library. I added:

public Startup(IHostingEnvironment env)
        {
            var builder = new ConfigurationBuilder()
                .SetBasePath(env.ContentRootPath)
                .AddJsonFile("appsettings.json", optional: true, reloadOnChange: true)
                .AddJsonFile($"a

[2016-05-26 17:40] rowanmiller opened #5536 "Turn-key Disconnected Entities Solution"
Currently we have a bunch of building blocks, such as `TrackGraph(...)` to help with disconnected entities, but we may want to have something higher level. This would be a more opinionated solution where you follow "our way of doing things" and get something that easily works end-to-end. Obviously we would still have the lower level building blocks for folks that don't want to do it our way.

[2016-05-26 17:40] rowanmiller commented on #5092
Opened https://github.com/aspnet/EntityFramework/issues/5536 to track a turn-key solution

[2016-05-26 17:41] divega commented on #5294
Agreed. For me the take away from this issue is that the name `IDbContextFactory` doesn't completely convey what it is for. It misses the fact that it is a self-contained way to obtain a fully configured context for design time tooling.

[2016-05-26 17:43] rowanmiller commented on #5303
@shaulbehr I think @ajcvickers just meant a getter-only property, that EF would ignore:

public string Hash
{
    get { return <logic to compute hash>; }
}

[2016-05-26 17:43] #5455 closed

[2016-05-26 17:43] rowanmiller commented on #5303
Closing as I think we have done all the work needed here, but feel free to ask any follow up questions.

[2016-05-26 17:47] rowanmiller commented on #5415
Related to https://github.com/aspnet/EntityFramework/issues/5532

[2016-05-26 17:47] maumar commented on #4753
closing this one, since we got a similar bug with some more context (https://github.com/aspnet/EntityFramework/issues/5454)

[2016-05-26 17:49] rowanmiller commented on #5415
Note for triage, we thought this was a dupe but we had closed the other report of this as "won't fix". However, we've seen several folks not like the redundant `IS NOT NULL` specification now, so we should reconsider.

[2016-05-26 17:52] rowanmiller commented on #5417
* In EF6 there's a method for  Database.SetInitializer<TContext>()  which doesn't exist in EF7. Is this replaced by  Database.EnsureCreated() ?

There is no concept of initializers in EF Core, you use the database APIs to take are of database setup during app startup. `EnsureCreated()` is the easiest way to get the database. `Migrate()` is the API to use if you are using migrations. Note `EnsureCr

[2016-05-26 17:54] ajcvickers commented on #5303
@rowanmiller I couldn't find any item on the backlog to track making it easy to set a simple value generator for a property. I was hoping we would triage this bug into that.

[2016-05-26 17:54] rowanmiller commented on #5452
This would also be a scenario where dropping down to raw SQL would be a good option...

[code]

[2016-05-26 17:56] rowanmiller commented on #5468
Duplicate of https://github.com/aspnet/EntityFramework/issues/5393 (already fixed in our working code base)

[2016-05-26 17:58] #4134 closed

[2016-05-26 17:58] bricelam commented on #5520
We should check for nulls and when generating the SQL on SQL Server. The parameter is option in the API because some databases (like PostgreSQL) only require the index name and schema.

[2016-05-26 17:58] #4608 closed

[2016-05-26 18:01] rowanmiller opened #5537 "Simple way to specify a value generator for a property"
We have the built in concept of value generators, but currently you have to use some pretty low level building blocks to configure one and it's difficult to set a generator for a given property. We should add a top level API for this.

[2016-05-26 18:01] mikary commented on #3180
Attempted to reproduce on `Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final` based on the example from @ShikiGami. The exception was not thrown and results appear to be correct.

Reproduction used:
[code]

[2016-05-26 18:01] #3180 closed

[2016-05-26 18:01] rowanmiller commented on #5303
@ajcvickers good point, I thought we had one already on the backlog... but I couldn't find it 😄. Opened https://github.com/aspnet/EntityFramework/issues/5537.

[2016-05-26 18:02] pterevinto commented on #5512
This got fixed by correcting the imports, deleting everything from C:\Users\774368\.nuget\packages\.tools\Microsoft.EntityFrameworkCore.Tools and running a dotnet restore .

[2016-05-26 18:03] ErikEJ commented on #5422
@rowanmiller They run when doing command line build on the local dev machine, just not when run using TestDriven

[2016-05-26 18:06] divega commented on #5422
Is there any chance that the new SQLite package could help fix the issue?

[2016-05-26 18:22] rowanmiller commented on #4524
This will go away as we consolidate with MSBuild

[2016-05-26 18:28] lpmeunier commented on #1368
Has anyone been able to get the many-to-many relations working using a join entity?

I have a simple scenario with 3 entities and 2 join tables:

- Person (abstract) setup for tph.
- Member : Person
- Child : Person
- Spouse : Person

join entities:
- MemberChildren
- MemberSpouses

[code]
setup tph in modelBuilder
[code]

setup relations

 //setup complex key for relationnal tables
            mo

[2016-05-26 18:28] rowanmiller commented on #4997
We need to isolate this and hand off a bug if it is external

[2016-05-26 18:32] rowanmiller commented on #5223
Check that hard coded data types are also written to the scaffolded migration

[2016-05-26 18:34] rowanmiller commented on #5234
**Triage:** Concluded that this should be worked around in CE

[2016-05-26 18:38] VSG24 commented on #1368
Here's how I do it: (Works as of RC2)

We have a class named `User` that has many to many relation with 3 other classes:

[code]

now for example for the relation with `Claim` class:

[code]

and the join entity:

[code]

finally this should go in the `OnModelCreating` of your db context class:

[code]

[2016-05-26 18:46] ErikEJ commented on #5234
Ok - any suggestions/hints for the wrapping approach? @rowanmiller

[2016-05-26 18:49] rowanmiller commented on #5406
@beho can you confirm that if you delete your RC1 migrations and then regenerate you get the correct thing?

[2016-05-26 18:54] rowanmiller commented on #5446
Calling the string overload should include the CLR property if one matches (even if the property is private).

[2016-05-26 18:55] rowanmiller commented on #5466
No action to be taken here - we'll be using the new SQLite package for RTM

[2016-05-26 19:04] rowanmiller commented on #5483
@natemcmaster this may already be fixed by some of your work for RTM?

[2016-05-26 19:08] rowanmiller commented on #5487
@mo-esmp can you retry this on the RC2 release.

[2016-05-26 19:09] pachecosoftware commented on #5526
Thanks so much for getting back with me.  Your explanation of why it moved to an extension method makes sense and adding the using statement worked just as you indicated.

As a follow-up question, once a transaction has begun, is there any way to determine if a DbContext is currently in the context of a transaction?  It appears that DatabaseFacade and the underlying IDbContextTransactionManager it

[2016-05-26 19:09] mvermef commented on #5483
what do I need to fork to get the latest code to test out?

[2016-05-26 19:11] mtycholaz opened #5539 "RC2 Question about the table name change to match property name"
One of the new changes in RC2 is that that table name of entities will match the property name. I'm not seeing this happen, in-fact my migration generated code puts the name of the entity as the table name.

But, if I run my code EF tries to find a table with my property name.

Is there a step I'm missing? Is this an option that must be enabled? I'm aware of the workaround [here](https://docs.efpr

[2016-05-26 19:11] lajones commented on #3987
Fix (as designed above) checked in with f2f90ca.

[2016-05-26 19:11] #3987 closed

[2016-05-26 19:46] oyvindvol commented on #5406
@rowanmiller I didn't get the right thing after deleting RC1 migrations.

[2016-05-26 19:57] natemcmaster commented on #5483
Actually, this issue should have landed on https://github.com/aspnet/PlatformAbstractions. The work around is to remove Microsoft.EntityFrameworkCore.Tools from your project before you build.

Leaving open as I am working on removing as many dependencies from our tooling package as possible.

[2016-05-26 19:57] rowanmiller commented on #5539
Nothing should be needed to make this work. Can you share your code so that we can try and reproduce the issue.

[2016-05-26 19:59] natemcmaster commented on #5483
Just checked. There is already an issue open for this. https://github.com/aspnet/PlatformAbstractions/issues/34

[2016-05-26 20:05] rowanmiller commented on #5294
Discussed and concluded that `IDbContextFactory` is just a design time activator for contexts - and should not be resolved from DI etc.. We did discuss changing the name to help convey this, but decided to keep as-is since there isn't a great name and we had an `IDbContextFactory` in EF6.x which does the same thing.

[2016-05-26 20:12] #5411 closed

[2016-05-26 20:49] mvermef commented on #5483
got it... just commented out the tools and it does build thanks for the temporary workaround.

[2016-05-26 20:54] #4683 closed

[2016-05-26 20:59] beho commented on #5406
@rowanmiller I deleted both migrations and model snapshot but new clean-slate migration still contains both TicketBatchId and TicketBatchId1.

[2016-05-26 21:08] #5397 closed

[2016-05-26 21:33] lajones commented on #5428
Fix checked in with 552d6ec.

[2016-05-26 21:33] #5428 closed

[2016-05-26 21:38] ajcvickers commented on #4828
This issue here is using the same List instance as the navigation property on multiple entities. This is not supported. We discussed trying to detect this and throwing with a better message, but it doesn't seem like the value would be enough given the performance/memory costs of detecting it. To fix the code do a ToList on the tags instance each time it is used to create a navigation property. For

[2016-05-26 21:38] #4828 closed

[2016-05-26 21:49] smitpatel commented on #5485
This no longer reproduces. Verified in RC2. We use OFFSET/FETCH for any `PageNumber` for both of the queries written above.
@rowanmiller - Anything to do here? or close?

[2016-05-26 21:54] natemcmaster commented on #5012
I've proposed 2 changes in #5542 that will help with this and related scripting errors:

1. dotnet ef will only use stderr for actual error messages.
2. Commands with json output `--json` will now also have `--json-delimited`. This will additionally spit out '//BEGIN' and '//END' for those so those building scripting on top of ef commands and who need to ensure they get only JSON as they parse its

[2016-05-26 21:57] lajones commented on #5428
Adding the `providers-beware` tag just in case any provider out there is re-using this code.

[2016-05-26 22:01] ajcvickers commented on #4838
This not longer repros with the current bits.

[2016-05-26 22:01] #4838 closed

[2016-05-26 22:33] divega commented on #5529
FWIW, the repro we obtained for #5406 also shows the case in which we generated a discriminator value of the enum type, e.g. `b.HasDiscriminator<short>("PaymentType").HasValue(EnumPaymentType.PAYMENT)`.

[2016-05-26 22:42] smitpatel commented on #5449
@ShikiGami - Can you post exception you are getting with full stacktrace. If exception is different then please file new issue.
I am trying to create a database using RC1, if you can provide the small repro code for classes added to Identity that would be useful in create RC1 database which fails on migration to RC2.

[2016-05-26 22:56] divega commented on #5529
@AndriySvyryd is this something we could fix for RTM? Or should we consider other options?

cc @rowanmiller

[2016-05-26 23:04] rowanmiller commented on #5485
You can close

[2016-05-26 23:04] bricelam commented on #5223
We decided to add `maxLength`, `unicode` & `timestamp` to the Migrations APIs.

[2016-05-26 23:39] mhenderson442 commented on #5458
@natemcmaster Following you instructions, `dotnet ef` worked.

Using Package Manager Console I got the following error:

[code]

`command otnet ef dbcontext scaffold` executed with errors, but I think that's unrelated to this issue.

Got the following error: `One for more errors ocurred. (Invalid object name 'sys.sequences'.)`.

I am connecting to a SQL Azure database. Is this supported?

[2016-05-27 00:22] #5344 closed

[2016-05-27 00:40] natemcmaster commented on #5458
:+1: glad we got the first error out of the way.

Yes, can you open another issue? We support querying from SQL Azure, but I don't think we have ever testing scaffolding from a SQL Azure database. cc @lajones

This can probably be closed now. For anyone else who encounters this (cc @Kurira), the "Newtonsoft.Json" error is likely due to NuGet caching issues. Clear your caches as instructed above  h

[2016-05-27 00:47] natemcmaster commented on #5254
Per this comment, https://github.com/dotnet/corefx/issues/8701#issuecomment-221961745, Linux has decreased scalability with .Open() compared to Windows.

cc @divega @ajcvickers this may have implications for the change tracker and sequences. In the test that is failing [see test code here](https://github.com/aspnet/EntityFramework/blob/975b6840ee5c4f16cba202a4a8b88d10e18b8cca/test/Microsoft.Entity

[2016-05-27 00:57] maumar commented on #5522
the problem is in here

[code]

Because a.E is optional navigation, a.E.Id can potentially be null. To compensate we convert the calls to int? and now we are trying to fit int? into int column.

Workaround is to use anonymous type instead:

[code]

[2016-05-27 01:12] smitpatel commented on #5038
fixed via c97c523c179df16600528d67e5048899f0131c22

[2016-05-27 01:12] #5038 closed

[2016-05-27 01:25] divega commented on #5522
Talking to @maumar and @ajcvickers, we don't feel like this is RTM, because of the workaround and it doesn't seem to be that common. Thoughts?

cc @rowanmiller @anpete

[2016-05-27 01:35] maumar opened #5544 "Query :: force client evaluation on First() inside a query"
We are currently translating First and FirstOrDefault calls into SQL whenever we can, however we should consider forcing client eval on First, so that we can mimic L2O behavior of throwing if there are no elements in the collection. We should continue translating FirstOrDefault

[2016-05-27 01:40] maumar opened #5545 "Query :: prevent Coalesce from null compensation in NavigationRewritingExpressionVisitor -> VisitBinary"
If we are expanding optional navigation, we sometimes change the expression type from non-nullable to nullable (e.g. c.Order.Id, Id is int, but Order can be null, so we cast the whole expression into int?).

In the VisitBinary we compensate for the discrepancy that can sometimes happen, e.g. during comparisons, when one side was expanded and converted to a nullable type and the other side was not.

[2016-05-27 01:42] maumar commented on #5545
Once this bug is fixed, issue #5522 could be worked-around using coalesce

[2016-05-27 01:49] divega commented on #5254
My understanding is that this test is purposely very chatty with the database. Hopefully the problem with the connection pool on Linux is fixable, but customers that are trying to make their application scale better have better options, like using HiLo (which will only get a new value from the database periodically) or sequences as default values instead of using sequences like this.

In the futur

[2016-05-27 01:49] Rick-Anderson commented on #5223
@bricelam will that make it with the RTM preview tooling ?

[2016-05-27 02:07] maumar opened #5546 "Query :: allow projection of one entity from a nested collection without client-side evaluation"
example:

[code]

This issue is a superset of #3807 If we project a single column we can translate it into a simple subquery like so:

[code]

This doesn't work if more than one column is projected because scalar query is expected (one column, one row)

[2016-05-27 02:37] mtycholaz commented on #5539
@rowanmiller Actually, I found the problem. 100% user error.

[2016-05-27 02:46] smitpatel opened #5547 "Metadata: Exception in model validation if derived type is discovered before base type"
### Steps to reproduce
Model and context
[code]

### The issue
Model building fails.
[code]
[code]
If the name of the dbset of `TicketBatches` is changed to `ATicketBatches` (or anything which comes before `PrintBatches` alphabetically) it works fine.

### Further technical details

EF Core version: RC2-final
Operating system: Win10
Visual Studio version: VS2015.2

Other details about my project s

[2016-05-27 02:57] smitpatel commented on #5547
The issue here is `[key]` annotation sets key with CS.DataAnnotation which CS.Convention could not remove and doesn't set the base type conventionally.

[2016-05-27 02:59] divega commented on #5547
Sounds to me like something we should try to fix for RTM. BTW, this is one of the issues we found in the repro we obtained from the customer for #5406.

[2016-05-27 03:10] divega commented on #5406
Thanks @beho for the full repro. In case it helps you workaround the issue, the `Guid` property on `TicketBatch` is what is triggering the behavior.

Here is a minimal repro:

[code]

[2016-05-27 03:10] divega commented on #5406
Assigning this to @smitpatel for investigation.

[2016-05-27 03:38] smitpatel commented on #5406
Issue here is matching properties:
Somewhere in past we decided that if for one-to-one relationship if both the sides have matching properties then it is ambiguity therefore we do not do anything with relationship. This later throws exception as principal/dependent side are not set for one-to-one relationship.
Though currently, this logic is being applied to one-to-many relationship also. For the

[2016-05-27 05:19] lpmeunier commented on #1368
@VSG24 how does fetching related entities look in your code?

For example,

` var user = context.Users.Include(c => c.Claims).FirstOrDefault(u => u.Id == 3);`

Do you then have access to:

`var claims = user.Claims.Select(c => c.Claim);`

make sure you have not created the user and claims in the current context instance IE: make sure this is fetched from the db in a fresh context.

My setup is pre

[2016-05-27 06:42] PrashanthIBM commented on #5391
Hi ,

I am trying to upgrade my project to RC2.
In my previous project.json, i was able to refer gac assemblies using the frameworkassemblies section. But after upgrading to RC2, assemblies in gac are not getting recognized.
Even i tried using the import , but no luck.

Can anyone help me ?

sample project.json :
  "frameworks": {
    "net451": {
      "imports": [ "portable-net452+win81" ],

[2016-05-27 07:00] conterio commented on #2408
i'm getting the same error when i call await _context.SaveChangesAsync();

[code]

This is scaffolded code generated on the edit view from the default applicationuser.  Im not sure whats going on.

[2016-05-27 07:04] davidfowl commented on #5391
GAC assembly references are not supported in the .NET CLI. File an issue here https://github.com/dotnet/cli

[2016-05-27 07:08] PrashanthIBM commented on #5391
we have an assembly which because of various dependencies, can not be created as package.
So what is the work around or alternative to referring the assembly present in GAC ?

[2016-05-27 07:10] davidfowl commented on #5391
You can't reference it from the GAC for compilation so you'd need to put it in a nuget package

[2016-05-27 07:20] PrashanthIBM commented on #5391
@davidfowl As of now nuget package is not possible, do  have any other way to do it ?

[2016-05-27 07:53] Tasteful commented on #4521
@smitpatel @maumar This issue can be closed after merged PR. Will not close it because of what I think is wrong milestone.

[2016-05-27 08:01] smitpatel commented on #4521
PR closes the issues if used with special words which GitHub recognizes. I think fix or close words with issue number works. 😄
This issue is about repeated variable name. Considering underlying non-parametric query is working correctly now, we should verify that variable names are generated correctly. And if it working correctly now then test coverage should close this issue.

[2016-05-27 08:12] smitpatel commented on #5529
According to #4061, we encountered similar issue on Default value. The value was Enum type and which Migration doesn't (& shouldn't) import. The fix we applied there was to store underlying value in annotation for default value. Probably something similar we can do when storing discriminator value annotation if it is enum type.

[2016-05-27 08:45] Pictuel opened #5548 "RC2 NotImplementedException"
Hi, I've got a weird issue now my app is ported to RC2 from RC1 (it worked great)
My code used to get a file from my generic store:

public async Task<TEntity> FindAsync<TEntity>(Func<TEntity, object> propertyToMatch, object property, CancellationToken cancellationToken = default(CancellationToken)) where TEntity : class
        {
            TEntity entity;
            using (var dbContext = new

[2016-05-27 08:51] rchamila opened #5549 "Scaffold-DbContext is not working"
Im trying to generate the EF context for MS SQL database using the Scaffold-Context command in EFCore. But I'm getting following error each time I execute the command in Package manager console.

Command I used :
Scaffold-DbContext "'Server=DomainName\Server;Database=xxxxx;Trusted_Connection=True;'" Microsoft.EntityFrameworkCore.SqlServer

Error I got :
**The term 'Scaffold-DbContext' is not recog

[2016-05-27 09:41] ilogixxDE opened #5550 "Updating from RC1 to RC2 add-migration failes"
We have updated our Project from ETFCore1RC1 to RC2. To check all is as expected we followed the update procedures.
Having all in place all is compiled fine.
BUT:
add-migration throws an exception saying:

The child/dependent side could not be determined for the one-to-one relationship that was detected between 'EMailMessageData.EMailMessage' and 'EMailMessage.EMailData'. To identify the child/dep

[2016-05-27 10:20] roji commented on #1679
Just a note for whenever this gets tackled - PostgreSQL views are updatable in some cases, see [the docs](https://www.postgresql.org/docs/current/static/sql-createview.html#SQL-CREATEVIEW-UPDATABLE-VIEWS) for when this is valid. I'm not sure if this kind of thing is supported in other databases, just want to make sure views in EFCore aren't approached as necessarily read-only entities.

[2016-05-27 10:54] VSG24 commented on #1368
`
var user = _db.Users.Include(d => d.UserClaims).ThenInclude(d => d.Claim).First(d => d.UserId == 3);
`

and now I have access to claims.

`
var claims = user.UserClaims;
`

[2016-05-27 12:18] mhenderson442 commented on #5458
From perspective I think this issue is closed. I will tinker some more to make sure the other errors warrant a new issue.

@lajones @divega @natemcmaster Thanks for the guidance.

[2016-05-27 12:18] #5458 closed

[2016-05-27 13:04] brianro commented on #5522
But E.Id is nullable, so why do we have to add the conversion?
What am I missing?

[2016-05-27 13:21] mariustom commented on #3797
Is there any date when the feature will be available? These .Include statements I have to write are ridiculous, it's causing the application to be slower and/or ruining my application logic that was written with lazy loading in mind and I would rather wait for the feature than rework the application.

[2016-05-27 13:25] lucabriguglia commented on #3797
When using in memory database for testing I'm getting an "auto" eager loading.

[2016-05-27 13:35] gdoron commented on #3797
@mariustom actually, no.
If you are using the ORM as intended it will make your application much faster by reducing number of calls to the DB.

[2016-05-27 13:49] AndiRudi commented on #3797
@gdoron Speed is not the most important thing. For a good application design its often acceptable to have less speed in the first place, but a more readable solution in the long run. I also figured that sometimes lazy loading ist even faster if done right. Above all if you want to use EF like ActiveRecord in Rails Lazy Loading is a must have!

[2016-05-27 13:57] gdoron commented on #3797
@AndiRudi I still believe(and have experience that proves it) that the feature that people here call "lazy loading" is an anti pattern.
Amature developers using it wrong without being aware of the performance problem it can cause.
Experienced developers don't need it as they can design their application better.

I for instance I would love not to have the feature or at least being able to disable

[2016-05-27 14:04] AndiRudi commented on #3797
@gdoron It's about creating an application, that is easy to understand. In my case its because I want to write IQueryable Extensions that can do something like customer.Orders.Active() which return all the active orders. There is no perfomance bottleneck in that call (because paging comes later) but you need lazy loading to do this because in an IQueryable Extension you don't have access to the co

[2016-05-27 14:10] john-surcombe commented on #3797
@gdoron Lazy loading can demonstrably reduce the amount of code you have to write, reduce the chance of the code that you do write contains bugs, and it can also give performance improvements because in some circumstances you can avoid inadvertently loading the same data multiple times. These are all good practice. With general good practice, an experienced developer can leverage all these benefit

[2016-05-27 14:17] bunceg commented on #3797
@gdoron I feel this is akin to the "_" vs "m_" vs "nothing at all" debate for class level naming conventions. There is no right and wrong

I still believe (and have experience that proves it) that having an ORM without Lazy Loading is a sop to inexperienced or poor developers. Not understanding how ORMS work and checking your SQL statements in profiler is a classic ORM mistake.

In my case, inexpe

[2016-05-27 14:19] pterevinto opened #5551 "Order for Creating Migrations is incorrect"
Whenever you rename a table, the order of the migration steps is incorrect.
This is the scenario today:
1. Drop Foreign Keys **old** Table Name
2. Drop Primary Keys **old** Table Name
3. Add Primary Keys **new** Table Name
4. Add Foreign Keys **new** Table Name
5. Rename Table from **old** to **new**

If i'm not wrong, this is coming from [_Microsoft.EntityFrameworkCore.Relational\Migrations\Inter

[2016-05-27 15:21] jemiller0 commented on #3797
Lazy loading is listed as a “critical feature” not in 1.0 https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-entity-framework-core-rc2/, not a high priority or low priority one, a critical one. So, it would appear that it’s going to get in there eventually. It’s just that the EF team had other things that it needed to implement first. Yes, developers that don’t know what they are doing

[2016-05-27 15:24] vlkam commented on #3797
My vote for lazy loading. It's very simplify developer's life.
At this moment I'm trying to do simple Lazy loading functionality for SQLite,because EF7 can't do it
But lazy loading also requires Change tracker. Therefore, the EF will no longer be needed for me at all,simple SQLite ORM will be enough

[2016-05-27 15:31] rowanmiller commented on #5550
In RC2 we stopped "guessing" as much for one-to-one relationships. You need to add a call to HasForeignKey<T> to let EF know which is the dependent/child end - the link in the exception message has details.

[2016-05-27 16:04] rowanmiller opened #5552 "API to get current transaction"
When we moved transactions to core we lost a top level API to get the current transaction, we should add one.

[2016-05-27 16:05] rowanmiller commented on #5526
Looks like we don't have an API to get the current transaction at the moment. I've opened https://github.com/aspnet/EntityFramework/issues/5552 to make sure we add one (it will be post-RTM thought).

[2016-05-27 16:12] rowanmiller commented on #5473
@djechelon rather than flushing the existing context could you not just create a new context? This is likely going to give you better performance since detaching entities is an operation that takes time. We highly optimize the context creation code path.

[2016-05-27 16:32] divega commented on #5473
E.g. things that are expensive to compute but are not directly tied to a specific `DbContext` instance,  such as mappings, query translations and result materializers are computed once and cached outside the context so they can be shared with any subsequent instances.

[2016-05-27 16:37] mhenderson442 opened #5553 "Reverse Engineer: Scaffolding fails on Azure Sql Server v11 and SQL 2008 because sequences are not supported"
Steps to reproduce
`Scaffold-DbContext -Provider "Microsoft.EntityFrameworkCore.SqlServer" -Context "DbMercurySchool" -OutputDir "DataModel"  -Connection "Server=[Sql Azure Database Server];Data Source=[Sql Azure Database];Initial Catalog=MercurySchool;Persist Security Info=False;User ID=[User ID ];Password=[My Password];Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertific

[2016-05-27 16:41] bricelam opened #5554 "Fluent API: Timestamp/RowVersion"
We have a core-level convention for `[Timestamp]`, but no corresponding `IsRowVersion` method.

In EF6, these were equivalent.

[code]
[code]

[2016-05-27 16:48] divega commented on #5473
@robbpriestley

It sounds ok, as long as `WebLogRepository` is registered as a scoped service, so that its lifetime is also tied to the request.

[2016-05-27 16:51] divega commented on #5473
Closing as I believe we have answered all questions. Feel free to create a new issue if you find any issues,  or to respond to this thread if something isn't clear in our answers.

[2016-05-27 16:51] #5473 closed

[2016-05-27 16:53] robbpriestley commented on #5473
@divega yes, thanks, I believe it is. In `Startup.ConfigureServices(...)` I have `services.AddScoped<IWebLogRepository, WebLogRepository>();`

[2016-05-27 16:55] smitpatel commented on #5551
duplicate of #3990
Already fixed in #5480

[2016-05-27 17:45] bricelam commented on #5223
@Rick-Anderson Yes, a PR is out for review now.

[2016-05-27 17:52] smitpatel commented on #5421
While further exploring translations, I found that if the inner subquery has top or offset or needs DISTINCT then subquery may be required. We cannot convert it to flattened query.
With #4903 we have already removed inner join itself if there is no order by on non-principal-key column. So at present this translation seems to apply only the cases when there is no distinct/top/offset and there is or

[2016-05-27 18:10] divega commented on #3797
@lucabriguglia that sounds unexpected and could be a bug instead of a feature. If you have a repro, could you create an issue with it?

[2016-05-27 18:20] rowanmiller commented on #4996
@RickyLin good point, here is some more complex code that sets the table name the same way our "get the name from the DbSet property" convention works...

[code]

[2016-05-27 18:27] lucabriguglia commented on #3797
@divega it's definitely a bug, my application works without issues my tests are failing. I'll create a new issue.

[2016-05-27 18:37] smitpatel commented on #5034
still issue 😢

[2016-05-27 18:42] anpete commented on #5444
@cykone Can you provide the stack trace?

[2016-05-27 18:53] #5317 closed

[2016-05-27 18:53] anpete commented on #5440
@bragma Are you able to re-test this against a nightly build? You can use this feed: https://www.myget.org/F/aspnetvnext/api/v3/index.json

[2016-05-27 18:57] divega commented on #5034
It seems the Roslyn packages we are getting are still dependent on older RC2 packages of .NET Core. The fix is in RC3 of .NET Core, but not sure when the dependencies will be upgraded. @pranavkm may know.

[2016-05-27 19:04] bricelam commented on #4804
This may have been fixed by #5480

[2016-05-27 19:06] lucabriguglia commented on #3797
just my 2 cents for lazy/eager loading. It would have been better if they weren't included at all, but if they are they should be disabled by default.

[2016-05-27 19:09] smitpatel commented on #5553
Ah Sequence issue. We are trying to get metadata about sequences but not all version of Sql Azure supports sequences so database error.
@mhenderson442 - Can you also tell us details about the server like version of Sql Azure?

[2016-05-27 19:21] smitpatel commented on #5522
Try this solution:
[code]
Generates following query
[code]
And does not throw above exception. `ToList()` version runs without any exception. (`First()` fails for me because my database doesn't have any data.)

[2016-05-27 19:35] brianro commented on #5522
Nope – the moment I add in the additional fields, it fails with the same error. The problem seems to be a lot deeper than just the key field and it applies to any model that has a parent with an optional child.

B.

From: Smit Patel [mailto:notifications@github.com]
Sent: Friday, May 27, 2016 2:22 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: brianro <brianro@hotmail.com>;

[2016-05-27 19:42] vedranzg commented on #5549
also have the same problem..

ASP.Net Core Web App (.Net Core)
EF Core version: 1.0.0-rc2-final
Operating system: Windows 10
Visual Studio version: VS2015

[2016-05-27 19:42] pranavkm commented on #5034
They're working on updating to RC3. We might have to wait until Tuesday to find out if this is fixed.

[2016-05-27 20:06] lpmeunier commented on #1368
@VSG24 Thanks a lot, the ThenInclude() extension did the trick!

[2016-05-27 20:09] smitpatel commented on #5522
As @maumar described above
`A.E` is option navigation. (due to `Int32?` a nullable type being FK property). Therefore `A.E.Id` can have null value and the result value is nullable type of whatever is type of `A.E.Id`. And that applies to all the properties of `E`.
Therefore based on what you want,
This should be the work-around.
[code]
For further properties added inside `new E` you need to cast t

[2016-05-27 20:11] miramares opened #5559 "TPH with SUM not worked"
I use TPH hierarchy:
GeneralItem (is not abstract class)
Level1Item : GeneralItem
Level2Item : GeneralItem

When I call this
`double generalMoneyAmount = db.GeneralItem.Where(i => i.ParentId == parentId).Sum(f => f.MoneyAmount);
double level1MoneyAmount = db.Level1Item.Where(i => i.ParentId == parentId).Sum(f => f.MoneyAmount);
double level2MoneyAmount = db.Level1Item.Where(i => i.ParentId == pare

[2016-05-27 20:26] smitpatel commented on #5559
Looks like the query is missing the discriminator predicates. Can you upgrade to RC2 packages of EF (if that works and let us know if you still see the error?

[2016-05-27 20:28] divega opened #5560 "Consider removing dependency on System.Collections.Immutable if we can (again)"
Currently the only usage is in `RelationshipDiscoveryConvention` where we have an `ImmutableSortedDictionary` as the payload for an annotation.

This issue is just to follow up on whether it is really needed since in the past we made the explicit choice to use other data structures that worked better for us (maybe in this case it is justified).

[2016-05-27 20:33] smitpatel commented on #5549
I created new .NET Core console app and copied project.json as it was provided by @rchamila . I ran `dotnet restore --infer-runtimes` and then `Scaffold-DbContext` works.
If the term is not recognized then there is some issue in the tools installation. Try restoring packages again. You may need to delete the directory `%USERPROFILE%\.nuget\packages\.tools\Microsoft.EntityFrameworkCore.Tools` if to

[2016-05-27 20:34] miramares commented on #5559
I see no updates for nugget package. Can I upgrade in other way?

27. 5. 2016 v 22:26, Smit Patel <notifications@github.com<mailto:notifications@github.com>>:

Looks like the query is missing the discriminator predicates. Can you upgrade to RC2 packages of EF (if that works and let us know if you still see the error?

—
You are receiving this because you authored the thread.
Reply to this email di

[2016-05-27 20:38] smitpatel commented on #5559
Packages are available on nuget.org just names are changed.
Refer to guide http://ef.readthedocs.io/en/latest/miscellaneous/rc1-rc2-upgrade.html for upgrade.

[2016-05-27 20:49] mhenderson442 commented on #5553
The server hosting my database describes the following features:

- Server Version: V2

- Extended Transact SQL

- API Version 12

[2016-05-27 20:54] #5012 closed

[2016-05-27 20:54] #5483 closed

[2016-05-27 20:58] divega commented on #5421
Moving to 1.0.1 for reconsideration based on @smitpatel's comment. cc @rowanmiller

[2016-05-27 21:08] smitpatel commented on #4695
Generated query
[code]
Valid Sql and gives correct result.

[2016-05-27 21:08] #4695 closed

[2016-05-27 21:28] anpete commented on #5481
@maumar for the nav prop null expansion, should this be null ref'ing?

[2016-05-27 21:30] anpete commented on #5481
@iberodev Does the deadlock occur if you remove the Includes. BTW, the Includes are not needed if you are just doing a Count.

[2016-05-27 21:50] #5223 closed

[2016-05-27 22:19] bricelam commented on #3928
Marking for re-triage. Doing this would be a good way to validate the APIs added in #4917.

[2016-05-27 22:51] smitpatel commented on #5449
Got repro for first exception
[code]

[2016-05-27 23:58] divega commented on #5547
We agreed this should be fixed in RTM with @smitpatel @bricelam and @ajcvickers.

[2016-05-27 23:58] divega commented on #5406
We agreed this should be fixed in RTM with @smitpatel @bricelam and @ajcvickers.

[2016-05-28 00:56] divega commented on #5288
Friendly ping on this. Based on the exception message being unhelpful, I don't think we should close this, but I am ok with postponing to 1.0.1. @rowanmiller any thoughts?

[2016-05-28 01:29] divega commented on #5343
This no longer reproes.

[2016-05-28 01:29] #5343 closed

[2016-05-28 02:43] saeid-p opened #5567 "Execution issue from different threads when using interceptors"
### Steps to reproduce

I simply set an interceptor to log the queries and commands generated by EF. This is the setting I used:

[code]
### The issue

When I run queries from different threads, it raises the following exception:

The following is the code I used to execute queries asynchronously:

[code]
### Stack trace:

[code]

If I await each task individually, it will run just fine. It think

[2016-05-28 04:07] ShikiGami commented on #5449
@smitpatel
Create any model with an IdentityUser default implementation and any other Model with a Foreign key to IdentityUser Id, and you will have this problem.
The stack trace and exception are exactly the same as in this case.

[2016-05-28 04:44] smitpatel commented on #5449
I will give it a try. A side question would be, why the foreign key is pointing to `IdentityUser` and not the `ApplicationUser`?

[2016-05-28 04:47] ShikiGami commented on #5449
@smitpatel ApplicationUser is a name giver to the standard implementation of IdentityUser, so the foreign key is actually pointing to ApplicationUser.

[2016-05-28 05:42] smitpatel commented on #2408
@conterio - Can you file a separate issue? The exception may be the same but the cause could be totally different. While filing new issue, please provide more information about your model classes for us to repro the issue.

[2016-05-28 06:22] ErikEJ commented on #5553
Do a SELECT @@version

[2016-05-28 06:54] ilogixxDE opened #5568 "IdentityColumn: Insert fails"
I do have a model that contains an identitycolumn TicketID:

Public Class Ticket
    <Key>
    <DatabaseGenerated(DatabaseGeneratedOption.Identity)>
    Public Overridable Property TicketID As Integer
    End Property
    Public Property CreatedAt As Date
    Public Overridable Property Phonecalls As List(Of PhoneCall)
    Public Overridable Property EMails As List(Of EMail)
    Public Overridable

[2016-05-28 07:25] ErikEJ commented on #5553
@lajones
     DECLARE @sqlVersion numeric(4,2)
     SELECT @sqlVersion = LEFT(CAST(SERVERPROPERTY('productversion') as VARCHAR), 4)
     IF (SERVERPROPERTY('EngineEdition') == 5 AND @sqlVersion < 12) OR (@sqlVersion < 11)
     -- No sys.sequences

[2016-05-28 07:58] smitpatel commented on #5568
When you set up a column in database to use `IDENTITY`, you cannot insert explicit values in the column. That is SqlServer restriction.
In EF while saving entities, if you assign explicit value to a property which is configured to use `IDENTITY` then you hit above exception.

[2016-05-28 08:21] abdu292 commented on #5383
Please ignore (as you already did) my previous comment.  Following this [Workaround](https://github.com/aspnet/EntityFramework/issues/5069#issuecomment-216654757)
,the migration was successful even within the class library and WACK was passed.

Not sure, why nobody has notified me this on my original question, until @divega responded to @MMalikKhan

Anyway Thank you all!

[2016-05-28 09:09] ilogixxDE commented on #5568
Thank you for this.
I know about those restrictions, and for shure the property is NEVER set. So I can't understand. This issue cames upin my model after upgrading from RC1 to RC2.
Is there any Change made from RC1 to RC2 that might be realted to this?

[2016-05-28 09:13] ilogixxDE opened #5569 "ID Columns for explicit insert can'"
In our model we do have a column defined with the annotations:

[code]

So,I am not able to create a ID column that allows for explicit insert.  How can I achieve this?

Regards

[2016-05-28 11:42] mhenderson442 commented on #5553
`SELECT @@VERSION` outputs the following:

Microsoft SQL Azure (RTM) - 11.0.9231.349
	May 20 2016 14:01:37
	Copyright (c) Microsoft Corporation

`SERVERPROPERTY('EngineEdition')` = 5

`SERVERPROPERTY('productversion')` = 11.0

**Off in the weeds:**
Interesting that what I have does not support sequences. It was my understanding that SQL Azure supports sequences ([reference](https://msdn.microsoft.

[2016-05-28 11:55] ErikEJ commented on #5553
@mhenderson442 Azure SQL database has version 11 and 12, it is possible to update from 11 to 12: https://azure.microsoft.com/da-dk/documentation/articles/sql-database-upgrade-server-portal/

[2016-05-28 12:28] mhenderson442 commented on #5553
@ErikEJ  Just saw that I can upgrade and am doing so.

[2016-05-28 12:33] ErikEJ commented on #5553
@mhenderson442 Great idea, that should unblock you!

[2016-05-28 12:55] mhenderson442 commented on #5553
Upgrading to to version 12 unblocked me and I successfully executed Scaffold-DbContext.

@smitpatel @ErikEJ Should this issue be closed, or leave it open till the version 11 scenario is addressed.

[2016-05-28 13:21] ShikiGami commented on #5488
I'm using it in production, what the hell can I do?

[2016-05-28 13:21] ErikEJ commented on #5553
As long as Azure supports v11 databases, I vote for a bug fix

[2016-05-28 13:24] oyvindvol commented on #5488
@ShikiGami is the foreign keys getting a "1"-number added at the end?

[2016-05-28 13:30] smitpatel commented on #5553
As as @ErikEJ said, since there are Azure database v11 out there, EF should not fail like that and have better check for server version. Leave this issue open please.

[2016-05-28 13:32] smitpatel commented on #5568
Can you share your code of your model classes, db context and where you are trying to save changes?

[2016-05-28 13:46] ShikiGami commented on #5488
No, the names are completely wrong, specially all of the keys that have to do with identity and roles.

As a simple example, I'm getting `FK_AspNetUserRoles_AspNetRoles_RoleId` instead of the real FK `FK_IdentityUserRole<string>_IdentityRole_RoleId`

Also, all the FK that have to deal with tables with discriminators, have in the middle the name of the actual table instead of the name of the discri

[2016-05-28 13:50] ShikiGami commented on #5488
Also I'm getting another bug, when every time I try to create a Migration, it makes the ApplicationDbContextModelSnapshot unusable.
It replaces all `.HasDefaultValue(false)` with `.HasDefaultValue("False")`, and then it crashes because `"False"` is of type string.

[2016-05-28 14:05] abdu292 opened #5570 ".NET Native - Perf: LINQ queries run slower on Release mode"
Friends,
I was doing some performance testing before I publish the app on to the store. However here is one critical issue I am seeing.

The below code takes around 8 second to run in Release mode, but runs within just 2 seconds in debug mode.
(where the related tables are very small tables and the number of records in the main table is 150)

If the code runs within 2 seconds in debug mode (with d

[2016-05-28 14:06] ErikEJ commented on #5570
This will load all data from all tables?

[2016-05-28 14:09] abdu292 commented on #5570
@ErikEJ  Yes, it does and that is part of the requirement.  Those tables are very tiny as you could see (phones, websites etc)

[2016-05-28 14:47] XcoderTeam opened #5571 "RC2 Upgrade Eager Loading throw an exception"
I upgrade my project from RC1 to RC2 found there is an issue in my query.
In RC1 it work fine, anything wrong with my code?

             var query = _talentRepository.Table;

            if (!string.IsNullOrEmpty(location))
                query = query.Where(t => t.Location.Contains(location));

            query = query.Where(t => t.ResumeSearchable == resumeSearchable);

            query = qu

[2016-05-28 15:41] miramares commented on #5559
So, when I made upgrade to RC2, all is OK :-) thank you.
But... maybe one question about TPH. When base class is not abstract, how can I restrict data only for this class? Must I always define base class as abstract?

[2016-05-28 15:48] mhenderson442 commented on #5553
Agreed. I will leave open.

[2016-05-28 16:53] vedranzg commented on #5549
Great, this is helpful and now Scaffold-DbContext works. Thanks a lot for your help

[2016-05-28 18:08] smitpatel commented on #5559
In TPH, query can be written in various ways to get data of particular class only.
Taking hierarchy as you mentioned in your first post.
1. One of the simplest way is to have DBSet for each class defined. When you query DBSet of `Level1Item`, you will get data for only entities of type `Level1Item`.
2. If you don't have DBSets for other classes and there is only one DBSet for base class (`GeneralI

[2016-05-28 18:23] smitpatel commented on #5488
That is what we have changed in RC2. Instead of using display name of entitytype's clr type, we changed it to use the actual table name. And it makes more sense that way since the FK `FK_AspNetUserRoles_AspNetRoles_RoleId` is FK on table `AspNetUserRoles` which references `AspNetRoles` table and uses `RoleId` as foreign key property. See #3545 for more info.

FK with tables with discriminator is a

[2016-05-28 19:14] hikalkan opened #5572 "Feature request: Migrations on Inherited DbContexes"
Hi,
### Situation

Assume that we have created a modular application and we have more than one DbContext.

Example: In our core part of the application, we have a CommonDbContext:

[code]

And we have several modules (in their own assemblies), like:

[code]

In this case, I want to have 3 separated migrations normally:
1. Migration for CommonDbContext .
2. Migrations for BlogModuleDbContext (which

[2016-05-28 20:49] zedr0n commented on #3910
I'm writing an eager loading routine via graph building and expression trees and I'm running into this problem. Although the way I implemented it actually works as long as the actual database value is of the correct derived class

        public static IQueryable<T> ThenIncludeQueryEx<T, TPreviousProperty, TProperty>(IQueryable<T> query, string propertyName)
            where T : InternalObject

[2016-05-29 00:03] smitpatel commented on #5449
I tried reproducing the error on RC1 -> RC2 migrations.
Env: Windows 10, VS 2015 RTM ASP.NET Web Tools RC1
1. Create new web application from template using individual accounts
2. Add following class to model & corresponding DBSet in `ApplicationDbContext`
As required it contains FK to `ApplicationUser`
[code]
I generated migration script to create database - https://gist.github.com/smitpatel/3706

[2016-05-29 00:16] smitpatel opened #5573 "Metadata: While removing key we may add FK pointing to the key again"
From https://github.com/aspnet/EntityFramework/issues/5449#issuecomment-222269974

 Fix would be to run the conventions on removed fks are after key is removed. So FKs added by convention would not target the key being removed.

[code]

### Further technical details

EF Core version: RC-final
Operating system:  Win10
Visual Studio version: VS2015.2

[2016-05-29 00:19] smitpatel commented on #5449
Since we know the bug for the exception though the root cause for reaching that state is still unknown (& can be multiple), I have filed issue #5573 to fix the bug for `RemoveKey` part.

[2016-05-29 00:51] divega commented on #5570
Based on the fact that this the query executes much faster in Debug, I think this might be a performance issue in the way .NET applications execute in-memory compiled LINQ expressions. As a possible workaround, you may want to try executing multiple individual queries, e.g.:

[code]

Note that:
1. I am assuming that this query is supposed to load every row from these tables into memory. Assuming t

[2016-05-29 05:37] abdu292 commented on #5570
Thank you @divega for your response.
I tried refactoring my code to load the tables individually with Load() method, and it appears that the number of seconds it takes has no much difference. If it was 8 seconds now it is around 7 seconds. I consistently checked many times and I can see there is a one second different in the new version of code. However, from a user's stand point it is still too m

[2016-05-29 05:48] John0King opened #5574 "How to use Total() function in sqlite"
I try to use `IQueryable.Sum()` with Sqlite , but sqlite's Sum return null when there are no data in the table
How to config EF use `TOTAL` instead of `SUM`?

[2016-05-29 05:58] divega commented on #5570
How many rows do these queries return from the database? Could you share the model or otherwise provide some information about the number of columns on each table and types used? If we can repro thus hopefully we can find something in either EF Core or in .NET native we could make faster.

Re `Task.Run(), I was referring to the overload that takes a sync delegate. But I didn't actually tried to co

[2016-05-29 06:18] emcyborg opened #5575 "502.3 Bad Gateway Error While Submitting a Form using Post Method"
Hey There! I am making a ERP with Identity Core RC 2. I am facing a very strange problem. I am putting a relationship between my User table which is "ASPNETUSER" and other table. The problem is that when I add this relationship my application starts giving 502.3 Bad Gateway Error when I post my form for insertion, but when I removed it, it starts working fine. Please look into this. I am very frus

[2016-05-29 07:50] iberodev commented on #5481
@anpete Yes, if I remove the Includes the deadlock still happens. No difference.

[2016-05-29 08:02] abdu292 commented on #5570
I have 150 records now in the main table and each related table will have 4-6 associated rows for each of those main rows.
Here is the outline of my model,

`Student => 1 integer property, 5 (below) navigational properties of IList<T>,  2 string properties, 5 get only string properties which are [NotMapped], 1 DateTime property`
`5 Other entities (Address, Email, Website, Titile, Phone) => 2 integ

[2016-05-29 08:49] abdu292 commented on #5570
Hello Again,
FYI. I just tried removing the Enum conversion from all the five related tables and created another release package. However the performance is still the same and no noticeable impact.

[2016-05-29 10:14] lucabriguglia commented on #3797
@divega just found out that I'm having this issue not only with in memory database but with sql server as well

[2016-05-29 12:06] ermithun commented on #5391
Thanx  @divega  sir for your post of import to use entity framework in class library

Now i m facing the problem
Microsoft.EntityFrameworkCore.Tools in class library

This preview of Entity Framework tools does not support targeting class library projects in ASP.NET Core and .NET Core applications.
Need Help

[2016-05-29 16:58] abdu292 commented on #5570
Here is the repro of the issue I created, if that helps to resolve the issue quickly. Thanks!

Note (Preferably, please use phone device that's where performance matters):
Try running the below in both Debug and Release modes.
1. Run the solution => tap "Tap to insert" button for the first time (I gave 250 samples to insert as default, given all are tiny models, you may change the number using the

[2016-05-30 00:44] rchamila commented on #5549
Hi @smitpatel , I did the same thing as you suggested for a new console app, but still I'm getting same error. Steps I've followed.

1. Delete the directory under %USERPROFILE%\.nuget\packages\.tools\Microsoft.EntityFrameworkCore.Tools
2. Created new console app and copied the project.json
3. Ran dotnet restore --infer-runtime [By the way what is the use of this command?]
4. Ran Scaffold-DbContext

[2016-05-30 02:24] smitpatel commented on #5549
@rchamila - Can you share your `project.json` and output of `dotnet restore --infer-runtimes`

[2016-05-30 02:41] rchamila commented on #5549
Hi @smitpatel please find the attached files.
[output.txt](https://github.com/aspnet/EntityFramework/files/288720/output.txt)
[project.txt](https://github.com/aspnet/EntityFramework/files/288721/project.txt)

[2016-05-30 03:30] mpnz opened #5577 "RevEng: Microsoft.EntityFrameworkCore.Design.ReverseEngineerAsync tables list is ignored."
App.config:

[code]

Program.cs:

[code]

I would expect only one file to be generated for Table1, however files are generated for all tables in the database.

Tracing into the method Microsoft.EntityFrameworkCore.Scaffolding.Internal.Allows shows that it always returns true because the schema "dbo" is always matched and the subsequent table matching code cannot change that result.

Should Allows

[2016-05-30 03:37] mpnz commented on #5577
Sorry, pasting of code messed up; app.config  is targeting .NetFramework v4.5.1

[2016-05-30 04:29] smitpatel commented on #5549
With that `project.json`, I hit the error, that Tools cannot target class library so I added following in project.json to make it console app.
[code]
After that it did work fine.
Looking at your feeds, you wouldn't need anything other than nuget feed. Could be case of inconsistent packages. I cannot think of any other reason why it would fail otherwise. You can give a try with having only nuget.or

[2016-05-30 05:13] rchamila commented on #5549
I've tried adding the missing console app settings and removing our internal nuget feeds. But still the same. Anyway I'll try to play around and see how it goes. Thanks for the help

[2016-05-30 05:40] smitpatel commented on #5549
Here it is: A sample Console App which runs EF Commands in powershell and CLI both. https://github.com/smitpatel/EFCommands

[2016-05-30 07:13] cykone commented on #5444
at System.Threading.SemaphoreSlim.CheckDispose()
   at System.Threading.SemaphoreSlim.Release(Int32 releaseCount)
   at Microsoft.EntityFrameworkCore.Internal.ConcurrencyDetector.AsyncDisposer.Dispose()
   at Microsoft.EntityFrameworkCore.Query.Internal.AsyncLinqOperatorProvider.ExceptionInterceptor 1.EnumeratorExceptionInterceptor.<MoveNext>d__5.MoveNext()
--- End of stack trace from previous loc

[2016-05-30 09:04] abdu292 commented on #5570
@divega Wondering if you got a chance to look at my comments. Thanks!

[2016-05-30 10:44] bragma commented on #5440
@anpete sure, I'll try to do it as soon as I get some breath from my job :)

[2016-05-30 10:51] divega commented on #5570
@abdu292 I saw your comments. It will take at least a few days to evaluate if there is any short term solution to this.

[2016-05-30 11:39] abdu292 commented on #5570
Great! Thank you @divega

[2016-05-30 12:52] kskalski commented on #1665
Is the support for non-MARS db provides in EF.Core supposed to handle concurrent queries done by the client? I'm getting
 Microsoft.EntityFrameworkCore.Query.Internal.NpgsqlQueryCompilationContextFactory[1]
 An exception occurred in the database while iterating the results of a query.
      System.InvalidOperationException: An operation is already in progress.

which seems to be happening when I h

[2016-05-30 14:02] XcoderTeam commented on #5571
Hi EF Team,

from the profiler capture
`exec sp_executesql N'SELECT [u3].[Id], [u3].[Category], [u3].[Url], [u3].[UserId]
FROM [UserWebsite] AS [u3]
INNER JOIN (
    SELECT DISTINCT [t1].*
    FROM (
        SELECT [u].[UserId], [u2].[UserId] AS [c0]
        FROM [Talent] AS [t]
        INNER JOIN [User] AS [u] ON [t].[UserId] = [u].[UserId]
        INNER JOIN [User] AS [u2] ON [t].[UserId] = [u2]

[2016-05-30 14:10] gclaasen commented on #3042
Hi Rowan,

I am starting out with MVC and EF7 and need help. i came across your UnicornStore sample app and would like to know whether you have a guide to how to set it up to run. i tried everything and nothing.

your help will be appreciated.

Thanks (gartycx@gmail.com)

[2016-05-30 14:15] jeffmoretti86 commented on #3042
Hi there,

I myself am not Rowan, and I do not have a guide to setup and run MVC/EF7.  However, if you want to see some sample code on how to seed with EF7, you may find my blog posting helpful.

http://coderhints.com/ef7-seed-user/

Regards,

Jeff

From: gclaasen
Sent: Monday, May 30, 2016 10:10 AM
To: aspnet/EntityFramework
Cc: jeffmoretti86 ; Comment
Subject: Re: [aspnet/EntityFramework] How do

[2016-05-30 14:47] divega commented on #1665
@kskalski it doesn't handle multiple overlapping queries initiated by the application. We only built an alternative mechanism to handle the situation in which EF Core itself initiates multiple queries to retrieve the results of queries with `Include()` to collections. You can just use something like `ToList()` on the first query to finalize the execution before you start the second one, or you can

[2016-05-30 15:39] mdmoura opened #5578 "Argument types do not match on query with projection"
I have the following entities in Entity Framework Core RC2:

[code]

And the following Models:

[code]

And the following query with projection:

[code]

When I run it I get the error "Argument types do not match".

I was able to isolate the problem and it seems is because I have:

[code]

The FK as optional since DegreeLevel is option in Job entity. I suppose this is a normal configuration.

Any

[2016-05-30 16:09] smitpatel commented on #5578
Duplicate of #5522 which faces the same issue as this due to optional navigation. That issue have all information why this is happening and work-around for it.

[2016-05-30 16:59] mvermef commented on #5570
I am in a similar situation with building related to .Net Tool Chain compilation.  0.2ms versus 18.8 seconds, is the amount of time we are talking when an Include is involved...  245 rows in primary table (Hotels) and the foreign key table has about 856 rows.  var hotels = Hotels.Include(h -> h.Comments);

no .Net Tool chain involved = .2ms
.Net Tool chain => 18.8 seconds.

[2016-05-30 17:23] Mertsch opened #5579 "Using .Where() with variable causes transaction exception, regression RC1 -> RC2"
Consider the following code
[code]

The line with `// Throws System.Data.SqlClient.SqlException` causes the following at `t.Commit();`
[code]
The DB contains "NewName2"

This was working in RC1.
Please help, I am desperate. Any idea for a workaround would be great.

[2016-05-30 18:10] Mertsch commented on #5579
I found a possible fix
[code]
With
[code]

[2016-05-30 19:04] smitpatel commented on #5579
Possible dupe of #5440

[2016-05-30 19:30] ofer commented on #5391
I had the same issue, I found that the name had been changed,
    "Microsoft.EntityFrameworkCore.Tools.Core": "1.0.0-rc2-final",

instead of the original EntityFrameworkCore.Tools

[2016-05-30 20:47] #5333 closed

[2016-05-30 21:14] divega opened #5580 "A few post CR questions about ConfigureWarnings()"
From https://github.com/aspnet/EntityFramework/pull/5538#issuecomment-222297158
- It seems we used to throw by default on ambient transactions? Will this change it to a log by default? If yes, I think it is OK, if no, I think it is inconsistent
- Should we treat in-memory's IgnoreTransaction() in a similar way?
- Are we tying our hands when we say this API is about warnings? What if in the future

[2016-05-31 07:06] 1amirjalai commented on #4792
the problem still exist in rc2

[2016-05-31 07:09] rchamila commented on #5549
Thanks still no luck. I've installed following packages. Do I need to have anything else?

Install-Package Microsoft.EntityFrameworkCore.SqlServer –Pre
Install-Package Microsoft.EntityFrameworkCore.Tools –Pre
Install-Package Microsoft.EntityFrameworkCore.SqlServer.Design –Pre

[2016-05-31 11:03] mariustom commented on #3797
@gdoron With properly configured PostgreSQL pooling and caching, lazy loading is faster.

[2016-05-31 11:32] glatzert opened #5581 "Provide Migration "Hooks""
### The issue

When I create a ef-migration during development, that migration often will not be final and might need recreation, due to database creation errors (like incorrect cascade chains or whatever else).
When I now try to provide additional methods for `Up()` and `Down()` i will have to add them to the migration, everytime I recreate it.
That could be solved, if the `partial class MyMigrat

[2016-05-31 11:45] divega commented on #4792
Reopening. From talking to @ajcvickers and @smitpatel it seems we don't affect the uniqueness of the FK side when setting up a 1:1 relationship.

[2016-05-31 12:41] aguirmrc opened #5582 "Error on add Entity on database"
### Steps to reproduce

When we insert an entity that has a property that is a class of one to one and the parent class is the inheritance of an inheritance.

Example:
- Class Client inherits Individual who inherits Person
- Person have one Address (one-to-one with Person)
- The registering Person and all Individual usually occurs , but to register the Client, the exception occurs
### The issue

E

[2016-05-31 14:52] gdoron commented on #5117
@rowanmiller @divega  Another (very good IMHO) argument for allowing/disallowing client side evaluation on per query level:

Lets say there is a query that I'm aware of it being (partially) locally evaluated and I'm OK with that, I don't want EF to raise warnings and "pollute" my logs with warnings I aware and OK with them.

Am I right?

[2016-05-31 15:23] SimonOrdo commented on #5449
@smitpatel I did have the following class, deriving from ApplicationUser

[code]

But, as you can see, it was still empty in this case.

[2016-05-31 15:27] bricelam commented on #5581
You might be able to add them yourself by overriding `UpOperations` and `DownOperations` properties.

[2016-05-31 15:30] bricelam commented on #5581
But I do like the idea of adding some hooks that are easier to use in an external partial. Perhaps like `BeforeUp`, `AfterUp`, etc. methods on `Migration` that you can override.

[2016-05-31 15:45] natemcmaster commented on #5391
@ermithun "Microsoft.EntityFrameworkCore.Tools does not support .NET Core class libraries. See https://github.com/aspnet/EntityFramework/issues/5320.

@ofer the class library was in RC1 EntityFramework.Commands and we renamed it to Microsoft.EntityFrameworkCore.Tools version "1.0.0-preview1-final" for RC2. See https://docs.efproject.net/en/latest/miscellaneous/rc1-rc2-upgrade.html#package-names-an

[2016-05-31 15:50] glatzert commented on #5581
Uh.. that `UpOperations` and `DownOperations` looks awfully complicated compared to the possibility of some Before and After hooks. I suppose the hooks would be an inexpensive change, which would allow usecases like the descripted. That'd really be a "nice to have", I think 👍 . I'd also volunteer myself for an PR :)

[2016-05-31 15:58] ajcvickers commented on #5568
@ilogixxDE It is likely because you have a Ticket object that has already been saved and therefore already has a key value set, but the code you are using to save the Email is not telling EF about this, so EF thinks the Ticket object is a new one and is attempting to insert it again. If this doesn't make sense, then as @smitpatel says, please show us your code so we can try to help more directly.

[2016-05-31 16:03] ajcvickers commented on #5569
@ilogixxDE Try putting the attribute `DatabaseGenerated(DatabaseGeneratedOption.None)` on the TicketID property.

[2016-05-31 16:31] ajcvickers commented on #4792
@divega I don't think we talked about this. The code above explicitly creates a one to one relationship using the fluent API. The original bug was the Migrations ignores our metadata about this and instead relies on the idea that we will by convention also create a unique index for the FK column. Therefore if you use Migrations to create the database you will get a unique index on the FK column, u

[2016-05-31 16:51] rowanmiller commented on #5288
Agreed, I would expect an exception related to not being able to open the database connection. But yes, I think 1.0.1 would be fine too.

[2016-05-31 16:56] rowanmiller commented on #3042
@gclaasen feel free to open a new issue with details of the error you are seeing etc.

[2016-05-31 17:02] rowanmiller commented on #5117
@gdoron yes that is the primary scenario for per-query overrides.

[2016-05-31 17:03] mdmoura opened #5583 "OrderBy Guid.NewGuid() does not work when using Include with Many to Many?"
I am using Entity Framework Core RC2 and I have the following entities:

    public class Organization {
        public Int32 Id { get; set; }
        public String Name { get; set; }
        public virtual ICollection<Connection> Connections { get; set; } = new List<Connection>();
    }

    public class Connection {
      public Int32 Id { get; set; }
      public Int32 OrganizationId { get; set

[2016-05-31 17:04] mdmoura commented on #5578
@smitpatel Thank you. Do you want me to close this or let it open until it #5522 is resolved?

[2016-05-31 17:17] rowanmiller opened #5584 "Update Pipeline: Use query generator to generate SQL for updates"
Spawned off from https://github.com/aspnet/EntityFramework/issues/3023. We should look at reusing the logic we already have for generating `WHERE` clauses etc.

[2016-05-31 17:17] rowanmiller commented on #3023
Swapping this issue back to being specifically about the null comparison for concurrency tokens since we may fix this specific issue sooner.Opened https://github.com/aspnet/EntityFramework/issues/5584 to look at reusing query generator.

[2016-05-31 17:21] rowanmiller commented on #5415
We'll avoid creating the redundant checks, tracking this with https://github.com/aspnet/EntityFramework/issues/5532.

[2016-05-31 17:23] rowanmiller commented on #5490
@mleader1 we think this may be an exception occurring during model building. Could you just try accessing the `.Model` property on your context and see if you get the same exception when you do.

[2016-05-31 17:28] rowanmiller commented on #5491
We use the anonymous object return type in the `columns` parameter to provide "strong typing" on subsequent API calls. For example, the `x => new { x.UserId, x.LoginProvider, x.Name }` in the `PrimaryKey` call in your example code - `x` is the anonymous type defined in the `columns` call, so the column names aren't just strings.

[2016-05-31 17:29] ajcvickers commented on #5221
Marking for re-triage. I think we should postpone this until post RTM for a few reasons:
* We should decide how much additional information to put into exception messages.
 * At one end of the spectrum, adding the product version seems pretty safe everywhere. At the other end, adding the full model could be problematic for large models.
 * We should probably make a guess for each exception as to w

[2016-05-31 17:31] atrauzzi commented on #5491
Wow, that's awesome!  Did not realize that.

Thanks :)

[2016-05-31 18:00] anpete commented on #5444
@cykone I was able to repro this if I disposed the DbContext before the async query had completed. Can you verify whether or not this is happening in your case?

[2016-05-31 18:06] mikary commented on #5439
The invalid cast exception is the result of a general problem with materialization and SQL Server. There are a few different ways to compensate for this issue:

  1. Compensate in SQL generation by always casting `bool` literals to `BIT` (original proposed solution in #5523)
    * This is the most general solution to the problem, but introduces unnecessary `CAST`s into the SQL where results are no

[2016-05-31 18:09] rowanmiller commented on #4792
@1amirjalai can you open a new issue with details of the issue you are seeing (be sure to include code to reproduce the issue etc.).

[2016-05-31 18:12] rowanmiller commented on #5487
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-31 18:14] rowanmiller commented on #5544
Do you mean throwing if there is **no elements** in the collection?

[2016-05-31 18:16] maumar commented on #5544
right :)

[2016-05-31 18:17] rowanmiller commented on #5544
@maumar can you share some details of what happens now (i.e. wrong results, poor exception message, etc.)

[2016-05-31 18:19] maumar commented on #5544
it behaves just like FirstOrDefault, i.e. it never throws.

[2016-05-31 18:20] rowanmiller commented on #5548
We think this is fixed in our working code base, but need to verify

[2016-05-31 18:22] smitpatel opened #5586 "Test: AddColumnOperation with max length test"
Test `AddColumnOperation_with_maxLength_overridden` is disabled because to make that test work, the test class needs to have implementation of `StringTypeMapper` which is not present therefore it cannot generate string type with specified max length.

[2016-05-31 18:35] rowanmiller commented on #5569
See this doc for more info https://docs.efproject.net/en/latest/modeling/generated-properties.html

[2016-05-31 18:38] rowanmiller commented on #5570
@natemcmaster can you get this into a format where we can hand it off to .NET Native team (talk to me or @divega)

[2016-05-31 18:41] bricelam commented on #5581
Sorry, that was just a possible way to workaround the limitation. This issue would be a great opportunity for a community contribution.

[2016-05-31 18:55] smitpatel commented on #5586
@bricelam - Do we want to remove limitations of fake `RelationalTypeMapper` in future at some point otherwise we can close this one.

[2016-05-31 19:08] rowanmiller commented on #5583
@mdmoura any chance you could post the SQL that is being executed

[2016-05-31 19:12] rowanmiller commented on #4664
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-31 19:13] rowanmiller commented on #5456
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-31 19:16] rowanmiller commented on #4371
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-31 20:04] ajcvickers commented on #5586
@smitpatel @bricelam Type mappers are not required to have a StringTypeMapper or a ByteArrayTypeMapper. Any code that is assuming otherwise is wrong and should be fixed.

[2016-05-31 20:18] johnkwaters commented on #4424
So right now I am adding a Project entity (a new one) that has a list of Folder entities (also new). Each folder points to a FolderType (existing). For it to work, I have to attach all the existing folder types to the context before saving, or it tries to insert new folder types. What is the correct approach when part of the graph (root and some bits) are new, and part references existing objects?

[2016-05-31 20:39] divega commented on #4424
It doesn't do that automatically because it would only work if you have setup database generated keys, which is only a subset of the scenarios EF supports. If you know you did that in your entities you should be able to use `TrackGraph()` passing a lambda that will pick the right state for the entity based on the value of the key.

[2016-05-31 20:40] #4831 closed

[2016-05-31 20:42] rowanmiller commented on #5207
Moved over to docs repo since this is primarily about writing guidance around how to do this - https://github.com/aspnet/EntityFramework.Docs/issues/180. Doing so may spawn product issues/improvements back in this repo.

[2016-05-31 20:42] #5207 closed

[2016-05-31 20:56] #5545 closed

[2016-05-31 21:26] lajones opened #5593 "Separate Sequence Test from other RevEng tests"
### Steps to reproduce
In f873682 I put `[SqlServerCondition(SqlServerCondition.SupportsSequences)]` on the 2 tests `SqlServerE2ETests.E2ETest_UseAttributesInsteadOfFluentApi` and `SqlServerE2ETests.E2ETest_AllFluentApi`. To repro simply remove those attributes and run those tests on a box where the version of SQL Server is 2008.

### The issue
This was a temporary measure to prevent CI failures.

[2016-05-31 21:33] #5291 closed

[2016-05-31 21:33] #5463 closed

[2016-05-31 21:39] rowanmiller commented on #5446
Here is a repro on RC2, `isShadow` is true when you run it.

[code]

[2016-05-31 21:41] rowanmiller commented on #4799
Ultimately we decided not to do this. We have some concerns about the stability and perf of scanning for types. There is also some nice symmetry in not scanning up or down the inheritance hierarchy (we definitely don't want to pull in base types automatically).

[2016-05-31 21:49] smitpatel commented on #5586
@ajcvickers - Product code does not assume it. It has fallback mechanism to find suitable type. Our test code has incomplete mocks and test assumed presence of `StringTypeMapper` so it failed. I have moved those test to provider specific parts.

[2016-05-31 22:02] AndriySvyryd commented on #5446
Fixed post RC2

[2016-05-31 22:02] #5446 closed

[2016-05-31 22:02] #5145 closed

[2016-05-31 22:03] divega opened #5595 "Enable support for System.Transactions"
(Forked from https://github.com/aspnet/EntityFramework/issues/4147 which was mainly about fixing the misleading exception message we throw to indicate that we don't support `System.Transactions`)

By design we don't support `System.Transactions` (a.k.a. ambient transactions / `TransactionScope` and or `CommitableTransaction`) functionality in EF Core 1.0.0.

In full .NET framework connection objec

[2016-05-31 22:05] natemcmaster commented on #5311
Remarking for triage. Brice and I came up with a way to re-factor EF tools that will help solve this, but this will require a refactoring too big to get in for the RTM timeline.

[2016-05-31 22:05] divega commented on #4147
Assigning to @anpete who is fixing the exception message for RTM as part of the fix for https://github.com/aspnet/EntityFramework/issues/5580.

I have created #5595 to track the lack of support for `System.Transactions` separately.

[2016-05-31 22:52] natemcmaster commented on #2192
A fix was added to Ix-Async in https://github.com/Reactive-Extensions/Rx.NET/pull/137 and should be in the next release of Ix-Async.

[2016-05-31 23:03] smitpatel commented on #5586
There is already test coverage in provider specific tests. No need to do it for relational.

[2016-05-31 23:07] smitpatel commented on #5449
Clearing milestone. Unable to generate a repro here.

[2016-05-31 23:40] #5475 closed

[2016-06-01 00:07] rowanmiller commented on #2985
Superseded by https://github.com/aspnet/EntityFramework/issues/4525 which deals with the same exception message (and is more applicable now that sentinel values are gone).

[2016-06-01 00:07] #2985 closed

[2016-06-01 01:20] smitpatel commented on #5549
With that and updating the imports auto-restore in VS works fine and Scaffold-DbContext work.
Can you try running the project this project on your machine? https://github.com/smitpatel/EFCommands
If that does not work then its some issue with package restored.

[2016-06-01 01:51] #5547 closed

[2016-06-01 01:51] #5406 closed

[2016-06-01 01:51] #5573 closed

[2016-06-01 02:03] rchamila commented on #5549
Hi @smitpatel , I've used EFCommands project and followed following steps. But no luck yet

1. Changed the PMC directory to src\EFCommands
2. Ran dotnet ef
3. Ran dotnet restore --infer-runtimes
4. Ran Scaffold-DbContext

I'm not sure whats wrong here. :(

[2016-06-01 03:45] #4255 closed

[2016-06-01 03:54] rchamila commented on #5549
Hi @smitpatel , Just wanted let you know that I've used following command and finally it worked. :)

dotnet ef dbcontext scaffold -c PaymentsContext -o Model "Data Source=xxxxxx;Initial Catalog=xxxxxx;Integrated Security=True" Microsoft.EntityFrameworkCore.SqlServer --force

[2016-06-01 04:05] bricelam commented on #5560
What was the triage decision on this one?

[2016-06-01 04:09] divega commented on #5560
We'll keep the dependency because the usage seemed appropriate. Any additional problem we should keep in mind?

[2016-06-01 05:06] #4525 closed

[2016-06-01 05:06] #5087 closed

[2016-06-01 05:06] #5276 closed

[2016-06-01 05:06] #5389 closed

[2016-06-01 05:06] #5500 closed

[2016-06-01 05:21] smitpatel commented on #5549
That is good to know 😄
It is hard to know what is wrong, once you are in inconsistent state of tools installed.
If you can run dotnet ef command then in PMC for that project you should be able to have `Scaffold-DbContext` (& other ef commands) too. You can also verify that tools are restored properly in nuget packages by trying to run dotnet ef in some other project.

[2016-06-01 05:30] rchamila commented on #5549
Yeah in my case donet ef is working but Scaffold-DbContext doesn't work. Anyway thanks for the assistance.

[2016-06-01 05:30] #5549 closed

[2016-06-01 05:49] xatabhk opened #5605 "Unable to resolve 'Microsoft.EntityFrameworkCore.SqlServer (>= 1.0.0-rc3-21157)' for '.NETCoreApp,Version=v1.0'."
Unable to resolve 'Microsoft.EntityFrameworkCore.SqlServer (>= 1.0.0-rc3-21157)' for '.NETCoreApp,Version=v1.0'.
Unable to resolve 'Microsoft.EntityFrameworkCore.Tools.Core (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'.
    Unable to resolve 'Microsoft.AspNetCore.Http.Extensions (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'.
    Unable to resolve 'Microsoft.AspNetCore.Http.Ab

[2016-06-01 07:09] #5519 closed

[2016-06-01 09:29] mleader1 commented on #5490
hi @rowanmiller   yes you are absolutely right,the same exception threw when even just 1 line code assigning the .Model property to a local variable in the dbContext.

Are there any upcoming release for a fix?

[2016-06-01 09:50] divega commented on #4809
@eriksendc Sorry for the very long delay in answering your question. Currently the simplest way to do this is to open the connection and to issue a SQL command to set the isolation level, e.g.:

[code]

Note that EF Core normally closes and re-opens the connection automatically between database operations but you can override that by opening the connection explicitly like in this example. Once you

[2016-06-01 09:51] divega commented on #4809
Closing because I believe I have answered the question but feel free to reopen or create a new issue of something isn't clear.

[2016-06-01 10:15] mdmoura commented on #5583
@rowanmiller Different time zone but I am just posting the result:

So I get an error if I do this:

          var random1 = await _context.Organizations
            .Include(x => x.Connections)
            .OrderBy(x => Guid.NewGuid())
            .ToListAsync();

But I also realized that, adding to previous examples, I do not get an error if I use a projection:

          var random2 = await _co

[2016-06-01 10:36] crabulik opened #5606 "Migrations on Server Side"
Hello.
Is it possible to run ef database update command on the server side after publishing via CLI?

Previously in RC1 after publishing the project, it was possible to run ef commands using ef.cmd, wich was located in "approot" of the project folder. Now, if I get it right, ef comands runs only from the folder with source code.

[2016-06-01 12:18] flotie commented on #5444
@anpete We call the ToListAsync() inside an using statement.

`using(var ctx = this.contextfactory.Create())`
`{`
`var iq= ctx.Projects.Include(p => p.Address).ThenInclude(a => a.GeoLocation); `
`return await iq.ToListAsync(); `
`}`

[2016-06-01 13:58] aflx commented on #5444
Hi, I have the same problem, after upgrading to the latest build today.

doesn't work:
[code]

workaround:
[code]

[2016-06-01 14:50] cykone commented on #5444
@aflx thank you.

[2016-06-01 15:06] aflx commented on #4424
@divega I'm a little confused now. Until today (I upgraded to the latest build), I just used Add and everything worked like a charm ;)

Can you give an example for the following scenario? How to realize this?

[code]

[2016-06-01 15:08] XcoderTeam commented on #5571
Hi @maumar

Any update on this issue?

[2016-06-01 15:30] mdmoura commented on #4637
Is this working in RC2? I tried a Skip / Take before a projection and I get an exception. If I move it to after the projection then it works fine ...

[2016-06-01 15:32] bricelam commented on #5560
Nope, just curious. The assembly is only 200KB, so it seems fine to me.

[2016-06-01 15:41] smitpatel commented on #5605
@xatabhk - It seems that you are using nightly/volatile feeds. Those feeds sometimes gets out of sync temporarily. (e.g. you are trying to restore while feeds are being uploaded. Some new packages are available and some are not there yet) And which can give result like above. Best option is to wait for an hour or so and then try again. Once all packages are properly available on feed, it start wor

[2016-06-01 15:46] xatabhk commented on #5605
Yes. It works now.

[2016-06-01 15:51] smitpatel commented on #5583
Invalid query
[code]
Exception: `No column name was specified for column 1 of 'x0'.`
@anpete @maumar
Interestingly, if we are doing `NEWID()` while sorting `Organizations` and we are using `NEWID()` while joining it with `Connections`, ordering will be different in both cases which would cause issue in combining results client-side.

[2016-06-01 15:59] #5580 closed

[2016-06-01 16:13] mdmoura opened #5609 "Condition not being evaluated in Where?!"
Maybe I am missing something really obvious or this is a bug?

[code]

Should not itemCountIsTheSame be true? I get 8 projects on "a" and 0 projects on "b"?!

To give some context on my project what I have is something like:

[code]

So I filter by Active (true or false) when query.IsActive is not null ...

[2016-06-01 16:27] bricelam commented on #3928
I prototyped this, and #5610 includes the breaking changes necessary to enable us to implement this later.

[2016-06-01 16:28] maumar commented on #5571
@XcoderTeam not yet, this will be my next bug to look at, will post update when I'm done with the investigation

[2016-06-01 16:36] julielerman commented on #4424
I know you asked Diego, but if I may jump in as this is a topic near & dear to my heart...

First of all, the problem would go away if you would just use FKs .

[code]
Then you could set the relationships like:

[code]

Because it's a new context and unaware of the existing objects, Add (update delete and attach) will affect the entire graph with whatever state you imply with the method.

As of EF

[2016-06-01 16:37] mdmoura commented on #5609
I did got the SQL for the following 2 queries:

        var c = await projects.Where(x => true).Select(x => x.Id).ToListAsync();

        var b = await projects.Where(x => condition == null).Select(x => x.Id).ToListAsync();

Which was:

    SELECT [x].[Id]
    FROM [Projects] AS [x]
    WHERE 1 = 1

    SELECT [x].[Id]
    FROM [Projects] AS [x]
    WHERE @__condition_0 = NULL

What am I missing?

[2016-06-01 16:41] maumar commented on #5609
This is a duplicate of https://github.com/aspnet/EntityFramework/issues/5499. I got the fix ready so this will be fixed for RTM

[2016-06-01 16:42] mdmoura commented on #5609
@maumar Thanks for pointing out ...

[2016-06-01 16:43] mikary commented on #4637
@mdmoura I verified the exception was not being thrown for this issue on RC2, but if you are still seeing problems there may still be an issue. Could you provide more details on the error you are seeing (exception message, code for the query and model)?

[2016-06-01 16:44] bricelam commented on #3928
I agreed that the actual implementation of this should wait until post-RTM when we have more time to verify it.

[2016-06-01 16:46] bricelam commented on #3928
On a side note, implementing this will create **much cleaner** idempotent scripts. We currently put `IF` statements around each command. Implementing this would put them all inside the same `IF` statement.

[2016-06-01 16:47] smitpatel commented on #5530
@anpete - How did `Tweaks to warnings configuration` fixed this? Or is it just wrong issue number used?

[2016-06-01 16:56] gdoron commented on #5499
Which build can we use if we can't wait for RTM on this?
I'm quite surprised that not even one test failed because of this...

[2016-06-01 16:57] anpete commented on #5530
@smitpatel Typo

[2016-06-01 16:58] anpete commented on #4147
Fixed.

[2016-06-01 16:58] #4147 closed

[2016-06-01 16:59] maumar commented on #5499
@gdoron the fix is not checked in yet

[2016-06-01 17:02] ajcvickers commented on #4424
@aflx I am having a little trouble understanding everything Julie said, but given the code you posted I think you just need two steps:
1. Call context.Attach for all objects that already existed in the database -- so for b in your code.
2. Call context.Add for all new objects - for a and c in your code.

Attach tells EF that the entity already exists in the database, and sets the state of the enti

[2016-06-01 17:10] aflx commented on #4424
@julielerman Thank you! (I removed Diego 10 seconds after publishing the comment...so don't worry ;)

I already tried it with just setting the Id...but no chance...
[code]

I tried the easy example with TrackGraph (checking for Id), but it seems that I'm doing something wrong, because the lambda function is just called once for the parent (A)

[code]

@ajcvickers Thx. But I don't like to use attac

[2016-06-01 17:21] anpete commented on #5579
@Mertsch Can you explain the fix?

[2016-06-01 17:25] johnkwaters commented on #4424
There are certainly some interesting changes here! I found another one today... I was adding a new Project object and it has a Client property, that may be an existing Client or a new One. For new ones, we had set the Id to -1. Client and Project have IDENTITY columns. I believe this used to cause it to be Inserted, but omitting the ID. But NOW, it tries to insert the -1! This of cause fails. To f

[2016-06-01 17:25] julielerman commented on #4424
oh no! If what I suggested was so convoluted that @ajcvickers didn't grok it, that makes me nervous. Maybe we should chat offline about this Arthur because I want to make sure I'm not inventing anti-patterns.

@aflx Add works the same as it did in EF6 and earlier.  I wouldn't combine TrackGraph and dbset.add. Use one of the other. The result of what you are doing is not much different than Arthur'

[2016-06-01 17:27] julielerman commented on #4424
@johnkwaters

Totally agreed! That's how I've been explaining it.

also agreed

This is where "this is not EF6" comes in. People are going to see familiar methods and presume they will act the same as they always did.

[2016-06-01 17:28] anpete commented on #5481
Ping @maumar

[2016-06-01 17:31] Mertsch commented on #5579
@anpete The fix `EfIssue.Fix(id)` just changes the signature of the anonymous method created.
Instead of a property / variable accessor a method is invoked, this apparently changes (and corrects) the way the linq query is analyzed.

I will try to check against the nightly, but it will take a day or two.

[2016-06-01 17:33] anpete commented on #5481
@iberodev No luck repro'ing at my end yet. Are you able to create a self-contained repro for this?

[2016-06-01 17:35] anpete commented on #5530
@janiceattard Can you post the SQL generated for each query?

[2016-06-01 17:44] ajcvickers commented on #3437
@divega @rowanmiller This no longer repros because a) we should get the parameter type correct now and b) we don't use this mechanism in the update pipeline anyway. Can we close, or at least remove from RTM milestone?

[2016-06-01 17:46] rowanmiller commented on #3437
If it's no longer an issue then closing is fine

[2016-06-01 17:52] mdmoura commented on #4637
@mikary: The models are:

    public class Job {

      public Int32 Id { get; set; }
      public String CountryCode { get; set; }
      public String City { get; set; }
      public Boolean IsEnabled { get; set; }
      public virtual Country Country { get; set; }
    }

    public class Country {
      public String Code { get; set; }
      public String Name { get; set; }
      public virtual

[2016-06-01 18:11] rowanmiller commented on #5593
We should discuss the correct solution for this before implementing

[2016-06-01 18:28] maumar opened #5612 "Query :: orderby + include + complex projection doesn't work"
copied from one of the comments in https://github.com/aspnet/EntityFramework/issues/4637

model:

[code]

query:

[code]

Exception:

The given expression 'new <>f__AnonymousType12(Id = [x].Id, Country = new <>f__AnonymousType22(Code = Property([x], "CountryCode"), Name = [x.Country].Name))' does not contain the searched expression '[x]' in a nested NewExpression with member assignments or a Membe

[2016-06-01 18:28] maumar commented on #4637
@mdmoura this looks like a separate issue. I have filed https://github.com/aspnet/EntityFramework/issues/5612

[2016-06-01 18:31] mdmoura commented on #4637
@maumar: yes, but I also think there is a bug here in relation to Skip Take after and before the projection ... I just haven't been able to isolate it yet because I have quite a large model. I will post here more information if that is the case.

[2016-06-01 18:51] maumar commented on #4637
@mdmoura sounds good. The case you provided is most likely related to the complex projection itself (as the exception says, we are trying to find query source [x] in the projection, and we failed to do it, even though its clearly there)

[2016-06-01 19:06] maumar commented on #5481
@anpete it looks like a bug in the way we protect from null refs during optional navigation rewrites. Both CargoReport and AltCargoReport are optional, so only the first one will be translated to sql. The second one is done on the client. We do apply our null compensation logic, but we produce something like this:

[code]

[2016-06-01 19:10] maumar opened #5613 "Query :: optional navigations null-ref protection logic doesn't work for some cases involving multiple optional navs and method calls"
Found during investigation of https://github.com/aspnet/EntityFramework/issues/5481

model:

[code]

query:

[code]

relevant query plan fragment:

[code]

this will null ref if Outer.Outer.Inner is null

[2016-06-01 19:12] maumar commented on #5481
filed https://github.com/aspnet/EntityFramework/issues/5613 to track this

[2016-06-01 19:28] smitpatel commented on #4949
#4952 is fixed now so this is unblocked.
@ajcvickers - While fixing #4134 , did you add any test for update pipeline?

[2016-06-01 19:34] ErikEJ commented on #5376
@DamianReeves why are you quoting the provider name? That is not correct syntax.. @natemcmaster

[2016-06-01 19:50] saf-itpro opened #5614 "Reverse-Engineer: Scaffold-DbContext not working on ASP.NET Core project"
When using win 7 with VS2015 latest update 2 I'm getting the following issue on: [Reverse Engineering Your Model](https://docs.efproject.net/en/latest/platforms/aspnetcore/existing-db.html#reverse-engineer-your-model). I've completed all the previous steps successfully in the above article:

I use the following command to run
PM> Scaffold-DbContext "'Server=MyMachine\SQL2012;Database=MyDbName;Trus

[2016-06-01 20:03] brianro commented on #5522
@smitpatel - this solutions works thanks ... uglifies my code but its functional.

[2016-06-01 20:06] maumar commented on #5499
fixed in 3e797a8ae3d09aeb6e580596dfc6f2c46c3b898a

[2016-06-01 20:06] #5499 closed

[2016-06-01 20:07] maumar commented on #5499
@gdoron just checked in the fix so should be available in tomorrow's nightly build, unless we get some infra issues with the build system

[2016-06-01 20:09] lajones commented on #5614
Offhand it looks as though you have a double-quote and a single-quote at the start of the connection string, but 2 double-quotes at the end. If that doesn't solve the problem can you add this to #5376 please? Closing this as a dupe.

[2016-06-01 20:13] maumar commented on #3807
fixed in 24c3db2c3c1d711d9d424addc52f82574def4e65

[2016-06-01 20:13] #3807 closed

[2016-06-01 20:20] aflx commented on #4424
@julielerman Ok, with TrackGraph and without Add => works ;) Thank you for this hint.

[code]

[2016-06-01 20:31] johnkwaters commented on #4424
Funny, I came up with the same code.

[2016-06-01 20:40] divega commented on #3437
Yes. I came to the same conclusion last night.

Closing.

[2016-06-01 20:50] ajcvickers commented on #4949
@smitpatel Yep.

[2016-06-01 20:50] bricelam opened #5615 "Commands: Flow info into IDbContextFactory"
There are two pieces of information that should somehow be flowed into `IDbContextFactory` so that users can properly implement it in a way that works well with the commands:
* Environment
* Startup project directory

[2016-06-01 20:51] smitpatel commented on #4949
Should we close this then? 😄

[2016-06-01 20:52] ajcvickers commented on #4949
Yep. :-)

[2016-06-01 20:52] #4949 closed

[2016-06-01 21:03] maumar commented on #5571
@XcoderTeam can you provide code for:
- Table entity,
- OnModelCreating method of the DbContext,
- UserWebsite, UserSkil, UserLanguage, UserExperience, UserEducation

if they look something more complicated than:

[code]

[2016-06-01 21:13] bricelam commented on #4642
After discussing the implementation in #5561 and some of the other alternatives, we've decided to wait and see if more customers hit this.

The scaffolded migrations were only ever intended to be our "best guess" at what operations needed to be performed in order to create a schema compatible with the specified model. You should always feel free to edit the migrations files after scaffolding them.

[2016-06-01 21:20] saf-itpro commented on #5614
The 2 double-quotes at the end are actually two single quotes and a double quotes copied  from the original article [Reverse Engineering Your Model](https://docs.efproject.net/en/latest/platforms/aspnetcore/existing-db.html#reverse-engineer-your-model). I thought there should be one single quote at the end instead. So, I removed one single quote and got the following error: **The expression after

[2016-06-01 21:24] bricelam opened #5617 "Commands: Better ConfigureDesignTimeServices entry point"
Currently, if you want to configure design-time services (e.g. `MigrationsCodeGenerator`, `DbContextWriter`, `EntityTypeWriter`, etc.) you add a method named `ConfigureDesignTimeServices` to your `Startup`/`Program`/`App` class.

Instead, we should have a more structured approach similar to `IDbContextFactory<>`. We'll add an `IDesignTimeServices` interface. If there is an implementation of this i

[2016-06-01 21:30] lajones commented on #5614
Re your question - just add a comment describing the above in #5376.

I see the error in [Reverse Engineering Your Model](https://docs.efproject.net/en/latest/platforms/aspnetcore/existing-db.html#reverse-engineer-your-model) - I'll get that updated - it should have a double-quote followed by a single-quote at the beginning and a single-quote followed by a double-quote at the end.

To get the rest

[2016-06-01 21:33] bricelam commented on #4546
We discussed this today. We came up with a solution that would keep some of the ASP.NET-specific code outside of the main tooling package, but decided that the cost and complexity of implementing it wasn't worth the marginal value it would add.

As part of #5334, we are going to author and structure the packages in a way that reduces the amount of dependencies that get pulled into your project and

[2016-06-01 21:33] #4546 closed

[2016-06-01 21:42] saf-itpro commented on #5376
I've an issue when db to be reversed is not a localDb. Please see [here](https://github.com/aspnet/EntityFramework/issues/5614)

[2016-06-01 21:47] saf-itpro commented on #5614
I added -Verbose flag to the command and I got the following command text to be printed out. I am including this in #5376:
**Executing command: dotnet ef --configuration Debug --build-base-path .\bin\ dbcontext scaffold 'Server=MyServer\SQL2012;Database=MyDbName;Trusted_Connection=True;' Microsoft.EntityFrameworkCore.SqlServer --verbose**

The error now I'm getting is same as above: **The expressi

[2016-06-01 21:51] lajones commented on #5376
To get extra information which is helpful to us when debugging, when executing `Scaffold-DbContext` within the Package Manager Console add `-Verbose` to the command; when executing from the command line add `--verbose` (note **two** hyphens at the beginning). If you're having trouble please post the result from adding the verbose flag here and we'll try to help find workarounds.

Note to self: the

[2016-06-01 21:56] saf-itpro commented on #5376
@lajones Please seem my edited comments above. Moreover, enclosing MyServer with ( and ) did not make any difference giving me the same error unless I'm misunderstanding you suggestion above.

[2016-06-01 21:56] lajones commented on #5376
@saf-itpro For your connection string please try without the single quotes and just keep the double-quotes. We have to quote when the connection string would not be interpreted correctly by powershell (which are, at least, the classes I mentioned above), but yours doesn't contain any of those problems.

[2016-06-01 22:06] saf-itpro commented on #5376
@lajones I tried your suggestion above by removing the single quotes. Still the same error. I see @natemcmaster just did some fix and committed it few minute agoe. How do I apply that fix?

[2016-06-01 22:07] natemcmaster commented on #5376
I've submitted a fix in https://github.com/aspnet/EntityFramework/pull/5618

In the meantime, I'd like to remind that all PMC is doing right now is forwarding to "dotnet ef". You can workaround this executing dotnet ef directly.
e.g.
[code]

[2016-06-01 22:15] lajones commented on #5376
@saf-itpro agree with @natemcmaster above but could you still add the full print out with the verbose flag turned on here though. I don't understand why it should cause an error as I frequently execute with a very similar connection string and see no issue. I'd like to track down what's happening in case we need to add another test case.

[2016-06-01 22:28] saf-itpro commented on #5376
@natemcmaster Could you please let me know where do I use PS> command. I don't find it in VS2015-->Tools-->NuGet Package Manager. I see only PM> command

[2016-06-01 22:31] natemcmaster commented on #5376
@saf-itpro ignore the "PS> " part in my comment above.

[2016-06-01 22:33] saf-itpro commented on #5376
@lajones After removing single quotes and adding the verbose flag prints out the following text:
**Executing command: dotnet ef --configuration Debug --build-base-path .\bin\ dbcontext scaffold Server=MyWin7MachineName\SQL2012;Database=MyDbName;Trusted_Connection=True; Microsoft.EntityFrameworkCore.SqlServer --verbose**

[2016-06-01 22:34] natemcmaster commented on #5376
Also, @saf-itpro Can you check if "dotnet.exe" is on your path? `Get-Command dotnet`

[2016-06-01 22:36] natemcmaster commented on #5376
And, what is your powershell version?
`$PSVersionTable.PSVersion` RC2 had a bug that requires using PS 5.

https://docs.efproject.net/en/latest/cli/powershell.html#error-the-expression-after-in-a-pipeline-element-produced-an-object-that-was-not-valid

[2016-06-01 22:37] maumar commented on #5522
@brianro with https://github.com/aspnet/EntityFramework/commit/a24f9bc12c549d03499c2524fe2e3c57a4832c73 checked in, you should be able to just use coalesce, without any casting or HasValue checks. This is currently available in out nightly builds and will also be available in the next release

[2016-06-01 22:38] saf-itpro commented on #5376
@natemcmaster running your powershell version command I'm getting following:
**Major  Minor  Build  Revision
-----  -----  -----  --------
3      0      -1     -1**

[2016-06-01 22:40] brianro commented on #5522
Super news - thank you so much for getting that knocked out.
As always, I appreciate your attentiveness and dedication.
B.

[2016-06-01 22:42] lajones commented on #5376
@saf-itpro Have talked with @natemcmaster about your problem and we think you are running into https://docs.efproject.net/en/latest/cli/powershell.html#error-the-expression-after-in-a-pipeline-element-produced-an-object-that-was-not-valid as mentioned above. We think that is the problem rather than your connection string. Can you update to Powershell 5 (see details in the link) and let us know if

[2016-06-01 22:47] #5059 closed

[2016-06-01 22:50] #5376 closed

[2016-06-01 23:20] maumar commented on #5583
@smitpatel that's a good point, perhaps we should disable this scenario for now (include + explicit non-deterministic order). Workaround is to perform order on the client, which is not terrible.

[2016-06-01 23:47] smitpatel commented on #4739
The issue here is in translation of FETCH/OFFSET into rownumber query. We are generating incorrect Sql, due to which materializer throws NRE.

[2016-06-02 00:11] #4454 closed

[2016-06-02 00:57] XcoderTeam commented on #5571
@maumar

`public class Talent : BaseEntity
	{
        public int UserId { get; set; }
        public virtual ApplicationUser User { get; set; }
	}

	public class UserSkill : BaseEntity
    {
        public int UserId { get; set; }
        public string Name { get; set; }
        public int Experience { get; set; }
    }
	public class UserLanguage : BaseEntity
    {
        public int UserId { get;

[2016-06-02 01:19] divega commented on #5583
:+1: that client side would work here. Curious,  do we have a good way to tell if the order is non deterministic? Can we leverage the list we already have or is it too different?

[2016-06-02 01:24] maumar commented on #5583
@divega I was thinking about the list

[2016-06-02 01:39] divega commented on #5615
Would these be flown through constructor parameters? Otherwise if we think our understanding the requirements are going to evolve in the next few months, should we more aggressively move stuff like this to our tooling packages before we RTM our runtime?

[2016-06-02 01:43] maumar commented on #5571
@XcoderTeam any chance you can provide full repro for this issue? I'm still unable to reproduce it on my end, not sure what I'm missing. Queries I see look as follows:

[code]

you can send it directly to my email: [my_github_nickname] [at] micosoft [doT] com

[2016-06-02 02:31] saf-itpro commented on #5376
@lajones and @natemcmaster Following your advise on installing version 5 of Powershell on my machine, it works now. I ran the following command (with single quotes around connection string) and it successfully reverse engineered my existing database:
**Scaffold-DbContext "Server=MyWin7MachineName\SQL2012;Database=MyDbName;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer**

Please

[2016-06-02 03:36] bricelam commented on #5615
We talked about just adding a dictionary (overload?) to the `Create` method that could grow over time as needed.

[2016-06-02 05:08] 1amirjalai opened #5623 "EF core RC2 One to One relationship"
### Steps to reproduce
Following the instruction [here](http://ef.readthedocs.io/en/latest/modeling/relationships.html#one-to-one) at the ef core doc.
and then using command line

the created relationship is one to many instead of one to one.

also i have tried to create models like this :
[code]

[code]
   and the related modelbuilder
[code]
with no success
### The issue

One to Many relationship

[2016-06-02 05:10] 1amirjalai commented on #4792
@rowanmiller the issue is created here #5623

[2016-06-02 05:31] iberodev commented on #5481
@anpete  I have created a sample repository with a project showing the deadlock issue.
Instructions in the README. I hope it helps.

PS: The mapping for the navigation property does not seem quite right but this is how it was in our project. Tomorrow I will have a look at it but I don't think it has anything to do with the deadlock issue.

[2016-06-02 05:54] divega commented on #5615
I guess that works. It doesn't make it easy to discover what arguments the implementation should handle though. Would an options class work?

[2016-06-02 06:07] janiceattard commented on #5530
Query generated when using Include()

[code]

Query generated when using join

[code]

[2016-06-02 06:08] smitpatel commented on #5623
Can you also explain what you mean by `One to Many relationship is created instead of one to one` ?

[2016-06-02 07:49] liba23 opened #5624 "RC2 one-to-many An item with the same key..."
### Steps to reproduce
I have three entity models. The relationship is one-to-many. Entity2 has many Entities1 and Entities3

[code]
I have a list of Entities2 and I am trying to save it to a database.

[code]
### The issue
When _context.SaveChanges() is beeing performed, I get the following exception.
Exception message: An item with the same key has already been added.

Stack trace:
"   at System

[2016-06-02 09:07] sepplK opened #5625 "Where Expression not translated with optional navigation property"
### The issue

Where Expression is lost in SQL when using optional Navigation Property...
### Steps to reproduce

[code]

[code]

[code]

(Only LEFT JOIN and Where missing)

**After changing the Property [MasterId] to not-nullable it works:**

[code]

[code]
### Further technical details

EF Core version:1.0.0-rc2-final
Operating system: Windows 10 x64
Visual Studio version: VS 2015
SQL Version: 2

[2016-06-02 10:25] divega commented on #4424
You shouldn't need a base entity class. Try `e.Entry.IsKeySet`.

[2016-06-02 11:18] julielerman commented on #4424
IsKeySet? Oh what a great property!! I need to start iterating through the APIs to see what gems I've missed!!

[2016-06-02 13:01] GSPP opened #5626 "Support querying from multiple databases better"
In the age of cloud it becomes more common to shard across databases based on tenant, geography and scaling needs. EF should support querying across databases better.

It's not enough to change the connection string because one query might need to pull from multiple databases. Example: Join customer-specific data with master data.

I think it's really required that EF allows us to specify the data

[2016-06-02 13:44] ownakas1mon commented on #2725
+1

[2016-06-02 14:24] ovais opened #5627 "Error "No database providers are available" using EF with Asp.net 5"
### Steps to reproduce

**this is how my project.json looks like**

[code]

**Startup class**

[code]

**my dbcontext**

[code]

**I am injecting this context to my controller like this**

[code]

**and finally trying to use it like this.**

[code]
### The issue

I am getting an exception here
{"No database providers are available. Ensure that database provider services are added inside the call t

[2016-06-02 14:33] johnkwaters commented on #4424
But don't you still need to examine the value of the key? How does IsKeySet help with that?

[2016-06-02 14:35] johnkwaters commented on #4424
Wouldnt it be cool if when specifying a key, you could give a lambda specifying what constitutes an 'new' value, for instancces SetKey( e => e.Id, () => e.Id <=0 ). Then the fwk could go back to doing the heavy lifting in a generic way...

[2016-06-02 14:36] divega commented on #5627
You are missing a call to`AddSqlServer()` after `AddEntityFramework()`.

[2016-06-02 14:40] julielerman commented on #4424
@johnkwaters did you check the code base? It checks to make sure that the key is not at the default value. That's pretty good coverage. And it's virtual so perhaps you can override it ... though I haven't tried it out yet.

public virtual bool IsKeySet => !EntityType.FindPrimaryKey().Properties.Any(p => p.ClrType.IsDefaultValue(this[p]));

[2016-06-02 14:47] johnkwaters commented on #4424
Awesome. No, I didnt check the codebase... next time I will! Right now I am working on a DB that was ported over from Access to SQL server, and sadly they use 0 as a valid key value for all kinds of tables, so having it be negative is the lambda I would need, or the override.

[2016-06-02 14:53] johnkwaters commented on #4424
@julielerman @divega @ajcvickers And I must say it is such a treat to be able to discuss and possibly influence the evolution of EF7 as it is crafted! I am using it in several production projects, due to ship in the August time frame (!!), so having this dialog definately makes me feel good about my bet on .net core.

[2016-06-02 14:54] ovais commented on #5627
hmm I think you are right but now I am getting this exception

Additional information: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

[2016-06-02 15:17] anpete commented on #5481
@iberodev Thanks!

[2016-06-02 15:26] bricelam opened #5628 "Include closes connection affecting ongoing transaction"
_From @vmlf01 on Feb 4, 2016, 20:16_

When running a query with an .Include() clause, if the main table does not return any records, the connection seems to close, which will affect ongoing transaction.

[code]

[code]
I have attached a simple webapi project that reproduces the problem, you just have to hit http://localhost:5000/api/values.

I'm running on Win7 1.0.0-rc2-16357 coreclr x64, but sam

[2016-06-02 15:26] bricelam commented on #5628
@mikary might have some insight.

[2016-06-02 15:27] bricelam commented on #5628
_From @natemcmaster on Feb 4, 2016, 23:16_

Could this be the same issue serializable bug we fixed in aspnet/Microsoft.Data.Sqlite#213 ?

[2016-06-02 15:40] #4594 closed

[2016-06-02 15:51] bricelam commented on #5606
Wait, why did you close this? Did you find an alternative? We think it's an interesting scenario and we'd like to look into possible solutions.

[2016-06-02 16:03] ajcvickers commented on #5623
Confirmed that the index created for the FK is not unique.
![image](https://cloud.githubusercontent.com/assets/1430078/15751956/e5761704-28a0-11e6-9c16-60a8197def91.png)

[2016-06-02 16:16] pingcrosby opened #5629 "Data overwritten on each save when linking to existing nested table"
### Steps to reproduce

Create two tables employer and address, populate the address table.
Attempt to save multiple employers using a record from the address table in a loop.  If you run the loop 10 times only the last record (no.9) will have the link to the address - stepping through the code on each SaveChanges the dbase is correct; but on the next iteration the new record gets the address link

[2016-06-02 16:17] crabulik commented on #5606
Because nobody answered, I thought it was too obvious. I've made next :
Created separate .Net core console app with a reference to my project. In the body of the console app I make an instance of the db context, and lunch dbcontext.database.migrate().

[2016-06-02 16:19] divega commented on #5623
Same here.

[code]

[2016-06-02 16:20] divega commented on #4792
Closing this as all the relevant details are in #5623.

[2016-06-02 16:39] ajcvickers commented on #5624
@liba23 I used your entities with the following code to try to reproduce the issue, but there was no exception. Can you post a complete repro or make the required changes to the code below to reproduce the issue.

[code]

[2016-06-02 16:57] ajcvickers commented on #5629
@pingcrosby There is a one to one relationship between Address and Employee. That means that each Address can only be associated with a single Employee. Each iteration through the loop you assign the Address to a new Employee, which causes it to be unassigned from the previous Employee. I'm not sure exactly what you are trying to model, but you may want a one to many relationship so that many empl

[2016-06-02 17:01] ajcvickers commented on #5627
@ovais You are mixing rc1 and rc2 packages. You need to update everything to rc2, keeping in mind that the EF package names have all changed. For example, you need Microsoft.EntityFrameworkCore.SqlServer.

[2016-06-02 17:06] mikary commented on #5628
@bricelam This does appear to reproduce with RC2 final and only when include is used in the sync case as well. I would expect the connection to still be open (even after the transaction is disposed) and the query should only be updating reference counts on the `RelationalConnection` and using the transaction passively (automatically used by `RelatoinalCommand`)

@maumar Does `Include` do any speci

[2016-06-02 17:07] johnkwaters commented on #4424
![image](https://cloud.githubusercontent.com/assets/3422637/15753746/9a76ce70-28a9-11e6-9726-19ebccf917af.png)
So I am passing this root object to track changes. It is NOT iterating over any of the referenced objects or any of the child object lists.
The relationships ARE spelled out in the fluent config.
Do I need to use virtual for this to work?

[2016-06-02 17:11] bricelam commented on #5606
Great workaround! Ideally, I think we want to provide a console app that can do the same thing. This is possibly covered by #646.

[2016-06-02 17:20] DotGoodies commented on #5624
@ajcvickers, I have a very similar issue, but in my case I only update existing records. The table has parent and children tables but neither the data nor the relationships are changed by my updates.

There are 2 thing worth noting:
* If I limit the number of rows updated (there are ~13K rows in total), it works:
[code]

* Is I turn off tracking and then register each record in a change tracker, i

[2016-06-02 17:22] smitpatel commented on #5623
See https://github.com/aspnet/EntityFramework/issues/700#issuecomment-157541048
This was our decision not to make unique index for one-to-one relationship. Our code treats the one-to-one relationship in its way and never add duplicates but we don't enforce that in database.

[2016-06-02 17:25] smitpatel commented on #5627
A guide for migrating from RC1 to RC2. http://ef.readthedocs.io/en/latest/miscellaneous/rc1-rc2-upgrade.html

[2016-06-02 17:59] ajcvickers commented on #5624
@DotGoodies If you could post code that reproduces the issue that would be great.

[2016-06-02 18:02] ajcvickers commented on #5623
@smitpatel I'm not sure where on that issue there was a decision to not make the index unique, but I may be missing something, @divega @rowanmiller @bricelam @AndriySvyryd Thoughts?

[2016-06-02 18:09] bricelam commented on #5623
+1 It should be a unique index. #2868 was done to support this on SQL Server.

[2016-06-02 18:33] maumar commented on #5571
@XcoderTeam thanks, I was able to reproduce the issue with the information you provided

[2016-06-02 18:46] JasonBurkey opened #5630 "Select Distinct with where/Any subquery always includes key from joined table, and returns too many rows"
### Steps to reproduce

There are 3 very simple tables in this scenario.  You could have 3 tables with a GUID and a string, and that would work fine (GUID is PKEY).  These represent a Drive/Folder/File type situation.  I am attempting to find Drives that have files.

I call the following:
[code]

This produces the following query:

[code]

And too many rows are returned because the FolderID is ret

[2016-06-02 19:24] pingcrosby commented on #5629
That was it - stupid typo on my part.

Thanks for the clarification, very much appreciated

[2016-06-02 20:06] maumar commented on #5530
@janiceattard It seems that Product-Documents is a optional navigation. This means that performing INNER JOIN is not safe as it will not return products that don't have a document associated with them

[2016-06-02 20:43] maumar commented on #5625
duplicate of https://github.com/aspnet/EntityFramework/issues/4588

[2016-06-02 21:06] divega commented on #5627
Closing this issue since I believe we have answered the question.

[2016-06-02 21:17] csmith93 opened #5632 "Entity Framework Core TPH inheritance causes ArguementNullException"
### Steps to reproduce

I have the following classes (abridged for brevity):

[code]
### The issue

`User user = Context.Users.FirstOrDefault(u => u.Username == aUserName);` fails

[code]
### Further technical details

EF Core version:

[code]

Operating system: Win7
Visual Studio version: 2015

[Issue taken from here for visibility](http://stackoverflow.com/q/37601377/6415214).

[2016-06-02 21:22] divega commented on #4424
If zero is a valid key you can change the type of the key to be nullable, e.g. `int?` instead of `int`. Then `IsKeySet` will return `true` for zero and `false` for `null`.

 The relationships ARE spelled out in the fluent config.
 Do I need to use virtual for this to work?

Not sure what the problem could be. You don't need to make the navigation properties virtual, in fact virtual doesn't make an

[2016-06-02 21:31] anpete commented on #5632
@csmith93 Please try this on RC2, thanks.

[2016-06-02 23:00] smitpatel commented on #4739
@maumar

[2016-06-02 23:02] rowanmiller opened #5633 "Move WarningsConfigurationBuilder to Infrastructure"
In general we only put types in the root namespace that a developer would need to type out. `WarningsConfigurationBuilder` is "returned" in a nested closure lambda in `DbContextOptionsBuilder.ConfigureWarnings`, so I think it can go to infra.

[2016-06-02 23:02] rowanmiller commented on #5633
cc @anpete @divega @ajcvickers to see if we all agree as we'll want to get this change into RTM if we do.

[2016-06-02 23:03] johnkwaters commented on #4424
But then wouldn't I need a nullable pk in the db?

Sent from my iPhone

[2016-06-02 23:04] divega commented on #5633
:+1:

[2016-06-02 23:18] rowanmiller opened #5634 "Should MethodInfoExtensions be public in System.Reflection"
Not sure that we should really have this (`Microsoft.EntityFrameworkCore\Extensions\MethodInfoExtensions.cs`)
[code]

[2016-06-02 23:19] rowanmiller commented on #5634
BTW it's used in Relational and InMemory, so my proposal is to move it to M.EFC.Internal namespace.

[2016-06-02 23:30] divega commented on #4424
Nope. The column will still be non-nullable as null is not a valid key value in a persisted object. It only means that the key can have a null value temporarily while it is in memory and before it is added to a `DbContext`.

[2016-06-03 00:12] anpete commented on #5481
Looks like the deadlock is in IX-Async|GroupJoin. Fix is to write our own version. Note for triage, to hit this the query needs to hit two optional nav props.

[2016-06-03 00:20] divega opened #5636 "Remove-migration fails with unhelpful exception if current model has validation errors"
### Steps to reproduce
1. Create model like this in VS:

[code]
2. Execute command `Add-Migration Initial`
3. Add the following to `MyDbContext`:

[code]
4. Executing the command `Remove-Migration` will trigger the following exception:

[code]
### The issue

It may very well be the case that it is by design that we throw in this scenario. E.g. if we need to compile the current model in order to di

[2016-06-03 00:20] smitpatel commented on #5628
The issue persists for SqlServer also. MARS - true/false both.
The issue is in counting of connection while doing `Include`.
When we have `Include` (also `ThenInclude`) in the query then we open the connection only once. (openedcount++) but all the relatedEntitiesLoaders will close the connection while disposing.
That means we close the connection more times than we open so any user opened connect

[2016-06-03 03:50] #5623 closed

[2016-06-03 03:56] ajcvickers commented on #5633
+1

[2016-06-03 05:28] janiceattard commented on #5530
@maumar Yes, indeed. That is why we want to use the Include() but we noticed that when we upgraded from RC1 to RC2 the amount of queries per minute dropped drastically in cases where we were using Include().

[2016-06-03 05:39] liba23 commented on #5624
I can't send you entire project, but I can separate it into new project. I'll do it over the weekend.

[2016-06-03 06:13] Zoltu opened #5640 "IQueryable.ToListAsync Expression of type 'System.Boolean' cannot be used for parameter of type 'System.Threading.Tasks.Task`1[System.Boolean]'"
### Steps to reproduce
[code]

### The issue
The above code results in an exception.  It only occurs if you do `ToListAsync()`, it doesn't occur if you do `ToList()`.
[code]

### Further technical details

EF Core version: `1.0.0-rc2-final`
Operating system: Windows 10
Visual Studio version: Visual Studio 2015

Other details about my project setup:
EFCore.Sqlite `1.0.0-rc2-final`

Same problem occ

[2016-06-03 07:59] sepplK opened #5641 "RowNumberForPaging, two tables and columns with same name"
### Steps to reproduce
[code]

[code]

[code]

Without Paging:

[code]

[code]

[code]

### The issue
OrderId and ArtId is the same after using RowNumberPaging.
Select in paged query: [t].[ID], [t].[ID] AS [c0], [t].[name] VS [b].[ID], [ba].[ID], [ba].[name]

### Further technical details

EF Core version: RC2
SQL version: 2008 R2

[2016-06-03 08:05] ansydor opened #5642 "Migrations: Data motion APIs"
There is nothing that can help to manipulate with data with migrations:
basically it can be implemented like
`migrationBuilder.Sql("Insert ...");`
but would be grate to implement it like:
`migrationBuilder.Insert.IntoTable("Users").Row(new { FirstName = "John", LastName = "Smith" });`

there is a case why really need it this way:
there is a table `Posts` with string content column, but if I want a

[2016-06-03 08:17] maumar commented on #5641
Most likely duplicate of https://github.com/aspnet/EntityFramework/issues/4739

[2016-06-03 12:20] Mertsch opened #5643 "System.AppDomainUnloadedException when running UnitTests with RC2"
After the upgrade from RC1 to RC2 some of my Unit Tests which test against the DB fail with the following exception.
The behavior is reproducible, BUT only happens in a certain combination of tests. So I can't give a direct example as I am unable to find out which combination of my 90 tests causes this.
Fact is each tests runs fine on its own, all ran fine together with RC1, all tests run fine und

[2016-06-03 13:03] glatzert opened #5644 "Migrations fail on NotMapped attribute refering a NavigationProperty"
### The suspicious code
[code]

### The issue
`dotnet ef migrations add SomeMigration` will fail with a NullReferenceException

[code]
### The culprit
I narrowed the Problem down to the `[NotMapped]` property, which accesses the NavigationProperty.
When I remove that NotMapped, everything will run nicely.

### Further technical details

Entity Framework .NET Core CLI Commands 1.0.0-preview1-20901

[2016-06-03 15:33] #3023 closed

[2016-06-03 15:41] sepplK commented on #5641
workarround for RC2:

https://github.com/sepplK/EntityFramework-1.0.0-rc2-pi/commit/fb363f755a9da9d16a2a4112aa17509078ef32f3

[2016-06-03 15:58] rynowak commented on #4828
oops :laughing: - glad this turned out to be my mistake

[2016-06-03 17:26] #5571 closed

[2016-06-03 17:34] maumar commented on #5571
fixed in 0469dab5be86513197eac95e7aae598a7af127af

[2016-06-03 17:35] ajcvickers opened #5645 "Changing a property from modified to unchanged should reject changes"
Looking through TODOs in the code I found one referencing issue #742 which is about rejecting changes to properties when they are marked as unchanged after having been modified. The issue was closed as being fixed, but it appears that it only got fixed when the whole entity is marked as unchanged, not when an individual property is marked as such, hence the remaining TODO in the code.

It seems in

[2016-06-03 18:19] #5634 closed

[2016-06-03 18:20] #5633 closed

[2016-06-03 18:21] anpete opened #5647 "Build warning in GearsOfWarQueryTestBase"
[code]

[2016-06-03 18:36] #5645 closed

[2016-06-03 19:03] divega commented on #5034
Still broken but Microsoft.CodeAnalysis.Common from the roslyn-stabilization-nightly feed now works, so hopefully we'll get the updated dependencies soon.

cc @pranavkm

[2016-06-03 19:06] pranavkm commented on #5034
Still waiting on the CLI to update. Not super sure why they haven't updated as yet - https://github.com/dotnet/cli/blob/rel/1.0.0/src/Microsoft.DotNet.Compiler.Common/project.json#L7

[2016-06-03 19:10] divega commented on #5641
Not sure if it is the same as #4739. That one produces a `NullReferenceException`. This one returns wrong data from the query.

[2016-06-03 19:24] divega commented on #5641
@maumar explained to me that although the symptoms are different it looks like another manifestation the same underlying issue as #4739.

[2016-06-03 19:35] smitpatel commented on #5641
Both have same cause. The projections are incorrectly renamed while translating for row number paging. In this case it doesn't know exception because the property which gets wrong value is same type is the other property . So incorrect result. It throws NRE in #4739 because null value is being assigned to non-null property.

[2016-06-03 21:20] #5628 closed

[2016-06-03 21:38] nfiles opened #5652 "Invalid SQL statement produced from null-coalescing a nullable boolean"
### Steps to reproduce

##### Database:
[code]

##### Entity:
[code]

##### Query:
[code]

##### Generated SQL
[code]

##### Exception message (from SQL)
[code]

### The issue

Using the null-coalescing operator with a nullable boolean (`bool?`) in a `Where` clause produces invalid SQL. I would expect this LINQ statement to produce something like this:
`WHERE (COALESCE([i].[Enabled], 0) = 1`

Is t

[2016-06-03 22:12] smitpatel commented on #5652
Looking into this. Still repro in latest.

[2016-06-03 22:53] rowanmiller commented on #4642
Also worth noting that we will reconsider our "won't fix" decision if we see more folks hitting this issue.

[2016-06-03 22:56] rowanmiller commented on #5490
We think this is probably already fixed in our working code base. Any chance you could retry with out latest nightly build from https://www.myget.org/Gallery/aspnetcidev

[2016-06-03 23:38] #5306 closed

[2016-06-03 23:55] divega opened #5655 "Confusing exception when model would contain a relationship between entities with only shadow keys"
### Steps to reproduce

[code]

Note this is similar to an existing test that uses shadow entities: [`Can_create_shadow_navigations_between_shadow_entity_types`](https://github.com/aspnet/EntityFramework/blob/e72c4a178f6d2706ac6c65807dcb7a86042de96c/test/Microsoft.EntityFrameworkCore.Tests/ModelBuilderTest/ModelBuilderNonGenericStringTest.cs#L21)
### The issue

This is a negative scenario because

[2016-06-03 23:58] divega commented on #5655
cc @danroth27

[2016-06-04 00:15] divega commented on #4843
Updating title because the issue isn't specific to composite keys. It would be nice if calling `HasKey("Id")` could act as a shortcut to both create the property (if it doesn't already exists) and make it a key, but `HasKey()` currently doesn't have a way to specify the type.

BTW, the exception is:

[2016-06-04 00:20] smitpatel commented on #4843
One of the reasons for not creating shadow properties for `HasKey` & `HasIndex` is "typo"

[2016-06-04 00:41] smitpatel commented on #4748
Ah complex join conditions.

[2016-06-04 00:42] divega commented on #4843
@smitpatel agreed, but when using the string version of `Property<T>()` we already assume the user's intent is a bit more likely to be to refer to a shadow property. Then by extension I think it would be ok to assume the same thing for other string based APIs on the same `EntityTypeBuilder` where the property would need to be created.

In any case (unless I am missing a detail that justified the o

[2016-06-04 00:52] divega commented on #4748
Hopefully not in this particular case :smile: The argument for ON is also a search condition, like WHERE, so we shouldn't need to convert from search condition to a Boolean value.

I think this would be a nice translation:

[code]

And maybe we can arrive to it by first eliminating the redundant `true equals`?

[2016-06-04 01:00] smitpatel commented on #4748
We already have optimizer to remove redundant `true equals` => `PredicateReductionExpressionOptimizer`
I guess its just matter of running it on join conditions.

[2016-06-04 06:29] haydenmc opened #5657 "Failure when adding migration: Value cannot be null, parameter name: builder"
### Steps to reproduce
1. Clone [this commit](https://github.com/haydenmc/TheoremSlackBot/tree/5607b0fb5502fd7eb894d89810bb9eb578ca3b34)
2. Run `dotnet restore`, `dotnet ef migrations add Initial`

I suspect the failure has to do with the inherited fields in `EventModel.cs`, `MessageEventModel.cs`, and `PresenceChangeEventModel.cs` (and perhaps their relationships with `UserModel.cs`, `ChannelMode

[2016-06-04 08:30] Daniel15 opened #5659 "MySQL provider"
The [documentation says that a MySQL provider is "coming soon"](https://docs.efproject.net/en/latest/providers/mysql/index.html), but does not provide any ETA or link to any issue. I searched this repo and couldn't find any issues relating tracking the creation of the MySQL provider. Is there an issue I can follow to track this, and an ETA for its implementation?

Thanks!

[2016-06-04 20:33] gdoron commented on #5659
Looking forward for it too.

[2016-06-04 22:29] sam-wheat commented on #5391
What is the relationship between Microsoft.EntityFrameworkCore.Tools.Core and Microsoft.EntityFrameworkCore.Tools
Are they different libraries or does one supersede the other?
Is the documentation found here current and correct: https://docs.efproject.net/en/latest/miscellaneous/rc1-rc2-upgrade.html#package-names-and-versions

[2016-06-04 22:49] MicahZoltu opened #5660 "Defaults cannot be created on columns with an IDENTITY attribute."
### Steps to reproduce
1. Create a database via code first with one table with a `[Key]` column and create/apply an initial migration.
2. Add a second column like
   `
   [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
   public Int64 SecondaryId { get; set; }
   `
3. Create a new migration. **NOTICE** that the migration has `defaultValue: 0L`.
4. Apply migration. **NOTICE** error: `Defaults

[2016-06-04 22:59] MicahZoltu opened #5661 "Changing the type of a primary key doesn't result in a valid migration."
### Steps to reproduce
1. Create a new two-table code-first schema:

[code]
2. Create and apply an initial migration to SQL Server (Azure DB).
3. Change the type of both `Id` columns to `Int32` in code.
4. Create a new migration.
5. Attempt to apply the migration.  **NOTICE** that the migration fails because it didn't correctly remove and re-create the indexes and foreign keys.
### The issue

Desc

[2016-06-04 23:13] Zoltu commented on #5661
Note: there are other problems with this migration that I don't reasonably expect Entity Framework to solve for me (though it would be cool if it did).  However, the error I got was one that could occur with any kind of type change, not just GUID to INT.

[2016-06-05 00:40] mleader1 commented on #5490
hi @rowanmiller   great thx - I confirm it works with the latest nightly build.  will have a further look with more complicated queries on Monday.  cheers!

[2016-06-05 01:40] MicahZoltu opened #5662 "Add support for renaming primary/foreign keys."
### The issue

There is a `MigrationBuilder` method for `RenameColumn` and `RenameIndex` but there is no method for `RenameForeignKey` or `RenamePrimaryKey`.  Renaming both the column and the index leaves the foreign key named with its originally created name.  I am not a DB expert, but I believe this could just be a helper method for calling `DropForeignKey` followed by a `AddForeignKey` with the

[2016-06-05 13:16] blueanson commented on #4232
Hi, MaximBalaganskiy. i have the same problem, could you post the full code. thanks

[2016-06-05 17:14] rowanmiller commented on #5490
Great, thanks for confirming.

[2016-06-05 17:14] #5490 closed

[2016-06-05 17:17] rowanmiller commented on #5391
@sam-wheat `Microsoft.EntityFrameworkCore.Tools` is the package you should install. `Microsoft.EntityFrameworkCore.Tools.Core` is some infrastructure used by the tooling and is a dependency of the other package.

[2016-06-05 18:26] MicahZoltu opened #5663 "No mapping to a relational type can be found for the CLR type 'System.UInt16'"
### Steps to reproduce
1. Create SQL Server database with some table having an `int` column.
2. Attempt to query using an `Int16` in the Where clause:
   `
   UInt16 foo = 5;
   dbContext.Table
       .Where(x => x.intColumn == foo)
       .ToList();
   `
3. **NOTICE** the exception.
4. Attempt to inline typecast to Int32 with `.Where(x => x.intColumn == (Int32)foo)`
5. **NOTICE** the compiler opt

[2016-06-05 19:59] VagueGit commented on #4645
This would be a major benefit to us as ISVs. We provide software to small businesses. They want to use their software on multiple devices, but they don’t understand networking. They also don’t understand backup.

Sync local SQLite database to Azure SQL Database would solve both of these issues and get millions of small businesses onto Azure.

[2016-06-05 22:43] rowanmiller commented on #1148
Made good progress in RTM code base. We may add some more docs before we release RTM but moving this issue out as we can release with what we have now.

[2016-06-05 22:57] rowanmiller commented on #5659
The MySQL provider is being written by the MySQL team, so they will share details and timelines when they are ready.

DevArt has released a MySQL provider with EF Core support (works with RC2) - http://blog.devart.com/entity-framework-core-1-entity-framework-7-support.html. They are not a free provider though, and EF support is only included in paid versions.

[2016-06-06 00:15] francoisbeaussier commented on #5117
Got bitten by this quite a few times in the last couple of months. I wish it had been off by default.

I'll try that setting on the optionsBuilder for now.

[2016-06-06 00:24] rowanmiller commented on #5582
@aguirmrc we haven't been able to piece this one together from the details provided. Could you share a complete code listing that we can run to see the issue? Alternatively you can share a solution/project if that is easier.

[2016-06-06 00:29] rowanmiller commented on #5581
We discussed as a team and we're no 100% sure that this is the right approach to take. Typically, if you have things you want to do before/after, but not have them included alongside the scaffolded code, then you would scaffold an additional blank migration and put the operations in there.

The main concern is that we don't want to introduce APIs etc. when we're not sure that it's something that m

[2016-06-06 00:30] rowanmiller commented on #5577
This is by-design. The inclusion lists are additive, so you are saying you want any tables called `Table1` and everything in the `dbo` schema. If you just want a single table, then you would just specify the table and no schemas.

[2016-06-06 00:32] rowanmiller commented on #5575
Can you open an issue in the ASP.NET Identity repo https://github.com/aspnet/Identity. When you do, can you include some more technical details that can be used to reproduce the issue, we are not able to reproduce it with the limited details supplied here.

[2016-06-06 00:34] rowanmiller commented on #5572
This is already covered by an existing item on our backlog https://github.com/aspnet/EntityFramework/issues/2725. I've added a note to that issue to specifically consider the inherited context scenario when looking at it.

[2016-06-06 00:36] rowanmiller commented on #5567
Moved this one over to the EF6.x project as this is not an EF Core issue - https://entityframework.codeplex.com/workitem/2928. We'll be working on EF6.x issues once we get EF Core 1.0.0 released.

[2016-06-06 00:55] JosephGarrone commented on #5657
Having same issue with RC1-Update1. (Exact same stacktrace from `Microsoft.Extensions.DependencyInjection.ServiceProviderExtensions.GetRequiredService[T](IServiceProvider provider)` onwards. Occurs during my startup seeding process.

[2016-06-06 01:34] MaximBalaganskiy commented on #4232
@Anson99 I ended up with the 3rd suggestion - injecting an array instead of single instance. This makes the dependency optional.

[2016-06-06 01:53] miworx opened #5664 "RC2 EF LINQ Query exception"
I have an EF7 LINQ query on RC2 that throws the following exception.   This query worked perfectly in RC1

Exception message:

[code]

EF Core version: 1.0.0-rc2-3002702

[2016-06-06 02:30] divega commented on #5664
@miworx please provide repro model and query.

[2016-06-06 06:55] lcalabrese opened #5665 "duplicate index created when PK is also a FK"
### Steps to reproduce

Consider the following many-to-many definition, with an additional property in the MTM table so we need the intermediate entity:

    public class Foo
    {
        public int Id { get; set; }
        public ICollection<FooBar> FooBars { get; set; }
    }

    public class Bar
    {
        public int Id { get; set; }
        public ICollection<FooBar> FooBars { get; set; }

[2016-06-06 07:17] hikalkan commented on #5572
Thank you. I have not seen it. Is there a workaround currently?

[2016-06-06 07:26] ahmad-moussawi commented on #4232
Yes me too, I liked this approach 👍  (the 3rd one)

[2016-06-06 07:27] glatzert commented on #5581
I think I understand that, but personally I don't like the approach, since migrations will stack up and I am a friend of having one migration per release.
Following your approach I will have to rollback two migrations and rebuild the custom one to be able to keep one migration for one release - or do I miss something?

As an additional note: perhaps you could at least make `BuildOperations` protec

[2016-06-06 10:45] miworx commented on #5664
[code]
            var screeningblocks = (from sb in db.ScreeningQuestionBlock
                                   join ss in db.SiteService on sb.SiteService.ID equals ss.ID
                                   where ss.Site.SiteName == pSiteName &&
                                         ss.Service.ServiceName == pServiceName
                                   orderby sb.Sequence

[2016-06-06 11:55] csmith93 commented on #5632
Will do

[2016-06-06 14:32] Anson99 commented on #4232
My code is as below, the username still empty.

public DataContext(
            IServiceProvider serviceProvider,
            IEnumerable<IHttpContextAccessor> contextAccessor,
            DbContextOptions<DataContext> options,
            ILoggerFactory loggerFactory)
            :base(options)
        {
            var accessor = contextAccessor.FirstOrDefault();
 var userName = accessor.HttpCon

[2016-06-06 14:53] ngonzalezromero opened #5666 "Many to Many problem"
I have this code to update a entity

[code]

Generate sql

`
           Executed DbCommand (8ms) [Parameters=[@p0='?', @p1='?', @p14='?', @p2='?', @p3='?', @p4='?', @p5='?', @p6='?', @p7='?', @p8='?', @p9='?', @p10='?', @p11='?', @p12='?', @p13='?', @p15='?', @p16='?', @p17='?', @p18='?', @p19='?', @p20='?', @p21='?'], CommandType='Text', CommandTimeout='30']
      INSERT INTO "Application" ("Appl

[2016-06-06 15:08] wpostma commented on #1629
I put a question on stack-overflow to seek alternative techniques for EF Core.

http://stackoverflow.com/questions/37660746/can-i-configure-an-interceptor-yet-in-entityframework-core

Instead of a heavyweight framework approach perhaps whatever replaces interceptors could be a very lightweight and simple pattern.

[2016-06-06 16:20] Scandal-UK commented on #5549
I had this but installing Powershell 5 (and rebooting) got it to work properly.  Apparently this is a temporary requirement (see the EF docs for upgrading from RC1 to RC2).

[2016-06-06 16:26] ajcvickers commented on #5581
Just so it doesn't get lost, we also discussed that if we did do this it might be better to have virtual template methods in the base class that a partial class could then choose to override. This would mean we wouldn't have to scaffold all the partial methods in every migration.

[2016-06-06 17:02] bricelam commented on #5581
I've always like the idea of keeping two sets of migrations--one for day-to-day development, and one for release-to-release migrations. Each set would need to be stored in their own assembly. Use the `optionsBuilder.UseSqlServer().MigrationsAssembly()` to specify which set to use.

[2016-06-06 17:07] glatzert commented on #5581
Having multiple migration assemblies really did not come into my mind .. I will look into that. Thank you!

[2016-06-06 17:11] JoeBrockhaus opened #5667 "Support non-mapped intermediary generic base classes (with TPH/TPC)"
General desired architecture:
[code]
With mappings (plz forgive, this was for EF6)
[code]
[code]
This Stackoverflow question (for EF6) highlights the issue http://stackoverflow.com/questions/5776635/

### Alternatively..
In 7, am I able to map the intermediary generic as the TPH Root? ie:
[code]

[2016-06-06 17:16] natemcmaster commented on #5422
I've opened a PR with a fix. #5668

[2016-06-06 17:34] #5422 closed

[2016-06-06 18:18] divega commented on #5568
Closing since we haven't heard back. Feel free to re-open if you can provide a repro.

[2016-06-06 18:29] divega commented on #5630
@maumar can you please investigate?

[2016-06-06 18:36] divega commented on #5644
@smitpatel can you please investigate this?

[2016-06-06 18:42] divega commented on #5659
Closing since I believe we have answered the question.

[2016-06-06 18:47] gdoron commented on #5659
Any chance you know where we can track the MySQL team work on this?
Do they have a Github repository?

[2016-06-06 18:54] divega commented on #5664
@maumar @anpete does this look familiar? Have we fixed a bug like this recently?

[2016-06-06 18:59] anpete commented on #5664
@divega Don't think so. Looks like complex navs.

[2016-06-06 19:04] divega commented on #5666
@ngonzalezromero could you provide more details, i.e. the entity types and the rest of the code before `SaveChanges()`?

[2016-06-06 19:08] mojtabakaviani commented on #3797
without lazy/eager loading needs many change in previous project for migrate to Entity Framework Core, please add lazy/eager loading to version 1.0 milestone.

[2016-06-06 19:10] ngonzalezromero commented on #5666
@divega it's all code... before that there is only a Mvc controller...

I found a fix, but it's not efficient, because hit the database for each entity

       public async Task<User> UpdateAsync(User entity)
        {
            var userDb = await _context.User.Include(x => x.UserApplications).ThenInclude(xx => xx.Application).Include(x => x.State).Include(x => x.UserProfiles).ThenInclude(x => x

[2016-06-06 19:13] smitpatel commented on #5644
The given model throws no exception. Tested with RC2-final and latest dev.

[2016-06-06 19:26] maumar commented on #5664
might be related to https://github.com/aspnet/EntityFramework/issues/4539

[2016-06-06 19:49] divega commented on #5644
@glatzert are there any details missing in the information you provided? Could you please try to produce a self contained repro?

[2016-06-06 19:53] divega commented on #5659
Not sure they have the EF Core provider in GitHub. @gmartinezsan may be able to answer.

[2016-06-06 20:00] divega commented on #4232
@Anson99 the idea is that the `IEnumerable<IHttpContextAccessor>` dependency will be empty at design time (e.g. `FirstOrDefault()` will return null), so you will have to handle it being empty somehow. In your case it might help asking the question of what you expect the username to be at design time. If this is information that you are passing to the `DbContext` just to affect some runtime behavio

[2016-06-06 20:03] gmartinezsan commented on #5659
Hi @gdoron, @Daniel15 thanks for your interest in this product. The code is not public yet, but of course it will be once we released the first version of Core support. We are working on some final details and we expect to finish this soon. I will add details here as soon as the plan is more defined.

[2016-06-06 20:12] ajcvickers commented on #5666
@ngonzalezromero It looks like the User entity and its related connections passed into the method are not being tracked by context, In this case if they are existing entities they will need to have their states set to Unchanged such that EF knows this. There are various ways to do this and without knowing the details of your application it is hard to say what the best way is, but I would try calli

[2016-06-06 20:52] glatzert commented on #5644
[Verwaltung.zip](https://github.com/aspnet/EntityFramework/files/301326/Verwaltung.zip)
I stripped down my project, to just allow reproduce the issue. `dotnet ef add migration some` in the WebService

[2016-06-06 20:59] anpete opened #5669 "Investigate removal of relational LiteralExpression"
Looks like we could just use ConstantExpression here.

[2016-06-06 21:09] divega commented on #5669
@anpete isn't this something we should consider doing now before anyone takes a dependency on `LiteralExpression`?

[2016-06-06 21:14] anpete commented on #5669
@divega Couldn't we just obsolete it?

[2016-06-06 21:16] divega commented on #5669
Yes, but if happened to be trivial to remove it before we release I think we can make the case.

[2016-06-06 21:21] smitpatel commented on #5657
Confirmed repro in RC2-final but fixed in latest dev.
Tested using night packages.
Root cause was same as #5547

[2016-06-06 21:21] #5657 closed

[2016-06-06 21:34] smitpatel commented on #5644
@glatzert - 404 error on the link.

[2016-06-06 21:36] maumar opened #5670 "Query: Null semantics :: we are overzealous in applying "full" null expansion in some cases"
[code]

will get expanded into:

[code]

while first part, i.e.  `
(c.Name != "Foo" || c.Name == null)
` is necessary, the second expansion is redundant in this case.

In some cases it is beneficial to expand all "leaf" nodes using full expansion, e.g.

[code]

but if the top level operand is different than `==` and `!=`, it is not needed and we should only apply simplified null expansion for the

[2016-06-06 21:47] smitpatel commented on #5034
.NET 4.6 class library
with aspnetcidev as package feed
`Install-Package Microsoft.entityframeworkcore.relational.design.specification.tests -pre` installs the package correctly.
The package version is `1.0.0-rc3-21243`

[2016-06-06 21:47] smitpatel commented on #5034
@divega - close this now?

[2016-06-06 21:55] bricelam commented on #5572
The workaround is to just remove any operations on them that get scaffolded in the migration.

[2016-06-06 22:25] bricelam commented on #5615
I like the idea of using an options class. That way it could be inject into other places in the future.

[2016-06-06 22:46] #4739 closed

[2016-06-06 22:49] maumar commented on #5641
fixed in 11c18e6f03997c381ff16def574fd08f4d352138

[2016-06-06 22:49] #5641 closed

[2016-06-06 23:03] ngonzalezromero commented on #5666
@ajcvickers Thank you.. i will try

[2016-06-06 23:04] divega commented on #5034
Thanks @smitpatel!

[2016-06-06 23:04] #5034 closed

[2016-06-07 01:53] JosephGarrone commented on #5657
Thanks @smitpatel. Sadly can't update to RC2 atm so thanks for linking the root cause!

[2016-06-07 02:09] maumar commented on #5630
simplified repro:
[code]

produces:
[code]

[2016-06-07 02:58] crozone commented on #4996
Forgive me if I'm missing something obvious, but I've ported my asp net app from RC1 to RC2 (using all `1.0.0-preview1-final` EF bits), and I'm still getting the old table naming convention, despite deleting all migrations and starting again from scratch. Additionally, `dotnet ef migrations add` keeps creating a  `.\Migrations` folder and adding migrations to that, rather than adding them to the `

[2016-06-07 04:25] natemcmaster commented on #5570
This slow performance is likely due to the .NET Native compiler. In UWP 1.3, the compiler added a feature called universal shared genetics. Before this, most EF queries with "include" didn't work at all. USG allows these types of queries to work, but its slow performance is a known issue. The compiler team has been working on this for a while. Obviously, it's something we hope to improve in future

[2016-06-07 04:37] divega commented on #5570
@natemcmaster We were suspicious that this one would actually be due to a different aspect of .NET Native: LINQ expression trees cannot be compiled into IL to be executed in memory but instead are interpreted.

In any case, we still need to put a repro together and hand it off to the .NET Native team for them to evaluate if they can improve the performance.

[2016-06-07 04:56] glatzert commented on #5644
[Verwaltung.zip](https://github.com/aspnet/EntityFramework/files/301856/Verwaltung.zip)

Reuploaded - I can access that file now.

[2016-06-07 05:17] rchamila commented on #5549
@Scandal-UK  spot on. It did the trick :). Thanks for sharing

[2016-06-07 05:19] ErikEJ commented on #5034
Thanks, guys!

[2016-06-07 06:02] hikalkan commented on #5572
I'm already doing it, I could not find a better way yet. Thanks.