[2015-10-09 22:35] rowanmiller commented on #3390
Ah, reopening as I believe we should not be generating values for composite keys (e.g. https://github.com/aspnet/EntityFramework/issues/1126). @ajcvickers @divega do you agree?

[2015-10-09 22:37] jparish9 commented on #3370
Thanks for the update @rowanmiller, in the meantime we can work around it with `.AsNoTracking` where possible.

[2015-10-09 22:41] rowanmiller commented on #3370
@jparish9 `AsNoTracking()` should only be used when the results are read-only... the change tracker won't be tracking the objects, so no changes to any of the properties will be detected. For read-only queries AsNoTracking()` will always give you better performance since it avoids setting everything up in the change tracker.

[2015-10-09 22:51] smitpatel commented on #3341
@topguss - Thanks for the code. It explained all the strange thing happening here.
In your model, `Person` has one-to-one relationship with `PersonData` & `PersonPhoto`. For both relationships, `Person` is the principal table.
Since relationships discovered by conventions and not being specified explicitly, EF has to determine the principal end of each relationship by conventions.

**Case 5:** No

[2015-10-09 22:53] smitpatel commented on #3376
As the exception message says - the property `AccountId` is part of both principal key and foreign key. Not sure if that is a valid relationship.

[2015-10-09 22:56] jparish9 commented on #3370
:+1: This is for a web API so most of the queries returning a large result set are read-only.  Thanks for the heads-up.

[2015-10-09 22:58] divega commented on #3390
I agree. I thought that is what we had decided anyway. @smitpatel @AndriySvyryd do you know if that is supposed to be implemented?

[2015-10-09 23:01] anpete opened #3397 "Tests: ChangeTrackingInMemoryTest fails when run in isolation"
Passes when run as part of the full suite.

[2015-10-09 23:01] divega commented on #3394
Minor edit on the title to make it a bit stronger :smile:

[2015-10-09 23:07] AndriySvyryd commented on #3390
@divega Currently we should not generate values for composite primary keys by default. We should investigate why it's still happening in this case.

[2015-10-09 23:11] smitpatel commented on #3376
discussed with @AndriySvyryd  about this. It is cycle so we are throwing correct exception but since there is only one node in the cycle we could allow it too. Though not required at present.

Example model
[code]

Take Node as linked list node. ListId denotes which linked list this node belongs to. ListId, PreviousNodeId is PK. All nodes in same linked list will have same ListId and when you add

[2015-10-09 23:46] smitpatel commented on #3390
I tried running a test app with composite PK. We mark `RequiresValueGenerator` as true for all the properties in composite PK (`KeyConvention`). When saving changes we throw an exception - ` System.InvalidOperationException: The property 'Id' on entity type 'Blog' has a temporary value while attempting to change the entity's state to 'Unchanged'. Either set a permanent value explicitly or
ensure t

[2015-10-10 01:18] jruckert opened #3400 "Introduction of onDelete with Foreign Key's breaks migrations"
Hi,

 I've just tried generating Migrations using the standard command lines of the latest RC1 - 15945, and found with the introduction of the new property (we generated a couple of days ago without any issues, but this property was not present)

onDelete: ReferentialAction.Restrict

when i try to apply the migrations to the database

Introducing FOREIGN KEY constraint 'FK_RepresentingMinistry_Min

[2015-10-10 03:13] jruckert commented on #3400
Seems like the default behavior has changed to be Cascade, not Restrict.

[2015-10-10 05:53] himadrinath opened #3401 "unable to insert relational data into database"
i just create three classes with relation between them using EF 7 beta 7 Fluent API like this

class a one to one with class b. (required =true)
class a one to one with class c. (optional)

<code>
 builder.Entity&lt;a&gt;().Reference(t => t.b)
                .InverseReference(p => p.a)
            .Required(true);
builder.Entity&lt;a&gt;().Reference(t => t.b)
                .InverseReference(p =

[2015-10-10 06:09] NTaylorMullen commented on #3310
@rowanmiller Is that bad behavior? Why have users error out once to then have corresponding requests work?

[2015-10-10 12:32] bonsmik commented on #2726
Should graph behavior browse through all related objects and also their relations? I tried to add an object and result was only related objects were saved not their relations.

using "EntityFramework.Sqlite": "7.0.0-rc1-15945"

[2015-10-10 22:40] reader-man opened #3402 "Managing DbContext the right way with Entity Framework"
Hi, thank you for this great version.
It would be nice to have another level of easiness ans compactness, and more toward effeciency when contacting the DB, by having a look at Mr. Mehdi el Gueddari project and Idea:

http://mehdi.me/ambient-dbcontext-in-ef6

https://github.com/mehdime/DbContextScope

and contacting him to have some of his ideas in EF.

[2015-10-11 11:02] ErikEJ opened #3403 "Wiki: Building the code guide needs update"
(I would be happy to do a PR, but I get errors when cloning the Wiki...)

Since this page is one of the prominent pages in the wiki, it would be nice to see it updated. (Bad docs are worse than missing docs!)

1: VS 2015 is no longer in prerelease, so the text and hyperlink should change
2: dnvm powershell command has been change significantly (see aspnet/Home)
3: Tests cannot (currently) run in t

[2015-10-11 11:05] ErikEJ opened #3404 "RevEng: Respect IsStoreGenerated"
Looking at the SqlServerMetaDataReader, I cannot see any TODOs for supporting the "IsStoreGenerated" property, and the sys.columns query does not include that information. (But I could be overlooking something)

[2015-10-12 02:29] symphony2014 opened #3405 "Insert value without overwrite default value"
Insert value without overwrite default value

[2015-10-12 03:10] waterfallbay commented on #3273
@natemcmaster I've make a breakpoint  in TestSqlLoggerFactory.cs > SqlLogger > _testOutputHelper?.WriteLine(format + Environment.NewLine);
And after checking the log, the following is what the program generated during execution:

[code]

Another observation is, my test function should delete 3 rows from DB ( we have 5 rows and select all those ID > 2 to delete)  but the program only generate 2 del

[2015-10-12 03:30] waterfallbay commented on #3376
@smitpatel we put exactly your example model into our project, the same problem arouse that we cannot even load HasKey and HasOne in our model. Is this being supported in UWP? We are using EF7 Beta 6.
![2015-10-12_11-23-09](https://cloud.githubusercontent.com/assets/13427419/10421108/1553d34c-70d4-11e5-970c-dd492b4e305b.png)

What we expected is HasKey and HasOne should be loaded successfully in o

[2015-10-12 06:40] ChristineBoersen opened #3406 "Suggestion for documentation - Partial classes for your dbContext"
Something you may want to recommend in the documentation, especially for complex data models,  is using a Partial Class for you dbContext class.

By using a pattern such as this, you can keep all the builder logic for your model with your POCO so it is easier to work on in a team environment (low concurrency issue with your MyContext.cs file).

In file Address.cs

[code]

And then in your "main" d

[2015-10-12 07:31] smitpatel commented on #3376
@waterfallbay - Can you tell me what is the primary key for `ModifierGroupHeader`? According to the exception message, it seems that you have a common property in principal key and foreign key which is causing the cycle and exception is thrown.

The example I have given is simplified repro of the exception. It is not the solution. It is primary investigation so that team can triage this. The reaso

[2015-10-12 07:46] htuomola opened #3407 "Facing 'multiple assemblies with equivalent identity' on .NET 4.5 with latest build"
Hi, I just updated (or tried to) the solution to 7.0.0-rc1-15945. Looks like the System.Diagnostics.Tracing.Telemetry declares dependencies just for .NET 5.0 and thus it pulled in System.Threading.Tasks v.4.0.0-beta-23019 and that one added System.Threading and System.Runtime.

As a result, I get build errors "Multiple assemblies with equivalent identity have been imported: '..\packages\System.Thr

[2015-10-12 10:23] AlekseyMartynov commented on #3361
@rowanmiller

Thanks for the suggestion. I tried but with no luck, adding variable leads to `The LINQ expression '{var Param_0; ... }' could not be translated and will be evaluated locally` ([diff](https://github.com/AlekseyMartynov/ef7_const_bug/commit/179cda54a1ecdfe58995e39a5b6b4ac9d3f9db8d))

What actually helps is using a closure over the constant value: https://github.com/AlekseyMartynov/ef7

[2015-10-12 11:02] Gillardo commented on #2336
I have tried EF7, loved it, but it aint complete enough for me either. Features missing for me were

1. Many to many (I know currently there is a workaround, but too much work in project to use this)
2. Complex Types.  This ain't currently working for me.
3. Configuration Files.  I got round this myself, by creating an interface on my "old" configuration files and using reflection, loading all of

[2015-10-12 11:25] Venomed commented on #3180
@maumar I think I've isolated the problem using your repro code. You're using nullable FKs and I'm not. Otherwise your model code is pretty much identical to mine. I'm targetting .net 4.6 full. I had to comment out your group by query as it was throwing "An item with the same key has already been added.". Here's a complete repro code using my own model entities and indeed reproduces the problem on

[2015-10-12 11:30] Venomed commented on #3407
I had the exact same problem that was solved by removing all EF nuget stuff and then just pulling in EntityFramework.MicrosoftSqlServer (they renamed the nuget from EntityFramework.SqlServer). Thanks to Maurycy for that tip about nuget rename.

[2015-10-12 11:31] Venomed commented on #3406
Nice suggestion. I was wondering how to do this and now I see what I was missing. Thanks!

[2015-10-12 11:36] csunali opened #3408 "Problem with Select statement"
There seems to be an exception whenever there is a "Select" statement as `HasChildren = item.Children.Count > 0` and the Children are bound to the parent entity using a `long?` field:

[code]

The entities are as follows:

[code]

And a simple code that breaks is:

[code]

Please consider the fact that if I remove the `HasChildren = i.Children.Count > 0` line, everything works.

[2015-10-12 11:38] csunali commented on #3408
Sorry for not attaching, here is the full stack:

[code]

[2015-10-12 11:44] Boglen opened #3409 "Query: ThenInclude throw ArgumentNullException when entity implements the interface"
public interface ITestEntity1
    {
        int Id { get; set; }

        ICollection<ITestEntity2> EntityChilds { get; set; }
    }

    public interface ITestEntity2
    {
        int Id { get; set; }

        ICollection<ITestEntity2> Childs { get; set; }

        int? TestEntity1Id { get; set; }
        ITestEntity1 ParentRef { get; set; }
        int? TestEntity2Id { get; set; }
        ITest

[2015-10-12 12:26] Boglen commented on #3408
Did you try remove
 = new List<ItemModel>();
and get
IQueryable<Item> query = new ApplicationDbContext().Items.Include(c => c.Children).Where(i => i.ParentId == parentId);

?

[2015-10-12 12:47] Boglen commented on #3401
try
var a = context.Add(new A()).Entity;
var b = context.Add(new B()).Entity;
a.b_ref = b;
context.SaveChanges();

look into DbContext.ChangeTracker._stateManager.Entries in intellisense before and after you call SaveChanges()

[2015-10-12 13:01] Boglen commented on #3401
Update
I try reproduce in current rc1 and all work fine

                var ent1 = context.Add(new TestEntity1()).Entity;

                var ent21 = context.Add(new TestEntity2()).Entity;
                var ent22 = context.Add(new TestEntity2()).Entity;
                var ent23 = context.Add(new TestEntity2()).Entity;

                ent21.ParentRef = ent1;
                ent21.Childs = new

[2015-10-12 13:19] csunali commented on #3408
Yes, tried them now and none of your suggestions helped. Still getting the same exception thrown.

[2015-10-12 16:23] rowanmiller commented on #3310
The following requests aren't really working, you're manually posting invalid data so you are skipping any of the logic in the action. If you post valid data you will see the same exception when it tries to access the database.

[2015-10-12 16:25] rowanmiller commented on #3310
BTW the whole thing with `EnsureDatabaseCreated` is just a temporary hack. If we were going to keep it for RTM then I think we would need to do some cleanup by making it thread safe and handling failures... but I don't think it is worth it for the moment.

[2015-10-12 16:35] natemcmaster commented on #3273
It appears the database isn't missing, so this is likely the same issue as https://github.com/aspnet/Microsoft.Data.Sqlite/issues/116. This issue is caused by the goofy filesystem permissions on UWP. Can you try the workaround in this post? (i.e. add the following to your code at the beginning of your application, before EF is every opened).

[code]

[2015-10-12 16:42] natemcmaster commented on #3404
I will be working on this as a part of https://github.com/aspnet/EntityFramework/issues/3329. It may be a few days before the dust settles on this refactoring.

[2015-10-12 16:43] natemcmaster commented on #3404
(oops, wrong button. Meant to leave open.)

[2015-10-12 17:16] lajones commented on #3404
+1 on @ErikEJ 's suggestion. In the current code we use this to get the `ValueGeneratedOnAdd()` etc Fluent APIs in the generated code.

[2015-10-12 17:49] himadrinath commented on #3401
thank you. one more thing do u have any link which i can follow to install rc1. i already install it in my dnvm and selected as a default. but when i creating a new project it still using beta 7.

[2015-10-12 18:34] mikary opened #3411 "Query does not lift SelectMany from sub query with client evaluation"
We should see if it is possible to lift sub queries for SelectMany with client evaluation.

For example, the following test executes the sub query once per result in the outer query

[code]

[2015-10-12 19:29] Boglen commented on #3401
Add nuget feed from here  https://www.myget.org/gallery/aspnetvnext To visual studio and change beta7 to rc1 in project.json
and look https://github.com/aspnet/Announcements/issues
Some package was renamed

[2015-10-12 19:36] Boglen commented on #3401
Announcement about last templates for vs
https://github.com/aspnet/Announcements/issues/79

[2015-10-12 19:45] Boglen commented on #3408
HasChildren = ( i.Children.Count ?? default(long)) > 0
Or
HasChildren = i.Children.Count.GetValueOrDefault() > 0

I'm on mobile and can't test

[2015-10-12 19:48] ChristineBoersen commented on #3406
Glad I could help, I hope the idea helps others as well :)

[2015-10-12 21:05] divega commented on #3361
@AlekseyMartynov Yes, when we suggested to use a variable that was actually a shortcut for "use the expression pattern the compiler would generate for accessing a variable". Sorry if it wasn't clear.

[2015-10-12 21:52] #3205 closed

[2015-10-13 02:02] dneimke opened #3415 "Includes impacting on SQL generation"
Forgive me if this is a naive question but, how does the in which Include statements are added impact the resultant query that is generated?  E.g.

Will this...

return DbSet.Where(predicate)
                .Include(e => e.AAA)
                .Include(e => e.BBB)
                .Include(e => e.CCC);

Always give the same result as this...

return DbSet.Where(predicate)
                .Include(

[2015-10-13 02:36] waterfallbay commented on #3376
@rowanmiller sorry for not asking the question precisely and lack of information provided
@smitpatel OK, i guess I should reword question:

Is that HasKey and HasOne is not available in beta 6? If yes, we would wait for beta 8 and look into this issue again (as beta 7 cannot be used in UWP project). Anyways, here is my table schema and model:
[code]
Datacontext:
[code]
ModifierGroupHeader.cs
[code

[2015-10-13 03:25] waterfallbay commented on #3273
@natemcmaster i can solve the issue with your workaround so your guess is correct and this should be the same issue as https://github.com/aspnet/Microsoft.Data.Sqlite/issues/116

[2015-10-13 09:42] davidpodhola opened #3416 "MinLength or custom CONSTRAINT or more Sentinels (?)"
I have class `NamedEntity` in my model. I am trying not to allow empty strings to be saved.

[code]

I know `MinLength` attribute is not supported and I am OK with that, however I would like to propagate this requirement to the model.

At the end (at least on the SQL Server) I need something like

[code]

to be generated.

What would be the best way to do this? I am also happy with adding some cus

[2015-10-13 10:23] vmudinas commented on #3115
Hi, is were a way to get FromSql working if I don't have Id  or identity column ?

[2015-10-13 11:02] ErikEJ opened #3417 "RevEng: Scaffolding fails silently on VB projects"
It would be helpful to show an error message instead https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/issues/242#issuecomment-147589772

[2015-10-13 15:27] Tratcher opened #3418 "Query: Support Include after GroupBy"
_From @SaphuA on October 9, 2015 9:27_

From what I understand doing a Include before a GroupBy is expected not to work. However, a recommended workaround would be to move it to after the GroupBy. This doesn't seem to be working either. Is this expected as well?

This simple query:

[code]

Throws:

[code]

_Copied from original issue: aspnet/Home#978_

[2015-10-13 15:27] Tratcher commented on #3418
_From @Eilon on October 9, 2015 21:47_

@divega @rowanmiller

[2015-10-13 15:34] mikary commented on #2420
Appears to be fixed by other changes in Query, added tests to catch any regressions in this area.

[2015-10-13 15:34] #2420 closed

[2015-10-13 15:46] davezych commented on #3029
@maumar any updates on this? I know you're probably way busy, but this seems (to me at least) to be a relatively big bug.

[2015-10-13 16:13] rowanmiller opened #3419 "Query: Join Elimination/Consolidation"
We often join to the same table(s) multiple times, we should look at adding logic to consolidate these joins. One example is using the same nav prop in an `Include` and a `Where` call.

[2015-10-13 16:13] rowanmiller commented on #3389
Created a general issue to track join elimination https://github.com/aspnet/EntityFramework/issues/3419

[2015-10-13 16:15] rowanmiller commented on #3384
**Triage:** Discussed in triage and we feel this just overly complicates things. It also only works to back up a single level, but you still run into cases where you are four levels deep and you can't back up and continue including from the second level.

If we see customers wanting something like this then we would probably go with a nested-closure style API, but we suspect folks will be fine wit

[2015-10-13 16:17] rowanmiller opened #3420 "Provide an IsUnicode API"
As pointed out in https://github.com/aspnet/EntityFramework/issues/3362 we have removed this API which forces you to specify a provider specific type in cases where you would not have needed to in EF6. We should add this into EF7.

[2015-10-13 16:18] rowanmiller commented on #3362
**Triage:** Discussed and we agree. Opened https://github.com/aspnet/EntityFramework/issues/3420 to track adding `IsUnicode`. Was there any other provider agnostic APIs that you found were missing?

[2015-10-13 16:19] anpete commented on #3419
We should only gen a single join per nav prop in the multiple includes case.

[2015-10-13 16:29] maumar commented on #3029
@davezych I'm currently working on a bug that also exhibits this behavior and I'm pretty close to pushing the fix (I think, the bug turned out to be multi-faceted). Basically we are translating nav props incorrectly (e.g. Property(forum, "ForumId") rather than Property(topic, "ForumId"). Because what we constructed is not in the model, we think its a client side property access and leave it as us,

[2015-10-13 16:29] rowanmiller opened #3421 "First class support for Elastic DB"
We could provide some first class support for swapping shards, applying migrations to all shards, etc.

[2015-10-13 16:30] rowanmiller commented on #3346
Opened https://github.com/Azure/azure-content/issues/4747 to track the need for that doc to be updated with EF7 samples.

Opened https://github.com/aspnet/EntityFramework/issues/3421 to track improvements to support Elastic DB in EF.

[2015-10-13 16:31] rowanmiller commented on #3419
Cool, nice - I updated the description

[2015-10-13 16:47] davezych commented on #3029
:+1:

[2015-10-13 17:02] joshmouch commented on #3362
I think IsFixedLength() is probably the other one that is agnostic yet can have an easy fallback if not supported by the provider.  I personally don't use it, but I do use Microsoft Identity 2.0, and it uses that quite a bit.

[2015-10-13 17:04] joshmouch commented on #3420
I think IsFixedLength() is probably the other one that is agnostic yet can have an easy fallback if not supported by the provider. I use that because I override the entities in Microsoft Identity 2.0, and it uses that quite a bit.

[2015-10-13 17:15] whyi commented on #3415
I am curious too. Given that those two would returns the same results I would assume EF ends up generating the same SQL statements. (perhaps with WHERE and AND clauses) I think it's fair to assume that EF does its SQL generation and optimization based on the general use but if there's a specific case in which the order of the expression is important then we should think about it although I think u

[2015-10-13 17:33] rowanmiller commented on #3390
It feel like we have an issue in the how the pieces interact here. If the property is not setup to be generated (because it's part of a composite key) and we successfully insert the assigned value it seems we shouldn't throw trying accept changes. Maybe this has changed already though with @ajcvickers work to remove sentinel values?

[2015-10-13 17:40] maumar commented on #3180
@Venomed I'm seeing the issue with the repro you provided. Will work on a fix after I'm done with my current workitem (3103)

[2015-10-13 17:42] maumar commented on #3180
@emrs-jm join elimination is now tracked by a general issue https://github.com/aspnet/EntityFramework/issues/3419 (as we had more people seeing this problem)

[2015-10-13 17:55] ajcvickers commented on #3390
There are several things going on here.
- We are generating temporary values in this case because currently we do that for all keys. This enables graph tracking to happen with any entity order--dependents can be found in the graph before principals and they can still be added without key violations. However, we are changing this such that if the property is not setup for "real" value generation, t

[2015-10-13 17:59] anpete opened #3422 "Build warnings from TelemetrySource in tests"
Presumably after 2887b8b95

[2015-10-13 18:13] rowanmiller commented on #3407
@htuomola are you able to reproduce this issue on a clean solution/project?

[2015-10-13 18:15] rowanmiller commented on #3405
Dupe of https://github.com/aspnet/EntityFramework/issues/3072 (currently being implemented)

[2015-10-13 18:23] smitpatel commented on #3422
fixed by 6e16bdef3a2d4c03ef41c265adbf01b836b69ccd ?

[2015-10-13 18:35] rowanmiller commented on #3341
@smitpatel is there any action needed on our side from your investigation?

[2015-10-13 18:37] smitpatel commented on #3341
@rowanmiller - No, everything working fine as expected.

[2015-10-13 19:27] natemcmaster commented on #678
Closed with #3367

[2015-10-13 19:27] #678 closed

[2015-10-13 19:47] mikary opened #3424 "Query with Non-nullable parameter for nullable predicate generates incorrect SQL in some situations"
the following test:
[code]

with base test:
[code]

fails when running Build.cmd but does not appear to fail in VS (debugging with testdriven). Failures have been observed in both Desktop and Core, but seem to very depending on how the test is executed.

[2015-10-13 19:58] natemcmaster commented on #3407
The can also be caused by having a version of *Microsoft.AspNet.Identity.EntityFramework* and *EntityFramework.(Microsoft)SqlServer* that do not agree. If you are using *EntityFramework.MicrosoftSqlServer* (the most-current package name), make sure you are using Identity >= build 15850. (cref https://github.com/aspnet/EntityFramework/pull/3331)

[2015-10-13 20:04] divega commented on #3424
@mikary Is the generated SQL different when the test fails? If yes, what is the SQL?

[2015-10-13 20:09] anpete commented on #3422
@smitpatel No, these are coming out of the tests.

[2015-10-13 21:00] #3012 closed

[2015-10-13 21:00] #3134 closed

[2015-10-13 21:37] bricelam commented on #3353
@JohnGalt1717, Here is [one use's workaround](http://stackoverflow.com/a/32799213/475031) that might work for you.

[2015-10-13 21:44] bricelam commented on #2679
Another (easier to implement) option would be to always invoke this on the startup project and have a `--targetProject` option that points to the project with the `DbContext` (actually `Migration`s).

[2015-10-13 22:39] mikary commented on #3424
yes, when the test fails the generated SQL looks like:
[code]

[2015-10-13 22:54] rowanmiller commented on #3416
@davidpodhola the easiest way to do this would be to alter the column after it is created. Just edit one of your migrations to add a call to migrationBuilder.Sql("<statement to alter column>") after the column has been added.

[2015-10-13 22:58] whyi commented on #3269
:+1: We should DRY the code up whenever possible.

[2015-10-13 22:59] rowanmiller commented on #3415
It's really up to the query pipeline to work out the best thing to do. For the most part it doesn't really matter what order things are done in when it comes to joins or additional queries for related data, so you will generally see things applied in the order you specify them. Bottom line is that you shouldn't really need to worry about it though.

[2015-10-13 23:01] rowanmiller commented on #3409
This is because mapping to interfaces is not supported. This means `public virtual ICollection<ITestEntity2> EntityChilds { get; set; }` is not a valid navigation property and so it is not included in the model - therefore you get an exception when you try to include it.

Enabling this scenario with interfaces is already tracked by https://github.com/aspnet/EntityFramework/issues/757

[2015-10-13 23:04] whyi commented on #3088
Can please you provide with some sample data in Perf_Query_Simple to try your code?

[2015-10-13 23:04] rowanmiller commented on #3406
Partial classes is one way to do this. Another option is just having static methods that they can call from within `OnModelCreating`. Ultimately we are going to enable a pattern like the `EntityTypeConfiguration<T>` from EF6 (tracked by https://github.com/aspnet/EntityFramework/issues/2805).

Bottom line is that there are lots of ways to organize code and we don't think we need specific docs about

[2015-10-13 23:10] rowanmiller commented on #3402
**Triage:** We took a look over this component and while it may fit well with some users it's not a pattern we would want to recommend for the majority of our customers. The extension library model which it is currently following seems like a good fit.

[2015-10-13 23:12] rowanmiller opened #3425 "Throw before saving if temp values are present and won't be generated by the database"
Split off from https://github.com/aspnet/EntityFramework/issues/3390
Currently we throw after SaveChanges if temp values are present, we should throw in advance if we know the database isn't going to generate something.

[2015-10-13 23:13] rowanmiller commented on #3390
Per @ajcvickers analysis this situation will be pretty hard to get into with his recent set of changes, but we did open up https://github.com/aspnet/EntityFramework/issues/3425 to make sure we throw before saving if you ever do get into it.

[2015-10-13 23:19] rowanmiller commented on #3400
This has recently changed to be in-line with the EF6 behavior - cascade delete is enabled for required relationships. We think this is the most expected behavior, but it is unfortunate that SQL Server is so aggressive in its detection of cycles (at the schema level rather than just failing when you attempt to delete cyclic data).

You ca switch off one of the cascades to break the cycle as follows

[2015-10-13 23:21] rowanmiller commented on #3088
You can put any data in the table to see it. The database I was using had 1000 entries (it's the database from the benchmark tests that are checked into our source code).

[2015-10-13 23:37] divega commented on #2588
This issue describes what @smitpatel has done in https://github.com/aspnet/EntityFramework/pull/3387 (throwing when the property cannot be mapped which as described in #2612 is only one aspect of it) so we moved this back from the backlog to [7.0.0-rc1](https://github.com/aspnet/EntityFramework/milestones/7.0.0-rc1).

[2015-10-14 01:14] weitzhandler commented on #3241
I hope that will be implemented too.

Anyway it can be achieved if the selection is on the `Referred` entity `context.Affiliates.Include(a => a.Referred).Select(a => a.Referred).Where(r => r.Id > 5)`

[2015-10-14 01:15] divega commented on #3409
I may be missing something but I believe this is just a bug in `Include()`/`ThenInclude()`.

1. The model is built and seems to be what the user expected (AFAIR we decided at some point that navigation properties that were of a more general types than a known entity type were ok)
2. The data seems to be saved to the database correctly.
3. The following scenarios all seem to work and cause the enti

[2015-10-14 01:27] maumar commented on #3408
looks like we are missing a convert to compensate for nullability difference between PK and FK. I'm currently working on an issue around this area (nav prop rewrite) and have fixed one instance when this was happening already, so this might get fixed along with issue 3103

[2015-10-14 01:30] csunali commented on #3408
Thank you!

[2015-10-14 01:57] dneimke commented on #3415
Thanks @rowanmiller.  A reason for asking is that I am experiencing a number of issues when using the latest (nightly) EF stuff where the Order of Includes is having a significant issue.  I was trying to understand how to determine whether this was an EF7 bug or whether it is expected behavior.

[2015-10-14 03:00] maumar commented on #3415
@dneimke can you provide repro code (entities, dbcontext, and query used) so we can take a look? Order shouldn't matter

[2015-10-14 03:09] dneimke commented on #3415
Thanks @maumar leave it with me and I will get you a repro.  Might take me a day to get it for you as I will need to create a smaller working demo from our production/dev model

[2015-10-14 03:57] maumar commented on #3415
@dneimke no rush, I got plenty of bugs to work on in the meantime

[2015-10-14 05:00] weitzhandler opened #3426 "TakeWhile aggregate fulfills a condition?"
Hi,

[code]

Then:

[code]

Now I want to iterate and start 'taking' products until I have enough products to deduct creditToDeduct from.

I've seen [this](http://stackoverflow.com/a/7402438/75500) answer on SO, but it targets LINQ to Objects.

What I would like to achieve, is a LINQ to Entities implementation of that.
I'm sure it can be achieved with Expression Trees, can it? Where is the source

[2015-10-14 06:46] htuomola commented on #3407
@rowanmiller which one, the assembly identity error or the entry point exception? I am able to repro the former by just creating a new empty .NET 4.5.2 console app and calling `Install-package -version 7.0.0-rc1-15945 Entityframework.Commands`. After that the project doesn't build due to the CS1703 "Multiple assemblies with equivalent identity" error.

The exception on entry point looks like to ha

[2015-10-14 10:19] Boglen commented on #3409
In intellisence after i expand Entity1 and Entity2 and then expand context.Entity1.EntityChilds.Childs - all is good. Simple include with public virtual ICollection<ITestEntity2> EntityChilds { get; set; } work fine with interfaces.

[2015-10-14 14:21] jparish9 opened #3427 "Error when joining to table with composite key"
Windows 10, VS 2015, IIS Express, SQL Server Express 2014, EF 7.0.0-beta7, ASP.NET 6.0.0-beta7

I am seeing an exception when trying to use a where clause that references a table with a composite key.

Models:

[code]

[code]

Primary/foreign key setup:

[code]

Attempted query:

[code]

Exception:

[code]

This is happening with no data in either of the tables, and any time I try to reference `p.

[2015-10-14 15:49] rowanmiller commented on #3415
Moving out of Discussion since it sounds like this may be a bug, we will triage once the repro is provided.

[2015-10-14 17:11] whyi commented on #3415
Would there be an invitation for the triage? I would like to attend if there's no conflict with my schedule.

[2015-10-14 17:25] rowanmiller commented on #3415
@whyi our triage meetings are just for a small group of folks from the EF team who decide on prioritization etc. to ensure we have a cohesive release.

[2015-10-14 17:38] bricelam opened #3428 "RevEng: Generate partial classes"
According to [this StackOverflow question](http://stackoverflow.com/q/33045923/475031), we don't generate `partial` classes.

In the past, we've had the rule to always generate partial classes when scaffolding code.

[2015-10-14 18:11] rowanmiller commented on #3148
@smitpatel can you just verify that this is fixed

[2015-10-14 18:19] rowanmiller commented on #3377
Inheritance wasn't fully supported in Beta 7. In the most recent code base you need to call Entity<T> on each type on `OnModelCreating`. Still leaving open as we should verify we don't throw this exception in negative cases (this is negative because the only type in the hierarchy is abstract)

[2015-10-14 18:27] rowanmiller commented on #3250
@lajones is this fixed now?

[2015-10-14 18:28] lajones commented on #3250
@rowanmiller No. The ones with the null constraint are fixed. This one still needs work.

[2015-10-14 18:37] rowanmiller commented on #3168
@mikary can you test the repro code.

[2015-10-14 18:47] #1783 closed

[2015-10-14 18:48] rowanmiller commented on #1728
@mikary is this done now?

[2015-10-14 18:49] #1720 closed

[2015-10-14 18:50] rowanmiller commented on #1449
@rowanmiller to verify if this is still broken

[2015-10-14 18:52] rowanmiller commented on #1166
We are happy that we have covered this

[2015-10-14 18:52] #1166 closed

[2015-10-14 19:01] #615 closed

[2015-10-14 19:04] rowanmiller commented on #2956
@natemcmaster can you just make sure only the API we decided on in the design meeting is left public

[2015-10-14 19:16] rowanmiller commented on #2612
Covered by https://github.com/aspnet/EntityFramework/issues/2588

[2015-10-14 19:16] #2612 closed

[2015-10-14 19:18] rowanmiller commented on #2511
@AndriySvyryd will be working on this API as part of perf changes

[2015-10-14 19:19] rowanmiller commented on #2493
We are happy with what we have now

[2015-10-14 19:19] #2493 closed

[2015-10-14 20:20] mikary commented on #1728
This is nearly done. There are still a few issues around ExecuteReader in Update and Query that I expect to finish in PRs in the next few days

[2015-10-14 20:30] lajones commented on #2947
Removed with PR #3393.

[2015-10-14 20:30] #2947 closed

[2015-10-14 20:37] brianro opened #3429 "Invalid SQL (multi-part binding issue) when querying a parent table with a two branch three level relationship pattern"
EF 7 beta 7 is corrupting the SQL for this specific condition:

Relationships
A -> B -> C,
A -> D <- E

One A record has one B and one D record. B record has one C record. E record has one D record. Records are all required. E -> D is an inverse reference.

NOTE: E.dId is nullable  - I think this plays a part in the issue - just not sure exactly how / why. For this subset, it is definitely populat

[2015-10-14 22:57] fujiy commented on #3302
I'll try to fix it

[2015-10-15 02:08] opiants opened #3432 "FromSql throws ArgumentNullException when passing a null parameter"
Suppose we have a stored procedure

	CREATE PROCEDURE GetPersons @departmentid INT AS SELECT * FROM People WHERE DepartmentId = COALESCE(@departmentid, DepartmentID)

Calling that stored procedure using the code below causes an exception.

	int? departmentId = null;
	db.Set<Person>().FromSql(@"GetPersons @departmentid = {0}", departmentId)

Full stack trace:

	ArgumentNullException: Value cannot b

[2015-10-15 05:23] dneimke commented on #3415
@maumar, I'm really concerned that you will run out of items to work on!  :)

I've made a start but haven't yet been able to directly reproduce the inconsistent behavior.

    https://github.com/dneimke/EFLibrary/tree/develop

I will ping you when a repro is available.

[2015-10-15 07:30] mehrt opened #3434 "Change of MaxLength not migrated to DB"
I'm using beta8. So I don't think this is a dupe of #882, but maybe a followup on it.
I followed the steps given [here](http://ef.readthedocs.org/en/latest/getting-started/full-dotnet.html).

If I do ...
[code]
... and run the initial migration, I get a Blog table with a column defined as `Url (nvarchar(256), not null`, as I would expect.
If I subsequently change this to ...
[code]
... and do `Add

[2015-10-15 09:05] maumar commented on #3415
@dneimke sounds good, thanks

[2015-10-15 10:26] ramoneeza opened #3435 "Allow an IConnSource on Entity Constructor to IOC custom secure string connector"
I'm using a IConnSource interface to enable custom connectionstring securing (Via AES and AD).

I think is a good Idea and could be enable in future versions of EF.

[code]

[2015-10-15 12:58] poke opened #3436 "Skip entity that should not have its own table in migrations"
Hey, in order to consume stored procedures, as per #1864, I created a new entity type just to match the return type of the stored procedure. Since that entity does not reflect an actual table, I would like it to be mostly ignored by the database context though. I especially don’t want to create migrations for the entity that would result in creating a new table.

Is there any way to only register

[2015-10-15 13:30] dmitriy-dokshin opened #3437 "A very strange case of DbUpdateConcurrencyException"
http://stackoverflow.com/questions/33149719/a-very-strange-case-of-dbupdateconcurrencyexception/33149720

[2015-10-15 14:37] weitzhandler commented on #3241
I hope that will be implemented too.

Anyway it can be achieved if the selection is on the `Referred` entity `context.Affiliates.Include(a => a.Referred).Select(a => a.Referred).Where(r => r.Id > 5)`

However, I'm still not sure how to achieve recursive inclusion of self-referential entities:

I want to achieve `Affiliates.Include(a => a.Referred.Referred.Referred.Referred)`, in a dynamic way, bas

[2015-10-15 17:22] #3404 closed

[2015-10-15 18:00] natemcmaster commented on #3077
This is `MetadataReader.GetModel()`. The method is virtual and can be overwritten.

[2015-10-15 18:00] natemcmaster opened #3438 "Create default implementation of IDatabaseModelFactory"
It is maybe possible to provide a base implementation of IMetadataReader so that provider-writers only need to give us SQL queries to make reveng work. Use `INFORMATION_SCHEMA`

Related https://github.com/aspnet/EntityFramework/issues/1667

[2015-10-15 18:49] divega commented on #3077
I think this item was to track how the application developer would do it, not the provider. @rowanmiller?

[2015-10-15 18:51] natemcmaster commented on #3077
Ah, yes. Who are "folks"?

[2015-10-15 18:52] divega commented on #3077
:smile:

[2015-10-15 19:56] matteomigliore opened #3440 "Reverse engineering error on scaffolding"
I followed <a href="http://stoutcloud.com/geek-out-entity-framework-7/geek-ef7-reverse-engineering-first-look">this article</a> to generate code first from an existing DB.

When I launch the command "dnx ef dbcontext scaffolding" I obtain the error:

<pre>
EntityFramework.SqlServer
System.InvalidOperationException: Unable to resolve service for type 'Microsoft.Data.Entity.Relational.Design.Reverse

[2015-10-15 20:41] natemcmaster commented on #3440
Upgrade your project.json to

[code]

Please respond if this solved the issue.

Another tip: when working with our nightly builds, make sure you are always using the exact same build number for all EF.* packages. These are all build against each other.

[2015-10-15 20:41] natemcmaster commented on #3440
PS - there is no designer.

[2015-10-15 20:50] matteomigliore commented on #3440
I change the project.json, now the error is:
<pre>
Unable to find provider assembly with name EntityFramework.SqlServer. Ensure the
 specified name is correct and is referenced by the project.
</pre>

My dependencies in project.json:
[code]

Is there a roadmap for the designer?

[2015-10-15 20:59] natemcmaster commented on #3440
This is expected behavior. The command parameter asks for the assembly name, which is now EntityFramework.MicrosoftSqlServer.

About the designer: EF7 is primary code-first (see [this blog post](http://blogs.msdn.com/b/adonet/archive/2014/10/21/ef7-what-does-code-first-only-really-mean.aspx)). There are no plans to port the EF6 designer to EF7. There may be some GUI tools later (no promises as I'm

[2015-10-15 21:01] matteomigliore commented on #3440
Ok, I found, now the command must be:
<pre>
dnx ef dbcontext scaffolding "Server=.;Database=DBName;Trusted_Connection=True;" EntityFramework.MicrosoftSqlServer
</pre>

But now I get the error:
<pre>
Could not load file or assembly 'System.Data.SqlClient, Version=4.0.0.0, Culture
=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The syste
m cannot find the file specified.
</pre

[2015-10-15 21:27] divega commented on #3077
Reopening for now.

[2015-10-15 21:47] matteomigliore commented on #3440
Ok, everything works now.

It was a little bit difficult.

I executed many times the commands:
1. SET DNX_FEED=https://myget.org/F/aspnetcidev/api/v2
2. dnvm upgrade
3. dnvm install -r core clr latest
4. dnu restore

Thank you.

[2015-10-15 21:49] natemcmaster commented on #3440
@matteomigliore welcome to the fun world of working with nightly builds.

[2015-10-15 21:57] matteomigliore commented on #3440
@natemcmaster yes but... :sweat:

Now I've another error opening the solution:
<pre>
Error	CS0433	The type 'HashSet<T>' exists in both 'System.Collections, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'	WebApplication1.DNX 4.5.1
</pre>

How can I fix?

[2015-10-15 21:58] maumar commented on #3103
Fixed in c2b01796fbea1aba41c2f7e46f4a55b8b0a44550

[2015-10-15 21:58] #3103 closed

[2015-10-15 21:59] maumar commented on #3103
@AlexTo the fix is now in, I double checked the sample you provided and the bug is not happening on it anymore (and I verified it was happening on the bits prior to the fix)

[2015-10-15 22:03] natemcmaster commented on #3440
This happens when you have inconsistent package versions (likely due to your mix of beta8 and rc1 packages). Our CI tests that packages work together. When working with ASP.NET nightly builds, always pull a coherent set of packages. You can automate this by using the star placeholder, eg. `"7.0.0-*" `. (See https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Core/project.json)

[2015-10-15 22:47] maumar commented on #3180
@Venomed quick update - the issue seems to be related to ordering of Includes (making FKs nullable changes the order for some reason). I was able to get the following query to pass on my environment (basically swapping order of includes for UserSnapshot and OrganisationSnapshot)

[code]

[2015-10-15 22:50] maumar commented on #3415
Potentially related issue: https://github.com/aspnet/EntityFramework/issues/3180

[2015-10-15 22:56] divega commented on #3422
We can as well choose to directly move up to use the new DiagnosticsSource and remove all the pragma directives for the obsolete TelemetrySource but we need to coordinate that with @JunTaoLuo and @avanderhoorn.

cc @anpete

[2015-10-16 00:58] divega commented on #2588
@smitpatel there a few issues @ajcvickers raised in the PR that we need to follow up on. Can you file a new bug for those?

[2015-10-16 01:00] smitpatel commented on #3161
The CacheKey for ValueGeneratorCache is defined using combination of Property & EntityType. Since for Base & Derived class both have different EntityType, both uses different value generator therefore values for PK clashes and exception is thrown.

[2015-10-16 01:08] AndriySvyryd commented on #3161
This should be fixed by https://github.com/aspnet/EntityFramework/pull/3441

[2015-10-16 01:24] maumar commented on #3180
simplified repro (if one swaps order of the two includes, the issue dissapears)

[code]

[2015-10-16 01:29] smitpatel opened #3443 "Decide which CLR properties would not be added to the model"
If entity's CLR type is provided - We discover properties which can be mapped and add them to model via convention. We throw exception if a property exists in CLR type but not added to model as property/navigation or not ignored or target entity type for navigation not ignored.
For which kind of properties we should not throw such exception?
Few examples:
- Read only
- abstract
- Interface type

[2015-10-16 01:29] smitpatel commented on #2588
@divega - filed #3443
I am re-opening issue, I will write details for provider writers since this change would break them and close the issue afterwards.

[2015-10-16 01:35] maumar commented on #3241
@weitzhandler currently, the Include(string) is supposed to be used for dynamic include generation, just like you did in the example above. Another way is to use ThenInclude() repeatedly for each consecutive level on navigation property (this can be done on both 1-1 and 1-many), e.g.:

Affiliates.Include(a => a.Referred).ThenInclude(a => a.Referred).ThenInclude(...)

Alternatively one could hand-c

[2015-10-16 02:03] weitzhandler commented on #3241
@maumar Have I remebered about the existence of `ThenInclude` before, and I'd obviously favored it.
Anyway, can I call `ThenInclude` without calling `Include` first?

[2015-10-16 02:09] weitzhandler commented on #3241
@maumar Yeah, I initially tried to achieve this with expressions, but once I found the string version I decided to got for it...
Anyway, couldn't find `ThenInclude`, is it EF≥7 specific?

[2015-10-16 02:29] joshmouch opened #3444 "Eagerly loading sub collections"
I want to eagerly load some sub queries, and this is how I would do it in EF5:

[code]

However, that gives me the following exception:

[code]

[2015-10-16 02:32] maumar commented on #3241
@weitzhandler yes, ThenInclude if EF7 API, mainly to allow chaining includes on collections in a strongly typed fashion.

[2015-10-16 02:34] joshmouch commented on #3444
Nevermind, I found the new extension method, "ThenInclude".

[2015-10-16 04:13] weitzhandler commented on #3241
@maumar oh, so you sayin that in EF6 it's only possible out-the-box with the hardcoded version?

[2015-10-16 06:25] AlexTo commented on #3103
Thank you, so if I understand correctly, this fix will be included in RC1, but not in the beta8 recently released right?

[2015-10-16 07:09] maumar commented on #3241
@weitzhandler correct, you need to hand-craft either a string or a lambda expression

[2015-10-16 07:13] maumar commented on #3103
@AlexTo yes, the fix didn't make it to beta8, so you need to wait till the next release or try our nightly builds

[2015-10-16 07:23] weitzhandler commented on #3241
@maumar Thanks for all the info!

[2015-10-16 07:27] matteomigliore commented on #3440
I removed the framework DNX 451 to compile, but I would not, otherwise I've the error above (HashSet...).

Now is possible to add a UnitTest project? It has not the project.json, I think it does now work with DNX right?

[2015-10-16 09:11] IonRobu opened #3445 "Value generation error in case of inheritance"
Hello,

I have two entities: Contract and ContractState, configured as follows:
Contract -> Has many(List[ContractState]).Has one(Contract).With foreign key(Guid ContractId)
ContractState is abstract and has three concrete type inheriting it: ContractStateCease, ContractStateDetach, ContractStateSuspend. OnModelCreating sets it like following:

modelBuilder.Entity<ContractState>()
				.Discriminat

[2015-10-16 12:29] Gillardo commented on #1950
Anyone else still getting this problem?  I have created a new ASP.NET 5 solution with 5 different projects, one is using EntityFramework 6.1.3 and is being referenced by the other projects.  If i try to do ```enable-migrations``` i just get this error

[code]

I have tried uninstalling and reinstalling EntityFramework, but still doesnt work?

[2015-10-16 13:03] wangkanai opened #3446 "InMemory in Production"
How would EntityFramework InMemory perform if it is use as web application object caching in production environment? I'm comparing with instantiating object graph collection and ef7. If looking at the code it should quicker to use ef7 inmemory.

[2015-10-16 15:25] rowanmiller commented on #1950
@Gillardo If you are using ASP.NET 5 then the PowerShell commands do not work (due to limitation in the ASP.NET 5 project system). You need to drop out to the command line, see here for more details http://ef.readthedocs.org/en/latest/getting-started/aspnet5.html#create-your-database.

[2015-10-16 15:31] Gillardo commented on #1950
This is referencing EF7, not EF6.  I managed to get round this, by creating a .csproj for my EF6 project, and then added all the files from my .xproj, by using the "Add By Link" option.  This way i havent got 2 copies of the files.  Now using my .csproj i can run all my commands for EF6, and when i build my .xproj i have the latest versions etc.

But support for EF6 natively in .xproj would be gre

[2015-10-16 15:33] rowanmiller commented on #1950
Ah, sorry I missed that. The same limitation holds true (as you discovered). Sounds like you have the right work around for the moment.

[2015-10-16 15:46] anpete commented on #3446
Check out https://github.com/aspnet/Caching/tree/dev/src/Microsoft.Extensions.Caching.Memory

It is a proper cache that handles eviction etc.

[2015-10-16 16:21] mikary commented on #3265
Confirmed this has been fixed in beta8 for both Sqlite and SqlServer

[2015-10-16 16:21] #3265 closed

[2015-10-16 16:35] #3072 closed

[2015-10-16 17:08] ErikEJ opened #3448 "is aspvnext feed still the one to use?"
A number of new feeds are available on myget, and currently nothing has happened for a week on http://myget.org/gallery/aspnetvnext . Is this feed still the best one to use as a provider writer, that tries to keep up with the avalance of commits?

[2015-10-16 17:10] rowanmiller commented on #3448
@ErikEJ best to use https://www.myget.org/F/aspnetcidev (that is what we use for the packages our code base depends on).

[2015-10-16 17:20] ErikEJ commented on #3448
Aah! Thanks, for some reason I thought aspvnext was "official"

[2015-10-16 17:32] divega commented on #3443
@smitpatel could you put together a list of variations and examples, including the current behavior in EF7 and the proposed outcome so that we can quickly go over it together?

We should also consider if we are able to find the underlying field for the property (my understanding is that we do this by convention or using an attribute @ajcvickers mentioned there is an attribute you can use on the pr

[2015-10-16 17:46] Venomed commented on #3180
Well! At least now I know a workaround until this can be fixed. I wouldn't have guessed to try and swap order as I was under the impression it should be fine regardless of the order in which I add Includes. Thanks for your work @maumar. I've halted exploration on this front temporarily focusing on other components of the main project I was exploring EF7 for. I'll probably just wait until you've ha

[2015-10-16 18:00] Eilon commented on #3448
`aspnetcidev` has *untested* builds. Everything is merely *compiled* and then pushed there.

`aspnetvnext` on the other hand is fully tested and signed.

So, `aspnetcidev` is certainly riskier, but if you need the latest builds, that's the one to use. There can  sometimes be a 24-48 hour delay to `aspnetvnext` if there are build infrastructure issues, or perhaps a large rename going on that broke

[2015-10-16 18:11] natemcmaster opened #3450 "Colour migrations"
![image](https://cloud.githubusercontent.com/assets/2696087/10549562/a17c838a-73f6-11e5-8bc1-4f8ea8f5f966.png)

:cry:

/cc @bricelam

[2015-10-16 18:18] rowanmiller commented on #3445
@smitpatel can you verify this is fixed after @AndriySvyryd checks in the conventions work.

[2015-10-16 18:22] rowanmiller commented on #3438
We should look at using EF when we do this

[2015-10-16 18:35] natemcmaster commented on #3329
Closed with https://github.com/aspnet/EntityFramework/pull/3439

[2015-10-16 18:35] #3329 closed

[2015-10-16 18:35] rowanmiller commented on #3427
@jparish9 Can you retry on Beta 8 (published yesterday). This code path has changed significantly.

[2015-10-16 18:39] rowanmiller commented on #3424
To clarify, the SQL we generate is valid, it's just the assertion in the test that is broken

[2015-10-16 18:45] rowanmiller commented on #3378
Haven't heard back with requested details

[2015-10-16 18:46] rowanmiller commented on #743
@smitpatel can you add a test for this

[2015-10-16 19:19] AndriySvyryd commented on #3084
The factoring looks ok now. It will likely change if we add support for TPT, table or entity splitting, but that would be provider breaking changes anyway.

[2015-10-16 19:19] #3084 closed

[2015-10-16 19:22] AndriySvyryd commented on #2915
All classes currently in Update are used by providers. Assigning to @anpete for Query

[2015-10-16 19:25] ajcvickers commented on #3443
@divega I looked in the code and its actually not an attribute but rather an annotation on the property called "BackingField".

[2015-10-16 19:39] smitpatel commented on #2588
Details of changes for provider writers
`PropertyDiscoveryConvention` adds properties from CLR type to model. `InverseProperty`, `ForeignKeyAttribute` & `RelationshipDiscovery` conventions need to identify navigations. Since `IRelationalTypeMapper` is relational concept, core still uses the same canonical set of properties to identify property/navigations. To align conventions with typemapper in r

[2015-10-16 19:52] Anderman opened #3452 "Error when return complex linq to json object The EF.Property<T> method may only be used within LINQ queries."
When returning a linq query with a subsquery I get an error. This query was working in Beta7 but not after the upgrade to beta8.
[code]
or a linq expression like this give the same error
[code]
The Error message

[code]

[2015-10-16 19:53] ErikEJ commented on #3448
Thanks @Eilon , I think I will stick to the aspvnext feed then, and just be patient!

[2015-10-16 19:57] rowanmiller commented on #3448
@ErikEJ our team works against aspnetcidev without very many issues, so I think you should be fine to use it. We run all our tests before we push, so it's only when we miss something (or are working on cross-repository changes) that things break.

[2015-10-16 19:59] ErikEJ commented on #3448
Got it, Rowan! Will give it a try.

[2015-10-16 20:07] rhires opened #3453 "Beta8 and migrations previously completed in Beta7"
I have a project that I got started using Beta7, and using migrations, everything worked the way it was supposed to. I just upgraded to Beta8, and now my previously successful migrations are giving errors like the one below, which is preventing me from doing any more migrations. Similarly, VSCode tells me roughly the same thing as the error below.

[code]

Actually, here is the offending code from

[2015-10-16 20:13] rowanmiller commented on #3453
There are probably also other similar changes apart from this one. For pre-releases we don't guarantee that migrations from a previous pre-release will still work with a later pre-release. Our general guidance is to delete all migrations and start again.

Obviously this is not the case for stable releases where we put a lot of effort into ensuring things work between releases.

[2015-10-16 20:22] roji commented on #2588
Thanks for the details @smitpatel!

[2015-10-16 21:41] natemcmaster opened #3454 "Cleanup implementation of SqlServerDatabaseModelFactory"
Current implementation (done by yours truly) needs some TLC.

- [x] Don't use index numbers to fetch fields
- [x] Quirks for datetime precision are only present in the comments
- [x] Queries for metadata
- [x] Server-size eval of `TableSelectionSet`. Current method pulls all into memory.
- [x] Implement fetching the DefaultSchemaName

Could be done as a part of #3438

[2015-10-16 21:45] natemcmaster opened #3455 "Improvements to domain model for schema"
Current implementation of our domain model for schema is very narrow, specially compared to the design found in http://entityframework.codeplex.com/wikipage?title=Schema%20Information.
Enabling features such as sequences, views, and stored procedures will require improvements to the model.

Furthermore, we did not check how well the domain model suits other third-party providers. We may need to pr

[2015-10-16 21:47] natemcmaster opened #3456 "Add more logging to scaffolding"
We only log a small amount of information, and almost exclusively just for console output. We can add more thorough logging for provider writers who are building/testing their own reveng implementations.

Also, revisit the logging we produce on the console to ensure it provides useful information for end-users.

[2015-10-16 21:49] natemcmaster opened #3457 "Provide abstraction for scaffolding default values"
Currently SqlServerLiteralUtilities does some work to scaffold default value SQL into a code representation of the default value. Some of this can be abstracted for other relational providers to use.

[2015-10-16 21:50] rowanmiller commented on #3446
Just wanted to close the loop by saying our intent for EntityFramework.InMemory is purely for testing. If it works for you then you can certainly use it for other use-cases (we won't try and stop you :smile:)... but we're also not going to spend time fixing bugs, driving improvements, etc. that are outside out intended use case for it.

[2015-10-16 22:03] TylerWoods commented on #3267
I have just upgraded to Beta8, and I immediately ran into this.  However, I am working with EF6 instead of EF7.  This leads me to believe that the problem is likely somewhere else, and this fix is just a workaround.

In any case, this seems like the best place to start by reporting it.  If anyone can point me to a better place to report the bug, I will gladly do so.

[2015-10-16 22:06] natemcmaster commented on #3267
@TylerWoods thanks for posting. EF6 development and issues are tracked at https://entityframework.codeplex.com.

[2015-10-16 22:09] rowanmiller commented on #3267
@TylerWoods probably https://github.com/dotnet/roslyn/issues/4471. This was then fixed by https://github.com/VSadov/roslyn/commit/2bd86a00f832be161ec4a3bfab21fbcc9cb2d87e, we are finding out when the fix will make it's way to public bits.

[2015-10-16 22:11] rowanmiller commented on #3436
Dupe of https://github.com/aspnet/EntityFramework/issues/2725 - we agree it would be useful :smile:

[2015-10-16 22:12] rowanmiller commented on #3435
There shouldn't be anything preventing you from passing this into the constructor of your context (or having it resolved and passed in from DI) and then using it to control where you connect. If you are hitting issues with this perhaps you could share the exact situation that is not working?

[2015-10-16 22:15] rowanmiller commented on #3429
@brianro There isn't enough info in this issue for us to work out what is happening. Can you share a complete code listing that we can use to reproduce and debug the issue? Include the entity classes, context, and application code. It would also be great if you could include the generated SQL and the full exception details (message and stack trace).

[2015-10-16 22:16] rowanmiller commented on #3415
@dneimke we're closing this one out for the moment since there is nothing for us to act on. If you find an issue that you can provide code to reproduce can you just open a new issue.

[2015-10-16 22:22] rowanmiller commented on #3407
Confirmed that this repros for me too, just `Install-package -Pre Entityframework.Commands -Source http://myget.org/F/aspnetvnext` on a standard .NET 4.5.2 console app. Assigning to @bricelam to look at a fix.

[2015-10-16 22:32] dwatty opened #3459 "Problem with Union Operator"
I'm using SQLite as my underlying data store and the app in question is a .NET 4.5.1 console application.  I believe these are the pertinent packages I'm using revolving this issue (if I missed one let me know):

- System.Data.SQLite.Core
- System.Data.SQLite.Linq 1.0.98.1
- EntityFramework.Commands 7.0.0-beta8
- EntityFramework.SQLite 7.0.0-beta8

So, I have two lists of objects that I'm using a

[2015-10-16 22:49] lajones commented on #3228
Fixed by PR #3447.

[2015-10-16 22:49] #3228 closed

[2015-10-16 23:31] divega opened #3460 "DeleteBehavior is not updated to Cascade if requiredness is set on FK after the relationship is discovered"
Deletes on required associations are supposed to cascade unless the user explicitly opts out. It seems that if the requiredness of the association is set after we first learn about it the delete behavior doesn't get updated.

Repro:

[code]

[2015-10-16 23:55] dneimke commented on #3415
Thanks @rowanmiller, will do

[2015-10-17 01:18] lajones commented on #3428
Fixed with commit 65bf6c0.

[2015-10-17 01:18] #3428 closed

[2015-10-17 06:10] mkelley82 commented on #3316
I am using beta8.. and am also getting the same `1[System.Collections.Generic.IEnumerable`1[Microsoft.Data.Entity.Storage.ValueBuffer]]]' cannot be used for parameter of type 'System.Func`3

(as seen from code inspector)

Expression of type 'System.Func`3[Microsoft.Data.Entity.Query.QueryResultScope,System.Collections.Generic.IEnumerable`1[Microsoft.Data.Entity.Query.QueryResultScope`1[Microsoft.D

[2015-10-17 06:16] mkelley82 commented on #3316
From what I can gather it has to do with using a range variable from the queries scope level 1 in scope level 3

[2015-10-17 06:19] thatotherone opened #3464 "StringCompareExpression throws 100% of the times"
This is related to #1767
Discovered in EntityFramework.Relational 7.0.0-beta8, but is present in current master as far as I can tell.

When `string.Compare()` is used in the `Where` clause of relational DbSet it ends up throwing:

[code]

It appears that StringCompareExpression doesn't override its return type. Fix is simple:

[code]

[2015-10-17 07:58] louislewis2 commented on #3239
@rowanmiller Sorry for the delay, I will over the next few days be working specifically with the code that pertains to this discussion. I will try out your suggestions and get back to you here.

[2015-10-17 09:32] dealdiane opened #3465 "Entity with an enum propery type may throw an InvalidCastException when using FromSql"
EF _assumes_ that columns are returned from the database in the order it expects. This is not always true especially if using FromSql.

Suppose you have a db schema:

    public enum PetType
    {
        Dog,
        Cat
    }

    public class Pet
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public PetType Type { get; set; }
    }

    public class S

[2015-10-17 09:39] dealdiane opened #3466 "Runnning ef migrations may generate a code that doesn't compile"
Suppose in your project, you have a file called SomeFile.cs with the following contents in it:

[code]

Notice the lack of namespace in the code above.

Running ef migrations will generate the following code:

[code]

The extra `using ;` should not be there.

[2015-10-17 11:21] ErikEJ opened #3467 "Fix for #3103 breaks SQL CE provider"
The fix https://github.com/aspnet/EntityFramework/commit/c2b01796fbea1aba41c2f7e46f4a55b8b0a44550  causes SQL like the following to be generated, adn this way of nesting SELECTs is not supported by SQL CE:

[code]

This is similar to the pattern/issues reported in #3038 and #2626

[2015-10-17 11:32] louislewis2 opened #3468 "Question: Access shadow property collection"
Hi,
I am trying to see how one would after loading an entity from the database which
has shadow properties defined access a collection containing the shadow properties
and their values. I know we can access them one by one but is there a way in which
we could get access to the entire collection which we can then for example copy into
a dictionary for returning to callers?

[2015-10-17 14:06] brianro commented on #3429
Rowan - I appreciate your time on this - I know you guys are busy and this is probably an edge case (from an inverted data relationship design)

I will try and mock up a project with the same behavior for you. I don't mind sending you the original code, but I have to go back a couple of versions (I since iterated away the issue using an alternative structure). If I fail with the mock-up, I will tr

[2015-10-17 15:37] bricelam commented on #3407
I suspect it's caused by our upgrade of immutable collections. I'll dig into it on Monday

[2015-10-17 19:34] bricelam commented on #3466
Dupe of #2467

[2015-10-18 01:26] VeselovAndrey opened #3470 "Support nested transactions"
Hi.
Is nesting transactions supported?

I'm trying to implement 2 following scenarios with nested transactions:
1)

[code]

In this case all will be ok. In DB will be stored 1st part of data only.

2)

[code]

I assume that all data should be removed from DB as I made rollback root transaction.
But 2nd part of data still exist in DB.

How to implement nested transactions?

[2015-10-18 13:19] mematrix opened #3471 "Garbled code appears when I save a Chinese character."
I'm using MVC6 and EF7 in a mac with `mono` environment. When I store a **Chinese character** to the database(using `sqlite`), **garbled code** will appear.

I have checked the data sent from the client, which is stored in a `String` type, and it can be displayed correctly (_I tried to sent data to the client directly, and it displayed correctly_) . But when I stored it to the database and then re

[2015-10-18 17:51] wangkanai commented on #3076
How is issue going? I still that the https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.MicrosoftSqlServer/Storage/Internal/SqlServerTypeMapper.cs is unchanged.
Hoping to see this feature add by rc1 :)

[2015-10-18 20:16] ToddThomson commented on #2336
@rowanmiller You wrote that PMC in XPROJ is still planned for our stable release ( tooling support required ). For those of us who prefer to continue to use EF6.x with ASP.NET 5, is this definitely going to be supported? Now that beta 8 is out ( which is feature complete ) I would like to get started on my application rewrite. However, if EF6 is not going to be completely supported I need to also

[2015-10-18 21:49] cherrydev commented on #2336
Well, I'm still waiting to hear back from @divega about if I would have any support maintaining my EF6 migration support commands.  Last I heard they were discussing how they wanted to handle it.

[2015-10-18 23:28] bricelam commented on #3076
@wangkanai Have you tried manually adding the properties to your model?

[2015-10-19 06:53] htuomola commented on #3407
For what it's worth, here's the nuget output for this (using EntityFramework.Relational is enough for repro):

`PM> Install-package -Pre EntityFramework.Relational -Source http://myget.org/F/aspnetvnext -whatif`

Attempting to gather dependencies information for package 'Entityframework.Relational.7.0.0-rc1-15945' with respect to project 'EFTest.Issue3407_2', targeting '.NETFramework,Version=v4.5.

[2015-10-19 12:23] wangkanai commented on #3076
@bricelam  Do you mean like mapping a object property [System.Data.Spatial] (https://msdn.microsoft.com/en-us/library/system.data.spatial(v=vs.110).aspx) to [Spatial Data Types](https://msdn.microsoft.com/en-us/library/bb964711.aspx) in demo application? **No** :smile:, don't know where to start, still studying your codebase.
Or add [RelationalTypeMapping](https://github.com/aspnet/EntityFramework

[2015-10-19 14:31] ToddThomson commented on #2336
@rowanmiller I'm going to break out the repository layer in my MVC components to a separate csproj project layer so that I can stay with EF6 and utilize the EF6 PMC. Since EF6 and EF7 cannot be used together I'll just stick with Identity 2.x.

[2015-10-19 16:01] rowanmiller commented on #2336
@ToddThomson we did rename the EF7 `EntityFramework.SqlServer` assembly/package to `EntityFramework.MicrosoftSqlServer` so that you will be able to use EF6/EF7 side-by-side in the same app. This wasn't in Beta 8 though, so you'd need to use a nightly build or wait for RC1 to do this.

We are working on Init.ps1 support... but I don't have an exact time that it will light up (before RTM, but I'm no

[2015-10-19 16:11] mikary commented on #3168
I attempted to reproduce the issue with EntityFramework.SqlServer 7.0.0-beta8 and I did not see the described issue.

Here is the full source for what I ran:
[code]

The only way I can produce something similar to the described behavior is to use Sqlite with explicitly suppressed FK enforcement `optionsBuilder.UseSqlite("Data Source=fkRepro.db").SuppressForeignKeyEnforcement()`

@kennywangjin is t

[2015-10-19 16:13] rowanmiller commented on #3429
@brianro sounds good

[2015-10-19 16:19] ToddThomson commented on #2336
@rowanmiller Good decision. I can now move to Identity 3 and what I can to EF7 and wait for TPT/TPC. Thank-you for the update!

[2015-10-19 16:39] natemcmaster commented on #3471
Can you please include a sample that reproduces the issues?

Also, can you verify that the SQLite file itself has the wrong characters? ( I use http://sqlitebrowser.org/ for inspecting the file directly.)

This looks similar to a bug we resolved a few months ago (see https://github.com/aspnet/EntityFramework/issues/2936). Which version of Entity Framework are you using?

[2015-10-19 19:19] divega commented on #1481
`HasMany()` already supports `IEnumerable<TRelatedEntity>` so this seems to be the only issue blocking having navigation properties that are statically of that type.

@ajcvickers @rowanmiller @anpete note that this is currently pri1 for RTM but I wonder if it is just a matter of adding some tests and changing the signature of [this overload of `ThenInclude()`](https://github.com/aspnet/EntityFrame

[2015-10-19 19:23] divega commented on #752
@ajcvickers I see this bug is actually about supporting IEnumerable navigation properties with out-of-band add, remove and contains methods/delegates. Then I guess we already work with `IEnumerable<T>` navigation properties with a runtime instance that can is `ICollection<T>`, correct?

[2015-10-19 19:34] jparish9 commented on #3427
@rowanmiller This seems to be working correctly with beta 8, using renamed fluent API methods:
[code]

[2015-10-19 19:39] BenjiZombie opened #3474 "Filter subquery on Include()"
I could not find any references to this question, please close if dupe.

I'm trying to filter elements of a subquery using LINQ but I keep getting the following error:

[code]

Here's my code (I want to load the only `Page` model and it's `current culture` translation; I want to avoid having to load all the translations from the DB, obviously.)

[code]

Is this something that is supported, or am I

[2015-10-19 19:48] mikary commented on #3432
I was able to reproduce this issue using beta7 and verified that it has been resolved in beta8. Added test coverage with #3432 to detect potential future regressions.

[2015-10-19 19:48] #3432 closed

[2015-10-19 20:09] divega commented on #3474
It is not supported. You can only use navigation property accesses inside `Include()` and `ThenInclude()`. The following query using a projection should be equivalent to what you want though:

[code]

Note that I just wrote this by hand and didn't try to compile it or run it. I very likely made mistakes and it is still possible that you may hit other EF7 limitations.

Could you please try that and

[2015-10-19 20:15] rowanmiller commented on #3427
Great, closing out this issue. Feel free to open a new issue if you hit other issues.

[2015-10-19 21:32] #2909 closed

[2015-10-19 22:10] AndriySvyryd opened #3476 "Perf: Store ConfigurationSource in Model"

[2015-10-19 22:10] natemcmaster opened #3477 "Update workarounds for .NET Native"
Add this issue to track the hacks we had to add to support .NET Native compliation

 - ClrAccessorSource changed to avoid use of "MakeGenericMethod"
 - Implying generic types via Imply.cs

[2015-10-19 22:13] AndriySvyryd commented on #2589
We've discussed this and decided to keep the model and the model building logic separate. To improve perf `ConfigurationSource` will be stored as part of the model, see #3476

This issue is now only for adding public model building API for conventions.

[2015-10-19 22:22] smitpatel commented on #2588
@roji - Regarding your question - We decided today that CLR types which are not supported by type mapper cannot be added to the model. (even if there is column type specified since conversion from CLR type to specified column type and vice-versa is not known to EF). So for any non-standard type, as long as type mapper says that such CLR type can be mapped to the database, it can be added.

[2015-10-19 23:44] #3422 closed

[2015-10-20 02:24] kennywangjin commented on #3168
I have three projects: DataModels for database models, WebApi for web api and WebApp for application.
In webapi, I use SaveChangesAsync to save entity.
In web app, I use httpclient to send request to webapi in async mode.
Normally, if the foreign key invalid, web api should return 500 error to the app and then the app return 500 error to the client browser. But in my app, there is nothing happened

[2015-10-20 03:41] grecinto commented on #1879
UPDATE: the just released version of SOP B-Tree .Net (v4.8) now sports LINQ to Objects extensions which fully enables complete LINQ to Objects functionality inter-operability. Somehow, LINQ to Entities support suddenly becomes less of a priority for this code library.

I wonder though whether there is still a need for this feature? 'other than perhaps, for using LINQ to Entities as an abstraction

[2015-10-20 07:41] tstar commented on #3072
It is available in version 7.0.0-rc1-15945?

[2015-10-20 10:28] maxmantz opened #3483 "502.3 Bad Gateway Error when using eager loading on a large dataset"
Hi,

I don't know whether this is an issue with EF or Web API (using Beta8).
I have a classic many-to-many relationship set up like this:

[code]

My StudentsController has the following Get-Method:

[code]

While lazy loading works fine, I get the 502.3 error when using the eager loading method. There are no exceptions thrown to the console and when I'm debugging the eager loading process, everyt

[2015-10-20 12:31] BenjiZombie commented on #3474
@divega Thanks for your support.

Unfortunately, it produces another error. I also noticed 2 runtime warnings while executing the code:

	Microsoft.Data.Entity.Query.QueryCompilationContext: Warning: The LINQ expression '(Property([p], "PageId") == Property([e], "Id"))' could not be translated and will be evaluated locally.
	Microsoft.Data.Entity.Query.QueryCompilationContext: Warning: The LINQ ex

[2015-10-20 12:42] divega commented on #3474
Thanks for trying. This is good data. The exception has been reported before and it is a bug. We now know we can use this query pattern to reproduce it. (Cc @maumar)

In the meanwhile, the other thing you can try is to issue two queries:

[code]

At the end of this the relationships between the objects shoukd be fixed up the page.Translation collection should contain the one translation retrieved

[2015-10-20 12:50] totht91 commented on #2679
I have a workaround for the "migration not working if dbcontext is in another project"
* Create a Startup.cs class in the class library project's root.
* Add the following content:
[code]
* Add ef commands to the class library's project.json
[code]
* Run the ef commands from the Class library's root

[2015-10-20 14:14] BenjiZombie commented on #3474
This is the direction I am currently going for. Thanks again.

[2015-10-20 15:02] aliiftikhar opened #3484 "EF 7 (beta 8) - Transactions Support"
Can't find Database.BeginTransaction in EF 7.

[code]

Is it still pending implementation?

[2015-10-20 15:11] 3meng commented on #3471
Thanks for your reply.

Well, Here is the project dependencies:
[code]

And ConfigureServeces of Startup.cs:
[code]

This is the DbContext config:
[code]

Now, I start a test:
<img width="475" alt="qq20151020-1 2x" src="https://cloud.githubusercontent.com/assets/5876057/10611360/540910a6-777e-11e5-85cb-96f525bcf914.png">

When I submit, an action like this will be called:
[code]

Next then I read

[2015-10-20 15:16] TomGillen commented on #3377
This still doesn't work in beta8, and calling Entity on each type does not help.

[2015-10-20 15:52] prasannapattam commented on #2344
+ 1
Can you also provide a Dictionary or List<KeyValuePair>

[2015-10-20 15:57] 3meng commented on #3471
Year, I do a similar test like the [#2936](https://github.com/aspnet/EntityFramework/issues/2936), and the result is the same as his.

Like this:
<img width="476" alt="qq20151020-4 2x" src="https://cloud.githubusercontent.com/assets/5876057/10612038/a47f821a-7781-11e5-945f-ffb9afb9afb5.png">
<img width="704" alt="qq20151020-5 2x" src="https://cloud.githubusercontent.com/assets/5876057/10612040/a4d

[2015-10-20 16:01] natemcmaster commented on #3471
This looks like a duplicate of https://github.com/aspnet/EntityFramework/issues/2936. We fixed this in the beta8 release of Microsoft.Data.Sqlite (see https://github.com/aspnet/Microsoft.Data.Sqlite/pull/127).

Please try upgrading by just changing to "[version]-beta8". There will be some breaking changes (look at [this list on announcements](https://github.com/aspnet/announcements/issues?q=is%3Ao

[2015-10-20 16:09] rowanmiller commented on #3484
It's an extension method, add a `using Microsoft.Data.Entity` and you should see it.

[2015-10-20 16:15] aliiftikhar commented on #3484
thanks - that was it.

[2015-10-20 16:16] mikary commented on #3168
I double checked the `SaveChangesAsync()` code path to be sure it was behaving properly and it also appears to be behaving properly. It looks like there isn't anything actionable that I can do for this issue at the moment, so I'm going to go ahead and close it out.

@kennywangjin if you continue to experience this issue and are able to produce a standalone reproduction of the problem, please feel

[2015-10-20 16:16] #3168 closed

[2015-10-20 16:25] wangkanai opened #3485 "System.Data.SqlClient.SqlException (0x80131904)"
Firewall off and Sql Instance see in SQL Server Object Explorer
But i get this in when trying to update the database.
Using entityframework 1.0.0-beta8
![sql-server-object-explorer](https://cloud.githubusercontent.com/assets/10666633/10613948/d2fd649a-7781-11e5-81a2-e4089a748697.png)

[code]

[2015-10-20 16:29] rowanmiller commented on #3485
It's unlikely that this is something specific to migrations. Have you tried connecting to the instance from code using the same connection string that you context is setup to use?

[2015-10-20 16:51] wangkanai commented on #3485
![runtime-error-ef7](https://cloud.githubusercontent.com/assets/10666633/10614585/45200426-7785-11e5-98d1-0576b209138b.png)
Yap, its has the same error

[2015-10-20 16:52] wangkanai commented on #3485
[code]

[2015-10-20 17:02] wangkanai commented on #3485
![list-of-database-localdb](https://cloud.githubusercontent.com/assets/10666633/10614880/d8310746-7786-11e5-8ce2-619d1be6a0fc.png)
![sql-server-localdb-found](https://cloud.githubusercontent.com/assets/10666633/10614881/d83373aa-7786-11e5-924a-3bc059951d9c.png)
![test-connection-succeeded](https://cloud.githubusercontent.com/assets/10666633/10614914/0b670e9e-7787-11e5-9d1e-8d31e1a1e7b0.png)

[2015-10-20 17:22] rowanmiller commented on #3485
It's because you have double escaped your connection string in code. You've escaped the `\` in `(localdb)\\MSSQLLocalDB;Database` but you've also used an `@` before the string.

```@"Server=(localdb)\\MSSQLLocalDB;Database=SandboxComplex;Trusted_Connection=True;Integrated Security=true;"```

so rather than escaping it is trying to connect to `(localdb)\\MSSQLLocalDB;Database` (with the two slashes

[2015-10-20 17:23] anpete commented on #2495
Are we OK with breaking this interface in the future?

[2015-10-20 17:29] wangkanai commented on #3485
Wow, thank you very much. its was just under the nose :smile:

[2015-10-20 17:30] ajcvickers commented on #2495
@anpete Yes. It falls into the category of being an interface that will almost certainly only be implemented for testing, and even that should be rare. @divega and @rowanmiller both agreed it would be okay to break it in the future.

[2015-10-20 17:31] anpete commented on #2495
:shipit:

[2015-10-20 17:37] #2495 closed

[2015-10-20 17:45] rowanmiller commented on #3483
This doesn't appear to be anything related to EF since you called `ToListAsync()` on the query - meaning that EF has already run the query and brought everything into memory.

Just one note (which you may already realize), there is no lazy loading in EF7, so when `lazy == false` no related data is loaded.

[2015-10-20 18:28] wangkanai opened #3486 "Json Entity"
It would be good if we have an entity type that we write a class like any other and store in the master entity as string in json format, while it could be serialize & deserialize;
_Entity:_

[code]

_Json:_

[code]

Right now this solution would make ef7 not be able to create a model i think it fall under complex type where you need to define a key.
`The entity type 'EF7.Name' requires a key to be

[2015-10-20 18:31] lajones commented on #3330
Fixed with commit 9d25f2a.

[2015-10-20 18:31] #3330 closed

[2015-10-20 18:36] rowanmiller commented on #3470
Assigning to RTM to review and determine what we want to support here... and throw for things we don't want to support.

[2015-10-20 18:40] rowanmiller commented on #3467
We'll handle this the same as the other ones... post RC we can help with guidance about how to override this for CE

[2015-10-20 18:43] ErikEJ commented on #3467
Thanks, Rowan

[2015-10-20 18:51] rowanmiller commented on #3452
Related to https://github.com/aspnet/EntityFramework/issues/3029

[2015-10-20 18:51] rowanmiller commented on #3452
Assigning to RC since this should just be a matter of verifying after #3029 is fixed

[2015-10-20 19:00] natemcmaster opened #3490 "Scaffolding: move implementation of code gen into Commands project"
Will require splicing some classes (CSharpUtilities and ModelUtilities) so we don't have circular dependencies.

[2015-10-20 19:56] maumar commented on #3464
@thatotherone  can you provide a sample query that produces the problem? We have a bunch of tests for string.Compare that uses it in Where clause and they did not caught it. I would like to add some new cases to the test suite.

[2015-10-20 20:09] ruicraveiro commented on #3119
I didn't deal with this bug on Beta7, but I'm afraid I'm facing it now in Beta8:
The following query is not working:

            var query = DbContext.Employees
                .Include(p => p.Worksheets)
                .Where(p => p.IsActive);
            if (name != null)
                query = query.Where(p => p.Name.Contains(name));
            if (erpNumber != null)
                query =

[2015-10-20 20:19] maumar opened #3491 "Include :: complex include doesn't work with FromSql"
using test model: ComplexNavigationsModel

the following query fails:

[code]

Exception:
System.InvalidOperationException : The required column 'Level1_Optional_Id' was not present in the results of a 'FromSql' operation.
	Query\Sql\RawSqlQueryGenerator.cs(86,0): at Microsoft.Data.Entity.Query.Sql.RawSqlQueryGenerator.CreateValueBufferFactory(IRelationalValueBufferFactoryFactory relationalValueBu

[2015-10-20 22:20] natemcmaster commented on #2840
We need to verify that we are correctly matching the unique index/unique constraint behavior of SQL Server. (See https://technet.microsoft.com/en-us/library/aa224827%28v=sql.80%29.aspx?f=255&MSPPError=-2147217396)

[2015-10-20 23:48] natemcmaster commented on #623
Made modest improvements with https://github.com/aspnet/EntityFramework/pull/3478. @rowanmiller the UWP sample application in our docs now works in release mode.

Remaining TODOs (which are not trivial):
- [ ] Inference on types needed for query
- [ ] ...and async query
- [ ] ...and materialization
- [ ] Handle projection
- [ ] Support provider-specific value types
- [ ] Inference of user types wi

[2015-10-21 00:30] divega commented on #3119
FYI, we are using #3029 (which is still open) to track the issue now.

[2015-10-21 05:25] thatotherone commented on #3464
Sorry, my initial triage wasn't completely accurate. Problem is not just any `string.Compare` in any `Where`, but only when `string.Compare` appears in any `Where` after the first one (Expression.AndAlso on the stack trace). Here's a test update that is red initially and becomes green with a fix:

[code]

[2015-10-21 06:24] IonRobu commented on #3445
Is possible to use another inheritance pattern, at least until the bug is solved? this bug is blocking for me now...

[2015-10-21 07:10] AndriySvyryd commented on #3445
There are no other inheritance patterns supported by EF7 at this moment. The fix is currently being reviewed and should soon be available in nightly build.

[2015-10-21 07:13] IonRobu commented on #3445
Thanks, Andriy! I will wait for fix!

[2015-10-21 07:13] wangkanai commented on #3170
Can I make assumption that TPC is now going to be in RC? judged by the following work as expected
[code]
![tpc](https://cloud.githubusercontent.com/assets/10666633/10629997/c46556c8-77fd-11e5-9cde-383c75c3fc2e.png)
This code is tested EntityFramework 7.0.0-beta8

[2015-10-21 07:56] roji commented on #2588
OK, sounds good. I'll be re-implementing the Npgsql type mapper very soon and will post if there are any difficulties.

[2015-10-21 08:04] roji commented on #3470
From a PostgreSQL perspective, note that nested or autonomous transactions aren't supported (see [discussion](https://wiki.postgresql.org/wiki/Autonomous_subtransactions), although [savepoints are](http://www.postgresql.org/docs/9.4/static/sql-savepoint.html).

I'm not sure what kind of cross-provider behavior you're aiming for with this, it may be acceptable to simply allow nested transactions at

[2015-10-21 08:53] jimmymain commented on #3170
awesome!

[2015-10-21 10:31] mojtabakaviani commented on #2344
So extend this to FromSQL method

[2015-10-21 15:23] wangkanai opened #3495 "EF Core Scenario"
Anybody can any idea of use case scenario for EntityFramework7 are welcome to help me add
https://github.com/wangkanai/EF7
I'm will be keeping track of what work right now and what is planned for the future.

[Type per Hierachy (TPH)](https://github.com/wangkanai/EF7/tree/master/src/TypePerHierachy) | N/A
[Type per Type (TPT)](https://github.com/wangkanai/EF7/tree/master/src/TypePerType) | N/A
[Ty

[2015-10-21 15:44] divega commented on #3470
@roji Thanks! This is exactly the kind of information we need. I agree that idealy we would  let the provider handle it or fail. However we need to track the current transaction for the connection (which in ADO.NET isn't available) using a very simplistic approach. In order to work with nesting we would need to switch to using a stack of transactions. That seems doable but competes with many other

[2015-10-21 16:09] rowanmiller commented on #3495
Hey,

This isn't really an issue report, so I don't think there is anything actionable for our team to keep track of so we are closing this one out. Feel free to re-open or log a new issue if there is a specific bug you are hitting or a feature request that we are not already tracking.

We already have issues tracking the things you mentioned:

TPH: Currently being implemented, will be functional

[2015-10-21 16:12] rowanmiller commented on #3170
@wangkanai you are really just getting two separate entity types with an unmapped base type. They each have a separate key space and you won't be able to run a LINQ query on `Person`. So it's not really inheritance in EF, it's two separate entity types that happen to share a base type in the CLR for implementation.

[2015-10-21 16:52] bricelam commented on #978
Moving to RTM. This won't be unblocked for RC1.

[2015-10-21 17:13] mikary opened #3496 "Improve test coverage for Remove and SaveChanges"
There have been a number of issues(#1111, #1371, #2890) relating to removing entities from the context and saving changes. While there is fairly extensive coverage for `DbSet<T>.Add`, (Explicitly and through test model seeding) the coverage for `DbSet<T>.Remove` is relatively low.

Investigations have been showing these issues being resolved as a side effect of other changes/fixes, but we should a

[2015-10-21 17:16] mikary commented on #2890
I was able to reproduce this issue using EF beta6 and beta7. After updating to beta8, the exception is no longer thrown and the entity is properly removed from the collection.

While we don't have any tests that specifically remove the original user-provided instance from the collection, I was also able to reproduce in beta6 by querying and calling remove. This seems like a common enough scenario

[2015-10-21 17:16] #2890 closed

[2015-10-21 17:19] ajcvickers commented on #3496
Have you looked at GraphUpdatesTest? That's where most of the coverage for removing entities is. It would be useful to know which scenarios are missing from here.

[2015-10-21 17:36] michaelaird commented on #237
Is there any progress on this? This is a very important feature for anyone using SQL Azure.

[2015-10-21 17:42] wangkanai commented on #3170
If their are in same key space would that work well with sql server auto incremental primary key?

[2015-10-21 19:09] rowanmiller commented on #3170
@wangkanai not with Identity (since that is per table) but you could use a sequence to generate values. What I really meant is that with true TPC you can't have Manager with Id = 1 and an Employee with Id = 1 since then you would have two instances of Person with Id = 1 (and EF would throw if you every tried to have this). In you setup this is possible since they aren't really in an inheritance hi

[2015-10-21 19:24] #2588 closed

[2015-10-21 20:51] jparish9 opened #3499 "Exception with in-list where clause across joined table"
Windows 10, VS 2015, IIS Express, SQL Server Express 2014, EF 7.0.0-beta8, ASP.NET 6.0.0-beta8

I am seeing a "Query source has already been associated with an expression" exception when trying to run an in-list where clause across a joined table.

Models:
[code]

[code]

Query 1 (works):
[code]
Query 2 (exception):
[code]

Stack trace:
[code]

[2015-10-21 20:54] #3382 closed

[2015-10-21 22:08] #2956 closed

[2015-10-21 22:46] #3443 closed

[2015-10-21 22:46] smitpatel commented on #3443
implemented via 3c364f30061f64f419e45e1b8ed90d02af1ce479

[2015-10-21 23:03] dealdiane opened #3502 "Support "Include" when using stored procedure in FromSql"
Suppose we have a DTO:

[code]

Currently running the code below throws "The Include operation is not supported when calling a stored procedure."

[code]

whereas if you use `"SELECT Person.*, Pet.Name FROM Person INNER JOIN Pet on Person.PetId = Pet.Id"`, it works.

Can we get the same support for stored procedures? If they both return the same set of columns, it shouldn't be an issue, should it?

[2015-10-21 23:57] divega commented on #3502
@opiants something like this works:

[code]

But I don't think it does what you think it does. Here the `SELECT` statement only replaces the SQL that we would have generated for the `db.Set<Person>()` part of the query, not what we would generate for the whole of `db.Set<Person>().Include(p => p.Pet)`.

We understand that this is counterintuitive and for this reason we have talked about constraini

[2015-10-22 00:05] opiants commented on #3502
How would you do this? Can you chain a stored procedure and a SELECT or through linq joins?

[2015-10-22 01:18] smitpatel commented on #700
Blocked by #2514

[2015-10-22 01:57] maumar commented on #3502
EF will automatically wire up the references between entities that have been queried for

[2015-10-22 02:13] divega commented on #3502
Assuming you have two stored procedures with the same filter criteria:

[code]
when iterating over persons you will see that the references on each person point to the right pets.

BTW, with SQL Server you should be able to write queries against Table-Valued Functions as well.

But fundamentally you cannot do this with a single query.

[2015-10-22 03:08] wangkanai commented on #3170
@rowanmiller so if in theory we make a convention to use Id as identity key as `Guid` (in theory it unique), this should work right?

[2015-10-22 03:33] axefrog opened #3503 "Regression? Foreign key properties now based on type name rather than property name"
I have an entity class with the following properties:

[code]

In beta7, the column names generated were `TailContourId`, `NoseContourId` and `MidContourId`. That's perfect and exactly what it should be. I've had to make some changes and in the process have dumped my old migrations from beta 7 and created new ones with beta 8. The new migrations generated by beta 8 now look like this though:

[cod

[2015-10-22 06:50] msincenselee opened #3506 "build initialize error"
Writing lock file C:\Users\Incense\Documents\GitHub\EntityFramework\test\EntityF
ramework.Core.FunctionalTests\project.lock.json
Restore complete, 11566ms elapsed
Total time 18417ms

Errors in C:\Users\Incense\Documents\GitHub\EntityFramework\test\EntityFramework
.Core.Tests\project.json
    Unable to locate Dependency Microsoft.Dnx.TestHost >= 1.0.0-rc1-15775

Errors in C:\Users\Incense\Documents

[2015-10-22 06:50] msincenselee commented on #3506
Environment: windows 10, vs 2015 community

[2015-10-22 16:15] MatthewMWR opened #3507 "Feature: Make it easier to handle growing models by supporting graph hydration and/or something like MyContext.AllEntities<EntityType>() -- or a better approach you can suggest"
In a scenario where a hub & spoke 1:Many domain model grows over time, it becomes cumbersome and fragile to modify the hub entity class with new navigations and modify the dbcontext class with new DBSet properties for every new spoke entity type. For example imagine an extensible model where various devs may add new spoke types (which all derive from... say `SpokeTypeBase`), but the main hub type

[2015-10-22 17:56] #3110 closed

[2015-10-22 18:16] rowanmiller commented on #3486
In EF6 we had a column in the parent table for each property in the complex type but we agree that serializing the values into a single column is also a neat idea. We probably want to have options to select different strategies and I added a note to #246 to consider this when we design the feature.

[2015-10-22 18:19] rowanmiller commented on #3468
Something like this would give you the shadow values:

[code]

[2015-10-22 18:23] rowanmiller commented on #3455
We can deal with expanding it as required due to features and requests from our other providers.

BTW are we currently not handling sequences in reverse engineer? If so, can you open a new issue to track that as we should be scaffolding code for them.

[2015-10-22 18:25] rowanmiller commented on #2589
Custom conventions is tracked by https://github.com/aspnet/EntityFramework/issues/214, so closing this out.

[2015-10-22 18:26] natemcmaster opened #3510 "Scaffolding: reverse engineer sequences"
Scaffolding currently only generates code for identity columns. Detect sequences and add the appropriate annotations to code gen.

[2015-10-22 18:26] natemcmaster commented on #3455
@rowanmiller I don't believe we have an issue to scaffold sequences, and I'm also not sure how we would actually do this, but here is the issue. https://github.com/aspnet/EntityFramework/issues/3510

[2015-10-22 18:28] rowanmiller commented on #3474
The Property<T> exception is being tracked by https://github.com/aspnet/EntityFramework/issues/3452 so closing this one out.

[2015-10-22 18:40] louislewis2 commented on #3468
@rowanmiller Thanks for the answer, I did work it out in the mean time, but it feels even better when seeing that your code matches mine. :)

[2015-10-22 18:40] ajcvickers commented on #3510
Note that I don't think we would ever try to reverse engineer to our sequence HiLo pattern for value generation. But if there are sequences in the database, then we should reverse engineer them into the model so they can be manipulated and re-created using Migrations, and so that code can be manually set to use them for value generation if that is what they are intended to be used for.

[2015-10-22 18:44] louislewis2 commented on #1441
Hi @rowanmiller I can understand that the team is extremely busy, but could you possibly let us know more or less when this feature may be looked at? At this point this is seriously preventing our implementation as the systems we work with have triggers present which affect us with this specific issue. Any estimate would be greatly appreciated.

[2015-10-22 18:48] rowanmiller commented on #3506
Can you try again now. We have an incomplete set of packages published to the CI MyGet feed yesterday... should be resolve now.

[2015-10-22 18:52] rowanmiller commented on #3496
Waiting to triage until question from @ajcvickers is answered.

[2015-10-22 18:56] rowanmiller commented on #3471
Please re-open if this still happens on Beta 8

[2015-10-22 19:09] rowanmiller commented on #3507
Hey,

I may be missing what you are trying to achieve... but you can already have a `DbSet<BaseType>` and then run a LINQ query against it and get all derived types included in the query. That works in EF6 and will work in EF7.

~Rowan

[2015-10-22 19:09] maumar commented on #3180
fixed in a9f0dc05f68b926e2a2ef4d7bfd018fa3871699a

[2015-10-22 19:20] rowanmiller commented on #1441
We are going to look at it after RC1 (next month) but before RTM.

[2015-10-22 19:22] rowanmiller commented on #3468
So either "great minds think alike" or "fools never differ" :smile:

[2015-10-22 19:33] lajones commented on #3250
Fixed by PR #3511.

[2015-10-22 19:33] #3250 closed

[2015-10-22 20:53] divega opened #3517 "Clean up TFMs and #ifs"
We need to follow up on a few issues after 7e0ba479a2cc1242ff7d6688687a740bd8a606f4:

- [ ] 1. UWP stopped working (although it was supposed to work with dotnet5.4)
- [x] 2. We need to figure out if we still need to support net45. That would require changes on dependencies.
- [x] 3. Related to (2), the automatic script created a funny `#if NET451 || NET451`
- [x] 4. In general it would be good to

[2015-10-22 21:28] MatthewMWR commented on #3507
Thanks. Your comment made me rethink this-- and I believe I was fighting the wrong battle. By default/convention when I added a DBSet<BaseType> then BaseType was added to the Model as an EntityType and required a Key. I didn't want this as I assumed it was trying to do TPH.

Workaround #1 was to remove the DBSet<BaseType> which is described above which is not ideal

Workaround #2 looks like if I g

[2015-10-22 21:36] #1704 closed

[2015-10-22 22:06] AndriySvyryd commented on #247
TPH is now fully implemented

[2015-10-22 22:06] #247 closed

[2015-10-22 22:30] #2511 closed

[2015-10-22 22:36] MatthewMWR commented on #3507
This may be heading in the direction of a separate bug, but I'll continue here for now. For some reason EF7beta8 hates this model. Depending on various choices you can make with the model (see comments) it will always fail (but in different places) with NullReferenceException or IndexOutOfRangeException.

[code]

[2015-10-22 23:31] lajones commented on #2840
Have updated to no longer output HasAlternateKey() fluent API in PR #3519.

[2015-10-22 23:52] weitzhandler commented on #2266
First of all, with the shipment of TPH, thanks guys for the awesomeness.
However, TPT is even more important, at least for me. I like to keep my tables readable and 'object-oriented'. Hope to see this coming soon too.
Thanks @rowanmiller and the lovely EntityFramework team!

[2015-10-23 00:17] cherrydev commented on #3267
@TylerWoods Have you found a workaround for this yet?

[2015-10-23 00:40] natemcmaster commented on #3517
Our code falls down in 2 places due to generations and our uses of `#if`:

1. Throwing for ambient transactions
If using `net451` or `net46`, this will behave as expected. But if the user switches to `dotnet5.4`, then ambient transactions will not throw.

2. DbSet implementation of IListSource.
This will surface as a compiler error because IListSource does not exist in the .NET Core contract.

[2015-10-23 00:49] natemcmaster commented on #3517
Futhermore, to support `net45`, we need all "Microsoft.Extensions.*" packages to downgrade to net45. This could be problematic if any depend on API changes between `net451` and `net45`. I will investigate more...

[2015-10-23 02:15] natemcmaster commented on #3517
@divega how bad do we need net45? Basically, we'd need to rebase everything in aspnet down to net45.

cc @davidfowl

[2015-10-23 03:42] thatotherone commented on #3464
@maumar also, these fail with different code paths, but with the same root cause
[code]

[2015-10-23 04:43] divega commented on #3517
I do remember we decided that long time ago but I can't remember if there was any tecnical reason besides being able to use EF in more scenarios. So it is hard for me to answer how bad we need it now.

Is it possible that Mono requird net45?

Cc @rowanmiller @ajcvickers

[2015-10-23 05:24] roji commented on #246
Just to add PostgreSQL perspective here... PG supports [user-defined composite types](http://www.postgresql.org/docs/9.4/static/rowtypes.html): users can define new database types with arbitrary fields, and then use those types as columns in tables. Npgsql 3.1 (the current dev version) includes first-class support for these at the ADO.NET level by allowing the user to map a CLR type to composite t

[2015-10-23 06:54] ErikEJ commented on #3517
@natemcmaster I can easily upgrade to net451 - I think there were some ADO.NET improvements, that you needed in that one anyway: https://msdn.microsoft.com/en-us/library/system.data.common.dbparameter(v=vs.110).aspx

[2015-10-23 09:02] sgjsakura opened #3524 "Include work incorrectly when it comes with OrderByDescending and Skip together"
The following code can demostrate this problem:
[code]
In the above case, some item in `result` will incorrectly report its `Pictures` collection is empty (However they own at least one picture indeed). This problem never occurs when removing `Skip` or changing `OrderByDescending` into `OrderBy`. The problem seems has been there since Beta4, please fix it asap and many thanks!

[2015-10-23 13:53] TylerWoods commented on #3267
Unfortunately, no.  I've tried several different casts to try to avoid the Convert, and had no luck at all.

This is from an adaptation of Identity 3.0 to use EF6.  The linq expression is very simple, so there's very little I'm able to do:
[code]

And here's the error:

Based on @rowanmiller 's comment, our team is sticking with Beta 7 for now, in hopes that the roslyn update will be relatively so

[2015-10-23 14:16] Venomed commented on #3180
I just realised the Milestone for this was changed from RC1 to Release. Will this fix be available in myget feeds before that or do I need to switch to source to be able to pull this in before release?

[2015-10-23 14:24] weitzhandler commented on #3170
I'd wanna see TPT before TPC. As @rowanmiller said, @wangkanai [example](https://github.com/aspnet/EntityFramework/issues/3170#issuecomment-149801318) will be used in rare cases when you explicitly wanna keep the entities unmapped or whatever other reason I can't think of now.
But TPT is even more important than TPH, because it can save a bunch of columns generated in each table completely DRYed a

[2015-10-23 14:46] julielerman commented on #2726
With Beta8 (testing with both SQLServer & InMemory api), a child in a graph is getting added now. Not what I expected. I'm having a hard time working out if the above discussion says that you went back to this behavior.
My scenario is
create "parent"
parent.add(new child)
context.parents.Add(parent)

child state is added.

[2015-10-23 15:38] rowanmiller commented on #2726
@julielerman that is expected now, dependents  get added as well. There is a new GraphBehavior enum which can be passed to the API to change this too.

[2015-10-23 15:40] rowanmiller commented on #3170
@wangkanai yep that would work. Just to be clear though... with the code you listed back at the start there is no need to ensure that the keys are unique between types since EF is treating them as completely separate types. But for true TPC, yes GUID keys is one option, or a sequence for numeric values, etc.

[2015-10-23 15:41] rowanmiller commented on #3180
It's already fixed, so it will release in RC1 (I moved it back).

[2015-10-23 15:44] rowanmiller commented on #3517
I don't think we required net45 for Mono... I think we just enabled it because it was minimal work to do so (the non-relational parts of the stack have always supported net45, and it was just some minimal changes in the relational packages).

From my perspective, net451 is fine (unless we find something that breaks in Mono etc.)

[2015-10-23 15:45] rowanmiller commented on #246
@roji this is great info to have, thanks!

[2015-10-23 15:54] Venomed commented on #3180
Oh thank you @rowanmiller

[2015-10-23 15:56] julielerman commented on #2726
Thanks. I will look harder for discussion of this so I'm totally clear on behaviors. I looked but apparently not thoroughly enough. :)

[2015-10-23 16:01] mikary commented on #3496
I missed the GraphUpdateTest tests when I was initially investigating, but it looks like these tests provide appropriate coverage. The history indicates that many of the Remove tests were added between beta7 and beta8, and it's likely the related changes resolved #2890.

[2015-10-23 16:17] julielerman commented on #2726
P.s. Cool enum!

[2015-10-23 16:18] MatthewMWR commented on #3507
Since the issues I'm hitting now are significantly removed from the issue title, I am going to open separate more narrowly scoped issues for those as potential bugs. Thanks.

[2015-10-23 16:29] MatthewMWR opened #3525 "Abstract base class unexpectedly included in TPC model resulting in InvalidOperationException (requires a key to be defined)"
To me seems unexpected, but I could have the wrong expectation.

Exception:

[code]

Repro:

[code]

[2015-10-23 16:36] MatthewMWR opened #3526 "IndexOutOfRangeException when Include()ing child objects in db retrieval"
Exception:

[code]

Repro:

[code]

[2015-10-23 16:41] MatthewMWR opened #3527 "NullReferenceException when derived types have explicit FK property (doesn't happen if FK prop is created as shadow by convention)"
Exception:

[code]

Repro:

[code]

[2015-10-23 16:55] natemcmaster commented on #3527
@MatthewMWR what is the build number of EF?

[2015-10-23 16:58] natemcmaster commented on #3525
@MatthewMWR Does this error occur if you don't use reflection to loop over all derived types of `ToolBase`?

[2015-10-23 16:59] MatthewMWR commented on #3527
Should be beta8 downloaded yesterday. Will confirm shortly.

[2015-10-23 17:03] MatthewMWR commented on #3527
File properties on EntityFramework.SqlServer.dll shows:
File version: 7.0.0.11009
Product version: 7.0.0-beta8-15964

NuGet shows:
[code]

[2015-10-23 17:10] natemcmaster commented on #3527
@MatthewMWR Possible fixed in https://github.com/aspnet/EntityFramework/pull/3478. Can you verify this bug still occurs with build >= 16047. (this will be an rc1 release).

[2015-10-23 17:15] cherrydev commented on #3267
@TylerWoods Yep, the situation I'm working with right now is exactly the same: Identity Framework 3 with EF6.  Have you attempted to use the daily DNX builds to see if that roslyn change is out there yet?  That's my next step...

[2015-10-23 17:21] MatthewMWR commented on #3527
Sure. Is there a nightly build I can download or do I need to get set up to build locally?

[2015-10-23 17:25] natemcmaster commented on #3527
@MatthewMWR If you are unfamiliar with nightly builds, you should know there is some added instability of nightly builds due to rapid churn. Nightly builds can be by using this package feed: http://myget.org/gallery/aspnetvnext (Note there have been many renames of packages since beta8, including https://github.com/aspnet/Announcements/issues/85)

[2015-10-23 17:27] MatthewMWR commented on #3525
The ToolBase entity gets added to the model whenever DbSet<ToolBase> Tools { get; set; } is added to the dbcontext. If I leave OnModelCreating() blank the same thing happens.

[2015-10-23 17:29] divega commented on #3517
We discussed this and we'll stick to net451 for RC1. If any issue arise we can consider having net45 again in RTM.

@erikej ADO.NET providers built for 4.5 should still work without changes because `Precision` and `Scale` were added in `DbParameter` with an implementation that invokes the pre-existing interfaces.

[2015-10-23 18:25] MatthewMWR commented on #3527
The latest prerelease I am seeing on MyGet is 7.0.0-rc1-15945.
Is >= 16047 hiding somewhere?

[2015-10-23 18:26] ErikEJ commented on #3527
@natemcmaster looks like aspvnext has stalled, maybe better to point people to aspnetcidev ?

[2015-10-23 18:49] natemcmaster commented on #3527
@ErikEJ aspvnext intentionally lags (for testing) and is more stable than aspnetcidev.

That said .... @MatthewMWR http://myget.org/gallery/aspnetcidev

[2015-10-23 19:06] ErikEJ commented on #3517
@divega fine, but my question is: should the sqlce EF provider require .net 4,5 or .net 4,5,1?

[2015-10-23 19:22] MatthewMWR commented on #3527
So far all attempts at installing from aspnetcidev fail with "Failed to add reference to 'System.Collections'."
I'm trying different NuGet tricks-- uninstall, reinstall, re-ordering and such, but so far no luck. Might there be some hidden dependency that NuGet doesn't understand (maybe need a visual studio update or fx update?).

[2015-10-23 20:19] divega commented on #3517
I believe it will need to be 4.5.1.

[2015-10-23 20:49] lajones commented on #2840
@rowanmiller @divega @ajcvickers @natemcmaster Re discussion from meeting on 10/21/15.

- Are we saying we want to output the `HasIndex(propertyNames).HasName(indexName).IsUnique(true|false)` into the fluent API in the generated `DbContext`?
- For which indexes do we want to do that? Those whose properties do not match either the primary key or any foreign key on the table? Does it matter if the o

[2015-10-23 21:04] rowanmiller commented on #3526
@MatthewMWR can you try this one too on the latest nightly once we get you up and running with that.

[2015-10-23 21:05] rowanmiller commented on #3525
Same with this one, if you can retry on the nightly

[2015-10-23 21:09] anpete opened #3529 "Make it easy to create a provider configured ModelBuilder"
One scenario we want to support is external model creation via ModelBuilder. However, it is currently difficult to get a ModelBuilder instance that has been configured with a provider specific convention set.

cc @sebastienros

[2015-10-23 21:25] smitpatel commented on #3525
Since the entity `Toolbox` has collection navigation `Tools` with target type of `ToolBase`, it will be added to model. It is essentially following TPH scenario hence throwing exception that base class has no PK defined (in TPH, base class defines PK and all derived classes share it).
As of now TPC support is not fully available. Issue #3170 is tracking it.
@rowanmiller can tell more if this would

[2015-10-23 21:33] smitpatel commented on #3161
fixed by 369ea75487e57bbe6b80528d2a246d6f83b1f6b1

[2015-10-23 21:33] #3161 closed

[2015-10-23 21:58] AndriySvyryd commented on #2416
Also move all types to Microsoft.Data.Entity.Metadata.Internal

[2015-10-23 22:32] MatthewMWR commented on #3527
Forgive my ignorance for package management and fx versions... but it appears installing very recent EntityFramework.Core from http://myget.org/gallery/aspnetcidev is blocked because the EntityFramework.Core nupkg wants to add a project reference to System.Collections. At the same time it appears to be impossible to add such a reference (even manually) in a 4.5.x project because the vNext nuget pa

[2015-10-23 22:39] divega commented on #3525
Yes, to have things work exactly like this you will need TPC support which is not planned for EF 7 RTM.

Besides going with TPH another way you can compromise is to not include `ToolBase` in the model in which case EF will not even reason about the fact that both Wrench and Hammer belong to the same inheritance hierarchy but if you do that then:

1. You cannot have a single `DbSet<ToolBase>` in th

[2015-10-23 22:40] divega commented on #3525
@rowanmiller I think this is just a dupe of #3170.

[2015-10-23 22:45] natemcmaster opened #3532 "Scaffolding: cleanup issues in property/type name generation"
Name generation has a minor bug (see below). We should also add more testing for these scenarios (e.g. automate testing against AdventureWorks).

Column names are not checked for validity in their current type. i.e. a table named "EmailAddress" with a column named "EmailAddress" will produce invalid C#. "

~~We can also improve existing code to use Microsoft.CodeAnalysis.CSharp instead of CSharpUt

[2015-10-23 22:53] natemcmaster commented on #3527
@MatthewMWR this particular bug investigation make take a while as we have some urgent deadlines upon us. Any help you can give us with this particular bug is much appreciated. Nightly builds are unstable and not always compatible with released version of VS tooling. Make sure you have the latest NuGet extension on use the dnx command line if/when that fails.

[2015-10-23 22:57] natemcmaster commented on #2840
IMHO:

**non-unique indexes**
We should always scaffold `HasIndex()`.

**unique indexes**
Scaffold as `HasIndex().IsUnique()` unless it is already in scaffolded as a key (currently only possible via .PrincipalKey()).

**`[Index]`**
Match our current data annotation conventions. (@smitpatel how do we handle IndexAttribute?)

[2015-10-23 23:00] natemcmaster commented on #3454
- [ ] Handle potential bug in fetching index. See https://github.com/aspnet/EntityFramework/pull/3509#discussion_r42922961

[2015-10-23 23:04] ajcvickers commented on #2840
@natemcmaster And index on the dependent properties of a unique (1:1) FK should not need an explicit Index scaffolded either, although this depends on some work that may not have been done yet in the model building API.

Also, we do not support IndexAttribute at all in EF7.

[2015-10-23 23:07] natemcmaster commented on #2840
@ajcvickers good point. Yes, we wouldn't need it then either. I don't know how complicated that would be to implement. If user-code has a redundant `.HasIndex()`, is this harmful to the runtime Model?

[2015-10-23 23:11] natemcmaster commented on #3456
- [ ] Index on column that could not be scaffolded (see https://github.com/aspnet/EntityFramework/pull/3509/files#r42923752)

[2015-10-23 23:12] ajcvickers commented on #2840
It's not harmful to have redundant indexes, no.

Also, the property order does matter. Two indexes over the same properties but in a different order are different indexes.

So basically, if the properties of an index match the properties of a key or FK in the same order, and the explict or implied uniqueness matches, then we should not need to scaffold an explicit index because one will be created

[2015-10-23 23:18] maumar commented on #3180
correction on the commit - fix is in 0e0793b6b98cbbcd3c2ea52409b5e465aa81f1d7

[2015-10-23 23:19] divega commented on #2840
Do we avoid generating redundant indexes on the database? Redundant indexes on the databse affect performance.

[2015-10-23 23:22] smitpatel commented on #2840
For 2nd question & Arthur's earlier comment look at #700 . Indexes for Key/ForeignKey will have explicit index object in the model so they are not required to scaffold separately.

[2015-10-23 23:27] divega commented on #2840
Re my previous comment, of course that only matters if you are using scaffolding to take control of the database schema, but I think we should have generating a clean model as a goal.

[2015-10-23 23:29] natemcmaster opened #3534 "Cleanup: reduce duplication of KeyConvention logic"
Use KeyConvention directly to detect when it will be applied.

See https://github.com/aspnet/EntityFramework/pull/3509/files#diff-f4c39fbb27185c0ad839fa2feb3c67a0R75

[2015-10-23 23:36] MatthewMWR commented on #3527
Sure thing. I will update if I can get set up with  >= 16047.
In the meantime the above repro is a complete copy/paste console app so if you get the chance consider trying against your latest.

[2015-10-23 23:56] maumar commented on #3452
fixed in 41ad57ad2f3755c5e35b51d939fab52b489ce738

[2015-10-23 23:56] #3452 closed

[2015-10-23 23:57] maumar commented on #3029
fixed in 41ad57ad2f3755c5e35b51d939fab52b489ce738

[2015-10-23 23:57] #3029 closed

[2015-10-24 00:11] smitpatel opened #3537 "FromSQL test failure in VS"
Happens only while running in VS - TestDriven.NET
commit 41ad57ad2f3755c5e35b51d939fab52b489ce738

[code]

[2015-10-24 00:23] smitpatel commented on #3527
@MatthewMWR - Since the latest codebase of EF has TPH scenario fully implemented, while trying to run above repro code, model uses TPH hence defining keys on derived types is not possible.

[2015-10-24 00:30] smitpatel commented on #3525
Combining all of the bugs together here #3526 & #3527
@MatthewMWR - The EF nightly has TPH fully implemented and TPC is not fully supported yet hence above model which contains inheritance will be using TPH strategy and won't be valid model since derived types cannot have keys in TPH.

[2015-10-24 00:45] maumar commented on #3408
Nullability issue fixed in 41ad57ad2f3755c5e35b51d939fab52b489ce738

[2015-10-24 01:00] csunali commented on #3408
I will test that ASAP but that might take a few days. Currently busy with migrating the things to RC 1 packages :)

[2015-10-24 01:22] maumar opened #3538 "Query :: incorrect syntax for queries projecting subquery compared to a scalar"
Repro:

[code]

query we generate is as follows:

[code]

We should convert this to CASE WHEN X > 0 THEN 1 ELSE 0

[2015-10-24 01:25] maumar commented on #3408
Note that the scenario is still broken due to https://github.com/aspnet/EntityFramework/issues/3538

[2015-10-24 01:25] #3408 closed

[2015-10-24 01:28] csunali commented on #3408
Thank you for the last detail and your overall feedback.

[2015-10-24 01:53] smitpatel commented on #700
@bricelam - Adding index for FK introduces extra migration operation for index creation which causes MigrationsModelDifferTests to fail. Is that expected behavior?

[2015-10-24 01:54] smitpatel commented on #2514
Partially implementing this for indexes alongwith #700

[2015-10-24 02:31] fujiy commented on #3302
Is it fixed in this commit? https://github.com/aspnet/EntityFramework/blob/5fd6b00457b8b005cdedb6200de8c7989113221e/src/EntityFramework.Relational/Query/Internal/RelationalResultOperatorHandler.cs#L138

[2015-10-24 03:02] plitwin opened #3540 "Empty entities return System.NullReferenceException instead of 0"
In EF 6, using the Count property of an empty entity (SQL Server table) would produce a result of 0. In EF 7 Beta 8, it produces a System.NullReferenceException. This will require an incredible amount of coding changes in existing apps.

[2015-10-24 03:45] plitwin commented on #3540
Sorry this was the fact that lazy loading is not on by default.

[2015-10-24 03:49] #2915 closed

[2015-10-24 04:56] smitpatel commented on #3503
Recent refactoring in metadata around relationship building had caused this regression. Submitted PR for fix.

[2015-10-24 05:18] smitpatel commented on #2837
@AndriySvyryd - This would require changes only in `ForeignKeyPropertyDiscoveryConvention` where searching for candidate fk properties (or compatible pk properties), properties which are part of inherited key won't be matched, right?

[2015-10-24 05:31] mtycholaz opened #3543 "EF.Commands does not work on WinRT types"
Create a Universal Windows **class library** project and paste this into a file

[code]

Add a new Universal Windows **Runtime Component** project to your solution. Add this code to a file

[code]

Build and compile, then try to run the `add-migration "mymigration"` command from powershell window. Should be greeted by this error `System.Reflection.ReflectionTypeLoadException: Unable to load one or

[2015-10-24 06:17] wangkanai opened #3544 "Generic Collection Table naming convention"
I have tested out generic collection with the following code and see the weird name on the table generated up in sql like: `Progress<Risk>` for the table name. Is this by design or just by luck?
![generix-collection](https://cloud.githubusercontent.com/assets/10666633/10709277/be75aa38-7a50-11e5-9ed8-89f12b3de2d6.png)

[code]

But I have to say that the c# programming paradigm logic work as expect

[2015-10-24 07:02] divega commented on #3544
I believe it is all by-design. Starting on the only DbSet in your DbContext we walk the graph and find two generic entity types. The table names are based on the simple names of the CLR types of those entities.

[2015-10-24 12:52] TsengSR opened #3545 "Primary Keys mangled on generic DbSets models after second migration"
The migration file (i.e. 20151024123838_Init.cs) gets mangled primary keys on second migration.

I am using AspNet Identity in my project and after the initial migration the 2nd (and following) migrations will mangle the primary keys, basically making it impossible to migrate further and having to wipe of the database after each change in the structure.

For example:

    public class AuthUser : I

[2015-10-24 16:19] sebastienros opened #3546 "Inconsistencies in the Ignore() method"
_Minor issue._

This code ignores a property

`modelBuilder.Entity("Foo").Ignore(...);`

Adding a lambda as the argument will make it ignore the type only. At least from the inline documentation.

`modelBuilder.Entity("", p => { }).Ignore();`

I would have expected the same options for `Ignore`.

[2015-10-24 16:59] wangkanai commented on #1142
As the Core coming to RC. How would Azure Table Storage provider start to kick in development?

[2015-10-24 23:35] roji opened #3548 "From_sql_queryable_simple_projection_composed isn't portable"
It sends the following SQL:

[code]

PostgreSQL issues:
- Identifiers must be quoted (to preserve case)
- Discontinued is a bool, which needs to be checked with `= TRUE`

The first is easy enough, for the second you can either remove the WHERE clause altogether, or expose an overridable property that would provide the SQL.

[2015-10-25 01:03] AndriySvyryd commented on #2837
@smitpatel We should throw in `Entity.AddForeignKey()`
We should also modify `InternalEntityTypeBuilder.HasBaseType()` to detect if the new base key conflicts with an fk and try to remove one of them if they do.

[2015-10-25 02:11] applenele commented on #1698
+1 for IndexAttribute

[2015-10-25 02:12] applenele commented on #3318
+1 for Lazy load

[2015-10-25 02:17] weitzhandler commented on #1698
Yeah. Still hoping to see it back, I think it's not SQL-specific.
Perhaps the attribute should be changed to `UniqueAttribute`, which applies to ANY type of DB, even NoSql.

[2015-10-25 02:20] Kagamine commented on #3318
In the past. I have used the dynamic linq (https://github.com/mrKrizz/dynamic-linq) with lazy load. but in the ef7, without the lazy load, I cannot use the dynamic linq anymore. sad.

[2015-10-25 02:25] Kagamine commented on #1698
I don't think so. We often make a property as an index like a time field, They are able to be duplicated.

[2015-10-25 02:29] yukozh opened #3550 "Is there any way to set on delete cascading as default?"

[2015-10-25 03:45] weitzhandler commented on #1698
So be it
Keep the IndexAttribute then...
On Oct 25, 2015 4:26 AM, "あまみや ゆうこ" <notifications@github.com> wrote:

[2015-10-25 03:47] Kagamine commented on #1698
Unique must be related to Index, because UniqueKey must be indexed.

[2015-10-25 05:30] AndriySvyryd opened #3551 "Allow multiple foreign keys to use the same set of properties"
Principal key and principal entity type should be included in the identifier of an FK

[2015-10-25 07:45] anfomin opened #3552 "ModelCleanupConvention: Collection was modified after the enumerator was instantiated"
Class `Microsoft.Data.Entity.Metadata.Conventions.Internal.ModelCleanupConvention` contains method `RemoveNavigationlessForeignKeys(InternalModelBuilder modelBuilder)` which removes unused foreign keys.

When method invokes `RemoveForeignKey(...)` then `foreach` enumerated collection is changed and exception is raised:

[code]

[2015-10-25 07:56] wangkanai commented on #3270
You guys change a lot, hope its for the best :smiley:

[2015-10-25 08:11] ErikEJ opened #3553 "Unable to move from build 16018 to 16105 on aspnetcidev"
**Failed to add reference to 'System.Collections.Concurrent'. Please make sure that it is in the Global Assembly Cache.**

With the SQL CE provider project: .NET 4.5.1 Class Library in VS 2015 with NuGet extension version: 3.2.60914, I get the error, when only updating Microsoft.Extensions.Logging from aspnetcidev, blocking me from moving to the latest RC1 bits. Also installing from a "empty" proj

[2015-10-25 08:51] YehudahA opened #3554 "Alternative to DbFunctions, espectially TruncateTime"
I want to filter by DateTime property, omitting the time part:

[code]

This code can run, but it takes all the rows and filters them in application side, instead of send the query to server.

in EF6 we have DbDunctions.TruncateTime. What about EF7?

[2015-10-25 13:18] Jetski5822 opened #3555 "NullReferenceException after the "Add IMutableModel API" changes"
Latest cut of the code seems to be throwing a null ref exception in Remove.

[code]

[2015-10-25 15:31] julielerman commented on #3228
ahh and another one that you already know about. :)

[2015-10-25 23:11] angelsix opened #3557 "dnx ef migrations add System.TypeLoadException: Could not load type 'Microsoft.Data.Entity.Internal.CoreStrings'"
Beta 7 works fine. Beta 8 running:
dnx ef migrations add InitialMigration

Generates:
System.TypeLoadException: Could not load type 'Microsoft.Data.Entity.Internal.CoreStrings' from assembly 'EntityFramework.Core, Version=7.0.0.0, Culture=neutral, PublicKeyToken=null'.
   at Microsoft.Data.Entity.Utilities.Check.NotEmpty(String value, String parameterName)

I've cleaned solution, restored, deleted

[2015-10-26 08:08] angelsix commented on #3557
I fixed that if I explicitly specified beta8 for references.

{
  "tags": [ "" ],
  "projectUrl": "",
  "licenseUrl": "",
  "dependencies": {
    "EntityFramework.SqlServer": "7.0.0-beta8",
    "EntityFramework.Commands": "7.0.0-beta8",
    "EntityFramework.Core": "7.0.0-beta8",
    "Microsoft.AspNet.Identity": "3.0.0-beta8",
    "Microsoft.Framework.Configuration.Json": "1.0.0-beta8",
  },
  "fra

[2015-10-26 08:34] angelsix commented on #3557
Also if I manually change the generated migration files, removing where it added IEquatable'1 ID values to the actual real model values (string), the migration files then work fine and everything works.

So it seems the issue is with the EF Commands library not creating the migrations files correctly for ID properties. That is all it affects.

[2015-10-26 08:35] louislewis2 commented on #1441
@rowanmiller We are hoping to complete the setup of our internal preview environment for our customers in about 2 weeks. Could we possibly get involved with making this feature happen? If we can perhaps we can just hear the rough ideas that you had in mind, and the best starting points in the repo's. Without this feature we are totally unable to proceed, as the databases we work with have audit tr

[2015-10-26 11:27] EmpeRoar opened #3560 "My Seed Data is not adding to Database"
Hi Guys,

I have a problem with the initial data I added to my Migration Configuration Seed.

CrmCoreApplicationHelpers crmHelper = new CrmCoreApplicationHelpers();
var customerList = new List<Customer>
{
    new Customer { .. data here ..  },
};
customerList.ForEach(x => context.Customers.AddOrUpdate(y => y.Firstname, x));
context.SaveChanges();

when I run update-database, there are no errors.
B

[2015-10-26 11:56] tstar commented on #3553
Update first dnx to latest unstable:
set DNX_UNSTABLE_FEED=https://www.myget.org/F/aspnetcidev
dnvm upgrade -u
Then you can use the latest versions like 16105.

[2015-10-26 14:12] divega commented on #1441
In case it helps, this is what I had in mind:
1. Try and see if we can make the approach that @rmja originally suggested work by adding a table variable and an INTO clause. Ideally this could work even with batching enabled.
2. If for some reason that does not work, look into enabling  an alternate SQL generation without an OUTPUT clause when batching isn't enabled.
3. Whatever option we choose, t

[2015-10-26 14:26] aconstant commented on #3317
As stated by @LonDat, the SQL generated is missing a ```= 1``` condition, when using the Any() method.

A workaround is to call ```Count(expression) > 0``` instead of ```Any(expression)```, but that should be less optimized, since it results in a SQL call to : ```Count(*) > 0```

[2015-10-26 16:32] bricelam commented on #700
Yes, the tests will need to be updated.

[2015-10-26 16:44] natemcmaster commented on #3553
@ErikEJ this is an issue with logging. (See https://github.com/aspnet/Logging/issues/270). We closed the issue because we couldn't reproduce on other machines. Is this error consistent across machines for you?

[2015-10-26 17:39] ErikEJ commented on #3553
@natemcmaster Thanks, will test with a vanilla Azure VM and let you know

[2015-10-26 17:46] lajones commented on #3111
Fix checked in with PR #3528.

Providers note the change to the way the DesignTimeProviderServices attribute is used.

[2015-10-26 17:46] #3111 closed

[2015-10-26 18:18] natemcmaster opened #3561 "Optimize .NET Native directives"
The current runtime directives in our library are not optimized. Runtime-metadata data is included for **all** EF types, most of which do not need to be reflection enabled. Optimizing the library to include only those types needing metadata will reduce compilation time and resulting .NET Native binary.

[2015-10-26 18:24] ErikEJ commented on #3553
The issue could be related to https://github.com/aspnet/Logging/commit/cceb0dcc43e572ebcd3650b7628e052e22308b85 I guess. @bricelam ??

[2015-10-26 18:36] lajones commented on #2840
Thinking on this some more. If we want the model to be as "round-trippable" as possible, we will need to specify at least the index's name for all indexes. The name we would otherwise generate through migrations is not likely to be the same as it depends on whatever tool the DBA used to create the index in the first place.

[2015-10-26 18:50] rowanmiller commented on #2840
Agreed

[2015-10-26 19:04] bricelam commented on #3553
Yeah, probably the same as [this discussion](https://github.com/aspnet/EntityFramework/pull/3504#discussion_r43027248) /cc @pranavkm

[2015-10-26 19:55] ivanrusso opened #3563 "Properties marked as HasAlternateKey will not be updated on DB."
On a Model we have two properties marked as AlternateKey. This generates a new Unique Constraint on the Database.

`entityBuilder.HasKey(p => p.Id);`
`entityBuilder.HasAlternateKey(p => p.Abbrev);`
`entityBuilder.HasAlternateKey(p => p.Name);`

When a value of a key property changes, then the change tracker returns the EntityEntry with the given changes. But calling SaveChanges the propety is not

[2015-10-26 20:57] jparish9 opened #3565 "Support Include after changing query type with Select"
Windows 10, VS 2015, IIS Express, SQL Server Express 2014, EF 7.0.0-beta8, ASP.NET 6.0.0-beta8

Using an `.Include` with a `.Select` has no effect (does not populate the child object/collection).

Models:

[code]

[code]

[code]

FK configuration:

[code]

Populates `BlogMetadata` child object:

[code]

Does not populate `BlogMetadata` child object:

[code]

This also happens with child collection

[2015-10-26 21:52] smitpatel commented on #3503
No repro anymore. Verified in 7.0.0-rc1-16105 packages.
@axefrog - if you are using nightly then above packages are available on the feed. Else it will be in rc1 release.

[2015-10-26 21:52] #3503 closed

[2015-10-26 23:28] natemcmaster commented on #3517
Fixed UWP installation with #3558

[2015-10-26 23:30] #3517 closed

[2015-10-27 05:57] Rseding91 commented on #242
This is exactly what I was recently looking to do. It would be an extremely useful to have this.

[2015-10-27 13:12] Codenator81 opened #3573 "[sqlite]Error on database update command"
In project.json I point only dnxcore50

Dnx:
 Version:      1.0.0-rc1-16031
 Type:         CoreClr
 Architecture: x64
 OS Name:      Windows
 OS Version:   10.0
 Runtime Id:   win10-x64

EF provider Sqlite

[code]

[2015-10-27 14:46] boyarincev opened #3574 "Unable to locate Dependency EntityFramework.InMemory >= 7.0.0-beta8"
Can't add "EntityFramework.InMemory" dependency in project.

[code]

Output:

PATH=.\node_modules.bin;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\External;%PATH%;C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web Tools\External\git
C:\Users\maste_000.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta8\bin\dnx.exe "C:\Use

[2015-10-27 15:41] TylerWoods commented on #3267
@cherrydev I'm just now getting back to this and see that you've already tried in https://github.com/aspnet/dnx/issues/3082.

[2015-10-27 15:53] rowanmiller commented on #3574
Interesting that it is only listing `C:\Program Files (x86)\Microsoft Web Tools\DNU` under the `Feeds used:`. It makes sense that it can't find the package since that one isn't included "in the box" with the web tooling... but it is on NuGet.org.

[2015-10-27 16:06] TylerWoods commented on #3267
On the outside chance that this could be addressed in EF6, I have created an issue over there as well: https://entityframework.codeplex.com/workitem/2846

[2015-10-27 16:08] roji opened #3575 "Design suggestions for RelationalTypeMapper"
Here are some design observations from some work on NpgsqlTypeMapper:

First, it seems like `GetMapping(IProperty)` and `FindMapping(IProperty)` contain logic that should hold for any relational provider implementing a type mapper. This includes the NotSupportedException, but also (and more importantly) the logic which gets the property's logic type, parses it, etc. It also seems cleaner for `Find

[2015-10-27 16:11] boyarincev commented on #3574
Why package may searches in "C:\Program Files (x86)\Microsoft Web Tools\DNU" but not on Nuget.org ?

[2015-10-27 16:19] boyarincev commented on #3574
Reason in:
      <disabledPackageSources>
        <add key="nuget.org" value="true" />
     </disabledPackageSources>

I commented this, and package downloaded from NuGet.org
I don't know how this appear in NuGet.config

[2015-10-27 16:35] rowanmiller commented on #3574
Totally missed that when you posted the NuGet.config contents... I guess that answers the question then :smile:

[2015-10-27 16:35] natemcmaster commented on #3573
This is a problem with https://github.com/aspnet/microsoft.data.sqlite. It appears the library is attempting to load the wrong bitness (x86 vs x64)

[2015-10-27 16:39] rowanmiller commented on #3429
Closing this out as we have not heard back with details to reproduce. Feel free to re-open or open a new issue if you have a chance to put it together.

[2015-10-27 16:42] rowanmiller commented on #3525
Closing out as this is the correct behavior given that inheritance will always mean TPH at the moment (and TPH will always be the default if nothing is specified in configuration). #3170 is tracking TPC support.

[2015-10-27 16:56] rowanmiller commented on #3526
I just retried this on the latest code base. So far we have only implemented TPH (TPT and TPC are coming later). Given TPH is the default, this code now correctly results in a TPH mapping and the data is successfully saved.

Note, I did have to remove the `eb.HasKey("Id");` line that was re-configuring the key for each derived entity since you can only configure the key on the base entity. The exc

[2015-10-27 16:59] rowanmiller commented on #3527
By design (see previous comment from @smitpatel). Support for TPC is tracked by #3170

[2015-10-27 17:01] rowanmiller commented on #3544
I agree... I'm actually kind of impressed that this flows through the stack so well :smile:. Given they are valid names for the table I don't think we need to do anything special.

[2015-10-27 17:49] sebastienros opened #3576 "Shadow property is not created by .ForeignKey(Type, string)"
... and is not taken into account if defined late in the Model.

Repro: this code should not throw an exception, but actually complains that `DocumentId` is not found or defined as a shadow property

[code]

[2015-10-27 18:15] rowanmiller commented on #3563
We don't support mutating key values (at least not yet) so this should throw

[2015-10-27 18:19] rowanmiller commented on #3555
@Jetski5822 can you provide some code for us to reproduce the issue you are seeing?

[2015-10-27 18:20] rowanmiller commented on #3553
Being tracked by https://github.com/aspnet/EntityFramework/pull/3504#discussion_r43027248

[2015-10-27 18:21] rowanmiller commented on #3552
@anfomin can you provide code that we can use to reproduce the issue?

[2015-10-27 18:22] rowanmiller commented on #3550
Yes, it is now the default for required relationships (in RC1)

[2015-10-27 18:32] rowanmiller commented on #3543
@natemcmaster to dig into this and make a recommendation

[2015-10-27 18:33] rowanmiller commented on #3537
@anpete already fixed this

[2015-10-27 18:36] rowanmiller commented on #3534
We're ok with this being duplicated (it is very minimal and simple code)

[2015-10-27 18:38] ErikEJ commented on #3553
@rowanmiller But #3504 is closed ?!

[2015-10-27 19:08] cherrydev commented on #3267
Thanks @TylerWoods.  As you can see in dotnet/roslyn#4471 it's possible that this issue will be fixed in the compiler with the next version, but I currently have no way to determine whether or not it is since I can't determine a way to get DNX to use it.

[2015-10-27 19:23] rowanmiller commented on #3553
@ErikEJ sorry about that... it spun off into https://github.com/aspnet/EntityFramework/pull/3571 which is still open and should resolve the issue (there have been a whole bunch of changes and discussion around this)

[2015-10-27 20:24] smitpatel commented on #3445
Verified this with latest code that this generates a valid model.

[2015-10-27 20:25] ErikEJ commented on #3553
@rowanmiller  But does that fix the issue with Logging?

[2015-10-27 20:41] eric-newton opened #3578 "Update-Database fails to run Seed against correct connectionstring"
When running the `update-database` command, it appears that something is awry with the EF checking mechanism.

The issue reared up because I had pulled from source control, and entities needed to update my "current" database so it was out-of-sync with the code-first entities.  (So FYI, normally, developers pull from their DVCS, Updates their working copy, runs Update-Database with everything confi

[2015-10-27 20:42] eric-newton commented on #3578
My bet is with `update-database` command not fully communicating the specified connectionstring parameter content to all various places

[2015-10-27 20:47] #3445 closed

[2015-10-27 21:33] ivanrusso commented on #3563
For primary keys this is a good approach but not for unique keys.
What can we do to generate a unique key on the Database and allow to update this key?
Is the only Workarround to generate a unique key constraint on the Database with Custom Migration Script and execute an Alter Table command?

[2015-10-27 22:06] ajcvickers commented on #3575
@roji We are following a pattern where all services resolved from DI by constructor injection have an interface that defines the contract for the service. We have found this gives good clarity for the service contract together with the most flexibility for replacement of the service both in product code and in testing. So we wouldn't want to remove IRelationalTypeMapper, even though we expect all

[2015-10-27 22:06] divega commented on #3573
@natemcmaster I definitively see the DNX package loader in the exception above, so this could be an issue @moozzyk's code.

[2015-10-27 22:06] divega commented on #3573
cc @muratg

[2015-10-27 22:29] lajones commented on #3394
Note: HasIndex() method chain should also be considered for this - see #3579.

[2015-10-27 22:34] smitpatel commented on #3396
fixed in 3c364f30061f64f419e45e1b8ed90d02af1ce479

[2015-10-27 22:34] #3396 closed

[2015-10-27 23:26] rowanmiller commented on #3563
@ivanrusso you can create a unique index on the properties to enforce that they are unique (`builder.Entity<Blog>().Index(...)`) but you won't be able to use these as the target of a foreign key. At this stage in EF7, if a set of unique properties are used as the target of a relationship then the values can not be mutated after they are saved.

[2015-10-27 23:26] #3563 closed

[2015-10-27 23:58] Kagamine commented on #3550
Oh thanks!

[2015-10-28 00:15] Jetski5822 commented on #3555
Hey @rowanmiller I will try to see if I can create a small repo for you... though it might be difficult to pull out of the Orchard code base.

What I can say is that it is using a InMemory database... and is storing and reading in the same request. The DataContext is per-request too.

[2015-10-28 00:25] brent-russell opened #3582 "Left Outer Join Exceptions"
I'm unclear on the status of left outer join functionality as of *beta8*. Is it supposed to be complete? (Also looking at #2809, #2310, #1232)

Some queries I write work fine with LOJ, and I can use the joined object (or null reference) just fine. Other queries throw various exceptions when attempting to do anything with the LOJ data, with the underlying cause appearing to be the same. I'm noticin

[2015-10-28 00:36] moozzyk commented on #3573
Might be related to the package layout. We [create a lookup table]( https://github.com/aspnet/dnx/commit/3b68ed71660643b6248326176ad4771ff1391ed3#diff-81fd086ba566a1bc200ca3a4f1ab9fa3R29) where the lib name without the extension is the key and the path is the value. CoreClr calls us when they need to load a native lib and we resolve the path using the lookup above and have them load the lib from t

[2015-10-28 01:34] smitpatel opened #3583 "Exception Messages: Name of entityType"
We have inconsistencies in what do we use for name of entity type when throwing exception. At present we use `EntityType.Name` and `EntityType.DisplayName()` both with no fixed guideline which one to use for particular case. We need to make it consistent or define rules when one is preferred over the other.

[2015-10-28 07:23] IonRobu opened #3584 "Error selecting over inherited entities"
Hello,

I have a submodel of parent-child entities, like described here: https://github.com/aspnet/EntityFramework/issues/3445.
When I make a simple select:

[code]

I receive error:
System.ArgumentNullException: Value cannot be null.
Parameter name: navigation

"Value cannot be null.\r\nParameter name: navigation"

This seems to be related somehow to https://github.com/aspnet/EntityFramework/issu

[2015-10-28 07:24] IonRobu commented on #3445
Hello,

It works now, but I receive another error which seems to be related. I described here: #3584

[2015-10-28 07:56] roji commented on #3575
OK, thanks for the patient explanation. The reasoning for the interface makes total sense.

Regarding the DbType, I may be wrong, but it seems to me that if a provider needs to set DbType, there's no reason for it not to use its specific enum instead (SqlDbType, NpgsqlDbType) which covers more types. In other words, DbType is the provider-independent enum, but here we're operating within a specifi

[2015-10-28 08:18] Codenator81 commented on #3573
https://gist.github.com/Codenator81/c6f3634a7d6bc79d0896 my project.lock.json file if it helps
 Version:      1.0.0-rc1-16048
 Type:         CoreClr
 Architecture: x64
 OS Name:      Windows
 OS Version:   10.0
 Runtime Id:   win10-x64

[2015-10-28 11:59] mehrt opened #3585 "Using ?: conditional operator fails"
This may be the same issue as #649, but I'm not sure. If it is, I'm sorry to have wasted your time and bandwidth.

I'm using beta 8. Model:
[code]
If I then try ...
[code]
... I get a similar error as described in #717:
*An expression of non-boolean type specified in a context where a condition is expected, near 'THEN'.*
If I try this instead ...

[code]
... I get the expected result.

[2015-10-28 18:21] AndriySvyryd opened #3587 "Make the Property indexes lazy"
`Index`, `ShadowIndex` and `OriginalValueIndex` are not used while building the model so they don't need to be calculated at that point. Also they are only stored in the model for perf so they should be accessed through an optional interface instead of an annotation.

[2015-10-28 18:33] mikary commented on #2926
I attempted to reproduce this issue using versions of EF from beta6 to beta8 with the following code:

[code]

This reproduction did not result in the described behavior, instead an `ArgumentException` (`Int32` used for parameter of type `IEnumerable`) was thrown, eventually resulting in a `TargetInvocationException` whenever a cast to `IQueryable` was used. Running directly against the `DbSet<T>`

[2015-10-28 19:10] rowanmiller commented on #3578
Hey,

This is an EF6 related issue which actually belongs on http://entityframework.codeplex.com/. That said, I think I can answer it for you straight away...

Looking at the stack trace for the error, it looks like there is logic in your seed method that is calling a helper method which creating a new instance of the context. EF will take care of making sure the context that is passed into Seed h

[2015-10-28 19:24] bricelam opened #3590 "Design meeting notes - October 28, 2015"
# DNX Commands and Startup Projects

The original design of the DNX commands was that you would invoke it on the target project (e.g. MyApp.Data) and pass in the startup project (e.g. MyApp) using the `--startupProject`. However, DNX is not able to load an assembly that isn't referenced by the current project, and referencing it would result in a circular dependency since the reference needs to go

[2015-10-28 20:23] mikary commented on #2752
- [ ] Review Strings.resx
 - [ ] Commands
 - [ ] Core
 - [ ] InMemory
 - [ ] Microsoft.SqlServer
 - [ ] Microsoft.SqlServer.Design
 - [ ] Relational
 - [ ] Relational.Design
 - [ ] Sqlite
 - [ ] Sqlite.Design
- [ ] Locate raw string messages

[2015-10-28 21:19] maumar commented on #3283
the issue is now fixed, most likely either due to 41ad57ad2f3755c5e35b51d939fab52b489ce738 or 0e0793b6b98cbbcd3c2ea52409b5e465aa81f1d7

[2015-10-28 22:03] natemcmaster opened #3593 "Exploratory testing: UWP app end to end"
We should try to actually publish a UWP app that uses EntityFramework.Sqlite and test on devices.

[2015-10-28 22:48] cesarbs opened #3594 "Fix the build on non-Windows platforms"
Related to https://github.com/aspnet/Universe/issues/304. EntityFramework is currently disabled because we're not able to clone and build it on Linux/OS X to then run tests on CoreCLR.

[2015-10-28 23:37] natemcmaster commented on #3594
Multiple issues

1. `mono nuget.exe` dies on 4.2.0 (necessary for build.sh)
2. We need to build against Mono 4.2.0 or newer
3. `dnu build` dies on projects with `net46`

[2015-10-29 00:45] brent-russell opened #3595 "Group By Null Reference Exception"
Beta8

The following query throws a null ref exception caused by the group by expression. Without the group by expression, the query runs fine. It doesn't matter what's in the select portion.

[code]

[code]

There's nothing really special about the model here. I'm running it against the SqlServer in-memory DB with a test data set in the thousands.

[2015-10-29 08:31] Codenator81 commented on #3573
I find problem.
As mentioned @moozzyk I check project.lock.json file. There were wrong dependencies for sqlite.
When I on coreclr do dnu restore there in lock file dependecies point to dot.net library but not coreclr.
When I change
[code]
to
[code]
everithing works good

I change this in all lock file )))
So solution is when do dnu restore need provide right runtime and compile packages

Sory for

[2015-10-29 12:42] bragma opened #3597 "Azure Web App migrations"
Hello,
I've checked the docs but found nothing regarding the best practice for handling EF7 migrations on Azure Web App projects and I'm not sure on how to proceed. I'd like migrations to be checked and applied on publishing. Have I missed anything or are they scheduled for later release?
Thanks for any suggestion.

[2015-10-29 13:49] ErikEJ commented on #3553
@rowanmiller @natemcmaster Ping !?

[2015-10-29 14:14] sandorfr commented on #3524
I can confirm the issue and it also happens with orderBy on beta8

[2015-10-29 14:37] skrim commented on #3597
It may be more straightforward to have the application check and apply the migrations, rather than the publish process. This can be done, for example, by adding the following to your app startup sequence, after configuration of EF has been done.

    using(var dbContext = new YourDbContext()) {
        dbContext.Database.Migrate();
    }

This will check the db level using __EFMigrationHistory tab

[2015-10-29 15:05] bragma commented on #3597
Thanks, I'll follow suggestion #1. I'm trying to call this from my ASP.NET vNext Startup.Configure() method:

[code]

It seems that the "EnsureCreated" does create the DB and it's schema, but it does not create the "EFMigrationsHistory" table.
On next start of the app, the "Migrate" method is called, which instead tries to ally all migrations (since there is no history table and fails because Tabl

[2015-10-29 16:01] divega commented on #3597
That pattern is not completely correct. `EnsureCreated()` is just a quick way to create the database, mostly useful in testing, and should not be mixed with migrations. You can just use `context.Database.Migrate()` and if you are going to do it from Startup.Configure() you should also wrap it into a DI scope to make sure the right services will be created with the right lifetime, e.g.:

[code]

No

[2015-10-29 16:01] natemcmaster commented on #3553
Should have been fixed with https://github.com/aspnet/EntityFramework/pull/3571#issuecomment-152225588 (build ≥ 16151). @EricEJ Are you still experiencing issues?

[2015-10-29 16:13] rowanmiller commented on #3597
Here is a slightly outdated doc that walks thru what we are building in terms of publish integration https://github.com/aspnet/EntityFramework/wiki/Visual-Studio-Publish-Integration. There are some minor technical details that are incorrect but the general flow is correct.

[2015-10-29 16:15] ErikEJ commented on #3553
@natemcmaster Thanks - will give it a try - but how does that fix the issue for Logging?

[2015-10-29 16:45] sayedihashimi commented on #3597
Yes we are working on adding support for EF Migrations into the publish dialog now. I do not think this will make it for RC1 but should for the release after that.

I just posted the spec on what we are working on at https://github.com/aspnet/Tooling/issues/251. We should have the script working in a few weeks. When that happens if anyone wants to try it (without UI support) then I can describe th

[2015-10-29 17:14] ajcvickers commented on #3309
Marking for re-triage.
![image](https://cloud.githubusercontent.com/assets/1430078/10826200/cb50ccc8-7e25-11e5-8272-b2af058326c9.png)

[2015-10-29 17:22] ErikEJ commented on #3553
@natemcmaster Thanks for your support - YES, after removing all previous package references, I can now move forward! But how about rc1 vs rc2?

[2015-10-29 17:40] anpete commented on #3309
Nice!

[2015-10-29 17:57] ErikEJ commented on #3553
Maybe I should use the aspnetcirelease feed for rc1?

[2015-10-29 17:59] pranavkm commented on #3553
That sounds right.

[2015-10-29 18:02] ErikEJ commented on #3553
Thanks, will do :smile:

[2015-10-29 18:27] bricelam commented on #3407
This appears to be fixed now. Please re-open if you're still having problems.

[2015-10-29 18:27] #3407 closed

[2015-10-29 18:34] rowanmiller commented on #3309
:+1: :tada:

[2015-10-29 18:40] rowanmiller opened #3598 "DbContext.Database.ExecuteSqlCommand should return rows affected"
In EF6 the method returns an int for rows affected... currently the method is void in EF7.

[2015-10-29 18:53] divega opened #3599 "RevEng and Migrations: Consider testing schema roundtripability"
While EF will always only understand about a subset of the database constructs,
we have done work to improve the fidelity of database reverse engineering, e.g. in https://github.com/aspnet/EntityFramework/pull/3579 we made sure that names of indexes were preserved in the model. From https://github.com/aspnet/EntityFramework/issues/2840#issuecomment-151241655:

I would like to propose that we delib

[2015-10-29 18:53] #2679 closed

[2015-10-29 18:58] divega commented on #3599
We could consider adding an automated end-to-end test for a database that we know roundtrips in this way. It could help detect regressions, but I am not sure about the cost/benefit.

[2015-10-29 19:08] ErikEJ commented on #3599
Great idea, I will do that for the SQLCE provider!

[2015-10-29 20:48] bricelam opened #3602 "Remove Roslyn Depencency"
As far as I know, the only thing it's still used for is sanitizing identifiers...

[2015-10-29 20:59] natemcmaster opened #3603 "Query on .NET Native: Improve metadata inference"
Queries on UWP using the follow LINQ operators are likely to fail:

 - SelectMany
 - Join
 - GroupJoin
 - Include
 - Select

Queries that use anonymous types will also fail.

Most will fail with a `MissingRuntimeArtifactException` with a message such as :

because the instantiation was not metadata-enabled

**The problem**

By default, ILC (IL compilation step of .NET Native) drops all metadata ne

[2015-10-29 21:00] natemcmaster opened #3604 "Queries with shadow properties fail on .NET Native"
Any query that uses `EF.Property(e, "SomeProperty")` fails on UWP, .NET Native with this error:

`System.InvalidOperationException: The EF.Property<T> method may only be used within LINQ queries.`

[2015-10-29 21:07] Codenator81 commented on #3573
On linux:
[code]
Looks like sqlite totally broken on coreclr? It works great before...
Current dnx:
 Version:      1.0.0-rc2-16063
 Type:         CoreClr
 Architecture: x64
 OS Name:      Linux
 OS Version:   ubuntu 14.04
 Runtime Id:   ubuntu.14.04-x64
Sorry for emotions ))

[2015-10-29 21:08] #3283 closed

[2015-10-29 21:18] divega commented on #3604
That exception is of course in the body of the method. It is supposed to never be invoked :smile:

Seems like a symptom of the query being evaluated in-memory outside of the control of EF, which is concerning. Have you checked that the SQL of other queries is what expect?

[2015-10-29 21:23] natemcmaster commented on #3604
The SQL never generates. It dies before this point. My untested guess is that the problem is in [EntityQueryModelVisitor.BindMethodCallExpression](https://github.com/aspnet/EntityFramework/blob/5450ca9d07cc722ec5a0f2dfac8f3a4619657202/src/EntityFramework.Core/Query/EntityQueryModelVisitor.cs#L1145-L1147). .Net Native has a concept of a "inspection-only" runtime type that may be tripping up our "Re

[2015-10-29 21:26] natemcmaster commented on #3573
Possible duplicate of https://github.com/aspnet/Microsoft.Data.Sqlite/issues/128. Sqlite stopped working recently on coreclr due to recent changes in DNX.

[2015-10-29 21:29] natemcmaster commented on #3573
@Codenator81 swapping DLLs from the dotnet5.4 to netcore50 TFM works because this version does not have the native library loading code. See https://github.com/aspnet/Microsoft.Data.Sqlite/blob/1bd890502aa86b553caa91f32825394c97e956e6/src/Microsoft.Data.Sqlite/Utilities/NativeLibraryLoader.cs#L4

[2015-10-29 21:50] divega commented on #3604
For the SQL I was referring to what happens with other queries, but you can disregard that. @anpete had a theory (which maybe related to what you are saying): that the logic that tries to match that method call in the expression (so that we can rewrite it) is failing to produce a match.

[2015-10-29 22:16] anpete commented on #3604
@natemcmaster It would probably be OK to switch to matching the Property method via name and declaring type as strings.

[2015-10-29 22:23] natemcmaster commented on #3543
Windows Runtime (WinRT) Components compile to a winmd file, which is not the same thing as a .NET assembly. Metadata from a WinRT component can only be fetched through COM interfaces. Currently, EF.Commands only reads .NET assemblies.

However, we could improve commands to handle this case with a better error message. Stack trace:
[code]

[2015-10-29 22:44] brianro commented on #3429
Rowan – please find the demo file attached. One test case will create and populate the DB. You will see that any test using the relationship ab fails.

From: Rowan Miller [mailto:notifications@github.com]
Sent: Friday, October 16, 2015 5:16 PM
To: aspnet/EntityFramework <EntityFramework@noreply.github.com>
Cc: brianro <brianro@hotmail.com>
Subject: Re: [EntityFramework] Invalid SQL (multi-part bin

[2015-10-29 22:55] divega commented on #3267
@TylerWoods I just tried a recent build of DNX and it seems that the convert expression isn't included, so I think @vsadov's latest fix for https://github.com/dotnet/roslyn/issues/4471 removed the regression.

Just to confirm, do you have a pre-release of Visual Studio 2015 Update 1 installed?

[2015-10-29 23:19] lajones commented on #2840
Fixed HasIndex() issue with PR #3579.

[2015-10-29 23:19] #2840 closed

[2015-10-29 23:51] smitpatel commented on #3429
from the exception message and query written above, `.Include(a => a.B.C)` is used in the query which is not supported at present.

[2015-10-30 00:32] natemcmaster commented on #623
Closing now that EF has basic support for .NET Native. Complete functionality will require more changes. See issues https://github.com/aspnet/EntityFramework/issues/3603, https://github.com/aspnet/EntityFramework/issues/3604 and https://github.com/aspnet/EntityFramework/issues/3561 for further work on .NET Native.

[2015-10-30 00:32] #623 closed

[2015-10-30 00:44] bricelam commented on #3543
This is similar to #1058

[2015-10-30 05:24] maumar commented on #3429
@brianro if the code snippet is not too big you can paste it here

[2015-10-30 05:27] maumar commented on #3429
@brianro otherwise feel free to send the sample to me. My address is [my-githib-account-name]At micr0$oft D0t coooom. Please let me know when you get the address so I can delete this message

[2015-10-30 05:29] maumar commented on #3429
@brianro recently I made some fixes in this area, so its possible that this issue (or parts of it) is already fixed. If you have access to the recent nightly you can verify, otherwise I will do it upon receiving the repro code

[2015-10-30 05:43] uadnan opened #3608 "EF got confused between ConfigurationName and DatabaseName"
![error](https://cloud.githubusercontent.com/assets/8841282/10839157/1ee15d4a-7ef2-11e5-94b0-a2c328404a74.png)

Not all the time but some times EF got confused between ConfigurationName and DatabaseName. See attached image for more detail.

When that happens:
- A project was loaded in VS and in package manager console I executed Update-Database for that project.
- I switched to new TFS workspace a

[2015-10-30 05:45] endink opened #3609 "BUG with multi Include"
There are three Entities:
[code]
Mapping relation like below:
Poster:  (Poster and Theme 1: 1)
[code]
Theme:  (Theme and Part 1 : x)
[code]
------------------------------------------------------------------------------------------------------------
Query:
[code]
Wrong T-Sql generated:
[code]
Looks like alias "[p]" appears conflict,  "*SELECT DISTINCT [p].[Id]*" change to "*SELECT DISTINCT [t].[Id]

[2015-10-30 05:54] maumar commented on #3609
@endink which version of EF7 are you using?

[2015-10-30 05:58] endink commented on #3609
@maumar version is beta8

[2015-10-30 06:46] Anderman commented on #3608
This looks like an EF6 issue? Is that correct? you can open an issue on CodePlex project http://entityframework.codeplex.com/. This GitHub project is for EF7 onwards.

[2015-10-30 09:03] Antaris opened #3610 "Proposal: Compile time model generation."
With the `ICompileModule` feature provided by the DNX, would it be possible to provide the ability to create a compile time instance of `Model` where the properties of the model are statically added through compile-time code generation?

E.g. using a `PreCompileDatabaseModelCompileModule` (ala Razor's pre-compilation compile model), that takes the target compilation, finds an non-abstract DbContex

[2015-10-30 09:33] ErikEJ opened #3611 "Plea for code review of SQL CE provider"
About 1/3 of the code in the SQLCE provider is now residing in a single class. I would be very grateful if someone from the team could take time to review it, to find if there is potential for a different implementation with less code (and any other improvements). Thanks in advance!

https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/blob/master/src/Provider40/Update/Internal/SqlCeModific

[2015-10-30 11:50] brianro commented on #3429
@maumar - E-mail sent. Thanks for all your help. I hope there is something there and I didn't just mess up. I appreciate your time. I understand how busy you guys are.

[2015-10-30 13:22] TylerWoods commented on #3267
Not yet.  I'll see about getting that today and see if it resolves the issue for me.

[2015-10-30 14:20] divega commented on #3267
@TylerWoods I just asked about Visual Studio 2015 Update 1 because I believe the CTP contains the regression in the compiler. I am not recommending that you try it.

[2015-10-30 14:25] TylerWoods commented on #3267
Ah, I understand.  That's unfortunate.  I'll look into using the daily builds instead.  Thanks for the heads-up!

[2015-10-30 15:14] bragma commented on #3597
Thanks to everybody for the useful insight.

@divega  regarding applying migrations at runtime, what about a command line tool that executes "Database.Migrate()"?

Regarding the DI scope, is it wrong to get a context in this way?

[code]

[2015-10-30 16:30] rowanmiller commented on #3610
This feature is already tracked by https://github.com/aspnet/EntityFramework/issues/1906. We prototyped this early on but it has not been turned into a stable feature yet.

[2015-10-30 17:22] divega commented on #3597
The main issue with running code directly in `Startup.Configure()` is that any services (including the DbContext itself) that are registered as scoped will not be instantiated with the right lifetime. There are some more details at https://github.com/aspnet/EntityFramework/issues/3070#issuecomment-139486191 and a discussion on how we can potentially make that easier at https://github.com/aspnet/Ho

[2015-10-30 18:11] rowanmiller commented on #3573
Looks like everything has been addressed (or tracked elsewhere). Feel free to open a new issue if you have other issues.

[2015-10-30 18:16] rowanmiller commented on #3582
@maumar possibly a dupe of something you are already tracking?

[2015-10-30 18:21] Antaris opened #3613 "Question: Adjusting the table expression to include database name"
I'm developing a proof-of-concept approach for using a modular `DbContext` mechanism with a few design goals:
- `DbContext` per module, where  a `DbContext` instance represents a specific problem domain.
- Shared entity types, where all entities inherit from a common `EntityBase` type.
- Dynamic `ModelBuilder` composition based on known entity types of a specific `DbContext` using an `ICompileModu

[2015-10-30 18:28] rowanmiller commented on #3595
@brent-russell any chance you can share your model so that we can run your query to reproduce the issue

[2015-10-30 18:34] rowanmiller commented on #3602
@bricelam what is the value of removing this? Will we just end up replicating the logic to sanitize?

[2015-10-30 18:40] rowanmiller commented on #3611
@mikary can you help out here

[2015-10-30 18:43] rowanmiller commented on #3613
The general approach sounds reasonable... probably best just to try it and let us know what roadblocks you hit

[2015-10-30 18:47] rowanmiller commented on #3309
Actual numbers are actually better than the screen shot too :smile:

[2015-10-30 18:53] eric-newton commented on #3578
I guess that’s likely due to Dependency injection (Unity).  Just another gotcha with DI and object instance lifetimes and reference equality.

Eric
t. +1 (321) 293 0500

From: Rowan Miller [mailto:notifications@github.com]
Sent: Wednesday, October 28, 2015 3:11 PM
To: aspnet/EntityFramework
Cc: Eric Newton
Subject: Re: [EntityFramework] Update-Database fails to run Seed against correct connections

[2015-10-30 19:08] bricelam commented on #3602
Less packages pulled into the user's project, less chance of conflicts with other packages. Yes, we'd just reimplement it locally.

[2015-10-30 19:49] brent-russell commented on #3595
@rowanmiller @maumar Here's a repo with sample code that exhibits the issue (xunit tests)
https://github.com/brent-russell/ef7-beta8-groupby-test

[2015-10-30 20:00] lajones commented on #3394
Split the relationship config lines with PR #3588.

[2015-10-30 20:24] rowanmiller commented on #3595
Perfect, thanks!

[2015-10-30 20:35] rustd commented on #2709
Reopening this issue per the templates review. In RC2 we will update the layout to move migrations to data folder. https://github.com/aspnet/Templates/issues/290

[2015-10-30 20:39] smitpatel commented on #2514
for indexes implemented in bc4609bcb34f57325635e3f3c0a1c20606509cd5
Pending for foreignkeys

[2015-10-30 21:17] divega opened #3615 "Consider removing dependency on immutable collections"
They seem to present no advantage compared to other alternatives for our particular scenarios.

[2015-10-30 22:20] divega commented on #3578
Are you using Unity to create the UserManager? In this particular case you would need to flow the DbContext instance from the Seed method to the UserStore constructor and the UserManager.

[2015-10-30 22:21] davezych opened #3616 "Projection with multiple aggregates only running last one"
If you have a projection with multiple aggregates (I've only tried with combinations of `Sum` and `Count`) only the last one seems to get run, and each property gets the results from that last query.

dnx: `1.0.0-rc1-16048`
EF: `7.0.0-rc1-16147`

Repro:

    public partial class MyContext : DbContext
    {
        public MyContext()
        {

        }

        public DbSet<Forum> Forums { get; s

[2015-10-30 22:38] davezych commented on #3616
I also updated a sample MVC repo with an example of this issue: https://github.com/davezych/EF7_3029/tree/SumCount

[2015-10-30 23:38] bricelam commented on #3611
I noticed similar connection lifetime issues on SQLite in-memory. Migrations can no longer be applied because the connection is closed during the migration so the database goes away after creating the history table.

[2015-10-31 11:00] roji opened #3617 "ColumnType annotation ignored for Where clause?"
I'm implementing some type mapping scenarios for Npgsql and have run into an issue.

PostgreSQL supports some types which don't have a natural corresponding CLR type; for example, the PostgreSQL jsonb type has no natural/universal JSON CLR type. It makes sense to map it to CLR string. This should work well as long as the user explicitly sets the ColumnType on the property to "jsonb"; this should m

[2015-10-31 14:05] jeffogata opened #3618 "Invalid SQL when projection includes a comparison to a Nullable type"
int? selectedId = null;

    var results = await DbContext.Departments
        .Select(x => new {Selected = x.Id == selectedId})
        .ToListAsync();

generates this SQL:

    exec sp_executesql N'SELECT [x].[Id] = @__selectedId_0
    FROM [Department] AS [x]',N'@__selectedId_0 int',@__selectedId_0=NULL

This looks to be similar to https://github.com/aspnet/EntityFramework/issues/2450 (apologie

[2015-10-31 15:02] lasrol opened #3619 "InvalidOperationException saving entity"
I am currently using Beta 8
#### User model

[code]
#### Saving the entity

[code]

When i try to save the entity i get the following exception, and i am not sure why and what this means. The entity is created in the DB, so it seems to be working, but EF throws this exception. Not sure if this is a bug, or just me doing something wrong.

[2015-10-31 16:03] roji opened #3620 "Support for database enums"
PostgreSQL allows defining enums as first-class database types, which can then be used in regular columns. Npgsql exposes this by allowing users to define a mapping between a PostgreSQL enum and a CLR enum.

EF7's type mapping now allows arbitrary types to be mapped to supported database types, this works very well with PostgreSQL types - types such as `macaddr` are successfully mapped in EF7 to .

[2015-10-31 19:08] fargs commented on #1186
I was hoping this would be available as well. I would expect something like this:
[code]

[2015-10-31 19:09] Daniel-Svensson commented on #3554
Please choose a solution that will work for in memory queries as well (such as supporting DateTime.Date or DateTimeOffset.Date  directly). So that we no longer have to write logic that must be different based on if you are executing it against a database or mock/in memory collection.

[2015-10-31 21:25] san7hos opened #3621 "Edmx designer takes 5+ minute when updating from model - EF 6.1.3, VS 2015"
Every time I need to update my emdx from database, the update wizard takes an incredible amount of time to do so rendering itself as not responding once you hit the finish (as finish the update) button.

I use Visual Studio 2015 and LocalDb SQL Server 2014. Some people suggested to install the Service Pack 1 to address the issue. I have installed the SP1 for LocalDb, but it has not helped. My inst

[2015-11-01 12:22] ErikEJ commented on #3621
Hi, this issue list is for EF7, pls post any EF6 issues here: http://entityframework.codeplex.com/
Having said that, do you have the latest EF Tools MSI installed?

[2015-11-01 12:25] ErikEJ commented on #1186
I have reverted on the feasability of this. You can just deploy the dacpac from the command line (or via VS) http://stackoverflow.com/questions/8371879/deploy-sql-server-database-project-via-command-line and then run scaffold command after

[2015-11-01 12:28] San7hos commented on #3621
Hi Erik,

thanks for pointing that out. I will post the issue there.

Regarding the MSI, I am not sure how to find out. However, when I go to the [EF page](https://msdn.microsoft.com/en-gb/data/ee712906), I see only downloads for VS 2012 and 2013 while i am running 2015.

[2015-11-01 12:36] ErikEJ commented on #3621
I missed that - then you already have the latest Tools. Have you tried setting the Compatibility mode for the database to 110 (iso 120) ?

[2015-11-01 12:45] symphony2014 commented on #3405
Thanks

[2015-11-01 12:46] symphony2014 commented on #3405
@rowanmiller  thanks

[2015-11-01 13:00] ErikEJ opened #3622 "RevEng - unable to add EF.Relational.Design package"
Attempting to install the EF.Relational.Design package build 16182 from aspnetcidev fails with:

Attempting to gather dependencies information for package 'Microsoft.CodeAnalysis.CSharp.1.1.0-rc1-20151014-07' with respect to project 'design\EntityFramework.SqlServerCompact40.Design', targeting '.NETFramework,Version=v4.5.1'
Attempting to resolve dependencies for package 'Microsoft.CodeAnalysis.CSh

[2015-11-01 15:10] weitzhandler commented on #1698
Whatever. Anyway I'd love to see it back.
I prefer attributes.
Otherwise there should be something like an `IConfigurationEntity(ModelBuilder builder)` interface, that is called on each entity when implemented.
Anyway I believe this is not achievable since that will require the an instance of each of the entities, which will not the optimal solution, and not always possible at all.

[2015-11-01 16:15] San7hos commented on #3621
Ok, I am shocked. I had the compatibility mode set to 120. It seems it is works way faster when I set it to 110. Thanks

[2015-11-01 17:30] togakangaroo opened #3623 "Where is source for the 6.* versions?"
I realize that this repo is for 7..\* but its been several days since I've asked [in the recommended location on StackOverflow](http://stackoverflow.com/questions/33382943/where-is-source-for-ef-6-1-3) (with bounty even) and on the [codeplex issue tracker](https://entityframework.codeplex.com/workitem/2847#) and haven't so much as received a single response. Do yall know the answer here?

[2015-11-01 18:07] shawnwildermuth opened #3624 "Information Logging in Beta 8 seems to be gone"
In Beta 7 I could turn on Information logging (to the console or debug) and I would get detailed output from EF7, but in Beta 8 it's missing. Is this expected? I couldn't see anything in the release notes.

[2015-11-01 18:32] ErikEJ commented on #3623
I have replied on StackOverflow

[2015-11-01 18:35] ErikEJ commented on #3624
I have some helper classes here, that work(ed) with beta8: https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/tree/master/src/Provider40/Extensions/Logging and https://github.com/ErikEJ/EntityFramework7.SqlServerCompact/blob/master/src/Provider40/Extensions/SqlCeDbContextExtensions.cs

[2015-11-01 18:42] flagbug opened #3625 "Change tracking doesn't handle empty property name properly"
When implementing `INotifyPropertyChanged` on a model and sending an empty string as `PropertyName` in the `PropertyChangedEventArgs` event args, EF throws an `ArgumentException` with the message `The string argument 'propertyName' cannot be empty`

The remarks section of the [MSDN Documentation page] (https://msdn.microsoft.com/en-us/library/system.componentmodel.inotifypropertychanged.propertych

[2015-11-01 20:19] poke commented on #3624
The log level was corrected to be *debug* instead of *information*, since it’s really not information but just very detailed debug stuff. This was actually done shortly after the release of beta 7 IIRC, see #3081.

So if you want to see that information, change the console’s log level to debug, so you see the output.

[2015-11-01 20:32] shawnwildermuth commented on #3624
I didn't see it under debug either. I'll attach my repro later today

[2015-11-01 20:53] dealdiane opened #3626 "GroupBy throws NRE when grouping using navigation properties"
Suppose we have the following:

    public class Handler
    {
        public int Id { get; set; }

        public string Name { get; set; }

        public Pet Pet { get; set; }

        public int PetId { get; set; }
    }

    public class Pet
    {
        public int Id { get; set; }

        public string Name { get; set; }

        public PetType PetType { get; set; }
    }

    public enum

[2015-11-02 09:14] bragma commented on #3597
@divega Thanks for the details.

[2015-11-02 15:00] eric-newton commented on #3578
Yes, we're using Unity.  My thoughts were similar, that somehow we're not correctly flowing the dependency through.

I'll look into it around those suggestions.

[2015-11-02 17:05] ghost opened #3627 "Migration : An item with the same key has already been added"
With the rc1 and rc2 the migration generate an error "An item with the same key has already been added", the problem is that the message not indicate the code which throw the exception.

[code]

The entities are generated correctly with beta8.

But now apparently the migration implement automatically the discriminator in the whole of entities, that's what i see when execute an action with loading

[2015-11-02 17:24] abelepereira commented on #3077
I didn't undertand if templating via .cshtml is being definitely replaced for the ```GetModel()``` approach or if the @rowanmiller 's "for the moment" means it will come back on a later release.
The cshtml templating was actually a pretty nice way to enable [the unsupported] pluralization: https://empiricalthoughts.wordpress.com/2015/09/12/entity-framework-7-database-model-pluralization-part-22/

[2015-11-02 17:59] bricelam commented on #3622
Hmm, it looks like that package requires a project.json based solution. There might be a NuGet or package bug here--I don't think it should block install. This is just one more reason to do #3602

[2015-11-02 18:03] bricelam commented on #3627
@branciat Could you share your entity classes and DbContext class that cause this exception to be thrown?

[2015-11-02 18:03] ErikEJ commented on #3622
But it does block install now :sad: - removing Roslyn sounds like a healthy approach in the long term

[2015-11-02 18:31] divega commented on #3077
We have decided to leave the choice of a template based code-gen technology open for now. It is true that Razor enabled plugging in your own pluralization logic... after all you can do pretty much anything with it, but it also leads to complicated templates that mix concerns like this with the actual code generation. One of the ideas we decided to explore is to provide a hook that allows any custo

[2015-11-02 18:36] divega commented on #3578
As far as I remember migrate.exe has usability issues like you describe, e.g. it won't find the assemblies so it might better to copy it and run it to a folder where it will find them. You can also roll your own code to execute migration commands using the DbMigrator class.

cc @bricelam @rowanmiller in case they can provide a better recommendation.

[2015-11-02 18:38] bricelam commented on #3622
File a bug on [NuGet/Home](https://github.com/NuGet/Home) saying that you can't install `Microsoft.CodeAnalysis.Common` into a `net451` project, and see where that goes...

[2015-11-02 18:52] lajones commented on #3602
We have dependencies on `Microsoft.CodeAnalysis.*` in `Commands`, `Relational.Design` and several test projects. In the src projects it is always a dependency on `SyntaxFacts` which we use to determine invalid characters (both at start and in the middle) of an identifier, whether an identifier as a whole is valid, whether an identifier is a keyword etc.

In the test projects it's more complicated

[2015-11-02 18:53] maumar opened #3629 "Query :: Left Join (SelectMany + GroupJoin + DefaultIfEmpty) doesn't work if the filter is composed on top"
Note that this blocks fixing RC1 bug #3186

repro:

[code]

throws:

Unhandled Exception: System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source)
   at Microsoft.Data.Entity.Query.RelationalQueryModelVisitor.BindMemberOrMethod[TResult](Func`4 memberBinder, IQuerySource querySource, IProperty property, Boolean bindSubQueries

[2015-11-02 18:55] bricelam commented on #3602
To clarify, I just mean removing the dependency from the product (i.e. src), not tests. Compiling code is necessary for the functional tests.

[2015-11-02 19:04] ErikEJ commented on #3622
No SQLCE scaffolding for RC1 then, I guess...

[2015-11-02 19:19] rowanmiller commented on #3578
Yep migrate.exe is very fragile... here is guidance on how to get it work https://msdn.microsoft.com/en-us/data/jj618307

[2015-11-02 19:22] rowanmiller commented on #797
I've seen some good discussion and feedback on this on the ASP.NET Insiders mailing list. We should re-discuss and maybe pull it into RTM.

[2015-11-02 19:23] branciat commented on #3627
Hummm... I have 79 classes and i don't know these that throw the exception :(
I will load the entity framework into visual studio 2015 and break the methods above.

[2015-11-02 20:51] maumar commented on #3464
@thatotherone I just got around to look at this and the fix and the tests you proposed look good. If you like to contribute to EF, go ahead and submit a pull request and I will quickly process it. If you rather not or are unable to sign CLA please let me know and I will make the change instead. Thanks!

[2015-11-02 21:04] natemcmaster commented on #2203
Can we reverse this? We can't run our build our test projects against mono (Linux/OSX) if we use `net46`.

[2015-11-02 21:17] maumar commented on #3582
@brent-russell  @rowanmiller the basic support is in, but some more complex cases are still broken. The plan is to address/fix them as we find them. Just today I found another one - https://github.com/aspnet/EntityFramework/issues/3629

@brent-russell please provide all info/test code you can - we will treat this as one of the LOJ bugs

[2015-11-02 21:28] maumar opened #3631 "Query :: fix ExpressionPrinter after shapers refactoring"
Shapers body no longer shows up in query plan after https://github.com/aspnet/EntityFramework/pull/3628/
so the printer needs to be updated

[2015-11-02 21:49] natemcmaster commented on #3594
Blocked on https://github.com/dotnet/corefx/issues/4273

[2015-11-02 23:04] maumar opened #3633 "Query :: QuerySourceTracingExpressionVisitor doesn't prune EF.Property calls when looking for query sources"
repro:

[code]

throws:

Unhandled Exception: System.ArgumentException: The given expression 'new DtoA() {C = new DtoC() {Id = Property([a], "CId")}}' does not contain the searched expression '[a]' in a nested NewExpression with member assignments or a MemberBindingExpression.
Parameter name: fullExpression
   at Remotion.Linq.Clauses.ExpressionVisitors.AccessorFindingExpressionVisitor.FindAccesso

[2015-11-02 23:20] maumar commented on #3429
@brianro this seems to be fixed in the latest bits, most likely fixed by 41ad57ad2f3755c5e35b51d939fab52b489ce738 or c2b01796fbea1aba41c2f7e46f4a55b8b0a44550.

However your tests uncovered a different bug (https://github.com/aspnet/EntityFramework/issues/3633) that has been introduced after beta 8 was released.

[2015-11-02 23:23] maumar commented on #3429
@brianro  with regards to your comment in the test code:

[code]

for one-to-one mapping we use the generic method to determine which side of the relationship is principal and which one is dependent (i.e. which table the foreign key should be located in). In case of one-to-many this is not needed because the many side is always dependent, so the FK will always be there implicitly.

[2015-11-03 02:12] ErikEJ commented on #3622
@bricelam Bug was already filed in the Roslyn repo https://github.com/dotnet/roslyn/issues/6495

[2015-11-03 02:58] xinyebs opened #3636 "how to debug EntityFramework6 source code ?"
1.When I debug EntityFramework6 souce code , Created a problem:

2.It's Says:" Failed to load file or assembly“EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089”Or one of its dependencies.Strong name validation fails"

3.My app.config file like this:
 section name="entityFramework"type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework,

[2015-11-03 03:37] divega commented on #3636
I assume you are building from source. Are you following these steps?

http://entityframework.codeplex.com/wikipage?title=Getting%20and%20Building%20EF%20Runtime

[2015-11-03 03:39] divega commented on #3636
In particular you will have to do this once:

[code]

[2015-11-03 03:42] xinyebs commented on #3636
@divega  Thank you for your answer.

[2015-11-03 07:14] IonRobu commented on #3584
Hello,

Any progress on this?

Thanks,
Ion

[2015-11-03 07:37] MichaelKetting commented on #2203
The issue originally popped up when it came to using the correct culture in the tests. The actual fix was later done via the ReplaceCulture attribute in XUnit, IRC. No idea if the code actually/still has a requirement for .NET 4.6 to compile.

[2015-11-03 09:06] bragma commented on #1368
Regarding the original suggestion with the CLR class for join table, how should the "Categorization" class be used? Is it application's duty to create and delete instances of those class directly?
Something like...

[code]

And to remove a relationship preserving product and category:

[code]

[2015-11-03 12:01] hahmed opened #3637 "RC1 dnxcore50 Could not load file or assembly System.Data.SqlClient"
**Due to an issue in DNX dependency resolution, the following error may be encountered when running on dnxcore50.**

**This is a confirmed issue in DNX and a fix is underway.**

<hr />

**Outdated Details**

The following details were from the original bug report on Beta 8 which was expected because it was attempting to use SQL Client on OSX. The issue is now showing up on RC1 on Windows (keeping

[2015-11-03 15:08] PrashanthIBM opened #3638 "Query: Support in-memory processing of INTERSECT,CONCAT,EXCEPT,UNION"
Hi ,

I am using EF7BETA6 and trying to run simple set operators and getting an exception.
I think the issue is similar to "Problem with Union Operator #3459 "

Sample Program :

 var query = context.ORDERS.Where(o => o.SHIPCOUNTRY == "Mexico").Select(o => o.Customer).
                Except(context.ORDERS.Where(o => o.SHIPCOUNTRY == "Canada").Select(o => o.Customer));

            foreach (var va

[2015-11-03 15:36] PrashanthIBM opened #3639 "System.InvalidOperationException is thrown when trying to query using 2 entities. Unhandled Exception: System.InvalidOperationException: Sequence contains more th an one element"
Hi ,

I am using EF7Beta6 and trying to combine 2 entities in a query and i am getting
System.InvalidOperationException: Sequence contains more th an one element

In fact for all queries which uses reference to another entity in the linq query is throwing invalid operation exception.

sample program :
 var query = context.ORDERSS.Where(o => o.SHIPCOUNTRY == "Mexico").Select(o => o.Customer.CUSTOME

[2015-11-03 18:40] rowanmiller commented on #3529
Discussed in triage and decided we should have ModelBuilder factories so that folks don't need to worry about conventions etc. (especially since conventions are 'internal' for the first release).

Folks can just create one up like this (note this is a static `Create()` method on the factory rather than a default ctor to get a factory since having a default ctor doesn't play well with DI):

[code]

[2015-11-03 18:41] rowanmiller commented on #3529
BTW when we do this we should consider making convention sets internal too. I know providers might use them... but that is ok, it just means they aren't guaranteed to be stable between releases.

[2015-11-03 18:48] rowanmiller commented on #3546
Hey,

This is by design...

There are two patterns on the Fluent API. The first one drills down on each method call, so you end up with multiple lines of code to configure each entity.

[code]

The lambda overload of Entity that you mentioned is designed so that you do all the config for the entity in the lambda:

[code]

The return type of this is the top level ModelBuilder, so you can keep chain

[2015-11-03 18:49] rowanmiller commented on #3554
Already tracked by https://github.com/aspnet/EntityFramework/issues/2850

[2015-11-03 18:51] rowanmiller commented on #3557
It sounds like there is an issue with miss-matched versions of assemblies. Are you able to reproduce this with a project created from scratch (if so can you post the detailed steps so that we can reproduce and debug it). If not, is it possible to give us access to the project that is failing?

[2015-11-03 18:52] rowanmiller commented on #3560
Hey,

This site is for EF7, for EF6 please file an issue on http://entityframework.codeplex.com/. There isn't really enough info here for us to reproduce the issue. If you open an issue on CodePlex can you be sure to include a code listing that we can run to reproduce the issue.

~Rowan

[2015-11-03 19:28] rowanmiller opened #3640 "Perf: Address model building benchmarks that are slower than EF6"
Building the AdventureWorks model is currently slightly slower than EF6. We have several improvements under way that should make it faster than EF6, but using this issue to track ensuring the overall scenario is sped up.

[2015-11-03 19:28] rowanmiller commented on #3640
One improvement to consider: https://github.com/aspnet/EntityFramework/issues/3587

[2015-11-03 19:29] rowanmiller commented on #3587
Closing as we can just try this as part of https://github.com/aspnet/EntityFramework/issues/3640 and see if it makes a difference.

[2015-11-03 19:29] rowanmiller commented on #3640
One related improvement already underway https://github.com/aspnet/EntityFramework/issues/3476

[2015-11-03 19:30] ajcvickers commented on #3587
@AndriySvyryd @rowanmiller I'm about to send out a pull request that contains this change anyway.

[2015-11-03 19:34] rowanmiller commented on #3608
As mentioned, EF6 issues should be logged on CodePlex - http://entityframework.codeplex.com/. To be able to do anything with this issue though we would need steps to be able to reproduce it.

BTW one possible reason we could see this happening is if you are calling the base constructor if DbContext that takes a string and passing in "DefaultConnection" and then somehow using the context when the W

[2015-11-03 19:34] rowanmiller commented on #3587
Nice :smile:

[2015-11-03 19:36] rowanmiller commented on #3584
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2015-11-03 19:40] rowanmiller commented on #3638
Please try against the latest release (Beta 8) and let us know if this still happens (we've made a lot of progress on query since Beta6)

[2015-11-03 19:41] rowanmiller commented on #3639
Please try against the latest release (Beta 8) and let us know if this still happens (we've made a lot of progress on query since Beta6)

[2015-11-03 19:47] rowanmiller commented on #3631
We can do this if we hit a scenario where we really need it (or customers want it).

[2015-11-03 19:51] rowanmiller commented on #3623
I also replied on CodePlex :smile:

[2015-11-03 19:54] rowanmiller commented on #3622
We are going to go ahead with https://github.com/aspnet/EntityFramework/issues/3602 (and try to get it into RC1)

[2015-11-03 19:56] rowanmiller commented on #3621
This is due to a performance regression in SQL Server, it was fixed in a patch but it looks like it has regressed again - we will follow up with them.

[2015-11-03 19:58] hwassermann commented on #1441
We are experimenting with a minimal solution in /src/EntityFramework.SqlServer/Update/SqlServerUpdateSqlGenerator.cs, assuming .MaxBatchSize(1):
[code]
Perhaps this will be of some use to those more intimately familiar with the codebase, in devising a more comprehensive solution.

[2015-11-03 20:03] rowanmiller commented on #3555
Closing as we have not heard back with a repro. Feel free to reopen if you are able to provide it.

[2015-11-03 20:05] rowanmiller commented on #3552
@AndriySvyryd to take a quick look at the code to see if this is something obvious.

[2015-11-03 20:06] ErikEJ commented on #3621
@san7hos did you install the latest CU as well ?

[2015-11-03 20:07] rowanmiller commented on #2709
We're not going to change this in EF. We have been using Migrations folder for several releases now and haven't had negative feedback. Migrations will still work with the template since we just follow wherever your existing migrations are.

[2015-11-03 20:20] ErikEJ commented on #3602
All those frameworks will be lost in time like tears in rain

Yay!

[2015-11-03 21:01] brianro commented on #3429
Regarding the comment - I gave you a poor explanation:
For indicating which "non-shadow" property stores the FK_Id, why does the intellisense / compiler not infer the type of the FK object, same as when we use a WithMany?

 entityA
                .HasOne(p => p.D)
                .WithOne(p => p.A)
                .ForeignKey<A>(p => p.DId); // Why can't the type "A" be inferred same as WithMany?

[2015-11-03 21:13] thatotherone commented on #3464
Please, go ahead and check this in. Thanks

[2015-11-03 21:17] mikary commented on #2752
Exceptions requiring modification
  - ExpressionParameterizationException - passes expression tree that may contain parameter instance data

[2015-11-03 21:31] #3450 closed

[2015-11-03 22:01] smitpatel opened #3642 "RevEng: Sqlite: Indexes for PK are scaffolded wrongly"
For SQLite, we are scaffolding indexes which are defined on PK properties. If there is no unique keyword in index then we scaffold `unique=false` for index. According to #700 , key's uniqueness will be based on the underlying index object. This causes bug if the PK is used as FK for relationship. Effectively making FK non-unique even though its unique.

[2015-11-03 22:13] bricelam commented on #2664
Re-opening. This was regressed in 78559e6321aec1d6b0aa67abb08673452235d99e

[2015-11-03 23:05] divega commented on #2664
@bricelam what do we need to do? Need to fix it for RC1?

[2015-11-03 23:09] bricelam commented on #2664
Just use `uwp10.0` instead of `netcore50`. It's not functionally important.

[2015-11-03 23:29] maumar commented on #3631
I find it pretty useful for debugging, customers are not likely to need it, but I would still like this in at some point. Not super high priority though

[2015-11-03 23:37] divega commented on #3631
@maumar Then I would be fine with either keeping this issue open in the backlog or to keep it closed and you can still do it any time it will help you.

@rowanmiller any strong preference one way or the other?

[2015-11-04 00:01] rowanmiller commented on #3631
We should close it since it's not something that really matters if we fix or not and therefore we don't need to track, prioritize, triage, load-balance etc. @maumar if you decide to fix it because it is helpful to you then that's fine.

[2015-11-04 00:02] maumar commented on #3631
@rowanmiller @divega  works for me

[2015-11-04 00:03] divega commented on #3621
See http://entityframework.codeplex.com/workitem/2445 for more context on the original SQL Server 2014 regression, the workaround we put in place to compensate and how we ended up removing it in more recent versions of EF Tools.

[2015-11-04 00:47] smitpatel opened #3648 "Topological Sort of CommandBatch gives incorrect ordering"
When we assign new dependent entity to principal end navigation for required fk, the old dependent entity gets deleted and new entity is added to database. Though commands are sorted in a way that we add new entity first and then delete the old entity. For one-to-one FK the fk property should be unique. Therefore the order in which sql sent to database throws exception. This is not happening at pr

[2015-11-04 00:57] maumar commented on #3464
fixed in bf9301dac341e090d288b2c04bbe438ac0a8c62c

[2015-11-04 00:57] #3464 closed

[2015-11-04 00:57] smitpatel commented on #700
blocked by #3648
GraphUpdate tests are failing.

[2015-11-04 01:06] divega commented on #3648
Are these two operations correlated in any way from the perspective of the topological sort? Otherwise should we just do deletes before inserts? I ask because we went over the same change in previous versions of EF and it helped in other scenarios as well.

[2015-11-04 01:41] #3552 closed

[2015-11-04 01:45] cesarblum opened #3650 "Test failure after strong naming"
I'm strong naming all of our packages.

When I strong name EF packages, I start getting a test failure on my machine. I need to get this sorted out so I can proceed with the strong naming, so I appreciate any help I can get from you guys.

Here's what fails:

[code]

[2015-11-04 02:03] divega commented on #90
We support PKs in shadow state that are explicitly created. See https://github.com/aspnet/EntityFramework/issues/3156 for a recent discussion.

[2015-11-04 02:03] #90 closed

[2015-11-04 02:10] divega commented on #3650
It doesn't sound like timing should be part of the tests baselines. If that was the case I would expect these tests to be very fragile even before. On the other hand it could be that strong naming is making everything slower :smile:

@anpete any thoughts?

[2015-11-04 02:10] AndriySvyryd opened #3651 "KeyDiscoveryConvention shouldn't try to create a key on a property on which a non-unique fk is defined"

[2015-11-04 02:10] smitpatel commented on #3650
Try changing the assert to
`Assert.EndsWith(
                @"ms) [Parameters=[FirstParameter='17'], CommandType='0', CommandTimeout='30']
Command Text",
                log[1].Item2);`
like in the `Logs_commands_parameter_values` test.
Since the difference is only in execution time, not sure if we should be asserting execution time.
@anpete - can give more info on it.

[2015-11-04 02:11] cesarbs commented on #3650
@divega Strong name verification does introduce a delay in loading assemblies, so that is very likely.

[2015-11-04 02:13] divega commented on #3650
Well, a delay in the loading of the assembly is a different thing from a delay in the query execution, but at this point it is all speculation. @rowanmiller we should check how our benchmarks react to this.

[2015-11-04 02:19] divega commented on #617
@rowanmiller @anpete Based on the description of the issue I am not sure we still have a reason to keep it open in the backlog. Perhaps we need to clarify what we mean by "better" or create a new issue that is more specific?

[2015-11-04 02:25] divega commented on #921
This was actually added in 9137045e06d7f56c45c175e9b0a677cba9733a7c for Beta6.

[2015-11-04 02:25] #921 closed

[2015-11-04 02:26] smitpatel commented on #3648
the delete & insert operation on `[RequiredNonPkSingle]` are pointing to same `[root]` so unique index constraint on fk property is violated.

[2015-11-04 02:27] anpete commented on #617
This work has been done.

[2015-11-04 02:27] #617 closed

[2015-11-04 02:28] divega commented on #1982
@maumar @rowanmiller @bricelam I must be missing something, but it seems that this is open and in beta 6? :smile: Can you please help me figure out what to do with it?

[2015-11-04 02:30] divega commented on #617
Thanks.

[2015-11-04 02:31] divega commented on #3648
But there isn't any dependency between the two operations, correct?

[2015-11-04 02:33] divega commented on #999
Moving to rc1 which I believe is the right milestone for it. We can probably close it soon.

cc @rowanmiller @bricelam