[2018-01-04 19:43] leak commented on #329
@milasch Sure, maybe it is just me, but classes like these creep me out big time... https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Relational/Migrations/HistoryRepositoryDependencies.cs

[2018-01-04 20:45] ErliSoares opened #10645 "Change query filter on execute"
In the database the type is a string, but in the code I put it to be bool, making the following configuration:

Simplified configuration:
[code]

Simplified entity:
[code]

When I put the filter below does not work, because the 'Imprimir' property is not mapped, does it have any before executing the query change the property to 'DbImprimir' in Query Linq?
[code]

[2018-01-04 21:00] ErliSoares commented on #10645
Change the expression, I think it is possible with:
[code]

[2018-01-04 21:09] ralmsdeveloper commented on #10645
@ErliSoares

I believe, that you are wanting this:
https://docs.microsoft.com/en-us/ef/core/modeling/backing-field

[2018-01-04 21:41] ErliSoares commented on #10645
thanks @ralmsdeveloper, but not work.

Entity property:

[code]

Configuration:
[code]

The following error occurs:

Then I'll try: "Fields without property"

[2018-01-04 23:18] ralmsdeveloper commented on #10645
@ErliSoares,

I do not think it's anything fancy, but it solves your problem!
[code]

[code]

[2018-01-05 00:00] ErliSoares commented on #10645
I think it will be the same alternative, if they were not to change the library I would try to change the query expression using QueryCompiler, but I am afraid to hide this possibility in future versions.

[code]

Change service
[code]

If you have any more ideas, you had to be able to use it along with OData, that way that posted resolves, but when using with the OData querys in service will not

[2018-01-05 00:05] sebastienros commented on #10643
It's actually a runtime error probably due to the benchmarks using the 2.1 runtime

[2018-01-05 00:08] ralmsdeveloper commented on #10645
Did the part I put above help with your initial question?

I suggest that when you open the problem, tell the environment that you are trying to run the tests.
**Example:**
### Further technical details
EF Core version: (found in project.csproj or packages.config)
Database Provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Operating system:
IDE: (e.g. Visual Studio 2017 15.4)

[2018-01-05 00:12] AndriySvyryd opened #10648 "Investigate/fix tests failing for 2.1 providers"
Most of the failures are expected due to fixes in the providers themselves, so we need to add conditional logic to the tests.

[2018-01-05 08:48] NPadrutt commented on #8922
@bytefish  That seems to work, thank you very much :)

[2018-01-05 13:00] bytefish commented on #8922
@NPadrutt Did you clean all NuGet Caches? Double Checked Your Project references, if there is no 4.3 referenced in any project? Cleaned all ``bin`` and ``obj`` Folder? That's my common routine to resolve Xamarin errors...

[2018-01-05 14:32] NPadrutt commented on #8922
@bytefish  yeah tried that as well including restarting VS and delete the packages folder in .nuget. =(

[2018-01-05 16:03] dazinator opened #10649 "Global Query Filter not working"
I am using the SQLite provider in an xamarin app targeting netstandard 2.0 on monodroid80.
I have some records that have a status id.
I am attempting to provide a conditional global query filter.

[code]

Basically when `_filteringOn` is false, I dont want to apply any filtering.
When `_filteringOn` is true, I want the status id == 1 filter to be applied.

When I use my DbContext, If I set `_filte

[2018-01-05 16:12] dazinator commented on #10649
I think I may have raised this prematurely. Will reopen once I have verified issue a bit more fully.

[2018-01-05 20:49] ajcvickers opened #10651 "Remove ISingletonUpdateSqlGenerator delegate registration"
In EntityFrameworkRelationalServicesBuilder. This was added because 2.0 providers register IUpdateSqlGenerator as scoped, but this should be changed to singleton for 3.0

[2018-01-05 22:23] bricelam commented on #8880
I think we discussed this a bit further elsewhere (maybe on Twitter). The conclusions we came to were:
* The snapshot is only used when automatically scaffolding a new migration. There should be nothing preventing teams from manually creating the migrations without a snapshot.
* It would be nice to detect certain situations using #1911 so the tools can give more guidance on how to resolve them.
*

[2018-01-05 22:54] ErliSoares commented on #10645
It did not help much, he had made that attempt, but it could not be that way with other tools and maintenance terms as well.

I wanted the database to be a data type and the other type code was another type, defining the conversion between the types in the source code, but from what I'm seeing it will not be possible.
Leave a few more days to see if any more suggestions appear.

Thanks for the hel

[2018-01-05 23:01] bricelam commented on #10456
I haven't seen this fail since #10458. The retires must be working.

[2018-01-05 23:11] bricelam commented on #10361
This issue was moved to aspnet/EntityFramework.Docs#597

[2018-01-05 23:32] bricelam opened #10653 "Tests: Leverage SeedData"
Now that we have first-class support for seed data, we should update our test suite to use it.

[2018-01-05 23:38] bricelam commented on #10639
What error do you get without `<NoWarn>NU1605</NoWarn>`?

[2018-01-06 00:05] bricelam commented on #10636
Looks like this will only happen on .NET Core since .NET Framework isolates each call inside its own AppDomain.

The reason we're doing it twice is because the logic looks like this:
1. Get the database name (first `ConfigureServices` call)
2. Prompt about dropping the databse
3. Drop the database (second`ConfigureServices` call)

[2018-01-06 00:13] bricelam commented on #10636
(P.S. I'm just adding notes so we can triage this better.)

[2018-01-06 00:37] #10545 closed

[2018-01-06 01:42] ajcvickers opened #10654 "Test experience using 2.0 providers with 2.1 EF Core"
The desired experiences are:
* Existing apps using EF Core 2.0 will continue to work using EF Core 2.1 without updating the provider to a new version
* Ideally, new features should work without provider changes, but this will not always be feasible
* For cases where new features don't work, attempting to use the feature should generate a reasonable exception message

Features to test:
- [ ] Value

[2018-01-06 15:34] SSkovboiSS opened #10656 "Incorrect translation of date substraction."
[code]

Gets translated into:
[code]

Which in turn throws:
[code]

This query should either be translated into DateDiff if possible or perform subtraction on client but definitely not throw.

## Further technical details
EF Core version: 2.0.1
Database Provider: Microsoft.EntityFrameworkCore.SQLServer
Operating system: Windows 10 1703
IDE: Visual Studio 2017

[2018-01-06 16:15] jpiquot commented on #9442
This is an outdated roadmap from Oracle and they don't seem to want to give a new release time.

[2018-01-06 17:16] heightpi commented on #3910
Is there still any work to be done on this?
I have the following classes:
`public class Warehouse
{
public int Id{set;get;}
public string Name{set;get;}
}`
and a child class:
`
public class SupplierWarehouse:Warehouse
{
public int SupplierId{set;get;}
public Supplier Supplier{set;get;}
}
`
In the DB I have one record of each.
and when I do `    var list = await _dbContext.Warehouses

[2018-01-06 17:20] kroleigh opened #10657 "Feature Request: Define Backing Store seperate from POCO"
As an aside:

Search engines are chaos when attempting to understand how to work with EF.  First you will find information for a variety of out dated versions; second, it appears to be incoherent and incomplete; finally, there doesn't seem to be a best practices documentation.

On to my request:
I've been working with SSDT and my own custom datalayer and poco framework.  I hit a roadblock with SSD

[2018-01-06 20:54] ralmsdeveloper commented on #10656
Hello @SSkovboiSS,
This feature is available in version 2.1, using EF.Functions, but if you only need the translation on the server @smitpatel wrote this here:
https://github.com/aspnet/EntityFrameworkCore/issues/10241

[2018-01-06 20:57] ralmsdeveloper commented on #9442
More grace the work of the wonderful team of EF Core, they made available a provider compatible with .Net Framework.

[2018-01-06 21:22] SSkovboiSS commented on #10656
Thank you @ralmsdeveloper, I have already found a workaround. Nevertheless this is a bug and has to be fixed, that's why I created this issue.

[2018-01-06 21:30] ralmsdeveloper commented on #10656
All Right, but if you use TimeStamp, we'll be limited to Day, Hour, Minutes and Seconds.

So it was implemented in EF.Functions, I do not believe the team wants to do this, for version 2.0.1, since it is close to launching 2.1 with this solution.

[2018-01-06 21:35] heightpi commented on #3910
ok, looks like because SupplierId is ForeignKey in one to one realtion, it generated the SQL with Inner Join, changing it to int? fixed the problem

[2018-01-06 21:56] SSkovboiSS commented on #10656
@ralmsdeveloper the problem here is not about client or server evaluating, this query does not work at all, because it is getting translated into totally wrong SQL. And I am also ok with fix in 2.1.

[2018-01-06 22:14] ralmsdeveloper commented on #10656
Exactly because there is no implementation for this:
`(j.StartJob - j.CreateDate)`

[2018-01-06 23:13] SSkovboiSS commented on #10656
Alright, but why current implementation tries to perform this subtraction on database? Shouldn't it just client eval it?

[2018-01-07 08:18] Iveky commented on #9442
ralm, can you post a link with more info? thx.

[2018-01-07 11:12] Tasteful commented on #10175
When creating a new migration file with version EFCore 2.0.0 I got a lot of "project" references in the usings that not are used and if I change the namespace of any of them in the application code the migrations script will get compillation errros if I not removing/changing them manually.

![image](https://user-images.githubusercontent.com/357589/34648884-99525be2-f3a3-11e7-9ae2-f1716833bb55.png)

[2018-01-07 13:23] ralmsdeveloper commented on #9442
Yes @Iveky,

[https://github.com/aspnet/EntityFrameworkCore/tree/dev/samples/OracleProvider](https://github.com/aspnet/EntityFrameworkCore/tree/dev/samples/OracleProvider)

[https://github.com/aspnet/EntityFrameworkCore/wiki/roadmap](https://github.com/aspnet/EntityFrameworkCore/wiki/roadmap)

[2018-01-07 14:13] BruinY commented on #795
From ef birth until 2018, over the years, developers have to need this feature, but haven't implement this feature, don't know is how to evaluate the development team.Also don't know whether this feature will come true

[2018-01-07 14:45] jpiquot commented on #9442
You can only target .NET and not .NET Core:

[2018-01-07 15:05] ralmsdeveloper commented on #9442
Exactly, this is because the oracle provider is not compatible with .NET Core!

[2018-01-07 16:12] ComptonAlvaro opened #10658 "sqlite: sometimes IgnoreCase throws null exception"
I have this table:
[code]

And when I want to search by "Titulo" I use this code:

[code]

It works fine. It ignores case, it is the expected behavior. If I don't use StringComparasion, it isn't case sensitive. If I don't use it, it is case sensitve. So it works as I exepect.

If I do the same with "TituloOriginal", then I get a null reference exception.

The unique difference is that "Titulo" doe

[2018-01-07 21:49] MichaelKetting commented on #6132
@techniq just letting you know, the implementation is under way (https://github.com/re-motion/Relinq/pull/10) but there is an open question that I need to discuss with a colleague of mine before I can close this one up (https://www.re-motion.org/jira/browse/RMLNQ-28?focusedCommentId=20896&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-20896).

[2018-01-07 21:59] techniq commented on #6132
Thanks for your work and update. I'll be keeping an eye on these.

On Sun, Jan 7, 2018, 4:49 PM Michael Ketting <notifications@github.com>
wrote:

[2018-01-07 22:23] techniq commented on #6132
@MichaelKetting - ultimately my hope is to have a functional OData implementation on ASP.NET Core, including support for OData's [aggregate](https://github.com/OData/WebApi/issues/1154).  It appears the error I'm getting when attempting to query with an aggregate will be resolved as a direct result of the work you're doing (adding support for `.AsQueryable()` for EF Core / Linq, unless there is an

[2018-01-08 02:05] smitpatel commented on #10658
`Contains` with no `StringComparison` parameter will translate to server as `WHERE ... IN (...)` SQL.
`Contains` with `StringComparison` parameter causes evaluation on client.
The where clause `x.Titulo.Contains(paramCriterios.Titulo, StringComparison.InvariantCultureIgnoreCase)` is calling `Contains` method on `Titulo`. If you call it on `TituloOriginal` which can be null too then it is going to

[2018-01-08 06:34] vslee opened #10659 "Metadata: Unique Index on derived type does not exclude nulls"
Creating a one to one relationship on a derived type doesn't work if the table name starts with a capital 'S'. The index that is created for the foreign key is usually a conditional index with the filter: "[RssImageRefId] IS NOT NULL");. However, if the table name starts with a capital S, the filter does not get applied. It may be easier to understand by trying the simple program below.
[code]

##

[2018-01-08 06:50] alifatic commented on #5719
is this solve?

[2018-01-08 08:31] SHackauf commented on #9994
I have the same problem in an application I implemented. The only solution I found out at the moment was to check the thrown exception and try to manipulate the data again. That i do maximum 5 times and if than the lock is still on the database i give up.

This solution is really dirty and I hope we found a way to fix the problem inside the framework.

[2018-01-08 11:24] nphmuller opened #10660 "Feature Request: Support DI for migrations by allowing non-empty constructors"
Currently (as of version 2.0) when a migration is created with a non-empty constructor the following exception is thrown during migration:
[code]

Since ConfigureServices is already called during migrations and the ServiceProvider is used to resolve the DbContext it would be really nice if the same ServiceProvider could be used to resolve the constructor of migrations.

This would make it possible

[2018-01-08 11:26] nphmuller commented on #10660
Seems this worked (although unsupported) in 1.0-RC1: https://github.com/aspnet/EntityFrameworkCore/issues/6574

[2018-01-08 12:42] nphmuller commented on #10660
I also tried making a custom operation by overriding the default Sql generator with my own custom one, but when I try to inject the dependency (elastic search client) I get the following error:
[code]

[2018-01-08 13:25] nphmuller commented on #10660
Onto the next problem. The error in my previous comment means I have to register IElasticClient as a DesignTimeService. I can do this by implementing IDesignTimeServices and configuring the service in that class.

The problem is that ElasticClient takes some configuration settings from appsettings.json. However to get to proper appsettings I need to know the hosting environment. Currently I can't

[2018-01-08 13:49] ralmsdeveloper commented on #10660
Is this what you need?
https://github.com/aspnet/EntityFrameworkCore/issues/9415#issuecomment-347944628

[2018-01-08 14:04] nphmuller commented on #10660
@ralmsdeveloper Nope. I'm not trying to create the DbContext at design-time. That already works perfectly. I'm trying to create inject one of my own services in a Migration or a custom SqlServerMigrationsSqlGenerator. See [this](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations#using-a-migrationoperation).

[2018-01-08 15:49] verdie-g commented on #245
@briziomusic Done : https://github.com/verdie-g/StoredProcedureEFCore/releases/tag/v0.3.0

[2018-01-08 16:45] ajcvickers commented on #10644
@ErliSoares Can you explain a bit more what these attributes would do? I don't think there is anything like this now, but I would like to understand if it makes sense to put something on the backlog.

[2018-01-08 17:09] nphmuller commented on #10660
I first tried to add IElasticClient to the design time services by implementing IDesignTimeServices. Turns out the internal service provider does not have access to the customized design time services, so I had to swap out the internal service provider for the main service provider.

Basically I had to turn this:
[code]
Into this:
[code]

[2018-01-08 17:15] ajcvickers commented on #10659
Notes for triage: I was able to repro this. The models look the same in both cases, but the database creation is different. When working:
[code]
When not working:
[code]

[2018-01-08 17:34] #9873 closed

[2018-01-08 17:47] ErikEJ opened #10661 "2.1 provider compat: Cannot build 2.0 provider with 2.1 runtime"
Unable to build 2.0 based provider after upgrading to 2.1 latest daily build:
[code]

### Further technical details
EF Core version: 2.1.0-preview1-28009
Database Provider: EntityFramewor.SqlServerCompact 2.0.1
Operating system: Win 10
IDE: Visual Studio 2017 15.5.1

Source: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/MetaData/Conventions/Internal/SqlCeCon

[2018-01-08 18:23] bricelam commented on #10642
Duplicate of #10265

You can mitigate it by casting to a `double`.

[code]

[2018-01-08 18:26] bricelam commented on #10642
See the discussion in #10249 for more context.

[2018-01-08 18:59] spallister opened #10662 "Cannot filter on Guid column with SQLite provider"
Upon attempting to filter for a single record with a Guid PK, where such a record actually exists in a SQLite database, null is being returned.  The Guid PK value is being stored as a Blob in the SQLite database, and it seems that the way EF Core is generating SQL from LINQ queries, does not allow for querying using Guid values - I must first convert Guid values to strings for filtering to success

[2018-01-08 19:01] #10456 closed

[2018-01-08 20:24] MichaelKetting commented on #6132
@techniq
* Yes, it should be a fully compatible release. (am doing SemVer, so... ;) )
* Issues relevant to EF Core:
https://www.re-motion.org/jira/issues/?jql=labels%20%3D%20RMLNQ-EFCore

Regarding the current issue; I should be able to close up the PR tomorrow and will then drop a new alpha-build. The full build will be when it's needed/requested by our downstream customers, i.e. I'll keep trying

[2018-01-08 20:30] BradBarnich commented on #10639
@bricelam
[code]

[2018-01-08 20:31] techniq commented on #6132
@MichaelKetting

Regarding the alpha-build, that is in regards to Relinq, correct?  From my understanding, at some point you'll need to cut a new major release (due to breaking changes in Relinq) and EFCore will then depend on this version.

If so, I guess the only way to test your change with regards to OData is to checkout EF Core, update the dependency, build, and use this?

Any idea how quickl

[2018-01-08 20:46] MichaelKetting commented on #6132
@techniq Yes, that's re-linq.

So far I have been able to keep things non-breaking but eventually there could very well be a time when this isn't going to work any longer (or takes too much effort for a sensible cost/benefit).

For now, you can just set your own dependency to re-linq v2.0.0-alpha.005 in OData (or even just a test project) and let the binding redirects do the rest. No recompile of

[2018-01-08 21:18] bricelam commented on #10617
This looks like a breaking change in model building in 2.0.

[code]

In 1.1, `FK_Bill` is nullable. In 2.0, it's not.

Interestingly, in 2.0 when the keys are named `Id` or they are different from each other (e.g. `LineKey` and `BillKey`) it becomes nullable again.

@obelixA you can work around the change by adding the following to `OnModelCreating()`.

[code]

[2018-01-08 21:26] bricelam commented on #10639
Hmm, I think I'm going to need your full project to dig into this one...

[2018-01-08 21:47] BradBarnich commented on #10639
@bricelam Here is a repro: https://github.com/BradBarnich/EF21-tools-repro

It's just a 4.6.1 class library, adding EF Tools and SqlServer, then try to run a PMC command...

[2018-01-08 23:13] bricelam commented on #9994
Adding retry logic around the transaction is the correct thing for applications to do with the current design in version 2.0.0.

We'll discuss further as a team, but I think using `BEGIN IMMEDIATE` for `Serializable` is the best thing for us to do from an application perspective.

[2018-01-08 23:19] bricelam commented on #9994
@ericsink feel free to comment, "I told you so." 😉

[2018-01-09 01:38] ericsink commented on #9994
<grin/>

[2018-01-09 12:10] briziomusic commented on #245
@verdie-g thank you! I'm going to test and use it tomorrow

[2018-01-09 13:22] lucassvasconcelos opened #10663 "The property 'ValidationFailure.AttemptedValue' could not be mapped"
I added fluentValidations in my domainLib to validate my entities, but I didn't used ValidationFailure.
In my Data classlib when I'm trying to add-migrations, the package manager console shows me the error below.

I'm using Visual Studio 2017 Community - Version 15.5.2,

I have a web application(netcoreapp2.0) project where I'm referencing my classlib.
In my classlib netstandard2.0 I'm using EF Co

[2018-01-09 13:35] ralmsdeveloper commented on #10663
Can you show us more information?

Your OnModelCreating and Your Class: **ValidationFailure**

This **AttemptedValue** property is probably of the **object** type.

[2018-01-09 14:05] nickverschueren opened #10664 "DbContext dependency resolution fails for replaced services"
For our application to work properly I need to be able to change queries slightly depending on the application's context. This used to be possible using Interceptors, but these don't exist yet.
I tried to work around this using the ReplaceService option on the IExpressionFragmentTranslator and changing the ExpressionTree where needed.
However the component that does this needs to be aware of the a

[2018-01-09 14:19] eduherminio opened #10665 "Allow direct access to discriminators' value using Fluent Api"
### Issue description
Providing TPH & the following, simplified  model:
[code]
`OnModelCreating`: the following restriction is applied to all Organizations, so two Departments with the same name cannot be created.

[code]
### Workaround
We've found the following workaround, using a custom filter:
[code]

However, a more direct way of configuring it would be desirable.

### Further technical detail

[2018-01-09 16:26] mrswain commented on #10099
This commit does not fully solve the issue, I am still getting a migration like in #10334 and I think it is because the migrator still does not properly handle schemas. My structure has three tables that are identical (and have complex types) but separated by schema, I am adding a fourth table that is nearly identical but has an additional column, and adjusted PK, again with a different schema.

T

[2018-01-09 16:31] ajcvickers commented on #10636
Notes from triage: this should be made to work when --force is used since in that case there is no need to get the database name for the prompt. We may get to this in 2.1, but also marking as up-for-grabs since it should be a relatively simple change that somebody from the community could do.

[2018-01-09 16:37] ajcvickers commented on #10645
@ErliSoares When 2.1 is released this will be possible using value conversions--that is, it will be possible to configure the bool property in the model to be converted to and from a string in the database. It should then be possible to use it in the query filter directly.

In 2.0, I don't think that there is a way to do this because the query filter needs the actual mapped property, which has to

[2018-01-09 16:39] ajcvickers commented on #10656
This may already be fixed in the 2.1 code. @SSkovboiSS Can you test with the nightly builds, as listed on the repo homepage: https://github.com/aspnet/EntityFrameworkCore

Assigning to @smitpatel, who will close if this is already fixed.

[2018-01-09 16:51] ajcvickers commented on #10657
@kroleigh Realistically it is very unlikely that Code First will get fluent API for all the cases you describe. Instead, your best bet is probably to extend Migrations by adding annotations to the model and flowing those through the model differ into Migrations. This would allow you to add your own fluent API and potentially your own migrations operations for things that are not supported natively

[2018-01-09 16:57] ajcvickers commented on #10660
@nphmuller While we can see the value in this when used correctly, we have been a little reluctant to implement it because it can also become a pit of failure. Specifically, migrations are used to generate the SQL used to update the database, but it is not executed at that time. Indeed, if scripting is being used it may not even be executed at all on the machine that is generating. Typically when

[2018-01-09 17:02] julielerman opened #10666 "Update-database not finding migrations when solution is moved to a different computer"
Describe what is not working as expected.
I have a solution that I created along with migrations, successfully created the database and then uploaded to dropbox. It's using latest EF Core 2.0.1.

I pulled the solution down to another computer..running the same version of Windows 10 (FCU) and same version of VS2017 (15.5.2), the same version of SQL Server LocalDB and the same (latest) version of .N

[2018-01-09 17:26] ajcvickers commented on #10663
@lucassvasconcelos Documentation on excluding properties is here: https://docs.microsoft.com/en-us/ef/core/modeling/included-properties. I would suggest just using the `[NotMapped]` attribute on the properties that you don't want to map.

[2018-01-09 17:47] ajcvickers commented on #10664
@nickverschueren As you said, there are two different service providers in play here:
* The service provider that the application creates and for which AddDbContext is called.
* An internal service provider used by EF for its internal services.

EF typically does very little with the application service provider--the only thing that interacts with it is AddDbContext, which is specifically for addi

[2018-01-09 17:54] ajcvickers commented on #10665
@eduherminio Can you explain a bit more what the goal is here? If TPH is setup and a query is made for Company entities, then EF will only return Company entities, so it's not clear to me what the filter is for. I'm sure I must be missing something about what you are doing.

Also, note that if you want the discriminator can be a normal mapped property of your entity type and can be accessed as suc

[2018-01-09 18:02] Elite182 opened #10667 "Migration Entity Framework Core 2.0 / Asp net core 2.0"
Hi,

I will break my computer, I pass 2 days on this.
I start a new issue because, I found no solution after read a lot of similar issues.

I have two project in a solution,
- First : Asp net core project, my web app.
- Second : the Core library.

I stock the DbContext and migrations in the core library.

When I use the Package Manager Console to add a new migration (Add-Migration Test), I get thi

[2018-01-09 19:21] mrswain commented on #10099
Ok, looks like this fix is simpler.

https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Relational/Migrations/Internal/MigrationsModelDiffer.cs#L483

Add
[code]

after the string.Equals so if there are multiple mapped tables (which owned tables are) the match only succeeds when the Navigations match as well. Adding that in fixed all issues for me.

[2018-01-09 20:37] SSkovboiSS commented on #10656
@ajcvickers sure, I will test it tomorrow and give a feedback here.

[2018-01-09 21:32] bricelam commented on #9994
We discussed as a team and decided to go back to the version 1.x behavior. We'll continue to track this issue in aspnet/Microsoft.Data.Sqlite#474 where I've written some additional notes.

Duplicate of aspnet/Microsoft.Data.Sqlite#474

[2018-01-09 22:43] jemiller0 opened #10670 "Large model fails with "Aborted (core dumped)" on Linux, works fine on Windows and Ubuntu on WSL"
I have a legacy database with a large number of tables which I generated an EF Core DbContext and entities for using my own custom code generator. The code is contained in a .NET Standard 2 library. I have a .NET Core 2 console application with a simple query in it that I am using to test the library. I am able to run the .NET Core console application without error on Windows as well as on Ubuntu

[2018-01-09 23:04] bricelam commented on #10099
Re-opening

[2018-01-09 23:19] bricelam commented on #10662
What version are you using? (A similar bug #5801 was fixed in version 1.0.1)

[2018-01-09 23:22] bricelam commented on #10666
Doesn't sound familiar. Was the Startup project different between the two?

[2018-01-09 23:35] bricelam commented on #10667
Does `-Verbose` give any additional information?

[2018-01-09 23:38] bricelam commented on #10667
Looks similar to #8163, but that should be fixed...

[2018-01-09 23:48] AndriySvyryd opened #10671 "Make the static Build method on IConventionSetBuilder implementations be more resilient"
Dependency changes break it.

We should consider replacing it with a method that uses the `IServiceProvider` to avoid breaks and use the correct services, like the logger

[2018-01-09 23:49] AndriySvyryd opened #10672 "Merge ICoreConventionSetBuilder with IConventionSetBuilder"
No reason to keep them separate anymore

[2018-01-10 00:17] gregveres opened #10673 "EF on in-memory data crashes on Left Outer Join"
I have a query that looks like this:

[code]
you can define UserTable and PurchaseTable with just public int Id {get; set;}.

When this is executed against the database, it creates a fairly efficient query and it executes without exception because purchase will be Null where the user does not have any purchases and in that case, the purchase value of the returned entry will be null. Fantastic. It

[2018-01-10 00:53] spallister commented on #10662
Using Microsoft.EntityFrameworkCore.Sqlite 2.0.1.

[2018-01-10 02:24] #10638 closed

[2018-01-10 02:57] icecream520 commented on #4062
also has problem

[2018-01-10 05:51] amattar opened #10676 "Owned entities: Eager loading is NOT performed automatically on owned types when the owned property is part of an included query"
having a model like:

[code]

### Steps to reproduce
Querying employee loads the EmploymentData as expected:

[code]

generated sql:

[code]

However, including skills along with employees does not load the owned entities of the related EmployeeSkill entities

[code]
generated sql:

[code]

Obviously, the workaround is to explicitly include the owned entities as well

[code]
generated sql:

[code]

[2018-01-10 07:31] MichaelKetting commented on #6132
@techniq Just to let you know, got some usage feedback and will need to do some additonal feature work regarding the QueryModel, so might be done tonight or during the weekend.

[2018-01-10 08:34] Elite182 commented on #10667
I read this thread before, but I don't log anything yet...

Here is the result of Verbose :
![picture](https://user-images.githubusercontent.com/1653138/34762667-d1d5c7e6-f5e8-11e7-80a1-4f8f47ec1117.PNG)

I saw something strange, before he call the exception, we can see a sort of namespace or path :
"rosoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]"

Is there a mistake when it parse

[2018-01-10 08:37] eduherminio commented on #10665
Using this restriction I want Company (and only Company) names to be unique.
[code]
Due to TPH, and since the field `Name` belongs to Organization, that restriction applies to every Organization (parent of both Company and Department), so there can't be two Departments (or any other class inherited from Organization) with the same name.

As far as I can understand, this three restrictions would ha

[2018-01-10 08:50] Elite182 commented on #10667
Still the same error with 2.1.4 and 2.0.5 upgrade

[2018-01-10 10:28] nickverschueren commented on #10664
@ajcvickers Thanks for your answer, it was very insightful. Unfortunately the service I'm trying to replace is a singleton, so I cannot depend on ICurrentDbContext it seems. I cannot control the lifetime of specific types services, so this approach seems doomed to fail anyway, as you indicated.
I'm now trying a different approach using AsyncLocal<T> to give me the necessary information for the com

[2018-01-10 10:29] nphmuller commented on #10660
@ajcvickers I can see that. Didn't really think about the script generation feature, since we don't use it, but that is a good point.

What's documented [here](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations#using-a-migrationoperation) provided a good base for me to implement my use-case anyway. Since `IMigrationsSqlGenerator` supports DI. The only thing that was re

[2018-01-10 11:43] techniq commented on #6132
Thanks for the update

On Wed, Jan 10, 2018, 2:32 AM Michael Ketting <notifications@github.com>
wrote:

[2018-01-10 11:48] SSkovboiSS commented on #10656
Just tested 2.1.0-preview1-28042 and it still fails.

Query log;
[code]

[2018-01-10 11:57] ralmsdeveloper commented on #10656
@ajcvickers,
I believe this subtraction is only available in EF.Functions.

Implemented in this [commit](https://github.com/aspnet/EntityFrameworkCore/commit/afbb8a79c86a2315f69abf0caf9420d7b0b70dd5)

Hugs!

[2018-01-10 14:18] marcobarbero commented on #5106
From https://expertcodeblog.wordpress.com/2018/01/09/entity-framewor-core-2-0-how-to-view-the-linq-sql-parsed-command-on-asp-net-core-2-0/

You can use the Asp Net Core 2.0 logger to log the SQL command in the output window.
In your Startup.cs

[code]

In your controller class

[code]
I hope this is wath you need.

[2018-01-10 16:03] ajcvickers commented on #10676
Duplicate of #9210

[2018-01-10 16:08] ajcvickers commented on #10665
@eduherminio Thanks for the additional info. We'll discuss this and get back.

[2018-01-10 16:12] NArnott commented on #10642
@bricelam casting to double doesn't seem to work. In fact, it makes it worse. I get all 5 items returned instead of the expected 3 items (or the unexpected 4 items when I don't cast as double).

[2018-01-10 16:22] Wain123 opened #10677 "QueryClientEvaluation in Select doesn't throw when configured to throw"
Say I have a Post-Blog model and the Post has a member function ViewCount() (which is not a mapped property or anything like that, just a plain old member function). My Context.OnConfiguring contains:
`optionsBuilder.ConfigureWarnings(warning => warning.Throw(RelationalEventId.QueryClientEvaluationWarning));`

I would expect the following line to throw a "warning as exception, QueryClientEvaluatio

[2018-01-10 16:33] HappyNomad commented on #4645
I'm working on a synchronization framework that uses EF Core.  Unlike the libraries mentioned above, mine uses deltas.  Changes are sent among client and server in the [JSON Patch](https://tools.ietf.org/html/rfc6902) format - actually, [a derivative](https://github.com/json-patch/json-patch2/issues/20) of it.

Although as a feature it's out of EF Core's scope, this issue should remain open as a g

[2018-01-10 16:58] bricelam commented on #10667
For some reason, it's using `Microsoft.EntityFrameworkCore.Tools` version 1.0.0. Check your `*.csproj` files and ensure the following is somewhere.

[code]

[2018-01-10 17:12] bricelam commented on #10642
You're right. The cast is getting lost. (Same for `OrderBy()`.)

[code]

[2018-01-10 17:17] bricelam commented on #10642
Workaroud
===
[code]

[2018-01-10 17:24] bricelam commented on #4062
@icecream520 Can you submit a new issue with additional details about what you're seeing?

[2018-01-10 18:13] ghost opened #10678 "Database-first scaffolding generates entity names ignoring original casing"
I have an existing `EF6` code base, and I'm trying to port that to `EF Core`. I'm using the following command to scaffold the entity classes from my database

    Scaffold-DbContext "MyConnectionString" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models

It does generate the `DbContext` and the necessary entities. But things have changed a lot from `EF6` including the naming conventions - h

[2018-01-10 18:33] ErikEJ commented on #10678
This is a duplicate/known issue, fixed in 2.1
My "EF Core Power Tools" can help you with some of your issues, and I can work with you to fix any remaining issues

[2018-01-10 18:33] hikalkan commented on #3797
Hi @ajcvickers,

I saw your PR and excited to see how it works. But I'm shocked when I see that we need to inject ILazyLoader interface to our domain entity.

I understand the reason you have written here: https://github.com/aspnet/EntityFrameworkCore/issues/10509#issuecomment-350123405

However, such a lazy loading is so painful and makes our entities directly and tightly depend on EF Core librar

[2018-01-10 18:47] chakrabar commented on #10678
@ErikEJ can you direct me to the original issue/fix?
Meanwhile I'll check your [toolbox](https://github.com/ErikEJ/SqlCeToolbox), thanks.

[2018-01-10 19:06] jbogard commented on #3797
There will *always* be some intrusion on your domain model to get it to
work with lazy loading. Whether it's no-arg ctors, virtual members and
more, there's no way to make your domain model *actually* POCO.

So you'll just have to accept this reference (which tbqh, isn't that much
of an intrusion). Because you're not going to switch out your ORM any time
soon, and even if you did, which I have, it

[2018-01-10 19:11] anpete commented on #3797
@hikalkan

We also have a delegate pattern where your ctor can accept a loader delegate, further decoupling the entity from EF.

@ajcvickers Can talk more about this.

[2018-01-10 21:19] ajcvickers commented on #3797
@hikalkan As @anpete says, they is no requirement for your entity classes to have any reference to EF types. I'll post the examples from the PR (#10624) below since maybe they are too hidden away for people to find. Also, this is only the first check-in and there is more to come, but I am still figuring out some logistics and so don't want to say more immediately and then have to back out of it ne

[2018-01-10 21:27] andrzejmartyna commented on #7259
I've had the same "issue".
Overriding SaveChanges/SaveChangesAsync is confusing for me.
@ajcvickers, you are absolutely right that the function called should be the same that overridden :)

But, looking into code I see FOUR SaveChanges.
int SaveChanges()
int SaveChanges(bool acceptAllChangesOnSuccess)
Task<int> SaveChangesAsync(bool acceptAllChangesOnSuccess, CancellationToken cancellationToken)
T

[2018-01-10 21:35] chakrabar commented on #10678
Found the issue and the fix.
This issue is a duplicate of #9820.
This fix is in #9981.

[2018-01-10 22:01] bricelam commented on #10639
Looks like .NET Framework class libraries are a bit crippled on 2.1. To workaround the issue, you can add the following to your `*.csproj`.

[code]

[2018-01-10 22:10] bricelam commented on #10639
This might go away when the version of MSBuild that ships inside Visual Studio gets updated...

[2018-01-10 22:19] bricelam commented on #10639
@bradwilson @onovotny Have you hit any similar problems from not having binding redirects on .NET Framework Class Libraries?

[2018-01-10 22:48] bradwilson commented on #10639
I have not heard any complaints yet. I'm not using 2.1, personally. Also, we do emit those values for you:

https://github.com/xunit/xunit/blob/master/src/xunit.core/build/xunit.core.targets

[2018-01-10 22:52] bricelam commented on #10639
Ha, nice. That's the solution I'm leaning towards. We also already do `<GenerateRuntimeConfigurationFiles>` on .NET Core.

[2018-01-10 22:57] BradBarnich commented on #10639
ah right, thanks. Works great now

[2018-01-10 23:30] anpete opened #10680 "Oracle Sample: Enable Query Types tests"
Disabling for now as we need some test infra. changes in order to enable these.

[2018-01-11 00:58] julielerman commented on #10666
nope. Weird. I'll experiment with it some time and loop back.

[2018-01-11 01:35] lakeman commented on #10568
I have been attempting to reproduce this, but I haven't been able to work out exactly what the pre-conditions are to produce a simpler test case.

Looking at ModificationCommandComparer.cs;
https://github.com/aspnet/EntityFrameworkCore/blob/fbaebcbfb57f245edfded68f0bad78f4978d8867/src/EFCore.Relational/Update/Internal/ModificationCommandComparer.cs#L41

The collection of ModificationCommand are be

[2018-01-11 02:37] lakeman commented on #10568
I've managed to trigger this reliably;
https://github.com/lakeman/OwnedTypesException

[2018-01-11 05:16] jvelezc opened #10681 "((IObjectContextAdapter)context).ObjectContext.ObjectMaterialized to convert all dates returned from the database to localtime"
Hello it was possible to tap into IObjectContextAdapter to convert dates can I have any alternative to tap into and cast the dates from the query to a specific Kind?
[code]
as shown in these two stackoverflow
https://stackoverflow.com/questions/29496306/how-to-specify-that-datetime-objects-retrieved-from-entityframework-should-be-da

https://stackoverflow.com/questions/4648540/entity-framework-dat

[2018-01-11 06:11] hikalkan commented on #3797
@jbogard:

work with lazy loading. Whether it's no-arg ctors, virtual members and
more, there's no way to make your domain model *actually* POCO.

Thanks. I'm aware of this, unfortunately. But I was expecting more from EF Core :)

My goal is to make domain layer independent from EF Core. I will even use same domain layer with mongodb or another NoSql database. I know it's not a very easy goal, but

[2018-01-11 06:12] xumix commented on #3797
@ajcvickers the main garbage I see in this implementation is
[code]
this is incredible boilerplate for any entity with any usable relations count

[2018-01-11 07:31] toper commented on #2229
+1

[2018-01-11 07:35] toper commented on #4693
👍

[2018-01-11 07:43] ErikEJ commented on #10678
Please try the "EF Core Power Tools" https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools and report any missing features or other issues/bugs here: https://github.com/ErikEJ/SqlCeToolbox/issues - maybe we can work together to fulfill your requirements?

[2018-01-11 08:36] hikalkan opened #10682 "Owned Type as Primary Key?"
Hi,

Suppose that we have an entity like that:

[code]

And ``ClientGrantTypeId`` is defined as:

[code]

`ClientGrantTypeId` is owned type of `ClientGrantType` entity and I want to set `ClientGrantTypeId` type as Id of `ClientGrantType` entity.
I expect that `ClientGrantType` entity has a composite PK in the database (as ClientId, GrantType).

As I see it's not possible to define such a primary k

[2018-01-11 10:33] jansomers commented on #620
Would very much love this feature, also the optional relationships is a must have when implementing entity splitting

[2018-01-11 12:09] iudelsmann commented on #3910
After this is released in 2.1, will I be able to order by derived property? Is there a way to do so now in 2.0?

[2018-01-11 14:03] Tarig0 opened #10683 "Can not create dbcontext pool when more than one dbcontext type is in DI"
Adding multiple dbcontexts to DI container when at least one of them is pool does not always succeed in constructing all of the Contexts.

I would expect, that creating two groups of contexts I would be able to configure each one a either pooled or not without issue.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Crea

[2018-01-11 14:10] Bitsonthefloor opened #10684 "Current preview builds..."
I dont know if there is a problem with the preview publish, or of I am looking in the wrong location but I have been getting the previews from: dotnet.myget.org/F/aspnetcore-dev and I have noticed that the last three preview releases 28042, 28045, and 28051 all are based on the same commit (7ee6e3c). I have been looking forward to trying out the QueryTypes but they are missing form those previews.

[2018-01-11 15:41] sam-wheat opened #10685 "Migration does not ignore self-join entity"
I have a class called Category which has a hierarchical self-join relationship (a category may have a parent category which may also have a parent category, etc.).
Because I obtain data from a third party provider I cannot enforce the FK relationship between category and parent category.

Here is the class: (Edit: adding NotMapped attribute to ParentCategory does not work)

[code]

Here is OnModel

[2018-01-11 15:42] smitpatel commented on #4693
corrected a bit.

[2018-01-11 15:49] dominicrooijackers opened #10686 "GetColumnSchema not supported"
Overnight out .NET core 1.1.0 application broke on our development server.
The application still works fine while running it from visual studio 2015

The error that I'm getting is
An unhandled exception occurred while processing the request.
NotSupportedException: Specified method is not supported.
System.Data.Common.DbDataReaderExtensions.GetColumnSchema(DbDataReader reader)

Stacktrace as follow

[2018-01-11 15:54] flensrocker commented on #6371
I'm still seeing this error with EFCore 1.1.5, when I have a scoped DbContext. As far as I can see, the first DbContext is created (and disposed) in `DbContextOperations.GetContextInfo`. When it comes to the "drop database" command, the same already disposed DbContext is used.

If I use `AddDbContext` with a lifetime of transient, everything is ok.

[2018-01-11 16:37] natemcmaster commented on #6371
@flensrocker can you open a new issue? Although the error may look the same, it is likely a different issue.

[2018-01-11 17:22] ajcvickers commented on #10686
@saurabh500 Do you know if anything has changed recently with regard to the GetColumnSchema method?

@dominicrooijackers This doesn't look like an EF Core issue--GetColumnSchema is not an EF method, and from the stack trace it looks like it is coming from EntityFrameworkExtras, so it might be worth following up with the author of that package.

If this does seem to be an actual EF issue, then can

[2018-01-11 17:27] ajcvickers commented on #3910
@maumar @anpete Can you answer the question above from @iudelsmann?

[2018-01-11 17:40] ajcvickers commented on #3797
@hikalkan @xumix There is really no point in arguing this since this work is not complete and so the whole thing is likely to become a moot point soon. But...I would say that forcing classes to be non-sealed, have at least a protected constructor, and have virtual properties for navigations are bigger impacts on the domain model that the code above. Why? Because those things impact the public API

[2018-01-11 17:48] ajcvickers commented on #10681
@jvelezc In 2.1, you will be able to do something like this:
[code]
This will ensure every time the date is read from the database it is specified as Local automatically. It will also work in projections, etc. which the code above does not handle.

Closing as duplicate of #242

[2018-01-11 17:51] dominicrooijackers commented on #10686
GetColumnSchema comes from dbdatareaderextensions
https://msdn.microsoft.com/en-us/library/system.data.common.dbdatareaderextensions.getcolumnschema(v=vs.110).aspx

I do target the full .net framework

[2018-01-11 17:54] ajcvickers commented on #7259
@andrzejmartyna EF never calls SaveChanges, so really you only need to overrride the method(s) that your code will call. That being said, there are async and sync methods which don't call each other. Within each group one method is just sugar for calling the other method with a default value for the param. So overriding the one with the param would catch all uses.

[2018-01-11 18:36] hikalkan commented on #3797
Thanks @ajcvickers for your time to answer.

[2018-01-11 18:47] mrswain commented on #10686
I was curious so I looked up the dotfx source and that call relies on the provided DbDataReader implementing IDbColumnSchemaGenerator (a 4.7.1 only interface) otherwise it throws the error you reported. You can use CanGetColumnSchema to check if it is supported first, but unless the underlying DB provider that you tell EF to use supports it, it will most likely not. If you are using the stock prov

[2018-01-11 19:05] ajcvickers commented on #9785
Closing this as the work is currently being done in the Identity repo (see https://github.com/aspnet/Identity/pull/1562) and this will feed back into EF as needed.

[2018-01-11 19:06] ajcvickers commented on #10166
This is due to the initial migration not being up-to-date, which is being addressed here: https://github.com/aspnet/Identity/pull/1561

[2018-01-11 19:38] #1171 closed

[2018-01-11 19:38] #10661 closed

[2018-01-11 20:13] ChristopherHaws commented on #2484
I really like the idea of adding support for TVP's! As a smaller change short term, it would be nice if there was a strategy for compressing the parameters using the current process. For example, if there are 2100 parameters getting passed, but 90% of them are just null, maybe we should just pass null as one parameter and reuse it.

For example, currently an insert might look like this:
[code]

Bu

[2018-01-11 20:32] Tarig0 commented on #10683
Another note is that the dbcontexts in question are

CoreDBContext -> ExtendedDBContext

[2018-01-11 23:08] dominicrooijackers commented on #1862
I was using @sirentek's solution. But I am now (after upgrading to .net core 2) getting the following error:

System.MissingMethodException occurred
  HResult=0x80131513
  Message=Method not found: 'Microsoft.EntityFrameworkCore.Storage.RawSqlCommand Microsoft.EntityFrameworkCore.Storage.IRawSqlCommandBuilder.Build(System.String, System.Collections.Generic.IReadOnlyList`1<System.Object>)'.

Who kn

[2018-01-12 00:54] #10637 closed

[2018-01-12 05:53] satyajit-behera opened #10691 "Set MaxLength on TPH discriminator property by convention"
The Discriminator column in TPH is created nvarchar(max) by default.

Can we set it to a fixed length (say nvarchar(200)) and index it globally with one setting.

Thanks

[2018-01-12 07:19] flensrocker commented on #6371
Ok, I will do and also try to setup a repository for reproduction. Thanks!

[2018-01-12 07:48] dazinator commented on #10631
I also saw this exception, and had to work around it by telling efcore to use my own instance of a ILoggerFactory (there was some method for this provided by EF core configuration builder). Pretty sure it shouldnt have been necessary though. All my package versions are consistent as far as I can tell.

Do you run any integration tests on android at the moment?

[2018-01-12 08:26] dazinator opened #10692 "Sqllite on android, migrate and scopes"
In my xamarin android app I build a ServiceProvider on startup and register my DbContext in the normal way using `AddDbContext`.

After I have built the IServiceProvider, but before I show my first view, I resolve a scope factory, create a new scope, and `ApplyMigrations()`.

The scope is then disposed, and then I proceed to creating the first view.

The viewmodel is resolved using the IServicePro

[2018-01-12 08:57] heightpi commented on #3910
@iudelsmann as what I've seen from Pull Requests, this issue/feature is related only to the Inlcude/ThenInclude. I'm pretty sure that OrderBy will require a different logic

[2018-01-12 10:10] chassq commented on #4693
👍

[2018-01-12 10:12] flensrocker opened #10693 "CLI commands: database drop throws ObjectDisposedException"
When running `dotnet ef database drop -f` an `ObjectDisposedException` is thrown, when the `DbContext` is added to dependency injection with a scoped lifetime.

[code]

When printing the stack trace in the constructor and dispose methods, it seems that the first DbContext is created at `DbContextOperations.GetContextInfo`, where it is also disposed (it's wrapped in a `using`).

In `DbContextOperat

[2018-01-12 10:19] kierenj opened #10694 "Recommended context factory injection method?"
I'm looking to run some queries in parallel and understand that I'll need to create multiple context instances for this.  As such I'm looking to inject a factory rather that single instance.  Would you be able to give a little guidance please as to a recommended approach?

It looks like runtime context factories aren't something built-in, and the current DI helper:

https://github.com/aspnet/Entit

[2018-01-12 10:32] iudelsmann commented on #3910
I did some testing and was able to OrderBy derived property by casting (in 2.0).

`
_context.Persons.OrderBy(person => ((Student)person).Registration);
`

 But when ordering by a derived joined property, it did not return the instances of the parent class (it performed inner join instead of left join)

`
_context.Persons.OrderBy(person => ((Student)person).Course.Name);
`

I'm not sure if I'm doin

[2018-01-12 12:20] MaklaCof opened #10695 "Add inheritdoc to migration files"
It would be nice if `dotnet ef migrations add` would automatically add
[code]
to the beginning of generated file and
[code]
at the end of file.
I mean both (migrations and designer).

For example:
[code]

[2018-01-12 13:26] mrswain commented on #10684
looks like it either has been resolved, or it resolved its self as build 28066 is a more recent commit.

[2018-01-12 14:19] sam-wheat commented on #10694
This might be overkill for what you want but it will certainly get the job done - [AdaptiveClient](https://github.com/leaderanalytics/AdaptiveClient) pattern demonstrates a factory pattern that disposes the context correctly after each call.  AdaptiveClient uses Autofac.

    Task<User> userTask =  client.CallAsync(x => x.GetUser(userID));
    Task<Order> orderTask = client.CallAsync(x => x.GetUse

[2018-01-12 14:22] bradmarder commented on #10694
You can try this.

[code]

When `scope` is disposed, it will automatically dispose all instances resolved from it.

[2018-01-12 14:25] kierenj commented on #10694
Thanks sam, brad, although I'm more comfortable using a lightweight factory pattern where possible.  Injecting a service factory would seem to be taking the Service Locator pattern a step too far (at least, for me), and AdaptiveClient looks great but indeed is probably again a bit overkill for me.

I guess my point is in terms of "doing DI right", I truly am only dependent on a factory for the con

[2018-01-12 14:40] sam-wheat commented on #10694
You might try something like this:

    Func<string,DbContext> contextFactory = connectionString => {return new DbContext(connectionString); }

    // register contextFactory with your DI container of choice

    public class MyService
    {
        private DbContext db;

        public MyService(Func<string, DbContext> dbFactory)
        {
             string connectionString = // read from confi

[2018-01-12 15:50] kierenj commented on #10694
Thanks Sam, indeed I know I can create a factory (though I wouldn't have the consuming component have to read config - kind of the point of the factory, to take away those details).

I'm just wondering if there's a preferred or recommended method from the EF Core devs.

[2018-01-12 15:50] chrisdpratt commented on #9705
Just ran into this as well. However, in my experience, columns *are* persisted to the database and saved correctly, but when retrieving back from the database, EF Core does not fill the properties with the values from the database. They all remain null/default.

[2018-01-12 16:28] ajcvickers commented on #10691
@satyajit-behera I just sent a PR to update the docs for it: https://github.com/aspnet/EntityFramework.Docs/pull/601. Here's the update:

## Configuring the discriminator property

In the examples above, the discriminator is created as a shadow property on the base entity of the hierarchy. Since it is a property in the model, it can be configured just like other properties. For example, to set the

[2018-01-12 16:32] flensrocker commented on #10694
IMO you don't need to use DI for everything. Just `new`  the needed DbContext instances. If you need DbContextOptions or whatever from DI, feed your part of the app with that.

This is also the way to go if you need to reset the ChangeTracker of your DbContext.

[2018-01-12 16:40] ajcvickers commented on #10692
@dazinator There is nothing in inherently "wrong" with what you described above, although it does seem to indicate a long-lived context instance, which is usually not recommended. A couple of other points:
* There is no requirement that you have to use D.I. and AddDbContext with EF. The DbContext is designed to be newed up and disposed in the normal, non-D.I. way, just like previous versions of EF

[2018-01-12 16:57] bricelam commented on #10693
Looks like the same root cause as #10636

[2018-01-12 17:12] ajcvickers commented on #10631
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-01-12 18:18] saurabh500 commented on #10518
@ajcvickers are these tests targeting the local sql server?

[2018-01-12 18:25] maumar commented on #3910
@iudelsmann can you post the model you used to get the INNER JOIN query? (entities and contents of OnModelCreating method on DbContext).

I tried similar query on current bits and got query with LEFT JOIN:

[code]

[2018-01-12 19:10] ajcvickers commented on #10518
@saurabh500 Not sure, but I don't think so. @smitpatel?

[2018-01-12 19:16] DOMZE opened #10697 "DbContext.ChangeTracker keeps entities in cache in multithreading when using a new dbContext for each thread"
Creating a new DbContext in a Task doesn't create a new clean DbContext.ChangeTracker collection.

When a task enters the using, and another task enters it afterwards, without having a synchronization lock object, the DbContext.SaveChanges() returns a SQLException:
Cannot insert explicit value for identity column in table 'Table' when IDENTITY_INSERT is set to OFF.

Upon adding a synchronization l

[2018-01-12 19:31] ajcvickers commented on #10671
@AndriySvyryd to investigate if we need to replace this and if so with what?

[2018-01-12 19:56] geleems commented on #10518
@smitpatel @ajcvickers

It seems this issue was already reported, and the fix was merged to both master and release/2.0.0.
Please see below for the details.

### SqlConnection failure issue when having multiple concurrent connections
We had an SqlConnection failure issue when having multiple concurrent connections. I was due to attempt to connect by asynchronously to server even when synchronous `

[2018-01-12 20:16] ajcvickers commented on #10662
@spallister Can you please post a runnable project/solution or full code listing so that we can attempt to reproduce what you are seeing?

[2018-01-12 20:21] ajcvickers commented on #10678
Closing this as duplicate. @chakrabar Changing "DOB" to "Dob" is by-design. It's a pretty common code style to do this, and, for what it's worth, it's even in the Microsoft design guidelines.

[2018-01-12 20:35] Lg0enga opened #10698 "Self referencing many to many relationship"
I want to create a many to many relationship in EF Core. My entity ```Product``` has many ```Product``` as childs. I have created a Lookup table with a ```ProductId``` and a ```ProductParentId``` and a reference to the ```Product``` Entity, but ```ProductParentId``` reference is null.

How can I also reference ```ProductParentId``` to a ```Product```?

#### Product Entity
[code]
#### ProductChild

[2018-01-12 20:45] ajcvickers commented on #10685
@sam-wheat The code above ignores one navigation property (`ParentCategory`) but not the other (`ChildCategories`). This means that, by-convention, EF will create a uni-directional relationship using only the navigation property that is not ignored. To remove the relationship entirely the other navigation property needs to be ignored as well.

It it still creates the FK after making this change, t

[2018-01-12 20:50] ajcvickers commented on #10686
Moved to https://github.com/dotnet/corefx/issues/26302

[2018-01-12 20:52] ajcvickers commented on #10693
@flensrocker Currently we do not plan to fix this in the 1.1.x codebase. If its is not possible to update to a 2.0.x release, then you might consider a SQL script or a little utility app that uses `context.Database.EnsureDeleted()` as a workaround.

[2018-01-12 20:52] #10693 closed

[2018-01-12 20:58] ajcvickers commented on #10695
@MaklaCof We will have a think about adding XML comments to the generated code, but we don't plan to do it at the present time. Beyond that, we don't want to generate this pragma all the time because most people will not need it. However, there is a similar discussion about auto-generated in issue #10203. I posted a code snippet in that issue showing how to override the generator to add a line--th

[2018-01-12 21:00] angularDevd commented on #4693
+ 1

[2018-01-12 21:00] ajcvickers opened #10699 "Package manager prompt hangs"
Moved from https://github.com/aspnet/EntityFramework6/issues/434 since this is an EF Core scenario.

From VS Feedback:

Package manager prompt is not restored after sucessfully completing add-migration or update-database operation.

PM> update-database
infoinfo:
Applying migration '20171216085326_IssueEditedBy'.
Done.

Closing the Package Manager Console does not help as it is greyed out on the Vi

[2018-01-12 21:01] angularDevd commented on #4693
:+1:

[2018-01-12 21:03] ajcvickers commented on #10699
[IssueTracker.zip](https://github.com/aspnet/EntityFrameworkCore/files/1627475/IssueTracker.zip)

[2018-01-12 21:04] Nickolay-Suslov commented on #9427
are this solved in 2.0.1?

[2018-01-12 21:07] Tarig0 commented on #10683
A Can't inject DbContextOptions<ExtendedDbContext> into CoreDBContext error will display if both dbcontexts are pooled.

If I have the core dbcontext as the last and change the constructor of the extended to allow the non generic DBContextOptions I am able to get it to work.

[2018-01-12 21:10] maumar opened #10700 "Query: should we expose explicit cast to be used in queries by users?"
Sometimes explicitly casting something can solve/workaround some issues in query pipeline (e.g. #10642). Problem is that the pipeline removes all the redundant casts. We have ExplicitCastExpression that persists and gets translated to sql but users can't create it if they need it.

We could add a builder method, e.g. in EF class

[2018-01-12 21:46] AndriySvyryd commented on #4693
@chassq @angularDevd Only the reactions on the **first post** are counted. All `👍` and `+1` comments will be ignored.

[2018-01-12 21:58] ajcvickers commented on #10518
@geleems Thanks for the update. Assigning to @smitpatel to re-enable the tests and monitor.

[2018-01-12 22:02] ajcvickers commented on #9427
@Nickolay-Suslov This issue is marked as a duplicate of #9180 and that issue is marked for fix in 2.1, so no, it's not fixed in 2.0.1.

[2018-01-12 22:12] ajcvickers commented on #10698
@Lg0enga A many-to-many relationships means that each Product has many ProductChild and each ProductChild has many Product. From the code above, it looks like you might want a many-to-one relationship, where every Produce can have many ProductChild, but each ProductChold only has one parent Product. Can you confirm which mapping is what you are looking for?

[2018-01-12 23:03] LordMike commented on #10649
@dazinator you also have another option: Using `IgnoreQueryFilters` on the `DbSet`. This bypasses all filters.

[2018-01-12 23:10] LordMike commented on #10561
I came here as I'm experiencing what seems like a bug in `.ThenInclude`, probably much like the many-to-many example above. Am I to understand that ...

In a hypothetical setup with types `BlogPost` <-> `BlogPostAuthors` <-> `Author`, that if I "start" my query on `BlogPost` like this:

[code]

.. it will not work? (reason for doing above is a series of filtering on BlogPosts)

From what I gather,

[2018-01-12 23:20] flensrocker commented on #10693
That's ok with me. There are enough possibilities to drop a database. I plan to upgrade to 2.x, but currently there are problems with angular-end2end tests and protractor. But that's not related to EFCore.

Thanks!

[2018-01-13 00:22] maumar commented on #10561
@LordMike

[code]

should work. If authors are not being pulled for you, could you share your model (entities and contents of DbContext.OnModelCreating)?

[2018-01-13 01:00] dazinator commented on #10649
@LordMike thanks, I knew about that but I have some additional filters I need to keep in place (like soft delete) so ignore filters wasnt an option for me. The above code actually did work in the end so it turned out to be a nice way to have conditional filters.

[2018-01-13 01:11] dazinator commented on #10692
Thanks for the reply.
I'll ensure my app creates a scope before resolution and I think that should hopefully solve this problem.
I know DI isn't a requirement to new up a dbcontext (would be alarming if it was) but those following modern principles will often leverage it, so I think there is some value to having some examples or docs for some netstandard scenarios outside asp.netcore (i.e xamarin)

[2018-01-13 01:45] AndriySvyryd commented on #10670
@jemiller0 I was able to repro on Windows by limiting stack size:
[code]

The StackOverflowException is thrown when `OleContext.OnModelCreating` is *about* to get executed. And it's simple because it's so gigantic. I wasn't able to confirm this using the debugger, but I suspect that all the lambda delegates created for the configuration calls just don't fit on the stack. You can workaround this in

[2018-01-13 03:07] rcollette opened #10702 "MigrationsSqlGenerator.Generate model parameter ArgumentNullException calling provider on revert"
Exception while reverting a single index using the command:
`dotnet ef database update InitialMigration`

[code]

[code]

### Further technical details
EF Core version: 2.0.1
Database Provider: MySql.Data.EntityFrameworkCore 6.10.5
Operating system: OSX
IDE: VSCode

[2018-01-13 06:16] MCFHTAGENTS commented on #10665
I thought I would add to this. I have a field in the database that needs to be a discriminator; part of the primary key of the table, and a text field of defined length and/or an integer constrained as a foreign key. I don't believe I can do this with the current fluent API.

I have worked round this by adding a second column that is the key and a text field

[2018-01-13 09:19] satyajit-behera commented on #10691
Thanks. This fixes for each entity individually. Is there any way where I can set it for all the discriminators across Context in one setting.

[2018-01-13 14:07] ErikEJ commented on #10661
Thanks!

[2018-01-13 14:36] Lg0enga commented on #10698
@ajcvickers I make a mistake. The ```Product``` entity has two list of ```product```. One list of ```Product``` childs and one list of ```product``` parents. the parents and the childs are types of ```Product```.

That are two self referencing many to many relations ships. How can I get two lists of ```Product``` in the ```Product``` Entity?

#### ProductParents lookup table
[code]

#### ProductCh

[2018-01-13 15:25] jemiller0 commented on #10670
Thanks, I will try using strings instead of lambdas. Also, I will try by creating an initializing the model on a separate thread with a larger stack size. My complaint at this point is about the .NET Core runtime. Why is it not printing a stack trace? Also, it seems odd that the behavior is different depending on what OS it's running on.

Maybe using the strings will speed up the initialization al

[2018-01-13 15:27] jemiller0 commented on #10670
Also, what confused me was that it didn't fail part way through OnModelCreating(). I put print statements in there and they weren't executed. As you mentioned, it failed before OnModelCreating() which was a mystery to me.

[2018-01-13 15:55] kierenj commented on #10694
Ok sure - I used to use IDbContextFactory, but that's deprecated for some design-time thing.  Just checking there wasn't a replacement, really.

[2018-01-13 17:40] onyand commented on #10194
Dear Arthur,

Thanks for your feedback. I managed to get a workaround on this by setting the key column attributes with the "IsModified" property to false as shown below.

context.Entry(rowobject).Property(p => p.<columnname>).IsModified = false;

Regards,

D.O.

________________________________
From: Arthur Vickers <notifications@github.com>
Sent: Tuesday, January 2, 2018 10:17:11 PM
To: aspnet/E

[2018-01-13 18:51] codepb opened #10703 "Allow EF to call parameterized entity constructors"
When trying to create classes with only readonly properties, you currently have to use properties with backing fields to be able to construct with Entity Framework, and it is required to have an empty constructor. It would be preferable if Entity Framework could construct the objects by passing the values to a constructor with a parameter of the same name (much like JSON.net can). This would allow

[2018-01-13 21:52] weitzhandler commented on #5536
Anyone caring about this issue at all? Any updates?
Since you took away Silverlight and RIA Services, you never offered a proper alternative to make it easier to develop LoB apps.
There needs to be a better and more comprehensive solution to deal with disconnected entities in the client side.
Xamarin.Forms is acquired by MS, but no official proper solution is offered to deal with client side data.

[2018-01-14 05:19] jemiller0 commented on #10670
I removed all the lambda functions and instead used typeof()/nameof() with strings instead. This improved startup time from 16 seconds to 12. However, it is still failing on Linux. It does work, if I initialize the context on another thread with a 1 MB stack.

[Ole7.zip](https://github.com/aspnet/EntityFrameworkCore/files/1629066/Ole7.zip)

It would be great if the attributes were enhanced to supp

[2018-01-14 06:23] atrauzzi opened #10704 "What is the correct path to upgrade migrations from Core 1.x to 2.x?"
I'm currently looking at upgrading an EF Core 1.x project to 2.x, although none of the tutorials I've been able to find offer any guidance on what to do with my migrations.

What's the way forward here?

[2018-01-14 08:39] kevinding0218 commented on #8201
Instead of using like previous:
var query = db.Set<B>().Include(b=>b.A);
var list  = query.ToList(); // 2 row  : SELECT * FROM B INNER JOIN A on B.AId = A.Id
var count = query.Count(); // return 5 : SELECT count(*) FROM B
----------------------------------------------------------------
here is what I found might work:
var Current_B = this._context.B.Single(b => b.Id == Id);
return await this._cont

[2018-01-14 11:54] JohnHe404 opened #10705 "why Fluent API IsRequired not get Exception?"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2018-01-14 11:59] HeMinzhang commented on #10705
and you can look Migration generated code have a error:

should be:

[2018-01-14 12:26] ileve opened #10706 "EF Core 2.0.1 AfterSaveBehavior for read-only identity column is set to PropertySaveBehavior.Save instead of PropertySaveBehavior.Throw"
I noticed that in EF Core 2.0.1 an identity column which is not a primary key, has its `IProperty.AfterSaveBehavior` equal to `PropertySaveBehavior.Save`, although it has a read-only behavior.

It is based on my question in stackoverflow.

[https://stackoverflow.com/questions/48244597/ef-core-2-0-1-aftersavebehavior-for-read-only-identity-column-is-set-to-property](url)

Exception message: no exce

[2018-01-14 14:30] NoFear23m opened #10707 "CompareString in VB Project will be evaluated locally"
Hy at all. Sorry for my bad english ;-(

Today i was wondering about the logoutput from EF.
I have the following code:

[code]

EF Generates the following log:

'from DefaultValueManager i in DbSet<DefaultValueManager>
where int CompareString(
    Left: [i].ViewModel,
    Right: __$VB$Local_viewModelName_0,
    TextCompare: False) == 0
where int CompareString(
    Left: [i].OnEvent,
    Right: __$

[2018-01-14 15:30] HeMinzhang commented on #10705
sorry,I find the error because of the use of memory database.

[2018-01-14 15:48] ErikEJ opened #10708 "2.0 provider compat with 2.1 runtime"
Testing the SQLCE 2.x provider against the latest 2.1 preview build, I had to change the following code, I wonder if it is a Backwards compat issue?

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/commit/ddbab9fa9c8f3eb4cbb846bacfdf086439cc4f0e#diff-bd4bdd81fe651de7b5426b6578f5846dL75

### Further technical details
EF Core version: 2.1.0-preview1-28072
Database Provider: SQLCE 2.0
Oper

[2018-01-14 20:21] LordMike commented on #10561
Entirely true. I simplified my model a bit too much. I actually have an extra relation, my "authors" have a number of "properties" (another table).

So the code is actually like this (A Reservation has many Applicants, Applicants have many Reservations. Applicants have many Properties). I'm interested in all Applicants for a Reservation, and since semantically the Reservation is the "primary" obje

[2018-01-15 00:59] Janidbest commented on #7444
we have hit this today for a change in Identity user Id datatype..
Considering the production scenario, not really sure going ahead to drop and recreate which means potentially we may loose the data which are foreign  key referenced. or perhaps drop the constraints and update the data using some helper scripts on the dependent tables.. !!

not so easy change I guess. I expect at least ef migration

[2018-01-15 03:00] maliming commented on #10407
waiting...

[2018-01-15 03:56] granthoff1107 opened #10709 "Unable to cast object of type 'System.Int32' to type 'System.Linq.Expressions.LambdaExpression'"
I've already looked at this issue https://github.com/aspnet/EntityFrameworkCore/issues/10271,

I'm aware of the closure issues so I've referenced a variable registered in a singleton.
Yet, I still am getting an error

Microsoft.EntityFrameworkCore -Version 2.0.1

My code:

[code]
Startup:

[code]
Authorized context:

[code]

[2018-01-15 04:34] mrlife commented on #10683
I get the same error, but if I change AddDbContextPool to AddDbContext and comment out the following code, all within `Startup.cs`, it works. It used to work fine without these modifications.

[code]

[2018-01-15 09:19] AccessViolator opened #10710 "Question: Resolving DbContext by marker interface"
Say in ASP.Net application I register DbContext using `services.AddDbContext<MyContext>(...)` or `services.AddDbContextPool<MyContext>(...)` (with default scoped lifetime) and then also do `services.AddScoped<IMyContext, MyContext>()` where IMyContext can potentially be just an empty marker interface that MyContext "implements", to be able to inject the context using IMyContext instead of MyContex

[2018-01-15 10:26] iudelsmann commented on #3910
@maumar Ok, I have omitted some stuff but this is basically it. One "detail" I forgot to mention, I'm using Postgresql and Npgsql (everything is 2.0, will update to 2.0.1 soon).

Models (BaseModel and Model are abstract classes):

[code]

There is nothing related to this tables in `OnModelCreating`.

When doing this query (paged search):

[code]

I got this query (for the first page) (omitted some

[2018-01-15 11:53] zivillian opened #10711 "Support ArrayIndex expressions in where clause"
Using an array index expression (`array[i]`) in a where clause results in client side evaluation.

[code]
The above code issues a warning (`The LINQ expression 'where ([x].Name == __values_0[0])' could not be translated and will be evaluated locally.`) and the generated SQL is missing the WHERE clause:
[code]

Introducing and using a local variable works as expected and the generated SQL contains

[2018-01-15 12:43] John0King commented on #8201
@kevinding0218  that does not work for my case. Previously I do not want use join is because EF 1.x.x is not stable for complex query. and 2.x is much better now .

and thanks anyway .

[2018-01-15 13:23] jacobpovar commented on #10447
Having exactly same issue. Is there any temporary workaround ?

[2018-01-15 15:09] viveknuna opened #10712 "How to create User defined functions using ef core 2.0 code first approach?"
I want to create user-defined functions using code first approach. I'm able to create Stored Procedures by add example.sql inside EntityFrameworkCore\Migrations\Stored Procedures folder but not able to find a way to create UDF, so that I can add them to migration in C# code. So once I run update-database it will create UDF in DB.

Further technical details
EF Core version: 2.0.1
Database Provider:

[2018-01-15 16:51] SSkovboiSS commented on #10712
@viveknuna please check section 'Database scalar function mapping' here:
https://docs.microsoft.com/en-us/ef/core/what-is-new/

[2018-01-15 18:32] viveknuna commented on #10712
So it means Currently only scalar functions are supported and We must create the mapped function in the database, e.g. EF Core migrations will not take care of creating it. So it means I have to explicitly create function in DB as well, Migration won’t consider functions. Right?

[2018-01-15 19:27] SSkovboiSS commented on #10712
Right, but you can create empty migration and declare your function there instead of explicitly creating it on database. Something like this:

[code]

[2018-01-15 20:29] we4sz commented on #1679
@anpete What's the status on this, is it planned in any coming release 😄?

[2018-01-15 21:04] ConX-Ryan commented on #8922
This is still an issue? is this being worked on or should i move to a more stable library for a new project?

[2018-01-16 00:38] granthoff1107 commented on #10301
@ ajcvickers I'm receiving a similar Issue to this even when using the work around through OnModelCreating.   https://github.com/aspnet/EntityFrameworkCore/issues/10709,  is there a temporary fix for this or a work around, or pre-release of 2.1.0 or should I just end up using EntityFramework-Plus?

[2018-01-16 05:39] viveknuna commented on #10712
Thanks a lot for your help, Its creating scalar-valued function, but in my case, I need to create table-valued function. I know its EF Core limitations that We cannot create table-valued functions, Is there any way or some hack to create a table valued function?

Thanks a lot for your help :)

[2018-01-16 07:26] TheConservativeCoder commented on #8922
I had to move to Dapper because of this problem which works great on mobile but doesn't do migrations.

[2018-01-16 10:13] imarkevych90 opened #10713 "EF Core Include with FromSql extension without sub SELECT"
I have some query to get companies from database like this:

[code]

It works well, but have a little problem after I run Sql Server Profiler and check selector. It's look like this:

[code]

The problem is in selector. Can I get query like following using Include and FromSql extensions(without sub SELECT)?

[code]

[2018-01-16 15:51] sayfulloev commented on #9950
I had the same issue when trying to execute `Scaffold-DbContext` command. Adding explicit table names after `-Tables` fixed the issue.

[2018-01-16 16:03] Tarig0 commented on #10712
There's nothing stopping you from using fromsql to call the function directly.

[2018-01-16 16:36] pmiddleton commented on #10712
There is already an open issue for this #9393 you can track.

[2018-01-16 16:52] ajcvickers commented on #10301
@granthoff1107 This issue isn't fixed yet--hence it is still open. #10709 looks somewhat different although I agree that it could be the same root cause. We'll look at it in triage.

[2018-01-16 16:54] ajcvickers commented on #1679
@we4sz This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-16 17:04] ajcvickers commented on #10710
@AccessViolator That should work fine for AddDbContext. For AddDbContextPool, there are a couple of issues (#9741, #9433) that are fixed for the 2.1 release, but may cause issues with the current 2.0 release. If you do hit issues, you could consider testing on the nightly builds for 2.1 which are listed on the repo homepage: https://github.com/aspnet/EntityFrameworkCore

[2018-01-16 17:14] ajcvickers commented on #10704
@atrauzzi Migrations created with EF Core 1.x should work with 2.x. If you are seeing issues, then please post full details.

[2018-01-16 17:16] ajcvickers commented on #10703
@codepb This is already implemented in the 2.1 code. You might consider giving it a try using our nightly builds, which are listed on the homepage: https://github.com/aspnet/EntityFrameworkCore

[2018-01-16 18:07] codepb commented on #10703
Excellent news, thanks! I didn't see an issue for this already, so apologies if I missed that.

[2018-01-16 19:13] atrauzzi commented on #10704
What are my steps for bringing them over?

[2018-01-16 19:41] ajcvickers commented on #10704
@atrauzzi I'm not sure what you mean. When you update your app to use 2.x, the migrations should remain unchanged.

[2018-01-16 20:03] dazinator commented on #8922
I was using EF Core 2.0 just fine, and then issue only started occuring for me after I moved from `packages.config` to `packagereference`.
@bytefish
Adding a package reference to `System.Runtime.CompilerServices.Unsafe` `4.3.0` resulted in a package downgrade build error. I added the `NoWarn` for that error which allowed the build to proceed - which now gets as far as this linker error:
[code]

An

[2018-01-16 20:03] anpete commented on #9327
As @divega says, the only time we do automatic include is when the target navigation is owned.

@michaelsogos You can always add a method or property to your context that creates a ParentEntity query, initialized with any Includes you need. E.g.
[code]

[2018-01-16 20:03] ajcvickers commented on #10698
@Lg0enga Something like this:
[code]
This is the same as a normal many-to-many mapping, [as described in the docs](https://docs.microsoft.com/en-us/ef/core/modeling/relationships), except that both sides are the same entity type.

[2018-01-16 20:24] dazinator commented on #10692
Closing this for now, as creating a scope for my application to use, after applying migrations, seems to have solved it.

[2018-01-16 21:22] JonDouglas commented on #8922
We are tracking this issue in the following github issues:

https://github.com/xamarin/xamarin-android/issues/1154
https://github.com/xamarin/xamarin-android/issues/1196

[2018-01-16 23:54] bleepzter commented on #6245
Why would you guys release a half baked framework? For the sake of release? We spent hours trying to find this bug.

[2018-01-17 00:40] AndriySvyryd commented on #10670
@jemiller0 If your remove most of the code from OnModelCreating() it will get called.

[2018-01-17 02:59] FabioMorcillo opened #10714 "Sequence Decimal Data Type"
Hello,

Data type sequence is decimal in SQL Server and i can´t change to int or other data type, when i try to savechanges() generate this error:

System.ArgumentException occurred
  HResult=0x80070057
  Message=SQL Server sequences cannot be used to generate values for the property 'Id' on entity type 'Fiel' because the property type is 'decimal'. Sequences can only be used with integer properti

[2018-01-17 07:14] AndriySvyryd opened #10715 "Inheritance validation should allow setting base to null"

[2018-01-17 08:58] AhmedRagheb opened #10716 "Get the values of Group by using MyGroup.ToList() Throw exception, Must select First"
Get the values of Group by using grp.ToList() Throw exception I must Select First

[code]
Expression of type 'System.Linq.IAsyncGrouping`2[x,y]'
cannot be used for parameter of type 'System.Collections.Generic.IEnumerable`1[y]'
of method 'System.Collections.Generic.List`1[y]
ToList[y](System.Collections.Generic.IEnumerable`1[y])'
Parameter name: arg0
 at System.Dynamic.Utils.ExpressionUtils.Valida

[2018-01-17 09:52] tomasaschan opened #10717 "Idempotent scripts aren't really idempotent - they fail the second time"
We're using the `script --idempotent` feature to generate database migration scripts that our CI system can run without having detailed knowledge about what migrations to apply, and/or installing more tooling than `Invoke-SqlCmd` (which comes with the database installation anyway). However, we've discovered that in certain cases, they aren't idempotent - specifically, if one migration does multipl

[2018-01-17 10:54] irsali commented on #4339
@ajcvickers  How to deal in with the situation when we have several repositories trying to use a DbContext.

I have noticed, the exception from Above unit test and mine scenario is same.

`System.InvalidOperationException: 'An attempt was made to use the context while it is being configured.`

Below is some of my relevant code. Feel free to ask for anything relevant.

Note: When i have only one re

[2018-01-17 14:14] atesoglu commented on #2586
Any update on this?

[2018-01-17 15:44] orobert91 commented on #5406
Any update on this? I am having the exact same issue...

[2018-01-17 15:47] orobert91 commented on #5406
[code]

[code]
![image](https://user-images.githubusercontent.com/6403705/35051684-d27d9f58-fb73-11e7-9c0d-aa1643653594.png)

[2018-01-17 16:16] Tarig0 commented on #10716
I don't understand the need for this MyModel, why not just return the query as a dictionary?

[2018-01-17 16:49] atrauzzi commented on #10704
Gotcha, kk. Thanks!

[2018-01-17 17:00] ajcvickers commented on #2586
@atesoglu @ctonger Can you show some example code of how you are doing the queries after starting with a a non-generic set?

[2018-01-17 17:03] ajcvickers commented on #4339
@irsali It sounds very much like there are multiple threads accessing the same context instance. This will cause errors since the context instance is not thread-safe. Without knowing more about your application architecture it's hard to suggest the best way to deal with it, but using a transient service can be appropriate in some cases.

[2018-01-17 17:06] ajcvickers commented on #10714
@FabioMorcillo Just to clarify, there is an existing database sequence based on a decimal that is already configured appropriately to be used as a hi-lo generator for EF? I'd be interested to know how that came about--usually the sequence used for hi-lo has to be configured appropriately before it will work well.

[2018-01-17 17:06] ajcvickers commented on #10714
@FabioMorcillo Or are you attempting to use a sequence for key generation directly, as opposed to with the hi-lo pattern?

[2018-01-17 17:25] ajcvickers commented on #10691
@satyajit-behera Run through all the entity types at the end of OnModelCreating and add configuration. For example, something like this:
[code]

[2018-01-17 17:27] ajcvickers commented on #10665
@MCFHTAGENTS This seems like a different scenario. Can you please file a new issue with a runnable project/solution or complete code listing that demonstrates the issue?

[2018-01-17 17:29] bricelam commented on #10717
Discussed previously in #7681

[2018-01-17 17:31] ajcvickers commented on #10702
@rcollette  This looks like an issue with the MySQL provider. Can you please file an issue with [the provider](https://docs.microsoft.com/en-us/ef/core/providers/mysql/), or you might consider using a different MySQL provider--we most often see people using the [Pomelo provider](https://docs.microsoft.com/en-us/ef/core/providers/pomelo/).

[2018-01-17 17:39] tlycken commented on #10717
@bricelam I get that adding transactions here might provide more complexity than value, so I'm not going to question your call there. However, the way the script is currently written and output, it's also difficult for me to, in some automated way, add transactions around each migration.

Could an option be to support, via some command line flag, to output each migration to a separate file? Then I

[2018-01-17 18:07] bricelam opened #10718 "Oracle Migrations: Column is already NOT NULL"
When altering a non-nullable column, DDL like this is generated:

[code]

Which results in the following error.

[2018-01-17 18:28] Eilon commented on #10532
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 18:28] Eilon commented on #10298
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 18:32] bricelam opened #10719 "Oracle: Only one column per table can be configured as 'Identity'."
AFAIK, this restriction shouldn't exist on Oracle...

[2018-01-17 18:54] ralmsdeveloper commented on #10718
@bricelam
Could we use that?
[code]
 -> [Here](https://github.com/ralmsdeveloper/EntityFrameworkCore/blob/2a6f16a82e80ea0f98a0af2c1cd90dd3380958a6/samples/OracleProvider/src/OracleProvider/Migrations/OracleMigrationsSqlGenerator.cs#L230-L248)

As no change occurred then it would not arrive [here](https://github.com/ralmsdeveloper/EntityFrameworkCore/blob/2a6f16a82e80ea0f98a0af2c1cd90dd3380958a6/sa

[2018-01-17 18:55] ajcvickers commented on #10697
@DOMZE Looks like ByProduct is called multiple times for the same underlying Store object. When `context.Attach(product.Store)` is called it will attach all the entities in the graph, which includes the Products that were previously attached. The numbers match when looking at only entries that are not in the Unchanged state. It looks like this is also the underlying cause of the threading issue, s

[2018-01-17 18:56] ajcvickers commented on #10670
Marking to discuss in triage

[2018-01-17 19:54] ajcvickers commented on #10644
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-01-17 20:01] ajcvickers commented on #10666
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-01-17 21:17] ajcvickers commented on #8272
Putting this on the backlog to consider doing more EF Core specific integration in the future. We have done the SQL integration that we planned for 2.1.

[2018-01-17 21:18] ajcvickers commented on #10501
New decision from triage is that FromSql should use semantic information from the model, including the type hierarchy. Otherwise doing FromSql on a DbSet of a subtype would by default try to return entities of the parent type.

[2018-01-17 21:22] ajcvickers commented on #10501
Also, it seems like the filtering is not done currently when FromSql is done on a sub type, so this change would fix that issue as well.

[2018-01-17 21:23] ajcvickers commented on #10556
We discussed this in triage and decided that, for now, getting the stored-proc return value is something that requires dropping down to raw ADO.NET to do. We could reconsider this in the future based on feedback.

[2018-01-17 21:26] ajcvickers commented on #10590
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:28] ajcvickers commented on #10515
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:30] ajcvickers commented on #9958
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:33] ajcvickers commented on #10591
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:34] ajcvickers commented on #10719
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:34] ajcvickers commented on #10718
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-17 21:37] bricelam commented on #10717
You can generate one script per file by using the `TO` and `FROM` arguments.

[code]

You can get a list of all the migrations (in order) using:

[code]

[2018-01-17 21:52] tlycken commented on #10717
Sure; I might go that way as a workaround. Still, I think it would be useful (for performance and for simplicity) to have it built in :)

[2018-01-17 22:00] bricelam commented on #10717
Here's a bit of PowerShell magic:

[code]

[2018-01-17 22:06] ralmsdeveloper commented on #9958
Hello @ajcvickers,

I believe that issue can be closed, this was resolved with PR #10078

[2018-01-17 22:06] bricelam commented on #10717
If logging is interfering with `dotnet ef migrations list`, you can use this to get the right data into `$migrations`.

[code]

[2018-01-17 22:15] #9958 closed

[2018-01-17 22:18] ajcvickers commented on #10660
We discussed this in triage and decided that we could make the service provider available to migrations via IInfrastructure. This unblocks people from doing advanced things while not promoting too much of a pit of failure.

[2018-01-17 22:20] ajcvickers commented on #10677
@Wain123 Can you explain why you want this to generate a warning? i.e. what problem would it solve?

[2018-01-17 22:22] julielerman commented on #10666
\_(ツ)_/¯   :)

[2018-01-17 22:35] ajcvickers commented on #10682
We discussed this in triage and decided that this does not fit the conceptual model for owned types, since the identity of the owned type is handled by the parent type, but it in this case the child type has the identity properties. However, it could be supported as part of #9906, and that seems like a much better fit conceptually, so closing this issue and adding a note to consider when implement

[2018-01-17 22:36] ajcvickers commented on #9906
Note: consider the case that the value object contains key properties--see #10682

[2018-01-17 22:38] ajcvickers commented on #10683
Duplicate of #9433

[2018-01-17 22:42] ajcvickers commented on #10642
Notes from triage: this is a case where the convert should not be removed since it contains semantic information needed for an appropriate translation. This is a specific case of the more general issue described in #10265 where, depending on how a type/value is mapped to the store, the translation may need to be changed or client eval may need to be triggered.

[2018-01-17 22:45] ajcvickers commented on #10708
Notes from triage: we should revert this change and look at what could be done to catch these cases going forward--that is, cases where the code is technically internal but should not be broken because, for example, there is no reasonable public code that a provider can use.

[2018-01-17 23:15] bricelam commented on #10718
@ralmsdeveloper I considered doing the same, but ultimately, I decided `AlterColumnOperation` probably needs its own, more robust code separate from `AddColumnOperation`

[2018-01-17 23:24] maumar commented on #10430
Verified that this still repros in current dev

[2018-01-17 23:26] bricelam commented on #10666
Please loop back here with anything you find. We "timeout" all issues waiting on for a response longer than seven days in an attempt to increase our focus.

[2018-01-18 00:57] ajcvickers commented on #626
For anyone following this issue. in order to help us prioritize work can you let us know which hooks are important to you and what you intend to do with the hooks?

[2018-01-18 04:36] dazinator commented on #626
@ajcvickers
During a save operation of a business object, my parent / root business object typically calls SaveChanges() but only after passing the `DbContext` instance to all its child business objects in the graph, so that they can save their changes. Once the entire object graph has worked with the instance, the root business object will call SaveChanges. At that point, the database can generat

[2018-01-18 06:30] werwolfby commented on #4711
We are using this updated workaround from: http://volosoft.com/datetime-specifykind-in-entity-framework-core-while-querying/

[code]

Workaround from volosoft works, except cases in subquery, like:

[code]

So extended `EntityMaterializerSource` can handle this as well, but because it wraps every `object` response as well, it can cause additional performance cost because of `object` to `DateTime`

[2018-01-18 07:21] AhmedRagheb commented on #10716
I need it as List to pass it to another method in my business flow .. this is not the Issue :)
The issue in **grp.ToList()**

[2018-01-18 09:07] popcatalin81 commented on #626
A very useful use case of Lifecycle hooks is to implement Revisions (I've used this in several applications with EF6)

How it works: when a user edits an entity IE: Post, during save the EntityState is changed from Modified to Added and the RevisionNr is increased. This way as simple workflow, Load, Edit, Commit is used (that does not require copying object values and adding them as new) to create

[2018-01-18 10:07] nphmuller commented on #626
Our use case is to implement global query caching. Basically we'd need a hook to capture a read query just before its executed. If the key does not exist in the cache the query will be executed on the database and the result will be cached.

The other hook we'd need is when a transaction is committed (or rolled back), so we can invalidate the proper items in the cache. Overriding SaveChanges() wil

[2018-01-18 11:30] Wain123 commented on #10677
Short answer: #10471

Long answer:
My business objects always live in a context, and they know which context they're in. Any non-trivial logic requires navigation properties, collections, change tracking and LINQ. If a BO is not in a context, it can't do anything useful.

QueryClientEvaluation breaks this, because it executes on in-memory entities outside of a context. This never happens without Q

[2018-01-18 13:34] markusschaber commented on #626
We have some "StatusService", where clients can subscribe (via .NET events or WebSocket) so they get notified when something changes. This includes some hysteresis / rate limiting of notifications.
Part of the changes are changes to (a subset of) our database entities, so they can react accordingly (e. G. update their UI, or schedule synchronization of some data, etc...).
So an "this database enti

[2018-01-18 14:06] codetuner commented on #626
We have several uses for them:
1) In the OnSaving event (which we trigger from an overloaded SaveChanges) we update simple tracking information (UpdatedBy, UpdatedWhen,...).
2) A more advanced version of the tracking logs old and new values of changed properties in new entities.
3) Some objects have complex graphs of subobjects associated which we prefer to store as a JSON string in a single datab

[2018-01-18 14:08] EEaglehouse commented on #4711
Hi, Alexander,

That looks like a nice solution and more advanced than the solution we have been using, which was to use T4 to generate a custom DBContext. The code you presented is pretty easy to understand and not very complicated. When we migrate to .NET Core, this will definitely come in handy.

Thank you very much for taking the time to share it with me!

--Ed

From: Alexander Puzynia [mailto

[2018-01-18 14:14] techniq opened #10721 "Query: The binary operator AndAlso is not defined for the types 'System.Nullable`1[System.Boolean]' and 'System.Boolean'"
While attempting to run an OData query with a `$filter` that contains 2 conditionals, one of which is on a boolean property, I am receiving the following exception.

[code]

I saw the following related (and closed/merged) issues and PRs (and is the reason I tried the latest nightly, although it did not resolve the issue)
- https://github.com/aspnet/EntityFrameworkCore/issues/5899
- https://github.

[2018-01-18 14:55] markusschaber commented on #626
@codetuner For your use case 3 (JSON): https://github.com/aspnet/EntityFrameworkCore/issues/4021 may help there, and I could also envision a different implementation (with conversion logic in the Entity) which works without overriding those methods or LifeCycle events.

[2018-01-18 15:26] eduherminio opened #10722 "Undesired restrictions are applied to composite indexes involving nullable FKs"
### Issue description

Undesired restrictions are applied to composite indexes/unique constraints when **nullable FKs** are involved.

Providing the following restriction and `FK_TO_Entity2` being a nullable FK to another entity:
[code]

In SQLServer, the following index is created:
[code]

That uniqueness condition is intended to be applied even when `FK_TO_Entity2` is null, but the restriction d

[2018-01-18 16:10] ajcvickers commented on #4711
Please note that EntityMaterializerSource is internal code and any solution like that shown above may get broken with a new release of EF. That doesn't mean I'm saying not to use it--it's publicly available internal code for a reason--but please be aware of the risk associated with it.

Starting in EF Core 2.1, this would be one way to deal with DateTime.Kind:
[code]
This will ensure every time th

[2018-01-18 17:05] evertonutfpr commented on #10207
Any news on this? Thanks!

[2018-01-18 19:27] michaelaird commented on #626
We have 2 cases

1. Database.Connection.StateChange - we hook into Connection.Open to issue a command to set the current TenantId for multi-tenancy.
2. ObjectContext.ObjectMaterialized - we hook into the loading of certain object types so we can call DateTime.SpecifyKind to specify that datetimes are in UTC (instead of Unspecified)

1 is really our primary concern, 2 is a nice to have.

[2018-01-18 19:33] ddobrev commented on #8922
Using packages.config instead of package references works around the problem.

[2018-01-18 21:23] anpete commented on #10709
@granthoff1107 Can you post the full stack trace? Thanks.

[2018-01-19 00:07] maumar commented on #9282
fixed in b95f23ffa4fbba305b3f0ea4c864fe53f456ad58

[2018-01-19 00:07] #9282 closed

[2018-01-19 00:36] maumar opened #10723 "Query: add correlated collection optimization support for async queries"
#9282 improves translation for correlated collections (effectively removing N+1 queries from those scenarios) but the optimization has several limitations. One of them is that it only works for sync queries. We should add support for async also.

[2018-01-19 01:09] jemiller0 commented on #9282
Much thanks. Definitely looking forward to testing this one out.

[2018-01-19 01:17] maumar commented on #9282
@jemiller0 please let us know about any issues you encounter. Given how complex your model/queries are, the feedback would be extremely helpful in finding bugs that slipped through our internal testing.

[2018-01-19 02:29] granthoff1107 commented on #10709
I already switched to EntityFramework-Plus for, but
I'll revert to save you the trouble but can you answer something for me?

           Why is the QueryFilter Immutable and is it triaged in the next version to dynamically filter? I've been doing a really sketchy work around but I would like to know the potential effects

            foreach (var option in constraintOptions)
            {

[2018-01-19 04:42] sjb-sjb commented on #626
Per my posts of Jul 13 and Dec 4, I am using hooks on the DbContext to detect entity state transitions. The ask is to include ILocalViewListener or similar in the public API.

I use the hooks primarily for two purposes

(a) to inform an observable list of entities of a change in entity state, so that the list can be maintained appropriately (e.g. entities added or removed from the selected set of

[2018-01-19 06:20] Petermarcu opened #10724 "Update SQLitePCL.raw dependency"
EFCore using Sqlite doesn't support publishing an app to the generic `win-x64` or `win-x86` runtime identifier. In .NET Core 2.0, we moved to telling people to use the generic runtime identifiers of `win-x64`, `linux-x64` and `osx-x64` but this issue prevents that from working on Windows.

https://github.com/ericsink/SQLitePCL.raw/issues/194

People should be able to `dotnet publish -r win-x64` an

[2018-01-19 07:29] sidshetye commented on #626
We need these/equivalents from `ObjectContext` ...

1. `ObjectMaterialized`
2. `SavingChanges`

And preferably another hook _after_ `SavingChanges` completes (maybe `SavedChanges` ?) Hope to see these soon!

[2018-01-19 07:52] neridonk opened #10725 "Multiple includes results in empty reference"
Multiple includes  results in empty reference.

### Steps to reproduce

[code]

in the end employee has 0 reference in details.

A workaround was to split  the include:

[code]

### Further technical details
EF Core version: (found in project.csproj or packages.config) : 2.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: win 10
IDE: Visual Studio 2017 15.4

[2018-01-19 08:02] markusschaber commented on #626
@michaelaird I think a general option to specify whether Timestamp columns are UTC or local would be a better alternative here, what do you think? (Maybe this should be discussed somewhere else?)

[2018-01-19 10:17] javiercampos commented on #6577
Has anyone taken a look into this since Dec 2016? I'm using a different (albeit similar) workaround than the OP so I don't have to apply migrations independently (I just open a connection on the `Up` method and send the SQL directly) but it's definitely pretty ugly:

[code]

By chance (and I say by chance because as I understand, the `MigrationBuilder` only builds up the instructions that will be

[2018-01-19 11:17] satyajit-behera commented on #10691
@ajcvickers Thanks a lot

[2018-01-19 11:33] michaelaird commented on #626
I think they should deprecate DateTime and ‘bless’ NodaTime (the way they
did with Json.net). But that is definitely a discussion for somewhere else.

That said we jump through hoops to translate nodatime types to datetime for
storage so a mechanism to define those translations at the dbcontext would
be hugely useful.

On Fri, Jan 19, 2018 at 3:02 AM Markus Schaber <notifications@github.com>
wrote

[2018-01-19 12:14] javiercampos commented on #626
@michaelaird you can workaround point 2 with something like:

[code]
And when setting your `DbContextOptions`, on your `DbContextOptionsBuilder`:
[code]
I agree it could be more user friendly with a hook like `ObjectMaterialized`, but it works

[2018-01-19 12:36] javiercampos commented on #626
@sidshetye just out of curiosity, what would you need on a `SavingChanges` hook that can't be done by overriding `SaveChanges`/`SaveChangesAsync`?

You could implement that easily, with something like:

[code]
Maybe there's something I'm missing?

[2018-01-19 12:45] popcatalin81 commented on #626
@javiercampos
I'm thinking a  lifecycle hook inside EF could potentially allow access to the Update pipeline allowing you to modify the resulted SQL, or modify the way store generated values are read back, making this feature much more powerful and making more scenarios possible than overriding SaveChanges. For example instead of single Update statement, you could send multiple statements interlea

[2018-01-19 12:51] javiercampos commented on #626
@popcatalin81 oh yes, I definitely agree as many "advanced scenarios" lifecycle hooks as possible should be implemented (and in a user-friendly way if possible), that's why I'm following this thread. Was just curious about @sidshetye's request (he was asking for the equivalent to `ObjectContext.SavingChanges`, and a possible `SavedChanges` event which is simple enough to implement yourself, not to

[2018-01-19 13:28] sjb-sjb commented on #626
@javiercampos , the challenge with just overriding SaveChanges and SaveChangesAsync is that you then have to keep track of the entities that were changed. While it is true that you can copy this information from ChangeTracker before the save and then iterate through it again after the save, it seems more natural to me to have the system notify you of the changes in each entity. In addition this ap

[2018-01-19 13:31] javiercampos commented on #626
@sjb-sjb again, yes, but that's not what `ObjectContext.SavingChanges` did, and that's what I was replying to (@sidshetye  *specifically* asked for the equivalent to `ObjectContext.SavingChanges`)

[2018-01-19 13:42] ManuStang opened #10726 "Incorrect syntax in the script generated by command "migrations script --idempotent""
Hello,

I have a project with multiple migrations.
One of the migration have multiple procedures like this :
`private static string SCRIPT_TableUserSynchronizationRepository_GetFirstPendingUserSynchronizations =
            @"CREATE PROCEDURE procedure_GetFirstPendingUserSynchronizations
                        [...]
              END";`

When i execute the command line "_dotnet ef migrations scri

[2018-01-19 17:12] bricelam commented on #10726
It's more-or-less by design. EF Core doesn't know which statements need to be in their own batch, so you're responsible for wrapping them inside `EXEC` as needed.

[2018-01-19 17:14] bricelam commented on #10724
@Eilon What are the chances of updating a third-party dependency in a patch?

[2018-01-19 17:40] bricelam opened #10727 "Tools: Should --output-dbcontext-dir affect the namespace?"
Currently, the DbContext is put in the same namespace as the entity types regardless of `--output-dbcontext-dir`.

Issue #9723 also plays into this.

[2018-01-19 18:04] Eilon commented on #10724
@bricelam - it's certainly not impossible. We've done it before in some serious cases.

[2018-01-19 18:16] bricelam commented on #10724
Thanks. I'm not sure we'll be able to justify the risk since we'd have to update from version 1.1.8 to 1.1.10+, and the current workaround is just to use `dotnet publish -r win7-x64` (instead of `win-`)

[2018-01-19 18:30] dfoulk commented on #8922
Hey guys, not that it helps- but we had 3+ devs in our company alone run into this issue. So, for what it's worth, I don't think this is an isolated problem.

Latest Xamarin.Forms (.NET Standard) project + EntityFrameworkCore == runtime exception that only shows when deploying to an emulator.

Thanks,
-Derek

[2018-01-19 18:33] ddobrev commented on #8922
@dfoulk it's even wider since it affects far more than EntityFrameworkCore. However, the workaround I've described does the job. For more details see https://github.com/xamarin/xamarin-android/issues/1196#issuecomment-358292869 and below.

[2018-01-19 18:39] dfoulk commented on #8922
@ddobrev - Yes, thank you for that. We're converting these projects to package.config- but a few errors seem to be preventing us from deploying still...

After following the [instructions you provided in another thread](https://github.com/xamarin/xamarin-android/issues/1196#issuecomment-358756477):

**styles.xml** has apparently ran into some issues as a result :(

[2018-01-19 18:40] Petermarcu commented on #10724
The workaround gets really painful for some people that are trying to publish win-x64. I have seen other cases where doing win7-x64 breaks people when using. We need to support win-x64 in .NET Core 2.0. How would we service this package if there were a fix we needed in it? Are we saying that we can't take their latest patched version?

[2018-01-19 18:51] bricelam commented on #10724
There's nothing preventing users from just putting this in their project:
[code]
Updating the dependency in a 2.0.x patch is a balancing act between value and risk. Forcing every change between SQLitePCL.raw versions 1.1.7 and 1.1.10 onto everyone using EF Core 2.0.x is risky and we need to weigh it against the severity of the issue we're fixing.

Of course we'll update the dependency in 2.1, but

[2018-01-19 18:57] ajcvickers commented on #10662
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-01-19 20:05] mo-norant commented on #4649
@axellejamous  grappig da ik u net hier tegen kom :p

[2018-01-19 20:16] ajcvickers commented on #10677
@Wain123 Thanks for the additional info. The warning was intended to identify when we execute on the client something that might result in more work (e.g. bringing back more data) being done on the client that would be ideal because we cannot translate something to be done on the store. Opaque parts of the projection are not considered part of this because they generally don’t impact the amount of

[2018-01-19 20:17] ajcvickers commented on #10712
Closing as a duplicate of #9393

[2018-01-19 20:21] ajcvickers commented on #10713
@imarkevych90 To a large degree the SQL passed to FromSql is opaque to EF. This is important because if EF were to try to parse it, then it wouldn't be possible to uses for cases where EF doesn't know how to parse. Based on this it is not possible in general to do the type of transformation show above. It might be possible to special case some things and transform them, but the value proposition f

[2018-01-19 20:27] ajcvickers commented on #10714
Notes from triage: we're not concerned too much with making hi-lo work with decimals, but it would be good if this worked:
[code]

[2018-01-19 20:33] ajcvickers commented on #10726
Per @bricelam's comment, closing this as by-design.

[2018-01-19 20:33] ajcvickers commented on #10727
Discussed in triage and decided the namespace can remain unchanged.

[2018-01-19 20:37] sidshetye commented on #626
@javiercampos our data encryption platform (see [http://www.crypteron.com](http://www.crypteron.com)) supports C# and within C#, we also support Entity Framework. We need `SavedChanges` to make it user friendly for our (common) EF customers. Because we can then directly plug into the hooks EF provides (plug and play) rather than us telling them "... and don't forget this snippet of custom code" (w

[2018-01-19 20:49] javiercampos commented on #626
@sidshetye I see, that makes sense... in the meantime, one possible workaround (which involves work from the customer though) would be making a base DbContext from which they must inherit to use your framework. Not ideal on your specific case, yes, but better than having your customers override `SaveChanges` themselves

[2018-01-19 20:58] AndriySvyryd opened #10730 "Rename RelationalForeignKeyAnnotations.HasName to HasConstraintName"

[2018-01-19 21:12] maumar commented on #10725
@neridonk can you provide full listing of your entities and contents of OnModelCreating method on your DbContext? We need to know how the relationships are defined in order to properly reproduce the issue.

[2018-01-19 21:22] maumar commented on #10721
Can you try the workaround described here? (i.e. disable null OData null propagation)
https://github.com/aspnet/EntityFrameworkCore/issues/8065

Those problems generally stem from the fact that OData modifies the expression tree to handle the cases where expected value is non-nullable but null can occur. EF Core does similar thing under the hood, so it shouldn't be needed from the OData side, maki

[2018-01-19 21:49] divega opened #10731 "Understand what would "working better with F# records" would entail"
Filing this based on community feedback:

[![image](https://user-images.githubusercontent.com/1253414/35172936-7f5aedba-fd1e-11e7-9261-07d7cab2980c.png)](https://twitter.com/isaac_abraham/status/954246268380942336)

This is not necessarily something the EF team is planning to tackle directly but wanted to start this issue to gather more information from the F# community and potentially improve our

[2018-01-19 21:56] joshmouch opened #10732 "Getting previously cached entity rather than updated entity from database"
I have a scenario where EF is not giving me the latest data from the database, but instead returning an instance that was added earlier.
It's acting like both processes are inside some sort of transaction, but there are no transactions involved at all.

Here's what I'm doing:

1. Create an instance of EntityOne.
2. Add EntityOne to the DbContext.
3. DbContext.SaveChanges
4. A different process mak

[2018-01-19 21:57] maumar opened #10733 "Query: we inject redundant MaterializeCollectionNavigation calls into some queries that take advantage of correlated collection optimizations"
During nav rewrite, if we see "naked" collection navigation we inject MaterializeCollectionNavigation call. However, later in the pipeline we can optimize some of those collections using with the CorrelateSubquery pattern. CorrelateSubquery performs materialization itself, so the outer MaterializeCollectionNavigation call is no longer needed.

[2018-01-19 21:59] maumar commented on #10733
example: ComplexNavigationsQueryTestBase.Project_collection_and_root_entity

[2018-01-19 21:59] techniq commented on #10721
@maumar thank you for the workaround, it did in fact work 😄

[2018-01-19 22:03] techniq commented on #6132
@MichaelKetting any updates by chance?

[2018-01-19 22:06] #1836 closed

[2018-01-19 22:18] ajcvickers commented on #10509
Initial PR for of a lazy-loading proxies package: #10720

[2018-01-19 22:20] ajcvickers commented on #3797
PR #10720 is an initial implementation of a lazy-loading proxies package.

This change adds a new package--Microsoft.EntityFrameworkCore.Proxies--that contains a lazy-loading proxy implementation making use of the EF lazy-loading infrastructure and the Castle.Core proxies package. Current plan is for this to ship on NuGet as an optional package for use with EF Core.

To use in a normal application

[2018-01-19 22:48] maumar commented on #10133
This is now fixed, possibly as side-effect of b95f23ffa4fbba305b3f0ea4c864fe53f456ad58

[2018-01-19 22:48] #10133 closed

[2018-01-19 23:02] axellejamous commented on #4649
@mo-norant haha idd! zelfde issue of?

[2018-01-19 23:03] jlenriquez commented on #8996
@amazingankur Where you able to solve your problem? In any case you still have issues with IDesignTimeDbContextFactory, make sure your DataContext class has a default constructor with no parameters in it. The migration script uses the parameterless constructor during execution.

[2018-01-19 23:30] jemiller0 commented on #9282
@maumar I just tested the following query using
`    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="2.1.0-preview1-28120" />
`
which I downloaded from MyGet.

[code]
Unfortunately, it looks like it's still using N+1 queries for my query.

[code]

Can you tell me of the fix is included in the MyGet package that I'm using?

[2018-01-19 23:35] Tarig0 commented on #10732
Looks like what you want is
[code]

[2018-01-19 23:42] Tarig0 commented on #10703
Can we have Ef replace immutables, as described here?

Think currently with the use case you would have to manually detach the old entity and reattach the new entity.

[2018-01-20 00:00] Eilon commented on #10724
If it has such an easy workaround, it is doubtful that we would take it. In fact, there's more than one workaround, and they're both easy (use different RID, or upgrade dependency).

[2018-01-20 00:36] maumar commented on #10635
Problem here is that include introduces orderby p.Id itself but when we are rewriting tree for include we don't recognize that p.Id and ((IEntity)p).Id is refers to the same thing. We assume those will be two different columns in the generated SQL, but in fact during sql generation we recognize them as being the same and only one column is being produced. We need to improve logic in CollectionQuer

[2018-01-20 00:39] #10708 closed

[2018-01-20 00:47] joshmouch commented on #10732
Hmm... this does work as a hack... kind of... except that you have to hit the database twice and know that this query has already been done previously.

Is that expected behavior?  The old EF didn't act this way, and this seems like it could easily cause unexpected bugs.

[2018-01-20 01:25] maumar opened #10736 "Query: Unify Include pipeline and CorrelatedCollectionOptimization pipeline"
Both have a lot of things in common - CorrelatedCollectionOptimization is a superset of Include, apart from a few aspects (AnonymousObject vs MaterializedAnonymousObject, ability to use DISTINCT in the inner query, fixup for include, more orderings needed for CCs).

They should be unified - this would allow us to remove a lot of duplicated code and improve queries for some scenarios (Correlated co

[2018-01-20 08:41] NoFear23m commented on #10707
Is that really an issue? Greets

[2018-01-20 11:32] SSkovboiSS commented on #9282
@jemiller0 optimization cannot be applied if you are streaming a collection.
Try use `ToList` or `ToArray`:
`oi.OrderItemAccounts.Select(oia => oia.Account.Code).ToList()`

@maumar while I understand the purpose of not applying optimization for streamed collections, in most cases that's not what people need. Sometimes you can just forget to add `ToList`. Issuing a warning is also not a good option

[2018-01-20 13:21] smiller781 commented on #9447
This is not good man.
What are we supposed to do if we don't have control of the DB.  This should just map.  What a headache.

[2018-01-20 13:53] Tarig0 commented on #10732
Another option is, dbcontext.Entityones.find(oldInstance.id), this should pull the current tracked entity

Looks like what's going on is the tracker is replacing the ref pointer

[2018-01-20 15:38] jemiller0 commented on #9282
@SSkovboiSS Thanks for the tip. I was going to say, I actually don't mind the fact that you need to use `ToArray()` or `ToList()` as it would allow you to control how the query is executed. In some cases N+1 might actually be better. At least compared to how EF 6 worked. However, this works differently than EF 6. EF 6 generated one big `SELECT` statement. The way EF Core works, it creates a separa

[2018-01-20 15:44] jemiller0 commented on #9282
The following is what the query roughly looks like in EF 6. It looks horrid, but, actually works not that bad.

If EF Core could just add the filters rather than doing N+1s, probably it would be better than EF 6.

It seems like it would be nice if there was a way to specify that you want to use the one big query method though. People could use it for backwards compatibility if nothing else.

[code

[2018-01-20 17:23] Zonciu commented on #242
@sharpcoder28 You should ignore the public property member in EF dbcontext, use the private field member only, that means the property member is just a method to get/set the field which EF ChangeTracer is used.

The only problem is you need to remember use static method `EF.Property<>()` to query this property, or you will get an unexpected result:
[code]

I also wish to query this property direct

[2018-01-20 19:53] ivanov961 commented on #10298
I found out that the dotnet cli commands can't run from ClassLibraries it needs .exe in order to execute the command. So I fixed my problem by adding new .netCoreConsoleApp then I've added my ClassLibraries as references to the ConsoleApp. Then run the command [dotnet ef --startup-project ../CoreUI migrations add init ] but failed with that Microsoft.EntityFrameworkCore.Design is required in order

[2018-01-20 23:32] imahmer opened #10737 "Not creating database using Migration command Update-Database in ASP.Net Core 2"
I created new ASP.Net core project with WebAPI. Using the below link.

jwt-authentication-with-aspnet-core-2-web-api-angular-5-net-core-identity-and-facebook-login

I have to use add-migration update-database manually.

Here I add one thing more that I don't know how to debug app in VS Code. After created my project in VS Code I open my project in Visual Studio 2017.

When I about to run the updat

[2018-01-20 23:54] ddobrev commented on #8922
@dfoulk you're welcome. About that error, your conversion was just fine - it's just that Xamarin.Android is notoriously poor at rebuilding. Every time a major restructuring, such as yours, takes place, the only way to properly rebuild everything is to delete your bin/ and obj/ - that is, neither rebuild not clean + build work in such cases.

[2018-01-21 01:49] TLBSoftware commented on #8996
I experienced this issue as well

Just like what @AliBayatGH @veneMarcos @timpur mentioned it appears as if the
`dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet`
command is adding the package as a PackageReference to the 2nd Item group in *.csproj. When this package is moved to the 3rd item group and the tag changed to "DotNetCliToolReference" the problem is solved.

[2018-01-21 02:01] jlenriquez commented on #8996
To those who may stumble this page looking for answers I have provided codes here in github that can be cloned: https://github.com/jlenriquez/SpikeSQLiteEF_OSX

The sample code can be run step-by-step by commenting/uncommenting necessary steps and can be used as learning reference.

[2018-01-21 07:23] werwolfby commented on #4711
@ajcvickers but my snippet above works with projections as well.

[2018-01-21 16:28] imoscan opened #10738 "There is no support for conditional deletes"
I was expecting that EF Core has support for natural deletes, based on specific query conditions without retrieving the data.

Sample:
[code]

I think this is a functionality that EF Core should have.
The current implementation is generating a SELECT request and multiple deletes in a second request, which can generate performance issues and forces non-EF implementations/T-SQL.

Sample:

[code]
Gen

[2018-01-21 17:01] Psypher9 commented on #10738
I for one think this is a good point. Have you been able to test out any implementations?

[2018-01-21 17:29] akyildizfirat commented on #10417
I have a similar problem regarding this issue. I have a base type that will not be mapped seperately to the database, but which contains some fields that I want to be present in all of my entities. And I want EF to automatically populate those fields.

Here is the base class that I have :

[code]

Here is one of my entities that will be mapped to database :

[code]

I have tried the following to p

[2018-01-21 18:16] roji opened #10739 "Support PostgreSQL native inheritance"
PostgreSQL natively supports table inheritance in the database (see [docs here](https://www.postgresql.org/docs/current/static/tutorial-inheritance.html), and also [some current caveats](https://www.postgresql.org/docs/current/static/ddl-inherit.html)). In theory EF Core could map CLR inheritance relations to this scheme as an additional alternative to TPH/TPC/TPT.

* You use a special DDL to spec

[2018-01-21 18:39] Psypher9 commented on #10738
After looking over the code for RemoveRange the summary documentation stated that internally it was designed to iterate over each entity in the IEnumerable<TEntity>, so perhaps there is a limitation when the commands are being generated. I've not tracked it down yet, but I'm pretty sure that's where the bottleneck you're talking about is coming from.

Have you tried calling your query directly wit

[2018-01-21 21:58] MichaelKetting commented on #6132
@techniq yeah, I just managed to push the AsQueryable feature in 2.0.0-alpha.5 :)

[2018-01-21 22:07] techniq commented on #6132
I just got the email on the merge. Thanks much. I'll give it a shot with
binding redirects (hopefully) in the next day or so. I really appreciate
you taking care of this.

On Sun, Jan 21, 2018, 4:58 PM Michael Ketting <notifications@github.com>
wrote:

[2018-01-21 22:53] maumar commented on #9282
@SSkovboiSS the main reason why we don't apply optimization for streaming collection is practical - it get's quite tricky to do for some edge cases, e.g. when the inner streaming collection enumerator is enumerated multiple times, or out of order. We would have to keep track of quite a bit of data to determine when the inner query should be re-issued, and when it is safe to continue enumerating. W

[2018-01-21 22:58] maumar commented on #9282
@jemiller0 what you encountered looks a like a bug. I believe the reason why optimization is not being applied is Take() - optimization currently can't handle paging operations, the translation of a correlated paged query is much more complicated. However, we should have detected that and fallback to the old behavior - essentially there should be no difference between queries with ToArray() and wi

[2018-01-22 00:01] tangdf commented on #10738
Maybe this repository can help you:
[zzzprojects/EntityFramework-Plus](https://github.com/zzzprojects/EntityFramework-Plus#batch-delete)

[2018-01-22 00:14] LianaT commented on #8996
Tried all the above solutions and even when the project does build, it's still not finding dotnet ef in the CMD, still gives me the original error of "No executable found matching command "dotnet-ef".

I tried having only  <DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.0" /> and removing <PackageReference Include="Microsoft.EntityFrameworkCore.Tools.DotNe

[2018-01-22 01:54] imoscan commented on #10738
I currently implemented something custom to make it work and I really hope that in the future we will have predicate expressions support with the deletes inside EF Core, because this is a basic functionality and can solve a lot of practical issues.

Sample:
[code]

[2018-01-22 07:03] ErikEJ commented on #5837
@syndicatedshannon Just publish your VS Database Project to a new LocalDB database, and refresh schema form that

[2018-01-22 08:39] Wain123 commented on #10677
@ajcvickers Thanks for the answer, I guess I'll somehow manage to work around it... I have two questions, though:

First: Which LINQ extensions, other than Select(), will be evaluated on the client without generating a warning?

Second: Am I using EF wrong? There have now been multiple cases where I opened an issue about something that seems natural and obvious to me, but was either closed-by-desi

[2018-01-22 09:06] jotab123 opened #10740 "Database with apostrophe in name throws an exception on create"
I'm trying to create a named Test'1 database, the code below throws an exception but creates the database in server. Once the database is created, the code works fine:

[code]

Exception message:

StackTrace:

If I use double apostrophe to escape the character in connection string, the database is also created but throws a different error:
`optionsBuilder.UseSqlServer(@"Server=(localdb)\mssqllocal

[2018-01-22 12:12] inossidabile commented on #9994
It's unclear from history if this could affect `SaveChanges` too since it probably uses transactions inside? I'm experiencing the same problem but I don't use transactions directly.

[2018-01-22 12:24] DanielSSilva commented on #2805
Stumbling upon this issue/solution, it worked fine for me, until I have the need to have another generic parameter, like this:
[code]
I've added the correspondent interface and class, and changed the ```IEnumerable<Type> mappingTypes``` to
[code]

[2018-01-22 12:54] hikalkan commented on #10682
Thank you @ajcvickers for your explanation and consideration.

[2018-01-22 16:37] bricelam commented on #8996
The [EF Core .NET Command-line Tools](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet) docs may also be helpful.

[2018-01-22 16:52] ajcvickers commented on #10677
@Wain123 Depends exactly what you mean by client evaluation. Obviously, if you make a projection, then creation of that projection is done on the client, but I expect you don't mean that. So can you give a rigorous definition of what client evaluation is to you and then I will attempt to find the answer. Also, what specifically do you mean by LINQ extensions? In the example above, ViewCount is cli

[2018-01-22 17:06] ajcvickers commented on #4711
@werwolfby You are correct--I copy pasted that code snippet from another post and missed that last sentence, which was relevant there but not here. The workaround you posted is a good one--this is probably the best way to make this work, and is, in effect, what the value converter in 2.1 is doing.

Being able to do things like this is why we made the internal code available. However, we have to be

[2018-01-22 17:21] ajcvickers commented on #10732
@joshmouch All versions/flavors of EF have this behavior. That is, if a query would return an entity that has already been loaded, then no new entity is created and the loaded entity is returned instead. A no-tracking query will always return a new entity in this case, or consider what the most appropriate unit of work is for your application and scope the context appropriately--maybe transient in

[2018-01-22 17:40] bricelam commented on #10502
@zugzwangm @hscanlan Do you have a repro project I can use to dig into this?

[2018-01-22 17:46] TsengSR commented on #242
@ajcvickers: Awesome, just what I needed.

Will it also support this case?

[code]

and convert it to the enum value rather than the property value? In my use case there's a legacy database where the values right now are "purchase-order" or "delivery-note" which obviously can't be represented via POCO Properties alone

[2018-01-22 18:32] Petermarcu commented on #10724
Ok, so it sounds like we should just make sure we pick up the updated version in 2.1?

[2018-01-22 19:15] ajcvickers commented on #10740
Note from triage: Check for other places where the same issue may be happening.

[2018-01-22 19:24] ajcvickers commented on #10724
We update the dependency in 2.1 and verify that the issue is fixed. Leaving this open to track.

[2018-01-22 19:25] ajcvickers commented on #10737
@AhmerAli There is nothing obviously wrong that we can see. Can you please post a runnable project/solution or complete code listing so we can attempt to reproduce what you are seeing?

[2018-01-22 19:26] ajcvickers commented on #2266
Note: see also #10739

[2018-01-22 19:26] ajcvickers commented on #3170
Note: see also #10739

[2018-01-22 19:49] anpete commented on #3932
@divega We are more narrowly adding ToQuery for Query Types in 2.1. Do you want to keep this issue for the wider feature?

[2018-01-22 19:56] AndriySvyryd commented on #2805
@DanielSSilva You'll have to specify the concrete type to use for `TId` by creating derived configurations and making `BaseEntityIdMappingConfiguration` abstract.
Even without this pattern EF doesn't map unbounded generic types and you would need to configure `BaseEntityId<int>`, `BaseEntityId<string>`, etc..

[2018-01-22 20:35] maumar opened #10743 "Query: order by property's length twice throws NRE exception during query compilation"
Repro:

[code]

stack trace:

[code]

[2018-01-22 20:41] techniq commented on #6132
@MichaelKetting Just a heads up, I added the `Remotion.Linq 2.0.0-alpha.5` to my project, which fixed the `System.NotSupportedException: Could not parse expression '$it.AsQueryable()': This overload of the method 'System.Linq.Queryable.AsQueryable' is currently not supported.`  exception, but now the dotnet process exits without any stack trace:

![image](https://user-images.githubusercontent.com/

[2018-01-22 20:41] bricelam commented on #10502
I'm not able to repro this with the information provided. Here's what I tried:

[code]

[code]

[2018-01-22 21:18] weitzhandler commented on #242
@TsengSR I don't think it makes sense introducing a special conversion for enum. IMHO there should be an extension point to map any type including enum giving the developer the option to choose his prefer way of implementation.

[2018-01-22 21:43] maumar commented on #10743
fixed in e1a82f179995adc54c7f1cf14f764a7260f9e736

[2018-01-22 21:43] #10743 closed

[2018-01-22 22:29] maumar commented on #10635
fixed in 01372d5a45397216677f1fdd062e6039730b672c

[2018-01-22 22:29] #10635 closed

[2018-01-22 22:41] #10380 closed

[2018-01-22 22:41] #10591 closed

[2018-01-22 22:45] #10099 closed

[2018-01-22 22:46] #10639 closed

[2018-01-22 22:49] #10298 closed

[2018-01-22 22:49] #10532 closed

[2018-01-22 23:40] AhmerAli commented on #10737
@ajcvickers  I've already shared my github project link above. Secondly I found my answer and posted it on [StackOverflow](https://stackoverflow.com/questions/48362092/not-creating-database-using-migration-command-update-database-in-asp-net-core-2/48389362#48389362). Thanks for your time and support.

[2018-01-23 07:02] MichaelKetting commented on #6132
@techniq Hmm...I've usually seen this with StackOverflowExceptions. You could try to install Remotion.Linq v2.2.0-alpha.4 to check if the problem is related to the AsQueryable-feature. That was the only change in alpha.5, so can do an A-B test very easily. Then there's the option of attaching a debugger and debugging the exceptions. A StackOverflow excpetion should show up in the debugger.

Erm...

[2018-01-23 08:07] alexinea opened #10746 "EFCore.Proxies should not be strongly coupled to Castle.Core"
It is very exciting that EFCore team add Lazyload feature into this project. But one question that why you guy use/must use Castle.Core here? Why not allow users to choose themselves?

This is another choice, [AspectCore](https://github.com/dotnetcore/AspectCore-Framework), an Aspect-Oriented Programming based cross platform framework for .NET Core and .NET Framework. It works more efficient and b

[2018-01-23 08:12] werwolfby commented on #4711
@ajcvickers Yes I understand the risk using this code. And I completely agree, but we have to use it, and thank you to make this API public available 😄.
And I create gist to keep this "helper" up-to-date until EF Core 2.1: https://gist.github.com/werwolfby/7f04558bc21c8114e209d5727fb2e9f8

[2018-01-23 08:14] ElderJames commented on #10746
I like AspectCore more. 👍

[2018-01-23 08:19] djl394922860 commented on #10746
I like AspectCore more too. 👍

[2018-01-23 08:34] xingwen1987 commented on #10746
I'm love to use AspectCore rather than Castle.Core. :+1:

[2018-01-23 10:13] DanielSSilva commented on #2805
@AndriySvyryd thank you for your quick response. That's exactly the solution that I've ended up with. Glad i was on the right way :)

[2018-01-23 11:44] sergei66666 commented on #9156
I faced the same problem.
@singlewind say "When I map the object. I only map the [ForeignId] and leave the [ForeignObject] null which cause the object to be removed from database."

I want add some info. Behavior depends on [ForeignObject] value before map.
1) If it is null BEFORE map all works fine. We get update;
2) If not null and become null after map we get delete.

In any case we belive that

[2018-01-23 12:27] DanielSSilva commented on #6935
@divega in my scenario case, I cannot use the predicate as `e => e.Id == id`.
I have a generic class , `where T : class` and I have a `TId`, which can be `long`, `string`, or even composite, that is received as parameter. I've noticed that `Find` gets a `param object[] keys` and as it says "Finds an entity with the given primary key values." so it works with composite keys too, meaning that findin

[2018-01-23 12:56] Wain123 commented on #10677
@ajcvickers By "LINQ extensions", I mean extension methods on `IQueryable` and `IEnumerable` which are found in `System.Linq` - for example `OrderBy(...)` or `Where(...)`. I'm not sure I can give a *rigorous definition* of client evaluation without missing some special case, so I'll give you multiple symptoms which I hope describe it well enough that you know what I mean.

In the example above, `S

[2018-01-23 14:29] techniq commented on #6132
@MichaelKetting As you determined, I definitely have the `v2.2.0-alpha.5` version.  If I remove `Remotion.Linq` from my project I returned to the `System.NotSupportedException` exception about `AsQueryable` not being implemented so it is definitely using your changes (and should indicate the binding redirects are kicking in, at least I think so).

I was using `dotnet` on Mac but decided to open up

[2018-01-23 14:57] DanielSSilva commented on #2805
As a side note, I've also had to change the `IEnumerable<Type> mappingTypes = assembly.GetMappingTypes(typeof(IEntityMappingConfiguration<>))` to

[code]
because both types are being "catched" by `GetMappingTypes` method

[2018-01-23 15:03] liuhaoyang commented on #10746
@alexinea  but so far,castle still works more efficient than AspectCore.

[2018-01-23 15:06] liuhaoyang commented on #10746
@alexinea we can have other ways to implement lazy loading based on AspeectCore.

[2018-01-23 15:23] MichaelKetting commented on #6132
Thanks for the update. The AccessViolationException sounds definitely strange. My best guesses would either be an undetected API change in the alpha.5 (which would really surprise me if I missed that) or some issue when working with unmanged code during the query execution. But I'll adopt a wait-and-see approch for now :)

[2018-01-23 15:25] techfisher opened #10747 "EF Core2 Issue - Exception trying to compare two int[]'s"
I have a table with a column ActivityTagIds that stores a int[] of activity tag ids.  I then have an incoming int[] of activity ids.  I'm simply trying to query records that have at least one matching id between the two int[]'s.  I've tried every thing I can think of; interset, contains, any, etc. and I just get the following error.

[code]

### Steps to reproduce
Create a table with a column of i

[2018-01-23 17:29] alexinea commented on #10746
As the saying goes, it takes a good blacksmith to make steel. I'll close this issue and just waiting for @liuhaoyang 's works.

[2018-01-23 17:33] Diaskhan commented on #6313
Hie guys!

Is there some progress creating tool that could do migration after deploying assembly ???

[2018-01-23 17:59] mrswain opened #10748 "Migration Snapshot enum/valueconverter issue"
Describe what is not working as expected.

If you have a nullable enum property that also uses a value converter, the snapshot code generates invalid calls.

[code]

... in model builder

[code]

... in generated snapshot

[code]
The snapshot generator unwraps the enum for the property call but does not unwrap the enum for the HasConversion call.

I think this line:
https://github.com/aspnet/Entit

[2018-01-23 17:59] bricelam commented on #6313
The tool is available. Getting it on the server and invoking it are the hard part (see comments above).

[2018-01-23 18:23] Diaskhan commented on #6313
Maybe some One Provides A tutorial? I Have searched this solution about week !

[2018-01-23 19:24] mrswain commented on #10099
Just wanted to comment and verify that this issue is no longer reproducible with build 28148.

[2018-01-23 19:25] jtbrower commented on #9405
While running fresh unit tests against a newly designed EfCore Model, I myself could not figure out why my soft delete filter was not working with the context it was deleted on.  Once I used methods other than Find() it worked as expected.  I am thankful for this thread, otherwise I would have felt a lack of determinism with other potential query differences and would have written a lot more test

[2018-01-23 20:03] bricelam commented on #6313
@benday has some good guidance and automation tips: https://www.benday.com/2017/03/17/deploy-entity-framework-core-migrations-from-a-dll/

[2018-01-23 20:05] bricelam commented on #10099
@mrswain Thanks a million for catching this case and following up

[2018-01-23 21:26] #10740 closed

[2018-01-23 22:05] drosskopf opened #10750 "Updating different database via CLI (Pass connection string to `dotnet ef database update`)"
The EF Core CLI, does not allow me to switch databases via command line.  It would be great, to either specify the appsettings via cli to pull the data from, or to specify the connection string via cli parameter.

[2018-01-23 22:09] Waldspecht commented on #4716
Is there any restriction on how deep you can go with `ThenInclude`?
Because up to level three (`Info`)everything works fine. When I include level four (`Details`) it is not returned or included as an object.

[code]

The `details ` objects are missing in the query and not returned. Any idea?

[2018-01-23 22:41] divega commented on #3932
@anpete If I understand correctly what is left, then yes.

[2018-01-23 22:42] divega commented on #3932
@anpete can you please create a separate issue can mark as resolved for 2.1 so it shows up in release notes? Then feel free to update and cross reference.

[2018-01-23 22:55] anpete commented on #3932
@divega Separate from the Query Types issue? ToQuery is not stand-alone but part of the QTs feature.

[2018-01-23 23:16] anpete commented on #9290
@tdjastrzebski Again, EF Core does not care whether you are mapping entity types to database tables or updatable views. Scaffolding does not support views, but you can easily hand write entity types and map them perfectly well to views (via ToTable) - Yes, ToTable is somewhat confusing here, but the way to think about this is that it is simply allows you to configure the name of the database _obje

[2018-01-23 23:19] anpete opened #10753 "Support raw SQL queries without defining an entity type for the result"
For Query Types it could be nice to not require a configuration call in OnModelCreating to add the type to the model. Instead, it may be possible to lazily add a type to the model on first access (usually query).

[2018-01-23 23:23] anpete commented on #1862
We are adding support for Query Types in 2.1, which take care of the ability to query types that are not entities. Created #10753 to track not requiring a configuration call in OnModelCreating.

[2018-01-23 23:23] #1862 closed

[2018-01-23 23:25] anpete commented on #9290
Created #10753 to track the remaining work here.

[2018-01-23 23:25] #9290 closed

[2018-01-23 23:50] Vasimovic commented on #9290
@anpete Will we still need to define a DbQuery with Stored Procedures?

I was hoping for something like FromSql (FromQuery) without the DbSet to map to POCO classes

[2018-01-24 00:11] anpete commented on #9290
@Vasimovic No, you don't need a DbQuery property on your context (if that's what you mean). You _do_ need to register the query type in OnModelCreating, via ```modelBuilder.Query<T>()``` - This is what #10753 is about, i.e. allowing the query type to be added to the model lazily, but it is really only a small piece of the puzzle. Of course, the ModelBuilder configuration is often required anyway b

[2018-01-24 00:55] fofaria commented on #9125
@julielerman did you manage to get around this issue? I just finished the mappings to my Domain and i got the same error as you:
**The entity of 'CustomerContact' is sharing the table 'dbo.Customer_Contacts' with 'CustomerContact.Address#Address', but there is no entity of this type with the same key value that has been marked as 'Added'.**

[2018-01-24 02:03] maumar commented on #10723
fixed in 4352fbd495accc4f549d3fe026bcdfde0ab51812

[2018-01-24 02:03] #10723 closed

[2018-01-24 03:35] cobrafast commented on #10502
I'm stuck with this too.

The only difference I can see, is that I use `serviceProvider.GetService<MyDependency>()` to retrieve the instance passed to the middleware, because in my case `MyDependency` has dependencies of its own that I want to have handled by dependency injection (which works fine during runtime).
The service was previously set during `ConfigureServices` as a singleton.

Perhaps i

[2018-01-24 05:09] cobrafast commented on #10502
Seems like a workaround is to comment out the offending `app.UseMiddleware(...)` call, do the migration, and comment back in.

[2018-01-24 08:02] Risanshita opened #10758 "applicationDbContext.Database.BeginTransaction() does not work with Aspnetusers table ."
I want to implement transaction with asp .net core identities table. i have two databases for one database it works but for identity database doesn't.

It doesn't throw any exception

This is my code.----

[code]

### Further technical details
EF Core version: 2.0.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 7
IDE:  Visual Studio 2017

[2018-01-24 09:26] glucaci commented on #242
@ajcvickers cannot be done that HasConversion will "behind the scenes" Ignore the target Property? Having the NotMapped attribute in the model or Ignore method in Configuration will be confusing because the column will still be created due to the HasConversion configuration.

[2018-01-24 09:40] poke commented on #9290
@anpete Just so I get this right: So `modelBuilder.Query<T>` is basically the same thing as `modelBuilder.Entity<T>` except that the configured type does not have the restrictions entities have (e.g. having a table and identity)? That’s great! :)

[2018-01-24 11:50] azizkazdal opened #10759 "Cannot find type Microsoft.EntityFrameworkCore.Metadata.Internal.RelationalFullAnnotationNames"
Hi,
We are developing a UWP applicayion which referense SQLite .net standart data acces layer.
We are having an error when building the UWP applicatin which err or is below

**Severity	Code	Description	Project	File	Line	Suppression State
Error		Cannot find type Microsoft.EntityFrameworkCore.Metadata.Internal.RelationalFullAnnotationNames in
module Microsoft.EntityFrameworkCore.Relational.dll.	Mess

[2018-01-24 14:02] glucaci commented on #8970
I've took a look on this and implies a signature change of `IMigrator.GenerateScript(...)` but this will be a breaking change.

Is the purpose of this interface to be used outside of EFCore?
- If yes then the signature of `IMigrator.GenerateScript(...)` is not to rigid for further changes ?
- If no then should not be excluded from ApiCheck or changed to internal ?

[2018-01-24 15:12] Alleno commented on #1679
Is there no way to specify a fake primary key column in the scaffold-dbcontext command? I was able to manually write out a data object for a view, including an annotated key, and it seems to be working fine, but it would be nice to not have to hand copy all the columns by specifying a key column in the CLI command

[2018-01-24 15:19] fulte004 commented on #1679
You can fake an identity column in a view by adding the following to the top of your view's SELECT statement:
`SELECT ISNULL(ROW_NUMBER() OVER (ORDER BY [dbo].[SomeTable].[SomeOrderbyColumn]), 0) AS  [Id]
	, [OtherColumns]
FROM [dbo].[SomeTable]`
That will give you a unique column that EF can use. I'm not sure scaffold-dbcontext will buy this without a primary key constraint, which view's don't ha

[2018-01-24 17:10] bricelam commented on #10502
Still not able to repro it. Let me know if you can isolate the issue.

[2018-01-24 17:47] ajcvickers commented on #10759
@azizkazdal RelationalFullAnnotationNames is an internal class that existing in older versions of EF Core, but not in 2.0 or later. You'll need to update any code that uses this to build against the public surface of EF Core 2.0.

[2018-01-24 17:49] ajcvickers commented on #10758
@Risanshita What does SaveEntity do? Hasn't the save already happened as part of CreateAsync?

[2018-01-24 17:51] ajcvickers commented on #10747
@roji @anpete This looks like an interaction between query and Postgres array mapping. Thoughts? Provider issue?

[2018-01-24 18:00] ajcvickers commented on #9599
@anpete Can you bump up the priority of investigating this, also considering https://github.com/aspnet/Home/issues/2820

[2018-01-24 19:04] maumar commented on #10733
fixed in 53dbe80437c29fe342c3b671dbaf2125029ef213

[2018-01-24 19:04] #10733 closed

[2018-01-24 19:06] ajcvickers commented on #242
@glucaci I'm sorry, but I don't understand your comment/question? Can you explain a bit more what you mean?

[2018-01-24 19:16] ajcvickers commented on #6935
@DanielSSilva #7391 is tracking adding APIs to make it easier to use arbitrary key types/values.

[2018-01-24 19:59] ajcvickers commented on #242
@TsengSR There is no built-in support for the EnumMember attribute at this time. However, you can write your own value converter. For example, using code for conversion from https://stackoverflow.com/questions/10418651/using-enummemberattribute-and-doing-automatic-string-conversions

[code]
[code]

[2018-01-24 20:03] anpete commented on #9599
@ajcvickers Will do.

[2018-01-24 20:12] recaro commented on #9969
Group by constant works in EF 6 by using constant as the key column, similar to:
[code]
This seems like the logical translation of group by constant anyway.

[2018-01-24 20:28] Bonelol opened #10761 "Included properties' foreign keys are case sensitive"
Some of tables are using varchar as PK/FK, and database is set to case-insensitive. Even though EF correctly generated SQL script, it took some entities out as PK/FKs not matched in C#.

Is there an simple way to let EF compare string keys in case-insensitive way?

Thanks,
Max

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.0
Database Provider: Microsoft.EntityFram

[2018-01-24 20:56] maumar commented on #9282
@jemiller0 I looked at the query you provided, and the problem is that adding filter after the projection makes it a much complicated query, from EF perspective - we create quite a complicated predicate, which gets client-evaluated and that disables correlated collection optimization and also this is why you don't see a WHERE clause in your query.

You can modify the query slightly (move the filte

[2018-01-24 21:05] jemiller0 commented on #9282
Thanks @maumar. I'm sorry I didn't get back to you yet. Some things came up a work and I haven't had a chance to test. The main reason I'm putting the filter at the bottom like that is that I'm using the query with a grid control (RadGrid) from a company called Telerik. The grid control allows you to enable filtering controls at the top of the grid and generates Dynamic LINQ filter strings. The ou

[2018-01-24 22:00] #9726 closed

[2018-01-24 22:12] Bonelol commented on #10761
Currently I have to convert Username, which is PK of User, to lower case in OnModelCreating method

[code]

[2018-01-24 22:20] glucaci commented on #242
@ajcvickers I'm suggesting that when using `.HasConvertion()` the target property will be automatically  ignored.

By using only `.HasConvertion()`
[code]
without `.Ignore()` it
[code]
will end up with a exeption. ...or am I wrong with this?

[2018-01-24 22:22] ajcvickers commented on #242
@glucaci I don't really understand why you would want to ignore a property that has a conversion. If the property is ignored, then what is the conversion for?

[2018-01-24 22:53] ajcvickers commented on #7035
Moved to https://github.com/aspnet/Identity/issues/1590

[2018-01-24 23:04] maumar opened #10762 "Query: remove redundant ToList calls on top of correlated collections that get optimized"
Similar to #10733, CorrelateSubquery already buffers results and can be returned in form of List<T>, so we don't need a ToList() calls if its composed on top.

[2018-01-24 23:11] glucaci commented on #242
Having the following model
[code]
and the configuration
[code]
it will throw
`System.InvalidOperationException: 'Cannot call Property for the property 'Email' on entity type 'Customer' because it is configured as a navigation property. Property can only be used to configure scalar properties.'`

EFCore : 2.1.0-preview1 (local build, the nuget package from nightly build is not finding some dependen

[2018-01-25 01:02] maumar commented on #9336
This happens because when order by is introduced after the groupby, the groupby itself is pushed into the subquery. QM looks as follows:

[code]

This causes issues, because Include compiler during ApplyIncludeExpressionsToQueryModel phase only looks at top level group bys.

[2018-01-25 01:46] lakeman commented on #10568
So this seems to fix the problem;
[code]

Which I've tested by replacing the IComparer<ModificationCommand> service with a patched version in my reproducer example above.

[2018-01-25 01:47] ajcvickers commented on #242
@glucaci Looks like a bug--can you file a new issue for it?

[2018-01-25 03:55] roniaxe commented on #4558
Thanks @Ciantic , nice solution.
For:

Why? Because registering AppDbContext requires the EF DbContext service?

[2018-01-25 05:09] Risanshita commented on #10758
SaveEntity is just a method, we are using to save data in some other tables.

[2018-01-25 08:38] glucaci opened #10765 "Using convertion for ValueObject will throw InvalidOperationException"
### Steps to reproduce
Having the following model

[code]
and the configuration
[code]
it will throw:
[code]

Please feel free to change the name if it's not appropriate.

### Further technical details
EF Core version: (2.1.0-preview1 local build with last commit bf03e185f40d05442d031acd5d62bf4f27bb94bb)
Database Provider: (Microsoft.EntityFrameworkCore.SqlServer 2.1.0-preview1 local build)

[2018-01-25 08:45] glucaci commented on #242
Sure, I've just opened one #10765

I don't know how the conversion should work internally but I realize that by ignoring the property everything is working (column created, saving to db, queering the db), but it seams that it's not the proper way :smirk:

[2018-01-25 10:33] neyromant opened #10766 "System.InvalidOperationException: Sequence contains no elements when using .Max() or .MaxAsync()"
I get a strange exception when using the method .Max() or .MaxAsync() if there are no records in the specified table.

[code]

### Steps to reproduce
I wrote a query
[code]

It was translated to
[code]

If there are no records in the specified table, I get an exception.
Although, when I used version 1.1 of EFCore, I got zero

### Further technical details
EF Core version: Microsoft.EntityFramework

[2018-01-25 11:11] alecouteurbisson opened #10767 "Update using composite key (which is present) inserts when it should update"
The latter half of #10194 describes an issue where calling DbContext.Update() on an entity with a complete composite key inserts instead of updating and then throws because the row exists in the database.  We are seeing exactly the same issue here.

The error is occurring on a many-to-many link table which contains two integer foreign keys that together comprise the primary key.

We have a detache

[2018-01-25 11:13] the-daniel-rothig opened #10768 "Mapping columns that are in the result set, but not in the schema"
Certain search strategies (full text search, spatial search, ...) leverage underlying database tech for better indexing and retrieval.

Scenario: I have "latitude" and "longitude" columns in my schema. I would like to map a property "Distance" to a column in the **result set** that evaluates the distance between those coordinates and user coordinates, i.e. SQL like:

    SELECT
        [latitude],

[2018-01-25 12:39] JohnHe404 opened #10769 "generated value no update"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce

in Book class

in BookMap class

in Update.cshtml

I want to generated value LastedOnUtc in each update book model.But failed.Can you help me?

### Further technical details
EF Core version: (2.0.1)
Database Provider: (Microsoft

[2018-01-25 14:25] slobadx commented on #8436
Fixed by closing and reopening **VS2017** in my case.

[2018-01-25 16:00] Tarig0 commented on #10621
probably would be best to remove the milestone

[2018-01-25 17:10] ajcvickers commented on #10767
@alecouteurbisson Can you please post a runnable project/solution or full code listing that will let us reproduce the behavior that you are seeing?

[2018-01-25 17:13] ajcvickers commented on #10758
@Risanshita I don't think there is enough information here for us to be able to reproduce what you are seeing. Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we are better able to investigate it?

[2018-01-25 17:16] ajcvickers commented on #10769
@HeMinzhang Have you tried `HasComputedColumnSql`?

[2018-01-25 17:27] Tarig0 commented on #10768
would this fix your need?

https://docs.microsoft.com/en-us/ef/core/modeling/relational/computed-columns

[2018-01-25 19:43] Angelinsky7 opened #10770 "Add support for managing Triggers with EF migration"
I've found this : https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations and i was thinking : Great i could maybe use this to handle the creation of my table triggers...
But sadly there is actually no way to tell the EntityTypeBuilder that i would like to have some triggers on my table... and i clearly think that a trigger should not only be in a single migration but also

[2018-01-25 21:19] d5omino commented on #5096
well here's a kicker.... so i'm using environment variables to connect to production vs development databases... in development i'm using the user secrets functionality in .net core and in production i'm using an environment variables on an azure web app... my startup class simply checks for environment name then engages the appropriate db-context(s) so in this scenario there is nothing for VS to

[2018-01-25 21:26] VictorioBerra commented on #5096
@d5omino I don't understand the problem. Call .Migrate() on all your contexts every single time. Its a noop if you are already on the latest migration.

Why is this the case?

If you always have a connection string available to your app, then there should never be an issue with migrating.

[2018-01-25 22:00] smitpatel commented on #10109
Assigning to @ajcvickers since query related work is finished.

[2018-01-25 22:06] xperiandri commented on #1222
Still does not work in 2.0
I was shocked that it doesn't!

[2018-01-25 22:07] maumar opened #10771 "Query: optimize CorrelateSubquery method for entities that don't have composite keys - we can use actual key type instead of AnonymousObjects"
Small perf optimization - currently we use MaterializedAnonymous object to store keys used for correlation between outer and inner collections. This is for case when key is composite. However, if the entities don't use composite keys (most common scenario), we could use the PK type direcly

[2018-01-25 22:12] xperiandri commented on #1222
I used `string.Equals(string, string)`

[2018-01-25 22:40] maumar commented on #10762
fixed in e58757d54b20ea8171c52a78a5508c2f0d8646d9

[2018-01-25 22:40] #10762 closed

[2018-01-25 22:58] smitpatel commented on #10610
[code]
Migration
[code]
[code]
What is missing?

[2018-01-25 23:15] smitpatel commented on #9007
@flipchart - Try following query
`context.Gears.Select(g => g.Nickname).Concat(context.Gears.Select(g => g.Nickname));`

[2018-01-25 23:32] ajcvickers commented on #9395
@maumar @smitpatel Please update description with more details and investigate for 2.1.

[2018-01-26 00:39] ajcvickers commented on #3932
This is done for query types. Moving to the backlog for entity types.

[2018-01-26 00:42] ajcvickers commented on #9585
@divega to investigate this and decide whether it should be closed, closed with additional issues created for some of the points above, or left as is for backlog.

[2018-01-26 00:57] ajcvickers commented on #9311
Note from triage: @smitpatel to work with @MichaelKetting to get the new package version in soon so we can preview with it.

[2018-01-26 01:58] maumar commented on #10673
looks like EF6 issue

[2018-01-26 02:56] gregveres commented on #10673
Hi @maumar
does that mean that you guys aren't considering a fix? Or just that its not a 2.1.0 milestone because it is in EF6, to Core 2?

[2018-01-26 07:38] mikaelkolkinn commented on #9249
I would just like to add to @MasanoriOnuki's response that iPhone 5S can give exceptions with Snapshot.MaxGenericTypes set to 3. Snapshot.MaxGenericTypes = 2 seems to work well.

Just in case anyone has to build EntityFrameworkCore from the sources in order to set the Snapshot.MaxGenericTypes to a lower value on iOS and workaround the issue until the Mono update is part of a new Xamarin release.

[2018-01-26 11:09] akyildizfirat commented on #10417
I am sorry for the late reply and the confusion. I should have made a new post without editing my previous one. Let me try to be more specific.

I have an abstract base class and many models inheriting from it. In the database, I want to have tables for concrete types. In addition, I am trying to make EF automatically populate the fields of the base class for each model for any query that I execut

[2018-01-26 12:24] shpsyte commented on #3312
@joehoeller not work form me

Iam using .NET Core 2.0 and Entity Framework Core, and .Include(x => x.TableName ) returning one row of data

i try:
in Startup.cs

`services
                .AddMvc()
                .AddJsonOptions(options =>
                {
                    options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
                });`

Exists another alt

[2018-01-26 12:40] serafimprozorov commented on #1368
Hi guys,

I don't know what do you think about many-to-many support, but I think that it is epic fail to have no many-to-many support in 2018. Also it is strange that you can't implement it during THREE years. I have read a lot of internet resources and I still can't understand two things: will this feature be implemented someday and if the answer is positive when will it be implemented. Should I

[2018-01-26 12:43] jbogard commented on #1368
How is the lack of this feature affecting your ability to deliver software
to your end users or customer? Genuinely curious since I intentionally
avoid this feature in other ORMs for explicit join classes.

On Fri, Jan 26, 2018 at 6:40 AM Serafim Prozorov <notifications@github.com>
wrote:

[2018-01-26 13:07] serafimprozorov commented on #1368
@jbogard It is not affecting me or my team on the one hand. As for ORMs, NHibernate has normal many-to-many support, as far as I know Linq2DB also has it. And suddenly... the old Entity Framework (6-) also has this feature. So if the vendor's new products have less functionality and stability than it's older libraries and frameworks, if it can't develop new features and fix lacks, if it can't to k

[2018-01-26 13:36] bassebaba commented on #1368
@jbogard As I have pointed out, lots of us are stuck with old legacy databases with existing data where M2M is already present, therefore we have no other choice but to keep using M2M.

[2018-01-26 13:54] jbogard commented on #1368
Right, so you can model that today with a join class, which is my default
in any ORM.

On Fri, Jan 26, 2018 at 7:36 AM bassebaba <notifications@github.com> wrote:

[2018-01-26 14:00] danroot commented on #1368
@jbogard Lack of this feature has affected three projects of mine in the past few months.  In each case, we wanted tagging.  Instead of having just MainModel and Tag classes, we have to have MainModel, MainModelTag, and Tag classes.  Anywhere that uses Tags then also needs to know about MainModelTag.  In some cases, the Tag class needs to be shared with other models,  so that's +1 class for each s

[2018-01-26 15:06] julielerman commented on #9125
yes. I came up with a decent pattern, but got some help from @anpete and @divega to make it really great. It's at https://github.com/julielerman/DevInt2017EFCore  but I also have a 3/4 written blog post about it. Will post here when I publish that.

[2018-01-26 15:20] bfsmithATL commented on #1368
I would love to have this feature, it has affected a few design aspects on a project I'm working on.  I've had to include five different models (& respective tables) to represent the join entities.  Not the end of the world though.  I'd like to see more simplicity here, but I've been able to easily work around the many:many shortfall in EF Core.  There are plenty of blog articles and illustrations

[2018-01-26 15:53] popcatalin81 commented on #1368
I've worked on an EF6 project where the amount of many-to-many relations compared to all others was insanely high.

Examples of M:N Relations, NOT from the real Project, just the idea: Product<->Categories, Product<->Tags, Product<->Features, Tag<->Clasiffications, Category<->Clasiffications, Product<->Classifications, Classification<->Pricings, Category<->Pricings, Product<->Pricings ... (and it

[2018-01-26 16:54] sam-wheat opened #10779 "How to update an entity without retreiving it first?"
I actually have two questions related to the code below

1.) Is it possible to update an entity without retrieving it first as shown?
2.) Why am I still getting the tracking exception even with the .NoTracking behavior selected?

The real problem I am trying to solve here is updating my entities.  I am inquiring about NoTracking because it seems obvious but the issue I need to resolve is updating.

[2018-01-26 17:50] SSkovboiSS commented on #10779
Regarding first question: it is tracked here #795

[2018-01-26 18:15] ajcvickers commented on #10779
@sam-wheat The simple answer to your second question is that there is no query so the query tracking behavior has no impact. More specifically, the call to Update attaches (as in tracks) the entity in the modified state. The exception is thrown because the context is already tracking an entity with the same key.

[2018-01-26 18:20] ajcvickers commented on #10417
@akyildizfirat There isn't anything built-in to do that. I suspect you will be able to do with state-changing events, which is being tracked by issue #626

[2018-01-26 18:26] ajcvickers commented on #10673
Moved to https://github.com/aspnet/EntityFramework6/issues/450

[2018-01-26 18:29] #9599 closed

[2018-01-26 18:37] ajcvickers commented on #242
Note for triage: Additional work to be done here:
* Allowing query translation to use type-mapping/conversion info.
* Mechanism/API to specify a default conversion for any property of a given type in the model.

[2018-01-26 18:41] ajcvickers commented on #626
Thanks for all the feedback!

Notes for triage:
* Suggest for 2.1 we do:
  * Entity state changes
  * Saving/SavedChanges
  * Possibly ObjectMaterialized

[2018-01-26 18:49] ajcvickers commented on #10509
Note for triage: work still to do:
* Configuration of which entities/properties can be lazy loaded. (As of now it's all or nothing.)
* Roslyn-based solution
* Lazy-loading and no-tracking entities
* Disconnect the lazy-loader on detach, connect on attach

[2018-01-26 18:52] ajcvickers commented on #10703
Note for triage: work still to be done here:
* Add fluent API for
  * Choosing the constructor to use/ignore
  * Configuring a factory method instead
  * Binding to a service

[2018-01-26 20:37] bricelam commented on #10699
I'm not able to repro this with the solution provided. After updating the solution to compile (it was missing some internal NuGet pacakges), the `Add-Migration` and `Update-Database` commands work and PMC is functional.

[2018-01-26 21:17] AndriySvyryd opened #10780 "Keep the underlying Builder in ReferenceOwnershipBuilder up-to-date"
It can get outdated when using a nested closure.

[2018-01-26 21:20] maumar commented on #10711
Fixed by another change, added test in fd2f66c6a6931274d8efcc84e63928b2740548fc

[2018-01-26 21:20] #10711 closed

[2018-01-26 21:37] syndicatedshannon commented on #5837
No thank you ErikEJ. That's specifically the type of deployment-hard-linked toolchain I'm looking to avoid.

[2018-01-26 21:37] bricelam opened #10781 "Tools: Consolidate -Force and -Revert on Remove-Migration"
Should we change the way Remove-Migration works?

Questions:
- When should it check if the migration is applied?
  - What should it do if it can't?
  - What should it do if it is? (e.g. warn, error)
- When should it revert the migration?

[2018-01-26 21:45] maumar commented on #9577
fixed in d6de54c3ab1b6f32d38c8333a66e754ff594e208

[2018-01-26 21:45] #9577 closed

[2018-01-26 21:47] ajcvickers commented on #10747
Note from triage: @roji is going to investigate this.

[2018-01-26 21:52] ajcvickers commented on #10750
Notes from triage: this is something we are considering for the future. It may depend on #6525 before it can be implemented. For now, the way to do this is to pull the connection string from configuration and either change the configuration for each run or use something like environment variables.

[2018-01-26 21:54] ajcvickers commented on #10761
@Bonelol This is being tracked by #673 and is something that we plan to look at in the future.

[2018-01-26 21:57] ajcvickers commented on #10766
@neyromant This is a duplicate of #10086, and is by-design. Can you let us know what you expect the return value to be and why?

[2018-01-26 22:01] ajcvickers commented on #10768
@the-daniel-rothig We talked about this in triage but the result was that we're not sure what is you are trying to achieve. Can you explain what your goal is in general terms, rather than in relation to specific EF APIs?

[2018-01-26 22:02] bricelam commented on #5837
Looking for #4321?

[2018-01-26 22:08] ajcvickers commented on #10770
@Angelinsky7 This shouldn't be too difficult to do, it just doesn't have a high enough priority for us to have implemented it yet. It's also not 100% clear how much we work on this specific case as opposed to the extensibility that would allow these things to be done without EF Core having direct support--for example see #10258 Putting this on the backlog for now.

[2018-01-26 22:13] #10765 closed

[2018-01-26 22:19] aiba1805 commented on #10541
Use .NET Standard 2.0 Library with Xamarin with MySql/Connector EF Core,
but test throwing some exception :
System.TypeLoadException : Type MySql.Data.EntityFrameworkCore.Infraestructure.MySQLOptionsExtension has invalid vtable method slot 4 with method Microsoft.EntityFrameworkCore.Infrastructure.RelationalOptionsExtension:ApplyServices (Microsoft.Extensions.DependencyInjection.IServiceCollection

[2018-01-26 23:08] jtbrower commented on #5536
I shake my head often, wondering why I am constantly re-inventing a solution to the same problem  when Microsoft should have developed a rock-solid solution by now.  Especially with such a huge push for Azure.  Especially due to the fact that so many applications must operated in a disconnected state "these days".   Pretty please can we have an off-the-shelf solution?

[2018-01-26 23:21] #9111 closed

[2018-01-26 23:41] sjb-sjb opened #10783 "Counterintuitive property initialization"
When I initialize an entity property like so:

        public string Name {
            get { return this._name; }
            set { this.SetValue(ref this._name, value, nameof(this.Name)); }
        }
        private string _name = "";

then the SetValue method is called by the initializing assignment ( _name = "" ).

It seems counterintuitive.

If it is of any interest I am using change-tracking

[2018-01-27 00:05] smitpatel commented on #10518
This did not work. Test still failed. Reverted in b4a4a8d34227f34fc3236e9303f97f91823d8296

[2018-01-27 00:13] ajcvickers opened #10784 "Mechanism/API to specify a default conversion for any property of a given type in the model"
Value conversions were introduced by #242. Currently conversions are only set per-property, although bulk configuration can be used at the end of OnModelCreating in the normal way. This issue is about adding some kind of mechanism to set the conversion for all properties of a given type in the model. This could be through configuration on the model, or it could be via improved bulk config APIs.

[2018-01-27 00:14] ajcvickers commented on #242
Closing this as done for 2.1. Additional related work is tracked by #10784, #10434 #10265

[2018-01-27 00:14] #242 closed

[2018-01-27 00:16] ajcvickers commented on #626
Decision from triage: we will attempt to get state change events in for 2.1 as a stretch goal. Moving other events out for now.

[2018-01-27 00:18] ajcvickers commented on #9244
Note: #8350 has been moved to the backlog. It should be re-triaged after this work is done.

[2018-01-27 00:19] ajcvickers commented on #1199
Note: #8350 has been moved to the backlog. It should be re-triaged after this work is done.

[2018-01-27 00:20] ajcvickers commented on #8973
@smitpatel This is a decent amount of work, so marking as priority high for 2.1 to indicate that it should be done soon.

[2018-01-27 00:31] #10507 closed

[2018-01-27 00:34] bradmarder opened #10785 "Model Query Filter generates incorrect SQL"
The combination of a query filter on a model and a nullable property on a navigation property will generate incorrect SQL. Please note the missing `OR[x.Blog].[IsNullable] IS NULL` in the first query.

Bypassing the model query filter with `.IgnoreQueryFilters()` will generate the correct SQL.

    public class Blog
    {
        public Guid Id { get; set; }
        public bool IsDeleted { get; se

[2018-01-27 00:40] ajcvickers commented on #9076
Note from triage: this hasn't shown itself to be a major problem so far, so we are closing this issue for now. If you hit this then please provide some feedback on this issue and we will re-assess based on the feedback.

[2018-01-27 00:41] ajcvickers commented on #9369
@ErikEJ We think this is likely fixed now. Please let us know if it is still an issue when you move to 2.1.

[2018-01-27 00:41] #9369 closed

[2018-01-27 00:42] ajcvickers commented on #10003
Closing this for now since the demand seems low. If this is something you need, then please feel free to comment saying how this is impacting you and we we re-assess.

[2018-01-27 00:44] ajcvickers commented on #10232
We haven't heard any demand for this, so for now we are closing. Please comment if this is something you providing details of what you are trying to do and we will re-assess.

[2018-01-27 00:45] ajcvickers commented on #10563
This is an issue identified on the Oracle sample provider. We don't plan to fix this in the sample, but we would be happy for a community contributor to fix it. Also, anyone taking the sample as a starting point for production code should consider fixing this issue.

[2018-01-27 00:54] smitpatel commented on #10785
https://github.com/aspnet/EntityFrameworkCore/blob/7a54e8cf63c5f2e8206c53443f00d8d06ce64ae1/src/EFCore.Relational/Query/ExpressionVisitors/Internal/IsNullExpressionBuildingVisitor.cs#L80-L103

Above method should also evaluate ColumnReferenceExpression to check nullability. The bug is not related to QueryFilter but rather due to nullable column being selected from subquery.

[2018-01-27 01:01] ajcvickers opened #10786 "Get benchmark numbers for 2.1"
Benchmarks are running, but we need to get basic reports out to identify any regressions.

[2018-01-27 01:03] maumar commented on #10202
fixed in d947689e5a9871f406438770144aa7f2cb7f9198

[2018-01-27 01:03] #10202 closed

[2018-01-27 01:12] ajcvickers opened #10787 "Lazy-loading proxies: allow entity types/navigations to be specified"
Currently when lazy-loading proxies are used every entity type in the model must be suitable to proxy and all navigations must be virtual. This issue is about allowing some entity types/navigations to be lazy-loaded while others are not.

It is not clear how important this is. If this is something you would use, then please comment and describe the scenario.

[2018-01-27 01:14] ajcvickers opened #10788 "Implement Roslyn-based lazy-loading"
This feature would use Roslyn to re-write entity classes as part of compilation to inject lazy-loading behaviors without the limitations of proxies.

[2018-01-27 01:19] ajcvickers opened #10789 "Add API to configure construction of entity type instances"
Issue #10703 covered the ability of EF to call a parameterized constructor. However, the constructor to use is not configurable. This issue is about adding fluent API and/or annotations to do this and also:
* How properties are bound
* Injecting services or service methods--i.e. generalized case of ILazyLoader and its related delegate
* Configuring a factory method instead of using a constructor d

[2018-01-27 01:19] ajcvickers commented on #10703
Closing this as fixed, with additional work tracked in #10789

[2018-01-27 01:19] #10703 closed

[2018-01-27 01:21] ajcvickers commented on #10509
Triage notes: for 2.1 we will try to do:
* Lazy-loading and no-tracking entities
* Disconnect the lazy-loader on detach, connect on attach
* Allow property injection

Other items will be post 2.1 and are tracked by #10787 #10788 #10789

[2018-01-27 06:30] neyromant commented on #10766
I expect zero, because I choose from the integer column. I'm very surprised, because this worked in ef 1.1.
In any case, thanks!

[2018-01-27 06:38] neyromant commented on #10766
I honestly do not understand why it throws an exception, and does not return nullable.

[2018-01-27 10:20] whizkidwwe1217 opened #10791 "dbContext.Update(entity) is inserting a new record insteading of updating the existing record"
Describe what is not working as expected.
Update method of DbContext is inserting a new record.

Request:
![image](https://user-images.githubusercontent.com/1977391/35471055-3ed4f1e2-038f-11e8-8d70-090b6e6f2908.png)

Controller:
![image](https://user-images.githubusercontent.com/1977391/35470996-6031d0ea-038e-11e8-8200-08c9357e62c0.png)

Repository:
![image](https://user-images.githubusercontent.c

[2018-01-27 10:41] SPEmoorthy opened #10792 "Custom Value Generator Which is trying to acces DI Service failed"
Hi,
 I am trying to implement a Custom Value generator. Whchi is getting number from other DB.

My code is as follows.

public class MyValueGenerator: ValueGenerator<int>
    {
        private ISeqDefinitionRepository _repository;

        public MyValueGenerator(ISeqDefinitionRepository repository)
        {
            _repository = repository;
        }

        public override bool GeneratesTe

[2018-01-27 12:51] whizkidwwe1217 commented on #10791
Found the cause. I should have send the whole data including the existing Id.

[2018-01-27 20:38] ralmsdeveloper opened #10793 "Different result: Single To (FirstOrDefault / Find)"
Is this broken?
Getting different results:
[code]
[code]
To: (FirstOrDefault / Find)
[code]
[code]

**EF Core:** 2.1.0-preview2-28189

[2018-01-27 21:25] julielerman commented on #10015
Hey @ajcvickers ...I wanted to let you know that I was repeating this pattern (look at your code listing for ref) and spent some time hitting an exception when EF Core was trying to materialize the related data (_quotes List). I tried a number of things until I thought to change List<Quote> to ICollection<Quote> and it worked! This is with 2.0.1. Does that sound expected based on a change you made

[2018-01-27 21:50] ajcvickers commented on #10793
@ralmsdeveloper If you are asking why Single gets TOP(2) it's because the contract for Single is to throw if there is more than one result, so we need to know if there is more than one. First does not have this contract, which makes First slightly more efficient since there is less checking to do, which is in turn why it is used in Find.

[2018-01-28 00:16] smitpatel commented on #10766
The behavior EF Core represent is of `Enumerable.Max` and not of SQL. If you are calling max on non-nullable type empty sequence then it throws exception. It would return null of Max is called on a sequence of nullable type.

[2018-01-28 01:07] ralmsdeveloper commented on #10793
@ajcvickers Thanks for responding!!
Just to know if I really understood, will we always have a TOP(2) when using the Single?

Could you help me understand this more?
In my head, I think if "Single" is only unique, it would not make much sense to return 2 records.

This causes an exception.

I really believe the team has a reason for it.
I'm just asking you, so I can know the reason.
So I could sha

[2018-01-28 01:11] ralmsdeveloper commented on #10793
Looking at your response, this is forcing you to throw an exception if you have more than one record.
Basically, is that it?

[2018-01-28 01:14] ajcvickers commented on #10793
@ralmsdeveloper Yes. That's the difference between Single and First. If you know there is only ever one and don't need a runtime check for it, then use First.

[2018-01-28 09:01] NoFear23m commented on #10707
@divega Any news? Is that a mistake from me or an issue?

[2018-01-28 09:15] smitpatel opened #10794 "Query: OrderBy().Take().Last() gives incorrect results"
`var query = db.Blogs.OrderBy(b => b.Id).Take(20).Last();` should give last record of the 20 records selected but instead it gives last record of whole DbSet. Last gets translated as first by inverting order but since there is take in between it would cause the result of Take to change causing incorrect results.
It is translated as if the query was `db.Blogs.OrderByDescending(b => b.Id).Take(20).F

[2018-01-28 12:05] Angelinsky7 commented on #10770
@ajcvickers thanks for your answer... if i find the time and you'ld accept pr, i'll check, the more we are the better, no ?

[2018-01-28 14:42] Timosis opened #10795 "Can not migrate EfCore in .net Core 2 class library"
My project designed as layered approached. My Dbcontext is a different class library that takes entities from a different class library. When i try to migrate  I'm getting following exception. How i can fix this ? Also i have already added  <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles> into my csproj.

[code]

[2018-01-28 16:21] SPEmoorthy commented on #10792
Hi,
Found the way to get the Services from DI in ValueGenerator via dbcontext Object.

 ISeqDefinitionRepository _repository =  entry.Context.GetInfrastructure().GetService<ISeqDefinitionRepository>();

Now my Next Method is as follows.

public override int Next(EntityEntry entry)
        {
            if (entry == null)
            {
                throw new ArgumentNullException(nameof(entry));

[2018-01-28 16:22] ralmsdeveloper commented on #10769
@ajcvickers
This is also related in: #3955 #4501 #4180

@HeMinzhang
This is an ugly solution, but if you really need it you can temporarily fix it with this:
[code]

[2018-01-28 18:06] roji opened #10796 "Off-by-one applying RelationalMaxIdentifierLengthConvention?"
PostgreSQL's identifier length [is limited to 63 bytes](https://www.postgresql.org/docs/current/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS). However, when I set `RelationalMaxIdentifierLengthConvention` to 63 in NpgsqlConventionSetBuilder, and run the complex navigation query tests, I can see EF is trying to create constraints such as `FK_InheritanceLeafOne_InheritanceOne_SameTypeRefere

[2018-01-28 19:23] ileve opened #10798 "EntityEntry instance does not track changes in State"
An `EntityEntry` instance returned by an `Add` operation, does not track correctly changes in `State`. If for example we modify the previously added record, then `State` changes to  `EntityState.Modified` but it is not tracked by the `EntityEntry` instance.

### Steps to reproduce
1. create a xunit test in Visual Studio 2017, by selecting .NET Core -> xUnit Test Project (.NET Core).
2. We execute

[2018-01-28 22:33] FSou1 commented on #3797
I'm sorry for probably a dummy question, but I'm a little bit confused why each of my properties are loaded by itself :)

I even would like to Ignore some of them, because otherwise I have to set ReferenceLoopHandling = ReferenceLoopHandling.Ignore.

I'll be really happy to have an opportunity to use `.Include` only when I need it.

Is it possible?

[2018-01-28 23:07] syndicatedshannon commented on #5837
@bricelam : Yes, that would match, thank you for the reference.

Although, I had hoped it wouldn't require writing to a separate API, for example if there was a neutral way to approach both external DB and VS SSDT database projects. I see, looking at the DACFX API Rowan linked, where that would be an excellent toolset, but without the correct abstractions in this issue here, I probably wouldn't re

[2018-01-29 05:22] SimonCropp commented on #4096
please re-open this. it is a bug

[2018-01-29 05:30] HeMinzhang commented on #10769
I want this api:

https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties

modelBuilder.Entity<Blog>()
    .Property(b => b.LastUpdated)
    .ValueGeneratedOnAddOrUpdate();

[2018-01-29 05:33] shimanbb opened #10799 "EF Core 2.0 in Ubuntu 17.10"
Did everything according to the following link:
https://cmatskas.com/scaffolding-dbcontext-and-models-with-entityframework-core-2-0-and-the-cli/

Ran
`dotnet restore`
`dotnet ef`

Got
`The specified deps.json [/home/.../.nuget/packages/.../Microsoft.EntityFrameworkCore.Tools.DotNet.deps.json] does not exists.`

Added
`<OutputPath>bin\Latest\</OutputPath>`

in the "PropertyGroup", still no change.

[2018-01-29 05:34] SimonCropp commented on #6872
any update on this one?

[2018-01-29 06:03] edwardyehuang commented on #1100
Any update atm?

[2018-01-29 10:24] ikourfaln commented on #1100
Any Update ? any Milestone ?

[2018-01-29 10:31] akyildizfirat commented on #10417
Thank you very much for your answers.

[2018-01-29 11:26] JonPSmith opened #10800 "Question: How to set up collection backing fields that aren't initialised?"
I am trying to use a DDD-approach to using EF Core, and I would like to leave a collection backing field as null. That would allow me to check if the caller has loaded the the collection before calling the aggregate update method in my entity class, i.e. I check that the collection backing field is non-null. (see code below for example of what I am trying to do).

# UPDATE
**This does work - I jus

[2018-01-29 12:32] mhosman commented on #1100
No response since november... who is in charge of this project? how much lack of seriousness!

[2018-01-29 13:35] ralmsdeveloper commented on #10769
@HeMinzhang , Yes I know, I just informed you of a workaround.

I'm sure @ajcvickers, will give you a better answer, why does this seem to be really broken.

[2018-01-29 14:11] the-daniel-rothig commented on #10768
@Tarig0 Unfortunately not - computed columns are evaluated on INSERT/UPDATE, and stored in a physical column - see #6752. I want for my evaluation to happen at SELECT-time, without the need for a column in a table.

@ajcvickers Sure :) - let me give a toy example. Let's say I create a simple to-do list app with the following entity type:

   public class ToDo
   {
       public int Id { get; set;

[2018-01-29 15:02] HeMinzhang commented on #10769
@ralmsdeveloper Very thanks.

[2018-01-29 16:49] ajcvickers commented on #10800
@JonPSmith EF can't initialize `_reviews` because it is readonly. If it still fails when the field is writable, then this might be a bug.

[2018-01-29 16:50] ajcvickers commented on #1100
This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-29 16:51] ajcvickers commented on #6872
This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-29 16:55] ajcvickers commented on #3797
@FSou1 EF always keeps pairs of navigation properties in sync so that the graph remains in a consistent state with respect to its relationships. Include tells EF to load a given relationship, which may have one or two navigation properties associated with it--if there are two, EF keeps them in sync.

[2018-01-29 17:03] ajcvickers commented on #10798
@ileve EF has no way to know that Age has changed unless it runs a scan to detect the change--this is triggered by a call to `context.ChangeTracker.DetechChanges()`. EF calls DetectChanges automatically in some strategic places, but not everywhere since it can be an expensive operation. Calling `context.Entry` will cause DetectChanges to run, but not just looking at the state on an existing Entity

[2018-01-29 17:05] smitpatel commented on #10799
Share your csproj file. The link you shared have some inaccuracies in how & what packages needs to be installed. Docs would provide more accurate way on configuring the project correctly for scaffolding https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2018-01-29 17:07] smitpatel commented on #4096
@SimonCropp - The tracking issue is #6872 which is open and in backlog.

[2018-01-29 17:07] ajcvickers commented on #10770
@Angelinsky7 We always appreciate PRs. If you are going to submit a PR, please post here with the general approach you plan to take before doing too much work on it so that we can make sure it follows the direction we want to go in this area.

[2018-01-29 17:10] ajcvickers commented on #10769
@HeMinzhang I don't think there is a way to set this up in the database without triggers and custom update logic. This is not something EF is going to implement in the near future. The best option for now is to either setup the database to do it outside of EF, or override SaveChanges as shown above.

[2018-01-29 17:12] smitpatel commented on #10796
https://github.com/aspnet/EntityFrameworkCore/blob/e45e6739d4e3535c918a2275c323f56c615f5164/src/EFCore.Relational/Metadata/Internal/ConstraintNamer.cs#L148-L149

Needs to subtract 2 because, we add `~` extra.

[2018-01-29 17:14] ajcvickers commented on #10015
@julielerman The code works for me with a List or an ICollection.

[2018-01-29 17:16] smitpatel commented on #10795
Is it EF 5.0? 😨

[2018-01-29 17:20] FSou1 commented on #3797
@ajcvickers Ok, thank you. And is there a workaround to make loading of these pairs of navigation properties optional?

[2018-01-29 17:20] smitpatel commented on #10707
The function is taking 3 parameters. That is probably the cause of client evaluation. I am not sure about functions in VB. But in C#, string.Equals(str1, str2) would get translated to server. But if you use the overload with 3rd parameter of StringComparison then it is client evaluated.

[2018-01-29 17:25] smitpatel commented on #10747
@roji - Can you post QueryModel for this one?

[2018-01-29 17:29] RobertDM commented on #1100
The EF Team seems to think that spatial support is some sort of esoteric feature.

I would respectfully remind them that the spatial types people are now clamoring for were fully supported in EF 6,  and that removal of a datatype is about as severe of a breaking change as you could ask for.

[2018-01-29 17:33] ajcvickers commented on #3797
@FSou1 No, other than if you only use the navigation in one direction, then don't include the inverse in the model at all.

[2018-01-29 17:40] Angelinsky7 opened #10802 "Question : How can we resolve multi-inheritance correctly ?"
Hi,
I would like to understand with the ef core point of view the correct way of mapping a database with multi-inheritance.
I already know that simple inheritance is not totally complete (we only have 'Mapping the Table-Per-Hierarchy (TPH) Inheritance' and missing 'Mapping the Table-Per-Type (TPT) Inheritance' and 'Mapping the Table-Per-Concrete Class (TPC) Inheritance')

Imagine that i have this

[2018-01-29 17:43] cartermp commented on #9914
@divega since 2.1 is winding down, is this something we could get on the docket for 2.2?

[2018-01-29 18:00] #10636 closed

[2018-01-29 18:48] bricelam commented on #9121
In version 2.1, we switched from returning `string` to a more structured type. In the future, we can enhance this type with additional information about chained calls and whether the consumer can continue the original chain after applying this fragment.

Closing as resolved for now. We can file new issues as specific needs arise.

[2018-01-29 18:48] #9121 closed

[2018-01-29 18:58] JonPSmith commented on #10800
Thanks @ajcvickers. That's what I get for converting code and not looking. Sorry to have troubled you.

I did have to turn the fields to HashSets<T>, which is fine. It all works now and I have updated my question to show the correct code in case someone else wants this solution.

[2018-01-29 19:00] roji opened #10803 "DI issue when provider doesn't define an IRelationalTypeMapper"
While moving to the new type mapper API, I ran into the following startup issue (using 2.1.0-preview1-28185):

[code]

There's no longer an `IRelationalTypeMapper` since it's been replaced by `IRelationalCoreTypeMapper`. Will temporarily add a dummy one in my provider.

/cc @ajcvickers

[2018-01-29 19:05] Martijn85 opened #10804 "UWP EF Core SQL Connection failing"
I have created an UWP application for Windows 10 Fall Creators update (16299) with EF Core and Microsoft SQL.
This all works great when testing the application using debug or deploy from Visual Studio. But if I create a package for the app store I get a validation failure. The app then also doesn't connect to the database (screen turns red in my example).
Can anybody help, I'm at a loss?

For test

[2018-01-29 19:06] #7160 closed

[2018-01-29 19:54] mrlund commented on #1100
Seriously?! Spatial is a **BASIC** feature that many apps depend on, and - I'm willing to bet - are trying their best to work around until EF adds proper support.

**VERY** disappointing to hear it's been cut from 2.1 as well! I'm starting to think we'll never see spatial support in core.

[2018-01-29 20:09] figuerres commented on #1100
I think the problem is more like this: what the we need is to know how many projects today need the feature and are staying with EF 6 until EF Core has it ?
not many folks are posting here so it's all a guess.
if a lot of projects were built before .net Core and are not being updated then we do not know about them. they may never get updated.
so if they hear only 5 or 6 users asking then it's not