[2016-11-21 21:18] rowanmiller commented on #7083
Can you change:

[code]

to (note the removal of `.`s):

[code]

[2016-11-21 21:20] alastairanderson commented on #7081
Thanks for taking the time to respond @rowanmiller

That's done the trick. Appreciate that things are in flux just now. First time I've seen that particular version mentioned anywhere, but hopefully if anyone else is experiencing the same pain they will come across this thread

Thanks and closing

[2016-11-21 21:22] rowanmiller commented on #7081
The best source for this info is the Upgrading to 1.1 section in the announcement post - https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/.

And as you said, things are very much in-flux and will be much less fragmented by the time we reach RTM.

[2016-11-21 21:27] rowanmiller commented on #7078
Currently this is by-design (and not really specific to EF). The packages add up to ~1.5mb in the deployed app size (the dlls are super slim on full .NET). That said... it is annoying to have all those extra binaries/references/etc. so there is some work underway in upcoming versions to try and improve this.

[2016-11-21 21:29] rowanmiller commented on #7082
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information? If you are just reverse engineering, and not making any extra changes to the model, then just providing the database schema should be enough.

Ideally include a c

[2016-11-21 21:42] maumar commented on #7003
Fixed in f51502f9a63f07c9d57b36cb59e1a28fcfc72713

[2016-11-21 21:42] #7003 closed

[2016-11-21 21:49] bdm4 commented on #6971
Yes. it's still happening with 1.1.0-preview4. If I remove  "Microsoft.EntityFrameworkCore.Tools.DotNet": "1.1.0-preview4-final", from project.json nuget starts working again.

[2016-11-21 21:49] smitpatel commented on #7077
I am not able to reproduce this issue.
I set output folder using absolute path in different drive. It works as expected by copying over bin etc to that folder & generating migrations.

Above paths are incorrect. Can you share more details about project?

[2016-11-21 22:15] AndriySvyryd commented on #7079
@jnm2 Could you also share the DbContext? I tried with this one and didn't get any errors:
[code]

[2016-11-21 22:24] maumar commented on #7061
Simplified repro:
[code]

[2016-11-21 22:24] jnm2 commented on #7079
@AndriySvyryd sorry for interjecting, I think you want @prindacerk

[2016-11-21 22:25] AndriySvyryd commented on #7079
@jnm2 Oops, you are correct.

[2016-11-21 22:26] prindacerk commented on #7079
@jnm2 I know and on actual implementation, both Estimate and Invoice have a base class which they inherit from. However, I noticed this problem when implementing the classes and I wanted to bring it to attention that if the base class has a relationship, then the inheriting class also creates a separate relationship by default which causes conflict.

@AndriySvyryd I assume you were asking me. The

[2016-11-21 22:38] rowanmiller commented on #7071
Confirmed what we speculated in triage: this affects just the `1.1.0-preview4` tools on apps that target full .NET (rather than .NET Core). I couldn't find a way to workaround this with the latest tools preview.

The best option right now is to roll back to the `1.0.0-preview3` version of the `Microsoft.EntityFrameworkCore.Tools.DotNet` package. Fortunately, because of the way things are factored,

[2016-11-21 22:39] rowanmiller commented on #7071
Clearing to re-discuss in triage. To me, this would probably be patch worthy, but I'm not sure that we are planning to patch the preview tooling.

[2016-11-21 22:39] monicadelprado opened #7089 "EF Core 1.0 not including columns with default values in insert into query"
### Steps to reproduce
I'm using  EF Core 1.0 and I have a model where I design some properties with default values similar to
`modelBuilder.Entity<Listings>(entity =>
{ entity.Property(e => e.IsActive).HasDefaultValueSql("1");}`
The table in the database is created correctly defining the columns with the corresponding default value
`[IsActive] bit NOT NULL DEFAULT 1`

### The issue
When I add a n

[2016-11-21 22:42] AndriySvyryd commented on #7079
@prindacerk Even with the provided context I don't see the error. The migration fragment you supplied is the same that I get.
try adding the `verbose` parameter to see if it gives some useful information:
[code]

Also even though it's unlikely to be cause this issue, update `Microsoft.EntityFrameworkCore.Tools.DotNet` to `1.1.0-preview4-final`

[2016-11-21 22:45] maumar commented on #6861
Fixed in 398dec481af80bbb6af9f4d736eae88ce7219416

[2016-11-21 22:45] #6861 closed

[2016-11-21 22:56] smitpatel commented on #7053
@MikaelGRA - I am not able to reproduce your issue. Can you share more details about your project setup?

I tried following steps:
1. Create new Asp.net web app using individual accounts.
2. Change the target framework to use net461.
3. Add new class lib to same solution and move model & migrations to class library. Add appropriate packages in class lib and reference it from web project.
Make sure

[2016-11-21 23:03] MMalikKhan commented on #6253
@DamirLisak  @jspuij thanks so much for your reply, i did try to build the package using Visual Studio 2017 RC and had the same issue with ARM devices. Then, i updated the Default.rd.xml to exclude EntityFrameworkCore libraries and build the package again with 2017RC and this time it did work on ARM devices. I am using below version at the moment.  I hope this help someone, now what i am not sure

[2016-11-21 23:05] smitpatel commented on #7034
@manospasj - Which version of EF are you using? This works fine in 1.1.0 release.

[2016-11-21 23:09] rowanmiller commented on #7086
The problem is that you are trying to map `NewsPageDocument` and `ProductPageImage` as if they have the both inherit from `Relationship<Page, LibraryItem>`, but they do not.

[code]

`NewsPageDocument` inherits `Relationship<NewsPage, Document>` and `ProductPageImage` inherits `Relationship<ProductPage, Image>`. I realize that both `NewsPage` and `ProductPage` inherit `Page` and that `Document` an

[2016-11-21 23:13] smitpatel commented on #7013
@divega - Close this since the app is working again?

[2016-11-21 23:16] prindacerk commented on #7079
@AndriySvyryd Sorry I missed a step in the error messages I was getting. My bad. I just recreated a new project and added the classes. I get the first error message from the script. Included the verbose and this is the output.

[code]
Then I decided to manually redeclare the VehicleId in Invoice class which is what caused the above error I mentioned in the OP.

As for `1.1.0-preview4-final`, I upg

[2016-11-21 23:16] ajcvickers commented on #7021
@johnmurphy01 I haven't been able to reproduce what you are seeing, but I have noticed a few things about the solution that look suspicious. Some things to consider:
* OnlineContext has a singleton instance of the DbContext. This is not recommended. DbContextis designed to represent a relatively short-lived session; usually a single unit-of-work. It should be disposed when the session is done and

[2016-11-21 23:19] AndriySvyryd commented on #6792
@HappyNomad We actually tried to use the proposed heuristic in addition to others before the 1.0.0 release, but it became harder to explain and understand how EF chooses the dependent side, while it didn't improve the success rate that much, as many users have different expectations.
Unfortunately there's currently no public way of doing what you want, but it should be handled by Custom Convention

[2016-11-21 23:26] AndriySvyryd commented on #7079
I see, for this error to be fixed you would need to update to 1.1.0-preview4-final. the --config issue is tracked by https://github.com/aspnet/EntityFramework/issues/7071
As a workaround you can edit the migrations file and add maxLength:
[code]

[2016-11-21 23:28] jemiller0 commented on #6861
Thanks. I greatly appreciate it.

[2016-11-21 23:30] ajcvickers commented on #7087
@roji @laskoviymishka We discussed this in triage and decided that we do want to keep the relational API. There are two main reasons for this:
* We have relational concepts and APIs where there is good overlap for those concepts even if the exact strings might not match for all relational providers. For example, relational column types can be spcified even though some relational databases have ver

[2016-11-21 23:31] smitpatel commented on #7005
Query composition did not work because the Sql started with new line character and there is no space after Select. 😞

[2016-11-21 23:37] prindacerk commented on #7079
@AndriySvyryd ok thanks. I was hoping not to mess with the migration file because then any other person who may remove and add a new migration may not realize the patch work I did. And since I can't use `1.1.0-preview4-final` at the moment, I am left with no choice.

Anyway, I am going with a base class approach so both Estimate and Invoice inherit from that and the link to Vehicle is handled in E

[2016-11-22 00:18] gdoron commented on #1833
@rowanmiller I'm sure everyone has different point of views and needs but here are my two cents:
Most of the things that are missing have somewhat reasonable workarounds.

e.g.
Lazy load - simply `Include` upfront all your data.
View mapping- Manually create a migration.
SP Mapping - Use some technique as with View.
etc.

But Filtered Include has 0 reasonable workarounds.
The only workaround is wr

[2016-11-22 00:49] jemiller0 opened #7092 "SQL Server constraint identifier can exceed max length when generating database schema from model"
I found that if you have a table that has a lot of columns in it's primary key, it is possible to make EF Core generate invalid SQL Server identifiers for unique constraints that it generates. I.e. the identifiers can exceed 128 characters. To fix this I think you would need to truncate the identifier string and possibly add a tie breaking digits to the end of the identifier in case there are more

[2016-11-22 00:54] smitpatel commented on #7092
As a manual workaround you can use `HasName()` on keys to change the name.

[2016-11-22 01:00] jemiller0 commented on #7092
Perfect. Thanks for the info. I will try that. I just need it to be good enough that I can generate the database. The only reason I'm even doing this is because I ran into a different bug where for some reason, I was getting a stack overflow exception when using my model in a ASP.NET Web Forms app. It works fine in a console app. I was using the Pomelo MySQL driver since I receive a driver signing

[2016-11-22 01:12] jemiller0 commented on #7092
One question though. It looks like it's generating a number of unique constraints. Not just one. I was able to rename the main constraint, but, there are a bunch of other ones that look like the contain subsets of the columns. I'm wondering if there is a way to rename those as well?

`modelBuilder.Entity<EncumbranceHistory>().HasKey(eh => new { eh.FiscalYearYear, eh.ChartCode, eh.AccountCode, eh.O

[2016-11-22 01:16] atrauzzi commented on #1833
I completely agree.  I think if we're going to talk about priorities, then the discussion should shift to why filtered includes **aren't** a higher priority.  This is going to come up over and over, so why bother with trying to tell everyone it's just not important _enough_?

[2016-11-22 01:36] smitpatel commented on #7092
If you really don't care about the name of constraints then you can put this code at the end of `OnModelCreating` method. It will go through all entity types, find all keys and set their names as TEST1, TEST2 and so on.

[code]

[2016-11-22 01:43] AndriySvyryd commented on #7007
@BigVan This should have been fixed in 1.0.1. Update `Microsoft.EntityFrameworkCore.Relational` to `1.0.1` and try again.

[2016-11-22 01:55] AndriySvyryd commented on #7017
@gmartinezsan There were definitely changes in this part of the code, however nested transaction support is not required.
Can you identify where the first transaction is started? MySQL provider might need to update the implementation to track the current transaction.

[2016-11-22 02:33] VagueGit commented on #7069
I have moved MainPageViewModel into Model.cs
[code]
The error persists

[2016-11-22 03:00] sethen commented on #7056
The articles that were posted definitely fixed my issues.  Thanks a lot!

[2016-11-22 03:33] jamesrich0855 opened #7094 "DbSetInitializer does not check if type is not added to model"
I am using GetKpiMeasures() to return an IQueryable collection for a grid. The query string returns the correct data with no nulls when run in SQL Server. However the FromSql() call fails.

Any ideas about what the problem is here please?

### Steps to reproduce

        public IQueryable<KpiMeasure> GetKpiMeasures()
        {
            StringBuilder sb = new StringBuilder();
            sb.Appe

[2016-11-22 04:01] maumar commented on #7061
Fixed in a7e0117695f23fe49c9d0a8b7f69209f5f3ec394

[2016-11-22 07:56] DamirLisak commented on #6253
I’m sorry, I didn’t explained it precisely enough:

Excluding the EF-Core libraries with the default.rd.xml worked also in my app, so that I was able to launch my app.
But I had problems in some cases with the DB-Context when I added and saved new objects in the Release-Version.
In Debug-mode it worked as expected.
I tested it with 1.1.0-preview1-final, 1.0.1 and 1.0.0 and all had this same proble

[2016-11-22 08:01] oleksandrmelnychenko commented on #7077
I had this issue twice. I have configure the *dll with Identity Server 4 with ASP.NET identity, added IdentityDbContext. After i did Add-Migration -> deps.json error.
Later i created a new asp.net core lib with Ef, doing everything from stretch and okay, migration has been done successfully.

[2016-11-22 08:04] oleksandrmelnychenko commented on #7077
I did also many experiments with Nuget Microsoft.EntityFramework.Tool.DotNet.
 It don't want to install normally, I have added hard-coded in MSBuild and okay.

[2016-11-22 08:16] constantin-v commented on #7068
I found a workaround. The system didn't find the System.Data.SqlClient because it was missing. So I had it manually.

In `C:\Users\Constantin\.nuget\packages\System.Data.SqlClient\4.1.0\runtimes\win\lib` there were only `net46`, `net451` and `netstandard1.3`. I manually created `netstandard1.5` and paste the dll into it.

_Thanks to proviste for the tips_

[2016-11-22 08:23] manospasj commented on #7034
@smitpatel I use EntityFrameworkCore version 1.0.1 with Sql Server.
I also get some other errors on 1.1.0, so updating to the latest release is not an option right now.

[2016-11-22 08:42] toralux opened #7095 "Query: Translate String.CompareTo()"
### To reproduce

@rowanmiller
See this attached example to reproduce:

[efcore_example.zip](https://github.com/aspnet/EntityFramework/files/605825/efcore_example.zip)

Small Console-app example that shows SQL-server filtering.

It works / generates SQL when filtering on >= and <= for int-values:
SELECT [p].[Id], [p].[Age], [p].[Name]
FROM [Persons] AS [p]
WHERE ([p].[Age] >= @__range_Start_0) AND

[2016-11-22 09:27] TPJ11 commented on #7083
@rowanmiller changed the framework (was I always doing it wrong or have they changed it?) anyway I'm now getting the following error

`Unrecognized option '--config'`

### project.json file looks like

`{
  "version": "1.0.0-*",

  "buildOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",
    "Microsoft.EntityFrameworkCore.Tools"

[2016-11-22 09:35] AsValeO opened #7096 "The LINQ expression could not be translated and will be evaluated locally wrong warning."
### Steps to reproduce
[code]
### The issue
I guess this warning is wrong. Am I right?

[code]

### Further technical details

EF Core version: 1.1.0
Operating system: Windows 10
Visual Studio version: VS2015U3

[2016-11-22 09:46] maumar commented on #7096
@AsValeO can you also post your model? Specifically code listings of all entities used and the contents of OnModelCreating method on the DbContext

[2016-11-22 10:12] mehmetilker commented on #5320
@bricelam Which means we still have to reference EF Core to the web project ?
Is there any open issue related with this problem we can follow ?
Lots of people are waiting to remove EF references from their web projects I guess...

[2016-11-22 11:42] branciat commented on #7084
To simplify the reproduction of error, I created a project on my github account [TestCompositeKey](https://github.com/branciat/TestCompositePrimaryKey).
Normally just change the version of entityframework to 1.0.0 in the project.json for it to work.

[2016-11-22 13:28] cspwizard commented on #7077
I can reproduce same issue. And I can share a project if you need to reproduce it.

First I had an issue described in the http://stackoverflow.com/questions/37590604/can-not-find-runtime-target-for-framework-netcoreapp-v1-compatible-with-one-of

after suggested fix I've a problem described here.  The issue I think is caused by the fact that *.deps.json is in win10-x64 folder inside output. And not

[2016-11-22 13:57] constantin-v commented on #7068
I solved the problem, I don't know how, but it's working.

**Project.json**

[code]

And I also add this

[code]

[2016-11-22 14:02] johnmurphy01 commented on #7021
@ajcvickers thanks for the input. I have struggled to wrap my head around the best way to structure my context, that's certain. It appears that removing the singleton pattern from the context creation was the issue. After re-instantiating the context for each section of work, I was able to delete the db file with no problems.

[2016-11-22 14:21] eqbalsajadi commented on #3921
@ajcvickers Thank you

[2016-11-22 14:22] eqbalsajadi commented on #7041
@ajcvickers Thank you

[2016-11-22 16:51] smitpatel commented on #7077
@cspwizard - Please share the repro project.

[2016-11-22 17:20] MikaelGRA commented on #7053
@smitpatel

Thank you very much for your help, but I am still at a loss.

I have successfully reproduced the error I am experiencing in a unrelated project, right here:

https://github.com/MikaelGRA/Whatever

In this project, I have moved the DbContext/Model to a different project and deleted the migration that comes with the template.

When I used the old version of EF Core, I was able to:
 -> Se

[2016-11-22 17:36] AsValeO commented on #7096
**ProxyServer.cs** - entity
[code]
**ProxyServerLoadResult.cs** - entity
[code]
**OnModelCreating**
[code]

[2016-11-22 18:01] rowanmiller commented on #7083
@TPJ11 having the periods was always wrong, but it looks like some of the project tooling was smart enough to "know what you meant" 😄.

The `Unrecognized option '--config'` issue is tracked by #7071 - unfortunately there isn't a good workaround, but you can roll back to the preview3 tools and keep using the 1.1 runtime. There are details about this in #7071.

BTW you can remove `"Microsoft.EntityF

[2016-11-22 18:14] rowanmiller commented on #1833
Just to be clear, the items on the roadmap are the very top of the 100s of feature requests we have sitting on the backlog. So it's inclusion on the list means that it is one of our top priorities. The split between "Critical" and "High Priority" is always subjective. The current split is based on our imperfect aggregation of the feedback from all our customers.

It's not as clean as true filtered

[2016-11-22 18:28] atrauzzi commented on #1833
Really?  There's no way to filter joined-in data in the same query?

[2016-11-22 18:28] rowanmiller commented on #7068
@matjazmav I spent some time debugging this and it is specific to class libraries. You can workaround it by using one of the workarounds listed at the end of https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet. The least intrusive is to add a console application to your project, that references your class library, and then specify it as the startup project.

I took your project.json

[2016-11-22 18:29] cspwizard commented on #7077
@smitpatel here is the source code https://bitbucket.org/cspwizard/performancetestreporting/src

[2016-11-22 18:29] rowanmiller commented on #7068
I suspect this is already covered by https://github.com/aspnet/EntityFramework/issues/5320, but will wait to confirm with @bricelam before closing.

[2016-11-22 18:32] gdoron commented on #1833
@rowanmiller

I thought it's a temporary limitation that you're working on fixing.
Are you telling me it is by design?
Because it's not just two queries, it's two round trips to the DB.

Anyway, it might be acceptable for one collection loading, but when you have 10 included entities (we already have 6-7 in some places,), that means 11 round trips or querying the DB with 10 connections concurrentl

[2016-11-22 18:33] rowanmiller commented on #1833
cc @anpete and @divega who can provide some more context. But in general, the EF Core approach out performs the EF6.x approach pretty consistently.

[2016-11-22 18:37] anpete opened #7097 "Some wrinkles in async compiled queries"
1) AsyncEnumerable return type should probably be in root namespace (currently. .Query)
2) No easy way to call a singleton async operator on an AsyncEnumerable.

[2016-11-22 18:39] gdoron commented on #1833
I find it very hard to believe EF Core is or will be faster **because of this approach**.
You might have fixed some internal slow parts that caused slow execution?

I believe several roundtrips will never be as fast as a single **well written** query.
That just doesn't make any sense **to me**.
I can ask my ex-CTO which is a SQL-Server MVP for his input if you like @rowanmiller.

[2016-11-22 18:42] anpete opened #7098 "FromSql: How to execute a singleton query without composition?"
Consider this query:
[code]
We should consider adding some way of suppressing composition here.

[2016-11-22 18:46] anpete commented on #1833
@gdoron We never execute n+1 queries for Include. For your collection example, we would execute two queries, one for the parents and one for all of the children of those parents.

EF6 would execute one single left outer join query, which results in the dreaded cartesian product result set - The parent data is duplicated for each child row in the results.

[2016-11-22 18:47] rowanmiller commented on #2850
Note to self: leaving unassigned as we will prioritize as part of 1.2 planning next week

[2016-11-22 18:47] rowanmiller commented on #1100
Note to self: leaving unassigned as we will prioritize as part of 1.2 planning next week

[2016-11-22 18:48] rowanmiller commented on #7047
cc @divega just a reminder to follow up on this one 😄

[2016-11-22 18:51] gdoron commented on #1833
@anpete that's a relief... 👍 😄
Thanks for clarifying!

[2016-11-22 18:52] rowanmiller commented on #7072
@hyuksel @charleeswann are you able to confirm if this is working with the correct package versions installed?

[2016-11-22 18:54] rowanmiller commented on #7089
I think  we made some bug fixes around this in 1.1. Could you upgrade to 1.1 and see if the issue is fixed? https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/

[2016-11-22 18:57] rowanmiller commented on #1833
This is probably obvious, but that's also what the workaround code I listed does. It's two queries, not n+1.

[2016-11-22 19:02] rowanmiller commented on #6971
cc @yishaigalatzer to see if you have any ideas how to debug this one

[2016-11-22 19:03] rowanmiller commented on #7068
@bricelam feel free to close if this is already tracked by #5320

[2016-11-22 19:03] ikourfaln commented on #1100
@rowanmiller thanx for informing us.
Waiting for roadmap details.

[2016-11-22 19:06] Bartmax commented on #1833
In the example you provided,

[code]

how should I also include `Blog.Images` ? Do I need a 3rd query?

[code]

I don't see 1 query for parents and 1 for *all* childrens, instead I see one query *PER* children.

Am i missing something?

[2016-11-22 19:08] gdoron commented on #1833
@rowanmiller @anpete actually I'm not sure we understood each other correctly.
I wasn't talking about N+1 where N = number of **rows**, but where N=number of included **properties**.

So in case I have a query like:

	context.Post
	.Include(x=> x.Images)
	.Include(x=> x.Paragraphs)
	.Include(x=> x.As)
	Include(x=> x.Bs)
	Include(x=> x.Cs)
	Include(x=> x.Ds)
	.Where(x => x.Id == 1)
	.ToList()

We'l

[2016-11-22 19:17] gdoron commented on #1833
@anpete @rowanmiller
Just had a phone call with a SQL-Server MVP, a summary of what he said:

1. To SQL Server it doesn't matter if you'll have a single query or 10, the redundant fields returned have 0 impact on SQL Server.
2. Splitting the queries is what SQL is doing internally anyway, and when people try to optimize SQL, it's usually to the worst as SQL is doing better when not forcing it do a

[2016-11-22 19:28] Bartmax commented on #1833
@gdoron i don't think it's that black or white, and pretty sure @rowanmiller (and the ef team) understands very much the internals of SQL and ORMs. I wouldn't even dare to question that.

I think the item being in high priority should be enough, they know it's important and they will **add** it. But for some it's just critical and for others is high priority. This thread focus turned into make it

[2016-11-22 19:31] gdoron commented on #1833
I never did... and I apologize to the team if I was understood otherwise!
It never hurts to hear another expert though.

[2016-11-22 19:32] rowanmiller commented on #7098
We will start by looking at patterns that do not involve a first class API in EF for this scenario

[2016-11-22 19:48] hyuksel commented on #7072
I'm getting the following error?

Dependency specified was Microsoft.NET.Sdk.Web (>= 1.0.0-alpha-20161104-2) but ended up with Microsoft.NET.Sdk.Web 1.0.0-alpha-20161104-2-112.
Install-Package : Package 'Microsoft.EntityFrameworkCore.Tools.DotNet 1.0.0-msbuild1-final' has a package type 'DotnetCliTool' that is not supported by project 'XXXXX'.
At line:1 char:1
+ Install-Package Microsoft.EntityFra

[2016-11-22 20:07] jemiller0 commented on #7092
Thanks for the help. I was able to work around the problem based on the solution that you provided. I used the following code to only modify the ones that exceeded the max length. It truncates them to a few characters less than the limit and adds a counter to the end.

[code]

This is a good enough solution for me.

[2016-11-22 20:24] rowanmiller commented on #1833
@Bartmax

Yes, you would need a third query. I'm definitely not saying that it's as good as native filtered loading, it does get pretty messy, it's just one possible way to tackle the problem while we do not have native support.

The second query starts by filtering to posts that belong to the blogs returned in the first query (`.Where(p => blogsIds.Contains(p.BlogId))`). It then applies additiona

[2016-11-22 20:39] robertmclaws commented on #1100
@divega FYI, System.Spatial is here: https://github.com/OData/odata.net/tree/ODataV4-7.x/src/Microsoft.Spatial

@jumpinjackie Those libraries have no docs, and few samples. No thanks. This is something that Microsoft needs to take responsibility for shipping, so that the core types used by SQL Server are the same ones used by .NET. Each provider should be responsible for internally translating the

[2016-11-22 21:11] anpete commented on #1833
@gdoron There are trade-offs here for sure. I would encourage you to do some measuring of your specific scenarios using both the EF6 and EF Core approaches. We would definitely be open to further improvements in this area if you uncover something compelling.

[2016-11-22 21:18] lnaie commented on #6971
In the meantime, using the nuget package works: `Install-Package Microsoft.EntityFrameworkCore.Tools -Pre`
PMC commands are documented here: https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell

[2016-11-22 21:24] gmartinezsan commented on #7017
@AndriySvyryd Thanks for the feedback. I'll review the process and let you know if I have any question.

[2016-11-22 21:26] rowanmiller commented on #7072
@hyuksel I am working on sorting out the `dotnet ef` issue at the moment. In the meantime, if you install the following package, are you able to use the `Scaffold-DbContext` command in Package Manager Console?

[code]

[2016-11-22 21:31] smitpatel commented on #7053
@MikaelGRA - Thanks for Whatever 😉

I cloned the repo. Opened solution in VS. Following is the output from PMC afterwards.
[code]
Due the first error the only code I had to modify was
[code]

[2016-11-22 21:31] ajcvickers commented on #7040
Confirmed that this repros. Errors are:

[code]

[2016-11-22 21:31] ajcvickers commented on #7040
@bricelam Any ideas on this?

[2016-11-22 21:39] smitpatel commented on #7077
@cspwizard - I cloned that code and following powershell terminal. I am still not able to repro it.
[code]

[2016-11-22 21:47] smitpatel commented on #7094
Generated query:
[code]
@jamesrich0855 - Can you share your full DbContext class? I am not able to repro based on information provided above.

[2016-11-22 21:48] MikaelGRA commented on #7053
@smitpatel

Hehe :)

Now that you mention it. It does seem to work if I:
 -> Set migration assembly to the 'web project'
 -> Set startup project to the 'web project'
 -> Set default project to the 'web project'
 -> Run Add-Migration Initial

Now, this adds a migration. Hurray. 👍  (even though the DbContext is NOT actually located in the web project)

However, It does not add it to the project wher

[2016-11-22 22:06] xperiandri commented on #1100
The questions if and when will it be updated to support .NET Core

[2016-11-22 22:31] divega commented on #1833
BTW, another aspect of this that I would love to see feedback on is what level of granularity is more interesting to prioritize:

1. Explicit filters at the query level as the original post describes
2. Implicit filters that are applied to all queries over specific types in a context (but that can possibly overridden at the query level). E.g. for the soft-delete case this would probably mean the f

[2016-11-22 22:44] bricelam commented on #7071
This is fixed in dev (could become preview5) and dev2 (will become msbuild2).

[2016-11-22 22:50] bricelam commented on #7040
Hmm, sqlite3.dll on UWP shouldn't be using kernel32... Bad SQLite release?

[2016-11-22 22:51] bricelam commented on #7040
Does downgrading the SQLite package fix it?

[2016-11-22 22:58] rowanmiller commented on #7071
@bricelam does just using preview3 for full .NET projects seem like the best workaround to you?

[2016-11-22 23:03] jamesrich0855 commented on #7094
[KpiContext.zip](https://github.com/aspnet/EntityFramework/files/607789/KpiContext.zip)

[2016-11-22 23:05] smitpatel commented on #7053
@MikaelGRA - We understand this is not best user experience at present. Tooling is going through a lot of changes and still in pre-release. It would have much better user experience by the time it RTM :)

[2016-11-22 23:09] jamesrich0855 commented on #7094
smitpatel,

Thanks for the reply. I have uploaded the DBContext file.

I have also upgraded to version 1.1.0. This did not fix the problem.
    "Microsoft.EntityFrameworkCore": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer.Design": "1.1.0",
    "Microsoft.AspNetCore.Mvc": "1.1.0",
    "Microsoft.NETCore.App": "1.1.0",

I ran the gener

[2016-11-22 23:09] bricelam commented on #7071
Yes, but it depends on Microsoft.NETCore.App 1.0  which is the problem we were trying to solve with the 1.1.0-preview4 release.

[2016-11-22 23:12] bricelam commented on #7071
Using the nightly builds would solve both problems 😉

[2016-11-22 23:17] smitpatel commented on #7094
@jamesrich0855 - EntityType `KpiMeasureList` is ignored in `OnModelCreating`. At present `FromSql` does not support composing into types not included in model. The tracking issue is #1862
Since `KpiMeasureList` is ignored, the above query will not work. It should throw exception earlier when trying to create DbSet but there is bug in DbSetInitializer therefore you got exception in query.
As for th

[2016-11-22 23:20] smitpatel commented on #7071
@bricelam - If CI passes. 😜

[2016-11-22 23:24] divega commented on #7094
@jamesrich0855 @smitpatel Regarding the query with ORDER BY not being composable, an easy workaround that SQL Server supports is to add TOP 100%, e.g.

[code]

This avoid the error but will not guarantee that the order is preserved after composing the query further, so you might just as well move the ORDER BY clause outside of the SQL query and add it back as a LINQ `OrderBy()` call at the of your

[2016-11-22 23:26] jamesrich0855 commented on #7094
OK, that is what is going on.
The original query was OK until wrapped in a subquery. I did not think to check the generated query.
If the DISTINCT is removed from the query, duplicate records are returned. I was unable to remove these using a LINQ query as Distinct had no effect and GroupBy does not work yet.
KpiMeasureList is a "dummy" table in the DbContext as a work around. Looks like I will ne

[2016-11-22 23:27] divega commented on #7094
@jamesrich0855 FYI, I edited the SQL in my comment (I had added the TOP 100% to the wrong query).

[2016-11-22 23:28] jamesrich0855 commented on #7094
divega,

Thanks again, I should have read your reply more carefully. That fixes the SQL, but the problem is the dummy table in the DbContext.

[2016-11-22 23:35] divega commented on #7094
@jamesrich0855 agreed. BTW, besides #1862, another approach we have thought about is to allow entity types to be included in the model that are not mapped to an actual table.

If you are using EF Core migrations this would be equivalent to including (i.e. not ignoring) KpiMeasureList in the model, but then taking out any scaffolded migrations that try to create or modify that corresponding table i

[2016-11-22 23:46] mdelprado-emphasys commented on #7089
I have upgraded to EF Core 1.1.0 and still have the issue

[2016-11-23 00:21] ajcvickers commented on #7089
@mdelprado-emphasys This looks like a dupe of #6054. If you need a bool with a store-generated default, then use a nullable bool. This gives EF a way to distinguish between not set (null) set to false and set to true.

[2016-11-23 00:30] anpete opened #7100 "ExecuteSqlCommand/Async usability issues"
1) When passing a strongly typed array for the parameters arg: E.g.
[code]
We crash because the parameters object[] ends up with a single int[] element.

2) The Async overloads require passing a cancellation token when specifying parameters.

Test coverage of these methods is low. We should beef it up.

[2016-11-23 01:09] matgr1 commented on #2850
I've been playing around with this for a couple of days and I've come up with something that may be useful:

An attribute that can be applied to a function that will then invoke the specified database function when the expression is translated; if the expression cannot be translated for any reason, it will instead call the CLR function that the attribute is applied to:

[code]

[code]

The attribu

[2016-11-23 01:17] maumar commented on #7096
@AsValeO as a workaround try putting Take(100) at the end of the query like so:

[code]

this produces a much simpler query from the EF perspective, that we are able to fully translate at the moment. If possible, you should always try to put Skip/Take/Distinct as the last operation when using EF Core (at least until we address the current limitations).

The reason is that those are what we call Re

[2016-11-23 01:18] yukozh opened #7101 "When adding a new value type or numeric field a default value is added to the migration"
From @YandyZaldivar Nov 16th (PomeloFoundation/Pomelo.EntityFrameworkCore.MySql#115)

Let´s try this for second time. See original issue here PomeloFoundation/Pomelo.EntityFrameworkCore.MySql#39

I am back to development and I have a pending (closed issue) with you.

When I add a new value field (int) to a table in plain SQL I can mark this field as NULL or NOT NULL, and independently of that I ca

[2016-11-23 01:19] Kagamine commented on #7101
from @caleblloyd

If your field is defined as an `int`, then this library will automatically assign a default value of `0` to it.  That's because the CLR type `int` cannot be null. [Model Deceleration](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Models/DataTypes.cs#L15), [Empty Value Test Case](https://github.com/

[2016-11-23 01:19] Kagamine commented on #7101
From @YandyZaldivar

In MySQL `NULL` is not a default value, it just specify if a field must have a value. Besides in MySQL default values are optional, so independently if I mark a field as `NULL` or `NOT NULL` I can chose to set or not set a default value. So the problem with your provider is that you are always assigning a default value when I set an `int` or any other value type which is not a

[2016-11-23 01:20] Kagamine commented on #7101
From @caleblloyd

In MySQL, a `NULL` field with no default value implicitly has a default value of `NULL`

A `NOT NULL` int with no default value implicitly has a default value of `0`

We just happen to explicitly set the default value to the implicit value. There's no difference in operation.

[2016-11-23 01:20] Kagamine commented on #7101
From @YandyZaldivar

@Kagamine

You must not insert value! If you read EF documentation you will find it clearly says:

So, if I want to set a default value of `0` for an `int` the only way is using the fluent API:

`modelBuilder.Entity<MyEntity>().Property(p => p.MyProperty).HasDefaultValue(0);`

Supose I want to create a table in MySQL with the following definition, as you can verify this is a c

[2016-11-23 01:20] Kagamine commented on #7101
From @caleblloyd

It is correct.  See the following:

[code]

You're correct in that MySQL does not explicitly say that the default value of the field is 0.  But it's default value _is_ implicitly 0.  That's how the 0's got into the `num` column.  MySQL set them to the implicit default of 0.

This behavior also makes sense, because the default value of the CLR type `int` _is_ 0.

Is this causing a

[2016-11-23 01:21] Kagamine commented on #7101
From @YandyZaldivar

What version of MySQL server are you using? Mine is in the original post #39.

[code]

It is causing the following inconsistence, consider this C# entity:

[code]

When this is first run to create the table it generates the following script:

[code]

Then when I add more fields to my C# entity and I apply subsequent migrations:

[code]

[code]

As you can see my final scripts

[2016-11-23 01:22] Kagamine commented on #7101
@rowanmiller I've tried other providers, they occurred same issue. So I think it is not a Pomelo issue, it caused by upstream EF Core.

[2016-11-23 01:41] john-t-white commented on #2805
@rowanmiller @xhevatibraimi I have added a project that allows you to configure entities outside of the DbContext.OnModelCreating where you only have to configure it in your Startup class.  Let me know what you think.

https://github.com/john-t-white/StaticDotNet.EntityFrameworkCore.ModelConfiguration

[2016-11-23 01:46] AndriySvyryd commented on #7057
Verified that the regression was in 1.1.0

[2016-11-23 02:03] divega commented on #7089
@ajcvickers do you think there is an opportunity here for a model validation error or warning?

[2016-11-23 02:10] ajcvickers commented on #7089
@divega Yes, I think that would be a good idea.

[2016-11-23 02:48] divega commented on #6054
Reopening to consider adding a model validation that errors or warns when this scenario is hit.

[2016-11-23 03:02] jeffbromberger commented on #7070
@rowanmiller  can I take it from the bug label that you were able to repro with my models or at least are not needing anything additional from me at this time?

[2016-11-23 04:37] jamesrich0855 commented on #7094
I think allowing "dummy" tables in the DbContext is a good idea, especially for reports and complex grids which draw from many tables in the database. That way, most of the work can be done at the database level.
Thanks for your help, I now have the collection filling correctly. Performance is good, but the object numbers small. I'll wait for the GroupBy clause to be working.
For anyone coming lat

[2016-11-23 04:37] jamesrich0855 commented on #7094
Sorry, did not mean to reopen.

[2016-11-23 04:39] divega commented on #7101
What would happen in MySQL if the table already contains data (i.e. existing rows) and you add a new non-nullable column with no default value? With other databases that would fail. That is the reason for this behavior.

[2016-11-23 04:46] Kagamine commented on #7101
@divega In MySQL if the table already contains data, and add a new non-nullable column without default value, like `int`, it will be `0` auto. But in my opinion I don't want to fix this.

Keep the result which generated by migration differ equal is better for migrate MySQL to other providers.

[2016-11-23 04:57] divega commented on #7101
BTW, this is about the default migration that gets scaffolded. As a user you are free to change it if you want something else.

[2016-11-23 06:30] YandyZaldivar commented on #7101
I haven't tested other providers. It would be interesting to see the opinion of someone in the EF team. In the EF documentation it says that by convention, a default value is not configured. In the end I want to be able to migrate from one database engine to other in a reliable manner, so I can accept a behavior that is consistent among the main providers.

[2016-11-23 07:24] cspwizard commented on #7077
@smitpatel I'm using VS 2015 Package manager console and get this error:
Scaffold-DbContext "Server=sql;Database=LoadTest2010;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models
The specified deps.json [C:\Work\WA\WildApricot.PerformanceTestReport\bin\Debug\netcoreapp1.0\WildApricot.PerformanceTestReport.deps.json] does not exist
Process finished with non-zero exit

[2016-11-23 07:41] AsValeO commented on #7096
I got it, thank you!

[2016-11-23 08:09] smitpatel commented on #7077
@cspwizard - I hit the same exception. Thanks for repro code.

[2016-11-23 08:30] gdoron commented on #7089
@divega what kind of error or warning were you talking about?
And what about `DateTime InsertDate` with default value of `GetUtcDate()`? I really don't want to make InsertDate nullable.

BTW, I'm not sure what exactly did people expect to happen with boolean with default value of true... Did they expect EF to change the C# / CLR spec?

[2016-11-23 08:32] kierenj opened #7102 "Evaluation warnings and invalid SQL generated (1.2.0-preview1)"
### Steps to reproduce
Same model as #6937, #6938.  Using latest 1.2 preview (`1.2.0-preview1-22736`).

Query setup:

[code]

**Note: this issue ONLY occurs when the second line is present, i.e. when performing filtering on the `Type` relationship.**

Calling `.Count()` or `.ToArray()` when debugging on this works fine, to get total results.

Then we add an `OrderBy`, `Skip` and `Take`:

[code]

A

[2016-11-23 08:41] smitpatel commented on #7077
@bricelam - There is something going on inside `GetOutputPath`. We are not adding runtimes if specified if it is not .NET Framework.

[2016-11-23 08:52] neridonk commented on #2725
+1 any status on this item?

[2016-11-23 09:29] davesmits commented on #7040
Yes downgrade to 1.0.1 fixed issue for me again

[2016-11-23 09:31] divega commented on #7089
@gdoron we need to do more analysis but I think the warning would only apply to Boolean properties.

When you specify that a property has a default value in the database, EF Core will use the default value of the CLR type as an indication that it should let the database set the default value, hence it won't include the column in the INSERT operation.

But Boolean properties only have two states, s

[2016-11-23 09:36] divega commented on #7040
@davesmits - @bricelam meant to actually downgrade the `SQLite` package which contains the native binaries for SQLite, and not `Microsoft.EntityFrameworkCore.Sqlite`.

[2016-11-23 09:59] divega commented on #7087
:+1: to everything @ajcvickers said.

I would like to add that I don't discard the possibility of adding support for a more provider agnostic way of specifying index filters in the future, e.g. for this particular case we could leverage `Expression<Func<T, bool>>` and query generation capabilities that are already provider-specific (be warned, I don't think it is as trivial as it sounds :smile:).

[2016-11-23 11:06] alexsxx opened #7103 "'SUM' is not a recognized built-in function name."
**PROBLEM FOUND: NULLABLE FIELD**

Hello, i'm trying to sum the values of a query but i get this error.
Basically the query is this: **db.mytable.where(x=> x.id < 5).sum(x=> x.decimalfield ?? 0)**
Can someone help me?
Details below.

Thanks

Stack trace:
   in System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   in System.Data.

[2016-11-23 11:48] aevitas opened #7104 "Entity framework package manager console commands run from the wrong directory"
### Steps to reproduce
Create an ASP.NET Core project, add entity framework and define the following runtime in the `project.json` file:

    "runtimes": {
        "win10-x64": {}
    },

### The issue
When running EF commands such as `Add-Migration` and `Update-Database` after defining a model, data context and everything required, the following error is provided:

[code]

While the binaries gene

[2016-11-23 11:55] gdoron commented on #7089
@divega

This is why I don't get what did they expect to happen,  and they may expect a similar thing with numeric properties too, _I assigned my property 0 but it's being ignored._
(I'm assuming `default(DateTime)` wouldn't bother them as its value isn't _considered_ to be "valid")

[2016-11-23 12:15] hyuksel commented on #7072
Hi @rowanmiller ,

i can confirm that Scaffold-DbContext is working in the package-manager!

[2016-11-23 12:19] fitzchak opened #7105 "Trace when query is done. This is needed in order to get SelectRows statistics."
In order to get the SelectRows from SqlStatistics we need to add this trace statement, since "System.Data.SqlClient.WriteCommandAfter" tracing is not enough, as this is before the reader is reading the results.
This let us in Entity Framework Profiler report the results for the query.

[2016-11-23 12:52] Sohra opened #7107 "Support another Entity as a Key"
_(This is a feature request, the guidelines said to log them here)_

When declaring an entity A as a key in another entity B, Entity Framework could lookup the key for that entity (A), and use it as the key for this entity (B) too. This keeps the model classes in .NET "clean" in the sense they don't need to duplicate they key field. E.g.

[code]
This mapping could be setup with a call to ```modelB

[2016-11-23 13:06] Sohra commented on #7107
In the meantime I've been trying to use shadow properties to accomplish "not polluting my entities" but I've been having a little trouble getting things working just how I want it (my class model has generic classes, and also subclasses that have more complex keys than their base class).  It seems rather complicated to get EF working nicely with polymorphic entities.

[2016-11-23 13:09] mdelprado-emphasys commented on #7089
@gdoron , @divega It makes sense, now that you mention, that if I don't have a nullable type, the EF just adds the default value, but I was actually expecting the same behavior than when I do an INSERT INTO directly in the database. The INSERT INTO just adds the record with the values I send in the query and ignores the default values.

[2016-11-23 13:17] gdoron commented on #7089
@mdelprado-emphasys  That's because SQL doesn't have the limitation there actually is a property that being sent.

[2016-11-23 14:09] xrkolovos commented on #6986
Is there any workaround for this issue? (without changing inheritance to composition)

[2016-11-23 14:43] denisz1 opened #7108 "Migrations is now specifying the db type in 1.1, whereas in 1.0.1 it didn't"
I've upgraded my EF Core to the recent 1.1 release. My system uses different databases, including SQLite and SQL Server, so I'm using very generic code everywhere, and I've never had portability problems.

I have some entity with the following config:

    builder.HasKey(b => b.Id);
    builder.Property(b => b.Id).IsRequired().ValueGeneratedOnAdd();

I needed to regenerate my context. The 1.0.1 mi

[2016-11-23 15:42] divega commented on #6986
Clearing up milestone to discuss bringing this into 1.1.1.

[2016-11-23 16:02] GertArnold commented on #7089
IMO, when a property is not nullable, the `HasDefaultValue(Sql)` instruction should be ignored when it comes to setting property values, not for migrations. This gives users the opportunity to create the database schema as they like (i.e. with defaults), but they won't be surprised by this rather unexpected behavior. It's easier to understand that a non-nullable property always has a value (so set

[2016-11-23 16:05] gdoron commented on #7089
@GertArnold It would be very annoying having DateTime? InsertDate all over the place just because people make mistakes.
But regardless, I believe it's too late for changing as it's a huge breaking change.
Maybe for EF Core Core. 😸

[2016-11-23 16:25] mvermef opened #7109 "Couldn't Load File or Assembly - EntityFrameworkCore"
### The issue
Line	Suppression State Error: Could not load file or assembly 'Microsoft.EntityFrameworkCore, Version=1.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The system cannot find the file specified.

this has been recurring since previous 2 versions (1.0, 1.01, etc)..  It occurs on every viewmodel / view associated with my project.  The viewmodel is s

[2016-11-23 16:26] Ponant opened #7110 "Migration difference on Delete: No Foreign Key Property generating a Shadow Property vs Fully Defined Relationships"
Is the following a bug or per design? In case of a design constraint, it will be great to have an explanation and perhaps update the documentation on why there is a difference between FK set as Shadow Properties instead of declared in a CLR class when it comes to deletion.

Here are the articles that I followed
[No Foreign Key Property vs Fully Defined Relationships](https://docs.microsoft.com/en-

[2016-11-23 17:11] mdmoura opened #7111 "The target "_EFGetProjectMetadata" does not exist in the project."
### Steps to reproduce

I have an **ASP.NET Core 1.1** web application using **Visual Studio 2017 RC** with the following **CSPROJ** file:

    <Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
      <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" />
      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <

[2016-11-23 17:13] rowanmiller commented on #7092
Couple of other thoughts as we close this one out.

In general, reverse engineer should explicitly set anything that does not match conventions. So a proper implementation of reverse engineer would set all the constraint names etc. to match what is in the database. I realize you have rolled your own reverse engineer here.

If we see more folks hitting this issue when creating a database from a mod

[2016-11-23 17:14] ajcvickers commented on #7094
Re-opening so we can triage/track the DbSetInitializer issue.

[2016-11-23 17:27] rowanmiller commented on #7111
The preview4 version of `Microsoft.EntityFrameworkCore.Tools` is not compatible with the `msbuild1` version of `Microsoft.EntityFrameworkCore.Tools.DotNet`. Can you try swapping so that both have the `1.0.0-msbuild1-final` version number.

BTW, if you are using VS, then our recommendation would be to use the `preview4` version of `Microsoft.EntityFrameworkCore.Tools` and use the Package Manager Co

[2016-11-23 17:30] rowanmiller commented on #7109
Looks like a duplicate of https://github.com/aspnet/EntityFramework/issues/7069 (which I am looking into)

[2016-11-23 17:41] rowanmiller commented on #7072
Great. Once we sort out all the issues with `dotnet ef` I will update the blog post with details (and reply here too)

[2016-11-23 17:44] rowanmiller commented on #2725
No updates. We want to do it, but there are several items higher than it on the backlog.

[2016-11-23 17:50] ajcvickers commented on #7110
@Ponant By convention, EF configures cascade deletes for required relationships. This is because in a required relationship the child entity cannot exist without a parent. A relationship is required if the FK is not nullable, because this means that the FK must always be set to reference some parent.

For optional relationships EF does not configure cascade deletes. A relationship is optional if t

[2016-11-23 17:53] rowanmiller commented on #7070
@jeffbromberger correct, we'll reach out if we need anything else.

[2016-11-23 17:54] lecaillon opened #7112 "Redundant call to String.Format() in the RelationalLogger class"
### The issue
String.Format is called 2 times in the LogCommandExecuted function of the RelationalLoggerExtensions class.
Remove 1 call.
[code]

[2016-11-23 17:59] mvermef commented on #7109
Slight difference i don't use __using__ to instantiate the context in the viewmodels.  They are all ctor instantiated for the request.

[2016-11-23 18:01] mvermef commented on #7108
I believe it was a bug 1.01 where it didn't emit the type before

[2016-11-23 18:03] ajcvickers commented on #7108
@denisz1 That annotation was always SQLite-specific; it just wasn't following the naming convention for provider-specific annotations in the previous release.

While the overall approach for migrations is to keep them as database provider-agnostic as possible it is still the case that when a migration is scaffolded it is done so for a specific database provider and may contain both model elements

[2016-11-23 18:31] rowanmiller commented on #7109
I think that detail is probably irrelevant to the underlying issue, but can you just post an example of the view model code so that I can take it into account when I investigate #7069. Closing this one out, but you can post the code here still (or on #7069 is fine too).

[2016-11-23 18:44] rowanmiller commented on #4269
So far the runtime is looking good from my testing. I've only run in emulators, so I want to deploy to real hardware too.

Tooling is explicitly blocked at the moment, so we'd need to do some work there to enable migrations.

[code]

[2016-11-23 18:53] rowanmiller commented on #4269
# CALL FOR HELP

If you are following along with this issue, and excited about EF Core support on Xamarin, then we'd love your help to find outstanding issues.

**Please open issues for any problems you hit. Also reply to this thread with a summary of what you tried out, so that we have an idea of what areas were tested and how many folks are bashing on it.**

Testing should be done using the 1.1

[2016-11-23 19:25] maumar commented on #7070
@jeffbromberger try updating to the latest version of EF Core (1.1). The bug is fixed and we produce the following SQL:

[code]

[2016-11-23 19:25] #7070 closed

[2016-11-23 20:09] smitpatel commented on #6986
@xrkolovos - Another workaround would be to use non-shadow properties which does not encounter this issue.

[2016-11-23 20:23] rowanmiller commented on #4269
Also worth noting that Xamarin.Forms has two options for sharing code between projects, PCL and Shared Code. Our runtime packages currently don't support PCL, so that excludes this option. This may be an acceptable limitation, especially if an MSBuild based .NET Core class library will be an option.

cc @bricelam

[2016-11-23 20:28] cdie commented on #4269
@rowanmiller if I'm not mistaking, you can "migrate" your PCL library to NETStandard library, which is compatible with .NET Core and, therefore, EF Core.

[2016-11-23 20:40] gmartinezsan opened #7114 "Dispose method in RelationalDataReader class closes connection"
### Steps to reproduce
MySQL provider getting a "Connection must be valid and open to commit transaction" exception when
Executes update command batch.

See the call stack bellow:

 Test 'MySql.Data.EntityFrameworkCore.Tests.FluentAPITests.CanUseModelWithDateTimeOffset' failed: Connection must be valid and open to commit transaction
	transaction.cs(105,0): at MySql.Data.MySqlClient.MySqlTransactio

[2016-11-23 20:47] Ponant commented on #7110
@ajcvickers, thanks for the answut I lack a response to the question:
"When EF creates an FK in shadow state the default for that FK is to make it nullable": Why this default has been chosen?

Other than that, is there an equivalence between a "FK cannot be null" and a "required relation"? Said differently, does the definition of a required relation is uniquely defined by a FK which cannot be null

[2016-11-23 20:52] linnando opened #7115 "DB query is executed with the parameters of the previous query"
### Steps to reproduce

Minimal solution: https://github.com/linnando/EFCoreTest

Model.cs contains the description of the model copied from https://docs.microsoft.com/en-us/ef/core/index

To reproduce the bug:
1. Execute tests in Deployment.cs (they will apply migrations and seed the test data).
2. Execute tests in MainTest.cs. Each of two tests queries the database twice. After each query, the c

[2016-11-23 21:38] ajcvickers commented on #7040
@davesmits @divega @bricelam It appears to be an issue with version 3.13 of the "sqlite" package. Explicitly installing version 3.12.3 while leaving all other packages the same appears to fix the problem. This seems like a reasonable workaround for now. Marking bug for re-triage so it can be assigned and followed up on appropriately.

[2016-11-23 21:41] ajcvickers commented on #7110
@Ponant It is the default because it is the most permissive option and because it is less likely to cause unexpected data loss. Required is defined by the nullability of the FK.

[2016-11-23 21:57] GertArnold commented on #7089
@gdoron I see your point. But people _are_ going to tack `HasDefaultValue` to required properties other than InsertDate and such. That's common practice, for example to be able to add required columns to existing tables. For any required property of which the type's default value makes sense (i.e. not `DateTime`, usually) this causes the insane behavior that an entity with (CLR) default values can

[2016-11-23 22:02] rowanmiller commented on #7110
Perhaps another way to word the same information will help

[2016-11-23 22:15] AlanParr commented on #242
Just to provide another use case for this. In our system we have batch numbers, these are a string but that string has a great deal of meaning so we would like to encapsulate it to prevent unauthorised adaptation and isolate logical operations that are performed on it. If we had a class like:

[code]

We would be looking for some way to map the VARCHAR database field to this class in the model.

N

[2016-11-23 22:44] Ponant commented on #7110
@ajcvickers @rowanmiller I think your comments clarify the point (optional by default -->nullable if nothing is obvious to EF is a key point which I overlooked). I understand that this is somewhat in the documentation as I went through it, but perhaps one could improve it a bit by adding such explanations and definitions. By being a non-expert in .Net I cannot offer much pulls at the moment, but I

[2016-11-23 23:15] divega commented on #7089
There seems to be more useful information in this issue now than in the original #6054, so closing that one as a duplication of this one.

[2016-11-23 23:16] divega commented on #6054
There seems to be more useful information and discussion now in #7089 so closing this issue as a dupe of that one.

[2016-11-23 23:22] rowanmiller commented on #7110
@Ponant yep absolutely. Where would it have been most helpful/obvious for you to see this documented? Here https://docs.microsoft.com/en-us/ef/core/modeling/relationships#conventions?

[2016-11-23 23:44] divega commented on #7089
@GertArnold that is an interesting insight. I do agree that currently you need to understand a lot before you can make some of these scenarios work correctly.

However as @AndriySvyryd pointed out in a recent conversation, `ValueGeneratedNever` is not even the right solution in this case: if you were to set that, the value you configured in `HasDefaultValue()` or `HasDefaultValueSql()` would **nev

[2016-11-24 00:04] divega commented on #242
See the issue about custom property access patterns (#2968) for patterns we could possibly enable to specifying two-way type conversions as well.

[2016-11-24 00:11] divega commented on #7040
@natemcmaster any suggestions on how to deal with this: https://github.com/aspnet/EntityFramework/issues/7040#issuecomment-262636133?

[2016-11-24 00:14] divega commented on #7115
Assigning this to @anpete for investigation in the 1.1.1 milestone based on the potential severity. We can discuss it next time we triage.

[2016-11-24 00:23] bryanjhogan commented on #4996
Are you planning to introduce a pluralization option as was there in EF 6 and earlier versions.

This change is quite inconvenient for those of us with large amounts of code built on RC1

[2016-11-24 00:24] Ponant commented on #7110
@rowanmiller will get back tomorrow as it is late here. I skimmed in the last hour the doc and actually realized that sections on conventions are scattered everywhere. So, for instance, for our case the url you propose would cover a piece of the answer, while this one [https://docs.microsoft.com/en-us/ef/core/modeling/required-optional](https://docs.microsoft.com/en-us/ef/core/modeling/required-op

[2016-11-24 00:39] divega commented on #4996
@bryanjhogan if you need to keep the table names the same as they were before, consider using the workaround detailed at https://github.com/aspnet/EntityFramework/issues/4996#issuecomment-222218344.

We are going to consider using plularization and sigularization for database reverse engineering in the future but we don't want to depend on pluralization to decide the names of tables at runtime. We

[2016-11-24 01:08] mteper commented on #7077
If this is helpful, when my app builds, I end up with 2 copies of Website.[dll,pdb], one in `bin\Debug\netcoreapp1.0` and one in `bin\Debug\netcoreapp1.0\win10-x64`. The former folder only contains those 2 files and the `win10-x64` subfolder. The latter contains other stuff, including `Website.deps.json`.

The `Update-Database` command is likely looking in the former path but not the latter.

Ques

[2016-11-24 01:21] mteper commented on #7077
Thought maybe .net core 1.0 / 1.1 inconsistency was the issue, so updated `project.json` file to 1.1, still same error (with 1.1 in the paths). Here's the relevant bit of my `project.json`:

[code]

[2016-11-24 02:12] divega commented on #6971
@bdm4 @lnaie I suspect it is possible that this issue surfaces for solutions that were originally created with Visual Studio 2013 and configured to use the MSBuild-integrated package restore functionality that was the default before NuGet 2.7. If so, your solution could contain a `.nuget` folder and MSBuild targets that redirect to a copy of `nuget.exe` in that folder, which would likely be out of

[2016-11-24 03:29] rowanmiller commented on #7110
Yeah we don't really group by `Conventions`, `Data Annotations`, `Fluent API`. That's how we did it in the EF6.x docs, but it was super hard to find what you were after. Now we group by the modeling concept (column mapping, data types, etc.). And then we have a section that describes the conventions for each of those topics (and how to override it etc.).

I agree the relationships one is a little

[2016-11-24 04:05] saf-itpro commented on #7055
@divega I do confirm that your assertion is correct. It's working now.

[2016-11-24 04:31] kgrashad commented on #4189
Hi @rowanmiller,

When I tried the following:
modelBuilder.Entity<Message>()
                .Property(m => m.CreatedAtUtc)
                .ValueGeneratedOnAdd()
                .HasDefaultValue("GETDATE()");

I got the following exception when creating a new migration:
System.InvalidOperationException: Cannot set default value 'GETDATE()' of type 'System.String' on property 'CreatedAtUtc' of typ

[2016-11-24 07:11] MichalStrehovsky commented on #5570
@abdu292 If you would like to, we have a beta version of the .NET Native compiler toolchain ready to try out.

You'll need [Visual Studio 2017 RC](https://www.visualstudio.com/vs/visual-studio-2017-rc/). By default, VS 2017 RC comes with pretty much the same .NET Native compiler that shipped with VS 2015 Update 3, but your project can opt in to get the beta:

* Right click the project and select *

[2016-11-24 08:36] denisz1 commented on #7108
@ajcvickers Thanks for the clarification.

At some point it would be great if the docs mention this in the "advanced" section, or something like that.

[2016-11-24 09:13] kimx opened #7116 "ThenInclude Method not found"
### The issue
After upgrade to 1.1.0. Run  Query to load navigation property then got  the error as below.

Code
[code]

Error
[code]

### Further technical details

EF Core version: 1.1.0
Operating system:
Visual Studio version: VS 2015 Update 3

Other details about my project setup:

[2016-11-24 09:30] kimx commented on #7116
Sorry~~
Please close this issue.This issue is my library project are forgot upgrade and still stay on 1.0.0.

[2016-11-24 10:04] origicom commented on #6971
Some how you are required to install the latest beta of the Nuget Manager. Afterwards you can install the EF Tools package.

Please refer to: http://docs.nuget.org/ndocs/guides/install-nuget

[2016-11-24 10:12] #7073 closed

[2016-11-24 10:12] fitzchak commented on #7105
cc  @anpete

[2016-11-24 10:24] popcatalin81 commented on #1833
I know there are a lot opposing opinions on this topic, so I want to add mine.

To understand where I'm coming from, a little bit of background: I've been doing SQL Server and EF training and consultancy for around 10 years  (among others) and I've been involved in performance critical projects (like processing millions of rows a minute, tens of thousand of transactions a second, thousands of user

[2016-11-24 10:53] Bartmax commented on #1833
@popcatalin81 great feedback, my concern is the API to do the filtered include. Performance wise, I expect the EF team to come up with what's best. 1 superbig query or many small ones, i really don't care, that's exactly why I use an ORM, to abstract that from code. And **IF** there's a performance implication, I can dig deeper.

[2016-11-24 11:15] gdoron commented on #1833
@popcatalin81 GREAT feedback indeed, and thanks for sharing.

Curious to know, when you wrote "slow execution", was it on the DB side or on the network side or on the IIS server side?

Two notes though:

1. The scenario you described isn't the usual usage of an ORM (at least from my XP), querying for so much data.
2. While on EF 6 you could change the execution relatively easy splitting the query

[2016-11-24 11:47] ghost opened #7117 "EF Core 1.1 Microsoft.EntityFrameworkCore.Sqlite package fails Windows App Certification Test"
### Steps to reproduce

1. Create a UWP application targeting Windows 10 Anniversary Edition.
2. Follow steps provided at https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started except for using the later Microsoft.EntityFrameworkCore.Tools v1.1.0-preview4-final and not needing to create the XAML page.
3. Change build configuration to Release x86.
4. Right click on project and sel

[2016-11-24 11:52] popcatalin81 commented on #1833
@gdoron, the slow execution was also in DB due to "[table spools](https://technet.microsoft.com/en-us/library/ms181032(v=sql.105).aspx)" (buffering data in tempdb) and network (gigabytes of data transferred for the giant query)

Note: One scenario where table spools are created is when not using Read Commited Snaposhot and the number of read locks that needs to be taken far exceeds data set size,

[2016-11-24 12:18] gdoron commented on #1833
@popcatalin81 yeah, that makes sense with huge queries.
What about "normal" much smaller queries?

Anyway, I wish EF Core could provide an API where the developer can send a boolean flag that tells EF which strategy to use.

Something like:

	public List<T> ToList(bool splitQuery = false)
Currently I have no way of combing the queries into one query unless I manually craft a SQL query and execute

[2016-11-24 13:12] Ponant commented on #7110
@rowanmiller There is a search box on the left side; one would expect to type "convention"(s) and find a result. The search box on the right side searches throughout Microsoft.

I think the length is fine because you cover many cases and go to the point, which is what the user will be looking for. Perhaps the following structure might be better? You would start with a drop-down list as with the se

[2016-11-24 13:27] mrxten opened #7118 "Extension for linq expression could not work in EF Core, but work in EF 6."
I wrote my extension for LINQ **([source code](https://github.com/mrxten/QueryDesigner))**. In a nutshell, the idea is to create Where and OrderBy filters from json object. In this extensions I use expression trees for create them.

Code:
[code]

When I try to use my filter it's works well in EF6, but EF Core represent a warning:

What happened to the new version EF?

EF Core version:
    "Microso

[2016-11-24 13:28] Ponant commented on #7110
@rowanmiller @ajcvickers following the original discussion I just saw that the doc says (relationships)
"Cascade Delete
By convention, cascade delete will be set to Cascade for required relationships and SetNull for optional relationships. Cascade means dependent entities are also deleted. SetNull means that foreign key properties in dependent entities are set to null."

But in our case of a shado

[2016-11-24 15:01] mdmoura opened #7119 "System.AggregateException occurred. InvalidOperationException: Collection was modified; enumeration operation may not execute."
### Steps to reproduce

I have the following Entities in Entity Framework Core 1.1:

[code]

### The issue

I tried to create a list of questions (in the following code I am adding only one):

[code]

When adding the questions I get the following error:

[code]

This was working on EntityFramework 1.0.1. I got the error when migrating to 1.1.

If I comment the code line `Author = context.Users.Las

[2016-11-24 16:07] divega commented on #7117
duplicate of #7040?

[2016-11-24 16:29] gmartinezsan commented on #7017
@AndriySvyryd hi, just a follow up. We found a bug in our provider in the transactions disposing process. All green now. Thanks a lot for the attention!.

[2016-11-24 16:33] abdu292 commented on #5570
@MichalStrehovsky Hey, thanks for the response. In reality with your workaround that you suggested in the past (see my comments posted on 26 Sep), I get a better performance from 11 seconds to 6 seconds to load 150 records. However this is still too much from an user's stand point. I would like to have a debug like experience (half a second) before I can productionize my app.

Apologize, 20% with

[2016-11-24 16:33] dazinator opened #7120 "OrderByDescending not working. (InMemory store)"
### Steps to reproduce
Here is a repro using xunit.

[code]

### The issue
I would expect OrderByDescending on a string property to order appropriately.

### Further technical details

EF Core version:   "Microsoft.EntityFrameworkCore.InMemory": "1.0.0"
Operating system: Win10
Visual Studio version: vs2015

Other details about my project setup:

I also tried this later versions of `Microsoft.Entit

[2016-11-24 16:38] dazinator commented on #7120
I also tried the following versions of `Microsoft.EntityFrameworkCore.InMemory` with no joy:

- `1.0.1`
- `1.1.0`

[2016-11-24 17:27] serber opened #7121 "Wrong SQL query generation"
### Steps to reproduce
I have code

[code]

### The issue
When i call `SingleOrDefaultAsync()` i get an exception

[code]
### Further technical details

Generated SQL query:

[code]
`([x].[ID] = [y0].[SERIES_ID])` should be `(@_outer_Id = [y0].[SERIES_ID])`

EF Core version: 1.1.0

[2016-11-24 18:19] MichalStrehovsky commented on #5570
Sorry I wasn't clear. CoreCLR is the "debug experience". 20% faster than CoreCLR means 20% faster than Debug.

[2016-11-24 18:48] myblindy opened #7122 "Query with filter on sub-query fails to fully compile in one SQL statement"
### Code that fails
        public static IQueryable<DrDr> FilterBySearchParameters(this IQueryable<DrDr> collection, SearchState searchstate)
        {
            if (searchstate.ProjectIDs?.Any() == true)
                collection = collection.Where(dr => searchstate.ProjectIDs.Contains(dr.Project));
            if (searchstate.StatusIDs?.Any() == true)
                // test case, this is th

[2016-11-24 18:49] myblindy commented on #7122
### The model context

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            modelBuilder.Entity<DrAta>(entity =>
            {
                entity.ToTable("dr_ata");

                entity.Property(e => e.Id).HasColumnName("id");

                entity.Property(e => e.Descr)
                    .IsRequired()
                    .HasColumnName("descr

[2016-11-24 18:50] myblindy commented on #7122
### DrDr

    public partial class DrDr
    {
        public DrDr()
        {
            DrHistory = new HashSet<DrHistory>();
        }

        public int Id { get; set; }
        public int ProjDr { get; set; }
        public string DateRequired { get; set; }
        public string Priority { get; set; }
        public string TestGuide { get; set; }
        public int Project { get; set; }

[2016-11-24 21:44] mdmoura commented on #7111
@rowanmiller Changing to `1.0.0-msbuild1-final` solved it ... When you advise to use `preview4` and Package Manager Console does it means `dotnet` will disappear? One good thing about dotnet commands is that their work outside Visual Studio and also in Visual Studio Code. So the same approach everywhere,

[2016-11-24 22:54] polkduran commented on #4269
I have successfully managed to use EF Core 1.1.0 on a NETStandard 1.4 library referenced by a Xamarin Forms library on an Android app and using the Sqlite data provider. It works well on the emulator and on a device.
About migrations, as @rowanmiller pointed it is not supported from a Xamarin (Android) project but there is a workaround: using a .NET (4.6.1) Console application as the `-StartUpProj

[2016-11-24 23:49] dotnetshadow commented on #7048
@anpete I tried your suggestion but it didn't work

[2016-11-25 02:08] rowanmiller commented on #4269
@polkduran great, thanks for the input! I had the "console app as startup project" idea on my list to experiment with... glad to hear it works.

[2016-11-25 02:10] rowanmiller commented on #7111
Correct, unfortunately the Package Manager Console and `dotnet ef` commands can't co-exists in a project at the moment. That will be fixed in our next release.

[2016-11-25 02:23] abdu292 commented on #5570
Oh. Sorry. I should have been more attentive in reading your comment. I misunderstood that it is 20% faster than the release mode.
It is a great news. I'm going to try this out. I don't have VS 2017 on my dev box however I can spin up an Azure VM to test this.

I'll post my findings at my earliest convenience. Thanks a bunch.

[2016-11-25 02:23] sgmon commented on #7117
Downgrading to SQLite 3.12.3 as mentioned in work around for bug #7040 solved the issue. Thanks.

[2016-11-25 04:11] anpete commented on #1833
@gdoron

You can always use do something like this:
[code]
which produces this:
[code]
Of course, this requires using a tracking query so that we get fix-up. We can make it work for no-tracking with a small hack:
[code]

[2016-11-25 04:16] maumar commented on #7122
Try using FirstOrDefault instead of First. We never translate First because we are unable to properly simulate its behavior for empty collection (i.e. Throwing exception)

[2016-11-25 04:22] maumar commented on #7121
Can you also post your model? Specifically code listings for all the entities and contents of OnModelCreating method on your DbContext

[2016-11-25 05:46] mdavisJr opened #7123 "Query: extensive client evaluation for queries with navigations defined as interfaces"
### Models:

public interface IBlog
{
&nbsp;&nbsp;&nbsp;&nbsp;int Id { get; set; }
&nbsp;&nbsp;&nbsp;&nbsp;string Url { get; set; }
&nbsp;&nbsp;&nbsp;&nbsp;List&lt;IPost&gt; Posts { get; set; }
}
public class Blog : IBlog
{
&nbsp;&nbsp;&nbsp;&nbsp;public int Id { get; set; }
&nbsp;&nbsp;&nbsp;&nbsp;public string Url { get; set; }
&nbsp;&nbsp;&nbsp;&nbsp;public List&lt;IPost&gt; Posts { get; set; }

[2016-11-25 08:08] Kation opened #7124 "How can I inject codes after entity created"
I found I can customize a **IStateManager** to inject ef core to modify entities. But if a query is under no tracking mode, ef core will not reach **IStateManager**.
I also found I can customize a **IEntityMaterializerSource** to reach entity through 'Expression'.

But, I need ef's **IServiceProvider** where I injected. I need to get value from service and set the value to property of entity.

How

[2016-11-25 09:13] serber commented on #7121
okay, i do it later.
This problem appeared after updating to EF Core version: 1.1.0

[2016-11-25 10:31] jfquarto opened #7125 "Installing the EntityFramework.Core NuGet package into a Portable Class Library fails"
I  am trying to install the EntityFramework.Core package into a Portable Class Library (PCL) via NuGet.
This fails returning this error message:
"Could not install package 'Microsoft.EntityFrameworkCore 1.1.0'. You are trying to install this package into a project that targets '.NETPortable,Version=
v4.5,Profile=Profile111', but the package does not contain any assembly references or content files

[2016-11-25 10:57] majidgorbani commented on #7104
almost same problem for me!
{
  "dependencies": {
    "Microsoft.AspNetCore.Diagnostics": "1.1.0",
    "Microsoft.AspNetCore.Mvc": "1.1.0",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.1.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.1.0",
    "Microsoft.AspNetCore.StaticFiles": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",
    "Microsoft.EntityFrameworkCore.Tools": "

[2016-11-25 11:18] majidgorbani commented on #7104
try this:

"dependencies": {

    "Microsoft.AspNetCore.Diagnostics": "1.1.0",

    "Microsoft.AspNetCore.Mvc": "1.1.0",

    "Microsoft.AspNetCore.Server.IISIntegration": "1.1.0",

    "Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.1.0-preview4-final",

    "Microsoft.AspNetCore.Server.Kestrel": "1.1.0",

    "Microsoft.AspNetCore.StaticFiles": "1.1.0",

    "Microsoft.EntityFrameworkCore

[2016-11-25 11:20] maumar commented on #7121
**Note for Triage** looks like a regression, 1.1.1?

[2016-11-25 11:29] skorunka commented on #7085
@bricelam Yes, 1.1.0 works fine.

[2016-11-25 11:34] maumar commented on #7118
Please try updating EF Core to 1.1 released recently. We drastically improved query translation compared to 1.0.1. Also, could you post the full exception? Knowing what expression can't be translated will help diagnosing the problem.

[2016-11-25 12:37] mrxten commented on #7118
I almost found a solution to the problem. We need construct expression for EF in dynamic way.For example we have a test code: http://pastebin.com/8U759Xj1We for some reason can not use the inherited properties in the filter. q.Where(ex1).ToList(); - compile toSELECT [card].[disp_CardID], [card].[Guid]FROM [hlt_disp_Card] AS [card]WHERE [card].[disp_CardID] = 1030 and q.Where(ex2).ToList(); - compi

[2016-11-25 12:40] mrxten commented on #7118
I made a mistake. Actual link: http://pastebin.com/8U759Xj125.11.2016, 15:37, "Zhukov Vladislav" <mr.xten@yandex.ru>:I almost found a solution to the problem. We need construct expression for EF in dynamic way.For example we have a test code: http://pastebin.com/8U759Xj1We for some reason can not use the inherited properties in the filter. q.Where(ex1).ToList(); - compile toSELECT [card].[disp_Car

[2016-11-25 12:53] mrxten opened #7126 "How to use inherited properties in expressions?"
We need construct expression for EF in dynamic way. For example create test models:

[code]

Create a linq query:
[code]

Normal using expressions:
[code]

We require create expression from any type and always we have a string name of property, thus we tried construct it in this way:
[code]

But we got a warning:

We checked resulting SQL in profiler and got this results:
q.Where(ex1).ToList(); bu

[2016-11-25 12:54] mrxten commented on #7118
I created a new issue https://github.com/aspnet/EntityFramework/issues/7126 for easy reading my problem.25.11.2016, 15:40, "Zhukov Vladislav" <mr.xten@yandex.ru>:I made a mistake. Actual link: http://pastebin.com/8U759Xj125.11.2016, 15:37, "Zhukov Vladislav" <mr.xten@yandex.ru>:I almost found a solution to the problem. We need construct expression for EF in dynamic way.For example we have a test c

[2016-11-25 12:58] mrxten commented on #7118
I almost found a solution to the problem. And created new issure #7126
Please close this issure.

[2016-11-25 13:23] gius opened #7127 "EFCore 1.1 doesn't use an existing property for the FK if it's part of the primary key"
The problem occurs in much complicated entities setup but I have isolated the problem to the following.

### Steps to reproduce
Have entity whose primary key is also a reference:

[code]

[code]

### The issue
Versions prior to EFCore version 1.1 created both, primary key as well as foreign key, all worked properly. After updating to version 1.1, SQL generated by EF is wrong - it expects a new col

[2016-11-25 13:49] archanasoni opened #7128 "Hi,"
### Steps to reproduce
Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

### The issue
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Further technical details

EF Core version: (found in project.js

[2016-11-25 13:49] isukces commented on #2272
Try simple fix https://github.com/isukces/EfCore.Shaman . It is also available as Nuget package https://www.nuget.org/packages/EfCore.Shaman/ .
It changes column creation order at least in CREATE TABLE statement.

[2016-11-25 14:30] archanasoni opened #7129 "Connection state is coming as closed in First itteration when selecting table data"
**Issue**
Our IBM EntityFramework Core Provider is based MS EF Core 1.0.1 . We have written MVC EF Application using IBM EntityFramework Core provider by following below link:
https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db

It just selects data from table. When we run application we are getting error:
AggregateException: An error occurred while writing to logger(s). (I

[2016-11-25 15:20] myblindy commented on #7122
Interesting thought, so I tried `FirstOrDefault` for my status fiter, same as my project filter:

        public static IQueryable<DrDr> FilterBySearchParameters(this IQueryable<DrDr> collection, SearchState searchstate)
        {
            if (searchstate.ProjectIDs?.Any() == true)
                collection = collection.Where(dr => searchstate.ProjectIDs.Contains(dr.Project));
            if (

[2016-11-25 15:39] hidegh commented on #1833
Just to make it clear, that also for IEnumerabkles (1:N) so as for N:1 Includes a possibility to filter (extend ON clause on T-SQL level via Linq) is a must.

[2016-11-25 15:52] ericvb opened #7130 "Property '...' is not defined for type 'Microsoft.EntityFrameworkCore.Storage.ValueBuffer'"
### Steps to reproduce
Download the source from the Automapper project (https://github.com/AutoMapper/AutoMapper).
Add following file [EricRelationsWithForeignKeySimplified.zip](https://github.com/aspnet/EntityFramework/files/613513/EricRelationsWithForeignKeySimplified.zip)
 to the project IntegrationTests.Net4. It is working with EF 6.
Set a breakpoint on line 31 and run the code. It will give y

[2016-11-25 16:12] econner20 commented on #4269
@polkduran Which SQLite data provider and version did you use?

[2016-11-25 18:07] julielerman opened #7131 "Projections With Full Types Not Fixing Up Navigations on Sqlite and SQL Server"
I've searched for a related issue as well as blog posts/docs and am not finding anything. I know it's out there somewhere but have to stop looking!

Also related to https://github.com/aspnet/EntityFramework/issues/4007

### Steps to reproduce

[code]

### The issue
Navigations not being fixed up in results. newtype.Children has the child objects, but newtype.Parent.Children is empty.

### Further

[2016-11-25 18:58] julielerman commented on #7131
Just to add to this...other projections tests are also quite messy. Again, this is probably noted somewhere that I'm just not finding ...not mentioned in the roadmap or in this repo but that could be affected by how I'm searching.

Filtered projections .. e.g.
 var newtype = context3.Parents.Select(p =>
          new { Parent = p, Children=p.Children.Where(c=>c.Description=="Child2") }).ToList();

[2016-11-25 19:43] hyuksel commented on #7072
I think issues are from over :-(
Publishing my project in Visual studio 2017RC doesn't work. I needed to fix some lines in Microsoft.NET.Publish.targets (http://stackoverflow.com/questions/40690233/publishing-with-visual-studio-2017-mvc-asp-net-core-they-must-have-the-same-num/40808866#40808866) to get some output. wwwroot folders are not published and when I upload everyting to windows 2012 serve

[2016-11-25 21:41] maumar commented on #7131
Try:

var newtype = context2.Parents.Select(p => new {Parent = p, p.Children.ToList()}).ToList();
      }

Otherwise the child collections won't be automatically enumerated. Perhaps that's the problem.

[2016-11-25 21:54] maumar commented on #7122
Note to Triage/self: could be related to https://github.com/aspnet/EntityFramework/issues/6937

[2016-11-26 02:58] modestob commented on #7104
EF Core 1.1
cannot run dotnet ef commands after fixing recommended changes
cannot run add-migrations

`    "version": "1.1.0-*",
    "dependencies": {
        "DevExtreme.AspNet.Mvc": "16.2.1",
        "Microsoft.AspNetCore.Server.Kestrel": "1.1.0",
        "Microsoft.AspNetCore.StaticFiles": "1.1.0",
        "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.1.0",
        "Microsoft.Ex

[2016-11-26 05:50] abdu292 commented on #5570
@MichalStrehovsky Okay. So here is my findings on my project. Please note that I have 4 projects in my solution (excluding test projects) Main, Business, Data & Shared and I upgraded all of the four projects to 5.3.0-beta version.

**VS 2017 RC**
Debug Mode  - Loaded 300 records in 6 to 7 seconds
Release Mode - Loaded 300 records in 6 to 7 seconds (Same length)

**VS 2015 Update 3**
Debug Mode  -

[2016-11-26 08:50] myblindy commented on #7122
Maybe, but keep in mind the navigation link isn't optional. It used to be optional, but I changed it to just a plain int and it behaves the same in both instances.

[2016-11-26 12:13] mrxten commented on #7126
Issue has been resolved.
[code]

[2016-11-26 14:44] julielerman commented on #7131
Thanks for the suggestion but no you can't even do that  ...p.Children is not a queryable.And it is enumerated in that it is getting recognized and there is a query for it.  I will add the log to the original question.

And although I know EF Core is not EF6, that would be a very strange change from how LINQ has always worked.

[2016-11-26 18:33] RandyBuchholz opened #7132 "Type Metadata - Add DataDomain Attribute and Domain Concepts"
## Issue
1) Type metadata management could be improved in EF.
2) It is often the case where we create several classes (one per entity) simply to add display metadata to the properties of an entity.  A pain for very simple apps that don't require an additional layer of data abstraction beyond the EF models, with a few minor bad side effects like naming concerns.
3) It is often the case where we cop

[2016-11-27 01:15] maumar commented on #7131
It's worth pointing out that the query plan will contain all the queries necessary to execute a given Linq statement, regardless of whether those queries actually going to be enumerated or not. Best way to ensure that the queries actually run is to look at Profiler in SSMS

[2016-11-27 03:01] julielerman commented on #7131
Definitely looked at what was happening in the database

Sent from my *** Phone

On Nov 26, 2016, at 8:15 PM, Maurycy Markowski <notifications@github.com<mailto:notifications@github.com>> wrote:

It's worth pointing out that the query plan will contain all the queries necessary to execute a given Linq statement, regardless of whether those queries actually going to be enumerated or not. Best way t

[2016-11-27 03:39] tonkajuris commented on #7131
This seems to work with the Include statement using sqlite:
`var types2 = context2.Parents.Include(x => x.Children).Select(p => new { Parent = p, p.Children }).ToList();`

SQL Server returns the child items without requiring the include:
`var types = context2.Parents.Select(p => new { Parent = p, p.Children }).ToList();`

[2016-11-27 07:08] WilliamABradley opened #7133 "The entity type 'Uri' requires a primary key to be defined (EF Core 1.1)"
### Steps to reproduce
Called: Add-Migration SeriesStoreV1 -context SeriesStore
Code file:
[code]

### The issue
I had deleted the previous migration for this code file, because I haven't finished it's design, I am using a different EF Core version and VS version to what I originally used. I also have 3 more DBs in the same Library.

[code]

### Further technical details

EF Core version:
    "Mic

[2016-11-27 08:03] maumar commented on #7131
Ahh missed the part about Sqlite. Looks like a bug then. I know for a fact that it works fine on SqlServer that's why I made all those suggestions :)

[2016-11-27 10:34] ErikEJ opened #7134 "Suggestion: Enhance issue template"
Request information about which EF provider the issue concerns, often issues now  appear to be provider specific and there are also more 3rd party providers available now

[2016-11-27 12:19] julielerman commented on #7131
Thanks guys. I think you are focused on the wrong thing. The  issue (original,not follow up) is about the fact that EF is not fixing up the navigations when a projection query pulls back child objects. The query is executed and the proper data is returned using both SQL server and SQLite. Yes there are workarounds. But the fact that the navigation fix up is not being performed is surprising and I

[2016-11-27 12:58] maumar commented on #7131
I see, the fixup should be happening for sure. I will look into it.

[2016-11-27 14:11] charliethinker opened #7135 "Exception caused by Contains Lambda Expression in MySQL EF Core"
### Steps to reproduce

I’m building my ASP.NET Core MVC app with **MySQL EF Core(Code First)**. when I use `u => u.Name.Contains()` Lambda Expression to create a LINQ query to select the user. I’m getting the exception below:

[code]

I am getting the exception message.

### The issue

[code]

### Further technical details

EF Core version:
[code]
Operating system: Mac 10.12.1
Visual Studio versi

[2016-11-27 14:46] julielerman commented on #7131
Thanks!

Here's a repo with logging using SQLite that tests (with console, not tests):
https://github.com/julielerman/EF110ProjectionProblem/

fixup from separate queries (fixup works)
fixup from projection (fixup doesn't work)
attempt to filter children on projection (no query for children!)
filter when using load (works as expected)

Should I open a separate  issue for the second problem I raise

[2016-11-27 17:26] rowanmiller commented on #7134
Great idea, I will do this.

[2016-11-27 17:31] mojtabakaviani opened #7136 "ef 1.1 sum of collection raise exception Specified cast is not valid"
[code]
generated script work perfectly but raise exception when casting:
[code]

[2016-11-27 18:46] luisgoncalves commented on #7053
I'm running into a different (but related) problem after updating to 1.1.0.

**project.json**

[code]

When I run `dotnet ef database update` I get the following error: `Unrecognized option '--config'`.

Can you help?

[2016-11-27 18:51] tonkajuris commented on #7131
Are you sure you didn't see a query for:
`var newtype = context3.Parents.Select(p =>
new { Parent = p, Children=p.Children.Where(c=>c.Description=="Child2") }).ToList();`
I was able to profile the following:
`exec sp_executesql N'SELECT [e].[Id], [e].[Description], [e].[ParentId]
FROM [Children] AS [e]
WHERE ([e].[ParentId] = @__get_Item_0) AND ([e].[Description] = N''Child2'')',N'@__get_Item_0 in

[2016-11-27 19:17] julielerman commented on #7131
Whoa .. okay I'm using Contains in my filter in SQLite and Sql Server. I will try a different filter.

[2016-11-27 19:24] julielerman commented on #7131
No difference on my end. Model may be different. Note (above) that I do NOT have a FK property in the child. This does not impede the fixup when I do separate queries. It may be  impeding the fixup in the first projection (p, p.Children) and it may be impeding the QUERY in the 2nd projection . I'll modify my model.  (Though if that's the case, it's still a bug ..fixup works in some cases but not o

[2016-11-27 19:35] julielerman commented on #7131
Still no difference with the explicit FK in child - no fixups, no additional query. So now i'm really confused.  You are running my repo? Are you using a nightly build? I'm using 1.1.0 (released).  my sqlserver tests are in a completely different project/model. I will change the repo to use SQL Server and profile that, but on the other project, my log and sqlprofiler are matching

[2016-11-27 19:44] julielerman commented on #7131
Still no luck with the filtered projection. Only thing coming through profiler/log is
 SELECT [p].[Id], [p].[Description]
FROM [Parents] AS [p]

I cannot see what we could be doing differently. Are you sure you're not seeing the output from the query using "context4"?

[2016-11-27 20:02] rasikaw-is opened #7137 "Entity Framework Core 1.1 Left Outer Join Issue"
Hi everyone,

I have upgraded my project to ASP.NET Core 1.1 from 1.0. It has resolved the previous LINQ left outer join issue https://github.com/aspnet/EntityFramework/issues/6091 that was there. But there is another error that I get (see inline C# code comments and exception details below).

[code]

Customer table:

![customers-table](https://cloud.githubusercontent.com/assets/17261431/20651364/

[2016-11-27 20:23] mstahl77 commented on #5570
@MichalStrehovsky I did one loading test with my App also.

**VS 2015 Update 3 (and UniversalWindowsPlatform 5.2.2) **
Debug Mode - 1.0 s
Release Mode - 3.7-3.9 s

**VS 2017 RC (and UniversalWindowsPlatform 5.3.0-beta)**
Debug Mode - 1.5 s
Release Mode - 0.9-1.3 s

Looks like it's a huge improvement in VS 2017 RC with Release Mode. Good work! But interesting that it seems to be a bit slower in Deb

[2016-11-27 21:02] maumar commented on #7136
Try casting explicitly to nullable type:

var schools = db.Students.Select(p => new {
      p.Id,
      p.Name,
      Score = p.Scores.Sum(s =>  (int?)s.Score)
});

[2016-11-27 21:07] maumar commented on #7131
Currently the filtered case shouldn't automatically yield the results for child chollection, only if you add ToList or enumerate the collection explicitly

[2016-11-27 21:14] maumar commented on #4007
Adding for visibility: @divega suggested in https://github.com/aspnet/EntityFramework/issues/6953#issuecomment-261137544 that we could use ToList added explicitly to the projected collection that customer wants to opt-out of streaming and bring all the results at once instead

[2016-11-27 21:19] maumar commented on #7131
It is a known issue although I don't think we have a separate item for it. I just added some additional context to #4007 that was suggested by Diego in another thread, which might be how we untlimately tackle the problem

[2016-11-27 21:21] maumar commented on #7137
Try putting Take as the last operation (after select)

[2016-11-27 21:26] maumar commented on #7137
Note to Triage/self: could be related to https://github.com/aspnet/EntityFramework/issues/7096

[2016-11-27 21:29] julielerman commented on #7131
@maumar wrt the fixup issue, I wanted to mention that the child objects are not being tracked when the results are materialized which is why the fixup isn't happening.

[2016-11-27 21:32] maumar commented on #7131
I see, we do some special handling of the result collections (wrapping them in a method IIRC) this might be what's preventing the entities to be tracked

[2016-11-27 21:33] julielerman commented on #7131
@maumar yes, the ToList workaround does trigger the query ...still no fixup though. ;) But that just goes back to teh same problem as this issue is about. It's notable only because I need to make sure EF6 & earlier users are aware since its different behavior. Telling them "it's not Ef6, don't expect it to work the same" doesn't work very well. So I 'm just trying to point out what to watch out fo

[2016-11-27 21:38] rasikaw-is commented on #7137
I tried below and got the same error:

[code]

[2016-11-27 21:47] maumar commented on #7137
Try putting it after the second Select (I.e the one that projects CustomerListItemViewModel), alternatively add ToList after Take, before that second select, it should impact performance but greatly simplifies the query (by having Take as the last operation)

[2016-11-27 21:59] rasikaw-is commented on #7137
Yes, putting it after the second select, where the projection is done to CustomerListItemViewModel, works.

[2016-11-28 00:24] rpokrovskij commented on #2272
Situation can be improved with complex type support, of course if Ef Core will keep complex type attributes together.
Important: what there people talk is not definitely about "custom columns order", but it is about organizing columns to islands: e.g. such columns as Voltage and SetpointForVoltage everybdy would like to keep together in a hundred columns table (measurements). Another example Creat

[2016-11-28 01:46] Kation commented on #7124
I found a solution.
Create a class inherit **StateManager** and override **StartTrackingFromQuery**.  Do something with entity we need and return null.

But, we can't tracking entities while querying if we need it to be tracked.

[2016-11-28 04:33] blackbelt080 commented on #7048
I was looking at it and you need to pass the string as a literal or iNumerable perhaps.

[2016-11-28 04:34] miguelhrocha opened #7138 "Update database issue"
### Steps to reproduce
1. add migration (successful)
2. update database (not successful)

### The issue
Hey guys, i'm trying to make the code first migrations on an ASP .NET Core project (1.1.0) with Entity Framework Core (1.1.0) and whenever I try to load my database with the update database command it log me the following error:

Exception message:
System.IO.FileNotFoundException: Could not load

[2016-11-28 04:48] miguelhrocha commented on #7138
#7068 solved my problem, I'm not sure why so if somebody can explain why this project.json fixed the problem I would thank him/her all my life:

{
  "ConnectionStrings": {
    "db": "Server=.\\;Database=dbname;Trusted_Connection=True;"
  },
  "dependencies": {
    "LinqKit.Microsoft.EntityFrameworkCore": "1.1.9",
    "Microsoft.AspNetCore": "1.1.0",
    "Microsoft.AspNetCore.Identity": "1.1.0",

[2016-11-28 06:50] jeffbromberger opened #7139 "MissingMethodException after updating from 1.0 to 1.1"
### Steps to reproduce

The following simple query worked fine with EF Core 1.0 but now fails with 1.1:

[code]

[code]

### Further technical details

EF Core version: 1.1
Operating system: Win 10 x64
Visual Studio version: 2015 Update 3

Other details about my project setup:

project.json:

[code]

[2016-11-28 08:19] Thaoden commented on #7053
@divega Sorry for the delay, I was out of office for a few days. Downloading the current NuGet .vsix helped in downloading the `"Microsoft.EntityFrameworkCore.Tools.DotNet": "1.1.0-preview4-final"` package. However, when running `dotnet ef --help` in the console, I get the same error as @luisgoncalves above:

Project MyProjectDependency (.NETFramework,Version=v4.6.1) was previously compiled. Skipp

[2016-11-28 08:41] mojtabakaviani commented on #7136
I use casting or `db.Scores.Sum(s => s.Score)` but not work. I test Count, Average, Min and Max and work perfectly. just Sum have exception.

[2016-11-28 09:16] maumar commented on #7136
Does it happen if all the student have non-empty Scores collection?

db.Students.Where(s=>s.Scores.Any()).Select(p => new { p.Id, p.Name, Score = p.Scores.Sum(s=>s.Score)});

[2016-11-28 09:47] polkduran commented on #4269
@econner20 I am using the `Microsoft.EntityFrameworkCore.Sqlite` 1.1.0 provider which takes `sqlite` 3.13.0

[2016-11-28 10:09] ghost opened #7140 "Pluralization Support - EFCore 1.1"
Hi,

I know there are a bunch of threads about this issue but I can't find an official answer OR better a solution. I'm using the latest version of EF + associated Tools. However I can't pluralize DBSets name (not important) or properties name (=relationship).

Is there a way to pluralize (at least) relationship name (all properties of type ICollection<...>)!

Command Line: Scaffold-DbContext -Con

[2016-11-28 10:51] neridonk opened #7141 "Long as foreign key throws a not compatible error"
I have 2 models

[code]

My model build on user is that

`        e.HasMany(o => o.Texts).WithOne().HasForeignKey(d => d.Id).IsRequired();
`

when i try to run : dotnet ef migrations add
I get -->

[2016-11-28 10:51] DaveRobSwEng opened #7142 "EFCore 1.1 Add-Migration fails when run from VS2015 Package Manager Console: default project and -Project ignored"
### Steps to reproduce
Added EFCore 1.1 to a component assembly of my WPF application using SQLite as the DB provider.
Added the Microsoft.EntityFrameworkCore.Tools component to the assembly project after the basic functionality was working (including updating PowerShell to 3.0).
Selected the target assembly in the package manager console 'Default Project'
Tried to add a migration to the assembly

[2016-11-28 11:00] joacar opened #7143 "EntityFramework.Tools Mac OSX 10.21"
### Steps to reproduce
1. Visual Studio for Mac (and necessary binaries)
2. Create web application
3. Install Microsoft.EntityFramework.Tools.DotNet 1.1.0-preview4-final

### The issue
Trying to install tooling do run `dotnet ef` commands

Retrieving package 'Microsoft.EntityFrameworkCore.Tools.DotNet 1.1.0-preview4-final' from 'nuget.org'.
Install failed. Rolling back...
Package 'Microsoft.Entity

[2016-11-28 11:06] justdmitry opened #7144 "`ThenInclude` ignored and re-joined with all columns"
### Model classes (simplified)
[code]

And I making a query:
[code]

So, I'm selecting some fields from first (Worklog) and one from third (FieldValue) entities.

### The issue

I have two problems:

1. I see warning in logs: _The Include operation for navigation: 'x.ContactFieldValue.FieldValue' was ignored because the target navigation is not reachable in the final query results._ - this is not

[2016-11-28 11:34] tdjastrzebski commented on #7142
It seems like I experience the same issue. I went through some discussions already but no resolution found. I have the latest Power Shell, the latest Package Manager Console Host Version 3.5.0.1996, all the latest assembly versions.
Executing "Scaffold-DbContext ..."
I get error:

I already tried to reinstall Microsoft.EntityFrameworkCore components - it did not help.
**project.json** file attache

[2016-11-28 12:07] fujiy commented on #4108
Hi @smitpatel,

If you are not in a hurry, I plan to work on it. Just let me know so we don't do the same thing.

[2016-11-28 12:48] radenkozec commented on #7077
Also having the same issue after upgrading to .NET CORE 1.1 Not sure where do I specify deps file build folder location?

[2016-11-28 13:05] maxmalmgren commented on #7053
I also experience the error that @Thaoden and @luisgoncalves get when calling *dotnet ef*:

*Unrecognized option '--config'*

I have upgraded from ASP.Net 5 RC1 to ASP.Net Core 1.1.0.

Any further info?

[2016-11-28 13:08] maumar commented on #7144
The Included are not needed in this case, they would only be useful if you projected Worklog entities themselves. If you access navigation as part of a query (in filter, projection etc) EF will automatically add all the joins it needs to perform the query.

[2016-11-28 13:11] maumar commented on #7144
Including all columns of entities is due to LEFT JOIN, it's a known issue tracked here: https://github.com/aspnet/EntityFramework/issues/6647

[2016-11-28 13:20] jnm2 commented on #1833
Chiming in as an ordinary C# dev who has had the exact same issues as @popcatalin81 and even made use of a similar `GraphLoader` class. Great to see that others understand this.

[2016-11-28 13:30] maxmalmgren commented on #7053
I've reproduced this with a completely new project, it works using netcoreapp1.1 but not with net46 or net451. These are the project.jsons, the topmost one works and the bottom one does not:

[code]
Not working:

[code]
It seems like support for net46 is not complete?

[2016-11-28 13:58] Thaoden opened #7145 "OverflowException on `DbContext.Database.Migrate()`"
### Steps to reproduce

Create a new DbContext and ensure the database is created

    var dbOptionsBuilder = new DbContextOptionsBuilder<MyDbContext>().UseSqlServer(connectionString);
    var dbContext = new MyDbContext(dbOptionsBuilder.Options);
    dbContext.Database.EnsureCreated();

### The issue

On `EnsureCreated()`, an exception is thrown:

   at SNIOpenSyncExWrapper(SNI_CLIENT_CONSUMER_IN

[2016-11-28 14:19] bartlannoeye commented on #5878
And this error is back on UWP with the latest tools (1.1.0-preview4-final). Our client's patient is getting really thin by the continued delays caused by EF Core. It's sad to see these tools are so fragile and lack a correct guide to follow.

[2016-11-28 14:21] justdmitry commented on #7144
Got it.
Yes, this is duplicate of #6647

[2016-11-28 14:51] tdjastrzebski commented on #7142
I had a similar problem. What helped:
- make sure you really have .Net Core 1.1 SDK installed (not just ASP.Net Core 1.1). Without it somehow the project builds but Scaffold-DbContext will error out
- make sure executing Scaffold-DbContext you have correct destination project selected ("Set as StartUp Project"),
- make sure you have correct "Default project" selected in Package Manager Console dro

[2016-11-28 15:20] farlop opened #7146 "Powershell Tools 1.1.0-preview4 fails when target >=net452"
### Steps to reproduce
- Create a Web API site.
- In project.json, set 'frameworks' to just 'net462' and update all packages to version '1.1.0'
[code]
- Create a new .NET Core library.
- In project.json, set 'frameworks' to just 'net462' and install EFCore 1.1 and Tools
[code]

- Add a reference in web api project to the library.
- In Package Manager, set the project to the library and try the Sca

[2016-11-28 15:41] memark commented on #7071
I have the same problem, and would love to try out the nightly build. Is it available on a feed?

Any idea when _1.1.0-preview5_ might come out?

[2016-11-28 16:30] mojtabakaviani commented on #7136
Not solved. I convert result to list but have exception yet:
[code]

[2016-11-28 16:44] polkduran commented on #4269
You can find a working example [here](https://github.com/polkduran/NowCoding/tree/master/Src/EfCoreXamarin/EfCoreXamarin)

4 projects in the solution:

 - **Model** Contains the domain model classes.
   - *NETStandard 1.4*
   - *Microsoft.EntityFrameworkCore 1.1.0*
   - *Microsoft.EntityFrameworkCore.Sqlite 1.1.0*
 - **Client** (References **Model**) Xamarin Forms project.
   - *NETStandard 1.4*

[2016-11-28 16:45] microef commented on #7071
Just edit project.json and change the tools back to 1.0.0-preview3.
It works with the latest EntityFrameWorkCore (v1.1.0).

[2016-11-28 16:46] dmcweeney opened #7147 "Foreign key with backing field producing invalid sql"
Hi,

I'm getting the following error when trying to define a backing field for a foreign key field.
{System.Data.SqlClient.SqlException (0x80131904): Invalid column name 'RegionName1'.

Entity def is simple - RegionName is FK to table Regions and Region in included as a navigation property.
Note the following works when not using backing fields.

	public class Service
	{
		private Guid m_serviceId

[2016-11-28 16:57] bricelam commented on #7071
Nightly feed: https://dotnet.myget.org/gallery/aspnetcore-dev

[2016-11-28 17:05] alex-munteanu opened #7148 "Wrong foreign key creation when entity implements a generic interface"
### Steps to reproduce
I have a DbContext with the following structure:
- main table is the Applications table
- there are 2 tables that have a relationship with the Applications table: ApplicationDetails and ApplicationSpecifications
- they are identical, with the exception that one of them implements the `IEntity` interface and the other one implements `IEntity<int>` (these are custom interfaces

[2016-11-28 17:08] natemcmaster commented on #7040
I couldn't reproduce with VS 2015 u3, NuGet 3.5.0.1737. I'm guessing the solution will be to upgrade the NuGet extension. sqlite 3.13.0 relies on the the `/runtimes/{rid}/nativeassets/{tfm}` layout which was added in NuGet 3.5 beta2 (see https://github.com/NuGet/Home/issues/2782).

@davesmits @ajcvickers what version of NuGet and Visual Studio are you using?

[2016-11-28 17:42] ajcvickers commented on #7040
@natemcmaster VS 2015 Update 2; NuGet 3.4.4

[2016-11-28 17:46] ajcvickers commented on #7110
@Ponant This is a docs bug tracked by #6398

[2016-11-28 17:53] ajcvickers commented on #7119
@mdmoura Can you post the stack trace?

[2016-11-28 17:54] natemcmaster commented on #7040
The latest NuGet RTM release is 3.5.0. https://dist.nuget.org/index.html. Upgrading should solve the issue.

If users don't want to upgrade to NuGet 3.5, they can do as @ajcvickers suggested earlier- explicitly install SQLite 3.12.3

[2016-11-28 17:58] ajcvickers commented on #7040
@natemcmaster How should I discover that I need to update my NuGet? Was there a notification that I missed? Some warning that I missed when installing the package? Or should this be an issue filed on NuGet that there is no way to know that it needs to be updated?

[2016-11-28 18:02] ajcvickers commented on #7129
@archanasoni Can you post the code that creates the DbContextOptions object passed to the constructor and also the implementation of the UseDb2 method?

[2016-11-28 18:06] divega commented on #7040
Is there a way to make a package **require** the new version of NuGet?

[2016-11-28 18:08] natemcmaster commented on #7040
That's a good question for the NuGet team. It doesn't look like 3.5.0 has been pushed to the VS Gallery yet.
https://marketplace.visualstudio.com/items?itemName=NuGetTeam.NuGetPackageManagerforVisualStudio2015 still shows 3.4.4

Yes, but we opted not to use it. We intentionally left the "minClientVersion" in [SQLite nuspec](https://github.com/natemcmaster/libsqlite3-package/blob/v3.13.0/SQLite.nus

[2016-11-28 18:11] ErikEJ commented on #7040
@ajcvickers @natemcmaster The NuGet team made a deliberate decision not to auto update: http://blog.nuget.org/20161027/Announcing-NuGet-3.5-RTM.html

[2016-11-28 18:21] natemcmaster commented on #7040
Wow. Would love to have heard the conversation about why VS decided to abandon the VS gallery update story.

Thanks for pointing that out @ErikEJ.

[2016-11-28 18:22] ErikEJ opened #7149 "All GearsOfWar specifiation tests fail for SQL CE"
### Steps to reproduce
Get latest from dev feed

### The issue
All GearsOfWar tests fail due to introduction of DateTimeOffset property in the model

Stack trace:
[code]
### Further technical details

EF Core version: 1.2.0-preview1-22817
EF Core provider: SQL Server Compact 4.0
Operating system: Win 10
Visual Studio version: VS 2015

[2016-11-28 18:25] Ponant commented on #6398
It might be a good idea to include intellisense describing what the enum ReferentialAction does, too.

[2016-11-28 18:29] ajcvickers commented on #7133
@WilliamABradley Does the model building code reference the Uri property anywhere? I don't see any reference to it in the code above but just checking it isn't somewhere else that was not mentioned. Could you post the code for your entity types?

Note for triage: Looks like the Uri class is being brought into the model as an entity type. I'm not sure why this is happening unless it is referenced e

[2016-11-28 18:39] ajcvickers commented on #7147
@dmcweeney Can you post the code for the Region class?

[2016-11-28 18:51] rowanmiller commented on #6398
PR for docs is out https://github.com/aspnet/EntityFramework.Docs/pull/308

[2016-11-28 19:02] memark commented on #7071
@microef Thanks, I does work. But it also requires me (and all my devs) to install platform 1.0.0 (we're on 1.1.0), which I'd rather avoid.
@bricelam Thanks, I'll try it out!

[2016-11-28 19:05] rowanmiller commented on #6986
@smitpatel let us know if you don't think this is critical enough for 1.1.1

[2016-11-28 19:09] rowanmiller commented on #7010
@AndriySvyryd putting in 1.1.1 as we think this may have been a breaking change in 1.1? Once all the code changes are done, can you give to me before closing so that I can update docs.

[2016-11-28 19:15] rowanmiller commented on #7040
@natemcmaster can you push an update to `SQLite` to resolve this. We should either require 3.5 or not use the 3.5 features. If we require 3.5 we should make sure it is available everywhere (Xamarin, VS Code, etc.).  This is critical, so putting in the 1.1.1 patch milestone.

[2016-11-28 19:16] rowanmiller commented on #7064
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-28 19:20] rowanmiller commented on #7082
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-11-28 19:21] rowanmiller commented on #7082
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-11-28 19:26] rowanmiller commented on #7089
@ajcvickers to split this out into some separate actionable items

[2016-11-28 19:35] rowanmiller commented on #7100
We should look at adopting the pattern we use elsewhere for async methods (not combining `params` and `CancellationToken`). We should also look at an overload that takes an IEnumerable of parameters rather than `params`.

[2016-11-28 19:39] rowanmiller commented on #7103
Can you please share the SQL that is run against the database.

[2016-11-28 19:41] chris-oswald commented on #2341
@rowanmiller I was hoping this was a 1.1 milestone, but I don't see this in 1.2 either.  Any idea when this will get pulled off the backlog?  I know we have work-arounds in the mean time.

[2016-11-28 19:48] Ponant commented on #7110
Hi @ajcvickers thanks for the link, and let me say that it seems to explain why I have been struggling over the weekend. I would really appreciate your feedback, I could not solve a problem and your comments in the issue you just mention got me somewhat confused.
My model is however quite common, so that I cannot believe this is a SQL Server issue (but rather mine).

[code]
[code]
[code]
[code]
Fo

[2016-11-28 19:51] memark commented on #7071
@bricelam Working excellently. Thanks.

[2016-11-28 20:08] rowanmiller commented on #2341
@chris-oswald not yet, we are planning for the next release this week.

[2016-11-28 20:59] pabloarista commented on #1862
Just wanted to add to @sirentek's solution. If you're lazy like me and don't mind using reflection, I created another extension (for non-async...easy to make it async though). This assumes that the model has data annotations. This is only really necessary if your property name and the return column have a different casing (or a removal of an _ in my case). It handles the case when the property doe

[2016-11-28 21:48] econner20 commented on #4269
What is the best practice on how to set the connection string in iOS, Android and UWP?  I am assuming it will Be DI but are their any examples on the best methods for EFCore?

[2016-11-28 21:50] ajcvickers commented on #7110
@Ponant I think maybe the confusion comes from understanding which are EF behaviors and which are database behaviors. For optional relationships, EF will always attempt to set null for any FK property in a tracked entity regardless of the cascading action. This is considered a normal part of fixup--previous versions of EF also worked this way and its not something we wanted to change. For required

[2016-11-28 21:51] jemiller0 opened #7150 "LINQ query projection using non-required reference navigation property queries all columns in tables"
### Steps to reproduce

Define a class that has a reference navigation property that is not required. The SupervisorUser property below is an example because it, or the foreign key property SupervisorUserId property that corresponds to it doesn't have a Required attribute.

[code]

Execute a LINQ query such as the following which does a projection, selecting only one property from the related enti

[2016-11-28 22:04] rowanmiller commented on #4269
@econner20 given it's just a local SQLite database, I don't see any issues just setting it inline on the `OnConfiguring` method. There are no sensitive credentials etc.

[2016-11-28 22:40] natemcmaster commented on #7040
It looks like changing the SQLite package won't make a difference. minClientVersion isn't respected by installation by NuGet 3.4.4 on UWP projects. cref https://github.com/NuGet/Home/issues/942.

[2016-11-28 22:45] AndriySvyryd commented on #7053
https://github.com/aspnet/EntityFramework/issues/7071 tracks the `Unrecognized option '--config'` issue

[2016-11-28 22:48] Ponant commented on #7110
@ajcvickers what would be your recommendation for the example above?

[2016-11-28 22:56] ajcvickers commented on #7110
@Ponant I would suggest either a) Don't use cascade deletes at all and make sure everything is deleted manually, or b) Use cascade deletes in EF making sure that everything is loaded, or c) setup some kind of trigger mechanism in SQL Server to get around its problems with cascade deletes, or d) find a database engine with better support for cascade deletes than SQL Server has.

[2016-11-28 23:07] smitpatel commented on #4108
@fujiy - I am not in rush. Feel free to submit a PR for this.

[2016-11-28 23:16] econner20 commented on #4269
Correct, the database name is being set in the OnConfigure method but I could not call Environment.SpecialFolder.Personal from within the PCL. I used Dependency Injection to get the specific path from each of the platforms (iOS, Android and UWP).

DbContext.DataBasePath = DependencyService.Get<ISQLite>().GetDataBasePath();

 https://developer.xamarin.com/guides/xamarin-forms/dependency-service/int

[2016-11-28 23:16] ajcvickers commented on #7124
@Kation I think what you are looking for is the ObjectMaterialized event, which isn't implemented yet but is being tracked by issue #626.

All the services you reference are internal code. You can try to get something working with them, but it will likely be quite difficult and may get broken by any update of EF Core, so very much do so at your own risk. Probably IEntityMaterializerSource is the m

[2016-11-28 23:18] Ponant commented on #7110
@ajcvickers , thanks for your time and explanations. I will start with b), even though I think I should be careful with load issues.  Thanks

[2016-11-28 23:27] rowanmiller commented on #6398
Fixed n https://github.com/aspnet/EntityFramework.Docs/commit/fdddb6ab55ae31ac82f5333add30bbfbea5717b0

[2016-11-28 23:27] #6398 closed

[2016-11-28 23:55] rowanmiller opened #7152 "Tools: Support Xamarin/MAUI Projects (currently requires separate .NET Standard class library)"
Tooling is explicitly blocked at the moment, so we'd need to do some work there to enable migrations.

[code]

[2016-11-29 00:07] ajcvickers commented on #7084
@branciat I was able to repro this. A workaround is to remove the Key annotations on Recipient, which are not used by EF and should be ignored, but there appears to be a problem ignoring them.

Notes for triage: this appears to be a model building regression involving data annotations from 1.0 to 1.1. The Recipient class has the following:

[code]

The composite key is specified in the fluent API,

[2016-11-29 00:47] AndriySvyryd commented on #7114
@gmartinezsan `_connection?.Close();` doesn't close the underlying transaction if something else (a tranction) is still using it. You shouldn't need to override this.

[2016-11-29 00:51] divega commented on #7047
@Daivdhuang sorry for not coming back to you earlier. We discussed the issue within the team since we have never seen any behavior like this reported before. This is just a shot in the dark but here are a few ideas that came up:

1. If your application performed concurrent execution from multiple threads on the same `DbContext` instance the contents of any data structures used by it could get corr

[2016-11-29 00:52] divega commented on #7047
This issue was moved to aspnet/EntityFramework6#117

[2016-11-29 01:13] smitpatel commented on #7149
The offending commit is https://github.com/aspnet/EntityFramework/commit/8b8006ed74e667a371526bfdae78b717306cebd8
Can `DateTimeOffset` be mapped to some other store type which would work without custom conversion ?

[2016-11-29 04:34] RonFrick commented on #6253
I second that...test now and don't wait until the project is done. I'm still having issues as well in release only. The first problem is on the initial connection, it always throws a null reference error, but I wrote goofy code to handle it and moved on. The other problems included performance on certain queries, so I ended up using SQLite-net as mention by Eric earlier. It is very fast! Thanks ag

[2016-11-29 04:36] mguinness opened #7153 "Erroneous warning "The Include operation for navigation was ignored""
### Steps to reproduce
Attached is [ConsoleApp2.zip](https://github.com/aspnet/EntityFramework/files/618100/ConsoleApp2.zip) which demonstrates the issue.

### The issue
When running the following code, the warning "The Include operation for navigation: 'c.State' was ignored because the target navigation is not reachable in the final query results." is shown, but it makes no sense as the navigatio

[2016-11-29 06:09] branciat commented on #7084
It's exact the table generated by this example is incorrect, I saw later that it created 2 unnecessary key in addition to the primary key. Once i deleted the constraints unnecessary the error continue to appear, but the keys annotations were still here.
I will test the workaround on my current project.

thanks

[2016-11-29 06:46] VladimirAkopyan commented on #5570
I've been struggling with this myself, and tested a few workarounds,since this is blocked maybe it would help someone.
I tried materialising the data into tuples was the fastest way to read the data, see [I described this on Stackoverflow](http://stackoverflow.com/questions/35854862/how-to-read-a-thousand-objects-with-ef7-and-sqlite/36250778#36250778)
And second I found a no-sql db [DBreeze](https

[2016-11-29 06:56] ErikEJ commented on #7149
@smitpatel Not sure what you mean? Adding support for DateTimeOffset in the SQLCE typemapper - I only have "datetime" and "nvarchar(x)" data types...

[2016-11-29 07:12] branciat commented on #7084
I hope that we keep the annotation keys, I find that the constraints are more readable at the entity level than at the level fluent api.

[2016-11-29 08:12] divega commented on #7153
@mguinness You only need to use `Include()` when the query returns entities and you want an additional navigation to be traversed and populated. E.g. for your model, the `Include()` in this query brings states into memory alongside the customers:

[code]
Or for short:
[code]

In your query you are explicitly projecting individual scalar properties `c.CustomerName` and `c.State.StateName` and neith

[2016-11-29 08:17] divega commented on #7153
I am going to leave this bug open however because there are a few strange things in the query plan. I want to make sure this is a query we have optimized further in 1.1.

[2016-11-29 08:43] divega commented on #7153
SQL output for 1.1 is as follows (whit or without the call to `Include()`):

[code]

[2016-11-29 08:53] alexsxx commented on #7103
I can't, visual studio crash when i try to use quickwatch

[2016-11-29 09:51] asadsahi opened #7154 "Include parent and child in query?"
[code]
If _context being DbContext, following two queries ended up in circular dependency.

`_context.Customers.Include(x=> x.Bookings).ToList();
`OR

`_context.Bookings.Include(x=> x.Customer).ToList();
`

Question is how can we query these interdependent relationships if we have to include entity A in B's query and vice versa?

The query returns result from web api, but in browser I get,  net::E

[2016-11-29 10:40] dmcweeney commented on #7147
@ajcvickers I discovered a workaround by adding an empty setter from the Service.RegionName property. With this EFC generates the correct sql.

	public string RegionName
	{
		get { return this.m_regionName; }
		set
		{
			// added setter to keep EF happy with the sql it generates
			throw new InvalidOperationException() ;
		}
	}

For the record the following is the code for the Region class

	publ

[2016-11-29 11:42] Ponant commented on #7110
@ajcvickers , any link to where I can read more about the recurring SQL Server cycling issue/limitation? Hard to find!

[2016-11-29 13:35] archanasoni commented on #7129
@ajcvickers, We are not creating DbContextOptions object any where. we register the service and as per the article dependency injection takes care:
https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db
"
_You'll notice that the controller takes a BloggingContext as a constructor parameter. ASP.NET dependency injection will take care of passing an instance of BloggingContext i

[2016-11-29 14:47] bottomup opened #7155 "Support of custom comparers for orderby queries"
I know it can't be translated to SQL, so can I force to evaluate locally?

### Steps to reproduce
Some pieces of the relevant code:

IQueryable<Product> query = _entities.Set<Product>();
query = query.OrderBy(p => p, new Comparers.DistanceComparer(search.Location.Lat, search.Location.Long));
return query.ToList();

public class DistanceComparer : IComparer<Product>

### The issue
I would like to s

[2016-11-29 15:07] mwrock opened #7156 "using dotnet ef on published projects"
I am working on an asp.net core website on linux. I'd like to be able to use the `dotnet ef` command on a node where I published the site. The published location just has the site dlls and `dotnet ef` seems to demand the `project.json` file be present.

Is this possible or must I use `dotnet ef` from the original source directory? Is there another tool/script I can leverage to accomplish `dotnet e

[2016-11-29 15:09] econner20 commented on #4269
I have ran into an issue with iOS. I used the example models and context from the example @polkduran provided and was successful in getting EF to work with Android, UWP and a Winforms target. However when I run the same Xamarin project/NETStandard assembly the iOS target is throwing the following exception:

Unhandled Exception:
System.NotImplementedException: Interpreter of ref types

when trying

[2016-11-29 16:55] ajcvickers commented on #7129
@archanasoni In that case it could you show the code that sets up the service provider and calls AddDbContext? Also, are you using this in a standard web app with MVC and having the context injected into the controller? If not, how are you managing the service provider and creating scopes? Can you show code for that?

[2016-11-29 17:00] bdm4 commented on #6971
Hope everyone had a good holiday. So I decided to create a blank .net core project based on the template.
Tools -> Manage Nuget... -> Installed -> Error Occurred -> Show errors in output:
The schema version of 'Microsoft.AspNetCore.Server.IISIntegration.Tools' is incompatible with version 2.12.0.815 of NuGet

Click updates 5 are available to push NETCore.App and others like it to 1.1.0, Select all

[2016-11-29 17:01] ErikEJ commented on #7006
Fixed in the 1.2 dev feed

[2016-11-29 17:12] micdenny commented on #7146
I had the same problem, but when adding a migration instead. In fact every PS command I tried from _Package Manager Console_ ends up with:

[code]

It seems to use the Project name instead of StartupProject name when searching for the entry point.

I suggest to rename the issue in `Powershell Tools 1.1.0-preview4 fails when target >=net452` what do you think @farlop?

I don't know if it is connect

[2016-11-29 17:12] ajcvickers commented on #7147
Note for triage: This looks like an issue in model building. The model has a shadow FK created, presumably because the RegionName property is not mapped at the time the HasOne call is made. This gets replaced by the correct FK once the ForeignKey call is made later in the chain, but the FK and shadow property are left dangling rather than being removed.

[code]

[2016-11-29 17:16] dazinator commented on #626
Will this also take care of the following use case?

I'd like to add an entity to a DbContext (to be inserted or updated), however at that point i'd like to subscribe to be notified of when the entity get's saved, so i can handle taking its newly updated values (i.e the database generated values that get poplated after a SaveChanges() - like it's ID etc) and do something with them.

[code]

Someth

[2016-11-29 17:21] ajcvickers commented on #7110
@Ponant http://stackoverflow.com/questions/851625/foreign-key-constraint-may-cause-cycles-or-multiple-cascade-paths

[2016-11-29 17:31] Antaris commented on #626
@dazinator I'm currently working on an extension project for EFCore (https://github.com/Antaris/EntityFrameworkCoreExtensions) which will allow you to do what you want, eventually.

I have a number of working hooks including change tracking, value materialization, querying and storage. It's still a WIP though.

[2016-11-29 17:34] ScottRFrost commented on #7031
I'm still getting

Does EF just not support csproj / visual studio 2017 created projects at all yet?

[2016-11-29 17:36] divega commented on #7006
@ErikEJ if this is it still an issue for 1.1.0 RTM it means it is hard to test providers for 1.1.0 RTM. Can you confirm?

[2016-11-29 17:51] rowanmiller commented on #7031
@ScottRFrost the Package Manager Console commands work, but `dotnet ef` is not really working. See the last section of the announcement post for details (there is a section specifically about VS2017 RC) - https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/.

BTW you can't `Install-Package` on a CLI tools package (at least not yet). You need to manually edit the

[2016-11-29 17:54] ErikEJ commented on #7006
Yes, still an issue on 1.1 RTM bits, I am just happy to move forward

[2016-11-29 18:01] rowanmiller commented on #4269
@econner20 any chance you have a stack trace on the exception?

[2016-11-29 18:02] rowanmiller commented on #7156
This is currently not possible. We have https://github.com/aspnet/EntityFramework/issues/646 tracking the ability to have a CLI for compiled applications.

[2016-11-29 18:04] rowanmiller commented on #7103
You can use SQL Profiler in [SQL Management Studio](http://go.microsoft.com/fwlink/?linkid=832812) as an easy way to have a profiler running in the background.

[2016-11-29 18:16] bricelam commented on #5320
So there's good news and bad news...

The good news is that I got it "working".

The bad news is that, in practice, it doesn't really "work" because the .NETStandard framework isn't intended for execution. It will work if everything down the execution path has a pure .NETStandard implementation that doesn't depend on a runtime. So basically the only command that will always work is:

* dotnet ef d

[2016-11-29 18:21] rowanmiller commented on #6971
Added the workaround/resolution to the top of this issue.

Closing this out as it is a combination of pre-release tooling and will resolve as our pre-releases RTM and propagate.

[2016-11-29 18:23] bricelam commented on #5320
If we do allow execution, we should automatically add `-Force` to `Remove-Migration` like we do on UWP.

[2016-11-29 18:25] rowanmiller commented on #7072
The fix for this will be part of https://github.com/aspnet/EntityFramework/issues/7066.

In the meantime, we have updated our guidance to tell folks to just use Package Manager Console in VS2017 RC.

[2016-11-29 18:25] rowanmiller commented on #7072
@hyuksel please open a new issue for the next problem you have encountered (with publishing)

[2016-11-29 18:26] ScottRFrost commented on #7031
I assume the UI will eventually have the ability to add the CLI tools?  It's actually not a bad experience for as early / bleeding edge as this stuff is, but the documentation being out of data / based on project.json is what threw me off.

[2016-11-29 18:26] mguinness commented on #7153
@divega Thanks for explaining, that helps my understanding.  It appears that I wasn't the only one caught out regarding this (see issue https://github.com/aspnet/EntityFramework/issues/7144).  Maybe a minor text change to the warning would help?

<pre>
The Include operation for navigation: 'c.State' <b>is unnecessary</b> and
was ignored because the target navigation is not reachable in the final q

[2016-11-29 18:26] rowanmiller commented on #7125
We aren't planning to enable this, as .NET Standard based class libraries are "the way of the future" and supporting PCL would add non-trivial complexity to our project.

[2016-11-29 18:29] rowanmiller commented on #7031
@ScottRFrost yes, the tooling is still very much inflight and there are a lot of experience issues to iron out.

Stored procedure support is one of the bigger features on our top priority backlog, I don't have a specific answer for when we'll implement it... but it is on the short list of critical things on our [Roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap)

[2016-11-29 18:35] j0nscalet commented on #7068
I can confirm this as well, as I just ran through the steps that @rowanmiller  mentioned. I was using a class library before and created a console app instead to test this.

A quick note:  @constantin-v project.json includes "System.Data.Common", "System.Data.SqlClient", and "System.Runtime" but those packages are not needed. (May be a side effect of his solution).

The following project.json file

[2016-11-29 18:37] ScottRFrost commented on #7031
I may have spoken a little too soon about success.  The tools work from PM console, but scaffolding fails.  Is this known broken?

[code]

[2016-11-29 18:37] econner20 commented on #4269
`Unhandled Exception:

System.NotImplementedException: Interpreter of ref types

2016-11-29 13:31:40.313 MobileiOS[27168:602343]
Unhandled Exception:
System.NotImplementedException: Interpreter of ref types
  at Microsoft.Scripting.Interpreter.LightCompiler.CompileMethodCallExpression (System.Linq.Expressions.Expression expr) [0x00089] in /Users/builder/data/lanes/3969/44931ae8/source/xamarin-maci

[2016-11-29 18:44] rowanmiller commented on #7107
Here is an example of it working with a shadow property. In this example, BlogPhoto uses the PK of the Blog it belongs to.

[code]

[2016-11-29 18:45] rowanmiller commented on #7107
BTW that example works on 1.0. In 1.1 we introduced a new overload of `HasForeignKey` which looks a little nicer...

[code]

[2016-11-29 18:47] rowanmiller commented on #7107
My recommendation for triage... the code shown in the example seems pretty reasonable. If we see a lot of folks wanting to do this, we could look at more of a "sugar" pattern in the fluent API, but at this stage I don't think we have that level of feedback and I suspect it won't be super common.

[2016-11-29 19:13] natemcmaster commented on #7040
To get this change into EF, we'll need to upgrade to Microsoft.Data.Sqlite 1.1.1

[2016-11-29 19:16] rowanmiller commented on #5320
We'll go with the warning approach

[2016-11-29 19:18] rowanmiller commented on #7006
May be related to needing NuGet 3.5

[2016-11-29 19:19] esargent commented on #5320
As a developer trying to use EFcore and having to deal with this issue because we are leveraging a common data model across multiple web portals and even a Xamarin project for Android - my team would prefer to have the option and the warning message.

It feels a lot more natural to do data modeling and schema work against the Data project, not the application.

[2016-11-29 19:35] NPadrutt commented on #4269
I tried to install it to a portable class library with this targets:

![image](https://cloud.githubusercontent.com/assets/1764367/20725768/36f8515e-b673-11e6-8288-acdac8a5d582.png)

But got the this message:
[code]

Does it currently not support portable class libraries?

[2016-11-29 19:40] econner20 commented on #4269
The portable class libraries have to be converted to .NETStandard. I was successful in using NETStandard 1.4. @polkduran provided a link to an example that includes steps required to convert the PCLs to NETStandard.

[2016-11-29 19:43] jayslife commented on #7053
Hello all,

My team was able to resolve this issue updating the project.json file in the migrations project.  We removed the following from dependencies:
,
    "Microsoft.EntityFrameworkCore.Tools": {
      "type": "build",
      "version": "1.1.0-preview4-final"
    }

We added the following to tools

"tools": {
    "Microsoft.EntityFrameworkCore.Tools": "1.1.0-preview4-final",
    "Microsoft.Ent

[2016-11-29 19:43] ErikEJ commented on #7006
@rowanmiller Sounds likely, I am running 3.4.4.1321

[2016-11-29 19:48] econner20 commented on #4269
@rowanmiller did the stack trace help?

[2016-11-29 19:58] rowanmiller commented on #7150
@smitpatel can you find the dupe and then close

[2016-11-29 19:59] ngonzalezromero opened #7157 "Insert entity but not insert nested object"
I have this method

[code]

if I updated the entity , I don't have problem, but if I Insert

       Full Trace: Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while
       updating the entries. See the inner exception for details. ---> Npgsql.PostgresException:
       23502: null value in column "StateName" violates not-null constraint
       at Npgsql.NpgsqlConnector.<DoReadMe

[2016-11-29 20:06] rowanmiller commented on #7154
@divega  to find info we posted to a similar issue recently

[2016-11-29 20:08] rowanmiller commented on #7155
The workaround is to do the OrderBy after the ToList.

@anpete  to follow up with relinq

[2016-11-29 20:16] asadsahi commented on #7154
@rowanmiller @divega

Get at the bottom of this after struggling for couple of day. The issue doesn't seem to be with EF Core. When I was querying related entities, and see in debug window, related intities were just going indefinitely. e.g open customer property in booking shows customer, and when opening booking property in customer it shows booking and keeps on going in debug window. I was unde

[2016-11-29 20:18] bricelam commented on #6592
In addition to building, we also show the wrong parameters. (e.g. `--assembly` instead of `--project`). I'm expanding the scope of this bug to simply improve help.

[2016-11-29 20:27] bricelam commented on #7068
Closing as a dupe of #5320

[2016-11-29 21:09] bricelam commented on #7040
Marking for re-triage so we can assign someone else to handle the EFCore/Microsoft.Data.Sqlite updates.

[2016-11-29 21:20] rowanmiller opened #7158 "Xamarin: iOS NotImplementedException during query"
Reported by @econner20 - see https://github.com/aspnet/EntityFramework/issues/4269#issuecomment-263595495

I am having an issue with iOS. I used the example models and context from the example @polkduran provided and was successful in getting EF to work with Android, UWP and a Winforms target. However when I run the same Xamarin project/NETStandard assembly the iOS target is throwing the following

[2016-11-29 21:20] rowanmiller commented on #4269
@econner20 opened https://github.com/aspnet/EntityFramework/issues/7158 to track the issue

[2016-11-29 21:21] #7005 closed

[2016-11-29 21:34] smitpatel commented on #7149
@ErikEJ - What I meant was if you set data type for `DateTimeOffset` column using `HasColumnType` to something else, would it work out of the box?
If not then you can ignore the property and disable tests which are using it.

Here is where you have to override model
https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/test/EntityFramework.SqlServerCompact.FunctionalTests/GearsOfW

[2016-11-29 21:42] series0ne commented on #3797
I'm probably in the minority of people who don't particularly want lazy loading, because it has the potential to make data transactions very chunky. For example, if I have an aggregate root which contains several navigation properties, I should only be pulling back the data I need, rather than EF deciding that I need all of it.

On the same note, I do think that there are several improvements to b

[2016-11-29 21:55] tinchou commented on #3797
+1. I sometimes need only the `.Name` or similar property of a related entity but I'm bringing everything when calling `.Include()`.

[2016-11-30 00:08] smitpatel commented on #7120
I am not able to repro this. Above code works fine (after configuring `EntityId` to be PK) in 1.1.0 release.

[2016-11-30 00:09] #6326 closed

[2016-11-30 00:34] #7112 closed

[2016-11-30 00:35] smitpatel commented on #7112
Merged via ab4b6dc6038a674e055c51a6d28ad15ffe75e246

[2016-11-30 01:04] ndenkha commented on #1748
Hi guys, I'm having this issue with EF 6.1.3 and it only happens when I include any 3rd Include, i.e. I can get a single or 2 navigation props in any combination fine. I'm running against MySQL 5.7 AWS RDS, and here are my models and tables.

// If I take any one of the includes I get the user object back correctly with only those two navigation props populated, the moment I add any 3rd include I

[2016-11-30 01:06] ndenkha opened #7159 "Specified cast is not valid on 3rd Include"
Not to duplicate work, but I posted my issue on this closed post in case no one will look at a closed issue.

https://github.com/aspnet/EntityFramework/issues/1748

Thanks,
Ninos

[2016-11-30 01:09] smitpatel opened #7160 "Skipped tests report"
~AsyncQueryTestBase.Mixed_sync_async_query~
[code]

[2016-11-30 01:17] smitpatel commented on #6618
Exception message changed here
[code]

[2016-11-30 01:31] smitpatel commented on #6061
Exception:
[code]

[2016-11-30 01:37] smitpatel commented on #7160
QueryTestBase.GroupBy_anonymous_subquery
[code]

[2016-11-30 01:50] gdoron commented on #3797
@series0ne Often I face the same requirement.
But It will probably lead to too many bugs of EF will have this feature.
Because you will get a CLR object with all its properties set to default(T).

(Take with grain of salt, I haven't used NHibernate for 5-6 years)
I think NH have something similar to what you suggest, but it heavily uses proxies, so if you access an initialized property it will go

[2016-11-30 01:53] koenigsbier commented on #5320
@bricelam so you are saying there will be no issues with a .NET Core class library targeting only full .NET Framework instead of .NET Standard?

[2016-11-30 01:55] smitpatel commented on #7160
OptimisticConcurrencyTestBase.Two_concurrency_issues_in_one_to_many_related_entities_can_be_handled_by_dealing_with_dependent_first

[code]

[2016-11-30 01:57] smitpatel commented on #7160
DbContextPoolingTest.Concurrency_test

[code]

[2016-11-30 02:07] smitpatel commented on #7160
InheritanceRelationshipsQuerySqlServerTest
- Include_reference_with_inheritance2
- Include_reference_with_inheritance_with_filter2
- Include_collection_with_inheritance2
- Include_collection_with_inheritance_with_filter2
- Include_reference_with_inheritance_on_derived3
- Include_reference_with_inheritance_on_derived_with_filter3
- Include_collection_with_inheritance_on_derived3
- Include_collectio

[2016-11-30 02:22] smitpatel commented on #7160
AsyncQuerySqlServerTest.Except_nested

[code]

[2016-11-30 02:27] smitpatel commented on #7160
IncludeAsyncSqlServerTest.Include_duplicate_reference on SqlServer 2008

[code]

[2016-11-30 02:30] smitpatel commented on #7160
SequenceEndToEndTest.Can_use_sequence_end_to_end_from_multiple_contexts_concurrently_async
[code]

[2016-11-30 02:33] smitpatel commented on #6248
Closing this in favour of #7160

[2016-11-30 03:15] bricelam commented on #5320
Correct. Class libraries targeting .NET Framework or .NET Core App should work just fine without specifying a separate startup project.

[2016-11-30 03:26] bricelam commented on #5320
To ellaborate, there are two projects when you invoke a command:

The target project that you are operating on. Files will be added to this project.

The startup project. This is the runtime environment we'll emulate at design time. This project's config will be loaded; it's Startup.ConfigureServices will be used if it's an ASP.NET Core project; etc.

In PMC, the target project defaults to toe sel

[2016-11-30 04:38] smitpatel commented on #7121
Similar to #7033

[2016-11-30 04:39] smitpatel commented on #7150
Dupe of #6647

[2016-11-30 04:51] dazinator commented on #7120
Thats odd.. I tried 1.1.0 too. Ok I'll try this again thanks.

[2016-11-30 05:32] mguinness commented on #1833
Another dev who is also holding out hope for filtered includes in a future release.

I came across [DynamicFilters](https://github.com/jcachat/EntityFramework.DynamicFilters), but unfortunately it doesn't support EF Core :(

I also found [EntityFramework-Plus](https://github.com/zzzprojects/EntityFramework-Plus/wiki/EF-Query-IncludeFilter-%7C-Entity-Framework-Include-Related-Entities-using-Where-F

[2016-11-30 06:15] hidegh commented on #1833
@mguinness command interception is an another concept. filtering on includes can be "replaced" if you are willing to give up comfort by using automapper on the original iqueryable<mainEntity>, thus you can create joins (mixing linq query withg lambda and using Where to manipulate what is joined), but the result will be an anonymous type (or you can create a custom type for it) - anyhow, you are lo

[2016-11-30 06:21] ErikEJ commented on #5320
For the first time I kind of understand this, how about adding this to the docs?

[2016-11-30 08:13] bottomup commented on #7155
Ok, but together with skip and take (not in my posted example) that would be less useful.
Curious for the relinq follow-up though.

[2016-11-30 08:34] alexsxx commented on #7103
Thanks for the tip, anyway:

[2016-11-30 08:57] divega commented on #7155
@bottomup the workaround is to make things work in memory. Fixing the limitation in Re-LINQ would help in making the workaround unnecessary but it would still be evaluated in memory. I.e. all rows would be returned from the database, ordered in-memory and finally paging operations would be applied. I cannot think of any significant difference between this and the workaround in terms of how much da

[2016-11-30 09:21] bottomup commented on #7155
Yes, I'm waiting for #1100 to be implemented, that would solve my problem immediately. Hopefully in a next patch before 1.2.0.

Thanks for the elaboration.
The one thing I wonder is about in memory and difference in syntax. While I can filter on distance in a where without modifying the LINQ expressions, I can't do the same for ordering on distance, in this case with a custom comparer. If Re-LINQ

[2016-11-30 10:43] farlop commented on #7146
I'm agree with you, as it seems something generally related to the tools itself. I'm going to try the walkarounds proposed in #7071  using preview3 and las nightly of preview4 and update with results.

[2016-11-30 11:07] farlop commented on #7146
You were right. Trying to use 1.0.0-preview3-final trows the following error:

[code]

And using the latests nightly '1.2.0-preview4-22845' gives the same error as using '1.1.0-preview4-final'...

[2016-11-30 11:41] archanasoni commented on #7129
@ajcvickers, We are using standard Web App with MVC. Controller and DBContext  are defined, same as what is described in article. Database and object already exist.
Below is call hierarchy :

 	WebApplication3.dll!WebApplication3.Startup.ConfigureServices.AnonymousMethod__0(Microsoft.EntityFrameworkCore.DbContextOptionsBuilder options) Line 39	C#
 	Microsoft.EntityFrameworkCore.dll!Microsoft.Exten

[2016-11-30 11:42] cjcfreitas opened #7161 "Identity value generation cannot be used because the property type is byte"
### Steps to reproduce
Trying to create a table where primary key is of type tinyint and is identity.
Tried with anotations
`[Key, DatabaseGenerated(DatabaseGeneratedOption.Identity)]`
and fluent API `UseSqlServerIdentityColumn()`

### The issue
I get this error:
`Identity value generation cannot be used for the property 'Id' on entity type 'Cargo' because the property type is 'byte'. Identity val

[2016-11-30 11:54] micdenny commented on #7146
This is another problem they are fixing on netcore CLI, you have to set the `StartupProject` to point an application, that means a library that emit the entry point `"emitEntryPoint": true`

You should try with something like this:

[code]

where `EFCore.AspNetCore.ProdMigration.Data` is the class library set to compile to `net452` and `EFCore.AspNetCore.ProdMigration` is a netcore asp.net or cons

[2016-11-30 12:50] mdmoura commented on #7119
@ajcvickers

The stack trace is the following:

`
Unhandled Exception: System.AggregateException: One or more errors occurred. (Collection was modified; enumeration operation may not execute.) ---> System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
   at System.Collect

[2016-11-30 13:23] sambernaerdt commented on #7139
Similar issue here, also after upgrading to 1.1

Note: I only get the exception upon accessing the DbSet, while other methods from the DbContext still work. Example, in the following code:

[code]

the method **Add** works fine, but **GetAll** results in the exception:

[code]

[2016-11-30 16:09] mguinness commented on #1833
@hidegh I understand command interception is another concept, but it allows for workarounds when you don't have filtered include.  I see three 3 needs for filtered includes, but I'm sure there are others:

- Multi-tenant database (inc. row level security)
- Security filtering at either user or role level
- Soft deletes where tables have boolean flag field

Using command interception you could impl

[2016-11-30 17:06] bastervrugt commented on #7077
moving the *.deps.json file from the

to

will fix the Add-Migration command.
Using the Update-Database command with Sqlite will generate a database in the Debug\netcoreapp1.1 directory instead of the Debug\netcoreapp1.1\win10-x64 directory.

[2016-11-30 17:14] ajcvickers commented on #7129
@archanasoni I'm running out of ideas. There should be no difference in behavior between using OnConfiguring and AddDbContext. Can you post the full code for your implementation of the RelationalOptionsExtension class and the class that contains the UseDb2 method?  Also, can you check that your implementation of QuerySqlGeneratorFactoryBase is registered as scoped?

[2016-11-30 18:20] rowanmiller commented on #7139
Based on what is in your `project.json` I think you are getting the 1.1 version of `Microsoft.EntityFrameworkCore` package, but are probably getting the 1.0 version of the `Microsoft.EntityFrameworkCore.Relational` package. Can you swap the line with `Microsoft.EntityFrameworkCore` to `Microsoft.EntityFrameworkCore.Relational` and see if that works.

BTW there are steps about upgrading in https://

[2016-11-30 18:22] rowanmiller commented on #5320
@ErikEJ good idea. We don't really have any detailed docs on the commands at the moment, just a reference on what parameters are available etc.

[2016-11-30 18:41] rowanmiller commented on #7146
There are a lot of issues with the tooling at the moment (they mostly stem from the complexity of trying to support project.json/xproj and the new MSBuild based tooling - neither of which is a stable release themselves).

Two things to try.
* Try using the `dotnet ef` commands at a command prompt instead (you already have them correctly registered in the project.json that you posted)
* Roll back t

[2016-11-30 18:43] rowanmiller commented on #7140
This isn't currently implemented, but it is tracked by https://github.com/aspnet/EntityFramework/issues/3060. We were trying to fit it into the 1.1 release, but it did not make it.

[2016-11-30 18:45] ajcvickers commented on #7161
@cjcfreitas Could you explain a little about why you need this? Why is it that you need a tinyint column for this rather than something slightly larger? Are you sure that the number of rows won't exceed the value space?

Note for triage: The problem with allowing this is that there is a a high chance of overlap between temporary values and real values. Temporary values start at 255 and count down.

[2016-11-30 18:45] rowanmiller commented on #7143
NuGet currently doesn't support installing .NET CLI Tool packages. You need to manually edit the project.json to register it...

[code]

[2016-11-30 18:45] rowanmiller commented on #7143
Closing as I think I have answered this, but reply if not and I will reopen.

[2016-11-30 18:46] rowanmiller commented on #7145
Do you have a project, or complete code listing, that we could run to reproduce this?

[2016-11-30 18:51] rowanmiller commented on #7132
@divega is going to put some more detailed thought into your proposal. In the meantime, I just wanted to note that you can achieve something similar using extension methods already...

[code]

[code]

[2016-11-30 18:51] joacar commented on #7143
Thanks will try it out!

[2016-11-30 18:53] rowanmiller opened #7162 "Query: Better warning and XML doc comments about ignored Includes"
Suggestion from @mguinness to make the warning clearer. We could also FWLink to the docs on this topic.

<pre>
The Include operation for navigation: 'c.State' <b>is unnecessary and</b>
was ignored because the target navigation is not reachable in the final query results.
</pre>

We should also doc when include is/isn't needed in the xml comments for Include.

[2016-11-30 18:53] rowanmiller commented on #7153
Split off a new issue to improve the docs - https://github.com/aspnet/EntityFramework/issues/7162

[2016-11-30 18:55] jeffbromberger commented on #7139
@rowanmiller thanks for replying.  I added the Relational package to the project and it seems to work now.  It sounded like you were saying I should get rid of the Microsoft.EntityFrameworkCore package though.  I don't follow that part unless the .Relational package would pull it in automatically?

[2016-11-30 18:58] rowanmiller commented on #7139
Relational will pull it in, but it is also fine to list it explicitly too.

[2016-11-30 18:59] rowanmiller commented on #7159
Can you open the issue over on the EF6 project - github.com/aspnet/EntityFramework6.

[2016-11-30 19:01] ajcvickers opened #7163 "Warn for non-nullable store-generated bool properties"
For bool properties the only valid values are true and false. If the value is false, then it is the CLR default, which triggers store generation. Therefore it is impossible to insert false values. This is unlikely to be the desired behavior. The usual fix for this is to make the property nullable.

For enums the situation is slightly different. The CLR default is always zero, which might also be a

[2016-11-30 19:04] rowanmiller commented on #7103
We should verify if this is a regression and move to 1.2.0 if it is not.

[2016-11-30 19:08] mguinness commented on #7153
@divega I did try removing the `Include()` when running the following query, but ran into another issue:

`var customersWithState = ctx.Customers.Where(c => c.State.Abbreviation == "WA").ToList();`

[code]

Got warning `The LINQ expression '(IIF(([c.State] != null), [c.State].Abbreviation, null) == "WA")' could not be translated and will be evaluated locally`.

I would have expected the following

[2016-11-30 19:17] vaindil opened #7164 "LINQ expressions being evaluated locally when .Include() is involved"
### Problem

I'm querying a DB using a DbContext I wrote, and I recently added some `.Include()` calls to an existing search function. Since I've added those, I'm getting this warning (with `OrderBy()`, `Skip()`, and `Take()`):

If I remove the `.Include()`/`.ThenInclude()` expressions, the query translates and no warning is thrown. The problem happens even if only `.Include()` is involved; removi

[2016-11-30 19:53] ajcvickers commented on #7163
Triage decision: warn only for bools.

[2016-11-30 20:01] smitpatel commented on #7034
This works fine in 1.0.1 release too.

[2016-11-30 20:03] smitpatel commented on #7034
Closing this as unable to reproduce.

If you are still seeing issue, please provide full repro code which demonstrate the behavior and we'll re-activate the issue.

[2016-11-30 20:09] smitpatel commented on #7103
This did not work in 1.0.1 release too. (same exception). Not a regression. Moving to milestone 1.2.0

[2016-11-30 20:17] ajcvickers opened #7165 "Make store-generated nullable bool properties required by convention"
Since null will never be inserted it may make sense to make the database column non-nullable. However, it is still possible that the mechanism that generates values in the store may create null values.

Note that bool properties are not really unique in this way. Null will not be inserted for any store-generated nullable type.

[2016-11-30 20:26] smitpatel commented on #7103
As a work-around:
Why not write query like this: `db.mytable.where(x => x.id < 5).sum(x => x.decimalfield)` ? Sum function in T-Sql ignores null fields anyway.

[2016-11-30 20:46] ajcvickers opened #7166 "Re-consider One Model to Rule Them All"
Many moons ago we decided to follow the path of One Model to Rule Them All. That is, the ability to create a single model that can be used by all providers. To this end:
* Annotations and the APIs around them were implemented such that any provider-specific annotations could co-exist on the model with provider-specific annotations for a different provider.
* Provider-specific conventions would not

[2016-11-30 20:54] bricelam commented on #7077
I suspect all of this is due to using a standalone app. They're not well supported in the current releases of the tools, and, last I heard, standalone vs. portable is being redesigned in the MSBuild world--to become purely a publish/deploy-time decision.

Try using a portable app by updating your dependency to the following and removing your `runtimes` section.
[code]

[2016-11-30 22:47] ndenkha commented on #7159
Thank you for checking. I Will do that, and I also found a work around for it.

[2016-12-01 00:23] dvdobrovolskiy opened #7168 "update-database -verbose"
update-database -verbose
and
add-migration -verbose

produces "Invalid JSON primitive: ."

[2016-12-01 00:43] dvdobrovolskiy commented on #7168
Tried to ignore it
PM> add-migration -ErrorAction:Continue
cmdlet Add-Migration at command pipeline position 1
Supply values for the following parameters:
Name: x
ConvertFrom-Json : Invalid JSON primitive: .
At C:\Users\dima\.nuget\packages\Microsoft.EntityFrameworkCore.Tools\1.1.0-preview4-final\tools\EntityFrameworkCore.psm1:947 char:52
+     $projectInfo = Get-Content $projectFile -Raw | Conver

[2016-12-01 03:33] marinehero commented on #2566
@rowanmiller (or anybody): any news/update re core support for spatial? (last I saw was [dotnet/corefx#12034](https://github.com/dotnet/corefx/issues/12034))

Am super excited that ef on .netcore work on Linux machines... was about to port some services to run on the cloud with Redis (for caching in HA mode) when I hit the show stopper on spatial which would hit my DB to seed the data.

Was lookin

[2016-12-01 05:31] Allann opened #7169 "Publish w/ Migrations from different dlls fail"
### Steps to reproduce
Not sure how easy this will be, but:
1. Have an ASP.Net Core website that has one or more DbContext referenced assemblies (Core dlls)
2. Add the dbcontext in startup.cs (i.e: `services.AddDbContext<MaintenanceContext>(options => options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection"), b => b.MigrationsAssembly("Jbssa.FreightRates.Maintenance.Data")));`)
3

[2016-12-01 07:40] joacar commented on #7143
Since I'm running Visual Studio for Mac I added it to `.csproj` as follows

[code]

The file `package.json` was nowhere to be found and, as far as I've read, it pretty much has been replaced by `.csproj`(correct me if I'm wrong - new to .NET core).

Well enough rambling: it still doesn't work.

``
$ dotnet ef
No executable found matching command "dotnet-ef"
``

So I found a package.json file and i

[2016-12-01 08:27] alexsxx commented on #7103
I know but if i select an object in this way (example below) i can't.

db.mytable
.where(x=> x.id <5)
.select(x=> new myobj() {
myfield: x.mydecimalnullable ?? 0
}).sum(x=> x.myfield);

[2016-12-01 10:34] micdenny commented on #7146
Thank you @rowanmiller and your team for the great effort you put on this project. This is a tool in preview so I agree that we have to find workarounds and wait for the next release (msbuild based).

with the dotnet ef command it works, but **it is mandatory to reference from the startup project the data library** that is quite a common use case.

**the rollback to `1.0.0-preview3-final` just wor

[2016-12-01 11:11] JonPSmith opened #7170 "Exception if Client vs. Server evaluation part is used in an OrderBy method"
### Steps to reproduce
I am writing a book on EF Core and I was trying to show how NOT to use Client vs. Server evaluation, i.e. you should not use a client-side evaluated portion in a server-side part of the query.

Instead of it telling me I can't do (or being slow) I got an exception which talked about duplicate keys.

Obviously this is a VERY low priority issue as people shouldn't be doing thi

[2016-12-01 11:21] JonPSmith commented on #7170
Note: I tried another example and that failed differently

Same Unit Test framework but ATTEMPT Part was
[code]

Exception this time was
[code]

Same setup

[2016-12-01 11:26] arnaudauroux opened #7171 "Database is deleted after saving changes when using the Sqlite provider 'in-memory' mode"
### Steps to reproduce
The complete reproduction step solution is available here : https://github.com/arnaudauroux/dotnetcore-sqlite110-issue

### The issue
The SaveChanges method deletes the database when using the 'in-memory' mode after a call to the SaveChanges method. This issue occured in version 1.1.0.

### Further technical details

EF Core version: 1.1.0
EF Core Sqlite version: 1.1.0
DotNe

[2016-12-01 12:54] groege commented on #3797
Don't get me wrong but i don't understand the problems many have with lazy loading.
To me lazy loading should be the standard behavior - in case the performance isn't good enough, you only need to generate logs which can be filtered --> shoud contain data:
1. calling class, method, line
2. what statement
3. timestamps (start and end)
(maybe i missed some useful data)
then you can see which navigat

[2016-12-01 13:50] sambernaerdt commented on #7139
For anybody else having the same problem when working with MySql:

After updating to `"Microsoft.EntityFrameworkCore.Relational":"1.1.0"` it was still not working in combination with  `"MySql.Data.EntityFrameworkCore": "7.0.6-IR31"`.

However, after switching to `"SapientGuardian.EntityFrameworkCore.MySql": "7.1.14"` everything works fine again.

[2016-12-01 14:40] RandyBuchholz commented on #7132
Thanks for the extension method approach. @divega can contact me directly with any questions about my thoughts. I'd be happy to participate.

[2016-12-01 14:59] farlop commented on #7146
Thank you @micdenny  and @rowanmiller for all the workarounds. I've been able to scaffold the database using `1.0.0-preview3-final` using the  `-StartupProject` option.

[2016-12-01 16:17] arminrasoulian commented on #4269
When I try to run @polkduran sample project, application throwing the following exception:

`System.TypeInitializationException: The type initializer for 'System.Diagnostics.DiagnosticSourceEventSource' threw an exception.`

when trying to execute the following line:

`db.Database.Migrate();`

Am I missing something?

[2016-12-01 17:56] seriouz commented on #6577
I have a database with the collation set the be case sensitive. Now EF build its query with a temp table, but this temp table does not have the collation on the column so on the insert the database server throws an exception.

[2016-12-01 20:44] divega commented on #6577
@seriouz thanks for reporting this. Please create a new issue with more details. I think you mean to say `SaveChanges()` fails for you, as opposed to querying data. Can you please confirm?

You can try disable batching as a workaround. This can be done in either the `OnConfiguring()` method on the `DbContext` class or on the `AddDbContext()` method in `Startup`:

[code]

cc @AndriySvyryd as FYI

[2016-12-01 20:48] divega opened #7172 "Batching through a table variable may not work for non-default collations"
(copied from @seriouz's comment at https://github.com/aspnet/EntityFramework/issues/6577#issuecomment-264244982)

Until there is a work-around i can not use ef because the regarding columns contain (case sensitive) guids.

I think @seriouz meant to say `SaveChanges()` fails, as opposed to querying data.

Possible workaround is to disable batching in either the `OnConfiguring()` method on the `DbCo

[2016-12-01 21:10] seriouz commented on #7172
@divega you are right. I create multiple parent and child entities. Which reference each other with case-sensitive guid keys. (something like Pk8hUi....) All of them are added by `_dbContext.Add()`. And then saved in one chuck with `_dbContext.SaveChanges()`.
In the debug output i can see this line:
```DECLARE @inserted0 TABLE ([FieldGuid] nvarchar(22), [_Position] [int]);``` the ef query builder

[2016-12-01 21:32] divega commented on #7172
@seriouz thanks for confirming. Please let me know if the suggested workaround helps.

[2016-12-01 22:15] kwameg-a opened #7173 "Ef Core 1.1 Error - Invalid JSON file in C:\Projects\project.json"
Please find below the **project.json** file:
[code]
### The issue
When I run the update-database command in VS Package Manager Console, I instantaneously get this error - **Invalid JSON file in C:\Projects\project.json**, without running the program and return to the command prompt as shown below:
**PM> update-database
Invalid JSON file in C:\Projects\project.json
PM>**

EF Core version: 1.1
Opera

[2016-12-02 06:25] danielzach opened #7174 "Add-Migration exception - The current CSharpHelper cannot scaffold literals of type 'System.Func`3"
Exception is thrown when adding new migration to the project. Why?

### Steps to reproduce
Open following [project](https://github.com/danielzach/MigrationTest) and try to add new migration.

This is new Web App project, I've just added some entities classes.

### The issue
When trying to add a new migration including _MessageBase_ and _InvitationMessage_ entities, following exception is thrown:

[2016-12-02 09:22] cjcfreitas commented on #7161
@ajcvickers One can always use a larger format. I use tinyint as PK in small master tables (e.g. document types, wharehouses, VAT taxes) when I am sure there will be only a few items. This will be FK in larger tables.
I know there are different opinions about this, but I usually favor using the most restrictive data-type available whenever I am sure it wont overflow (Hard disk space is cheap but i

[2016-12-02 09:26] joacar commented on #7143
@rowanmiller Do you have any ideas what might be wrong? Don't know what to try next - running out of ideas

[2016-12-02 10:13] tobiashoeft commented on #6926
Any news? :(

[2016-12-02 12:03] Thaoden commented on #7145
@rowanmiller I have created a minimal throwing example at https://github.com/Thaoden/StackOverflowExceptionOnMigrate. It is run with `dotnet run` on the command line.

[2016-12-02 12:55] NPadrutt commented on #4269
I got this error on a 4.6.1 Class Library Test Project:
`Could not load file or assembly 'System.ComponentModel.Annotations, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference`
To fix it I had to add the package : `    "System.ComponentModel.Annotations": "4.1.0", ` ,despite

[2016-12-02 16:11] ocbj commented on #4825
@omuleanu  Spot on. The options ctor was the missing piece of the puzzle!

[2016-12-02 16:27] andresmoschini commented on #6837
@rowanmiller can I use `dotnet ef` when the context is defined in an old csproj library? how?

[2016-12-02 17:49] bricelam commented on #6837
For plain-old-csproj (e.g. .NET Framework Class Library, WinForms, WPF, Console, etc.) the PMC commands should work. This issue was specifically about targeting net452 on a .NET Core Class Library or ASP.NET Core project.

[2016-12-02 18:24] bricelam commented on #7174
Try upgrading the EF tools packages to `1.0.0-preview3-final` and installing the `1.1.0` version of `Microsoft.EntityFrameworkCore.Design`. I don't think preview2 works with 1.1.

[2016-12-02 18:26] bricelam commented on #7143
For preview3 (csproj-based) tooling, you'll need to add the following.

[code]

[2016-12-02 18:30] bricelam commented on #7143
Also, I don't think the 1.1 runtime is supported on the preview3 tooling. At the least, you'll probably need to add the following package references. But even then it still may not work.

[code]

[2016-12-02 19:31] joacar commented on #7143
@bricelam That did the trick. Unfortunately after running it the first time I can't run `dotnet ef` again. Get **no executable matchin 'dotnet-ef'

[2016-12-02 19:37] mguinness commented on #6926
@tobiashoeft Avoid MySql.Data.EntityFrameworkCore for now and use SapientGuardian.EntityFrameworkCore.MySql or Pomelo.EntityFrameworkCore.MySql instead.

[2016-12-02 21:12] danielzach commented on #7174
After updating NuGet version and then all packages (including installing dotnetcore 1.1 instead of 1.0), migrations are working OK. Updated _project.json_ is commited to [the project](https://github.com/danielzach/MigrationTest).

Thank you!

[2016-12-02 21:54] nh43de commented on #6986
Having the same problem, and have not been able to find a suitable workaround.

[2016-12-02 22:20] bricelam commented on #7143
Yep. Definitely still a preview. Petsonally, I'm surprised to hear tha VS for Mac works at all woth MSBuild .NET Core projects.

[2016-12-02 22:24] joacar commented on #7143
It doesn't work as well as one had hopped though :). Struggling with referencing a Core class library (netstandard1.6) in my asp.net core web (.netcoreapp1.1).

Referencing it directly make it compile but then the assembly file cannot be found. Tried to add it to my "local nuget feed" and install it but that fails since it wants to upgrade the tooling (but fails).

Third try adding it to .csproj d

[2016-12-02 22:28] #5320 closed

[2016-12-02 22:28] #6886 closed

[2016-12-02 22:28] #7066 closed

[2016-12-02 22:28] #7071 closed

[2016-12-03 01:12] smitpatel commented on #6986
@nh43de - You can use non-shadow property which will not encounter this issue.

[2016-12-03 01:27] john-luke-laue opened #7175 "An error occurred while calling method 'ConfigureServices' on startup class 'MyApp.Data.Startup'. Consider using IDbContextFactory to override the initialization of the DbContext at design-time. Error: The path must be absolute."
### Steps to reproduce
I put my DbContext in a separate project from my .NET Core MVC app. The MVC references it.
The app works just fine and I was able to scaffold the existing database. However, when I want to run a new migration, I get the error: _An error occurred while calling method 'ConfigureServices' on startup class 'MyApp.Data.Startup'. Consider using IDbContextFactory to override the in

[2016-12-03 13:10] JandosKh opened #7176 "Cannot insert explicit value for identity column error"
I initialize CompanyDbContext on every request depending on the
CompanyId which is in the request cookie.

	public class CompanyDbContext : DbContext
	{
		public Company {get; set; }

		public string ConnectionString
		{
			get
			{
			    return "Server=" + this.Company.DbSvrName +
			        ";Database=" + this.Company.DbName +
				";Trusted_Connection=True;MultipleActiveResultSets=true";
			}

[2016-12-03 14:52] smitpatel commented on #7171
possible dupe of #6968

[2016-12-03 16:41] hqywork opened #7177 "ConventionSet API XML Document Error"
### The issue

XML Document on "IndexRemovedConventions" of "ConventionSet" has error, should was "Removed".

[Microsoft.EntityFrameworkCore.Metadata.Conventions.ConventionSet](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore/Metadata/Conventions/ConventionSet.cs)

[2016-12-03 20:49] brockallen commented on #7116
I just ran into this issue.

I have a ASP.NET Core 1.0 host app that references a library (netstandard14). The library references EF Core 1.0. The library has no SqlServer dependencies (just uses a DbContext). The host puts the DbContext in DI and configures SqlServer as the provider.

I then update the host app to ASP.NET Core 1.1 (and EF Core 1.1 and SqlServer 1.1), but still rely upon the same

[2016-12-03 22:29] gdoron opened #7178 "OrderBy with Contains emits invalid SQL to the DB"
var headerStories = await _context.Stories
                .Where(x => x.IsPublished)
                .Include(x => x.StoryCategories)
                .ThenInclude(x => x.Category)
                .ThenInclude(x => x.ParentCategory)
                .Include(x => x.Images)
                .Include(x => x.User)
                .OrderByDescending(x => headerIds.Contains(x.Id))
                .OrderB

[2016-12-03 22:47] gdoron commented on #7178
p.s. I'm not looking for a workaround like splitting the query into two, as I already did that.
I'm just reporting the bug.

[2016-12-04 00:15] JandosKh commented on #7176
I close the issue because the issue was related to trigger. Sorry for unnecessary posting.

[2016-12-04 13:00] arielcloud opened #7179 "Is there any ability to "if not in transcaction - then connection.BeginTransaction()""
I want to wrap function father() in transaction, but function father() called to function child(), and I want to wrap child() himself with transaction, so that in any case someone call child() - it will save internal changes with transaction.
but if I wrapped both with transaction and call father() it thrown since EF dont let nested transaction...

so, there is any API for "if not in transcaction

[2016-12-04 16:22] ErikEJ commented on #7149
HasColumnTYpe did not work, but Ignore did, thanks!

[2016-12-04 17:33] tobiashoeft opened #7180 "Problem with UTF 8 in insert / update"
Hey folks ,

i have a problem with the "insert and update" maybe in my WebApi to MySql Database.

if i debug all works fine with german "äääöööüü etc.." on controller and models from angular 2 service.
The values shown up the ÖÄ.

But if the Create or Update runs to db the values looks like this  in Table  GroÃƒÆ’Ã…Â.

If i change the values in Database and call a HttpGet the Values shown ÄÖÖ on U

[2016-12-05 00:44] Allann commented on #7169
I have also tried the dotnet command line and get similar errors:

[code]

I have found a viable though not pretty solution for this issue, I have moved the DbContext project content into a folder within the asp.net core application (Jbssa.FreightRates.Web) application.  So this is now the new structure.
![image](https://cloud.githubusercontent.com/assets/2005474/20870610/08df8b58-bad7-11e6-98ae-8

[2016-12-05 01:49] AndriySvyryd opened #7181 "Relax derived FK overlapping PK restriction"
This is only an issue if the property contained in both needs a value generator

[2016-12-05 01:49] jemiller0 commented on #2272
So, will column ordering in the database at some point match what is specified using ColumnAttribute(Order=) at some point? I was surprised to see that this doesn't appear to work. Also, I was surprised that there doesn't appear to be a fluent API method for specifying the column order. Isn't that the whole point to that attribute? I'm running into the problem because I'm generating code from my m

[2016-12-05 02:51] Allann commented on #7175
Try
                .SetBasePath(env.ContentRootPath)
in your Startup method.

[2016-12-05 03:01] Allann opened #7182 "Migrations on other servers (not development) Question"
### The issue
When development is finished and TFS (VSTS) takes over.  The build completes successfully and the artifact directory contains the published website via a build definition.  The Release Manager is then triggered, and takes over and creates a website in an environment, the website files are copied to the environment and the website started. All good so far.

Missing the Database migrat

[2016-12-05 03:59] charliethinker opened #7183 "Unable to run Migrations with EFCore 1.1.0 in MySQL"
### Steps to reproduce

After upgrade EFCore to 1.1.0, when I run `dotnet ef migrations add MyMigration` ,I'm getting the error as below:

[code]

This is my upgraded *project.json*:

[code]

### Further technical details

EF Core version: 1.1
Operating system:  Mac macOS Sierra(v10.12.1)
Visual Studio version: Visual Studio Code(v1.7.2)

[2016-12-05 06:23] ErikEJ commented on #7182
The team plans to create EF.exe

[2016-12-05 08:21] KangJiYoung opened #7184 "Add new migration fails but update-database works"
### Steps to reproduce
I upgraded a project from .NET Core and EF Core 1.0 to 1.1

### The issue
When I run add-migration it gives me this error:

### Further technical details

EF Core version: 1.1
Operating system: Windows 10 x64
Visual Studio version: 2015

[2016-12-05 09:25] Allann commented on #7182
I found an ef.exe in Preview 4.  Is that the one to replace migrate.exe?  If so, is there an expected way to get that from the package to the artefacts directory?  For a test today, I manually dragged it into a "tools" directory in the solution and used a copy files task in the build server to add it to the artefacts.  Still need a way to run it on the remote server from the release task.  I'm thi

[2016-12-05 13:30] alaatm opened #7185 "Better way to get application services from within a derived DbContext instance"
I am trying to get a service from within a derived `DbContext` using the following code:

    ((IInfrastructure<IServiceProvider>)this).GetService<IMyService>();

The `IMyService` was previously registered in `ConfigureServices` in the `Startup` class. However, the call returns `null`. I am assuming this is because EF creates a service scope.

My question is how can I get a service that was regist

[2016-12-05 14:02] marcels2204 opened #7186 "ArgumentException after migration to EF 1.1"
Testname:	TSClean.UnitTests.BusinessLogic.CreateVorgangTests.CreateVorgang_MitBelegTypReinigung_ErzeugtAuftrag
Test FullName:	TSClean.UnitTests.BusinessLogic.CreateVorgangTests.CreateVorgang_MitBelegTypReinigung_ErzeugtAuftrag
Testquelle:	C:\git\TSCleanNeu\src\TSClean.UnitTests\BusinessLogic\CreateVorgangTests.cs Zeile 49
Testergebnis:	Fehlgeschlagene
Testdauer:	0:00:00,492

Ergebnis StackTrace:
a

[2016-12-05 15:22] dazinator opened #7187 "NotImplemented {"Microsoft.EntityFrameworkCore.Query.ResultOperators.Internal.IncludeResultOperator"}"
### Steps to reproduce
Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

Unfortunately I can't post the complete code verbatim as its against the companies policy, however I will try to outline the problem.

### The issue

The problem is that when I attempt to execute a query, I am getting a `NotImple

[2016-12-05 15:26] bgribaudo opened #7188 "Use INSERT w/OUTPUT Instead of INSERT+SELECT"
Entity Framework Core's SQL Server provider (at least, as of v. 1.1.0) follows each INSERT statement with a SELECT statement that fetches database-generated values and verifies the inserted row count.

### Proposal
Eliminate the SELECT statement. Instead:
* Fetch database-generated values using an OUTPUT clause on the INSERT statement.
* Rely on the database provider to throw an exception of the I

[2016-12-05 16:42] ErikEJ commented on #7187
GroupBy is not implemented?

[2016-12-05 16:47] dazinator commented on #7187
GroupBy is implemented, but I think it has an issue when it encounters my subquery.

[code]

Even though there is nothing wrong with my subquery.. (that I can see) and the query executes fine when the group by is not attempted.

[2016-12-05 17:29] ajcvickers commented on #7175
@john-luke-laue You may also need to remove the parameterless constructor from MyAppContext. See #6826.

[2016-12-05 17:31] ajcvickers commented on #7116
Re-opening to discuss in triage. This is a known binary breaking change; we may consider fixing it in a patch release.

[2016-12-05 17:50] dazinator commented on #7187
Gonna update to 1.1.0 and retry it.

[2016-12-05 18:03] ajcvickers commented on #7185
@alaatm Add a constructor parameter for the service so that it is constructor-injected into the context in the normal way.

[2016-12-05 18:08] PinpointTownes commented on #7185
@ajcvickers IMHO, not being able to access the application services from EF code is really annoying, as it makes a bunch of scenarios really hard to implement. For instance, you can't create a `IModelCustomizer` that relies on a service defined in `Startup.ConfigureServices`, as EF uses its own internal service provider.

@ajcvickers was there a particular reason not to make the application servic

[2016-12-05 18:14] ajcvickers commented on #7185
@alaatm @PinpointTownes If you need to use application services as dependencies for replacements for some of EF's internal services, then you can merge the service provider's together. See this blog post for more details: https://blog.oneunicorn.com/2016/10/27/dependency-injection-in-ef-core-1-1/. Note that this does not usually require that you use the context as a service locator--it would still

[2016-12-05 18:25] PinpointTownes commented on #7185
@ajcvickers thanks for the link!

Unfortunately, replacing the "internal" service provider is not a good option for ASP.NET Core apps, as the `IServiceProvider` is not available from `ConfigureServices` (well you could call `BuildServiceProvider()` to create a provider instance just for EF, but it's really not ideal).

Concerning the new `ReplaceService` option, I suppose it doesn't resolve the re

[2016-12-05 19:04] ajcvickers commented on #7185
@PinpointTownes This is the usual way to replace the internal service provider for ASP.NET apps:
[code]

With regards to ReplaceService, EF has no knowledge of the application service provider unless it passed to EF using UseInternalServiceProvider.

[2016-12-05 19:10] rowanmiller commented on #2272
@jemiller0 at this stage EF Core has no concept of column ordering, though this issue is tracking adding that. If you use migrations, you can simply reorder the columns in the `CreateTable` call. But, as you are using `EnsureCreated` that isn't an option for you.

[2016-12-05 19:20] PinpointTownes commented on #7185
@ajcvickers yeah. But as I mentioned in my (edited) message, as a library writer, I can't assume the internal service provider has been replaced by the application service provider.

Anyway, it's good to know a few options exist (even if none is ideal).

[2016-12-05 19:22] ajcvickers commented on #7185
@PinpointTownes Can you explain what you are trying to do? Typically as a library writer you cannot assume that the application is using D.I. at all.

[2016-12-05 19:33] smitpatel commented on #7184
dupe of #6520
You need to align tooling and runtime packages versions. Preview2 tooling does not work with 1.1 runtime.

[2016-12-05 19:40] PinpointTownes commented on #7185
@ajcvickers sure, where's the big picture:

Historically, OpenIddict (an ASP.NET Core library that issues security tokens) used to depend on ASP.NET Core Identity. To make things easier for most users, it comes with a generic `OpenIddictDbContext` that inherits from `IdentityDbContext` and adds a bunch of entity sets. Since the plan is to decouple the entire library from Identity, this inheritance

[2016-12-05 20:41] KangJiYoung commented on #7184
I have tried to use Preview 4 and it gives me another error:
`dotnet ef unrecognised command` - something like this

[2016-12-05 21:00] smitpatel commented on #7184
Are you using full .net (like net451) or .net core?

[2016-12-05 21:02] KangJiYoung commented on #7184
Tried both with net451 and net452

[2016-12-05 21:45] smitpatel commented on #7184
Then you are hitting issue #7071
You can use `1.0.0-preview3-final` version of `EF.Tools.Dotnet` package and it will work correctly.

[2016-12-05 22:04] rowanmiller commented on #4269
@NPadrutt can you open a new issue for the DataAnnotation error.

cc @bricelam per the bundling of `sqlite3.dll`... are there known cases where this wouldn't get pulled in?

[2016-12-05 22:21] rowanmiller commented on #2566
@marinehero we are planning the exact feature set for 1.2 at the moment - type conversion work (which would enable spatial) is something we are considering. We'll blog as soon as plans are locked.

cc @divega  in case he has any ideas about type mapping. I don't think it is as easy as replacing the type mapper.

[2016-12-05 22:40] NPadrutt commented on #5386
I get this issue when I execute a test in a UWP Test Project. Therefore the test fails. When I run the normally it works fine.. Is there a recommendation how to use with a test?

[2016-12-05 23:01] patriksvensson opened #7189 "Migrations: Make generated code play well with StyleCop"
### Steps to reproduce
Add a new migration

### The issue
Let me start with saying "Thanks for an awesome project".

This isn't a huge problem, but for all of us that uses StyleCop, adding a new migration creates a lot of warnings (and errors for release builds where warnings-as-errors are enabled).

* Namespaces in `Migrations/MyAppDbContextModelSnapshot` are not ordered alphabetically.
* Namespa

[2016-12-05 23:18] bricelam commented on #7045
### Workaround
Create two files with the following contents.
* `%USERPROFILE%\.nuget\packages\Microsoft.EntityFrameworkCore.Tools\1.1.0-preview4-final\tools\net451\ef.exe.config`
* `%USERPROFILE%\.nuget\packages\Microsoft.EntityFrameworkCore.Tools\1.1.0-preview4-final\tools\net451\ef.x86.exe.config`
[code]

[2016-12-05 23:27] Allann commented on #6313
Any progress on this?  I am keen to use this in our application as we are ready to migrate to new environments.  I notice that ef.exe is now part of preview 3 and 4 and whilst the --help for the console app is somewhat helpful, a more detailed explanation of the options and commands would be helpful.

[2016-12-05 23:28] divega commented on #5570
Based on @MichalStrehovsky's update and data reported by users we believe this issue is resolved by the 5.3.0 version of .NET Native currently in beta.

Note that a user also reported the performance on Debug being 50% worse in the new version. If this becomes an issue for development of it turns out to affect other kinds of application we will deal with it as a new bug.

[2016-12-05 23:28] #5570 closed

[2016-12-06 00:33] brockallen commented on #7116
I was informed today that .NET Core and ASP.NET Core (and then presumably EF Core) are not following semantic versioning across the LTS and current release paths. Thus this issue could be closed as updates are not expected to binary compatible. I'd ask you to confirm that internally if what I was told matches your expectations. The worst case scenario would be that some libraries/projects from Mic

[2016-12-06 01:11] smitpatel commented on #6703
This is a necessity for the case of coalesce when it is inside a subquery because we need to copy order by on outer query but the columns for coalesce are not projected out hence generates invalid query like this.
[code]

[2016-12-06 01:11] econner20 commented on #7158
@rowanmiller - any way to determine if this is something that is scheduled to be addressed in the near future or that will take a while to get to?

[2016-12-06 01:43] smitpatel opened #7190 "Query: Translate Average to server side"
Presently Average is evaluated on client side
`The LINQ expression 'Average()' could not be translated and will be evaluated locally. `

[2016-12-06 02:06] bricelam commented on #4269
The NuGet MSBuild PackageReference stuff has a lot of bugs with transitive dependencies and native assets.

[2016-12-06 02:22] caleblloyd commented on #4030
@matthewDDennis is correct, if derived classes are being queried, the Discriminator should get an Index to prevent a Full Table Scan.  Here's an example of how to adjust the length and add an index with the Fluent API:

	modelBuilder.Entity<YourType>(entity =>
	{
		entity.Property("Discriminator")
			.HasMaxLength(63);
		entity.HasIndex("Discriminator");
	}

[2016-12-06 05:09] bricelam commented on #7189
The implicit modifiers in the `.Designer` partial classes is by design. It allows you to change the class's access in a single location--the migration file. We could probably mark those files as auto-generated since they'll rarely have to be modified after being generated.

[2016-12-06 07:15] marcels2204 commented on #7186
`using System;
using System.Collections.Generic;
using System.Diagnostics;
using TSClean.BusinessEntities.Infrastructure;
using TSClean.Interfaces.BusinessEntities;

namespace TSClean.BusinessEntities
{
    [DebuggerDisplay("Id = {Id}, TrackingState = {TrackingState}, Belegtyp = {Belegtyp}")]
    public class Vorgang : EntityBase, IAnschrift
    {
        private string _nummer;
        private Be

[2016-12-06 07:18] marcels2204 commented on #7186
When property Vorgang.Reinigungsdetails is null then DbSet.Add throws no exception. When i set the property and call DbSet.Add the ArgumentException will be thrown.

[2016-12-06 07:42] aflx commented on #5570
@divega Is it also working with VS2015?

[2016-12-06 08:55] divega commented on #5570
@aflx I will let @MichalStrehovsky respond if an improvement is planned that will work with VS2015.

[2016-12-06 08:58] divega commented on #7186
@marcels2204 can you please explain why you closed the issue? Do you now think it isn't an issue with
EF Core?

[2016-12-06 11:48] SleepyDeb commented on #4423
SQL Query Languanges sucks, binary is the way

[2016-12-06 15:30] euclid47 opened #7191 "DbContext Not Being Disposed Ef Core 1.1"
### Steps to reproduce
[code]

### The issue
The connection to the database is not being disposed after the result is being returned to the view. After the view has finished rendering, the view result is complete and nothing makes requests to the controller.

### Further technical details
EF Core version: 1.1.0
Operating system: Windows 10
Visual Studio version: 2015 Version 14.0.25422.01 Update 3

[2016-12-06 16:34] dazinator commented on #7187
Ok I can't update to version 1.1.0 because that means updating my MVC 6 solution to 1.1.0 packages, and I need to stay on LTS train (1.0.0).

So I will try updating EF to 1.0.1 instead, and giving that a go.

[2016-12-06 16:41] dazinator opened #7192 "Concern with Releases"
I just tried to update from EF7 1.0.0 to EF7 1.1.0 to see if some bugs were fixed and use some new features.
To my surprise this, in effect, meant I have to also update my MVC 6 packages to the latest 1.1.0 release.

Is that right? I think this is because there are shared dependencies, and EF7 requires later versions of those dependencies.

It seems pretty nasty that updating EF forces you to upda

[2016-12-06 16:49] dasjestyr commented on #5376
I'm getting this problem now. Using PS 5.0

[code]

[code]

[2016-12-06 17:08] Jupakabra opened #7193 "SaveChanges: Unique indexes not taken into account during topological sort"
### Steps to reproduce
[code]
### The issue
Execution order is always insert then delete, resulting in unique constraint violations.
As I remember EF6 didn't have these problems because every insert/update/delete was reordered?

### Further technical details

EF Core version: 1.1.0
Operating system: Windows 7 Ultimate

[2016-12-06 17:16] dazinator commented on #7192
Closing as this was more of a frustrated rant than an issue.  I haven't actually looked at why I was forced to update MVC whe updating EF, so I'll re-raise once I can confirm the specific.

[2016-12-06 17:19] ajcvickers commented on #7192
@dazinator It is because of the way the licensing model works rather than anything explicit about dependencies. If you feel we could do this better you may want to file an issue on https://github.com/aspnet/Home

[2016-12-06 17:21] ajcvickers commented on #7193
@Jupakabra What is the exception message and stack trace you are seeing?

[2016-12-06 17:29] #7045 closed

[2016-12-06 17:44] Jupakabra commented on #7193
Im just getting sql exception
[code]

[2016-12-06 18:19] dazinator commented on #7192
Ok thanks. I raised https://github.com/aspnet/Home/issues/1862

[2016-12-06 18:31] jemiller0 commented on #2272
Thanks. I think I found a workaround to my immediate problem regarding SqlBulkCopy. I was able to specify the column ordering using the SqlBulkCopy.ColumnMappings collection. It is definitely an annoyance not being able to specify the column ordering in the table though.

[2016-12-06 18:53] rowanmiller commented on #4269
@bricelam would explicitly listing the package with native binaries as a dependency be a potential workaround?

[2016-12-06 18:56] smitpatel commented on #7193
Our topological sort of commands does sorting for foreign keys only (which takes care of unique indexes created for FK by conventions) but we don't sort commands for explicit unique indexes yet.

[2016-12-06 19:01] smitpatel commented on #5376
`Scaffold-DbContext` is in `EF.Tools` package. `EF.Tools.DotNet` package gives you `dotnet ef` commands.

[2016-12-06 19:11] #7103 closed

[2016-12-06 20:09] smitpatel commented on #7120
This worked fine in 1.0.1 release too. Closing the issue.

[2016-12-06 20:33] snaveevans commented on #6488
@ajcvickers  Hey I'm getting the same error message.  Mine has something to do with concurrency issues although I'm not sure why... My app is stateless and basically is an api.  I set up my context with
`services.AddDbContext<AvocadoContext>(options => options.UseNpgsql(connectionString));`
and is accessed in middleware through a service
`services.AddTransient<EventMemberService>();`
everything is

[2016-12-06 20:43] MichalStrehovsky commented on #5570
@aflx The 5.3.0-beta .NET Native compiler requires VS2017. Consuming the compiler from a NuGet package requires Visual Studio features that are not present in VS2015.

[2016-12-06 21:00] aflx commented on #5570
@MichalStrehovsky Thx! Just downgraded back to 2015 because of some trouble/missing extensions ;)

Just for info: would this work with store releases, too? As fa as I understood, everything is compiled in the cloud, right?

[2016-12-06 21:06] ajcvickers commented on #6488
@snaveevans Have you verified that you are getting a new instance each time?

[2016-12-06 21:20] ravipunjwani commented on #6488
Hi @snaveevans ,

`EventMemberService eventMemberService = context.HttpContext.RequestServices.GetService<EventMemberService>()
`

The above line of code might fix your problem, as it did for me the same way.

Though I added my service via services.AddScoped compared to yours services.AddTransient.
Both should work, however I wanted to avoid creating another instance within same request. [Visit he

[2016-12-06 21:27] divega commented on #7191
@euclid47 I am not sure if what you are seeing is related to the issue described in #6581, because that involved queries with `Include()`. Anyway, the fix for that issue is part of a patch release that we haven't shipped yet. By the way, as far as I understand #6581 manifests only when MARS is disabled, so you could try enabling MARS in the connection string as a workaround.

If it isn't related t

[2016-12-06 21:36] snaveevans commented on #6488
@ajcvickers not sure how to check if it is creating a new instance or not, how can I do that?  (for future reference) It's now fixed though.
 @ravipunjwani Thanks! that code worked for me as well.  I switched them all to Scoped instead of Transient and I still get the same issue.  But once I pull the service directly from the HttpContext it runs just fine... Why is that though?  I used the "standa

[2016-12-06 21:42] ajcvickers commented on #6488
@snaveevans Typical ways are using the debugger or tagging each instance with a unique value and logging it.

[2016-12-06 22:00] ravipunjwani commented on #6488
@snaveevans The same [SO issue](http://stackoverflow.com/a/38139500/1500601) that I referred to earlier, shows exactly how to achieve this and see differences visually.

Switching transient and scoped would be same for you because you were using constructor injection, which would work great for the Configure method in Startup.cs. **The middleware is placed in the request pipeline and would need a

[2016-12-06 22:26] predalpha opened #7194 "[UWP] [SQLite] Data Annotation [Key] not working"
### Steps to reproduce
Hello,

i dont understand what am i doing wrong cause it seemed to work previously.
The data annotation [Key] doesnt seem to be recognize to perform a **Add-Migration** command.

Im following the Microsoft beginner's tutorial there : https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started

But i dont create Post class, only the Blog one.

Working ->
`public

[2016-12-06 22:35] predalpha commented on #7194
Well if this can help, ive switched to Microsoft.EntityFrameworkCore.Tools Preview3, then reupdate to Preview4 and it works ..., lost my afternoon for that and dont know why since ive reinstalled Visual Studio and clean all.

[2016-12-06 22:36] MichalStrehovsky commented on #5570
Yes, this will work for Store scenarios too, eventually. 5.3.0-beta is a preview release though and can't be used to submit apps to the Store. We're working on having something available soon.