[2021-01-29 20:53] at-soft opened #24026 "Allow using parent entity for filtering childs in include"
Hi,

I have an entity with children entities and I want to filter it by value in the parent entity. Now I get an exception _The LINQ expression could not be translated._

[code]

Now this code produces an exception

[code]

I hope to get a query like this

[code]
Thank you

[2021-01-29 23:43] #23985 closed

[2021-01-30 02:30] kisshexuxia opened #24028 "Index invalidation caused by Oracle query condition N"
Environmental Science:
ORACLE 11.2.0.4.0
.netcore2.2 EFCORE

The field type of sqbh is VARCHAR2

Create index statement
CREATE INDEX SQBHINDEX2021 ON TABLE (SQBH)

The index of the SQL query automatically generated by efcore is invalid when it has N
SELECT * FROM "TABLE" WHERE "d"."SQBH" IN (N'330000102001', N'330000102200')

The index is valid when the SQL query statement does not have N
SELECT *

[2021-01-30 10:37] pantonis commented on #10000
Any workaround for optional relationships?

[2021-01-30 11:58] JonPSmith commented on #23758
That worked, which removed a load of complex code I was using. Much better.

I tried that, but it wasn't correct. I have left that as a limitation, with a link to #19811

That is it for now. Thanks for the introduction to the `IRelationalModel`. That has a lot of useful stuff I didn't know about.

[2021-01-30 12:16] alikleitcr7 opened #24029 "Defining columns index sort"
We should be able to define the sort type of an index or primary key clustered index which could affect the query's performance.

For example:
[code]

Also, is there a way to do so with `HasIndex`?

[2021-01-30 18:31] AndrewTriesToCode opened #24030 "IMutableForeignKey.SetProperties equivalent in .NET Core 2.1?"
Hello,

I maintain a library that targets all supported releases of .NET Core, e.g. 2.1, 3.1, and 5.0

In 3.1 and 5.0 I use `IMutableForeignKey.SetProperties` in my model setup but it isn't available in 2.1. Is there a recommended way to accomplish the same in 2.1?

Thanks!

[2021-01-30 22:52] Uraharadono commented on #18777
Thanks a ton man, this is literally mine issue as well.

[2021-01-31 01:09] roji commented on #24028
@kisshexuxia this error seems to be specific to the [Oracle provider](https://www.oracle.com/database/technologies/appdev/dotnet.html), so you're going to have to raise this issue with them.

[2021-01-31 01:15] roji commented on #24011
That's what Npgsql does.

Good question...

[2021-01-31 06:00] amitshukla25 opened #24038 "Is .Net Framework supported as target framework(TF) for Web Jobs migrated to .Net Core 3.1"
As per this https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnetcore#target-framework-net-framework-support-dropped,  starting with ASP.NET Core 3.0, .NET Framework is an unsupported target framework while the support for Asp.Net Core 2.1 packages on  .Net Framework will continue.

We are planning to migrate our web jobs from .Net Core 2.1 (targeting .Net Framework) to .Net Core 3.1 (

[2021-01-31 10:45] hades200082 commented on #19765
@eegeeZA This looks like you'll be calling `GenerateOnUpdate();` in some cases?

[2021-01-31 10:53] chassq opened #24031 "Scaffold exclude #nullable disable line"
Sorry if this question has already been answered but does the dotnet `ef dbcontext scaffold cmd `have a way to exclude the "#nullable disable" line the dotnet 5 version is adding? We would like to remove it initially to see only the model files where we have other differences. Right now migrating from 3.1 to 5 all our files are changing and it causes us some noise to have to parse through while tr

[2021-01-31 11:34] chassq commented on #24031
As a follow up we were able to use the regex `\n?#nullable disable\r?\n\r` in VS to perform a find/replace in the scaffolded model files for now.

[2021-01-31 11:40] hades200082 commented on #19765
I'm having this issue too. The documentation and IntelliSense on the `ValueGeneratedOnAddOrUpdate()` method is very misleading. At the very least I would expect it to use ValueGenerators on update the same way that `ValueGeneratedOnAdd` does.

Having ValueGenerators work on update would also allow solutions built with EF Core be much more DBMS agnostic since using C# ValueGenerators means you're n

[2021-01-31 12:09] chassq opened #24032 "Different behavior between 3.1 and 5 - Multi-2-Multi Unique Index detection"
We are migrating from dotnet 3.1 to 5 and we think we see a difference in how ef 5 now looks at muti-2-multi relationship tables that carry Unique Indexs. Our scenario is as follows:

Order Table
Eval Table
OrderEval Table to specify possible multi-2-multi relations between orders and evals

In the future we could have a true many-2-many between Order and Eval but for now an Order can only have 1

[2021-01-31 12:14] ErikEJ commented on #24032
Is this database first scaffolding?

In that case, please share a sample schema for the tables involved, and I can investigate.

[2021-01-31 12:55] chassq commented on #24032
Yes database first. The tables are fairly large so I have abbreviated to get to the point. Also I added our scaffold command example. Hope this helps.

`dotnet ef dbcontext scaffold "Data Source=<server>; Initial Catalog=<db>; user id=<uid>;password=<pwd>;MultipleActiveResultSets=True;Connection Timeout=30" Microsoft.EntityFrameworkCore.SqlServer -o Model -c AppContext -f --context-dir Context  --

[2021-01-31 13:24] ErikEJ commented on #24032
I don't think the unique index does anything different from the primary key!

But it looks like some foreign key constraints are missing.

[2021-01-31 13:28] chassq commented on #24032
Sry, I updated my post above to include the FKs on OrderEval.

[2021-01-31 15:28] roji commented on #24031
At the moment, EF Core doesn't scaffold nullable code, which is why it includes `#nullable disable`; not doing so would cause the scaffolded code to get evaluated incorrectly in a project where the NRT feature is turned on. Proper support for scaffolding NRTs is tracked by #15520.

However, it's perfectly fine to edit the scaffolded files - as you've done - but be sure to understand that you also

[2021-01-31 15:32] chassq commented on #24031
ok thank you very much.

[2021-01-31 15:38] roji commented on #19765
@hades200082 there's some relevant information on this in [this page of the EF docs](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties?tabs=data-annotations#explicitly-configuring-value-generation).

tl;dr different database support very different mechanisms for value generation, both for add and for update. In some restricted cases, EF providers will indeed set up value gener

[2021-01-31 16:07] hades200082 commented on #19765
@roji There is a way for EF Core to know what I want... Me telling it what I want through the type configuration.

I've told it _when_ I want it to generate a value by using `.ValueGeneratedOnAddOrUpdate()`.

I've told it _how_ to generate that new value by using `.HasValueGenerator<UtcDateTimeGenerator>()`

So, I've told it both when I want it to generate a value for the property and exactly how

[2021-01-31 16:53] roji commented on #19765
As written above in https://github.com/dotnet/efcore/issues/19765#issuecomment-581526253, Value generators are not called for updates, only for inserts (#6999 tracks that).

You're right that our docs aren't sufficient for client-side value generation, I've opened https://github.com/dotnet/EntityFramework.Docs/issues/3057 to track that.

[2021-01-31 17:12] hades200082 commented on #19765
You are correct at the moment, but surely given the fact that we can specify that we want values generated on update, and there is already a mechanism in place that could do this, it would make sense to do it?

It also doesn't explain why setting a value in overridden SaveChanges still throws a SQL null exception.

[2021-01-31 17:26] roji commented on #19765
I'm not saying it doesn't make sense - there's an issue tracking that in the backlog. We haven't done it because there are many other high-priority work items, and that issue has hardly received any user interest/votes.

For the null exception, can you please open a new issue with a runnable code sample so we can investigate?

[2021-01-31 19:51] eegeeZA commented on #19765
For clarification, it is important to set `GeneratesTemporaryValues` to `false` if the DB does not replace the `null` with a value. @hades200082

[code]

[2021-01-31 20:53] hades200082 commented on #19765
Yep @eegeeZA.

Here's mine -

[code]

In your `GenerateOnUpdate` if I comment out your code and just do...

[code]

...  everything works, but I'd rather have it driven by the ValueGenerator.

[2021-02-01 06:02] eegeeZA commented on #19765
Now that _is_ weird. The code is doing the same kind of action, but through a more direct-hardcoded way. Try adding the inside of the `if` to the last line of the workaround. Then check in the debugger if
* `propertyEntry == entityEntry.Properties.Single(x => x.Metadata.Name == "LastModified")`
* `valueGenerator.Next(entityEntry) == DateTime.UtcNow` (approximiately)
and let it run through. Based o

[2021-02-01 06:35] ErikEJ commented on #24032
I see the same behavior, only option would be to DROP the index, change your code, or manually change the scaffolded code for now.

[2021-02-01 08:43] hades200082 commented on #19765
This doesn't work (note the last line):

[code]

I verified that the last line of code inside the loops is executed but it still throws a SQL Exception because it's trying to insert a NULL in the LastModified column.

The following code works fine, without throwing the exception, though:

[code]

[2021-02-01 09:14] chassq commented on #24032
@ErikEJ thanks for confirming and advising! Might be nice in future to have a switch for something like this if ever possible or feasible.

[2021-02-01 10:24] roji commented on #24007
Duplicate of #19793

[2021-02-01 10:26] roji commented on #24007
Although it is possible to make EF Core support different types for principal and foreign keys, that's likely quite difficult to do. On the other hand, as specified in #19793, it's possible to simply specify the different store type in the model.

@jessicah although this wouldn't unblock the scaffolding scenario, try to simply define your foreign key as an INT in your model (instead of BIGINT) and

[2021-02-01 10:39] roji commented on #24014
@robertsundstrom I was unable to reproduce your problem. See below for an attempted repro based on your code model above - I can properly see the country property on the address populated etc. Can you please produce a code sample similar to the below that shows the issue?

<details>
<summary>Attempted repro</summary>

[code]

[2021-02-01 11:09] eegeeZA commented on #19765
Something is not adding up. I would have expected the code with the extra (temporarily hard-coded) line would have worked. One of the statements leading up to the extra line might have a side effect that is interfering. The code was working at the time of writing. A suggestion is to try commenting out lines from the bottom up to find the culprit.

[2021-02-01 11:15] BenjaminAbt opened #24034 "Support of DbContext pooling with token (Azure SQL). Missing by design?"
We use Azure SQL and the Managed Identity of our App Service to connect with our EFCore 5 App.

[code]

Due to the Managed Identity we enrich the SQL connection with an Access Token based on https://mderriey.com/2020/07/17/connect-to-azure-sql-with-aad-and-managed-identities/

[code]

The following error now appears in the logs again and again:

[code]

Because of the error message and because it

[2021-02-01 14:21] ShvetsovAU opened #24037 "The property 'X' is of type 'Y' which is not supported by the current database provider. Either change the property CLR type, or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'."
Hello.

We are migrate from EntityFramework 6 to EF.Core.

We have two model as:

[code]

configuration in model creating:

[code]

We are use Microsoft.EntityFrameworkCore.SqlServer (5.0.2) provider and Microsoft.EntityFrameworkCore (5.0.2)
Then db context is created and i try use Context.Set<TEntity>(), i get error:

"System.InvalidOperationException: 'The property 'P3DBModel.User' is of type 'U

[2021-02-01 14:35] kierenj commented on #9339
For reference, my provider-independent solution was:

[code]

It'd be ideal to get some confirmation that this approach is ok.

[2021-02-01 14:40] huoyaoyuan commented on #24038
Their won't be an answer for this, because they are different components and have different versioning. The only answer is, for EF Core, Yes, but it's up to 3.1.

[2021-02-01 14:59] roji commented on #24038
@amitshukla25 as you can see in our [Supported .NET implementations page](https://docs.microsoft.com/en-us/ef/core/miscellaneous/platforms), EF Core 3.1 (and all it's dependencies) target .NET Standard 2.0, so they support .NET Framework 4.8 and will continue to do so. As a long-time support release (LTS), EF Core 3.1 goes out of support on December 3, 2022 ([see our releases page](https://docs.mi

[2021-02-01 15:09] roji commented on #24037
The HasForeignKey needs to reference the foreign key property - an Int16 property - and not the navigation property (which has type User). Either add a UserId property of type Int16 to P3DBModel and reference that, or remove the HasForeignKey altogether and EF Core will use a shadow property for the foreign key (less recommended). [See these docs for more info](https://docs.microsoft.com/en-us/ef/

[2021-02-01 15:48] ShvetsovAU commented on #24037
Thank you.

I use this docs)

If i add to User entity field
`public ICollection<P3DbModel> LastUpdatedP3dbModelUsers {get;set;}`

and add to configuration

`modelBuilder.Entity<P3DBModel>()
                .HasOne<User>(p => p.RelationsLastUpdateUser)
                .WithMany(p => p.LastUpdatedP3dbModelUsers)
                .HasForeignKey(d => d.RelationsLastUpdateUser)
                .HasConst

[2021-02-01 16:04] roji commented on #24037
@ShvetsovAU let's leave aside shadow foreign keys.

If I understand you correctly, each User has many P3DBModels. This means that P3DBModel needs to have a UserId foreign key property, of the same type as User's key. Here's a simplified model:

[code]

Note that with the above model you don't need to specify anything in OnModelCreating. Since everything is named according to the convention, the Id

[2021-02-01 16:10] jons-aura commented on #17223
If there's a point release before 6.0.0 will this make it into that or will this definitely not land before 6.0.0? I did some ugly work arounds for this once and just hit another place it looks like I'll have to do that again and would really rather not.

[2021-02-01 16:17] roji commented on #17223
@jons-aura as this is a feature, we won't be backporting this to 5.0.x; we only patch for bugs. However, this will be out in a couple weeks as 6.0.0-preview1, and our previews are quite stable (undergo the same test verification suite etc.), and we react quickly to regressions found on them - so I'd consider using that.

[2021-02-01 17:08] hades200082 commented on #19765
You're right - something isn't adding up here. I now have this and am still getting the exception:

[code]

This also fails:

[code]

And now, even the previously working examples don't work. I'm so confused.

In addition, when I put a break-point on the start of the `GenerateOnUpdate()` method and inspect the entity properties for each entity in the change tracker (only one at this point) the Las

[2021-02-01 17:16] ShvetsovAU commented on #24037
Yes, This is clear, but this is perfect models with Fully defined relationships, which is not always the case. In our case models modification maybe will require modification of existing logic and data base schema, I would not like this...

[2021-02-01 20:03] josepfiguerasaloy commented on #16386
Error solution
The error appears when programming in Microsoft.AspNetCore.MVC with NET 5.0, when trying to create a Migration and a DataBase.
By typing in the package manager console:

PM> Add-Migration InitialCreate (or Update-Database)
Build started.
Build succeeded.
The specified deps.json [C: \ VSProjects \ RazorPagesMovie \ RazorPagesMovie.deps.json] does not exist, and the migration is not c

[2021-02-01 20:40] baratgabor commented on #4851
Where I ran into this need (or let's call it a desire) is actually integration testing. Specifically when I want to do asserts on the completeness of added or modified entities. Would be great to have assurance that everything related to the given entity is loaded automatically, and the amount of data or the performance in this use case is never gonna be a concern.

[2021-02-01 20:49] roji commented on #24037
@ShvetsovAU you indeed don't have to define the model with conventions as I did above - it's perfectly fine to configure it explicitly in OnModelCreating. But you have to distinguish between the navigation property and the foreign key property - HasForeignKey needs to accept the foreign key property and not the navigation property (as you did in https://github.com/dotnet/efcore/issues/24037#issuec

[2021-02-01 21:39] cgountanis opened #24040 ".NET5 Scaffold-DbContext - Lower case naming issue."
Table [ref].[Training] get converted to object name lower case training, really strange one here, checked the PK/FK everything is upper case T. Why would it pick just this table out of 100 tables to lower case the name "training"?

Scaffold-DbContext "Server=localhost;Database=XXX;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -Context Context -ContextDir Model

[2021-02-01 21:53] roji opened #24041 "Remove IAsyncEnumerable from DbSet"
As #18124 describes, when a project references System.Linq.Async, LINQ operators directly on DbSet don't compile since they are ambiguous between IQueryable and IAsyncEnumerable. Our fix for this up to now has been to introduce DbSet.AsQueryable, which casts DbSet to IQueryable, thereby resolving the ambiguity.

This issue is particularly problematic for the new-user experience to EF Core; the com

[2021-02-01 23:08] ajcvickers commented on #23902
@stack111 Are you expecting that using **both** `WithPartitionKey` **and** a `Where` clause with different partition keys will result in a cross-partition query? Including both those partitions?

[2021-02-01 23:10] ajcvickers commented on #23982
Note from triage: this kind of customization is covered by #4038.

[2021-02-01 23:11] ajcvickers commented on #22049
See also scenario in #23897

[2021-02-01 23:14] ajcvickers commented on #23934
@AntonPervushin Given that setting the AppContext switch works with the repro code posted above, this means that there must be something different about the issue in your production code. Could you update the code you posted so that it fails in the same way as your production code when setting the AppContext switch?

Also, could you post the full stack trace of the failure you are getting with the

[2021-02-01 23:18] ajcvickers commented on #23957
@mirza-developer Are you choosing the target project in the Package Manager Console?

![image](https://user-images.githubusercontent.com/1430078/106530187-b211fb80-64a0-11eb-8cc2-a95811f8a47e.png)

[2021-02-01 23:20] ajcvickers commented on #23972
@vmoglan Can you attach a repro project that results in this behavior so that we can investigate. Also, do you know where "ef32.exe" comes from? (The path to the executable in the file system might provide a clue.)

[2021-02-01 23:22] ajcvickers commented on #24002
Notes from triage: @smitpatel to follow up on:
- Which releases of EF Core are broken
- Whether or not EF6 is broken

[2021-02-01 23:27] ajcvickers commented on #24015
Note from triage: the behavior of SQLite here will change based on the implementation of #14044. This should allow disposing of the command before disposing of the data reader. (Note that some providers don't require that the DbCommand be disposed. However, in general ADO.NET requires that DbCommand be disposed. We are not changing this, even though SQLite may join those providers that do not need

[2021-02-01 23:29] ajcvickers commented on #24022
@Flithor Seems fine.

[2021-02-01 23:30] ajcvickers commented on #24024
@Ali-YousefiTelori Can you provide an example of using a illegal character and give more details on the empty file created?

[2021-02-01 23:43] ajcvickers commented on #24006
@anranruye Thanks for reporting this. I'm putting this on the backlog for now, but this will be non-trivial to implement and so we are only likely to do so we significantly more feedback indicating that this is important. You can instead access the property through its navigation which will produce the correct results.

[2021-02-01 23:49] ajcvickers commented on #24010
@jfraschilla The purpose of the IDbContextFactory implementations shipped with EF Core are to allow the DbContextOptions to be injected from the D.I. container. Feel free to create any other kind of factory that you feel is helpful for your application.

[2021-02-02 00:39] anranruye commented on #24006
@ajcvickers Fine.

I found this just by accident and don't really need this feature.

[2021-02-02 00:47] cgountanis commented on #4038
Looking forward to an update on this item. Even if it was a simple as a JSON settings file. The ability to fix a bad name even by schema and table name something unique would be great.

[2021-02-02 03:48] jfraschilla commented on #24010
@ajcvickers, I have seen some individual recommend the use of IDesignTimeDbContextFactory which has a CreateDbContext(string [] args) method.  I would have to register this with the container instead for the built in DbContextFactory.  This will serve two purposes since I would also need it for migrations.  What are you thoughts on using this?

It would be nice if during a EF Community Standup you

[2021-02-02 04:20] ShvetsovAU commented on #24037
Ok, i modified model as:

[code]
and

[code]

and geting same error: "System.InvalidOperationException: 'The property 'P3DBModel.RelationsLastUpdateUser ' is of type 'User' which is not supported by the current database provider. Either change the property CLR type, or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.'"

if i modify

[2021-02-02 04:28] tuath commented on #9630
Anyway you can share the code you use to serialize the collection to json with $type magic ?

[2021-02-02 05:48] eegeeZA commented on #19765
You will need to start searching in other places. Verify the mapping configuration/annotations, check the value of [PropertyEntry.IsTemporary](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.changetracking.propertyentry.istemporary), check the result of [DbEntityValidationException.EntityValidationErrors](https://docs.microsoft.com/en-us/dotnet/api/system.data.entity.vali

[2021-02-02 06:00] ErikEJ commented on #4038
@cgountanis Try EF Core Power Tools!

[2021-02-02 06:02] ErikEJ commented on #24040
Feel free to share schema privately, and I will investigate.

[2021-02-02 06:27] Ali-YousefiTelori commented on #24024
@ajcvickers  you do not need an example, you can run that command in every project that will create an empty file in the migration folder

[code]

[2021-02-02 06:38] decie opened #24042 "How can I limit the size between two property when migrating"
There is one model, it contains two int type property.
I want to add data annotations on the two properties to limit the size. propertyA should larger than propertyB.
<pre>public class MyModel
    {

        [?]
        public int propertyA{ get; set; }
        //
        [Compare("MinDayRate", ErrorMessage ="zv")]
        public int propertyB{ get; set; }
    }</pre>

[2021-02-02 06:43] mirza-developer commented on #23957
@ajcvickers Target package of console is selected truly

[2021-02-02 08:43] alinaPolj opened #24043 "NET 5.0 Table-per-type (TPT): Querying for base class returns derived classes without upcast"
When querying for a base class the result is an IEnumerable which contains instances of the derived types. I only need instances of the base class, or in other words I am only interested in the properies and methods of the base class.

Is there any possibilty querying just the base-class parts of the derived classes and therefore get an IEnumerable which contains instances only of type base class?

[2021-02-02 09:46] anranruye commented on #24042
for what? seems not related to ef core.

[2021-02-02 10:04] anranruye commented on #24043
You can use projection to manually select columns which you are interested in.

[2021-02-02 10:10] pantonis commented on #23378
@ajcvickers was this fixed and published? I am using EF Core 5.0.2 and I am still getting this. Is there any workaround??

[2021-02-02 10:20] roji commented on #23378
@pantonis yes, this is supposed to be fixed in 5.0.1. Can you please post a runnable code sample for your error with 5.0.2?

[2021-02-02 10:24] alinaPolj commented on #24043
Yes, this is so far my workaround.

[code]
I was wondering if there is a more direct solution

[2021-02-02 10:44] pantonis commented on #23378
@roji for some reason I cannot reproduce it now. I will post an example if I manage to hit it again. Thanks

[2021-02-02 10:48] roji commented on #24042
You seem to be asking EF Core to create a database check constraint which enforces [Compare]. However, [Compare] checks that the two properties are *equal*, not that one is larger than the other. You can define any check constraint yourself with the exact SQL you want; for your case, put something like the following in your OnModelCreating:

[code]

Note: there does exist [EFCore.CheckConstraints]

[2021-02-02 11:17] mirza-developer commented on #23957
Also my repository is available on https://github.com/mirza-developer/SurZor

[2021-02-02 11:21] ErikEJ commented on #23957
What commands do you run? Give an example.

[2021-02-02 11:25] roji commented on #24037
The problem in your first sample is the HasIndex: just like with HasForeignKey, you cannot pass a navigation property to it:

[code]

Removing these two lines makes the model build correctly. EF Core automatically creates an index on your foreign keys, so you don't need to do this explicitly.

[2021-02-02 11:37] ShvetsovAU commented on #24037
Ok, i'll check. Thank you.

I know, but this is existing data base, i need create db context to connect to her.

[2021-02-02 11:38] pantonis commented on #12100
I am still experiencing this issue on EF Core 5.0.2. Owned properties are not marked as null whereas I define them as .IsRequired()

[code]

[2021-02-02 11:51] roji opened #24044 "Look into IPatchServiceInjectionSite and InjectServices"
IPatchServiceInjectionSite is an internal interface but has no implementation in our product codebase - possibly dead code?

Came out of nullability annotation, see https://github.com/dotnet/efcore/pull/23938#discussion_r568261025. Resolve the TODO-NULLABLE there as part of this.

[2021-02-02 12:52] roji commented on #24037
If it's an existing database, then there's no need to configure the indexes in the model at all - they're already in your database. Using HasIndex only has an effect if you're going to be creating a new database from this model.

[2021-02-02 12:59] mirza-developer commented on #23957
@ErikEJ add-migration AddSurveyFields

[2021-02-02 13:20] suadev commented on #12325
Same here +1

[2021-02-02 13:46] lawhorkl commented on #16400
as with every time I run into an issue like this with .NET its sad to see the .NET dev team's unhalting attitude toward backward compatibility.

Its admirable to want to *appear* to always push for change and the latest tech however in reality I think it usually turns more into "Allowing backward compatibility is hard, so we arent going to do it." while putting out the folks that can't upgrade for

[2021-02-02 14:10] VidSankar commented on #12911
I am having the same issue. Was there any fix or work around for this?

[2021-02-02 14:32] VidSankar opened #24045 "EF Migration evaluating the script"
IF NOT EXISTS(SELECT * FROM [__EFMigrationsHistory] WHERE [MigrationId] = N'20201009100044_InitialCreate')
BEGIN
    IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'OrganisationId') AND [object_id] = OBJECT_ID(N'[Config]'))
        SET IDENTITY_INSERT [Config] ON;
    INSERT INTO [Config] ([Id], [OrganisationId])
    VALUES (1, 1);
    IF EXISTS (SELECT * FROM [sys].[id

[2021-02-02 14:47] majorimi commented on #16882
You can try out one of these suggested [solutions](https://stackoverflow.com/questions/37562122/is-there-a-way-to-run-ef-core-rc2-tools-from-published-dll/59269689#59269689 ) on Stackoverflow.

[2021-02-02 14:57] gate21 commented on #16400
I am not sure what the fuss is about, all of us have told our clients / consumers of our API's that we can no longer support a feature.

EF Core team gave us a workaround "SqlServer2008QueryTranslationPostprocessorFactory", I have been using it with EF 3.x in Production for some time now, and it works fine.

Thanks guys for giving us a workaround.

[2021-02-02 15:02] cgountanis commented on #24040
Here is the code that will give you the same exact results. There is really nothing to it... Appreciate the help @ErikEJ @smitpatel

Create Table
`CREATE TABLE [dbo].[Training]( [ID] [int] NOT NULL PRIMARY KEY)`

Then in VS > Package Manager Console run:
`Scaffold-DbContext "Server=localhost;Database=TEST1;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -Context

[2021-02-02 15:41] ErikEJ commented on #24040
I would be surprised if that is enough to repro. What is "Training2" ?

[2021-02-02 15:48] AndresLuga opened #24046 "Foreign key field of one side of an one-to-one relationship is not updated in the database"
## Foreign key field of one side of an one-to-one relationship is not updated in the database

**Project:** https://github.com/AndresLuga/2021.02.02

Model:
[code]

Setup:
[code]

**Problem 1:** database table `Form6Wagons` column `wagon_visit_id` is null, although the C# code assigned a value (`f6.WagonVisit = wagonVisit`).

**Problem 2:** the following code leaves `form6==null`, which is incorre

[2021-02-02 16:03] cgountanis commented on #24040
All you need is one table name Training and the uppercase T disappears. Training2 was just a test proving that it works fine unless the word is just Training. Like I said this is very simple to reproduce and very strange result. With all due respect I put the time into giving you an example. What kind of response is you don't think this is enough to reproduce if you didn't try it?

[2021-02-02 16:05] cgountanis commented on #24040
Just to be clear, this is the new .NET5 EF5 new release version. Worked fine in CORE 3.

[2021-02-02 16:44] hizick commented on #19583
this issue still persists. Is this the best way to fix it?

[2021-02-02 16:44] ErikEJ commented on #24040
Thanks, I will give it a try. What locale is your OS?

[2021-02-02 16:44] rskarp opened #24047 "InMemory database provider fails to execute Automapper-generated LINQ query with Select() mapping to List<int>"
We have an API application with multiple working endpoints and integrations tests, but one set of our tests is failing with the following error (***Only the integration test fails. The application itself works properly***):

This error is produced when we add the following item to our mapping profile (see more code/explanation below):
[code]
Here is a failing test, which fails at the line ```Asser

[2021-02-02 17:06] drdamour commented on #9630
[code]

[2021-02-02 17:06] ajcvickers commented on #24030
/cc @AndriySvyryd

[2021-02-02 17:30] ajcvickers commented on #24010
@jfraschilla `IDesignTimeDbContextFactory` is designed specifically for discovery by tools at design-time. It should not be used for other purposes. However, as I said, feel free to create your own factory interface if you need it.

I would not use a factory in a WPF application. I would just create an instance of my context with `new`. I would only use the built-in `IDbContextFactory` if I were u

[2021-02-02 17:42] ajcvickers commented on #24034
/cc @roji

[2021-02-02 18:04] ErikEJ commented on #24040
It looks like a bug in the default Humanizer pluralizer, you can add `-NoPluralize` to work around it.

[2021-02-02 18:08] stack111 commented on #23902
No actually, I was expecting a single partition query if I added `.WithPartitionKey(partitionKey)` or `.Where(entity => entity.Partitionkey == partitionKey)`. For the case of adding both and the queries are not the same partitionKey value, I think that should result in an error.

I think the question is: what is the correct way to specify a single partition query?

[2021-02-02 18:31] cgountanis commented on #24040
You know that was going to be my first guess since it worked in 3.0 and the plural seem to come out with five. I was going to mention something but I didn't want to just guess. Really appreciate the time and I had no clue about that flag so that will come in very handy. Since it's a bug is there anything I can do to get it on the to-do list for fixing?

[2021-02-02 18:37] roji commented on #24040
I think we'd need to file a bug https://github.com/Humanizr/Humanizer, @ErikEJ do you want to do the honors? :)

[2021-02-02 18:38] ErikEJ commented on #24040
Sure, I will file a bug!

[2021-02-02 18:41] cgountanis commented on #24040
Thanks guys I really appreciate the help and time on this one.

[2021-02-02 18:51] roji commented on #24040
Thanks @ErikEJ - please post the link to it here in case people land here.

[2021-02-02 18:58] ErikEJ commented on #24040
Bug report created here: https://github.com/Humanizr/Humanizer/issues/1030

[2021-02-02 19:58] AndriySvyryd commented on #24030
@AndrewTriesToCode You'd have to rely on some internal code. Either using `IMutableForeignKey`:
[code]

Or `InternalForeignKeyBuilder`:
[code]

[2021-02-02 20:00] 3ldar opened #24048 "CSharpMigrationsGenerator doesn't exists in Microsoft.EntityFrameworkCore.Design 5.0.2"
## File a bug

EF Core version: 5.0.2
Database provider:  Npgsql.EntityFrameworkCore.PostgreSQL)
Target framework: .NET 5.0
Operating system: Windows 10
IDE:  Visual Studio 2019 16.8.4

I was trying to override ```CSharpMigrationsGenerator``` class to create my custom migrations generator. But couldn't find the class in the package. I tried to clean the solution, rebuild, uninstall and reinstall t

[2021-02-02 20:12] ErikEJ commented on #24048
See https://docs.microsoft.com/da-dk/ef/core/what-is-new/ef-core-3.x/breaking-changes#microsoftentityframeworkcoredesign-is-now-a-developmentdependency-package

[2021-02-02 20:28] ajcvickers commented on #24028
@kisshexuxia Note that if the Oracle provider is working correctly, then this should not happen if the property is [explicitly configured](https://docs.microsoft.com/en-us/ef/core/modeling/entity-properties?tabs=data-annotations%2Cwithout-nrt#column-data-types) with a non-Unicode column type like "VARCHAR2".

[2021-02-02 20:30] ajcvickers commented on #24037
@ShvetsovAU If you have an existing database, then [reverse-engineering it to scaffold a DbContext and model]() is the best way to get a working EF Core model configuration that maps to your database. You can then modify this model if you need to, but you will have a complete, working configuration to start from which makes things much easier.

[2021-02-02 20:31] ajcvickers commented on #24046
@maumar to investigate

[2021-02-02 20:34] ajcvickers commented on #24029
@alikleitcr7 Creating an API for ascending/descending indexes is covered by #4150.

We are curious when it makes sense to make the primary key index descending? Also, what version of EF Core and what database provider are you using?

[2021-02-02 20:36] ajcvickers commented on #24045
@VidSankar This looks like the kind of thing that was fixed for EF Core 5.0 as part of #12911. What version of EF Core are you using?

[2021-02-02 21:07] ajcvickers commented on #24043
@alinaPolj There is no way to create instances of the base type when the entity stored in the database is a derived type. Doing so would likely result in data loss when roundtripping the entity, and also would be hard to express in LINQ.

[2021-02-02 21:25] ajcvickers commented on #23957
@mirza-developer With your solution if I set the Api as the startup project and your data library as the Package Manager project, then add-migration works for me:

![image](https://user-images.githubusercontent.com/1430078/106664613-278dd280-655a-11eb-8296-d9e188c62ab8.png)

[2021-02-02 21:30] ajcvickers commented on #24024
@bricelam Confirmed empty file is created, for this example with name "20210202212632_to fix error".

Output:

[code]

[2021-02-02 21:35] ajcvickers commented on #24025
@rcollina Can you provide some more details on how you use the singleton dependency? In particular, is it a single dependency in the application's service provider, or in EF Core's internal service provider?

[2021-02-02 22:43] AntonPervushin commented on #23934
@ajcvickers I can not reproduce that with test model yet.
There might be some problems with my unit tests fixtures.
I will be look further.

[2021-02-02 22:43] kinetiq opened #24049 "Instead of just throwing, this common error hangs and causes a memory / CPU spike."
## File a bug

In Production, a very normal _String or binary data would be truncated_ error brought down our entire server, which is an Azure Service S2 with only 1.5g memory. To my surprise, I reproduced this on my local machine, and it seems that instead of just throwing an exception, it hangs. I was able to observe the iisprocess consuming a few gigs of memory before the exception finally thro

[2021-02-02 23:46] tyeth commented on #17314
This.

[2021-02-03 03:03] ShvetsovAU commented on #24037
Hello. Yes, i used this feature and Ef generate me constructions, which i wrote here

[2021-02-03 03:04] ShvetsovAU commented on #24037
Maybe in feture will need create db from this project.

[2021-02-03 03:08] igorpadovan commented on #6589
@ajcvickers  here a i have the bug https://github.com/igorpadovan/Carguero/tree/efCoreBugIReadOnlyCollection
when i try to  [AddressRepository.SaveAsync](https://github.com/igorpadovan/Carguero/blob/556ed00f9b1a0cf6730d26e2dab7c7b378428806/Carguero.Domain/Repositories/AddressRepository.cs#L28)
 the error happens

[2021-02-03 06:48] TheThingRus commented on #5845
@pgrm, @mikke49 could you please share example with others? :))
@mikke49, link doesn't work

[2021-02-03 08:07] alikleitcr7 commented on #24029
I'm using SQL Server and ef core 5.

I thought at first it will affect the query's performance if I have a full-text indexed table and I need to order by PK DESC (in case of identity column to get the latest entered first) without having to use `order by ID DESC` .

After doing a little search, I guess there is no downside to order by id desc as SQL will use Backward Scan on the index. In addition

[2021-02-03 08:25] echodreamz commented on #19396
Also having this issue with an ASP.NET / IIS app. The code works fine in a console/Windows app, but fails with this same error when running within IIS.

[2021-02-03 09:12] yegorandrosov commented on #4616
getting the same issue with EF Core 3.1.9

[2021-02-03 09:45] VidSankar commented on #24045
Current version I am using is 3.1.8. Will upgrade and check if it resolves. Thank you :)

[2021-02-03 09:48] navid-dada opened #24051 "dotnet ef migrations add throw Win32Exception"
I have a dotnet core v3.1 project with an entity framework DbContext. when I try to run:

**dotnet ef migrations add someMigrationName**

this Exception will be thrown:

[code]

My development environment is a Linux elementary os (Ubuntu 18.04.4 LTS) and rider IDE.

It may be irrelevant but when I try to debug my xunit tests it returns this warning and cannot start execution.

All of these command

[2021-02-03 10:24] KhoaND290391 opened #24052 "Migrationbuilder check if table, columns, schemas exists"
Currently we don't have any method to check if table, columns, schemas exists before run migration version.
We should have it, to ensure on manual migration will work, without delete table/colums/schema (lost data).

Provide new API or make MigrationBuilder.SQL with option that returned value then developer can check
if table, columns, schemas exists by themselves.

[2021-02-03 11:03] navid-dada opened #24053 "why dotnet ef migrations add throw Win32Exception?"
I have a dotnet core v3.1 project with an entity framework DbContext. when I try to run:

**dotnet ef migrations add someMigrationName**

this Exception will be thrown:

[code]
My development environment is a Linux elementary os (Ubuntu 18.04.4 LTS) and rider IDE.

It may be irrelevant but when I try to debug my xunit tests it returns this warning and cannot start execution.

All of these commands

[2021-02-03 11:11] roji commented on #24052
@KhoaND290391 migrations work by storing the current migration version inside your database; when you then apply migrations, EF Core automatically checks the database and applies the correct migrations - either via the tooling, or via checks in the idempotent migrations). So you should not need to check whether database objects exist or not.

If you think the above doesn't work for you, can you pl

[2021-02-03 11:19] roji commented on #24029
Duplicate of #4150

[2021-02-03 11:20] mythjuha opened #24054 "Many-to-many self reference, SQL server, Multiple cascade delete paths"
I'm struggling to get a many-to-many +- 'self' reference to work. I keep getting the infamous 'multiple cascade delete paths' error. It's also not exactly self referencing as its part of an inheritance chain, but doubt that is related. I am however not entirely sure about my 'usingEntity' mapping.

I been trying to set the cascade delete options to Restrict but doesn't seem to change a thing.

[co

[2021-02-03 11:35] KhoaND290391 commented on #24052
Thanks @roji for fast replying.
Root cause:
Database have serveral version. 1.1, 1.2, 1.3, 2.1, 2.2, 3.1, 3.2.
1.1 does not has table UserProfile,
1.2 generate table UserProfile with only UserId, Name then has migration id = "1111_addUserProfile"
1.3 update UserProfile with UserId, Name, Email. then has migration id = "1112_updateUserProfile"
----
2.1 base on 1.1 does not generate table UserProfil

[2021-02-03 11:40] KhoaND290391 commented on #24052
Thanks @roji for fast replying.
Root cause:
Database have serveral version. 1.1, 1.2, 1.3, 2.1, 2.2, 3.1, 3.2.
1.1 does not has table UserProfile,
1.2 generate table UserProfile with only UserId, Name then has migration id = "1111_addUserProfile"
1.3 update UserProfile with UserId, Name, Email. then has migration id = "1112_updateUserProfile"

----

2.1 base on 1.1 does not generate table UserProf

[2021-02-03 12:13] roji commented on #24052
It sounds like you have completely divergent database schemas which you're trying to unify back into one - AFAICT that's not a scenario that's currently supported by EF Core's migrations. The basic working principle of migrations is that you have a single, linear history.

What you can do, is do your checks on table/column existence inside the raw SQL you provider to MigrationBuilder.Sql; instead

[2021-02-03 12:33] roji commented on #24034
@BenjaminAbt for background, DbContext pooling is about pooling the DbContext instances, and should not affect the connection interceptor being invoked or anything related to the token. The interceptor gets invoked every time EF opens the SqlConnection, and that shouldn't be affected by DbContext pooling in any way.

I may be misunderstanding you, but if the error occurs *once* around every 5 minu

[2021-02-03 13:12] KhoaND290391 commented on #24052
Thank you so much for your time,
I think If cannot use MigrationBuilder, I will come up with manual create table , column by raw SQL instead.
Really appreciate your help.

[2021-02-03 14:16] BenjaminAbt commented on #24034
Hi, thank you very much for your answer.

Yes, disabling the pool fixed the problem, but the problem then came back. The intervals of the error message were still very irregular, occurred less often.

We have since fixed the problem by no longer using Managed Identity. So there can no longer be a condition where a token expires in context.

---

Unfortunately, I haven't had time to explore the pro

[2021-02-03 14:22] mythjuha commented on #24054
Fixed it by changing the 'UsingEntity' thing to use the Dictionary<String, Object> method.

[2021-02-03 15:18] zeeshanzahoor opened #24055 "EFCore retrives all columns of a table when a not mapped property is included in select query."
### Linq query
[code]

### Generated SQL

[code]

### Expected Behaviour

[code]

EF Core version: 2.21,3.1,5.0
Database provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Target framework: (e.g. .NET 5.0)
Operating system:
IDE: (e.g. Visual Studio 2019 16.3)

[2021-02-03 15:40] roji commented on #24034
Thanks for confirming and posting back!

[2021-02-03 16:03] ElmirSecerbegovic opened #24056 "OnModelCreating error (CENTOS 8, .net 5, ARM64)"
As Roji suggested we are moving our issue from npgsql/efcore the efcore.

We have API in .net frameworks that works fine with (.net core 3.1, Centos 7, Intel x64). We have migrated our API to Centos 8, arm64 and .net 5.0.102 and start to get same errors randomly.

We are experiencing random issue "Object reference not set to an instance of an object". When we restart the service (console app) it r

[2021-02-03 16:06] ajcvickers commented on #24037
@ShvetsovAU The code you originally posted really doesn't look like anything the EF Core tool would generate. Can you let us know exactly what steps you took to generate this?

[2021-02-03 16:07] roji commented on #24056
As mentioned in https://github.com/npgsql/efcore.pg/issues/1682#issuecomment-772600510, one suspicious thing here is the possible model rebuilding - the exception comes out of OnModelCreating, but randomly and after startup.

[2021-02-03 16:33] anranruye opened #24057 "Invalid sql generated when combine paging and further subquery in a subquery"
Entities:
[code]
Query:
[code]
Simplified query:
[code]
or
[code]
Expected result:
EF Core should generate valid sql or can not generate any sql.

Actual result:
[code]

Reproduce conditions:
1. Use paging in the subquery, in this case, `.OrderByDescending(w => w.Rating).Take(5)` or `.OrderByDescending(b => b.Rating).Take(10)`
2. Further subquery for a single related entity, in this case, `Editor

[2021-02-03 17:15] anranruye commented on #24057
duplicate of #23720

[2021-02-03 17:30] anranruye commented on #24055
EF core can't get the value of `m.DescriptionMl` by database query becasue this property is not mapped to a database column. To get the value of `m.DescriptionMl`, ef core must materialize the whole entity object. So the behavior of your linq query is like:
[code]
If the value of `m.DescriptionMl` is not related with other properties, you can use const value instead:
[code]
If the value of `m.Desc

[2021-02-03 18:14] fabiano-ferreira commented on #23979
Hello guys!

I didn't have the opportunity to log EF Core steps. But I just rolled back EF Core to version 5.0.1 and the problem disappeared.

In case you want to simulate the problem you can do the following:

- Create a Blazor Server application with a database access being done by EF Core 5.0.2 using SQL Server.
- On the DbContext class apply some query filter to a table
- Create a simple Blazo

[2021-02-03 18:22] AndriySvyryd opened #24058 "Remove internal entry usage in ModelValidator"
Probably the proper way to resolve this is by creating a different `IdentityMap` that's based just on property bags.

Related to https://github.com/dotnet/efcore/issues/22063

[2021-02-03 18:25] AndriySvyryd opened #24059 "Remove GetService calls"
GetService is more expensive than DI.

The usages in service registration under a different interface could be replaced by manipulation of `ServiceCollectionMap` directly

[2021-02-03 21:20] AndriySvyryd commented on #12100
@pantonis As stated in the first comment you need to configure the navigation as required:
[code]

[2021-02-03 21:46] WinInsider commented on #23435
one additional avenue to try out for those of use still experiencing slow build on 16.8 is to disable VS Extensions, ones that depend on Roslyn compiler, such as "Microsoft Code Analysis 2019" or "Visual Studio IntelliCode"

![image](https://user-images.githubusercontent.com/15760785/106813375-e6bbb980-663e-11eb-8be3-48141dfa3a23.png)

[2021-02-03 23:10] tuath commented on #9630
Thanks DrDAmour, it confirms that you are doing json within json... Because HasConversion ultimatly serializes to-from a string...

Anybody from the EF team know if we could have easily develop (as this issues is not in the tagged for the dotnet 6 timeframe as of right now) a "HasConversion" that generates json elements for the cosmosdb backend, which could resolve to a string version of that json

[2021-02-03 23:36] dstj commented on #9630
Sorry for butting in, but I'm following this because it sort of looks similar to [the issue I created in the efcore.pg repo](https://github.com/npgsql/efcore.pg/issues/1553) where I was reporting that the JSON serialization did not work properly with the `TypeHandling.All`. Could they related in some way?

Maybe not, and so not, sorry :)

[2021-02-04 00:35] mocsharp commented on #18760
Will this be fixed in the 3.1 branch? Thanks.

[2021-02-04 05:58] Akridian opened #24061 "Cross apply-like query produces invalid SQL"
### Bug
I was trying to implement the folowing query in our service:

[code]

Here is the code:

[code]

And this query produces invalid SQL:

[code]

Which failed with exception:

[code]

Join with ROW_NUMBER hint does not work with GROUP BY. Expected CROSS APPLY query. Possibly related to this [issue](https://github.com/dotnet/efcore/issues/17936).

### Workaround

As workaround I tried to use s

[2021-02-04 07:32] readonlyden commented on #16470
It's an interesting issue. `DbSet<T>` is actually a repository pattern implementation and `DbContext` is actually an implementation of the Unit Of Work pattern.

Of course, we can create our own interfaces and implementations, maybe generic ones, but isn't this a violation of the DRY and KISS rules? Because in that we would have two repository patterns, two UoW patterns.

We can think about our Uo

[2021-02-04 07:34] anranruye commented on #24061
If you:
1. have an already written sql query
2. get into trouble to map the sql query to a linq query
3. require high performance
4. don't need to switch between different database providers
Using raw sql command is always the best fallback.

For this issue, I guess the ef core team will re-design the area around `GroupBy`(ef core 5 even doesn't support 'GroupBy') and it will spend much time. So I

[2021-02-04 07:44] pantonis commented on #12100
@AndriySvyryd by adding navigation it would create a new table right? What I need is to keep RowIndex and ColumnIndex in the same table ImageExt

[2021-02-04 08:24] Akridian commented on #24061
Thank you for suggestion, @anranruye. But that is not my case.

We have too much entities in our database (1000+) and trying to avoid creating new ones without real need (such as temp tables, update queries and so on). Project startup time grows non-linearly with the growth of context entities count.

And of course it's realy hard to support raw SQL in project.

I want to believe that .EF Core 6.0

[2021-02-04 09:10] roji commented on #24061
That's inaccurate - EF Core 5 supports many GroupBy patterns, but some patterns are indeed unsupported. Improving this is part of the EF Core 6 plan (we aim to get as close to query feature parity with the non-core EF). Some more information on what's supported can be found in the [complex query operators docs](https://docs.microsoft.com/en-us/ef/core/querying/complex-query-operators#groupby).

@s

[2021-02-04 09:42] decie opened #24062 "What is wrong with `There is no entity type mapped to the table...`"
When I run `update-database`, I encounter
System.InvalidOperationException: There is no entity type mapped to the table 'tablename' used in a data operation. Either add the corresponding entity type to the model or specify the column types in the data operation.
How to fix this error?

[2021-02-04 10:11] roji commented on #24062
@decie there isn't enough information in your description above, can you please submit a runnable code sample?

[2021-02-04 10:24] roji commented on #9630
@dstj your problem doesn't seem related to this thread - I've answered in https://github.com/npgsql/efcore.pg/issues/1553#issuecomment-773200018.

[2021-02-04 10:51] anranruye commented on #24061
@Akridian  Unfortunately, ef core 6 will be released almost end of the year.

How about using another orm for those linq queries which are not supported by ef core?(However, I can't give advise for the choice of the orm tool)

[2021-02-04 11:44] ShvetsovAU commented on #24037
By isung next command: scaffold-dbcontext -provider Microsoft.EntityFrameworkCore.SqlServer -connection "Server=localhost; Database=...; Trusted_Connection=true; Integrated Security=true;” -OutputDir EntityModel -Schemas dbo -UseDatabaseNames

[2021-02-04 12:06] KamilGadawski opened #24063 "Creating a one-to-many relationship EF Core - update-database fail"
I encountered this problem when doing update-database. Where is the error being made?

[Creating a one-to-many relationship EF Core - update-database fail](https://stackoverflow.com/questions/66041955/creating-a-one-to-many-relationship-ef-core-update-database-fail)

[2021-02-04 13:16] KamilGadawski commented on #24062
I had the exact same problem. See if that helps in your case too.

TL;DR

I deleted all migrations created them again and it worked.

https://stackoverflow.com/questions/66041955/creating-a-one-to-many-relationship-ef-core-update-database-fail

[2021-02-04 13:29] Akridian commented on #24061
@anranruye don't worry.

My current workaround is not the best one but takes appropriate time/resources for our tasks for now.

If data size grows we will consider usage of stored procedure.

[2021-02-04 14:05] Dresel opened #24064 "Replacing One-To-One Entity does not delete old entity and throws unique constraint"
Apologize if this is working as expected, I couldn't find any clarification about this use case.

When replacing the dependent entity of a one-to-one relationship, `SaveChanges` throws a unique constraint exception. It works though if the dependent entity is eager loaded:

[code]

[2021-02-04 14:45] anranruye commented on #24064
I believe this is working as expected.

[2021-02-04 16:30] #24019 closed

[2021-02-04 16:33] smitpatel commented on #24061
I believe that the core issue for invalid SQL is fixed in EF Core 5.0. We stopped adding additional columns used for correlation in Select for Group by because it is invalid. Though it may run into issues of finding a way to correlated outer & inner. Since you want CROSS APPLY in your query, consider using SelectMany operator rather than just Select to be very specific and EF 5.0 may be able to ha

[2021-02-04 17:47] Dasein732 commented on #2174
What I end up doing most of the time is delete the migrations and re add them to a fresh DB(almost identical to one of the articles mentioned in this thread, seeing how multiple people have a similar approach might be useful path to pursue) and then regenerate a single 'initial migration' script. One thing that would be extremely valuable in this situation would be to have a script that would do t

[2021-02-04 18:00] vesselintodorov opened #24065 "Property value conversion not working in a derived entity configuration"
Hey guys,

I have a generic EF BaseEntityConfiguration class that is used for setting up base properties (like the primary key, properties used for soft deletion, query filters, etc.) and a derived configuration for an entity that stores System.Type and a JSON property. If I don't use the generic class and just implement the IEntityTypeConfiguration<TEntity> then the value conversion works and the

[2021-02-04 18:31] Zero3 commented on #23939
@ajcvickers happens to me too, with `builder.UseQuerySplittingBehavior(QuerySplittingBehavior.SplitQuery)` and basic queries like this:

[code]

[2021-02-04 18:50] AndriySvyryd commented on #12100
@pantonis No, to map it to a different table you'd need to call `ToTable`:

[code]

[2021-02-04 18:51] pantonis commented on #12100
Then why do we need Navigation for the same table? btw I tries to add it
and it complains for a foreign key to that navigation property

On Thu, 4 Feb 2021, 20:50 Andriy Svyryd, <notifications@github.com> wrote:

[2021-02-04 18:56] AndriySvyryd commented on #12100
and it complains for a foreign key to that navigation property

You need to call it after ```x.OwnsOne(p => p.Position,...``` to mark the navigation to the owned type as required, meaning that it should always be populated with an instance.

[2021-02-04 19:10] mhamri commented on #23926
+1

I have this issue with OData 7.5+. confirmed with v8.0 preview also.

I'm trying to update to efcore 5.0 but oData queries stopped working

[2021-02-04 19:38] Zero3 commented on #23939
Seems like this is a duplicate of https://github.com/dotnet/efcore/issues/22579.

[2021-02-04 19:39] Zero3 commented on #23803
Seems like this is a duplicate of https://github.com/dotnet/efcore/issues/22579.

[2021-02-04 19:43] schuettecarsten opened #24066 "EFCore 5.0.2 adds "1" to foreign key property and I have no idea why"
## Ask a question

I have migrated my code from EF6 to EFCore and end up in a problem that EFCore adds a "1" to a column on one entity. This entity has two foreign key relationships to the same "Customer" table. I have no idea why the "1" is added to the FkCustomerID column.

Changing `long CustomerID` to `Nullable<long> CustomerID` or anything like this did not help.

### Include your code

[code

[2021-02-04 19:50] atrauzzi opened #24067 "ValueComparer is causing a DbUpdateConcurrencyException"
### Environment Information

[code]
Target framework: NET 5.0
Operating system: Ubuntu Linux 20.11
IDE: JetBrains Rider 2020.3

---

I'm in the process of putting together a `ValueComparer`. I feel like I'm on the right track and have reached a point where I am trying to assign values and call `dbContext.SaveChangesAsync()`.

Unfortunately, upon doing so, I receive this exception:

[code]

I've tr

[2021-02-04 21:05] Zero3 commented on #12378
@ajcvickers is there any chance that the EF team could reconsider this change, or at least make it optional?

Based on the 11 upvotes above, it seems like we are at least a bunch of people that got hit by this change in a negative way, and believe the previous behaviour was better.

There is likely people who believe the opposite, of course, so maybe there is no solution that suits both sides. But

[2021-02-04 23:33] vesselintodorov commented on #24065
The issue was because of the limitations of injected types when using the default IEntityTypeConfiguration. I ended up using a custom implementation. More info here:
https://stackoverflow.com/questions/66051215/ef-core-property-value-conversion-not-working-in-a-derived-entity-configuration

[2021-02-04 23:53] kevin-a-naude commented on #21122
@mannok It may be that the assets included by the package reference to Microsoft.EntityFrameworkCore.Design excludes necessary assets to use IPluralize.

When I installed Microsoft.EntityFrameworkCore.Design into a Net5.0 library project, it was installed as follows.
[code]

Note that the default for `IncludeAssets` is `all` when it is omitted. If you have a line like the above in your project, yo

[2021-02-05 01:23] AndriySvyryd commented on #24062
Duplicate of https://github.com/dotnet/efcore/issues/23503

Please update to EF Core 5.0.3 and try again.

[2021-02-05 01:30] AndriySvyryd commented on #24064
@Dresel If you don't load the old entity then EF doesn't know that it needs to be deleted and even if it guessed it doesn't know the PK value for it to be able to delete it.

[2021-02-05 01:40] KelownaSoftware opened #24068 "Owned Entity Configuration not detecting all changes"
If you create an EntityTypeConfiguration class that is used to define the configuration of an owned entity, any changes made to owned entity is recognized by the migration change detector and the migration contains empty Up/Down methods.
New and removed fields are correctly detected.

[code]

[code]

[code]

[code]

[code]

I can successfully create this migration no problem, however if I change

[2021-02-05 01:45] AndriySvyryd commented on #24066
@schuettecarsten Can you verify the repro code? Using the posted classes produces the expected model:

[code]

[2021-02-05 01:51] AndriySvyryd commented on #24068
@KelownaSoftware Can you put a breakpoint on
[code]
to verify it actually gets called at all?

[2021-02-05 01:55] KelownaSoftware commented on #24068
How do you debug add-migration?

We know that if I add or remove anything within this file, the migration picks it up successfully, so I think we know it's being run.

[2021-02-05 01:57] AndriySvyryd commented on #24068
You can debug the application instead as this code should be called in the normal workflow.

[2021-02-05 02:05] AndriySvyryd commented on #24068
This line doesn't apply the configuration:
[code]
I guess it should be
[code]

[2021-02-05 02:12] KelownaSoftware commented on #24068
You beat me to it! I was just thinking that. However there is a compilation error
[code]
 cannot convert from 'Microsoft.EntityFrameworkCore.Metadata.Builders.OwnedNavigationBuilder<MyEntity ,ActionRecord>' to 'Microsoft.EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder<ActionRecord>'

Which means my definition for the owned entity configuration could be incorrect?

[2021-02-05 02:13] AndriySvyryd commented on #24068
Yes, you need to call configuration methods on `OwnedNavigationBuilder<MyEntity, ActionRecord>`

[2021-02-05 02:16] atrauzzi commented on #24067
Well, interestingly enough it might have been that I needed to `.Add` the entity rather than simply add it to a navigation property.

I'll close this issue, but should the save have worked without me calling `.Add` on my DB context?

[2021-02-05 07:01] pantonis commented on #12100
Thanks that did the trick. Consider updating the first comment to include this.

[2021-02-05 07:12] Dresel commented on #24064
Theoretically it knows the PK of the Principal Entity which (in case of one-to-one) is a unique FK for the dependent entity?

@AndriySvyryd Sorry to bother you again, but is this correct:

_For replace and delete (setting null or empty collection) operations on navigation properties the navigation entity has to be tracked by EF. It does not matter if one-to-one, one-to-many or many-to-many._

_If

[2021-02-05 07:30] schuettecarsten commented on #24066
Well, okay, I think there was something missing in my classes as I removed all additional properties from the code. I missed that the Header class explicitly implements an interface:

[code]

So, if an entity implements an interface *and* the implicit property is marked as `NotMapped`, it is not really ignored by EFCore. I know that this is bad code, but this is a legacy project and at the moment,

[2021-02-05 07:51] alagarit opened #24069 "EFCORE performance issue"
As we were using EFcore 1.1.1 with target framework 4.6.2 dbfirst approach later we did upgrade efcore 2.2.6 with targetframework .netcore2.1.

after the migration performance is very slow. is there any keypoints to modify in core level .Please advice.

[2021-02-05 08:25] Simonl9l commented on #9426
I have a use case for you, your cloud DB or other db has a max connection limit!

[2021-02-05 08:41] ClementeGao commented on #23976
ok thank you

[2021-02-05 08:45] anranruye commented on #24069
I have no idea. Well, note that both ef core 1.1 and ef core 2.2 are no longer supported.

[2021-02-05 08:51] mhamri commented on #23926
@ajcvickers this is my repo. I'm using sql instead of in-memory DB.

https://github.com/mhamri/ef-int32-bug

[2021-02-05 10:43] Hylaean commented on #23939
Thanks

[2021-02-05 10:59] roji commented on #24069
@alagarit as @anranruye noted, both 1.1 and 2.2 are out of support. EF Core 3.1 still supports .NET Framework and will be supported until the December 2021, so it's highly recommended to at least switch to that.

If you still run into issues with 3.1, we'd need more details on exactly what the problem us, including a runnable code sample that demonstrates the performance issue.

[2021-02-05 11:04] roji commented on #9426
I think this has to do with not overwhelming the database server by opening two many connections, especially with multiple application servers connecting to it. Since physical connections take up non-negligible resources, ensuring that the database driver never surpasses the prescribed maximum provides valuable server-side resource predictability.

Having said that, I do agree that none of that is

[2021-02-05 11:16] tr1ckyk1d opened #24070 "Comment attributes on generated code from scaffolding"
Hi,

I can see  Microsoft.EntityFrameworkCore.CommentAttribute exists. There is also IColumn.Comment property in metadata. And I was able to find code in SqlServer specific provider which takes comment value from "MS_Description" extended property.
But I can not get Comment generated on my Model classes when I run "dotnet ef dbcontext scaffold".
Any change to get it working with the latest codebas

[2021-02-05 11:20] roji commented on #24070
Duplicate of #19113

[2021-02-05 11:22] roji commented on #24070
@ErikEJ has been done this 6.0.0 - you should be able to test it with the upcoming first preview release.

[2021-02-05 11:35] ErikEJ commented on #24070
@tr1ckyk1d You can get that with EF Core Power Tools today, btw

[2021-02-05 13:17] vaclav-antosik commented on #8127
In EFCore 5 the
`        [Obsolete]
        public TypeMaterializationInfo(
            [NotNull] Type modelClrType,
            [CanBeNull] IProperty property,
            [CanBeNull] IRelationalTypeMappingSource typeMappingSource,
            int index = -1)
            : this(modelClrType, property, typeMappingSource, null, index)
        {
        }`
has been switched to obsolete.
New construc

[2021-02-05 13:19] ErikEJ commented on #24070
@roji Did you mean to close this?

[2021-02-05 14:06] tr1ckyk1d commented on #24070
Very promising, thanks everyone.

[2021-02-05 15:19] JonPSmith commented on #22701
One of my previous clients has just updated to EF Core 5 and this bug has hit them.  They can get around it by using `Count()` rather than `Count`, but it is a (small) breaking change. I have confirmed this on the code I am using for my book.

The client's code uses DDD-styled entity classes, with collections held in a backing fields and a  `IReadOnlyCollection<TEntity>` property to read.

I haven

[2021-02-05 15:40] tr1ckyk1d commented on #24070
Not a duplicate though. We need

[Comment("My Description from db.")]

attributes on generated Classes and Properties, not how it's stated in #19113

/// <summary>
///    My Description from db.
/// </summary>

[2021-02-05 15:43] tr1ckyk1d commented on #24070
Can we get attribute generated, not comment?

[2021-02-05 15:49] ErikEJ commented on #24070
Ah! Good feature suggestion, please post that on the EF Core Power Tools repo, and I will implement.

[2021-02-05 15:51] ErikEJ commented on #24070
@roji Did I miss something in the EF Core 6 implementation perhaps?

[2021-02-05 16:22] jnm2 commented on #12482
@ajcvickers Would you accept a pull request with the one-line fix proposed by @yesmey?

[2021-02-05 16:40] nehio opened #24071 "Behaviour change in FirstOrDefault or Entity creation from EF2.1 to EF3.x or 5.0 ?"
Hello,

I am currently migrating our whole project from NetCore2.1 with EF2.1 to 5.0. And have come across an issue with the following code

A controller is tryingto save a BOOKING entity , first we create one

[code]

In  EF2.1 the booking.Id after creation was equal to Int32.Min value (-2147...) now it is 0, wich if i understand it correctly still means it's an ongoing creation.

Now further alo

[2021-02-05 18:06] AndriySvyryd commented on #24008
@bricelam

[2021-02-05 18:07] AndriySvyryd commented on #24026
@maumar

[2021-02-05 18:21] Krithika03 commented on #20657
I am giving ternary operator for dropdown and I am getting the same error.
`ParentNameOptions = _context.Person.Select(a => new SelectListItem
                {
                    Value=a.BirthDate.HasValue? a.BirthDate + "-" + a.IndividualNum:Convert.ToString(a.IndividualNum),
                    Text = a.FirstName + " " + a.MiddleName + " " + a.LastName,
                }).ToList();`

May I kno

[2021-02-05 18:26] AndriySvyryd commented on #24051
Duplicate of https://github.com/dotnet/efcore/issues/24053

[2021-02-05 18:36] AndriySvyryd commented on #24063
Feel free to comment if you are still having this issue.

[2021-02-05 18:42] AndriySvyryd commented on #24070
Customizations like these will be possible by changing the templates: https://github.com/dotnet/efcore/issues/4038

[2021-02-05 18:45] AndriySvyryd commented on #24071
This is an intentional breaking change https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.x/breaking-changes#tkv

[2021-02-05 20:02] Dresel commented on #24064
What about modifying LazyLoadingInterceptor to also load on set? I wouldn't care about additional unnecessary database roundtrips if I do not have to think of entity states? Or would this lead to additional complications I didn't think of?

[2021-02-05 20:12] AndriySvyryd commented on #12482
@jnm2 I'm not sure it will be a one-line fix, but if you manage to do it and include tests then we'll consider it.

[2021-02-05 20:22] AndriySvyryd commented on #24064
EF can only delete by using PK values at this point.

Yes.

You can customize the lazy loading behavior by not using proxies: https://docs.microsoft.com/en-us/ef/core/querying/related-data/lazy#lazy-loading-without-proxies

[2021-02-05 20:23] AndriySvyryd commented on #23994
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.

Alternatively, you can provide a project/solution that we can run.

BTW we're no

[2021-02-05 20:26] AndriySvyryd commented on #24053
@navid-dada Can you provide a small repro project and information on where it's located on your machine?

Do you experience the same issue with EF Core 5? (you'd need to reinstall the ef global tool)

[2021-02-05 20:29] AndriySvyryd commented on #24056
We'd need a repro project to be able to investigate this, I understand that it's hard to create one as the issue only happens after some time, but we can't proceed otherwise.

[2021-02-05 20:32] AndriySvyryd commented on #23979
@fabiano-ferreira Please attach the project you created following the steps above to make sure we are looking at the same code.

[2021-02-05 20:33] AndriySvyryd commented on #24037
@ShvetsovAU Please attach a small SQL script that creates a database that can be used to reproduce this issue

[2021-02-05 20:59] AndriySvyryd commented on #24066
@schuettecarsten EF Core considers all properties with the same name to be the same, so `[NotMapped]` on `IHeaderData.CustomerID` removes all properties named `CustomerID`. You'd need to configure it explicitly:

[code]

If you have other cases it might be necessary to also configure the relationship explicitly depending on the name of the ignored property.

[2021-02-05 21:09] AndriySvyryd commented on #24021
@GureevLeonid The extra FK is for the relationship you didn't fully configure:
[code]

[2021-02-05 23:35] AndrewTriesToCode commented on #24030
Thanks @AndriySvyryd

With EFCore 2.1 this still doesn't seem to work. The former approach doesn't work because `DelayConverntions()` doesn't seem to be in EFCore 2.1 and the latter does add he new FK but it leaves the old one. I'm thinking that this might not be worth the trouble in 2.1.

[2021-02-06 00:45] baratgabor commented on #21459
I think, with respect to query filter ignoring, #17347 would still leave an arguably important use case unsolved. That is, when we want to ignore specific query filters in a manner that is transparent to the consumers of the DbContext.

These filters are often used to move filtering presets from repositories into the DbContext, e.g. the often cited soft-deletion. In this scenario the expectation i

[2021-02-06 02:49] kekoke opened #24072 "Null error when ID property is null"
## The following runtime error occurs when certain properties are null.

[code]
When I define the entity as follows,  ID is not a primary key and can be null. I will get above error.

[code]

When I modify the entity as follows,  it is work.

[code]
This is a strange question -^-^.

### version information
EF Core version: 3.1.6
Database provider:  Microsoft.EntityFrameworkCore.SqlServer
Target fr

[2021-02-06 02:54] anranruye commented on #24072
If `ID` property is not primary key, then which one is the primary key property? Is the pk property a shadow property?

[2021-02-06 03:10] kekoke commented on #24072
This entity has no primary key, this is an issue left over from history. I got the error when I execute the query commond.
Maybe adding a primary key will solve this problem?  I am not sure. Thank you for your reply. -^-^

[2021-02-06 08:02] ErikEJ commented on #24070
@tr1ckyk1d Generation of Comment attribute (for EF Cofre 5) added to latest daily build of EF Core Power Tools

[2021-02-06 08:22] anranruye commented on #24072
You can use `[Keyless]` attribute(ef core 5.0 only) or `.HasNoKey()` fluent api to tell ef core the entity has no primary key.
See https://docs.microsoft.com/zh-cn/ef/core/modeling/keyless-entity-types?tabs=data-annotations
[code]

[2021-02-06 09:41] schuettecarsten commented on #24066
Thank you for the explanation.

Is there any solution to "override" or extend the code that reads the properties from the classes? I can add custom Conventions or nearly anything, so how to do this for properties analysis?

[2021-02-06 11:36] ErikEJ opened #24073 "RevEng: Generate [Comment] attribute"
The new comment attribute is not supported by reverse engineeering code generation, but it should be.

I propose that [Comment] attributes are generated in EF Core 6.

Happy to do a PR!

[2021-02-06 11:37] ErikEJ commented on #24073
Will also fix https://github.com/dotnet/efcore/issues/24070

[2021-02-06 12:43] TanvirArjel opened #24074 "IDbContextTransaction vs DbTransaction"
I have found that I can initiate a transaction in the following two ways.

[code]
It seems both `dbContextTransaction` and `dbTransaction` contains a lot of similar methods between them. I am confused about the actual difference between them and which one should I use.

Could you please tell me what are the differences between them? and which one should I use?

Thank you.

EF Core version:
Databas

[2021-02-06 12:53] GureevLeonid commented on #24021
@AndriySvyryd Thanks a lot.
Added this configuration and it works as expected now 🎉
[code]

[2021-02-06 15:04] anranruye opened #24075 "Sql server: Wrong translation for default(DateTime)/default(Guid)/default(TimeSpan) in linq projection"
How to reproduce:
[code]

Excepted result:
One of:
1. Can not translate linq query to sql command
2. Parameterize `default(DateTime)` like other variables
3. Client evaluate `default(DateTime)`
4. Convert returned string value to `DateTime` type

Actual result:
[code]

Generated sql:
[code]

EF Core version: 5.0.2
Database provider:  Microsoft.EntityFrameworkCore.SqlServer
Target framework: .NET 5

[2021-02-06 15:11] roji commented on #24074
Beginning a transaction on Database (the first option) is an EF Core API which will internally call the corresponding lower-level ADO.NET DbConnection API (the second option). It's recommended to use the first option, that way EF Core is properly aware that a transaction has been started - that can be important depending on exactly how you use the DbContext.

[2021-02-06 15:29] TanvirArjel commented on #24074
@roji Thank you so much for your response. I have another question. `await _dbContext.Database.UseTransactionAsync(DbTransaction)` expect an instance of `DbTransaction`. Then what is the use case of  `await _dbContext.Database.UseTransactionAsync(DbTransaction)` in EF Core.

[2021-02-06 16:26] roji commented on #24074
This is mainly for when you're sharing the same DbConnection and DbTransaction instances across multiple DbContexts. Take a look at our [documentation for this](https://docs.microsoft.com/en-us/ef/core/saving/transactions#share-connection-and-transaction), which contains more details.

[2021-02-06 16:27] joaodvargas opened #24076 "IsModified not set to `true` when removing items from a collection"
## File a bug
The `IsModified` property on a `CollectionEntry` does not correctly reflect it has been modified if the action is only to remove an entry from the collection.

The intent seems to be for that field to reflect that, given in the source code there [are code checks for entries with a `State` of `Deleted`](https://github.com/dotnet/efcore/blob/main/src/EFCore/ChangeTracking/CollectionEnt

[2021-02-06 16:27] TanvirArjel commented on #24074
Thank you so much.

[2021-02-06 21:09] dpeter99 commented on #15828
I would like to say that this feature would be really usefull for me as well.
I'm making a app where the user can load in extra mdules/plugins those would definie their own contexts but would depend on the main model data like users and user groups.

Currently it is possible to ignore tables when migrating using this example but I have to specify each table that is discovered manually.
[code]
A mo

[2021-02-06 21:37] BahKoo opened #24077 "Using OwnsOne in a TPH configuration produces invalid SQL"
**EF Core version:** 3.1.11
**Database provider:** Microsoft.EntityFrameworkCore.SqlServer
**Target framework:** .NET 4.8
**Operating system:** Windows 10 Pro (20H2)
**IDE:** Visual Studio 2019 16.8.3

I have uploaded an example project reproducing the problem here: [efcore-ownsone-issue.zip](https://github.com/dotnet/efcore/files/5937721/efcore-ownsone-issue.zip)

Here is my configuration:
[code]

[2021-02-06 23:42] jonathan-bender opened #24078 "Calling FromSqlRaw with UNION query returns duplicate results"
**EF Core version:** 5.0.2
**Database providers:** Microsoft.EntityFrameworkCore.SqlServer, Microsoft.EntityFrameworkCore.Sqlite
**Target framework:** .NET Core 3.1
**Operating system:** Windows 10
**IDE:** VS 2019 16.4.5

I need to use UNION ALL to normalize some fields on a table but using the FromSqlRaw returns duplicate results.

#### Example in Sqlite

Sql query
[code]

Model
[code]
Execution

[2021-02-07 03:30] zredb opened #24082 "System.Net.Internals.SocketExceptionFactory+ExtendedSocketException (0xFFFFFFFF): Bad value for ai_flags"
### Describe the bug
This exception is suddenly occured on Asp.netcore version 3.1, the details execption is as below:

[code]

### To Reproduce
I don't know how to reproduce it, after I restart the app, the exeption is disappear.

### Exceptions (if any)

### Further technical details
- ASP.NET Core version 3.1
- Include the output of `dotnet --info`
- .NET SDK (reflecting any global.json):
 Vers

[2021-02-07 07:16] kekoke commented on #24072
Thank you so much, this problem has been solved.

[2021-02-07 10:25] navid-dada commented on #24053
[ConsoleApp1.zip](https://github.com/dotnet/efcore/files/5938702/ConsoleApp1.zip)
Hi dear @AndriySvyryd
I attached my sample code to this message. I am currently using ef core 5 and my ef tools are installed globally.
It would be great favor If you direct me to the solution.

[2021-02-07 12:17] jmalczak opened #24079 "InvalidOperationException when projection is used with distinct and where condition using related table"
After migration from EF Core 3 to 5 following code throws InvalidOperationException.

### Repro source code
[code]

### Stack trace

[code]

### SQL Generated by EF Core 3.1.11

[code]

### Provider and version information

EF Core version: 5.0.2
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework:  .NET 5.0

[2021-02-07 23:49] fagnercarvalho commented on #24013
Since I did this I can work on this one if that is okay.

[2021-02-07 23:57] ajcvickers commented on #24013
@fagnercarvalho Thanks, that would be great!

[2021-02-08 02:34] william19941994 opened #24080 "Can I add a typeconvertor attribute to the property of the model, instead of add HasConversion in OnModelCreating"
Can I add a typeconvertor attribute to the property of the model, instead of add HasConversion in OnModelCreating?

I  have an ERP interface which has 4000 tables to crate models.
Lots of the conversions are same. fixed length string trim, Yes/No conversion, integer and enum.

[code]

having an attribte [EnumToNumberConverter] on Mount  property is looks pretty than

[code]

[2021-02-08 02:53] wangengzheng opened #24081 "Unable to cast object of type 'System.Int64' to type 'System.Int32'."
## File a bug

[Similar, but not all](https://github.com/dotnet/efcore/issues/7558)

### Include your code

#### in my linqpad
[code]

### Include stack traces

[code]

### Include verbose output

Please include `--verbose` output when filing bugs about the `dotnet ef` or Package Manager Console tools.

Use triple-tick fences for tool output. For example:

[code]

### Include provider and version

[2021-02-08 02:57] wangengzheng commented on #24081
![image](https://user-images.githubusercontent.com/12171338/107170854-37e8e780-6976-11eb-974d-26be1227b614.png)
mysql general log

[2021-02-08 04:39] Akridian commented on #24061
@smitpatel I use such syntax because it is sql-like and provided as example in [doc](https://docs.microsoft.com/en-us/ef/core/querying/complex-query-operators#collection-selector-references-outer-in-a-non-where-case).
I tried SelectMany solution from [this comment](https://github.com/dotnet/efcore/issues/17936#issuecomment-566201984) but it failed to compile. I think it requires EF Core 5.0.
Here

[2021-02-08 05:52] maumar commented on #24026
nav expansion produces incorrect tree:

[code]

we should either throw when encountering variable from outer scope (x), or perhaps we can remap it to p to make the query work.

[2021-02-08 08:57] Dresel commented on #24064
Thanks for clarification. Very much appreciated.

We ended up by copying the implementation of `IProxyFactory` and replacing the used `IInterceptor` by a custom one that also checks for the setter. In that way we can avoid adding LazyLoader to every navigation property.

[2021-02-08 09:52] SzabKel opened #24083 "How to add migrations for Entity Framework in a Xamarin Forms project?"
I am reacting to [this](https://stackoverflow.com/a/60657099/840315).

I am trying to get the EF migrations to work in a Xamarin Forms project. I have a DbContext for a SQLite database:
[code]

I installed the `Microsoft.EntityFrameworkCore.Tools` nuget for the standard library, but it did not work. Starting from [this][1], I added a [Dummy][2] .NET Core project.

 1. I referenced the .NET Standar

[2021-02-08 11:35] cmorgan091 commented on #14075
Still a problem in EF Core v3.1 over 2 years after being reported.

I guess the only option is to manually change the migration to a DropColumn followed by AddColumn

[2021-02-08 12:37] SzabKel commented on #24083
Thanks to this [answer](https://stackoverflow.com/a/66100100/840315), I could implement a different connection string when I am generating migrations.

[code]
    public class DesignTimeFactory : IDesignTimeDbContextFactory<TestDbContext>
    {
        /// <summary>
        ///  Used to generate migrations
        /// </summary>
        /// <param name="args"></param>
        /// <returns></return

[2021-02-08 12:49] Zero3 opened #24084 "Unknown database enum values are read as the default enum value when using .HasConversion<string>"
When querying an entity with an enum field that has been mapped with `.HasConversion<string>()` (or manually with an `EnumToStringConverter<>`), Entity Framework reads unknown values in the database as the default value of the enum. This fallback behaviour is undesirable, as it can cause silent data corruption in memory.

## Example

### Enum in code

[code]

### Data in database

[code]

## Expec

[2021-02-08 14:12] roji commented on #24082
This looks like a low-level networking issue that's outside of Npgsql's scope... I doubt anything can be done here without some sort of repro (even if it isn't 100% reliable). To start with, I'd try running on the latest 5.0 runtime instead of 3.1.

In any case, this issue doesn't belong in EF Core.

[2021-02-08 14:21] roji commented on #24080
@william19941994 you may be looking for #10784, which would allow specifying once that all properties with a given type should have a value converter.

In the meantime, you can loop over your model's properties in OnModelCreating and configure a value converter yourself:

[code]

You can even check if the property is annotated with an arbitrary attribute, and configure the property accordingly.

I

[2021-02-08 15:42] roji commented on #24049
Hi @kinetiq, sorry it took a while to get back to you.

As you've said you can see this happening locally, I've tried to reproduce this against a local SQL Server and have not succeeded - please see my runnable code sample below.

Does this issue only occur when the server is SQL Azure, or are you able to see it happening also with a non-Azure SQL Server? Does my code sample below trigger it?

<de

[2021-02-08 16:38] smitpatel commented on #23926
@mhamri - Your issue is not same as this. Stacktrace is different. Please file a new issue.

[2021-02-08 16:43] codemonkeh-dave opened #24087 "Question on Cosmos DB database provider owned object querying null"
## Question

I am trying to query against owned objects to see if they are null but I get an exception and can't find a work-around to achieving the query (see sample code).

I know I can add `.AsEnumerable()` but this will make it a client-side query which I don' t want as it will surely bring all records from the database into process to run the query/filter.

If this is clearly documented somew

[2021-02-08 16:45] ajcvickers commented on #23902
@stack111 Either way is correct.

[2021-02-08 16:46] ajcvickers commented on #23963
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-08 16:56] ajcvickers commented on #24081
@wangengzheng Can you please post the full stack trace of the exception thrown?

[2021-02-08 17:14] roji commented on #24067
@atrauzzi reading the above, I'm not sure exactly which code fails with the exception you've posted - you seem to indicate that the unit tests in your ModelBuilderExtensionsTests.cs are passing.

Could you please post a full, runnable code sample, including the value comparer and its full implementation?

[2021-02-08 17:19] ajcvickers commented on #12378
@Zero3 As far as I am aware it is still possible to use temporary values as before, just with a bit more work. For example, you are free to set the temporary value into the entity if you want it there, but EF Core doesn't put it there by default. See https://docs.microsoft.com/en-us/ef/core/change-tracking/miscellaneous#temporary-values for up-to-date docs on temporary values.

[2021-02-08 17:34] AndriySvyryd commented on #24066
@schuettecarsten Currently there's no supported way of doing it. We'll add support in 6.0: #214

[2021-02-08 17:41] ajcvickers commented on #24079
@maumar to find dupe.

[2021-02-08 18:13] ajcvickers commented on #24046
@AndresLuga The navigation properties `Form6Wagon` and `WagonVisit` are used to map a relationship with the foreign key on one side of the relationship:

[code]

And then again for a different relationship with a different foreign key:

[code]

This causes the second configuration replaces the first configuration model.

Navigation properties cannot be used for multiple different relationships. Se

[2021-02-08 18:15] ajcvickers commented on #24070
Note from triage: this will be possible once #4038 is implemented.

[2021-02-08 18:16] ajcvickers commented on #24073
@ErikEJ Do you think that people want both doc comments and CommentAttributes by default?

[2021-02-08 18:17] atrauzzi commented on #24067
@roji - I don't know how practical it is to pull everything out like that. My unit tests are only to show that my implementation of a `ValueComparer` is performing as expected and that they aren't say for example... Getting the identity wrong.

The code that is failing is effectively as follows:

[code]

However doing this succeeds:

[code]

---

Before dragging it out too much, is it okay if we c

[2021-02-08 18:21] ajcvickers commented on #24078
@jonathan-bender Tracking queries require each entity to have a unique primary key value, since the primary key is the identity under which the entity is tracked. You can use [keyless entity types](https://docs.microsoft.com/en-us/ef/core/modeling/keyless-entity-types?tabs=data-annotations) for this if you don't need to track the results.

[2021-02-08 18:22] lauxjpn opened #24088 "Officially release the source code for the ReportViewer (RDLC)"
There are many projects out there, that contain locally (client-side) rendered RDLC reports. Many of these projects contain such a number of reports, that it is unfeasible to migrate them just to be able to switch from .NET Framework to .NET 5.

This is especially an issue for Entity Framework based applications, that naturally use reporting on their client-side object model, instead of directly o

[2021-02-08 18:23] ErikEJ commented on #24073
Not sure, actually. Did Comment attribute exist before your implementation? OData reference seems to indicate this, but I am unable to find evidence.

[2021-02-08 18:36] ajcvickers commented on #24077
@AndriySvyryd @smitpatel Verified that this fails on 3.1, but passes on 5.0.2. Do we have a dupe?

5.0.2 query:

sql
[code]

3.1 model:

[code]

5.0 model:

[code]

[2021-02-08 18:45] ajcvickers commented on #24076
@joaodvargas In retrospect, I wish we had not implemented `IsModified` on navigation properties because its meaning is ambiguous when it is referring to a collection of other entities. What we settled on is that the collection is considered modified if any of the entities it contains will result in a database update on SaveChanges. This means that entities removed from the collection do not impact

[2021-02-08 18:54] AndriySvyryd commented on #24077
Duplicate of https://github.com/dotnet/efcore/issues/21601

[2021-02-08 19:03] ajcvickers commented on #24025
@rcollina `OnModelCreating` is only called once when building the model. So if you are using the pattern from the blog, then it will capture the current service instance present when `OnModelCreating` is called and then use it forever. This doesn't quite align with what you are seeing and I am unable to connect the dots from the snippets posted. Please attach a small, _runnable_ project or post a

[2021-02-08 20:25] BahKoo commented on #24077
@ajcvickers Does this mean the bug exists but there is no path forward to getting this working with the .NET Framework?

[2021-02-08 21:33] cubikca opened #24091 "dotnet-ef doesn't work with dotnet-sdk snap"
1. Install dotnet-ef: `dotnet tool install -g dotnet-ef`
2. Run dotnet-ef `dotnet-ef`

Error is thrown complaining about missing ICU library. libicu66 is installed on Ubuntu 20.04.

Fix:
1. Remove snap `snap remove dotnet-sdk`
2. Install from Microsoft repo `apt install dotnet-sdk-5.0`
3. Reinstall dotnet-ef `dotnet tool uninstall -g dotnet-ef && dotnet tool install -g dotnet-ef`

Now works as exp

[2021-02-09 04:48] mhamri opened #24092 "InvalidOperationException when projection is used with OData"
here is the repo: https://github.com/mhamri/ef-int32-bug

this setup was working on ef 3.x but now I'm trying to update to ef 5 but had no luck bcs of this bug

I also provide the setting to swap between the ef3 and ef5 to test that the same code was working on ef3.

related bugs:
#24047
#24079

### code

I am writing the copy from repo here, but better check it there

**please note these codes ar

[2021-02-09 08:17] santosh-kh commented on #24079
@ajcvickers : Any work around for this issue?

[2021-02-09 08:39] #23921 closed

[2021-02-09 09:11] Pasukaru commented on #12325
Also running into this issue. My case is schema-based multi tenancy.
I would like to setup some general data in a meta schema, then create the tenant schema and run migrations to create tables, etc.

Are there any workarounds to run migrations in an existing transaction?

[2021-02-09 09:35] joaodvargas commented on #24076
@ajcvickers thanks for the reply. I'd say this is also a problem of consistency, not just ambiguity - and it affects both `Collection` and `Reference` navigations. It's also very counterintuitive as manipulating the navigation properties directly doesn't flag them as modified, but doing so indirectly by removing referenced entities via context does. I added a few very simple test scenarios on my f

[2021-02-09 09:36] jmalczak commented on #24079
@santosh-kh you can do client side Distinct, just do ToList before Distinct. This way you will pull more data from the server but you avoid exception.

[2021-02-09 10:09] santosh-kh commented on #24079
Yeah, I can do that as temporary for moving with upgrade. But with the data it's fetching this is not suitable for me.

[2021-02-09 10:28] pantonis commented on #14145
@AndriySvyryd @ajcvickers any update on this. I run into a similar case and I cannot define a many-to-many between two tables when the join table is a ValueObject (ownsmany)

[2021-02-09 13:06] Plasma opened #24093 "Post-load of entity filtering/auth (after sql returns)"
Hi,

I realise global query filters exist, but that’s difficult to use when validating complex business rules, because they can’t become a valid SQL query, so this won’t work for me.

Instead, I’d like to have a filter step I can hook into after the entity was hydrated from the query but before it’s returned to the caller.

At that point I could run complex business logic to perform validations an

[2021-02-09 15:38] cap7ainjack commented on #23891
Actually [EnableQuery(EnsureStableOrdering = false)] solves that problem, but with this option when I have a lot queries on same endpoint, more than 100 i get this exception:

"System.InvalidOperationException","Message":"A second operation was started on this context before a previous operation completed."

I spend a lot of time to figure it out, but when i remove the mentioned option above this

[2021-02-09 16:24] AndroidEFCoreLover opened #24094 "EFCore on Android. Require 'libmod_spatialite' instead of 'mod_spatialite'."
Hi,

I cannot use EF Core on Android device, cause I cannot deploy 'mod_spatialite' with APK.
I see Android only allows me to deploy *.so files with the name starting with "lib".

And, in: https://github.com/dotnet/efcore/blob/b8483772f298f5ada8b2b5253a9904c93c34919f/src/EFCore.Sqlite.Core/Infrastructure/SpatialiteLoader.cs#L100

we specifically require the name, without the 'lib'.

Is it possible

[2021-02-09 17:33] viniciusverasdossantos commented on #23522
I had the same issue

[2021-02-09 17:42] AndroidEFCoreLover commented on #24094
Someone describes the restrictions in more detail: https://developercommunity.visualstudio.com/content/problem/841599/androidnativelibrary-so-files-will-not-deploy-to-a.html

[2021-02-09 18:39] AndriySvyryd commented on #14145
@pantonis We aren't planning to support this as it doesn't match owned entities semantics (they can only have one owner).

[2021-02-09 18:45] xKloc commented on #14145
@pantonis, as a work around, I created a view for one of my value objects linking back to the same table. Any inserts have to come from the owner, but reads can come from both.

[2021-02-09 20:00] sherrera-hx commented on #9741
Hi all, i am facing the same issue with entity framework 3.0

on my startup i have

service.AddDbContextPool<mycontext>(options => options.usesqlserver("myconnection"));

then when i do 2 queryes in paralel i face the error.

[2021-02-10 00:05] JoeWarwick commented on #22541
I was getting this similarly.
I had to just clean the solution, rebuild and then the right error message appeared:
'Install the latest EF tools'
So
dotnet tool update --global dotnet-ef --version 5.0.3

and it updated them from 5.0.2 to 5.0.3 which fixed that confusing error.

[2021-02-10 07:07] EmirhanAksoy opened #24104 "Auto increment for non-key properties"
## Migration Error : Only one column per table can be configured as 'Identity'.

I have _Id_ and _No_ properties in my entity. _Id_ is primary key but _No_ isn't. I need auto-increment for _No_ too.

I check this [document](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties?tabs=data-annotations#explicitly-configuring-value-generation) . It says two way of doing this Data Annot

[2021-02-10 08:41] roji commented on #24104
@EmirhanAksoy EF Core is still configuring your Id column as an identity column by convention, since you've done nothing to change that. You need to tell EF Core not to do that, [see these docs](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties?tabs=data-annotations#no-value-generation). At that point it's up to you to always explicitly provide a unique Id value, or use some o

[2021-02-10 08:43] roji commented on #9741
@sherrera-hx EF Core does not support multiple parallel queries on the same DbContext instance - regardless of whether DbContext pooling is enabled or not. If you need to do two parallel queries, you need two DbContext instances.

If you believe you're running into a different issue, please open a new issue and include a code sample, along with the full exception details.

BTW EF Core 3.0 is out o

[2021-02-10 08:54] cap7ainjack commented on #23891
I have tried with Microsoft.AspNetCore.OData 8.0.0-preview3 and the issue is still here.  Still getting the

"System.InvalidOperationException","Message":"A second operation was started on this context before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext."

exception.

Should this be moved to new Issue or is OK to be h

[2021-02-10 09:28] pantonis commented on #3170
@ajcvickers @smitpatel  Does this mean that this is gonna be in EF Core 6? Btw what is the workaround until TPC is ready? I am migrating a project from EF6 and my client used TPC. Is there any workaround example?

[2021-02-10 10:07] HakamFostok commented on #24104
So adding `[DatabaseGenerated(DatabaseGeneratedOption.None)]` on the top of the `No` property will solve the exception, and we still get the AutoIncrement for the `No` property, I am correct Sir?

[2021-02-10 10:44] d00ML0rDz commented on #14104
Just wondering if there is any update to this or any idea when we may see this implemented in EF Core?

[2021-02-10 11:23] blacksmith01 commented on #21106
Same error to me.
OnConfiguring(DbContextOptionsBuilder) working well.
But I don't like this way of migrating.

[2021-02-10 11:52] ElmirSecerbegovic commented on #24056
Sorry but we have a NDA for project files. However, same issue is generated where  service is restarted (CENTOS systemctl restart)

Exception has been thrown by the target of an invocation. at System.RuntimeMethodHandle.InvokeMethod(Object target,
	Object[] arguments, Signature sig, Boolean constructor, Boolean wrapExceptions)
	at System.Reflection.RuntimeMethodInfo.Invoke(Object obj, BindingFlags

[2021-02-10 12:40] roji commented on #24056
@ElmirSecerbegovic we're not asking for your complete project, but rather for an isolated case that reproduces the error - this is necessary in order for us to investigate. You would typically get this by starting out with your project and stripping away irrelevant bits, until you're left with the minimum necessary to trigger the exception; if needed you can also rename type/properties to anonymiz

[2021-02-10 12:46] roji commented on #24104
@HakamFostok no. I'm assuming that you want `No` to be your identity column, and `Id` to *not* be an identity column. If that's the case, you need to specify `[DatabaseGenerated(DatabaseGeneratedOption.None)]` on your `Id` property, which is being set up as identity by convention. In other words, something like the following:

[code]

Note that it then becomes your responsibility to specify the Id

[2021-02-10 12:48] roji commented on #3170
@pantonis this issue is currently in the backlog, and not in the 6.0 milestone - that means it's not currently planned. However, it has the consider-for-next-release label, which means it's a high-priority item in case there's extra time to complete it.

Until this is done, you won't be able to migrate your EF6 model as-is, but there may be various ways to modify it to make it compatible with EF C

[2021-02-10 12:53] pantonis opened #24105 "The type 'City' cannot be configured as non-owned because an owned entity type with the same name already exists."
Based on this excellent example from Vladimir Khorikov https://enterprisecraftsmanship.com/posts/nesting-value-object-inside-entity where he covers a very frequent scenario I am getting an error when I am trying to create migration in EF Core 5.

[code]

### Include stack traces

[code]

### Include provider and version information

EF Core version: EF Core 5.0.3
Database provider: Microsoft.Entit

[2021-02-10 13:30] EmirhanAksoy commented on #24104
I want to make _No_ column auto-increasing without making it an identity column. That's my problem.

[2021-02-10 13:30] HakamFostok commented on #24104
@roji No Sir it is not the case, we want both `Id` and `No` to be auto-incremented, but we need to have only `Id` fields as our PK.
in other words, how can we add some auto-increment column without including it in the PK, without touching the PK

[2021-02-10 13:47] roji commented on #24104
Since SQL Server allows only one IDENTITY column per table, you can set up your `No` column to be sequence-driven - [see these docs](https://docs.microsoft.com/en-us/ef/core/modeling/sequences).

[2021-02-10 14:08] roji opened #24106 "Narrow the feature gap between EF Core and EF6"
There are still some scenarios supported on EF6 which aren't on EF Core. In order to make it as easy as possible to transition from EF6 to EF Core, we plan to close this gap as much as possible, although some scenarios will remain unsupported by design.

- [ ] [Query: Expand navigations after GroupBy operator is applied](https://github.com/dotnet/efcore/issues/22609)
- [ ] [Detect simple join tabl

[2021-02-10 14:31] roji opened #24107 "Highly requested user features for EF Core 6.0"
- [ ] [Support temporal tables](https://github.com/dotnet/efcore/issues/4693)
- [ ] [Map JSON values stored in database to EF properties](https://github.com/dotnet/efcore/issues/4021)
- [ ] [Allow defining column order via [ColumnAttribute.Order] when creating tables](https://github.com/dotnet/efcore/issues/10059)

[2021-02-10 15:09] roji opened #24108 "Experiment"
An experiment in collaboration with the community to determine what potential there is modern .NET features in a highly performant SQL Server driver.

Note: issue can be moved to https://github.com/dotnet/datalab once there's a "User Story" label there

[2021-02-10 15:10] roji opened #24109 "Continue evolving System.Data and the database providers"
- [ ] [New System.Data.Common batching API](https://github.com/dotnet/runtime/issues/28633)
- [ ] [Standardize on DiagnosticSource for tracing in System.Data components](https://github.com/dotnet/runtime/issues/22336)
- [ ] [Microsoft.Data.Sqlite: Pool Connections](Microsoft.Data.Sqlite: Pool Connections)
- [ ] [Microsoft.Data.Sqlite: Persist prepared statements across commands](https://github.com

[2021-02-10 15:15] roji opened #24110 "Improve EF Core performance"
- [ ] [Reduce EF Core application startup time via compiled models](https://github.com/dotnet/efcore/issues/1906)
- [ ] [Improve EF Core performance on TechEmpower Fortunes](https://github.com/dotnet/efcore/issues/23611)
- [ ] [Microsoft.Data.Sqlite: Pool Connections](https://github.com/dotnet/efcore/issues/13837)
- [ ] [Microsoft.Data.Sqlite: Persist prepared statements across commands](https://g

[2021-02-10 16:33] yesmey commented on #12482
Thanks for your comment. I started a pull request including a test scenario. And changed the code from overriding the DbType getter to passeing it through the constructor instead

[2021-02-10 17:19] pantonis commented on #3170
@roji Is there any other workaround apart from TPH and TPT?

[2021-02-10 17:28] roji commented on #3170
You can remodel things in some way so that you don't need TPC, but barring that, TPC is not currently supported.

[2021-02-10 18:50] egbertn commented on #1368
THere is a bug, when we have Many-To-Many relationship, and leave .net core ef migrations do the work,
we get a SQL server error.
The Entity Framework tools version '3.1.9'
EF Core runtime '5.0.3'.

dotnet ef migrations add InitialCreate

After that, when they are actually executed, ONE of the cascade FK's must not be generated.

Unhandled exception. Microsoft.Data.SqlClient.SqlException (0x801319

[2021-02-10 19:33] ajcvickers opened #24112 "Using Concat for model/seed data in migrations may truncate long strings"
Originally reported as https://github.com/dotnet/efcore/pull/23634#issuecomment-776769039 by @saliksaly.

Using CONCAT for strings is not so good due to string truncation to 4000 chars in SQL server :-(
Now the migrations run without error (Microsoft.Data.SqlClient.SqlException (0x80131904): The concat function requires 2 to 254 arguments.) but my seeded strings are now truncated in the database.

[2021-02-10 19:33] ajcvickers commented on #24112
/cc @bricelam

[2021-02-10 19:34] vsfeedback opened #24113 "I cannot do a migration from package manager"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/I-cannot-do-a-migration-from-package-man/1320682)._

---
[severity:It's more difficult to complete my work]
I have a brand new laptop which I have downloaded and installed Visual Studio 2019 on to.

Everything looks fine but I cannot do code first add migration from package manager.

PM

[2021-02-10 19:35] vsfeedback opened #24114 "EF Core Power tools / Reverse Engineer crashed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/EF-Core-Power-tools--Reverse-Engineer-c/1327962)._

---
[severity:Other]
I tried to Reverse Engineer using EF Core Power Tools when my project was all Checked in in TFS then I did a Checked out and tried again with success.

System.InvalidOperationException: Sequence contains no matchin

[2021-02-10 19:39] ajcvickers commented on #24113
Duplicate of #16386

[2021-02-10 19:40] ajcvickers commented on #24114
@ErikEJ Any ideas on this?

[2021-02-10 19:48] #23617 closed

[2021-02-10 19:49] smitpatel commented on #24112
My preliminary experimentation says things are not as straight-forward as in posts.
Results of `CONCAT` is the highest sized nvarchar from arguments.
Results of `+` is highest sized nvarchar from the 2 arguments according to type-precedence rules due to implicit casting.

[2021-02-10 20:08] ErikEJ commented on #24114
Hard to tell without version info, but potentially fixed in latest daily.

Best approach is to try latest daily, and maybe provide efpt.config.json file.

[2021-02-10 20:13] ErikEJ commented on #24114
Should be moved to Power Tools repo, but how do I contact the user?

[2021-02-10 20:18] GearTheWorld commented on #24114
Hi Erik,

Here are some details

My Email : geardoom3@live.com
I'm actually using version 2.5.454

Here's the efpt.config.json

`{
   "ContextClassName": "ApplicationDbContext",
   "ContextNamespace": null,
   "DefaultDacpacSchema": null,
   "FilterSchemas": false,
   "IncludeConnectionString": false,
   "ModelNamespace": null,
   "OutputContextPath": null,
   "OutputPath": null,
   "ProjectRootNa

[2021-02-10 20:21] ErikEJ commented on #24114
Thanks, I will have a look. Assume the files are read only in this case?

[2021-02-10 20:22] smitpatel commented on #24002
PRs out for 3.1/5.0

[2021-02-10 20:25] GearTheWorld commented on #24114
Exactly

From: Erik Ejlskov Jensen <notifications@github.com>
Sent: February 10, 2021 3:22 PM
To: dotnet/efcore <efcore@noreply.github.com>
Cc: Marc Roussel <geardoom3@live.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/efcore] EF Core Power tools / Reverse Engineer crashed (#24114)

Thanks, I will have a look. Assume the files are read only in this case?

—
You are receiving this

[2021-02-10 21:06] boppercr opened #24118 "Weird behaviour in Select using LINQ"
My colleague and I encountered a weird "bug" if you will while using EF Core and while we're not sure if it's a bug or a use case that shouldn't be happening, I felt like it needed to be asked here.

Here's a little summary :
- We have a certain class/table structure that looks like this : X can have one Y and multiple Z. Z can have Ws and other stuff that is not important.

We have a goal to dupl

[2021-02-10 21:47] roji commented on #24118
@boppercr can you please submit a minimal code sample that demonstrates exactly what you're trying to do, and the exact exception and/or incorrect behavior that you're seeing? That's really the easiest way to get your scenario across.

Aside from that, 2.2 is out of support - please try your scenario with 3.1 (which fixes a lot of issues).

[2021-02-10 21:59] roji commented on #24067
@atrauzzi I don't even know which property is being configured with your ValueComparer - or how the relationship between your entity types is configured... It really would be fastest for everyone involved if you can come up with a simple console application that demonstrates the problem - no need to pull your entire project or anything like that.

/cc @ajcvickers in case this rings a bell.

[2021-02-10 22:01] boppercr commented on #24118
Alright. We have an update planned soon to get straight through to 5, so we'll see there. There's no real problems remaining, but I was curious still. Here's what I can provide :
[code]

In example, the "DeclarationInformation" class has a couple of properties which include the navigation ones. There's "IdDeclarationInformation" that is the Primary Key and "IdDeclaration" that is a Foreign Key wit

[2021-02-10 22:14] smitpatel commented on #24118
Duplicate of #7983

[2021-02-10 22:26] kinetiq commented on #24049
@roji Sorry for the delay, I will try your repro tomorrow. I will say that it is definitely happening with SQL Azure in my case howevere.

[2021-02-10 23:02] #23776 closed

[2021-02-10 23:39] Erythnul opened #24119 ""Argument types do not match" when using ternary operator on int in Select statement"
## File a bug

Similar but potentially different to #23802, this is on 5.0.3.

In this case we use an extra check to structure our objects better while we select them, our legacy Database is badly structured, so I use OwnsOne to add a layer that should've been a different table within the entity. Other checks in the system validate that the database can not be brought into a state where the filter

[2021-02-11 00:26] maumar commented on #24119
related/duplicate: https://github.com/dotnet/efcore/issues/23877

[2021-02-11 01:00] atrauzzi commented on #24067
Kk, I'll try to put something together tomorrow.

[2021-02-11 02:13] sam-wheat commented on #23870
[This is still in the moonshots category](https://github.com/dotnet/efcore/issues/20028).  I bring it up again to keep you guys thinking about disruptive ways to make DBMSs better in years to come.

In the year since I first wrote the post above dotnet has only gotten better.  Blazer, which runs c# in the browser was once widely ridiculed however many now consider it a viable alternative to javasc

[2021-02-11 05:02] nwendel opened #24120 "Custom IdGenerator is not being used"
When using a custom MigrationsIdGenerator it works just fine when doing add-migration but the custom id generator is not used when doing update-database.

The id generator is registered like this:
[code]

The id generator looks like this:
[code]

When running add-migration the migration gets added with the proper id.  However when running
update-database it isn't used.  I can see that the custom m

[2021-02-11 07:22] Erythnul commented on #23877
Glad to see that this is being fixed. Could the fix be considered for cherry picking into a servicing release?
This is a serious blocker for our planned upgrade path.
Thanks in advance!

[2021-02-11 07:23] Erythnul commented on #24119
Ah, good to see, I've left a comment over there. Thanks @maumar!

[2021-02-11 08:41] ElmirSecerbegovic commented on #24056
We have created demo version from our production REPO.

https://github.com/ElmirSecerbegovic/TestIssue.git

[2021-02-11 09:49] saliksaly commented on #24112
Here is a nice explanation of the Data type precedence used:
https://stackoverflow.com/questions/1371383/for-nvarcharmax-i-am-only-getting-4000-characters-in-tsql/1371584#1371584

There is a workaround:
concat with an additional nvarchar(max) member (can be empty)

Let's try:

This returns only 4000 chars:
SELECT CONCAT(REPLICATE(N'A',4000), REPLICATE(N'B',4000), REPLICATE(N'C',4000))

This return

[2021-02-11 10:15] koenbeuk commented on #22700
@ajcvickers,

I would also be happy to come on the community standup to talk about [EFCore.Triggered](https://github.com/koenbeuk/EntityFrameworkCore.Triggered) if you have me. It essentially brings database triggers down a notch to the level of EF (All made possible by the awesome ChangeTracker). I have a simple demo application that I can showcase with various uses of triggers to enforce various

[2021-02-11 10:34] cap7ainjack opened #24121 "Odata [EnableQuery] attribute makes EF Core crash on high requests amount"
I use ASP.NET Wen API on NET 5 and the following NuGets:
Microsoft.AspNetCore.OData => 7.5.4
Microsoft.Data.OData => 5.8.4
Microsoft.OData.Core => 7.8.1
Microsoft.EntityFrameworkCore => 5.0.2

(I have tried with Microsoft.AspNetCore.OData 8.0.0-preview3 and the problem is the same)

#23891  - How the problem started. But this is a different problem so I decided to post a new issue.

In my Odata co

[2021-02-11 10:40] r-aghaei opened #24122 "EF Core Global Query Filter for SaveChanges (Update, Delete)"
Is there any way to apply a query filter to `WHERE` clause of generated `UPDATE` and `DELETE` statement using EF Core when you call `SaveChanges`? (Quite similar to [Global query filters](https://docs.microsoft.com/en-us/ef/core/querying/filters?WT.mc_id=DT-MVP-5003235) which work just for `SELECT` scenarios.)

I'm going to use such feature for a multi-tenancy scenario in a small application and

[2021-02-11 10:57] roji commented on #795
Note: consider whether/how we want to also apply global query filters when applying bulk updates to the database (this would no longer be *query* filters).

[2021-02-11 10:57] roji commented on #24122
@r-aghaei the WHERE clause generated by EF Core in UPDATE and DELETE is generally used only for the key column(s) of the rows to be modified (or to implement optimistic concurrency). The selection of which rows are to be updated/deleted (and therefore any filtering by tenant) is done by the application before this stage, in .NET code, via EF's regular change tracking mechanism.

In other words, wi

[2021-02-11 11:13] Dresel opened #24123 "Many-to-Many does not get updated for replaced entity with shared primary key"
We have the following use case:

- EntityA has a one to one relationship with EntityB. The PK of EntityB is also the FK of EntityA
- EntityB has a many to many relationship with EntityC
- We are replacing EntityB for an existing EntityA
- The many to many relationship does not get updated

[code]

This produces the following output:

[code]

If we uncomment and eager load EntitiesC then it will be

[2021-02-11 11:43] r-aghaei commented on #24122
@roji Thanks for the reply.

That's correct for connected scenarios; as I also mentioned in the question, this is the obvious and common choice, however for a better performance, in disconnected scenarios, it makes sense to have something like query filters.

I'm happy to see it will be considered in bulk operations; however, in general I see it less-related to *bulk operations* but more-related t

[2021-02-11 11:57] lowds opened #24124 "DbContextFactory could be more tolerant of there being multiple constructors on a DbContext"
When creating a DbContext we often have one constructor that accepts DbContextOptions and another no-arg constructor so the DbContext will work with the EF tooling for creating migrations.  However, when using DbContextFactory having more than one constructor on the DbContext results in the factory being unable to create a new DbContext and results in an exception

This is due to the implementatio

[2021-02-11 13:39] Youssef1313 commented on #22315
@roji Is there an existing analyzer that lacks a codefix? Or this issue is to implement both an analyzer and a codefix?

[2021-02-11 14:11] mnissl opened #24126 "Cannot update untracked entity if row version property is configured as shadow property"
My scenario is as follows:

My entity features a row version property. I load an entity with `AsNoTracking()`, attach it later to the context, modify a property and then save the changes. This works fine.

If I configure the row version property as a shadow property, the scenario described above no longer works:

[code]

This is because the generated SQL code features "row_version is null":

[code

[2021-02-11 15:11] Timovzl commented on #4526
Beware of many common implementations for this. I haven't looked into SQL Server's `MERGE`, but I do know that MySQL's `ON DUPLICATE KEY UPDATE` honors **any key**, not just the primary key.

In the vast majority of cases (but not all of them), the intent is to perform an update _if the **primary** key exists_, not if **any** unique key exists. Imagine accidentally using an existing name, and inst

[2021-02-11 16:16] pantonis commented on #24105
@ajcvickers @smitpatel Any update on this one?

[2021-02-11 16:20] changhuixu opened #24127 "modelBuilder.HasDefaultSchema() not working for [__EFMigrationsHistory] table"
[code]

The expected behavior is that the database migration will create a migration history table [CA].[__EFMigrationsHistory]
However, the migration uses the default schema of the current session/user, for example, [dbo] in my case.
This happens in EF Core 3.1, 5.0 at least.

I suspect that the extension method `services.AddDbContext<MyDbContextA>(options => options.UseSqlServer())` uses a defau

[2021-02-11 16:26] smitpatel commented on #24127
Default schema of model doesn't affect the schema for migration history table (migration history table is not part of the model). You need to use the method `MigrationsHistoryTable` to configure schema for history table.

[2021-02-11 16:29] smitpatel commented on #24105
[code]
In above code you are configuring navigation to `City` as if it is regular entity but in `User` class you are configuring it as owned entity. You cannot configure same CLR type as owned/non-owned entity in same model. Exception message also indicates that. You need to determine how do you want to use `City` in your model and change your model configuration accordingly.

[2021-02-11 16:38] smitpatel commented on #24112
@saliksaly - I have gone through the official T-Sql documentation. My point is that regardless of issue happening due to data type precedence, same data type is applied for `Concat` function and `+` operator. So using of `Concat` is not in itself an issue.

[2021-02-11 16:38] ajcvickers commented on #23859
Looks like this didn't make it into the preview 1 branch. It was merged after preview 1 branched, but before branding was updated to preview 2.

[2021-02-11 16:39] ajcvickers commented on #23971
Looks like this didn't make it into the preview 1 branch. It was merged after preview 1 branched, but before branding was updated to preview 2.

[2021-02-11 16:50] pantonis commented on #24105
@smitpatel I found no other way of setting the relationship between City and User. City is a value object and is owned by User. How can I set the relationship between City and User?

[2021-02-11 16:51] ErikEJ commented on #24114
@GearTheWorld I am not sure I understand the connection between this issue and TFS source control.
I have made some change to a faulty implementation in the latest daily build, lets see how far that gets you.

https://github.com/ErikEJ/EFCorePowerTools/commit/731497e47f9d6a60237ae42c230a6f03e63bf4ca

[2021-02-11 16:51] ajcvickers opened #24128 "String.IsNullOrWhiteSpace translation does not handle tabs"
Found testing #22916. The translation to SQL Server does not detect tab charaters as whitespace, while the .NET implementation does. Not sure if we need to change this, but bringing it up to discuss.

[2021-02-11 17:22] smitpatel commented on #24105
[code]

City is a value object owned by `CityInUser` and CityInUser has one-to-many relationship with `User`.

[2021-02-11 17:23] changhuixu commented on #24127
@smitpatel Thanks for answering this issue.
Do you know if there's a constant string for the default EF MigrationsHistoryTable table name? So that we don't need to type in a magic string for the table name.

[2021-02-11 17:29] mrlife opened #24129 "Detect via ChangeTracker if a modified CollectionEntry was added or removed"
This is fairly straightforward to do for non-collection properties (see https://github.com/dotnet/efcore/issues/9237#issuecomment-317115094).

For a `CollectionEntry`, it looks like the `IsModified` is set to true correctly when an item is added or removed from a collection, however there doesn't seem to be a way to tell if it was added or removed, only that something changed.

I've looked through

[2021-02-11 17:46] fabiano-ferreira commented on #23979
Hello guys!

You can close the ticket, please. After a lot of investigation I found that the error that was causing the Query filter to be ignored was inside my application. It was a very specific situation leading to this bug.

Thanks anyway for all your help!

Fabiano

[2021-02-11 17:55] smitpatel commented on #24127
The string is publicly available here https://github.com/dotnet/efcore/blob/19847d7c6fdbdcacc9cd2c84129126f8cb57b19b/src/EFCore.Relational/Migrations/HistoryRepository.cs#L43

Not sure how you can reference in code directly.

[2021-02-11 19:07] smitpatel commented on #24061
Duplicate of #22892

[2021-02-11 19:10] changhuixu commented on #24127
perfect, it works.

[code]
[code]

I hope we can have an extension method so that the code in the options can be shorter. For example,
In additional to,
[code]
We can have a method,

[code]

This should be easy. Thank you.

You can close this issue because my main question is answered.

[2021-02-11 19:26] atrauzzi commented on #24067
Well as one might have predicted, in creating the repro, I was able to isolate the source of the issue.

Naturally you guys are all on top of your game! :wink:

The problem was in my snapshot expression.  I wasn't cloning the reference type and as a result, was simply returning a reference to the original.  Which of course EF would think doesn't have any changes because... Well, it's the same thin

[2021-02-11 20:17] rajmondburgaj opened #24130 "AddAsync method does not work as expected with inheritance when discriminator is part of primary key"
I am trying to build a simple schema where I put all translations in one table and I should have the discriminator as part of the primary key.

Here is my base class:

[code]

The discriminator column is EntityType, it is private property because I dont want to have external access to this property, because as per my understanding it should be modified and used only by entity framework core itself

[2021-02-11 20:19] snebjorn commented on #19763
I encountered something that seems related to this when querying with OData/WebApi
[code]
_Blogs is using the table-per-hierarchy strategy._

The above will throw `Microsoft.Data.SqlClient.SqlException (0x80131904): The multi-part identifier "t.XXX" could not be bound.`

I observed the same issue with `$take` and `$orderby`

However these are fine.
[code]

I'll try to provide a demo project in the

[2021-02-11 21:52] #12482 closed

[2021-02-11 21:58] PeteX commented on #4526
Postgres gets this right by the way.  You choose the columns where conflicts are to trigger updates.  It's pretty bad that MySQL triggers updates for any conflict, I didn't know that.  If you have a table of users for example, and the email addresses are constrained to be unique, you could trigger an update just because someone registered with an existing email address?  Ouch.

[2021-02-11 23:51] roji commented on #22315
@Youssef1313 this is for both an analyzer and a codefix. However, see #24041 for a possibly different direction on fixing this. We'll be discussing this soon.

[2021-02-12 01:48] smitpatel commented on #23739
IdentityServer depended on an older version of shared framework which brought in certain MVC types like `HttpGetAttribute`/`ControllerBase`/`ModelBinderAttribute`. Using shared framework directly in the project using Web SDK gets those missing references.

[2021-02-12 04:27] Youssef1313 commented on #22315
@roji Great! I'll keep an eye on the other issue as well as on this one, and will open a PR it was decided to implement the analyzer.

[2021-02-12 07:58] simeyla commented on #6426
I'm guessing this is now

     scenarioBuilder.Property(p => p.Id).UseIdentityColumn();    // in SqlServerPropertyBuilderExtensions

[2021-02-12 08:44] pantonis commented on #24105
@smitpatel I changed it as you suggested
[code]

 and I'm getting the following error:

[code]

[2021-02-12 08:45] fdipuma opened #24133 "Projection of Owned entities and aggregation in same query fails with System.InvalidCastException / System.ArgumentException"
When I execute a projection query which uses both an aggregation (e.g. `Sum`) and a sub-projection of owned entities, the query fails with `System.InvalidCastException` or `System.ArgumentException`, depending on the provider and EF Core version used.

## Steps to reproduce

### DbContext and Models
[code]

### Providers
Tested with InMemory provider:
[code]
and SqlServer provider
[code]

### Quer

[2021-02-12 09:17] sm15455 opened #24134 "Unnecessary join when not using foreign key property in LINQ query"
Hi,

I have an Order class and a Customer class. The Order class **doesn't** have the CustomerId property but only the Customer property of type Customer.

[code]

If I want to retrieve orders by customer I use the following LINQ query.

[code]

This is the sql generated (simplified)

[code]

The join here is unnecessary as I'm retrieving data for the Order class only.

If I add the CustomerId pro

[2021-02-12 09:40] maumar commented on #24079
dupe of https://github.com/dotnet/efcore/issues/22049

[2021-02-12 09:41] maumar commented on #22049
lots of people are hitting this, we should re-triage and fix it sooner if possible

[2021-02-12 11:10] roji commented on #24135
@dasMulli can you please submit a repro project so that this can be investigated? If these needs to be private, you can share the project directly to my email address (on my github profile).

[2021-02-12 11:39] roji opened #24136 "Investigate integrating Microsoft.CodeAnalysis.PublicAnalyzers into our process"
[Microsoft.CodeAnalysis.PublicAnalyzers](https://github.com/dotnet/roslyn-analyzers/blob/master/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md) is a Roslyn analyzer that tracks public API changes, helping to preventing unwanted ones and driving API review processes. It is used by ASP.NET and many other internal and external projects.

In a nutshell, your project has PublicAPI.Shipped.txt and Pu

[2021-02-12 11:40] roji opened #24137 "Make DbContext pooling accessible to non-DI applications"
The setup of DbContext pooling is currently tied to DI. While it's possible to set it up without DI, that currently requires using internal types.

[2021-02-12 11:54] dasMulli commented on #24135
@roji the repo was posted by @Alirezanet in https://github.com/dotnet/efcore/issues/24135#issuecomment-735344548

[2021-02-12 11:58] roji commented on #24122
I do see some value in this... however:

* Even in disconnected scenarios, the external entity has to come from somewhere - typically by being queried previously by a different DbContext instance. I'd again expect the query filter to apply at that point, meaning that the application wouldn't typically be attaching entity instances that need to be filtered out. Of course, there's the possibility of

[2021-02-12 13:11] roji commented on #24135
Here's what I'm seeing:

* With SDK 5.0.102, compiling the Persistence project takes 5m3s
* Switching to SDK 5.0.200-preview.21111.2, the time goes down to 2m46s
* At that point, removing all analyzers makes the build time drop to 41s:

[code]

* Specifically removing the EF Core analyzer makes the build time go back up to 2m41s, so there doesn't seem to be a problem there. However, removing Micro

[2021-02-12 13:20] roji commented on #23611
Starting EF Core Fortunes perf: 69,653 RPS
Dapper perf: 93,453 RPS

Description                                                                                                   | RPS    | Improvement
------------------------------------------------------------------------------------------------------------- | ------ | -----------
Starting point

[2021-02-12 13:22] dasMulli commented on #24135
Depends on the project I think, we've had even larger migration projects until recently - 2x mysql + 2x postrgres each at the size of @Alirezanet's repro or larger (2 of them using quite a lot of seed data). Moving them to a separate project with analyzers disabled (and creating scripts to ensure the project builds and then invokes 4 `dotnet ef` commands) was workable - we also reset the migration

[2021-02-12 13:28] dong82 commented on #14051
@CrestApps, your solution solution worked for me. My project is Core 2.2 and importing packages below

    <PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="2.2.6" PrivateAssets="All" />
    <DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.3" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="2.2.6" />

[2021-02-12 14:18] dazbradbury commented on #10042
@ajcvickers - Just wondering where this sits now EF Core 5.0 has been released?

We're running into this issue for our "Read Only" data context(s), where it's non-obvious that a read-only context wouldn't be able to lazy load via navigation properties.

In a way, it's nice that you have to force a single query/operation. But the fact it's a runtime exception makes it a bit of a "gotcha". Alternati

[2021-02-12 15:03] JoasE commented on #23302
I experienced the same problem with the query below:
[code]

A possible workaround would be:
[code]

This will result in the same SQL being executed using the SqlServer database provider 5.0.3

[2021-02-12 15:16] Alirezanet commented on #24135
I don't believe this is a very rare case in real applications, I have 2 other projects bigger than this one.

also do not forget the same 211MB migrations could easily build using DotNet Core 3.1 in about 40 seconds on an average system (4 core 16GB memory).

With SDK 5.0.103 I disabled all analyzers as @roji said but looks like 16GB memory is not enough.

 _the squashing feature_ that @dasMulli m

[2021-02-12 15:24] Alirezanet commented on #24135
I will test this version tomorrow thank you.

[2021-02-12 16:01] ajcvickers commented on #23884
## February 11 2021

## Highlights

Released this week:
  - [EF Core 5.0.3](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/5.0.3) with [14 important bug fixes](https://github.com/dotnet/efcore/issues?q=is%3Aissue+milestone%3A5.0.3+is%3Aclosed+).
  - [EF Core 3.1.12 LTS](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/3.1.12) with [only critical fixes](https://github.com/

[2021-02-12 16:14] ajcvickers commented on #10042
@dazbradbury Currently no change in status.

[2021-02-12 16:41] ajcvickers commented on #23972
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-12 16:41] ajcvickers commented on #24009
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-12 16:42] ajcvickers commented on #24014
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-12 16:44] ajcvickers commented on #24091
@cubikca Once `dotnet-ef` is installed as a global or project tool it should be used through the dotnet executable as `dotnet ef`, not by calling `dotnet-ef` directly.

[2021-02-12 16:50] ajcvickers commented on #24069
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-12 17:00] cubikca commented on #24091
I posted the reproduction steps that specifically showed the issue with the dotnet-ef binary. When using the binary, I do of course call it as intended using dotnet command. Regardless, the error persists until I uninstall the snap and install the package from Microsoft repository.

[2021-02-12 17:14] Strepto opened #24140 "Implement Caching to Microsoft.Sqlite `GetOrdinal`"
Microsoft.Sqlite GetOrdinal repeated access is slower than System.Data.SQLite by magnitudes due to lacking caching.

I would like to add a lazy caching strategy to the SqliteDataRecord, to avoid repeated database lookups when doing repeated reads of name and Ordinal.

This solves a problem when parsing every row of a dbReader without keeping a state of the Ordinals. Assuming the user is reading ma

[2021-02-12 17:19] ntziolis commented on #24009
I apologize, but were not able to recreate this issue in a minimal repro. Closing this on our end as well.

[2021-02-12 17:26] ajcvickers commented on #24130
Duplicate of #18126

[2021-02-12 17:27] smitpatel commented on #24105
You need to ignore that navigation as indicated in error message. That property exists only in your domain since you added another wrapper entity in between.

[2021-02-12 17:29] smitpatel commented on #24134
Duplicate of #15826

[2021-02-12 17:33] BalassaMarton commented on #795
Don't overcomplicate it. If query filters don't work on bulk operations,
just make this clear in the documentation. I'd better have this feature
with known limitations than never have it.

Shay Rojansky <notifications@github.com> ezt írta (időpont: 2021. febr.
11., Cs, 11:57):

[2021-02-12 17:37] r-aghaei commented on #24122
**Should EF care about "Global query filter" in INSERT statements?**

I see "Global query filter" as an additional criteria which applies to WHERE clause:
- SELECT, UPDATE, and DELETE statements support WHERE clause, so global query filter makes sense for those.
- INSERT query doesn't support WHERE clause, so global query filter doesn't make sense for it.

**Example  for UPDATE scenario**

A multi

[2021-02-12 17:45] jmarolf commented on #24135
@roji there is a built-in msbuild property to disable .NET analyzer. Setting `<EnableNETAnalyzers>false</EnableNETAnalyzers>` will cause them to never be added to your project.

[2021-02-12 17:51] roji commented on #24122
I think it's better to look at these questions from a user perspective; so I'd ask myself what the user behavior should be rather, rather than which type of SQL should get affected (implementation detail). For one thing, EF supports non-relational database which don't use SQL at all.

Regardless, your example for an UPDATE scenario does have merit. One potential issue issue I see, is that we allow

[2021-02-12 17:53] roji commented on #24135
Thanks @jmarolf, that's useful to know.

[2021-02-12 17:55] pantonis commented on #24105
But if I skip that navigation then there is not way to access cities of the user. I have been trying to make this work for the last week. Cost me lots of hours and money. Didn't find a way or even an example of how this works in EF Core 5 using DDD. I mean it is about a very frequent scenario with many to many (if you didn't understand the requirement here please check the below example which is m

[2021-02-12 17:59] r-aghaei commented on #24122
Makes sense. I mean "I as a developer (user of EF)" 😄.

* EF supports non-relational database which don't use SQL at all.* → I think the same argument applies to non-relational DBs as well. I as a developer, most likely expect the filter on RUD, but not C.

Perfect! Thanks for the feedback and for taking time on this 😊.

[2021-02-12 18:11] ajcvickers commented on #24053
/cc @roji

[2021-02-12 18:19] ajcvickers commented on #24094
/cc @bricelam

[2021-02-12 19:33] jmarolf commented on #24135
After looking into this I believe this is fixed in the 5.0.103 version of the SDK. @Alirezanet can you try a build with this version of the SDK?

- https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.103-windows-x64-installer

[2021-02-12 20:06] roji commented on #24041
Design decision: we are going to remove IAsyncEnumerable from DbSet. Make sure all known usage scenarios continue working without changes (ToListAsync, foreach etc.)

[2021-02-12 20:06] roji commented on #22315
As per #24041, we're going to remove IAsyncEnumerable from DbSet, so an analyzer/codefix is no longer needed.

[2021-02-12 20:16] ErikEJ commented on #24114
@GearTheWorld did you try out the latest daily build?

[2021-02-12 20:17] #23739 closed

[2021-02-12 20:20] changhuixu opened #24142 "AsQueryable vs AsNoTracking"
What is the differences between `AsQueryable` and `AsNoTracking`?
Which one is better?

[code]

https://github.com/dotnet/efcore/blob/3b0a18b4717c288917dabf8c6bb9d005f1c50bfa/src/EFCore/Extensions/EntityFrameworkQueryableExtensions.cs#L2430-L2444

Thank you.

[2021-02-12 20:41] Youssef1313 commented on #22667
I opened https://github.com/dotnet/roslyn-analyzers/issues/4842 to track the analyzer bug.

[2021-02-12 20:52] GearTheWorld commented on #24114
@ErikEJ Monday ;)

[2021-02-12 21:48] kobruleht opened #24144 "Runtime scaffold broken after upgrading packages to 5.0.3"
After upgrading packaged from 5.0.2 to 5.0.3  runtime scaffold using

https://github.com/jdtcn/RuntimeEfCore  is broken

The following namespaces do not exist anymore:

[code]

Code  which creates  scaffolder

[code]

throws compile error.  IReverseEngineerScaffolder  interface is not defined.

How to perform runtime scaffold using 5.0.3 packages ?

[2021-02-12 22:28] bricelam commented on #24094
Note for triage: Looks like SQLite only adds the extension (dll, so, dylib, etc.) and not the 'lib' prefix like I initially thought.

A couple of thoughts...

We could expose an option to disable our call to LoadExtension. It's kind of possible today using some lower-level, pubternal APIs:

https://github.com/dotnet/efcore/blob/91655d5e3e7657487cbc143ae7fd98a829e3b938/src/EFCore.Sqlite.NTS/Extensi

[2021-02-12 22:36] kinetiq commented on #24049
@roji Okay, I ran this.

I did rename the User to Userxx just to quickly clear up a conflict.

I got this after a brief delay, which is what I would have expected:

SqlException: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configur

[2021-02-12 22:40] bricelam commented on #9339
@kierenj Looks good to me. Although, you should be able to use the interface IMigrationsScaffolder instead of registering and requesting MigrationsScaffolder.

[2021-02-12 23:01] bricelam commented on #24008
It's [poorly written](https://github.com/dotnet/EntityFramework.Docs/issues/933), but have you seen [Using a Separate Migrations Project](https://docs.microsoft.com/ef/core/managing-schemas/migrations/projects) in the docs?

I suggest continuing to use `API` as the startup project. You should be able to avoid publishing EFCore.Design and `Migrations` with your app using the steps shown in the arti

[2021-02-13 00:14] roji commented on #24142
AsQueryable and AsNoTracking are completely unrelated.

AsNoTracking makes your query execute as a no-tracking query - [here are the docs on tracking and no-tracking queries](https://docs.microsoft.com/en-us/ef/core/querying/tracking).

AsQueryable in your example above is superfluous: since _dbContext.Blogs is already an IQueryable, it does nothing. AsQueryable is only needed in some cases where

[2021-02-13 03:17] GearTheWorld commented on #24114
System.Exception: Reverse engineer error:
Microsoft.EntityFrameworkCore.Design.OperationException: No files were generated in directory 'C:\Dev\Cubi-Agile-New\Cubi-Agile\GlobexProjects\CubiShippingDashboardAPI\CubiDataStore\'. The following file(s) already exist(s) and must be made writeable to continue: Addresses.cs,Divisions.cs,Logs.cs,Products.cs,Rights.cs,Shipments.cs,Tokens.cs,Users.cs,UsersR

[2021-02-13 04:45] anranruye commented on #24105
@pantonis For your model, you should use:
[code]

However, there are simpler ways to acheive you goal with ef core. You don't need `CityInUser` class, you can use `City` class directly:
[code]

[2021-02-13 05:01] changhuixu commented on #24142
I see. Thank you very much.

[2021-02-13 06:48] ErikEJ commented on #24114
That looks expected, or??

[2021-02-13 06:57] ErikEJ commented on #24144
Double check your .csproj

[2021-02-13 07:26] kobruleht commented on #24144
Thank you. Upgrading from 5.0.2 to 5.0.3  has changed  line in project file

`      <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="5.0.2">
`

to

[code]

How to fix this so that upgrades will not add additonal elements? After upgrade csproj should contain

[code]

[2021-02-13 08:41] ErikEJ commented on #24144
This is a breaking change, by design, so you must fix manually.

[2021-02-13 09:05] pantonis commented on #24105
@anranruye Thanks for your suggestion. The first part of your code does not produce the result I need. It creates City table with Id, UserId1 and UserId columns only and the User table with Id, Name and Age.

I cannot use the second suggestion because cities are used by other users. as well.

[2021-02-13 10:21] anranruye commented on #24105
@pantonis

It seems what you are looking for is different from the post you reference. In that post, the author introduced a one-to-many relationship, not a many-to-many relationship. Notice that you need three tables for a many-to-many relationship.

If you really need many-to-many relationship, you should use regular entities rather than owned entities. You can use field only property(private fi

[2021-02-13 10:30] Alirezanet commented on #24135
I've tried 5.0.103 it was a bit slow but successfully build the project in about 2 minutes!
PS. analyzers were disable.

[2021-02-13 10:43] roji commented on #24135
@jmarolf this doesn't seem to be resolved in SDK 5.0.103... When building as usual with all analyzers, the build fails after 3m15s with:

[code]

When disabling Microsoft.CodeAnalysis.NetAnalyzers specifically, the build succeeds after in 55s, albeit with many warnings such as:

[code]

[2021-02-13 13:40] william19941994 commented on #24080
Thank you very much.
The code is just what I needed.

[2021-02-13 17:01] Youssef1313 commented on #21663
@ajcvikers Are there any plans for this suppressor? I'm interested to implement it and submit a PR.

[2021-02-13 17:03] roji commented on #21663
@Youssef1313 we don't have any concrete plans for implementing this soon (because of priorities). We'd welcome a community contribution, but as this is about code analysis it's best to start off with a quick and informal spec of exactly what you plan on doing, to make sure we're all on the same page.

[2021-02-13 17:11] Youssef1313 commented on #21663
@roji I'd check the diagnostic location, and borrow the following method from roslyn-analyzers repo:

https://github.com/dotnet/roslyn-analyzers/blob/7bd2c98e798042e59121961640e124f76b03fdb9/src/Utilities/Compiler/Extensions/IOperationExtensions.cs#L518-L521

and report a suppression in both of the following applies:

- `IsWithinExpressionTree` returns true.
- The diagnostic location is inside a m

[2021-02-13 17:57] roji commented on #21663
While there are indeed a few EF-specific methods where we can just suppress (e.g. Include), the interesting cases are general IQueryable operators (e.g. Where) which aren't EF-specific. In theory, we'd verify that the operator is rooted on an EF Core DbSet, though the likelihood of another LINQ provider in the same project is very low (can the user disable the suppression in that case via .editorc

[2021-02-13 18:16] Youssef1313 commented on #21663
I'm not aware of that (probably @mavasani or @sharwell knows?), but even if there is a way. I think the suppressor should **not** suppress correct CS8602. Either it works correctly in almost all cases, or leaves CS8602 warnings that are considered incorrect warnings. But it should not hide correct warnings. (i.e. false negatives are okay, but false positives are not).

A false negative will lead t

[2021-02-13 19:12] roji commented on #21663
I agree with that - any correct suppressions we do are useful (even if we don't cover all cases), but we shouldn't incorrectly suppress any diagnostic.

[2021-02-13 19:21] Giorgi opened #24146 "Add a constructor to DbUpdateException that accepts list of EntityEntry-s as a parameter"
In the [EntityFramework.Exceptions](https://github.com/Giorgi/EntityFramework.Exceptions/) project I need to create an instance of `DbUpdateException` subclass and pass `IReadOnlyList<IUpdateEntry> entries` to the constructor of `DbUpdateException` but all implementations of `IUpdateEntry` are internal and there is not publicly supported way to create an instance.

Add constructor overloads that a

[2021-02-13 23:42] kobruleht opened #24148 "A command is already in progress exception using transient service"
Using Npgsql EF data provider as scoped service throws exception "A command is already in progress"

To reproduce:

1. Configure ASP.NET 5 MVC Core application to use NpgSql EF provider as scoped service in StartUp.cs :

[code]
3. Use following method to get dynamic data as described in

https://github.com/dotnet/efcore/issues/1862#issuecomment-451671168

and in

https://stackoverflow.com/question

[2021-02-14 00:34] simeyla commented on #17261
@ajcvickers I was excited to see the following in the [EF Core 5 New Features](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew):

I've added my own `DBInterceptor` to add `NOEXPAND` hints and it work's great.

However if I run `ToQueryString()` during debugging I won't see my hint in the SQL since I am relying on `ReaderExecutingAsync` and `ReaderExecuting` to perform the

[2021-02-14 01:23] jmarolf commented on #24135
Hmm, I created a VM with only the 5.0.103 SDK installed to verify there is nothing going on with my machine.

I am building the Persistence project with the following commandline:
[code]

## Default Repro

By default I am seeing that the EF Analyzers account for 98% of the analysis time:
[code]
<details>
  <summary>Full report</summary>

[code]

</details>

Full build log here: [net5.0.103-with-an

[2021-02-14 05:52] dolphyns opened #24149 "C# 9 Top-Level Statements prevents Update-Database from working"
Message from the Update-Database
Remaining arguments: .
Finding DbContext classes...
Finding IDesignTimeDbContextFactory implementations...
Finding application service provider in assembly '###'...
Finding Microsoft.Extensions.Hosting service provider...
No static method 'CreateHostBuilder(string[])' was found on class 'Program'.
No application service provider was found.

If I rollback to the ful

[2021-02-14 07:22] kobruleht commented on #1862
Code in davidbaxterbrowne comment

https://github.com/dotnet/efcore/issues/1862#issuecomment-451671168

causes

exception when NpgSql EF Core provider is used. It is posted in

https://github.com/npgsql/efcore.pg/issues/1698

and

https://stackoverflow.com/questions/66191043/how-to-use-npgsql-ef-provider-as-scoped-service

[2021-02-14 08:06] Youssef1313 commented on #24149
This could be an external issue. Resolving `CreateHostBuilder` is done by dotnet/runtime:

https://github.com/dotnet/runtime/blob/4634681ec8271a2ff2a4c959a8471fc90702f553/src/libraries/Microsoft.Extensions.HostFactoryResolver/src/HostFactoryResolver.cs

[2021-02-14 08:07] Youssef1313 commented on #24149
Most likely, the following line is returning null:

https://github.com/dotnet/runtime/blob/4634681ec8271a2ff2a4c959a8471fc90702f553/src/libraries/Microsoft.Extensions.HostFactoryResolver/src/HostFactoryResolver.cs#L36

[2021-02-14 08:13] ErikEJ commented on #24149
Duplicate of #23471

[2021-02-14 15:03] Giorgi commented on #18895
If there is still interest in this feature I think I can implement it for queries.

[2021-02-14 17:26] Youssef1313 commented on #21663
@roji Does working with the solution require the current preview version of Visual Studio or any special requirements?

I'm getting several warnings with VS 16.8:

![image](https://user-images.githubusercontent.com/31348972/107883898-73496000-6efa-11eb-9a94-b00977c60bb8.png)

[2021-02-14 17:30] ErikEJ commented on #21663
Did you follow this guide? https://www.github.com/dotnet/efcore/tree/main/docs%2Fgetting-and-building-the-code.md

[2021-02-14 18:18] rcollina commented on #24025
@ajcvickers sorry for the late reply.

I'll try and create a repro asap but it's not going to happen soon I'm afraid - we removed EF+Pomelo and switched back to DbCommands since it was blocking us + deadline.

I'm not sure if the etiquette would dictate me closing the issue in the meantime.

[2021-02-14 19:17] simeyla commented on #831
Probably my most popular answer ever on Stackoverflow is for a question with nearly 100k views [“Build failed” on Database First Scaffold-DbContext](https://stackoverflow.com/a/40322226/16940) so I can speak with some authority (and constant reminder notifications!) that people really hate this behavior!

If you ever decide to change this behavior please answer this question with the new switch :-

[2021-02-14 19:52] msschl opened #24150 "Unable to create FK as field in an entity"
In our entity we want to store the FK id in an field, so that it's not public accessible and we can insert entities efficiently without fetching the parent entity and setting it in the navigation property.

Child entity:
[code]

Entity configuration:
[code]

### Include stack traces

[code]

### Include provider and version information

EF Core version: v5.0.3
Database provider: Microsoft.EntityFr

[2021-02-14 20:06] simeyla commented on #831
Here's the thing about both T4 templates and EF Core Power Tools - I simply don't have time to learn them (and learn to trust them) when literally the only change I want to make is to comment out the default constructor and the OnConfiguring method. Not that I don't appreciate the community work, but it's honestly crazy that it's so hard to do that.

If these are the ONLY THINGS I want to do I fee

[2021-02-14 20:36] fabercs commented on #15027
So, any pending migration for the tenants is applied when the application pool (IIS) is recycled, right?

[2021-02-14 20:39] atrauzzi opened #24152 "Getting a stack overflow exception when trying to fetch data"
Encountered this exception as I've been reworking my application to use a `PooledDbContextFactory`:

[code]

---

The query in the `LoadDomain` method near the bottom of the stacktrace is:

[code]

---

I'm in the middle of adding Hot Chocolate to my project, which [has me doing some sweeping changes](https://github.com/ChilliCream/hotchocolate/issues/3043).  The current change I'm sorting through

[2021-02-14 20:52] roji commented on #24152
@atrauzzi we really need runnable code samples to investigate. Please try removing Hot Chocolate and narrowing things down until you get a minimal repro.

[2021-02-14 20:57] atrauzzi commented on #24152
I don't think Hot Chocolate is being invoked at any point here.

[2021-02-14 21:19] koenbeuk opened #24153 "Implement relational expressions"
While working on a project, exposing an API through ODATA, where the API maps on top of a bunch of SQL Tables/Views/Functions. I got limited by what EF/OData could expose for me. In my example, the following was difficult to expose without some significant performance overhead:

[code]

In my example, MetricSinceLastStartDate now maps to a View that joins Stations with Metrics and filters based on

[2021-02-14 21:47] KanaHayama commented on #23269
The current log warning says: `Savepoints are disabled because Multiple Active Result Sets (MARS) is enabled. If 'SaveChanges' fails, then the transaction cannot be automatically rolled back to a known clean state. Instead, the transaction should be rolled back by the application before retrying 'SaveChanges'. See https://go.microsoft.com/fwlink/?linkid=2149338 for more information. To identify th

[2021-02-15 01:55] GearTheWorld commented on #24114
I would not expect a crash in the Output window like this but rather an intelligent behavior like anything in VS when something must be done on files they are automatically checked out.  Right now to use the tool we need to check out all the project involved for Reverse Engineer option in order to have the job done.

From: Erik Ejlskov Jensen <notifications@github.com>
Sent: February 13, 2021 1:49

[2021-02-15 02:39] EbrahimMajdey opened #24154 "Set and Join not working while working on EntityFramework 6"
Well I had a groupby query that doesnt work in entityframework core, I found that there is a limitation on core regarding the groupby queries so I changed it to 2 subqueries - one for keys and one for corresponding data. I tested it in regular entityframewok 6 and it is working fine .. but in core it doesnt

[code]
noting that this is simply can be exchanged with GroupBy but I made it this way for

[2021-02-15 05:45] ErikEJ commented on #24114
Thanks! Too long ago since I used TFVC, I think 😁

[2021-02-15 05:47] ErikEJ commented on #24114
Is your project a classic project or the new style SDK project?

[2021-02-15 07:59] anranruye commented on #24150
try
[code]

[2021-02-15 08:15] anranruye commented on #24126
This is the expected behaviour.

You should set the row version shadow property manually after attach the disconnected entity by:
[code]
However, you may need an additional query to get the rowVersion value:
[code]
An recommended workaround is to use field-only property rather than shadow property.

[2021-02-15 08:36] Buyani opened #24156 "MissingMethodException: Method not found: 'Boolean Microsoft.EntityFrameworkCore.Migrations.IMigrationsModelDiffer.HasDifferences(Microsoft.EntityFrameworkCore.Metadata.IModel, Microsoft.EntityFrameworkCore.Metadata.IModel)'."
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version

[2021-02-15 09:26] anri-vin commented on #20589
Is there any chance to see that fix in 3.1 branch? By the way it's an LTS release and should still get bugfixes like this one. I don't want to switch to 5.0 to get this thing working.

[2021-02-15 10:02] GearTheWorld commented on #24114
Sorry,  I'm not familiar with your terms
I simply have a Asp. Net core 5 web api with latest VS version and sdk of course

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Erik Ejlskov Jensen <notifications@github.com>
Sent: Monday, February 15, 2021 12:48:17 PM
To: dotnet/efcore <efcore@noreply.github.com>
Cc: Marc Roussel <geardoom3@live.com>; Mention <menti

[2021-02-15 10:28] msschl commented on #24150
This results in two `StationId` columns:

[code]

[2021-02-15 10:32] anranruye commented on #24150
@msschl
try remove
[code]

[2021-02-15 10:35] msschl commented on #24150
Still the same result

[2021-02-15 10:53] roji commented on #23269
@KanaHayama there is more information in the [doc page](https://docs.microsoft.com/en-us/ef/core/saving/transactions#savepoints) linked to from this warning.

If you perform multiple SaveChanges on a manually-managed transaction (which seems to be the case), EF Core by default uses savepoints; that way, if something goes wrong in a specific SaveChanges, anything already done in that SaveChanges ca

[2021-02-15 11:02] roji opened #24157 "Allow non-composable raw SQL queries for TPH non-root types"
In #18232, we allowed non-composable raw SQL queries for TPH root types, by eliminating the discriminator predicate when it is configured as complete. However, it is still impossible to use non-compsable raw SQL for querying non-root types.

I'm guessing that was discussed before, but... we could say that with raw SQL queries, it's the user's responsibility to write the SQL such that only the corr

[2021-02-15 11:03] anranruye commented on #24150
@msschl  Do you use lower case 's' for `.HasForeignKey("stationId")` ?

[2021-02-15 11:05] roji commented on #24156
It is very likely that you are mixing versions of EF Core in your csproj - make sure all version are aligned. If you're still having issues, please post the entire csproj so we can investigate.

[2021-02-15 11:06] msschl commented on #24150
Yes like you've suggested.

[2021-02-15 11:16] anranruye commented on #24150
@msschl Well, I can not reproduce this.

Can you check your migration ModelSnapshot file?

[2021-02-15 11:28] msschl commented on #24150
I have removed all migrations and created a new `InitialCreate` migration using `dotnet ef -p src\XYZ.Service.Importer.DegreeDays\XYZ.Service.Importer.DegreeDays.csproj migrations add -c DegreeDaysDbContext -o Persistence\Migrations\ InitialCreate`

dotnet-ef v5.0.3

[2021-02-15 11:28] Buyani commented on #24156
By aligning all versions you mean using 3.1 version only fot he following
pacjkages :

Install-Package Microsoft.EntityFrameworkCore -Version 5.0.1
Install-Package Microsoft.EntityFrameworkCore.Tools -Version 5.0.1
Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 5.0.1

For Identity Account
Install-Package Microsoft.AspNetCore.Identity.UI -Version 5.0.1
Install-Package Microsoft.As

[2021-02-15 11:31] roji commented on #24156
Either everything needs to be 3.1, or everything needs to be 5.0 - but don't mix 3.1 and 5.0 packages. If you need further help, please post your csproj.

[2021-02-15 11:34] msschl commented on #24150
Here is the snapshot:

[code]

and for completion again the entity type configuration and model:
[code]

[code]

[2021-02-15 11:52] Buyani commented on #24156
My File looks like this

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>

<UserSecretsId>aspnet-Template.Web-F408BCE4-9AC7-4F19-A779-0DA09EFD5A5C</UserSecretsId>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference
Include="AutoMapper.Extensions.Microsoft.DependencyInjection"
Version="8.1.1" />
    <PackageReference
Include="Microsof

[2021-02-15 12:05] roji commented on #24156
* Your Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore and Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore are at 2.2.0
* It's generally recommended to remove the <DotNetCliToolReference> nodes and install the EF Core tooling globally, [as in the documentation](https://review.docs.microsoft.com/en-us/ef/core/get-started/overview/install?branch=pr-en-us-3079#get-the-entity-framework-core-

[2021-02-15 12:56] roji commented on #24049
I'm not sure what you're referring to exactly - is this an attempt to run [my repro](https://github.com/dotnet/efcore/issues/24049#issuecomment-775238558) on your SQL Azure? The error seems to point at a wrong connection string or similar...

In any case, I spun up an instance of SQL Azure (single, non-managed), ran my repro against it and just got the exception as expected - no hang or visible me

[2021-02-15 13:00] roji commented on #24122
@r-aghaei we've discussed this, and think it could have some value as a feature - am putting this in the backlog.

Some notes:
* There are various difficulties with this, e.g. how to distinguish between a concurrent update failure (where the concurrency token causes an update/delete to fail) and the update filter doing its job.
* As this seems to basically be an optimization for a specific disconn

[2021-02-15 13:09] roji commented on #24053
@navid-dada your code sample doesn't work for the following reasons, which are unrelated to the Win32Exception:
* The sample uses the InMemory database, which isn't a relational (SQL) database and therefore does not support migrations. Switch to Sqlite, SQL Server or similar to test.
* Your TestDbContext doesn't have a parameterless constructor, so the design-time tools (e.g. `dotnet ef migrations

[2021-02-15 13:09] GearTheWorld commented on #24114
;) Don't worry, I face new things almost every day!

From: Erik Ejlskov Jensen <notifications@github.com>
Sent: February 15, 2021 12:46 AM
To: dotnet/efcore <efcore@noreply.github.com>
Cc: Marc Roussel <geardoom3@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/efcore] EF Core Power tools / Reverse Engineer crashed (#24114)

Thanks! Too long ago since I used TFVC, I think 😁

—

[2021-02-15 13:48] anranruye commented on #24150
Then you can see here:
[code]
and your `Station` configration:
[code]

[2021-02-15 14:03] msschl commented on #24150
Oh yes, sure. I totally forgot about the foreign key configuration in the Station... 🤦🏽
Closing as it works now.

Thanks @anranruye 👍🏽

[2021-02-15 14:32] kinetiq commented on #24049
@roji  I ran your code as-is, and it includes an invalid connection string. I assumed you were trying to make an exception happen. Do you want me to modify your code to run against my own context and so on?

As for whether this is an issue with my application - it may be. But what could we have done that would cause this exception to hang and also cause a memory spike that takes down the server? I

[2021-02-15 15:13] roji commented on #24049
@kinetiq my code has my own connection string - yes, you'd need to adapt it to run against your environment (it's very unlikely the original issue we're discussing has anything to do with the connection string). The point is to try to put together a minimal repro which reproduces the error, to help you pinpoint where the problem is coming from.

Regarding what may be wrong with your app - I can't

[2021-02-15 15:43] AndroidEFCoreLover commented on #24094
I switched the last to `false`, and then on creation of each context, I enable loading of extensions, and load the `.so` we need.
Did a round trip on point geometry on android.

[2021-02-15 16:09] GorgeousPuree commented on #13805
Will this ever work?

[2021-02-15 17:00] Tommigun1980 commented on #13805
Please. The lack of this feature is extremely limiting, and it's such a common use case that I would assume it to be supported.
Thank you for considering!

[2021-02-15 17:01] r-aghaei commented on #24122
Great! Makes sense, thanks for the update 😊.

[2021-02-15 17:43] roji commented on #24056
@ElmirSecerbegovic there's nothing in your repro that looks immediately wrong - I also let an HTTP benchmarking tool bombard the application in parallel and got 100% OK results.

Can you please confirm whether you can see the issue occurring with this repro? What we need is a way to see the error that you're seeing.

PS On an unrelated note, your application doesn't make use of DI for EF context m

[2021-02-15 17:44] roji commented on #24056
One more thought - I'd try reproducing the issue on your side, with your production app, on a separate/new machine. There may be something environmental or setup-related with your machine that's causing this.

[2021-02-15 18:47] ErikEJ commented on #24114
I have made some changes to integrate added files better in the latest daily: https://github.com/ErikEJ/EFCorePowerTools/commit/32522f459092a5c05f9a610fe7dcba93fd21984b

[2021-02-15 19:58] MikeYeager commented on #22842
I'd like to add that we just ran into something very similar. In our case a dev ran the scaffolding with a login that had limited permissions. It ran, but didn't generate the usual warnings about bools with default store value of true and to consider using nullable CLR types. (Which is a nasty problem covered in dozens of issues already). In any case, he didn't notice tested his code, did his chec

[2021-02-15 20:00] msschl commented on #23269
So it seems like I am just as confused as @KanaHayama,

...it means when in a **specific** `SaveChanges` something goes wrong, anything in that **specific** `SaveChanges` can be rolled back.
However, when I don't want to continue and rather want to rollback the entire transaction, there is no need for the savepoint feature, or is there?

So this should be totally valid and work as expected?
[code]

[2021-02-15 20:18] roji commented on #23269
Yes, that's correct; if upon failure of any specific SaveChanges, you want to roll back the entire transaction, then savepoints indeed aren't helpful and can be disabled. Savepoints can help in case you want to retry individual SaveChanges within a transaction.

Specifically regarding the code above... If you want to have a maximum saving batch size, you can simply configure EF Core to do that for

[2021-02-15 20:25] msschl commented on #23269
Thanks @roji,

so in my case I have to disable the warning.

[2021-02-15 20:42] KanaHayama commented on #23269
Thank you @roji !

From the explanation above. disabling this warning is what I need. Hope this warning message can be updated. And I just found `SavepointsDisabledBecauseOfMARS` is a member of `SqlServerEventId` not `RelationalEventId` as in the warning message.

[2021-02-15 20:44] roji commented on #23269
@KanaHayama yes, this has already been fixed in #24020.

[2021-02-16 01:30] douglasg14b commented on #16355
Odd that this is shown as fixes in 3.0

I'm on 3.1 and experiencing this issue. I have 1 deleted entry, and 1 added entry and EF Core 3.1 sends an update instead which results in a `Database operation expected to affect 1 row(s) but actually affected 0 row(s)` exception.

[2021-02-16 06:40] Qvijaypatil opened #24162 "Relation virtual properties are getting saved as NULL in Ef Core v 3.1.2, It used to work in 2.2.6"
## File a bug
DB Context object has values see the following screen shot
![image](https://user-images.githubusercontent.com/48548660/108026286-0fd04700-704e-11eb-877b-7c17a9618af4.png)

after db.Savechanges() values of virtual properties are getting saved as NULL

Find the database entries as below

![image](https://user-images.githubusercontent.com/48548660/108026500-73f30b00-704e-11eb-9a53-4d16e

[2021-02-16 06:45] lukenuttall opened #24163 "Marshalling code generator warning when building net native UWP app referencing Microsoft.EntityFrameworkCore.Sqlite"
I'm getting marshalling code generator warnings when I include the Microsoft.EntityFrameworkCore.Sqlite nuget package version 3.1.12 (or 3.1.6) and build using net native for windows store deployment.

The binaries pass the WACK tool and can be deployed to the store, but I'm unsure whether we are doing something wrong or the package needs extra things in it's dllimports.

Is this likely to actuall

[2021-02-16 08:01] ElmirSecerbegovic commented on #24056
We also believe that issues is couse different environment. We are using Centos 8.2 on arm64 (AWS Graviton processors). While we was on Centos 7 and linux x64 processor same code was running fine.

[2021-02-16 08:12] roji commented on #24056
@ElmirSecerbegovic this could conceivably be a runtime issue related to ARM somehow - though it's odd that the stack traces are purely managed (no visible native issue). Can you please try to put together a console program which reproduces this, by looping and running the same logic again and again (possibly over multiple tasks/threads)? Once we have such a program, I can confirm the issue on my s

[2021-02-16 08:49] JMadle commented on #19726
Please can the fix applied in 6.0 be applied to Core 5.0 urgently; this issue is preventing us from upgrading our major product to .NET5/EFcore5 (hundreds of Integration Tests that were successful in EFcore3.1 now fail and we can find no workaround for this issue).

This is a regression from the previous version of EF Core and therefore either a bug or a breaking change (without workaround).

[2021-02-16 08:53] BaerMitUmlaut commented on #19726
@JMadle as you can see from the OP, this bug happens in 3.1, too. You might be experiencing a different bug?

[2021-02-16 11:01] roji opened #24164 "Apply concurrency detection to transaction management"
We don't currently have concurrency detection around transaction operations.

[2021-02-16 11:26] JMadle commented on #19726
Error is same "_Value cannot be null. (Parameter 'bindings')_" and repro is as per top of page.

It worked for us previously in 3.1 as we did not need the _ternary if_, but in 5.0 we get “_Nullable object must have a value_” exception without adding the ternary, for example:

In 3.1 we had:
[code]
In 5.0 we need:
[code]
Child and GrandChildren are both permitted to be null in our model.

So it see

[2021-02-16 12:36] ElmirSecerbegovic commented on #24056
Also, if we upload the new versions of files and on systemctl restart app.service we are getting next error

System.NullReferenceException: Object reference not set to an instance of an object.\n
at Microsoft.EntityFrameworkCore.Metadata.Internal.ClrAccessorFactory`1.Create(MemberInfo memberInfo, IPropertyBase propertyBase)\n
at Microsoft.EntityFrameworkCore.Internal.DbSetFinder.<>c__DisplayClass2

[2021-02-16 12:56] ErikEJ commented on #22842
@MikeYeager I added a warning dialog to EF Core Power Tools to address this: https://github.com/ErikEJ/EFCorePowerTools/blob/master/src/GUI/EFCorePowerTools/Helpers/ReverseEngineerHelper.cs#L30

[2021-02-16 13:07] J-Yen opened #24165 "Loading entity from DB does not properly load owned entities (In SQL Server Provider)"
**Description**
When loading an entity from the DB, some owned dependent types are not fetched correctly using the SQL Server Provider. It happens when there is an owned dependent that itself references one or more owned dependents, but has no other primitive properties with a value.

**Expected behavior**
Owned types should always be fetched when one or more nested properties have a value.

**Cod

[2021-02-16 13:07] J-Yen commented on #23198
https://github.com/dotnet/efcore/issues/24165

[2021-02-16 13:08] J-Yen commented on #23687
Similar issue but with SQL Server Provider: https://github.com/dotnet/efcore/issues/24165

[2021-02-16 13:26] bachratyg opened #24166 "ArgumentNullException when comparing niladic functions"
When using niladic functions query execution may throw an ArgumentNullException.

I think the bug is here: https://github.com/dotnet/efcore/blob/v5.0.3/src/EFCore.Relational/Query/SqlExpressions/SqlFunctionExpression.cs#L389  Null check missing for the Arguments property.

Seems like this was already fixed in #23296 for v6 but still an issue for v5.

### Repro code

Project.csproj
[code]

Program.

[2021-02-16 13:37] jdbriaris opened #24167 "HasDefaultValue sets value even when it is provided"
## File a bug

Believe this may have been hinted at before [here](https://github.com/dotnet/efcore/issues/23093). I'm using

[code]

I have defined an entity containing a column `PathHeadingDefinitionPoint` which is an enumeration, i.e.,

[code]
where

[code]

I have setup the configuration for this as follows

[code]
The SQLite table is constructed as follows

![image](https://user-images.githubu

[2021-02-16 13:55] kinetiq commented on #24049
Ok, got it, thanks for the clarification, and thanks for sticking with me on this. I ran this again and made the necessary changes, touching as little as possible. I am running this in a controller action.

It crashed as expected, however, but it hung for _53 seconds_. The exception looks normal to me (see below).

What should I try next? Maybe the same code in a new solution, and try to isolate w

[2021-02-16 14:49] roji commented on #24135
I looked a little deeper.

First, apologies - I missed that this repro was using EF Core 3.1. The analyzer in that version has some known issues and was rewritten precisely for performance in 5.0 (#19648). I've changed the repro to use EF Core 5.0 and things unsurprisingly look much better. @Alirezanet @dasMulli you're going to have to use the alpha 5.0 version of the Pomelo MySQL provider, or wai

[2021-02-16 14:59] roji commented on #24049
@kinetiq just to be sure we're on the same page, you're confirming that you ran my minimal repro code from [here](https://github.com/dotnet/efcore/issues/24049#issuecomment-775238558) against SQL Azure - as a console program (without embedding it in a web project, IIS or anything else - and the console program hung for 53 seconds?

[2021-02-16 14:59] smitpatel commented on #24166
Can you share a real LINQ query example where this is blocking?

[2021-02-16 15:06] smitpatel commented on #19726
@JMadle - It is not a bug, it is incorrect LINQ query causing it. If `Child` is null for the parent then `p.Child` will be null and `Id` on it will be undefined (or null in database). You want us to assign that to `Id` property in newly created Child which takes only `int` values. That value is not defined hence the error. You would either need ternary check before creating new child or define a d

[2021-02-16 15:06] MalgorzataG26 opened #24168 "Loading entity from DB does not properly load owned entity if one of it's properties is null"
## Description
When loading an entity from the DB, some owned entities are not loaded correctly if nullable property is null. We have class First, which has property of type Second. If id in Second is not null, the Third property is loaded, but if id is null, Third is also returned as null.
When we run generated query in database, everything is returned correctly.
[code]
Configuration:
[code]

EF

[2021-02-16 15:07] #23926 closed

[2021-02-16 15:07] #23889 closed

[2021-02-16 15:20] msallin opened #24169 "Question: Troubleshoot slow SQL query which is fast on the SQL server"
We have the case of slow SQL queries which are fast on the MSSQL server.
The best example to show this is the health check. We use EF Core and the health check (which performs a `SELECT 1`).
The health check gets called every 10s by Kubernetes. We have cases in which the duration of this check is >1s.
We are unsure where the problem is and hope for hints into the right direction which help us to f

[2021-02-16 15:22] jdbriaris commented on #24167
removing the `HasDefaultValue()` from the configuration, i.e.,

[code]

and applying the default direct in the migration

[code]
(Note: the migration looks identical to that created with `HasDefaultValue()` other than I typed in `"OriginNode"` for `defaultValue`) gives the desired behaviour. It appears the use of `HasDefaultValue()` is having unintended consequences within database context use?

[2021-02-16 15:30] kinetiq commented on #24049
No, not in a new console program, I ran this in my existing app, in a controller action.

Want me to run it in a console program?

[2021-02-16 16:00] roji commented on #24049
Yes, that would tell us whether the problem is in your existing app or not. If the console program works correctly, the problem is somewhere in your application, probably in the way it handles exceptions or similar.

[2021-02-16 16:01] roji commented on #24169
@msallin can you reproduce this in a minimal code sample, ideally a console program?

[2021-02-16 16:16] msallin commented on #24169
We were not able to reproduce this locally so far.

But we were able to do it using the following code (Linux container, and running on our OpenShift cluster, like our other applications where we see this problem).

At the end, this is probably a infrastructure problem. However, what we also did was to create a docker container with sqlcmd and execute a `SELECT 1` all few sections. There we never

[2021-02-16 16:27] JMadle commented on #19726
Thanks @smitpatel but that code was successfully parsed in EF2.1, 3.0 and 3.1 without the ternary in our code for the last 2 years. Adding the ternary to check for the null (as seems to be required in EF5 and shown in my example above) results in the bug which this whole page relates to. To me this is a breaking change without a workaround, it is blocking us from upgrading to .NET5/EF5

[2021-02-16 16:33] ajcvickers commented on #24037
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2021-02-16 16:36] ajcvickers commented on #24073
Note from triage: we will consider this once there is a concrete case of the comment attribute being consumed by something other than EF Core.

[2021-02-16 16:42] ajcvickers commented on #24121
@cap7ainjack It looks like OData is executing two async queries, but is not awaiting the first query before executing the second. However, to confirm this we need to be able to reproduce what you are seeing. Please attach a small, _runnable_ project or post a small, _runnable_ code listing that reproduces what you are seeing so that we can investigate.

[2021-02-16 16:42] ErikEJ commented on #24073
I re-read the OData comment now, and based on that, I will remove it from being generated with Power Tools, as you can always use the XML comments for documentation.

[2021-02-16 16:43] ajcvickers commented on #24128
Discussed in triage and decided to keep the translation simple here.

[2021-02-16 16:52] ajcvickers commented on #24162
@Qvijaypatil There isn't enough information above for us to be able to reproduce this. Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2021-02-16 16:56] ajcvickers commented on #24167
@jdbriaris This is covered in the documentation here: https://docs.microsoft.com/en-us/ef/core/change-tracking/miscellaneous#working-with-default-values

[2021-02-16 16:59] ajcvickers commented on #24169
@msallin What does EF Core logging report as the query execution time?

[2021-02-16 17:07] smitpatel commented on #19726
@JMadle - This issue tracks throwing better exception than ArgumentNullException. The query is not translatable without client eval of projection. Your query is failing not because of Select part, even if you remove it (which is covered in this issue), it will still throw error because `p.Child.Id` is null in database and you are asking us to assign it to `int` property, which is not possible. It

[2021-02-16 17:15] mehdipanjwani-ains commented on #19842
This could happen if you do not implement Async operation all the way up.

[2021-02-16 17:20] ajcvickers commented on #24124
@lowds The `if` line that you reference is an optimization for a specific case where there is one parameter and it is the DbContextOptions. The general case is `ActivatorUtilities.CreateFactory(typeof(TContext), new Type[0]);`, which uses the D.I. system to resolve dependencies. The D.I. system has limitations with multiple constructors--see https://docs.microsoft.com/en-us/dotnet/core/extensions/

[2021-02-16 17:23] jdbriaris commented on #24167
@ajcvickers Thanks. I'm just slightly confused then as it states in the link _"EF Core will only use a default from the database if no value has been explicitly set."_ However, as far as I can tell I'm explicitly setting the value in code when adding the entry to the database, but it continues to use the value generated from the database., i.e., when doing

[code]

it ignores that fact that I've s

[2021-02-16 17:28] msallin commented on #24169
You mean the logs we get from the `LogTo(Console.WriteLine...`?

We haven't turned this on in our real applications. In the repro (code above) it logged always the whole time taken (i.e. Indicated that the time isn't lost somewhere else, that's why we turned in on in the repro).

[2021-02-16 17:29] ajcvickers commented on #24093
@Plasma We have investigated such an interception point before and run into two main problems. First, calling this after each entity instance is materialized, which is something we plan to do, (see #15911) but this isn't very useful for graph processing since related entities will not yet have been loading. Pushing this even further out is problematic because EF Core doesn't control how the applic

[2021-02-16 17:43] ajcvickers commented on #24157
@smitpatel to find general issue.

[2021-02-16 17:47] ajcvickers commented on #24165
@smitpatel to de-dupe

[2021-02-16 17:48] ajcvickers commented on #24168
@smitpatel to de-dupe.

[2021-02-16 17:50] kobruleht commented on #24157
Posted also in  https://www.postgresql.org/message-id/c18b027c-4629-58a5-a499-64dc8a233e8f%40hot.ee

[2021-02-16 18:07] dasMulli commented on #24135
Thanks @roji for analyzing that!
The issue just caught my attention b/c i was looking into our analyzer build performance previously. As mentioned, our project is fine with migrations being in their own projects with analyzers disabled causing minimal build impact (both due to no analyzers and up-to-date checks for inner loop perf).

[2021-02-16 18:12] jmarolf commented on #24135
@roji yes, those results match what I am seeing.

[2021-02-16 18:42] cheenamalhotra commented on #19842
Hi.

We later got it reproduced and fixed this issue in [Microsoft.Data.SqlClient v2.1.0](https://www.nuget.org/packages/Microsoft.Data.SqlClient/2.1.0) (PR https://github.com/dotnet/SqlClient/pull/796) please give it a try.

[2021-02-16 18:43] smitpatel commented on #24157
Related #21888

[2021-02-16 18:45] smitpatel commented on #24168
Duplicate for #23564

[2021-02-16 18:46] smitpatel commented on #24165
Duplicate of #23564

[2021-02-16 18:47] roji commented on #24135
@jmarolf thanks for confirming :+1: FWIW I ran the same builds under Linux on the same machine I used for Windows above, to see if there's a pure OS difference, and I got the same results.

At this point I think this should be closed as a duplicate of #19648. I can investigate further perf improvements in the EF analyzer, but I suspect any gains would only be visible in this kind of extreme case,

[2021-02-16 18:47] roji commented on #24135
Duplicate of #19648

[2021-02-16 18:51] bachratyg commented on #24166
This is a bit closer to a real-life query, runnable on any Oracle instance:
csproj
[code]
program
[code]
Expected command text: `SELECT USER "Creator", USER "Updater" FROM "DUAL" "d"`
The exception happens when two projection members have the exact same expression or the left part of the expression tree is the same up to the point where the comparison hits the function expression e.g. this would a

[2021-02-16 19:41] japhelps opened #24170 "New Migration sets nullability incorrectly"
### What's happening
When using a supporting class for grouping properties the migration builder is not using the correct nullability for the columns.
The StartDate even though it is listed as non-nullable is generating a migration for nullable.

### Details
I have a DateRange class that has a StartDate and EndDate
[code]

It is included in the following class
[code]

The configuration for MyCoolO

[2021-02-16 21:34] roji commented on #24049
I'm not sure I understand... are you saying that the long delay - which you originally opened this issue for - is because your dev database was being dropped? If so, then there doesn't seem to be an issue?

Otherwise, if you're still seeing an unexplained delay but the minimal code sample I provided does not reproduce the problem, you're going to have to work on a minimal code sample on your side.

[2021-02-16 21:53] kinetiq commented on #24049
No, this only pertains to your sample code. My application still has the original problem.

So, to recap, here's what I've tried:
 - I recreated the original problem from production in dev, and the slow-down still occurs.
 - I used the code you gave me as-is in dev, and that obviously results in a login failure. You told me to target my actual database server and to try it in a console application

[2021-02-16 22:24] ajcvickers commented on #24167
@jdbriaris `PathStart` is the CLR default for the enum type. The docs I link show patterns for dealing with this.

[2021-02-16 22:38] roji commented on #24049
Apologies for your dev database, I did not intend for that sample to be executed against a database with actual (important) contents.

I understand the situation. It seems that you have (a) my code running within your dev project, without any delay, and (b) other code running within that same project, producing the delay. At this point you'll need to find exactly what is happening in (b) to trigge

[2021-02-16 22:41] smitpatel commented on #24112
https://github.com/dotnet/efcore/blob/843e35bed61224dbc51bf4cef108eaf744ffc08a/src/EFCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L1911-L1919

Comments declare variable of type `sql_variant` but still uses string type mapping to print out. `sql_variant` is incompatible with `(n)varchar(max)` so such casting generate invalid SQL. Further the limitation on sp_addextendedproperty valu

[2021-02-16 22:51] ajcvickers commented on #24153
@koenbeuk This is closely related to #20339, so we are going to track there with a reference back to this issue for additional context.

[2021-02-16 22:52] ajcvickers commented on #20339
See also discussion in #24153

[2021-02-16 22:53] ajcvickers commented on #24154
This issue is lacking enough information for us to be able to find the root cause. Please attach a small, runnable project or post a small, runnable code listing that reproduces what you are seeing so that we can investigate.

[2021-02-16 22:53] smitpatel commented on #23858
Re-sending this back to triage. This is not a regression from 3.1. The same bug existed in 3.1. Double converts are generated by VB only, C# doesn't generate them. Making this query work is not minor bug fix, it is more detailed enhancement which can be risky.

[2021-02-16 22:55] ajcvickers commented on #24163
@lukenuttall In general EF Core doesn't work with .NET Native. We are watching with interest how the various U.I. platforms develop. Given all the issues we have had trying to create a good experience for UWP together with internal usage data, we have currently put UWP work on the backburner.

[2021-02-17 06:50] eduard-bystrov opened #24171 "Why isn't the Activity API used to track diagnostic events?"
like for example in [HttpHandlerDiagnosticListener](https://github.com/dotnet/corefx/blob/b8b81a66738bb10ef0790023598396861d92b2c4/src/System.Diagnostics.DiagnosticSource/src/System/Diagnostics/HttpHandlerDiagnosticListener.cs#L594).

[2021-02-17 07:18] roji commented on #24171
Related: https://github.com/dotnet/runtime/issues/22336
Posted for SqlClient as well: https://github.com/dotnet/SqlClient/issues/917

[2021-02-17 08:41] navid-dada commented on #24053
@raj your point about the InMemory database is right but my CLI did not work at the first stage to run the ef command and It can not go further step to validate my project structure, so I think we must concentrate on the ef command execution stage.
I have another production-ready project which using SqlServer database but it throws that Wn32Exception.
Also, about my hard drive and storage, this sa

[2021-02-17 09:01] roji commented on #24053
@navid-dada we still need a minimal code sample that produces the exception. Even if the exception happens at a very early stage, that would be sufficient as a repro for us to investigate, assuming we can see the same thing happening here.

Since the vast majority of users are successfully using these tools, I suspect there's some sort of environmental issue specific to your machine (or similar).

[2021-02-17 09:12] MaximMikhisor opened #24172 "FK shadow properties in iOS/Android AOT release version in Xamarin have wrong values"
## Description

### Model

[code]

### Code to get ChangeTracker.DebugView.LongView

[code]

### Console application debug/release versions

Console application on Windows work as expected without any bugs. It works both in release and in debug version.

Result of `ChangeTracker.DebugView.LongView`:

<img width="400" alt="Console" src="https://user-images.githubusercontent.com/40904997/108180177-5

[2021-02-17 09:21] roji commented on #24091
@cubikca which exact Linux distribution and version are you using? Everything seems to be working fine for me on Ubuntu 20.04 after following the [installation instructions](https://docs.microsoft.com/en-us/dotnet/core/install/linux-snap).

[2021-02-17 09:33] roji commented on #24091
It seems that libicu67 is required - I have that installed and the snap works. This is also explicitly stated in the [installation docs too](https://docs.microsoft.com/en-us/dotnet/core/install/linux-scripted-manual#deb-dependencies). You said you have libicu66 installed (which is the default for 20.04), can you please try installing that and confirm whether that works (`sudo apt install libicu67`

[2021-02-17 09:38] cap7ainjack commented on #24121
As I mentioned this is accomplished via testing tool which sends around 200 request in minute in a half for example. I suppose you do not need this as well?

[2021-02-17 11:20] r-work opened #24173 "Intercept model initialization"
Is it possible to do some model initialization when:

1. Model is instantiated but before data is written to it.
2.  After data is being written to it.

A small example would be something like the following:

[code]

[2021-02-17 11:21] WolfspiritM opened #24174 "Support setting implementation type for DbContextFactory"
Currently we're handling Migrations for two different data providers similar to how it is suggested here:
https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers?tabs=dotnet-core-cli

And we use configuration to switch between the two implementations via:
[code]

This works fine so far but with the new AddDbContextFactory this doesn't seem to be supported anymore.
This doesn

[2021-02-17 14:47] ErikEJ commented on #7586
The enhanced search should cover 1 and 2, and Read Only maybe be implemented by adding HasNoKey() in OnModelCreatingPartial.

[2021-02-17 15:30] ajcvickers commented on #24121
@cap7ainjack Ideally we need to be able to reproduce the failure you are seeing with as little additional code as possible.

[2021-02-17 15:32] ajcvickers commented on #24173
@r-work Can you provide some more details on how this would be useful?

[2021-02-17 16:15] r-work commented on #24173
@ajcvickers this would be similar to **EntityLoading** and **EntityLoaded** which is mentioned [here](https://github.com/dotnet/efcore/issues/626), however that issue is about 7 years old, so I presume that's not going to be implemented.

My use case is pretty much the same as what has been described in that issue (copy & paste):

**EntityLoading**:
After object instance is created but before its

[2021-02-17 16:53] ajcvickers commented on #24173
@r-work These are covered by #15911 and #10789.

[2021-02-17 18:20] dpihac opened #24175 "Migrations: table rename throws an exception"
I have created new migration which produced following code.
Table is to be renamed from `Image` to `Images`.

[code]

After running `update-database`, following exception was thrown:

[code]

I tried to run the T-SQL on the target DB to make sure

`EXEC sp_rename N'[Image]', N'Images';`

Following error was reported back:

[code]

### Workaround

Following T-SQL code is workaround:

`EXEC sp_renam

[2021-02-17 20:19] roji commented on #21663
Design discussion:

* If we suppress NRE warnings in EF-rooted expression trees, we risk suppressing real warnings for code that will get client-evaluated
* It is not possible to reliably identify client-evaluated code; the top-level select is only one instance, but it is possible for earlier operators to contain bits that will end up being client-evaluated as well.
* As such, we will make no atte

[2021-02-17 20:34] Youssef1313 commented on #21663
@roji With the current Roslyn APIs, I can't see a way to have a suppression disabled by default to be opt-in. But that sounds like a reasonable feature request for Roslyn. Opened https://github.com/dotnet/roslyn/issues/51278 for that in Roslyn.

[2021-02-17 20:45] roji opened #24176 "Change-tracking bulk update/delete operations"
#795 tracks bulk update/delete operations which execute directly on the database and completely bypass the change tracker. This issue proposes similar bulk operations which do update the change tracker, to keep it in sync with the changes applied to the database.

Both update and delete include a predicate (i.e. which entities to update/delete); allowing arbitrary expressions in the predicate coul

[2021-02-17 20:51] roji commented on #795
Split the change-tracking bulk operations out to #24176, this issue now tracks only the versions which completely bypass the change tracker, and execute immediately.

An additional concern I ran into: the UPDATE syntax allows properties to be set to their database DEFAULT value. We need to provide a way for users to express that. We should confirm whether C# `default` gets represented as a "Defaul

[2021-02-17 20:54] roji commented on #21663
@Youssef1313 the suppressor can simply decide not to call ReportSuppression based on some flag in .editorconfig or elsewhere, no?

[2021-02-17 20:55] roji commented on #21663
A quick look seems to show that a suppressor cannot report new diagnostics, nor mutate existing ones - only suppress.

[2021-02-17 21:11] vukasinpetrovic opened #24177 "Recursive Common Table Expression like in SQL"
I was searching for a recursive SQL CTE (Common table expression) in EF Linq for couple of days, but I couldn't find it. My current implementation, and only options for now, is custom SQL that is executed on dbContext via .FromSqlRaw(mySqlStringWithCte). Is there any way to do it via Linq syntax in order to avoid plain SQL or stored procedure (whole project is in Linq)?

My purpose for recursive S

[2021-02-17 21:15] roji commented on #24177
Duplicate of #2865

[2021-02-17 21:15] roji commented on #24177
EF doesn't currently support translating to CTEs, for now you indeed have to use raw SQL for these.

[2021-02-17 21:32] vukasinpetrovic commented on #24177
@roji Thank you for quick response. Do you plan to implement that feature soon?

[2021-02-18 00:20] cubikca commented on #24091
I built a fresh Ubuntu 20.04 VM and installed dotnet-sdk snap as per the linked instructions. However, I found it necessary to add the following to my profile:

[code]

Once I added this environment variable, dotnet ef command works fine on Ubuntu 20.04 with libicu66 installed. libicu67 doesn't appear to be available for 20.04. I note, however, that the instructions are missing this detail, or I'v

[2021-02-18 00:45] devhl-labs opened #24179 "Wrong path used with dots in -output parameter"
Using the output parameter in `dotnet ef migrations add ...` of `CocApi.Cache.Migrations` produces the following:

![image](https://user-images.githubusercontent.com/29644329/108287165-6033cb80-7158-11eb-8fb4-ddb367a22034.png)

I had already manually created the single folder. The nested folders were created by ef.

EF Core version: 5.0.3
Database provider: Npgsql
Target framework: .NET 5.0
Operat

[2021-02-18 01:35] zhanghaiboshiwo commented on #23870
Any plan to support MongoDB?

[2021-02-18 02:44] Obi-Dann opened #24181 "NRE in SplitQueryingEnumerable.Enumerator.Dispose() hides actual DbCommand failures"
Getting NullReferenceExceptions on any SQL failure, eg. timeout or invalid sql, instead of actual SQL exceptions.

Given I am trying to run that sql:
[code]

I get this exception:
[code]

Instead of getting
[code]

We were getting that issue in prod and it required some specific config to replicate it in a sample project:
- It should a `SplitQuery`
- Entity should have a query filter

I couldn't r

[2021-02-18 03:05] wangengzheng commented on #24081
@ajcvickers  I'm so sorry I'm late

**this is full stack trace**

System.InvalidCastException
  HResult=0x80004002
  Message=Unable to cast object of type 'System.Int64' to type 'System.Int32'.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Runtime.CompilerServices.CastHelpers.Unbox(Void* toTypeHnd, Object obj)
   at MySql.Data.EntityFrameworkCore.MySQLDatabaseCreator.<<HasTablesAsync>

[2021-02-18 03:06] wangengzheng commented on #24081
![image](https://user-images.githubusercontent.com/12171338/108299392-375d0780-7153-11eb-9808-a7969cc3fd5b.png)