[2017-07-18 07:08] lurumad opened #9194 "Using an object type as entity ID"
Hi,

I wonder if is possible to use value objects (complex types) as entity ID in EF Core.

Something like this:

[code]

Regards!

[2017-07-18 07:08] ErikEJ commented on #9188
@mfields3  It should actually return 8000 for nvarchar(4000) !

https://docs.microsoft.com/en-us/sql/t-sql/data-types/nchar-and-nvarchar-transact-sql

[2017-07-18 10:41] mfields3 commented on #9188
@ErikEJ It does return 8000, yet whoever wrote this CASE statement as part of scaffolding decided that when the length is equal to the maximum length of the field to return NULL.

Yet I believe as far as EF Core is concerned, the length of the string should be 4000, not 8000 nor MAX.
nvarchar(max) allows 2 GB. Yet the field is defined as nvarchar(4000) which uses 8000 bytes, yet has a max length o

[2017-07-18 12:06] gsGabriel opened #9195 "Alias limit"
Houston, i have an inssue.

My problem is the size of the ALIAS in the POSTGRESQL database (63 bytes). The query that EF CORE sets exceeds this limit. I have a table with a self-relationship and when I access the many levels of IdProcedimentoPaiNavigation the native limit of POSTGRESQL is exceeded in the query. But the problem is not the boundary of the mounted ALIAS, the problem is that since it

[2017-07-18 13:09] popcatalin81 commented on #9161
@ajcvickers I've so far encountered several disconnected scenarios where you:

1. Want store generated primary keys (and not Guids or something similar)
2. Don't want to rely on navigation properties to create the relations but instead on temporary Kyes (-1, -2...) to avoid serialization issues that will be created when serializing a graph with navigation properties, like circular references or du

[2017-07-18 13:37] kierenj opened #9196 "Projection covering child entities results in individual queries / value buffers"
I have a query as follows which maps related entities:

[code]

My issue is that the Roles, Claims and CredentialKeys collections come back as value buffers.  If I include `ToArray()` in the map expression, a sub-query is run for each of them, for each row.

Is there any way to achieve this kind of projection?

(If I don't project with `Select()`, I can still `Include()` all of the nested entities

[2017-07-18 13:52] roji commented on #9195
This should be fixed for 2.0.0, can you please give 2.0.0-preview2 a try and confirm?

[2017-07-18 14:41] ranouf commented on #5812
Hi,

I m using the version 1.1.2 and I still have the bug:

            var query = _userFavoriteRepository.GetAll();

            if (user.Role == Role.SuperAdmin || user.Role == Role.Manager)
            {
                query = query
                    .Where(uf => uf.Shop != null
                        ? uf.Shop.AllowedUserPermissions.Any(aup => aup.AllowedUserId == user.Id)

[2017-07-18 15:20] pakrym commented on #9192
Why do you need to change global logging level?

[2017-07-18 15:43] ajcvickers commented on #9192
@pakrym Because otherwise when people are using EF in non ASP.NET applications and hook into the logging they are missing a lot of messages that they expect to see. Beyond that, we don't even know of a way that they can ever start seeing the messages because there doesn't seem to be any way for them to dynamically change this later.

We're at least somewhat okay with this being an ASP.NET problem

[2017-07-18 15:50] pakrym commented on #9192
@ajcvickers when `AddCoreServices` get's called, do you know if you are in DI or non-DI environment?

[2017-07-18 16:01] ajcvickers commented on #9192
Hmmm. We made another small change to the way we hook up services which could mean this isn't needed anymore, at least for non-ASP.NET applications. I'll run some tests.

@divega Are you okay with debug messages not showing if you hook into EF logging in an ASP.NET application?

[2017-07-18 16:26] rainersigwald opened #9198 "The located assembly's manifest definition does not match the assembly reference. using ef-core pacages"
_From @Avielby on July 18, 2017 9:34_

I'm trying to add migration (using `dotnet ef migrations add init`), it builds successfully but than it occurs an Exception. something has to do with generic.Immutable assembly

**Error**:
[code]

_Copied from original issue: Microsoft/msbuild#2313_

[2017-07-18 16:27] smitpatel commented on #9188
The case statement is incorrect. It should return 8000. There seem to be no usefuleness of nulling out when length is maximum. When its `type(max)` SqlServer will return -1 anyway. I will make the change when I will get time to fix the issue.

[2017-07-18 16:35] ajcvickers commented on #9193
As stated in the other thread, for this to work on .NET Core requires support from SqlClient, which is tracked by https://github.com/dotnet/corefx/issues/18276

This issue will track support in EF Core. It may already work, with limitations, when running on .NET Framework. We should discuss in triage.

[2017-07-18 16:44] #9192 closed

[2017-07-18 17:48] maumar commented on #5812
@ranouf this looks like a different case - "must be reducible node" exception appears for lot of cases when we fail to correctly translate the query. Can you file a new issue, so we can track/triage is better?

[2017-07-18 18:48] ranouf opened #9199 "'must be reducible node' with multiple where conditions"
Hi,

I m using the version EF Core 1.1.2 and I  have the bug:

        var query = _userFavoriteRepository.GetAll();

        if (user.Role == Role.SuperAdmin || user.Role == Role.Manager)
        {
            query = query
                .Where(uf => uf.Shop != null
                    ? uf.Shop.AllowedUserPermissions.Any(aup => aup.AllowedUserId == user.Id)
                    : true

[2017-07-18 18:49] ranouf commented on #5812
Hi @maumar
https://github.com/aspnet/EntityFramework/issues/9199
Done

[2017-07-18 19:16] gsGabriel commented on #9195
ok, i can do this

[2017-07-18 19:20] bradmarder opened #9200 "Key attribute with multiple foreign keys breaks schema generation"
With the latest efcore 2 nightly bits, I came across this issue. I'm not sure why EF would not be able to determine the relationship given this schema.

[code]

[code]

The error doesn't occur if
1) The `Key` attribute is removed from `Post` and `User`
2) Only 1 navigation property is set

Note, this worked as expected in efcore 1.*

### Further technical details
EF Core version: 2.0.0-rtm-26360
D

[2017-07-18 19:21] smitpatel commented on #9200
dupe of #9180

[2017-07-18 22:39] maumar opened #9201 "Query: string concatenation where at least one operand in null translates to null, which is different than Linq to objects"
[code]

[2017-07-18 23:46] javiercn opened #9202 "Query: Exception when using Include on collection navigation for models also containing owned types"
Describe what is not working as expected.
An exception is thrown when trying to include the related elements on a many to many relationship.

Exception:
[code]

### Steps to reproduce
Query
[code]
Model

[code]

[code]

### Further technical details
EF Core version: Verification build for 2.0.0
Database Provider: SQL
Operating system: Windows Server 2012 R2
IDE: VS 2017 prerel

[2017-07-18 23:57] Jonatthu opened #9203 "Counting related tables and applying logic to count"
I have the next linq expression

`query = query.Where(x => x.ClientStatisticsWorkouts.Count(d => d.StatusId == 1) == 4 || x.ClientStatisticsWorkouts.Count(d => d.StatusId == 1) == 5);`

This generates

[code]

As you see this counts twice (of course).

I was trying to do it this way

`query = query.Where(x => new[] {20 , 40 }.Contains( x.ClientStatisticsWorkouts.Count(d => d.StatusId == 1)));`

Th

[2017-07-19 01:14] AndriySvyryd opened #9205 "Some navigations not discovered in a cyclical model"
[code]

[2017-07-19 01:16] javiercn commented on #9202
# Update
After playing a bit more with it, seems that the issue has to do with the MovieDetails owned type. Performing a projection on Movies where you skip the details makes the query succeed.

[2017-07-19 01:29] Spaceman1861 opened #9206 "Single row query throws System.OutOfMemoryException"
Hi Folks,

Im getting an exception when running a non async a query  on a single row with a column that contains a 20 mb xml object.

I was previously using async but went to non async due the size of the column and the way data is transfered for large cols.

Thanks for taking a look :)

[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 1.1.2
Database Provider:

[2017-07-19 01:54] Jonatthu commented on #9203
I'm going to close this one because anyway this query would be not good in performance...

[2017-07-19 01:54] smitpatel commented on #9206
The error is coming from SqlClient. Can you test against pure ADO.Net code and see if that works?

[2017-07-19 02:28] ajcvickers commented on #9205
@AndriySvyryd Thanks for investigating. We need to figure out ASAP if we want to take this in 2.0. Do you know what are the necessary conditions are to hit this--is it going to be common? Also, what are the workaround?
/cc @divega @Eilon Heads up that we may need to take a fix for this in 2.0.

[2017-07-19 02:40] ajcvickers commented on #9127
@smitpatel @bricelam I think it's clear that the change caused the regression, but I don't know why. 🐑 Can one of you explain to us mere managers. 😉

[2017-07-19 02:44] ajcvickers commented on #9202
@maumar Can you investigate this? It probably doesn't meet the bar for 2.0, but it would be good to pin down the conditions needed to hit it and whether or not there are any workarounds.

[2017-07-19 02:47] smitpatel commented on #9127
Perhaps...
From https://msdn.microsoft.com/en-us/library/d62kzs03(v=vs.110).aspx
File.Create(string) method Remarks

[2017-07-19 03:15] Spaceman1861 commented on #9206
I bashed up this console app. It runs fine.

[code]

[2017-07-19 03:16] Spaceman1861 commented on #9206
@smitpatel sorry forgot to tag you see above :)

[2017-07-19 03:17] mikeharder opened #9207 "Remove reference to NETStandard.Library.NETFramework"
`build\common.props` currently contains a reference to `NETStandard.Library.NETFramework`, to improve the developer experience when using VS 15.2.  This reference should be removed as soon as possible without degrading the developer experience, to align with other aspnet repos.

[2017-07-19 03:38] hjj5258 opened #9208 "about Modify and add EntityFramework"
How do you change the structure of the table? Is it new or modified?

[2017-07-19 03:53] nicholasyin commented on #6812
Consider a banking application where it needs to display a number of types of transactions, each of which has its own specific properties but also shares some common data with other types, in one page, with paging and sorting. This is a perfect case where translating the concat query into one union all statement would be needed.

[2017-07-19 08:42] carlosga opened #9209 "Customize constraint name generation on provider implementations"
Hello:

¿ What would be the best way to customize the constraint name generation ( for foreign keys, indexes, etc... ) on providers targeting servers with a given limit for identifiers ?,  for example, if i'm not wrong, PostgreSQL has a  63 bytes limit for identifiers.

I'm giving a try using custom conventions to rename the constraint when the default generated name exceeds the specific limit, bu

[2017-07-19 09:40] Edward-Zhou commented on #9166
@ajcvickers
Sorry for late response.
For the project, please check [https://github.com/Edward-Zhou/AngularWithCore](https://github.com/Edward-Zhou/AngularWithCore).
Steps:Build and Run the Project.
This line `  DbInitializer.Initialize(app.ApplicationServices).Wait();` will call the piece code.
If there is any problem, please let me know.

[2017-07-19 11:35] roji commented on #9183
@smitpatel, thank you very much for your comments. I've added some commits which hopefully address everything you said, I'd appreciate another quick look to make sure I didn't mess anything up.

Some points:

* You proposed implementing the array operation logic as an optimization (i.e. override `RelationalQueryModelVisitor.OptimizeQueryModel`), could you please elaborate on translation vs. optimi

[2017-07-19 12:39] gsGabriel commented on #9195
@roji Yes, it worked, I still can not identify the difference of the query because I'm not able to recover the sql in EF CORE 2, but I'm happy that it worked. I would like to congratulate you on the incredible work you are doing.

Thanks

[2017-07-19 12:55] roji commented on #9195
@gsGabriel great to hear you're good, and thanks for the kind words - although in this particular case it's an EF Core feature rather than anything I did specifically.

[2017-07-19 13:52] joehoeller commented on #6244
.IsModified() is not an option in .NET Core 1.1.1

[2017-07-19 13:57] javiercn opened #9210 "Owned type is not being included on a query that includes its owner type as a navigation property"
Describe what is not working as expected.
The owned type is not being included on a query that includes a navigation property of the owner type.

The PersonalInformation owned type on Artists is not being included by default when I execute the query below and causes a null reference exception later in my code.
Adding an explicit include  `.ThenInclude(a => a.PersonalInformation)` works around the

[2017-07-19 16:02] ajcvickers commented on #9208
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the information requested in the new issue template. Can you please provide this information?

[code]

Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down

[2017-07-19 16:41] ajcvickers commented on #9166
@Edward-Zhou Still can't get this to reproduce. Or at least, only in one case--with the code [in this comment](https://github.com/aspnet/EntityFramework/issues/9166#issuecomment-315254997), which has the existingData check removed, it will fail if the database doesn't have the existing data, but this is expected. With the check back in the code correctly puts new objects into the Added state and e

[2017-07-19 17:05] Eilon commented on #9205
Ok, let me + @DamianEdwards know if we end up wanting to take this.

[2017-07-19 17:42] salinaaaaaa opened #9212 "EF + EF Tools not working in .NET Core 2.0"
Ive upgraded and install EF Core 2.0 and ALL of its dependencies. The CLI Tool commands, like Add-Migration, Update-Database do not work.

`PM >  Add-Migration
Add-Migration : The term Add-Migration is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and
try again.
At line:

[2017-07-19 17:47] javiercn commented on #9202
# Update 2
I believe this issue gets triggered whenever you have an owned type and you perform an include for a navigation property on a query.

I was able to trigger the issue with the same model above and just this:

[code]

If I comment out the include the query just succeeds.

[2017-07-19 17:51] joehoeller commented on #9212
I found out it is due to a conflict with EF Core Identity

[2017-07-19 18:06] smitpatel commented on #9202
@javiercn - Can you run following query and see if it works?
[code]

[2017-07-19 18:10] ajcvickers commented on #9194
@AndriySvyryd Can you comment on this?

[2017-07-19 18:16] ajcvickers commented on #9201
Will triage when @divega @anpete are back. (I have no strong opinion if I am not here.)

[2017-07-19 18:18] ajcvickers commented on #9202
@AndriySvyryd @smitpatel @maumar Can you guys work together to investigate/create a fix. Based on info from @javiercn this may be something we need to fix in 2.0.

/cc @Eilon @divega

[2017-07-19 18:19] AndriySvyryd commented on #9194
@lurumad No, currently any constraints defined on an entity type (keys, foreign keys, indexes) can only use the properties defined on the type (or inherited).
Does this limitation block your scenario? If so, could you elaborate on why the ID needs to be on a separate type?

[2017-07-19 18:26] ajcvickers commented on #9212
@joehoeller Is this now working for you? If not, does restarting Visual Studio help?

[2017-07-19 18:39] anpete opened #9213 "DbFunctions: Consider allowing instance methods"
Currently, only static methods are permitted. Allowing instance methods is interesting because it can allow the method to contain a working in-memory impl. instead of it being a stub or throwing.

[2017-07-19 18:47] ajcvickers commented on #9198
@rainersigwald Can you provide more info about which packages/versions you are using? What does the csproj file look like? (This is likely due to using a mix of incompatible package versions somewhere.)

[2017-07-19 18:48] rainersigwald commented on #9198
@Avielby Can you answer those questions?

@ajcvickers I just moved this from its original home on the MSBuild repo; I don't know anything about the problem.

[2017-07-19 19:05] ajcvickers commented on #9209
@carlosga I think we need a way for providers to easily hook into this, like we did for alias lengths in query. Leaving this issue open to track that.

For now, the workarounds we came up with are:
* Use a custom convention, as you said, but be aware that custom conventions are currently internal because the API hasn't been finalized yet. We may break them in a future release.
* Manually configure

[2017-07-19 19:39] anpete opened #9214 "DbFunctions: Schema not specified when calling DbFunction in projection"
Seeing this on preview2; may be fixed in RTM..
[code]

[2017-07-19 21:09] pmiddleton commented on #9214
Do you have a repo example?

[2017-07-19 21:11] Thetyne commented on #4269
I have try successfully EntityFrameworkCore on Android Device and iOS Simulator.
But when i use nullable column on iOS device, it fall to Xamarin iOS limitation.
Why do it crash?

Stack trace when i had row in data table with nullable column:

And without nullable column:

[2017-07-19 21:14] pmiddleton commented on #9213
Currently if you provide a working implementation it will be used as a fallback when the method call can't be translated and EF tries to execute it client side.

[2017-07-19 21:15] bricelam commented on #9208
@hjj5258 You may want to read the [tutorial on Migrations](https://docs.microsoft.com/aspnet/core/data/ef-mvc/migrations).

[2017-07-19 21:30] pmiddleton commented on #9022
I have a working example of niladic functions implemented.  The question is if we want to add it in its current state.

The root problem is still not being able to directly query a function.  The information that the Sql Server niladic functions return does not seem to me to be very useful when combined with another query.  I don't want to query my Blog table just to figure out the Sql Server vers

[2017-07-19 21:50] pmiddleton commented on #9214
I can't repo on the latest code.  Where are you setting the schema; globally, via attribute, or HasSchema on the function?

[2017-07-19 22:04] smitpatel commented on #9183
@ajcvickers - Verified that all code needed to override is public and not in internal namespace.

[2017-07-19 22:07] teh-sHr0oMaN opened #9215 "Nullable Guid not persisted correctly when compiled with .NET native tool chain for UWP app"
In a UWP application, when an EFCore model containing a nullable guid (Guid?) property is saved to the local SQLite database, the value is incorrectly saved. This only occurs when compiled using the .NET native tool chain.

**Code**
Sample can be found here: https://github.com/teh-sHr0oMaN/NullableGuidEFCoreIssue

**Steps to reproduce**
Compile and run the sample UWP application in .NET native mod

[2017-07-19 22:24] pranavkm opened #9216 "dotnet ef scaffold does not sanitize type names"
1. Create a directory with a hyphen e.g. `ef-test`
2. cd `ef-test`. `dotnet new mvc -au Individual`
3. Run the `dbcontext scaffold ` command

Expected:
The root namespaces generated by scaffold sanitizes the project's root namespace like `dotnet new` does i.e. `namespace ef_test`

Actual:
The generated code includes `namespace ef-test` which fails to compile.

[2017-07-19 22:24] maumar commented on #9202
Problem happens for queries that include collection navigation that also contains owned type.  Problem is that when include compiler modifies query model for collection navigation, it makes a clone of it's part. When there are no owned types it's fine, however for owned types, when we try to determine what entity type corresponds to a given query source, we use a dictionary that maps from query so

[2017-07-19 22:35] smitpatel commented on #9183
@roji - Things looking fine. My badly phrased comment may have some confusion, I have clarified it on the PR.
To other questions here,
For most cases optimization vs translation has no visible effect. For certain cases it would make some difference in SQL though if implemented right then functionally it should give same & correct results.
A partial difference I know of is in TypeIs operator for wh

[2017-07-19 22:36] smitpatel commented on #9183
For 2nd one, it seems like bug in EF. I will investigate.

[2017-07-19 22:44] anpete commented on #9214
Not setting it at all. It should be defaulting to 'dbo'.

[2017-07-19 23:03] pmiddleton commented on #9214
Where are you expecting the default to be happening?  DbFunctions default to empty schema.  I have always seen the global schema default to empty as well.

[2017-07-19 23:32] anpete commented on #9214
Maybe this is just a new requirement based on how functions need to be called in TSQL?

[2017-07-19 23:59] teh-sHr0oMaN commented on #9215
Appears that the DBContext was missing an explicit statement that the CopiedFromPostId is not required.
See below:
[code]

[2017-07-20 00:01] ajcvickers commented on #9215
@teh-sHr0oMaN Was the IsRequired call only needed for .NET native?

[2017-07-20 00:39] pmiddleton commented on #9214
Adding a default of dbo for Sql Server makes sense.  I'm not sure the best way to do it.

We can add it during sql generation, but we need to key off of something.  Keying off of a null schema makes the most sense, but the built in IMethodCallTranslators are using null for schema.  They would have to change over to using a empty string.

Otherwise we would have to find a place in the dbFunction cr

[2017-07-20 00:56] smitpatel opened #9218 "Sqlite: DatabaseGenerated.Identity is ignored when on non-PK"
[code]
Creates migration
[code]
https://github.com/aspnet/Release/issues/189

[2017-07-20 00:57] smitpatel commented on #9218
Same for DatabaseGenerated.Computed

[2017-07-20 00:59] smitpatel commented on #9218
Fluent API configuration has no effect either.

[2017-07-20 01:03] smitpatel commented on #9218
This seems like issue overall and not just SQLite
Using SQL server
[code]
Still assigns identity to BlogId and no value generation to Inserted in migrations.
cc: @AndriySvyryd  @ajcvickers

[2017-07-20 01:05] hjj5258 commented on #9208
@bricelam Thank you for your help.

[2017-07-20 01:06] hjj5258 commented on #9208
@bricelam But the principle of migration is not clear

[2017-07-20 01:15] hjj5258 commented on #9208
@ajcvickers Thank you for your offer and help,This question is about the principle of database migration, but I don't know where the code is and how it works.
Thank you for your reply!

[2017-07-20 01:15] smitpatel opened #9219 "Docs: ConcurrencyCheck has no effect"
https://docs.microsoft.com/en-us/ef/core/modeling/concurrency

Setting concurrency check has no effect on generated migration.

@AndriySvyryd @bricelam - Is this expected behavior?

[2017-07-20 01:28] Edward-Zhou commented on #9166
@ajcvickers
Please follow below steps to reproduce this issue.
1. Clone my project,
2. Run my project, if the database does not create, please run add migration and update database
3.After running project, it will run below code and insert new test record.
`        private static async Task InsertTestData(IServiceProvider serviceProvider)
        {
            //add users
            var users = G

[2017-07-20 01:39] rynowak opened #9220 "DbSet doesn't contain items after calling Add"
This is based on the sample code from https://docs.microsoft.com/en-us/ef/core/saving/basic

There's an exception, but I don't think the exception is the bug. After adding a `Blog` to the `DbSet` the `DbSet` appears to be empty, and this is just the usual Linq exception message.

[code]

### Steps to reproduce

This uses the model code from https://github.com/aspnet/EntityFramework.Docs/tree/maste

[2017-07-20 01:51] AndriySvyryd opened #9221 "RevEng: Redundant ValueGeneratedNever for non-integer PK property"
Reproes for SqlServer and SQLite

[2017-07-20 02:02] AndriySvyryd commented on #9219
Concurrency checking is purely client-side. The user needs to ensure that the token is updated on every change either on the client or in the database through separate means.

[2017-07-20 02:20] rynowak opened #9222 "Related Entity Collection is null"
The collection of related entities on a model object retrieved from the dbcontext is null

This is based on the sample code from https://docs.microsoft.com/en-us/ef/core/saving/related-data

### Steps to reproduce

Uses entities defined at https://github.com/aspnet/EntityFramework.Docs/tree/master/samples/core/Saving/Saving/RelatedData/

[code]

[2017-07-20 02:51] hjj5258 commented on #9208
@ajcvickers @bricelam How does the EF compare the old and the new two models to determine whether it is new or modified?

[2017-07-20 06:04] Avielby commented on #9198
ya. so I've looked around and try things. Apparently i needed to change the `Microsoft.EntityFrameworkCore.Tools.DotNet` package to a newer version (from `1.0.0` to `1.0.1`).
here is my .csproj file:
[code]
Thanx :)

[2017-07-20 06:49] lurumad commented on #9194
Hi @AndriySvyryd

One of the main DDD principles when modeling a domain is SoC (Separation of Concerns). We should isolate our domain from infrastructure, This kind of Id's are related with persistence logic, in this case is related with EF Core. Imagine that I decided to change my single key of book to a composite key. In my example the meaning of the code would remain the same.

Regards!

[2017-07-20 07:01] popcatalin81 commented on #9194
@lurumad, based on the SoC principle, EF entities should not be part of the domain model. They are part of  a data access and part of a repository at best.

[2017-07-20 07:16] lurumad commented on #9194
You are totally right @popcatalin81 but I would like to avoid the mapping between the domain model and persistence model, yes I know it's not the right way, but sometimes the cost is expensive and sometimes I would to avoid separate models, but anyway, you are rigth ;)

Regards!

[2017-07-20 08:39] MSRiganti commented on #9193
Hi, my first destination was the correct one.
This issue have to be in [dotnet/corefx](https://github.com/dotnet/corefx).
Please read [dotnet/corefx#22324](https://github.com/dotnet/corefx/issues/22324), there is an explanation.

_If someone needs to reopen this one, so it doesn't bother me._ ;-)

[2017-07-20 10:57] Caskia opened #9223 "Query: ArgumentNullException when using ternary operator with null comparison in the test expression"
Hi,
   When use ternary operator in a linq statement, then throw ArgumentNullException.

#### Step to reproduce

- Event.cs
[code]

- Ticket.cs
[code]

- Linq
[code]

#### Further technical details
EF Core version: 1.1.2
Database Provider: Pomelo.EntityFrameworkCore.MySql
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-07-20 11:14] bessgeor opened #9224 "Missing "-Script" option in Update-Database tool"
### Description

There was the "-Script" option in EF6 allowing to generate migration SQL to inspect and manually execute instead of automatic execution. It is missing in EF.Core

[Screenshot](https://vgy.me/d9OyJ7.png)

### Technical details
EF Core version: 2.0.0-preview2-final
Database Provider: Pomelo.EntityFrameworkCore.MySql 2.0.0-preview2-final-10046, Npgsql.EntityFrameworkCore.PostgreSQL 2

[2017-07-20 11:25] bessgeor commented on #9224
Oh, sorry, missed that the parameter was replaced with a [separate command](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell#script-migration).

[2017-07-20 15:15] AndriySvyryd commented on #9194
@lurumad You can still get most of the benefits if you just keep the Id field private.
[code]

[2017-07-20 15:34] ajcvickers commented on #9193
As I said above, we are using this issue to track work in EF.

[2017-07-20 15:46] bradmarder opened #9225 "Table naming convention ignores DbSet name and defaults to Entity name"
Using the latest efcore 2 preview from myget, it seems EF under certain conditions is not using the name of the DbSet<> property name as the table name. This is not exactly a simplified example...but this is the gist.

[code]

In this case, I would expect the table generated to be called Posts... but instead it is using the singular version Post (the name of the entity). Unfortunately, I can't cre

[2017-07-20 16:08] ajcvickers commented on #9220
@rynowak This is by design. Queries on DbSets are always database queries, and so entities that have not yet been saved to the database are not returned. We have discussed various ways to change this many times over the years, but all of them have either big technical issues or involve a shift in thinking about EF that, at the time they were discussed, we decided not to make. Just FYI, you can use

[2017-07-20 16:13] ajcvickers commented on #9222
@rynowak This is by-design. EF will not initialize the Posts navigation property unless it is included in the query, and since there is no lazy loading it will not get lazily initialized.

[2017-07-20 16:22] ajcvickers commented on #9218
@smitpatel Are the properties marked as ValueGenerated.OnAdd in the model?

[2017-07-20 16:24] ajcvickers commented on #9223
@Caskia Can you post the full stack trace from the exception?

[2017-07-20 16:40] markrendle commented on #9033
I have a call in Startup.Configure that calls a helper function that runs `dbContext.Database.Migrate()` (in a try/catch) and a seed when the application is starting up.

It's _very_ annoying that `loop:` trying to add a migration from the command line runs the migration, which doesn't exist yet because I can't add it because `goto loop;`

[2017-07-20 17:22] bricelam commented on #5459
Microsoft.Data.Sqlite will support prepared statements in version 2.1.0. PR: aspnet/Microsoft.Data.Sqlite#388

[2017-07-20 17:22] smitpatel commented on #9218
@ajcvickers - Yes they are.

[2017-07-20 17:28] ajcvickers commented on #9218
That's really all those attributes mean. (Yes, the name is confusing, but it always has been--for example, even in EF 4.1 you could put "Identity" on a GUID property and it would work, but it would not be an "Identity" column. And for other providers there really isn't "Identity" columns at all.

Normally you would also do DefaultValueSql or ComputedColumnSql as well--but you don't have to because

[2017-07-20 17:28] ryanbrandenburg commented on #8642
This fails the Ubuntu-Universe build more often than it passes. Can we prioritize it?

[2017-07-20 17:30] bricelam commented on #5459
The biggest impact this feature would have on SQLite is in the update pipeline. Ironically, not batching statements, but instead re-using single-statement commands yields the best performance.

[2017-07-20 17:30] smitpatel commented on #9218
Docs bug then 😀

[2017-07-20 17:31] ajcvickers commented on #8642
@BrennanConroy Any update?

[2017-07-20 17:32] smitpatel commented on #9222
This needs update in docs.

[2017-07-20 17:54] ryansealy commented on #6560
Yes please fix this. While it's frustrating to deal with Intellisense that won't come up, it's completely different when the Intellisense is wrong.

We trust the Intellisense. It has to be right.

I ran into this today. Thanks for the great question and answers here.

[2017-07-20 18:00] maumar commented on #9202
fixed in 331eab44f9a6246c08b5b0ba8a2a785e76b85447

[2017-07-20 18:00] #9202 closed

[2017-07-20 18:01] ajcvickers commented on #6560
@ryansealy We appreciate the feedback, but please comment on https://github.com/dotnet/roslyn/issues/8237. That is the issue that needs to get fixed for this to work.

[2017-07-20 18:28] rynowak commented on #9222
OK great, I'll continue testing using `.Include(...)`

[2017-07-20 18:35] carlosga opened #9228 "Unit test suite questions"
Hello:

Two little questions about the unit test suite:

1. Shouldn't **FromSqlQueryTestBase<>.From_sql_queryable_simple_projection_composed** be using quoted identifiers on the "inline" sql query ? ( it looks to be the only one from FromSqlQueryTestBase<> not doing so )

[code]

2. Shouldn't **BuiltInDataTypesSqlServerTest.Can_query_using_any_mapped_data_type** be checking Text and NText field re

[2017-07-20 18:43] bricelam commented on #9033
@glennc Have we followed up with Hosting about not calling `Configure` when all we need are the services?

[2017-07-20 18:44] smitpatel commented on #9228
@carlosga - Thanks for analysis. Those are indeed mistakes. They should be easy to fix.
1. Identifiers should be quoted like other tests in same class.
2. Results for missing properties should be verified like other properties.

[2017-07-20 18:48] smitpatel commented on #9225
Based on info provided above, I could not reproduce this. The table is named Posts only.
@bradmarder - Please provide a simple repro code which can demonstrate what you are seeing.

[2017-07-20 18:52] carlosga commented on #9228
@smitpatel Thanks. I think **FromSqlSprocQueryTestBase<>.From_sql_queryable_stored_procedure_and_select** and **FromSqlSprocQueryTestBase<>.From_sql_queryable_select_and_stored_procedure** should be using quotes too on:

[code]

[2017-07-20 19:09] bricelam commented on #9216
Interesting. AFAIK, we just get the `RootNamespace` MSBuild property. I wonder if the SDK should sanitize this...

[2017-07-20 19:15] bricelam commented on #9198
Ah yes, .NET Core class libraries were fixed in that version.

Dupe of #7889

[2017-07-20 19:17] bricelam commented on #8642
Did any of my fixes in `dev` help?

[2017-07-20 19:30] smitpatel commented on #8642
@bricelam - If it is still failing then perhaps no

[2017-07-20 19:42] ajcvickers opened #9229 "Add message to NotImplementedExceptions thrown from MigrationsSqlGenerator"
Indicating that the database provider has not implemented support for the given operation.

[2017-07-20 19:50] maumar opened #9230 "Tool: migration tool is missing examples for all the commands"
When typing get-help [command] we get help text for a given command, and at the end there is a section saying:

[code]

however typing get-help [command] -examples doesn't provide any useful information. Those would be very useful to add.

[2017-07-20 19:55] bricelam commented on #8642
Confirmed: Didn't help.

[2017-07-20 19:59] maumar opened #9231 "Tools: get-help Add-Migration displays invalid related command"
get-help Add-Migration

displays:

[code]

`about_EntityFrameworkCore` doesn't seem to be there

[2017-07-20 19:59] bricelam commented on #9230
Looks like we had a few in EF6:
[code]

[2017-07-20 20:02] bricelam commented on #9231
That's the overview help topic that shows the unicorn.
[code]

[2017-07-20 21:23] maumar opened #9233 "Tools: syntax for the migration commands should show -Project before -Context"
Currently when typing get-help Add-Migration (and others)

we get the following syntax description:

[code]

This is not ideal for cases when the context we want to target is in the different project and we want to rely on auto-completion.
Typing Add-Migration Foo -Context [tab] will only hint you project names from the current starting project

We should swap Context and Project, like so:

[code]

[2017-07-20 21:30] olman21 commented on #626
I've been following this issue for a couple of months, I need to perform a soft-delete feature in my Application, I know how to "override" actual deletes with "update the delete flag" but not a clue how to filter the "soft-deleted" records once a query is performed, this would be easy with hooks, but in this case I can't imagine how to workaround this.

[2017-07-20 22:55] ajcvickers commented on #626
@olman21 Take a look at Global Query Filters: https://blogs.msdn.microsoft.com/dotnet/2017/05/12/announcing-ef-core-2-0-preview-1/

[2017-07-21 01:09] roji commented on #5459
@bricelam is it not possible to both batch and use prepared statements at the same time? With Npgsql/PostgreSQL this yields the best performance.

[2017-07-21 01:14] bricelam commented on #5459
SQLite doesn't actually support batching. 😀 We fake it in the ADO.NET layer.

[2017-07-21 02:11] smitpatel commented on #5459
Take it till you make it :trollface:

[2017-07-21 02:42] Edward-Zhou commented on #9166
@ajcvickers  Have you tried? `await db.SaveChangesAsync();` this line save changes async. If there is any error in this step, will it break application?

[2017-07-21 02:58] patricknolan commented on #5595
Hi...is the use of TransactionScope with EntityFramework Core now supported?

[2017-07-21 05:56] MSRiganti commented on #9193
OK, sorry for closing issue. :-)

[2017-07-21 06:20] roji commented on #5459
Oh right, for a moment I forgot we're talking about a local database where batching would be if limited utility anyway :)

[2017-07-21 06:25] rynowak commented on #9222
I've included this note in my consolidated feedback from signoff https://github.com/aspnet/Docs/issues/3787

[2017-07-21 06:38] MontyGvMC opened #9237 "ChangeTracker EnityEntry: detect if a single property has changed and get old and new values for logging"
Sorry for posting here since this is rather a question than an issue report.

I developed kind of an automatic database change logger which logs the changes to the database after each DbContext.SaveChanges. Therefore I used the ChangeTracker and the containing EntityEntry.State to check if an Entity has changed and log the values. Actually it builds a list of strings which then can be logged as th

[2017-07-21 06:51] popcatalin81 commented on #9194
@AndriySvyryd that makes certain queries allot harder to write. It's not ideal.

[2017-07-21 06:55] DamirLisak commented on #8598
People who wan't to use EF-Core 2.0 in Xamarin-Projects with VS17 Preview 3 maybe run into a System.IO.FileNotFoundException during the startup phase:
Could not load file or assembly ‘Mono.Posix, Version=2.0.0.0, …
This is a bug in the installation, it can be fixed manually:
[https://releases.xamarin.com/common-issues-in-the-xamarin-15-2-2-release-being-tracked-by-the-xamarin-team/](https://releas

[2017-07-21 07:07] DamirLisak commented on #8598
@divega : I wan't to test EF-Core 2.0 on UWP. But currenty UWP supports only .netstandard 1.6.
Over [https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.UniversalWindowsPlatform](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.UniversalWindowsPlatform) i tried to install the new version with this error:

[code]
Do you know if it's possible to install

[2017-07-21 07:22] ErikEJ commented on #8598
See this: https://github.com/aspnet/Announcements/issues/246

[2017-07-21 07:30] Caskia commented on #9223
#### StackTrace
[code]

[2017-07-21 07:52] DamirLisak commented on #8598
Yes, I know this post.
The problem is, that I had a lot of mysterious effects/bug's with EF Core and .net native in the past.
The .net native compiler is unfortunately still instable (Reflection).
For my UWP-Application I just can use EF Core 1.0.0-rc2-final - all other versions doesn't work with .net native.
My aim is, to test it as soon as possible, to prevent that I have to wait more than one y

[2017-07-21 10:52] sepplK commented on #4573
Hi, is there any workarround for the missing SqlFileStream in windows?

[2017-07-21 11:04] gordon-matt opened #9238 "Need to create tables at runtime to support plugin solution"
I'm creating a project with a plugin architecture.. where each of the plugins may have entities that are added to the `DbContext`. That part is no issue - I can easily load in the new entity types at runtime, but the problem I am facing is that I have no way to automatically create the tables. EF migrations is not an option in this scenario, so I need another solution.

EF can already generate the

[2017-07-21 11:52] roji commented on #9183
@smitpatel I think I've fixed the Visit vs. Generate confusion. Also see my failed attempt to implement array operation translation as optimization (https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/pull/213#issuecomment-316981366).

Finally, do you want a separate issue for the failure of `EF.Property` in test `Length_on_EF_Property`?

[2017-07-21 13:23] gordon-matt commented on #6482
This would be useful for me as well. In EF6, I was using a custom `IDatabaseInitializer<TContext>` which would first check if the database existed. If it did indeed exist, it would generate the database script as follows:

`var script = ((IObjectContextAdapter)context).ObjectContext.CreateDatabaseScript();`

and then it would cycle through all the `CREATE TABLE` statements in there and execute the

[2017-07-21 14:17] sven-n commented on #1368
I wrote about a possible workaround in [my blog post](https://munique.net/workaround-for-missing-n-m-mapping-feature-in-entity-framework-core/) and I think it might be a good solution for some guys here.
To sum it up: My application just uses a basic data model (domain model). To use it with the entity framework I create (with the help of T4 templates) inherited classes which include all the join

[2017-07-21 15:14] BenjiZombie commented on #9238
I'm using `IEntityTypeConfiguration<>` (I'm on 2.0.0-preview2), to scan libs for entity configurations, but I'm not creating tables outside of the migrations scripts

[2017-07-21 15:15] BenjiZombie commented on #9231
Also, `-Environment <String>` is not a valid option anymore

[2017-07-21 15:48] bricelam commented on #8598
I think you can test UWP by installing the [Windows 10 SDK Insider Preview](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK), but I haven't tried it yet...

[2017-07-21 16:02] bricelam commented on #9231
@BenjiZombie Correct. You need to use the `ASPNETCORE_ENVIRONMENT` environment variable now.

[2017-07-21 16:23] JohnPicchi commented on #9238
Take a look at this [blog post](https://romiller.com/2012/03/26/dynamically-building-a-model-with-code-first/) by Rowen Miller, I think this should help.

[2017-07-21 16:53] bricelam commented on #8598
Never mind. I couldn't get it working.

[2017-07-21 17:31] bricelam commented on #9033
@markrendle After discussing with Hosting, it sounds like `Startup.Configure()` should only be used to configure the request pipeline. Application startup code should go inside `Program.Main()` instead.
[code]

[2017-07-21 17:33] ajcvickers commented on #9166
@Edward-Zhou When you say, "If you did not get error" I assume you mean that there is some situation where you think (or even have seen) that the error doesn't happen. And when you say, "I assume it is related with async" I assume you mean that you think that if the error doesn't happen is is related in some way with async. Can you provide more details on what you mean by this? In what situations

[2017-07-21 17:56] markrendle commented on #9033
@bricelam Thank you for the clarification, I shall use that pattern.

[2017-07-21 18:29] ajcvickers commented on #9216
@bricelam to follow up with external teams.

[2017-07-21 18:33] ajcvickers commented on #9218
Closing this but will track the doc issue as part of https://github.com/aspnet/Release/issues/189

[2017-07-21 20:28] bricelam commented on #9033
@Tratcher Had a cool idea to make this an extension method.
[code]
[code]

[2017-07-21 20:41] bricelam commented on #6482
FYI, the code for an `ObjectContext.CreateDatabaseScript()` equivelant is in #2943.

[2017-07-21 20:45] smitpatel commented on #9183
@roji - File a new issue so we can track it separately for customers.

[2017-07-21 20:50] ajcvickers commented on #9208
@hjj5258 The [MigrationsModelDiffer](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational/Migrations/Internal/MigrationsModelDiffer.cs) is responsible for doing that. If this doesn't answer your question, then can you be more specific about you are asking? You might also try asking questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/entity-framework-core).

[2017-07-21 20:51] ajcvickers commented on #9230
Discussed in triage and decided not to do this, but if somebody wants to write some high-quality examples and send a PR, then we would consider it.

[2017-07-21 21:07] maumar commented on #9223
bug was introduced in 10f74f9db2b09adba693286cb11a2d70d2929958 - we try to optimize conditionals with logical iftrue/iffalse but the logic around it is not robust enough - we can return null from Invert(...) method which throws the exception seen in the bug

[2017-07-21 21:18] ajcvickers commented on #9237
@MontyGvMC When you have entities that are tracked by the context (e.g. from a query) and then make changes to those entities, EF keeps track of both the original values and which properties have changed. So, for example, this code:
[code]
gives this output:
[code]

It's not completely clear to me how the rest of your code is structured, but hopefully you can use the same ideas to gather the infor

[2017-07-21 21:20] ajcvickers commented on #9223
@maumar Do you know if it is a regression?

[2017-07-21 21:27] ajcvickers commented on #9238
@gordon-matt It seems like using Migrations at runtime, which if I remember rightly is what Rowan does in his post, could be a reasonable approach here. Beyond that, if existing tables never need to be modified, then you could look into using `context.GetService<IRelationalDatabaseCreator>().CreateTables()`. You might need to create a temporay DbContext containing just the new entity types so EF d

[2017-07-21 22:26] maumar opened #9241 "Query: compilation error for queries that compare reference navigation to null, if the navigation can be optimized into FK"
repro:

[code]

exception:

[code]

[2017-07-21 22:29] maumar commented on #9241
This happens because in nav rewrite, when we visit binary expression, after visiting left and right operands we recreate new expression using

[code]

problem is that for o.Customer == null, the left operand gets converted into FK: o.CustomerID, which is typed as string, not Customer. However we still try to use method from the original expression which is op_Equality(Customer, Customer)

[2017-07-21 22:41] roji opened #9242 "Query: NotSupportedException while trying to use EF.Property"
While working on array property support for Npgsql (#9183), I ran across an exception while trying to access an entity's array property via `EF.Property`. Accessing the same property in the regular, strongly-typed way worked just fine. I'm not sure to what extent this problem is specific to the fact that the property is an array, the exception message seems to suggest otherwise.

The failing test

[2017-07-21 22:41] roji commented on #9242
/cc @smitpatel

[2017-07-21 22:42] roji commented on #9183
@smitpatel opened #9242 to track the EF.Property issue.

[2017-07-21 22:42] smitpatel commented on #9241
@maumar - Perhaps defer this to Nav rewrite?

[2017-07-21 23:08] ajcvickers commented on #8642
@BrennanConroy I was just chatting with @smitpatel about this. It seems that right now you are the only person able to reproduce this issue outside of Travis. Can you please provide the requested information above to the vstest team so that we can get some traction to try to move this forward? /cc @Eilon

[2017-07-21 23:22] ajcvickers opened #9244 "dotnet ef dbcontext info tries to create the connection"
Even though the connection never gets used. Possibly related to: #8350 and/or #6525 #8494

Found in: https://github.com/aspnet/Release/issues/193#issuecomment-316793613

[2017-07-21 23:44] roji commented on #9183
Have merged array operation translation support into Npgsql 2.0.0, thanks for all the guidance @smitpatel!

[2017-07-21 23:52] ajcvickers commented on #9222
Tracking in https://github.com/aspnet/EntityFramework.Docs/issues/424

[2017-07-22 00:12] gordon-matt commented on #9238
Thanks for the info. The blog post by Rowan Miller shows how to discover the classes that make up the model at runtime. That is something I've known how to do for a long time. He does also show how to invoke migrations from code:

[code]

That's only for EF6, so I found the following for EF Core:

`context.Database.Migrate()`

However, that did nothing at all. I assume that is just supposed to app

[2017-07-22 00:54] gordon-matt commented on #9238
Alright, for those interested in a workaround, here is my solution. Be warned, it's a bit of a hack, but it works:

[code]

Then at the end of `Startup.Configure()`, I resolve an `IEntityFrameworkHelper` instance and use that with an instance of `DbContext` to call `EnsureTables()`.

One issue is I need to still account for the parts of the script which are not `CREATE TABLE` statements. For examp

[2017-07-22 20:45] anpete commented on #9242
@roji Can you post the stack trace?

[2017-07-22 20:58] roji commented on #9242
Here you go:

[code]

[2017-07-22 21:08] roji commented on #9242
FYI here's my context and the entity class:

[code]

[2017-07-22 21:58] anpete commented on #9242
cc @MichaelKetting - Looks like a relinq parser bug.

[2017-07-22 22:30] mxa0079 commented on #3797
Is there an owner for this on the Microsoft team?

[2017-07-22 23:29] douglasg14b commented on #7838
Still borked :|

[2017-07-23 02:25] weitzhandler commented on #9202
Congrats, and does that means that [2.0.0](https://github.com/aspnet/EntityFramework/milestone/30) is done?

[2017-07-23 03:53] Edward-Zhou commented on #9166
Can you update the records with current code? I want to update the record if it exist, can you update it my current code?

[2017-07-23 04:55] MichaelZino opened #9246 "EntityFramework Core 2.0 Preview 2 Symbol Packages"
Are the symbol packages for EF Core 2.0 Preview 2 available for download?

[2017-07-23 05:15] softmarshmallow commented on #2467
this issue still occurs, and all entity under Proj.Models....

[2017-07-23 08:10] dmitryshunkov opened #9247 "Ternary expression and let with external boolean variable with false value produces invalid SQL."
Let operator with expression that evaluates to false due to external argument in combination with conditional operator produces wrong SQL.

[code]
[code]
[code]

### Further technical details
EF Core version: 1.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-07-23 08:35] MichaelKetting commented on #9242
@anpete Hmm, can't say that it isn't, can't say that it is without a deep dive into this issue. I've looked around just a bit in Github and it looks like EF.Property is just a marker for some transformation logic later on (https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore/EF.cs). Since non-collection-type scenarios seem to work (https://github.com/aspnet/EntityFramework/issues/4875), t

[2017-07-23 09:17] dmitryshunkov commented on #9247
Seems to be fixed in 2.0.0-preview2-final.

[2017-07-23 13:23] varora1406 commented on #9212
Same not working for me as well

[2017-07-23 13:29] varora1406 commented on #9212
![image](https://user-images.githubusercontent.com/24986539/28499654-56cc03c6-6fd8-11e7-8d7b-5131d1ea791a.png)

I have already tried restarting visual studio a lot. Do we have any knowledge towards this?

[2017-07-23 13:34] varora1406 commented on #9180
Can somebody tell me that Scaffolding of database is able to done or not in latest IDE of visual studio 2017 preview 4?

[2017-07-23 13:36] artyomszasa opened #9248 "GroupJoin + Any exception"
Describe what is not working as expected.

Exception is thrown is using Queryable.Any on group-joined query.

[code]

### Steps to reproduce

Issue can be reproduced easily, see: [Gist](https://gist.github.com/artyomszasa/a69174f8a11fd8d6b25aba86d83df738)

### Further technical details
EF Core version: 1.1.2
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL (yet issue is reproducible with o

[2017-07-23 21:23] NitrofCG opened #9249 "Xamarin iOS : Crash when i add row to table with nullable type or with a lot of columns"
# Update
According to https://bugzilla.xamarin.com/show_bug.cgi?id=59184#c57, the more complete fix in Mono 2017-12 is now merged and has been verified on Xamarin.iOS.

According to https://bugzilla.xamarin.com/show_bug.cgi?id=59184#c58, the fix should be included in the 15.7 release of Xamarin, which I believe maps to Xamarin.iOS 11.9 (at least I found that on https://github.com/xamarin/xamarin-m

[2017-07-23 21:32] ReneHerrero commented on #246
Hi guys,
I've been digging around in the 2.0 preview 2 bits for the ComplexType functionality as described by @ajcvickers but haven't found anything?  Has this been pushed back?  Any documentation on the topic?
Thanks

[2017-07-23 22:34] roji commented on #9242
@MichaelKetting yes, the equivalent test which accesses the array property with `EF.Property` works fine (see [this test](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/26909e3c3161b7b97ddf3f63c1e51da43030316b/test/EFCore.PG.FunctionalTests/Query/ArrayQueryTest.cs#L115)).

As to the type that handles EF.Property references in EF, someone from the EF Core team will have to ans

[2017-07-23 22:52] ctolkien commented on #246
@ReneHerrero  Complex types are in `2.0-preview2`

[2017-07-23 22:54] MichaelKetting commented on #9242
@roji Thanks for pointing out the test.  I managed to only look at the one below the problematic one. Silly me...

[2017-07-23 23:04] anpete commented on #9242
The stack is indicating that this is happening very early (before any EF.Property handling) in the relinq parsing stage. We have done parameterization by this stage, though, so it could be some problem there.

[2017-07-23 23:07] MichaelKetting commented on #9242
@anpete Thanks, I'll look into getting a repro sample running in re-linq.

[2017-07-23 23:33] julielerman commented on #246
Adding to Chad's comment, they are called "owned entities" and are expressed in fluent API via the OwnsOne method. They're working really nicely! :)

On Jul 23, 2017, at 6:52 PM, Chad Tolkien <notifications@github.com<mailto:notifications@github.com>> wrote:

@ReneHerrero<https://github.com/reneherrero> Complex types are in 2.0-preview2

—
You are receiving this because you were mentioned.
Reply t

[2017-07-24 01:29] Spaceman1861 commented on #9206
As a work around we have actually decided to go with the ado connector for now. Still very interested in fixing this for entity tho.

[2017-07-24 04:42] Eilon commented on #9202
@weitzhandler - just nearly! We're doing verification and extra testing on the builds (especially integration testing). But aside from super critical fixes, nothing else planned. If you haven't already, try out the bits and let us know what you think!

[2017-07-24 04:53] weitzhandler commented on #9202
@Eilon
Thank you so much for your response!

[2017-07-24 04:54] weitzhandler commented on #2266
Milestone: Backlog.
So frustrating.

[2017-07-24 05:43] dmitryshunkov commented on #8608
Still can reproduce with 2.0.0-preview2-final.

[2017-07-24 13:11] brunoalreis commented on #629
@jceddy, I think you can. I have two different scenarios, in two different applications. In one i am using Sqlite and in the other i am using PostgreSQL. In the Sqlite migrationBuilder.ActiveProvider has "Microsoft.EntityFrameworkCore.Sqlite" and in the PostgreSQL migrationBuilder.ActiveProvider has "Npgsql.EntityFrameworkCore.PostgreSQL". Don't know if is the best way to check database type, but

[2017-07-24 15:31] smitpatel commented on #8608
@dmitryshunkov - As milestone says this was fixed in 2.0.0. So it is expected to reproduce in 2.0.0-preview2-final. Once we release 2.0.0 (which will be very soon), please verify on those packages.

[2017-07-24 16:04] ajcvickers commented on #3797
@mxa0079 If you mean who from Microsoft is actively working on this, then the answer is nobody right now--it's currently on our backlog. If you mean which team owns it, then the Microsoft EF team, and I can try to answer any question you have.

[2017-07-24 16:06] ashish005 commented on #7977
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet
this link is helpful.

[2017-07-24 16:39] humzakhan opened #9251 "Could not load file or assembly Microsoft.EntityFrameworkCore"
## Issue

I have a class library project targeting .NET Core 1.1 with Entity Framework Core v1.1.2 installed. It contains all the domain logic. Whenever I call methods from my EF Core project in other projects, I'm having this exception:

[code]

All my projects are targeting .NET Core 1.1 and I'm not sure what is causing this behavior. Any ideas? All the dependencies are installed correctly, data

[2017-07-24 17:23] ajcvickers commented on #9246
@MichaelZino I'm pretty sure the infrastructure wasn't in place for preview2. I'm following up with some people as to what the status will be going forward.

[2017-07-24 17:26] ajcvickers commented on #9212
@varora1406 You are using a mix of preview2 and preview1 packages. You need to update everything to be consistent.

@joehoeller Since we haven't heard from you I'll assume you got this working and close this issue. Please feel free to re-open with additional information if needed.

[2017-07-24 17:49] smitpatel commented on #9251
Make sure that all the packages of AspNet core you are referring are from 1.1.2 release. Mixing versions from different releases are not supported and may not work always. If you are unsure then share your csproj file.

If above doesn't help then you may need to generate binding redirects. See https://github.com/Microsoft/msbuild/issues/1310 for the issue and work-around.

[2017-07-24 17:56] smitpatel commented on #9247
Fixed via #7554

[2017-07-24 17:56] #9247 closed

[2017-07-24 17:59] bessgeor opened #9252 "preview2-final possible bug"
Getting an error "The instance of entity type 'Event' cannot be tracked because another instance with the same key value for {'ID'} is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached. Consider using 'DbContextOptionsBuilder.EnableSensitiveDataLogging' to see the conflicting key values." while having the PK property un

[2017-07-24 18:01] maumar commented on #9223
Fixed in 64db1a41b774c4079338b9c09c275fdade12d4ff

[2017-07-24 18:01] #9223 closed

[2017-07-24 18:02] ajcvickers commented on #9252
@bessgeor Are you getting this message when two entities do not have the same key value?

[2017-07-24 18:07] humzakhan commented on #9251
@smitpatel

Here's my csproj file:

[code]

All the dependencies are at their latest versions for .NET Core 1.1. I'm looking into binding redirects now.

[2017-07-24 18:37] bessgeor commented on #9252
@ajcvickers no.
But the only way I saw to achieve not same values was manual setting which is pretty ok for manual testing but is no-op in production.

On the first iteration of manual values I'd got an error during SaveChanges about Foreign Key violation. The problem was in the wrong mapping: I have a bunch of classes that was meant to be Event inheritors (with TPT DB inheritance model) but using

[2017-07-24 19:04] dmitryshunkov commented on #8608
Thanks, I was thinking it should be in preview, as fix was on dev branch.

[2017-07-24 20:46] smitpatel commented on #8842
Decided in ad-hoc discussion today that benchmarks on current dev will not be run as xUnit test as a part of build.
- They will be included in same solution so that any API breaks/usages can be found.
- It will not run as xUnit test so if there is functional break then it will be not caught during build.cmd run though given coverage in other tests there should be minimal impact. (Also there is a w

[2017-07-24 22:53] ctolkien commented on #9148
Well... now that you mention it....

I just hit this scenario whereby I have a stand alone `Customer` entity... but I also have an `Orders` entity to which I would like to add a `Customer` property as an owned entity.

Basically when an order is created, I could "snapshot" the customer details at that point in time and save them off on the particular order.

By the sounds of things, this scenario

[2017-07-25 01:03] smitpatel commented on #9251
https://www.nuget.org/packages/Npgsql.EntityFrameworkCore.PostgreSQL/1.1.0

Package `Npgsql.EntityFrameworkCore.PostgreSQL` with version 1.1.0 depends on `Microsoft.EntityFrameworkCore` version 1.1.0 but you are referencing to 1.1.2 explicitly. That is causing the issue.
1. Don't add reference to EFCore package directly. PostgreSQL package will bring it in transitively anyway.
2. EFCore.Tools pack

[2017-07-25 01:09] maumar opened #9254 "Query: null semantics doesn't get applied for some queries with negated conditional expression"
query:

[code]

since the entire predicate is negated, we should be applying "full" null semantics rewrite - i.e. remove cases where the predicate can ever evaluate to null. However we generate the following sql:

[code]

whose predicate can evaluate to null if `[t0].[HasSoulPatch]` itself is null

[2017-07-25 01:27] smitpatel commented on #8842
Blocked on https://github.com/dotnet/BenchmarkDotNet/issues/481

[2017-07-25 02:12] maumar opened #9256 "Query: include doesn't get applied for some elements in a complex query with left joins and coalesce"
query:

[code]

Weapons for g1 are not being included. However if the coalesce part is removed from the projection everything works fine

[2017-07-25 06:05] roji commented on #9251
@smitpatel, I was under the impression it's totally fine to have a lower version of a provider referencing a high version of the core, since patch versions supposed to maintain 100% backwards compatibility. Nuget is supposed to automatically generate binding redirects to the latest version of EF Core (maybe some issue with that is at the source of the problem here?). Unless I'm missing something,

[2017-07-25 06:08] smitpatel commented on #9251
@roji - You are right in the terms of compatibility though binding redirects are not generated always for class library. See https://github.com/Microsoft/msbuild/issues/1310

[2017-07-25 06:20] roji commented on #9251
OK, wasn't aware of the library binding redirect issue... In any case it seems odd to ask provider writers to release patch versions for every EF Core patch version, even if there's nothing new on their end, solely to update the dependency etc.

In any case FYI I plan to release Npgsql.EntityFrameworkCore.PostgreSQL 1.1.1 later today, which will depend on the latest EF Core, so in this particular

[2017-07-25 06:34] smitpatel commented on #9251
I suppose patches for EF are not critical (non-security kind so far). So it would be fine not to move to patch version unless you need a fix which is in patch.

That is interesting question because we release new versions even without fix because dependency changed. I am not certain if that was done because its just single release cycle or we want to update. Perhaps @divega or @ajcvickers can prov

[2017-07-25 07:02] Edward-Zhou commented on #9166
@ajcvickers Could you reproduce this issue?

[2017-07-25 09:03] vplme commented on #7777
I upgraded Microsoft.Data.Sqlite to version `2.0.0-preview2-final` but not the rest of EFCore. That seems to work for me. I'm no longer getting a unauthorised access message.

[2017-07-25 10:11] archanasoni opened #9257 "Rev engineering does not support case sensitivity when 2 tables are having same name but case is different"
Hi,

We're working to have support for Design Tooling for IBM EF Core provider.
We have come across a situation where DB2 Database is having 2 table for example
1. TestTable
2. TESTTABLE
Note: DB2 support this scenario and treats as different object.

When we try to create model via tooling model gets generated But in generated model only one POCO class exist. Context class is having correct entry

[2017-07-25 10:33] archanasoni commented on #9257
Another observation is if 1 table name is in caps and 1 in small
1. TESTTABLE
2. testtable

it works, combination with mixed case and upper or lower table name is having issue.

[2017-07-25 12:53] kierenj commented on #9196
Just a quick question, is there any kind of projection support for sub-entities at the moment outside of what I'm seeing?

[2017-07-25 15:15] humzakhan commented on #9251
Very helpful, thank you, everyone!

[2017-07-25 15:55] roji commented on #9251
@smitpatel

Yeah, it seems that up to now there's been a general single release cycle (.NET Core/EF Core/Microsoft.Extensions), which is probably at least part of the story.

I just released Npgsql's provider version 1.1.1, which takes a dependency on EF Core 1.1.2 (simply because I didn't release sooner), I could have skipped 1.1.1 and released 1.1.2 to maintain version parity with you guys. Howe

[2017-07-25 16:00] humzakhan commented on #9251
@smitpatel I uninstalled all the dependencies and installed only the high-level ones (as you mentioned, they bring the required ones along with them). This is my csproj file now:

[code]

But I'm still getting the same error, but I have noticed something.

[code]

Focus on this line:

[code]
Why is my class library project looking for the version 1.1.2? I uninstalled everything and installed the m

[2017-07-25 16:18] roji commented on #9251
@humzakhan as I wrote above, the newly-released Npgsql.EntityFrameworkCore.PostgreSQL 1.1.1 depends on Microsoft.EntityFrameworkCore 1.1.2, the versions aren't in sync; you can see this in the dependencies section of the [nuget page](https://www.nuget.org/packages/Npgsql.EntityFrameworkCore.PostgreSQL). This isn't a problem - Npgsql is supposed to bring in the proper version of EF Core and that's

[2017-07-25 17:28] humzakhan commented on #9251
Fixed it. The class library project which had all these EF packages installed (or my data access layer) was being referenced as an assembly in the main project. Instead of that, I referenced it as a project and everything worked fine. Probably this is some sort of issue with referencing class libraries present on disk, I read about it somewhere. Will open an issue regarding this on the .NET Core r

[2017-07-25 17:31] maumar commented on #9196
In 2.0.0-preview2 we added feature that converts "naked" collection navigations into include statements, so those will be optimized. (see #8584). Also, collections that are collapsed to a single result (e.g. by using result operator like Min/Max/Count) will be translated into the original query. Everything else will yield N+1 queries at the moment.

[2017-07-25 18:43] joehoeller commented on #9212
Sorry, I have been busy and just checked this. No it still doesnt work.

[2017-07-25 19:01] joehoeller commented on #1368
To make a relationship (and for added flexibility) make the FK nullable. Just create your data models like this, and let EFCore do the rest. **_Make sure you see my comment above about using the JSON serialization with Reference Loop Handling_**. You can use .Include() and not .WithMany(). This is a SQL DB performance enhancement as well.

**PARENT TABLE:**

`public class Parent
    {
        publ

[2017-07-25 21:55] smitpatel commented on #8608
@dmitryshunkov - Fixes are (almost) always merged into dev branch. Based on release cycle, at certain point, we take snapshot of dev and generate release package out of it. For a fix to be in a certain release, it has to be merged to dev before we take snapshot. Generally milestone put on issues are better indicator for which release fix will be in. We update milestone based on when fix was merged

[2017-07-26 00:38] ctolkien commented on #9202
Just hit this, so great that it will be getting fixed in 2.0RTM!

[2017-07-26 01:46] smitpatel commented on #9257
@archanasoni - Which version of EF Core are you depending on?

[2017-07-26 07:31] archanasoni commented on #9257
@smitpatel , currently we are dependent on EF Core 1.1.1 version.

[2017-07-26 11:29] karlosRivera opened #9262 "Request for ignore migrate attribute for EF"
i have only one request that please add one attribute called ignore-migrate which i can decorate my class. so when i will migrate then script will not be generated for those classes having the attribute called ignore-migrate.

Thanks

Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to repro

[2017-07-26 12:57] bessgeor opened #9263 "2.0.0-preview2-final AddRange success, but similar Add fails tith "The property on entity type has a temporary value while attempting to change the entity's state to 'Unchanged'""
### Context
I am playing with preview2 to determine if it could be used for my project.
The app should use event sourcing, so I wrote the method to spawn new core/versioned entity alongside with the event specific to that kind of operation.

I branched the method to accept `params TEntity[]` and use `Add` if the count is 1 and `AddRange` otherwise to test single vs bulk spawning performance.

With

[2017-07-26 17:06] JD-Robbs commented on #1698
Adding my +1 for IndexAttribute.

[2017-07-26 18:18] smitpatel commented on #9257
I have looked at the code and implementation. There are many mismatches in string comparison which causes this issue.

- Providers creates `DatabaseModel` so it can have tables with same name (different casing).
- When we generate EntityType name by pascal casing the database table name and unique-fying it. This bit does case sensitive comparison.
- The file name is decided based on the Entity Typ

[2017-07-26 18:42] divega commented on #9179
*EF Triage*: We are torn about this one. On one hand we understand it may be better to not throw and fall back to sync (similar to System.Data.Common), but on the other hand we are concerned that the fall back would happen without making the user aware that it happened. There is no good way to hook up our warning system into these async methods (precisely if the source is not an EF Core query).

W

[2017-07-26 18:47] divega commented on #9201
*EF triage*: we believe it would be nice if the behavior was closer to L2O. However we don't think this is urgent and it would be a nice opportunity for a contributor.

FWIW, it would also be a minor breaking change.

[2017-07-26 19:00] divega commented on #9242
*EF Triage:* we will keep this open to track when things get fixed, but moving to external milestone.

[2017-07-26 19:05] divega commented on #9244
*EF Triage*: assigning to both @ajcvickers and @bricelam based on @bricelam's comment:

If we end up having to do something special to address this, we should discuss whether it is worth.

[2017-07-26 19:20] divega commented on #9257
*EF Triage*: this feels like a corner case but we think we can simply make the logic that produces unique names case insensitive, i.e. produce two different class names for this case that differ on more than just the casing.

[2017-07-26 20:06] oparkins opened #9265 "The convention invocations have reached the recursion limit."
When an owned entity (one that is marked with ComplexType attribute) that is a singleton property in a class and a list element in another class, Add-Migration will fail with the error 'The convention invocations have reached the recursion limit. This is likely an issue in EF Core, please report it.'

I have attached a zip file that contains a project that can reproduce this problem. It is at the

[2017-07-26 22:32] nerdile commented on #9141
Is there a workaround for running Add-Migration on an affected build?

[2017-07-26 22:44] smitpatel commented on #9166
I was able to reproduce this issue. The error here is due to `ApplicationUser.ConcurrencyStamp` property.
`ApplicationUser` in identity uses `ConcurrencyStamp` of type `Guid` for concurrency. When creating new class it sets the value to `NewGuid()`. When you create new ApplicationUser like that and set its state to `Modified` EF Core does not have data about what was `ConcurrencyStamp` in database

[2017-07-26 23:14] divega commented on #9249
@Thetyne thanks for reporting this.

I have created an issue for this for Xamarin iOS at https://bugzilla.xamarin.com/show_bug.cgi?id=58424. Hopefully we will figure out if this is something that can be addressed by either an improvement in Xamarin, a chance in EF Core or a workaround in the application code.

cc @marek-safar as he has helped with similar issues in the past.

[2017-07-27 01:59] rykr opened #9269 "how do I invalidate my model if I drop a column"
I'm not using migrations at all.

I'm basically doing dbfirst/code first.  Make a db change, edit the code to match, and run.  So far things have been fine.  I've now got a table that I dropped a column from and removed the  property from the model.   It builds but it's still trying to include the column in the SQL.

If I copy the model to a new name and fix up the table names in my dbcontext then

[2017-07-27 02:06] divega opened #9270 "Set a default max batch size for SQL Server"
@smitpatel ran a few custom batching benchmarks recently that showed interesting results. His benchmarks focuses on INSERT batching for the same entity, but similar analysis could be performed for other operations.

The test inserts 1000 rows on a table in SQL Server. There are two separate series, one for a local instance and one for a remote instance. The chart shows the time elapsed (on Y) for

[2017-07-27 02:07] divega commented on #9270
cc @smitpatel @AndriySvyryd @anpete

[2017-07-27 06:11] divega commented on #9141
This issue has been fixed and the fix should become available in future Windows builds.

Until the fix is available the best workaround I can think of is to move the entity types and the `DbContext` into a .NET Standard library and then creating a .NET Core console app.

Both the console app and the original app should reference the library.

Then you should be able to execute migrations commands

[2017-07-27 06:13] divega commented on #9141
Another less convinient workaround could be to do the work of add-migrations manually, e.g. creating and modifying all the necessary files in the project.

[2017-07-27 06:26] divega commented on #9270
cc @roji since recently we talked about similar observations.

[2017-07-27 07:07] ErikEJ commented on #9270
What is the default for SQL Server MaxBatchSize option?

[2017-07-27 08:10] irowbin commented on #245
How can i get output parameter value? The output value is always null.

**SP parameter**

[code]

works  with  `_context.Database.ExecuteSqlCommand(...)` but not with `_context.Set<T>().FromSql(...)`

[code]

[2017-07-27 08:28] tomchovanec commented on #3627
In my case it was caused by duplicit IDbContextFactory<MyDbContext> implementation (twice, in 2 different files).

[2017-07-27 09:15] ComptonAlvaro opened #9271 "When I use raw sql and include(), not all the navigation properties are setted (2.0.0-preview2)"
I am using T-Sql to get some records and in the same query I use Include() to include related entities of the entities that I get in the T-Sql.

At the end, in the dbContext, I have all the entities, the entities that I get from the T-Sql and the entities that I get from the Include(), but EF only relates the entities that I get from the T-Sql, but not the entities that I get from the Include().

[2017-07-27 09:33] divega commented on #9270
@ErikEJ No limit, which in practice means we split to a new batch every 2100 parameters.

[2017-07-27 09:33] divega commented on #9270
For this test it ends up being about 130.

[2017-07-27 09:41] stijnherreman opened #9272 "Recent change in Microsoft.SqlServer.Types install.ps1 requires committing DLLs to source control"
The Microsoft.SqlServer.Types packages released earlier this year have a change in the install.ps1 script compared to older versions. `$cppLinkx86 = $folderx86.ProjectItems.AddFromFile($cppBinaryPathx86)` and its variations became `$sqlLinkx86 = $folderx86.ProjectItems.AddFromFileCopy($sqlBinaryPathx86)`.

Previously, the .csproj file contained this:

[code]

After the change, the .csproj file con

[2017-07-27 09:57] archanasoni opened #9273 "Question: How to compile and Debug EF 1.1.1 with VS 2017 msbuild infra"
Hi,

We are trying to have debug setup for IBM EF provider. Currently IBM EF is dependent on version 1.1.1
When we download source code from Github we don't see xproj file, csproj files are exist but we can not target those as ours are xproj based infra.
Hence we moved our code to VS 2017 based infra, now when we try to compile MS EF 1.1.1 code in VS 2017 it throws multiple error first issue comes

[2017-07-27 10:14] BladeWise commented on #245
I think that output parameters are only available once the query has been actually executed and the underlying reader is closed.
So, have you tried to materialize the queryable (call `ToList`) and then inspect the output parameter?

[2017-07-27 10:52] irowbin commented on #245
@BladeWise I did call something like  this,

[code]
If i add this too, It works.
[code]

Am i doing something wrong here? Why isn't working the first statement? Thanks

[2017-07-27 11:23] poke commented on #245
I can confirm that this does not appear to work with `FromSql`. Maybe you want to create a new issue for that @irowbin?

[2017-07-27 11:23] DalSoft commented on #629
@jceddy take a look at my [post](http://www.dalsoft.co.uk/blog/index.php/2016/12/13/entity-framework-core-seeding-using-migrations/) on EF Core seeding.

If you use my technique you can pass environment switches, and more importantly just use the normal EF context. This means you don't have to do a custom SQL for each provider.

[2017-07-27 11:53] qvsmith opened #9274 "DbContext not found"
I cannot seem to add migrations from third party lib's DbContexts (IdentityServer4.Entityframework). I'm getting error in title.
(My custom DbContext was found and I was able add migrations for it.)

### Steps to reproduce
I followed this short tutorial's 'Starting from scratch...' section: http://benjii.me/2017/05/enable-entity-framework-core-migrations-visual-studio-2017/ with the only differenc

[2017-07-27 12:27] peterwurzinger opened #9275 "Projecting bool property through optional nav access with other conditions throws ArgumentException"
Hi!

We encountered an error in EF Core 2.0 Preview 1 and EF Core 2.0 Preview 2. Since I couldn't find an appropriate short title I'll just describe the problem - feel free to edit the title.
The following model was used to reproduce the error:

[code]

DbContext was implemented straightforward with
[code]
and
[code]
Reproduced with an instance of LocalDB (Version 13.0.2151.0), untested with a "re

[2017-07-27 12:32] ErikEJ commented on #9270
Hmmm... I always told people you had a default of 1000... There you go. I will strongly suggest anyone to lower if they are doing mass inserts

[2017-07-27 12:51] dmitrykolchev opened #9276 "Nullable field that is a part of unique constraint scaffolded with IsRequired()"
Table [share_type] has nullable field [stock_class_id] that is a part of unique constraint.

[code]
This field [stock_class_id] scaffolded with .IsRequired. This is unexpected behavior.
[code]
Due to this behavior, ef generates invalid queries with INNER JOIN on this field.
linq query
[code]
sql result
[code]
EFCore Version: 1.1.2

[2017-07-27 13:16] jceddy commented on #629
@brunoalreis @DalSoft I ended up creating an empty migration after the initial schema creation one and added code to seed data in the empty migration.

[2017-07-27 14:02] irowbin opened #9277 "Get output parameter value of a stored procedure using EF Core FromSql(...) is always null."
Describe what is not working as expected.

Store procedure output parameter is not working as expected. The output value is always null.
I have an statement like this. I've removed other parameters except this `OUTPUT` param to pointing out the issue. The records are came but the the value of this `OUTPUT` parameter is null without the exception. Executing the proc in SSMS works just fine but with

[2017-07-27 14:55] Antaris opened #9278 "Clarification over configuring an Owned type with multiple properties"
Hi Team,

Looking at the tests for the Owned type mechanism, and also the release notes for Preview 2, I'm a little confused on how I go about correctly configuring an Owned entity using the fluent `EntityTypeBuilder<T>`.

Say for instance, I have the following type: `Message`, representing an email message:

[code]

And another class `EmailAddress`:

[code]

I'm trying to configure the `Recipient

[2017-07-27 16:16] BrennanConroy commented on #8642
I tried disabling parallel tests for Sqlite.FunctionalTests and haven't seen the issue repro. We could do this as a workaround.

I've tried what the vstest team suggested and it provided no useful information.

[2017-07-27 18:19] pranavkm opened #9279 "Command line help docs need to be update"
For instance, the docs for `dotnet ef add` on say https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[code]

The 2.0.0 dotnet ef migrations add says

[code]

`--runtime` is new and `--environment` is no longer a valid option.

[2017-07-27 18:19] pranavkm commented on #9279
cc @divega

[2017-07-27 18:29] pranavkm opened #9280 "Remove-Migration null-refs when generating report"
[code]

The migration gets removed and the ps script returns a 0-exit code, but the error makes it appear something's gone wrong.

[2017-07-27 18:31] divega commented on #8384
@anpete is this the same problem covered by https://github.com/aspnet/EntityFramework/issues/9128? Should we close as dupe or assign both to the 2.1 milestone?

[2017-07-27 18:31] divega commented on #8208
@anpete is this also the same as https://github.com/aspnet/EntityFramework/issues/9128?

[2017-07-27 18:39] anpete commented on #8384
@diego Probably the same but keep this one and assign to 2.1.

[2017-07-27 18:40] anpete commented on #8208
@divega Yes, looks like it.

[2017-07-27 18:44] divega commented on #8443
We are going to start investigating this in 2.1. We have a lot of work to do to figure out what the goals should be for EF Core support for CosmosDB in the short and long term, e.g. from answering basic questions like what value EF Core support should bring to the table to which exact APIs of CosmosDB we should support.

[2017-07-27 18:46] divega commented on #1035
Closing this in favor of https://github.com/aspnet/EntityFramework/issues/8443 which is about a CosmosDB provider. We can reactivate later if DocumentDB APIs end up not being covered and if they remain a goal.

[2017-07-27 20:26] divega commented on #8208
Closing as duplicate of #9128.

[2017-07-27 20:27] divega commented on #9128
We should consider the specific scenario form https://github.com/aspnet/EntityFramework/issues/8208 when we work on this.

[2017-07-27 20:54] smitpatel commented on #9279
duplicate of https://github.com/aspnet/EntityFramework.Docs/issues/424

[2017-07-27 21:03] smitpatel commented on #9278
Expected pattern would be like this
[code]
You cannot chain because after `.Property` call it returns `PropertyBuilder` so that you can chain property configurations.
Also, this would configure only `Recipient`. Properties `Sender` will have default configuration only unless you configure them like above.

[2017-07-27 21:08] smitpatel commented on #9276
duplicate of #7956
fixed in 2.0 release.

[2017-07-27 21:12] divega opened #9281 "Test EF Core 2.0 with UWP 6.0"
The upcoming version of UWP comes with support for .NET Standard 2.0 and we want to test EF Core 2.0 bits on it to makes sure we...

1. Get a chance to identify any blockers that can be fixed in UWP or .NET Native before their release
2. Identify anything we could do in EF Core to improve UWP compatibility after 2.0
3. Understand how both technologies are working together at this stage, in particu

[2017-07-27 21:33] smitpatel commented on #9275
This happens in 2.0.0 rtm too.

[2017-07-27 21:45] MichaelKetting commented on #9242
@anpete
Okay, I've been able to reproduce this but I'm not yet sure if this should be considered by-design or not.

First off, there is a way to get rid of the exception by registering a method call transformer:
[code]

This will take the reflection call and turn it into a regular property call. I'm not sure that's what you want, though, since it will remove the information that this was once an E

[2017-07-27 22:01] smitpatel commented on #9275
Looking at query models
[code]

Here `child.ParantEntity.MyValue` is nullable type  (allegedly) because of group join but its a value. If you use it alone then all works fine because its in projection so you need value only in SQL. But when you combine it with other condition, it coerce the other condition to nullable bool and cast to bool on whole expression. Since inner expression is logical ope

[2017-07-27 22:02] smitpatel commented on #9275
@maumar - On a different issue, `Child.ParentEntity.MyValue` shouldn't be nullable because there is null check already.

[2017-07-27 22:08] smitpatel commented on #9242
The main scenario for using `EF.Property` method is shadow property access. Shadow properties in EF are properties defined on the model but does not exists in CLR type. So in above transformations, propertyInfo is not available always. 😢

[2017-07-27 22:13] smitpatel commented on #9273
EF 1.1.1 does not work with VS 2017. It was written in VS 2015. At present there is no plan to update 1.1.2 branch to move to 2017 msbuild based infrastructure.

[2017-07-27 22:27] divega commented on #5308
@smitpatel do you think we should do this clean up task now?

[2017-07-27 22:32] smitpatel commented on #5308
Yes we should. It would be easy. And I suspect some day xUnit will start acting up seeing `Wait()`

[2017-07-27 22:33] smitpatel commented on #5308
Note for implementer: Look at `SqlServerDatabaseCreatorExistsTest` which utilizes common method for sync/async both testing without using `Wait()`

[2017-07-27 22:40] MichaelKetting commented on #9242
@smitpatel That's not an issue with the second version. I just used PropertyInfo because it was convenient while spiking around, but really, you just need the property's type (aka Expression.Type) and the property's name.

[2017-07-27 22:51] maumar opened #9282 "Query: optimize queries projecting correlated collections, so that they don't result in N+1 database queries"
In #8584 we allowed include pipeline to be reused for queries that project collection navigations as long as they are not composed on. This results in generating much better queries for those cases - no longer producing N+1 queries.

This could be further enhanced to support collection navigations that are composed on (e.g. customers.Select(c => c.Orders.Where(o => o.City == "London")), so that th

[2017-07-27 22:54] smitpatel commented on #9242
Basically, we need to transform the method call into something else so ReLinq does not process them as collection types?

[2017-07-27 23:03] smitpatel commented on #9271
Issue:
When we query data, (without include) changetracker does fix up of all navigations.
When we query data with include, the include pipeline fixup navigation included and change tracker deals with the rest of navigations. this was done as optimization.
But the include was doing limited fixup in the sense that it would fix up included navigations in direct results but it would not fix up naviga

[2017-07-27 23:03] #9271 closed

[2017-07-27 23:12] smitpatel commented on #9269
If you are not using migrations at all then whatever model is built out of your classes will be used. So if a property is being included in SQL that means property is part of the model.
Check the following
- Did you remove the property from CLR class corresponding to the table?
- Are you doing any `.Property()` call with the property name of the removed property? If you remove CLR property but sti

[2017-07-27 23:25] sgwatgit commented on #9124
@smitpatel I finally got to try out these steps and I'm now building my project without any errors and everything is running again.

Thanks so much for helping me out with this!

[2017-07-28 00:19] smitpatel opened #9285 "Benchmarks: Upgrade to latest released package of BenchmarkDotNet on NuGet"
Fix for https://github.com/dotnet/BenchmarkDotNet/issues/481 is needed for our benchmark runs. We currently depend on their nightly builds. Once the fix is available on NuGet we should remove the nightly build and depend on what is available on NuGet.

[2017-07-28 00:20] smitpatel opened #9286 "Benchmarks: Upgrade to 2.0 RTM of EF Core once public"
At present we run our EF Core 2 benchmarks using 2.0.0-preview2 version because rtm packages are on release feed and not yet in NuGet and dev depends on dev feed.

Once we release 2.0 RTM packages to NuGet update our benchmark project to move to RTM versions.

[2017-07-28 00:46] bricelam commented on #9281
Reverse engineering into a UWP project won't work, but I'm curious to see if we have a good error...

[2017-07-28 00:48] bricelam commented on #9281
(In theory, it could work with a purly managed ADO.NET provider.)

[2017-07-28 00:58] bricelam commented on #9280
Strange that we don't handle `null` in JSON. I wonder why we're just now seeing this.

[2017-07-28 01:10] smitpatel commented on #9286
Since Configuration have braking changes from 2.0.0-preview2-final to 2.0.0 RTM, at present latest dev fail at runtime due to missing method exception. This has been resolved using adding explicit package reference to dev benchmarks.
Ideally that can be removed once we reference 2.0 packages since after 2.0 there shouldn't be breaking changes till 3.0.

[2017-07-28 03:43] rroyter opened #9287 "The entity type 'CoordinateSystem' requires a primary key to be defined."
I'm running a `Add-Migration InitialCreate` command on a model with a `System.Spatial.GeographyPoint` property. I get the following error:` The entity type 'CoordinateSystem' requires a primary key to be defined.`

It maybe not a bug, but I couldn't find a concrete answer - is GeographyPoint supported by EF?
[code]

### Steps to reproduce
Create a model with `System.Spatial.GeographyPoint` propert

[2017-07-28 04:37] smitpatel commented on #9287
duplicate of #1100
In the essence, EF Core does not map spatial types to their server types directly hence, it will expand spatial types (as they are reference types) as EntityType & create tables for each of them. Since every table needs a PK it throws above exception.

[2017-07-28 06:03] MichaelKetting commented on #9242
Almost. What I acutally did was make sure that re-linq stops processing when reaching the EF.Property node and turn this entire thing into a sub query. The exception originated because linq would try to drill deeper into the expression tree, taking apart EF.Property and it's arguments and then end up with something that's no longer compatible with sub queries.

Just as a disclaimer: It might very

[2017-07-28 06:42] v1n1akabozo commented on #8026
@ajcvickers

If i understood correctly what you said then the proper way to do this would be

[code]

But isn't that the same as

[code]

I might be missremembering this, but on the full .NET Framework we used to be able to make concurrent calls to the dbcontext without having to await them right away. As it is in the EF Core we can either chose to sacrifice memory and get more instances of the db

[2017-07-28 06:44] divega commented on #9281
@bricelam curious, why is that?

BTW, we expect to be testing fully managed SqlClient for UWP as part of this. You just reminded me I did not add it to the list :smile:

[2017-07-28 07:13] smitpatel commented on #4311
@divega @ajcvickers - Pulling this out from backlog and upgrading to `2.2.0-alpha-002` version of ReLinq for our next preview so that we can verify reliability.

[2017-07-28 07:54] hidegh commented on #3797
I need to update https://www.linkedin.com/pulse/entity-framework-core-20-preview-1-missing-feature-use-hideghety - although dates for v2.1 does not exists yet, at least things started to roll...

[2017-07-28 09:51] pawepaw commented on #8019
@smitpatel
But when querying navigation properties EF allows only to pass Func<> because it treats ICollection<> as IEnumerable. If what you said is true it would mean that all sub queries on navigation properties are executed in memory and that would be false statement.

[2017-07-28 11:47] archanasoni commented on #9273
Thanks @smitpatel for the info.

[2017-07-28 13:34] bricelam commented on #9281
NuGet will restore for UWP, but we run the tools on .NET Framework. You'll get the "no app sandbox" error.

[2017-07-28 13:52] bricelam commented on #9281
I've directed a few people towards using the managed SqlClient implementation for UWP on ARM, and they've all reported success, so I'm hopeful it will go well.

[2017-07-28 14:07] MichaelKetting commented on #9242
Okay, we decided that this would also make a nice extension point (rules for sub-query detection, https://www.re-motion.org/jira/browse/RMLNQ-114), but that's not something on the immideate roadmap so long as there's sensible workarounds available.

[2017-07-28 14:09] fernandojs commented on #2266
Unfortunately, without TPT support the EF7 is stopping the upgrade of lot of apps in the .netCore world.

[2017-07-28 14:46] AndreyAkinshin commented on #9285
BenchmarkDotNet v0.10.9 (with fix for https://github.com/dotnet/BenchmarkDotNet/issues/481) has been released, it's already available on nuget.org: https://www.nuget.org/packages/BenchmarkDotNet/0.10.9

[2017-07-28 14:48] Wain123 opened #9288 "Serializing/Copying a Context"
As far as I can see, DbContext doesn't implement ISerializable or anything of that sort.

I'm trying to create something like a "savepoint" - basically, remember exactly what a context (including all of its entities etc) looked like at a certain point in time, then perform some operations, then restore everything to the saved state in case of an error.

I can implement serialization on my entities

[2017-07-28 14:52] jimmymain commented on #2266
On Fri, 28 Jul 2017 at 4:09 PM fernandojs <notifications@github.com> wrote:

Yes it is - come on guys - give us a roadmap. EF6 with its few frustrations
really rocks compared to the competition. Particularly for the .Include
method.

Give us some guidance.

[2017-07-28 17:33] anpete commented on #8026
@v1n1akabozo This should work in 2.0. I.e. You can spawn several tasks and await all of them via something like Task.WhenAll.

[2017-07-28 17:48] divega commented on #9141
I have personally validated the scenario with a build of System.ComponentModel.Annotations.dll that contains the fix. I am closing this because the issue is no longer actionable on our side, but unfortunately it may take some time for the fix to flow all the way to Windows Insider builds.

[2017-07-28 17:48] #9141 closed

[2017-07-28 18:02] smitpatel commented on #9285
Thanks @AndreyAkinshin - I will update the code. At present we are stuck on merging due to windows defender raising virus alert (seems like https://github.com/dotnet/BenchmarkDotNet/issues/364)

[2017-07-28 18:02] maumar commented on #9110
Fixed in: db7fa92b25a1f44f1e094e2eaeacc5aa8921a005, 0898ee77bdb68572e7dfb761da60fada65fd5344 and c724961dc7fb89f33dd11040f7c2a4358ea00a5e

[2017-07-28 18:02] #9110 closed

[2017-07-28 18:05] isaacrlevin opened #9289 "EFCore in DotNetStandard2.0 Library contains not found dependencies"
I have EFCore installed in a DotNetStandard2.0 CL and everything is working fine except I get a warning on Build regarding not found packages and resolution has to take place

This is the warning I get on Build
[code]

Installing System.Runtime.CompilerServices.Unsafe explicitly fixes warning
Install-Package System.Runtime.CompilerServices.Unsafe -Pre

### Steps to reproduce
Create New DotNetStand

[2017-07-28 18:08] smitpatel commented on #9289
Can you share your csproj file and Nuget.config?

[2017-07-28 18:19] roji commented on #9270
Interesting stuff, it would be great to be able to run this benchmark as-is on PostgreSQL.

I think I ran something similar a while ago and found simpler results, i.e. that batching only improves performance (or at least doesn't degrade it), but it would be good to make sure.

[2017-07-28 18:19] isaac2004 commented on #9289
Certainly

[code]

[2017-07-28 18:30] divega commented on #9277
We need to investigate if this is working on 2.0. We will consider patching this depending on the impact and the fix.

[2017-07-28 19:00] smitpatel commented on #9289
Check out https://github.com/aspnet/EntityFramework/issues/8923#issuecomment-310431600
In preview2-final there is no `SqlServer.Design` package. Please remove that line and try again.

[2017-07-28 19:12] smitpatel commented on #9270
I updated the code. It sets different batch size and run it twice. (first one is ignored as warmup)

[2017-07-28 19:30] flq commented on #7891
Here I am, vs code, did "dotnet new web", have the following packages added via dotnet add package:

[code]

Have in Startup.cs `using Microsoft.EntityFrameworkCore;`

But this line Fails:

[code]

That is easily the weirdest issue I've seen in a while. So, game over, or what?

[2017-07-28 19:32] smitpatel commented on #7891
Incorrect package

You need reference to `Microsoft.EntityFrameworkCore.SqlServer`
EFCore is just core package. You need to reference provider specific package.

[2017-07-28 19:33] divega opened #9290 "Query Types: Model types that do not require identity"
Note: The feature tracked in this issue could help with using EF Core with database views. However, the feature is not limited to database views and its completion would not mean that every aspect of database view support has been implemented. See #827 for an overview of the areas where EF Core interacts with database views.

---

We want to enable modeling types that exist independently of entiti

[2017-07-28 19:38] flq commented on #7891
Just realized this myself. Now it's here to read as well for the next hapless fool :)

`dotnet add package Microsoft.EntityFrameworkCore.SqlServer` and off you go

[2017-07-28 19:54] joeaudette opened #9291 "efcore2 warns about default values for bool"
I'm in the process of updating a large app from efcore 1.1 to efcore 2preview
Got everything working with the existing models and previous migrations but ran into this problem when adding new properties to the model.

I added a few properties to my model and then wanted to generate a migration. The new props are added like this:

    entity.Property(p => p.PwdRequireNonAlpha)
                .IsRe

[2017-07-28 19:55] pmiddleton commented on #9290
Table valued functions can return an arbitrary type.  Usually this result is then cross applied with other parts of the query, but it can just be selected.  I need a way to map this type and I think this feature could help with that.

[2017-07-28 20:03] joeaudette opened #9292 "table name migration issue after updating to 2.0preview"
I'm updating a large app from efcore 1.1 to 2.0 preview.

For my Entity SiteSettings I previously had

    entity.ForSqlServerToTable("cs_Sites");

which seems to have gone away in 2.0 so I changed it like this:

    entity.ToTable("cs_Sites");

after a model change I generated a migration and in the migration code I see what looks incorrect to me, like it wants to rename tables like this:

    mi

[2017-07-28 20:25] vsevolodsa commented on #4649
How do you call it?

[2017-07-28 20:50] divega commented on #9290
@pmiddleton that is exactly right. I will add it to the list or related features.

[2017-07-28 21:11] #8842 closed

[2017-07-28 21:12] smitpatel commented on #8842
We have moved to use BenchmarkDotNet for our benchmark runs.

[2017-07-28 22:00] dixitsuneel opened #9293 "ToListAsync never returns back after query execution"
We just upgraded to EF Core 2.0 Preview 2 and I have seen this issue in EF COre 1.1

For some of our queries we want to fetch parent records, but then we also find the related child records in one db call.

so we have our query outlined as this

await query.Select(parent=> new
{
ParentPropertiesProjections..
ChildCollectionModel = parent.ChildCollection.Select(t=> ....)
}.ToListAsync();

I see in

[2017-07-28 22:34] smitpatel commented on #9285
Fixed with 0a31b87c1c044c24e5ffd8219e710fbc0faa38aa

[2017-07-28 22:34] #9285 closed

[2017-07-28 22:50] smitpatel commented on #9289
After removing the stale package restore works fine for me.

[2017-07-28 23:04] pmiddleton commented on #9214
@anpete @ajcvickers

Do either of you have any suggestions or examples on how to inject a factory into the relational annotations?  I would like to create a SqlDbFunction class which can set the default schema.  The issue I am having is that I don't see a clean way to inject a dbFunction factory into the RelationalModelAnnotations class.    The only approach I see is storing it in the IModel and t

[2017-07-28 23:12] anpete commented on #9214
It may be easier to have a SQL Server IModelAnnotationChangedConvention that just defaults the schema...

[2017-07-28 23:22] pmiddleton commented on #9214
Thanks - I forgot those notifications were there.  I will take a look into that approach.

[2017-07-28 23:34] pmiddleton commented on #9214
and yes I realize the irony in forgetting about it when I was the one who created it :)

[2017-07-29 00:23] smitpatel opened #9295 "Query: Translate Exists"
[code]
Translate to
[code]
But
[code]
client evals. 🤦‍♂️

[2017-07-29 07:41] hmdhasani commented on #3312
@joehoeller The Stackoverflow page is removed!

[2017-07-29 09:57] MaklaCof opened #9297 "Select only specific column for included table result in multiple round trip to server"
I think this should transform to single query but it does not:
[code]
First query is run to query MainTable and then for each row in MainTable another query is run to get SomeField value from DetailTable.
I am using EF 1.1.2.

I though that I am doing something wrong, so I ask question on [SO](https://stackoverflow.com/questions/45387603/select-with-fields-to-include-in-detail-table-with-ef-core),

[2017-07-29 12:45] joeaudette commented on #9292
I "think" I may have figured out how to solve this. Looks like I should probably edit the existing ModelSnapshot that was previously generated using efcore1x which currently has this:

    b.ToTable("Sites");
    b.HasAnnotation("SqlServer:TableName", "cs_Site");

to just this:

    b.ToTable("cs_Site");

and similarly remove other .HasAnnotation that have sqlserver specific info

[2017-07-29 13:45] SergeyBarskiy opened #9298 "Discriminator column is created not indexable in SQL Server"
Describe what is not working as expected.
Discriminator column is created as varchar(max) when inheritance is used

### Steps to reproduce
Create two classes that where one extends to anotehr as models for DbContext.  Create a database.  Discriminator column is created as varchar(max), which makes it non-indexable in SQL Server.  Should really be varchar(511) where 511 is max value for class name

[2017-07-29 14:18] joeaudette commented on #9291
I am really confused by these warnings about default bool values. Based on the warning it sounds like if my entity has false and the db default is true it would save true when the entity is saved. But testing this with the latest preview it seems to not do that, I can save the entity with a false value even though the database default is true.

So is the warning incorrect? I don't get it

[2017-07-29 14:40] joeaudette commented on #9291
Maybe these warnings only apply on insert? If so that would make more sense to me and not be so scary.  If that is true maybe the warning should indicate that because the way it reads now it sounds like it would happen any time the entity is saved, but from testing it works fine when updating.

[2017-07-29 17:09] isaac2004 commented on #9289
That did it, thanks

[2017-07-29 18:01] ketrex2 opened #9299 "PlatformTarget AnyCPU causes SQLite invocation to fail with cryptic error"
I have a .NET core console application which references a netstandard1.4 class library containing a dbContext. My console application creates a new ServiceCollection and adds the necessary references as detailed here:
[code]
As long as I specify x64 or x86 as the platform target, my application runs fine. If I set the target to AnyCPU, an exception is thrown during the call to 'Database.EnsureCrea

[2017-07-29 19:51] joeaudette commented on #9291
From testing it does in fact seem that those warnings only apply for inserts of new entities. If the db default of a bool is true but the entity being created has the property as false, it will be true after the entity is created.
But subsequent saves of the entity can save the property as false.

My feedback is that the messages would be less scary if they mentioned the issue affects only inserts

[2017-07-29 20:18] gdoron commented on #3312
@hmdhasani there you go.
![image](https://user-images.githubusercontent.com/6141009/28747967-20b348f4-74b4-11e7-81ff-4185d7bc6f4d.png)

[2017-07-30 11:49] divega commented on #9288
@Wain123 Serialization of `DbContext` state is something that we have discussed in the past as a possible approach for EF Core (or EF) to work in disconnected scenarios and in long running processes which require persisting intermediary states to be able to continue with them later. Pursuing this feature isn't currently in our radar but we would like to understand your scenario as much as possible

[2017-07-30 13:39] shlomiw commented on #9128
Hi,

This is a major concern for us, all our framework is based on async/await, and queries are blocked.
We actually consider moving to EF 6, unfortunately it is a show-stopper.

Do you have a time frame?

Thanks in advance

[2017-07-30 19:34] davidbuckleyni commented on #8090
I added identy to a program that already has a db context I got the following error in dotnet core dont understtand it here is my question on stack overflow

https://stackoverflow.com/questions/45392363/a-provider-can-be-configured-by-overriding-the-dbcontext-onconfiguring?noredirect=1#comment77751815_45392363

[2017-07-31 00:31] bricelam commented on #9292
In the final version of 2.0.0, you should no longer have to update the model snapshot. We'll compensate for the change automatically.

[2017-07-31 03:00] smitpatel commented on #9298
Looking at stackoverflow question, there seem to be no limit on the length of the name.

[2017-07-31 06:36] peterwurzinger commented on #9275
Since there is a high chance of needing to release our application with EFCore 2.0, is there a known workaround where it is **not** necessary to touch the queries?
We found out, that an explicit comparison with `true` fixes the problem, but since it is an redundant expression we do not know if a compiler or refactoring tool would reduce this expression in Release builds:

[code]

Regards
Peter

[2017-07-31 08:20] Wain123 commented on #9288
I am more-or-less talking about errors during SaveChanges, but the Rollback/Commit/AcceptAllChanges functionality isn't sufficient here.

I am writing software for logistics and production. It needs to handle highly concurrent scenarios with many users working with the same data. So, I can't just load some entity, show it to the user, let him make changes, then save it - the data would have change

[2017-07-31 09:42] azabluda opened #9301 "AsyncQueryTestBase.Mixed_sync_async_query test still flaky?"
While working on my EF.Core provider I ran into some weird issues with [`Mixed_sync_async_query`](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Specification.Tests/Query/AsyncSimpleQueryTestBase.cs#L98) test. After some experimenting it doesn't seem very trustworthy to me. For example it fails if I add `.ToList()` and run it against InMemory database
[code]
[code]

I went ahead a b

[2017-07-31 10:32] thomaswolff commented on #9046
Just wanted to leave a comment here in case someone developing an Azure Function App is having problems with setting up a binding redirect for System.ValueTuple. Read this blog post for a solution: https://codopia.wordpress.com/2017/07/21/how-to-fix-the-assembly-binding-redirect-problem-in-azure-functions/

[2017-07-31 11:42] joeaudette commented on #9292
@bricelam good to know!

Just fyi, not sure if this was needed but to get my app working in preview2 I manually edited all the .designer.cs files for previous migrations as well as the snapshot to remove all the sqlserver annotations and use the more standard syntax. I backed up my original migrations and generated a new one with 20preview then restored the originals and compared the syntax with t

[2017-07-31 12:15] rmja opened #9302 "Using ICurrentDbContext to access the current context during migrations"
I am using a custom `SqlServerMigrationsSqlGenerator` to handle [multi tenant migrations](https://github.com/aspnet/EntityFramework/issues/4583). In 1.1 it was possible to let this custom generator depend on `ICurrentDbContext`. I could then determine the name of the tenant from a string property on the context, and handle sql generation operations appropriately.

In 2.0, `ICurrentDbContext` resol

[2017-07-31 13:01] SergeyBarskiy commented on #9298
Correct, the post implies that the limit is imposed by compiler.  If you do not want to put a limit, how about adding configuration for discriminator columns to allow to specify the type and length?  Without doing something it will not be possible to add an index on them in SQL Server.

[2017-07-31 15:24] smitpatel commented on #9298
After reading all answers & comments on stackoverflow
- There is no limit written in specs. Virtually any name length of class should work.
- There seem to be some limit imposed by compiler but with ever new version the limit is expanding.

You can already do that.
`modelBuilder.Entity<Person>().Property("Discriminator").HasMaxLength(511);`

[2017-07-31 15:28] smitpatel commented on #9275
Try this
[code]

You don't need null check when accessing through navigation. EF Core takes care of while expanding navigation.

[2017-07-31 15:58] bricelam commented on #9299
I've seen this too. At some point, I think the `SQLite` NuGet Package stopped working with AnyCPU projects. You could try downgrading that package to see if it works with an older one.

[2017-07-31 16:00] bricelam commented on #9299
It's supposed to copy both versions of the dll to the output directory: `x86\sqlite3.dll` and `x64\sqlite3.dll`.

[2017-07-31 16:22] SergeyBarskiy commented on #9298
I did not realize you could configure a column that is nowhere in the model.  Do you want to close the issue, Smit?
Thanks for your help.

[2017-07-31 17:08] smitpatel commented on #9298
When you don't configure a discriminator property, EF adds a shadow property in the model. Shadow properties are not present on CLR type but they exist in EF model so that it can be mapped to appropriate column in database and you can perform operations just like normal properties using EF APIs.
If you pass string name to `.Property()` on entityTypeBuilder then it will find & configure shadow prop

[2017-07-31 17:33] smitpatel commented on #9291
We should refine the error message to indicate it is insert time only.

[2017-07-31 17:35] smitpatel commented on #9098
Once this issue is fixed, can we have a design meeting slot on how to add a new fixture & testbase?

[2017-07-31 17:40] smitpatel commented on #9297
Following up on this on Stackoverflow.

[2017-07-31 17:47] smitpatel opened #9304 "Benchmarks: Run very slow tests on EF6 for one iteration only"
A test running for 5-8 mins multiple times is taking a long time causing eventual time out on CI server.

[2017-07-31 19:04] maumar commented on #9297
dupe of https://github.com/aspnet/EntityFramework/issues/4007. https://github.com/aspnet/EntityFramework/issues/9282 (stretch goal for 2.1 release would solve this)

[2017-07-31 19:39] AndriySvyryd commented on #9281
@bricelam

System.TypeInitializationException: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnection' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.InvalidOperationException: The process has no package identity. (Exception from HRESULT: 0x80073D54)
   at Windows.Storage.ApplicationData.get_Curr

[2017-07-31 20:27] rykr commented on #9269
Thanks for your reply.  I have searched in db create script and I am not using the column as any type of FK.  I also am not calling .Property in any way.

Also, I can rename the CLR object to some other name and it will work fine using the same database and table!!  For now I have added back the division_id field to my database to make it work.

I have no idea why it keeps generating SQL with that

[2017-07-31 20:41] bradmarder opened #9306 "NRE on IncludeCompiler.IncludeLoadTreeNodeBase"
I'm getting an NRE when executing a `.SingleAsync()` query with a few navigational property includes.  This worked as expected in EF Core 1.1, but throws with the nightly EF 2.0 bits.

The query is something like the following...

[code]
For this model, `Bar` is an optional navigational property on `Foo` and `Bazs` is a collection navigation property.  The logs show the generated sql query for fet

[2017-07-31 20:51] smitpatel commented on #9269
There is no model cache when application is offline so there is nothing to validate. If the column is being included in SQL then for some reason the column is being added to the model. I outlined some of the reasons why a property would be added to the model. If it is none of those case then please share a repro code which would demonstrate the issue you are seeing.

[2017-07-31 21:30] rykr commented on #9269
maybe I don't have it properly "offline".   All I did was delete my
migration table.  Is that enough for it to go "offline"?

On Mon, Jul 31, 2017 at 3:51 PM, Smit Patel <notifications@github.com>
wrote:

[2017-07-31 22:06] rykr commented on #9269
I found it.  Man those things can be hard to find.  I have  a property on another model and EF was trying to create a connection.   Sorry for the noise.

[2017-07-31 22:20] smitpatel commented on #9269
Just for clarification:
Offline means when app is not running.
Since model building is a costly operation, when you start your app and use the model for first time, EF Core will build it and cache it. So while app is running all subsequent access to model will use the cached model. This works correctly since currently model cannot change at runtime. Once you shutdown your app that cached model is

[2017-07-31 23:04] smitpatel commented on #9277
Since fix for this is out in PR, removing milestone so we can discuss about patch.

[2017-07-31 23:08] smitpatel opened #9309 "Query: Output parameter in FromSql/ExecuteSqlCommand is always returns null"
This issue is to track porting of #9277 for patch.

Impact: Using `FromSql` with out parameters on SqlServer will never return value of out parameter. All such scenarios are broken.
Work-around:None

[2017-07-31 23:08] maumar opened #9310 "Mapping: conventions try to use primary key as the FK of a required relationship in some scenarios, which can't work since the PK is not nullable"
model:

[code]

configuration:

[code]

exception:

[code]

[2017-07-31 23:37] #4311 closed

[2017-07-31 23:41] smitpatel opened #9311 "Remotion Linq: Upgrade package to RTM version"
To resolve #4311 we have upgraded to Alpha version of Relinq. We can upgrade to another pre-release version before we ship our preview. Once we are done with next preview, we need to move to RTM version of package before final release of 2.1.0

cc: @MichaelKetting - I will give you heads up in advance when we need RTM.

[2017-08-01 00:03] teh-sHr0oMaN commented on #388
So given that https://github.com/aspnet/Microsoft.Data.Sqlite/issues/13 has been completed, is there now some encryption support for SQLite using EF? Perhaps via a library?

[2017-08-01 00:15] #9304 closed

[2017-08-01 00:26] smitpatel commented on #9206
@Spaceman1861 - Can you share a repro code which demonstrate above issue?

You would need to provide a small app using similar model & querying. A sql script to insert some sample data which is large enough to show error. & details about your SqlServer instance in Azure. There are various things involved here so it would be hard to reproduce the error unless all parameters are matched up exact sam

[2017-08-01 00:28] smitpatel commented on #9111
@bricelam - Heads up. I am going to start working on modifying reveng tests as we discussed earlier.

[2017-08-01 01:13] #9277 closed

[2017-08-01 02:09] Spaceman1861 commented on #9206
@smitpatel ill put it my list and get it to you as soon as possible

[2017-08-01 03:18] kayle opened #9312 "Handle added/modified/deleted child entries with single call to TrackChanges or other API"
From what I can see, there's no simple way to detect deleted entities when working with detached data. From searching stackoverflow, it looks like this is a common issue and currently has no built-in solution.

Consider the following code as an example where I want to auto-detect deleted Child entities when calling Update:

[code]

I'm not a sql expert, but I believe I want this to add an extra sq

[2017-08-01 05:46] MichaelKetting commented on #9311
@smitpatel Thanks :)

[2017-08-01 06:49] peterwurzinger commented on #9275
I'm well aware of the built-in null check. But as already mentioned, projecting a single bool-value to a view/anonymous object works fine (it would be really critical if not). The error only occours when connecting **two or more** logical terms in 1:N relations and projecting them.
So
``IsFieldSet = child.ParentEntity.MyValue``
will ofc work fine while
``IsFieldSet = child.ParentEntity.MyValue &&

[2017-08-01 10:17] irowbin opened #9313 "Linq to query wrong query generation ?"
Describe what is not working as expected.

I have a linq query to get max with where clause, But i am getting values even if its null.
[code]
Should generate the SQL like this i guess?
[code]
but i am getting the SQL like this.

[code]
Even the where clause predicate is falsy as null property, i am getting values?

<br>
If you are seeing an exception, include the full exceptions details (message a

[2017-08-01 15:09] smitpatel commented on #9313
What is the value of `dto.ParentId`?

[2017-08-01 15:23] irowbin commented on #9313
It is an `int` which is `nullable`

[2017-08-01 15:32] smitpatel commented on #9313
In T-SQL while using comparison operators, if any argument is null then it returns UNKNOWN which is different from how it works in C#. Hence `a == null` in C# gets translated to `a is NULL` in T-SQL.
More info on null handling in t-sql here https://docs.microsoft.com/en-us/sql/t-sql/queries/is-null-transact-sql

To check if result from database actually match up with what in memory would give run

[2017-08-01 16:20] irowbin commented on #9313
You mean that any null arguments gets translated to a `is NULL`  and if i want to translate `is` to be `equal ` then i have to call `.ToList()` before comparison? That's what your saying? Thanks

[2017-08-01 16:26] smitpatel commented on #9313
Yes by default `== null` will get translated to `Is NULL` to get results as C# would expect. EF Core compensate for difference between database/in memory null handling. If you want to remove this processing done by EF and convert `== null` to database as `= NULL` then you can configure it.
On your `DbContextOptionsBuilder` (the `options` on which you call `UseSqlServer`) call `UseRelationalNulls()

[2017-08-01 16:44] triynko commented on #9256
I'm seeing the same problem.  Include seems to just not work in all but the simplest scenarios.  In spite of calling "Include" on and entity's navigation property and in spite of returning that whole entity as part of the output type.... the include is just ignored and the navigation property is not hydrated.

[2017-08-01 17:05] anpete commented on #9256
@triynko Please list the version of EF Core you are using and the query that is not working, thanks,

[2017-08-01 17:46] bricelam commented on #388
[code]

[code]

[2017-08-01 17:55] bricelam commented on #9281
We should look into wrapping that HRESULT. Something like...

[2017-08-01 22:12] AndriySvyryd opened #9316 "Don't use reflection on emited types"
This breaks UWP.
In particular `Microsoft.EntityFrameworkCore.Query.ExpressionVisitors.Internal.CompositeShaper.Create` shouldn't call `GetMethodInfo()` on `materializer`

[2017-08-01 23:03] smitpatel commented on #8853
`TableSelectionSet` being removed in #9315

[2017-08-02 01:21] smitpatel opened #9318 "SqlServer: Scaffolding default schema"
At present we identify the default schema using `SELECT SCHEMA_NAME()`
But default schema is user specific. So different users may have different schema. This can give rise to different scaffolded code based on who ran the rev eng & cause ugly version control diffs especially once update model for database is implemented.

If we stop scaffolding default schema then if the schema is anything other

[2017-08-02 04:15] Taknok commented on #8817
If I try to use `2.1.0-preview1-26462` to fix this error I will get error with my sdk in `2.0.0-preview2` isn't it ?

[2017-08-02 08:22] joopscheer commented on #1590
Any updates on this topic?

[2017-08-02 13:43] BenjiZombie commented on #9293
See #9128

[2017-08-02 15:36] bricelam commented on #9318
*dbo* is not our default (except for functions). If you don't specify a schema, we don't specify one in SQL and the default schema of the current user is used.

The way we currently scaffold means that no matter what user you use to reverse engineer, it should work for all users if they have access to the objects.

It may be helpful to have an option never to use the default schema (always configu

[2017-08-02 16:24] ErikEJ commented on #9318
I think the schema should always be scaffolded.

[2017-08-02 16:44] ErikEJ opened #9319 "Improve logging of datetime parameter values"
Current way hurts my European eyes, and prevents safe reuse of logged SQL for debugging etc.

Current: 01/02/2019 14:11:12 (DateTime.ToString() with InvariantCulture)

Proposed: Datetime.ToString("s")/DateTimeOffsset.ToString("o")

[2017-08-02 17:35] divega commented on #9318
@ErikEJ the schema on each table or the default one? Can you elaborate a bit more on why? :smile:

[2017-08-02 17:38] ErikEJ commented on #9318
I meant be explicit on each table... Because this is scaffolding, and should reflect the actual layout of the db.

[2017-08-02 17:46] divega commented on #9318
@ErikEJ I don't think that is necessarily bad, but we also as a principle try to avoid generating unnecessary repetitive code when the default conventions makes it unnecessary.

[2017-08-02 17:49] divega commented on #9318
FWIW, in SQL Server there is supposedly a performance overhead when schema is not specified in the SQL, because it needs to run some heuristics to resolve the table. I can't remember if ever tried to measure that.

[2017-08-02 17:57] smitpatel opened #9320 "Test: UdfDbFunctionSqlServerTests class should not use northwind database"
`UdfDbFunctionSqlServerTests` is used for functional testing for UDFs. Any time we change something and want to add more test that should be the class to go to. But at present that class uses northwind database.
We don't want to modify northwind database since anytime we modify the script, we need to drop database from machines where it is persisted. (CI & local dev boxes).
We should let this clas

[2017-08-02 18:00] smitpatel opened #9321 "SqlServer: Execute method should handle "GO""
At present `ExecuteNonQuery` in SqlServer will send whole sql as single batch. Certain operation requires to be only statement in batch. That means using "GO". But if you use GO in ExecuteNonQuery it still throws.
Perhaps Execute method should split on GO and send multiple batches. AFAIK migrations do this already.

[2017-08-02 18:30] divega commented on #9298
We should verify that configuring the index also limits the size of the column. Otherwise we will create a new issue for that.

We are not going to add a index by convention. We don't know that the index is necessarily going to help if it the discriminator only have a few different values. But the user can configure the index if they know it helps.

[2017-08-02 18:39] divega commented on #9301
The fact that changing the test this way returns different results at first glance it looks like it could be the consequence of a bug somewhere.

[2017-08-02 18:43] divega commented on #9302
We wonder if there should be a way to ask the SQL Server migrations SQL generator to be scoped if customers want to be able to resolve scope services while using them.

[2017-08-02 18:55] divega commented on #9319
@ErikEJ it would be nice to discuss over examples to agree on how we want it to look.

[2017-08-02 18:58] divega commented on #9321
We could have a separate method that does it and reuses the logic we have in migrations.

[2017-08-02 19:08] divega commented on #9318
@bricelam will revisit this when he is working on update model from database.

[2017-08-02 20:26] joeaudette opened #9322 "error running migrations and seeding from startup in 2.0preview2"
I'm registering my services like this:

    services.AddEntityFrameworkSqlServer()
	    .AddDbContext<CoreDbContext>((serviceProvider, options) =>
	options.UseSqlServer(connectionString)
		   .UseInternalServiceProvider(serviceProvider)
		   );
    services.AddScoped<ICoreDbContext, CoreDbContext>();

Then during Configure method of startup I call a method to initialize the db like this:

    Core

[2017-08-02 21:10] smitpatel commented on #9301
This is a bug in product. The correct result is 830. We are caching the inner subquery incorrectly that in subsequent  runs of N+1 we are just reusing old results causing each customers to be associated with orders of first customer (ALFKI in this case which has 6 orders) hence 91 * 6 = 546 as answer.

[2017-08-03 00:04] smitpatel opened #9323 "RevEng: Default/Computed Value processing"
At present, DefaultValueSql does not set ValueGenerated on DatabaseColumn but ComputedValueSql sets it to AddOrUpdate.
If we are assuming that calling `HasDefaultValueSql` will set ValueGenerated by itself then same should also be true for `HasComputedValueSql` hence setting ValueGenerated for it is redundant.
If it is incorrect assumption then, DefaultValue should set to ValueGenerated.OnAdd.

Id

[2017-08-03 00:26] smitpatel commented on #9298
Defining index on the discriminator property in EF model changes type to `nvarchar(450)` and defines an index.
Side note: Configuring an index also requires the knowledge of property name if its shadow. (same as above)
`modelBuilder.Entity<Blog>().HasIndex("Discriminator");`

[2017-08-03 01:15] smitpatel opened #9324 "RevEng: Scaffold Non clustered for PK"
This work is opposite of #8687

The comment https://github.com/aspnet/EntityFramework/pull/8950/files#r123785377 was correct.
Using migrations on generated code causes issues.

The issue is as follows:
SqlServer by default creates clustered PK if there is no other "constraint" which is marked as unique. Emphasize on constraint because constraints can be declared in create table but indexes cannot

[2017-08-03 05:24] MichaelKetting commented on #9311
@smitpatel Just a quick heads up from my side :)
There's a small codechange for VB-support coming up (support for EmbeddedOperators in addition to Operators, https://www.re-motion.org/jira/browse/RMLNQ-115). If I get a couple of minutes till the end of the weekend, I'll be doing another alpha drop with this. This will only affect VB-compiled code.

[2017-08-03 06:19] kumarsathishD opened #9325 "Setup and Deployment of Entity Framework Project"
Hi EF Team ,

Thanks for making a EF an Open source project , so now we can contribute to it and make it much better.
I have a small clarification I won't say it as an issue.
How to move a project which used EF as a ORM into a production or to a client machine.
Let me explain you the scenario.
I have created a project in WPF which uses entity framework as an ORM, Now I need to pass the setup i.e e

[2017-08-03 07:46] ErikEJ commented on #9319
I guess what I am suggestion is that .ToTable (inlcuding schema name) is always scaffolded.

    entity.ToTable("OneToOneFKToUniqueKeyDependent", "dbo");

[2017-08-03 07:56] ErikEJ commented on #9319
See
https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetimeoffset-transact-sql
https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime-transact-sql

For System.DateTime:

    2019-01-02T14:11:12

For System.DateTimeOffset:

   2019-01-02T14:11:12.0000000-07:00

[2017-08-03 09:40] ReginaldBull opened #9326 "Discriminator column ignoring base"
I'm having a entity RoleClaim that inherits from Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRoleClaim.

[code]

The mapping of the class:
[code]
But in the migration I'm still getting a Discriminator column.

### Further technical details
EF Core version: Microsoft.EntityFrameworkCore (1.1.2)
Database Provider: MySql.Data.EntityFrameworkCore (8.0.8-dmr)
Operating system: Windows 10

[2017-08-03 11:58] joeaudette commented on #9322
I should add that this problem appeared after I changed the Program.cs and Startup.cs to use the newer conventions as seen in the latest vs2017 project templates, and I also changed from using more specific dependencies to using the "All" package like this:

    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0-*" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.To

[2017-08-03 13:08] joeaudette commented on #9322
I have isolated the cause of the problem, it works if in Program.cs I use the default code from the latest project templates like this:

     public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .Build();

but simply changing it to add another config source [as shown in this article](https://joon

[2017-08-03 13:21] joeaudette commented on #9322
I also found that this part was a factor in the problem:

    services.AddEntityFrameworkSqlServer()
                .AddDbContext<CoreDbContext>((serviceProvider, options) =>
                {
                    options.UseSqlServer(connectionString)
                           .UseInternalServiceProvider(serviceProvider);
                });

I needed to change it like this:

    services.AddEnt

[2017-08-03 14:49] joeaudette commented on #9322
now it seems that the only problem was .UseInternalServiceProvider(serviceProvider);

what is strange is I tried that change first and still got the error, then with changing the program.cs as stated above the problem went away so I thought that was related. But now changing Progam.cs back as it was, I cannot make the error come back.

In any case the problem seems solved for me now so closing thi

[2017-08-03 16:27] michaelsogos opened #9327 "EF Core 2.0 Preview 2 - One-to-One relationship not working"
I have an issue regarding one-to-one relationship between two entities.

Both entities properties are created has expected in the [official docs](https://docs.microsoft.com/en-us/ef/core/modeling/relationships#other-relationship-patterns), but if i make a simple linq query like `var entity = (from r in ctx.ParentEntity select r).FirstOrDefault()` then the navigation property to the child entity is

[2017-08-03 20:04] smitpatel opened #9328 "RevEng: UpdateAction for ForeignKey in SqlServer"
At present we read update action for foreign key but we do nothing with it. Perhaps because EF metadata has update & delete as same action and cannot do different things. We should warn users if the values of update & delete actions are different

[2017-08-03 21:45] AndriySvyryd opened #9329 "Move TableNameFromDbSetConvention to RelationalModelCustomizer"
This allows us to drop DbContext and DbSetFinder dependencies from RelationalConventionSetBuilder

[2017-08-03 21:50] AndriySvyryd opened #9330 "Allow multiple IModelCustomizer"
This would allow users to add an IModelCustomizer without having to override the provider one

[2017-08-03 22:06] JeanCollas opened #9331 "DbContext.Set<T>().FromSql() not updated"
In a Razor page on ASP.NET Core (internal stats/testing), I had some calls to stored procedures:

    @inject AppDbContext DbContext
    @{
    var stats1 = DbContext.Set<Stats_ViewsPerHourLine>().FromSql("Stats_ViewsLastHours_1");
    var stats2 = DbContext.Set<Stats_ViewsPerHourLine>().FromSql("Stats_ViewsLastHours_2");
    }

    <table>
    @foreach(var s in stats1)
    {
        <tr><td>@s.Ti

[2017-08-03 23:05] smitpatel opened #9333 "RevEng: Warnings for null names for objects which requires name"
We have "warnings" for sequence/column/index not having names but it is impossible to create them without name. There seem to be no way to actually hit that code path. Should we have warnings for them?

[2017-08-03 23:06] smitpatel opened #9334 "RevEng: Warnings for skipped table"
At present when we encounter index/fk from a table which is not included by user, we generate "warning" that we couldn't find the table. That means for a skipped table we would generate multiple warnings even though that was user intent. Should we remove this unnecessary warnings?

[2017-08-03 23:08] smitpatel commented on #9334
Surprisingly we debug output for columns for such table but not for other objects.

[2017-08-03 23:10] smitpatel commented on #9333
Also there are warnings for Columns of an index is not mapped but we don't map column only if the table is skipped. In which case other objects with cause warning for missing table as per #9334 and we will never hit missing index column warning.

[2017-08-03 23:11] nhustak commented on #827
I'll add to the  'I require views' and 'it's about useless to me without it'

[2017-08-04 04:56] anpete commented on #9331
@JeanCollas Which version of EF Core?

[2017-08-04 05:34] ErikEJ commented on #9333
For all database engines?

[2017-08-04 05:35] smitpatel commented on #9333
This is for SqlServer provider. I was trying to write tests to verify the warning but couldn't find a way to actually achieve the error.

[2017-08-04 05:38] ErikEJ commented on #9333
Ah. Yes, I had same concern with sqlce

[2017-08-04 05:51] AniMeIIIkA opened #9336 "Include and ThenInclude not working after groupBy with OrderBy"
Core 2.0
AspNetCore.All 2.1.0-preview1-26462
Navigation property ICollection is null,
Core 1.1 work fine
[code]

Includes null
[code]

[2017-08-04 07:09] groege opened #9337 "Android: Linq, System.PlatformNotSupportedException"
See: https://github.com/mono/mono/pull/5246
IsComObject throws System.PlatformNotSupportedException, should return false, which has been fixed in mono. Problem is I'd really need a workaround asap until this is available to Xamarin, maybe someone here can help me with this?
The only workaround I know of would be to use ToList() and only then use linq... (but this would mean a lot of changes in the

[2017-08-04 09:29] rmja commented on #9302
@divega Do you have a suggestion for a temporary workaround?

[2017-08-04 13:25] ErikEJ opened #9338 "2.0 RTM Query Specification Tests - asserts all fail"
All the 2.0 RTM query tests now fail for me - what did I miss? 😄
Expected \r\n - but get \n only now???

(This was working with 2.0-preview2 bits)

I am using:

        private void AssertSql(params string[] expected)
            => Fixture.TestSqlLoggerFactory.AssertBaseline(expected);

[code]

### Further technical details
EF Core version: 2.0.0 RTM (myget feed)
Database Provider: SQL CE
Operati

[2017-08-04 13:34] dazinator opened #9339 "Consider having sugar methods to make it easier to apply migrations programatically"
To run migrations at the moment, we have to run the cli tool which runs in a seperate process and calls back into the project (building the project in the process) to then reflect on it and find various things before producing the migrations.

This model suffers from various issues like:

- the project may not build under dot cli due to things like incompatible msbuild tasks or target frameworks.

[2017-08-04 16:36] bricelam commented on #9339
### dotnet ef migrations apply
[code]

### dotnet ef migrations add
[code]

[2017-08-04 17:17] ErikEJ commented on #9339
Would be nice with some sugar on top of the second one

[2017-08-04 17:18] smitpatel commented on #9324
Re-opening to go through triage.

[2017-08-04 17:27] divega commented on #9337
@groege I am not sure what is calling `IsComObject`, but I am sure EF Core code does not call it directly. The call stack should indicate where it is coming from.

Depending on when the call is happening, using SQL passed to `FromSql()` to filter the results may help.

[2017-08-04 17:43] divega commented on #9302
@rmja we wanted @ajcvickers to take a look but he won't be able to do it for a few days.

This is just a guess but I believe you could try re-registering `SqlServerMigrationsSqlGenerator` in DI as `IMigrationsSqlGenerator` but with a scoped lifetime.

Another approach would be to make the model tenant specific, e.g. adding an annotation with the tenant id to the model, which is already taken as a

[2017-08-04 18:17] divega commented on #9338
Looks like it could be a difference on how our repos treat line breaks/feeds.

[2017-08-04 18:28] divega commented on #9327
@anpete to answer with some information about what we do for owned types, but for now the recommended pattern is to use `Include()` explicitly in the query.

[2017-08-04 18:32] divega commented on #9328
We currently don't know anything for updates because all keys are immutable. If we make some keys mutable in the future (e.g. alternate keys) we will need this.

[2017-08-04 18:33] divega commented on #9330
@AndriySvyryd do you think we need to do this in 2.1 or is ok to have it in the backlog?

[2017-08-04 18:36] dazinator commented on #9339
Thanks @bricelam  - I can use that to get up and running.
Agree with @ErikEJ - would be brilliant to see a fluent api for that longer term!

[2017-08-04 19:13] AndriySvyryd commented on #9330
@divega Backlog is fine

[2017-08-04 19:13] nteague22 commented on #9160
Sorry on the late reply, I had not noticed this -- but thanks for the help!

[2017-08-04 19:29] afshan3 commented on #5473
Hi,

I am facing an issue in my web API. I have added dbcontext inside UnitOfWork by AddScopped to the service. but I am doing multiple savechanges in UnitOfWork from multiple controllers, which causes an error bcs of 'disposed dbcontext'. It seems that after first _dbcontext.savechanges , _dbcontext.model & _dbcontext.Changetracker are being disposed.

[2017-08-04 19:56] ErikEJ commented on #9338
But this is blocking me from shipping 2.0 - I have 1200 failing tests :sad:

[2017-08-04 20:35] divega commented on #9337
Hopefully the answer helps but otherwise it doesn't seem an actionable issue on EF Core, especially since the Mono issue seems to have been fixed. Closing.

[2017-08-04 20:58] AndriySvyryd opened #9340 "ComplexNavigationsQueryTestBase.GroupJoin tests throw in verification"
GroupJoin_on_a_subquery_containing_another_GroupJoin_projecting_inner
GroupJoin_on_a_subquery_containing_another_GroupJoin_projecting_outer
GroupJoin_on_a_subquery_containing_another_GroupJoin_projecting_outer_with_client_method

	System.AggregateException : One or more errors occurred.
---- System.NullReferenceException : Object reference not set to an instance of an object.
	at System.Threading.

[2017-08-04 22:08] smitpatel commented on #9338
I was looking at code/commits/history.

There is nothing obvious which has changed causing such issue.
The expected output is correct. We use string builder to create the command which uses Env.NewLine so it should be CRLF. The actual output should contain the same, we do change EOL to file line endings but for us it is regular code, for others it can be a compiled code coming from somewhere so be

[2017-08-04 22:11] #9324 closed

[2017-08-04 22:33] bricelam commented on #9339
I agree building the design-time service provider should be simplified. However, we don't typically add design-time APIs to `DbContext`, so the sugar would likely stop there.

[2017-08-04 22:44] bricelam commented on #9338
Very strange that `Environment.NewLine` appears to be returning `\n`. Especially since, I assume, your tests only ever run on Windows and .NET Framework...

[2017-08-04 22:46] bricelam commented on #9338
Could Mono be interfering somehow?

[2017-08-05 00:56] divega commented on #9312
@kayle TL;DR: fundamentally, a simple graph of objects cannot convey the intent to perform all possible insert, update and delete operations.

The easiest way to handle this is to maintain a list of deleted objects and serialize it alongside the graph.

You may also be able to take advantage of a turn key solution such as [Trackable Entities](http://trackableentities.github.io/). However I am not

[2017-08-05 01:22] AndriySvyryd opened #9341 "SimpleQueryTestBase.Projection_when_arithmetic tests throw"
Projection_when_arithmetic_mixed_subqueries
Projection_when_arithmetic_expressions
Projection_when_arithmetic_mixed

 System.AggregateException : One or more errors occurred.
---- System.ArgumentException : At least one object must implement IComparable.
	at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
	at System.Threading.Tasks.Task.Wait(Int32 milliseconds

[2017-08-05 09:17] ErikEJ commented on #9338
Pure Windows! Something related to how 2.0 is built?

[2017-08-05 13:39] bricelam commented on #9338
Ah yes. Our current pattern replaces the new lines in the actual value. Our CI must either check out the code on Unix or with an older git client.

See does adding `*.cs eol=lf` to your `.gitattributes` workaround the issue? (may need to re-checkout the cs files after adding.)

[2017-08-05 13:41] bricelam commented on #9338
P.S. I'm trying to make the pattern more robust in #9332.

[2017-08-05 14:31] kayle commented on #9312
@divega Thanks for the detailed response. After reading up on it, the DDD aggregate concept is exactly the scenario I encountered.

I saw the new OwnsOne feature in EF Core 2.0, but wasn't aware of anything related to OwnsMany/collections. That could also solve this. What would the canonical sql command be if the feature were implemented?

<code>delete from OrderLine where OrderId = @p0 and Id not

[2017-08-05 16:30] divega commented on #9312
@kayle I don't know what SQL will be generated to delete objects in collections of owned types when we have support for that. At least currently, EF Core never generates set-based delete operations in SQL but it generates individual delete statements for each object.

You can use `Include()` to retrieve aggregates, but again when you do that, EF Core knows nothing about any special semantics of th

[2017-08-05 17:02] ErikEJ commented on #9338
Thanks so much for your help an advice so far.

Wonder what changed CI wise between preview-2 and RTM then?

This code change "fixes" the issue:

        private void AssertSql(params string[] expected)
        {
            foreach (var item in expected)
            {
                item.Replace("\r\n", "\n");
            }
            Fixture.TestSqlLoggerFactory.AssertBaseline(expected);

[2017-08-05 17:06] Jetski5822 commented on #5876
I am getting the same... When doing this..

services.AddDbContext<BeerDbContext>(options => options.UseSqlite("Data Source=beer.db")); //NOT available here

Its missing, but its on DbContextOptionsBuilder

        protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            optionsBuilder.UseSqlite("Data Source=beer.db"); //Available here
            base.OnC

[2017-08-05 17:10] Jetski5822 commented on #5876
Okay, I have it working... It doesnt appear at first. Just type it out, and save. I think its Visual Studio being a pain in the..

final code:

[2017-08-05 18:15] abeven commented on #8871
Are there any work arounds for this? Using Find()  doesn't load the owned types, and using Include results in the error above. How can I load an entity with simple owned type?

[2017-08-05 18:30] AndriySvyryd commented on #8871
@abeven collection navigations are currently not supported on owned types. Either remove the navigation or make the type not owned. If your scenario is different from the above please open a new issue.

[2017-08-05 19:59] tonysneed commented on #9312
A bit late to the convo, but thought I would chime in to mention that we made an initial pass at Trackable Entities for EF Core 1.x, but then decided to hold off until EF Core 2.0 updated `TrackGraph` to include access to the referencing entity, which was implemented in #8801.  Now that it's in there, we plan to release Trackable Entities as a Net Standard 2.0 library for EF Core 2.0.  That will a

[2017-08-05 23:28] divega commented on #9312
Sounds great @tonysneed. Thanks for the update.

[2017-08-06 00:39] Eilon commented on #8642
@BrennanConroy - there's likely a real bug here, so having a workaround is nice, but not enough. Is it possible to somehow snapshot the VM so that the VSTest team can repro it more easily and debug? Maybe some other crazy idea??

[2017-08-06 09:06] ErikEJ opened #9343 "Question: Logging of failing SQL statements in spec tests"
How is it I do that now? Is it:

TestSqlLoggerFactory.CaptureOutput(testOutputHelper);

(and also, how does this work when using xunit console runner?)

### Further technical details
EF Core version: 2.0.0 rtm
Database Provider: SQLCE
Operating system:
IDE: VS 2017 preview 3

[2017-08-06 11:47] vRITHNER opened #9344 "Migrations after Rename field with Datetime type doesn't work"
I just renamed field in many tables with type DateTime
Then I add a migration but the Up() method is empty
but it works well with string fields

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.
Rename a field Datetime
Add a migration

Partial code listings, or multiple fragments of code, will slow down our response or cause us to

[2017-08-06 16:03] spottedmahn opened #9345 "Status of 'SQLite does not support schemas'"
What is the status of using schemas in SQLite for [Unit Testing](https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/sqlite)?  I tried reading through #329 but I could understand the state of things with regards to this specific feature.

EF Core version: 1.1.0
Database Provider: SQLite
Operating system: Win10
IDE: VS 2017

[2017-08-06 17:02] spottedmahn commented on #6872
@rowanmiller

I started with the SQLite user guide but quickly stopped once I learned schemas are not supported.

[2017-08-06 17:38] ErikEJ commented on #8150
@smitpatel @ajcvickers It is a localization "bug"

     from c in cs.Where(c => c.CustomerID != "VAFFE").OrderBy(c => c.City, StringComparer.Create(CultureInfo.InvariantCulture, false)).Take(5)

[2017-08-06 17:40] ErikEJ commented on #8150
A PR?

[2017-08-06 19:29] christiannagel opened #9346 "Using command line with white background and dotnet ef tools"
I'm often using a command line window with white background and black text as the default setting is not readable with some projectors.

With this setting, the unicorn logo cannot be seen, and more important: yellow warnings can't be read, e.g. warnings that show up when data might be lost on migrations.

Wouldn't it be possible to use colors dependent on the background?

[2017-08-07 09:58] JackHerring commented on #9005
What is the status of this? As I think it is kind of a show stopper

[2017-08-07 10:45] Bargsteen commented on #7838
You can use version 1.0.0 until it is fixed. Simply add `<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="1.0.0" />` to your .csproj file in your text editor of choice :)

[2017-08-07 11:04] rmja commented on #9302
Oh yes, this seems to work:

[code]

Thanks

[2017-08-07 14:40] SergeyBarskiy opened #9347 "Large DbContext Startup Time and View Generation"
Describe what is not working as expected.

Large DbContext (1000) tables takes about 40 seconds before the first query.  Any plans to add view generation at build time to EF Core, just like EF 6 has?
Thanks.

### Further technical details
EF Core version: 1.0.4
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-08-07 15:23] santanaguy opened #9348 "inherited DbContext not found by CLI"
I am designing a framework for our internal use. The plan is to have a base context defined in a .net standard 1.3 assembly and then the clients will derive from that context. The clients can use .Net full or .Net Core.
This works well so far for .Net Full, but i am having some trouble for the CLI to recognize my Context in a .Net Core 1.1 library. I am attaching a project to illustrate the issue

[2017-08-07 15:57] bricelam commented on #7838
@Bargsteen The latest version is 1.0.1. It works when manually added too, right?

[2017-08-07 16:02] ErikEJ commented on #9347
Are you able to share your DbContext?

[2017-08-07 16:11] bricelam commented on #9345
The SQLite provider will ignore schemas in version 2.0.0 making multi-provider scenarios easier.

[2017-08-07 16:12] bricelam commented on #9345
See #6679

[2017-08-07 16:32] spottedmahn commented on #9345
@bricelam awesome, thanks!

[2017-08-07 17:04] Bargsteen commented on #7838
I´ll try it later myself to confirm, but it should also work.

[2017-08-07 17:46] bricelam commented on #9346
When considering this in the past, we found that most theme designers ensure the light colors remain visible when the background is light.

Instead of changing the default foreground and background colors, change the actual colors:

[code]

[2017-08-07 18:02] AndriySvyryd commented on #9005
@JackHerring This is on the list of things we plan to do, but we don't have a specific version/date for when it would be available.

[2017-08-07 18:07] bricelam commented on #9344
Confirmed. Something is wrong. I get the following on the latest 2.0.0 bits.
[code]
For some reason, the Migrations model differ isn't pairing up the old an new column.

[2017-08-07 18:17] bricelam commented on #9344
Hmm, I'm getting this for all types, not just `DateTime`.

[2017-08-07 18:24] divega commented on #9347
@AndriySvyryd are there any significant improvements for this in 2.0?

@SergeyBarskiy what exact version are you using?

[2017-08-07 18:51] erbatista opened #9350 "Asynchronous projecting entities with child collection properties"
When projecting a result which have a collection property it will deadlock.

[code]
By removing ToList(),  the deadlock occurs as soon as I try to use the result, in this case Childs type will be `Microsoft.EntityFrameworkCore.Query.Internal.AsyncLinqOperatorProvider.EnumerableAdapter<ChildModel>`.

[2017-08-07 18:52] SergeyBarskiy commented on #9347
@divega 1.0.4 right now.
@ErikEJ I reverse engineered our main product database, so I am not sure.  I could check with my boss on legal aspects of doing this.  Ordinarily we require NDA in place.  Is this a must?

[2017-08-07 19:00] ErikEJ commented on #9347
It will most likely help the team find the hotspots to have a repro. Have you tested with 2.0 ( you wrote 2.0 in your initial message) ?

[2017-08-07 19:08] AndriySvyryd commented on #9347
@divega There haven't been any specific significant perf improvements in model building in 2.0

[2017-08-07 19:20] divega commented on #9193
We will use this issue to track investigation work @maumar will be doing during 2.1. The initial goals of this investigation are:
1. Identity issues in areas of EF Core and the SQL Server provider of EF Core that may block always encrypted from working, e.g. when a column is encrypted, parameter type or facet mismatches may cause failures, so we should validate whether we need to change our type m

[2017-08-07 19:36] SergeyBarskiy commented on #9347
@ErikEJ Typo.  I am testing at work, and I do not have 2.0 on my box there, like I do at home.  In any case to reveal the schema I have to get a permission from legal.  I could test on 2.0 if anyone would like to know the results.

[2017-08-07 19:36] SergeyBarskiy commented on #9347
Also, back to original question, is view pre-generation a thing for EF Core?

[2017-08-07 20:30] smitpatel commented on #8802
This happens for PrimaryKey, Unique Constraints

Added disabled tests in #9351

[2017-08-07 21:52] smitpatel opened #9352 "Test: Remove dependency on SqlServer from EFCore.Design.Tests"
With recent changes in RevEng testsing `EFCore.Design.Tests` now depends on SqlServer. That is due to mainly 3 tests.
- `ScaffoldingTypeMapperSqlServerTest` - to verify if our scaffolding type mapper is working correctly.
- `RelationalScaffoldingModelFactoryTest` - Mainly, to evaluate if we are passing correct arguments to scaffolding type mapper.
- `ModelSnapshotSqlServerTest` - To verify generat

[2017-08-07 23:13] smitpatel commented on #9350
dupe of #9128

[2017-08-07 23:19] smitpatel commented on #9343
`Fixture.TestLoggerFactory.SetOutputHelper(testOutputHelper)` like this
https://github.com/aspnet/EntityFramework/blob/dev/test/EFCore.SqlServer.FunctionalTests/Query/SimpleQuerySqlServerTest.cs#L21

xUnit test project prints everything in testOutputHelper to VS output window. I am not sure what would be the output in the xunit console runner. It should be the same. Please check their documentatio

[2017-08-07 23:23] smitpatel commented on #8150
We cannot add string comparer (else it would not translate to server.
Just modify the where clause to exclude the customer whose city is `Aachen`. `VAFFE` is excluded for same reason causing issue between SQLite/SqlServer.
Feel free to send in PR.
Thanks.

[2017-08-07 23:25] smitpatel commented on #8150
co-assigning myself to merge the PR.

[2017-08-08 00:23] #9316 closed

[2017-08-08 00:26] AndriySvyryd opened #9355 "Don't use reflection on emited types"
Port the fix for https://github.com/aspnet/EntityFramework/issues/9316 to 2.0.1

Impact: Relational queries don't work on UWP
Workarounds: None

[2017-08-08 07:16] yaakov-h opened #9356 "EF fails to SQL-ize a cast in a checked function"
Entity Framework Core fails to transform an expression containing a cast into equivalent SQL when that cast is inside a checked function.

### Steps to reproduce
Run the following repro case with SQL Server Profiler attached.

[code]

I expect the following query, or equivalent to be generated from both functions:

[code]

The query generated by the unchecked function is:
[code]

The query generat

[2017-08-08 08:41] ErikEJ commented on #9343
Thanks, Smit, works like a charm!

[2017-08-08 09:57] JackHerring commented on #9005
@AndriySvyryd will owned types be released in 2.0.0 if it is not fully implemented?

[2017-08-08 13:24] JeanCollas opened #9357 "Doubled column id on foreign linked content"
I use the following model structure (simplified):

    public class PlaceExternalLink{
        public Guid Id { get; set; }
        public int Order { get; set; }
        public string Type { get; set; }
        public string Link { get; set; }
        public string ShortLink { get; set; }

        public long PlaceId { get; set; }
        public virtual Place Place { get; set; }
    }
    public

[2017-08-08 14:49] bryanjhogan commented on #7731
Link to open ticket - https://github.com/NuGet/Home/issues/4710

[2017-08-08 14:49] mrlund commented on #8817
@anpete in https://github.com/aspnet/EntityFramework/commit/43e2ae15f0bae8f12255b8a12385d6cd6c3f45bf you indicate that the conditions are unsure, and if you're interested I may have found one thing that causes it; if the loaded entities are missing the related entities loaded with `.ThenInclude()` then this happens. If related data is available for all the entities then it's good.

@tinchou could

[2017-08-08 15:11] JeanCollas commented on #9357
Ok, the Place object had a not virtual property marked as ``[IgnoreDataMember]``, but not marked as Ignored in the model builder, which was a subset of ``ÈxternalLinks```.
It was not an issue with 1.1, but caused the bug on 2.0.

[2017-08-08 17:41] AndriySvyryd commented on #9005
@JackHerring Yes. You can map optional owned types to a different table.

[2017-08-08 18:32] smitpatel commented on #9356
`checked` keyword introduces the overflow checking. Therefore when you use create query insider `checked` block all the cast will create `ConvertCheckedExpression` whereas in `unchecked` block it will cause `ConvertExpression`. The `ConvertCheckedExpression` needs to check for overflow in C# which cannot be translated to server hence we cannot translate the `Where` predicate to SQL. This causes al

[2017-08-08 18:33] smitpatel commented on #9356
QueryModels just for info:
`checked`
[code]
`unchecked` case
[code]

[2017-08-08 18:42] nafberger commented on #7977
Thanks

[2017-08-08 19:32] BrennanConroy commented on #8642
I disabled `String_ends_with_not_equals_nullable_column` and `String_ends_with_equals_nullable_column`  tests and haven't hit the test issue yet. Will keep running to make sure. I also have some hard to read logs from when it failed if anyone wants to take a look.

[2017-08-08 20:12] smitpatel commented on #8642
Share the logs.

[2017-08-08 20:18] AndriySvyryd opened #9358 "Some functional tests fail with pooling"
Investigate why some functional tests fail with pooling enabled as it might be a product issue.
These tests have `SharedStoreFixtureBase.UsePooling` set to false

[2017-08-08 20:33] Shadetheartist opened #9359 "Fluent mapping does not reflect changes to model"
This will seem like some noob complaint but i assure you it's not. Please don't write this off as me being a goof with the data model and/or fluent syntax.

I recently removed an unnecessary foreign key column from my sql server data model. To mirror the change in my app i removed the same property and its navigation property from the POCO model class, then also removed the column and foreign key

[2017-08-08 20:41] yaakov-h commented on #9356
Is this intended to be a breaking change when compared with EF6?

Most of my assemblies are fully checked with the “Enable arithmetic overflow/underflow checking” project propert. I’d now have to find every query with a similar cast and convert those expressions to unchecked.

[2017-08-08 20:43] smitpatel opened #9360 "Metadata: Schema mismatch in user defined function"
https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational/Metadata/Conventions/Internal/RelationalDbFunctionConvention.cs#L37

Above line sets schema for UDF to Model.DefaultSchema if it is not set on attribute & only when the DbFunction is added to the model.

Issues:
- If the function is found using FunctionFinder via Attribute then OnModelCreating has not run yet so no default sc

[2017-08-08 21:13] smitpatel opened #9361 "Query: Parameter Extractor should be eager at evaluating Convert nodes"
https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore/Query/ExpressionVisitors/Internal/ParameterExtractingExpressionVisitor.cs#L278

While visiting UnaryExpression, we call base right away without checking if the current Expression is evaluabtable or not (like how VisitMember does it). So if there a closure variable wrapped inside a convert node, we would carry on the convert in Expressio

[2017-08-08 21:17] smitpatel commented on #9356
@yaakov-h - In EF6,
- either this query did not work since it fails to translate (EF did not have client eval feature)
- or if it did work then it ignored the checked node.

Effectively, there is no way to translate `ConvertChecked` to SQL and still give the same exception as you would except from C# at run-time. Hence EF Core evaluates it on client to throw exception. In this special case of quer

[2017-08-08 21:20] yaakov-h commented on #9356
EF6 does translate this query, so it probably just ignores the checked-ness.

Thanks.

[2017-08-08 21:22] smitpatel commented on #9359
Did you remove the inverse navigation property from target POCO model class?

If following are your classes
[code]
Then removing `Post.BlogId` foreign key property & `Post.Blog` navigation will not remove relationship. There is still navigation `Blog.Posts` which indicate relationship between Post & Blog. And EF Core convention will create relationship for that. Since Post is dependent side (due t

[2017-08-08 22:42] Eilon commented on #8642
@BrennanConroy - can we share those with the VSTest folks?

[2017-08-09 00:45] #9098 closed

[2017-08-09 05:31] hrfarrokh opened #9366 "Entity Framework DbContext Confusion When two foreign keys pointing at same table"
Hi
https://stackoverflow.com/questions/45532007/entity-framework-dbcontext-confusion-when-two-foreign-keys-pointing-at-same-tabl?noredirect=1#comment78025328_45532007

Sincerely.

[2017-08-09 06:07] ErikEJ commented on #8150
Thanks - what does this mean?? - is it not just a LINQ to Objects statement?:

[2017-08-09 06:39] smitpatel commented on #8150
@ErikEJ - It is an query which we run over EF & L2O both to compare results. L2O would work fine but it won't translate to SQL causing client eval. That's not what is intended from the test.

[2017-08-09 10:13] KieranDevvs opened #9367 "Query: Memory Usage grows linearly for non tracking include in netcoreapp2.0"
Describe what is not working as expected.
I attempted to create a query that would let me loop through a large amount of data with minimal memory usage. When working with one to one related entities this works perfectly however when I join an entity to my table via an include that has 2 records for every one record in the initial table, the memory consumption increases exponentially.

![alt text](

[2017-08-09 10:16] JackHerring commented on #9005
@AndriySvyryd how do I go about this when using TPH?

[2017-08-09 14:49] JonPSmith opened #9368 "Creating a database with EnsureCreated will fail if you refer to a SQL UDF in a computed column"
I have written some code that adds a computed column to an entity which calls a user defined function (UDF). I have the code to add the UDF, but in my unit test code, I cannot add that before I call `EnsureCreated`. Therefore the call to `EnsureCreated` fails.

This seems to be a Catch22 situation if I want to unit test something like this. Has anyone thought about how to get round this? @pmiddlet

[2017-08-09 15:17] pmiddleton commented on #9368
The UDF unit tests don't verify that the functions exist in the database during OnModelCreating.  Therefore I have never run into this issue.  They are either already defined in the test database, or created after EnsureCreated runs via context.Database.ExecuteSqlCommand.

Your problem is that the create table statement for FixSubOptimalSql needs the udf defined before it can create the computed c

[2017-08-09 15:44] JonPSmith commented on #9368
Hi @pmiddleton,

I *so* hoped you had an answer to that! Oh well. It seems that if I want to use UDFs in a computed column I would need to use scripts to create my database and use that same scripts to produce my unit test databases. Not as nice as calling `EnsureCreated`, but the only way around it I can see.

Anyone else want to comment on this?

[2017-08-09 16:08] smitpatel commented on #9368
It is not just UDFs, even triggers and other things. `EnsureCreated()` creates database with EF only objects. Any database object created/managed outside of EF will not be there when using `EnsureCreated()`.

[2017-08-09 17:46] ErikEJ opened #9369 "[SQLCE provider 2.0] Strange test fail"
- was working with 2.0-preview1, and the non-async test passes.

Microsoft.EntityFrameworkCore.Specification.Tests.AsyncQuerySqlCeTest.String_Contains_Literal [FAIL]
      System.NotImplementedException : The method or operation is not implemented.
      Stack Trace:
           at Microsoft.EntityFrameworkCore.TestModels.Northwind.NorthwindData.Set[T]()
           at Microsoft.EntityFrameworkCore.

[2017-08-09 18:01] JonPSmith commented on #9368
Hi @smitpatel,

I am quite happy that `EnsureCreated` only creates EF only objects. I expected that and I run a method after `EnsureCreated` that takes a script file and adds the missing SQL parts to the newly created database.

 The problem I have is that `EnsureCreated` throws an exception because the UDF I use in a  computed column isn't in the database. This is a catch22 situation - I can't cr

[2017-08-09 18:07] smitpatel commented on #9369
Looking at stack trace it seems like error in l2o query.
@maumar - Did we make any changes to query assertions before 2.0?

@ErikEJ - Can you tell exact package version? Apparently even after branching we had been generating "2.0.0-rtm" packages so you may be on some "pseudo-rtm" package which actually has things from 2.1.0 commits.

[2017-08-09 18:18] AndriySvyryd commented on #9005
@JackHerring Owned types don't support inheritance, so I assume that you mean that the owner is using TPH, which doesn't affect configuration:
[code]

[2017-08-09 18:21] rez-cloud commented on #7557
@bricelam you've saved my day.

[2017-08-09 18:22] JonPSmith commented on #9368
I found a work around if anyone is interested.

1. Define my computed column, but with a constant
[code]
2. In my SQL script that creates the database I drop the original computed column and add a computed column that uses the UDF.
[code]

That works, because I can now call `EnsureCreated` followed by my method `ExecuteScriptFileInTransaction` with applies the script file.

Not the best solution,

[2017-08-09 18:27] JonPSmith commented on #9368
Feedback to EF team - I *think* others might bump into this sort of issue, as using computed columns with UDFs to 'fix' LINQ to SQL translations identified via the `QueryClientEvaluationWarning` warning is a valid use case.

In my case I was fixing the issue that LINQ's `Average` method does not translate to SQL AVG (which EF6.x did).

[2017-08-09 18:32] divega commented on #9352
**EF Triage:** We have a type mapper for testing, but we need to make it richer so we can use it for this.

[2017-08-09 18:43] divega commented on #9360
**EF Triage:** we should make it work the same way it works for tables.

[2017-08-09 18:52] pmiddleton commented on #9368
Average should be translated to AVG.  What query are you trying to run where it is not?

[2017-08-09 19:01] ErikEJ commented on #9369
File version: 2.0.0.17205
Product version: 2.0.0-rtm-26452

[2017-08-09 19:51] Shadetheartist commented on #9359
Yeah that worked. Thanks for the help!

[2017-08-09 20:25] smitpatel commented on #9369
That version seems alright. You can use 2.0.0 exact one also.

[2017-08-09 20:57] pmiddleton commented on #9360
How does it work for tables?  I was going to look at this tonight along with the updates for #9303

[2017-08-09 21:13] smitpatel commented on #9360
https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational/Metadata/RelationalEntityTypeAnnotations.cs#L113

This is how it works for table. The getter of schema looks into model.

[2017-08-09 21:55] AndriySvyryd commented on #9174
This will be fixed once #8973 is resolved

[2017-08-09 22:11] smitpatel opened #9370 "Logging: Remove unused resources"
There are some design time logging messages which are removed in reverse engineering, especially in SqlServer.
There is some issue with EventIds defined for them (even though not being used actually) which makes removing them harder.

Investigate if we can remove them without breaking public surface & tests.
If not mark as obsolete.

[2017-08-09 23:25] SergeyBarskiy opened #9371 "Migrations CLI Fails if default ASP.NET Configuration is used"
Try to add a migration when default configuraiton provider is used using CLI
dotnet ef migrations add Initial
Exception will be thrown: Value cannot be null.

### Steps to reproduce
Create ASP.NET Core project that is using default configuration:
[code]
Try to run ef migrations add.  This will throw the exception because it cannot find connection string.
Workaround:
[code]
Another workaround - mar

[2017-08-09 23:58] #9323 closed

[2017-08-09 23:58] #9333 closed

[2017-08-09 23:58] #9334 closed

[2017-08-10 00:42] smitpatel commented on #9366
I responded to question on stackoverflow. It is user error in code.

[2017-08-10 00:47] AndriySvyryd opened #9372 "FirstWithoutOrderByAndFilterWarning logged when querying byte[] property"
[code]

See MonsterFixupFixtureBase

[2017-08-10 00:51] smitpatel commented on #9372
But that is first without order by! What is the exact warning?

[2017-08-10 00:53] AndriySvyryd commented on #9372
`Photo` is a byte[], element order is always deterministic

[2017-08-10 00:54] smitpatel commented on #9372
Query pipeline is dumb :trollface:

[2017-08-10 02:49] bricelam commented on #9371
This shouldn't be necessary since the current directory was switched to the project directory in version 2.0.0-preview1-final.

Could you share your `Program` class code?

[2017-08-10 02:57] Matthewsre opened #9374 "ThenInclude() not giving proper IntelliSense for many-to-many/junction tables"
When setting up a manual many-to-many relationship table, using ThenInclude is not showing the properties of the ICollection object. Instead it just looks like IntelliSenseon a collection with Select, Where, etc.

The comments in this stackoverflow post for the accepted answer made me realize I could choose the next property even though it wasn't showing up in IntelliSense:
https://stackoverflow.c

[2017-08-10 03:29] alewmt commented on #9194
@popcatalin81. With code first approach we could use POCO types as domain model classes and EF Core is a step in the right direction but not ideal either.

[2017-08-10 05:16] smitpatel commented on #9374
duplicate  of #4117
External issue in Roslyn dotnet/roslyn#8237

[2017-08-10 05:46] ErikEJ opened #9375 "[SQLCE 2.0 provider] FindEntityType changed/broken?"
This was working in preview1 (I think...), at least in 1.1 - but no longer works in 2.0 rtm (based on MyGet feed)

        protected override void Generate(RenameIndexOperation operation, IModel model, MigrationCommandListBuilder builder)
        {
            Check.NotNull(operation, nameof(operation));
            Check.NotNull(builder, nameof(builder));

            if (model == null)

[2017-08-10 05:49] ErikEJ commented on #9369
Where do it get that from? I am using: https://dotnet.myget.org/F/dotnet-2-0-0-rtm/api/v3/index.json

[2017-08-10 05:50] smitpatel commented on #9369
https://dotnet.myget.org/gallery/aspnetcore-release

[2017-08-10 06:00] smitpatel commented on #9375
I am not sure why it was working in earlier releases. `operation.Table` is just string name of the table. If you use that to search for EntityType in the model, it would never work. EntityType.Name is supposed to be Type.Name of clr type. You can use `FindEntityTypes` helper method which should be available in your derived class.

[2017-08-10 06:00] ErikEJ commented on #9369
2 other related (?) test fails:

Microsoft.EntityFrameworkCore.Specification.Tests.AsyncQuerySqlCeTest.String_Contains_Literal [FAIL]
      System.NotImplementedException : The method or operation is not implemented.
      Stack Trace:
           at Microsoft.EntityFrameworkCore.TestModels.Northwind.NorthwindData.Set[T]()
           at Microsoft.EntityFrameworkCore.Query.AsyncQueryTestBase`1.<Asse

[2017-08-10 07:29] ErikEJ commented on #9375
Thanks!

[2017-08-10 07:55] JonPSmith commented on #9368
Hi @pmiddleton,

That is great news about `Average`! I haven't moved to EF Core ver 2 yet. Still, the example/problem I describe is sound (but I'll have to change my example in the book :))

[2017-08-10 08:16] ErikEJ commented on #8150
from c in cs.Where(c => c.CustomerID != "VAFFE" && c.CustomerID != "DRACD").OrderBy(c => c.City).Take(5)

[2017-08-10 10:00] SergeyBarskiy commented on #9371
Sure
    public class Program
    {
        public static void Main(string[] args)
        {
            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .Build();
    }

[2017-08-10 10:22] SergeyBarskiy commented on #9371
My bad.  I was still using version 1.0.1 of tools.  Did not realize it got renamed not to have .Net suffix.

[2017-08-10 11:04] dozer75 commented on #9101
@ArieJones Sorry for delayed answer, been on vacation. Which version did you use? 1.1.2 as I mentioned in steps to reproduce? or 2.0?

[2017-08-10 12:37] ErikEJ commented on #9338
Closing, as I was able to workaround it...

[2017-08-10 12:49] ArieJones commented on #9101
@dozer75 this was with the latest code from GitHub on the Jul 9th... so I am assuming that it will be put out in a future patch.. if it is not already so..

[2017-08-10 13:01] nicollaas94 opened #9376 "Duplicate role when create and atribute on same transaction"
Describe what is not working as expected.
If create a new role and atribute that new role to an user on same transaction, the role is duplicated

If you are seeing an exception, include the full exceptions details (message and stack trace).
No exceptions

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or

[2017-08-10 13:06] djamajo commented on #2805
@mmillican  please, can you tell how to add unique key constraint in dot net core fluent api ?

[2017-08-10 13:17] ErikEJ commented on #8150
Same issue with: Include_with_orderby_skip_preserves_ordering

[2017-08-10 13:36] ErikEJ opened #9377 "[SQL CE 2.0 provider] Test fail - but why?"
Could it be SQL CE engine related?
[code]
### Further technical details
EF Core version: 2.0.0-rtm
Database Provider: SQLCE
Operating system: Win 10
IDE: VS 2017 15.3

[2017-08-10 15:28] ErikEJ opened #9378 "[Test] AsyncQuerySqlCeTest.Where_subquery_on_collection is not robust enough"
[code]
### Further technical details
EF Core version: 2.0 rtm
Database Provider: SQLCE
Operating system: Win 10
IDE: VS 2017 15.3

[2017-08-10 15:31] ErikEJ opened #9379 "[SQLCE 2.0 provider] Test fail - but why?"
[code]
### Further technical details
EF Core version: 2.0 rtm
Database Provider: SQLCE
Operating system: Win 10
IDE: VS 2017 15.3

[2017-08-10 18:15] MarinAtanasov commented on #6806
@bricelam , can you update the snippet about creating MigrationsScaffolder for EF Core 2.0?

[2017-08-10 18:51] gravbox commented on #2266
I am trying to move the nHydrate modeler forward to EF Core and the main stumbling block is not TPT. I need this to make the EF Core generation compatible with the EF6 implementation. This seems so simple, why can you not just join the tables in the hierarchy on the PK and be done with it? How is a database join an anti-pattern?

[2017-08-10 19:07] smitpatel commented on #9379
Looks like data issue in your database.

[2017-08-10 19:11] smitpatel commented on #9377
Are you facing same issue as here https://github.com/aspnet/EntityFramework/issues/7452 ?

[2017-08-10 19:11] AndriySvyryd commented on #2805
@djamajo This is not relevant to this issue, but you can call
[code]
to add a unique key constraint on `Name`

[2017-08-10 19:18] ErikEJ commented on #9379
Thanks, will try to investigate

[2017-08-10 19:21] ErikEJ commented on #9377
Nice find - will try same fix!

[2017-08-10 19:29] AndriySvyryd commented on #9265
@op-erator Owned type collections are not currently supported. Remove this line:
[code]

[2017-08-10 20:12] bricelam commented on #6806
See #9339

[2017-08-10 20:32] tinchou commented on #8817
@mrlund do you mean this?

If I had only

[code]

Now I have

[code]

If that's your suggestion, then it doesn't fix it.

------------------

@smitpatel is there a nightly feed? are there instructions to set it up?

[2017-08-10 21:55] op-erator commented on #9265
Thank you. Currently, I changed `OwnedEntity` to a entity that has an `ID` property. While it doesn't create the database that we wanted, at least when owned type collections are supported, it will be easier to migrate to the correct database form as the application isn't in production yet.

Thank you for working on it. I am glad you guys are actively working on this project.

[2017-08-10 22:02] AndriySvyryd commented on #9265
@op-erator If you just want an entity without a key property you can create a shadow property for it:
[code]
and then configure the foreign key to use this property. This is what is done for owned entity types by convention.

[2017-08-11 01:42] julielerman opened #9382 "Never mind ..found a typo 2 minutes after posting"

[2017-08-11 05:20] ErikEJ commented on #9377
..

[2017-08-11 08:22] divega commented on #9299
This issue was moved to aspnet/Microsoft.Data.Sqlite#393

[2017-08-11 08:24] divega commented on #9293
This seems to be in fact a duplicate of #9363.

[2017-08-11 08:33] divega commented on #9331
@JeanCollas without seeing the contents of the stored procedures out best guess is that they return rows with the same values for the key property of `Stats_ViewsPerHourLine`.

That would cause the execution of the second query to resolve all the instances from the `DbContext`'s [identity map](https://www.martinfowler.com/eaaCatalog/identityMap.html) instead of materializing new objects with the n

[2017-08-11 08:41] divega commented on #9272
@stijnherreman the EF team no longer maintains this package. It is now maintained by a SQL Server team.

I have forwarded the link to this issue to the owners of the package, but I would suggest that you do the same so that they can have your contact information and follow up with you.

You can do this by going to https://www.nuget.org/packages/Microsoft.SqlServer.Types and clicking
on the Contact

[2017-08-11 08:47] topguss opened #9383 "EntityFrameworkCore.SqlServer 2.0.0-preview2-final on net461"
Package Microsoft.EntityFrameworkCore.SqlServer 2.0.0-preview2-final is not compatible with net461 (.NETFramework,Version=v4.6.1) / win7-x86. Package Microsoft.EntityFrameworkCore.SqlServer 2.0.0-preview2-final supports: netstandard2.0 (.NETStandard,Version=v2.0)
One or more packages are incompatible with .NETFramework,Version=v4.6.1 (win7-x86).
If you are seeing an exception, include the full exc

[2017-08-11 08:52] divega opened #9384 "Consider adding sugar method(s) to obtain the discriminator property's configuration"
This idea came up while we were discussing https://github.com/aspnet/EntityFramework/issues/9298. It would enable modifying the configuration of the discriminator without necessarily knowing its name.

One possible caveat is what to do with it if a discriminator is not present, e.g. we don't have an inheritance hierarchy (yet?) or in the future if we support TPT without a discriminator property.

[2017-08-11 08:53] divega commented on #9298
@smitpatel thanks for the investigation. As per decision above, we are not going to create an index by convention. I have also created https://github.com/aspnet/EntityFramework/issues/9384 to track having a sugar method to configure the discriminator property without knowing its name.

[2017-08-11 09:00] ErikEJ commented on #9383
Which VS version and NuGet version? You must use VS 15.3 preview (or newer)

[2017-08-11 09:06] divega commented on #9325
@kumarsathishD it is unclear if this is question is about EF6 (for future reference, maintained at https://github.com/aspnet/entityframework6) or EF Core (maintained here). I know the repository name of the latter is confusing. That is why we are planning to rename this one very soon.

Regardless, you would need to include all the assemblies from the product alongside the application in the instal

[2017-08-11 09:09] divega commented on #9326
@HaoK could you please help with an initial investigation of this in case it has to do with how things are configured in the model in ASP.NET Identity?

As it says above, this is 1.1.2, so there are still navigation properties.

[2017-08-11 12:18] babucr commented on #2344
just change GetDbConnection
using (var cmd = dbContext.Database.Connection.CreateCommand())

[2017-08-11 12:21] topguss commented on #9383
VS 15.2. I will try to update my VS. Thanks.

[2017-08-11 13:35] wgutierrezr commented on #4347
Hi
I have this problem whit a table with a Bit field with default '0' (false). When I try to create a new record using ASP.Net Core 1.1 MVC, and EntityFrameworkCore.Sqlserver 1.1.2, passing the value for the boolean field with 'False' then it triggers this error.

Do you have any solution for this problem?

[2017-08-11 15:50] laskoviymishka commented on #8566
It probably already implemented (see b9cd36d3c96f7d65eb0807f963800e17f92cbf20)

[2017-08-11 16:38] ssougnez opened #9385 "Exclude field(s) from query"
Hello,

say that I have a class with 20 fields that store course information and one of these field is a `longtext`. If I want to create a query that will return the *approved* courses *sorted by reading count*, I would have to do something like:

`return dbContext.Courses.Where(c => c.Approved == true).OrderByDescending(c => c.ReadingCount);`

The issue with that query is that the `longtext` fiel

[2017-08-11 17:38] bricelam commented on #8566
@laskoviymishka That was about adding it to `DbContext.Database`. This issue is about adding the same methods to `MigrationBuilder`.

[2017-08-11 17:40] bricelam commented on #9299
The issue is in the third-party SQLite package. [natemcmaster/libsqlite3-package](https://github.com/natemcmaster/libsqlite3-package) contains the logic for building it.

[2017-08-11 18:26] HaoK commented on #9326
@ReginaldBull can you include the entire DbContext class especially the full OnModelCreating method?

[2017-08-11 18:36] divega commented on #9370
We will try to obsolete IDs that are not used anymore and modify the test to ignore those.

[2017-08-11 18:39] divega commented on #9372
Check for types that don't need this check, e.g. ordered things like `byte[]` and `string`.

[2017-08-11 18:46] divega commented on #9376
@HaoK can you please do the initial investigation this? Let us know if it is an issue with EF Core rather than with the way it is being used.

[2017-08-11 18:54] divega commented on #9384
We need to deal with custom discriminator names specified by the user, before or after using this API.

[2017-08-11 19:01] saf-itpro opened #9387 "Unable to run Add-Migration command anymore on VS2017"
I moved from one PC to a new PC where I had to re-install every thing including `VS2017`. When I run my same project from old PC to new PC (both Windows 10) app runs fine. I then added a new model and when I run the following Package Manager console command I get the following error shown below. The issue seems very similar to already reported [here](https://github.com/aspnet/EntityFramework/issue

[2017-08-11 19:39] HaoK commented on #9376
This usage pattern is a bit weird, but if you are trying to control when save changes are being called, you set AutoSaveChanges = false on both the Role and UserStores, can you see if that fixes things?

[2017-08-11 20:51] bricelam commented on #9387
Update to...
[code]

[2017-08-11 21:16] bricelam opened #9388 "Design: Make OperationBase.Execute() protected"
[These methods](https://github.com/aspnet/EntityFramework/blob/rel/2.0.0/src/EFCore.Design/Design/OperationExecutor.cs#L372-L398) should be protected. We didn't get to it in time for 2.0.0, but we should do it in 3.0.0.

[2017-08-11 22:41] bricelam commented on #7969
I don't think we should do this. It would require parsing and updating the full `CREATE TABLE` statement. Rebuilding the table is easier from a Migrations perspective.

[2017-08-11 22:44] bricelam commented on #8140
@smitpatel Do we get this for free now?

[2017-08-11 23:08] muheebhussain commented on #9124
@smitpatel Thank You So Much!! your instructions helped me to resolve the issue.

[2017-08-11 23:16] Koronos opened #9390 "Error at update database from migration"
I updated a project to Entity Framework 2.0.0 (stable) from the preview 2, and when I try to do the migrations, i get the next error:

[code]
I'm not sure but it seems like a typo error in compilation time:

 **Could not load type 'Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping`1' from assembly 'Microsoft.EntityFrameworkCore.Relational, Version=2.0.0.0, Culture=neutral, PublicKeyToken

[2017-08-11 23:33] smitpatel commented on #8140
The warning is gone. item 4 on #8688  was about that. I scratched that. We don't need to do anything extra for this issue. We can close this.

[2017-08-11 23:41] smitpatel commented on #9390
The issue you are hitting is because of inconsistent version of EF Core & MySQL provider being used.
From preview2 to 2.0.0-rtm we removed `RelationalTypeMapping`1` hence you are hitting missing type because MySQL provider assembly depends on older version of EF Core. Ideally, you should not have reference to any EFCore packages directly (packages from Microsoft.EntityFrameworkCore.*) and just ref

[2017-08-12 00:10] divega commented on #9368
@JonPSmith Thanks for reporting this. We had a brief discussion in triage about it and here is summary of our thoughts:

- `EnsureCreated()` is in general very limited and by-design does not provide the same flexibility as migrations, i.e. there is no hook in which you can provide your own DDL SQL fragments for something like this.
- Given that, your workaround can be seen as the best current solu

[2017-08-12 00:20] divega opened #9393 "Consider making database functions more first-class in the model"
(This is based on the discussion in https://github.com/aspnet/EntityFramework/issues/9368)

We could:
- Allow functions to be declared in the model, likely based on the work already implemented by @pmiddleton but the ability to specify an accompanying database implementation (e.g. function body) for them
- Add first class ways to reference these declared functions in parts of the model, as part of

[2017-08-12 00:21] divega commented on #9368
@JonPSmith @pmiddleton I have created https://github.com/aspnet/EntityFramework/issues/9393. I am going to close this issue, please reply if you think we missed anything actionable in this discussion.

[2017-08-12 00:22] divega commented on #9368
Closed-by-design because this is a limitation of the current design.

[2017-08-12 00:31] divega commented on #9347
@SergeyBarskiy we have played with the idea of "compiled models" (see https://github.com/aspnet/EntityFramework/issues/1906) which would be a way to produce an artifact or set of artifacts at design time or compile time which would include (but not be limited to) the pre-computed code first model. The feature is currently in the backlog.

It would absolutely be great if you could try your model wi

[2017-08-12 01:29] smitpatel opened #9395 "Query: Apply CompositePredicateExpressionVisitor to join predicates"
At present it is applied to `SelectExpression.Predicate` only

[2017-08-12 01:33] maumar commented on #9395
Also add more optimizations, e.g. (`(c.Discriminator == "Foo" ? c.FK : null) == o.PK` into `c.Discriminator == "Foo" && c.FK == o.PK`)

[2017-08-12 01:43] smitpatel opened #9396 "Metadata: Exception is not thrown for unmapped navigation property"
Model
[code]

Generates schema
[code]

Since there are 2 inverse navigation we cannot find out relationship by convention hence we don't discover `Warn` entity type. But we don't throw for unmapped `User.Warns`
*Not a regression*

[2017-08-12 01:46] yukozh opened #9397 "How to Override EvaluatableExpressionFilter"
I'm the author of Pomelo.EFCore.MySql, Now I want to translate more method call, I've seen method call translation has been limited in the class `EvaluatableExpressionFilter`, so I'm finding a way to override this class. Any thoughts?

[2017-08-12 03:00] smitpatel commented on #9397
@Kagamine can you tell us which kind of method call you want to translate which requires overriding `EvaluatableExpressionFilter`? MethodCallTranslator is independent of the filter. Please give us an example of such query.

[2017-08-12 03:13] saf-itpro commented on #9387
@bricelam I have added an **UPDATE** at the end of my post above describing what may have been causing the error.

[2017-08-12 06:54] roji commented on #9393
If you go ahead with this, it's very important to have other databases in mind, as function support does vary between different systems ([here is the PostgreSQL `CREATE FUNCTION` documentation](https://www.postgresql.org/docs/current/static/sql-createfunction.html)).

[2017-08-12 06:55] Kagamine commented on #9397
We want to create a static class contains the MySQL Miscellaneous Functions
https://dev.mysql.com/doc/refman/5.7/en/miscellaneous-functions.html

[2017-08-12 07:00] divega commented on #9393
@roji Indeed, we would need to triangulate something that makes sense across various databases and make it extensible for providers.

BTW, do you have any feedback on how useful this could be? Currently you can do most things by resorting to raw SQL in migrations, but this would be more abstract and declarative support.

[2017-08-12 21:42] saf-itpro commented on #9387
@bricelam  I assume you are asking to go to `Startup.cs` and in the following constructor of Startup class change `builder.AddUserSecrets();` to `builder.AddUserSecrets<Startup>();`, correct? I did that and it **worked**.

[code]

[2017-08-13 03:39] dixitsuneel opened #9399 "Unable to execute query only in azure app"
Here's what we are getting as an exception when we are trying to deploy the code to the azure web app

System.Collections.Generic.List.AddWithResize(T item)
Microsoft.EntityFrameworkCore.Metadata.Conventions.Internal.ConventionDispatcher+ConventionScope.Add(ConventionNode node)
Microsoft.EntityFrameworkCore.Metadata.Conventions.Internal.ConventionDispatcher+ConventionScope.OnPropertyFieldChanged(I

[2017-08-13 04:15] roji commented on #9393
@divega I'm not sure I'm the one to ask, I'm just the driver guy :) I personally avoid putting code in my databases, because I like to code in safe, static languages such as C# - unless there's a real performance argument for saving costly network roundtrips by performing logic in the database (or some rare situation where it makes sense to share logic between multiple clients at the database side

[2017-08-13 07:09] rahulsahay19 opened #9400 "Migration in different assembly than target assembly not happening 2nd time"
Hi,

When I am trying to apply migrations 2nd time its not happening. I followed both the steps. However, in this migration, I am just trying to apply data-constraints on my both movie and moviereview classes. It gives me following error.

![156th](https://user-images.githubusercontent.com/3886381/29246917-622a63fa-8024-11e7-9f63-157c967b2405.png)

Source code is also available on git, you can che

[2017-08-13 08:58] ErikEJ commented on #9399
Pls share ef model and ef version and repo code

[2017-08-13 18:09] smitpatel opened #9401 "How to add UWP Project"
_From @hannespreishuber on August 13, 2017 16:39_

I am running on 6.0.0-preview2-25612-02 of Microsoft.NETCore.UniversalWindowsPlatform and try to add a EntityFramework SQLClient Package,.
no idea how to.

Message form Nuget is
Das Paket Microsoft.EntityFrameworkCore.SqlServer 2.1.0-preview1-26636 ist nicht mit uap10.0.16257 (UAP,Version=v10.0.16257) kompatibel. Paket Microsoft.EntityFrameworkCor

[2017-08-13 18:09] smitpatel commented on #9401
_From @ErikEJ on August 13, 2017 17:5_

You have to stay on version 1.1.2 for now (until a newer version of UWP comes later this year)

[2017-08-13 18:09] smitpatel commented on #9401
_From @hannespreishuber on August 13, 2017 18:5_

doenst compile with 1.1.2 several Errors with the .net base data types

[2017-08-13 18:09] smitpatel commented on #9401
_From @hannespreishuber on August 13, 2017 18:8_

`<ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer">
      <Version>1.1.2</Version>
    </PackageReference>
    <PackageReference Include="Microsoft.NETCore.UniversalWindowsPlatform">
      <Version>6.0.0-preview2-25612-02</Version>
    </PackageReference>
  </ItemGroup>
  `

[2017-08-13 18:10] smitpatel commented on #9401
EF Core 2.0 & higher is supposed to work on UWP 6.0+ Perhaps there is some missing hook to get nuget to install the package.
Can you tell which version of VS & dotnet are you using?

[2017-08-13 18:43] hannespreishuber commented on #9401
Microsoft Visual Studio Community 2017 Preview
Version 15.3.0 Preview 7.0
VisualStudio.15.Preview/15.3.0-pre.7.0+26730.0
Microsoft .NET Framework
Version 4.7.02542

Installierte Version: Community

Visual Basic 2017   00369-60000-00001-AA269
Microsoft Visual Basic 2017

Visual C# 2017   00369-60000-00001-AA269
Microsoft Visual C# 2017

Visual C++ 2017   00369-60000-00001-AA269
Microsoft Visual C++

[2017-08-13 18:46] hannespreishuber commented on #9401
C:\Users\pre>dotnet --version
2.0.0

[2017-08-13 18:53] nikolay-spasov opened #9402 "Adding initial migration command throws System.Reflection.TargetInvocationException"
Brand new .NET Core class library project with a simple DbContext.
When I run `dotnet ef migrations add` I get the following exception.
I am pretty sure it was working a few days ago with the 2.preview version.

[code]

My .csproj file
[code]

### Further technical details
EF Core version: 2.0.0
dotnet version: 2.0.0-preview2-006497
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operat

[2017-08-13 22:43] smitpatel commented on #9402
You need to install dotnet CLI version 2.0 (RTM), The preview2 CLI is not compatible with EF Core 2.0 RTM packages

[2017-08-14 01:40] withinoneyear opened #9403 "Adding new Timestamp(rowversion) fields to temporal table with existing historioc changes not working"
EF core does not append "NULL" to the generated sql script to add the new Timestamp(rowversion) column.
So if the table is system-versioned, and if it already has some changes made (saved in the history table), the db migration created for this schema change will not work.
Even "nullable" is sepefically set to true it does not create a nullable rowversion column. However, the history table set thi

[2017-08-14 08:11] TAGC commented on #9402
@smitpatel Where can we download the dotnet CLI v2.0 RTM from?

[2017-08-14 08:27] ErikEJ commented on #9402
Pls be patient!

[2017-08-14 08:48] dozer75 commented on #9101
@ArieJones well, it's not in the latest 1.x version.. It will probably be fixed in 2.x version then, but it's a bit frustrating issue now since 2.x isn't directly planned released yet and this is quite an urgent issue.

[2017-08-14 08:56] ErikEJ commented on #9101
@dozer75 Patience...

[2017-08-14 09:25] TAGC commented on #9402
@ErikEJ I'm confused. What is there to be patient about? Are you saying that the dotnet CLI v2,0 RTM hasn't been released yet?

[2017-08-14 09:27] ErikEJ commented on #9402
@TAGC  Not yet, but maybe soon!

[2017-08-14 09:32] TAGC commented on #9402
@ErikEJ To make sure I'm understanding this correctly - Microsoft released v2.0.0 of all their `Microsoft.*` NuGet packages on Friday, but anyone who upgrades to them will find their application fails to start unless they upgrade to a dotnet CLI version that doesn't exist yet.

I encountered the exact same issue as @nikolay-spasov and I don't even use Entity Framework. All I'm trying to do is laun

[2017-08-14 09:33] ErikEJ commented on #9402
That is correct, all I am saying is pls be patient!

[2017-08-14 10:13] khionu commented on #9402
It's downloadable if you know where to look. It won't be made convenient till the release announcement. That said, I would agree that it would be more reasonable for RTM releases of libraries that depend on another unreleased dependency should be held back until said dependency is released. Seems more logical than this.

[2017-08-14 16:14] bricelam commented on #9346
Looks like [applying themes](https://blogs.msdn.microsoft.com/commandline/2017/08/11/introducing-the-windows-console-colortool/) just got a whole lot easier. You may want to try `solarized_light` for your scenario:
![image](https://user-images.githubusercontent.com/1226749/29280645-df65e284-80d0-11e7-8e6f-eaefcbbd0724.png)

[2017-08-14 16:16] smitpatel commented on #9402
@nikolay-spasov - You can download 2.0 CLI from here https://www.microsoft.com/net/download/core

[2017-08-14 17:05] smitpatel commented on #9101
@dozer75 EF Core 2.0 is released. Can you try this on 2.0 bits. It is highly likely that this has been fixed in 2.0

[2017-08-14 17:25] xrkolovos commented on #1862
Pls consider it for release 2.1.0

[2017-08-14 17:32] bricelam commented on #9387
P.S. This 1.1.0 breaking change was announced in aspnet/Announcements#209.

[2017-08-14 18:06] #8140 closed

[2017-08-14 18:20] ajcvickers commented on #9397
@anpete Can you provide some guidance on how to extend EF.Functions.

[2017-08-14 18:41] bricelam commented on #9403
Possibly fixed with #8146

[2017-08-14 19:06] smitpatel commented on #9403
Issue:
`rowversion` is by default non-nullable in SqlServer. It will be made nullable only when you specify `NULL` in declaration. Even with the NULL, when you add column with rowversion to existing table, SQL Server will add values for existing records. Hence `nullable rowversion` column is considered *NOT* useful.

For temporal tables, the main table acts same as normal table so can have just ro

[2017-08-14 19:06] #9403 closed

[2017-08-14 19:07] smitpatel commented on #9403
We can report this to SqlServer team.

[2017-08-14 19:33] smitpatel commented on #9286
Fixed via d6410ed8b3ca78d01e1513b8ed4214fb74db25e9

[2017-08-14 19:33] #9286 closed

[2017-08-14 19:36] MisinformedDNA commented on #8443
This issue encompasses #1142, so I think #1142 can be marked as a duplicate.

[2017-08-14 19:40] AndriySvyryd opened #9404 "Investigate tests failing without MARS"
See SqlServerTestStore.cs

[2017-08-14 19:43] #9147 closed

[2017-08-14 19:49] EdwinSaenz opened #9405 "FilterQuery ignored for DbSet<T>.Find"
I set up a `FilterQuery` for a `DbSet<Person>` for when the `person.DeletedEventId` is not null to ignore people that have been deleted.

It works as expected when I use `context.People.FirstOrDefault(p => p.PersonId == personId)` but when I use `context.People.Find(personId)` it returns the entity.

Is this by design?

### Steps to reproduce
[code]

[code]

[code]

[code]

[code]

### Further tec

[2017-08-14 19:59] grahamehorner commented on #8443
I would love to see support doe take, skip foe paging as at present Cosmos doesn't server side support paging as I understand it

[2017-08-14 20:42] ajcvickers commented on #8304
Discussed this in triage and decided it doesn't meet the bar for a patch because:
* It is not a regression
* Including null in the contains list does not seem common
* The number of customers reporting this is low despite the behavior being present for some time
* It's fixed in 2.0, which is released

[2017-08-14 20:44] ajcvickers commented on #8518
Removing milestone for re-triage since this probably doesn't meet the current bar for a patch release.