[2017-01-25 01:02] maumar commented on #7476
Problem here is that when we visit query model we optimize GroupJoins out (remove SelectMany-DefaultIfEmpty clauses that follow GroupJoin), however when we handle client-side result operator we do a second pass (on the already modified query model) and because the shape of query model is different, we fail to recognize the GroupJoin-SelectMany-DefaultIfEmpty pattern, which results in GroupJoin bei

[2017-01-25 01:49] AndriySvyryd commented on #7082
Currently we don't uniquify names
This is a regression in a sense, because previously we didn't validate the name uniqueness.

[2017-01-25 10:09] popcatalin81 commented on #7465
How about just passing a single IServiceCollection parameter to all base services, and to allow customization of per provider create a wrapper IServiceCollection for each provider.

[2017-01-25 11:14] ErikEJ commented on #7317
I ended up doing this hack for now:

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Provider40/Migrations/SqlCeMigrationsSqlGenerator.cs#L50

[2017-01-25 13:49] ghost opened #7478 "How to use EF CLI Tools in an environment without visual studio"
If for instance I'm in a environment where I just have my application release folder that has a bin folder with the dotnet-ef.exe file and there is no visual studio installed in the environment.

right now if I try this `dotnet ef database update` I get this error:

How can I update the database from this environment with `dotnet ef database update`

[2017-01-25 16:22] ajcvickers commented on #7465
@jnm2 @popcatalin81 Passing an IServiceProvider is probably what we will end up doing, but also what we hope to avoid doing because it results in use of the service locator pattern, which then obscures dependencies. I suspect we will use this pattern along with adding [Obsolete] to the existing constructor while at the same time introducing a new constructor with the new dependency added explicitl

[2017-01-25 16:22] bricelam commented on #7478
You can use `ef.exe` (as we call it). It can operate directly on assemblies without a project file.  It can be found under `%USERPROFILE%\.nuget\packages\Microsoft.EntityFrameworkCore.Tools\1.0.0-msbuild3-final\tools\net451`.

    ef.exe database update --assembly MyApp.exe

[2017-01-25 16:24] bricelam commented on #7478
Calling it on a .NET Core App is a bit more tricky:

    dotnet exec --depsfile MyApp.deps.json --runtimeconfig MyApp.runtimeconfig.json ef.dll database update --assembly MyApp.dll

[2017-01-25 16:39] fitzchak opened #7479 "Trace connection open and close in RelationalConnection"
RelationalCommand has tracing but RelationalConnection connection is missing.
Adding ConnectionOpened and ConnectionClosed will help us trace this events in order to integrate with EntityFrameworkProfiler.
A PR is on the way.

[2017-01-25 16:41] bricelam opened #7480 "Tools: Allow specifying content root"
The ASP.NET Core content root path is configured by the user on `WebHostBuilder`. We currently default it to match what the templates do, but we should also allow it to be overridden on the PMC and `dotnet ef` commands.

[2017-01-25 16:45] bricelam opened #7481 "Tools: Allow specifying Startup"
The ASP.NET Core startup class is configured via `WebHostBuilder`. We currently do a token search for it using common names and patterns, but if we can't find one (and exactly one), there is no way to specify one to use without implementing `IDbContextFactory<TContext>`.

We should consider allowing one to be passed to the tools by name similar to `DbContext`.

[2017-01-25 16:53] ajcvickers opened #7482 "Require name for "persistent" in-memory database and add explicit API for creating transient database"
We see this being asked for a lot and we could make the break for 2.0.

[2017-01-25 17:26] figuerres commented on #1100
just let me know when it works for ms sql server ....  all the details are nice but i just need to make it work.
nothing against all the good ideas of a universal data type etc....
but for *ME* we just need to work with sql server today.
so for now i stick with the "classic" untill this is solved.

[2017-01-25 17:33] bricelam commented on #7402
Haha, we've got a bit of a problem. We can't really throw a friendlier exception because it can't cross the domain boundary. We just end up with this message instead.

The think that can't cast is also the thing we use to communicate back to the tool, so there's really not much we can do here besides educate those few who want to use `ef.exe` with UAP (and possibly Xamarin) assemblies.

[2017-01-25 18:01] RobertDM commented on #1100
The existing EF spatial users who are left in a lurch by this oversight are using SQL Server.   At the very least,  a solution for mapping/migrations should be made a priority - linq/query support can always be worked around.

[2017-01-25 18:05] bricelam commented on #7065
We decided this isn't any different than other packages that have misaligned versions. Ideally, this will be solved more generally by something like "line-ups" on NuGet.

[2017-01-25 19:47] divega commented on #7293
@anpete could you please write down justification/risk assessment for this fix?

[2017-01-25 19:50] AndriySvyryd commented on #7082
Justification: this is a functional regression in 1.1 for models with indexes that happen to have a name that matches our convention for a different index.
Risk: Low, the fix only affects models that currently would throw an exception.

[2017-01-25 19:52] divega commented on #7033
@smitpatel could you please take a stab at writing a justification/risk assessment for taking the fix in 1.1.1? A comment here in the bug works for me. Thanks.

[2017-01-25 20:18] axelheer commented on #7293
Any ETA for EF Core 1.1.1?

[2017-01-25 20:40] #7190 closed

[2017-01-25 20:46] smitpatel commented on #7033
Justification: This is regression from 1.0. Due to changes in query pipeline we started binding with outer query even though it was a separate SelectExpression overzealously without verifying if it would generate valid scenario. The fix blocks additional binding which could generate invalid queries.

Risk: This is low risk. It makes queries to evaluate certain parts on client side instead of trans

[2017-01-25 21:20] pgorbas commented on #5897
I still see no fix almost 5 months latter..  I am getting this error in "Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationContextFactory[", in other words inside microsoft relaeaseed code that throws about 50 paragraphs of useless stack traces because nothing ever get out of the Microsoft code - never hits user code.

The title of this thread is "Remove ClientEval warning for

[2017-01-25 21:25] divega commented on #5897
@pgorbas in case it isn't clear this issue was a bout a false positive for the warning which was fixed in version 1.1.0. If you are using 1.1.0 and you think you are running into the same problem or a similar one I would recommend that you create a new GitHub issue and include a repro.

[2017-01-25 22:19] TroySchmidt opened #7487 "AddAsync not saved related entities"
The problem that I am seeing is that AddAsync is not saving related records.  I have a One To Many relationship or RouteBatches to RoutePaths.  If I AddAsync, the related records do not get saved.  If I change it to Add then it does.  I am still calling SaveChangesAsync.

### Further technical details
EF Core version: v1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating syst

[2017-01-25 22:21] ajcvickers commented on #7487
Dupe of #7298.

[2017-01-25 22:38] #7251 closed

[2017-01-25 22:46] smitpatel opened #7488 "ModelBuilding: Non-primitive properties cannot be configured to use supported store type"
[code]
Using SqlServer, of course above doesn't work out of the box. It throws following exception.
[code]
As the exception message said to configure database type manually, following code added to `OnModelCreating`
`modelBuilder.Entity<Blog>().Property(e => e.Big).HasColumnType("bigint");`

It still throws the same exception. Either exception message is incorrect or there is bug in validation.EF

[2017-01-25 22:51] ajcvickers commented on #7467
@gdoron What is `_context` set to?

[2017-01-25 22:56] ajcvickers commented on #7488
@smitpatel The message is misleading. There is no way to map a CLR type that is not supported by the database provider just by changing the store type that is used.

[2017-01-25 23:02] gdoron commented on #7467
@ajcvickers OMG. that's a DbContext, injected by DI (shared between the threads), I've no idea how I missed it! I think R# marked the _context as not in use (gray) so I overlooked it. 😢

	for (var i = 0; i < 10000; i++)
	{
		Console.WriteLine("I'm an idiot and I'll stop bothering the EF team with my stupid bugs");
	}
Thanks Arthur and I'm truly sorry for wasting your time on this!

[2017-01-26 00:09] anpete opened #7489 "Fix shadow state Northwind query tests"
It looks like the shadow property was removed from the Northwind model in https://github.com/aspnet/EntityFramework/commit/814582ed629cf2c5e7#diff-b3d0fae678e6f014e6200cc80d30c3b7L43

Not sure if this was by design, but a consequence is that all of the query shadow state tests are, in fact, not using shadow properties!

@AndriySvyryd This was a while ago, do you remember anything about this change

[2017-01-26 00:12] AndriySvyryd commented on #7489
@anpete If was basically a cleanup, if the configuration was not necessary for the tests to pass it was removed.

[2017-01-26 01:08] #7457 closed

[2017-01-26 02:55] RandyBuchholz opened #7490 "HierarchyId Support [Discussion Link]"
I opened a discussion over at Roslyn for a Hierarchy type. Since it would be advantageous to design this type to work cleanly with EF and SQL's HierarchyID I thought I'd post a link here for anyone interested.

[[C# Feature Request] Hierarchy Data Type #16193](https://github.com/dotnet/roslyn/issues/16193)

[2017-01-26 05:23] MurtuzaTravadi opened #7491 "Process finished with non-zero exit code"
when i going for db First approach in .net core with Entity Framework Core    1.0 its giving me this error
"Process finished with non-zero exit code"  while i am executing  Scaffold-DbContext

please help me out
### Further technical details

Database Provider: . Microsoft.EntityFrameworkCore.SqlServer
Operating system: WIN10
IDE:  Visual Studio 2017RC

[2017-01-26 05:41] MurtuzaTravadi commented on #7031
@jrock2004 @MicahZoltu @MikeYeager @bricelam @WouterDeKort

when i going for db First approach in .net core with Entity Framework Core 1.0 its giving me this error
"Process finished with non-zero exit code" while i am executing Scaffold-DbContext

please help me out

[2017-01-26 11:00] ErikEJ opened #7492 "Tools: Finding runtime 1.2 compatible tools?"
When installing the EF PMC tools, I am unable to find a Tools Nuget package that works with 1.2-preview.

I was expecting 1.2 compatible tools to be available on the aspnetcore-dev feed...

Get this error:

PM>  Add-Migration MyFirstMigration
System.TypeLoadException: Could not load type 'Microsoft.EntityFrameworkCore.Metadata.Internal.RelationalFullAnnotationNames' from assembly 'Microsoft.Entity

[2017-01-26 11:38] ErikEJ commented on #7492
Fixed by running this before installing the Tools package:

  Install-Package Microsoft.EntityFrameworkCore.Design -Pre

[2017-01-26 14:25] bricelam commented on #7492
Yep. We need to update the  NuGet package dependency to 1.2.0. It is currently hard coded to 1.1.0 because of the custom way we have to pack.

[2017-01-26 14:54] MikeYeager commented on #7031
A couple of things to note. I've found that I've had better luck with 1.1 (all NuGet Packages, not just EF). 1.0 does not support named instances of SQL Server for example. You will have to include preview versions in NuGet when getting the tools, there is no RTM 1.1 version of the tools yet. Also, there is a bug that requires your project be on your OS drive. It only works through the NuGet Packa

[2017-01-26 16:21] ErikEJ commented on #7492
Too bad... But thanks!

[2017-01-26 16:21] #7492 closed

[2017-01-26 16:50] StrangeWill commented on #3322
@divega it appears the validation application block *only* applies to data annotations and not constraints applied by FluentAPI (at least it isn't catching anything for me on a code-first database that is getting SQL exceptions due to truncated data).

[2017-01-26 18:04] TroySchmidt commented on #7228
@bricelam I was looking at implementing this and it works great for the DataAnnotations validation, but anything I have setup via the Fluent API isn't validating this way.  Do you have a tip that could make that work?

[2017-01-26 20:04] bricelam commented on #7228
@TroySchmidt You would need to implement those checks yourself. Your validate method could use the model metadata available on `EntityEntry.Metadata` do determine what checks to make.

[2017-01-26 20:05] ajcvickers commented on #7482
Discussed this in the design meeting and decided:
- Will require a name for persistent databases
- Will add a new method (or otherwise change the API) to create a transient database
- We may obsolete the existing API, or we may just make a clean break

[2017-01-26 20:10] ajcvickers commented on #7469
Discussed in the design meeting and decided:
- Will add test to the specification test focused on this.
- Will not at this time add default implementations that throw
- Will not at this time do automatic validation on service collections
- Will not at this time add other runtime validation that can be called by anyone

[2017-01-26 20:12] ajcvickers commented on #7465
Discussed in design meeting and decided to try the parameter object approach for services, using sealed classes. Considered composition, but this would be a big change to the architecture and design of certain services.

[2017-01-26 20:53] #7100 closed

[2017-01-26 22:08] emardini commented on #4456
Just to make sure, can we say that this fix is available in EF core? Is there any chance to include the fix in EF 6?

[2017-01-27 01:05] john-luke-laue opened #7497 "Error calling Count() after GroupJoin()"
I'm getting a runtime error after doing a Count() on a GroupJoin()

### Steps to reproduce
[code]

**Exception message:**
_Expression of type 'System.Collections.Generic.IEnumerable'1[System.Collections.Generic.IEnumerable'1[MyClass]]' cannot be used for return type 'System.Collections.Generic.IEnumerable`1[System.Int32]'_

**Stack trace:**
_at System.Linq.Expressions.Expression.ValidateLambdaArgs

[2017-01-27 01:25] smitpatel commented on #7497
[code]

[2017-01-27 02:44] maumar commented on #7290
Moving to 1.1.1. again since this bug may cause data corruption in some cases

[2017-01-27 02:44] maumar commented on #7476
Adding to 1.1.1 since we need to fix this before we can tackle https://github.com/aspnet/EntityFramework/issues/7290

[2017-01-27 10:12] rmja opened #7499 "Where() on derived property fails with undefined property on base class exception"
Consider the following model:
[code]
`MessageSender` and `MessageRecipient` are abstract classes that have different implementation depending on their kind.

To get the "inbox" I can issue the following query:
[code]

However, to get the "outbox" where the query is run on the Sender property, I cannot
[code]

The following exception is thrown:
[code]

### Further technical details
EF Core version:

[2017-01-27 10:48] joacar commented on #7444
Just adding it here so I won't forget it when I have (take..) time to create a repro solution.

The domain model

[code]

Creating a migration produces the FK-constraint correctly but the index name `FK_OfferingPublished_Offerings_OfferingId1` gets a `1` at the end.

Adding `[ForeignKey("OfferingId")]` to dependenty entity generates `FK_OfferingPublished_Offerings_OfferingId`.

[2017-01-27 14:59] SamNasr commented on #2229
Rowan, any updates on using EF Code First to build/maintain Temporal Tables?  Where can we monitor this issue?

[2017-01-27 16:33] RandyBuchholz commented on #7461
This is similar to my post about adding Type Metadata [Type Metadata - Add DataDomain Attribute and Domain Concepts #7132](https://github.com/aspnet/EntityFramework/issues/7132).

Maybe add something along the lines of the "context" pattern. Model elements/entities could have a context container and handler for the container. This provides a general extension point for framework developers and sol

[2017-01-27 17:39] RandyBuchholz commented on #831
One of the things I encounter often when working on the early stages of a project and scaffolding from PM> is not being able to update when I can't build. I may have changed my business data and database to match, but now my project is full of errors. In some cases, running "update-model" is the solution to removing the errors, but I can't because of the errors. I'm not sure why scaffold-dbcontext

[2017-01-27 19:24] rowanmiller commented on #7297
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-27 19:25] rowanmiller commented on #7309
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-27 19:30] rowanmiller commented on #7317
@bricelam to see if we can reorder so we don't dispose before logging

[2017-01-27 19:35] rowanmiller commented on #7337
Dupe of #5826

[2017-01-27 19:36] milasch commented on #329
@flashfearless Well at least it is in 2.0's backlog. :)

[2017-01-27 19:45] rowanmiller commented on #7340
@ajcvickers to bring this to a design meeting

[2017-01-27 19:48] rowanmiller commented on #7345
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-27 19:54] rowanmiller commented on #7350
Closing but will reconsider if we see more requests. We would consider a PR with the feature. You could also look at implementing it as an extension method.

[2017-01-27 20:01] rowanmiller commented on #7396
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-27 20:09] ErazerBrecht commented on #7396
Hello,
I currently have a lot of work.
But still thanks for the time the team spent on the ticket.

If I can produce a repro once I'll create a new one.
Sincerely, Brecht

[2017-01-27 20:19] gmartinezsan commented on #7441
@maumar This issue has been already addressed in the MySQL provider.

[2017-01-27 21:46] marekt77 opened #7501 "The instance of entity type 'User' cannot be tracked because another instance of this type with the same key is already being tracked."
I have an class, where two fields are instances of another class.

Creating a new instance of the class, and saving it to the database is not the issue, however updating the record is.

Before going any further, here are my classes:

[code]

So, let us say, user Steve creates a new recipient, and the record is saved in the database.  Therefore the fields: CreatedBy and LastModifiedBy are both set

[2017-01-27 23:15] rowanmiller commented on #7243
This isn't something that our team wants to take on at this stage. If there are any volunteers in the community then we'd certainly be happy to help them take over the project (we work pretty closely with a number of provider writers).

[2017-01-27 23:16] rowanmiller commented on #7306
This is something that would need to be manually edited once the migration is scaffolded. We walk a fine line between trying to scaffold something that works, but not making the product too complex. What data conversions are supported is a provider specific thing, so we don't really want to go down this route.

[2017-01-27 23:17] rowanmiller commented on #7324
Can you try on the latest tooling (see https://github.com/aspnet/EntityFramework/issues/7358 for details) and file new issues for things that you hit.

[2017-01-27 23:21] rowanmiller commented on #7360
Discussed at length and concluded that we don't want to do this. As @bricelam mentioned, the code in a migration is run to create a script, which is then run against the database. If you did write code that interacted with the database, it would break scripting (which isn't a blocker on it's own, we could just throw if you tried to access the database during scripting - because there is no databas

[2017-01-27 23:46] bricelam commented on #831
There are a couple reasons we do this:
* To pick up any design-time services that have been overridden in the project (e.g. customizing the code generation)
* If the provider's design-time package was just installed, we need to build to ensure it's copied into the output directory.

It is also just done in general for all commands since every other command besides Scaffold-DbContext needs to opera

[2017-01-27 23:49] bricelam commented on #831
I think the `-OutputDir` parameter can be used to configure the namespace and directory of the model. If so, it looks like we should update the documentation.

[2017-01-27 23:59] bricelam commented on #7360
One alternative would be to do this while the migrations are applying in your application:
[code]

[2017-01-28 04:07] RandyBuchholz commented on #831
Thanks for the explanation.

Skipping compile on -force with a warning would work great.

-o -OutputDir does add the namespace of the folder you gen to. I may be the rarer case, but I don't keep a strict 1:1: folder to namespace mapping. I often use container folders to subdivide or group things, and skip them in the namespace. Generally I'll do this by architecture areas. I group my database rela

[2017-01-28 04:27] benchmatebob opened #7504 "SQLite3 db.Parts.Add failing"
I've built a simple database and trying to add one record with two data fields.  When trying to execute SaveChanges, get the error that it can't find the first data field.
[code]

Describe what is not working as expected:  Program works fine until db.SaveChanges();

[TestSQLiteEF.zip](https://github.com/aspnet/EntityFramework/files/736689/TestSQLiteEF.zip)

### Further technical details
EF Core ve

[2017-01-28 05:54] MurtuzaTravadi commented on #7031
Thank you @MikeYeager  my issue resolved.

[2017-01-28 06:02] MurtuzaTravadi commented on #7491
its just framework issue update your framework

[2017-01-28 06:49] soycabanillas opened #7505 "JSON and TPH Discriminator aclaration"
I've been trying to use JSON to store different entities on the same table. The only difference between the child objects is that every child object has different type to serialize/deserialize to/from the JSON field::

[code]

The DBContext configuration:

    modelBuilder.Entity<Person>()
    .HasDiscriminator<PersonEnum>(nameof(Person.Type))
    .HasValue<Person>(PersonEnum.Unknown)
    .HasValu

[2017-01-28 07:52] AxelAndersen commented on #827
Do you have any release date for supporting views?

[2017-01-28 14:18] MurtuzaTravadi opened #7506 "Value cannot be null parameter name key"
I have create one project in .net core 1.1 and default framework 6.2

when i saved and exit program after that reopen that same project i am getting this error
"Value cannot be null parameter name key"

[code]

[2017-01-28 14:55] hofa77 commented on #5460
@kjbetz  Thans Mannnnn

[2017-01-28 20:09] shaulbehr commented on #827
For the record, I'll add a "Me, too!" comment here.  Please can you prioritize View support?

[2017-01-28 21:33] LwsSt opened #7507 "After initial install, closing and re-opening VS 2017 causes EF tools to not work"
1. I install the Entity Framework Core Tools using the Package Manager Console as per the instructions in the [announcement](https://blogs.msdn.microsoft.com/dotnet/2016/10/25/announcing-entity-framework-core-1-1-preview-1/): `Install-Package Microsoft.EntityFrameworkCore.Tools -Pre`
2. The package `<PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="1.1.0-preview4-final" />`

[2017-01-28 23:35] bricelam commented on #7507
No, if they're installed into a project, opening the solution should make the commands available in Package Manager Console.

This looks like a bug in NuGet. Would you mind [creating a new issue on the NuGet/Home reop](https://github.com/NuGet/Home/issues/new) so they can follow up?

[2017-01-28 23:38] bricelam commented on #7504
You need to ensure the database schema is created either by calling `db.Database.EnsureCreated()` or using the Migrations feature.

[2017-01-29 03:35] Allann opened #7508 "ForSqlServerIsClustered being ignored"
When I generate an initial migration all table configurations that contain the method ForSqlServerIsClustered continue to set the Id field as the clustered index not the new index as specified.

### Steps to reproduce
Using the TestContext project provided, open a command prompt in the project folder and type:
`dotnet ef migrations add InitialCreate`

Note that the migration is successful, but no

[2017-01-29 03:38] Allann commented on #7508
Please ignore...

I didn't add the OnModelCreating override.

[2017-01-29 05:37] MurtuzaTravadi commented on #7506
@anurse  @shanselman @srivatsn @migueldeicaza @halter73
please help me out.

[2017-01-29 08:15] ErikEJ commented on #7507
Also make sure to run the latest RC (RC3 currently)

[2017-01-29 11:45] derf26 commented on #6831
I have this same issue. I've posted a question on [StackOverflow ](http://stackoverflow.com/questions/41915522/asp-net-core-1-1-runs-fine-locally-but-when-publishing-to-azure-says-an-error-o)but it feels more and more like a bug with .NET Core as I've spent several hours trying different .nuget package combinations.

Basically I can run everything fine in debug mode, but when I publish to an Azure

[2017-01-29 17:28] benchmatebob commented on #7504
Brice – I replaced db.Migration() with db.Database.EnsureCreated().  No change, error message states ‘strDesc’ not found.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27A12.0F617190]<http://www.benchmate.com/>  [cid:image005.jpg@01D27A12.0F617190] <https://twitter.com/@Ben

[2017-01-29 19:59] iwaszko commented on #7358
Just a quick question: I'm testing on a mac with VS Code. Is it OK to use `Microsoft.EntityFrameworkCore.Tools.DotNet` version `1.0.0-msbuild3-final` with EF Core `1.1.0`? Version `1.1.0-msbuild3-final` of `dotnet ef` doesn't seem to be available.

[2017-01-29 20:53] Jabbersii commented on #7507
New issue raised in Nuget/Home repo: https://github.com/NuGet/Home/issues/4426

[2017-01-29 23:07] tbaggett commented on #7288
FYI, I've also run into this exact problem. I am also using EF Core 1.1 and Npgsql/postgres, but working on a Mac with VS Code. I will try to create a repro to demonstrate the issue.

[2017-01-29 23:41] tbaggett commented on #7288
Repro of issue available at https://github.com/tbaggett/EFIssue7288Repro. I followed these steps to create the project:
- Created the project using "yo aspnet" with "Web Application" type selected
- Ran dotnet restore
- Ran dotnet build
- Ran dotnet ef database update
- Added "TestContext" and "TestModel" classes
- Added a call to services.AddDbContext in the Startup's ConfigureServices method to

[2017-01-30 08:47] JonPSmith opened #7509 "Problem when changing the type of table-per-hierarchy entry"
I am building an example of using the table-per-hierarchy (TPH) feature in EF Core. I have a base class called `Book` and at derived class called `BookWithPromotion`. I want to update an entry to change from one to the other, i.e. I want to change an entry that is currently a `Book` type to a `BookWithPromotion` type. But when I do that I hit the "...cannot be tracked because another instance of t

[2017-01-30 09:16] JonPSmith opened #7510 "Using Update command with table-per-hierarchy class does not set the discriminator"
If I use the `Update` command to change the type of an entry in a table-per-hierarchy class, i.e. change the class from `Book` to `BookWithPromotion` then the discriminator column is not updated.

---

~~I did try setting the discriminator in code, but that didn't work either~~
## Update
@ajcvickers pointed out that I needed to set the discriminator to readwrite using the following code in my `OnM

[2017-01-30 09:18] danielmackay opened #7511 "Migration History is getting overwritten"
We have a SQL database that we are managing via entity framework migrations and we have 3 DbContexts, each with their own migrations. This works well most of the time, however, we have an issue from time to time where the context key for 2 of the migrations, gets overridden with a context key from another migration. i.e

![](https://i.stack.imgur.com/Z5X1Q.png)

However, it should look like:

![](

[2017-01-30 09:55] kimwandev commented on #2866
Is this already available in EF Core 1.1.0?

[2017-01-30 10:27] roji opened #7512 "Missing ORDER BY in SQL generated by OrderBy_skip_take_distinct"
In commit b5b3609319d1badc2cbdccfe4306f459c85f54c2, @smitpatel added test `OrderBy_skip_take_distinct`. Running this test on Npgsql sends the following SQL to the database:

[code]

The test fails because the outer query is missing an `ORDER BY`, even though the inner one has it. This test seems to pass with other providers because the inner query ordering is preserved in the outer query, but not

[2017-01-30 15:56] milasch commented on #329
So I'm trying to add a migration that, by hand, deletes a column on a master table. I created an example of what I'm trying to accomplish by creating 2 model classes:

[code]

I generate the first migration, add data to master and detail. I then delete the ToBeDeleted property then generate the second migration, which creates the infamous migrationBuilder.DropColumn call that isn't supported.

So

[2017-01-30 16:16] srivatsn commented on #7506
There was an issue with this stack that was fixed in the latest update to VS 2017 RC that was released last weekend. Are you using that VS - can you post your VS version from Help->About?

[2017-01-30 16:51] bricelam commented on #7358
@iwaszko Yes. There is only one version of `Microsoft.EntityFrameworkCore.Tools.DotNet`, and it will work with any version of the EF Core runtime.

We are considering releasing both a `1.0.0` and `1.1.0` version for RTM to avoid this confusion. (cc @rowanmiller)

[2017-01-30 17:01] MurtuzaTravadi commented on #7506
![image](https://cloud.githubusercontent.com/assets/22894409/22432695/c18e1e68-e73b-11e6-9bc8-7deb96ab806a.png)

[2017-01-30 17:02] bricelam commented on #329
@milasch Could you [submit a new issue](https://github.com/aspnet/EntityFramework/issues/new) so we can investigate? That all looks correct to me. I wonder if EF is sending a `PRAGMA foreign_keys=1;` when it shouldn't.

[2017-01-30 17:03] srivatsn commented on #7506
Ya that's an older version. Can you try upgrading to the latest (click on that yellow notification in the screenshot).

[2017-01-30 17:06] bricelam commented on #329
Ah yep, as Nate said above:

There is a way to suppress the transaction for a command, but it's only exposed on the `Sql` method. We may need to put together some guidance on how to do this. (cc @rowanmiller)

[2017-01-30 17:11] #6890 closed

[2017-01-30 17:53] milasch commented on #329
@bricelam No point in submitting a new issue then, right? I'll try to see how I can suppress the transaction.

[2017-01-30 17:59] milasch commented on #329
@bricelam The following worked:

        protected override void Up(MigrationBuilder migrationBuilder)
        {
            migrationBuilder.CreateTable(
                name: "NEW_Masters",
                columns: table => new
                {
                    Id = table.Column<int>(nullable: false)
                        .Annotation("Sqlite:Autoincrement", true),
                },

[2017-01-30 19:54] rowanmiller commented on #7290
We are OK with taking a minimal fix to this in 1.1.1. A more complete fix (better perf, cleaner SQL, etc.) will go into 2.0.

[2017-01-30 20:00] iwaszko commented on #7358
Thanks, using `1.0.0-msbuild3-final` I was able to successfully run `dotnet ef migrations add` and `dotnet ef database update` in `.csproj`-based project on EF Core `1.1.0`.

[2017-01-30 20:04] rowanmiller commented on #7424
Closing as this is expected behavior. If you take over creation of entities, then EF doesn't play a role and will not do includes etc.

[2017-01-30 20:04] rowanmiller commented on #7425
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-30 20:09] jnm2 commented on #7424
If I include an entity in a projection, that should not be seen as me taking over its creation. It should be created the same as if it was not wrapped in a projection.

[2017-01-30 21:06] smitpatel commented on #7428
duplicate of #7103 fixed in dev.

[2017-01-30 21:21] anpete commented on #7424
@jnm2 Please feel free to create a separate bug for that feature, ideally with some examples of where it is useful.

[2017-01-30 21:36] rowanmiller commented on #7426
Discussed at length and we think it makes more sense to iterate over the projects in the deployment layer. Feel free to tee up a meeting to discuss further if you want to push back 😄.

[2017-01-30 21:52] rowanmiller commented on #827
One of the big things folks want when working with views is to be able to query data into objects that are not entities (and therefore the view doesn't have to be normalized or have a key). We expect to at least make progress on that feature in 2.0 (https://github.com/aspnet/EntityFramework/issues/1862).

[2017-01-30 21:52] bricelam commented on #7358
W00t! Thanks for helping us bash.

[2017-01-30 21:53] MattWhilden commented on #6381
We believe that this issue is resolved with version 5.3.0 of Microsoft.NETCore.UniversalWindowsPlatform. You'll need to upgrade to VS 2017 to take advantage of this. Details here: https://blogs.msdn.microsoft.com/dotnet/2017/01/30/announcing-net-core-net-native-and-nuget-updates-in-vs-2017-rc/

[2017-01-30 23:22] divega commented on #6381
Closing based on @MattWhilden's comment that this should be fixed in UniversalWindowsPlatform 5.3.0. I any similar issues occur using the latest version, please create a new issue.

[2017-01-30 23:22] #6381 closed

[2017-01-30 23:25] smitpatel commented on #6996
@divega @Eilon - Does this tool need to run on Specification tests?

[2017-01-31 00:50] #7359 closed

[2017-01-31 01:55] Spaceman1861 opened #7515 "Query: OrderBy passed as Func<> does not translate to SQL"
Greetings :D

When I provide an orderby query like so it doesn't seem to work for nullable datetimeoffset.
[code]
It correctly filters the object but it does it client side not sql side.

My code works fine when I order by other types such as int or string.

The db type matches up with the model type.

Is ordering by datetimeoffsets currently supported?

Below is the model and methods used.

[code

[2017-01-31 03:08] divega commented on #6996
@smitpatel I think the answer is no. My reasoning is that we are not committed to avoid breaking changes in the spec test but rather to communicate them to provider writers as needed.

[2017-01-31 06:34] danielmackay commented on #7511
Moved this to https://github.com/aspnet/EntityFramework6.

[2017-01-31 17:23] Eilon commented on #6996
Yeah I agree with this.

[2017-01-31 17:27] ajcvickers commented on #7504
@benchmatebob From a quick look at your code it looks like the database is already created, but it not up-to-date with your model. If the database already exists, then EnsureCreated will do nothing. It won't try to add new tables or columns to it. Migrations is needed to do that. If you don't care about your current database, then you can use EnsureDeleted before EnsureCreated to always re-create

[2017-01-31 17:34] ajcvickers commented on #7509
@JonPSmith Closing this as a dupe of #7340.

Some more details: EF doesn't support type mutation for a number of reasons, one of them being that the CLR doesn't support type mutation--.NET does not let an object that was a Book become a BookPromotion, or vice versa. That being said, the code you posted is obviously not doing this. It is instead attempting to delete an entity with a given identity

[2017-01-31 17:48] ajcvickers commented on #7510
Note for triage: The reason for this is that shadow properties are marked as having an unknown value when an entity is attached to the context. This stops accidental over writing with null of, for example, FK properties--see #4920. In this case it means that the discriminator property is the shadow property, and the value it should have is known because it comes from the CLR type. So we could spec

[2017-01-31 18:35] benchmatebob commented on #7504
Arthur – I’m still having the same problem.  I tried copying the UWP example.  Code fragments follow:

             From:  App.xaml.cs

        public App()
        {

            this.InitializeComponent();
            this.Suspending += OnSuspending;
            using (var db = new BloggingContext())
            {
               try
               {
                  db.Database.Migrate();

[2017-01-31 18:36] jnm2 opened #7516 "Query: Compiler crash for invalid Include path"
([As asked](https://github.com/aspnet/EntityFramework/issues/7424#issuecomment-276194553) by @anpete.)

Please support eager loading when the root entity ends up in a projection.

There is not a good way to do what I need to do: load a list of entities with multiple child collections on each entity populated, plus an arbitrary calculation associated to each entity.

This would be perfect:
[code]

[2017-01-31 19:05] rowanmiller commented on #7429
@jemiller0 did `UPDATE STATISTICS` make a difference?

[2017-01-31 19:06] rowanmiller commented on #7433
Done

[2017-01-31 19:16] rowanmiller commented on #7456
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-01-31 19:20] JonPSmith commented on #7509
Hi @ajcvickers ,

Thanks for that. Yes, I agree it is a duplicate of #7430. Having seen your comments on #7510 I think the code above is the only way I could achieve mutation. I think my use case is valid use of TPH, but I accept that you may define mutation of TPH as invalid in EF Core.

PS. Two SaveChanges is not an option I would ever use in an example, for obvious reasons.

[2017-01-31 19:20] jemiller0 commented on #7429
I tried UPDATE STATISTICS and it didn't make a difference. I haven't had a chance to test items 2, 3, and 4 listed above. I've been meaning to do that, but, got tied up with unrelated projects.

[2017-01-31 19:22] JonPSmith commented on #7510
Hi @ajcvickers,

OK, I can see it could be a lot of work to get Update to work with discriminators. If that is the decision I will put that in my write up.

[2017-01-31 19:35] dvdobrovolskiy commented on #7456
1.1.0-preview4-final

PM> add-migration comm2 -Verbose
Build started...
Build succeeded.
Setting app base path c:\Users\dima\Source\Repos\CET\src\CET\bin\Debug\netcoreapp1.0
Finding DbContext classes...
Using context 'ApplicationDbContext'.
Writing migration to 'c:\Users\dima\Source\Repos\CET\src\CET\Migrations\20170131193152_comm2.cs'.
Writing model snapshot to 'c:\Users\dima\Source\Repos\CET\src

[2017-01-31 19:40] divega commented on #7456
@dvdobrovolskiy as your intention to reopen the issue to consider the additional information?

[2017-01-31 19:49] dvdobrovolskiy commented on #7456
It is an issue for me.

[2017-01-31 19:54] rowanmiller commented on #7516
Have you checked if the second code listing works or not? We think that will already work.

Also, what happens with the first example (exception, ignored, etc.)?

[2017-01-31 20:14] ajcvickers commented on #7509
@JonPSmith What are the reasons for now using two SaveChanges?

[2017-01-31 20:20] smitpatel commented on #7515
@Spaceman1861 - I tried running order by in a sample app for EF 1.1 version.
My class
[code]
query `var query = db.Blogs.OrderBy(e => e.DTO).ToList();`
generated following SQL
[code]

It is working as expected in 1.1

[2017-01-31 20:24] smitpatel commented on #7515
@Spaceman1861 - Can you provide a stand-alone repro? The code you posted above, I cannot get it to compile.

[2017-01-31 20:34] JonPSmith commented on #7509
Oh, sorry. In my examples I am always aiming for *atomic* updates - they either all work or all fail. I think that is good thing to get in people's mind.

Also, in my own/client projects, which are all web applications, I never use multiple calls to SaveChanges (other than inside a transaction) - my rule is, if the request contains a database update then one, and only one call to SaveChanges shoul

[2017-01-31 20:35] ajcvickers commented on #7504
@benchmatebob Did you create a migration? Try working through the "Getting Started" guide for UWP apps making sure that actually create appropriate migrations and then create your database from those migrations, like the walk through shows. https://docs.microsoft.com/en-us/ef/core/get-started/uwp/getting-started

[2017-01-31 20:37] ajcvickers commented on #7509
@JonPSmith This would be a great place to use a transaction.

[2017-01-31 20:39] ajcvickers commented on #7510
We discussed this in triage and decided that we won't add explicit support for mutating the type in this way. If the discriminator does need to be set in an update (only needed to mutate the type) then the discriminator value can be set explicitly.

[2017-01-31 20:40] anpete commented on #7293
Risk: Low, a one line change that changes a dictionary update from a potentially throwing Add call to an overwriting set accessor operation.
Justification: This change fixes a regression that causes many previously working LINQ queries to fail.

[2017-01-31 20:54] ajcvickers commented on #7501
@marekt77 The code that sets the navigation property dbRecipient.LastModifiedBy is setting it to an entity instance that is not being tracked by the context. It seems like in this case the context is already tracking another instance for this same entity--presumably because it was brought in by the query through including the "CreatedBy" navigation. EF can't track two instances of the same entity,

[2017-01-31 21:08] rowanmiller commented on #2866
Yes, it was actually included in the 1.0.0 release

[2017-01-31 21:16] benchmatebob commented on #7504
Arthur – That’s what I’ve been doing.  However ‘Add-Migration MyFirstMigration’ doesn’t execute when run from the Tool Console as instructed.

I’ve not found any other instructions for migrations.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27BC4.36314210]<http://www.benc

[2017-01-31 21:18] jnm2 commented on #7516
@rowanmiller You're right about the second code sample! I'm surprised and happy! Given the response to the [exact same question for EF6](https://entityframework.codeplex.com/workitem/2939) I thought this was a path you decided against. This will be a major win for us when we finally get to switch to EF Core.

As for the first code sample with EF Core, I get:

[code]

[2017-01-31 21:20] Spaceman1861 commented on #7515
@smitpatel yeah ill bash something up.

[2017-01-31 21:20] ajcvickers commented on #7504
@benchmatebob Can you be more specific about what you mean by, "doesn’t execute"?

[2017-01-31 21:30] benchmatebob commented on #7504
Arthur – See attached.  Frankly, the instructions don’t make much sense to me.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27BC6.3CD97130]<http://www.benchmate.com/>  [cid:image005.jpg@01D27BC6.3CD97130] <https://twitter.com/@BenchmateCMMS>  [cid:image006.jpg@01D27BC6.3CD

[2017-01-31 21:38] maumar commented on #7476
@divega
Justification to include this in 1.1.1 release:

Impact: Medium. This is effectively the same issue as https://github.com/aspnet/EntityFramework/issues/7198, which is a breaking change introduced in 1.1.0 and was reported by a customer. Issue results is inefficient queries for simple cases and compilation errors for complex ones (no data corruption).

Risk: Low. Fix is local, we are undoin

[2017-01-31 21:41] maumar commented on #7198
closing this as we have another issue opened, investigated and described, which turned out to be the same underlying problem (https://github.com/aspnet/EntityFramework/issues/7476)

[2017-01-31 21:41] #7198 closed

[2017-01-31 21:41] #7119 closed

[2017-01-31 21:47] maumar commented on #7290
@divega
Justification to include this in 1.1.1 release:

Impact: High. Issue was reported by a customer and is a regression introduced in 1.1.0. It can also cause data corruption in specific cases.

Risk: Low/Medium. We already have the same logic that applied to GroupJoin clauses, but we were not doing it recursively. However, the fix incurs a performance hit - we will now yield more unnecessary

[2017-01-31 22:12] smitpatel commented on #6986
Justification: In the scenario where there are shadow properties in derived type, doing any query operation on the base type would give incorrect data for derived type. In certain cases where user model is more restricted like this it would throw exception.

Risk: It is low risk. The fix changes the pipeline in case of the particularly faulty scenario and doesn't affect the path for any other case

[2017-01-31 22:46] bricelam commented on #7454
The `AddDbContext` call must be inside `Startup.ConfigureServices()` for the tools to pick it up.

If this is not an ASP.NET Core application, you should add a type to your project that implements `IDbContextFactory<BlogDbContext>`. The tools will use this to create instances of the `DbContext`.

[2017-01-31 23:57] maumar commented on #6611
reassigning to Smit as he is working on a similar issue

[2017-01-31 23:59] maumar commented on #7289
@divega
Justification to include this in 1.1.1 release:

Impact: Medium. This is a regression introduced in 1.1.0 and was found by a customer.
Risk: Low. Fix is local, implementing a missing Visit method on one visitor.

[2017-02-01 00:19] anpete opened #7518 "Investigate update pipeline numbers on perf site."
Need to check for a possible regression here.

[2017-02-01 02:09] ClaudeTheDeveloper opened #7519 "The Dependency Entity Framework 6.1.3 does not support framework .NETCore, Version=v1.0"
I am building my personal website and I decided to do it with Visual Studio 2015 and ASP.NET Core.  I am currently stuck as my project.JSON gives me the following error:  error NU1002: The dependency EntityFramework 6.1.3 does not support framework .NETCoreApp,Version=v1.0.

What changes should I make in my project.JSON to avoid that error message? Below is my project.JSON
Your help will be very a

[2017-02-01 02:34] anpete opened #7520 "Query: List of refactoring ideas"
Brain dump of potential refactorings in the query pipeline captured from a discussion today with @smitpatel and @maumar.

~- [ ] Immutable SelectExpression via facade/visitors~ Not worth
- [x] AliasExpressions everywhere or ColumnRefExpressions for referentially consistent SQL tree. (@smitpatel) #7950
- [x] Include via QueryModel (@anpete) #7974
~- [ ] Include/nav-prop synergy via early QM rewrite

[2017-02-01 04:20] jnm2 commented on #7519
You have the EF6 package there, which does not run on .NET Core. You want Microsoft.EntityFrameworkCore instead.

Side note: when I search for entity framework in the NuGet package manager, I get EF6 but Microsoft.EntityFrameworkCore is nowhere to be seen. I have to basically type the entire ID to find it.

[2017-02-01 05:51] ClaudeNewDeveloper commented on #7519
@jnm2 Thank you for your help.  All I had to do was to remove the line  "EntityFramework" : "6.1.3" and the error disappeared. I then rebuilt the project and everything works just fine.

[2017-02-01 06:20] Spaceman1861 commented on #7515
@smitpatel
I Found a fix to my issue.

I pass an expression not a func in.

    Expression<Func<TModel, object>>

not

    Func<TModel, object>

Using your example

  public void getStuffSorted(Expression<Func<TModel, object>> a)
  {
        var query = _context.Set<TModel>().OrderBy(a).ToList();
   }

Not sure this is working as intended it probably is and i just stuffed up.

[2017-02-01 06:38] DamirLisak commented on #6253
The bug is still present!
I have tested my App with the latest compiler of Microsoft Visual Studio Community 2017 RC Version 15.0.26127.0 D15REL.
Excluding the Entity-Framework-Assemblies in the runtime directives (rd.xml) works now.

@natemcmaster : Will Microsoft Support ARM-Processors (Phone) in the future or is it dead and gone?

Here is the Stack-Trace:

[code]

[2017-02-01 07:13] smitpatel commented on #7515
@Spaceman1861 - That is the issue. I missed that part. EF cannot translate `Func<>`. It needs `Expression<Func<>>` to reason about the expression tree to successfully convert it to SQL.
Here is a good stackoverflow answer which describes difference between both.
http://stackoverflow.com/questions/793571/why-would-you-use-expressionfunct-rather-than-funct?rq=1

Closing this as things are working as

[2017-02-01 08:00] trinvh opened #7521 "Add-migration failed after change platform x64 to x86"
Add-migration command not working

Exception message:
`Could not find assembly '{project-path}\.\bin\Debug\net452\win7-x64\App.exe'.`

### Steps to reproduce
I need to built x86 assembly instead of x64. So I removed x64 SDK and reinstall x86 version, update project dependencies to latest version too.

project.json:
[code]

I tried to add new migration with command:
`add-migration Updates -c DbCont

[2017-02-01 08:12] JonPSmith commented on #7510
HI @ajcvickers,

Fine, but re your last comment:

I did try that and setting the discriminator directly **did not work** (I mentioned that in my initial post - see second paragraph in italics).

[2017-02-01 08:16] JonPSmith commented on #7509
Yep - that would be a way round it. Bit heavy though. Is there any view on whether #7340 is going to be changed?

[2017-02-01 08:17] Spaceman1861 commented on #7515
@smitpatel  Cheers matey

[2017-02-01 09:02] kimwandev commented on #2866
So if I use InMemory option I should be able to test methods that uses BeginTransactions? I'm using 1.0.0 core and I am experiencing a runtime error in using InMemory DB when testing methods with BeginTransaction. Thanks for your response!

[2017-02-01 10:04] archanasoni opened #7523 "Skip with Count always returns 0"
We are working to have Core support for IBM EntityFramework Provider.
For one of our internal test application, we have to skip few rows and and return remaining total number of rows.
Our query is:
context.ArchTable1.OrderBy(c=>c.Id).Skip(1).Count()

It always returns output:
skip count 0
We have used UseRowNumberForPaging() via optionsBuilder.

The similar Application when we run against SQL Serv

[2017-02-01 14:28] badyalsk commented on #4429
In Entity Framework Core, we are not able to return some complex type(columns from different entities) from Stored Procedure using RAW SQL. It alway returns Entity in DbSet. When we are expecting to add support for this functionality in EF Core. What are the alternatives?

[2017-02-01 15:02] tuespetre commented on #2341
Okay... I have all bajillion (as a compliment) tests passing, now I'm going to rebase onto the last month or so of commits that have been merged to dev since I started before submitting a PR.

[2017-02-01 15:50] natemcmaster commented on #6253
@DamirLisak I'm not aware of any progress in this bug. @MattWhilden can you share a status update if there is one?

[2017-02-01 16:18] MurtuzaTravadi commented on #7506
Thank you @srivatsn its lot

[2017-02-01 16:23] MJomaa opened #7524 "SQLite3 Child entites do not get added when parent is added."
SQLite3 Child entites do not get added when parent is added.

[code]

In this scenario the student doesn't get added unless I specify
[code]

Is this by design?

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.Sqlite 1.1.0
Operating system: Windows
IDE: Visual Studio 2017

[2017-02-01 17:01] bricelam commented on #7521
Standalone (a.k.a. non-portable) apps aren't supported by the `project.json` tools. Please see #7358 for information on trying out the latest MSBuild-based EF Core tools.

[2017-02-01 17:05] ajcvickers commented on #7524
Dupe of #7298. Workaround is to use Add instead of AddAsync. The async method just adds overhead in all but very obscure scenarios.

[2017-02-01 17:25] rowanmiller commented on #2866
@kimwandev can you post the exception that you are getting?

[2017-02-01 17:32] ajcvickers commented on #7510
@JonPSmith It works for me if I set the property to allow writes:
[code]
And then set the value before saving:
[code]

What error are you seeing?

[2017-02-01 17:51] ajcvickers commented on #7509
@JonPSmith When you say it's a bit heavy, do you mean because there is more code? In both cases there will be a transaction, the only difference is whether EF creates the transaction for a single SaveChanges call or whether you tell EF to use the transaction for more than one call. So something like this:
[code]
Becomes:
[code]
Doesn't look too bad to me; only a few lines more code, and very simil

[2017-02-01 18:05] ajcvickers commented on #7504
@benchmatebob I don't see any attachment. I expect responding through email doesn't upload attachments.

[2017-02-01 18:12] benchmatebob commented on #7504
Arthur – Here is the error message when I try to ‘Add-Migration …’ as instructed in the UWP database example.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27C73.A5166FC0]<http://www.benchmate.com/>  [cid:image005.jpg@01D27C73.A5166FC0] <https://twitter.com/@BenchmateCMMS>

[2017-02-01 18:18] ajcvickers commented on #7504
@benchmatebob Did you install the tools, as described under the "Install Entity Framework" section? Also, you might need to close and restart Visual Studio as there is a bug in NuGet that means commands can occasionally not get installed correctly.

[2017-02-01 18:20] benchmatebob commented on #7504
Arthur – I’ve done all of that.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27C74.D215CBA0]<http://www.benchmate.com/>  [cid:image005.jpg@01D27C74.D215CBA0] <https://twitter.com/@BenchmateCMMS>  [cid:image006.jpg@01D27C74.D215CBA0] <http://www.linkedin.com/pub/bob-nichols

[2017-02-01 18:23] bricelam commented on #7504
Ensure you're using the [latest version of NuGet](https://dist.nuget.org/index.html). You may also need to run `Set-ExecutionPolicy RemoteSigned` in an elevated PowerShell session to work around a NuGet issue.

[2017-02-01 18:44] rowanmiller commented on #7462
This isn't really something we would bake into EF, but you could definitely use EF to get the info from the database and then write an app to display it.

[2017-02-01 18:46] rowanmiller commented on #7471
When EF opens a connection, it will close it when it thinks it is done. In your case, you have additional code, that EF isn't aware of, that requires the connection to be left open. There are open/close APIs on the connection to allow you to control this manually. EF won't close a connection if it didn't open it.

[2017-02-01 18:47] rowanmiller commented on #7490
Duplicate of #365. Added a note about the C# feature request to that issue.

[2017-02-01 18:50] rowanmiller commented on #7505
Everything looks good, that is how we intend the feature to be used.

Because it isn't an abstract class, there is nothing preventing you from adding and saving an instance `Person`. If it was an abstract class, the it wouldn't need a value.

[2017-02-01 19:37] rowanmiller commented on #7429
@maumar can you do a time boxed effort to try and reproduce this

[2017-02-01 19:39] rowanmiller commented on #7456
@dvdobrovolskiy can you provide the project so that we can debug the issue?

[2017-02-01 19:40] JonPSmith commented on #7509
Hi @ajcvickers,

Thanks for a really excellent and helpful comment. Yes, my comment that is was "a bit heavy" was about extra code needed for transactions. I *think* I might personally use that, but for the examples I am producing for others then it's a bit heavy.

Thanks for the feedback on #7340. It's helpful as I am writing examples and I can avoid/warn people about this.

Thanks again.

[2017-02-01 19:45] rowanmiller commented on #7521
**EF Team Triage:** We are not planning to fix this issue because the pre-release `project.json`/`xproj` project system is being replaced by an MSBuild based system for .NET Core projects. Our approach with `project.json`/`xproj` issues is to find workarounds, rather than spending time fixing issues for a tooling system that will never reach RTM. This allows us to focus our efforts on stabilizing

[2017-02-01 19:55] JonPSmith commented on #7510
Hi @ajcvickers,

Well, another learning experience. I hadn't got into the `.MetaData` part of setting up properties - thanks for pointing that out! I need to pull that into my examples.

Yes, when I added the `...Metadata.IsReadOnlyAfterSave = false;` to my Fluent API my unit test (with `HasPromotion = true,` added) worked. Previously, because it was read only, setting it didn't work.

I have upda

[2017-02-01 21:40] smitpatel opened #7525 "Distinct followed by other operations can give rise to incorrect SQL"
SQL generated by following tests is invalid and throws exception.
There can be more variations which may fail too.

[code]

[2017-02-01 22:25] ajcvickers opened #7527 "Avoid reference counting for open and close in SQLite provider"
RelationalConnection has logic to allow consumers of the service to call open/close without having to worry about whether the connection is actually being opened or closed. SqliteRelationalConnection duplicates this code, which is fragile in that updates to the specifics in the base class might not make it into the provider class.

[2017-02-01 22:34] ajcvickers commented on #7278
Closing this as a dupe of #6968, which is fixed. This probably requires some explanation. What is happening here is that the connection count was being thrown off by the extra call to Close. This in turn meant that after the first delete all future deletes were being done without the pragma to turn on FKs, which meant that SQLite did not perform cascades. Also see #7527.

[2017-02-01 22:37] #7527 closed

[2017-02-01 23:16] borisdj opened #7529 "Reverse engineering (Scaffold) Precision for Decimal Type not working"
When doing reverse engineering (Scaffold-DbContext) from database to EF Entities, decimal columns do not get precision.
So for columns that have other then default(18, 2) precision, lets say (20, 4) model will not be correct and if database would be recreated from that model the precision would be changed to default.

### Steps to reproduce
This is column in database

And this is created
[code]
An

[2017-02-01 23:20] ajcvickers commented on #7529
This is being tracked by #5410

[2017-02-01 23:24] bricelam commented on #7521
As a workaround, you could try using `dotnet ef migrations add` instead. The CLI commands tend to work better with `project.json`.

[2017-02-01 23:36] bricelam commented on #7504
Another possible workaround: Close Package Manager Console before restarting Visual Studio.

[2017-02-01 23:46] borisdj opened #7530 "FK DeleteBehavior missing Enum values"
`enum DeleteBehavior` in FluentAPI has 3 values
- Restrict
- SetNull
- Cascade

While in Migration it is mapped to `enum ReferentialAction` which has 5 values
- NoAction
- Restrict
- Cascade
- SetNull
- SetDefault

Shouldn't they have same values, or even to have only one Enum for both usage?

Since this is about FKs I will use it to ask one more question here .
In EF core default behavior for [Fo

[2017-02-02 00:18] smitpatel opened #7531 "Test: Concurrency issue in Can_use_self_referencing_overlapping_FK_PK"
Disabled test Can_use_self_referencing_overlapping_FK_PK
stacktrace
[code]

[2017-02-02 01:36] #7512 closed

[2017-02-02 02:02] agonzalezm opened #7532 "Xamarin: CentOS 'Invalid IL code' during query"
My service application crash few seconds after starting, this has been working fine for some time but now it crashing only change i did is about inheritance i think. any idea ?

### Further technical details
EF Core version:  1.1
Database Provider: npgsql
Operating system: centos6 + mono 4.4.2
IDE: Visual Studio 2015

[code]

[2017-02-02 05:48] Ettery opened #7533 "Inheritance problem with DbContext subclasses requiring constructor to supply DbContextOptions<DerivedContext>"
I am building web APIs in ASP.NET Core 1.1.

I have a number different databases (for different systems) which have common base schemas for configuration items such as Configuration, Users and groups (about 25 tables in all). I am trying to avoid duplicating the quite extensive EF model configuration for the shared part of the model by inheriting from a base class.

         InvestContext     Batc

[2017-02-02 06:17] bricelam commented on #7530
The Fluent API is about how EF handles relationships between loaded entities when a principal end is deleted. The Migrations API is about how the database handles foreign key columns when the referenced row is deleted.

NoAction typically means Restrict in most databases (except SQLite where it means literally take no action and leave the data in an inconsistent state). SetDefault is typically use

[2017-02-02 06:27] subprime commented on #7462
@rowanmiller

 Can you in short explain how to get this information with EF. Thanks

[2017-02-02 07:20] VahidN opened #7534 "PDF version of the documentation"
Is there any PDF version of the new [EF Core Docs](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/)? ASP.NET Core and .NET Core Docs have PDF versions too.

[2017-02-02 07:20] YehudahA commented on #2341
@tuespetre, A lot of success! Many guys are waiting for it.

[2017-02-02 07:40] borisdj commented on #7530
All right.

Could you give some info about second question, regarding [ForeignKey]  and Index by default ?

[2017-02-02 07:45] ErikEJ commented on #7532
I am not sure mono is a supported platform. See https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features

[2017-02-02 07:48] ErikEJ commented on #7462
@subprime  Create/map an entity to hold the data, and use EF to query for that data. (remove it manually from scaffolded migrations)

[2017-02-02 07:54] borisdj commented on #7530
And one more thing, I don't see `OnUpdate `method in _FluentAPI_, and there is `onUpdate `in Migration.
Is it not implemented yet or?
And should I create new issue or it is already on task list?

[2017-02-02 10:22] Thenuwara commented on #7207
IQueryable<Employee> employees =*******************
List<DTO> result = (from emp in empoyees*******
                                      *****
                                   select new DTO(){
                                           Id **= _emp.Object ==null? 0: emp.Object.Attribute_** //int value

i had Exception Like This -------------------------------------------------------------------

[2017-02-02 11:49] dvdobrovolskiy commented on #7456
Sure

https://1drv.ms/u/s!AvdtTGXIWO4bicV9o8lUgutbBX57aw

just added new field to StudyHistory and
PM> add-migration comment2
gives me empty migration

dotnet ef migrations add comment3
from cmd executed straight after generates normal migration with new field

[2017-02-02 14:07] ivanut opened #7535 "SQL Server Migrations: AlterColumn tries to drop non-existing index"
Hi,

I have the exact same problem as described in https://github.com/aspnet/EntityFramework/issues/7396, when upgrading from "IdentityServer4.EntityFramework": "1.0.0-rc1-update1" to "IdentityServer4.EntityFramework": "1.0.0". I already have a database built on the RC version, and I am now trying to upgrade to version 1.0.0. This is a context defined by the IdentityServer team, so I am just doing

[2017-02-02 14:09] roji opened #7536 "Two model classes in the same hierarchy with identical field names causes exception"
Using EF Core 1.1.0, there seems to be an error with two classes included in a model with an inheritance relationship, and which both contain fields with the same name:

[code]

Trying to use this model in any way triggers the following exception:

[code]

The exception gets thrown [from this line](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore/Metadata/Conven

[2017-02-02 14:09] agonzalezm commented on #7532
What I read is: "EF Core is built to work on Xamarin when support for .NET Standard is enabled in Xamarin."

And that support is enabled as per this blog:
https://blog.xamarin.com/net-standard-library-support-for-xamarin/

[2017-02-02 14:10] roji commented on #7536
/cc @damageboy

[2017-02-02 14:13] ivanut commented on #7535
Hi,

One more comment here. As part of the upgrade, I also upgraded from .NET core 1.0 to .NET core 1.1, and also from ef core 1.0 to ef.core 1.1. So the initial migration based on the RC version was .NET core 1.0.

Best regards,
Ivan Uthus

[2017-02-02 15:04] bricelam commented on #7530
Re OnUpdate: It doesn't make a lot of sense in the Fluent API because you can't update keys using EF.

[2017-02-02 15:04] bricelam commented on #7530
@AndriySvyryd may know how to remove the index.

[2017-02-02 15:34] dermeister0 opened #7537 "Question: style guide for abbreviations"
I noticed that EntityFramework does not follow the Microsoft guideline:
[Capitalization Conventions](https://msdn.microsoft.com/en-us/library/ms229043(v=vs.110).aspx)

DbSet, DbContext should be written as DBSet, DBContext. Examples: [IDataRecord.IsDBNull](https://msdn.microsoft.com/en-us/library/system.data.idatarecord.isdbnull(v=vs.110).aspx), [System.DBNull](https://msdn.microsoft.com/en-us/lib

[2017-02-02 15:57] damageboy commented on #7536
Right, as this issue originally happened to me, code contract's adds a compiler/rewriter generated member:
$evaluatingInvariant$ of type bool...

[2017-02-02 17:34] ajcvickers commented on #7533
Note for triage: we should update the check to allow TContext to be a type that is derived from the current context type.

[2017-02-02 18:19] ajcvickers commented on #7537
@dermeister0 We try to select the best names we can based on:
- Historical context--how similar and related classes have been named in the past
- Communicating the semantics and use of the type
- Style guidelines
- .NET community conventions (which can be different from Microsoft style guidelines)
- Some hard-to-quantify element of what is aesthetically pleasing

The primary reason DbContext got t

[2017-02-02 18:45] kimwandev commented on #2866
<img width="459" alt="screen shot 2017-02-03 at 2 44 53 am" src="https://cloud.githubusercontent.com/assets/16009196/22563240/c92f31c6-e9ba-11e6-9723-f70d94c8ac8e.png">

[2017-02-02 18:59] rowanmiller commented on #2866
I think the exception message tells you everything you need to know 😄...

So here is what your configuration code would look like...

[code]

[2017-02-02 19:07] benchmatebob commented on #7504
Brice – I have moved from EntityFramework and have successfully tested SQLite using SQLitePCL.  I do not plan to work with EntityFramework.

Thanks for your help,

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27D44.8CE2D610]<http://www.benchmate.com/>  [cid:image005.jpg@01D

[2017-02-02 19:08] AndriySvyryd commented on #7530
@borisdj The easiest way is to do the following at the end of `OnModelCreating`:
[code]

[2017-02-02 19:12] rowanmiller commented on #7532
Thanks for reporting this, we will investigate. Now that Xamarin supports .NET Standard, you can install our packages and use them. We have a call out to the community to help us verify what works and what doesn't (see https://github.com/aspnet/EntityFramework/issues/4269#issuecomment-262601338).

This is the third issue we've had reported (so far one on Android and one on iOS), and the Xamarin te

[2017-02-02 19:14] divega commented on #7531
Similar stack trace coming from:

`ChangeTrackerTest.Shadow_properties_are_not_included_in_update_unless_value_explicitly_set`
System.InvalidOperationException : Sequence contains no elements
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source)
   at lambda_method(Closure , QueryContext )
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.<>c__DisplayClass17_0`1.<Compil

[2017-02-02 19:46] bricelam commented on #7504
FYI (for you and any others reading this issue), Migrations can be bypassed by calling `db.Database.EnsureCreated()` to create the schema. You can also manually create the database outside of EF and connect to it using a model with matching table and column names.

If you ever want to drop down to raw SQL with EF, you can use `ExecuteSqlCommand`.

[code]

[2017-02-02 19:47] natemcmaster opened #7538 "Upgrade to VS 2017"
Tracking issue

cc @bricelam

[2017-02-02 19:51] rowanmiller commented on #4456
@emardini EF6 has a simpler mechanism for returning generated values, as it doesn't do batching. We don't think it suffers from the same issues with triggers. Have you hit a specific issue? It's unlikely we'd change things like this in EF6 - as they are typically high risk.

[2017-02-02 19:58] benchmatebob commented on #7504
Thanks Brice.

Bob Nichols
Benchmate Systems, Inc.
(360) 678-8358
bobn@benchmate.com<mailto:bobn@benchmate.com>
http://www.benchmate.com<http://www.benchmate.com/>

[cid:image004.jpg@01D27D4B.B7840EF0]<http://www.benchmate.com/>  [cid:image005.jpg@01D27D4B.B7840EF0] <https://twitter.com/@BenchmateCMMS>  [cid:image006.jpg@01D27D4B.B7840EF0] <http://www.linkedin.com/pub/bob-nichols/34/a66/b62>

From

[2017-02-02 20:02] dealdiane opened #7539 "Unnecessary discriminator column generated"
Suppose we have this model:

[code]

and is configured like this:

[code]

Running migrations will produce this:

[code]

Notice the Discriminator column in the `ExtendedCart` table. I'm ignoring the `Cart` type and `Cart` property of the `CartItem` type. The `Cart` type is referenced nowhere. Do we really still need a discriminator column here?

This used to work fine without the need for a discr

[2017-02-02 20:23] borisdj commented on #7530
Thanks, that's what I was looking.

Btw could you alse give me answer to this question:
With EfCore how can you insert null value to nullable column that has default value?
More details here:
[http://stackoverflow.com/questions/41969303/ef-core-insert-null-value-to-nullable-column-that-has-default-value](http://stackoverflow.com/questions/41969303/ef-core-insert-null-value-to-nullable-column-that-

[2017-02-02 21:14] rowanmiller opened #7540 "PMC Tools: Error when project opened from a file share"
Moved from https://github.com/aspnet/EntityFramework.Docs/issues/346
cc @Klipi

I'm following the tutorial here: https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/new-db up to the point where I need to run the first migration:

[code]

I'm running Visual Studio 2017 RC3 under a Win10 VM in Parallels, so that might be the cause of some issues. However I have no idea on how to start to

[2017-02-02 21:15] Klipi commented on #7540
Copying this over from the documentation side

[code]
I'll try to redo the tutorial under C:\ and see what happens. Not sure if anything else is breaking, been away from Windows and VS for a couple of years. A quick HelloWorld-type web app works nicely and I was even able to publish it to Azure without a hitch. Trying to add the database layer (and EF along it) is the first I'm running into troubl

[2017-02-02 21:21] Klipi commented on #7540
@bricelam, No issue running under C:\

[2017-02-02 21:26] bricelam commented on #7540
Groovy. I suspect this is the root of our problems:

    PS> Split-Path \\mac\home -IsAbsolute
    False

[2017-02-02 21:36] jcramer opened #7541 "Migration files include unnecessary using statements"
I am using a module based pattern similar to the [SimplCommerce project](https://github.com/simplcommerce).  Myself and the maintainer of the SimplCommerce project have both noticed that migrations generate files with unnecessary `using` statements.  In the case of a project like SimplCommerce, which uses a module loading pattern at runtime and therefore does not have references at compile time, e

[2017-02-02 22:11] smitpatel commented on #7531
Offensive commit is probably 1402bf6e6c5ade887bd45b55c57bf330d495f14f
I ran EFCore.Tests in loop of 20. A commit before that it all passes. With above commit included, the test fails at least once in iteration.

[2017-02-02 23:44] rowanmiller commented on #2229
@SamNasr this is the right place to monitor the issue. No updates as yet, this isn't planned for our next release (2.0)

[2017-02-03 00:01] liamdawson commented on #4490
@multiarc any chance that could be made as a transformation to EF Core includes statements? I'm thinking about looking into that particular line of enquiry myself.

[2017-02-03 00:11] #6996 closed

[2017-02-03 01:23] rpedretti commented on #1368
Guys, I'm having some thoughts  about the way I'm getting data from a many-to-many relationship.

Given the classes

`public sealed class Rule: BaseDomain
{
        [Required]
        public string Description { get; set; }

        [Required]
        public int Mixture{ get; set; }

        [Required]
        public int SideDish { get; set; }

        [Required]
        public int Drink{ get; set

[2017-02-03 02:02] rpedretti commented on #1368
Guys, I'm having some thoughts  about the way I'm getting data from a many-to-many relationship. Could not find some examples besides de Blog/Post.

Given the classes

[code]

On My Db Context I have configured the relation:

[code]
The Menu class has the ICollection for Db storage and a List of dish to be returned by a web api, since the user don't need to know how i persist data. So, at my MenuD

[2017-02-03 04:32] dermeister0 commented on #7537
Thanks for your answer.

We have a utility library for EntityFramework. It's called Company.Tools.Ef6.dll and has classes EfSession, EfSessionFactory. EfUnitOfWork, etc.

Do you think it would be better to use EFUnitOfWork, EFRepository style to be consistent with EntityFramework naming?

[2017-02-03 06:56] divega commented on #7537
Even within our team there isn't full agreement on this, but personally I am used to "EF" for the initials in "Entity Framework", which I think happens to align unambiguously with the original .NET Framework guidelines that rule the majority of the type names in .NET. For what is worth,  "Db" as a prefix works for me because I tend to think about it as the super common abbreviation of a single com

[2017-02-03 07:40] dermeister0 commented on #7537
Got it. **Db** word may be part of the [Capitalizing Compound Words and Common Terms](https://msdn.microsoft.com/en-us/library/ms229043(v=vs.110).aspx) table, it makes everything consistent.

[2017-02-03 08:35] isukces commented on #7530
So based on arguments above ReferentialAction.NoAction should be removed at all because is useless (SQLite) or redundant (other dbs). OnUpdate is not supported becuase there is no scenario for it. The same situation is with ReferentialAction.NoAction.

What about real live scenatio that uses SetDefault?. Usually when creating database with tables and foreign keys we don't know ID of record that ca

[2017-02-03 08:51] damienbod opened #7544 "migrations probem with context from separate project"
The migrations are not working with the current msbuild3 build and context from a separate project

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Use this src:
https://github.com/damienbod/AspNet5FileUploadFileTable

dotnet restore
dotnet build
dotnet ef migrations add test
[code]

### Further technical details
EF Cor

[2017-02-03 09:27] dc-m commented on #5734
I am getting this issue on 1.1.0 exact same code style as originally posted and same error.

[2017-02-03 10:44] roji commented on #6563
This is still not fixed. The Npgsql provider, which uses `TypedRelationalValueBufferFactoryFactory`, fails on `Bad_data_error_handling_invalid_cast_no_tracking` and `Bad_data_error_handling_invalid_cast`. Once I change Npgsql to use `UntypedRelationalValueBufferFactoryFactory` the tests pass.

[2017-02-03 11:57] JonPSmith opened #7546 "async with certain select query fails with "Incorrect number of arguments""
I have a query that works synchronously, i.e. with `.ToList()`, but when I run it as async, i.e. with `.ToListAsync()`, then it fails.

I have narrowed down the problem to a combination of accesses that made the query fail - see attached unit test.

Sorry, but this one is a bit of killer for me. I have written four chapters based around this database and this main query and now, when I am writing

[2017-02-03 12:19] RehanSaeed opened #7547 "How to Only Run Migrations if Using SQL Server and not SqlLite/In-Memory"
I'm using Entity Framework Core using SQL Server with migrations. I am also using the In-Memory and SQL-Lite In-Memory database connections in my integration tests. I use the code below to migrate my database at app startup so it has no performance impact.

How can I only run migrations when I am using a SQL Server connection? I have found the method below but that is using reflection. I can't see

[2017-02-03 13:14] ole1986 opened #7548 "Query: Translating Date using ".Contains" / EF 1.1.0"
Using an IEnumarable of DateTime.Date will not properly translated:

Example:

[code]

Will be translated without "Where" condition

[code]

### Workaround

A possible workaround (but of course not the best) is the following:

[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2015

[2017-02-03 13:56] tuespetre commented on #2341
#7543

[2017-02-03 13:56] tuespetre commented on #5230
Pretty sure I covered this in #7543

[2017-02-03 13:59] tuespetre commented on #6647
#7543 covers this.

[2017-02-03 13:59] nshanb commented on #2272
SSDT team says there are no plans to "Ignore column order" in schema compare or dacpac publish
EFCore team is wondering: "Why do you need it?" and stating that there are no plans to ...
as for now, scafold-ing a DB into context and then recreating a new db from the context (whitout ad hoc coding) results in a different schema

[2017-02-03 14:03] tuespetre commented on #2927
I think this covers it: https://github.com/aspnet/EntityFramework/pull/7543/files?diff=split#diff-2602188597986ba3e53c5b56162786d2L514

[2017-02-03 14:24] KANekT opened #7549 "Dictinct not working for custom select"
Dictinct not add in SQL

For query:
[code]
I have DISTINCT in SQL:
[code]
BUT for query
[code]
not DISTINCT in SQL:
[code]
Why not add Distinct?

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2015

[2017-02-03 14:42] tuespetre commented on #7549
Your second query is asking for the distinct entries out of the first ten entries. For some reason EF executes this last `Distinct()` at the client.

Your first query is asking for the distinct entries out of the first ten **distinct** entries. Notice that EF *does* apply the *first* `Distinct()` in SQL but the *last* `Distinct()` is still evaluated client-side. So just because you see the `DISTIN

[2017-02-03 14:46] kimwandev commented on #2866
@rowanmiller Thank you so much for pointing that out. I have tested it and it worked like a charm. I am going to my eye doctor after my shift and get a pair of glasses so that I can read the exceptions carefully next time 😄

Again, Thanks for your help!

Regards,
Kimwan Ogot

[2017-02-03 15:12] jemiller0 commented on #2272
I don't see why this can't at least be done at least for EnsureCreated() if you have Column(Order) attributes specified. It seems like a glaring omission to me. Especially, considering you have an attribute defined for just this purpose.

[2017-02-03 15:14] langdonx commented on #2341
@tuespetre Excellent, very exciting! Can you elaborate on `Complex GroupBy keys` still needing to be covered?

Does this mean the first will happen on the database, but the second will still happen in code after selecting the necessary records?

[code]

[code]

[2017-02-03 15:24] tuespetre commented on #2341
@langdonx something like that, I've already got the right `GROUP BY` statement generating for that case, but I think the projection currently won't work. I'm pretty sure of what needs to be done, I just need to go back in and write the tests and so forth now (simple keys, single-level complex keys, multi-level complex keys, keys with functions, keys with binary expressions, keys with coalesce, etc

[2017-02-03 17:16] ajcvickers commented on #5734
@dc-m Please open a new issue and include a project or the code needed to reproduce what you are seeing.

[2017-02-03 17:27] ajcvickers commented on #1368
@rpedretti ThenInclude should work:
[code]
If you are using Visual Studio, then there is a bug that makes intellisense show the wrong thing. See #4117 You may want to provide feedback on the Roslyn bug tracking this: https://github.com/dotnet/roslyn/issues/8237

[2017-02-03 18:04] rowanmiller commented on #2272
@jemiller0 it absolutely can, the proposal described at the top is what we intend to implement. It's just a matter of priority and order that we implement the many things on the backlog. BTW if you are using migrations, you can just manually reorder the column order in the scaffolded migration.

[2017-02-03 18:07] rowanmiller commented on #2272
@nshanb

We do plan to add it, it's just one of many items on our backlog.

[2017-02-03 18:10] rowanmiller commented on #7547
You can do this...

[code]

[2017-02-03 18:10] rowanmiller commented on #7547
`GetService<TService>()` is an extension method that gives you access to all the underlying services that EF is using.

[2017-02-03 19:24] maumar commented on #7476
fixed in c8d984e5b327a2fd57ca9f17f1a6015abc7d4953

[2017-02-03 19:32] maumar commented on #7546
duplicate of https://github.com/aspnet/EntityFramework/issues/6534 fix is already in and will be available in the next release (1.1.1)

[2017-02-03 20:34] bricelam commented on #7547
A couple alternatives:

[code]

[code]

[2017-02-03 20:42] ajcvickers commented on #7343
@codearoo I have not been able to reproduce this leak in either D.I. or EF. Can you please create a repro project that demonstrates the issue?

[2017-02-03 20:45] maumar commented on #7548
Still repros in current bits. Problem is in SqlTranslatingExpressionVisitor -> VisitSubquery:

[code]

when trying to create InExpression we expect operand to be an AliasExpression and what we get instead is `"CONVERT"("Date, p.Created")`

[2017-02-03 20:49] #7531 closed

[2017-02-03 20:59] smitpatel commented on #7549
The first query is having 2 `Distinct()`. The first `Distinct()` happens after where clause (and before select) which means you want distinct of all columns and it is translated to server. Since projection is different and is applied after Distinct, EF causes it to have a subquery containing Distinct. Since in the second query there is no Distinct before projection, it doesn't require subquery.
In

[2017-02-03 21:19] codearoo commented on #7343
Yes I can.. I just have been really busy and moved on with a work around not using the DI, but still using the EF Context. Somehow it clearly makes the difference when I do not use the DI as a Transient scope. But I'll try to make some time this weekend to write up a test case.

[2017-02-03 22:08] tuespetre commented on #7234
I think I may have addressed this at least somewhat with #7543:

https://github.com/aspnet/EntityFramework/pull/7543/files#diff-2c68636402e93e86a3d0108bbd4ba1ddR2131

[2017-02-03 22:10] smitpatel commented on #7234
@tuespetre - If you think the PR resolves this thing then can you please add a test case.

[2017-02-03 22:11] BryantAvey commented on #7152
Just an FYI: I've been able to get tooling to work by downgrading the version in NuGet to 1.1.0-msbuild3-final, and then immediately updating it back to 1.1.0-preview4-final. Then rerun Add-Migration and gens the migration within a Xamarin Forms netstandard project.

[2017-02-03 22:16] tuespetre commented on #7234
@smitpatel the linked spot in the diff shows two applicable tests, looks like they would need to be renamed

[2017-02-04 03:19] maumar commented on #7290
Fixed in c99151d2b27d8ffc2cfed7d27eb099c399fcbdcf

[2017-02-04 03:24] breyed commented on #7291
I think there's still a bug here in that EF sometimes assumes there is a foreign key property that doesn't really exist. In practice, I see it in a database-first scenario where SQL Server complains about an EF query containing a column that doesn't exist. The false column name is a concatenation of a navigation property and a key column.

I don't have a simple repro for the real-world case. Fortu

[2017-02-04 06:01] smitpatel commented on #7291
The given model is ambiguous. It doesn't specify which side is principal end. And `ForeignKey` attribute fails to resolve the ambiguity. Though exception message can be improved.

[2017-02-04 14:03] sjb-sjb commented on #1948
A simple approach that would add a lot of value would be to extend Find so that it can use an alternate key (unique secondary key, foreign key). Currently Find can only take key field values for the primary key. However, in many cases the primary key is a meaningless integer; what we really want to do is Find on a unique user-understandable string that is a unique secondary key.

For example, cons

[2017-02-04 14:57] breyed commented on #7291
The same error occurs even if I specify the principle end using the Fluent API:

    builder.Entity<DogEx>().HasOne(e => e.Dog).WithOne(e => e.DogEx)
        .HasForeignKey<DogEx>(e => e.Id)
        .HasPrincipalKey<Dog>(e => e.Id);

However, if I use only the Fluent API and remove the annotations on the model, then I don't get the error at initialization. Instead EF tries to use `DogId` in its ge

[2017-02-04 16:59] smitpatel commented on #7291
@breyed - It is ambiguous not just because of being one-to-one but also the property specified in FK attribute being present on both side. Whenever combination of `ForeignKeyAttribute` & `InverseProperty` causes ambiguous/incorrect model configuration, we throw exception because we don't know what to make out from those attribute. It cannot be overridden by fluent API, the attribute combination ne

[2017-02-05 00:39] markolbert opened #7556 "1.1 Tooling Not Compatible with Net46?"
I have an EF Core project which I recently upgraded to 1.1. Everything was working fine...until I tried to add a migration. Executing dotnet ef <whatever> on the command line now generates an error about not being able to find the ef module/program.

Digging into this a bit I discovered that there was a breaking change in the EF Core 1 -> 1.1 transition involving the tooling. In project.json you h

[2017-02-05 01:12] markolbert commented on #7556
After some further research I found another issue here which I >>think<< solved my problem.

The workaround involved downgrading to 1.0.0.-preview3-final tooling and then running dotnet restore. As well as moving the references to the tooling assemblies from under "dependencies" to under "tooling" (not sure why I had them under dependencies).

Is this still the best workaround at this point?

[2017-02-05 02:36] leolorenzoluis commented on #7358
For some reason, when running `dotnet ef database update 0` it gives me the ff error:

[code]

[2017-02-05 02:56] leolorenzoluis opened #7557 "Can't run dotnet ef migration add"
Running `dotnet ef migration add` causes error

[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win 10
IDE: VS 2017

[2017-02-05 07:21] shaulbehr commented on #7290
Great, thanks!  Any idea when 1.1.1 will be released?

[2017-02-05 11:39] KANekT commented on #7549
@smitpatel ok! Wait 2.0.0 version...

[2017-02-05 12:27] bjcull commented on #7061
FYI, for anyone else waiting for this to be released, you can get around it with a good ol' fashioned hack:

    a.ServiceEquipment.IsDeleted == (bool?)false

[2017-02-05 21:10] jonghshin opened #7558 "Unable to cast object of type 'System.Int32' to type 'System.Int64'."
DB first entity framework core throws this exception when SaveChanges();

[code]

[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2015

[2017-02-06 10:25] azabluda opened #7559 "Incomplete support of NullConditionalExpression in ExpressionEqualityComparer"
Since https://github.com/aspnet/EntityFramework/commit/c9b5916a4e0fff763febea00da793ebd4113632d#diff-5cd571c8981e88fd1f098652b72cf947R254 `ExpressionEqualityComparer` computes hash for `NullConditionalExpression` but still doesn't implement the comparison which leads to an exception.

[code]

### Steps to reproduce

Execute the query from the standard `Null_conditional_simple` test twice
[code]

#

[2017-02-06 18:30] rodchenkov commented on #7010
Does this fix avaliable in 1.1 version? Or at any version that I can use with build and run xunit tests.

[2017-02-06 18:34] AndriySvyryd commented on #7010
@rodchenkov The fix will be available in 1.1.1

[2017-02-06 18:46] rodchenkov commented on #7010
@AndriySvyryd thank you!

Do you know when it will be avaliable?

[2017-02-06 19:01] AndriySvyryd commented on #7010
@rodchenkov Soon™️. Most likely in this month.

[2017-02-06 20:02] tuespetre commented on #5230
Scratch that ❌ I did not cover this

[2017-02-06 20:33] punkouter commented on #7276
Yes. Just found this. So I guess I need to manually run the script on the azure db using Script-Migration until it works ?

[2017-02-06 20:50] Eilon commented on #7010
Yep, what @AndriySvyryd said. Should be Feb.

[2017-02-06 21:10] karim007 commented on #7053
@jayslife Thank you very much !

[2017-02-06 21:12] #7377 closed

[2017-02-06 21:58] chadwackerman commented on #7276
Bug status:

- no one assigned
- closed for no reason
- nobody responding

Further evidence that attempting projects of this scale on GitHub does not work well. Without exception every Microsoft bug I stumble upon is mismanaged. @rowanmiller

[2017-02-06 22:00] jemiller0 commented on #7429
I'm going to try the rest of the UPDATE STATISTICS related commands shortly.

I tried testing the query using the ESCAPE clause just for the heck of it. I found that performance when doing it that way is by far the worst. I ran it twice and both times it took 1 minute 17 seconds. Seems like it must be causing it to do a table scan or something.

`WHERE [b].[updated_by] LIKE N'jemiller' + N'%' ESCA

[2017-02-06 22:03] jemiller0 commented on #7429
One other thing I was thinking of. Couldn't you just apply the StartsWith() filter in C# as the rows are being streamed into RAM (in addition to just doing a LIKE by itself)? I know it wouldn't be ideal. Just a thought.

[2017-02-06 22:31] roji commented on #7429
@jemiller0, reading [your comment above](https://github.com/aspnet/EntityFramework/issues/7429#issuecomment-273574330), can you please elaborate on "PostgreSQL doesn't address the issue" (I'm the Npgsql maintainer)? I'm asking because I'm currently working on fixing https://github.com/aspnet/entityframework/issues/474 for PostgreSQL as well.

[2017-02-06 22:33] roji commented on #7429
Sorry I'm guessing you mean there's no double-check (i.e. LIKE *and* a CHARINDEX-equivalent)

[2017-02-06 22:35] jemiller0 commented on #7429
Yeah, I think it doesn't use CHARINDEX() if I remember correctly.

[2017-02-06 23:07] breyed opened #7560 "Server-side evaluation fails if query modifiers precede condition"
The warning RelationalEventId.QueryClientEvaluationWarning is issued if `Include` precedes a condition when queries are chained. Code like this will trigger the warning:

    IQueryable<Customer> subQuery = ...
    var query = subQuery.AsTracking().Include(...).Single(condition)

By contrast, code like this does not:

    IQueryable<Customer> subQuery = ...
    var query = subQuery.Where(condition

[2017-02-06 23:15] smitpatel commented on #7560
Can you post the warning text also?

[2017-02-06 23:26] roji commented on #7429
I'll be introducing that soon.

[2017-02-06 23:44] breyed opened #7561 "Option to only use explicitly specified columns"
It would be helpful to be able to tell EF never to assume there are any columns on the database that I didn't explicitly put in my code first model. This can make troubleshooting much easier.

For example, I had a situation where I misconfigured a one-to-one relationship by forgetting to include calls to `HasForeignKey` and `HasPrincipalKey` in the Fluent API. Here's what I was supposed to do:

	c

[2017-02-06 23:47] breyed commented on #7291
I'm pretty sure now that the issues with EF trying to use nonexistent columns were due to `HasForeignKey` and `HasPrincipalKey` not being specified. Thanks for the help. Based on my experience, I added #7561 as a feature request to help with troubleshooting these kinds of problems.

[2017-02-07 00:20] divega commented on #7276
@chadwackerman this was intentionally closed as external because it is not an EF Core issue but a tooling issue and the original poster pointed out it was already for in the known issue list at https://github.com/aspnet/Tooling/blob/master/known-issues-vs2017.md#migrations-not-applied-during-publish.

Thanks for letting us know that it still repros. I will move it to the right repository.

[2017-02-07 00:23] divega commented on #7276
This issue was moved to aspnet/Tooling#988

[2017-02-07 01:38] jonghshin commented on #7558
t was my mistake.. When I first created the table, productNo was bigint and I created the model based on that table. After that somehow (it must be me...) productNo changed to int. It is working just fine after changing productNo back to bigint

[2017-02-07 05:17] stg609 commented on #7454
Thanks very much!

[2017-02-07 05:51] HamedFathi opened #7562 "Run EF .NET Core CLI commands from outside of a project"
I want to run
**dotnet ef dbcontext scaffold [arguments] [options]**
from outside of a project.

now I must create *just* **Console Application** and run the commands inside it !

I want to use any ef commands from other C# applications with **System.Diagnostics.Process.Start()**.

This is too important for me, Is this possible ? anyway ?

[code]
I have a class library with above code, I want to u

[2017-02-07 06:15] cesarromero opened #7563 "Not getting scaffolding work in a non local DB"
Hi
I not sure if is something to be with the non local DB the only thing created is the dbcontext and a bunch of commented error for every table I have in my DB

[code]
At the end Any of my tables are scaffolded and the only warning I get is the normal

`#warning To protect potentially sensitive information in your connection string, you should move it out of source code. See http://go.microsoft.c

[2017-02-07 06:19] divega opened #7564 "Scaffolding: Consider generating classes that are JSON serialization-friendly"
This matter seems confusing to many customers and has come up as EF Core issues multiple times, e.g. in #3818, #6684, #5429, #4646 and #1854 as well as in VS feedback.

It is clearly a bug in the application code (as opposed to an issue with EF Core) if the user provides entity types that contain cycles and then attempts operations that require serialize them.

However in scenarios in which EF Cor

[2017-02-07 06:52] sm-g opened #7565 "Change tracking of entity, selected with conditional expression"
Why ChangeTracker ignores changes of entity seleted this way?

[code]
### Further technical details
Database Provider: ("Pomelo.EntityFrameworkCore.MySql": "1.1.0")

[2017-02-07 08:32] rodchenkov commented on #7010
@AndriySvyryd  @Eilon  Thank you!

[2017-02-07 09:34] maumar commented on #7290
We don't have exact dates yet, but most likely sometime this month

[2017-02-07 10:21] Ettery commented on #7533
@ajcvickers that seems like a good solution, thanks.  In the meantime, do you know whether my workaround of building a new DbContextOptions of the type required by the base class an acceptable way to use inheritance for now, or it is likely to cause problems?

[2017-02-07 13:45] rpedretti commented on #1368
Thank @ajcvickers, things are very smooth now!

[2017-02-07 14:31] roji commented on #474
I know this has been closed for a while, am implementing the same for Npgsql and one point is unclear...

In the original description above, @divega mentions it's possible to "pivot" on the argument of `String.StartsWith()` and produce different translations based on whether it's opaque (comes from the store) or not. However, looking at the actual code in SqlServerStartsWithOptimizedTranslator, it

[2017-02-07 15:02] jemiller0 commented on #474
Personally, I think I like the idea of escaping the string like you did above better. However, I did a test on SQL Server using the ESCAPE clause of LIKE and it was really slow. I have no idea why. Maybe it's just a particular query/table that I have that is like that. I'm in favor of only adding the ESCAPE clause or call to CHAR_INDEX() if special characters are present. I would rather keep the S

[2017-02-07 16:19] ErikEJ opened #7566 "Repo description links to obsolete docs url"
Entity Framework Core is a lightweight and extensible version of the popular Entity Framework data access technology **https://docs.efproject.net**

[2017-02-07 16:51] roji commented on #474
@jemiller0 if the pattern happens to be a ConstantExpression, it's definitely possible to do the escaping in C# rather than SQL, but if it's a parameter or some DB column that's not possible. Note that the same is true for checking whether special characters are present - this is only possible with constant patterns. But for that case it definitely makes sense to me to escape things client-side (i

[2017-02-07 17:04] tuespetre commented on #7561
I agree with you, there is an existing enhancement issue here though: https://github.com/aspnet/EntityFramework/issues/1414

[2017-02-07 17:06] tuespetre commented on #7560
@breyed I wonder if this has more to do with the call to `Single(predicate)`. Does it work if you put `Where(predicate)` after the `AsTracking()` and `Include()` but before `Single()`?

[2017-02-07 17:47] threenine opened #7568 "EF Core Migrations not creating Identity Columns"
Using EF Core 1.1 with NetStandardLibrary 1.6.1

I have created a Model as
[code]

With a Base Entity of

[code]
I have defined my DBContext as

[code]
I then create a migration using add-migration  create

I see create script does indeed create a Table with an ID Column

[code]

Witha snapshot of

[code]

However when inspecting the Table with SQL Server whenever the Database is created.  The tab

[2017-02-07 17:53] ajcvickers commented on #7533
@Ettery I don't think that will cause problems.

[2017-02-07 18:05] ajcvickers commented on #7568
@threenine The code in OnConfiguring is causing the model to be built without any SQL Server or relational conventions. Is there some reason you don't use OnModelCreating in the normal way?

[2017-02-07 19:15] anpete opened #7569 "Navigations: Projected collection navigations tracking/fixup issues."
Given the following query:
[code]
we would expect the Orders to be tracked, but they are not.

Additionally, given this variation:
[code]
the Customer is tracked and its Orders collection is populated. But:
- The inverse nav-prop (Order.Customer) is null.
- The Orders are not being tracked.

[2017-02-07 19:29] roji commented on #474
Note: in PostgreSQL with the default index type (B-tree), it seems that LIKE (and regex matches) can be index-optimized only when the pattern is a literal. So I'm assuming doing `REPLACE()` (or `REGEXP_REPLACE()`) will not be good for performance. This is a good reason to do escaping in C# if the pattern is constant.

[2017-02-07 19:36] threenine commented on #7568
@ajcvickers  Oh Yes!!   that fixed it!  Doh!

I was working in something earlier on in the day!  Which I no longer need!
Obviously  forgot to remove it!  Sorry to trouble you!  That also explains why similar code I wrote a couple of weeks ago still works on another project!!

[2017-02-07 19:50] divega commented on #474
We ended up not implementing that in EF Core, although it was a possibility and not different from what we do in EF6, there are disadvantages, e.g. we would need to special case it in query caching. Sorry if that caused any confusion. We ended up implementing what I called the "hybrid translation", e.g.:

[code]

I am curious if this translation is sargable in PostgreSQL and if it isn't, why?

FWI

[2017-02-07 20:03] ajcvickers commented on #7568
No problem. Glad to help.

[2017-02-07 20:29] jemiller0 commented on #7429
Here's what I'm seeing. I attached screenshots for what the execution plan looks like for LIKE by itself, LIKE with ESCAPE, and LIKE with CHARINDEX() for SQL Server. LIKE by itself usually takes around 2 seconds, although it might be something like 10 seconds the first time through. LIKE with CHARINDEX() is usually around 11 seconds. LIKE with ESCAPE is the worst and usually takes around 1 minute

[2017-02-07 20:37] ErikEJ commented on #7429
Remove the ORDER BY...

[2017-02-07 20:46] divega commented on #474
@roji does that mean that it won't use the index even for the simple `LIKE prefix + '%' pattern? :hushed:

I am thinking more and more that we should implement proper LIKE support through a method as you described at #2850 rather than trying to optimize the translation of `String.StartsWith()` for every possible case.

[2017-02-07 21:27] roji commented on #474
@divega, could you elaborate a little bit on the sequence wrt query caching? What's especially confusing is that SqlServer's current StartsWith() translator already *does* pivot on the expression type (i.e. constant expression or not). I don't know anything about query caching (and would appreciate some info), but if the translator can produce different SQL based on the expression type, why not al

[2017-02-07 21:29] #7271 closed

[2017-02-07 21:54] divega commented on #474
@roji specifically we would need to "sniff" the value of the argument to `StartWith()` in SQL generation and caching if we tried to come up with a solution that produces different SQL depending on input data. It would be similar to how today we generate different SQL depending on whether a parameter value is null and then we need to take into account whether each parameter is null to find the righ

[2017-02-07 22:38] roji commented on #474
@divega,  I *think* I understand, but aren't you already generating different SQL for `StartsWith()` based on the value of the constant expression? If it's an empty string you seem to be generating the true constant, otherwise you generate a LIKE AND CHARINDEX expression (I hope I'm understanding things correctly).

The proposal here wouldn't be very far from what's already in SqlServer's current

[2017-02-07 23:05] jemiller0 commented on #7429
An ORDER BY of some kind is needed since I'm using paging and it's using OFFSET FETCH. I did notice that if I change the column that is being ordered by to the same column that is being filtered on, that the query returns immediately for all 3 types of filtering. It makes sense that it would have trouble filtering on one column and sorting on another, but, somehow it works fine when you only use L

[2017-02-07 23:32] divega commented on #474
@roji I think you are right regarding actual constants. And it should be ok to take their value into account to generate different SQL as long as we also consider their value when doing query cache lookups. What I had in mind is parameters, i.e. captured variables.

[2017-02-07 23:36] divega commented on #474
@roji and yes, arguably we could more than just skipping the comparison with empty string when we are processing `StartsWith()` for a constant.

cc @maumar @anpete

[2017-02-08 00:05] maumar commented on #474
We could have sniffing code for constant inputs to StartsWith but I would be very strongly against doing it for parameters also (bloating query cache and the overhead cost we would have to pay when comparing parameter values for EVERY query seems way to much of for the potential benefit). On the other hand I think direct Like function implementation could be a "good enough" solution.

[2017-02-08 00:45] breyed commented on #1414
Comparing the suggestion in this issue with that item #7561, it's worth clarifying that there are at least three levels of explicitness:

1. **Implicit columns**: Assumed presence of columns in the database even without matching properties in the POCOs. POCO property relationships assumed by convention.
2. **Explicit columns**: Database columns only correspond to POCO properties. POCO property rel

[2017-02-08 01:19] divega commented on #474
@maumar Well, I wasn't advocating for sniffing parameter values, but since you mentioned it: I assume you mean that things are not structured in a way that we can easily sniff only the parameters for `StartsWith()` calls and record whether they contains wildcard characters, and so we we would end up having to do it for all parameters on every query?

Re sniffing constants, as @roji mentioned, we a

[2017-02-08 02:11] wangpengxpy opened #7570 "EF Core cause problems by concurrency"
NO Description

[2017-02-08 02:25] maumar commented on #474
@divega yes, just how now we are looking at nullabilities of all parameters and not only the ones involved in null semantics-relevant operations.

[2017-02-08 03:18] breyed commented on #7560
IQueryable<Customer> subQuery =
        from c in Db.Customers
        where c.BranchId == branchId
        orderby c.LastName, c.FirstName
        select c;

[2017-02-08 06:47] jemiller0 commented on #474
I have a newbie question. I'm not even sure how you would use a parameter with EF. I'm writing LINQ queries. As far as I knew, EF always just converted the LINQ queries to SQL queries with constants. However, the queries in my examples were generated using Dynamic LINQ. So, maybe that has something to do with it. I'm using Telerik's RadGrid UI component for ASP.NET Web Forms which generates the WH

[2017-02-08 06:52] maumar commented on #474
@jemiller0 in general you can force parameters into your queries by using variables in your query, e.g.

[code]

[2017-02-08 07:03] jemiller0 commented on #474
@maumar Thanks. I just tested it and see what you mean. I didn't realize that's how it worked. Does EF Core use server-side prepared statements for these? As far as I know EF 6 didn't, at least for INSERT/UPDATE statements and I always wished it did because I think it would have improved performance.

[2017-02-08 07:04] divega commented on #474
What @maumar said. The general rule is that variables that get captured in lambda expressions are translated as parameters. `Skip()` and `Take()` are an exception because their arguments are not lambda expressions but they get parameterized anyway.

Thanks for the data point that Telerik's component generate arguments as constants.

[2017-02-08 07:05] divega commented on #474
EF6 uses a similar set of rules.

[2017-02-08 07:13] jemiller0 commented on #474
I had to do create a function to clean up the Dynamic LINQ strings that Telerik produces. By default they appeared to be more geared towards LINQ to Objects. I had to clean them up a bunch so that they would get translated into something more reasonable that would work better for use with EF. Since it's using Dynamic LINQ, I'm not sure how I would tell it to use parameters if I wanted to. Note, I'

[2017-02-08 09:20] Ettery commented on #7533
@ajcvickers -  Hmmm, digging into the EF code, it looks like the ContextType of the DbContextOptions may be used in ContextPooling and other services?  And if it's not being used, why is EF enforcing it?  I think my workaround may cause some strange problems, and the fix you have suggested is really important.

[2017-02-08 10:02] LoopsLu commented on #7068
I use this project.json. I think it is enough. I copied some settings from the WebApi project, and it works as well as the WebApi project in my Library project.

{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.1",
      "type": "platform"
    },
    "Microsoft.EntityFrameworkCore": "1.1.0",
    "Microsoft.EntityFrameworkCore.SqlServer": "1.1.0",
    "Microsoft.EntityFram

[2017-02-08 12:51] roji commented on #474
@jemiller0 AFAIK EF Core currently doesn't ever prepare statements (this is tracked by #5459). Note, however, that prepared statements don't really do much in SqlServer which transparently caches query plans server-side. For PostgreSQL, where preparing is vital for performance, Npgsql 3.2.0 (just released) introduces an automatic preparation feature at the driver level, where frequently-used queri

[2017-02-08 12:58] roji commented on #2850
Design note for LIKE and portability:
* SqlServer's pattern has no escaping by default (optional ESCAPE clause has to be used)
* PostgreSQL's pattern uses backslash as the default delimiter, and it can be changed (or disabled) via an optional ESCAPE clause.

There is [a report](https://github.com/aspnet/EntityFramework/issues/7429#issuecomment-277827978) of the ESCAPE clause being bad for performa

[2017-02-08 13:03] roji commented on #474
Thanks for the valuable discussion. To summarize, at least in Npgsql I'm going to have the StartsWith() translator:
1. Check whether the pattern is constant or not.
2. If constant, escape everything client-side in C# and send a simple LIKE (with backslash being the PostgreSQL default escape character)
3. Otherwise (parameters, store values), send LIKE AND STRPOS (PG's CHARINDEX equivalent) just li

[2017-02-08 14:49] eliziario commented on #7027
Still happening with latest bits in a csproj project.

`<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" />
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp1.0</TargetFramework>
    <PreserveCompilationContext>true</PreserveCompilatio

[2017-02-08 15:14] jemiller0 commented on #474
@roji I think you found the solution to the problem I've been having with .StartsWith() on SQL Server. I just tried using LEFT(LEN()) like you mentioned and it is FASTER that doing a LIKE alone. 0 seconds versus 2 seconds on the problem query that I had. Awesome!

Also, thanks for he info on prepared statements. I think they would still be good to have for INSERT and UPDATE statements.

BTW, I sta

[2017-02-08 15:27] MarkusEgle commented on #7358
Issue with web template auth Individual on Lubuntu 16.04
Tried with latest bits from https://github.com/dotnet/cli   currently `1.0.0-rc4-004777`

`dotnet ef --version`

Steps to reproduce:

Everything fine so far. But when testing http://localhost:5000/Account/Register creating a user throws an error:

This error tells me to create the database. But `dotnet ef database update` as well as `dotnet

[2017-02-08 15:38] roji commented on #474
@jemiller0 uh, happy to have helped although I didn't really mean to :) Please note that my proposal was to use LIKE AND LEFT(LEN()) and not LEFT(LEN()) alone, simply because I assumed that LEFT(LEN()) wouldn't be index-optimized. This retains the original logic of using LIKE first for speed, then filtering out false positives with something (CHARINDEX or LEFT(LEN())). So I'm not clear if you're s

[2017-02-08 16:27] bricelam commented on #7027
@eliziario Did you try with ***Microsoft**.EntityFrameworkCore.SqlServer*?

Everything else looks right.

[2017-02-08 16:28] HallofFamer commented on #246
So if my interpretation is correct, Complex Types will be available in EF Core 2.0 to be released in 2018, right?

[2017-02-08 16:32] bricelam commented on #7358
@MarkusEgle It looks like that template doesn't include the `dotnet-ef` tool. Add the following to your `*.csproj`.
[code]

[2017-02-08 16:39] bricelam commented on #7358
But @mlorbetske fixed it in dotnet/templating@fbec36e815df730e06027488e307bf9953a2d77e

[2017-02-08 16:52] marchy commented on #246
@HallofFamer Heh probably something like that. I wouldn't hold my breath for 1.x / pre-summer that's for sure. There's no timelines yet for 2.0 yet but given the release cycle of EF / ORMs, early 2018 may be as early as we can hope to get.

It's also to note that there's a few threads here about providing some more holistic solutions (ie: JSON mapping, which is even more direly needed than complex

[2017-02-08 16:56] rezamohamed opened #7571 "Question not issue: ASP.NET Core 1.1 Identity dependencies and all Data Access in a separate class library project"
I have extracted most of the Database related code from an ASP.NET Core Web Application project with Individual User Accounts, ie. Identity into an ASP.NET Class Library project. I am now stuck in the final pieces which is to remove the concrete assignment to EF Core and moving the connection strings to the Data project.

Here is what I have done so far:

Created a blank solution
Created an ASP.NE

[2017-02-08 17:08] #7474 closed

[2017-02-08 17:10] jemiller0 commented on #474
When I tested it, I used LIKE and LEFT(LEN()) together. The query took 00:00:00.789. I just tried the query without LIKE and it took 00:00:02.021. I ran it several times and it looks like it's consistently faster with LIKE included. So, having the LIKE seems to improve performance. Otherwise, it would be nice to get rid of it altogether and then not have to worry about escaping special characters.

[2017-02-08 17:20] jemiller0 commented on #7429
@roji mentioned using LEFT(LEN()) (similar to what is done for .EndsWith()) instead of CHARINDEX() in #474. I tested this as in

`WHERE [b].[updated_by] LIKE N'jemiller' + N'%' AND N'jemiller' = LEFT([b].[updated_by], LEN(N'jemiller'))`

and found that it was faster than even using LIKE by itself. For my problem query, it was the fasted performance yet. Consistently less than 1 second with the LEF

[2017-02-08 17:49] divega commented on #7429
@jemiller0 thanks for this new datapoint. Would you be able to provide the corresponding query plan screenshot?

[2017-02-08 18:00] richardcastle commented on #6253
I've just installed the latest Visual Studio 2017 RC update (8th Feb 2017) and rebuilt and targeted Release mode to ARM and the app deploys and launches. It seems this has been fixed in the latest update. Hurrrah!

[2017-02-08 18:09] ajcvickers commented on #7570
@wangpengxpy The first save inserts all the ReserveInformation entities into the database and they get primary key values assigned. The second save then attempts to save these same entities, but they already have a primary key value assigned, which is why the exception is thrown. The problem is probably in the line `_dbContext.Reservations.Add(reserRecord);` which will mark the graph as Added, imp

[2017-02-08 18:16] borisdj commented on #7530
@AndriySvyryd any comment regarding `.RemoveIndex` that is not working ?

[2017-02-08 18:28] rowanmiller commented on #7566
Fixed

[2017-02-08 18:28] #7566 closed

[2017-02-08 18:40] ajcvickers commented on #7533
@Ettery I don't think there will be any issues. Context pooling requires that the options passed to the context instance are not modified in OnConfiguring. Also, context pooling is only used if you explicit configure it to be used. Can you point to some specific places in the code where you think there will be a problem?

The reason for the check is because we found that when code registers multip

[2017-02-08 18:45] ErikEJ commented on #7566
Just did a PR for same issue with readme.md

[2017-02-08 18:47] jemiller0 commented on #7429
Sure.

![leftlen](https://cloud.githubusercontent.com/assets/15931877/22752017/84a972f0-edfc-11e6-8320-d3ef39d66124.png)
![likewithleftlen](https://cloud.githubusercontent.com/assets/15931877/22752015/84a4ed34-edfc-11e6-93f5-adb0398d7364.png)

[2017-02-08 18:55] eliziario commented on #7027
Yes, tried with it also. See the first try on PackageManager console above.

[2017-02-08 18:56] eliziario commented on #7027
I was thinking about debugging it, is there are any guide for how to debug this with VS?

[2017-02-08 19:11] AndriySvyryd commented on #7530
@borisdj Try this less supported snippet:
[code]
Alternatively you can remove the `CreateIndex` call from the migration.

[2017-02-08 19:22] bricelam commented on #7027
Adding `-Verbose` gives additional information that may help you debug the issue.

[2017-02-08 19:22] popcatalin81 commented on #7429
In all 5 execution plans the primary index used is on the [date_updated] column, In none of the execution plans is the index on [updated_by] column used (if any). If the index [updated_by] doesn't exist or is not used, then any assumptions the performance characteristics about different ways to translate StartsWith() could be false positives.

StartsWith() type of search in SQL Server, LIKE 'term%

[2017-02-08 19:31] eliziario commented on #7027
[code]

[2017-02-08 19:39] jemiller0 commented on #7429
@popcatalin81 Yes it has an index. Here is a screen shot of the table definitions.

![bibexttable](https://cloud.githubusercontent.com/assets/15931877/22753739/cfa9cbdc-ee02-11e6-9f8e-97d0f0606b9f.png)
![bibtable](https://cloud.githubusercontent.com/assets/15931877/22753740/cfacbc7a-ee02-11e6-8bc5-bfc893ef3ff9.png)

Here's some info on the index fragmentation in case it helps. They are all less th

[2017-02-08 21:31] divega commented on #7429
FWIW, we have seen in our own testing that query plan selection is very sensitive to a variety of factors. You can even say it can be a bit hard to setup a scenario in which the index is consistently used.

In general, the performance characteristics of all these variations could be different for different kinds of queries, different SQL Server versions and different data sets, but this is still v

[2017-02-08 21:46] jemiller0 commented on #7429
@divega That was by mistake. I copied the queries from the log file I have from EF Core. I'm currently using the current release version. The nightly builds fix #6861. The current release version includes extra sort columns that it shouldn't. I think it needs them for one-to-manys, but, doesn't for many-to-ones. I re-ran the queries without the extra sort column after the fact and the results appe

[2017-02-08 21:50] mguinness commented on #1199
Another method is described in this [blog](https://weblogs.asp.net/ricardoperes/implementing-missing-features-in-entity-framework-core-part-5-getting-the-sql-for-a-query).

[2017-02-08 21:53] divega commented on #7429
@jemiller0 thanks. No need for new screenshots. Just wanted to be sure the results were the same.

[2017-02-08 22:03] jemiller0 commented on #7429
Here they are. I didn't check to see if the execution plans were exactly the same. I just saw what the timings were.
![like](https://cloud.githubusercontent.com/assets/15931877/22759430/0a21d664-ee18-11e6-8e0c-c6c6afb75e0f.png)
![likewithcharindex](https://cloud.githubusercontent.com/assets/15931877/22759429/0a1d5260-ee18-11e6-9386-932ca4065ca2.png)
![likewithescape](https://cloud.githubuserconten

[2017-02-08 22:38] borisdj commented on #7530
@AndriySvyryd That worked,
Thx

[2017-02-08 22:51] Eilon commented on #6986
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7033
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7082
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7289
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7290
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7293
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 22:52] Eilon commented on #7476
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-08 23:20] anpete opened #7573 "Navigations: Inverse one-to-one references not rewritten"
In the following queries, the second nav. in each projection (ParentBackNavigation) is not processed during nav. rewrite. In the first case, it triggers a null-ref at execution time, and in the second, the EF.Property call is present in the final compiled query tree.
[code]

[2017-02-08 23:58] #7082 closed

[2017-02-09 00:24] #7476 closed

[2017-02-09 00:24] #7290 closed

[2017-02-09 01:50] smitpatel commented on #7033
merged to 1.1.1 in b8fb258be5b50922ce6405002f040d2ce51edaa9
in dev a457f2e22f7b2e29a645ad6a8c60c433c04f6d73

[2017-02-09 01:50] #7033 closed

[2017-02-09 02:31] wangpengxpy commented on #7570
get it,thanks!

[2017-02-09 03:14] jwooley commented on #3060
@rowanmiller Any update to this? It didn't make 1.1 and doesn't appear to be on the [published roadmap](http://bit.ly/efcoreroadmap).

[2017-02-09 04:02] govis opened #7575 "Installing EF Core globally"
This is a question - pretty much every guide out there says to install it via the Package Manager with <code>Install-Package Microsoft.EntityFrameworkCore.SqlServer</code> command. Unfortunately this ends up dumping 289MB worth of files into the project directory, which is not nearly sustainable with many projects and given that the actual binaries needed amount to only about 6MB.

So my question

[2017-02-09 05:55] ctolkien commented on #7033
Thanks @smitpatel  👍

[2017-02-09 06:41] Ettery commented on #7533
@ajcvickers thankyou, I think you are right, I picked up that TContext was being used in the pooling, but thats not coming from the DbContextOptions and I can't find anywhere there the TContext on DbContextOptions is used other than that initial check.  Thanks for your help, I'll use my 'hack' for now.  So great to have the code to work through, and thanks for all your work.

[2017-02-09 10:40] Axioma-ShirokovPN opened #7576 "Scaffold-DbContext, MSSQL User Defined Data Type can't reverse types"
If we have some schemas with identical name of UDDT - we get error
**System.ArgumentException: An item with the same key has already been added. Key: TypeId**

### Steps to reproduce

Create 2 schemas: Items, Users.
Create 2 UDDT: Items.TypeId (tinyint), Users.TypeId (tinyint)

After this, call:
_Scaffold-DbContext "Server=localhost\SQLEXPRESS; Database=SimpleDB; User Id=Test; Password=Test; Multi

[2017-02-09 10:55] roji commented on #474
@jemiller0 re prepared statements, what you say it just as true of SELECT as it  is of INSERT/UPDATE: it's very beneficial to have PostgreSQL parse a SELECT statement once and then send only parameters after the first time.

Re case sensitivity you're right, and I'm pretty sure it's no different on non-Windows platforms. You do have the [citext](https://www.postgresql.org/docs/current/static/citex

[2017-02-09 14:15] azabluda commented on #4311
It also fails if I replace `Take` with `OfType`
[code]
Do you think it makes sense to report my case separately or is it basically covered by #4311 / https://www.re-motion.org/jira/browse/RMLNQ-105 ?

[2017-02-09 14:46] MarkusEgle commented on #7358
@bricelam Yes... perfect now the template is working on linux including logging in that stores to the sqlite database

[2017-02-09 14:59] jemiller0 commented on #474
@roji You're right about SELECTs. I wasn't thinking correctly. I was thinking about it in the context of some loader applications that I have where I have 1 select and millions of INSERTS/UPDATEs, but, you are right. Especially, when you have things like N+1 queries happening.

[2017-02-09 17:34] bricelam commented on #7027
Do your projects look right?
Project: `Shared` (where the classes should be added)
Startup project: `Voejar` (references `Shared` and has `Microsoft.EntityFrameworkCore.SqlServer`, `Microsoft.EntityFrameworkCore.SqlServer.Design` & `Microsoft.EntityFrameworkCore.Tools` installed)

If so, could you provide your solution so we can investigate further?

[2017-02-09 17:50] bricelam commented on #7575
In Visual Studio 2017, you can add [Package References in Project Files](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files). Unlike the default `packages.config` experience, this uses a "global packages folder" so all projects share the same files.

You might be able to mimic this behavior on VS 2015 by adding a `NuGet.Config` file like the following:

[co

[2017-02-09 21:27] smitpatel commented on #6986
Merged in 1.1.1 with 0485df0cbb109e46aeac1c9b7c52141e45a270dc
in dev with d3fb6e995ac1eb8fc5556a1d0f3521d674787025

[2017-02-09 21:27] #6986 closed

[2017-02-09 22:12] milanc opened #7579 "Nullable navigation property used in anonymous result selects all fields from main table"
Hi

When projecting to anonymous type generated SQL is different for nullable vs not nullable navigation properties.

I am building anonymous result based like this
dbContext.Requisitions.Select(r =>new {r.Location, r.Id})

**and if location is mapped as required** (not nullable)
(x => x.LocationId).HasColumnName(@"Location_Id").HasColumnType(@"int").**IsRequired()**

then generated SQL is this (*

[2017-02-09 22:22] deinok opened #7580 "dotnet ef migrations add migration_name dont work on linux"
I updated the project to VS17 style.

old `dotnet ef migrations add migration_name` dont work (Windows and Ubuntu) Cause: No project.json

VS17 doesnt open project.json projects.

Only works from the Package Manager `Add-Migration migration_name`

Whats the CLI equivalent without PackageManager for Windows and for Ubuntu?

[2017-02-09 22:32] anpete commented on #7363
@jemiller0 I just tried to repro this by streaming ~13M rows and didn't see any issue. Any chance you can use a memory profiler to determine which objects are leaking?

[2017-02-09 22:39] smitpatel commented on #7579
dupe of #6647

[2017-02-09 22:41] smitpatel commented on #7580
See #7358 thread for detailed instructions on how to get command line tooling to work in VS2017

[2017-02-09 22:47] deinok commented on #7580
@smitpatel Thanks. Closing this. But please add more documentation.

[2017-02-09 23:45] smitpatel commented on #7580
cc: @rowanmiller

[2017-02-09 23:50] #7293 closed

[2017-02-10 00:42] maumar commented on #7289
fixed in 2b1edbfbeba1f38769e9c02b21ab081c7eae5b55

[2017-02-10 00:42] #7289 closed

[2017-02-10 01:06] #7254 closed

[2017-02-10 02:32] Shayon opened #7582 ".NET Native: Slow performance in change tracker"
I am building a UWP app with EF Core and am running into a massive performance issue when running in release with the .NET Native Tool Chain.  Release is at least 4x slower than debug, but sometimes gets up to 10x slower.  For example, in debug when I perform a specific operation I get roughly 10 seconds for it to complete, that SAME operation takes ~40 seconds when running in release.  Using diag

[2017-02-10 03:37] jemiller0 commented on #7363
I just tried the query again and saw the same behavior with another database and another large table. The table has an XML field in it. Not sure if that's relevant or not. MySQL and PostgreSQL both work fine. They use about 80 MB RAM and it stops there while streaming through the entire 7.7 million row table. Using the SQL Server driver, memory continues to climb. I'm not familiar with how to use

[2017-02-10 03:41] jemiller0 commented on #7363
I'm using version 1.1.0. Is that the version you tried?

[2017-02-10 04:47] denisz1 opened #7583 "Strings which contain NUL '\0' are truncated on read"
I'm using EF Core with both SQL Server and SQLite.

I can insert a string which contains a NUL character "foo\0bar". It seems to be written correctly.

I can read it back using a regular sql connection. But if I use EF to read it back, I get only "foo".

[2017-02-10 06:36] damienbod commented on #7544
@rowanmiller @bricelam @natemcmaster
Will this be fixed before the VS2017 release. This is blocking me from migrating from project.json to msbuild.

Thanks Damien

[2017-02-10 06:56] damienbod commented on #7544
Also when I migrate to msbuild, the  Microsoft.EntityFrameworkCore.Tools.DotNet is not migrated, need to change this after. Should this not be migrated?

Greetings Damien

[2017-02-10 07:28] damienbod commented on #7544
sorry, for bothering you. Found the problem, I renamed the project in Visual studio, but the assembly was not renamed and so the migrations did not work.

[2017-02-10 10:44] bragma opened #7584 "EF1.0.1 -> 1.1.0 migration indexes only a side of many-to-many relationship"
UPDATE:
Ooops, sorry, this seems to be a duplicate of #7369. I didn't see it when searching issues for many-to-many.

----
Hi,
I've updated a project using EFCore 1.0.1 to 1.1.0 and found a different behavior on generated indexes for many-to-many join tables. Basically, now it creates only one index for one side (the second column) of the relationship.
Is it an optimization due to the fact that a

[2017-02-10 11:15] danielgreen commented on #2341
Hi @tuespetre
Eagerly awaiting the #7543 pull request being merged! Kudos to you for all your work.

Please can I check if this scenario will be included in the SQL translation improvements, so I don't create a duplicate issue:

[code]

I'm hoping this will generate a single query with multiple aggregates:

[code]

At the moment it generates warnings that GroupBy, Count, Sum and Single cannot be t

[2017-02-10 13:30] 4tuneengineering commented on #3748
+1

[2017-02-10 14:39] Opiumtm opened #7586 "Feature request: read only entities"
Provide support for read-only entities.
Read-only entities should fail with exception on insert, delete or update at Entity Framework level.
They would be added and updated at database externally or populated on data base initial setup.

Scenario: API contract for another project team with guarantee that code developed by another team would never change some database entities. Also it's additional

[2017-02-10 16:06] divega commented on #7584
@bragma yes we added an optimization to try to avoid redundant indexes from being created by convention in 1.1. Is it causing any problems besides the removal of the index itself?

cc @AndriySvyryd

[2017-02-10 16:27] bricelam commented on #7583
This is by design for Microsoft.Data.Sqlite. We use NUL to determine the end of the string.

The SQLite documentation also states:

[2017-02-10 16:34] bricelam commented on #7583
Note, in 2.0 Microsoft.Data.Sqlite is building on top of SQLitePCL.raw which [does the same thing](https://github.com/ericsink/SQLitePCL.raw/blob/master/src/cs/util.cs#L148).

[2017-02-10 16:39] divega commented on #3726
@anpete is my understanding correct that option (2) is already implemented and this can be closed?

[2017-02-10 17:14] bricelam opened #7588 "Tools: Current Directory is wrong for .NET Core projects"
The tools explicitly set the current directory to the output directory (e.g. `bin\Debug`) to match the behavior of classic csproj. However, the .NET Core Console App and ASP.NET Core Web Application projects use the project directory.

They do this primarily to support this line in the templates: `.UseContentRoot(Directory.GetCurrentDirectory())` This allows them to use the project directory durin

[2017-02-10 17:42] tuespetre commented on #2341
@danielgreen you can see some of the tests and sample generated SQL here:

https://github.com/tuespetre/EntityFramework/blob/52561bdb44a26e70b1b939b33af0157275b3ebdc/test/Microsoft.EntityFrameworkCore.SqlServer.FunctionalTests/QuerySqlServerTest.cs#L6890

I'm currently working to break down #7543 as much as possible per @smitpatel/@maumar's request.

[2017-02-10 17:51] anpete commented on #3726
@divega Yes, option 2 is implemented.

[2017-02-10 17:55] ajcvickers commented on #7576
Not sure if this is a dupe, but looks like the same scenario as #7315.

[2017-02-10 18:01] rowanmiller commented on #7544
@bricelam should we be able to handle this?

[2017-02-10 18:49] denisz1 commented on #7583
OK by design then. Thanks for clarification.

[2017-02-10 18:49] #7583 closed

[2017-02-10 18:50] anpete opened #7591 "Fix reflection object equality comparisons."
Using '==' to compare reflection objects can fail on some platforms that haven't implemented the operator. I.e. .NET Native.

[2017-02-10 18:57] lajones commented on #7576
@ajcvickers I think this is a separate bug. In `SqlServerDatabaseModelFactory` the query which brings back the type aliases does not include their schema. Don't think it ever did, but it looks like it should to support the above scenario. #7315 is about failing to receive warnings which should be there. I haven't investigated yet, but we used to produce warnings, so either the situation in #7315 i

[2017-02-10 18:58] rowanmiller commented on #3060
@jwooley it didn't end up fitting into 1.1. I just hacked together something that does this by replacing some of the services that reverse engineering uses. I'll turn it into a blog post over the next few days and reply back here with it.

[2017-02-10 19:02] rowanmiller commented on #6253
Closing as we believe this is all fixed in the latest release (VS2017 RC). Please open a new issue if there are specific cases that are not fixed.

[2017-02-10 19:02] #6253 closed

[2017-02-10 19:28] rowanmiller commented on #7557
Possibly related to https://github.com/aspnet/EntityFramework/issues/7078.

@leolorenzoluis can you share a project that reproduces the issue

[2017-02-10 19:30] govis commented on #7575
Great, I'll give it a try. Thank you.

[2017-02-10 19:31] rowanmiller commented on #7561
Closing as dupe

[2017-02-10 19:39] rowanmiller commented on #7564
@divega to do initial investigation into how other stacks have solved this (i.e. L2S)

[2017-02-10 20:04] bricelam commented on #7544
Yes, I suspect it's a bug in [dotnet/roslyn-project-system](https://github.com/dotnet/roslyn-project-system). By default `AssemblyName` is set to `MSBuildProjectName`, but after renaming the project, the old value is probably still cached somewhere...

[2017-02-10 20:05] bricelam commented on #7544
`dotnet migrate` should handle this. Please create a new issue on [dotnet/cli](https://github.com/dotnet/cli) for this.

[2017-02-10 21:00] HaoK commented on #7288
Unassigning so triage can pick this up now that there's a repro

[2017-02-10 21:11] aggieben opened #7593 "Migration tries to create sequence that already exists"
I recently updated my tooling to 1.0.0-msbuild3-final, and I also updated all of my EF packages to 1.1.0.  I also added two properties to an entity class, and then used `dotnet ef migrations add` to create the new migration.

When I run `dotnet ef database update`, it correctly selects the new migration to run, but then fails on a command that I don't quite understand.  Here's the migration code i

[2017-02-10 21:14] bricelam commented on #7588
Note, this will probably introduce a breaking(?) change to SQLite where relative-pathed databases will be put in the project directory instead of the output directory, but this feels more right and we've had a lot of requests for/confusion around it.

[2017-02-10 21:21] #7523 closed

[2017-02-10 21:55] smitpatel commented on #7593
cc: @roji

[2017-02-11 01:08] mb2140 opened #7595 "Cannot insert explicit value for identity column in table when IDENTITY_INSERT is set to OFF"
Describe what is not working as expected.

Retrieving an entity from database and, then trying to insert that entity into the database produces the error below.  This is something that always worked in previous EF versions, and I'm hoping there's a better way to do this automatically rather than cloning each entity manually.

If you are seeing an exception, include the full exceptions details (mes

[2017-02-11 01:48] jnm2 commented on #4490
I don't like `AlsoInclude` because the words `Also` and `Then` aren't logically related this way.
What about `.Up().ThenInclude()` instead of `.AlsoInclude()`? That answers @rowanmiller's reasonable hesitation that `AlsoInclude` only solves one arbitrary class of cases. With `Up`, you could just do `.Up().Up().ThenInclude()` and I believe that would cover all cases.

[2017-02-11 04:09] #3726 closed

[2017-02-11 04:58] aggieben commented on #7593
It looks like I should have investigated the release notes for `Npgsql.EntityFrameworkCore.PostgreSQL` 1.1.0 before posting this.  It reads:

If you've used 1.0.x without migrations, you can simply upgrade and everything should just work. Unfortunately, if you already have migrations from 1.0.x you'll have to do some manual fixups because of some bad decisions that were previously made. If deletin

[2017-02-11 05:28] aggieben commented on #7593
Yep, following the instructions was all it took.  Imagine that.

[2017-02-11 11:37] roji commented on #2850
@divega, @rowanmiller,

@rwasef1830 is looking into adding [full-text support for PostgreSQL](https://www.postgresql.org/docs/current/static/textsearch.html) to the Npgsql provider for 1.2. This would very probably require a place to define LINQ methods such as described in this issue (`EF.Functions`). This issue hasn't made much progress yet, but I'm wondering if we can at least lock down the sha

[2017-02-11 15:09] DamirLisak opened #7597 ".NET Native: optimize code + native toolchain + ARM with 2017 RC"
I reopen the compiliation Problem with .NET-Native chain for ARM-Processors and refer to issue [https://github.com/aspnet/EntityFramework/issues/6253](https://github.com/aspnet/EntityFramework/issues/6253) because it's **NOT FIXED**!

I tried it with the latest Compiler: Microsoft Visual Studio Community 2017 RC Version 15.0.26206.0 D15REL

The Migrate()-Method throws a Unhandled exception at 0x68

[2017-02-11 15:16] DamirLisak commented on #6253
Unfortunately it's **NOT FIXED**!
@richardcastle : How did you test it? Do you have simple database-model?

I reopened this issue at [https://github.com/aspnet/EntityFramework/issues/7597](https://github.com/aspnet/EntityFramework/issues/7597)

[2017-02-11 18:55] Jalalx opened #7598 "TPH Inheritance in EntityFramework Core 1.0.1 - Invalid Object Name 'People'"
I'm trying to build a simple example console app for TPH inheritance model. But I have no idea what I'm missing!

This is logging output to console:
[code]

### Steps to reproduce
Here is all of my code:

[code]
And project.json:

[code]

I'm using Visual Studio 2015 Update 3 on Windows 10

[2017-02-11 20:43] moaead commented on #4269
worked great with joins and everything.
one big issue though is performance i did small test on simply selecting 5 rows with no join, and results were:-

speed with entity 1st run: 2.34 seconds.
speed with entity 2nd run: 2.27 seconds.
speed with entity 3rd run: 2.22 seconds.
--------------

speed with sqlite 1st run: 0.23
speed with sqlite 2nd run: 0.25
speed with sqlite 3rd run: 0.29

for sqlite

[2017-02-11 21:37] richardcastle commented on #6253
@DamirLisak I performed the VS2017 update released last week. Removed the .RD optimisation exclusions which I had to put in to allow the release mode to work, build and now my app launches on my Lumia 950. Previously the app would crash and return to the app list on the phone during startup. Exception was normally at Migrate. The database is relatively complicated with about 10 tables with relatio

[2017-02-11 22:23] tkoestler commented on #6971
Spent half an hour searching my system for an old version of nuget (2.12) that I didn't have anywhere because the error message completely threw me off.  If you can't display accurate information in an error then don't show anything.  Sheesh.

[2017-02-12 05:26] jamiewest commented on #7358
Just throwing in my experience, I am using cli 1.0.0-rc4-004777 and used the following command

`dotnet add package Microsoft.EntityFrameworkCore.Tools.DotNet --version 1.0.0-msbuild3-final`

but unfortunately I end up with this in .csproj

[code]

when it would be cool to end up with

[code]

[2017-02-12 06:39] qianthinkover commented on #7252
Yeah thanks for helping, Hope more features will achieved in future,

[2017-02-12 15:10] mdmoura opened #7599 "Entity Framework instance of entity type cannot be tracked"
### Problem
I am not able to create two LanguageI18N instances associated with one Language instance. The same error occurs using SQLServer or an InMemoryDatabase.

Is this a bug? Am I missing something? Any way to go around this problem?

### Exception
[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlSe

[2017-02-12 15:44] bricelam commented on #7358
@jamiewest We have the appropriate metadata in our nupkg, but NuGet hasn't implemented the logic to handle it yet. This is a known issue, thanks!

[2017-02-12 19:29] rpawlaszek opened #7600 "Query : SqlServerMathRoundTranslator wrong argument index results in returning incorrect data or throwing InvalidCastException"
Trying to use ```Math.Round``` in the query gives ```InvalidCastException```

[code]

### Steps to reproduce
Follow [Entity Framework Core docs](https://docs.microsoft.com/en-us/ef/core/), build the model, populate Blogs table with few entities and then used this to query:

[code]
The console logging shows what went wrong:

[code]
The line
[code]
should be
[code]

and is there because of a bug in

[2017-02-12 19:44] rpawlaszek opened #7601 "Missing translators for Math functions in SqlServer provider"
There is quite a number of [math functions not translated](https://github.com/aspnet/EntityFramework/tree/c9b5916a4e0fff763febea00da793ebd4113632d/src/Microsoft.EntityFrameworkCore.SqlServer/Query/ExpressionTranslators/Internal): ```Math.Exp, Math.Log10, Math.Log, Math.Sqrt, Math.Acos, Math.Asin, Math.Atan2, Math.Atan, Math.Cos, Math.Sin, Math.Tan```. The implementation is as easy as for the ones

[2017-02-12 20:22] maumar commented on #7600
@rpawlaszek yes, please open new bug for the missing math functions.

[2017-02-12 21:57] richardcastle commented on #6253
OK. Was working the code tonight, made some minor non-DB changes and it's not working again. I suspect I got lucky. I've tried a couple of further rebuilds and still not working. @rowanmiller it seems we should reopen this thread unfortunately.

[2017-02-13 00:45] divega commented on #6253
@richardcastle given that it is hard to tell if the failure you are seeing has the same root cause, could you please create a new issue and provide a repro project?

[2017-02-13 00:48] divega commented on #7597
@DamirLisak it would be great if you could provide a repro project for the .NET Native folks to debug it.

[2017-02-13 02:48] tinchou commented on #3692
@rowanmiller do you think we could add this to the docs? I was looking for this but couldn't find any examples here https://docs.microsoft.com/en-us/ef/core/querying/related-data

Also, I have to load five entities related to a nested one and it'd be great to have some syntactic sugar.

Thanks!

[2017-02-13 03:41] johnciliberti commented on #7557
Work around is to use netcoreapp1.0 rather then netcoreapp1.1. The following config allowed me to create the migrations:
[code]

[2017-02-13 05:51] breyed commented on #7561
To avoid confusion, it's worth nothing that this suggestion differs from #1414, as I detailed in a comment there. So it's not a pure duplicate. It does make sense to holistically consider it along with #1414, though, so for want of a "closed-merged" label, "closed-duplicate" is a useful disposition.

[2017-02-13 06:00] Axioma-ShirokovPN commented on #7576
Yes, this is separate bug, but from one category - incorrect work with UDDT.

[2017-02-13 06:12] Steve887 opened #7603 "Migration gives full script even with no changes"
I am using ef.exe to generate migration files for my Entity Framework 1.1.0 context against an existing SQL Server database.

While a migration file is generated correctly, it always consists of a full migration script, creating every table and index, even when my database is up to date and contains an __EFMigrationsHistory table with my initial migration version in it.

Migration History table:
!

[2017-02-13 09:56] jessanmen1 commented on #2229
Any news on this?

[2017-02-13 12:21] sjb-sjb opened #7604 "UseCSharpNullComparisonBehavior"
We need UseCSharpNullComparisonBehavior. Life is just too confusing without it !

P.S. We also need an easy way to sort NULL at the end instead of the beginning -- this has always been a bit of a problem.

[2017-02-13 13:03] sjb-sjb commented on #7604
More specifically, it should be UseCSharpNullComparisonBehavior == true. Who would ever want it to be false?

I don't know, maybe this is the default --

[2017-02-13 13:55] eliziario commented on #7027
https://drive.google.com/open?id=0ByIzqvWEVqZuWlhMRm53ZWV0dnc

[2017-02-13 15:16] divega commented on #7604
@sjb-sjb in EF Core by default uses in-memory (i.e. C#) semantics for null comparisons. You can turn that off by calling `UseRelationalNulls()` while configuring the `DbContext`.

We do not have any plans to have an option to force null values to go at the end. Although some relational database such as PostgreSQL will do that by default and may provide ways to control the behavior, other relationa

[2017-02-13 16:00] mdmoura commented on #7599
An update on my code. By changing

    b.HasOne(x => x.Language).WithMany(x => x.LanguagesI18N).HasForeignKey(x => x.TranslationCode).IsRequired(true).OnDelete(DeleteBehavior.Restrict);

to

    b.HasOne<Language>().WithMany().HasForeignKey(x => x.TranslationCode).IsRequired(true).OnDelete(DeleteBehavior.Restrict);

It solves the problem for InMemoryDatabase but when using SQLServer I get the erro

[2017-02-13 17:26] ajcvickers commented on #7599
@mdmoura With these two lines:
[code]
the foreign key for the relationship is first set to be `LanguageCode` and then changed to be `TranslationCode`. I'm not entirely sure what your intention is here, but it seems like the FK for this relationship should probably just be `LanguageCode`, meaning the second line should just be removed.

[2017-02-13 17:34] ajcvickers commented on #7598
@Jalalx What does the table People look like in the database--e.g. what columns does it have? How was it created?

[2017-02-13 17:37] ajcvickers commented on #7595
@mb2140 Is your expectation here that the entity will be inserted again and will get a new key value generated? If so, and assuming your Find() method is doing a no-tracking query, then the key value will need to be set to the CLR default (i.e. zero) before calling Add.

[2017-02-13 17:47] mdmoura commented on #7599
@ajcvickers As an example I am posting a few records of Languages and LanguagesI18N tables:

Languages
LanguageCode
en
pt

LanguagesI18N
Language Code, Translation Code, Name
en en English
en pt Inglês
pt en Portuguese
pt pt Português

So Languages holds all the unique Language codes ... LanguagesI18N holds the names translations.
en en English > en code name in English is English
en pt Inglês > e

[2017-02-13 17:50] rowanmiller commented on #3060
@jwooley here is a solution that replaces internal services to generate pluralized/singularized code https://romiller.com/2017/02/10/ef-core-1-1-pluralization-in-reverse-engineer/

[2017-02-13 17:55] rowanmiller commented on #7603
Are you expecting migrations to be looking at the database schema to work out what changed? If so, that's not how migrations works. It keeps a snapshot of the model when the last migration was generated and then compares the current model to this. A snapshot should have been generated alongside the migration files when you created the `Test2` migration.

[2017-02-13 18:09] ajcvickers commented on #7599
@mdmoura That makes sense now. You will need to specify these as two different relationships, that use different (or no) navigation properties between the entities. This is what you did in your first comment--you made a new relationship for the TranslationCode FK which had no navigation properties. However, it seems that while trying to enforce this constraint SQL Server was unable to find a row i

[2017-02-13 18:10] ajcvickers commented on #7343
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2017-02-13 18:12] mdmoura commented on #7599
@ajcvickers, The FK's have two different names, LanguageCode and TranslationCode but after running the migration in fact I get two columns LanguageCode and LanguageCode1. I think this shouldn't happen ...

[2017-02-13 18:16] ajcvickers commented on #7599
@mdmoura Agreed this shouldn't happen. We will discuss this in the team. As a workaround, try using `.HasPrincipalKey(e => e.LanguageCode)` to force both relationships to use the same primary key.

[2017-02-13 18:32] rowanmiller opened #7605 "ModelBuilder: API for removing indexes"
Split off from https://github.com/aspnet/EntityFramework/issues/7530

Currently there is no way to remove an index that was introduced by convention. You have to use internal APIs to do it.

[2017-02-13 18:33] rowanmiller commented on #7530
Created a new issue for the ability to remove indexes.

First reply from @bricelam covers why we don't have the additional cascade delete options in the top level API.

[2017-02-13 18:38] rowanmiller commented on #7541
This is by design, there are some we could remove, but others that we intentionally include even when we know they aren't used. This is because migrations are treated as scaffolded code and can be edited etc.

This has been an ongoing discussion all the way back to EF4.1, with opinions on both sides. We've ultimately just decided to stick with how we do it.

[2017-02-13 18:40] rowanmiller commented on #7544
BTW we suspect closing and re-opening VS would resolve this issue.

[2017-02-13 18:41] rowanmiller commented on #7556
@markolbert yes, that is the correct setup. This will all get much cleaner when we land on an RTM of the MSBuild tooling for .NET Core.

[2017-02-13 18:47] natemcmaster commented on #7538
@bricelam what's the status of #7542 ? EF and MVC are the only un-migrated repos now.

[2017-02-13 18:47] rowanmiller commented on #7562
The `dotnet ef` commands are built around being called on a project. If you want to perform reverse engineering without a project, then you probably want to look at using the internal components that the tool pulls together (primarily `Microsoft.EntityFrameworkCore.Scaffolding.Internal.ReverseEngineeringGenerator`).

These are internal, so we may break the APIs in future releases.

[2017-02-13 18:51] rowanmiller commented on #7534
Moved to docs repo

[2017-02-13 18:54] rowanmiller commented on #7563
I'm not able to reproduce this issue, I can successfully reverse engineer from a SQL 2016 database.

Could you share the schema creation script for the database you are reverse engineering from.

[2017-02-13 19:01] rowanmiller commented on #7532
Passed on to Xamarin folks. Will leave open to track the scenario on our side.

[2017-02-13 19:06] rowanmiller commented on #7565
We think there is already an issue tracking this. @anpete to find the issue and close this as a dupe

[2017-02-13 21:18] mdmoura commented on #7599
@ajcvickers I tried the following as you suggested:

      b.HasOne(x => x.Language).WithMany(x => x.LanguagesI18N).HasForeignKey(x => x.Code).HasPrincipalKey(x => x.Code).IsRequired(true).OnDelete(DeleteBehavior.Restrict);
      b.HasOne(x => x.Language).WithMany(x => x.LanguagesI18N).HasForeignKey(x => x.LanguageCode).HasPrincipalKey(x => x.Code).IsRequired(true).OnDelete(DeleteBehavior.Restrict

[2017-02-13 21:22] AndriySvyryd commented on #7599
@mdmoura You cannot reuse the same navigation for two relationships, try this:
[code]

[2017-02-13 21:44] rowanmiller commented on #2850
Clearing milestone so that we can discuss in triage

[2017-02-13 21:48] maumar commented on #7600
Justification for 1.1.1

Impact: Medium. Issue was found by a customer and it may cause incorrect results for simple queries. Severity is mitigated by the fact that scope of the issue is quite narrow (only one method is affected).

Risk: None - fix is one-character change (correcting of a typo), scoped to only one method call (Math.Round)

[2017-02-13 21:59] phire commented on #7535
I noticed the same thing happening when changing the type of a field from an non-indexable type to an indexable type. We were not migrating from .Net core 1.0. Both the InitialCreate and new migrations were created with the same version of Entity framework.

It appear the AlterColumn was mistakenly assuming the old field already had an index.

Replacing the code:

    migrationBuilder.AlterColumn<

[2017-02-13 22:05] anpete commented on #7591
Risk: Very low, moving from '==' to calling the Equals method for reflection object comparisons is essentially a no-op on most platforms because the operator simply delegates to the method anyway.
Impact: High on .NET Native. Enables EF's internal caches to operate correctly on .NET Native.

[2017-02-13 22:21] rowanmiller commented on #7532
@agonzalezm any chance you could retry on the latest version of Mono, you mentioned being on 4.4, which is a few minor versions behind the latest release.

[2017-02-13 22:32] MichalStrehovsky commented on #7597
@DamirLisak What is the version of the `Microsoft.NETCore.UniversalWindowsPlatform` package you're using? Did you try upgrading to 5.3.0?

[2017-02-13 22:55] bricelam commented on #7538
No blocking issues. I'll merge when @divega or @Eilon tell me to. 😄

[2017-02-13 22:58] bricelam commented on #7538
(I'm holding off as long as possible to give tooling time to bake.)

[2017-02-13 23:03] bricelam commented on #7535
Yep. `AlterColumn` on SQL Server rebuilds the indexes based on the current migration's backing model. Looks like there are cases where those indexes may not exist. We should update it to generate an `IF` statement to drop them only if they exist.

[2017-02-13 23:09] bricelam commented on #7535
One workaround would be to replace the `AlterColumn` call in the migration with the right `Sql`. Be careful not to use parameters named `@varX` since this could cause bad scripts to be generated.

[code]

[2017-02-13 23:31] phire commented on #7535
I feel like simply adding `IF` statements to the generated SQL is a hacky workaround.

What if it's going in the reverse direction and forgets to remove an index it doesn't know about?

[2017-02-13 23:32] Steve887 commented on #7603
@rowanmiller that was how I was assuming it worked. It makes sense now that it looks at the snapshot file to compare.

In my case, I also had to rebuild both my target and console applications after generating a migration to make sure the assemblies had the correct snapshots in them.

Does that also mean the connection string in my `IDbContextFactory` class I'm using, per the link above to get a p

[2017-02-13 23:36] bricelam commented on #7535
Don't worry, I'll think through the scenarios and write tests when *actually* fixing the issue. I'm just jotting down my thoughts right now.

[2017-02-13 23:38] rowanmiller commented on #7603
@Steve887 when adding a migration the database should not be involved (so the connection is never opened). The connection in `IDbContextFactory` is used when applying migrations.

[2017-02-13 23:39] bricelam commented on #7535
But I think you're right, we can probably tell that the index won't exist when generating the scripts, and avoid the `CREATE INDEX` statement altogether.

[2017-02-14 00:34] sjb-sjb commented on #7604
Cool! And, thanks!

[2017-02-14 00:43] allanrsmith commented on #7582
@rowanmiller Is .net native perf with EF Core something we will just have to live with?  It doesn't look like a light at the end of the tunnel.  Is EF Core with UWP essentially not recommended?

[2017-02-14 01:47] maumar opened #7608 "Query/Cleanup : Apply optimizations from CompositePredicateExpressionVisitor in other parts of the query"
Currently CompositePredicateExpressionVisitor is only applied to predicates. Perhaps some of the work we do there could be applied in other places (e.g projections)

[2017-02-14 04:30] vaindil commented on #7164
Any chance of an update on this?

[2017-02-14 04:48] maumar commented on #7164
@vaindil not yet. We have been busy with the 1.1.1 release of EF Core as well as new version of EF6. Those two are almost done so you can expect progress on new issues shortly. Sorry for the wait!

[2017-02-14 04:48] allanrsmith commented on #7582
@divega @MichalStrehovsky help?

[2017-02-14 04:48] vaindil commented on #7164
@maumar Not a problem, just wanted to check in. Thank you!

[2017-02-14 04:54] HamedFathi commented on #7562
@rowanmiller , What is the meaning of 'we may break the APIs' ?
We want to create an universal code generator for our .NET Core projects so I need to know Your team delete this features (Internal ReverseEngineering) from EF Core in futures or may improve (change heavily) it ???

If Your team will delete these APIs so we should find another way unfortunately !
However, Do your team support like the

[2017-02-14 05:00] liamdawson commented on #7271
Does someone have a workaround for this issue?

[2017-02-14 05:33] smitpatel commented on #7271
Use `OrElse` instead of `Or` (Or is bitwise operator, OrElse is logical operator)

[2017-02-14 06:05] weitzhandler commented on #2266
Hi Rowan, any updates on this? Do you think we might see it in the 1.0.4 version?

[2017-02-14 06:13] rowanmiller commented on #7562
We're not going to delete the reverse engineering functionality. It's more a case that method signatures etc. may change. If it's in application code, then that's not a big deal because you can just change your code when you upgrade. If you are building a third party tool, provider, etc. then it's a bigger deal because if the app developer upgrades to a new version of EF Core then the APIs you exp

[2017-02-14 06:18] #7548 closed

[2017-02-14 06:45] HamedFathi commented on #7562
@rowanmiller , Yes This is awesome, I hope EF Core team support this way continuously, Thanks for your help and blog post.

[2017-02-14 07:24] DamirLisak commented on #7597
I can’t believe it – it works!
You are right: I used 5.2.2 since july/2016 and didn’t upgrade to 5.3.0.
(I’m sorry i didn’t found any information on nuget or github that Version >= 5.3.0 is needed for UWP-Apps)

EF-Core 1.1.0 run’s felt three times faster than 1.0.0-rc2-final.
The startup-phase of my App on a Lumia 950 is now 10 times faster!!!
Wow - im really impressed of your work guys.

Thank y

[2017-02-14 07:26] #7597 closed

[2017-02-14 07:32] DamirLisak commented on #6253
My Problem is solved now.
I used **Microsoft.NETCore.UniversalWindowsPlatform** 5.2.2 instead of **5.3.0**.
See [https://github.com/aspnet/EntityFramework/issues/7597](https://github.com/aspnet/EntityFramework/issues/7597)

[2017-02-14 07:39] liamdawson commented on #7271
Would `AndAlso` also be the appropriate change for `And` expressions?

[2017-02-14 07:42] smitpatel commented on #7271
Yes.

[2017-02-14 09:07] markusvt opened #7609 "StackoverflowException on generating Migrations"
I got the following model:

A main class called 'Item' and 3 Subclasses 'Media', 'Folder', 'Symlink' that are Subclasses of Item. I need to create a 1-to-many relation between Symlink and Item, so that one Symlink has 1 'LinkedItem' and an Item has a list of 'Symlinks'.

My Code of Item:
[code]

And Code of Symlink:
[code]

When I generate the migration file with 'dotnet ef migrations add Test', a

[2017-02-14 11:38] sonphnt opened #7610 "Query using Include problem"
Hi Everyone,

I have 2 classes like:
Team and Member

I am using Scaffold-DbContext as Database first. It generates 2 classes with

[code]
And I want to get all member in database with Team object to get some information about the team, so I use this query
[code]
But the problem when I debug. It also load Members list inside Team entity as well. There are a lot of data.
The object looks like this

[2017-02-14 11:55] mdmoura commented on #7599
@AndriySvyryd Didn't solve it ... I got the error:

Unhandled Exception: Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details.
 ---> System.Data.SqlClient.SqlException: The INSERT statement conflicted with the FOREIGN KEY constraint "FK_LanguagesI18N_Languages_TranslationCode". The
 conflict occurred in database "TestDb"

[2017-02-14 14:38] Jalalx commented on #7598
Table doesn't exists. `context.Database.Migrate()` must create it. It creates database if it doesn't exists but I don't know why it doesn't create tables.

[2017-02-14 15:15] axelheer commented on #7293
Can I consume the current 1.1.1 build via myget or the like? It would help, if I can update to a fixed version soon. Thanks!

[2017-02-14 16:34] mdmoura commented on #7599
@AndriySvyryd Thank you, that work. But I ended adding to navigation properties in Language to the two FK in LanguageI18N because it is better for navigation and in fact remove all the problems I add so far.

[2017-02-14 17:28] ajcvickers commented on #7598
@Jalalx Have you created a migration for it? It might be worth working through the steps involving Migrations in one of the getting started guides here: https://docs.microsoft.com/en-us/ef/core/get-started/

[2017-02-14 17:36] ajcvickers commented on #7610
@sonphnt The include tells EF that for each Member that is loaded the related Team should also be loaded. When that Team is loaded the already loaded Members are added to the collection on Team. In other words, EF isn't loading any more data, it is simply fixing up the references between already loaded data.

If you are having issues with JSON serialization, then you might want to look at this: #4

[2017-02-14 18:37] rowanmiller commented on #7571
You probably won't be able to remove the dependencies from the web project, since the code in controllers and views is going to make use of ASP.NET Identity and EF.

You would also typically leave the registration of services in the web project (i.e. these lines from Startup.cs):

[code]

So I think the answer to your question is that you've done about as much separation as you would really want t

[2017-02-14 19:02] rowanmiller commented on #7586
Putting this on the backlog as something we may implement. In the meantime, you can do it pretty easily yourself.

Define some extensions over metadata:

[code]

And then override SaveChanges in the context:

[code]

Here is a console app that wires it all together:

[code]

[2017-02-14 19:07] rowanmiller commented on #7609
Can you confirm what version of EF Core you are using? We think we may have already fixed this.

[2017-02-14 19:15] rowanmiller commented on #2850
@roji we're good with the `EF.Functions.NpgsqlHostName()` approach. Do you want to send a PR to add it to core?

[2017-02-14 19:37] bricelam commented on #7609
The bug I thought it could be (#3799) was fixed in 1.0.0-rc2, so it's probably a different issue.

[2017-02-14 19:59] rowanmiller commented on #7586
More complete write up on the DIY approach here https://romiller.com/2017/02/14/ef-core-1-1-read-only-entities-extending-metadata-with-annotations/

[2017-02-14 20:15] roji commented on #2850
Sure, will take a look.

[2017-02-14 20:29] rowanmiller commented on #2266
@weitzhandler it's not on the plan for a release as yet. At this stage, that means it would be post 2.0

[2017-02-14 20:29] markusvt commented on #7609
i am using EF Core 1.1
here from my project.json file:
[code]

[2017-02-14 20:32] rowanmiller commented on #7532
If it isn't fixed on 4.6.2, can you share some code to reproduce the issue? That way the Xamarin team can check if it is fixed in their 5.0 code base.

[2017-02-14 21:13] bricelam commented on #4108
Here are some `DateTime` ones:

CLR | SQLite
--- | ------
DateTime.AddDays(X) | strftime('%Y-%m-%d %H:%M:%f', $original, 'X days')
DateTime.AddHours(X) | strftime('%Y-%m-%d %H:%M:%f', $original, 'X hours')
DateTime.AddMinutes(X) | strftime('%Y-%m-%d %H:%M:%f', $original, 'X minutes')
DateTime.AddMonths(X) | strftime('%Y-%m-%d %H:%M:%f', $original, 'X months')
DateTime.AddSeconds(X) | strftime('%Y-

[2017-02-14 21:16] fujiy commented on #4108
Hi @bricelam, I couldn't start working in this issue yet, if you want to assign it to somebody else

[2017-02-14 21:19] bricelam commented on #4108
Oh no, I'm just adding notes. 😄 Not working on it. Feel free to pick it up in your spare time. You can break it up into multiple PRs too--no need to add all of them at once.

[2017-02-14 22:41] smitpatel opened #7612 "Query: Apply CompositePredicateVisitor on all parts of SelectExpression"
See Tests
`Optional_navigation_type_compensation_works_with_contains`
`Any_with_optional_navigation_as_subquery_predicate_is_translated_to_sql`
`All_with_optional_navigation_is_translated_to_sql`
`Optional_navigation_type_compensation_works_with_all`
[code]

[2017-02-14 22:44] smitpatel commented on #7608
See Tests
`Optional_navigation_type_compensation_works_with_contains`
`Any_with_optional_navigation_as_subquery_predicate_is_translated_to_sql`
`All_with_optional_navigation_is_translated_to_sql`
`Optional_navigation_type_compensation_works_with_all`
[code]

[2017-02-14 22:44] smitpatel commented on #7612
#7608

[2017-02-14 23:20] nateoelrich commented on #1100
+1 for spatial support. What is the rough timeline for the release of EF Core 2.0?

[2017-02-14 23:23] #7451 closed

[2017-02-14 23:24] richardcastle commented on #7597
OK. I performed the same update and I've just had a Release build run on ARM. Fantastic!. Let's hope it consistently works, but signs are good. Thank you.

[2017-02-14 23:25] richardcastle commented on #6253
OK. There are some updates on issue #7597 with the suggestion that it was the Microsoft.NETCore.UniversalWindowsPlatform needed to be updated to 5.3. This appears to have solved the issue for me.

[2017-02-14 23:59] smitpatel commented on #7560
@breyed - Which version of EF are you using?
I tried reproducing this, I received warning in both cases. In one it says cannot translate the equality (which is inside `Single()`) and in second it says cannot translate `Single()`. The cause is `Single` call which needs client evaluation to throw exception.
Can you share your full queries and model classes for reproduction of the issue?

[2017-02-15 00:53] smitpatel commented on #7560
The subquery has an orderby clause. In Sql you cannot have orderby inside a subquery. Therefore it fails to translate outer query and shows client eval warning.
In the case when where is before as tracking, the Re-Linq query parser flattens out the whole model so there is nothing other than `Single()` outside the subquery. If Where comes after AsTracking it cannot translate it to server.

[2017-02-15 01:01] smitpatel opened #7613 "Query: Flatten out subquery models at query optimizer"
[code]

Query model like above can be optimized by merging the bodyclauses.
Points to consider:
- Inner selector is selecting query source directly.
- No multiple from clauses inside subquery
- Presently ReLinq blocks lifting of subquery if there is orderby clause due to possible ambiguity in ordering. We can still lift if only one (inner or outer) contains OrderBy clause.
- outer selector can be

[2017-02-15 01:03] smitpatel commented on #7220
Verify this is fixed when #7613 is closed.

[2017-02-15 01:04] smitpatel commented on #7560
Verify this is fixed when #7613 is closed.

[2017-02-15 02:01] smitpatel commented on #7497
Transferring to @maumar ,
In this particular case, we have a group join but there is no selectmany afterwards. We apply count assuming it is safe but it generates query like this:
[code]
Which is incorrect since it would count number of rows instead of number of groups. We need to evaluate `Count` on client when there is group join without select many.

[2017-02-15 06:48] jimmymain commented on #2266
If anyone want's a workaround for EF6 that works well, I have used this https://github.com/mrahhal/MR.AspNet.Identity.EntityFramework6

it's a drop in replacement that allows ASP.NET core + EF6 with the new identity management for ASP.NET core. if you're starting a new project and want to use EF6 until such time as EF7 is mature enough, this project will help - assuming to want to leverage ASP.NET

[2017-02-15 07:40] DamirLisak opened #7614 ".NET Native: SqliteException 'FOREIGN KEY constraint failed' during SaveChanges"
In my UWP-App I have a long term opened context (as long as the xaml-Page is open). I have two Entites "Match" and "MatchLog" (1:n-relation). When I start to add new "MatchLog"s and save changes, everything works fine. But when I leave my page and open it again (this means I close and open a new context and read the "Match" again, then my Match-Entity has already some "MatchLogs") I can't add new

[2017-02-15 07:45] markusvt commented on #7609
maybe if it helps: i got the same problem on another entity that doesnt have any inheritance:
there is a class called "User" and another class called "CloudUser", and there is a 1-to-1 relationship between them.
When I model a normal foreign-key / inverseProperty relationship, that stackoverflow occurs. Also when I let the InverseProperty stay 'public virtual' with a  [NotMapped] Attribute the Exc

[2017-02-15 11:25] trinvh opened #7615 "Include throws "Abort due rollback""
Exception message: "SQLite Error 4: 'abort due to ROLLBACK'."
Stack trace: "   at Microsoft.Data.Sqlite.Interop.MarshalEx.ThrowExceptionForRC(Int32 rc, Sqlite3Handle db)"

### Steps to reproduce
Steps:
- Call GetData() from Hub.
- Call UpdateInventory().
- Call GetData() => exception throws.

In SignalR Hub, I have a GetData() that returns data from db. Exception throws here, only when Im using "I

[2017-02-15 12:20] axelheer opened #7616 "Nullable foreign-key leads to client evalution"
Using nullable foreign-keys seems to lead to client evaluation more often.

[code]

### Steps to reproduce

[code]

### Further technical details
EF Core version: 1.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 7
IDE: Visual Studio 2015

[2017-02-15 12:44] hidegh commented on #240
hope flexible mapping also includes the possibility to **totally bypass (turn off, remove) the property auto mapping feature**. is this possible at the current stage?

if i'm having an o-o class and i'm extending it with properties i don't wanna write to DB, i need to go tot the mapping class and list there a property i don't want to map just to get it ignored.

[2017-02-15 13:00] sonphnt commented on #7610
Hi @ajcvickers

Thanks for your reply but is there any settings to avoid "When that Team is loaded the already loaded Members are added to the collection on Team"

Because Parsing that collection to Json will include that Members array on Team that will generate a huge Json file unless I have to do manually code to get rid of before returning to client.

Thanks

[2017-02-15 14:41] borisdj opened #7617 "Reverse engineering (Scaffold) for FK with Delete Rule: No Action - not working"
When doing reverse engineering (Scaffold-DbContext) from database to EF Entities, _Delete Rule_ of FK is being ignored. When it's Cascade it's OK since that is default but nonCascade gets converted to Cascade and if we later recreated DB it would not be the same.

### Steps to reproduce
For example if in DB we have FK column with _Delete Rule: **No Action**_
After running command _Scaffold-DbConte

[2017-02-15 15:10] randdexco opened #7618 "A severe error occurred on the current command"
We have 2 exact queries (with a different parameter) running on 2 separate instances of SQL one works OK, the other fires out a A severe error occurred on the current command

OK
-- p__linq__0: '32970379-9fbd-4570-bf20-ee667dc33beb' (Type = Guid, IsNullable = false)

-- Executing at 15/02/2017 14:07:06 +00:00

-- Completed in 4581 ms with result: ProfiledDataReader

ERROR
-- p__linq__0: '02a2a696-

[2017-02-15 16:37] nicojmb commented on #7084
I have the same problem, how can I fix it?

[2017-02-15 17:27] rpawlaszek commented on #7601
@rowanmiller what does the label "up-for-grabs" mean?

[2017-02-15 18:26] rowanmiller commented on #7582
Can you try upgrading  `Microsoft.NETCore.UniversalWindowsPlatform` to 5.3.0?

[2017-02-15 18:31] rowanmiller commented on #7601
@rpawlaszek we use it to identify items that would be good candidates for a contribution from the community. It doesn't mean we're not going to do it, just that someone from the community may want to pick it up before we get to it.

[2017-02-15 18:33] rowanmiller commented on #7084
@nicojmb the fix will ship in 1.1.1. In the meantime, remove the key attributes.

[2017-02-15 18:49] rowanmiller commented on #7580
Yep the docs will all be updated when VS2017 and our tools RTM

[2017-02-15 18:50] divega commented on #7591
Reopening to go through approval process.

[2017-02-15 19:10] rowanmiller commented on #7614
@DamirLisak can you provide a project or code listing to reproduce the issue?

[2017-02-15 19:11] rowanmiller commented on #7615
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-02-15 19:18] rpawlaszek commented on #7601
Great:) As I understand this includes implementing the functionality AND the tests, right? And if I would like to do it is [this](https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md#contributing-code-and-content) the procedure? Sorry if it is obvious, I just haven't done this ever before.

[2017-02-15 19:46] rowanmiller commented on #7601
@rpawlaszek correct. It is also best to start with a small contribution for your first one. So if you plan to tackle this, probably start with one method until you get the hang of how the process works and the type of feedback you get on the code review etc.

[2017-02-15 19:47] AndriySvyryd commented on #7609
This is likely dupe of https://github.com/aspnet/EntityFramework/issues/7057

[2017-02-15 19:48] #7538 closed

[2017-02-15 19:56] bricelam opened #7620 "Investigate failing tests that use Roslyn"
The tests that compile code are failing on machines with both VS 2015 and VS 2017. They were disabled in 33bf2453f39f8328ef9f0c64ca4f547b0f2e4ee4, but we should investigate the issue and re-enable them. The issue may also go away when we stop using the 4.4.0 contracts.

[2017-02-15 20:28] bricelam opened #7621 "Upgrade to Moq 4.6.38-alpha"
I tried this during the move to MSBuild, but got runtime failures. If nothing else, we should investigate and file issues.

[2017-02-15 21:43] bjorn-ali-goransson opened #7623 "Reference to Type spanning across several entity types (and therefore tables)"
For example: I have two Entity Types `Page` and `Post`, and both implement the interface `ITeaser`. Let's say that `ITeaser` has a `Title`.

Now, I want my `Post` to have a new property `RecommendedNextRead` that is of type `ITeaser`, and can thus be of both type `Post` and `Page`.

What would be the best way to implement this? Is it even feasible?

[2017-02-15 22:43] Eilon commented on #7600
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-15 22:43] Eilon commented on #7591
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-02-15 23:31] bricelam opened #7624 "Bring back Tools"
Once Tools RTW, their releases will be back in step with the runtime. We can merge the [aspnet/EntityFramework.Tools](https://github.com/aspnet/EntityFramework.Tools) repo back into this one.

[2017-02-15 23:32] bricelam opened #7625 "Bring back Benchmarks"
We recently decided to bring the Benchmarks tests back into this repo.

[2017-02-15 23:36] bricelam opened #7626 "Add some Analyzers"
At the very least, I would like to enable the ***useful*** StyleCop rules to catch invalid XML comments. (e.g. no `<returns>` on `void` methods)

This has been working well on the Microsoft.Data.Sqlite repo.

[2017-02-16 00:05] ajcvickers commented on #7621
Closed with https://github.com/aspnet/EntityFramework/commit/64eaf6963ee5da8d913109120b6abdc018a85bf3

[2017-02-16 00:05] #7621 closed

[2017-02-16 00:08] ajcvickers opened #7627 "Stop using MOQ"
It is rarely used in new tests and tends to cause stability issues when updating dependencies, so we should probably go through and remove it from existing tests.

[2017-02-16 00:14] #7600 closed

[2017-02-16 00:29] #7591 closed

[2017-02-16 02:30] ajbeaven commented on #7396
I came across this issue today. Here's the repro:

- New console app with the following code:
[code]
- `Add-Migration Initial`
- `Update-Database`

- Add the following code to the context:
[code]
- `Add-Migration Second`
- `Update-Database`

_____

Note the addition where a max length is applied to the property.

[2017-02-16 03:25] IvanFarkas commented on #3765
@rowanmiller Great progress with EF Core 1.1. I love your EF Core 1.1 articles:

- [EF Core 1.1: Run Reverse Engineer from Code](https://romiller.com/2017/02/13/ef-core-1-1-run-reverse-engineer-from-code/)
- [EF Core 1.1 Pluralization in Reverse Engineer](https://romiller.com/2017/02/10/ef-core-1-1-pluralization-in-reverse-engineer/)

Unfortunately could not get the Pluralization to work. I'd love

[2017-02-16 05:21] trinvh commented on #7615
Sorry for the poor information. Because my code is very big so I'll not post them into this. So I'll just post the related code in Hub:

Sale Hub:

[code]

Order Repository:

[code]

In frontend, after connected to Hub, client call Hub.GetData(), it returns data perfectly.

- User F5 (refresh), works fine too.
- User calls Hub.Remove(RemoveOrderItem item), then F5, works fine too.
- User calls Hub

[2017-02-16 05:28] Jalalx commented on #7598
@ajcvickers  no, actually I was trying to use Auto Migration feature.

[2017-02-16 09:32] roji commented on #7625
Great, looking forward to seeing this and comparing providers.

[2017-02-16 10:54] rpawlaszek commented on #7601
@rowanmiller I started with a [translator for ```Math.Exp```](https://github.com/rpawlaszek/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.SqlServer/Query/ExpressionTranslators/Internal/SqlServerMathExpTranslator.cs) looking at the definition of the [translator for ```Math.Abs```](https://github.com/rpawlaszek/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.SqlServer/Query/E

[2017-02-16 12:54] aswanevelder opened #7629 "No executable found matching command "dotnet-ef" on Ubuntu"
Trying to do a dotnet ef database update on Ubuntu 16.04

root@CSDA:/var/csda# dotnet ef database update
No executable found matching command "dotnet-ef"

1. Create Asp.net core application in VS 2017 RC on Windows
2. Add Code First models
3. Add SapientGuardian.EntityFrameworkCore.MySql package
4. Change DbContext to UseMySQL
5. Works on Windows
6. Publish to Ubuntu server
7. Run dotnet ef databa

[2017-02-16 14:29] mikebrind opened #7630 "Identifier Expected error when executing migration"
I added a first migration using the CLI to a simple application, and the requisite folder and files were created. When attempting to execute the migration, it failed with the message:

[code]
On examination of the relevant files, I see this at the top:

[code]
Removing the empty `using` directives results in other errors.

### Steps to reproduce
Code to produce the console application:

[code]

Fu

[2017-02-16 15:18] smitpatel commented on #7629
@aswanevelder
1. Do you `Microsoft.EntityFrameworkCore.Tools.DotNet` package listed in your csproj?
2. Were you using `dotnet ef` in windows or powershell commands?

[2017-02-16 15:20] smitpatel commented on #7601
@rpawlaszek - Submit a pull request to this repo so that we can review the diff and give you feedback.

[2017-02-16 16:27] ErikEJ commented on #7601
http://ardalis.com/github-pull-request-checklist - and also check the contributing guide

[2017-02-16 16:29] bricelam commented on #7630
Dupe of #2467

[2017-02-16 16:35] bricelam commented on #7629
Dupe of NuGet/Home#4190. Until then, manually add it to your `*.csproj`:
[code]

[2017-02-16 16:54] natemcmaster opened #7631 "InMemory query regression: using Include causes FirstOrDefault to return null"
Queries that used to return an entity with InMemory store now return null.

**Repro**
Test: https://github.com/aspnet/MusicStore/blob/dc60a2e9c5e89d4f4324bb82e5c1af17f7d4490b/test/MusicStore.Test/StoreControllerTest.cs#L108

The query:
https://github.com/aspnet/MusicStore/blob/dc60a2e9c5e89d4f4324bb82e5c1af17f7d4490b/samples/MusicStore/Controllers/StoreController.cs#L59-L63

[code]

When the .Incl

[2017-02-16 16:59] natemcmaster commented on #7631
cc @kichalla @javiercn

[2017-02-16 17:24] ajcvickers commented on #7598
@Jalalx EF Core does not support automatic migrations. EnsureDeleted and EnsureCreated can be used for throwaway databases in things like prototyping and tests. For production databases, migrations must be created.

[2017-02-16 17:25] lundcm commented on #4073
If you're intending on just making a field unique then you can just do this and updates can be made after the initial save. This would be in the DbContext.

[code]

[2017-02-16 17:34] kichalla commented on #7631
Thanks @natemcmaster ...I didn't notice your comment...I just now found the same...here `Artist` is null because of which the query is returning null...

[2017-02-16 17:56] rowanmiller commented on #3765
@IvanFarkas there isn't native support for this. You could look at extending the internal services of reverse engineer to achieve this, but you'd be digging into internal APIs that may change between releases.

[2017-02-16 17:58] rowanmiller commented on #3765
@IvanFarkas Inflector is just used to do the pluralization, but looks like it doesn't support .NET Core. You could easily swap it out for any other pluralization service - it is only used in two places in the code.

[2017-02-16 19:05] anpete commented on #7631
@kichalla This is because Artist should never be null here - It is configured in the model as Required by convention because Album.ArtistId is not nullable. Either configure the relationship to be Optional, or ensure that the test albums have artists assigned.

[2017-02-16 19:13] anpete commented on #7631
Moved issue to MusicStore.

[2017-02-16 19:35] smitpatel commented on #7160
@maumar For https://github.com/aspnet/EntityFramework/issues/7160#issuecomment-263761436 Model doesn't have those navigations mapped. Please modify the model to include them.

[2017-02-16 20:09] anpete commented on #7220
@smitpatel #7613 doesn't fix the general case. I added another disabled test that also needs to pass.

[2017-02-16 20:12] smitpatel commented on #7499
Navigation rewrite ignores the conversion applied onto navigation. Sample test is in https://github.com/aspnet/EntityFramework/tree/propertyonderivedtype7499

Passing to @maumar

[2017-02-16 20:38] deepak-khopade-isdr opened #7633 "Referring to https://github.com/aspnet/EntityFramework/issues/6976"
Referring to closed issue # 6976 (https://github.com/aspnet/EntityFramework/issues/6976)
How should I save the relationships and what will go to the 2nd table?
Like explained by @ajcvickers below, I created the models and it has created 2 tables. Now how should i save the values when inserting the relational models?

[code]

[2017-02-16 21:30] rowanmiller commented on #3692
PR created to the docs https://github.com/aspnet/EntityFramework.Docs/pull/351

[2017-02-16 22:43] rowanmiller commented on #7618
It's unlikely that there is anything EF-specific in play here. Can you open up an issue in https://github.com/dotnet/corefx for the SQL Client team to look at (though it may be lower level than that too). It would be good to include the fill stack trace of the exception.

[2017-02-16 23:00] rowanmiller commented on #3060
Clearing up to discuss whether we want to have pluralization baked into the default experience, or whether we are ok with just having the hook to wire in your own.

[2017-02-17 01:19] smitpatel commented on #7364
We need to do analysis on formatters here. There are multiple formatters for each type, with different set of formatters on client/server side.

[2017-02-17 06:20] aswanevelder commented on #7629
That is in and works on Windows, for some reason not on Ubuntu. I created this project with the latest VS 2017 RC release.

[code]

[2017-02-17 06:38] pmiddleton opened #7640 "Unit test failing in Visual Studio 2017 RC."
I am seeing some strange behavior in 2017 RC.

The unit tests SqlServerDesignTimeProviderServicesTest and SqliteDesignTimeProviderServicesTest are failing for me when run inside Visual Studio.

The issue is that the assembly version for Microsoft.EntityFrameworkCore.SqlServer.Design is being returned as 1.0.0.0 instead of 1.2.0.0.  (DesignTimeProviderServicesTest.cs line 25)

When I view the packa

[2017-02-17 06:46] pmiddleton commented on #2850
@roji I added support for this as well as user defined functions in a fork.  See #7368

Any feedback you have on that change would be appreciated.

It was tagged as 2.0 so hopefully the change will be considered by the team in the next release.

[2017-02-17 07:02] smitpatel commented on #7640
They are running fine in current dev. You may have package versions mixed up.
Do a `git clean -xdf` followed by `build.cmd initialize` then open solution in VS.

[2017-02-17 08:19] Wayne-Mather opened #7641 "VS2017 Migration - Why Do I need to repeat code for Update-Database"
Hi,

First of all, sorry if this post is long, I am trying to include as much detail as possible to see if the problem is my ignorance or an edge case not supported yet.

The problem is after migration trying to fix the empty constructor error and having the DbContext in a separate assembly.

TLDR;

Why do we need to duplicate code just so Update-Database can work? Am I doing something wrong that

[2017-02-17 10:10] roji commented on #2850
@pmiddleton damn, too bad we both attacked the same thing... Wasn't aware of your efforts.

What you're doing obviously goes farther than what I've done, which was merely to support extensions on `EF.Functions` (i.e.  no attempt to support user-defined functions). I guess the EF Core team need to review and decide what they want to do here.

Some minor comments
* I'd personally break up the work i

[2017-02-17 11:26] JanC89 opened #7642 "Adding IDENTIFY to a an existing column"
This is not exactly a bug, but the scenario described might benefit from a warning.
It has to do with adding IDENTITY to an existing column.

### Steps to reproduce

1. Create a model with an ID and a additional field which you would want to be an IDENTITY column.
[code]
Notice that I "forgot" to add `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` to the second field.

2. Add a migration t

[2017-02-17 15:35] marchy commented on #240
@hidegh Agreed that would be super helpful. With the amount of limitations to EF object mapping we have a slew of properties outside of what's persisted. Would be much better to opt in to persisting them than opt out for everything else.

On that note, computed/get-only properties should not need to ever be explicitly ignored - by definition they can never persist lol. This should be automatically

[2017-02-17 16:06] RehanSaeed commented on #6534
Is there any indication when the 1.1.1 release will go public? Alternatively, is there a workaround for this?

[2017-02-17 16:09] pmiddleton commented on #7640
I took another look at it this morning.  I opened the net451 version of the dll in ildasm and can confirm the version is being set to 1.0.0.0  The netstandard1.3 dll is being set to 1.2.

This is happening for the following assemblies

* Microsoft.EntityFrameworkCore.Relational.Design
* Microsoft.EntityFrameworkCore.SqlServer
* Microsoft.EntityFrameworkCore.Relational.Specification.Tests
* Microso

[2017-02-17 16:16] bricelam commented on #7640
Yep. These are known issues. For now, you can safely ignore the three tests that fail.

[2017-02-17 16:20] bricelam commented on #7411
I disabled parallelization in with the move to VS 2017.

@ajcvickers This may be why the tests got six minutes slower on your machine...

[2017-02-17 17:00] Eilon commented on #6534
@RehanSaeed it's about 2 - 3 weeks out. We're working on setting up a MyGet feed so people can try out the patch fixes.

[2017-02-17 17:07] bricelam opened #7644 "Tests: Use SQLite In-Memory databases"
All of our SQLite functional tests use an on-disk database. In theory, we could speed things up by using in-memory databases where possible.

[2017-02-17 17:08] smitpatel commented on #7411
either this or #7195  should be closed as dupe.

[2017-02-17 17:09] bricelam commented on #7644
We could also consider using [Write-Ahead Logging](https://www.sqlite.org/draft/wal.html).

[2017-02-17 17:10] ajcvickers commented on #240
@marchy If you are finding read-only properties (i.e. properties without a setter) being mapped automatically, then can you please file a new issue with a repro. That should not be happening.

[2017-02-17 17:14] ajcvickers commented on #7642
@JanC89 Given that the 'ID' column is identity by convention and that SQL Server can only have one identity column per table, what is the behavior you would expect for this scenario?

[2017-02-17 17:16] ajcvickers commented on #7642
At least assuming only one identity column per table, this is a dupe of #5345 which is fixed in 1.1.

[2017-02-17 17:16] Shayon commented on #7582
Hey @rowanmiller, we've been running some tests and we are able to make _some_ progress, take a look at some of our release-build diagnostic sessions:
Note: For all the pictures below, there is a first load, (importing data into an empty DB), and then an update load, (importing the exact same data as an update)

This is what we started out with on https://github.com/Shayon/uwp-sample/tree/ef_perf_

[2017-02-17 17:44] ErikEJ commented on #7644
"in theory" - I think it would be better to spend time on improving the SQL Server tests for speed.

[2017-02-17 18:17] Eilon commented on #7078
Moving to `External` milestone per yesterday's discussion.

[2017-02-17 18:51] #7312 closed

[2017-02-17 18:59] maumar opened #7647 "Query/Cleanup : remove redundant compilations of subquery models when processing MainFromClause, AdditionalFromClause and Join/GroupJoin clauses"
When processing MainFromClause, AdditionalFromClause, JoinClause inner sequence and GroupJoin inner sequence, we first compile the expression and then check if its a subquery (and if so, compile again).

We should revert the order, first try to compile as subquery, and only if that fails compile the second time. This will simplify the query compilation as well as fix some more instances of issue d

[2017-02-17 19:04] rowanmiller commented on #7642
Closing as dupe of #5345

[2017-02-17 19:06] rowanmiller commented on #7640
@bricelam is this tracked somewhere already?

[2017-02-17 19:21] rowanmiller commented on #7582
We are going to test this on 1.1.1 and see if it is improved. If not, we'll hand of to .NET Native team to investigate.

[2017-02-17 19:35] hidegh commented on #240
@bjorn-ali-goransson
i still wote for nhibernate. it's more mature and had features from 2007 that EF6 still has not. not to mention that it's architecture must be cleaner, cause a 3rd party fluent mapping api to NH is more powerful that the original one in EF6.

Actually I did a test (last week) and here's the result:

**EF6** - due to convention I can do a protected internal virtual property map

[2017-02-17 19:38] jnm2 commented on #240
@hidegh NHibernate not having any async support is a dealbreaker for me.

[2017-02-17 19:45] tuespetre commented on #7647
I have addressed this with changes in #7543. It's part of the whole 'impossible to split further' thing.

[2017-02-17 21:05] maumar opened #7648 "Query/Cleanup : JOIN/LOJ queries wrapped in client projection could be simplified to ShapedQueries to reduce client evaluation"
The following query:

[code]

produces the following query plan:

[code]

Currently we produce client join here because the outer element (which is a join itself) has a client projection. However, we only project Outer element of that translated join, so it could be simplified to ShapedQuery.

This in turn would allow outer join to get simplified - currently we don't try to translate joins if one

[2017-02-17 21:09] maumar commented on #7647
This would be a great candidate to break off that big PR - it should be just few lines of code (call LiftSubquery before CompileMainFromClauseExpression/CompileAdditionalFromClauseExpression/CompileJoinClauseInnerSequenceExpression/CompileGroupJoinInnerSequenceExpression with some extra checks) and it provides decent value on its own.

[2017-02-17 22:17] omayhemo commented on #2725
Those items listed have now been closed.  When can we expect inclusion?

[2017-02-17 22:20] JanC89 commented on #7642
@ajcvickers

I can see my example was not the best.
The scenario I experienced was the following:

I had a "bridge"/join table to support a many-to-many relation.
[code]
with the model:
[code]

When EF created the migration/table it didn't make the ID a key or IDENTITY (I know from a DB design point of view having the ID key is not needed as you have the composite key).

So I changed to the follow

[2017-02-17 22:23] bricelam commented on #7644
True, they take about twice as long as the SQLite tests. I'm mostly just looking for easy wins here; I agree we shouldn't spend a lot of time on it.

[2017-02-17 22:24] bricelam commented on #7640
The two @pmiddleton mentioned should cover it.

[2017-02-17 22:28] ericsink commented on #7644
I do use :memory: databases for (most of) my automated tests for SQLitePCL.raw.  Works out well, except of course for those cases where I *need* to test interaction with the file system.

[2017-02-17 22:29] bricelam commented on #7396
This and #7535 may be duplicates

[2017-02-17 22:41] bricelam commented on #7641
Unfortunately, the migration to VS 2017 is incomplete for UserSecrets. The final step is to change the call in Startup from `.AddUserSecrets()` to `.AddUserSecrets<Startup>()`. They are aware of this and are looking at ways of making the experience better before VS 2017 RTM.

[2017-02-17 22:57] bricelam commented on #7557
External issue: dotnet/corefx#15031

[2017-02-17 23:29] ajcvickers commented on #7642
@JanC89 For that case this seems to be a pure dupe of #5345.

[2017-02-17 23:29] rowanmiller commented on #7557
@bricelam should this be closed on our side now?

[2017-02-17 23:32] rowanmiller commented on #7642
Just to be explicit, #5345 is closed as fixed and the operation will throw if you upgrade to 1.1.

[2017-02-17 23:33] rowanmiller commented on #2725
The main features we talk about being higher priority are the ones listed here https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features. There is still quite a list of them that have not been implemented.

[2017-02-17 23:42] divega commented on #7605
Possibly a generalization of #2725 could help this scenario, i.e. an annotation that once added to an element in metadata, instructs migrations not to create the corresponding database object for it.

[2017-02-17 23:44] rowanmiller commented on #7614
Note for triage: I have the project for this (provided offline by @DamirLisak), so we can assign for investigation.

[2017-02-17 23:47] anpete opened #7652 "Query: Navs: Compiler exception when projecting nav through GroupJoin"
Query:
[code]
Stack:
[code]

[2017-02-17 23:49] vaindil opened #7653 "Prevent EF from updating a column"
I have a column that is managed entirely by my DB--a default value is set, then it is changed only by triggers after that. I can't find a way to prevent EF from ever attempting to update that column while still allowing me to read from it.

[Generated properties](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties) aren't the answer, as the docs say an explicit value will overwr