[2015-05-19 02:52] bricelam commented on #2226
A couple of usecases that we have so far:
- Exclude some annotations form the model snapshot
- Copy some annotations to the migration operations

[2015-05-19 06:35] MichaelKetting commented on #2162
Good to know. Thanks :smile:

[2015-05-19 10:29] jsacapdev opened #2228 "ef migration fails on coreclr (FileNotFoundException)"
project.json:

[code]

using unstable coreclr:

[code]

output from command line (with DNX_TRACE=1):

[code]

switch to clr:

[code]

...and works as expected:

[code]

[2015-05-19 10:31] jsacapdev commented on #2228
Possibly related to (also using coreclr):

https://github.com/aspnet/EntityFramework/issues/2153

[2015-05-19 11:30] tingvast commented on #325
What is the current status for this issue?/Tobias

[2015-05-19 15:45] wangkanai opened #2229 "Temporal Table Support (new in SQL Server 2016)"
Do you have any plan to integrate Temporal table to align the feature from Sql 2016?

[2015-05-19 19:44] #2130 closed

[2015-05-19 20:55] bricelam commented on #2153
@lajones, This is the issue @davidfowl and I [mentioned in your first Templating PR](https://github.com/aspnet/EntityFramework/pull/2021#discussion_r29086742).

[2015-05-19 20:56] bricelam commented on #2228
Yes, this is the same issue.

[2015-05-19 21:29] matthewDDennis opened #2232 "Multiple problems with 13202"
I have a Linq query
[code]
1 the result does not contain any of the included Authors
2 if I comment out the .Select(), the I get error complaining the a.PublishingStatusId and a.ArticleTypeId do not exist and that I need to run a migration

If I just ask for one Article, I get the Authors
[code]

[2015-05-19 21:32] maumar commented on #2232
Could you provide a repro project that we could use to investigate the issue?

[2015-05-19 21:54] lnaie opened #2233 "PMC commands detailed in the wiki page won't work"
Hi,

This is the help page that I've used trying to apply the pre-generated migration of a default vnext MVC project:
https://github.com/aspnet/EntityFramework/wiki/Using-EF7-in-Traditional-.NET-Applications

There's no Add-Migration or Apply-Migration PMC command.
I had to run the following command to get the migration applied:
PM> dnx ./ProjectPath ef migration apply

Wasting time on simple stuf

[2015-05-19 22:13] rowanmiller commented on #2233
Hey,

That page is about traditional .NET applications (WPF, WinForms, ASP.NET vCurrent, etc.). For ASP.NET 5 the commands don't work in PMC (at least not yet). You can use `dnx . ef` at a command prompt for ASP.NET 5 (or you can do it via PMC as you discovered).

~Rowan

[2015-05-19 22:22] bricelam commented on #2233
(See also aspnet/dnx#952)

[2015-05-19 23:49] matthewDDennis commented on #2232
Will do on the morning.

-----Original Message-----
From: Maurycy Markowski
Sent: 19/05/2015 5:32 PM
To: aspnet/EntityFramework
Cc: Matthew Dennis
Subject: Re: [EntityFramework] Multiple problems with 13202 (#2232)

Could you provide a repro project that we could use to investigate the issue?

—
Reply to this email directly or view it on GitHub.

[2015-05-20 00:58] rajajhansi opened #2234 "Modeling an entity that has multiple foreign keys in EF7"
I have a table named Favorites with the fields MemberId, PostId and TopicId that are technically foreign keys pointing to the ID fields of the tables: Members, Posts and Topics. In SQL Server, they are not modeled as Foreign Keys but just as fields. When I reverse engineered that  database, EF7 generated the following C# POCO class for Favorites:
[code]
It looks like I have to introduce the virtua

[2015-05-20 01:39] divega commented on #2234
Thanks for reporting this. At first glance reverse engineering is behaving as designed.

The issue with the query could be #325 which is a known limitation at this stage, but I can't tell for sure. @maumar can you take a

[2015-05-20 01:48] divega commented on #2234
#1543 seems to be a better match but addressing it could be part of addressing #325.

[2015-05-20 01:51] rajajhansi commented on #2234
@divega, I looked at both the issues #1543 and #325. Looks like it fails even before it generates the SQL statements because I don't see anything in SQL Profiler.

[2015-05-20 02:22] rajajhansi commented on #2234
The same query runs just fine in EF6.X.

[2015-05-20 04:53] ErikEJ opened #2235 "Need base test packages on MyGet"
Or maybe I should not be running them?
Or maybe they are in the wrong dll?

I currently need (and use):
 From EntityFramework.Core.Tests:
 EntityFrameworkServiceCollectionExtensionsTest
 ApiConsistencyTestBase

From EntityFramework.Relational.Tests:
 MigrationSqlGeneratorTestBase

[2015-05-20 12:36] ErikEJ opened #2236 "Myget feed"
Not really an issue, but anyway:
What is the status on the "daily " build, seems to have been stuck for some days now (and I am falling more and more behind)

[2015-05-20 16:58] rowanmiller commented on #2236
Hey Erik,
There was some wide-reaching dependency upgrades going on that affect EF7 and ASP.NET 5... should be resolved today.
~Rowan

[2015-05-20 17:26] matthewDDennis commented on #2232
You can get the repository with tests that recreate the issues at
https://github.com/matthewDDennis/E7Issue.git

[2015-05-20 17:53] ErikEJ commented on #2236
Aaah - love "beta" land!

[2015-05-20 18:12] rowanmiller commented on #2234
@anpete probably a dupe of #1543 but leaving open so we can verify when that is fixed

[2015-05-20 20:12] natemcmaster commented on #2121
BuiltInDataTypesTest continues to have problems on DNX core, even with #2230. Failures are due to the table not being created correctly.

[2015-05-20 20:15] maumar commented on #2232
Thanks!

[2015-05-20 20:43] rajajhansi commented on #2234
@rowanmiller, I should have paid attention to the warning you gave on ado.net blog about not using it on production go live apps but was worried about using EF6 with ASP.NET5. It is a bit of annoyance to connect the new configuration json with EF6 and also having to keep the EF6 references onto a separate VNext class library and add that class library as a project reference to my ASP.NET5 web appl

[2015-05-20 21:05] natemcmaster opened #2238 "Graph updates fail when using identity instead of sequence"
Some types of graph updates fail when using identity instead of sequences. This is the reason graph updates fail for Sqlite (see #2121). The failure is caused when the new principal entry cannot be found (see NavigationFixer.cs:51) because it does not have the proper foreign key yet to discover.

To produce, add ```modelBuilder.ForSqlServer().UseIdentity();``` to the model configuration in the Gra

[2015-05-20 21:07] natemcmaster commented on #2121
Blocked on a bug in update pipeline. #2238

[2015-05-20 21:29] rowanmiller commented on #2234
@rajajhansi the warning against production use would apply as much to ASP.NET 5 as it does to EF7... so if you are using ASP.NET 5 then I think EF7 would be the logical choice. Using EF6 is possible... but it's not ideal (as you already mentioned).

[2015-05-20 21:55] rowanmiller commented on #2235
@ErikEJ we discussed in triage today and the thoughts are that you should just copy this code, at least for the moment. We may split things up a little more in the future, but publishing these whole test suites doesn't seem like the right thing to do.

[2015-05-20 21:56] rowanmiller commented on #2229
**Triage** For the most part basic query etc. should just work. We do want to look at ability to query particular points in time etc., but we will look at this once we ship the initial RTM.

[2015-05-20 22:37] anpete commented on #529
Closing as we no longer require MARS.

[2015-05-20 22:37] #529 closed

[2015-05-21 02:05] matthewDDennis commented on #2232
I've updated the test repo to correctly use Identity Primary Keys.

[2015-05-21 16:02] matthewDDennis opened #2243 ".ForSqlServer().Column("AName") fails to change name of column"
I have a class

[code]

If my Code First Configuration is

[code]

then the PK in the table is "Id" not the expected "BadIdentityId".
If I move the ForSqlServer() after the Column(...) then it works.

[code]

I have created a repo with tests for EF issues as I find them at https://github.com/matthewDDennis/E7Issue.git
The test you should see is OrderOfForSqlDoesNotMatter().

Why does SqlServerProp

[2015-05-21 16:30] matthewDDennis opened #2244 "New Code First Fluent Configuration API"
I am attempting to get a head start on re-writing our website using ASPNET 5 and EF7.  I recognize that it is still in Beta, but I am finding some serious (reported) issues with EF7, or at least my use of it.
**Is there any documentation on how to use the new API?**

I'm finding that some of the allowed methods are dependent on the order previous methods in the chain to work correctly.  I would ha

[2015-05-21 18:14] Nebelkraehe opened #2245 "How to detect changed properties?"
Hello.

At the moment I´m looking for a method/property delivering the changed properties inside an entity.
I detect the changes by `EntityState` but I can´t find any access to receive only the changed properties without iterating the whole properties for changes.

In earlier versions this information was accessible by `ObjectStateEntry.GetModifiedProperties()`. Is there any equivalent way in EF7?

[2015-05-21 19:27] MatthewMWR commented on #753
+1. I got nailed by this my first time out trying EF7 (experienced as per https://github.com/aspnet/EntityFramework/issues/1026 ).

[2015-05-21 19:54] MikeWasson opened #2246 "Assigning boolean in Select statement throws invalid cast."
I have a DbContext like this:

    public class BookContext : DbContext
    {
        public DbSet<Author> Authors { get; set; }
     }

This code throws an invalid cast

    var x = BookContext.Authors
        .Select(x => new
        {
            Text = x.FirstMidName,
            Value = x.AuthorID.ToString(),
            Selected = true  // Throws invalid cast
        }).ToList();

Works fine

[2015-05-21 20:29] mikary opened #2247 "Mitigate SQL Server tests timeout when creating databases"
SQL Server uses an exclusive lock on the "Model" system database when creating new databases. If enough concurrent database creation calls are made, the calls will be queued and eventually time out. This behavior can be observed with the following program by adjusting the number of threads and timeouts based on the available resources.

[code]

The reliability of the SQL Server functional tests ca

[2015-05-21 20:33] mikary commented on #1971
Opened #2247 to track long term solution for this issue, for now the work around (running tests with no parallel option) appears to resolve the issue for the CIs.

[2015-05-21 20:33] #1971 closed

[2015-05-21 20:54] rowanmiller commented on #2209
Added a workaround to the top of this issue. Note that the fix for the System.Runtime issue (https://github.com/aspnet/EntityFramework/pull/2207) has not yet made it to our nightly feed so using the workaround at the time I'm writing this will still fail.

[2015-05-21 20:56] rowanmiller commented on #2209
Leaving open as many folks are hitting this and it's critical to our experience... marking as blocked since it's a NuGet issue. Will close once we verify it is fixed in nightly NuGet builds.

[2015-05-21 21:25] matthewDDennis opened #2248 "Issues with accessing values in joined tables"
In the following query, if _tagIds_ has no values, I get a result, buf it _tagIds_ has values then I get an error.  I'll try to create a simple test repo for this.

[code]

On the debug output

[code]

On the Database Error Page

[code]

[2015-05-21 21:32] smitpatel commented on #2243
The issue is actually not about ordering.
At present Migrations don't use the columnname annotation set for sqlserver so `ForSqlServer().Column(...)` doesn't have any effect which is bug.
But if you put `Column(...)` right after `Property(..)` it will use Relational annotations which are being used in migrations so that would work as you intend to.

We have Column method in SqlServerPropertyBuilde

[2015-05-21 21:34] smitpatel commented on #2243
the issue is being tracked at #1975

[2015-05-21 21:45] rowanmiller commented on #2243
Closing as this is covered by the issue @smitpatel linked to (#1975).

Note we also decided in today's API review to remove the `ForSqlServer()` method and just have root level methods like `SqlServerColumn(...)`. Also note this just allows a different column name to be set for individual relational providers (i.e. ProductId on SQL Server and PRODUCT_ID on Oracle). You can just use `Column(...)` i

[2015-05-21 21:51] matthewDDennis commented on #2248
Further work leads me to think there is an issue with the generation of SQL that references properties on joined tables. For example the following fails if I uncommented the commented lines,
[code]
For reference, the Code First Configuration is
[code]

[2015-05-21 22:01] matthewDDennis commented on #2248
Furthermore, changing the query as shown also fails
[code]

[2015-05-21 22:19] rowanmiller commented on #2248
These are all due to lack of navigation property translation, which is tracked by https://github.com/aspnet/EntityFramework/issues/325

Here are the fragments from the three examples that use navigation properties:
* Number 1: `.Select(atl => atl.Article)`
* Number 2: `.Where(atl => atl.Article.PublishingStatusId == (byte)2 ...` (note the example has this commented out but text says an error occur

[2015-05-21 22:21] rowanmiller commented on #2244
No documentation at the moment as the API is still changing rapidly. We will start on documentation once we have completed our initial round of API reviews (currently in progress). For example, today we decided to remove the `ForSqlServer()` pattern and just have top level `SqlServerColumnName(...)` APIs.

[2015-05-21 22:22] rowanmiller commented on #2244
BTW unless you want different column names for different providers, `Column(...)` is the API you want. Though using the SQL Server specific API will also work just fine once it's fully implemented.

[2015-05-21 22:27] rowanmiller commented on #1170
Re-opening this to track the all up scenario on our end since it's not completely working yet. Marking as blocked since we are waiting on updates from another team.

[2015-05-21 22:31] natemcmaster commented on #2238
Further investigation: this is a problem with the sequencing of updates.

When adding a new entity, StateManager.SaveChanges()

:arrow_right:  updates a *StoreGenerateValues* sidecar

:arrow_right: triggers NavigationFixup

:arrow_right: works incorrectly because it is using the **temporary/placeholder** value because StoreGenerateValues sidecar has not yet been committed.

:arrow_right: StateMana

[2015-05-21 22:36] matthewDDennis commented on #2248
Wow.
The issue has been open for just short of a year, and limits the use of EF7 to only the most trivial of queries.

::frowning::

[2015-05-21 22:44] rowanmiller commented on #2248
@matthewDDennis EF7 is a new code base so it's just a matter of working thru things in the order it makes sense to implement them... that's why it's still pre-release :smile:

[2015-05-22 02:37] matthewDDennis commented on #2248
I switched to creating the initial IQueryable with a FromSql(...).

I'm very impressed that the query and can then be composed with additional statements to filter, order, and page the result.

[2015-05-22 04:58] ErikEJ commented on #2209
@rowanmiller  Where do we get NuGet updates for VS 2015 RC?

[2015-05-22 05:11] ErikEJ opened #2252 "Versioning of EF Test MyGet packages"
Great that those test packages are now available for easy comsumprion in for example providers. But there seems to be a issue with the versioning, as both packages have version 1.0.0.  It would be useful if they had the same version number as the "daily" build.

     EntityFramework.Core.FunctionalTests  v1.0.0

[2015-05-22 09:25] aguacongas opened #2253 "error CS7068: Reference to type 'ModelBuilder' claims it is defined in this assembly, but it is not defined in source or any added modules"
I use class library which reference EntityFramework.SqlServer, it doesn't compile with this message in build log:
`DNX 4.5.1 error CS7068: Reference to type 'ModelBuilder' claims it is defined in this assembly, but it is not defined in source or any added modules`
And VS 2015 RC says in bubble:
`CS0012 The type 'DbContext' is defined in an assembly that is not referenced. You must add a reference

[2015-05-22 14:47] glen-84 commented on #1775
Maybe `--dry-run` ? (see [here](http://docs.doctrine-project.org/projects/doctrine-migrations/en/latest/reference/managing_migrations.html))

[2015-05-22 15:49] lajones commented on #2153
Fixed with #2251. Closing.
@GuardRex - should be in tonight's build. Give it a try and please re-open if any problems.

[2015-05-22 15:49] #2153 closed

[2015-05-22 15:51] bricelam commented on #1775
`-WhatIf` is a first-class concept in PowerShell. We could consider using `--dry-run` in the DNX (and Console) commands, but I think there is more value in using a common language between the different interfaces.

[2015-05-22 15:53] bricelam commented on #2252
Doh, good catch.

[2015-05-22 16:33] #2252 closed

[2015-05-22 16:52] ErikEJ commented on #2252
:clap:

[2015-05-22 16:53] rowanmiller commented on #2209
Fix for https://github.com/aspnet/EntityFramework/issues/2152 has made it onto the nightly feed, so the workaround listed at the top of this issue will now successfully install the latest nightly builds.

[2015-05-22 16:54] rowanmiller commented on #2152
The fix for this has now made it onto our nightly feed. You will need to use the workaround for https://github.com/aspnet/EntityFramework/issues/2209 to avoid a hang when installing the package.

[2015-05-22 16:56] ErikEJ commented on #2209
@rowanmiller  :clap: Works like a charm with the latest bits, which now includes #2152

[2015-05-22 17:05] rowanmiller commented on #2209
Simplified the workaround down to the shortest list of package installs that will avoid the hang.

[2015-05-22 17:11] glen-84 commented on #1775
Ah, okay, I didn't know about that. It's a bit of an odd name. :smile:

I think the DNX commands use lower or possibly camelCase, so I guess it'll be `--whatif`, `--what-if`, or `--whatIf`.

[2015-05-22 17:13] ErikEJ commented on #2209
Had to downgrade Remotion-Linq, this should not be a problem now with the shorter list of packages

[2015-05-22 17:41] glen-84 opened #2256 "Add the ability to run migrations on DbContexts in referenced assemblies"
As far as I know, this is not currently possible. The use case is to create a modular system, where modules (in separate assemblies) each contribute one or more DbContexts to the main application. When you run `migration add` on the main project (possibly with the `--all` [flag](https://github.com/aspnet/EntityFramework/issues/1813)), it will include DbContexts in referenced assemblies.

I don't k

[2015-05-22 18:05] natemcmaster commented on #2238
Added tests to my fork that repo this issue.
 https://github.com/natemcmaster/EntityFramework/tree/issue2238

[2015-05-22 18:05] rowanmiller commented on #2256
We have an item tracking the higher level work for this. Leaving this one open to track this particular scenario though.

[2015-05-22 18:09] rowanmiller commented on #2253
@mikary can you try and repro this. Only the reference to the provider is needed. Possibly a DNX issue.

[2015-05-22 18:35] rowanmiller commented on #2245
Here is the code you need to write at the moment.

[code]

Leaving open as this code is worse than I was expecting and we may want to bump up priority of implementing the missing APIs here.

[2015-05-22 19:50] divega commented on #2248
We are very happy to offer that feature. Glad you like it! :smile:

[2015-05-22 20:13] bricelam opened #2258 "Migrations: Get active provider"
The idea being that you could then write something like this in your migration (or migration builder extension methods):
[code]

[2015-05-22 20:22] ErikEJ opened #2259 "Tests now fail - what am I missing?"
Have just updated my provider to latest daily build (13266 packages) - was on 13022.

Now tests fail, because the wrong table name is chosen. They passed with the previious daily and yhey also pass with the current SQLIte provider, so I must be doing something wrong, but what?

System.Data.SqlServerCe.SqlCeException : The specified table does not exist. [ Customer
(The table name is actually Custo

[2015-05-22 20:27] bricelam commented on #1825
I chatted with @rowanmiller today, and we decided to do the following for RTM.

We'll scaffold migrations that are specific to the active provider. For example, given the following model...

[code]

...the following migration would be generated if SQL Server was the active provider at design-time.

[code]

However, to unblock people from hand-crafting migrations that can run against multiple provi

[2015-05-22 20:54] rowanmiller commented on #1825
...and once we have everything working we can look at scaffolding something like the conditional code in the final snippet when there are multiple providers registered... but that will presumably be post 7.0.0.

Also worth noting that by having the current provider accessible to the migration code we are already better than EF6, so we easily clear the "EF6 parity" bar.

[2015-05-22 21:02] bricelam commented on #2203
`dnx46` support is coming in aspnet/dnx#1929

[2015-05-22 21:47] mikary commented on #2185
It looks like the root cause here is that ```AsNoTracking``` and ```FromSql``` are now implemented by calling ```AnnotateQuery``` and not actually being registered as supported methods in the expression node. As a result, when these annotations are used in a closure, the parser is unable to resolve them.

We should be able to continue using the same ```ResultOperator``` for all of the query annota

[2015-05-22 23:15] balachir opened #2261 "Add ef migration for a conext without namespace, we get ArgumentNullException"
Using Dev14 RC (beta4)
1. New Empty Web API app : AspNet5BookService
2. Add class Author.cs to Models folder

[code]

3, Add BookServiceContext.cs class to Models folder - but forgot to set the namespace

[code]

4, Add EF migration

**ACTUAL**
Exception below. It took a little while to figure out that missing namespace was the issue

![image](https://cloud.githubusercontent.com/assets/8246794/778

[2015-05-23 08:37] ErikEJ commented on #2259
Some debugging: The test model is not properly created, and therefore the table name annotation is never added

I can see that this call just returns when debugging, and :

     public static Func<IServiceProvider, IModelSource> GetFactory(Action<ModelBuilder> onModelCreating) =>
            p => new TestSqlServerCeModelSource(
                onModelCreating,
                p.GetRequiredService<

[2015-05-23 12:23] ErikEJ commented on #2259
Doh - nailed it:

    public static Func<IServiceProvider, **SqlServerCeModelSource**>

Small but important change not caught in the hailstorm of code changes

[2015-05-23 14:47] glen-84 commented on #2256
@rowanmiller,

Is the concept described in question 2 above theoretically possible? i.e. Creating a relationship to an entity by interface only (no concrete type immediately available).

PS. If the work item that you refer to is here on GitHub issues, please share the issue number.

[2015-05-23 15:32] divega commented on #1563
I found this item sitting on my plate for investigation, but I think it either belongs in the backlog or closed, so clearing up milestone for re-triage.

The main point I gather from the conversation is to make it easy to have base models that are extended dynamically/programmatically, which is a valid and important scenario.

However, some of this is already possible, e.g. applications using ASP.

[2015-05-23 16:38] divega commented on #1513
Looking at items that have been sitting on my plate for some time I found this one that I think at this stage either belongs in the backlog or possibly closed if we believed it is something we are never going to do, so clearing up milestone.

The main point is obviously to have truly schema-less models, where each instance can have its own shape, or at least some more limited but still useful vers

[2015-05-23 18:38] divega commented on #1063
Moving straight to our backlog as we are not going to make much progress in this area for EF7 RTM, but it still of high importance after that. Also following up with Craig on email.

[2015-05-24 00:44] heathyates opened #2263 "Many to One in API Seems Obfuscated Now"
My colleague @WillBaldwin and I contacted a member of the Entity Framework team and they encouraged me to talk here about the recent change from beta3 to beta4 api. Specifically, I feel the following change as shown below is not necessarily for the best.
# Previous

`builder.Entity<Room>().HasMany(a => a.Books);`
# New

`modelBuilder.Entity<Book>().Collection(c=>c.Books).InverseReference(o=>o.Room

[2015-05-24 01:44] MikhailNazarov opened #2264 "Selecting by property of related entity throws System.InvalidOperationException : Sequence contains more than one element"
Hello, next line  throws System.InvalidOperationException : Sequence contains more than one element
var items = ctx.Class1.Where(c => c.Class2.Property == "value").ToList();

Repository with minimal sample code:

https://github.com/MikhailNazarov/ef_bug

[2015-05-24 01:46] patrickmichalina commented on #2263
@heathyates :+1:

[2015-05-24 03:57] rhires commented on #2094
@jbehrens94 - hi...I see that you got far enough with getting EF installed that you can try to use it. I've looked around a bit but don't see anything resembling instructions on how to do what you did. In other words, how did you get EF even on your Mac to determine it wasn't completely workable? There are steps I'm missing but you've either found them or you figured it out...please help?

[2015-05-24 08:22] satyajit-behera opened #2266 "Relational: TPT inheritance mapping pattern"
Even if TPT is considered slow, it is a boon for many real world business scenarios. If implemented properly and well thought of, TPT is not slow for a given need in most of the cases.

If possible, optimization can be done to TPT.
But its a very important feature for EF to be accepted for developing DDD applications.

The other method, Composition over Inheritance does not look viable since we ca

[2015-05-24 16:00] alfkonee opened #2267 "Inherited Classes Mapping"
Inherited Classes in EF models need to be related in the database with the Generalization rule in database normalization.
Eg: I have four classes Person Guardian Student and Teacher. The last three inherit from the first but when I run the CreateTables function for database I get four different Tables each with all the fields inherited from the Person table. Instead of the related tables I would h

[2015-05-25 14:14] roji commented on #1665
@bartdevriendt, @anpete, @rowanmiller, Npgsql has the same issue with the lack of MARS support.

Since non-MARS is a pretty common case (maybe even the normal case?), doesn't it make sense for the EF core to contain a compatible query compiler and/or necessary services? This way driver writers would simply choose the non-MARS one rather than reimplementing their own?

On a related note, I'm (still

[2015-05-25 14:21] roji commented on #1665
Just to add a little on my last note...

Npgsql is nearing the end of a pretty huge rewrite (3.0.0-beta.1 has just been released). The option of implementing MARS via SQL cursors does exist, but doing it in a correct and efficient way would be a pretty big task that I really want to avoid for the immediate future. I'd also like to avoid implementing a performance-problematic solution such as buffe

[2015-05-25 14:46] divega commented on #1665
Hi @roji, de actually did adress this issue in PRs https://github.com/aspnet/EntityFramework/pull/2177 and https://github.com/aspnet/EntityFramework/pull/2198. Unfortunately the change appears in GitHub as if it had been force-pushed so there aren't any changes associated with the PR, but in summary providers override 'RelationalConnection.IsMultipleActiveResultSetsEnabled' to control the EF runti

[2015-05-25 14:46] #1665 closed

[2015-05-25 14:53] roji commented on #1665
@divega, thanks for the quick answer. Great, I'll go and implement that and will write back if there are any issues.

Do I understand correctly that this non-MARS simply buffers the data from the open reader in memory? Do you guys view this as an adequate solution from a performance perspective? At least for stuff like simple `Include`s, I was expecting simple SQL joins rather than any reliance on

[2015-05-25 17:09] divega commented on #1665
@roji It depends :smile: but we believe that in many cases this will be better than the alternative.
@anpete implemented it so he may want to correct me or provide more details, but here are a couple of points that should help explain it:

1. The implementation of `Include()` still uses JOINs in cases in which they would preserve the cardinality of the results. It only switches to multiple queries

[2015-05-25 17:13] divega commented on #1665
@rowanmiller @anpete I assigned the beta5 milestone to this but I suspect it might have been addressed for beta4. Could you check if is correctly resolved?

[2015-05-25 17:45] ErikEJ commented on #2209
@rowanmiller  Still broken, when running

     Install-Package EntityFramework.Commands -Pre

after installing the initial packages, VS hangs forever.

Do I need a NuGet daily, or is there a workaround?

[2015-05-25 20:18] roji commented on #1665
@divega, thanks for the patient explanation.

Regarding your first point, I can definitely see cases where what you describe makes sense. I'll let you guys know if I see an instance where MARS/buffering behavior seems needless.

Regarding your second point, I wasn't aware that EF attempts to allow multiple concurrent queries regardless of underlying database MARS support. At the ADO.NET level this

[2015-05-25 21:32] julielerman commented on #2209
Confirming with v 13266.

With the workaround:
ix-async
ef.core
ef.sqlserver installed fine.

But like Erik, with
ix-async
ef.core
ef.command failed (hung)

[2015-05-25 22:53] pawelpabich opened #2268 "Add ability to skip the top level model snapshot"
First of all great job with EF7. Now it can be used in team environment :).

If I understand correctly the top lelve CONTEXTNAMEModelSnapshot is not used by EF. Could you add an option to disable its generation? I'm happy for it to be disabled out of the box. I know why it is there but I would like to have fewer than more merge conflicts :).

[2015-05-26 02:20] jdaley opened #2269 "Table column order doesn't follow class property order"
In 7.0.0-beta3 and EF6, migrations create table columns in the same order that the properties appear in the entity classes. In 7.0.0-beta4, migrations no longer respect this ordering.

Column order makes a big difference to the debugging and support experience when using SQL Management Studio for example. If I'm on a support call and do a quick `select * from something`, the results are presented

[2015-05-26 03:33] jdaley commented on #2263
One vote for the new names here. I always found the relational modelling language mixed into the entity modelling code a bit hard to follow.

Not sure if you intended it, but your example implies beta4 requires both ends of the relationship and the foreign key to be specified explicitly, whereas beta3 did not and thus had much more concise syntax. I don't think that is the case? The `InverseRefere

[2015-05-26 05:48] ErikEJ commented on #2209
Maybe something like this https://github.com/aspnet/EntityFramework/commit/44955eb7241b083f1c0c3f01d4579caa2d05531b is missing from the EF.Commands project.json ? @bricelam ?

[2015-05-26 06:05] ErikEJ opened #2270 "Package naming"
For my EF/ SQLCE provider, I cannot "hijack" EntityFramework.SqlServerCompact - any recommendations/suggestions for package names? (As I plan to release a package on NuGet.org that matches beta5) ? EntityFramework.SqlServerCompact.ErikEJ  ? Or EntityFramework.SqlServerCompact.7 or EntityFramework7.SqlServerCompact  ?

[2015-05-26 07:29] Boglen commented on #2267
try
public class SomeContext : DbContext
{
public DbSet<Person> Persons {get;set;}
}

not public DbSet<Guardian > Guardians {get;set;} and etc

[2015-05-26 08:02] Nebelkraehe commented on #2245
Thank you very much.
A direct access would be great.

[2015-05-26 11:15] Nebelkraehe commented on #2245
How about inserting this two methods into [EntityEntry](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Core/ChangeTracking/EntityEntry.cs)-Class?
[code]

[2015-05-26 12:18] aguacongas commented on #2253
Ok, I found where was the problem:
I've a submodule to a fork of EntityFramework in my solution. But this fork wasn't up to date for beta4

[2015-05-26 15:38] alfkonee commented on #2267
I'm using IdentityDbContext will it still work if I remove the Inherited classed DbSet

[2015-05-26 16:34] rowanmiller commented on #247
Moving into 7.0.0 since we are in the process of enabling at least some scenarios at the moment.

[2015-05-26 16:34] rowanmiller commented on #2267
Inheritance isn't fully implemented yet in EF7. Pieces of it are implemented but there is no end-to-end support enabled yet. The work is being tracked by https://github.com/aspnet/EntityFramework/issues/247.

[2015-05-26 16:40] bricelam commented on #2270
Oh lame; *EntityFramework.SqlServerCompact* would have been ideal. We actually hit a related (but less severe) issue because the EF6 provider assembly was named EntityFramework.SqlServer.

[2015-05-26 16:49] anpete commented on #2264
Dupe of #325 and related to #1799

[2015-05-26 16:49] rowanmiller commented on #2270
EntityFramework.SqlCE or SqlServerCE?

[2015-05-26 16:52] rowanmiller commented on #2270
BTW we have also had some discussion around including the major version in our package name EntityFramework7.XYZ. There are obviously some serious downsides to doing this... but also some big benefits (especially around not automatically upgrading between major versions with breaking changes). We haven't decided either way... but we are discussing.

[2015-05-26 16:56] anpete opened #2272 "Column ordering"
**Outcome from much discussion on this topic...**

In EF6 we tried having column order match the order of properties in the class. The issue is that reflection can return a different order on different architectures. Although the order of properties in the model does not theoretically matter... it actually created a lot of very difficult to debug issues on EF6 where the order had a subtle effect o

[2015-05-26 16:57] bricelam commented on #2272
Only for keys?

[2015-05-26 16:59] anpete commented on #2269
@jdaley We can't match the declared syntactic order because we discover properties via reflection, and that order is non-deterministic.

In EF6, column order could be controlled via the HasColumnOrder fluent API or the ColumnAttribute data annotation. I've created #2272 to track this in EF7.

[2015-05-26 17:00] anpete commented on #2272
No, for fine grained control of table layout.

[2015-05-26 17:03] rowanmiller commented on #2268
Hey,

We actually always use the snapshot, that is how we detect what changed since the last migration. Merging the file is actually the whole point of having it there. In situations where you get a merge conflict is where you would have got incorrect behavior out of migrations in the past. Now you merge the conflicting changes to the model and migrations will work correctly.

~Rowan

[2015-05-26 17:31] divega commented on #599
I followed up on this discussion item that had been sitting on my plate for a while and I confirmed with @anpete that `Include()` in EF7 works as @davidroth described (and he is now adding a test to prove it).

I haven't been able to track in which exact milestone `Include()` made it into the code so leaving the closure to @rowanmiller and @anpete.

[2015-05-26 17:31] bricelam commented on #2268
See also the Model Snapshots section of [EF7 Migrations: Design-time](http://www.bricelam.net/2014/12/16/ef7-migrations-designtime.html)

[2015-05-26 18:38] rowanmiller commented on #2209
@julielerman @ErikEJ added workaround details to get commands installed. Seems to still be a complexity issue.

[2015-05-26 19:24] nicbourgoin opened #2274 "Chaining multiple Include with ThenInclude throws System.InvalidOperationException"
Summary:

var field = context.Fields
   .Include(x => x.Label.Globalizations)
   .ThenInclude(x => x.Language)
   .Include(x => x.Placeholder.Globalizations)
   .ThenInclude(x => x.Language)
   .ToList();

I get the following exception thrown:

System.InvalidOperationException Invalid attempt to read when no data is present.

I asked the question on stackoverflow @
http://stackoverflow.com/questio

[2015-05-26 20:11] anpete commented on #2274
Hi @nicbourgoin, can you post the full stack trace?

[2015-05-26 20:14] nicbourgoin commented on #2274
@anpete

InvalidOperationException: Invalid attempt to read when no data is present.

System.Data.SqlClient.SqlDataReader.CheckDataIsReady(Int32 columnIndex, Boolean allowPartiallyReadColumn, Boolean permitAsync, String methodName)

System.Data.SqlClient.SqlDataReader.TryReadColumn(Int32 i, Boolean setTimeout, Boolean allowPartiallyReadColumn)

System.Data.SqlClient.SqlDataReader.GetValues(Object[

[2015-05-26 20:31] rowanmiller commented on #2256
Hey,

Not really, here is the work item tracking better interface support - https://github.com/aspnet/EntityFramework/issues/757. It's not something we are tacking right now, but we do want to add it in the future.

~Rowan

[2015-05-26 20:44] matthieugd opened #2275 "Startup class ConfigureServices method not called during migration"
I have a class library project migrated from beta 3 to beta 4. In beta 3 I was able to call

 `k ef migration add <migration name> -c <dbcontextname>`

from a command line as I provide a Startup class in my class Library project with a ConfigureServices method which configure the dbcontext .

With beta 4 I got this exception:
`System.InvalidOperationException: No data stores are configured. Config

[2015-05-26 23:00] pawelpabich commented on #2268
@rowanmiller ok so my understanding was not correct. thanks for clarifying.

If you build a piece of infrastructure that makes conflicts more likely to happen than not then you are not following the "pit of success" mantra.

DbUp simplicity + automated migration generation is where EF could shine. Why can't this be done? If you optimize your process for devs who have no CI and tests then you are g

[2015-05-27 00:23] MaximBalaganskiy commented on #2275
Seems like Startup class is not used for migrations. The error you get indicates that your context does not have a connection string. Try setting it like this

    protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
    {
        base.OnConfiguring(optionsBuilder);
        optionsBuilder.UseSqlServer("connectionString");
    }

and your migrations will work.

[2015-05-27 00:40] matthieugd commented on #2275
But it's not supposed to use the startup class first? If you look at the CreateContext method there's a first attempt to create from startup and then use the default ctor.

Why the startup class is not called ?

[2015-05-27 00:51] MaximBalaganskiy commented on #2275
My fault. It is called...

[2015-05-27 00:54] MaximBalaganskiy commented on #2275
I've just put an exception into a startup and migration started failing for me in a fresh MVC project

[2015-05-27 01:42] MaximBalaganskiy commented on #2275
So after experimenting with it a bit I've found that Startup is called when migration is called on the original MVC project and ignored when called on a class library.

[2015-05-27 01:43] matthieugd commented on #2275
Did you try in a class library project? I defined an ef command and run it with the arguments (i.e. migration add <migration name> -c <dbcontextname>)

It seems that it's supported by looking at the TryCreateContextFromStartup method but the try/catch is hiding the problem since the default actor of my DbContext is called and my Startup class is not.

https://github.com/aspnet/EntityFramework/blob

[2015-05-27 01:46] MaximBalaganskiy commented on #2275
Yep, looking at the code seems like it should work...

[2015-05-27 01:51] matthieugd commented on #2275
It seems that something is failing during the initialization of the hosting service and context. I'm going to look into it tomorrow.

[2015-05-27 03:14] MaximBalaganskiy commented on #2275
Alright. I managed to make it work by creating a class library out of an MVC project and stripping almost everything from it.

[2015-05-27 04:47] divega commented on #2275
That is correct, and actually by design: on an ASP.NET application Migrations will use the __*application's*__ startup code to get the the __*application's*__ service container setup the same way it would get setup at runtime. A class library shouldn't need to have its own startup code or service container, unless it isn't really a class library but something else, e.g. a test suite or a command l

[2015-05-27 05:01] MaximBalaganskiy commented on #2275
I moved the ApplicationDbContext to a separate project and added more project specific tables to it.
As I understood, I cannot currently create migrations for references assemblies. So the only option is to create migrations from the DataAccess assembly itself. But without the Startup working you cannot nicely pass a connection string to the context. Hope that clears my case :)

[2015-05-27 05:19] ErikEJ commented on #2270
Thanks, will change to EntityFramework.SqlCe for now (goes well in hand with the names of the top level extension methods)

[2015-05-27 06:32] anetegithub opened #2278 "Azure+EF7 Sequence"
#### When trying add object to context

Exception:

[code]
#### EntityFramework settings

https://github.com/aspnet/EntityFramework/wiki/Using-EF7-in-Traditional-.NET-Applications

Is it possible to use EF7+AzureSQL without sequence?

[2015-05-27 07:51] ErikEJ commented on #2278
Is your database V11 or V12 - if V11, I think you need to add:

   builder.ForSqlServer().UseIdentity();

[2015-05-27 08:27] anetegithub commented on #2278
On Azure i can't choose database (free account), so it's V11 (11.0.9230.282).

Now it's working, but migration has to be applied manually via
[code]
Where i can find the documentation about this?
[code]

[2015-05-27 08:29] ErikEJ commented on #2278
Not a lot of docs currently as everything is a work in progress. What is preventing Apply-Migration from working (error message) ?

[2015-05-27 08:44] anetegithub commented on #2278
I use command prompt for add migrations because VS 2015 have problem with EF7 (https://github.com/aspnet/EntityFramework/issues/1196)
So all migrations created using
[code]
After i added `builder.ForSqlServer().UseIdentity();`
EF generate migration:
[code]
and now EF can't apply this:

[code]
Currently, EF works with tables created by Copy+Past method.

[2015-05-27 09:41] matthieugd commented on #2275
It's a command line app use to create and apply migrations. It was working with beta 3 and it was very handy.

What's the purpose of commands if we need an ASP.NET application to use them ?!?

[2015-05-27 10:30] anetegithub commented on #2278
##### Finally, work after removing other migrations.

[2015-05-27 10:50] MaximBalaganskiy commented on #2275
@matthieugd Until https://github.com/aspnet/EntityFramework/issues/2256 is resolved I will be putting my DbContext in stripped MVC project. Works just fine.

[2015-05-27 11:45] matthieugd commented on #2275
That's what I'm going to do. Thanks @MaximBalaganskiy

[2015-05-27 12:13] matthieugd commented on #2275
@MaximBalaganskiy : what did you keep in your MVC stripped project? Can you share a screenshot of the solution explorer?

[2015-05-27 12:34] MaximBalaganskiy commented on #2275
Will do tomorrow - the project is at work.
I think it's something in project.json. I remember even deleting wwwroot didn't brake it.

[2015-05-27 12:48] MaximBalaganskiy commented on #2275
Sorry for misleading. It's the wwwroot. Just add that folder to your class library and it should work.

[2015-05-27 12:55] matthieugd commented on #2275
I added the wwroot and the  "webroot": "wwwroot" in the project.json, no luck :( I'm going to start from a empty mvc project ...

[2015-05-27 13:00] MaximBalaganskiy commented on #2275
I just did the same. Deleted everything. The only difference from the class library was <DevelopmentServerPort>1147</DevelopmentServerPort> tag in the xproj file

[2015-05-27 13:14] matthieugd commented on #2275
I think I found it: the Startup class must have the Configure(IApplicationBuilder app) method, it's checked in one of the EnsureXXXX methods of the Hosting class.

I added in my class in my Library project and it works.

[2015-05-27 13:18] MaximBalaganskiy commented on #2275
I had this method all along and it did not work for me. Tags do work though. Like I said - black magic :)

[2015-05-27 13:22] MaximBalaganskiy commented on #2275
Now it's working. This is confusing.

[2015-05-27 16:12] bricelam commented on #2268
If we implemented #1298, you could just add the file to your scm's ignore list.

[2015-05-27 16:59] rowanmiller commented on #2268
Just to be clear though... any time you need to merge this file because another developer changed it is a scenario where migrations will not work correctly if we didn't have a central model snapshot. If developers make unrelated changes in the model then they should auto-merge just fine. This means scenarios were migrations would have behaved incorrectly on EF6 (because we used the snapshot from t

[2015-05-27 17:39] bricelam commented on #2275
The original issue sounds like a duplicate of #2219.

Yes, the constructor code is an awful workaround that I've been hoping they'd remove for a few releases now.

You should always invoke the commands on the assembly that you want the migrations to live in. If you want this to be a different assembly than the one containing your DbContext, scaffold the first migration in the same assembly as your

[2015-05-27 17:44] bricelam commented on #2256
You should always invoke the commands on the assembly that you want the migrations to live in. If you want this to be a different assembly than the one containing your DbContext, scaffold the first migration in the same assembly as your DbContext then move it into the desired project. You should then be able to add additional migrations to the new project.

Once #2219 (and possibly the higher-leve

[2015-05-27 17:49] Nebelkraehe opened #2280 "Missing Reload() for Entry or complete Context.DbSet"
Hello.

After building an SQLite example for multiuser environment I ran into a problem regarding reloading changed rows.

I started two instances of my example program and added a new row in one instance. Refreshing inside the other instance worked well. Same behavior for deleting a row.

**Problem:**
Editing and saving a row did work inside one instance. Refreshing inside the second instance did

[2015-05-27 17:58] makcakaya commented on #2280
I have experienced the same behaviour with the earlier versions too. I think this is not something to be changed/fixed as DbContext is designed to be used as a Unit of Work.

I solved the issue by creating short-lived contexts. Create a context, do your operations, and get rid of it.

[2015-05-27 18:02] makcakaya commented on #2274
A little easier on the eyes:

[code]

[2015-05-27 18:30] rowanmiller commented on #1513
@divega to open a new issue capturing the expand object feature and put on backlog

[2015-05-27 18:42] Nebelkraehe commented on #2280
That´s also the way I design it.
In my case it´s a screen including a few data rows to check. After loading and visualizing it - the user checks it - finds something to edit (perhaps something another user already did) and saves it - but before the final change saving, I´d like to query - through the current context - if something in the related database table changed.
This would be the timespan/o

[2015-05-27 22:01] divega commented on #1796
We have followed up with the SqlClient folks and a connection clone method won't be part of SqlClient in the RTM time frame.

We should start using it as soon as it is available though. Until then `CreateMasterConnection()` will any time credentials are required that are not included in the connection string.

Removing myself and the release from the issue so that we can decide in triage how to tr

[2015-05-27 22:06] avanderhoorn opened #2281 "EventNotification Support?"
With the advent of https://github.com/aspnet/EventNotification coming, I'm wondering when EF will start supporting/publishing notifications? This is now supposed to be the supported way of getting insights out from the frameworks and it would be great to start getting some thinking going about what details will be given, when, etc. // @rynowak

[2015-05-27 22:11] bricelam commented on #1825
The investigation work here is done; I have enough context to avoid breaking changes in the future. We can move this issue to the backlog now.

[2015-05-27 23:48] pawelpabich commented on #2268
@rowanmiller I did a quick test with 2 branches. One added Property1 and the other one added Property2 and I ended up with a merge conflict in that file. Shared state has a tendency to cause problems like that.

DbUp(and most of other platforms) works just by relying on the order of migrations. Scary :)? In theory yes, but I've never seen this being a problem for a team that has half decent CI and

[2015-05-28 00:13] divega commented on #2052
We discussed this with @lodejard, @davidfowl and @anpete. It turns out MemoryCache is in fact designed to have only one instance per application because of how it needs to respond to memory pressure handling GC notifications.

So we will have to figure out a few changes on the way we use it in EF and presumably we should try to get at least some of the changes in beta5, so that we no longer break

[2015-05-28 03:07] divega opened #2282 "Support for "dynamic" entity models"
The goal of this issue is to track and rationalize various levels or flavors of "dynamic behavior" we could attain with EF in the future.

The initial list is based on digesting information provided in various bugs such as #1513 and #2141 as well as conversations with various teams and previous research on feature gaps with other persistence frameworks.

Note that none of this is planned for EF Co

[2015-05-28 03:14] divega commented on #1513
We won't be supporting anything like this for now but I have captured some information on dynamic models for our backlog in #2282. I am going to close this item in favor of that one.

[2015-05-28 03:15] divega commented on #2282
Moving this straight to the backlog.

[2015-05-28 07:16] ErikEJ opened #2283 "PropertyEntryXxx Test failing"
https://github.com/ErikEJ/EntityFramework.SqlServerCompact/tree/property-entry-fail

Using daily build 33301 - initially fails with

Microsoft.Data.Entity.Update.DbUpdateException : An error occurred while updating the entries. See the inner exception for details.
---- System.Data.SqlServerCe.SqlCeException : The column cannot contain null values. [ Column name = Id,Table name = EngineSuppliers ]

[2015-05-28 09:20] MaximBalaganskiy opened #2284 "Cannot create a non generated integer primary key"
The code below will fail with an exception "System.InvalidOperationException: The property 'Id' on entity type 'Parent' does not have value generation on add enabled and it is principal by at least one foreign key. Properties
referenced by foreign keys should have value generation on add enabled."

Replacing `int` with `string` will effectively achieve the result so why is there such a limitation

[2015-05-28 12:39] ErikEJ commented on #2283
:blush:  Was missing:
      base.OnModelCreating(modelBuilder);

[2015-05-28 12:48] ErikEJ commented on #2283
OK, got a bit further:
        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            base.OnModelCreating(modelBuilder);
            modelBuilder.ForSqlCe().UseIdentity();
            modelBuilder.Entity<Team>(b =>
            {
                b.Property(t => t.Id).ForSqlCe().UseNoValueGeneration();
            });
        }

Now getting error:

Result Message:

[2015-05-28 16:38] #1919 closed

[2015-05-28 16:38] #1975 closed

[2015-05-28 16:43] #2190 closed

[2015-05-28 16:54] #875 closed

[2015-05-28 17:02] bricelam commented on #2008
Closing. I'll assume this was caused by the workaround in templates.

[2015-05-28 17:36] glen-84 commented on #2256
@rowanmiller, Thanks, I will reply there.

@bricelam,

One may not have control of the project containing the DbContext. Imagine a "forum" module that you install with NuGet. You can't run migrations there, because you don't have the source, and regardless, it won't produce the desired result, which is a combined migration in the application that included the module.

The second option that you me

[2015-05-28 18:04] glen-84 commented on #757
This would really help in enabling the scenario described [here](https://github.com/aspnet/EntityFramework/issues/2256#issuecomment-106513811).

Following on from that example, the forum may have a "Topic" entity with an associated ApplicationUser. Since the ApplicationUser is in the consuming web application (and can not be referenced by the module), the solution would be to use a common interfac

[2015-05-28 20:44] bricelam opened #2285 "ModelBuilder: Fluent, constraint APIs should create properties"
To illustrate...

[code]

If the shadow properties are created before the constraint calls, everything works.
Referencing Blog works because, I believe, we call GetOrAdd. We should consider doing the same for properties. Effectively stubbing them out in metadata to be fully defined later.

Implementing this may be a double-edged sword, however, because instead of catching typos, we'll just create

[2015-05-28 20:53] bricelam commented on #2256
Yes, interesting scenario to consider.

I wonder if the package could ship a bootstrap Migration as source that get's copied into the target project.

Another hack would be to create a derived DbContext in the project you want to put migrations in.

Otherwise, yeah, we should probably let you specify an assembly-qualified context type. The command would then look something like `dnx . ef migration

[2015-05-28 21:04] bricelam commented on #2256
Of course, if the consumer doesn't already derive from the module's DbContext, does that mean they can't extend the model? If so, there's no reason for the user to create migrations for it. The migration should just ship as part of module and they could be applied as part of module initialization or using a module-specific API/tool.

[2015-05-28 21:27] robfarmergt commented on #325
Any update on this?

[2015-05-28 21:30] rowanmiller commented on #325
Not started yet but we'll be starting on it shortly.

[2015-05-28 22:12] NicoJuicy commented on #624
In the meantime, you could probably use a extension method like this

public static int ExecuteSqlCommand(this RelationalDatabase database, string sql)
    {
        using (var connection = database.Connection)
        {
            using (var command = connection.DbConnection.CreateCommand())
            {
                command.CommandText = sql;
                return command.ExecuteNonQuery()

[2015-05-28 22:45] bricelam commented on #624
@NicoJuicy Looks [eerily familiar](http://stackoverflow.com/a/30487747/475031)... :wink:

[2015-05-29 01:54] SergeyBarskiy opened #2289 "dnx migrations do not scaffold properly"
I created a context class with a collection based on a simple class.  I used fluent API to configure max length for some string properties of my class.  Running dnx add migration scaffolds properties, but maximum length configuration is ignored as well as required flag.  Happens for both fluent API and attribute based configuration.  This is in VS 2015 RC.  Anything I am missing?  Thanks.

[2015-05-29 02:23] rowanmiller commented on #2289
Hey,

MaxLength issue is tracked by https://github.com/aspnet/EntityFramework/issues/882

Attribute based configuration is not implemented yet and is tracked by https://github.com/aspnet/EntityFramework/issues/107

~Rowan

[2015-05-29 04:42] anetegithub opened #2290 "EntityFramework.Commands on Windows 8.1"
Setup:
Windows 8.1 Professional x64
Visual Studio 2015 RC (also have VS 2013 Community)

[code]
##### After `dnu restore` project can't build

Worked on:
Windows 7 SP1 x64
VS 2015 RC (also have VS 2013 Community)

[code]
##### It seems like ef can't see project.json file in Win8.1

[2015-05-29 05:22] rowanmiller commented on #2290
Can you provide details of the build failure? If it's failing to build then it's probably not an EF issue.

[2015-05-29 05:40] anetegithub commented on #2290
if i using `cmd> dnu restore` i have:
[code]
if i using `VS->Right click on References->Restore Packages` project can build but `System.InvalidOperationException: ...`

Exacly the same code running on Win7 without errors.

[2015-05-29 07:33] davidroth commented on #2256
@glen-84 I am glad you brought this up as this is a scenario which is very interesting for me as well.

The scenario I am looking for is a modular application, where users can install/uninstall additional modules at any point in time.

The module would define it`s model in its own DbContext (a "comment" or "blog" module for example), but the model would depend on the "core" module of the applicati

[2015-05-29 11:05] davidroth opened #2291 "Support AddAsync && AddRangeAsync"
If EF7 is configured with GenerateValueOnAdd(true), sql server sequences are used, and so every time Add(entity) is called, EF7 will send a query to the store so that it can assign a new key to the entity.

I remember I have seen AddAsync && AddRangeAsync overloads in previous Ef7 releases. Why did you remove them?

I found some notes here: https://github.com/aspnet/EntityFramework/wiki/Design-Mee

[2015-05-29 12:14] glen-84 commented on #2256
What would happen when the package is updated then? Also, how would you run all of these migrations at one time. Another thing is that modules may reference "unresolved" entities (like an IUser [see #757]), so it won't be possible to create a migration in the module itself, the host application will need to resolve the interfaces first.

I assume this is just to move it into the same assembly. It'

[2015-05-29 12:16] glen-84 commented on #2256
Same.

I'd like to avoid this requirement with the use of interfaces (like IUser, see #757). If the interface is not available in something like the Identity system, it may be necessary to have a shared package with a few common types (as you mention).

The idea I have is to just have a single migration (or set of migrations) in the host application. The module will not contain any migrations. If

[2015-05-29 12:57] paranoid-android opened #2292 "Unable to Connect to SQL Azure"
I am using ASP.NET 5 on Mac OS X. I am trying to connect to my SQL Azure Database using the following code:

[code]

When this code gets executed, an exception is thrown. The exception details looks like this:

[code]

It seems like developers cannot interact with SQL Azure databases from ASP.NET 5 running on Mac OS X. This is a HUGE issue.

[2015-05-29 16:41] bricelam commented on #2256
Yes, each context has its own set of migrations. A different context requires a different set of migrations. There is no concept of sharing a migration class between multiple contexts.

To get around this, the "core" DbContext should be extensible by the modules (e.g. they have a hook into OnModelCreating). The bloging module might extend it like this:

[code]

It could then get an instance of the

[2015-05-29 16:47] bricelam opened #2293 "Commands: Discover contexts registered in the service provider"
(Reported by @glen-84 in #2256)

I'm able to add a DbContext from another assembly using `services.AddEntityFramework().AddDbContext<My.ForumDbContext>()`, but the context is not listed when you run `dnx . ef context list` – is it possible to make the migration tools see all DbContexts added in this manner (i.e. via the EntityFrameworkServicesBuilder)?

[2015-05-29 16:49] bricelam commented on #2256
This is a bug. I've filed #2293.

Yes, this should be filed as a separate issue. This would, however, be a fundamental design change to Migrations.

[2015-05-29 16:53] rowanmiller commented on #2292
This is a limitation of the SQL Client implementation in Mono - here is the issue tracking it on their side https://bugzilla.xamarin.com/show_bug.cgi?id=25491.

BTW you should be able to set `Encrypt=False` and be able to connect without SSL.

Once cross-platform .NET Core is available this will give you the same SQL Client implementation on OSX/Linux that you get on Windows. But in the meantime y

[2015-05-29 16:57] rowanmiller commented on #2290
@glennc have you seen the error listed above before? Just thinking you might know the issue off the top of your head :smile:. If not, should this go to the DNX repo (obviously with a full repro)?

[2015-05-29 17:01] bricelam commented on #639
(Additional notes)

There are a lot of interacting parts here:
* The project on which the command is invoked
    * Migrations in this assembly
    * Contexts in this assembly
    * Contexts referenced by the migrations
* The startup project
    * Contexts in this assembly
    * Contexts registered services
* The migrations assembly as configured by the context
    * Migrations in this assembly

[2015-05-29 17:11] bricelam opened #2294 "Commands: Design-time scenarios"
We should think through all the different scenarios we want to support at design-time. This includes:
* Splitting things (services, config, contexts, models, migrations, etc.) into different projects
* Context constructor and Startup.ConfigureServices patterns (See #639)
* The concept of environments (e.g. Development, Production, etc.)

There are a lot of interacting parts here:
* The project on

[2015-05-29 17:13] bricelam commented on #2294
A few related bugs: #732, #2219, #2256

[2015-05-29 17:24] rowanmiller opened #2295 "Implement missing APIs from ChangeTacker/Entry"
We do not have all APIs that we historically had available:
* GetModifiedProperties
* Reload
* etc.

[2015-05-29 17:27] rowanmiller opened #2296 "Ability to refresh set of entities with store values"
We have an item to track adding `EntityEntry.Reload` (#1203) but in EF6 you could also use `MergeOption` to refresh a set of entities using a query.

[2015-05-29 17:28] rowanmiller commented on #2280
There are a couple of requests here:
* Agreed that we need Reload etc. on EntityEntry. Opening an all up issue to track this (and other) missing APIs https://github.com/aspnet/EntityFramework/issues/2295.
* Also opening an issue to track the ability to refresh based on a query https://github.com/aspnet/EntityFramework/issues/2296.

You are correct that at the moment there is no easy way to do this

[2015-05-29 17:29] rowanmiller commented on #2275
Closing as we think we have everything from this thread already captured in other issues (see post above from @bricelam). Feel free to reopen if there is something we missed.

[2015-05-29 17:31] rowanmiller commented on #2269
Just to add to this, when we tried to use reflection order in past releases of EF we ended up with a number of bugs because we would get properties in a different order on different processors.

[2015-05-29 17:32] rowanmiller commented on #2266
The feeling from our team is that TPT is generally an anti-pattern and results in significant performance issues later on. While enabling it may make some folks "happier" to start with it ultimately just leads to issues. We are willing to consider it though, so we're leaving this open and will consider it based on the feedback we get.

[2015-05-29 17:34] rowanmiller commented on #2263
Hey All,

There are varying opinions on our team about the best way to tackle the relationship API and so we decided to try out the current API and see what feedback we get. Thank you for your feedback and we'll continue to monitor this issue and other places to see what folks think.

BTW one of the reasons we liked Reference/Collection was that it's consistent with the ChangeTracker API.

~Rowan

[2015-05-29 17:35] rowanmiller commented on #2245
Opened up a high level item to track this and other APIs that we want to implement on ChangeTracker/Entry https://github.com/aspnet/EntityFramework/issues/2295

[2015-05-29 17:35] satyajit-behera commented on #2266
Thanks. Issue is the absence of any alternative to build an OO application. Even Composition using interfaces does not look viable for now.

[2015-05-29 17:37] rowanmiller commented on #2266
We are in the process of implementing TPH at the moment, so you will be able to persist an inheritance hierarchy to a single table in the near future.

[2015-05-29 17:38] satyajit-behera commented on #2266
But it does not solve the main issue of extending a table. TPT becomes a necessity in practical business scenario. Otherwise, it may become a table with 100s of fields in it.

[2015-05-29 17:56] rowanmiller commented on #2094
@rhires EF7 is a NuGet package that you install, the exact instructions for installing a NuGet package will depend on the tooling you are using (Visual Studio Code, Mono Develop, etc.).

[2015-05-29 18:19] glen-84 commented on #2256
If having a single migration class for multiple contexts is too tricky (or impossible), then it should still be possible to use `ef migration add Name --all`, and have it generate a separate class per context. `ef migration apply --all` would then apply all migrations. This shouldn't be too difficult, right?

It does of course mean a large number of classes, one for each installed module, for what

[2015-05-29 19:04] anpete commented on #2266
@satyajit-behera TPT is an inheritance mapping pattern. Are you referring to "Entity Splitting". i.e. Having a single entity mapped to more than one table?

[2015-05-29 19:08] rowanmiller commented on #2290
@anetegithub can you run `dnvm list` and see which version of DNX is active (it will have a * in the Active column). Can you then check in your `global.json` file and see what DNX version is specified there. If there is a mismatch can you run `dnvm use <version from global.json>` and then try restoring again.

[2015-05-29 20:42] #2215 closed

[2015-05-29 20:44] bricelam commented on #2293
@ajcvickers commented in #2288:

[2015-05-29 21:07] shawnwildermuth commented on #1198
Can we help implement it? It's pretty important.

[2015-05-29 21:54] rowanmiller commented on #1198
Yeah I think this would make a great contribution. It's only on our backlog because we are swamped getting the 'must have' stuff for the core framework implemented. Provided it comes with unit tests etc. I'd say go for it.

cc @divega @ajcvickers to make sure they agree.

[2015-05-29 22:06] divega commented on #1198
Sounds great!

[2015-05-29 22:12] ajcvickers commented on #1198
+1

[2015-05-30 04:10] satyajit-behera commented on #2266
@anpete  I am referring to One table per inherited entity type.

[2015-05-30 04:29] satyajit-behera opened #2303 "Composition over Inheritance"
Composition over inheritance is considered good.

Support for implementing composition over inheritance in EF7.
This can be done now with concrete classes.

But when it comes to implement it using interfaces, it does not go well. The migration does not create tables and foreign key mappings when an interface is used for composition and the concrete classes are created later using those interfaces.

[2015-05-30 10:33] ErikEJ commented on #2283
Fixed by adding:
             modelBuilder.Entity<Team>(b =>
             {
                 b.Property(t => t.Id)
                     .StoreGeneratedPattern(Microsoft.Data.Entity.Metadata.StoreGeneratedPattern.None);
                 b.Property(t => t.Id)
                     .GenerateValueOnAdd(true);
             });

[2015-05-30 15:45] npnelson commented on #2292
SQL Azure **requires** SSL connections per: https://msdn.microsoft.com/en-us/library/azure/ff394108.aspx, so I'm afraid you are stuck for now.

[2015-05-30 15:49] anetegithub commented on #2290
You are was right!
[code]
project.json
[code]
`dnvm use 1.0.0-beta4` solved the problem!
##### Sorry for report in not right place

[2015-05-31 05:04] ErikEJ opened #2304 "Error in TransactionsTest"
In test Query_uses_explicit_transaction - getting error due to unsupported isolation level: Result Message:	System.ArgumentException : The IsolationLevel value ReadUncommitted is invalid.

https://msdn.microsoft.com/en-us/library/system.data.sqlserverce.sqlcetransaction.isolationlevel(v=vs.100).aspx

What would be the best way to work around this?

[2015-05-31 12:14] paranoid-android commented on #2292
Ouch. It doesn't seem right to say the Entity Framework is cross-platform when connecting to a SQL Azure database isn't an option.

[2015-05-31 12:39] ErikEJ commented on #2292
@paranoid-android Did you read: Once cross-platform .NET Core is available this will give you the same SQL Client implementation on OSX/Linux that you get on Windows.

[2015-05-31 16:27] ErikEJ opened #2305 "Identification of commits in daily dev builds on MyGet"
As a provider writer, that feeds on the daily dev builds from MyGet, it would be very helpful to have a way of identifying what commit was included in which daily build - mabe tags? Is this currently possible, or can it be made available?

[2015-06-01 02:34] bricelam commented on #2305
Dupe of aspnet/Universe#64?

[2015-06-01 03:59] ErikEJ commented on #2305
@bricelam  Yes, so I wont brace myself for it to happen, then!

[2015-06-01 17:48] #2052 closed

[2015-06-01 17:52] dustinsharp opened #2306 "Mac QueryContextFactory"
I'm currently working on a Macbook Pro and our web project is having errors when trying to call our API. To my knowledge, this same web project will execute as expected when running on Windows, but I'm getting the following error:

error   : [Microsoft.Data.Entity.Query.QueryContextFactory] An exception occurred in the data store while iterating the results of a query.
System.InvalidCastException:

[2015-06-01 18:11] #1607 closed

[2015-06-01 19:09] scottengle opened #2307 "Cannot insert explicit value for identity column in table 'TABLE' when IDENTITY_INSERT is set to OFF"
I have an existing database table that doesn't allow identity inserts. When I try to add a new item to the database, I get the following error message:

[code]

My simplified service code:

[code]

My OnModelCreating override:

[code]

And lastly, the SQL Command that is being executed against SqlServer:

[code]

Because Identity Insert is turned off, I can't have the Item ID included when an inse

[2015-06-01 19:17] scottengle commented on #2307
Here's the stack trace for reference:

       at Microsoft.Data.Entity.Relational.Update.ReaderModificationCommandBatch.Execute(RelationalTransaction transaction, IRelationalTypeMapper typeMapper, DbContext context, ILogger logger)
       at Microsoft.Data.Entity.Relational.Update.BatchExecutor.Execute(IEnumerable`1 commandBatches, IRelationalConnection connection)
       at Microsoft.Data.Entity.

[2015-06-01 21:17] natemcmaster commented on #2304
According to the link you posted, SQL CE should support ReadUncommitted. From where is ArgumentException being thrown?

[2015-06-01 22:53] #2185 closed

[2015-06-01 23:03] divega commented on #2304
@natemcmaster it actually says just Read*Committed*, Serializable and ReadRepeatable. Whether the test needs to use it is another question.

[2015-06-01 23:08] natemcmaster commented on #2304
@divega Ah, good catch.

@ErikEJ Either we need to skip the ReadUncommitted assertions for providers that do not support it, or you could just override this test method with your own implementation.

[2015-06-01 23:08] mikary opened #2309 "FromSql query parameter name collisions"
When queries with multiple query sources having calls to ```FromSql``` with parameters generate SQL, the query parameter names are not unique and an exception is thrown.

[code]

[code]

[2015-06-02 02:33] prasannapattam opened #2310 "Left Join Null Reference Exception"
I am getting a Null Reference Exception when selecting a column in the left join table. Here is my linq

[code]

As a work around I am using this

`Driver = (vehicledriver == null ? null : vehicledriver.DriverName)`

I am currently using 7.0.0-beta4

P.S. - I looked at issue #1232, but this error is different from that. Hence I posted it as a new issue.

[2015-06-02 04:14] ErikEJ commented on #2304
@natemcmaster Thanks, but I do not think it is currently possible for me to override the method, or even skip it! Meaning I cannot run any on the TransactionsTests

[2015-06-02 05:53] branciat commented on #1806
Sorry for that answer so late, ok for me with the latest nightly build.

Thanks.

[2015-06-02 16:16] ErikEJ opened #2312 "Help for PM Migrations commands limited"
Name                              Category  Module                    Synopsis

---

Script-Migration                  Function  EntityFramework           Generates a SQL script from migrations.
Remove-Migration                  Function  EntityFramework           Removes the last migration.
Enable-Migrations                 Function  EntityFramework           ...
Apply-Migration

[2015-06-02 18:49] rowanmiller commented on #2304
We'll just make these test virtual for the moment, we do want to look at a better design for our acceptance suite in the future.

[2015-06-02 18:51] ErikEJ commented on #2304
@rowanmiller great, did a PR already!

[2015-06-02 20:49] paul-daly commented on #2166
What about testing for unique indexes?  Now that unique indexes have recently been fixed, I tried writing a unit test to validate this using the InMemoryProvider.  The InMemoryProvider doesn't appear to throw an exception when I try to violate the contraint.  Is the recommendation for enforcing unique constraints are in place also to use SqlLite?

[2015-06-02 23:13] mikary opened #2315 "Cache FromSql based on parameter types instead of values"
The ```CompiledQueryCache``` adds a new entry for each unique set of argument values in the ```FromSql``` call. If we extract the parameters (SQL string and parameters object array) in query compilation and update the cache key to use the ```QueryAnnotation``` parameter types (using these parameters on SQL generation), the caching for ```FromSql``` will be more consistent with other query operatio

[2015-06-02 23:25] #2304 closed

[2015-06-03 01:07] GuardRex commented on #1972
Just ran into this as a new user of EF: It was not intuitive to apply the previous migration in order to unapply the current one in order to be able to remove the current migration.

It seems like if the normal EF sequence is to "add" then "apply" a migration, we should have commands for "unapply" and "remove" that work in the exact reverse. If not, then it might be a good idea that where the exce

[2015-06-03 01:15] GuardRex commented on #1972
... and "unapply" seems kind of hokey. The antonyms for "apply" are: cease, halt, ignore, mismanage, misuse, and neglect. Maybe "ignore" is the closest in meaning to "unapply" in this context. One would "add"-"apply" then "ignore"-"remove".

[2015-06-03 01:20] divega commented on #2291
Good question! Sorry we left the details out of the notes.

The removal of `AddAsync()` was a compromise and (as usual) one that we are very open to get feedback on.

Our understanding of how to best apply the Task-based async pattern to API designs is still somewhat evolving. Despite how powerful the support for async programming is in C#, synchronous APIs are still easier to use correctly in man

[2015-06-03 08:42] ErikEJ opened #2316 "RelationalLogger logs differently on different cultures"
In particular parameter values, which makes some Asserts brittle - PR in the works, that avoids dependency on Mirosoft.AspNet.Testing

[2015-06-03 11:42] ErikEJ opened #2317 "Test issue with Query test: Select_local"
When running this test against the SQLCE provider, it fails. What is your suggested fix/workaround?

 Do I need to intercept Query generation? In that case, how would I do that (in broad terms) ?

System.Data.SqlServerCe.SqlCeException : A parameter is not allowed in this location.Ensure that the '@' sign is in a valid location or that parameters are valid at all in this SQL statement.

//Result S

[2015-06-03 13:38] aguacongas commented on #2253
I reopen this issue, because after cleaning and uptating all to beta4 I still have the issue.
I tried to add a new class library project and just add a dependency to `Microsoft.AspNet.Identity.EntityFramework`and I've same issues.

     "dependencies": {
        "Microsoft.AspNet.Identity.EntityFramework": "3.0.0-beta4"
    },

There's also a weird stuf, If I rebuild all the solution I don't have

[2015-06-03 15:54] bricelam commented on #1972
*Revert* is another word we typically use to mean the opposite of apply.

[2015-06-03 15:57] bricelam commented on #1972
Splitting it into two commands--`Apply-Migration` and `Revert-Migration`--is a good idea. We could also rename the `Up` and `Down` methods to fully align.

[2015-06-03 16:07] #2183 closed

[2015-06-03 16:36] GuardRex commented on #1972
Ah, yes, "revert" is much better.

btw-- https://github.com/aspnet/EntityFramework/issues/2153 updates for EF migrations worked perfectly. Excellent technology! Next, I'm lick'in my chops for Azure Table Storage support when that arrives.

[2015-06-03 17:16] MatthewMWR opened #2318 "Expression bodied properties fail to populate in db"
Ref: https://msdn.microsoft.com/en-us/magazine/dn879355.aspx

Using Beta4 EF in .Net app I see the following:
1) Entity type has expression bodied (read only) property, e.g.:
    public string TitleInRFC1234Format => expression that calculates expected value from other property values
2) Property is included in model and db schema by default (good)
3) [UNEXPECTED] Upon SaveChanges() db column valu

[2015-06-03 17:19] rowanmiller commented on #1972
@bricelam love the command/method naming idea... has a nice symmetry to it :smile:

[2015-06-03 17:42] mikary commented on #2253
I took a look at the solution and I noticed a number of issues (primarily related to API surface changes in EF around the Beta4 release). Some of the error messages are a bit misleading, but these changes should at least get you started down the right path:
* ```DbSet.AddAsync``` has been removed, use ```DbSet.Add``` instead
* ```DbSet.Remove(TEntity[])``` should be replaced with ```DbSet.RemoveRa

[2015-06-03 17:50] MatthewMWR opened #2319 "Clear story/support/advice for read-only properties to be saved to storage but not used in materialization"
There are use cases for EF where read-only properties (calculated from other property values) are desirable in the database or other storage (for consumption in BI tools for example), but have no role in materialization. After much experimentation it isn't clear to me what extent EF intends to supports this pattern or how to best configure EF for this.
Consider this fact oriented entity class desc

[2015-06-03 17:59] MatthewMWR commented on #2319
Note that there are several issues open related to read-only properties (list below). I don't mean to duplicate those, but rather ask what the intended/suggested pattern is here and if this isn't supported today to consider it for the future.

https://github.com/aspnet/EntityFramework/issues/1527
https://github.com/aspnet/EntityFramework/issues/1311
https://github.com/aspnet/EntityFramework/issues

[2015-06-03 18:08] #2179 closed

[2015-06-03 18:29] mikary opened #2320 "Subqueries are executed for each result in the outer query"
`QueryTestBase` contains the following test definition:

[code]

Executing this test by overriding on `QuerySqlServerTest` results in execution of the following SQL (with the subquery repeated for each record in the outer query):

[code]

[2015-06-03 18:37] anpete commented on #2320
This is known and being tracked by #202

[2015-06-03 18:40] natemcmaster commented on #2306
Can you provide more detail?
Which build of EF are you using?
Which version of Mono are you running?
What are you calling in EF that is producing this error?

[2015-06-03 18:55] dougbu commented on #2160
@maumar stealing this bug because I fixed it last weekend...

[2015-06-03 19:30] divega commented on #2160
Hey @dougbu, can you explain the fix?

[2015-06-03 19:37] dougbu commented on #2160
@divega using the `[ReplaceCulture]` attribute from Microsoft.AspNet.Testing on the offending tests solves the problem.

[2015-06-03 19:47] divega commented on #2160
Thanks! Talked to @dougbu and it seems this should work in most cases where it can reasonably work, e.g. it won't do magic for async tests on 4.5.1 because the culture is in TLS but it should be good enough.

[2015-06-03 20:23] MichaelKetting commented on #2160
@dougbu Should this fix already be part of the current dev HEAD?

[2015-06-03 20:50] dougbu commented on #2160
@MichaelKetting no, not in `dev` yet. See PR #2321.

[2015-06-03 20:58] MichaelKetting commented on #2160
@dougbu  Good to know. Thanks!

[2015-06-03 21:11] maumar commented on #2069
Fixed in 3f0fc0baeb28eba3b3bbadb69a4a87e24fabb680

[2015-06-03 21:11] #2069 closed

[2015-06-03 21:41] dougbu commented on #2160
b6118c9

[2015-06-03 21:41] #2160 closed

[2015-06-03 22:31] divega commented on #2291
__Note for triage:__

After thinking about this again I believe it would make sense to bring back `AddAsync()` (but not `DetectChangesAsync()` or any other "async by contagion" API under `DbContext`). As I as explained in the last paragraph above, customers could use `AddAsync()` in their code to make sure value generation is performed asynchronously (this would also imply bringing back the async

[2015-06-03 23:47] divega commented on #623
@natemcmaster here is the.NET Native issue I promised I would assign to you :smile:

[2015-06-04 02:53] sebrojas14 commented on #1950
When is gonna be refreshed the NuGet client? I have this problme today

[2015-06-04 03:35] sebrojas14 commented on #1950
Going back to Visual Studio Community 2013...

[2015-06-04 03:40] brendangreen commented on #1950
@sebrojas14 or....you could use the workaround that was posted by @bricelam.

[2015-06-04 03:52] yishaigalatzer commented on #1950
We just dropped a new nuget client on codeplex https://nuget.codeplex.com/releases/view/615507 give it at try

[2015-06-04 05:15] ErikEJ commented on #2160
Another dependency (on AspNet.Testing) - is that good?

[2015-06-04 07:56] dzolnjan commented on #2234
I've just got same issue. I've noticed that querying directly by exposed key works.

    public class Dummy
    {
        public int Id { get; set; }
        public int CreatedById { get; set; }
        public User CreatedBy { get; set; }
    }

.Where(x => x.CreatedBy.Id == id)    <<<  same error

.Where(x => x.CreatedById == id)    <<<   works

[2015-06-04 08:12] altmann opened #2327 "Entity Framework Migrations: Constructor of Configuration always called"
I run command Enable-Migrations, but I don't change the database initializer neither in code nor in the config file. If I run the application the constructor of the class Configuration is called. Is this a bug? Details see stackoverflow article http://stackoverflow.com/questions/30627146/entity-framework-migrations-constructor-of-configuration-called-always

[2015-06-04 13:45] aguacongas commented on #2253
@mikary

[2015-06-04 13:59] aguacongas commented on #2253
@mikary I fixed all build issues, but VS still complains and I can't generate migration:

     C:\Users\Olivier\Source\Repos\chatle\src\ChatLe.Repository.Identity>dnx . ef migration add initial -c ChatLeIdentityDbCo
    ntextSql
    Using context 'ChatLeIdentityDbContextSql'.
    Microsoft.Data.Entity.Metadata.ModelItemNotFoundException: The entity type 'ChatLe.Models.NotificationConnection`1[[Sys

[2015-06-04 16:33] rowanmiller commented on #2327
This is by-design, if you have migrations enabled then the initializer will use them to create the database.

[2015-06-04 16:34] rowanmiller commented on #2234
@dzolnjan yep that is because translation of navigation properties isn't implemented yet (https://github.com/aspnet/EntityFramework/issues/325). We're just starting work on that now.

[2015-06-04 17:04] edernucci opened #2329 "Cannot run "migration add""
Hi, I have a simple Console Application, added a simple model and one context.

When I've tried to generate code from migration I got a ArgumentNullException exception.

Did I miss something?

[code]

[code]

[code]

[code]

[2015-06-04 17:11] edernucci commented on #2329
Seems to be duplicated by #2261.

I'll add namespaces and do my test again.

[2015-06-04 17:13] edernucci commented on #2329
Yes, that was the problem. As there was no namespace the error happened.

[2015-06-04 18:29] Casimodo72 commented on #1950
@yishaigalatzer, great! Using NuGet 3.0 RC2 heals the issue. Actually this problem held me away from moving from VS 2013 to VS 2015 RC.

[2015-06-04 19:56] rowanmiller commented on #1950
@Casimodo72 thanks for confirming!

I've added the updated client to the list of workarounds

[2015-06-04 20:04] altmann commented on #2327
Ok, but I DON'T use the MigrateDatabaseToLatestVersion database initializer. I use the default database initializer (CreateDatabaseIfNotExists). So why the constructor of class Configuration is called?

[2015-06-04 20:07] rowanmiller commented on #2327
CreateDatabaseIfNotExists uses migrations if it is enabled (to check compatibility and to create the database if it doesn't exist). If you don't have migrations then it will use an internal mechanism to create the database and check compatibility.

[2015-06-04 20:07] rowanmiller commented on #2327
CreateDatabaseIfNotExists won't apply pending migrations though... it will only use migrations (to create the database) if the database doesn't exist.

[2015-06-04 20:15] altmann commented on #2327
Ahh okay. And if I have multiple Configuration classes in my assembly (for example TestConfiguration and ProductionConfiguration), which configuration is used or is the internal mechanism used?

[2015-06-04 20:26] rowanmiller commented on #2327
Good question... @ajcvickers do you know off the top of your head

[2015-06-04 21:32] #2203 closed

[2015-06-04 22:13] #2024 closed

[2015-06-04 22:13] #2219 closed

[2015-06-04 22:28] #654 closed

[2015-06-04 22:43] maumar commented on #2246
Problem here is that we are sending the following query to the database:

[code]

This then gets stored in the value buffer as {string, int, int}, rather than {string, int, bool} - hence the conversion fails, when we try to cast from int to bool.

Possible solution is to evaluate the constant on the client, rather than sending it to server. We need to make sure that we still translate constants th

[2015-06-04 23:24] ajcvickers commented on #2327
You should not have two DbConfiguration classes in your assembly; there must be no more than one so that EF tooling can find and use it. Note that this is not directly related to database initializers--EF will attempt to find and use your DbConfiguration class when EF initializes regardless of whether or not that initialization includes kicking off a database initializer.

[2015-06-05 03:39] sebrojas14 commented on #1950
Nice to know, but I already dongrade my company PCs to VS 2013. Maybe I will wait until stable release came, vecause uninstall, download and install its a long process

[2015-06-05 04:07] divega commented on #1950
@sebrojas14 for sure waiting for the stable release of VS 2015 is reasonable, but if you want to continue trying the pre-release version, it should actually work side-by-side with VS 2013 on the same PC.

[2015-06-05 05:34] yishaigalatzer commented on #1950
And of course if you find more bugs there is still some time to fix them

[2015-06-05 05:41] ErikEJ opened #2331 "Code cleanup after the fire"
Remove pleonasm - PR will come, once I can build again

            paramList.AppendFormat("{0}: {1}", (parameters[0]).ParameterName, Convert.ToString((parameters[0]).Value, CultureInfo.InvariantCulture));
            for (var i = 1; i < parameters.Count; i++)
            {
                paramList.AppendLine();
                paramList.AppendFormat(CultureInfo.InvariantCulture, "{0}: {1}", (par

[2015-06-05 05:44] ErikEJ commented on #2316
Merged

[2015-06-05 05:45] ErikEJ commented on #2188
Merged

[2015-06-05 05:45] #2188 closed

[2015-06-05 05:46] ErikEJ commented on #2168
Merged

[2015-06-05 05:46] #2168 closed

[2015-06-05 06:05] ErikEJ opened #2332 "Build in VS 2015 RC fails with latest source and NuGet 3.0 RC2"
Running build of EF7 in VS hangs with NuGet 3.0 RC2 installed. Reverting to 3.0 RC fixes the issue.

[2015-06-05 06:07] ErikEJ commented on #2332
Bad NuGet source config in VS!?

[2015-06-05 06:40] ErikEJ opened #2333 "SQLite functional test project build break"
In SqliteTestStore.cs:

[code]

Cachemode does not appear to be included in the package published on MyGet v1.0.0-beta6-10770

@natemcmaster

[2015-06-05 06:43] ErikEJ opened #2335 "Can't run csproj tests using Built-in VS test runner"
Why has this been removed? My understanding is that this tells the VS Test Explorer that this is a test project:

[code]

[2015-06-05 07:27] MichaelKetting commented on #2162
merged in 3d3426145fddf05bc60c403b82c2cbb6fc0a6e52

[2015-06-05 07:27] #2162 closed

[2015-06-05 10:51] altmann commented on #2327
Ok, currently I have two Configuration classes in my assembly. One configuration for production (AutomaticMigration disabled, no data seeded) and one configuration for testing (AutomaticMigration enabled, testdata seeded). Is this a bad idea? What is the alternative?

[2015-06-05 11:10] divega commented on #2246
Wouldn't 'CAST (1 AS BIT)" work?

[2015-06-05 11:27] divega commented on #2327
Just to confirm, you are refering to Migrations.Configuration classes as opposed to DB configuration classes, correct?

[2015-06-05 12:08] altmann commented on #2327
To be correct, its the Configuration which is inherited from System.Data.Entity.Migrations.DbMigrationsConfiguration.

In my code for example:

     internal sealed class ProductionConfiguration : DbMigrationsConfiguration<EfMigrationTest2.AppDbContext>

[2015-06-05 13:12] divega commented on #2327
Thanks for clarifying that. The constraint described by @ajcvickers applies to DbConfiguration which is a different class. I am not sure which DbMigrationsConfiguration would be picked. @rowanmiller might be able to answer from the top of his mind.

[2015-06-05 14:04] aguacongas commented on #2253
And the website start but with error 500:

[I saved it there](https://github.com/aguacongas/chatle/blob/dev/500%20Internal%20Server%20Error.mht)

And the weird thing is; if I set a dependency to `EntitFramework.Redis`, VisualStudio launch `EntityFramework.Core` project. but not from the submodule, I deleted it.
The [dnx log](https://github.com/aguacongas/chatle/blob/dev/Solution%20launch%20dnx%20l

[2015-06-05 16:21] maumar commented on #2246
It would, and would be a simpler solution. However the other solution seems to be consistent with our funcletization strategy (funcletize as much as we can if its deterministic and doesn't bring more rows from the database).

[2015-06-05 16:23] natemcmaster commented on #2333
Our CI is several days behind. SqliteTestStore will work when you have the changes merged earlier this week from https://github.com/aspnet/Microsoft.Data.Sqlite/pull/84. Until our nightly builds catch up, you can get around this error by using a locally-built nupkg with the latest changes to Microsoft.Data.Sqlite

[2015-06-05 16:25] rowanmiller commented on #2327
Looking at the code I think you should get an exception if there are multiple migration configurations. It's probably best not to use the CreateIfNotExists initializer in this case. MigrateToLatestVersion initializer allows you to specify which configuration to use. Or you could just switch off initializers if you don't want anything done with the database.

[2015-06-05 16:34] rowanmiller commented on #2284
Hey,

You don't really want to ever turn off `GenerateValueOnAdd` (it's how EF generates placeholder keys if you don't have one assigned), we are revisiting the whole design/API for value generation because it is not very friendly/intuitive at the moment.

In the meantime... this is probably the code you are after...

[code]

~Rowan

[2015-06-05 16:53] mikary commented on #2253
There are a number of known issues in the migrations model snapshot in beta4 that have been resolved since then. The beta5 release is coming up soon and it might be best to try updating to the latest bits from there. The latest build is available at https://www.myget.org/F/aspnetrelease/api/v2

[2015-06-05 17:08] rowanmiller commented on #2281
We're going to do some minimal work initially but full fledged support will probably need to wait until after 7.0.0. @avanderhoorn it would be good to know if there is some minimal set of things we could do to support Glimpse (would also make a great PR :smile:).

[2015-06-05 17:31] rowanmiller commented on #2303
@satyajit-behera could you share some code that shows the pattern you would like to be able to achieve in your entities? This will help us derive what features would be required in EF to enable the scenario.

[2015-06-05 17:34] rowanmiller commented on #2307
@scottengle what is the value assigned to `item.Id` in your `AddItem` method. Currently in EF7 if there is a value assigned (i.e. it's not `null` or `0` if it's non-nullable numeric type) then EF will just pass that thru to the database. If it's `null` (or `0`) then it will allow the database to generate a value.

[2015-06-05 17:36] rowanmiller commented on #2310
This seems correct. `DefaultIfEmpty()` will return `null` when no data is present. Therefore `vehicles` is null and trying to access `vehicles.VehicleId` will throw a NullReferenceException.

The code you have to defensively check if `vehicledriver

[2015-06-05 17:46] satyajit-behera commented on #2303
@rowanmiller Thanks. Sure, I will create an example for the same and upload it here.

[2015-06-05 17:49] bricelam commented on #2335
Sorry, got a little trigger happy... Red is my favorite color when it comes to diffs.

[2015-06-05 17:52] bricelam commented on #2335
We typically use [TestDriven.NET](http://testdriven.net/) to run tests, so I didn't notice a difference.

[2015-06-05 17:53] bricelam commented on #2332
We may need to exclude the project.json files...

[2015-06-05 18:07] ToddThomson opened #2336 "Guidance: How to use EF6 with ASP.NET Core 1 RC2 web app?"
I've been moving a subset of my MVC 5, EF6 application to ASP.NET 5, MVC 6 and EF7 and I really like the direction that the platform is moving to. Moving to EF7, however, poses many issues for me. It is just too short on required features that I have used in EF6. I feel I will be investing a great deal of time to add workarounds and to deal with the limitations.
So, what is the guidance for using

[2015-06-05 18:34] rowanmiller commented on #2315
@mikary any idea how much work this would be. Seems like it would be good to fix now if it's not a huge job.

[2015-06-05 18:48] anpete commented on #2246
Yes, better to do client eval here as it means less data on the wire.

[2015-06-05 18:50] divega commented on #2246
Agreed, but any idea of how much work it would take each way? We need to be careful not to turn this little thing into something big :smile:

[2015-06-05 18:56] anpete commented on #2246
Well, it shouldn't be too bad as we can already do the client eval. I will follow up with @maumar later today for an update.

[2015-06-05 19:20] ErikEJ commented on #2335
@bricelam no worries, but some of us actually use the Microsoft supplied tes runner ;-)

[2015-06-05 19:21] ErikEJ commented on #2336
@julielerman has an article in the latest MSDN magazine on how to do that!

[2015-06-05 19:24] divega commented on #2317
@ErikEJ do you know SQL CE simply does not support `SELECT @something` or is it something else? The following thread seems to indicate that there might be a workaround:

http://stackoverflow.com/questions/9482012/why-does-convert-allow-me-to-use-parameterized-query-in-this-case

But you are the expert :smile:

[2015-06-05 19:31] ErikEJ commented on #2317
@diveaga thanks, I will do some digging, and follow up here. My impression is that the issue may be unability to support SELECT @something

[2015-06-05 19:59] mundi4 commented on #2336
in `project.json`:

[code]

[2015-06-05 20:13] julielerman commented on #2336
Here's a link to the article: https://msdn.microsoft.com/en-us/magazine/dn973011.aspx.

Separation of Concerns is  your friend here. Just have your data access (EF) stuff with EF6 in its own project (or projects if you ahve multiple models).

HTH (& thanks @ErikEJ )

[2015-06-05 20:32] piusn opened #2337 "Build with Vs 2015 RC"
I cannot be able to build this solution with visual studio 2015 RC. Packages fails to restore

[2015-06-05 20:42] natemcmaster commented on #623
Current status: a blank Windows Universal app with EF 7 referenced causes the app to crash during startup before the app can start.  The same app runs just fine when not using the .NET Native toolchain.

Attempting to debug using [the help instructions provided in the dialog](https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(vs.debug.error.app_activation_failure);k(TargetFr

[2015-06-05 20:44] AndriySvyryd commented on #2285
@bricelam, @ajcvickers
For properties we need to have a type. We could make the above code work by using a temporary type and throwing in validation if it hasn't been replaced. But then the conventions will run and use the temporary type, anything they do will need to be fixed when the actual type is specified. I think that's introducing more pitfalls without much value as in this scenario there's

[2015-06-05 20:46] bricelam commented on #2332
Excluding them didn't help. I'll disabled automatic restore in the NuGet.Config

[2015-06-05 20:53] ajcvickers commented on #2285
@divega My understanding of the general principal at play here is that we want this API to generally work for building models regardless of whether CLR types are present or not. If that is the case, then we should do the work to make both cases behave in the same way even though it adds complexity to our code because it gives the app developer a consistent experience using just one API to do whate

[2015-06-05 20:55] natemcmaster commented on #2337
This looks the same issue as #2332

[2015-06-05 21:01] divega commented on #2285
An alternative point of view is that passing an actual CLR type (which aligns better with what @AndriySvyryd said) is a shortcut for specifying an entity type name + the shape of the entity, i.e. all its properties and types. If you are specifying an entity without a CLR type it is fair to say that you need to provide an exhaustive description of its shape using some other means.

If it wasn't exp

[2015-06-05 21:08] AndriySvyryd commented on #2285
@ajcvickers We don't have the same behavior for API that deals with shadow and non-shadow properties as per our discussions the benefit of being able to skip redundant configuration for CLR properties is greater than the benefit of having the same behavior, since most users will be using CLR properties.
I believe the same applies here. Having the CLR information is something we cannot mimic reliab

[2015-06-05 21:17] ajcvickers commented on #2285
@divega "passing an actual CLR type is a shortcut for specifying an entity type name + the shape of the entity" I don't think this is true. Properties may be brought in by convention, but otherwise it just brings in the type with no properties.

@AndriySvyryd Agreed that not having the same behavior was how it was designed, and I like that design, and it works well when it is a fluent API for buil

[2015-06-05 21:20] ToddThomson commented on #2336
Thanks @ErikEJ and @julielerman ! I've just finished reading through your article. It cleared up a bit of confusion on the project.json use of the "frameworks" property. I really have no need for dnxcore50 at the moment so I've just removed that framework.
I want to point out that I need a dependency on MVC 6 and a few other ASP.NET 5 bits from within my ASP.NET 5 class library as well the EF6 dep

[2015-06-05 21:24] ToddThomson commented on #2336
@mundi4 Just saw your post - that's exactly what I did. Thanks.

[2015-06-05 21:35] AndriySvyryd commented on #2285
@ajcvickers For the scenario where the entire model is specified and it doesn't rely on conventions it is consistent as it allows to configure the CLR entity types the same way as the shadow ones. We can make it more consistent the other way around by making "finding unconfigured CLR property by name" an explicit convention, however I am not convinced if that has enough value.

We are obviously no

[2015-06-05 21:35] rowanmiller commented on #2336
I don't think that is true because you can't have two different versions of the same assembly loaded in an AppDomain. BTW there is some discussion on an EF6 provider for ASP.NET 5 Identity which would solve this issue https://github.com/aspnet/Identity/issues/416.

[2015-06-05 21:39] ToddThomson commented on #2336
@rowanmiller Thanks. I was just about to test it out. I'll edit my post above.

[2015-06-05 21:51] ajcvickers commented on #2285
@AndriySvyryd In the above code, without conventions, if Blog is a CLR entty type, then calling Key will first bring Id into the model and then make it the primary key. Therefore, you can call Key before calling Property.  If Blog is a shadow entity type, then calling Key will throw. Therefore, with shadow entity types there is an order dependency in the API which does not exist for CLR entity typ

[2015-06-05 22:09] bricelam commented on #2335
I think we'll have to depend on `xunit.runner.visualstudio` to light it up. It may not work either since we're not using NuGet to install packages...

[2015-06-05 22:12] AndriySvyryd commented on #2285
@ajcvickers Yes, I can see that. My point is that is we could make it throw for CLR as well to achieve consistency. Making it work for shadow entities requires our code to make assumptions and will almost certainly cause edge case bugs.

[2015-06-05 22:17] bricelam commented on #623
@natemcmaster Remind me to show you where to get the latest Tools for Windows 10. You may encounter less red herrings than with the public previews.

[2015-06-05 22:21] bricelam commented on #2285
If order ends up mattering, we'll instead need to topologically sort entity types in the model snapshot and break foreign key cycles. Please keep this in mind when weighing the cost.

[2015-06-05 22:24] AndriySvyryd commented on #2285
@bricelam That can be avoided if the model building is split into two parts:
1. Configure everything on all the entity types except relationships
2. Configure relationships

[2015-06-05 22:25] ajcvickers commented on #2285
@AndriySvyryd I see--you mean it would throw for CLR types when there are no conventions, but preserve the desired behavior for CLR types when conventions are present. I don't think this really moves us towards a world where you get a model builder and it just works. You now have to know whether conventions are being used or not. In other words, even if you fully specify your model, it may or may

[2015-06-05 22:50] rowanmiller opened #2339 "Null in concurrency token property fails update (even though the tokens match)"
Because null is not equal to null on SQL Server, if you have a concurrency token set to null then the comparison in the database fails (even though they actually match).

[code]

We should use `IS NULL` for null value.

[2015-06-05 22:54] rowanmiller opened #2340 "Full .NET build error after installing EntityFramework.SqlServer (Multiple assemblies with equivalent identity have been imported)"
* Create a console app in VS2015
* Install EntityFramework.SQL Server
* Build

Build error

[2015-06-05 23:39] maumar commented on #2246
I think we got a very easy/local fix for this

[2015-06-05 23:49] divega commented on #2285
I am ok with this compromise and I think what @AndriySvyryd proposed before, to split all the model building code we generate into two phases (the first one to configure everything but relationships and the second one to configure the relationships) should work. FWIW, I had done that by hand in the past (minus the exhaustive configuration of the properties) and it felt good :smile:

[2015-06-06 00:00] divega opened #2341 "Relational: Support translating GroupBy() to SQL"
_Updated as of 9/21/2017 based on implementation introduced_

LINQ's `GroupBy()` operators can sometimes be translated to SQL's `GROUP BY` clauses, in particular when aggregate functions are applied in the projection.

# Scope for 2.1 release

Our current intention is for the scope of the work in 2.1 to improve how LINQ's `GroupBy` is evaluated in this particular scenario:

*Grouping on a simple e

[2015-06-06 05:49] ErikEJ commented on #2335
Ok, then, for "your" test Projects it will be Testdriven.net then

[2015-06-06 07:58] aguacongas commented on #2253
thx @mikary , what is the runtime version I have to used with this released ?

[2015-06-07 08:59] endink opened #2342 "Need complex type support..."
is  there a plan to complete this feature?

[2015-06-07 13:44] Bartmax opened #2343 "[Question] Migrations workflow and There is already an object in the database error."
I'm trying to understand how the migration workflow is supposed to be used/work.

I have my local db created using migrations.
updated code, added migrations, apply, everything worked fine.

now let's say I publish this application to azure, where there is an empty db.

1) Should I have this code so migrations are applied on azure server? or there's another way to manage this?

[code]

then after

[2015-06-08 06:14] ErikEJ commented on #2317
@divega - I think I got closer:

                    //Works:
                    //DbParameter param = command.CreateParameter();
                    //param.DbType = DbType.Int32;

                    //Breaks:
                    DbParameter param = command.CreateParameter();

                    //Common
                    param.ParameterName = "@__x_0";
                    param.Value = 10;

[2015-06-08 08:17] mojtabakaviani opened #2344 "Execute a query and map it to a list of dynamic objects"
please extend ```DbContext.Database.SqlQuery``` to support dynamic type for map query to a list of dynamic objects. for example:
[code]

[2015-06-08 12:53] Rinsen opened #2345 "Change table name via ModelBuilder and ForSqlServer does not work for dnx451"
Hi!

I am trying to change the default name in a table mapping to a new name via ModelBuilder because i have pluralized names in database but i cant get this to work for dnx451, it only works for dnxcore50

`modelBuilder.Entity<MyEntity>(e =>
            {
                e.ForSqlServer().Table("MyEntitys");
                e.Key(m => m.UserId);
            });`

The extension method ForSqlServer(

[2015-06-08 13:51] dustinsharp commented on #2306
EF build: 3.0.0-beta4
Mono version: 1.0.0-beta4

I've uploaded a repository that demonstrates this issue: https://github.com/dustinsharp/EFBugRepro

Here are the steps for reproducing the error:
1. Restore EFBugRepro.bak to a SQL Server.
2. Modify EfBugRepro/config.json to have a valid Data connection that points to the newly restored EFBugRepro database. The Data Source, Initial Catalog, User, an

[2015-06-08 15:58] ToddThomson commented on #2336
I've determined that the powershell scripts to enable migrations (etc) in the EF6 6.1.3 nuget package are not installed when the web application project type is the new ASP.NET 5 XPROJ type. I can understand the reasoning behind this. However, as I mentioned in the starting post for this issue, I cannot use EF7 due to its lack of features compared to EF6. Is there a chance that the DNX team and th

[2015-06-08 16:15] bricelam commented on #2340
Looks like we're accidentally referencing a design-time facade in our nupkg. Easy to do since it's required for DNX to build.

[2015-06-08 16:17] bricelam commented on #2340
We should consider creating a build verification test to catch these. (or DNX should play better with NuGet & MSBuild)

[2015-06-08 16:27] bricelam commented on #2340
Filed aspnet/dnx#2031

[2015-06-08 16:30] bricelam commented on #2342
Dupe of #246?

[2015-06-08 16:32] bricelam commented on #2345
Can you share your `project.json` file?

[2015-06-08 16:35] Rinsen commented on #2345
Sure :)

{
    "version": "1.0.0-*",
    "description": "",
    "authors": [ "" ],
    "tags": [ "" ],
    "projectUrl": "",
    "licenseUrl": "",

    "dependencies": {
        "Rinsen.Common": "1.0.0-*", // My own code
        "EntityFramework.Core": "7.0.0-beta4",
        "Rinsen.DatabaseInstaller": "1.0.0-*" // My own code
    },

    "frameworks": {
        "dnx451": { },
        "dnxcore50":

[2015-06-08 16:39] bricelam commented on #2345
Add `EntityFramework.SqlServer` and `EntityFramework.Commands` to the general `dependencies` property, not the dnxcore50-specific one.

[2015-06-08 16:44] Rinsen commented on #2345
Thanks!

That solved the problem, what difference does it make and when should I put dependencies under general dependencies and when to put them under version specific dependencies?

[2015-06-08 17:08] mikary commented on #2253
If you are on the release feed, you'll probably want to be taking the most recent versions of all of your packages. You can configure this in your project.json with a wildcard like:
[code]

Once the next release is out you'll want to switch to that, but for the most part, these packages should be close to what will be in the next release.

[2015-06-08 18:13] rowanmiller commented on #2336
@ToddThomson at this stage the ASP.NET 5 xproj system does not process the PowerShell files that can be included in a NuGet package. If you want to add your vote toward this feature then here is the place to do so https://github.com/aspnet/dnx/issues/952.

[2015-06-08 18:16] rowanmiller commented on #2336
@ToddThomson

What features in particular are blocking you from using EF7? I'd like to understand if they are things that will be implemented by the initial RTM of ASP.NET 5 and EF7 or whether they are things that will still be missing once we move beyond pre-release.

[2015-06-08 18:45] ajcvickers commented on #2317
@ErikEJ I am working on integrating the type mapping (which includes DbTypes) with query.

[2015-06-08 18:52] rowanmiller commented on #2209
Updated workaround with details of NuGet 3.0 RC2 that can be downloaded and used with VS2015 RC. I've tested that it resolves the issue.

[2015-06-08 18:57] bricelam commented on #2345
Put it in a framework-specific dependency list if you only want it for that framework. This is primarily used for dependencies that aren't available on some frameworks. In general, put it under the general one. :wink:

[2015-06-08 19:03] Rinsen commented on #2345
That´s simple enough :)

I probably will find out when i need it!

Thanks again! :)

[2015-06-08 19:09] ErikEJ commented on #2317
@ajvickers Sounds great, had an impression something was missing, thanks!

[2015-06-08 19:11] ErikEJ commented on #2209
Thanks, Rowan, but I was unable to build at all with RC2!?

[2015-06-08 19:40] ToddThomson commented on #2336
@rowanmiller The things that I believe are blocking me from porting my MVC5, EF6 content management  system to EF7 are:
1) Custom Convensions:
[code]

2) Many to Many

[code]

3) TPT Inheritance: In my CMS, every content type inherits from ContentBase ( all content types along with their services and repositories are in separate dlls )

I hope that helps.

[2015-06-08 20:45] bricelam commented on #999
Re-opening to verify

[2015-06-08 20:59] maumar commented on #2232
Simplified repro:

[code]

[2015-06-08 21:00] maumar commented on #2232
Query that gets generated that causes the problem is as follows:

[code]

[2015-06-08 21:09] natemcmaster commented on #623
Status updated to blocked. Waiting for now on improvements to the .NET Native toolchain that will allow us to find the source of these crashes.

[2015-06-08 21:12] mikary opened #2347 "Async queries not releasing pooled connections"
[code]

After 100 iterations of the preceding code, an `AggregateException` with an inner `System.InvalidOperationException` is thrown.

[code]

[2015-06-08 21:15] divega commented on #2347
Curious, is it possible to repro this without EF?

[2015-06-08 21:49] bricelam commented on #2335
`xunit.runner.visualstudio` does depend on MSBuild to copy `xunit.runner.visualstudio.testadapter.dll` to the output directory. Closing as "Won't Fix" for now.

[2015-06-08 21:56] mikary commented on #2347
It appears to repro in the synchronous case as well as async.

[2015-06-08 22:07] mikary opened #2348 "Multiple attempts to add SelectExpression for a single query source"
The following query results in an exception being thrown by a `Dictionary` in the `RelationalQueryModelVisitor` which maps `QuerySource` instances to `SelectExpression` instances. (`System.ArgumentException` "An item with the same key has already been added.")

[code]

[2015-06-08 23:07] #2332 closed

[2015-06-08 23:40] divega commented on #2320
@anpete is this a case that could be potentially "lifted" as a side effect of the work you are doing for nav props? Otherwise, could we make an incremental improvement to it by pushing down the evaluation of `Contains()` to the server? E.g. each sub-query only needs to return `true` or `false` for each CustomerID of ther outer query, so I would hope this (there are many possible variations) to be

[2015-06-09 00:03] MaximBalaganskiy commented on #2284
The suggested code results in the same exception

[2015-06-09 04:06] phillip-haydon commented on #753
So EF 7 is supporting private setters ?

[2015-06-09 06:15] ErikEJ commented on #2337
Looks like this is fixed now

[2015-06-09 06:20] ErikEJ opened #2350 "Small typo fix"
In SqlServerQueryCompilationContext.cs

[2015-06-09 06:53] prasannapattam commented on #2310
Sorry. I missed the documentation on null checking
https://msdn.microsoft.com/en-us/library/bb397895.aspx

[2015-06-09 07:22] aguacongas commented on #2253
@mikary I'll try asap but not yet, thx

[2015-06-09 16:52] rowanmiller commented on #2284
@MaximBalaganskiy can you share the complete code for us to reproduce the issue? That way we can work out what is going on.

[2015-06-09 16:54] mikary commented on #2347
Made a mistake in the test case, ```NorthwindQuerySqlServerFixture``` is not being disposed, does not repro when the fixture is disposed.

[2015-06-09 17:15] anpete commented on #2320
@divega Yes, this should be lifted. Hopefully to something like this:

[code]

[2015-06-09 17:37] natemcmaster commented on #2110
Since #2322 , have we made any progress towards UAP support?

[2015-06-09 17:58] divega commented on #2320
Great! :+1:

[2015-06-09 17:59] divega commented on #2347
Phew!

[2015-06-09 18:16] HaoK opened #2353 "Review autogenerated index names"
Per @divega "FYI, Brice says that this comes from the entity type. But apparently we are not handling entity type names with generics very well."

[code]

Generated from:

            builder.Entity<TRole>(b =>
                {
                    b.Key(r => r.Id);
                    b.Index(“NormalizedName”)

[2015-06-09 21:52] bricelam commented on #2110
@natemcmaster It resolved #2183 and some issues with the System.Data.Common package. We're now waiting for the Tools for Windows 10 catch up so we can continue testing.

[2015-06-09 22:32] rowanmiller commented on #2268
@pawelpabich deriving the model based on the latest migration(s) suffers a lot of problems (only in team environments). This article goes over the technical details of that https://msdn.microsoft.com/en-us/data/dn481501.

[2015-06-09 23:28] natemcmaster commented on #2306
This appears to be a bug in Mono's implementation of SqlClient.  https://bugzilla.xamarin.com/show_bug.cgi?id=24719

What version of Mono are you using? Run ``` mono --version``` to find out.

[2015-06-09 23:35] natemcmaster opened #2356 "Investigate SQLite database locked errors"
SQLITE_LOCKED errors occurs intermittently between runs. Example output:

See full stack trace: https://gist.github.com/natemcmaster/0536e259226f884f59e7

[2015-06-09 23:45] divega opened #2357 "Decouple design time DbContext instantiaton from migrations commands"
Currently EntityFramework.Commands contains what we believed to be the implementation of EF command-line experience for DNX. However, the way we instantiate the application's DbContext (with all its dependencies wired up the same way they would be at runtime) is very ASP.NET specific and not generally applicable to all DNX code.

Issue aspnet/Hosting#286 was about decoupling that mechanism from AS

[2015-06-09 23:45] divega commented on #2357
cc @bricelam @Tratcher

[2015-06-09 23:48] lajones commented on #1669
Added end-to-end test on release branch (dnx451 only) with commit 1d973a1.

[2015-06-09 23:56] #2164 closed

[2015-06-10 00:45] cuiliang opened #2358 "add migration failed if DbContext in sperate project"
I have a DAL project to hold EntityFramework stuff.
When run `dnx . ef migration add changecolumn` under DAL project, result will be:

[code]

If run `dnx . ef migration add changecolumn` command under Web project which referenced DAL project, the result will be:
···
System.InvalidOperationException: No DbContext was found. Ensure that you're using the correct assembly and tha
t the type is neithe

[2015-06-10 12:44] dustinsharp commented on #2306
Mono JIT compiler version 4.0.1

[2015-06-10 12:55] pawelpabich commented on #2268
@rowanmiller if we can not use snapshots then can we simply have a mode where we rely on the order of migrations and their content?

In short, what stops us from having DbUp like experience with Entity Framework ?

[2015-06-10 13:02] popcatalin81 commented on #2268
Have you considered dropping snapshots altogether?

Instead of using snapshot maybe rebuild the model in memory from all the migrations found and then generate the new migration.

This would be the most friendly method for distributed teams and branch per feature flows.

[2015-06-10 13:51] MaximBalaganskiy commented on #2284
Put the source code archive to my dropbox
https://www.dropbox.com/s/r7uugi06mmstfx7/Issue2284.zip?dl=0

[2015-06-10 15:36] bricelam commented on #1669
(Copying my comment from an earlier PR:)

I think for functional tests, it would good to hit a database and/or compile code. The two big functional scenarios I see are:
* Create various database objects, verify SqlServerMetadataModelProvider outputs a correct model
* Create various models, generate code, verify code, compile code, verify model

[2015-06-10 16:03] ikourfaln opened #2359 "Ca we now use the beta4 release in Production"
Hi,

We are working on a big project, and we need to build it with ASP.NET 5. But we can't wait anymore for the RTM, so is it safe to start the project with Visual Studio 2015 RC (EF beta4) ?

Thanx for all your hard work

[2015-06-10 16:39] scottengle commented on #2307
The item ID is a (non-nullable) decimal type and the value defaults to 0.0. I'm basically testing this through an API call from a REST client in the browser and I'm sending only the Name and LastModified properties in the request.

[2015-06-10 17:29] natemcmaster commented on #2306
This is an issue in Mono. We can't fix this. The DateTime2 bug *appears* to be fixed with https://github.com/mono/mono/pull/1773.

[2015-06-10 17:56] rowanmiller commented on #2359
We're not going to try and stop you using Beta 4 in a production app, but I would recommend against it. If you do decide to then just realize that it is not a supported release and there are a lot of issues with it, some know, many unknown. In particular we have not done a lot of performance or stress testing so there may very well be issues you hit when the framework is put under load.

[2015-06-10 17:56] #2331 closed

[2015-06-10 17:56] #2350 closed

[2015-06-10 17:56] rowanmiller commented on #2359
Closing but feel free to reopen if you have further follow up.

[2015-06-10 18:01] ikourfaln commented on #2359
Hmmmm, thanx a lot for reply, I think we will just start with EF6.
and thanx for your hard work :+1:

[2015-06-10 18:07] scottengle commented on #2307
Here's the Web API implementation for POST, but this errors out in the call to AddItem():

[code]

[2015-06-10 18:10] rowanmiller commented on #2268
We use snapshots because we do a diff based on the EF model, not just the shape of the schema. The simplest example of this is if you change the column that a property maps to. If you just do a schema diff then all you see if a add/remove but if you diff at the model layer then you can see it's just a renamed property.

Running the up method of migrations would likely introduce performance issues,

[2015-06-10 18:11] rowanmiller commented on #2359
EF6 is definitely what we would recommend for the moment.

[2015-06-10 18:14] rowanmiller commented on #2336
@ToddThomson I'll come back to the features in the next couple of days 1 and 2 are possible but the code looks a little different. 3 is not possible at the moment.

I think you will be able to manually run `Init.ps1` from the EntityFramework NuGet package (in the packages folder) from Package Manager Console to load the commands. I haven't tried it yet, so I'm not sure if it works... thought I'd m

[2015-06-10 18:15] ikourfaln commented on #2359
Thanx @rowanmiller

[2015-06-10 18:31] ToddThomson commented on #2336
@rowanmiller Thanks. I'll try the manual install later today.

[2015-06-10 18:36] ErikEJ commented on #2209
@julielerman Now completely unblocked with NuGet 3.0 RC2 and latest myget build

[2015-06-10 20:15] altmann commented on #2327
Ok, thanks to all people who help to clarify that.

[2015-06-10 22:55] natemcmaster commented on #1053
The MonsterFixup test was re-enabled with #2355

[2015-06-10 23:00] ToddThomson commented on #2336
@rowanmiller A simple way to get EF6 commands to work in an ASP.NET 5 XPROJ solution is to add an empty CPROJ project and add EF6 6.1.3 nuget package to both. At that point you can run enable-migrations, etc ( EF6 commands ).
When targeting the ASP.NET 5 project, the commands fail with:

[code]

The code at that location is:

[code]

I'll investigate a bit more, but it looks like a dead end.

[2015-06-10 23:35] pawelpabich commented on #2268
@rowanmiller I think I'm lost here a bit. Correct me if I'm wrong. From what you are saying it looks like the snapshots that are embedded in each migration can *not* be used to generate the global snapshot? If that's not true and the only concern is perf then can you generate it only when it does not exist? In this way only people that want this feature will pay the additional tax.

[2015-06-11 00:01] pawelpabich commented on #2268
@rowanmiller regarding the merge conflict. You are 100% right. But what I've been trying to communicate here is that it adds friction. Every dev process has some level of friction and I would like to see it decrease not increase. And I really hope you don't optimize for non-team scenario. How many 1 person teams do you have at Microsoft :) ?

I did the experiment again and I ended up with 2 confli

[2015-06-11 05:30] ErikEJ opened #2363 "Guidance on value generation for SQLCE provider"
As I understand it, much of the EF7 value generation centers around use of sequences. Unfortunately, the SQLCE engine does not support sequences, not does it support a way of retreiving new value of NEWID, so the only "value generation" is use of IDENTITY on int and bigint columns. This works well in my current implementation. I have added a .UseIdentity() model level extension, and all is fine.

[2015-06-11 05:44] divega commented on #2363
We are going to make `UseIdentity()` the default soon, so the problem should go away.

[2015-06-11 08:01] DragonMrak opened #2364 "NullReferenceException when using ternary expression in select"
Hello,
I have db context like this:
[code]
And with the following query:
[code]
I receive NullReferenceException at Microsoft.Data.Entity.Relational.Query.ExpressionTreeVisitors.RelationalProjectionExpressionTreeVisitor.VisitExpression(Expression expression)

It doesn't help to change ternary expression to return non-null value, for example TitleCss = u.Read ? "read" : "unread" - still getting the

[2015-06-11 08:02] DragonMrak commented on #2364
Almost forgot, I'm using 7.0.0-beta4

[2015-06-11 10:55] ErikEJ commented on #2363
@divega  Great, that means the tests will have to respect that. But I assume I will still need a global switch to turn if off, a la UseNoValueGeneration or?

[2015-06-11 18:42] ajcvickers commented on #2363
@ErikEJ In the EF7 KeyConvention, integer keys are set to StoreGeneratedPattern.Identity by default. This means that if no explicit value has been set for the key, then it should have a value generated when SaveChanges is called--just like in EF6. It is up to the provider to choose how to honor this--again, this is basically the same as in EF6. (The major difference from EF6 is that if an applicat

[2015-06-11 18:53] lajones commented on #1669
Merged the end-to-end test for dnx451 into dev branch with commit 776124e.

[2015-06-11 18:58] ErikEJ commented on #2363
So for the update pipeline, I probably do not need the Identity annotation. As I recall, I needed it for migration/table creation statements, but maybe I am doing something wrong? I think I needed it to generate the IDENTITY property in the table create statement!?

[2015-06-11 18:58] ajcvickers opened #2365 "ArgumentNullException when querying with nullable byte, short, or enum parameters"
See "Can_query_with_null_parameters_using_any_nullable_data_type" to reproduce.

Stack trace:

Test 'Microsoft.Data.Entity.SqlServer.FunctionalTests.BuiltInDataTypesSqlServerTest.Can_query_with_null_parameters_using_any_nullable_data_type' failed:
	System.ArgumentNullException : Value cannot be null.
Parameter name: value
	C:\aspnet\EntityFramework\src\Shared\Check.cs(24,0): at Microsoft.Data.Enti

[2015-06-11 20:48] ajcvickers opened #2368 "Perf: Test impact of facets on properties not reflected in query parameters that interact with those properties"
Query is now integrated in type mapping such that the default type mappings for the CLR properties of types are used. So for example, we create a datetime2 parameter on SQL Server where needed and avoid the overflow issues with datetime parameters. In all the testing I have done it appears that everything is functional. However, there may be other reasons (such as perf) for taking facets of proper

[2015-06-11 20:52] ajcvickers opened #2369 "Allow Identity convention to be switched off"
As in the old stack, integer primary keys are marked as StoreGeneratedPattern.Identity by convention. It might be worth allowing this to be switched off to make Identity opt-in instead of opt-out.

[2015-06-11 21:22] ajcvickers commented on #2363
@ErikEJ That is an interesting question. :-) I think the CE provider should rely entirely on StoreGeneratedPattern.Identity. If it is there, then create an Identity column, if not, don't. Having no Identity columns by default for the whole model is something that should be handled by the core--I created #2369 for this.

For SQL Server, the UseIdentity or UseSequence methods (which will be renamed)

[2015-06-11 22:23] #2121 closed

[2015-06-11 22:23] #2238 closed

[2015-06-12 06:06] MaximBalaganskiy opened #2372 "Invalid SQL generated for multiple joins"
Here is the simplified version of what I am executing - i removed other tables and left only `Account`

    from a1 in c.Accounts
    from a2 in c.Accounts.Where(a2=>a2.Id == a1.Id)
    from a3 in c.Accounts.Where(a3 => a3.Id == a1.Id)
    where a1.Id == id
    select new { a1, a2, a3 }

The SQL generated is this

    SELECT TOP(1) [a1].[Id], [a2].[Id]
    FROM [account] AS [a1]
    CROSS JOIN [ac

[2015-06-12 07:24] hiwjcn opened #2373 "i find a query bug"
just a test:

[code]

When i pushed F5,i found this expression returns all data in database without exceptions.
and the email field dose not match the expression....

i do not know why......is it a bug?

[2015-06-12 08:13] davidroth commented on #2291
TLDR; Thanks @divega for your detailed explanation!

I understand your concerns about async having "viral" characteristics.
I have some feedback though:

To my knowledge there are 2 scenarios were value generation kicks in:

##### - Calling  ```Add()``` or ```AddRange()``` or```DetectChanges()```

This is an obvious explicit call to the EF Apis and the developer knows that value generation may tak

[2015-06-12 10:24] ilmax opened #2374 "EF 6 Multiple IDbContextFactory"
I hope this is the right place to fill EF6 issues, if not please redirect me to the correct place.

I found that EF does not throw when there are multiple IDbContextFactory implementations for the same context, IMHO an exception should be thrown to make the error crystal clear. Type names will be welcome in the exception message.

Regards, Max

[2015-06-12 16:16] c1rus commented on #2284
i ran into same issue.

[2015-06-12 16:37] natemcmaster commented on #2374
Thanks for sharing, Max. This repo is for EF 7. You can file issues for EF 6 on our Codeplex project at https://entityframework.codeplex.com.

[2015-06-12 16:38] endink opened #2375 "Cant use Include query in SqlAzure!"
for example: use ASP.Net Identity data schema, and code:

 var user2 = (from u in identityRepository.Table.Include(u=>u.Roles)
                            where u.Id == 1
                            select u).FirstOrDefault()

in SqlAzure throw an InvalidOperationException, but in localDB it works fine!

[2015-06-12 17:23] divega commented on #2375
@endink thanks for reporting this. Can you please provide the full details of the exception you are seeing?

[2015-06-12 18:04] endink commented on #2375
@divega Of cause, but there is a problem, I use the VS2015 RC with English language version, but i get the exception message is Chinese, because of my PC is Chinese ? the exception message like this, sorry for my bad English :

A database operation failed while processing the request.

AggregateException: 发生一个或多个错误。
AggregateException: 发生一个或多个错误。
AggregateException: 发生一个或多个错误。
AggregateException:

[2015-06-12 18:11] rowanmiller commented on #2375
Looks like MARS (multiple active result sets) is not enabled. You probably have `MultipleActiveResultSets=True` included in your localdb connection string but not in your SQL Azure connection string.

Can you enable MARS on your SQL Azure connection string and see if it resolves the issue?

[2015-06-12 18:15] rowanmiller commented on #2375
Can you also confirm which version you are using. We have removed the need for MARS in recent nightly builds.

[2015-06-12 18:17] rowanmiller commented on #2373
@hiwjcn do you see all data returned in the list, or just loaded from the database and then filtered out in memory?

[2015-06-12 18:25] endink commented on #2375
@rowanmiller Thanks Thank! It really because the MultipleActiveResultSets miss in the Azure connection string , when i add MARS, it works great ! I use EntityFramework 7.0.0-beta4 in VS2015 RC, SqlAzure version is 11. Thanks again!

[2015-06-12 18:26] rowanmiller commented on #2358
@bricelam assume this is a dupe of something you already have open, so feel free to close with a link to the issue

[2015-06-12 18:34] rowanmiller commented on #2315
We should investigate the perf impact to help prioritize.

[2015-06-12 19:07] rowanmiller opened #2377 "Migrations: Improve property layout to help with merge conflicts"
See https://github.com/aspnet/EntityFramework/issues/2268#issuecomment-110951321

The way we are splitting up lines combined with every property having a `.Annotation("OriginalValueIndex"...` means that merging can non-trivial when two devs add a property to the same class.

[2015-06-12 19:07] rowanmiller commented on #2268
The snapshots in the migration can not be used for the reasons covered in the article I linked to. They work fine for single developer scenarios but do not work in teams.

The global model snapshot is only being introduced because of teams. In a single developer scenario it would be fine to remove it and rely on the snapshot from the last migration.

This is really good feedback and just means the

[2015-06-12 19:09] rowanmiller commented on #2336
Looping in @cherrydev as I am told they have already looked at enabling migrations in EF6/ASP.NET5 scenarios. They may be able to share some of their finding here.

[2015-06-12 19:19] rowanmiller commented on #2209
@ErikEJ sounds like the issues with building with RC2 are fixed now, can you confirm?

[2015-06-12 20:07] rowanmiller commented on #753
@phillip-haydon They are actually supported already. The following code works with EF7 Beta 4. Private property setters were actually supported in previous version of EF too.

[code]

[2015-06-12 20:19] rowanmiller commented on #2336
@ToddThomson

Regarding the features you mentioned...

1) Custom Conventions

We may introduce an API similar to what we had in EF6. But because we changed the model builder to construct the model as it goes (rather than at the end based on the config you supplied) you can query the model and configure based on it's current shape.

i.e. this code achieves what your sample did on EF6

[code]

2) Ma

[2015-06-12 20:24] JonTheMon commented on #1110
I am encountering an issue very similar to the original issue. I'm excluding Automapper and I'm getting the exception below.  To simplify it, all I'm doing is taking my object with a collection, loading it, removing an item out of it, and doing db.SaveChanges().

I'm trying to take advantage of an identifying relationship (composite key of Id and Foreign Key) so that when the item is removed from

[2015-06-12 20:47] maumar commented on #2246
Fixed in e8e50c0de94dd72ff9785e94f474466c2cfa5cad

[2015-06-12 20:47] #2246 closed

[2015-06-12 22:22] rowanmiller commented on #2319
@MatthewMWR we aren't intending to support this scenario in the initial 7.0.0 release (though we do think it would be good to support). The closest you could get with EF7 (or EF6) is to have a private setter that doesn't do anything.

Generally when we talk about "read-only" we are referring to something that can be set/changed before inserting the record, but once saved to the database it cannot

[2015-06-12 22:30] rowanmiller commented on #2318
@MatthewMWR given the property does not have a setter, the expected behavior is for EF to ignore it. I did a simple test using both Beta 4 and the latest nightly build and neither of these included the property in the model/database. Any chance you could share the code where you saw a column created for the property?

[code]

[2015-06-12 22:36] rowanmiller commented on #2343
@Bartmax is it possible that a different context (i.e. different fully qualified type name) created the same tables in the database? Migrations are keyed off the type name, so if the Identity tables are created with a  different type name then it will try and apply the migration to create tables that are already there.

Regarding deploying migrations... we are working to have proper deployment sup

[2015-06-12 22:40] rowanmiller commented on #2307
@scottengle we're having trouble getting to the bottom of this since the decimal column should never be configured as Identity by convention. Could it be that you mapping to an existing database that was not created by EF? If so, you would need to configure that property as Identity (since it won't be configured that way by convention).

[code]

[2015-06-12 22:41] rowanmiller commented on #2307
BTW I notice you are using the Metadata property a lot in your model builder code. Any particular reason you use `e.Metadata.SqlServer().Table = "ITEMS";` in favor over `e.ForRelational().Table("ITEMS);`?

Was it just a matter of finding the APIs first, or was there a reason you prefer the Metadata one?

[2015-06-12 22:51] maumar commented on #2364
This no longer repros in the current bits

[2015-06-12 22:51] #2364 closed

[2015-06-13 01:13] maumar commented on #2274
In the current bits it throws NRE:

Unhandled Exception: System.NullReferenceException: Object reference not set to
an instance of an object.
   at Microsoft.Data.Entity.Storage.ValueBuffer.get_Item(Int32 index) in D:\k\EntityFramework\src\EntityFramework.Core\Storage\ValueBuffer.cs:line 31
   at Microsoft.Data.Entity.ChangeTracking.Internal.SimpleEntityKeyFactory`1.Create(IEntityType entityType,

[2015-06-13 01:16] maumar commented on #2274
Standalone repro:

[code]

[2015-06-13 01:17] hiwjcn commented on #2373
the params of where function is expression not func and where function returns a iqueryable not ienum......
so i think data is fitered in database not memory..

i think ef generate wrong sql....

i use mysql.
if ef work correctly,the sql should be select xxx from user where user_email ='0'
but ef ignore the 'x=>x.user_email==i.tostring()' expression.
so sql turns to be select xxx from user....with

[2015-06-13 01:19] hiwjcn commented on #2373
@rowanmiller  sorry to borther you,,,,my ef version is 6

[2015-06-13 01:23] maumar commented on #2373
@hiwjcn simple workaround would be to pass string directly to the predicate, like so:

[code]

[2015-06-13 01:27] hiwjcn commented on #2373
@maumar  yeah i know how to use ef correctly,,but if ef can't recognize my expression,it should throw a exception not return a wrong data.

[2015-06-13 04:44] bricelam commented on #2377
`OriginalValueIndex` (and other irrelevant annotations) were removed from the snapshot in #2186

[2015-06-15 05:25] ErikEJ commented on #2209
@rowanmiller Yes, everything builds fine in VS 2015 RC updated with NuGet 3.0 RC2 (still some errors in command line build for some reason, though)

[2015-06-15 05:57] owidat opened #2378 "How to support dynamic types with EF 6.1? dose EF 7 support dynamic types?"
We are I build dynamic data context, linq is not support dynamic type we found this solution or workaround
http://jrwren.wrenfam.com/blog/2010/03/04/linq-abuse-with-the-c-4-dynamic-type/

public static class ObjectExtensionMethod
{
    public static IEnumerable<dynamic> Select(this object source, Func<dynamic, dynamic> map)
    {
        foreach (dynamic item in source as dynamic)
        {

[2015-06-15 07:03] ErikEJ opened #2379 "BuiltInDataTypes test base issue"
I am unable to implement these tests:
public override void Can_insert_and_read_back_all_non_nullable_data_types()
        {
            //base.Can_insert_and_read_back_all_non_nullable_data_types();
        }
        public override void Can_insert_and_read_back_all_nullable_data_types_with_values_set_to_non_null()
        {
            //base.Can_insert_and_read_back_all_nullable_data_types_with_

[2015-06-15 11:10] npehrsson commented on #246
Is there a plan for when this will be implemented?

[2015-06-15 11:15] ErikEJ opened #2380 "Always use PRAGMA foreign_keys = ON; in the SQLite provider"
Otherwise no FK constraints will be enforced by the engine, despite them being present in the model.
https://www.sqlite.org/foreignkeys.html

[2015-06-15 12:03] ErikEJ opened #2381 "Possible bug in SqlServerTypeMapper"
I think maybe the DbTypes have been swapped here:

[code]

(Just testing "BuiltInDataTypes" for the SQLCE provider)

If this is the case, I think test coverage may be missing

[2015-06-15 13:54] GSPP commented on #2291
Note, that it is not necessary to make everything async from an efficiency standpoint. It is totally OK to use EF mostly synchronously and only make time-consuming queries async. Async does not make operations any faster, it merely saves a thread while the IO is running. The thread saving benefit is proportional to the time that the async operation takes.

Your reasoning is correct: Not all APIs m

[2015-06-15 13:58] GSPP commented on #2266
TPT can be important for performance. Think of huge tables. Usually, you want only the absolutely required fields in such a table. TPH has column bloat, TPT is lean. Also, with TPT database statistics can be specialized for each type. This is important because different types can have vastly different data distributions.

TPT is quite an important pattern and I don't see why it would be considered

[2015-06-15 15:15] scottengle commented on #2307
@rowanmiller Yes, I'm mapping to an existing database that wasn't created by EF originally. I'll try assigning the Identity. With respect to the Metadata calls, I started working on this code base during beta3 and there wasn't much documentation at the time on how to code up a "database first" project. I think the Metadata calls just ended up working for me at the time. If the ForRelational calls

[2015-06-15 17:00] ajcvickers commented on #2379
@ErikEJ Can you send a pull request that changes the tests so that any of the properties can be ignored using the same pattern for the ones that SQL Server currently ignores?

[2015-06-15 17:02] ErikEJ commented on #2379
@ajcvickers Yes, I plan to do that, just never got round to it yet. Should I make all properties "ignorable" or only Timespan and DateTimeOffset?

[2015-06-15 17:03] lajones commented on #2379
Actually would it be possible to test that the remaining properties do what they do in the base test. And that TimeSpan and DateTimeOffset throw or do whatever you expect them to do for SQL CE?

[2015-06-15 17:09] ErikEJ commented on #2379
@lajones Well, currently that is not possible, as the test method tests all properties. Or maybe I misunderstand your statement?

[2015-06-15 17:09] ajcvickers commented on #2379
@ErikEJ I would make all properties ignorable. @lajones I think that's a different test or a bigger refactoring. At the moment property types that are not supported are excluded from the model. Testing the negative case of a property type that is in the model but not supported would be useful, but that's probably best done in a separate test.

[2015-06-15 17:10] ErikEJ commented on #2379
@ajcvickers Yes, some test that throw "NotSupported" for unsupported datatypes would be great! I will make them all ignorable, then.

[2015-06-15 17:16] lajones commented on #2379
@ErikEJ @ajcvickers I agree it would be harder to do - more refactoring etc - but it would make for a better test I think. Still - if we can't do it right now @ErikEJ would you mind creating an issue so that we don't forget to do it later? Thanks.

[2015-06-15 17:20] rowanmiller commented on #2307
@scottengle ok that makes sense. If EF doesn't know that the column is IDENTITY then it will try and insert values for you.

Here are some very early docs on using the configuration API http://ef.readthedocs.org/en/latest/modeling/configuring.html.

[2015-06-15 17:37] rowanmiller commented on #2380
Already tracked by https://github.com/aspnet/Microsoft.Data.Sqlite/issues/62
We may do this in the EF provider or possible in our SQLite implementation of System.Data.Common.

[2015-06-15 17:39] rowanmiller commented on #246
@npehrsson no exact timeline at the moment. It's high on the backlog, close behind TPH inheritance support and navigation property translation in LINQ (which are both being implemented at the moment).

[2015-06-15 17:43] ErikEJ commented on #2379
@lajones unsure what you are aiming for, so maybe better if you create it! 😉

[2015-06-15 17:45] ErikEJ commented on #2380
@rowanmiller I suggest doing it in the EF provider rather than the ado.net provider, as off is the default behaviour

[2015-06-15 17:47] lajones commented on #2379
@ErikEJ - if you create a model with e.g. a TimeSpan in it and point it at a SQL CE DB, what would you expect to happen when the user tries to use that model? How and under what circumstances should it fail? The test would just test that you get the expected failure(s).

[2015-06-15 17:50] natemcmaster commented on #2380
If we don't implement aspnet/Microsoft.Data.Sqlite#62, then I agree with @ErikEJ that we should add this into the EF layer.

[2015-06-15 17:53] ErikEJ commented on #2379
@lajones yes, that seems like a good test, and it is possibly missing from the current test suite. I would expect a NotSupported exception to be thrown in the typemapper

[2015-06-15 18:05] ajcvickers commented on #2381
@ErikEJ This code has gone from the SQL Server mapping in my latest changes (which are waiting on review). We no longer use the sized type mappings in SQL Server because we want to keep the Size property on the DbParameter constrained regardless of actual column width in the database.

[2015-06-15 19:34] #2217 closed

[2015-06-15 19:53] divega commented on #2378
@owidat As you probably already realized this workaround will not help with LINQ providers that work by translating the LINQ query's expression tree to a server query, since in this case the predicate is not captured as an expression. From what I have heard making dynamic work with that flavor of LINQ query is a pretty hard problem. If some day the language team solves it we can consider supportin

[2015-06-15 20:00] lajones opened #2385 "Add test to check exception for Unsupported Data Types"
See #2379.

SQL CE does not support the data types TimeSpan and DateTimeOffset. We should add a test that when a user creates a model with those types in it and attempts to use it that the expected exception is thrown.

More generally it would be good to have a test which allows any provider to override the expected results so that data types which are expected to pass for that provider pass and d

[2015-06-15 20:01] lajones commented on #2379
Added #2385

[2015-06-15 20:13] #2176 closed

[2015-06-15 20:59] maumar commented on #2373
I'm having hard time reproing this issue in EF6. I tried the following code:

[code]

And it produces the following sql:

[code]

and produces the expected number of results - 2.

Could you provide a repro that causes the bug?

[2015-06-15 21:06] #2170 closed

[2015-06-15 21:07] maumar commented on #2373
@hiwjcn  actually, i opened a bug in EF6 repository here:
https://entityframework.codeplex.com/workitem/2763#

[2015-06-15 21:08] #2373 closed

[2015-06-15 22:20] Bartmax opened #2387 "EF7 is not saving navigation object on database"
I'm not sure if I'm doing something wrong or is not supported yet. I was trying to figure out what's going on with no clue.

the problem: In the database, the AppointmentRequest is saved but AppointmentRequestLine is empty.

this is the code:

[code]

The database is created using migrations (had to delete everything and create 1 migration because a second one fails but that another issue)

Is the

[2015-06-15 22:49] natemcmaster commented on #2356
Occurs under these conditions:

1. Shared-cache mode is used by multiple connections
2. Multiple connections attempt to read/write the same table.

Solutions:

1. Don't use shared-cache mode (unfortunately we need this.)
2. https://www.sqlite.org/unlock_notify.html. This article shows a method for setting up blocking calls instead of failing when SQLITE_LOCKED is returned.
3. (For our testing proj

[2015-06-15 22:53] Bartmax commented on #2387
This new method for saving solved the issue. Is this supposed to be explicit as this or is because is not yet implemented ?

[code]

[2015-06-16 01:33] hiwjcn commented on #2373
@maumar i posted some bug details on codeplex this morning...did you see that?

[2015-06-16 06:37] oxffaa opened #2389 "Create api for setting custom names for constraints(primary key, foreignkey, default, unique)"
By default constraint for foreignkey - FK_dbo.Table1_dbo.Table2_Id .  Need posibility for set name as  FK_Table1_Table2_SomethingElse_Id or another.

[2015-06-16 06:54] pawelpabich commented on #2268
It's a pity that this can't be fixed but it is what it is.

Thanks

[2015-06-16 11:40] jkyadav commented on #2093
@rowanmiller  I have reactivated EF beta4 still seems Data Annotation not working..
If I try to write below code

[StringLength(100)]
public int Text { get; set; }

Still it sets Text size as MAX.

Can you please let me know what all I need to change to make this working using EF beta4.

[2015-06-16 11:52] ErikEJ commented on #2093
@jkyadav  Do you really mean "public int" ? Data annotation attributes are not implemented in beta 4, you need to use the Fluent modelBuilder API

[2015-06-16 16:14] bricelam commented on #2380
In triage, we did decide to do this at the EF (not the ADO.NET) layer.

[2015-06-16 16:20] bricelam commented on #2380
We should also enable people who want to shoot themselves in the foot turn it off.

[2015-06-16 16:25] ErikEJ commented on #2380
@bricelam  Of course!

[2015-06-16 16:26] bricelam commented on #2356
Does it only occur when the connections are on different threads?

It's a fair amount of work, but I really like the idea of blocking (with a timeout) in the ADO.NET layer. This would make it transparently "just work" for consumers.

[2015-06-16 16:32] AHMEDKAMALET opened #2391 "add-migration"
i have a problem when i create my database ,i used entityframework 7 i get the message as following:
Cannot bind parameter 'FilterScript'. Cannot convert the "Id" value of type "System.String" to type "System.Management.Automation.ScriptBlock".

[2015-06-16 16:33] #2175 closed

[2015-06-16 17:02] rowanmiller commented on #2391
@AHMEDKAMALET can you share your code so that we can reproduce the issue you are seeing.

[2015-06-16 17:06] rowanmiller commented on #2093
@jkyadav easiest way is just to set the data type you want to use http://ef.readthedocs.org/en/latest/modeling/configuring.html#relational-data-type.

Data Annotation support is tracked by https://github.com/aspnet/EntityFramework/issues/107

[2015-06-16 17:07] AHMEDKAMALET commented on #2391
thank you mr rowanmiller first i created the model (class context,class entity)and i added the sqlserver in visual studio , iwant work with if
my code:
//the context class
    public class Context:DbContext
    {

        protected override void OnConfiguring(EntityOptionsBuilder optionsBuilder)
        {
            //base.OnConfiguring(optionsBuilder);
            var connextionstring = @"Data S

[2015-06-16 17:10] rowanmiller commented on #2389
Here is the code for Beta 4

[code]

We're simplifying the API in future releases though (removing the need for the `ForRelational()` call and renaming `Name` to `ConstraintName`)

[2015-06-16 17:12] natemcmaster commented on #2356
Yes, it can only happen when using different threads. Moving to https://github.com/aspnet/Microsoft.Data.Sqlite/issues/97

[2015-06-16 17:14] bricelam commented on #2356
Hmm, if it's only cross-thread, we should be able to prevent it by using one database per class/collection.

[2015-06-16 17:25] natemcmaster commented on #2356
Unfortunately, I don't think it will be that easy. The errors I found in EF testing originate from looping over SqliteDataReader.Read().

[2015-06-16 17:54] smitpatel commented on #1994
With #2175 implemented, above issue doesn't exist anymore.

[2015-06-16 17:54] #1994 closed

[2015-06-16 18:04] rowanmiller commented on #2391
@AHMEDKAMALET are you using Windows 7?

[2015-06-16 18:28] AHMEDKAMALET commented on #2391
yes ,windows 7

[2015-06-16 18:31] AHMEDKAMALET commented on #2391
i used EF6 ,ity works in windows 7

[2015-06-16 18:36] divega commented on #1994
@smitpatel what happens if you call UseSequence() on the model and UseIdentity() on all individual properties? Just want to make sure we understand and are ok with the behavior.

[2015-06-16 18:37] natemcmaster opened #2394 "Support for scripting idempotent SQLite migrations"
Currently, migration script generation attempts to create an idempotent script (aka can be run repeatedly and have the same effect.) With SQLite, this is not possible using SQL statements alone as SQLite does not support conditional

**One possible way to workaround this limitation:**
Generate a script using LUA or Python (or something else) that will execute the if-else logic we need. Embed the S

[2015-06-16 18:38] smitpatel commented on #1994
In that case there will be sequence in the model which is not being used by any property. But since user made explicit call to `UseSequence()`, I am not sure if we should be removing it.

[2015-06-16 18:39] ajcvickers commented on #1994
Agree with @smitpatel that this is an acceptable behavior.

[2015-06-16 18:39] divega commented on #1994
Agreed that sounds acceptable. @ajcvickers @rowanmiller what do you think?

[2015-06-16 18:40] divega commented on #1994
ok :)

[2015-06-16 18:41] rowanmiller commented on #1994
I agree... especially when we rename UseSequence to something that reflects it's the HiLo generator pattern.

[2015-06-16 18:54] MatthewMWR commented on #2319
Updated main post title and text for clarity as a future feature request. Thanks.

[2015-06-16 19:04] MatthewMWR commented on #2318
Likely explanation is I did something in the builder/fluent layer to force the property creation in the database. Now that I understand expected behavior this thread becomes a dupe of https://github.com/aspnet/EntityFramework/issues/2319 .

[2015-06-16 20:06] MatthewMWR commented on #2387
My understanding is that the default in EF7 is to attach the single explicit item. To attach the object graph as in old versions you can do manually like you have done here or use AttachGraph()

[2015-06-16 20:20] bricelam commented on #2391
This is probably a dupe of #2134

[2015-06-16 20:23] rowanmiller commented on #2387
Correct. Generally in .NET APIs `XyzSet.Add` only adds the root and the fact past versions of EF added the entire graph has been a source of confusion for folks. That said, given that's what `Add` did in past releases we are discussing renaming the API to something more like `AddSingleObject` (hopefully we come up with a better name) to avoid confusion.

As @MatthewMWR mentioned there is also the

[2015-06-16 20:28] AHMEDKAMALET commented on #2391
thank you i will try and i will say you the result

[2015-06-16 20:37] Bartmax commented on #2387
Okay thank you. I will take a look at attach graph.

My confusion was because I expected to work like previous versions and the lack of documentation. This are beta bits so it's normal to have this issues at this stage.

While I agree the api may use a new name, making it explicitly clear on documentation on RTM may be enough. It's something one will hit only once.
Another idea is to have 2 method

[2015-06-16 21:46] AndriySvyryd commented on #2285
@divega mentioned that we could have a more consistent experience if the API for adding a shadow entity type would have a required parameter for specifying the property names and types

[2015-06-16 21:57] ajcvickers commented on #2285
@divega @AndriySvyryd But adding a non-shadow CLR entity type does not add properties. If you have conventions enabled, then a convention may kick in that will then bring in properties by convention, but to me this is different both conceptually and practically since the convention can be removed and/or changed.

[2015-06-16 22:16] AndriySvyryd commented on #2285
@ajcvickers Well we can choose to only add the properties specified in this way for shadow entity types if the property discovery convention is present. Basically it allows the user to provide the same information we would extract from the CLR type in the equivalent call.

[2015-06-16 22:20] ajcvickers commented on #2285
To me it feels like a band-aid API over a leaky abstraction.

[2015-06-16 22:32] ajcvickers commented on #2285
Thinking about this more, I think we should go back to our original decisions on the model builder API and say that if you are using shadow entity types or shadow properties on CLR entity types then there are constraints with that, and the primary constraint is that you must tell us about these properties before you use them since we have no reasonable way of inferring metadata about them. I think

[2015-06-16 22:47] AHMEDKAMALET commented on #2391
thank you so much mr bricelam you helped me , i solved my problem :+1:

[2015-06-16 22:59] rowanmiller commented on #2285
I agree... I was actually just doing this with a model where I wanted to define a key in shadow state because I was re-using an existing domain object as part of an EF model. The logical code to me was to define the property and then configure it as the key.

[2015-06-16 23:37] divega commented on #2285
I know what we have isn't necessarily broken if you look at it with the right mindset. I am just tinkering with various ideas to see if I can find a story that feels more consistent and simpler (what Andriy described is just one of the directions). I know it is possible that I won't find one.

[2015-06-17 06:14] jkyadav commented on #2093
In my table there are 80 column, so I have to write 80 lines in the context file, I don't think provided solution will easy in this case, and also I have already defiled model property length.

[2015-06-17 14:07] ErikEJ commented on #2317
Fixed with the latest Typemapper changes

[2015-06-17 14:07] #2317 closed

[2015-06-17 14:10] divega commented on #2317
Great to hear! Thanks.

[2015-06-17 18:20] natemcmaster opened #2397 "SQLite connections not properly closed"
SqliteConnection is not being closed correctly.

Repro: repeatedly call this method using a context configured to use Sqlite. It should always return false, but will return true on occasion.

[code]

[2015-06-17 20:24] oswaldofreitas opened #2398 "Help: EF Update Many-to-Many in Detached Scenario"
Please guys, I need your help.

In all my devs using EF, I get lost when working with related entities in a detached scenario. Could you help me write a method to update parent and children? See http://stackoverflow.com/questions/30872850/ef-update-many-to-many-in-detached-scenario

Are there any tutorials to help me with a little EF advanced scenarios?

Thank you very much

[2015-06-17 21:32] emisaacson opened #2400 "Updated boilerplate for EntityFramework 7+Identity"
Visual Studio 2015 RC has a template for a vNext website (beta4) with a lot of Entity Framework and AspNet Identity functionality built in. I've been staying up to date with the nightly builds and my project still compiles but the EF+Identity portion no longer executes, there are various runtime errors. Is the boilerplate for migration and EF/Identity context updated somewhere? I cannot find a rep

[2015-06-17 21:41] #2309 closed

[2015-06-17 21:54] mikary commented on #2090
We looked into resolving this exception in #2271, but after some discussion decided it was more appropriate to throw on repeated calls to AddXXX for providers. PR #2330 updates the AddXXX call to throw earlier with a more descriptive error message.

[2015-06-17 23:02] matthewDDennis commented on #2090
you could just use TryAdd.

-----Original Message-----
From: mikary
Sent: 17/06/2015 5:55 PM
To: aspnet/EntityFramework
Cc: Matthew Dennis
Subject: Re: [EntityFramework] Calling AddSqlServer more than once shouldn'tresult in an error. (#2090)

We looked into resolving this exception in #2271, but after some discussion decided it was more appropriate to throw on repeated calls to AddXXX for provide

[2015-06-17 23:09] bricelam opened #2402 "ModelBuilder: Allow sequence store type to be specified"
We currently have...

[code]

...but we should also allow you directly specify the store type (similar to properties).

[code]

[2015-06-18 00:48] divega commented on #2348
@mikary do you think this could be related to https://github.com/Reactive-Extensions/Rx.NET/issues/106?

[2015-06-18 00:54] divega opened #2403 "Have a way to turn off null semantics at the context level"
(just extracting what is actionable from https://github.com/aspnet/EntityFramework/issues/2106)

E.g.:

DbContext.Database.AsRelational().UseDatabaseNullSemantics = true;

Note that this will have an impact on query caching, e.g. at query execution time we should generate different SQL based on the same source LINQ query depending on the state of this flag.

[2015-06-18 00:54] divega commented on #2106
Superseded by #2403.

[2015-06-18 00:54] #2106 closed

[2015-06-18 00:56] divega commented on #2057
@natemcmaster want to give this one a try?

[2015-06-18 00:58] natemcmaster commented on #2057
@divega Sure. I'll take a wack at it.

[2015-06-18 01:00] divega commented on #1905
@bricelam just to double-check, you merged a fix for this and it should be closed, right?

[2015-06-18 01:01] divega commented on #1905
@bricelam Please ignore the previous comment :smile:

[2015-06-18 01:04] divega commented on #1720
@mikary could this one also be related to https://github.com/Reactive-Extensions/Rx.NET/issues/106?

[2015-06-18 01:18] divega commented on #1232
@maumar just a reminder that we looked at this item and we thought it would be a good idea to tackle it next.

[2015-06-18 01:18] divega commented on #1653
@maumar just a reminder that we looked at this item and we thought it would be a good idea to tackle it next.

[2015-06-18 03:39] ErikEJ commented on #2363
@ajcvickers the sqlce provider now uses identity unless switched off via StortGeneratedPattern setting on a property

[2015-06-18 08:21] ghost opened #2404 "using directive inside namespace = errors"
Hallo guys,

i just got an weird issue while using EF. I have a project which is named **MyCompany.System.MyTool**. if i'm not wrong, this should be a legit assembly and namespace name. i have an existing database and i want to access it via EF _Database First_ approach. so i add a _ADO.NET Entity Data Model_, adding the tables and let VS (and friends) do it's job. it ends in a lot of errors like

[2015-06-18 11:17] rmja opened #2405 "UseSequence() with not null schema name generates invalid SQL."
When using a sequence with a schema per

    modelBuilder.ForSqlServer().UseSequence("DefaultSequence", "someschema");

the following SQL is generated on value generation:

    SELECT NEXT VALUE FOR [someschema.DefaultSequence]

instead of the valid:

    SELECT NEXT VALUE FOR [someschema].[DefaultSequence]

[2015-06-18 11:26] Scalpel78 commented on #1981
Agreed. How do you specify it?

[2015-06-18 12:08] ErikEJ opened #2406 "MonsterFixupTest fails with SQLCE"
Currently blocked by assuming support for datetime2 in the engine (which only supports datatime, so no values before year 1753) - PR in Progress

[2015-06-18 13:36] toddtsic opened #2408 "UserManager.CheckPasswordAsync ==> DbUpdateConcurrencyException"
SaveChangesAsync that follows UserManager.CheckPasswordAsync fails with DbUpdateConcurrencyException.  Same SaveChangesAsync without preceeding UserManager.CheckPasswordAsync succeeds.

Failing Example (test password followed by table update that involves user being tested):

[code]

Successful Example:

[code]

Failure is at dbSaveChangesAsync:
A database operation failed while processing the req

[2015-06-18 15:13] AndriySvyryd opened #2409 "Add tests for ModelBuilder that use shadow enities"

[2015-06-18 15:15] AndriySvyryd opened #2410 "Add tests for ModelBuilder without conventions"

[2015-06-18 16:24] bricelam commented on #1981
@Scalpel78 using the `--context` (DNX) or `-Context` (NuGet) parameter

[2015-06-18 16:40] bricelam commented on #2397
Possibly due to Reactive-Extensions/Rx.NET#106?

[2015-06-18 16:50] mikary commented on #1720
This one could be related. The ```AsyncQueryingEnumerable``` only closes the connection on dispose and its entirely possible that it's scheduled on another thread that hasn't started.

I'd have to do more digging to say for sure.

[2015-06-18 16:53] mikary commented on #2348
I don't believe so, this error was happening in query compilation, before Ix-Async would even be involved.

[2015-06-18 17:00] anpete commented on #2348
Yep, this is happening in compilation.

[2015-06-18 17:18] AndriySvyryd opened #2412 "Add tests for ModelBuilder that use half-configured relationships"

[2015-06-18 18:03] divega commented on #2348
Thanks!

[2015-06-18 18:17] divega commented on #1720
Thanks. In the meanwhile I will assign it to you. If it still repros after the fix you can reassign it to @maumar.

[2015-06-18 18:20] divega commented on #2397
I believe Reactive-Extensions/Rx.NET#106 only affects async paths though.

[2015-06-18 18:28] divega commented on #2400
We are planning to make the code for the VS templates publically available on GitHub, but it isn't there yet.

In the meanwhile are there specific parts that don't compile and you haven't been able to figure out how to change?

cc @rustd

[2015-06-18 18:42] jlddodger opened #2413 "Entity with integer key field set to zero saves one instead."
Under EF7 beta4 when I run the program below I get records in the DayOfWeek table for [-1, 1, 3] when I expected [-1, 0, 3].  It looks like the framework has a problem with integer keys being 0.

[code]

[2015-06-18 18:53] jlddodger opened #2414 "Using zero in an integer field of a compound key results in bad insert query"
When I run the program below, I receive an SqlException: "The number of columns for each row in a table value constructor must be the same."

Using the SQL profiler I discovered that the underlying query was this invalid query:

[code]

Test program:

[code]

[2015-06-18 18:54] emisaacson commented on #2400
I think with the beta6 equivalent of the few lines below I'd be off and running. I can make changes to get them to compile but I'm definitely not configuring the relationships properly and it results in runtime errors. Thank you!

From Migrations\00000000000000_CreateIdentitySchema.cs:
[code]

[2015-06-18 19:01] rowanmiller commented on #2414
Hey,

This is because by default key properties will have values generated by the database if they are left set to the CLR default for the data type. Because int defaults to zero, it just looks like you never set a value for the first row, so EF has the database generate a value (presumably `1` since it's the first row being inserted) which then conflicts with the entity that you gave a value to.

[2015-06-18 19:01] divega opened #2415 "RevEng: Command option for adding codegen template into project"
We want customers to be able to easily add a package to enable reverse engineering of specific database engine and at any point switch from the default code generation provided by that package to using a template that becomes part of their application and thereon they can customize.

The idea came up in some brainstorming with @Eilon. He suggested that we could have an option, e.g. `--customize` f

[2015-06-18 19:03] maumar commented on #2414
related to https://github.com/aspnet/EntityFramework/issues/1653

[2015-06-18 19:21] mikary commented on #2090
The AddXXX setup for providers is a bit strange because each provider is expected to provide an implementation type for the ```IDataStoreSource``` service type. When a context is constructed, the appropriate implementation type is selected from the list based on its compatibility with the ```IDbContextOptions```. This isn't quite the scenario TryAdd was designed to accommodate (it only adds to the

[2015-06-18 19:30] jlddodger commented on #2414
Hey, thanks for the fast reply.  I have added the ```UseNoValueGeneration``` statement above and that definitely helps, but now I get an exception stating:

I assume it is because the field is also part of the primary key.  Is that expected?

[2015-06-18 19:54] AndriySvyryd opened #2416 "Refactor ModelValidator"
ModelValidator currently has two responsibilities - validating the model and presenting the errors to the user. These should be separated into two types to allow each to be customized separately.
Additionally since providers can have additional validators the core validator should be registered as a different service to allow overriding one without affecting the other and to enable combining the p

[2015-06-18 20:01] maumar commented on #2414
@jlddodger yes, this is a known issue, check out the #1653 for a bit more context on this

[2015-06-18 20:46] lajones opened #2418 "RevEng: Allow customers to override the default templates"
At the moment the SqlServer RevEng provider uses templates that are stored as resources within the assemblies of the EntityFramework.SqlServer.Design package.

We should have some mechanism by which a customer can override the default template and use a different one instead.

See also related issue #2415.

[2015-06-18 21:04] mikary opened #2420 "Multiple calls to FromSql with stored procedure results in errors"
Composing on a FromSql call to a stored procedure with another FromSql call results in errors. Calls to ```Include``` have already been disabled by throwing in ```RelationalEntityQueryableExpressionVisitor``` and it is probably appropriate to throw for additional FromSql query annotations in the same place.

[code]

Multiple stored produce calls produce the following:
[code]

[code]

Stored proced

[2015-06-18 21:12] bricelam commented on #2400
@emisaacson You could delete that file and run `dnx . ef migration add CreateIdentitySchema` to re-scaffold it.

[2015-06-18 21:53] emisaacson commented on #2400
@bricelam works great. thank you for setting me straight i clearly did not understand this part of the workflow.

[2015-06-18 21:56] bricelam commented on #1053
Fixed by @natemcmaster in #2371. Additional bugs in this area will be tracked separately.

[2015-06-18 21:56] #1053 closed

[2015-06-18 21:58] bricelam commented on #329
Re-opening. I've regressed this.

[2015-06-18 22:42] bricelam opened #2421 "Migrations: Defer type mapping"
Like in EF6, we should defer type mapping until migration apply time. For example:

[code]

[2015-06-18 23:03] lajones commented on #1940
We discussed this and decided we will continue to output the connection string in OnConfiguring(). But in addition we will output a #warning indicating that the connection string may contain a password and with a comment containing a link to a web page which explains what you can do to fix that. Moving to @rowanmiller to decide the wording and the link.

[2015-06-19 00:57] natemcmaster opened #2423 "SqliteCommand execution is not thread-safe"
Multiple threads attempting to read/write from SQLite will cause SQLITE_BUSY or SQLITE_LOCKED errors.

Possible solutions
- block in the ADO.NET layer. This will require always using Execute__Async() and waiting until other reader commands are cleaned up.
- Use a lock in EF around the execution of any SqlCommand.

**Illustration of the problem**
Setup: I created a [simple MVC 6 application](https:

[2015-06-19 01:08] divega commented on #2402
A bit off topic, but why don't we also allow this syntax?

[code]

The `Type<T>()` method seems a bit strange. This would also make Sequence more similar to properties.

[2015-06-19 03:30] bricelam commented on #2402
I suspect because it's optional, and chaining is more consistent in that case. But there's no technical reason why we couldn't.

[2015-06-19 05:15] divega commented on #2402
Optionality can be handled with a non-generic overload. Just saying.

[2015-06-19 12:42] ghost opened #2424 "[Question] Can we improve the performance of EF 7"
Reading this article looks like EF 7 in some case is lower almost 6x compare to dapper.
http://ppanyukov.github.io/2015/05/20/entity-framework-7-performance.html
Github: https://github.com/ppanyukov/EntityFrameworkBenchmarks

What is the status of EF 7 performance benchmark, can we put in the ReadMe.md

[2015-06-19 12:43] ErikEJ commented on #2406
@ajcvickers Thanks, all 33 MonsterFixUp tests are now passing with SQLCE!

[2015-06-19 13:00] ErikEJ opened #2425 "BuiltInDataTypesTest methods fail"
Can_query_using_any_data_type
 and
Can_query_using_any_nullable_data_type()

fail, as min value for SQLCE datetime is 1753!

[2015-06-19 13:06] ErikEJ opened #2426 "Query tests fail with SQLCE provider"
The test String_EndsWith_MethodCall() fails with

[code]

The 2 other tests with the LIKE statements similar to this also fail.

[code]

I think this is due to a limitation in the SQLCE engine, as I have alluded to previously http://erikej.blogspot.dk/2013/06/sql-server-compact-code-snippet-of-week_23.html

(A fix would be that the @__LocalMethod2_0 parameter value was "%M" )

Is this something I

[2015-06-19 13:47] endink opened #2427 "Is EF7 not support Full Framework?"
Hi !
I want to write a nuget package use asp.net 5 class library projectTemplate, for let it compatible with both Full Framework and DNX. I add "net45" to project.json file like this:

[code]

After this, most refrenced package are work fine, such as "Microsoft.Framework.XXX", "System.Reflection", except EntityFramework7, too many codes has problems, like "AsSqlServer()", "AsRelational()". I saw t

[2015-06-19 15:19] bricelam commented on #2402
Yeah, I think we should do it. I'll bring it up in API Review.

[2015-06-19 15:28] rowanmiller commented on #2427
Hi,

The relational parts of EF7 require .NET 4.5.1 as a minimum. To use them you will need to target net451 rather than net45.

~Rowan

[2015-06-19 15:38] rowanmiller commented on #2424
Hey,

We have benchmarks for the basic scenarios in EF7 and we have some scenarios that are greatly improved over EF6 and others that are still quite slow. We have these on a list to address but we haven't optimized the code paths yet because the code paths are still changing quite rapidly. If we'd optimized things before now then we'd likely have wasted a lot of time as things have changed so muc

[2015-06-19 16:54] ajcvickers commented on #2406
@ErikEJ Nice!

[2015-06-19 17:10] ajcvickers opened #2428 "Decide what to do about Exists"
We decided to remove all the fine-grained relational methods, including Exists, from the top-level API, but both Diagnostics and Templates are using Exists in conjunction with ApplyMigrations as a heuristic as to whether or not to call ApplyMigrations. We should decide:
- Is this an appropriate use of Exists?
- If so, should it be exposed at the top level?
- If so, should it be a relational or cor

[2015-06-19 17:11] mikary commented on #1864
Materialization issues for stored procedures was fixed by 4f05fbfed3bfddf5228b82e21c8e535b9f1d8775

[2015-06-19 17:11] #1864 closed

[2015-06-19 17:12] rowanmiller commented on #2428
Couple of data points:
We are removing the use of Exists from the templates.
I think it's ok for Diagnostics to drop down to a lower level API.

[2015-06-19 17:16] lajones commented on #1668
Last part of this was deciding what to do about the relationship code which we currently output.

We decided that we'd like to continue outputting that code as it keeps things simpler (no having to know the ins and outs of when the convention will or will not define it for you) plus it helps educate customers on how those APIs work.

So closing this as nothing more to do.

[2015-06-19 17:16] #1668 closed

[2015-06-19 17:19] ajcvickers commented on #2428
@rowanmiller Do you think that in a store app it will be common for people to want to use the Exists/ApplyMigrations pattern? Did you do this in your app?

[2015-06-19 17:21] rowanmiller commented on #2428
I just applied migrations without checking for existence... I think that is what folks will want to do since migrations takes care of creating if needed (and no-ops if everything is up to date).

[2015-06-19 17:34] ajcvickers commented on #2428
@rowanmiller That's what I thought but wanted to check I wasn't missing something. Thanks!

[2015-06-19 17:35] mikary commented on #245
Note: Support for stored procedures with client composition on ```DbSet<T>``` was added via #1864

[2015-06-19 17:39] toddtsic commented on #2408
I just tried a different approach to validating the password and it works (code below).  The VerifyHashedPassword is returning PasswordVerificationResult.SuccessRehashNeeded.  Can I ignore, or should I deal with that?

Code showing replacement of UserManager.CheckPasswordAsync with PasswordHasher.VerifyHashedPassword:

    Family_Members record = new Family_Members()
    {
        Family_UserId =

[2015-06-19 18:14] rowanmiller commented on #2385
@lajones we discussed in triage and concluded that providers should just include a test for the types they don't support (we already have this for our providers). Do you think there is something specific we need here?

[2015-06-19 19:13] lajones commented on #2385
Can you point me to the tests you mean when you say "we already have this for our providers"? The BuiltInDataTypes test tests that you can use supported data types but does not test what I mentioned above - that if you attempt to use an unsupported type the "right" kind of exception is thrown. Basically I want to make sure that the experience the customer gets if they include an "unsupported" data

[2015-06-19 19:16] ajcvickers commented on #2385
@lajones @rowanmiller There currently aren't any tests that check that Strings.UnsupportedType is thrown. It would be trivial to add such a test. I think it only needs to be a unit test, and it only needs to test that the correct exception is thrown for one unsupported type.

[2015-06-19 19:32] lajones commented on #2385
I think it would be better to have a test that each provider overrides listing all the unsupported types and checking that they throw (just as we test every type that is supported). It would also be useful if we ever need to enumerate for people what types are not supported by the various providers. Anyway - hopefully yes it would be fairly easy either way.

[2015-06-19 19:40] ajcvickers commented on #2385
@lajones How do we determine the list of unsupported types? Do you mean unsupported "common" types for some definition of "common"? if so, what is that definition? In general there are an unbounded number of unsupported types and an application can try to use any of them. A provider should test that it works with any type that it supports. Any other type that is not recognized should cause an exce

[2015-06-19 19:46] natemcmaster commented on #2057
@rmja Can you provide a repro project? I was unable to get the error.

I created [this sample project](https://gist.github.com/natemcmaster/039c66671b18894c64f7) to reproduce the error and this is the SQL generated:

[code]

[2015-06-19 20:28] lajones commented on #2385
@ajcvickers Yes - some definition of "common" TBD. In fact the BuiltInDataTypes test has become a test of "all C# built-in types plus some others that we think of as common". So that seems a good place to start. For instance if a provider chose not to support one of the C# built-in types I feel we should highlight that. There are also tests in that class that we support nullable versions of those

[2015-06-19 22:10] AndriySvyryd commented on #2409
Actually ModelDiffer tests should provide enough coverage

[2015-06-19 22:24] #1102 closed

[2015-06-19 22:34] divega commented on #2426
Interesting. Are you sure it isn't another type inference limitation in SQL CE? Just asking given our long history with those :smile: (e.g. [CodePlex #287](http://entityframework.codeplex.com/workitem/287) and its [fix](http://entityframework.codeplex.com/SourceControl/changeset/9b448466473c9c48c11bfa5f076f7d3e9dc0093c) and the more recent #2317).

It may very well be another kind of limitation bu

[2015-06-19 23:13] bricelam opened #2432 "SQLite: Use AUTOINCREMENT when possible"
[AUTOINCREMENT](http://sqlite.org/autoinc.html) prevents the reuse of ROWIDs from previously deleted rows.

Without this, you could hit some weird concurrency issues. Consider the following.

[code]

[2015-06-20 02:56] endink commented on #2427
Hi,
thanks, problem solved!

[2015-06-20 07:41] ErikEJ commented on #2385
FWIW, I already have exactly this type of test added to my implementation of the TypeMapper tests... It is a very simple 2 liner test

[2015-06-20 07:46] ErikEJ commented on #2426
@divega thanks for great input, I will do some testing!

[2015-06-20 08:57] rmja commented on #2057
Hi @natemcmaster. This bug was previously seen for simple queries like the one I describe in the original post, but since then, it has somehow been fixed. However, when I use the Enum as a discriminator for a polymorphic setup, then the error is still present. I have made a reproducing example here: https://gist.github.com/rmja/691506a58907c07f9ce2

My setup is slightly different, as it uses an ef

[2015-06-20 10:16] ErikEJ commented on #2426
@divega Spot on! Still an issue that the CommandBuilder does not set the DbType.
Adding this line in my test makes the query pass:

    parameter.DbType = System.Data.DbType.String;

Looks like in the MethodCall instance, the StoreType is not set, so no DbType is configured in the RelationalTypeMapping class

            if (StoreType.HasValue)
            {
                parameter.DbType = Stor

[2015-06-20 12:38] divega commented on #2426
Awesome! I suspect we can change things in Core and Relational so that DbType is set in this case and in general in more cases. @ajcvickers would know for sure  if that makes sense.

[2015-06-20 12:44] divega commented on #2426
BTW, you might want to provide a new answer to this question in StackOverflow:http://stackoverflow.com/questions/1916248/how-to-use-parameter-with-like-in-sql-server-compact-edition

Let me know and I will upvote it :smile:

[2015-06-21 09:20] ErikEJ commented on #2426
@divega This is now fixed in the SQLCE provider, I had a bug (not being explict enough in my TypeMapper) - thanks for the help!

[2015-06-21 10:39] AwsomeCode opened #2434 "EF7 Child entities are not inserted"
Hi Team,
I am using EF7 in ASP.NET5 Console project. I am adding child entities to parent entity via Add() method and saving that parent entity only, via SaveChanges() method. But on my SQLServer database I am only seeing parent data is inserted to the parent table but in child table no data is inserted.

Is this implemented? or I am doing something wrong, pls guide me.

Edit: Just verified, Same

[2015-06-21 12:14] divega commented on #2426
Glad it worked, and thank you Erik!

[2015-06-21 22:12] makcakaya commented on #2434
It would be better if you showed some of your code.

[2015-06-21 23:31] f0rt opened #2435 "Changing a column type"
Is changing column type currently supported?
As far as I can see from my test `[Column(TypeName = "")]` is not respected. Also the fluent API doesn't have the `HasColumnType`.

Thanks,
Nedko

[2015-06-22 00:27] MaximBalaganskiy commented on #2434
I think it's related to #2387

[2015-06-22 01:25] MaximBalaganskiy opened #2436 "[Question] In memory database persistence"
How does in memory persistence work? Is a database persisted per thread?

[2015-06-22 06:13] mafshin commented on #1950
@bricelam solution worked in VS 2015 RC - Need to Unblock the file if it's replaced.

[2015-06-22 08:10] htuomola commented on #2164
Now that this is implemented (well, the situation was the same already before when defining Unique constraints), should I be able to lookup entities by alternate key even if they're not saved to DB yet?

Code:
[code]

I remember seeing similar "issue" with EF 6 also but we fixed it by changing the approach.

Model building:
[code]

Model:
[code]

[2015-06-22 08:43] roji commented on #1956
@AndriySvyryd, I'm back working on EF7, sorry for the really long inactivity here. I've studied the command batching classes and I think I understand the situation better now.

First off, in a PostgreSQL implementation the notion of `ResultSetEnds` in `ReaderModificationCommandBatch` is unnecessary, since I won't be finding the affected row count via an SQL query appended to a batch of INSERTs - I

[2015-06-22 09:55] ErikEJ commented on #1956
@roji FWIV - I just wrote my own: https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/Update/SqlCeModificationCommandBatch.cs

[2015-06-22 09:57] roji commented on #1956
Thanks @ErikEJ, I actually looked at your implementation :)

Yeah, I could go down that route but it seems like there's some potential for more reuse and a more productive hierarchy so I thought I'd propose...

[2015-06-22 10:01] ErikEJ commented on #1956
@roji  Agree. See my comment above from May 14! :smile:

[2015-06-22 10:23] ErikEJ opened #2437 "SQLCE ntext support in query pipeline"
With the latest bug fixes in the SQLCE typemapper, the EF UPDATE pipeline now supports ntext and image columns.
But due to the SQL CE limitations regarding ntext, it is sadly not possible to write a query like this based on the Northwind Categories table (where Description is "ntext NULL"):

[code]

This causes the following error:

[code]

However, rewriting the query like this works as expected:

[2015-06-22 12:50] oliverslade opened #2438 "add-migration not recognising changes."
When attempting to use the command add-migration in the Package Manager Console an empty DbMigration file is produced containing nothing but the two empty methods:
  public override void Up()
        {
        }

  public override void Down()
        {
        }

These methods should contain a number of changes that have occurred including new tables however nothing shows up.

[2015-06-22 15:39] davidroth commented on #2436
No, its not per thread, it's per appdomain and uses thread safe collections under the hood.
You can clear persisted values by calling ```context.Database.EnsureDeleted()```

[2015-06-22 16:22] bricelam commented on #2164
@htuomola Querying `ctx.Parents` will always query the database. For local objects, query `ctx.ChangeTracker.Entries<Parent>()`. (See also #1003) We also had a `Find` method on the set that would first look locally then query the database, but it is not implemented yet. (See #797)

[2015-06-22 16:28] bricelam commented on #2438
Weird. Could you share more of your project? (e.g. your DbContext class, `Startup.cs`, `config.json`...)

[2015-06-22 16:31] bricelam commented on #2435
Per #107, Data Annotations aren't supported yet. The Fluent API has changed a bit:
[code]

[2015-06-22 16:49] htuomola commented on #2164
Thanks. I thought that Find was just another (old) way of doing
.FirstOrDefault(). In EF6, I believe Find can be used to lookup entities
only by primary key, so that wouldn't be helpful in this case either. I
think #797 doesn't quite mention this aspect (querying local data) of Find
so I didn't consider the issue so important. I already implemented the
workaround using ChangeTracker but that didn'

[2015-06-22 17:07] ajcvickers commented on #2436
@MaximBalaganskiy @davidroth Technically it is per IServiceProvider root. Usually this will mean per app-domain, but it does mean that by using different IServiceProvider instances when constructing your context you can control the lifetime or even use multiple in-memory databases at the same time. However, most apps will have one IServiceProvider root per app domain. Also, you can call UseInMemor

[2015-06-22 17:12] ajcvickers commented on #2426
@divega Just to clarify, setting the DbType is something that is entirely up to a provider. This is because always setting the DbType doesn't always work, never setting doesn't always work, and the types that need it set vary per provider. So a provider must create a type mapping either with a DbType or without a DbType. I assume @ErikEJ is now creating a type mapping in the CE provider with the D

[2015-06-22 17:22] ErikEJ commented on #2426
Yes, I am massaging the Parameters quite a lot, to Work around a number of SQLCE quirks:

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/commit/3a713ebf3bdcd2a4571124509785295d28587c38#diff-f84e58fb27753166b396cf85478f7101

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/commit/3a713ebf3bdcd2a4571124509785295d28587c38#diff-f88fa5efbceb344ee1dd9d3ae293034d

[2015-06-22 17:34] f0rt commented on #2435
Oh.. I see. Sorry, I'm new to MVC/EF world. :)

 Actually it is even one lever deeper behind "forsqlserver()", right?
`builder.Entity<ApplicationUser>().Property(x => x.FirstName).ForSqlServer().ColumnType("varchar(50)")`

Unfortunately I still can't get it to work:
I'm using:
- VS2015 rc
- ef 7.0.0-beta4
- standart MVC 6 preview template with local login

There is something strange to me.
- When

[2015-06-22 17:41] bricelam commented on #2435
Oh sorry, I forget beta4 is the latest release. :smile: The code changes so fast! The API will be changed in beta5. Type mapping will actually work in the release after that. If you need these features now, you should consider using the [nightly builds](https://github.com/aspnet/EntityFramework/wiki/Getting-Started-with-Nightly-Builds).

[2015-06-22 17:45] bricelam commented on #2435
The templates should include a call to `ApplyMigraitons` that creates the database. Otherwise, run `dnx . ef migration apply` before running the application to create the database.

Yes, the result of OnModelCreating is cached in the service provider, so it should only ever run the first time the context is used.

[2015-06-22 17:58] ajcvickers opened #2439 "Design meeting notes - June 18, 2015"
# Target Frameworks

The `dotnet` target framework moniker was recently introduced, and Entity Framework was updated to use it. For more information about this new target see [Oren's blog post](http://oren.codes/2015/06/16/demystifying-pcls-net-core-dnx-and-uwp-redux/). This prompted a review all of the frameworks we target and why. Here are the details.

Framework | When      | Why
--------- | --

[2015-06-22 18:21] f0rt commented on #2435
Thanks! :)

[2015-06-22 18:32] divega commented on #2426
@ajcvickers Thanks for the explanation.

[2015-06-22 18:47] AndriySvyryd commented on #1956
@roji Refactoring out the result set related logic to a derived class like you describe sounds like a good change, since it wouldn't be needed by providers like yours. Perhaps the new class could be named `ResultSetModificationCommandBatch` to be more specific.

[2015-06-22 20:54] rynowak commented on #2090
@mikary - will have a reaction PR out soon for MVC demonstrating the pattern we were planning to use. Basically what we're hoping for is to make *parts* of the MVC service registration idempotent.

That's not to say that calling `AddMvc()` twice is supported or useful, but it will allow for easier integration with 3rd party components building on top of the lower level parts of the MVC runtime.

[2015-06-22 21:20] divega commented on #2437
@ErikEJ I will leave a more detailed answer on how to override the SQL generation for this case to @anpete.

What is the default type mapping for a string property with no MaxLength specification in your provider? If you haven't done this yet, I would suggest you consider compensating for this limitation at model creation time rather than at query time. E.g. you could have the type mapping for str

[2015-06-22 21:52] natemcmaster commented on #2057
Thanks for posting this very detailed repro. This helps a lot when trying to replicate the errors you see.

It appears to me the invalid SQL you are seeing is a result of the changes you made to EF. The patch you included takes care of compiler type-checking, but doesn't account for the type-assumptions in query. The SQL generation produces invalid SQL because query generation assumes the discrimi

[2015-06-23 04:00] endink opened #2442 "EntityFramework with .NetFramework 4.5.1 complie error."
When i build a asp.net class library that refrenced ef7 package, an error occurred:

error CS0012: The type 'IEnumerable<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

my project.json file like this:

[code]

I tried to change the "net451" section, but still can not solv

[2015-06-23 05:15] ErikEJ opened #2443 ".NET 4.5 or 4.5.1 ??"
Currently, the full .NET only SQLCE provider is configured for .NET 4.5, and nothing breaks afaik. (I am using .NET 4.6 on my PC). Will I need to update to 4.5.1, and if so, why?

[2015-06-23 05:47] ErikEJ commented on #2437
@divega I have done that already.
https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/src/SqlCeTypeMapper.cs#L23
Will just let the enigine error if doing compares on ntext columns (text is not supported by SQLCE, only Unicode types)

[2015-06-23 07:22] rmja commented on #2057
@natemcmaster you are right. The error is not the same as the one I original posted, as it is now only visible in the inheritance setup. I will close and make a feature request.

[2015-06-23 07:22] #2057 closed

[2015-06-23 07:25] rmja opened #2444 "Make DiscriminatorValue object instead of string"
The DiscriminatorValue is currently a string, but should be object to allow for e.g. enums to discriminate derived entity types. See e.g. #2057 where a naiive try results in invalid SQL for enum.

[2015-06-23 07:57] htuomola commented on #2274
Just to add, with the current bits you don't even need the second .ThenInclude there. At least I'm seeing a case in which calling Include-ThenInclude-Include causes a NullReferenceException.

[2015-06-23 08:58] ErikEJ opened #2445 "SQLCE 3.5 support - handle Skip not supported"
SQL CE 4.0 supports the OFFSET/FETCH syntax. SQLCE 3.5 does not. My question is - how to handle this in the 3.5 version of the provider - tried throwing "NotSupportedException", but GenerateLimitOffset is always called, causing any queries to fail.

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/commit/a52ae1cbd31d00e2808fecc2af576455875e5bdd

Would the solution with EF7 simply be to d

[2015-06-23 09:04] f0rt commented on #2435
Is there something like samples project or docs synced with the nightly builds? In other words: How to figure out how to use the latest code?

[2015-06-23 09:18] ErikEJ commented on #2435
@f0rt The best place for documentation of nightly builds is the related test code!

[2015-06-23 11:13] lukemurray opened #2446 "Unexpected behaviour with Where().Select()"
Hi all,

First I have little experience with EF itself but with other similar frameworks so I could be doing something stupid here. Also I am using all the new ASP.NET vnext stuff on a Mac.

I'm just using the in memory version as I am playing around and testing things.

I have a simple model

[code]

In my Startup.cs I am filling the DB with some test data. Now if I query Projects with

[code]

I

[2015-06-23 12:51] esditm commented on #333
I'd like to voice my need for `ON DELETE SET NULL` support.

[2015-06-23 14:29] jwdavidson commented on #629
@rowanmiller - It is easy to write a seed method using the app startup code. However, all the samples that I could find incorrectly use EnsureCreatedAsync and as a result fail to load the seed data. What is missing is a way to determine if the DbContext is correctly configured and has the model applied that matches the seed data requirement. This could be solved by having a way to detect if a part

[2015-06-23 14:44] heathyates commented on #629
@jwdavidson I have not experienced a failure to load the seed data and I use EnsureCreatedAsync. Has the mvc music store failed for you? I'm not implying I don't believe you or your claim, but confused as to what samples are not working for you? Would be interested in duplicating what you have observed myself. :-)

[2015-06-23 15:05] roji commented on #1956
OK, I've submitted #2448 which refactors the affect row query logic out from `ReaderModificationCommandBatch` and into what I ended calling `AffectedCountModificationCommandBatch`. The main reason behind this name is to clearly link it to `SqlGenerator.AppendSelectAffectedCountCommand`.

Some comments:
* I ended up leaving `Execute` as it is (apart from moving it to the `AffectedCountModificationC

[2015-06-23 16:09] bricelam commented on #2443
`net45` is good for now. We currently target it to support Mono which doesn't have the 4.5.1 System.Data APIs. I talked [a bit about our targets here](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-June-18,-2015#target-frameworks).

[2015-06-23 16:15] GSPP opened #2449 "Migrations deadlock when migrating inside of TransactionScope"
Under the following conditions a deadlock happens:
1. The schema changed
2. Automatic migrations (with data loss) are enabled
3. A TransactionScope is opened
4. A context is being "used" (I don't know what specific usage triggers this)
5. That "usage" triggers the migration

[code]

(The model is abridged, I hope it's enough to repro.)

I can see two sessions in profiler and in the SQL Server DMVs

[2015-06-23 16:19] bricelam commented on #2442
Add the following.
[code]
It is caused by tension between DNX and MSBuild/NuGet (See aspnet/dnx#2031)

[2015-06-23 16:24] toddtsic opened #2450 "HasValue and != null incorrect translation to sql"
I have a linq query that fails in sql because .HasValue or != null gets translated into IS NOT NULL rather than case statements.

This may reflect a misunderstanding on my part, but this seems to be the case.

linq query (note the fee_base, fee_discount, fee_latefee, those values can come from a team, and if not there the age group the team belongs to, and if not there the league the age group bel

[2015-06-23 16:24] ErikEJ commented on #2443
Fine. I just thought I saw somwhere that EF.Relational required 4.5.1 !?

[2015-06-23 16:33] bricelam commented on #2443
It did, but we changed it for Mono.

[2015-06-23 16:44] rowanmiller commented on #2435
@f0rt we don't do docs for nightly builds since that would waste a lot of time as things change all the time. If you decide to "live on the bleeding edge" then you are opting into the undocumented world where you need to figure things out. As @ErikEJ mentioned, looking at the test code is a good place to start.

[2015-06-23 16:56] rowanmiller commented on #629
@jwdavidson do you want to apply migrations during startup to ensure the database is up to date? If so, `context.Database.AsRelational().ApplyMigraions()` is the API to do this.

[2015-06-23 17:04] ErikEJ commented on #2443
Ah!

[2015-06-23 17:05] ErikEJ commented on #2425
Fixed, or will do a pr if not...

[2015-06-23 18:22] matthewDDennis opened #2451 "EF attempt to put wrong type of Navigation Property on Entity"
Today I started getting the error below. This code worked yesterday.

It looks like it wants to create a `Article.Authors` as `ArticleMember` instead of` IList<ArticleMember>`

*Error
[code]

*Related snippets:
[code]

[code]

[code]

[2015-06-23 19:04] AndriySvyryd commented on #1956
@roji
I've made some comments on the PR.
* The reason `RelationalLoggerExtensions` is internal is to avoid those methods showing up in places not related to EF. We will consider ways of making them public, but meanwhile you could either pull the ivoking code in `Execute*` up or extract the call as a method so your implementation can also use it.
* Yes, there's no good reason to return the count. `

[2015-06-23 20:10] roji commented on #1956
Thanks for the review @AndriySvyryd! I'll work on your comments tomorrow.