[2018-02-15 17:19] bricelam commented on #10968
Note, this is primarily caused by the way .NET Standard 1.x works. If all our dependencies targeted 2.0, it would be A LOT less.

[2018-02-15 17:27] gate21 commented on #9188
I am getting 'varchar is not supported' when connecting to sql 2008 r2.  I have tried all the suggestions above; any ideas.

[2018-02-15 17:34] hitaspdotnet opened #10978 "How do I create linked entities for X entity using Many-to_Many"
I want create a **Product** entity and that entity can have list of Products as **Linked Products** but I don't know why my codes not working. I'm student and very newbie to EF core mapping.
<br>
I create 2 Entity Classes for this Product.cs and ProductLink.cs, here is my classes <br>

**Product.cs**

        public class Product : Content
        {
            public virtual string Description {

[2018-02-15 17:43] ralmsdeveloper commented on #10978
@ajcvickers wrote on his blog a great content about many-to-many

Maybe this can give you some help:
[https://blog.oneunicorn.com/2017/09/25/many-to-many-relationships-in-ef-core-2-0-part-1-the-basics/](https://blog.oneunicorn.com/2017/09/25/many-to-many-relationships-in-ef-core-2-0-part-1-the-basics/)

[https://blog.oneunicorn.com/2017/09/25/many-to-many-relationships-in-ef-core-2-0-part-2-hiding

[2018-02-15 17:46] MarcoLoetscher commented on #10968
[EF Core now targets .NET Standard 2.0](https://docs.microsoft.com/en-us/ef/core/what-is-new/)? When will .NET Standard 1.x be cut off completely?

[2018-02-15 17:55] CS-beglnner commented on #10978
@ralmsdeveloper I read them for 2 day but I cant understand why my code not working. Can you give me a tips about that? whats my wrong? They articles is about using 2 different entity classes, I want use join entity type for my linked entities and haven't problem for using different entity one-to-may or many to-many but getting this error just for shared entities between up to 40 entities. Any ide

[2018-02-15 18:03] ErikEJ commented on #9188
@gate21 replace "varchar" with "varchar(4000)" in the generated code... Or use EF Core Power Tools

[2018-02-15 18:08] iudelsmann commented on #3910
@maumar That did not work, it is still performing a inner join. Observe that I'm not `Include`ing the CourseType from the Course entity, as in 2.0 we can't include derived navigation properties. So I think it might work in 2.1 if I include it, as it should perform the appropriate left join, would you agree?

[2018-02-15 18:09] gate21 commented on #9188
I am using Code first.
I have tried "varchar(xxx)", HasMaxLength(xxx), HasColumnType("varchar").HasMaxLength(maxLength)...
I noticed when connecting to a Sql azure db for another project I do not have an issue, but when I connect to SQL 2008 R2 I get the issue.

[2018-02-15 18:11] livarcocc opened #10980 "dotnet ef dbcontext scaffold treats multiple tables as single table"
_From @radhikagadde on February 15, 2018 9:32_

## Steps to reproduce

I am trying to build EF Core 2.0 application and tried to use reverse engineering using command line.

If i specify single table, classes are generated, where as if i specify two tables separated by "," CLI teats as single table and error is thrown.

dotnet ef dbcontext scaffold   "server=xxxxxx:6000;uid=newton;pwd=xxxx;databas

[2018-02-15 18:15] ErikEJ commented on #9188
Have you tried  : ?

   HasColumnType("varchar(4000)")

[2018-02-15 18:26] gate21 commented on #9188
yes I have.

[2018-02-15 20:43] ajcvickers commented on #9188
@gate21 Please file a new issue including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing so that we can investigate.

[2018-02-15 21:04] ajcvickers commented on #10978
@CS-beglnner See the example in my comment here: https://github.com/aspnet/EntityFrameworkCore/issues/10698#issuecomment-358087417

[2018-02-15 21:06] andrewalderson opened #10981 "Overriding Primary Key"
**Context**
I am building a multi-tenant sass app with asp.net core identity and ef core. I discovered what I think is an issue when you attempt to 'override' the primary key on an entity. I am extending the IdentityUserRole entity to add a tenant id and then adding a new primary key with TenantId, UserId and RoleId. The problem is that the old primary key becomes an alternate key and adds a uniqu

[2018-02-15 21:10] gate21 commented on #9188
Guys thanks for your help.

While trying to debug the issue I was having, I left the RegisterConfigurationFromAssembly code in place "this was picking up other configuration that I have not fixed".  Once I saw that removed it and registered the congifurationObject I was debugging "varchar(xxx)" did fix the issue."

Regards

[2018-02-15 21:21] #10612 closed

[2018-02-15 21:21] #10911 closed

[2018-02-15 21:39] ajcvickers opened #10982 "Review naming of SetPropertyAccessMode"
SetPropertyAccessMode sets the access mode for all properties and navigations.
SetNavigationAccessMode sets the access mode for navigations only.

[2018-02-15 22:39] bricelam commented on #10707
This was fixed by #10923.

Re-linq transforms expressions containing `CompareString()` into nodes that reduce to `string.Equals()`. The third parameter is ignored.

[2018-02-15 22:39] #10707 closed

[2018-02-15 23:05] maumar opened #10983 "Query: convert ExpressionEqualityComparer to a singleton"

[2018-02-15 23:25] bricelam commented on #10786
Done. Published to Power BI.

[2018-02-15 23:25] #10786 closed

[2018-02-15 23:28] ajcvickers opened #10985 "LogQueryPossibleExceptionWithAggregateOperator should be post-fixed with Warning"
Per API review, but breaking change since it already shipped.

[2018-02-15 23:30] ajcvickers opened #10986 "EntityQueryModelVisitor may be too powerful!!!"
Review when making breaking changes; consider number of dependencies.

[2018-02-15 23:41] #10716 closed

[2018-02-15 23:48] bricelam commented on #10980
Specify multiple tables like this: `--table REVORDERDETAILS --table FILTEREDOUT`

[2018-02-16 00:03] bricelam commented on #9950
This is caused by a mismatch between tool (1.x) and runtime (2.x) versions. There were intentional breaking changes made between these versions. This restriction may be relaxed in the next major version since breaking changes are less likely in this area of the code.

[2018-02-16 00:12] smitpatel commented on #10128
This is runtime error. We would need data which demonstrate this issue.

[2018-02-16 00:20] FrederickBrier commented on #10911
@mrswain Thank you so much for filing this bug. I was pretty sure it was updating to a nightly build, because my tests and code broke so radically. I am using owned types as well. Going back to 2.1.0-preview2-28189 fixed it. Again, thank you. And thank you Andriy!

[2018-02-16 00:59] AndriySvyryd commented on #10911
@mrswain @FrederickBrier This fix should be in the next nightly build or the one after it, please try it out and let me know if there is anything else that's still broken.

[2018-02-16 01:17] ajcvickers opened #10987 "Update SQL Server and SQLite type mappings to not use fallbacks"
And make the old type mapper and related classes obsolete.

[2018-02-16 01:35] #9310 closed

[2018-02-16 01:37] maumar opened #10988 "Query: accessing property on a required navigation defined on a derived type produces INNER JOIN"
Repro:

[code]

We generate the following query:

[code]

We should be producing LOJ here, in case not all people are students (such query would throw cast exception in L2O, but we allow it to execute)

[2018-02-16 01:43] maumar commented on #3910
@iudelsmann ahh, I understand now. In fact INNER JOIN for this scenario is the current behavior even in the current developer bits. Problem here is that navigation "Service.Type" is required and this is how we determine whether INNER JOIN or LEFT JOIN should be produced. (we don't take into account that the navigation is declared on derived). I have filed #10988 to track this issue.

[2018-02-16 02:29] maumar commented on #10101
fixed by d5278006146a178ba807b12fbec620ce2e96f574

[2018-02-16 02:29] #10101 closed

[2018-02-16 07:58] heightpi commented on #10988
Until this will be fixed, i used nullable int to generate a LEFT JOIN
`public int? SchoolId { get; set; }` in the Student Class

[2018-02-16 09:17] Echarnus commented on #1100
Still a bummer we cannot use EF Core yet as our applications are GIS based.

[2018-02-16 09:30] vhmoura commented on #9880
Have you tried datastax https://github.com/datastax/csharp-driver ?

[2018-02-16 13:46] whizkidwwe1217 commented on #7533
@greggbjensen 's approach doesn't seem to work. I'm using dotnet core 2.1.4. and I'm always getting an error as shown below:

`System.InvalidOperationException: The DbContextOptions passed to the DbContext constructor must be a DbContextOptions<DbContext>. When registering multiple DbContext types make sure that the constructor for each context type has a DbContextOptions<TContext> parameter rathe

[2018-02-16 14:35] mrswain commented on #10911
preliminary tests with rebuilding the migrations seem to work so far, at least as far as the second stage. I still have two mare stages to rebuild but I think this may work. I will follow up once I get them rebuilt.

[2018-02-16 14:35] RaydelMiranda commented on #10457
There is any way to tell dotnet to add cli tools reference in the proper section?

[2018-02-16 15:07] jmevel commented on #9415
For the record:

I had the same issue which was driving me crazy.
I finally found the root cause (in my case)

my **appsettings.json** had this setting:

`"Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Verbose",
      "System": "Information",
      "Microsoft": "Information"
    }
  }`

Simply changing it by this solved the problem:

`"Logging": {
    "IncludeScopes":

[2018-02-16 15:58] #10634 closed

[2018-02-16 15:58] #9753 closed

[2018-02-16 16:01] ajcvickers commented on #9753
@roji You will need to generate mappings with the appropriate ValueComparers for the types that Postgres supports. It's not clear to be that a deep snapshot/comparison is always the best choice for this kind of property depending on how it is used, but I think you would know better how people typically use these kinds of properties with Postgres and can therefore make a decision as to which is the

[2018-02-16 16:08] pauldendulk commented on #1100
@ajcvickers

My primary interest is in a generic geometry library.

There are many geometry related open source projects ([NTS](https://github.com/NetTopologySuite/NetTopologySuite), [GeoAPI](https://github.com/NetTopologySuite/GeoAPI), [SharpMap](https://github.com/SharpMap/SharpMap), [GeoJSON.NET](https://github.com/GeoJSON-Net/GeoJSON.Net), [Mapsui](https://github.com/pauldendulk/Mapsui), [vect

[2018-02-16 16:48] bricelam commented on #10457
NuGet/Home#4190

[2018-02-16 16:54] bricelam commented on #9950
Note, the opposite issue (using a 2.0 tool on a 1.x runtime) was discussed in #9984

[2018-02-16 16:58] Tarig0 commented on #10965
sorry here it is

[code]

[2018-02-16 17:39] bigswede74 opened #10991 "ConnectionTimeout not working"
Hello,
I'm trying to set the ConnectionTimeout in my connection string but EntityFrameworkCore seems to ignore the value and default to 30 seconds.

### Steps to reproduce
Use the ConnectionTimeout parameter in the connection string.

connectionString="Server=10.10.10.10;Database=MyCatalog;User Id=sa;Password=123456;MultipleActiveResultSets=true;Application Name=MyApp;ConnectionTimeout=10"

### Fu

[2018-02-16 18:17] AdrianPT commented on #4497
In VS2017 same thing... RUN AS ADMINISTRATOR! 🗡

[2018-02-16 18:17] ErikEJ commented on #10991
Are you sure you are not mixing up connection timeout and command timeout?

[2018-02-16 18:20] bigswede74 commented on #10991
@ErikEJ I'm trying to set the ConnectionTimeout.

[2018-02-16 18:22] ErikEJ commented on #10991
And it takes you more than 30 seconds to connect to your database??

[2018-02-16 18:23] bigswede74 commented on #10991
I'm looking to detect if the database is reachable in 10 seconds as opposed to the default of 30 seconds.

[2018-02-16 18:26] ErikEJ commented on #10991
I think you need to adjust ConnectRetryCount and ConnectRetryInterval as well:
https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring(v=vs.110).aspx (will always add 10 seconds with default values)

[2018-02-16 18:36] ajcvickers commented on #10619
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-02-16 18:37] bricelam commented on #9920
Having `[Migration]` without inheriting from `Migration` seems very unlikely. Classes like these will continue to be silently ignored for now.

[2018-02-16 18:47] bigswede74 commented on #10991
@ErikEJ the below code still takes 30 seconds to timeout.

[code]

[2018-02-16 18:52] divega commented on #10080
We will try to address this with an analyzer. Assigning to @anpete.

[2018-02-16 18:52] ardalis opened #10994 "Bug: 'Only backing fields of types that are assignable from the property type can be used.'"
I have a custom type that I want to use as an entity's primary key. This type can be implicitly converted to or assigned from an `int`, and I've defined in `int` backing field in an attempt to get this to work (since using the type directly results in a different error). I should be able to use it as a backing field for a type that can be converted to/from an int.

When attempting to add migration

[2018-02-16 18:55] divega commented on #10956
@Compufreak345 I assume when you hit the issue you had the SQL string inline in the call. That will resolve to the interpolated string overload which does parameterize.

[2018-02-16 18:56] ardalis opened #10995 "Request: Support Custom Key Types (that can be converted to int)"
I'd like to be able to use a custom key type that can be assigned freely to/from an int (or another allowable type) as my entity ID type. Currently I get the following exception when I try to add a migration.

[code]

### Steps to reproduce

Create an entity with a custom typed ID property. Try to add a migration.

[code]

### Further technical details
EF Core version: 2.1
Database Provider: (e.g.

[2018-02-16 18:57] ajcvickers commented on #10994
This is supported by type conversions (#242) in 2.1. In 2.0 it is not possible to have a mapped property of a type that the database provider doesn't support. The workaround is to not map the property and map the field only.

[2018-02-16 18:57] ardalis commented on #10995
Related to issue #10994 which demonstrates how I tried to work around this issue by using an int backing field (but this, too, didn't work).

[2018-02-16 18:58] ardalis commented on #10994
Thanks, I'll have a look at type conversion.

[2018-02-16 18:58] ajcvickers commented on #10995
Also duplicate of #242.

[2018-02-16 19:01] divega opened #10996 "Separate methods for raw SQL that leverage interpolated strings"
Currently the behavior is different if you call FromSql or ExecuteSqlCommand with an inline interpolated string (parameterization happens) or if you assign the interpolated string to a variable and then pass it to the method (the string is formatted with the arguments).

In some cases customers expect parameterization but it doesn't happen: #10080

In other cases customers expect parameterization

[2018-02-16 19:03] ralmsdeveloper commented on #10991
@bigswede74
Have you tried to make this connection outside EF Core?
I've gone through this, using only ADO.NET, the only way to really supply this was by doing a function to test the connection!

[code]

[2018-02-16 19:20] NickCraver commented on #10996
Absolutely agree with this move. If it helps, I wrote up some more test cases on how this is confusing (and sometimes dangerous) when it first came up here: https://github.com/NickCraver/EFCoreInjectionSample/blob/master/Program.cs

[2018-02-16 20:15] ajcvickers commented on #10972
All the 1.x stuff can go.

We should have:
- 2.1 EF Core on 2.1 .NET Core
- 2.0 EF Core on 2.0 NET Core
- 2.1 EF Core on 2.0 NET Core
- 2.1 EF Core on .NET Framework
- 2.0 EF Core on .NET Framework
- EF6 on .NET Framework

[2018-02-16 20:53] ajcvickers commented on #1667
Removing the blocked label since mapping of SQL variants is now supported in EF Core 2.1. We should revisit this and see if there are still any blocking issues or pain points, but the priority is relatively low.

[2018-02-16 20:54] ajcvickers commented on #4834
@maumar To check whether this now works for both reference and collection navigation properties, and if it is not working for collection navs, then either describe why it is failing or link to another issue if there is something already tracking the problem.

[2018-02-16 20:55] ajcvickers commented on #9544
@maumar and @divega should sync up on this.

[2018-02-16 20:59] ajcvickers commented on #10656
@smitpatel to bring together all the various parts of the "datediff" work to a design meeting so we can discuss. This includes:
* Can we translate these operators using datediff in the translation?
* Can SQLite and other providers also translate the operators?
* If so, then do we need datediff functions at all, or maybe just parts of them?
* If we keep parts of the datediff functions, then should

[2018-02-16 21:36] bigswede74 commented on #10991
@ralmsdeveloper this approach works for me, thanks.

[2018-02-16 21:54] #2281 closed

[2018-02-16 22:00] orubel commented on #10863
This is not API Chaining(tm) which was created and trademarked by myself several years ago and is a process in the BeAPI Framework. What you are doing is chaining request/response to the next request/response to the next request/response, etc.

This trademark has been enforced against Mulesoft, NordicAPI, Apigee, and others.

To read on how to implement, go to the documentation page for API Chaini

[2018-02-16 22:09] Phylum123 opened #10997 "Self referencing loop error"
Hey guys, I found an issue with JSON, Razor Pages (Core 2) and EF (Core 2). I know all about self referencing loops and usually it can be solved with configuration. I added configuration and it did not work, I am still getting the error. Below you can see my configuration in "Startup.cs":
[code]
and when I make this simple call, I get the error:
[code]

Here are both entities involved in the call:

[2018-02-16 22:12] ralmsdeveloper commented on #10997
Can you explain here the error you see?

[2018-02-16 22:14] Phylum123 commented on #10997
An unhandled exception occurred while processing the request.

JsonSerializationException: Self referencing loop detected with type 'System.Collections.Generic.List`1[RMBSWeb.Main.Models.RmbsCertificateRate]'. Path 'data[0].RmbsPool'.
Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.CheckForCircularReference(JsonWriter writer, object value, JsonProperty property, JsonContract contract, J

[2018-02-16 22:18] odannyc opened #10998 "Multiple cs files with backticks"
Is this intended?

![screen shot 2018-02-16 at 2 15 09 pm](https://user-images.githubusercontent.com/12864641/36331744-ee41ef92-1323-11e8-862c-e7a7905e923c.png)

Its located here:
https://github.com/aspnet/EntityFrameworkCore/tree/dev/src/EFCore/Diagnostics

[2018-02-16 22:21] ralmsdeveloper commented on #10997
This does not sound like error from EF Core. But I can be wrong.
Unless you have no information in your table. and the error message is not what you want.
Try swapping **First()** for **FirstOrDefault()**

[2018-02-16 22:21] Phylum123 commented on #10997
I can see the data load into the variable "Pool", but I guess when it is sending it back to the client via JSON, thats when it occurs.

[2018-02-16 22:27] ralmsdeveloper commented on #10997
If you can see the data load ... the wonderful EF Core did its part ✅

[2018-02-16 22:30] ralmsdeveloper commented on #10997
Can you attach a project to reproduce this error here?
So I could try to play, and some member of the team too.

[2018-02-16 22:49] smitpatel commented on #10971
`Can_query_shared_derived` has incomplete data.

[2018-02-16 22:59] grahamehorner opened #10999 "Idea: WebSQL Provider (Sqlite on Blazor)"
now that the blazor project is an official research project at Microsoft please consider creating a client side entity framework core provider for WebSQL so that blazor client can work with local data storage and utilise the power of entity framework core, linq etc.

[2018-02-16 22:59] Eilon commented on #10998
Yes - they represent the different generic types based on the number of type arguments that they have, each of the back-ticks represents 1 generic type argument.

[2018-02-16 23:05] smitpatel commented on #10997
{
                options.SerializerSettings.ContractResolver = new Newtonsoft.Json.Serialization.DefaultContractResolver();
                options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Serialize;
                options.SerializerSettings.PreserveReferencesHandling = PreserveReferencesHandling.Objects;
            });

This is incorrect
ReferenceLoopHandling should be

[2018-02-16 23:13] bricelam commented on #9993
Note to self: It looks like we can just always include the square braces in `OBJECT_ID`

[2018-02-16 23:23] smitpatel commented on #10971
Also `F1Fixture` also has `TitleSponsor` has Owned navigation `Details`

[2018-02-16 23:37] #8973 closed

[2018-02-16 23:52] ajcvickers commented on #190
Closing this in favor of general support for any type of collection, as tracked by #752

[2018-02-16 23:53] ajcvickers commented on #248
This issue is too general to be actionable.

[2018-02-16 23:55] ajcvickers commented on #302
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-16 23:56] ajcvickers commented on #327
Closing this as we do not plan to implement and maintain a Redis provider for EF Core. However, we would be supportive of a community effort to create such a provider.

[2018-02-16 23:57] ajcvickers commented on #613
Closing as we think we have already done as much as we can in this area.

[2018-02-16 23:58] ajcvickers commented on #703
We should look at what was done for seed data and see if this can be generalized. However, even then it is not clear that the behavior should be switched on by default.

[2018-02-16 23:59] ajcvickers commented on #749
Closing as this particular idea (entities without any CLR object) may now not be needed since something like property bags (or even object entities with shadow properties) would cover the cases where this was thought to be useful.

[2018-02-17 00:02] divega opened #11001 "Enable configuring default property values with a lambda expression"
This could be a new overload of `HasDefaultValue` that allows passing a `Expression<Func<T>>` (or even a `Func<TDbContext, T>` if we are ok with drifting from the pattern used in query filters).

This would enable obtaining the value from the actual `DbContext` instance used at SaveChanges time.

Example:

[code]

This should save you from having to write this kind of code:

[code]

[2018-02-17 00:06] ajcvickers commented on #927
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:09] ajcvickers commented on #996
Leaving on the backlog to consider what we can do with regards to squashing, rebasing, etc of migrations. See also #2167 and #2174.

[2018-02-17 00:10] ajcvickers commented on #1027
This is a good idea and we are fully supportive of community efforts in this area, but we don't intend at this time to implement or maintain this in the EF team.

[2018-02-17 00:12] ajcvickers commented on #1048
Closing as the additional work on logging and structured diagnostics mean that we already warn for common pitfalls and tooling can hook into diagnostics to do further analysis.

[2018-02-17 00:14] ajcvickers commented on #1097
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:15] divega commented on #10996
@NickCraver thanks. We are going to try to address #10080 in the shorter term with a a Roslyn analyzer. I think we can probably leverage your tests as tests cases for the analyzer.

cc @anpete

[2018-02-17 00:16] ajcvickers commented on #1138
Closing this as we already have other patterns for doing this and there doesn't seem enough value to add a new one.

[2018-02-17 00:21] ajcvickers commented on #1142
Closing this as we are focusing our efforts on Cosmos DB (initially as a document store) rather than ATS. We don't intend for the EF team to implement and maintain an ATS provider, but we would be fully supportive of community efforts to do so.

[2018-02-17 00:22] ajcvickers commented on #1414
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:22] ajcvickers commented on #1529
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:23] ajcvickers commented on #1808
We did significant work in the materializer to improve bad data messages, which has also been of benefit in FromSql. Closing this since we don't think there is a lot of value in doing more.

[2018-02-17 00:24] ajcvickers commented on #1813
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:25] ajcvickers commented on #1824
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:26] andrewalderson commented on #10981
I ended up fixing this issue by having my context extend IdentityUserContext instead of IdentityDbContext and copying the code from IdentityDbContext into mine. I also had to change the implementation of UserClaimsPrincipalFactory for aspnet identity but I think that is only because I extended IdentityUserRole.

In this case it was pretty straight forward but I do think I shouldn't have to do this

[2018-02-17 00:27] ajcvickers commented on #1918
After further thought, the complexity of doing this, especially in a database agnostic way, is very high. Therefore, for now, we are closing this as something we don't intend to work on. However, we would of course reconsider this based on sufficient and compelling feedback.

[2018-02-17 00:29] ajcvickers commented on #2017
This would be both a breaking change and we don't think it would add significant value, so closing this for now, although we could reconsider with compelling feedback.

[2018-02-17 00:31] ajcvickers commented on #2196
This hasn't been causing the problems that it used to cause, so closing.

[2018-02-17 00:32] ajcvickers commented on #2296
Closing as we haven't seen significant demand for this feature. We could revisit this decision based on feedback and we would also consider a well-written community PR for it.

[2018-02-17 00:39] ajcvickers commented on #2459
EF Core 2.1 contains a new mechanism for data seeding that is different from either the database initializer or Migrations seeding from EF6. With this mechanism it is possible to change seed data and scaffold a migration that will make those changes in the database regardless of whether or not the schema has changed. We are also planning to make this work with the in-memory database, although it d

[2018-02-17 00:40] #10972 closed

[2018-02-17 00:40] ajcvickers commented on #2461
We have already improved logging/feedback in this area, and we hope to improve it further once simple logging is implemented in EF Core. Closing this issue as there is nothing actionable here that isn't tracked elsewhere.

[2018-02-17 00:41] ajcvickers commented on #2742
This is much less important since we abandoned one-model-to-read-them-all, so closing.

[2018-02-17 00:47] ajcvickers commented on #3421
Closing this as we do not plan to implement and maintain an Elastic DB provider for EF Core. However, we would be supportive of a community effort to create such a provider.

[2018-02-17 00:48] ajcvickers commented on #3470
After further thought, the complexity of doing this, especially in a database agnostic way, is very high. Therefore, for now, we are closing this as something we don't intend to work on. However, we would of course reconsider this based on sufficient and compelling feedback.

[2018-02-17 00:49] ajcvickers commented on #3599
Closing this for now, with the understanding that we will likely have similar things to test as part of update-model-from-database, and we should do what we need to do in the context of that feature.

[2018-02-17 01:01] ajcvickers commented on #10940
Closing this as a duplicate of #6872 with a note there to consider this behavior when implemeting.

[2018-02-17 01:01] ajcvickers commented on #6872
Note: consider discussion in #10940 when implementing this.

[2018-02-17 01:03] ajcvickers commented on #10955
Decision from triage: we will ignore (not remove) the checked convert nodes. This means for anything evaluated on the server there will be no overflow checking, but for anything evaluated on the client it will still be used. We will stop forcing client evaluation of the query because we cannot translate a convert node.

[2018-02-17 01:04] ajcvickers commented on #10956
Closing as the issues with interpolated strings are being tracked elsewhere--e.g. #10996.

[2018-02-17 01:05] ajcvickers commented on #10962
Note that this is related to the stronger semantics of _required_ when applied to table-splitting. That is, both the principal and dependent are always required.

[2018-02-17 01:23] ajcvickers commented on #10965
@uknickwilliams The key thing to remember here is that an owned entity type is still an entity type, and even though it behaves differently in some cases, the code for setting the state to modified is the same as for any other entity. For example:
[code]
Likewise, to set just a single property to modified, use something like:
[code]

[2018-02-17 01:29] ajcvickers commented on #10967
Triage: while we could consider more probing here, this is an area that can be temperamental so we feel that the flag to specify the startup project is the best way to deal with this situation.

[2018-02-17 01:34] ajcvickers commented on #10968
@onovotny: Would you consider moving IX-Async to depend on only .NET Standard 2.0 and above, or do you still need to support 1.x dependencies?
@MichaelKetting: Same question for Relinq?

[2018-02-17 01:37] onovotny commented on #10968
@ajcvickers I'm curious as to the reason for the question. A library shouldn't need to target a higher .NET Standard version than the API set it requires, and IX-Async currently doesn't use any API's that are only in .NET Standard 2. So what does moving to be .NET Standard 2 gain?

[2018-02-17 01:37] ajcvickers commented on #10981
@andrewalderson The simple answer is that when a primary key is changed, then, any relationships with foreign keys that reference that key also need to be updated. The longer answer is that we need better documentation in this area, which is on my backlog to do and is tracked here: https://github.com/aspnet/Identity/issues/1542

[2018-02-17 01:39] ajcvickers commented on #10988
Decision from triage: we should make both the explicit cast and the _as_ cast work in the same way, including null compensation/propagation.

[2018-02-17 01:39] onovotny commented on #10968
It also begs the question, is this a packages.config scenario or a PackageReference scenario? It is true that packages.config can add a lot of cruft, but the solution there should be to move to PackageReference where this all goes away.

[2018-02-17 02:13] radhikagadde commented on #10980
Is there any plan to consider this fix issue for CLI?
Its very difficult to specify --table for each table..
Same option worked for Core 1.1
I see that scaffold-dbcontext is working with tables  separated by comma..then why not CLI support it?

[2018-02-17 04:58] psla opened #11002 "Unable to 'Find' object by 'Guid'"
When using SqlLite engine and an identity field of type Guid, one is unable to call .Find and get results. But if the results are in memory, they get returned correctly.

[code]

## try calling .Find(parsedKey)
[code]
The result is null

## Cache the collection by calling .ToList() on an DbSet in Context
[code]
you can see one element is now in the collection

## Repeat the .Find operation
[code]

[2018-02-17 06:29] roji commented on #10656
@ajcvickers @smitpatel just a suggestion, but if SQL Server does have a function that does date subtraction  and returns a timespan, maybe you should have the C# subtraction operator translated to that function, rather than exposing a special `EF.Functions` method? The operator is, after all, the natural C# way to do the operation, and it's not really important whether that translates to an operat

[2018-02-17 06:31] roji commented on #3620
Thanks for this work @ajcvickers, I'll take a look as soon as I can for preview2 and will post back here if I run into any further trouble.

For anyone interested in PostgreSQL native enums, please follow progress in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/27.

[2018-02-17 07:10] smitpatel commented on #10656
@roji - The issue is, there is no function which returns timespan. DateDiff function on sql server allows extract parts of timespan. Therefore we added DateDiff functions on EF.Functions (also the fact linq2sql had them). SqlServer has direct translation for them but for other providers there is no direct translation. Rather it makes it cumbersome trying to mimic client side behavior.

[2018-02-17 07:47] roji commented on #1100
@pauldendulk thanks for this information, have you also considered [Microsoft.Spatial](https://www.nuget.org/packages/Microsoft.Spatial)? It supports .NET Standard 1.1 and appears to be quite complete in terms of type support, what's you're opinion of it?

Several of the libraries you mention haven't been updated in quite some time: SharpMap hasn't release a version since 2014, and NTS hasn't rele

[2018-02-17 07:50] roji commented on #10656
@smitpatel ah I see - makes sense... In that case it seems right to have the DateDiff function as SQL Server-specific, I think.

[2018-02-17 08:01] roji commented on #9753
Thanks @ajcvickers! I'll take a look at the relevant types and modify their mappings accordingly for 2.1. I think that for arrays and for hstore (a native `Dictionary<string,string>` PostgreSQL datatype) a deep value comparison is the right thing to do, but we'll see what users say.

For anyone following, I've opened https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/305 for ar

[2018-02-17 08:14] divega commented on #10656
Another idea would be to recognize patterns like `(d1 - d2).TotalHours` and translate them to the corresponding DATEDIFF calls. Not all of them will work. FWIW, I just remembered we discussed about doing this in EF many years ago. Would it be hard with our current implementation?

I wonder also if we could establish a conversion between an int containing seconds or microseconds and a `TimeSpan`. T

[2018-02-17 11:23] JoelKessler commented on #9249
@Thetyne seems so^^ I'm not 100% sure but is this also related to this issue?

https://stackoverflow.com/questions/48600391/xamarin-forms-sqlite-code-first-add-element-to-an-foreign-element-with-list-of-t

I just can't use my app on an apple device because of this... and I couldn't even use any workaround...

If anyone could help, would be great. Thanks^^

[2018-02-17 11:45] ralmsdeveloper commented on #10656
@divega It should also be remembered that we do not have **TotalYears** and **TotalMonths**.

So there would be a need to create an extension method, which I believe to be what you do not intend to do!

[2018-02-17 12:13] ralmsdeveloper commented on #11002
Hello @psla ,
You can look at this:
- [https://github.com/aspnet/EntityFrameworkCore/issues/10662](https://github.com/aspnet/EntityFrameworkCore/issues/10662)
- [https://github.com/aspnet/EntityFrameworkCore/issues/5801](https://github.com/aspnet/EntityFrameworkCore/issues/5801)

Possible dup of: [https://github.com/aspnet/EntityFrameworkCore/issues/10662](https://github.com/aspnet/EntityFramework

[2018-02-17 19:54] QuantumHive commented on #10967
@ajcvickers I understand. Perhaps the exception message could be improved to inform the developer that multiple startup projects won't work with migrations? The current message causes confusion, because from the perspection of the developer, his startup projects already references the project containing the DbContext.

[2018-02-17 20:31] ajcvickers commented on #3620
@roji Wanted to let you know that @anpete uncovered an issue where enum literals in queries are being sent to the provider as literals of the underlying numeric type because of the expression tree created by the compiler. But we think it can be fixed.

[2018-02-17 21:36] bricelam commented on #10980
Scaffold-DbContext is a PowerShell cmdlet which natively supports array parameters. `dotnet ef` uses a command-line parser shared amongst the other ASP.NET and .NET Core teams. In it, the idiomatic way to specify multiple values is by specifying the option multiple times.

[2018-02-17 22:01] psla commented on #11002
It is somewhat similar, except that I don't have any custom migrations, and I have a very straightforward use case (i think).

Also, I enabled more logging, and the query issued to the database is correct:
[code]

When I issue such query directly in sqlite3.exe I get correct response.

[code]

[2018-02-17 22:12] psla commented on #11002
Inspired by some ideas there,

[code]

works fine. However, I have problems inserting guids as foreign keys as well. (works fine in sqlite3, throws exceptions in entity framework).

[2018-02-17 23:46] roji commented on #3620
Thanks for the heads-up, I'll work on non-literal functionality until this is resolved, is there an issue tracking this (or maybe just reopen this)?

[2018-02-18 13:31] rosieks commented on #8443
What about migrations? Are you going to support it too?

[2018-02-18 16:23] Thetyne commented on #9249
@Reshiru Yes, I think it's the same issue.

[2018-02-18 16:34] MichaelKetting commented on #10968
@ajcvickers
Would the switch to .NET Standard 2.0 be an additional dependency entry in the NuGet package or would this require the removal of .NET Standard 1.0? Right now, re-linq comes with dedicated targets for .NET 3.5, 4.0, 4.5, as well as .NET Portable net45+win+wpa81+wp80 and .NET Standard 1.0. What part of the support would I lose by replacing .NET Standard 1.0 with 2.0? I'm guessing mostly

[2018-02-18 17:55] smitpatel commented on #8443
@rosieks - Since CosmosDb stores schema-less JSON documents, there are not schema changes in code model which needs to be scaffolded in a migration and applied to the database. You can continue using the same database to store changed model.
What are the scenarios where you believe we would need migrations support? We would be happy to analyze and see what kind of support would be good for such sc

[2018-02-18 18:04] Reshiru commented on #10631
@ajcvickers same issue here.

Same constructor error. My dependencies

Xamarin.Forms (.NET Standard) Library:

- Microsoft.EntityFrameworkCore.Sqlite (2.0.1)
- Microsoft.EntityFrameworkCore.Sqlite.Core (2.0.1)
- NETStandard.Library (2.0.1)
- Newtonsoft.Json (10.0.3)
- SQLitePCLRaw.bundle_green (1.1.9)
- System.ComponentModel.Annotations (4.4.1)
- WinInsider.System.Net.Http.Formatting (1.0.5)
- Xam

[2018-02-18 18:25] ygoe opened #11003 "KeyAttribute support for composite primary key"
I'd like to declare a primary key that consists of multiple columns only with the `Key` attribute, just like for all other keys and as it was supported in EF6. This is the only situation when I have to go to the `OnModelCreating` method in another file to find out about the basic structure of the entity.

Currently I have to write this scattered code outside of where the entity is defined:

	prote

[2018-02-18 18:36] Reshiru commented on #9249
@Thetyne Well^^ I have to keep it currently (also i can't find any solid alternative) and I'm mostly used to EF :/ ) But as I heard this issue is only caused on Ad-Hoc Debug mode. I didn't try out to publish the App at the moment (Need to wait until I have In-House release possibilities) but as I heard after a release it should work. I hope for the best c: ^^

[2018-02-18 19:03] sam-wheat opened #11004 "Attempting to access entity on group throws "disposed object...." error"
[code]

[2018-02-18 20:25] divega commented on #10656
@ralmsdeveloper agreed that there are things that would be missing with that approach. That is what I meant when I said "not all of them will work". That may be a reason the `DateDiff` extensions methods are still compelling even if only in some databases.

[2018-02-18 20:55] selected-pixel-jameson commented on #10698
I have essentially the exact same design in my application. However, when I save a ProductProduct entity it is assigning the ParentId to both the Parent and Child Id fields. I have no idea why this is happening. I'm looking at the reference in debugger before it's saved / updated and it looks correct, but after it updates it is incorrect in the database. Any ideas?

[2018-02-19 04:58] radhikagadde commented on #10980
Thanks! That answers!

[2018-02-19 06:20] roji opened #11005 "Allow omitting value generation via convention when scaffolding"
AnnotationsCodeGenerator currently allows to specify that a given annotation shouldn't be code-generated, since it is by-convention. However, the same isn't true of other, non-annotation settings such as value generation.

More concretely, PostgreSQL supports several methods of database-generated autoincrement values - serial (simple column backed by a sequence), and since PostgreSQL 10 also ident

[2018-02-19 07:41] rosieks commented on #8443
I agree that CosmosDb is schema less but it doesn't mean there is no schema at all - we still have model in the code that changes. I thought about support for changes in model. For example when I rename class or property I would like to update existing documents in database. The same if I change type or introduce new field - I would like to provide some logic to convert/fill it.

[2018-02-19 07:55] hkumipig commented on #7838
![screen shot 2018-02-19 at 3 52 11 pm](https://user-images.githubusercontent.com/36619341/36367289-fb7cedb8-158c-11e8-8008-3fb913a6d3c5.png)

Hello. I have a problem in making database on my Terminal. I already update nugets in VS2017 for MAC. **Version for package `Microsoft.EntityFrameworkCore.Tools.DotNet` could not be resolved.**

[2018-02-19 08:53] hkumipig commented on #5392
![screen shot 2018-02-19 at 4 51 56 pm](https://user-images.githubusercontent.com/36619341/36369172-39a99b56-1595-11e8-9257-8d0210a94163.png)
Kindly help me. I just created demo project on my MAC and error appear.

[2018-02-19 11:21] xaviergxf opened #11006 "SqlServer Error 8623 The query processor ran out of internal resources and could not produce a query plan"
When doing the following sql with ids containing more than 16000 ids:

[code]

I'm receiving the following exception:
[code]

I was expecting Sql Server to be able to filter the results correctly.

Is it possible this query into multiple times to avoid this error?

### Further technical details
EF Core version: 2.01
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:  Wind

[2018-02-19 11:58] Robelind opened #11007 "ArgumentNullException with Concat"
Getting the following exception:

[code]

[code]

### Further technical details
EF Core version: 2.0.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 7
IDE: Visual Studio 2017 15.5.6

[2018-02-19 11:59] dasMulli commented on #10568
I'm running into this as well, after some new entities and relations were introduced. I'm also unable to exactly pinpoint the preconditions, but @lakeman's workaround fixes it (❤️ ).

<details>
<summary>Stack Trace</summary>

[code]

</details>

@ajcvickers could this be considered for a 2.0 patch?

[2018-02-19 12:31] ErikEJ commented on #11006
SQL Server is limited to 2100 parameters https://docs.microsoft.com/en-us/sql/sql-server/maximum-capacity-specifications-for-sql-server

[2018-02-19 12:42] Marusyk commented on #10983
I'm going to prepare PR for this

[2018-02-19 12:47] xaviergxf commented on #11006
Hi @ErikEJ Can EF Core split the queries every 2100 parameters?

[2018-02-19 13:11] ErikEJ commented on #11006
Not currently, but you could!

[2018-02-19 13:19] andrew-vdb opened #11009 "Return JObject directly from ef core query"
https://github.com/aspnet/Identity/issues/1361
[code]

I think entity framework will create IEnumerable of ApplicationUser first and then I transform the data in memory.
[code]
It will be nice if the returned values from database in JObject format (from Newtownsoft), as I can modify its property, add/remove property

[code]

[2018-02-19 15:58] smitpatel commented on #8443
@rosieks - That is useful scenario though it is data migration (rather than schema migration). At present the support for data migration is very less in EF Core in general. So it would be kind of a new feature altogether. I believe, such data migration/manipulation can be done in cosmos db using stored procedures. Priority of it happening in intial preview is very low.

[2018-02-19 16:03] smitpatel commented on #5392
@hkumipig - Few questions.
- Did you run dotnet restore?
- Is your csproj file containing DotNetCliToolReference is inside demo folder? If not then cs into folder containing the csproj.

If above does not fix the problem then share your directory structure and csproj file please.

[2018-02-19 16:04] smitpatel commented on #7838
@hkumipig - Please show content of demo.csproj file.

[2018-02-19 16:40] pauldendulk commented on #1100
@roji Thanks for the suggestion. I did not look at Microsoft.Spatial before. It is .NET Standard 1.1, that's great. It seems to be missing things like ``` GeometryFactory.MultiPolygon()``` at this point (or I am missing something? Following documentation [here](http://odata.github.io/odata.net/#03-01-define-spatial-property)). With all geometry types supported and spatial operations added this wou

[2018-02-19 16:47] LeroyK opened #11010 "Configuring a custom type mapper for a generated column breaks value generation"
Version: 2.1.0-preview2-30132

When using a type mapper as described in #242 on a generated column, EF Core seems to use the model type instead of the provider type to check if its value can be generated.

To reproduce, create an entity with a rowversion property and configure a custom type mapper on that property. EF Core will not handle it as a rowversion column after this.

The fix might be cha

[2018-02-19 18:30] Reshiru commented on #9249
@Kilowhisky and @mikaelkolkinn hey there. Where did you exactly set this? In the database context? Did you override any method?

[2018-02-19 19:09] smitpatel commented on #11007
Unsafe Dictionary access
https://github.com/aspnet/EntityFrameworkCore/blob/adf6c5fb71990636e316daabfdbb322b29e6dc57/src/EFCore/Query/ExpressionVisitors/Internal/RequiresMaterializationExpressionVisitor.cs#L258-L262

[2018-02-19 19:12] smitpatel commented on #11006
@ErikEJ - It does not look like query has any closure variable which would be parametrized. It should be fully converted to SQL without any parameters.
@xaviergxf - What is the generated SQL? The error is coming from SqlServer itself. I believe there is nothing EF Core can do about it if the SQL we sent to server runs out of resources as we would have no way of knowing if a generated query could c

[2018-02-19 21:54] sjb-sjb opened #11011 "Extended error codes"
How can I get the extended error code for an SQLite error? The SqliteException.SqliteErrorCode only returns the primary error code (fairly useless) not the extended error code. Note there is a function ([sqlite3_extended_result_codes](https://sqlite.org/rescode.html)) to put SQLite into a mode where the extended error code is returned, however I don't see how to apply this to an EF connection.

[2018-02-19 22:31] artiomchi commented on #4526
I liked the idea of an Upsert command for EF Core, so I thought to make a simple extension that could be used in some of the more simple scenarios.

Considering the example above, it could be expressed like this:
[code]
But it can also handle more interesting scenarios:
[code]

I've posted the project here: https://github.com/artiomchi/FlexLabs.Upsert
I also described a bit more about it in a [blo

[2018-02-19 23:30] dasMulli commented on #10568
I've been seeing another instance of this surfacing as `InvalidCastException`. After deploying @lakeman's fix to production, it is gone.

<details>
<summary>Stack Trace (first type is an owned type of the second one)</summary>

[code]

</details>

[2018-02-19 23:50] lakeman commented on #10568
The problem is related to sorting the pending changes so they can be batched together. Hitting the bug depends on the sort routine comparing two records with different combinations of types and owned types for different rows of the same table. The sort routine doesn't need to compare every pair of records to order the collection.

GetCurrentValue() has different implementations depending on how ea

[2018-02-19 23:59] J4S0Nc commented on #3170
Will this ever make it in? 884 days and counting...

https://days.to/18-september/2015

[2018-02-20 00:08] Davilink opened #11013 "Disable Unique constraint before update and re-enable it after"
It would be nice EF Core could expose a way to drop a constraint before updating the entities and re-create it after the update with the use of a transaction to be able to rollback if the constraints can not be apply because some of the new value violate the constraint.

if i try to update these entities, normally and exception will be thrown.

Before:
id: 1, childId: 1
id: 2, childId: 3

now:
id:

[2018-02-20 00:59] hkumipig commented on #5392
![screen shot 2018-02-20 at 8 51 28 am](https://user-images.githubusercontent.com/36619341/36402698-540669e4-161b-11e8-8fb5-0c195ac5b405.png)

Yes already run the dontnet restore "Packages successfully restored."

Please see attached file, how i run the 'dotnet ef'.
----------------------------------------------------------------------------
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>

[2018-02-20 01:01] hkumipig commented on #5392
@smitpatel

Below are the code in my csproj

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.5" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="2.0.1" PrivateAssets="All" />
    <PackageReference Inclu

[2018-02-20 02:36] ScottKaye commented on #10946
Also running into this, with a similarly simple use-case.

Full code to reproduce, very similar to smitpatel's, except using a `.Select` instead of `.Include`.

[code]

Removing either `orderby someValue` or `.Select(u => u.Pictures)` runs without the error.  Running via  LINQPad (UserQuery):

[code]

Using Microsoft.EntityFrameworkCore and Microsoft.EntityFrameworkCore.SqlServer version 2.0.1.  U

[2018-02-20 04:29] hkumipig commented on #7838
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.5" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design"
Version="2.0.1" PrivateAssets="All" />
    <PackageReference Include="Microsoft.EntityFrameworkCore"
Version="2

[2018-02-20 06:19] smitpatel commented on #10946
Selecting a navigation utilizes the same code path as include hence same error.

[2018-02-20 07:37] mikaelkolkinn commented on #9249
@Reshiru What I did was to clone/fork this repository (https://github.com/aspnet/EntityFrameworkCore) to a repository of my own and add it as a git submodule to my main git repository. I then added the EFCore projects I needed, which in my case were `EFCore`, `EFCore.Relational` and `EFCore.Sqlite.Core`. In order to build the projects I also had to add the Nuget repositories in the NuGet.config fi

[2018-02-20 08:56] smitpatel commented on #11006
@xaviergxf - Can you share the linq query then? I am not able to see how the query in first post could generate a large SQL

[2018-02-20 09:27] mchenx commented on #9964
I got this issue as well

something like this

         var groupedCounts = (from t in _dbContext.VoteTickets
                                join m in _dbContext.VoteItemData
                                on t.VoteItemId equals m.Id
                                where m.City == city
                                group t by m.District into grp
                                select new

[2018-02-20 10:59] xaviergxf commented on #11006
@smitpatel i cannot post the linq query. The query does a left join as well, that is perhaps the reason why it cannot be split into multiple queries.

[2018-02-20 12:24] ErikEJ commented on #11006
Where is the left join in the query in your original question?

[2018-02-20 12:31] xaviergxf commented on #11006
It wasn't indeed. I removed the left join and i'm still receiving this error. The contains is done on a list of int.

[2018-02-20 12:37] ralmsdeveloper commented on #11006
@xaviergxf.
Is the list of "ids" sequential?
If so, you can solve this temporarily like this:

`db.Table.Where(p=> p.ID>=p.ids.First() && p.ID<=p.ids.Last()).ToList();`

[2018-02-20 12:41] ralmsdeveloper commented on #11006
@smitpatel & @ErikEJ
For a better understanding of what is happening:
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/in-transact-sql

[2018-02-20 13:15] MarkusBrgr opened #11014 "Custom SQL Query with ToListAsync() Is ordered by ID (which is not intended nor given)"
Creating an custom SQL Query and executing it with ToListAsync(), gets ordered by the ID.
But because the Custom SQL Query is already ordered, the result set is in the wrong order.

### Steps to reproduce
In the following Code Example, the inner query has an order by statement. But EF Core puts, because of the .Include() statements, an Select over the given sql Statement, and puts an "ORDER BY ID"

[2018-02-20 13:21] Marusyk commented on #9049
Is this still an issue? Now `ParameterExtractingExpressionVisitor` used in one place and it seems we do not need any factory at the time.

[2018-02-20 13:57] Tasteful commented on #9049
Now when only one instance is left and it seems to be pretty easy to override I don't think this is needed.

[2018-02-20 13:59] Marusyk commented on #9049
Yeah, I think this issue can be closed (or at least remove label up-for-grabs)

[2018-02-20 17:10] jessebarocio opened #11015 "Using IQueryable.Contains() in an expression causes a memory leak"
If you use `IQueryable<T>.Contains()` in an expression it will cause a memory leak. The leak appears to be in the `CompiledQueryCache` as memory snapshots show a `MemoryCache` growing like crazy.

![snapshot](https://user-images.githubusercontent.com/6439067/36437724-0884888e-1625-11e8-800f-859851aafb1b.png)

The obvious workaround is to not use an IQueryable in the expression. I never intended to

[2018-02-20 17:48] smitpatel commented on #11015
Related #9301

[2018-02-20 18:52] bricelam commented on #10967
Using `-Verbose` shows the following:

[2018-02-20 18:53] bricelam commented on #10967
We could make the first line a warning...

[2018-02-20 19:00] bricelam commented on #11005
👍 We hit the same problem in #10183 where SQL Server adds index filters by convention.

[2018-02-20 19:47] divega opened #11016 "Address any performance regressions in EF Core 2.1"
Creating this issue as a reminder to look at our perf report and identify any regressions we want/need to address, then create separate issues for them.

Now that #10972 is done we should just need to update the report and wait for the data.

[2018-02-20 20:02] smitpatel commented on #11006
Work-around, split the ids list manually on client side. Since documentation does not provide a upper bound of values which can be included, it could be difficult to solve this in EF Core. (i.e. if the upper bound is based on size? int/string/guid could have different sizes). Even if EF Core breaks query in multiple parts based on some number and combine results on client, it would work only simpl

[2018-02-20 20:03] smitpatel commented on #9964
@mchenx - The 2.1 preview would be out soon or you can use nightly builds.

[2018-02-20 20:10] smitpatel commented on #7838
@hkumipig - You are hitting https://github.com/aspnet/EntityFrameworkCore/issues/10957
Please run dotnet restore on CLI manually.

[2018-02-20 20:13] smitpatel commented on #5392
Already answered to @hkumipig in a different thread.
For others, if you are using VS for Mac then you would need to run `dotnet restore` on command line manually. Even though VS for Mac says packages restored successfully it does not restore DotNetCliToolReference properly.
Tracking external issue https://developercommunity.visualstudio.com/content/problem/198601/vs-restore-function-not-the-same-a

[2018-02-20 20:18] #10571 closed

[2018-02-20 21:28] #10918 closed

[2018-02-20 22:28] smitpatel commented on #10407
@hikalkan - We would need a simplified repro for this. Based on the query filter definition, you are configuring filters inside your DbContext class only so it should work with 2.0.1 package. Looking at error since parameter is not found in scope, perhaps the way expressions are combined (and/or created) is the thing which is throwing expression tree off.

[2018-02-20 22:30] chrislamb139 opened #11018 "Except statement performance"
I have a table schema like this (cutdown):

`CREATE TABLE [scoWMS].[Pallet]
	[Id] [uniqueidentifier] NOT NULL,
	[Barcode] [nvarchar](100) NOT NULL,
CREATE TABLE [scoWMS].[Inventory](
	[Id] [uniqueidentifier] NOT NULL,
	[PalletId] [uniqueidentifier] NULL,
	[Barcode] [nvarchar](100) NOT NULL,`

Where Inventory.PalletId points to Pallet.Id.

I'm trying to do write a query like this using EF:
[code]

[2018-02-20 22:36] smitpatel commented on #11018
Duplicate of #6812

[2018-02-20 23:17] Allann commented on #6812
I would be keen to see except implemented too.  Any updates on the progress?

[2018-02-20 23:36] jzabroski commented on #2341
I think you misunderstood me. I was advocating that you define the behavior
via unit test, and explained that many tools expect this behavior, and by
not supporting it, upgrading EF6 to EFCore will bring unexpected surprises.

On Thu, Oct 12, 2017, 6:07 PM Smit Patel <notifications@github.com> wrote:

[2018-02-20 23:44] smitpatel commented on #2341
EF6 to EF Core is not in-place upgrade. EF Core is rewrite of EF6 and in many cases have behavioral differences. Any application expecting the group by constant to work same as EF6 is gonna fail regardless of it client eval or throw. By doing client eval, there is higher probability of external tools may just work.

[2018-02-20 23:48] #9920 closed

[2018-02-20 23:49] Ben-Pattinson commented on #2341
@mchenx I'm affraid you won't get any joy with EF Core anytime soon.  I recommend doing the simple stuff in EF Core and anything complicated in dapper or similar.  It really is WAY easier than even full EF. Yes there's hard coded strings,  but with string interpolation, nameof and a data layer, you can really make it robust.
Give it a shot, you'll be surprised.

[2018-02-21 01:33] maumar opened #11019 "ForeignKeyConvention doesnt run when dependent entity type PK is changed"
Before:

[code]

and OnModelCreating:

[code]

would create a navigation: locustHorde.CommanderName -> locustLeader.Name

After adding (undelated) navigation to LocustCommander, the relationship is not defined as:
faction.Id -> locustLeader.CommandingFactionId

The new definition is worse because the navigation is declared on derived entity - LocustHorde and there is a matching FK (CommanderName)

[2018-02-21 01:47] giggio commented on #9984
@bricelam There is nothing here on .NET Core 1.x. You don't need to special case it to 1.x, because everything about this issue is running on .NET Core 2.0.

[2018-02-21 05:07] Eilon commented on #10863
@orubel , per my comment in the PR thread, we will follow up ASAP.

[2018-02-21 06:22] roji commented on #1100
@pauldendulk thanks for the information. Microsoft.Spatial does seem to have support for multipolygon - [see this](https://github.com/OData/odata.net/blob/master/test/FunctionalTests/Microsoft.OData.TestCommon/SpatialFactory.cs#L492). I don't think there's any connection between SQL Server and Microsoft.Spatial - the former still seems to support on the old DbGeometry/DbGeography - but I agree thi

[2018-02-21 07:52] xaviergxf commented on #11006
@ralmsdeveloper unfortunately the ids are not sequential... i have managed to solve this with an workaround. @smitpatel i agree with you that this should be handled somehow on sql server.

[2018-02-21 08:24] Chrille79 opened #11021 "Unhandled Exception: System.InvalidCastException: Unable to cast object of type 'System.DateTime' to type 'System.Linq.Expressions.LambdaExpression'."
I got an app that uses queryfilter
builder.Entity<Blog>().HasQueryFilter(x => x.From < DateTime.Today);

This was working before i upgraded the nuget packages. But with the new version I have to use DateTime.Now

This is working if you use
```<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />```
but does not work if you use
```<PackageReference Include="Microsoft.AspNetCore.Al

[2018-02-21 09:05] mbashov opened #11022 "Query: GroupJoin with a complex join key fails during compilation"
With the following DbContext on EntityFramework Core 2.0.1:
[code]

This query causes exception:
[code]

[code]

If the key properties are selected manually, the query is generated as expected:
[code]

[code]

A simpler GroupJoin on navigation property fails with a different exception:
[code]

[code]

[2018-02-21 11:44] ralmsdeveloper commented on #11021
@Chrille79.
This has been fixed in version 2.1!

But you can solve this by switching **DateTime.Today** to **DateTime.Now**

`builder.Entity<Blog>().HasQueryFilter(x => x.From < DateTime.Now);`

[2018-02-21 11:55] dbones commented on #9442
Oracle have a Beta Data Provider located here:
http://www.oracle.com/technetwork/topics/dotnet/downloads/odpnetcorebeta-4077982.html

[2018-02-21 11:57] ralmsdeveloper commented on #9442
I did some testing, there is a small BUG when using **Parameters.Add**.

but already a big step!

[2018-02-21 14:18] mbashov opened #11023 "Query: Async query with Join() and an access to a dependent entity fails"
The context:
[code]

The query:
[code]

[code]

EF Core version: 2.0.1

[2018-02-21 15:00] michael-aquilina commented on #7838
CLI commands can be found here:
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

For example, to add a migration it is not

`
dotnet ef Add-Migration...
`

 but

`
-- add a migration named "InitialCreate"
dotnet ef migrations add InitialCreate
`
Note that if the migrations are in a separate project, then you'll need to add "--project <namehere>" and substitute <nameherer> with th

[2018-02-21 16:37] ajcvickers opened #11024 "Update ADO.NET driver in Oracle sample"
To test on .NET Core.

[2018-02-21 16:39] ajcvickers commented on #9442
Filed #11024 to track updating for .NET Core.

[2018-02-21 18:45] smitpatel commented on #11021
duplicate of #10271

[2018-02-21 19:02] ajcvickers commented on #10698
@selected-pixel-jameson Please file a new issue including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-02-21 19:57] ewmccarty opened #11025 "Case Sensitive Database with Case Insensitive Duplicate Table throws Scaffold-DbContext error"
For instances where the Database collation is Case Sensitive, two tables with Case Sensitive names [wkr].[em_ATT] and [wkr].[em_att] but using identical identity column generates and error during Scaffold-DbContext.

[code]

### Steps to reproduce

SELECT collation_name
FROM sys.databases
WHERE name = 'CSDb'
-- Latin1_General_BIN

EXECUTE sp_helpsort
-- Server default collation Latin1-General, bin

[2018-02-21 20:51] ajcvickers commented on #10631
@Reshiru Can you please file a new issue with a runnable project/solution that demonstrates the behavior you are seeing?

[2018-02-21 20:51] ajcvickers commented on #10967
Triage: we should make this a warning. marking it as stretch for 2.1.

[2018-02-21 20:53] smitpatel commented on #10970
Using VS 15.5.6 & EF Core 2.0.1 I am not able to reproduce this.
I have a .netcore console app as start up project and netstandard class lib (with name `ClassLibrary()`) but Migration commands are working correctly.

We will need full solution which reproduces this.

[2018-02-21 20:54] ajcvickers commented on #10999
@grahamehorner This is an interesting idea that has been discussed recently, but we're not 100% sure that EF is a good fit here. Assigning to @divega to follow up more.

[2018-02-21 20:57] ajcvickers commented on #11003
@ygoe We have been tracking the general issue of new attributes for things like this in issue #10111. However, I will leave this open as a specific case we should cover.

[2018-02-21 20:58] ajcvickers commented on #10111
See also #11003 for the specific case of configuring a composite key.

[2018-02-21 20:59] ajcvickers commented on #11009
@andrew-vandenbrink This is not something we are going to build into EF Core. Instead it seems like something that could be done as an extension package, which somebody in the community might be interested in doing. Closing this as there is nothing actionable on the EF side.

[2018-02-21 21:01] ajcvickers commented on #11016
Assigning to @bricelam for now to update the reporting for the new build combinations. Once this is done we will re-triage again for next steps.

[2018-02-21 21:02] ajcvickers commented on #11024
We will wait for the release of a NuGet package before testing--pulling in assemblies directly is too messy.

[2018-02-21 21:05] ajcvickers commented on #11004
Triage: assigning to @anpete to provide workarounds that will force all the queries to be fully materialized, and to investigate what we might be able to do in these kinds of case going forward,

[2018-02-21 21:07] ajcvickers commented on #11006
Triage: Agreed that this is a SQL Server issue. Assigning to @divega to suggest some other ways to get the same data back with different kinds of queries.

[2018-02-21 21:11] ajcvickers commented on #11013
@Davilink This is not something we are planning to implement in EF Core. Dropping and recreating constraints can be a can of worms in several ways--other constraints may need to be dropped first, permissions issues, etc. Also, even if we did this, SaveChanges would likely not work because it wouldn't be able to find a safe other to make the changes. The typical workaround is to go through an inter

[2018-02-21 21:15] ajcvickers commented on #11014
@MarkusBrgr Include needs to have a well-defined ordering so that the results can be correlated correctly. When using FromSql, the SQL string is opaque to EF--it's not feasible to parse it--so we have no way of knowing whether there is already an ordering or not, and we therefore have to introduce one. If a different order-by is used in the LINQ query, then EF will attempt to use that order-by ins

[2018-02-21 21:30] MarkusBrgr commented on #11014
Ich werde ab  21.02.2018 nicht im Büro sein. Ich kehre zurück am
22.02.2018.
Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

Die Rückmeldung bezieht sich auf ein Mail mit folgendem Thema:
Re: [aspnet/EntityFrameworkCore] Custom SQL Query with ToListAsync() Is
ordered by ID (which is not intended nor given) (#11014)

______________________________________________________________________

[2018-02-21 21:50] smitpatel commented on #11025
Verified this is fixed in 2.1.0-preview1 release as part of #9568
I ran above schema in SSMS and ran Scaffold-DbContext, it did not create entities due to missing PK but i believe its just stripped out database schema. It no longer throws above exception.

[2018-02-21 21:50] #11025 closed

[2018-02-21 22:18] strich commented on #9415
Seems this particular issue has a couple of a root causes and we STILL aren't there yet in working it all out. I will provide another GOTCHA:

If the db doesn't exist, and you try to `dotnet ef migrations add InitialCreate`, it'll fail. You must run a `dotnet ef database update` first. Got to love those completely misleading error messages.

[2018-02-21 22:25] smitpatel commented on #11023
Simplified repro:
[code]

Sync path works correctly.

[2018-02-21 22:27] #10987 closed

[2018-02-21 22:33] Reshiru opened #11027 "EFCore SQLite - Android - Error constructor call failed"
SQLite database not useable in Xamarin.Forms with Android.
On try to initialize new DbContext error will be thrown.
Expected:
-> Generate database and resolve connection / object to the linked configurations

[code]

### Steps to reproduce
Run the given solution

[Issue_Droid.zip](https://github.com/aspnet/EntityFrameworkCore/files/1745940/Issue_Droid.zip)

**Edit:**
Constructor call inside MainPa

[2018-02-21 22:34] Reshiru commented on #10631
Of course c:

https://github.com/aspnet/EntityFrameworkCore/issues/11027

[2018-02-21 22:50] smitpatel commented on #9415
It does not. How are you supposed to create very first migration which creates database. Adding migration is working correctly for me when database does not exist. If you are facing issues with it then file a new issue with a solution which repros the issue.

[2018-02-21 22:56] maumar commented on #10988
Fixed in 1fcdbeacf8c948f5cbb41967c678587f80217fe9

[2018-02-21 22:56] #10988 closed

[2018-02-21 23:13] maumar commented on #10128
Was not able to reproduce this on current bits.

Used the following repro code:

[code]

and got the following SQL generated:

[code]

Note that the query is written in a way that, if there is no NextEpisode or LastEpisode, materialized value will be null and the compiler is expecting int, so the query will throw. This can be remedied by introducing cast to nullable value, just in case

[2018-02-21 23:48] smitpatel commented on #11015
@jessebarocio - We get separate cache entry for each query since, EnumerableQueries are opaque to us. We would not know genders would enumerate too. Hence they don't match existing cache entry. If you move genders declaration outside then we do reference equality on value causing cached entry to be used.

If we parametrize the Queryable then we can use same query cache while still enumerating to d

[2018-02-22 00:15] ajcvickers opened #11029 "EF Core Power Tools y Reverse Engineer to connect BBDD closes VS2017"
From VS Feedback:

Using EF Core Power Tools y Reverse Engineer to connect BBDD.
After adding de BBDD server and select the BBDD.
When select OK in window "Choose Database Connection" Visual Studio shows an popup error reporting that VS2017 stoped to works.

[2018-02-22 01:27] grahamehorner commented on #10999
@ajcvickers understand, the reason for asking was that IMHO if EF Core was able to target WebSQL within Blazor/Mono wasm runtime this would bring a great benefits to the developer have aligned data access in both client/server and allow client side caching of data and possibly offline functionality.

[2018-02-22 01:55] ajcvickers opened #11031 "GraphUpdatesSqlServerTest is flaky"
The constraint that is violated is not reported consistently when multiple constraints are violated. Check disabled for now.

[2018-02-22 02:02] ScottKaye commented on #10946
I see - is there any workaround for this?  Currently this is preventing me from updating from 1.1.2.  I don't think this is a particularly isolated edge-case; ordering a collection and selecting a navigation property has to be pretty common.

I've tried explicitly defining the relationships in `OnModelCreating`, but still no dice.  Maybe I'm missing some other kind of configuration though.  Please

[2018-02-22 07:44] Nikitos1991 opened #11032 "HasComputedColumnSql expression is not recalculated for InMemory functionality"
HasComputedColumnSql expression  is not recalculated for InMemory functionality.
### Steps to reproduce
1) Add computed column
2) Create in-memory context option
3) create unit test which consume this computed column
4) expected result: computed column should be evaluated and unit test should be able to check calculation result
actual result:  computed column returns null

### Further technical de

[2018-02-22 08:38] ErikEJ commented on #11029
This should be reported in the EF Core Power Tools repo, where is the original issue?

[2018-02-22 09:56] DSilence commented on #1100
**What framework are you targeting? (e.g. .NET Framework, .NET Core)**

For now, we're targeting .NET 4.6.2, we plan to move to .NET Core in future.

**What type of application are you targeting? (e.g. web app, WinForms app)**

Web app, running under Azure App Service.

**What operating system are you targeting? (e.g. Linux, Windows)**

Windows now, possibly Linux later

**If you are using spatial

[2018-02-22 12:50] hikalkan commented on #10407
Combining expressions is also inside the code: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.EntityFrameworkCore/EntityFrameworkCore/AbpDbContext.cs#L478

However, it's hard to reproduce it in a simple code. I was hoping that you can somehow guess it :(

[2018-02-22 14:21] onzacoding commented on #10182
HI all!
I've encountered with the same issue. The rare thing is that it happens only with one record in particular. There is no problem with the other 900.000  (in a production server).

Has this any workaround that I can use?

Thanks!

[2018-02-22 14:38] andriysavin commented on #795
Just want to mention an important requirement for the feature: global filters support.
My scenario: I have entities with TenantId associated with them, and I use global filter to limit access to entities by logged in user's tenant id. This works fine for queries, but not for modifications with using attached entity pattern. For example, when I want to delete an entity like this:
[code]
the global

[2018-02-22 15:45] mdczaplicki commented on #3241
@alvaromongon this actually helped me, you just need to be careful not to create a loop in db.

[2018-02-22 17:43] philcarbone opened #11033 "Issue when using EFCore with Automapper's ProjectTo and Unions"
Issue also opened on Automapper GitHub here: https://github.com/AutoMapper/AutoMapper/issues/2537

Also posted on Stackoverflow here:
https://stackoverflow.com/questions/48847744/how-do-i-correctly-use-ef-core-with-automapper-projectto

My Setup
-------

 - ASP.NET Core 2.0
 - EntityFrameworkCore 2.0.1
 - AutoMapper 6.2.2

----------

Problem
-------

I have a project with a DTO called `PersonDeta

[2018-02-22 19:05] ryanbrandenburg commented on #9031
Still seeing [this](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=411530&_focus=132453) occasionally, though less frequently.

[2018-02-22 19:25] anpete opened #11034 "Consider generic ModelBuilder<TContext> and new OnModelCreating"
So we can add context-strongly-typed fluent APIs.

[2018-02-22 19:56] failwyn opened #11035 "Guid properties cause exception on physical iOS devices"
Guid properties with multiple other properties cause an exception on physical iOS devices

System.ExecutionEngineException: Attempting to JIT compile method `(wrapper runtime-invoke) <Module>:runtime_invoke_void__this___Guid_Guid_Guid_Guid (object,intptr,intptr,intptr)` while running in aot-only mode. See https://developer.xamarin.com/guides/ios/advanced_topics/limitations/ for more information.

[2018-02-22 20:27] MisinformedDNA commented on #8443
We should create a new issue for supporting data migration. Personally, I think it is a valuable feature, but it isn't essential to the initial provider.

[2018-02-22 20:55] ajcvickers opened #11036 "Query comparisons for big decimals fail on Sqlite"
With this model:
[code]
This works:
[code]
But making the value bigger fails:
[code]

[2018-02-22 21:16] grayver opened #11037 "Invalid included navigation query generated"
I have run into situation when Npgsql.EF.Core generates invalid SQL query when complex OrderBy expression used in async query.

[code]

### Steps to reproduce

I wrote example project where this error is reproduced:
https://github.com/grayver/pgefcore2-query-bug

Briefly:

Here is LINQ expression:
[code]

and here are SQL queries:
[code]

However, if I use sync query instead of async - error disap

[2018-02-22 21:49] HalidCisse commented on #10999
Very useful for electron apps, where frontend size is not big issue.
Electron + blazor + EfCore = ?

[2018-02-22 21:58] smitpatel opened #11038 "Query: Make EF.Functions.DateDiff SqlServer specific"

[2018-02-22 22:03] smitpatel opened #11039 "Query: DateTime addition/subtraction translation to server"
Addition/subtraction of `DateTime` gives type of `TimeSpan`. At present postgre can do it correctly because it has mapping type - interval.

This issue is to track,
- Translation of addition/subtraction for DateTime to server and materializing it back to TimeSpan on client side doing some computation.
- Translation of member access on +/- of DateTime (e.g. (DateTime - DateTime).TotalDays) to serve

[2018-02-22 22:06] smitpatel commented on #10656
## Design meeting notes
- SqlServer DateDiff functions calculates boundary crossed for particular modifier. Going from 31st Dec to 1st Jan, for year, it gives result of 1 because year boundary was crossed. Which is significantly different from (date2 - date1) computation. Because the timespan will not have 1 year. Hence we are going to move DateDiff* function extensions to SqlServer provider. File

[2018-02-22 22:13] smitpatel opened #11040 "QueryFilter: Add overload which takes derived DbContext type in defining filter expression"
If the lambda expression is taking derived DbContext type as parameter then it becomes easier for us to identify which are the source of context we need to capture and inject at runtime. It also avoids ambiguity on customer side that which references will be updated and which will not be. It also reduces need on user side to pass around context variable to configure the filter outside of DbContext

[2018-02-22 22:15] smitpatel commented on #10301
## Design meeting notes

This issue will solve following:

- We will try to get current context type insider ParameterExtractingEV so that we can capture instances of only that context type in filter. Any other context type member access will be inlined (or throw exception if it is too difficult)

- Patterns of configuration which would capture context correctly and inject current instance values

[2018-02-22 22:35] smitpatel commented on #10870
It seems like almost all relational providers have Having clause supported in SelectExpression. We will try to translate to Having clause instead of causing a subquery (like EF6).

[2018-02-22 23:40] jvelezc opened #11042 "Temporal tables query throws an Exception when using fromsql<T>"
The issue only occurs with temporal tables are defined. The column in question is defined:
	[SysStartDate] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[SysEndDate] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,

[code]

The issue also surface with other folks and they did what I called hacks to make it work.
https://stackoverflow.com/questions/40742142/entity-framework-not-workin

[2018-02-22 23:41] smitpatel opened #11043 "Query: DbSet may not be EntityQueryable"
In test
[code]
Here the ConstantExpression generated for `context.TestEntities` is not an EntityQueryable. WIth optimization going in #11030 we now try to parametrize all queryables which not EntityQueryable, which cause this test to fail with A second operation started error.

After discussing with @ajcvickers
- Is it possible to have DbSet type without being of EntityQueryable type?
  - Yes => T

[2018-02-23 00:12] smitpatel commented on #11036
Probably type affinity thing mentioned here:

We store data as TEXT but we generate literal of REAL.
SQL in above case
[code]
So for smaller no equality works fine. For bigger no. type affinity fails and equality fails (probably due to being different types). If we compare with TEXT literal then it works.

[2018-02-23 00:19] maumar commented on #10946
@ScottKaye this scenario should work as long as you order by something that is not constant - e.g.

[code]

[2018-02-23 01:28] divega commented on #11006
Here are a couple of ideas for workarounds:

- Separate the ids in chunks of a fixed size. I wrote some code snippets that do this long time ago to address a different problem on the original EF: https://stackoverflow.com/questions/7897630/why-does-the-contains-operator-degrade-entity-frameworks-performance-so-drama/7936350#7936350.

- As suggested by @anpete, use `FromSql` to do the containment c

[2018-02-23 01:29] divega commented on #11006
Clearing up milestone in case we want to do something more with this issue before we close it.

[2018-02-23 01:34] FrederickBrier opened #11045 "EnsureCreated (db) with owned types works in Visual Studio, fails when deployed"
I am using the 2.1.0-preview2-28189 which has working owned types. Run within the Visual Studio environment, it works. The application creates the tables (using EnsureCreated) and initializes the data correctly.

After setting up a server, web deploying the application to the server, and starting with the dotnet command, when it attempts to set up the database via EnsureCreated() and seed it with

[2018-02-23 01:47] maumar commented on #9395
fixed in 9355f64dbc5846271c36bbf6ff8196ed954751fe

[2018-02-23 01:47] #9395 closed

[2018-02-23 07:11] oneandy commented on #9904
Somewhere in our code, there is a Console output, with ":" in the string.
This is the broken code

[code]

[2018-02-23 12:33] MSAAAAuto commented on #9193
Current URL at [GDPR](http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32016R0679).
(Update)

[2018-02-23 16:01] bludev commented on #831
In the "DB-First"context, another useful feature of EF6 is the ability to modify the "model.tt" file to customize the generated code for each entity. This allows me to add custom attributes to the class or let it inherit from a base class or even implement an interface. Each time I update the model from the database, entities are properly created or regenerated as instructed in the tt file.
In EF

[2018-02-23 16:19] ranouf commented on #1100
Hi,

I would like to order my items by distance, each items has a latitude and longitude.
Is there a way to do it faster?
Currently, I created a Linq functions which has no equivalent to SQL, so the function is executed by the .netcore framework which is really consuming and make the api too slow.
Any Idea?

[2018-02-23 16:20] ErikEJ commented on #831
EF Core Power Tools allows you to customize the classes in various ways using Handlebars templates. https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools

[2018-02-23 16:26] ajcvickers commented on #9904
@oneandy If you are reporting a bug, can you please open a new issue with a full description of the behavior and a runnable project/solution that demonstrates the issue.

[2018-02-23 16:46] #3620 closed

[2018-02-23 16:46] #10852 closed

[2018-02-23 17:10] Kukkimonsuta opened #11046 "Force colliding property name prefixes when using TPH"
When using inheritance and derived types have colliding properties their column name is prefixed with type name since 2.0.0 except for the first property. This is a bit inconvenient while looking at data directly in database - I'd like to propose changing the default behavior to prefix all colliding properties.

### Steps to reproduce
[code]

### Expected behavior
Migration is generated with colli

[2018-02-23 18:20] julielerman commented on #10666
hey @bricelam ! I'm having the problem again ..testing when someone reported the problem from downloading my samples for Pluralsight. I will put the solution on GH and give you a link.

This is using EF COre 2.0.3, Visual Studio 2017 15.5.6 on windows 10 latest updates.

[2018-02-23 18:25] julielerman commented on #10666
Repo: https://github.com/julielerman/EFCore2MigrationsProblemForBrice
Here's a screenshot so you can see the WebApp is startup, Data is default project, there's stuff in the initial migration and response to update-database "no migrations applied. The database is already up to date."

Is there something I've done wrong with the setup by including the migrations?

![image](https://user-images.githu

[2018-02-23 18:49] ajcvickers opened #11049 "Context.Database.EnsureDeleted(); error -> The convention invocations have reached the recursion limit. This is likely an issue in EF Core, please report it."
From VS Feedback:

after calling:
context.Database.EnsureDeleted();

app break on error ->
"The convention invocations have reached the recursion limit. This is likely an issue in EF Core, please report it."

[2018-02-23 18:50] ajcvickers commented on #11049
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-02-23 19:00] ajcvickers commented on #11029
@ErikEJ The original issue came from VS feedback. There is nothing more than I posted above. I closed that issue with a link saying further followup should happen here. Would you prefer this is closed and the issue be tracked at your end?

[2018-02-23 19:29] ajcvickers commented on #10182
@onzacoding Can you please open a new issue including a runnable project/code listing that reproduces what you are seeing?

[2018-02-23 19:42] maumar opened #11050 "Query: Include on derived entity with composite key produced duplicated Discriminator column predicates"
Introduced by fix to #9395 - before the join predicates on derived types were not sargable. However after the fix, SQL we generate for derived entities with composite keys has some redundant terms.

We should add optimization to remove the duplicated terms if all expressions are connected with AndAlso operator.

[2018-02-23 19:44] #10540 closed

[2018-02-23 19:44] #9579 closed

[2018-02-23 19:45] #8226 closed

[2018-02-23 19:51] #10962 closed

[2018-02-23 19:51] #10971 closed

[2018-02-23 20:44] maumar commented on #11050
Example:

Include_reference_on_derived_type_using_lambda_with_tracking produces:

[code]

[2018-02-23 20:53] #10813 closed

[2018-02-23 21:00] ErikEJ commented on #11029
Yes please, it is a Power Tools issue, and I am tracking it already.

[2018-02-23 21:26] bryanjhogan opened #11051 "Byte keys not generating by convention"
I just migrated an old project from Entity Framework Core 1.1 to 2.0.

All my tests that use the InMemoryDatabase failed when adding entities to the context.

It seems the EF Core 2.0 does not recognize my `public byte ProductId { get; set; }` as something to generate a key by convention for.

If I change the code to `public int ProductId { get; set; }` it works fine.
or if I add a `.ValueGenerate

[2018-02-23 21:42] ajcvickers commented on #11029
Since this is an EF Core Power Tools issue, it is now being tracked at: https://github.com/ErikEJ/SqlCeToolbox/issues/639. Any further follow up should go there.

[2018-02-23 21:49] #11043 closed

[2018-02-23 21:54] maumar commented on #4834
This works in current bits, both for reference and collection navs

[2018-02-23 21:54] #4834 closed

[2018-02-23 21:58] smitpatel commented on #6812
Enumerable | T-SQL
--------------|-------
Concat | UNION ALL
Except | EXCEPT
Intersect | INTERSECT
Union | UNION

[2018-02-23 22:53] smitpatel commented on #10407
@hikalkan - That was my guess that Expression tree became inconsistent else it wouldn't throw incorrect scope error. Perhaps before the patch change it was getting ignored rather than parametrized and now this change is causing to inject parameter but incorrect scope.

Fix for #10301 simplifies and make the pipeline more robust (and has a lot of patterns for testing). Would you be able to try out

[2018-02-23 23:57] smitpatel commented on #10666
I cloned the project and got repro.

[2018-02-24 00:05] ajcvickers commented on #5230
@maumar to de-dupe.

[2018-02-24 00:49] maumar opened #11053 "Query: include over SelectMany with reference navigation projection doesn't work"
Reported by @LordMike in #10561:

[code]

does not register the include

[2018-02-24 01:02] maumar commented on #5230
dupe of #11050

[2018-02-24 01:56] julielerman commented on #10666
is there anything obvious about my solution that would create this problem?  Since it's the 2nd one I've seen this with ...but haven't tried others ...the only common denominators are 1) Julie 2) VS2017.

[2018-02-24 02:23] smitpatel commented on #10666
There wasn't anything obviously wrong with the project. When i tried adding a new migration I found out what is causing this issue.

When I added new Migration it added 2 files to my project (beside existing migrations), migration file & designer file. Both existing migrations do not have designer files associated with them.
Looking at the structure of designer file & Code to retrieve migrations,

[2018-02-24 02:44] julielerman commented on #10666
oh! I wonder if those are being trashed by gitignore?

[2018-02-24 02:52] julielerman commented on #10666
nothing in gitignore. I wonder if git -fxd is removing them. These were solutions to share so I was cleaning them. Will see if I can replicate that...

[2018-02-24 02:55] julielerman commented on #10666
nope that isn't doing it (I didn't think so , but trying to figure out how they are not making it up to github)

[2018-02-24 03:15] julielerman commented on #10666
happy to close this issue now if you got what you needed from it

[2018-02-24 10:58] TanvirArjel opened #11055 "Deleting many to many children from parent is not working"
Here is the relative classes and configuration:

[code]

I have also tried :
[code]

Both of them throwing the following exception:
`The instance of entity type 'ProductSpecification' cannot be tracked because another instance with the same key value for {'ProductId', 'ProductAttributeValueId'} is already being tracked. When attaching existing entities, ensure that only one entity instance with a

[2018-02-24 15:56] ErikEJ opened #11056 "Reveng: custom naming of properties, dbset and entity?"
Is this possible by overriding the 3 methods in RelationalScaffoldingModelFactory? (Internal, I know)

[2018-02-24 17:07] divega commented on #10963
@spouliot A few questions about this:

1. What is the recommended way to figure out what needs to be preserved, just trial an error? Or is there some guideline that can simplify the process?
2. What `PreserveAttribute` do we need to use? Would we need to take a new dependency or can we define our own with the same shape?
3. We have experience solving similar problems for .NET Native, and it was a

[2018-02-24 17:10] divega commented on #10945
I will close this as a dupe of https://github.com/aspnet/EntityFrameworkCore/issues/10963, which is about the possibility of adding linker hints to EF Core, so that you don't need to do it in your app.

@BioTurboNick the workarounds explained by the Xamarin folks work for you? Otherwise feel free to reopen.

[2018-02-24 17:26] divega commented on #10963
@spouliot one more thing about rd.xml: the whole platform has gone through the process of figuring out what should be preserved by default, e.g. see [System.Linq.Expressions.rd.xml](https://github.com/dotnet/corefx/blob/master/src/System.Linq.Expressions/src/Resources/System.Linq.Expressions.rd.xml), so unless the requirements for the linker are different, it would be ideal of these could be lever

[2018-02-24 18:26] BioTurboNick commented on #10945
@divega Yes, adding [assembly: Preserve(typeof(System.Linq.Queryable), AllMembers = true)] to my iOS project worked.

[2018-02-24 20:09] smitpatel commented on #11056
How about injecting `ICandidateNamingService`?
Currently naming pipeline works this way
1. From DatabaseModel object fetch name.
2. Use CandidateNamingService to generate candidateName from name (this is where pascal casing happens.
3. Run candidateName through CSharpUtilities to generate a valid C# identifier.
4. Take the identifier generated and run through pluralizer.
5. Take the identifier aft

[2018-02-24 20:15] smitpatel commented on #11055
` productToBeUpdated.ProductSpecifications = product.ProductSpecifications;`

Does the exception come from above line? Presently if you delete an entity, it is still in changetracker and you cannot add another entity with same identity. In 2.1.0-preview1 we changed it slightly to allow tracking another entity with same identity as deleted entity. I believe it should help in above case. See #7340 f

[2018-02-25 06:13] TanvirArjel commented on #11055
No, the exception not coming from that line..Exception coming from that line following lines of code:

[code]

By the way, I finally I have found the exact reason of the exception and found the best way to solve the problem!

[2018-02-25 07:10] weitzhandler opened #11057 "Can we add a few more strongly-typed overloads of HasColumnType?"
EF Core version: 2.0.1
Database Provider: `Microsoft.EntityFrameworkCore.SqlServer`
Operating system: Win 10 x64
IDE: VS 15.5.7

Please add additional overloads to the [`RelationalPropertyBuilderExtensions.HasColumnType`](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Relational/RelationalPropertyBuilderExtensions.cs#L56-L79) fluent API extension, or via a different extension cl

[2018-02-25 07:36] ErikEJ commented on #11057
https://msdn.microsoft.com/en-us/library/system.data.sqldbtype(v=vs.110).aspx ??

[2018-02-25 07:43] Grauenwolf commented on #1100
@ranouf Sounds like you are looking for the STDistance function, which is available in SQL Server and C#.

https://docs.microsoft.com/en-us/sql/t-sql/spatial-geography/stdistance-geography-data-type

https://msdn.microsoft.com/en-us/library/microsoft.sqlserver.types.sqlgeometry.stdistance.aspx

[2018-02-25 07:54] weitzhandler commented on #11057
Oops I thought it was .NET only, nice to see it in .NET Core too.
I'll change the original issue.

[2018-02-25 08:02] weitzhandler commented on #11057
@ErikEJ
Oops I thought it was .NET only, nice to see it in .NET Core too.
I've changed the original issue.

[2018-02-25 11:37] LadislavMalecek opened #11058 "Using property of owned type as a foreign key"
Is it possible to use a property of nested owned type as a foreign key for one to many relationship? I was not able to achieve this.
When not specifying the relationship, entity framework creates new column with name ProfileId instead of using the AttendantParameter_ProfileId.
I need to have the profile in attendant parameter optional (int? in AttendantParameter).
Thank you for any help.

### Step

[2018-02-25 13:17] luistejadaa opened #11059 "Value Generated On Add or Update in Entity Framework Core does not work"
​I am having a problem when generating a default value with Entity Framework Core, it is supposed to generate a `getdate()` value but it does not work. This is what I have in my fluent Api

[code]

​I have also tried like this

[code]

But all I get is:

[> An unhandled exception occurred while processing the request.

[2018-02-25 14:00] mburakerbay opened #11060 "Nullable Foreign Key set Negative Id value before SaveChanges"
Hi;

When i try to save relation table, EFCore set temporary id (int minvalue) to nullable foreign key and i got an exception.

[code]
### Steps to reproduce

Sample Project Here:
[https://github.com/mburakerbay/SampleEFCoreException](https://github.com/mburakerbay/SampleEFCoreException)

You can see the exception in Program.cs line 27

[code]
DbInitializer.cs
[code]

After opened the issue i saw

[2018-02-25 14:08] pauldendulk commented on #1100
@roji I don't fully understand the situation at Microsoft. It seems they have separate geometry implementations in both EF and odata line. These can not easily be ported to .NET Standard because of native dependencies. I have worked with [Microsoft.SqlServer.Types}(https://www.nuget.org/packages/Microsoft.SqlServer.Types) in the past. As far as I can judge this was a quite complete geometry implem

[2018-02-25 15:12] ranouf commented on #1100
@Grauenwolf yes, this one, I tested it with scalar function in entity framework 2.1, all the time I throw an exception instead of calling the sql function.
It could be interesting to implement the distance in EF.
Any plan for this?

[2018-02-25 17:33] smitpatel commented on #11059
If you want to update `FechaModification` during every update then you would need to use `HasComputedColumnSql` rather than `HasDefaultValueSql`

[2018-02-26 02:12] hejiajun107 opened #11061 "auto migration"
Will ef core add auto-migration,thus it'not recommed in product environment,it's so convenient in some sitation

[2018-02-26 02:28] ctrl-brk opened #11062 "Provide more details for "An item with the same key has already been added" exception"
When Entity prepares a list of changes for update it keeps them in a dictionary.
One example is at this line:
https://github.com/aspnet/EntityFrameworkCore/blob/bfe07c526fd59be235439825a37d9fe9817c6940/src/EFCore.Relational/Update/Internal/CommandBatchPreparer.cs#L631

I had a situation where a unique index was not configured properly in the DbContextOptionsBuilder and as a result Entity was tryin

[2018-02-26 03:18] Grauenwolf commented on #1100
Honestly, even with the full version of EF I avoided the geospatial functions and instead did all my work using raw SQL.

[2018-02-26 07:27] SSkovboiSS commented on #11062
Did you turn on sensetive data logging? It has to be enabled in order to get column values logged.

[2018-02-26 09:50] ethanli83 commented on #2341
@Ben-Pattinson, maybe you will be interested in this project I worked on [EFSqlTranslator](https://github.com/ethanli83/EFSqlTranslator). It translates EFCore lambda into string and executes it on Dapper.

[2018-02-26 11:23] Ben-Pattinson commented on #2341
@ethanli83, very nice! I must say, initially I was rather sceptical, having been badly burnt by EF's horrific SQL generation. Assuming you haven't cherry picked your examples of SQL generation, they are nice and readable, and moreover, sane. Very un-EF like. You'll get into trouble for stuff like that, the Union will be along in a moment to give you a good talking to :) Comprehensive examples too,

[2018-02-26 12:15] roji commented on #1100
@pauldendulk here's the state of things to the best of my understanding (keep in mind that I don't work at Microsoft, I'm just the Npgsql guy)...
1. There's the classical System.Spatial, with types DbGeometry/DbGeography, distributed in nuget [Microsoft.SqlServer.Types](https://www.nuget.org/packages/Microsoft.SqlServer.Types). These are the type that work with SqlServer, and are supported on EF 6

[2018-02-26 13:08] tub5 opened #11063 "Unique Key values not being reset"
Automatically generated `ID` values do not reset when a new context is created. Creating a new context ensures there are no values in the database yet the `ID` value persists as outlined below.

Adding `"Value1"` and saving gives `ID` the value of 1.
Creating a new context creates a new InMemoryDatabase with a different GUID.
Adding `"Value2"` and saving gives `ID` the value of 2 which should not

[2018-02-26 15:05] figuerres commented on #1100
@ranouf
Hey I am not sure what you mean about throwing an exception all the time ?
In normal .net i can call sql and get a list of locations ordered by distance from a start location.
the results can be done with ado.net no EF required.
that should work for you also.
in TSQL i get the STDistance() result returned to my client as a float / double data type in miles and tenths of miles.
like 27.8  (

[2018-02-26 16:09] ctrl-brk commented on #11062
I did but I haven't noticed any additional info. Where should I look?

[2018-02-26 16:32] luigi68 commented on #10282
Hi,
I am experiencing same issue with EF Core 2.0 (dbProvider:Microsoft.EntityFrameworkCore.SqlServer) , the same code perfectly works using EF 6.2.
I am pretty sure that i don't have multiple threads accessing Context or Connection.
Can you give me some hints?

Regards
Luigi

[2018-02-26 18:06] pauldendulk commented on #1100
@roji Well NTS has been around for a long time and activity has increased over de last years so definitely not a bad choice.

Perhaps just picking one and keeping alternative implementations open is the best option at this point. Limit te dependency to just one of subproject, perhaps in it's own nuget package, allowing alternative implementations in their own nugets.

[2018-02-26 18:15] divega commented on #6233
Closing because:

1. The various features commonly referred to as "nested transactions" are very database specific and we are not planning to do anything on EF Core to try to deal with them in a uniform way (in this aspect, this is indeed a duplicate of #3470). That said, if we ever hear from a database provider writer or a customer any specific feedback on something we can do on EF Core __to get

[2018-02-26 18:40] natemcmaster commented on #10724
FYI Eric Sink just published a version of SQLitePCLRaw that has this fix.

https://www.nuget.org/packages/SQLitePCLRaw.bundle_green/1.1.10-pre20180223200113

[2018-02-26 18:58] smitpatel commented on #7153
@kgKevGomez - I ran above query and did not get any warning that include was ignored. Please file a new issue with repro code showing the issue you are seeing.

[2018-02-26 18:59] smitpatel commented on #11062
Sensitive data logging is not going to give any additional info. There is no logging around that (or at least in the code linked above)

[2018-02-26 19:00] smitpatel commented on #11062
@ctrl-brk - Can you share some code which reproduces above?

[2018-02-26 19:09] emmielewis commented on #9290
@anpete I don't see how this will work without having a baseline DBSet object that allows primary key.  For me, this requirement should mean I can query a view as read only and not require a DBSet object to do so.  I am unable to do that in the 2.1 version.  Any updates on when that would be available?

[2018-02-26 19:10] bertt commented on #1100
The Microsoft.SqlServer.Types (https://www.nuget.org/packages/Microsoft.SqlServer.Types) library is one of the best and fast spatial library I've ever worked with. If this library could be ported to cross platform .NET Standard it will be a great win.

[2018-02-26 19:12] anpete commented on #9290
@emmielewis Are you using the nightly builds? What is not working exactly?

[2018-02-26 19:20] emmielewis commented on #9290
I am using build 2.1.0-preview2-t000.  I looked at your example and set it up in a similar fashion but your example is using a DBSet object to build a query.  It works when I do that.  In my case, I have an existing view that I want to represent as an object and don't want to use the DBSet object (avoid primary key requirement) in order to create a query.  How do I use DBQuery with an existing dat

[2018-02-26 19:26] anpete commented on #9290
@emmielewis You have hit a quirk of our APIs here 😄 You map a Query Type to a view by using ```ToTable```. E.g. ```modelBuilder.Query<AT_DetailView>().ToTable("ccc.dddddd");```

[2018-02-26 19:37] emmielewis commented on #9290
@anpete - Ok.  I think I got confused from the example.  I just saw your note above that says "ToTable" is a bit confusing.  I am trying this out now.

[2018-02-26 19:46] ajcvickers commented on #10235
@divega Can you generate a fwlink for this?

[2018-02-26 20:26] emmielewis commented on #9290
@anpete - Thank you!  That works great for me!

[2018-02-26 21:22] ajcvickers commented on #10282
@luigi68 Please file a new issue including a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-02-26 21:30] ajcvickers commented on #11061
@hejiajun107 We don't plan to implement automatic migrations. See #6214 for more discussion.

[2018-02-26 21:40] ajcvickers commented on #11060
@mburakerbay `MemberId` and `BookId` are configured as the primary key for `MemberBookDiscount`. Primary keys cannot be nullable. Can you explain what the intention is in trying to make these members nullable?

[2018-02-26 21:42] ajcvickers commented on #11059
@luistejada4 If @smitpatel's comment doesn't help, then can you please provide a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2018-02-26 21:45] ajcvickers commented on #11057
@weitzhandler The "normal" way to do this is to use HasMaxLength rather than specifying the store type explicitly. We are adding IsFixedLength in 2.1. I suspect HasPrecision and HasScale, or something similar, will come soon as well.

We will look at this in triage, but I don't expect that we will implement this in the way you suggest.

[2018-02-26 21:52] ajcvickers commented on #11055
@TanvirArjel Pretty sure that this is the same issue as @smitpatel referenced above, which is fixed in 2.1. However, it's really hard to see how this exception could come from that line of code. Can you please post a runnable project/solution or complete code listing that demonstrates this behavior so we can investigate if something else is going on?

[2018-02-26 21:56] ajcvickers commented on #4290
Closing as duplicate of #10114 since that issue has more details.

[2018-02-26 21:56] ranouf commented on #1100
@figuerres Hi,
I use Scalar function (https://docs.microsoft.com/en-us/ef/core/what-is-new/#database-scalar-function-mapping).

[code]

From what I understood, by adding this static function in C# in the DbContext Class, you can call the SQL function "PostReadCount", the binding is automatic.

But each time i call the function by the code, it throw a exception. I guess, I did something wrong somew

[2018-02-26 21:58] ajcvickers commented on #4356
Use of parameterized constructors also provides more information that could be used to generate default mapping of properties.

[2018-02-26 22:00] ajcvickers commented on #4415
Note: allowing alternate keys to be nullable is potentially not difficult--from an EF perspective, if an entity has a null alternate key, then it's the same as that entity not existing for any dependents. Note, however that making alternate keys read-write is much more involved.

[2018-02-26 22:05] ajcvickers commented on #4423
Closing this as we do not plan to implement and maintain a ESENT provider for EF Core. However, we would be supportive of a community effort to create such a provider.

[2018-02-26 22:10] ajcvickers commented on #2953
Note: when this is implemented, consider whether the API created could be used with ad-hoc Includes as described in #4490, and/or whether the need for a an API like that described in #4490 is something that is still needed.

[2018-02-26 22:10] ajcvickers commented on #4490
Note for implementer: see note on #2953 since there is overlap between these two features.

[2018-02-26 22:14] ajcvickers commented on #4645
After discussing this as a team we are closing this issue since we don't think that EF Core is the correct place for a full offline/sync implementation. However, we still believe that EF Core could be used in such an implementation. For example, #5536 could be used as part of the implementation. Therefore, if the community is using EF to implement something like this, then we would consider taking

[2018-02-26 22:17] ajcvickers commented on #5123
Closing as this is not something that the EF team plans to implement. We would consider community PRs for this, but keep in mind that it may also be more appropriate to include such APIs in an add-on package rather than in the core EF code.

[2018-02-26 22:18] ajcvickers commented on #5221
After further discussion, we think that the changes already made to logging are sufficient here.

[2018-02-26 22:33] ajcvickers opened #11066 "EF Core OnModelCreating Console.WriteLine causes PMC to hang"
From VS Feedback:

As an example:

[code]

The project is net standard 2 .

[2018-02-26 22:35] pmiddleton commented on #1100
@ranouf  - The query you wrote with the scalar function must have caused client side evaluation on the part which contained the function call.  That can happen in some situations.

You can turn on logging and see if you are getting a client eval warning.  If so you would need to track down what is causing the eval and try to work around it.  A big one that causes client eval in 2.0 is group by.

I

[2018-02-26 22:41] divega commented on #10235
@ajcvickers here it is: https://go.microsoft.com/fwlink/?linkid=869049

[2018-02-26 22:52] ctrl-brk commented on #11062
I don't have the whole running project but here's basically what happend:

[code]
But the index in Entity didn't include Col2

[code]

And when I try to delete 2 or more records with the same value in Col1 I get the error above.

[2018-02-26 22:59] ConX-Ryan commented on #11027
Has this got something to do with the
[code]

workaround we have to apply when using migrations in a class library?

I am hitting the same issue

[2018-02-26 23:04] ajcvickers commented on #10235
Thanks!

[2018-02-26 23:43] emmielewis commented on #9290
@anpete - It's not very responsive.  That's the only issue I am seeing.  I can run a query for selecting all columns and it takes a second but in my code it takes a while to return.  Any ideas about this?

[2018-02-26 23:51] anpete commented on #9290
@emmielewis Hard to say. Is there a lot of data? It uses the same code paths as regular entity queries and so perf. should be the same.

[2018-02-27 00:55] anpete commented on #2341
@Ben-Pattinson SQL generation is something we have tried really hard to improve in EF Core. Do you have some examples of where you feel we can improve?

[2018-02-27 01:52] emmielewis commented on #9290
@anpete - I got it resolved.  This is working great.  Thank you!

[2018-02-27 02:16] weitzhandler commented on #11057
@ajcvickers
Thanks for your clarification!
I'm closing this issue then.

[2018-02-27 03:03] #10301 closed

[2018-02-27 04:05] irperez commented on #4038
Hello everyone,

I'd like to add an extensibility point to the entity file naming.

Currently it's set to:

https://github.com/aspnet/EntityFrameworkCore/blob/2377e8c2418b5dc9925af567b9d79c63235fbcbb/src/EFCore.Design/Scaffolding/Internal/CSharpModelGenerator.cs#L87

I would like to open this up by adding another public virtual interface.  Something along the lines of "**IEntityFileNameGenerator**

[2018-02-27 05:46] TanvirArjel commented on #11055
In Entity Framework 6.x, during many to to many navigation properties update, we can clear/delete the existing child list and then add the new child list to the parent and finally update the parent and parent is updated with the new child list.

But in Entity Framework Core, we cannot do the same.The error message suggest that we cannot have same child with the same key value more than once. We ha

[2018-02-27 07:43] 3axap-4 commented on #6835
Hello I have an issue when work with always encrypted columns (type is decimal (6,2)), when I try to add/update, for Db manipulation I use DbContext, entry in my Db I get follow error:

`Operand type clash: decimal(1,0) encrypted with (encryption_type = 'DETERMINISTIC', encryption_algorithm_name = 'AEAD_AES_256_CBC_HMAC_SHA_256', column_encryption_key_name = '****', column_encryption_key_database_

[2018-02-27 08:14] popcatalin81 commented on #11051
This is a change in EF Core 2.0 please see:

https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties

[2018-02-27 08:34] Ben-Pattinson commented on #2341
@anpete (sorry for the rambling reply)
 I probably should have been more specific,  I was referring to full framework's EF sql. I have spent literally days trying to get full EF to output sql that did what I meant. Trying to decipher the generated sql was often a nightmare. Getting the same operation was minutes in dapper. This is why I settled on a hybrid approach.  Use EF for CRUD and simple sel

[2018-02-27 10:31] roji commented on #9753
Just to report that I've value comparison for hstore seems to work perfectly... I'll be adding comparers to array and other relevant types for 2.1 as well.

Thanks!

[2018-02-27 11:52] ststeiger opened #11070 "Wrong column names prohibits sharing EF classes with dapper"
Even when i use  `--use-database-names` EF scaffold renames the database columns.
e.g. parent_id becomes ParentId
Obviously, this is only for tables, but there is no equivalent for columns.
This prohibits sharing of EF classes with dapper (and I don't want to write a mapping for every class).
More importantly, if I create different classes, I have to create different views and display templates fo

[2018-02-27 12:43] roji opened #11071 "Question: should the basic, built-in type mappings accept ValueComparers?"
While working on value comparison for PostgreSQL, I noticed that all the built-in type mappings ( (e.g. IntTypeMapping) expose a public constructor which accepts a ValueComparer. While it's clear why a ValueConverter needs to be passed in, it seems that the ValueComparer is an internal detail of the type mapping that should never be overridden (by a provider or by a user).

Am I mistaken, have I m

[2018-02-27 12:54] jzabroski commented on #2341
@anpete I am not @ben-pattinson but if you could describe what you do
differently in generating SQL, I am a rare combination of SQL Server expert
(going back to 6.5 days of Ron Soukup) and C# engineer who has built web
apps, desktop apps, as well as a proprietary ORM-like data layer.

Years ago, I explained to Diego that EF6 and lower was fundamentally flawed
in how it generated queries, and we (t

[2018-02-27 13:10] mburakerbay commented on #11060
@ajcvickers I just want to do that;
if both `MemberId` and `BookId` empty, this is general discount for all Book for all Member.
if `MemberId` empty but `BookId` is not, this is Book1 discount for all Member.
if `BookId` empty but `MemberId` is not, this is general discount for all Book for Member1.
if both `MemberId` and `BookId` is not empty, this is Book1 discount for for Member1.

[2018-02-27 13:15] luistejada4 commented on #11059
@ajcvickers Sorry for taking a long time to answer, but what I want to do is the following:

CreateDate: It has to generate a value at the time of creation "GetDate ()"
UpdateDate: It has to generate a value at the time of creation and when it is modified.

If I'm not wrong HasDefaultValue will only work when I do not pass any value to the column, but DateTime is a structure that will never be nul

[2018-02-27 13:18] jzabroski commented on #2341
Smit Patel , your hardline stance indicates a severe code smell. You are
stating a policy, whereas I'm talking about the basic mechanism. If you're
hardwiring sequences of collaborations between your Domain Object Hydration
Engine/Object Materializer and your Expression Transformation (Query
Transpiler) Engine, then you are likely going to regret it and never even
realize somebody told you you wer

[2018-02-27 13:29] roji opened #11072 "ValueComparers, mappings and genericity"
@ajcvickers, while implementing array comparison I've stumbled onto an issue. Although a generic version of ValueComparer exists, it is merely a utility that wraps the generic functions it's given with non-generic ones. This is an issue with arrays: the array comparer needs to invoke its element mapping's comparer on each element in the array, but this operation currently boxes, creating lots of g

[2018-02-27 14:28] JohnGalt1717 commented on #8443
Data Migration is vital for Cosmos. Here's why:

Because it's a json store and schema-less (sort of) you tend to denormalize your data.  I.e. you'll duplicate a lot of data to eliminate the need for joins across tables.

What happens often is that you'll discover that you'll need a new field on existing data and need to add that field to every record. So migrations should allow for the addition of

[2018-02-27 14:43] roji commented on #11072
Thinking about this some more, I'm wondering about what happens when values are compared even without a value comparer. If `Equals(object)` is used, that's a boxing operation right there...

[2018-02-27 14:59] roji opened #11073 "Comparer needed for ByteArrayTypeMapping"
Just pointing out that ByteArrayTypeMapping doesn't currently have a comparer, and so won't detect changes properly. Based on the discussion #11071, it may be a good idea to implement a comparer internally in ByteArrayTypeMapping (and not necessarily accept an external one).

[2018-02-27 15:00] bryanjhogan commented on #11051
Thanks @popcatalin81. But the code works fine with `short`, `long`, not just `Guid` and `int` as the document suggests.

The date of that document is `10/27/2016`, but here is the one [announcing EF Core 1.1](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-entity-framework-core-1-1/)  dated `November 16, 2016`.

There is a [document on breaking changes](https://docs.microsoft.com/en-

[2018-02-27 15:21] bradmarder opened #11074 "No suitable constructor found for entity type 'string'"
[code]

Testing out `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.1.0-preview1-final" />` and EFCore just throws this. I'm completely lost in how to approach this.

### Further technical details
EF Core version: Microsoft.AspNetCore.App  2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:  win10 x64
IDE: Visual Studio 2017 Preview 2

[2018-02-27 15:24] roji commented on #9753
@ajcvickers if you're interesting in seeing a complex/interesting comparer implementation, take a look at [the array comparer](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/commit/f320396a59c107a29c5114db5479841174065897), it will also illustrate some of the issues detailed in #11072.

[2018-02-27 15:46] jeffrey-igaw opened #11075 "Occured ArgumentException about language paramter when scaffolding database"
When i scaffolding my Efcore 2.1 project using net cli, occured Argument Exception.

Is this about .net cli version? i cannot found any parameter about `language`

Exception message:
![image](https://user-images.githubusercontent.com/30995427/36738243-6c8c4d2a-1c20-11e8-85e5-5cb6664bd03f.png)

Stack trace:
[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we

[2018-02-27 16:20] #9087 closed

[2018-02-27 16:44] tonygeorgiew opened #11076 "Could not load file or assembly 'eShop, Culture=neutral, PublicKeyToken=null'"
I made 2 separate projects today and both of them have this issue.
~1st Project
solution name: eShop with assemblies/classlibraries eShop.Data/eShop.Data.Models/eShop.Web/eShop.Common/eShop.Infrastructure

AppDbContext/DesigntimeDb.../etc is in eShop.Data
My web startup has
[code]
I have selected eShop.Data in my PMC console and the following goes :
[code]

eShop.Data.csproj
https://github.com/ton

[2018-02-27 16:52] ajcvickers commented on #11074
@bradmarder Can you provide more details on how you are using this package? For example, which feed are you using? Which .NET Core installer did you run? What are you using to build?

[2018-02-27 16:58] bradmarder commented on #11074
1) Feeds used inside nuget.config
- https://www.myget.org/F/aspnet-contrib/api/v3/index.json
- https://api.nuget.org/v3/index.json
- https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
2) Using Microsoft .NET Core SDK Preview 2.1.300.8261 from  https://github.com/dotnet/cli
3) dotnet run -c release

As for other details, theres a lot. Everything worked with aspnetcore.all 2.05 package, and I

[2018-02-27 16:58] roji opened #11077 "Array insertion broken after adding value comparer"
@ajcvickers, after [my commit adding value comparers to arrays](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/commit/dfdc3364911116012c8a19b93151637e544a81d7), inserting an entity with an array breaks with the following exception (I confirmed that right before this commit everything worked well):

[code]

[2018-02-27 17:01] roji commented on #11077
Note that doing the same with hstore (a PostgreSQL `Dictionary<string,string>` type) works just fine, this seems to be array-specific.

[2018-02-27 17:02] ajcvickers commented on #11073
@roji In my experience, typically byte arrays are used for binary data. This means two things:
* The byte arrays can be quite big
* It is unusual to mutate them, as opposed to swap out the byte array for a new one

Based on this we decided a long time ago that byte array properties should use reference comparison. This avoids doing an expensive deep compare in DetectChanges when it is unlikely to

[2018-02-27 17:09] roji commented on #11073
@ajcvickers ok, I can see that makes sense... I tend to think that the same isn't true for arrays, i.e. that value comparison makes sense more than reference equality, what do you think?

[2018-02-27 17:13] ajcvickers commented on #11072
@roji With regard to the boxing and perf in general, this is a known issue and is being tracked by #9422. In the PR I specifically did not address this (doesn't fit for 2.1) but created the expression based comparers to setup for a much faster, non-boxing implementation. I admit, the composing of comparers together--i.e. one comparer that uses comparers for its elements--is not something I thought

[2018-02-27 17:19] ajcvickers commented on #11072
Oh, also, an IntTypeMapping is not necessarily used to map an int, because it may have a value converter on it. It's actually more often used to map _to_ an int. (I actually don't like at all the we have lots of subclasses for type mappings, but it was kind of rushed in in 2.0 as part of the literal generation and now we have it. Learning experience.) Anyway, it's unfortunate that the ValueCompare

[2018-02-27 17:30] ajcvickers commented on #11073
@roji It depends how the arrays are used, of which I don't have much experience. I expect you have seen a lot more examples than I have, so I would trust your judgement on this.

[2018-02-27 17:33] ajcvickers commented on #11071
@roji See my comments on #11072.

[2018-02-27 17:35] #221 closed

[2018-02-27 17:35] #9291 closed

[2018-02-27 17:35] #9761 closed

[2018-02-27 17:35] #10170 closed

[2018-02-27 17:35] #10435 closed

[2018-02-27 17:40] ajcvickers commented on #11059
@luistejada4 There currently isn't a way to do this without setting up some kind of trigger on the database. There was some discussion and suggested workarounds in #10769.

[2018-02-27 17:42] ajcvickers commented on #11060
@mburakerbay Then you will need to give MemberBookDiscount another property to act as the primary key.

[2018-02-27 17:42] roji commented on #11072
OK, I can see I'm a bit confused about all this..

Regarding the composing of comparers and avoiding boxing... Looking over [my current implementation](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/commit/dfdc3364911116012c8a19b93151637e544a81d7), it's not clear how the array's comparer could call the element's comparer with going passing through object. Have I misunderstood the

[2018-02-27 17:44] roji commented on #11073
It's hard to know... It's true that byte[], as binary data, seems to generally behave as you said. But arrays can have arbitrary element types... I can see many cases where people will have an array of string tags on their blog - it makes sense to do value comparison there I think.

Anyway, thanks for your answers.

[2018-02-27 17:52] ajcvickers commented on #11051
@bryanjhogan The thing that is confusing me about this issue is that it worked at all in 1.1. It is my understanding that we blocked store-generated byte keys entirely prior to 2.0--for example, see #7161. In 2.0, we stopped blocking it and instead turned it into a warning. It's possible that there are some inconsistencies in the way the in-memory provider was working.

All that being said, the cu

[2018-02-27 17:56] ajcvickers commented on #6835
@3axap-4 This looks like a different (although related) case than was tracked by this issue--can you please post a new issue including a runnable project/solution or complete code listing that demonstrates what you are seeing?

[2018-02-27 18:02] ajcvickers commented on #11072
@roji I need to think some more about the composition case. In my mind I was imagining that the comparer for collection types (for example) would just call a function, possibly generic, that would do the comparision. I didn't think about building comparers for elements into the tree. I guess I was assuming that the elements in the collection were all simple types, but I can see that that might not

[2018-02-27 18:04] ajcvickers commented on #11073
Agreed. It does feel like the structural comparison is much more likely to be the right thing for arrays of non-byte types.

[2018-02-27 18:05] roji commented on #11072
@ajcvickers sure. I still don't understand how it's supposed to work even for simple types, as long as the collection itself is generic... In other words, I have a single NpgsqlArrayTypeMapping which is instantiated for all element types. At some point it's going to have to call the element's ValueComparer's API, but the only one exposed accepts objects...

[2018-02-27 18:34] mguinness commented on #9714
Please add IdentityUser POCO [navigation properties](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#add-identityuser-poco-navigation-properties).

[2018-02-27 18:43] bryanjhogan commented on #11051
Thanks @ajcvickers. This is obviously a breaking change for me, but luckily the code base is small and easy to update.

Is [https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties
](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties
) correct, and the plan is  -

I ask because `long` and `short` work fine.

[2018-02-27 18:53] maumar commented on #10805
fixed in 9c7715d86c4fb7c343bceeae58cb2887a8d79fcd

[2018-02-27 18:53] #10805 closed

[2018-02-27 19:01] AdamDotNet opened #11078 "EF Core 2.1 Preview 1 throws MissingMethodException when using Pomelo.EntityFrameworkCore.MySql"
After reading that [EF Core 2.1 Preview 1 became available](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-entity-framework-core-2-1-preview-1/) on Nuget, I wanted to if GroupBy SQL translation would just work using a 2.0 provider. My test didn't get far, however, and something as simple as `ToListAsync` throws an exception. Provider details are at the bottom.

The article stated:

[2018-02-27 19:05] ajcvickers commented on #11072
@roji I was assuming that all the elements were "simple types" that didn't need a ValueColmaper.

[2018-02-27 19:11] ajcvickers commented on #11051
@bryanjhogan I submitted a PR to update the docs. https://github.com/aspnet/EntityFramework.Docs/pull/637

[2018-02-27 19:34] ajcvickers commented on #11078
@AdamDotNet Thanks for reporting this. It is happening because the MySQL provider is making use of EF Core internal code--I filed this issue  for that: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/497

From the EF side, we will discuss in triage whether or not to revert this change to the internal code, but the long term solution is for the provider to stop using int

[2018-02-27 19:39] AdamDotNet commented on #11078
@ajcvickers Thanks for pointing this out and writing up the issue with the PomeloFoundation!

[2018-02-27 20:34] #10235 closed

[2018-02-27 22:27] anpete commented on #11004
Turns out that this is due to trying to track the entities in the groups. We currently only track entities in groups if they are actually consumed, i.e. the group is enumerated.

So, the easy thing to do in this specific case is to make the query non-tracking.

@divega, @ajcvickers Thoughts on whether we should change anything here. We should consider:

- Skipping the tracking code path if the con

[2018-02-27 22:52] Flexman opened #11083 "EF Core 2.1 Preview 1 SeedData method throws The seed entity for entity type 'XXX' cannot be added because the was no value provided for the required property 'Discriminator'."
SeedData has an issue with Entities that rely on Discriminators. Updated ef core tutorial highlights the issue.

[code]

### Steps to reproduce
Using the following sample:
https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final

Comment out everything in Data\DbInitializer\Initialize

Add the following code at the end of Data\SchoolContext\OnModelCreating
[code]

R

[2018-02-27 23:12] dgxhubbard opened #11084 "Will Scaffold-DbContext -UseDatabaseNames use singular class names and leave column names"
We have existing code from EF 6 using a database first approach. The database design has been around for awhile. We want to keep name changes minimized so that code that uses the entities does not have to change.

In .net core 2.0.5 Scaffold-DbContext -UseDatabaseNames is not working as noted, but it is supposed to be restored in .net core 2.1.:
https://github.com/aspnet/EntityFrameworkCore/issues

[2018-02-27 23:17] cgountanis commented on #10298
Still getting this error via Core 2.1.4 SDK within ClassLibrary. When will we be able to add EF to these using NUGET vs. manually as well (<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />)...

The specified framework version '2.0' could not be parsed
The specified framework 'Microsoft.NETCore.App', version '2.0' was not found.
  - Check application de

[2018-02-27 23:21] cgountanis opened #11085 "Issues with EF Migration"
Still getting this error via Core 2.1.4 SDK within ClassLibrary. When will we be able to add EF to these using NUGET vs. manually as well?

`
<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />
`

dotnet ef migrations add InitialCreate
The specified framework version '2.0' could not be parsed
The specified framework 'Microsoft.NETCore.App', version '2.0'

[2018-02-27 23:29] roji commented on #11072
Oh I see. It's definitely true in most cases (int, string etc.) so the more complex case can be deferred if this is too much to fix. The main reason for raising this now is the risk that it may be harder to fix the ValueComparer API later once it's released.

[2018-02-27 23:34] sam-wheat commented on #11004
About a month ago I wrote [this comment](https://github.com/aspnet/EntityFrameworkCore/issues/5536).  I suppose the comment seems a little on the fringe but perhaps issues like this one will help make it clear why I wrote it.

I think many users use EF in a stateless manor - we get some entities and dispose the context.  When we are ready to write changes we create a new context, save, and dispose

[2018-02-28 00:05] anpete commented on #11004
@sam-wheat Have you seen this? https://docs.microsoft.com/en-us/ef/core/api/microsoft.entityframeworkcore.querytrackingbehavior

[2018-02-28 00:12] ajcvickers commented on #11004
@anpete Has the query already been executed before the context is disposed? Otherwise using a disposed context to execute a query would be bad--that is, even if we have a command/data reader/whatever, if the connection has been disposed (which it usually will be when the context is disposed) then it would not be safe to run a query on it.

[2018-02-28 00:28] AndriySvyryd commented on #11058
@LadislavMalecek To use an owned type property you need to configure the relationship from the owned type:
[code]
But `Profile.EventsAttended` cannot be used for this relationship as it's between `Profile` and `EventAttendant.AttendantParameter#AttendantParameter`. Non-ownership navigations cannot point to an owned type.

[2018-02-28 00:40] sam-wheat commented on #11004
@anpete  Thanks, yes I am aware of that option.  My point in the previous post is that because the option to use tracking exists the EF developer team must account for it in the design of the framework and the API.  Since it is of little value to me I don't mind sacrificing the functionality it provides in order to make EF cleaner and simpler.

[2018-02-28 00:42] alexzaytsev-newsroomly commented on #10298
@cgountanis i still use the `global.json` workaround. but yeah, it is mighty annoying.

[2018-02-28 00:42] maumar commented on #11053
fixed in 44ecf7a6cc75b8eb529b04ebdcf78c6d3a4d533e

[2018-02-28 00:42] #11053 closed

[2018-02-28 00:43] smitpatel commented on #11084
UseDatabaseNames switch tells EF to use database names instead of PascalCasing them. This was done for tables in 2.0 release. (without PMC switch). In 2.1-preview1-final we added switch on `Scaffold-DbContext` command. Also we missed out retaining names for column names which was fixed in https://github.com/aspnet/EntityFrameworkCore/issues/9820 in 2.1.0-preview1 release.

Converting `Forks` to `F

[2018-02-28 02:37] SPEMoorthy opened #11089 "Request for EF.Functions.Like with numeric column support."
SQL Server's like operator is accepting comparison against Integer column, whereas EF.Functions.Like method is not accepting comparison with integer column.
[code]

### Further technical details
EF Core version: 2.0.1
Database Provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)

[2018-02-28 02:38] hejiajun107 commented on #10619
Chinese folder name such as "users/用户/" may cause this error

[2018-02-28 02:59] rocketRobin opened #11090 "mysql generate sql not recognized by mysql"
Code like this

    var data = await list.AsNoTracking().OrderBy(x => x.Id).Skip((model.PageIndex - 1) * model.PageSize)
            .Take(model.PageSize)
            .Select(r => new RoleSummary
            {
                Id = r.Id,
                Name = r.Name,
                LastUpdateTime = r.LastUpdateTime,
                UsersCount = r.UserRoles.Count
            }).ToListAsync();

and

[2018-02-28 03:25] divega commented on #4319
@pmiddleton curious if you are still looking at TVFs and other things you were planning to look into. If there is anything we can help with let us know.

[2018-02-28 04:42] pmiddleton commented on #4319
@divega - yes I have been working on those items.

I have the following things currently working.

* Bootstrapable Scalar Functions
* Bootstrapable TVFs
* Nestable DbFunction calls on both types of bootstrapped methods (pass a function as a parameter to the bootstrapped function)
* Full query support for TVFs via Cross Join
* TVF integration with Query Types.  You can either directly materialize t

[2018-02-28 06:21] ErikEJ commented on #11084
Yes, the column names will be left alone

[2018-02-28 08:00] smitpatel commented on #11074
@bradmarder - Can you share your model details? Do you have entityType named `string` or is it primitive type `string` getting expanded as an EntityType.

[2018-02-28 08:31] smitpatel commented on #11070
Duplicate of #9820
We fixed in 2.1.0-preview1. The column names should retain there names too.

[2018-02-28 08:46] smitpatel commented on #11075
@jeffrey-igaw - It should automatically get the language from project file. For some reason it looks like it is not happening. As a work-around you can use --language to pass in language with `C#` as value.

Can you copy paste initial lines from your screen shot? Especially the line start with `dotnet msbuild /target:GetEFProjectMetadata`

[2018-02-28 12:10] Valks opened #11091 "Reached recursion limit when creating initial migration"
Trying to create an initial migration of my Code First database ```PM> Add-Migration InitialCreate``` and get the following error:

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide code to

[2018-02-28 12:25] jemiller0 commented on #11078
Thanks for reporting this. I ran into this too and was getting ready to file an issue. I wasn't sure if providers would need to be updated to work with the new 2.1 update. Theoretically, minor revision number changes don't have breaking changes, but, I figured an update would probably be needed. The Npgsql provider seemed to have a different issue, but, luckily there is a preview release of that p

[2018-02-28 12:27] jemiller0 commented on #11078
I wonder if Oracle's MySQL provider works? I switched to Pomelo awhile back because Oracle was taking a long time getting their provider to work. Maybe it is better now.

[2018-02-28 12:36] roji commented on #11078
@jemiller0 great to hear Npgsql is working ok for you on 2.1.0-preview1! Although it might be interesting what problem the 2.0 version of the provider had with the 2.1 version of the core.

[2018-02-28 13:04] manchoz commented on #6560
@abbradar @ajcvickers F# is not able to automatically pick the overload method with following signature (please, note the `IEnumerable<TPreviousProperty>` for the type returned from previous `.Include()` call):

[code]

which would *convert* from `List<TEntity>` to  `TEntity` for chained `ThenInclude`.

I suppose that this happens because F# won't automatically upcast `List<T>` to `IEnumerable<T>`

[2018-02-28 13:32] SvenEV commented on #3910
@anpete Should this be supported already in the current preview (2.1 preview 1)?

[2018-02-28 13:49] JeanCollas commented on #6863
@ajcvickers How would you explain this?
I have some DbContext registered. To avoid any scope issue, I tried to use DbContextOptions in a filter, but  get an error:

Filter:
[code]

DbContext registration
[code]
I get this error:

[code]

From what you wrote above, it should not be scoped but singleton?

[2018-02-28 13:55] Alexxtheonly commented on #11074
Got the same issue.

**Model:**
[code]

**ComplexType:**
[code]
**DbContext:**
[code]

Worked with 2.0

[2018-02-28 14:07] bradmarder commented on #11074
Narrowed it down a lot. I removed all db entities. Only left with registering identity stuff.

[code]

`public class FooUser : IdentityUser<Guid>, IFooUser { }`
`.AddDbContextPool<FooContext>`

[2018-02-28 14:19] stevejgordon opened #11092 "System.InvalidOperationException in query after 2.1 upgrade"
Since upgrading an application to ASP.NET Core and EF Core 2.1 I'm seeing a new exception from an existing EF query.

You can find the problem query at https://github.com/stevejgordon/allReady/blob/fa75bb76b9da3da2e71a4cc256799f07725e7bf8/AllReadyApp/Web-App/AllReady/Areas/Admin/Features/Itineraries/ItineraryDetailQueryHandler.cs#L28

Granted this is quite a complex an mucky approach to building u

[2018-02-28 14:35] cltschoke opened #11093 "EF is truncating JSON columns to 65k on insert statements"
Getting this error on inserting data into mysql table containing json column:

MySql.Data.MySqlClient.MySqlException (0x80004005): Invalid JSON text: "Missing a closing quotation mark in string." at position 65534 in value for column 'PropertyEvents.ContentObject'.

Based on the following log message, it appears that the INSERT statement generated by EF is limiting the parameter size to 65K, but c

[2018-02-28 14:47] ErikEJ commented on #11093
MySQL bug?

[2018-02-28 15:09] slubowsky opened #11094 "2.1 preview 1 - Unable to set up cascade delete when using TPH"
Using TPH have 2 entity types. Want to set up relationship with parent table as cascade delete. Get error when apply migration. Works as expected using 2.0 resulting in one foreign key with cascade delete.
Commenting out one or the other of the cascade deletes "solves" the issue - but we also end up with an extra foreign key relationship set up to parent type. One with the cascade delete and one w

[2018-02-28 15:26] jemiller0 commented on #11078
@roji Thanks for the great work that you've been doing with the Npgsql providers. I know that I can always count on you to be right on top of things. You always seem to be in lockstep with the EF team at Microsoft. I was using the 2.0.1 provider and ran into the following exception. For some reason the Y in `"p2"."actv_ind" = Y`, wasn't quoted. When I upgraded to the 2.1.0 preview that you have, i

[2018-02-28 15:55] AdamDotNet commented on #11078
@jemiller0

Oracle's 2.0 provider does this, using the same code in the OP:
[code]
_Stack trace omitted for brevity_

That thoroughly sounds like Oracle's problem, not EF, so I don't know if the EF team wants a new issue opened for Oracle's provider or not, given their statement regarding 2.0 providers should work on 2.1 EF. @ajcvickers will you provide guidance?

[2018-02-28 16:22] roji commented on #11078
@jemiller0 ok thanks - yeah, that's a known issue.

(and thanks for the kind words!)

[2018-02-28 16:30] ajcvickers commented on #11078
@AdamDotNet Yes, please file an issue with Oracle. Providers really need to avoid using internal code because they need to keep working after EF Core updates.

[2018-02-28 16:32] #9178 closed

[2018-02-28 17:07] AdamDotNet commented on #11078
Oracle bug report: https://bugs.mysql.com/bug.php?id=89855

[2018-02-28 17:08] brendanalexdr opened #11095 "Updated to 2.1 preview1: The best match for foreign key properties {'SomeId' : string} are incompatible with the principal key {'TempId' : int}.`"
Just upgraded from Asp.net Core 2.0 to 2.1 preview1.  Same for EF Core.  Now I am getting the following error:
`Microsoft.EntityFrameworkCore.Model[10602]  The best match for foreign key properties {'SomeId' : string} are incompatible with the principal key {'TempId' : int}.`

Any ideas?

[2018-02-28 17:12] jemiller0 commented on #11078
@ajcvickers I haven't looked at the code, but, could you make it so that the internal packages are use the C# internal or private keywords to prevent people from using them? I'm assuming there is probably a reason you haven't already done this. If not, maybe you can make them inaccessible to prevent providers from doing this in the future.

[2018-02-28 17:26] ajcvickers commented on #11078
@jemiller0 I wrote a blog post on it a while ago: https://blog.oneunicorn.com/2016/11/09/internal-code-in-ef-core-1-1/

In general I think that having internal code available to use is working well for application-level development. The problem is provider writers need to be more diligent and understand the consequences. I'm hoping that we can work through this and we are not forced to take away a

[2018-02-28 17:26] joacar opened #11096 "[Question] How to set connection string environment variable on Linux in service file"
This is probably not the right place, but closest that I can think of :)

I have a `.service` file to run my application.
[code]

Running the above causes argument exception. Keyword "'server" not recognized. Enclosing the value in double quotes causes exception that the format is invalid at line 49. (Just after the 3 in ,1433).

`Server=tcp:***.database.windows.net,1433;Initial Catalog=***;Persis

[2018-02-28 17:38] ajcvickers commented on #11090
@rocketRobin Please file an issue with the MySql provider: https://bugs.mysql.com/

[2018-02-28 17:42] alaatm opened #11097 "Migrations generates invalid code for data seeding"
I was trying to try out the new data seeding feature from Preview 1. However, it seems like EF is generating invalid C# code sometimes, depending on entity.

Please refer to [this repository](https://github.com/alaatm/EF21MigrationsIssue) where I have already generated migrations but the code is invalid with the message: **No best type found for implicitly-typed array** in both designer and snapsh

[2018-02-28 17:45] ajcvickers commented on #6863
@JeanCollas Yes, the default was changed. See PR here: https://github.com/aspnet/EntityFrameworkCore/pull/9009

[2018-02-28 17:47] #9191 closed

[2018-02-28 17:51] ajcvickers commented on #11093
@cltschoke This looks like an issue with the MySQL provider--can you please file and issue with them? https://bugs.mysql.com/

[2018-02-28 17:51] ErikEJ commented on #11078
@ajcvickers Please dont!! - but provide clear provider guidance/advise

[2018-02-28 17:53] ajcvickers commented on #11095
@nukuuk Assuming these are just log messages and are not actually breaking anything, then this looks like a duplicate of #10918. Can you confirm?

[2018-02-28 18:07] nukuuk commented on #11095
@ajcvickers yes I think you are correct.  I am getting an EF Core related error/problem but seems the source of the problem is not related to these log messages.

[2018-02-28 18:15] Hazzamanic commented on #2725
+1

[2018-02-28 18:20] ajcvickers commented on #11097
Note for triage:
[code]

[2018-02-28 18:22] ajcvickers commented on #11078
@ErikEJ We do need to be better about communicating changes to provider writers. I chatted with Shay about this when he was here--it would be good to hear your thoughts. Are you at the summit next week?

[2018-02-28 18:29] smitpatel commented on #11083
@Flexman - Thanks for reporting this bug. It indeed should generate value for discriminator when concrete type is passed instead of asking user to provide one.

[code]

[2018-02-28 18:35] smitpatel commented on #11032
`HasComputedColumnSql` is relational provider specific functionality. Hence not available during in-memory provider.

[2018-02-28 18:45] ErikEJ commented on #11078
Yes, I am 😎

[2018-02-28 18:52] smitpatel commented on #11033
Repro
[code]
Issue is Union + DTO projection.

As a work-around you can do union after calling `ProjectTo` on both sources. Like this
[code]

[2018-02-28 18:54] anpete commented on #2341
@Ben-Pattinson Thanks for the feedback and glad to hear that you have come up with a solution that works for you.

A couple of responses to the points you make: LINQ GroupBy is very different from SQL GROUP BY and so we need client eval here for many cases anyway. It was a shame we weren't able to get to GroupBy with aggregates translation until 2.1, but it is almost here. One reason for this prio

[2018-02-28 18:54] brendanalexdr opened #11098 "2.1 preview1 - System.InvalidOperationException No suitable constructor found for entity type 'string'"
This error appeared after upgrading to EF Core 2.1 preview1.  Had been working ok before. The full exception:
`$exception	{System.InvalidOperationException: No suitable constructor found for entity type 'string'. The following parameters could not be bound to properties of the entity: 'value', 'startIndex', 'length', 'enc', 'value', 'startIndex', 'length', 'value', 'startIndex', 'length', 'value',

[2018-02-28 19:34] philcarbone commented on #11033
@smitpatel Thank you for the work-around. We will see if we can use this as our query is manipulated via an OData feed and most of it's creation is generated. We will keep an eye on this bug fix and try to use the work-around in the meantime. Thanks again!

[2018-02-28 20:32] smitpatel opened #11099 "Cosmos Db: Data migration"
See https://github.com/aspnet/EntityFrameworkCore/issues/8443#issuecomment-368895576

[2018-02-28 20:33] smitpatel commented on #8443
@JohnGalt1717 @rosieks Filed #11099 to track data migration related work for Cosmos Db.

[2018-02-28 20:34] AndriySvyryd commented on #11094
This is caused by https://github.com/aspnet/EntityFrameworkCore/issues/10329 - now we uniquify foreign key names generated by convention

@slubowsky As a workaround you can call `.HasName` with the same value on both relationships:
[code]

[2018-02-28 20:39] #9681 closed

[2018-02-28 20:54] slubowsky commented on #11094
@AndriySvyryd Thanks, that worked. You meant `HasConstraintName` though, not `HasName`

[2018-02-28 20:57] AndriySvyryd commented on #11094
Keeping this open to discuss whether this is a breaking change we want to revert.

[2018-02-28 20:58] #9180 closed

[2018-02-28 20:58] #11019 closed

[2018-02-28 21:02] ajcvickers commented on #11040
This feature is more likely to result in a nice API once #11034 is implemented.

[2018-02-28 21:03] ajcvickers commented on #11034
See also #11040

[2018-02-28 21:04] ajcvickers commented on #11042
@jvelezc We looked at this and discussed it, but it's not clear exactly what is going on. Can you please post a runnable project/solution that reproduces the issue?

[2018-02-28 21:08] ajcvickers commented on #11045
@FrederickBrier This should work assuming that this is a "self hosted" deployment--that is, all of the EF assemblies and any other required for 2.1 to work are also deployed with the application rather than using the ones already installed on the server. However, probably an easier path is to install the entire 2.1-preview1 runtime for .NET Core and use that in the deployment.

[2018-02-28 21:10] ajcvickers commented on #11046
@Kukkimonsuta This is not a bad idea, but given that it would be a breaking change and that HasColumnName can always be used to get whatever column name you prefer, we're not going to change the current behavior.

[2018-02-28 21:14] johnnycamby opened #11101 "The value can not be NULL. Parameter name: entityType"
I am working on a project where i am doing reverse engineering of my database to auto generate entities and DbContexts using **EF Core Power Tools version 1.0.525** in visual studio 2017 Version 15.5, Microsoft.EntityFrameworkCore 2.0.1, Microsoft.EntityFrameworkCore.SqlServer  .
The reverse engineering is successful, pretty clean auto generated code thumbs to **ErikEJ**. But when am using Linq to

[2018-02-28 21:16] nukuuk commented on #11092
I seem to be getting the same or similar problem:  https://github.com/aspnet/EntityFrameworkCore/issues/11098

[2018-02-28 21:17] ajcvickers commented on #10298
@cgountanis Unfortunately, the patch containing this fix has not yet been released. Release dates for patches is not something the EF team can influence very much, and there have been various reasons for delaying the patch release that are outside our control. I realize that this is frustrating and I apologize for that. We are, across .NET Core, working on making this process better, so hopefully

[2018-02-28 21:22] ajcvickers commented on #11096
@joacar Is this about using a "service file" with ASP.NET Core configuration? If so, https://github.com/aspnet/Configuration is probably a better place to file this, although I am not sure that "service files" are supported at all. (@HaoK?)

Closing the issue here since it is not an EF issue.

[2018-02-28 21:33] ajcvickers commented on #11032
@Nikitos1991 As @smitpatel says, the in-memory provider is not a relational provider and knows nothing of SQL. This is one reason why we suggest using SQLite in in-memory mode for testing where relational functionality is needed.

That being said, issue #10862 on the backlog is partially about supplying expressions for these things that are then translated into SQL. Doing this would allow the expr

[2018-02-28 21:44] ajcvickers commented on #9031
Assigned to @smitpatel to add some mitigations to the database creation tests, which is where this commonly shows up. This code doesn't change much, so one option is to not run them on the normal C.I. runs. Another is to add try-catch as appropriate to stop the tests from failing when this issue pops up.

[2018-02-28 21:57] cgountanis commented on #11085
Sounds good, will that fix the error when adding the tools via NUGET as well. Right now we have to add that line manually to do migrations etc...

`<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />`

[2018-02-28 21:57] cgountanis commented on #10298
Sounds good, will that fix the error when adding the tools via NUGET as well. Right now we have to add that line manually to do migrations etc...

`<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />`

[2018-02-28 22:02] ajcvickers commented on #10298
@cgountanis No, that's a separate NuGet issue, tracked here: https://github.com/NuGet/Home/issues/4190

[2018-02-28 22:50] maumar opened #11102 "Query: Write a tool to detect memory leaks"
We could try to detect memory leaks in query by injecting a code to AssertQuery. We could run a query once as a warmup, then take a snapshot of memory and then run the same query few more times, take another snapshot (or even take snapshot for every run) and compare, to see what's growing.

Tests that use AssertQuery cover a variety of complicated scenarios so there is a good chance to find someth

[2018-02-28 23:01] dgxhubbard commented on #11084
Here is a good example of using IPlualizer.

[Pluralizer](https://stackoverflow.com/questions/39281647/entityframework-core-database-first-approach-pluralizing-table-names/47410837#47410837)

I love the work the person put into the answer but I would prefer the simplicity of having it built into the tool.

[2018-02-28 23:06] MisinformedDNA commented on #11099
You should edit your initial post and either copy/paste some relevant data or summarize. People shouldn't need to jump back and forth to understand the issue.

[2018-02-28 23:28] smitpatel commented on #9031
While searching for error online, I found some suggestions which said, it could happen if tcp connection has higher priority than np (named pipes). And putting np first could resolve the issue. I checked efci agent to see configuration (where this error does not happen) and found that it does not have tcp enabled. I looked at the history of the build config on aspnetci to see agents where it faile

[2018-02-28 23:33] maumar commented on #11092
@stevejgordon simplified case with FirstOrDefault is most likely due to #10813 - it's fixed currently but the fix didn't make it to preview1.

[2018-02-28 23:36] maumar commented on #10813
Workaround:

[code]

Use Take(2) in case of Single/SingleOrDefault.

[2018-02-28 23:43] SvenEV opened #11104 "Tracking query on base type when derived type has shadow properties throws"
In certain models that use inheritance (table-per-hierarchy) with a custom discriminator, enumerating the `DbSet<T>` for the abstract base class throws `NullReferenceException`.

[code]

### Steps to reproduce
[code]

### Workarounds & starting points for investigation
The exception does not occur when doing any of the following:
* Using `HasDiscriminator` with a shadow property instead of a real

[2018-02-28 23:50] JeanCollas commented on #6863
Ok. Changing the default behavior is strange... It means it breaks apps when upgrading the libs. Why not just allow the option to do that without breaking everything?

[2018-03-01 00:02] AndriySvyryd commented on #11091
This throws a different exception in preview-2.
The error is caused by a collection navigation for an owned type which is currently not supported:
[code]

[2018-03-01 00:17] smitpatel opened #11105 "Release plan for EFCore.Proxies"
https://github.com/aspnet/Universe/blob/15f5e82de0f88227fcef266f17fc6454fd99c9f4/build/artifacts.props#L211-L213

Currently marked as ship. Should it be shipoob?

[2018-03-01 00:20] ajcvickers commented on #6863
@JeanCollas Because on balance the new default was better, the risk of breaking was quite low, and 2.0 was a new major release that intentionally had many breaking changes over 1.1 to improve architecture and experience in several areas.

[2018-03-01 00:39] smitpatel commented on #10970
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-01 00:44] #11083 closed

[2018-03-01 00:44] #11097 closed

[2018-03-01 00:52] smitpatel commented on #10520
The offending test is going away with #11038
Regardless, we should have ability to specify type for SqlFragment in case the fragment refers to particular server syntax returning specific type.

[2018-03-01 01:00] smitpatel commented on #11105
@natemcmaster - Can you tell us what each flag means for category like noship/ship/shipoob?

[2018-03-01 01:00] AndriySvyryd commented on #10617
Fixed in 18fb0ff310c0f9af6163c233ab187646863a3c6e

[2018-03-01 01:00] #10617 closed

[2018-03-01 01:04] #10568 closed

[2018-03-01 01:06] natemcmaster commented on #11105
ship = NuGet.org
shipoob = Ships by some other delivery mechanism (out of band). E.g. in Visual Studio, inside the .NET Core SDK, etc.
noship = don't ship it. This is typically used for experimental features only and .Sources packages.

[2018-03-01 01:09] ajcvickers commented on #11105
@natemcmaster So a package with "ship" will not be included in the SDK or any other installer, correct?

[2018-03-01 01:11] natemcmaster commented on #11105
Shipping in the SDK is an orthogonal flag (the LZMA setting here: https://github.com/aspnet/Universe/blob/15f5e82de0f88227fcef266f17fc6454fd99c9f4/build/artifacts.props#L5-L20). That setting is off by default, so just marking it as "ship" does not mean it will end up in the SDK installer.

[2018-03-01 01:13] Valks commented on #11091
@AndriySvyryd Thanks for taking a look, seems I got a little overzealous with the [Owned] attribute.

[2018-03-01 01:20] #10803 closed

[2018-03-01 01:21] #10633 closed

[2018-03-01 01:44] smitpatel commented on #11074
@bradmarder - I am not able to get it to work with modifications you provided. I took MVC web app template and modified ApplicationDbContext as your code and I m hitting error.
[code]
It would be useful if you can provide us a sample solution demonstrating the issue or find minimum repro without use of Identity.

[2018-03-01 01:47] AndriySvyryd opened #11108 "Keep underlying Builder up-to-date for all public Fluent API classes"
This makes it slightly less dangerous to use an old builder object and reduces allocations.

[2018-03-01 01:49] smitpatel commented on #11074
@Alexxtheonly - The model you shared is working fine in 2.1.0-preview1-final
Following works fine for me. (Commented out Json serialization since I am not referencing that package in my project)
[code]

[2018-03-01 02:01] maumar commented on #10440
fixed in 04ade14d5a1ba584c737e387cf19cf437225daed

[2018-03-01 02:01] #10440 closed

[2018-03-01 02:03] www2sssyyy commented on #2266
we really need this feature.  **0.0**

[2018-03-01 02:06] #11038 closed

[2018-03-01 03:07] jaredcnance opened #11112 "FK with Different DataType than PK Ask Question"
I'm working on an old database that is being used by lots of services and the original creators defined the PK of one table as `smallint` and a FK to that table as an `int`. Is it at all possible for me to handle this case? I recognize that this is a consequence of poor design, but I cannot feasibly alter the database. Other applications depend on the current datatypes and would break if I altered

[2018-03-01 03:40] LoopsLu commented on #6426
I had this issue too!!

Try the method below. I use it to fix my problem.

Please add these code in your Context.cs
`protected override void OnModelCreating(ModelBuilder modelBuilder)
{
   base.OnModelCreating(modelBuilder);

   modelBuilder.Entity<User>()
   .HasAlternateKey(x => x.NumericId ).HasName("IX_NumericId");
}

[2018-03-01 07:46] Alexxtheonly commented on #11074
I created a sample project. https://github.com/Alexxtheonly/NoSuitableConstructor-11074
The error seems to be related to using a dictionary as complex type. At least in my case.

[2018-03-01 10:41] edwiles opened #11113 "EnumToStringConverter fails to initialize when updating database"
I'm trying to use enums in my EF Core model, using EnumToStringConverter so that they are stored as strings in the database rather than ints. I get the following when running "dotnet ef database update". Looking like the migrations code generator needs to generate an enum property rather than an int?

(While I'm here, is there a way to use converter with nullable enums too? e.g. public TestEnum? M

[2018-03-01 11:03] michael-freidgeim-webjet commented on #6812
Just a possible workaround for @John0King example

You can Select top 10 from the first table, and Select top 10 from the second table, and then
union them in memory and show first 10.

It's  a side note, we also suffer from inability of EF Core to implement server side Union.

[2018-03-01 11:18] John0King commented on #6812
@michael-freidgeim-webjet  I already use this for some case, but the really problem is paging .

[2018-03-01 11:27] stevejgordon commented on #11092
@maumar Thanks. That looks likely. In fact, if I change the original more complex query to use ToListAsync() instead of SingleOrDefaultAsync() it works without error too.

A shame as that's a bit of show stopper from me really testing this application on preview 1 bits then!

[2018-03-01 12:07] edwiles opened #11114 "Using SeedData with enums generates non-compiling code"
When using EntityTypeBuilder.SeedData with an entity that has an enum property, updating the database reports the error "Build failed". This is because EF Core migrations generates code that fails to resolve the enum.

### Steps to reproduce
1. Create any enumeration:
[code]

2. Use in an entity:
[code]

3. In OnModelCreating, seed the table as follows:
[code]

4. Drop and recreate the database vi

[2018-03-01 12:10] dmitriyett opened #11115 "EF migration MigrationBuilder.InsertData enables IDENTITY_INSERT when it is not needed."
I'm trying to insert some data to DB via migration. I've discovered that it is possible via `MigrationBuilder.InsertData()` method.

My environment:
EF Core version: 2.0.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows Server 2016 Datacenter
IDE: Visual Studio 2017 Version 15.5.7

I've tried following
1. Opened Package manager console
2. Executed Add-Migration

[2018-03-01 12:58] edwiles commented on #11115
+1 for this, we're finding the current behaviour useful on our project but I can imagine situations where it would be better to leave identity insert enabled.

[2018-03-01 13:18] onzacoding commented on #10182
@ajcvickers I will try, but I found what was going on.
At the scaffold, there was a unique index for some columns, but that was not present in the databse (the project is database first, someone must deleted the index). Removing the index from the scaffold solved the problem.

[2018-03-01 14:44] joakimriedel opened #11116 "Foreign key nvarchar(450) is generated as nvarchar(max) in down script"
A string foreign key which was previously nvarchar(450) will be generated as nvarchar(max) in down script.

### Steps to reproduce
Let's assume you have the following foreign key in some entity:

[code]

When you script the *Up* migration for this entity, it will generate a column with the following definition:

[code]

Now remove this key from the entity, and generate a new migration. The *Up* mi

[2018-03-01 16:49] cocowalla commented on #6214
@bricelam I've tried your code, but when the database is identical to the model it still always generates operations for every `bool` property (`bit` SQL data type) like:

[code]

Am I perhaps missing something where you say `more fix up as needed`?

[2018-03-01 17:08] anpete commented on #11101
@johnnycamby Please post the stack trace, thanks.

[2018-03-01 17:19] ajcvickers commented on #11092
@stevejgordon Can you try with our nightly feed? It's listed on the repo home here: https://github.com/aspnet/EntityFrameworkCore

[2018-03-01 17:28] ajcvickers commented on #11113
@edwiles The migrations issue looks like a duplicate of #10748, which is already fixed in the current dev branch. Could you try with our nightly build feed, as listed here: https://github.com/aspnet/EntityFrameworkCore

Also, unless you are doing something special there is no need to use EnumToStringConverter explicitly. Instead you should just need:
[code]
See the docs here which cover that case

[2018-03-01 17:58] ajcvickers opened #11117 "Value converters on key properties are propagated to FK properties"
This is the same as we do for other facets to make sure that the FK column type is aligned with the PK column type. However, in cases where the type is explicitly different--see #11112--there then doesn't seem to be a way to reverse this.

[2018-03-01 17:58] ajcvickers commented on #11112
@jaredcnance At least with SQL Server, you should be able to just lie in your model and make the property an int:
[code]
I tried this and it worked for me. Beyond that, you should be able to use value converters in 2.1, although there may be some issues in the preview build--I filed #11117 to track this.

[2018-03-01 18:02] bricelam commented on #9984
As far as I could tell, your accidental startup project was targeting .NET Core 1.x. If it wasn't, you'd see a better error (something like, "EFCore.Design isn't referenced")

[2018-03-01 18:57] #10724 closed

[2018-03-01 21:01] bricelam commented on #11016
Clicked refresh.

[2018-03-01 21:11] bricelam commented on #831
@bludev Tracked on our side by #4038

[2018-03-01 21:14] smitpatel commented on #11074
Thanks for repro code @Alexxtheonly
Simplified repro:
[code]
We started discovering properties in `Dictionary` and expanded Dictionary.Values as collection navigation which is ICollection<string> in this case.

[2018-03-01 21:14] smitpatel commented on #11074
Assigning to @AndriySvyryd

[2018-03-01 21:20] bricelam commented on #11076
Could you add the output with `--verbose`?

[2018-03-01 21:26] #10780 closed

[2018-03-01 21:57] smitpatel commented on #10301
The fix for this is available in nightly build 2.1.0-preview2-30200. If people can give it a try and bring anymore missing cases to our attention, it would help us in improving it further.

[2018-03-01 22:02] smitpatel commented on #10407
@hikalkan - I am not able to extract out a repro code for this. Using interfaces and CombineExpressions in that way with a group join query works fine for me in 2.0.1 release and 2.1.0-preview1 packages. To process this any further we'll need a repro code which shows above behaviour.

[2018-03-01 22:09] maumar commented on #11092
@stevejgordon you can also try the workaround for #10813, i.e. use

[code]

[2018-03-01 22:12] #11062 closed

[2018-03-01 22:25] bricelam commented on #10504
Re-opening. The Hosting code has been updated to not use invalid methods, but we'll have to update the message on our side.

[2018-03-01 22:31] bricelam commented on #11075
Did you update your `<DotNetCliToolReference>` to 2.1.0-preview1-final?

[2018-03-01 22:37] bricelam commented on #11036
We can make this work by using TEXT literals for `decimal` values, but we would lose the ability to perform comparisons and arithmetic operations in SQL.

[2018-03-01 22:50] bricelam commented on #6214
These will likely be fixed while working on #831. Until then, you'll need to add some more fixup to make the models match more closely.

[2018-03-01 22:51] b06sd opened #11119 "Method not found: 'Void MySql.Data.MySqlClient.MySqlConnectionStringBuilder.set_BufferResultSets(Boolean)'."
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/home/oladotun/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
System.MissingMethodException: Method not found: 'Void MySql.Data.MySqlClient.MySqlConnectionStringBuilder.set_BufferResultSets(Boolean)'.
   at Microsoft.EntityFrameworkCore.MySqlDbContex

[2018-03-01 22:57] bricelam opened #11120 "Benchmarks: Create SQLite AdventureWorks2014"
Until then, some of the perf benchmarks won't be able to run on SQLite.

[2018-03-01 22:58] cocowalla commented on #6214
@bricelam problem is I can't see any more 'fixup' to add - I've had a good look while debugging, but can't see anything to set beyond your original snippet. Any ideas?

[2018-03-01 22:59] smitpatel commented on #11120
Not all of them! Most of them uses custom fixture with seeded data and they can already run.

[2018-03-01 23:15] bricelam commented on #11036
Digging into this, I think we should switch to TEXT literals. I can't foresee any regressions. 🤞

[2018-03-01 23:48] ajcvickers commented on #11119
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a runnable project/solution that we can run.

EF C

[2018-03-01 23:55] ajcvickers opened #11122 "With a name using GB18030 encoded, create .NET Framework-1.x project, Add Migration will meet an error: Path has illegal characters."
From VS:

REPRO MACHINE: WNVM30593

REPRO ACCOUNT: redmond\fwtlaba
REPRO Configuration: Win10 x64 CHS +  Dev15 (Release channel : pre-release-build) VSE CHS (Web  workload, ASP.NET Core 1.0-1.1 dev tools checked)

INSTALL STEPS
1. Clean machine: Win10 x64 CHS OS
2.Install Dev15.5RTW VSE
 from: \\cpvsbuild\drops\VS\d15rel\products\27128.00\channels\internal\Release\bootstrappers\fixed
3. Select Web

[2018-03-01 23:56] bricelam commented on #9904
@oneandy That was issue #8163

[2018-03-01 23:58] ajcvickers opened #11123 "[GB18030]With a name using GB18030 encoded, create .NET Core-1.x project, Add Migration will meet an error: Unrecognized escape sequence."
REPRO MACHINE: WNVM30593

REPRO ACCOUNT: redmond\fwtlaba
REPRO Configuration: Win10 x64 CHS +  Dev15 (Release channel : pre-release-build) VSE CHS (Web  workload, ASP.NET Core 1.0-1.1 dev tools checked)

INSTALL STEPS
1. Clean machine: Win10 x64 CHS OS
2.Install Dev15.5RTW VSE
 from: \\cpvsbuild\drops\VS\d15rel\products\27128.00\channels\internal\Release\bootstrappers\fixed
3. Select Web workload

[2018-03-01 23:59] b06sd commented on #11119
I understand, this is what i got after installing the MySqlConnector package from initial issue "Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalParameterBuilder..ctor(Microsoft.EntityFrameworkCore.Storage.IRelationalTypeMapper)'. #2914"  then i ran dotnet ef database update to run my migration against MySql DB, that gave rise to the above error. Are there dependen

[2018-03-02 00:09] #10656 closed

[2018-03-02 00:20] ajcvickers commented on #11119
@b06sd If you are trying to use MySQL with EF Core 2.1 preview1, then due to #11078 it will likely not work at the moment. For anything else, in order for us to help, we need to know more about exactly what you are doing. Specifically, the versions of everything that you are using, and a clear way for us to reproduce what you are seeing--usually a runnable project/solution or complete code listing

[2018-03-02 00:31] ajcvickers opened #11124 "Move detection of ColumnAttribute in RelationalTypeMappingInfo to conventions"

[2018-03-02 02:41] fulviocanducci opened #11127 "Enum property stored as string, filter queries do not work"
Entity `Credit `included an enum property `Status`, stored as a string, at the time the filter returns an "exception" as follows:

[code]

### Steps to reproduce

Code:
### Enum
[code]
### Class
[code]
### Mapping Class

[code]
### Filter

At the time of saving and changing everything OK, but in a filter returns the exception, example:

[code]

### Problem

    .Where(w => w.Status == State.Active

[2018-03-02 03:55] Leon99 opened #11128 "VSTS build gets broken with 2.1.0-preview1-final"
The moment I switch to 2.1.0-preview1-final, my VSTS build gets broken with
     1>C:\Program Files\dotnet\sdk\2.1.4\NuGet.targets(103,5): error : Unable to load the service index for source https://xxx.pkgs.visualstudio.com/_packaging/xxx/nuget/v3/index.json. [d:\vsts-agent\_work\5\s\xxx\xxx.csproj]
C:\Program Files\dotnet\sdk\2.1.4\NuGet.targets(103,5): error :   Response status code does not in

[2018-03-02 06:12] smitpatel commented on #11127
We discovered this issue recently. See https://github.com/aspnet/EntityFrameworkCore/issues/3620#issuecomment-366469273
It is fixed in current dev/nightly builds.

[2018-03-02 07:39] rollandjb opened #11130 "Owned type not automatically loaded via navigation property"
Given

[code]

then accessing users via the `Users` navigation property of `Group` does not load owned property `Preferences` on each user:

[code]

Is this expected behaviour in EF Core 2.0.1?

[2018-03-02 09:30] johnnycamby commented on #11101
This is the my stack trace and sorry for any German parts if any  but i hope you can still figure it out

at Microsoft.EntityFrameworkCore.Utilities.Check.NotNull[T](T value, String parameterName)
   at Microsoft.EntityFrameworkCore.RelationalMetadataExtensions.Relational(IEntityType entityType)
   at Microsoft.EntityFrameworkCore.Query.ExpressionVisitors.RelationalEntityQueryableExpressionVisitor

[2018-03-02 10:57] ErikEJ commented on #10656
sql-ce fyi?

[2018-03-02 12:07] iudelsmann commented on #10988
This is not included in 2.1.0-preview1 but seems important to me. I was happy to have the fix for #3910 but including my derived properties is causing INNER JOIN thus not solving my problem (I'm currently explicitly loading those properties). Is it planned to add this to 2.1?

[2018-03-02 12:32] heightpi commented on #10988
@iudelsmann as I said in a comment before, changing from int to int? solved my problem, and generates a left join, without the need to explicitly load the properties

[2018-03-02 12:47] iudelsmann commented on #10988
@heightpi It does work indeed, but it would also allow someone to save a null value where I wouldn't want one. I can't have the restriction in the database since the parent class doesn't have the property, so I must have the restriction in my code. When someone tries to save value zero the database will throw an error since it violates the foreign key constraint.

I could do this or another workar

[2018-03-02 12:51] edwiles opened #11131 "BoolToStringConverter does not use non-default values when seeding"
Using BoolToStringConverter on a property always results in the strings "0" and "1" being stored in the database, even if non-default values such as "N" and "Y" are specified in its constructor. I am using migrations.

### Steps to reproduce
1. Create an entity with a boolean property:
[code]

2. Add a property configuration (and apply this during OnModelCreating as usual):
[code]

3. Seed the ent

[2018-03-02 13:25] jeffrey-igaw commented on #11075
Uhmm, you're right, i dont change that.

I will check out next working day! Thanks to your comments

[2018-03-02 15:58] smitpatel commented on #10988
@iudelsmann - This is fixed in 2.1.0 milestone so it will be included in RTM release of 2.1.0. It should be included in next release (preview/rc/RTM). The milestone will change accordingly to indicate the exact release number.

[2018-03-02 16:58] RainingNight commented on #11075
I'd upgrade Microsoft.EntityFrameworkCore.Tools.DotNet to 2.1.0-preview1-final, that's worked!

[2018-03-02 17:09] LadislavMalecek commented on #11058
@AndriySvyryd @ajcvickers  Thank you for your response, but my idea is that the owned type is a part of the owners table. Thus I could define the relationship I want directly from the database, or when not using the owned type.
The relationship you have described goes in the other way. I want to get EventsAttended when I have entities of type profile. And the code you have written just describes r

[2018-03-02 17:11] bricelam commented on #11075
🎉 Hooray! We should probably still fix the issue. There's no real reason it shouldn't work. We should consider warning too if your tool version doesn't match the runtime.

[2018-03-02 17:16] ajcvickers opened #11132 "Consider using different namespaces for provider internal code"
And making this guidance for provider writers so that it is much easier to tell if a provider is accidentally using EF internal code. See https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/497#issuecomment-369929292

/cc @roji @ErikEJ @caleblloyd

[2018-03-02 17:37] ajcvickers commented on #11131
Note for triage: this is an issue when value conversions are used with data seeding. The seed values need to be converted either before putting in the migration, or when being read from the migration and written to the database. The former may be better because it avoids attempting to create literals for user types.

[2018-03-02 17:39] ajcvickers commented on #10988
@iudelsmann Could you test with out nightly build? The feeds are listed on the repo home: https://github.com/aspnet/EntityFrameworkCore

[2018-03-02 17:42] bricelam commented on #11122
Possible duplicate of #10532. Could consider porting to 1.1.x

[2018-03-02 17:43] ajcvickers commented on #11130
@rollandjb This looks like a duplicate of issue #9210. Could you test with the [2.1 preview release](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-entity-framework-core-2-1-preview-1/), or with our [nightly builds](https://github.com/aspnet/EntityFrameworkCore)?

[2018-03-02 17:44] bricelam commented on #11123
Possible duplicate of #10532. Could consider porting to 1.1.x

[2018-03-02 17:51] bricelam commented on #11084
Oh, that reminds me. I need to publish [my package](https://github.com/bricelam/EFCore.Pluralizer). After I do, you can just...
[code]
...and you'll get pluralization.

[2018-03-02 17:53] ajcvickers commented on #11127
@fulviocanducci Could you test with a nightly build? See https://github.com/aspnet/EntityFrameworkCore for the feed.

[2018-03-02 17:53] #11127 closed

[2018-03-02 17:56] kmh0237 commented on #10881
+1 to this.  This has caused a lot of issues for us - accounting for a null value that we never plan to use is extremely annoying.

[2018-03-02 18:30] ajcvickers commented on #11049
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-02 18:45] smitpatel opened #11133 "Query: GroupBy(SubQuery) throws exception"
In Northwind,
[code]
Exception
[code]

Fails for SqlServer/InMemory.
Works in linq.

QM
[code]

[2018-03-02 18:55] fulviocanducci commented on #11127
@ajcvickers Hi,

In version 2.1.0-preview2-30220 there was the translation in `SQL` correctly, example of generated SQL:
[code]
---
[code]

Now, Very Nice

[2018-03-02 19:35] johnsrude opened #11134 "Add-Migrations missing -IgnoreChanges"
I have extracted an existing MySql database from a remote server following following [Getting Started with EF Core on ASP.NET Core with an Existing Database](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db)

I am using EF Core 2.0 and EF Core Tools using VS 2017 on Windows.

I am now trying to add a table to this database following [Migrations](https://docs.microsoft.co

[2018-03-02 20:02] johnsrude commented on #11134
Okay, I have a workaround by commenting out the relevant code in the Up and Down methods in the migration.   But -IgnoreChanges would be nice for capturing existing state from an already existing database.

[2018-03-02 20:27] ErikEJ commented on #11132
Excellent proposal, I use the same convention

[2018-03-02 20:41] ajcvickers commented on #10968
Thanks guys for your replies. We discussed this again today and came to the following conclusions:
* It's not a PackageReference verses packages.config issue; it's a .NET Core 1.1 issue that is a carry over from the PCL days
* 1.1 is certainly more and more emphasized, so at some point removing it as a target may be the right thing for our external dependencies to do, but we're not requesting or s

[2018-03-02 20:42] ajcvickers commented on #11006
Closing as nothing to do on the EF side. If any of Diego's ideas are to be productized, that would happen as part of TVP support.

[2018-03-02 20:44] ajcvickers commented on #11035
Duplicate of #9249

[2018-03-02 20:45] ajcvickers commented on #11094
Notes from triage: We will attempt to unify into one database constraint for the case where the navigation/fk are defined on the parent type.

[2018-03-02 20:48] ajcvickers commented on #11101
@johnnycamby This may have already been fixed. Could you try with our nightly builds--the feeds are listed here: https://github.com/aspnet/EntityFrameworkCore

If it still fails, then we will need more info in order to reproduce what you are seeing. I know you can't post your full project, but it would be ideal if you are able to create a simplified repro project containing just enough to make it

[2018-03-02 20:49] ajcvickers commented on #11112
Triage: closing this as it should be possible to do with ValueConverters, but #11117 (which we plan to fix for 2.1) is blocking it right now.

[2018-03-02 20:51] ajcvickers commented on #11114
This looks like the same root cause as #11131, but in the case of database enums (e.g. Postgres) we need to be able to include the namespace for the enum in the snapshot. so assigning to @bricelam for that.

[2018-03-02 20:56] smitpatel opened #11135 "Property expression exception for fluent api should be more explicit"
`entity.HasKey(l => new {l.LanguageId, l.StoreProfile.EntityId});`

throws
[code]
From Slack
"maybe the exception should be more explicit and say that exactly "expression inside anonymous type needs to single level member access""

[2018-03-02 20:57] ajcvickers commented on #11115
Notes from triage:
* Store generated key values cannot be used when using seed data in OnModelCreating (which is the normal way of specifying seed data in EF Core 2.1). This is because EF needs to be able to find each entity in order to be able to later update it, which requires that the entities have stable, well-known keys.
* When writing inserts directly into the migration, as is shown above, t

[2018-03-02 20:58] ajcvickers commented on #11122
This does not meet the bar for patching, so closing.

[2018-03-02 20:58] ajcvickers commented on #11123
This does not meet the bar for patching, so closing.

[2018-03-02 21:01] maumar commented on #10983
fixed in 923ba7b2cee12fdc57960e0f7608d95166c2bebb - contribution from @Marusyk

[2018-03-02 21:01] #10983 closed

[2018-03-02 21:04] ajcvickers commented on #11128
@Leon99 Is there a reason you posted this on the Entity Framework Core repo? It doesn't seem to be related to EF. Hard to know where to direct you with just the information above, but maybe NuGet? https://github.com/NuGet/Home/issues

[2018-03-02 21:29] smitpatel commented on #11104
As a work-around you can declare `public int MoreStuffId` on `Derived1` class to avoid having shadow property altogether.

[2018-03-02 21:52] bricelam commented on #11011
Duplicate of aspnet/Microsoft.Data.Sqlite#404. In version 2.1.x, use `SqliteException.SqliteExtendedErrorCode`.

In version 2.0.x, you can drop down to SQLitePCL.raw:
[code]

[2018-03-02 22:03] ajcvickers commented on #11066
Minimal repro:
[code]

[2018-03-02 22:19] bricelam commented on #11002
It looks like your database contains TEXT values. You have a few options:

1. Update your database to BLOB values
2. Use a `string` property in your class
3. Use [value conversions](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions) to map a `Guid` property to a TEXT column in the database.

[2018-03-02 22:39] bricelam commented on #10927
Does this doc page help? [Custom EF Core Migrations Operations](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/operations)

[2018-03-02 22:46] cwrea commented on #10963
@divega On your point #2 above, the `[PreserveAttribute]` is matched by name and no dependency need be taken on Xamarin libraries.See [Xamarin - iOS - Advanced Topics - Linking on iOS](https://developer.xamarin.com/guides/ios/advanced_topics/linker/). Quoting:

[code]

[2018-03-02 23:14] bricelam commented on #11116
Similar to #10186

[2018-03-02 23:17] #11104 closed

[2018-03-02 23:21] cwrea commented on #10963
@divega After some brainstorming, here's an idea related to your point #1 and your follow-up comment:

It might not strictly be necessary to run tests on Xamarin.iOS (although that would be ideal) to discover what needs preserving. The types and methods that Xamarin.iOS would need preserved in EF Core are probably the same ones that would need to be preserved for any target using a linker like tha

[2018-03-02 23:23] zeus82 opened #11138 "Feature Request - dotnet ef migrations add without specifying name"
This is a feature request.

It would be nice if it was optional to specify a name when creating a migration.  When I'm developing, I like making small incremental changes to the db schema.  When I do this, more often that not, I can't come up with a meaningful name, so my require it?!

[2018-03-02 23:34] bricelam commented on #11138
Are you looking for something lighter weight than Migrations, like #3053?

[2018-03-02 23:42] zeus82 commented on #11138
yeah - looks like that covers it!

[2018-03-03 00:28] divega commented on #10963
@cwrea thanks for the additional information. This makes standardizing on a single mechanism to specify what reflection metadata needs to be preserved even more compelling.

Still hoping to get an answer from @spuliot on the second and third questions.

[2018-03-03 02:26] SPEMoorthy commented on #11089
@ajcvickers Thanks a lot

[2018-03-03 02:50] Leon99 commented on #11128
Strange resolution. There must be something different with the package in this release, since 2.0.1 worked just fine. Hardly NuGet or vsts teams would know what exactly you did different this time. I'm not saying that it's necessarily your problem, but close it straight away is definitely wrong.

[2018-03-03 05:18] AndriySvyryd opened #11141 "Validate FK on PK in derived type during model validation, not building"
As there might be an FK defined on the PK in base defined later.

Also don't throw if base type abstract and all derived have FKs

[2018-03-03 05:19] sebastienros opened #11142 "Document how to build the EF fort"
Couldn't find any documentation on how to rebuild it when it's broken. I found some filled cans, was not sure where to put them. Also some clear schema with the don't matrix for the E and the F would be useful.

Are there some tests I can run to ensure its done correctly?

![Sebastien without docs](https://user-images.githubusercontent.com/1430078/36998198-f89c1f9e-2070-11e8-9b70-f67144bbdfd2.jpg)

[2018-03-03 09:35] divega commented on #11142
@sebastienros I thought you had already tested it, and it didn’t go well. Next time just some light smoke testing please :smile:

[2018-03-03 11:06] roji commented on #11132
Agree, I do use the same namespaces as EF Core and it's easy to see how a reference to an internal namespace could slip into there.

[2018-03-03 14:33] aligenc commented on #6791
Your sql conn string is true. Check out if the appsettings.production.json is exist. So update the connection string in this file.

[2018-03-03 16:52] DamianEdwards commented on #11142
Any docs need to take optimal performance into consideration too #perfculture

[2018-03-03 20:32] msangtarash commented on #9249
@ajcvickers Could you please change Snapshot.MaxGenericTypes from const to static? Or may we know the idea behind this? Why you don't use static readonly for example?

[2018-03-03 21:07] ajcvickers opened #11143 "Review RawSqlString in next breaking release"
Related to #10080

[2018-03-03 21:15] ajcvickers opened #11144 "Consider moving attributes to new Attributes package"
- [ ] DesignTimeProviderServicesAttribute
- [ ] DesignTimeServicesReferenceAttribute
- [ ] DbContextAttribute
- [ ] NotParameterizedAttribute
- [X] OwnedAttribute
- [ ] MigrationAttribute
- [X] DbFunctionAttribute

[2018-03-03 21:18] Risanshita commented on #10758
I fixed it ..... it was my fault . thnx

[2018-03-04 06:23] johnnyreilly commented on #9841
I'd just like to second what @yzorg said; I think it would be tremendous if deploying EF Core migrations was a "first class citizen" in VSTS.

I've found myself looking at various solutions:
- https://blog.bennymichielsen.be/2017/08/01/migrating-databases-with-ef-core-during-a-vsts-release/
- as well as the Ben Day one

This all feels harder than it ought to and I wonder if the team would consider

[2018-03-04 08:15] roji opened #11147 "Quote SQL identifiers only when necessary?"
In an effort to make EF Core-generated SQL as minimal and as readable as possible, I was considering quoting identifiers only when necessary. In other words, I'd override the appropriate methods in my ISqlGenerationHelper to check the content of the identifier and quote accordingly.

I was wondering if this has already been discussed... Of course the value of doing this isn't enormous, but if ther

[2018-03-04 08:18] divega commented on #11143
Duplicate of #10996?

[2018-03-04 12:23] ErikEJ commented on #9841
Maybe someone in the Community could publish a BESTS extension?

[2018-03-04 12:25] ErikEJ commented on #11147
Not sure I agree on readability if only some identifiers are quoted

[2018-03-04 13:10] roji commented on #11147
@ErikEJ really? You prefer all identifiers to be quoted, always, just because some of them may contain a space or some other character? Personally, when I look at SQL generated from EF Core I find myself wishing all the quote noise would be cleaned out of there...

[2018-03-04 13:28] ErikEJ commented on #11147
I do, yes! :-)

[2018-03-04 13:41] ErikEJ commented on #11056
@smitpatel  Actually, ICandidateNamingService is not specific enough (it accepts a string, not a DatabaseTable or DatabaseColumn object)

[2018-03-04 17:22] dpedrelli opened #11149 "Self referencing table auto includes parent and child properties"
Describe what is not working as expected.
I have a self referencing table, with a one-to-many relationship, define in Fluent API.  It includes a virtual property for the parent, and a virtual ObservableCollection<> for the children.  There are other one-to-many relationships, with virtual properties, that point to other tables.  When I use EntityFramework to query the table, it automatically inclu

[2018-03-04 18:32] smitpatel commented on #11147
+1. I already do that in Cosmos Db provider. And the readability difference is rather large there.

[2018-03-04 18:47] ErikEJ commented on #11056
Thanks, maybe we can briefly discuss later this week?

[2018-03-04 18:50] ErikEJ commented on #11147
Good luck with that  - rule number 3 (of five):

The identifier must not be a Transact-SQL reserved word. SQL Server reserves both the uppercase and lowercase versions of reserved words. When identifiers are used in Transact-SQL statements, the identifiers that do not comply with these rules must be delimited by double quotation marks or brackets. The words that are reserved depend on the database

[2018-03-04 19:02] austindrenski commented on #11147
+1. This would be very useful.

To address _reserved word_ concerns, how about making it opt-in via `DbContext.OnConfiguring(...)`?

[code]

[2018-03-04 19:04] ErikEJ commented on #11147
"Never" will break!

[2018-03-04 19:07] roji commented on #11147
@ErikEJ you're right that keywords as an issue. FWIW, the ADO.NET schema API has [a collection which is supposed to provide the list of all reserved words](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/common-schema-collections#reservedwords). To what extent this is a reliable list on any given provider is another question... At least for PostgreSQL there's [an official, hopefully

[2018-03-04 19:08] roji commented on #11147
It's definitely not just a change you can slap on without looking at stuff like keywords, but it should be possible to do correctly...

[2018-03-04 19:12] ErikEJ commented on #11147
And doing it must not impact EF performance

[2018-03-04 19:23] roji commented on #11147
Unless I'm mistaken these queries are cached, i.e. the delimiting process doesn't happen on every execution (but someone from the EF team should be able to confirm).

Aside from that, delimiting involves quite a bit of allocations for all the concatenations, which this would reduce.

[2018-03-04 19:34] smitpatel commented on #11147
True. First level cache is based on ExpressionTree in linq. The same entry is used when parameter values are changed. Second level cache is at SQL tree level. Same entry is used as long as nullability of parameters does not change. Else we may need to generate a different SQL.

For Performance thing, we have #10513 to actually move most stuff out of SQL gen to first level cache so second level cac

[2018-03-04 20:37] AndriySvyryd commented on #10911
@fbrier That looks like a new regression. Could you file a separate issue with a small repro?

[2018-03-04 20:37] MCFHTAGENTS opened #11150 "Discriminator not exposed to Linq except by way of call to GetType"
I have a set of classes where they are derived from a base class and used in EntityFramework Core. I use a discriminator to derive the correct class and that works fine. However I have run into the following issues:

- I cannot access the member in linq queries e.g. to filter on the class type so have to write logic that uses a call to GetType() and this in turn means Linq falls back to client sid

[2018-03-04 22:35] simeyla commented on #2341
@anpete It's really great to finally see this working :-)

But oddly enough I still receive the error message telling me it cannot translate to GROUP BY, even though the generated SQL right underneath most certainly uses GROUP BY! I assume this must be a known issue?

[code]

This is from this source C#

            var groupedOrders = _context.Order
                        .Where(x => x.Completed

[2018-03-04 22:57] Eilon commented on #11142
Here are some suggestions on other patterns-based designs that could be used:

The original, ~6.5' (2 meters) Tower of Coke:

![image](https://user-images.githubusercontent.com/202643/36951786-489c8dc2-1fbc-11e8-9316-2c30c5a8c51a.png)

The revised, ~9' (2.7 meters) Tower of Coke:

![image](https://user-images.githubusercontent.com/202643/36951787-4dfc90d2-1fbc-11e8-9032-459f246700fd.png)

[2018-03-05 00:18] sjb-sjb commented on #11011
Thanks!

[2018-03-05 00:52] bricelam commented on #11142
Cherry Coke hasn't tasted the same since they changed from this epic can design...

[2018-03-05 03:01] naster01 opened #11151 "0,N Relationship works as 0,1"
When multiple records from table B are linked to table A. Delete instructions are generated.

### Steps to reproduce

**Create the db context**

[code]

**Create a test program**

A "Category" has many translations.

[code]

**Resulted Sql**

[code]

**Database generated**

[code]

### Further technical details
EF Core version: 2.1.0-preview2-30187
Database Provider: Microsoft.EntityFrameworkCore.

[2018-03-05 04:19] fbrier opened #11152 "Owned type - property could not be mapped - string is not a supported primitive type"
Owned types was working in 2.1.0-preview2-28189 as per a [previous issue](https://github.com/aspnet/EntityFrameworkCore/issues/10911). mrswain tracked it down to a commit in 2.1.0-preview2-28212. AndriySvyryd asked me to create a small repro, which is below. The exception below is the one that I originally saw, but then was fixed and has now reappeared in 2.1.0-preview2-30230.
[code]

### Steps to

[2018-03-05 04:21] benrhere commented on #9467
@ajcvickers Is it your expectation that the above suggestion (not needing an explicit factory) would still apply in a scenario where you have your DBContext class in a separate assembly from your ASP.NET Core web project? I can't seem to get this to work in this scenario without explicitly specifying a design time factory, and when I do, I'm having some differences in terms of config resolution. S

[2018-03-05 06:10] Eilon commented on #11142
@bricelam so true... so true...

[2018-03-05 06:10] roji commented on #11142
!!!

[2018-03-05 06:11] Eilon commented on #11142
@roji I believe I told you I'd try to find the pictures... those are the pictures 😄

[2018-03-05 06:15] roji commented on #11142
And I thought we were doing so well...

[2018-03-05 08:22] onlyanup opened #11153 "EFCore throws NullReferenceException when include is called."
When I call the ToListAsync() method after including a collection, it throws the NullReferenceException. The error doesn't occur when there is no include.

Stack trace:
NullReferenceException: Object reference not set to an instance of an object.
lambda_method(Closure , AnonymousObject )
System.Linq.Internal.Lookup+<CreateForJoinAsync>d__16.MoveNext()
System.Runtime.ExceptionServices.ExceptionDisp

[2018-03-05 08:48] johnnycamby commented on #11101
alright i have now posted a test console project that reproduces the same error, you may find here: https://github.com/devcodeprobs/EfCoreTesting

[2018-03-05 12:36] mburakerbay commented on #11060
@ajcvickers I added `Id` property for key but still `MemberId` and `BookId` are configured as the primary key for `MemberBookDiscount` and the new property `Id` is configured as the unique column

[code]

[code]

[2018-03-05 12:52] Reshiru commented on #9249
@mikaelkolkinn Thanks, I tried to do it like you described but somehow I can't AOT the implemented EFCore Projects. I tried (mainly) this methods and some abstractions:

1. Change and compile the project in the given solution (EFCore.Runtime), Results: Could not AOT the assembly 'Path/....dll'
2. Import needed projects (same as you had) in my main project, added the NuGet packages and tried to rec

[2018-03-05 13:53] spouliot commented on #10963
@divega

Trial and error won't _totally_ work. E.g.

* That would assume 100% coverage; and even then

* You can reflect `Foo` sucessfully because the application (or another library or even in your own library) has a reference on `Foo`. That might not be true for another application and the code will fail;

Running your tests on iOS would require a Mac/Xcode but it's not terribly hard to set up (

[2018-03-05 16:23] cwrea commented on #10963
@spouliot Re: *"Running your tests on iOS would require a Mac/Xcode but it's not terribly hard to set up (simulator)."* Confession: I didn't know that builds targeting the simulator will actually use linking when so instructed. I'd just assumed the directive was ignored, but now I'm understanding "Don't Link" is merely a default. Anyway, great to know for diagnosing linking issues specifically ...