[2016-05-10 16:33] ajcvickers commented on #5319
@shaulbehr Attach tells EF that the entity has not changed from how it exists in the database--i.e. no property values have been modified. Therefore when SaveChanges is called there are no modified values to write to the database and no update is sent. I would suggest going through some of the "getting started" documentation here: https://docs.efproject.net/en/latest/getting-started.html

[2016-05-10 17:12] #1137 closed

[2016-05-10 18:16] rowanmiller commented on #4637
@mikary can you check if this is fixed

[2016-05-10 18:32] natemcmaster opened #5320 "Tools: Support .NET Core Class Library projects"
Add support for running "dotnet ef" on a .NET Standard and desktop .NET class library project.

This is blocked by https://github.com/dotnet/cli/issues/2645 ~~and/or https://github.com/dotnet/cli/issues/4005 (depending on our implementation approach)~~.
### Short explanation

If you cannot do `dotnet run`, you also cannot use `dotnet ef` on your project.
### More explanation

.NET Core, unlike .NE

[2016-05-10 18:38] rowanmiller commented on #4664
@mikary can you check if this is fixed

[2016-05-10 18:40] rowanmiller commented on #4666
This should be fixed with all the changes @ajcvickers made around DI

[2016-05-10 18:40] #4666 closed

[2016-05-10 18:41] natemcmaster opened #5321 "CLI Commands: provide helpful error for unsupported scenarios"
CLI blocked project tools on class library projects. https://github.com/dotnet/cli/pull/2933 Microsoft.EntityFrameworkCore.Tools will still install but fail. We should provide an error message with text to help users understand the limitation.

[2016-05-10 18:45] rowanmiller commented on #4695
@smitpatel we think this should be fixed by the `EXISTS` change

[2016-05-10 18:49] #4735 closed

[2016-05-10 18:49] rowanmiller commented on #4735
We have done sanity testing that reverse engineer perf is ok with decent size databases. This is likely just a test issue.

[2016-05-10 19:10] divega opened #5322 "Consider using Microsoft.Extensions.Caching.Memory for all caches"
Currently we use `Microsoft.Extensions.Caching.Memory` for our first level query cache and our own custom caching for all other things across the EF Core stack. Since there is no automatic eviction in our custom caching code it would be possible to make EF consume all memory in caching by just doing enough things in an application, e.g. queries with many different combinations of parameters enter

[2016-05-10 19:28] pranavkm opened #5323 "CLI Commands: --startup-project does not use locate paths correctly"
`--startup-project` does not appear to use global.json when discovering projects. The current behavior makes it behave like `--relative-path-to-startup-project` which is not very user friendly.

[2016-05-10 19:41] pranavkm commented on #5323
On a related note, it should be nice to have it print a graceful error rather than dumping a stack trace from the CLI.

[2016-05-10 19:45] pranavkm commented on #5323
Follow up which is kinda worrying, if I do specify a relative path, I get further but the migration fails with
[code]

Reproed on Win 10 and CentOS 7.1.

Running the application works fine.

[2016-05-10 20:16] pbauwens opened #5324 "Add-Migration fails with exception Could not load type 'Microsoft.EntityFrameworkCore.Scaffolding.Internal.DesignTimeEnvironment'"
Got this error for the last few days, automagically got it to work yesterday, broken again today.

System.TypeLoadException: Could not load type 'Microsoft.EntityFrameworkCore.Scaffolding.Internal.DesignTimeEnvironment' from assembly 'Microsoft.EntityFrameworkCore.Relational.Design, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.
   at Microsoft.EntityFrameworkCore.Design.Inter

[2016-05-10 20:18] pbauwens commented on #5324
{
  "dependencies": {
    "Microsoft.ApplicationInsights": "1.0.0",
    "Microsoft.ApplicationInsights.PersistenceChannel": "1.0.0",
    "Microsoft.ApplicationInsights.WindowsApps": "1.0.0",
    "Microsoft.EntityFrameworkCore.Commands": "1.0.0-rc3-20680",
    "Microsoft.EntityFrameworkCore.Relational": "1.0.0-rc3-20856",
    "Microsoft.EntityFrameworkCore.Sqlite": "1.0.0-rc3-20856",
    "Microsoft

[2016-05-10 20:19] rowanmiller commented on #5323
@natemcmaster has a PR out to remove `--startup-project` from the CLI commands - https://github.com/aspnet/EntityFramework/pull/5312. The class library scenario isn't really supported in CLI yet, so we are going to cripple it for RC2.

[2016-05-10 20:21] rowanmiller commented on #5324
I'm guessing it is probably the mismatched versions of commands (`1.0.0-rc3-20680`) and the runtime (`1.0.0-rc3-20856`)

[2016-05-10 20:21] rowanmiller commented on #5324
Actually, just realized you have the old package name installed.... you want `Microsoft.EntityFrameworkCore.Tools

[2016-05-10 20:32] #4832 closed

[2016-05-10 20:33] natemcmaster commented on #5323
This flag is gone now. https://github.com/aspnet/EntityFramework/commit/aef38bc8c58a12097b9a7d8f45f94f8e48cd8a43 We'll revisit this in https://github.com/aspnet/EntityFramework/issues/5311

[2016-05-10 20:34] natemcmaster commented on #5321
Fixed #5321 with #5312

[2016-05-10 20:34] #5321 closed

[2016-05-10 20:37] natemcmaster commented on #4881
This was finished as a part of https://github.com/aspnet/EntityFramework/pull/5142

[2016-05-10 20:37] #4881 closed

[2016-05-10 21:06] #4839 closed

[2016-05-10 21:32] maumar commented on #5043
Fixed in ff8bc9baef0ec2d0bb146f3d12ea1bfbfb834035

[2016-05-10 21:32] #5043 closed

[2016-05-10 21:50] natemcmaster commented on #5313
Maybe related to https://github.com/dotnet/cli/issues/2926#issuecomment-217745629?

[2016-05-10 22:01] rowanmiller commented on #5303
@ajcvickers can you point in the right direction for using a value generator to do this.

[2016-05-10 22:14] pranavkm commented on #5313
Apparently the CLI doesn't regenerate the lock file for tools when the project.json changes. I'll file a bug for this, but this should unblock testing on Win7.

[2016-05-10 22:17] maumar commented on #4523
verified that it works in current bits, closing

[2016-05-10 22:17] #4523 closed

[2016-05-10 22:27] subzero1001 opened #5325 "SQLite and UWP , UseWinsqlite3"
Does anybody knows why i get error using this namespace "UseWinsqlite3"?

I have already installed Entity Framework Commands,Entity Framework SQL and SQLite for Universal Windows Platform  packages .

`protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            optionsBuilder.UseWinsqlite3("Filename=Sensors.database");
        }
`

Currently working on Visua

[2016-05-10 22:30] maumar commented on #4840
This has already been fixed, closing

[2016-05-10 22:30] #4840 closed

[2016-05-10 23:12] pranavkm opened #5327 "Modify InvokeDotnetEf in EntityFramework.psm1 to use .Path instead of .Source to discover dotnet location"
According to https://msdn.microsoft.com/en-us/library/system.management.automation.applicationinfo_members(v=vs.85).aspx, the `.Source` property on `ApplicationInfo` returned by `Get-Command` was added in Powershell 5.0. `.Path` returns the same value and works in powershell 3.0.

Line of code to change: https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Tools/too

[2016-05-10 23:13] pranavkm commented on #5327
To perform EF migrations in the package manager console until this is fixed, install powershell 5.0.

[2016-05-11 00:08] smitpatel commented on #5325
There is not `UserWinsqlite3` method in EF Core.
You can find more info about how to use EF in UWP here http://ef.readthedocs.io/en/latest/platforms/uwp/getting-started.html

[2016-05-11 00:35] #4795 closed

[2016-05-11 00:45] maumar commented on #5215
fixed in d344ec0025b7ca37604d6a65a000234093ccb619

[2016-05-11 00:45] #5215 closed

[2016-05-11 01:07] divega commented on #5325
There is actually `SqliteEngine.UseWinSqlite3()` which you should call early in your app if you want us to use the winsqlite3.dll library that is included in Windows instead of any other version of `sqlite3.dll`. Note that this is separate method from `optionsBuilder.UseSqlite(connectionString)` which you should call to configure your `DbContext` to use the SQLite provider.

I guess the UWP gettin

[2016-05-11 01:11] divega commented on #5327
@rowanmiller I talked to @natemcmaster and we think we should take a fix for this now.

[2016-05-11 01:20] divega commented on #5327
FWIW the rationale for taking this now is that:

1. The PMC commands are the tooling option that works for the greatest set of scenarios in RC2
2. I believe the user gets a very unhelpful exception
3. PowerShell 5.0 requires extra downloads for Windows 7, 8, 8.1 and the corresponding server SKUs.

[2016-05-11 01:20] yaochangyu commented on #5298
Hi,
I Wrong, Sorry
I verified string property which generate NVARCHAR column in SQL Server

[2016-05-11 05:21] rowanmiller commented on #5327
Sounds fine to me... should be a low risk fix

[2016-05-11 05:30] antonioapostoliu commented on #5281
I try this:
"Microsoft.AspNetCore.Authentication.Cookies": "1.0.0-*",
    "Microsoft.AspNetCore.Authentication.Facebook": "1.0.0-*",
    "Microsoft.AspNetCore.Authentication.Google": "1.0.0-*",
    "Microsoft.AspNetCore.Authentication.MicrosoftAccount": "1.0.0-*",
    "Microsoft.AspNetCore.Authentication.OpenIdConnect": "1.0.0-*",
    "Microsoft.AspNetCore.Authentication.Twitter": "1.0.0-*",
    "

[2016-05-11 05:32] antonioapostoliu commented on #5281
Again I don't know why github import filter change the font...

[2016-05-11 05:53] laskoviymishka commented on #5317
What behavior is expected?

[2016-05-11 06:16] pbauwens commented on #5324
thx, did the trick

[2016-05-11 11:16] shaulbehr commented on #5319
D'oh!  OK, that is facepalm-worthy.  I should have worked that out for myself.
Thanks!

[2016-05-11 11:33] shaulbehr commented on #5303
@ajcvickers I will be most grateful for any assistance you can offer!

[2016-05-11 12:57] pranavkm commented on #5317
It'd be nice if it says it doesn't exist (`Cannot drop TestDatabase. Are you sure it exists?`) or something along these lines.

[2016-05-11 14:01] ErikEJ commented on #5325
More wrong code in the Windows App Team blog post

protected override void OnConfiguring(DatabaseContextOptionsBuilder optionsBuilder)

        {
            optionsBuilder.UseWinsqlite3("Filename=Sensors.database");
        }

https://blogs.windows.com/buildingapps/2016/05/03/data-access-in-universal-windows-platform-uwp-apps/

[2016-05-11 15:37] LorenDorez opened #5329 "Group By With Where"
Hi,

When i try to run the below code it ignores the Group BY. but it i comment out the where it appears to run

[code]

Log Results

[code]

[2016-05-11 16:20] antonioapostoliu commented on #5281
I figure what was with fonts in my comments....I used lines with twenty equal sign between paragraphs. Github use mark it escape sequence of characters to format rich text islands of text. Appologies mister ...

[2016-05-11 16:20] natemcmaster commented on #5327
To be clear, this only affects users on *.xproj. PMC commands for csproj are unaffected by this.

[2016-05-11 16:23] davidroth commented on #5329
This is not yet supported. SQL Server group by translation is on the backlog and will not make it into RTM.
https://github.com/aspnet/EntityFramework/wiki/Roadmap

[2016-05-11 16:34] ToddThomson commented on #2336
@rowanmiller Just thought I'd review this question for the upcoming ASP.NET Core 1 RC2 release which I plan to test out next week.

Will EF Core 1 RC2 and EF6 still work together in the same web project?
Will there be any tooling for migrations for EF6 in VS2015 preview 1 tooling support? Are migrations supported in VS Code?
Is there any likelihood that TPT will be provided in EF Core 1 this year?

[2016-05-11 17:16] rowanmiller commented on #5327
Spoke with @danroth27, this does not meet the bar to reset RC2 builds. Moving to RTM.

[2016-05-11 17:18] rowanmiller commented on #244
Apply migrations during publish is now enabled and will ship in RC2... and the nasty apply migrations code in Startup.cs is being removed from the templates 🎉 🎆 💃

[2016-05-11 17:18] #244 closed

[2016-05-11 17:20] sadjadbp opened #5331 "The instance of entity type cannot be tracked, while updating twice the same entity"
I'm using RC1, so I'm adding DBContext in startup like this

`services.AddEntityFramework().AddSqlServer().AddDbContext<DataContext>();`

Then In my services, just DI my DataContext in the constructor and use it when I want. I think there is no issues here.

Then, I have a method in my service (called by a controller) let's call it F() that call two other methods F1() and F2(). In F1 and F2, I'll

[2016-05-11 17:21] ErikEJ commented on #5327
So Windows 10 or manual changes to the psm1 file will be required in rc2?

[2016-05-11 17:28] natemcmaster commented on #5327
Or upgrade to Powershell 5. https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2016-05-11 17:28] rowanmiller commented on #5327
Upgrading PS would be our guidance over modifying the scripts

[2016-05-11 17:41] rowanmiller commented on #4641
We discussed in triage and concluded this isn't something we plan to support. Taking the original query as an example, the Include/ThenInclude operators here are saying "when you return `CarPart`s in the query, include the relates `Car`s and their related `Driver`s". Because the query is then changed to return `Car`s rather than `CarPart`s, this is ignored.

[code]

We do eventually want to make t

[2016-05-11 17:43] rowanmiller opened #5332 "Query: Warn when Includes are ignored"
For example,  in the following query the Include/ThenInclude operators are saying "when you return  `CarPart`s in the query, include the relates  `Car`s and their related  `Driver`s". Because the query is then changed to return  `Car`s rather than  `CarPart`s, this is ignored. We should write a warning that the includes are being ignored.

[code]

[2016-05-11 17:43] rowanmiller commented on #4641
Opened https://github.com/aspnet/EntityFramework/issues/5332 to warn when we ignore includes like this

[2016-05-11 17:46] ErikEJ commented on #5327
Of course!

[2016-05-11 17:46] rowanmiller opened #5333 "More generic solution for severity level of warnings (throw/warn/ignore)"
Currently we have a special API for what happens with client eval during queries. We want to make this a more generic concept so that we can handle other warning types (such as ignored includes https://github.com/aspnet/EntityFramework/issues/5332).

The min-bar for RTM is to have a context wide API. It would be nice to have the ability to override these on a per-query basis, so that you can say "

[2016-05-11 17:51] rowanmiller opened #5334 "Implement new architecture of dotnet-ef and PowerShell commands for ASP.NET Core/.NET Core"
Some things to consider:
 * Do we continue to just shell to dotnet-ef from PowerShell commands? If so, how do we get better output (#4771).
 * Can we use AppDomains for xproj (#4773)

[2016-05-11 17:51] rowanmiller commented on #4771
Consolidating several related issues into https://github.com/aspnet/EntityFramework/issues/5334

[2016-05-11 17:53] rowanmiller commented on #5334
Since GitHub doesn't support multiple assignees 😄... assigning to @bricelam to catch up with @natemcmaster and other when he is back in the office to discuss where have landed and where we go from here.

[2016-05-11 17:55] rowanmiller commented on #4773
Consolidating several related issues into #5334

[2016-05-11 17:55] #4773 closed

[2016-05-11 17:56] rowanmiller commented on #5282
This is fixed in RC2, which will ship shortly.

[2016-05-11 17:58] rowanmiller commented on #5241
Hey,

The output shows that you have the `aspnetcidev` feed in the mix, which would cause issues because it has RC3 packages on it. This is probably setup in your machine wide sources, can you remove it and try again (after cleaning your local repo).

[code]

~Rowan

[2016-05-11 18:12] rowanmiller commented on #4775
Can you try `.GroupBy(i => i.Service.Package.Product.Id)` rather than `.GroupBy(i => new { ProductId = i.Service.Package.Product.Id })`

[2016-05-11 18:14] rowanmiller commented on #4786
@mikary can you verify if this is fixed

[2016-05-11 18:22] rowanmiller commented on #4829
We're not going to do anything on this now, we can revisit later

[2016-05-11 18:30] rowanmiller commented on #4926
@mikary can you verify that this is fixed

[2016-05-11 18:32] domenkogler commented on #2805
[code]
Use:
[code]

[2016-05-11 18:43] rowanmiller commented on #4952
@smitpatel can you talk to @divega and @anpete about some ideas on how to do this

[2016-05-11 18:45] adnanw opened #5335 "Encountering error: The binary operator Equal is not defined for the types 'System.Nullable`1[System.Guid]' and 'System.String'"
I'm encountering an exception with the following error message in my Entity Framework 7 console application:

"The binary operator Equal is not defined for the types 'System.Nullable`1[System.Guid]' and 'System.String'"

Here is the statement that results the error:

`var links = db.Blogs.SelectMany(x1 => x1.Posts).Select(x => x.Link).ToArray();`

It appears to be trying to follow convention to li

[2016-05-11 18:48] rowanmiller commented on #5024
@natemcmaster ping 😄

[2016-05-11 18:52] ElvisHalil commented on #3797
@divega  this helped me figure out why it wasn't coming up for me.  Wasn't aware it was only for IQueryable.. I got my Include method working now, however I can't seem to do a .ThenInclude it doesn't give me any properties only methods inside the lamba.

Would I use ThenInclude to get another set of navigation properties related to the navigation property I've just included?

[2016-05-11 18:55] rowanmiller commented on #5069
@natemcmaster can you make sure this gets added to the list of known issues in our docs

[2016-05-11 18:59] rowanmiller commented on #5108
@smitpatel can you verify that this is fixed by your `EXISTS` change

[2016-05-11 19:19] anpete commented on #4615
Verified fixed.

[2016-05-11 19:19] #4615 closed

[2016-05-11 19:50] pranavkm opened #5337 "Powershell: Description for Use-DbContext in about_EntityFramework isn't aligned with the other CmdLet descriptions"
https://github.com/aspnet/EntityFramework/blob/cd2872cfe618bb9445df2a6342eb914ada479c3f/src/Microsoft.EntityFrameworkCore.Tools/tools/about_EntityFramework.help.txt#L33

[2016-05-11 20:02] divega commented on #3797
@ElvisHalil From what you are describing I suspect you might be hitting a known issue in the Intellisense functionality included in VS: https://github.com/dotnet/roslyn/issues/8237. The consequence of that limitation is that for certain scenarios Intellisense won't show the full set of properties you could use in the lambda, but if you just finish typing the lambda with the name of the property yo

[2016-05-11 20:32] divega commented on #5327
Download link for PowerShell 5.0: https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2016-05-11 20:37] #4818 closed

[2016-05-11 20:37] divega commented on #3420
Cleaning up milestone so that we can see this in triage.

[2016-05-11 20:39] divega commented on #5172
@rowanmiller would you like to include this in the global item to re-enable tests before RTM?

[2016-05-11 20:42] divega commented on #1311
Clearing up milestone so that we can review this in triage.

[2016-05-11 20:44] divega commented on #734
Clearing up milestone so that we can see this in triage and decide the priority.

[2016-05-11 20:45] maumar opened #5338 "Table generated based on a semi-complex model with inheritance is missing a column"
Model:

[code]

table crated:

[code]

[2016-05-11 20:45] maumar commented on #3180
blocked by another issue - #5338

[2016-05-11 20:46] divega commented on #2667
Clearing up milestone so that we can review in triage and determine priority.

[2016-05-11 20:48] rowanmiller commented on #5172
@divega will do

[2016-05-11 20:50] divega commented on #3424
@mikary do we still have this issue? Is the test disabled?

cc @rowanmiller

[2016-05-11 20:52] divega commented on #3583
Clearing up milestone so that we can see this in triage and determine its priority.

[2016-05-11 20:55] divega commented on #4475
@rowanmiller @ajcvickers should we discuss the priority of completing this task for RTM in triage? it seems that perf of `DetectChanges()` should be somewhat covered indirectly by other tests.

[2016-05-11 21:00] maumar commented on #3705
Fixed in current bits, producing the following sql:

[code]

[2016-05-11 21:00] #3705 closed

[2016-05-11 21:01] divega commented on #4244
Clearing up milestone of this issue so that we can determine its priority in triage.

[2016-05-11 21:30] subzero1001 opened #5342 "Entity Framework and .Text"
0
down vote
favorite

Does anyone know why I get an error in the following code ?

[code]

Does not contain definition for 'Text' .Maybe it is an older Entity Framework version .

Currently working on Visual Studio 2015 , ASP.NET Web Application

[2016-05-11 21:52] divega commented on #3705
@maumar, was this fixed in RC2 or after we branched? (milestone should reflect that).

[2016-05-11 22:45] natemcmaster commented on #5024
@shlatchz if you want to issue custom pragma statements, you need to do this every time you open a connection. Changing values via pragma statements do not persist across calls to `sqlite_open_v2`. At the moment, we don't have API in `Microsoft.Data.Sqlite.SqlConnection` to support executing something arbitrary (such as issuing pragma statements) everytime a connection opens.

Moving up a layer in

[2016-05-11 23:22] natemcmaster commented on #5024
Remarking for triage: what is the work here? Add API to Microsoft.Data.Sqlite or EF?

[2016-05-12 03:42] rowanmiller commented on #5342
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2016-05-12 04:40] rowanmiller commented on #5024
@natemcmaster this is mostly to investigate and work out what we should do. It seems like we may want a way to easily configure pragma settings when you setup the context to target SQLite. Or it may be a more general "connection preamble" feature. It's in the 1.0.1 milestone to look at post-RTM though

[2016-05-12 04:48] rowanmiller commented on #4475
Sounds good, yes the update pipeline tests (really SaveChanges tests) would cover some of this.

[2016-05-12 07:57] popcatalin81 commented on #4475
Please have some test cases with graph sizes > 1K-3K. This is the point where EF6 started seeing performance degradations in the order of seconds to dozens of seconds, which made EF6 complete inappropriate for large data set processing scenarios. Ideally EF7 should support such scenarios,

[2016-05-12 11:05] jonnybi opened #5343 "Update Statement"
If you mark an entity as changed, that has only primary key columns an invalid statement is generated
because there are no columns left to update. Is this by Design?

[2016-05-12 14:09] ErikEJ commented on #5343
EF version?

[2016-05-12 14:38] jonnybi commented on #5343
RC1-final

[2016-05-12 14:49] Kemaletdin opened #5344 "Multiple one-to-one relations create duplicate foreign key field."
Have 2 entities
[code]

with the `following` Fluent API in DbContext OnModelCreating method

            var customeraddress = builder.Entity<CustomerAddress>();
            customeraddress.HasKey(t => t.Id);
            customeraddress.Property(t => t.Id).ValueGeneratedOnAdd();
            customeraddress.Property(t => t.Name).IsRequired();
            customeraddress.Property(t => t.Address).IsR

[2016-05-12 15:46] ElvisHalil commented on #3797
@divega Thank you sir, this indeed does still work for me, just a Intellisense problem.

[2016-05-12 16:06] smitpatel commented on #5344
[code]
The Navigation `Customer` has been specified in both relationships. One navigation property can be part of only one relationship. So when you use it for other relationship, EF will modify the first relationship to remove `Customer` navigation from there. In the process that relationship will be modified to use fk property as `BillToAddressId1`.

[2016-05-12 16:10] rowanmiller commented on #4475
@popcatalin81 - the data size for our benchmarks range from 1K - 10K rows/entities.

[2016-05-12 16:17] rowanmiller commented on #2336
@ToddThomson The state in RC2 will be the same as RC1. You can use EF6/EF Core side-by-side, but there is no xproj compatible migrations tooling for EF6. In VS Code you would use the `dotnet ef ...` command line tooling for migrations (EF Core only).

[2016-05-12 16:25] rowanmiller opened #5345 "Sql Server Migrations: Throw when altering IDENTITY"
If you go through the process of changing the  ApplicationUser  ID type to  int, then you will hit issues with EF migrations. On SQL Server, you'll get errors including:

The object 'PK_AspNetUsers' is dependent on column 'Id'.
 The object 'FK_AspNetUserRoles_AspNetUsers_UserId' is dependent on column 'Id'.
 The object 'FK_AspNetUserLogins_AspNetUsers_UserId' is dependent on column 'Id'.
 The obje

[2016-05-12 16:31] mrahhal commented on #2336
@ToddThomson the same way [Migrator.EF6](https://github.com/mrahhal/Migrator.EF6) has been done to work with migrations in dnx, a cli tool can be created for EF6 migrations to work in RC2 as well.

And since the state will be the same, we'll still be able to use all features of EF6 in RC2.

[2016-05-12 16:33] rowanmiller opened #5346 "Re-enable all skipped/disabled tests"
Need to do a general search of the code base, but also make sure we cover these.
- https://github.com/aspnet/EntityFramework/issues/4841
- https://github.com/aspnet/EntityFramework/issues/5172

[2016-05-12 16:33] rowanmiller commented on #4841
Consolidated into https://github.com/aspnet/EntityFramework/issues/5346

[2016-05-12 16:33] rowanmiller commented on #5172
Consolidated into #5346

[2016-05-12 16:35] natemcmaster commented on #5234
@ErikEJ can you clarify what behavior you are expecting and not seeing? Are you talking about design-time logging? Or logging when `db.Database.Migrate()` is called?

[2016-05-12 16:37] Kemaletdin commented on #5344
based on your explanation I made the following change and it worked fine.
Just removed what comes after HasOne.

[code]

thanks

[2016-05-12 16:37] AlexBilonog opened #5347 "Query: String concatenation on a nav prop fails"
I use EntityFrameworkCore version: 1.0.0-rc3-20831, .Net Framework: 4.6, AspNet.Mvc: 5.2.3
Code:

`var fullNames = _dbContext.Set<UserRole>().Select(r => r.User.FirstName + " " + r.User.LastName).ToList();`

Throws:
Exception thrown: 'System.InvalidOperationException' in mscorlib.dll
Additional information: The binary operator Add is not defined for the types 'System.String' and 'System.String'.

[2016-05-12 16:41] rowanmiller commented on #5305
Hey,

In your model you have two one-to-many relationships that go in opposite directions. A child belongs to a parent, and a parent has a favorite child. So there is a `Parent.FavoriteChildId` foreign key and a `Child.ParentId` foreign key.

[code]

So when you try to save, `mark` needs to be inserted first so that his key value can be referenced from the `ParentId` foreign key of the children. B

[2016-05-12 16:42] rowanmiller commented on #5275
Tried latest NuGet build and this fixed the issue

[2016-05-12 17:55] lajones commented on #5267
Fixed with commit 93c1635.

[2016-05-12 17:55] #5267 closed

[2016-05-12 17:58] maumar commented on #3705
@divega it works in release also

[2016-05-12 18:12] divega commented on #3705
Cool! Moved the rc2 milestone.

[2016-05-12 18:16] AlexBilonog opened #5350 "modelBuilder.Entity<AnEntity>(e => { }) can cause StackOverflowException in some cases"
I use EntityFrameworkCore version: 1.0.0-rc3-20831, .Net Framework: 4.6, AspNet.Mvc: 5.2.3

I cannot provide certain steps to reproduce. But can point at some conditions. I have about 100 entities. And executing this code causes StackOverflowException (empty stack trace):

`modelBuilder.Entity<AnyEntity>(entity => { /* any code or empty */ })`

This bug is always reproducible on IIS Express, but o

[2016-05-12 18:33] ErikEJ commented on #5234
Logging when Migrate is called!

[2016-05-12 18:54] divega commented on #5344
@Kemaletdin glad to hear that it helped.

Anyway, it seems there are a few issues here:

1. The current behavior doesn't seem to make much sense, e.g. it is not clear why we would create a new FK for the first relationship. @smitpatel do you know if that is by design and if yes why?
2. I believe what the customer was trying to do from the perspective of the object model and its navigations actuall

[2016-05-12 18:55] laskoviymishka commented on #5316
@pranavkm Agree with regards to `Enter ↵`, but it better to stay with `Y/n` as this follows common rules for such CLI.
In a fact it would be really nice to see some fun inside of this confirm.
Like this, but with unicorn (EF logo):
![like this, but with unicorn](https://t.alipayobjects.com/images/T1zJheXmjzXXXXXXXX.png)

[2016-05-12 19:24] #5332 closed

[2016-05-12 20:26] smitpatel commented on #5344
Answer to 1 above:
The way model building currently works in above case, when we use the same navigation `Customer` again, instead of removing the navigation from previous relationship and assigning to this one, we change the other navigation `BillToAddress` with `ShipToAddress`. Therefore as the stage when we have specified only navigations for second relationship, we have relationship with `Ship

[2016-05-12 20:48] divega commented on #5293
I having problems to reproduce this with the latest build, i.e. the snapshot is now removed correctly. I am unfortunately sure what was causing the issue before 😞  but leaving the issue open just in case the error "Value does not fall within the expected range." is a helpful clue.

[2016-05-12 20:58] lajones commented on #5238
Fxied with commit 4e27d5a.

[2016-05-12 20:58] #5238 closed

[2016-05-12 21:12] lajones opened #5352 "RevEng: Use Builder Approach to build *Configuration Classes"
At the moment `ModelConfiguration` represents both a) view-model information necessary to output the `DbContext` and `EntityType` class files, and b) is used to create all the other `*Configuration` classes.

It would be better design to have a `ConfigurationBuilder` class which did b) and restrict `ModelConfiguration` to just being the view-model class.

[2016-05-12 21:23] anpete commented on #5029
@divega @rowanmiller I think we have addressed the low-hanging fruit here with our recent changes. Any objections to moving this post RTM?

[2016-05-12 21:32] rowanmiller commented on #5029
I'm fine with that. At least for tracking queries it looks like the async slow down is significantly less than it was in EF6.

[2016-05-12 21:39] lajones opened #5353 "Change namespace M.EFCore.Tools.Core.Scaffolding.Internal.Configuration"
Our convention is to _end_ the namespace with `.Internal`. So we should move the files that are currently in `Microsoft.EntityFrameworkCore.Tools.Core.Scaffolding.Internal.Configuration` into `Microsoft.EntityFrameworkCore.Tools.Core.Scaffolding.Configuration.Internal`.

[2016-05-12 22:22] anpete commented on #5262
Confirming this is fixed in RC2.

[2016-05-12 22:22] #5262 closed

[2016-05-13 00:37] subzero1001 opened #5354 "Working on a project with SQL and Visual Studio 2015"
Hello guys, I need help!!!
I'm currently working on a project where I have to create an **Application using SQL in Visual Studio 2015 ( UWP) .
The problem is , that Microsoft hasn't published any guide or tutorials for VS 2015 and SQL, as far as I know. There are some guides for previous Visual Studio but I always get to a point where **something is missing** or not the same .
I manage somehow  to

[2016-05-13 01:34] maumar commented on #3101
@rowanmiller fix is almost ready

[2016-05-13 02:05] cevarief commented on #5281
What is the proper version and import for preview1 [1.0.0-preview1-002702] ?

[code]
dotnet ef throws error :
[code]

[2016-05-13 02:53] jcob-ross commented on #5354
https://ef.readthedocs.io/en/latest/platforms/uwp/getting-started.html

hope it helps

[2016-05-13 07:04] antonioapostoliu commented on #5281
Today situation:
D:\fix4\MusicStore-dev\src\MusicStore>dotnet --info
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x86
D:\fix4\MusicStore-dev\src\MusicStore>cat project.json
{
  "authors": [
    "Microsof

[2016-05-13 07:38] antonioapostoliu commented on #5281
I delete
C:\Users\Implozia\nuget\packages
C:\Users\Implozia\AppData\Local\NuGet\v3-cache
D:\fix4\MusicStore-dev\src\MusicStore\bin\Debug
D:\fix4\MusicStore-dev\src\MusicStore\obj\Debug

dotnet restore works ok
I have little problem with:

D:\fix4\MusicStore-dev\src\MusicStore>dotnet run
Project MusicStore (.NETCoreApp,Version=v1.0) was previously compiled. Skipping compilation.
Unhandled Exception

[2016-05-13 10:01] audacity76 commented on #4561
Found out that you can ignore the view table in migrations by using the model builder. But you must only do that when migration is ongoing.

[code]

[2016-05-13 11:50] Kemaletdin commented on #5344
Is it not odd that the issue I was having was solved by just removing the foreign-key definitions.
When I have the foreign keys explicitly defined I am just stating something EF assumes if I did not explicitly define the keys.

[2016-05-13 16:58] natemcmaster commented on #5285
@piotrpMSFT is it possible to compile an "anycpu" exe with dotnet cli?

[2016-05-13 17:10] NTaylorMullen commented on #5285
@natemcmaster in order to do this we have to do the following:

https://github.com/dotnet/coreclr.xunit/blob/master/src/dotnet-test-xunit/project.json#L23-L34
https://github.com/dotnet/coreclr.xunit/blob/master/build.ps1

[2016-05-13 17:17] natemcmaster commented on #5285
Is there documentation for what "buildOptions" > "platform" can be set to?

So, following dotnet-test-xunit's example, our nupkg needs to look like this:
[code]
Questions: with this structure, what is lib/net451/dotnet-ef.exe? 64, 32? Can it be excluded if .NET CLI will find and run from runtimes/ anyways?

[2016-05-13 17:22] ElvisHalil commented on #3797
When doing a chain of Includes and ThenIncludes to be returned by a Web API I only get a single record back with only the first relationship from the chain in the HTTP GET response.  When I remove the whole chain and only leave the GetAll() method I get all the records back but without any relationships because I don't specify them any longer.  I'd like to be able to get all the relationships back

[2016-05-13 17:22] pranavkm commented on #5285
The file under `lib` is used as a reference assembly for unit testing the runner. It doesn't have much use outside of it.

[2016-05-13 17:36] divega commented on #3797
@ElvisHalil Could you please start a separate issue and provide the relevant snippets of code?

[2016-05-13 17:58] natemcmaster commented on #5281
@antonioapostoliu my guess is the package of Microsoft.DotNet.Cli.Utils you are using is old. We are still sorting out issues with our nightly feeds recently. We decided to name our tools packages "preview1" instead of "rc2". NuGet thinks "preview1" is older than "rc2" (alphabetical). We're still trying to track down all the places where we need to delete "rc2" from our feeds.

cc @pranavkm

[2016-05-13 18:07] rowanmiller commented on #5134
Done

[2016-05-13 18:07] #5134 closed

[2016-05-13 18:16] rowanmiller commented on #5216
@roji feel free to send a PR with some refactoring to allow this to be done in the provider tests

[2016-05-13 18:21] rowanmiller commented on #2667
@MichaelKetting are you still planning to send a PR for this?

[2016-05-13 18:24] ElvisHalil opened #5357 "Web API to return EF object with relationships not returning full result"
When doing a chain of Includes and ThenIncludes to be returned by a Web API I only get a single record back with only the first relationship from the chain in the HTTP GET response. When I remove the whole chain and only leave the GetAll() method I get all the records back but without any relationships because I don't specify them any longer.

Here is my method in my service class that I inject in

[2016-05-13 18:25] ElvisHalil commented on #3797
@divega new issue posted: https://github.com/aspnet/EntityFramework/issues/5357

[2016-05-13 18:42] #5325 closed

[2016-05-13 18:46] rowanmiller commented on #5338
@maumar looks like `Character3180` isn't included anywhere in the model (DbSet or OnModelCreating)?

[2016-05-13 18:47] rowanmiller commented on #5338
@maumar ignore previous comment, we see it's included in the HasValue call

[2016-05-13 18:48] #5342 closed

[2016-05-13 18:49] rowanmiller commented on #5343
We think this is fixed in RC2

[2016-05-13 18:58] rowanmiller commented on #5347
@anpete should this be doing client eval until we support translation?

[2016-05-13 19:02] #5354 closed

[2016-05-13 19:16] anpete commented on #5347
Yep, looks like a bug in nav rewrite. cc @maumar

[2016-05-13 19:45] rowanmiller commented on #5347
Should the client eval part be fixed in 1.0.0? We move translation out to 1.0.1.

[2016-05-13 19:47] natemcmaster commented on #5281
Work on this is being tracked https://github.com/dotnet/cli/issues/3012

[2016-05-13 19:48] anpete commented on #5347
Yes, I suspect it should be quick because it looks like we just need to pass the correct method info when we rebuild the binary expression.

[2016-05-13 19:49] #5314 closed

[2016-05-13 19:51] pranavkm commented on #5281
Working with @Eilon and @victorhurdugaci  to determine if we could drop the ci[dev|release] feeds and rebuild them from latest coherence.

[2016-05-13 19:51] ilmax commented on #795
Hi, I'm starting to investigate how complex would be to add support for set-based operation, and I'm actually only investigating Delete operation, I really would like to start a discussion with the team and the community members to start a discussion on how this feature can be designed.

Hoping that this will be achieved by EF7, I'm posting my initial thoughts/questions on this subjects.

- Is thi

[2016-05-13 19:53] #5337 closed

[2016-05-13 19:55] rowanmiller commented on #5147
@divega anything left to do on this one?

[2016-05-13 19:57] rowanmiller commented on #1234
Clearing milestone, this was pri1 for RTM but not sure if we can make the change post-RTM

[2016-05-13 19:57] natemcmaster commented on #2596
Closing as CoreFX has a SqlClient for x-plat now. We can reopen if we get asked to support Mono better.

[2016-05-13 19:57] #2596 closed

[2016-05-13 20:03] roji commented on #5216
OK @rowanmiller, will do

[2016-05-13 20:22] divega commented on #5147
@gdoron Opening and closing the connection as needed is EF behavior. Identity has little to do with it.
I am going to close this because I believe we have answered your questions. Feel free to create a new issue if you run into problems.

[2016-05-13 20:32] #5327 closed

[2016-05-13 20:39] anpete commented on #795
This makes sense. We likely need to introduce UpdateExpression etc. and then port the existing impl. to use it, too.

[2016-05-13 20:49] maumar commented on #3101
Fixed in 7bdf5818b10389588d74ecc03ba766fe24850298

[2016-05-13 20:49] #3101 closed

[2016-05-13 20:49] maumar commented on #4925
Fixed in 7bdf5818b10389588d74ecc03ba766fe24850298

[2016-05-13 20:49] #4925 closed

[2016-05-13 22:25] Eilon commented on #5281
Yeah we will clean up the feeds.

[2016-05-13 22:25] laskoviymishka commented on #4996
EF use convention over configuration, which is good. But this option is not quite support any extensibility.
What if there be some convention strategy that can be applied? I.e. we could introduce this change somewhere on configuration level, instead of do some dirty hacks, or mark everything with attributes:
[code]
We could use something more suited (in db context or in service configure section).

[2016-05-13 22:47] rowanmiller opened #5361 "Migrations: PMC -Context tab completion not working on ASP.NET Core projects"
![image](https://cloud.githubusercontent.com/assets/4741851/15263792/0026ef94-1922-11e6-99ab-53af90d30839.png)

[2016-05-13 22:57] divega commented on #5361
On the bright side it works in UWP projects :smile:

[2016-05-13 22:58] rowanmiller commented on #5361
And Console 😉

[2016-05-13 23:09] natemcmaster commented on #5361
I believe it works...there is just a big lag. What happens if you press tab and wait for 30 seconds?

[2016-05-14 05:04] shobman commented on #2295
+1 for Reload

[2016-05-14 05:21] abatishchev commented on #795
Looks good to me.
However, I'd stick with CRUD naming, i.e. Update(...).
Delete can have no overload so would be used on top of Where(...). Delete(predicate) would be a nice addition though.

[2016-05-14 06:31] MichaelKetting commented on #2667
Oh dear. Yeah, I'm afraid not in time for the release :(

[2016-05-14 09:33] ishaklive commented on #4188
Hi, My Migration class are not creating in my class library project. all the migrations codes are moving to **wrap** folder
../WebApplication2\ **wrap** \ClassLibrary1\Migrations

--EF Command Line Output

[code]

So  `dnx ef database update -c DBContext -p ClassLibrary1 -v` is still not working.

Ones I copied the Migration Folder from wrap folder  to ClassLibrary Project then it works fine

What

[2016-05-14 09:36] mo-esmp commented on #4775
I tried and got same error.

[2016-05-14 09:45] ErikEJ opened #5362 "Microsoft.EntityFrameworkCore.Tools installs an insane amount of packages in .NET desktop"
(Unsure if this is already logged, @natemcmaster )

After adding this package to a .NET 4.5.1 console app, my packages.config looks like this - is that really required??

[code]

[2016-05-14 10:24] stap123 opened #5363 "Migrations: Get Migrations for specific context"
I have multiple DbContexts using the same Database, when using the IHistoryRepository to get the applied migrations it retrieves all migrations for all contexts. Is there a way to mark migrations as being from a specific context and then retrieve only the desired contexts migrations?

Currently I use the following to get migrations

`var numAppliedMigrations = (await commonContext.GetService<IHist

[2016-05-14 11:21] stap123 commented on #5363
Just had a light bulb moment and think I have found a solution to this, I'll add the answer in case it is useful for people in the future.

Get the collections of appliedMigrations to the database as a whole and migrations for the specific context.

`var appliedMigrations = await identityContext.GetService<IHistoryRepository>()?.GetAppliedMigrationsAsync();`
`var migrations = identityContext.GetSe

[2016-05-14 11:50] zabulus commented on #5056
Just encountered the same. Exception message should be changed to not confuse users.

[2016-05-14 13:20] damienbod opened #5364 "RC2 SQLite not working with dotnet"
I'm updating to dotnet RC2 and the SQLite Provider does not work. I tried the different possiblities from what I found but always recieve the same bug. If I use the OnConfiguring method in the context, I recieve a different problem, table not found.

git repo:

https://github.com/damienbod/AspNet5Localization/tree/rc2Test

Startup class:

[code]

Error message when running:

[code]

Any ideas?

Gr

[2016-05-14 14:54] roji commented on #5216
@AndriySvyryd I've tried to get around the specification of nvarchar by replacing `.HasColumnType("nvarchar(100)")` with `.HasMaxLength(100);` in InheritanceRelationalFixture, and oddly this generates the error "Column 'Animal.Species' is not the same length or scale as referencing column 'Animal.EagleId' in foreign key 'FK_Animal_Animal_EagleId'. Columns participating in a foreign key relationshi

[2016-05-14 17:35] roji opened #5365 "PostgreSQL-specific types ignored in query's where clause"
I'm trying to run some BuiltInDataTypes functional tests on PostgreSQL-specific types. These types have been properly mapped in my NpgsqlTypeMapper, and indeed most of the tests pass quite well (it's a real pleasure to see this work).

There's one important issue though, with Can_query_using_any_mapped_data_type which places the types in a where clause. Looking at the generated SQL, I can see that

[2016-05-14 18:19] divega commented on #5365
Indeed that sounds like query doesn't recognize the type and therefore switches to client side evaluation. Not sure what you would need to extend to enable SQL translation. @anpete, @maumar or @smitpatel might be able to help.

[2016-05-14 19:16] natemcmaster commented on #5364
@damienbod do you have a constructor that takes in DbContextOptions and passed it to the base constructor?

[code]

Also, we changed how AddDbContext works in RC2. You don't need to call "AddEntityFrameworkSqlite" unless you are configuring a custom internal service provider for your DbContext.

[2016-05-14 19:17] natemcmaster commented on #5362
Probably a duplicate of https://github.com/aspnet/EntityFramework/issues/5273

[2016-05-14 20:02] roji opened #5366 "Guidance needed on the interaction between ValueGenerated.OnAdd and DefaultValue"
While working on Npgsql reverse engineering I came across something I'm having trouble understanding.

If I understand the [the docs](http://ef.readthedocs.io/en/latest/modeling/generated-properties.html) correctly, setting ValueGenerated.OnAdd on a column means that its value will be generated if the inserted entity has a default value for that field (i.e. null, 0).

My first question is whether

[2016-05-14 20:16] damienbod commented on #5364
Hi @natemcmaster
Thanks that solved the connection problem. Now I have the no table problem, table does exist. I have updated the repo with your changes. Thanks for your help.

[code]

Greetings Damien

[2016-05-14 20:25] damienbod commented on #5364
The new provider is looking for LocalizationRecords, the RC1 used table LocalizationRecord, has this changed?

Greetings Damien

[2016-05-14 20:33] damienbod commented on #5364
Hi @natemcmaster, I renamed the table to LocalizationRecords and everything works. Thanks a million for your help.

Greetings Damien

[2016-05-15 03:37] natemcmaster commented on #5307
From http://sqlite.org/lang_altertable.html#otheralter

This means to perform operations such as "DROP COLUMN", EF would need to do a table rebuild. We haven't implemented this yet.

Closing as a duplicate of https://github.com/aspnet/EntityFramework/issues/329

[2016-05-15 03:42] nuclearpidgeon commented on #3705
Thanks all for following this up!

[2016-05-15 08:07] ErikEJ opened #5368 "The default HistoryRepository implementation does not respect a provider implementation of ISqlGenerationHelper"
Meaning that for example the StatementTerminator is hardcoded with semicolon in the default HistoryRepository implementation...

[2016-05-15 09:52] gdoron commented on #245
@rowanmiller I read several issues here, but I'm still not sure what's the current status of SP support and how things should be done.

Is there a place that summarize what's supported and what's not?
And how to do do each action.

[2016-05-15 10:54] Villason opened #5369 "Query: Support for String.CompareTo"
Might be related to #1767.

I have some classes that returns expressions that afterwards are compiled into a final expression. This code does not translates to SQL:

[code]

The warning is:

[code]

Is this the expected behavior?

Update:

If I switch to this:

[code]
I get an exception with this bug: #3464

[code]
To answer the questions: Path is a string.

[2016-05-15 11:01] ErikEJ commented on #5369
What would be the SQL translation?

[2016-05-15 11:07] gdoron commented on #5369
@ErikEJ I guess it depends on what type is `Path`.
For numeric values for instance, it's very easy to translate to SQL.

[2016-05-15 11:11] Villason commented on #5369
@ErikEJ a simple WHERE Path > 'something'.

[2016-05-15 11:30] shaulbehr commented on #5303
Bump.  @rowanmiller , @ajcvickers could you please point me in the right direction for this?

[2016-05-15 11:39] gdoron commented on #5369
@Villason in SQL (well at lest on MSSQL), strings comparison is simply a length comparison
Anyway it's translatable, but probably not supported.
Did you check if it was supported in EF 6 or not?

[2016-05-15 11:48] Villason commented on #5369
@gdoron that is not correct. > and < operands compare the strings "alphabetically".

[2016-05-15 12:17] gdoron commented on #5369
@Villason ohh my bad, this was what I remembered...
Anyway I think I have never had to use string comparison in SQL.
(Except obviously from sorting)

[2016-05-15 12:44] Villason commented on #5369
@gdoron well, this is why I am using it. The code is part of a "Load more" pattern implementation.

[2016-05-15 13:16] dteichman commented on #5241
@rowanmiller thanks. I removed the other mygets from my sources. deleted folder, recloned. checked out release. reset nuget. and ran build initialize, but still no success:

info : Committing restore...
log  : Writing lock file to disk. Path: C:\AgileWork\EntityFramework\src\Microsoft.EntityFrameworkCore.Tools\project.lock.json
log  : src/Microsoft.EntityFrameworkCore.Tools/project.json
log  : Res

[2016-05-15 17:02] ErikEJ opened #5370 "All_top_level_subquery() - "interesting" SQL generated"
I have issues running the async All_top_level_subquery() test with the SQL CE provider on my build server (AppVeyor) - not locally (!?) - test test never ended.

I then noticed the SQL generated from this test, and the same SQL is generated from the SQL Server provider with latest source from cidev - is this by design?

    SELECT [c1].[CustomerID], [c1].[Address], [c1].[City], [c1].[CompanyName],

[2016-05-15 17:37] lajones commented on #5366
Hi Shay

I think this is a mix-up between the meanings of “default value” within C# and within the DB. ValueGeneratedOnAdd() and Default Value() are different things.

ValueGeneratedOnAdd() was designed with the concept of “the system” automatically generating a value for you at INSERT time e.g. for SQL Server the concept of an IDENTITY column. Within C# the user should _not_ assign any value to t

[2016-05-15 22:14] Skinney commented on #4461
Question. Will this work if the backing field is of a different type? I'm using a pattern for validation where I wrap strings and ints in a class that checks for valid input, and allows me to change the format of the input in a simple way. Today this doesn't work so well with EF Core.

Example:

[code]

[code]

The backing field is here of a different type than the public property, but would this

[2016-05-15 22:59] Mitch528 opened #5371 "RC2 System.InvalidCastException: Specified cast is not valid"
This error occurs when trying to select a DateTime. I only get this error on Linux, whereas on Windows it works fine.

I'm using:
- Ubuntu 14.04.4
- .NET 4.5.1 with mono
- SQL Server on Azure

Example:

[code]

[code]

[code]

[2016-05-16 01:28] roji commented on #5366
@lajones thanks for the patient explanation! Here are a few follow-up questions to make sure I understand...

So you're saying that ValueGeneratedOnAdd() means that a value is *always* generated by the system (be it the database with SqlServer IDENTITY or the model developer); in other words that it is illegal for the user to assign a value to it before insertion. In contrast, DefaultValue() means

[2016-05-16 02:46] roji commented on #5366
One more note: I'm quite confused looking at the test SqlServerValueGenerationScenariosTest.IdentityColumnWithDefaultValue.Insert_with_default_value_from_sequence. First, the test name suggests that it *is* possible to have IDENTITY columns with default (i.e. a sequence-driven IDENTITY?). I can also see the following config:

[code]

which does not have the .ValueGeneratedNever() you mentioned, so

[2016-05-16 03:25] ajcvickers commented on #5366
@roji I have a slightly different perspective from @lajones. ValueGenerated.OnAdd does mean that a value will be generated if the value set is the CLR default for the property type. This is a core concept, rather than a relational concept--how that value gets generated is not specified at all. In relational code setting some default value for a column almost always means that the property should b

[2016-05-16 06:28] ErikEJ commented on #5371
Dupe of https://github.com/aspnet/EntityFramework/issues/2596

[2016-05-16 07:19] ErikEJ opened #5373 "Cannot "build initialize" latest source from dev"
Using VS 2015 Update 2 - what am I missing?

Errors in C:\Code\EntityFramework\test\Microsoft.EntityFrameworkCore.Tools.Funct
ionalTests\project.json
    Unable to resolve 'dotnet-test-xunit (>= 1.0.0)' for '.NETCoreApp,Version=v1
.0'.
    Unable to resolve 'dotnet-test-xunit (>= 1.0.0)' for '.NETFramework,Version=
v4.5.1'.

Errors in C:\Code\EntityFramework\test\Microsoft.EntityFrameworkCore.Tool

[2016-05-16 07:20] ErikEJ commented on #5373
Oh, looks like the cidev feed is being cleaned just now - will wait until later this week!

[2016-05-16 07:26] roji commented on #5366
@ajcvickers thanks for your response. What you makes sense to me, but I can see some code that may not correspond. Specifically, in SqlServerScaffoldingModelFactory.VisitPrimaryKey I can see a check whether the key is an identity. If not, and it's an integer or guid, ValueGenerated.Never is added. If I understand correctly, that means that sequence-driven integer keys (not IDENTITY) are scaffolded

[2016-05-16 13:42] reader-man commented on #4269
@rowanmiller Is there any road-map on this?

[2016-05-16 15:12] gdoron opened #5374 "Why is there no FromSqlAsync method?"
Hi,

I there a reason why all the LINQ methods have Async "overload" but `FromSql` does not?

Thanks

[2016-05-16 16:15] rowanmiller commented on #5374
It's because `FromSql` doesn't actually cause the query to execute. There are only async versions of the methods that cause the query to execute (i.e ToList, First, etc.).

[2016-05-16 16:25] gdoron commented on #5374
Hmm Oops.

![image](https://cloud.githubusercontent.com/assets/6141009/15295993/fa76389e-1b9b-11e6-8850-d021d33d22d4.png)

[2016-05-16 17:02] portal7 opened #5375 "[DatabaseGenerated(DatabaseGeneratedOption.Identity)] is not created on Code-First"
I'm adding a ADO.NET Entity Data Model to my Class Library Project, and after map all fields from tables, looks like [Key] Attribute Decorator was added but not **[DatabaseGenerated(DatabaseGeneratedOption.Identity)]** Attribute Decorator when **PK** and **Identity (1,1)** is configured on Database.

So, because this, needs to put manually on each Entity Class a new "[DatabaseGenerated(DatabaseGen

[2016-05-16 17:26] natemcmaster commented on #5371
@Mitch528 last time I checked, Mono has known issues with SqlClient and LINQ.

Also, we recommend .NET Core for Linux instead of Mono for running an app that does Linux => SQL Azure

[2016-05-16 17:50] maumar commented on #4582
fixed in c4776ac7fc24cdca6a64051f8e32377c1015b1d5

[2016-05-16 17:50] #4582 closed

[2016-05-16 18:00] ajcvickers commented on #5366
@roji If scaffolding is able to determine that the reason the key column has a default is because that default will generate a key value (which seems reasonable but I'm not sure how much can be inferred from the store metadata available) then it seems to me like this is a bug in scaffolding, or, at least, something that is currently not supported by scaffolding.

[2016-05-16 19:16] djechelon commented on #795
Replying to @ilmax

I think the most difficult part is to guess whether some modifications propagate to entities already within the session. This is not currently addressed by EntityFramework.Extended in my knowledge, and is supposed to cause troubles.

Example:
[code]

The above differs whether `Molly` is Eleanor's cat or not. If we can assure (only under proper transaction synchronization constr

[2016-05-16 19:36] djechelon commented on #795
Another point of discussion is that I like is the overload I have used in my examples: `int Update(this IQueryable<TEntity> dataSet, Expression<Func<TEntity,bool>> whereCondition, Action<TEntity> setClause);`

so

`context.Customers.Update(c => c.HasPendingPayments, c => c.Status = CustomerStatus.Disabled);`

Normally databases return the number of affected rows, and it is helpful to the applicati

[2016-05-16 19:41] rowanmiller opened #5376 "Reverse-Engineer: Scaffold-DbContext not working on ASP.NET Core project"
Found when updating this tutorial https://docs.efproject.net/en/latest/platforms/aspnetcore/existing-db.html

I'm guessing this is an issue in the way we hand off parameters to the CLI command that we shell out to.

[code]

[2016-05-16 19:44] natemcmaster commented on #5376
This is likely a powershell issue. Try using single quotes around the connection string.

[2016-05-16 19:46] rowanmiller commented on #5376
Same issue:

[code]

The exact same format works for a Full .NET Console application

[2016-05-16 19:50] maumar commented on #5347
Fixed in b8870c0946e069a70c143613962aa4817024c760

[2016-05-16 19:50] #5347 closed

[2016-05-16 20:19] maumar commented on #5107
This has been fixed in the current bits and the exception is no longer thrown. The reason why you see client evaluation warnings is due to #4588

If navigation between Offer and Item is marked as required, we produce the following query instead:

[code]

[2016-05-16 20:19] #5107 closed

[2016-05-16 20:23] maumar opened #5377 "Metadata :: confusing exception when setting up Navigation with shadow FK"
repro:

[code]

Exception:

System.InvalidOperationException: You are configuring a relationship between 'Offer' and 'Item' but have specified a foreign key on 'Offer'. The foreign key must be defined on a type that is part of the relationship.
   at Microsoft.EntityFrameworkCore.Metadata.Builders.ReferenceReferenceBuilder.SetDependentEntityType(String dependentEntityTypeName) in D:\k\EntityFramew

[2016-05-16 20:25] maumar commented on #5377
Note, this scenario works if OnModelCreating is changed to:

[code]

[2016-05-16 20:37] natemcmaster commented on #5376
Can you add `-Verbose` and share the output?

[2016-05-16 20:44] joshcomley opened #5378 ""Key_equality_when_sentinel_ef_property" test appears to be invalid"
`Microsoft.EntityFrameworkCore.SqlServer.FunctionalTests` > `ComplexNavigationsQuerySqlServerTest.cs` > `Key_equality_when_sentinel_ef_property()`

This test appears to be missing the where in the SQL assertion, and passing incorrectly (unless I can be corrected).

The base code is:

[code]

And the expectant SQL is:

[code]

It _should_ be:

[code]

I possibly have a fix, but I can't quite get an

[2016-05-16 20:53] rowanmiller commented on #5376
Ah, yep that was helpful, we should quote the connection string when we pass it to dotnet ef.

[code]

You can double quote like this and things work.

[code]

[2016-05-16 21:04] geoffmmorgan commented on #4683
I have verified this issues still exists with RC2. I have updated my original sample to RC2 binaries https://github.com/geoffmmorgan/MigrationTest/tree/master

[2016-05-16 21:13] divega commented on #5357
@ElvisHalil I am not sure how the `IQueryable<EnforcementSession>` is handled by the Web API stack but from looking the symptoms I suspect the result enumeration is not being completely consumed. If I had a complete repro, I would probably try a few things to rule causes out, e.g.:

1. Force the evaluation of the query, e.g. by adding `ToList()` in:

[code]

2. Enabling or disabling MARS in the co

[2016-05-16 21:20] geoffmmorgan commented on #4997
I can confirm this is still occurring in Visual Studio 2015 Update 2 with EF Core RC2. Same error message as previously.

[2016-05-16 21:23] lajones commented on #5366
@roji I've done some investigation on this. I still need to do some more. But the short answer is, after discussing with @divega, I agree with @ajcvickers and @divega - I think you can just call `HasDefaultValueSql()`, it will automatically set the property to `ValueGenerated.OnAdd` and you should be good to go.

**The long answer**

Re the test `SqlServerValueGenerationScenariosTest.IdentityColum

[2016-05-16 21:41] AndriySvyryd commented on #5338
@maumar this does not repro with latest bits:
[code]

[2016-05-16 21:41] #5338 closed

[2016-05-16 22:22] smitpatel opened #5379 "Migrations: MigrationsSqlGenerator fails to find correct property for column"
`FindEntityType` function
https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/Migrations/MigrationsSqlGenerator.cs#L786
`FindProperty` function
https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/Migrations/MigrationsSqlGenerator.cs#L793

`FindEntityType` can match with derived entity type also due to same mapp

[2016-05-16 22:26] smitpatel commented on #5216
@roji - 🐛 filed #5379
The same error happens for no configuration since, one of them is PK and its length will be limited for it and then it becomes same issue as the former.
You can override `OnModelCreating` method in derived classes like `InheritanceSqlServerFixture` and set provider-specific types there.

[2016-05-16 22:50] ElvisHalil commented on #5357
@divega I think my response is too large on that one.  I have made another web api using include and ThenInclude but with a ID parameter which returns relations for a single record instead of all my records and it seems to work fine.

I am returning IActionResult for the Web Api method on that one.

I changed my Web Api method GetAllSessions() which I posted above to return IActionResult and in fi

[2016-05-16 23:15] trailheadtechnology commented on #3317
So is there a fix in the main branch for this?

[2016-05-17 07:11] tmds opened #5382 "Unable to load DLL 'sqlite3'"
I followed the aspnet rc2 documentation to scaffold a `Web Application` using yeoman on Ubuntu 14.04. The `dotnet ef database update` fails:

[code]

project.json contains:
`"Microsoft.EntityFrameworkCore.Sqlite": "1.0.0-rc2-final"`

[2016-05-17 07:15] tmds commented on #5382
Manually installing `apt-get install -qqy sqlite3 libsqlite3-dev` fixes the issue.
Can't the native dependency be included in the package?

[2016-05-17 08:35] roji commented on #5366
@lajones and @ajcvickers, thanks again for the patient explanations, I think everything is good now.

Things that need to be done:

* To properly support scaffolding of sequence-driven keys in the Npgsql provider, I have already changed [the code here](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.SqlServer.Design/Internal/SqlServerScaffoldingModelFactory.cs#

[2016-05-17 13:59] yeasin90 opened #5383 "Migration fails for separate UWP Class library with new EntityFrameworkCore.SQLite"
I have two projects in my UWP solution : one is Blank App (Universal Windows) another is a Class Library (Universal Windows). I installed **Microsoft.EntityFrameworkCore.SQLite –Pre** and **Microsoft.EntityFrameworkCore.Tools –Pre** in the Class library project. When I tried to add the initial migration file with : **Add-Migration MyFirstMigration**, it throws a red coloured exception :

I was fol

[2016-05-17 14:26] sergeitemkin opened #5384 "Int32/Int64 properties with default value automatically annotated with SqlServerValueGenerationStrategy.IdentityColumn in migration"
After migrating to EF7 RC2 we've noticed that our `int` and `long` properties that are set with `HasDefaultValue` in the `ModelBuilder` are causing the migration script to annotate columns representing those properties with an identity attribute. This, in turn, causes an exception since defaults cannot be created on identity columns.

Here's a simplified example of the DbContext:

        public c

[2016-05-17 15:15] amokre commented on #4588
Will this be implemented in the RTM release?

[2016-05-17 16:13] ErikEJ commented on #5382
http://ef.readthedocs.io/en/latest/platforms/coreclr/getting-started-linux.html

[2016-05-17 16:13] natemcmaster commented on #5382
It's been considered. Unfortunately, sqlite doesn't currently distribute native sqlite for linux in a NuGet package. We're working with the SQLite team to change this. See https://github.com/aspnet/Microsoft.Data.Sqlite/issues/237

And yes, as you mentioned, the solution is to install sqlite natively on linux. https://github.com/aspnet/Microsoft.Data.Sqlite#ubuntu

Closing as a duplicate of #5100

[2016-05-17 16:17] natemcmaster commented on #5383
Can you share the output you see when execute `Add-Migration MyFirstMigration -Verbose`?

Also, there are currently known issues with using a UWP class library vs UWP application project. See https://github.com/aspnet/Microsoft.Data.Sqlite/issues/245 and https://github.com/aspnet/EntityFramework/issues/5069#issuecomment-216654757

[2016-05-17 16:21] erbatista opened #5385 "No database provider has been configured for this DbContext."
After replacing EF Core rc 1 with EF Core rc 2 final,  We are getting an invalid operation exception when calling GetService() method bellow, the full message:

[code]

We effectively are setting the database provider in OnConfiguring:

[code]

So it seems that the issue comes from the method GetService() not resolving the correct DbContext instance for the given DbSet.

[2016-05-17 16:25] mvermef opened #5386 "SQLite Migrate() - RC 2 - 20901"
Exception thrown: 'Microsoft.Data.Sqlite.SqliteException' in Microsoft.Data.Sqlite.dll
Additional information: SQLite Error 14: 'unable to open database file'.

this would be appropriate since I don't have it open, since it didn't create it........

[code]

nor

[code]

works at all...

[2016-05-17 16:28] ErikEJ commented on #5386
Platform? Connection string?

[2016-05-17 16:34] mtycholaz opened #5387 "Nuget package for rc2"
Haven't seen any updates to the NuGet packages yet. Are they coming soon?

[2016-05-17 16:40] rowanmiller commented on #5387
They are all on NuGet.org. The package names all changed for RC2 - https://docs.efproject.net/en/latest/miscellaneous/rc1-rc2-upgrade.html#package-names-and-versions.

[2016-05-17 16:42] rowanmiller commented on #5385
Can you share the code that you are using to register the context in services?

[2016-05-17 16:43] lajones commented on #5366
OK. Sounds good. :shipit:

[2016-05-17 16:49] natemcmaster commented on #5316
We can add more logging so its clear the process is not hung, but unfortunately our interaction with the console is heavily limited by `dotnet run`. See https://github.com/dotnet/cli/issues/1985

[2016-05-17 17:01] rowanmiller commented on #4996
@laskoviymishka

You can do this in `OnModelCreating`, using similar code to the snippet you posted that applies the RC1 naming convention. This is similar to the conventions we have in EF6.x - except that in EF Core we no longer need a special object model to store conventions since the model is already built and you can just directly manipulate it in `OnModelCreating`.

We do also have the conce

[2016-05-17 17:01] ElioBatista commented on #5385
@rowanmiller  this is a desktop WPF application. I forgot to mention that.
DbContext looks like the following:

 public abstract class DbContextBase : DbContext
{
        public DbContextBase(DbContextOptions<DbContextBase> options)
            : base(options)
        { }

public static ObservableCollection<TEntity> Local<TEntity>(this DbSet<TEntity> set)
            where TEntity : class
{

[2016-05-17 17:02] rowanmiller commented on #245
@gdoron the only thing that is supported at the moment is using `DbSet.FromSql` to run raw SQL to return results from a stored procedure. Proper stored procedure support will not be in the 1.0.0 release. See [the roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap#critical-orm-features) for more info.

[2016-05-17 17:06] #5316 closed

[2016-05-17 17:07] rowanmiller commented on #5385
Ah, got you - I thought the `GetService` call was to a DI container in ASP.NET Core 😄. Could you share a complete code listing that shows the error, it's a little hard to picture how things are all interacting with the snippets provided.

[2016-05-17 17:11] rowanmiller commented on #5317
We don't preemptively check if the database exists, but `EnsureDeleted` does return a `bool` letting us know if there was a database to drop or not... so we could log the result.

[2016-05-17 17:12] rowanmiller commented on #3583
Dupe of https://github.com/aspnet/EntityFramework/issues/734

[2016-05-17 17:13] mvermef commented on #5386
Sorry, UWP, UseSqlite("filename=data.db"), as was the case with RC1.  Pushing past the error with debugger does create but then app built on T10, just sits at splash screen churning on nothing...

[2016-05-17 17:13] gdoron commented on #245
@rowanmiller And what about the most common scenario (at least from my experience), that the SP doesn't return an exact table row but adds some of other tables?

E.g.

Customers:
Id,
Name,

Orders:
OrderId,
CustomerId,
Price

And there's a SP that returns something like this:

	select Sum(O.Price),  C.Name
	from Customers C
	inner join Orders O
		ON O.CustomerId = C.CustomerId
	where C.CustomerId

[2016-05-17 17:14] EvAlex commented on #3921
This should be a joke.

Before C# 6 we didn't have `nameof` and early versions of EF didn't have Include() method accepting lambda overload - only string. We somehow managed to get through. We made our own methods to determine property name based on lambda expression. Then EF embraced lambda parameter for Include() method and everything went well.

Now that there is `nameof` in C# one would think

[2016-05-17 17:15] rowanmiller commented on #5290
This seems to be a dupe of https://github.com/aspnet/EntityFramework/issues/5289 - we should be using the `[Column]` annotation to specify types that need to be manually set, regardless of whether they have a length or not.

Feel free to reopen if we missed something 😄

[2016-05-17 17:15] mvermef commented on #5386
It should either navigate to login (in this case, this was expected), or navigate it main page token existed

[2016-05-17 17:17] rowanmiller opened #5389 "Migrations: Include the operation type in SQLite "SQLite cannot support this migration operation" message"
And point to the limitations doc.

[2016-05-17 17:17] rowanmiller commented on #5307
Opened https://github.com/aspnet/EntityFramework/issues/5389 to provide more help in this situation.

[2016-05-17 17:18] rowanmiller commented on #5300
Could you retry with the [RC2 release](https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-entity-framework-core-rc2/)

[2016-05-17 17:21] smitpatel commented on #5290
During my discussion with @lajones , he mentioned that there is some issue on using data annotations specifically for the case when a length specified so I filed separate issue otherwise they are the same.
I also believe that all types (with or without length) can be specified using data annotations.

[2016-05-17 17:21] rowanmiller commented on #5309
Looks like a dupe of https://github.com/aspnet/EntityFramework/issues/3727 which was fixed in RC2. Can you retry on the [RC2 release](https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-entity-framework-core-rc2/).

Closing as we are pretty confident that this is resolved in RC2, please reply if not and we will reopen.

[2016-05-17 17:24] rowanmiller commented on #5331
EF doesn't untrack things once it saves, since you may make further edits to the objects and then save again.

You should use a new context instance for each save operation. We recommend using short lived contexts - i.e. keep them for the smallest scope that makes sense for your application.

[2016-05-17 17:25] rowanmiller commented on #5350
@AlexBilonog can you share the stack trace from the exception to help us isolate the issue?

[2016-05-17 17:27] rowanmiller opened #5390 "Improve end-to-end experience of annotating model and flowing thru migrations to schema"
Spun off from https://github.com/aspnet/EntityFramework/issues/5297 (flowing `[Description]` into SQL Server extended properties).

[2016-05-17 17:27] lajones commented on #5290
Sorry if I wasn't clear. The rule is if you are mapped to a the "default" type (e.g. C# string maps to SQL Server `nvarchar`) then you should use `[MaxLength]` and should _not_ have the `[Column(..., TypeName="type_includes_the_length")]` annotation. But if you map to a non-default type then you need `[Column(..., TypeName="type_includes_the_length")]` and any `[MaxLength]` will be ignored.

But w

[2016-05-17 17:27] rowanmiller commented on #5297
We don't intend to do this by default, but we do want it to be easy to plumb this thru model building and migrations. Opened https://github.com/aspnet/EntityFramework/issues/5390 to verify the experience (and document it).

[2016-05-17 17:27] ryanhall27 opened #5391 "Microsoft.EntityFrameworkCore.SqlServer in Class Library - RC2"
I'm having trouble getting Microsoft.EntityFrameworkCore.SqlServer working within a class library.  It is telling me that IX-Async and Remotion.Linq are not compatible with .NETStandard,Version=v1.5.

This is very easy to reproduce.  I just installed RC2.  Created a new project and chose Class Library (.NET Core).  Then installed Microsoft.EntityFrameworkCore.SqlServer rc2 via nuget, and get a com

[2016-05-17 17:28] yeasin90 commented on #5383
![capture](https://cloud.githubusercontent.com/assets/8789577/15332321/f40f6fa2-1c86-11e6-825c-f123f191e2f1.JPG)

[2016-05-17 17:28] rowanmiller commented on #5290
👍

[2016-05-17 17:29] natemcmaster commented on #5383
Can you add "-Verbose"?

[2016-05-17 17:29] yeasin90 commented on #5383
![capture](https://cloud.githubusercontent.com/assets/8789577/15332395/3bd4350c-1c87-11e6-8e35-6ac248006679.JPG)

[2016-05-17 17:31] natemcmaster commented on #5383
Thanks. Possible duplicate of https://github.com/aspnet/EntityFramework/issues/5293. This needs investigation.

[2016-05-17 17:31] yeasin90 commented on #5383
OK, that will be nice :+1:

[2016-05-17 17:32] rowanmiller commented on #245
@gdoron yep there is no nice way to handle that right now. What is available is really just a workaround for the lack of proper stored procedure support in EF Core.

We totally get that this is a massive limitation for an O/RM, just reiterating what the roadmap says about the list of missing features that stored procedure support is part of:

[2016-05-17 17:33] yeasin90 commented on #5383
just for a reminder : I am using **EntityFrameworkCore.SQLite –Pre** and **EntityFrameworkCore.Tools –Pre**

[2016-05-17 17:36] christianrondeau commented on #4797
I could not find any solution or reference to a solution in #3925 - I am using

When I run (in the Package Manager Console)

[code]

Here's the `dotnet` version:

[code]

Here's the `project.json` pieces that relate to EF:

[code]

I have installed `Microsoft .NET Core 1.0.0 RC2 - VS 2015 Tooling Preview 1` and `Microsoft .NET Core 1.0.0 RC2 - SDK Preview 1 (x64)`, I have fully uninstalled `RC1` b

[2016-05-17 17:42] gdoron commented on #827
@rowanmiller I don't see VIEWs support in the roadmap at all.
Do you really consider it be in in such a low priority that all the stuff in the roadmap are more important than VIEWs or you simply forgot to mention it?

Thanks

[2016-05-17 17:43] rowanmiller commented on #5344
The thing that made the difference between your original configuration...

[code]

And the new configuration...

[code]
Was the removal of `.WithOne(c => c.Customer)`. The original configuration was trying to use `CustomerAddress.Customer` as the navigation property for the two relationships - which is not supported by EF.

I do agree the outcome if confusing though, we will discuss and see what w

[2016-05-17 17:45] rowanmiller commented on #827
We just missed it off the list, I've added it to the roadmap.

[2016-05-17 17:47] rowanmiller opened #5392 "No executable found matching command "dotnet-ef""
Originally reported on [comments section of another issue](christianrondeau) by @christianrondeau

---

I could not find any solution or reference to a solution in #3925 - I am using

When I run (in the Package Manager Console)

[code]

Here's the `dotnet` version:

[code]

Here's the `project.json` pieces that relate to EF:

[code]

I have installed `Microsoft .NET Core 1.0.0 RC2 - VS 2015 Toolin

[2016-05-17 17:48] rowanmiller commented on #4797
@christianrondeau opened https://github.com/aspnet/EntityFramework/issues/5392 to help you with this one as all the known issues from this thread and #3925 are fixed.

[2016-05-17 17:51] laskoviymishka commented on #5317
@rowanmiller It's a good point, can i grab this issue and made PR for this?

[2016-05-17 17:54] gdoron commented on #827
@rowanmiller You might want to add a link in the roadmap to this PR for how it can be done in the meanwhile:  #4561 so people won't think there's absolutely no way of doing it.

Thanks

[2016-05-17 17:55] rowanmiller commented on #5384
"Identity pattern" is a more general concept in EF that means a value is generated for the property for new entities. For example, your Guid Id property is also setup as Identity in the model, since the values are generated for new entities. This is also true for default values, we need to get the values that was generated back from the database when the row is inserted (more obvious when the defa

[2016-05-17 17:56] rowanmiller commented on #5317
@laskoviymishka go for it, we moved it out of 1.0.0 purely for scheduling reasons, more than happy to take the change if it looks good. Take a look at [this recent PR](https://github.com/aspnet/EntityFramework/pull/5388) for guidance on how to store strings etc.

[2016-05-17 17:57] divega commented on #5391
Try changing your imports to look like this:

[code]

[2016-05-17 17:59] laskoviymishka commented on #5317
@rowanmiller yeah - everything to a resources. Thx!

[2016-05-17 17:59] laskoviymishka commented on #4996
@rowanmiller yes i can do this in `OnModelCreating` but this really looks like ducktape :sweat_smile: .

Regards to `TableNameFromDbSetConvention` my bad, not mentioned this :sweat:
If so my proposal little bit changed - what if we just add another implementation of `IBaseTypeConvention` for old convention? This will be more natural way to change naming. And will not broke anything.

[2016-05-17 18:07] rowanmiller commented on #1234
What we have is working and it's super low level and can probably be changed in the future if needed

[2016-05-17 18:07] ryanhall27 commented on #5391
That worked thank you very much!

What exactly is adding that doing?  I'm assuming this is kind of binding me to Windows (which is fine) given that sql server only works on windows.

[2016-05-17 18:08] rowanmiller commented on #3807
@maumar ping again 😄

[2016-05-17 18:13] rowanmiller commented on #5266
We'll remove IX-Async from public surface and then handle this post RTM

[2016-05-17 18:17] ErikEJ commented on #5383
I think the Toolsi have beenrenamed!?

[2016-05-17 18:23] flagbug commented on #5392
I'm seeing this too. Note that running `dotnet ef` via Powershell works fine, it's only in the VS Package Manager Console that it's not working.

[2016-05-17 18:24] onovotny commented on #5176
We have an unofficial build of Ix-Async here that has netstandard support. Work is in progress to make it official.

https://github.com/Reactive-Extensions/Rx.NET/issues/148#issuecomment-219506305

[2016-05-17 18:34] ElioBatista commented on #5385
@rowanmiller
 Here it is the relevant code, if you need more info let me know. The exception occurs in the method LoadUsers(), when invoking the extention method _**Local()**_
Thanks
[code]
The extention method looks like the following:

[code]

Finally the DbContext definition:
[code]

[2016-05-17 18:36] natemcmaster commented on #5176
@onovotny good news.

I assume this is why the assemblies aren't strong-named yet?

[2016-05-17 18:40] rowanmiller commented on #5376
We should add quotes when shelling to dotnet ef. Also check for other parameters where this may be an issue (i.e. spaces in output directory).

[2016-05-17 18:47] rowanmiller commented on #5383
Are those the package names, or do you have **Microsoft.EntityFrameworkCore.SQLite** etc.

[2016-05-17 18:51] onovotny commented on #5176
Bingo. We could do an OSS sign but the Rx.NET repo only has the public keys checked in. There are two things we need -- the full SNK and Authenicode. The Authenticode signing will be moving to the .NET Foundation, not sure how this affects the strong name, or are those separate?

[2016-05-17 18:54] mvermef commented on #5386
If I keep continuing it will create the database, not sure of the issue yet.

[2016-05-17 18:59] lajones commented on #3987
Fix checked in with a065b93.

[2016-05-17 19:14] natemcmaster commented on #5376
We do add quotes for spaces. I suppose the fix is to also check for parenthesis.

https://github.com/aspnet/EntityFramework/blob/a065b9377c7f24beb12422b3809002677febe736/src/Microsoft.EntityFrameworkCore.Tools/tools/EntityFramework.psm1#L690

[2016-05-17 19:17] mtycholaz commented on #5387
Sweet, thanks!

[2016-05-17 19:21] natemcmaster commented on #5176
@onovotny IIUC strong name and authenticode are separate. e.g. EF nightly builds on myget.org/gallery/aspnetcidev have been built with strong-named signing but haven't been code-signed yet.

Side note: I'm testing the builds on http://myget.org/gallery/rxnet. Where should I file issues? Do you have a fork?

[2016-05-17 19:35] divega commented on #5376
Can we just always quote specific arguments?

[2016-05-17 19:44] peirens-bart commented on #5309
I was not able to test RC2, the dependency" Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final" and "Microsoft.EntityFrameworkCore.Tools 1.0.0-preview1-final" is not supported.

I'm only using dnxcore50 as runtime.

[2016-05-17 19:55] natemcmaster commented on #5376
I don't see why not.

[2016-05-17 19:56] b-butcher opened #5393 "RC2 SqlServer fails with simple update on table with RowVersion field"
A single-table update fails when updating an existing record that contains RowVersion field.  The issue is that "@inserted1" is re-used as a variable name.

Here is the trace:

SET NOCOUNT ON;
DECLARE @toInsert1 TABLE ([ActionType] nvarchar(6), [Key1Value] nvarchar(100), [Key2Value] nvarchar(100), [Key3Value] nvarchar(100), [TableName] nvarchar(100), [UserId] nvarchar(40), [_Position] [int]);
INSE

[2016-05-17 20:00] divega commented on #5393
cc @AndriySvyryd

[2016-05-17 20:09] AndriySvyryd commented on #5344
We decided to throw in this case as it seems to be fairly common.

[2016-05-17 20:22] divega commented on #5386
Are you calling

[2016-05-17 20:24] mtycholaz opened #5394 "Add-Migration command fails with "Value does not fall within the expected range." error"
http://imgur.com/Oi9FI2A

Not much to go on, so let me know what you'd like. I simple removed my existing migration to add a new one. Using UWP and SQLite

[code]

I even tried a new class library project, and copied from the example [here](https://docs.efproject.net/en/latest/platforms/uwp/getting-started.html), but I still get the same error.

[2016-05-17 20:24] divega commented on #5386
A few questions:
- Does this happen in debug, release or both?
- Is this code in an app or in a class library?
- Are you calling `SqliteEngine.UseWinSqlite3()`?
- Otherwise, do you know what version of sqlite3.dll is begin loaded by the application?

[2016-05-17 20:33] divega commented on #5391
Imports can be used to allow packages that use .NET Standard to interoperate with packages that were originally built against other targets. We are working with the owners of IX-Async and Remotion.Linq so that they can add .NET Standard support in their packages, after which this workaround should become unnecessary.

[2016-05-17 20:35] divega commented on #5391
Not really :smile: The .NET Core version of System.Data.SqlClient works cross-platform and even SQL Server on Linux is coming https://www.microsoft.com/en-us/server-cloud/sql-server-on-linux.aspx

[2016-05-17 20:48] Tasteful opened #5395 "Remove culture dependency from OrderBy tests"
I'm running the following test and what I can see the result is not correct.
[code]

In the base class https://github.com/aspnet/EntityFramework/blob/1.0.0-rc2/src/Microsoft.EntityFrameworkCore.Specification.Tests/QueryTestBase.cs#L5231 the query is executed two times. First with the local created copy of data and after with data from database.

Method looks like the following
[code]

When debuggi

[2016-05-17 21:16] mikary commented on #3141
Ran the original repro and it now throws a `NullArgumentException` in query compilation `NavigationRewritingExpressionVisitor.RewriteNavigationProperties`. @maumar noted this issue is potentially related to #5191, but looks like a more complex case. The exception / call stack is the same when using key comparisons

[code]

[2016-05-17 21:23] Thealexbarney opened #5397 "Updating entity with optional one-to-one relationship"
I just upgraded from RC1 to RC2, and I'm seeing some different behavior from RC1 with this code:
https://gist.github.com/Thealexbarney/2cfec11d8cbd211ff89e8dad51798248

When you update an entity with an optional one-to-one relationship using the other entity in that relationship, RC1 will update the foreign key, but RC2 will not, making it so you have to manually update the foreign keys.

Is this

[2016-05-17 21:26] maumar commented on #3807
@anpete I copied the initial repro and got the same result as the customer. Now I also added filter:

[code]

And the query plan is as follows:

[code]

[2016-05-17 21:37] smitpatel commented on #5392
I hit the same error. Then I changed the current directory to the one where `project.json` was present and it works.

[2016-05-17 21:43] smitpatel commented on #5394
dupe of #5383

[2016-05-17 21:50] rowanmiller commented on #5309
Yeah you would need to move your whole project to RC2, not just the EF parts. DNX is retired in favor of .NET Core in RC2.

Here are the applicable docs:
* [Migrating from DNX to .NET Core](http://dotnet.github.io/docs/core-concepts/dnx-migration.html)
* [Migrating from ASP.NET 5 RC1 to ASP.NET Core 1.0 RC2](https://docs.asp.net/en/latest/migration/rc1-to-rc2.html)
* [Migrating your Entity Framewo

[2016-05-17 21:57] rowanmiller commented on #5392
Ah, I missed that. You are using `dotnet ef` in Package Manager Console? That's not really an intended thing to do since we have proper PowerShell commands that have much richer context on the project etc. than the command line tool. You would typically use `Add-Migration`, `Update-Database`, `Scaffold-DbContext` etc. from Package Manager Console.

[2016-05-17 22:01] AndriySvyryd commented on #5393
@b-butcher Could you provide a small repro project?

[2016-05-17 22:09] rowanmiller commented on #4461
@Skinney I think they would all need to be the same. I think what you really want is type conversion so that EF can handle a string from the database mapping to your `Email` type.

[2016-05-17 22:10] rowanmiller commented on #4269
@reader-man not yet. At this stage I think it will be something we tackle once we get 1.0.0 released.

[2016-05-17 22:23] rowanmiller commented on #5385
@ajcvickers is it intended to be able to resolve the context from the service provider?

A simplified repro without any base classes etc.

[code]

[2016-05-17 22:37] mikary commented on #3674
Verified and added test coverage to prevent future regressions.

[2016-05-17 22:37] #3674 closed

[2016-05-17 22:38] mikary commented on #3913
Verified that the issue does not reproduce in current dev and added test coverage to prevent regressions

[2016-05-17 22:38] #3913 closed

[2016-05-17 22:58] natemcmaster commented on #5125
Fixed a while ago.

[2016-05-17 22:58] #5125 closed

[2016-05-17 23:00] MMalikKhan commented on #3768
Hi I am having the same issue with the .Net Native, i have this line present in the default.rd.xml

    <Type Name="System.Collections.ArrayList" Dynamic="Required All" />

could you please suggest what i am missing ?

[2016-05-17 23:03] lajones commented on #3987
See comments in #5360. Need to add <space> as a word separator.

[2016-05-17 23:04] MMalikKhan commented on #5163
Hi @rowanmiller  i am also facing the same issue in the UWP app. while running this in release mode. I found this  [link](https://github.com/aspnet/EntityFramework/issues/3768)  which suggest you need to add <Type Name="System.Collections.ArrayList" Dynamic="Required All" /> and this  already exist in my default.rd.xml file could you please suggest what could be wrong ..

here is the code on which

[2016-05-17 23:14] natemcmaster commented on #5163
@MMalikKhan this issue shouldn't affect RC2. See http://ef.readthedocs.io/en/latest/platforms/uwp/getting-started.html and https://github.com/aspnet/Announcements/issues/170

[2016-05-17 23:19] anpete commented on #5266
@divega @rowanmiller I noticed a few other non-internal APIs where the interface shows up. They are all provider APIs, so it seems OK.

[2016-05-17 23:20] MMalikKhan commented on #5163
Hi @natemcmaster where is RC2. The version i am using is 7.0.0 Rc1 Final .. is there an RC2 for EF 7?

[2016-05-17 23:21] natemcmaster commented on #5163
@MMalikKhan we rebranded since RC1, so the packages have been renamed. Checkout http://ef.readthedocs.io/en/latest/miscellaneous/rc1-rc2-upgrade.html. This includes the list of all the new package names and known issues in upgrading from RC1.

[2016-05-17 23:27] natemcmaster commented on #5392
Too bad dotnet/NuGet don't support "global commands" yet (https://github.com/NuGet/Home/issues/1605). DotNet CLI can only resolve "dotnet-ef" when it is within the project directory. This is something EF can't do anything about.

[2016-05-17 23:28] MMalikKhan commented on #5163
oh.. thanks for the link, just to make it clear .. i am already using VS 2015 Update 2. However just checked the UWP version it is attached to my app. UAP,Version=10.0.10240.0 and i believe the latest is  10.0.10586 am i right?
I need to point to the latest version that is 10586 and also update from RC1 to RC2 run in the release mode.. ?

[2016-05-17 23:31] julianpaulozzi commented on #5384
+1

[2016-05-18 00:23] divega commented on #3768
@MMalikKhan are you using RC1 or RC2 bits? Most of the issues with .NET Native have been fixed for RC2 and the workarounds explained here are no longer necessary, but we require version 1.3.1 of the Universal Windows App Development Tools which are included in Visual Studio 2015 Update 2.

[2016-05-18 00:57] MMalikKhan commented on #5163
thanks @natemcmaster, i updated the project to Rc-2 and i have a new error now for the above line?
var items =
db.Templates.Include(t => t.Media)
.ToList()
.Select(t => TemplateViewModelFromTemplate(t, null))
.OrderBy(t => t.Title)
.ToList();

Note: this is a method which is returning a different object based on the values of t?
Additional information: The given expression 'value(iAuditorUWP.ViewM

[2016-05-18 00:59] MMalikKhan commented on #3768
@divega  based on the @natemcmaster reply [here](https://github.com/aspnet/EntityFramework/issues/5163)
i updated the packages to Rc-2 but i am still have issue with the same line of code.. not its compiling but the error is at run time..

[2016-05-18 01:03] divega commented on #5266
I guess will have to live with that for now. I don't know how we could get away with not having a representation for async collections at this level.

[2016-05-18 01:11] abdu292 commented on #5383
Hey, Wondering why this issue is closed. It appears that all tickets are referenced back to each other saying "duplicate".

I am stuck, after the migration to RC2 with the same error. Planned my UWP app publishing this weekend. It would be great if someone can help me with a workaround to resolve this issue.

[2016-05-18 01:18] reader-man commented on #4269
Thank you very much,
 Yes its logical, but you know, MS Purchase of Xamarin made a big fuss with .Net developers (the happy kind of fuss), so anything in the .Net Core as a whole, or its parts like the EF Core, is needed to be going to the xamarin/PCL direction.

[2016-05-18 01:56] divega commented on #5383
@abdu292 this issue is not closed.

[2016-05-18 02:06] abdu292 commented on #5383
Okay. Thank you @divega . Being new to Github web pages, I miss understood something may be. Also I reverted back my changes to RC1 for now from my TFS changeset. Hope to see some one giving a workaround to use RC2 (since RC1 doesn't work with consecutive migrations, we always need to delete & recreate the db).

[2016-05-18 02:28] robbpriestley opened #5404 "Npgsql.NpgsqlException: Exception while reading from stream"
Trying to get EF working with PostgreSQL using ASP.NET Core 1.0

Worked through a series of dependency, reference, and compile issues.

Successfully did a `dotnet ef migrations add initial`

(That means it had to compile)

When trying a `dotnet ef database update` I get:

But there's no way it can be a timeout in the traditional sense. It happens almost instantaneously. Additionally, I have verifi

[2016-05-18 02:35] anpete commented on #5404
cc @roji

[2016-05-18 02:56] MMalikKhan commented on #5163
@natemcmaster @maumar  I am getting this error after Rc2 upgrade and trying to generate migrations

System.IO.FileLoadException: Could not load file or assembly 'System.Reflection.TypeExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x

[2016-05-18 03:15] mvermef commented on #5386
in app, debug so far.

not calling SqliteEngine.UseWinSqlite3()....

SQLite -> v3.11.0  is present in bin/debug/x86 folder

[2016-05-18 03:32] yeasin90 commented on #5383
Yes, I have **Microsoft.EntityFrameworkCore.SQLite** etc

[2016-05-18 04:35] AuroraDysis commented on #5386
maybe you should create corresponding folder first

[2016-05-18 06:14] mvermef commented on #5386
why would I need to do that?  RC1 didn't require it why would RC2?

[2016-05-18 06:20] MMalikKhan commented on #5386
Its also happening in my app which i updated from RC1 to RC2 today. Same SQLite Version 3.11.0. this was all working fine in the RC1 for me it crashes on the line MigrateAsync? what has been changed here which needs to be updated in the below code? like @mvermef  said, after clicking continue bunch of times it does create that file in the required directory. any help is appreciated @divega @natemc

[2016-05-18 07:04] roji commented on #5404
@robbpriestley this is probably a duplicate of https://github.com/npgsql/npgsql/issues/1100, let's continue the conversation there. Some notes:

* Please post the OS and version you're on
* You should depend on Npgsql "3.1.0" - remove the floating asterisk. You should probably do the same with EFCore (1.0.0-rc2-final) and EFCore.Tools(1.0.0-preview1-final)
* Can you make sure your NuGet.Config doe

[2016-05-18 11:21] MMalikKhan commented on #5163
@natemcmaster @divega  after further drilling i found this buried in the logs
ILTransform_0027: Ambiguous type name detected. There are types with name 'System.Collections.ArrayList' in both assembly 'System.Collections.NonGeneric' and 'System.Xml.XmlSerializer'. This directive is ignored. Consider placing this directive within an Assembly scope.

could you please let me know how can i resolve thi

[2016-05-18 12:18] beho opened #5406 "Duplicate foreign key generated after RC1 -> RC2 migration"
Two simple models:

    public abstract class TicketBatch
    {
        [Key, DatabaseGenerated( DatabaseGeneratedOption.Identity )]
        public int Id { get; set; }
        public List<Ticket> Tickets { get; set; }
    }

    public class Ticket
    {
        [Key, DatabaseGenerated( DatabaseGeneratedOption.None )]
        public Guid Guid { get; set; }

        public int TicketBatchId { get;

[2016-05-18 12:43] christianrondeau commented on #5392
Thanks @rowanmiller, I confirm that I indeed can run `dotnet ef` when outside of the `Package Manager Console`. I understand that you can't even display a helpful error message, since your code doesn't even get called. `dotnet` however still responds in the `Package Manager Console`, so maybe something can be done there to either give a helpful message *or* make it work there too? It's a very conv

[2016-05-18 12:57] divega commented on #5163
That directive in the rd.xml file us no longer used in RC2 and with the 1.3.1 version of the Windows Universal Apps tooling. Have you reviewed the getting started document that @natemcmaster pointed to recently? Instructions have actually changed for RC2.

[2016-05-18 13:04] MMalikKhan commented on #5163
@divega yeah i did .. i am pretty sure i might be doing something wrong, right now i am struck from morning to make this EF work. its crashing with the below error on the below line.. it work perfectly fine in debug more but crashes in the release mode ..  i tried creating with other method and i still got the same error. after the below error it show this error cannot open SQL

I appreciate all y

[2016-05-18 13:09] jingliancui opened #5407 ".NET Native: ef with prism library 's throw exception"
Property 'Count' was not found on type 'System.Collections.ArrayList'.

I writed 2 sample in onedrive,you can see different between both these.
Here is the link:
https://onedrive.live.com/redir?resid=C78B7E4A6377EC22!249164&authkey=!AN8hVlZgjwIc5Bg&ithint=file%2crar

[2016-05-18 13:09] MMalikKhan commented on #5386
@divega  @natemcmaster any update on the above issue, i have to make my work work in release mode but i cannot move forward with this error

first i get the error
Exception thrown: 'System.ArgumentException' in System.Linq.Expressions.dll

Additional information: Instance field '_root' is not defined for type 'Microsoft.Extensions.DependencyInjection.ServiceProvider'

then followed by the above me

[2016-05-18 13:20] divega commented on #5163
Are you hitting all these errors trying to update an application you had previously created with RC1? Have you tried instead creating one from scratch following the up to date instructions? I am not sure what different it could make besides not having the directives file,  but I would try it anyway because the fact is we have no problems creating UWP apps with RC2 bits and the new tooling.

Also h

[2016-05-18 13:26] MMalikKhan commented on #5163
@divega thanks, what you mean by tooling? i am using the latest UWP platform "UAP,Version=10.0.10586.0" ? i deleted the app and in release mode it is u

[2016-05-18 13:27] MMalikKhan commented on #5163
it is unable to create the database.. it just create the database file but no tables

[2016-05-18 13:27] divega commented on #5163
A few more things, in case you have mixed up packahes
- What NuGet feeds are pulling packages from? Since published RC2 you should only have the official NuGet.org one
- What exact names of packages are you installing? Microsoft.EntityFrameworkCore.Sqlite and Microsoft.EntityFrameworkCore.Tools is what you need since package names changed in RC2
- Have you cleared up your local NuGet package cache

[2016-05-18 13:28] MMalikKhan commented on #5163
after that the code just crashes because the tables are null.. it all works fine in debug mode.. i think, i am missing something very specific with the database creation using DI service. As the error is with the DI service not able to get some objects

[2016-05-18 13:33] MMalikKhan commented on #5163
yes i have cleared everything.. i dont see any issue with that, after looking further.. @natemcmaster shared link have all the mappings that i needed to migrate. but i think i have no part doing this .. [this](http://ef.readthedocs.io/en/latest/miscellaneous/configuring-dbcontext.html#using-dbcontext-with-dependency-injection)

do you have a simple sample which uses autofac or any DI and shows how

[2016-05-18 13:34] MMalikKhan commented on #5163
when should i call this ?
public void ConfigureServices(IServiceCollection services)
{
    services.AddDbContext<BloggingContext>(options => options.UseSqlite("Filename=./blog.db"));
}

in my app.cs when the application first start to register my app context with specific parameter?

[2016-05-18 13:36] divega commented on #5163
See https://blogs.msdn.microsoft.com/dotnet/2016/04/18/whats-new-for-the-net-native-compiler-and-runtime-in-visual-studio-2015-update-2/,  in particular the screen shot from the selection list in the installer.

The error you mentioned actually sounds more like your application is using a stale version of the DI package.

Again I encourage you to try creating a UWP application  from scratch to con

[2016-05-18 13:43] MMalikKhan commented on #5163
@divega AFAIK just went to see that tooling by going to VS Modify setting and guess what it says i was actually on 1.3.1 it says deprecated and there is 1.3.2 available for update the UAP,Version=10.0.10586.0 is still the same..

[2016-05-18 13:44] divega commented on #5163
public void ConfigureServices(IServiceCollection services)

Not sure. That method normally only exists in the start up class in ASP.NET Core apps. It doesn't apply to UWP apps, unless you chose to create your own method mimicking how ASP.NET Core apps work with DI. Where did you copy it from?

Normally for non-ASP.NET Core apps you would just  override the `OnConfiguring()` method on the DbContext

[2016-05-18 13:45] MMalikKhan commented on #5163
i got all this from [here](http://ef.readthedocs.io/en/latest/miscellaneous/configuring-dbcontext.html#using-dbcontext-with-dependency-injection)  this is the link that @natemcmaster shared with me .. for migration from RC1 to RC2

[2016-05-18 13:48] robbpriestley commented on #5404
@roji thanks. I followed your advice above, issue persists. I'll head over to [npgsql/npgsql#1100](https://github.com/npgsql/npgsql/issues/1100) and check things out. OSX by the way.

[2016-05-18 13:49] divega commented on #5163
Ok. Still,  that pattern is specific to ASP.NET Core as clarified in http://ef.readthedocs.io/en/latest/miscellaneous/rc1-rc2-upgrade.html#adddbcontext-startup-cs-changes-asp-net-core-projects-only

[2016-05-18 13:51] MMalikKhan commented on #5163
i have something similar.. i have onConfiguring and inside that the call to UseSqlite .. and then i have a IDataStorageService which i have a method to GetDBContext and any viewModel or anywhere int the app if i need to open conenction i am injecting IDataStorageService and calling

(var db  = await dataStorageService.GetDbContext())
{
do stuff
}

these are the only lines inside the implementaiton

[2016-05-18 13:55] MMalikKhan commented on #5163
@divega any idea what i am missing here that is causing this error ? @natemcmaster

[2016-05-18 13:59] divega commented on #5163
No, I have enumerated everything I could think of and I have ran out of ideas. As I told you before I think if you create a simple UWP that uses EF from scratch and that works that might be a good start.

[2016-05-18 14:02] DamianReeves commented on #5376
Also it seems that it doesn't like when I pass a connection string with a dash ('-'), for example  in it, even with the double quote suggestion.

**So running**:

[code]
**Yields:**

[code]

[2016-05-18 14:04] MMalikKhan commented on #5163
thanks @divega i was having the exact same error attached in this issue when i first started troubleshooting, in order to fix that i have updated form RC1 to RC2 and now struck at creating the database.. i m still not sure once i pass this i will hv the to once again  above issue.. i believe in this ticket it was made obvious why this error was coming ? #5386 and it is still open can you suggest w

[2016-05-18 14:05] MMalikKhan commented on #5386
@mvermef hey .. did you happen to find any solution or work around, i am having the same issue in relase mode .. and code runs fine in debug mode.. appreciate your quick response

[2016-05-18 15:45] shrib commented on #5376
Not sure if this is related, but I get this message in the PMC after installing RC2:
The term 'Scaffold-DbContext' is not recognized as the name of a cmdlet, function, script file, or operable program.

[2016-05-18 15:57] Villason commented on #3464
Shouldn't this bug be reopened? I am having it with with RC1 code: #5369

[2016-05-18 16:02] mikary commented on #3424
@divega the test is still disabled but it appears to work consistently now when enabled.

[2016-05-18 16:05] smitpatel commented on #5406
Explicit configuration should not be required. The only reason Migration would generate a different FK because it did not find it in ModelSnapshot file. Can you share ModelSnapshot file from RC1 time if you have. (It gets re-written after adding new migration so the present one might be different).

ModelSnapshot file has changed over the time due to some bug fixes. I am not sure if the file from

[2016-05-18 16:09] smitpatel commented on #3464
@Villason - This bug has been fixed in RC2. Can you upgrade to RC2 and see if you are still seeing it.

[2016-05-18 16:11] lajones commented on #5289
Fix checked in with commit 2d30f14.

[2016-05-18 16:11] #5289 closed

[2016-05-18 16:22] #5258 closed

[2016-05-18 16:26] #4986 closed

[2016-05-18 16:29] natemcmaster commented on #5376
@shrib what version of OS and Visual Studio? If you have Win7 and Powershell 2.0, it's possible installing the EF cmdlets died silently. cref https://github.com/aspnet/EntityFramework/issues/5292

@DamianReeves weird. We had a similar bug https://github.com/aspnet/EntityFramework/issues/5260. Apparently my fix in #5263 didn't completely work. As a workaround you can invoke dotnet-ef directly. You'

[2016-05-18 16:35] shrib commented on #5376
Ah! Yes...that seems to be the issue. I'm running VS 2015 Update2 with RC2 tooling on Windows 7 running PS 2.

So:
1. Wait for that bug to be closed?
2. Upgrade to latest PS
3. Upgrade PS, uninstall and install RC2?

Thank you!

[2016-05-18 16:51] natemcmaster commented on #5386
@MMalikKhan I'm going to try to answer the original question posted in this issue. For the error you encountered https://github.com/aspnet/EntityFramework/issues/5386#issuecomment-220020630, can you open a separate issue?

@mvermef let me make sure I understand the problem. This the bug here that the database never gets created? Or is it that the exception is thrown?

Some background that may help

[2016-05-18 16:54] natemcmaster commented on #5376
@shrib Upgrade powershell and restart VS. You're hitting one of [our known issues.](https://docs.efproject.net/en/latest/cli/powershell.html#error-the-expression-after-in-a-pipeline-element-produced-an-object-that-was-not-valid). To workaround, upgrade PowerShell to 5.0. https://www.microsoft.com/en-us/download/details.aspx?id=50395

[2016-05-18 16:55] divega commented on #3424
Cool. Please go ahead and re-enable and close the issue. We can revisit if it starts failing again.

[2016-05-18 16:59] rowanmiller commented on #5406
I think this is model building, not migrations. It looks like we are introducing a shadow FK for the relationship (`TicketBatchId1`) rather than using the one that should match by convention (`TicketBatchId`).

@beho can you share the complete model so that we can work out why it is doing this?

[2016-05-18 17:03] OlsonDev commented on #5076
Just came across this and didn't find the mention of `<TContext>` in the exception message very helpful. I think you should also mention `ApplicationDbContext` is the default implementation. I had to create a project from a VS template to see which concrete core implementation to use.

[2016-05-18 17:03] natemcmaster commented on #5392
@christianrondeau bingo. We'd need changes to dotnet, NuGet, or VS to make this easier to use. Potential feature requests that may help:  https://github.com/dotnet/cli/issues/917, https://github.com/dotnet/cli/issues/2939, NuGet/Home#1605

[2016-05-18 17:15] rowanmiller commented on #5266
Agreed, we can be sensible about when we actually remove the dependency and coordinate with providers.

[2016-05-18 17:18] #5266 closed

[2016-05-18 17:18] rowanmiller commented on #5384
As a workaround for this issue, you should remove the `.Annotation(...)` call in the scaffolded migration. Obviously that's just a workaround and we'll get this issue fixed for RTM.

[2016-05-18 17:19] #5365 closed

[2016-05-18 17:22] mikary commented on #4581
Ran the following sample against `Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final` and it produced the expected output without issue (`GroupBy` is performed on the client, as expected).

[code]

Generated SQL
[code]

[2016-05-18 17:24] rogerhendriks commented on #827
@rowanmiller great to see it's on the roadmap! Kutgw

[2016-05-18 17:25] rowanmiller commented on #5392
It should work if you `cd` into the project directory within Package Manager Console. The error is because PMC is at the solution directory by default. Though you will hit a rough edge where PMC will report an error even though the command executes correctly.

If you have PMC, is there a reason you would use `dotnet ef` over the PowerShell commands?

[2016-05-18 17:26] ajcvickers commented on #5385
@rowanmiller AddDbContext is currently the only place where we register the DbContext directly in D.I., and then only by the type of your context, which is usually not the base DbContext type.

We do have an internal service, ICurrentDbContext, that can be used to get the current context that is being used. This is explicitly not registered as DbContext because of issues with scoping when people u

[2016-05-18 17:29] rowanmiller commented on #5241
@dteichman as you've probably worked out by now, this is really a game of trial and error. Did you delete the contents of `%USERPROFILE%\.nuget`? With all the changes to package versions it's possible to get the NuGet cache in a bad state when using the nightly feeds.

[2016-05-18 17:31] rowanmiller commented on #5318
**EF Team Triage:** Our plan is to also have [string based include](https://github.com/aspnet/EntityFramework/issues/3921), we just haven't implemented it yet. With the new C# `nameof` feature, this gives a decent way to handle these more dynamic scenarios. At this stage, we aren't really keen to enable a second pattern for lambda based includes.

[2016-05-18 17:33] rowanmiller commented on #5361
The issue was that I hadn't built the project, and tab completion doesn't trigger a build. We should dig into whether we can improve this post RTM.

[2016-05-18 17:33] mikary commented on #3424
Re-enabled in #5408

[2016-05-18 17:33] #3424 closed

[2016-05-18 17:34] rowanmiller commented on #5368
@ErikEJ you should be able to override the `HistoryRepository` for RTM. We agree this should be fixed though, but we're going to have to deal with it post-1.0.0. We would of course take a PR if you wanted to go down that route 😄 .

[2016-05-18 17:39] rowanmiller commented on #5371
This is an issue in Mono - I believe this is the corresponding bug in the Mono issue tracker https://bugzilla.xamarin.com/show_bug.cgi?id=24719.

[2016-05-18 17:41] rowanmiller commented on #5375
@portal7 if the primary key is an integer then the `DatabaseGenerated` attribute wouldn't be generated because integer primary keys are set to Identity by convention. We only generate attributes for things that do not get set by convention.

[2016-05-18 17:42] rowanmiller commented on #5371
See also https://github.com/mono/mono/pull/1773

[2016-05-18 17:43] rowanmiller commented on #5378
This is correct, the LINQ pattern in the test is currently not translated to SQL and so resorts to client evaluation. We're working on DefaultIfEmpty support and that's what will enable this (since it's a join thru an optional navigation property).

[2016-05-18 17:46] rowanmiller commented on #5392
Closing as there isn't really anything we can do here. `dotnet` commands need to be invoked in the directory for the project that the command is registered in. Happy to keep discussing on this thread though.

[2016-05-18 18:13] shrib commented on #5376
Perfect... that worked. Thank you @natemcmaster !

[2016-05-18 18:47] ErikEJ commented on #5368
Sure, I will consider a PR when I am able to build again...

[2016-05-18 19:03] mvermef commented on #5386
From watching execution of the code there is no First Chance Exception, the only exceptions that are dropped into output are theses....

Exception thrown: 'System.Reflection.TargetException' in mscorlib.ni.dll
Exception thrown: 'System.Reflection.TargetException' in mscorlib.ni.dll
Exception thrown: 'System.InvalidOperationException' in Microsoft.EntityFrameworkCore.dll
Exception thrown: 'System.I

[2016-05-18 19:16] ilmax commented on #795
@djechelon Good points, IMO at first we can reject set-based query if the context is already tracking object of the same type, unless it's proven to be very simple to propagate changes to tracked objects.

About the second example `context.Cats.Update(
    c => c.Id = 657,
    c => c.Owner.Sick = true
);
`
I propose to not support that case initially and evaluate based on community feedbacks if th

[2016-05-18 20:18] peirens-bart commented on #5309
Rowan

I'm not totally understanding the new .Net core, is it possible to give an example of a project.json file that is using EF rc2 en is not an mvc project but a class library.

Just to give more context,
I'm using VS 2015 pro 14.0.25123.00 Update 2 and I'm keep having the same error, that the rc2 versions are not supported.

[2016-05-18 20:31] smitpatel commented on #5309
Tools won't work in class library project see #5320
this is sample project.json for .NET Core class library project to use SqlServer provider
[code]

[2016-05-18 20:51] rowanmiller commented on #5391
FYI the issue tracking this is https://github.com/aspnet/EntityFramework/issues/5176

[2016-05-18 20:55] lajones commented on #5353
Fix checked in with c6e0f04.

[2016-05-18 20:55] #5353 closed

[2016-05-18 21:23] lajones commented on #3987
Blocked pending discussion between @divega, @rowanmiller and me to decide final design.

[2016-05-18 22:11] #4425 closed

[2016-05-18 22:13] ajcvickers opened #5410 "Update scaffolding to use ScaffoldingTypeMapper"
This follows the changes made for #4425 which provides more information from the type mapper to scaffolding on what to scaffold for a given property. However, the implementation assumes that IsUnicode has been implemented and so this cannot be done until that issue is fixed--see #3420.

[2016-05-18 22:13] skofman1 opened #5411 "Microsoft.EntityFrameworkCore.Tools crashes when a new version of NuGet.packaging is referenced"
Repro:
1. Create a project that references Microsoft.EntityFrameworkCore.Tools version 1.0.0-preview1-final
2. Add reference to NuGet.Packaging version 3.5.0-rc-1309 (available on https://www.myget.org/F/nugetbuild/api/v3/index.json)

project.json example:

[code]
Run:
` dotnet ef database update `

The error:

[code]

The error is caused because Microsoft.EntityFrameworkCore.Tools has a dependenc

[2016-05-18 22:41] natemcmaster commented on #5411
This is a general problem for all dependency-type tools because these tools are not isolated from the app's dependencies.

"Microsoft.DotNet.Cli.Utils" has an open-ended dependency.

[code]

This means there are no guardrails and, you--the app developer--must ensure peer dependencies added to your app are compatible with the tool.

Solution: specify compatible [version ranges](https://docs.nuget.o

[2016-05-18 22:41] alex-novikov-1990 opened #5412 "Mapping strongly typed identities in RC2"
In RC1 I used following code as workaround to map strongly typed identities to database, but it doesn't work in RC2 and I can't figure out another good workaround:

[code]

[code]

[2016-05-18 22:45] toddtsic commented on #5376
I'm getting: Value cannot be null. Parameter name: fileName

to

Scaffold-DbContext -Connection "'Server=.\SS2014;Database=TSICV5;Trusted_Connection=True;'"  -Provider "Microsoft.EntityFrameworkCore.SqlServer" -OutputDir "DBModels" -Context "ApplicationDbContext"

Any thoughts, critical in switching to core...

[2016-05-18 22:57] mikary commented on #4581
Attempted to add test coverage to `QueryTestBase`:
[code]

This test passes with the `InMemory` and `SqlServer` provider, but returns the incorrect number of results on `Sqlite`.

SqlServer generated SQL:
[code]

Sqlite generated SQL:
[code]
The `Sqlite` results contain 23 groupings instead of 12, possibly resulting from the results not being in the expected order for materialization

[2016-05-18 22:58] MMalikKhan commented on #5386
@natemcmaster if i have no database in the folder, like if i uninstall and run, the Migrate method should create all the schema. It does create the DB file but not able to create any tables inside it. so the application after this is just crashing because there are not tables and no data @mvermef can you replicate this one .. ? i am using 1.3.2 Tool and UAP,Version=10.0.10586.0  one thing common b

[2016-05-18 23:02] mikary commented on #4581
QueryPlan for Sqlite:
[code]

[2016-05-18 23:02] natemcmaster commented on #5386
@mvermef can you clarify for me: which of these exceptions is crashing the app? What is the error message? And can you provide a repro sample?

[2016-05-18 23:04] MMalikKhan commented on #5386
@natemcmaster in the release mode it first crash with this error Exception thrown: 'System.ArgumentException' in System.Linq.Expressions.dll

Additional information: Instance field '_root' is not defined for type 'Microsoft.Extensions.DependencyInjection.ServiceProvider'
then takes to that SQL database cannot open error

[2016-05-18 23:05] natemcmaster commented on #5376
@toddtsic can you provide more info. e.g. is there a stack trace?

To get more info, add `-Verbose` to the command (if you are using the cmdlets) or `--verbose` if you are using "dotnet ef".

[2016-05-18 23:12] mikary commented on #4581
This also reproduces on SqlServer when there is a `GroupBy` that requires client eval for the key selector

[code]

QueryPlan:
[code]

[2016-05-18 23:15] natemcmaster commented on #5069
Closing to consolidate bugs. This is essential the same issue as #3682. I'll add this scenario to that issue.

[2016-05-18 23:15] #5069 closed

[2016-05-18 23:15] toddtsic commented on #5376
Nate,

Thanks for the quick response, greatly appreciated.

I had just installed:

DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe
<https://visualstudiogallery.msdn.microsoft.com/c94a02e9-f2e9-4bad-a952-a63a967e3935/file/77371/8/DotNetCore.1.0.0.RC2-VS2015Tools.Preview1.exe?SRC=VSIDE&UPDATE=TRUE>

Restarted VS, and created a new core web api project, ported all my code
and was left with tons of erro

[2016-05-18 23:15] natemcmaster commented on #3682
Also, we should ensure that libraries is moved when EF commands are in a UWP class library.

Cref https://github.com/aspnet/EntityFramework/issues/5069#issuecomment-216654757

[2016-05-18 23:27] MMalikKhan commented on #5386
@natemcmaster  @mvermef  this is the sequence of the errors i am getting .. which generate the Databasefile but no table

Exception thrown: 'System.ArgumentException' in System.Linq.Expressions.dll

Additional information: Instance field '_root' is not defined for type 'Microsoft.Extensions.DependencyInjection.ServiceProvider'

If there is a handler for this exception, the program may be safely co

[2016-05-19 00:04] evanverneyfink opened #5413 "Getting count of records in child table"
Hopefully I'm putting this in the right place. It certainly seems like an issue to me, although it's also possible I'm going about this the wrong way.

I'm working with the EntityFramework.Core and EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final packages, and I'm trying to do something through code that looks like the following SQL:

[code]

I've tried the following:

Option 1:

[code]

Option

[2016-05-19 00:04] #5379 closed

[2016-05-19 00:06] mvermef commented on #5386
Not sure which is actually killing execution and continuance of the application to an actual working screen, at present it appears the EF may or may not be the issue..   My app will sit and do nothing so I am not sure if that is a SDK issue or not yet...

One thing I checked related to System.Linq.Expressions.dll was to see what version was pulled into the project.json.lock file and it was 4.0.10

[2016-05-19 00:17] MMalikKhan commented on #5386
@mvermef  can you delete the database file and run the app in release mode. What i am having issue is it is not able to create database schema as it is unable to open the database.in debug build it does create the database and everything is working fine. with RC2 and 1.3.2 tooling..  with RC1 i didnot have this issue but i was having issue mentioned in [here](https://github.com/aspnet/EntityFramew

[2016-05-19 00:39] ajcvickers commented on #5303
This is not very easy to do with the current bits. We need to add some sugar that will do most of the heavy lifting for you, but until we do that here are the steps to get custom value generators to work.

1) Implement a custom value generator. Something like:
[code]
Note that there is already an implementation to generate sequential GUID values on SQL Server (SequentialGuidValueGenerator) and thi

[2016-05-19 01:05] ajcvickers commented on #5269
@chris02031 EF creates the GUID key as database-generated by convention. This is the same as EF6. However, EF needs to have a key for the entity before it is saved to the database, so if the key given to the entity is Guid.Empty, then EF creates a temporary GUID key for this. This temporary key is replaced by the database-generated key when the entity is saved.

You can set the key value to anythi

[2016-05-19 01:05] #5269 closed

[2016-05-19 01:20] divega commented on #5386
It may be obvious but this typically happens if there are no migrations in your project. `ApplyMigrations()` will create the database if it doesn't exist but won't simply update the database to reflect the current state of the model but will apply any pending migrations. You have to at least have created the initial migration with the initial state of your model with will be able to create all the

[2016-05-19 01:22] mvermef commented on #5386
updated to the 1.3.2, no effect.  What ever is causing my new issue isn't related to EF.  can close this issue.  EF does create the file, and it does have tables.  Something changes with this I will reopen.

[2016-05-19 03:32] tinchou commented on #3089
Library is now at version `3.8.7.1`: [https://packages.debian.org/jessie/libsqlite3-dev](https://packages.debian.org/jessie/libsqlite3-dev). Should be OK to remove https://github.com/aspnet/aspnet-docker/blob/master/1.0.0-rc1-update1-coreclr/Dockerfile#L15

[2016-05-19 08:07] rmja opened #5415 "Migrations: Opt out from IS NOT NULL in index creation"
[When creating an index in migrations](https://github.com/aspnet/EntityFramework/blob/ce07379ec2d5e5e6d3e6077267bcd7c1dde58f92/src/Microsoft.EntityFrameworkCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L198) it would be nice if it was possible to specify on a per column basis whether the column should be generated as NOT NULL. Right now all columns are NOT NULL if the index is not c

[2016-05-19 08:13] beho commented on #5406
Is there a private channel I could use for handing over model sources ?

[2016-05-19 08:14] sandeep-tanwar opened #5416 "EF Core 1.0 trying to save Blog model again when previous context blog variable used in another context"
It supposed to work
This code is throwing error - "An item with the same key has already been added."

[code]

[code]

[2016-05-19 08:37] RickyLin commented on #4996
`entity.DisplayName()` doesn't get the correct table name if the entity type has `TableAttribute`, it just get the class name.

[2016-05-19 09:11] shaulbehr commented on #5303
@ajcvickers Thanks for that info!  Very happy to hear that COMB Guids are the default behavior for Guid keys; that will save me (and others) a lot of time and effort!
Meanwhile, I followed your example for a custom generator, but I'm missing one trick, and that is how to make the Id a function of other fields on the record.  The generator is basically operating from a static context, with no infor

[2016-05-19 10:07] newsash commented on #5412
Figured out new workaround.
[code]

[2016-05-19 10:50] newsash commented on #5412
And quick dirty application of DRY principle in case it helps someone
[code]
[code]

[2016-05-19 11:17] igorilic commented on #5376
I managed to do it with opening command prompt at the root of the project with following command (just as same as RC1, changing dnx to dotnet):

`dotnet ef dbcontext scaffold "Insert your connection string " Microsoft.EntityFrameworkCore.SqlServer --output-dir Your/Dir --verbose`

[2016-05-19 11:31] antonioapostoliu commented on #5281
Today  2016 may 19 situation:
D:\fix_rc2\rc2\src\MusicStore>dotnet --info
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x86

D:\fix_rc2\rc2\src\MusicStore>dotnet --info
.NET Command Line Tools (1.0.0-prev

[2016-05-19 11:31] #5281 closed

[2016-05-19 12:13] christianrondeau commented on #5392
@natemcmaster thanks for the issue links!

@rowanmiller the reason I'm using "dotnet ef" instead of PowerShell commands in PMC is simply because I don't know better yet :P I'm following guides and tutorials to learn ASP.Net Core and EF7 together, so since I usually ran FluentMigrator in PMC, and `dotnet` worked there, I assumed `dotnet ef` would too.

[2016-05-19 12:14] christianrondeau commented on #5392
Oh and I confirm it does work when entering the project directory. I think it didn't work before (same error message) because I was missing the EF tools package.

[2016-05-19 13:34] ErikEJ commented on #5376
Try with (local) instead of . as server name

[2016-05-19 14:10] multiarc commented on #4070
@rowanmiller on the System.NotImplementedException above, actually failing all the time in RC2 release when expression contains any InvocationExpression, someone forget peace of code like this:
[code]
I'll create new issue, seems it's still not fixed in latest builds.

[2016-05-19 14:22] mrahhal commented on #2336
For anyone who found this useful in dnx, [Migrator.EF6](https://github.com/mrahhal/Migrator.EF6) now supports RC2 as a .NET Core CLI tool (much like how the EF Core migration tool works).

[2016-05-19 15:09] smitpatel commented on #5415
You can override `AppendIndexWhere` in derived class and opt out of NOT NULL condition. Is it not working for you?

[2016-05-19 15:11] shaulbehr opened #5417 "How to use EF7 with sharding tools?"
Hi again,

I'm trying to follow the tutorial [here](https://azure.microsoft.com/en-us/documentation/articles/sql-database-elastic-tools-multi-tenant-row-level-security/), which gives a very nice walk through of how to use EF6 with elastic db in a multi-tenant app.

Now I'm trying to do the same thing in EF7, and of course a few interfaces have changed, particularly inside the `DbContext`.
- In EF6

[2016-05-19 15:14] rmja commented on #5415
@smitpatel  Exactly, the problem is that `AppendIndexWhere()` [does not exist](https://github.com/aspnet/EntityFramework/blob/ce07379ec2d5e5e6d3e6077267bcd7c1dde58f92/src/Microsoft.EntityFrameworkCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L198), but is my proposal, where provider specific stuff is separeted out from the `Generate()` body, so that one can opt out :-)

[2016-05-19 15:26] smitpatel commented on #5415
Oh sorry. I thought those methods were in current codebase.
The reason provider specific details are not in separate method because it is provider specific SqlGenerator class. Providers derive from base SqlGenerator and modify the SqlGenerator in the way required for the specific provider.
I am not sure if you should be deriving from `SqlServerMigrationsSqlGenerator` class and not the base one.

[2016-05-19 15:49] gdoron commented on #5391
@divega You should probably mention this import thing in the [upgrading manual](https://docs.efproject.net/en/latest/miscellaneous/rc1-rc2-upgrade.html).

[2016-05-19 15:57] rmja commented on #5415
I am deriving from `SqlServerMigrationsSqlGenerator`, but I don't want the `Generate()` from that, but the one from its base `MigrationsSqlGenerator`. If only the `Generate()` functions in `MigrationsSqlGenerator` were public instead of protected, then I could instantiate my own `MigrationsSqlGenerator` and call the `Generate()`'s directly.

[2016-05-19 15:59] lajones commented on #5376
@toddtsic I haven't gotten to this issue yet but could you try keeping the quotes around the connection string but removing from all the other parameters?

[2016-05-19 16:40] natemcmaster commented on #5285
Fixed in https://github.com/aspnet/EntityFramework/commit/3c575741a9bffe57c08a70e7fa2fc1655be51833

[2016-05-19 16:40] #5285 closed

[2016-05-19 16:52] branciat opened #5418 "dotnet ef for net451 throws misleading error on Linux"
I followed the workaround on the website [docef](http://go.microsoft.com/fwlink/?LinkId=798221).
But i still have the error below
[code]
Here the project.json, it's an aspnet mvc project with mono on debian linux

[code]

the outputs of dotnet restore and build are ok.

[2016-05-19 17:14] Kurira commented on #5320
Hi,

Just to be sure, we can't use EF within a class library project (aka tests project) in RC2?

[2016-05-19 17:17] natemcmaster commented on #5320
@Kurira you can use EF within a class library. You can't use **EF .NET Core CLI commands** on a class library. See https://docs.efproject.net/en/latest/cli/dotnet.html more info

[2016-05-19 17:38] ajcvickers commented on #5303
@shaulbehr Is it that you want to use both some data from the entity and some static state? Or is it simply a property whose value is computed from other state in the entity? If it is the latter, then I don't think you need a value generator to do that. If it is the former, then I don't think that is possible at the moment but I am looking into how to enable it.

[2016-05-19 17:41] AlexBilonog opened #5419 "Available Ms.EfCore does not work with available Ms.EfCore.Commands (Add-Migration fails)"
In `aspnetvnext` feed I see only the following package versions:
- `Microsoft.EntityFrameworkCore`: 1.0.0-rc3-20912 (new)
- `Microsoft.EntityFrameworkCore.Commands`: 1.0.0-rc3-20637 (old)
- `Microsoft.EntityFrameworkCore.SqlServer`: 1.0.0-rc3-20912 (new)

I have installed them. Application works fine. But when I run the command: `PM> Add-Migration TestMigration`

I get an error with the stack trac

[2016-05-19 18:07] smitpatel commented on #5419
`Microsoft.EntityFrameworkCore.Commands` is obsolete now. The new package name is `Microsoft.EntityFrameworkCore.Tools`
See difference from RC1 to RC2 at http://ef.readthedocs.io/en/latest/miscellaneous/rc1-rc2-upgrade.html
For using PMC commands for migration refer to http://ef.readthedocs.io/en/latest/cli/powershell.html

[2016-05-19 18:10] Kurira commented on #5320
So I would use tools from my web project and apply them to test context which resides in test project?

[2016-05-19 18:21] peirens-bart commented on #5309
All thanks for the answers,
But we are going to wait until there is a stable version that support more project types.

For the initial issue I found a work-a-round that is using rc1.

[2016-05-19 18:26] ErikEJ opened #5420 "Cannot load some projects in EntityFramework.sln"
Using VS 2015 Update 2 on Win 8.1, I get these 2 errors when opening EntityFramework.sln on latest dev code - is that expected?

C:\Code\EntityFramework\test\Microsoft.EntityFrameworkCore.Tools.Cli.FunctionalTests\Microsoft.EntityFrameworkCore.Tools.Cli.FunctionalTests.xproj : error  : The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props"

[2016-05-19 18:35] smitpatel opened #5421 "Query: Lift subquery in INNER JOIN to generate flattened query"
For collection navigation include, we generate query of following structure at present

[code]

It can be written as

[code]

Most of the work this change is available in @anpete's fork.

[2016-05-19 18:37] smitpatel commented on #5420
I believe installation of dotnet SDK should have added those files. Can you try re-installing it?

[2016-05-19 18:40] ErikEJ commented on #5420
I dont think I ever installed it -- is it https://www.microsoft.com/net/download#core - .NET Core SDK Installer  (Preview 1) x64 ??

[2016-05-19 18:42] divega commented on #5421
Discussed this with @anpete and @smitpatel and I think we can do it as part of the "EXISTS" improvements @smitpatel is already doing, but would like to make the call in triage.

[2016-05-19 18:43] ErikEJ opened #5422 "Unable to run sqlite functional tests with latest dev"
VS 2015 Update 2 on Win 8.1 - latest source from dev - run with TestDriven  - all SQLite functional tests fail - I think they all pass when running via the "build" command.

Test 'Microsoft.EntityFrameworkCore.Sqlite.FunctionalTests.BuiltInDataTypesSqliteTest.Can_insert_and_read_back_all_mapped_data_types_set_to_null' failed:
	System.AggregateException : One or more errors occurred.
---- System.En

[2016-05-19 18:51] ErikEJ commented on #5421
@divega  Will those "EXISTS" improvements also affect https://github.com/aspnet/EntityFramework/issues/2626 ?

[2016-05-19 18:52] smitpatel commented on #5420
yes. x86/x64 should match with VS/system. Don't know if it matters.

[2016-05-19 18:54] smitpatel commented on #5421
Exists improvements tracked by #4903

[2016-05-19 19:01] smitpatel commented on #5421
@ErikEJ - No.

[2016-05-19 19:05] geoffmmorgan opened #5424 "Question: Guidance needed for disconnected entities"
I'm looking for some help on how to add entities to my context. The entities are object graphs that include sub entities each defined in their own tables. For example

[code]

In this case from my server (this is a UWP app) I may get a new appointment. Once I do I would like to add this appointment to my local SQLite DB, however while the appointment may be new the Customer or Photos may or may no

[2016-05-19 19:07] lucamorelli opened #5425 "adding ef to a ef core library"
Hi all,I trying to rebuild a project I created with rc1, and I started trying to recreate a library with a ef context and a few api controllers to be shared among project.
To do this I created a .Net Core Class Library, copied a few classes, and opened project.json and tried to add the references to entityframework packages.
I tried to add EntityFramework.Core

[code]

and I have the error
![untit

[2016-05-19 19:14] mikary commented on #4596
Ran the provided samples against `Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final`. No exceptions were thrown and the results appear to be correct.

[code]

[2016-05-19 19:37] smitpatel commented on #5425
You will need additional imports. See issue #5176

[2016-05-19 19:47] natemcmaster commented on #5254
This may be an issue in SqlClient connection pooling on Linux.

Test setup:
50 tasks created. Each task opens a connection to SQL Server to request the next sequence value for 20 items. Tasks run concurrently. On Windows, .NET Core and .NET Framework, this test always passes just fine. On Linux, this test is flaky. It fails about 50% of the time on our CI server:
[code]

Here is the log output for

[2016-05-19 19:47] lucamorelli commented on #5425
In short have to wait for rtm? I don't understand what I have to add

[2016-05-19 19:56] smitpatel commented on #5425
You need to add imports as mentioned here https://github.com/aspnet/EntityFramework/issues/5176#issuecomment-216705192

[2016-05-19 19:57] saurabh500 commented on #5254
@natemcmaster  we havent seen such an issue for SqlClient on Linux. This seems like a networking issue. The error is seen when SqlClient cannot open a TCP connection to the Sql Server.

Is this the only use case you are seeing this? Or can this be reproed for any other test case as well?

cc @corivera

[2016-05-19 19:58] ElioBatista commented on #5385
The workaround works fine for us. We have replaced _DbContext_ type for  _ICurrentDbContext_ for the moment.
Thanks

[2016-05-19 19:58] saurabh500 commented on #5254
More questions
1. Whats the sql server version?
2. Do you see this without pooling as well?

[2016-05-19 20:04] maumar opened #5427 "Query :: A column has been specified more than once in the order by list thrown for a complex query with orderby and navigation"
QueryNavigationsTest -> Collection_select_nav_prop_first_or_default_then_nav_prop_nested_with_orderby throws

[code]

Exception:
System.Data.SqlClient.SqlException : A column has been specified more than once in the order by list. Columns in the order by list must be unique.

query plan:

[code]

[2016-05-19 20:11] natemcmaster commented on #5425
Closing as a duplicate of #5176. I have added an explanation of the workaround to our RC2 docs. (See https://github.com/aspnet/EntityFramework.Docs/pull/167).

[2016-05-19 20:13] natemcmaster commented on #5422
Confirmed issue. Our csproj generation isn't getting the right version of sqlite3.dll into the build output folder so running tests. You can workaround by manually copying sqlite3.dll from the nuget cache to the bin/debug/ folder. I believe TestDriven.NET runs in x86 only, so make sure to grab the win7-x86 version.

cc @bricelam

[2016-05-19 20:16] natemcmaster commented on #5418
Can you add `--verbose` to the dotnet-ef command you are executing and share the output?

Also, even though your project is net451, the imports on tools should be "portable-net451+win81" for magical reasons I can explain if you want to know. This could be part of the issue.

[code]

[2016-05-19 20:17] shaulbehr commented on #5303
@ajcvickers It is generated purely from a hash of some data values on the record, nothing else.
How would you recommend we do this?

[2016-05-19 20:18] natemcmaster commented on #5420
Install ".NET Core Tooling Preview 1 for Visual Studio 2015". https://go.microsoft.com/fwlink/?LinkId=798481

[2016-05-19 20:21] ajcvickers commented on #5303
@shaulbehr Can it just be a computed property of the entity? Regardless, I have sent out PR #5423 that would allow this to work.

[2016-05-19 20:53] lajones opened #5428 "RevEng: Do not generate ValueGenerated.Never for key columns with default values"
See #5366. For the SQL Server Scaffolding provider we currently generate `ValueGenerated.Never` for single integer or Guid key columns unless they are marked as IDENTITY columns. See https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.SqlServer.Design/Internal/SqlServerScaffoldingModelFactory.cs#L92. We need to also _not_ generate `ValueGenerated.Never` for the sam

[2016-05-19 21:03] leontyr opened #5429 "One-to-many properties not loading correctly"
Ok, this is not a request for lazy loading or eager loading. I simply can't load the data I should.

I am using  "Microsoft.EntityFrameworkCore.SqlServer": "1.0.0-rc2-final"

[code]

If I do

[code]

propertyType is null. (Should it not be eager loaded since I didn't use virtual?)

If I do

[code]

I get first property with the propertyType. However, within the propertyType, there is an empty prop

[2016-05-19 21:06] mikary commented on #4596
Adding tests to cover regressions in #5430

[2016-05-19 21:06] joeaudette opened #5431 "default value for int property using fluent mapping produces unwanted identity specification"
In the process of migrating my [cloudscribe project](https://github.com/joeaudette/cloudscribe) from rc1 to rc2 and I ran into a problem after regenerating the migrations.

I'm using SqlServer provider

For every int property on my models if I specify a default value, the generated migration adds an unwanted identity specification. Example, the Sort property in this model:

[code]

when I run the

[2016-05-19 22:11] natemcmaster commented on #5254
Made a minimal repro without EF and opened an issue: https://github.com/dotnet/corefx/issues/8701

[2016-05-19 22:32] smitpatel commented on #5108
This does not get fixed due to `EXISTS` changes since there is `ORDER BY` on non-principal key column. The issue arises because there is Top in inner subquery and we lift the order by. therefore the row select from `KpiReport` is not same as the first query.

[2016-05-19 23:00] smitpatel commented on #5108
This is already fixed in latest bits. I have added tests in #5435

[2016-05-19 23:06] ajcvickers commented on #4952
@smitpatel I'm going to look at this since I need it for the parameter stuff I am working on.

[2016-05-19 23:07] smitpatel commented on #4695
This does not get fixed due to `EXISTS` due to presence of `ORDER BY`. This is same as #5038
where `ORDER BY` sub query is causing issue.

[2016-05-19 23:17] mikary commented on #4637
Ran the provided samples against `Microsoft.EntityFrameworkCore.SqlServer 1.0.0-rc2-final`. No exceptions were thrown and the results appear to be correct.

Adding tests to cover regressions in #5436

[2016-05-20 00:10] saurabh500 commented on #5254
Will take a look at it. Thanks for the minimal repro.

[2016-05-20 00:23] divega commented on #5429
I cannot repro this using EF Core 1.0 RC2 final and the code your provided. For me the `Properties` collection navigation property is populated correctly and is of type `HashSet<Property>`.

Assuming you are referring to a problem you get when you serialize the graph of objects using Json.NET, this is not the right place to report it :smile:, but FWIW, my limited understanding is that any cycle (e

[2016-05-20 00:25] divega commented on #5429
I am closing this issue because I pretty confident that it is not an actual bug report for EF Core, but feel free to reopen it if I am wrong and please provide any additional repro code (e.g. if you have any code in `OnModelCreating()`).

[2016-05-20 00:47] applenele opened #5437 "In PM Command line input “Update-Database newbook” when My models are Modified but result is error"
In PM Command line input “Update-Database newbook” in order to modify db when My models are Modified but result is error
and Chinese garbled。
![611961-20160519002012529-789919599](https://cloud.githubusercontent.com/assets/5456023/15413880/5a13327a-1e67-11e6-9733-df5d2c726035.png)

[2016-05-20 00:50] applenele commented on #5437
And If I remove the db ,it worked.i want modify the field only and  retain the original data

[2016-05-20 02:11] #5108 closed

[2016-05-20 02:18] smitpatel commented on #4903
Just to mention this here on the issue.
`INNER JOIN` cannot be converted to `WHERE EXISTS` if there is `ORDER BY` in subquery which has column(s) other than principal key properties since we need to sort by that column in final result.

[2016-05-20 03:50] ninety7 opened #5438 "Where did InternalEntityEntry.GetPrimaryKeyValue() go?"
I have 2 DbContexts and want to see if an entity from context 1 is loaded on context 2. On RC1, there was the method `GetPrimaryKeyValue()` that I would call on the `InternalEntityEntry` class on context 1, and then just call the `TryGetEntry()` method on context 2's infrastructure; but it's gone on RC1. I've gone back and forth on the new API but cannot find something similar.

Does anybody know

[2016-05-20 04:40] sadjadbp opened #5439 "RC2, using ?? operator in select fails with casting error"
RC2, using ?? operator in select fails with casting error.

`.Select(x => x.NullableBooleanProperty ?? false)`

would fail with casting error. But the same like this is ok

`.Select(x => x.NullableBooleanProperty == null ? false : x.NullableBooleanProperty.value)`

[2016-05-20 05:39] iezekiel commented on #5022
Do we have any update on this one?

[2016-05-20 05:40] toddtsic commented on #5376
I'm back in action.

I was missing:
Run Install-Package Microsoft.EntityFrameworkCore.Tools –Pre
Run Install-Package Microsoft.EntityFrameworkCore.SqlServer.Design –Pre

Was successful with:

Scaffold-DbContext -Connection "'Server=.\SS2014;Database=TSICV5;Trusted_Connection=True;'"  -Provider Microsoft.EntityFrameworkCore.SqlServer -OutputDir ModelsDB -Context ApplicationDbContext

[2016-05-20 06:38] branciat commented on #5418
Here the output with verbose and  the imports recommended

[code]
He doesn't find the executable that is in the bin/Debug/net451/debian.8.2-x64

The output with build include
[code]
My executable is both net451 and debian.8.2-x64 directories, i try to copy the files of debian directory to the parent, i get the same error.

[2016-05-20 09:06] bragma opened #5440 "RC2 ForEachAsync does not work anymore"
Hi,
I've just updated to RC2 and some of my tests are failing. It seems that this sample code using ForEachAsync is not working anymore:

[code]

The exception message is "New transaction is not allowed because there are other threads running in the session." when executing "SaveChangesAsync()"

My workaround at the moment is to materialize the results in a list and then use a foreach:

[code]

Am

[2016-05-20 09:10] GSPP commented on #4903
Shouldn't all columns required for sorting be required in the "driver" query? The `EXISTS` part never should be required to deliver data.

The `INNER JOIN ... DISTINCT` also cannot deliver data columns because they would invalidate the distinctness property.

Can you make an example what needs to be in the `ORDER BY` clause that requires a join?

[2016-05-20 09:29] lucamorelli opened #5441 "ef nuget nightly build for asp.net 4"
Hi, I don't understand why, but I have a problem with ef nightly build via nuget: configuring the same url as package source, if I try to add the package via nuget package management window in a asp.net 4 project I see the 1.7.0 version of the packages, but if I open the same window in a asp.net core project I see the current nightly build.
Am I missing something?

[2016-05-20 09:41] mb236 opened #5442 "Entities incorrectly labeled as Added by the ChangeTracker"
I'm having a problem after migrating my RC1 Web Application to RC2. I'll try to describe my problem as best as possible.The code did work perfectly in RC1. I'm using SQLite as provider by the way.

First I got a class A which has a virtual property of type B

[code]

And class B has a property Id as follows

[code]

So my problem appers when I try to set the property ObjectB of an Object of Type A

[2016-05-20 10:28] leontyr commented on #5429
@divega Thanks for the reply.

I agree that it is probably not a bug. The problem is caused by `HashSet<Property>` in PropertyType. I can fix it by using [NotMapped]:
[code]
Is that possible for you to clear a couple of things for me?

- Is it by design that in my case PropertyType in Property is not eager loaded even when it's not using virtual?
- Is it by design that virtual Properties in Proper

[2016-05-20 10:52] stevejgordon commented on #5424
@geoffmmorgan I think then intended API for that would be the TrackGraph method which I believe walks the object graph and updates the entity states for the child entities. I've not used it yet myself. Something like context.ChangeTracker.TrackGraph(myNewAppointment, e => e.Entry.State = EntityState.Added);

[2016-05-20 11:19] smitpatel commented on #4903
Exactly the case. How EF does collection include is EF triggers 2 queries. 1st query is the main result query. 2nd query is to fetch data from the other table for the include. Both the queries are sorted by principal key properties of relationship so that results from both the queries can be matched while streaming. So when we start enumerating main query, we don't need to scan the all results of

[2016-05-20 12:47] cykone opened #5444 "Uwp ToListAsync() throws Exception with Message "The semaphore has been disposed.""
Hi,
I am using EF RC2 with an UWP App, after the update from EF RC1 the following Code lines:
`var iq= ctx.Projects.Include(p => p.Address).ThenInclude(a => a.GeoLocation);`
`return await iq.ToListAsync();`

throw an exception with the message="The semaphore has been disposed".

The same query works fine with synchronious ToList()

=> SingleOrDefaultAsync is also not working as expected.

[2016-05-20 13:38] divega commented on #5429
Yes. Neither EF Core nor any previous version of EF has ever automatically eager loaded a property. You have to use `Include()`.

Yes, it is a graph of objects and EF will normally fix up any relationships between objects that are retrieved. The behavior may change if you use `AsNoTracking()`,  e.g. EF will not fix up navigation properties to objects retrieved by previous queries.

If the problem

[2016-05-20 13:49] leontyr commented on #5429
Got it. Thanks @divega!

[2016-05-20 14:24] jacob-robertson opened #5445 "Invoke in expression tree throws NotImplementedException"
In my use case, I'm building the filters that are passed into the `IQueryable.Where()` call dynamically.  Since I've updated to the RC2 release, any expression tree passed in causes a `NotImplementedException` to be thrown.  According to the stack trace, the culprit is here:

[code]

I've attached a sample that should demonstrate the issue.

[code]

[EFTester.zip](https://github.com/aspnet/EntityF

[2016-05-20 14:42] soycabanillas opened #5446 "Private properties not included in the model. Migration from RC1 to RC2"
After migrating my project from RC1 to RC2, I've found some differences, most notably the one described on the title.
So on RC1, I had the next code

    [JsonConverter(typeof(StringEnumConverter))]
    public TEnum Subtype { get; set; }
    private string _subtypeText;
    [MaxLength(40)]
    private string SubtypeText => Subtype.ToString();

and the property SubtypeText got into the model, but n

[2016-05-20 15:23] natemcmaster commented on #5418
Aha! That explains it. The "net451" commands are for windows only. As you mentioned, there is an executable in bin/Debug/net451/debian.8.2-x64, but this is a windows executable. .NET Core CLI doesn't support full .NET Framework commands on anything but windows. To run commands on Linux, you need to use the .NET Core version instead, i.e. your app needs to target "netcoreapp1.0" instead of net451.

[2016-05-20 15:41] #4596 closed

[2016-05-20 15:46] #4637 closed

[2016-05-20 16:09] bricelam commented on #5223
@rowanmiller said:

Correct. The [column builder API](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Relational/Migrations/Operations/Builders/ColumnsBuilder.cs#L20-L26) does not include any facets. Instead, the property (or just its CLR type) is passed to the provider's type mapper where it decides what metadata to look at.

[2016-05-20 16:13] ajcvickers commented on #5438
@ninety7 The APIs for our internal code were changed because the state manager no longer stores entities in the same way and doesn't ever calculate keys in this way.

To do this using the public surface you would want to query the state manager using context.ChangeTracker.Entries. This is probably not going to be very fast and I think it would be worth us adding an API to look up in the state mana

[2016-05-20 16:20] bricelam commented on #4146
Fixed by #5409

[2016-05-20 16:20] #4146 closed

[2016-05-20 16:32] smitpatel commented on #5446
See #4314

[2016-05-20 16:32] bricelam commented on #4821
lol, [the documentation](https://msdn.microsoft.com/en-us/library/ms173758.aspx#Anchor_1) has the exact same issue with the exact same solution proposed in the somments. :expressionless:

[2016-05-20 16:48] bricelam commented on #4821
Looks like reverse engineer had the same bug.

[2016-05-20 17:10] branciat commented on #5418
Well, i created an another minimal project with only models and netcoreapp1.0 target to avoid some errors with dependencies not compatible. I followed the solution to resolve the runtimes unresolve here [#2461](https://github.com/dotnet/cli/issues/2461). it's a bit more complicated that the dnx version :(
if it's good for you, you can close this issue.

[2016-05-20 17:14] natemcmaster commented on #5418
Glad you were at least able to workaround. I think we should still leave open so we can improve the error message emitted by dotnet-ef. On linux/osx, the error message we log is wrong incorrect about why the command failed.

[2016-05-20 17:28] ErikEJ commented on #5420
Thanks @smitpatel  and @natemcmaster !

[2016-05-20 18:15] bricelam commented on #4642
@roji Do you know if PostgreSQL has any similar limitations?

It looks like SQL Server requires you to drop and re-create indexes when the column is narrowed. (e.g. `NULL` to `NOT NULL`; `nvarchar(30)` to `nvarchar(29)`; etc.)

It it's SQL Server-specific, I'll just fix it in the `SqlServerMigrationsSqlGenerator` otherwise, I'll make a more general fix in `MigrationsModelDiffer`.

[2016-05-20 18:40] SimonOrdo opened #5449 "All foreign keys must be removed or redefined before the referenced key can be removed."
Exception:

`"Cannot remove key {'Id'} from entity type 'Common.ApplicationUser' because it is referenced by a foreign key in entity type 'Common.Certificate_Pool_Info'. All foreign keys must be removed or redefined before the referenced key can be removed."
System.Exception {System.InvalidOperationException}
`

What does this error mean, in general terms?  These tables worked in RC1, but now thro

[2016-05-20 18:42] GSPP commented on #4903
I understand now. Unfortunately, this means that different execution strategies will be optimal for different problems. Either EF needs to guess which strategy is best or it needs to always use a strategy deemed good enough for all cases. This is not a good situation to be in.

Actually, the solution that EF uses right now is very similar to the `LEFT JOIN` and 1-query solution (I hope you know wh

[2016-05-20 18:42] SimonOrdo commented on #5449
Here is the stack trace

[code]

[2016-05-20 19:33] divega commented on #5440
@bragma I am surprised you get this exception since there is no call to `SaveChangesAsync()` in the code snippet. Is `s.OtherId = defaultId` really the only thing that is happening inside the `ForEachAsync()` loop?

On the other hand, if you are actually trying to save inside the loop, you are hitting a known limitation of SQL Server/SqlClient: you cannot create a transaction on a connection while

[2016-05-20 19:39] ryanschuler opened #5450 "[sqlite] Error on dotnet run command"
Running on a fresh install of Ubuntu 14.04,  using dotnet core RC2. My project compiles, but cannot find the sqlite dll at run time.  It runs fine on my Windows machine.

DNVM version: 1.0.0-rc2-15546
dotnet version: 1.0.0-preview1-002702

project.lock.json sqlite information:

[code]

Error on dotnet run command

[code]

[2016-05-20 20:15] maumar commented on #4355
Poaching this per conversation with @anpet

[2016-05-20 20:16] SimonOrdo commented on #5442
I wonder if this is related to the changes to add default graph behavior (https://github.com/aspnet/EntityFramework/issues/4424).

What happens if you use `,Entry` instead of` .Add`?

[2016-05-20 20:19] SimonOrdo commented on #5424
Changes were made to Add/Entry.  Check out https://github.com/aspnet/EntityFramework/issues/4424

[2016-05-20 20:29] ryanschuler commented on #5450
sudo apt-get install libsqlite3-dev fixed my issue

[2016-05-20 20:54] maumar commented on #5191
fixed in 0da202b8e7d23d94f071bd1d161716e23f6e8d8d

[2016-05-20 20:54] #5191 closed

[2016-05-20 21:09] evanverneyfink commented on #5413
Is there something about my post that's causing it to be ignored?

This seems like a legitimate bug to me. I was able to put together a very simple project that recreates the problem:

https://github.com/evanverneyfink/EFChildCountIssue.

[2016-05-20 21:25] rowanmiller commented on #5413
@evanverneyfink we just don't triage incoming issues everyday. We get a very large number of incoming issues on this repo so we have a process to deal with it. We'll go thru the new issues on Monday.

[2016-05-20 21:39] evanverneyfink commented on #5413
Fair enough. Didn't mean to be pushy, I just saw other issues with responses and thought perhaps I'd done something incorrectly. Thanks for the response!

[2016-05-20 21:44] smitpatel commented on #4903
The current solution implemented in #5433 is
if there is no order by which is not on principal key properties, we use Exists else we fall back to Inner join

[2016-05-20 21:54] flagbug opened #5452 "How can I update a range of unique values?"
Let's say I have the following class:

[code]

The `Position` property is for ordering purposes and is unique.
In my database, I have a list of Foos, something like this:

`{ Id: 100, Position: 0 }, { Id: 101, Position: 1 }, { Id: 102, Position: 2 }`

Now I want to insert a new `Foo` at the beginning of the "list", so I read all foos, increment their position by 1 and assign the new `Foo" the`Posi

[2016-05-20 22:33] maumar commented on #5445
duplicate of https://github.com/aspnet/EntityFramework/issues/4705

[2016-05-20 23:10] xperiandri opened #5453 "Cannot execute dotnet ef in Package Manager Console"
Getting this

[code]

[2016-05-20 23:17] smitpatel commented on #5453
See issue #5392

[2016-05-20 23:18] AustinFelipe opened #5454 "Error when using Where with reference"
I'm trying to figure out why the following command doesn't work:

[code]

I'm getting this error (Sorry about the size...):

[code]

I already tried to replace `ToListAsync()` by `ToList()`, but I'm getting the same error.

Any help will be welcome. 👍

Thanks

[2016-05-20 23:18] mikary commented on #5103
Confirmed this now produces the correct results. Appears to be related to materialization issue in #5179, which was fixed in e169d17243760ac3eece58bf8187905665ab67f6 and additional test coverage added in d913e7c2318fadf9bdd1e0ea4ce0426ede42d0e3

[2016-05-20 23:18] #5103 closed

[2016-05-20 23:21] xperiandri commented on #5392
But `Default project` is set to right one.
Who does not use that? dotnet? PMC? ef?

[2016-05-20 23:24] xperiandri commented on #5453
Thanks, `cd` works

[2016-05-20 23:42] smitpatel commented on #5452
Basically exceptions are thrown because values are added/updated before the previous record holding same value is updated. i.e. New record with position 0 is added but the old record with position 0 has not changed its value therefore duplicate value. Same will happen at the update time. For this case the update/insert statements needs to be sent in decreasing order of Position. So that Position 2

[2016-05-21 00:00] bragma commented on #5440
@divega you are right, the snippet was just a part of a slightly larger method and I only hinted to the following SaveChangesAsync (but outside the loop). Still, no other changes were happening in the ForEachAsync(). I've run the test in the past dozen of times and never had the problem, while it showed immediately when moving to RC2. Here is the complete code:

[code]

Associate.GroupId is a fore

[2016-05-21 00:09] smitpatel commented on #5413
@evanverneyfink -
I took the repo you provided for repro. Since it was in RC1 I pulled out model etc in new project using RC2 packages.
Using the model, DbContext & seed data provided in `TestDbContext`
[code]
Output is 27
Generated query is
[code]
Which is same as what you are looking for. Upgrading to RC2 packages will solve your issue.
Another thing, using `SelectMany` on navigation will create

[2016-05-21 00:29] lajones commented on #5288
This is happening because at https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.Tools/tools/EntityFramework.psm1#L854 we set the current directory to be the project's target directory before we pass control to the `OperationExecutor`. Note: if you turn on the `-Verbose` flag it will tell you what current directory it's using. In this case the "current directory" i

[2016-05-21 00:40] maumar commented on #5413
duplicate of #3889, fixed in 7d27bf6527391cd46dbb09210f7e40f7998e549e, closing

[2016-05-21 00:44] smitpatel commented on #5449
The error is being thrown during model building stage. Can you share you model and dbcontext?

[2016-05-21 00:55] smitpatel commented on #5416
You need to attach the `blog` first.
When you second time create DbContext, at the time the context is not tracking the `blog` so when you add `post` it will add `blog` as new blog and while trying to save the blog it will throw exception because it already exists in database.
By using `Attach` you tell EF that the entity is already existing in the database in the current state.
syntax would be `d

[2016-05-21 01:03] soycabanillas commented on #5446
So now, I have to use "BackingFields" in order to model these properties, right?
Is it planned to create a MappedAttribute to help on this? I know is not the best idea to mix data access attributes with the model, but far simpler than my current solution (doesn't work by the way due the generics):

            var entityTypes = modelBuilder.Model.GetEntityTypes();
            foreach (var entityTy

[2016-05-21 01:18] divega commented on #5440
@bragma thanks for the additional details. If your code really looks like that I am afraid we could be failing to finish consuming and disposing the query results in `ForEachAsync()`.

cc @anpete

[2016-05-21 01:19] divega commented on #5440
@bragma BTW, in case it is relevant, what is in `GetAssociationDefaultGroupId()`?

[2016-05-21 06:24] abdu292 commented on #5383
Friends, Wondering on the status. I had to put my app publishing on hold as it doesn't pass WACK due to #5069. However the work around for that is to use RC2, which is not possible at the moment because of this issue (#5383) as my EF is on a Class Library.

@natemcmaster @rowanmiller Any help with other workarounds would be much appreciated.

[2016-05-21 07:42] ErikEJ commented on #5383
@abdu292 Move EF to the App!?

[2016-05-21 08:32] abdu292 commented on #5383
Thank you @ErikEJ .
I have dedicated Data, Business and Shared libraries. Moving the Data/EF on to the App will cause a Circular dependency. Moving Business also on to app will be a lot of work for me, I have a lot of test cases for the Business Library too and the layers/libraries are inter dependent.

Are we expecting a delay in the resolution of this issue?

Thanks!

[2016-05-21 08:37] AR1ES opened #5455 "Migration error with default double value"
When you have a double property that has a default double value, then `ef database update` command throws
`Cannot set default value '0' of type 'System.Int32' on property 'XXX' of type 'System.Double' in entity type 'YYY'.`

Fluent configuration:
`mb.Property(p => p.Uptime).HasDefaultValue<double>(0.0).IsRequired();`

Created migration file:
[code]

Snapshot file:
[code]

[2016-05-21 09:38] ErikEJ commented on #5455
Are you on RC2?

[2016-05-21 11:05] AR1ES commented on #5455
Yes. It is RC2 project.
On RC1 it worked correctly.

[2016-05-21 11:59] lucabriguglia commented on #3797
I'm playing with EF Core and I noticed that lazy loading is enabled by default, is there a way to disable it globally?

[2016-05-21 12:59] AR1ES commented on #5431
I have the same problem.
As workaround I use `.HasDefaultValueSql("1")`.

[2016-05-21 14:46] alexlau811 opened #5456 "Threading Related Crash: NullReferenceException in SimpleNullableDependentKeyValueFactory"
I am getting random crash when getting the list but not sure why.

[code]

Here is the exception log:

[code]

[2016-05-21 14:52] ahanoff commented on #5383
I faced with another exception after upgrade to RC2.
My dependencies configuration is now:
`{
  "dependencies": {
    "EntityFramework.Commands": "7.0.0-rc1-final",
    "Microsoft.EntityFrameworkCore.SQLite": "1.0.0-rc2-final",
    "Microsoft.EntityFrameworkCore.Tools": "1.0.0-preview1-final",
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0"
  },
}`

and I got MissingMethodException:
` Ad

[2016-05-21 15:22] AR1ES opened #5457 "RC2. Bad SQL strategy when LINQ lambda where clause contains references hierarchy"
I have a three models with one-to-one relationship. I need to use these relations in where clause. But instead of a single query EF executes multiple SQL statements.
Models (only relations):

[code]

My LINQ expression:
[code]

I expect SQL like this:
[code]

Or like this:
[code]

But real result contains two SQL statements:
[code]

[2016-05-21 16:36] sirentek commented on #1862
Hello,

Totally agree with @mikary  and @Vasimovic.

I've found a solution for this while reading the source code.
I think it can be used until this issue is solved:

Add this class to your project.

[code]
// Execute a query.
var dr= await db.Database.ExecuteSqlQueryAsync("SELECT \"ID\", \"Credits\", \"LoginDate\", (select count(DISTINCT \"MapID\") from \"SampleBase\") as \"MapCount\" " +

[2016-05-21 16:45] abdu292 commented on #5383
Finally I thought to spend sometime to put everything  on to the App, to see if that resolves the issue. However here is what I get when I do the migration. Any input would be much appreciated.

PM> Add-Migration Initial
Add-Migration : Exception calling "CreateDomain" with "3" argument(s): "The domain manager specified by the host could not be instantiated."
At line:1 char:1
+ Add-Migration Initi

[2016-05-21 17:01] evanverneyfink commented on #5413
Thanks guys. I'll upgrade to RC2.

[2016-05-21 19:14] takazm commented on #5385
I have a similar problem. Using DI in my startup and setting conn string in OnConfiguring.

InvalidOperationException: No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service provider. If AddDbContext is used, then also ensure that your DbContext type accepts a DbC

[2016-05-21 21:16] mhenderson442 opened #5458 ".NET Core CLI commands fail when wrong imports were used for first run of dotnet-restore"
Updated my Visual Studio with RC 2 and created a Web API project.

Followed documentation guidelines for new application with existing database.

The following error was thrown hitting Scaffold-DbContext.

[code]

 Got a similiar Newtonsoft related error using CLI `dotnet ef`.

[2016-05-22 00:50] arthurspa commented on #1368
High priority on this feature, please!

+1

[2016-05-22 01:47] mhosman commented on #2266
Any news about TPT in EF7? I think this is CRITICAL. I started a new project with EF7 and when I discovered the omission of TPT I had to change and back to EF6. This is dissapointing.

[2016-05-22 10:14] Kagamine commented on #5437
Here is EF Core, you'd better open an issue on Codeplex (EF repo).

[2016-05-22 11:44] roji opened #5459 "Make use of prepared commands"
ADO.NET allows users to prepare commands, which allows databases to cache query plans and parses. IIRC in modern version of SqlServer this doesn't have much effect (any?), but in other providers this is an important feature - repeated complicated queries in PostgreSQL definitely benefit from prepared commands.

I know there's already an SQL caching mechanism inside EFCore, and although I'm sure it

[2016-05-22 13:50] Villason opened #5460 "donet ef tools: DbContext configuration in WebApp project with DbContext in a class library no longer works in RC2"
My migrations scripts no longer work:

[code]

Error:

`Unrecognized option '-p'`

My setup is as follows:

MySolution.Web contains the DbContext configuration details like the connection strings.
MySolution.Data.EntityFramework contains my EntityFramework implementation of my data access interfaces. It contains the DbContext and the Migrations in RC1.

What's the proper way to do this now? It app

[2016-05-22 14:09] Villason commented on #5460
I followed this workaround:

https://docs.efproject.net/en/latest/cli/dotnet.html#dotnet-cli-issues

Now the problem is that the class library has no clue about the connection details as those details are in the configuration section of the web project.

`No database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by

[2016-05-22 14:15] joeaudette commented on #5460
I struggled a bit with the same problem, my ef code is in a class library. I converted it to an app as mentioned in the workaround notes but also added a Program.cs and Startup.cs and appsettings.json and I was able to run the migration from the command line. It may help you to browse my project here https://github.com/joeaudette/cloudscribe/tree/master/src/cloudscribe.Core.Storage.EF

[2016-05-22 14:18] trustieee opened #5461 "Odd issue with EF7 (RC2) returning all virtual collections from entity, without the use of Include"
It looks like Entity Framework 7, while lazy loading isn't supported / implemented, is returning all relationships for a given entity without using the `Include(...)` method.

I'm not sure I follow what the expected behavior should be in this case. See my reproduction below. Note, [this github branch/commit](https://github.com/discord-csharp/pouarf/tree/ef7-repo) reproduces this.

Add `DbContext`

[2016-05-22 14:27] Villason commented on #5460
Thanks @joeaudette. Basically you created another Web App with just the information the migrations tool uses.

Very dirty!! Hope they fix this soon.

[2016-05-22 14:37] Villason commented on #5460
@joeaudette how will the migrations be performed in production? Does the WebApp know which code to run to apply the latest migrations?

[2016-05-22 14:51] joeaudette commented on #5460
@Villason I'm only generating the migrations from the command line, then they are compiled into the code. Running the migrations happens from the startup of my web app invoking [a method here](https://github.com/joeaudette/cloudscribe/blob/master/src/cloudscribe.Core.Storage.EF/CoreEFStartup.cs) where I am also seeding some data

you can see my [web app startup here](https://github.com/joeaudette/

[2016-05-22 15:32] mb236 commented on #5442
Thanks for the tip. I solved the problem by using `.Entry` on every Entity that i want to add

[2016-05-22 18:20] mariocatch commented on #5461
Solved.

The issue was in the approach of utilizing the `Include` pattern on the DbSet.

I had this, **WRONG**:

            var people = _dbContext.People;

            if (includeRelationships)
            {
                people.Include(p => p.PhoneNumbers)
                    .Include(p => p.EmailAddresses)
                    .Include(p => p.StreetAddresses);
            }

            retur

[2016-05-22 22:02] Eilon opened #5463 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-23 00:54] zenixgrace opened #5464 "Question: Composite key EF 7 with Data Annotations"
Hi All,

Just wanna ask a stupid question.
Is the feature to define composite key with data annotations will not implement in the next release of EF 7?

Is the only way to implement that by using the Fluent API or it will update for the next release?

[2016-05-23 01:47] justinyoo commented on #4022
@rowanmiller I've got the same issue. Mine is happening on ToListAsync() method. If I run this on my local machine, console app and web app, it works fine but not in WebJob.

[2016-05-23 04:38] sandeep-tanwar commented on #5416
Thanks @smitpatel, I missed that !!

[2016-05-23 05:47] gdoron commented on #5437
Are you using entity framework core?

[2016-05-23 06:37] arthurspa opened #5465 "RC2. Related data is not being saved on saveChanges()"
I have the following model:

[code]

I'm able to create a new 'League'. If try to change `Group` field to another LeagueGroup, say `LeagueGroup { Id = 2 }` and then:

[code]

I get no error, but the data is not persisted to database.

The strange thing is that if I change the property `Name` it successfully saves to the database.

I suppose the problem is saving related data.

Does anyone know if

[2016-05-23 07:41] tmds opened #5466 "SqlLite concurrency"
The documentation of the sqllite provider doesn't mention concurrency as a limitation: https://docs.efproject.net/en/latest/providers/sqlite/limitations.html

Is this an oversight or does ef manage concurrent access to sqllite in some way?

[2016-05-23 07:48] bragma commented on #5440
@divega I've updated my previous post with the missing method. I don't think its relevant, btw.

[2016-05-23 08:20] stevejgordon commented on #5424
@SimonOrdo Interesting thanks for the link. I need to go play with the latest RC2 release and see what's changed.

[2016-05-23 08:25] Suchiman commented on #5466
While it's not advisable to access the same database file from multiple processes, concurrency as in multithreading is fully supported by SQLite https://www.sqlite.org/threadsafe.html

[2016-05-23 08:33] tmds commented on #5466
@suchiman cool! Does ef use "Multi-thread" or "Serialized"?

[2016-05-23 11:04] Suriman commented on #4269
Hi,

It is very useful  that EF Core works on Xamarin.Forms. This scenario would allow the server code can be transferred to a mobile device together with the client side code without any change, allowing very easily implement the execution of an application in off-line mode using the same ORM in both scenarios (on-line and off-line).

Thanks!

[2016-05-23 12:00] shaulbehr commented on #5303
Thanks, I got it working using the ValueGenerator.  OOI, how would I have written a computed property?

[2016-05-23 12:11] shaulbehr commented on #5417
@ajcvickers @rowanmiller Could you offer some help here, please?

[2016-05-23 13:13] Villason commented on #4705
Any workaround for this bug? This totally breaks my Web App.

[2016-05-23 14:46] jaklithn opened #5467 "RC2 Context constructor complaining on missing logging"
I have a WinForms application.
Today I upgraded EntityFramework 7 RC1 to EntityFrameworkCore RC2 and followed the instructions.
But the call to base(options) now causes an exception:

Exception thrown: 'System.MissingMethodException' in Microsoft.EntityFrameworkCore.dll

Additional information: Method not found: 'Void Microsoft.Extensions.Logging.ILogger.Log(Microsoft.Extensions.Logging.LogLevel,

[2016-05-23 14:54] divega commented on #4705
@Villason if there is a workaround is going to depend on  how the query looks like.

[2016-05-23 14:59] ErikEJ commented on #5467
Could you share project.json / packages.config ?

[2016-05-23 15:13] SimonOrdo commented on #5449
@smitpatel

Context:

`public class ApplicationDbContext : IdentityDbContext<ApplicationUser>
    {
        public ApplicationDbContext(DbContextOptions options)
        : base(options)
        { }

        protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
        }

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {

[2016-05-23 15:20] jaklithn commented on #5467
Actually I just forced Nuget to update ALL packages even those I regarded not related. That seems to have fixed the issue. On calling assemply I had Logging RC1 references ....
Thanks for your attention!

[2016-05-23 15:33] SimonOrdo commented on #5465
I don't think .Entry saves related entities any more.  Try .Attach, maybe?

See #4424 for details.

[2016-05-23 15:34] yarmenteros opened #5468 "The variable name '@inserted1' has already been declared. Variable names must be unique within a query batch or stored procedure."
After upgrade EF Core rc1 to rc2 I am having problems saving several entities at the same time. The error is in the query generated by the EntityFramework as shown below:

**The generated batch:**

[code]

**I trying to save the follow entities:**

Thanks for your time...

[2016-05-23 15:34] SimonOrdo commented on #5465
I don't think .Entry saves related entities as of RC2.  Try .Attach maybe.

See #4424 for details.

[2016-05-23 15:50] natemcmaster commented on #5460
This is probably a duplicate of this issue: https://github.com/aspnet/EntityFramework/issues/5320. It's a known limitation of .NET Core CLI preview 1 and unfortunately something we cannot work around. We depend on them to provide support for running "dotnet ef" on class library projects.

@joeaudette glad you got the workaround we shared to work. You could also use multi-targeting so that you can

[2016-05-23 15:55] SimonOrdo commented on #5465
I don't think .Entry saves related entities as of RC2. Try .Attach maybe.

See #4424 for details.

[2016-05-23 16:01] bricelam commented on #5288
If your `project.json` includes the following...
[code]
...or you select **Copy to Output Directory: Copy if newer** (like you should for an existing, app-local database). Things will work as expected.

[2016-05-23 16:06] geoffmmorgan commented on #5424
The TrackGraph method worked for me, I did something like this

[code]

[2016-05-23 16:07] bricelam commented on #5459
If we do this, we should definitely do aspnet/Microsoft.Data.Sqlite#235 :wink:

[2016-05-23 16:14] bricelam commented on #5466
It uses the default mode: serialized. See also aspnet/Microsoft.Data.Sqlite#228

[2016-05-23 16:32] #4821 closed

[2016-05-23 16:48] natemcmaster commented on #5466
EF actually doesn't set this. This is controlled by the compilation options that produced sqlite3.dll (the native component EF invokes to use SQLite). See https://www.sqlite.org/compile.html#threadsafe. Note this document says "Serialized" is the default, but this varies per installation of SQLite. For example, the default "libsqlite3.dylib" library on OSX El Capitan is compiled with "THREADSAFE=2

[2016-05-23 16:49] lajones commented on #5458
Can you include your `project.json` please?

[2016-05-23 17:18] mhenderson442 commented on #5458
I posted a question on [Stack Overflow](http://stackoverflow.com/questions/37364234/getting-newtonsoft-json-assembly-error-with-latest-entity-framework-core). It's not the complete `project.json` file, but all the relevant parts should be there. If you would like to see the complete file posted here I can do that too.

[2016-05-23 17:19] divega opened #5469 "Empty using statements generated by adding migrations when DbContext not in namespace"
If the `DbContext` class is not in a namespace adding a migration will generate an empty using statement (which is not valid in C#) in both the snapshot and the designer class:

[code]

This is not a very important scenario because creating classes without a namespace isn't common these days (it used to be more common with ASP.NET Web Sites) but on the other hand I think it should be an easy fix.

[2016-05-23 17:21] bricelam opened #5470 "Relational Metadata: Default constraint names don't include schema"
Should constraint names include the table's schema?

For an entity configured with the following...

[code]

...default constraint names currently look something like the following.

[code]

In EF6, they looked like this.

[code]

[2016-05-23 18:06] divega commented on #5092
EF Core 1.0 actually includes a new method on the `ChangeTracker` class called `TrackGraph()` which can be used to handle disconnected graphs. `TrackGraph()` facilitates visiting a graph of objects and affecting the change tracking state maintained in the `DbContext` for each object. The documentation for on how to do this isn't finished but https://github.com/aspnet/EntityFramework/issues/5424#is

[2016-05-23 18:08] divega commented on #5092
Clearing up milestone and labels to bring this issue back to triage. Originally my plan was to respond to customers with some additional details and close this issue a duplicate of a backlog issue issue, but I haven't been able to find an existing issue for a turnkey solution for disconnected graphs.

[2016-05-23 18:31] lajones commented on #5458
Can you try adding `"Newtonsoft.Json": "7.0.1"` to your dependencies and let me know if that works?

[2016-05-23 19:27] natemcmaster opened #5471 "UWP commands: generate binding redirects"
Because UWP commands use netcore50 assemblies but actually execute on net451, we can run into issues with assembly versions.

Example error:

[code]

Other examples:
- design-time migrations don't fail with a load error, but still fail due to getting the wrong versions of BCL libraries such as DataAnnotations. See https://github.com/aspnet/EntityFramework/issues/5945.
- design-time tools are bound

[2016-05-23 19:48] rowanmiller commented on #5470
Do names have to be unique across the schema, or just the table?

[2016-05-23 19:49] rowanmiller commented on #5469
https://github.com/aspnet/EntityFramework/issues/2467 is probably the one you are thinking of.

[2016-05-23 19:56] rowanmiller commented on #5465
Yep the `Entry` API is a low level atomic operation. If you want something that does a bit more heavy lifting for you, then `DbSet.Add/Attach/Update/Remove` are the APIs to use.

[2016-05-23 20:02] rowanmiller commented on #4022
@justinyoo can you open a new issue with details of the code you are executing etc. and a full stack trace of the exception.

[2016-05-23 20:04] rowanmiller commented on #5464
@zenixgrace you need to use the Fluent API for composite keys. We do not plan to support composite keys with data annotations. We've documented this at https://docs.efproject.net/en/latest/modeling/keys.html.

[2016-05-23 20:06] rowanmiller commented on #5460
Agreed that this is dupe of #5320 - at the moment we only support everything being in a single project that the command is being executed on.

[2016-05-23 20:09] rowanmiller commented on #2266
We have committed to implementing TPT (based mostly on feedback from the community), but it will be a post v1.0.0 feature. You can see a list of the features we consider most important post v1.0.0 as part of our Roadmap https://github.com/aspnet/EntityFramework/wiki/Roadmap.

[2016-05-23 20:09] ajcvickers opened #5472 "All command logging code is internal"
All the code for formatting log output for commands and parameters is internal--as in, real internal, not just in an internal namespace. This makes it hard to re-use this code in providers and tests. See RelationalLoggerExtensions.LogCommandExecuted

[2016-05-23 20:16] rowanmiller commented on #5431
Duplicate of https://github.com/aspnet/EntityFramework/issues/5384 - already assigned to fix for RTM.

[2016-05-23 20:18] robbpriestley opened #5473 "Entity Framework Memory Management"
This isn't so much of an issue as it is a request for information. I'm pretty new to EF, let alone EF Core so sorry if what I need is just plain obvious. But I do need a bit of help because either the documentation isn't complete or I'm not finding it on my own, despite my efforts.

I built a little logging routine that uses EF to publish log entries to my database. Sort of like this, called from

[2016-05-23 20:21] lajones commented on #5154
Fix checked in with 767b3dd.

[2016-05-23 20:21] #5154 closed

[2016-05-23 20:40] bricelam commented on #5470
For SQL Server, just within a table. I think PostgreSQL requires indexes to be unique across the schema which is determined by the target table.

So the only place it would currently matter is when a table has two foreign keys that look identical except for the referenced table's schema.

[2016-05-23 20:44] bricelam opened #5475 "Relational Metadata: Default constraint names reference properties not columns"
For an entity configured with the following...
[code]
...default constraint names currently look something like the following.

    AK_Employee_ManagerId
    IX_Employee_ManagerId
    FK_Employee_Employee_ManagerId

In EF6, they looked like this.

    AK_Employee_Manager
    IX_Employee_Manager
    FK_Employee_Employee_Manager

[2016-05-23 20:45] SimonOrdo commented on #5449
Okay. This is is somehow related to deriving a secondary DB Context from ApplicationDBContext.

` public class AdminDbContext : ApplicationDbContext
    {
        public AdminDbContext(DbContextOptions options)
        : base(options)
        {

        }

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            modelBuilder.Entity<Isengard_Admin_LAP_CertPri

[2016-05-23 20:48] rowanmiller commented on #5406
@beho feel free to email it thru (just include a reference to the issue #)

[2016-05-23 20:49] mhenderson442 commented on #5458
I tried adding `Newtonsoft.Json: 7.0.1`. I got errors with other dependencies were looking for version 8.03. I got messages about some things looking for 8.03, "and got 7.01 instead."

[2016-05-23 21:08] divega commented on #5473
@robbpriestley in the comment you got in stackoverfow.com it also says:

That is actually the right way to think about it: We recommend that you limit the lifetime of the instances of the `DbContext` itself, e.g. in a Web application you typically use a `DbContext` instance per request. The closes thing to a "flush" operation is `SaveChanges()` that method will not try to remove references to trac

[2016-05-23 21:15] natemcmaster commented on #5383
@yeasin90 confirmed this is a bug in RC2. Adding a fix here in #5476.

@abdu292 and @ahanoff the errors you posted in comments seem to be unrelated to the original issue this bug was opened to track. Can you please create separate issues and include a minimal repro of the issue you encountered?

[2016-05-23 21:19] rowanmiller commented on #5392
The PowerShell commands make use that setting - since they have access to all the extra context of PMC. I can see the logic in saying that the dropdown should control the working directory of PMC - though I can also see the logic that says the working directory is at the solution directory. If this were to change, it would be a NuGet change - https://github.com/NuGet/Home.

[2016-05-23 21:21] tmds commented on #5466
@bricelam @natemcmaster to be safely used in an asp.net core app, should the mode be set to serialized? Wouldn't it make sense to put this to the same value (e.g. serialized) on all platforms?

[2016-05-23 21:21] robbpriestley commented on #5473
@divega OK, in that case I should be good. But first, I feel like you actually meant "`DbContext` is **not** designed to be reused after `SaveChanges()`." Right? Because if a DbContext is transient and `SaveChanges()` occurs as a last step before the context disappears, why would you bother trying to remove references to tracked entities?

[2016-05-23 21:36] divega commented on #5473
I meant to say what I said :smile: Although it is not the most common thing to do, you can call `SaveChanges()` multiple times in the same `DbContext` instance.

[2016-05-23 21:40] #4705 closed

[2016-05-23 21:40] mikary commented on #4705
Fixed in #5477

[2016-05-23 21:44] rowanmiller commented on #5300
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-23 21:45] rowanmiller commented on #5350
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-05-23 21:47] lajones commented on #5458
What happens if you add both?

[2016-05-23 21:55] robbpriestley commented on #5473
Sorry, my bad. I'm learning. :grin:

Bear with me here if you can for a second and I'll also demonstrate my lack of expertise with ASP.NET MVC. In my ASP.NET Core project, I have a controller which responds to web requests (REST). That controller accepts an `IWebLogRepository` by DI, and the implementing `WebLogRepository` accepts a `DbContext` instance by DI. In the `DbContext` is a `DbSet<WebLog

[2016-05-23 21:56] natemcmaster commented on #5407
@jingliancui this issue should be fixed by upgrading to the latest UWP tools. (See  https://github.com/aspnet/Announcements/issues/170). Can you confirm you have UWP tools >= 1.3.1?

Also, your repro project is using EF RC1. Now that we have released RC2, can you upgrade and tell us if the issue still reproduces? Our packages were renamed in this upgrade. See https://docs.efproject.net/en/latest/m

[2016-05-23 22:00] rowanmiller commented on #5437
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2016-05-23 22:03] rowanmiller commented on #5441
Do you have the dropdown selected to include pre-release versions on the UI?

[2016-05-23 22:14] maumar commented on #5454
@AustinFelipe could you provide some more info about the entities and DbContext you are using (specifically contents of class User, UserAvailability and OnModelCreating method of the DbContext)

[2016-05-23 22:16] maumar commented on #5457
duplicate of https://github.com/aspnet/EntityFramework/issues/4588

[2016-05-23 22:16] #5457 closed

[2016-05-23 22:16] rowanmiller commented on #5466
@natemcmaster are we going to be compiling versions for OSX etc? Assuming we will use serialized if we are.

[2016-05-23 22:17] rowanmiller commented on #5469
Closing as a dupe

[2016-05-23 22:20] natemcmaster commented on #5466
@tmds we don't have complete control over this. For RC2, Linux and OSX rely on the system-installed version of SQLite. We are hoping to redistribute libsqlite3 via NuGet instead, but we are waiting on external partners for this.

@rowanmiller assuming the SQLite team accepts the package we proposed for https://github.com/aspnet/Microsoft.Data.Sqlite/issues/237, then yes, this library on OSX and Li

[2016-05-23 22:21] mhenderson442 commented on #5458
When adding 7.0.1, or both 8.0.3 and 7.0.1 I get the following warnings:

`Dependency conflict. Microsoft.AspNetCore.JsonPatch 1.0.0-rc2-final expected Newtonsoft.Json >= 8.0.3 but got 7.0.1`

`Dependency conflict. Microsoft.AspNetCore.Mvc.ViewFeatures 1.0.0-rc2-final expected Newtonsoft.Json >= 8.0.3 but got 7.0.1`

`Dependency conflict. Microsoft.Extensions.Configuration.Json 1.0.0-rc2-final exp

[2016-05-23 22:22] rowanmiller commented on #5470
We'll leave it as-is, we can revisit in the future if it causes issues.

[2016-05-23 22:37] natemcmaster commented on #5293
The error  "Value does not fall within the expected range" is the same error thrown by #5383 which is fixed by #5476.

[2016-05-23 22:46] lajones commented on #5458
Sorry - I forgot. You have to include `"dncore50"` inside the `imports` section for `Microsoft.EntityFrameworkCore.Tools` inside the `tools` section. This is a workaround for a problem with CLI in RC2 and should go away in RTM.

[2016-05-23 23:02] bricelam commented on #5145
If we change the PowerShell module name (and GUID), you could workaround this by fully-qualifying the commands.

E.g.

    EntityFramework\Update-Database
    EntityFrameworkCore\Update-Database

[2016-05-23 23:04] natemcmaster commented on #5145
I like that idea, but what happens if user executes "Update-Database" w/o the full-qualified name? Which module wins?

[2016-05-23 23:05] bricelam commented on #5145
I believe PMC will ask prompt you for which one

[2016-05-23 23:13] rowanmiller commented on #5145
And that would only happen if there is a conflict (i.e. both modules installed)?

[2016-05-23 23:20] rowanmiller commented on #5288
Yep I agree this is by design. That is the same result you would get if you used that connection string on your app.

[2016-05-23 23:22] smitpatel commented on #5449
I am not able to get a repro here. There are several use defined classes which are not present in the code listing above. Can you work out a repro project and share with us?

[2016-05-23 23:25] natemcmaster commented on #5145
I just tried this. If two modules define a function with the same name, PowerShell invokes the one from the most recently imported module. :-/

[2016-05-23 23:25] rowanmiller commented on #5391
@gdoron - @natemcmaster added some info to that article.

[2016-05-23 23:25] mhenderson442 commented on #5458
Bummer. Thought I had a remedy.

Still getting the errors with the following:

[code]
I have tried variations of the above, but have not solved this riddle.

[2016-05-23 23:29] divega commented on #5458
@mhenderson442 just in case it helps, what NuGet feed are you using? Do you have a project.lock.json file?

[2016-05-23 23:32] divega commented on #5145
Would it be possible to detect the situation in which there is a chance you are using the wrong version of the scripts and show a helpful error telling the you to qualify it?

[2016-05-23 23:35] mhenderson442 commented on #5458
I am using nuget.org(https://api.nuget.org/v3/index.json).

I do have a project.lock.json.

There are two references to Newtonsoft.Json 7.0.1. Excerpted below.

[code]
[code]

[2016-05-23 23:48] mhenderson442 commented on #5458
If it's useful, here are some the steps I follow trying to solve the issue:

1. Make a change to `project.json` and save
1. Go to cmd prompt and hit `dotnet restore`
1. If there are no errors or warnings, I hit `dotnet ef`

At this point I get the error you see at the start of this thread.

[2016-05-23 23:55] lajones commented on #5458
Unfortunately I think we are hitting #5320.

[2016-05-23 23:57] rowanmiller commented on #5446
Note for triage: I thought that mentioning the property by name would be enough to bring it in, but we create a shadow property.

[2016-05-24 00:00] realavaloro opened #5481 "RC2 Deadlock problem with CountAsync() that does not happen with Count()"
I have found an inconsistency when querying a `query.CountAsync();`. It does not throw any error nor displays any error on console, it simply gets into a deadlock state (the application is still up but the next line of code does not get to execute)

The problem does not happen when using the same query to count the items in a synchronous way: `query.Count();`

Scenario:

I have an entity that has

[2016-05-24 00:04] mhenderson442 commented on #5458
#5320 does look quite similar. I used the Web Api template to create the project. I even tried a Web Application template to see if something was not right with the template.

[2016-05-24 00:14] rowanmiller commented on #5385
Note for triage: I would have expected `context.GetService<DbContext>();` to have thrown because `DbContext` is not registered in the container, but it still throws the " No database provider has been configured" exception.

[2016-05-24 00:15] rowanmiller commented on #5385
@takazm - your issue looks different from the one being discussed here, please open a new issue. If you can include a complete project that reproduces the issue that would be good as I don't see anything obviously wrong in your code.

[2016-05-24 00:32] AustinFelipe commented on #5454
@maumar They are:

[code]

[code]

[code]

Let me know if you need something

[2016-05-24 00:37] abdu292 commented on #5383
Thank you @natemcmaster . It looks like the issue I mentioned was only with Visual Studio "15" and not happening with Visual Studio 2015. Thanks!

[2016-05-24 00:47] Kagamine commented on #5437
I suppose he has used DbContext.Database.EnsureCreated(). Migration cannot be used in this scene.

[2016-05-24 01:25] tobbylee1 commented on #4616
I'm using  "Microsoft.EntityFrameworkCore.SqlServer": "1.0.0-rc2-final" and according to this post, I would just need to add the option to.UseRowNmberForPaging() when creating a new DBcontext. But when I add the option, it's not recognized. Can anyone point me in the right direction? Trying to paginate records on SQL Server 2008 so this seems to be the recommended solution. Below is the line I'm u

[2016-05-24 02:24] mvermef opened #5483 "Release Build -> Yields M.E.PlatformAbstractions complications"
Posting this here since it is the only library right now that I am using in conjunction with Template10 for Sqlite support.   It appears that the Microsoft.EntityFrameworkCore.Tools are part of the problem with M.E.PlatformAbstractions, since they are the only tool that apparently references that library

1>C:\Program Files (x86)\MSBuild\Microsoft\.NetNative\x86\ilc\IlcInternals.targets(936,5): wa

[2016-05-24 02:47] ninety7 commented on #5438
Thanks for your help @ajcvickers. I'm trying to sync entities between contexts but cannot easily create a `ValueBuffer` from a boxed entity (`object` type). I'll stick to querying the `context.ChangeTracker.Entries` collection. I'll subscribe to #797 and hope that you add a way to retrieve/search key values from the state manager.

[2016-05-24 02:54] RickStrahl opened #5484 "services.AddDbContext() delegate not firing"
I have code like the following in `ConfigureServices()`:

[code]

meant to initialize the context. However, the code in the delegate is never fired.

For now my workaround is to implement the context's OnConfiguring:

[code]

This works, but doesn't allow for the same configurability at the application level.

What am I missing? Why is the builder delegate not firing?

RC2 bits

[2016-05-24 02:58] ahanoff commented on #5383
@natemcmaster Sure! I will create separate task with detailed description. Thanks.

[2016-05-24 03:54] applenele commented on #5437
This is a article that records my problem in Chinese but Code is clear.You can have a look,Later I will provide a detailed Code.
think you.
@rowanmiller

[2016-05-24 03:58] applenele commented on #5437
Yes,I am using  entity framework core
@gdoron

[2016-05-24 04:19] jimmymain commented on #2266
Hi,

That's great news - but it's a show stopper for all our clients we will all
eagerly await version 2.

On Mon, 23 May 2016 at 10:10 PM Rowan Miller <notifications@github.com>
wrote:

[2016-05-24 04:28] davidfowl commented on #5483
The WACK strikes again...

/cc @ericstj @anurse

[2016-05-24 04:52] damienbod commented on #5484
The Context ctor has changed in RC2, maybe you need to update this:

Example:
[code]
Greetings Damien

[2016-05-24 05:07] kjbetz commented on #5460
I was able to get this work a different way. My setup is as described above. A Web app which has the connection string configuration and sets up EF, all Context, model, Entity Framework stuff in a class library. For RC1 the Migrations were stored in the class library too. For RC1 I would call commands like this:

`dnx ef migrations add Initial -c MyContext -p MyClassLibProject`
`dnx ef database up

[2016-05-24 05:18] applenele commented on #5437
I find a same issue [__EFMigrationsHistory table not populated on database create](https://github.com/aspnet/EntityFramework/issues/5249) ,i get it.

[2016-05-24 05:39] RickStrahl commented on #5484
Hey Damien,

How does that affect AddDbContext()?

Handling inside of DbContext is not a problem, it's configuring from the app level via the DI config.

+++ Rick ---

[2016-05-24 06:42] lucamorelli commented on #5441
ops, sorry, I had not noticed that inside the same vs session when I opened nuget in asp.net 5 project the flag was set, and in asp.net 4 not.
thanks

[2016-05-24 06:48] oyvindvol commented on #5406
I am also having this problem. I migrated from RC1 to RC2, and I see a shadow FK in the generated queries in sql profiler. I have a large data model, but this problems seems to occur only for one of my tables.

I have a data model like this: Todo -|-----< Delegation

Also, if I try to create a new migration with the `dotnet ef migrations add` command, I get a `.AddColumn<int>()` trying to add the