[2014-11-24 19:22] anpete opened #1124 "Code First: One-to-one FK APIs should introduce shadow properties"
Given this:

[code]

Where "PersonId" has not been defined, we currently throw ModelItemNotFound; should we just add the shadow key instead?

Should we have an overload of ForeignKey like:
[code]

[2014-11-24 19:27] anpete opened #1125 "Code First: One-to-one FK discovery of shadow prop"
Given:

[code]

We should discover PersonId as the FK.

[2014-11-24 19:39] smitpatel opened #1126 "SqlServer: Autogenerated integer values for composite PK"
In present implementation SqlServer auto generates values for integer columns even if its a part of composite primary key which is not desirable by design.

[2014-11-24 20:11] anpete opened #1127 "SQLite: Lift AddForeignKey ops to CreateTable when gen'ing SQL"
When creating tables with FKs in SQLite, SQL gen for migrations ops currently throws NotImplemented for AddFK operation. But, when we are creating the table in the same migration, we should be able to lift the FK into the Create Table statement itself and thus avoid the SQLite limitation.

[2014-11-24 21:19] #1050 closed, assigned to nobody

[2014-11-25 00:23] ghost opened #1132 "SQLite metadata extensions are not implemented."

[2014-11-25 01:01] AndriySvyryd opened #1134 "ForeignKeyConvention shouldn't create shadow PKs"
ModelBuilder should throw if no PK has been defined on the principal entity type.

[2014-11-25 01:30] #767 closed, assigned to nobody

[2014-11-25 01:33] #1077 closed, assigned to nobody

[2014-11-25 01:33] #1078 closed, assigned to nobody

[2014-11-25 07:38] FalconCoder opened #1135 "MaxLength is not working"
Hi

based on the XUnit in tests project, this is the way change Key & Property of the model.

[code]

When i apply "k ef migration add initial", It generate this code automatically

[code]

When i apply "k ef migration apply" the database didn't generate
content nvarchar(1000)
title nvarchar(50)

both of the property has nvarchar(max)

Do you have the EntityTypeConfiguration on EF7?

[2014-11-25 19:03] avanderhoorn opened #1137 "Logging: Glimpse base wish list"
Here are some requirements for logging:

**Basic Requirements:**
 - Connections:
     - ID, Time, Connection String (Key/Full Details), Duration
     - Association Context (Related Transaction ID, as applicable)
 - Transactions:
     - ID, Time, Type (Normal/DTS), Isolation Level, Duration
     - Association Context (Related Connection/Transaction/Command ID, as applicable)
 - Commands:
     - ID,

[2014-11-25 19:21] anpete opened #1138 "Code First: Per-entity configuration via structural static method"
Consider allowing a method like:

public static void Configure(ModelBuilder modelBuilder) {}

to be defined on model types so that:
- Model config can be encapsulated
- Internal members can be addressed symbolically.

[2014-11-25 23:40] ajcvickers opened #1139 "Perf tests run when running all tests in TestDriven.NET"
An attempt will be made to run the perf tests when running all tests in the solution using Dev14 and the latest TestDriven.NET build. It appears that the mechanism to exclude these tests from a "normal" run is not working correctly when using TestDriven.NET.

[2014-11-25 23:52] #1079 closed, assigned to nobody

[2014-11-25 23:52] #641 closed, assigned to nobody

[2014-11-26 00:00] rowanmiller opened #1141 "Migrations: Improve functional test coverage"
Probably by porting existing tests from EF6

[2014-11-26 00:10] rowanmiller opened #1142 "Azure Table Storage Provider"
Parent item to track finishing this provider once we have the core of EF7 padded out and stabilized.

[2014-11-26 00:13] #735 closed, assigned to nobody

[2014-11-26 00:16] rowanmiller opened #1143 "Tidy up AddDbContext hacks"
We have a number of hacks/workarounds in this code. Review it to make sure it is production ready.

[2014-11-26 00:22] rowanmiller opened #1144 "SQLite Provider"
Parent work item to track finishing the SQLite provider once the core parts of the stack are stabilized.

[2014-11-26 00:23] rowanmiller opened #1145 "Move some providers to branch while we sure up core of EF7"
We are going to move some providers out of the working branch while we sure up the ore of EF7. We'll then bring them back in once we have things stabilized.

[2014-11-26 00:33] rowanmiller opened #1147 "Query: Perf profiling and improvements (incl Cache)"

[2014-11-26 00:39] rowanmiller opened #1148 "API Documentation"
Oh yeah... this one will be fun

[2014-11-26 00:41] divega opened #1149 "AsMigrationsEnabled() API usability"
In order to access migrations functionality currently one has to call `context.Database.AsMigrationsEnabled()` to obtain an instance of `MigrationsEnabledDatabase`. Although one could argue that having this API is  more correct than exposing the functionality directly on RelationalDatabase, it is hard for me to see how it helps in usability and discoverability. The name itself looks very strange (

[2014-11-26 01:03] anpete opened #1151 "Query: Enable multi-level include"

[2014-11-26 01:54] anpete opened #1152 "Code First: Nav apis permit zero nav props to be specified"
builder.Entity<Genre>().OneToMany<Album>();

Probably need to switch to overloads instead of default args.

[2014-11-26 04:51] bricelam opened #1155 "Use Core CLR version of System.Data.Common and System.Data.SqlClient"
...once the NuGet packages are ready.

[2014-11-26 10:40] dbis01 opened #1156 "SQlite: Exception "ExecuteReader can only be called when the connection is open.""
I keep getting ExecuteReader exception. I tried to isolate it and it looks like it is thrown on query with .Include when previous query returned empty result set. below is code to reproduce it, Exception is throw on i == 1 after i == 0 returned empty set. when I comment out //.Include(t => t.Questions) it works just fine

    using Microsoft.Data.Entity;
    using Microsoft.Data.Entity.Metadata;

[2014-11-26 17:30] rowanmiller opened #1157 "Query: Polish (define scope of what needs to be supported in first release)"
Work out what needs to be implemented to make the current scope feel polished (conditional expressions, functions, object equality, etc)

[2014-11-26 17:33] rowanmiller opened #1158 "API Reviews for 7.0.0 release"
Embrace the pain

[2014-11-26 17:43] rowanmiller opened #1159 "Performance brown bag"
Need to share how perf infrastructure works and how to add tests with the rest of the team.

[2014-11-26 17:46] rowanmiller opened #1160 "Remove Microsoft.DataAnnotations (repo and package)"
Currently this package only has one annotation ([Index]) and we're not even using it. We decided to just get rid of this package all together.

[Index] (currently copied from EF6) has some design issues and we'll re-design it when we get to it. We can probably also just ship it as part of EF rather than having a separate package just for this one annotation.

[2014-11-26 17:50] rowanmiller opened #1161 "Exploratory Testing: Query"

[2014-11-26 17:52] rowanmiller opened #1162 "Exploratory Testing: Migrations"
Scenarios of note:
- [ ] Generic `DbContext` types
- [ ] Multiple contexts per database
- [ ] Multi-tenant

[2014-11-26 17:52] rowanmiller opened #1163 "Exploratory Testing: Model building and conventions"
- [ ] Inheritance
- [ ] Data annotations
- [ ] Half-configured relationships
- [ ] Conventionless ModelBuilder
- [ ] Shadow-state entities
- [ ] Configuration source precendence

[2014-11-26 17:53] rowanmiller opened #1164 "Exploratory Testing: Relationships & Graph behavior"
When working on this consider the following issues we closed and explore if we need to address any part of them for EF7.
- https://github.com/aspnet/EntityFramework/issues/1207
- https://github.com/aspnet/EntityFramework/issues/1206

[2014-11-26 17:53] rowanmiller opened #1165 "Exploratory Testing: Update pipeline (incl transactions)"

[2014-11-26 17:53] rowanmiller opened #1166 "Exploratory Testing: Shadow state"

[2014-11-26 17:54] rowanmiller opened #1167 "Exploratory Testing: Reverse Engineer"

[2014-11-26 17:54] rowanmiller opened #1168 "Exploratory Testing: DI & configuration"

[2014-11-26 17:55] rowanmiller opened #1169 "Perf: Summary of results & create work items"
@lukewaters - once you have the perf infra done it would be good to bring current results to a design meeting and create work items for the specific areas we need to address.

[2014-11-26 18:00] rowanmiller opened #1170 "Windows 10 UWP support (formerly UAP, formerly Phone and Store)"
We're going to temporarily move SQLite (and other providers) out of the working branch while we sure up the core of EF (focusing on ASP.NET 5 and SQL Server).
This is a parent work item to track re-enabling Phone/Store apps once we move SQLite back in (docs, testing, etc.)

[2014-11-26 18:09] #587 closed, assigned to nobody

[2014-11-26 18:37] AndriySvyryd opened #1171 "Conventions: Add logging"
It would be helpful to find out what the conventions did/didn't do

[2014-11-26 18:44] #236 closed, assigned to nobody

[2014-11-26 18:45] #299 closed, assigned to nobody

[2014-11-26 18:47] #867 closed, assigned to nobody

[2014-11-26 18:47] #994 closed, assigned to DavidObando

[2014-11-26 18:49] #848 closed, assigned to nobody

[2014-11-26 19:30] rowanmiller opened #1172 "Generic string based HasForeignKey"
We should have an overload of HasForeignKey like:

`HasForeignKey<TDependent>(string)`

This allows you to identify the dependent in one-to-one relationships, but still specify a property that is in shadow state.

[2014-11-26 19:51] #161 closed, assigned to nobody

[2014-11-26 19:51] #165 closed, assigned to nobody

[2014-11-26 19:53] #197 closed, assigned to nobody

[2014-11-26 19:53] #198 closed, assigned to nobody

[2014-11-26 19:54] #199 closed, assigned to nobody

[2014-11-26 19:56] #206 closed, assigned to nobody

[2014-11-26 19:58] #217 closed, assigned to nobody

[2014-11-26 20:05] #991 closed, assigned to nobody

[2014-11-26 20:06] #104 closed, assigned to divega

[2014-11-26 20:14] #228 closed, assigned to nobody

[2014-11-26 20:15] #227 closed, assigned to nobody

[2014-11-26 20:19] rowanmiller opened #1173 "Update to up-to-date release build of ix-async"
We are waiting on a bug fix that is in the ix-async code base but has not been published yet. We have workarounds that can be removed once we have the new build.
We're also currently using a pre-release build to get wpa81 support.
Prior to RTM we need to get a proper build to use.

[2014-11-26 21:11] #1070 closed, assigned to nobody

[2014-11-26 21:24] ajcvickers opened #1175 "Consider using product code to create databases"
Currently SqlServerTestStore (and presumably other TestStores) use custom code for creating databases. This means that changes made to product code such as the attempt to make database creation more resilient will not get used by the tests.

[2014-11-26 23:02] ajcvickers opened #1178 "Consider changes to Migrations to allow creation resiliency to be used"
See Issue #985. This mechanism doesn't currently kick in when ApplyMigrations causes the database to be created. This is because the mechanism is implemented outside of the migration operation, which is in turn because migrations operations cannot execute some arbitrary code as oppose to just generating SQL that can be executed.

[2014-11-26 23:17] #985 closed, assigned to nobody

[2014-11-27 01:17] AndriySvyryd opened #1179 "Perf: Improve Model.GetReferencingForeignKeys"
Consider storing entity types in a graph optimized to find incoming neighbors.
It could also be used to find unreachable entity types.

[2014-11-27 01:26] #803 closed, assigned to nobody

[2014-11-27 02:10] ajcvickers opened #1181 "ModelBuilder is not dynamically selected by provider in the correct way"
ModelBuilder is added as a common service in AddEntityFramework but an attempt is made to specialize in AddAzureTableStorage.

If the ModelBuilder needs to be specialized, then it needs to be dynamically selected as part of the provider services such that multiple providers can register different model differs without one hiding another.

Note that the cross-store functional tests are not currentl

[2014-11-27 02:16] #665 closed, assigned to nobody

[2014-11-27 03:15] ghost opened #1183 "Bug in SQLiteMigrationOperationProcessor"
In CreateTableHandler.AddOperation

addFkOp != addForeignKeyOperation

must be changed to:

addFkOp.ForeignKeyName != addForeignKeyOperation.ForeignKeyName

[2014-11-27 19:21] ghost opened #1184 "InvalidCastException in ClrPropertySetter.SetClrValue when using computed columns with null values"
See ComputedColumnTest.Can_use_computed_columns_with_null_values.

[2014-11-28 22:33] Piggy69 opened #1186 "Feature Request: EF tools and SSDT integration"
Integrating the SSDT database design tools with the new EF would be a great productivity enhancement for both teams and individual developers working on the "data side".
This will allow developers to design and implement databases with the most advanced and optimized techniques with the SSDT, having the results immediately available to the data access layer without any intermediate step.
I believe

[2014-11-29 13:08] SychevIgor opened #1187 "Consider adding Blob and Queue to ATS provider"
For ef7 Azure table storage will be supported.
As I understand from design notes: table storage will be extremely simple.

I think it will be a great case if we will can store binary data as part of our entity in a azure blob storage with lazy loading.
example:
    public class Document
    {
        public string Name { get; set; }

[code]

where DocumentBinaryRepresentation  could be loaded if/w

[2014-12-01 13:48] yuezhongxin opened #1188 "Use EF7, entity attribute type is short, SQL Server Profiler can not crawl where conditions."
Hi, I am Chinese, my English is very bad, not a detailed description of the problem, very sorry.

See more details: [EntityFramework 7 smallint short 奇怪问题](http://www.cnblogs.com/xishuai/p/ef7-smallint-short-where.html)

[2014-12-01 16:31] satyajit-behera opened #1189 "Support for TPT and TPH inheritance in EF7"
Looks like EF 7 does not support TPT and TPH inheritance.

[2014-12-01 18:07] #747 closed, assigned to nobody

[2014-12-01 19:11] #229 closed, assigned to nobody

[2014-12-01 19:17] #281 closed, assigned to nobody

[2014-12-01 19:26] #326 closed, assigned to nobody

[2014-12-01 19:42] #479 closed, assigned to nobody

[2014-12-01 19:42] #490 closed, assigned to nobody

[2014-12-01 19:44] #511 closed, assigned to nobody

[2014-12-01 20:59] rowanmiller opened #1191 "Consider specifying 'Edition' when creating Azure databases"
Default for CREATE DATABASE statements is 'Web' but that is now deprecated.
Looks like Standard is the recommended option now:
`CREATE DATABASE Test (EDITION='standard')`

http://msdn.microsoft.com/en-us/library/dn268335.aspx

[2014-12-01 22:03] #239 closed, assigned to nobody

[2014-12-01 22:05] #344 closed, assigned to nobody

[2014-12-01 22:09] #447 closed, assigned to nobody

[2014-12-02 11:39] tenowg opened #1195 "Attempting to set type to "Nullable`1" in DbContext"
When adding a int? field with migration it is set to <Nullable`1> in the Snapshot and designer files for the migration.
Unless you go back and manually change this to int? migration will fail.
I need the Null field for a foreign key.

Wrong mapping:

[code]

Proper mapping:

[code]

[2014-12-02 14:14] jbuiss0n opened #1196 "Can't Enable-Migrations or Add-Migration : The term 'xxx' is not recognized as the name of a cmdlet"
Hello,

I don't know if i'm in the right place to ask my question, sorry if not.

I want to try some little things using EF Code migrations, so i've created a new **ASP.NET 5 Console Application**, using Visual Studio 2015 Preview.
I then just go to my **Package Manager Console**, and put `Install-Package EntityFramework -Pre`. Everything is ok, i've the right dependencies in my **project.json**.

[2014-12-02 17:47] #557 closed, assigned to nobody

[2014-12-02 18:52] #243 closed, assigned to nobody

[2014-12-02 20:12] #328 closed, assigned to nobody

[2014-12-02 21:05] ajcvickers opened #1197 "Entry method is currently on context.ChangeTracker"
In previous versions of EF6 it was on DbContext even though some might say (:smile:) it belongs with the change tracker along with the Entries method.

[2014-12-02 21:05] ajcvickers opened #1198 "Implement ChangeTracker.HasChanges"

[2014-12-02 21:07] ajcvickers opened #1199 "Simple Logging API for database interactions (similar to Database.Log)"
This would make use of the core logging services without the need to do any wire-up.

We may want a `Database.Log` for SQL and then something like `Context.Log` for everything.

[2014-12-02 21:07] ajcvickers opened #1200 "Implement CurrentValues, OriginalValues, and GetDatabaseValues on EntityEntry"

[2014-12-02 21:07] ajcvickers opened #1201 "Implement relationship access methods on EntityEntry"
This includes:
- Reference
- Collection
- Member (including integration with existing Property methods)

These methods should provide access to:
- CurrentValue
- Back pointer to the EntityEntry
- IsLoaded
- Load
- Query

[2014-12-02 21:08] ajcvickers opened #1202 "Implement metadata access from EntityEntries"
In EF6 we have Name properties on PropertyEntry, etc. We dicussed in the past that we would rather have quick access to general metadata for tne entity type, property, relationalship, etc, but the metadata APIs were so bad that we never did this. We can now do it for EF7.

[2014-12-02 21:08] ajcvickers opened #1203 "Implement EntityEntry.Reload"

[2014-12-02 22:21] #498 closed, assigned to nobody

[2014-12-02 22:27] #956 closed, assigned to nobody

[2014-12-02 23:14] NotMyself opened #1204 "Push queries on lazy navigation properties to database (a.k.a extra lazy loading)"
Hi Team,

I am a former NHibernate user that is switching over to using Entity Framework. I wanted to share with you a scenario that surprised me when I first encountered it. You can see my write up and sample code [here](https://gist.github.com/NotMyself/b9e782143cf6f7ca5e56). The full source of the project is located [here](https://github.com/NotMyself/AccountingModel).

_TLDR:_ My [Account](htt

[2014-12-03 00:31] AndriySvyryd opened #1205 "Model validation"
The first time the model is used we should check it for validity to provide actionable exceptions.
This would include ambiguities found by conventions (#1171 is related).

[2014-12-03 00:37] AndriySvyryd opened #1206 "Generate temp key for any entity that doesn't have a valid key (but will when parent is added)"
This would allow to add a dependent entity with identifying FK first and then set the reference to the principal

[2014-12-03 00:41] AndriySvyryd opened #1207 "Should be able to add a dependent entity with identifying FK before the principal"
If a dependent entity with identifying FK is added before the principal it is referencing then the state manager should add the principal to allow its PK to be generated.

Related to #323

[2014-12-03 01:52] vincentlecours opened #1209 "SQLite Add-Migration failing when OneToMany present"
I'm using nightly build 11712 in VS2013 and following instructions from the wiki for both Windows Store/Phone app and traditional .NET apps and can't get the migrations part working on SQLite. Every time I'm executing command "Add-Migration FirstMigration" I'm receiving this error message: "Operation is not valid due to the current state of the object.". From what I understand, either the migratio

[2014-12-03 02:32] maumar opened #1210 "Query :: string.Contains could be translated to LIKE '%foo%'"
We should do that at least in the filters. We do that already for StartsWith and EndsWith.

[2014-12-03 02:34] #992 closed, assigned to maumar

[2014-12-03 17:54] bricelam opened #1212 "UseMigrationAssembly should take string, not Assembly"
The dependency direction is always from your migrations assembly to your context assembly. Therefore, you always have to call `Assembly.Load` before `UseMigrationAssembly`.

We should change it to just take a string instead and call `Assembly.Load` for the user.

[2014-12-03 18:13] #671 closed, assigned to bricelam

[2014-12-03 19:00] ajcvickers opened #1213 "DetectChanges should bring in new entities and mark removed entities appropriately"
Currently DetectChanges detects changes in already tracked entities but does not bring in new entities. It should do so, and it should probably always bring them in as Added, since they didn't exist in the graph when the entity was first attached to the context. It should also make sure that removed entities are marked as Deleted, unless they were Added, in which case they should probably be Detac

[2014-12-03 22:28] AndriySvyryd opened #1215 "Calling Ignore should produce the same model as if the ignored object didn't exist in the first place"
Since in the current paradigm the conventions run before Ignore we need to make the best effort to produce the expected model.

Implement Remove methods on internal metadata builders:
- [x] Remove entity type
  - [x] Removes all FKs on it and FKs referencing it
- [x] Remove property
  - [x] Simple property
    - [x] Calls Remove on all FKs, Indexes and keys that reference it
  - [x] Navigation pro

[2014-12-03 23:24] #933 closed, assigned to nobody

[2014-12-04 00:55] rowanmiller opened #1219 "PropertyEntry.CurrentValue should have a setter"
Important for setting Shadow State properties

[2014-12-04 03:11] yuezhongxin opened #1220 "Use EF7, Linq Join Count is error"
Test as follows:

![ConutTestWithJoin](http://images.cnitblog.com/blog/435188/201412/032132263737071.png)

Exception Details:

The strange thing is I use LongCount is correct. For more details see this blog: [EntityFramework 7 Join Count LongCount 奇怪问题](http://www.cnblogs.com/xishuai/p/ef7-linq-join-count-longcount-error.html)

[2014-12-04 21:27] #1197 closed, assigned to mikary

[2014-12-04 21:45] suhasj opened #1221 "StringComparison in Equals() not persisted in WHERE in the SQL query"
If the `Where` condition in the LINQ query on the DBSet has a `StringComparison` passed, then it is not reflected in the SQL query. The whole table is queried and the filtering happens in memory. It would be good to have a rough condition persisted in the query and further filtering done in memory

[2014-12-04 22:12] divega opened #1222 "Query: Consider translating String.Equals(String, StringComparison) for selected values of StringComparison"
Currently we support the `==` operator and the `String.Equals(String)` methods which both have the same behavior in-memory as `String.Equals(String, StringComparison.Ordinal)`. We could also support the latter without making significant changes and possibility other values of StringComparsion such as OrdinalIgnoreCase by applying `LOWER()` on both operands.

[2014-12-05 00:24] AndriySvyryd opened #1224 "Validate CLR type for EntityType"
We should restrict it to be reference type at least.

[2014-12-05 00:30] AndriySvyryd opened #1225 "Only allow at most one navigation per side per foreign key"
Also add .NavigationToPrincipal and .NavigationToDependent (or equivalent sugar) to ForeignKey.

[2014-12-05 00:31] lukewaters opened #1226 "Update Performance tests report results from CLR and CoreCLR"

[2014-12-05 00:32] lukewaters opened #1227 "Compare EF6 and EF7 performance test results"
We have comparable microbenchark tests that can run against EF6, and EF7 targeting Net451, CoreCLR and CLR.  It would be useful to visualize these test results and compare the different environments

[2014-12-05 00:39] lukewaters opened #1228 "Analyze performance microbenchmarks"
We need to analyze performance microbenchmark test results and identify areas that can be improved to meet release goals for EF7.

[2014-12-05 01:37] ajcvickers opened #1229 "Implement AttachGraph"
As per design meeting discussions here:
https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-December-4,-2014#graph-behaviors

[2014-12-05 01:37] ajcvickers opened #1230 "Change EntityState property to read-only and add methods for setting"
See https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-December-4,-2014#graph-behaviors

[2014-12-05 01:38] ajcvickers opened #1231 "Update handling of Migrations namespaces per design meeting decisions"
See https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-December-4,-2014#migrations-and-namespaces

[2014-12-05 08:10] yuezhongxin opened #1232 "Use EF7, Linq Left Join Where Select is error."
Hi, Linq left join for different grammar, I use EF6, EF7 were tested, but the test results are completely different, I hope you can help me, because my project is using it, thank you!

For more details see this blog: [EntityFramework 7 Left Join Where Select 奇怪问题](http://www.cnblogs.com/xishuai/p/ef7-linq-left-join-where-select-error.html)

[2014-12-05 17:01] b9chris opened #1233 "Column(TypeName="TypoInTypeName") gets Vague, Misleading Exception"
If you have a typo in your Column attribute, like:

[code]

Two things happen:
1. If you try to run anything, you get an extremely vague, misleading exception that points to a random piece of code that happens to be talking to EF - even if it's talking about a completely different set of tables - and throws, "Sequence contains no matching elements." Anything touching the db will do this.
2. If you

[2014-12-05 19:26] mikary opened #1234 "Better API for nulls in IValueReader.ReadValue"
The behavior of a call to IValueReader.ReadValue<T> for a null value is not consistent between IValueReader implementations. The result can be either a null value or a DBNull. As a result, null value unit tests that use ObjectArrayValueReader (i.e. CompositeEntityKeyFactoryTest.Returns_null_if_any_value_in_the_entry_properties_is_null) do not cover DBNull edge cases.

[2014-12-05 22:39] bricelam opened #1238 "Overload UseSqlServer to take SqlConnectionStringBuilder"
A pit-of-success for strongly-typed connection strings.
[code]

[2014-12-05 23:37] #141 closed, assigned to nobody

[2014-12-05 23:37] #603 closed, assigned to nobody

[2014-12-05 23:50] rowanmiller opened #1240 "Migrations: Make database creation part of migration code"
We should scaffold an API that does the CreateDatabaseIfNotExists operation (that way it can be removed, customized, etc.)

[2014-12-06 00:03] victorhurdugaci opened #1241 "EF doesn't work with NInject"
Repro:
1. Change MusicStore to use NInject instead of the default DI container.
2. Run

Result:

[code]

[2014-12-06 00:28] bricelam opened #1242 "Exploratory Testing: Commands"
Think of this as the non-framework pieces surrounding Migrations. Here are a few things to look at.
- NuGet/DNX commands
  - "Smart" defaults that you can override
  - Tab-completion
  - Console logging
- Design-time execution
  - Assembly resolution
  - Relative paths
- Writing files
- VS integration
  - Opening documents
  - Setting window focus

[2014-12-06 00:34] #1184 closed, assigned to mikary

[2014-12-07 08:33] yuezhongxin opened #1243 "Use EF7, Linq Contains In is error."
Test as follows:

![](http://images.cnitblog.com/blog/435188/201412/071619397642196.png)

Exception Details:

![](http://images.cnitblog.com/blog/435188/201412/071629524365454.png)

For more details see this blog: [EntityFramework 7 Linq Contains In 奇怪问题](http://www.cnblogs.com/xishuai/p/ef7-linq-contains-in-error.html)

[2014-12-08 15:02] StepanLeibo opened #1244 "ATS: Unable to remove entity"
Description: Azure table storage remove error
EF: 7.0.0.0

I created context

[code]

And Items class is

[code]

When I try to remove an Item using Entity Framework

Code to delete:

[code]

I've got an error "Table or row not found on server".
I can see in Storage Explorer that item is created and that it is removed on db.SaveChanges() but save changes always throw Exception.

It looks like EF t

[2014-12-08 17:49] ajcvickers opened #1246 "What should happen when attaching an inconsistent entity?"
Consider calling Attach, AttachGraph, or setting the state of an entity to Unchanged. The expectation is that the state of the entity will be Unchanged. However, what if the entity references a principal with a PK that doesn't match the FK in the new entity? We discussed this at length when implementing FK support in the old stack and came to the conclusion that we should throw a constraint except

[2014-12-08 17:59] ajcvickers opened #1247 "Low-level state changes"
If you call Remove for an Added entity its state gets set to Detached. See #251 and #265. However, the same is true for setting the entity's state to Deleted--it actually becomes Detached. Should setting the state honor the state passed, while the Remove method does something different? Or is it better to be consistent, in which case maybe the SetState method should be called ChangeState and docum

[2014-12-08 18:21] ajcvickers opened #1248 "Design meeting notes - December 4, 2014"
# Graph behaviors

## Goals

* Add relatively simple support for attaching graphs that can be done for RTM
* Try not to block future plans for higher-level services in this area
* Be more of a pit-of-success for attaching disconnected graphs than we have in the old stack

## Background

The old stack always attached the entire graph of reachable entities in the same state. That is, if you called A

[2014-12-08 19:08] #1231 closed, assigned to bricelam

[2014-12-08 21:54] maumar opened #1251 "Query :: join + orderby + count produces invalid sql"
Consider the following query:

[code]

This produces incorrect sql:

[code]

which throws:

Column "Customers.CustomerID" is invalid in the ORDER BY clause because it is not contained in either an aggregate function or the GROUP BY clause.

We should probably prune the orderby call as it doesn't do anything

[2014-12-08 22:02] smitpatel opened #1252 "Model Snapshot code: Generated code for non well-known types (like enum)"
Model snapshot code is a serialized form of the model therefore it should include correct type as the model. But properties that are not well-known types (like user defined enum) comes from application code, so to including them in model snapshot code requires the reference to them to be added in C# code. Moreover it can cause problem if application code is changed. Therefore presently model snaps

[2014-12-08 22:18] #1195 closed, assigned to smitpatel

[2014-12-09 18:14] bricelam opened #1255 "Commands: Use "soft" package dependencies"
Make the EntityFramework.Commands package not have a hard dependency on EntityFramework.Migrations and EntityFramework.Relational.

The idea is to remove the NuGet package dependency, but check that they're installed while executing a command.

[2014-12-09 19:03] #1066 closed, assigned to nobody

[2014-12-09 19:38] #1049 closed, assigned to bricelam

[2014-12-09 19:43] #1169 closed, assigned to nobody

[2014-12-09 19:58] rowanmiller opened #1257 "Add proper readme content to EF meta package"
Currently just placeholder html

[2014-12-09 21:10] maumar opened #1258 "Query :: orderby on colums from two different tables + result operator throws"
The following query is broken:

[code]

Exception is as follows:

Expression of type 'System.Collections.Generic.IEnumerable`1[System.Data.Common.DbDataReader]' cannot be used for parameter of type 'System.Collections.Generic.IEnumerable`1[Microsoft.Data.Entity.Query.QuerySourceScope]' of method 'System.Linq.IOrderedEnumerable`1[Microsoft.Data.Entity.Query.QuerySourceScope] _OrderBy[QuerySourceSco

[2014-12-09 23:01] #1159 closed, assigned to nobody

[2014-12-09 23:27] lukewaters opened #1259 "Update Performance Microbenchmark test names"
The Performance microbenchmark tests that we have are ported from EF6 and many of the test names do not accurately reflect the test in EF7 due to model inconsistencies.

Example:
```Query_Execution_TPT_model_Filter_Where``` The TPT concept is not applicable in EF7 since we do not have inheritance implemented yet.

[2014-12-09 23:51] #1226 closed, assigned to nobody

[2014-12-10 00:11] rmangalore opened #1260 "Support camelcasing in config.json file of starterweb."
Repro:
1. Create starter web.
2. open config.json file.
3. Make changes like ConnectionString ->connectionstring
4. Try Register

EXPECTED: The register and login scenarios to work with the config changes.
ACTUAL: It does not work. See TFS bug 1092928 :New StarterWeb template, click Register link fails for details.

[2014-12-10 18:34] mikary opened #1262 "InvalidCastException in ClrPropertySetter.SetClrValue when using nullable computed column with bitwise expression"
When updating nullable computed columns with non-null results of a bitwise operation, ClrPropertySetter.SetClrValue throws an InvalidCastException.

The exception is not thrown when the result is null (not computed).
The exception is not thrown for non-nullable computed columns.

Reproduction
[code]

[2014-12-10 19:41] thdotnet opened #1264 "one to one relationship specifying foreign key"
Is there a way to configure one to one relationship, using only Fluent API? (No Data Annotations).

I need something like this:

public class User
{
   public int Id {get;set;}
   public string Name {get;set;}
}

public class Address
{
   public int Id{get;set;}
   public string Address {get;set;}
   public User User {get;set;}
   public int UserId {get;set;}
}
Address has a identity Id but also a

[2014-12-10 20:44] balachir opened #1266 "New StarterWeb template, we get unhandled SqlException when trying to register a new user"
WPT.22408 + WTE.main.11209
1. New StarterWeb ASP.NET 5 project
2. Fix the camel-casing issue (workaround bug 1092928)
3. Ctrl-F5
4. Click Register – works now
5. Fill in user name, password and try to register a new user

ACTUAL
An unhandled exception occurred while processing the request.

Here's the full call stack

SqlException: Cannot open database "aspnet5-StarterWeb3-b868dd30-5f86-4062-8ad4-

[2014-12-10 22:19] #1225 closed, assigned to nobody

[2014-12-10 22:51] #1246 closed, assigned to nobody

[2014-12-10 22:52] #1230 closed, assigned to nobody

[2014-12-11 01:29] ajcvickers opened #1268 "Remove workaround for DI throwing TargetInvocationException"
This is now fixed in DI: See https://github.com/aspnet/DependencyInjection/pull/154

[2014-12-11 17:50] bricelam opened #1269 "Tests: Using Task.Result causing deadlocks in SqlServer.FunctionalTests"
I've increased the number of threads for now, but per xunit/xunit#88, we should come up with a solution that doesn't block in the constructors. (i.e. Invoke the task in the constructor, await the result when you need it.)

[2014-12-11 18:23] ajcvickers opened #1271 "Make all key properties have the GenerateValueOnAdd flag set by convention"
We are making a change so that the default behavior for properties that are part if keys is to have value generation enabled. Several points:
* Even with this flag set values will only be generated if the value of the property has not been set (is the default) when the entity is added. This means that use of non-generated keys where values have been set should not be affected.
* There is chance of

[2014-12-11 18:37] #1260 closed, assigned to smitpatel

[2014-12-11 21:53] lukewaters opened #1272 "Migrations: k ef migration apply should throw when unsuccessful"
When the connection string is invalid (i.e. no database is specified), the command `k ef migration apply` should return a failure message.  Currently it just prints the message `The database is up to date.`

[2014-12-11 22:39] maumar opened #1273 "Migrations :: Nullability is not added to the model snapshot, resulting in migrations repeatedly doing same work"
Consider the following model:

[code]

Add-Migration will produce the first migration. However every consecutive migration (without making any changes to the model) will also result in a non-empty migration like so:

[code]

[2014-12-11 22:54] suhasj opened #1275 "Migrations: Default value not scaffolded for non nullable fields causing error"
Consider a database with tables and user data. Now if I change my model to add a property, say `DateTime` which is non nullable. Running migrations generates the necessary code but doesn't set a default value for the column. This causes to throw an ugly EF exception when applying the migrations that there is no default value set.

This seems to have worked in EF 6.0 where a default value was set f

[2014-12-12 02:31] maumar opened #1278 "ChangeTracker ::: NRE when inserting values to a model with multiple One-To-One relationships"
Consider the following model:

[code]

and the following code:

[code]

This throws the following:

Unhandled Exception: System.NullReferenceException: Object reference not set to
an instance of an object.
   at Microsoft.Data.Entity.Metadata.ClrPropertySetter`2.SetClrValue(Object inst
ance, Object value)
   at Microsoft.Data.Entity.ChangeTracking.StateEntryMetadataServices.WriteValue
(Object enti

[2014-12-12 18:42] lukewaters opened #1280 "Implement Migrations Idempotent script option"
The option exists for the k ef migration script command, but the -i flag does not currently have any effect

[2014-12-12 18:59] bricelam opened #1281 "Migrations: Implement Script-Migration ranges"
[code]

Should output a script to take the database from v1 to v2.

[2014-12-12 19:07] twsouthwick opened #1282 "Where is IDbSet<TEntity>?"
Previous versions of DbSet<TEntity> implemented the interface IDbSet<TEntity> (see http://msdn.microsoft.com/en-us/library/gg696460(v=vs.113).aspx).  This simplified testing of DbContext derived types.  Is there a different pattern with EF7 or will this be added back?

[2014-12-12 19:11] bricelam opened #1283 "Migrations: Custom MigrationCodeGenerator"
There is currently no way for users to provide their own implementation of `MigrationCodeGenerator`; it is hardcoded to `CSharpMigrationCodeGenerator`.

This is particularly tricky because we no longer have `DbMigrationsConfiguration` and it may not make sense to add a design-time dependency in `OnConfiguring()`.

[2014-12-12 19:27] #733 closed, assigned to rowanmiller

[2014-12-12 19:42] #775 closed, assigned to nobody

[2014-12-12 19:48] #796 closed, assigned to nobody

[2014-12-12 19:49] #812 closed, assigned to nobody

[2014-12-12 19:57] #868 closed, assigned to nobody

[2014-12-12 21:40] ajcvickers opened #1284 "A chain of one-to-one relationships results in shadow-state FKs even when explicitly configured not to"
See model below. Product <-> ProductDetails and Product <-> ProductDetails are explicitly configured as one-to-one PK-to-PK relationships, but ProductDetails still gets a shadow-state ProductId FK.

[code]

[2014-12-12 22:19] maumar opened #1285 "ChangeTracker :: Sequence contains more than one element, when inserting multiple entities to a model with two OneToOne mappings"
Repro:

[code]

this throws the following:

Unhandled Exception: System.InvalidOperationException: Sequence contains more th
an one element
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source)
   at Microsoft.Data.Entity.ChangeTracking.NavigationFixer.DoFixup(IEnumerable`1
 navigations, StateEntry principalEntry, StateEntry[] dependentEntries)
   at Microsoft.Data.Entity.ChangeTracki

[2014-12-12 22:26] maumar opened #1286 "Mapping : Error depending on order of Required/ForeignKey"
Consider the following:

[code]

this throws the following:

Unhandled Exception: System.InvalidOperationException: The property 'Id' on entity type 'House' cannot be marked as nullable/optional because the type of the property is 'Int32' which is not a nullable type. Any property can be marked as non-nullable/required, but only properties of nullable types can be marked as nullable/optional.
   a

[2014-12-12 22:58] maumar opened #1287 "Mapping :: exception (can't find shadow key) for model with One to One mapping using shadow key and self referencing One to One mapping using regular property as FK"
[code]

Unhandled Exception: Microsoft.Data.Entity.Metadata.ModelItemNotFoundException:
The property 'ShadowKey' on entity type 'IncludeBashing.Weapon' could not be found. Ensure that the property exists and has been included in the model.
   at Microsoft.Data.Entity.Metadata.EntityType.GetProperty(String propertyName)

   at Microsoft.Data.Entity.Metadata.Internal.InternalRelationshipBuilder.<For

[2014-12-13 00:06] lukewaters opened #1288 "Configuring many-to-one relationships in fluent API results in shadow-state FKs even when explicitly configured not to"
This is similar to #1284

Some relationships that can be configured as one-to-many throw when the reverse relationship is configured as many-to-one

This configuration works:
[code]

while this configuration doesn't:
[code]
An exception is thrown saying that ProductSubcategoryIDKey is an invalid column name.

[2014-12-13 02:15] maumar opened #1292 "ChangeTracker :: ArgumentException when processing Include on a One to One self reference"
[code]

throws:

Unhandled Exception: System.ArgumentNullException: Value cannot be null.
Parameter name: keyValue
   at Microsoft.Data.Entity.Utilities.Check.NotNull[T](T value, String parameter
Name)
   at Microsoft.Data.Entity.ChangeTracking.StateManager.TryGetEntry(EntityKey ke
yValue)
   at Microsoft.Data.Entity.Query.QueryBuffer.GetEntity(IEntityType entityType,
IValueReader valueReader, Boo

[2014-12-14 07:02] maumar opened #1293 "Include :: data corruption when doing query with include on One-to-One navigation property"
Consider the following:

[code]

The query that is being issued is the following:

[code]

This is invalid for the cases where other side of the nav prop is null. Essentially those entities are not being returned. In the query above only one Person entity will be returned.

We should be producing LOJ instead of inner joins.

[2014-12-14 09:27] maumar opened #1294 "Query :: Aliases are not uniquified for some queries with SelectMany - may produce invalid sql"
[code]

produces the following sql:

[code]

which throws:

Unhandled Exception: System.Data.SqlClient.SqlException: The correlation name 's' is specified multiple times in a FROM clause.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolea
n breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception
, B

[2014-12-15 19:43] bricelam opened #1298 "Migrations: If no central snapshot, use snapshot from last migration"
If the user deletes the snapshot (not sure what would compel them to do that) or they hand-craft their migrations and don't create a ModelSnapshot, we could consider using the model of the last migration instead. This would mimic EF6 behavior.

[2014-12-15 20:02] #631 closed, assigned to bricelam

[2014-12-15 21:17] #1219 closed, assigned to nobody

[2014-12-15 21:38] bricelam opened #1299 "Commands: Make Enable-Migrations warn and no-op"
Similar to how we warn that `Update-Database` is obsolete then delegate to `Apply-Migration`, we should consider warning on `Enable-Migrations`.

[2014-12-15 21:55] lukewaters opened #1300 "Clean up Performance test/runner"
The way the performance test runner is currently setup it is designed to be a standalone runner and run multiple tests at once.  We are only using it to run one test at a time, and drive the runner with xunit.  We should simplify the runner to remove complexity.

[2014-12-15 22:37] #1139 closed, assigned to nobody

[2014-12-15 23:41] lukewaters opened #1301 "TCP Perf tests fail when targeting LocalDb"
There are 4 performance tests that explicitly target a TCP connection, LocalDb v11 and v14 both actively refuse connections over TCP/IP

These tests should be disabled when targeting localdb
- `PocoCUD_Create_TCPIP`
- `PocoCUD_Update_TCPIP`
- `PocoCUD_Delete_TCPIP`
- `PocoCUD_Batch_TCPIP`

[2014-12-16 17:18] #1229 closed, assigned to nobody

[2014-12-16 22:14] suhasj opened #1302 "[MusicStore] EF issue when running on Mono with InMemoryStore"
When running music store on Mono which ran fine with beta2 bits, I saw this error with latest dev bits when I try to run kestrel

[code]

I don't see this error on windows machines with Kestrel and InMemoryStore nor with SQL server

[2014-12-16 23:12] ajcvickers opened #1303 "Create sidecars for store-generated values only before saving and only when needed"
Previously we had code in the NavigationFixer that would do this when principal property fixup happened. But principal property fixup can happen when adding graphs, so it is not appropriate to do it in the NavigationFixer. (It also creates an inappropriate coupling.) Instead it should be done in the state manager when preparing to save.

[2014-12-16 23:41] #1220 closed, assigned to maumar

[2014-12-17 00:06] ajcvickers opened #1305 "Foreign key value propagation could make use of temporary values"
See #1304. The value generator used must be the same one as used to generate keys for the principal. However, the values generated will always be temporary even if the value generator being used is not generating temporary values. This doesn't matter much except that value generation may be somewhat expensive and values from the non-temporary key space get used up. So instead value generators coul

[2014-12-17 01:41] lvasiliou opened #1306 "Dynamic Typed Models Support"
Can you add support for dynamic typed models?
For example
I specify my model and table mappings in JSON or XML format, EF gives me dynamic objects with maybe an entityname property. This is extremely useful for large applications containing a huge number of entities

[2014-12-17 17:43] ajcvickers opened #1307 "Consider how code-based provider-specific configuration should look"
Should all configuration for every provider be at the top level, or should making a call to UseSqlServer (or similar) drop into a set of API specific to SQL Server? The former is what we have now; the latter would help Intelisense by not showing everything at the top level and by only showing things that can be used with SQL Server at the second level. It would also avoid the potential naming clas

[2014-12-17 17:44] ajcvickers opened #1308 "Implement code-based configuration for SQL Server max batch size."
See #1307.

[2014-12-17 19:29] #881 closed, assigned to rowanmiller

[2014-12-17 19:30] #884 closed, assigned to nobody

[2014-12-17 19:41] #935 closed, assigned to nobody

[2014-12-17 19:41] #936 closed, assigned to nobody

[2014-12-17 20:00] #1003 closed, assigned to rowanmiller

[2014-12-17 22:42] smitpatel opened #1309 "ApiConsistencyTest passes even though missing annotations"
In SqlServerOptionsExtension class,
Even if the setter of property (int?) MaxBatchSize misses the annotation, ApiConsistencyTest passes.

[2014-12-17 23:37] ajcvickers opened #1310 "Change return type of UseSqlServer, etc. to void"
This will allow us to implement #1307 post RTM without breaking.

[2014-12-18 00:14] ajcvickers opened #1311 "Test that materialization, etc.handles entities that use C# 6 features"
In particular read-only auto properties.

[2014-12-18 00:19] #865 closed, assigned to smitpatel

[2014-12-18 00:20] #849 closed, assigned to smitpatel

[2014-12-18 04:37] AndriySvyryd opened #1314 "EntityType collection members should have a total order"
To make the model less dependent on the order in which it's configured ForeignKeys, Indexes, Navigations and Keys properties should be totally ordered like Properties.

[2014-12-18 21:12] #1207 closed, assigned to nobody

[2014-12-18 21:20] #192 closed, assigned to smitpatel

[2014-12-18 22:27] #945 closed, assigned to maumar

[2014-12-18 22:36] #1224 closed, assigned to mikary

[2014-12-18 23:53] #1143 closed, assigned to nobody

[2014-12-19 19:08] #1310 closed, assigned to mikary

[2014-12-19 21:48] #742 closed, assigned to nobody

[2014-12-22 22:52] rowanmiller opened #1323 "Enable EF6 Perf Tests in CI"
Currently disabled due to failure on CI machine

[code]

[2014-12-24 10:56] RickyLin opened #1326 "The SQL translation of LINQ's Skip/Take is not compatible with SQL Server 2008."
I have read #299. That's great that EF can take advantage of new feature of new SQL Server. However, **do we have a plan to support SQL Server 2008**? The SQL Server 2008 doesn't support statement like `OFFSET @p3 ROWS FETCH NEXT @p3 ROWS ONLY`. In this case, I'm not able to use Skip/Take when targeting SQL Server 2008, which is a pity since I still have to use SQL Server 2008 in the next few year

[2014-12-24 16:47] egorpavlikhin opened #1327 "Deleting migration without modifying the snapshot doesn't work"
Deleting just the migration files, without deleting or modifying relevant portions of the snapshot doesn't allow to recreate the migration. So in effect "k ef migration add" applies migration to the snapshot (similar to how "k ef migration apply" applies it to the DB) permamently.

Replication steps:
k ef migration add initial
k ef migration apply
_add new models_
k ef migration add db_0001
_remov

[2014-12-25 18:59] tonysneed opened #1328 "Build Error: EntityFramework.Relational.FunctionalTests"
FTY, I'm receiving the following compilation error when building EntityFramework-2014.sln:

Error CS0433: The type 'AsyncLocal<T>' exists in both 'System.Threading.ExecutionContext, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Threading, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' EntityFramework.Relational.FunctionalTests.ASP.NET Core 5.0

[2014-12-27 14:50] tonysneed opened #1330 "MissingMethodException After Updating to EntityFramework.SqlServer v 7.0.0-rc1-11872"
I am using Visual Studio 2015 Preview and have an ASP.NET MVC 6 project that uses Entity Framework.  After updating the EntityFramework.SqlServer package to 7.0.0-rc1-11872, I receive the following error when starting the web app:

System.MissingMethodException
Method not found: 'Microsoft.Framework.DependencyInjection.ServiceDescriptor Microsoft.Framework.DependencyInjection.ServiceDescriber.Inst

[2014-12-28 15:11] julielerman opened #1331 "Discussion for Oct 30 Design Meeting Notes"
Creating this issue to discuss items in https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-October-30,-2014

[2014-12-28 17:03] pacoweb opened #1332 "Issues building in VS 2013 (C# 6.0 and method expressions)"
I can not compile the solution in visual studio 2013 because some class in EntityFramework.Core are using C# 6.0 syntax (method expressions).
Ex.:

[code]

Can I continue working with VS 2013?

[2014-12-29 23:00] rowanmiller opened #1334 "Perf: Bottleneck on NavigationFixer.InitialFixup"
Profiling some of the major perf differences between EF6 and EF7 shows that we are spending a lot of time in `Microsoft.Data.Entity.ChangeTracking.NavigationFixer.InitialFixup` for the EF7 tests.

Test | EF6 | EF7 | Time in InitialFixup(..)
------------ | ------------- | ------------- | -------------
Query_Simple_LoadAll | 26 ms |  367 ms | 62%
Query_Simple_Include | 147 ms | 12537 ms | 95%

[2014-12-30 00:30] amastaneh opened #1336 "Simple update on "One to Many" is not working"
We have two simple tables with a One to Many relationship which is work right on `EF 6.1.2-beta1` but it's not working right on `EF 7.0.0-beta1` and `EF 7.0.0-rc1-11882` versions.

[code]

`EF 7.0.0-rc1-11882` result is
Saved # 1
Techers # 1
Studetns # 0

`EF 6.1.2-beta1` result is
Saved # 4
Techers # 1
Studetns # 3

In EF 7 it just update parent without childs.
I would be so grateful if you let m

[2014-12-30 04:13] rayao opened #1337 "DbContextServices can't get collected if DbContext.Dispose is not called."
If DbContext.Dispose is not called, no matter how many complete GC triggered, there would be a strong reference held in some (ThreadStatic maybe) ConcurrentBag.
I tried implementing finalizer in my containing class, then calling DbContext.Dispose on finalizing, the reference was successfully removed. But this measurement counters the recommended way to implement disposable class, so I think maybe

[2014-12-31 01:16] roalcantara opened #1340 "EF7 + VNext + K projets + mysql: "The type or namespace name 'ModelConfiguration' does not exist in the namespace 'System.Data.Entity'""
Hi,

I'm not quite sure where I should post my question. If it's not here, where?

Well, I'm trying to set-up the environment for EF7 + aspnetvnext + K projets + mysql on my OSX.

I followed this [excellent article](https://www.jeremymorgan.com/tutorials/vnext/how-to-build-c-sharp-on-mac-osx/), and I've created the app using the Yeoman generator and I'm able to run successfully the following comma

[2014-12-31 16:03] buraktamturk opened #1341 "Weird join and group exception"
I have two tables in sql server. When i join and group them like this

    from d in db.testq
    join sk in db.test2 on d.test_id equals sk.test_id
    where sk.kid == token.getID()
    group d by d.test_id into a
    select new { id = a.First().d.test_id });

I got the following Exception

    System.InvalidCastException
    Unable to cast object of type 'Microsoft.Data.Entity.Query.QuerySourceS

[2015-01-01 08:43] roalcantara commented on #1340
Hi @rowanmiller and @Praburaj thank you so much for your reply.

I was definitely using the wrong code sample. Fallowing the MusicStore source and the [Configuring-a-DbContext Wiki](https://github.com/aspnet/EntityFramework/wiki/Configuring-a-DbContext#config-inline-in-code) did the trick.

Now, when I run

[code]

I see the **unicorn**! :)

However, when I run

[code]

I'm getting:

**System.Inva

[2015-01-01 20:48] 3x0dv5 opened #1344 "Support for ComplexType"
In EF6 we have to possibility to use Complex Types such as shown in EF6' documentation:

"There are two ways to configure scalar properties on a complex type.

You can call Property on ComplexTypeConfiguration.

[code]

You can also use the dot notation to access a property of a complex type.

[code]

" from http://msdn.microsoft.com/en-us/data/jj591617#2.1

[2015-01-02 00:49] rowanmiller commented on #1344
This just isn't implemented yet, already tracked by https://github.com/aspnet/EntityFramework/issues/246

[2015-01-02 18:22] mikary opened #1345 "Reverting migration that adds column with default value throws"
When attempting to revert a migration that adds an int column with a default value, migrations throws a SqlException.

Migration code:
[code]

Error:
[code]

Script:
[code]

[2015-01-02 18:27] mikary commented on #1345
Added reproduction here:
https://github.com/mikary/EF-Issue-1345

[2015-01-02 18:46] rowanmiller commented on #1340
Hey,

You need to also register the SQL Server services in Startup.cs:

[code]

And you need to tell EF to use SQL Server for that particular context. You can do that in your context:

[code]
        services.AddEntityFramework(Configuration)
                .AddSqlServer()
                .AddDbContext<VNextContext>(options => options.UseSqlServer());
[code]

[2015-01-02 19:19] suhasj opened #1346 "Adding migrations to rename tables throws error"
I was repro this bug with EF 7.0.0-rc1-11882

Create a new starter web project and add the following code to rename the Identity tables
[code]
Now running `k ef migration add RenameTables` gives the following error

[code]

[2015-01-02 19:32] mikary opened #1347 "Migrations do not scaffold index create or drop for new tables"
Working through the code first blog sample (http://msdn.microsoft.com/en-us/data/jj591621), when adding the Post class migration, the scaffold code does not include index code for BlogId

[code]

[2015-01-02 19:51] rowanmiller commented on #1065
We decided not to do ANSI. Will open another issue to look at our factoring in base relational.

[2015-01-02 19:51] #1065 closed

[2015-01-02 19:58] rowanmiller commented on #1084
Need to do design work for #333 before we know if this is needed

[2015-01-02 20:03] rowanmiller commented on #1109
We'll decide on what is needed based on the design of provider specific migrations

[2015-01-02 20:03] #1109 closed

[2015-01-02 21:42] mikary commented on #1162
Ran through Blog/Post sample workflow in VNext and classic console application projects and opened #1345 and #1347.

[2015-01-02 23:34] rowanmiller opened #1348 "Look at factoring of base relational components to ensure they provide pit of success to provider writers"
As part of https://github.com/aspnet/EntityFramework/issues/1065 we decided that having an ANSI provider isn't the correct thing to do. In that issue we also discussed looking at the factoring of the base relational provider to ensure we don't _provide defaults that "mostly work" across providers_. We should look at  this to make sure we agree on the factoring (possibly a design meeting topic).

[2015-01-03 09:24] roalcantara commented on #1340
Hi @rowanmiller,

Thank you so much for your help.

I had taken off that lines cuz I wanted to use MySQL instead of SQL Server and I thought that lines were only for SQL Server. Sorry about that.

Anyway, I've updated my Startup.cs as suggested, have a look:

[code]

However, when I run:

[code]

I'm still getting:

**System.InvalidOperationException: No service for type 'Microsoft.Data.Entity.Inf

[2015-01-03 13:15] ghost opened #1351 "Attached/Detached state is a nightmare"
Hi,

I used EF because I was told to. Was it a great experience? ... no not at all. After 6 major versions I would like to submit a complaint.

I have used:
Dapper (fastest and best, because it tries to be the least clever and is the easiest to understand and to teach).
NHibernate (used with FluentNHibernate is a simili for "code first")
Castle Active Record (think hammett got his nailed, least in

[2015-01-03 17:11] vijayantkatyal opened #1352 "DbContext Not Found or A relational store has been configured without specifying either the DbConnection or connection string to use."
when using  Entity Framework Commands ("7.0.0-beta1").

when running

k ef migration add InitialCreate

i'm getting errors.

[Solution]

i try to move my Class File (where DbContext is created) to main project from separate class library and everything working as expected.

so the real problem is when using DbContext in separate Class Library.

my dbcontext file

[code]

[2015-01-04 03:41] bricelam commented on #1281
@RichardW1001 Yes. Any new command will have three "interfaces": NuGet, ASP.NET 5 & CLI (See #646)

[2015-01-04 15:45] RickyLin opened #1353 "The case sensitive issue when filtering data with string.Contains method in both in memory and SQL Server."
I need EF 7 to generate statements similar to `LIKE '%' + str + '%'`, so I implemented a ContainsTranslator. I also created tests for it. However, the test results were different  when running in memory test and SQL Server test because the string.Contains method is case sensitive in in memory (19 entries) and its translation `LIKE '%' + str + '%'` is case insensitive in SQL Server (34 entries). Ho

[2015-01-05 13:03] roalcantara commented on #1340
Hi folks,

Can we use MySQL on asp.net vnext?

If not, how do you usually develop asp.net vnext applications on OSX?

Thanks a lot.

[2015-01-05 16:51] bricelam commented on #1352
On which project are you running `k ef`? What does your `Startup.cs` file look like?

[2015-01-05 18:38] rowanmiller commented on #1351
Hey,

It sounds like most of what you are asking for is covered by the new AttachGraph method in EF7 (it calculates state based on PKs etc.). You can read more about it in our [design meeting notes](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-December-4,-2014#graph-behaviors).

I wasn't quite sure what you meant by this comment. Could you elaborate on the scenario that you

[2015-01-05 18:54] rowanmiller commented on #1340
@roalcantara - Any chance you could share the actual code files so we could debug locally and see what is going wrong? I can't see anything obviously wrong with the code you have posted.

There is no MySQL provider for EF7 just yet. Our team is working to sure up our SQL Server provider, then we'll look at PostgreSQL and get back to finishing other providers we started (SQLite, Azure Table Storage

[2015-01-05 19:05] vijayantkatyal commented on #1352
i'm running k ef command on main project,

using System;
using Microsoft.AspNet.Builder;
using Microsoft.AspNet.Diagnostics;
using Microsoft.AspNet.Diagnostics.Entity;
using Microsoft.AspNet.Hosting;
using Microsoft.AspNet.Routing;
using Microsoft.Data.Entity;
using Microsoft.Framework.ConfigurationModel;
using Microsoft.Framework.DependencyInjection;
using Microsoft.Framework.Logging;
using Micro

[2015-01-05 19:09] rowanmiller commented on #1145
Done

[2015-01-05 19:09] #1145 closed

[2015-01-05 19:11] rowanmiller commented on #1178
@lukewaters - This is covered by your current changes?

[2015-01-05 19:17] rowanmiller commented on #1257
Done

[2015-01-05 19:17] #1257 closed

[2015-01-05 19:20] #872 closed

[2015-01-05 19:23] rowanmiller commented on #1247
Happy with the behavior we have

[2015-01-05 19:28] rowanmiller commented on #1252
We can swap to representing enums in the model if we need it in the future. For the moment using the base type of the enum is fine. We can change this when another feature requires it.

[2015-01-05 19:31] rowanmiller commented on #1259
Done

[2015-01-05 19:31] #1259 closed

[2015-01-05 19:32] rowanmiller commented on #1266
No action required from EF here

[2015-01-05 19:36] rowanmiller commented on #1280
Implementing is Pri1 but we should remove parameters if we don't implement.

[2015-01-05 19:46] rowanmiller commented on #1292
Probably related to #1093

[2015-01-05 19:48] rowanmiller commented on #1301
No longer needed

[2015-01-05 19:50] rowanmiller commented on #1302
@suhasj Any further action required here from the EF side?

[2015-01-05 19:51] rowanmiller commented on #1305
We should just do this if we get feedback that we need to

[2015-01-05 19:59] rowanmiller commented on #1328
Closing, feel free to reopen if you have further questions

[2015-01-05 21:02] rowanmiller commented on #1191
Clearing up for triage... we had discussed being able to replace the new CreateDatabase call with a SQL statement to create the database but that won't work since the command needs to be executed against master. We should re-discuss.

[2015-01-05 21:04] rowanmiller opened #1355 "Migrations: Improve format of model snapshot (possibly using JSON)"
Currently we are generating code that provides a shadow state equivalent of the CLR based model. We may need to improve the metadata API/model to properly handle the requirements of a snapshot... or move to another format (possibly JSON).

[2015-01-05 21:07] rowanmiller commented on #1306
This should be largely supported once we [allow full entities to be represented in shadow state](https://github.com/aspnet/EntityFramework/issues/749). You'll be able to create a model without any CLR classes and then query/manipulate/save data.

@Riva81 do you have any particular requirements that you don't think will be met by this?

[2015-01-05 21:09] rowanmiller commented on #1326
SQL Server 2008 isn't currently something we are planning to support in our SQL Server provider. It should be fairly easy to override the provider to replace sql generation that is failing for a particular set of scenarios... but it's not something we are planning to explicitly implement/test/support in the official provider.

[2015-01-05 21:11] rowanmiller commented on #1353
@RickyLin - For other operations like this we are currently applying the in-memory filter in addition to the database filter. This means folks get results that are consistent with the CLR behavior of the method/comparison (which is typically what people want). Of course, this means the database may return more rows than are ultimately returned from the LINQ query. If we find that performance is un

[2015-01-05 21:12] rowanmiller commented on #1353
FYI the issue tracking this is https://github.com/aspnet/EntityFramework/issues/474
Let us know if you are thinking about contributing a pull request for this :smile:

[2015-01-05 21:34] rowanmiller commented on #1348
We're happy with query pipeline. @ajcvickers to chat with @AndriySvyryd about update pipeline... leaving issue open in case any action items come up from that.

[2015-01-05 21:50] lukewaters commented on #1178
I don't think so, we are still executing the same codepath, just in a more conditional manner.

[2015-01-05 22:10] Riva81 commented on #1306
I will give r7 a go and let you know. I have an application that consists of around 123 or so entities and I am putting my faith in EF6.x. I hate to go in and implement 123 classes with 123 WebAPI controllers. A good balance is 123 classes and one controller that will support CRUD operations for all entity types- maybe an expando with an entry that specifies the entity type. My DB Context will jus

[2015-01-05 22:22] roalcantara commented on #1340
Hi @rowanmiller, thanks again for your reply.

Yeah, sure. This is the source code: https://github.com/roalcantara/vnext

So, if there is no MySQL provider for EF7 yet, how do you develop asp.net vnext on OSX?

What would you suggest? Can I install SQLServer on OSX? Or, perhaps, having a Windows on dual-boot would be the way to go for now?

Cheers mate.

[2015-01-05 23:59] bricelam commented on #1352
Ah, this is a duplicate of #823. We currently only call `Startup.ConfigureServices()` if it's in the same project as the DbContext. The default constructor of `DbTables` is preventing things from working without `Startup`. If you remove it, it should work. I recommend calling `ApplyMigrations` inside of `Startup.Configure` instead.

[2015-01-06 01:52] rburkitt opened #1359 "Could not load type 'Microsoft.Data.SQLite.SQLiteDataReader'"
Unable to connect to sqlite db on Mono/OSx:

An unhandled exception occurred while processing the request.

TypeLoadException: Could not load type 'Microsoft.Data.SQLite.SQLiteDataReader' from assembly 'Microsoft.Data.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.

[2015-01-06 11:49] vijayantkatyal commented on #1352
Thanks it worked. i applied migration on class library itself instead of calling Startup.ConfigureServices().

[2015-01-06 17:09] bricelam commented on #1359
What does your project.json (or packages.config) look like?

[2015-01-06 17:26] MikaelEliasson commented on #313
Hi again! Last time I looked at this EF7 was too unfinished to draw any conclusions.

I've been poking around the code to see what can be done. It feels much more open and I like that. Nice work!

I'm hitting a wall trying to reimplement some of the Batch operations I built for EFUtilities. Some background:

Take for example my version of DeleteByQuery
[code]

That works outside the DbContext and

[2015-01-06 17:57] rowanmiller commented on #1178
Moving to @bricelam as he is going to look at this as part of his migrations work.

[2015-01-06 19:12] bricelam commented on #639
Partially blocked on https://github.com/aspnet/Hosting/issues/85

[2015-01-06 21:03] rburkitt commented on #1359
I'll try and send this to you later today, but I think my problem is the
version of Mono.

I had followed the directions on the website to set up the K environment
and assumed it installed the correct version of Mono, but it looks like
3.1.0 was installed.

I'm going to try and download and compile version 3.8.0 and see if I can
get the system to use that instead.

It's amazing how much worked on

[2015-01-07 01:59] rburkitt commented on #1359
unable to get any version higher than mono 3.1.0 to install on my system,
and I'm guessing that is the reason for ef migrations not working

On Tue, Jan 6, 2015 at 4:03 PM, Raymond Burkitt <raymond.burkitt@gmail.com>
wrote:

[2015-01-07 02:49] maumar opened #1362 "Include :: multi level include may produce invalid SQL"
Consider the following model:

[code]

This will produce the following query:

[code]

[2015-01-07 02:50] maumar commented on #1362
Problem is here:

SELECT [g].[CityOrBirthName], [g].[FullName], [g].[LeaderNickname], [g].[LeaderSquadId], [g].[Nickname], [g].[Rank], [g].[SquadId]
FROM [Gear] AS [g]
INNER JOIN (
    SELECT DISTINCT **[w].[Id], [s].[Id]**
    FROM [Weapon] AS [w]
    LEFT JOIN [Gear] AS [g] ON ([w].[OwnerNickname] = [g].[Nickname] AND [w].[OwnerSquadId] = [g].[SquadId])
    INNER JOIN [Squad] AS [s] ON [g].[Squa

[2015-01-07 03:11] maumar opened #1363 "Include :: NRE for some multi-level include queries"
Consider the following:

[code]

throws:

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at lambda_method(Closure , Weapon )
   at Microsoft.Data.Entity.Relational.Query.QueryMethodProvider.<_IncludeCollection>d__0`1.MoveNext() in D:\k\EntityFramework\src\EntityFramework.Relational\Qu
ery\QueryMethodProvider.cs:line 58
   at Microsoft.D

[2015-01-07 03:15] rayao commented on #1093
Another problem I encountered which could be related to this one.
When primary key of a entity is not of integer type, Include() call will result in an ArgumentNullException.

I looked through some EF7 code today and maybe I’ve got the root cause of this problem that I encountered.
After Include() is called on an IQueryable<>, I got ArgumentNullException here:

                EntityFramework.Core

[2015-01-07 11:40] RickyLin commented on #1353
@rowanmiller - I think my problem is related to #474. But I'm not trying to solve the escaping issue in my case. :)
By the way I'm not an English native speaker :-( So sorry for misunderstanding if any.

I didn't see an in-memory filter is applied in addition to the database filter. I modified the QueryTestBase.cs, simply replaced "M" with "m" and 12 with 0, then ran the test.

[code]

the EntityF

[2015-01-07 12:23] adarshk-schakra opened #1364 "Does vNext has Cascade delete support ?"
If yes could please share your OnModelCreating method.

Thanks
Adarsh

[2015-01-07 17:48] rowanmiller commented on #1364
Not yet, here is the work item tracking it https://github.com/aspnet/EntityFramework/issues/333

[2015-01-07 20:31] fir3pho3nixx commented on #1351
So to reiterate, are you saying (Attached/Detached) state *WILL* be inferred for the purposes of submitting both "in process" and
"out of process" graphs (detached and serialised) all the way down to the child level?

* The background

We use AngularJs for our front ends(CORS enabled with WebAPI) and very quickly found out that we could not simply submit entire instance
graphs back to WebAPI becau

[2015-01-07 21:10] bricelam commented on #1359
It may not actually work at all. We depend on the .NET 4.5.1 System.Data.Common APIs, but Mono is still only at .NET 4.5. We're working with them to get it updated, but it looks like it still hasn't happened.

[2015-01-07 21:15] smitpatel commented on #1072
SchemaQualifiedName is used heavily in Sql Generator & Migration classes. In relational context we use "schema.tablename" so it would be useful to have this class. There are some places where it is not consistent (eg. TableExpression class). In metadata extensions, the schema and tablename is stored in different annotations, they are treated separately which can be made exception or changed to mak

[2015-01-07 21:28] anpete commented on #1072
SchemaQualifiedName still handles serializing to/from the dotted string representation (with escaping), which I'm not sure we use anywhere.

[2015-01-07 21:29] bricelam commented on #1072
Another data point:
Existing EF6 migrations make use of `"schema.Table"` literals, so if our goal is to maximize compatibility, at least part of the stack will need to parse these strings.

[2015-01-07 21:34] anpete commented on #1072
Yeah, looks like EF7 is that same.

[2015-01-07 21:56] ajcvickers commented on #1072
Discussed with @bricelam, @anpete, @rowanmiller. Arguments made on both sides, but settled on remove it, don't do any parsing anywhere (including Migrations) and always have schema and table specified separately.

[2015-01-07 22:00] bricelam commented on #1072
Since this is now a Migrations bug, and I'm about to cause a lot of code churn in that area, this should probably be reassigned to me.

[2015-01-08 00:09] rburkitt commented on #1359
Oh shoot, I had hoped it worked, I guess I'll have to wait for an official
build from mono.

Want me to close out the issue I filed?

On Wednesday, January 7, 2015, Brice Lambson <notifications@github.com>
wrote:

[2015-01-08 01:02] bricelam opened #1367 "Hide Object-inherited members on certain APIs"
The cleverest way I've seen to do is in Moq which uses an [IHideObjectMembers](https://github.com/Moq/moq4/blob/master/Source/IHideObjectMembers.cs) interface that can easily be added to types.

[2015-01-08 01:51] 0xdeafcafe opened #1368 "Discussion on many-to-Many relationships (without CLR class for join table)"
Note:
* Issues #10508 and #19003 have been created to track actual work on many-to-many relationships. The new issue is locked so that it can be subscribed to for updates on the implementation without noise.
* This older issue has been re-purposed to be discussion about many-to-many relationships in EF Core. It will not (for the time being) be locked because it is important to us that we don’t shu

[2015-01-08 02:44] #745 closed, assigned to nobody

[2015-01-08 13:17] awbmansour opened #1370 "EF Core code-based model .. using a Data Dictionary approach ?"
To explain what this is, consider the fact that if we have something like "Customer ID" property that is repeated some 40 times in 40 different model entities, that all refer to the same physical meaning, ie sharing the same common attributes such as Type, Display Format, Display Label, Validation, etc., then with a Data Dictionary approach this Property is defined Once with all its related attrib

[2015-01-08 14:04] glen-84 commented on #1340
@roalcantara,

As I understand it, EF7 is in the early stages of development, and a MySQL provider is not yet available.

It seems the current options are: SqlServer, SQLite, AzureTableStorage, and InMemory (according to [this](https://github.com/aspnet/EntityFramework/wiki/Using-EF7-in-Traditional-.NET-Applications) page).

@rowanmiller,

Are there any issues (either here or on the MySQL website)

[2015-01-08 16:35] bricelam commented on #1359
If you really want to start hacking on Mono today, you could clone the repositories, update them to target net45 (instead of net451), and fix any compilation errors.

[2015-01-08 16:44] bricelam commented on #1368
The workaround is to map the join table to an entity.

[code]

To navigate, use a Select:

[code]

[2015-01-08 16:50] 0xdeafcafe commented on #1368
Thanks!

[2015-01-08 16:51] rburkitt commented on #1359
Everything but EntityFramework7 seems to work, do you think I would need to
clone all of the repositories or just EE7?

On Thu, Jan 8, 2015 at 11:35 AM, Brice Lambson <notifications@github.com>
wrote:

[2015-01-08 19:23] bricelam commented on #1359
Probably EF7 and Microsoft.Data.SQLite

[2015-01-08 19:28] bricelam commented on #1298
@anpete mentioned in the design meeting today that we could also re-scaffold the snapshot during `Add-Migration`

[2015-01-08 19:31] divega commented on #1340
@roalcantara what @glen-84 @ says is correct. It might also help to look at this blog post on [priorities, and focus for the Initial release of EF7](http://blogs.msdn.com/b/adonet/archive/2014/12/02/ef7-priorities-focus-and-initial-release.aspx) to understand where we are.

We want to have a good story for server development targeting OSX and Linux and we are planning to work towards that after th

[2015-01-08 19:52] glen-84 commented on #1340
@divega Would the MySQL provider not be written by MySQL, like the one for EF6? ([link](http://dev.mysql.com/doc/connector-net/en/connector-net-entityframework60.html))

If it will be written by the EF team, then I would say that MySQL > SQLite or PostgreSQL.

[2015-01-08 20:59] rowanmiller commented on #1306
Currently we don't support full entities in shadow state (you still have to have an actual CLR class for each entity). We will enable it in the future though (issue #749). The way shadow state currently works, any shadow properties (or entities when supported) are stored in the ChangeTracker and can be read/written thru that API.

[2015-01-08 20:59] divega commented on #1340
@glen-84 I read this as you saying that all things being equal, you would find MySQL the most useful. Is that correct?

Writing the provider isn't a goal for us on its own, but it would be a means to accelerate getting something out there that works well with EF7.

Incidentally, we have been working on a SQLite provider, mostly because it is the de facto option local data access.

[2015-01-08 21:11] AndriySvyryd commented on #1123
Fixed in 1eccfa87a8a00e967693e8793ac3ce4267d47d32

[2015-01-08 21:11] AndriySvyryd commented on #1125
Fixed in 1eccfa87a8a00e967693e8793ac3ce4267d47d32

[2015-01-08 21:11] AndriySvyryd commented on #1134
Fixed in 1eccfa87a8a00e967693e8793ac3ce4267d47d32

[2015-01-08 21:11] #1134 closed

[2015-01-08 21:49] glen-84 commented on #1340
@divega, apologies for not being clear. What I meant was that MySQL tends to have a greater following and a larger community than PostgreSQL, which means that implementing it would satisfy more developers.

I would position SQLite separately to the above two, because it has a different usage profile (local data access, smaller databases, etc.), and may be important for things like mobile applicati

[2015-01-08 22:24] maumar opened #1371 "ChangeTracker :: NRE during SaveChanges - trying to set int Id to null value in some cases"
Consider the following model:

[code]

throws:

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Data.Entity.Metadata.ClrPropertySetter`2.SetClrValue(Object instance, Object value) in D:\k\EntityFramework\src\EntityFramework.Core\Metadata\ClrPropertySetter.cs:line 25
   at Microsoft.Data.Entity.ChangeTracking.StateEntryMetada

[2015-01-08 22:40] mikary commented on #1292
Traced the issue back to a null value returned by SimpleNullableEntityKeyFactory, asked @ajcvickers and he confirmed that this is a duplicate of #1093

[2015-01-08 23:03] mikary opened #1372 "Usability for One To One self reference relationships"
It is easy to incorrectly use the fluent API setup for One To One self referencing relationships. The following sample results in a relationship where a reference from the dependent instance results in incorrectly setting the foreign key value on the primary.

[code]

To make the reference and foreign key relationships consistent, the One To One relationship needs to be configured with a null navi

[2015-01-08 23:06] mikary commented on #1287
There is a problem with the provided reproduction related to #1372, may be relevant to issue.

[2015-01-08 23:26] maumar opened #1373 "Conventions :: model is configured differently based on the name of Primary Keys"
Consider the following model:

[code]

this works fine, however if the PKs on Customer and Order would be refactor-renamed into "Id", we start throwing exception:

Unhandled Exception: Microsoft.Data.Entity.Update.DbUpdateException: An error oc
curred while updating the entries. See the inner exception for details. ---> Sys
tem.Data.SqlClient.SqlException: Cannot insert explicit value for identity

[2015-01-08 23:28] maumar commented on #1373
Key are explicitly defined in both cases - I would expect exact same behavior if only property name is changed.

[2015-01-08 23:32] #556 closed

[2015-01-08 23:33] AndriySvyryd commented on #1373
Currently KeyConvention finds the key and configures it to GenerateValueOnAdd.
We could separate the key configuration into another convention to make the behavior consistent if the key is specified explicitly and not found by the convention.

[2015-01-08 23:44] divega commented on #1340
@glen-84 Agreed that SQLite is on a different category. Thanks for your feedback. We'll keep it in mind.

[2015-01-08 23:55] mikary commented on #1286
The exception is not thrown if the Required call follows the ForeignKey, rather than preceding it. Clearing labels to run back through triage.

[2015-01-09 00:03] rowanmiller opened #1374 "Flag to allow application data in logging"
From a security point of view we decided that, by default, both the message action and state passed to ILogger.Write should not contain any application data. That is, data that comes from the data store or may be supplied by an end user of the application. Depending on the application, this data may contain sensitive information (usernames, credit card numbers, etc.). Examples include, results fro

[2015-01-09 00:05] rowanmiller opened #1375 "Review state that we pass to logging (where should we use DTOs etc.)"
We should review the objects that we pass to logging.
* Generally they should be immutable, but we may not want to be super strict on this if it would result in building large parallel DTO object models.
* The object that we pass to logging shouldn't be further mutated by our stack once it has been logged.

[2015-01-09 00:12] ajcvickers commented on #1348
Talked to @AndriySvyryd. We are happy with the update pipeline.

[2015-01-09 00:29] mikary commented on #1285
Repro runs without issue with the following corrections:

Move Required call to follow ForeignKey call
[code]

Make Id non-nullable (not necessary)
Make SecondaryOwnerId nulable
[code]

Effectively a duplicate of #1314

Clearing flags for re triage.

[2015-01-09 00:32] mikary commented on #1286
Related: #1314 and #1285

[2015-01-09 00:46] lukewaters opened #1376 "Disable parallelization of performance microbenchmark execution."
This will ensure that tests are not competing for resources and will make the results more consistent

[2015-01-09 00:49] lukewaters commented on #1376
adding this attribute to test class should fix this issue
[code]

[2015-01-09 01:41] ajcvickers opened #1378 "Ensure PropertyChanging and PropertyChanged events are unsubscribed"
This may have to be coupled to disposing the context, but it would be good to find a way to do it such that un-disposed contexts do not leak.

[2015-01-09 01:46] smitpatel commented on #1262
The root cause: Converting boxed int value to nullable enum causes InvalidCastException. [Reference](https://connect.microsoft.com/VisualStudio/feedback/details/593117/cannot-directly-cast-boxed-int-to-nullable-enum)
In above case, the value is computed correctly as 3 but it is boxed since ClrPropertySetter class is generic. When casting this value to TValue which is FlagEnum? here, exception is t

[2015-01-09 01:52] ajcvickers opened #1379 "Tests that share a database should not do multiple EnsureDeleted/EnsureCreated calls"
Because the tests may be running in parallel and hence one may be using the database while another is deleting it. Use the fixture pattern instead. For example, QueryBugsTest.

[2015-01-09 02:10] #731 closed

[2015-01-09 05:56] bricelam commented on #975
We should also log information during Add-Migration educating users about Remove-Migration

[2015-01-09 06:49] pacoweb commented on #1248
I agree with @julielerman. Although you can use the overload I prefer a more explicit and easy to use method (AttachRoot). It would be especially useful for people starting to use the API.

[2015-01-09 10:01] roalcantara commented on #1340
@divega, @glen-84, @rowanmiller thanks for the replies.

Well, I've decided use the Azure as datasource. Then, I don't need to have any database locally, and I can develop tranquilly on my OSX.

My customer, however, requested me to use EF6 instead of EF7, once he reckons that the EF7 is still in their initial stage of development at the moment and is not recommended for production.

What would yo

[2015-01-09 12:17] tonysneed commented on #1248
I really like a version of AttachGraph that accepts an Action<EntityEntry> because it lets you set the entity state using whatever criteria you want.  For example, I would set state based on some sort of metadata (tracking state), including property-level state for partial updates.

I'm not so crazy about a version of AttachGraph that actually sets state to Updated or Added.  First, I'm not sure h

[2015-01-09 14:39] pacoweb commented on #1248
I agree with @tonysneed that the AttachGraph method that accepts callback will be very useful . But (IMHO) I also think it is important to create a method (AttatchRoot like @julielerman says) to facilitate basic scenarios without having to worry about writing the callbak to customize the entity state.
Right now I have a couple of projects where I could use it.

Thanks!

[2015-01-09 16:17] motowilliams opened #1381 "Enums Stored as Strings"
Will EF7 have optional (or default) support for storing the enum string values instead of the numeric values in the database?

[2015-01-09 17:39] rowanmiller commented on #1340
@roalcantara - Both EF7 and ASP.NET vNext aren't ready for production use (they are both on the same timeline to an initial release). That said, EF7 is probably still seeing a higher rate of major API changes etc. as it was more of a re-write than most areas of ASP.NET vNext.

EF6 should work on Mono (but it's not a scenario that our team has historically verified for EF6 and earlier releases). Yo

[2015-01-09 18:37] mikary commented on #1278
This issue does not appear to repro anymore.

Did not throw as written or with the following corrections:
* Moved Requred calls to follow ForeignKey calls
* Made House.Id non-nullable

[2015-01-09 18:44] mikary commented on #1278
Going to double check with @maumar before closing

[2015-01-09 18:53] #1278 closed

[2015-01-09 18:56] rowanmiller commented on #1248
@pacoweb - How would AttachRoot differ from the DbSet.Attach which just attaches the entity that you pass to it?

[2015-01-09 18:59] ajcvickers opened #1382 "Design meeting notes - January 8, 2015"
# Multi-level Include syntax

Since EF 4.1, multi-level includes have been possible using either string syntax:

[code]

or lambda syntax:

[code]

Note that for the lambda syntax we make use of the LINQ Select method when adding an additional level of include after a collection navigation property. This is because the collection navigation property is an IEnumerable<> of the entity type rather th

[2015-01-09 19:00] julielerman commented on #1248
Yeah @pacoweb you may not realize that attach/add only touch the root now, not the graph. Big break from the past but probably the only way to ensure consistency. I wasn't aware of that when I opened this. So now the issue is working out if/when/how/which WRT attaching the rest of the graph (if there is one).

[2015-01-09 19:24] rowanmiller commented on #1373
@AndriySvyryd Feel free to close as dupe if you have it tracked elsewhere

[2015-01-09 19:44] rowanmiller commented on #1286
Triage: Order of these API calls should not matter

[2015-01-09 19:44] rowanmiller commented on #1285
Already covered by https://github.com/aspnet/EntityFramework/issues/1286

[2015-01-09 19:44] #1285 closed

[2015-01-09 21:14] ajcvickers commented on #1164
Unassigning this since the person doing the implementation should ideally not do the exploratory testing.

[2015-01-09 21:15] ajcvickers commented on #1113
Note for triage: Unassigning since this doesn't have to be done by me.

[2015-01-09 21:19] ajcvickers commented on #1112
Decisions on this:
* We will keep the DbContext constructors that take IServiceProvider. This is probably how most people using DI outside of EF will create their contexts. It's what we do in testing.
* Given this, we will not make any changes to AddDbContext at this time--it will always register a scoped context and anyone using it should use it with an appropriate DI scope. This is an advanced s

[2015-01-09 21:20] ajcvickers commented on #1111
Note for triage: Unassigning since anyone could work on this.

[2015-01-09 21:21] ajcvickers commented on #1110
Note for triage: Unassigning since anyone could work on this.

[2015-01-09 21:23] ajcvickers commented on #968
Note for triage: unassigning since anyone could work on this.

[2015-01-09 21:30] MikaelEliasson commented on #1382
For the syntax I'm wondering if you have considered using Include

[code]

As far as I understood you are going to rewrite how Include works so it doesn't use the cartesian product but instead multi query and merge in memory? That would be awesome considering the EF6 version in very ineffecient in most cases (except queries that are cheap anyway).

Childcollection filtering and sorting might be qu

[2015-01-09 21:36] ajcvickers commented on #740
Note for triage: I don't know if this is still an issue since incremental changes may have fixed the issues. There is one place in the code that references this issue--search for #740. Other than that, test coverage should be added where needed and issues fixed as found. Anyone could work on this.

[2015-01-09 21:41] ajcvickers commented on #636
Note for triage: I looked through the code and it appears that this only applies to places where the property list comes from either an IKey or an IForeignKey. Currently IForeignKey derives from IKey, but #1034 would change that. We're not currently planning to do a different base class for IKey and IForeignKey, which means there will be no appropriate type to pass. Therefore I propose that we don

[2015-01-09 21:43] rowanmiller opened #1383 "Relationship API changes"
We have feedback both from within our team and our customers that the new relationship API isn't super intuitive. After some discussion it seems like a hybrid of the EF6 API and the new one is probably a good solution:

[code]

Required and ForeignKey would still be optional.

We wouldn't do all the matching up of partial specifications from each end of the relationship that we did in EF6.

[2015-01-09 21:44] rowanmiller commented on #1372
Discussion of this opened this new item https://github.com/aspnet/EntityFramework/issues/1383

[2015-01-09 21:47] rowanmiller commented on #1191
Decided not to do anything. This will be fixed at the end of the year when SQL Azure swaps to have a recommended edition be the default.

Folks can still create the database ahead of time, swap the edition once created, or override the default SQL generator to add the edition to the generated sql.

[2015-01-09 21:48] rowanmiller commented on #1381
The default will still be to store the underlying type of the enum. Swapping to use the string will be covered by https://github.com/aspnet/EntityFramework/issues/242

[2015-01-09 22:38] rowanmiller commented on #1374
@lukewaters please work with @anpete to get some direction on this one

[2015-01-09 22:41] rowanmiller commented on #1314
@mikary please discuss with @AndriySvyryd

[2015-01-09 22:43] rowanmiller commented on #1311
Please discuss with @ajcvickers
Also summarize what you tested (and findings) at design meeting

[2015-01-09 22:47] rowanmiller commented on #1205
@AndriySvyryd  can you drive design on this one

[2015-01-09 22:51] rowanmiller commented on #1163
Can't complete until relationship API updates are done

[2015-01-09 22:51] rowanmiller commented on #1163
@lukewaters tested conventions in the past and would be a good person to discuss with

[2015-01-09 22:52] rowanmiller commented on #1155
Just blocked by getting the native SNI.dll into the SqlClient package.

@bricelam can help out with packages etc.

[2015-01-09 22:54] rowanmiller commented on #1113
Please discuss with @ajcvickers

[2015-01-09 22:59] rowanmiller commented on #1111
@smitpatel work with @ajcvickers on this one

[2015-01-09 23:00] rowanmiller commented on #1110
@smitpatel work with @ajcvickers  on this one

[2015-01-09 23:03] rowanmiller commented on #748
Work with @bricelam (for model snapshot) and @ajcvickers on this one

[2015-01-09 23:04] rowanmiller commented on #743
@smitpatel work with @ajcvickers  on this one

[2015-01-09 23:05] rowanmiller commented on #743
Make  we test what happens when you try to map a base type

[2015-01-09 23:05] rowanmiller commented on #740
Ask @ajcvickers  about this one

[2015-01-09 23:08] rowanmiller commented on #659
We get coverage from running locally, it's not worth the investment to do this.

[2015-01-09 23:08] #659 closed

[2015-01-09 23:16] rowanmiller commented on #451
We should make sure we initialize all collections, not just the ones that we need to interact with during materialization.

[2015-01-09 23:17] rowanmiller commented on #638
Decided we should just do 1 from the initial list (reactivated https://github.com/aspnet/EntityFramework/issues/451 to track this).
2 doesn't apply (DbSet.Create doesn't exist)
We're not sure 3 is a good idea

[2015-01-09 23:17] #638 closed

[2015-01-09 23:32] rowanmiller commented on #1370
@awbmansour could you elaborate a little more on the code you want to write. Do you want to still have CLR classes for each entity and just apply the same configuration to every CustomerId property? Or do you not want strongly typed classes and have more of a property bag (Dictionary<string, object>) approach?

[2015-01-09 23:40] rowanmiller commented on #1353
Makes sense, at one point we were actually still applying the in-memory filter after bringing results back from the database for operations such as `.Where(c => c.Name == "Fred")`, but it looks like that is no longer the case (sorry for the randomization).

@maumar should be able to help you out with how to handle this appropriately in the tests. I'm assuming you probably just want to override the

[2015-01-10 00:11] mikary commented on #1284
Ran the provided sample and it did not produce any shadow state. Checked with @AndriySvyryd and he suggested this was likely resolved by another fix in the last few days.

[2015-01-10 00:12] mikary commented on #1288
Ran the provided sample and it did not throw any exceptions. Checked with @AndriySvyryd and he suggested this was likely resolved by another fix in the last few days.

[2015-01-10 00:12] #1284 closed

[2015-01-10 00:13] #1288 closed

[2015-01-10 02:04] smitpatel commented on #1371
Unable to repro. Works perfect for me. Probably got fixed in some recent changes.

[2015-01-10 03:59] maumar commented on #1353
One way of handling this could be adding overloads to AssertQuery that would take two funcs, e.g.

[code]

this way you can provide different query that would produce expected results and compensate for the difference between CLR and sql server (e.g add ToLower() calls in the comparison)

[2015-01-10 06:49] maumar commented on #1353
Although this would also require abstracting out the oracleQuery for this particular test between providers, so that for InMemory it does basic filter (case sensitive) and for SqlServer it does case insensitive filter (using the ToLower() etc).

[2015-01-10 13:16] awbmansour commented on #1370
Dear Rowan,

Thanks a lot for entertaining my humbled suggestion.

My proposal is to have it in an object oriented way, with inheritance, so
on a context level we have overall definitions that are global to the
context, which can be used in any entity class, and optionally in an entity
class the attributes can be altered or redefined.

Assume that the dictionary associated with the context "mycont

[2015-01-10 22:09] pacoweb commented on #1248
@rowanmiller - @julielerman - My only concern was the name . I like apis with explicit names. I like AttachGraph is clear. AttachRoot would also be very clear.

Thanks!

[2015-01-11 22:00] ajcvickers opened #1385 "Attach should not reject changes"
Issue #742 made changing state from Modified to Unchanged be a reject changes operation, as it was in EF6. However, because Attach uses this directly it means that attaching an object that is Modified now also rejects changes. There are scenarios where this would be correct, but Attach mostly means "the object as it is now is how it is in the database" and hence if the object happens to already be

[2015-01-12 05:10] Jaykul opened #1386 "Are nested entity relationships not supported?"
I've got products which have star ratings given by users.
I track which user gives it which rating (so you can change your rating later).

If I do something like:

[code]

I get:

[code]

[2015-01-12 17:07] rowanmiller commented on #1386
We actually just had a [design meeting on this](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-8,-2015#multi-level-include-syntax). The new syntax will be:

[code]

It's not in the code base yet though.

[2015-01-12 17:10] luisrudge commented on #1382
I prefer the .ThenInclude, much like the OrderBy statement

[2015-01-12 17:12] rowanmiller commented on #1353
I see we have a pull request for this now, so we can continue any discussion about test patterns on the review of the proposed code.

[2015-01-12 17:13] rowanmiller commented on #1353
BTW - @RickyLin thanks for reaching out to us about this one... it's always great to have proactive discussions about things like this before we get a pull request... appreciate it!

[2015-01-12 17:16] rowanmiller commented on #1371
@maumar - are you happy if we just close this one?

[2015-01-12 17:57] #1303 closed

[2015-01-12 17:58] wpoch commented on #1382
I like the ThenInclude sytax. It 'll allow us to filter the child include, like this for example? (reviews with 5 stars)

categories
    .Include(c => c.Products).ThenInclude(p => p.Reviews.Where(r => r.Stars > 4)).ThenInclude(r => r.Author)
    .Include(c => c.Products).ThenInclude(p => p.Supplier);

[2015-01-12 18:06] #1292 closed

[2015-01-12 18:06] luisrudge commented on #1382
That would be awesome @wpoch!

[2015-01-12 18:06] #1093 closed

[2015-01-12 18:31] maumar commented on #1371
sounds good

[2015-01-12 18:31] #1371 closed

[2015-01-12 19:13] Riva81 opened #1387 "Partial Loading Support"
Can you please add partial loading and by that I mean in addition to lazy and eager loading of relationships, the third option - lets call it partial for now - loads the related entity but only containing the primary keys and no other data. If needed I could resolve the rest of the data manually.
For example I have a Contact entity with one to many relationship with Address. With partial loading,

[2015-01-12 19:17] rowanmiller commented on #1383
@AndriySvyryd  - it would be good if we could get this in for the next preview

[2015-01-12 20:11] AndriySvyryd commented on #1373
Duplicate of #1271

[2015-01-12 22:29] rowanmiller commented on #1370
@awbmansour - This can be achieved in EF6 using bulk configuration (a.k.a custom conventions).

[code]

Of course, if you wanted to parse some other format (such as the globaldefs.cs class you mentioned) and dynamically create conventions based on that it would be possible.

We'll have something similar in EF7 too, tracked by https://github.com/aspnet/EntityFramework/issues/214.

[2015-01-12 22:42] ctolkien opened #1388 "Discussion around API for MVC DI wireup"
Firstly, apologies if I've missed some guidance somewhere on making this work.Taken from [this wiki page](https://github.com/aspnet/EntityFramework/wiki/Configuring-a-DbContext), all the examples have a controller taking a direct dependency on a context, not an interface.

Looking at the default wireup for EF services in MVC:

[code]

There doesn't seem to be a way to register this context in the

[2015-01-12 22:58] mikary opened #1390 "Connection configuration does not properly override with mixed definitions"
The following program should use the connection string from the last definition loaded in the configuration (config.ini) but uses the definition from the first (config.json). Same inverted behavior is observed if the order of the AddXxxFile calls is reversed.

[code]

[code]

config.json:

[code]

config.ini

[code]

[2015-01-12 23:50] smitpatel commented on #1111
@RickStrahl - I tried to reproducing this with some changes as RemoveRange does not exist anymore. But I am not getting any exception. album.Tracks.Remove(dtrack) works correctly for me.
Can you try using latest build and check if you are still getting the exception.

[2015-01-12 23:51] lukewaters commented on #980
Fixed

[2015-01-12 23:51] #980 closed

[2015-01-12 23:59] mikary opened #1391 "Connection configuration allows multiple definitions"
When a connection string is defined with the DbContext "ConnectionString" and "ConnectionStringKey" keys, the last defined connection is used. This definition is ambiguous and should probably throw.

[code]

[code]

[code]

[2015-01-13 02:46] smitpatel commented on #1391
The Key, value data is stored in a dictionary inside DbContextOptions.  We are not checking if the key already exist in the dictionary so values are overwritten and the last one inserted is used. Adding a check if the options contains key or not would fix this.

[2015-01-13 03:06] maumar opened #1393 "Include :: data corruption for multi level include with optional and required relationships"
[code]

this produces the following query:

[code]

Gear - Squad relationship is required, but Inner Join is invalid in this case - Tag - Gear relationship is optional and currently Tags which don't have Gear associated with them would not be returned.

[2015-01-13 03:35] smitpatel commented on #1390
The subkeys from configuration are generated in reverse order of the sources added. So in this case json file is added first so "ConnectionStringKey" comes last and stores the value from JSON file. (As mentioned in #1391 last one wins). Inverting order of files changes the order of subkeys and hence value comes from INI file.

[2015-01-13 07:50] tonysneed commented on #1382
:+1: for the proposed strongly typed mulit-level Include syntax using lambda expressions. Much better than the dot delimited string format.  And I like the simplicity of Include, ThenInclude, which should be familiar to dev who have used OrderBy.  Now all we need is an "include" C# keyword for query syntax. :)

[2015-01-13 08:36] awbmansour commented on #1370
Wow .. this is awesome. I will need to learn more on this.

Thanks a lot for your care and time during your busy schedule.
 On Jan 13, 2015 12:29 AM, "Rowan Miller" <notifications@github.com> wrote:

[2015-01-13 09:08] MikaelEliasson commented on #1382
Thinking about it a bit more I think the Include.ThenInclude syntax is the right way to go. It might be a bit more annoying to write the first time but should be more readable when maintaining.

There are a few drawbacks though:

The difference with OrderBy and ThenOrderBy is that we newer have to "back up" in OrderBy. If I understand the API correctly it's a bit annoying to incude two collections

[2015-01-13 16:00] probackpacker commented on #1382
What would be the return type of `.Include` and `.ThenInclude`?

[2015-01-13 16:59] mikary opened #1395 "Connection configuration always chooses configuration with full name"
When using multiple configuration files, if one configuration file specifies a connection string using the full name of the DbContext and the other uses the short name, the configuration from the file with the full name is always selected regardless of the order of the configuration files.

[code]

config1.ini:
[code]

config2.ini
[code]

[2015-01-13 18:03] rowanmiller commented on #1382
@MikaelEliasson

Regarding "backing up", this seems to be true for any API we pick. Even with the EF6 syntax, you had to use two Include calls. We could introduce more APIs to include from different levels from the current root... but I think that just gets more confusing.

[code]

The immutability thing is applicable to all of LINQ, not just Include. You would typically just re-assign the variabl

[2015-01-13 18:06] rowanmiller commented on #1382
@probackpacker It would return some custom type (like IncludableQueryable<TRoot, TInclude>) that implements IQueryable<TRoot> but also provides some other methods for including based on TInclude.

[2015-01-13 18:08] rowanmiller commented on #1370
Closing out this issue now, feel free to re-open if you have further questions :smile:

[2015-01-13 18:14] ajcvickers commented on #346
Clearing for re-triage since we don't want to ship an RTM package containing our version of this.

[2015-01-13 18:21] ajcvickers opened #1396 "Implement PropertyEntry.OriginalValue"
Issue #1200 is about implementing the methods on EntityEntry that get all current values, original values, etc. But on PropertyEntry there is already a CurrentValue property which is much less hassle to use than dropping down to the low-level StateEntry. It should be easy to implement a similar OriginalValue property which would then make things like concurrency resolution easier.

[2015-01-13 19:38] ajcvickers opened #1398 "OneToOne.ForeignKey throws if PK type is different from FK type even when PK is not used as principal key"
With the entities and builder code below, the Guid PK on Product is not used in the relationship between Product and ProductTag. However, in the ForeignKey call the intermediate state of the model has this Guid PK as the principal key, which then results in the exception below. The model is built correctly if the ReferencedKey call is made first.

[code]

Stack trace:
[code]

[2015-01-13 19:48] smitpatel commented on #1395
We search for keys with short name before full name. Since keys are being overwritten the last one wins so key with full name used.

[2015-01-13 19:59] rowanmiller commented on #1395
We should discuss with team, there with issues with having one take precedence (which one wins also seems somewhat arbitrary) and there are issues with throwing. Either option makes it impossible to override one with the other.

[2015-01-13 20:23] AndriySvyryd commented on #1398
We should create a shadow PK for the intermediate state to make this work.
If the shadow PK isn't replaced then we will throw/log a warning in Model Validation #1205.

[2015-01-13 20:23] smitpatel opened #1400 "Incorrect value gets stored in datastore"
Blog & Post classes do not have any relationship defined between them. Post just stores BlogId.
A new blog is created followed my new post. In the created post if we assign BlogId from just now created blog then the value for Post.BlogId is not same as the Blog.BlogId in the datastore.

Repro code

[code]

[2015-01-13 21:50] mikary opened #1401 "DI config in startup code with options constructor throws InvalidOperationException"
[code]

Output:
[code]

[2015-01-13 21:53] rowanmiller commented on #1400
This seems by design given that there is no relationship. Post.BlogId is getting the temporary value generated for Blog.BlogId. There is no relationship, so EF isn't going to propagate the actual value that gets assigned when the Blog is inserted into the database.

[2015-01-13 22:11] maumar commented on #1362
fixed in f8b9dacab07c66e182b3f90e741f967dfd1377a2

[2015-01-13 22:11] #1362 closed

[2015-01-13 22:48] ajcvickers opened #1402 "NoTracking query for principal including dependents fixes up to existing tracked dependents"
See test Include_collection_dependent_already_tracked_as_no_tracking, copied below. This test tracks some Orders and then does a NoTracking query for the Customer associated with these Orders. The result is that the untracked Customer references the tracked Orders and vice versa. If DetectChanges is then called the Customer is detected and brought into the context as Added.

[code]

[2015-01-13 23:09] rowanmiller commented on #1351
@fir3pho3nixx - Sounds like most of your complaints are things that we are addressing in EF7 (or are at least laying ground work to improve in the future).

A few comments...

Regarding graphs, yes when you tell EF about the root of a graph (via the AttachGraph API) it will infer state based on whether the PK is set or not. Of course, this is simplistic and won't work in all cases, so you can also

[2015-01-14 00:03] smitpatel commented on #1110
@RickStrahl - While investigating this I found that automapper isn't working correctly. For more info check [this](https://github.com/AutoMapper/AutoMapper/issues/656).
Also for the if-else loop which execution path gives error? or both throws the same exception? Because of API changes the code written above needs modifications. And with modifications I am getting different kind of exception in bo

[2015-01-14 00:38] maumar commented on #1353
merged in 76ad8c149d17ce698333e502d78509be1d4327e6 and b92eb1efa5cb46116197a8dde3d245afb243cab5

[2015-01-14 08:27] davidroth commented on #1382
I like the new api as it is much more readable/discoverable than the old one.

Have you already thought about how child collection filtering could look like?

I think something like this could be quite easy to use:

[code]
So Include would provide an overload with an Expression<Func<TElement, bool>> filter, where TElement is the element-type of the included collection.

[2015-01-14 11:00] rayao opened #1404 "Query provider has problem processing MemberBinding expression that contains initilization of subclass"
With following code, when evaluating the IQueryable returned by SelectExpandBinder.Select, ArgumentException thrown said that:
Property 'System.String Name' is not defined for type 'System.Web.OData.Query.Expressions.PropertyContainer'

    class SelectExpandBinder
    {
        public static IQueryable<SelectAllAndExpand<Contacts>> Select(IQueryable<Contacts> This)
        {
            return Th

[2015-01-14 11:01] rayao commented on #1404
Version is 7.0.0-rc1-11953

[2015-01-14 11:24] rayao commented on #1404
A simple change can work around this bug, like this:
        public class SelectAllAndExpand<T>
        {
            public T Instance
            {
                get;
                set;
            }

            //public PropertyContainer Container
            public PropertyContainer.NamedProperty<Users> Container
            {
                get;
                set;
            }

[2015-01-14 11:26] rayao commented on #1404
It seems a bug in Remotion.Linq?

A simple change can work around this bug, like this:

 public class SelectAllAndExpand
 {
 public T Instance
 {
 get;
 set;
 }
        //public PropertyContainer Container
        public PropertyContainer.NamedProperty<Users> Container
        {
            get;
            set;
        }
    }

But we can't actually change this way since the real code is not in o

[2015-01-14 11:53] rayao commented on #1404
It seems a bug in Remotion.Linq? Or something wrong in IncludeNavigations?

A simple change can work around this bug, like this:

public class SelectAllAndExpand
 {
 public T Instance
 {
 get;
 set;
 }
 //public PropertyContainer Container
 public PropertyContainer.NamedProperty Container
 {
 get;
 set;
 }
 }

But we can't actually change this way since the real code is not in our control.

[2015-01-14 15:28] pacoweb opened #1405 "Consider setting (optionally) by config a limit of entities within the lifecycle of a context"
Set ( **optionally** ) a limit on the number of entities charged in context. Something like philosophy followed by RavenDb [ Safe by Default!](http://ravendb.net/docs/article-page/2.5/csharp/intro/safe-by-default).

This would favor the use of best practices in the daily work with Entity.

Thanks!

[2015-01-14 17:38] ajcvickers opened #1406 "Save original connection string so it can be cloned reliably."
In the old stack we cloned the original connection string before using it. Then when we needed to clone the connection string to create a connection to the master database we didn't end up using the connection string with credentials stripped out. This is somewhat less important in EF7 because we don't have database initializers, but it could still be a problem for people using Exists, EnsureCreat

[2015-01-14 17:57] anpete opened #1407 "Code First: Read-only properties are included in model by convention?"
Noticed this line in NorthwindQueryFixtureBase:

modelBuilder.Entity<Customer>(e => { e.Ignore(c => c.IsLondon); });

IsLondon is a read-only property, and would not have been mapped in EF6.

[2015-01-14 18:07] ilmax commented on #1367
There is also [this](https://github.com/kzu/IFluentInterface/blob/master/content/IFluentInterface.cs.pp) from @kzu created for the same purpose

[2015-01-14 18:10] lukewaters commented on #1406
This item can be expanded to include the work involved in adding a Clone method to SqlConnection to allow reliable cloning of a connection with all options.

[2015-01-14 18:11] anpete commented on #1367
Agreed. IIRC we tried this for CF early on but it didn't work - I could be mis-remembering.

[2015-01-14 18:30] probackpacker commented on #1382
@rowanmiller, thanks for indulging my curiosity. I like the feel of the API.
If we have a hierarchy of properties to include, will it be necessary to use `ThenInclude` or will we be able to 'dot' them in the Include? i.e. will this be supported?
    foo.Include(f => f.Bar.Buzz)

[2015-01-14 18:31] anpete commented on #1382
@probackpacker Yep, that will work.

[2015-01-14 19:18] rowanmiller commented on #1401
@mikary - can you confirm that this works in Startup.cs and is only failing when used outside of ASP.NET 5?

[2015-01-14 19:27] rowanmiller commented on #1395
This seems ok, fully qualified taking precedence is fine. Agreed that ordering is a little confusing... but we're ok with it. @mikary can you make sure we have a test that ensures we don't change this behavior.

[2015-01-14 19:33] rowanmiller commented on #1391
We should ditch the two key names and just support the 'name=xyz' syntax in the connection string value

[2015-01-14 19:36] rowanmiller commented on #1390
This will be resolved by the changes we're making tracked by #1391

[2015-01-14 19:39] rowanmiller commented on #1388
We should still register as the context type in addition to the other type (to support tooling etc.)

[2015-01-14 21:13] lukewaters commented on #605
Fixed in #1361

[2015-01-14 21:13] #605 closed

[2015-01-14 22:41] mikary commented on #1401
I was able to reproduce this issue in an ASP.NET 5 web app using Startup.cs and an MVC controller taking a dependency on the context.

[2015-01-14 22:42] ilmax opened #1408 "Method IModel.TryGetEntityType probably should be renamed"
Hi, first of all excuse me if this a dupe, but I've tried searching around with no luck.
I noticed that the method indicated above does not follow the "de facto standard" of the TryXXX methods because it's return type is IEntityType instead of bool, so I'm suggesting to change the method name to something similar to GetEntityTypeOrNull (open for better alternatives) and drop the Try prefix to be c

[2015-01-14 23:15] divega commented on #1408
Thank @ilmax for the feedback. We have different opinions on the team on naming :smile: Certainly the classic TryGet pattern in .NET with out params is not one of my favorites. For something like this my take is that we could use FindEntityType (GetEntityTypeOrNull sounds very complicated), but most likely this rename will have to wait until we do an API review.

[2015-01-14 23:40] divega commented on #1401
I don't remember precisely but maybe we ended up only registering the generic `DbContextOptions<MyContext>` as a service.

[2015-01-14 23:45] rowanmiller commented on #1401
Ah, yes @divega is correct... I remember hitting this in the past

[2015-01-14 23:46] ilmax commented on #1408
@divega Agree, I'm not a fan of out parameters too, but since almost all TryGet in .net world return bool, we should try to be consistent IMHO.
+1 for FindEntityType

[2015-01-14 23:54] divega commented on #1388
If we do register both we need to do it in a way that you get the same instance regardless of what type you ask for (simply registering both services won't do that).

[2015-01-15 01:03] divega commented on #1401
I guess this bugs counts as a vote for adding the non-generic `DbContextOptions` as a service when `AddDbContext<TContext>()` is called. Do you guys think we should do it? Should we do it now? Is it ok if when you have multiple calls to `AddDbContext<TContext>()` the last configuration added wins?

[2015-01-15 01:28] ajcvickers commented on #1401
Discussed with @divega. Two things:
* Exposing a constructor that takes a `DbContextOptions` is not needed in this case. It would be interesting to hear from Micah whether it seemed to him that it was needed, or whether he was just testing all possibilities.
* I think we should add options as a service typed by as non-generic `DbContextOptions`, and Diego is okay with doing this. This falls down i

[2015-01-15 09:06] fir3pho3nixx commented on #1351
Will wait and see what the future brings. Until then we are going to opt
for something else while you guys build v7.0.

If everything I am complaining about is in EF 7.0 than what we should be
seeing is:

 - Improved discoverability to new EF users by way of introducing
Insert<T>, Update<T>, Delete<T> and Upsert<T> on db context which accepts
both graphs and single objects.

- Dropping the state b

[2015-01-15 17:12] mikary commented on #1401
For my testing, I was just trying to cover all of the possibilities.

 From a DI perspective, I don't think the ```DbContextOptions``` adds much. We can already use settings from ```Configuration```, the ```DbContextOptions``` action on ```AddDbContext<TContext>```, or by overriding ```OnConfiguring```.

 For non-DI, there does seem to be some value for an implicit service provider scenario, ex:
[

[2015-01-15 17:54] rowanmiller commented on #1401
Like the suggestion from @ajcvickers / @divega (especially throwing if we detect the wrong generic param on the options). If folks have a basic understanding of DI I think they would expect to need to take the options as a ctor parameter (that felt natural to me when I was app building).

[2015-01-15 18:23] rowanmiller commented on #1351
Hey,

A few closing comments,

Insert/Delete vs Add/Remove is hard because EF is bridging the gap between database and .NET code. Insert/Update are database concepts and Add/Remove are the equivalent .NET concepts (think `ICollection`). I can see merit in both sides of the argument but we'll be sticking with Add/Remove in EF7 since there doesn't seem to be enough of a distinction to merit breaking

[2015-01-15 19:34] rowanmiller commented on #1405
This probably isn't something we would want to enforce with exceptions etc. (at least not by default) but these scenarios could be great to log as warnings (long lived contexts, large number of entities in memory, queries with huge result sets, large numbers of Includes in queries, etc.).

It would be interesting to see if most of these could be handled by additional packages that folks can opt in

[2015-01-15 19:46] fir3pho3nixx commented on #1351
Not doing graphs properly after 6 major versions reeks of mediocrity. Will
look somewhere else, perhaps if not always from now on(think "Customer",
our business runs on your software).

Thanks.

On Thu Jan 15 2015 at 6:24:16 PM Rowan Miller <notifications@github.com>
wrote:

[2015-01-15 22:00] ajcvickers opened #1414 "Have a model building "mode" where everything must be explicitly specified"
This item relates to #908 in which we decided to remove the BasicModelBuilder and instead use the convention ModelBuilder with no conventions for explicitly building the entire model. After further discussion whether this will work how people want depends on what are considered "conventions". Take the FK example. Removing conventions means that an FK property will not be discovered by convention,

[2015-01-15 22:29] pacoweb commented on #1405
That sounds ambitious!

I was thinking in something more simple and strict. Some **optional** property in ChangeTracker (MaxTrackedEntriesSize, by instance) to just control the tracked entries. Maybe using the changes in the identitymap dictionary, in the StateManager class to check the max size.

Thanks for answering!

[2015-01-15 22:42] ajcvickers opened #1415 "Design meeting notes - January 15, 2015"
# ForeignKey API

## Background

Currently, we have two fluent APIs for relationships:
- HasOne/WithMany
  - Navigation based
  - Allows FK specification but does not require it
- ForeignKey
  - Requires FK to be specified, even if it is in shadow state or could be discovered by convention
  - Currently does not support navigations or non-primary principal keys

Currently, we have two model builde

[2015-01-15 23:25] maumar opened #1417 "Metadata :: stack overflow when processing metadata of a model including 1:1 references and self reference"
consider the following:

[code]

This will throw stack overflow. Infinite call appears in:
Microsoft.Data.Entity.Metadata.ForeignKeyExtensions.GetRootPrincipals

[2015-01-15 23:34] ajcvickers commented on #756
Closing since we are removing this API. See https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-15,-2015

[2015-01-15 23:34] #756 closed

[2015-01-15 23:39] ajcvickers commented on #781
Closing this since we are removing this API. See https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-15,-2015

[2015-01-15 23:39] #781 closed

[2015-01-16 11:35] naelgithub opened #1418 "Proxy Netzwerk behandeln"

[2015-01-16 11:36] naelgithub opened #1419 "Time out async await bei anmelden"

[2015-01-16 15:08] Bogatinov opened #1420 "Build initialize fails"
For the first time I try `build initialize` in cmd as Administrator and it fails for these packages

[code]

So I try to manually install it with `Manage Nuget packages`. Now it displays why it can not locate these packages: "You are trying to install it to a project that targets .NETFramework, Version = 4.5.1, but the package does not contain any assembly references or content files that are comp

[2015-01-16 16:37] ajcvickers commented on #1102
Clearing milestone. What I didn't realize when we triaged this was that the tests for the non-generic and string-based APIs are currently disabled meaning we have very little coverage for those APIs.

[2015-01-16 17:00] rayao commented on #1404
Without an Include call, the same exception thrown, just different stack.

   at System.Linq.Expressions.Expression.Property(Expression expression, PropertyInfo property)
   at System.Linq.Expressions.Expression.MakeMemberAccess(Expression expression, MemberInfo member)
   at Remotion.Linq.Clauses.ExpressionTreeVisitors.AccessorFindingExpressionTreeVisitor.GetMemberAccessExpression(Expression inpu

[2015-01-16 17:09] rayao commented on #1404
I highly suspect that in EF code the result type is made wrong, before calling into Remotion.Linq
Perhaps for a MemberInit expression like:
            Container = new PropertyContainer.NamedProperty<Users>()
            {
                Name = "User2",
                Value = o.User2,
            },
The code assume the property type (type of Container here) is identical to the NewExpression type

[2015-01-16 17:48] Eilon commented on #1418
Hi, can you please translate to English, as well as add more info on the scenario, what you tried, what errors/results you saw, and what didn't work?

[2015-01-16 17:48] Eilon commented on #1419
Hi, can you please translate to English, as well as add more info on the scenario, what you tried, what errors/results you saw, and what didn't work?

[2015-01-16 19:09] rowanmiller commented on #1420
May be related to some package source changes happening at the moment and just be a temporary issue.

[2015-01-16 19:13] rowanmiller commented on #1395
Assigning to @mikary to add a test to ensure we don't change this behavior in the future.

[2015-01-16 19:28] smitpatel commented on #1395
@rowanmiller - I have already included test for it in pull req #1409

[2015-01-16 19:35] rowanmiller commented on #1419
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the results

[2015-01-16 19:35] rowanmiller commented on #1418
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the results

[2015-01-16 19:38] rowanmiller commented on #1408
Added a note to consider this during API review https://github.com/aspnet/EntityFramework/issues/1158

[2015-01-16 19:57] bricelam commented on #1420
@Bogatinov What does your `%APPDATA%\NuGet\NuGet.Config` file look like?

[2015-01-16 20:01] rowanmiller commented on #1395
Great, feel free to close once pushed

[2015-01-16 20:16] Bogatinov commented on #1420
@bricelam like this
[code]

[2015-01-16 20:56] bricelam commented on #1420
Looks like you're hitting the infamous NuGet [Work Item 4397](https://nuget.codeplex.com/workitem/4397). Most of us work around it by adding a line similar to the following inside `packageSources`.
[code]

[2015-01-16 21:11] #1383 closed

[2015-01-16 21:47] Bogatinov commented on #1420
@bricelam thanks, that worked. So if anyone has the same problem, it can look it up in this issue.

[2015-01-16 23:15] smitpatel commented on #1262
fixed via fec52f0b6835559ed3a2eece0ae23e2cd9dd4bc4

[2015-01-16 23:15] #1262 closed

[2015-01-16 23:52] #782 closed

[2015-01-17 00:22] smitpatel commented on #743
Currently when an instance of unmapped derived type is used, we are not able to find the mapped EntityType in the model and we throw following exception
[code]
Which looks good enough. Though there are no tests to cover this.
Clearing flags for re-triage.

[2015-01-17 00:57] divega opened #1423 "Consider blocking inheritance scenarios until we have proper support"
#247 covers adding support for some inheritance scenarios and per #743 we made sure we do not allow instances of unmapped derived types to be passed to APIs. However it seems that we should understand better what happens when the application tries to map two or more members of the same inheritance hierarchy in the same model and how whatever behavior we have now would break once we add proper inhe

[2015-01-17 01:16] #1213 closed

[2015-01-17 17:56] vijayantkatyal opened #1424 "Column Name not reflecting on Database"
Column name not reflecting on database

e.g.

[Column("some_name")]
public string name { get; set; }

expected result:
column name should be "some_name"

actual result:
column name is "name" instead of "some_name".

[2015-01-17 19:03] ErikEJ commented on #1424
Annotations have not been implemented yet

[2015-01-17 19:05] vijayantkatyal commented on #1424
@ErikEJ thanks for the feedback.

[2015-01-18 13:37] egorpavlikhin commented on #1196
@bricelam your blog doesn't work.
And I'm still getting this error in 7.0.0-beta3-11980

    G:\!Projects\Hostilling\src\Hostilling>k ef migration add 0001
    Using context 'ApplicationDbContext'.
    System.InvalidOperationException: No service for type 'Microsoft.Data.Entity.Infrastructure.DbContextService`1[Microsoft.Data.Entity.Relational.Migrations.Infrastructure.Migrator]' has been register

[2015-01-18 15:01] RickyLin opened #1426 "Multiple Where method calls on one IQueryable, only the last one generates SQL statement."
I assume it's a quite common situation that we need to call `Where` method multiple times on one IQueryable object. Code similar to this:

[code]

I know I can convert the preceding code to this:

[code]

and EF 7 will generate SQL statement similar to this ( when contactName is not null but contactTitle is null):

[code]

I don't thinks the generated SQL statement is ideal though. It would be bet

[2015-01-18 18:08] ScriptiZer commented on #882
hi rowanmiller,
any updates regarding this issue ?
please keep me posted

[2015-01-18 20:20] egorpavlikhin commented on #1196
Figured it out:
This code must be in Startup.cs public void ConfigureServices(IServiceCollection services) method, not anywhere else, otherwise it won't work.

    services
        .AddEntityFramework(Configuration)
        .AddSqlServer();

[2015-01-19 16:56] andrebaltieri commented on #752
+1

[2015-01-19 17:03] yanjustino commented on #752
+1

[2015-01-19 17:48] egorpavlikhin opened #1427 "RelationalDataStoreCreator.EnsureCreated returns false if DB already exists and has schema"
https://github.com/aspnet/EntityFramework/blob/48b776f65d97c6589fae1842215ce86119ccdaf7/src/EntityFramework.Relational/RelationalDataStoreCreator.cs#L64

Otherwise the sample MVC app in Identity repo won't work on a relational db.

Currently:

[code]

Should be:

[code]

[2015-01-19 18:04] rowanmiller commented on #882
@ScriptiZer - @bricelam is busy tidying up a whole bunch of migrations stuff at the moment, so this should be resolved shortly (if it isn't already).

[2015-01-19 18:06] rowanmiller commented on #1196
@egorpavlikhin - correct, we match that method by convention. We do have an item to make all this more robust by RTM.

[2015-01-19 18:14] ajcvickers commented on #1427
@egorpavlikhin The return value indicates whether or not the database and/or its tables were created. In other words, the return value is false if the call was a no-op. This can then be used to determine whether or not the database should be seeded, which can be useful in test code where several tests share a common database that should only be created and seeded once.

[2015-01-19 18:18] egorpavlikhin commented on #1427
So then it's rather a bug in Identity sample project, which should be calling Exists instead of EnsureCreated.

https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Models/SampleData.cs#L20

[2015-01-19 18:43] egorpavlikhin opened #1428 "EntityQueryExecutor.AsyncExecuteCollection throws null ref exception"
NullReferenceException: Object reference not set to an instance of an object.
    Microsoft.Data.Entity.Query.EntityQueryExecutor.AsyncExecuteCollection[T](QueryModel queryModel, CancellationToken cancellationToken)
    Microsoft.Data.Entity.Query.EntityQueryProvider.AsyncQuery[T](Expression expression)
    Microsoft.Data.Entity.Query.EntityQueryable`1.System.Collections.Generic.IAsyncEnumerable<T

[2015-01-19 19:37] rowanmiller commented on #1426
@RickyLin - Based on the SQL you included for the collapsed version of the query it looks like contactName was null (the `1 = 0` in the SQL indicates this). Can you confirm that this is not the reason that the Where method from the original logic is not being applied (since in your logic the `Where(c => c.ContactName == contactName)` won't get called if contactName is null).

[2015-01-19 19:39] rowanmiller commented on #1427
@egorpavlikhin - The logic in that file is correct. That logic means that if EnsureCreated creates the database then the seed data will get added. If the database already existed then EnsureCreated returns false and the seed data is not needed (since it would have been added when the database was actually created). This is the scenario the return value is intended to be used for.

[2015-01-19 19:49] egorpavlikhin commented on #1427
@rowanmiller the problem is that it then skips CreateAdminUser(), which it shouldn't. Should I create a different issue in the Identity project?

[2015-01-19 19:59] divega commented on #1427
@egorpavlikhin feel free to file a bug on the Identity repo if this isn't working for you.

But as @rowanmiller mentioned the code seems correct, e.g. you are only supposed to create the admin user the first time the code runs and when the database is created. In all subsequent times this code is executed if the database is already created the admin user should already be in the database.

Inciden

[2015-01-19 20:13] WillBaldwin opened #1429 "Please add validation to migration names."
The following command is accepted and the code generator creates the cs files without error but hyphens are illegal in c# class and variable names so it breaks on build and migration apply actions.

k ef migration add Init-0

[2015-01-19 21:02] divega commented on #1423
@lukewaters Please start by investigating what the current behavior is. We can then decide what we want to do.

[2015-01-19 21:14] smitpatel commented on #1429
Already being tracked at #1067

[2015-01-19 21:30] rowanmiller opened #1430 "Make ToString on queries display the query string"

[2015-01-19 21:32] rowanmiller opened #1431 "Consider IListSource on DbSet/Query"
In EF6 we implemented IListSource to throw and point folks to the right way to data bind. We should consider doing this again.

[2015-01-19 21:47] rowanmiller opened #1432 "Design meeting discussion:January 16, 2015"
This issue is for discussion of the [EF design meeting on January 16, 2015](https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-16,-2015).

Items discussed were:
- API Review 1 (DbContext, DbSet, Database)

Please comment on this issue to provide feedback, ask questions, etc.

[2015-01-19 22:23] maumar opened #1433 "Include :: IndexOutOfRange when running include queries with one-to-many and one-to-many self reference"
Repro:

[code]

this throws:

Unhandled Exception: System.ArgumentOutOfRangeException: Index was out of range.
 Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.ThrowHelper.ThrowArgumentOutOfRangeException(ExceptionArgument argument, ExceptionResource resource)
   at System.Collections.Generic.List`1.get_Item(Int32 index)
   at Microsoft.Data.Entity

[2015-01-19 22:30] rowanmiller opened #1434 "Apply decisions from API Review #1"
Changes are summarized here - https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-16,-2015

[2015-01-20 00:02] smitpatel opened #1436 "Use Sql Server 2014 for testing"
Presently most of tests are using Sql Server 2012 (localdb)\v11.0
Change tests to use Sql Server 2014 (localdb)\mssqllocaldb
(Perf tests are using Sql Server 2014 already)

[2015-01-20 04:28] AnshulNigam commented on #1382
Syntex ThenInclude looks much simpler for 1-3 level but what if i want to load all collection? can we have simple syntext like

    categories
    .Include(c => c.Products).ThenInclude("All collection").Level(X);

Which says that include all colections data types inside product till level X;
For e.g.

<code>
    categories
     .Include(c => c.Products).ThenInclude("All collection").Level(2);
</co

[2015-01-20 07:00] rmja opened #1439 "Where() on properties of the short type does not generate a sql WHERE clause."
I have a table `Table1` with the following (relevant) columns: Id, SmallintId, IntId. SmallintId is of type smallint not null in SQL Server, IntId is of type int not null, and the `Table1` POCO model has a SmallintId property of the `short` type and an IntId of the `int` type.

I have the following observations:
The following queries does not produce any sql `WHERE` clause:

    context.Table1.Whe

[2015-01-20 09:15] waf opened #1440 "Commands: Allow for DbContexts in other assemblies"
Currently, the `--context` command does not allow for DbContexts in other projects. For example, if you run the following command from a `MyProject.Web` project, which depends on a `MyProject.DataAccess` project that contains your DbContext:

[code]

You can get around this by running the `k` command from the `MyProject.DataAccess` project, but that requires duplicating the connection string in `M

[2015-01-20 13:26] luisrudge commented on #1382
I don't like this idea: `ThenInclude("All collection")`.
First, the magic string.
Second, people would be constantly shooting themselves in the foot. The dev has to be explicit about doing such an expensive type of query.

[2015-01-20 13:31] cihanyakar commented on #1382
ThenIncludeAll()

better...

2015-01-20 15:26 GMT+02:00 Luís Rudge <notifications@github.com>:

--
*Cihan Yakar*
*W:cihanyakar.com <http://cihanyakar.com>*

[2015-01-20 13:57] luisrudge commented on #1382
This solves just the magic string problem.

[2015-01-20 14:29] RickyLin commented on #1426
@rowanmiller - for the collapsed version of the query, the generated sql statement is correct.
Here is an working example, running on regular Console Application, .NET Framework 4.5.1, EF 7 beta 2.

I think the sql statement generated by (3) is correct.
The problem is (2), I want to create a pull request for this issue so for (2) EF can generate the correct sql statement `WHERE WHERE [c].[ContactN

[2015-01-20 14:56] RickyLin commented on #1439
Interesting. I tried it out. No where clause was generated if the property was of short type.
There are 2 issues here.
1. the same issue as #1426
2. "Where() on properties of the short type does not generate a sql WHERE clause"

[2015-01-20 15:32] rmja opened #1441 "Support for inserting/updating tables with triggers (not use OUTPUT when batching off)"
Let there be a table `Table1` in SQL Server with an AFTER INSERT trigger. The produced SQL is:

    exec sp_executesql N'SET NOCOUNT OFF;
    INSERT INTO [Table1] ([Column1])
    OUTPUT INSERTED.[Id], INSERTED.[ComputedColumn]
    VALUES (@p0);
    ',N'@p0 int',@p0=1

The problem is that SQL reports the following error for such a statement if a trigger exists on the table:
*The target table 'Table

[2015-01-20 15:37] tonysneed commented on #1368
@bricelam,

Are there plans to support many-to-many without mapping the intersection table?

Also, will there be support for marking related entities as added or deleted to indicate they should be removed from the relationship and not the table?  With EF6 and prior the only way to do this was to dip down to the ObjectContext API and work with independent associations.  Thanks!

[2015-01-20 16:43] egorpavlikhin commented on #1428
Same happens when trying to get user logins.

    at Microsoft.Data.Entity.Query.EntityQueryExecutor.AsyncExecuteCollection[T](QueryModel queryModel, CancellationToken cancellationToken)
    at Microsoft.Data.Entity.Query.EntityQueryProvider.AsyncQuery[T](Expression expression)
    at Microsoft.Data.Entity.Query.EntityQueryable`1.System.Collections.Generic.IAsyncEnumerable<TResult>.GetEnumerator()

[2015-01-20 18:44] ajcvickers commented on #451
Clearing this for re-triage since the behavior we have may be correct. Currently, if you Include a collection navigation in the query, then the navigation property will be initialized even if there are no related entities. If the navigation property is not included in the query, then the property remains uninitialized. This is the same behavior as EF6. It essentially means that if the navigation h

[2015-01-20 18:51] anpete commented on #1426
@RickyLin, you can add tests to Microsoft.Data.Entity.FunctionalTests.QueryTestBase and then assert the SQL in the derived test classes.

[2015-01-20 19:19] bricelam commented on #1368
Yes, many-to-many associations will eventually be enabled via shadow state entities (#749) and skip-level navigation properties (not sure if there's a bug for that; I'll re-open this one).

I'm not sure I follow your second question, but @divega or @ajcvickers will know if it'll be covered by our "graph behavior" improvements.

[2015-01-20 19:32] divega commented on #1368
@tonysneed Re your second question, not sure I understand it either, but here is some data that might help:

We should have similar default behavior in EF7 as in previous versions of EF for the general case of removing an entity from a collection navigation property: this will cause the relationship to be marked as removed, not necessarily the entity.

Removing the relationship is promoted to an a

[2015-01-20 20:20] tonysneed commented on #1368
@bricelam, thanks for answering my first question.  I'll be interested to learn more about implementing many-to-many via shadow state entities.

@divega, I'll clarify my second question.  Let's say I have two entity classes that have a many-to-many relationship, for example, Employee and Territory from the Northwind sample database.  If I wanted to add or remove a Territory from Employee.Territori

[2015-01-20 20:38] julielerman commented on #1196
Hey I just want to clarify something here. I'm NOT using aspnet5 but instead a basic full .NET app ..console (and yes, I understand that it's not recommended, I'm just using that to explore) Instead of having a paramterless ctor on dbcontext and specifying UseSqlServer with connection string in onconfiguration, I am passing in the dbcontextoptions. So in this scenario, if I am not using d.i., I wo

[2015-01-20 20:47] ghost opened #1443 "Unable to load the specified metadata resource."
Got this exception(_see title_)

Found this on google ...

http://stackoverflow.com/questions/689355/metadataexception-unable-to-load-the-specified-metadata-resource

Then thought to myself ... hmmmm. What a wonderful place to be ...

[2015-01-21 02:28] smitpatel commented on #1395
fixed via 4d6c82826674edfee69ee98c6ee1970ee5e89ee5

[2015-01-21 02:28] #1395 closed

[2015-01-21 02:28] smitpatel commented on #1391
fixed via 4d6c82826674edfee69ee98c6ee1970ee5e89ee5

[2015-01-21 02:28] #1391 closed

[2015-01-21 06:48] rayao commented on #1404
Sorry I forgot to mention in this code snippet only Contacts and Users are entity types, others are just pure CLR types that aren't mapped to entity data.

[2015-01-21 14:31] tonysneed commented on #1368
Alight, I think I can clear everything up now that I've had a chance to try out a few things.  The way to add or remove entities from a relationship in a disconnected fashion in vCurrent is not very straightforward or consistent when it comes to many-to-many relations.  Stating that it is not possible without resorting to the OSM was incorrect.  It can be done via the DbContext API but it's awkwar

[2015-01-21 15:24] Mimetis opened #1447 "Unable to run a straightforward InMemory sample on Linux"
Hi all;
I tried to run a quick sample on a Linux VM.
Installing **Mono** was straightforward and seems to work :
![Mono Version](http://www.dotmim.com/sitefiles/linuxef/MonoVersion.jpg)

Then installing the **KVM** and the latest **KRE** wasn't so easy, but it's ok :)
![Kvm list](http://www.dotmim.com/sitefiles/linuxef/kvmlist.jpg)

My application folder contains everything required and the **kpm

[2015-01-21 15:27] RickyLin commented on #1439
@rmja - somehow It seems that Remotion.Linq translated  `x.SmallintId == 17` into `Convert(x.SmallIntId) == 17`, convert `x.SmallIntId` to `int` first, then compare to 17. The EF can't recognize `Convert` expression so no sql statement was generated.
I tried `x.SmallIntId == (short)17`, but the WhereClause was still `Convert(x.SmallIntId) == 17`.

Need further investigation.

[2015-01-21 16:42] ScriptiZer commented on #882
Thanks

[2015-01-21 16:52] egorpavlikhin commented on #1428
I'm running under IIS Express if that helps.

[2015-01-21 17:09] divega commented on #1439
Those converts are added by the compiler because they are implicitly already there: the equality operator is not defined for short so but for int. We need to remove them or ignore them.

[2015-01-21 17:17] divega commented on #1447
@suhasj does this ring any bells for you?

[2015-01-21 17:32] suhasj commented on #1447
The packages seems to be missing. @Mimetis what happens when you run `kpm restore` and try again ?

[2015-01-21 17:36] Mimetis commented on #1447
Everything worked fine, when i ve done the kpm restore
I just tried a refresh right now :)
![](http://www.dotmim.com/sitefiles/linuxef/kpmrestore.jpg)

[2015-01-21 18:00] suhasj commented on #1447
ok I see your project.json and you should have `aspnet50` instead of `aspnetcore50` since coreclr is not available on Mono. Can you make that change and try again ?

[2015-01-21 18:02] davidfowl commented on #1447
Yes, @suhasj is right, that is the problem.

[2015-01-21 18:10] Mimetis commented on #1447
thx guys ! It works pretty fine right now :)
As you said, since coreclr is not available, it make sense to run in within aspnet50

Thx you, my Techdays Demo will works, finally !

Seb

[2015-01-21 19:43] ilmax commented on #1439
@divega it's a difficult task,I worked a little bit on it for EF6 see [here].(https://entityframework.codeplex.com/SourceControl/changeset/3982678d5a359f37e82464aba71ea69452b03ef7) Making the long story short, it happens a lot of times analyzing the expression tree (Linq query) we totally forgot information about the type (e.g short). In those cases we may rely on EF's metadata, but there will rem

[2015-01-21 20:02] julielerman opened #1449 "SqlServer one to many post savechanges items gone?"
Testing out a simple one to many relationship w sql server provider. (I have confirmed that all packages are current & from the same build - beta3-12013). No fluent configurations involved.
Migrations comprehends the relationship and builds the tables, keys and FKs correctly.

In my code, I'm creating a graph in memory:
1 new parent with one new child added to it's children navigation property.
Sa

[2015-01-21 21:04] ilmax opened #1450 "Custom IEntityTypeConvention registration"
Hi, I would like to know if the IEntityTypeConvention is an extension point, since I've assumed it is, I developed a custom extension, but I'm failing registering it.
Currently I've tried to write `modelBuilder.EntityTypeConventions.Add(new MyCustomConvention());` on `OnModelCreating` but it does not work because all entities are already added to the model and entity conventions are not fired. I g

[2015-01-21 21:24] ajcvickers commented on #1449
@julielerman Repro code?

[2015-01-21 21:30] julielerman commented on #1449
Will put it together

[2015-01-21 21:44] anpete commented on #1151
Fixed in c16c33b73

[2015-01-21 21:44] anpete commented on #1173
Fixed in c16c33b73a

[2015-01-21 21:44] #1173 closed

[2015-01-21 22:35] julielerman commented on #1449
bah... how best to share a tiny solution with you? do I have to put it up on github? I don't like putting not working stuff on gh

[2015-01-21 22:38] ajcvickers commented on #1449
You could email it to me, or just copy/paste the code here, inside a code block markdown.

[2015-01-21 22:49] divega commented on #1450
I think the short answer is that a lot of this stuff isn't implemented yet. @AndriySvyryd can probably answer in more detail.

[2015-01-21 22:50] ilmax commented on #1450
@divega Thanks, feel free to close!

[2015-01-21 22:52] AndriySvyryd commented on #1450
@ilmax Yes, for now the only way to do it properly is in a custom  IModelBuilderFactory.

[2015-01-21 23:11] smitpatel commented on #1311
I tried adding test in EntityMaterializerSourceTest which contains entity with read only auto properties. It throws following exception
[code]

[2015-01-21 23:36] mikary commented on #1168
Configuration

connection strings:
* [x] From a single Configuration file
 * [x] No connection string definition
 * [x] ConnectionString defined in context
 * [x] ~~ConnectionStringKey defined in context~~
 * [ ] ConnectionString "Name=xxx" syntax
 * [x] conflicting definition (connection string and key defined) #1391
* [x] Multiple configuration files / overrides #1390
 * [x] Name / Full Name #13

[2015-01-21 23:48] ajcvickers opened #1452 "Multiple multi-level collection/reference Include can fail"
Repro code:
[code]

Generated SQL:
[code]

Entities and context, etc.:
[code]
To seed:
[code]

[2015-01-21 23:53] maumar opened #1453 "Topological sort :: exception thrown in case of circular dependency is useless"
Currently exception looks like this:

Unhandled Exception: System.InvalidOperationException: A circular model foreign
key dependency was detected: Microsoft.Data.Entity.Relational.Update.ModificationCommand -> Microsoft.Data.Entity.Relational.Update.ModificationCommand -> Microsoft.Data.Entity.Relational.Update.ModificationCommand.

we do ToString() on the verteces - instead we should extract usef

[2015-01-21 23:58] maumar opened #1454 "Topological sort :: Exception during SaveChanges thrown for models that specify both ForeignKey and ReferenceKey on 1:1 relationship"
[code]

throws:
Unhandled Exception: System.Collections.Generic.KeyNotFoundException: The given
key was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at Microsoft.Data.Entity.Utilities.BidirectionalAdjacencyListGraph`1.Topologi
calSort()
   at Microsoft.Data.Entity.Relational.Update.CommandBatchPreparer.TopologicalSo
rt(IEnumerable`1 commands)

[2015-01-22 00:05] anpete commented on #1452
@maumar Looks like a problem in column aliasing...

ORDER BY [e].[Id], [o].[Id] **AS [Id0]**

[2015-01-22 00:11] anpete commented on #963
Fixed

[2015-01-22 00:11] #963 closed

[2015-01-22 00:12] anpete commented on #962
Fixed

[2015-01-22 00:12] #962 closed

[2015-01-22 00:13] anpete commented on #1069
Hey, @RickStrahl, can you check whether this works now?

[2015-01-22 00:14] divega commented on #1311
@smitpatel I for that particular case it is expected. We would probably need materialization to support matching constructor parameters to be able to work with those entities. Probably a good idea to file a bug for that and then we can discuss the priority.

[2015-01-22 01:20] maumar commented on #1452
will take a look

[2015-01-22 01:39] maumar commented on #1433
this still repros after multi-level include change

[2015-01-22 02:11] cherrydev commented on #1440
I actually can't even get the work-around to operate unless I override OnConfiguring and then hard-code the connection string, since the ef command doesn't seem to properly initialize the DI container, even if you include a Startup.cs in the DataAccess project.  Have you found a workaround to this?

[2015-01-22 03:35] waf commented on #1440
@cherrydev no, my work-around is just copying the connection string from `MyProject.Web\config.json` to `MyProject.DataAccess\config.json`, and putting the following in `MyProject.DataAccess.MyDbContext`:
[code]
Issue 823 is related, as it will make Commands respect the various system components. I don't think that issue being fixed will allow for DbContexts in other projects, though.

[2015-01-22 04:32] bricelam commented on #1440
I think we'll always require the commands to be run on project containing migrations (or the context if generating the first migration). As part of #823, we'll allow you to specify a start-up project that will be used to look for `Startup.ConfigureServices` and relative-pathed files (including configuration).

[2015-01-22 10:41] RickStrahl commented on #1069
Works now and has been for a while. Thanks.

[2015-01-22 10:41] #1069 closed

[2015-01-22 17:55] anpete commented on #1069
Thanks @RickStrahl for your help!

[2015-01-22 19:33] #135 closed

[2015-01-22 19:50] heathyates opened #1455 "Connection string cannot be found in startup.cs? Is this a bug?"
Problem
![error](https://cloud.githubusercontent.com/assets/1896424/5863122/d031ca82-a23c-11e4-85e3-67b22f5c9776.PNG)

Steps to duplicate problem
1. Go to the directory of the application in package console
2. k ef migrations add initial

Startup.cs and SampleContext.cs files
![startup](https://cloud.githubusercontent.com/assets/1896424/5863132/ea664c8e-a23c-11e4-9488-e460a3b7ded8.PNG)
![samplecon

[2015-01-22 22:59] #1155 closed

[2015-01-22 22:59] #1436 closed

[2015-01-23 01:10] maumar opened #1457 "Query : "ExecuteReader requires an open and available Connection" thrown when trying to execute a query after a failed query executed before"
Repro:

[code]

throws:

Unhandled Exception: System.InvalidOperationException: ExecuteReader requires an
 open and available Connection. The connection's current state is closed.
   at System.Data.SqlClient.SqlCommand.ValidateCommand(String method, Boolean as
ync)
   at System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehav
ior, RunBehavior runBehavior, Boolean returnStream, S

[2015-01-23 12:51] sgentile opened #1458 "PostgreSQL Provider"
Any plans to support Postgres ?

[2015-01-23 13:01] ErikEJ commented on #1458
See Rowans comment here: https://github.com/aspnet/EntityFramework/issues/1340

[2015-01-23 18:27] lukewaters opened #1459 "Migrations: Improve error message when commands not installed in project that contains the context"
When `entityframework.commands` is installed in one project in a solution but not the project that contains the context, the migrations powershell commands throw a error message that could be more helpful.

It would be more useful if EF either detected this situation or caught this exception.

[code]

[2015-01-23 18:36] lukewaters commented on #823
Fixed in #1416

[2015-01-23 19:06] maumar opened #1460 "Include :: "Sequence contains more than one matching element" thrown in some cases of multi level include"
Repro:

[code]

throws:

Unhandled Exception: System.InvalidOperationException: Sequence contains more than one matching element
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predic
ate)
   at Microsoft.Data.Entity.Relational.Query.ExpressionTreeVisitors.IncludeExpre
ssionTreeVisitor.BuildColumnExpression(IReadOnlyCollection`1 projections, TableE
xpressionBase tableExpr

[2015-01-23 19:08] rowanmiller commented on #1460
__EF Team Triage:__ _This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resu

[2015-01-23 19:08] rowanmiller commented on #1460
:smiley:

[2015-01-23 19:11] maumar commented on #1460
i was too slow... ;)

[2015-01-23 19:20] rowanmiller commented on #1441
We should look at allowing batching to be switched off and then not use OUTPUT

[2015-01-23 19:21] rowanmiller commented on #1440
Required work is already tracked by items that @bricelam linked to

[2015-01-23 19:26] rowanmiller commented on #1430
We're not going to do this now as we have good logging. If we get requests we can add it later.

[2015-01-23 21:48] anpete opened #1461 "Investigate IModel caching behavior"
A couple of things to consider:

1) Should models be cached per provider?
2) Models are currently only cached by the DefaultModelSource, should we instead cache the result of IModelSource.GetModel?

[2015-01-23 22:29] bricelam commented on #823
This isn't finished. We need to enable this functionality on the ASP.NET commands too.

[2015-01-23 22:34] bricelam commented on #823
We also need to consider whether the `-StartUpProject` parameter is needed on the NuGet commands.

[2015-01-23 23:11] maumar opened #1463 "Include :: Multi-level include doesn't work with collections of type List<T> etc (incorrect overload of Include chosen by compiler)"
Repro:

[code]

[2015-01-24 00:05] smitpatel commented on #1311
It is possible to find backing field of read-only auto property through reflection.
The backing field is constructed using pattern *\<PropertyName>k__BackingField*

Following method gives access to backing field.
[code]
Then we can use this code to set the value
[code]

[2015-01-24 00:06] smitpatel commented on #1311
Marking for re-triage to decide what to do next for this.

[2015-01-24 01:54] jasper-186 commented on #1404
So I've been digging through the whole stack and looks like the wires get crossed about half way down the Remotion.Linq Stack. what ends up happening is that, at least for me, when the remotion lib gets the bindings for the  Property Container Expression, it returns the Contents of the Container, not the Members associated with the class. Thus when the Remotion.Linq attempts to get the values of t

[2015-01-24 05:06] bricelam commented on #1311
Given that the semantics of read-only auto properties are the same as `readonly` fields, should we even be trying to set these fields in the first place?

[2015-01-24 05:16] bricelam commented on #1463
Weird. I wonder if it's a Roslyn bug. I was seeing similar problems with type parameter inference a couple of weeks ago on the relationship fluent APIs.

[2015-01-24 05:18] bricelam commented on #1463
Oh, maybe it has something to do with portable too...

[2015-01-24 09:25] ilmax commented on #1311
+1 for materialization via constructor. This is a good feature and lot of people would like to have this.

[2015-01-24 15:09] micdenny commented on #1382
:+1: for ThenInclude() fluent api. I agree with @luisrudge on ThenIncludeAll(), I understood the facility, but it's too out of control, and it could be used only for testing purpose never in production code.

[2015-01-24 17:07] WillBaldwin opened #1465 "EF7 Migration Rollback?"
using EntityFramework 7.0.0.-beta1

Is it possible to roll back migrations yet?  If so, I am assuming that it is a "k ef migration" command?

[2015-01-24 17:09] WillBaldwin opened #1466 "EF7 Class Inheritance"
using EntityFramework 7.0.0.-beta1

I have class inheritance setup with the intent to implement Table per Hierarchy (TPH) database schema on SQL Server.  As I understand it EF7 should default to TPH but in my test application it is defaulting to (TPC).  Is there a HINT I can give EF7 to indicate TPH is my intent?

public class Book
{
     public int BookId;
     public string Name;
}
public class

[2015-01-24 17:21] WillBaldwin opened #1467 "EF7 Fluent API: Self Referencing Tables"
It appears as if EF7 uses all new Fluent API.  Does anyone know where I might find more info?  I'd like to implement self referencing tables with EF7.

public class Employee
{
     public int EmployeeId  //minus the gets and sets
     public Employee Manager  //maps to the manager's Employee
     public int ManagerId  //maps to the manager's Employee.EmployeeId
     public string Name
     public

[2015-01-24 17:29] WillBaldwin opened #1468 "Migration Information"
In EF7 there appears to be a hidden location for migration information; perhaps another duplicate hidden snapshot?  I was able to delete all my migration files, the database schema and "k ef migration list" still was listing migrations that I had deleted.  I deleted the migrations folder and that seemed to clean it up but I would love to know where this hidden location is so I can mess with things

[2015-01-24 20:03] WillBaldwin commented on #1466
I found where TPH support is a still a TODO item in the repo...

[2015-01-25 07:39] ErikEJ commented on #1465
Looks like the PM command is remove-migration https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Commands/tools/EntityFramework.psd1

[2015-01-25 18:25] bricelam commented on #1465
`Remove-Migration` (or `k ef migration remove`) is only about removing unapplied migrations from your project.

To rollback (or unapply) migrations from the database, use `Apply-Migration TargetMigration` (or `k ef migration apply targetMigration`) where `TargetMigration` is the name of the migration you want to rollback to.

To rollback all migrations, use `Apply-Migration 0`.

[2015-01-25 20:15] ghost opened #1469 "Feature Request: Xml Datasource"
I'd like to request for a future release, creating an xml data store.  This would be useful for really small almost static websites and very simple applications that have records small sets of data that doesn't really warrant creating an actual database.

It would also serve as a decent prototyping tool that still maintains state without the overhead of things like sql server, redis, etc.  IMHO, t

[2015-01-25 20:21] hbopuri commented on #629
How is Seed method handled in EF7?

protected override void Seed(MyContext context){}

[2015-01-25 21:02] davidfowl commented on #1469
What does this have to do with EntityFramework?

[2015-01-25 22:20] michaelherndon commented on #1469
The old version of EF weakened the need for creating repository abstractions since DbContext and DbSet seem to function as the unit-of-work and repository.  The newer version of EF 7 takes this a step further with the introduction of nosql databases.  The repositories that developers created end up being a repository repository when its used in conjuction with EF.

Using xml requires an extra laye

[2015-01-26 06:41] ErikEJ commented on #1469
Sounds like SQL Server Compact and/or SQLite would fit the bill, and offer many advantages over xml

[2015-01-26 11:18] xytyx commented on #1426
@RickyLin , any progress on the fix ?

[2015-01-26 14:33] michaelherndon commented on #1469
The primary two things that I'm looking at are building prototypes or just starting an application.

These are times where one doesn't want to get too attached to the prototype, application, or schema.  With a sql database, there are extra mental processes and effort/time devoted to getting the schema right and sometimes wrestling with the quirks of the database.  You can also get caught up in fid

[2015-01-26 15:12] divega commented on #1469
We could allow the contents of the InMemory store to be serialized to and from a file. Although I think @ErikEJ is right that an embeded database would work just fine for prototyping in most cases.

[2015-01-26 15:15] WillBaldwin commented on #1465
k ef migration apply 0 works !!  Thank you so much!

[2015-01-26 15:24] julielerman opened #1470 "Migrations Fail without Connection String"
Given the fact that the model snapshot is in the project, not in the database, I asked Brice about add-migration failing when I hadn't yet made a connection string available. He said it may be a bug and asked that I add it here as an issue.

[2015-01-26 15:52] sponnet commented on #1458
We are working on an EF7 implementation for PostgreSQL
https://github.com/npgsql/npgsql/issues/249
If you want to participate in development or testing, please let us know.

[2015-01-26 16:11] RickyLin commented on #1426
@xytyx - The code has been done and tested in my little test project a few days ago but I'm not able to get EF tests run successfully. You may see my commit in my pull request created just now.

[2015-01-26 17:18] bricelam commented on #1468
Generating migrations adds (or updates) three files to your project:
* **Migrations/MyMigration.cs** -- You can mess with this file. It contains our best-guess at what operations to perform.
* **Migrations/MyMigration.Designer.cs** -- This is the migration's metadata used by the framework
* **Migrations/MyContextModelSnapshot.cs** -- You can merge conflicts in this file. It contains the last-know

[2015-01-26 17:23] rowanmiller commented on #629
@hbopuri - There isn't a first class API for this at the moment (though this work item is tracking adding one in the future). Currently you would just write code in app startup to handle seed data.

[2015-01-26 17:24] bricelam commented on #1470
Migrations *shouldn't* ever (but I haven't checked yet) connect to the database in this case, so it's technically not needed. We do however instantiate the DbContext. I'm not sure if doing that requires it to be present. If so, we should consider relaxing that requirement and only throw when trying to connect to the database.

[2015-01-26 17:25] rowanmiller commented on #1466
Here is the work item tracking inheritance support: https://github.com/aspnet/EntityFramework/issues/247

[2015-01-26 17:29] bricelam commented on #1458
@sponnet I was hoping the Npgsql community would be on top of that. :smile:

[2015-01-26 17:35] hbopuri commented on #629
@rowanmiller wasn't  _*override seed*_  part of earlier EF versions? is EF7 a upgraded version of earlier versions or a completely newly designed from scratch?

[HaBo Rocks](https://www.facebook.com/HaBoRocks)
[Harsha Bopuri](http://www.harshabopuri.com/)

[2015-01-26 17:38] rowanmiller commented on #629
@hbopuri - It's a major version and has breaking changes in it. These breaking changes are larger than we would typically do in a release, but you can read more about the reasoning behind what we are doing here http://blogs.msdn.com/b/adonet/archive/2014/10/27/ef7-v1-or-v7.aspx.

[2015-01-26 17:39] rowanmiller commented on #1458
+1 really glad to hear you are working on it already. There is next to no documentation at the moment and things are still churning in the code base... so feel free to reach out if you have questions.

[2015-01-26 17:55] michaelherndon commented on #1469
That would be sufficient.

It would fall in line with opting into things as you need them.

It also would help startups to be more willing to throw away their prototypes in order to pivot. And it would free up those of us that work on side projects to focus more on the creative side of things than dealing with the DAL too much upfront.

[2015-01-26 18:42] rowanmiller opened #1472 "Review Connection Management"
Opening, closing, disposing connections etc.

[2015-01-26 18:44] rowanmiller commented on #1443
__EF Team Triage:__ _This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resu

[2015-01-26 18:45] rowanmiller commented on #1443
Closing as there doesn't seem to be anything actionable here. It is worth noting that this issue would no longer exist in EF7 as we do not load models from embedded xml files.

[2015-01-26 18:48] rowanmiller opened #1473 "Support multiple calls to UseSqlServer (or other provider)"
Currently it appears to be "last wins", but it may be better to throw to avoid confusion such as https://github.com/aspnet/EntityFramework/issues/1455

[2015-01-26 18:49] rowanmiller commented on #1455
Hey,

The issue is the `options.UseSqlServer()` call in OnConfiguring. This call is overriding the `UseSqlServer` call you have in Startup.cs where you specify the connection string. If no connection string is specified then we try to load one from the `EntityFramework` section in config.

Opened https://github.com/aspnet/EntityFramework/issues/1473 to look at making this issue harder to hit.

~Ro

[2015-01-26 19:21] WillBaldwin commented on #1468
Thank you for the great explanation!

[2015-01-26 19:37] anpete commented on #1463
Looks like its just standard overload resolution. I think we have at least two options:

1) Rename the collection version. E.g. "ThenIncludeCollection", or perhaps: "With"/"WithCollection"; or even "Expand".
2) Add further overloads for common collection types. Not ideal...

cc @divega

[2015-01-26 19:49] maumar commented on #1463
You would also need to rename Include as well, not only ThenInclude. Still better than option 2.

[2015-01-26 19:52] WillBaldwin commented on #1455
"If no connection string is specified then we try to load one from the  EntityFramework  section in config."
Rowan, I think may be broken...

If you call UseSqlServer() from either the Startup.cs or the MyDBConxext.cs UseSqlServer() can't seem to find the connection string in the Config.json please see this repo that demonstrates this:  https://github.com/HeathWillCode/SampleDbContext

[2015-01-26 19:57] anpete commented on #1463
Actually, IncludeOne/Many would be consistent with CF.

[2015-01-26 20:16] heathyates opened #1475 "Clone entityframework into VS2015 and cannot resolve dependencies"
![error](https://cloud.githubusercontent.com/assets/1896424/5907543/624d3b6a-a565-11e4-80b0-ae75ea2fd251.PNG)
Please see the image above. I cloned the entire repo and I am unable to resolve dependencies such as Xunit. I was taking a peak at your tests (it's the quickest way to learn a project). Could you please tell us what we could be missing? I'm not understanding why.

![cannotfindxunit](https:

[2015-01-26 20:46] heathyates opened #1476 "Anxious for table-per-hierarchy"
I have seen many users point out that EF does not have support for inheritance. In fact, I have learned this is already well known and being work on by the team, as seen here: https://github.com/aspnet/EntityFramework/issues/247

I have two questions:
1. When might it be ready for test and evaluation?  Especially tph(table per hierarchy)? We would really like to help evaluate and test this when yo

[2015-01-26 21:12] bradwilson commented on #1475
I've noticed that recent builds of NuGet require that you add the nuget.org package source if you're using a `NuGet.config` file to permit the use of custom package sources. I'm not sure when this change went in, but I've already updated all the `NuGet.config` files in xUnit.net for this exact reason: https://github.com/xunit/xunit/blob/master/nuget.config#L4

If EF is using a custom `NuGet.config

[2015-01-26 21:15] heathyates commented on #1475
This solved the issue. Thank you Brad.

[2015-01-27 01:23] maumar opened #1478 "Include :: 'index out of range' exception thrown in some cases of multi-include queries (need to run both queries in the repro)"
Repro:

[code]

exception:

Unhandled Exception: System.ArgumentOutOfRangeException: Index was out of range.
 Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.ThrowHelper.ThrowArgumentOutOfRangeException(ExceptionArgument argu
ment, ExceptionResource resource)
   at System.Collections.Generic.List`1.get_Item(Int32 index)
   at Microsoft.Data.Entity.

[2015-01-27 02:38] maumar opened #1479 "Mapping :: defining One-to-One navigation can fail - for optional by convention we require nullable PK rather than creating nullable FK in shadow state"
Repro (comment two lines indicated to repro)

[code]

[2015-01-27 05:23] divega commented on #1463
@anpete @maumar FYI, I was able to make an older version of the C# compiler match this particular case by having a version of the method with this signature:

[code]
Notice the type of the source argument will match if the previous call to `Include` landed on a collection navigation, which is actually the case in which the `ThenInclude` method is required, as far as I know.

For this to work I als

[2015-01-27 09:07] divega opened #1480 "Enforce "name=xyz" syntax for named connection strings in configuration"
Per #1391 we decided to stop using `"ConnectionStringKey" : "xyz"` as a way to specify that the actual connection string is defined in a configuration key `"xyz"`. We started supporting the form `"ConnectionString" : "name=xyz"` instead. But as a consequence of adopting parts of the EF6 implementation we also started supporting the form `"ConnectionString" : "xyz"` (i.e. given any "xyz" string tha

[2015-01-27 09:16] divega opened #1481 "Query: Include and ThenInclude should support collection navigation properties that are just IEnumerable<T>"
We learned yesterday while discussing #1463 with @anpete and @ajcvickers that the EF7 runtime does not constrain collection navigation properties to be of types that can be assigned to `ICollection<T>` but that `IEnumerable<T>` is generally sufficient.

The eager loading API should relax to support the same navigation property types.

[2015-01-27 18:13] rowanmiller commented on #1455
@WillBaldwin - In that repo you linked to there is no connection string for the context specified in config.json. You would need to have something like this in your config.json:

[code]

[2015-01-27 18:57] #346 closed

[2015-01-27 20:03] WillBaldwin commented on #1455
@rowanmiller ,

I have tested your Config.json settings and they work!  No surprise to you, I'm sure.

I have a suggestion; when Visual Studio creates a Config.json file it places a default connection string in "Data:DefaultConnection:ConnectionString"; EF7 is looking for "entityFramework:MyDbContext:ConnectionString".  I suggest that you change EF7 to look for the "Data:DefaultConnection:Connecti

[2015-01-27 20:07] rowanmiller commented on #1455
@WillBaldwin - we're trying to do away with as much magic as possible around connection strings in EF7. BTW the new project templates for ASP.NET5 include the EntityFramework sections already scaffolded for the Identity context.

[2015-01-27 20:44] heathyates commented on #1455
@rowanmiller I appreciate your reply and sharing the thinking behind decisions being made. We, too, are fans of doing away with magic. Your teams work on migrations is really evidence of this. Huge fans of the changes to it.

You stated that the team is trying to do away with as much magic around connection strings. We feel there must be a reason that you mentioned magic in this instance (as you d

[2015-01-27 20:45] smitpatel commented on #1111
Repro works fine with API changes.
Feel free to open again if you still encounter the exception.

[2015-01-27 20:45] #1111 closed

[2015-01-27 20:55] smitpatel commented on #1110
Closing this for now.
Feel free to open again if you encounter the same exception.

[2015-01-27 20:55] #1110 closed

[2015-01-27 22:08] divega commented on #109
@AndriySvyryd and I think this is probably already fixed but we need to verify.

[2015-01-27 22:08] divega commented on #967
@AndriySvyryd and I think this is probably already fixed but we need to verify.

[2015-01-27 22:36] divega commented on #908
@smitpatel please talk to @AndriySvyryd about how to approach this.

[2015-01-27 22:37] divega commented on #1102
@smitpatel this is related to #908. Please talk to @AndriySvyryd about how to go about it.

[2015-01-27 22:38] ajcvickers commented on #908
@smitpatel @AndriySvyryd @divega @bricelam Migrations must stop using the BasicModelBuilder before it can be removed,

[2015-01-27 22:39] divega commented on #107
@smitpatel please talk to @AndriySvyryd about the details.

[2015-01-27 23:06] divega commented on #960
Moving this out of @AndriySvyryd's plate since this can be done by someone else.

[2015-01-27 23:15] divega commented on #1083
@smitpatel this is now assigned to you. Please talk to @AndriySvyryd about the details of what needs to be done.

[2015-01-27 23:45] divega opened #1484 "Migrations: Replace usage of BasicModelBuilder with direct calls to core metadata"
Currently model snapshots get scaffolded as calls to BasicModelBuilder, but the latter is going away as described in #908.

Although most scenarios we originally envisioned for BasicModelBuilder can be handled by a "regular" ModelBuilder without the conventions, after discussing with @bricelam and @ajcvickers we agreed that the ModelBuilder API is not the best choice for model snapshots.

Instead

[2015-01-27 23:46] divega commented on #1484
@smitpatel please figure out with @bricelam how to best integrate this change with his work on migrations.

[2015-01-27 23:49] divega commented on #1463
I discussed this with @anpete and if the fix I sketched above works we would like to take it in beta 3 so that more customers can play with the API early. Hence assigning it to @anpete . cc @rowanmiller

[2015-01-27 23:50] divega commented on #908
@smitpatel I talked to @bricelam, @ajcvickers and @AndriySvyryd and we agreed to replace Migrations usage of BasicModelBuilder in model scaffolding with direct calls to the core metadata API. I have created issue #1484 for that, and it is also assigned to you.

[2015-01-27 23:51] ajcvickers opened #1485 "SqlServerGearsOfWarQueryTest includes initialization SQL in assert"
/cc @maumar

After changing the database initialization to be non-async (See #1483), the first SqlServerGearsOfWarQueryTest that runs now includes the database creation SQL in the SQL log, causing it to fail. The log should only be used for the test query, or the log should be cleared after initialization has happened.

Tests are currently disabled.

[2015-01-27 23:52] divega commented on #1355
@rowanmiller we discussed with @bricelam and @ajcvickers today and we would like to use the core metadata API directly for this (see #1484). We would like move this one to the backlog.

[2015-01-28 00:00] divega commented on #1166
@mikary moving this to your plate. When chat about what it encompasses whenever you are ready.

[2015-01-28 00:41] rowanmiller commented on #1355
@divega we need to work out how that plays with blocking shadow state entities since the model snapshot can't reference the actual CLR types.

[2015-01-28 00:53] divega commented on #1355
@rowanmiller Do you mean that using the core metadata will make blocking shadow state entities harder?

[2015-01-28 01:03] rowanmiller commented on #1355
@divega I meant that the model snapshot needs to be 100% shadow state since it can't reference the model classes. We were planning to block having entities that are 100% shadow state - but perhaps we just block this from the model builder API and allow it in core metadata (though we may want to see if there are places we should detect ad throw in the stack too if we detect a model with shadow enti

[2015-01-28 01:38] AndriySvyryd commented on #1467
The EF 7 equivalent is
.Entity<Employee>()
.HasOne(x => x.Manager)
.WithMany(x => x.Employees)
.ForeignKey(x => x.ManagerId)
.Required(false);

Cascade on delete is not supported yet

[2015-01-28 01:39] maumar opened #1487 "Include :: 'Specified cast is not valid' thrown for some cases of multi-level include queries"
Repro:

[code]

throws:

Unhandled Exception: System.InvalidCastException: Specified cast is not valid.
   at Microsoft.Data.Entity.Metadata.ObjectArrayValueReader.ReadValue[T](Int32 i
ndex) in D:\k\EntityFramework\src\EntityFramework.Core\Metadata\ObjectArrayValue
Reader.cs:line 27
   at Microsoft.Data.Entity.Relational.Query.OffsetValueReaderDecorator.ReadValu
e[T](Int32 index) in D:\k\EntityFra

[2015-01-28 02:52] maumar commented on #1487
[code]

throws:

Unhandled Exception: System.InvalidCastException: Specified cast is not valid.
   at Microsoft.Data.Entity.Metadata.ObjectArrayValueReader.ReadValue[T](Int32 i
ndex) in D:\k\EntityFramework\src\EntityFramework.Core\Metadata\ObjectArrayValue
Reader.cs:line 27
   at Microsoft.Data.Entity.Relational.Query.OffsetValueReaderDecorator.ReadValu
e[T](Int32 index) in D:\k\EntityFramework\s

[2015-01-28 03:03] maumar opened #1488 "Include :: 'Index was outside the bounds of the array' thrown for some cases of multi include queries"
Repro:

[code]

throws:

Unhandled Exception: System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at Microsoft.Data.Entity.Metadata.ObjectArrayValueReader.IsNull(Int32 index)
in D:\k\EntityFramework\src\EntityFramework.Core\Metadata\ObjectArrayValueReader
.cs:line 22
   at Microsoft.Data.Entity.Relational.Query.OffsetValueReaderDecorator.IsNull(I
nt32 index) in D:\k\Enti

[2015-01-28 04:17] divega commented on #1355
@rowanmiller Ok. I believe that could be done regardless of how the model snapshot is represented. E.g. it could be done in the validation step described in #1205 or potentially in a separate validation step we would only perform while loading the model with the purpose of executing CRUD operations. I don't think the model snapshot would need to be validated in either way.

[2015-01-28 05:38] divega commented on #1355
@rowanmiller I think what you said about blocking it only in the model builder API sounds good too (perhaps that is the same as saying we block in model validation). BTW disabling shadow state entries is tracked in #748.

[2015-01-28 14:49] ravensorb opened #1489 "Support for IoC in instantiating Domain Model"
I am curious if there are any plans for supporting entity models that are based on design by contract and IoC.

Example Contract Based Model

[code]

With this model, it should be possible to use it in an ORM as it contains everything that is needed.  Ideally, it would be great if there was a way to tell EF to use a mapping possible via an IoC container resolution method.

Note: For the sake of si

[2015-01-28 15:32] WillBaldwin commented on #1467
The following are not resolving for me, I assume they are introduced in later builds of EF7 after "7.0.0-beta1", is that correct?

.HasOne(x => x.Manager)
 .WithMany(x => x.Employees)

[2015-01-28 17:07] ajcvickers commented on #1355
@rowanmiller @divega I don't think using the core APIs will make it harder to block use of shadow state entities. The idea that has been mentioned most often is to have a check when the context instance is created. That is, you could build a model with shadow state entities, but if you tried to create a session for it, then we would throw. However, I think just removing the ModelBuilder API might

[2015-01-28 17:47] rowanmiller commented on #1467
Correct, they are currently in nightly builds. Here is some info on using the latest builds https://github.com/aspnet/EntityFramework/wiki/Getting-Started-with-Nightly-Builds.

[2015-01-28 17:50] anpete opened #1490 "Query Caching: Cache should be per provider/model"
Related to #1461

[2015-01-28 17:52] rowanmiller commented on #1355
@ajcvickers Both sound good to me, remove it from top level API and then have a simple check when you create context.

[2015-01-28 17:52] ajcvickers commented on #1355
Sound good.

[2015-01-28 18:49] dazinator commented on #1007
I would also love to have a provider ready when EF7 is launched.

I looked at the documentation here:
https://github.com/aspnet/EntityFramework/wiki/Writing-an-EF7-Provider

The first thing that struck me was obviously the massive disclaimer:

THE INFORMATION ON THIS PAGE IS OUT OF DATE
WE WILL BE UPDATING IT SOON

My question - how accurate is this documentation - is it going to be a complete was

[2015-01-28 18:53] dazinator commented on #1007
Also the template provider project (great idea by the way - should be very useful) was last updated 7 months ago. It would be nice if someone could verify if it is still accurate, or update it perhaps, if possible?

https://github.com/natemcmaster/entityframework-provider-starter

Thanks for your hard work so far on EF7 :)

[2015-01-28 19:07] augusteiner commented on #1007
:+1:

[2015-01-28 23:23] dazinator opened #1493 "RelationalDbContextOptions namespace?"
I'm writing a relational provider, and came across the `RelationalDbContextOptions` class - which is in the EntityFramework.Relational assembly, but it's namespace is `Microsoft.Data.Entity.SqlServer.Extensions`

I am just wondering why it's in a `SqlServer` namespace - shouldn't it be provider agnostic?

[2015-01-28 23:51] divega commented on #1493
Thanks for letting us know. It is possibly that we missed cleaning things up after refactoring. @mikary can you take a look?

[2015-01-29 00:22] ajcvickers opened #1495 "Using an alternate key in ModelBuilder API can fail if PK relationship was discovered by convention"
This may be related to Issue #1398 since in this case the type of the PK and the alternate key are different, resulting in the same exception as in that bug. However, in this case the root cause seems to be that the PK relationship has already been discovered and configured by convention. This means that the workaround for #1398 does not work here--the exception is thrown regardless of whether the

[2015-01-29 00:49] AndriySvyryd commented on #1181
Clearing the fields for triage since this needs to be implemented in the provider and only the ATS provider needs it currently.

[2015-01-29 02:11] #1269 closed

[2015-01-29 02:57] heathyates commented on #1467
@rowanmiller

I was testing the nightly builds with the link you gave. I applied it to the ASP.NET template application (the one we are given out of the box). I received the following error below:

![error](https://cloud.githubusercontent.com/assets/1896424/5951702/2c1f998a-a730-11e4-914b-f164349685e2.PNG)

Steps to reproduce:
1. Create ASP.NET 5 Web application
2. Follow directions found here: ht

[2015-01-29 07:03] pranavkm opened #1499 "Re-enable tests skipped to unblock CI"
Revert this changeset: e1fb1deaeda8890ce1567176c68381abc3988161

[2015-01-29 08:59] AnshulNigam commented on #1382
In my previous comment where it reads
categories
.Include(c => c.Products).ThenInclude("All collection").Level(X);

i am not praposing to have a magic string as @cihanyakar rightly pointed out.

It was more like
categories
.Include(c => c.Products).ThenIncludeAll().Level(X);

Updading in previous comment also.

[2015-01-29 09:35] divega commented on #1499
@anpete Looks like yesterday's change may have broken something.

[2015-01-29 12:00] borgdylan commented on #1458
@sponnet if you want to merge your work into what I had started you are free to send me a PR or point me to to your repo so I could merge it in.

Also if others have a prototype implementation, I am willing to test and give feedback. As a note, I am running Postgres 9.4 i.e the latest stable release.

[2015-01-29 16:15] bricelam commented on #1283
I worked this out yesterday. The way I have it in my fork, you *can* add design-time dependencies to your service collection, but if you don't the default implementations will be used. The default implementations are **not** added to the service collection at runtime.

[2015-01-29 17:37] heathyates opened #1500 "Ambiguity between Microsoft.Data.Entity.Migrations.DatabaseExtensions.AsMigrationsEnabled and Microsoft.Data.Entity.Infrastructure.Database"
See the error below:

![ef7](https://cloud.githubusercontent.com/assets/1896424/5962700/3feb91e6-a7ab-11e4-8cf3-8b1279598231.PNG)

Steps to reproduce:
0. I created a new ASP.NET template application using VS15CTP.
1. project.json change  "EntityFramework.SqlServer": "7.0.0-beta2" to  "EntityFramework.SqlServer": "7.0.0-*"

[2015-01-29 21:09] rowanmiller commented on #1455
@heathyates - I mentioned 'magic' because having EF special case a connection string called 'DefaultConnection' is pretty magic. Actually in ASP.NET 5 and config.json there is no concept of connection string... so it would actually be special casing the `data:defaultConnection:connectionString` config value.

Another data point is that we would have gotten rid of `defaultConnection` in ASP.NET 5 e

[2015-01-29 22:16] AndriySvyryd commented on #1499
This is caused by different branches (i.e. dev and release) running on the same CI agent and creating different databases.

[2015-01-29 22:53] maumar commented on #1457
fixed with c64f9e2938d8464b383b59067e06c6b3dde8e070

[2015-01-29 22:54] maumar commented on #1457
reopening to keep track work of adding tests

[2015-01-29 23:03] rowanmiller commented on #1007
@dazinator - The docs will give you some of the info you need, I don't think any of the info will send you in the wrong direction... it just won't give you the full picture of what you need. It also doesn't cover any of the guidance for naming conventions etc. we want to encourage for extension method naming etc. but you can probably work that out by looking at our providers.

[2015-01-29 23:43] cherrydev commented on #1449
When you're re-fetching the parent entity, are you Include()ing the child collection?  EF7 doesn't implement proper object graph navigation yet; you have to explicitly include collections or they don't get loaded.  I had this problem too when implementing a bi-directional relationship.

[2015-01-30 00:18] rowanmiller commented on #1489
This is already tracked by #757 - we do want to support it but it won't be in the initial 7.0.0 RTM.

[2015-01-30 00:20] rowanmiller commented on #1469
__EF Team Triage:__ Discussed and concluded that this isn't something our team would do. Between the InMemory data store and a lightweight database (SQLite, SQL Compact etc.) it seems like there are enough options here.

[2015-01-30 00:24] rowanmiller commented on #1476
Hey,

1. Love the quote :smile:... I can be a little more specific. We view inheritance mapping as a 'must have O/RM feature' and we expect to have all those implemented toward the end of the year [insert usual disclaimer that things can change, this is just what we think, etc.].
2. There isn't really a way to mimic it at the moment. If you use inheritance then the types are treated as two complet

[2015-01-30 00:29] maumar commented on #1485
fixed in 3ae3a838c019ab28e17336557ad17334accfaf40

[2015-01-30 00:29] #1485 closed

[2015-01-30 00:42] RickyLin commented on #1426
the pull request for this has been merged. so I closed this issue.

[2015-01-30 00:42] #1426 closed

[2015-01-30 01:15] julielerman commented on #1449
Hi Cherrydev,
Thanks for the thought. In this case I'm not re-fetching.

Easier to see if I share the method. :)
I'm just counting children before and after saving.

   var parent= new Parent{ Name = "Foo" };
   context.Parents.Add(parent);
   parent.Bars.Add(new Bar{ Text = "Such a fooey bar" });
   Console.WriteLine("Bars before saving:" + parent.Bars.Count());
(Bars.count is 1)
   context.SaveC

[2015-01-30 02:05] divega commented on #1426
@rickylin thanks for the contribution!

[2015-01-30 04:58] rayao commented on #1404
I possibly found the root cause and fix, in class Remotion.Linq.Clauses.ExpressionTreeVisitors.AccessorFindingExpressionTreeVisitor, the method GetMemberAccessExpression should check if the input expression is the member’s declaring type (or subclass of declaring type), and do a conversion when necessary.
But I don’t know how to submit fix to relinq, could anyone help?

    private Expression GetM

[2015-01-30 05:13] jasper-186 commented on #1404
Did some research and came across these couple of pages:

https://relinq.codeplex.com/team/view

https://github.com/re-motion/Relinq/network/members

I would guess that you can do one of three(?) things to get their attention:

try pushing it to the github repo
Contact one of the devs from the pages above, and ask them the proper way to enter code
use mentions to get the devs to see these comments

[2015-01-30 06:26] divega commented on #1404
Thanks for investigating! We have worked with the Relinq team. I am sure we'll find a way.

[2015-01-30 06:44] rayao commented on #1404
That will be great! Thank you Diego.
And thank you jasper-186 for attention and advices.

[2015-01-30 11:25] ovidiutudorache opened #1505 "Generated SQL with 2012 syntax on 2008R2 database"
The edmx is created using a 2012 SQL database.
Then I execute queries on a 2008R2 database, the generated SQL contains OFFSET and FETCH NEXT instructions that are supported on SQL 2012.
Tested on EF 6.1.2
This does not happen on EF 6.1.1.

[2015-01-30 12:07] ErikEJ commented on #1505
Change the providermanifest token in the EDMX - see my blog post here: http://erikej.blogspot.dk/2014/12/a-breaking-change-in-entity-framework.html

[2015-01-30 12:47] dazinator commented on #1007
Ok thanks @rowanmiller  - I'll read the doc's then, but use your SQL server provider as the go to reference.
Cheers.

[2015-01-30 12:47] ovidiutudorache commented on #1505
Thank you.

Ovidiu Tudorache
   CTO
   Zurply
   P: +40 748 128 041
   E: ovidiu.tudorache@zurply.com

2015-01-30 14:07 GMT+02:00 Erik Ejlskov Jensen <notifications@github.com>:

[2015-01-30 16:52] anpete commented on #1404
@rayao

You can connect with the relinq developers here: https://groups.google.com/forum/#!forum/re-motion-dev

[2015-01-30 17:21] #1314 closed

[2015-01-30 18:12] dazinator commented on #774
I'd be very interested in this feature, as I have an ADO.NET provider implementation that supports  standard T-SQL. Currently, I have to create a whole EF provider for this, where as if I could get EF to just use the correct `DbProviderFactory`- that's pretty much all I would need at this stage.

Could you make it:

1. Find some way to either inspect the connection string to grab the invariant nam

[2015-01-30 18:15] dazinator commented on #774
Please don't do that! I want to be able to plugin in my "non well known" ado.net provider!

[2015-01-30 18:29] #1463 closed

[2015-01-30 19:29] divega commented on #774
@dazinator In the "Core" version of ADO.NET (i.e. System.Data.Common and System.Data.SqlClient packages) there is still the concept of provider factories but not the concept of a provider factory registry in configuration, so we cannot depend on that. We could build a service within EF to resolve invariant names to provider factories so that you can register your replacement, but at that point I d

[2015-01-30 20:48] dazinator commented on #774
@divega ahh ok I understand. Sounds like it's all in hand, I'll look forward to taking advantage of that capability once it's added! Cheers.

[2015-01-30 21:34] ajcvickers opened #1509 "Design meeting notes - January 29, 2015"
# Key value sentinels

## Background

EF has traditionally allowed a key property to be any value other than null. EF never reasoned about keys values--all values were treated equally.

In EF7 we have started treated the default value for the CLR type (default(T); e.g. zero) differently:
* When value generation is used, values are only generated when the property value is not the default
* When st

[2015-01-30 21:57] FransBouma commented on #1509
The minute you start using magic values for something, there will be a moment when that magic value will be given a context other than the one you gave it at the start.

IMHO a key can have any value other than NULL (i.e.: not set), I don't see why there has to be a magic value default(T) (which for string is still null btw) to determine something, as one can do that without that magic value witho

[2015-01-30 23:04] AndriySvyryd opened #1510 "Change DI contracts to stateless classes with parameterless constructor"
The service contracts should be represented by field-less classes without non-default constructors. Default implementations should be separated to base classes
Pros:
•	We can make some API changes without breaking implementation
•	We can add helper methods inline instead of using extensions
•	They can be mocked easily
•	Implementations can have different fields and constructor parameters
Cons:
•	C

[2015-01-31 09:43] MichaelKetting commented on #1404
Hi Guys!

Thanks for bringing this to our attention over at the list (https://groups.google.com/forum/#!topic/re-motion-dev/Xt13qzt-MM4)

Best regards, Michael

[2015-01-31 17:57] anpete commented on #1404
Thanks @MichaelKetting.

[2015-02-01 04:17] mperiannan opened #1511 ".Include() throws error if base record does not exist"
[code]

will fail if the dinnerId does not exist in the table.

[code]

[2015-02-01 15:46] dazinator opened #1512 ".OneToMany() extension method - wiki details"
Hello,

This is possibly just that a wiki page needs updating with a newer syntax, not sure.

I am using this page: https://github.com/aspnet/EntityFramework/wiki/Using-EF7-in-Traditional-.NET-Applications, which says to use the fluent api is like so:

[code]

However, I can't seem to find those extension methods (OneToMany, ForeignKey etc) anywhere. Is this my mistake or has the fluent API change

[2015-02-01 20:32] bricelam commented on #1484
@smitpatel I wrote a blog post, [C# Object Notation](http://bricelam.net/2015/02/01/csharp-object-notation.html), on some language features we can use to try and make the format as terse as possible.

[2015-02-01 21:40] jersiovic opened #1513 "Dynamic Entities with Dynamic Navigation Properties that fit with NoSQL Graph db providers"
Do you have evaluated the idea of supporting dynamic types for entities with navigation properties to other entities that fit with Graph dbs or hibrid dbs(Document+Graph). Nodes of those dbs are schema free and each node can be connected to other different nodes.
So it would be great EF will allow us to use dynamic navigation properties instead of use the current ones we define in the class. Those

[2015-02-02 03:44] Eilon commented on #1511
@mperiannan in GitHub use Markdown delimiters such as triple-backtick (three of `) to denote a multiline code block. See the "edit" view of your post above for how I updated it. You can optionally follow the code block delimiter with a language.

[2015-02-02 17:47] ajcvickers opened #1514 "Keep DbContext constructor that takes service provider and options"
We use this extensively in our tests, in particular for decoupling the service provider setup from EF provider configuration. We also don't always use a derived context. It might be possible to create some ugly code with AddDbContext and always using a derived context that would allow us to change our test code. I started to look at this, but @divega and @AndriySvyryd suggested that we should reco

[2015-02-02 17:48] ajcvickers opened #1515 "Add support for key sentinel values"
As per design meeting discussion: https://github.com/aspnet/EntityFramework/wiki/Design-Meeting-Notes:-January-29,-2015#key-value-sentinels

[2015-02-02 18:09] ajcvickers opened #1517 "Use AddRange, RemoveRange, etc. for multiple entity overloads"
In the API review meeting we decided on the following overloads:

[code]
But as we know (because we keep finding out but not remembering. :smile:) overload resolution doesn't work great when choosing between object and IEnumerable. For example:

[code]

I suggest that we learn from the BCL and from the old stack and stop trying to be too clever with overloads: we should use AddRange for the method

[2015-02-02 19:24] rowanmiller commented on #1514
Keep it

[2015-02-02 19:42] smitpatel commented on #1480
fixed via 44bedde79bb3f81fdfaeec12b350aa81c4dac892

[2015-02-02 19:42] #1480 closed

[2015-02-02 20:51] bricelam opened #1520 "Don't call DbContextService.Service inside of constructors"
In accordance with our pay-per-play philosophy, we should avoid getting `Service` on `DbContextService` objects in constructors. This can lead to extra work and memory allocation that may not, depending on the execution path, be needed.

[2015-02-02 20:55] mikary commented on #1417
This issue does not appear to reproduce anymore.

I tested with the latest changes and replacing the ```OneToOne``` calls with ```HasOne``` and ```WithOne``` due to API changes. Still throwing ```DbUpdateException``` but I checked with @maumar and this is due to issues with the reproduction itself and not EF.

[2015-02-02 23:18] #1493 closed

[2015-02-02 23:24] bricelam commented on #924
Assigning to @smitpatel since he'll be working on #1484

[2015-02-02 23:26] bricelam commented on #1355
@divega Is there anything left do to for this issue, or is it all tracked by #1484 now?

[2015-02-02 23:28] bricelam commented on #1273
Assigning to @smitpatel since he'll be working on #1484

[2015-02-02 23:31] rowanmiller commented on #1500
@heathyates if you are just changing EntityFramework.SqlServer to * then you are still going to be using the beta2 versions of the other packages. For our pre-release builds, you need to get a complete set of ASP.NET 5/EF7 packages from a single build. Changing everything to * is the easiest way to do this. BTW you would also need to make sure you get the latest version of the KRE as well.

[2015-02-02 23:32] rowanmiller opened #1525 "Remove AsMigrationsEnabled (consolidate on AsRelational)"
Possible now that migrations is merged into relational

[2015-02-02 23:34] rowanmiller opened #1526 "Decide on use of property setters vs fields"
We currently use the backing field by convention in some scenarios. We should revisit if this is the right thing to do by convention, or whether we should just use setters and allow folks to swap to backing field access if they want to.

[2015-02-02 23:35] rowanmiller opened #1527 "Better exception message when mapping a readonly property where we can't find the backing field"
We should consider telling folks how to map to the backing field if they want to use a readonly property.

[2015-02-02 23:37] rowanmiller commented on #1311
Discussed in triage and agreed that we should not include a getter-only property in the model by convention. Logged these two issues as a result of the discussion:
- https://github.com/aspnet/EntityFramework/issues/1527
- https://github.com/aspnet/EntityFramework/issues/1526