[2018-03-20 07:41] paulvanbladel commented on #11323
@ajcvickers Arthur, Thanks a lot. I could solve the issue with your suggestions.

[2018-03-20 08:36] TanvirArjel commented on #11314
Dear @ajcvickers , Thanks for your persistent reply.

Does it make sense that the primary key of the table at column no. 5 or so other than the first column of the table? Look at the two orders of the columns in the question. Which makes sense? Which is more meaningful? Obviously not the first order..Hope,you will also be agree with me.

In case of unmapped based type, yes! it also be more readabl

[2018-03-20 09:00] Liero opened #11340 "Take in projecting navigation collection causes N+1 queries"
In EF Core 2.1.0-preview1-final, following select causes n+1 queries:

[code]

However, without ToArray() it generates only one or two queries:

[code]

I think it would be useful, if we could do some client side transformations, like ToArray, ToList etc, without n+1 queries.

[ConsoleApp1.zip](https://github.com/aspnet/EntityFrameworkCore/files/1828580/ConsoleApp1.zip)

BTW, in the second example

[2018-03-20 09:19] Liero commented on #11318
I was able to build and run the project in visual studio but the `Update-Database` reported build failed. I tried to run dotnet build and found error in once of .Test projects that were not built by VS when I tried to run the project.

[2018-03-20 09:37] jsakamoto commented on #4050
I'm not sure about what problems are there due to I had not learned more about it. Anyway, I could not forget `Index` attribute...

So that, I create my own `Index` attribute library, and published it.

https://www.nuget.org/packages/Toolbelt.EntityFrameworkCore.IndexAttribute

This library allows us to easy way to recognize models without round trip between DbContext class and Entity classes.

I

[2018-03-20 10:24] El-Wray commented on #9193
I have the same behavior.

[2018-03-20 10:37] ErikEJ commented on #9193
.NET Core SqlClient does not support Always Encrypted, you must use .NET Framework 4.6.1 or later

[2018-03-20 10:38] ErikEJ commented on #11339
@smitpatel  Sorry, missed that: 2.1-preview1-final

[2018-03-20 10:46] sandorfr commented on #9193
@erikEJ I think people are confused with the previous update from @ajcvickers. It cool give the feeling that there was a partial support when reading quickly.

What is not clear for someone reading is that EF core is not tied to dotnet core. And that in that case he was meaning EF Core running on the full framework.

Sad to seee support for that very useful feature (given GDPR and Australia privac

[2018-03-20 11:05] ErikEJ commented on #9193
Read the comments here: https://github.com/aspnet/EntityFrameworkCore/issues/9193#issuecomment-320755801

[2018-03-20 11:14] sandorfr commented on #9193
I well aware of this 8 month old comment ;). I’m just stating why people are confused, and reaffirming the importance of that feature on dotnet core for us in the current context.

I understand that there’s al lot of other important work  on SQL client and prioritizarion had to happen. I just hope we could see it coming in the next release after 2.1. Not in two years.

[2018-03-20 11:23] smithaitufe commented on #11326
@maumar

Removing the .Take(1) did solve the problem.
I know I arrived at using Take(1) due to an issue I had then. I guess it has been resolved.

Can this issue be closed?

[2018-03-20 11:48] gimatech opened #11341 "EF Core 2.0 Possible regression when filtering results"
Code that works fine in EF Core1.1.5 fails using EF Core 2.0.2 (same in 2.1 preview).
We are working on a 40+ projects solution with a lot of repositories.

Migrating from EF Core 1.1.x to 2.0.x we have found that a lot of our queries now are failing with a NullReferenceException, or missing data on our endpoints, due to Navigation properties not materialized when using a filter (Where clause) tha

[2018-03-20 11:48] gurutcr opened #11342 "Error while inserting record whose primary key set by AFTER INSERT trigger"
I also posted this question in stackoverflow. Here is the link

[https://stackoverflow.com/questions/49370711/error-while-inserting-record-whose-primary-key-set-by-after-insert-trigger](url)

The table has a primary key column (Name=**ID**, Type=varchar) whose value is set by an **AFTER INSERT** trigger. The trigger actually gets the value from another column (Name=**ID_AUTO**, type=smallint, Iden

[2018-03-20 11:56] dubs999 opened #11343 "Migration tool for Enum to string attempts to alter column on every migration"
Issue with migrations tool attempting to alter string enum property on every `add-migration` step when using `HasConversion<string>()`.

### Steps to reproduce
- Create an entity with an enum property
- Add the `.HasConversion<string>()` to the model builder
- Add a migration (works fine)
- Add an additional migration (tool attempts to alter already correct property)

### Repro
https://github.com/

[2018-03-20 12:56] eriksendc opened #11344 "FromSql: Must use SqlParameters if variable names used inSQL"
I've got a stored procedure that I'm calling using `FromSql()`. It has really long parameter names. (I'm very verbose / descriptive.) Initially I was formulating the first parameter to FromSql with the same, full parameter names as I use in the actual proc. When I do that I get an exception with the message "". I found that if I shortened the parameter names to p0, p1, ... etc. then things worked

[2018-03-20 12:57] mwe commented on #1906
I need to clarify the unit test example, in a tdd workflow, the executed by a developer many times while he is writing the code. This means that after every try, the DbContext needs to be re-initialized. When the test failed, appdomain is unloaded and on the next run a new DbContext is initialized and cached.

Anyhow, this issue is about **slow** initialisation of a large DbContext (300 entities).

[2018-03-20 13:00] smitpatel commented on #11339
Alias-ing is added in a recent commit after 2.1.0-preview1. In preview1 packages they did not have alias in SqlServer either.

[2018-03-20 13:02] lillo42 commented on #11344
Try to remove `SET NOCOUNT ON`

[2018-03-20 13:43] ErikEJ commented on #11344
You must use SqlParameter values or just placholders: https://docs.microsoft.com/en-us/ef/core/querying/raw-sql

[2018-03-20 13:44] ErikEJ commented on #11339
@smitpatel Thanks! Makes sense...

[2018-03-20 15:04] omora-RA commented on #9193
Our .netcore code is deployed on Linux Docker containers so .net 4.6.1 is not an option.
Since EF Core 2.1 provides the hooks to convert  data types I could bring my own encryption. It would've great if there was some guidance on how to tackle this.

[2018-03-20 15:13] vpikalev opened #11345 "Group By misbehaves with specific class while working with anonymous"
For some reason group by evaluates in memory when selecting AgentsFilterOptions.OfficeItem items, but translated to group by sql clause when selecting anonymous class items of pretty much the same stucture.

### Steps to reproduce
This code snippet produces the following sql
[code]

[code]

### Further technical details
EF Core version:  2.1.0-preview1-final
3d party dependencies: LinqKit.Microsof

[2018-03-20 15:27] glararan opened #11346 "String or binary data would be truncated"
Hi,

I have Model for RAW SQL due performance and cause EF can't simply take in simple query 2 Max values and 1 Min value. Due to a lot of values in "IN" clause Im getting this error. I probably have to go for old commands :(

[code]

### Steps to reproduce
1) Make FromSql query for some table where do you use "IN" clause with a lot of values

[code]

### Further technical details
EF Core version:

[2018-03-20 15:45] eriksendc commented on #11344
@lillo42 No difference. What's the theory with your comment? I'm curious to learn your thinking / reasoning.

[2018-03-20 15:51] cincuranet opened #11347 "Some values in queries are not going through value converter"
With the setup below the query `db.Set<FooBar>().Where(x => x.FooBarBaz.Contains("test")).Load()` is translated to:

[code]

The `test` didn't went through the converter. Similarly `db.Set<FooBar>().Where(x => x.FooBarBaz.StartsWith("test")).Load()` and `db.Set<FooBar>().Where(x => x.FooBarBaz.EndsWith("test")).Load()` respectively result in following SQL where the `LEN` is not not transformed:

[

[2018-03-20 15:55] eriksendc commented on #11344
Hi @ErikEJ

In fact I had already tried that, and doing so led me to theorize about the possible truncation that I mentioned in my original issue description. If I execute this...

[code]

or this...

[code]

Then the message of the exception thrown is...

[code]

Note how what's quoted in single quotes is truncated.

[2018-03-20 16:04] bricelam commented on #11297
The snapshot should be...

[code]

[2018-03-20 16:07] Wain123 opened #11348 "DbUpdateConcurrencyException.Entries only contains one Entry in a split-table scenario"
I have a one-to-one relationship between two entities that share the same table, with the PK property being used as the FK between them (so, a split table). If `SaveChanges` throws a `DbUpdateConcurrencyException`, the exception's `Entries` property contains only one of the two entities.

Is this intentional? How does it choose which of the two entities is in the exception?

If this is intentional

[2018-03-20 16:10] ajcvickers commented on #8792
@cwrea It's great to hear that you are doing this testing--really interested to see what you find. And, yes, Moq is gone in the current codebase.

@divega We should look into whether we can leverage the dotnet ci bot to run our tests on Xamarin. It's already running our PRs, so it seems not unreasonable to go the next step.

[2018-03-20 16:13] ajcvickers commented on #11314
@TanvirArjel Thanks for the additional information. It will help us decide our course of action here.

[2018-03-20 16:18] ajcvickers commented on #11338
Duplicate of #10748

[2018-03-20 16:23] bricelam commented on #11076
It's trying to use the eShop assembly specified [here](https://github.com/tonygeorgiew/eShop/blob/master/Data/eShop.Data/DesignTimeDbContextFactory.cs#L24).

See [EF Core Design-time DbContext Creation](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation) for more information about `IDesignTimeDbContextFactory` and when it gets used.

[2018-03-20 17:04] egmfrs opened #11349 "Add a foreign key to an existing table without dropping data"
If I add a migration for a new table, then add a migration for altering an existing table to include a foreign key to the new table, it fails because of the existing data. I'm having to seed the foreign table manually, and set a default value of 1 for the foreign key. Is there a best practice way to solve this problem?

[2018-03-20 17:14] Luis-Palacios commented on #8019
Any status update on this @smitpatel I'm hating having to repeat so much code because I can't create and reuse expressions for Where or Select

[2018-03-20 17:24] Wain123 opened #11351 "2.1 preview: System.InvalidOperationException: 'The service property [...] of type [...] cannot be added to the entity type [...] because service property [...] of the same type already exists on entity type [...].'"
I'm using the 2.1 preview.

My entities derive from a base class `EFBOBase`. This class has multiple properties of type `ContextBase`, and my context derives from `ContextBase`, which in turn derives from `DbContext`. These properties are not mapped and not in any way relevant to EF - my mapping contains `builder.Ignore()` calls for them. However, the exception happens before my `OnModelCreating`

[2018-03-20 17:50] Wain123 opened #11352 "2.1 preview performance: Startup is much slower than in 2.0"
In 2.0, my startup (from starting the application until the first entity is loaded from DB) took about 25 seconds, in a model with 500 or so entities. In the 2.1 preview, it takes about 3 minutes.

In particular, EF is busy for about 1 minute after calling `OnConfiguring` and before calling `OnModelCreating`. This time seems to be independent of the size of the model: even if I have just one singl

[2018-03-20 18:05] maumar commented on #11326
@smithaitufe this is a legitimate EFCore bug, while Take + FirstOrDefault is redundant and workaround is easy, it still should produce a working query.

[2018-03-20 18:22] sam-wheat opened #11353 "LoadAsync syntax on grouped query"
I posted [this question](https://stackoverflow.com/questions/49376560/loadasync-syntax-on-grouped-query) on StackOverflow.

According to the [documentation](https://msdn.microsoft.com/en-us/library/system.data.entity.queryableextensions.loadasync(v=vs.113).aspx#M:System.Data.Entity.QueryableExtensions.LoadAsync%28System.Linq.IQueryable%29) LoadAsync "...is equivalent to calling ToList and then thr

[2018-03-20 18:34] smitpatel commented on #11322
Generated SQL in nightly build
[code]
Duplicate of #10870

[2018-03-20 18:37] smitpatel commented on #11317
Generated SQL in nightly builds
[code]
Duplicate of #11218

[2018-03-20 18:55] digogid opened #11354 ".Ignore() throws NullReferenceException"
Hey guys, first time around.

I am trying to configure my modelBuilder to generate the first Migration.
When I try to Ignore(x => x.ValueObject) or even Ignore(x => x.AggregateEntity) it throws Object reference not set to an instance of an object at Microsoft.EntityFrameworkCore.Metadata.Internal.InternalModelBuilder.RemoveEntityType(EntityType entityType, ConfigurationSource configurationSource).

[2018-03-20 19:09] smithaitufe commented on #11326
Noted.

I recall that it was an issue that led me into using .Take in the first place. Guess that was resolved.

[2018-03-20 19:16] maumar commented on #11288
fixed in fdb8eceb74a3fd585f90eced744977f74477b1dd

[2018-03-20 19:16] #11288 closed

[2018-03-20 19:16] maumar commented on #10974
fixed in fdb8eceb74a3fd585f90eced744977f74477b1dd

[2018-03-20 19:16] maumar commented on #11245
fixed in fdb8eceb74a3fd585f90eced744977f74477b1dd

[2018-03-20 19:16] #11245 closed

[2018-03-20 19:17] maumar commented on #11022
fixed in fdb8eceb74a3fd585f90eced744977f74477b1dd

[2018-03-20 19:17] #11022 closed

[2018-03-20 19:17] maumar commented on #9481
fixed in fdb8eceb74a3fd585f90eced744977f74477b1dd

[2018-03-20 19:17] #9481 closed

[2018-03-20 20:15] gitfortee opened #11355 "Using stored procedure & EF Core, how to get Id of newly created record ? The insert operation happens inside a stored procedure."
How can i get the Id of newly inserted record. The insert happens via stored procedure.. And i am reading that you have to use `Database.ExecuteSqlCommand` for exec stored procs that perform insert/update/delete.. kind of lost here..

thanks!

[2018-03-20 20:22] ajcvickers commented on #9193
Sorry I wasn't clear that I was referring specifically to EF Core rather than the more general support for always encrypted in .NET Core.

[2018-03-20 21:12] Vasimovic commented on #11355
You can use FromQuery or FromSql to return the newly created record

Your stored procedure needs to return the ID

MS SQL has scope_identity()

**Example**:
-- Do your insert
select scope_identity() as Id

Or, use the output clause

**Example**:
declare @insertedId as Int

insert TableName (Column1, Column2)
output inserted.Your_ID_Column
    into @InsertedIdentityID
 values ("abc", 123)

select @

[2018-03-20 21:26] xucito commented on #9433
Anyone who is still looking at this, if you have multiple DbContext and want to implement the Pool for only one, place the DbContextPool as the last added context it appears to work and not throw the error.

[code]

Might be a useful workaround for some.

[2018-03-20 21:33] maumar commented on #11326
added tests for this issue in SimpleQueryTestBase.Select

[2018-03-20 21:36] popcatalin81 commented on #11346
@glararan check your stack trace, the error comes from inside SQL Data Reader:

   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at System.Data.SqlClient.TdsParser.

[2018-03-20 21:44] AndriySvyryd opened #11358 "Perf: Remove Property from TypeMappingInfo"
This would allow to reuse the TypeMappingInfo objects in more cases

[2018-03-20 21:53] #9615 closed

[2018-03-20 21:54] roji opened #11359 "Value comparison issue when mapping isn't one-to-one"
When updating the Npgsql provider from preview2-30335 to preview2-30366, I started having this test exception:

[code]

I tracked this down to the property `Mission.Timeline`, which is a DateTimeOffset.

PostgreSQL has no data type that corresponds to DateTimeOffset;  the ADO.NET provider does allow reading/writing it to a `timestamptz` (which is a timestamp that's meant to be in UTC), but the def

[2018-03-20 22:15] smitpatel commented on #11344
@ErikEJ is right. You must use SqlParameter if you are providing own names for parameters.

When you pass in values of parameters as scalar types instead of SqlParameter, we name the parameters for you in @p0, @p1... format. Either you can use those parameters in your query directly as found in your solution in first post. Else you can use placeholder like `{}` from string.Format. We will generate

[2018-03-20 22:18] smitpatel commented on #11344
This section describes in detail, different methods of passing in parameters and how to pass in values. https://docs.microsoft.com/en-us/ef/core/querying/raw-sql#passing-parameters

[2018-03-20 22:20] ajcvickers commented on #1906
@mwe Thanks for the info. @AndriySvyryd is looking at model building perf as part of #11196. He and I talked and we filed #11358 which should also make this better.

[2018-03-20 22:21] ajcvickers commented on #11196
See also data in #1906

[2018-03-20 22:21] ajcvickers commented on #11358
See also data in #1906

[2018-03-20 22:27] ajcvickers commented on #11352
Note for triage: related to data in #1906 and related to work tracked by #11358 and #11196

[2018-03-20 22:31] ajcvickers commented on #11353
@sam-wheat Load and LoadAsync are used to load entities into the context where they can later be referenced. This is typically used for data binding. Since the groups are part of the query results it makes no sense to use Load or LoadAsync for a GroupBy query. Or to put it another way, only use Load or LoadAsync if all that you care about is that the entities are tracked. If the specific results o

[2018-03-20 22:48] glararan commented on #11346
Data types inside database for Price and Weight is decimal(18, 2) which should be okay.. I'm using code first and Product entity has also decimal for Weight and Price.

Giant IN: I hear this first time... is there any example how to use IN list?

[2018-03-20 23:01] ajcvickers commented on #11359
@roji It's always been intended that the CLR type of the mapping match the CLR type of the property it is used for. (Excluding that a type mapping for a non-nullable type can be used for the equivalent nullable type.) However, it has become apparent that the MySQL provider didn't so this, and it now seems that the Postgres provider doesn't do it either. Unfortunately, much of the work on value con

[2018-03-20 23:11] AndriySvyryd opened #11362 "ValueComparer for keys isn't applied consistently"
It should only be applied for PK to FK comparison
The comparer from the FK sided should be used

[2018-03-20 23:14] antonioortizpola commented on #3129
3 years and a simple immutable objects can not be used (unless you do some workarounds), this is really sad, considering c# 7 and 8 come with more and more support for functional programming

[2018-03-20 23:18] AndriySvyryd commented on #11117
Fixed in 9172c66fcd93259ba7a64625d623951f34740883

[2018-03-20 23:18] #11117 closed

[2018-03-20 23:35] roji commented on #11359
OK, understood. I just worked changed the mappings to have one mapping that does DateTime<->timestamptz, and another that does DateTimeOffset<->timestamptz. The first is used when looking up by ClrType=DateTime and by StoreType=timestamptz (so it's the default in that sense), and the second is used only when looking up by ClrType=DateTimeOffset. This makes the error go away.

I can only see one ap

[2018-03-20 23:47] eriksendc commented on #11344
@smitpatel @ErikEJ Thank you very much for taking the time to respond today.

@smitpatel In fact my stored procedure doesn't require non-null values, but I missed a very basic thing from my database programming knowledge of long ago: When passing null via a SqlParameter object you must pass `DBNull.Value` (I had passed plain old `null`.)

I re-ran my test from my comment above using SqlParameter o

[2018-03-20 23:49] smitpatel commented on #11344
Thanks for info. I did not know that 😄

[2018-03-21 00:01] divega commented on #11359
Reopening so that we can still see this in our next triage.

[2018-03-21 00:04] divega commented on #3129
@antonioortizpola I recommend that you create a new issue including details about the code that you would like to write. There have been improvements around this area and some things already work.

[2018-03-21 00:06] roji opened #11363 "Consider making RelationalTypeMappingInfo concrete"
RelationalTypeMappingInfo is currently abstract. In Npgsql it's necessary to internally create RelationalTypeMappingInfo when finding an array mapping, which involves constructing and finding the element mapping first. There doesn't seem to be any particular reason to stop RelationalTypeMappingInfo from being instantiated directly, rather than subclassing it without adding any value. I might be mi

[2018-03-21 00:09] roji commented on #11363
Note that there also doesn't seem to be a constructor on RelationalTypeMappingInfo which allows it to be constructed with both a ClrType and a StoreType.

If you really intend this class to be constructed only within the core, I'll try to work around it some other way.

[2018-03-21 00:20] ChristopherLClark commented on #11335
I am not sure how to use `Expressions`. It does look like it could work if I fully understand them. I tried a quick snippet example to see if it would work, and I had the same problem, this could be I implemented `Expression` incorrectly. I will do more digging. Thank you for providing me this option.

[2018-03-21 00:28] ajcvickers commented on #11363
@roji The reason TypeMappingInfo is not insatiable is protection against code creating a core mapping info when a relational one should have been created instead. More generally, the construction of TypeMappingInfo objects is constrained so that there is less chance that the wrong kind of mapping info is created. The intention was that providers could maintain this by creating new subclasses as ne

[2018-03-21 00:28] thiagomajesk commented on #11337
@smitpatel It works if run `dotnet ef --startup-project ../Project.Web database update` from the `Project.Infra` folder.

I've added a note on the docs, because I don't think the docs are explicit enough about that. Thanks!

[2018-03-21 01:05] smitpatel commented on #11345
Duplicate of #11176
Fixed in nightly builds.

[2018-03-21 01:21] maumar commented on #11340
Problem here is Take(5) - it's a current limitation of our correlated collection optimization. If you remove it, you should get two queries, with ToArray or ToList(). The reason why the second query (one without ToArray()) generated only one SQL statement is because this causes us to stream the result, i.e. no data for related Posts has been fetched yet. Once you enumerate over the PostTitles, you

[2018-03-21 03:09] emdadgar2 opened #11366 "Reverse engineering enum support"
Hi,
Please make enum support Reverse engineering.

Thanks

[2018-03-21 03:32] joshmouch commented on #10535
I finally had a bit more time to look into this more.
In answer to your question on version, I'm using 2.0.2.

Correct me if I'm wrong here, but I believe "proof" of the memory leak can be shown by adding a check to DbContext constructor to assert there is nothing in the MemoryCache for a newly instantiated DbContext.  So when I add the following code, it results in an exception in between request

[2018-03-21 06:08] roji commented on #11359
OK. Just to add that I changed my mappings to match what @ajcvickers described above and I don't have any issues. The only impact was the need to go over several mapping candidates when doing `FindMapping()` on a string StoreType (with different ClrTypes).

[2018-03-21 06:09] smitpatel commented on #10535
@joshmouch - MemoryCache is registered as singleton in DI hence shared across scope so the code you posted above will throw by design. Though since you are running the same query again, the cache size would remain at 1.

[2018-03-21 07:10] livarcocc opened #11367 "An assembly specified in the application dependencies manifest was not found"
_From @wh1t3cAt1k on March 20, 2018 18:38_

## Steps to reproduce

- Unpack the following project in VS Code: [CoreRestaurants.zip](https://github.com/dotnet/cli/files/1830653/CoreRestaurants.zip)
- `cd` into the directory
- `dotnet build`
- `dotnet ef dbcontext list`

## Expected  behavior

I see the dbcontexts list or a meaningful error.

## Actual behavior

I see an obscure error
[code]
## Work

[2018-03-21 07:10] livarcocc commented on #11367
It is not clear to me if this is coming from EF trying to load the assemblies in the deps.json or if this is the host trying to load assemblies from the deps.json. If the latter, please, move the issue to core-setup.

Assuming it is the former, I am moving this to EF.

[2018-03-21 07:28] syedabdulaala commented on #11321
@ajcvickers so if I want to execute queries parallel then I have to make new instance of DbContext right? as I understand EF doesn't support processing multiple requests through the same DbContext object.

[2018-03-21 09:28] Alexxtheonly opened #11369 "Owned entity type use one type multiple times - add-migration will always find differences and therefore add the same migration again"
### Steps to reproduce
Use following classes:
**Model:**

[code]

**ComplexType:**

[code]

**Context:**

[code]

Run `add-migration SameMigration`. Run `add-migration SameMigration1`, it will create the same migration over and over.

[code]

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Sqlite
Operating system: Windows 10
IDE: Visual Studio 2017 15.6.3

[2018-03-21 10:17] punssoma opened #11370 "Query: FromSql and SqlParameter issue when using with Include methods"
When using FromSql with SqlParameters and Include methods, it is failing with an exception
It  seems the query is executing twice and gives error

[code]

### Code

[code]
The GenerateSqlParameters function  creates the parameter list
![watch](https://user-images.githubusercontent.com/32505546/37704422-b42365c4-2d1e-11e8-8e4c-9a7bcf5307f7.png)

The SQl query created is :
[code]

The method is fail

[2018-03-21 10:23] roji commented on #11324
@ajcvickers just to let you know that migrations seem to be working well with enums (barring #11368), thanks again for the guidance here.

[2018-03-21 11:09] Liero commented on #11340
I understand that it may be difficult to translate the IQueryables to SQL, but we should at least get damn good warning if N+1 queries suddenly appears.
IMO, it should throw exception by default, but you are basically saying that not only I get no warning for N+1 queries, I also get lazy loading so even logs does not help me? Can the design be even more developer hostile?

[2018-03-21 11:11] mnmr commented on #11297
Right. However, I am not the author of the snapshot class - it is auto-generated. If I modify the snapshot (to fix the mappings) and create a new (empty) migration, the generated snapshot is once again back to being incorrect and I'd need to reapply the fix.

It's therefore not something I should fix in my code, but rather something that needs to be fixed in the code that emits the snapshot in the

[2018-03-21 11:51] joshmouch commented on #10535
@smitpatel
Makes sense.  So maybe the memory leak is caused because the MemoryCache is looking at the same query twice and thinking that they're different?  In my screenshot above, I think that's saying that there are 9.10 Million cached query plans.
I LinqKit quite a bit to dynamically build up expressions to pass in to EF.  Maybe that's causing an issue?

[2018-03-21 14:40] smitpatel commented on #10535
@joshmouch - That's certainly possible that if EF Core fails to identify 2 same queries as one then Cache would grow even though not required. If you can identify example of such query where the same query would cause Cache to grow, we can investigate the cause.

[2018-03-21 15:19] ajcvickers commented on #11321
@syedabdulaala Yes.

[2018-03-21 15:47] karimo3 commented on #11264
What do you mean by mis-matched package versions? How would I go about doing fixing it?
The only reason I ask this is because I usually see that most packages are different versions anyway.

[2018-03-21 16:35] bricelam opened #11371 "Analyzers: Remove DbCommand.CommandText analyzer"
I believe we wanted to find a home outside of EF Core for this analyzer to live.

[2018-03-21 17:21] gitfortee commented on #11355
@Vasimovic it works. thanks. Do you also have an example that shows how to retrieve an output parameter from stored proc.? should i use the SqlParameter to retrieve output parameter values from stored procedure.? thanks!

[2018-03-21 17:23] smitpatel commented on #11355
@gitfortee - You can use SqlParameter with appropriate type to retrieve value of output parameter from ExecuteSqlCommand or FromSql

[2018-03-21 17:42] sameercarpenter commented on #8527
I am eagerly waiting for this feature to be added on EF Core.

[2018-03-21 17:46] bricelam commented on #11371
Failures in Universe:
- Identity\test\EF.Test\Utilities\SqlServerTestStore.cs(113,21)
- Identity\test\EF.Test\Utilities\SqlServerTestStore.cs(141,21)
- Identity\test\Service.EF.Test\Utilities\SqlServerTestStore.cs(113,21)
- Identity\test\Service.EF.Test\Utilities\SqlServerTestStore.cs(141,21)

[2018-03-21 17:58] ajcvickers commented on #11237
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-21 18:04] smitpatel opened #11373 "Code warnings in Visual studio"
CA1032 Implement standard exception constructors
CA1034 Nested types should not be visible
CA1063 Implement IDisposable correctly
CA1012 Abstract class should not have public constructors
CA1068 CancellationToken parameter must come last
CA1819 Properties should not return arrays

[2018-03-21 18:06] maumar commented on #11341
somewhat similar to https://github.com/aspnet/EntityFrameworkCore/issues/10471

[2018-03-21 18:45] gimatech commented on #11341
@maumar Thank you for pointing me this issue #10471, I hadn't found it before posting mine.
This issue doesn't mention the version of EF Core, and it was closed "by design".
I can't really understand that something that seems to be a regression, at least for me, can be closed "by design" without a breaking change notification in the release notes...
I can understand if it is a decision taken for t

[2018-03-21 19:37] ajcvickers commented on #11373
@smitpatel to look into disabling at top level.

[2018-03-21 20:09] #11199 closed

[2018-03-21 20:09] #11309 closed

[2018-03-21 21:12] joshmouch commented on #10535
@smitpatel

I found the code that causes this.  Here's what I'm doing:

I create an Expression (lots of steps to create this):
var filter =  `System.Linq.Expressions.Expression<System.Func<MyEntity, bool>>`

When you do a ToString on the Expression it looks like this:
`{e => (Convert(e.PrimaryKey) == e121e002-b749-4933-b229-4c2d1ca49be7)}`

Then I get a DbSet like so:
var dbSet = dbContext.Set<MyE

[2018-03-21 21:26] xKloc commented on #8172
This can't happen soon enough. My domain models will be so much cleaner.

[2018-03-21 21:26] bricelam commented on #10554
Mostly done. Just waiting on dotnet/cli#8844 to bundle it in the SDK.

[2018-03-21 21:27] xt0rted commented on #10535
I'm not using EF Core yet, but in EF6 I noticed my queries weren't being parameterized when doing paging and advanced filtering so they weren't using the same/cached execution plans. Section 4.2 at https://msdn.microsoft.com/en-us/library/hh949853(v=vs.113).aspx explains how you need to use lambdas and other techniques to force parameterization in a lot of areas. Once I started making those change

[2018-03-21 21:58] xt0rted opened #11374 "Analyzer: Guidance to help with query parameterization"
With EF6 I had to do a refactoring of some of my queries so they would get parameterized and their execution plans cached. Section 4.2 at https://msdn.microsoft.com/en-us/library/hh949853(v=vs.113).aspx talks about this.

It'd be nice if there was one or more analyzers that could help the user out some by pointing out when their method usage might not behave as they're expecting. A good example of

[2018-03-21 22:07] joshmouch commented on #10535
@xt0rted
I'm thinking along similar lines.  However, you can't pass a parameterized Expression into dbSet.Where().

So hopefully there's a slight modification I can make to the Expression to cause EF to realize that Expression.Constant ('e121e002-b749-4933-b229-4c2d1ca49be7') should not be part of the cached plan.

Any ideas here, @smitpatel ?

[2018-03-21 22:26] smitpatel commented on #10535
@xt0rted - That article was true for the case of EF6. Precisely due to that issue, we improved parametrization in EF Core. So even if you use Skip/Take & other operations which does not take lambda arg, we would still generate parameters. So no work-around needed from user side in EF Core for such cases.

@joshmouch - While constants without lambda are parametrized, when constants are used inside

[2018-03-21 22:35] bricelam commented on #11297
Yes. This is a bug. We'll fix it before the final 2.1.0 release.

There's no good workaround except to remove the `AlterColumn` call every time you generate a new migration.

[2018-03-21 22:40] bricelam commented on #11367
Similar to #11320. I suspect the error occurs before any EF code gets invoked..

[2018-03-21 23:13] cblomart commented on #7687
Any workaround?

[2018-03-21 23:27] cblomart commented on #7687
Googled a bit and found this  example
 var chatsList =_context.Chats.Where(chat => chat.Users.Any(u => u.id== user.id)).ToList();

[2018-03-21 23:57] #11326 closed

[2018-03-22 00:15] maumar commented on #7687
This issue is actually fixed in current bits, as a side effect of some other bug fix.

[2018-03-22 00:15] #7687 closed

[2018-03-22 00:18] maumar commented on #7687
regression test added in f66b89d0133dfef9baef6005d3f335779918203a

[2018-03-22 00:26] mnmr commented on #11297
Great, thanks!

[2018-03-22 00:56] smitpatel opened #11377 "Oracle: Order_by_entity_qsre_composite_key broken"
Disabled test to get ci to pass.

[2018-03-22 02:21] ChristopherLClark commented on #11335
Okay, I'm reopening because this was close to what I needed. For the specific example `Func<DisplayItem, bool> The expression worked as follows.

usage.
[code]
and then the actual expression
[code]

Success! However, for another simple where clause I want to pass in a value, and get the results of the where clause. So I try.

`public static Expression<Func<DisplayItem, int, bool>> byItemOwnerId =

[2018-03-22 02:22] rkdrnfds opened #11379 "Shadow property with custom conversion type is not translated to sql."
[code]
and
[code]
generates warning

[code]

Post.BlogId Property Is a shadow foreign key to Blog Entity, and also has custom value conversion of EF Core 2.1
[code]

with primitive type like int, sql translation works well with shadow type.

Environments:
[code]

[2018-03-22 02:31] ajcvickers commented on #11249
Notes from triage:
* Wording should be changed to make it clearer that these are part of the internal conventions process and do not indicate that anything has been done wrong.
* We should consider ways to reduce the number of messages. For example, caching and de-duping.
* We should consider whether moving some of these to Trace level would help
* We should consider whether these messages will re

[2018-03-22 02:32] ajcvickers commented on #11264
@karimo3 Can you please post your project/solution so that we can look at the package versions and if needed attempt to reproduce the behavior you are seeing?

[2018-03-22 02:33] ajcvickers commented on #11314
Triage decisions:
* Primary keys first
* Un-mapped base classes at end

[2018-03-22 02:35] MalithRukshan commented on #4759
Data type 'varchar' is not supported in this form. Either specify the length explicitly in the type name, for example as 'varchar(16)', or remove the data type and use APIs such as HasMaxLength to allow EF choose the data type.'

before fixed :
.HasColumnType("varchar")
                .HasMaxLength(50);
solution is:
 .HasColumnType("varchar(50)");

It is working.

[2018-03-22 02:35] ajcvickers commented on #11320
@livarcocc This looks similar to #11367. We're not sure what is going on with permissions here and in that issue. @bricelam is going to investigate, but there is nothing we can think of that would cause this. Do you know where "unable to generate deps.json, it may have been already generated" comes from? It's not an EF message.

[2018-03-22 02:37] MalithRukshan commented on #9459
I also got the same error: =>{Data type 'varchar' is not supported in this form. Either specify the length explicitly in the type name, for example as 'varchar(16)', or remove the data type and use APIs such as HasMaxLength to allow EF choose the data type.'}

before fixed :
.HasColumnType("varchar")
.HasMaxLength(50);
solution is:
.HasColumnType("varchar(50)");

It is working.

[2018-03-22 02:37] MalithRukshan commented on #9814
I also got the same error: =>{Data type 'varchar' is not supported in this form. Either specify the length explicitly in the type name, for example as 'varchar(16)', or remove the data type and use APIs such as HasMaxLength to allow EF choose the data type.'}

before fixed :
.HasColumnType("varchar")
.HasMaxLength(50);
solution is:
.HasColumnType("varchar(50)");

It is working.

[2018-03-22 02:40] ajcvickers commented on #11329
Duplicate of https://github.com/aspnet/EntityFramework6/issues/384

[2018-03-22 02:43] ajcvickers commented on #11333
@gojanpaolo I was able to reproduce this. The issue is that xunit (or the runner) is creating a new app domain for each test collection. This can be good for isolation, but does defeat EF caching. I believe that there are options to turn of this behavior in xunit, so that might be cleaner than what you have above. Also, when running on .NET Core there are no app domains, so xunit will never have t

[2018-03-22 02:47] ajcvickers commented on #11336
Notes from triage: putting this on the backlog to consider supporting indexes and table splitting together. The implementation will likely require an internal store-side model.

@lincolnzocateli The workaround is to create the index in the migration, rather than in the model.

[2018-03-22 02:49] ajcvickers opened #11380 "Warn when generating "n+1" queries"
See #11340

[2018-03-22 02:51] ajcvickers commented on #11340
Notes from triage:
* Putting this on the backlog to track improving this specific case
* Created issue #11380 to add warnings when EF generates n+1 queries like in this case and others

[2018-03-22 02:54] ajcvickers commented on #11341
@maumar Would you consider this a duplicate of #10471 or a separate issue?

[2018-03-22 03:02] smitpatel commented on #11335
Enumerable.Where takes lambda expression with one parameter which is of type of Enumerable being iterated and returns bool value. Hence you need to pass `Expression<Func<DisplayItem, bool>>` as in your first case.
In the second case, what is y? Where is that int value coming from? Where cannot accept lambda of (x,y) therefore it does not work. Creating a function which would take value of y and re

[2018-03-22 03:02] ajcvickers commented on #11346
@glararan Because of the way string interpolation works with EF the result of this is a query with one large string parameter containing all the values concatenated together. This is probably what is causing the exception. If your intention is to not do parameterization here (and you're happy that this won't expose any security issue) then just stop using string interpolation inside the FromSql ca

[2018-03-22 03:05] smitpatel commented on #11341
This should be duplicate of #10471
It may have worked in previous version accidently. We never tried to populate all navigations asked in include before falling back to client evaluation.

[2018-03-22 03:07] smitpatel commented on #11333
For more info on how to configure xunit not to use appdomains
https://xunit.github.io/docs/configuring-with-json

[2018-03-22 03:08] ajcvickers commented on #11347
This is a known issue with converters which is due to:
* Lack of inference of the store type and facets in some translations, such as the Contains function translation--tracked by #4978
* Lack of support in the query pipeline for performing different SQL translations when converters are being used--tracked by #10427

We plan to add a warning in 2.1.

[2018-03-22 03:09] ajcvickers commented on #10434
See also #11156

[2018-03-22 03:11] ajcvickers commented on #11348
@AndriySvyryd Could you try to find the duplicate for this? I was unable to find it.

[2018-03-22 03:12] ajcvickers commented on #11349
@egmfrs Can you describe in more detail what you are trying to do and what the problem is? Also, please post the version of EF Core and the database provider that you are using.

[2018-03-22 03:14] ajcvickers commented on #11352
Triage: closing as duplicate of the issues mentioned above, since those issues are tracking model building perf in 2.1.

[2018-03-22 03:15] ajcvickers commented on #11366
@emdadgar2 What would such support do? What would be recognized in the database that would then be  reverse engineered into an enum?

[2018-03-22 03:19] ChristopherLClark commented on #11335
My point is why should `Where` be that limited though?
 `Select * From Table as t Where t.Property = 5`
Should be exactly the same as
`.Where( x => x.Property == 5)`
That's where the `y` is coming from. This isn't far fetched that `.Where` should accept the same parameters as `Func` since the function I'm developing is a `bool` return regardless. To me, that's what Where clauses are in SQL or any

[2018-03-22 03:20] ajcvickers commented on #11370
Putting this on the backlog to look at post 2.1.

@punssoma Can you try using automatically generated parameters instead of using explicit SqlParameter objects? For example:
[code]

[2018-03-22 03:35] smitpatel commented on #11335
That row is the input to where clause. When you write `t.Property = 5` in SQL you are getting access to `t` which comes from the row being processed when evaluating the predicate. Same goes for Linq. The LambdaExpression inside Where takes the type being enumerated and returns bool value. When you write `Where(x => x.Property == 5) in linq, there x is of particular type and only one type.

It is n

[2018-03-22 03:48] punssoma commented on #11370
@ajcvickers The initial implementation was as you mentioned above.
But as part of secure coding practice, we are suppose to use parameterized queries while executing sql queries directly.

Meanwhile as a workaround i have change the code as below:

[code]

[2018-03-22 04:53] TanvirArjel commented on #11314
Dear @ajcvickers,  Thanks a lot! for taking speedy action..That's why we love and rely on Microsoft  :)

[2018-03-22 05:03] satvik1986 commented on #9515
how to generate domain from existing database using scaffold in entityframework core?.

[2018-03-22 05:27] satvik1986 commented on #9515
Scaffold-DbContext "server=servername;database=testDb;user=test;password=newpass;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer  -Context "testContext"

**# Getting error**

System.Data.SqlClient.SqlException (0x80131904): Failed to generate SSPI context.
   at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionO

[2018-03-22 05:51] rkdrnfds opened #11381 "Owned type with sharing primary key default constraint"
[code]
Inventory and House does not have UserId property explicitly.
In this situation, if I do not specify
[code]
For every owned type User owns, it generates error like this,

[code]

I thought it would be enough to specify constraints for the owner type only. (User)
Why should I specify default constraint for every owned type User have.
It would be better if owned type inherits primary key cons

[2018-03-22 08:26] roji commented on #11371
Note https://github.com/dotnet/roslyn-analyzers/issues/628 which seems similar.

[2018-03-22 09:45] bdariusb commented on #9007
same issue here, either using Concat() or Union()

[2018-03-22 09:49] jruizx commented on #10093
Hi guys, I had the same issue. I have fixed with a couple of extension methods based on @ajcvickers recommendations.

`public static void ApplyCascadeDeletes<T>(this IEnumerable<EntityEntry<T>> entities) where T : class
        {
            foreach (var entry in entities.Where(
                e => (e.State == EntityState.Modified
                      || e.State == EntityState.Added)

[2018-03-22 11:56] ErikEJ commented on #9515
@satvik1986 Please do not add to existing issues, also, this is a SQL logon issue, not an EF Core issue

[2018-03-22 12:03] glararan commented on #11346
Oh awesome.. so solution is to write SQL into string variable which should be passed into FromSql.. nice, thanks

[2018-03-22 12:39] egmfrs commented on #11349
Say you have an Orders table, you record Order ID and Order Date. You build up a few entries in this table. You now decide, it would be good to have an Order Status (Processing / Shipped / Delivered etc.) - So you want to add an OrderStatuses table, and a Foreign Key OrderStatusId to your Orders table. Add migrations for these (adding the table, and then adding the foreign key to that table, confi

[2018-03-22 13:30] hikalkan opened #11382 "Problem with sharing same table by two independent entities"
Hi,

I don't know if this feature is available by EF Core. However, I need to map two independent entity to same db table. Entity A will use some columns and Entity B will use some columns. They will share same Id. Also, they both may use some colums, or Entity A may be a subset of Entity B.

To demonstrate it, I prepared an example project here: https://github.com/hikalkan/samples/tree/master/EfC

[2018-03-22 13:32] gojanpaolo commented on #11333
@ajcvickers I see. Thank you for taking the time to look into this. :)
@smitpatel Awesome! Thanks for the link.

[2018-03-22 13:43] hikalkan commented on #11382
It works if I change `DetailedUser` as like below:

[code]

And change the model building code like:

[code]

However I don't want to make this since it makes `DetailedUser` entity unnecessarily more complicated.

[2018-03-22 13:53] Wain123 opened #11383 "Inherited private DbSet property isn't found"
My context has private `DbSet` properties that EF recognizes and uses. But if my context derives from some base type that has private `DbSet` properties, then the `DbSet` on the base type aren't found by EF - they remain null instead of getting initialized.

My `DbSet` need to be private because I need to wrap them with some `MyDbSet` class that has additional logic. However, I can't make `MyDbSet

[2018-03-22 13:59] smitpatel commented on #11382
Duplicate of #9005

[2018-03-22 14:04] hikalkan commented on #11382
I'm not sure if it's duplicate of #9005.

[2018-03-22 16:17] bricelam commented on #9459
@MalithRukshan A better alternative may be:
[code]
This gets you out of the business of specifying T-SQL types.

[2018-03-22 16:40] bricelam commented on #11349
If you make the foreign key column nullable, the existing rows will have null.

If you want the existing rows to point to a default status, you'll need to insert that status into `OrderStatuses` before adding the `OrderStatusId` column to `Orders`.

[2018-03-22 17:10] antonioortizpola commented on #3129
Thanks for the response!, however, I do not see a point in open a new thread, since the code already posted at the beginning is exactly what i would like to do, the closest to this is to add a protected empty constructor and the one with your parameters, but still feel more like a workaround than a solution.
This takes more importance with the addition of [Records](https://stackify.com/csharp-8-fe

[2018-03-22 17:23] livarcocc commented on #11320
@dsplaisted can you take a look? This seems to be when trying to generate the project tool deps.json file. Though, this file ships with the SDK itself, it is not generated there at all.

I wonder if the issue here is that there was no read access to that file for non-privileged users. The CLI runs fine in windows when installed on the Program Files folder, where user don't have write permissions.

[2018-03-22 17:28] bricelam commented on #10921
The fix is only effective going forward. Versions older than 2.1.0 will continue replacing newer versions.

[2018-03-22 18:43] MarcoLoetscher commented on #11383
Maybe [protected](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/protected) works for you.

[2018-03-22 18:46] AndriySvyryd commented on #11358
Currently a new mapping is created for every property, defeating the purpose of the cache and allocating a lot of instances.

[2018-03-22 19:00] smitpatel commented on #11381
Duplicate of #9771

More specific duplicate as this problem #10308

It is fixed in nightly builds.

[2018-03-22 19:13] smitpatel commented on #11370
@punssoma - The query posted by @ajcvickers is still parametrized. When you use `FromSql` method with placeholders and pass in values for those placeholders as args to FromSql then we generate parameters for it in SQL. The difference is instead of you passing SqlParameters which causes above error, we will generate parameters for you and it won't hit the issue. (certainly its just a work-around fo

[2018-03-22 19:16] smitpatel commented on #11348
Duplicate of #1002

[2018-03-22 19:24] smitpatel commented on #11379
Duplicate of #10434

The error here is when we visit the Constant the type is not primitive type which TypeMapper understands. SqlTranslator does not utilize inference so we fail to translate the Constant to server and falls into client eval. If we passed in constant as is (that's what Constant expression translate too) then in this case, it could possible generate SQL literal using the type mappi

[2018-03-22 19:34] bricelam commented on #10554
@benday You may find this work rather disruptive. The `Microsoft.EntityFrameworkCore.Tools.DotNet` package is gone. You'll now find the flavors of `ef.exe` under `C:\Program Files\dotnet\sdk\2.1.300\DotnetTools\dotnet-ef\2.1.0\tools\netcoreapp2.0\any\tools`. They also continue to exist in the `Microsoft.EntityFrameworkCore.Tools` package.

[2018-03-22 19:35] maumar commented on #10256
Problem here is that we don't know how to fully translate the predicate. The new Include pipeline creates a clone of the outer query (that we can't translate) and joins with categories to fetch only the categories needed for the product that is the final result. However, since we cant translate the original query, we end up issuing multiple queries to the database. In the old stack we would just f

[2018-03-22 19:42] maumar commented on #10256
The workaround for this particular case is to rewrite the query into cointains:

[code]

this is much easier to translate for us, and will produce only two queries:

[code]

[code]

[2018-03-22 19:46] maumar commented on #10256
More general workaround is to break this into two queries, first fetching ids for all entities we want to include, and another to include based on those ids.

[2018-03-22 19:58] anpete commented on #10256
@maumar We could rewrite this case to Contains at QM level.

[2018-03-22 20:13] maumar opened #11389 "Query: rewrite predicate with constanList.Any(e =>e == someProperty) to Contains"
We can fully translate contains, but Any will cause client eval currently

[2018-03-22 20:14] maumar commented on #10256
also filed https://github.com/aspnet/EntityFrameworkCore/issues/11389 to automatically convert from Any to Contains

[2018-03-22 20:24] smitpatel commented on #8019
I have wonderful update for this.
Following works in current nightly builds
[code]
The issue here was when `Subquery` was Enumerable, user could not pass `Expression<Func<>>` to `Any` operator. Using `Subquery.AsQueryable()` allows us to pass such parameter. Since we are getting Expression we translate it correctly.
Support for AsQueryable operator added in #6132
Any subquery which disallows passi

[2018-03-22 20:24] #8019 closed

[2018-03-22 20:28] smitpatel commented on #11389
Restrictions:
- Has to be equality or inequality (includes operators & Equals method call both)
- The constant list has to be of type which type mapper can generate literal for.
- The lambda parameter needs to appear without any modification. (perhaps no convert etc)

[2018-03-22 20:31] AndriySvyryd opened #11390 "Don't look for ColumnAttribute in RelationalTypeMappingInfo"
Instead use the configured type

[2018-03-22 20:31] Luis-Palacios commented on #8019
That is great news @smitpatel I hope it will be released soon!

[2018-03-22 20:37] nvborisenko commented on #11223
It seems this is fixed in 2.1.0-preview

[2018-03-22 21:02] smitpatel commented on #11390
Overlap with #11124

[2018-03-22 21:27] smitpatel commented on #11285
Something like this
[code]
https://github.com/aspnet/EntityFrameworkCore/blob/957524efe15cfff76f8face2b9a3d1ef840b50d1/src/EFCore.Relational/Query/Expressions/SelectExpression.cs#L773-L781

[2018-03-22 21:50] smitpatel commented on #2341
For preview2 version, there are more patterns now being translated to server (including group by constant). I have updated first post to capture the details.

[2018-03-22 22:08] RussKeldorph opened #11391 "FatalExecutionEngineError with Microsoft.EntityFrameworkCore 2.0.2 referenced in .NET 4.6.1"
_From @dalibor983 on March 22, 2018 9:42_

When I run IISExpress everything working great  until I rebuild project and IISExpress tries to reload new dlls in memory. Then I get this exception when DbContext is initialized that crashes IISExpress:
[code]
After starting IISExpress again everything working again.

I must restart IISExpress on every new build :(

_Copied from original issue: dotnet/co

[2018-03-22 22:27] ChristopherLClark commented on #11335
Thank you for taking the time to explain the issue, and provide me with enough information to research ExpressionTrees. For anyone who stumbles across this in the future, this is what I did.

The Expression:
[code]
And its usage:
[code]

This will generate the correct sql on the server side.

[2018-03-22 23:43] smitpatel commented on #11266
sqlserver

Annotations Framework
	- InternalEntityTypeBuilder
	- ConfigurationSource
	- InternalIndexBuilder
	- InternalModelBuilder
	- InternalPropertyBuilder
	- InternalKeyBuilder
	- InternalRelationalBuilder
	- RelationalForeignKeyBuilderAnnotations
	- RelationalAnnotationsBuilder
	- Property
	- DbFunction
	- Property
	- EntityType
	- CoreAnnotationNames
	- ConventionalAnnotation
	- GetAllBaseT

[2018-03-22 23:51] smitpatel commented on #11266
Sqlite

Annotations Framework
	- InternalEntityTypeBuilder
	- ConfigurationSource
	- InternalIndexBuilder
	- InternalModelBuilder
	- InternalPropertyBuilder
	- InternalKeyBuilder
	- InternalRelationalBuilder
	- RelationalForeignKeyBuilderAnnotations
	- RelationalModelBuilderAnnotations
	- RelationalPropertyBuilderAnnotations
	- RelationalEntityTypeBuilderAnnotations
	- RelationalKeyBuilderAnnotati

[2018-03-23 00:13] #11373 closed

[2018-03-23 01:09] oneal1801 commented on #10457
Thanks @MikeYeager  for the question and Thanks @bricelam for the answer it was very helpfull

[2018-03-23 05:51] dmuino1986 commented on #10485
i got the same issue please can anyone help me?

[2018-03-23 08:30] dushkostanoeski opened #11393 "Migrating to 2.1 adds extra indexes and foreign keys"
I have the following data structure:
[code]

The initial migration for the code was generated using 2.0 and the `Bar` table had only one index and one foreign key. After making changes to the model, the first migration with 2.1 added another foreign key and index to the same property.

Is this normal, because I couldn't find anything about this change.

[2018-03-23 09:21] punssoma commented on #11370
@smitpatel ok. Thanks for the info.

[2018-03-23 09:25] dalibor983 commented on #11391
I think that maybe Roslyn compiler causes the problems with projects that combines .NET framework and netstandard. I notice that when I kill "VBCSCompiler.exe" process my IISExpress does not crash after project rebuild.

I em not sure because I don't know what this "VBCSCompiler.exe" process does in background. Does it build project silently in the background (independently of visual studio) or wh

[2018-03-23 10:28] SSkovboiSS commented on #11374
This was fixed in EF Core, see #3726

[2018-03-23 12:06] ErikEJ opened #11394 "Test fail with 2.1-preview1-final spec tests"
[code]

### Steps to reproduce
I inherit from IncludeAsyncTestBase - oddly, this is not run by the SQL Server provider tests
Also happens with tests from IncludeTestBase

### Further technical details
EF Core version: 2.1-preview1-final
Database Provider: SQLCE

[2018-03-23 12:15] gnaeus commented on #11178
I have the same exception with more simple example:
[code]
But if we select `List<T>` instead of `IEnumerable<T>`, everything works Ok:
[code]

Also, if we rewrite the original query with `.ToList()`, it should work too:
[code]

[2018-03-23 13:15] deniscesar opened #11395 "Include infinite"
Include this looping infinite.

Repository

[code]

Return
[code]

How to limit includes a one level?

[2018-03-23 14:19] smitpatel commented on #11395
Is it a self-referencing navigation? Share your model classes and OnModelCreating code please.

[2018-03-23 14:36] deniscesar commented on #11395
Yes

Model Venda
[code]

Model Pdv
[code]

[code]
[code]

[code]

[2018-03-23 14:51] karimo3 commented on #11264
[MicrosoftTutorial.zip](https://github.com/aspnet/EntityFrameworkCore/files/1841968/MicrosoftTutorial.zip)

[2018-03-23 15:04] smitpatel commented on #11395
Its not infinite include. It is navigation fixup. If you are including `Pdv` and all `Venda` for that entity is in result set then EF Core will fix up the navigation and populate the collection navigation.

If you are having only error with json serialization then look at this issue https://github.com/aspnet/EntityFrameworkCore/issues/7154

[2018-03-23 15:04] dushkostanoeski opened #11396 "When including derived types, nullable navigation isn't included"
Include for derived types when the derived type is nullable doesn't seem to work. I have the following data structure:

[code]

In the first `Bar` class, `Foobar` is required, but in the second it isn't. When trying to eagerly load the data using the `Include for derived type` method, it doesn't load any of the `Bar2` instances.

[code]

Lazy loading works fine, but using it on the `one` side of `

[2018-03-23 15:08] deniscesar commented on #11395
How to restrict the loading of Venda within Pdv?

I already configured Json

[code]

[2018-03-23 15:27] ralmsdeveloper commented on #11395
@smitpatel Look at this: https://github.com/aspnet/Home/issues/2285

[2018-03-23 16:35] smitpatel commented on #11395
@deniscesar - If you are using entities which are mapped into EF Model, they will be fixed up with each other in final result always. It is to assure consistency of the object graph. It generally hits issue with serializer and above settings avoids infinite output. If you have custom code, to traverse the graph then the code also needs to understand that there will be back references.

Or you can

[2018-03-23 16:43] tibitoth opened #11397 "Add-Migration error if assembly is named "EF""
If I name my (Console) project/assembly "EF", Add-Migration command is not working and results an error with the following message:
`No DbContext was found in assembly 'ef'. Ensure that you're using the correct assembly and that the type is neither abstract nor generic.`

Of course my context class is neither abstract nor generic.

### Steps to reproduce
1. Create a .NET Core 2.0 project with name

[2018-03-23 16:50] bricelam commented on #11264
I think you need to update this line in your csproj to version 2.0.3. But this shouldn't have any impact on the [Add-Migration command](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/powershell).

[code]

[2018-03-23 16:52] bricelam commented on #11264
Add-Migration is working for me on your project as you sent it.

[2018-03-23 16:52] bricelam commented on #10485
@dmuino1986 Update EF Core pacakges to version 2.0.2.

[2018-03-23 17:03] deniscesar commented on #11395
I'll try to use viewmodel
Thank you

[2018-03-23 17:27] mdmoura opened #11398 "The entity type 'Child' requires a primary key to be defined."
I have the following entities:
[code]
I want Parent and Child to have a One to One relationship.

And I want ParentId to be both FK and PK of entity Child ...

So I tried the following configuration:
[code]
But I get the following error:

   The entity type 'Child' requires a primary key to be defined.

[code]

### Further technical details
EF Core version: 2.0.2
Database Provider: Microsoft.Entit

[2018-03-23 17:28] maumar commented on #11178
@gnaeus @smitpatel that new case is a duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/10813

[2018-03-23 17:44] dushkostanoeski commented on #11396
I got it to work by renaming the nullable property.

The examples in the blog that announces 2.1 got me thinking in that direction. If you can include a property using a string, then having two properties with the same name wouldn't work. I'm leaving this open because I'm guessing it's a bug.

[2018-03-23 17:52] sebastienros opened #11399 "Benchmarks scenarios broken"
[code]

[2018-03-23 17:58] smitpatel commented on #11266
SqlServerCe

Annotations Framework
	- InternalEntityTypeBuilder
	- ConfigurationSource
	- InternalIndexBuilder
	- InternalModelBuilder
	- InternalPropertyBuilder
	- InternalKeyBuilder
	- InternalRelationalBuilder
	- RelationalForeignKeyBuilderAnnotations
	- RelationalModelBuilderAnnotations
	- RelationalPropertyBuilderAnnotations
	- RelationalEntityTypeBuilderAnnotations
	- RelationalKeyBuilderAnn

[2018-03-23 18:05] maumar commented on #11178
@smitpatel repros in current dev

[2018-03-23 18:09] smitpatel commented on #11396
It would be interesting if we combine both the relationships in derived type to one relationship in basetype if names are same.

From query, we need to verify that we are using correct navigation and creating multiple include paths for nullable/non-nullable relationships. (it causes inner/outer join difference)

[2018-03-23 18:10] sam-wheat opened #11400 "How to enumerate grouped query asynchronously?"
[Related question](https://github.com/aspnet/EntityFrameworkCore/issues/11353)

My table is too large to load into memory in one gulp.  I would like to enumerate the query asynchronously.  How do I do that?

	public virtual async Task GetSeriesTags(Func<List<DTOSeriesTag>, Task> func, int takeSize)
	{
		var query = db.DTOSeriesTags.GroupBy(x => new { x.CreatedDate, x.GroupID, x.Name, x.Notes, x.Po

[2018-03-23 18:20] bricelam commented on #11399
Need to add this back: https://github.com/aspnet/EntityFrameworkCore/pull/11325/files#r176824368

[2018-03-23 18:26] divega commented on #11400
@sam-wheat can you try with `ForEachAsync`? If the query is translated to the server and we can stream, then that should help. Otherwise, if we need to bring all the results to the client, then you may run out of memory.

If that happens, consider writing the GROUP BY yourself in SQL, pass it to `FromSql` taking advantage of the new [query types feature](https://docs.microsoft.com/en-us/ef/core/mo

[2018-03-23 18:29] divega commented on #11399
@ajcvickers this apparently a breaking change for 2.0 providers that we need to revert.

@sebastienros if you need this fixed before next week we can probably find someone else to fix it.

[2018-03-23 18:29] sebastienros commented on #11399
FYI, if I use 2.1.0-preview from Npgsql provider, I get this:

[code]

[2018-03-23 18:31] sam-wheat commented on #11400
Excellent, thanks very much.

[2018-03-23 18:32] divega commented on #11398
__ EF team triage:__ @AndriySvyryd at first glance it seems that in this case we could unambiguously infer the key, but we believe there is no precedent for doing this. We would like to hear your opinion.

[2018-03-23 18:33] dushkostanoeski commented on #11396
I didn't go trough the source code since it is way over my head, but just by looking at this line of code:
[code]
I don't know how EF would know which `Foobar` to include.

[2018-03-23 18:34] dushkostanoeski commented on #11396
My bad, hit the wrong button...

[2018-03-23 18:37] divega commented on #11397
__EF Triage:__ this happens because when you execute dotnet ef or add migration, we use an assembly called EF (ef.dll or ef.exe). We won't load the project assembly. We don't believe that this is enough priority to fix.

[2018-03-23 18:38] mdmoura commented on #11398
I tried adding the following but the error persists:

    builder.Entity<Child>().HasKey(y => y.ParentId);

[2018-03-23 18:42] divega commented on #11393
@smitpatel can you please find the duplicate for this?

[2018-03-23 18:46] divega commented on #11383
__EF Triage:__ at first glance it seems that we could enable this. Assigning to @ajcvickers to get this opinion.

[2018-03-23 18:55] divega commented on #11374
@xt0rted feel free to suggest other analyzers that you think would be useful.

[2018-03-23 18:56] mdmoura commented on #11398
After all it seems

    builder.Entity<Child>().HasKey(y => y.ParentId);

Is enough to solve the problem and I get the 2 constraints on the database.

[2018-03-23 19:00] divega commented on #11341
@maumar please add the reference to this scenario in the Include unification issue. Then you can close as duplicate.

[2018-03-23 19:01] divega commented on #11280
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2018-03-23 19:04] divega commented on #11178
@maumar please create the new issue and put this back in the backlog.

[2018-03-23 19:08] divega commented on #10256
@maumar do you want to add a reference to this scenario in the unification issue?

[2018-03-23 19:14] bipindalsaniya commented on #11027
Hello Chris,

I have same issues. couldn't resolved it. i have tried to change AndroidLinkMode also.

[2018-03-23 19:17] divega commented on #11391
This issue was moved to dotnet/roslyn#25687

[2018-03-23 19:32] bricelam commented on #11397
Duplicate of #8035

[2018-03-23 19:39] Psypher9 opened #11402 "`Remove-Migration` command not removing migrations from TFS Pending Changes"
### Current Behvaior
After applying a Migration using the `Add-Migration <MigrationName>` command. A new migration is added; however, if I decide to revert those changes and use `Remove-Migration`, the latest migration is removed from the project, but is still registered as a pending `[add]` change in TFS.

I was expecting that if the migration was removed through the PM Console that the changes w

[2018-03-23 19:41] maumar opened #11403 "Query: compilation error for queries streaming correlated collection with FirstOrDefault"
reported by @gnaeus

repro:

[code]

QM:

[code]

Exception:

[code]

[2018-03-23 19:43] smitpatel commented on #11393
Duplicate of #11094
Based on discussion on that, it is doubtful that we would uniqui-fy in this case.
@AndriySvyryd - thoughts?

[2018-03-23 19:45] smitpatel commented on #11396
@dushkostanoeski - There is no ThenInclude overload which takes string arg.

[2018-03-23 19:46] maumar commented on #11178
filed https://github.com/aspnet/EntityFrameworkCore/issues/11403

[2018-03-23 19:47] smitpatel commented on #11402
EF Core PMC commands don't interact with TFS. They don't add files to Pending Changes so they don't remove from it when removing migration. Something else is doing it.

[2018-03-23 19:49] totht91 commented on #11397
I understand but please provide some more informative error message then because I have wasted 10 or more minutes in a classroom as an instructor.

[2018-03-23 19:50] smitpatel commented on #11394
You need to use Include specific fixture which converts Ignored includes to logs.
https://github.com/aspnet/EntityFrameworkCore/blob/28479da1f8986a88fc8a067ceab1b9ea45afb637/test/EFCore.SqlServer.FunctionalTests/Query/IncludeSqlServerFixture.cs#L9-L13

[2018-03-23 19:58] #11196 closed

[2018-03-23 19:58] #11331 closed

[2018-03-23 19:58] smitpatel opened #11404 "Conventions: Internal code usage in provider"
At presence when provider has to define their own convention they have to use
- Define convention using interface from internal, or
- Define convention by overriding one of the existing EF Convention (ValueGeneration/DbFunction/MaxIdentifierLength)
- Implementing convention requires access to InternalMetadataBuilder types
- To register new convention they have to override ConventionSetBuilder & De

[2018-03-23 20:02] smitpatel opened #11405 "Metadata: Internal code usage in provider"
To run conventions/define annotations/validate model, provider needs access to metadata items (including builder), configuration source, various extension methods to get metadata info.

Further annotations framework uses internal metadata builders.
It uses RelationalAnnotationsBuilder as base & if there is no provider specific annotations builder then provider needs to call into RelationalMetadata

[2018-03-23 20:05] smitpatel opened #11406 "Query: Internal code usage in providers"
RelationalQueryCompilationContext has properties which providers may need to override to specify lateral join support or max identifier size.
ILinqOperatorProvider & both implementations of it + QCCDependencies are internal.

Apart from that, providers uses MemberAccessBindingExpressionVisitor.GetPropertyPath to check binding.
+ few methods from (Relational)ExpressionExtensions.

[2018-03-23 20:06] ErikEJ commented on #11394
I already do that for the non asynchronous tests ! Closed too quickly...

[2018-03-23 20:06] AndriySvyryd commented on #11398
Currently we only have a simple heuristic for finding keys: we look for `Id` or `ChildId`. We specifically avoid configuring PK the same as FK unless it's very clear.

[2018-03-23 20:06] maumar commented on #10736
Also consider the scenario described here: https://github.com/aspnet/EntityFrameworkCore/issues/11341

[2018-03-23 20:13] smitpatel commented on #11394
Using branch 2-1-preview1-prep
In EntityFramewrok.SqlServerCompact.FunctionalTests project
`AsyncIncludeSqlCeTest` passed successfully.
62 passed, 0 failed, 0 skipped, took 8.29 seconds (xUnit.net 2.3.1 build 3858).

Updating `IncludeSqlCeTest` to use `IncludeSqlCeFixture`, it fails in some tests but no error is due to above exception.

Which branch/project/test giving above issue?

[2018-03-23 20:15] smitpatel opened #11407 "Resources/Utility code: Internal code usage in providers"
Providers are using some resources from AbstractionStrings/CoreStrings/RelationalStrings in their exception messages.

Further creating pretty formatted exception message requires to use `DisplayName`/`ShortDisplayName` methods.
In our provider we share some utility files as common code which are using Internal types and through them our providers have access to the same code which other providers

[2018-03-23 20:17] ErikEJ commented on #11394
Odd, I will have another look. You are in the correct place.

[2018-03-23 20:17] smitpatel opened #11408 "Migrations/Scaffolding: Internal code usage in providers"
To generate custom string Migrations use IndentedStringBuilder
In scaffolding providers are using TableSelectionSet (deprecated) & ScaffoldingAnnotationNames.

[2018-03-23 20:19] maumar commented on #11341
Correlated collection + include unification could help this scenario - problem currently is that we generate query plan for include before we know that client evaluation is needed. Unification will push that to VisitQueryModel phase, at which point we already know that predicate needs client evaluation and can come up with a different execution plan.

[2018-03-23 20:25] maumar commented on #11377
fixed in 44b571ff69f117b8e37352c159c88ea0fcb08197

[2018-03-23 20:25] #11377 closed

[2018-03-23 20:27] #10504 closed

[2018-03-23 20:28] AndriySvyryd commented on #11393
@smitpatel Correct. Using the latest nightly build of 2.1 should produce the same model as 2.0

[2018-03-23 20:34] bricelam commented on #11402
What kind of project are you using? We call `EnvDTE.ProjectItem.Remove()` which should trigger a remove in source control.

[2018-03-23 20:35] smitpatel opened #11409 "Update/Command: Internal code usage in providers"
If provider needs to customize the command generated then overriding IRelationalCommandBuilder to generate a difference RelationalCommand requires access to IndentedStringBuilder (part of interface contract). Further Provider also has to implement IRelationalParameterBuilder. Relational Implementation of it is internal. RelationalCommand is also internal so provider cannot reuse code.

Further pro

[2018-03-23 20:35] smitpatel commented on #11266
Filed #11404, #11405, #11406, #11407, #11408, #11409

[2018-03-23 21:39] #11266 closed

[2018-03-23 21:39] #11247 closed

[2018-03-23 21:51] maumar opened #11410 "model builder lambda APIs don't work with public fields on entities"
repro:

[code]

throws:

[code]

[2018-03-23 21:51] rafaelmaroxa commented on #6245
@John0King, I just ran into the same issue. How did you overcome this issue with the `GroupBy`? Thanks in advance.

[2018-03-23 21:52] smitpatel commented on #11410
We match with `PropertyInfo` explicitly which in this case `FieldInfo` so no match causing to fail like that.
https://github.com/aspnet/EntityFrameworkCore/blob/80506bcc0cb89c8c66028b5be39a237c1d8149e5/src/EFCore/Extensions/Internal/ExpressionExtensions.cs#L173-L188

[2018-03-23 21:54] smitpatel commented on #6245
@rafaelmaroxa - This is duplicate of issue #2341 GroupBy translation has been implemented in 2.1.0-preview1-final release. You can read more what is supported in first post in #2341

[2018-03-23 22:01] smitpatel commented on #11403
This is regression introduced in 2.0.0 release.

[2018-03-23 22:01] #10921 closed

[2018-03-23 22:25] bleepzter commented on #6245
Why did you guys release am EF without this feature in the first place?!?
It was a core feature of EF.

You can't release a half finished framework code and call it a "Release"
then wait 2 major release cycle to actually fix it.

I had to go through hundreds of thousands of lines of code to make sure
group by wasn't used because noone in our organization was aware EF Core 1x
didn't support it.

Un

[2018-03-23 22:52] smitpatel commented on #11396
@dushkostanoeski - Please share code for your model configuration. The model you posted above is not valid with just conventions. EF does not add fields by conventions and they need to be explicitly mapped.
Further you cannot use single collection navigation `Bars` as inverse navigation of `Bar1` & `Bar2` at the same time. You could have the inverse navigation defined on `Bar` but not on derived t

[2018-03-23 23:13] smitpatel commented on #11215
- Promoting a QuerySource for materialization also update the inner query source but that happens only if the inner is subquery expression with QSRE in selector. If Selector is anonymous type of multiple QSRE then we don't update them.
- Since we don't have QueryModelVisitor backing it, we always promote query sources in selector (regardless of QSRE or NewExpression). We may need to demote it base

[2018-03-23 23:45] anpete opened #11413 "Query Types don't work with compiled queries"
Need to add overloads of CompileQuery that accept DbQuery.

[2018-03-23 23:57] cwrea commented on #11027
@bipindalsaniya I suggest you look at the sample I linked to previously. Compare your project settings to those in the sample. When I got the sample working with EF Core 2.0.1, I also [posted about it](https://forums.xamarin.com/discussion/comment/321267/#Comment_321267) in the Xamarin Forums.

[2018-03-24 00:24] divega commented on #11027
@cwrea based on your understanding, is there anything pending in this issue besides what is covered in #10963 (e.g. the fact that we don't have linker hints and that the developer may need to add their own)?

[2018-03-24 00:30] divega commented on #11027
Also @cwrea, I knew this class of issues affected Xamarin.iOS, but I wasn't aware that they affected Xamarin.Android as well. Can you confirm?

[2018-03-24 01:08] divega commented on #11027
@cwrea you can ignore my previous request for confirmation that this also affects Android development. I have read enough of your posts to understand this part now. Thank you for sharing all this information with everyone!

[2018-03-24 01:11] divega commented on #11027
Closing this issue as external. Working with EF Core on Xamarin.Android currently requires several workaround covered by the links at https://github.com/aspnet/EntityFrameworkCore/issues/11027#issuecomment-374425403. The part of this issue that is actionable for EF Core is already covered by #10963.

[2018-03-24 01:36] AndriySvyryd commented on #11342
@gurutcr Unfortunately this is not supported in EF Core. A value cannot be inserted and read at the same time. Usually you wouldn't need to provide values for generated columns, but since ID is the PK a non-default value has to be set.

There are some alternatives you could try:
1. Make ID_AUTO the PK
2. Generate the values on the server from a different object, such as a sequence
3. Generete the

[2018-03-24 01:36] divega commented on #10963
Clearing up milestone so that we can discuss this in triage.

Interesting link to a sample app that is applying workarounds for some types:

https://github.com/cwrea/XamarinTodo/blob/NETStd20_EFCore201/

[2018-03-24 02:26] John0King opened #11414 "How to use case-insensitive query with Sqlite provider ?"
I'm not sure if I remember wrongly,
I see the  `COLLATE NOCASE` append in the sql query very long time ago (may be not `COLLATE NOCASE`,but something else , all I remember is my query is case insensitive),

but recently I use Sqlite again , and it is  case sensitive , and I can not compare an "Email" filed with `x.Email == myvariable`

[2018-03-24 03:38] eltiare commented on #1590
Would love to have first class support for this in the near future. Bumping for my vote. :)

[2018-03-24 04:20] ajcvickers commented on #11383
Honestly, I didn't remember that we enabled private DbSet properties at all! Yes, we could also look on the base class for private properties. However, we have generally avoided doing anything much to enhance DbSet property discovery because it is so easy to do your own thing in your context by calling `context.Set` to create the DbSet and use in any way it can be desired.

Marking for re-triage.

[2018-03-24 04:28] divega commented on #1590
We have a couple of new SQL Server FullText functions in 2.1. Clearing up milestone to decide what to do with this issue. We could resolve as fixed but split for remaining functionality.

[2018-03-24 06:46] dushkostanoeski commented on #11396
@smitpatel Here's the model:

[code]
I left only the navigation properties, removed all the simple types. And here's the configuration in `OnModelCreating`:
[code]

[2018-03-24 06:47] dushkostanoeski commented on #11396
@smitpatel about the string overload, I didn't try that call, but still, if it was

[code]

which `Foobar` would it include?

[2018-03-24 08:19] dushkostanoeski commented on #11396
Also I have another class that has a collection of `Nalog` and the following call doesn't load any of the `StavkaZaFinansovo` items:

[code]

[2018-03-24 11:03] ststeiger opened #11415 "Document connection obtained from DatabaseFacade.GetDbConnection() should normally not be disposed"
I have a question:
I wrote [an extension method to execute a stored procedure](https://github.com/ststeiger/BlueMine/blob/master/BlueMine.Data/EntityFramwork/StoredProcedureExtensions.cs).

Now, I use DatabaseFacade.GetDbConnection() to get a db connection.
So far so good, everything is working.
Had a little trouble with getting the factory from the connection, [but solved that](https://github.com

[2018-03-24 14:08] Liero commented on #11177
It is possible to use EF2.1preview with current stable .net core 2.0? Obviously Package Microsoft.AspNetCore.All 2.1.0-preview1-final is not compatible with netcoreapp2.0

[2018-03-24 14:28] cwrea commented on #10963
@divega Thanks. A few FWIW's:

1. The mention is appreciated. For completeness, the sample is adapted from [this Xamarin sample](https://github.com/xamarin/xamarin-forms-samples/tree/master/Todo) described [in the docs](https://docs.microsoft.com/en-ca/xamarin/xamarin-forms/app-fundamentals/databases). I merely ported it to use EF Core instead of [sqlite-net](https://github.com/praeclarum/sqlite-n

[2018-03-24 14:31] sam-wheat opened #11416 "How to create a datetime column for both sql server and mysql with no precision after seconds"
My entity:

    mb.Entity<DTOCategoryTag>().Property(x => x.CreatedDate).HasColumnType("datetime2(0)");

Desired datetime is no precision after seconds i.e. MM/dd/yyyy hh:mm:ss

MySQL migration (sytax error on table create):

    CreatedDate = table.Column<DateTime>(type: "datetime2(0)", nullable: false),

SQL Server migration (works):

    CreatedDate = table.Column<DateTime>(type: "datetime2(0)"

[2018-03-24 15:04] ErikEJ commented on #11394
@smitpatel Thanks for you help!

[2018-03-24 15:20] ajcvickers commented on #3129
@antonioortizpola In 2.1 preview1, the code for the entity type above should work fine. However, be aware that if the key is real read-only (as it is above, as opposed to exposing a read-only public API), then store-generated keys will not work since they need to set the key field after reading it from the database.

[2018-03-24 15:36] tttrrryyyyeer opened #11417 "Not found the executable file corresponding to the command "dotnet-ef"."
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="2.0.2" PrivateAssets="All" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.Sqlite" Version="2.0.2" />
	<PackageReference Include="Mic

[2018-03-24 15:41] dmuino1986 commented on #10485
thanks bricelam it work

[2018-03-24 16:03] #10554 closed

[2018-03-24 16:31] patelneel1994 opened #11418 "Could not find type mapping for column 'dbo.xxxx' with data type 'geometry'. Skipping column."
I have a SQL table for which I want to generate a model in my .Net Core API application. I have 5 columns and one of the column types has Geometry points for drawing a polygon.
I use below command to generate .CS class model. Everything works find except Scaffold-DBContext skps the column that is type Geometry.
`PM> Scaffold-DbContext "Server=SQLServer;Database=Corporate;Trusted_Connection=True;"

[2018-03-24 17:43] ErikEJ commented on #11418
In version 2.0 you cannot map to Geometry type in EF Core - in 2.1 it is possible when using full .NET Framework

[2018-03-24 17:53] divega commented on #3129
@antonioortizpola it is a process thing: In our triage meeting we review open issues with no milestone assigned. We never discuss comments on closed issues.

Anyway, the other reason I asked you to create a new issue __with the code that you would like to write__ is because I was hoping it would capture your untainted expectation on what to do beyond object mapping: there is more to immutable obje

[2018-03-24 18:30] patelneel1994 commented on #11418
Thank you for you quick response.

**EF Core - in 2.1 it is possible when using full .NET Framework**
EF Core - 2.1 hasn't been release, correct? Do you know when Geometry type will be supported for .Net Core application?

Thanks

[2018-03-24 20:42] cwrea commented on #11027
@Reshiru I just tried running your sample with the linking change I suggested above. I can confirm that if you change Android linking in your Debug configuration from "Sdk and User Assemblies" (Full) to "Sdk Assemblies Only" (SdkOnly), then the exception re: missing constructor for DiagnosticsLogger goes away.

However, the app then crashes in a different way:

    Assembly Loader probing location

[2018-03-24 21:48] ranouf commented on #9503
Hi @ajcvickers

I followed your instructions:
in user.cs
[code]
in apidbcontext.cs:
[code]

But each time I add-migration I have:
[code]

I m using:
`
    <PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="2.0.2" />
`

Maybe you fix doesn t work anymore with the new version of Microsoft.EntityFrameworkCore.Tools?
Or most probably, I missed something in my code :)

How can I a

[2018-03-24 22:13] bipindalsaniya commented on #11027
@cwrea Thanks for support.  i have download your sample project and understand but your project is successfully work till now my project has same issues.
-> i have added LinkDescription.xml in android root project and build action to linkdescription.
-> also i have change Linker none, sdkonly and sdk and user assembly with debug mode and release mode both way i have tested. i am also finding and r

[2018-03-24 22:42] ranouf commented on #9503
Hi @adnan-kamili

I followed your instructions:
in ApiDbContext:

[code]

But as I said previously I have *UserId1* created in AspNetUserRoles.

Can you give more details about what you have done to fix the issue?

Thanks

[2018-03-25 00:41] smitpatel commented on #11177
@Liero - You can use EF 2.1 preview package with netcoreapp2.0. Instead of referencing Microsoft.AspNetCore.All package add package for EF core provider package you would like to use.

[2018-03-25 03:08] eltiare commented on #1590
I'm assuming that maintainers of other drivers (like the Postgres people) will have to add something similar?

[2018-03-25 03:17] IvanJosipovic commented on #1590
Postgres people are already on it, see https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/1

[2018-03-25 04:15] ajcvickers opened #11422 "Add fwlink for SqlInjectionDiagnosticAnalyzerBase message"

[2018-03-25 05:06] ajcvickers commented on #10006
Closing as duplicate of #10434

[2018-03-25 13:18] mloefler commented on #6234
Any news on that?

[2018-03-25 15:39] tttrrryyyyeer opened #11423 "Can not link two table"
How can I link two tables by foreign key. I tried Sqlite and mysql, but I get null in the data model. Specified attributes [ForeignKey("Id")] and try through the fluent api.

[2018-03-25 15:44] ralmsdeveloper commented on #11423
Put here your Fluent API configuration and its Models.

[2018-03-25 16:02] ralmsdeveloper commented on #11417
Look this: https://github.com/aspnet/EntityFrameworkCore/issues/8996#issuecomment-359484467

Can you post your ".csproj" here?

[2018-03-25 16:05] cinik89 commented on #11423
[Table("RecyclePoint")]
    public class RecyclePoint
    {
        [Key]
        public int Id { get; set; }
        public int LocationId { get; set; }
        [ForeignKey("LocationId")]
        public Location Location { get; set; }
        public IEnumerable<RecycleType> Types { get; set; }
        [JsonConverter(typeof(StringEnumConverter))]
        public Days WorkDays { get; set; }

[2018-03-25 16:10] cinik89 commented on #11423
In the dotnet framework 4.6 this code works without problems without using fluent api.

[2018-03-25 16:11] cinik89 commented on #8996
[code]

[2018-03-25 16:15] smitpatel commented on #11423
@cinik89 - What is the error from code? Can you post relevant code?

[2018-03-25 16:28] AndriySvyryd opened #11424 "Perf: make TypeMappingInfo a struct"
Use composition instead of inheritance.
Use a separate cache for every TypeMappingSource that uses a custom type.
This would reduce allocations during model building.

[2018-03-25 17:24] QuantumHive opened #11425 "Query: `Must be reducible node` thrown for some queries using 'let' keyword"
I'd like to cast a `DateTime` property from my entity model to a nullable `DateTime` and set it on my [DTO](https://en.wikipedia.org/wiki/Data_transfer_object). Whenever I do that in my select statement within my linq query I'm getting the following exception:

[code]

### Steps to reproduce
Given the following models:

[code]

[code]

where `db` is an instance of the database context.

### Furthe

[2018-03-25 20:50] sam-wheat opened #11427 "Entity with composite PK/FK cannot be tracked when one parent entity has not yet been added"
This is Problem 1 in attached .sln file.

Entity of type SourceRelease has a PK that is made of two FK's:  One FK for Source and one for Release.

Error occurs when adding SourceRelease when related Release is being added also:

	Release rel = new Release { DataProviderID = 1, NativeID = releaseNativeID, Name = Guid.NewGuid().ToString() };
	int sourceID = db.Sources.First().ID;

	for (int i = 0; i

[2018-03-25 20:53] sam-wheat opened #11428 "Deadlock when adding multiple entities"
I don't know if this is a problem with EF or I am just doing it wrong (more often the latter).

If I am doing it wrong I would like to know why the code works when I save each entity individually as opposed to saving all of them at once outside the loop.  As is shown in the attached project, setting the isolation level appears to have no effect, nor does removing the lookup that happens for each r

[2018-03-26 00:46] neville-nazerane commented on #11402
I am facing a similar issue too. I am using

- VS 15.6.4 community
- Models are in a .net standard 2.0 project
- DBContext is in a .net core library
- Startup project is .net core MVC
- Using `Pomelo.EntityFrameworkCore.MySql`

In my case was a bit different.

1.  I have first added and pushed migrations to TFS.
2.  I have then used `remove-migration` to remove multiple migrations.
3.  Added new m

[2018-03-26 01:40] rhires commented on #11417
This is extremely easy to miss:
![image](https://user-images.githubusercontent.com/12577765/37882885-f0c34c02-3074-11e8-8a31-4feaba823ffb.png)
I wish this little bit was installed by some CLI command or other. I had this exact problem, and discovered this gem by reading the docs _very carefully_. I hope this helps!

[2018-03-26 03:51] BrandonPotter opened #11430 "Scaffold-DbContext needs an environment variable connection string option"
Opening this issue for discussion / new feature request. (Didn't see anything obvious in a search of open issues, so forgive me if duplicate.)

**Problem**

Currently, each time you run Scaffold-DbContext to generate a database-first model and context (a common workflow when adding columns to a table, etc), the connection string is hardcoded into the DbContext class, along with a `#warning` remind

[2018-03-26 05:18] alexk8 commented on #11380
I suggest throwing an exception by default, which may be turned off entirely by configuration, or locally within query, like  IQueryable.WithPolicy(QueryPolicy.AllowNested) or something

[2018-03-26 07:44] ErikEJ commented on #11430
Not sure it it helps your situation, but with "EF Core Power Tools" you can choose to not generate the connection string, and then add a partial class like this, that you can configure with an OptionsBuilder
[code]

[2018-03-26 09:58] AuthorProxy commented on #5159
Previous example not work with keys and indexes, here is modified version that includes it:

[code]

[2018-03-26 10:05] AuthorProxy commented on #4445
Current code convert `tables`, `properties`, `keys` and `indexes` to snake case for `Postgre`, you can use it as a base for your custom conventions:

    using System;
    using System.Text.RegularExpressions;
    using Microsoft.EntityFrameworkCore;
    using Microsoft.EntityFrameworkCore.Metadata;
    using Npgsql;

    namespace Database.Customization
    {
        public class PostgreDbContext

[2018-03-26 11:21] QuantumHive commented on #11425
After some more digging and hours of headaches, I've noticed the exception is thrown because of the `.Any()`  call. Casting has nothing to do with it. Let's simplify the example:

[code]

It appears that whenever I put the `where subItems.Any()`, the exception gets thrown. If I remove that line, then no exception is thrown and the query performs (which would make the query invalid).
However my wor

[2018-03-26 13:30] ErikEJ commented on #11430
Of course it does! 😁

[2018-03-26 14:55] Psypher9 commented on #11402
@bricelam this is a `.csproj`. See that's what I was thinking too, it just doesn't seem to actually be affecting source control.

[2018-03-26 14:56] sam-wheat commented on #11427
This is my error I'm trying to add the parent object more than once.

[2018-03-26 15:12] SimplerSoftware commented on #11156
Just ran into this as well.  Was hoping to be able to use NodaTime in our domain models but sadly it looks like we won't be able to yet at this point :(

[2018-03-26 16:12] egmfrs commented on #11349
@bricelam thank you for this - I wasn't aware of that syntax for inserting data into the migration - I had been using `.Sql("INSERT...");` int he migration.

My question was asking if this is the only way / best practice (to insert seed data manually into the migration) as I have been led to believe that editing the migration file manually is bad practice. I know the default value can be set in an

[2018-03-26 16:48] hubert17 commented on #5913
It's March 2018.
[https://stackoverflow.com/questions/39701068/scaffold-dbcontext-creating-model-for-table-without-a-primary-key](https://stackoverflow.com/questions/39701068/scaffold-dbcontext-creating-model-for-table-without-a-primary-key?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)

[2018-03-26 17:27] antonioortizpola commented on #3129
Thanks for the responses. I understand about the process thing, sorry if I sounded rude or putting pressure, i just wanted to know, in general i'm happy with the normal approach and the performance hits are neglectable, however, after learning some functional programming and using immutability, we have been able to improve some particulars parts of our system with concurrent code, reducing our bug

[2018-03-26 17:30] #10875 closed

[2018-03-26 17:33] #11270 closed

[2018-03-26 18:05] ajcvickers commented on #11415
@ststeiger GetDbConnection provides access to the DbConnection that EF is using internally. Application code should not dispose it.

[2018-03-26 18:23] bricelam commented on #11399
@sebastienros Possibly expected--we've had a lot of churn in this area

[2018-03-26 18:42] bricelam commented on #11414
Some users have been successful by configuring the property like this: (although it's certainly not how the API was intended to be used)
[code]

[2018-03-26 18:46] bricelam commented on #11414
Currently, the only way to do it per-query (not configuring the column) is by using raw SQL:
[code]

[2018-03-26 18:50] bricelam commented on #11414
Also note, SQLite only performs case-insensitive comparisons of ASCII characters. Override the default to include all Unicode characters:
[code]

[2018-03-26 19:04] antonioortizpola commented on #11428
I do not know why is behaving that way, just some notes:
You can avoid the executeSqlCommand with

[code]

Second, you should check if you can do [snapshot](https://sqlperformance.com/2014/05/t-sql-queries/read-committed-snapshot-isolation) instead uncommited.

And third, EF does not get along very well with batch inserts and updates, i would recommend to include  [EF Plus](https://github.com/zzzp

[2018-03-26 19:05] ErikEJ commented on #11415
@ajcvickers Improve docs?

[2018-03-26 19:08] bricelam commented on #11430
We'll also support using a `name=` syntax in 2.1. The workflow:
1. Add your connection string to your ASP.NET Core configuration (environment variables, user secrets, json, etc.)
2. Reverse engineer using `Scaffold-DbContext Name=MyConnectionStringKey My.EFCore.Provider`
3. Behold the awesomeness. No `#warning` is generated since you're connection string just contains a configuration key.

[2018-03-26 19:10] bricelam commented on #11430
That was issue #2464

[2018-03-26 19:14] #11167 closed

[2018-03-26 19:18] #11358 closed

[2018-03-26 19:30] sam-wheat commented on #11428
Hi Antonio, thanks for your tip on TransactionScope.  As stated in the code, I don't think that statement has any effect on the problem being reported.

I think EF should be able to perform well in the code I have provided.

[2018-03-26 20:12] Rikarin opened #11434 "NullReferenceException during load of owned child"
Hi,
I got a null reference exception when I try to lazy load value object.

[code]

It works fine with one value object, but it's throwing exception with multiple ones.

[code]

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL
Operating system: MacOS High Sierra
IDE: VS for Mac

[2018-03-26 20:21] AndriySvyryd commented on #11354
Fixed in 18fb0ff310c0f9af6163c233ab187646863a3c6e

[2018-03-26 20:21] #11354 closed

[2018-03-26 20:27] antonioortizpola commented on #11428
I know, it should be capable, how many elements are you trying to add? remember that EF will add the entity, then request the last inserted id and keep the entity tracked until the context is closed, making the context more slow after each insert, like [here](https://stackoverflow.com/questions/41736995/entityframework-insert-speed-is-very-slow-with-large-quantity-of-data?utm_medium=organic&utm_so

[2018-03-26 20:44] sam-wheat commented on #11428
550 per task x 6 tasks.
Look at the code above you see the context is short lived.

[2018-03-26 20:53] felipejunges commented on #6812
Waiting for this, to know If I'll haverá tô chance a lot of code in a migration to Core. It would be nice to still can do Union on the SQL Server

[2018-03-26 20:55] sulphy commented on #9415
In case this helps anyone.  I had the exact same error while creating a new project with an n-Tier design.  At some point I had set my data access layer as the default startup project. I found that migrations worked again once I set the startup project to the web project where startup.cs and project.cs resides.

[2018-03-26 21:04] karimo3 commented on #11264
Hi,
So without making any changes, as you said, for some reason it is working now.

I dont understand why I received that error, but I did restart my machine a few times during the week which may have helped. Not really sure.

Thanks for your help.

[2018-03-26 21:17] antonioortizpola commented on #11428
Ok, i can say for sure, while that is a short lived context in terms of code, is still a very long lived context, since is used for 550 insertions (i guess, one context per thread), where each insertion will cause EF to:

- Save the entity
- Cache the entity and create tracking for the database and entity
- Ask for the saved id

The cache and the entity tracking will cost you a lot, and from what

[2018-03-26 21:49] divega commented on #11415
@ajcvickers I created https://github.com/aspnet/EntityFramework.Docs/issues/665, however it seems to me that the most direct way to improve the documentation of this API would be to add information to the API's XML docs. Thoughts?

[2018-03-26 22:01] bricelam opened #11437 "Tools: "Your startup project doesn't reference Design" in VS 15.7"
The implementation of NuGet/Home#4125 broke our Microsoft.EntityFrameworkCore.Tools package. Since it uses `ExcludeAssets="Runtime"`, .NET Core can't find Microsoft.EntityFrameworkCore.Design.dll at design time.

cc @jainaashish @rrelyea

[2018-03-26 22:03] bricelam commented on #11437
It's nice that users can't compile against Microsoft.EntityFrameworkCore.Design.dll, but we still need `Assembly.Load("Microsoft.EntityFrameworkCore.Design")` to work...

[2018-03-26 22:11] divega commented on #1590
@ajcvickers the PR from @Djangoum added basic of overloads of [FreeText](https://docs.microsoft.com/en-us/sql/t-sql/queries/freetext-transact-sql), which is the simplest predicate function for SQL Server's full-text-search feature. Other things that could be added:

SQL Sever Full-text-search support:
- [FreeTextTable TVF](https://docs.microsoft.com/en-us/sql/relational-databases/system-functions/

[2018-03-26 22:18] smitpatel commented on #1590
We can certainly improve the name of parameter. The parameter passed is actually the string property from CLR model. That string property would get translated to mapped column in database so there is no issue about name mismatch.

[2018-03-26 22:20] divega commented on #1590
@smitpatel ok, so if I understand correctly, the parameter name seems fine. What improvement did you have in mind?

[2018-03-26 23:38] jainaashish commented on #11437
@bricelam Can you please help me understand your scenario in more detail and the above package?

[2018-03-27 02:33] John0King commented on #11414
@bricelam thanks a lot,
but, I don't understand your last code,   what is  `SqliteConnection.CreateCollation()` ?
and may I ask , does Sqlite "case-insensitive" in EF 1.x ?

[2018-03-27 03:40] littlesmilelove opened #11438 "IQueryable CountAsync can't work properly."
When I use ef core 2.0.2 with Automapper ProjectTo, I genarate a IQueryable<T> source, however, in some data type, it work properly, but in some data type, when i apply CountAsync(), it will fails and throw the exception. In addition, the ToArrayAsync() always work properly.

[code]

[code]

### Further technical details
EF Core version: 2.0.2
Database Provider: Npgsql.EntityFrameworkCore.PostgreS

[2018-03-27 05:01] smitpatel commented on #11438
Does it work correctly if you upgrade EF Core version to 2.1.0-preview1? EF Core 2.0.2 may not work with PostgreSQL provider 2.1.0-preview1

cc: @roji

[2018-03-27 06:15] littlesmilelove commented on #11438
@smitpatel I follow your instructions upgrade  EF Core version to 2.1.0-preview1, but the same issue happened.

[2018-03-27 07:35] ststeiger commented on #11415
Why doesn't it just create a new connection ?
And if it is used internally, and may not be disposed externally, why do you expose it externally ?

Or maybe more to the point:
Why is there no public method which allows me to get a (new) raw connection (with connection string already initialized) and the System.Data.Common.DbProviderFactory ? Or am I just not seeing it ?

While it's nice to have com

[2018-03-27 09:52] Yawarmurtaza commented on #10268
AsNoTracking() fixed this exact same issue for me. Thank you @xagon

[2018-03-27 11:32] roji opened #11439 "Allow precision on type mappings with scale"
#11419 adds better facet management on relation type mappings (to address #11167).

It's great to see this, but it seems that the options are currently `Size` or `PrecisionAndScale`. A precision-only option exists for date/time types in both [MySQL](https://dev.mysql.com/doc/refman/5.7/en/fractional-seconds.html) and [PostgreSQL](https://www.postgresql.org/docs/current/static/datatype-datetime.htm

[2018-03-27 12:38] altmann opened #11440 "Navigation List Property in Owned Entity occur Exception"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
see https://stackoverflow.com/questions/48111747/relationship-on-owned-type

### Further technical details
EF Core version: 2.0.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual

[2018-03-27 14:51] faibistes commented on #3797
Does the current (2.1) approach work with non-navigational properties? I have a field in my model which is a large text, and I would like it to be loaded only if I reference it. Can it be done just making the property virtual?

What if I called Include().ToList() to avoid n+1 queries? Would that force the loading of the property? Would it even make sense to use Include() with that property?

[2018-03-27 15:55] NullVoxPopuli commented on #11013
is there a way to just disable implicit foreign key constraints entirely?

[2018-03-27 15:57] javierdpt commented on #11023
I'm having the same issue with entity framework 2.1.0-preview1

[2018-03-27 16:41] ajcvickers commented on #11439
@roji Because I was considering whether just precision and just scale were really needed, or whether the more general "size" could be used for all, and also because we don't really fully support "precision" and "scale" yet--I have been adding bits and pieces of support as needed to get other things working.

I assume from a Postgres perspective you are saying that just precision and just scale are

[2018-03-27 16:51] ajcvickers commented on #11013
@NullVoxPopuli EF doesn't care whether the database actually has FK constraints or not. So if you would prefer that they not be there, then you can remove them. However, if EF attempts to read data that doesn't align with your EF model, then the behavior is undefined, so you will need to be very careful to have consistent data when accessing it through EF.

[2018-03-27 17:03] roji commented on #11439
I'm not aware of a case where I can specify scale but not precision, so at least for PostgreSQL just precision should be enough. After all, these are "unnamed positional arguments" on the data type, and it would be impossible to know whether a single number in parentheses means precision or scale... But it may be worth looking at what Oracle/MySQL/whatever do.

[2018-03-27 17:07] bricelam commented on #11437
Sure, I don't think it's an unusual scenario. Let me see if I can walk through it.

1. You have a tool like the EF commands (`Add-Migration` PMC command or `dotnet ef`), or the xUnit.net test runner, the MVC scaffolding, etc.
2. You need an entry point into the user's project to reflect over and invoke their code to get their DbContext model, test classes, controllers, etc. This entry point is dis

[2018-03-27 17:13] bricelam commented on #11437
cc @prafullbhosale

[2018-03-27 17:15] ryanbrandenburg opened #11443 "Flaky test: CreateAsync_checks_for_existence_and_retries_if_no_proccess_until_it_passes"
[This test](http://aspnetci/viewLog.html?buildId=431952&buildTypeId=Releases_21Public_OsxUniverse) fails with a totally uninformative message.

[code]

Future instances of their failure will show up [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:EFBang,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-27 17:19] prafullbhosale commented on #11437
Scaffolding relies on the user to specify `PrivateAssets=All` to not be included in the publish output.
Since it is not part of the metapackage, the scaffolding design package needs to be explicitly added to the project.

But the above approach sounds much better than expecting the user to do something, (given that VS cannot install this package `PrivateAssets=All`)

cc @Seancpeters, @vijayrkn

[2018-03-27 17:22] bricelam commented on #11437
@onovotny/@bradwilson Should any of the packages containing xunit.execution.* assemblies have `developmentDependency="true"`?

[2018-03-27 17:24] anpete commented on #10080
Analyzer will be in 2.1

[2018-03-27 17:24] #10080 closed

[2018-03-27 17:27] Ullmie02 commented on #9666
Any updates? I can't get it to work with the data layer inside a separate class library project and the latest 2.1.0-preview1-final Version of EntityFrameworkCore.
If I try to cross-target the class library to `<TargetFrameworks>netcoreapp2.0;netstandard2.0</TargetFrameworks>` I can't add it as a reference to my UWP project.

[2018-03-27 17:36] anpete commented on #10117
Confirmed already fixed

[2018-03-27 17:36] #10117 closed

[2018-03-27 17:41] bricelam commented on #9666
@Ullmie02 Cross-targeting is a bit broken with UWP. Instead, create a dummy .NET Core console application to use as your startup project. The dummy project will reference your data layer.

[2018-03-27 17:45] bricelam commented on #11414
The last code listing uses SQLite's ADO.NET APIs (the layer underneath EF Core) to replace SQLite's built-in `NOCASE` comparison with .NET's implementation.

Yes, my first two comments also apply to EF Core 1.x.

[2018-03-27 19:30] ajcvickers commented on #11437
@rrelyea This is the issue I mentioned in Core War. Briefly:
* We think this will break all EF Core packages (1.0, 1.1, 2.0, and 2.1) when running on .NET Core.
* We are very happy with the feature in general--it is only the need to still be able to load the assembly that is breaking us.
* It is possible that other third-party tools (like xunit--see above) may also be broken.

At this time, we're

[2018-03-27 19:44] ajcvickers commented on #11439
"These are 'unnamed positional arguments' on the data type." This is why I was wondering about just using "size" but I think the problem is knowing where that "size" comes from in the type mapping, and consequentially how it interacts with what is set on the parameter. I think the best approach will likely be to allow the time mapping to have size, precision, and scale set independently, and then

[2018-03-27 19:56] divega commented on #10462
@smitpatel and I believe the type of the argument could be `string []`.

[2018-03-27 19:58] KellyRupp commented on #6499
I know this is closed and old, but the solution to this is to add keys to your entity framework.  It is using the first column as key.

[2018-03-27 19:58] roji commented on #11439
That sounds like a good way forward to me... Another way to approach this is to allow the mapping to render it's complete data type (including size/precision/scale), like it renders literals. This would allow, for example, the PostgreSQL numeric mapping to omit the scale when it's zero (the default). This goes with the general direction in the new mapper of not trying to do too much but rather lea

[2018-03-27 20:01] divega commented on #1590
Discussed the current state of `FreeText()` with @smitpatel. Here are some notes:

- We need to disallow any string expression that is not a reference to a property
- Rename first parameter to `property` or `propertyReference` (it isn't actually the name)
- Figure out how to support property lists (@smitpatel had already filed #10462 for this)
- Figure our if we want to support binary columns (we

[2018-03-27 20:05] bricelam commented on #11437
This is also broken in .NET Framework projects. In `packages.config` projects, the assemblies in packages with `developmentDependency="true"` were copied to the output directory. With `<PackageReference>`, they're not.

[2018-03-27 21:02] #11075 closed

[2018-03-27 21:04] #7065 closed

[2018-03-27 22:06] #11351 closed

[2018-03-27 22:18] #10220 closed

[2018-03-27 22:18] #11195 closed

[2018-03-27 22:48] anpete commented on #11101
@ajcvickers @divega Did we consider the breaking-ness of this? Specifically, queries that uses two instances of the same context type will no longer work.

[2018-03-27 22:55] ajcvickers commented on #6234
@mloefler This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-03-27 23:33] AndriySvyryd commented on #11249
These log messages can be disabled by filtering out the Model category https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging or by ignoring specific messages:
`.ConfigureWarnings(c => c.Log(CoreEventId.MultipleNavigationProperties))`

[2018-03-27 23:52] AndriySvyryd commented on #4016
Refactor the methods in ModelValidator to improve perf

[2018-03-28 00:41] #10523 closed

[2018-03-28 00:43] ajcvickers commented on #11434
@Rikarin I have not been able to reproduce the behavior you are seeing. Can you post a runnable project/solution or a complete code listing that reproduces the issue?

(Note that should work regardless of lazy-loading should since owned types are automatically eagerly loaded when the owner is queried.)

[2018-03-28 00:45] ajcvickers commented on #11415
@divega Agreed--suggest we move it to the backlog for post 2.1.

[2018-03-28 00:51] ajcvickers commented on #11415
@ststeiger The intention is that the EF context acts as essentially your unit-of-work. The connection is exposed so that you can integrate both EF calls and lower-level ADO.NET calls into that unit of work using the same connection.

Using EF as a factory for connections outside of this is not something we have heard people asking for in the past. It's probably something that EF could do, but it's

[2018-03-28 01:00] #11403 closed

[2018-03-28 01:00] ajcvickers commented on #11439
@roji I think a type mapping should be able to override StoreType and do a complete rendering if needed. I don't think EF now does any manipulation of the store type name unless opted into using the new flags.

We already parse out the base name and either a single or pair of postfixed values and put the results in the TypeMappingInfo. However, a single value is always parsed into "size" and two v

[2018-03-28 01:27] smitpatel commented on #11396
@dushkostanoeski - Based on code snippets above, I put together this sample app
[code]
It does not reproduce the problem.
I get output as following.
[code]
Which indicates all navigations included are correctly loaded.
Please modifying above app so that it repro the issue you are seeing. Or provide us a compilable solution which demonstrate the issue.

[2018-03-28 01:46] divega commented on #11101
@anpete can’t speak for @ajcvickers but I had it in mind when we discussed it and still thought it is reasonable to start throwing. I seems this shouldn’t be that common (unless I am missing something) to do this by accident, and those who are doing it on purpose are likely not getting what they want. Of course it would be ideal to be able to combine multiple data sources like this and I hope in t

[2018-03-28 02:11] John0King commented on #11414
@bricelam  Thanks again.

Is that because Sqlite's ADO.Net provider is also the database engine  so it can do that ?  otherwise AFAK doing comparison in "client" side is pointless .

[2018-03-28 04:29] roji commented on #11439
I understand. I do hope you'll be able to do this for 2.1, as there have already been so many changes to the type mapping system and some stability in this area going forward would be nice...

[2018-03-28 06:42] littlesmilelove commented on #11438
@smitpatel OK.
This is the origin model. It works properly.

`public class Order
    {
        public int Id { get; set; }
        public int MobileTypeId { get; set; }
        public MobileType MobileType { get; set; }
        public int? RegionDistrictId { get; set; }
        public RegionDistrict RegionDistrict { get; set; }
        public int RegionCityId { get; set; }
        public RegionCit

[2018-03-28 08:26] TomWouters opened #11450 "Unable to create a null constant value in collection assignments"
I am currently developing a framework, with extendable tables/relations etc...
The way it is done is by creating classes, Having extension records (eg class 1 has an extra field named x ), compiling the combination of the 2 to a new class, and creating new relationship types, to those new extended classes.  Then compiling those as a definition for entity framework.  This works perfectly.
Now there

[2018-03-28 09:33] Systemdir opened #11451 "HiLo sequence incorrectly shared between different database connections"
We noticed that one tests fail when executed together with another test. Narrowing it down we found out that the reason is npgsql HiLo when using the same context to connect to different databases on the same database server (we have this setup to be able to run multiple CI tests at the same time).

### Steps to reproduce
**HiLo Setup:**
[code]

**DatabaseFixture (added it for complenteness sake):

[2018-03-28 11:24] zhangxijing666 opened #11452 "EF Cache issues"
I have a problem, as follows:

1. Get object A, Include sub object by EF Core
2. Modify the data of object A in the database by Sql
3. Retrieving object A through EF, but object A's data is still not up-to-date

We should use AutoFac to do dependency injection. The lifetime of DbContext is PerRequest.
I research the NoTracking() function can flush it. But we need to change some data in point 1 and

[2018-03-28 12:13] vulcanlee commented on #10277
Is this bug  fixed and how to solve this problem?

[2018-03-28 12:16] teichmandaniel opened #11453 "Using OrderBy object type in dynamic linq expression causes client eval"
Group by multiple fields using Date part of DateTime causes Sql error.

Stack Trace:
System.Data.SqlClient.SqlException : Incorrect syntax near the keyword 'AS'.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHas

[2018-03-28 14:04] steffhimes commented on #10759
I had to remove some nuget packages that referenced earlier .NET core

[2018-03-28 14:14] smitpatel commented on #11438
What is the value of `IQueryable<T> source` being passed in either of the functions?

[2018-03-28 14:15] smitpatel commented on #11453
Duplicate of #11218

[2018-03-28 14:21] smitpatel commented on #11450
This issue was moved to aspnet/EntityFramework6#508

[2018-03-28 15:12] ajcvickers commented on #11101
Agree with @divega.

[2018-03-28 15:33] ajcvickers commented on #11452
@zhangxijing666 Couple of ideas:
* Consider using a different context instance for each modification. Typically the context instance should be used for a single unit-of-work and then disposed. It's hard to tell from just the info above, but it feels like this is two units of work.
* Use `context.Entry(myEntity).Reload()` to update the entity with values from the database.

[2018-03-28 15:47] ajcvickers commented on #11363
@roji Did you have any further thoughts on this?

[2018-03-28 15:48] ajcvickers commented on #11320
@dsplaisted @livarcocc Any updates on this?

[2018-03-28 15:49] ajcvickers commented on #11366
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-03-28 16:08] roji commented on #11363
Sorry for disappearing on this... Take a look at https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/EFCore.PG/Storage/Internal/NpgsqlTypeMappingSource.cs#L318, which is where I get the mapping for an array.

As you can see, the method takes the array mapping it is given and attempts to look up the corresponding element mapping for that array. If it's given a store type, i

[2018-03-28 16:20] Materix opened #11454 "InvalidOperationException when use enum as discriminator"
I am trying to use enum property as discriminator. Migration was created successfully but when applying InvalidOperationException is thrown. Both in snapshot and designer discriminator values are written as enums values.

Should it be possible to use enum as discriminator?

[code]

### Steps to reproduce
I prepared simplified repro repository: https://github.com/Materix/EnumAsDiscriminator

I have

[2018-03-28 17:01] ajcvickers commented on #11010
@LeroyK I'm working on fixing the issues with value generators and converters, but I am now unsure if this is what you are really hitting, since rowversion doesn't use a value generator. Can you provide some more details on what conversion you are using?

[2018-03-28 17:01] ilmax commented on #9295
@smitpatel Should exists have the same semantics as any here?

[2018-03-28 17:28] smitpatel commented on #9295
@ilmax - Yes. Based on implementation of both. It should be exact copy.

[2018-03-28 17:32] #11371 closed

[2018-03-28 17:34] ilmax commented on #9295
I'm giving it a try. Just to be sure, for exists you mean [this](https://referencesource.microsoft.com/#mscorlib/system/collections/generic/list.cs,416) method right?

[2018-03-28 17:37] smitpatel commented on #9295
Yes & Array.Exists may be.

[2018-03-28 17:37] ilmax commented on #9295
👍 Will try!

[2018-03-28 17:40] smitpatel commented on #11438
@littlesmilelove - `Order` has navigations to entities `MobileType`, `RegionCity` and many others which are being used in creating map. Please share code of all those too.

[2018-03-28 17:45] bricelam commented on #11414
SQLite is an in-process database. The snippet above works by passing a function pointer to SQLite that it can use to invoke the lambda. So technically, it *is* happening "on the server".

[2018-03-28 17:47] bricelam commented on #11414
This is different from EF's client-evaluated queries where extra data may be retrieved from the server so additional processing can be done before returning the final result set.

[2018-03-28 17:50] bricelam commented on #11414
I walk through the differences between client-eval and passing pointers to SQLite in my [SQLite & EF Core: UDF all the things!](http://www.bricelam.net/2017/08/22/sqlite-efcore-udf-all-the-things.html) post.

[2018-03-28 18:07] bricelam commented on #10107
It's back! Update your SQLitePCL.raw package to version 1.1.10.
[code]

[2018-03-28 18:44] ajcvickers commented on #1590
@divega to break into new issues and close general issue.

[2018-03-28 19:18] dazinator opened #11456 "global query filter - filter expression issue"
I am trying to put together what I thought was a sane filter expression, but ef doesn't like it..

[code]

As far as I can tell my filter expression is compliant:

"The expression must accept a single parameter of type 'Sample.EFCore.Blog', return bool, and may not contain references to navigation properties."

Here is my expression:

[code]

Which complies with:
- [x] accept a single parameter of

[2018-03-28 19:54] AndriySvyryd commented on #11141
Fixed in f63fec7ab7c4802e2229a44d6eebc171fa89e570

[2018-03-28 19:54] #11141 closed

[2018-03-28 20:13] ajcvickers opened #11457 "Support immutable entity updates"
Issue #10703 covers materialization of entities with constructors, which allows immutable entities to be used with EF Core. However, since these entities are immutable it means that they are read-only from an EF perspective--that is, the database row will never get updated. This issue is about enabling patterns in EF that are commonly used with immutable objects, such as creating new instances to

[2018-03-28 20:14] ajcvickers commented on #3129
Triage: filed #11457 to cover updates to immutable entities. Closing this as a duplicate of #10703.

[2018-03-28 20:15] ajcvickers commented on #11264
@bricelam Can this be closed?

[2018-03-28 20:16] ajcvickers commented on #11383
Discussed in triage and we're not going to do this because the value seems very minimal. However, if anybody in the community wants to send a PR to add support for this, then we would take a look and would likely accept such a PR.

[2018-03-28 20:17] ajcvickers commented on #11402
@bricelam suggested triage decision on this?

[2018-03-28 20:19] ajcvickers commented on #214
See #11404 for details of internal conventions related API that are used by providers.

[2018-03-28 20:21] ajcvickers commented on #11404
This is deeply coupled to #214, but rather than closing as a duplicate we are keeping both issues open so that we don't miss that this is an internal code issue for providers, which conceptually could be potentially partly addressed without full public conventions,

[2018-03-28 20:24] ajcvickers commented on #11414
@bricelam Can this be closed?

[2018-03-28 20:31] ajcvickers commented on #11415
Triage: moving to the backlog to update API docs to indicate that the connection obtained in this way should not be disposed.

With regard to making EF a factory for connections, we decided not to do this because:
* It will only work if the context is configured with a connection string, as opposed to an existing connection. (If all EF has is a connection, then this becomes the connection clone pr

[2018-03-28 21:06] #10967 closed

[2018-03-28 21:34] #10036 closed

[2018-03-28 21:42] ajcvickers commented on #11416
@sam-wheat There are multiple parts to this:
* First, find the appropriate data type to use for each database engine. (I don't know if there is a MySQL type that supports what you want. If there isn't, then there isn't anything EF can do. Let's assume there is and continue.)
* Next, add conditional code in OnModelCreating that will configure the model differently for each provider. Something like:

[2018-03-28 21:42] dsplaisted commented on #11320
@jholovacs Can you check your user NuGet.config (under `C:\Users\<username>\AppData\Roaming\NuGet`) and see if it includes anything about a fallback folder?  For some preview versions of the .NET Core SDK, we would add an entry to that file, but we eventually changed that.  However if you installed one of those previews you could have an entry for a fallback folder in your NuGet.config, and I thin

[2018-03-28 21:43] ajcvickers commented on #11417
@bricelam Can this be closed?

[2018-03-28 21:44] ajcvickers commented on #11430
@bricelam Suggested triage decision on this?

[2018-03-28 21:47] ajcvickers commented on #11440
@altmann As the exception says, this is not supported on owned types. We don't plan to implement this because it doesn't align with the concept of owned types--if you are expecting differently can you elucidate in greater detail what your expectation is and how it aligns with owned types?

[2018-03-28 21:52] maumar opened #11459 "Query: incorrect data returned for queries projecting a single constant from a subquery"
Repro using GearsOfWar model:

[code]

query plan:
[code]

42 is supposed to be client side projection but its being "swallowed" and we end up projecting 1 instead

If the constant if of a different type than int we get a runtime error in type mapping:

[code]

We should fully translate projections for subqueries

[2018-03-28 21:55] maumar commented on #11459
related to https://github.com/aspnet/EntityFrameworkCore/issues/10946

[2018-03-28 22:03] bricelam commented on #11402
Need more info. Could be caused by various TFS or VS settings, could be an issue with the project system...

@Psypher9 @neville-nazerane Could you send us a solution this repros on so we can investigate further and forward to the correct team?

[2018-03-28 22:04] bricelam commented on #11414
Yep. @John0King feel free to continue the conversation here even though the issue is closed.

[2018-03-28 22:08] bricelam commented on #11430
I think we can close it as a duplicate of #2464, but if @BrandonPotter has any additional ideas on how we can make this scenario better (keeping #831 in mind too), we'd love to hear it.

[2018-03-28 22:10] jholovacs commented on #11320
I got something like this:

[code]

[2018-03-28 22:16] maumar commented on #10294
We should recognize the pattern (subquery with FirstOrDefault returning a single value type) and convert to
```(type?)subquery ?? default(type)```

[2018-03-28 22:41] ryanbrandenburg opened #11461 "Remove "breaking changes" after ApiCheck is fixed"
@javiercn and I believe this is a bug in ApiCheck, so we added exclusions for now, but we should revert those exclusions once aspnet/BuildTools#615 is closed.

[2018-03-28 22:41] ryanbrandenburg commented on #11461
cref #11271.

[2018-03-28 22:42] bricelam opened #11462 "Review UnwrapEnumType usages"
Now that we have value converters, all the places we call `UnwrapEnumType` should probably be reviewed. For example, [tihs one](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Design/Migrations/Design/CSharpSnapshotGenerator.cs#L728) looks like it should be changed.

[2018-03-28 22:43] bricelam commented on #5529
@AndriySvyryd With the advent of value converters, should values like `HasDefaultValue()` and `HasDiscriminator().HasValue()` be converted when the model is built?

[2018-03-28 22:44] AndriySvyryd commented on #11454
Fixed e6894d01230abec664b7461aa76464edeaada3e0

[2018-03-28 22:44] #11454 closed

[2018-03-28 22:48] AndriySvyryd commented on #5529
@bricelam Yes, I just fixed it in e6894d01230abec664b7461aa76464edeaada3e0

[2018-03-28 22:51] dsplaisted commented on #11320
@jholovacs Which was the sdk folder you had to grant permissions to in order to get it to work?

[2018-03-28 23:26] anpete commented on #10434
Warning is done. Clearing milestone to track further improvements.

[2018-03-28 23:32] smitpatel opened #11464 "Query: Nullsemantics are not applied to NOT IN (...)"
Test Accessing_optional_property_inside_result_operator_subquery
[code]
Generated SQL
[code]
But `[l1.OneToOne_Optional_FK].[Name]` is nullable so we need to append OR `[l1.OneToOne_Optional_FK].[Name] IS NULL`

[2018-03-28 23:51] codyclay88 commented on #9415
I had this problem as well, I removed some seeding logic that I had used for the initial creation and it everything worked after that.

[2018-03-29 00:17] divega opened #11466 "Consider always doing server evaluation for functions that don't have client implementation"
For SQL Server we are adding the FreeText function in 2.1 that doesn't have a client evaluation. If we end up needing to evaluate this function after we have switched to client evaluation, we throw an exception.

We could instead turn this into a simple singleton query that evaluates the function on the server, using the same table, the same columns and the same row (by using the key in the WHERE

[2018-03-29 00:43] bricelam commented on #5529
Oh I see, we convert while generating the snapshot. 👍

[2018-03-29 00:47] smitpatel commented on #11389
merged via 98c8ac46a091615fb5fb8979a06af4aacf68edea

[2018-03-29 00:47] #11389 closed

[2018-03-29 00:56] smitpatel commented on #11464
@SSkovboiSS - Just FYI the test which was failing for you in PR.

[2018-03-29 01:09] smitpatel commented on #11459
If we translate this also enable aggregate over a constant in group by case.

[2018-03-29 01:32] divega commented on #10963
Some notes on the triage decision we made today to move this to be backlog:

1. We agree doing something in this area would be valuable and we want to do it.
2. We need to do the due diligence to understand what is the best strategy and then execute on it. We see the recommendations above and we are hesitant to do something that would be brittle and that adds a maintainability burden, so we want t

[2018-03-29 01:34] Dinokin opened #11468 "Wrong data type used by efcore on sqlite databases generated by migrations"
basically sqlite databases generated by efcore migrations determines decimal values as TEXT instead of NUMERIC. this breaks linq functions like Max(), since it wont return the actual maximum value.

[2018-03-29 01:38] jholovacs commented on #11320
C:\Program Files\dotnet\sdk

[2018-03-29 02:35] littlesmilelove commented on #11438
@smitpatel The Models.
[code]
My origin IQueryable<T> source is DbContext.Set<Order>()
[code]

[2018-03-29 05:17] replaysMike commented on #2174
This is a common problem we run into every once in a while. It's quite simple to accomplish. If your database is already up to date just delete all the migration files and truncate the dbo.__EFMigrationsHistory table. Generate a new initial create migration and you have now squashed all your migrations. You lose any comments but that's minor if you're needing to do it.

[2018-03-29 07:53] IsaaasI opened #11470 "dll for taking picture using c# Core 1.1"
I am looking to dll library for capture a picture using Laptop camera or external camera and save it in database server . I am using VS 2017 Core 1.1

Any Suggestion dll or code that will help me ?

### Further technical details
EF Core version: (found in project.csproj or packages.config)
Database Provider: MySQL
Operating system:
IDE: (e.g. Visual Studio 2017 15.4)

[2018-03-29 08:22] ErikEJ opened #11471 "SQLCE issue with WithConstructorsTestBase"
When seeding this, SQLCE fails, as it cannot insert into a table with just a single identity column.
Adding an extra dummy column would solve the issue.
https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Specification.Tests/WithConstructorsTestBase.cs#L878

[code]

SQL is:

[code]
This would work

[code]

Error is:  There was an error parsing the query. [ Token line number = 2,Token

[2018-03-29 08:55] ilmax commented on #9295
@smitpatel I made some small progress on this, I just want to check I took the right direction. What I've done is implementing a new `ExistsToAnyResultOperatorExpressionRewriter : ExpressionVisitorBase` that rewrites a `MethodCallExpression` similar to `SomeNavigationPropertyOfTypeList.Exists( aPredicateExpression )` into something like `SomeNavigationPropertyOfTypeList.Any( aFuncExpression )` e.g

[2018-03-29 10:16] ErikEJ commented on #9369
Fixed in 2.1-preview1

[2018-03-29 11:08] ErikEJ opened #11472 "LogggingRelationalTest spec test fails with SQLCE provider"
All tests fail, as I set MaxBatchSize=1 for SQLCE always (SQLCE only supports a single statement per batch)
[code]

### Steps to reproduce
This is my test implementation - the Logs_context_initialization_forced_client_eval test passes, all other tests fail.

[code]

### Further technical details
EF Core version: 2.1-preview1-final
Database Provider: SQLCE

[2018-03-29 13:26] bpaczkowski opened #11473 "Too long Foreign Key names result in redundant changes in future migrations"
When a Foreign Key name generated by EF Core in a migration is longer than 62 characters, the rest of it gets truncated in the database. When you try to create another migration, EF Core generates one that drops all those Foreign Keys with truncated names and tries to create them again, with the same specs as in the first migration.

This very well may be an issue with Npgsql, although I'm not sur

[2018-03-29 13:32] marikvntu commented on #6812
Let's wait like "Homunculus loxodontus"

[2018-03-29 13:53] bpaczkowski commented on #11473
My bad, it seems this was fixed recently and now the first migration is created properly with Foreign Key names truncated already. My migration must have been created before the fix.

[2018-03-29 14:04] bpaczkowski commented on #11473
Turns out it's not fully fixed... The first migration is created with correct, truncated FK names, but subsequent migrations try to drop non-existing FKs with full names (which results in an exception) and add them with truncated names again.

[2018-03-29 15:54] ajcvickers commented on #11437
NuGet tracking issue: https://github.com/NuGet/Home/issues/6753

[2018-03-29 16:03] ajcvickers commented on #11471
@ErikEJ I guess enough time has passed since you last reminded me of this CE limitation that I forgot about it again! 😸 PR?

[2018-03-29 16:03] bricelam commented on #11468
Xref: aspnet/Microsoft.Data.Sqlite#498

[2018-03-29 16:04] bricelam commented on #11468
Related to #10534

[2018-03-29 16:09] bricelam commented on #11468
When #10642 is fixed, this will get you close to what you want:
[code]
But of course, converting from `decimal` to `double` is lossy so the best thing will always be to calculate on the client:
[code]

[2018-03-29 16:19] bricelam commented on #11470
.NET Core is primarily for server workflows at the moment, you'll have more luck using [UWP](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/camera), [Xamarin](https://developer.xamarin.com/recipes/android/other_ux/camera_intent/take_a_picture_and_save_using_camera_app/), or [.NET Framework](http://www.emgu.com/wiki/index.php/Camera_Capture_in_7_lines_of_code).

[2018-03-29 16:24] ajcvickers commented on #11471
Yep, adding a dummy property is the typical fix.

[2018-03-29 17:38] Eilon commented on #11470
This type of question might be better suited to a site such as StackOverflow.

[2018-03-29 18:36] AndriySvyryd opened #11474 "Data Seeding: Enable for InMemory"

[2018-03-29 19:11] #11443 closed

[2018-03-29 19:49] ajcvickers commented on #11311
Note for implementer: I suspect this is because events are not be unscribed when the services are reset.

[2018-03-29 19:53] altmann commented on #11440
@ajcvickers We use DDD and therefore also ValueObjects. ValueObjects are represented via Owned Entities. I can't understand why a 1:1 navigation property in a Owned Entity is working but a 1:n navigation property is not working. We want to bring our domain model into code so for us this is unfortunately a show stopper using EF Core in our project. As temporary workaround we convert the Owned Entit

[2018-03-29 20:23] #11474 closed

[2018-03-29 20:39] ilmax commented on #9295
@smitpatel I'm not sure about the array part because it's a static method and not an instance one, so just to double check, are you suggesting to translate this query:
[code]
I'm asking because it feels a bit strange as a query to me and, as a EF user, I'm not expecting a query like the one above to be translated to a store query.

Now I've completed the implementation following the aforementioned

[2018-03-29 22:16] bricelam commented on #11402
Looks like it's a "new" csproj, so it could be [dotnet/project-system](https://github.com/dotnet/project-system) or CPS...

[2018-03-29 22:18] smitpatel commented on #9295
@ilmax - In EF Core navigation property cannot be of Array type so Array.Exists won't be server correlated. We can exclude translating it to server.

cc: @roji - As Array could map in PostgreSQL as scalar, you could potentially add some translation of Array.Exists on server (similar to Array.Length).

[2018-03-29 22:59] divega opened #11481 "SQL Server full-text search: Short-term improvements to FreeText functions"
This is the short-term part of the break down discussed in #1590, i.e. things we should improve on the FreeText API before release.

The first argument is not really a property name but it has to be a reference to a property on the range variable:

1. Disallow (e.g. by throwing while translating the query) any string expression that is not a reference to a property. We need to be able to translate

[2018-03-29 23:34] divega opened #11482 "SQL Server full-text search: Consider supporting binary columns function"
SQL Server allows using full-text search functions with binary columns. At index creation time, a column containing the extension of the document type and a registered IFilter are used to extract the text from the binary.

In the case of the FreeText predicate, it may be just a matter of having an overload that accepts a property of type byte[].

[2018-03-29 23:50] divega commented on #4823
Un-combining.

[2018-03-29 23:53] divega opened #11484 "SQL Server full-text search: basic support for FreeText function"
EF Core 2.1 will include basic support for the FreeText predicate function, thanks to [a contribution](https://github.com/aspnet/EntityFrameworkCore/commit/2a6ccad8821f9360ae753bce41d63811185b8912) from @Djangoum.

[2018-03-29 23:54] divega commented on #11484
See #11482 and #10462 for possible future improvements of this functionality.

[2018-03-29 23:54] #11484 closed

[2018-03-29 23:58] smitpatel opened #11485 "Query: Entity equality rewrite on owned entities"
Right now, owned entities being compared via `==` are converted to equality on key properties. Which may be incorrect for owned entities. Our rewrite logic (co-incidentally) excludes owned entities from `Equals` method rewrite.

We will client eval for now.

[2018-03-30 00:01] divega opened #11486 "SQL Server full-text search: Contains predicate"
We already support FreeText in 2.1 and [Contains](https://docs.microsoft.com/en-us/sql/t-sql/queries/contains-transact-sql) should be very similar and relatively easy.

[2018-03-30 00:04] divega opened #11487 "SQL Server full-text search: FreeTextTable and ContainsTable table-valued functions"
In EF Core 2.1 we added support for FreeText predicates. Adding Contains support should be similar, but the next level of functionality is in the TVFs [FreeTextTable](https://docs.microsoft.com/en-us/sql/relational-databases/system-functions/freetexttable-transact-sql) amd [ContainsTable](https://docs.microsoft.com/en-us/sql/t-sql/queries/contains-transact-sql).

[2018-03-30 00:07] divega opened #11488 "SQL Server full-text search: Support creating full-text indexes in migrations"
In EF Core 2.1 we have initial support for for full-text search via the FreeText predicate in LINQ, but this only works with databases that have already been indexed. EF Core and the SQL Server provider don't provide any way to configure the model so that migrations or EnsureCreated can generate the right SQL for defining the indexes.

[2018-03-30 00:23] divega opened #11489 "Support for external full-text search engines"
This issue is about enabling full-text search functionality using an external full-text search engine such as Lucene or Azure Search.

The idea is to have a plug-in model in which you can annotate properties as indexed and then EF Core will automatically submit updates for the indexes in SaveChanges and leverage the indexes as the translation of specific functions in LINQ queries.

cc @anpete

[2018-03-30 00:25] divega commented on #1590
Updated original post with links to the new issues. Closing as duplicate of everything else.

[2018-03-30 00:39] divega commented on #11422
@anpete Here is the fwlink: https://go.microsoft.com/fwlink/?linkid=871170. It points to
https://docs.microsoft.com/en-us/ef/core/querying/raw-sql, at least initially.

[2018-03-30 01:04] AndriySvyryd opened #11491 "Allow annotations with null values"
These could be used to prevent conventions from setting this annotations and avoid recalculating values.

In particular it would be very useful for `SqlServerPropertyAnnotations.GetSqlServerValueGenerationStrategy`

[2018-03-30 01:07] ajcvickers opened #11492 "Add built-in conversions from strings to other types"
We have strings to bytes, but we could also have strings to anything else that can be parsed. (I did intend to do this, but seem to have missed it.)

[2018-03-30 01:07] ajcvickers commented on #11492
Note for triage: doesn't have to be in 2.1, but would be nice if we have time.

[2018-03-30 01:12] pmiddleton commented on #11487
FreeTextTable looks interesting.  @divega I can take a look at that part once I am done with standard TVFs.

[2018-03-30 01:49] maumar commented on #10294
fixed in 730b63b7253cf88d6a5e33ce83ed8a76c6bee595

[2018-03-30 01:49] #10294 closed

[2018-03-30 02:36] divega commented on #11487
@pmiddleton sure thing! This is practically meant for you :smile:

[2018-03-30 02:38] smitpatel opened #11495 "Query: Comparing same reference navigation can converted to comparison on parent"
for comparison like `o1.Customer == o2.Customer` can be converted to `o1.Id == o2.Id` iff Customer navigation is dependent to principal and required.

[2018-03-30 02:40] rkdrnfds opened #11496 "Dbcontext opens new connection for every query in one request."
For every query in one injected dbContext, it opens new connection.

How can I provide one opened connection for dbcontext to avoid such overheads for opening / closing multiple connections?

Environments:
 EF Core: 2.1.0-preview1
 Data Provider: Npgsql.EntityFrameworkCore.PostgreSQL 2.1.0-preview1

[2018-03-30 03:37] #11010 closed

[2018-03-30 04:34] iriza84 commented on #11155
Where or How can I get Microsoft.EntityFrameworkCore.Storage.Converters? I cannot use HasConversion() in my model builder. I been searching a lot but cannot find it.

[2018-03-30 06:38] roji commented on #9295
@smitpatel opened https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/356 to track adding `Array.Exists()` for server evaluation

[2018-03-30 06:49] zhangxijing666 commented on #11452
@ajcvickers I got it and fixed my bugs, the reason is my repository was be inject, so point 1 and point 3 is a same instance. Thank you.

[2018-03-30 07:05] ilmax commented on #9295
@smitpatel Ok, thanks for the info.

[2018-03-30 07:14] roji commented on #11496
Unless you've disabled pooling (by setting `Pooling=false` in your connection string), opening and closing connections has negligible overhead and there shouldn't be any reason to avoid it. When a connection is closed it is returned to the pool, and when one is opened it is taken from the pool. This is the default/recommended way to work, rather than trying to implement your own connection reuse.

[2018-03-30 07:48] flagbug opened #11499 "Online index migrations"
For a highly available zero-downtime deployment, we would need the ability to perform online index operations on Azure SQL Database, so basically

`CREATE INDEX ... WITH (ONLINE = ON)`

Is there anything in EF Core that supports this and if not, is this something on the teams roadmap?

[2018-03-30 08:48] Trolldemorted commented on #4823
You are talking about fts 3 and 4, will you also support 5?

[2018-03-30 08:57] ilmax commented on #11424
What about passing `TypeMappingInfo` as `in` parameter where it's possible to avoid GC defensive copies after [this](https://github.com/aspnet/EntityFrameworkCore/pull/11498) will be merged?

[2018-03-30 09:14] ErikEJ opened #11500 "Move ApiConsistencyTestBase to specification tests"
I may have asked this before, but why is ApiConsistencyTestBase (and possibly others) not part of the specification tests? Right now, in order to take advantage of this very useful test, I must copy the entire class over (and remember to do so for each update)

[2018-03-30 09:42] michaldudak commented on #10434
What about equality/inequality in Where clause?
It seems that when there is a converted type in a Where clause (something like `.Where(b => b.BlogId == new BlogId("8807e48e-1236-4ef0-a8c9-3de730e52e1b")` in my case, where `BlogId` is a struct with a type conversion to/from a Guid) the client-side evaluation kicks in. So in this case, all Blogs would get fetched from the database, which is far from

[2018-03-30 10:27] rkdrnfds commented on #11496
Thanks for reply. It had very little overhead indeed.

[2018-03-30 12:17] Mergasov opened #11501 "Value Conversions not working with IList<T> property"
My model class have a  `IList<string>` property. I use value conversions to save it as json-string in DB. SaveChanges operation throws the `System.InvalidCastException`.
When I change the type of the property to `List<string>` no exception occurs. Is this behavior by design or a bug? It's important for me to have a property of the interface type.

**Update**: as I understand there is a comparsion

[2018-03-30 12:59] SSkovboiSS commented on #11492
Is this up-for-grabs? I would give it a try.

[2018-03-30 13:27] flagbug commented on #11499
Alright, so I've figured out how to customize this pretty easily:

First, we create an extension to the index migration that adds an annotation:

[code]

Second, we override the SQL Server migration generator and look up if the annotation exists:

[code]

Now, in the migration itself, we can apply the online index modifier like this:

[code]

The generated SQL will look like this:

[code]

Is this

[2018-03-30 15:29] dehghani-mehdi opened #11502 "Allow to specify constraint name for default values"
Hello,

Is there any way to specify constraint name for default values, for example:

            builder.Property(x => x.CreatedDate)
                .IsRequired()
                .HasColumnType("DATETIME")
                .HasDefaultValueSql("GETDATE()")
                .HasConstraintName("DF_MyConstraint");

Thanks

[2018-03-30 15:46] akasyanchuk opened #11503 "Can't add migration with Seed method which uses multiple items"
I want to use Seed method with entity in which I have Primary key with Identity defined. I want to seed table with 3 items. I filled up all data except this Id property (because it supposed to be DB generated as Identity). When I try to create migration I get an exception with message (The seed entity for entity type 'Patient' cannot be added because the was no value provided for the required prop

[2018-03-30 16:35] TechnikEmpire commented on #11266
Given that there's super critical fixes in core 2.1 like [this](https://github.com/dotnet/corefx/issues/23401), I'd have to disagree with a lack of urgency. I'm developing against 2.1 precisely because I don't want to exceed the life age of the universe per HTTP request, but my doing so I'm left without a database.

[2018-03-30 16:49] ErikEJ commented on #11266
@TechnikEmpire  Not sure how your comment relates to this "clean-up" issue?

[2018-03-30 17:04] bricelam commented on #4823
Now that SQLitePCL.raw supports FTS5, we'd probably just start with support for that.

[2018-03-30 17:04] sam-wheat commented on #11416
@ajcvickers Thanks very much.

[2018-03-30 17:20] bricelam commented on #4823
Some notes on how SQLite FTS is different than SQL Server:
* You create an FTS-enabled table instead of a FTS index
* You use the `=` (or MATCH) operators instead of a function to search. `SELECT * FROM email WHERE body = $query`
* To search all columns, you use the table name as the left-hand side of the operator `SELECT * FROM email WHERE email = $query`
* The `bm25()` (rank), `highlight()` and

[2018-03-30 17:42] bricelam commented on #4823
Some notes:
* You create an FTS-enabled table instead of a FTS index
* You can use the `match()` function to search
[code]
* To search all columns, you use the table identifier as the second argument
[code]
* The `bm25()` (rank), `highlight()` and `snippet()` functions can be used with these queries

[2018-03-30 18:00] Psypher9 commented on #11402
Since the project-system is default for VS 2017, which I'm using, should I be directing this issue to them?

[2018-03-30 18:01] divega commented on #9295
@smitpatel @ilmax direction seems good.

FWIW, there is that other space of scenarios in which Any / Exists can be applied to a client collection with a condition that is store correlated. We currently don't translate those but there is a subset that could be rewritten to Enumerable.Contains.

[2018-03-30 18:33] ilmax commented on #9295
@divega ok, great! I had to made a small additional change to the approach discussed above in order to make it work so I'm trying to get feedback on the new one.

After solving the client eval of the any (ShipCity was not mapped indeed 😢, thank you @smitpatel) and after realizing the first version of the rewriter, EF was still executing two queries, so I checked the differences between the Any que

[2018-03-30 19:02] divega commented on #11502
@dehghani-mehdi There isn't currently a way to specify a default constraint name.

From the perspective of EF Core, this is not necessary because SQL Sever will generate one for you and we can always address the constraint (e.g. to drop it) without the name through the column (because there can only be one default constraint per column).

However we understand there may be other reasons this can b

[2018-03-30 19:10] smitpatel commented on #9295
[code]
Above are query models for Exists & Any queries. Essentially we have to convert former to the latter. I understood where you hit issue since Exist is just a method call, if you convert to another method call we need relinq parsing to generate query model. So let's just create query model straight away.
In the methodCallExpression (lets call it `method`),
method.Object becomes FromExpression

[2018-03-30 19:24] smitpatel commented on #11503
@akasyanchuk - The ValueGenerated behavior is the behavior of the database at the runtime. When you say `ValueGeneratedNever` that means we don't setup any value generation in database. Hence you are supposed to supply value for property in all scenarios. (be it seed data or your app trying to insert new record). So when you don't supply value, it will be the default value of the property. So when

[2018-03-30 19:28] Carq opened #11505 "Deleting/Updating entities with Unique Filtered Index - ArgumentException: An item with the same key has already been added"
Exception ArgumentException: "An item with the same key has already been added" is thrown when DbContext.SaveChanges() is invoked after changes in two or more entities with Filtered Unique Index.

[code]

### Steps to reproduce
Here is complete code listing: https://github.com/Carq/EFCore.UniqueFilteredIndex

#### Partial code listings
Creating model in DbContext:
[code]

Code in which the excepti

[2018-03-30 19:33] smitpatel commented on #11505
Related #11062

[2018-03-30 19:35] ilmax commented on #9295
@smitpatel thank you for the info, I got it working with a similar approach, I was just unsure about having relinq to re-parse the newly created expression.

I'm now running all the test to check everything works as expected. this is the code of the rewriter:

[code]
Will create a PR after adding few more test cases , maybe to ensure also !Exists is correctly rewitten into !Any/All

[2018-03-30 19:38] smitpatel commented on #9295
@ilmax - We would want to avoid calling `ParseQuery` again since, QM is easy to construct and more performant.

[2018-03-30 19:39] ilmax commented on #9295
Ok, Will change the code to the suggested approach, other than this does the code looks reasonable to you?

[2018-03-30 19:44] bricelam opened #11506 "Add developmentDependency=true to EFCore.Design"
This dependency typically shouldn't be published with the application.

[2018-03-30 19:49] #11439 closed

[2018-03-30 19:49] #11424 closed

[2018-03-30 19:50] jainaashish commented on #11437
@bricelam

`
You need an entry point into the user's project to reflect over and invoke their code to get their DbContext model, test classes, controllers, etc. This entry point is distributed in a NuGet package with developmentDependency="true" so it doesn't get published to the server or referenced by other projects. This is our Microsoft.EntityFrameworkCore.Design package (brought in transitive

[2018-03-30 20:05] #11249 closed

[2018-03-30 21:02] pranavkm opened #11507 "Analyzer might need to target a lower TFM"
Got this when I was building scaffolding locally:

[code]

Most other analyzers out there target `netstandard1.3` or lower (e.g. https://github.com/dotnet/roslyn-analyzers/blob/26fe065161a871718c717da1821d82c4decbc8e9/src/Microsoft.CodeAnalysis.Analyzers/CSharp/Microsoft.CodeAnalysis.CSharp.Analyzers.csproj#L4, https://github.com/xunit/xunit.analyzers/blob/master/src/xunit.analyzers/xunit.analyzer

[2018-03-30 21:03] pranavkm commented on #11507
cc @ajcvickers might need this for preview2.

@pakrym do you know much about the tfm requirements? Logging's already targeting ns1.3

[2018-03-30 21:04] pakrym commented on #11507
I think I just did lowest possible without a lot of thinking.

[2018-03-30 21:18] #11165 closed

[2018-03-30 21:28] ilmax commented on #9295
@smitpatel  I'm having a hard time try to figure out how to replace the parameter in the LambdaExpresison with the QSRE.
I've made it to work rewriting the body of the lamda expression, but the approach seems a bit fragile to me.

Here you can find the code.

[code]
Other than this, all test passes and the following query:

[code]
is correctly translated into the following Sql

[code]
Any suggesti

[2018-03-30 21:38] bricelam commented on #11437
Regardless, the semantics of `developmentDependency="true"` have been broken.

Today with packages.config on .NET Framework, assemblies in packages with `developmentDependency="true"` are referenced. After migrating to `<PackageReference>`, they're not.

The original semantics of `developmentDependency="true"` were simply to prevent the dependency from propagating outside of the project it was ins

[2018-03-30 21:42] bricelam commented on #11437
Not referencing the assembly is neat, but it should probably be driven by a new piece of metadata to prevent breaking `developmentDependency`.

[2018-03-30 21:52] caleblloyd commented on #11266
@TechnikEmpire Pomelo maintainer here. This issue is not what is holding up the 2.1-preview. We are an open source project with a small contributor base. We all have jobs and personal lives in addition to time we spend on open source contributions.

EF upstream releases naturally have changes and take work to integrate.

One way to help is reporting issues. Another is contributing code. Pressing i

[2018-03-30 21:56] bricelam commented on #11437
Have you reviewed existing packages with `developmentDependency="true"`? I'm all for refining the semantics like not publishing them, and maybe even not referencing them during compilation, but it should be done with an awareness of its current usage.

[2018-03-30 22:02] smitpatel commented on #9295
This is how you would replace one expression with other 😉
https://github.com/aspnet/EntityFrameworkCore/blob/8f71f93f0e35d55c91a4807015e2b64f7de545e4/src/EFCore/Query/ExpressionVisitors/Internal/ModelExpressionApplyingExpressionVisitor.cs#L143-L148

[2018-03-30 22:04] #9984 closed

[2018-03-30 22:04] #11066 closed

[2018-03-30 22:10] smitpatel commented on #11507
Reason for ns1.3 https://github.com/dotnet/roslyn/issues/22368

[2018-03-30 22:20] maumar commented on #10293
fixed in 0027d598234866a8f3f844a64a8fe5f708173db6

[2018-03-30 22:20] #10293 closed

[2018-03-30 22:25] TechnikEmpire commented on #11266
@caleblloyd Hey, guy that doesn't care here. We're not on your repo, you seem to be confused. Next time, before you jump in head first to talk condescendingly to someone, you should check:

 1) did you put your pants on before leaving the house
 2) do you know what state you're in
 3) do you know what repo you're commenting on

All of your snarky remarks about muh volunteer codez and pressing prio

[2018-03-30 22:25] roji commented on #11439
Great, thanks guys... I'll start working on preview3 very soon and will report.

[2018-03-30 22:26] smitpatel commented on #11438
This is the code I put together from above information https://gist.github.com/smitpatel/178569e8746de0c86040e86f55747e91

I am still not able to get the error.
Please provide us a full solution/project which demonstrate the issue.

[2018-03-30 22:32] Djangoum commented on #11486
Hi, i can take a look at Contains if none of you are looking for this! @divega

[2018-03-30 22:41] smitpatel commented on #11486
@Djangoum - Feel free to start working on it. I will assign myself to make sure no one else in the team start working on it.

[2018-03-30 23:18] caleblloyd commented on #11266
By no means were my comments meant to be condescending towards any individual, I was more trying to illustrate that this issue is not a blocker for Pomelo.  Pomelo is at a shortage of contributor power right now and code contributions / issues would help that but there's no way to speed it up without more contributors.

Let's stick to the [code of conduct](https://opensource.microsoft.com/codeofco

[2018-03-30 23:48] TechnikEmpire commented on #11266
@caleblloyd Don't come around talking to me like you've got your big boy developer pants on and you're going to school me on how to be helpful while patting me on the head like a patronizing goof.

[2018-03-31 00:14] smitpatel commented on #11428
@divega - To write about lock escalation.

[2018-03-31 00:27] divega commented on #11428
@sam-wheat @antonioortizpola, @smitpatel and I played a bit with the repro and realized what you are seeing is the effect of a feature in SQL Server called lock escalation, which is the process of converting many fine-grained locks (e.g. row locks) into less fine grained locks, e.g. page locks or table locks.

There is some information about how to diagnose deadlocks and the effects of lock escala

[2018-03-31 00:28] divega commented on #11428
Note for triage: I am leaving this open to have a chance to investigate/discuss if there is anything we should do to prevent lock escalation from happening by default.

[2018-03-31 00:30] smitpatel commented on #11507
Re-opening to discuss in triage.

[2018-03-31 01:27] divega commented on #11266
@TechnikEmpire Reading your first and second comments, I understand your intention was to point out that the EF team (not the Pomelo project) has made what you believe are several mistakes, starting with using .Internal namespaces as a way to indicate that certain APIs should be considered internal rather than using the available internal keyword, and that you believe that this had the effect to e

[2018-03-31 02:49] WilliamABradley opened #11509 "Name Navigation Property Key with an Attribute"
It would be great to be able to easily name a Navigation Property, rather than the Automatically generated key, which goes by {typeName}{typeKeyPropertyName}. This produces a key that looks out of place in any model.

Two ways that could fix this is:

1.  Create a NavigationPropertyAttributeClass, with an Argument for the Shadow Property Name. You could then customise the Navigation property on th

[2018-03-31 02:58] TechnikEmpire commented on #11266
@divega

[code]
What a frightening view of the world Microsoft has. What a dark distopian world you espouse, when Microsoft would come talking to it's customers as if it is God Almighty, collecting and keeping every word spoken and judging and condemning based on that. How incredibly frightening indeed.

Don't you worry Mr. Geheime Staatspolizei sir, I will withdraw from participating in anything

[2018-03-31 03:11] divega commented on #11266
@TechnikEmpire you are welcome to stay and continue participating of this conversation in a civil manner or to leave if you so desire.

By “all comments you submit count”, I was referring to the fact that in my email I found comments from you that I no longer see in this thread. Yes, the code of conduct applies, because everyone that  subscribed to this thread will also receive them.

[2018-03-31 03:26] TechnikEmpire commented on #11266
@divega aw I'm welcome to stay, thanks buddy. You're giving me permission to participate on the internet. Thank you. So generous. Maybe I should have used English because the reference seemed to have zoomed right by you. Goodbye.

[2018-03-31 05:33] ErikEJ commented on #11502
One reason I have experienced is major issues using sqlpackage / SSDT with unnamed constraints

[2018-03-31 05:46] dehghani-mehdi commented on #11502
I always using T-SQL instead of wizard for creating tables (or altering them) and I always specify constraint names, I like to have clean names for all things (we have naming convention in our team)
Also I have auto-update system (replacing files/ running updated SQL on the fly) for my projects and in some versions I have to drop some constraint and I need to know the name of them. finding the con

[2018-03-31 07:29] roji commented on #11266
FWIW as a provider writer I can say that there has been a very good side to exposing internal types as public (under an Internal namespace). It has allowed me to implement functionality even if it involved using internal types, rather than completely blocking on them until the EF team makes them truly public releases a version (or use reflection). That's allowed a very flexible/fast workflow, as l

[2018-03-31 07:49] TechnikEmpire commented on #11266
@roji do you feel better tagging me over clearly deleted comments just to have your 2 cents heard? Going "off the deep end" is relative I guess. I view random people who just absolutely cannot resist the narcissistic need to have their opinion heard when no conversation was directed at them as "going off the deep end." Notice how basically everyone else bin'd and ignored the conversation? Not you

[2018-03-31 07:54] divega commented on #11266
@roji I agree re the public/internal surface. This is the main reason we did it. That said, it would have been great if you had to use more specific means to opt-in using an internal type in specific blocks of your code without a warning or error. The way things have been, it is apparently too easy for it to happen accidentally, and for us to miss the fact that an API that we consider is required

[2018-03-31 08:02] roji commented on #11266
@divega the namespace change is definitely important as we've seen. Maybe simply an analyzer check that produces warnings about usage of EF Core internal code? This way you'd be well-informed and can suppress the warnings if that's what you want. This could be useful for both providers and applications (which can also replace services etc.)

[2018-03-31 08:07] divega commented on #11266
Yes, an analyzer would be great.

[2018-03-31 08:20] ErikEJ commented on #11266
Enhance API consistency check and add it to the spec tests?

[2018-03-31 09:39] roji commented on #11266
@ErikEJ I *think* the problem with doing it in the spec tests is that it's actually OK to use internal code (after all that's why it's public), the main goal is to make sure people are aware that they're doing it. So there needs to be a way to say on specific usages "OK, I'm aware, I want to do it anyway". I'm not sure how such suppression could happen on a per-site basis outside of an analyzer-ge

[2018-03-31 10:12] ErikEJ opened #11510 "Unable to build latest dev"
Unable to build latest dev - getting 100s of NU errors causing failed restores.
Followed the Wiki steps for troubleshooting without any success
[code]
### Steps to reproduce
Get latest dev

Run : build.cmd /t:Compile from command line

### Further technical details
EF Core version: Latest dev
Database Provider: N/A
Operating system: Win 19
IDE: N/A (VS 15.6)

[2018-03-31 10:27] SSkovboiSS commented on #11510
@ErikEJ  it can be a problem on your end.

I just built latest dev using `build /t:Package`.
Did you try, what described here https://github.com/aspnet/EntityFrameworkCore/wiki/Getting-and-Building-the-Code in **Solving common build errors** section?

[2018-03-31 10:50] ErikEJ commented on #11510
Thanks, I did follow the troubleshooting steps, no luck

[2018-03-31 10:51] ErikEJ commented on #11266
@roji Analyzer suppressions ftw!

[2018-03-31 12:08] SSkovboiSS commented on #11425
Looks similar to #9751

[2018-03-31 20:10] elnoor commented on #10864
Hi guys, that would be awesome if there was a data-annotation for unique constrain.
https://stackoverflow.com/questions/49526370/is-there-a-data-annotation-for-unique-constraint-in-ef-core-code-first

[2018-04-01 01:10] divega opened #11511 "Performance: Review impact of new features on what happens during a request"
@anpete mentioned recently that while investigating some performance regressions he was surprised to see some expensive things starting to show up in profiles in 2.1.

He also proposed that a few of us review together the profiles to:
1. Make sure there isn't anything unexpected happening
2. Identify high-overhead features for which we could add an opt-out

Creating this issue so that we can prior

[2018-04-01 12:47] AlQuraian opened #11512 "ToTable name is not respected when it comes after OwnsOne"
Describe what is not working as expected.
I noticed that my database update creates a duplicate table of 2 names, one pluralized and one singular.

I found out that doesn't have the expected behavior:
[code]

Where's the following doesn't create the pluralized version (the expected behavior):

[code]

### Further technical details
EF Core version: 2.0
Database Provider: Microsoft.EntityFrameworkCo

[2018-04-01 13:43] greendimka commented on #6812
Voting up for the in-server UNION.
Imagine you have to union 5 similar queries, each produces 10001 rows: 10000 rows are same for each, and 1 is different.
If UNION runs on server - 10005 rows are transferred to a client.
If UNION runs locally - 50005 rows are transferred to a client.
Makes a difference.

[2018-04-01 14:57] EmreAbi commented on #1368
Allah belanizi versin

[2018-04-01 16:39] tuespetre opened #11513 "Let’s talk about change tracking and the specification tests"
I’m working on integrating a custom `IQueryCompiler` with EF Core and it’s going pretty well. I’m finding some ‘internal’ APIs useful so I plan to create an issue for that later to discuss how I am using them and what should be formalized as ‘public’ or what should be used instead. In this issue, I would just like to discuss the specification tests and change tracking and how they come together.

[2018-04-01 16:40] lite1294 opened #11514 "normal insert is throwing me an 'A first chance exception of type 'System.Data.SqlClient.SqlException' occurred in System.Data.dll''"
sir kindly help me with this as i m quite new to c# and doing this data insertion but its sending me this error..

**coding**:
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;
using System.Data.SqlClient;

namespace WindowsFormsApplica

[2018-04-01 16:41] lite1294 commented on #11514
![siub jksab](https://user-images.githubusercontent.com/12054054/38175412-aec10d82-35f9-11e8-8172-3c9141c1d152.JPG)

[2018-04-01 16:43] lite1294 commented on #11514
![kghbujkbuiphjohbk](https://user-images.githubusercontent.com/12054054/38175420-e44d9eac-35f9-11e8-8e8c-532671ae97e9.JPG)

[2018-04-01 16:50] sepehr1014 opened #11515 "SqlException: The operation 'MERGE' is not supported with memory optimized tables."
Using the preview release, I get the following exception when adding multiple entities to a DbSet:

[code]

### Steps to reproduce
Add entities in a loop and save changes:

[code]

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows Server 2016
**Using in-memory tables in SQL Server 2017**

[2018-04-01 17:42] sepehr1014 opened #11516 "The expected type was 'System.Nullable`1[System.Boolean]' but the actual value was of type 'System.Int32"
It seems there's a serious issue in the translation of this query:

[code]

[code]

### Steps to reproduce
Use the above query. It should return bool but returns int instead.

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows Server 2016
Using in-memory tables in SQL Server 2017

[2018-04-01 17:54] ShamsulAmry commented on #11425
Facing exact same issue. I'm trying to have something similar to the subitems subquery above as a means to not duplicate the where clause and thus prevent unnecessary future human error.

[2018-04-01 18:34] ShamsulAmry opened #11517 "N+1 queries when returning entity but not when projecting properties of entity"
Issue as per subject. Please see comment in code fragment below.

[code]

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.5.7

[2018-04-01 19:55] tuespetre commented on #11513
Addendum: I’ve been operating from `release/2.0` but I see that in 2.1 the query tests have been refactored in some pretty nice ways, where I could supply a custom QueryAsserter that handles the entry count differently. I think if I work from that angle instead I might be in the clear.

[2018-04-02 06:37] divega commented on #11514
@lite1294 for future reference, this issue is not related to this repo. That said, I just took a look at the screenshots you included and I can see that in your CREATE TABLE statement there is a column named `email` but there isn't any column named `email_id`, therefore your INSERT statements are incorrect. Hence the error you can see in the screenshot above: "Additional information: Invalid colum

[2018-04-02 06:52] divega commented on #11512
@AlQuraian By convention, in order to decide the name of the table for a given type X, EF Core uses the name of a property of type `DbSet<X>` property on your DbContext.

E.g. if the DbContext looks like this, the name of the table will be 'Xs':

[code]

That seems to completely explain the behavior you are seeing, but let me know if anything needs clarification.

[2018-04-02 09:39] ilmax commented on #11516
@sepehr1014 Can you share also your model?

[2018-04-02 09:50] ilmax opened #11519 "Small issue in wiky - Getting and building the Code"
In the wiki there's an error in the **[Getting and building the Code](https://github.com/aspnet/EntityFrameworkCore/wiki/getting-and-building-the-code#build-from-visual-studio)** page.
The powershell command to correctly change the PATH variable should be this one
`
$env:PATH="$env:USERPROFILE/.dotnet/x64;"+$env:PATH
`
i.e. the semicolon should be inside the string not outside otherwise this error

[2018-04-02 10:26] ilmax commented on #11410
I had a quick look at this, the change is straightforward but a lot of code is using `PropertyInfo`. If we allow expression with public fields, we should probably change a lot of code to work with `MemberInfo` instead, so this enhancement can be a quite big change. Any idea on this?

[2018-04-02 12:30] AlQuraian commented on #11512
@divega I know that this is the convention. However, I know that ToTable() is used to override that conventions. Which doesn't work on one of the given examples I mentioned earlier.

[2018-04-02 14:19] SanderRossel commented on #6812
Hearted this feature, seems like basic functionality.
I've searched my ass off for this extra SELECT query returning 8000 rows while I instructed a top 100!

context.Table1.Select(...)
.Except(context.Table2.Where(...).Select(...))
.OrderBy(...).Skip(...).Take(100).ToList();

Huge performance hit!
Makes set operators completely useless for any serious project.

[2018-04-02 14:43] bpaczkowski commented on #10194
@ajcvickers Could this behavior be separated into a different method instead? `AddOrUpdate`? In my opinion `Update` should only do that, update, not insert new records. I would expect `Update` to throw if PK is not provided beforehand, or at least not try to insert a new record.

On a side note, the documentation only mentions disconnected entities, but for the main entity it says it will be added

[2018-04-02 15:52] smitpatel commented on #11512
@AlQuraian - When you put `ToTable` call after builder (as in case 2), you are configuring table name for `Table` entity in database. That would override whatever name you have given to your DbSet property. By convention Owned type goes to same table as owner type hence there is just one table with singular name.

When you call `ToTable` after `OwnsOne` then you are actually configuring table name

[2018-04-02 15:54] smitpatel commented on #11519
Updated. Let us know if there is anything else we can improve on that page to make it easier for external contributors.

[2018-04-02 15:54] #11519 closed

[2018-04-02 17:57] bricelam opened #11520 "SQLite: Translate Guid.NewGuid()"
It should be OK to translate this to `randomblob(16)`...
...but it may not have the same guarantees and we should make sure it will be safe to do.

[2018-04-02 18:28] ilmax commented on #11519
I've got some xUnit error and to fix them I had to update xUnit and add a binding redirect to the test runner, but I wasn't sure if it was worth mentioning/creating an issue.

[2018-04-02 18:35] divega commented on #11473
@bpaczkowski We are going to need some help to repro. Could you provide a project and if possible detailed repro steps?

[2018-04-02 18:38] divega commented on #11472
__EF Triage:__ @ErikEJ curious why you need to set the MaxBatchSize. Since SQL CE does not support batching, your provider should not have any code that reasons about it.

cc @AndriySvyryd may be able to help if you have questions.

[2018-04-02 18:44] ErikEJ commented on #11472
Let me try to not set it!

[2018-04-02 18:50] divega commented on #11423
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-04-02 18:59] divega commented on #11520
Maybe we can tell SQLite to call back into Guid.NewGuid() as a mapped function.

[2018-04-02 19:01] divega commented on #11517
@smitpatel @maumar please find the duplicate.

[2018-04-02 19:02] divega commented on #11516
@sepehr1014 yes, it would really help if you can provide a repro project.

[2018-04-02 19:04] divega commented on #11515
@sepehr1014 can you please share a repro project or at least the relevant parts of the model?

@AndriySvyryd to investigate if we are missing anything in reverse engineering or if the user needs to tell us that the table is memory optimized.

[2018-04-02 19:06] divega commented on #11510
@ErikEJ we were seeing something similar on Friday too, but now it works for us. Can you try again?

[2018-04-02 19:08] divega commented on #11509
@WilliamABradley have you tried System.ComponentModel.DataAnnotations.Schema.ForeignKeyAttribute.

[2018-04-02 19:12] bpaczkowski commented on #11473
Here it is: [test.zip](https://github.com/aspnet/EntityFrameworkCore/files/1869051/test.zip). To reproduce simply add 2 migrations with `Add-Migration` command. Notice how in the first migration the FK is created correctly, while in the second migration a non-existent FK is being removed and a new FK is added, the same as in the first migration.

[2018-04-02 19:12] ErikEJ commented on #11510
I will, thanks!

[2018-04-02 19:22] divega commented on #11502
Two click-stops:
1. Generate a deterministic name and specify it in the DDL so that SSDT diffs are stable
2. Allow customizing the name

[2018-04-02 19:23] divega commented on #11501
@Mergasov could you try our nightly builds? We believe we have fixed this for preview 2.

[2018-04-02 19:23] arunprasathv commented on #7838
@bricelam getting this error while adding nuget package Tools.DotNet, project is targetting .Netcore 2.0.

Package 'Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.2' has a package type 'DotnetCliTool' that is not supported by project 'APIService'.

[2018-04-02 19:44] arunprasathv opened #11521 "Can't install EFCore.Tools.DotNet package via Package Mgr to .NET Corein VS2017 (windows)"
@bricelam @smitpatel @AndriySvyryd  getting this error while adding nuget package Tools.DotNet, project is targetting .Netcore 2.0. Is there a fix for this issue?

Package 'Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.2' has a package type 'DotnetCliTool' that is not supported by project 'APIService'.

VS 2017 - Windows.

[2018-04-02 19:49] AndriySvyryd opened #11522 "Query: Investigate perf regressions from 2.0 in QueryCompilationTests.ToList()"

[2018-04-02 19:51] smitpatel commented on #11456
This reproduces in 2.0.1 packages. But it is working in 2.1.0-preview1-final package. Closing as fixed. You can try out preview1 package which are available on Nuget.

[2018-04-02 19:51] #11456 closed

[2018-04-02 19:53] smitpatel commented on #11521
Duplicate of https://github.com/NuGet/Home/issues/4190
You have to do it manually by editing csproj file.
Here are the steps in docs. https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#installing-the-tools

[2018-04-02 19:55] smitpatel commented on #11517
Duplicate of #11186

[2018-04-02 19:57] smitpatel commented on #11519
Can you specify what kind of errors? And which version of xUnit are you using? (previous version and the version which fixed issues)

[2018-04-02 20:35] ilmax commented on #11519
Uhm, I was using the xUnit visual studio runner defined in `dependencies.props` and it wasn't able to run tests from inside VS, this was the error:

[code]
so after some research I updated the runner, this is the output of git diff
[code]

After this change I was able to run and debug tests from VS.
Please note that I didn't had any problem running test from command line.

[2018-04-02 20:39] #9295 closed

[2018-04-02 20:43] smitpatel commented on #11519
@ilmax - You hit the issue mentioned here https://github.com/xunit/xunit/issues/1665

[2018-04-02 20:46] ilmax commented on #11519
yep, but with the mentioned workaround I was able to make test runner to work

[2018-04-02 20:57] AlQuraian commented on #11512
@smitpatel Aha that makes sense. Thanks a lot for explaining that!

[2018-04-02 21:00] arunprasathv commented on #11521
@smitpatel Still getting same error,

Package 'Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.2' has a package type 'DotnetCliTool' that is not supported by project 'APIService'.			0

Here's my proj file

<PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="AutoMapper.Extensions.Microsoft.DependencyInjection" Version=

[2018-04-02 21:02] dazinator commented on #11456
Does this mean that in order to get this working for an asp.net core 2.0.0 website, we will have to upgrade to asp.net core 2.1.0? Or can EF 2.1.0 be consumed with an asp.net core 2.0.0 website - i.e are the versions of asp.net core and ef tightly coupled?

[2018-04-02 21:03] ilmax commented on #11261
If nobody is working on this, I would like to give it a try

[2018-04-02 21:08] smitpatel commented on #11521
I used that csproj file to restore packages. `dotnet ef` is working for me. What command are you running when you hit that error?

Also don't mix 2.0.2 & 2.1.0-preview1-final packages. Results could be unexpected.

[2018-04-02 22:15] AndriySvyryd commented on #8313
Fixed in eef4a6eb25fcdee11fd0568b5aec3c748cd713a1

[2018-04-02 22:15] #8313 closed

[2018-04-02 22:16] AndriySvyryd commented on #8298
Fixed in eef4a6eb25fcdee11fd0568b5aec3c748cd713a1

[2018-04-02 22:16] #8298 closed

[2018-04-02 22:29] smitpatel commented on #11456
@divega - Can you answer above question?

[2018-04-02 22:30] smitpatel commented on #11428
Removing milestone so that it shows up during triage.

[2018-04-02 22:54] #5529 closed

[2018-04-02 23:15] maumar opened #11525 "Query: order by anonymous object is silently ignored"
query:

[code]

produces the following QM:

[code]

[2018-04-03 00:02] AndriySvyryd opened #11527 "Use in parameter for EntityLoadInfo in IQueryBuffer"

[2018-04-03 00:30] divega commented on #11367
This issue was moved to dotnet/core-setup#3965

[2018-04-03 00:36] divega commented on #11320
@dsplaisted @livarcocc, I would like to move this to a more appropriate repo. Please suggest where. BTW, I already moved https://github.com/dotnet/core-setup/issues/3965, which seemed to also be file permissions-related.

[2018-04-03 04:29] littlesmilelove commented on #11438
@smitpatel Your code use the sql server, but my code use the postgre sql. I need some time to extract the issue code from my project.

[2018-04-03 06:05] divega commented on #11410
@ilmax It is unlikely we would take this for 2.1 at this stage anyway. If it is for the next release, how big the change is shouldn’t be as concerning.

[2018-04-03 09:35] littlesmilelove commented on #11438
@smitpatel I found when i degrade the PostgreSQL provider to 2.0.0, all things work properly, so i think this issue is related to the PostgreSQL provider.

[2018-04-03 10:27] Mergasov commented on #11501
@divega  got the same exception using preview2-28177

[2018-04-03 10:33] roji commented on #11438
@littlesmilelove it's pretty improbable that a change in the PostgreSQL provider from 2.0.0 to 2.0.1 triggered this - can you please re-confirm that you're using the same version of EF Core as you're changing the PostgreSQL provider version? Note that when you downgrade from EFCore.PG 2.0.1 to 2.0.0, by default this will also downgrade the EFCore version. So please make sure you're aware of all ve

[2018-04-03 10:56] viveknuna opened #11528 "Expected release date for EF Core 2.1?"
Please let us know the expected release date of EF Core 2.1. In the roadmap, its mentioned that final release on the second calendar quarter of 2018.

How can I track this?

[2018-04-03 12:04] divega commented on #11501
Thank you @Mergasov.

@AndriySvyryd, would you be the right person to investigate this now?

[2018-04-03 13:14] dennisroche commented on #5976
I think this would be useful and following the work already done for `dotnet` tab completion, https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md

[2018-04-03 13:35] prochnowc opened #11529 "Regression: Projection with cast throws InvalidOperationException"
If i have projection which contains a type-cast i receive exception. In EF Core 2.0 it worked fine.

[code]

### Steps to reproduce

[code]

### Further technical details
EF Core version: 2.1.0-preview1-final
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.6.4

[2018-04-03 13:36] tuespetre commented on #11528
Mind you I have no authority, but I'm going to guess that it will be around the time of the Build conference. Big updates like these are usually released along with some kind of event like that.

[2018-04-03 13:52] timeshifter commented on #1679
No views, no procs, no functions, no clean way of handling multiple result sets..... guys, this is unacceptable. This is nowhere close to minimum viable product. This is *basic* stuff that's simply absent, for no apparent reason.

[2018-04-03 14:33] fulte004 commented on #1679
@timeshifter I'm using views and stored procedures with EF Core 2.0 (and I could use functions, just don't need them for what I'm building), you'll just have to build the entity classes and their fluent mappings yourself, which I'm sure you knew already. If you're building a production application right now like I am, as a workaround for scaffolding views, you can leverage MS Excel or a similar sp

[2018-04-03 14:43] smitpatel commented on #11521
@arunprasathv - You _cannot_ add `Tools.Dotnet` package. You have to edit your csproj file and run dotnet restore.

[2018-04-03 16:03] Eilon commented on #11528
Hi folks, the public roadmap for ASP.NET Core and EF Core with schedule is listed here: https://github.com/aspnet/Home/wiki/Roadmap. It's currently stated as "Q2 2018", so expect April/March/June.

[2018-04-03 16:16] irensaltali commented on #6560
@rowanmiller I spend tons of hours because of that IntelliSense bug.

[2018-04-03 16:33] ErikEJ commented on #11472
Fixed (removed setting it) - guess I thought it made soemthing work pre 1.0 release or similar

[2018-04-03 16:52] ErikEJ commented on #11510
I cleaned according to the wiki doc, and can now build  - thanks

[2018-04-03 17:10] ilmax commented on #11410
@divega Thank for the info. I just wanted to point out that to enable this one it might require a fairly large change. I wish we had union type in C# for this one 😃

[2018-04-03 17:12] ilmax commented on #11261
Ok, no problem! I'm working on it now

[2018-04-03 17:27] bricelam commented on #11343
Related to #11297. Snapshot should contain `.IsRequired()` on the converted property.

[2018-04-03 18:36] #9439 closed

[2018-04-03 19:17] divega commented on #11507
@smitpatel curious, what is that we should discuss? There is at least one report that the problem still repros in some cases.

[2018-04-03 19:20] smitpatel commented on #11507
This was done since deadline for preview2 and it was "blocking" in preview2. It was done without any triage discussion with team. So I re-opened.

[2018-04-03 19:32] AndriySvyryd opened #11532 "Consider using parameters for migrations data operations"
Currently the values are inlined

[2018-04-03 19:38] smitpatel commented on #11481
Removing milestone to discuss further based on discussion https://github.com/aspnet/EntityFrameworkCore/pull/11524#discussion_r178936215

[2018-04-03 20:16] #11471 closed

[2018-04-03 20:43] xKloc commented on #10446
Any work around until its fixed?

[2018-04-03 21:26] dsplaisted commented on #11320
This issue was moved to dotnet/cli#8981

[2018-04-03 21:26] dsplaisted commented on #11320
@divega I've copied this issue to dotnet/cli#8981, but don't have permission to close it here.  Thanks!

[2018-04-03 21:29] ilmax commented on #11261
I made some progress on this, some unit tests are still missing but the implementation should mostly be done. I have a some questions though and would like to get some feedback because adding cache size support ended up in a breaking change, I've also left a couple of TODOs around.
What's the best way to proceed with this? Should I open a WIP PR or wait till 2.1 is out of the door?

[2018-04-03 21:34] bricelam commented on #9955
It looks like this is fixed. (Probably by #10652 or #10742)

[2018-04-03 21:34] #9955 closed

[2018-04-03 21:47] bricelam commented on #11369
This appears to be fixed (probably by @AndriySvyryd). Having the owned type inherit from `Collection<>` caused an incorrect model to be built.

[2018-04-03 21:47] #11369 closed

[2018-04-03 22:07] smitpatel commented on #11261
@ilmax - Feel free to open PR. We can always merge it after 2.1 or merge into feature branch if 2.1 is not fully done.

[2018-04-03 22:28] bricelam commented on #9836
I'm not able to repro this. Here is the code I tried with:
[code]
Tables for all 50 tenets were created without error.

[2018-04-03 23:21] #11183 closed, assigned to nobody

[2018-04-03 23:29] StevenRasmussen opened #11535 "[Custom Converter] SQLServer provider not recognizing properties of model when the clr type does not directly map to a DB type"
When using the new custom converters in 2.1, unless I first explicitly call .HasConversion on it, the properties are not considered to be a part of the 'EntityTypeBuilder' for the entity, and an error is thrown when trying to use the context.

[code]

### Steps to reproduce
See the following [repo](https://github.com/SimplerSoftware/EFCoreIssues)

1) Run the datamigration
2) Debug the console app

[2018-04-03 23:44] dgxhubbard opened #11536 "EF Core to implement lazy loading as it was done in EF 6"
I have two entity classes: Gage and Status, and the DbContext (this is pseudo code). I can create a database and fill it with sample data with no problem. However, when I load sample gages from the database using the code shown below I get Gages that have Status and then that Status has its Gages navigation property filled. I have seen lazy loading detailed here

https://docs.microsoft.com/en-us/e

[2018-04-04 02:46] tangdf commented on #11536
https://github.com/aspnet/EntityFrameworkCore/blob/3aa82151f8b14575875b419758e6deb2ee7cf497/src/EFCore.Proxies/ProxiesExtensions.cs#L35-L40

[code]

Call the extension `UseLazyLoadingProxies` method.

[2018-04-04 05:57] Tyology commented on #2266
It's frustrating running into project showstoppers with EF Core. I would consider no support for TPT to be one of them for certain types of projects. The column bloat and lack of enforcement by using TPH outweigh the performance gain. Not to mention we would lose the flexibility of working with separate types.

+1 for TPT please, I understand there are drawbacks (maybe some unforeseen) to TPT vs T

[2018-04-04 08:33] littlesmilelove commented on #11438
@smitpatel @roji Now my PostgreSQL provider version is 2.0.0 and my EntityFrameworkCore version is 2.0.1. The version which occur the issue  is PostgreSQL provider 2.1.0-preview1, by the way, in this preview version, the` IQueryable. Include()` with limit and offset join other tables will not work properly, you can just use my entities to test.  The generate SQL is wrong, if you need more detail i

[2018-04-04 09:20] razims opened #11540 "Include Query Filters into Compiled Query Cache"
I am moving an application framework based on EF on EF Core. I find the query filters as nice feature for multi-tenant applications. Unfortunately they are not considered in compiled query cache.

### Steps to reproduce
I have two parameters on my entities:
1. DeletedOn -> DateTime - on some objects.
1. Language -> String - on some objects (en-US, de-DE etc.).
2. TenantId -> Guid - all objects.

T

[2018-04-04 09:31] HashSix commented on #4573
Is there any work around with regards to this I see that you can't even access the API through .net standard.

[2018-04-04 09:39] synercoder commented on #10388
I still get the following output in my console:

[code]

Tested with:     Microsoft.EntityFrameworkCore.SqlServer: 2.1.0-preview3-32116

[2018-04-04 09:44] synercoder commented on #10388
Also updated my Gist (https://gist.github.com/synercoder/ca54951d01b75bf07a06c960405e5ec3) to use a nuget config linked to the MyGet feeds.

[2018-04-04 09:45] synercoder commented on #10388
@AndriySvyryd still reproes could you investigate again? As you can see by my output. The first round still errors.

[2018-04-04 14:29] shans-1983 opened #11542 "Error no 208 for EF 2 Identity issue"
2018-04-04T19:45:30.7479905+05:30  [ERR] An exception occurred in the database while iterating the results of a query for context type '"DataAccess.ApplicationDbContext"'."
""System.Data.SqlClient.SqlException (0x80131904): Invalid object name 'AspNetUsers'.
   at System.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__108_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultT

[2018-04-04 14:32] smitpatel commented on #11438
@littlesmilelove - Please share runnable project which demonstrate issue you are seeing.

[2018-04-04 14:41] smitpatel commented on #11540
@razims - QueryFilters are not part of `CompiledQueryCacheKey` because that would be redundant. QueryFilters are stored on `IModel` and cannot change unless model changes. And `IModel` is part of cache key.

Apart from that, please share a runnable code which can be used to see the failures you are seeing.

[2018-04-04 14:55] smitpatel commented on #11542
P.S. - Your database doesn't have tables created.

**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide

[2018-04-04 15:54] #11297 closed

[2018-04-04 15:54] #11343 closed

[2018-04-04 16:09] Tasteful opened #11543 "System.ExecutionEngineException when IIS application recycle"
We are running EFCore 2.0.1 (also tested with 2.0.2) inside Full .Net IIS Application. Tested with Framework version 4.6.1 and 4.7.1 with the same problem.

When saving the `web.config` to restart the site (also on rebuild the solution) the `System.ExecutionEngineException` is thrown and a Just-In-Time debugger popup asks to debug the process. After the site have been termidated of the exception i

[2018-04-04 16:19] xKloc commented on #10446
I had to move my collection to the base type and expose it in the inherited type.

[2018-04-04 17:45] razims commented on #11540
@smitpatel - i created a test project you can find it under [efcoretest](https://github.com/razims/efcoretest)

Please look into tests project, i have commented the steps.

[2018-04-04 18:32] todd-skelton opened #11544 "OwnedType with same property name as primary key causes error on migration"
I cannot use owned types that have an Id property. It will trigger an error on migrations. This is using dotnet core 2.1 preview1. I'm not sure if it works on previous versions.

[code]

### Steps to reproduce
Create new console app with the following code.
Run command `dotnet ef migrations add InitialCreate` from commandline

[code]
csproj
[code]

### Further technical details
EF Core version: 2.

[2018-04-04 18:43] divega commented on #11543
@Tasteful could you share the project privately? E.g. on email so that we can diagnose the issue?

Also, in case this is an issue with the conventions using too much memory, could you try with our nightly builds of EF Core 2.1? We have fixed a few bugs around that area.

[2018-04-04 18:52] divega commented on #11532
**EF Triage:** Migration scripts have to be self-contained, so we are not going to do this.

[2018-04-04 18:52] divega commented on #11532
@AndriySvyryd to capture some of the ideas we discussed in a new issue.

[2018-04-04 18:59] divega commented on #11525
@maumar to fix this by generating OrderBy().ThenBy() for GroupBy with Include.

[2018-04-04 19:05] divega commented on #11507
**EF Triage: ** We believe that this is fine the way it is.

[2018-04-04 19:05] #11507 closed

[2018-04-04 19:06] divega commented on #11501
@Mergasov thanks for raising this issue. We have fixed it but the fix will be available in a build after 2.1-preview2. In the meanwhile you can use the class `List<T>`.

[2018-04-04 19:06] #11501 closed

[2018-04-04 19:08] divega commented on #11434
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2018-04-04 19:14] divega commented on #11428
@smitpatel and @divega to do a binary search to find the magic number for max batch size that allows this repro to work.

[2018-04-04 19:16] #8446 closed

[2018-04-04 19:30] divega opened #11545 "2.1.0-preview2 verification: Exploratory testing of global tools"
@smitpatel to try the new dotnet ef global tools on Mac.

[2018-04-04 19:31] divega opened #11546 "Exploratory testing of state change events"

[2018-04-04 19:37] divega opened #11547 "2.1.0-preview2 verification: Exploratory testing of inheritance with owned types"
@maumar to try inheritance with owned types, combined with:
- Data seeding
- Value conversions
- Enums
- Migrations

On a raspberry pi in the cloud :trollface:

[2018-04-04 19:40] divega commented on #11544
@xKloc the call to `o.Property(e => e.Id).HasColumnName("OwnedTypeId")` here is the problem. By specifying that the `Id` property on the owned type need to map to a different column from the owner's `Id` property you have broken the model. If the owner and owned types share the table then the `Id` column has to be shared for both.

[2018-04-04 19:40] ilmax commented on #11410
@divega I would like to give this a try

[2018-04-04 19:47] divega commented on #11521
**EF Triage:** as explained by @smitpatel this error is expected when you try to add a project dotnet CLI tool as if it was a regular package. You just don't use it that way. The good thing is that with 2.1 you won't need to do this anymore because dotnet ef will become a global tool.

[2018-04-04 19:57] AndriySvyryd opened #11548 "Add a way to specify mapping for migrations data operations"
It could be used to insert data to unmapped columns or to override the model mapping.
Specifying the store type should be enough.

[2018-04-04 19:58] divega commented on #11536
@dgxhubbard I believe the only problem might be that you didn't know that in EF6 you were using proxies but in EF Core 2.1 you do. The package dependency and the very small code that you need to add (i.e. `UseLazyLoadingProxies`) in EF Core 2.1 to enable the feature is by-design.