[2016-07-08 17:44] flagbug commented on #5995
I'm seeing this too, if I add an integer column and configure it like

[code]

[2016-07-08 17:44] ajcvickers commented on #1002
Note for triage: we should decide to do this, or close./

[2016-07-08 17:45] ajcvickers commented on #1022
Closing since Redis is not being actively worked on right now.

[2016-07-08 17:46] ajcvickers commented on #1038
Closing since Redis is not being actively worked on.

[2016-07-08 17:47] ajcvickers commented on #1172
Just did this for 1.1 :smile:

[2016-07-08 17:47] #1172 closed

[2016-07-08 17:56] ajcvickers commented on #2571
Don't think we need to do this, and when we discussed the actual implementation it was not trivial. I think we should close.

[2016-07-08 18:01] ajcvickers commented on #4461
Triage: I think we should do this in 1.1

[2016-07-08 18:16] rowanmiller commented on #5968
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-08 18:24] natemcmaster opened #6029 "Support commands on portable and UWP class library projects"
As of 1.0.0-preview2, executing design-time commands on a UWP class library does not work.

**Reason it doesn't work yet**
MSBuild does not gather UWP dependencies into one location. The output of compiling UWP is insufficient to execute. We would need to manually gather the libraries dependencies in order to host the library as an app.

**Workaround**

You can still add migrations/scaffold code,

[2016-07-08 18:27] natemcmaster commented on #5969
Running tooling commands on a **UWP class library** is not currently supported (tracking support for that in #6029).

We will add a more helpful error message to make this clearer.  Closing as a duplicate of https://github.com/aspnet/EntityFramework/issues/5878

@yeasin90 you can workaround this by running commands on a UWP app instead.

[2016-07-08 18:27] #5969 closed

[2016-07-08 18:30] rowanmiller commented on #5975
You could try this as a workaround... `.Where(p => p.Code.StartsWith(filter.Trim()));`

[2016-07-08 18:40] rowanmiller commented on #5982
This is lower priority as it doesn't look like a common scenario, but we would take a pull request sooner if you want to take a look at fixing it.

[2016-07-08 18:52] rowanmiller commented on #6008
We think this is already fixed in our current code base, can you try against our nightly builds https://www.myget.org/Gallery/aspnetcidev.

[2016-07-08 18:58] rowanmiller commented on #6013
Agreed, because of how LINQ works the only option is to use `MakeGenericMethod` to create a `DbSet<T>` based on the type being used.

[2016-07-08 19:05] rowanmiller commented on #6025
@divega we want to discuss this with you when you are back

[2016-07-08 19:08] rowanmiller commented on #1002
We won't really be able to do this until we iterate on batching implementation.

[2016-07-08 19:20] rowanmiller commented on #5738
Realocating to 1.1.0 as the fix for this was pretty high risk.

[2016-07-08 19:52] AlexBilonog commented on #5980
Similar to  #5938

[2016-07-08 19:55] maumar commented on #5738
fixed in https://github.com/aspnet/EntityFramework/pull/6022, merged to dev in 06693727e15e48ed62695d89fa703a4d6a8fe813

[2016-07-08 19:55] #5738 closed

[2016-07-08 20:09] ajcvickers commented on #444
Closing since Redis is not currently being worked on.

[2016-07-08 20:09] ajcvickers commented on #1244
Closing since ATS is not currently being worked on.

[2016-07-08 20:23] Xipooo commented on #5664
This is happening in RTM as well.  I can provide an example if needed but only real difference between  miworx and mine is I'm using Lambda joins.

[2016-07-08 20:57] ajcvickers commented on #5970
@Kagamine There isn't public API to do this in EFCore 1.0. This is being tracked by #626.

However, you can do it by accessing our internal services. **But be aware that we may change these APIs in future releases which may cause your application to break when updated to a new version of EF.** That being said, if you are okay with it, then here is a small console app showing how to do in 1.0:
[cod

[2016-07-08 20:57] natemcmaster commented on #4833
Scope question: are we trying to do this just for csproj/packages.config projects?

[2016-07-08 20:58] skimedic commented on #5117
@ajcvickers Thank you! My midi-chlorian count must indeed be low.  I missed that several times.

[2016-07-08 21:15] natemcmaster commented on #4997
I could not reproduce this. As the original error mentioned, "mscordbi.dll" was the locked file. This file is part of the VS debugger, which we don't load as a part of EF command execution. My guess is something in the debugger was not correctly exiting.

@geoffmmorgan if this happens again, I recommend using something like ["Process Explorer"](https://technet.microsoft.com/en-us/sysinternals/proc

[2016-07-08 21:15] #4997 closed

[2016-07-08 21:23] natemcmaster commented on #6027
I could not reproduce just using composite keys.

The stack trace shows the bug is comming from a "`.WithOne`" call inside your method `Future.Clients.Universal.Services.Core.Data.OnFieldContext.ConfigureOrders`. Can you share more of your code or share a standalone, minimal repro project?

[2016-07-08 22:44] rowanmiller commented on #4833
Any progress we can make would be good, if csproj is easier then that would still be a win. BTW I think it would be really good to relax this restriction... but I also don't think it's a ship stopper for tooling RTM. So I think the decision can take into account how messy the implementation is 😄

[2016-07-08 23:05] rowanmiller commented on #6016
@anpete @maumar @smitpatel in triage we thought we already had an issue tracking the ability to specify an Include after the query shape has been changed (but is still a valid entity type)... but I'm having a hard time finding it. Any chance you guys know which one it is?

[2016-07-08 23:10] #5878 closed

[2016-07-08 23:11] rowanmiller commented on #6012
Duplicate of https://github.com/aspnet/EntityFramework/issues/4588

[2016-07-08 23:17] anpete commented on #6016
@rowanmiller This one? https://github.com/aspnet/EntityFramework/issues/3418

Not sure it is the same thing.

[2016-07-08 23:24] rowanmiller commented on #6016
Yep, that is the one I was thinking of. Should we just open a general "Support Include after changing query shape" issue and link to these two?

[2016-07-08 23:32] anpete commented on #6016
Yeah, tried it, and it looks like the same thing, so you can consolidate.

[2016-07-08 23:51] skimedic commented on #5793
@rowanmiller - I'm hitting this same issue in RTM - please let me know if this should be reopened or a new issue. Of course it could be a problem between my keyboard and chair as well...

I have code I can send you (it's the code for the new book) if that will help.  There are actually two issues that I am running into, don't know if they are related or if the other one should be a new issue.

1)

[2016-07-08 23:53] Kagamine commented on #5970
Wow! Thanks!

[2016-07-08 23:58] natemcmaster commented on #4833
Here is my thinking. After #5334, here is the tooling in layers of dependency:

- `.Tools.VisualStudio`/ `.Tools.DotNet`  = `init.ps1` and `dotnet-ef`
- `.Design` = `OperationExecutor`, the version-resilient design-time "entry-point" into the app
- `.Relational.Design` = other design-timey stuff.
- `.Relational` and below = the runtime stuff

The tools layer is the funny bit. `.Tools.VisualStudio`

[2016-07-09 00:06] Kagamine commented on #5970
@ajcvickers Is there any way to listen ToList() event of DbSet<T>? I want to make some modifies witj tje result while ToList has been called.

[2016-07-09 00:24] rasikaw-is opened #6033 "Scaffolding Changes Type Casing (e.g. ID -> Id)"
Hi everyone,

This is a possible bug report only, not 100% certain if it is. What is the best place to post discussion / question type posts on EF Core; is it here?

We were using ASP.NET Core RC1 with EF Core and are now migrating to the RTM release. When scaffolding using:

Scaffold-DbContext "server=(local);database=mydb;trusted_connection=true;" Microsoft.EntityFrameworkCore.SqlServer -OutputD

[2016-07-09 02:12] Kagamine commented on #5970
I have tried create a class which implements the interface IEntityStateListener, but the ef core didn't invoke the listener. :sob:

[2016-07-09 02:56] yukozh opened #6034 "IEntityStateListener has not been invoked."
@ajcvickers

[code]

[2016-07-09 04:09] yeasin90 commented on #5969
@natemcmaster  OK, thanks for suggesting the workaround, I will do with that. In that case, all my EF nuget packages and POCO, DbContext have to be inside UWP app?

[2016-07-09 04:43] yeasin90 commented on #5969
@natemcmaster Thanks for the workaround. In that case, i think My DbContext class has to be inside UWP app right (and POCO classes can be in UWP class library)?

[2016-07-09 07:09] fszakka commented on #5934
how to clear the caches

[2016-07-09 09:35] roji opened #6035 "AddColumn migrations created with bad default"
Hope I'm not reporting a dup here.

Testing with SqlServer, I've added this property to my model:

[code]

Generating a migration creates the following code:

[code]

Note the `defaultValue: 0`, which I didn't specify in the model in any way. Note also that if the column is defined when creating the table, the correct CreateTable migration is generated:

[code]

This causes an issue with Npgsql (h

[2016-07-09 13:00] strich commented on #4825
If anyone comes here for this issue and the above solutions haven't helped you, then you may need to do the following:

In Startup.cs you may have the line:
`public IConfigurationRoot Configuration { get; set; }`

Simply remove the `set;` like so:
`public IConfigurationRoot Configuration { get; }`

[2016-07-09 13:56] yeasin90 commented on #5969
Yes. Finally got it working. Did the below steps :
1. All my POCO classes and DbContext are in UWP class library with Microsoft.EntityFrameworkCore.Sqlite installed
2. Added app.config file in UWP app following #5471 and set it as startup project
3. From Package Manager Console, select UWP class library and executed migration command
4. Migration files were created in UWP class library and subsequ

[2016-07-09 18:47] yeasin90 opened #6036 "Lazy Loading feature suggestion in EF Core 1.0.0"
Hi,

Though Lazy Loading is not available in EF Core 1.0.0, but I think it would be handy if it's available. It would allow me to implement a Generic Repository Pattern

[code]

And my POCO classes with **virtual** keywords :

[code]

And finally, I could write my repositories without having to write those common functions. Navigation properties will be fetched in Lazy Manner (for virtual keyword)

[2016-07-09 18:50] thild commented on #5956
Ok. My mistake. I figured out the problem. The path of the package in .nuget/packages is created based on the casing of dependencies in project.json. Thanks for the reply.

[2016-07-09 19:07] gdoron commented on #5738
@rowanmiller Thanks for the fix and the update!
Is there an estimation on when 1.1.0 will be released?
The [roadmap](https://github.com/aspnet/Home/wiki/Roadmap) hasn't been updated for a month.

[2016-07-09 21:26] robbpriestley commented on #5996
@rowanmiller you were completely right. I'm very sorry for wasting your time. But not completely because meanwhile I learned something important. It turned out I was referencing a model entity in both of the contexts!! My bad but I am so happy to have this figured out, thanks!!

[2016-07-10 02:19] MicahZoltu opened #6037 "Include and Take to T-SQL results in unconstrained query."
### Steps to reproduce

[code]
### The issue

The second query returns all products when it should only return one product.

If you remove the `Include`, the query correctly returns a single row.  With the include however, it executes a query that should return 2 rows (one for each tag on the product) but instead it returns 4 rows (two products with two tags each).  I'm not terribly familiar with

[2016-07-10 02:39] gdoron commented on #6036
A. there is already a thread for LazyLoad: https://github.com/aspnet/EntityFramework/issues/3797
B. Since you're disposing the DbContext inside the `IRepository`, lazy load won't help you since the DbConnection was already disposed, hence the generic Repository you implemented here won't help you without an explicit `Include`.

[2016-07-10 05:38] yeasin90 commented on #6036
@gdoron : Yes, i missed the point as I am disposing my context from Repository level, so accessing navigating property will still result in Null or Count 0. On another note, Lazy Loading is not available, so below will also not fetch related entities :

[2016-07-10 09:09] gdoron commented on #6035
@roji How otherwise would you handle the already existing rows in the table?

[2016-07-10 09:19] yeasin90 commented on #3797
I think Lazy Loading would be handy, as it would allow me to write a Generic Repository, so that I don't have to write common functions on every repositories.
So, with Lazy Loading available : my POCOs would be :
[code]
And the generic repository :
[code]
Having all those, my repositories would be like below :
[code]

[2016-07-10 09:27] roji commented on #6035
That's a good question, but it seems like it's a migration detail. In other words, at the end of the process I should get the table definition that corresponds to my model, i.e. the same table definition I would have gotten if I created the table with the column in the first place.

One solution would be to add another migration operation to remove the default after the column is added. This way r

[2016-07-10 09:39] gdoron commented on #6035
@roji non nullable property obviously means NOT NULL column, so the developer made the decision already, I think there's no need to **force** any other manual action.

I agree that leaving the default value as part of the scheme is a bad idea though.

I would rather have something like `valueForExistingRows` which would update the rows before adding the new row.

	migrationBuilder.AddColumn<int>(

[2016-07-10 09:56] roji commented on #6035
The developer made the decision about the column being not null, but not regarding what should happen to existing rows... Basically it's a matter of whether 0 for existing rows should be a default, or something we force developers to choose. Both options make sense I guess; I definitely prefer the second because it seems like something the developer should confront - they may not have thought abou

[2016-07-10 10:02] gdoron commented on #6035
It's two operations. Update existing rows and adding the new column, no need to create a default value at all.

The table needs to be locked though so there won't be a new row between the update and the altering of the table.

@roji Now that I rethink about it, I prefer the migration to leave the value blank and not compile and force the developer to fill the value.
I just don't think it's inline

[2016-07-10 10:51] roji commented on #6035
Uh, how do you update the existing rows if you haven't yet added the column?? Or am I totally misunderstanding?

If you add a column with a default, then remove the default everything seems nice and safe, no concurrency/locking issues...

Anyway, I guess we can wait for Monday to see what the team thinks...

[2016-07-10 11:05] gdoron commented on #6035
OMG I'm an idiot... :flushed:

Yes you're right. You need to add default values and remove it later.

[2016-07-10 11:15] roji commented on #6035
We all get brain malfunctions every now and then :)

[2016-07-10 11:41] gdoron commented on #6035
Actually, I was off, but not that off.
What I usually do is add the new column as nullable.

[2016-07-10 12:30] Benny739 opened #6038 "Look for pending migrations and show user progress of migration while migrating"
Hi,

I would like to inform the user if there are open migrations before they are applied.
Is there currently a way to do this in wpf and windows Forms projects?

Sometimes the migrations can take very long and therefor I would like to show the user a progressbar with the status of the migration, otherwise he could kill the process and destroy the database, because he doesn't know that the migrati

[2016-07-10 14:15] flagbug commented on #6035
See also: https://github.com/aspnet/EntityFramework/issues/5995

[2016-07-10 15:27] brandonseydel commented on #6006
This is happening for me also
[code]

[2016-07-10 17:09] HassanSiddique commented on #5950
@rowanmiller  Yes, I tried RTM release but same error occur
I search a lot but nothing found helpful

I just Create .NetCore Web Application with individual user authentication and tried to register a new user but same error occur..

[2016-07-11 01:19] corradolab opened #6039 "NullReferenceException if FromSql returns no data"
[code]
Execute a Query using FromSql.<br/>
Let the query return a custom type, not directly backed by a physical table. <br/>
If the query returns no results, I get NullReferenceException. <br/>
No error if the query returns any result.

[code]

EF Core 1.0 with SQL Server (LocalDB)
Windows 10
Visual Studio 2015

[2016-07-11 10:18] janiceattard commented on #5530
Below are the two code listings - one for RC1 and one for RC2 with screenshots which show the preformance difference.

### RC1

_Program.cs_

[code]

_project.json_
[code]

_Results_

55989 queries
![2016-07-11 12_04_36-lrpublisherweb - remote desktop connection](https://cloud.githubusercontent.com/assets/17545705/16727390/284077e4-4761-11e6-97d4-b87540d2c7c8.png)

### RC2

_Program.cs_

[code]

_

[2016-07-11 12:49] flagbug commented on #5345
@rowanmiller What would be the best way to do this right now?

[2016-07-11 14:17] espentveit opened #6040 "Queries projecting entities incorrectly try to inline parts of their projection even when client side projection of those elements is required"
### Steps to reproduce
[code]
### The issue

The system should generate a query that selects the data within an acceptable time frame.

Tested with Linq to SQL (EF6). Gives a working query:
[code]

Tested with EF Core:
Output:
[code]

For each row in the result Entity sends the following queries. Which makes the query take a very long time:
[code]

### Further technical details

EF Core version: 1

[2016-07-11 15:22] satyajit-behera commented on #2266
@rowanmiller I hope, work on this item will start now. Thanks a lot.

[2016-07-11 15:26] satyajit-behera opened #6041 "Relational: 2nd Level Caching using a cache server like Redis"
Availability of 2nd level caching in a cache server such as Redis can be a really nice feature with EF.
Availability of Cache invalidation strategies within the framework will help more.

Thanks

[2016-07-11 16:21] lajones commented on #6033
Closing as dupe of #5947.

[2016-07-11 16:50] mdmoura opened #6042 "Can a String based Include alternative be created?"
On an API I need dynamic include but EF Core does not support String based include.

Because of this I created a mapper which maps String to lambda expressions added to a list as:

[code]

Consider the following specific types:

[code]

Include and ThenInclude normally used as follows:

[code]

Can also be used the following way:

[code]

The problem is that I need to make this generic so I tried

[2016-07-11 16:52] ajcvickers commented on #6006
@Benny739 @brandonseydel You may be hitting this: #703. If your issue is not this, then we will need code showing how the context is being used in order to investigate this.

[2016-07-11 16:55] agonzalezm opened #6043 "Exception when running efcore-1.0 and npgsql on mono 4.4.1, it was working with efcore-rc2."
### Steps to reproduce

.NET 4.5.1 ot 4.5.2 console app
efcore 1.0
mono 4.4.1
npgsql 3.1.5
### The issue

Running on windows works fine.

When running on linux/mono application crash when invoking migrate.

It was working on linux fine with efcore 1.0-rc2 as explainied here https://github.com/aspnet/EntityFramework/issues/5811

Also opened the issue in npsql but as it was working with efcore 1.0-r

[2016-07-11 17:00] ajcvickers commented on #6042
Dupe of #3921

[2016-07-11 17:03] mdmoura commented on #6042
@ajcvickers Yes, I have seen that issue but no solution was presented and String based Include was added to Backlog. So I was wondering if what I am trying to do is possible. This would allow to have a kind of Manual Dynamic Include until String Based Include is out ...

[2016-07-11 17:18] skimedic opened #6044 "Issue with Computed Fields using User Defined Functions"
This is the same issue that was described in [https://github.com/aspnet/EntityFramework/issues/5793](https://github.com/aspnet/EntityFramework/issues/5793), but was never resolved because of a lack of code samples.  I've attached code that illustrates the issues. If it's too much code, I can make a smaller sample, but it should be pretty clear. There are actually two issues that I am running into,

[2016-07-11 17:50] brandonseydel commented on #6006
Its when I add an entity and set it to attached it behaves this way.  If i _context.Intakes.Add(intake) it is fine.

[2016-07-11 17:52] anpete commented on #4786
Confirmed fixed in 1.0.0

[2016-07-11 17:52] #4786 closed

[2016-07-11 17:53] roji commented on #6043
This is an Npgsql issue, not an EFCore issue (https://github.com/npgsql/npgsql/issues/1195 is already open). Should be closed.

[2016-07-11 17:56] ajcvickers commented on #6043
Closing per @roji request.

[2016-07-11 17:57] Tarig0 opened #6046 "Feature Request: Ability to downgrade a db contexts database when using an older assembly"
The scenario:
Say you have an application utilizing code-based migrations with an initial release.

You go to deploy the next version updating the DB and pushing a website. (I currently do this with a single powershell)
All goes well release wise but there is a major bug found and the customer requires a rollback ASAP

Currently one would have to utilize the latest version of the application to do

[2016-07-11 17:57] ajcvickers commented on #3921
Marking for re-triage. We should consider this for 1.1

[2016-07-11 18:29] smitpatel commented on #6046
dupe of #2532

[2016-07-11 18:57] ajcvickers commented on #6044
Note for triage: this seems to be an issue with the update pipeline.

@AndriySvyryd I'm going to send out a PR containing a failing test.

[2016-07-11 19:02] ajcvickers commented on #6044
@skimedic The second issue you list is actually by design. EF does identity resolution when running queries such that if an entity with the same ID is already being tracked by the context, then it is not re-created or updated by the query. There is an item on our backlog (#1203) to implement a Reload method that would allow the values in the entity to be refreshed based on the current values in th

[2016-07-11 19:13] roji opened #6048 "Guid wrongly generated for alternate key Guid columns"
The following test fails on SqlServer and PostgreSQL:

[code]

The test fails, since instead of having an empty (all-zeros) Guid EFCore generates a random one. Checking the PostgreSQL logs clearly shows EFCore sending a random generated Guid, although that isn't configured on the model in any way. Removing the `HasAlternateKey` makes the problem go away, as does removing `HasDefaultValue` or addin

[2016-07-11 19:31] ajcvickers commented on #6048
@roji EF currently requires alternate keys to be populated with unique values in the same way that primary keys are. (Note that this is not the case for something that is just a unique index. There is usually no point in telling EF that something is an alternate key because it will always be implied by the relationship API if it is needed, but that's a different debate... If you just want a unique

[2016-07-11 19:36] Tarig0 commented on #5993
Not exactly the answer to your question but since VSTS uses powershell the following should apply

http://stackoverflow.com/questions/38273482/how-to-use-ef-code-first-migration-to-generate-scripts-from-powershell

[2016-07-11 19:38] smitpatel commented on #5877
merged to 1.0.1 via add3939bd592f1c4a7f249b81d024a2ff260091d

[2016-07-11 19:38] #5877 closed

[2016-07-11 19:42] maumar commented on #5522
fixed in 7d359abdca1046a41c1cdffed1a88d80af99fed1

[2016-07-11 19:42] #5522 closed

[2016-07-11 19:45] skimedic commented on #1203
+1

[2016-07-11 19:45] skimedic commented on #6044
@ajcvickers ok, thanks for the info.  I have a simple workaround for the second issue, so I'm not that concerned about it. Just wanted bring it up for completeness.

[2016-07-11 20:09] smitpatel commented on #6037
Similar to #5901  but with `Take` method.

[2016-07-11 20:19] roji commented on #6048
Ah, I understand - I indeed didn't understand HasAlternateKey as implying full key-ness, including ValueGeneratedOnAdd by default.

I think that EFCore should try to stick as close as possible to what the user expresses on the model - if the user chooses to say HasDefaultValue on a key, that should take precedence. In other words, if the user inserts two entities with a non-explicit (i.e. default)

[2016-07-11 20:25] maumar commented on #6040
duplicate of https://github.com/aspnet/EntityFramework/issues/4588

[2016-07-11 21:10] maumar commented on #6040
@espentveit this has also been improved significantly by https://github.com/aspnet/EntityFramework/commit/05b24c30b8b8693bc3daa78b195831bf45749a3f

We still produce multiple subqueries, but the filters are now translated so SQL, so the queries look like so:

[code]

[2016-07-11 21:10] #5220 closed

[2016-07-11 21:23] sanalbakis commented on #5968
Hi, sorry, I was on holiday, I can now write back.

Example models:

     public class BaseObject {
          public long Id { get; set; }

         public long BaseObjectId { get; set; }

         public long? ParentId { get; set; }
         private BaseObject _parent;

         public virtual BaseObject Parent
         {
             get { return _parent; }
             set
             {

[2016-07-11 21:34] #5909 closed

[2016-07-11 21:49] smitpatel commented on #5994
dupe of #5930

[2016-07-11 22:19] smitpatel commented on #6017
Infinite flipping of sides in `ForeignKeyAttributeConvention`

[2016-07-11 22:41] smitpatel commented on #5984
When you include navigation of type `List<SelectListItem>` that will bring `SelectListItem` as entity type in model. And all other types referenced by properties in it will be also brought in the model (recursively). See https://ef.readthedocs.io/en/latest/modeling/included-types.html#id2 to know how conventions discover types through navigations.
Every entity type must have a non-shadow primary k

[2016-07-11 22:41] AndriySvyryd commented on #5259
This doesn't repro with the latest bits

[2016-07-12 02:56] gdoron commented on #5930
Which library emits expressions with bitwise operators instead of logical and/or?
I've never seen such a library.
Anyway, if indeed there's such library, you should tell them they have a bug.
Can you share the code that emits the expression?

[2016-07-12 03:29] gdoron commented on #5930
From C# point of view, && is boolean operator and & is bitwise operator, it has nothing to do with "style of code".

var boolean = true | true; // == true - here it's more a boolean operator
var integer = 1 | 2; // == 3 - here it's a bitwise operator

This is incorrect, both are bitwise operators, even though bitwise operator on boolean type returns in (C#) a boolean, it's still a bitwise operator

[2016-07-12 03:42] #6017 closed

[2016-07-12 07:10] Kagamine commented on #5659
@Daniel15 There is an open sourced and free mysql provider for ef core now: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2016-07-12 07:11] Kagamine commented on #5682
@amattie There is an open sourced and free mysql provider for ef core now: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2016-07-12 07:43] saillemuin opened #6051 "dotnet ef command throws Unhandled Exception"
### Steps to reproduce

When trying to run the "dotnet ef" command in Command Prompt, I receive this error :
`"Unhandled Exception : Cannot print exception string because Exception.ToString() failed"`

Same problem for all other subcommands for "dotnet ef".

I get an `"dotnet.exe stopped working"` error and upon debugging this in Visual Studio 2015 I get this :

[code]

`
### Further technical det

[2016-07-12 07:50] ariksman opened #6052 "Many-to-Many relationship (with itself)"
### Steps to reproduce

Fluent api configurations:

[code]

Entities:

[code]

[code]
### The issue

Many to many relationship modelling with itself, **socket <-> socket**
The fluent api configuration mentioned above worked fine on RC2, but after updating I am receiving the following exception.

[code]
### Further technical details

EF Core version: RTM
Operating system: Windows 10
Visual Studio v

[2016-07-12 07:53] ErikEJ commented on #6051
Update to RTM, your tools version is too new.

[2016-07-12 08:52] Sjark commented on #6040
@maumar why is there created queries for each result in the example above?

As far as I can see, the two first queries created by EF should be the only queries needed to get the correct result back, so the query per result should not be needed at all.

The following is the sql generated by EF Core:
[code]

That should be all that is needed to generate the `List<FeatureVM>`

[2016-07-12 09:42] AlexBilonog commented on #5930
I found a dupe of this issue: #6024 (except '|' operator). It was set to 1.1.0 milestone. I think you could **close** one of two issues. It seems that VB.NET developers prefer to use 'And' operator rather than 'AndAlso'. Just wanted to say that "For bool operands, & computes the logical AND of its operands" (from msdn). And I naturally expected this to work everywhere (in all C# code).

"I don't r

[2016-07-12 11:42] AlexBilonog commented on #5930
P.S. I agree with you that it would be better, if '&' didn't work with bool values. And I always suggest developers to use '&&' instead. And for me it's not an issue now. Just wanted to notify you about changes between rc2 and rtm. I think you could close one of two issues.

[2016-07-12 13:06] ViktorBergman commented on #6027
@natemcmaster Making a repro was harder than I thought, but I'll hope to have it done today.
Sure the trace says the bug is coming from .WithOne but Visual Studio breaks on the next line after the .WithOne call, could just be VS playing me tricks however.

[2016-07-12 13:08] sleepingneon commented on #6048
@ajcvickers I'm sorry in advance if I got it wrong.
What if the alternate key has two or more fields? I.e. it doesn't need every single field to be unique but their combination should be unique. At the same time I'd like to have an ability to specify default values.

[2016-07-12 14:15] bragma commented on #5993
@Tarig0 thanks for your answer. It is in fact not exactly what I was looking for. Up to now I forced migrations using some code in "startup.cs". Now it seems it's possible to do something cleaner and better directly from publishing options of Visual Studio (I have to understand why it's not working, but I like the idea).
But at the end I'd like to achieve the same without having to publish manuall

[2016-07-12 14:17] bartekkois opened #6053 "Sequence contains more than one matching element after migration from RC1"
### Steps to reproduce

After I migrated my project from ASP.NET 5 RC1 to ASP.NET 1.0.0 and EntityFramerwork Core I can`t do Migration for my DataDbContext (Adding migration wokrs fine, but while I`m doing Update-Database I get "Sequence contains more than one matching element" like below). Before update from RC1 everything was working fine. Currently I`m able to do migration for my ApplicationDbC

[2016-07-12 15:11] crabulik opened #6054 "Behaviour of bool fields with HasDefaultValue option"
Hi. I need to clear such situation.
I have an entity Product with bool field:

`public bool IsActive{ get; set; }`

For that field I made such definition in my DbCOntext:

`protected override void OnModelCreating(ModelBuilder modelBuilder)
 {
            modelBuilder.Entity<Product>()
                .Property(b => b.IsActive)
                .HasDefaultValue(true);
 }`

So, if I insert the Produc

[2016-07-12 15:34] smitpatel commented on #6053
dupe of #5894

[2016-07-12 15:38] smitpatel commented on #6052
As exception msg said, `Navigation property can only participate in one relationship.` You are using navigation `Socket.ConnectedToSockets` for both the relationship which is incorrect.

[2016-07-12 15:52] Sebas- opened #6055 "Wrong save order for one to many in combination with multi level inheritance"
### Steps to reproduce

Create 4 classes, Relation (abstract), Person, Employee and Address. Employee inherits from Person, and Person implements Relation.

`public abstract class Relation {}`
`public class Person : Relation {}`
`public class Employee : Person {}`
`public class Address {}`

Relation entity and Address entity have a primary key
`[Key, DatabaseGenerated(DatabaseGeneratedOption.Ident

[2016-07-12 16:27] ajcvickers commented on #6048
@roji What you said makes sense, but not sure how high priority it is. We will discuss in triage.

@sleepingneon That should be fine..

[2016-07-12 16:59] dazinator opened #6056 "HasDefaultValue type casting"
### Steps to reproduce
Add a property to your entity that is a `short`, specify an integer as a default value:

[code]

### The issue

This worked in RC1, but in RTM:

![image](https://cloud.githubusercontent.com/assets/3176632/16775717/e743e330-4859-11e6-8847-a7758c8627ac.png)

It looks like in RTM, EF7 doesn't try to type cast, so it sees an int as an invalid value for a short.

Changing the cod

[2016-07-12 17:08] ToddThomson commented on #2167
Is there any current guidance for porting/migrating ASP.NET MVC Identity 2 sites with existing databases ( and migrations ) to use Identity 3?

[2016-07-12 17:15] dazinator opened #6057 "MaxLength missing - better error message"
### Steps to reproduce

Have a string property on your entity, but don;t configure a `maxlength`.
### The issue

To be helpful, the exception message should inform you of the entity name, and the property name, but it doesn't:

[code]

[2016-07-12 17:42] StefH commented on #833
A new Linqkit version has been created which supports the latests EF Core version. Can someone verify if this version works as expected / solves this issue?

[2016-07-12 19:52] smitpatel commented on #5456
Not able to reproduce the exception. Repro code works fine for me.

[2016-07-12 20:47] maumar commented on #6040
@Sjark that is a good point, we shouldn't be doing this twice. Will re-open and investigate

[2016-07-12 20:50] maumar commented on #6040
@espentveit currently you can make things better by splitting the query into two:

[code]

[2016-07-12 21:09] #5439 closed

[2016-07-12 21:26] ryanwinter opened #6059 "Select following GroupBy throws exception for SqLite"
### Steps to reproduce

Execute a GroupBy linq statement, followed by a Select results into a Collection throws an exception.
When I add a .ToList() however it works.

[code]

I can provide a mini solution if required.
### The issue

Throws an exception. The Select produces a class which provides the IEnumerable interface so I don't understand why it's unable to construct the SetCollection inline.

[2016-07-12 22:03] ajcvickers commented on #3007
Closing since efficient cleaning out of the database is now implemented.

[2016-07-12 22:03] #3007 closed

[2016-07-12 22:10] #5998 closed

[2016-07-12 22:43] bricelam commented on #2167
The EF6 documentation [Code First Migrations with an existing database](https://msdn.microsoft.com/en-us/data/dn579398) is still relevant. The `-IgnoreChanges` parameter on `Add-Migration` doesn't exist, but you can just delete the contents of the `Up` and `Down` methods if you go with option one.

[2016-07-12 22:44] gdoron commented on #6059
How would you translate `new SetCollection(c.Key, c)` to SQL?
I guess the first doesn't work because it tries to translate the expression to a SQL.
The latter works because you get the results before passing it to `SetCollection` constructor.

Not sure what EF team's policy about stuff like this, but I consider it is "by-design".
Interesting to know how they see it.

[2016-07-12 22:47] bricelam commented on #2167
Although there are a few more steps involved since the ASP.NET Identity schema also changed. @HaoK, is there a script somewhere to migrate from v2 to v3?

[2016-07-12 22:52] HaoK commented on #2167
No script currently, @ToddThomson can you try out the prerelease compat package to migrate (assuming your app looks fairly similar to the Identity 2 template app)?

- Run Enable-Migrations and ensure that an initial migration is created
- Install AspNet.Identity.CoreCompat and include the compat namespace to rebase your Identity POCO
- Run migrations using EF6 to update schema to V3

[2016-07-12 22:57] ryanwinter commented on #6059
I wouldn't expect the SetCollection(c.Key, c) to be translated into SQL, unsure why you think it would. I expect this object to be constructed from the results of query.

The difference between the two in my view, is that the first will allow me to construct my ObservableCollection<Set> from the IGrouping object (which provides an IEnumerator interface), rather than via a List constructed from the

[2016-07-12 22:58] theArianit commented on #2167
Will Visual Studio's reverse engineer (model from database) wizard come back (anytime soon) for Asp.Net Core web apps? Cuz we need it, we Visual Studio developers

[2016-07-12 23:07] ToddThomson commented on #2167
@HaoK I take it that you can start with the generic ASP.NET MVC Web Application with Nuget package Identity 2.2.1 installed. The AspNet.Identity.CoreCompat must then be a nuget package? I cannot locate this package name. Where can this package be found?

[2016-07-12 23:08] HaoK commented on #2167
https://www.nuget.org/packages/Microsoft.AspNet.Identity.AspNetCoreCompat

[2016-07-12 23:25] gdoron commented on #6041
I'll be very happy to get rid of my code I copy - paste from project to project and use a built in tool.

[2016-07-12 23:40] maumar opened #6061 "Query :: projecting FirstOrDefault() on empty collection of value types may cause NRE (generated SQL returns null rather than 0)"
query:

[code]

query plan:

[code]

this query will return {FISSA, NULL}, rather than {FISSA, 0}, which causes the error

[2016-07-13 00:21] hallzhallz commented on #5456
Hi, I am not sure if this is the same issue, but I get a similar error (exception below).

I have a pretty horrible linq query with multiple Include().ThenInclude() statements. It is slow it execute ~350ms. This query is executed from a core web api app and queried by an angular app. It works fine until the angular app makes multiple requests at the same time.

I have made some progress towards wh

[2016-07-13 00:25] ToddThomson commented on #2167
@Hoak I get the following error during the install of AspNetCoreCompat:

Failed to add reference. The package 'Microsoft.AspNet.Identity.AspNetCoreCompat' tried to add a framework reference to 'System.Collections' which was not found in the GAC. This is possibly a bug in the package. Please contact the package owners for assistance.

[2016-07-13 00:35] HaoK commented on #2167
Hrm package might not be updated correctly, in the mean time you can just try manually picking up the files it includes in your project and seeing if migrations works once you have your Identity POCOs derive from them (all these do is add the V3 schema changes basically)

https://github.com/aspnet/Identity/tree/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat

[2016-07-13 01:05] smitpatel commented on #5456
@hallzhallz - Can you share stand alone repro? The stack trace says exception is coming from same location so it should be same issue. By looks of it, the hard parts of the issue would be to have a query which is sufficiently slow & call query multiple times in short span.

[2016-07-13 06:44] MarcinSzyszka commented on #5456
@smitpatel Did you run app in debug, put breakpoint in cacth statement, press and hold for a while F5 (to produce many requests) in browser on api/home?
@hallzhallz your bug is exactly the same as mine. I'm creating new context for each request "from hand" -  not using registered context in IoC.

[2016-07-13 07:01] strivelearns opened #6063 "Why Don't Run This Releases 1.0 Source Code"
Compile Has 720 Error

[2016-07-13 07:04] hallzhallz commented on #5456
@smitpatel  I've tried to reproduce the error but it is elusive thus far - I will keep trying. The error only happens for one of the methods on my controller (which makes it likely I have done something stupid).

[2016-07-13 07:05] strivelearns opened #6064 "What's the difference between EntityFramework.sln and EntityFramework-xproj.sln"
What's the difference between EntityFramework.sln and  EntityFramework-xproj.sln

[2016-07-13 07:39] smitpatel commented on #5456
@MarcinSzyszka - I tried that way. But there are many factors which could affect the execution like processor speed, speed of SQL instance & rate at which browser refreshes on F5 pressed. Sadly, it did not throw exception for me.

[2016-07-13 07:41] smitpatel commented on #6063
Do you have visual studio update 3 + .NET core 1.0 installed? Are your nuget feeds configured to point to nuget.org ?

[2016-07-13 07:45] strivelearns opened #6065 "reference this source code,compile this error:"
E:\Practices\EfTest\src\EfTest\error CS0006: Metadata file 'F:\EntityFramework-1.0.0\src\Microsoft.EntityFrameworkCore.Relational\bin\Debug\netstandard1.3\Microsoft.EntityFrameworkCore.Relational.dll' could not be found EfTest  C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Common.Targets  262

[2016-07-13 07:57] stalker2016 commented on #6063
Thank you  .I installed Visual Studuio 2015 by Update 3 And DotNet Core 1.0 ,I Open EntityFramework.sln Before, Compile Has 720 Error.Now I Open EntityFramework-xproj.sln Has Zero Error.
What's the difference between EntityFramework.sln and EntityFramework-xproj.sln ???

[2016-07-13 07:58] MarcinSzyszka commented on #5456
@smitpatel You are right. I have last idea how you can find this bug. Maybe try compare changes in code between RC1 and RTM in classes from stack trace. Same app with same code in Rc1 works fine but when we tried upgrade to Rtm on one machine - we got this exception everytime. I believe you can solve this issue! ;)

[2016-07-13 08:06] ajr85 commented on #6052
Exception is quite clear, however this approach didn't cause exception on the RC2 and created following table:
[code]
May I ask how I can achieve similar results with RTM?

[2016-07-13 08:14] smitpatel commented on #6063
Before you open solution in VS, you need to run `./build.cmd initialize` in command line, which will restore the packages for all projects. That could be reason for compilation error. xproj solution would work since VS restores packages for them by reading `project.json` file.
EntityFramework.sln uses csproj based projects. EntityFramework-xproj.sln uses xproj-based projects. They use the same set

[2016-07-13 08:16] smitpatel commented on #6065
Above error suggests that building `Microsoft.EntityFrameworkCore.Relational` project failed hence dll was not generated. Which is referenced by some other project.

[2016-07-13 08:25] smitpatel commented on #6052
It did not throw exception in RC2 because, EF core was using last one wins approach but that could cause the model to be a lot different from what is expected by user. See #5540 and discussion in the corresponding issue.
As for similar results, navigations are part of domain model and not database model. Simply if you don't specify navigation in `.WithMany()` call, it would create same schema. But

[2016-07-13 08:29] peirens-bart commented on #6051
I'm the one having the windows 7 x64 computer running VS 2015 update 3
After updating the project.json for using the RTM dotnet ef stops working.
[code]
**Steps:**
- Clear nuget cache
- dotnet restore
- dotnet ef
The last one gives an exception
[code]
Do I need to install something or is the the project.config wrong?

[2016-07-13 08:57] stalker2016 commented on #6063
after day this xproj little by little replace csproj?

[2016-07-13 09:17] ajr85 commented on #6052
Ok, thank you for the clarification.

[2016-07-13 13:08] bajicdusko commented on #5812
I did not want to open new issues, since i have identical exception. My problem is more closer to this example here: [Must be reducible node exception when performing Join](https://github.com/aspnet/EntityFramework/issues/3103)

These are my models:

ProjectUser
[code]

User
[code]

And this is the query that i am executing:

[code]

Exception message 'must be reducable node':
[code]

As AlexTo co

[2016-07-13 16:26] ajcvickers commented on #6063
@stalker2016 We will evaluate changing the build as things progress with project systems. As of right now, I think most or all of the development team use csproj.

Closing this issue as I think @smitpatel answered your questions.

[2016-07-13 16:27] ajcvickers commented on #6064
One is a traditional csproj solution, the other is an xproj solution.

[2016-07-13 16:39] ajcvickers commented on #6065
Question answered. Closing.

[2016-07-13 17:18] ToddThomson commented on #2167
@HaoK  Since I couldn't install the AspNetCoreCompat package, I tried another approach. I created an ASP.NET generic web app with user accounts. I ran the we app which created the Identity v2 tables. I then created a generic ASP.NET Core web app. I used the same database connection string for both web apps. Using the ef dbcontext scaffold command I generated a dbcontext for the v2 schema and a v2

[2016-07-13 17:26] ToddThomson commented on #2167
@HaoK  Sorry, I just notice that you posted a link to the AspNetCoreCompat source above. I see how the v2 data protection is used.

[2016-07-13 17:50] ToddThomson commented on #2167
@HaoK Just to be sure: Is the PasswordHash compatible between Identity v2 and v3?

[2016-07-13 18:20] HaoK commented on #2167
Correct you need to use the backwards compatible password hash mode.

[2016-07-13 18:43] AndriySvyryd opened #6066 "Changing the principal of an identifying FK throws unhelpful exception"
[code]

Currently throws `The property 'OrderId' on entity type 'OrderDetails' is part of a key and so cannot be modified or marked as modified.`

This is confusing since the user didn't modify the property. We could detect the FK and suggest modifying the model or creating a new dependent entity.

[2016-07-13 18:59] AndriySvyryd opened #6067 "New collection navigation is not fixed up after reparenting"
[code]

[2016-07-13 19:10] ToddThomson commented on #2167
@HaoK Perfect. The last piece of the puzzle was that the NormalizedUserName needed to be set ( perhaps a bit inconsistent as the field NormalizedUserName is not required ) for the call to PasswordSignInAsync() to work. I'll need to either populate the "normalized" fields or figure out how to do this in the v2 to v3 migration.

[2016-07-13 19:44] ToddThomson opened #6069 "Question: How to add database changes after a specific migration has been made?"
After applying a migration to convert Identity tables from v2 schema to v3 schema I need to process all existing users and roles so that I can generate normalized values ( NormalizedUserName, etc ).

EDIT: These values need to be written back to the database/Identity tables as part of the migration.

What is the best way to accomplish this? Thanks in advance!

[2016-07-13 19:44] mkontula commented on #5674
Sorry for really stupid question, but since we're having this as well - what version should we be targeting to get the fix? 1.0.0 was released 16 days ago and this fix was committed at the time of writing 8 days ago. We have a parent/child relation like the one on this issue and null reference flying from same method in the internals.

[2016-07-13 19:48] HaoK commented on #2167
The normalized name is simply the toupperinvariant of the username by default.

[2016-07-13 19:53] ToddThomson commented on #2167
@HaoK Yes. I'm just trying to determine how to best generate and store the normalized fields in Roles and Users when I migrate the Identity tables from v2 to v3.

[2016-07-13 19:56] divega commented on #6069
Cc @haok who has worked on a sample for Identity, although the question seems more general.

[2016-07-13 20:04] ToddThomson commented on #6069
@divega I'm looking for guidance on how to set database table values as part of a EF Core migration. A Post migration event after the database has been altered is what I'm looking for. Can this be accomplished with EF Core at this time?

[2016-07-13 20:47] ajcvickers commented on #5674
@mkontula Fix is in 1.0.0.

[2016-07-13 21:03] smitpatel commented on #5369
This should be working in 1.0.0 already. @Villason - Can you verify?

[2016-07-13 22:33] jeffman1 opened #6073 "The instance of entity type 'UIELLUWP.DaaAccess.CategoryCodes' cannot be tracked because another instance of this type with the same key is already being tracked."
### Steps to reproduce

Create a very simple class as I have below with data annotations and then use the rest of the other code in main application. As you can see very simple but not sure if I am calling save changes incorrectly (All documentation official/non-official and code articles make it seem as if you can call it twice from a single context of the database. Is this true? Note: the code b

[2016-07-13 22:35] ikourfaln commented on #1035
+1

[2016-07-13 23:08] AndriySvyryd commented on #6055
@Sebas- Could you provide a minimal project that shows this issue?

[2016-07-13 23:41] maumar commented on #6040
fixed in f2632eb0fb9104427042625fb81ab8e135f3bb2c

[2016-07-13 23:41] #6040 closed

[2016-07-13 23:55] hallzhallz commented on #5456
I have found what causes the error in my project and created a new project that replicates the issue.

The problem occurs when the model has a one-to-many object (Post) that has a navigation property to a 'parent' (Blog), but that 'many' object (Post) does not specify a property BlogId in the model (see comment in BloggingContext.cs in project).

This in itself does not cause an error but a query

[2016-07-14 00:03] smitpatel commented on #5456
@hallzhallz - Thank you for repro project. I am able to get the exception.

[2016-07-14 00:23] maumar commented on #5939
fixed in 80b7c080fb8aa3c383bdbf9a3f07ec733a9372ed

[2016-07-14 00:23] #5939 closed

[2016-07-14 01:47] #5369 closed

[2016-07-14 02:11] #5217 closed

[2016-07-14 04:57] rdefreitas commented on #6069
This sounds like a scenario that isn't really best suited to a migration, but an independent script or set of startup actions.

Unless, of  course, you can do everything you need via SQL... then you can use
`migrationBuilder.Sql("UPDATE TABLE [Foo] SET [Bar] = 1")`

[2016-07-14 05:59] ermithun opened #6077 "Table column order as class property not working in Entity Framework Core"
Table column order as class property  not working in Entity Framework Core ?
Need Help to solve this issue.

[2016-07-14 06:35] mkontula commented on #5674
@ajcvickers Thanks for the info. I actually found out a way to make it brake, when you setup the parent/child relation for parent AND child and then SaveChanges to context. I'll make reproable sample later.

[2016-07-14 07:23] Eisenstein commented on #2336
@mrahhal I'm getting an error 'No executable found matching command "dotnet-ef"'
What could be wrong?

[2016-07-14 07:28] Sjark commented on #6040
I have now tested the fix, and it is not generating the sub queries now (intended?).

The query now takes about 15 seconds with the current fix, in EF6 it only sends one query to the database that has to sub queries, and gets the result back in under 1 second.

At the moment, our FlexLmLicenseFiles table got 472 rows, so with the current query plan, the above linq example will send 472 * 2 queries

[2016-07-14 07:48] mrahhal commented on #2336
@Eisenstein please check the repo's issues (there's a good change you'll find it) or create a new one.

[2016-07-14 08:00] maumar commented on #6040
@Sjark lack of subqueries is intended. The fix is pretty much about removing those subqueries - they were not being used in the end result (we don't know how to flow it to the result objects).

The problem should go away once #4588 is fixed and it's scheduled for 1.1.0

In the meantime you can use the workaround provided above - splitting the query into two parts, one containing fields accessed th

[2016-07-14 08:36] HaoK commented on #6069
In our compact package, we chose to simply compute the normalized properties always in the getters instead of storing them.  But we were targeting identity v2 apps working along side identity v3 apps in the same database.

See https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity.AspNetCoreCompat/IdentityUser.cs

If you are just upgrading to identity v3, you should just be able

[2016-07-14 09:56] shaulbehr opened #6078 "Group by related object is not performing as expected"
I'm simplifying here, but this is the idea:

[code]
I would expect one item in the resulting list per customer.  But the actual behavior has multiple records for the same Customer.  I haven't worked out any pattern; the grouping seems to be arbitrary.
When I change the code to this, it works:
[code]
But of course, that's pretty ugly.  Plus I put a sniffer on the DB and found it was doing a select

[2016-07-14 10:05] bhallaheemanshu commented on #2336
@rowanmiller any link suggestion to use scaffold & Migrations in rc2

[2016-07-14 10:06] Sebas- commented on #6055
@AndriySvyryd Of course, see attached.

[EntityFrameworkTest1.zip](https://github.com/aspnet/EntityFramework/files/363435/EntityFrameworkTest1.zip)

[2016-07-14 11:31] gdoron commented on #5962
@rowanmiller can you share the benchmarks with the community? :pray:
Thanks.

[2016-07-14 13:14] ToddThomson commented on #6069
@rdefreitas Yes, I agree, the migration class is not suitable ( except where Sql() can be used ). With EF 6, I had a module Initialize routine that was called during startup to handle migration tasks at the services layer. I utilized System.Data.Entity.Database and MigrateDatabaseToLatestVersion which I don't believe exist in EF Core.

The specific issue I have with the Identity v2 to v3 schema ch

[2016-07-14 14:07] ToddThomson commented on #6069
@divega Ouch. Is it the case that the Migrator will not work with Migrations in a core library?

[2016-07-14 15:19] #5695 closed

[2016-07-14 16:45] ajcvickers commented on #6077
Duplicate of #2272

[2016-07-14 16:57] Jargon64 opened #6080 "Exception when trying to use InMemoryDatabase for unit testing"
I'm not sure whether this goes here or in the Testing repo but it's relating to EF. I'm trying to get xUnit working with EF's InMemoryDatabase but I'm having an issue I can't get around and none of the documentation is helping. I've Google'd around for my error but no one else seems to have experiencing it. It's either the documentation is out of date or I'm doing something wrong.

I have the foll

[2016-07-14 17:04] ajcvickers commented on #6080
@Jargon64 When you are using the in-memory database you can't make calls to relational-specific code. SetCommandTimeout is one such call. See #5150 for a discussion of testing relational code.

[2016-07-14 17:15] Jargon64 commented on #6080
@ajcvickers Thanks for the swift response and pointing me in the right direction. Just skimming over that other issue highlights that I'm going to continue to experience issues if I keep heading down this path. I think I will attempt to use SQLite in memory mode as has been suggested and hope it works for everything I need to do.

[2016-07-14 18:12] maumar commented on #5025
this has been improved by https://github.com/aspnet/EntityFramework/commit/05b24c30b8b8693bc3daa78b195831bf45749a3f

We still produce N+1 queries, but no longer query all the rows in the child queries, just the relevant ones, like so:

[code]

[code]

[2016-07-14 18:26] maumar commented on #5025
sending to re-triage

[2016-07-14 18:49] #5773 closed

[2016-07-14 19:48] ralmsdeveloper opened #6081 "Not creating fields in the sequence of the class using the [ Column ( Order = ..) ]"
**I have a class and as the EF Core creates the table does not meet the class order.**

[code]

**I'm using [ Column ( Order = ..) ]**

EF Core version: 1.0 RTM
Operating system:  Windows 10 x64
Visual Studio version: 2015 Update 3

[2016-07-14 19:50] ajcvickers commented on #6081
Duplicate of #2272

[2016-07-14 19:54] ralmsdeveloper commented on #6081
So there is no definitive position on the matter ? or when it will be resolved ?

[2016-07-14 21:35] anpete commented on #5958
Verified fixed in dev.

[2016-07-14 21:51] #5958 closed

[2016-07-14 22:54] anpete commented on #5853
@PawelGerr Interested to hear your feedback on this, but the EF Core behavior is designed to better match the expected semantics of IEnumerable<T>. I.e. Lazy evaluation and streaming of results. As you note, you can force explicit buffering of the query via ToList or ToArray.

[2016-07-14 23:23] jeffman1 commented on #6073
Additional Information: I cannot find out where the additional key is being tracked. Despite limiting different code and commenting out a database.migrate line I put into the app.xaml.vb file. I temporarily fixed it once by recreating the database again. Am I using the code wrong?

[2016-07-14 23:30] guillerglez88 opened #6083 "How can i replace default IMigrationsSqlGenerator service"
What i'm trying to enable is running code in the middle of a migration in order to apply some processing in c# code, it is specially useful wen you need to consume external services or you need to migrate serialized data, E.g:

[code]
### The issue

In older versions of EF (7), i used to register my custom SQL migration generator before calling `services.AddEntityFramework()`, as shown below:

[co

[2016-07-14 23:46] ajcvickers commented on #6083
@guillerglez88 You need to make sure to call UseInternalServiceProvider in either AddDbContext or OnConfiguring. For example:
[code]
or
[code]
The exact pattern to use depends on how you are configuring your context and whether or not you want EF to share the same service provider as the rest of your app, but hopefully you get the idea.

[2016-07-15 01:15] vbfool commented on #6051
I use the "dotnet ef"，give me a exception:
`Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.DotNet.Cli.Utils, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.
    at Microsoft.EntityFrameworkCore.Tools.Program.Main(String[] args)`

My project.json is
`{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.0",

[2016-07-15 01:44] kennywangjin opened #6084 "query for many to many relationship causes stackoverflow exception:"
### Steps to reproduce

[code]
### The issue

relationships: one printer has many cartridges and cartridge could be used for several printers (many to many)
when I try to get one printer with its all cartridges, ef throws always stackoverflow exception as the following.

[code]
### Further technical details

EF Core version: ef core 1.0.0 rtm
Operating system: windows 10 x64 pro 10586
Visual Studi

[2016-07-15 02:14] kennywangjin commented on #6084
my bad. it's Automapper problem. Not EF core. when I drop automapper, it works now. sorry.

[2016-07-15 08:40] rondefreitas opened #6085 "Abstract out IIncludable/Async Extensions for Generic use"
### The Problem

When building and testing real-world applications with EntityFramework, it is not always possible to take advantage of the Async and IIncludable extensions.

Many application structures abstract away the ORM code behind generic repositories and services that focus on the IQueryable interface; Along the way, lose the advantage of the EntityFrameworkQueryableExtensions, both in busi

[2016-07-15 10:34] WiliamGP opened #6086 "Problem when I add migration"
I'm developing an application UWP and when I add migration an error occurs stating that the entity needs a primary key, but the primary key is defined in the code. Follow the error and the class code. Someone can help me?

Best Regards!

Error:
The entity type 'object' requires a key to be defined.

Class:

[code]

[2016-07-15 12:00] saillemuin commented on #6051
I have updated to RTM, receiving the same error as mentioned [on this dotnet/cli issue here](https://github.com/dotnet/cli/issues/3860)
Suggested solution doesn't help me unfortunately

[2016-07-15 12:33] saillemuin commented on #6051
Solved by following this solution
https://github.com/aspnet/EntityFramework/issues/5886

[2016-07-15 13:10] PaulRReynolds commented on #5938
Hi folks, any chance of a link to the relevant issue on this one? @anpete @maumar Would be really appreciated so that we can get an idea of the milestone. Thanks!

[2016-07-15 13:21] guillerglez88 commented on #6083
Is there any pitfall if I choose to use same service provider as the rest of my app? I noticed many times a new scope is created in order to provide a clean scope to EF DbContext.

[2016-07-15 13:25] guillerglez88 commented on #6083
I have chosen option 2, because I'm configuring services in app `Stratup.cs`. It worked right as you said. Thanks!

[2016-07-15 15:42] nweigl opened #6087 "Keys in CLR Abstract Base Class Broken"
### The issue

We are working on a multitenant database using EF. In EF6, we used an abstract CLR base class to define the primary keys (and other common fields) which all of our models would inherit. We have a composite primary key consisting of TenantID and ID, so TenantID is part of both the primary key and all foreign keys in the table (this allows us to have all the data for all tenants in th

[2016-07-15 16:16] UppaJung opened #6088 "Async query on UWP throws InvalidOperationException: 'System.Reflection.MemberInfo.get_MetadataToken() cannot be used on the current platform'"
[Also posted as https://github.com/aspnet/Microsoft.Data.Sqlite/issues/277]
### Steps to reproduce

[code]
### The issue

The query in GetAsync results in the following exception:

Exception:
System.InvalidOperationException

The API 'System.Reflection.MemberInfo.get_MetadataToken()' cannot be used on the current platform. See http://go.microsoft.com/fwlink/?LinkId=248273 for more information."

a

[2016-07-15 16:36] ajcvickers commented on #6083
@guillerglez88 Using the same service provider as your app should be fine. It means that your app is more tightly coupled to EF and it is possible that something you do with services for your app could impact EF, although this is unlikely.

[2016-07-15 16:44] natemcmaster commented on #6086
This is likely a duplicate of #5945. DataAnnotations are currently broken on UWP due to changes in the BCL. See https://github.com/aspnet/EntityFramework/issues/5945#issuecomment-230854436 for a workaround.

[2016-07-15 16:56] ajcvickers commented on #6087
@nweigl From your description it seems that you want EntityBase to be an unmapped base type. However, the way you have your code it will be mapped because of the `Entity<EntityBase>` call. This means that because EF Core only supports TPH mapping all your entities would end up being saved to just one database table.

To instead use EntityBase as an unmapped base type you can define the key for eac

[2016-07-15 17:06] rowanmiller commented on #6011
We do have plans for a command line executable like `dotnet ef` that can be used on any compiled assemblies (tracked by https://github.com/aspnet/EntityFramework/issues/646). In the meantime you can use [Script-Migration -Idempotent](https://docs.efproject.net/en/latest/miscellaneous/cli/powershell.html#script-migration) or [dotnet ef migrations script --idempotnent](https://docs.efproject.net/en/

[2016-07-15 17:06] rowanmiller commented on #6011
Closing as I think I've answered the question, but feel free to reply if not.

[2016-07-15 17:11] rowanmiller commented on #6001
We've discussed this at length and concluded that we want to keep the current restrictions where the exact type of the entity being saved needs to be part of the model. Not doing this would make it very easy to think you have inheritance setup, but to inadvertently be just saving the base type data. Also, saving a derived type (`Customer` in your example) and then querying it back would result in

[2016-07-15 17:13] rowanmiller commented on #5995
Closing this one as a dupe of https://github.com/aspnet/EntityFramework/issues/6035 as the other issue has more discussion etc.

[2016-07-15 17:15] rowanmiller commented on #5993
@sayedihashimi (who owns the publish functionality in Visual Studio) is there a way to use the same workflow from VSTS?

[2016-07-15 17:18] rowanmiller commented on #5984
Given that `SelectListItem` doesn't have a property that can be used as a primary key, the best option would be to create an entity class that wraps `SelectListItem` and captures that data that needs to be saved/queried. In the future, something like our Flexible Mapping feature (https://github.com/aspnet/EntityFramework/issues/240) would make reading/writing from/to a `SelectListItem` property a

[2016-07-15 17:21] rowanmiller commented on #5981
Our guess here is that you are incurring some extra UWP sand box checks because a Data folder in the install directory is not optimized for writing data to. Is there a reason you want to put data there rather than the default location for data files? Also, do you see the same slowdown if you just use SQLite directly (i.e. are you sure this is an Entity Framework issue)?

[2016-07-15 17:34] rowanmiller commented on #5974
To help with triage, here is how the warnings show up in VS Code
![image](https://cloud.githubusercontent.com/assets/4741851/16883207/b1369600-4a77-11e6-9421-8f65c794ebb2.png)

[2016-07-15 17:37] rowanmiller commented on #5974
BTW, worth noting that an actual compile of the project does not render any warnings (as expected):

![image](https://cloud.githubusercontent.com/assets/4741851/16883294/15ca6b96-4a78-11e6-9fd4-00fd30481b3e.png)

[2016-07-15 17:42] rowanmiller commented on #5972
Discussed at length as a team and concluded that we aren't planning to do this in the main runtime API. It seems that a truncate operation is intended to be used as part of schema management, therefore it may fit better into the migrations side of things. Either way, the truncate statement is very simple and can be easily called from the runtime API (`context.Database.ExecuteSqlCommand("TRUNCATE .

[2016-07-15 17:44] rowanmiller commented on #5967
Agreed, we are executing `title.ToLower()` to get the value to compare to and since it is null you get an exception. This is how .NET works and not specific to EF.

[2016-07-15 17:47] rowanmiller opened #6089 "Dynamically Connect to Multiple Databases"
From @GSPP' comment in #5626:

from o in db.Orders.WithDatabase("NewYork-Tenant1234")
join c in db.Customers.WithDatabase("NewYork-master") on ...
select new { o, c }
[code]

[2016-07-15 17:48] rowanmiller commented on #6089
More notes from @GSPP

2. Navigation properties should be supported across databases. I am using this pattern right now with a large L2S application. The use case is that one database is small and on different storage. The other one is for "bulk data" (all kinds of logs) and is on different storage. It is super convenient to hide this split from the application. Of course there can't be any FKs sp

[2016-07-15 17:48] rowanmiller commented on #6089
Split out from https://github.com/aspnet/EntityFramework/issues/4898

[2016-07-15 17:49] maumar commented on #5938
duplicate of https://github.com/aspnet/EntityFramework/issues/5613

[2016-07-15 17:50] rowanmiller commented on #4898
Given that this issue ended up being about a couple of features, we decided to track them separately:
* Support specifying catalog for table mapping #4019
* Dynamically Connect to Multiple Databases #6089

Neither of these are things we are planning to tackle right away, so they are both on the backlog for the moment.

[2016-07-15 17:53] GSPP commented on #5972
Alright!

[2016-07-15 18:21] rasikaw-is opened #6091 "Left Outer Join Results Difference Between EF Core 1.0 and EF 6.x"
![customer-table](https://cloud.githubusercontent.com/assets/17261431/16884100/d0eb8cba-4b0a-11e6-840d-983af23a4ff0.png)
![postcode-table](https://cloud.githubusercontent.com/assets/17261431/16884101/d0eecaa6-4b0a-11e6-846f-b0734e3ade4e.png)

Hello everyone,

There is a difference in the way the results are generated in left outer joins between EF Core 1.0 and EF 6.x.

Results for EF Core 1.0 usin

[2016-07-15 18:27] anpete commented on #6091
@rasikaw-is Thanks for reporting. Are you able to post the SQL queries for both?

[2016-07-15 18:33] SiqiLu commented on #1035
+1

[2016-07-15 18:36] nweigl commented on #6087
@ajcvickers I see. I was hoping for a less manual solution so that we don't have to add another key definition every time we add a table, as previously we had defined the composite keys in the base class as attributes, which is no longer supported in EF Core. Originally, I had attempted to find a way to iterate over all the derived tables and set the keys like you mentioned, and was unsuccessful,

[2016-07-15 18:44] rowanmiller commented on #5855
Adjusted docs to be clearer in https://github.com/aspnet/EntityFramework.Docs/commit/1c52eeb17f5281757e91bf0d3ac34ffb591befa5

[2016-07-15 18:44] #5855 closed

[2016-07-15 18:51] rasikaw-is commented on #6091
@anpete Sure, the database script for the tables and data is below (the same tables and data were used for both).

[code]

[2016-07-15 18:52] ajcvickers commented on #6087
@nweigl
[code]

[2016-07-15 18:54] anpete commented on #6091
@rasikaw-is Thanks. Can you post the EF generated SQL queries, too? You can get them out of SQL Analyzer or by using EF's logging.

[2016-07-15 19:13] ellsworthpcx commented on #5958
Any suggestions for when this will release or a workaround? I hit this bug about two hours ago...

[2016-07-15 19:15] rasikaw-is commented on #6091
![results-ef-core](https://cloud.githubusercontent.com/assets/17261431/16885845/f0198e76-4b13-11e6-8a9b-055fbff33cef.png)

![results-ef6](https://cloud.githubusercontent.com/assets/17261431/16885850/f48345ba-4b13-11e6-8173-9ea43850500e.png)

@anpete Yep, here they are. I have also included screenshots of the results (the first one is of EF Core 1.0 and the second one is of EF 6.x).

[code]

[2016-07-15 19:19] anpete commented on #4048
@mfernandezruiz @santiag0sc The easiest place right now to intercept the LINQ expression tree is probably [IQueryCompiler](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore/Query/Internal/IQueryCompiler.cs).

The general approach would be to register a custom impl. of IQueryCompiler (likely a subclass or decorator of our concrete QueryCompiler class), and perform

[2016-07-15 19:20] anpete commented on #4048
Here are the docs for custom service registration: https://docs.efproject.net/en/latest/miscellaneous/internals/services.html

[2016-07-15 19:21] rowanmiller commented on #5958
@ellsworthpcx don't have dates for 1.1.0 release as yet, but you could swap to nightly builds if you want https://www.myget.org/Gallery/aspnetcidev

[2016-07-15 19:32] anpete commented on #5845
Interception is built-in to EF Core via our DI system. See https://docs.efproject.net/en/latest/miscellaneous/internals/services.html for details, but the general approach will be to subclass or decorate and existing EF component and register it such that EF will use the custom version.

Now, the question becomes, where is the best place to inject specific custom logic? For query, there are severa

[2016-07-15 20:13] rasikaw-is commented on #6091
![debug-view-ef-core](https://cloud.githubusercontent.com/assets/17261431/16887194/e55af2d8-4b1b-11e6-9080-95d474c945d7.png)

@anpete Here is also the EF Core 1.0 debug view at the statement below (the additional fields were not included in the code for brevity):

[code]

[2016-07-15 20:34] rowanmiller commented on #6008
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-15 20:34] rowanmiller commented on #6016
Dupe of #3418

[2016-07-15 20:44] rowanmiller commented on #6044
@AndriySvyryd when we understand this more we can make the 1.1 vs 1.0.1 call

[2016-07-15 20:49] rowanmiller commented on #6048
Discussed and decided we should raise a warning in this case

[2016-07-15 21:12] rowanmiller commented on #6085
Going to wait unitl @divega is back in the office to discuss this.

[2016-07-15 21:26] ajcvickers commented on #6044
@AndriySvyryd One thing that came up in triage is whether or not this works if batching is switched off?

[2016-07-15 21:50] ac-esousa opened #6092 "Using boolean properties on a referenced entity throws ArgumentException"
### Steps to reproduce
Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

Try to run the console application on github:

        https://github.com/ac-esousa/EFBooleanBug

### The issue
If I have two entities, and try to filter by a boolean property on a referenced entity, EF throws ArgumentException.

[2016-07-15 22:25] rowanmiller commented on #6035
**Triage:** We should not try and set a default value if the column is set as identity, since it is not valid (and SQL Server would fill in the missing values anyway).

On a more general note, using the CLR default when you add a non-nullable column is just what we scaffold and we anticipate that folks would often change this to something that makes sense for their app. We don't think we need to c

[2016-07-15 22:39] roji commented on #6048
OK, thanks.

[2016-07-15 22:45] roji commented on #6035
@rowanmiller, note the discrepancy between what happens if the non-nullable column is present when the table is created, and when it's added later (i.e. between the CreateTable migration and the AddColumn migration) - in the first case there's no default, in the second there is. This is the part that bothers me most; if you always set the CLR default as the column default it would at least be cons

[2016-07-16 00:36] maumar commented on #6092
verified this is fixed in dev, most likely by https://github.com/aspnet/EntityFramework/commit/add3939bd592f1c4a7f249b81d024a2ff260091d, closing

[2016-07-16 00:36] #6092 closed

[2016-07-16 02:14] WiliamGP commented on #6086
@natemcmaster thanks, now it works! Best Regards!

[2016-07-16 03:09] abdu292 commented on #5570
@DrewScoggins Wondering if any joy so far with this. Thanks a ton for your work on this!

[2016-07-16 08:44] divega commented on #6069
Cc @natemcmaster to follow up on the latest question

[2016-07-16 12:14] leo90skk commented on #1200
when will this feacture be implemented? I need it for a update function in an update method in a service (N-Tire architecture).

[2016-07-16 19:01] martinsuchan opened #6095 "Add-Migration fails with invalid "properties in shadow state" error in UWP project"
### Steps to reproduce

I'm trying to **add initial migration to UWP project** using "PM> Add-Migration InitMigration".

I use simple model with several [DataMember] properties, one int [Key] property and several [NotMapped] properties, see below.

**The Add-Migration command fails with a strange error:**

Full error log: http://pastebin.com/89pfrJ7w

It looks like EF Core is ignoring [NotMapped]

[2016-07-16 19:22] martinsuchan commented on #6095
It looks like it's duplicate/related to #5945.
Using fluent API works.

[2016-07-17 02:40] gdoron opened #6096 "Log machine readable & queryable structured log entries"
Hi @rowanmiller,

Currently EF logs raw strings without leveraging ASP.NET logging extensions.
[source code](https://github.com/aspnet/EntityFramework/blob/3ec89f76aef3be582ba3c6d5a1a5f6c88a0c3236/src/Microsoft.EntityFrameworkCore.Relational/Storage/Internal/RelationalLoggerExtensions.cs#L61-L82)
Filtering based on that string is very difficult if not impossible.

I wanted to create a pull request

[2016-07-17 04:44] rdefreitas commented on #6085
Thanks @rowanmiller.

I've gone through all of the methods and have come up with a short list of the ones I don't believe are appropriate to be moved, and why.

- *Load*() / *LoadAsync*(): This is very EF specific. The only change I'd propose here is to add the fallback of calling Load if the collection does not implement IAsyncEnumerable.
- *AsTracking*() / *AsNoTracking*(): Too EF specific. The

[2016-07-17 08:42] amirzandi opened #6097 "update-database not updating new columns of a created table"
Hello All,
the first time I have ran add-migration [name], it worked like a charm and created a directory named Migration including all required files as well.

After I updated my table class file and added a new column into it, I ran add-migration [newname] and it successfully created the file. In this new file, it attempts to re-create my tables again and it causes an error which is  There is al

[2016-07-17 13:31] Qowy opened #6098 "add-migration not working with iot core background task project"
Hi,
I have an iot core background task project, which seems to be of the type "windows runtime component".
Because of the limitations of such a project type (for example inheritance) i added a second c# class library project which contains my model and entity framework core and it's database context.

Because of the documented problems of running add-migration with class libraries as a startup pro

[2016-07-18 10:48] rdefreitas commented on #6097
@amirzandi can you reproduce this in a brand new project?

Also, can you provide the following?

EF Core version: (found in project.json or packages.config)
Operating system:
Visual Studio version: (e.g. VS 2013 or n/a)

[2016-07-18 12:15] mharisko commented on #1186
When will you guys going to work on this?

[2016-07-18 16:23] Ponant commented on #5855
Thanks

[2016-07-18 16:28] natemcmaster commented on #6069
@ToddThomson can you clarify? Are you encountering errors? or do you mean you've encountered the [class library limitation](https://docs.efproject.net/en/latest/miscellaneous/cli/dotnet.html#targeting-class-library-projects-is-not-supported) with command line tools?

[2016-07-18 17:05] rowanmiller commented on #1186
@mharisko this isn't going to be something we tackle in the near future as there are a lot of higher priority features ahead of it. BTW for folks that want to maintain a database in SSDT, it is currently possible to do that and generate the EF model from the database.

[2016-07-18 17:05] mikes-gh opened #6101 "Kerberos auth from linux with sql server provider"
### The issue

Is it possible in the future to allow Kerberos authentication from Linux to SQL server.
Currently I have to enable SQL server Authentication on my whole SQL server for my Linux App to connect to the database server.
Linux has good support for joining AD these days and I can use Squid/Samba in intergrated security mode.

I am thinking it would be possible to also create Integrated (W

[2016-07-18 17:14] rowanmiller commented on #6101
@mikes-gh could you ask this over on the CoreFX project, that's where SQL Client is maintained https://github.com/dotnet/corefx/.

[2016-07-18 17:17] ToddThomson commented on #6069
@natemcmaster I need to do additional development and testing in order to give you more information. At this point, everything looks OK.

I did run across the command line tools issue weeks back, but I'm around that now.

[2016-07-18 17:46] mikes-gh commented on #6101
Wondering why I couldn't find the code :smile: sorry

[2016-07-18 17:59] tdykstra opened #6102 "SQL Server Migrations: Rebuild indices on narrowed columns"
### Steps to reproduce
1. Create a many-to-many join entity initially with only navigation properties, no foreign key properties

    public class CourseInstructor
    {
        public int ID { get; set; }
        public Instructor Instructor { get; set; }
        public Course Course { get; set; }
    }

2. Later after adding migration for it and updating database, add foreign keys to it

    pub

[2016-07-18 18:03] rowanmiller commented on #6069
Sounds like we can close this one out now. Feel free to reply (or open a new issue) if you hit anything further.

[2016-07-18 20:24] rowanmiller commented on #3921
In triage we discussed a that using `Include`/`ThenInclude` could still work in a repository signature, however here are the issues I found with this:
* It looks ugly
* It requires exposing IQueryable in the method signature, which would allow any LINQ operatory to be used (thus defeating part of the purpose of a repository)
* It requires use of EF specific methods when using a repository (which i

[2016-07-18 20:25] rowanmiller commented on #3921
I've added some workaround code to the description of this issue (top of the page) that adds a string-based include method to EF Core. If you're going to use it in a production app, you probably want to look at more caching etc. as it makes extensive use of `MakeGenericMethod` etc.

[2016-07-18 20:37] rowanmiller commented on #6035
@roji we discussed this at length and decided the complexity of removing the default after adding the column isn't worth the benefit. Since the column is non-nullable, EF will always send a value in INSERT statements, so the database default is never used. It would only be used if SQL was run against the database out side of EF. Another factor in our decision is that we've had this behavior in EF6

[2016-07-18 20:56] roji commented on #6035
Thanks for looking at this, I didn't realize removing the default was such a complicated operation.

I'll describe how this bit me, I'm interested in how you deal with it. In the current Npgsql provider, you can mark an int property as `ValueGeneratedOnAdd`, without specifying any default. When the Npgsql migrations SQL generator sees such a property, it generates a PostgreSQL `serial`, which is a

[2016-07-18 21:17] rowanmiller commented on #6035
I think that is similar to the issue we are planning to fix here, where the default value should not be added for database generated columns. BTW there is also DefaultValueSQL, which is different from a static default value and is where something like "newid()" would be used for SQL Server generated GUID columns.

[2016-07-18 21:19] rowanmiller commented on #5025
The n+1 issue is already tracked by other issues, so closing this one out.

[2016-07-18 21:20] ajcvickers commented on #6035
@roji Also, look at SqlServerValueGenerationStrategy. This is how we define a high-level group of behaviors for SQL Server value generation across the stack. This is what allows Migrations and the update pipeline to know what to create/expect for different strategies.

[2016-07-18 21:25] gdoron commented on #3921
Worth mentioning using this feature is **risky if the include string is an unvalidated input coming from a user**.
A user can cause EF to query the entire DB and cause a DoS with a single request or cause SqlInjection.

[2016-07-18 22:01] AndriySvyryd commented on #6044
@skimedic You would need to add "WITH SCHEMABINDING" to the function definition. This also can improve the performance of the function. However if the referenced objects are altered the function would need to be recreated.

This would still be the case without batching and in EF6 as far as I can tell.

[2016-07-18 22:14] roji commented on #6035
@rowanmiller I check for DefaultValueSQL in addition to DefaultValue, if any of them are set I bypass the implicit sequence creation.

@ajcvickers, if I understand correctly you support two strategies:
1. Your migrations SQL provider checks for `SqlServerValueGenerationStrategy.Identity` and generates identity columns.
2. HiLo, where it's up to the user to manually specify the sequence in the mode

[2016-07-18 22:32] ajcvickers commented on #6035
@roji Is the problem that the PostgreSQL provider is using the "defaultValue" set in the Migrations model as the way to choose what strategy to use? I don't think this can work. I think you need to look in the actual EF model to determine which strategy is being used and then create the appropriate Migrations model from this. @bricelam might have more insight.

[2016-07-18 22:37] stephtr commented on #5872
Just a small typo: in both documents it should be `dotnet ef migration**s** add InitialSchema`.

[2016-07-18 22:39] roji commented on #6035
@ajcvickers, ah, that seems like a good way forward. The model would retain the user's intent (no default) even if the database has a default because of the migrations... I'll look into that, thanks!

[2016-07-18 22:46] rowanmiller commented on #5530
Confirmed that I see the same results running between RC1 and RTM. Looks like a bug in RC1 that was causing invalid data to be saved to the database in my repro (hence no data to return in the query). The repro supplied by @janiceattard has a workaround for this.

Some data points to consider:
* What's interesting about this test is that it runs the same tracking query a lot of times on the same c

[2016-07-18 22:50] rowanmiller commented on #5872
@stephtr thanks, I've fixed it

[2016-07-18 22:56] rowanmiller commented on #5968
@sanalbakis can you share a complete code listing for a console app, or add a project. There is a lot going on in the queries you supplied and the entities you supplied only cover some of the types being used. It would take us a while to try and recreate the entire model, and I'm not sure we'd get the same results as there is a lot we'd be guessing at.

[2016-07-18 23:00] rowanmiller commented on #5974
Discussed in triage and concluded that we are not going to change this. Unnecessary `using` statements generally aren't considered a compiler warning/error for C# code. In fact, things like Visual Studio project templates, the 'Class' item template in VS, etc. include `using`s for things that aren't used but might be useful. When we originally shipped migration in EF4.3 we had logic to trim down u

[2016-07-18 23:00] rowanmiller commented on #6006
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-18 23:01] rowanmiller commented on #6041
Duplicate of https://github.com/aspnet/EntityFramework/issues/5858

[2016-07-18 23:02] rowanmiller commented on #6066
Discussed in triage and concluded that this isn't a terrible message. If we see customers getting confused we may reconsider, but for the moment we won't spend time on this.

[2016-07-18 23:24] roji commented on #6035
Yep, that seems like it works. My NpgsqlMigrationsAnnotationProvider checks the property for `ValueGenerate.OnAdd` and for null DefaultValue/DefaultValueSql, and if so, passes an annotation that makes the migrations SQL generator create a serial column.

Note that this overrides the default value 0 set in the migration operation.

Thanks for the help!

[2016-07-18 23:46] ajcvickers opened #6105 "Add perf tests for Find"
Compare to EF6 for both already-tracked entities and entities retrieved from the store.

[2016-07-18 23:58] ajcvickers opened #6106 "Original values must be required for principal keys"
We are not currently requiring original values to be saved for principal keys, but the update pipeline uses these values in certain delete scenarios. This causes some saves to fail when using notification entities.

[2016-07-19 00:30] smitpatel commented on #5456
Repro
[code]

[2016-07-19 00:40] rdefreitas commented on #6102
I believe when directly modeling the foreign keys, you need to define them as nullable. This would be why you're experiencing an issue.

[2016-07-19 02:28] rondefreitas opened #6108 "Migrations Scaffolding Directory Inconsistency"
### Steps to reproduce

Create a new Asp.Net Core project from the templates using EntityFramework.
Create a second, empty project, a basic model, and data context, then scaffold a migration.
### The issue

The first project, the template, starts out with migration scaffolding in Data/Migrations.
The second project uses the established default, ./Migrations.

This causes confusion for users, as se

[2016-07-19 11:47] bragma commented on #5993
@sayedihashimi in particular what I think it's missing is a deployment step in VSTS that allows to apply migrations when publishing from there. I'm puzzled that nobody asked this before, I'd like to know how everybody are doing this now, in particular if the web app is scaled out.
Thanks!

[2016-07-19 12:34] ole1986 commented on #5458
Hello,

I came to a similar problem after fixing `Could not load file or assembly 'Newtonsoft.Json` issue.
Now I get: `Could not load file or assembly 'System, Version=2.0.5.0 [...]`

My project.json

[code]

Any ideas?

[2016-07-19 13:52] gdoron commented on #5583
The closed-wont't fix means like never fix / this year / near future /next version.
It's really needed.

[2016-07-19 14:21] KerolosMalak commented on #1441
@rmja
 where i find this file "**sqlserversqlgenerator.cs**" in my project
project with EF 7 , .Net FrameWork 4.6 and Asp.Net 5 (RC1)
thnx in advance

[2016-07-19 15:21] tdykstra commented on #6102
This is a many-to-many join table, I wouldn't want the foreign keys to be nullable.

[2016-07-19 15:36] natemcmaster commented on #5458
@ole1986 as the issue describes, your imports are incorrect. For preview1, use "portable-**net451**+win8" See https://github.com/aspnet/EntityFramework/issues/5458#issuecomment-221912806

[2016-07-19 15:50] rowanmiller commented on #5583
It means we are not planning to fix it. This may change if we get more customer feedback etc. but our current decision is that we would never fix this.

[2016-07-19 16:00] mdmoura commented on #5583
@rowanmiller IMHO I think it would be useful since it is something commonly used in EF6 (just do a search in Google or Stack Overflow) where most people uses the Guid.NewGuid() approach and where the alternative is not simple in complex cases or even perfect.

[2016-07-19 16:56] cjamesrohan commented on #1203
+1

[2016-07-19 17:08] gdoron commented on #5583
I must say that I didn't understand what the limitations are nor I know the cost of making this feature work.
But I do know it's a common scenario, the error message is obscure and the alternatives aren't feasible (we'll probably need to use Dapper for this query).

I hope more users will ask for this feature.

[2016-07-19 17:24] ajcvickers commented on #5583
@gdoron Curious what the code to do this in Dapper looks like. That is, not just getting a random ordering using NewGuid, since as is shown above that works fine in EF, but to also get related entities loaded automatically.

[2016-07-19 17:25] MarcoLoetscher commented on #6066
@rowanmiller: You are wrong, the message is confusing.

[2016-07-19 17:27] ajcvickers commented on #6066
@MarcoLoetscher Can you suggest wording that would be more clear?

[2016-07-19 17:30] #5114 closed

[2016-07-19 17:33] ajcvickers commented on #1202
This is done. The Metadata property provides direct access to the metadata for the entry.

[2016-07-19 17:33] #1202 closed

[2016-07-19 17:40] gdoron commented on #5583
@ajcvickers I haven't yet wrote the code, but I guess it would probably be left join with CTE.

I'm not sure I fully understand your question.
If I can write the query in SQL (and I can) I can get the results using ADO.NET or Dapper which is a simple wrapper.

Did I answer your question?

[2016-07-19 17:44] MarcoLoetscher commented on #6066
@ajcvickers: Why an exception is thrown in this example? I think that this example would work in EF6.x?

[2016-07-19 18:20] rowanmiller commented on #6066
@MarcoLoetscher this is an identifying relationships - meaning the primary key is used as the foreign key. Because the scenario tries to change the foreign key, it requires the primary key to change, which is not supported. This restriction applied to EF6.x as well.

[2016-07-19 18:20] ajcvickers commented on #6073
@jeffman1 I have attempted to reproduce the error you are seeing, but I haven't been able to do so. I had to make several changes to the code to make it compile. For example, this line:
[code]
is very suspicious, but as it is I don't know what it does and it doesn't compile for me as is.

Given this, here is some more specific information about filing the bug in a way that we will be able to prope

[2016-07-19 18:32] jeffman1 commented on #6073
It seems that most of the problem was improper class setup and data annotations (CategoryReference and the other class code in DataAccess is an exact class copy using EricJ's SQLCE to SQLite DB conversion tool). I still think something is wrong with how the keys are setup because of my joins. You can close this thread though and start a new one.  Making an advanced master/details tutorial would he

[2016-07-19 18:42] #6067 closed

[2016-07-19 19:09] maumar commented on #3141
works in current bits, closing

[2016-07-19 19:09] #3141 closed

[2016-07-19 20:13] AndriySvyryd opened #6109 "ChangeTracker shouldn't throw on conceptual nulls if one of the fk properties is nullable"
[code]
Throws:
`The association between entity types 'Product' and 'Category' has been severed but the foreign key for this relationship cannot be set to null. If the dependent entity should be deleted, then setup the relationship to use cascade deletes.`

[2016-07-19 20:31] wjvii commented on #4269
I migrated my Xamarin Forms project to project.json and netstandard and all is going well until I try to use EF Core. The problem is when it first hits any EF code I get a System.TypeLoadException: Could not load type 'System.Reflection.TypeExtensions' from assembly 'System.Reflection.TypeExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. error. However it appears that

[2016-07-19 20:56] rdefreitas commented on #6102
I think this issue would be tied into the Model snapshot file.  It looks like the data type of the relationships are not saved, only the nature of them, like so...

             modelBuilder.Entity("Test.Foo", b =>
                {
                    b.HasOne("Test.Bar")
                        .WithMany()
                        .HasForeignKey("BarId");
                });

As a result, the too

[2016-07-19 21:08] rowanmiller commented on #6035
Reopening this one as I think we should still avoid scaffolding a default value for new columns when the column is marked as store generated.

[2016-07-19 21:15] rowanmiller commented on #6037
We think this is probably fixed in our working code base. Would you be able to try our nightly builds and see if the issue is resolved for you. Nightly builds are available from https://www.myget.org/Gallery/aspnetcidev.

[2016-07-19 21:26] rowanmiller commented on #6038
Here is the code to find the pending migrations and then apply them one at a time so that you can write status etc.

[code]

[2016-07-19 21:28] rowanmiller opened #6110 "Migrations: Top level APIs for All/Applied/Pending"
These APIs on `DbContext.Database` were useful in EF6. One example of where these would be useful is manually applying each migration so that you can give status to the user (#6038).

[2016-07-19 21:29] rowanmiller commented on #6038
Also opened #6110 to add the ability to get all/applied/pending migrations with a top level API (as having to write all that code in the above example is pretty ugly for a relatively simple task).

[2016-07-19 22:21] Suchiman commented on #3141
Well 😐 ... works enough to work but not enough to be useful in any way. Loading the entire table into memory to find a single user is... not webscale 😛
[code]
[code]
[code]
[code]

Is this the most inefficient SQL contest?... doing a left join which doesn't constrains the result set and without selecting from the join and then doing a second query with exactly the reverse statement, only cross app

[2016-07-19 22:52] rowanmiller commented on #3141
@maumar is there already another issue tracking the client eval aspect of this?

[2016-07-19 23:56] maumar commented on #3141
@rowanmiller @Suchiman yes, we track it here: https://github.com/aspnet/EntityFramework/issues/4588

[2016-07-20 00:34] maumar commented on #4858
Currently 1st and 3rd queries pass and only 2nd query fails. We produce the following query plan:

[code]

The problem is that GroupJoin's inner elements is IEnumerable<ValueBuffer>, which gets created even for rows that don't have a Device (as opposed to case where we materialize Inner as Entity - then we correctly make it null, and those rows are filtered correctly)

[2016-07-20 03:57] rdefreitas commented on #6110
@rowanmiller I haven't dug into the migrator code yet, but when you tell the migrator to apply a migration does it check again to see if it's already been applied?

I have a scenario wherein a load-balanced asp.net core application may require each instance to run on its own time after deploying a new version but then either share the migrations workload between the instances, or at least allow on

[2016-07-20 04:15] Korigoth commented on #4797
can you share the path plz?
saying you copied from another PC doesn't tell us what it is missing from our own PATH variable.

Because i still get the error and there were nothing in my path variable

[2016-07-20 04:41] VagueGit commented on #5945
@rowanmiller My understanding is the fluent api does not support check constraints (at least against SQLite). Data validation becomes problematic if data annotations don't work with EF commands, does it not? Or have I missed something?

[2016-07-20 06:05] Suriman commented on #4269
@wjvii . EF Core will be supported in Xamarin.Forms when Xamarin migrates Xamarin.Forms to .NET Standard Library. According to my contacts, it will be in September.

[2016-07-20 10:23] jersiovic opened #6113 "Build Initialize command fails: "The OutputPath property is not set for project ...""
### Steps to reproduce

No matter if I checkout release or dev branch when I attempt to build the solution using command "build initialize" I receive the same error.
### The issue

Unable to build the solution

This is the end of the output of the command where the error is reported:

[code]
### Further technical details

EF Core version: no matter if I use dev or release branch
Operating system:

[2016-07-20 12:46] neoaisac opened #6114 "Explicit "Include" with custom Repository pattern based on DbSet returns null for navigation properties"
### Steps to reproduce

Say there are 2 classes related in a 1:M relationship and the navigation property is defined only in the dependent class, without a foreign key property nor any attributes.

[code]

And say it is configured with fluent EF Core like below.

[code]

And say you have an implementation of the `IRepository<T>` pattern like below.

[code]

And say you have a Unit Of Work implemen

[2016-07-20 14:31] ntsekouras opened #6115 "Model Building: StackOverflowException when two properties share the same foreign key"
[code]

Can i have two properties with the same foreign key?

EF Core version: 1.0.0
Operating system: Win10 64
Visual Studio version: VS2015

[2016-07-20 16:47] ajcvickers commented on #6115
@ntsekouras Yes. Are you seeing an error? If so, please provider error, stack trace, and full repro code.

[2016-07-20 17:06] rowanmiller commented on #6114
LINQ methods do modify an existing query but construct a new query that adds the operator to the previous query. So calling `_dbSet.Include(navigationPropertyPath)` isn't modifying your `_dbSet` field, it's building an new query (which isn't getting assigned to anything). You need to change `_dbSet` to be an `IQueryable<T>` and do `_dbSet = _dbSet.Include(navigationPropertyPath)`.

[2016-07-20 17:09] rowanmiller commented on #5901
For sure in EF Core 1.1, which is the Q4 2016 release. Possibly in the 1.0.1 release.

[2016-07-20 17:12] rowanmiller commented on #5945
@VagueGit the Fluent API allows you to do everything that can be done with data annotations. Could you share the specific example of the annotation you aren't sure how to express in the Fluent API?

[2016-07-20 17:15] rowanmiller commented on #6110
@rdefreitas the code I shared in the previous issue `migrator.Migrate(targetMigration: pending[i]);` isn't saying to apply a specific migration, it's saying to apply all pending migrations up to (and including) the one specified. Because the specified migration was being incremented by one on each iteration, it was applying just a single migration. Given that, the answer is yes, it will skip the m

[2016-07-20 17:34] anpete commented on #6039
@corradolab Change the Sales property to be *decimal?*. When the predicate matches no rows, SQL Server returns a single row containing a NULL value.

I will try and improve the error that gets generated here.

[2016-07-20 17:52] rowanmiller commented on #5981
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-20 17:59] gdoron commented on #6035
What does "store generated" mean?
Does it mean that new columns won't have default values when they're not nullable?

[2016-07-20 18:18] rowanmiller commented on #6044
@AndriySvyryd this means no action on the EF side right?

[2016-07-20 18:20] AndriySvyryd commented on #6044
@rowanmiller Yes, unless we want to mention this in the docs

[2016-07-20 18:23] rowanmiller commented on #6097
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-20 18:26] rowanmiller commented on #6115
Closing as we have answered the question. If you see an error, reply with details and we will reopen.

[2016-07-20 18:30] isaacllopisaracil commented on #6114
But I cannot Add, Delete or Update elements in the `IQueryable<T>` so you're saying that my `IRepository<T>` must incorporate a reference both to the `DbSet<T>` for these methods, and an internal `IQueryable<T>` that can be modified by the `Include(Expression)` method, _both_?

[2016-07-20 18:59] rowanmiller commented on #6035
@gdoron it means that values for the column are generated by the database (e.g. SQL Server IDENTITY) so there is no need for a default value. All other non-nullable columns will still have a default value generated.

[2016-07-20 19:01] rowanmiller commented on #6114
@neoaisac correct, in that case you would need one for the `DbSet` and one for the "base query" - which is the original query from `DbSet` with all `Include`s etc. applied.

[2016-07-20 19:54] scottste opened #6117 "Error when setting default value for child classes in TPH"
### Steps to reproduce

Create a default template project with the individual accounts authentication. Change the ApplicationDbContext class to be:
[code]
Run `Add-Migration initial`

### The issue

I get the following exception:

[code]

I would expect that since the default values are the same that this would be allowed. My current work around is to create an intermediate abstract class that has

[2016-07-20 20:22] natemcmaster commented on #5763
@minimalisticMe does your error still reproduce with 1.0.0?

[2016-07-20 20:39] VagueGit commented on #5945
Thank you for the prompt response @rowanmiller. As a Database Dude my preference is to apply check constraints to the database. I considered data annotations when it appeared EF does not support check constraints against SQLite.

As an example, we need to constrain the values of an integer column to 0-5. The data annotation equivalent is `[Range(0,5)]`. EF ignores this in UWP at design time so bei

[2016-07-20 21:02] gisek opened #6118 "Cannot parse boolean field condition without "== true" in a chainend expression"
### Steps to reproduce

Everything is fine, if the expression has no joins. When there is a join, I have to explicitly add `== true` at the end of the expression, to make it work.

var x1 = _context.Users.Where(user => user.IsVerified == true).ToList(); // ok
var x2 = _context.Users.Where(user => user.IsVerified).ToList();// ok
var x3 = _context.Shops.Where(shop => shop.User.IsVerified == true).To

[2016-07-20 21:03] maumar commented on #6118
This is already fixed in current bits, closing

[2016-07-20 21:44] roji commented on #6035
@rowanmiller I'm admit I'm a bit confused as well by the terminology (have always been a little)... Columns with default are also generated by the database. In addition, Npgsql/PostgreSQL model seems to complicate this somewhat - let's take autoincrement (serial) columns. On the CLR model, the user is simply supposed to specify `ValueGeneratedOnAdd`, without specifying an explicit default (that wo

[2016-07-21 00:54] ajcvickers opened #6122 "Query: LoadAsync does not work"
No entities end up being tracked.
Repro:
[code]
Output is 0; expected output is 2.
When run with Load instead of LoadAsync, output is 2 as expected.

Note that there are currently zero tests for LoadAsync.

[2016-07-21 01:21] ajcvickers opened #6123 "Include on InMemory store with Single loads more than it should"
The following repro should load only one Post object. Two are loaded when using the in-memory store. When using SQLite or SQL Server the behavior is correct.
[code]

[2016-07-21 09:06] minimalisticMe commented on #5763
@natemcmaster I cannot check, as I switched to english version of VS2015 and did not turn back since then.

[2016-07-21 16:08] flipchart opened #6124 "Add SQL statements to SaveChanges batch"
Is it possible to add to the SQL batch generated for the `.SaveChanges` (or `.SaveChangesAsync`) method of `DbContext`?

Background:
I'm wanting to set entity navigation properties without loading the related entity. So I do something like:

[code]

However, if the attached `Client` doesn't exist, all I get is a `SqlException` wrapped in a `DbUpdateException` and I have to do string parsing of the

[2016-07-21 16:27] natemcmaster commented on #6098
In the past, we have not supported using Windows Runtime Components (WinMD). @rowanmiller do we want to revisit this?

Cref https://github.com/aspnet/EntityFramework/issues/4684#issuecomment-193903540
Backlog item: https://github.com/aspnet/EntityFramework/issues/1058

[2016-07-21 16:31] rowanmiller commented on #6098
@natemcmaster good point, clearing the milestone to rediscuss in triage

[2016-07-21 16:54] pgrm commented on #5845
@anpete thank you very much for the hints. I guess I'd know now how to run all select queries with the "FOR UPDATE" suffix. Unfortunately I only want to run few of them. So I would override `VisitSelect(SelectExpression selectExpression)` like this:

[code]

As I said, `FOR UPDATE` needs to be at the very end, which makes this fairly easy. But I couldn't figure out how I could trigger this. Choosi

[2016-07-21 17:17] saf-itpro opened #6125 "Add-Migration or Install Package commands errors when ASP.NET Project was copied from Win 8.1 to Win 7"
On my windows 8.1 with VS2015 I created [this ASP.NET tutorial](https://docs.efproject.net/en/latest/platforms/aspnetcore/new-db.html) project that ran fine. But when I copied the project directory to windows 7, deleted the Migration folder and ran the following command, I get the error: `Project "Default" is not found`:
`PM> Add-Migration MyFirstMigration -context BloggingContext`
I get similar e

[2016-07-21 17:23] ErikEJ commented on #6125
Powers hell update needed?

[2016-07-21 17:29] anpete commented on #5845
@pgrm Take a look at how we implement the AsNoTracking and Include operators. We are creating custom re-linq result operators that are represented as "query annotations" - Ad hoc pieces of data attached to a query. Once you have the ForUpdate data represented in the query pipeline, it then becomes a matter of injecting somewhere into SQL generation, looking for the annotation (available on QueryCo

[2016-07-21 17:43] pamerio opened #6126 "Migrations: Script-Migration doesn't revert -From migration"
In the previous version of EF core one could use Update-Database with the option -Script to generate an SQL Script instead of updating the DB. That way I could generate the script to downgrade a bad migration.
Now the option -script has gone and I'm not sure how to get the same result.
I tried Script-Migration -From Migration2 -To Migration1 (where Migration2 is newer than Migration1) but no succe

[2016-07-21 18:01] ste4net opened #6127 "Ignore (Fluent api) is not exactly like NotMapped attribute"
As in subject doing some tests following https://docs.efproject.net i found that
.Ignore extension doesn't work exactly like NotMapped attribute.
Maybe this is just a documentation issue or not (if i misunderstood something).
In migrations
Using **.Entity<UserProfile>().Ignore(p => p.Tools)** related object type is however added to migration class
Using **NotMapped** obviusly not.

[code]

To use

[2016-07-21 18:04] natemcmaster opened #6128 "Create a client/server execution model for design-time operations"
**Current design**
As of #5334, design-time operations execute using two processes, the "dispatcher" and the "runner". The dispatcher (dotnet-ef and PMC) handles interaction the project system and IDE. The runner (ef.exe/ef.dll) is a console application that loads the users assemblies and executes parts of user code in order to discover EF metadata. Dispatcher and runner communicate using standard

[2016-07-21 18:28] rowanmiller commented on #5945
@VagueGit EF doesn't do anything with the `[Range]` attribute, so the EF model should be unaffected by this attribute being present or not.

[2016-07-21 18:38] ajcvickers opened #6129 "Query: EF expression visitor can throw with in-memory store for null parameter values"
This is a query such as we use for Load if the FK happens to be null. It works on the relational providers, but not for in-memory.

[code]

Stack:

[code]

[2016-07-21 19:32] AndriySvyryd commented on #977
Alternatively  we could extract ModelSource.CreateModel to a different service

[2016-07-21 19:58] ghost opened #6130 "Critical issue using EF Core on UWP (unable to open database file)"
**Steps to reproduce**

Follow this simple [tutorial](https://docs.efproject.net/en/latest/platforms/uwp/getting-started.html).

**The issue**

Start the app either in Debug or Release.

An exception occurs with db.Database.Migrate();.

_Exception thrown: 'Microsoft.Data.Sqlite.SqliteException' in Microsoft.Data.Sqlite.dll. Additional information: SQLite Error 14: 'unable to open database file'._

[2016-07-21 20:08] VagueGit commented on #5945
@rowanmiller but wouldn't it be nice if it did especially as UWP ignores data annotations at runtime? I don't think we are alone in trying to migrate to EF from systems with lots of validation on the database. In trying to migrate to EF we seem to be giving up the ability to validate data on the database. It would be great if we could have something in OnModelCreating along the lines of .ForSQLite

[2016-07-21 20:31] rowanmiller commented on #5945
As far as I know UWP doesn't ignore annotations at runtime. The issue being discussed here is that they are opaque to our design-time tooling because we load up the assembly in the Full .NET Framework after it was compiled against .NET Core. Agreed that translating `[Range]` into a CHECK constraint is a possibility - feel free to open a new issue for that feature request. You can also do this manu

[2016-07-21 20:49] natemcmaster commented on #5945
I [suggested earlier](https://github.com/aspnet/EntityFramework/issues/5945#issuecomment-230854436) modifying project.json to use a downgraded version of System.ComponentModel.Annotations, but after playing with this, there is a better workaround.

Add this binding redirect so that tooling unifies types correctly:
[code]
Hopefully we can automate this with https://github.com/aspnet/EntityFramework

[2016-07-21 20:58] natemcmaster commented on #5763
Ok. I will close the issue for now. Feel free to re-open if you are able to reproduce it with 1.0.0.

[2016-07-21 20:58] #5763 closed

[2016-07-21 21:02] natemcmaster commented on #6027
The debugger for .NET Native is known to mess up lines when "Optimize code" is turned on.

I'm going to close for now but I can reopen for more investigation once we have a repro.

[2016-07-21 21:05] natemcmaster commented on #5841
I confirmed this repros with VS 2015 U3 and 1.0.0. I haven't yet identified the cause of the issue. I'm going to continue investigating.

[2016-07-21 21:10] #6106 closed

[2016-07-21 21:25] tinchou opened #6132 "Query: Allow use of AsQueryable method"
## Update
Modifying the description to track support for `AsQueryable` in linq queries.
`AsQueryable` method is required when user wants to pass Expression<Func> to linq method which is hanging of an navigation property since navigation is of type IEnumerable. With the relinq fix now we can get parsed query with AsQueryable but we are client eval-ing afterwards. This issue is to track work needed

[2016-07-21 21:28] ajcvickers commented on #6122
Note that the LoadAsync code in EntityFinder should be updated when this bug is fixed.

[2016-07-21 21:28] ajcvickers commented on #6123
Tests in LoadInMemoryTest can be re-enabled when this bug is fixed.

[2016-07-21 21:29] #625 closed

[2016-07-21 21:36] natemcmaster commented on #6130
@bbougot can you zip up and share a project that reproduces the issue?

[2016-07-21 21:50] AndriySvyryd commented on #6055
@ajcvickers @anpete @divega @anpete I think this should be in 1.0.1. The bug can potentialy cause data loss and the fix is low risk.

[2016-07-21 21:53] rowanmiller commented on #6055
👍 sounds good to me

[2016-07-21 22:01] divega commented on #5936
Clearing up for triage. I think for EF Core we should initially consider adding support for translating existing idioms that express this kind of comparisons between byte arrays in .NET, e.g.:

- `StructuralComparisons.StructuralComparer.Compare(x, y) >= 1` would translate to `x >= y` in SQL.
- `StructuralComparisons.StructuralEqualityComparer.Equals(x, y)` and `a.SequenceEqual(b)` would both tran

[2016-07-21 22:02] #6055 closed

[2016-07-21 22:02] VagueGit commented on #5945
Apologies @rowanmiller I meant 'UWP ignores data annotations at design time'. I have edited my comment. What do you mean by 'You can also do this manually by using the SQL(...)' Can you point me toward some guidance please?

[2016-07-21 22:09] bbougot commented on #6130
[WindowsApp1.zip](https://github.com/aspnet/EntityFramework/files/377081/WindowsApp1.zip)

Simply tick every thing in Exception Window and launch in Release using .NET Native Toolchain.

[2016-07-21 22:33] jnm2 commented on #5936
@divega, what is your take on a `Binary` struct and a `Timestamp` struct where operators have SQL semantics? `StructuralComparisons.StructuralComparer.Compare` is okay, but nothing beats strong typing. Can that be the long-term goal?

[2016-07-21 22:46] natemcmaster commented on #6130
I believe this is a duplicate of https://github.com/aspnet/EntityFramework/issues/5386#issuecomment-220089390. @bbougot although the exception is thrown, it doesn't actually represent a bug as EF Core handles this and continues execution normally.

[2016-07-21 23:10] #6039 closed

[2016-07-21 23:12] anpete commented on #5853
Closing as we think the behavior is correct.

[2016-07-21 23:12] #5853 closed

[2016-07-21 23:14] rowanmiller commented on #5945
@VagueGit I guess what I meant is that the fact that EF Core doesn't pickup the `[Range]` attribute when it's creating migrations etc. should have zero impact on the application since that attribute doesn't have any impact on the EF model anyways. Even if we did pick it up, the result of the command would be the same.

When you are using migrations, you can edit a scaffolded migration to use the `

[2016-07-21 23:27] VagueGit commented on #5945
@rowanmiller editing the migration doesn't quite solve the problem ... even though I do miss writing SQL :-) During development the migration is repeatedly being removed and recreated. It would be better if OnModelCreating gave us some method to have custom SQL applied to table creation; entity.HasSQL("..."), or entity.Property(...).HasSQL("...") could be a catch all for any functionality that ef

[2016-07-21 23:27] divega commented on #5936
@jnm2 I don't have a strong opinion on that right now . I can see that `byte[]` misses a few details that a more strongly typed alternative could capture, e.g.:

1. A property of type `Timestamp` or `RowVersion` would imply a length of 8
2. Properties of type `Timestamp` or `RowVersion` would imply value generation on updates, concurrency, etc.
3. `Timestamp`, `RowVersion` and `Binary` could have

[2016-07-21 23:39] DrewScoggins commented on #5570
I was able to sit down and take a look at this today, so I wanted to update this issue.  I was looking at this on my dev box and not a phone, and I was only seeing a regression of about 4x between Core and .NET Native (90ms to 360ms).  Since this seems quite a bit different than what you were seeing on the phone I am going to get a phone setup and take more traces there and take a look at them tom

[2016-07-22 00:39] #5456 closed

[2016-07-22 01:00] smitpatel commented on #6132
I could not reproduce this. Below is the code i used. Can you make modifications in it according to what you are trying to do?
[code]

[2016-07-22 01:37] jnm2 commented on #5936
I only really care about 3. I can add conventions for 1 and 2; I don't care if EF has provider-specific knowledge of them. What I really want is purity and expressiveness in the code that I write.

It adds value in polish and making it easy to write the right thing by default. It's always going to feel hackish to write `byte[] == byte[]` and know that it's a value comparison if it gets executed se

[2016-07-22 01:43] tinchou commented on #6132
This is actually a many-to-many relationship. Please try the code below (and let me know if you need seed data):

[code]

[2016-07-22 02:14] smitpatel commented on #6132
@tinchou - Thanks for working repro code. Can you tell in words what you are trying to query so I can translate it to linq.

[2016-07-22 02:18] tinchou commented on #6132
In my real app I would like to:

1. Find some products based on some criteria (`ctx.Products.Where(...)`)
1. Find the categories related to that product (I have to go through the ProductCategories intermediate table since it's a many-to-many relationship)

[2016-07-22 02:52] smitpatel commented on #6132
I tried running different queries. The queries in repro code are based criteria on category (rather than product as you mentioned in previous post) but since relationship is many to many, it can be easily written from other way depending on what you want to query.
Query1: Categories based on condition
Query2: ProductCategories based on condition on `Category` property
Query3: Categories based on c

[2016-07-22 04:49] DmsChrisPena commented on #5522
I'm running into a similar problem and I've tried all the workarounds and fixes but none of them worked. Here is my code and bear in mind I'm getting the same error.

https://gist.github.com/DmsChrisPena/a8bfa560f5c2bd2565a778a67018dcd1

[2016-07-22 05:55] xrkolovos commented on #6115
We get a big exception "dotnet has stopped working"

dotnet : Process is terminated due to StackOverflowException.
At line:1 char:1
+ dotnet ef migrations add filerecordsTest
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Process is term...rflowException.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

[2016-07-22 05:59] xrkolovos commented on #6115
The other 2 classes are like this

[code]

We also set up fluent API like this
[code]

[2016-07-22 06:45] bbougot commented on #6130
Yes this is exactly the same issue. Although it does not crash the app, it's a weird issue, which leads to a misinterpretation (the database is created anyway).

[2016-07-22 08:55] VagueGit opened #6137 "decimal properties mapped to text columns in SQLite"
From this entity property
        `public double ItemCost { get; set; }`
this migration script snippet is produced
`ItemCost = table.Column<double>`
which creates a column of type `Real` in SQLite
From this entity property
        `public decimal ItemCost { get; set; }`
this migration script snippet is produced
 `ItemCost = table.Column<decimal>`
which creates a column of type `Text` in SQLite
###

[2016-07-22 10:31] Zysce opened #6138 "Migrations command don't work well with strong named assembly"
In a library project with assembly signing enabled and EF 6.1.3,
I activated migrations :

[code]

The folder Migrations and the file Configuration.cs is added in the project, however, i get this error. After enabling migrations, i added a migration, same error, but the migration file is not added :

[code]

EF get the assembly in GAC, however, it does not have the configuration class (the first a

[2016-07-22 15:26] pgrm commented on #5845
@anpete thanks, I think I've identified all classes I need to extend / implement but am facing now another issue - I can't override the default classes which are registered in the service.

I've looked at the implementation of [AddEntityFrameworkNpgsql](https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/blob/dev/src/Npgsql.EntityFrameworkCore.PostgreSQL/Extensions/NpgsqlServiceCollect

[2016-07-22 15:27] natemcmaster commented on #6130
Closing as a duplicate of #5386

[2016-07-22 16:21] ste4net commented on #6127
Solution is sorting the command with right order.
[code]
In this way "UserToolComplex" and all related types are really ignored.

[2016-07-22 16:44] natemcmaster opened #6139 "Commands: Use MSBuild to get project metadata"
dotnet-ef uses this to understand the project model. We will need to implement an alternative way of understanding the project system without using API from Microsoft.DotNet.ProjectModel.

Things we need to be able to find from the project model API:

- target framework(s)
- class library or console application
- folder containing compiled output folder
- filename of compiled assembly/executable
-

[2016-07-22 16:48] davidfowl commented on #6139
What's the goal?

[2016-07-22 16:50] natemcmaster commented on #6139
cc @piotrpMSFT

[2016-07-22 16:54] davidfowl commented on #6139
You'll need the msbuild workspace to work with .NET Core projects so we can use it in our command line tooling.

/cc @DustinCampbell @davkean @jaredpar

[2016-07-22 16:59] anpete commented on #5845
@pgrm What does the ctor of your context look like?

[2016-07-22 17:12] wc-matteo commented on #5694
[code]

EF is generating this kind of query (taken https://github.com/aspnet/EntityFramework/issues/5694#issuecomment-225307646) in my project and it's an issue. I'm including (with `.Include()`) a bunch of entities and paginating the results with `.Skip()` and `.Take()` and the result is empty.

`WHERE [c1].[CompanyId] = [c0].[CompanyId]` joins the outer table (`[c1]`) with the one inside `EXISTS

[2016-07-22 17:17] rowanmiller commented on #5694
@wc-matteo please open a new issue with the problem you are seeing. The issue being tracked here has been fixed.

[2016-07-22 17:19] #5694 closed

[2016-07-22 17:21] wc-matteo opened #6140 ".Skip() / .Take() generate problematic OFFSET inside subquery (EXISTS)"
### Steps to reproduce

https://github.com/aspnet/EntityFramework/issues/6140#issuecomment-234718460
### The issue

EF is generating this kind of query (taken from https://github.com/aspnet/EntityFramework/issues/5694#issuecomment-225307646) in my project and it's an issue (the query returns nothing). I'm including (with `.Include()`) a bunch of entities and paginating the results with `.Skip()` a

[2016-07-22 17:34] rowanmiller commented on #5522
@DmsChrisPena the issue being tracked here is fixed. If you are still seeing the failure on our nightly builds, then please open a new issue with details.

[2016-07-22 17:43] pgrm commented on #5845
@anpete `MyDbContext`? It has 2 constructors.

    public MyDbContext() : base() { }
    public MyDbContext(DbContextOptions<MyDbContext> options) : base(options) { }

[2016-07-22 17:47] natemcmaster commented on #6088
@UppaJung I tried to reproduce the issue using the details you shared, but did not succeed in getting the any error messages. Can you share a zip up a full repro project that reproduces the issue and share it here?

[2016-07-22 17:48] anpete commented on #5845
@pgrm Try calling DbContextOptionsBuilder.UseInternalServiceProvider when configuring options.

[2016-07-22 17:49] anpete commented on #5845
cc @ajcvickers for how to do this.

[2016-07-22 17:54] bspitzer commented on #5884
Here is how I got past this one:

1) I changed my MVC Dependency to:
        "Microsoft.AspNetCore.Mvc": "1.0.0",

2) saved my project.json file and waited for the package restore to complete
3) Ran "dotnet restore" from the package manager console.

[2016-07-22 17:56] ajcvickers commented on #5845
Something like this:
[code]

[2016-07-22 18:04] anpete commented on #5845
@ajcvickers Thanks!

[2016-07-22 18:31] Foroughi opened #6141 "Update database on Runtime (Is it even possible ?)"
I am using this code on OnModelCreating method of my dbcontext to create a table.

[code]

Clearly I dont want to use the dotnet ef database/migrations command and the main idea is to create the database (based on what are mentioned in OnModelCreateing method) runtime

[2016-07-22 18:40] smitpatel commented on #6115
StackOverflow in latest codebase too. Setting `EntityId` as foreign key for one relationship removes the other one and when convention re-discover the other relationship, it will try to use `EntityId` and same thing repeats.

[2016-07-22 18:41] rowanmiller commented on #6141
You can use `context.Database.Migrate()` to apply all pending migrations. If you are not using migrations, then `context.Database.EnsureCreated()` will create the database and schema if it does not exist - but there is no way to incrementally update it if you use this approach (that's what migrations are for).

[2016-07-22 19:48] divega commented on #5936
@jnm2 Personally I agree that easy to use relational operators or methods with the existing comparability semantics would be nice, though I doubt this would requires coming up with a new type (`byte[]` could be already fine) and I doubt EF is the right place to do it.

From experience, when something so obvious doesn't exist already, I tend to suspect there is a good reason though. I will follow u

[2016-07-22 20:10] #6056 closed

[2016-07-22 20:19] rowanmiller commented on #6096
@gdoron can you explain a little more about your change. The logging passes all the information to the logger as the `logData` variable in the code you linked to, which can be accessed via the `state` variable in the logger. It is only turned into a string by passing the state into the formatter we supply.

[2016-07-22 20:23] rowanmiller commented on #6102
We thought we already had an issue tracking this one, but we had closed it saying we'd consider fixing it if more people hit it (we now have 3 reports of it).

[2016-07-22 20:26] rowanmiller commented on #6108
EF has always used a `Migrations` directory (since EF4.3 when migrations was introduced), so it's not something we were planning to change. The deviation from this in the ASP.NET templates was an intentional choice (cc @rustd). You could file an issue on the templates https://github.com/aspnet/Templates/, but I think that will be resolved as "by design".

[2016-07-22 20:30] rowanmiller commented on #5530
@janiceattard do you have a real application scenario that this is impacting? In general, Include is faster than RC1 and EF6.x, and it seems like this "repeatedly querying the same data that is already tracked by the context (therefore querying the database, but then just returning the entity instances already in-memory)" isn't a scenario that a real app would typically do.

[2016-07-22 20:50] dazinator commented on #6056
:+1:  thanks :-)

[2016-07-22 21:09] #5444 closed

[2016-07-22 21:13] #6109 closed

[2016-07-22 21:56] divega commented on #6140
@wc-matteo could you include a full repro or at least the original LINQ query in the bug?

[2016-07-22 22:18] maumar commented on #5672
fixed i https://github.com/aspnet/EntityFramework/commit/5f48163ff06ba27311cc3e0a0a259f3b09748733

[2016-07-22 22:18] #5672 closed

[2016-07-22 22:22] maumar commented on #4749
fixed in https://github.com/aspnet/EntityFramework/commit/9a34e1df982d57c1efc9a4f402d2914430fad35e

[2016-07-22 22:22] #4749 closed

[2016-07-22 22:47] rjperes commented on #2341
What would be the recommended approach using SQL (FromSql)?
The problem I see is that we need an entity to materialize the records into, and I think it would need to be mapped.

[2016-07-22 22:58] maumar commented on #5927
closing this as it's a duplicate of #474 as @sgjsakura pointed out. Moved the original bug from backlog to 1.1.0 milestone and assigned myself.

[2016-07-22 22:58] #5927 closed

[2016-07-23 00:16] ajcvickers opened #6144 "Race_when_context_disposed_before_query_termination is failing on C.I."
Test below is flaky because task may have completed before context is disposed. Disabling for now to unblock C.I.

[code]

[2016-07-23 00:48] smitpatel opened #6145 "Query: OrderBy constant generates incorrect query for integer/boolean"
At present in query,
`OrderBy(c => true)` translates to `ORDER BY 1`
`OrderBy(c => 3)` translates to  `ORDER BY 3`
In SqlServer, `ORDER BY` integer means order by that column number from projection which introduces unintended ordering and gives different results compared to what linq gives.
We are also using creating Order by when we do group join with default if empty using the left side of join

[2016-07-23 01:55] divega commented on #6145
I think the cases with ORDER BY non-numeric and non-Boolean constants and ORDER BY with variables/parameters are also interesting. Assuming we are doing the same naive translation like we do for numeric and Boolean constants then SQL Server will throw:

- For non-numeric constants:

- For variables:

It seems that the general approach could be to swallow any elements in the ORDER BY list that are

[2016-07-23 10:45] hikalkan opened #6147 "Negative Id value before SaveChanges"
Hi,

I'm using EF Core v1.0.
I've an entity with int (auto increment) PK. When I add this entity to DbSet, it's Id is set to a negative value like -2147482647. This value is may be slightly different but close to that number. After SaveChanges, it gets the database generated value as normally.

I was expecting it remain "0" until savechanges as like EF 6.x.

You can re-produce that by implementing

[2016-07-23 13:33] wc-matteo commented on #6140
### Model

##### Blogs

[code]

##### Posts

[code]

### Controller

[code]

### SQL Data

[code]

### Result

[code]
### EF Generated SQL

[code]

***

##### If ` .Skip(1)` is changed to ` .Skip(0)`

### Result

[code]

### EF Generated SQL

No changes.

***

##### If `.Select(b => new { BlogName = b.Name, PostTitles = FindTitles(b) })`

##### is changed to `.Select(b => new { BlogName = b.Name,

[2016-07-23 14:51] bjorn-ali-goransson commented on #6147
It seems like the replacement for `null` is int.MinValue ? (that is, `-2,147,483,648`)

I think DateTime is handled the same way.

If this is a problem to you, you may use `public int? Id { get; set; }` instead.

(note that I don't know the exact reasoning behind the behavior, that's why I can't answer your question!)

[2016-07-23 14:56] VR-Architect opened #6148 "Feature Request: Add -excludeAspNet Flag to Scaffold-DbContext"
If using AspNet Identity and you have the tables in your database, then you reverse engineer your schema using Scaffold-DbContext it also grabs the AspNet\* tables. This causes issues with ASP.NET core web applications. I also used the AspNetUser as a foreign key to my other tables to track who modified a record and this also caused an issue with the project.

SO please add an exclude flag for
  1

[2016-07-23 15:06] VR-Architect opened #6149 "Feature Request: Create display name from database description column property"
If using a database first and database update first methodology, it would be great to have Scaffold-DbContext command add the display meta-data to each column in the model automatically from the value in the MS-SQL's description column property. Why?

If we make changes to our database design via the database, then re-run Scaffold-DbContext to update our models, we lose any settings we set for dis

[2016-07-23 16:22] Tarig0 commented on #5993
If I may suggest it would be great if the deployment would dump the information and verbose output to variables so we can easily utilize the information

[2016-07-23 18:25] xperiandri opened #6150 "How to notify developer if he tries to use a private field instead of property"
### Steps to reproduce

I have such an excerpt of code on my API

[code]
### The issue

It throws such exception

[code]

Data in a Posts table

| Id | Latitude | Longitude | Text | TypeOfMessage | UserId | Time |
| --- | --- | --- | --- | --- | --- | --- |
| 44a283a3-8fdd-46c6-b570-08d3b170a199 | 43,81234123 | -119,8374747 | Test text from user1 | 0 | 8205cdd9-9907-481b-4fb1-08d3b170a188 | 21.07.

[2016-07-23 18:46] xperiandri commented on #6150
It would be nice to be able to tell EF that a property is not shadow so that it throw an exception if the property is absent.

[code]

I forgot that fields could not be used if they have different value type than property covering it

[2016-07-23 19:38] tuppers360 opened #6151 "Insert Values into Database using Migrations"
I am using the latest builds for VS2015 with preview 3

I want to add values to a DB using the Up migrations method like so:

public partial class PopulateGenresTable : Migration
    {
        protected override void Up(MigrationBuilder migrationBuilder)
        {
            Sql("INSERT INTO Genres (Id, Name) VALUES (1, 'Rock')");
        }

[code]

But the is no Sql in the current context, can a

[2016-07-23 19:54] gdoron commented on #6096
@rowanmiller
I believe the guys at seriloh & seq can explain it better than me @nblumhardt.

The loggers by convention are looking for placeholders in the logged string to map it to a dictionary that can be later queried:

	logger.LogInformation("No endpoint found for request {path}", context.Request.Path);

https://docs.asp.net/en/latest/fundamentals/logging.html

Problem is, EF doesn't utilize t

[2016-07-23 21:44] arielcloud commented on #625
The docs [here](https://ef.readthedocs.io/en/latest/querying/related-data.html#explicit-loading) reference this issue.
if u close this it means the issue solved? if so - can u fix the docs? thanks!

[2016-07-24 04:48] BruinY commented on #795
When to implement this feature?

[2016-07-24 18:27] blackdwarf opened #6152 "dotnet ef dbcontext scaffold does not use assembly name"
## Steps to reproduce

1- Create a asp.net web project.
2- Change the default namespace in the project properties to something different than the project name.
2- Set the project up to run ef dbcontext scaffold to create models from a SQL server db
3- Run the scaffolding command line
## Expected  behavior

Output classes use the Default namespace value for namespace names
## Actual behavior

Outpu

[2016-07-24 18:56] skimedic commented on #6044
ok, I will try that and report back.

[2016-07-24 20:38] jnm2 commented on #4423
Wow at this conversation! My respect for the EF team just went up tenfold.

To get back on topic, I would love to see ESENT as a provider but I'm not sure what the difficulty level would be to implement it. Is anyone currently planning on doing this or should I start poking around when my schedule clears a bit?

[2016-07-24 20:45] skimedic commented on #6044
@AndriySvyryd I don't see how this fixes anything.  I updated my UDF to this:

`ALTER FUNCTION [Store].[GetOrderTotal] ( @OrderId INT )
	RETURNS MONEY WITH SCHEMABINDING
BEGIN
	DECLARE @Result MONEY;
	SELECT  @Result = SUM([Quantity]*[UnitCost])
	FROM Store.OrderDetails
	WHERE OrderId = @OrderId;
	RETURN @Result
END;
`
I'm still getting this exception on SaveChanges:

Test FullName:	SpyStore.DAL.T

[2016-07-24 20:47] skimedic commented on #6044
I don't believe this should have been closed.

[2016-07-24 20:59] Opiumtm commented on #4423
@jnm2 I think, SQL providers are more difficult to implement than NoSQL providers. With ESENT challenge would be to integrate all ESENT benefits and optimizations within Entity Framework. For example, ESENT support some specific concepts like "pre-joined tables" and "tuple indexes". Also, ESENT model is very different from SQL and document oriented NoSQL. Additional challenge is to develop ISAM co

[2016-07-25 01:44] ctolkien opened #6153 "InMemory: Enable case sensitivity/insensitivity setting"
When querying InMemory database, string comparisons are case specific whereas the default collation of SqlServer is case-insensitive.

Would like to see an option added to the `InMemoryDbContextOptionsBuilder` object to specify this behaviour so that we can more closely align with SqlServer.

[2016-07-25 01:45] ctolkien commented on #6151
[code]

[2016-07-25 02:55] nblumhardt commented on #6096
Hi folks,

I had a quick look at the current logging statement, @rowanmiller I think the missing detail is that `DbCommandLogData` does not implement `IEnumerable<KeyValuePair<string,object>>`, which the new logging framework uses as the contract for payloads with structured properties.

The suggestion of @gdoron's to use a template-based format string would resolve this nicely - MVC uses this app

[2016-07-25 04:03] tuppers360 commented on #6151
thanks

[2016-07-25 06:07] hikalkan commented on #6147
Hi,

Thanks for your answers.

* Interesting, but it was not int.MinValue. I especially checked it. It seems it's a some random number very close to int.MinValue.

Many application check ``if (Id == 0)`` to understand if the entity is saved to database or not. So, this breaks our existing code. Surely, we can change ``if (Id <= 0)`` but I could not understand why it's set to a negative value like

[2016-07-25 08:15] ErikEJ commented on #4423
@jnm2 : I am thinking about doing something, but as stated earlier, I think awaiting a NoSQL provider implemented by the EF Core team itself would in my opinion be a very good idea, to save a lot of effort.

@Opiumtm :

I disagree, with all the work done in the core relational ef component, I believe it is actually quite simple to implement a ANSI SQL based provider - and there is currently no sam

[2016-07-25 09:50] gdoron commented on #1833
@rowanmiller so what is the current way of using left join with a where clause \ on clause?
I currently query for the entire relationship and filter on the client.
Is there a better way of doing it?

    var story = await _context.Stories
        .Include(x => x.Paragraphs)
        .Include(x => x.User)
        .Include(x => x.Tips)
        .Include(x => x.Images)
        .Include(x => x.Comments)

[2016-07-25 11:55] archanasoni opened #6154 "Is Stored Procedure Output parameter supported via FromSQL or ExecuteSqlCommand ?"
Hi,

We are trying to execute SP which has only Output type parameter, But if we pass Parameter of type DB2Paramemter then we get below error:
Unhandled Exception: System.NotSupportedException: No mapping to a relational ty
pe can be found for the CLR type 'DB2Parameter'

and if we pass just int type parameter, we don't see\get value.

Is Stored Procedure Output parameter supported via FromSQL or

[2016-07-25 13:49] shaulbehr opened #6155 "How to do data migrations inside an EF7 code first migration?"
(Asked on [StackOverflow](http://stackoverflow.com/q/38568475/7850), but I'm hoping you guys will get me a more accurate answer, sooner...)

In my schema migration, I need to do a data migration to an external database. So I can't fall back on `migrationBuilder.Sql()`. What I need to do is run a query on the local database and insert the data returned into the external database. In other words, I

[2016-07-25 14:21] azabluda opened #6156 "SqlServer database reverse engineering is inconsistent with script generator for unique indexes on nullable columns"
### Steps to reproduce

The failing unit test can be fetched from https://github.com/azabluda/EntityFramework/commit/1acdcdf648e61cdcb77f56fc9de850c9ff2b26cd.
### The issue

Nullable columns become non-nullable after translation of the result of RevEng back to DDL if there is a unique index defined on such columns.

Thus

[code]

becomes

[code]

One could speculate on whether the original DDL is

[2016-07-25 15:51] wc-matteo commented on #6140
As a note, not related to this issue, calling a function inside `.Select()` (e.g. `FindTitles()`) while passing an entity as an argument (e.g. `Blogs)`, increases the response time from 80 ms to 300 ms, in my case; is sufficient to pass/not pass the argument to trigger the difference.

Is this something you're aware of? Am I doing it wrong?

[2016-07-25 16:01] janiceattard commented on #5530
@rowanmiller in fact, in our application we are not continually querying the same data - in most of the cases the productids are different. So it's not just the case when querying the same data repeatedly.

We tested with a fresh context for each query using the below code:

[code]

But both RC2 and RTM are still slower than RC1:

![2016-07-25 17_19_15-c__windows_system32_cmd exe](https://cloud.gi

[2016-07-25 16:11] xrkolovos opened #6157 "ChangeTracker.Entries() throws NullReferenceException"
### Steps to reproduce
Realy don't know

### The issue
I have this code
[code]

And when i try to insert something random i get this error. Any clue?

[code]

### Further technical details

EF Core version: 1.0.0
Operating system: win10
Visual Studio version: VS 2015

[2016-07-25 16:26] ajcvickers commented on #6147
@hikalkan EF Core generates temporary IDs which are then replaced with the real IDs when SaveChanges is called.

[2016-07-25 16:33] ajcvickers commented on #6157
@xrkolovos Can you please post code for the entity types that are being used? Also, if the application is adding more than just a single entity, then can you post code that reproduces how the entities are being added?

[2016-07-25 16:46] xrkolovos commented on #6157
I actually managed to make it work.
The issue was that before saving my new entity i was retrieving some entities from the db without using AsNotracking(). This code was trying to create many rows automatically for the user from some inputs. After calling Table.Add(entity) for each one of them, the entity that was retrieved without  AsNotracking(that was related with the one i was trying to save)

[2016-07-25 16:50] ajcvickers commented on #6157
@xrkolovos Glad you got it working, but there still should not be any case where this code throws null-ref exception, so if you could help me reproduce the issue that would be great.

[2016-07-25 17:10] rowanmiller commented on #6152
@natemcmaster @bricelam I think we already have this tracked somewhere right?

[2016-07-25 17:18] natemcmaster commented on #6152
@rowanmiller "default namespace" is a Visual Studio-only feature and does not yet work in "dotnet ef" or .xproj projects. This will be fixed with #5334

@chassq can you clarify two things?

Are you using `Scaffold-DbContext` or `dotnet ef dbcontext scaffold`?

Which version of ASP.NET? ASP.NET Core or ASP.NET 4?

[2016-07-25 17:21] rowanmiller commented on #6152
https://github.com/aspnet/EntityFramework/issues/4524 is the one I was thinking of. `project.json` has default namespaces - but we were going to wait until the project system consolidates before adding support.

[2016-07-25 17:37] rowanmiller commented on #6044
Reopening to discuss in triage based on comments from @skimedic

[2016-07-25 17:38] rowanmiller commented on #625
@arielcloud it's fixed in our working code base, but not in the current stable release. We will update the docs when this is released in 1.1.

[2016-07-25 17:38] lajones commented on #6152
See also #3988 - there the plans were to make the namespace be some combination of the default namespace for the project (or the project name if a default namespace isn't available) and what you specify for the `--outputDir` (provided `--outputDir` is within the project) and the schemas of the tables.

[2016-07-25 17:40] skimedic commented on #6044
[SpyStore.DAL.zip](https://github.com/aspnet/EntityFramework/files/382095/SpyStore.DAL.zip)
Here is my updated code, the udf is using with schemabinding (I also change the udf to not reference the computed column in the order details table in case that was adding to the issue). Same test is failing as before.

[2016-07-25 17:41] skimedic commented on #6044
please let me know if I can help in any additional way to diagnose this. ty.

[2016-07-25 17:42] natemcmaster commented on #6152
I'll be tracking this in https://github.com/aspnet/EntityFramework/issues/6139

[2016-07-25 17:46] chassq commented on #6152
dotnet ef dbcontext scaffold "Server=<dbserver>;Initial Catalog=<db>;Persist Security Info=False;User ID=<uid>Password=<pwd>;Pooling=False;Encrypt=True;TrustServerCertificate=False;" Microsoft.EntityFrameworkCore.SqlServer --output-dir models --force

ASP.NET Core using full .net framework 4.6.1

[2016-07-25 17:48] mariuszkochanowski opened #6158 "EntityTypeBuilder missing overload HasKey"
EntityTypeBuilder
has function:
`public virtual KeyBuilder HasKey([NotNull] params string[] propertyNames)`

that allows: .HasKey("UserId", "RoleId")

EntityTypeBuilder<TEntity>
missing overload:
`public virtual KeyBuilder HasKey(params Expression<Func<TEntity, object>>[] keyExpression)`

that could allow: .HasKey(e=>e.UserId, e=>e.RoleId)

[2016-07-25 17:49] chassq commented on #6152
Accounting for table schemas in ns would be awesome!

[2016-07-25 17:52] ajcvickers commented on #6158
@arespr Use
[code]

[2016-07-25 18:00] axelheer opened #6159 "Query: SQL LIKE statement (wildcards) using LINQ"
In the "old" Entity Framework it was possible to use `SqlFunctions` in order to create something like an ordinary `LIKE` statement.

`... where SqlFunctions.PatIndex("%na_f%", x.Name) > 0...`

While in the "new" Entity Framework there seems to be no replacement for `SqlFunctions`. That approach was a workaround anyway, but some way to use a simple `LIKE` statement would be very useful. If not esse

[2016-07-25 18:15] hikalkan commented on #6147
OK, while I did not like this design much I will change my code to handle it.
Thanks for your answers.

[2016-07-25 18:32] lucacestola commented on #1833
Will Filtered Loading be supported at configuration level, in order to have one to many navigation property filtered upstream? Can this feature be someway useful to avoid bad configurations with circular reference like [this](http://stackoverflow.com/questions/4517566/does-entity-framework-support-circular-references)?

[2016-07-25 18:36] bjorn-ali-goransson commented on #6147
Why does it do that?

2016-07-25 18:27 GMT+02:00 Arthur Vickers <notifications@github.com>:

[2016-07-25 18:52] gdoron commented on #1833
@lucacestola I'm not sure why you think it's related to conditional querying of a navigation property.

[2016-07-25 19:22] smitpatel commented on #6024
@DWAK-ATTK - Can you provide a repro code? The query you provided does not compile.

[2016-07-25 19:27] AndriySvyryd commented on #6044
My bad, `WITH SCHEMABINDING` only helps if the UDF doesn't contain a query. To support this we could add a way to mark the column as not compatible with 'OUTPUT' and query it separately from the update statement.

As a workaround you can configure the property as 'ValueGeneratedNever()' and reload the entity when you need to access the computed column.

[2016-07-25 19:31] divega commented on #6159
Related to #2850.

[2016-07-25 19:35] sergeitemkin opened #6160 "Querying optional one-to-many relationships causes QueryClientEvaluationWarnings"
### Steps to reproduce

[code]
### The issue

I've set up some entities that have optional relationships to other entities, similar to the example above, where `EntityA` can be null on `EntityB`. When the one-to-many relationship from `EntityB` to `EntityA` is marked as required during model building, then `Where(b => b.EntityA.Key == "Test").ToList()` works as expected. However, when the relation

[2016-07-25 19:53] lucacestola commented on #1833
@gdoron because it could be also applyed to one to many relationships and would be implicit.

Actually, with EF 6, I was not yet able to find a good solution for the relation type like the one at the posted link, without using a circular FK and, at the meantime, have the possibility to use an expression like this: `parent.MainChild.ChildProperty`.

I know that this kind of relations depends on a v

[2016-07-25 20:30] rowanmiller commented on #5968
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-25 20:31] rowanmiller commented on #6006
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-25 20:31] rowanmiller commented on #6037
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-25 20:37] rowanmiller commented on #6097
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2016-07-25 20:59] rowanmiller commented on #6132
@smitpatel anything to do on the EF side here?

[2016-07-25 21:00] rowanmiller commented on #6137
Pretty sure this is by-design, assigning to @bricelam to confirm

[2016-07-25 21:18] rowanmiller commented on #6152
Tracked by #6139

[2016-07-25 21:43] Bartmax commented on #1833
I just have the exactly same need as @gdoron (and not surprising, with `IsDeleted` fields as well)
is there any way to left join w/ where at db level?

[2016-07-25 22:15] smitpatel commented on #4581
Our in-memory group by operator assumes that the entries are coming in the order of the grouping. Hence when we encounter different key we return groupings collected so far. This fails when the key for 2 rows are same but they is at least one row in between which has different key.

[2016-07-25 22:23] smitpatel commented on #6132
From discussions so far, the way user wants to write query is not possible due to limited from re-linq. And there is alternate way to write the query which gives same results.

[2016-07-25 23:06] smitpatel commented on #6140
EF generates following query in latest codebase
[code]
Above query gives answers as expected. Fixed in #6002.
As for passing function, the difference happens in execution that, when you use function, it will run include hence 2 queries (the 2nd one being inner join query). If you use inline projection then the projection is known to EF which does not require all data from post, and it uses n+1 que

[2016-07-25 23:20] AndriySvyryd commented on #6127
@ste4net This looks like a bug. Could you provide the complete model, including the types you were expecting to be ignored?

[2016-07-25 23:31] divega commented on #6132
I was curious about this one because it ringed a bell so I took a look:

In the past I found it very useful to create repositories that predicates of the form `Expression<Func<T, bool>>` in their methods and I also hit the need to call `AsQueryable()` just to be able to use those predicates in the context of collection nav. props.

It was very handy that `AsQueryable()` worked in the old stack to

[2016-07-25 23:34] ajcvickers commented on #6057
We decided not to do this for a combination of two reasons:
* While it might be useful in general to provide entity type/property name information for bad type mappings, it doesn't in this case provide much additional value since it should be easy to search code for occurrences of "varchar" or similar.
* It would require breaking the IRelationalTypeMapper interface to do this in the obvious way. W

[2016-07-25 23:42] #6048 closed

[2016-07-26 00:20] smitpatel commented on #6096
@nblumhardt , @gdoron @rowanmiller - Can you provide info on how to verify if the output of log is structured?

[2016-07-26 00:47] #5769 closed

[2016-07-26 00:49] #6115 closed

[2016-07-26 00:50] #6117 closed

[2016-07-26 01:15] nblumhardt commented on #6096
@smitpatel using the built-in _Microsoft.Extensions.Logging_ framework, you can plug in a mock `ILogger`, e.g. `CollectingLogger`, that stores log events into a collection that can be inspected in a unit test.

The `state` parameter on [this one](https://github.com/serilog/serilog-extensions-logging/blob/dev/src/Serilog.Extensions.Logging/Extensions/Logging/SerilogLogger.cs#L50) is the object you

[2016-07-26 02:44] bricelam commented on #6137
Yes, by-design. Storing as a REAL would be lossy.

[2016-07-26 03:50] gdoron commented on #6096
Thanks @nblumhardt ! 👏

Would it be possible to squeeze it into v1.0.1?
Since it's a low risk, easy to fix and huge value bug?

[2016-07-26 06:07] VagueGit commented on #6137
Thank you for clarifying that @bricelam

[2016-07-26 07:30] wc-matteo commented on #6140
Thank you for the answer @smitpatel.
Regarding the difference in perf when passing an entity as an argument, I have another piece of code where there are no `.Include()` and, again, just passing an entity as an argument to an empty function inside a `.Select()` have a major impact in response times. And the queries against the database remain practically
the same, with or without the argument.
Is

[2016-07-26 07:45] AhmedMabrouck opened #6165 "Creating Custom Inhertiable DbContext"
The problem is solved, There is no issues at all. Please remove this issue.

[2016-07-26 12:20] csmith93 commented on #5769
@AndriySvyryd Thanks for figuring this out!

[2016-07-26 12:27] xrkolovos commented on #6157
@ajcvickers it's complicate to find a way to reproduce it. I must give you all the source code for my model layer and repository layer and add you sample console app to trigger it.
Do you have any other ideas?
We can have a call/meeting if you want to show you.

[2016-07-26 15:53] Cowlephant opened #6166 "Cannot select IEnumerable object in ThenInclude"
### Steps to reproduce

[code]
### The issue

I am trying to select a nested object with ThenInclude that is an ICollection, but Entity Framework doesn't seem to like what I am trying to accomplish. I've tried writing it in numerous different ways as well... with just an include that chains down to the object I'm looking for, fewer ThenIncludes, etc. Am I doing this wrong? Is this a bug or a limit

[2016-07-26 16:43] rowanmiller commented on #6166
You shouldn't need to use the Select syntax with EF Core (in fact it's not supported). Visual Studio IntelliSense gets confused with Include/ThenInclude (we're getting that fixed) but you should just be able to do a ThenInclude for the related property without using Select.

[2016-07-26 17:00] pgrm commented on #5845
@ajcvickers and @anpete thank you very much for guiding me throw this - it's working now with that simple example. I tried to extend it as follows:

    public static IQueryable<TEntity> WithLock<TEntity>
        (this IQueryable<TEntity> source, LockStrength lockStrength, string tableName, LockOption? lockOption)
    {
        if (source == null)
        {
            throw new ArgumentNullExcept

[2016-07-26 17:09] twilliamsgsnetx commented on #6166
@rowanmiller I'm not entirely sure what you mean, because even without using the Select it still fails to work.

This doesn't throw an exception:

[code]

But it's an IEnumerable join table, and the Aggregate object I'm trying to access in that join table is null.

![image](https://cloud.githubusercontent.com/assets/13950486/17147758/bfe8359a-5329-11e6-9e02-a2d45ed07a67.png)

[2016-07-26 17:12] rowanmiller commented on #6166
@twilliamsgsnetx  you should be able to write this:

[code]

[2016-07-26 17:17] twilliamsgsnetx commented on #6166
Well that's interesting. My Intellisense failed me here then? All these years working with .NET and I had no idea you could just select a property of the underlying type... even though it doesn't show up via Intellisense.

I don't know whether to feel stupid or not.

Time to go back and reevaluate all my other code then...

[2016-07-26 17:22] rowanmiller commented on #6166
Definitely don't feel stupid 😄... it's really unintuitive that something wouldn't show up in IntelliSense but would compile. Include/ThenInclude are just pretty complicated for IntelliSense to pick the right overload etc., so we hit an issue that they weren't aware of (we've passed it on for them to fix).

[2016-07-26 17:30] divega commented on #6166
@twilliamsgsnetx In case you are curious or you want to provide additional feedback on the Intellisense issue, you can find it at https://github.com/dotnet/roslyn/issues/8237.

[2016-07-26 18:04] twilliamsgsnetx commented on #4744
This caused me a couple hours of consternation. Glad it has been fixed.

My workaround had to be executing my query and then performing further selections on it.

[2016-07-26 18:08] maumar commented on #6160
duplicate of https://github.com/aspnet/EntityFramework/issues/4588

[2016-07-26 18:20] #1201 closed

[2016-07-26 18:27] smitpatel commented on #6024
closing in favour of #5930

[2016-07-26 18:27] smitpatel commented on #5930
Cleared milestone. The dupe of this issue was in 1.1.0 milestone and this one was in backlog.

[2016-07-26 19:30] #6122 closed

[2016-07-26 20:33] ghost opened #6170 "please add framework netstandard to Microsoft.EntityFrameworkCore.Tools"
it is possible to add netstandard1.x framework to the assembly/nuget package Microsoft.EntityFrameworkCore.Tools?

I have an app running on ubuntu linux and want to have support for netstandard1.6

[2016-07-26 21:04] marchy commented on #2336
@mrahhal We get the following error when running any of the migration commands:
Value cannot be null.
Parameter name: type

Any idea how to trouleshoot this? Our setup runs fine at runtime (ASP.NET Core app) but the migration commands don't like it

[2016-07-26 21:07] MatthewMWR commented on #2319
Note that the workaround shown above (explicitly create and manage shadow properties to represent get-only property values in database) no longer works in 1.0.0. Metadata.IsShadowProperty is now read only.
Does this mean a caller should not try to create shadow properties for this scenario, or just that making a shadow property needs to happen somewhere else?

[2016-07-26 22:21] ajcvickers opened #6171 "Fixup can be inconsistent for 1:1 relationships changed in store"
If an FK value for a 1:1 relationship is moved from one row (entity) in the database to another row (entity) in the database while the first is loaded, then if the second is later loaded fixup can be inconsistent because both entities will have navigation properties pointing to the single principal.

[2016-07-27 04:28] MohammadAkbari opened #6174 "ConcurrencyCheck not work"
In following sample i use ConcurrencyCheck DataAnnotation for handling concurrency issues, but after executing add-migration command the Up and Down methods in the generated migration file are empty and when i run two sample of project concurrently (break point before SaveChanges method), **there is no concurrency exception**. and both updates affect on database.

[code]

[2016-07-27 05:18] rdefreitas commented on #6155
Currently, there is no way to return loaded entities inside of migrations, however, you can use the Sql method of MigrationBuilder inside your migrations.

`migrationBuilder.Sql("UPDATE [dbo].[Foo] SET [Bar] = 1;");`

[2016-07-27 05:25] rdefreitas commented on #6170
Are you trying to reference this from a supporting library or your executable project?

Executables on .net core ideally should target `netcoreapp1.0` which is supported by the Tools library.

[2016-07-27 06:51] shaulbehr commented on #6155
Yes, but that only works on the local database.  I need to get data out of the local and into an external DB.
You say "currently".  Does that mean this feature is on the road map?

[2016-07-27 07:08] jmbalanag opened #6175 "System.InvalidCastException: Unable to cast object of type 'System.String'"
### Steps to reproduce

[code]
## Problem occurs when accessing lib_city.city_name..

[code]

using this method still throws same error:

[code]
### The issue

When retrieving values of related tables for values with string keys, exception is thrown. For integer values there is no problem.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]
### F

[2016-07-27 07:18] rdefreitas commented on #6155
One of the other issues discussed changes to migrations to facilitate seeding.  I'm not sure when it is planned for, though.

As for the local database concern, it will execute against whatever database you're running your migrations against.

[2016-07-27 09:51] roji opened #6176 "Publish Microsoft.EntityFrameworkCore.Relational.Tests as a nuget?"
EFCore already provider the specification test suites as nuget packages for consumption by providers. This is great as it allows providers to automatically check if they implement EFCore behavior correctly, etc.

There's also Microsoft.EntityFrameworkCore.Relational.Tests, which contains unit (rather than functional/integration) tests on EFCore components. Aside from running these tests directly,

[2016-07-27 11:07] tedd commented on #4797
It completely cleared the PATH variable, as in: The PATH variable contained no data at all. It is supposed to contain a lot of stuff. What it contains varies from computer to computer.

Here is from one of my computers:
C:\>echo %path%
C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\libnvvp;;E:\Python\Python35-32\Scripts\;E:\Pytho

[2016-07-27 11:24] Bartmax opened #6177 "Query: INNER JOIN generated for navigation traversals from principal to dependents"
This is very counter intuitive, I'm not sure what's going on.
My goal was to get the 4 database entries, with null on Logo when Details is null.
I tried different approaches and i found it very inconsistent.

So obvious question is:  is it possible to get all rows, left join with default if empty?
Question 2: Am I doing something wrong or this is a bug?

Database has 4 entries, 2 with null details

[2016-07-27 11:32] Bartmax commented on #6177
I'm pretty sure the problem lies in that when specifying the navigation inside the `Select` the query switches from `LEFT JOIN` to `JOIN` hence my attempt to use `DefaultIfEmpty`.

[2016-07-27 11:39] pgrm commented on #5845
ok, I've found the reason why `.FromSql` works with consts - the parameters are annotated with `[NotParameterized]`. Now everything works for me. I suppose you can close this issue?

Thanks

[2016-07-27 12:25] gdoron commented on #5962
_For future visitors:_

Currently it seems there's an issue with Identity and the transient DbContext.
Caution is advised.
 https://github.com/aspnet/Identity/issues/914

 @ajcvickers I'm closing this issue, you obviously can reopen it if you want.

[2016-07-27 13:26] thtp opened #6178 "Combination of Include and Where clause for nullable field (left join) causes NullReferenceException"
### Code to reproduce:

Models:

[code]

Context:

[code]

Migration with test data:

[code]

Program:

[code]
### The issue

The code above throws NullReferenceException
Only combination of "Where" and "Include" does throw.

Here is generated SQL for this query:

[code]

As you can see, generated SQL does not include where condition. SQL selects everything, and Where clause is applied in memory.

[2016-07-27 14:20] mgolois opened #6179 "Stored Proc and navigational properties"
Hello,

I'm using EF Core 1.0 and would like my navigational properties to be set if they exist in the context.
Here is a simplify version of what I'm currently doing, which is not working correctly. What am I missing?

[code]

[2016-07-27 16:00] natemcmaster commented on #5961
This isn't going to be relevant in the next release. Closing as we will be using a different set of APIs altogether to find compiled output filenames. This work is tracked in https://github.com/aspnet/EntityFramework/issues/6139

[2016-07-27 16:00] #5961 closed

[2016-07-27 16:39] yahor-stalnik opened #6180 "not relevant to EF"
oops

[2016-07-27 16:55] rowanmiller commented on #6098
Agreed that this can stay on backlog. The real solution for the scenario described in the initial report of this issue is to support class libraries, which we are already working on.

[2016-07-27 16:58] divega commented on #6180
@yahor-stalnik it doesn't look like this is related to Entity Framework Core. The issue is either in Dapper or in the Transient Fault Handling Application Block.

[2016-07-27 16:58] rowanmiller commented on #6124
Something like this would typically be handled with a stored procedure (tracked by #245). Another option would be to check for existence before saving, but that is obviously not part of the same batch. If you are feeling brave, you could look at overriding the internal components that execute batches... but that's not a documented scenario, so you'd be on your own in terms of figuring out how to d

[2016-07-27 16:59] rowanmiller commented on #6125
Agreed with @ErikEJ, you need the latest version of PowerShell to use the commands. Closing as we are pretty confident that is the issue, but if not, then just reply and we'll reopen the issue.

[2016-07-27 17:00] yahor-stalnik commented on #6180
you're totally rigth, sorry, mixed up a little

[2016-07-27 17:01] rowanmiller commented on #6138
This is an EF6 issue, which should be opened in https://github.com/aspnet/EntityFramework6. That said, if your application assembly is in the GAC then I don't think there is any way for EF to be able to load the one from output... that's just how assembly resolution works in .NET.

[2016-07-27 17:14] rowanmiller opened #6181 "Query: Include with small result sets is slower than EF6.x (warm)"
Running a simple Include query on EF Core is slower than EF6.x when the result count is small. On my machine I see EF6.x being slower with ~1-50 results and then EF Core becomes significantly faster once you go over 50 results.

Here is the query:

[code]

And the results from my machine:

[code]

Here is the code I used for measurements.

[code]

[2016-07-27 17:16] rowanmiller commented on #5530
Ok, finally got to the bottom of this one... it's when the result count is small. Comparing to RC1 isn't really something we are concerned with (since a lot of things were faster because the product was only partially implemented) but I used EF6.x as a baseline (which we do care about) and saw the same relative results. I've opened https://github.com/aspnet/EntityFramework/issues/6181 to track thi

[2016-07-27 17:17] #1198 closed

[2016-07-27 17:19] rowanmiller commented on #6149
We aren't planning to do this since it's not clear that Description would translate to DisplayName (in fact when we've seen requests like this in the past, folks have often wanted them added as xml doc comments rather than display name).

That said, in the future we do want to make the reverse engineer process more extensible so that folks can wire up things like this without too much work.

[2016-07-27 17:23] rowanmiller opened #6182 "Reverse Engineer: Table/Schema Exclusion"
Have the ability to specify tables/schemas to be excluded, useful for excluding AapNet\* tables etc.

[2016-07-27 17:24] rowanmiller commented on #6148
We aren't planning to do something specific to the AspNet* tables, but we do want to have the ability to exclude a set of tables (which would include fk constraints to them). In triage we thought we had something tracking this, but I couldn't find it... so opened https://github.com/aspnet/EntityFramework/issues/6182 to track.

[2016-07-27 17:31] rowanmiller commented on #6150
Discussed and decided this isn't something we are going to add the core product.

You could write an extension to achieve this pretty easily though...

[code]

[2016-07-27 17:33] rowanmiller commented on #6153
Case sensitivity in SQL Server is actually controlled by the collation settings in the database. We can see the value in having similar settings in the InMemory database so that you can adjust it to align with whatever database you are targeting.

[2016-07-27 17:35] rowanmiller commented on #6154
It looks like you are using the DB2 provider which I think currently only supports RC1. If so, the ability to pass `DbParameter`s to those APIs was added after RC1. You would need to wait for a version of the provider that supports the 1.0.0 release of EF Core.

[2016-07-27 17:38] rowanmiller commented on #6155
@shaulbehr this isn't a supported scenario of migrations and not something we really plan to support.

However, you can write whatever code you want in the migration, so you can use ADO.NET to connect to the remote database etc. The big caveat would be that the code would run when the migration script is being calculated, so it would run before any other operations in the migration are applied to

[2016-07-27 17:41] lajones commented on #6182
See also this comment from issue #5126: https://github.com/aspnet/EntityFramework/issues/5126#issuecomment-213009189

[2016-07-27 17:42] rowanmiller commented on #6156
Confirmed bug, reverse engineer marks the column as required when it is nullable in the database.

[code]

[2016-07-27 17:48] #5845 closed

[2016-07-27 18:16] rowanmiller commented on #6177
@Bartmax can you share your entity classes and context code

[2016-07-27 18:19] rowanmiller commented on #6176
@roji do you have some examples of where this provides value and how much code you would save by having it available. We want to understand how much value this would add.

[2016-07-27 18:20] rowanmiller commented on #6175
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-27 18:20] rowanmiller commented on #6175
You should also upgrade to the RTM release, rather than RC2.

[2016-07-27 18:21] rowanmiller commented on #6170
@natemcmaster can you comment on this one

[2016-07-27 18:24] rowanmiller commented on #6157
We're not too concerned about this one as it sounds like a very difficult situation to get into. If you end up supplying a way to reproduce it, then we'll look into it, but we're not too concerned if you can't.

[2016-07-27 18:28] rowanmiller commented on #6132
@smitpatel could you pass off a request to re-linq to look at removing this limitation, then you can close this as external.

[2016-07-27 18:29] Bartmax commented on #6177
I'll try:

[code]

Let me know if you need something else, I removed a lot of stuff to make it readable, hope I included all details that matters.

[2016-07-27 19:07] ErikEJ commented on #6176
I have had no issues with simply copying a couple of files over

[2016-07-27 19:20] natemcmaster commented on #6170
@leo90skk at the moment, "dotnet-ef" doesn't work on class library projects (see https://github.com/aspnet/EntityFramework/issues/5320). In other words, if you can't do `dotnet run`, then `dotnet ef` wouldn't work either. This is why the .Tools package only targets netcoreapp1.0 and net451. We won't be adding "netstandard1.3" to the .Tools packages until we have a solution for #5320.

[2016-07-27 19:27] natemcmaster commented on #6176
I found at least one "abstract" test class in the .Relational.Tests project, which, in theory, means it should be in .Relational.Specification.Tests.

@ErikEJ which files do you copy?

[2016-07-27 19:37] ErikEJ commented on #6176
https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/test/EntityFramework.SqlServerCompact.Tests/ApiConsistencyTestBase.cs

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/test/EntityFramework.SqlServerCompact.Tests/Extensions/EntityFrameworkServiceCollectionExtensionsTest.cs

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/blob/master/test/Entit

[2016-07-27 20:03] xperiandri commented on #6150
Cool, thanks!

[2016-07-27 20:09] DamirLisak opened #6183 "Reflection Exception in Microsoft.EntityFrameworkCore.Metadata.Internal.Navigation.IsCompatible on ARM-Processors"
I have a Windows-UWP-Project which this packages
    "Microsoft.Data.Sqlite": "1.0.0",
    "Microsoft.EntityFrameworkCore.Sqlite": "1.0.0",
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2"

When I invoke the Extension-Method RelationalDatabaseFacadeExtensions.Migrate() for the sqllite-Database in the OnLaunched()-Method of the UWP-Application on a Windows-Phone-Device (**ARM**-Processor,

[2016-07-27 20:41] AndriySvyryd commented on #1877
If a CLR property with the specified name exists it will always be added as non-shadow

[2016-07-27 23:29] roji commented on #6176
I actually have less than @ErikEJ, but should definitely get to work on these. Looking into this was what made me think about having a publicly-available suite. To @ErikEJ's list I can also add ModelDiffer - Npgsql adds migration operations for managing PostgreSQL extensions, and it would be good to be able to run the basic ModelDiffer tests on Npgsql's overridden version (plus add my own).

Again

[2016-07-27 23:31] roji commented on #6176
@natemcmaster there currently seems to be a project split between unit tests and functional/integration tests (which actually connect to the database), so I don't know if putting these in .Relational.Specification.Tests is what you want to do. That split may be useful for running quick unit tests vs. slow functional tests.

[2016-07-28 00:03] anpete opened #6185 "BatchExecutor.ExecuteAsync invokes sync BeginTransaction instead of BeginTransactionAsync"
Looks like a typo.

[2016-07-28 00:07] natemcmaster opened #6186 "SQL 2008 regression"
Two tests started failing in the last few weeks for SQL 2008

- QuerySqlServerTest.Select_Subquery_Single
- QuerySqlServerTest.Select_Where_Subquery_Equality

[code]
See https://ci.appveyor.com/project/aspnetci/entityframework/build/1.0.2842/job/6ys6awn5efpn3qo6#L2209 for full output.

cc @maumar possibly https://github.com/aspnet/EntityFramework/commit/05b24c30b8b8693bc3daa78b195831bf45749a3f ?

[2016-07-28 02:16] tinchou commented on #6132
Fine with me. Please post here if you open an issue on re-linq so I can keep an eye on it!

[2016-07-28 02:35] #6186 closed

[2016-07-28 03:21] Kagamine commented on #6176
@natemcmaster

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.Tests/Migrations/MigrationSqlGeneratorTestBase.cs

[2016-07-28 06:59] shaulbehr commented on #6155
@rowanmiller  I know I could run ADO.Net queries, and that would be fine solution, except that I don't even have access to the connection string for the current database from inside the migration.  Any chance you could provide that as a property of the MigrationBuilder somewhere?

[2016-07-28 07:02] liamwang opened #6190 "How to set default conventions on model creating"
Is there a way to set default conventions on Entity Framework Core , just like below implemented by Entity Framework 6.x ?

[code]

[2016-07-28 07:50] fredrikhr opened #6191 "Want DbContextOptionsBuilder.UseDefaultSchema(string schema)"
Currently you can specify the default schema name of your DataModel using the `ModelBuilder.HasDefaultSchema(string)` from within the overridable `DbContext.OnModelCreating(ModelBuilder)` method. (Extension method located in package `Microsoft.EntityFrameworkCore.Relational`)

It would be nice if the relational package also would implement an extension method for the `DbContextOptionsBuilder` to p

[2016-07-28 08:08] minimalisticMe opened #6192 "Map one entity to many others"
Let's say I have the following simplified classes:

[code]

And I have two `Rooms` Room r1 and Room r2, two `Teachers`  t1 and t2 and two `Subject` s1 and s2. I now want to assign r1 to t1, t2 and s1 and r2 to s2. I would do this by

[code]

The error I get is `Inner Exception: "SQLite Error 19: 'FOREIGN KEY constraint failed'."`. So I cannot do this. What is the proper declaration here, to achiev

[2016-07-28 12:07] Bartmax opened #6193 "Migrations fails to adds corresponding using when using enums"
Add a migration when a model has an enum fails to include the using for the appropiate namespace on the migration file and results in compilation error.

[code]

adding the using by hand solves the issue.

[2016-07-28 12:51] j-nord opened #6194 "In "database first" the underscores character are not transferred into the model."
### Steps to reproduce

Generate the model with the following command:
Scaffold-DbContext "Server=(localdb)\mssqllocaldb;Database=Blogging;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models
### The issue

Describe what is not working as expected.
The table name in the database is **d_documentation**. The generated model name is **DDocumentation**. So all disappear

[2016-07-28 13:38] dazinator opened #6195 "Simple query fails - with test case"
### Steps to reproduce

Using the `InMemory` store , here is a simple xunit test case to reproduce the problem (using xunit)

[code]

Exception message:

[code]

Stack trace:

[code]
### Further technical details

EF Core version: 1.0.0
Operating system: Windows 8.1 Enterprise N
Visual Studio version: VS2015 Update 3

[2016-07-28 13:43] dazinator commented on #6195
Let me put together a simple unit test to reproduce, then I will reopen.

[2016-07-28 14:14] roji opened #6196 "SQL Server RevEng: Honor -Schemas when scaffolding sequences"
The SqlServer sequence scaffolding code doesn't seem to take the table selection set into account when scaffolding sequences: https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore.SqlServer.Design/Internal/SqlServerDatabaseModelFactory.cs#L186

The result is that when the user runs `dotnet ef dbcontext scaffold` with `--schema`, their scaffolded context will include

[2016-07-28 14:47] WillBaldwin opened #6197 "dotnet ef database drop hangs"
### Steps to reproduce

From command prompt:

Are you sure you want to drop the database 'BRI_SAI-Development' on server 'myserver'? (y/N)

If you answer Y or N the CLI hangs
### The issue

What I was hoping it would do is drop all the tables so that I can code first from a table-less database.  What I expected it to do is drop the database.
What is  did was hang.

[code]
### Further technical det

[2016-07-28 15:01] roji commented on #6196
Thinking about this some more, this may be a bit tricky since tables in the requested schema may depend on sequences in a non-requested schema (via default). However, it still seems more correct to only scaffold sequences from the requested schema - it's what the user requested even if it would produce a non-functioning setup...

[2016-07-28 16:22] rdefreitas commented on #6197
@WillBaldwin can you reproduce this on RTM?

[2016-07-28 16:35] ajcvickers commented on #6194
Dupe of #6018

[2016-07-28 16:46] ajcvickers commented on #6190
@liamwang The closest thing to this in EF Core is to do bulk configuration of the model. For example:
[code]

[2016-07-28 17:01] ajcvickers commented on #6192
@minimalisticMe I am not able to reproduce what you are seeing with the code you posted. I have posted the complete console application I am using. Can you make appropriate changes to the application so that it throws the exception you are seeing?
[code]

[2016-07-28 17:04] #758 closed

[2016-07-28 17:04] #4461 closed

[2016-07-28 17:39] flipchart commented on #5664
Not sure if the same root cause, but I'm getting the same error message when using `.OfType` in a `.Select`. See gist for full repo: https://gist.github.com/flipchart/d44ae65458a845cd9e173b92df2f1c6d

[2016-07-28 18:02] maumar commented on #6195
This is fixed in the current dev (and I verified in was broken in RTM). Workaround is to add == true to the bool property like so:

[code]

[2016-07-28 18:10] ajcvickers commented on #4357
@divega @rowanmiller @anpete @AndriySvyryd

Here is a proposal based on the discussion we had yesterday. Thoughts?
[code]
If the property is a CLR property, then this just configures the backing field to use for that property--i.e. it is just fluent API for what we already have.

If the property is not a CLR property, then this makes the property always use the field for storage. So it is no longe

[2016-07-28 18:20] anpete commented on #4357
Looks good. Question:

When there is no CLR property "_key", will
[code]
add a field-backed property if a matching field is found?

Perhaps HasPropertyAccessMode -> UsePropertyAccessMode

[2016-07-28 18:22] ajcvickers commented on #4357
@anpete Depends whether or not we think that any significant number of people are currently doing this and have working apps with shadow state properties. Safest thing is to not do it. Best experience assuming we think we can make the break is to do it.

[2016-07-28 18:23] flipchart opened #6198 "NotImplementedException for GroupJoin"
### Steps to reproduce
See gist https://gist.github.com/flipchart/67e5687ec70ed2673d50803b78f05319

### The issue
	{System.NotImplementedException: The method or operation is not implemented.
	   at Microsoft.EntityFrameworkCore.Query.Internal.AsyncLinqOperatorProvider.AsyncQueryableAdapter`1.get_Provider()
	   at System.Linq.Queryable.GroupJoin[TOuter,TInner,TKey,TResult](IQueryable`1 outer, IEnu

[2016-07-28 18:23] anpete commented on #4357
@ajcvickers Could be a feature flag, too.

[2016-07-28 19:31] IvanJosipovic opened #6199 "Selecting a single column from a Nullable child Entity queries the whole object"
### Steps to reproduce

http://pastebin.com/mXCLp8du

[code]
### The issue

When selecting a single column from a Nullable child Entity, the whole Object is selected rather than a single property. See code above.

[code]
### Further technical details

EF Core version: 1.0.0
Operating system: Windows 10
Visual Studio version: (e.g. VS 2013 or n/a) Visual Studio 2015

Other details about my project

[2016-07-28 19:49] ilmax commented on #4357
Can we have a shortcut syntax that infers, based on a convention, the name of the backingField to avoid a bunch of magic strings e.g.

`.Property(e => e.Id).UseField(); `

infers to use a backing field called `_id`

In this case the convention uses by default a field which is named _{camelCasedPropertyName}. It would be even nicer if we can replace this convention with a custom one.

[2016-07-28 19:51] maumar commented on #6199
dupe of https://github.com/aspnet/EntityFramework/issues/4588

[2016-07-28 19:59] ajcvickers commented on #4357
@ilmax EF Core already does that.

[2016-07-28 20:59] cinaradem opened #6200 "lazyload when to be active?"
lazy load when to be active? We started a great project and we are experiencing performance problems cannot be for lazy load. sql query + n query

[2016-07-28 22:29] dazinator commented on #6195
Ah, ok thank you :-)
Do you now have a regression test in place for this also?

[2016-07-28 22:52] maumar commented on #6195
Yes, here is the commit: https://github.com/aspnet/EntityFramework/commit/add3939bd592f1c4a7f249b81d024a2ff260091d

Scenario is not exactly the same but it's the same root cause. What happens under the covers in your case is that we convert the query into:

[code]

We are not smart to recognize that you constrained the results to non-nullable entities already, and we apply nullability safeguards o

[2016-07-28 22:52] ajcvickers opened #6202 "Support readonly fields"
Note that this issue is talking about readonly _fields_, not properties. That is, fields that are decalred as `readonly` or generated from read only auto properties. They have the "initonly" flag set in CLR metadata.

The issues:
- The expression compiler won't compile an Assign expression to a field with "initonly" flag set. Exception is: " Expression must be writeable". So normal mechanism for c

[2016-07-28 22:59] maumar opened #6203 "Query: When doing optional nav expansion, we can sometimes avoid nullability safeguards, if the user has performed them already"
In query like this:

[code]

we apply nullability safeguards on IsActive column because EntityC is optional navigation, like so:

[code]

We don't need them in this case, because query already constrained the results rows where EntityC is not null. We could detect this pattern and avoid some unnecessary complications. It doesn't matter much for relational, since the safeguards are optimized out an

[2016-07-28 23:19] smitpatel commented on #6203
Similar #4267

[2016-07-28 23:20] rezamohamed opened #6204 ".OnDelete(DeleteBehavior.Restrict) doesn't disable cascaded delete"
I am creating my model with .OnDelete(DeleteBehavior.Restrict); so as to disable Cascaded Delete (like EF6 WillCascadeOnDelete(False)) but the SQL table schema shows that the tables have ON DELETE CASCADE.

[2016-07-28 23:23] ajcvickers commented on #6204
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-29 00:06] dazinator commented on #6195
Excellent, thank you for the more detailed explaination.

[2016-07-29 03:48] rdefreitas commented on #5230
@ilmax I haven't come across that one, but I did run into a number of other problems myself if I didn't remember to run build initialize the first time out before eventually running build.

[2016-07-29 06:23] liamwang commented on #6190
@ajcvickers Got it. That way is similar to what I'm using in EF Core currently . Thanks for your reply.

[2016-07-29 07:18] ilmax commented on #5230
I've run build initialize, but that didn't seems to solve the problem.
I noted also that the fix is a little bit more complicate than I initially expected because if we would like to eliminate the redundant clause always (i.e. in every possible query), I have to make a little bit more work and I'm not sure the gain is worth the effort especially because we can potentially visit a very complicate q

[2016-07-29 07:39] gdoron commented on #6200
@cinaradem Lazy load doesn't solve 1+n queries but (potentially) **cause** them.

 I believe the 1+ N queries you see were already fixed in the 1.1.0 branch, but there are still a few around like #5783

[2016-07-29 07:44] gdoron commented on #6177
I'm not sure how `Include` works with `Select`.
My understanding from other issues that `Select` overrides all the `Include`s.
Did I misunderstood?

[2016-07-29 08:54] divega commented on #4357
At first glance the proposal looks good and it seems that having `UseField()` and `HasPropertyAccessMode()` defined like this should be fine because they are different (one is an explicit configuration API and the other is to select default behaviors) however there seems to be some ambiguity or overlap between them, in particular when `HasPropertyAccessMode()` is applied to property configuration.

[2016-07-29 10:03] fastlink30 commented on #6014
how is solved this problem? i have also

[2016-07-29 13:39] minimalisticMe commented on #6192
@ajcvickers please close this issue. I tried the code on a minimal example too and it worked for me as well.

For people in the future with similar sounding problems:
Turned out, I did some wrong referencing stuff in `Teacher` class. As I had a parent key, that did not get filled in, as I created an instance of `Teacher` on it's own instead over the parent.

[2016-07-29 15:58] Bartmax commented on #6177
@gdoron I don't think select `overrides` includes. not at least in my experience using it.

[2016-07-29 16:35] rowanmiller commented on #6177
The `Include`s should be a no-op in the queries shown. The includes mean "when you materialize a `Game`, also bring back the `Detail` and `Logo`"... but then the query is changed to not return `Game`s, so they have no effect. So the `Include`s are not needed, but the query should still work.

[2016-07-29 16:38] Bartmax commented on #6177
@rowanmiller great information to know!! thanks. not sure how I missed that but whatever.
thanks @gdoron :+1:, this is basic that's very handy to be aware of.

[2016-07-29 17:23] rowanmiller commented on #6193
Migrations actually shouldn't use the enum at all (since you may remove the enum from the model at some point in the future). It should use the underlying value (i.e. `0` in this case). I thought we had a dupe of this already, but I couldn't find it.

[2016-07-29 17:26] rowanmiller commented on #6132
BTW re-linq issue tracker is at https://www.re-motion.org/jira/browse/RMLNQ

[2016-07-29 17:38] rowanmiller commented on #6155
I don't think we would provide that, as connecting to the database doesn't really fit with how migrations works (it breaks scripting etc.). I think the best bet is to use some code to manually locate the connection string if you know it works ok with the way you are using migrations.

[2016-07-29 17:52] rowanmiller commented on #6197
The tooling changed significantly between RC2 and Preview2 (Preview2 of tooling aligns with RTM of the runtime), so this is most likely resolved in Preview2/RTM. If you still see the issue, then feel free to reply and we will re-open.

[2016-07-29 18:18] rowanmiller commented on #6193
@Bartmax which versions of the packages are you using? We thought this was fixed in RTM (but maybe we missed a case)

[2016-07-29 18:37] rowanmiller commented on #6202
We'll throw for the moment and can always support it later.

[2016-07-29 18:44] Bartmax commented on #6193
@rowanmiller I'm using 1.0 (RTM). And yup, It happened that I removed a type and I was unable to work with migrations, so using the underlying type makes lot of sense.

Just in case, the enum is defined as:
[code]

[2016-07-29 19:49] rowanmiller commented on #4357
Notes from triage

[code]

[2016-07-29 19:49] rowanmiller commented on #4357
Also note that an atribute would allow you to use `nameof` to set the field

[2016-07-29 20:36] smitpatel commented on #6193
#4508 was older issue. Looks like we have regressed.

[2016-07-29 21:00] rowanmiller commented on #6193
Thanks for the info - assigning to fix in 1.1

[2016-07-29 22:01] leo90skk opened #6205 "sqlite, decimal and academic number - System.FormatException: Input string was not in a correct format #1057"
### Steps to reproduce
Build a Sqlite DB with a table with a field with decimal(16,8).
Update the field with the value 0.0001 and try to make a linq select wit .ToList();

### The issue

I have a code similar to this:
[code]

At the last line, i face an exception.

This issue seems to be similar with #1057.

[code]

The database table had a content like this:
[code]

After i deleted all decimal va

[2016-07-29 22:08] natemcmaster commented on #6205
The issue is actually in Microsoft.Data.Sqlite.

https://github.com/aspnet/Microsoft.Data.Sqlite/blob/dev/src/Microsoft.Data.Sqlite/SqliteDataReader.cs#L420-L421

In order to parse exponential form, we need to use the [NumberStyles](https://docs.microsoft.com/en-us/dotnet/core/api/system.globalization.numberstyles) option when calling `decimal.Parse`. e.g. `decimal.Parse("1.0e-05", System.Globaliz

[2016-07-29 22:50] rowanmiller commented on #5945
Moving out of 1.0.1, but @natemcmaster can you prioritize getting an issue handed off to DataAnnotations folks about unification not working (@divega can provide more context if needed).

[2016-07-29 23:02] VagueGit commented on #5945
@rowanmiller > the fact that EF Core doesn't pickup the [Range] attribute when it's creating migrations etc. should have zero impact on the application since that attribute doesn't have any impact on the EF model anyways

Does this mean we cannot look forward to EF applying data annotations as check constraints on a table design?

[2016-07-29 23:05] rowanmiller commented on #1862
Currently planned for 1.1 - see https://blogs.msdn.microsoft.com/dotnet/2016/07/29/entity-framework-core-1-1-plans/ for details.

[2016-07-29 23:06] rowanmiller commented on #1200
Currently planned for 1.1 - see https://blogs.msdn.microsoft.com/dotnet/2016/07/29/entity-framework-core-1-1-plans/ for details.

[2016-07-29 23:06] rowanmiller commented on #237
Currently planned for 1.1 - see https://blogs.msdn.microsoft.com/dotnet/2016/07/29/entity-framework-core-1-1-plans/ for details.

[2016-07-29 23:07] rowanmiller commented on #3060
Currently planned for 1.1 - see https://blogs.msdn.microsoft.com/dotnet/2016/07/29/entity-framework-core-1-1-plans/ for details.

[2016-07-29 23:23] rowanmiller commented on #5950
Hey,

I wasn't able to reproduce this:

1. Clean install of Windows 8.1
2. Visual Studio 2015 Update 3
3. .NET Core 1.0.0 - VS 2015 Tooling Preview 2
4. File -> New Project...
5. ASP.NET Core Application (.NET Core)
6. Web Application template with Individual Authentication
7. Debug -> Start Without Debugging
8. Click Register
9. Complete and submit form
10. Database Error Page shows
11. Click App

[2016-07-29 23:26] rowanmiller commented on #5945
@VagueGit it's a reasonable feature request, feel free to open a new issue for it. It would be a lower priority than a number of other things on our backlog though. It is unrelated to the issue being tracked here though... so any further discussion should occur on a new issue.

[2016-07-29 23:29] rowanmiller commented on #5993
Moved over to the ASP.NET Tools repo - https://github.com/aspnet/Tooling/issues/698

[2016-07-29 23:30] rowanmiller commented on #6179
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2016-07-29 23:31] rowanmiller commented on #6200
Lazy loading is tracked by #3797 and will be implemented post-1.1

[2016-07-29 23:34] rowanmiller commented on #6191
We don't really want to start duplicating model building concepts on `DbContextOptions`. Also of note is that `OnModelCreating` is only run once per context type and then the resulting model is cached and re-used for all future instances of the context type. The proper way to handle this is to not use `OnModelCreating` and instead create the model externally and pass it in via `DbContextOptionsBui

[2016-07-29 23:43] maumar opened #6206 "Query :: repeated joins between Includes and nav props"
When we apply Include and also access navigation property on the entity that was included, we generate JOINs for to the same table twice. We could potentially be smart about it and only do it once.

e.g.

[code]

[2016-07-29 23:45] maumar commented on #6178
Main issue (exception) working in current dev, fixed by https://github.com/aspnet/EntityFramework/commit/5f48163ff06ba27311cc3e0a0a259f3b09748733

Filter applied in memory is tracked here: https://github.com/aspnet/EntityFramework/issues/4588

Also, opened a new issue to track redundant joins between include and nav props: https://github.com/aspnet/EntityFramework/issues/6206

[2016-07-29 23:45] #6178 closed

[2016-07-30 00:32] maumar opened #6207 "Query :: errors for some queries with navigations and DefaultIfEmpty"
Repro:

[code]

First query thows error during compilation (during flattening), second query produces incorrect SQL

Invalid SQL that is produced:
[code]

[2016-07-30 00:33] maumar commented on #6177
@Bartmax problems seems to be in a way that the model is setup.

[code]

since GameId is a non-nullable int, EF assumes that the navigation between Game and GameDetails is a required one. Therefore INNER JOIN is produced for that navigation, which results in 2 results being "eaten". Here is the SQL generated for the first query:

[code]

This can be fixed by setting GameId to be int? - you will se

[2016-07-30 00:58] maumar commented on #6177
After giving it some thought, I think that the original problem is a legitimate bug also - we should not be assuming that navigation is optional when we query from principal to dependent. It is perfectly fine to have a game (principal) without the game detail (dependent), even when the FK on the game detail is not nullable

[2016-07-30 01:04] bjorn-ali-goransson commented on #4179
Any tips on how I could configure EF Core to always map `IEnumerable<int>` to `string` and the value stored to DB will be its JSON representation?

I.e. custom mapping, serializing and parsing based on type (that is, general - not based on property per se).

[2016-07-30 01:09] Bartmax commented on #6177
Thanks for the detailed explanation. I'm glad it also helped to discover some bugs.

[2016-07-30 02:25] maumar commented on #6177
@divega ping regarding triage

[2016-07-30 07:26] roji commented on #246
I was about to tackle [PostgreSQL composite type support](https://www.postgresql.org/docs/current/static/rowtypes.html) in Npgsql's EFCore provider (see [previous comment](https://github.com/aspnet/EntityFramework/issues/246#issuecomment-150476019)), and came back to this thread.

I guess I just wanted to reiterate the importance of allowing multiple mapping strategies which the user can choose fr

[2016-07-30 07:27] divega commented on #5945
Re the main issue here, @natemcmaster already helped me understand why this actually is a design-time issue in our tooling and not a unification issue with UWP. We should look into programmatically applying the binding redirect or at a long term solution like #6128.

[2016-07-30 11:17] yukozh opened #6208 "How to get ef internal service from an IQueryable<T>?"
@rowanmiller

[2016-07-30 11:31] Kagamine commented on #6208
Sorry, I found the solution

[2016-07-30 19:17] flipchart opened #6209 "ArgumentException using same query source for multiple separate queries"
### Steps to reproduce
Repro gist: https://gist.github.com/flipchart/a0983761f04077381acdfad1965fb6a6

### The issue
	System.ArgumentException: An item with the same key has already been added. Key: join WorkflowRecord _ in {from WorkflowRecord x in value(Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[Rublock.Data.DataModel.Workflows.WorkflowRecord]) join WorkflowRecord x.Parent in