[2019-09-04 20:54] smitpatel commented on #17617
The code from stacktrace no longer exist in EF Core 3.0. Please try 3.0 preview package (preview9 from nuget or daily build).

[2019-09-04 20:56] smitpatel opened #17620 "InMemory: When adding subquery projection, take into account client projection"
See https://github.com/aspnet/EntityFrameworkCore/issues/16963#issuecomment-528037843

[2019-09-04 20:57] smitpatel commented on #16963
@dhhunter - Thanks for reporting this. I have filed #17620 to track it. The issue is because of new BlogInfo { } in projection. If you select components of it and then construct object on client side then it should work.

[2019-09-04 21:00] smitpatel commented on #17455
I believe cost vs value does not meet bar to do it.

[2019-09-04 21:01] smitpatel commented on #17615
This issue is lacking enough information for us to effectively reproduce. Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-09-04 21:55] ajcvickers commented on #3988
Note from triage: ping @bricelam for the simple change that can be made here.

[2019-09-04 21:57] Prinsn commented on #17615
If you cannot reproduce it from this information, and I'm giving you the
benefit of the doubt that you tried instead of dismissing it, then it must
be some weird proprietary code conflict, because we do not use custom
serializers or intermediary layers that would cause this.

Feel free to look into it further at your leisure, but you can close this
because I can be of no further help than the abov

[2019-09-04 21:59] ajcvickers commented on #5322
We have done enough here with the changes for 3.0. We can revisit in the future if something else comes up.

[2019-09-04 22:04] ajcvickers commented on #10111
Closing as a duplicate of #10864 since that issue has more votes.

[2019-09-04 22:04] bricelam commented on #329
I'm as eager as anyone to get this into EF Core. Unfortunately, it won't be coming in 3.1 as that's a stabilization release and any significant new feature is inherently risky. I promise I'll keep advocating for it.

[2019-09-04 22:05] ajcvickers commented on #10864
See also scenarios in #10111

[2019-09-04 22:05] ajcvickers commented on #11380
Closing since the 3.0 query pipeline does not generate these queries.

[2019-09-04 22:07] ajcvickers commented on #14307
Note from triage: consolidate this with other error page updates post 3.1.

[2019-09-04 22:07] smitpatel commented on #17615
Following points are missing from code snippets which makes it hard to investigate,
- Code does not have any model configuration. If type of `NavChildren` navigation causing any issues, we cannot say unless we know what it is.
- Code does not have any context option configuration.
- Code posts an IQueryable construction, since it is IQueryable it can be further composed upon. The query which is be

[2019-09-04 22:24] roji opened #17622 "Generate table joins instead of subquery joins"
For queries with includes, we currently generate joins with a subquery:

[code]

We could simplify this to:

[code]

We should measure the execution perf difference between the above two. Even if there is no (significant) difference, we could still decide to do this for SQL simplicity.

Originally raised in https://github.com/aspnet/EntityFrameworkCore/issues/17455.

[2019-09-04 22:25] roji commented on #17455
Shouldn't we do a perf measurement to determine that? I mean execution, not compilation. Opened #17622 to track.

[2019-09-04 22:43] dotnetshadow opened #17623 "Guide on memory leak warning ef core 3.0 preview9"
Currently using the following project:
https://github.com/KalikoCMS/KalikoCMS.NextGen/blob/netcore3.0-experimental/KalikoCMS.Legacy/Data/Repositories/LegacyRepositoryBase.cs

Using ef core 3.0 preview8 the following code would work:
[code]

But in ef core 3.0 preview9 the following error occurs

[code]

I understand it could be related to
https://github.com/aspnet/EntityFrameworkCore/issues/13048

[2019-09-04 22:47] bricelam commented on #17482
Our analyzer depends on Microsoft.CodeAnalysis.CSharp.Workspaces. Is it safe to update this package? We really only need to work with the version of Roslyn that ships in VS2019 16.3 and the .NET Core 3.0 SDK, right?

[2019-09-04 23:01] smitpatel commented on #17623
https://github.com/KalikoCMS/KalikoCMS.NextGen/blob/e1c08ce28c1e88ef6e12c7d63047ac60c50a98c2/KalikoCMS.Legacy/Data/Repositories/LegacyRepositoryBase.cs#L54-L59

ToGuid method which is being used in projection is defined on Repository so expression tree contains reference to object of your repository. Since your repository has DbContext also inside a field, it is actually leaking memory. Easy way t

[2019-09-04 23:03] irontoby opened #17624 "Cosmos EF Core Provider does not throw exception on SaveChangesAsync connection failure"
If I call `SaveChangesAsync()` on a `DbContext` using the latest 3.0-preview9 provider for CosmosDB, an error in the connection information will not cause an exception to get thrown.

I can see the exception in VS 2019 Preview as `$exception` in Locals window, which leads me to believe an async call isn't being awaited.

I also tried with `preview8` and got the same behavior.

### Steps to reprodu

[2019-09-04 23:03] dotnetshadow commented on #17623
@smitpatel Thank you so much I was looking at the **Map()** method not realising the **ToGuid()** was probably the problem

[2019-09-04 23:09] bricelam opened #17625 "Update EFCore.Analyzer"
Two concerns:
1. Can we update Microsoft.CodeAnalysis.CSharp.Workspaces? Will this break compatibility with certain SDK/VS versions? How high can we go? (EF Core 3 requires at least VS 16.3 or the 3.0 SDK)
2. Newer packages will require us to change from .NET Standard 1.3 to 2.0. This isn't actually breaking, is it?

[2019-09-04 23:09] bricelam commented on #17482
Filed #17625

[2019-09-04 23:11] bricelam commented on #17625
Compiler warnings as errors on the newest version:
[code]

[2019-09-04 23:19] Dunge opened #17626 "Allow DbContext.Update to delete related entities"
I'm still on 2.2 due to framework dependencies, but I don't think this behave differently in 3.0.

DbContext.Update (and DbSet.Update) seems to be a godsend in a disconnected scenario. You just open the context, call Update passing the new entity and it will automatically do lots of operations for you, including looking if it's a new one (create or update) and doing a recursive search of the navig

[2019-09-04 23:38] schmitch commented on #17623
@smitpatel looks like the error happens in the DataProtection.EFCORE Package of AspNetCore:

[code]

[2019-09-04 23:58] smitpatel commented on #17623
@schmitch - I filed issue https://github.com/aspnet/AspNetCore/issues/13696 on aspnetcore repo. Thanks for pointing us to the error.

[2019-09-05 00:12] NetTecture commented on #17455
Will this be fixed for 3.0 release? Because I run projects that do 20-30 includes and if that is NOT fixed then basically the performance regression makes this update a total no go. I can not move queries from significantly sub 1 second EFCore handling to MINUTES.

Also re SQL: not meeting the bar is run - up to the point people actually have to DEBUG complex expression trees and the SQL looks lik

[2019-09-05 00:14] NetTecture commented on #17337
"Clearing milestone to consider for 3.1." - unless you plan to pass 3.1 within 4 weeks of 3.0 or so that means for me and a lot of people like me EFCore is totally absolutely UNUSABLE because we DO have 10+ includes in large parts of our application and if you go from "instant compilation" to "minutes" that is a regression that is NOT ready even for development.

[2019-09-05 02:09] #6864 closed

[2019-09-05 02:26] alaatm opened #17630 "Optional Foreign Key EF Check"
In pre 3.0.0, if we configure an optional relation, for example:

[code]

and the `RelatedId` field is of type `int` then we get an exception:

[code]

In 3.0.0 Preview 9, there are no exceptions thrown and EF will go ahead and make the relation required, (RelatedId column in database will be `not null`). I might have missed some release notes if this behavior was changed, but in my opinion, the o

[2019-09-05 02:36] #16342 closed

[2019-09-05 02:49] dyslexicanaboko commented on #11502
Glad I found this post, I was about to open my own for the same topic. I think as a general rule of thumb "If I can do it in tSQL I should be able to do it in EF" is what should be observed. I don't like not knowing what my constraints are called, I like to specify everything in order to stay within explicit over implicit. Implicit makes me nervous.

I feel like SQL Server itself has already dropp

[2019-09-05 03:01] cokert opened #17633 "Generated SQL missing comparison with GUID values"
When executing a query like what's below, EF Core doesn't add the where clause to the SQL sent to the server.  (I guess it's attempting to apply the filter locally after results are returned.)
 Regular EF does translate this as expected.  See [this SO question/answer](https://stackoverflow.com/questions/57778819/dynamic-ef-linq-query-comparing-guid-uniqueidentifier-values) for details.

[code]

re

[2019-09-05 03:03] smitpatel commented on #7222
In 3.0 where cannot do client eval.
- Putting that in projection, we don't leak since context is parameterized as it is coming from closure.
- If context is inlined then we have new expression in the tree rather than instance itself so we initialize it for each result.
- If context is captured as constant then we throw memory leak exception.

[2019-09-05 03:03] #7222 closed

[2019-09-05 03:06] smitpatel commented on #17633
Can you try with EF Core 3.0 preview9? It should be translating the where predicate.

[2019-09-05 03:10] smitpatel commented on #11916
Duplicate of #17068

[2019-09-05 03:26] #7658 closed

[2019-09-05 03:27] DizzyDeveloper opened #17635 "GroupBy wants to execute on client when performed on DbQuery (View)"
I am not sure if this issue has been discussed somewhere else before, but I haven't found anything related to it not being able to work.

I have this simple few lines of code. I am want to be able to perform a series of aggregate to simply replicate an SQL query as below:

[code]

### Steps to reproduce

Attempt to run a code below where MyCustomView is a View on Sql.

[code]

As a sketchy work ar

[2019-09-05 03:29] smitpatel commented on #17635
Can you try 3.0 preview9 package. The scenario should already be working.

[2019-09-05 03:32] lloy0076 commented on #1368
Rather than get excited about all the intricacies, is it really too much to ask that for a BASIC many-to-many there is:

1. A model **book**
2. A join table **book_author**:
    * book_id
    * author_id
3. Another model **author**

...where **book**, **author** are examples and **book_author** is a fairly standard naming scheme.

I feel like the solution of "make an entity model with all the vari

[2019-09-05 03:32] DizzyDeveloper commented on #17635
@smitpatel Ah. Unfortunately I may not have the luxury of upgrading to 3.0 in the current project :(

[2019-09-05 03:55] cokert commented on #17633
The produced SQL is odd and could probably use some work, but it looks like it will work.  I'm getting this from SQL Profiler now (EFCore 3 breaks the `ToSql()` hack):

[code]

[2019-09-05 04:01] cokert commented on #17633
I should add in a thanks for the quick response! I didn’t expect to see anything on this until tomorrow at the earliest.

[2019-09-05 04:06] smitpatel commented on #17633
We have plan to make the SQL simpler #16092

[2019-09-05 04:07] smitpatel commented on #16092
This should not change translation pipeline. It _must_ be done in post translation SQL optimization.

[2019-09-05 04:07] jwisener commented on #15319
@AndriySvyryd for item #3 (bullet). is there an implied "save" between the delete, modify and add back? Because I don't see how EF Entity tracking could maintain a "delete" and an "add" within a "SaveEntities"? If so then all these workarounds require multiple saves which is no good, because we have critical messaging events that are fired as part of our save. So for one HTTP request, at the end w

[2019-09-05 04:16] AndriySvyryd commented on #12014
Design proposal:

- Tests are written against interfaces that are implemented implicitly or explicitly by DbContext and model classes
- The entity class generator takes an IModel created with a sample implementation as an input and outputs the requested DbContext and model classes implementations in .cs files

[2019-09-05 04:20] cokert commented on #17633
Oh, word.  Good to hear.

[2019-09-05 04:35] AndriySvyryd commented on #15319
@jwisener Yes, without cycle-breaking support there is no way to accomplish this with one SaveChanges call while preserving uniqueness.

[2019-09-05 05:08] jwisener commented on #15319
Actually there is, I have overriden the OnBefore Save and run custom sql to get all these values to something other than the "unque filtered value". So that allows me to remove and then add properly (swap primary for a secondary or a secondary for a primary). All within one transaction. The only problem now, is after the save is complete, if I re-issue the query against the database the value is c

[2019-09-05 06:11] SonicGD commented on #17374
In our projects we are using pg arrays and jsonb fields extensively. For us this is a breaking change that would prevent us from upgrading to preview 9 and 3.0 release. For now, on preview 8 all working fine.

[2019-09-05 06:31] AndriySvyryd commented on #15319
The include issue is likely fixed in 3.0, try using the preview.

As a workaround can you query with a different context instance or detach the affected entities after saving.

[2019-09-05 06:57] dos32 commented on #17608
Thanks for your clarification! So, described behaviour is just kind of optimization of reading from database, I see.
Your solution is work nice for my situation, so I just write small snippet of code which compares models in my code and tables in database using reflection and information_schema to figure out which entities can cause this exception in our project.

[2019-09-05 07:07] jwisener commented on #15319
"Likely fixed" that doesn't sound too certain. Do you have a link to this issue (yet another)?

Creating a new context instance is a pain when you have laid down architectural patterns that define the lifetime scope of the DBContext to be "per request". In our case we are using .net core dependency injects as it's **per request**. so that is out, we just don't "new up" db contexts everywhere.

if

[2019-09-05 08:41] schmitch commented on #15670
well I think `PredicateBuilder` is something that people want. But most functionality of that is already in EFCore. you can `AND` where parts together when writing code like that:

[code]

However OR'ing is completly missing. Probably because it would need a good api design to not confuse users.

WhereOr Expression can be simulated like that:
[code]

[2019-09-05 09:24] archanasoni commented on #17343
@ajcvickers I really dont get what is not clear here.. But before answering anything now I've another question:
To log executed command we have method which takes methodResult as one of argument :
public static void CommandExecuted(
            [NotNull] this IDiagnosticsLogger<DbLoggerCategory.Database.Command> diagnostics,
            [NotNull] DbCommand command,
            DbCommandMethod exec

[2019-09-05 09:35] roji commented on #17374
@SonicGD just making sure - as far as I know this is only blocking the translation of `Contain` on arrays (as Any can be rewritten with a length check). This is the functionality blocking you from upgrading?

[2019-09-05 09:40] chrfin commented on #2266
I also would like to use EF Core, but couldn't because of my applications heavy dependency on TPT.
At the moment I am using ASP.NET MVC 5 and EF 6 and I am more and more eager to port it to ASP.NET Core and EF Core. Starting with 3.0 I will first try to move to ASP.NET Core and EF 6.3, but the next step would be EF Core - so far I think I can't without TPT, but maybe can I?
My application is a CMS

[2019-09-05 09:41] SonicGD commented on #17374
Yes. We have many queries like
[code]
and they are failing with
[code]

[2019-09-05 10:09] roji commented on #17374
Thanks for confirming. Note that 3.1 will be coming out quite quickly after 3.0, and this is definitely planned to be fixed for that release - so even at worse case you're not going to be waiting for long.

[2019-09-05 10:16] aborderon commented on #17524
@ajcvickers Do you have any information to give us ?
Thanks for your help

[2019-09-05 10:19] roji commented on #2266
If two entities in the same hierarchy have properties with the same name, EF Core will automatically prefix one of them as needed with the entity's name (e.g. `PluginB_Title`) - you don't need to take care of that yourself.

[2019-09-05 10:22] chrfin commented on #2266
But they do no know of each other and in one case `PluginA` could be installed first and in another `PluginB`...
Can I "force" the prefix somehow?

[2019-09-05 10:32] roji commented on #2266
If you mean that you add a new entity to your model, then the migrations you generate should add the new columns to the table with the appropriate prefix - as if you created the two of them together.

[2019-09-05 10:42] chrfin commented on #2266
They have separate Models and migrations (see `PluginAContext` and `PluginBContext`)...

[2019-09-05 10:49] stijnherreman commented on #2266
Myself and a lot of others are subscribed to this issue so we are notified about new developments regarding TPT and EF Core. Please don't abuse it for a back-and-forth troubleshooting discussion.

[2019-09-05 10:57] chrfin opened #17641 "How to implement multiple DB-context with inherited shared base-entities without TPT"
This is coupled out from #2266:

I also would like to use EF Core, but couldn't because of my applications heavy dependency on TPT.
At the moment I am using ASP.NET MVC 5 and EF 6 and I am more and more eager to port it to ASP.NET Core and EF Core. Starting with 3.0 I will first try to move to ASP.NET Core and EF 6.3, but the next step would be EF Core - so far I think I can't without TPT, but may

[2019-09-05 10:58] chrfin commented on #2266
True, sorry - I deleted it here and created a new issue with my question (will delete this post in a few hours too).
@roji Please do the same, thanks

[2019-09-05 11:21] tjad commented on #2266
Regarding performance considerations .. I see many of us here are aware of relational concerns such as joining tables. I'd like to raise for discussion on underlying performance regarding 1 massive table beyond the surface clutter.

**Paging**
RDBMS tend to store data as a tuple, these tuples are the size of the number of columns. Making large data tuples inherently makes the data more difficult t

[2019-09-05 11:36] TehWardy opened #17642 "How do I define this relationship?"
I've hit a weird scenario in a many to many join.

typically you have a parent and a child like so ...

[code]

... this is a "web of data" i'm looking to define a situation where ParentChild has just one collection of "Related" where neither is the parent or the child they are simply related like this ...

[code]

... is there a way to achieve this in EF Core as I can't seem to figure out how to

[2019-09-05 12:41] jcemoller commented on #17617
@smitpatel @ajcvickers I've tried migrating to 3.0 previews earlier, but it seems so unstable that I've tried to postpone application migration until RTM. But to assist finding this bug, I made another attempt at migrating - now to the latest preview9 as you mention. However, I can't even get my tests to pass to get it through our build pipelines. 😣

I've tried to follow all available migration gu

[2019-09-05 12:43] RehanSaeed commented on #17613
That seems to work, thanks @ericsink!

Now my only other problem is that my .NET Standard unit tests throw the following exception. Do I need to do anything to setup a .NET Standard test?

The test code looks like this:

[code]

[2019-09-05 13:34] ericsink commented on #17613
I'm not sure what's going wrong with the tests.

Most problems with using SQLitePCLRaw with tests come from initialization issues. We think of our tests as ".NET Standard tests", but actually they are running on a specific runtime, and it is necessary to setup and initialize SQLitePCLRaw for that runtime.

That said, the error message does not look like what I would expect, so the problem *might*

[2019-09-05 13:57] AndriySvyryd commented on #5802
Also use ConcurrentBag instead of ConcurrentDictionary

[2019-09-05 13:59] Danielku15 commented on #8576
I guess to find the ultimate approach of really implementing individual query filters, it would already help a lot to have a context with query specific properties available. With the feature set, you can add 1 or more properties to a `DbContext` where you manually enable-disable query filters per-entity basis. But this has the problematic limitation that it is valid for all queries you make on th

[2019-09-05 14:16] AndriySvyryd commented on #17630
@alaatm This is by design: https://github.com/aspnet/EntityFrameworkCore/issues/14197

__For triage__: Consider documenting this in https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes

[2019-09-05 14:36] smitpatel commented on #17617
If you are using any provider other than InMemory then preview9 should work. If you are using InMemory provider then use daily builds. It will not be too much difficult if you have migrated to preview9 already. (Just setting up few feeds and restoring package). InMemory query work went in couple of days ago.

[2019-09-05 14:45] slubowsky opened #17644 "3.0 - Regression. No longer able to catch results of async methods as base class"
Using 2.2.6 async code included below that either selects a base or a derived class works. Using 3.0 preview 9 (and daily as of 9/5) it fails (async only) with following exception

[code]

### Steps to reproduce
Code below using 2.2.6 completes with no errors as expected. Using 3.0 it throws exception as above.

[code]
My real use case is obviously more complex and uses AutoMapper.projectTo not ma

[2019-09-05 14:48] SIkebe opened #17645 "In-Memory DB provider throws InvalidOperationException"
Microsoft.EntityFrameworkCore.InMemory 3.0.0-preview9.19423.6 throws `InvalidOperationException`. Latest daily builds (rc-1) throws, too.
Same code in 2.2.X does not throw any exception.

### Steps to reproduce
[code]

### Further technical details
EF Core version: 3.0.0-preview9.19423.6
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL
Operating system: Windows 10 pro 64bit

[2019-09-05 15:00] NickSevens opened #17646 "[CosmosDb] Linq expression IsDefined() can't be translated"
I'm trying to retrieve all items which have a certain property not defined.
With a direct query I can get this like this:
[code]
However, when trying to do so in Entity Framework, it appears to be not supported:

[code]

Is there any way to circumvent this, or are there any plans to support this?

### Steps to reproduce
Create a new DbContext and run a LINQ query like:

[code]

### Further technic

[2019-09-05 15:06] ajcvickers commented on #17343
@archanasoni It's used for interception.

[2019-09-05 15:11] AndriySvyryd commented on #17642
This is currently not possible, it requires support for [Polymorphic Relationships](https://github.com/aspnet/EntityFrameworkCore/issues/7623) and [transparent Many-to-Many](https://github.com/aspnet/EntityFrameworkCore/issues/10508)

[2019-09-05 15:33] RehanSaeed commented on #17613
It's not obvious to be what is wrong with the code. I've tried several things. Here is a small repro project that I rustled up to show the problem:

https://github.com/RehanSaeed/SqliteRepro

[2019-09-05 16:04] ericsink commented on #17613
OK, I took a quick look at the repro project, and for the moment, I'm stumped.

The reported problem does repro easily.  I get the same error shown above.

Changing just the Microsoft.Data.SQLite reference to 2.2.6 makes the tests pass.

Adding a call to `SQLitePCL.Batteries_V2.Init()` has no effect, so SQLitePCLRaw initialization is probably not the problem here.

On a whim, I changed the TFM fro

[2019-09-05 16:26] smitpatel commented on #17613
Likely missing Read on SqliteDataRecord.

[2019-09-05 16:47] cgountanis commented on #10001
Does this work with includes and sub where now?

[2019-09-05 16:51] AndriySvyryd commented on #17017
We should fix this or remove the test

[2019-09-05 16:58] NetGH commented on #17547
so create new service collection to create new DbContexts, there would be no memory leak right? or do we need to do any other operations to clear/dispose sth.

[2019-09-05 17:01] #17389 closed

[2019-09-05 17:04] AndriySvyryd commented on #17547
As long as you don't keep references to the old serviceProvider it should be ok.

[2019-09-05 17:24] bricelam commented on #3988
The simple fix is to uniquify class names so we stop writing over the top of other files. The `needs-design` fix involves using the schema as part of the namespace.

[2019-09-05 17:29] peterwurzinger commented on #15363
@smipatel Thanks for the clarification. So it needs to be verified whether the issue is fixed, and, if so, the fix will be included in EF.Core 3.1.0 (according to its new label). Did I get that right?

[2019-09-05 17:31] bricelam commented on #17613
👍 You need to call `SqliteDataReader.Read()` before getting values from it. This was a bug (worked by accident) that we fixed in 3.0

[2019-09-05 17:32] smitpatel commented on #15363
Verification is planned for 3.1.0 as of now. Fix may be already part of 3.0.0 (in which case verification succeeds and we will update the milestone to reflect that), or verification fails and we may need to fix it depending on complexity of it, we may fix it in 3.1.

I would consider all verify-fixed issues to be potentially working in 3.0.

[2019-09-05 17:39] bricelam commented on #17613
More context:

ADO.NET | SQLite | Notes
--- | --- | ---
DbCommand.Prepare() | sqlite_prepare()
DbCommand.Execute() | | Calls Prepare() if you didn't, wraps the sqlite3_stmt in a DbDataReader
DbDataReader.Read() | sqlite3_step()

It used to work by accident because we primed the reader by calling sqlite3_step during DbCommand.Execute(). We had to change this to fix #13830 (the fix required a lot of

[2019-09-05 18:27] jcemoller commented on #17617
@smitpatel OK, now with daily builds (3.0.0-rc1.19455.5) this particular test is running fine.

Unfortunately I still have about 55 failing tests to solve before I'm able to build a release version and put on Azure to find out if the crash mentioned above for this issue is still present. Most of my failing tests seem to depend on queries using advanced expressions. We've been building this project

[2019-09-05 19:11] nagstaku commented on #1368
Of all the things that have been happening with EF Core, this has been the one thing I have been waiting for before migrating any of my asp.net 4.6 projects over. I know the priority list balances resources required for a feature and if there are workarounds, but the workaround for this is just silly. I very much look forward to when this is adopted!!

[2019-09-05 20:09] roji commented on #14106
Do you mind if I poach this @bricelam? It seems like it could have considerable psychological therapeutic value...

[2019-09-05 20:11] smitpatel commented on #14106
I have already half work done branch. But if you insist....

[2019-09-05 20:13] krptodr commented on #13139
@cello99d Can you please provide a full example of your class and how you're calling it? I hope to remove conventions as well and have this help when scaffolding a database.

[2019-09-05 20:26] roji commented on #14106
Don't want to step on anyone's toes :) If you have some work already done do you want to merge that?

[2019-09-05 21:48] ajcvickers opened #17648 "Test on netcoreapp3.1"
A new TFM is coming for .NET Core 3.1. This should not impact our build target, which will remain .NET Standard 2.1, but we should start testing on the C.I. against both netcoreapp3.0 and netcoreapp3.1.

[2019-09-05 21:52] ajcvickers commented on #15403
## September 5, 2019

## EF Core 3.0 and EF6.3 preview 9 released!

These are the **last planned previews** before we release the final versions later this month. We have almost completely stopped making changes to the product code, but we are still actively monitoring feedback for any important bugs that may be reported. So please install the previews to validate that all the functionality requir

[2019-09-05 22:27] #17534 closed

[2019-09-05 22:27] #17602 closed

[2019-09-06 00:40] smitpatel commented on #16086
There are test assertions disabled with this bug number. Assigning to @maumar to clean that up and close this issue.

[2019-09-06 00:42] smitpatel commented on #17161
Also clean up 16081

[2019-09-06 00:50] ares128 opened #17653 "Support for GroupBy entityType"
**Update by** @smitpatel

Certain databases support projecting columns after SQL GROUP BY which are neither contained in aggregate nor in grouping key. (SqlServer disallows this). This means that GroupBy entity type when aggregate is applied can be translated to server by grouping by PK and then projecting all the columns for materialization.

--------------------------
**Original post:**

An Inva

[2019-09-06 01:01] smitpatel commented on #17653
GroupBy entityType cannot be server translated to SQL GROUP BY directly.

[2019-09-06 01:02] ares128 commented on #17653
But same code works on ef core 2.x

[2019-09-06 01:02] smitpatel commented on #17653
It evaluated that on client side.

[2019-09-06 01:03] smitpatel commented on #17653
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#linq-queries-are-no-longer-evaluated-on-the-client

[2019-09-06 01:25] ares128 commented on #17653
Ok I Got it, but i think it can be translated to
[code]

Can you consider implement this?
Thx

[2019-09-06 01:32] smitpatel commented on #17653
It is invalid SQL
`Column Authors.Name` is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.`

[2019-09-06 01:35] ares128 commented on #17653
![image](https://user-images.githubusercontent.com/7314605/64394594-e9b71280-d024-11e9-8549-d3ca36403fd7.png)
actually it is, look at the pic

[2019-09-06 01:38] smitpatel commented on #17653
Seems like it works on Sqlite. Fails on SqlServer. We will investigate more in which database supports and make a decision. Thanks for pointing to that.

[2019-09-06 01:39] #17437 closed

[2019-09-06 01:39] ares128 commented on #17653
thank you

[2019-09-06 02:20] ares128 commented on #17653
For sqlserver, you need add all property in Group by clause.
![image](https://user-images.githubusercontent.com/7314605/64396025-4c5edd00-d02a-11e9-9e63-00c05810f25f.png)

sqlite support this too.
so does mysql

![image](https://user-images.githubusercontent.com/7314605/64396295-2e45ac80-d02b-11e9-8070-d3374eb593f7.png)

![image](https://user-images.githubusercontent.com/7314605/64396272-1bcb7300-

[2019-09-06 02:33] VJalili commented on #4825
Following the suggestions, when I remove the parameterless constructor, I get:

and when I define a parameterless constructor, I get:

The context type is defined as:

[code]

In startup class I have:

[code]

In the same file I have:

[code]

Not sure why I get the above-mentioned errors when running:

[code]

[2019-09-06 06:26] msabansal commented on #16071
@jhoward321 I also hit the same issue. For me it turned out to be a bad symlink i had created for dotnet (/usr/local/bin/dotnet). Doing an unlink on this fixed the issue for me.

[2019-09-06 06:56] JanEggers commented on #17623
@smitpatel is it possible to improve the message:

Client projection contains reference to constant expression of type: KalikoCMS.Legacy.Data.Repositories.LegacyContentTypeRepository.

Client projection contains reference to constant expression ToGuid of type: KalikoCMS.Legacy.Data.Repositories.LegacyContentTypeRepository.

to better point to the expression that is causing the issue

[2019-09-06 07:03] smitpatel commented on #17623
@JanEggers - In expression tree we-encounter the constant, but it may not always possible to understand why the constant there. I will look into it, and try to improve exception message to be as useful as it can be.

[2019-09-06 07:16] NickSevens opened #17660 "[CosmosDb] Child properties in inheritance hierarchy are not saved to CosmosDB"
### Steps to reproduce
I'm having a setup like for example:

[code]

I am then adding a Cat and a Dog to my collection (`_context.Animals.Add(new Dog() {...});` and `_context.Animals.Add(new Cat() {...});`

However, in the CosmosDb, the properties `Color` and `Lives` are not saved in the JSON document. Is there a way to allow this?

Thanks.

### Further technical details
EF Core version: 3.0.0-pre

[2019-09-06 07:56] markusschaber commented on #2266
This depends a lot on how the databases internal storage format is defined.
e. G. PostgreSQL uses a bitmap of nullable columns, so a column which is not set just takes up a single bit of storage.
Also, a table can be `CLUSTER`ed on an index of the discriminating column, so all chickens will be near other chickens, and elephants near other elephants.

[2019-09-06 08:29] TehWardy commented on #17642
Why has this been closed with references to unrelated functionality ???

 - This is not a polymorphism problem as my DbSet on the context is a concrete type and i'm not inheriting in to subtypes.
 - Transparent-many-to-many relationships refer to the work around hiding the join table which i'm not bothered about.

Can you explain the relationship between my problem and the functionality you're ref

[2019-09-06 08:49] archanasoni commented on #17343
@ajcvickers  :) what is the end result of it ? I mean methodResult will contain what kind of data ? will it print that data ?

[2019-09-06 08:55] #17577 closed

[2019-09-06 10:09] RehanSaeed commented on #17613
I can't believe I hadn't spotted that! Thanks.

[2019-09-06 10:38] bopazyn opened #17661 "[Question] Type entities managed by Application"
The class `ExpenseType` contains static readonly objects that represents all possible types. The domain logic depends on them and shouldn't know about DbContext. All of ExpenseTypes are stored in database using `HasData`. Before saving i ensure that all entites of type `ExpenseType` have `Unchanged` state.

Both `ExpenseType` and `Expense` have overridden `Equals`, `GetHashCode` methods but implem

[2019-09-06 11:01] tjad commented on #2266
Provided those columns are variational and nullable.

Thanks, I'm fond of PostgreSQL and that CLUSTER upon index is useful to know about.

[2019-09-06 12:20] smartcodinghub opened #17664 "Include with Join stopped working on preview9"
Having a query like this:

[code]

The Property "NavigationProperty" is null. This is working on preview8.

### Steps to reproduce

Having three entities with a NavigationProperty. Join a query with Includes.

### Further technical details
EF Core version: 3.0.0-preview9.19423.6
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2019 16.3.0 p

[2019-09-06 12:24] SARAVANA1501 commented on #17475
Can you tell me where I can add this new grammar?

[2019-09-06 14:36] Mansu12135 opened #17666 "does not updates nullable navigationg property"
Hi,

I want to update my object by update nullable navigation property. Steps to reproduce:

1. Create position and employee with nullable position property objects
2. Save it
3. Set position to employee

As result employee entity does not updates.
[code]

Can you help me, please? Thank you.

[2019-09-06 14:40] vasont commented on #626
We need interception to rewrite the SQL before execution because there is no support in EF for FULLTEXT functions nor XML XPath query syntax. We dynamically build an IQueryable based on an ad hoc query builder interface in our application, and that turns our XML data typed model properties into column LIKE '%value%' statements in the SQL.

Interceptors were the ONLY work around we could come up wi

[2019-09-06 15:05] AndriySvyryd commented on #17660
@NickSevens This is not Cosmos-specific, [owned types do not support inheritance](https://github.com/aspnet/EntityFrameworkCore/issues/9630)

[2019-09-06 15:22] AndriySvyryd commented on #17661
@bopazyn Thanks for the repro project.
The best way of doing this would be with [multi-column value converters](https://github.com/aspnet/EntityFrameworkCore/issues/13947).

But for now you can just attach all the known instances before performing any query:
[code]

This also removes the need to mark them as unchanged before SaveChanges.

[2019-09-06 15:53] ajcvickers commented on #626
@vasont For full-text search see #10488, #11481, #11486. For the low-level hook to modify SQL, database interceptors is the way to do this.

[2019-09-06 16:24] ajcvickers commented on #15015
@SARAVANA1501 Sorry for being slow here. After discussion, this is actually something that requires some more thought about how it should be designed/implemented. I have removed `good-first-issue` here and added `needs-design`. We have also done a scrub of `good-first-issues` to try to make sure things are now correctly labeled.

[2019-09-06 16:26] ajcvickers commented on #17006
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:28] vasont commented on #626
@ajcvickers Thanks so much for the references. A project this big can get unruly trying to find the right info with different search terms.

Awesome news on the FreeText search functions. It would be more awesome to see similar for the XML query functions. :)

[2019-09-06 16:29] ajcvickers commented on #17396
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:29] ajcvickers commented on #17427
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:30] ajcvickers commented on #17431
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:30] ajcvickers commented on #17441
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:30] ajcvickers commented on #17493
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:31] ajcvickers commented on #17511
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:31] ajcvickers commented on #17525
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:39] ajcvickers commented on #17581
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2019-09-06 16:48] ajcvickers commented on #17614
@Dancingfatman I have not been able to reproduce this. Can you try again with the latest [daily build](https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md) of 3.0?

[2019-09-06 16:49] smitpatel commented on #17664
I am not able to reproduce this.
Here is the repro code
[code]
Output
[code]

Please post a runnable project (or modify above repro code) to demonstrate the issue you are seeing.

[2019-09-06 17:01] AndriySvyryd commented on #12206
Related to https://github.com/aspnet/EntityFrameworkCore/issues/14922

[2019-09-06 17:06] douglasg14b commented on #626
@vasont I'm happy I'm not alone in finding information discovery challenging with large projects like this!

 @ajcvickers Which is why I (and I'm sure many others) greatly appreciate this repos openness to question issues.  As opposed to offloading those to a gitter or chat where the information is rapidly lost to time. It makes it possible to find conversations and solutions to niche issues that

[2019-09-06 17:20] ajcvickers commented on #17524
@bricelam to follow up.

[2019-09-06 17:22] ajcvickers commented on #17529
Obsolete in 3.1.

[2019-09-06 17:37] ajcvickers commented on #17555
@smitpatel to follow up.

[2019-09-06 18:02] roji commented on #17337
Any objection to me poaching this @smitpatel?

[2019-09-06 18:10] ajcvickers commented on #17623
Improve the exception message and add a fwlink.

[2019-09-06 18:26] ajcvickers commented on #17644
@smitpatel to suggest a workaround for 3.0.

[2019-09-06 18:45] ajcvickers commented on #17648
Notes from triage: follow up on what ASP.NET is testing on, and what are expected to be "supported" combinations.

[2019-09-06 18:52] AndriySvyryd opened #17667 "Print whether the test was async or sync when AssertResults fails"
Test arguments are not always visible

[2019-09-06 18:58] slubowsky commented on #17644
For a workaround, in the one case I've looked at so far, I can simply make sure the query is executed when the projection is added - duplicating code that shouldn't need to be duplicated (if FirstOrDefault changes to SingleOrDefault for example, I need to change in 2 places) but not difficult. Something like:
[code]
Worse then the need for a workaround is that this is a new run time error. Easy to

[2019-09-06 19:12] je3667 commented on #14051
If others still run into this still just set the TypeName to bit on the Column attribute to your entity.

Example:
`[Column(TypeName = "bit")]
public Nullable<bool> MyColumn { get; set; }`

[2019-09-06 19:47] abhishek-raj opened #17668 "Table Splitting Example creates a Order_Status column in the database"
Running the Table Splitting Example creates a Order_Status column which isn't intuitive. I don't know if this is the expected output because for existing databases we need to create [EntityName_BaseColumnName] for each column from the Base Entity class to use this approach which isn't feasible for many applications. Can you clarify if this is how this should work?

---
#### Document Details

⚠ *Do

[2019-09-06 19:48] ajcvickers commented on #17668
@abhishek-raj Please post a small, runnable project/solution or complete code listing that demonstrates the issue.

[2019-09-06 19:53] rmja commented on #17592
@ajcvickers this have now been released I M.D.SqlClient so it is now ready to be fixed

[2019-09-06 19:54] ajcvickers commented on #17592
@rmja Thanks. @bricelam is working on a PR, which we will then need to get approved.

[2019-09-06 20:10] ajcvickers commented on #17475
@smitpatel Since you added `good-first-issue` here can you point @SARAVANA1501 in the right direction to submit a PR for this?

[2019-09-06 20:36] bricelam commented on #17578
But we could retry the ones that are in a transaction and do something fancy with Down operations or idempotent DDL statements (IF NOT EXISTS) to recover from failures outside of a transaction.

[2019-09-06 20:40] bricelam commented on #17561
In other words, use EF Core 2.2 if you need to support .NET Framework. Preview releases aren't supported, and the next supported version (3.0) isn't compatible with .NET Framework.

[2019-09-06 20:44] #17455 closed

[2019-09-06 20:47] bricelam commented on #17524
You'll either need to use a trigger on SQLite to generate a value for UpdatedDate, or you can override `DbContext.SaveChanges()` and set the value there.
[code]

[2019-09-06 20:49] bricelam commented on #17524
Pair the trigger with `ValueGeneratedOnAddOrUpdate` and `HasDefaultValueSql` to get the behavior you want.

[2019-09-06 21:00] bricelam commented on #16092
Out of curiosity, do we ever reduce CASE to COALESCE, ISNULL/IFNULL, or NULLIF?

[2019-09-06 21:01] AndriySvyryd commented on #17668
We should add
[code]

[2019-09-07 00:10] AndriySvyryd commented on #17642
@TehWardy Polymorphic relationships would allow  to collapse two navigations to the same type into one:
[code]

The reason I mentioned transparent Many-to-Many is because you reference `Thing` directly in your sample:

[code]

[2019-09-07 00:15] smitpatel commented on #16092
We could but we never did.

[2019-09-07 00:26] smitpatel opened #17670 "Cosmos: Translate implied property in query"
[code]
Here `Operator.VehicleName` is FK to `Vehicle` hence not persisted to database. Which fails to translate.

[2019-09-07 00:37] AndriySvyryd opened #17672 "IntegerGeneratorEndToEndInMemoryTest is flaky"
Can_use_sequence_end_to_end_from_multiple_contexts_concurrently_async()

[2019-09-07 00:45] smitpatel commented on #17475
While code is similar in various place, we can start with one location and update at all location once the structure is define.

https://github.com/aspnet/EntityFrameworkCore/blob/b7df776b0e1b2d94da48b0471c657fda8dbe8f9b/src/EFCore/Query/Internal/NavigationExpandingExpressionVisitor.ExpressionVisitors.cs#L90-L102

Above code basically unwrap a convert node and gives the converted type. Similar to

[2019-09-07 00:48] smitpatel commented on #17623
@divega - To generate fwlink.

[2019-09-07 00:49] smitpatel commented on #17337
Yes. I will fix this.

[2019-09-07 01:24] divega commented on #12795
@smitpatel, @ajcvickers any need to keep this open now?

[2019-09-07 01:33] divega opened #17673 "Query regression in preview 9: Combination of GroupBy, aggregate and let throws"
This was reported in the [Preview 9 blog post](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-9-and-entity-framework-6-3-preview-9/#comments-2964):

This LINQ statement (and other similar statements) was being translated properly till Preview 8:
[code]

Updated to preview 9 this morning and I am getting the following error:

According to @smitpatel:

Let throws

[2019-09-07 01:34] divega commented on #17673
@smitpatel I couldn't see if you created a bug for this, so went ahead and created it with the information you have me. Feel free to edit or close as duplicate as appropriate.

[2019-09-07 01:56] smitpatel commented on #12795
I will write certain notes overall about things and close it. Or I can add it to the docs and close the issue with reference to it.

[2019-09-07 02:15] smitpatel commented on #17644
[code]

[2019-09-07 02:17] divega commented on #17623
@smitpatel link is https://go.microsoft.com/fwlink/?linkid=2103067, for now pointing to query overview.

[2019-09-07 06:28] #14106 closed

[2019-09-07 06:43] Daniel15 commented on #6821
@rykr What was the problem? I just hit the same issue in my code!

[2019-09-07 06:47] jcemoller commented on #17617
@ajcvickers @smitpatel I'm sorry but we cannot wait for 3.1, we need to push a new release up asap. What's our options now?

Our application based on 2.2.6 has recently started crashing the w3wp process, possibly due to StackOverflowException, probably due to large entity graphs. Your suggestion is to upgrade to daily builds of 3.0, but due to the mentioned **regression** where interfaces are not

[2019-09-07 06:54] snappyfoo commented on #4809
@divega if I open the connection manually and run the SET TRANSACTION ISOLATION LEVEL statement, the logs still state that the following transactions are begun with the default ReadCommitted isolation level. Is this accurate, or is it simply opening transactions and the logger is assuming that they’re the default because an isolation level wasn’t provided for that transaction?

At the moment, as a

[2019-09-07 07:40] divega commented on #12795
Adding a version of this with your notes to a “query architecture” section in the docs sounds great. I guess we can create a docs issue for that and close this anyway.

[2019-09-07 07:55] TehWardy commented on #17642
Oh ... EF needs polymorphism to do the collapsing ?
cool :)

I thought the many to many thing was specificaly about hiding the join table which I don't mind having ...
Is there a way I can do the "collapse" but perhaps keep the join table in there and have EF still work even if i have to have some consessions?

This looks good enough if EF could work with it somehow ...
[code]
... Just wondering i

[2019-09-07 08:32] divega commented on #4809
@snappyfoo in EF Core 3.0 you could set the isolation level in the ConnectionOpened or ConnectionOpenedAsync of a DbConnectionInterceptor (see https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-3-0-preview-7-and-entity-framework-6-3-preview-7/#other-major-new-features for a very brief intro to interception in EF Core) to make sure every connection opened automatically by EF Cor

[2019-09-07 09:11] roji commented on #14106
Seems I was too late :) Did we file issues for the 3 xunit analyzer bugs?

[2019-09-07 09:12] roji commented on #17337
So yes I can poach or yes I can't poach? :)

[2019-09-07 11:00] peterwurzinger commented on #15363
@smitpatel Alright, I'll verify if 3.0.0 RTM can fullfill our concrete use cases and post feedback in this trhread to give everybody stumbling over that a hint where to go.

Thanks!

[2019-09-07 11:04] snappyfoo commented on #4809
@divega thanks, the connection interceptor seems like a good addition, but given it’s still recommended to open the connection manually to avoid round trips, arguably in this case it’s still simpler to run the isolation statement after the manual open, especially if lines are wrapped in a public method on a base context class as I have done.

I suppose my main concern now is how sure I can be that

[2019-09-07 11:31] SARAVANA1501 commented on #15411
hi @AndriySvyryd, Could you tell me which file i can add this CHECK?

[2019-09-07 12:56] rgomez90 commented on #17561
Ok.
Thank you.

[2019-09-07 13:06] kramffud opened #17703 "Lazy Loading Delegate now causes duplicate property error"
Something has changed.  I have been able to inject the ILazyLoader.Load method as a delegate (as described above) for the past year or so and it has worked beautifully.  Now, all of a sudden, this causes "The service property 'LazyLoader' of type 'Action&lt;object, string&gt;' cannot be added to the entity type 'MyPoco' because there is another property of the same type. Ignore one of the properti

[2019-09-07 15:28] julielerman opened #17691 "Duplicate backing field is throwing even with HasField correction"
I am testing out this use case for https://github.com/aspnet/EntityFrameworkCore/pull/14735 but it is throwing even with the explicit mapping.

In my class I have:
[code]
In context:
[code]
When debugging, it is throwing the new exception when it hits the first configuration line (hasfield for Name) ...ambiguous fields, please use HasField().
![image](https://user-images.githubusercontent.com/5007

[2019-09-07 15:35] julielerman commented on #17691
Arggh ..one minute later I had a new idea. ONLY map the OwnerName field because that's NEEDED anyway since there's nothing conventional about it's field name. And don't map the Name field.
But I think it's not out of the question to want to explicitly map both fields. Sorry for the last minute discovery.

[2019-09-07 16:25] smitpatel commented on #17691
Convention shouldn't be throwing exception like that.

[2019-09-07 16:31] smitpatel commented on #14106
I did not file issues. I may some day. If you want you can go ahead and file issues.

[2019-09-07 16:36] smitpatel commented on #17617
cc: @divega

[2019-09-07 16:38] ntimmerman commented on #8263
Yeah, it would be awesome to have this!

[2019-09-07 17:02] timmi4sa commented on #11686
This is completely unacceptable! The ORM's purpose is to bridge the gab between Object Model and persistence, which this particular ORM is not making possible!!! We only have to accept having to have a primary key (that makes no sense to the Object Model) but, sure, we accept this as a requirement in relation to the SQL-based storage media.

DO NOT use the storage engines as an excuse. MOST of the

[2019-09-07 17:04] Dancingfatman commented on #17614
Cant reproduce with the latest build either, thanks.

[2019-09-07 18:43] bopazyn commented on #17661
My tests have shown that attaching before queries works as expected. Thank you!

[2019-09-07 19:34] ajcvickers commented on #15988
Closing this since command interceptors are the hook to use before any command is executed; this is already implemented for 3.0. #17261 tracks possible changes to the command creation event to move it closer to when it is used, but this isn't necessary for the behavior requested here.

[2019-09-07 19:43] ajcvickers commented on #17554
@krilbe It generates a literal value that is safe to use, the details of which vary between type and database provider. If you're seeing a situation where this isn't the case, then please post a small, runnable project/solution or complete code listing that demonstrates this behavior.

[2019-09-07 19:46] ajcvickers commented on #17558
Notes from triage: The code to detect non-composable SQL was removed in 3.0, since ideally we would not parse any SQL. However, if this catches enough people out, then we will consider re-introducing it. Putting this in backlog to gather votes/feedback.

[2019-09-07 19:50] ajcvickers opened #17692 "Document exception types thrown where useful"
Notes from triage:
* We will document the exception types thrown where it is fundamental to using a feature--e.g. `DbUpdateConcurrencyException`
* We will document the exception types thrown where the exception is thrown for specific, documented cases--e.g. `SingleOrDefaultAsync`

[2019-09-07 19:53] ajcvickers commented on #17564
Note from triage: For LINQ methods, copy the docs from corefx. See also #17692

[2019-09-07 19:55] JulienM28 commented on #17558
Thanks,
Since you do that, how to use stored procedure through EF ?

[2019-09-07 19:56] ajcvickers commented on #17575
@corix010 Can you post the `.csproj` file?

[2019-09-07 19:58] ajcvickers commented on #17576
@hokpe Can you please post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[2019-09-07 20:05] ajcvickers commented on #17630
Filed https://github.com/aspnet/EntityFramework.Docs/issues/1697

[2019-09-07 20:08] ajcvickers commented on #17635
Note from triage: additional test coverage needed.

[2019-09-07 20:13] ajcvickers commented on #17641
@chrfin This could work, but I think it depends on how the base class `ContentItem` is used in the EF model. If it is a target of navigation properties, then EF will need to include it in the model, but given what you say about what you do with base tables in EF6, it seems this may work. I wish I could be more concrete, but I think the specifics get important fast. If you try it, please let us kno

[2019-09-07 20:15] ajcvickers commented on #17646
Duplicate of #13131. @NickSevens Please 👍 on that issue so we can gather votes on what people need in the Cosmos provider.

[2019-09-07 20:32] AndriySvyryd commented on #17642
@TehWardy You could make the navigations private and expose a read-only one that combines them

[code]

Either way your current model and all the variants above will result in the same db structure, so it would be easy to change once the required features are supported.

[2019-09-07 20:42] AndriySvyryd commented on #15411
This is about adding a CHECK constraint to enum columns e.g.:
[code]

The easiest way of doing this is by adding a SqlServer convention (IModelFinalizedConvention) that calls `AddCheckConstraint` for all enum properties.

[2019-09-07 22:35] ajcvickers commented on #17343
@archanasoni The `CommandReaderExecuted` (in 3.0; concepts are similar in 2.2) method follows a standard pattern in EF Core as an entry point to create a variety of logging/diagnostics events after a call has been made to `DbCommand.ExecuteReader`. The type of "events" are:
* A log message sent to an ASP.NET-style `ILogger`
* A diagnostic message sent to a .NET `DiagnosticListener`
* A database in

[2019-09-07 22:38] jcemoller commented on #17617
@smitpatel due to the regressions in 3.0 when using expressions in queries, I spent the last 10 hours inlining all generic or interface-based expressions directly into the queries in a couple of hundred places. I'm not a fan of code duplication, but still, I managed at last to make the project build and run.

On the positive side:
- I'm not getting any stack overflow exceptions anymore.
- I've lea

[2019-09-07 22:44] ajcvickers commented on #17556
@dreign As far as I know, there isn't a `MySQL` provider for EF Core that has been updated to work with 3.0 release. We have plans to help update the [open-source Pomelo provider](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql), although this probably won't happen until after 3.0 ships--see [#797](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/797

[2019-09-07 22:59] ajcvickers commented on #17626
@Dunge I think what you are looking for is basically #5536, or some part of that. The difficulty with deletes is knowing which entities to delete. This requires one of:
* Getting back from the client explicitly which entities in the collection were deleted
* Getting the entities from the database such that they can be compared with the entities sent back from the client
* Treating the graph of as

[2019-09-08 01:55] smitpatel commented on #17337
@roji - If you have ideas around it and want to work on this, then please schedule a meeting and bring a design. I want to avoid you doing work and then having to discard because of lack of communication around complexity and areas this would touch.

[2019-09-08 02:09] smitpatel commented on #17555
Generated query in 3.0
[code]

[2019-09-08 02:13] divega commented on #17617
@jcemoller glad to hear that you have a workaround. Hopefully you will be able to simplify your code again when we address this limitation in 3.1.

Re owned entities projected without their owner requiring AsNoTracking, last time we discussed this we came to the conclusion that switching the behavior of the query to non-tracking automatically could be too unexpected, given that the design is that

[2019-09-08 02:28] #17644 closed

[2019-09-08 05:34] #17555 closed

[2019-09-08 05:53] sourcenew commented on #17441
there is problem in two Any, one inside another, then related tables data not loaded correctly.

like:var result= Context.TableA.Include(TableB).Include(TableC).Any(f=>F.TableB.Any(g=>....)).ToList()

then most of result[index].TableC not have data (empty) but exactly that codes if i add a where condition work correctly

[2019-09-08 06:26] roji commented on #17337
At least as a first step, [the idea](https://github.com/aspnet/EntityFrameworkCore/pull/17621#issuecomment-528712341) was simply to collect old to new table mappings as we visit SelectExpression.Tables, and then use ReplacingExpressionVisitor on each query component before visiting it. You've already removed visitation in ColumnExpression in #17651, so unless we have other forms of references to t

[2019-09-08 06:48] smitpatel commented on #17337
How would you do it if Visitation of SelectExpression is outside of your control? i.e. what if SelectExpression.VisitChildren is not used?

[2019-09-08 08:18] roji commented on #17337
At least for 3.1, where we're still doing low-risk bugfixes only, it may be enough to identify current visitors which visit SelectExpression themselves and apply the same logic (e.g. SearchConditionConvertingExpressionVisitor, not sure if there are others). This is similar to what you've done in #17651 - we no longer visit tables via ColumnExpressions but badly-written visitors may still do that.

[2019-09-08 09:57] hokpe commented on #17576
Hi ajcvickers. Thank you for your interest. Today I tried to make such an example. And I added one by one all my used features to the example project generated by the visual studio. And finally I had all the possible parts in it. And it was still working. Then I returned to my actual project and tested the same thing there. And it is working as well. I have updated the .NET core SDK and .NET core

[2019-09-08 11:44] SARAVANA1501 commented on #15411
Hi @AndriySvyryd
Following test is my expectation, Is that correct?
` [ConditionalFact]
        public void Can_create_check_constraint_for_enum()
        {
            var modelBuilder = CreateConventionModelBuilder();
            var entityType = modelBuilder.Entity<Customer>().Metadata;

            modelBuilder
                .Entity<Customer>()
                .HasCheckConstraint("CK_Custome

[2019-09-08 14:02] lauxjpn opened #17698 "RelationalTestStore implementations don't make use of RelationalConnection"
Is there a particular reason behind the fact, that the `RelationalTestStore` implementations (e.g. `SqliteTestStore`) don't use their `RelationalConnection` implementations internally?
It seems a bit redundant, e.g. when configuring general connection options for tests like `CommandTimeout`, to set them in both classes.

[2019-09-08 15:39] smitpatel commented on #17337
None of those fixes the crux of the issue. While they resolve things for internal visitors, they still leave scope for external ones to do things incorrectly. If that is what we are heading at (fixing for internal visitors), then the solution we have in codebase right now is good enough.

There are altogether different ideas how to deal with this so that this problem does not arise in first place.

[2019-09-08 16:18] MohammadElKhatib opened #17699 "One or more errors occurred. (The entity type '' requires a primary key to be defined.)"
I am trying to use an existing database with my Asp.Net Core (2.2.0) application that includes also Individual Authentication.

I created my database then I scaffolded the models in the application, but I am facing several errors, that leads me to the conclusion that the DBContext registration not working.

first, am registering my DBContext in Startup ConfigureServices:

[code]

then, the model i

[2019-09-08 16:26] rykr commented on #6821
I'm sorry.  I don't recall.  Been a bit.  :)

[2019-09-08 17:24] aborderon commented on #17524
Thanks @bricelam for your feedback. I understand your solution.

Do I need to define a migration for the trigger and specify the use that can only be used by the SQLite provider?

How to apply the trigger for all tables automatically? ..

[2019-09-08 19:04] manvydasu opened #17700 "IsTemporary not always properly set ( ChangeTracker)"
### Issue
Attribute "IsTemporary" of PropertyEntry object is not always properly set.

### Steps to reproduce

Have a entity relationship like this
[code]
1. Create a Blog with a Post and save it the database.
2. Get that specific blog from DbContext and attach a completely new Post ( id = 0) to it.
3. Check results of ChangeTracker: CurrentValue for PostId property will have negative value like "

[2019-09-08 19:53] ajcvickers commented on #17573
@lixaotec Depends exactly what you need. If the base class does not need to be mapped in the EF model, then the hidden `Id` property would not be a problem for EF. If the base class does need to be mapped, then the key type must be defined there, since all types in a mapped hierarchy must share the same key space.

That being said, as the code is written above I'm not sure how the property on the

[2019-09-08 20:15] ajcvickers commented on #17645
In 2.2, there was a bug (see #15645) which would cause an added graph to not correctly add an entities when an existing entity had the same key. In this case, the test code was hitting this and silently ignoring an entity instance rather than throwing that it could not be tracked--hence with the fix in place, the exception is now thrown.

In this case, the reason there are two entities with the sa

[2019-09-08 20:16] syndicatedshannon commented on #13261
- https://github.com/aspnet/EntityFrameworkCore/issues/13261#issuecomment-485025402

@ChristopherHaws Hey, Chris, can you comment on why you override `CreateMasterConnection`? Is that a source of problems in some scenarios? If so, then other recommended approaches (such as the following) don't account for this:
 - https://github.com/aspnet/EntityFrameworkCore/issues/11928#issuecomment-455312550

S

[2019-09-08 20:27] Diaskhan commented on #17081
Maybe U ve reopen this issue.
I have Same problem with !
![image](https://user-images.githubusercontent.com/15046677/64494012-4460a080-d2a9-11e9-85ec-d479197b968c.png)

this my project file
[code]

[2019-09-08 20:33] Diaskhan opened #17701 "System.TypeLoadException: Could not load type 'System.Diagnostics.CodeAnalysis.MaybeNullAttribute' from assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'"
Maybe U ve reopen this issue.
https://github.com/aspnet/EntityFrameworkCore/issues/17081
I have Same problem with
**Microsoft.EntityFrameworkCore" Version="3.0.0-preview9.19423.6**

![image](https://user-images.githubusercontent.com/15046677/64494012-4460a080-d2a9-11e9-85ec-d479197b968c.png)

this my project file
[code]

[2019-09-08 20:35] ajcvickers commented on #17538
@Honjoy This is just a duplicate of issue #17520. Let me try to explain again:
* The only EF code here is the first line which gets the `DbConnection`. EF isn't doing anything special here--creating the connection outside of EF would result in the same behavior.
* The rest of the code is using vanilla SqlClient/ADO.NET code. In SqlClient, parameter values are not set until after the `DbDataReader`

[2019-09-08 20:43] ajcvickers commented on #7829
@SebastiaanPolfliet Unfortunately, it had to be cut from 3.0. However, it is scheduled for the 3.1 release scheduled for the beginning of December.

[2019-09-08 20:43] ajcvickers commented on #17579
@FrikkinLazer Correct.

[2019-09-08 20:49] ajcvickers commented on #10954
@sajadghobadi Please open a new issue and post a small, runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-09-08 21:15] AndriySvyryd commented on #15607
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/12100

[2019-09-08 21:20] ajcvickers commented on #17558
Re-marking for triage. What is the composition here? I assume it's `FirstOrDefault`? But then I'm left thinking that `FirstOrDefault` is not an unreasonable thing to "client-eval" here, since it means take the first result from the reader, if there is one, and return it.

[2019-09-08 21:21] ajcvickers commented on #17441
@sourcenew Please post a _runnable_ project/solution or complete code listing that demonstrates the behavior you are seeing.

[2019-09-08 21:54] julielerman opened #17704 "Update of NULL owned entity throws - wants owned entity to be Added"
_I fear my github search skills are failing...this may already be known so sorry if its a dupe._

IN EF Core 3, we can now have NULL owned entity properties thanks to https://github.com/aspnet/EntityFrameworkCore/issues/9005. _Yay thank you._

And it is possible (thanks to a change in an earlier version of EF Core) to replace an owned entity property. _Yay thanks here also._

However if the owned

[2019-09-08 22:06] AndriySvyryd commented on #15411
@SARAVANA1501 Not quite, this should happen without needing to call `WithEnumConstraint()`

[2019-09-08 22:14] syndicatedshannon commented on #13261
Side note, I also found [this implementation](https://gist.github.com/roysanchez/b06183068d303a535840e557efbccadb) from @roysanchez, which adds `IsMultipleActiveResultSetsEnabled` and `SupportsAmbientTransactions`. These may be Azure-specialized values of interest to other reading this thread as well, I'm not sure.

[2019-09-08 23:26] AndriySvyryd commented on #17704
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/17422

[2019-09-08 23:29] AndriySvyryd commented on #17096
@hitaspdotnet You need to call `room.Property<int>("ListingId");` first.

[2019-09-08 23:46] julielerman commented on #17704
gosh I wish I'd found that! I'll toss the workaround into my article. Thanks Andriy!

[2019-09-09 01:25] tonmoypaul commented on #15171
Hi @ajcvickers and @divega, as the 3.0.0 preview9 has been released, and can't find this in the change-log, any idea when we can get this feature added, please?

[2019-09-09 02:02] divega commented on #17626
@ajcvickers, @AndriySvyryd however this part concerns me:

I think if this is true (I am not going to test it right now), we may be missing an important part of ownership.

I will reopen this just so that we can discuss it in triage on our next chance.

[2019-09-09 02:10] divega commented on #15171
@tonmoypaul we used to have this assigned to the 3.0.0 release, but we moved it back to the backlog a few months ago. We haven't done the planning for 5.0 yet, so it isn't clear when we will get to it. There many competing priorities.

[2019-09-09 02:16] divega commented on #15171
Note for triage: after giving this some thought removing milestone so that we can decide where/how to track this of find possible duplicates.

This feels very similar/complementary to [filtered include](#1833) thought without full-fledged support for [ordered collections](#9067), the feature would have limited use.

[2019-09-09 02:25] divega commented on #4809
@snappyfoo You can use the connection interception approach without manually opening the connection. Think about opening the connection manually as an optimization. Being able to open the connection in a desired transaction isolation level without having an extra database round-trip requires special support from the database driver...

Which leads me directly to another option: creating a System.T

[2019-09-09 02:31] bricelam commented on #17524
If you’re using Migrations, you can do it that way. If not, do it during database initialization (e.g. after EnsureCreated returns true).

For each table, you can generate SQL in a foreach loop...

[code]

Sorry, no magical answers here. 🙃

[2019-09-09 02:58] billcarinci commented on #16386
I have the same version of Visual Studio and .NET Core as @joelrb

I am encountering the same exact error when adding controller or basically any creation of a new item in the solution when using a template.

The screenshot attached in the post by @joelrb above is identical to what I would provide.

Any ideas for me to try?

[2019-09-09 05:47] sourcenew commented on #17441
off course, but this may take a some time. i will prepare something for you

[2019-09-09 05:51] krilbe commented on #17554
It's been a while but I think the bug I encountered was that the dependent package put single quotes around the returned string when the returned string includes a character encoding prefix. I think the intention was to add single quotes when the returned value wasn't already quoted, and failed to take the possibility of an encoding prefix into consideration. I think I got it working by simply ass

[2019-09-09 06:19] xshiiiidev commented on #11943
Just curious on what was the solution made to this ? I also ran into this problem.

[2019-09-09 07:10] NickSevens commented on #13131
@divega is this already in the works? Or already implemented in some way?

[2019-09-09 07:13] AndriySvyryd commented on #17626
This is tracked by https://github.com/aspnet/EntityFrameworkCore/issues/10551 and by https://github.com/aspnet/EntityFrameworkCore/issues/1985

[2019-09-09 07:17] divega commented on #13131
@NickSevens we didn't get to it in 3.0. As @AndriySvyryd [mentioned](https://github.com/aspnet/EntityFrameworkCore/issues/13131#issuecomment-505741298) we considered number 2 to be the highest priority.

It would be great if you could give some details of when and why you need the method, to help us prioritize.

I am clearing the milestone to discuss in triage when we this could fit.

[2019-09-09 07:26] NickSevens commented on #13131
Sure thing, I'm trying to get paged results, in which I'm ordering by an optional property. So essentialy I'm calling 2 queries: one ordering the data which _has_ the property, one which doesn't have the property (essentialy adding all NULL and Undefined at the end).
E.g:
[code]

[2019-09-09 07:43] gianmarcorosso commented on #17701
Same error here

[2019-09-09 08:31] roji commented on #17337
Unless I'm mistaken, #17651 doesn't fix the referential integrity issue in any way - only the perf issue (by skipping visitation in ColumnExpression) - so in the current codebase, ColumnExpressions currently point to potentially old tables which may have been replaced by visitors. It seems to me that this is well worth fixing in 3.1 regardless of external visitors, but I may be mistaken (i.e. ther

[2019-09-09 08:39] RainkLH opened #17708 ""dotnet ef" can`t be executed properly(" The application to execute does not exist")"
PM> dotnet ef
dotnet : The application to execute does not exist: 'C:\Users\xxx\.dotnet\tools\.store\dotnet-ef\2.2.6-servicing-10079\dotnet-ef\2.2.6-servicing-10079\tools\netcoreapp2.2\any\dotnet-ef.dll'.
-----------------------------------------------------------

Actually, the path of [dotnet-ef.dll] is
"C:\Users\xxx\.dotnet\tools\.store\dotnet-ef\2.2.6\dotnet-ef\2.2.6\tools\netcoreapp2.2\any\do

[2019-09-09 09:30] brunoalreis commented on #17091
@ajcvickers, thank you for the answer. I am running ef core on .net framework and in ef core 3.0 will not be compatible with it no more. Any chance of this will be released on ef core 2 update?

[2019-09-09 09:44] aborderon commented on #17524
Okay I see.

Do you have a solution to iterate on all entities to use `FromSql` ? Because `ExecuteSqlCommand` does not support interpolation with SQLite ...

`ExecuteSqlCommand` works well without interpolation but I do not want to define a trigger for each of my entities.

[2019-09-09 10:39] TehWardy commented on #17642
sounds good ... do you know if this will work with the OData framework when expanding in to the RelatedThings collection and performing queries on it?

[2019-09-09 11:08] jcemoller commented on #17617
@divega I agree that switching a supposedly tracking query to non-tracking automatically would be unexpected, but up to 3.0 all queries which do a .Select(x => new Y(x)) to project into client entities was automatically non-tracking. This is a big breaking change, since I have to find all these places and add .AsNoTracking to prevent a runtime failure. It is not documented in https://docs.microsof

[2019-09-09 12:55] slubowsky commented on #17644
@smitpatel Thanks for the workaround. Dont know if that works for my real code though which is using AutoMapper.ProjectTo, not creating types itself.
[code]

[2019-09-09 13:58] vinguan commented on #13508
Any updates on this? We can have nullable alternate keys now?

[2019-09-09 14:00] bricelam commented on #17524
I’m not sure I understand. Are you trying to trying to use a SQL parameter to define the trigger? You can’t do that

[2019-09-09 14:02] Dunge commented on #17626
Thanks for reviewing and the amazing moderation work you guys do. I'm surprised I haven't seen those others issues when I searched before creating mine, so sorry for the pollution.

@divega as I said, this is what I observed on 2.2, I didn't try on 3.0

I feel like aggregate / owned type / hard relationship / composite (no matter how you call it) versus a soft link / reference is a concept that is

[2019-09-09 14:05] aborderon commented on #17524
Yes I tried with interpolation and `SQLiteParamater` but I always get an exception of this type:
`SQLite error (1): near “{0}”: syntax error`

If I do not use a parameter and enter the name of the tables and trigger manually I have no exception.

[2019-09-09 14:16] corix010 commented on #17575
@ajcvickers I did several sample projects. All gave the same error. The following is from one of them:
https://github.com/corix010/CoreMVCBlogger/blob/master/Blogger/Blogger.csproj

[2019-09-09 15:18] lauxjpn opened #17712 "Better maintainable solution for providers to supply their own RelationalDataReader"
To add custom behavior to a `DbDataReader`, a `RelationalDataReader` derived class can be used in conjunction with `RelationalCommand`, `RelationalCommandBuilder` and `RelationalCommandBuilderFactory`.

To inject this `RelationalDataReader` derived class into `RelationalCommand`, the methods `ExecuteReader` and `ExecuteReaderAsync` (or `Execute` and `ExecuteAsync` prior to 3.0) have to be overridd

[2019-09-09 16:09] smitpatel commented on #17644
In that case
[code]

[2019-09-09 16:24] DanoThom commented on #17664
I can confirm this too in both dotnet and aspnetcore using the above code using the latest version 3.0.0-preview9.19423.6.

Additionally, Preview9 seems to now require explicit values or a model value generator for the int Id's in each model object or it fails.

![image](https://user-images.githubusercontent.com/4973075/64548474-9abff480-d326-11e9-9e94-59b243a07d7f.png)

[2019-09-09 16:24] AndriySvyryd commented on #17642
@TehWardy You wouldn't be able to use RelatedThings for server-side queries.

[2019-09-09 16:30] #15821 closed

[2019-09-09 17:27] divega commented on #2969
Tentatively assigned to 3.1, subject to approval.

[2019-09-09 17:27] smitpatel commented on #17664
CosmosDb does not support join on server side. Hence EF Core cannot translate it to server.

[2019-09-09 17:29] smitpatel commented on #17575
@corix010 - That is class library. `OutputType` is not set to Exe.

[2019-09-09 17:31] divega commented on #17712
@lauxjpn we are curious about why you need to extend RelationDataReader. That said, we would consider a good PR for this.

[2019-09-09 17:38] divega commented on #17699
@MohammadElKhatib could you please provide a repro project showing these symptoms.

[2019-09-09 17:43] hitaspdotnet commented on #17096
Solved when I removed the `[Owned]` from `Room` class

[2019-09-09 17:44] divega commented on #17664
@AndriySvyryd to find the duplicate.

[2019-09-09 17:45] smitpatel commented on #17664
Duplicate of #16920

[2019-09-09 17:46] lauxjpn commented on #17712
@divega I use it as a workaround in `Pomelo.EntityFrameworkCore.MySql` to get around MySQL's very limited `CAST()` support. (https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/571)
I basically funnel some of the DataReader calls (like `GetBool()` or `GetDouble()`) through their corresponding `System.Convert` methods.

[code]

[2019-09-09 17:55] MohammadElKhatib commented on #17699
@divega
I added you to this repro project:

https://github.com/MohammadElKhatib/Khatibo

[2019-09-09 17:57] MohammadElKhatib commented on #17699
@divega note that I am using visual studio for mac with docker and mssql container on docker

[2019-09-09 18:05] afranioce commented on #12345
Attach same error https://github.com/aspnet/EntityFrameworkCore/issues/10578

[2019-09-09 18:54] #17592 closed

[2019-09-09 18:55] smitpatel commented on #7708
Marking for re-triage. In the tree we get the client function. Even though it is returning IQueryable, it is also passing a expression to the function which correlates to outer. So there is no way to inline the particular function.

[2019-09-09 19:12] olgatei opened #17718 "No parameterless constructor defined for this object"
Trying to create a migration script for a dbcontext using `EF` tool in powershell. I run the following command:

[code]
I get the following error:

and when I add the parameterless constructor, I get:

I have followed the [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers), and the issue I am having is very similar to most of the other questions on this topic. For instanc

[2019-09-09 19:35] jamesport079 commented on #17673
Thanks for reporting this Diego.

I replaced the 'let' clause as a workaround and it's giving the same SQL as with 'let' clause on SQL Profiler. So for the time being i'm good. But it would be nice if it's fixed eventually as the let clause makes LINQ queries cleaner in some cases.

[2019-09-09 19:42] #7906 closed

[2019-09-09 19:48] sebastienros opened #17721 "[Perf] Micro-benchmarks broken"
Probably due to a recent update in required dependency versions, but the SDK that is set in `global.json` doesn't provide them. If I force a specific runtime to be installed then the benchmarks work again.

[2019-09-09 19:48] sebastienros commented on #17721
Branch release/3.0

[2019-09-09 19:56] olgatei commented on #17718
I guess I have the answer to my question, I need to _register each context separately_. That is:

[code]

Quite verbose to repeat for every single context, can that be simplified?

(since my original question is answered, I am closing this issue.)

[2019-09-09 20:00] divega opened #17722 "Cosmos: Add support for IS_DEFINED() to EF.Functions"
The full context is explained in #13131, but I decided to create a new issue to gather more targeted customer feedback on this.

The short version is that in a schema-less database like Cosmos DB it is valid for each document in a container to contain completely different set of properties. In an object mapping situation this translates into some of the mapped properties being absent. Cosmos DB pr

[2019-09-09 20:09] mikeHag opened #17723 "AttachDBFileName fails if the value includes |DataDirectory|"
I have a WPF Prism application working with Entity Framework Core 2.26.  The OnConfiguring method optionsBuilder.UseSqlServer call includes the following in the connect string:
AttachDBFileName=|DataDirectory|\\dbfiles\\my.mdf;

I created a new project that uses .Net Core 3.0 Preview 9 and Entity Framework Core 3.0 Preview 9. At runtime the same connection string fails.  I get a System.ArgumentExc

[2019-09-09 20:10] divega commented on #13131
@AndriySvyryd I have split this into https://github.com/aspnet/EntityFramework.Docs/issues/1712 and because this seems better for tracking purposes.

Since [we said](https://github.com/aspnet/EntityFrameworkCore/issues/13131#issuecomment-429556769) we won't proactively add compensation for missing properties, I think we can close this as fixed now. Your thoughts?

@NickSevens the new issue I creat

[2019-09-09 20:15] ErikEJ commented on #17723
.NET Core SqlClient does not expand DataDirectory?

[2019-09-09 20:19] NickSevens commented on #13131
I have, but that still doesn’t work. I believe NULL valies _are_ included, but undefined are not.

[2019-09-09 20:23] divega commented on #13131
Thanks @NickSevens. I have sent email to my contacts in Cosmos DB team to find out if there is an ETA for this being addressed. I agree this increases the priority of providing access to IS_DEFINED() in LINQ queries.

[2019-09-09 20:25] mikeHag commented on #17723
Yes, if I use "|DataDirectory|" the connection fails.

[2019-09-09 20:25] NickSevens commented on #13131
Awesome. Thanks for looking into it @divega

[2019-09-09 20:26] divega commented on #17722
It seems that Cosmos DB is still filtering out documents where a property is undefined if you ORDER BY that property. This makes providing access to the IS_DEFINED() function from LINQ queries more important. That way, you can use it like this:

[code]

[2019-09-09 20:31] AndriySvyryd commented on #13131
@divega We still need to implement decisions 1. and 2.

[2019-09-09 20:37] divega commented on #17708
@RainkLH `dotnet ef` has been moving around between versions:

- Up to the .NET Core 2.2 SDK, the tool ships with the SDK
- In 3.0, the tool has been removed form the .NET Core SDK and has to be installed as either a global or a project tool

I believe what you are seeing is a combination of two limitations:
1. When you install a global or project tool with `dotnet tool install`, unless you specif

[2019-09-09 20:42] ian-witz commented on #17701
And here i'm afraid

[2019-09-09 20:46] AndriySvyryd commented on #17712
Fixed in https://github.com/aspnet/EntityFrameworkCore/commit/6640d584f1c4984de3482469ab0b3091b45148de

[2019-09-09 20:46] #17712 closed

[2019-09-09 20:47] divega commented on #17701
@Diaskhan, @gianmarcorosso can you please both confirm what exact versions of the .NET Core SDK and the EF Core 3.0 package you have been using?

There was some last minute churn in the attribute types for nullable reference types, so this could either be caused by using mismatched versions of the package and the SDK or by a bug, for example if the version o .NET Standard isn't up to date.

@terra

[2019-09-09 20:48] divega commented on #17701
@ian-witz likewise, what is the exact version of the SDK and EF Core packages you are using?

[2019-09-09 20:49] smitpatel commented on #8871
@andriysvyryd - What exactly action item here? What is the query which should be working?

[2019-09-09 20:52] AndriySvyryd commented on #8871
@smitpatel Same query, but `Owned` is not owned

[2019-09-09 20:58] Diaskhan commented on #17701
**dotnet --info**
[code]

**Main project**
[code]

**Standart library**
[code]

[2019-09-09 20:59] Diaskhan commented on #17701
Upgrade to last Sdk  (SDK 3.0.100-preview9-014004)?

[2019-09-09 20:59] ian-witz commented on #17701
upgraded from preview 7 to preview 9 and the issue appears to have gone away; another issue has arisen but that's probably in my code!

[2019-09-09 21:00] divega commented on #17673
Thanks @jamesport079 for validating the workaround.

*Triage decision:* we are moving this to the backlog because there is a workaround and fixing the issue would be relatively expensive. We will be monitoring feedback on this and revisit the priority if appropriate.

[2019-09-09 21:02] divega commented on #17701
@Diaskhan correct. Before we closed #17081 we found that a more recent SDK was needed because of the changes to the attributes. Please confirm if after upgrading to the Preview 9 SDK you still see the problem.

[2019-09-09 21:03] Diaskhan commented on #17701
1 Min

[2019-09-09 21:09] divega commented on #17708
I am going to go ahead and close the issue assuming I have answered your question. If I haven't please reply mentioning me.

[2019-09-09 21:12] smitpatel commented on #8375
Fixed in #17724

[2019-09-09 21:12] #8375 closed

[2019-09-09 21:18] smitpatel commented on #8871
Regression test in that case covered by Include_reference_collection_order_by_reference_navigation

[2019-09-09 21:18] #8871 closed

[2019-09-09 21:36] #8999 closed

[2019-09-09 21:39] Diaskhan commented on #17701
After Updating to the dotnet-sdk-3.0.100-preview9-014004-win-x64.exe
problem solves! Closing Issue!

[2019-09-09 21:41] divega commented on #17701
Thanks for confirming @Diaskhan!

[2019-09-09 21:43] Diaskhan commented on #17701
I know. Need For another googlers))

[2019-09-09 21:45] divega commented on #17615
@Prinsn I gave this a second look. I am going to make the assumption that what it is happening is that you get an exception from the sub-expression `Id = q.NavChildren.First().Id`.

Older versions of EF Core like 2.2 would switch to client evaluation because we prioritized that you could get the same exception from First() for an empty collection that you would get form LINQ to objects.

In EF Cor

[2019-09-09 22:05] smitpatel commented on #7973
Fixed in #17719

[2019-09-09 22:05] #7973 closed

[2019-09-09 22:10] smitpatel commented on #10433
Generated SQL in new pipeline
[code]

[2019-09-09 22:10] #10433 closed

[2019-09-09 22:11] #17170 closed

[2019-09-09 22:42] #9582 closed

[2019-09-09 22:56] smitpatel commented on #17588
Adding few more points, which are related and should be considered.
QueryBugsTest creates database only once but populate it with tables and data for each test.
Context different test scenario
- Separate bounderies
- Creates only required tables and seed them
- Easy to see data and test together

Single context for all test
- We can go into normal flow of other test classes by having a model which

[2019-09-09 22:57] #10447 closed

[2019-09-09 23:02] AndriySvyryd commented on #17588
Tests the require MARS should be moved out and marked with `SqlServerCondition.SupportsMARS`

[2019-09-09 23:11] #11023 closed

[2019-09-09 23:54] smitpatel commented on #12200
Blocked on #17068

[2019-09-10 00:02] julielerman commented on #8999
🎉

[2019-09-10 00:07] smitpatel commented on #16089
Not needed since we translate cast/Convert now.

[2019-09-10 00:11] smitpatel commented on #12889
We don't allow different include on both sides of Set operations. Either specify same includes or do include after applying set operation.

[2019-09-10 00:15] #11453 closed

[2019-09-10 00:16] AndriySvyryd opened #17733 "Cosmos: Nested owned entities are not populated"
[code]
#### Description
Owned entities nested more than one level down are not populated by queries.

#### Customer impact
Owned entities nested more than one level down are unusable.

#### Regression
N/A, 3.0 will be the first RTM release for the Cosmos provider

#### Risk
Low

[2019-09-10 01:15] AndriySvyryd commented on #13508
@vinguan See https://github.com/aspnet/EntityFrameworkCore/issues/4415

[2019-09-10 02:03] smitpatel opened #17735 "Query: Translate List<T>.Count to server side"
We can convert it to Count() function. Currently it client evals materializing whole list.

[2019-09-10 02:34] netcore-jroger opened #17736 "how to count specific column in entity framework core"
StackOverflow issue [here](https://stackoverflow.com/questions/57863217/how-to-count-specific-column-in-entity-framework-core).

When I use `left join` to perform a grouped query of two tables, the generated count statement is always `count(*)`, I want to generate the count of the specified column. For example: `count(InstrumentCode)`.

**Framework: EF Core 3.0-preview9**

[code]

**Sql statement

[2019-09-10 03:08] mbalgo opened #17737 "Visual Studio "Publish" dialogue dotnet-ef error"
Using Visual Studio 2019 and have tried the same in the latest Visual Studio 2019 Preview.

I right click on my project and select publish.

The drop down for "Entity Framework Migrations" displays this error:

![image](https://user-images.githubusercontent.com/54877122/64580271-065a9e00-d3c9-11e9-9f07-44c9da93ac96.png)

It looks like VS is trying to run the dotnet-ef command.

I have tried many v

[2019-09-10 03:22] dmarlow opened #17738 "Ability to set DeleteBehavior via ForeignKey annotation"
To set the OnDelete referential action, you must have the ICollection navigation property defined in order to even use the ModelBuilder's WithMany and HasForeignKey fluent methods.

I'd like to be able to easily and quickly set the OnDelete action via the ForeignKey attribute on the one navigation property that's defined.

[2019-09-10 05:36] roji commented on #17721
Can you post the specific error/problematic dependency etc.? Does it matter which runtime you force to get this to work?

BTW I see release/3.0 still uses preview8 as its SDK in global.json, shouldn't we be on preview9? /cc @bricelam

[2019-09-10 07:24] SARAVANA1501 commented on #15411
@AndriySvyryd ,

[SqlServerEnumConstraintConvention](https://github.com/SARAVANA1501/EntityFrameworkCore/blob/15411-check-enum/src/EFCore.SqlServer/Metadata/Conventions/SqlServerEnumConvention.cs)

Please review the convention, and guide me to register it with other conventions,

Thanks.

[2019-09-10 08:48] TehWardy commented on #17642
I found a sort of "hack" that i'm testing right now where I expose one of the collections and tell the OData framework to ignore the other like this ...

[code]

I'm having to write some code on the back end so that when a RelatedThing with From = "A" and To = "B" is added or removed it also adds the opposite From = "B" and To = "A" ... it's a bit of a hack but it gives the desired functionality a

[2019-09-10 09:34] marcnet80 commented on #17700
Hello, @manvydasu. Could you please provide a code sample or a project?
I've tried to reproduce issue on enviroment with Asp.Net Core 2.2 and EFCoreSqlServer version 2.2.6 without success.
Thank you.

[2019-09-10 09:36] jez9999 opened #17739 "Allow tab indentation for generated migrations"
Right now, the `dotnet ef migrations` command generates migrations with the snapshot, migration, and migration designer files space-indented.  As I prefer tab indentation, there should be some way to configure it to generate these files with tab-indentation.

[2019-09-10 10:57] taori opened #17740 "Enable compositional approach of custom migration functionality"
# Problem
I just read this article : https://docs.microsoft.com/de-de/ef/core/managing-schemas/migrations/operations

Reading the details about how to implement the generator objects for custom migration functionality it appears to me, that you can only extend migration functionality by overwriting existing one.

[code]

# Solution
If a compositional approach of this were to exist it would be poss

[2019-09-10 13:45] StingyJack commented on #630
FWIW, I dont understand why the [issue I logged](https://github.com/aspnet/EntityFramework.Docs/issues/1478) is being linked to this one. I use EDMX created from an existing database so I can use them in dynamic data web apps (not sites). I'm not using it for "code first" or whatever that is.

I'd not use EF at all but I dont think I have other working options for providers.

[2019-09-10 14:09] TehWardy commented on #17642
ok further testing revaled that this won't work as it causes this ...
https://github.com/aspnet/AspNetCore/issues/13853

[2019-09-10 14:09] arcooke commented on #16104
This is still an issue in Preview 9.  Preview 5 is the newest version I'm able to use without running into this problem.  Please look into this before releasing 3.0 .. this is critical functionality

This fails on preview 6, 7, 8 and 9

[2019-09-10 15:16] Menighin opened #17743 "Simple count timing out"
I have made kind of an API for my app.
Basically when the user access some page I run two basic querys:

- `getAll` that returns the data paginated and filtered
- `count` that returns the total of records with the given filter.

In the backend I simply have the following structure:

[code]

My logs table is a huge table with a lot of records (1kk+ and growing).
The `GetAll` method executes fine bu

[2019-09-10 16:15] Shane32 opened #17744 "Entity objects cannot be returned within arrays in EF 3.0 preview 9"
This query throws an error:
[code]

Error message:
[code]

However, this works just fine: (and properly tracks the entity)
[code]

Where Myclass is defined as: (notice that Part is still defined as an object, so that's not the issue)
[code]

Also, selecting any non-entity works just fine:
[code]

For EF 2.x, the same bug existed, but the workaround was to use AsNoTracking().  This workaround does

[2019-09-10 16:42] bricelam commented on #17721
@aspnet/build Should we bump the SDK?

[2019-09-10 16:44] sebastienros commented on #17721
What I don't understand if why you would have a bot automatically upgrading the references to external packages, but not the required SDK that would actually come with some of these. Or maybe these dependencies are included as part of another step in the build scripts?

[2019-09-10 17:12] bricelam commented on #17721
lol, I ask that question every time. I still feel like they didn't deliver https://github.com/dotnet/arcade/issues/811

[2019-09-10 17:13] AndriySvyryd commented on #15411
You are heading in the right direction.

- Call `entityType.GetDeclaredProperties()` instead of `entityType.GetProperties()` to avoid going over the same properties.
- Don't call `property.SetIsNullable(false)`
- The convention can be added in SqlServerConventionSetBuilder:
[code]
- Add tests to EFCore.SqlServer.Tests

I'll give further feedback on the PR

[2019-09-10 17:14] dougbu commented on #17721
The preview 9 SDK comes with new NuGet MSBuild glue which causes new warnings all over the place. Fine to update the SDK but only in combination with required fixes e.g. move to embedded package icons (if possible) and not for 3.0 GA without ask-mode approval.

More generally, this is a topic for our leads because the embedded icons bit is somewhat ugly. Separately, adding dependencies for SDK ver

[2019-09-10 17:14] SuricateCan opened #17745 "Lazy Loading Failing to Load"
Today I stumbled across a weird bug that prevented a navigation property to be loaded.

In my first scenario, the navigation property was one-to-many with no foreign key property specified, so, a shadow property was created for it.
Turning on the debug on EF classes, it simply says "Lazy-loading property" and just skips to the next one.
After spending some time debugging EF Core, I found out that

[2019-09-10 17:15] dougbu commented on #17721
Should have said "new errors" because we have warnings-as-errors enabled.

[2019-09-10 17:18] divega commented on #13131
@AndriySvyryd, ok, I will.

@NickSevens I got an answer that might be useful:

[2019-09-10 17:37] AndriySvyryd commented on #15530
Docs issue: https://github.com/aspnet/EntityFramework.Docs/issues/1135

[2019-09-10 17:54] divega opened #17746 "Cosmos: Expand checks against null values for nested properties to first check parents for null"
The full context is described in https://github.com/aspnet/EntityFrameworkCore/issues/13131 about dealing with missing property values. Creating this separate issue to track priorities separately.

In general we have chosen not to equate undefined and null values. Customers using the Cosmos DB provider will need to be aware of how to deal with missing values in their databases.

There is however o

[2019-09-10 17:55] divega commented on #13131
Closing as duplicate since we haven't done anything yet, but we now have separate issues tracking the actions we decided on.

[2019-09-10 18:07] ErikEJ commented on #630
@stingyjack Could you use reverse engineering, for example using EF Core Power Tools?

[2019-09-10 18:21] jcemoller commented on #17743
Just wanted to add in that I'm seeing the same kind of slowdowns, also in 3.0. Analyzing the queries involved it seems for my case that the SQL Server was doing a pretty bad guesswork, perhaps due to queries from EF Core running through sp_executesql. Updating statistics using sp_updatestats helped the query planner a lot. That said,  a **like %x%** query will always be hard to guess for the serve

[2019-09-10 18:52] RickStrahl opened #17747 "Simple Child Entity Add Operations fails with preset IDs"
I have a very simple model of users and roles and when trying to add roles to users the addition of users fails with:

![image](https://user-images.githubusercontent.com/1374013/64641696-9563b800-d3c1-11e9-9fa2-d21d5f0459a8.png)

The model is set up like this:

[code]

The code fails if I run the test code like this:

[code]

### Further technical details
The problem appears to be that the Role en

[2019-09-10 20:18] #17610 closed

[2019-09-10 20:37] AndriySvyryd opened #17751 "Cosmos: Make the 'id' property more flexible"
- [x] Rename the `id` property created by convention to avoid it clashing with an entity property.
- [x] Make sure that the property created by the convention is removed if any other property is mapped to `id` (the new property should get the value generator).
- [x] Validate all properties have distinct database names
- [x] Remove the value generator from the property mapped to `id` if it's part o

[2019-09-10 20:39] davidroth commented on #17747
That's by design in efcore 3.0. You are not adding the Roles via context.Add(), but instead adding them to the user.Roles collection.

Change tracker treats untracked entities as modified in this case. This is a breaking change from 2.x and has been documented here:

 https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#detectchanges-honors-store-generated-key-values

[2019-09-10 20:56] AndriySvyryd commented on #15289
For Attach to work we need to generate key values: https://github.com/aspnet/EntityFrameworkCore/issues/13575

[2019-09-10 21:11] RickStrahl commented on #17747
Thanks David.

Verified that it works if I explicitly add the entities.

But I gotta ask (not you specifically but more generally): Why change this behavior, because this makes EF even more unwieldy than it already was and makes the whole premise of using an entity model/ORM really painfully useless?

I'm sure there are technical reasons that are internal to the behavior of EF, but it sure as heck

[2019-09-10 21:12] StingyJack commented on #630
@ErikEJ - I could always decompile or write something. But why should I have to do either when code already exists to be ported.

[2019-09-10 21:18] #17531 closed

[2019-09-10 21:23] divega commented on #17712
@lauxjpn I am also curious if you work around the issue outside of the Pomelo driver or if you are planning to contribute it to the project.

[2019-09-10 21:25] smitpatel commented on #12787
Fixed in 3.0. Re-enabling disabled tests.

[2019-09-10 21:25] #12787 closed

[2019-09-10 21:34] lauxjpn commented on #17712
It's part of the PR for updating Pomelo to EF Core 2.2.6, and basically fix as much tests that did not work before as possible (the `CAST()` tests where a large chunk of that), to provide a solid foundation to test against, for the upcoming 3.0 upgrade.
The PR will be online in < 24h.

[2019-09-10 21:34] smitpatel commented on #16752
Scenarios after SelectMany seems to be working.

[2019-09-10 21:36] #12794 closed

[2019-09-10 21:47] smitpatel opened #17756 "Query: Non-expanded navigations in query"
- [x] Required_navigation_on_a_subquery_with_First_in_predicate
- [x] Dependent_to_principal_navigation_equal_to_null_for_subquery

[2019-09-10 22:28] AndriySvyryd opened #17757 "Reduce allocations in ExpressionEqualityComparer"
Currently a Dictionary is allocated for every visited scope, instead we could reuse the same dictionary.

[2019-09-10 22:38] smitpatel opened #17759 "Set operations over 2 collection navigations"
[code]
Throws
[code]

[2019-09-10 23:00] AndriySvyryd commented on #17738
Related to https://github.com/aspnet/EntityFrameworkCore/issues/10864

[2019-09-10 23:07] AndriySvyryd commented on #17747
Most of the time entities that have store-generated keys only have the key values set explicitly if they already exist in the database: https://github.com/aspnet/EntityFrameworkCore/issues/14616

But we are listening for feedback and might make this behavior more explicit: https://github.com/aspnet/EntityFrameworkCore/issues/13575

[2019-09-10 23:23] smitpatel commented on #17234
It's client eval in projection by using casting and followed by where predicate.

[2019-09-10 23:25] smitpatel commented on #12603
Latest exception message
[code]

[2019-09-10 23:32] smitpatel opened #17761 "GroupBy followed by distinct without aggregate operators generates invalid SQL"
[code]

[2019-09-10 23:33] smitpatel commented on #12576
Got converted to #17761

[2019-09-10 23:35] smitpatel commented on #12641
Duplicate of #17068

[2019-09-10 23:38] smitpatel commented on #17761
On higher level, to translate correctly we also need to decide what exactly Distinct on IGroupings mean.

[2019-09-10 23:42] smitpatel commented on #12573
Duplicate of #17068 & #12088

[2019-09-10 23:51] smitpatel commented on #12816
Duplicate of #17068

[2019-09-11 00:08] smitpatel commented on #3836
Design notes:
- We need to add COALESCE(column, N'') only when column can be null and is used in string concatenation.
- The place where we find nullability is NullSemanticsRewritingExpressionVisitor.

[2019-09-11 00:15] smitpatel opened #17762 "Query: Translate List.Exists"
[code]

[2019-09-11 00:26] smitpatel commented on #17242
Duplicate of #16314

[2019-09-11 00:32] smitpatel commented on #8366
The commit it references actually marks the test disabled with this issue number.

[2019-09-11 00:36] maumar opened #17763 "Query: NRE when projecting non-mapped property from SelectMany"
query:

[code]

exception:

[code]

`projectionBindingExpression.ProjectionMember` is null

[2019-09-11 00:42] maumar commented on #11933
verified this issue has been fixed in 3.0

[2019-09-11 00:58] AndriySvyryd opened #17764 "Cosmos: Entities without discriminator cannot be updated"
[code]

  Stack Trace:
    at CosmosPropertyExtensions.GetPropertyName(IProperty property) in CosmosPropertyExtensions.cs line: 23
    at CosmosDatabaseWrapper.Save(IUpdateEntry entry) in CosmosDatabaseWrapper.cs line: 207
    at CosmosDatabaseWrapper.SaveChanges(IList`1 entries) in CosmosDatabaseWrapper.cs line: 106
    at StateManager.SaveChanges(IList`1 entriesToSave) in StateManager.cs line: 1

[2019-09-11 00:58] bbosley opened #17765 "System.DllNotFoundException/e_sqlite3 In Self-Contained app on RHEL 6"
I have developed an app that's intended to be published self-contained on a number of RHEL 6 servers (using the rhel.6-x64 RID) and I get an error indicating that it is unable to find the shared library e_sqlite3. If I publish it with the linux-x64 RID and run it on a RHEL 7 machine it works as expected.

I do really feel like I'm doing something wrong but Googling seems to have failed me.

### To

[2019-09-11 01:01] smitpatel commented on #11933
@maumar - Regression test.

[2019-09-11 01:03] maumar commented on #11933
@smitpatel i have test ready, will send PR with regressions for multiple issues

[2019-09-11 01:11] maumar commented on #10548
verified this issue has been fixed in 3.0

[2019-09-11 01:18] smitpatel commented on #17243
Duplicate of #16314

[2019-09-11 01:24] maumar commented on #11847
verified this issue has been fixed in 3.0

[2019-09-11 01:35] maumar commented on #10210
verified this issue has been fixed in 3.0

[2019-09-11 02:04] btecu commented on #11933
@ajcvickers I tested preview 9 and confirm that previous query that in 2.x was broken now works.

[2019-09-11 06:09] #8366 closed

[2019-09-11 06:09] #8722 closed

[2019-09-11 06:09] #9007 closed

[2019-09-11 06:09] #9254 closed

[2019-09-11 06:09] #12574 closed

[2019-09-11 06:09] #12579 closed

[2019-09-11 06:09] #12598 closed

[2019-09-11 06:09] #12786 closed

[2019-09-11 06:09] #12806 closed

[2019-09-11 06:09] #12827 closed

[2019-09-11 06:09] #12873 closed

[2019-09-11 06:09] #14900 closed

[2019-09-11 06:09] #15862 closed

[2019-09-11 06:09] #16157 closed

[2019-09-11 06:09] #17240 closed

[2019-09-11 06:30] davidroth commented on #17747
Well for me personally the new behavior makes definitely more sense and is a much better default when working with disconnected entity graphs.
It makes no sense to insert entities with an existing key, if `ValueGenerationOnAdd` is configured. Of course, someone has to be aware of how ef works in this regards but thats with many features / behaviors.

Well, any "real" ORM brings a lot of complexity

[2019-09-11 06:54] snailcatcher commented on #16298
@roji Will this be fixed in the 3.0 release?

[2019-09-11 07:23] AlexChongMicrosoft commented on #13285
Hi, is this fix added into EF core 2.1 which is a LTS version?

[2019-09-11 07:28] optiks commented on #13285
It only went into 2.2, not 2.1.

[2019-09-11 07:32] AlexChongMicrosoft commented on #13285
@optiks Thank you for attention. But as I know, .NET core 2.1 is a Long-Term Support release which chose by many users. Is there a plan to fix it in 2.1? Or this is a new feature, which will not be fixed in 2.1?

[2019-09-11 07:38] optiks commented on #13285
I'll let the EF team reply with whether this is going to be fixed in 2.1 (although I suspect the answer is no, unless there is sufficient demand for it)... however a general rule of thumb is that not every bug fix is back-ported to the LTS release. Part of the reason it's LTS is _because_ it needs to be stable; every change that's made introduces the possibility of a regression.

[2019-09-11 07:41] AlexChongMicrosoft commented on #13285
Yes, thank you for your explanation. I'm also contacting asp.net team for help while waiting for your feedback. Actually, we have customers who have strong demand for it. I will keep my eyes on this ticket. Waiting for your feedback.

Really appreciate your warm hand.

[2019-09-11 08:06] roji commented on #17739
Probable dup of #4038 - rather than specific support or extension points, we should probably just have templates (T4? Razor?) which people can customize any way they want.

/cc @bricelam

[2019-09-11 08:20] roji commented on #16298
@snailcatcher unfortunately no, this has been punted for post-3.0 work, but we'll definitely consider this as a high-priority item for the next release.

However, note that you can still perform any sort of set operation on the client via client evaluation - simply insert an `AsEnumerable()` before performing your set operation. This is how all set operations were handled in pre-3.0 versions, and

[2019-09-11 09:57] Maci94 opened #17769 "EFCore Set null one property of entity on preview 9"
I need to save a entity that implements baseEntity

If i modify IdStatus, efcore Update it correctly, but if idStatus value does not change on other props updating => for some reason efcore set it to null

idStatus = 20 => try to update to 12 => success

idStatus = 12 => try to update description => idStatus = null, desc ok

i'm on

 - .net core 3.0 preview 9

 - efcore 3.0 preview 9

 - database

[2019-09-11 11:22] danielleiszen commented on #6080
I would suggest having a switch on EntityFramework InMemory configuration options whether we would like it to throw these kind of exceptions or not. Then we wont. Most of the code that is not supported - if not all of it - has nothing to do with our business logic, hence can be ignored during unit testing.

[2019-09-11 12:12] smint80 opened #17770 "SqlServer IsClustered forced on identity"
For SQL Server on EF Core 3.0:
[code]
will result in failure aplying migration to SQL server as both the composite primary key and the unique identity will be created as clustered.
Using .HasAnnotation() to set SqlServer:IsClusted to false does not help.

Even though it is a good default to cluster by a identity column it should be possible to change behavier with IsClustered(false) as that will a

[2019-09-11 14:57] lauxjpn commented on #17712
@divega I opened the PR: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/820

[2019-09-11 15:57] drk-mtr opened #17771 "[USER ERROR] Method not found: 'IntPtr SQLitePCL.sqlite3.get_ptr()' when running Preview9 version of tools"
### Version Information

EF Core: `3.0.0-preview8.19405.11` or `3.0.0-preview9.19423.6`
Dotnet: `3.0.100-preview9-014004`
Target framework: `netcoreapp3.0`
IDE: vscode
OS: Windows 10 1903
Provider: Microsoft.EntityFrameworkCore.Sqlite

### Steps to reproduce

- Follow the instructions on this page: https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-2.2
- The initial mig

[2019-09-11 16:35] drk-mtr commented on #17771
UPDATE: This only occurs when using the `paket` package manager. It's fine when using just the dotnet tools / nuget package manager. Closing the issue and will pick up with the `paket` creators to see whether I can work out what's going on.

[2019-09-11 16:46] lauxjpn opened #17772 "Lots of duplicate attribute compile time errors in current commit of release/3.0 branch"
What is the latest commit on the `release/3.0` branch that should compile without build errors?

The current commit f0f19ff57b24970e4dc82ca85bb333ad5abc0543 produces a lot of duplicate attribute errors like the following:
[code]
This happens with `build.cmd` as well as with using the `All.sln` or its filtered versions.

[2019-09-11 17:04] lauxjpn commented on #17772
This seems to be local VS or msbuild problem. Deleting all `obj` directories did the trick.

[2019-09-11 17:28] javiercampos opened #17773 "Creating two tables with same name and different schema messes up the migrations if tables have FKs between them"
Sorry for the long title. Basically I'm having a problem when two tables have the same name but different schema (using Microsoft.EntityFrameworkCore.SqlServer) when those tables have a relationship between them.

Say this extremely simple case:

[code]

This works fine with this model configuration:
[code]

The migration is correct and I get a 1:1 relationship FK constraint so that both `Foo` and

[2019-09-11 17:57] AndriySvyryd commented on #17769
@Maci94 Can you provide a small runnable project that shows this behavior?

[2019-09-11 18:28] smitpatel commented on #17050
When implementing this, also account for function with DbFunctionAttribute. They should go to server eval like they do on other databases.

[2019-09-11 18:52] multco-malan opened #17774 "Running migration on Azure not working: The specified schema name x either does not exist or you do not have permission to use it"
dot net core web application running in Azure is not successfully running migrations.
The complete error is:
The specified schema name "95318cf6-5c65-4ed7-9263-45161eee8e07@0c0989e5-5cb9-442f-af4f-3a43092b154a" either does not exist or you do not have permission to use it

I have no idea where the migrator is getting that schema name.
I'm using the default dbo schema for all objects.
Running migra

[2019-09-11 18:53] roji commented on #17721
@sebastienros can we work around this by forcing the SDK for now, until EF Core switches to preview9/RTM?

[2019-09-11 18:55] divega commented on #17545
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

[2019-09-11 19:00] AndriySvyryd opened #17775 "Average_on_nav_subquery_in_projection is flaky"
at Microsoft.Data.SqlClient.SqlCommand.<>c.<ExecuteDbDataReaderAsync>b__164_0(Task`1 result)
   at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2.InnerInvoke()
   at System.Threading.ExecutionContext.RunInternal(ExecutionContext executionContext, ContextCallback callback, Object state)
--- End of stack trace from previous location where exception was thrown ---
   at System.Threadin

[2019-09-11 19:04] divega commented on #17763
@maumar to check if this affects simpler queries.

[2019-09-11 19:06] sebastienros commented on #17721
The benchmarks can force it, and it's the default normally, but because this repos has a global.jsob that also forces it, I had to add an option to not do it actually. So a way would be for this branch to not have a global.json instead. Otherwise msbuild fails silently when provided two conflicting versions.

[2019-09-11 19:15] divega commented on #17744
cc @smitpatel what do you think about this?

[2019-09-11 19:17] roji commented on #17721
I don't think removing the global.json is an option (for test CI/CD, for reliable builds locally), @bricelam?

As a super ugly hack, maybe remove global.json recursively if the option to force the SDK is specified?

[2019-09-11 19:19] divega commented on #17743
@jcemoller what query exactly did you execute directly against the database? LIKE with `%...` cannot take advantage of any index, but LIKE `x...` can.

[2019-09-11 19:20] bricelam commented on #17723
Duplicate of https://github.com/dotnet/SqlClient/issues/16

[2019-09-11 19:25] divega commented on #17739
@cincuranet we would consider a PR that makes IndentedStringBuilder a service. We need to check if we share the same infrastructure between model scaffolding and migrations.

[2019-09-11 19:41] smitpatel commented on #17744
Probably 3.1

[2019-09-11 19:46] smitpatel commented on #17763
This would happen when running Join translation after one side has client eval. We should throw appropriately in advance.

[2019-09-11 20:46] AndriySvyryd opened #17778 "Cosmos: Populate __jObject on SaveChanges"

[2019-09-11 21:00] maumar commented on #8723
verified this issue has been fixed in 3.0

[2019-09-11 21:09] AndriySvyryd commented on #17775
Blocked by https://github.com/dotnet/SqlClient/issues/85

[2019-09-11 21:51] maumar commented on #9241
verified this issue has been fixed in 3.0

[2019-09-11 21:52] vflame opened #17780 "HasDefaultvalue() for interfaces/generics"
Unable to set default value for interfaces/generics.

Not working:

Model:

[code]

Context Configuration:
[code]

Results in the following when running add-migration:

[code]

The following is working:

Model:

[code]

Context Configuration:

[code]

Is this by design?

EF Core version: 2.2.6
Database provider: npgsql
Target framework: (e.g. .NET Core 2.2)
Operating system: Cross Platform
IDE: VS

[2019-09-11 22:02] maumar commented on #17763
i verified simple projection works

[2019-09-11 22:26] maumar commented on #12361
still fails on current bits

[2019-09-11 22:36] smitpatel commented on #12361
Duplicate of #17475

[2019-09-11 23:08] divega commented on #17532
Fixed this in 5ff0281. Unfortunately there isn't a good way to make the change retroactive to previous versions, AFAIK.

[2019-09-11 23:08] #17532 closed

[2019-09-11 23:12] frankbjr opened #17781 "Link to SQL additional recognized syntax"
I had to pull a few hairs out to figure out why a query issued against a DBContext (IQueryable), behaved differently than the same query issued against an IEnumerable (created by taking the same DBContext object and .ToList() before applying the query) .[For more details, see my StackOverflow question](https://stackoverflow.com/questions/57895323/why-does-iqueryable-where-provide-different-results

[2019-09-11 23:19] maumar opened #17782 "Query: navigations are not expanded for entities coming from coalesce/conditional"
query:

[code]

qp after nav expansion:

[code]

[2019-09-11 23:34] maumar commented on #12741
verified this issue has been fixed in 3.0

[2019-09-12 00:29] jcmontx commented on #13323
Following on this. Still not on the roadmap? At least partial support?

[2019-09-12 01:30] smitpatel commented on #4389
The test is blocked on #15260

[2019-09-12 01:34] smitpatel commented on #13594
The query is missing in initial issue.
Just add a test with custom selector like that followed by group by.

[2019-09-12 01:35] smitpatel commented on #13567
This may not work. Need to use CompileAsyncSingletonQuery. Need a different API design for CompileQuery.

[2019-09-12 01:36] julielerman commented on #17422
Hi @AndriySvyryd , This workaround is rough for normal scenarios because it assumes you are working directly with the change tracker. I want to be able to write my business logic : e.g., retrieve the entity with its null dependent (in my case an owned entity), then set a new object to that property. And on savechanges, I want the context to figure out that the mistakently Added entity needs to be

[2019-09-12 01:37] smitpatel commented on #12826
For test look all the closed referenced issue to cover all the scenarios.

[2019-09-12 01:40] smitpatel commented on #11914
Blocked on #17068

[2019-09-12 01:41] smitpatel commented on #17068
If we decide to close this, also close related issues which are blocked on this one. And also clean up tests in codebase.

[2019-09-12 01:49] smitpatel opened #17783 "Query: Translate DefaultIfEmpty with argument"

[2019-09-12 01:49] smitpatel commented on #17421
Also #17783

[2019-09-12 01:56] smitpatel commented on #15805
This is already fixed by using AddToProjection method which de-duplicate columns. There is no need to add any regression tests as SQL baselines assert this already. If there is any issue with particular SQL baseline, we can file an issue to investigate for that special case.

[2019-09-12 01:56] #15805 closed

[2019-09-12 01:56] AndriySvyryd commented on #17422
@julielerman You can examine the state of the parent. I have not tested this, but it might do the trick:

[code]

And you can make this recursive to handle deeper levels of owned types.

[2019-09-12 01:57] smitpatel commented on #16320
Already fixed.

[2019-09-12 01:57] #16320 closed

[2019-09-12 02:00] arturgromek opened #17784 "Strange Behaviour on detaching entries"
On detaching entries from the change tracker, I am getting an Invalid Operation Exception. It seems that detaching entries from the tracker is setting foreign keys or parents to null in child objects. In the past(preview 8) detaching has only stopped tracking the entries, without modifying/altering any properties.

Note: Nullable Reference Types is not enabled in this project

### Steps to reprodu

[2019-09-12 02:40] BahKoo opened #17786 "Using HasDiscriminator and OwnsOne on the same configuration causes unnecessary SQL JOINS"
When configuring both a discriminator and an owned type on the same entity, the generated SQL joins 2 queries to the same table. This seems unnecessary.

### Configuration

[code]

### SQL

[code]

### Further technical details

EF Core version: 2.2.6
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framework: .NET Framework 4.6.1
Operating system: Windows 7 64 bit
IDE: Visual Stu

[2019-09-12 03:15] AndriySvyryd commented on #17786
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/15374

[2019-09-12 03:33] AndriySvyryd commented on #17784
[This is a change in behavior for 3.0](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#cascade)

You can mitigate it:
[code]

[2019-09-12 03:48] bbosley commented on #17765
I realize a full stack trace might help...

Unhandled exception. System.TypeInitializationException: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnection' threw an exception.
 ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.DllNotFoundException: Unable to load shared library 'e_sqlite3' or one of its dependencies.

[2019-09-12 03:48] AndriySvyryd commented on #13323
@jcmontx We still don't have plans to support this. But it's a great opportunity for a community project,

[2019-09-12 04:18] arturgromek commented on #17784
I was under the impression that detaching is a completely seperate action to deletion. Doesn't the detached state only relate to the entity not being tracked?

I am only intending to stop the context from tracking these entries, not modify anything about them, or their relationships.

Also that change has been in since preview 3 according to the docs, but the change I've experienced has only happe

[2019-09-12 05:49] khteh opened #17787 "After upgrading to 3.0 Preview 9: error NU1202: Package Microsoft.EntityFrameworkCore.Tools 3.0.0-preview9.19423.6 is not compatible with netcoreapp2.2"
I have upgraded the SDK and runtime to 3.0 Preview 9, upgraded the packages in .csproj but bump into the `error NU1202: Package <foo> is not compatible with netcoreapp2.2` error.

### Steps to reproduce

[code]
[code]

### Further technical details

EF Core version:
Database provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Target framework: (e.g. .NET Core 3.0) `.Net Core 3.0 Preview 9`
Op

[2019-09-12 05:52] RickStrahl commented on #17747
Yes there are workarounds and **once you know what the problems is** it's not a big thing to work around it. But the inconsistency here is what the problem is - and figuring what the problem once you hit it.

If you want to be 'pure' and explicitly specify everything that's great, but nothing is stopping you from doing that even if the behavior worked as it previously did. You lose nothing, but th

[2019-09-12 07:26] jcemoller commented on #17743
@divega yeah, I don't use **like %** in any of my queries I just wrote that as a general advice since I'm facing similar issues. I'm still experiencing severe performance issues migrating to 3.0. Complex queries that used to take <1 sec is now over 1 minute. Investigating and opening up a separate issue, did not mean to take over @Menighin

[2019-09-12 08:05] khteh opened #17788 "Method 'get_Info' in type 'MySql.Data.EntityFrameworkCore.Infraestructure.MySQLOptionsExtension' from assembly 'MySql.Data.EntityFrameworkCore' does not have an implementation"
I have upgraded the SDK and runtime to 3.0, upgraded the packages in .csproj but bump into the exception:
[code]
Notice the spelling error in the namespace, `Infraestructure` instead of `Infrastructure`. Could that be the root cause?

### Steps to reproduce

[code]

### Further technical details

EF Core version: 3.0
Database provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer) `MySql.Data.Ent

[2019-09-12 09:53] BrankoIlic opened #17789 "Contains overload which takes StringComparison throwing for client eval"
### Steps to reproduce
for:

if (!string.IsNullOrEmpty(request.FirstName))
                var identities = _context.Identities..Where(a => a.FirstName.Contains(request.FirstName, StringComparison.OrdinalIgnoreCase));

I get:
System.InvalidOperationException: Operation is not valid due to the current state of the object.
   at Microsoft.EntityFrameworkCore.Query.RelationalQueryableMethodTranslatin

[2019-09-12 11:52] yahorsi opened #17790 "Feature Request: - For SqlServer generate join on table variable instead of generating WHERE IN clause when .Contains is used in the EF query"
Hi Guys!

Sometimes people need to check if the database column value is in a list of predefined values, and so we do something like filter.FunctionIds.Contains(x.FunctionId). On the Microsoft SQL Server that get's translated into the TSQL WHERE IN clause.

Problem 1.
If a list of values changes, that will result in the query text being different. Once the query is different - SQL server must pars

[2019-09-12 11:59] jcemoller opened #17791 "3.0 regression: Translate Expression.Invoke"
Pre-3.0 I've been using Expression.Lambda to be able to re-use frequent expressions. When debugging another issue (https://github.com/aspnet/EntityFrameworkCore/issues/17617), I had to upgrade to 3.0 and noted that I cannot use the same kind of construct anymore.

The below code works in 2.2.6 without client evaluation, but not in 3.0 using daily builds. Am I using Expression.Lambda wrong, or is t

[2019-09-12 12:13] jcemoller opened #17794 "3.0 regression: Cannot use generics w/ interface to construct expression"
Pre-3.0 it was possible to construct an expression using generics & interface. With 3.0 daily builds, you get an exception for the exact same code. From https://github.com/aspnet/EntityFrameworkCore/issues/17617

### Steps to reproduce

[code]

Please look at the following gist for a reproducible example:

https://gist.github.com/jcemoller/312a2aaa3c27ec18318881619439e867

[code]

### Further tech

[2019-09-12 15:04] ixtreon opened #17799 "Inserting a value with too many decimals throws DbUpdateConcurrencyException"
Inserting a `decimal` value with more than 4 decimal places within an SQL Server column of type `money` which is also marked as a concurrency token will throw `DbUpdateConcurrencyException` on follow-up calls to `SaveChanges`.

The exception message indicates that on consequent calls the context remembers the full-precision value as the "original" one and is thrown when comparing it to the DB valu

[2019-09-12 15:05] Praveen-Rai opened #17800 "Mapping support for private setters of properties"
EFCore supports accessing readonly properties using the private backing field. Defining private backing fields isn't so good for readability ( and code manageability ) for it adds verbosity. Even VS doesn't seems happy about it.
![VS_EFCore](https://user-images.githubusercontent.com/39744031/64795759-3e660a80-d59c-11e9-99f7-2bfad054a94c.png)

EFCore must support configuration ( entity mapping supp

[2019-09-12 18:35] daniefer opened #17802 "ToDictionary and ToDictionaryAsync do not generated expected SQl"
### Description
When using the ToDictionaryAsync extension, the value selector is not correctly translated to a select as expected. In fact, the generated SQL is possibly the worst way to do the requested query.

### Steps to reproduce
Given the following context and entities:
[code]
When ToDictionary or ToDictionaryAsync is called where a join is implied
[code]
The generated SQL is garbage
[code]

[2019-09-12 18:47] maumar opened #17803 "Query: chaining multiple collections of weak entities throws during compilation"
query:

[code]

qp before queryable translation:

[code]

exception:

[code]

[2019-09-12 18:54] smitpatel opened #17804 "Defining Query vs ToView"
If both of them are defined which one should be applied?

[2019-09-12 20:59] joakimriedel opened #17809 "3.0 regression: Produces invalid SQL for complex query"
After upgrading to 3.0.0-rc2 daily builds from 2.2.6, a query previously working is now generating invalid SQL. It's hard for me to make a small reproducible example since it renders into a complex query with lots of columns and joins (292 lines long..), but this is an outline of the resulting query:

[code]

As you can see it tries to reach [t] from within outer apply but it's declared in another

[2019-09-12 22:36] smitpatel opened #17814 "Cosmos: Discriminator property of non-string"
If user class has property named Discriminator which is not of type string then cosmos throws while model building.

[2019-09-12 23:05] AndriySvyryd opened #17817 "Add a warning for decimal PKs with SqlServer"
We use strict comparisons for PK values that can fail in some scenarios: https://github.com/aspnet/EntityFrameworkCore/issues/14952, https://github.com/aspnet/EntityFrameworkCore/issues/6835

Same for concurrency tokens https://github.com/aspnet/EntityFrameworkCore/issues/17799

Consider recommending to use [SET NUMERIC_ROUNDABORT ON](https://docs.microsoft.com/en-us/sql/t-sql/statements/set-numer

[2019-09-13 00:53] #12045 closed, assigned to smitpatel

[2019-09-13 00:55] AndriySvyryd opened #17820 "Allow to share a required column when using table splitting"
at Microsoft.EntityFrameworkCore.Infrastructure.RelationalModelValidator.ValidateSharedColumnsCompatibility(IReadOnlyList`1 mappedTypes, String tableName, IDiagnosticsLogger`1 logger)
   at Microsoft.EntityFrameworkCore.SqlServer.Internal.SqlServerModelValidator.ValidateSharedColumnsCompatibility(IReadOnlyList`1 mappedTypes, String tableName, IDiagnosticsLogger`1 logger)
   at Microsoft.EntityFram

[2019-09-13 05:08] DizzyDeveloper opened #17822 "TPH Querying derived types"
Assuming I have the basic TPH structure below

[code]
### Steps to reproduce

Is there really no way to write a query, as below, such that it would run on the sql server, instead of trying to perform client side evaluation?

[code]

The above query will fail due to null exceptions, below executes but does everything on the client.

[code]

I tried using EF.Functions as well, but that complained ab

[2019-09-13 07:02] nmocruz commented on #1368
@angele indeed, how many people like me waiting this to migrate to core, or even start with core due lack o many to many mapping.
Not seeing people doing workarounds or changing the entity model removing all many-to-many relationships.

[2019-09-13 07:04] smadurange opened #17824 "Database.Migrate() raises login failed error with SQL Server Express"
I'm using EF Core version 2.1.11 with SQL Server Express version 12.0.2000.

I have my entity:

    public class MyEntity
    {
        public string Id { get; set; }

        public int Age { get; set; }
    }

and my Db context:

    public class MyContext : DbContext
    {
        public MyContext(DbContextOptions<MyContext> options)
            : base(options)
        {
        }

        prot

[2019-09-13 07:52] danieltulp commented on #1368
for everyone saying they are not migrating because of this:
let me say that .net core is way better in development than .net framework
seriously it is like night and day
so do not let this one thing (that I think should be a part of it) hold you back, you are only keeping yourself from moving forward for a thing you can work around

[2019-09-13 08:32] Meberem opened #17826 "migrationBuilder.InsertData generates SQL with 'Invalid column name' in idempotent scripts"
I get
[code]
when running an idempotent migrations sql file where I have removed a column after I have inserted data.

In the 1st migration
[code]
in the 2nd migration
[code]

the generated SQL contains
[code]

If this migration has already been run then this part of the script produced the reported error even though it doesn't get run. It appears a way to prevent this error is to wrap the INSERT

[2019-09-13 08:42] glacasa opened #17827 "Scaffolding using "Name" connectionString throws ArgumentNullException (Parameter 'connectionString')"
I scaffold my entities with EF Core 2.2 using the followinf command line :

`dotnet ef dbcontext scaffold "Name=Default" Microsoft.EntityFrameworkCore.SqlServer`

After updating to EF Core 3.0 preview 9, I now have an exception :

System.ArgumentNullException: Value cannot be null. (Parameter 'connectionString')
   at Microsoft.EntityFrameworkCore.Utilities.Check.NotNull[T](T value, String paramet

[2019-09-13 09:05] archanasoni commented on #17343
@ajcvickers , thanks for the detailed info, as per our requirement we have to print results. As it takes methodResult as an argument so just had a thought that in some configuration or condition result will be printed. But it does not..

[2019-09-13 09:37] jcemoller commented on #17809
@smitpatel after hours of debugging, I think I've got something.

# This does not work

[code]

# This works! 🎉

[code]

There's a LOT of data unneccessarily flowing from the SQL server, but at least the generated SQL is now valid.

[2019-09-13 09:53] bachratyg opened #17828 "Cascade deletions ignore current state of entities resulting in unexpected data loss"
Regarding this breaking change: https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#cascade-deletions-now-happen-immediately-by-default

When the parent entity is removed cascade deletes happen immediately by default but ignores changes already made on child entities. This causes unexpected data loss as entities which are not orphaned are also removed.

### Steps to r

[2019-09-13 10:07] bachratyg commented on #17828
Also reproduces on the nightly build: 3.0.0-rc2.19462.2

[2019-09-13 10:22] simonziegler opened #17829 "Blazor Server project (preview9) fails with Cosmos DB for Identity"
# Issue description
I am trying to use Cosmos DB as my database for identity in a preview9 Blazor Server app. This crashes when I attempt to register an account, showing the screen below. I have put an example of this on GitHub for reference, with minimal change to the out-of-the-box Blazor Server template app. To recreate, download the project, use the Azure Cosmos DB Emulator and update the conn

[2019-09-13 11:19] KLuuKer commented on #6089
For us a way to specify\construct a different sql connection string would be enough.
Because of scaling issues we **need** to split our customers over separate databases AND **physical** database machines

[2019-09-13 12:00] yahorsi commented on #17790
Holly cow, I just have realized that this is actually already possible to achieve just by changing EF query to use FromSql & table valuated parameter.

[2019-09-13 12:26] ThomasWendrock commented on #1368
@danieltulp: can you please tell me the correct workaround with many-To-Many-Relations in combination of an OData layer? Without problems when using expands and filters with Any or Concat?
But I agree. that the feature has not stopped us from going on with ef core.

[2019-09-13 12:54] kooshanabedian opened #17830 "RowVersion configuration in multiple nested types"
I get this error at design time, while trying to generate migrations:

Entity type 'PersonInfo.BirthCertificate#BirthCertificate' doesn't contain a property mapped to the store-generated concurrency token column 'Education_RecVersion' that is used by another entity type sharing the table 'Brokers.PersonInfo'. Add a store-generated property mapped to the same column to 'PersonInfo.BirthCertificate#

[2019-09-13 13:13] jzabroski commented on #1368
Can you please not make assumptions about what our needs are?

We are communicating to Microsoft what our needs are.

I have been very vocal that the current fluent interface is a disaster, and the whole use-case driven approach is a nightmare because I can't predict what use cases are supported or not without spending months learning the tool.  I looked **very** bad in front of a client when a pr

[2019-09-13 13:13] Maci94 commented on #17769
@AndrewBoklashko i've added more examples , i hope you can help me
i've just updated .net core 3.0 to preview 9 and ef Core too
i didn't know what to do

[2019-09-13 13:30] mahald commented on #1368
With .Net Core 3 (comming out soon) you can use EF 6.3 on .Net Core.
https://github.com/aspnet/EntityFrameworkCore/issues/1368

This comes handy for upgrades from .Net for Windows.

But for me the question arises, will people use EF6.3 over EF Core due to the many-to-many Feature in EF 6 ?

[2019-09-13 13:39] jzabroski commented on #1368
I talk to other lead developers/consultants, and know one guy with a large team in Poland who is clamoring to use EF6.3 instead of EF Core.

By the way, I do think EF Core has done a lot of innovative things and I hope the project continues.  With enough time, it will become the gold standard.  But there are some fundamental problems that just take lots and lots of man-hours to fix.  EF6 has warts

[2019-09-13 13:56] Shane32 commented on #17809
Might want to try `(await query.Take(1).ToListAsync()).FirstOrDefault()` ... if it works, it would be a good temporary fix.

[2019-09-13 14:55] kooshanabedian commented on #17830
Changing all owned entities to ICollection<T> properties and relations to OwnsMany solved the issue.

[2019-09-13 15:12] AsifulNobel opened #17831 "Build script not running due to space in path name"
Build script does not run, if there is space in any of the parent directory name.

### Steps to reproduce

1. Open cmd in EntityFrameworkCore directory
2. Run `build.cmd` or any of the other `.cmd` file

Make sure that the working directory path looks like the following path containing space in any of the parent directory - *D:/foo & bar/aspnet/EntityFrameworkCore*. You will see an error that *pow

[2019-09-13 15:12] AndrewBoklashko commented on #17769
@AndriySvyryd

[2019-09-13 16:16] sebastienros commented on #17721
The benchmarks are working again normally. Please confirm and close the issue.

[2019-09-13 16:20] smitpatel commented on #17829
Duplicate of #17435

[2019-09-13 16:21] smitpatel commented on #17827
Duplicate of #17375

[2019-09-13 17:09] Praveen-Rai commented on #17800
Seems like there was an issue, which i am unable to reproduce now. I hit it while create Migrations using `dotnet ef` command. I am using _Microsoft.EntityFrameworkCore.Preview9_ & _npgsql.EntityFrameworkCore.Postgres.Preview9_ . I will keep a watch and will try to return with a reproducible scenario.

Moreover i feel the CLI isn't too clear in error reporting. I kept getting for various issues :

[2019-09-13 17:14] smitpatel commented on #17800
@Praveen-Rai - You could be hitting https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#microsoftentityframeworkcoredesign-is-now-a-developmentdependency-package

[2019-09-13 17:39] Praveen-Rai commented on #17800
@smitpatel Now i am completely lost :-( , but i did add _Microsoft.EntityFrameworkCore.Design_ . One thing i could notice even now is that `dotnet ef` command doesn't build the entire solution. And that might have been the problem. Not very sure, will have to try.

[2019-09-13 17:46] Praveen-Rai commented on #17800
For now the good news is that properties with private setter are supported and works fine. The error i got could be a wrong message reported by `dotnet ef` command.

[2019-09-13 18:16] AsifulNobel commented on #7445
@smitpatel Can I take on this issue? Also should the following `Task.FromResult(0)` replaced be replaced as well, as the methods are returning non-generic `Task`?

https://github.com/aspnet/EntityFrameworkCore/blob/567a2e94d5a764c61ac2ddb364e9e74a356f0b75/src/EFCore.Relational/Storage/RelationalDatabaseCreator.cs#L94
https://github.com/aspnet/EntityFrameworkCore/blob/567a2e94d5a764c61ac2ddb364e9e7

[2019-09-13 18:19] smitpatel commented on #7445
@AsifulNobel - Go ahead. Yes, those methods should also be updated. I must have missed them in GitHub search.

[2019-09-13 18:43] Praveen-Rai commented on #17800
@smitpatel I just tried to search for the error message string in the Src, and could locate below messages in _\src\EFCore\Properties\CoreStrings.resx_ . Still couldn't recall which one i got.

- The navigation property '{navigation}' on the entity type '{entityType}' does not have a setter and no writable backing field was found or specified. Read-only collection navigation properties must be ini

[2019-09-13 18:44] TeaBeard commented on #16920
Preview 5 appears to have this functioning. Is there a reason it was removed in later work?

[2019-09-13 18:57] AndriySvyryd commented on #16920
@TeaBaerd The query pipeline had to be rewritten to remove the Relinq dependency

[2019-09-13 19:09] TeaBaerd commented on #16920
Bummer. Thank you for the explanation @AndriySvyryd.

[2019-09-13 19:12] AndriySvyryd commented on #16920
Don't forget to vote (👍) for the features that are most important for you so we can prioritize better.

[2019-09-13 19:33] AndriySvyryd commented on #17769
@Maci94 I cannot reproduce this. Please create a GitHub repo with a __runnable__ project.

[2019-09-13 20:07] regis-ranniere commented on #17493
Hello, I have the same problem.

The scenario is:
- Integration tests;
- Load the database into memory;
- This database has a number of migrations and one of these migrations creates a view where I select information from two tables;
- When I upload the server for testing using 'WebApplicationFactory' and send a command:
_context.ViewToSelectData.ToList () it throws the exception placed above;

My

[2019-09-13 20:15] AndriySvyryd commented on #17830
@kooshanabedian Please create a small runnable project that shows the issue.

[2019-09-13 20:29] pikausp commented on #1368
From looking at the notes and release schedule being in sync with .NET Core, is it safe to assume this won't be implemented before Nov 2020 for sure?

[2019-09-13 20:59] davisnw commented on #12045
I'm probably just missing something, but it's not clear to me what has actually been resolved here.  The pull request that closed this issue only adds tests, it doesn't show any changes to core code.

There is a claim that this is a dupe of #10861, but that is still open.

What is actually supported now with the close of this issue?

[2019-09-13 20:59] smitpatel commented on #17493
@regis-ranniere - InMemory database is not Sql database. You are executing SQL to create a database view and mapping your query type to view but all that has no meaning in InMemory and your entityType has no way to get data from server. You need to use defining query to map query types for InMemory database.

Also running ExecuteSqlCommand inside OnModelCreating should throw.

[2019-09-13 21:05] smitpatel commented on #12045
@davisnw - The bug report filed in first post has been fixed in 3.0 release. The attached PR only added test for regression. The fix has been part of larger query pipeline rewrite.

Nowhere this issue has been claimed as duplicate of #10861 in this issue. So that issue being open is irrelevant.

[2019-09-13 21:07] bricelam commented on #17740
I like it. We have a few other places where we enable composition using services called *plugin*s. This seems to be a good fit for the same pattern.

[2019-09-13 21:55] bricelam commented on #17804
Duplicate of #17270

[2019-09-13 22:01] smitpatel commented on #17804
It mentions the other way is default then what we have right now. (Currently defining query gets applied). Should we make "bug-fix"?

[2019-09-13 22:04] bricelam commented on #17824
These exceptions are being handled by EF. If I remember correctly, we are passing the exceptions to the ILogger which makes them look more serious than they are. I think we had an issue to stop doing this but I can't seem to find it. Possible #15269?

[2019-09-13 22:04] bricelam commented on #17824
Oops, wrong issue

[2019-09-13 22:06] #12456 closed

[2019-09-13 22:07] divega commented on #17743
Ah, I guess my intent was to ask @Menighin: what query exactly did you execute directly against the database? LIKE with a pattern that starts with a wildcard cannot take advantage of any index, but LIKE with a pattern that starts with a character can.

[2019-09-13 22:10] bricelam commented on #17826
Duplicate of #12911

[2019-09-13 22:18] divega opened #17836 "Consider making it unnecessary to call AsNoTracking() on queries that return owned entities without their owners"
Per [a decision we made for the 3.0 release](https://github.com/aspnet/EntityFrameworkCore/issues/13036), we require that queries that return owned entities without their owners are explicitly marked as non-tracking. If AsNoTracking() isn't included in the query, we throw.

Our reasoning was that the exception helps make the users aware that owned entities cannot be tracked without their owners, i

[2019-09-13 22:19] bricelam commented on #17804
Current way sounds correct to me

[2019-09-13 23:07] taori commented on #17740
How would this usually be implemented though in this case?

Overwriting the generator completely and providing this feature in an extensible way instead would always in some fashion break user code in order to work, no?

The possibilities it opens up are endless though.

[2019-09-13 23:23] CamSoper opened #17839 "Scaffold-DbContext with -ContextDir flag doesn't add namespace for models"
The database context generated by `Scaffold-DbContext` doesn't include any `using` directives pointing to the models that are generated when the DbContext is placed in a different folder using the `-ContextDir` flag.

### Steps to reproduce

1. Reverse engineer a database using the following command-line options:

[code]

2. Attempt to build.

3. Note that the build fails because the the entity mo

[2019-09-13 23:27] bricelam commented on #17740
We’d add a new service type like IMigrationsSqlGeneratorPlugin. You could add multiple of these. If the main generator didn’t handle an operation (or maybe before it tried to) it would see if there was a plug-in that could

[2019-09-14 01:19] AndriySvyryd opened #17845 "Don't expose ICurrentDbContext on QueryCompilationContextDependencies"
Only the type of the context is actually used

[2019-09-14 04:10] cyberknet opened #17847 "Scaffold-DbContext Is Generating Invalid Code When A Property With The Same Name As The Type Exists and Two Properties Use That Type"
Reverse engineering a SQL Server database using DataAnnotations will result in invalid code generated when a child table contains multiple foreign keys to the same parent table if one of the foreign keys will result in a member being created in the child entity with the same name as the generated parent type.

### Steps to reproduce
Create a database with two tables:
[code]

Scaffold the tables:
[

[2019-09-14 05:06] AndriySvyryd commented on #7445
Fixed in https://github.com/aspnet/EntityFrameworkCore/pull/17846/commits/7a00ca7d450987fb86b78b694ac63da6ae359803

[2019-09-14 05:06] #7445 closed

[2019-09-14 06:52] smitpatel commented on #17847
Related #16083
Seems like we missed this case.

[2019-09-14 09:02] mfitconsultants opened #17849 "add-migration preview 9 throwing System.TypeLoadException: Could not load type 'Microsoft.EntityFrameworkCore.Internal.ProductInfo'"
when trying to run the `add-migration` command in the PMC is throwing the following error;

 ---> System.TypeLoadException: Could not load type 'Microsoft.EntityFrameworkCore.Internal.ProductInfo' from assembly 'Microsoft.EntityFrameworkCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.
   at Microsoft.EntityFrameworkCore.Design.OperationExecutor..ctor(Object reportHandler,

[2019-09-14 10:24] smadurange commented on #17824
Since, eventually the migrations are applied, I guess it's kind of handled. However, it seems that multiple failed login attempts with the database server creates unexpected delays in applying migrations. For instance, one time, I saw 14 SQL exception being raised before the program could complete applying migrations.

This delay is causing some integration tests (that check if a service is up) is

[2019-09-14 13:43] iliev72 opened #17850 "Problem with Scaffolding & IBM.EntityFrameworkCore"
when i try to Scaffolding produced error
System.MissingMethodException: Method not found: 'Void Microsoft.EntityFrameworkCore.Scaffolding.Internal.CSharpDbContextGenerator..ctor(Microsoft.EntityFrameworkCore.Scaffolding.IScaffoldingProviderCodeGenerator, Microsoft.EntityFrameworkCore.Design.IAnnotationCodeGenerator, Microsoft.EntityFrameworkCore.Scaffolding.Internal.ICSharpUtilities)'.

at IBM.Ent

[2019-09-14 16:13] DrDave-M commented on #17847
(sorry if my post sucks, this is my first one...)

I'm getting this problem when the output-dir is "Models\Sql"
Base Namespace = "DrDave.Highmark"

`Scaffold-DbContext 'Data Source=**\SQL2014;Initial Catalog=Highmark;User ID=**;Password=**;' Microsoft.EntityFrameworkCore.SqlServer -context ApplicationDbContext -outputDir Models\Sql -ContextDir Data -force -DataAnnotations -UseDatabaseNames`

Ef co

[2019-09-14 16:40] laguer71 opened #17851 "Null Reference Exception when using HasData"
I have a quite complex project, with a separate migrations assembly, modular asp.net (orchard) project, database seeding and owned types.
I was able to generate migrations with ef core 2.2, but am not longer able to do it with ef core 3.
First thing I tried, after making it compile, was doing a migration, and got this stack trace

   at lambda_method(Closure , ValueBuffer )
   at Microsoft.EntityF

[2019-09-14 17:05] laguer71 commented on #17851
I issue this command in the PMC
add-migration -Project Albatros.Data.Migrations -StartupProject Albatros -Context ApplicationDbContext SomeNewMigrationWithEfCore3-verbose

[2019-09-14 19:17] dmarlow opened #17852 "Return entire entity in projection (select)"
Is it possible to return the entire entity in a projection or to only selectively get specific properties? If the latter, I guess this becomes a feature request since it's tedious to get every single property and have to keep that up-to-date.

### Steps to reproduce
The line: `Blog = x` causes an exception: `EF.Property called with wrong property name.`
[code]
## Stacktrace
[code]

### Further tec

[2019-09-14 19:43] divega opened #17853 "Restore ability to explicitly configure field name that differs from property name"
We made the decision that during EF Core 3.0 we would re-enable configuration like this, after breaking it in preview 4. From the [breaking change documentation](https://docs.microsoft.com/ef/core/what-is-new/ef-core-3.0/breaking-changes#field-only-property-names-should-match-the-field-name):

Unfortunately it seems we missed doing this before GA.

@AndriySvyryd I did a quick search to see if we a

[2019-09-14 19:46] AndriySvyryd commented on #17853
https://github.com/aspnet/EntityFrameworkCore/issues/15307

[2019-09-15 01:28] TehWardy commented on #1368
Whilst many to many relationships are supported (ish), it's not in the way we might expect, and the net result is when you want "like for like" functionality on your EF6 structure because frameworks like OData sat on top of it expect things to work that way and you don't want a huge client code refactor.

Here's the problem I ran in to ...

https://github.com/aspnet/EntityFrameworkCore/issues/1764

[2019-09-15 01:44] divega commented on #15307
We made the decision that during EF Core 3.0 we would re-enable configuration like this, after breaking it in preview 4. From the [breaking change documentation](https://docs.microsoft.com/ef/core/what-is-new/ef-core-3.0/breaking-changes#field-only-property-names-should-match-the-field-name):

Unfortunately we ended up punting this past 3.0.

[2019-09-15 01:45] divega commented on #17853
Closed as duplicate of #15307.

[2019-09-15 03:22] lauxjpn commented on #17389
I just stumbled across this bug while upgrading the Pomelo provider to 3.0 and was just about to suggest something like changing this line
https://github.com/aspnet/EntityFrameworkCore/blob/130fe39bed1c9351ba73a829aa14a6112108a6b2/src/EFCore.Relational/Query/ExpressionExtensions.cs#L16
into this
[code]
I will apply the `match` type mapping manually for now, but is the fix commit still making the 3

[2019-09-15 06:53] roji commented on #16492
Note: the traversals above can be avoided today via compiled queries, so this is a lower-priority area.

[2019-09-15 07:13] jcemoller commented on #17809
@Shane32 thanks, would've made a nice workaround, but unfortunately it renders the same invalid sql as SingleOrDefaultAsync or FirstOrDefaultAsync.

[2019-09-15 08:29] roji commented on #17721
Yep, I can see results coming in, thanks!

[2019-09-15 08:29] #17721 closed

[2019-09-15 09:23] roji commented on #17789
In PostgreSQL the closest thing would be to use [ILIKE](https://www.postgresql.org/docs/current/functions-matching.html), although you have to be careful with escape characters (%, _):

[code]

Can you please open an issue on https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL to translate `string.Contains(s, StringComparison.OrdinalIgnoreCase)`?

Other options include lower-casing bot

[2019-09-15 09:45] clement-fifty commented on #4711
Note that in my case, I have queries (View equivalent) and that doesn't seem to like this workaround, so I had to use the following :

[code]

[2019-09-15 15:55] lauxjpn opened #17854 "Set operation Visit() methods not called in all cases"
For "naked" set operations, `QuerySqlGenerator.VisitExcept()` and `QuerySqlGenerator.VisitIntersect()` are never getting called.
Tested with `SimpleQueryTestBase.Intersect()` on `release/3.0:5ee5829`.

https://github.com/aspnet/EntityFrameworkCore/blob/130fe39bed1c9351ba73a829aa14a6112108a6b2/src/EFCore.Relational/Query/QuerySqlGenerator.cs#L110-L118

Shouldn't `QuerySqlGenerator.VisitSelect()` re

[2019-09-15 17:00] Shane32 commented on #17791
This is quite simple to work around (and probably equally simple to fix in EF).  You need to use the ExpressionVisitor class to visit the child lambda expression body and replace all references to the parameter with the parent lambda expression's body.  Then create a new lambda expression with the new body and the parent expression's parameters.  Here's the class wrote for my project:

[code]

To

[2019-09-15 19:12] chuckconway commented on #17849
I have the same error with trying to scaffold my database for the first time.

`dotnet-ef dbcontext scaffold "Server=localhost;Database=Trust;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -o Schema`

[code]

[2019-09-15 19:55] Shane32 commented on #17794
Interesting.  It seems the cast to IOffer is causing the parse issue.

This works:
[code]

This doesn't work:
[code]

The expression generated by the generic function includes the cast.  It's certainly possible to write code to generate an expression by hand within the generic function that does not include the cast, although perhaps a bit complicated.

[2019-09-15 19:57] smitpatel commented on #17854
Each individual SetOperation is a table source so it appears as `FROM (….)` (or appropriate join syntax). But in case if the set operation is not composed over, that is it is just selecting columns from result of set operation without doing anything else then select from subquery is unnecessary. Hence we need to generate only inside of the parenthesis (without parenthesis of course), hence it uses

[2019-09-15 20:01] smitpatel commented on #17389
It will be part of 3.1 release.

[2019-09-16 00:48] frankbjr opened #17855 "Combining queries with a Union, then doing Includes and then ToList results in include being ignored."
I'm too much of a rook to know if this is intentional behavior or not, but I found it strange, so thought I would mention it.  I basically 'Union' three queries, then try to do an Include statement to pick up child records.  When I issue the ToList() command, EFCore emits in the debug log that it chose not to include my include statements as they weren't reachable.

### Steps to reproduce
[code]

[2019-09-16 03:54] luy710 opened #17856 "Include: The associated data in the query result is empty, select error is reported"
using (var context = new BloggingContext())
{
    var blogs = context.Blogs
        .Include(blog => blog.Posts)
        .ThenInclude(post => post.Author)
        .ThenInclude(author => author.Photo)
        .Select(Blogs => new BlogsItem{
            Name = Blogs.Posts.Author.Name
        });
}
假设 Blogs Posts Author为1对1关系
Name = Blogs.Posts.Author.Name 如果Blogs.Posts 为空 或者Blogs.Posts.Author为空会报错，这

[2019-09-16 06:49] danieltulp commented on #1368
@jzabroski

I never said EF core was superior to EF6 and I didn't make any assumptions, I merely pointed out that my opinion is that the drawbacks of the current EF core implementations are not a reason for me, not to go for .NET Core

[2019-09-16 06:57] lakeman opened #17857 "Value conversion causes exception when using FirstOrDefault()"
I'm trying to return details of a parent row & optional matching child row. Where the child row has an enum, saved to the database as a string.

Repro;
[code]

Exception;

[code]
Single(), SingleOrDefault() or First() don't hit above error.

EF Core version: 2.2.6
Database provider: SqlServer
Target framework: .NET Core 2.2

[2019-09-16 07:01] danieltulp commented on #1368
I am not familiar with an OData layer.
I always create my own Web API with a business logic layer.
My many-to-many approach is as the mentioned work around:

`public class Parent
{
	public int ParentId { get; set; }
	public string Name { get; set; }
	public int Age { get; set; }
	public ICollection<ParentByChild> ParentsByChildren { get; set; }
}

public class Child
{
	public int ChildId { get; se

[2019-09-16 07:25] Maci94 commented on #17769
i did more test on it and i found the snippets causes problem
View edit Post

[2019-09-16 07:36] Maci94 commented on #17769
uhm , sorry

[2019-09-16 08:06] TehWardy commented on #1368
@danieltulp That's not a solution to my problem, and is only one type of many to many join: imagine an entity that looks like this ...

[code]

... with EF Core in the state it's currently in this is not possible to construct even if i add a join table entity as I will always end up with 2 collections which results in confusing usage scenarios for the api layer consumer or the need to add in hacks

[2019-09-16 08:40] AlexChongMicrosoft commented on #13285
Hi, Micheal. How are you? Is there any progress?

[2019-09-16 08:51] fengshi19888 commented on #16400
if don't suppport the "row_num" for paging ,any other way to solve it besides upgrade database.
many company are still use "sqlserver 2008r2".

[2019-09-16 09:12] jcemoller commented on #17791
@Shane32 that's very useful, and seems to work like a charm. Thanks!

[2019-09-16 09:33] bogoslovskiy opened #17858 "Deadlock in DbContext.SaveChanges when the connection is open before the call and the transaction timeout has expired"
### Steps to reproduce

#### 1. Create table:
[code]
#### 2. C# object and CustomDbContext:
[code]
#### 3. Main.cs:
[code]

### Helpful info
HandleAmbientTransaction method call **this._semaphore.Wait()**, then subscribe to TransactionCompleted event, event add method call HandleTransactionCompleted where once again call **this._semaphore.Wait()**

### Further technical details

EF Core version: 2

[2019-09-16 12:31] lauxjpn opened #17860 "InExpression.Print() makes wrong assumption about Values property"
We came across this issue, which we resolved by changing our code to the new assumption, but it should be checked, if this breaking change was intended.

https://github.com/aspnet/EntityFrameworkCore/blob/130fe39bed1c9351ba73a829aa14a6112108a6b2/src/EFCore.Relational/Query/SqlExpressions/InExpression.cs#L55-L82

It is assumed here, that `constantValues` is an `IEnumerable<SomeClrType>`:

https://g

[2019-09-16 13:29] JoeGC1969 commented on #11367
This saved my day, thanks!

[2019-09-16 13:29] jzabroski commented on #1368
@TehWardy Hi Paul, I am running Visual Studio 2017 and 2019, and have zero performance issues.  Why don't you email me via my profile and we can discuss offline what performance problems you have.  The long and short of it is: Visual Studio now does a ton of stuff in background threads, which requires a lot of cores and a lot of memory.  The other thing is I don't do programming work on a laptop.

[2019-09-16 13:49] Angele commented on #1368
This is not a forum thread to discuss .net core vs .net. Also not to complain about your personal life, or to boast about which big company you have contact to or work for. (Sorry to hear you have stress and long working hours tough) Also not about developer workstations!

Fact is this missing feature leads to bad code from bad developers, lots of stories like the one from jzbroski and makes this

[2019-09-16 17:18] divega commented on #17799
Triage: We want to look at how we are deciding the precision of parameters.

[2019-09-16 17:34] luckyrat commented on #17849
The version of Microsoft.EntityFrameworkCore.Design needs to match Microsoft.EntityFrameworkCore and (I presume) the CLI.

Looks like that might already be the case for @mfitconsultants but perhaps it's worth doing a `dotnet restore` just in case the installed packages don't match that csproj file.

Once I had all versions matching, this error message went away for me. E.g.:

[code]

[2019-09-16 17:44] divega commented on #17804
Triage: We will assume the current behavior is correct for now. May revisit in #17270.

[2019-09-16 17:48] divega commented on #17817
Triage: We should avoid breaking changes in 3.1, but we are not sure this would be one.

[2019-09-16 17:51] divega commented on #17824
@smadurange could you please provide a repro, or at least some extract from the logs containing the exception?

[2019-09-16 17:52] jzabroski commented on #15732
Reached out to Marcin Zukowski at Snowflake to see if there is any progress here; awaiting his reply.

[2019-09-16 17:54] divega commented on #17828
Triage: The behavior observed is currently by design. You can opt out of immediate cascade behavior. We think it would be good to re-think if immediate cascading is the best default, but we can't change it now, so marking it as consider for next release.

[2019-09-16 18:07] divega commented on #17855
Triage: This works on 3.0. We don't have plans for improving it in previous versions.

[2019-09-16 18:07] #17855 closed

[2019-09-16 18:11] divega commented on #17857
@lakeman would you be able to test this in 3.0? We believe it is fixed.

[2019-09-16 18:15] divega commented on #17858
@bogoslovskiy could you try the repro with `SET READ_COMMITTED_SNAPSHOT ON`? This enables an implementation of read committed isolation level that performs less locks, and it is the default for databases EF Core creates, and also always on on Azure SQL DB.

[2019-09-16 19:07] realTeddy opened #17861 "Value conversion is ignored when using linq query language join syntax"
Value conversion is ignored when using linq query language join syntax. As a simple example take a look at the following code...

### Steps to reproduce
ModelBuilder...
[code]

Simple query code...
[code]

Generated SQL...
[code]

Exception:
[code]

### Workaround
await
            (from l in repository.Lenders
             join m in repository.Memberships on new { LenderId = (int?)l.Id, IsEnabled

[2019-09-16 19:12] bricelam commented on #17831
It's actually the & that's causing problems. I fixed what I could in our repo. It looks like there are additional failures now in some scripts from [dotnet/arcade](https://github.com/dotnet/arcade).

[2019-09-16 19:31] DRAirey1 opened #17863 "Code Generator doesn't emit '<auto-generated />' on files."
Build a project that includes and Entity Framework data model.
Go to the Package Manager Console
type 'add-migration InitialMigration'
two files are generated: **&lt;some long number&gt;_InitialMigration.cs** and **&lt;some long number&gt;_InitialMigration.Designer.cs**.  The designer file properly has the '&lt;autogenerated/&gt;' tag at the start and so the code analyzers skip those files.
The fi

[2019-09-16 19:38] facu-larocca-zenfolio opened #17864 "EF Core SQLite + NetTopologySuite error"
I actually working with an SQL Server DB that uses Spatial data, particularly IPoint.
When setting everything to use SQL Server everything works fine, but for testing purposes, I wanted to configure SQLite.

This is my configuration code:

[code]

Whatever operation I try to execute against the DB I am getting this error:

And this is the stack:

There is a pending question in StackOverflow pointi

[2019-09-16 19:44] realTeddy commented on #17861
Note: The query worked on EF Core 2.2.6 with no issue.

[2019-09-16 19:58] TehWardy commented on #1368
@jzabroski Yeh VS runs fine on a $2,000 workstation, try it on a $400 workstation, that said I agree with Angele that this is not the place to discuss VS performance, it was simply another piece of the frustration of dealing with .Net Core.

@Angele

Stating the fact of the business impact to us is none of that.

And bad code from good developers to work around the issues / missing features which

[2019-09-16 20:06] AndriySvyryd commented on #16188
Related to https://github.com/aspnet/EntityFrameworkCore/issues/16186

[2019-09-16 20:49] bachratyg commented on #17828
I'm not sure I follow you. This is not a problem with immediate cascade behavior in general, or that it is the default. The problem is with immediate cascade deleting non-related entities.

[2019-09-16 21:14] smitpatel commented on #17861
Probably some bug in generating join predicate.

[2019-09-16 21:17] bricelam commented on #17864
Could you share a project we can use to try and reproduce the issue? Are you on a 32-bit version of Windows?

[2019-09-16 21:17] smitpatel commented on #17860
In 3.0 release, the `InExpression.Values` is supposed to either SqlConstant or SqlParameter. And value of each is of IEnumerable.
SqlConstantExpression<IEnumerable<SqlConstantExpression<Type>>> is disallowed. All the values in Values should have same type mapping and there is no reason for inner values to have SqlConstant to specify different typeMapping.

[2019-09-16 21:20] #17831 closed

[2019-09-16 22:26] joschemd opened #17865 "Missing API net core 3.0 .WithMany (How to define many to many relationships using modelbuilder"
In EF6 you would define a many to many relationship as per MS documentation at: https://docs.microsoft.com/en-us/ef/ef6/modeling/code-first/fluent/relationships

There doesn't seem to be a work around or best practice to get the Navigation properties setup for this scenario

[code]

However in EF Core 3.0 you can only define a one to many as the API only seems to have WithOne() method exposed

###

[2019-09-17 00:15] AndriySvyryd opened #17874 "Rename Cosmos Metadata extensions"
GetPropertyName, SetPropertyName -> GetJsonPropertyName, SetJsonPropertyName

[2019-09-17 00:18] RKennedy9064 opened #17875 "Unable to map Entity to view"
### Description
I'm having trouble mapping an entity to a basic view using the new method described in 3.0. I've tried mapping it using different variations of Entity<>().ToView() and every time it gives me an invalid object name exception. I'm able to execute both of these queries correctly on my database.

[code]

Below are the different mappings I've tried. It can't seem to find object, regardl

[2019-09-17 00:58] #16923 closed

[2019-09-17 01:43] lakeman commented on #17857
Confirmed, that appears to work in 3.0-rc1. Any chance of a fix to 2.2?

[2019-09-17 01:57] luy710 commented on #17856
@divega
thank you very much.非常感谢您能回复我所遇到的问题。

.Net Framework4.7.2  、EF Core 2.2.4.0
实体
[code]
[code]

数据：
[code]
查询：
[code]

[2019-09-17 04:42] Psypher9 commented on #17875
The first line in your stack trace makes me wonder, are you sure your connection string is correct? I had just run into that problem the other day.

[2019-09-17 05:05] RKennedy9064 commented on #17875
@Psypher9 Wow thanks for the suggestion. That actually ended up being the issue. The old code I was using called UseEndpointRouting and then Use for custom middleware, so I kept the same order when switching to UseEndpoints. I guess in 3.0 you have to register the Use before UseEndpoints. Here is my original code and the working version in case anyone runs into this issue.

[code]

[2019-09-17 05:07] Psypher9 commented on #17875
Glad I could help!

[2019-09-17 06:13] AndriySvyryd commented on #17616
#### Description
The value of the partition key cannot be updated.
Embedded entities cannot be added to entities with partition keys.

#### Customer impact
Some of the common scenarios for entities with partition keys are blocked.

#### Regression
N/A, 3.0 will be the first RTM release for the Cosmos provider

#### Risk
Low

[2019-09-17 06:33] IvanZheng commented on #16188
@AndriySvyryd It works with "EF Core 3.0.0-rc1.19456.14" .  But Entry.Reload doesn't reload owned objects #16186 .

[2019-09-17 06:34] AndriySvyryd commented on #16188
Good to hear

[2019-09-17 06:34] #16188 closed

[2019-09-17 06:41] IvanZheng commented on #16186
@AndriySvyryd I think this issue still exists.  Please try the following steps:
1. load a entity from dbcontext and hold/suspend the thread processing.
2. Change owned object value in the database (mssql).
3. entry.reload(). I found the entity's owned object's values are not updated.

[2019-09-17 07:08] IgorMenshikov opened #17877 "HashSet<enum>.Contains could not be translated"
I have a quite simple table named Operation and class for it. It has a property named Type mapped to an enum:

[code]

I try to request all operations with a filter by type and other fields:
[code]

List of necessary types is stored at the HashSet<OperationType.Code> typeList variable.

On 2.2. this query works OK. On 3.0.0-rc1 it fails with an error:

[code]

If I change HashSet to List, the quer

[2019-09-17 07:27] rmja commented on #17592
@ajcvickers @bricelam Is it correct that this change is not included in rc1?

![image](https://user-images.githubusercontent.com/2112306/65020383-643d3780-d92d-11e9-89b0-a7a9cb9f57ac.png)

[2019-09-17 07:29] IgorMenshikov opened #17878 "The LINQ expression GroupByShaperExpression could not be translated"
At my .NET 2.2. application, I have a table named Operation mapped to a class.

It has a query:

[code]

On 2.2 this query works but on 3.0.0-rc1, it gives an exception:

[code]

I am not sure why the grouping fails.

Operation class is quite simple:

[code]

### Further technical details

EF Core version: 3.0.0-rc1.19456.14
Database provider: Microsoft.EntityFrameworkCore.SqlServer
Target framewo

[2019-09-17 07:48] smitpatel commented on #17878
Possibly same root cause as #17342

[2019-09-17 07:49] smitpatel commented on #17877
Possibly same root cause as #17342

[2019-09-17 07:49] windsOne commented on #17543
Please speed up this issues

[2019-09-17 07:51] smitpatel commented on #17592
@rmja - That is true. It will be included in 3.0 release.

[2019-09-17 08:46] Schaemelhout opened #17879 "Expression with value converter could not be translated"
I have created a value converter to store a list of strings as a semicolon-separated string and it looks like EF Core can't translate a LINQ expression to filter these and evaluates it locally.

Is this an example of what's stated in the [limitations section of the docs](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions#limitations)? Or is there another way for me to have EF tran

[2019-09-17 10:30] dsthode opened #17880 "Error CS0120 when scaffolding with data annotations from database tables, nameof operator"
I have scaffolded my database schema using data annotations and the code generated for certain entities gives the compilation error CS0120 when building, indicating an error with the arguments to the nameof operator in the InverseProperty attribute.

The following messages is given for each class:

Instead, when the database is scaffolded without data annotations the code generated compiles withou

[2019-09-17 11:15] dsthode opened #17881 "Missing using directive when scaffolding entities from database tables with --context-dir and -o arguments"
I'm generating the entities for my project scaffolding the tables from my database.

If I run the `dotnet-ef` command with the argument `--context-dir`, the generated DbContext file lacks the using directive to the namespace of the generated entities.

For example, running the following command in my project directory (say `c:\projects\dataaccess`)

`dotnet-ef dbcontext scaffold "server=...;databa

[2019-09-17 11:42] MurariAlex commented on #17877
`HashSet<T>.Contains` implements `ICollection<T>.Contains` so it really is the same root cause as #17342.

This is fixed on 3.1.0 by #17599.

[2019-09-17 12:28] IgorMenshikov commented on #17877
thanks for the information. will wait till 3.1.0 to try again.

[2019-09-17 12:30] IgorMenshikov commented on #17878
You are right. Thanks for the explanation.

[2019-09-17 12:47] thomasvt opened #17883 "ValueType property always "NULLable" in generated migration in polymorphism cases."
Hello,

I think I found a bug where a codefirst Required field ends up as a NULL-able in the generated migration and, thus, the database when it is a property of an inheriting class.

I have isolated a minimal case in the attached solution.

Note that I'm using .NET **framework** with Microsoft.EntityFrameworkCore 2.2.6 Nuget package (+ ~.SqlServer and ~.Tools packages)

If you look for property "

[2019-09-17 12:48] dsthode commented on #17880
Ok, I've found the problem.

The scaffolding created a `public virtual` property with the same name as the inverse relation class, in both clases.

Line 30 in decision_tree.cs:
[code]

And line 39 in decision_tree_node.cs.
[code]
Shouldn't this have been taken into account in the scaffolding process?

[2019-09-17 13:00] bogoslovskiy commented on #17858
@divega, thanks for your attention. Setting this option did not solve the problem.

[2019-09-17 13:00] smadurange commented on #17824
@divega If you just run the code sample I posted in my question, you will get that exception. It's a self-contained program. Or are you not getting that exception when you try to apply migrations using `Database.Migrate()` on a database that doesn't exist?

[2019-09-17 13:25] iamdroppy commented on #14040
I'm having the same issue, but with a non-nullable value.

var firstSelect = query.Select(s=>new {Quantity = ..., Requested = ...});
var secondSelect = query.Select(s=>new{Total = s.Quantity - s.Requested;})

Quantity and Requested are non nullable int, and the same exception happens. If I remove s.Requested it works.

I can't send the entire code now, which is company's, but later today I'll try

[2019-09-17 13:51] thomasvt commented on #17883
I realized these fields cannot be NOT NULL because of the inheritance sharing a single table. Other inheriting entities don't have those properties, so those columns must be NULL-able.

[2019-09-17 14:28] AndersMalmgren opened #17884 "Return a table"

[2019-09-17 14:39] AndersMalmgren opened #17885 "Return a table value parameter as a IQueryable"
Sometimes you have a large number of id's from a UI or from an external system. You want to query against these id's. The classic Where(entity => ids.Contains(entity.Id)) is very slow.

I would love to see a mechanic for getting data using table value parameters. A syntax like this or similar

[code]

Since it returns a IQueryable it could be used like this with good performance

[code]

The table

[2019-09-17 15:57] dgxhubbard opened #17886 "Query produces null exception but there are no nulls in the relationships"
We have a query that is producing a null reference exception:
"Object reference not set to an instance of an object".

An example of the query would be a car manufacturer, that must deliver cars to a dealership on a particular date.

public class Car
{
	public int CarId { get; set; }

	public string Model { get; set; }
	public string Color { get; set; }

	public int? CarActionDefId { get; set; }

[2019-09-17 16:07] dgxhubbard commented on #17886
We found the error in the original statement.

[2019-09-17 16:40] ibasin commented on #16188
Thank you!

[2019-09-17 16:48] bricelam commented on #17865
Join the fun over in #1368 😉

[2019-09-17 16:52] bricelam commented on #17881
Duplicate of #17839

[2019-09-17 16:55] bricelam commented on #17880
Duplicate of #17847

[2019-09-17 17:01] bricelam commented on #17863
Duplicate of #10203

What are the analyzer messages?

[2019-09-17 17:11] smitpatel commented on #17885
@divega to dedupe.

[2019-09-17 17:12] smitpatel commented on #14040
@iamdroppy - Which version of EF Core are you using?

[2019-09-17 17:16] DRAirey1 commented on #17863
5>Migrations\20190915204946_InitialMigration.cs(1,1,1,14): warning SA1200: Using directive should appear within a namespace declaration
5>Migrations\20190915204946_InitialMigration.cs(2,1,2,48): warning SA1200: Using directive should appear within a namespace declaration
5>Migrations\20190915204946_InitialMigration.cs(6,26,6,42): warning SA1601: Partial elements should be documented
5>Migrations\2

[2019-09-17 17:21] facu-larocca-zenfolio commented on #17864
@bricelam Thanks for your quick answer.
I tried to isolate the case and reproduce it in a separate repo, but I am not being able to do so, It just works fine, which puts me into a more complicated position.
I can't reproduce the bug in a separate repo and I can't share the repo cause it is a company's private repo.

Is there any log I can attach?

Thanks a lot!

[2019-09-17 17:21] smitpatel commented on #17824
@smadurange - I put your repro code in a console app and ran it. It only threw exception 2 times and both of them were handled. I am not able to see 14 occurrences.

@bricelam - Is 2 times expected for Migrate? EnsureCreated shows only once in logs.

[2019-09-17 17:25] smitpatel commented on #17857
@lakeman - Due to design limitations, this cannot be fixed for 2.2 release.

[2019-09-17 17:43] smitpatel commented on #17856
@luy710 - I tried to use above snippets to put together a repro but I am unable to see any failure.
There were also several issues in the snippets which makes it not compile at all. After fixing for those errors, it still did not reproduce for me. Here is the repro code I used. Please modify it to demonstrate the issue you are seeing.
[code]

[2019-09-17 17:47] ericsink commented on #17864
This error (which is likely unrelated to the main issue here) is probably because SQLitePCLRaw 2.x is not compatible with EF Core versions prior to 3.0.

[2019-09-17 18:02] smitpatel commented on #17809
@jcemoller - Thanks for all the details you sent over email. I am still processing it. The conversation happening here made me realize where is the bug. I am still to figure out a repro and investigate how to fix but the root cause to avoid the issue is around having Take on the top level query for your case. Hence doing FirstOrDefault fails (that put .Take(1)) & Take also fails. An efficient work

[2019-09-17 18:07] facu-larocca-zenfolio commented on #17864
@ericstj Ok, then ignore that comment. Does not make sense at all.
Thanks.

[2019-09-17 18:42] manvydasu commented on #17700
Hello @marcnet80
I've created repository, which shows how to reproduce this issue.
https://github.com/manvydasu/IsTemporary-issue-on-EF-core-17700-

Let me know if you can successfully reproduce it.

[2019-09-17 19:32] InteXX commented on #329
@nbelley

Could you elaborate? What do you do to accomplish this?

[2019-09-17 20:15] AndriySvyryd commented on #17828
@bachratyg The immediate cascade delete only does a local DetectChanges, that is it doesn't take into account any changes on the dependents. As another workaround you can call local DetectChanges on every dependent.
[code]

[2019-09-17 21:25] aherrick opened #17890 "Allow owned entities on a keyless entity type"
I have a simple view in my DB that is exposing some fields joined from multiple tables.

I'm able to map my view to my object similar to below:

[code]

MyDbView is an object similar to below.

[code]

Since the view has flattened the 2 Address fields into 6 fields (`OriginAddressName`, `OriginAddressCity`, etc.), I'd like to inflate them back to the object so `MyDbView` doesn't have to have a dir

[2019-09-17 21:50] smitpatel commented on #17890
@aherrick - Can you elaborate more exactly what are you trying to achieve? What is the view definition and what part is causing issue?

[2019-09-17 21:51] multco-malan commented on #17774
Hi All,
Discovered what was wrong with my configuration.
I had followed the steps here, https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#create-contained-database-users-in-your-database-mapped-to-azure-ad-identities
and created an AAD group created a contained SQL user utilizing this new AAD group.

I had created the contained SQL user using this sql:
`

[2019-09-17 22:01] multco-malan commented on #17774
For future reference I was also following along this tutorial in setting up my application:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#modify-aspnet-core

[2019-09-17 22:02] #17764 closed

[2019-09-17 22:02] #17302 closed

[2019-09-17 22:02] #17814 closed

[2019-09-17 22:13] bachratyg commented on #17828
I don't see any change if I declare the navigation on the principal entity and manipulate that:
[code]
In fact in this case the child is actually marked for deletion without even removing the old parent:
[code]
Same happens if I also add the dependent to principal navigation to the model and set that too (i.e. ```child.Parent = parent2```).

This works, but doesn't feel like the pit of success:
[c

[2019-09-17 23:20] AndriySvyryd commented on #17616
@NetGH I wasn't able to repro the issue for scenario one, perhaps it was already fixed.
Scenario two is not supported, partition key is immutable, we'll throw an error instead of failing silently.

[2019-09-17 23:30] aherrick commented on #17890
Let's pretend my view looked like the following:

[code]
I'd like to inflate this View into the `MyDbView` object.

[2019-09-18 00:21] smitpatel commented on #12570
Blocked on #16400

[2019-09-18 00:26] smitpatel opened #17896 "Cleanup nullable reference type issues in test infra"
Reference to dotnet/roslyn#31676

[2019-09-18 00:28] AndriySvyryd opened #17897 "Add convention type that runs when an entity becomes keyless"

[2019-09-18 00:51] bricelam commented on #17824
That vaguely rings a bell, but I should probably look again

[2019-09-18 00:54] bricelam commented on #17864
Do you have multiple projects? Try installing the mod_spatialite NuGet package into the main EXE project

[2019-09-18 01:10] divega commented on #13239
Updated my previous comment to reflect that client evaluation isn't an option anymore after 3.0.

[2019-09-18 01:12] divega commented on #17885
This is similar enough to https://github.com/aspnet/EntityFrameworkCore/issues/13239 to close as duplicate.

@AndersMalmgren it would be great if you could take a look at that issues and elaborate on any additional aspects you see missing, e.g. the convention for naming of tables types.

[2019-09-18 01:28] smitpatel commented on #17890
@aherrick - That is not possible. In EF each entityType maps to one database object. Same database object can be used for multiple entityTypes but you cannot specify a database object to materialize a graph of object.
The closest we have in backlog is #14525 which is about using result of FromSql to materialize whole graph. You can perhaps use it to do basic select from view.
Another alternative w

[2019-09-18 01:32] #12556 closed

[2019-09-18 01:32] #12761 closed

[2019-09-18 01:43] smitpatel commented on #13226
The issue in SqlServer, eating up the cast to generate wrong result has been fixed in 3.0 release.
The overflow error is related to SqlCE and that is not something we can fix in EF Core. (The new generated query in EF Core may avoid the error but EF Core 3.0 does not work with SqlCE due to netstandard2.1 tfm)

Closing this issue as external.

[2019-09-18 01:49] arturgromek opened #17901 "Entries being re-attached after disposing of dbcontext"
I am bulk inserting data into a sql server db. I add a few hundred records at a time, call SaveChanges, and dispose of the context. Then create a new Context to add the next few hundred.

After disposing and creating the new context, the change tracker tracks 0 entries, as expected. Upon adding the next first object to the new context with Update, the context picks up the previously added entries,

[2019-09-18 05:33] #12942 closed

[2019-09-18 06:24] 0xced commented on #13834
Haha, make it next year. 🤣

[2019-09-18 07:15] AndersMalmgren commented on #13239
I think the syntax should be more close to that of Set<TEntity>()

something along the lines of

[code]

By conventon EF could use a table value paramater type named `$"ef_core_{nameof(TEntity)}_tvp"` or similar

[2019-09-18 07:25] AndersMalmgren commented on #13239
If EF core eventually support insert / delete / update directly on IQueryables you could even do

[code]

If we extend the table value parameter mechanics to support custom entity types not just simple value types  we could even bulk insert with a crazy high level of performance. Something like.

[code]

Possibilities are endless  :D

[2019-09-18 07:31] AndersMalmgren commented on #17885
@divega I added some of my own ideas to that issue

[2019-09-18 07:50] stantoxt opened #17904 "How IMigrator to deal with migrations in multiple assemblies"
I want to apply migrations in different assemblies at app startup.
Can this method `Configure the migrations assembly: options.UseSqlServer(connectionString,x =>x.MigrationsAssembly("MyApp.Migrations"));`  achieve that？

[2019-09-18 09:36] markusschaber commented on #7424
The documentation should clearly state the workaround (pull the .Include()s out of the projection).

Additionally, how to generate the .Include for the `IEnumerable`s generated by GroupJoin or GroupBy?

[2019-09-18 10:15] luy710 commented on #17856
@smitpatel
非常感谢您
我一直以为是select里面由于Posts为空导致报错（可为空的对象必须具有一个值。）
我按照您的代码调试了下，完全没有问题
最终发现我犯了一个低级错误
public partial class Author
    {
        public string Id { get; set; }
        public string PostsId { get; set; }
        public int Name { get; set; }
    }
 public partial class BlogsItem
    {
        public int Name { get; set; }
    }
由于是int所以不能将null赋值给  BlogsItem Name

@divega @smitpatel  感谢两位帮助我

[2019-09-18 10:29] dandandandaann opened #17905 "Foreign Key string constraint failed"
I have an issue like this: https://github.com/aspnet/EntityFrameworkCore/issues/16875
Except that my Key is String which is supposed to be already nullable.

I have these classes:
[code]
The configuration is setting the key:
[code]

If I only create a new `Movement` with a `TransactionNumber` and save it I get a `SqliteException: SQLite Error 19: 'FOREIGN KEY constraint failed'.`. If a create both

[2019-09-18 10:48] aherrick commented on #17890
Hmm Thanks... I was hoping I could do something similar to below so I could just manually map the fields.

[code]

[2019-09-18 10:53] kierenj commented on #14762
Hi, I'm keen to understand the `propose-punt` label please? I understand Backlog means this is vaguely planned for the future. Am keen to see if a project in 3-6 months should go the EF Core / Cosmos route or not - understand you can't give a definitive on this feature but just so I can guess the odds :) Thanks

[2019-09-18 10:55] kierenj commented on #15473
We just reproduced this here - this exact error occurred when using the local Cosmos emulator, when the database was created (via the emulator), but no collection was in place.

Calling `_context.Database.EnsureExists()` (or was it `EnsureCreated`? I'm sure you know the one I mean) - then created the collection, and everything worked.

Using Fiddler, we were able to see that the server responded w

[2019-09-18 11:43] dazinator opened #17906 "Support shadow properties in fluent builder when defining Unique indexes"
My `User` entity has a shadow property for `TenantId`.
Typically a unique index is applied on `Username`, but in my case, I'd like the unique index to be applied on `Username` + `TenantId`

However I cannot think of how to achieve this. I have tried the following but `HasIndex` expects an anon object for which you can only use simple property access for its members - i.e the following is not valid

[2019-09-18 11:46] dazinator commented on #17906
Ah sorry I missed the overload that takes just the string property names. I'll try that and hope it honors shadow properties:

[code]

Will reopen if not.

[2019-09-18 12:27] GeraudFabien commented on #15497
My main problems is that i use SQLite as test DB and i want to create an empty schema using migration So it must be the same migration than mysql.

I'm looking for a temporary solution if you know one.

[2019-09-18 12:31] dazinator opened #17908 "How to override specific fluent configuration"
I am deriving a `DbContext` from this `IdentityDbContext` which as you can see, configures a Unique Index for role names:

https://github.com/aspnet/AspNetCore/blob/6e35229b015f0164c0876e2f6dc051409b1d1390/src/Identity/EntityFrameworkCore/src/IdentityDbContext.cs#L131

In my derived `DbContext` I want to keep the base model configuration - except I don't want to keep the Unique index because I don

[2019-09-18 12:46] dazinator commented on #17908
I ended up creating the following extension method to remove a particular index. But I feel there should be a way to clear any configuration for an entire entity so that it can be reconfigured from scratch perhaps.

The method I came up with after exploring the api briefly:

[code]

Usage:

[code]

[2019-09-18 13:19] hannan-m opened #17909 "Add-Migration NullReferenceException"
The database context generated by `Scaffold-DbContext`. After generating the context I moved all entity configurations in `OnModelCreating`  to separate config file implementing `IEntityTypeConfiguration<T>`.  `OnModelCreating` is like this now.

[code]

The same setup is working in EF Core **v2.2.6**.

### Steps to reproduce

`Add-Migration IntitialSchema`

### StackTrace
[code]

### Further tech

[2019-09-18 14:03] facu-larocca-zenfolio commented on #17864
Based on your recommendation what I did was to copy the content of `mod_spatialite\4.3.0.1\runtimes\win-x64\native` into the project's bin folder (`bin\Debug\netcoreapp2.2\win10-x64`), and that solved the issue.
Somehow, some library is trying to get some assemblies using a relative path.

Could this be a bug? If so, I would be glad to help you out solve it as I have the environment already in pla

[2019-09-18 14:53] smitpatel commented on #14762
@kierenj - We use `propose-punt` label for issues which we had planned for certain release but due to time constraints we ended up removing it from that release. Like this issue was planned for 3.0 but we had more work in 3.0 then what can be done in the time we got. So `propose-punt` label signifies that we consider this should be punted from 3.0 release. We go through such issues and decide if w

[2019-09-18 14:54] smitpatel commented on #17890
@aherrick - I also thought that is probably what you intend. But keyless entities cannot be principal end of relationship hence they cannot have owned entities.

[2019-09-18 15:24] danielkraut opened #17910 "SQLCipher with the upcoming EF Core version: 3.0.0"
I am in the process of updating our Microsoft.Data.Sqlite package, we are currently using **v2.0.0**. The transition to the official release **2.2.6** went smoothly, but I am considering delaying the update to use **v3.0.0** when it is released. But we are using the bundle_sqlitecipher (and adding `PRAGMA key` after opening a connection) to enable database encryption and I was not able to figure o

[2019-09-18 15:30] ericsink commented on #17910
With the 2.0 release, the package id for bundle_sqlcipher changed to bundle_e_sqlcipher:

https://www.nuget.org/packages/SQLitePCLRaw.bundle_e_sqlcipher/

[2019-09-18 15:55] Menighin commented on #17743
@divega I executed exactly the same `SELECT COUNT(*) ... `  (it's up there) EF Core has generated for me...
When I run it on SQL Server Management Studio it runs fast. When EF Core runs it, it times out.
Any ideas?

[2019-09-18 16:48] pmiddleton opened #17911 "3.0 Query Rearchitecture"
@smitpatel @ajcvickers

I just started digging into the new query architecture to start adding back in support for table valued functions.

I just have to say this architecture is a lot cleaner than the old Re-Linq based code.  Great job team!

[2019-09-18 17:17] bricelam opened #17913 "Tools: Dampen CommandExecuting log level"
We have code to dampen  CommandExecuted:

https://github.com/aspnet/EntityFrameworkCore/blob/b403b17b493cb96059bdc3ef01d184a0213293f2/src/EFCore.Design/Design/Internal/OperationLogger.cs#L66-L71

But it looks like this should be updated to CommandExecuting since it's at the Information level and CommandExecuted is already at Debug.

[2019-09-18 17:32] divega commented on #17699
@MohammadElKhatib could you please add @AndriySvyryd as well? He will take over investigating this issue.

[2019-09-18 17:36] #15332 closed

[2019-09-18 17:38] divega commented on #15332
Triage: We believe the experience will be what we need as soon as we RTM 3.0. We have added information on the NuGet issue that would fix the experience for future previews.

[2019-09-18 17:42] MohammadElKhatib commented on #17699
@divega just added Andriy
By the way i upgraded to core 2.6 and the issue looks disappeared.

[2019-09-18 17:45] divega commented on #13577
Triage: we consider this similar enough to close as duplicate of #11564.

[2019-09-18 17:47] codeoflin opened #17914 "Attribute to set the precision of a decimal column"
![image](https://user-images.githubusercontent.com/45932283/65172315-504b2000-da6a-11e9-9721-f6f661b89702.png)

I hope I can set the precision of decimal field like this in the future:
![image](https://user-images.githubusercontent.com/45932283/65172383-65c04a00-da6a-11e9-86f6-039dcc873365.png)

[2019-09-18 18:16] cwoolum opened #17916 "Unable to use DbFunction in 3.0"
I am trying to use `DatePart` in EfCore 3.0 but it seems to fail due to the `dbo` schema being prepended to the function name.

### Steps to reproduce

[code]

I always get the error `{"Cannot find either column \"dbo\" or the user-defined function or aggregate \"dbo.DatePart\", or the name is ambiguous."}` even though my definition shows an empty schema.

I would expect that the `DbFunctionAttrib

[2019-09-18 18:42] AndriySvyryd commented on #17699
@MohammadElKhatib Ok, then I am going to close this. If you happen to run into it again on 2.6 or 3.0 just leave a comment.

[2019-09-18 18:42] #17699 closed

[2019-09-18 19:07] smitpatel commented on #17914
Related to #10864

[2019-09-18 19:13] smitpatel commented on #16551
All questions are answered in https://github.com/aspnet/EntityFrameworkCore/issues/16551#issuecomment-510194919

For stored procedure, you have to create a keyless entity yourself for now. Support for scaffolding sproc see #15105

[2019-09-18 19:14] TomasHubelbauer opened #17917 "Could not load type IDbContextOptionsExtensionWithDebugInfo from EntityFrameworkCore"
I think I am able to reproduce closed #15192 in RC1.

`dotnet --version`: 3.0.100-rc1-014190

What I did:

- Scaffold a new .NET Core MVC app with individual account auth:
  `dotnet new mvc --auth Individual`
- Run the app using `dotnet run` and accept the self-signed certificate in the
  browser at https://localhost:5001
- Register, sign out, sign in and sign out again to test the database
- Remo

[2019-09-18 19:17] smitpatel commented on #14606
Nothing actionable on EF side. We need Order by to combine collection include results on client side so we cannot remove it. If we see user specified order by inside expression tree, we preserve it. If it is opaque to us like in raw SQL then we cannot do anything about it.

[2019-09-18 19:27] AndriySvyryd commented on #15411
Fixed in e17584c457a49c4dcd90fd5cf47cd3a61ae4db53

[2019-09-18 19:27] #15411 closed

[2019-09-18 19:29] smitpatel opened #17918 "SqlFragmentExpression needs public constructor"
Current constructor is internal and customers need to use it for custom translation of DbFunction.

Further, it may be useful to create some abstraction or helper methods to facilitate writing custom translation.

[2019-09-18 19:31] AndriySvyryd commented on #14145
This is mainly a duplicate of #2953

[2019-09-18 19:34] smitpatel commented on #17268
Removing milestone to discuss if we should do something for now or provide work-around to customer.
Current code would be
[code]

[2019-09-18 19:45] AndriySvyryd commented on #17917
@TomasHubelbauer You need to keep all dependencies at the same version, including `Microsoft.EntityFrameworkCore.InMemory`

[2019-09-18 19:49] TomasHubelbauer commented on #17917
Ah, I didn't realize `dotnet add package` will not install pre-release version. Wish the error message was better though.

[2019-09-18 19:50] bricelam commented on #6182
@ErikEJ I discussed this with the team, and we like the idea of re-using the existing DatabaseModel and IDatabaseModelFactory. We should also add something to DatabaseModelFactoryOptions to let providers know we only need the schemas and names of objects so they can optimize for perf if they need to.