[2017-06-13 10:12] darkengines commented on #3910
Any idea on the nightly release date?

[2017-06-13 10:16] StarpTech commented on #8837
Fixed forgot to `Include`  the entity in the query.

[2017-06-13 13:09] AdrienTorris commented on #7071
Same problem here ... I tried with _1.1.0-preview4-final_, _1.1.0-preview3-final_ and _1.1.0-preview4_ and the problem still occurs with VS 2015 Update 3.
Part of my project.json :
[code]

[2017-06-13 13:18] AdrienTorris commented on #7071
After some tests I had to use the old version _1.0.0-preview3_ and it did the job.

[2017-06-13 14:02] lucamorelli commented on #8821
I'm trying to use a CQRS like approach, separating the read/query part from the write/command part of the data access, so I can change the source and or destination of data if needed indipendently.
I would like to see if I can share a single dbcontext along all the request as usual, because most of the time it works fine, but in a few cases the logic becomes complex, and can't be sure that just on

[2017-06-13 14:09] marianosz opened #8838 "Use an EXE as Startup Assembly on EF.exe database update"
Trying to run migrations from the EF.exe tool on microsoft.entityframeworkcore.tools.dotnet 1.0.1 for net451, when the startup assembly is packed as an EXE (web app on ASP.NET Core with NET 461 as base FWK) , the tool doesn't work

This is the command that I'm running:

ef.exe database update --assembly .\Project.Entities.dll --startup-assembly .\Project.Web.exe  --context Project.Entities.DContex

[2017-06-13 14:54] bassebaba commented on #1368
- I'm on EF core 1.1.2.
- Using table structure from this example : https://docs.microsoft.com/en-us/ef/core/modeling/relationships#many-to-many
- Using database first with Scaffold-DbContext

I don't really get how one's supposed to add "Tags" to a "Post"
`var tag = new Tag { TagId = 5};
`
OK... now what? My post doesnt hold any sort of collection of tags... Only PostTags.
Do I manually have to c

[2017-06-13 15:19] ajcvickers commented on #3910
@darkengines Current plan of record on this is to put it on hold until post 2.0. There is still internal discussion around this whole area, so something could still happen before then, but at this point it seems unlikely,

[2017-06-13 15:32] ajcvickers commented on #8818
@caleblloyd Is this still only an issue with `dotnet ef...` commands, or in normal runtime scenarios as well? if the latter, could you post the stack trace?

[2017-06-13 15:56] bricelam commented on #8791
👍 Thanks for following up.

[2017-06-13 16:06] bricelam commented on #8838
Is it `Project.Web.exe` or `Project.Assembly.Web.exe`?

[2017-06-13 16:08] marianosz commented on #8838
Is Project.Web. I already edited the issue info.

[2017-06-13 16:11] bricelam commented on #8838
Do the [fusion logs](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer) give any additional information (e.g. where it's looking)?

[2017-06-13 16:14] marianosz commented on #8838
I will check and let you know later. Thanks.

[2017-06-13 16:19] uriah-ascend opened #8839 "Support Integrated Security (Trusted Connections) on Linux"
I have a requirement from our dbas that we use only trusted connections. We're trying to deploy our EF Core app to a debian docker container based on microsoft/aspnetcore:1.1.  Trusted connections do not appear to be supported in that environment unless I am missing something.

It is apparently possible with an ODBC driver on linux using the kinit tool:
https://docs.microsoft.com/en-us/sql/connect

[2017-06-13 16:28] ErikEJ commented on #8839
This is not a EF question, and look like it will be fixed in .NET Core 2.0 https://github.com/dotnet/corefx/issues/4198

[2017-06-13 16:32] bricelam opened #8840 "SQLite RevEng: Allow tables without a primary key"
If a table in SQLite doesn't have an explicit primary key, the implicit `rowid` column can be used to uniquely identify a row. We should map the `rowid` column to a property in this case.

[2017-06-13 16:35] uriah-ascend commented on #8839
Thanks @ErikEJ , apologies for the misreport.

[2017-06-13 16:40] robertmclaws commented on #8822
Does installing this package not solve the problem? https://www.nuget.org/packages/NETStandard.Library.NETFramework/2.0.0-preview1-25305-02

I had to put it into my .NET 4.6.X projects in order for .NET Standard 2.0 to work. I'm told it's just temporary for now, and the next release will slipstream it into MSBuild: https://github.com/dotnet/sdk/issues/1267

[2017-06-13 16:49] caleblloyd commented on #8818
@ajcvickers I guess the problem is we call `UseMySql` in this case but `AddEntityFrameworkCoreMySql` is not called.

I read https://github.com/aspnet/EntityFramework/issues/8328 and also read linked issues.  I can't find any good examples.  Do you guys have a good sample for SQL Server somewhere?  Specifically, I'd like to see examples for a .NET Core MVC App and a basic Console app.

This is goin

[2017-06-13 16:54] ajcvickers commented on #8818
@caleblloyd So are you saying that it only happens for dotnet ef commands? If so, @bricelam would be the best one to help.

With regard to the switch from ConfigureServices to BuildWebHost, that isn't something driven by the EF team, but rather by ASP.NET Core. @glennc or @DamianEdwards may have some guidance about migrating applications from the old pattern to the new.

[2017-06-13 16:59] caleblloyd commented on #8818
It also happens in basic console apps with no DI or `SerciceCollection`.

Did `UseMySql` or `UseSqlServer` used to implicitly configure services in 1.x? Basic console apps with no DI used to work without calling `AddEntityFrameworkXXX`

[2017-06-13 17:11] marianosz commented on #8838
There is no info on fuslogvw...

[2017-06-13 17:18] marianosz commented on #8838
*** Assembly Binder Log Entry  (6/13/2017 @ 14:13:11) ***

The operation failed.
Bind result: hr = 0x8007000b. An attempt was made to load a program with an incorrect format.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll
Running under executable  C:\Users\sanch\.nuget\packages\microsoft.entityframeworkcore.tools.dotnet\1.0.0\tools\net451\ef.exe
--- A detai

[2017-06-13 18:09] ajcvickers commented on #8818
Ultimately the `ApplyServices` method will be called on your OptionsExtension. That will cause the services to be registered in the internal service provider. Except in special cases, application code should not be calling the AddEntityFrameworkXxx methods directly--this was also the case for 1.x releases. The ASP.NET Core item templates stopped using a called to AddEntityFrameworkXxx prior to the

[2017-06-13 18:12] ajcvickers commented on #8818
@caleblloyd https://blog.oneunicorn.com/2016/11/03/implementing-a-provider-use-method-for-ef-core-1-1/ is probably the best reference. Some of this has changed for 2.0, but the concepts are still pretty much the same.

[2017-06-13 18:16] #8674 closed

[2017-06-13 18:57] #8679 closed

[2017-06-13 19:05] smitpatel commented on #1368
Single Tag
`post.PostTags.Add(new PostTag { Tag = tag });`
Multiple tags
`post.PostTags.AddRange(tags.Select(t => new PostTag { Tag = t }));`

To get tags for a post
`var tags = post.PostTags.Select(pt => pt.Tag);`

[2017-06-13 19:06] anpete commented on #8817
@Szmiglo I tried to repro this but have been unsuccessful so far. Would you be able to put together a small repro project for this?

[2017-06-13 19:25] divega commented on #8415
@anpete @AndriySvyryd should we close this issue as fixed then?

I wonder whether we should still track offloading ORDER BY from the server. Perhaps some benefit would be observable under load, but we don't have time to test it now.

[2017-06-13 19:31] anpete commented on #8415
@divega Agree, it's hard for me to imagine that there is no scenario where this doesn't show an improvement. There is also some benefit in just having simpler SQL.

[2017-06-13 19:35] AndriySvyryd commented on #8415
We should close this and track further optimization in separate issues when we find scenarios that need improvement.
While the SQL would be simpler client code would be much more complicated and could degrade overall performance in some scenarios.

[2017-06-13 19:36] smitpatel opened #8842 "Benchmarks: Rework Benchmark Infra"
`BenchmarkAttribute` is a `FactAttribute` but it is used on tests with parameters & alongwith `DataAttribute` like `BenchmarkVariation` which are generally used on `Theory`. As always xUnit does not like our mess and shows errors. 😝

This errors/warnings are explicitly disabled in csproj files at present. Rework this infrastructure and remove nowarns.

[2017-06-13 19:54] divega opened #8843 "Automatic eager loading of owned types"
(previously tracked as part of https://github.com/aspnet/EntityFramework/issues/2953)

Owned types currently don't get eager loaded automatically, i.e. you need to use `Include()` like with any other entity type. Early on we said we wanted the `Include()` call to be unnecessary and we devised that we would create an annotation in the model that marked navigation properties as "always include" and

[2017-06-13 19:58] ajcvickers commented on #8843
I won't be in triage tomorrow (if you guys still do it) but I'm good in principle with doing just the non-API work and the convention.

[2017-06-13 20:15] smitpatel commented on #8823
I tested the query with preview2 bits.
due to #8398 it throws error. Removing Includes from the query, the query works correctly.
It still sends 3 different queries but valid SQL.
The above exception is likely to be fixed during all refactoring happened inside query.

Few notes:
1. It sends multiple queries because you are materializing `Translate` in final projection inside anonymous type with or

[2017-06-13 20:15] #8823 closed

[2017-06-13 20:23] #8810 closed

[2017-06-13 21:25] MattWood21 opened #8846 "DbContext.SaveChangesAsync() Method Doesn't Adhere to CommandTimeout"
When using the DbContext.SaveChangesAsync() method, the resulting task does not adhere to the DbContext.Database.CommandTimeout value.

### Steps to reproduce
I have a very simple DbContext isntance which is created by Dependency Injection:

Startup.cs:
[code]
And a repository that uses the context, also in Startup.cs:
[code]
The repository receives the context via the constructor and adds results

[2017-06-13 21:30] AndriySvyryd commented on #8846
@Padagi Async operations need to be waited upon. Try the flowing
[code]

Note that in production code `AddResult` should return `Task<int>` that would be awaited on in turn.

[2017-06-13 21:33] jboeke opened #8847 "Delete Me"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2017-06-13 21:40] Padagi commented on #8846
@AndriySvyryd My apologies, I didn't think someone would look at this that quickly... I've updated the original issue with the EXACT code that we have in production today. It includes await and returns a Task<int>. I think I updated it while you were responding.

I just ran a quick test with SaveChangesAsync().Result, which runs the command synchronously anyway, but it still does not work. I tried

[2017-06-13 21:43] Padagi commented on #8846
Well I do have to note that the timeout is not 5 seconds in production, but it is the same exept for the timeout value just for debugging.

[2017-06-13 21:50] AndriySvyryd opened #8848 "Remove RelationalAnnotations.GetAnnotation(annotationName)"
It's the same as calling `metadata[annotationName]`. Probably a leftover of OMTRTA

[2017-06-13 21:57] divega opened #8849 "Update pipeline perf: Consider removing ORDER BY from MERGE-based batch insert path"
(originally tracked as part of https://github.com/aspnet/EntityFramework/issues/8415 and based on feedback from  https://www.brentozar.com/archive/2017/05/case-entity-framework-cores-odd-sql)

_@anpete wrote:_

Right now when using the MERGE batch update path, we perform a final ORDER BY on the server to retrieve the store gen'd values in the correct batch order. However, it could be that the valu

[2017-06-13 21:58] divega commented on #8415
Ok, created https://github.com/aspnet/EntityFramework/issues/8849 to track ORDER BY removal. Closing as fixed in preview2.

[2017-06-13 21:58] #8415 closed

[2017-06-13 22:00] anpete commented on #8223
@artsiomLikhachou Looking at this now. You should be able to workaround the issue by making the method static.

[2017-06-13 22:00] divega commented on #8469
@ajcvickers look like there is little left we can do here. Perhaps track as docs issue?

[2017-06-13 22:00] divega commented on #8444
Clearing up milestone to get the answer in triage.

[2017-06-13 22:20] Padagi commented on #8846
Closing because I decided to test with the SqlServer provider and this only happens with NpgSql provider and so it seems that it is provider specific. npgsql/Npgsql.EntityFrameworkCore.PostgreSQL#198

[2017-06-13 22:23] divega commented on #8813
@OpportunityLiu The [basic SQL Server example](https://docs.microsoft.com/en-us/sql/t-sql/statements/collations#a-specifying-collation-during-a-select) could look like this:

[code]

Yes, it should not be an extension method.

[2017-06-13 22:35] anpete commented on #8223
@artsiomLikhachou This issue should be fixed in 2.0.0-preview1, can you confirm?

[2017-06-13 22:58] ajcvickers commented on #8469
@divega Yeah, we need to make sure that the docs call out that the method is obsolete.

[2017-06-13 23:01] #8783 closed

[2017-06-13 23:24] smitpatel commented on #8642
I have seen this error happening on travis once or twice. I tried to reproduce this locally.
I have been running SQLite.FunctionalTests in a loop on my Ubuntu VM for last 5h. I am still not getting error locally.

There is nothing we can do if we cannot get the error locally or sufficient log data from remote machine.
Clearing milestone for re-triage, this may be flaky but unless the test running

[2017-06-13 23:26] BrennanConroy commented on #8642
Try running it on one of our machines that it fails on. It happens very frequently.
________________________________
From: Smit Patel <notifications@github.com>
Sent: Tuesday, June 13, 2017 4:25:08 PM
To: aspnet/EntityFramework
Cc: Brennan Conroy; Author
Subject: Re: [aspnet/EntityFramework] SqlLite.FunctionalTests sometimes fail on Ubuntu (#8642)

I have seen this error happening on travis once o

[2017-06-13 23:47] smitpatel commented on #8642
@ryanbrandenburg

[2017-06-14 00:06] #8538 closed

[2017-06-14 00:09] smitpatel commented on #8591
Generated SQL
[code]
fixed by #7554

[2017-06-14 00:09] #8591 closed

[2017-06-14 03:05] anpete commented on #8842
Even better, lets start using [BenchmarkDotNet](http://benchmarkdotnet.org/)

[2017-06-14 03:33] divega commented on #8813
For columns it is apparently already possible to append the collation to the store type. For database we should have a separate feature.

[2017-06-14 07:42] bassebaba commented on #1368
@smitpatel  Ok thanks. So unless this issue gets implemented, there's no "cleaner" solution?

I.e: at the current state the "code" / "application" needs to "know about" , and navigate thru "PostTags". That's really really cluttered in my opinion.

Also, Scaffold-DbContext creates "Post" as this:
[code]

ICollection has no "AddRange"...

I tried stuff like this:
[code]
But that gives me errors on i

[2017-06-14 09:49] fogzot opened #8852 "Support legacy code layout"
A lot of projects in the wild have two characteristics that create a lot of attrition while porting them to .NET Core and EF:

  1. the directory structure can be different from the classic NS/SUBNS;
  2. a database already exists, so scaffolding the entities using the `ef` tool is almost mandatory.

Specifically, `ef` infers the namespaces from the project structure and while this is good and eas

[2017-06-14 10:38] ErikEJ commented on #8852
Have you tried my GUI tool, it allows you to set the default namespace. https://twitter.com/ErikEJ/status/834452863380250624

[2017-06-14 10:48] fogzot commented on #8852
@ErikEJ no, I didn't know about it and I'll surely have a look. But I was thinking about different backends (we use at least 3: SQLite, PostgreSQL via Npgsql and MS-SQL) on different platforms using only command line tools (no UI). I think this is a little bit different from what you're proposing. In the end, EF Core is very good but trying to use it in a workflow with legacy code/database-first s

[2017-06-14 15:03] ntimmerman commented on #4693
+1, I would like to use this in the very near future for a new enterprise doc automation app that requires an audit history on every screen. Does anyone have any more information about the work around's for now?

[2017-06-14 15:20] wgutierrezr commented on #4875
Hi, I'm using EF Core 1.1.2

[2017-06-14 16:40] bricelam commented on #8838
Ah, it looks like your assembly is 32-bit. Try using `ef.x86.exe` instead.

[2017-06-14 17:08] smitpatel commented on #4108
Also discuss about `DateTimeOffset` functions.
According to @bricelam

[2017-06-14 17:12] bricelam commented on #4108
Personally, I don't think we should translate any `DateTimeOffset` methods.
I'm also on the fence about whether we should translate `DateTime` methods that would be lossy.

[2017-06-14 17:16] marianosz commented on #8838
Is working! I cant believe how I miss that, I was sure that was compiling to x64. Thanks for your help!

[2017-06-14 17:24] bricelam opened #8853 "RevEng: Clean up internal code"
A few ideas:
- [ ] Move checks for default constraint names in CSharpDbContextGenerator to ScaffoldingModelFactory
- [ ] Better variable and parameter names
- [x] Rename ModelScaffolder to ReverseEngineeringScaffolder OR merge it into DatabaseOperations
- [x] Decouple RelationalScaffoldingModelFactory from IDatabaseModelFactory
- [ ] Use resources (issue #8599)
- [x] Clean up IModel annotations (i

[2017-06-14 18:17] wgutierrezr commented on #4875
This is the action where I get the data from the DB. I am sorting the resulting query.
`        public async Task<IActionResult> Index(string sortField, string searchString, string CurrentSortField, string sortOrder, int? page, int? roleid)
        {
            bool descending = false;

            // check if null then take the first role on the table order alphabetically
            roleid = ro

[2017-06-14 20:03] Eilon commented on #8714
Do we need to move this to the 2.0.0 milestone?

[2017-06-14 20:03] Eilon commented on #8714
cc @ajcvickers

[2017-06-14 20:17] dapalmi opened #8855 "Environment based connection string with Docker support and Code-First Migration"
I have a ASP.NET Core app with Docker support and following service configuration in the `Startup.cs`:

[code]

I set the connection string in the `docker-compose.override.yml`:
[code]

It works fine when I just start the app via Docker. And in Debugger I can see that the `connectionString `variable got the right connection String.

But when I try to run `Add-Migration InitialCreate` I get an `Arg

[2017-06-14 20:31] lajones commented on #6018
@ajcvickers @smitpatel @bricelam @divega Do we need to design this? I was getting going on a simple boolean flag `--use-database-names` which would switch this on. But do we want to consider a future where users can e.g. name a `CandidateNamingService` which we then search the project for? Even if we don't do the search right now it might argue for a `--use-naming-service [service_name]` flag inst

[2017-06-14 20:38] divega commented on #8855
@dapalmi the default ASP.NET Core templates are structured to make it easy to pull such application configuration data as connection strings from alternative sources: instead of calling `Environment.GetEnvironmentVariable()` make sure you are calling `AddEnvironmentVariables()` on the `ConfigurationBuilder`. Then you can change the code in `AddDbContext()` to be:

[code]
Now it should be easy to s

[2017-06-14 21:26] smitpatel opened #8856 "Revert: Check for null constructor in NewExpression while computing hash code"
Revert #8854 based on outcome of https://github.com/dotnet/corefx/issues/21060

If the ET generated in this case is correct then we should have null check. If it is incorrect then once corefx fixes it we should remove null check.

[2017-06-14 21:38] MattWhilden commented on #8461
Yep. That's a real crash in the compiler. I've opened an issue in our internal tracker to get someone to dig into it. The number (in case anyone asks) is 404378. I'm jumping on a plane in an hour so I won't have time to wrestle with it myself. I'll make sure someone can investigate in my stead.

[2017-06-14 21:38] GiorgioG opened #8857 "Add-Migrations (and EF runtime) fails when a base entity class has more than 1 nav property of the same type (using shadow properties)"
When a base entity class has more than one nav property of the same type, Add-Migrations will fail with the following error:

Exception message:
System.InvalidOperationException: The child/dependent side could not be determined for the one-to-one relationship that was detected between 'User.UserCreatedBy' and 'User.UserLastModifiedBy'. To identify the child/dependent side of the relationship, conf

[2017-06-14 22:06] divega commented on #6018
@lajones can we bring this to the design meeting tomorrow?

On first thought I like the idea of adding a very simple flag that maps directly to what seems to be a common need, e.g. `--no-pascal-case`.

Bringing your own naming service already requires coding the service (or at least installing a NuGet package containing it), so I think it might be ok for that scenario to always require some tinker

[2017-06-14 23:50] michaelaird commented on #626
hey @sidshetye , I don't know if you ship commercial software for a living, but I do. And I aim to get things into releases all the time that get re-prioritized by the business and other things that are more important get pulled in ahead. It drives me crazy, as I'm sure it does to the EF team, when I don't have enough hours in the day to deliver all the features that I know my users want.

Let's s

[2017-06-15 00:51] caleblloyd commented on #8818
When the DBContext is configured in `Startup.cs` in the `ConfigureServices` function for a .NET MVC app, using a call to `services.AddDbContext<AppDb>`, everything works fine.  [Here is the configuration that works](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/da21634afa4fcd1dfc403223fec538730b44c712/test/EFCore.MySql.FunctionalTests/Startup.cs#L57-L60)

When the DBCon

[2017-06-15 01:09] ajcvickers commented on #8469
Closing this based on these methods not being obsolete anymore. https://github.com/aspnet/Logging/issues/616

[2017-06-15 01:17] ajcvickers commented on #8857
@GiorgioG You will need to configure the two relationships using the APIs described in the documentation link included in the exception message.

[2017-06-15 01:23] GiorgioG commented on #8857
@ajcvickers my model does not have corresponding FK Id fields, so it’s not possible.  Why does it work for one property but not two, and why does it only appear to fail when I’m using a base class.  This seems like a bug and not a user error.

[2017-06-15 01:36] ajcvickers commented on #8857
@GiorgioG Agreed that the documentation doesn't look clear on this. We'll try to resolve that.

You will need to do something like:
[code]
I think that's all you should need, assuming you want one-to-many relationships and you want to continue using shadow-state FKs.

[2017-06-15 02:12] GiorgioG commented on #8857
@ajcvickers Thank you! - so much for not being a user error ;)

[2017-06-15 02:37] singlewind opened #8860 "On linux, binding failed because of Invalid object name"
On windows, it doesn't have any issue. Only on linux, the sql generation works. Failed when calling ToListAsync. The database name doesn't have issue because it works on windows and it happened after fetch the data. I have similar entity with integer as id which works. I will try to change another EntityName

[code]

### Steps to reproduce

[code]

### Further technical details
EF Core version: Mi

[2017-06-15 03:39] singlewind commented on #8860
This can be closed. I found the issue. It wasn't a bug

[2017-06-15 05:38] ajcvickers commented on #8857
Re-opening to keep the docs issue on the radar.

[2017-06-15 07:08] darkengines commented on #3910
Thanks for your reply, I ask because I see @maumar work.

[2017-06-15 09:58] pray1997 commented on #4693
+1

We need it too!

Or is.there any workaround, maybe something like intercepting?

[2017-06-15 10:14] fschlaef opened #8862 "[1.1.2] The multi-part identifier "ts.Id" could not be bound"
The following code :

[code]

Produces the following SQL :

[code]

Of course, since [ts] does not exist, the exception is thrown :

   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean async

[2017-06-15 10:44] dazinator commented on #626
@michaelaird I agree, however negative feedback is as important as positive feedback and both kinds are better than no feedback at all. If you aren't getting any feedback it usually means no one cares! What you are witnessing is someone who cares enough about EF to express their dissapointment over an issue and I think it's perfectly valid and even useful for the EF team to hear that. Any attempt

[2017-06-15 13:59] wgutierrezr commented on #7375
I have the same issue.
`            var ret = _context.AppProgramMenus.Where(p =>
                    p.Active == true &&
                    (p.Program.Title.Contains(searchString) || p.Menu.Title.Contains(searchString)))
                    .Select(p =>
                        new RolMenuProgram
                        {
                            Id = p.ProgramMenuId,

[2017-06-15 14:17] jnm2 commented on #7375
@wgutierrezr It means you're trying to do two database operations at the same time. It's your job to make sure that doesn't happen. If you need to overlap database calls, you need two DbContexts.

[2017-06-15 14:30] wgutierrezr commented on #7375
Hi, Using two context I had the same issue.

[2017-06-15 14:39] jnm2 commented on #7375
@wgutierrezr Oh, I see your problem. While you're trying to load data from `_context` via `_context.AppProgramMenus.Where(...).Select(...)`, at the same time you're trying to load data from `_context` by calling the `GetCRUD` method during the `.Select(...)` for the first data load.

You need to change your first query from
`_context.AppProgramMenus.Where(...).Select(...)` to <code>_context.AppPro

[2017-06-15 16:31] ajcvickers opened #8863 "Validate keys are not configured as AddOrUpdate/Computed"
Keys cannot change once the entity has been saved. This means any configuration designed to update the value after the entity has been saved is incompatible with the definition of the key. We should add a rule to model validation to check this.

[2017-06-15 16:44] ajcvickers commented on #7375
@divega @anpete Should we try to make this work? It's not multiple threads, but rather one query that has calls that are (I assume) funcletized and themselves execute queries.

[2017-06-15 17:53] mgallig commented on #4373
I'm still having this issue and have resorted to a bunch of workarounds to get my contexts to not share. I'm running xunit with a class fixture and separate dbcontext per class, no parallelization, and I still get the same context amongst all of my testserver instances.

[2017-06-15 18:42] ajcvickers commented on #8305
Design meeting notes:
* We will not attempt to make the context completely thread-safe since there is too much complexity in the implementation and the extra overhead for the normal single-threaded use may be too much.
* @ajcvickers to propose other places to add the check. It doesn't need to be added everywhere, but we want to add in places where it is likely to get hit so that apps will more lik

[2017-06-15 18:46] #8239 closed

[2017-06-15 19:22] AndriySvyryd opened #8864 "Query: Nested and outer query results are tracked separately"
This results in different instances returned for the same entity:
[code]

[2017-06-15 19:26] cdwaddell commented on #7937
@bassebaba sure. Basically, I did the same thing that the other IQueryable extensions did in a custom IQueryable extension.
[code]
To use this, you change
```myquery.AsNoTracking()```
To
```myquery.AsGatedNoTracking()```

-- Daniel

[2017-06-15 20:07] smithaitufe commented on #8499
Please what is the namespace for this: IDesignTimeDbContextFactory in dotnet core.

[2017-06-15 20:10] smithaitufe commented on #6743
I don't know the package that contains IDesignTimeDbContextFactory? I can't find. I have installed Microsoft.EntityFrameworkCore.Design package and yet I can't find it

[2017-06-15 20:13] bricelam commented on #8499
Microsoft.EntityFrameworkCore.Design namespace in the Microsoft.EntityFrameworkCore assembly/package.

[2017-06-15 20:21] jayslife opened #8866 "Access Model Relationships at runtime"
I am looking to access the EF Model relationships via my dbcontext and currently don't see a way to accomplish this.

I know that i have access to this type of information during OnModelCreating via the ModelBuilder, because we are currently able disable cascade deleting any persons by gaining access to all foreign keys. ex.

`foreach (var relationship in modelBuilder.Model.FindEntityType(typeof(P

[2017-06-15 20:25] lajones commented on #6018
Discussed in design mtg today. Outcome: we will use the simple boolean flag `--use-database-names` with no argument. It will imply a) that the candidate name we use will be just the database name as it was passed to us, and b) that we should make no attempt to pluralize/singularize names as we currently do.

There was also the suggestion that we move the existing singularize/pluralize step to _bef

[2017-06-15 20:31] ajcvickers commented on #8866
@jayslife DbContext.Model?

[2017-06-15 20:41] jayslife commented on #8866
Thank you @ajcvickers, this must have been the easiest ticket all day....lol! Not sure how I missed that.

Thank you for your help!

[2017-06-15 20:43] ajcvickers commented on #8818
@caleblloyd So I cloned and built the dev branch, but I get this exception when attempting to use with EF Core 2.0 dev branch.
![image](https://user-images.githubusercontent.com/1430078/27200906-778db80a-51d0-11e7-8244-0170e39ee066.png)

Is there some other branch I should be pulling?

[2017-06-15 20:50] #8714 closed

[2017-06-15 21:15] caleblloyd commented on #8818
@ajcvickers no, the `dev` branch is correct.  I'm not sure why it's referring to the assembly `Pomelo.EntityFrameworkCore.MySql, Version=1.1.1.0` in your screenshot.  I [upped the Version Prefix](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/dev/src/EFCore.MySql/EFCore.MySql.csproj#L4) to 2.0.0 on `dev`.

[2017-06-15 21:44] smithaitufe commented on #8499
@bricelam Sorry to bother you. But it is not working. Here is my .csproj dependencies

[code]
I did `dotnet restore ` and tried `dotnet build` then I got the following errors

[code]

[2017-06-15 21:54] ajcvickers commented on #8818
@caleblloyd Oops. Looks like I was using master by mistake. Let me try again.

[2017-06-15 22:27] divega opened #8870 "DbContextModelSnapshot cannot be updated because it is readonly when using TFS"
(From https://developercommunity.visualstudio.com/content/problem/47317/entity-framework-7-code-first-migration-issue-when.html)

Use a .Net Core solution under source control ( Team Services) -In package Manager console, add-migration without checking out DbContextModelSnapshot.cs -After the migrations script are created, DbContextModelSnapshot.cs cannot be updated because is read-only. What I ex

[2017-06-15 23:26] maumar opened #8871 "Query/DT: Including collection navigation on owned type doesnt work"
repro:

[code]

on model creating:
[code]
query:
[code]

exception:

[code]

[2017-06-15 23:39] sidshetye commented on #626
@michaelaird Yes, I ship commercially. Including security and voice for 60% of all mobile phones - globally. Code that defined "carrier grade". But making this about me is a distraction - the observation stands even if I personally never shipped a single line of code.

Since we're quickly off topic now, I'll get back with the following suggestions to the EF team:

1. If I've offended anyone on the

[2017-06-16 00:21] AndriySvyryd commented on #8305
Also the concurrency detector doesn't fire reliably on `.First()`, see the `Throws_on_concurrent_query_first()` test.

[2017-06-16 00:58] ajcvickers commented on #8818
@caleblloyd So I found one problem. This line:
[code]
means that a singleton service is indirectly depending on a scoped service. If the provider needs to change the lifetime of a service, then it will need to do the registration in the TryAddProviderSpecificServices section:
[code]
This should only be done with extreme caution since it may have cascading effects on other services. For example, an

[2017-06-16 01:10] caleblloyd commented on #8818
It's really meant to be the other way around- the scoped service depends on the Singleton service.

The scoped type mapper takes into account the MySql server version and connection string options and changes some type mappings. Since an application may have multiple different databases we've made it scoped. [Here is the class](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/b

[2017-06-16 04:54] zlstringham opened #8872 "Implement Basic Dispose Pattern"
The current implementation of `IDisposable` objects do not follow the [Basic Dispose Pattern](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/dispose-pattern#basic-dispose-pattern). This is particularly important because classes (such as `DbContext`) are _not_ `sealed`, and may be inherited from. If derived classes also need to implement `Dispose()` logic, the standard paradigm

[2017-06-16 04:56] smitpatel commented on #8499
@smithaitufe - This is fixed in preview2 bits. Not in preview1.
For Preview1 use `IDbContextFactory` in `Microsoft.EntityFrameworkCore.Infrastructure` namespace

[2017-06-16 05:28] smithaitufe opened #8873 "No DbContext was found in assembly 'Library.Web'. Ensure that you're using the correct assembly and that the type is ne ither abstract nor generic"
I have been struggling with this for a while now.

I have a solution that contains four projects.

Here is the github repository.

https://github.com/smithaitufe/library

I want to be able to create Migrations in Library.Web. The Library.Web project uses Library.Core and Library.Repo projects.

The connection string is defined in Library.Web.

But whenever I run dotnet ef migrations add Initial, I

[2017-06-16 05:33] smithaitufe commented on #8499
@smitpatel @bricelam Please can you look into this issue. It contains a link to a sample repository in my github account.

https://github.com/aspnet/EntityFramework/issues/8873#issue-236383505

Please this problem has been on for almost a week and yet I can't resolve it.

If preview2 will help to solve it. tell me how to upgrade to preview2. I can't find it in [here](https://www.microsoft.com/net/

[2017-06-16 06:44] day01 opened #8874 "ComplexType preview1"
I am trying to add complexType (as a value type) to my entity. I am generating migration and in migration:
[code]

### Steps to reproduce
[code]

[code]

[code]

Is it correct behavior or my configuration is wrong?
I expected complexType properties will be in the same table sth like Modified__UserId column.

### Further technical details
EF Core version: 2.0.0-preview1-final
Database Provider: Pos

[2017-06-16 09:11] Wain123 opened #8875 "Context.Entry() doesn't return the same EntityEntry when called twice"
`Context.Entry(this)==Context.Entry(this)`
Returns false. I'm not sure if this is working as intended - the documentation doesn't mention anything about it, and I don't see why it wouldn't return the same instance.

[2017-06-16 12:10] atagirov opened #8876 "HasOptional method from EF6.x analog for One-to-Zero or One relation"
I have 2 table: person and person_address. If for person exists address, i have row in person_address (i don't have additional column in person for describe this). This is one - to - zero or one relation how I understand.

Can I configure this type of relation in ef core? And if i can't, would be this added in future?

[code]

I expected SQL Query like this:

[code]

If I try configure relation li

[2017-06-16 13:15] kakone commented on #2266
I'm really curious to know the reasons to consider class table inheritance (or TPT) like an antipattern. You can use TPH, TPC or TPT, each on of them has its pros and cons. I think these three basic inheritance mapping strategies should be implemented. If you want to use an ORM on an existing database that uses TPT, it's difficult to choose EF Core because of this lack.

[2017-06-16 13:53] Padmanaabhah commented on #4497
Try the following steps:

1) Remove all Microsoft.EntityFrameworkCore.Tools references from dependencies and tools sections inside a project.json

2) Close Package Manager Console (PMC) and restart Visual Studio

3) Add under dependencies section:

 "Microsoft.EntityFrameworkCore.Tools": {
  "version": "1.0.0-preview2-final",
  "type": "build"
 }
4) Add under tools section

"Microsoft.EntityFramew

[2017-06-16 13:53] Padmanaabhah commented on #1196
Try the following steps:

1) Remove all Microsoft.EntityFrameworkCore.Tools references from dependencies and tools sections inside a project.json

2) Close Package Manager Console (PMC) and restart Visual Studio

3) Add under dependencies section:

 "Microsoft.EntityFrameworkCore.Tools": {
  "version": "1.0.0-preview2-final",
  "type": "build"
 }
4) Add under tools section

"Microsoft.EntityFramew

[2017-06-16 14:26] smitpatel commented on #8876
In EFCore, all principal to dependent navigation are optional. So in your case `Person` may not have corresponding row in `PersonAddress` table making it one to zero/one relationship though we call just one-to-one.

With model like above, by convention can create a perfect one-to-one relation because `Person` has reference navigation to `PersonAddress` and `PersonAddress` has property named `Perso

[2017-06-16 14:27] fschlaef commented on #8862
I've pieced together a standalone repro. I am by no means an expert, so this is probably not the minimal amount of code required to trigger this bug, but it works.

This bug looks related to how Count() and ToList() interacts. This bug also triggers for Any(), but not Max() or Min() (at least not in this code).

[code]

[2017-06-16 14:40] smitpatel commented on #8862
I tried running above repro code. No exceptions. All query passed. EFCore.SqlServer version 1.1.2

[2017-06-16 15:24] fschlaef commented on #8862
I ran the repro against another server, exception still thrown.

I tested with SQL Server 2016 (13.0.4422) and SQL Server 2014 (12.0.5540) with success, both on Windows Server 2012 R2.

Any idea on what I should test on / what to change ?

[2017-06-16 15:38] ajcvickers commented on #8872
@zlstringham Can you describe what you are attempting to do that is not working? Or even what you might hypothetically want to do that won't work?

[2017-06-16 15:43] ajcvickers commented on #8875
@Wain123 Currently you will get a new instance each time. This is because these types are facades over internal types. It's possible that we could choose to cache them at some point in the future, but I think that would be unlikely.

[2017-06-16 15:53] smitpatel commented on #8862
I am using Win10 Creators update
SQL Server 2016 SP1 (13.0.4001)
Though none of those should matter. EF doesn't produce query based on the SqlServer/OS version.

Try following steps
- Verify that you are using 1.1.2 packages only. You may end up with different package based on variety of nuget caches etc.
- Enable debug level logging and post log output for the query which is failing.

[2017-06-16 16:30] ajcvickers commented on #8818
@caleblloyd Yes, there is. If an option will result in a singleton service behaving differently, then it should be implemented as an ISingletonOptions. These options will be initialized once per service provider and are registered as singletons so that singleton services can depend on them.

Coupled with this is a mechanism for EF to build a new service provider if an option has changed--to do thi

[2017-06-16 16:40] ajcvickers commented on #8818
Also, it doesn't seem like the github repo is making use of the functional tests that we publish for providers to use--unless you are doing it in some way that I missed. I would recommend that you look at how the SQL Compact provider (https://github.com/ErikEJ/EntityFramework.SqlServerCompact) and the Prostgres provider (https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL) are doing th

[2017-06-16 16:47] caleblloyd commented on #8818
Could you add a reference to this issue when you create the PR?  I'd like to see how it's done in SqlServer and copy that behavior.

It's on our backlog, thanks for the references.  Would be great if we could add that.  Right now we use our own set of functional tests but using the official one would give us better coverage.

[2017-06-16 16:48] bricelam commented on #8873
Add a class that looks something like this to Library.Web.
[code]

[2017-06-16 17:46] smitpatel commented on #8872
Given that `DbContext` is not Finalizable type, not sure if we need to strictly adhere to Basic Dispose pattern.

[2017-06-16 17:52] ajcvickers opened #8877 "Changing RowNumberPaging should cause new internal service provider to be built"
Since it is a singleton option it should influence the service provider hash code for the SqlServer provider.

[2017-06-16 17:55] ajcvickers commented on #8818
@caleblloyd See https://github.com/aspnet/EntityFramework/pull/8878

[2017-06-16 18:03] smitpatel commented on #8874
Your configuration is correct. (You don't need `ComplexTypeAttribute` on your entity though).
The only thing is the feature to map complex type properties in same table as owner entity type was not in 2.0.0-preview1 release. It was added afterwards. It will be available in 2.0.0-preview2 release which will be release this month. Once you upgrade to that you will be get those properties in same tab

[2017-06-16 18:14] ajcvickers commented on #8745
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-16 18:18] ajcvickers commented on #8787
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-16 18:27] bricelam opened #8879 "Design: Debug log messages not reported on the console"
We've either regressed this in 2.0.0-preview2 or #7785 never got merged into `dev`.

[2017-06-16 18:34] ajcvickers commented on #8857
Assigning to @AndriySvyryd to change the exception message.

[2017-06-16 18:38] ajcvickers commented on #8863
Check also for default value.

[2017-06-16 18:42] ajcvickers commented on #8870
@bricelam Please push back if we can't do this for some reason.

[2017-06-16 18:58] smithaitufe commented on #8873
I am seeing this error

[code]

[2017-06-16 19:31] AndriySvyryd commented on #1367
Do this for all public *Builder classes

[2017-06-16 19:46] ajcvickers commented on #8642
@Eilon We discussed this in triage this morning. @smitpatel has tried running many (30+) times on on one of our machines that it fails on, but it never fails for him. Right now we are completely out of ideas on how to proceed further with this. Any suggestions?

[2017-06-16 19:48] ajcvickers commented on #8852
@bricelam @lajones @smitpatel Do you know if we are already tracking something for namespaces on reverse engineering? If so, is this sufficiently different to keep it open as a separate issue?

[2017-06-16 20:24] #8877 closed

[2017-06-16 20:38] zlstringham commented on #8872
@ajcvickers
There isn't something that doesn't work; it's a matter of adhering to the standard pattern. `DbContext` works.

Suppose I want to derive a class from `DbContext`, and this new class also needs to perform `Dispose` functionality. In implementing this class, per the MSDN-established standard for implementing `IDisposable`, I would override the `protected virtual void Dispose(bool)` metho

[2017-06-16 20:43] ajcvickers commented on #8872
@zlstringham We have discussed this at length in the past and we made a conscious decision not to follow this pattern. We would need to have a pretty strong argument that something is broken in order to change that decision. I'm going to close this for now, but if there is something that is really broken, then please feel free to re-open with details.

[2017-06-16 20:56] lajones commented on #8852
@ajcvickers #3988 comes to mind. There was another bug that explicitly discussed all the options for output directory structure / namespace / database schemas - but I can't find that right now. `Scaffold-DbContext` originally had a `--namespace` arg that you could use to override the namespace for any given run, but it was scoped out in v1.

[2017-06-16 21:10] atagirov commented on #8876
Thanks for explanation. Now i think it's more clear than methods in EF 6.0

[2017-06-16 21:11] jaredcnance opened #8880 "'ef migrations remove' uses designer files to walkback migrations"
### Brief Description

`dotnet ef migrations remove` uses the migration *.Designer.cs file to rollback state of the DbContextModelSnapshot.cs file.

This is likely to cause problems when merging changes across multiple branches.

---

### Steps to reproduce

To reproduce the issue, clone [this repository](https://github.com/jaredcnance/ef-migration-issue) and run: `dotnet ef migrations remove`

##

[2017-06-16 21:18] #8608 closed

[2017-06-16 22:13] AndriySvyryd opened #8881 "Allow to use navigations in model level entity filters"

[2017-06-16 22:31] AndriySvyryd opened #8883 "GetDatabaseValues should always call IgnoreQueryFilters()"
It's possible to query a filtered entity using `.IgnoreQueryFilters()`, but calling `.GetDatabaseValues()` on the corresponding entry returns null.

[2017-06-16 22:41] AndriySvyryd opened #8884 "CompileQuery throws if query ends in Include"
[code]

   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CompileQueryCore[TResult](Expression query, INodeTypeProvider nodeTypeProvider, IDatabase database, IDiagnosticsLogger`1 logger, Type contextType)
   at Microsoft.EntityFrameworkCore.Query.Internal.QueryCompiler.CreateCompiledQuery[TResult](Expression query)
   at Microsoft.EntityFrameworkCore.Query.Internal.CompiledQuery`2.C

[2017-06-16 23:08] smitpatel commented on #8852
Another related issue https://github.com/aspnet/EntityFramework/issues/4524

[2017-06-16 23:21] maumar commented on #8652
fixed in 44e73165c984fba71e227e4933be41cf1d2d213d

[2017-06-16 23:21] #8652 closed

[2017-06-17 00:01] smitpatel commented on #8446
#8759  Should help investigating this.

[2017-06-17 00:58] smitpatel opened #8886 "Metadata: Convention does not create relationship after Fluent API resolves ambiguity"
[code]
Above model works but below one fails
[code]
Exception thrown:
[code]

The only difference between 2 models,
First one does not have ambiguity in relationship discovery. Second one has ambiguity but it is resolved by fluent API code but convention did not run correctly afterwards.

[2017-06-17 08:06] garfbradaz commented on #629
What is the current solution/workaround while waiting for 2.0? Im currently using ASP.NET Core/ EF Core.

Cheers guys and understand fully this is a blank slate project 👍

[2017-06-17 17:05] frogec commented on #3170
What is the status on this feature? This turns out to be a really important feature in our case.

[2017-06-17 19:46] AsValeO commented on #6025
**EFC 2.0 RC**

`q = q.Where(x => x.Added + TimeSpan.FromDays(3) >= DateTime.Now);`

Well, year has passed, still can't work with `TimeSpan`. It worked in EFC 1.0 RC1.
I think this is nessesary feature for EFC 2.0.
Or is there at least any workaround here?

[2017-06-17 22:12] MelbourneDeveloper commented on #6942
I have created a .NET Standard library for SQLite https://github.com/MelbourneDeveloper/SQLite.Net.Standard

It doesn't require any platform specific libraries but it has been thoroughly tested on uwp, android, iOS and .net. It doesn't have an orm. It just gives you flat table access and you could implement something like ADO.net for it.

[2017-06-18 00:40] helderboone opened #8887 "Query: Recursive union and join"
I have a database with Apis and SubApis (childs).
I wrote a query in order to retrive all subApis of subApis.

 var query = @"

                        with GetSubApisRecursive as (
                        select a.* from Api a
                        where a.Id = @id
                        union all
                        select s.* from Api s
                        join GetSubApisRecursive r

[2017-06-18 01:37] divega commented on #6025
Clearing up milestone do that we can discuss in triage.

[2017-06-18 03:55] Eilon commented on #8642
Where do we think this issue exists? Is it in the test runner, or is it related to databases?

[2017-06-18 04:15] kernel-io commented on #3620
Also looking forward to this, right now I'm also doing what @stevenxi does.

[2017-06-18 11:25] shawnwildermuth opened #8888 "Throw better exception when app might be using old ASP.NET pattern"
Describe what is not working as expected.

I expected that the startup registration would allow me to use the EF Tools without implementing a IDbConnectionFactory. I do not have an empty constructor on my context class, but by isn't the tooling using DI to create an instance? Here is my DbContext class:

[code]

If you are seeing an exception, include the full exceptions details (message and stack

[2017-06-18 14:18] smitpatel commented on #8642
We are uncertain about the cause of error but the error message is something which is due to test runner, first we have to unwrap test runner to see if there is more info available. But we don't know how.

[2017-06-18 23:45] anpete commented on #8887
@helderboone Please post the complete stack track of the exception.

[2017-06-18 23:50] anpete commented on #8887
@helderboone Can you also try expanding the '*' in the projection into individual named columns?

[2017-06-18 23:51] smithaitufe commented on #8369
Please what is the state of this issue now? I am having similar error in my project.
I am using Dotnet 2.0.0- Preview1

[2017-06-19 08:57] fschlaef commented on #8862
My dependency list contains soms packages lower than 1.1.2, but apparently they are in the highest possible version.
EF DLLs are all 1.1.2 as confirmed by inspecting what gets published. .NET Core App is also 1.1.2

I attached the dependency list and a complete debug log of the request. The log is from the original software (the one the repro I posted is based on), I simply copy-pasted the same fa

[2017-06-19 09:04] JonPSmith opened #8889 "Question: Can I access IScaffoldingModelFactory as a service?"
I have found some situations were I want to manage the migration of a database via an external system/scripts rather than using EF's migration feature. The problem in managing the database externally is that it is (very) easy for the database and EF's model of the database to get out of sync. For EF6.x I wrote a packaged called [EfSchemaCompare](https://github.com/JonPSmith/EfSchemaCompare) which

[2017-06-19 09:07] smithaitufe commented on #8369
I noticed that when I add OrderBy and OrderByDescending clause to my query, I get the error
[code]
But when I remove them, the code is executed.

I didn't have this error in netcoreapp1.1 until I upgraded to netcoreapp2.0.

This is my code

[code]

[code]

GetAllBooks () is a function that simply returns this

[code]

[2017-06-19 09:17] markbeij commented on #5581
I think this feature could really help me. I like to scaffold extra classes. The idea is to have a history table in my database for each 'normal' table. @bricelam, @ajcvickers, do you agree this should be possible to accomplish when this feature will be implemented?

Found this example in EF6: [StackOverflow](https://stackoverflow.com/a/37183898)

sidenote: Since there are still doubts, I don't th

[2017-06-19 10:25] ErikEJ commented on #8889
I have a open source class library implementation (with a VS GUI on top) here: https://github.com/ErikEJ/SqlCeToolbox/blob/master/src/GUI/EFCoreReverseEngineer/EFCoreReverseEngineer.cs#L15 (demo here: https://twitter.com/ErikEJ/status/834452863380250624 )

[2017-06-19 11:49] ghanchiasif commented on #2272
Is there any updates on this? Please provide some ETA.

[2017-06-19 16:03] bricelam commented on #8870
I'll look into it, but I'm doubtful. We write the files in `ef.exe` which has no knowledge of version control.

[2017-06-19 16:06] bricelam commented on #8873
Sorry, looks like the property is called `ServiceProvider`.

[2017-06-19 16:15] bricelam commented on #8888
Dupe of #8164. This will be fixed in 2.0.0-preview2-final.

[2017-06-19 16:32] ajcvickers commented on #2272
This issue is in the Backlog milestone. This means that it is not going to happen for the 2.0 release. We will re-assess the backlog following the 2.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

Also, this item is marked up-for-grabs, meaning this is something we think could be t

[2017-06-19 17:39] bricelam opened #8891 "RevEng: Default index names scaffolded"
A `HasName` call is generated for the default name of an index. We should suppress this.

[2017-06-19 17:39] bricelam commented on #8891
Fixed by #8808

[2017-06-19 17:39] #8891 closed

[2017-06-19 17:43] bricelam opened #8892 "SQL Server RevEng: Scaffold IsRowVersion for timestamp columns"
We should generate a call to `IsRowVersion()` for `timestamp` columns in SQL Server.

[2017-06-19 17:50] ajcvickers opened #8893 "Log a message with EF version information"
Possibly at startup and/or context creation.

[2017-06-19 17:50] smitpatel commented on #8889
`IScaffoldingModelFactory` is design time service. Design time services are added to ServiceProvider through `DesignTimeServiceBuilder` which is invoked only from migrations/scaffolding.
In above code, you are using EF's internal service provider at runtime so no design time services will be available. You need to configure an external service provider which contain all those services and pass it

[2017-06-19 17:54] ajcvickers commented on #8889
Also, take a look at https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational.Specification.Tests/RelationalDatabaseCleaner.cs

This is something we use in tests to gather schema information from the database, which is built on top of the the reverse-engineering code.

[2017-06-19 17:55] ryan-w opened #8894 "SQL date type being cast to datetime"
When using the SQL 'date' type I should be able to insert a date prior to 1753, but I receive the following exception.

[code]

### Steps to reproduce

[code]

### Further technical details
EF Core version: 1.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 8.1
IDE: Visual Studio 2017

[2017-06-19 18:04] ajcvickers commented on #8444
Closing since we hopefully don't need this for preview2.

[2017-06-19 18:15] ajcvickers commented on #8880
@bricelam to look into workarounds for 2.0. More complete fix will need to go on backlog.

[2017-06-19 18:17] JeanCollas opened #8895 "Impossible to query a function using a full text index from FromSql"
I am trying to call a function using a full text index, however whatever I try, I always get an exception `The full-text query parameter for Fulltext Query String is not valid.`

I tried to add a cast surrounding the parameter within the strSQL and to change the SQL function to accept varchar(4000), but nothing works (I just need varchar(50) ).
I haven't tried to pass a DbParameter with the correc

[2017-06-19 18:22] ErikEJ commented on #8895
What does GetClosestPlaces look like?

[2017-06-19 18:24] JeanCollas commented on #8895
It is just a select, ordering by distance, and having `AND CONTAINS(Tags, @search) `

[2017-06-19 18:25] natemcmaster opened #8896 "net461 SQL Server tests attempt to create scratch database in unwritable folder"
**Details**
Using dotnet-CLI 2.0.0-preview2-006484
Using the dotnet.exe on system PATH.
Only affects .NET Framework tests

**Repro**

Install latest preview2-CLI
https://github.com/dotnet/cli/tree/release/2.0.0-preview2#installers-and-binaries

[code]

**Result**

Error Message:
 System.Data.SqlClient.SqlException : CREATE FILE encountered operating system error 5(Access is denied.) while attempti

[2017-06-19 18:30] ajcvickers commented on #8893
Look into anything else to capture. Eg:
* Provider
* Provider version
* Common options that are not default:
  * MaxBatchSize
  * Default query tracking

[2017-06-19 18:57] JonPSmith commented on #8889
Thanks @ErikEJ, @smitpatel and @ajcvickers,

Great. That has got me a instance of the `IScaffoldingModelFactory` (and the `IDatabaseModelFactory` if I need it). I also assume that accessing the `IScaffoldingModelFactory` is a legitimate thing to do, which does cut down the work a lot.

I now need work out how to make it general, but I can follow what @ErikEJ did in his excellent SqlCeToolbox.

PS.

[2017-06-19 19:03] #7263 closed

[2017-06-19 19:08] bricelam commented on #8896
Last time I investigated similar errors, something about the way VSTest was running tests (possibly related to AppDomain setup) was preventing LocalDB from being able to access the user's profile resulting in a worse-than-usual default database directory.

[2017-06-19 19:10] ajcvickers commented on #3988
Note: when designing/implementing this, also consider the issues raised in #8852

[2017-06-19 19:11] ajcvickers commented on #8852
Closing this as a dupe of #3988 which has been re-purposed to cover the general question of namespaces in reverse enineering.

[2017-06-19 19:12] divega opened #8898 "Databinding: Guide users to not bind against DbSet.Local directly"
In EF Core `DbSet.Local` is more efficient than in EF6 but doesn't have stable order, so it is not good for databinding. For databinding you are supposed to call `ToObservableCollection` (for the WPF flavor) or `ToBindingList` (for the WinForms flavor).

This is already in the XML documentation but nothing prevents users from binding directly to `DbSet.Local`.

We should consider implementing `ILi

[2017-06-19 19:20] divega opened #8899 "Databinding: Guide users to not bind against queries directly"
Currently `DbSet` implements `IListSource` to throw an informative message pointing to `DbSet.Local.ToBindingList()` and `DbSet.Local.ToObservableCollection` but our query objects do not. Binding directly to queries can cause double roundtrips and other issues, so we should consider having the implementation of `IListSource` there was well as we did in EF6.

[2017-06-19 19:34] bricelam commented on #8879
This has regressed in 2.0.0-preview2-final.

[2017-06-19 19:39] AndriySvyryd opened #8900 "Migration commands don't work in VS .NET Core project"
`Add-Migration` and the other commands aren't available in the PMC after restoring and building the project.

Console app targeting netcoreapp2.0
VS 15.3 Preview 3.0 26615.0.d15rel
.Net Core SDK 2.0.0 Preview2 6484
Microsoft.EntityFrameworkCore.Tools 2.0.0-preview2-final
Feed: https://dotnet.myget.org/gallery/dotnet-2-0-0-preview2-final/

[2017-06-19 19:41] #8848 closed

[2017-06-19 19:43] ajcvickers commented on #6025
Notes for triage: Looks like a couple of different things are happening here. In original bug, TimeSpan was being converted to Time, but the value overflowed. This is somewhat expected since the mapping for TimeSpan is to Time, but Time can easily overflow. This is discussed in #242 for mapped properties.

The new exception is different--it indicates that query is attempting to create a DateTime p

[2017-06-19 19:48] ajcvickers commented on #8888
ASP.NET Core changed the default pattern for applications in 2.0. Instead of having a ConfigureServices call, there is now a Main method with a BuildWebHost method split out. It was explicitly stated by @DamianEdwards that EF does not need to try to keep supporting the old pattern and instead old applications should:
* Update their code to the new pattern
* or implement an IDbContextFactory

Howev

[2017-06-19 19:51] caleblloyd commented on #8818
@ajcvickers I made the TypeMapper a singleton int https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/commit/5dd4b6c34696fb7c9da374940b6b4d7a9ca43f6b but I still get the same error with `IDbContextOptions contextOptions` being null for `Microsoft.EntityFrameworkCore.Storage.RelationalConnectionDependencies`

[2017-06-19 19:59] ajcvickers commented on #4978
Note: when designing/implementing this, consider the case for parameters passed to FromSql, etc. See #8895

[2017-06-19 20:01] ajcvickers commented on #8895
@JeanCollas You should be able to create a SqlParameter object and pass that as the parameter to the FromSql call. If this doesn't work, then please re-open with the full stack trace and message of the failure.

I have also added a note to #4978 to consider this case and I'm closing this as a duplicate of that.

[2017-06-19 20:08] ajcvickers opened #8902 "Test: change the location for test databases"
People don't like the databases being in their user profile; investigate putting them somewhere else.

[2017-06-19 20:22] bricelam commented on #8880
This is another manifestation of the root cause of issue #996. Having #1911 would help us detect this situation and handle it better.

### Workaround
In this situation, you should be able to use the following workflow.

1. Delete `20170616182356_modelC.cs` and `20170616182356_modelC.Designer.cs`
2. Run `Remove-Migration` (or `dotnet ef migrations remove`)
    1. A manual deletion is detected
    2

[2017-06-19 20:27] bricelam commented on #8900
This is an external (NuGet) issue. EF's `init.ps1` isn't being invoked.

A few things that have helped in the past:
* Run `Set-ExecutionPolicy RemoteSigned` as an administrator and try again
* Close the PMC window, restart VS, open the solution, then open PMC and try again

[2017-06-19 20:34] ajcvickers commented on #8896
Created https://devdiv.visualstudio.com/defaultcollection/DevDiv/_workitems?id=453058&_a=edit for this and marking this as external and blocked.
/cc @divega @Eilon

[2017-06-19 20:39] bricelam commented on #8902
I've always liked the trick Northwind uses--put them next to `master.mdf`:
[code]

On Local DB, this would put them in `%LOCALAPPDATA%\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb`.

[2017-06-19 20:48] helderboone opened #8903 "Error configuring cascade delete on self referenced model"
[code]

Hi! I'm trying to configure a self referenced model to  cascade delete when deleting its parent. I have tried configuring in this two ways:
[code]
[code]

However both configs are throwing Foreign key constraint 'FK_Foo_Foo_ParentId' on table 'Foo' may cause cycles or multiple cascade paths when I try to update the database.

[2017-06-19 21:07] AndriySvyryd commented on #8900
Updating to 26616.2.d15rel seems to have fixed this

[2017-06-19 22:03] bricelam commented on #8816
Hmm, there's definitely an issue here. To get it to work as it was intended, you'd have to author `*.csproj` like this:
[code]

For your scenario, not specifying `--msbuildprojectextensionspath` seems to work. Although you may have to manually create the `obj\` folder so you don't get a *could not find a part of the path* error.

[2017-06-19 22:07] bricelam commented on #8816
Triage, I think we have two options here:
1. Keep everything as is, but create the directory if it doesn't exist.
2. Flow `MSBuildProjectExtensionsPath` into MSBuild so it can be set before it's defaulted to the value of `BaseIntermediateOutputPath`.

[2017-06-19 22:26] bricelam commented on #8726
This is a bug. No SQL is generated to move an object to the default schema.

### Workaround
Explicitly specify *dbo* as the new schema in the migration.
[code]

[2017-06-19 22:37] bricelam commented on #8725
SQLite has a [dynamic type system](https://www.sqlite.org/datatype3.html). The user-specified column type name has almost no meaning. We currently apply the same [type affinity rules](https://www.sqlite.org/datatype3.html#type_affinity) as the database engine to pick the most likely candidate from one of the four primitive types supported by SQLite: `INTEGER` (maps to `long`), `REAL` (maps to `dou

[2017-06-19 22:44] divega commented on #8888
I have created https://go.microsoft.com/fwlink/?linkid=851728. Currently points to one of the ASP.NET Core walkthroughs, but we should update it as part of https://github.com/aspnet/EntityFramework.Docs/issues/409.

[2017-06-19 22:44] bricelam commented on #8824
@ErikEJ was that a -1 to doing this? or a -1 because SQLite is weird.

[2017-06-19 22:50] smitpatel commented on #8862
**This is regression**
The query worked in 1.0.0
It threw exception in 1.1.0 ( #7033)
It worked in 1.1.1 (due to #7033 being fixed. Which brought in another issue #7714)
It fails in 1.1.2 (due to fix applied for #7714)

Simplified repro:
[code]

Issue: Logic introduced in #7714 is incorrect for nested cases.
https://github.com/aspnet/EntityFramework/blob/rel/1.1.2/src/Microsoft.EntityFrameworkCore

[2017-06-19 22:51] smitpatel commented on #8862
Clearing milestone so that we can consider if this is patch worthy or not.

[2017-06-19 23:33] karabaja4 commented on #8816
Yeah, I succeeded to scaffold it by manually creating `obj/` folder in projects roots and not specifying `--msbuildprojectextensionpath`. Unfortunately this defeats the purpose of having a separate `obj/` folder if another one now exists in the project root.

I tried to modify the csprojs as you suggested. However I was still unsuccessful in using `--msbuildprojectextensionpath`. First, I ran the

[2017-06-19 23:33] maumar commented on #8754
fixed in b825435871d5d9b29960de6938c64237d1e4681c

[2017-06-19 23:33] #8754 closed

[2017-06-19 23:57] ajcvickers opened #8904 "SQLite 3.19.3 breaks EF query"
SQLitePCLRaw 1.1.6 includes SQLite 3.19.3. SQLitePCLRaw 1.1.3 included SQLite 3.16.0. Looks like the SQLite update includes changes to JOINs that may affect query results:
http://sqlite.org/releaselog/3_19_3.html

See https://github.com/aspnet/EntityFramework/pull/8890#issuecomment-309579098
And http://sqlite.org/releaselog/3_19_3.html

[2017-06-19 23:58] ajcvickers commented on #8904
@anpete @smitpatel @maumar Could one of you investigate this please?

/cc @bricelam @divega @natemcmaster @Eilon

[2017-06-19 23:59] ajcvickers commented on #8904
@natemcmaster Do we need this for preview2?

[2017-06-20 00:10] ajcvickers commented on #8903
This is a SQL Server limitation.  See https://github.com/aspnet/EntityFramework/issues/6956#issuecomment-258908700 for more info.

[2017-06-20 00:10] AndriySvyryd commented on #8894
Looks like a SQLClient issue, will create a standalone repro.

[2017-06-20 00:31] natemcmaster commented on #8904
No, this can wait until RTM.

[2017-06-20 01:03] smitpatel opened #8905 "SqlServer: Literals with real type is always considered float type"
In SSMS
[code]

We generate literal for real (C# single) & float (C# double) as `0E0` format. By default SqlServer assumes it to be float type. This forces upcasting when used inside SQL functions which causes runtime InvalidCastException.

Example:
[code]
Throws
[code]

Generated SQL
[code]

Value column is mapped to real data type in server. But 0E0 is taken as float literal. `COALESCE` function

[2017-06-20 01:06] smitpatel commented on #8905
The second issue was handled for case of bitwise & for Enum.HasFlag in #8851
We should consider generating the literal value with explicit casting to avoid such issues.

[2017-06-20 01:06] caleblloyd commented on #8818
I did some advanced debugging and it looks like in the services setup, the class `RelationalConnectionDependencies` is being instantiated twice.

The first time it is instantiated with `IDbContextOptions`:

![image](https://user-images.githubusercontent.com/2414837/27311796-7f1feba6-5531-11e7-85c1-46ce6527c293.png)

The second time it is instantiated `IDbContextOptions` is `null`:

![image](https:

[2017-06-20 01:17] smitpatel opened #8906 "SqlServer: Aggregate functions can return different data type"
As https://github.com/aspnet/EntityFramework/issues/7136 describes for `Sum`, we should verify all other functions where SqlServer changes the return type. Most frequent error I have seen reported by users on StackOverFlow is like this
`Unable to cast object of type 'System.Double' to type 'System.Nullable`1[System.Single]'.`

[2017-06-20 02:54] anpete opened #8907 "Owned Types: SaveChanges fails on Relational but succeeds for In-memory"
Given the following:
[code]
The SaveChanges call throws on relational:
[code]
But, In-memory is able to persist the data correctly.

[2017-06-20 03:06] ericsink commented on #8904
FWIW, I can reproduce this by building the EF core tree and running the tests.  As indicated by others, the test pass with SQLitePCL.raw 1.1.3, and 2 of them fail with SQLitePCL.raw 1.1.6.

For diagnostic purposes, I created a SQLitePCL.raw version 1.1.7-pre20170619212538 which uses SQLite 3.18.0 in the Windows builds.  With this version substituted into build/dependencies.props, the tests once ag

[2017-06-20 03:07] JeanCollas commented on #8895
Indeed SqlParameter with the right type worked.

[2017-06-20 06:24] romil-zealous opened #8908 "DbContext with Async queries"
Hello,

EF: 6.1.3

When I use any async methods such as .ToListAsync(), .FirstOrDefaultAsync() etc, my query execution freezes and it never returns anything. If I use synchronous methods such ash .ToList() on same DbContext, then I get the results which is expected.
I am not able to understand what is the issue with async methods. Please help.

Regards,
Romil

[2017-06-20 07:59] vladislav-karamfilov commented on #8908
This is the EntityFramework Core repo. You should ask your question in EF6 repo here: https://github.com/aspnet/EntityFramework6

[2017-06-20 09:10] fschlaef commented on #8862
Thanks for the in-depth investigation @smitpatel :+1:

[2017-06-20 11:45] di48l069 commented on #8277
@DJDA how did you fix this im getting same issue

[code]

[2017-06-20 12:45] arrkaye commented on #4846
Hi,

Is there any update on this?

I'm happy to contribute a PR if someone can point me in the right direction.

Thanks,

Ark

[2017-06-20 13:35] bricelam commented on #8816
It sounds like you left the `Sdk` attribute on the root `Project` element.

[2017-06-20 13:50] ericsink commented on #8904
Update:  It is easy to see the problem with just the sqlite3 shell.

I grabbed the InheritanceRelationshipsQuerySqliteTest.db file (from test/EFCore.Sqlite.FunctionalTests/bin/Debug/netcoreapp2.0) and a query from one of the failing tests.

This makes for a nice, self-contained repro.  Running it with 3.19.3 gives different results than 3.18.0.

So I sent a message to the sqlite developers.  I'll

[2017-06-20 14:09] DoubleExposure commented on #7297
In this thread there are two references and each one references the other ( (Circular) #5646 references this thread #7297 and vice versa).
What was the cause of this problem? Thanks

[2017-06-20 15:04] Tasteful opened #8909 "QueryCache misses for dynamically created queries with ConstantExpresssions or nested MemberExpressions from closure"
I got a lot of dupplicated entries in the `MemoryCache` that origin from EF and many of them contains the same sql query and is generated from the exact same code.

Example the following that generate an SQL query that is duplicated in cache more than 16 000 times.

![image](https://user-images.githubusercontent.com/357589/27338776-62f0cf4a-55d6-11e7-94ec-8df9f9e8e062.png)

When I checking the ent

[2017-06-20 15:16] sky-code commented on #1368
Ok, so microsoft corporation which is always care about compatibility, can't implement so important for migration feature for 2 years and still feature still on backlog.. what a joke, brand new cloud optimized entity framework in version 2.0 not have basic compatibility with old EF ))
Can anyone from EF team make a checklist of features need to be done for this issue and add this to next milestone

[2017-06-20 15:40] Tasteful commented on #8909
It seems that is the usage of `System.Linq.Expressions.Expression` that is bad in my usage case.

- Is there any reason to not the string representation as the cache key?
- I can't find a way to change the sliding timeout for the cache entry per query, is that possible?

[2017-06-20 15:50] shawnwildermuth commented on #8888
I don't quite get this, does this mean that for separate data projects, we no longer need a startup class to support EF Tooling? Instead we should do *what* in Main to support it without needing to implement the IDbContextFactory? I'm seeing this is a new 2.0 project, not a converted 1.x project.

This is the program.cs:

[code]

[2017-06-20 15:53] divega commented on #8888
@shawnwildermuth AFAIR, in 2.0-preview1 we were in an intermediary state in which we didn't support the `Program.BuildWebHost` method so you had to have an `IDbContextFactory`. The change to support `Program.BuildWebHost` is in preview2.

[2017-06-20 15:54] ajcvickers commented on #8818
@caleblloyd The issue is that MySqlMigrationsSqlGenerator is a singleton, but it depends on IRelationalConnection, which is scoped. Singleton services cannot depend on scoped services.  SQL generation in Migrations should work without a database connection--for example when generating scripts to later run on a production server.

[2017-06-20 15:57] bricelam commented on #7297
We never heard back from the original reporter, so we weren't able to understand the issue.

If you are experiencing the same problem, please file a new issue so we can investigate further.

[2017-06-20 16:05] Tasteful commented on #8909
Is it the same when using `ICollection<T>.Contains`?

example
[code]
For the contains it generate an SQL with the values in the statement, not as parameters. Will the cache handle that to replace the parameters?

[2017-06-20 16:08] ErikEJ commented on #8824
It was actually to doing it, it will give users a false sense of strong typing

[2017-06-20 16:25] ericsink commented on #8904
SQLite ticket:

http://www.sqlite.org/src/tktview/892fc34f173e99d8aa03d52fbf42e0f9f2dfb210

[2017-06-20 16:28] natemcmaster commented on #8904
@ericsink Thanks for helping investigate this. Are you going to rollback SQLitePCLRaw to 3.18 or wait for a fix from SQLite?

[2017-06-20 16:32] anpete commented on #8904
Thanks @ericsink!

[2017-06-20 16:34] ericsink commented on #8904
I plan to wait for some indication on the timing of a fix before deciding that.  DRH is usually very fast on this kind of thing.  Then again, that particular code change in 3.19.0 has now been the cause of 3 sqlite bugs, and that kind of regression is extremely unusual for sqlite, so the circumstances are atypical.

I don't consider 3.18.0 to be an acceptable option, because it has a couple of oth

[2017-06-20 16:34] Socolin commented on #1368
@sky-code https://weblogs.asp.net/ricardoperes/missing-features-in-entity-framework-core-1 like this ?

[2017-06-20 16:46] jaredcnance commented on #8880
@bricelam thanks for the suggestion. I can see that it should work fine if the issues are caught quickly. Unfortunately, this doesn't help much, since it still requires developers to:
- be aware of the issue
- check that there weren't any new migrations (even though there may not be any conflicts) before merging  their PRs
- regenerate and re-validate their existing migration

Not to mention the m

[2017-06-20 17:08] anpete commented on #8909
@Tasteful Sorry you are hitting this. Can you post the complete LINQ query that causes the cache miss?

[2017-06-20 17:09] bricelam commented on #8880
Correct. The model snapshot is used to generate new migrations, and it will get merged properly like any other version controlled file.

The issue here is we need to synthesize the *previous* model snapshot which gets messy if you've merge new migrations into the mix.

As part of using Migrations, I think developers need to be very aware of when they merge new migrations into a branch. Being able

[2017-06-20 17:10] Eilon commented on #8642
Do we know who can help? This is an area where I have almost zero familiarity unfortunately.

[2017-06-20 17:16] smitpatel commented on #8642
AFAIK, no one in EF team has any insights.

[2017-06-20 17:18] Tasteful commented on #8909
@anpete I will try to make a breakout of relevant code parts.

[2017-06-20 17:22] smitpatel commented on #8909
Any reason you haven't upgraded to 1.1.2?
You filed issue in past about memory leak which was fixed in 1.1.2 https://github.com/aspnet/EntityFramework/issues/8063 😄

[2017-06-20 17:23] anpete commented on #8909
Oh yeah, definitely try that 😄

[2017-06-20 17:30] Tasteful commented on #8909
Was it the one that i found with Db.Set, then I already have that fix localy. Was it any other fixes in 1.1.2 regarding to query-cache?

It was found in production system and want to be able to produce same issue localy on the same version before upgrade and trying any fixes.

[2017-06-20 17:31] #7050 closed

[2017-06-20 17:40] anpete commented on #8909
@Tasteful #7899 is the only other one I can see, but I suspect you are not hitting that.

[2017-06-20 17:51] karabaja4 commented on #8816
Yeah, sorry. Tinkering with csprojs at 3AM wasn't a good idea. The error remains however, except no warnings this time.

Since I spent way too much time playing with this I'll just leave `bin/` and `obj/` inside root for now. Thanks for your help.

[2017-06-20 18:03] adduss commented on #7350
+1

This is totally valid example for any TPT inheritance. Base model does not contains navigation properties and if we woluld like to display list with all inherited types with the common property fe. "Name", but loaded from different related entities of derivered models. We can't use include because there is no navigation property to do so, and if we load directly EF is not clever enough just to

[2017-06-20 18:06] maumar commented on #8906
this should be done already, fix for #7136 covers SUM and AVG, other result operators (at least the ones we support) return the same type as the input (Min/Max/Avg/Count/LongCount/First(OrDefault)

[2017-06-20 18:08] sky-code commented on #1368
Yep, something like this, list itself is good but more important is priority order of tasks from that list.
Modeling must be implemented first, than behaviour features
as example at this moment for porting exists model if you use many-to-many you need to rework entire model and usage of it to new style of many-to-many with join entity, and than rework it back when this feature will be implemented

[2017-06-20 18:08] smitpatel commented on #8906
Feel free to close if you are certain that we have covered all functions.

[2017-06-20 18:10] maumar commented on #8906
will double check the fringe result ops (stdev, etc). I don't think we support them but always good to have tests for the future.

[2017-06-20 18:17] AndriySvyryd commented on #7375
We need to investigate the consequences of doing this further to avoid issues like https://github.com/aspnet/EntityFramework/issues/8864

[2017-06-20 18:58] jaredcnance commented on #8880
That makes sense. My expectation was that `dotnet ef migrations remove` would have used the last defined migration's (based on timestamp) `Down` method to rollback the model snapshot.

[2017-06-20 19:03] cedriclange commented on #1368
my aspnet core project become like a sort of unfinished one because some
features cant be done the way we used to, and i think about a workaround
for me ...i feel like giving up because dont eanna come back, when those
features will be implemented...crazy..

On Jun 20, 2017 20:09, "Igor" <notifications@github.com> wrote:

[2017-06-20 19:32] AndriySvyryd commented on #8883
Poaching this

[2017-06-20 20:16] bricelam commented on #8879
This is being caused by a change in Logging. No `Debug` messages are being sent to our `ILogger`. I suspect this is caused by the new filters feature which sets the default minimum level to `Information`. I cannot find a way to get this working...

I've tried...
[code]
...and...
[code]
...but neither one seems to have an affect.

[2017-06-20 20:19] bricelam commented on #8879
I'll focus my efforts on #8686 instead.

[2017-06-20 20:54] Tasteful commented on #8909
@anpete Tested this with both the 1.1.1 and 1.1.2 release and both version have the same behavour

I have put a test-repo here https://github.com/Tasteful/bugs/blob/query-cache2 and if you check the https://github.com/Tasteful/bugs/blob/query-cache2/MemoryUsage/Program.cs and specific the method `TestContains` that is working, will produce the following expression tree
[code]
and compare that to `

[2017-06-20 20:57] #5975 closed

[2017-06-20 21:02] Tasteful commented on #8909
If I remember correct the QueryCache is caching all the queries infinity, is that a big benefit to do that instead of have a sliding cache timeout to clear out queries that not is used frequently?

[2017-06-20 21:02] DanJ210 commented on #5549
Would this still be a solution for Windows 10? I would thing PowerShell 5 would be installed but I have all of these dependencies needed and I'm getting the same issue as in this thread.

[2017-06-20 21:05] smitpatel commented on #5549
@DanJ210 - Please file a new issue with details of your project, exception you are seeing & EF Core package versions. This is a very old issue. While it may be same error message, the root cause can be totally different based on project system/package version.

[2017-06-20 21:06] #8843 closed

[2017-06-20 21:10] anpete commented on #8909
The first thing is that there should only be one entry for each query, so we will look at that (thanks for the repro).

We are using the ASP.NET [MemoryCache](https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs), which does have some configuration options.

[2017-06-20 21:10] sky-code commented on #1368
I am thinking about rewrite entire project to django only because old asp.net mvc is dead but new asp.net core is not usable and will be same in next several years?
I have already exists project but I got stuck with legacy asp.net for unknown amount of time and I can't use new features but need them now and old asp.net doesn't have it.
I got in to a dead zone.
Only one option remains, rewrite all

[2017-06-20 21:19] Tasteful commented on #8909
What I can see in https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore/Query/Internal/CompiledQueryCache.cs is that no options are set when the item is adding to the cache. The old v1 implementation of that is removing 10% of cache entries when gc gen 2 is happening. This will be changed in v2 https://github.com/aspnet/Announcements/issues/228 and if no expiration time is set the cache en

[2017-06-20 21:21] #7240 closed

[2017-06-20 21:25] DennisSc commented on #8461
I can reproduce as well:

with the nuget package **"Microsoft.Data.SQLite"** (which, I think, is what EntityFramework.sqlite uses as well?), my app doesn't build in release mode. The same error as described above, when using "2.0.0-preview1-final": build fails in release mode, "internal compiler error: reference not set to instance of object" when creating the ilc files, on three different build s

[2017-06-20 21:37] anpete commented on #8909
@Tasteful I guess we could set a value for SlidingExpiration as a mitigation for these kinds of bugs. I think you could also manually call the Compact method as a workaround.

[2017-06-20 21:38] skendrot commented on #1368
As much as it makes your life easier to have M-M support, take this time to start using an ORM like [Dapper](https://github.com/StackExchange/Dapperv). Performance is so much better.

[2017-06-20 21:39] anpete opened #8914 "Query: Set SlidingExpiration when adding queries to the MemoryCache"
This can potentially mitigate against bugs in query cache key comparisons. Right now such bugs result in unbounded cache growth.

[2017-06-20 21:51] bricelam commented on #8685
This no longer repros on dev. Somebody must have inadvertently fixed it. 😉

[2017-06-20 21:51] #8685 closed

[2017-06-20 21:53] AndriySvyryd commented on #8894
Filed https://github.com/dotnet/corefx/issues/21279

[2017-06-20 21:54] smitpatel commented on #8685
https://github.com/aspnet/EntityFramework/commit/ae2277ed90c782500df29d2bf735491f316da9a8
Which removed the always setting size for parameters of string type. Instead null are now allowed which makes them nvarchar(max) again.

[2017-06-20 22:02] ericsink commented on #8904
@natemcmaster You asked: "Are you going to rollback SQLitePCLRaw to 3.18 or wait for a fix from SQLite?"

Do you have a preference?

I've done the prep work for a release with SQLite 3.18.2.  And I've confirmed that it passes the EF Core tests.

I could push this as 1.1.7 to nuget tomorrow, but I'm on the fence about whether I should proceed that way or just wait for a 3.19.4.

[2017-06-20 22:45] #8884 closed

[2017-06-20 23:50] slamotte commented on #1368
Why not write an extension to EF Core to add this functionality? I don't think idle threats to move to another platform will sway anyone.

Myself, I just accept the limitations of the platform and code on. Nothing is perfect, and no one ever said that EF Core was backwards compatible with legacy code.

Don't get me wrong, this really bothers me too. But not enough to make me switch platforms.

[2017-06-21 00:18] caleblloyd commented on #8818
@ajcvickers that was it, removing `IRelationalConnection` from `MySqlMigrationsSqlGenerator` cleared this up

Wish there was an exception message or step-through debugging that was able to point to this.  It took many hours (days) to find this, only after you pointed it out :slightly_frowning_face:

Thanks for the help on this, I'll keep chugging along upgrading the MySql provider.

[2017-06-21 00:18] #8818 closed

[2017-06-21 01:50] natemcmaster commented on #8904
I'm on the fence too. I see DRH already committed a fix in SQLite. http://www.sqlite.org/src/artifact/879fcac86a74ea1a. If we can expect SQLite 3.19.4 in the next week or two, we're probably ok to wait. But if not, 3.18.2 would be better.

[2017-06-21 01:57] ericsink commented on #8904
I'll wait, for now.  I can pull the trigger any time if it becomes more urgent.  But I expect 3.19.4 will probably happen soon.

[2017-06-21 02:31] Eilon commented on #8642
Can we try to add more diagnostic info around where this error occurs so that if it happens again we have a better chance of figuring it out?

[2017-06-21 05:12] Tasteful commented on #8909
For the one where the same SQL is stored multiple times the callstack is the following and result down into a stringbuilder. The string builder internal use an char arrayto keep track of the data. I'm not sure if this string builder is populated with data for each query or that the `StringBuilder` can be replaced with a `string` after it is populated to not keep track of all the chars.

![image](h

[2017-06-21 05:40] #8894 closed

[2017-06-21 05:54] #8863 closed

[2017-06-21 06:50] Sholofly commented on #4600
I think you want to set de default value to the moment you create the record. Then use
defaultValueSql: "GETDATE()".
If not, use

defaultValueSql:'yyyy-MM-dd HH:mm:ss' with the desired date.

[2017-06-21 07:15] popcatalin81 commented on #1368
While I do use EF Core on my newest projects, with great benefits despite some functional limitations,, this is still the main issue preventing me to migrate an older large project to EF core, which I would really like to do.

[2017-06-21 07:35] Wain123 opened #8921 "Detached entities appear in ChangeTracker.Entries()"
[code]
This code outputs "0 1". Simply looking at u's entry after detaching u causes the entry to appear in the ChangeTracker, even though u is detached. Is this working as intended?

[2017-06-21 10:14] tipa commented on #7777
This is a big show-stopped in my project as well. **Any** way to get EF running on Android 7 currently?

[2017-06-21 14:42] tipa opened #8922 "Microsoft.EntityFrameworkCore.SQLite on Android 7+ not working"
I was successfully using `Microsoft.EntityFrameworkCore.SQLite v.1.1.2` in a **Xamarin.Android** project. But for Android 7+, the app crashes with `unauthorized access to "/system/lib64/libsqlite.so"` (as reported [here).](https://github.com/aspnet/EntityFramework/issues/7777)

So I updated to version `v2.0.0-preview1-final` [as this should fix the issue](https://github.com/aspnet/EntityFramework/

[2017-06-21 15:53] ajcvickers commented on #4846
@arrkaye Probably the API would be something like this:

[code]
That is, add an `Include` method to `IndexBuilder`.

The included properties would then be stored on the `IIndex` metadata, either as annotations or as a first-class part of the metadata. This would then flow into the MigrationsModelDiffer, and would end up in the Migrations model, which would also need updating with either annotation

[2017-06-21 15:59] ajcvickers commented on #8894
@AndriySvyryd Do you think that #6025 is another manifestation of the same underlying issue?

[2017-06-21 15:59] bricelam commented on #4846
Aren't these SQL Server specific? SQLite and PostgreSQL don't support them...

[2017-06-21 16:01] ajcvickers commented on #4846
@bricelam So in that case definitely not core, and maybe not relational either--just as SQL Server extension method?

[2017-06-21 16:03] ajcvickers commented on #8904
Moving out of milestone so we can triage.

[2017-06-21 16:07] ajcvickers commented on #8818
@caleblloyd In 2.0, the D.I. builder does have a way of verifying this, but it's not switched on by default and we haven't investigated enough that having it on by default when building a service provider in EF is the right thing to do. I'm going to do some more investigation into this.

[2017-06-21 16:12] AndriySvyryd commented on #8894
@ajcvickers  Looks like it. I'll verify that it was fixed.

[2017-06-21 16:16] ajcvickers commented on #7469
See also the discussion here: #8818

[2017-06-21 16:23] ajcvickers commented on #8921
Note for triage: confirmed repro on 1.1.2.

[2017-06-21 16:46] ajcvickers opened #8923 "Write announcements for significant changes introduced in EF Core 2.0"
This is an initial list of areas where an announcement might be useful. We will edit and update this list based on discussions within the team. We would also welcome feedback from anyone else who has used pre-release versions and has discovered something that would have been good for us to announce.

Discussed in triage and we will do one general announcement for impactful breaking changes and one

[2017-06-21 16:50] ajcvickers opened #8924 "Remove EF code from Entropy"
We don't update it; it's not useful.

[Creating issue here so we can triage, assign, and track it.]

[2017-06-21 16:56] ajcvickers opened #8925 "Post-process model snapshot to massage metadata"
The model snapshot may contain provider-specific annotations that are now only supported as relational annotation. For example, `SqlServer:TableName`. After building the snapshot we could process it to change these to `Relational:Xxx` based on looking for any annotation that ends in `:SomeRelationalAnnotation`. If this results in conflict (should be rare) we can pick one and warn saying that this

[2017-06-21 17:47] ajcvickers opened #8926 "Remove pragmas for non-obsolete ILogger.AddProvider"
Since it is no-longer obsolete for 2.0. See https://github.com/aspnet/Logging/issues/616

[2017-06-21 17:53] #8590 closed

[2017-06-21 18:06] ryan-w commented on #8894
@AndriySvyryd Thank you.

[2017-06-21 18:38] ajcvickers commented on #8925
Look at the version and only do it when needed.

[2017-06-21 19:53] MadMonkey87 opened #8927 "Migrations with renamings fail"
Hi,

I've noticed that when using migrations that include the renaming of a column (or maybe a table) this will lead to the following exception during execution:

### Steps to reproduce

I have a class "Test" that is mapped to the Table "dbo.Test" using Fluent Api:
`builder.Entity<Test>().ToTable("Test");`

Now I've renamed the property "OldTitle" of my Test class to "NewTitle" and created a migra

[2017-06-21 20:13] ajcvickers commented on #8642
Discussed again in triage and decided that we need to get more info from the test runner. Commented on https://github.com/Microsoft/vstest/issues/527 asking for more info. Marking as blocked for now until we get some info from the vstest team.

[2017-06-21 20:16] ajcvickers commented on #8904
Closing this as there is nothing actionable on EF. We are happy waiting as discussed above.

@natemcmaster Are we tracking removal of the package workarounds somewhere else?

[2017-06-21 20:28] AndriySvyryd commented on #6025
Confirming @ajcvickers findings. The second exception is from a query bug, but even if fixed it would result in the first exception anyway.

[2017-06-21 20:32] natemcmaster commented on #8904
@ajcvickers tracking it here: https://github.com/aspnet/External/issues/59

[2017-06-21 20:41] AndriySvyryd commented on #6025
Another workaround is to calculate the deadline on the client:
[code]
But both of these workarounds suffer from `DateTime.Now` being evaluated on the client instead of the server, which might lead to different results.

[2017-06-21 21:01] thiagomajesk opened #8929 "System.IO.FileLoadException when configuring In Memory Database"
Hi, I'm trying to configure In Memory Database for testing, but its throwing an `System.IO.FileLoadException ` and I'm not sure why. My code look exactly like the one in the docs. The exception message says: `Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions', Version=1.1.0.0`.

This is the portion of my code that produces the error:

[code]

And here is my .cs

[2017-06-21 21:32] bricelam opened #8930 "Consider porting fix for Migrations: AlterColumn tries to drop non-existing index on SQL Server (#7535) to a 1.1 patch"
See #7535.

[2017-06-21 23:05] #8479 closed

[2017-06-21 23:06] smitpatel commented on #8721
Manually verified that above repro code works with #8885

[2017-06-21 23:13] ajcvickers commented on #8929
@thiagomajesk Can you post the full stack trace?

[2017-06-21 23:55] AndriySvyryd opened #8932 "Two-stage migrations (compatibility/staging mode)"
Add a way of generating separate scripts for just the non-breaking changes and for the breaking changes. This would allow the previous version of the application to continue to work against the database while the new version is being deployed/tested.
The pattern is sometimes called “Expand/Contract Migrations” because it groups migrations into two categories: Those that are non-destructive expansi

[2017-06-21 23:55] thiagomajesk commented on #8929
@ajcvickers The stacktrace doesn't seem that helpfull to me, but here is:

[code]

[2017-06-22 00:33] ajcvickers commented on #8923
Initial drafts for my breaking change sections

### EF Core 2.0 requires a 2.0 database provider

For EF Core 2.0 we have made many simplifications and improvements in the way database providers work. This means that 1.0.x and 1.1.x providers will not work with EF Core 2.0.

The SQL Server and SQLite providers are shipped by the EF team and 2.0. versions will be available as part of the 2.0 releas

[2017-06-22 01:09] divega commented on #4846
Didn't see @bricelam's response so I guess I did the same investigation :sweat_smile:.

TL;DR: I can :+1: his findings.

For those really interested:

- Among the database I investigated Only SQL Server and DB2 seem to support this, but DB2 only supports INCLUDE if UNIQUE is specified. The idea is that with INCLUDE you can add columns to create covering indexes without changing the set of columns

[2017-06-22 01:49] #8778 closed

[2017-06-22 07:06] Suriman commented on #1222
@divega Please, it is a must have.

[2017-06-22 11:07] Wain123 opened #8933 "Logging DbCommands: All parameters are '?'"
I have an ILogger with the following function:
[code]
DbCommands get logged and the CommandText looks correct, but all the parameter values are simply '?'. Here's a sample output from the Logger:
[code]

[2017-06-22 11:11] Wain123 opened #8934 "Logging DbCommands: Can the logger know which context executed the command?"
The ILogger has the following function declaration:
`void Log<TState>(LogLevel logLevel, EventId eventId, TState state, Exception exception, Func<TState, Exception, string> formatter);`
When logging a DbCommand, as far as I can tell, none of the parameters tell you which context executed the command. Is it possible to access this information in the logger?

[2017-06-22 11:17] cex-pnaik opened #8935 "Query: Skip/Take followed by GroupJoin throws 'must be reducible node' exception"
My application is in .net core pointing to 1.1.1 framework. DB provider which I am using is Pomelo.EntityFrameworkCore.MySql

The query which I am trying to execute is as follows:

[code]
The above query fails, at execution of AsEnumerable(). It throws 'Must be reducible node' error.

Exception details:

[code]
The above query works fine, after removing skip/take from it. I tested the query in EF5

[2017-06-22 11:22] josephjoychristopher opened #8936 "unable to add Enitity framework package in Class Library Project targeting .Net Standard 1.4"
unable to add Enitity framework package in  Class Library Project targeting .Net Standard 1.4.  Hence, i wount be able to decouple the EF in Class library

[2017-06-22 13:02] DannyMeister commented on #8923
You'll want to fix the spelling of AfterSaveBhevaior in the Read-only Api Changes section.

[2017-06-22 14:04] Wain123 opened #8937 "Request: Interception point after entities are created"
I have a query like this:
[code]
I would like to have an interception point after the constructors of all Posts are finished, but before DoStuff is first called. The latest interception point that's available to the ILogger is after the results of the query are fetched from the DB, but still before the constructors, so that's too early.

The reason I need this interception point is that I want to

[2017-06-22 14:21] smitpatel commented on #8933
By default EF doesn't put data in logs as the data may contain sensitive information. To get those parameter values, you need to chain `EnableSensitiveDataLogging()` after your `UseSqlServer` (or equivalent method)
e.g.
`builder.UseSqlServer("connectionstring").EnableSensitiveDataLogging()`

[2017-06-22 14:57] voronov-maxim opened #8938 "Asynchronous mode does not work"
Synchronous mode works, Asynchronous mode does not work

[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 1.1.2
Database Provider: SqlServer 1.1.2, InMemory 1.1.2
Operating system: Windows 7, Windows 10
IDE: Visual Studio 2017

[2017-06-22 15:29] ajcvickers commented on #8936
@josephjoychristopher What version of EF Core are you using?

[2017-06-22 15:31] ajcvickers commented on #8923
@DannyMeister Thanks.

[2017-06-22 15:34] ajcvickers commented on #8937
@Wain123 This is part of #626 which unfortunately didn't make it for 2.0, but is a high priority for us.

[2017-06-22 16:03] NPadrutt commented on #7777
Has anyone figured out a solution for this?

Since the next version targets .net standard 2.0 and I have a UWP to support this isn't a valid option until fall when they ship .net standard 2.0 for UWP.

[2017-06-22 16:17] isaac2004 commented on #7540
I started getting error out of nowhere (I did upgrade by VS2017 Preview verison, but doubt that has reference).

I have a Dot Net Core 2 Console App (2.0.0-preview1-005977) that I am using to do Migrations using Package Manager. The Context is in a .Net Standard 2.0(2.0.0-preview1-25301-01) CL. Here is my Context and the Factory

[code]

I have the Console Project as Startup and the Default Projec

[2017-06-22 16:24] bricelam commented on #8923
### Provider design-time packages removed

The `Microsoft.EntityFrameworkCore.Relational.Design` package has been removed. It's contents were consolidated into `Microsoft.EntityFrameworkCore.Relational` and `Microsoft.EntityFrameworkCore.Design`.

This propagates into the provider design-time packages. Those packages (e.g. `Microsoft.EntityFrameworkCore.Sqlite.Design`, `Microsoft.EntityFrameworkCo

[2017-06-22 16:41] #8721 closed

[2017-06-22 16:46] smitpatel commented on #7540
@isaac2004 - See https://github.com/aspnet/EntityFramework/issues/8731

[2017-06-22 16:50] anpete commented on #8938
@voronov-maxim Does this repro with when using the more conventional APIs? I.e. Without manually creating the query via our low level services.

[2017-06-22 17:30] voronov-maxim commented on #8938
@anpete No, this failed the test in my program

[2017-06-22 18:40] ErikEJ commented on #8923
Brice, I find it slightly confusing that you have mentioned a non-existing package in the sample csproj file, despite the coloring

[2017-06-22 18:46] myblindy commented on #8369
@smithaitufe that's not a solution, the point is to perform the ordering on the server side, *before* pagination.

[2017-06-22 19:31] anpete commented on #8938
@voronov-maxim Can you post that repro code? Will be easier for us to deal with.

[2017-06-22 19:48] smitpatel commented on #8935
First of all, `query2` is not used in above code. You are creating it but not enumerating it so EF will not execute it.

Removing that part, I took rest of the code and tried to repro using 1.1.1 packages
Query used
[code]
SQL Generated
[code]
Can you provide a complete repro which reproduces this issue?

[2017-06-22 19:52] bricelam commented on #8923
Agreed. I was hoping it would ~~strike through~~ the lines. Might need to find a better way to communicate. XML comments?

[2017-06-22 19:53] bricelam commented on #8923
EF Core design-time DbContext discovery changes
===============================================
There have been some changes made in 2.0 to the way EF Core discovers and creates your `DbContext` at design-time.

### New way of getting application services

The reccommended pattern for ASP.NET Core web applications has been updated for 2.0 in a way that broke EF Core's design-time logic. Previously

[2017-06-22 19:54] voronov-maxim commented on #8938
https://github.com/voronov-maxim/OdataToEntity/blob/master/test/OdataToEntity.Test/Common/SelectTest.cs#L51

workaround this bug, i run test in synchronous mode

[2017-06-22 20:01] smitpatel commented on #8935
Iterating over query2 gives the error.
Complete repro: (using EFCore.SqlServer 1.1.2)
[code]

This works correctly in version EFCore 2.0.0-preview1
Generated query:
[code]

[2017-06-22 20:09] smitpatel opened #8939 "Query: Make ExecuteSqlCommand consistent with FromSql patterns"
From https://github.com/aspnet/EntityFramework/pull/8885#issuecomment-310227289
FromSql now allows following patterns
- No format item with SqlParameter
- Format item with SqlParameter without name (generates parameter name)
- Format item with SqlParameter with name (reuse already given name)
- Format item mixed with SqlParameter without format item
- Format item missing 0 index with SqlParameter

[2017-06-22 20:11] anpete commented on #8938
Pasting in the relevant code:
[code]
Looks like a complex GroupBy case.

[2017-06-22 20:19] ajcvickers opened #8941 "Investigate if name/schema are the correct identifiers for store functions"

[2017-06-22 20:24] ajcvickers opened #8942 "API Review Updates for HasDbFunction, etc."
- [x] HasDbFunction
  - [x] Investigate adding HasDbFunction that takes an expression instead of a MethodInfo
  - [x] Remove name/schema from HasDbFunction in favor of leaving HasName and HasSchema on builder
- [x] DbFunctionAttribute
  - [x] Unseal
  - [x] Move to root namespace
  - [x] Change NotNull to NotEmpty on Name property
  - [x] Make `schema` optional in constructor
  - [x] Rename Name t

[2017-06-22 20:25] #8924 closed

[2017-06-22 20:25] anpete commented on #8923
### Model-level query filters

EF Core 2.0 includes a new feature we call Model-level query filters. This feature allows LINQ query predicates (a boolean expression typically passed to the LINQ Where query operator) to be defined directly on Entity Types in the metadata model (usually in OnModelCreating). Such filters are automatically applied to any LINQ queries involving those Entity Types, incl

[2017-06-22 20:26] maumar commented on #8369
Problem is in the include pipeline, so current workaround would be to write the includes by hand using joins. This is very painful however. The underlying problem doesn't seem complicated so I'm pretty sure it will get fixed before 2.0 is shipped.

[2017-06-22 20:44] ajcvickers opened #8943 "Unseal all attributes"
Because we don't seal things unless we really need to...

Attributes are:
* DbContext
* DbFunction
* DesignTimeProviderServices
* Migration
* NotParameterized

[2017-06-22 20:46] anpete commented on #8923
### DbContext pooling and explicit compiled queries

In EF Core 2.0 we added two new opt-in performance features designed to offer benefits in high-scale scenarios.

#### DbContext pooling

The basic pattern for using EF Core in an ASP.NET Core application usually involves registering a custom DbContext type into the dependency injection system and later obtaining instances of that type through co

[2017-06-22 20:48] ajcvickers opened #8944 "Change QueryCompilationContext.QueryAnnotations to ICollection"
And remove AddAnnotations

[2017-06-22 22:25] pmiddleton commented on #8942
I can make most of these changes tonight.

 DbFunctionBuilder.HasParameter and DbFunctionBuilder.ReturnType were added at the request of @AndriySvyryd.  They are needed if/when the ability to remove the default conventions is added.  HasParameter was originally GetParameter which allowed a fluent way to find a dbFunctionParameter.

For DbFunctionParameter the only property which the users need to

[2017-06-22 22:29] anpete commented on #8942
Thanks @pmiddleton!

This is exactly where we landed after some discussion.

[2017-06-22 22:36] anpete commented on #8923
### String interpolation in FromSql and ExecuteSqlCommand

C# 6 introduced String Interpolation, a feature that allows C# expressions to be directly embedded in string literals, providing a nice way of building strings at runtime. In EF Core 2.0 we added special support for interpolated strings to our two primary APIs that accept raw SQL strings: ```FromSql``` and ```ExecuteSqlCommand```. This new

[2017-06-22 22:39] anpete commented on #8923
@pmiddleton If you are interested in writing the announcement post for DbFunctions, you can write it here. Up to you, but I thought I would give you the option 😄

[2017-06-22 22:40] pmiddleton commented on #8942
Ok so these changes have been discussed already?  If so I can plow through them.

[2017-06-22 22:42] anpete commented on #8942
Yes, we do an internal API review when we get close to shipping. They are normally just with the core team, but only due to practical reasons. I'm curious would you have been interested in participating?

[2017-06-22 22:47] ajcvickers commented on #8942
@pmiddleton It's really great to work with a contributor like you. Keep up the good work!

[2017-06-22 22:55] pmiddleton commented on #8942
Yes I would have.  It would have been interesting to hear the thoughts/feedback on the feature set and api surface.

I fully understand why you keep the review limited, otherwise discussions could become unyielding and offtrack fast.

Thanks @ajcvickers

[2017-06-22 22:56] pmiddleton commented on #8942
Should these changes be made based on the dev branch?

[2017-06-22 22:58] ajcvickers commented on #8942
Yep, dev branch.

[2017-06-22 23:00] #8939 closed

[2017-06-22 23:05] divega commented on #8941
There is some variability on what is supported among the most popular relational databases but there is nothing special about functions that doesn't apply to tables. I think it is reasonable to have Relational assume that schema, function name and arguments are sufficient to identify a function.

Some database support packages (e.g. Oracle) which are installed in a schema, leading to objects from

[2017-06-22 23:23] pmiddleton commented on #8942
Should the file DbFunctionBuilder.cs be moved into the Builders subfolder as well as be placed in the Microsoft.EntityFrameworkCore.Metadata.Builders namespace?

[2017-06-22 23:37] SergeyBarskiy opened #8948 "DbContext.Update does not flag properties as modified when they are part of Unique Constraint"
Describe what is not working as expected.
DbContext.Update does not flag properties as modified when they are part of Unique Constraint, thus they are not included in update statements

### Steps to reproduce

I have a simple Person model:
public class Person
    {

        public int PersonId { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }

[2017-06-22 23:42] smitpatel commented on #8948
EF Core does not allow modifying values of an alternate Key. (Just like primary key)
If you are just looking to enforce uniqueness on properties then unique index would be a better choice.

[2017-06-22 23:44] ajcvickers commented on #8942
Yep. We try to keep folders aligned with namespaces, but sometimes things get out of sync and it doesn't matter too much. But yep, move it.

[2017-06-22 23:47] SergeyBarskiy opened #8949 "Delete statements to SQL Server do not raise exceptions when delete statement fails"
Describe what is not working as expected.
If I flag a row as delete and call save change, an error that is raised in SQL Server is not propagated to .NET run time

### Steps to reproduce
Create a row that has related data.
Try to delete this row using EF core by flagging an entity as deleted.
Here is the statement generated:
exec sp_executesql N'SET NOCOUNT ON;
DELETE FROM [Contacts].[People]
WHER

[2017-06-22 23:49] SergeyBarskiy commented on #8949
I had async in it accidentally

[2017-06-22 23:56] pmiddleton commented on #8942
Removing name/schema from HasDbFunction will cause some internal methods to no longer need name/schema as well.  Did you discuss if you want the removal to carry through the call entire hierarchy?

I don't see a reason not to remove them from those methods as well.

[2017-06-23 00:02] smitpatel commented on #8712
Poaching! :trollface:

[2017-06-23 00:14] smitpatel commented on #2079
The latest Mono release is: 5.0.1 Stable (5.0.1.1)
Also according to this chart https://github.com/dotnet/standard/blob/master/docs/versions.md
We would have never supported anything below mono 4.6
& mono 4.6 has APIs

[2017-06-23 00:32] mguinness opened #8952 "NotSupportedException missing for different contexts"
In previous versions of EF when using different contexts within a LINQ query, the following exception would be shown:

`System.NotSupportedException: The specified LINQ expression contains references to queries that are associated with different contexts.`

However with EF Core you now get the following exception:

[code]

### Steps to reproduce
The example below from [ConsoleApp1](https://github.

[2017-06-23 00:51] SergeyBarskiy commented on #8948
Thanks, @smitpatel
That is what I figured, but that this seems counter-intuitive to me.  Based on my experience alternate keys are used to control duplicates for user-entered data, whereas primary keys are typically system generated.  Based on this seems like I should be able to update alternate keys columns value or how for example the end user can fix a mistake made when inserting the data?

[2017-06-23 01:00] smitpatel commented on #8952
This reproduces but the reason for null exception is we are unable to find the entity type for given clr type. Looking at both the models, they do have all the types so it should not happen. There seem to be some bug in there.

This also happens for 2.0.0-preview1

[2017-06-23 01:01] #8926 closed

[2017-06-23 01:35] smitpatel commented on #8433
This reproduces in 1.1.2 packages (using SqlServer & inserting the data manually).
This works correctly in 2.0.0-preview1 package. (Postgre has package for 2.0.0-preview1, you can test that out)

[2017-06-23 01:35] #8433 closed

[2017-06-23 01:54] smitpatel commented on #8948
The main purpose of alternate key (which makes them different from unique index) is to be target of a foreign key constraint. In SqlServer alternate key or unique index are pretty similar but they are not interchangeable. Alternate keys enforce uniqueness using unique index only.

For your case, you just want to control duplicates then unique index is right thing to use. It will avoid duplicates a

[2017-06-23 03:14] pmiddleton commented on #8923
I'll take a crack at it.

[2017-06-23 06:48] anpete commented on #8909
@Tasteful I have made some progress on this. It is indeed to do with constant nodes in the expression tree. Normally when we see a constant node in the tree, it is because the value was in-lined in the query directly. E.g. a c# literal. Hence, we make the decision to not parameterize it because it is essentially hard-coded in the query. On the other hand, values coming from variables are captured

[2017-06-23 07:14] ErikEJ opened #8954 "Cannot use EF Core 2.0 preview in "classic" class library"
Trying to use EFCore.Relational 2.0-preview2-final in a .NET 4.6.1 class library fails:

Feed: https://dotnet.myget.org/F/dotnet-2-0-0-preview2-final/api/v3/index.json

*Error*
1>C:\Users\xxx\Source\Repos\ClassLibrary1\Class1.cs(10,32,10,41): error CS0012: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture

[2017-06-23 07:25] 10ARK-LeightonSutton commented on #7891
Adding the using statement solved my problem too - thanks.

[2017-06-23 07:27] cex-pnaik commented on #8935
@smitpatel My bad, I am actually iterating over query2, which throws 'Must be reducible node' exception. I have updated my question as well.

Let me test my code with EFCore 2.0.0-preview1, will update you the details.

[2017-06-23 09:41] cex-pnaik commented on #8935
@smitpatel After adding Microsoft.EntityFrameworkCore 2.0.0-preview1-final to my .net core project pointing to 1.1.1 framework, I get following exception in Program.cs.
[code]

[2017-06-23 13:05] ErikEJ commented on #8954
Yes, I need to use NuGet 4.3.0, which is only available in VS 2017 15.3 preview

[2017-06-23 14:50] ilya-chumakov commented on #626
As we don't have hooks yet, I would like to ask about `DbContext.Database.Connection.StateChange` event. Is it safe to subscribe on it without un-subscribe? What is `DbConnection` CLR object lifetime if EFCore is used in ASP.NET app? As I see, `IRelationalConnection` [is registered](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational/Infrastructure/EntityFrameworkRelationalSer

[2017-06-23 14:52] smitpatel commented on #8935
That exception probably suggests package mismatch. Did you upgrade all the packages from ASP.NET Core to 2.0.0-preview1?

[2017-06-23 15:14] ErikEJ commented on #8923
How about: EF Core 2.0 no longer works with .NET 4.5.1, but requires 4.6.1 ?

[2017-06-23 15:19] ajcvickers commented on #626
@ilya-chumakov When EF creates the DbConnection for you, then it's lifetime is the same as the DbContext--it will be disposed when the DbContext is disposed. You can also create your own DbConnection and pass it to UseSqlServer (or equivalent) in which case you can make the lifetime longer.

So, if your subscriber has the same lifetime as your DbContext and EF is creating the DbConnection, then th

[2017-06-23 15:19] AlirezaHaghshenas commented on #3797
@Spongman can you elaborate on the list? I'm fixated on Lazy-Loading and DBMS-side group-by execution. From the list, and my experience with more "trivial" usages, I think I can manage my serious projects with EF2.0+Lazy Loading+Group By. Can you please share your experience?

[2017-06-23 16:11] bricelam commented on #8923
(Added a comment about .NET Framework 4.6.1 to the .NET Standed 2.0 item.)

[2017-06-23 16:16] bricelam commented on #8954
Does manually installing the `NETStandard.Library.NETFramework` package help?

[2017-06-23 16:41] irejwanul commented on #5996
I had problem of EF core Migrations, when I tried to apply migrations for one Context ( i.e. In My Project I have more than one Context), then other Context also included in the Migration and prevented with error for Primary of the Models included in another Context. Not included in the Current Context (Migration to be Applied). The real bug was foreign key relation to one Entity of the other Cont

[2017-06-23 17:23] kzu commented on #1367
You can just install the `IFluentInterface` nuget package :). It even works in SDK-style projects :D

[2017-06-23 17:38] ajcvickers commented on #8923
### Attach can track a graph of new and existing entities

EF Core supports automatic generation of key values through a variety of mechanisms. When using this feature, a value is generated if the key property is the CLR default--usually zero or null. This means that a graph of entities can be passed to `DbContext.Attach` or `DbSet.Attach` and EF Core will mark those entities that have a key alrea

[2017-06-23 18:13] ajcvickers commented on #8927
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-06-23 18:14] ajcvickers commented on #8929
We think this is a bug in Microsoft.NET.Test.Sdk. Can you update to the latest version?

[2017-06-23 18:19] anpete commented on #8923
###  Warning as error for ignored Includes

A very common issue we see when looking at user LINQ queries is the use of ```Include``` where it is unnecessary. The typical pattern usually looks something like this:
[code]
One might assume that the ```Include``` operation here is required because of the reference to the ```Product``` navigation property in the ```Where``` and ```Select```  operations

[2017-06-23 18:22] #8935 closed

[2017-06-23 18:25] #8941 closed

[2017-06-23 18:26] ajcvickers commented on #8941
Thanks for doing the investigation!

[2017-06-23 18:35] ajcvickers commented on #8954
This should be fixed when the next public release of VisStu gets shipped. Please re-open or file a new issue if this still fails after the bits are available publicly.

[2017-06-23 18:49] ajcvickers commented on #8934
@Wain123 ILogger, while theoretically supporting arbitrarily structured data, doesn't really do this when used in the recommended way. It instead supports strings where some parts of the string are also added to state in a structured way.

For the 2.0 release, if you want to get events with correlation, then look into using DiagnosticSource instead. DiagnosticSource events have correlation IDs for

[2017-06-23 18:56] bricelam commented on #8870
We decided not to do anything special here. If you are using TFS, you should either checkout the model snapshot before adding a migration or use a local workspace which prevents TFS from making the files read-only.

[2017-06-23 19:01] bricelam commented on #8816
We decided to go with option 1: Keep everything as is, but create the directory if it doesn't exist.

That fact that [dotnet/sdk](https://github.com/dotnet/sdk) makes it difficult to override the value of `BaseIntermediateOutputPath` before it is used as the default value of `MSBuildProjectExtensionsPath` shouldn't be addressed by a feature in EF. I believe `dotnet restore` would also continue put

[2017-06-23 19:06] bricelam commented on #8205
@smitpatel the logic used by Microsoft.Data.Sqlite is `value.ToString(CultureInfo.InvariantCulture)` quoted as a string literal.

[2017-06-23 19:07] #8687 closed

[2017-06-23 19:14] smitpatel commented on #8375
#8094 would fix this too.

[2017-06-23 19:24] trevorchunestudy commented on #8474
I have had this problem so many times I shudder to count.  I still haven't figured out exactly the cause.  However, a few months ago I put together a [sample seed project](https://github.com/trevorchunestudy/netcore-ef6-seed) that mixes .net core (targeting 4.6.2) and regular class libraries that does not have this problem.

Recently, I was upgrading an older project to the new .csproj .net core p

[2017-06-23 20:39] #8712 closed

[2017-06-23 20:42] #8944 closed

[2017-06-23 20:56] maumar opened #8956 "Query: Query/Tracking: entities not being tracked for complex query with nested anonymous types"
query:

[code]

only tracks one entity (employee). I would expect order to also be tracked.

test present in QueryTestBase -> Where_subquery_anon

[2017-06-23 20:57] smitpatel commented on #8956
It should not track either.
It tracks E because of ReLinq optimization causing tree to be different.

[2017-06-23 21:02] smitpatel commented on #8956
Either it should track entities inside anonymous type at any level or never track.

[2017-06-23 21:03] maumar commented on #8956
we should be tracking the entities that are projected as part of anonymous type - it is useful in case user wants to return multiple entities in one query and then perform some sort of tracking-dependent operation on them.

[2017-06-23 21:04] maumar commented on #8956
same goes for DTOs etc

[2017-06-23 23:20] anpete commented on #8956
I'm rewriting how we do tracking :smile:

[2017-06-23 23:21] smitpatel commented on #8956
There you go. :trollface:

[2017-06-23 23:42] AndriySvyryd opened #8961 "Add PropertyBuilder access to DiscriminatorBuilder"
Currently to configure a facet on the discriminator column you would need to do this:
[code]

We could make this terser by adding an overload for nested closure:
[code]

[2017-06-23 23:45] ajcvickers commented on #8961
You're making it look worse than it is. 😸
[code]

[2017-06-24 00:28] maumar commented on #8157
more failing tests:

- [ ] Select_GroupBy_SelectMany
- [ ] Select_nested_collection_count_using_DTO
- [ ] Select_DTO_distinct_translated_to_server
- [ ] Select_DTO_constructor_distinct_translated_to_server
- [ ] Select_DTO_with_member_init_distinct_translated_to_server
- [ ] Select_DTO_with_member_init_distinct_in_subquery_used_in_projection_translated_to_server

all failing with the same underlyi

[2017-06-24 00:33] maumar opened #8962 "External: Dynamic fails on netcoreapp2.0"
failing tests:

- [ ] Select_GroupBy
- [ ] Select_GroupBy_SelectMany
- [ ] Select_nested_collection_count_using_DTO
- [ ] Select_DTO_distinct_translated_to_server
- [ ] Select_DTO_constructor_distinct_translated_to_server
- [ ] Select_DTO_with_member_init_distinct_translated_to_server
- [ ] Select_DTO_with_member_init_distinct_in_subquery_used_in_projection_translated_to_server

all failing with t

[2017-06-24 06:37] ErikEJ commented on #8954
@bricelam Yes, it does. @ajcvickers Thanks, I will muddle along with Brice's workaround (updating the SQL CE provider to preview2)

[2017-06-24 12:17] DMWOO7 commented on #6560
Still an issue in Visual Studio 2017 Version 15.2 (26430.12). Intellisense suggest me that we've a list. When I _blind type_ the attribute from the foreign relation, the IDE get it. But it's required to type the attribute manually without intellisense. Would be nice to have this fixed in VS, since Intellisense is a great feature of VS.

[2017-06-24 21:08] voronov-maxim commented on #8938
@anpete fix in https://github.com/aspnet/EntityFramework/pull/8965/commits/f116e0d38683845e732a3e76a7a5b9441f3b75d1

[2017-06-25 02:33] imuni4fun commented on #2266
I do hope this gets some attention soon.  TPT really is a critical requirement when consistency is more important than raw throughput.  There are often parts of an application that need throughput and should be optimized for that use case... at the same time, other parts can be fairly slow by comparison but it's critical that they be really concise and accurate and worth the wait.  Tracking variou

[2017-06-25 04:49] divega commented on #6560
@DMWOO7 a fix has been delayed to a future version. Please provide any feedback in the Roslyn issue linked above.

[2017-06-25 11:26] CADbloke commented on #4021
SQLite also supports JSON in `System.Data.Sqlite`: https://stackoverflow.com/questions/36671285/system-data-sqlite-cant-load-extension via the JSON1 extension: https://www.sqlite.org/json1.html

[2017-06-25 13:41] rockygorden commented on #8726
i faced this issue when i was trying to seed some values and trying to create the blog. Once i delete the migration folder the issue got resolved.

[2017-06-25 15:23] JonPSmith commented on #6990
Hi @ajcvickers,

I think this is a good change - it makes a lot of sense. Here is some feedback on the announcement.

I saw your [announcement](https://github.com/aspnet/EntityFramework/issues/8923#issuecomment-310728410), and I noted that:
- It didn't say in the title that `Update` has also been changed, although later in the announcement it talked about `Update`.
- Also, I don't think your annou

[2017-06-25 15:31] thedumbtechguy commented on #5595
Do we have support for this now in 2.0 preview 1?

Its a critical component of our design and we have to decide whether to use .Net or. Net Core based on this.

[2017-06-25 15:37] JonPSmith commented on #8889
Hi @bricelam,

I found your [stack overflow comment](https://stackoverflow.com/questions/44325002/ef-core-scaffold-dbcontext-doesnt-generate-stringlength-attribute) on changes to reverse-engineering a database in v2.0.0. Are there any other changes than setting `IsUnicode` to the `IModel` you build when you run `IScaffoldingModelFactory`?

It seems this change is too small to be added to the [Writ

[2017-06-26 05:09] Tasteful commented on #8909
@anpete Thanks for the proposed workaround, I will try to rewrite the code to user member access expressions instead.

This is "little tricky" to find as an developer that only is using the library. Are you consider to rewrite the internal part to also parameterize the constant expression node or does it exists any other smart thing to make better decission for real constants vs. local variables?

[2017-06-26 06:46] bison92 commented on #3910
You didn't have that much discussing when you were about to say that EF Core is production ready, did you?

[2017-06-26 08:05] maumar commented on #7131
assigning to @anpete since he is reworking this entire area

[2017-06-26 08:07] #7722 closed

[2017-06-26 14:54] wleader commented on #4373
I'm aware this item is closed, but its a top result for searching about In-Memory databases being shared between contexts in unit tests, so I'll add what I've learned.

I have a fake context that I use in my unit tests, and inside that class I've done roughly this:

`
protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
{
    base.OnConfiguring(optionsBuilder);
    options

[2017-06-26 16:19] bricelam commented on #8889
I don't think there were many changes to the `IModel`. (@smitpatel would know better.) Most of the fixes were just about generating better C# from it.

[2017-06-26 17:04] JonPSmith commented on #8889
Hi @bricelam. Thanks.

[2017-06-26 17:18] ajcvickers commented on #8401
This is fixed in the 2.0 code. The Deleted entity is still returned from the database (since it is still in the database) but it is no longer re-fixed up to existing tracked entities.

[2017-06-26 17:18] #8401 closed

[2017-06-26 17:51] ajcvickers commented on #8642
Self-assigning and will discuss with @Eilon

[2017-06-26 17:52] ajcvickers commented on #8887
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-26 17:53] smitpatel commented on #8642
I ran build.sh in loop over the Ubuntu agent where this was failing in CI. I still did not hit the error.

[2017-06-26 17:56] BrennanConroy commented on #8642
I can hit this on a personal VM by running just the Sqlite tests over and over. `dotnet test --no-build` on the Sqlite.FunctionalTests folder, build.sh takes far too long.

[2017-06-26 17:57] smitpatel commented on #8642
I ran on my VM over 500 times still did not hit it. It seems less like code issue and more like machine config issue.

[2017-06-26 17:58] #7798 closed

[2017-06-26 17:58] #8265 closed

[2017-06-26 17:58] #8465 closed

[2017-06-26 17:59] smitpatel commented on #8157
Rest of tests here are being tracked in #8962. It seems bigger issue in .netcoreapp2.0 rather than the way test is designed.
Closing this as changes required to tests are done.

[2017-06-26 17:59] #8157 closed

[2017-06-26 18:08] mackvatoloco opened #8970 "Disable _EFMigrationsHistory (HistoryRepository) when generating scripts in migrations"
While there are ways to customize the HistoryRepository (like renaming table, renaming columns, etc). There is no current way to disable the feature.

We currently use EFCore migrations to create the migrations files and the scripts for those migrations per provider (we use SqlServer and MySql providers). We never use EFCore migrations to modify the database directly. We build a tool that does tha

[2017-06-26 18:16] ajcvickers commented on #8962
Spend a few hours trying to get a repro of the .NET Core difference.

[2017-06-26 18:31] smitpatel commented on #8642
@BrennanConroy - Since you are able to get the repro, please get the log files like mentioned here https://github.com/Microsoft/vstest/issues/627#issuecomment-310286859

And provide them to vstest team for further investigation.

[2017-06-26 18:43] ajcvickers commented on #8923
@AndriySvyryd Can you work on your sections today--then we can hand off to @divega.

[2017-06-26 18:58] bricelam commented on #8879
Punting. These messages aren't essential for design-time. All the verbose messages outside of Logging will still be reported. The workaround is to configure your application's filtering to allow Debug messages if you need to see these messages at design-time.

[2017-06-26 19:06] anpete opened #8971 "Query: Investigate QueryModelExtensions.GetOutputExpression for completeness"
@maumar and I have some concerns about the existing logic. We could try and create tests that break it.

[2017-06-26 19:19] #8101 closed

[2017-06-26 19:20] pmiddleton commented on #8923
I didn't have time this weekend to work my section.  I will tonight, but if there is a close deadline someone else can take it.

[2017-06-26 19:24] smitpatel commented on #6025
Since `+` is overloaded in `DateTime` which uses internal code to computation the new DateTime & there is no direct translation available in `SqlServer`. (+ is not defined for datetime & time value).

The best work around to achieve this in SqlServer would be to use `DateTime.Add*` functions instead of `TimeSpan`. The query in first post can be re-written as follows to give same result.
[code]

If

[2017-06-26 19:26] ajcvickers commented on #1796
There are complications around doing this in our current code:
* Sometimes we have the connection string only, not an existing connection, in which case we don't want to clone at all
* Even after we clone, we would need to manipulate the connection to now point to master. This might always/sometimes fail, especially if the connection is open.

Given that this isn't really a major issue in EF Core

[2017-06-26 19:33] smitpatel commented on #6025
There are multiple issues around this area.
- The second exception comes from query because we generate local parameter of TimeSpan but when creating DbParameter we use inferred typemapping from the other column which is DateTime. And parameter of DateTime cannot be created with value of `TimeSpan`. Generally this error is not encountered because the types of both nodes of `BinaryExpression` are s

[2017-06-26 19:34] smitpatel commented on #6025
@divega - Can you put appropriate labels for this issue? I am not sure what is correct one.

[2017-06-26 19:58] ajcvickers commented on #7704
Verified that for 2.0, we don't set Size for these parameter types, and that when we do set DbType it is set to the correct value.

[2017-06-26 19:58] #7704 closed

[2017-06-26 20:07] AndriySvyryd opened #8973 "Query: Filter out entities that are using table splitting with a derived type"
Entities that are splitting the table with a derived type need to be queried with a filter on the principal type discriminator.

See `TableSplittingTestBase.Can_query_shared_derived()` and `OwnedQuerySqlServerTest`

[2017-06-26 20:13] ajcvickers commented on #7803
Verified that this repros in 1.2, but is fixed in 2.0.

[2017-06-26 20:13] #7803 closed

[2017-06-26 20:26] divega commented on #6025
@smitpatel I found myself copying the majority of the contents of the issue. I ended up repurposing it instead. Feel free to improve the title or the first comment.

[2017-06-26 21:03] anpete commented on #6059
Verified fixed in 2.0.

[2017-06-26 21:03] #6059 closed

[2017-06-26 21:05] anpete commented on #6603
Closing as customer confirmed usage issue at their end.

[2017-06-26 21:05] #6603 closed

[2017-06-26 21:08] anpete commented on #7131
@maumar We should be good here now, right?
@julielerman Are you able to give this a try on the latest nightly or Preview1?

[2017-06-26 21:11] anpete commented on #7222
We should investigate doing the parameterization thing we did for filters. I.e. always parameterize DbContext instances.

[2017-06-26 21:49] #7012 closed

[2017-06-26 22:56] anpete commented on #8001
I think this has all been taken care of with @ajcvickers rework of this area.

[2017-06-26 22:56] #8001 closed

[2017-06-26 23:02] anpete commented on #8909
Things we can do:

1) Allow SlidingExpiration to be set via Options.
2) Keep track of count of queries in cache and either warn, or call Compact, or both.
3) Add an Option that controls whether or not constants get parameterized.
4) Support ParameterExpressions in the parameterizer as a way to more easily get caching when building dynamic queries.

Punting for now.

[2017-06-26 23:03] anpete commented on #8817
We made a mitigating fix that should prevent this issue.

[2017-06-26 23:03] #8817 closed

[2017-06-26 23:07] ajcvickers commented on #7985
@AndriySvyryd Having trouble fully understanding this. If the key value of the dependent is null, then changing state to Unchanged without setting the key value should throw. Likewise, using Attach will mark the dependent as Added because it didn't have a key value set, assuming the key is generated. If the key is not generated, then it should throw like TrackGraph does.

What am I missing?

[2017-06-26 23:07] anpete commented on #8223
Closing as we haven't heard back and think this is fixed.

[2017-06-26 23:23] simeyla commented on #4007
@maumar Could you help me understand a little what exactly would cause the 'regression' here.

Here's what I'm wanting to do :

`Emails.Select(e => new Email { Subject = e.Subject, Tags = e.Tags.Select( t => new Tag { Name = t.Name }) } )`

Are you saying that I can filter, or order the Emails but not the Tags? Are there specific operations you know for sure would or wouldn't break it.

I'm planni

[2017-06-26 23:44] maumar commented on #8962
I was able to narrow it down to the following test method in our complex navs tests:

[code]

The method doesn't contain any reference to EF code, however I wasn't able to reproduce it in a standalone netcoreapp project, so there is something in a way our project is setup that's causing the issue. @smitpatel volunteered to take a stab at it, as he knows the infrastructure well.

[2017-06-26 23:51] smitpatel commented on #8962
😨

[2017-06-26 23:57] anpete commented on #8973
@AndriySvyryd What does this mean?

[2017-06-27 00:03] AndriySvyryd commented on #8923
### Table splitting

It is now possible to map two or more entity types to the same table where the primary key column(s) will be shared and each row will correspond to two or more entities.

To use table splitting an identifying relationship (where foreign key properties form the primary key) must be configured between all of the entity types sharing the table:

[code]

### Owned types

An owned

[2017-06-27 00:14] maumar commented on #4007
@simeyla problem is when you are projecting a collection navigation, so each email has a collection of Tags. EF core is not able to create a single TSQL query for this in general. We mitigate this in #8584 for the cases where the navigation is projected directly (i.e. doesn't have a filter or a projection) - we then convert it to include call.

To answer your question specifically: yes, you can fi

[2017-06-27 00:17] AndriySvyryd commented on #7985
@ajcvickers The principal has the key set. How can I attach the principal and the dependent as Unchanged?

[2017-06-27 00:20] AndriySvyryd commented on #8973
@anpete It will make more sense when https://github.com/aspnet/EntityFramework/pull/8976 is checked in

[2017-06-27 01:11] maumar commented on #4007
@simeyla here is a sample of how a manually created query (using joins) would look like:

[code]

It's quite tricky to write, but you can do filtering and custom projections on inner and outer collections. Basically the idea is to create a groupjoin, which pairs up the email entities and their tags - you can apply filter on emails directly (see: `where e.Id >3`, and filters to tags are applied on

[2017-06-27 01:46] maumar commented on #8531
@maganuk it's a duplicate of #4007, EF doesn't know how to efficiently translate queries with collection navigations in projection, like automapper produces here.

As a workaround you would have to fetch all the data beforehand and apply the projection into DTO on the client.

This produces 2 queries, regardless of the number of countries in the database:

[code]

Alternatively, you can write the

[2017-06-27 01:48] #8531 closed

[2017-06-27 04:34] pmiddleton commented on #8923
Here is a write up for EF Functions.  The fluent api registration mentioned below has not been accepted via PR #8953 so if that code changes we will need to update the registration instructions here.

Please modify the wording as you see fit, or let me know if anything needs to be altered for clarification.

### EF Functions

In EF Core 2.0 we added the ability to map methods to User-Defined Scala

[2017-06-27 05:16] Tasteful commented on #8909
@anpete Before adding call to `Compact` method from EF, consider this https://github.com/aspnet/Announcements/issues/228 where the auto call during Gen2 GC happend was removed due to issues in other areas.

[2017-06-27 05:25] CADbloke commented on #4021
some things I found on the topic for those looking to self-solve this...
http://www.reddnet.net/entity-framework-json-column/ which references https://stackoverflow.com/a/14785553/492 and links to source code now at https://github.com/NullDesk/TicketDesk/blob/ea1b7cb711989a2a2a9fc39d3753f695e7397bdc/TicketDesk/TicketDesk.Domain/TdDomainContext.cs#L104

[2017-06-27 08:51] fcin opened #8984 "Auto increment does not work in mysql"
Setting auto increment field in entity framework does not work with mysql. I found this issue when I was trying to save a basic model with two properties:

[code]

When I wanted to save a new user to mysql database I got an exception

[code]

I tried different combinations of `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` and `[Key]`, but with no luck.

These are all of my packages:
[code

[2017-06-27 11:22] dazinator opened #8985 "dotnet ef cli and msbuild tasks compiled for desktop msbuild"
My project (vs2017) targets net452, and I have installed `gitversiontask` nuget package, which includes an msbuild task compiled with msbuild targeting full .net desktop version of msbuild.

When I build the project through `msbuild` the project builds as the msbuild task can be loaded and executed.

When I build the project through `dotnet cli` the build fails, because a dotnet cli build is not a

[2017-06-27 13:28] julielerman commented on #7131
@anpete I'll run through my various scenarios and report back

[2017-06-27 13:39] BradBarnich commented on #8909
@anpete Thanks. I was running into this issue as well, using constants when building expressions from our internal query objects. Changing to member access made the process memory usage flat and improved perf quite a bit too.

[2017-06-27 15:30] ajcvickers commented on #7985
@AndriySvyryd When attaching, the primary key must be set. Because when you attach, you are saying that this entity already exists in the database, and hence already has a primary key value assigned.

If the primary key is in shadow state, and you disconnected the entity, then you need to carry the primary key with the entity in some way so that it can then be set again on the state entry before t

[2017-06-27 15:34] ajcvickers commented on #8984
This is an issue with the MySQL provider. Their issue tracker is here: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues

[2017-06-27 15:38] #7920 closed

[2017-06-27 15:46] ajcvickers commented on #8943
Discussed in triage and decided not to do this. If we ever get a request to unseal them, then we'll re-consider.

[2017-06-27 15:48] ajcvickers commented on #8961
Discussed in triage and decided not to do this. It's really no different from other cases at this level--like making a key and setting the property as store-generated. And we had previously decided to not add additional nested closures at this level.

[2017-06-27 15:53] #8686 closed

[2017-06-27 15:57] #8888 closed

[2017-06-27 16:10] anpete commented on #7131
Thanks!

[2017-06-27 16:11] anpete commented on #8909
Great to hear the workaround is somewhat acceptable. 😄

[2017-06-27 16:29] bricelam commented on #8985
Is using the PMC Tools (Add-Migration and friends) an option?

The CLI tool needs to read project metadata using `dotnet msbuild` in order to work.

[2017-06-27 16:38] Tasteful commented on #8909
@anpete I have some problems to get it to work. Not sure what I'm doing wrong, maybe you can point me in correct direction. I put a short example here https://github.com/Tasteful/bugs/blob/query-cache-example/MemoryUsage/Program.cs with 3 different methods to create the expression and only the one with `Constant` (method `CreateExpression`) is returning that expression is the same, but the express

[2017-06-27 16:41] anpete commented on #8909
@Tasteful Are you running parameter extraction over the ET first? I.e. Use ParameterExtractingExpressionVisitor to turn the member expressions into parameters.

[2017-06-27 16:54] Tasteful commented on #8909
@anpete No, I didn't. I was extracting the expressions that I run inside the DbContext-object and was thinking that the object was "ready to calculate hash on" I will rewrite and execute them in the DbContext to get the ParameterExtractingExpressionVisitor to run. I will come back with result.

[2017-06-27 17:08] Tasteful commented on #8909
@anpete When I run the code as a query in the DbContext it was working. Then I need to rewrite the unit test to also use the ParameterExtractingExpressionVisitor to test the specific methods that is creating the method. Thanks for the help.

[2017-06-27 17:13] julielerman commented on #7131
My tests (without the supporting classes, but hopefully that's enough) are failing with preview 1. Will check with nightly next. I've seeded my db so I know that there are 3 quotes total in there.

[code]

[2017-06-27 17:38] #7352 closed

[2017-06-27 17:40] smitpatel commented on #1671
Also, consider that DbContext writer does not generate namespaces for custom types at present.

[2017-06-27 17:48] julielerman commented on #7131
Status:
Using EF Core v2.0.0-preview3-25895
Also explicitly installed NETStandard.Library.NETFramework.2.0.0-preview3-25415-01
And had to install tuples library :) which is v4.4.0-preview3-25415-01
Still getting errors about tuple library missing. I see a new version of vs2017 preview just got pushed up a few hours ago. Will try that. I'm avoiding using .net core for this because that adds more la

[2017-06-27 17:49] ajcvickers commented on #7985
Changed the behavior for owned types where the state must match that of the owner, and the key values can be propagated said owner. Behavior for non-owned types remains the same.

[2017-06-27 17:52] ajcvickers commented on #8923
@divega I think all the submissions have come in now, so assigning to you to put it all together. Please bring others back as needed to make changes or add new info.

[2017-06-27 18:25] maumar commented on #8531
@maganuk for the second workaround (the complex case) you can get custom filters and projections on both outer and inner collections:

[code]

produces the following SQL:

[code]

[2017-06-27 18:34] maganuk commented on #8531
In ef6 we're actually apending a queryable extension at the end of the linq
statement for the filtering which generates the linq query based on the
odata filter.

I wonder if appending this to the query var will produce the same results.
Will try and report back.

On Tue, 27 Jun 2017 at 11:56 PM, Maurycy Markowski <notifications@github.com>
wrote:

[2017-06-27 18:46] AndriySvyryd commented on #7985
@ajcvickers I don't see why owned types would be different, the owned dependent is not required to exist as there's no way of enforcing it.
Carrying around the key values and setting them feels too cumbersome when dealing with an untracked entity graph. In the common cases the dependents will have the same state as the principal, and if not it's simpler to fix the state once the entities are track

[2017-06-27 18:56] maumar commented on #7755
I was unable to reproduce this, looks like a compiler issue that has been fixed underneath.

[2017-06-27 18:56] #7755 closed

[2017-06-27 19:04] maumar commented on #7808
also verified from my end, closing

[2017-06-27 19:04] #7808 closed

[2017-06-27 19:07] ajcvickers commented on #7985
I don't think we can say that an existing principal and an existing dependent is any more or less common than an existing principal and an new dependent.

Also, "an owned dependent is not required to exist as there's no way of enforcing it." I think we should discuss this since it seems to be contrary to the concept of an aggregate. That is, it's okay for some entity in an aggregate to not exist,

[2017-06-27 19:12] AndriySvyryd commented on #7985
We don't know whether the dependent will be new or not, but we do know that it will have the same key values as the principal.
We can detect the case where the shadow key values haven't been set as opposed to set to the default values.

[2017-06-27 19:18] ajcvickers commented on #7985
Agreed that we can tell what the key values should be, but that's not the real issue here. The issue here is what state the dependent should be put into. If we follow what we do everywhere else, then it will always be Added. That's going to be a pretty bad experience. Likewise, if we change what we do everywhere else, then it's going to be a bad experience everywhere else.

[2017-06-27 19:19] ajcvickers commented on #7985
I think we really need to decide what it means to have optional entities in an aggregate. @divega?

[2017-06-27 19:22] AndriySvyryd commented on #7985
We can either mark them as Added or the same state as the principal, just in this particular case. This would be enough to allow the user to then change the state to what it should be.

[2017-06-27 19:29] ajcvickers commented on #7985
@AndriySvyryd For owned types? Yes. The PR I sent out puts them in the same state as the principal. But based on previous comments we still need to understand if this might, at least sometimes, be wrong, since I think this impacts the entire experience of aggregates. @divega?

For non-owned types, I'm 99.999999% certain we will not change the existing behavior.

[2017-06-27 19:34] AndriySvyryd commented on #7985
By particular case I mean identifying shadow FK that doesn't have the values set. I don't think we should do this for owned types that have non-shadow keys, but that depends on what we decide wrt aggregates.

But I'm 99.999999% certain that owned types are not aggregates.

[2017-06-27 19:39] ajcvickers commented on #7985
Then what are owned types? If I have an owner and an owned entity, then together they form an aggregate.

We can't change the behavior in general for identifying relationships--that would be a massive breaking change.

[2017-06-27 19:46] julielerman commented on #7131
Here's my solution. There's a single domain class project. Then a pair of projects using Preview1-final and a pair of projects attempting to use the nightly build.

https://github.com/julielerman/EF-Core-Projection-Tests/

[2017-06-27 19:47] AndriySvyryd commented on #7985
An aggregate has more restrictions, as the one mentioned above. It would be implemented using owned types, but we don't have real aggregates yet.

Yes, if we propagate principal state it could be a breaking change for all code calling Attach on a graph that has identifying shadow FKs. But I find it hard to believe that this is a popular scenario, considering that we throw to shadow PKs found by co

[2017-06-27 19:52] ajcvickers commented on #7985
If the state ends up as Added, then we don't need to special case anything--the code as is works fine. If we start saying that entities that have a key in shadow state are going to be Unchanged, but if you move the key to the CLR type then the same code will result in Added, then I think this is extremely unexpected and goes against the general policy of shadow stateness--that properties in shadow

[2017-06-27 19:54] ajcvickers commented on #7985
With regard to aggregates, it was my understanding that the `OwnsOne` was the building block for aggregates support, just limited to certain relationship types for now. If that's not the case, then I think we need to discuss. @divega?

[2017-06-27 20:23] #8883 closed

[2017-06-27 20:38] AndriySvyryd commented on #7985
Marking them as Added would be fine, as long as this works:
[code]

We could treat shadow and non-shadow the same if we add API to mark any property as "Set" or "Not Set", this would also allow the users to save CLR default values to the database.

[2017-06-27 21:58] maumar commented on #8617
fixed in f45292f2fd1a0edc2c364dccac00cb242b6808ae

[2017-06-27 21:58] #8617 closed

[2017-06-27 22:15] #7783 closed

[2017-06-27 22:39] #7863 closed

[2017-06-27 23:05] #7901 closed

[2017-06-27 23:43] #8886 closed

[2017-06-28 00:55] divega commented on #7985
@AndriySvyryd @ajcvickers can't wait chat about this in person :sweat_smile: Hopefully the three of us will be able to meet in the office soon.

[2017-06-28 01:21] maumar commented on #8369
fixed in fafb2dd65d72b6495aca67eba2473f45789192d2

[2017-06-28 01:21] #8369 closed

[2017-06-28 01:21] oatkins commented on #7901
Great! Love the idea of having an analyzer warning about the possibly unexpected exception.

[2017-06-28 02:41] #8716 closed

[2017-06-28 03:43] shawnwildermuth opened #8994 "Requiring Microsoft.EntityFrameworkCore.Design for EF CLI?"
Describe what is not working as expected.
I'm curious why Microsoft.EntityFrameworkCore.Tools.DotNet requires Microsoft.EntityFrameworkCore.Design at runtime, but it's not a straight-up dependency? It makes it easy to forget to include the dependency. Is there a reason for that?

(This is for 1.x, not 2.0)

[2017-06-28 03:59] sjb-sjb commented on #7391
@ajcvickers can you provide a workaround showing how to call TryGetEntry ?
I am on 1.1.1 and having a hard time wending my way through the GitHub code to implement a function dbSet.TryFind( object[] primaryKeyValues) per your bullet #2 above.

Just like in EntityFinder.FindTracked, I want to return _stateManager.TryGetEntry(key, keyValues)?.Entity as TEntity, but I don't see how to get to there fr

[2017-06-28 11:39] Wain123 opened #8995 "Query: equality operator to entity typed as object should be translated."
The following code throws a System.InvalidOperationException: 'The EF.Property< T> method may only be used within LINQ queries.':
[code]
According to my logger, the SQL that gets sent to the DB selects ALL Posts, ignoring the Where condition. The error only occurs if the DB contains at least one Post.

[2017-06-28 14:40] ajcvickers commented on #8995
@Wain123 What version of EF Core are you using?

[2017-06-28 15:31] julielerman commented on #7131
SUCCESS!!

Finally got things sorted out so that I can run my tests against the nightly EF Core 2.0 build. And my tests for projections are passing:

![image](https://user-images.githubusercontent.com/5007120/27645600-7185587c-5bf4-11e7-87f5-14e545f4dacf.png)

There are two things I am checking for in my tests:

1) Related data retrieved via projection is being tracked. Earlier, it was getting ret

[2017-06-28 15:49] bricelam commented on #8994
Reason: NuGet. `DotNetCliTool` packages restore completely isolated from the project, so if we made `EFCore.Design` a dependency of `EFCore.Tools.DotNet` NuGet wouldn't put it where we needed it--in the project's dependencies.

At a super high level, `dotnet-ef` executes your project's code using an entry point in `EFCore.Design`. In order for your app to have that entry point at design time with

[2017-06-28 15:56] bricelam commented on #8994
We're also considering per-provider metapackages that include everything you need for a complete development experience in a single package. For example:

* Microsoft.EntityFrameworkCore.SqlServer.All
  * Microsoft.EntityFrameworkCore.SqlServer
  * Microsoft.EntityFrameworkCore.Tools (need [NuGet/Home#4125](https://github.com/NuGet/Home/issues/4125#issuecomment-268575442) to prevent publishing thi

[2017-06-28 15:58] #8942 closed

[2017-06-28 16:04] julielerman commented on #7131
Preview 2 in netstandard20 project tested via an MSTest netcoreapp2.0 project (just CLI + VSCode for this ...so much simpler :) )
All tests are passing

![image](https://user-images.githubusercontent.com/5007120/27647548-bbc4846c-5bf9-11e7-8d89-9ac03e90eeef.png)

[2017-06-28 16:05] bricelam commented on #8994
And just so all the bases are covered...

If DotNetCliTool packages didn't require putting the tool under `lib/`, and instead used something like `tools/netcoreapp2.0`, we could merge `EFCore.Tools.DotNet` into `EFCore.Tools` and there would just be two packages you'd need to care about: the provider & the design-time tools.

[2017-06-28 16:05] anpete commented on #7131
Thanks for the taking the time to try this out!

[2017-06-28 16:06] anpete commented on #7131
Closing as fixed in 2.0

[2017-06-28 16:06] #7131 closed

[2017-06-28 16:07] mehtanilay10 opened #8996 "No executable found matching command "dotnet-ef" even after adding CLI"
I want to Migrate my Database with Models. I am using EF Core 2.0 Preview.

[code]

### Packahe & Tools
I am already added all CLI and PM but still got error!

[code]

### Further technical details
EF Core version: 2.0 Preview
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10 15063.0
IDE: Visual Studio 2017 Preview

[2017-06-28 16:12] bricelam commented on #8996
Ensure...
1. You using the [.NET Core SDK 2.0](https://www.microsoft.com/net/core/preview#windowscmd)
2. You've ran `dotnet restore` on the project
3. You've `cd`ed to the project's (`*.csproj`) directory

[2017-06-28 16:19] mehtanilay10 commented on #8996
Yes, i am using 2.0 SDK and tried for dotnet restored on project but still got same error.

[2017-06-28 16:19] ajcvickers commented on #7985
Thinking of both complex type and aggregate scenarios, I think it would be very unfortunate if this throws an exception rather than doing a correct update:
[code]

Using this model:

[code]

This will work with the PR I sent, but not if the dependent is marked Added. And it doesn't involve the app developer having to know anything about setting special state and/or flags.

Interestingly, this will

[2017-06-28 16:22] Tasteful commented on #8909
@anpete I still have problem with rewriting the expression into usage of `MemberExpressions` to access the data. Should the below expressions work? (full repo: https://github.com/Tasteful/bugs/blob/query-cache-expression-not-working)

Code that is working but I'm not able to use due that I need to construct the expressions dynamic, (headline in output `Query cache is working, using the dbContext.M

[2017-06-28 16:34] mehtanilay10 commented on #8996
I am uploaded entire solution on github. CodeFirst is a project, which i want to Migrate and generate error.
https://github.com/mehtanilay10/EntityFrameworkCore

[2017-06-28 16:35] ajcvickers commented on #7391
@sjb-sjb If you're asking about public API for this, then there isn't any. The only option using the public API would be to use DbSet.Local, possibly also keeping your own map if needed for perf.

If you're willing to risk using internal APIs and are okay with reacting and updating when they break, then, try something like:
[code]

[2017-06-28 16:37] smitpatel commented on #8996
Align your package versions.
Either use preview1 packages or preview2. Mix of those are not supported.

[2017-06-28 16:39] smitpatel commented on #8996
Also to use `dotnet ef` correctly, you need to install `Microsoft.EntityFrameworkCore.Design` package.

[2017-06-28 16:49] divega commented on #8923
@ajcvickers working on it from yesterday, but I will get the blog post done first.

[2017-06-28 16:50] mehtanilay10 commented on #8996
Added ```Microsoft.EntityFrameworkCore.Design``` and also change all to packages to preview1 still facing same error!

[2017-06-28 16:51] anpete opened #8997 "Doc comments on builders refer to internal metadata types"
E.g.
[code]

[2017-06-28 16:54] smitpatel commented on #8996
Does running `dotnet build` pass?

[2017-06-28 16:57] mehtanilay10 commented on #8996
yes, project build successfully. ut gives only error for CLI

[2017-06-28 17:09] bricelam commented on #8996
...and you're certain `dir` lists your `*.csproj` and `dotnet --info` says 2.0.0?

[2017-06-28 17:11] bricelam commented on #8996
(I know these are stupid questions, but I honestly have no idea what could be going wrong.)

[2017-06-28 17:13] bricelam commented on #8996
You may need to follow up on [dotnet/cli](https://github.com/dotnet/cli). Something is going wrong before the EF code gets a chance to run.

[2017-06-28 17:16] mehtanilay10 commented on #8996
[code]

[2017-06-28 17:19] mehtanilay10 commented on #8996
If you want to check on my machine then i will give remote access, so you can see what's going wrong.

[2017-06-28 17:29] smitpatel commented on #8996
I cloned the repo posted.
Updated the `CodeFirst.csproj` as follows.
[code]

[2017-06-28 17:37] mehtanilay10 commented on #8996
@smitpatel Thanks a lot for solving this issue ;)
Finally it was removed error from CMD but when i am using package manager in VS 2017 15.3 it gives same error. May be this is VS's Issue.

[2017-06-28 17:43] smitpatel commented on #8996
By default Package Manager Console (PMC) is rooted at dir containing the solution file.
`dotnet ef` requires to be operated in directory containing `csproj` file. The only way to invoke `dotnet ef` in PMC, you need to manually cd into the correct folder where you csproj file is located. Changing anything else in PMC has no effect current directory.

For best user experience, use PMC commands for E

[2017-06-28 18:02] maumar opened #8999 "Query: projected collection navigations don't get tracked if the collection is composed on"
Related to #7131

We currently preform fixup if the collection is projected direcly (by using include pipeline), however if it's composed on, we don't.

e.g.:

[code]

We should either change the way we do fixup for those cases, or improve the logic that converts collection projections to includes to incorporate more cases (esp. filters)

[2017-06-28 18:37] anpete opened #9000 "Query: Investigate New T-SQL Functions in SQL Server 2017"
https://www.simple-talk.com/blogs/new-t-sql-functions-sql-server-2017/

[2017-06-28 18:57] #8857 closed

[2017-06-28 19:07] bricelam commented on #8599
Closing since this is tracked by #8853

[2017-06-28 19:07] bricelam commented on #8689
Closing since this is tracked by #8853

[2017-06-28 19:11] maumar commented on #8962
filed https://github.com/dotnet/coreclr/issues/12529

[2017-06-28 19:13] bricelam commented on #1671
Closing since this is tracked by #8853

[2017-06-28 19:28] shawnwildermuth commented on #8994
Thanks, perfect explanation

[2017-06-28 19:30] dazinator commented on #8985
Good idea i'll try the powershell approach

[2017-06-28 19:35] bricelam commented on #8569
This change feels risky. The Seeding PR made changes to IUpdateSqlGenerator to get this to work. Given where we are in the release, I think we should punt this.

[2017-06-28 19:41] natemcmaster commented on #8904
@ericsink can we move forward with a 1.1.7 update that rollsback to SQLite 3.18.0? Our timelines have shifted and it would be good to get this resolved sooner as we don't know when DRH will get around to 3.19.4.

[2017-06-28 19:45] ericsink commented on #8904
Yep.  I'll do it today.

Minor nit:  I plan to include 3.18.2, not 3.18.0.  I assume that's okay.

[2017-06-28 19:46] natemcmaster commented on #8904
Thanks. And yes, 3.18.2 is fine.

[2017-06-28 19:50] bricelam commented on #8994
lol, can you tell I've wanted to improve this experience for a while..?

[2017-06-28 19:52] pmiddleton commented on #9000
Is there currently a way to distinguish what version of sql server you are running against?  I have not seen one, but I might have missed it.

[2017-06-28 20:02] axelheer commented on #6159
Oh, we have `EF.Functions.Like` now. :metal:

[2017-06-28 20:23] ericsink commented on #8904
@natemcmaster SQLitePCLRaw 1.1.7 has been pushed to nuget.  It appears to pass everything in EFCore.Sqlite.FunctionalTests.

[2017-06-28 21:18] smitpatel commented on #9000
Reverse Engineering checks for it See here https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.SqlServer/Scaffolding/Internal/SqlServerDatabaseModelFactory.cs#L165

For runtime,
- Most things are explicit configuration. Like `MemoryOptimizedTable` If user specified fluent API then we assume that SqlServer supports it.
- For explicit downgrade case like `Fetch/Offset` not supported, user

[2017-06-28 21:23] natemcmaster commented on #8904
Great, I'll prepare the appropriate PRs to update.

[2017-06-28 21:24] anpete commented on #9000
Opting-in to version specific translations via options doesn't seem terrible.

[2017-06-28 21:31] #8264 closed

[2017-06-28 21:55] maumar opened #9004 "Query: compilation error for queries with Concat on two entities and Count"
query:

[code]

exception:

[code]

This happens because requies materialization detects that result converges to single value, and therefore query sources don't need to be materialized - however our current implementation of Concat/Union/Except/Intersect needs those query sources to be materialized, because the translation is on the client.

We should add compensation logic to cover this until we

[2017-06-28 21:58] AndriySvyryd opened #9005 "Enable optional dependents when using table splitting"
One way of doing this could be mapping the dependent FK to non-PK columns

[2017-06-28 22:15] maumar opened #9007 "Query: compilation error for queries with Concat on two entities and scalar projection on top"
query:

[code]

exception:

[code]

Looks like we are creating invalid QM that relinq can't quite handle when we ask for it's OutputDataInfo during tracking

[2017-06-28 22:24] maumar commented on #9007
The issue is introduced by `ConvertEntityQueryableToSubQuery`.

[2017-06-28 23:27] smitpatel commented on #9004
Can you post QueryModel for either of the issue?

[2017-06-28 23:34] natemcmaster commented on #8904
Ok. 1.1.7 is in. Thanks again Eric.

[2017-06-28 23:41] anpete commented on #8378
No longer crashes but doesn't look to be correctly applying the _Include call to the nested GB element selector.

[2017-06-28 23:50] ajcvickers commented on #8898
Leaving open to answer the WPF question.

[2017-06-28 23:50] #8899 closed

[2017-06-29 00:02] MichalStrehovsky commented on #8461
EF uses a feature of valuetuples that exposes a bug in .NET Native.

The bug is discussed in more detail here: dotnet/roslyn#18737.

It can be worked around by adding this line to your RD.XML (it's a file you can find in the Properties directory of your UWP project - it gets added automatically to every UWP project):

[code]

The underlying issue is that the SqliteDataReader class has a field that

[2017-06-29 00:05] ajcvickers commented on #8461
@MichalStrehovsky Thanks for the info. Clearing milestone to re-triage.

[2017-06-29 01:25] mguinness opened #9010 "Scaffolding nullable foreign key"
When scaffolding a Sqlite database, if the FK is nullable it doesn't define IsRequired(false) on the relationship.

### Steps to reproduce
With the following database schema:

[code]

The following relationship is scaffolded:

[code]

Since StateId field is nullable in Cities table, should it not have IsRequired(false) to indicate this is a not a required relationship?  If IsRequired() is absent,

[2017-06-29 01:50] smitpatel commented on #9010
What is the type of `Cities.StateId` property?

[2017-06-29 02:42] mguinness commented on #9010
This is the entire scaffold

[code]

[2017-06-29 02:48] pmiddleton commented on #9000
It does seem like the number of options you have to opt into is going to get rather large in the long run.  Something small like this would be nice if it just worked.

However if you need to opt in it does make things easier to implement because we don't have to figure out what database version we are running against to see if the functions exist.

[2017-06-29 04:26] bricelam commented on #7627
Marking for re-triag. The urgency is higher now that it produces so many restore warnings.

[2017-06-29 05:29] smitpatel commented on #9010
It defaults to the nullability of the FK property.

The foreign key property `Cities.StateId` is `long?` which is nullable CLR type. Therefore relationship will be nullable and there is no need for explicit code for that.
Scaffolding database, generates only required explicit Fluent API configuration. If given CLR classes in the model, if something will be configured by convention or default then

[2017-06-29 05:37] smitpatel commented on #9000
We support from SqlServer 2008 + so at this stage perhaps going into default of SqlServer 2017 wouldn't be possible. Perhaps at some point in future we can make it default.
The opt-ins are generally based on buckets rather than SqlServer version. But we can certainly create bucket for "features of SqlServer 2017" or something along those lines which makes sense from user perspective.

I believe, w

[2017-06-29 06:22] roji commented on #9000
I remember this discussion took place a long time ago (can't find the issue right now). PostgreSQL has also added some features over the years which make it tricky to support many versions back. Note that changes in the database's type system specifically can be covered by https://github.com/aspnet/EntityFramework/issues/7275 but there's nothing more general.

I think I can imagine what a general

[2017-06-29 07:29] DamirLisak opened #9012 "net-native: Queries with enumerators throws NullReferenceException"
I reference the issue [https://github.com/aspnet/EntityFramework/issues/8461](https://github.com/aspnet/EntityFramework/issues/8461) here:
After excluding the SqliteDataReader in Default.rd.xml the release-Version is now compilable.
But now, the following query throws a NullReferenceException:

[code]

Call-Stack:
[code]

With the debug-Version and the previous .net-native-Compiler / EF-Core-Versi

[2017-06-29 08:16] FrqSalah commented on #7077
I hjave the same problem under VS2017. My solution was to delete the variable Platform in Environment Variables. Also your must reboot your VS2017.

[2017-06-29 13:16] caleblloyd opened #9013 "2.0.0 Cast Errors due to dbReader.GetValues instead of dbReader.GetFieldValue<T>"
Working on porting [Pomelo.EntityFrameworkCore.MySql](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/tree/dev) to EF Core 2.0.0 in our `dev` branch

It looks like EF 2.0.0 is calling `dbReader.GetValues` now instead of `GetFieldValue<T>`

This is causing all kinds of InvalidCastExceptions.  For example there is no `boolean` type in MySQL so we store bools as `bit(1)`.  Then `

[2017-06-29 13:25] caleblloyd opened #9014 "Wrap Multiple Eager Loaded Queries that leverage Include in Repeatable Read transactions"
I am opening this issue against the behavior observed in EF Core 1.0.  I have not had time to investigate changes in EF Core 2.0 so if by chance this has been added already please let me know.

Eager Loading with `.Include` generates multiple SQL queries.  They are not inside of a transaction, however.  This means that between the queries, new records could be inserted affecting ranges in the `WHE

[2017-06-29 13:26] mguinness commented on #9010
@smitpatel Thanks for the explanation.  So based on [Required/optional properties](https://docs.microsoft.com/en-us/ef/core/modeling/required-optional) if that FK property was a string, then .IsRequired(false) would still not be emitted even though the database field is required?

[2017-06-29 13:33] caleblloyd opened #9015 "Support Async Transaction APIs"
@divega opened this to CoreFX a while ago: https://github.com/dotnet/corefx/issues/10975 but it doesn't look like there has been any movement.

Our ADO.NET provider, MySqlConnector has [BeginTransactionAsync](https://mysql-net.github.io/MySqlConnector/api/mysql-connection/), [CommitAsync, and RollbackAsync](https://mysql-net.github.io/MySqlConnector/api/mysql-transaction/)

We like to use them in

[2017-06-29 14:39] smitpatel commented on #9010
If the FK property was string, then its CLR type is nullable so by default it would be nullable column in database. But if the database column is required then we would emit code to configure that property to be required. (via one of the methods in the article you linked based on user's choice of data annotation over fluent API).

Once the underlying property in EF model is made required, if that

[2017-06-29 15:17] ajcvickers commented on #9014
@caleblloyd Can you post a specific example of how the wrong data is loaded? i.e. The SQL that gets generated and what inserts happen between the SQL statements that cause the data to be wrong?

[2017-06-29 15:23] ajcvickers commented on #9013
@caleblloyd Are you registering `UntypedRelationalValueBufferFactoryFactory`? If so, don't. The default is `TypedRelationalValueBufferFactoryFactory`, which should have the behavior you want. If you are using `TypedRelationalValueBufferFactoryFactory` and still see this behavior, then there may be a bug.

[2017-06-29 15:30] caleblloyd commented on #9013
Oops, yes we were registering `UntypedRelationalValueBufferFactoryFactory`.  Let me remove that and try

[2017-06-29 15:41] caleblloyd commented on #9014
Sure.  Consider the following query that fetches a blog and it's associated posts.  Assume that `id` is a randomly assigned GUID.

**LINQ Query:**

[code]

**Generated SQL:**

[code]

**Race Condition**

Now say between the 1st query that retrieves the Blogs and the 2nd query that retrieves the Posts, a new Blog is created that lands in the middle of the LIMIT(10).  It will cause the `INNER JOIN`

[2017-06-29 16:13] tsebastiani opened #9016 "Code First Models creating weird self referencing keys"
Hi,
I usually define relationships with fluent API in DbContext and they work properly, but I was wondering how to slim down a bit the context code using the EF relationship detection mechanism.
I've created a simple one-to-many relationship and I ran the migration, and I found a weird self referencing relationship.
In my context there are only this two references to the model and nothing else.
[c

[2017-06-29 16:31] smitpatel commented on #9016
Your property `Company.CompanyGroup` has return type `Company` which seems like typo. That is causing self-referencing relationship.

If you change the target type to `CompanyGroup` then there will be single one to many relationship.

[2017-06-29 16:32] divega commented on #9015
Thanks @caleblloyd for the information. I think we agree that the long term solution would be for the base ADO.NET classes to add these capabilities. Can you please make a comment in dotnet/corefx#10975 detailing what your MySQL provider could use?

Maybe there is something we can do on EF Core in the shorter term. We will discuss it in triage.

[2017-06-29 16:33] DamirLisak commented on #9012
@MichalStrehovsky : I tried to compile Microsoft.EntityFrameworkCore.Sqlite 2.0.0-preview2-final with my UWP-Project, but it brings a lot of errors that the Microsoft.EntityFrameworkCore-Namespace could not be found. I suppose that Microsoft.NETCore.UniversalWindowsPlatform currently support .net standard 1.6. When will UWP support 2.0?

[2017-06-29 16:38] #8879 closed

[2017-06-29 16:49] DamirLisak commented on #8598
**Does somebody know when Mono 5.0 will be shipped with VS 2017?**
I compiled sucessfully my android-App with Microsoft.EntityFrameworkCore.Sqlite 2.0.0-preview2-final (VisualStudio.15.Preview/15.3.0-pre.2.0+26606.0, Xamarin   4.5.0.481 (cb14994)). But the App crashes during the startup, because it coudn't find netstandard.dll.so, libaot-netstandard.dll.so, Mono.Posix, Version=2.0.0.0...

[code]

[2017-06-29 16:57] #8797 closed

[2017-06-29 17:22] mikeharder commented on #7627
Do we understand why 4.7 causes tests to fail?

[2017-06-29 17:48] caleblloyd commented on #9015
If #9014 gets fixed, then more transaction related code is going to get into `EFCore.Relational` and I think that it's important to allow providers to use Async transaction codepaths.

I opened a PR in #9017 with my idea about what this would look like as a solution for just EF.  Basically we move the async APIs that we want ADO.NET `DbConnection` and `DbTransaction` to their `EFCore.Relational` c

[2017-06-29 18:44] ajcvickers commented on #8272
Since this isn't directly tired to 2.0 and we will still be working on this post 2.0, moving it out of 2.0 for now.

[2017-06-29 18:48] smitpatel commented on #7627
#7907

[2017-06-29 18:49] ajcvickers commented on #7985
@divega Can you take a look at this today? I'm holding off merging the PR until we decide what the behavior should be for owned dependents, but I think we need to make a decision in time to do something for 2.0.

[2017-06-29 18:52] weitzhandler commented on #4424
How are the entities tracked in the client? Is there going to be an out-the-box solution for that? Any tools for client-side entities-graph tracking/pushing/merging/caching?

[2017-06-29 19:39] #8907 closed

[2017-06-29 20:00] #8938 closed

[2017-06-29 20:27] lajones commented on #6018
Fixed with #8989 - commit dc7d379af.

[2017-06-29 20:27] #6018 closed

[2017-06-29 21:03] anpete commented on #8378
Confirmed fixed.

[2017-06-29 21:37] #8893 closed

[2017-06-29 21:58] anpete commented on #9012
Looks like it could be a reflection issue. The throwing method is dereferencing a static field that is initialized like so:
[code]

[2017-06-29 22:13] anpete commented on #8973
I think we should consider reworking discriminators to be in-terms of QueryModel rewrites (like entity filters).

[2017-06-29 22:25] AndriySvyryd commented on #8015
This was fixed in c9c960041ab2944497b3c62949de5b61c67e7165. `HasDefaultValue( null )` now doesn't mark the property as ValueGeneratedOnAdd

[2017-06-29 22:31] ajcvickers commented on #8015
@AndriySvyryd But if you do this:
[code]
then it still fails--I have been thinking about how to make this work.

[2017-06-29 22:43] AndriySvyryd commented on #8305
See also https://github.com/aspnet/EntityFramework/pull/8865

[2017-06-29 23:02] AndriySvyryd commented on #8925
@smitpatel Poaching this

[2017-06-29 23:04] divega opened #9022 "Explore mapping database function feature with niladic functions"
Some databases like SQL Server offer functions that take no parameters and need to be called without parenthesis (these are called niladic functions). Some of them are CURRENT_TIMESTAMP, CURRENT_USER, SESSION_USER, SYSTEM_USER, USER, and the various @@-prefixed functions.

We should test if this can be made to work with the feature as is, or consider tweaks for it, and adding tests that call these

[2017-06-29 23:14] divega commented on #4319
Renaming since scalar functions mapping support has been added in 2.0 preview 2. Some of the remaining scenarios listed in this issue could be easier to tackle based on the work done in #7368.

cc @pmiddleton @anpete

[2017-06-29 23:34] AndriySvyryd opened #9024 "DbContextPooling is broken"
Test 'Microsoft.EntityFrameworkCore.DbContextPoolingTest.Concurrency_test' failed: Assert.InRange() Failure
Range:  (30 - 500)
Actual: 95657
	C:\enlistments\Universe\EntityFramework\test\EFCore.SqlServer.FunctionalTests\DbContextPoolingTest.cs(363,0): at Microsoft.EntityFrameworkCore.DbContextPoolingTest.<Concurrency_test>d__15.MoveNext()
	--- End of stack trace from previous location where except

[2017-06-29 23:37] smitpatel commented on #9024
Super flaky :trollface:

[2017-06-29 23:48] divega commented on #8272
Fair enough. Adding [area-eternal]. I think could choose to track in a milestone that fits the timeframe in which we want this completed.

[2017-06-29 23:53] smitpatel commented on #8615
Can we close this issue now?

[2017-06-29 23:54] smitpatel commented on #8205
This should be fixed in SQLite to allow lossless arithmetic operations.

[2017-06-30 00:05] smitpatel commented on #8446
@ajcvickers - This is not possible to investigate without #8759 should we move this out of 2.0 as well?

[2017-06-30 01:05] sjb-sjb commented on #7391
Thanks!

[2017-06-30 02:07] anpete commented on #9024
That number '95657' is not flakiness but something not working at all. Did something change?

[2017-06-30 02:34] mehtanilay10 opened #9027 "No database provider has been configured for this DbContext. Even after adding Dependancy Injection & Parameter less constructor"
I am trying to Migrate my database using EF Core 2.0 but got bellow error.
After searching added Parameter-less constructor, OnModelCreating(), OnConfiguring() Methods but still unable to locate Database provider..
[code]

### Steps to reproduce
I am attaching Statup.cs, Context, appsetting.js files. I am able to perform other EF operations like add/remove in same project means connection string i

[2017-06-30 03:12] bricelam commented on #8205
~~lossless~~ less lossy

[2017-06-30 03:18] bricelam commented on #9027
What does your `Program.cs` look like? See [this draft announcement](https://github.com/aspnet/EntityFramework/issues/8923#issuecomment-310484670) for a possible solution.

[2017-06-30 03:29] pmiddleton commented on #4319
I am going to start looking into TVF next.  I had a mostly working version back in January which I am going to revisit.

User-defined aggregate functions have the same syntax as scalar functions so they "should just work". :see_no_evil:   I can give it a try this weekend to verify.

[2017-06-30 03:30] bricelam commented on #7816
cc @axelheer (in case he's interested in submitting a PR for this)

[2017-06-30 03:40] sjb-sjb opened #9028 "Efficiency of notification change tracking"
@ajcvickers has a great blog posting on how to use notification change tracking with EF Core: https://blog.oneunicorn.com/2016/11/16/notification-entities-in-ef-core-1-1

However I have seen virtually no other discussion of this topic. What I would like to ask about is what the efficiency is likely to be in various scenarios. For example if I want to load 50,000 transactions into a client program

[2017-06-30 04:30] smitpatel commented on #9024
Options life time went from singleton to scope I think.
Though without any change the next run passed on CI. Also appveyor is working fine. So seems like one of the rare outlier on efci. We should make the test more deterministic.

[2017-06-30 04:41] anpete commented on #9024
We can disable the test. But we need to be confident that we haven't broken it.

[2017-06-30 05:52] divega commented on #7317
@bricelam [closed-fixed] but not closed?

[2017-06-30 05:52] divega commented on #8259
@smitpatel  [closed-fixed] but not closed?

[2017-06-30 05:52] divega commented on #8270
@smitpatel  [closed-fixed] but not closed?

[2017-06-30 05:53] divega commented on #8905
@smitpatel  [closed-fixed] but not closed?

[2017-06-30 07:14] Wain123 commented on #8995
EF Core 1.1.2.0

[2017-06-30 07:31] divega commented on #8688
Clearing up milestone. I would like to understand the impact of this better before we punt.

[2017-06-30 07:34] tsebastiani commented on #9016
Apologize for the issue, I completely missed the type and got confused because was creating the proper relationship even if the type was wrong.

Cheers.

[2017-06-30 07:39] divega commented on #7155
@MichaelKetting just in case, do you have any insights on this? Thanks.

[2017-06-30 08:18] MichaelKetting commented on #7155
@divega Ah yes. That one's on the todo list, too (https://www.re-motion.org/jira/browse/RMLNQ-108). I have some thoughts on how to integrte this without breaking changes and will get back to you with them as soon as I can put them into a structured form. Sorry things are so slow but there's a bit of an imbalance between the time available for the different projects going on right now.

[2017-06-30 08:32] divega commented on #7155
@MichaelKetting Thanks a lot for the quick answer and for pointing to the existing issue. I did not know that we had already reported it :smile:

This is not particularly urgent as we have already decided to punt it post-2.0.0, but it would will be great to know when you have a fix.

[2017-06-30 11:21] aghe commented on #8923
Throw for ignored includes is wrong. What if I need that additional data from include!?
Ex:
 var query = from item in _dataContext.Forms.Include(x => x.Localizeds)
                        orderby item.DisplayOrder
                        where item.Status == PublishStatus.Published
                        select item;

return query.AsNoTracking().ToListAsync();

This will throw error because it de

[2017-06-30 13:33] slubowsky opened #9029 "Query: Exception when using AutoMapper's ProjectTo: Message=variable 'x' of type 'Y' referenced from scope '', but it is not defined"
Using AutoMapper, generated SQL causes exceptions. Identical code works in Entity Framework 6.
See https://github.com/AutoMapper/AutoMapper/issues/2174

Not reproduced in the gist provided but at one point during my exploration I had it where the call to entity framework core simply never returned, I was able to see the generated SQL logged but then it never returned data and the program simply sa

[2017-06-30 15:00] anpete commented on #8923
@aghe Your example query will not generate the error because ```Localizeds``` is reachable from the final result of the query (```item```).

[2017-06-30 15:03] softlion commented on #2272
It has already been written there https://github.com/isukces/EfCore.Shaman

[2017-06-30 15:03] anpete commented on #9029
@slubowsky Just to confirm, the query works fine without AutoMapper in the picture?

[2017-06-30 15:23] brunoalreis commented on #629
@garfbradaz, I am using this workaround:
1 - Create a partial class with the same name of the migration class.
2 - In that partial class i create a method SeedDataBase that receives one argument of type MigrationBuilder
3 - In the migration class, in the end of the Up method, i call this.SeedDataBase(migrationBuilder)
4 - Inside the methods SeedDataBase , i call just migrationBuilder.Sql("INSERT I

[2017-06-30 15:25] bricelam commented on #7317
I use that to represent "out for review" so it doesn't show up in my TODO query.

[2017-06-30 15:37] divega commented on #7317
That is fine. I will keep it in mind for next time.

[2017-06-30 15:39] ajcvickers commented on #9024
DbContextOptions lifetime is still Singleton when using AddDbContextPool.

[2017-06-30 15:40] ajcvickers commented on #9024
Or at least, it is supposed to be. 😸

[2017-06-30 15:55] ajcvickers commented on #9028
@sjb-sjb Honestly, we don't have good data on this at the moment--it's on the backlog to do more perf testing in this area. If I were you I would run some tests with your code and see what you find. I would be interested to hear what you find.

[2017-06-30 16:02] slubowsky commented on #9029
If I do a straight projection, then yes:
[code]

This particular one does - but my real one, which is not completely duplicated here does not. It actually freezes (no exceptions, no return) whether I use AutoMapper or not. That may be a different issue. I wasn't yet able to duplicate that behavior in a simple use case (but I believe its related as my real use case builds on this one and adds more

[2017-06-30 16:11] ajcvickers commented on #8936
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-30 16:11] ajcvickers commented on #8927
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-30 16:12] mehtanilay10 commented on #9027
Now i am updated Program.cs file with below code but still facing same error.
[code]

[2017-06-30 17:03] bricelam commented on #8205
Fixed by aspnet/Microsoft.Data.Sqlite#381

[2017-06-30 17:13] #7317 closed

[2017-06-30 17:28] bricelam commented on #8205
This issue was moved to aspnet/Microsoft.Data.Sqlite#382

[2017-06-30 17:29] smitpatel commented on #8688
From what I understand of current codebase,
When scaffolding db, if the column is identity, we scaffold `ValueGenerated.OnAdd`. Which SqlServer by convention setups with identity. If column is not identity then `ValueGenerated.OnAdd` is not put and using key convention, we make `ValueGeneratedNever()` (unless some other code like Sequence marks it otherwise. So identity should just work fine (as @

[2017-06-30 17:30] divega commented on #8762
Clearing milestone just to double-check if we want to rename the repo now or wait until 2.0 ships. If the former, can create an announcement and rename the repo, but we need to update various references in cross-repo build.

[2017-06-30 17:38] divega opened #9030 "Discussion for announcement: EF Core 2.0: Warning as error for ignored calls to Include()"
This is the discussion thread for https://github.com/aspnet/Announcements/issues/256.

[2017-06-30 17:38] bricelam commented on #8688
Yes, the reverse engineered model is fully compatible with the database. The minor improvement would be to generate `.UseSqlServerIdentityColumn()` in the C# for non-key columns. This would make the model round-trip-able with Migrations.

[2017-06-30 17:45] Mertsch commented on #9030
I like the change, hunting down warnings in the log (like "this is run locally, not in SQL") is pretty tedious. So I'd rather have a clear break point and fix the issue immediately.

[2017-06-30 17:48] wizarrc commented on #9030
Love this. Anything that promotes correctness. I for one did not know that navigation properties in the filter clause would auto include. As long as the error message is easy enough to understand, and it should be easy enough to correct (just remove the extra include). A well worth breaking change. Any chance of getting design model checking?

[2017-06-30 17:57] divega commented on #8923
@aghe I responded with the same information to your comment in the blog post as well. There is now an announcement post with more details, hopefully it will be clearer. If you have any more feedback on this, I encourage you to post to the announcement's discussion thread. Thanks.

[2017-06-30 18:01] anpete commented on #9029
Is the complex freezing case an async query?

[2017-06-30 18:02] axelheer commented on #7816
@bricelam thanks for mentioning me! But I'm quite busy at the moment. :(

[2017-06-30 18:03] bricelam commented on #7816
lol, no worries. They pay me to fix bugs... 😉

[2017-06-30 18:04] divega commented on #9030
Technically, this does not "auto include" e.g. the object referenced in the filter just doesn't need to get materialized, while `Include()` is all about asking that extra objects get materialized.

We have talked about this sometimes but haven't done anything serious with it. Probably a good place to use Roslyn Analyzers. Would you like to create an issue for this and describe what you would want

[2017-06-30 18:06] smitpatel commented on #8259
I follow same as @bricelam - Once I sent out PR, I put closed-fixed label to remove issue from items to work on. And I close issues via PR with GitHub "fixes" syntax so I put label beforehand.

[2017-06-30 18:11] #8615 closed

[2017-06-30 18:19] pkellner commented on #9030
Agreed. My only concern is if this is a breaking change to code that might update from v1 without errors. Otherwise, include errors can have huge perf implications and finding them later is very frustrating/expensive.

[2017-06-30 18:23] ajcvickers commented on #8932
@AndriySvyryd Can you add a bit more explanation, like what we did in triage.

[2017-06-30 18:27] ajcvickers commented on #8970
We would consider a PR to add a flag --no-history, or similar.

[2017-06-30 18:32] ajcvickers commented on #8973
@anpete to write a note on details.
@smitpatel We should either fix this or throw an exception in, for example, model validation so we can fix it post 2.0 without it being a breaking change. Please don't take a long time on a complex fix--if the fix isn't simple, then let's go the throw route.

[2017-06-30 18:44] slubowsky commented on #9029
yes it is async

[2017-06-30 18:49] Reonekot commented on #9030
Agree with the previous comments and +1 for this breaking change.

[2017-06-30 18:50] wizarrc commented on #9030
@divega Thanks for the clarification. It makes sense that it can be filtered remotely but not projected aka materialized.

I think a Roslyn Analyzer is exactly the right technology for a query analyzer. Some quick thoughts would be to include query time estimations during construction so that you can get a feel for how long your query will take in rough orders of magnitude and with some sort of li

[2017-06-30 19:03] MisterFantastic commented on #9030
Please let know how many levels of child's will be considered like this ?
Parent.Where(e=>e.Child1.Where(d=>d.Prop1=="Test")).Select(o=>o.Child1)

[2017-06-30 19:09] AndriySvyryd commented on #8932
It's currently possible to do it manually by carefully planning out the changes. As the first improvement we could add a flag to validate that the new migration has no breaking changes.

[2017-06-30 19:09] anpete commented on #8973
@smitpatel The fix to try is to modify two places in relational that apply discriminator predicates to SelectExpression: MaterializerFactory.CreateMaterializer and RelationalEntityQueryableExpressionVisitor.DiscriminateProjectionQuery. What we need to do is expand the cases for when we introduce discriminators by taking into account any related principal ETs that are sharing the same table. For mo

[2017-06-30 19:10] ajcvickers commented on #8461
Closing this since it seems from comments on dotnet/roslyn#18737 this is being fixed in a timeframe that works for us.

[2017-06-30 19:13] anpete commented on #9029
Sorry you are hitting that. I think it is this issue: https://github.com/aspnet/EntityFramework/issues/8208

[2017-06-30 19:17] ajcvickers opened #9031 "Root cause pipes issue on SQLClient"
This has been an issue for years:

---- System.ComponentModel.Win32Exception : No process is on the other end of the pipe

After 2.0 is locked down, let's sync with the SqlClient team to try to get to the root cause and see if it can be fixed.

[2017-06-30 19:18] ajcvickers commented on #8985
Discussed this in triage and decided that ultimately the MSBuild task needs to be built to work with .NET Core. Beyond that, using VS/PowerShell approach may be the way to go. Closing since there is nothing actionable for EF here.

[2017-06-30 19:19] divega commented on #9030
@MisterFantastic can you clarify what you mean? I.e. considered for what? If you are asking how many levels of navigation can be used in a filter without having to use `Include()`, the answer is that it is not limited to a number of levels. `Include()` was never meant to be a way to bring objects into memory to make complex filters work. Filters can either be translated to SQL or part of them may

[2017-06-30 19:50] MisterFantastic commented on #9030
@divega that answers my question. I agree part of the filters may have to done in memory.

[2017-06-30 19:53] smitpatel commented on #8973
@anpete - I prefer the idea of converting discriminators to where predicates at query model level. At present, we are in the world where creating SelectExpression for EntityQueryable can give rise to "where" clause in Select. That causes issues with joins where a flat QM can also generated a complex Select which requires to be pushdown.
https://github.com/aspnet/EntityFramework/blob/f034d5d18e5766

[2017-06-30 20:17] AndriySvyryd commented on #8973
I'll add a validation rule for 2.0 so we don't waste time on a temporary solution.

[2017-06-30 20:32] anpete commented on #8973
Sounds good to me.

[2017-06-30 21:14] sjb-sjb commented on #9028
Thanks, I will let you know if I find out anything useful. I am still struggling with the data virtualization (for listview) and starting to wonder if it is worth it. Should I be knocking myself out writing a paging system for 50,000 records or should I just read 'em all and chew up the memory?

[2017-06-30 21:24] bricelam commented on #6887
The `MemoryOptimized` annotation is copied onto too many Migrations operations. Ideally, it should just be copied from `IModel` and `IEntityType`. All the other operations (except maybe `DropIndexOperation`) can look at the backing model to determine if they are for a memory-optimized table.

We may also need to allow them to be manually added to each of these operations for when the table was cre

[2017-06-30 21:40] ajcvickers commented on #8973
Thanks for investigating. Validation rule seems appropriate for 2.0.

[2017-06-30 22:13] slubowsky commented on #9029
Yes, that looks like it's probably my other ssue. Seems like that's going to come up a lot especially when people try to use AutoMapper and write mapping functions that won't work with async.
Interesting that the problem doesn't seem to occur (at least in my user cases) until .Net 2.0 preview 2. The same code runs without issues in. Net 1.1 and .net 2.0 preview 1.
In any event the bug actually des

[2017-06-30 22:30] #8921 closed

[2017-06-30 23:00] dazinator commented on #8985
Ok, thanks for giving it your consideration. Im going to help port that build task!

[2017-06-30 23:19] divega opened #9033 "Discussion for announcement: EF Core 2.0: design-time DbContext discovery changes"
This is the discussion thread for https://github.com/aspnet/Announcements/issues/258.

[2017-07-01 01:15] mehtanilay10 commented on #9027
However putting below method in Context work fine! But i want to use connection from DI not write inside Context, it is possible?

[code]

[2017-07-01 01:58] John0King commented on #9030
How you guys do paging ?
For me is:
[code]
Inside `ToPagedList`, it automatice  call  `.Count()`

Now you tell me the good of linq is gone, and I shuold rewrite the linq for a `.Count()` operation because `.Count()` will ignore `Author`  ?

[2017-07-01 02:29] robinkedia opened #9035 "EF Core 1.1.2 fail: Microsoft.EntityFrameworkCore.Query.Internal.SqlServerQueryCompilationContextFactory[1]"
Just trying to retrieve a record using username field. EF Core throws exception.

**Additionally, NO SQL Statement generated in Debug Console.**

[code]

### Steps to reproduce

[code]
[code]

### Further technical details
EF Core version:
 PackageReference Include="Microsoft.AspNetCore" Version="1.1.2"
 PackageReference Include="Microsoft.AspNetCore.Mvc" Version="1.1.3"
 PackageReference Include=

[2017-07-01 05:26] pmiddleton commented on #9022
This will not work with the way things are built right now, but it shouldn't be too hard to get working.

The biggest issue will be getting the metadata api right.  Having a flag for niladic is easy enough, but as you pointed out for Sql Server some of these functions need @@.  Now we need 2 flags.  This could balloon fast.

I'll take a look into this.

[2017-07-01 05:43] pmiddleton commented on #9022
Given that there is a finite number of this type of method in each database would it be more straight forward to have each provider just build them instead of trying to leverage the mapping feature?

Each provider could define extension methods on EFFunctions and then implement them via a IMethodCallTranslator.  The plus side is that we don't have to worry about defining an extension to the custom