[2016-03-27 15:36] gdoron commented on #3312
@rahulsahay19

    var model = UOW.Movies.Include(x=> x.Reviews).GetAll().OrderByDescending(m => m.Reviews.Count())

[2016-03-27 18:02] rahulsahay19 commented on #3312
This is breaking with the following exception.
![72nd](https://cloud.githubusercontent.com/assets/3886381/14066870/6c0f4e82-f473-11e5-9917-cb813ecba2b2.png)

however, when i am writing the below piece
var model = UOW.Movies.GetAll().Include(x => x.Reviews).OrderByDescending(m => m.Reviews.Count);
it is giving below error.
![73rd](https://cloud.githubusercontent.com/assets/3886381/14066890/371edbf6

[2016-03-27 18:18] rahulsahay19 commented on #3312
My Mistake done. Here is the completed code

 var model = UOW.Movies.GetAll().Include(x => x.Reviews).OrderByDescending(m => m.Reviews.Count)
                .Select(m => new MovieViewModel
                {
                    Id = m.Id,
                    MovieName = m.MovieName,
                    DirectorName = m.DirectorName,
                    ReleaseYear = m.ReleaseYear,

[2016-03-27 20:09] giancarloa commented on #4616
any sort of timeline on RC2? it's really hard building production apps using EF7 with this bug... thanks

[2016-03-27 20:26] GSPP commented on #4903
This will not cause any SQL Server query plan difference so it's just cosmetics. I think this is needed for correctness in the general case.

But this should be an `EXISTS` check instead of a `INNER JOIN` in the first place. We want all comments that are referenced by at least one selected post. SQL Server is not capable of introducing `EXISTS` dues to optimizer limitations. The `EXISTS` formulati

[2016-03-27 20:31] GSPP commented on #4882
This should not ever be in a transaction by default because this alters behavior in case of error. If this executes in a transaction by default there *must* be a way to opt out.

A practical case where this is important is if the procedure logs to a table in case of error. The logging would be rolled back.

[2016-03-27 20:33] GSPP commented on #4877
SQL Server has some optimizer weaknesses around `COUNT > 0` and `CASE WHEN EXISTS(...) THEN 1 ELSE 0 END > 0`. This forces, unfortunately, execution literally as written (a loop join).

Ideally, Entity Framework would not let such a patterns arise. Instead, it always should be plain `EXISTS`.

[2016-03-28 04:27] SherryDay commented on #2564
Hi Erik,
I already installed EntityFramework.MicrosoftSqlServer.Design 7.0.0-rc1-final , but when I run the Command `Scaffold-Dbcontext -provider entityFramework.MicrosoftSqlServer -connection "Server=(localdb)\mssqllocaldb;Database=EFGetStarted.ConsoleApp.NewDb;Trusted_Connection=True;"`

Still got error message
`Unable to find design-time provider assembly. Please install the EntityFramework.Mic

[2016-03-28 08:12] ErikEJ commented on #2564
I am note sure your issue is related - did you add the design dll to the correct project?

[2016-03-28 15:04] ar27111994 opened #4914 "Cannot update alternate key entity framework core 1.0 rc-1"
I'm using entity framework 7 or core 1.0 for my new project. In the products table, ProductName column is set as an alternate key (unique constraint). The problem is that I'm unable to update this column in the database. Here are the details:
[stackoverflow question](http://stackoverflow.com/questions/36200436/cannot-update-alternate-key-entity-framework-core-1-0?noredirect=1#comment60157013_36200

[2016-03-28 16:51] bruceyclee commented on #3925
looping myself too

[2016-03-28 16:59] ajcvickers commented on #4909
I'm wondering if the data annotations shouldn't have exactly the same semantics that they did in EF6? Isn't this inherit to their nature as independent from any given technology? If ForeginKey doesn't have a single set of semantics, then how do other technologies that want to consume the annotation decide what it means?

[2016-03-28 17:19] AndriySvyryd commented on #4909
@ajcvickers Are you saying the current behavior is the desired one or not?
In EF6 the FKA configured the properties iff the dependent side was configured.

[2016-03-28 17:21] divega commented on #4909
Actually for this particular scenario in EF6 you would get the following exception:

`An unhandled exception of type 'System.InvalidOperationException' occurred in EntityFramework.dll

Additional information: The ForeignKeyAttribute on property 'Author' on type 'ConsoleApplication43.Post' is not valid. The foreign key name 'UserId' was not found on the dependent type 'ConsoleApplication43.Post'. T

[2016-03-28 17:27] divega commented on #4909
Actually there might be things out there (other than EF6) that do reason about `ForeignKeyAttribute`. I would be surprise if they ever conclude that the name specified for an FK on a reference can be referring on the FK on the other side of the relationship.

[2016-03-28 17:30] ajcvickers commented on #4909
@AndriySvyryd It was more a general comment. There have been a few issues filed recently about the way data annotations work and I was saying maybe in general we should be making sure we don't change the semantics.

@divega If you make the relationship explicitly 1:1 (add another nav property) does it still throw with the old stack?

[2016-03-28 17:34] divega commented on #4909
If you add the navigation property on the other side you get this:

"An unhandled exception of type 'System.InvalidOperationException' occurred in EntityFramework.dll

Additional information: Unable to determine the principal end of an association between the types 'ConsoleApplication43.User' and 'ConsoleApplication43.Post'. The principal end of this association must be explicitly configured using

[2016-03-28 17:34] natemcmaster opened #4915 "Investigate test regression in SQL Client on Linux"
Possible regression in SqlClient? Started getting failures on Linux after upgrading version of SqlClient. Needs investigation.

[code]

[2016-03-28 17:38] ErikEJ commented on #4915
Is integrated security supported on Linux?

[2016-03-28 17:39] natemcmaster commented on #4915
No, it isn't. Our test never sets `integrated security = true`, but the test fails anyways.

[2016-03-28 17:59] ErikEJ commented on #4915
But the test set Trusted_Connection, which is an alias for integrated security: https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlconnection.connectionstring(v=vs.110).aspx

[2016-03-28 18:02] natemcmaster commented on #4915
@ErikEJ thanks for investigating. Yup, that's the source of the issue. Looks like this test was changed by @ajcvickers in https://github.com/aspnet/EntityFramework/commit/6c1c83949e184db648d7b80a4cc36d17a6d3f91c

[2016-03-28 18:05] ErikEJ commented on #4915
It looks like sqlclient silently ignored the invalid connection string before the update

[2016-03-28 18:53] smitpatel commented on #4852
This works fine in latest codebase.

[2016-03-28 18:54] #4852 closed

[2016-03-28 19:25] AndriySvyryd commented on #4703
This doesn't repro with the latest bits, so it was probably fixed.

[2016-03-28 19:36] AndriySvyryd commented on #4535
When running the tests several times and discarding the outliers I didn't see significant difference between the different sizes of client-side batches. But this scenario is slower in EF Core compared to EF6. I made some improvements in e2c765fdd31b612e521ead6b6916bf44db0024b7 and de0e79ec2ebe426692859684a4b5711cda5a7f9d, but still it's almost twice as slow.

[2016-03-28 20:09] #4895 closed

[2016-03-28 21:19] natemcmaster opened #4918 "Investigate possible unicode or threading bug in Linux/SqlClient"
Test fails on .NET Core/Linux but not Windows. Could be a UTF8, i18n, or async issue.

Would be good to separate out the issues and find the source issue.

[code]

[2016-03-28 21:36] mikary opened #4919 "Query intermittently produces incorrect results on timeout"
There appears to be an issue on the CI where several tests will fail due to incorrect results while others fail due to a `SqlException` "Timeout Expired." This appears to be a potential data corruption issue as the results are incorrect but no exception is thrown.

[code]

Several more examples in in the CI logs.

[2016-03-28 21:39] abatishchev commented on #4535
hey @AndriySvyryd, thanks for this work! looking forward for more perf improvements.

@rowanmiller do you have by chance any perf goals, baselines or tests? Just for better understanding where EF7 stands comparing to EF6, etc.

[2016-03-28 22:36] rowanmiller commented on #4535
@abatishchev yes we do, at this stage we are using EF6 as our baseline (and in most scenarios we test we are already faster than that). Given that EF Core has batching during SaveChanges, in cases where there is latency to the database (i.e  it's not on the same physical machine) then EF Core will generally perform better. We currently have benchmarks that target the update pipeline, and they are

[2016-03-28 23:16] smitpatel commented on #4868
The fix for #4141 fixes above partially. Specifically this is how the where clause would look like
[code]
It would be still incorrect syntax. While fixing #4141 I hit the same issue. I couldn't find exact words in the documentation but from what I have tried, it is not possible that result of case block is a Boolean condition.
If you can translate the query in T-Sql then please provide it.

[2016-03-28 23:35] smitpatel commented on #4868
Found T-Sql though it is very long expansion. It can be reduced using logical operators. Looking at the fixing it.
[code]

[2016-03-29 00:43] chinadragon0515 opened #4921 "Cannot add check whether collection is null with EF"
EF version 1.1.1

*_When trying to build IQueryable like *_
Source("People", null).Where(currentValue => (currentValue.PersonId == 7)).Where(Param_0 => (Param_0.Friends != null)).SelectMany(Param_0 => Param_0.Friends)

**I will get exception like which does not allow me to compare Collection,**, If I remove "Where(Param_0 => (Param_0.Friends != null))", there will be no issue.

• message: "Cannot

[2016-03-29 00:59] rcbevans opened #4922 "In-memory Sqlite, DbContext.Database.Migrate() throws exception SQLite Error 1: 'no such table: __EFMigrationsHistory'"
I am writing a UWP app (with tests) that makes use of EF7 and sqlite, and have run into an issue when the sqlite connection is to an in memory database.
### Functional impact

Migration fails when SQLite DataSource is set to `:memory:`, throwing exception SQLite Error 1: 'no such table: __EFMigrationsHistory'
### Minimal repro steps

View project [here](https://github.com/o0rebelious0o/EF7UWP-EFMi

[2016-03-29 07:07] #4094 closed

[2016-03-29 07:29] idg10 commented on #4822
In what I suspect is another manifestation of the same problem, I've found that if you use `Count` twice for the same entity set in the same query but with different criteria, the resulting query just has a single `COUNT` clause, the result of which gets used for both, when it should be creating two different `COUNT` clauses. (I'm using the SQL Server provider, in RC1.)

For example, something of

[2016-03-29 13:02] smitpatel commented on #4822
dupe of #3616 ?

[2016-03-29 15:48] bricelam commented on #4922
You need to externally manage the lifetime of in-memory SQLite connections. Once all of the connections are closed, the database is destroyed. For example, in your test initialization code, before you do anything with the database, you could call `_ctx.Database.OpenConnection()`. Then, in your test cleanup, call `_ctx.Database.CloseConnection();`.

[2016-03-29 16:07] maumar commented on #4822
Most likely, but will double check to make sure

[2016-03-29 16:21] #4474 closed

[2016-03-29 17:58] divega commented on #4919
@mikary to investigate if this is an issue with the seeding of the test database or something more concerning.

[2016-03-29 18:36] ajcvickers commented on #4502
Same root cause as #4501, so closing as duplicate.

[2016-03-29 18:36] #4502 closed

[2016-03-29 18:39] dazinator commented on #2213
I hit this error today (using RC1) - and it was because I forgot the `UseSqlServer()` call!

This makes me wonder - @atrauzzi - perhaps try changing the order of those calls so that `UseSqlServer()` is _after_ `AddDbContext` - that's just a hunch as I haven't actually tried replicating..

[2016-03-29 20:17] #4501 closed

[2016-03-29 20:21] maumar opened #4925 "Include :: Move logic that performs include into the projection lambda to bypass the limitations of AccessorFindingExpressionVisitor for some complex cases involving Coalesce and Conditional expression"
Currently in Include and ChangeTracking logic we use AccessorFindingExpressionVisitor to access entity that we should run include/tracking logic on. However this has limitations with regards to Coalesce and Conditional operators (where the same "position" in the result lambda can potentially return entities from different query sources (with different include/tracking settings).

Using current app

[2016-03-29 20:22] maumar commented on #3101
blocked by #4925

[2016-03-29 20:22] maumar commented on #3101
clearing milestone for retriage

[2016-03-29 20:27] lutsykigor opened #4926 "DateTime substraction and TimeSpan comparison cause "New transaction is not allowed because there are other threads running in the session""
Hi,

Just experienced problem with EF7 7.0.0-rc1-final, when tried to execute next query:

await context.Claimers.Where(c => c.Shares.Any(s => (DateTime.Now - s.Day).TotalDays < 90)).CountAsync()

I know that in EF7 there are no more DbFunctions and I can use datetime comparison as with in-memory collections, but this does not work.

I get "New transaction is not allowed because there are other th

[2016-03-29 20:36] maumar commented on #4755
works in current bits, closing

[2016-03-29 20:36] #4755 closed

[2016-03-29 20:40] maumar commented on #4753
This is still broken. However there is a simple workaround:

[code]

[2016-03-29 21:30] #4814 closed

[2016-03-29 21:35] maumar commented on #4744
duplicate of #4539

[2016-03-29 21:35] #4744 closed

[2016-03-29 21:36] maumar commented on #4539
@anpete @divega  multiple customers seem to be hitting this issue

[2016-03-29 21:47] maumar commented on #4744
@GunterGlad Currently a workaround is breaking this into two parts:

[code]

[2016-03-29 21:53] maumar commented on #4539
...on the other hand there is a workaround for this particular case - break this into two separate queries.

[2016-03-29 21:58] #4919 closed

[2016-03-29 23:29] maumar commented on #4921
@chinadragon0515  try:

[code]

or

[code]

[2016-03-30 00:05] maumar commented on #4640
Fixed in 7d27bf6527391cd46dbb09210f7e40f7998e549e

[2016-03-30 00:05] #4640 closed

[2016-03-30 01:14] maumar commented on #3616
@realavaloro the fix is not part of the RC1, we took a snapshot on the 18th. Also there is no easy way to update the packages to the nightly ones - you would have to move the entire project to the nightly packages and might have some stability problems at the moment. The best course of action is apply the workaround for now (produce two queries, each having just one aggregate).

We don't have the

[2016-03-30 01:15] maumar commented on #4822
Verified that it is a duplicate of https://github.com/aspnet/EntityFramework/issues/3616 and that it is fixed in the current bits, closing

[2016-03-30 01:15] #4822 closed

[2016-03-30 01:38] maumar commented on #4698
This no longer repros in current bits. Must have been fixed by one of the improvements to Include or Navigation Property handling.

This is the SQL that we now generate:

[code]

[2016-03-30 01:38] #4698 closed

[2016-03-30 01:40] maumar commented on #4900
This is a legitimate issue/limitation of EF currently

[2016-03-30 04:06] realavaloro commented on #3616
@maumar  Thank you. The workaround will be enough for now then.

[2016-03-30 05:41] chinadragon0515 commented on #4921
@maumar thanks for your suggestions, I did some try, for EF, if I added these, it works, but as the LINQ need to be executed with other provider, if I added this, I will get exception when execute with other provider, the exception will be as below, I still want to build a common LINQ for both provider to execute, so if we can add some null check here, it will be great.

type: "System.ArgumentNull

[2016-03-30 14:39] jnm2 commented on #2981
Notes: You must use `FOR XML PATH(''), TYPE`, other wise XML characters like `<`, `>` and `&` will be escaped into `&gt;` etc.

`for xml path(''), type).value('(./text())[1]', 'nvarchar(max)')` has much greater performance than `for xml path(''), type).value('.', 'nvarchar(max)')` (13.2x in my tests).

[2016-03-30 14:58] BeelzeBu commented on #4915
I have the same issue on OSX, the same code on windows works fine. Is there any sqlclient version the is working?

[2016-03-30 15:08] LorenDorez commented on #4899
I posted this on Stack Exchange as suggested. I would appreciate the discussion continueing there

http://programmers.stackexchange.com/questions/314266/are-repositories-needed-any-longer-in-asp-net-5-ef7

[2016-03-30 15:19] jnm2 commented on #246
Of interest: http://enterprisecraftsmanship.com/2016/03/30/value-objects-entity-framework-vs-nhibernate/

[2016-03-30 15:56] RickyLin commented on #4702
The same issue was fixed in Sql Server 2008 by installing service pack 4.

Microsoft SQL Server 2008 (SP4) - 10.0.6000.29 (X64)

[2016-03-30 17:24] skofman1 opened #4930 "Entire SQL connection string, including password is logged"
I'm using EntityFramework 7.0.0-rc1-final in my service, and found that the full connection string to my SQL DB, including password is logged:
`Microsoft.Data.Entity.Storage.Internal.SqlServerConnection: Opening connection 'Server=tcp:nuget-dev-stage.database.windows.net,1433;Database=nuget-dev-stage;User ID=admin@nuget-dev-stage;Password=**mypassword**;Encrypt=True;TrustServerCertificate=False;Co

[2016-03-30 17:51] AndriySvyryd commented on #4824
This doesn't repro with the latest bits, so it must've been fixed.

[2016-03-30 18:00] maumar commented on #4930
This is already fixed in https://github.com/aspnet/EntityFramework/pull/3800

[2016-03-30 18:23] AndriySvyryd opened #4931 "Port EF6 Data Annotations tests"
We want to know whether any semantics of data annotations has changed.

[2016-03-30 19:11] divega commented on #4891
@robbpriestley thanks for reporting this. Could you provide more data on how to repro? E.g. what operating system and exact version of our bits are you using?

If you are using Linux what you are seeing might be related to https://github.com/dotnet/corefx/issues/4273, but that issue is supposedly fixed in RC1.

[2016-03-30 20:04] divega commented on #4870
The database error page issue is already tracked as #4742.

@bricelam is working on making commands functional again but not sure if this "System.DllNotFoundException: Unable to load DLL 'sni.dll': The specified module could not be found. " is one of the problems we are tracking.

[2016-03-30 20:38] rustd commented on #4870
@divega can we please track this as part of RC2.

[2016-03-30 20:40] divega commented on #4870
@rustd #4742 (which you filed :smile:) is already tracked for RC2.

I will close this one as a dupe after confirming with @bricelam that the exception on the command is something that we know about.

[2016-03-30 20:43] rustd commented on #4870
Thanks! I wasn't sure this specific issue unique

[2016-03-30 20:45] divega commented on #4870
Confirmed with @bricelam that the inability to find sni.dll is likely another symptom of how commands are broken right now. That is tracked in #3925.

So closing as dupe.

[2016-03-30 21:05] maumar commented on #4867
This is fixed now. The query we produce is:

[code]

However, there are some limitations to the way we handle optional navigations currently. We are only able to translate one optional navigation to the server, everything after is done on the client (2nd and 3rd StartsWith, Skip, Take in this case)

[2016-03-30 21:05] #4867 closed

[2016-03-30 21:06] maumar commented on #4867
Here is the current query plan:

[code]

[2016-03-30 21:39] #4817 closed

[2016-03-30 21:58] #4885 closed

[2016-03-30 21:58] #4909 closed

[2016-03-30 22:03] AndriySvyryd opened #4934 "Metadata: make ClrType readonly"
This referes to `IMutableEntityType.ClrType` and `IMutableProperty.ClrType`. This will allow to remove `ICanFindEntityType.AddEntityType` and make the code simpler.

[2016-03-30 22:13] kuashe opened #4935 "Microsoft.AspNet.Identity.EntityFramework could not be found"
Issue opened here https://github.com/aspnet/Identity/issues/783

[2016-03-30 22:16] ajcvickers commented on #2985
Marking for re-triage. Should probably go to @rowanmiller to write a new message.

[2016-03-30 22:24] maumar opened #4936 "Query :: comparing collection navigation to null or another navigation throws"
Repro:

[code]

this throws during query compilation:

Unhandled Exception: System.InvalidOperationException: The property 'CustomerId' on entity type 'Customer' could not be found. Ensure that the property exists and has been included in the model.
   at Microsoft.EntityFrameworkCore.Query.EntityQueryModelVisitor.BindMethodCallExpression[TResult](MethodCallExpression methodCallExpression, IQueryS

[2016-03-30 22:27] ajcvickers commented on #4848
We currently have two different concrete sets of implementations of the members of IDbContextTransactionManager in our code: InMemoryTransactionManager, and RelationalConnection. The RelationalConnection implementations are shared by all relational providers.

The in-memory implementation has the ability to ignore/not ignore transactions and returns a null implementation or throws. It is conceivab

[2016-03-30 22:28] ajcvickers commented on #4848
Still think we should document why providers must provide an use their own classes for ValueGeneratorCache and ModelSource.

[2016-03-30 22:38] maumar commented on #4936
This is because the logic that processes collection navigation expects it to be wrapped in a subquery. It is usually the case, e.g.e.g.
ctx.Customers.Where(c => c.Orders.Count() = 3).Select(c => c.Name);

Orders.Count() would be wrapped, but in case of comparing a collection to a constant or another collection, the subquery is not introduced. We could could detect those cases and inject subqueries

[2016-03-30 23:01] maumar commented on #4921
@chinadragon0515 I just realized that you are using EF6, not EFCore.
In EF6 this behavior is by design. We don't reason about the types we don't know about. In EF6 the collection can be null or not, depending on how you wrote the constructor for the Person class.
Some people could write it like this:

[code]
 The framework doesn't know that at the time of translation, so it can't produce a correct

[2016-03-30 23:16] lajones commented on #4848
If `InMemoryTransactionManager` is meant to be used generally (e.g. by non-relational providers) should we move it into Core (and perhaps rename it)?

[2016-03-31 00:34] maumar commented on #4807
This works in the current bits, producing the following sql:

[code]

[2016-03-31 00:34] #4807 closed

[2016-03-31 00:49] maumar commented on #4655
this works in current bits, closing

[2016-03-31 00:49] #4655 closed

[2016-03-31 01:11] falconmick opened #4938 "dnx ef dbcontext scaffold json connection string?"
Hi guys.

In EF6 I used edmx as I used database first. This then would let me update the database and have those changes reflect in the DB first classes with ease...

Now with EF7 dropping support for edmx I have had to move onto using the command:
dnx ef dbcontext scaffold "Data Source=:D"  EntityFramework.MicrosoftSqlServer -c "KudosDbContext" -o "Model" -p "Kudos.Data" -v -a

This works fine an

[2016-03-31 01:19] falconmick commented on #4938
Just found this article and now understand that they didn't just remove edmx... They've removed the concept of DB first and decided to go lightweight and pro code first.

http://blogs.msdn.com/b/adonet/archive/2014/10/21/ef7-what-does-code-first-only-really-mean.aspx

I feel like fighting the dev's design goals is probably a bad idea. I will move away from DB first and try to start working as a co

[2016-03-31 02:58] falconmick opened #4939 "Adding Migrations/Listing DB Context when your DB Context isn't in the root"
Hey guys.

I have a DBContext inside of a folder like so ./Model/MyCustomDbContext

When I try dnx ef dbcontext list -p "MyCustomDbContext" -v i get the following error:
The project 'MyCustomDbContext' wasn't found. Ensure it's referenced by the current project.

But when I cd into the folder I get:
Error: Unable to resolve project from C:<path to proj><db project>\Model

This also happens for mig

[2016-03-31 07:31] rmja opened #4940 "FromSql() with "SELECT *" relies on returned column order"
I get invalid cast exception when selecting from a function using FromSql() where the order in which the columns are returned is not strictly the same as the order EF expects.

Consider the following example where ToListAsync() is right after FromSql() without any other filtering, etc.:
[code]
The generated SQL is directly:
[code]

However, if instead the query was:
[code]
then the columns are exp

[2016-03-31 09:32] ar27111994 commented on #4914
The update query is working fine in SQL server so it really is an Entity Framework issue.

[2016-03-31 09:34] satyajit-behera commented on #2266
@rowanmiller Hi, hope the team will start with this feature now. Thanks.

[2016-03-31 09:45] markusvt commented on #4029
Just a question for that "IsLoaded" property: are you implementing that only on a Single Property or also on List (so that i can see if a 1:n Relation is loaded)?

[2016-03-31 13:01] daveajrussell opened #4941 "Changes to derived entity property values are not updating, only parent properties."
Hi,

We're experiencing an issue when trying to update a derived entity. Taking a look at the entity in the change tracker we can see the values we're expecting to see, but when SaveChanges is called, only the parent entity properties are in the generated update statement.

Our setup is;
- Register EFDbContext in Startup
- EFDbContext inherits IdentityDbContext
- Consume it from a controller actio

[2016-03-31 13:44] ghost opened #4942 "Custom Identity EF Core 1.0"
Unable to  perform migrations Identity 3.0

`//Custom Class

[code]

OnModelCreating
`
            builder.Entity<ApplicationRole>(u =>
            {
                u.ToTable("Role");

[code]

Performing  dnx ef migrations add v0.0.1 it encounter this error message.

System.InvalidOperationException: The entity type 'Microsoft.AspNet.Identity.EntityFramework.IdentityUserRole<string>' r
equires a

[2016-03-31 14:54] divega commented on #4940
@rmja thanks for reporting this. We have code that is supposed to deal with arbitrary column order when `FromSql() ` is used without composition and the user SQL is sent to the server as is,  but I guess we must have a bug there. I suspect this might be the case with Inheritance but otherwise it would be helpful if you could provide a full listing of the model (and database) so we can repro on our

[2016-03-31 15:54] Tamayi opened #4943 "Exception when chaining Include and ThenInclude on optional one-many relationships"
I have an EF7 project with three classes:

`Characteristic` -> `CharacteristicValues` -> `CharacteristicValueAliases`
These are meant to model data used in a data warehousing exercise with data such as:
- [`Age`] -> [`5 years and above`] -> [`5+`, `5 years and older`, `5 plus`, `School Going Age`]
- [`Age`] -> [`1-4 years`] -> [`1-4`, `Preschooler`, `PreSchool Going Age`]
- [`Disease` -> [`Malaria

[2016-03-31 16:04] Tamayi commented on #4943
The class definitions: code-first conventions.

[2016-03-31 16:08] natemcmaster commented on #4915
Triage: this is blocking build on x-plat.
cc @cesarbs

[2016-03-31 16:22] robbpriestley commented on #4891
Hello @divega

Sure thing. I am running OSX and here's my `dnvm list`

[code]

I skimmed the [dotnet/corefx#4273](https://github.com/dotnet/corefx/issues/4273) issue and it does seem to be similar. At least my gut feeling is that `The connection is broken and recovery is not possible` is specific enough to suggest a connection. If it was fixed for Linux, perhaps not for OSX. (And, I'm entirely not

[2016-03-31 16:48] ErikEJ commented on #4915
@natemcmaster Why not change the connection string to use SQL authentication?

[2016-03-31 17:21] smitpatel commented on #4941
dupe of #4817 ?

[2016-03-31 17:47] ajcvickers commented on #4941
Agreed that this is most likely a dupe of #4817 which was fixed yesterday.

[2016-03-31 17:55] lajones opened #4944 "[RevEng] Revisit whether we need to generate HasComputedValueSql()"
See #4501 and #4923.

Given that, after #4923, the runtime dinstinguishes between the metadata for computed and default value columns, we should revisit the code in the `SqlServerDatabaseModelFactory` and ensure that we distinguish between default and computed columns as laid out in #4501 and ultimately generate the correct fluent API - perhaps in some cases generating `HasComputedValueSql()` inst

[2016-03-31 18:22] daveajrussell commented on #4941
Apologies fellas, seems I didn't look hard enough through the exisitng issues.

[2016-03-31 18:50] #4884 closed

[2016-03-31 18:57] divega commented on #4891
@robbpriestley MARS is the ability to process multiple active query results on the same connection at the same time. It is enabled in the connection string with this: "MultipleActiveResultSets=True".

I will move this issue to CoreFx since it seems to be a problem with SqlClient for .NET Core (and so that the right people can investigate) but please mention me if anything is required from the EF s

[2016-03-31 18:59] divega commented on #4891
This issue was moved to dotnet/corefx#7400

[2016-03-31 19:13] ajcvickers commented on #4915
@natemcmaster @divega I didn't intentionally change the behavior here. Can we just switch the connection string back to what it was?

[2016-03-31 19:14] rmja commented on #4940
@divega sure, here you go https://github.com/rmja/EntityFrameworkIssue4940

[2016-03-31 19:16] robbpriestley commented on #4891
@divega, I'm not sure exactly how related this is is .NET Core versus EF but thanks for your help. Hopefully the CoreFx folks can gain some insights.

[2016-03-31 19:23] divega commented on #4891
No problem.

To clarify, CoreFx is home for [SqlClient](https://github.com/dotnet/corefx/tree/master/src/System.Data.SqlClient), which manages the connection to SQL Server. When you switch between dnx451 and dnxcore50 the main thing that is changing is the SqlClient implementation that you are using. Since this works for you in dnx451 (i.e. on OSX this almost always means you are using the SqlClie

[2016-03-31 19:26] divega commented on #4915
@ajcvickers will give this a try.

[2016-03-31 21:06] divega opened #4949 "Update pipeline: Add tests for Sargability of non-Unicode string keys"
(Tracking this separately from query which is covered in #4686 since we have a fix for that one)

Update and delete operations on tables that have non-Unicode keys can have the same performance issues as query, since we always use the key to lookup the right row to update or delete.

I haven't tried this with parameters or measure the difference but running a couple of simple experiments with lite

[2016-03-31 21:08] ajcvickers commented on #4915
@natemcmaster I can't see how the change I made changed the connection string at all. It had Trusted_Connection=True before as well.

I think what is actually happening is that the new build of SQLClient is validating this when before it was not. Therefore I'll still go ahead and remove it.

[2016-03-31 21:27] manbearwiz opened #4951 "Order navigation property includes"
I'm attempting to use this syntax [shown in this](http://stackoverflow.com/a/26473557/2437516) and [this stack overflow post](http://stackoverflow.com/a/7528266/2437516)  to order child entities and it does not seem to work in EF7.

[code]

I am not entirely sure if this was even an intended feature in previous versions of EF and wondering if there is different syntax or or plans for this in EF7.

[2016-03-31 21:30] natemcmaster commented on #4915
@ajcvickers I suspected it was something simple like this and just haven't had time to find it myself.

@saurabh500 did the string builder behavior intentionally change to throw earlier on platforms where integrated security isn't supported?

[2016-03-31 22:05] saurabh500 commented on #4915
cc @corivera Was this your change which affected this?

[2016-03-31 22:13] corivera commented on #4915
@saurabh500 Yes, before we were only throwing an exception when checking for WindowsIndentity in Connection Pooling code.

[2016-03-31 22:15] corivera commented on #4915
@BeelzeBu The code checks if the parameter is being set at all
https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/SqlClient/SqlConnectionString.cs#L198

I'll open an issue to only fail when setting the parameter to true

[2016-03-31 22:36] smitpatel opened #4952 "Test: Verify unicode behaviour of parameters"
with f416dd9a71a5a6a69715b4ba40a37e6f9da751ef
we have added test `Non_unicode_parameter_is_used_for_non_unicode_column()` though our current testing framework (or may be logging too) does not allow us to see the type of parameter used.

[2016-03-31 22:41] divega commented on #4952
As far as I remember in EF6 we decided to log all parameter facets that were not set to their default values. Should we do something similar in EF Core?

[2016-03-31 22:43] smitpatel commented on #4686
#4937 added functionality to infer the Unicode-ness of string literal & parameters for common cases. (when one side of operator is Column/property).

[2016-03-31 23:22] divega commented on #4686
@smitpatel should we close this issue now? From my understanding of what you checked in, it doesn't seem that the explicit method is compelling anymore.

[2016-03-31 23:26] mrmeek opened #4953 "SQL Client: Unable to load DLL 'sni.dll'"
Downloaded latest CLI build (beta-2175), created new project with dotnet new, added aspnetcidev myget feed to nuget.config, added AspNetCore, MVCCore, and EFCore dependencies, created context and model for existing database, SQL Server query fails with:

      TRACKED: True
      (QueryContext queryContext) => IEnumerable<Product> _ShapedQuery(
          queryContext: queryContext,
          shape

[2016-03-31 23:26] smitpatel commented on #4686
There are complex cases which may not be inferred easily which may need method.
one example is this disabled test.
https://github.com/aspnet/EntityFramework/blob/dev/test/Microsoft.EntityFrameworkCore.FunctionalTests/GearsOfWarQueryTestBase.cs#L1014
The issue is we can infer the Unicode-ness when one side is property and traverse the other side like that but we still do not have concept of Unicode

[2016-03-31 23:43] ajcvickers commented on #4915
I have checked in a fix for this, but it seems our Linux C.I. is broken for other reasons, so I don't know if it has fixed the issue or not. I am marking as blocked for now.

[2016-04-01 00:52] o0rebelious0o commented on #4922
Yeah, didn't work quite like that, but along those lines.  That sorted it, cheers

[2016-04-01 07:09] Tamayi commented on #4943
The issue was related to a mismatch between the database and the model. The model was not expecting NULL values in a column which turned out to have been modified to allow null values. That said, the error message from EF was not useful in figuring this one out.

[2016-04-01 08:50] gedsol opened #4955 "Query: SELECT subquery order condition is ignored when filtering"
The following code yields different results when executing against DBCollection and in-memory List of entities:

[code]

[2016-04-01 09:25] tango-charly opened #4956 "Wrong SQL request with EF"
Hi,

I forgot to declare my ID as Identity in my SQL Server and i used_ CodeFirst From Database _to generate my entities.

So EF wrote :
`[DatabaseGenerated(DatabaseGeneratedOption.None)]`
`public int Id;`

I corrected my mistake with :
`[DatabaseGenerated(DatabaseGeneratedOption.None)]`
`public int Id;`
Or (never mind)
`public int Id;`

EF generated a good migration   :
`Id = c.Int(nullable: fals

[2016-04-01 10:16] divega commented on #4935
Closing as it doesn't seem EF related at first glance. We should follow up on the Identity issue.

[2016-04-01 10:29] divega commented on #4943
@Tamayi thanks for the explanation. We are planning to improve exceptions for cases like this before RTM. See #4289.

[2016-04-01 12:00] bragma opened #4957 "Query: Flatten unnecessary SQL subqueries, e.g. when Take() before projection"
Hi,
1. I'm aware that the position of take may correctly change the resulting query command because it changes the semantic.
2. I'm aware there are already many issues regarding take, but I've not found mine. Please forgive me if it's a duplicate.

Still I don't understand why the relative position of take() and select() change the query.

[code]

Produces the query:

[code]

While moving the take

[2016-04-01 16:24] mrmeek commented on #4953
After looking further I see this is not an issue with EF. Targeting System.Data.SqlClient directly and opening a connection throws the same exception ala dotnet/corefx#5252 and the issue probably belongs there

[2016-04-01 18:15] #4170 closed

[2016-04-01 18:15] #4776 closed

[2016-04-01 18:15] #4793 closed

[2016-04-01 18:19] sergeitemkin opened #4959 "Workarounds for missing GroupBy translation for large data sets"
As I understand, translating GroupBy into SQL hasn't been added to EF Core yet - https://github.com/aspnet/EntityFramework/issues/2341. However, I'm having difficulty coming up with good workarounds for something we're trying to do in our application.

Currently our goal is to dynamically select a property on an object to group by, and group by that returning a list of distinct groups and the numb

[2016-04-01 18:28] divega commented on #4957
@bragma thanks for creating this issue. Yes, I believe the reason the two queries generated are different is that we just haven't built the intelligence into our query pipeline to figure out that for the first query it could be possible to flatten the `Take()` operation and the projection together (or from a different perspective, lift the `Take()` operation over the projection to get the same que

[2016-04-01 18:37] AndriySvyryd opened #4960 "Add nested closure for property configuration"
Would be nice:

[code]

instead of

[code]

[2016-04-01 18:40] divega commented on #3993
This seems to be a dupe since we have decided to warn for RTM (tracked in #4783) and we need table rebuilds to work for any further improvement (tracked in #329).

cc @rowanmiller

[2016-04-01 18:52] divega commented on #4956
@tango-charly thanks for reporting this. In summary, it is not as easy as it looks: in order to add or remove an IDENTITY spec on a column in SQL Server you need to rebuild such table and that is a more complicated feature we are considering to do in the future. That is tracked by #329. For RTM we are planning to issue a warning when this situation occurs, which is tracked in #4783.

[2016-04-01 19:16] divega commented on #4942
This issue was moved to aspnet/Identity#788

[2016-04-01 20:12] #4074 closed

[2016-04-01 21:44] mikes-gh commented on #4686
General question...  How do I know when this fix goes to cidev.
I would like to test my senario.

[2016-04-01 22:07] #611 closed

[2016-04-01 22:07] #4730 closed

[2016-04-01 22:07] #4850 closed

[2016-04-01 22:18] divega commented on #4816
Talked to @bricelam and we don't believe this is a ship stopper for RC2 (he was planning to just test that things work as expected with a clean feed and the latest versions, etc.), so moving to RTM.

[2016-04-01 22:22] mikes-gh commented on #4900
Yes I saw this too.  Not a big fan of  ThenInclude.
It seems cumbersome to have to walk up the levels for multiple lookup tables for example and seems to lead to inefficient TSQL probably due to this.

A more fluent include system such as the mark ->  return<- concept (including filtering top request for EF6) would be fantastic.
I fear we may be stuck with this from RC2.
Will EFCore be allowed add

[2016-04-01 22:23] divega commented on #4881
Talked to @bricelam and this won't be a ship blocker for RC2. Currently there are assumptions in multiple places about the assembly (not only in EF Commands or even EF) and that is something we can address for RTM.

[2016-04-01 22:25] divega commented on #4577
Talked to @bricelam and while this is something we still hope will be fixed by changes to the CLI in RC2. However if that doesn't happen and we need to workaround the limitation we will only do it for RTM, so moving to RTM milestone.

[2016-04-01 22:41] smitpatel commented on #4686
@mikes-gh - 20401 was successful build number which took this commit in. It should be in cidev packages now.

[2016-04-01 23:29] bricelam commented on #2476
`dotnet ef database drop` was added by @laskoviymishka in PR #4657.

I attempted to add `Drop-Database` in PR #4907, but ran into issues marshalling script blocks across domain boundaries.

To complete this issue, we need to...

1. Add a way to get the database name and server from PowerShell (e.g. a `Get-DbContext` command)
2. Add the `Drop-Database` command. The code in [bricelam:fist](https://g

[2016-04-01 23:52] #2942 closed

[2016-04-02 04:07] mlorbetske commented on #3925
Looping myself

[2016-04-02 04:44] mtycholaz commented on #1156
I have this issue happening in 7.0.0-rc1-final. Working on finding why.

[2016-04-02 10:08] liddled opened #4964 "An expression of non-boolean type specified in a context where a condition is expected"
SQL error when querying nested collection.

[code]

Generated SQL produces error "An expression of non-boolean type specified in a context where a condition is expected".

I've added a comment where the statement should include '= 1' which fixes the problem.

[code]

[2016-04-02 10:09] ErikEJ commented on #4816
@divega Would this also affect the SQL CE provider (I only reference EFC.Relational)

[2016-04-02 10:26] gpeipman opened #4965 "EF7 with Asp.Net Core RC2"
I'm trying to get my web application running with RC2 of ASP.NET Core and CoreCLR. When my application loads Entity Framework and configures it I get the following error:

Application startup exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.MissingMethodException: Method not found: 'Void Microsoft.Extensions.Logging.ILogg

[2016-04-02 12:45] smitpatel commented on #4964
dupe of #4877

[2016-04-02 13:08] erichexter commented on #4021
I would like to see this support.

[2016-04-02 20:02] RobertDM commented on #1100
Just a vote for basic DbGeography support.

Our application (like many others I am sure) relies on the DbGeography datatype mapping to the geography type in SQL Server.

Very disappointing that an actual datatype, fully supported by EF6, would be de-prioritized for EF Core.    There isn't even a mention of it in the roadmap.

Please don't let this one slip through the cracks.

[2016-04-02 21:23] gdoron commented on #4780
@maumar @rowanmiller
Sorry for the extremely late response, my initial bug report was inaccurate (I was in the middle of testing it as my wife decided to give birth... and the cute baby "stole" all my free time).

Anyway, it seems not to be related to the  _null coalescing operator_ but EF in general has issues with mixing  `FromSql` with other Linq methods.
For example if I add `OrderBy` after `F

[2016-04-03 00:52] rposener opened #4966 "Using TFV with FromSQL query as inline with linq does not keep parameters"
Consider this Query:

[code]

The parameters to the TVF's are all the same even if passed in each.  I realize this is because of the naming is the same, but combined with the composability of LINQ this could be an issues in some places.  It would be perferrable if the FromSql could track and rename parameters if there is such a conflict.

[2016-04-03 05:53] patrickmichalina commented on #4461
:+1:
This would be a great feature and I currently suspect I am getting bizarre behavior due to the change tracker not being able to use getter-only properties.

[2016-04-03 07:16] divega commented on #4780
@gdoron first of all, many congratulations! :smile:

`FromSql()` currently doesn't support CTEs because the way we compose LINQ operators over SQL queries is by turning the latter into derived tables for new queries. If you use a CTE in a derived table or subquery you are supposed to place the CTE before the main `SELECT` clause not inside the parenthesis alongside the `FROM` clause!

Your query w

[2016-04-03 07:17] divega commented on #4780
Cc @anpete

[2016-04-03 08:36] gdoron commented on #4780
@divega Thanks.

I would change the error message to be more understandable it's because of the CTE.
I agree that View would be the way to go here, but since EF Core support for View is by tricking the Migrations and requires tons of hassle, I prefer not to use Views unless there is no other reasable option.

Just worth mentioning, using Select is being completely ignored.

e.g.

	public Task<List

[2016-04-03 15:04] mtycholaz opened #4967 "SQlite: Exception "ExecuteNonQuery can only be called when the connection is open.""
I've been running on the 7.0.0-beta8 and recently updated to the new rc1. I'm now getting this error, although I'm not certain why it's happening. I have a feeling it may be related to the backgroundtask thread and main application thread trying to access the database at the same time (maybe?).

Reverting back does solve my problem.

[2016-04-03 16:37] divega commented on #4780
In case I wasn't clear: You SQL query starts with the word "WITH",  not with "SELECT",  therefore it cannot be pushed down to a FROM clause to form a new query. Hence EF Core should execute you SQL string as is and then apply any additional LINQ operators in memory.

If you are actually seeing that the LINQ operators are not applied at all and the results coming out of `ToListAsync()` are the same

[2016-04-03 16:49] gdoron commented on #4780
@divega by ignored I meant the emitted SQL isn't effected by the Select, **and** the results returned are the same with or without the Select.

[2016-04-03 17:02] StefH opened #4968 "Select related entities throws "Value cannot be null. Parameter name: querySource""
Tested with _frameworks_:

-  dnx452
-  dnxcore50

Tested with _servers_:
-  SQLite
-  MicrosofSQLServer

<br/>

**BlogContext**
[code]

**Blog**
[code]

**Post**
[code]

Test code is:
[code]

I get this exception:
[code]
Test code can be found at : https://github.com/StefH/System.Linq.Dynamic/tree/master/Src/System.Linq.Dynamic.dnx.Tests

[2016-04-03 17:52] jeffmoretti86 commented on #3042
I have posted a solution on my blog for seeding data in EF7.  Feel free to check it out and use it.  http://coderhints.com/ef7-seed-user/

[2016-04-03 18:07] divega commented on #4780
Ok,  thank for reporting that! We will investigate but in the meanwhile a couple of things you can do to help:

- try our latest bits if possible to see if it still fails
- provide a small but complete repro

[2016-04-03 19:26] GunterGlad commented on #4744
Thanks for the suggested workaround. But we have a dynamic generated select (Use picks what they want to include). That then generates the Linq expression. So unfortunately we cant use that solution. But thanks for the suggestion.

[2016-04-03 21:01] gdoron commented on #4780
@divega here is a simple repro demo:
https://github.com/gdoron/Forums/blob/SelectFromFromSql/src/Forums/Controllers/HomeController.cs#L24-L32

Regarding testing using the latest bits, I'm afraid I currently don't have the time to upgrade to RC2 by searching for fixes for all the breaking changes.
Had there a tutorial showing how to upgrade from RC1 to devci, I would be happy doing so, until then,

[2016-04-03 21:17] aluanhaddad commented on #2852
Yes please.

[2016-04-04 05:49] Grinderofl commented on #4965
You need to use package "EntityFrameworkCore" version 1.0.0 rather than "EntityFramework" version 7.0.0

[2016-04-04 08:38] mo-esmp opened #4969 "Sub query with `let` keyword cause exception "Int64 Id' is not defined for type 'Microsoft.Data.Entity.Storage.ValueBuffer""
I have query like this:

[code]

when I run the query with EF version 7.0.0-rc1 I get this error:

[code]

Query works fine in LINQPad and here is generated TSQL:

[code]

[2016-04-04 10:50] Brian-Ding opened #4971 "EntityFramework.SQLite with UWP"
The tutorial [here](https://docs.efproject.net/en/latest/platforms/uwp/getting-started.html) talks about how to create a fresh new database in UWP.
but I would like to use a SQLite database file (x.db3) that I already had in UWP, the process in that link seems not working, any help plz?

[2016-04-04 14:19] BradleyDHobbs commented on #1368
Shouldn't this be a higher priority?

Especially for enterprise level applications that have a high number of many-to-many relationships.

It would be annoying to have to create two separate one-to-many relationships for each many-to-many relationship.

[2016-04-04 14:34] rmja commented on #4940
@divega can you reproduce the behavior?

[2016-04-04 16:40] bricelam commented on #3925
We finally took a new build of the CLI! We should be able to make more progress on this issue now.

[2016-04-04 16:53] bricelam commented on #4971
We're going to need a bit more info than this. :smile: What specific errors are you seeing?

[2016-04-04 16:56] ErikEJ opened #4972 "Unblocked!"
Just a heads up: With the latest build on cidev I am now able to update the package references in the SQL CE provider and I am even able to do so without clearing all existing package references... (this has been an issue for the last 9 months) - thanks probably to NuGet 3.4, I believe.

[2016-04-04 17:30] rowanmiller commented on #1368
@BradleyDHobbs it's just a matter of ordering that features make sense to add to the new EF Core code base. This is a high priority feature, but some of the other things we are working on make more sense to implement first.

[2016-04-04 17:47] natemcmaster commented on #4915
I just ran locally on Linux. Test passes. with your fixes @ajcvickers

[2016-04-04 17:56] rowanmiller commented on #4068
@1podProgrammer commands have a major overhaul in RC2, so things should be a lot easier once that ships.

[2016-04-04 17:57] rowanmiller commented on #4616
@giancarloa - no exact dates yet, we're still stabilizing things after moving from DNX to .NET CLI. We'll share dates when we have them.

[2016-04-04 18:18] rowanmiller commented on #4840
Dupe of https://github.com/aspnet/EntityFramework/issues/113

[2016-04-04 18:23] anpete commented on #4840
Not a dupe of #113. Looks like an issue in nav prop rewriting.

[2016-04-04 18:29] rowanmiller commented on #4882
We agree we should not create a transaction by default.

@mikary  can you verify that if you start a transaction then the command uses it.

[2016-04-04 18:33] anpete commented on #4856
Related to #4960

[2016-04-04 18:41] rowanmiller commented on #4939
I think you want `-c` for context rather than `-p` for project right?

[2016-04-04 18:43] #3638 closed

[2016-04-04 18:49] rowanmiller commented on #4959
@anpete @maumar any thoughts on this one?

[2016-04-04 18:51] rowanmiller commented on #4960
You can just write this already (which is shorter than the nested closure one :smile: )

[code]

[2016-04-04 18:52] anpete commented on #4959
@sergeitemkin Did you consider using FromSql for this?

[2016-04-04 19:04] rowanmiller commented on #4972
:+1:

[2016-04-04 19:06] rowanmiller commented on #4780
@anpete can you take a look at losing the composed LINQ after non-composable FromSql call for RC2

[2016-04-04 19:31] sergeitemkin commented on #4959
@anpete We considered FromSql with a fake entity that represents the desired shape, but is there any way to create an entity that EF can hydrate without having EF also create a corresponding database table that wouldn't serve any purpose?

[2016-04-04 19:33] #4915 closed

[2016-04-04 19:33] #4918 closed

[2016-04-04 19:36] anpete commented on #4959
@sergeitemkin Yes, the usual way is simply to delete the corresponding CreateTable from the generated migration. Long term, we are going to make FromSql work with unmapped types.

[2016-04-04 19:45] anpete commented on #4780
@rowanmiller Sure.

[2016-04-04 19:53] anpete commented on #4780
Confirmed the issue.

[2016-04-04 20:25] StefH commented on #4968
I'm using version "7.0.0-rc1-final".

[2016-04-04 20:31] sergeitemkin commented on #4959
Thanks for letting me know, as we weren't aware we could use FromSql with entities that don't come directly from a table. Given the dynamic nature of our use-case and the difficulty of translating it to a dynamic query for FromSql, we're going to stick with what we've got for now. However, given that our solution is far from ideal, we'd like to voice our request that translation of the GroupBy cla

[2016-04-04 20:51] rowanmiller commented on #4959
@sergeitemkin - yes, this is still a post v1.0.0 thing.

[2016-04-04 20:53] rowanmiller commented on #4968
@StefH thanks for the fantastic bug report... made our job a LOT easier! This is assigned to someone from our team to be fixed.

[2016-04-04 21:05] StefH commented on #4968
I'm glad I could help on this issue. Initially I thought this issue was related to not-supported lazy loading from EF.

[2016-04-04 21:26] #4789 closed

[2016-04-04 21:27] natemcmaster commented on #4802
No updated yet. Still blocked on packaging issues in .NET Core (using rc2 build 23931).

[2016-04-04 21:35] mikary opened #4975 "Query caches property name on EF.Property<T> closure"
When a query on a shadow property takes the property name as a parameter, the parameter name is cached on the first call and not respected in successive calls.

The following test fails on the second Assert:
[code]

Generated SQL (Second query still referencing `Title` and not `FirstName`):
[code]

[2016-04-04 21:41] rowanmiller commented on #4967
__EF Team Triage:__ This issue is lacking enough information for us to be able to effectively triage it. For a guide on submitting good bug reports, read_ [Painless Bug Tracking](http://www.joelonsoftware.com/articles/fog0000000029.html). _The most important elements to help us act on a bug report are example code/steps that reproduce the issue, the outcome/results you are expecting, and the resul

[2016-04-04 21:49] anpete commented on #4975
We need to add NotParameterizedAttribute to the propertyName parameter.

[2016-04-04 21:56] #4780 closed

[2016-04-04 22:01] rowanmiller commented on #4966
Hey,

The issue is that relying on the `@p0` syntax doesn't work when you compose things together. The parameter names are generated at the whole query level and not just the `FromSql` method level. So the `""` in your second call to `FromSql` is probably called `@p1`.

After discussing this, we are going to stop using that syntax in our documentation and use the `{0}`, `{1}` syntax instead - whic

[2016-04-04 22:03] rowanmiller commented on #4965
As mentioned by @Grinderofl , this is a mixed-versions issue. If you are using RC2 of ASP.NET and CoreCLR you need to also use the 1.0.0-rc2-* version of the EF packages. Note the packages are also renamed (`EntityFrameworkCore.SqlServer`, etc.).

[2016-04-04 22:13] rowanmiller commented on #4849
Closing as these are internal types. They can be changed in the future if needed.

[2016-04-04 22:17] rowanmiller commented on #4851
We probably don't want a "just Include everything" switch, since then you would quickly end up with the entire database loaded into memory. But we do have a couple of existing features that we want to implement that would help here. Rule based eager loading would require setup, but avoids having to explicitly include stuff all the time (https://github.com/aspnet/EntityFramework/issues/2953). We al

[2016-04-04 22:51] divega opened #4976 "FromSql(): Support passing a preamble SQL string"
Currently whenever `FromSql()` detects a SQL string that does not start with the word `SELECT`, it treat it as a non-composable query and it evaluates the rest of the query on the client side.

Some SQL constructs such as Common Table Expressions are fully composable but cannot be treated like normal SELECT statements in that they cannot be simply pushed down inside FROM clauses to become derived

[2016-04-04 22:53] divega commented on #4780
I have created #4976 to track the idea that should enable CTE composition.

[2016-04-04 23:26] smitpatel opened #4978 "Query: Infer unicode-ness for literals in complex cases"
#4937 introduced logic to infer Unicode-ness for literals when comparing to column. It works well for simple cases when one side of comparison is ColumnExpression. Though there are complex cases in which we are not inferring the information correctly atm. For e.g.
1. If one side of binary expression is subquery selecting one element of a column then the other side should have same facets as the co

[2016-04-04 23:26] smitpatel commented on #4686
filed #4978 for complex cases. Closing this.

[2016-04-04 23:26] #4686 closed

[2016-04-04 23:27] #4868 closed

[2016-04-05 02:08] rposener commented on #4966
Great - thanks for the response and info.  I really like where EF core is headed - was excited to see the FromSql extension at your talk at Build.

[2016-04-05 02:55] Brian-Ding commented on #4971
![1](https://cloud.githubusercontent.com/assets/11363173/14269961/2c49577a-fb1c-11e5-894b-bcf2a68ec5d7.png)
instead of "Blogging.db", i tried both "myDatabase.db3" giving me an error of "cant find xxx table" or "ms-appx:\\\myDatabase.db3", which shows an error of cant open the database

any thoughts on that?

[2016-04-05 04:03] Bartmax opened #4979 "Updated project from RC1 to RC2. Invalid object name 'TableName'"
and when launching I get this error:

[code]

database has correct schema/data

Modification i made to the project:

on project json.

[code]

startup.cs:

[code]

I had to add a new constructor to dbcontext like this:

[code]

and I don't remember anything else I changed (related to ef)

dnvm list

[code]

dotnet --info

[code]

testing running it doing `dotnet run`.

[2016-04-05 05:17] mtycholaz commented on #4967
Here's the message and stack

ExecuteNonQuery can only be called when the connection is open.

`   at Microsoft.Data.Sqlite.SqliteCommand.ExecuteNonQuery()
   at Microsoft.Data.Entity.Storage.Internal.RelationalCommand.<>c.<ExecuteNonQuery>b__13_0(DbCommand cmd, IRelationalConnection con)
   at Microsoft.Data.Entity.Storage.Internal.RelationalCommand.Execute[T](IRelationalConnection connection, Fu

[2016-04-05 06:05] divega commented on #4979
@Bartmax this is just a guess but is the correct name of the table "Announcement" (without the "s")? For RC2 we are making a change to automatically infer the default names from the names of the `DbSet<TEntity>` properties of the `DbContext` so you may need to explicitly specify the name of the table if want to keep the same name you had in RC1.

[2016-04-05 06:17] divega commented on #4940
@rmja haven't tried it yet, but this is now assigned. @mikary can you take a look?

[2016-04-05 08:05] pankleks opened #4980 "Wired index'es created"
Hello,

I have following classes:
[code]
configured in following way:
[code]

I would expect:
* PK on Id
* Unique IX on (Code, UnitType)

What I'm getting is:
* PK on Id
* Unique IX on (Code, UnitType)
* Unique IX on (Code) - ???? why?

I'm using RC1 + MS-SQL provider

[2016-04-05 11:38] maxmin88 opened #4981 "When will EF7 for SQLite be Updated? RC1 has Build Issue."
On my old inactive post #4331 there is an issue with building release versions using EF7 RC1 for SQLite.  When the project is built for release any calls to the SQLite DB fail .  I tried the suggestions but they did not help.

I have several apps I am ready to release to Windows store but cannot because if I build the projects for release the apps crash when run.  Building the apps for Debug make

[2016-04-05 13:07] chassq opened #4982 "EF7 - UnitOfWork"
Does anyone have any advice on implementing EF 7 in a library using the UnitOfWork pattern? See below an rough example. We want to be able to "wrap" separate calls to operations (methods) in our code base with a UnitOfWork in order to commit all the work as a unit. I know using EF 7 currently is demonstrated as using DI to inject the DBContext by the initializing project but that really does not f

[2016-04-05 13:24] pankleks opened #4983 "Support SQL Server FILESTREAM"
Hi,

How can I mark column as FILESTREAM?

I created following table:

[code]

When I generated code using scaffold it does not look like anything specific is generated to mark it as FILESTREAM.

Thanks!

[2016-04-05 14:25] sergeitemkin commented on #4959
Great, thanks for your help, everyone!

[2016-04-05 16:10] natemcmaster commented on #4971
@Brian-Ding The connection string you showed is the correct format.
[code]

Are you initializing your tables? For example:
[code]
See the ["Create your database" step](https://docs.efproject.net/en/latest/platforms/uwp/getting-started.html#create-your-database).

[2016-04-05 16:20] Brian-Ding commented on #4971
@natemcmaster The problem is, I would like to use an existing database, which I generated somewhere else, already has several tables and data in it. The "migration" makes the app running, but seems to create a new database file, which is not as I desired.

[2016-04-05 16:20] rowanmiller commented on #4981
RC2 will be coming out as soon as everything is stabilized on the new .NET CLI. We don't have an exact date on that yet because the work is still ongoing. RC2 takes a vastly different approach to running under .NET Native - thanks to some improvements the .NET Native team made - so things should be a lot smoother in terms of release/,NET Native/publishing to store.

[2016-04-05 16:24] natemcmaster commented on #4971
Are you sure your app is connected correctly to the existing database? SQLite will automatically map relative paths into ApplicationData.Current.LocalFolder, i.e. `"Filename=myDatabase.db3"` is really `"Filename={ApplicationData.Current.LocalFolder}/myDatabase.db3"`. If the file is not there, sqlite creates it when it opens the connection. It could be SQLite created an empty db file for you.

[2016-04-05 16:28] Brian-Ding commented on #4971
![image](https://cloud.githubusercontent.com/assets/11363173/14289652/62fb7ff6-fb8e-11e5-93f2-eef2e6edb697.png)
![image](https://cloud.githubusercontent.com/assets/11363173/14289665/6c5b5a80-fb8e-11e5-9887-90baca27e144.png)

[2016-04-05 16:29] Brian-Ding commented on #4971
@natemcmaster plz check the screen shots, is there any problem with where I place the database file?

[2016-04-05 16:36] Brian-Ding commented on #4971
I keep getting the error "no such table", but I am 100% sure that the table exists

do I still need to
`db.Database.Migrate();
db.Database.EnsureCreated();
`

even working with an existing database?

[2016-04-05 16:37] ajcvickers commented on #4980
@pankleks Is Code an FK? EF will create indexes for FKs by convention.

[2016-04-05 16:38] natemcmaster commented on #4971
Aha, I think I know what is wrong. Are you copying the db file from InstalledLocation to LocalData? By default, your file is not in LocalFolder, but in `Package.Current.InstalledLocation.Path`.

Example: https://github.com/natemcmaster/EntityFramework.PlatformTesting/blob/master/test/UWP.SQLite/UnitTestApp.xaml.cs#L30-38

[2016-04-05 16:42] rowanmiller commented on #4971
Just another thought...

`EnsureCreated()` won't add tables to an existing database, it either creates the whole thing if it doesn't exist, or does nothing. If you want to add tables to an existing database you need to use migrations.

Not sure if that is the issue or not... just wanted to throw it out.

[2016-04-05 16:46] rovernant opened #4984 ""EntityFramework.SQLite": "7.0.0-rc1-final" get Internal compiler error when used with Microsoft.OData.Client"
Hello guys,

The issue is similar to this one https://github.com/aspnet/EntityFramework/issues/4511 .
EntityFramework.SQLite (7.0.0-rc1-final) cause several compiler errors when used with Microsoft.OData.Client (v 6.15.0) in one project when build in Release mode of Universal Windows application:
_The type name 'RCWAdapterClass' does not exist in the type 'System.Collections.Generic.IEnumerable_A_

[2016-04-05 16:56] ajcvickers commented on #4982
@chassq You can just new up a class derived from DbContext and dispose of it when done. EF will take care of creating a service provider for it to use internally. You will need to override OnConfiguring on the context or use a constructor that takes a DbContextOptions object in order to configure the connection string, etc.

If you need to both do this and also integrate with services from the app

[2016-04-05 16:56] rowanmiller commented on #4830
Merged into https://github.com/aspnet/EntityFramework/issues/4546

[2016-04-05 16:59] rowanmiller commented on #4897
@hepower your context will connect to whatever database is configured in Startup.cs. If you are using the default project template, then it will be SQL Server with the connection string pulled from the `Data:DefaultConnection:ConnectionString` configuration value. There is code that populates config from `appsettings.json` followed by environment variables.

There is nothing else magic that happen

[2016-04-05 17:02] rowanmiller commented on #4864
This is an EF6.x issue, which belongs on the EF6 project site - http://entityframework.codeplex.com/. That said, this isn't something we would really fix due the relative priority compared to other issues. We would be very willing to accept a contribution that addressed it though.

[2016-04-05 17:04] rowanmiller commented on #4914
@ar27111994 EF Core currently does not support changing the value of alternate keys. We do have https://github.com/aspnet/EntityFramework/issues/4073 tracking removing this restriction though.

BTW it only needs to be an alternate key if you want it to be used as the target key of a relationship. If you just want a unique index, then use the `HasIndex()` method, rather than `AlternateKey()`. Uniqu

[2016-04-05 17:11] rowanmiller commented on #4953
Keeping this open to track the issue from the EF side, but opened https://github.com/dotnet/corefx/issues/7518 for SQL Client to fix the issue.

[2016-04-05 17:11] ErikEJ commented on #4971
Make sure to copy the file from your installed content: http://erikej.blogspot.dk/2012/08/getting-started-with-sqlite-in-windows.html

[2016-04-05 17:14] chassq commented on #4982
Much Thanks!!! I will give that a try...

[2016-04-05 17:31] ar27111994 commented on #4914
Thank You so much. @rowanmiller

[2016-04-05 17:41] rowanmiller commented on #4939
Closing as we are pretty confident that the wrong parameter name was the issue, but feel free to reply and/or re-open if that is not the case.

[2016-04-05 17:45] rowanmiller commented on #4979
BTW if you want to go back to the naming from RC1, so that your model and database work together without issues, then just put this code at the start of `OnModelCreating(...)` on your context:

[code]

[2016-04-05 17:58] pankleks commented on #4980
Hi - no it's not FK.
Besides it's a Unique IX - so it's wrong behavior even for FK.

[2016-04-05 18:22] gdoron commented on #4982
@ajcvickers I would love to know how you recommend handling transactions with EF and ASP.NET core.
Would you use filter (which?) and in that filter you use `context.SaveChanges`.
(This question might be more suitable on the ASP.NET Home/MVC repro)

[2016-04-05 18:45] rowanmiller opened #4986 "Perf: Model building 4x perf regression"
A 4x perf regression has shown up in the [EF Core benchmark that builds the AdventureWorks model](https://github.com/aspnet/EntityFramework/blob/f416dd9a71a5a6a69715b4ba40a37e6f9da751ef/test/Microsoft.EntityFrameworkCore.Microbenchmarks/InitializationTests.cs#L41).

We should fix that :smile:

![perf](https://cloud.githubusercontent.com/assets/4741851/14293962/b7f30f4e-fb23-11e5-85f1-a2af568d6bc1.

[2016-04-05 19:03] rowanmiller commented on #4986
The most significant regression shows up between builds 609 and 610 of our CI, which isolates it to https://github.com/aspnet/EntityFramework/commit/89c6844d3b5dbb4066ab6856275a40f8f014a442 (Allow inverting non-unique relationships). It looks like there may have been another smaller regression since then as well, but it was during the time our CI was out due to moving to .NET CLI.

[2016-04-05 19:32] divega commented on #4980
@pankleks I haven't been able to repro this using the details you provided and our current (RC2) bits from our http://myget.org/gallery/aspnetcidev package feed.

This is the database creation script I get:

[code]

We may have fixed the issue or the repro information you provided may be missing some important detail.

Could you please look at the repro code I am using below and see what is missin

[2016-04-05 19:58] divega opened #4987 "Inheritance: Unexpected exception with simple model and explicit key configuration on derived type"
Using the latest packages from aspnetcidev and the repro below, I get the exception:

Note that in the repro the key is configured explicitly on the derived type and the inheritance is not configured explicitly but should be inferred from the CLR types.

Note also that configuring the model in the opposite order (first `Person` and then `Customer`) is currently expected to throw:

(which I persona

[2016-04-05 20:11] pankleks commented on #4980
Ok, found problem on my end.

I had "hidden" line explicitly adding this index - sorry for confusion.

BTW - I have a lot of tables, and setting up everything inside OnConfiguring is really difficult to trace such issues.

Anyway - super happy to see fast response - Thanks!

[2016-04-05 20:11] #4980 closed

[2016-04-05 20:15] rowanmiller commented on #4986
Putting in RC2 milestone while we dig into this, we may or may not try to take any changes for RC2 based on what we find, risk of fix, etc.

[2016-04-05 20:16] rowanmiller commented on #4951
The `.OrderBy(c => c.Order)` probably won't work on EF Core, I would expect you would have to use `.OrderBy(c => c.Order.Id)` instead. Perhaps you can elaborate on what you mean by "does not seem to work in EF7"... are you seeing an exception? Wrong results?

[2016-04-05 20:29] rowanmiller commented on #4967
@mtycholaz There isn't enough info in the code you provided to reproduce this. Were after something we can run to show the error you are hitting and debug it. Perhaps you could adjust the following code listing to show the issue (the code executes successfully on RC1).

[code]

[2016-04-05 20:41] rowanmiller commented on #4983
We currently don't have support for `filestream`. You may just be able to treat it as a `varbinary` column... but of course you wouldn't get streaming. Moving this to the backlog to support post v1.0.0

[2016-04-05 20:51] AndriySvyryd commented on #4986
We are running the `RelationshipDiscoveryConvention` much more often now. Most of the times it runs it doesn't actually do anything, so we could speed up the model building by preemptively detecting those cases and don't do redundant work, however this might introduce subtle bugs so we should do this carefully, with time to properly test it.

[2016-04-05 21:26] rowanmiller commented on #4984
This should all be fixed in RC2. In RC1 we had a whole bunch of custom stuff around reflection info to support .NET Native. In RC2 this all goes away thanks to some improvements from the .NET Native team. Unfortunately you can't try it out just yet, as you'll need a UWP tooling update to support RC2.

[2016-04-05 21:35] natemcmaster commented on #4837
Could you just compile tests once and distribute binaries? We do this successfully on efci

[2016-04-05 21:46] mikes-gh commented on #4686
@smitpatel thanks on hols at mo but will report back in this thread in acouple of days

[2016-04-05 22:04] divega opened #4988 "AddDbContext<TContext>() is only useful if DbContext will be used in web requests in an ASP.NET application"
The main issue IMO is that  `AddDbContext<TContext>()` always adds the context as a scoped service. This is very useful for the 80% scenario in ASP.NET in which a single DbContext instance is resolved and used per request, but it can be problematic or require additional knowledge (e.g. about DI scopes) if anyone is trying to use it outside this scenario, e.g.:

- Resolve an instance of `TContext`

[2016-04-05 22:12] mtycholaz commented on #4967
I'm going to try your example when I get home. I know it's not a lot to go on, but unfortunately this is "one of those" bugs. I have unit tests that verify add/removing/reading items from the database, but the actual app throws an error. Somehow, somewhere, something is causing this. For now I've reverted back to beta-8 until this problem is solved. I'll provide more as this develops. Here's some

[2016-04-05 22:26] bricelam commented on #3925
Things are looking a lot better after #4977, but there are still some dependency resolution issues. :unamused: See the issue description for known issues and usage notes.

[2016-04-05 22:28] #4837 closed

[2016-04-05 22:32] bricelam opened #4989 "CLI Commands: Work with netcoreapp1.0"
I'm not sure if the TFM `netcoreapp1.0` has landed everywhere yet, but when it does, we'll need to update our CLI commands to work with it. See [this code](https://github.com/aspnet/EntityFramework/blob/dev/src/dotnet-ef/ReflectionOperationExecutor.cs#L217-L233).

[2016-04-05 22:38] Bartmax commented on #4979
That was exactly my issue. Thanks.

Now, I think this will be good to be mentioned on a migration document.

I want to be able to use the new RC2 table name conventions, what is the suggested approach for my scenario here? Create a new empty migration and add the renames by hand?  will that work?

[2016-04-05 22:42] Bartmax commented on #4979
just in time an announcement were created. Closing.

[2016-04-05 22:48] Bartmax opened #4990 "What's the story for migrations on RC2 ?"
Do we still use dnx ef migrations ... or is something else with the dotnet cli ?

[2016-04-05 23:05] dneimke opened #4991 "Include extension points?"
We have designed our application to include the notion of soft-deleting Entities.  e.g. a IsDeleted flag on the Entity indicates that it is soft-deleted whereas a hard-delete does a physical delete on the data in the database.

Are there any extension points when using Include's that would allow us to filter out soft-deleted Entities from result sets?

Example:

[code]

In the above example, emplo

[2016-04-05 23:25] mikary commented on #4882
There is currently no logic in `ExecuteSqlCommand` to begin or end transactions. The underlying `RelationalCommand` will make use of the transaction if one in associated with the `RelationalConnection`.

The following demonstrates how transactions are not started by default, but will be used in the case where one is started manually:
[code]

[2016-04-06 00:18] rowanmiller commented on #4990
We've moved over to .NET CLI (dnx is going away). See https://github.com/aspnet/EntityFramework/issues/3925 for details.

[2016-04-06 00:22] rowanmiller commented on #4988
Option 2 :+1: :smile:

BTW the example of wrapping services from a ServiceProvider in a using statement is generally a bad idea anyway. The ServiceProvider should be responsible for disposing anything it creates at the appropriate time.

[2016-04-06 01:11] Brian-Ding commented on #4971
@natemcmaster Thank you and all your guys for your help, I will try it when I get back home tonight

[2016-04-06 04:20] divega commented on #4988
Agreed. The example is a bit artificial because disposing is not needed or necessarily a good idea (especially since the instance is scoped). The main point is the user didn't know that nor wanted the instances to be the same.

[2016-04-06 05:13] MMalikKhan commented on #4683
@darenm  @geoffmmorgan any luck with WIn2D issue that you mentioned above.. i lost good time trying to fix EF .. when the issue was caused due to Win2D.. code of LoadAsync on CanvasBitmat. I have the same line and when i commented this like the Migration started working again.. .. Any solutions so far for this issue? Anything is much appreciated

[2016-04-06 06:37] GmsDave commented on #4021
My team is currently investigating EF for a new application we are undertaking and I was hoping to use this very feature. If we were so inclined to invest in working on this feature, for our own selfish needs, would that be worthwhile contributing?

[2016-04-06 07:02] dneimke commented on #4991
You can probably close th

[2016-04-06 07:06] GregH44 opened #4992 "[EF7] Error with "Include" related entites"
Hi everyone !

I work EF 7.0.0-rc1-final.
I have an error with Include related entities.

Here is my Get method :

[code]

And here is my call :

[code]

When I execute this code, I have this error :

But when I remove my include property "ldo => ldo.RelatedEntity3", it works.

I have 2 questions :
1) Why I have this error ?
2) Does it exist a workaround to load related entities every time ?

Than

[2016-04-06 12:01] Brian-Ding commented on #4971
Thank you guys for all your great help!! After I copy the database file to localfolder, I finally got the data! Problem solved!

[2016-04-06 13:03] betimd commented on #3903
It's happening again to me (connected to a SQL Server 2012 in RDS AWS)
 "EntityFramework.Core": "7.0.0-rc1-final",
 "EntityFramework.MicrosoftSqlServer": "7.0.0-rc1-final",
 "Microsoft.AspNet.Identity.EntityFramework": "3.0.0-rc1-final"

Complete exception:

Microsoft.Data.Entity.Query.Internal.SqlServerQueryCompilationContextFactory[1]
      An exception occurred in the database while iterating t

[2016-04-06 13:51] WhiteKarma opened #4993 "After upgrading to 1.0.0-rc2-20221 exception adding migration"
Hello all,

After upgrading to rc2-20221, on windows and on UBUNTU i get the following exception on both systems:
dnx ef mig rations add initial
System.MissingMethodException: Method not found: 'Microsoft.Extensions.PlatformA
bstractions.ILibraryManager Microsoft.Extensions.PlatformAbstractions.PlatformSe
rvices.get_LibraryManager()'.
   at Microsoft.Data.Entity.Commands.Program.ValidateProject(St

[2016-04-06 14:07] ErikEJ commented on #4993
Did you really type: mig rations  ?

[2016-04-06 14:13] WhiteKarma commented on #4993
sorry, no it was the copy from the command line, thanks for your answer

[2016-04-06 14:18] davidfowl commented on #4993
@WhiteKarma why did you update the dnx to rc2 and leave everything in your project.json as RC1?

[2016-04-06 14:21] WhiteKarma commented on #4993
I tried updating the references with 1.0.0-rc2-20221 in the ide and saved, but on the output it said it could not found them, so i put it back... Is 1.0.0-rc2-20221 the right string to add to the dependencies?

Thanks in advance

[2016-04-06 14:25] WhiteKarma commented on #4993
The stack trace i got on UBUNTU 14.04 Server 64 is:

dev@ubuntu:~/DNXTest/src/DNXTest$ dnx ef migrations add init
System.MissingMethodException: Method not found: 'Microsoft.Extensions.PlatformAbstractions.ILibraryManager Microsoft.Extensions.PlatformAbstractions.PlatformServices.get_LibraryManager()'.
   at Microsoft.Data.Entity.Commands.Program.ValidateProject(String targetProject)
   at Microso

[2016-04-06 14:33] WhiteKarma commented on #4993
Ok, i've tried to update the dependencies that had "1.0.0-rc1-final" to "1.0.0-rc2-*" but i got the following message from the output:

    Unable to locate Dependency Microsoft.AspNet.Authentication.Cookies >= 1.0.0-rc2-*
    Unable to locate Dependency Microsoft.AspNet.IISPlatformHandler >= 1.0.0-rc2-*
    Unable to locate Dependency Microsoft.AspNet.Server.Kestrel >= 1.0.0-rc2-*
    Unable to l

[2016-04-06 15:11] WhiteKarma commented on #4993
I found a folder here C:\Users\DEV\.dnx\runtimes\dnx-coreclr-win-x64.1.0.0-rc2-20221\bin with a big list of dlls, but i could not find any of asp.net dlls, can you please help @davidfowl ?

Thanks in advance

[2016-04-06 15:43] xrkolovos commented on #4076
hello, any news on this?

[2016-04-06 16:07] natemcmaster commented on #4971
@Brian-Ding we're glad to help.

[2016-04-06 16:07] #4971 closed

[2016-04-06 16:19] newsash opened #4994 "Migrations of multiple DbContexts with different connection strings"
[code]

`dnx ef database update -c FirstDbContext -v` writes changes to a database from the second connection string

[code]

`dnx ef database update -c FirstDbContext -v` writes changes to a database from the first connection string as expected

These observations from "dnx-1.0.0-rc1-update1"

[2016-04-06 16:39] BrennanConroy commented on #4993
You are using old package names, try changing the AspNet.* ones to AspNetCore.*

[2016-04-06 17:24] divega commented on #3903
@betimd It seems the exception you are seeing only partially matches the exception that started this issue.

In case it helps, "System.InvalidOperationException: There is already an open DataReader associated with this Connection which must be closed first." is expected when you try to execute a query that retrieves data on a connection before finishing consuming the results of the previous query.

[2016-04-06 17:42] WhiteKarma commented on #4993
Thank you @BrennanConroy will try that

[2016-04-06 17:54] maumar commented on #4076
@xrkolovos sorry for the late reply. This issue is now fixed and will be available in RC2 release.
When run on our current bits, the following query is produced:

[code]

[2016-04-06 17:54] #4076 closed

[2016-04-06 18:18] divega commented on #4992
@GregH44 could you include your entity types in the repro? Thanks.

[2016-04-06 18:27] divega commented on #4988
@ajcvickers will come up with a proposal.

[2016-04-06 18:43] divega commented on #4987
Closing for now. We can revisit when we have more customer input on this.

[2016-04-06 18:51] divega commented on #4856
We decided not to do it.

[2016-04-06 20:01] natemcmaster commented on #3925
Blocked on https://github.com/dotnet/cli/issues/2315. The issue: sqlite3.dll and sni.dll are not included in the AssemblyLoadContext, so any calls to actually connect to the database fail.

[2016-04-06 20:08] ericwj opened #4996 "Discussion for Announcement 167: Table names now taken from DbSet names (starting in RC2)"
Where is the comments/discussion link for [EF Core: Table names now taken from DbSet names (starting in RC2)](https://github.com/aspnet/Announcements/issues/167) Or I'll just drop my thought on this right here:

Kudos @rowanmiller & team for this, it's great!

It always felt like there was some hard to understand reason why this couldn't be done or some data modelling purists didn't want it and tr

[2016-04-06 20:28] ajcvickers commented on #4882
@divega @rowanmiller Looks like we can close this.

[2016-04-06 20:32] PhillipVoyle commented on #4996
Will the [Key] attribute still be respected?

[2016-04-06 20:35] miguellira commented on #4996
@PhillipVoyle Did you mean the [Table] attribute? I can't see how this change would impact the naming Keys.

[2016-04-06 20:37] miguellira commented on #4996
@divega Does this affect the naming of object in a M2M scenario?

[2016-04-06 20:46] bragma commented on #4957
Thank you all for the answers!

[2016-04-06 20:53] divega commented on #4996
@PhillipVoyle @miguellira I don't think `[Key]` is affected, although I may be missing something. `[Table]` should continue to work as a way to explicitly pick a name explicitly.

EF Core currently doesn't support modeling many-to-many directly without a link entity type. The name of the table for that link entity type will follow the same rules as any other entity type, e.g. the table will be nam

[2016-04-06 21:12] divega commented on #4882
Agreed.

[2016-04-06 21:12] #4882 closed

[2016-04-06 21:12] #4535 closed

[2016-04-06 21:47] miguellira commented on #4996
@divega Thanks for the quick response. So for the following model: http://docs.efproject.net/en/latest/modeling/relationships.html#many-to-many

Since the link entity type is not exposed as a DbSet you would end up with `dbo.Posts`, `dbo.Tags`, and `dbo.PostTag`... not the plural form `dbo.PostTags` - correct?

[2016-04-06 21:54] divega commented on #4996
@miguellira Yes, I would expect `dbo.PostTag` to be the table name in this case.

[2016-04-06 22:04] divega commented on #4996
@ericwj Yes, I think that synthesizes very well our thinking on this: With this improvement EF Core can leverage naming choices made by the developer instead of being in the business of processing the words and producing plurals for table names in a specific language (we did that in Code First for previous versions of EF and it turned out to be a dead end, especially since any bug fix on the plura

[2016-04-06 22:12] geoffmmorgan opened #4997 "Using commands on UWP project can lock the VS debugger files"
Oftentimes when I am using EF core in my UWP project and I am generating migrations, the EF commands will lock the Appx file preventing redeployment. Usually the flow goes like this:
1. Create a new initial migration
2. Run the application to create the SQLite database
3. Stop the application
4. Make some change unrelated to Models/EF/Database
5. Attempt to run the application again and get the fo

[2016-04-06 22:12] darenm commented on #4683
So, the simplest workaround we have is:
- Have models and context in a universal Windows library
- reference the library in your actual main UWP app
- to create another UWP app in your solution, add the EF nuget packages to it, have a reference to your library

Whenever you want to add-migration, switch your startup project to the dummy app that doesn't have any offensive code from Win2D, Mobile E

[2016-04-06 23:02] divega commented on #2636
Closing this discussion thread that was opened long time ago. The code has changed and lot and I am not sure it is still relevant. @PrashanthIBM feel free to create new issues for any outstanding issues with your provider.

[2016-04-07 00:19] mikary opened #4998 "Query ExpressionEqualityComparer throws on Is"
`ExpressionEqualityComparer.GetHashCode` throws a `NotImplementedException.` for expressions with expression type `ExpressionType.TypeIs` (`TypeBinaryExpression`)

[code]

[2016-04-07 00:22] Thealexbarney commented on #4394
Here's a complete repro:

[code]

[2016-04-07 00:24] mikary commented on #4940
@rmja @divega I just ran this against current dev and I encountered #4998 when running the query that was supposed to work properly. The provided repro did not throw any exceptions, so it was probably resolved by other fixes we have had since RC1.

[2016-04-07 00:57] ajcvickers commented on #3615
Done some time ago.

[2016-04-07 00:57] #3615 closed

[2016-04-07 00:59] ajcvickers commented on #3759
@rowanmiller Reviewed the messages when we made updates to the D.I. behavior recently, so closing this.

[2016-04-07 00:59] #3759 closed

[2016-04-07 01:08] ajcvickers commented on #741
No longer implemented this way.

[2016-04-07 01:23] divega commented on #4998
@mikary how common is the scenario for which you can hit this? Do you think it us something we should prioritize for RC2?

[2016-04-07 01:57] maumar commented on #4394
@Thealexbarney  thanks, I just verified this against our current dev branch and it works (no exception)

[2016-04-07 02:42] anpete commented on #4998
@divega Very easy and low risk fix if we decide to take it.

[2016-04-07 04:20] Villason opened #5000 "Question: Can we configure EF to ignore inheritance?"
Hello,

Is it possible to ignore the base type and treat the inheriting classes as stand-alone? I want EF to ignore my base class completely and duplicate the properties if needed.

Cheers.

[2016-04-07 09:37] rmja commented on #4940
@mikary I can confirm that it works on the latest dev bits, sorry for net checking that first.

[2016-04-07 09:37] #4940 closed

[2016-04-07 09:40] rmja commented on #4998
+1 This would be really useful! And it would be awesome if it was evaluated server side as mentioned here: https://github.com/aspnet/EntityFramework/issues/4940

[2016-04-07 09:58] WhiteKarma commented on #4993
Hmmm, too many breaking changes... Going back to rc1-final.
Thank you all!

[2016-04-07 11:15] izverev-aexsoft opened #5001 "Reference TPH entity twice"
I stuck with the exception
"Sequence contains more than one matching element"
thrown on simple query

`_context.Calls.Include(i => i.ClientAccount).Include(i => i.InterpreterAccount).ToList()`

Here is Call entity

[code]

and UserAccount is root of TPH hierarchy. Two other navigation properties on the same Call entity (LanguageFrom/LanguageTo) that reference non-TPH entity are included without er

[2016-04-07 12:19] scttstrck commented on #4577
I have a project which is a windows service where I run asp.net core on kestrel in a thread. As such it only targets framework net451. I found when trying to move to rc2 that "dotnet ef" is missing, so I can't do migrations.

Would this issue be the reason why "dotnet ef" is not found / working?

If so, I would guess, that I could work around this by adding the framework netstandardapp1.5, as long

[2016-04-07 14:37] xrkolovos commented on #4076
nice work. thank you for your reply

[2016-04-07 15:36] rohithkrajan commented on #4666
Did a repro and the stackoverflow is originated with the  Container.Dispose() call in the ServiceScope class

[code]
Issue is happening in Container.Dispose() call.Stack of Stackoverflow exception

[code]

The root cause seems to be with DBContext  where Dispose is called. _serviceScope?.Dispose()  is causing infinite loop

 /```
// <summary>
        ///     Releases the allocated resources for th

[2016-04-07 15:51] natemcmaster commented on #4577
@scttstrck

Yes, this is the issue tracking on-going work to make dotnet-ef work on net451.

[2016-04-07 18:29] maumar commented on #5001
This works in current bits. Tried with the following repro. (Please let us know if your repro significantly differs from ours):

[code]

[2016-04-07 18:44] divega commented on #4742
My understanding is that this is also blocked on #4953. I will assign it to @natemcmaster while we wait for that one to be addressed.

[2016-04-07 18:45] divega commented on #244
Assigning temporarily to myself to follow up with the tooling folks to figure out how we land this in RC2.

[2016-04-07 18:53] divega commented on #4666
Thanks, that sounds like a very promising lead. cc @ajcvickers

[2016-04-07 19:32] jpoehls opened #5004 "Question: How to get EF's ILoggerFactory without going through the DbContext?"
How can I get EF's `ILoggerFactory` without having to go through the `DbContext`?

This is how we're constructing `DbContext` objects in our app... roughly...

[code]

All of the examples I've seen getting the `ILoggerFactory` do something like:

[code]

But if I construct multiple `DbContext` objects using that, then I believe I'm calling `AddConsole()` to the same `ILoggerFactory` instance multi

[2016-04-07 19:48] maumar commented on #4968
@StefH I verified that this scenario works in current bits. It will be available in RC2 release.

[2016-04-07 19:48] #4968 closed

[2016-04-07 20:06] natemcmaster commented on #4802
Can install EF.SQLite now, but UWP is still broken. Blocked on https://github.com/dotnet/corefx/issues/7582

[2016-04-07 20:27] divega commented on #5004
In RC2 bits you can pass the `ILoggerFactory` instance you want all MyDbContext instances to use in the options. E.g. based on your code snippets:

[code]

[2016-04-07 20:32] natemcmaster commented on #4802
Are we intentionally leaving out runtime assemblies for UWP in RC2 from these BCL libraries? Or is this nuget installer error?

Using rc2-23931, the following BCL nupkgs are missing runtime assemblies for UWP, which causes installing EF to fail against UWP 5.1.0

[code]

[2016-04-07 21:12] #4975 closed

[2016-04-07 21:13] jpoehls commented on #5004
Thanks! That makes sense to me. We're still on RC1 but I'll give this a shot when we upgrade to RC2.

[2016-04-07 21:25] smitpatel commented on #4877
I tried reproducing this in latest bits
In latest dev, for query code like this
[code]
Generated SQL is
[code]
It looks like it has been fixed in some other changes. It will be in RC2 release.
If you want to verify if your issue is fixed then you can try nightly builds or I can verify for you too if you can provide a standalone repro code.

[2016-04-07 21:53] ericstj commented on #4802
That's happening because you're upgrading all those packages which have been split between ref/lib without bringing in the lineup that pulls in the lib packages.  I'd expect the latest 5.2.0 rc3 UWP meta-package to work.

[2016-04-07 21:55] ericstj commented on #4802
Alternatively, just bringing in the MS.NETCore.Platforms latest may solve the problem, but I believe you'll hit a couple other issues in the RC2 packages for UWP that have only been fixed in the RC3 branch (eg: AppContext, Linq.Expressions).

[2016-04-07 21:57] natemcmaster commented on #4802
So, then for the sake of our RC2 release, we should make sure we pull in stable packages in UWP 5.1.0. I believe this implies we will need to cross-compile, as we did for RC1.

[2016-04-07 22:28] ericstj commented on #4802
I think that's still the safest thing to do.  As before you don't actually need to cross compile but just have a separate dependency set but if you're using project.json > pack you have to cross compile.

[2016-04-07 22:29] aschlesener commented on #4994
We are experiencing the same issue (although not related to migrations), where adding a second dbcontext with a different connection string overwrites the first connection string - so both the first and the second dbcontexts use the second connection string.

Is there any workaround for this issue until the bug is fixed?

[2016-04-07 22:55] mikary opened #5007 "Query: Inheritance filter with "is" performs client evaluation"
The following query performs client filtering:
[code]

With generated SQL:
[code]

Note, the same query with the where clause replaced with `OfType<Kiwi>()` filters on the server:
[code]

[2016-04-07 22:57] mikary commented on #4998
@rmja The fix for this issue is pretty small, so I opened #5007 to track the client evaluation since those changes will not be related to this fix.

[2016-04-07 23:19] natemcmaster commented on #4802
What would it take to get these in RC2?

[2016-04-08 00:08] #4877 closed

[2016-04-08 00:10] maumar commented on #4900
@mikes-gh we are tracking Include API improvements here https://github.com/aspnet/EntityFramework/issues/4490
API changes between RC2 and RTM will be allowed, although the bar will be higher than it is now.

[2016-04-08 01:05] maumar opened #5008 "Query :: Tracking doesn't work with coalesce and conditional"
repro:

[code]

[2016-04-08 01:15] maumar commented on #5008
Repro:

[code]

[2016-04-08 01:18] koryakinp opened #5009 "Update inherited Entity"
I have the following BaseballDbContext class:

[code]

And my model classes are:

[code]

Now I want to update `name` and `homeruns`property of one of the hitters:

[code]

After I run the code only player's name got update, but not the homeruns property:

How to update property of both child and parent classes ?

[2016-04-08 01:50] pHr34kY opened #5010 "Duplicate column exception when creating Sqlite or MSSQL databases with discriminator"
It appears that EF7 can't handle an inherited property shared across two classes on a table with a discriminator. Instead of acknowledging that these are the same property and should be mapped to the same column, it attempts to create the column again (without success).

This occurs with both Sqlite and SqlServer databases (but not InMemory databases). I'm fairly certain that the data model here i

[2016-04-08 01:52] maumar commented on #5008
Currently we have a TrackEntities method around the query, that keeps track of which entities from the result object should be tracked - storing the list of accessors from the resulting object to the entity that is supposed to be tracked.

We compute those accessors using re-linq's AccessorFindingExpressionVisitor which currently doesn't handle Coalesce or Conditional expressions.

@MichaelKetting

[2016-04-08 05:56] izverev-aexsoft commented on #5001
Hi, maumar! Thanks for checking this!
I've just created new console app, added EntityFramework.Core 7.0.0-rc1-final and EntityFramework.MicrosoftSqlServer 7.0.0-rc1-final packages.
I've used your code without any change and got the same error as before:

`An exception of type 'System.InvalidOperationException' occurred in EntityFramework.Core.dll but was not handled in user code

Additional inform

[2016-04-08 06:29] divega commented on #5001
@izverev-aexsoft RC1 is not current bits and does not contain the fix. RC2 or packages from the aspnetcidev feed should work. Package names have changed so you can use Microsoft.EntityFrameworkCore.SqlServer.

[2016-04-08 06:39] MichaelKetting commented on #5008
@maumar Ah, yes. Will need to look into this. When the AcessorFindingExpressionVisitor is used inside the transformation, support for Coalesce and Conditional isn't needed since those can be evaluated inside the SQL query and only the resulting value needs to be handled in memory.

Extension point's a bit tricky due to the way the callgraph is composed but I'll have a look at the implications of C

[2016-04-08 06:44] teo78 opened #5011 "Storing & Retrieving double.NaN causes NullReferenceException (Sqlite)"
I'm testing EFCore RC1 using Sqlite, and encountered a problem when storing/retrieving double.NaN values.

I use TPH inheritance and when storing a double.NaN Sqlite stores this a Null value (see: http://system.data.sqlite.org/index.html/tktview?name=2b823bfe08). Then when loading that row EF Throws a NullReferenceException.

Could this be fixed in EFCore somehow so that Null values would be read

[2016-04-08 06:45] izverev-aexsoft commented on #5001
Am I right that it's time to move project to CLI?..

[2016-04-08 07:21] smitpatel commented on #5010
Version of EF?

[2016-04-08 07:22] RiyasMeeran commented on #3811
.Include(m => m.Product.Company).AsEnumerable().Where(m => m.Project.Company.Id==1)

[2016-04-08 07:22] tiwariarvin commented on #1864
Hi Rowanmiller - Is there a plan to resolve support to execute a stored procedure that returns multiple result sets? (or) Is that already resolved?

[2016-04-08 07:29] divega commented on #5001
I would recommend to try to make the switch sooner rather than later. We are still in the process of stabilizing and restoring functionality on top of CLI but we have made tons of fixes and improvements across EF Core and the ASP.NET Core stack that will require it.

[2016-04-08 07:30] AndiRudi commented on #3797
@rowanmiller Is there any new status about this? Because we have a huge application that uses lazy loading and if there won't be lazy loading in the future we have to start refactoring our approach and bring in the context in every method (which I don't like but we have to move to .net core)

[2016-04-08 16:07] entitycontext commented on #4996
As someone who prefers singular table names but likes plural DbSet names, I disagree with this approach.  In my opinion, having the PluralizingTableNameConvention as a default in previous EF versions was a mistake and I would prefer to see that removed as a default while keeping table names the same as class names.

Apologies for bikeshedding and maybe I am just out of step with industry practices

[2016-04-08 16:23] AndriySvyryd commented on #4228
This still fails on Linux. Could be a SqlClient issue:
[code]

[2016-04-08 16:25] natemcmaster commented on #4228
cc @saurabh500 are there still known networking issues on Linux in RC2?

[2016-04-08 16:39] saurabh500 commented on #4228
cc @corivera Can you take a look?

[2016-04-08 16:40] saurabh500 commented on #4228
Is the target server Azure Sql?

[2016-04-08 16:51] saurabh500 commented on #4228
@natemcmaster Have you seen the issue with an on premise server as well?
Also is this an intermittent issue or persistent?

[2016-04-08 17:00] bruceyclee opened #5012 ""Done" message was shown when running dotnet ef migrations script"
I'm working on ef migrations in web tool side. I use dotnet ef migrations script to generate T-SQL file of migrations. When this command is done, it will show a "Done" on screen, whose the code is from src/dotnet-ef/MigrationsScriptCommand.cs  (line 74 Reporter.Error.WriteLine("Done");) . This "Done" should not be handled by "Reporter.Error".

When I run the whole thing by msbuild tasks, the "Done

[2016-04-08 17:03] miguellira commented on #4996
@entitycontext I generally agree with you. The singular/plural table name is a matter of personal preference and the singular form is often chosen to avoid dealing with irregular plurals (e.g. person/people).

That said, I think the EF teams wants to avoid that issue by defaulting to a name that you have chosen in your model that should make sense in your database.

Fortunately, if it doesn't sit

[2016-04-08 17:16] natemcmaster commented on #4228
I haven't seen this issue with an on-premise SQL Server, but yes, the issue is persistent. It has been consistently reproduces in EF testing on Linux for the last 4 days.

[2016-04-08 17:18] ajcvickers commented on #4994
@aschlesener @newsash  Couple of questions:
* Are you using current bits (RC2) or latest released bits (RC1)?
* Can you post what the constructors for your classes derived from DbContext looks like? In particular, I am interested if they use generic or non-generic DbContextOptions objects?

[2016-04-08 17:25] ajcvickers commented on #5009
Looks like a dupe of #4817, which is fixed in the current codebase.

[2016-04-08 17:30] AndriySvyryd commented on #4228
And the test didn't run before the last 4 days, so the issue is not from a recent change

[2016-04-08 17:31] #4853 closed

[2016-04-08 17:45] AndriySvyryd commented on #4228
Some specifics. The test runs against AdventureWorks and this query succeeds:
[code]

but this fails:
[code]

[2016-04-08 17:49] Eilon commented on #4802
@natemcmaster I think at this point I'd do the cross compilation, because we know it will work.

[2016-04-08 17:51] natemcmaster commented on #4802
I'm not so sure it will. It did for RC1, but I've not yet been able to craft the right project.json's to make dotnet-restore, dotnet-pack, UWP, and EF happy together.

[2016-04-08 17:52] maumar commented on #5008
@MichaelKetting yes, we only track entities that are part of the final result. TrackEntities method is wrapped around our last Select method. However we compute accessors earlier, because we strip QuerySourceReferenceExpressions at one point in our pipeline.

I guess we could refactor that part in EF code to compute accessors based on entity types rather than query sources themselves. This would p

[2016-04-08 17:53] entitycontext commented on #4996
@miguellira I agree it really is just a matter of personal preference, but it's annoying to have to fight against the defaults when you don't agree with them.  See also: LazyLoadingEnabled and OneToManyCascadeDeleteConvention in EF6, both of which I strongly prefer to have turned off and also arguably should be off by default.

Since I want singular table names, I will consider using singular DbSe

[2016-04-08 18:02] miguellira commented on #4996
@entitycontext If you're the only one that will be working on that code do what works for you and keeps you happy. However, if you expect others to see something like:
[code]
when they're used to seeing something like:
[code]
and not question your approach... be prepared to do some explaining. 😃

[2016-04-08 18:10] divega commented on #4228
@AndriySvyryd could you please file a corefx bug for this?

[2016-04-08 18:12] divega commented on #4997
@natemcmaster any thoughts on this?

[2016-04-08 18:15] divega commented on #4998
@mikary let's try to get the fix in for RC2.

[2016-04-08 18:23] saurabh500 commented on #4228
Please tag @corivera in the CoreFx bug. Cory is looking into it.

[2016-04-08 18:25] divega commented on #5000
You can ignore the base type with the `Ignore()` method. That should result in the behavior you want.

[2016-04-08 18:27] divega commented on #5009
Closing as we are confident that it is a dupe of #4817, but feel free to reopen if it isn't.

[2016-04-08 18:29] divega commented on #5010
@smitpatel can you try the repro? We can close if it is already fixed.

[2016-04-08 18:38] natemcmaster commented on #4802
I'm beginning to fear we may not be able to get this working for RC2 :skull:. I found the magic project.json a user needs to get packages to install AND to get build working.

Nota bene: order matters
[code]

Result json:
[code]

:warning: Here's the kicker. After all that, the app will build and run and then crash on launch with this bug: https://github.com/dotnet/corefx/issues/7582 which was clo

[2016-04-08 18:44] smitpatel commented on #5010
works fine in latest dev.
[code]

[2016-04-08 18:44] #5010 closed

[2016-04-08 19:00] ericstj commented on #4802
Why are you updating the following?
    "Microsoft.NETCore.Platforms": "1.0.1-rc2-23931",
    "System.Threading.Timer": "4.0.1-rc2-23931"
    "Microsoft.Win32.Primitives": "4.0.1-rc2-23931",
    "System.Diagnostics.Tools": "4.0.1-rc2-23931",
    "System.Globalization.Calendars": "4.0.1-rc2-23931",
    "System.Net.Sockets": "4.1.0-rc2-23931",

[2016-04-08 19:02] natemcmaster commented on #4802
Platforms: https://github.com/aspnet/EntityFramework/issues/4802#issuecomment-207077106

The others:
![image](https://cloud.githubusercontent.com/assets/2696087/14394568/bc5a9574-fd81-11e5-8457-cc293c845b7d.png)

[2016-04-08 19:10] ericstj commented on #4802
That previous comment was about trying to use the *latest* packages in UWP.  I thought we had switched gears to use stable dependencies for UWP.

I would have expected you to do something like the following, like was done in RC1:
dependencyGroup TFM=uap10.0
  ...stable dependencies...
dependencyGroup TFM=netstandardX.Y
  ...rc2 dependencies...

[2016-04-08 19:19] natemcmaster commented on #4802
Yes good point. I should have been more clear. Allow me to clarify.

Approach 1: get EF working with RC2 .NET Core. I think it's clear at this point that approach isn't going to work. My comment here https://github.com/aspnet/EntityFramework/issues/4802#issuecomment-207550659 was regarding that first approach.

Approach 2: cross-compile to lower dependencies for UWP. My comment https://github.com/

[2016-04-08 19:23] #4998 closed

[2016-04-08 19:57] natemcmaster commented on #2898
See also https://github.com/aspnet/EntityFramework/pull/5016#issuecomment-207577125. Need to cleanup how our functional tests are categorized.

[2016-04-08 20:02] natemcmaster commented on #4997
Looks like a bug. Initial guess: one of two things is going on here. (1) the user's assembly isn't being unloaded from the powershell host in PMC. (2) the launch in step 3 above didn't properly unload the assemblies. Obviously needs more investigation.

[2016-04-08 20:48] mikary commented on #4860
I attempted to reproduce the issue using the latest packages `Microsoft.EntityFrameworkCore:1.0.0-rc3-20498(aspnetcidev)`, but it does not throw the exception.

@yyjdelete can you confirm if this is still failing for you? If so, could you provide additional information about how your model is created and the specific data that causes the exception to be thrown?

Here is the code that I used to att

[2016-04-08 21:53] VSG24 commented on #1368
This is soooooooo needed!

[2016-04-08 22:22] ajcvickers commented on #4994
Following on from this, the fix is likely to be to use generic `DbContext<TContext>` parameters in the DbContext classes.

[2016-04-09 00:26] marchy commented on #1386
Love the updated syntax. And it chains perfectly all the way down. Great work guys!

[2016-04-09 03:01] yyjdelete commented on #4860
@mikary
Maybe you mix up #4860 with #4858, they are 2 independent issues.

The same with `1.0.0-rc3-20498`, Test code for two, tradition csproj with DotNet461 is used,

---
[code]

packages.config
[code]

[2016-04-09 03:03] yyjdelete commented on #4858
I paste an test code for both at https://github.com/aspnet/EntityFramework/issues/4860#issuecomment-207689804

[2016-04-09 12:07] Villason commented on #5000
Thanks that works!

[2016-04-09 12:53] ralmsdeveloper opened #5022 "erro command: dotnet ef migrations add Initial"
**Hello dear friends, I am facing a small problem of dependence with dotnet EF migrations.
There is already a solution for this bug / Feedback
I am using the RC2 version dotnet cli
My project.json is:**

"dependencies": {
    "Microsoft.AspNetCore.Authentication.Cookies": "1.0.0-_",
    "Microsoft.AspNetCore.StaticFiles": "1.0.0-rc2-_",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc2-_",
    "M

[2016-04-09 19:23] shlatchz opened #5024 "Pragma Settings for SQLite"
The following code

[code]

cannot receive pragma settings such as journalmode or syncmode.
How can I apply the pragma settings to the db?

I tried:

[code]

but it didn't help.

[2016-04-09 23:06] joshcomley opened #5025 "Query: This query is known to the state of Califonia to produce inefficient SQL generation when selecting and joining"
I believe there is a bug with a certain scenario of SQL generation on SQL Server.

I have created a fully self contained solution in a GitHub repo to demonstrate the issue:

https://github.com/joshcomley/EntityFrameworkSqlQueryBug

Suppose we have a list of **customers**, who each have a collection of **products**.

I could run this query:

[code]

And get these two SQL queries:

[code]

However,

[2016-04-10 02:35] komengem commented on #797
What is the progress on this "Add Find method on DbSet #797"?

[2016-04-10 03:41] WiliamGP opened #5026 "Issue with EF7 in UWP App"
When I compile and use my app using the .NET Native it crashes, the exception report is:

I know that I need to add the directive Metadata in Default.rd.xml, but I dont know how to create the directive. I find this post with a related problem: [https://github.com/aspnet/EntityFramework/issues/3293](url)

I created this directive, but it did not work.

`<Type Name="Microsoft.Data.Entity.Metadata.In

[2016-04-10 06:07] ErikEJ commented on #5024
You need to do it in the same context as where you are doing the EF data access

[2016-04-10 08:06] shlatchz commented on #5024
Can you please elaborate?
Are you saying that I have to do it each time I modify the DB?

[2016-04-10 10:18] joshcomley commented on #5025
I should add that so long as the current user has enough permissions and has SQL Server installed, the project will create the database, create the tables and seed it. This will happen *every* time you run the app as it is in its current state.

[2016-04-10 10:52] thewindev commented on #5026
I also have this issue. From what I heard, this will be fixed in RC2. Any news on when it will be released? My app is ready and I can't publish it because of this

[2016-04-10 13:00] WiliamGP commented on #5026
Hi @thewindev, I talked to the team of .NET, they said that this problem would be fixed with RC2, but the erros continue. I tried create the directive according with the arguments of method, but it didn't work.

[2016-04-10 13:18] Heartsbane opened #5027 "Creating a temporary DbContext"
I'm working with an ASP.NET 5 api project using EntityFramework v7.0.0-rc1-final. I'm trying to use the disconnected repository pattern from @julielerman EF6 course on Pluralsight, which uses a temporary context for each repository method, such as:

![image](https://cloud.githubusercontent.com/assets/7918993/14410330/26fc84d0-fefb-11e5-9284-aa43814a4050.png)

However, this throws a "System.Invalid

[2016-04-10 13:26] Heartsbane commented on #5027
After some more thought on this, I realized that by scoping the repository as transient in the Startup.cs file, I can achieve the same end result and don't need to create temporary context objects with using() inside each repository method, since each interaction with the repository will force a new instance with a new DbContext:

![image](https://cloud.githubusercontent.com/assets/7918993/1441044

[2016-04-10 15:09] julielerman commented on #5027
Yes! Dependency injection and IOC (via ASPNET Core services) FTW. In fact, I extended that to combining ASP.NET Core with an EF6 model still leveraging DI with ASP.NET COre’s injection services in the Feb 2016 MSDN Magazine article. https://msdn.microsoft.com/magazine/mt632269

Sorry if my older content led you astray.

Julie

[2016-04-10 15:26] roji commented on #4376
@rowanmiller am back to life and will slowly start working on Npgsql/EF Core again.

To follow up on @cincuranet's question, do you guys have more specific guidelines as to how to manage provider versions vis-à-vis core versions? In other words, I understand that the SqlServer provider compatible with EF Core 2.0.0 should have 2 as its major version (this makes sense). How about the minor version

[2016-04-10 20:18] bricelam commented on #4997
This *should* never happen in the first place. We shadow copy the assembly and load it into a temporary domain.

[2016-04-10 20:29] stap123 opened #5028 "Knowing if Migrations were applied"
I'm using rc1, trying to find a way of telling whether or not migrations have been applied (or are pending) either while calling Database.Migrate() or before I call it. I'm trying to know whether or not to call a separate method to seed some data but it seems to be a waste to call this if nothing has changed.

I was thinking that there might be something along the lines of the Database.EnsureCreat

[2016-04-11 01:07] Heartsbane commented on #5027
Good to know, thanks @julielerman! I'm a big fan of your Pluralsight work, and looking forward to more stuff on EF 7.

[2016-04-11 03:20] kbekkenutte commented on #3804
Same problem here, @robertledinski workaround indeed does the trick. Note that the issue can also be reproduced when using simple navigation properties. My reproduction:
`    public class Foo {
        public int Id { get; set; }
        public Bar Bar { get; set; }
    }
    public class Bar {
        public int Id { get; set; }
        public string Test { get; set; }
    }
    public class AppC

[2016-04-11 09:20] Carpi68 commented on #3811
@rowanmiller: Is it already recommended to use the latest nightly build to resolve this issue?
My workaround is to use `IEnumerable<T>` instead of `IQueryable<T>` to query my DbContext, because the exception seems only to be thrown in the latter case.
But this is badly slowing down my performance (I'm working with large tables) because `IEnumerable<T>` will run the query in memory instead of runni

[2016-04-11 09:31] Carpi68 opened #5029 "Performance issue when querying using async operations."
I'm opening this issue because I didn't see anything already filed here on github.
I'm working with EF7 rc1 and see the same performance drop as described here for EF6: http://stackoverflow.com/questions/28543293/entity-framework-async-operation-takes-ten-times-as-long-to-complete.
I see a tremendous increase of the execution time as soon as I'm using ToListAsync or ToDictionaryAsync. Any help wou

[2016-04-11 09:32] dance commented on #4339
@valcs007 you are using DbContext in TestService, which is possibly singleton and you end up using the one and only DbContext in your whole app. I've ran into same problem due to inaccurate design of my services: controller used some service injected through constructor to actually perform business logic, while this service was a singleton with DbContext injected through constructor again. So I en

[2016-04-11 09:40] ErikEJ commented on #3811
@Carpi68 You must use VS 2015 with the latest NuGet updates (3.4.2) in order to use RC2+

[2016-04-11 11:57] Carpi68 commented on #3811
@ErikEJ Thanks for this hint! I just updated to VS 2015 and the latest NuGet.
What do I need to do next to get access to any RC2+ build?

[2016-04-11 12:19] ErikEJ commented on #3811
You can use the NuGet feed here: https://www.myget.org/F/aspnetrelease/api/v3/index.json

You should also read https://github.com/aspnet/Home/wiki/NuGet-feeds

[2016-04-11 12:43] Carpi68 commented on #3811
@ErikEJ Thank you! This may be a stupid question, but how can I use a NuGet feed with a WPF project?

[2016-04-11 13:03] ErikEJ commented on #3811
@Carpi68 Just configure the NuGet client to use the source above (you are already using NuGet if you use EF Core)

[2016-04-11 13:27] minterjiang commented on #5028
来自我的华为手机-------- 原始邮件 --------主题：[aspnet/EntityFramework] Knowing if Migrations were applied (#5028)发件人：stap123 收件人：aspnet/EntityFramework 抄送：I'm using rc1, trying to find a way of telling whether or not migrations have been applied (or are pending) either while calling Database.Migrate() or before I call it. I'm trying to know whether or not to call a separate method to seed some data but it seem

[2016-04-11 14:01] VSG24 commented on #797
God we need this so much.

[2016-04-11 14:37] mikes-gh commented on #4686
@smitpatel
ComfrimedTSQL now without 'N and optimal execution plan as a result from my example above

[code]

Many thanks

[2016-04-11 14:48] mikes-gh commented on #4994
My startup is
[code]
I had to remove the second call to AddDbContext and use AddScoped and OnConfiguring instead  to get it to work.

A short sample of how we are meant to do it now would be a great help

[2016-04-11 15:14] ikourfaln opened #5030 "is mapping of DbGeography will be available on RTM release"
Hi,

We are working on a project with ASP.NET Core, and All our model and operations use DbGeography , so we really need this data type.
If it is not available, do you have any other solution, bcz we are already starting the asp.net core project.

[2016-04-11 15:51] nepton opened #5031 "is complex type support attribute such as JsonAttribute?"
in our project we need save some complex type to json serialized string to database table. these complex type does not use index, search, order ....   so i think save to json string is more better.
i plan to write some code to implement a attribute named JsonAttribute in EF6, but finally failed,
i hope this feature is supportd in EF7 :)
thanks

[2016-04-11 16:02] natemcmaster opened #5032 "Commands do not work on UWP projects"
This bug was hiding under #4802 .

### Repro steps

Install Microsoft.EFCore.Commands
Execute any EF command from PMC.

Error:
[code]

I've also seen this one:
[code]

[2016-04-11 16:03] natemcmaster commented on #5032
Triage: this should be in RC2

[2016-04-11 16:21] natemcmaster commented on #4802
Cross compiling to fix this issue. See PR #5021

[2016-04-11 16:32] kall2sollies opened #5033 "Include() ThenInclude() throws “Sequence contains more than one matching element” exception"
I have a model which involves parent-child relations on 3 levels :

 - `Corporations` have `companies`
 - `Companies` belong to a `corporation` and have `factories`
 - `Factories` belong to a `company`

Since these 3 entities share a lot in common, they all inherit from an abstract `BaseOrganization` entity.

When I try to list all the factories, including their mother companies, and then includin

[2016-04-11 16:58] ErikEJ opened #5034 "Failure installing Microsoft.EntityFrameworkCore.Relational.Design.Specification.Tests package"
I am trying to install build 20507 from the aspnetrelease feed.
I am using VS 2015 Update 2 with NuGet 3.4.2

When trying to install the above package in a .NET 4.6 .csproj based Class library project, I get the following error (I am able to install the EFCore.Relational.Design package to the same project without errors):

**Could not install package 'runtime.native.System 4.0.0-rc2-23931'. You ar

[2016-04-11 18:03] divega commented on #5011
This issue was moved to aspnet/Microsoft.Data.Sqlite#243

[2016-04-11 18:48] mauricew opened #5035 "DateTime.Parse is evaluated on client"
In a SQL Server 2014 table with a smalldatetime column, any sort of comparison on said column returns this error:
`SqlException: Conversion failed when converting character string to smalldatetime data type.`

The setup is basic:
[code]

I noticed via Profiler that smalldatetime parameters are done the same way as datetime2, which has a precision of up to 7 decimal points of a second. The code for

[2016-04-11 19:04] natemcmaster opened #5036 "Powershell commands do not work on csproj"
The Package Manager Console powershell commands does not currently work on projects using csproj.

Issues:
- [x] OperationHandlers.cs does not compile. (Fix already in #5037 )
- [x] Cannot new-up a DbContext at design time due to "MissingMethodException" in `MemoryCacheServiceCollectionExtensions`
## Repro

File -> New Project... (Console App)
Add this a simple dbcontext.

[code]

From PMC

[code]

[2016-04-11 20:11] ryanerdmann commented on #244
I know this issue is primarily about the VS right-click Publish integration story, but do you also have any recommendations for how to manage migrations for customers using git deployment (Kudu) to Azure?

I have several web apps using that deployment scenario, and for now I’ve just settled with using `ef migrations script -i` and running the script from my client machine.  Would it make sense ins

[2016-04-11 21:23] ericwj commented on #4996
There is a two-liner in the announcement however that you could tweak a little to change all table names to the type name and keep the People property name too.

[2016-04-11 21:32] smitpatel opened #5038 "Query: Include & Order By subquery generates invalid query."
Test
[code]
Error - `ORDER BY items must appear in the select list if SELECT DISTINCT is specified.`
We introduce the `Distinct` keyword for include. Since the `Order By` item is subquery, even if that appears in select list too, Sql Server cannot identify them as same subquery hence throws exception.
We either need to use alias expression for such subquery or revisit usage of `Distinct`.

[2016-04-11 21:37] smitpatel commented on #4521
blocked on #5038
Scenario without parameters is broken itself atm.

[2016-04-11 21:46] natemcmaster commented on #5036
cc @divega

[2016-04-11 21:49] dance commented on #4988
Could you please take a look at https://github.com/aspnet/EntityFramework/compare/dev...dance:dbcontext-lifetimes if it is right direction to go? There are no tests yet - if you approve, i'll add them.
Some thoughts:
- better not add AddSingletonDbContext as it doesn't feel right and may be confusing
- go for option 1 as scoped context scenario doesn't necessarily belong to asp.net IMO

[2016-04-11 22:12] #4457 closed

[2016-04-11 23:07] smitpatel commented on #4949
After analyzing update pipeline, we are not using literals anywhere in the updates. All the values are passed as parameter. And while adding parameters, we use the underlying property hence Unicode-behavior is maintained from the property.
There are no tests verifying this at the moment. Due to #4952 we cannot test the behavior at present. Once that issue is fixed we can add extra property with no

[2016-04-11 23:49] divega commented on #4949
Thanks. That is great news!

[2016-04-12 02:29] maumar opened #5040 "Query :: template"

[2016-04-12 07:12] Carpi68 commented on #3811
@ErikEJ Yes, that's clear and my apology for asking stupid questions. I'm not too familiar with this task. So can you please also advise which packets I need to install via my Package Manager Console to update my EF7-rc1 to the myget/aspnetvnext? Please note: I'm not developing an ASP.NET application. I'm using EF7 for a WPF application.

[2016-04-12 07:28] ErikEJ commented on #3811
http://ef.readthedocs.org/en/latest/platforms/full-dotnet/getting-started.html (with updated package names)

[2016-04-12 09:54] Carpi68 commented on #3811
@ErikEJ I need to bother you again. I successfully upgraded to the nightly build (20539) and my project is compiling like a charm. But when I try to add a new migration I'm getting this failure `The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: c:\Users\Projects\MyProject\packages\Microsoft.EntityFrameworkCore.Commands.1.0.0-rc2

[2016-04-12 10:46] bigteejay opened #5041 "-e | --environment no longer available in dnx ef database update?"
I see that someone [claimed](http://stackoverflow.com/questions/32937544/choose-config-json-version-during-database-update-after-migrations#comment53782757_32937544) this was available as of RC1 (I'm using RC1 final, update 1)

[This change](https://github.com/aspnet/EntityFramework/commit/7f48d0c0fca054ed70bebe0e8d2c58ee3cc3df9b#diff-b8c39a3f7fffa559788354a8e675e20eL111) shows checks and feedback

[2016-04-12 12:34] gdoron opened #5042 "Is there a way to use the latest bits of EF while using ASP.NET Core RC1?"
I do not want to use RC2 dotnet-cli, because [I kinda like using VS.](https://github.com/aspnet/cli-samples/issues/32#issuecomment-208431766)..
But I do want the new features and bug fixes of EF that were introduced after RC1.

Is it possible?
I hope it is/will, so the community can review the work done since RC1 before RC2 is released.

Thanks.

[2016-04-12 13:30] stevensrf1 commented on #245
a

[2016-04-12 13:31] stevensrf1 commented on #245
Does anyone know where I can find source code project to download the uses the FromSQl to call a stored procedure that actually compiles and works,

[2016-04-12 13:40] poke commented on #245
As explained above, you can just call `FromSql` on the `DbSet` to materialize a result of registered entities. If you are having problems with that, feel free to open a question [on Stack Overflow](http://stackoverflow.com/) to ask for help with your specific problem (but remember to include a [MCVE](http://stackoverflow.com/help/mcve)).

Otherwise, this issue is used to track the progress for sto

[2016-04-12 15:23] divega commented on #5042
EF Core and ASP.NET Core have many common dependencies and those have evolved a lot between RC1 and RC2, meaning they have lots of breaking changes. So no, mixing RC1 and RC2 bits won't work.

PS: I am not sure I understood the reason you don't want to use RC2.

[2016-04-12 16:06] divega commented on #5040
@maumar ❓ :smile:

[2016-04-12 16:09] gdoron commented on #5042
@divega From what I was told in the AspNetCore chat room in JabbR and in the link I linked above, I can not use VS if I use RC2 because VS tooling doesn't support the new changes, and I have to use VS code and some nasty customization to even being able to debug the application.

Is it not correct? can I still develop and debug as usual using VS?
Is there a sample MVC/API + EF application that use

[2016-04-12 16:24] stevensrf1 commented on #245
I am using EF7 in a windows class library and not a web class library.
I do not see the FromSQL extension on the entity class referenced by the derived dbcontext
object.
I guess I have to see what other assembly I need to install..

[2016-04-12 16:26] BradBarnich commented on #5036
Additionally, on VS15 I get this:

[code]

With VS2015, on a csproj, build 1.0.0-rc3-20540, Add-Migration does work with the changes to `OperationHandlers.cs`

[2016-04-12 16:30] stevensrf1 commented on #245
I am looking to call a StroredProcedure not an sql statement. Is there a working code example available for download that show FromSql calling a stored procedure?

[2016-04-12 16:34] divega commented on #5042
Ah, got it. It was actually clear, but somehow I misread your comment. Probably the best source of information about how the code looks like are the VS templates in the template repo.

[2016-04-12 16:38] natemcmaster commented on #5036
@BradBarnich thanks for sharing. What happens if you try RC2 bits? Install from https://www.nuget.org/F/aspnetcirelease/

[2016-04-12 16:49] gdoron commented on #5042
@divega I'll check the templates there, thanks.
But regarding the ability to use VS and RC2, is it possible?
Because if it's not, I'm afraid it doesn't worth it.

Thanks

[2016-04-12 16:59] BradBarnich commented on #5036
@natemcmaster used 1.0.0-rc2-20539, same result. With the fixes to `OperationHandlers.cs`, VS2015 works and VS15 does not.

[2016-04-12 17:15] poke commented on #245
See [the functional stored procedure tests](https://github.com/aspnet/EntityFramework/blob/7.0.0-rc1/test/EntityFramework.Relational.FunctionalTests/FromSqlSprocQueryTestBase.cs) on how to consume stored procedures. As I already said, you need to run it *on a `DbSet`*, not on the context or some entity type. And there is no way to call stored procedures other than to execute SQL right now.

[2016-04-12 17:53] natemcmaster commented on #5036
@BradBarnich the issue you are seeing in VS15 Preview is the likely the same issue added here: https://github.com/NuGet/Home/issues/2162. As you'll see, the issue was closed because it is a bug in VS itself.

[2016-04-12 17:59] anpete opened #5043 "Query: Navigations: Using EF.Property with reference nav omits null compensation"
In ComplexNavigationsQueryTests:

[code]

[2016-04-12 18:28] natemcmaster commented on #4953
This has been fixed in CLI. I verified sqlclient works with cli-samples + sql server on win7 and win10.
[code]

[2016-04-12 18:28] #4953 closed

[2016-04-12 18:35] divega commented on #5042
@gdoron You probably have to wait for VS tooling for RC2 to be published.

[2016-04-12 18:44] natemcmaster commented on #4742
@rustd do you have a version of templates and a recent version of dotnet-cli that work together? I'm trying to reproduce with dotnet-cli 1.0.0-beta-002351

[2016-04-12 19:13] natemcmaster commented on #5036
Update: with fixes to OperationHandler.cs, the error does not reproduce on all machines. I tried on a clean install of VS2015.

[2016-04-12 20:28] rustd commented on #4742
@phenning?

[2016-04-12 20:43] phenning commented on #4742
You should be able to repro with the latest bundle build.

[2016-04-12 21:00] natemcmaster commented on #4802
Fixed https://github.com/aspnet/EntityFramework/pull/5021

[2016-04-12 21:00] #4802 closed

[2016-04-12 21:01] natemcmaster opened #5045 "Revisit need to cross compile for UWP for rtm"
See https://github.com/aspnet/EntityFramework/pull/5021. This may not be necessary for RTM.

[2016-04-12 21:01] divega commented on #4802
🎉

[2016-04-12 21:05] natemcmaster commented on #4546
See also https://github.com/aspnet/EntityFramework/pull/5037. In this change, we specifically workaround limitations in UWP and startupinvoker. We will need a different abstraction when/if we stop cross-compiling to UWP. #5045

[2016-04-12 21:09] Eilon commented on #4802
Mark as Done?

[2016-04-12 21:10] natemcmaster commented on #4802
Marked.

[2016-04-12 21:35] pHr34kY commented on #5010
For the record, I was running v7.0.0-rc1-final to replicate the problem. I can also confirm that the problem went away once I ran the same test after building from git.

[2016-04-12 22:50] mikary commented on #4858
This appears to be a bug (or multiple bugs) with the shape of the result from `GroupJoin`. I restructured the sample to something closer to what we use in `QueryTestBase` to compare the EF results with linq-to-objects. Note that the reference implementation has two results for each query.

[code]

[2016-04-12 22:50] mikary commented on #4858
Clearing milestone for triage

[2016-04-12 22:52] #113 closed

[2016-04-12 23:23] mikary commented on #4860
There appears to be a bug in the translation of the `Contains` of the provided query:

[code]

When calling `SqlTranslatingExpressionVisitor.VisitBinary` on the first `Where`, it attempts to create an expression with the left equal to a boolean expression for `dm => dm.Action == 27` and the right equal to a nullable int expression equal to `(SELECT [udp].[DeviceId] FROM [UserDeviceMaps] AS [udp] W

[2016-04-12 23:25] mikary commented on #4860
clearing milestone for triage

[2016-04-12 23:50] smitpatel commented on #4417
Feel free to re-open the issue if you encounter any further issues or have any questions.

[2016-04-12 23:50] #4417 closed

[2016-04-12 23:58] natemcmaster commented on #5032
Closed via #5037

[2016-04-12 23:58] #5032 closed

[2016-04-12 23:59] natemcmaster commented on #5036
Closed via #5037

[2016-04-13 00:20] natemcmaster commented on #4742
The source of the bug is two fold.

1. The error is triggered because there is not database. In the error above, there is no DB yet, which is why "login failed".
2. The apply migration button executes a command that returns HTTP 404.

![image](https://cloud.githubusercontent.com/assets/2696087/14479400/d7d6afaa-00d2-11e6-821c-c00f5bfdc9fd.png)

[2016-04-13 00:27] natemcmaster commented on #4742
cc @JunTaoLuo @Tratcher are there known issues in diagnostics.entityframework?

[2016-04-13 01:20] stevensrf1 commented on #245
I did not say run it from the DBContext.
 I said reference to the entity referenced by the DBContext such as
dbContext.entity.FromSQL

The reason I could not find the FromSQL ion the entity was  because  an extension in an assembly was not loaded.
I used Net.Reflector to search through the various entity framework DLLs used in a Web Application and found the assembly that needed to be load..

[2016-04-13 02:52] dshamim opened #5047 "composite key in model causing invalid SQL"
if in modelBuilder there is a composite key present and the object is in multiple relatinships
e.g. A contains Many B, B contains many C with fully defined relationships
then fetching A with dependents results in invalid column ID in query, if relationship to C is commented out, it works fine

`modelBuilder.Entity<A>(entity=> {
        entity.HasKey(e => new{ e.EventId, e.EventCloseDate});
    });

[2016-04-13 03:34] Pilchie commented on #5022
I'm seeing the same thing, except in my case it's looking for version 7.0.0.0.

[2016-04-13 05:31] dshamim opened #5049 "Filtering parent entity by a condition in child entity using ANY causing invalid SQL"
When trying to filter the parent entity by child entity, SQL generated is invalid

Parent Entity:

[code]

Child Entity:

[code]

Controller Query:
`var order = _context.Orders.Include(e => e.Tickets).Where(e => e.Cancelled == false && e.OrderId == id).Any(e=>e.Tickets.Any(t=>t.Quantity!=0))`

Generated SQL with syntax error:

`SELECT CASE
    WHEN EXISTS (
        SELECT 1
        FROM [tblOrders

[2016-04-13 05:59] MaximBalaganskiy commented on #4232
The last two options work. The first one though doesn't. Simplest implementation
[code]
causes migration to fail with exception
[code]

I suspect more has to be done in that implementation to correctly create a context. Could you please provide some guides?

[2016-04-13 08:47] kall2sollies commented on #5033
Has anyone had the opportunity to reproduce, and state if that is an actual bug, or an improper approach on my own ?

[2016-04-13 12:18] taspeotis commented on #2266
Hi,

Thanks for all your hard work on EF Core. I realise it's pre-release software but the omission of TPT is disappointing.

I also find it somewhat disappointing that it's considered an anti-pattern. In the application I look after we have people operating in various contexts (users, contacts, employees). At the end of the day they're all people so I have a `Person` table that contains `GivenNam

[2016-04-13 12:23] gdoron commented on #4376
I agree with @davidroth that `EFCore` is neater than `EntityFrameworkCore` and everyone is using that acronym and it's well known for every EF(...) user what it's.

[2016-04-13 12:35] Tasteful opened #5050 "HasConstraintName on relationship is not reflected in migration script"
[code]
generating the following migration scrtipt where the first constrain name `name_is_missed_in_generated_schema` is missing
[code]

I use still `rc1-final` packages, is this fixed in later versions or do I use the `HasConstraintName` in wrong place?

[2016-04-13 12:37] gparissis opened #5051 "SoundCode"
I am wondering if there is an implementation in EF7 regarding the SOUNDEX function. For previous versions of EF we have the SoundCode function. In EF7 this kind of functionality or similar exist?

Thank you.

[2016-04-13 13:06] capesean commented on #5022
I'm also getting this error (for v7).

[2016-04-13 13:42] GSPP commented on #2266
Be careful with such statements, all three forms have their uses. It depends on the requirements which is, in fact, a point you made earlier. Access patterns and storage concerns vary widely.

[2016-04-13 14:25] mikes-gh commented on #4994
ping @ajcvickers .  Sorry to ask again ( know you guys busy with rc2) A few lines of code on how multiple AddDbContext should be done would be much appreciated by me and would be helpful for others.

[2016-04-13 15:51] ajcvickers commented on #4994
@mikes-gh Can you post the constructors for ApplicationDbContext and TradingCompanyDbContext?

[2016-04-13 16:06] mikes-gh commented on #4994
I removed the constructor for the tradingcompanycontext and used on configuring and addscoped straight di

My constructor for applicationdbcontext is
[code]
I see you said to use generics on contructor but I didn't have success on that as it need to call base which needs a different type again

[2016-04-13 16:07] mikes-gh commented on #4994
for completeness
[code]

[2016-04-13 16:29] ajcvickers commented on #4994
@mikes-gh The constructor for `ApplicationDbContext` should take a `DbContextOptions<ApplicationDbContext>` and the constructor for `TradingCompanyDbContext` should take a `DbContextOptions<TradingCompanyDbContext>`.

Can you further explain what you mean by, "I see you said to use generics on contructor but I didn't have success on that as it need to call base which needs a different type again."

[2016-04-13 16:44] grahamehorner commented on #4996
will there be an option to allow the entity/table to be in a different schema other than dbo ?

[2016-04-13 17:05] miguellira commented on #4996
@grahamehorner Maybe I'm missing something but that's always been there. You can use `modelbuilder.HasDefaultSchema()` or the overload on `ToTable()`

[2016-04-13 17:08] mikes-gh commented on #4994
ApplicationDbContext inherits from IndentityDbContext so I cant just pass the generic options down the line can I with base(options)?

Also what would the AddDbContext call look like fro ApplicationDbContext
[code]
How would I change the above
Apologies if it is simple. I'm not too familiar with generics in general.

[2016-04-13 17:13] sergeitemkin opened #5052 "Conditionally updating navigation properties"
We're having some trouble figuring out a way to conditionally update properties on entities when dealing with navigation properties. We're trying to implement a function `void UpdateEntity<T>(T entity, params Expression<Func<T, object>>[] updatedProperties)` that conditionally updates given properties on the entity.

Currently our strategy is to iterate through the list of updatedProperties and ca

[2016-04-13 17:13] sergeitemkin commented on #5052
Here's the source code to reproduce the problem we're having, if it helps:

    internal class Program
    {
        public class ModelA
        {
            public Guid Id { get; set; }
            public string Prop1 { get; set; }
            public ModelB Prop2 { get; set; }
        }

        public class ModelB
        {
            public Guid Id { get; set; }
            public ICollection

[2016-04-13 17:18] Tratcher commented on #4742
There's nothing filed.

[2016-04-13 17:22] ajcvickers commented on #4994
@mikes-gh The generic DbContextOptions inherits from the non-generic DbContextOptions, so yes you can.

That line does not need to change,

[2016-04-13 18:00] AlexKulbako opened #5053 "Using ef 7 in class library"
I want to make the work with data in a class library with asp.net core 1. My problem http://stackoverflow.com/questions/36604855/how-to-use-entity-framework-7-in-class-library?noredirect=1#comment60807751_36604855

Using the migration, I get the   InvalidOperationException in command line

[2016-04-13 18:36] divega commented on #5022
@natemcmaster thoughts on this? Is this a symptom of known issues with dotnet ef or is it something new?

[2016-04-13 18:40] natemcmaster commented on #5022
@ralmsdeveloper can you post your full project.json? I didn't see your "tools" section in the original issue.

Also, please be aware dotnet-ef is not fully ready. There is ongoing work for RC2. See #5002 and https://github.com/aspnet/EntityFramework/issues/4577

[2016-04-13 19:25] divega opened #5054 "Query: Possible performance issues with async"
We are currently investigating results from the reliability testing based on MusicStore that seem to show significant overhead in async scenarios.

[2016-04-13 19:27] smitpatel opened #5055 "Functional Tests: Move Specification tests to source"
EF has following test projects which are being published to nuget.org
-	Microsoft.EntityFrameworkCore.Relational.FunctionalTests
-	Microsoft.EntityFrameworkCore.FunctionalTests
-	Microsoft.EntityFrameworkCore.Relational.Design.FunctionalTests

These tests depend on dotnet-test-xunit. These tests should be split into Facts which rely on xunit (which will be published to nuget.org) and runnable comp

[2016-04-13 19:42] tuespetre commented on #3797
@AndiRudi EF6 is working pretty well with Core as far as I can tell. I haven't had any problems with it. I'm pretty sure the official answer for lazy loading with EF7 is "not RTM" but I don't have a cite for you right now.

[2016-04-13 19:43] ErikEJ commented on #5055
@smitpatel How will this impact my use of these test libraries? Most of my test suite inherit from these libraries...

[2016-04-13 19:45] ErikEJ commented on #3797
@tuespetre Not high on the list: https://github.com/aspnet/EntityFramework/wiki/Roadmap

[2016-04-13 19:49] divega commented on #5055
@ErikEJ I believe impact is mostly going to be a rename of the package.

cc @roji who I believe is using this as well.

[2016-04-13 19:50] gdoron commented on #3797
@ErikEJ I honestly do not understand what "lazy loading" isn't an anti pattern.
You don't control the query, and you might hit N+1 queries to the DB without even knowing.
As it's now, if you try to fetch an entity without fetching it with a inner/outer join, you will hit an exception/empty set (depends if you init the collecetion in the ctor).

I actually like that this "feature" was left behind f

[2016-04-13 19:54] ErikEJ commented on #3797
@gdoron I agree 100%

[2016-04-13 19:56] tuespetre commented on #3797
@ErikEJ @gdoron just like any pattern, its "anti-ness" is context-dependent

[2016-04-13 19:58] jemiller0 commented on #3797
EF 6 to EF 7/EF Core 1 is not unlike moving from ASP.NET Web Forms to ASP.NET MVC. You are going from something that is more robust and mature to something primitive. Personally, I'm far more worried about ASP.NET. Leaving out lazy loading the long run seems unacceptable. People will keep asking for it. It is on the road map as a high priority item, just not a critical one. Also, I think change tr

[2016-04-13 19:58] andriisydor opened #5056 "Better error message when using nav prop in string overload of Property"
I get an exception on migration adding:

[code]

post entity
[code]

[2016-04-13 20:02] jemiller0 commented on #3797
Well, if they don't implement lazy loading, I hope they really do improve the way Include()s are handled so that it doesn't create a giant multiply. I hope it works for projections as well.

[2016-04-13 20:31] natemcmaster commented on #4742
@Tratcher @rustd my guess is the bug here is in Diagnostics.EF, not EF itself. It looks like the "Apply Migrations" button never reaches EF. The request gets lost in middleware.

[2016-04-13 20:39] mikary commented on #3418
Calling Include after `GroupBy` is actually a more complex situation due to the need to find the proper `IQuerySource` from the resulting expression/sub-query. The recommended solution for this would be to use the `Include` before `GroupBy`; however, that feature is not working yet and should be fixed as a part of #3101.

Notes: `IncludeResultOperator.GetQuerySource` and `EntityQueryModelVisitor.I

[2016-04-13 20:40] rustd commented on #4742
@divega who owns Diagnostics.EF and who can fix this?

[2016-04-13 20:50] AndriySvyryd commented on #5056
The `Property` method cannot be used to configure navigation properties. You would need to use the relationship API to accomplish it:
[code]

We don't provide a `Navigation()` method to avoid creating under-configured relationships.

@rowanmiller Could you come up with an exception message that conveys this?

[2016-04-13 21:11] anpete opened #5057 "Add QueryTracking behavior to DbContextOptionsBuilder"
So it can be configured from Startup.cs

[2016-04-13 21:14] anpete opened #5058 "Async versions of (Add/Remove/Update/Attach)Range methods that take IAsyncEnumerable"
We have overloads of these methods that take IEnumerable, but not IAsyncEnumerable. This forces buffering when the sequence is async.

[2016-04-13 22:32] rynowak opened #5059 "Repeated allocations in InterceptingLogger<T>"
Data is from [Basic Views](https://github.com/aspnet/Mvc/issues/4175)

Sample includes 3001 requests.

`TypeExtensions.DisplayName` is being called each time one of these are constructed, which in this scenario is 6 times per request
![image](https://cloud.githubusercontent.com/assets/1430011/14511423/473e1626-018c-11e6-859a-a5f40f85c92c.png)

Allocations are spread across `string`, `char[]`, and

[2016-04-13 22:38] lajones commented on #4944
Fix checked in with 2acd2f1.

[2016-04-13 22:38] #4944 closed

[2016-04-13 22:46] divega commented on #4742
This is @rowanmiller's. Will ask @smitpatel to look at it if @rowanmiller cannot do it tomorrow.

[2016-04-13 23:15] maumar opened #5060 "Query :: nullability-related errors during query compilation for some queries generated with OData"
Examples of queries that don't work:

?$top=10&$filter=substringof(%27Record26%27,Name)
?$top=10&$filter=Height eq 5
?$top=10&$filter=Height mod 2 eq 0
?$top=10&$filter=(Height sub 5) gt 2
?$select=Name&$top=10

The reason is that OData by default injects null-propagation logic into the queries, which EF doesn't know how to handle properly.

Workaround for now is to modify ODataController’s Enable

[2016-04-13 23:20] maumar commented on #5040
false alarm, closing

[2016-04-13 23:28] gdoron commented on #3797
@tuespetre @jemiller0

I don't think "lazy loading" in the context used here is a good design at all.
It mix POCOs with implicit database querying.
The context should be the querying facade, not a POCO.

Except from the design that you can argue about, having proxies implicitly querying the DB is a very  risky feature that I honestly do not understand the need for that.
If you need to a navigation

[2016-04-13 23:37] shaunluttin commented on #5022
Similar error:

[code]

[2016-04-13 23:49] divega commented on #5059
rynowak just to make sure, is the main assertion you are making that the `TypeNameHelper.GetDisplayName()` method used in the default logging implementation is more efficient than `TypeExtensions.DisplayName()` or that we are doing too much logging on too many classes? :smile:

If the former, I think we can probably copy the implementation or use inheritance to get it.

[2016-04-13 23:57] ajcvickers commented on #266
Internal bug on SQL Server indicates that this is now fixed and released in latest versions and service packs. Re-enabling test and closing out.

[2016-04-13 23:58] joshuapetryk opened #5061 "Codefirst migrations: foreign keys deleted and re-added every time"
asp.net 5/core 1 project, dnx 1.0.0-rc1-16609

[code]

Initial Migration:

[code]

Any migration I run after the initial is producing this sort of code:

[code]

And the snapshot:

[code]

Why is EF deleting and re-added the same FK constraints every time I add a migration?

[2016-04-14 00:04] #266 closed

[2016-04-14 00:16] joshuapetryk commented on #5061
Nevermind, after tearing my hair out for a while I finally found it's a known issue.
#3979

[2016-04-14 00:18] smitpatel commented on #5061
actually dupe of #3751 & #4325, fixed in #3756 & #4349 will be available in RC2 release.

[2016-04-14 00:43] natemcmaster commented on #3925
Should be done with changes in #5002

[2016-04-14 00:59] natemcmaster commented on #5022
Part of the issue here is that `dotnet-ef` and `dotnet-watch` could be your imports. For the moment, specifying tools also requires listing "imports".
[code]

[2016-04-14 01:05] Pilchie commented on #5022
I already have that in my project.json in this PR.

[2016-04-14 01:06] ajcvickers commented on #3953
Already fixed as part of #4680

[2016-04-14 01:06] #3953 closed

[2016-04-14 01:08] natemcmaster commented on #4771
As a part of this, we should revisit the stderr/stdout mechanism in general. Using stderr causes issues for other scripting tools, not just powershell.

cref https://github.com/aspnet/EntityFramework/issues/5012

[2016-04-14 01:12] natemcmaster commented on #5012
Fixed via #5020. More work on how we log needs to be done. See #4771

[2016-04-14 01:40] jemiller0 commented on #3797
In some cases, I think N+1 can actually be faster than doing a massive join. If you don't want the feature, disable it. I think you can already do this in EF 6. So, I don't know why people are complaining.

[2016-04-14 01:56] shaunluttin opened #5065 "dotnet ef migrations add initial throws `System.ArgumentNullException` on `assemblyName`"
Error.

[code]

project.json

[code]

[2016-04-14 02:24] shaunluttin commented on #5065
It turns out there are some things that the EF migrations do not like to see in the `Startup` class.

[2016-04-14 04:13] taspeotis commented on #2266
Hi, thanks for reading.

Please don't read too much into that sentence: what I intended to convey that was in the application I maintain TPH and TPC appear as anti-patterns for the particular data we store.

TPH would result in wide tables. TPC would result in maintain some columns in tables in triplicate. In contrast, TPT appears as a desirable pattern. This is not necessarily true of TPH, TPC an

[2016-04-14 04:49] sthiakos commented on #4988
My Perspective:

- the scoped dbcontext really does hit the 80%+ of my asp.net scenarios - it's a great way to make the request atomic especially when invoking a transaction at the beginning of the request and then committing the transaction on success or rolling back on exception/failure of the completed request.

- I use a dbcontextfactory/dbcontextprovider for when I need to control lifetime fo

[2016-04-14 05:11] rmja commented on #5022
@natemcmaster There seems to still be problems on the latest aspnetcidev feed with dotnet-ef v1.0.0-rc3-20565, even after https://github.com/aspnet/EntityFramework/pull/5002.

Specifically, I get:

when I try to build a configuration in `Startup.cs`:

[code]

The `project.json` file looks as follows:

[code]

[2016-04-14 05:32] jimmymain commented on #2266
Does third normal form database design principles not contraindicate both TPC and TPH.

I agree that trade offs are made for many reasons, including expediency and efficiency, but I cannot see a scenario in which my clients database teams would sign of on either approach. They would insist on a database design consistent with TPT to comply with the principles of third normal form (at least).

[2016-04-14 07:54] mikes-gh commented on #4994
@ajcvickers  Thanks for your help.
I confirm changing the contructors to generic options with existing code staying the same works.

[2016-04-14 08:05] rmja opened #5066 "The last removed migration name cannot be reused"
rc2 latest dev bits

The following migration sequence does not work:
[code]

The last line throws:

   at Microsoft.EntityFrameworkCore.Migrations.Design.MigrationsScaffolder.ScaffoldMigration(String migrationName, String rootNamespace, String subNamespace)
   at Microsoft.EntityFrameworkCore.Design.MigrationsOperations.AddMigration(String name, String outputDir, String contextType)
   at Microsof

[2016-04-14 09:38] rmja commented on #4583
Here are some minor bugs in the sample code @rowanmiller provided above.

1) It will generate the following SQL when ensuring that the tenant schema exists:

[code]

To generate the correct SQL, I also had to override `GenerateLiteralValue` in `TenantMigrationsSqlGenerator` as follows:

[code]

2) There is a small bug in the sample code `row = new HistoryRow(_tenantPrefix + row.MigrationId, row.Mi

[2016-04-14 09:49] deenairn opened #5067 "Insertion Order RC1"
Adding things to a context via AddRange does not add entities to the DB in the anticipated order, i.e. with the lowest IDs corresponding to the earliest items added to the DbContext where the identity column is set to IDENTITY(1,1). Is the allocation of generated IDs entirely non-deterministic?

[2016-04-14 10:26] henkmollema opened #5068 "Include multiple navigation properties of one entity"
I have an entity with multiple navigation properties which I'd like to eagerly load when selecting the entity from the database. I known I can use `ThenInclude()` to select sub navigation properties of a entity, but how can I select sibling navigation properties of a single entity?

Consider a hierarchy like this:
- User
  - Blog
    - Subscribers
    - Blog Image
    - Posts

Selecting a user wit

[2016-04-14 10:58] GSPP commented on #2266
@jimmymain It does contraindicate that, yes. But the normal forms are just guidelines.

If you client is unwilling to denormalize in specific, well-reasoned cases they are causing themselves problems. This is not an issue with the three patterns. It's lack of understanding on their part.

This insistence on following rules to the letter is a typical and understandable step in the path of most deve

[2016-04-14 12:10] davesmits opened #5069 "Commands: WACK binary analyzer fails when adding EF Core in UWP class library"
I am using Entity Framework core in my UWP. But since that wack fails with lot of errors but mainly because this:
[code]
this blocks me to get the app in the store. As soon i remove the EF pacakges the errors are gone. Any known issues on this or know how to fix this?

[2016-04-14 13:48] mikes-gh commented on #5068
Yes its a limitation and not one I am a fan of as if you examine the TSQL you will see in includes the contents of  Blog several times

see
https://github.com/aspnet/EntityFramework/issues/4490

[2016-04-14 13:57] sthiakos commented on #2266
I'd say TPC is not an anti-pattern nor contrary to 3NF.   In TPC there is no repeating data _within_ the table.  "fixing" TPC would imply having one table for the entire database that is for the attribute that is to be maintained (i.e. a master lookup table)

It's tough to accept relaxing the rules (even as an experienced developer).  I'm not a fan at all of TPH because it swings to much to the OO

[2016-04-14 15:09] rynowak commented on #5059
`Logger<T>` is registered as a singleton and so the name is computed once per-logger-type per-app. `InterceptingLogger<T>` is scoped, so all of these names are computed once per request.

[2016-04-14 15:55] GrantErickson commented on #1985
I have worked around this issue using extension methods that include a defined subset of the children I want to load.
[code]

[2016-04-14 16:34] GrantErickson opened #5070 "Is there a way to only hydrate/set explicitly included properties"
It would be nice to have the option for EF to only hydrate explicitly included properties. The existing functionality will hydrate additional properties if they have already been loaded.

Most of the time this is a good thing. However, it does seem a bit counter intuitive given the explicit nature of the include statements. I find there are times when I don't want to mess with a DTO and would like

[2016-04-14 17:22] gdoron commented on #5067
Interesting, I didn't notice it, are all the inserted entities of the same type/table?
How many entities do you insert via `AddRange`? what is your max batch size?

BTW, since IDENTITY is surrogate key, do you really care about the ordering?

[2016-04-14 17:38] GeorgDangl opened #5071 "Inheritance in same table with same property names on different derived classes - cannot add migrations"
I noticed that when I create classes like the following:

[code]

With this being in my DbContext class:

[code]

That upon adding a migration, the following exception is thrown:

[code]

The last line translates to `An element with the same key has already been added.`.

It's likely because both the classes `NationalOrder` and `InternationalOrder` define a foreign key `CustomerId` to different en

[2016-04-14 17:39] ajcvickers commented on #5067
@deenairn @gdoron The order in which entities begin being tracked by the context (whether through Add or AddaRange or any other mechanism) is not preserved. This is by design. The only way to ensure any specific key value is used is to assign that key value to the entity directly before adding it to the context.

[2016-04-14 18:22] natemcmaster commented on #3925
Reopening. Users are reporting issues with Newtonsoft.Json and typeload exceptions.

[2016-04-14 18:45] ajcvickers opened #5074 "Be consistent and correct with metadata extensions"
It had been decided in the past that we would:
* Keep metadata interfaces minimal with only “core”, non-computed concepts exposed
* Store non-core concepts as annotations
* Add extension methods to access non-core concepts and computed information
* Use caching when necessary to avoid expensive computation
* Expose caching through additional interfaces that could be probed for

This has resulted i

[2016-04-14 18:45] moozzyk commented on #3925
/cc @victorhurdugaci
also this https://github.com/aspnet/IISIntegration/issues/133

[2016-04-14 18:47] #3625 closed

[2016-04-14 18:48] victorhurdugaci commented on #3925
Yup, investigating the issue in dotnet watch. For some reason it only fails when you try manually and works fine on the CI

[2016-04-14 18:49] victorhurdugaci commented on #3925
The dotnet watch issue: https://github.com/aspnet/dotnet-watch/issues/72

[2016-04-14 18:59] natemcmaster commented on #5022
@rmja we are still tracking down issues here. Can you help us out? What if you replace your portable imports with a different profile? Try using `"portable-net452+win81"` instead.

[2016-04-14 19:03] victorhurdugaci commented on #3925
The fix is to add `imports` to the tool and re-restore. Make sure you clear the packages folder first because it doesn't work otherwise, the package has to be re downloaded.

[code]

We believe this will be fixed in a future CLI

[2016-04-14 19:04] natemcmaster commented on #5065
This error is not being thrown from EF code. The change may need to be in MVC. I opened https://github.com/aspnet/Mvc/issues/4479, but tracking here in case we need to change how EF discovers user services.

[2016-04-14 19:04] AndriySvyryd commented on #5074
Another point to consider is that soon we could have a read-only model implementation for perf. Then the mutable model will not need to implement most of the optional interfaces and could be used for tests without much additional cost.
In the long-term we could consider using the compiled model generator to customize what combination of interfaces we use for tests.

[2016-04-14 19:08] natemcmaster commented on #3925
@victorhurdugaci is this because of a known and resolved nuget bug? It seems the lock file for the tool ends up with a bad library entry.
[code]

[2016-04-14 19:10] victorhurdugaci commented on #3925
@moozzyk or @pakrym can give more details

[2016-04-14 19:48] rmja commented on #5022
@natemcmaster I will be happy to. Let me know what I can do from my side. I have changed the includes in both the framework and tools sections, but that does not make any difference.

[2016-04-14 19:55] ajcvickers opened #5075 "Make notification change tracking opt-in"
Currently we dynamically decide what kind of change tracking to use based on the entity types and even instances used:
* Does not implement INotifyPropertyChanged or INotifyPropertyChanging: use snapshots with change detection
* Implements INotifyPropertyChanged but not INotifyPropertyChanging: use snapshots with change notification
* Implements both INotifyPropertyChanged and INotifyPropertyChang

[2016-04-14 20:03] rmja commented on #5022
From the recipe in https://github.com/aspnet/EntityFramework/issues/3925 I followed these steps:
Deleted all content in the `.nuget/packages` folder, followed by `dotnet restore` using the `aspnetcidev` feed, however `dotnet ef migrations add Whatever` still fails with the same exception.

[2016-04-14 20:08] rowanmiller commented on #5075
:+1:

[2016-04-14 20:14] ajcvickers commented on #4988
Proposal for triage:
* Do not move to a separate package. While AddDbContext is going to be primarily used by ASP.NET applications it isn't actually ASP.NET specific. It is useful for anyone wanting to use EF with an external service provider.
* Keep the method name simple and defaulting to scoped, but provide overloads that make use of the existing ServiceLifetime enum to change the lifetime.
  *

[2016-04-14 20:16] moozzyk commented on #3925
When I talked to Victor I thought it was that we need add an import to netstandard1.5 which would be because we were waiting for this to flow to dotnet: https://github.com/NuGet/NuGet.Client/commit/9573f19ce94c84078e0d0e4f128bb24de7bfe140#diff-8c917f3b4e6bc57dc2667ae784dbb4b3R16
But since it requires imports to "portable-net451+win8" I don't think is this. When I looked at the Newtonsoft.Json pack

[2016-04-14 20:24] ajcvickers opened #5076 "Exception message when updating to RC2"
This is the message you get if you update an RC1 app with a parameterless DbContext constructor to use RC2. Should we change it?

I think we should make it clear that you should use a generic DbContextOptions type, but other than that it looks okay to me.

@rowanmiller @natemcmaster @divega

[2016-04-14 20:32] rowanmiller commented on #5076
Yep I think just changing `DbContextOptions` to `DbContextOptions<TContext>` would be enough for that.

Perhaps we should also point out that you should pass the options to the base constructor :smile:

That would leave us with...

[2016-04-14 20:34] natemcmaster opened #5077 "Fix .NET Core to remote SQL Server testing on CI"
Our Linux and Windows CI, SQL Server functional testing to remote SQL Servers is currently broken. We finally upgraded to using dotnet shared framework. It is not possible AFAIK to run a .NET Core test project from build artifact. It looks like we will need to change our CI setup to run tests from source.

[2016-04-14 20:38] ajcvickers commented on #5076
@rowanmiller @divega Triage for RC2?

[2016-04-14 20:43] rowanmiller commented on #5076
Sounds good to me given this is something folks will hit when upgrading an existing app to RC2

[2016-04-14 21:02] smitpatel commented on #4841
Only CodeCompilationTests fail now.  (rest passes). Also exception message is different.
[code]

[2016-04-14 21:03] natemcmaster commented on #4841
On mono or .NET Core?

[2016-04-14 21:08] natemcmaster commented on #5065
We found the issue. EF does not properly setup "HostingEnvironment" when discovering services, and MVC is [not resilient to this](https://github.com/aspnet/Mvc/issues/4353). We need to replicate some of the logic in https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L180, adapted to EF's settings of course.

[2016-04-14 21:16] natemcmaster commented on #3925
Here is the issue: https://github.com/NuGet/Home/issues/2462. dotnet-restore silently fails when missing the right imports. Looks like https://github.com/NuGet/NuGet.Client/pull/468 will make it more obvious dotnet-restore fails to get json.net....but for now, we still need to add "imports" to the tools node.

[2016-04-14 21:19] smitpatel commented on #4841
The tests are disabled for CoreCLR framework. and `dotnet test` passes on windows. Haven't tried on mono yet.

[2016-04-14 21:34] ajcvickers commented on #4764
Clearing this for re-triage. The fundamental problem is that there is no way to access configuration outside of Startup.cs unless:
* Configuration is made statically available to the application
* Something is done in Startup.cs to make configuration available elsewhere

It seems that the first of these will not happen due to fundamental objections from the wider team.

The second would require co

[2016-04-14 21:49] ajcvickers commented on #4134
Marking for re-triage. No priority has been set.

[2016-04-14 22:46] ajcvickers commented on #5076
@divega Waiting for your input.

[2016-04-14 23:16] divega commented on #5076
I agree this should be in RC2. The message also looks good.

[2016-04-14 23:17] divega commented on #5076
Marking as RC2.

[2016-04-14 23:23] divega commented on #5059
Got it. Thanks!

[2016-04-14 23:39] #5076 closed

[2016-04-15 00:01] divega commented on #4988
@ajcvickers catching up with this proposal and the PR. The proposal looks good in general, I only have one doubt, related to something @dance mentioned in https://github.com/aspnet/EntityFramework/issues/4988#issuecomment-208577077:

I tend to agree that singleton will almost never be the right choice, but I might be missing something. It also seems to me that in our DI APIs only the lowest level

[2016-04-15 00:03] ajcvickers commented on #4988
@divega I'm fine with that, but we will break everybody going from RC2 to RTM.

[2016-04-15 00:29] divega commented on #4988
@ajcvickers and I talked in person, and we would like @rowanmiller to weigh in. It seems we have a few options to chose from:

0. Do nothing: Assume that it is ok for contexts resolved from DI to be always scoped and have people that need transient doing the registration manually or using `new MyDbContext(options)` (the options could still come from DI, which makes it still relatively nice).
1. Ta

[2016-04-15 00:30] natemcmaster commented on #3925
The rest of the Newtonsoft.Json story is here: https://github.com/dotnet/cli/issues/2514

[2016-04-15 00:35] divega commented on #4134
BTW, regarding my previous comment on borrowing both unicodeness and length, as per https://github.com/aspnet/EntityFramework/issues/4949#issuecomment-208605611, it seems that we area already doing the right thing for the unicodeness.

[2016-04-15 00:43] ajcvickers commented on #4988
I'm fine with any of options 2, 3, or 4.

[2016-04-15 02:44] #4714 closed

[2016-04-15 02:44] #4934 closed

[2016-04-15 06:50] rmja commented on #4146
@rowanmiller any chance this will make it into rc2? The priority should come from the fact that a wrong schema is created, and cleaning it up afterwards could be a cumbersome task.

[2016-04-15 07:49] davidroth commented on #5075
@ajcvickers  :+1: for the new API.

I guess the third option (correctly implementing _INotifyPropertyChanged_+ _INotifyPropertyChanging_) will show the best performance / lowest memory usage?

@rowanmiller  Are there any benchmarks for these different configurations?

[2016-04-15 08:05] Loat opened #5083 "Code first migration. Index name issue"
I have found some issue with index names. I have table declared like this:

![image](https://cloud.githubusercontent.com/assets/6999100/14555162/a0525682-02f9-11e6-8fbe-e097f0898bb0.png)

And code first migration generated code with index name like "IX_ClassName_ColumnName" but i think it should be like "IX_Table_ColumnName"

![image](https://cloud.githubusercontent.com/assets/6999100/14555150/821

[2016-04-15 09:44] PhilAtWysdom commented on #4969
I am experiencing the same. The issue occurs when I use more than one property from the sub-table that has been associated with the identifier "l". The query runs fine so long as no more than one of the properties of the subquery are referenced by the anonymous object.

Here is my example:

var detail = (from site in _context.Sites
                          let l = (from lim in site.SiteSendLimits

[2016-04-15 10:04] tiwariarvin commented on #1864
Hi Rowanmiller - Did you had a chance to check this? I am curious because I see some serous performance gains.

[2016-04-15 12:37] divega commented on #5022
Clearing up milestone so that we can review in triage. This might be RC2 (but perhaps is a dupe if we are tracking it in the commands issue).

[2016-04-15 15:25] agileorange opened #5084 "Incorrect SQL when using Linq 'Any'"
_context.Sites
 .Where(b => b.WorkTasks.Any(c => c.WorkProgramId == workProgramId))
 .Where(c => c.IsDeleted == false)
 .Count()

Generates the following SQL

[code]

When it should have the '=1' after the WHERE (..)? i.e.

[code]

[2016-04-15 15:35] smitpatel commented on #5084
Can you share your model & dbcontext classes?

[2016-04-15 15:37] dance commented on #4988
I vote for option 3. Option 4 is less preferable but still acceptable. I agree with @divega that

[2016-04-15 15:39] agileorange commented on #5084
It is for a customer who would not be happy to share the model with public. Can I do this privately?

[2016-04-15 15:49] deenairn commented on #5067
@gdoron I don't particularly care about the order of the IDs - but my product owner does. We have a scenario where they want the order to be preserved in the order the items are added to the application. In EF 6 - this just worked - but upgrading to EF7 - it seems the behaviour has changed. The number of entities added by AddRange is variable - it can be anything from 2 to a very large number. Sta

[2016-04-15 15:52] mikes-gh commented on #4988
Don't really like 2 seems like a band aid and not consistent naming wise.
3 ideally (painful)
4 OK

[2016-04-15 16:43] rowanmiller commented on #4988
2 or 3 seem fine to me. Lets discuss in person today and make a final decision.

[2016-04-15 16:46] rowanmiller commented on #4146
@rmja this one is not going to be in RC2, it is on the list to fix for RTM though.

[2016-04-15 17:45] rowanmiller commented on #1864
@tiwariarvin - We will support multiple result sets in the future, but at this stage there is no support for them. Stored procedure support in general is tracked by https://github.com/aspnet/EntityFramework/issues/245.

[2016-04-15 17:49] anpete opened #5085 "Query: Relational: FirstOrDefault with projection and nav not being fully translated"
From MusicStore:

[code]

We get the following query plan:

[code]

This is because we would need to "lift" the FirstOrDefault predicate ahead of the projection (since it is expressed in terms of client objects).

Workaround is to move the predicate to a Where op ahead of the projection.

[2016-04-15 17:49] smitpatel commented on #5084
No problem. Which version of EF are you using?

[2016-04-15 17:51] agileorange commented on #5084
{
  "version": "1.0.0-*",
  "description": "Apollo1.Web.Data Class Library",
  "authors": [ "mark.chidlow" ],
  "tags": [ "" ],
  "projectUrl": "",
  "licenseUrl": "",

  "dependencies": {
    "Apollo1.Web.Domain": "1.0.0-*",
    "EntityFramework.Commands": "7.0.0-rc1-final",
    "EntityFramework.MicrosoftSqlServer": "7.0.0-rc1-final",
    "Microsoft.AspNet.Identity.EntityFramework": "3.0.0-rc1-fi

[2016-04-15 17:54] agileorange commented on #5084
I have a 'using AutoMapper.QueryableExtensions'. I'll check that this isn't causing the issue.

[2016-04-15 17:57] smitpatel commented on #5084
This looks similar to #4877 which is fixed in latest codebase (but causes issue in rc1 release). I will test if above query works in latest code or not.

[2016-04-15 18:00] agileorange commented on #5084
OK I have tested and it has nothing to do with  AutoMapper.QueryableExtensions.

[2016-04-15 18:10] natemcmaster commented on #5022
This issue is caused by incomplete isolation provided by `System.Runtime.Loader.AssemblyLoadContext`. We build ef around this isolation model, but have discovered it doesn't provide enough isolation for scenarios such as this. See https://github.com/dotnet/cli/issues/2514

[2016-04-15 18:13] smitpatel commented on #5084
Repro code:
[code]
Generated query in latest code
[code]
The issue is fixed in latest code. Feel free to re-open, if you still see issue happening after upgrading to RC2 (after it releases).
As a work-around in RC1 you can convert `Any(...)` to `Count(...) > 0`

[2016-04-15 18:15] agileorange commented on #5084
Excellent thank you.

[2016-04-15 18:20] rowanmiller commented on #4522
Closing as we have not heard back with requested details

[2016-04-15 18:28] rowanmiller commented on #4951
Closing as we have not heard back with requested details

[2016-04-15 18:29] rowanmiller commented on #4967
Closing as we have not heard back with requested details

[2016-04-15 18:29] rowanmiller commented on #4992
Closing as we have not heard back with requested details

[2016-04-15 18:33] rowanmiller commented on #5024
@natemcmaster can you confirm?

[2016-04-15 18:34] rowanmiller commented on #5025
@maumar we're guessing this is RC1 and the nav prop work in RC2 will solve this

[2016-04-15 18:39] rowanmiller commented on #5034
@smitpatel this may go away with your changes, can you verify

[2016-04-15 18:45] #5055 closed

[2016-04-15 19:30] joshcomley commented on #5025
@rowanmiller This occurs in the latest RC2 version

[2016-04-15 19:30] mtycholaz commented on #4967
Sorry, I haven't had time to investigate further yet. For now I've reverted back to beta8.

[2016-04-15 19:44] ajcvickers commented on #4988
Team vote for 2 with the parameter order switched.

[2016-04-15 19:47] Ciantic opened #5086 "SqlLite in-memory database to retain while app is running"
I need to use sqllite in-memory database while the app is running, right now it closes the connection after each call and the database is lost. This is useful for testing, but not so useful when one needs to have persistent sqllite in-memory database.

If I use in-memory connection string for SQLLite:

[code]

Then my init code fails:

[code]

According to other issue #4922 it closes the connectio

[2016-04-15 19:56] ajcvickers commented on #5086
Looks like a dupe of #4922

[2016-04-15 19:59] Ciantic commented on #5086
@ajcvickers sorry about that, thing is "sqllite memory" gives no open issues! Weird fulltext search.

[2016-04-15 20:02] mikary opened #5087 "Usability: Mention ServiceLifetime in DbContext disposed exception"
Users are likely to encounter this exception when they are using a DbContext that has been registered in DI as a Scoped service when they expect it to be Transient. This would be a good opportunity to provide a message describing how to register the DbContext with a different ServiceLifetime.

[2016-04-15 20:17] Ciantic commented on #4922
@o0rebelious0o how did you get this working? It works better if I throw this `db.Database.OpenConnection();` on my init db, but if I start using the app it still has closed the connection.

I'm trying to maintain the connection when I use the application (not just when running tests) so it needs to be semi-permanent.

[2016-04-15 20:18] anpete opened #5088 "Perf: Investigate allocations on async query path"

[2016-04-15 20:35] anpete opened #5089 "Query: Add unbounded result set warnings"
Could warn in logger
Could throw if we enumerate past a user configured threshold - It is almost never what you want to query 1k entities

[2016-04-15 21:26] divega commented on #5088
We have some ideas we can try to reduce the number of Tasks allocated when executing queries that return `IAsyncEnumerable<T>`

[2016-04-15 21:30] divega commented on #5087
I think it might also be relevant that should only ever encounter this exception if they explicitly dispose the context instance, which is something they can avoid if using DI.

[2016-04-16 00:03] bricelam commented on #4922
@Ciantic Can you create a new issue for us to consider ways to improve the experience.

[2016-04-16 01:56] maumar commented on #5060
fixed in 616886d09355d6f0d63d7ab7cdfb0e1a7787dd67

[2016-04-16 05:17] Ciantic commented on #5086
@bricelam I reopened my issue #5086 and renamed it to mean what I meant: I want to have in-memory SqlLite database to persist while the app is running.

[2016-04-16 05:17] Ciantic commented on #4922
@bricelam I reopened my issue #5086 and renamed it to mean what I meant: I want to have in-memory SqlLite database to persist while the app is running.

[2016-04-16 05:18] Ciantic commented on #5086
I reopen this, since what I want is a bit different: to persist in-memory database while app is running.

[2016-04-16 09:53] Ciantic commented on #5086
Found a solution to persistent in-memory SqlLite database, it was simple after all:

[code]

[2016-04-16 17:39] deenairn opened #5092 "Working with Disconnected Graphs"
It would be nice if the Entity Framework Core 1.0 API providing a better level of support for the disconnected graph scenario (i.e. where changes are made on a web client and the results posted back to the server where the context is not aware of the changes to the state of the world). The current API provides two methods, one called Attach which by default adds the whole tree in an "Unchanged" st

[2016-04-16 20:21] robinheghan opened #5093 "Migrations for multiple databases"
I have a project where I want to share code between backend and frontend.
The backend will have a Microsoft SQL database, the frontend will use SQLite, but both of them will require the same (or roughly the same) schema.

Last I tried EF Core, creating one set of migrations for one database, would not work for the other (the migration would run, but if I remember correctly, there were certain bugs

[2016-04-17 00:00] komengem commented on #797
Man, i was hoping we would get this in Update 2 :-1:

[2016-04-17 05:10] ErikEJ commented on #797
@komengem did you have a look at: http://stackoverflow.com/questions/29030472/dbset-doesnt-have-a-find-method-in-ef7/29082410#29082410 ?

[2016-04-17 09:47] JanEggers opened #5094 "Question: Is it possible to include Exteded Delete / update queries"
Hi

i think it would be a good idea to include

https://github.com/loresoft/EntityFramework.Extended

delete / update query capabilities in this project

[2016-04-17 12:53] matguthrie commented on #2336
Hi,

I'm encountering the same "Exception calling "SetData" with "2" argument(s)" issue when calling add-migration. I have a separate data project using EF 6.1.3 and have been using migrations successfully with a ASP.NET 4.5 project. I've just added a ASP.NET 5 web app to the solution and I'm now unable to add a migration. The target project is the data project itself.

If I remove the ASP.NET 5 p

[2016-04-17 13:15] HalidCisse commented on #5093
+1

[2016-04-17 13:57] mdmoura opened #5095 "Error when Ordering by condition"
I have the following query to order items based on future and past dates:

[code]

I get the following error:

[code]

I suppose this is a bug?

[2016-04-17 15:31] mrahhal commented on #2336
@matguthrie If you're talking about `Migrator.EF6` (I can't figure out from the context) please open an issue in that repository.

[2016-04-17 16:49] xperiandri commented on #1100
So what can we do now to use spatial types from EF7?
Will creating a type mapper to Well-Known text work?

[2016-04-17 18:13] GSPP commented on #5089
This would be useful. It should not be a text log though. It should be programmatically detectable. The app decides how to handle/log that condition (possibly terminate the query?).

[2016-04-17 18:23] f0rt opened #5096 "Question: How to run EF migrations on production server (azure website)?"
Hi team,

I'm wondering what is the recommended way to run EF migrations on a production DB. I didn't find anything in the reference except this: [http://ef.readthedocs.org/en/latest/platforms/aspnetcore/new-db.html](url).  I've posted the question on stack  [http://stackoverflow.com/questions/36680268/what-is-the-best-way-to-run-ef-migration-on-production-server](url)

Thank you in advance,
Nedko

[2016-04-18 02:16] azamk100 opened #5097 "Include and Take in same query causing materialization issue"
In below situation, attempting to load a many-to-many object with navigation and its associated relation. EF Version 7 RC1:

[code]

---

**Workaround:**

[code]

[2016-04-18 17:15] DonSchenck opened #5100 "Sqlite code running in RHEL throws DllNotFoundException (for DLL sqlite3)"
OS Name: rhel
OS Version: 7.2
OS Platform: Linux
Dotnet --version: 1.0.0-rc2-002339

Call to method "EnsureCreated" throws the following:

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'sqlite3': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at Microsoft.Data.Sqlite.Interop.NativeMethods.Sqlite3_sqlite3.sqlite3_open_v2(IntPtr filename, Sql

[2016-04-18 17:32] #3425 closed

[2016-04-18 18:06] rowanmiller commented on #5041
@natemcmaster can you comment on how all this stuff works in .NET CLI land...

[2016-04-18 18:30] rowanmiller commented on #5065
Closing as this is now tracked as part of https://github.com/aspnet/EntityFramework/issues/3925

[2016-04-18 18:31] natemcmaster commented on #5034
@divega this looks similar to the issue you saw with Microsoft.AspNet.Identity.EntityFramework. Did we every figure out if there is a NuGet bug with fx packages?

[2016-04-18 18:33] smitpatel commented on #5034
This still persists with new packages.

[2016-04-18 18:34] natemcmaster commented on #5066
@rmja what happens if you build after removing?
[code]

[2016-04-18 18:43] smitpatel commented on #5083
Already fixed in 4eaa473c04b525d83abd0a8378cc993e035eb9a6

[2016-04-18 18:43] #5083 closed

[2016-04-18 18:57] rowanmiller commented on #5100
@natemcmaster can you share the steps needed 😄

[2016-04-18 19:01] natemcmaster commented on #5100
@DonSchenck do you have libsqlite3 installed on your machine? This library binds to the version of sqlite installed on the OS. cref https://github.com/aspnet/Microsoft.Data.Sqlite#requirements

You can check with:
[code]

[2016-04-18 19:02] DonSchenck commented on #5100
[vagrant@rhel-cdk cli-samples-master]$ ldconfig -p | grep sqlite3
        libsqlite3.so.0 (libc6,x86-64) => /lib64/libsqlite3.so.0

Also, `which sqlite3` yields /usr/bin/sqlite3

[2016-04-18 19:06] rmja commented on #5066
@natemcmaster that works. That is what the "changing any file" implicitly means☺

[2016-04-18 19:07] natemcmaster commented on #5100
CoreCLR should be loading `/lib64/libsqlite3.so.0`. @stephentoub on RHEL, which paths do we probe for native libraries? Or do we just rely on default behavior of `dlopen`?

[2016-04-18 19:07] DonSchenck commented on #5100
Also, `sqlite3 -version` returns `3.7.17 2013-05-20 00:56:22 118a3b35693b134d56ebd780123b7fd6f1497668`

[2016-04-18 19:10] natemcmaster commented on #5100
@DonSchenck `/usr/bin/sqlite3` is just a user shell. I'm not sure if it uses `dlopen` to load `libsqlite3` or if sqlite3 is statically linked in this executable. Either way, you can try working around by manipulating the folders that `dlopen` looks for. See `man dlopen`. On most *nix systems, the search path for native libraries is set in the env variable `LD_LIBRARY_PATH`

[2016-04-18 19:11] stephentoub commented on #5100
@sergiy-k, @janvorli, or @jkotas can probably answer this best.

[2016-04-18 19:18] moozzyk commented on #5100
you can set the `LD_DEBUG`

[2016-04-18 19:28] DonSchenck commented on #5100
I see it attempting to load `/lib64/libsqlite3.so`, but not `/lib64/libsqlite3.so.0'

Does that make a difference?

[2016-04-18 19:39] smitpatel commented on #5047
Using model from stackoverflow question, while I am trying to generate model, I am hitting following exception:
`The key {'EventId1'} contains properties in shadow state and is referenced by a relationship from 'Event.Sessions' to 'Session.Event'. Configure a non-shadow principal key for this relationship.`
The conflicting lines in the model causing this error are:
[code]
First line of code define

[2016-04-18 19:54] mikary commented on #2732
Ran the example and was able to reproduce with the beta6 packages. This appears to be a very basic OData scenario and we have some working examples on desktop, but this isn't currently supported on core.
Closing this issue as the underlying issue in EF appears to be resolved.

[2016-04-18 19:54] #2732 closed

[2016-04-18 19:56] natemcmaster commented on #5100
Yes. Try creating a symbolic link. `ln -s /lib64/libsqlite3.so.0 /lib64/libsqlite3.so`. I'm not familiar with RHEL, but on debian, this symbolic link is added automagically when installing [libsqlite3-dev](https://packages.debian.org/sid/libsqlite3-dev). This there an equivalent package for RHEL?

[2016-04-18 19:59] DonSchenck commented on #5100
Thanks. I did a bad thing and just copied the original, and that worked. I've since deleted my copy and am using the symlink instead.

I'm no longer getting that error.

[2016-04-18 20:04] rowanmiller commented on #5025
@joshcomley thanks for confirming, we've put this on our list to fix for 1.0.0 release

[2016-04-18 20:07] natemcmaster commented on #5041
@bigteejay you are correct. "release" branch is our staging for RC2 and will be merged to "master" when RC2 is ready. EF RC2 doesn't support dnx commands anymore. This functionality moved to dotnet commands. You should be able to do `dotnet ef database update -e Production` with dotnet-cli when RC2 is released. This is already available on [our nightly feeds](https://github.com/aspnet/Home/wiki/Nu

[2016-04-18 20:09] natemcmaster commented on #4577
Blocked on https://github.com/dotnet/cli/issues/2505 and https://github.com/dotnet/cli/issues/2566

[2016-04-18 20:13] rowanmiller opened #5102 "Update XML docs for DbContext, AddDbContext, etc."
With all the changes around how DI is handled, these need to be reviewed and updated.

[2016-04-18 20:13] DonSchenck commented on #5100
@natemcmaster To answer your question, `yum install sqlite3` just tells me it's already installed and there's nothing to do.

I'm going to wipe my RHEL VM and start from scratch, but your help has been wonderful. THANK YOU.

[2016-04-18 20:14] natemcmaster commented on #5100
@DonSchenck I don't have RHEL...but what about `yum install libsqlite3-devel`?

[2016-04-18 20:14] maumar opened #5103 "Query :: invalid results returned for some groupjoin related scenarios"
Repro:

[code]

results:
"111", "111", "121", "121"

expected:
"111", "112", "121", "122"

[2016-04-18 20:15] DonSchenck commented on #5100
Oh; I tried `libsqlite3-dev` ... I'll try your's.

[2016-04-18 20:16] DonSchenck commented on #5100
(FYI You can get a copy of RHEL for free if you want to experiment)

[2016-04-18 20:16] maumar commented on #5103
possibly related to https://github.com/aspnet/EntityFramework/pull/5048

[2016-04-18 20:20] maumar commented on #3811
@Nikhil1292 I was able to run your scenario, slightly modified:

[code]

but it now yields incorrect results - I filed https://github.com/aspnet/EntityFramework/issues/5103 to track this

[2016-04-18 20:23] maumar commented on #3811
@RiyasMeeran could you provide some more information about your scenario? specifically the DbContext code and entities used (Product, Company, Project and the root entity that you are trying to include)

[2016-04-18 20:23] maumar commented on #3811
reopening for investigation

[2016-04-18 20:45] mikary commented on #3585
Attempted to reproduce this on current dev and it appears the problem was resolved in 10f74f9d.

No exception is thrown and the following SQL is generated for the first query:
[code]

[2016-04-18 20:45] #3585 closed

[2016-04-18 20:46] natemcmaster commented on #5100
Found the right package. I'm closing this as a duplicate of https://github.com/aspnet/Microsoft.Data.Sqlite/issues/237
[code]
https://github.com/aspnet/Microsoft.Data.Sqlite#redhat

[2016-04-18 20:53] natemcmaster commented on #5066
The source of the issue is dotnet-build. This is a duplicate of https://github.com/dotnet/cli/issues/1440. I'll leave this open to track on our side.

[2016-04-18 21:10] mikary commented on #3409
Ran the original reproduction and the additional cases mentioned by @divega and they are all executing without throwing. There have been several changes to Include since this issue was filed, and it is likely one of these changes also resolved this issue.

[2016-04-18 21:10] #3409 closed

[2016-04-18 21:13] #4742 closed

[2016-04-18 21:39] mikary commented on #3459
Attempted to reproduce this issue with current dev and no exception was thrown. This issue was likely resolved by unrelated changes and fixes between beta8 and now.

Reproduction used:
[code]

[2016-04-18 21:39] #3459 closed

[2016-04-18 21:42] dthomasdidit commented on #4212
Has there been any news about when RC2 will be released? I'm kind of in the same boat @danielgary was in back in January. We're wanting to ship an Alpha next month of our UWP app, but i'm unable to consistently build in release mode due to ILT0005 errors.

[2016-04-18 21:57] mikary commented on #3538
Attempted to reproduce on current dev and it appears the problem has been resolved.

Current generated SQL:
[code]

[2016-04-18 21:57] #3538 closed

[2016-04-18 22:00] divega commented on #5097
@azamk100 I haven't been able to reproduce this issue with either RC1 or RC2 bits and the information you provided. I put together some code that includes your queries executing against a simplistic model. Can you spot any significant difference that could cause the query to fail to eager load in your application and work with this code?

[code]

[2016-04-18 22:56] divega commented on #3409
@mikary do we have any test that looks like this scenario? we shouldn't regress it...

[2016-04-18 22:59] anpete commented on #5054
Resolved with https://github.com/aspnet/MusicStore/commit/fb4fadb0b10301b09326b8a9f78b6f1893210cb3

[2016-04-18 22:59] #5054 closed

[2016-04-18 23:55] dshamim commented on #5047
I worked around by removing the composite key (and using primary only) -
issue arose because i used scaffolding to generate the models and it
inherited the properties form the existing table

On Tue, 19 Apr 2016 at 05:40 Smit Patel <notifications@github.com> wrote:

[2016-04-19 00:33] gzak opened #5106 "How to view generated sql command of a query"
I could have sworn I was able to do `query.ToString()` to see the generated SQL query, but that's not working in EF7 on a basic `Where` query. How do you do it? Should be a super quick question...

I'm using the standard (localdb)\MSSQLLocalDB setup.

[2016-04-19 06:33] lostmsu opened #5107 "variable 't0' of type ... referenced from scope '', but it is not defined"
Seems to be similar to #4596
Repro [project](https://onedrive.live.com/redir?resid=4AF1A345A1ED112A!1175145&authkey=!AGCDtMU0aWh37-Y&ithint=file%2czip)

[code]

Models:
[code]

I am also not sure, but for the exact same query I see this in warnings:

That is bad, as I expected Any to be translated to EXISTS clause.

[2016-04-19 07:08] Trungkho opened #5108 "Collection navigation include with Skip/Take/FirstOrDefault"
In one of my test projects, I tried this query:

[code]

And the following queries are generated:
[code]

[code]

[code]

The **DISTINCT TOP(1)** part will result in empty **DepartmentResults** and **KpiResults**

[2016-04-19 07:45] Loat commented on #5106
I don't know about current query sql but if you need just log sql queries, i have extension like this:

public static class DbContextExtensions
    {
        public static void LogSql(this DbContext context, Action<string> logAction)
        {
            var serviceProvider = context.GetInfrastructure<IServiceProvider>();
            var loggerFactory = serviceProvider.GetService<ILoggerFactory>(

[2016-04-19 08:11] Borlay opened #5109 "Get property which is calculated in select query"
I have plain sql with paging and search syntax, i want to execute it map tables to object and take total count. My code is like that:

[code]

But i have problem when i trying to take property that not exist in database table. I don't need this property in a table, i just want to calculate it in select query. Why i can't do this?
In older version i can have class like below and map query into this

[2016-04-19 12:12] mikes-gh opened #5110 "Cant use dotnet ef dbcontext in net452 app"
**My project.json**

[code]

**My Command line**

[code]

**My Question**

How to use dotnet ef dbcontext in net452 app

[2016-04-19 15:00] jazzonaut opened #5111 "Navigation properties are not getting selected"
A simple query like this:

[code]

Will result in SQL that will try to select all columns from db.Calls and none from call.StatusNavigation.
In this particular case I expect it to do a join on CallStatus and only select a Name column from it.

Using build 20620 from the 19th or April.

[2016-04-19 15:09] jazzonaut opened #5112 "Null reference when using Take"
The following query:

[code]

Produces the following exception:

[code]

Using build 20620 from the 19th or April.

[2016-04-19 15:28] jazzonaut opened #5113 "Left join not working as expected"
The following query:

[code]

Will result in SQL that will try to select all columns from db.Fields, instead of just one (Value).
Also, if there is nothing on the right (i.e. when 'j' is technically null), it will result in an exception:

[code]

Using build 20620 from the 19th or April.

[2016-04-19 15:35] smitpatel commented on #5112
Does following work?
[code]

[2016-04-19 15:39] natemcmaster commented on #5110
Duplicate of https://github.com/aspnet/EntityFramework/issues/4577

[2016-04-19 15:41] smitpatel commented on #3459
Set operations were implemented in RC2. Tracking issue #3638

[2016-04-19 15:43] amokre commented on #5112
Sorry, the entity of the StatusNavigation property was not properly bound in the model, it is all working fine now!

[2016-04-19 15:44] amokre commented on #5111
Sorry, the entity of the StatusNavigation property was not properly bound in the model, it is all working fine now!

[2016-04-19 15:46] natemcmaster commented on #5026
To fix this, update your tooling to .NET Native SDK >= 1.3.1. (See [this blog post](https://blogs.msdn.microsoft.com/visualstudio/2016/04/11/whats-new-in-vs-2015-update-2-for-universal-windows-developers/).) This version of the SDK includes a new compiler feature that removes the need to use runtime directives to get EF working. Our pre-release versions of the RC2 don't use runtime directives anym

[2016-04-19 15:47] natemcmaster commented on #4989
Fixed with https://github.com/aspnet/EntityFramework/commit/979148720aadeab7e377efbd7c5faadc12a2a48d

[2016-04-19 15:47] #4989 closed

[2016-04-19 16:09] natemcmaster commented on #4546
We will likely need to react to this: https://github.com/aspnet/Hosting/pull/714
cc @divega

[2016-04-19 17:24] rowanmiller commented on #5106
More info on logging here; http://docs.efproject.net/en/latest/miscellaneous/logging.html (similar to what @Loat described)

At this stage EF Core doesn't have an equivalent to `ToString()` from EF6.

[2016-04-19 17:32] rowanmiller commented on #5022
Closing as we will track this as part of https://github.com/aspnet/EntityFramework/issues/3925

[2016-04-19 17:38] rowanmiller commented on #5028
You need to drop down to some of the lower level components to do this (at least at this stage)

[code]

[2016-04-19 17:40] rowanmiller commented on #5030
`DbGeography` is not supported as yet - and won't be for the initial 1.0.0 release. We won't add explicit support for this type, but it will be covered by a more general type conversion work item (https://github.com/aspnet/EntityFramework/issues/242). In the meantime you may be able to get away with mapping to string property and then wrapping that with a DbGeography property in your CLR class.

[2016-04-19 17:41] rowanmiller commented on #5031
Not currently supported. Complex type support is tracked by https://github.com/aspnet/EntityFramework/issues/246 and the idea of allowing JSON storage is already captured in that issue (see third paragraph of description).

[2016-04-19 17:42] smitpatel commented on #5047
@rowanmiller - Is there anything actionable from our side here?

[2016-04-19 17:44] rowanmiller commented on #5051
This is not currently supported, but it would be enabled by https://github.com/aspnet/EntityFramework/issues/2850. For the moment you would need to drop down to raw SQL.

[2016-04-19 17:49] rowanmiller opened #5114 "Make setting navigation property to modified delegate to setting fk property(s) modified"
See https://github.com/aspnet/EntityFramework/issues/5052. When FKs are in shadow state, it would be nice to be able to set the nav prop to modified and have that delegate to the FK properties.

[2016-04-19 17:50] rowanmiller commented on #5052
The navigation property is really just a view over the foreign key properties, so rather than setting the navigation property as modified, you need to mark the foreign key as modified. In your case, the FK is a shadow property (not present in the entity class), so you would need to call:

[code]

I did open https://github.com/aspnet/EntityFramework/issues/5114 as it would be nice if setting the na

[2016-04-19 17:53] rowanmiller commented on #5053
From the error displayed it seems like SQL Client is unable to connect to your database. I see you posted the screen shot, any chance you could give us the text from the error so that I can translate it?

[2016-04-19 17:55] rowanmiller commented on #5069
@davesmits what version of EF Core are you using (RC1 or the nightly RC2 builds)?

[2016-04-19 17:57] davesmits commented on #5069
RC1. tried to get RC2 from myget but nuget refused to install that package

[2016-04-19 17:57] mikary commented on #3459
Note: this specific scenario should be covered for regressions by an existing query test - `QueryTestBase.Union_simple`

[2016-04-19 17:58] rowanmiller commented on #5070
@GrantErickson there are two ways you could do this:
* Use a smaller scope of the context. In general it is best to use a context for a short scope and then throw it away. If you used a new context for the query then there would be no existing objects that it would try to fix up navigation properties to.
* You could also use a NoTracking query, which will just give you results without tracking the

[2016-04-19 18:07] maumar commented on #5113
@amokre  this is a known limitation of EF currently (#4539). Basically everything that will happen after DefaultIfEmpty is evaluated on the client, hence we are projecting all the columns and you are getting null ref. Experience is better if you use navigation properties directly (if they are available in your model) as we inject null propagation logic into projection:

[code]

note that it Field.

[2016-04-19 18:22] davesmits commented on #5069
i just updated everything to the rc2 version from myget (included .netcore) and now when building a release build it returns very quickly this error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Loading assembly "C:\Users\dave\.nuget\packages\runtime.win7-x86.Microsoft.NETCore.Runtime.CoreCLR\1.0.2-rc2-24008\runtimes\win7-x86\native\mscorlib.ni.dll" failed. System.TypeLoad

[2016-04-19 18:52] smitpatel commented on #5035
I tried running above query with latest dev,
It passes successfully. Since we do not know how to translate `DateTime.Parse()` to T-Sql, the where clause is evaluated on client.
I also tried passing the `DateTime.Parse("1/1/2015"))` as a variable which gets converted to parameter.
Query -
[code]
Which generated following query
[code]
Which also does not throw any exception.
Can you provide of full

[2016-04-19 19:15] rowanmiller commented on #5069
@davesmits yeah RC2 won't work with .NET Native until some new UWP is made public - the .NET Native team has some new work coming that helps solve a lot of the .NET Native issues that we had in RC1.

We've assigned this to someone to investigate since we haven't seen these particular failures before and want to make sure they won't carry over into future releases.