[2018-08-23 17:59] bricelam commented on #8332
It's also worth noting that the WebHost pattern works with generic host: (but yeah, still no ability to specify args)
[code]

It's a little strange that you have to call it Create**Web**HostBuilder, but 🤷‍♂️ hindsight's 20/20

[2018-08-23 18:01] cwithfourplus commented on #12402
Everyone in my team of 100+ developers is getting this error after Visual Studio 2017 Enterprise upgrade to 15.8.1

![image](https://user-images.githubusercontent.com/34212924/44543085-34bcfb00-a72c-11e8-8c03-78d0c9970fb1.png)

We are on .NET Core 1.1 using SDK 1.1.10, runtime 1.1.9 and EF Core Version 1.1.6

I don't think this issue should be closed just like it

[2018-08-23 18:07] maumar commented on #13082
Problem happens because when including a collection we produce two queries (one for parent entities and one for included entities associated with all the parents) whose ordering must be the same. In case of non-deterministic ordering, this will not happen, so the parent entities are not correctly associated with the children.

Changing to customer/order model for simplicity, we produce the followi

[2018-08-23 18:15] ajcvickers commented on #10698
@baloghlaszlo Not necessarily. First, this is a SQL Server limitation; other providers can handle this. Second, disabling cascade deletes entirely is often not the best way to handle this. Instead, it can be better to edit the migration to allow EF to continue doing cascade deletes while the database does not. Third, only one relationship needs to changed to prevent the cycle, and depending on how

[2018-08-23 18:39] ajcvickers commented on #13080
@ahmedtolba1984 The code is creating a new Order instance and then attempting to track it in the same context instance that is already tracking the original Order instance. You should probably consider using a different context instance for each unit-of-work, and it also might be helpful to review the docs on [change tracking](https://docs.microsoft.com/en-us/ef/core/saving/basic) and [working wit

[2018-08-23 18:42] ajcvickers commented on #13084
@bigworld12 EF writing directly to fields is currently required for lazy-loading to work. Can you should some examples of properties for which this is causing issues?

[2018-08-23 18:44] ajcvickers commented on #13086
@ghd258 There doesn't seem to be any specific question here, so closing. If you have a specific question or issue, then please file a new issue including full details of what the scenario is, what's not working, and any other details that will help us understand specifically what you are asking.

[2018-08-23 18:54] GSPP commented on #13082
This scenario could be very common. Even if you order by something like `Customer.FirstName` then the database can return rows with the same name in different order (and this will happen with parallelism on SQL Server for sure). So very innocent looking queries could run into this problem.

[2018-08-23 18:55] ajcvickers commented on #13088
Duplicate of #13014, but bringing this back to triage since we are seeing many requests for it.

[2018-08-23 18:57] bigworld12 commented on #13084
@ajcvickers
for example in [Catel.Core](http://docs.catelproject.com/5.6/catel-core/data-handling/modelbase/) which uses dependency-property-like properties
a typical property in the model is defined like this
[code]
so you don't have direct access to the backing field, which adds features like (notification, saving and resetting object state, validation, etc..)
so EntityFrameworkCore will not wor

[2018-08-23 19:03] maumar commented on #13095
this works in current bits. Please update your EFCore version.

[2018-08-23 19:09] Kelsch commented on #9249
Still seeing this issue on visual studio version 15.8.1 with xamarin 4.11.0.732 and xamarin.ios 11.14.0.13

[2018-08-23 19:31] smitpatel commented on #13077
By design.

When you create a object of Concrete type, we don't know what would be the value of property without creating the object. e.g.
[code]
As you can see we cannot replace MyDto.Price with the value of price we were assigning because we don't know what custom transformation happening inside concrete object.
For anonymous types there are not custom transformations possible. So we can just re

[2018-08-23 19:35] smitpatel commented on #13081
If `x.Type` is null then aren't you dereferencing a null pointer?

[2018-08-23 19:36] ajcvickers commented on #13090
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-08-23 20:11] maganuk commented on #13081
Yup. But shouldn't that check be done the translator? Works with EF6.

[2018-08-23 20:25] bricelam commented on #13089
Code contains: `6E-14.0`

We shouldn't append `.0` when `E` is present (or insert it before the `E` like we do in SQL)

[2018-08-23 20:28] bricelam commented on #13089
Make [this code](https://github.com/aspnet/EntityFrameworkCore/blob/801b3c02b9cde8808ee795e72642bfaa2d314c00/src/EFCore.Design/Design/Internal/CSharpHelper.cs#L381) look like [this code](https://github.com/aspnet/EntityFrameworkCore/blob/801b3c02b9cde8808ee795e72642bfaa2d314c00/src/EFCore.Relational/Storage/DoubleTypeMapping.cs#L62-L67).

[2018-08-23 20:44] bricelam opened #13098 "InMemory: Should byte[] be copied in and out of store?"
[code]

[2018-08-23 20:49] maumar commented on #13082
We always add order by PK after the user specified orderings, so customers with the same FirstName will be returned in deterministic fashion. The query would look like:

[code]

[2018-08-23 20:58] maumar commented on #13094
Problem was introduced in https://github.com/aspnet/EntityFrameworkCore/commit/15bc370703ee500c4c7ff1a4a670c97a829b839b which itself was a fix to a regression.

Basically we apply special conversion call for async queries with nullable SUM arguments, but we were not taking into account scenario where the query was asynchronous but the underlying aggregate that was supposed to be converted was sync

[2018-08-23 21:01] tinanigro opened #13099 "Unity's IL2CPP // AOT compilation mode compatibility"
Hi! ✋

# Context
We've been using EF Core in our Unity3D app for more than a year. In the Unity Editor (which runs .NET 4.6) EF Core 1.1.3 works great, as long as we manually add the required .NET dependencies. The UWP export (HoloLens in our case) doesn't work OOTB because the Unity's ReferenceRewriter executable fails find some dependencies. We worked around the problem by adding the EF Core DLL

[2018-08-24 00:54] maumar opened #13104 "Query: string.Concat gives different results than L2O for some types"
query:

[code]

result:
[code]

l2o:
[code]

[2018-08-24 02:06] max-favilli opened #13106 "store procedure slow only when executed from EF core"
I have the following line of code in my application:
`          var all = await _db.Query<RimsWheelsForCarNoKtype_Result>().FromSql("exec RimsWheelsForCarNoKtype {0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}", maker, modelName, string.IsNullOrEmpty(chassis) ? string.Empty : chassis, year, wheelbrand, wheelmodel, wheelholes, wheelcolor).ToListAsync();
`

In VisualStudio debugger I can see it takes sometim

[2018-08-24 03:38] roji commented on #6717
Unless I'm mistaken, I think we're in agreement that however we represent hints in EF Core, they cannot simply be strings that the user specifies and the provider tacks on in some place in the SQL (this would create SQL injection vulnerabilities etc.). In other words, a hint annotation is something "abstract" (even if it's provider-specific), which the provider picks up and then renders into SQL i

[2018-08-24 04:40] ConX-Ryan commented on #4693
+1 need this in my life

[2018-08-24 07:59] severisv opened #13107 "Script generation requires connectionString"
Running `dotnet ef migrations script` without a connectionstring causes it to fail: "The string argument 'connectionString' cannot be empty."

Running the command without a connectionstring on present is not uncommon on build servers.

Adding a dummy connectionString causes it not to fail.

### Steps to reproduce
Run dotnet ef migrations script on any EF Core project.

[2018-08-24 10:27] cello99d opened #13108 "The types of the properties specified for the foreign key do not match the types of the properties in the principal key"
This model builds fine in EF Core 2.1.2
If I change the type of C.Id to int?, then the model compiles.

Exception message:
System.InvalidOperationException: 'The types of the properties specified for the foreign key {'CRefKey'} on entity type 'B' do not match the types of the properties in the principal key {'Id'} on entity type 'C'.'

Stack trace:
   bei Microsoft.EntityFrameworkCore.Metadata.Int

[2018-08-24 10:43] Icaroto opened #13109 "Could not load file or assembly 'System.ComponentModel.Annotations'"
Hello,
I had a project created using the 2.0 libraries which was working fine.
Although when I tried to run this project in some Windows machine where only the latest versions were installed (2.1) I got this error (after updating the project to the latest version as well).

I saw some resolutions but none of them work for me. I've tried to add bindingRedirect to my App.Config and to add the AutoGe

[2018-08-24 12:47] Wain123 opened #13110 "Entity doesn't get removed from collection when setting reference to null if parent is deleted"
If a `Blog` entity is in the state `Deleted`, and I change a `Post`'s navigation property to no longer point at the `Blog`, then the `Post` doesn't get removed from the collection.

It works fine if the parent's state is not `Deleted`, and adding also works, just removing doesn't. The relationship is optional/nullable and all property setters raise `PropertyChanging`/`PropertyChanged`. I'm using `

[2018-08-24 14:05] GeroIwan commented on #13079
I just added a third workaround to the issue.

[2018-08-24 14:07] ZeroNightzz commented on #10784
As a temporary workaround you can use this extension method(I think it works):

[code]

[2018-08-24 14:24] marcrib opened #13111 "Exists dbset limit in dbcontext?"
Is there a dbset limit on a dbcontext?

Can I be slow in queries if I have many dbset (eq 400)?

[2018-08-24 14:35] bricelam commented on #13029
The CI is back up and running.

[2018-08-24 14:42] bricelam commented on #13059
Instead of checking in JSON and using it to generate a SQLite database, just check in the SQLite database itself.

[2018-08-24 15:58] bricelam commented on #13107
Possible duplicate of #9244

[2018-08-24 16:01] bricelam commented on #13074
Closing. These are mostly understood now. See PR #13100. I don't expect we'll find many more issues outside of the spatial work.

[2018-08-24 18:30] smitpatel commented on #13077
@byrnedo - Only possible option I can think of right now is Anonymous Type. We allow anonymous types to go through seamless because they are nice blocks to carry a group of properties.

Is there a reason you want to use POCO? (Since your poco is not in final results)

[2018-08-24 18:56] ajcvickers commented on #13099
@ThomasNigro EF Core uses a large amount of dynamically built and compiled code. This causes issues for AOT compilers in a couple of ways:
* Metadata and Reflection are inherent to the way EF works, which means that tree shakers and the removal of metadata from assemblies needs to be controlled to not remove things that EF needs. Issue #10963 is tracking this for Xamarin.
* If the execution enviro

[2018-08-24 19:11] ajcvickers commented on #13106
@max-favilli Can you post a runnable project/solution or complete code listing that demonstrates this behavior? There may be other things going on EF that is impacting the performance, but that's hard to tell without running actual code that reproduces the issue.

[2018-08-24 20:27] maumar commented on #12711
Sample data that can be used to reproduce this:

[code]

Query plan:

[code]

[2018-08-24 20:36] ajcvickers commented on #10784
@ZeroNightzz What exception is thrown by `entityType.GetProperties()`?

[2018-08-24 20:43] ajcvickers commented on #13111
@marcrib Typically the number of entity types in the model impacts the amount of time to build the model more than anything else, so it could have an impact on startup time/first query performance. Beyond that, it is unlikely to impact the performance of the queries themselves.

[2018-08-24 20:45] maumar commented on #12711
Workaround is to include the navigations and perform GroupBy operation on the client (EF will try to perform it on the client anyway), like so:

[code]

[2018-08-24 20:49] omr-htp opened #13114 "ORDER BY Clause contains AS"
Hello,

i have an enum "MyStatusEnum" with type of byte

and i'm using this class
[code]
to store the results of this query
[code]
the produced sql statement is
[code]
Note "AS" in order by ...

the second big problem appears when i change the type of id property from byte to int without changing conversion "(byte)g.Key"

the sql statement become

[code]
Note "CAST as key before  as int"

i'm usin

[2018-08-24 20:57] arunprasathv commented on #13059
I'm creating SQLite Database using JSON. My understanding is we create SQLLite DB on the fly for unit testing.

[2018-08-25 13:28] Varorbc opened #13116 "Missing Document Summary"
When I use the EFTool to generate a model from the code first, the document summary is missing

[2018-08-25 15:18] austindrenski opened #13117 "LICENSE.txt not detected by Licensee"
The license file for this repository is not detected by GitHub for display on the repository page, in search results, etc.

We recently noticed and were able to fix [this for Npgsql](https://github.com/npgsql/npgsql/issues/2016) by adjusting some formatting required by [Licensee](https://help.github.com/articles/licensing-a-repository/#detecting-a-license).

It looks like `LICENSE.txt` is non-stan

[2018-08-25 15:32] roji commented on #13117
Maybe try to apply exactly what we did for the Npgsql repo?

[2018-08-25 17:42] igoventura commented on #13109
Did You tried to clear/build Your project? Delete bin and obj folders and then rebuild the project again? I had the same error these days and this solved for me. Sometime re-add the lib in the project can solve too.

[2018-08-25 23:11] sstublic opened #13118 "System.DateTime sometimes not correctly converted to SQL 'smalldatetime', resulting in SQL exception"
## Under some circumstances, query parameter of type System.DateTime is not correctly converted to match the column type that is defined as SQL 'smalldatetime'.

This results in **System.Data.SqlClient.SqlException (0x80131904): Conversion failed when converting character string to smalldatetime data type.**

I haven't found anything to indicate that this is somehow expected behavior or intentiona

[2018-08-26 01:07] moataz1991 opened #13119 "No Children Inserted !"
Add or Updating an existing parent object after sending it to webapi controller that has unchanged/changed children and grand children
fails ! , it should add or update parent object and automatically add,update or only attach children and grand children objects

### Steps to reproduce
1-Create Parent Object say "Building1"
2-Add "Floor1" child object to the collection of Floors in "Building1"
3-A

[2018-08-26 04:26] mustafashujaie commented on #9599
I have this error but I am not calling `SaveChagnes()`. However it happens when calling below query:

`return await query.Take(100).ToListAsync();`

`query` is an `IQueryable` object from my dbset.

Here is the stack trace:

`System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.DatabaseErrorPageMiddleware.Sy

[2018-08-26 04:33] smitpatel commented on #9599
@mustafashujaie - This issue has been fixed in 2.1 release. Which version of packages are you using? Fix is in Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore package.

[2018-08-26 04:55] mustafashujaie commented on #9599
This is the `.csproj` file:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <UserSecretsId>aspnet-RubyVAS-7B5F8BD4-0125-4090-BA45-4785CF064F2A</UserSecretsId>
	<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>
  </PropertyGroup>

  <ItemGroup>
    <Compile Remove="Data\CustomApplicationDbContext.cs" /

[2018-08-26 04:57] mustafashujaie commented on #9599
This is the `.csproj` file:

[code]

[2018-08-26 05:12] smitpatel commented on #9599
@mustafashujaie - You are using 2.0.8 version of AspnetCore.All. Please upgrade all AspNet related packages to 2.1 release in order to get the bug fix. Read this for more info on how to upgrade. https://docs.microsoft.com/en-us/aspnet/core/migration/20_21?view=aspnetcore-2.1

[2018-08-26 08:44] moataz1991 commented on #13119
i know the problem now
i was doing for the update : "...State = Modified" while i should use "context.update(model)"
bad tutorials in the internet... sry guys

[2018-08-26 10:27] Necronux commented on #10784
@ajcvickers

[code]

this is caused, so I have to use `GetProperties()` by accessing ClrType. I think the conversion must be known before using `GetProperties()` defined in EF.

[2018-08-26 10:49] etairi opened #13120 "Select inside Include in EF Core"
I have an entity that looks like this (partially removed for brevity, it includes many other properties):
[code]

The `TenderCircles` property is used to provide many-to-many relationship with another entity called `Circle`. `TenderCircle` entity looks like this:

[code]

So, I'm doing the following query (partially removed for brevity, normally it includes many other `Include` and `ThenInclude` s

[2018-08-26 11:03] myrup commented on #12148
Getting this error on a similar expression, maybe the same bug:
[code]
Normally I would use a null propagating operator to do the above (e.g. ```bd.Detail?.SubDetail```) but the compiler tells me they cannot be used in expression trees. Hence the```?:```  workaround above (which results in runtime crash). My workaround for the runtime crash is calling a static method outside:
[code]
Ideas to prett

[2018-08-26 12:01] SSkovboiSS commented on #13120
Hi @etairi

This should work fine with simply including `TenderCircles`.
[code]

EF Core will not load navigations unless you explicitly include them. Like that:
[code]

But note that Entity Framework Core will automatically fix-up navigation properties to any other entities that were previously loaded into the context instance. So even if you don't explicitly include the data for a navigation pro

[2018-08-26 14:40] fleed commented on #7243
Is this on the current roadmap?

[2018-08-26 15:04] sumit4palz commented on #11900
I am hit by same issue where I am taking a latest row and applying a filter.  .net 3.0 is still a way to go, how can this issue be workaround?

[2018-08-26 15:38] rposener opened #13121 "Scaffolding Issue when using DatabaseNames"
Please change the ReplacementScaffoldingModelFactory to allow using a IPluralizerService even when using DatabaseNames.  This opens a great world of possibilities where we can inject our own PluralizerService and name things in a manner that works well.  As it currently stands, we must either opt into your CSharpUniqueNamer - which mandates removal of non-alphanumeric characters (e.g. underscores

[2018-08-26 16:48] moataz1991 commented on #13119
btw , sense this issue was not closed yet :)
when i delete child object from parent collection
it does not get deleted from database
also parent collection get duplicate when updating it with it's children collection
in other mean , if u context.Update(Parent) 2 times
i will find duplicate of children collection and all attached to Parent

as for the example above it will be
1-Floor1
2-Floor1
3-Fl

[2018-08-27 00:47] sunsnow-tail opened #17503 "Add XML docs referencing how to determine the default CommandTimeout"
Missing default value in documentation for CommandTimeout;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65958d3d-fa06-d304-4cb5-637cbe19f51f
* Version Independent ID: bf2469bd-1e87-18ad-6f01-ced4c124afda
* Content: [RelationalDatabaseFacadeExtensions.SetCommandTimeout Method (Microsoft.EntityFrameworkCore)](https://d

[2018-08-27 06:22] JoesGab opened #13122 "Inconsistency in Lazy Loading Behavior"
I noticed some inconsistencies in the loading behavior of navigation proxies. I'm not entirely sure what the expected behavior should really be, but the Gist from the next section contains my point of view in a few xUnit tests.

#### Case A
An entity **without** eager loaded (null) navigation property lazy loads the navigation property after changing the corresponding Id. => Works as expected

###

[2018-08-27 10:28] cfdelaune commented on #9249
Like @Kelsch, I am still seeing the problem with the latest VS and Xamarin versions. I am using EF Core 2.1.2, and would be willing to try the EF Core 2.2 preview, but at this point, it is unclear to me where the problem resides. Is this a VS issue, Xamarin.iOS issue, or an EF Core issue? Until today, I have not been able to test because I kept running a compile error (described [here](https://git

[2018-08-27 11:01] aspnet-hello commented on #13053
Update_on_bytes_concurrency_token_original_value_matches_does_not_throw [failed with about the same error](http://aspnetci/viewLog.html?buildId=539720&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-27 12:17] MarkusBrgr commented on #12325
Hello,

since .net Core 2.2 will be released in Q4 2018, is there a temporary fix or workaround to use migrations inside transactions?
Something like Script migrations inside a transaction?

[2018-08-27 12:29] ThomasWeiss opened #13123 "Wrong parameter sent when setting a foreign key"
EF Core version: 2.1.2
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL v2.1.1.1

Using the following entity:
[code]
and the following foreign key rule:
[code]

I tried to add such an entity and set its `UserId` to `Guid.Empty` which corresponds to a (special) user that exists in the DB:
[code]
This failed with a violation of the foreign key constraint I described above. Tracing the SQL st

[2018-08-27 12:54] KrzysztofBranicki opened #13124 "Ability to register async ConnectionString provider"
I'm using EF Core 2.1 in project with fairly large codebase. We are using standard `AddDbContext<T>` method to register `DbContext` in DI:

[code]
In the application code we use constructor injection to obtain `DbContext`. Currently connection string is static and passed to each microservice using environment variables, however we have several new requirements that will require connection string t

[2018-08-27 14:06] Diaskhan opened #13125 "Does ef core provide some api to retrive information from schema ? indexes,FK, dependency on column"
I'a realizing custom mechanism of migrations

I have question.

I want delete column by this code . But Ms sql tel me that for this Foreign key have
"The index 'IX_entity22_ref2id' is dependent on column 'ref2id'.
↵The object 'FK_entity22_Entity1_ref2id' is dependent on column 'ref2id'.
↵ALTER TABLE DROP COLUMN ref2id failed because one or more objects access this column."

Does ef core provide so

[2018-08-27 14:45] dazinator commented on #11456
I know this is old now, but you are right, I did imply this :-)
That's because I have lived with the track record of asp.net core upgrades from RC preview through to 2.0, in which breaking changes have been commonplace. For example if you read https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/?view=aspnetcore-2.1 you realise that that it's not just project or code changes that need t

[2018-08-27 16:26] bricelam commented on #13121
Duplicate of #12102

[2018-08-27 16:36] bricelam commented on #13125
[DatabaseModel](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.Relational/Scaffolding/Metadata/DatabaseModel.cs) has this information. Get one like this:
[code]

[2018-08-27 17:00] ajcvickers commented on #13116
@Varorbc Can you be more specific about what you mean by "the EFTool"?

[2018-08-27 17:01] ajcvickers commented on #13117
@Eilon Thoughts?

[2018-08-27 17:03] ajcvickers commented on #13109
@Icaroto In addition to the suggestion above, you could also try clearing your NuGet package caches.

[2018-08-27 17:08] ajcvickers commented on #13119
@moataz1991 Please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing together with a description of how it doesn't meet your expectations.

[2018-08-27 17:09] ajcvickers commented on #10784
@Necronux Thanks. I thought you were indicating an exception when calling the GetProperties method itself.

[2018-08-27 17:11] ajcvickers commented on #12148
@myrup Please open a new issue and include a runnable project/solution or complete code listing that demonstrates the behavior you are seeing,

[2018-08-27 17:13] ajcvickers commented on #7243
@fleed No.

[2018-08-27 17:13] ajcvickers commented on #11900
@smitpatel @maumar Can you look into workarounds?

[2018-08-27 17:26] ajcvickers commented on #13123
@ThomasWeiss This is because EF will by default generate GUID values for new entities which do not already have a GUID value set. The sentinel for determining if the GUID value is set or not is the CLR default for the types, which in this case is the empty GUID.

If the GUID values are being created by the application, then this can be switched off, in which case the empty GUID will be treated lik

[2018-08-27 17:28] Eilon commented on #13117
Hmm we were told in no uncertain terms to use exactly this block of text for the license, with no changes whatsoever. I'll ask around if we can change it to something that would "detect" more easily, but maybe the thing doing the detection could also be updated?

[2018-08-27 17:35] ajcvickers commented on #11319
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-27 17:37] ajcvickers commented on #12999
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-27 17:38] ajcvickers commented on #13008
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-27 17:54] roji commented on #13117
In case this helps, in some communication with github support I was told to do the following:

Apparently they require a 98% match. In my case part of the problem turned out to be line breaks :/

[2018-08-27 18:30] domagojmedo opened #13126 "In memory DB seeding"
Calling EnsureCreated() with InMemoryDb will seed the database, but when you try to insert another row it will just reuse the Id and fail.

Also happens if you call EnsureCreated() twice

[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.InMemory
Operating system: Windows 10
IDE: Visual Studio 2017 15.8.1

[2018-08-27 18:31] ajcvickers commented on #13046
@AndriySvyryd to answer.

[2018-08-27 18:42] domagojmedo commented on #13126
I guess it's a duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/12950

[2018-08-27 18:51] ajcvickers commented on #13077
@divega @smitpatel to look for related issue.

[2018-08-27 19:04] ajcvickers commented on #13079
@AndriySvyryd to find dupe.

[2018-08-27 19:12] ajcvickers commented on #13082
@smitpatel to find the using keys issue

[2018-08-27 19:37] AndriySvyryd commented on #12325
@MarkusBrgr If you call `Migrate()` without a transaction we will create a transaction for you, this is the reason this exception is thrown. The only operations executed outside of a transaction are the ones that can't be inside of one.

[2018-08-27 19:44] AndriySvyryd commented on #13023
Duplicate of #13079

[2018-08-27 19:45] AndriySvyryd commented on #13079
To repro change `LeefA.LeafAAddress.Country.PlanetId` to `int` in https://github.com/aspnet/EntityFrameworkCore/tree/release/2.2/src/EFCore.Specification.Tests/Query/OwnedQueryTestBase.cs#L300

[2018-08-27 19:50] Diaskhan commented on #13125
Looking deeper in ef realising that ef has got great potencial!

[2018-08-27 19:53] smitpatel commented on #13082
Can be resolved via https://github.com/aspnet/EntityFrameworkCore/issues/12776

[2018-08-27 19:57] AndriySvyryd commented on #13046
[code]

[2018-08-27 20:13] Eilon commented on #13117
98% match? Sounds like an episode of CSI or something!

[2018-08-27 20:28] roji commented on #13117
Forensic licensing is the new hot thing...

[2018-08-27 20:51] smitpatel commented on #13114
Duplicate of #12826

[2018-08-27 21:01] smitpatel commented on #13059
You have multiple options here:
1. As @bricelam said, just commit a sample database used for testing. Data is not going to change. So instead of saving JSON you can store the DB file itself.
2. If you don't want to commit the DB file, (or using in memory mode for SQLite), then you can also use SQL script which will create and populate the data for you. We do that for our northwind data in SQL Serv

[2018-08-27 22:01] bricelam commented on #13116
(and *document summary* 😀)

[2018-08-27 22:04] maumar commented on #12854
tests added in f156e31cffd48a3df70b3444c1bd7b8a009ff0e9

[2018-08-27 22:04] #12854 closed

[2018-08-27 22:09] pmiddleton commented on #13117
Have you tried enhancing it :)

[2018-08-27 22:18] sstublic commented on #13118
That was fast! 👍

[2018-08-27 22:22] jamiewest opened #13130 "Tooling Error Messages Not Helpful"
Here is my command, just running a migration.
[code]

Then this, where is the source of my error, could I get some more info? I think I probably messed up a foreign key somewhere...
[code]

[2018-08-27 22:40] divega opened #13131 "Cosmos: Deal with missing property values"
Since Cosmos DB is schema-less database, it is possible to reference a property that is not defined in all documents in a query. For example, the following query:

[code]
Returns the following results for a collection that contains three documents that do not contain MissingProperty:
[code]

When EF Core models mapped to Cosmos DB evolve, we expect that it will be common to use a new version of an

[2018-08-27 22:43] divega commented on #13131
Another related aspect of this is shown in the following query:

[code]

This query will only return documents that have an Address and the City set to null. If the whole address is missing in a document, that document will not be returned.

This is something we can easily compensate for by rewritting the predicate to add "null protection".

[2018-08-27 23:43] Varorbc commented on #13116
@ajcvickers @bricelam https://github.com/aspnet/EntityFrameworkCore/blob/release/2.2/src/EFCore.Tools/tools/EntityFrameworkCore.psm1#L249 miss table and column summary from database

[2018-08-27 23:49] apavelm commented on #11487
Hi @divega !
Please advice, is there any ETA on FreeTextTable ? Is it in the current roadmap?

thank you

[2018-08-28 00:43] maumar commented on #11944
fixed in 93fb3f0054892143e8b4a8b6520497dd2476394f

[2018-08-28 00:43] #11944 closed

[2018-08-28 03:31] johnmwright opened #13133 "Generated SQL for `datetime` filter is using `datetime2` format, resulting in SqlException"
See also: https://stackoverflow.com/questions/52048935/how-do-i-get-entityframeworkcore-generated-sql-to-use-the-right-format-for-datet

I'm using [Microsoft.EntityFrameworkCore.SqlServer v2.1.2](https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/2.1.2) (and have also tried v2.2.0-preview1-35029) and am using LINQ to fetch a collection of entities from an Azure SqlServer database, filter

[2018-08-28 04:15] craigsmitham opened #13134 "How does Entity Framework Core build its model based on CLR types?"
I’m trying to learn how Entity Framework core uses C# classes to create the DbContext model. I assume it discovers types based on DbSets then calls the same model builder that is passed to OnSchemaCreating, I just can’t find the code/logic in the repository that does this (or perhaps there is another approach). Can anyone explain how this is done or point to the source code that does this?

Asked

[2018-08-28 05:01] aspnet-hello opened #13135 "Test failure: Remove_on_bytes_concurrency_token_original_value_matches_does_not_throw"
This test [fails](http://aspnetci/viewLog.html?buildId=540382&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ryanb

[2018-08-28 05:01] aspnet-hello commented on #13135
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-28 05:08] ThomasWeiss commented on #13123
@ajcvickers Thanks a lot for that prompt reply!

[2018-08-28 05:56] ThomasWeiss commented on #13123
@ajcvickers Adding that option (either as an attribute or with the fluent API) doesn't solve the problem as a new GUID is still injected by EF. Could there be a side-effect with that property also being a foreign key?
I can try to prepare a full repro if necessary.

[2018-08-28 06:08] smitpatel commented on #13134
https://github.com/aspnet/EntityFrameworkCore/blob/93fb3f0054892143e8b4a8b6520497dd2476394f/src/EFCore/Infrastructure/ModelSource.cs#L70-L91

[2018-08-28 06:17] roji commented on #13123
@ThomasWeiss I just checked and adding the attribute as suggested by @ajcvickers indeed makes a zero GUID appear in the database. Please double-check your code and if there's still an issue, try to submit a (minimal) repro.

[2018-08-28 06:31] roji commented on #11963
@pmiddleton I've tried to find some time to dive into this but haven't been very successful :( In any case you seem to know at least as much as I do about pivoting in PostgreSQL.

From a quick look, [according to this issue](https://stackoverflow.com/questions/41354843/postgres-crosstab-and-aggregate-together) it seems like aggregating in PostgreSQL is supported by using an aggregate function insi

[2018-08-28 06:47] byrnedo commented on #13077
@smitpatel
My use case is that I build up the query in several stages (each being a class/function).

The first stage is the `from` and `join` clauses.
Second stages applies the `where`.
Third stage applies the `select`, `group by` and `order by`.

I wanted to be able to pass a typed `IQueryable` from the first stage to the second stage.

My workaround right now is to do all the joins as propertie

[2018-08-28 07:01] aspnet-hello commented on #12922
Repro5456_multi_level_include_group_join_is_per_query_context [failed with about the same error](http://aspnetci/viewLog.html?buildId=540662&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-28 07:45] D4rkTiger opened #13136 "AddRange doesn't add all objects in collection"
Hello,

I've translation tables where I put some labels but when I want to add multiple objects to table with **DbSet.AddRange** method, some objects are omitted or replaced or removed.

## The issue
The problem is when I want to add _SystemLabels_ for **Languages** group, it only add English item. And if I debug the code and re-add item it will be insert in database and keep in LocalView of DbSet

[2018-08-28 08:15] xrkolovos opened #13137 "Paging with UseRowNumberForPaging in SqlServer fails to orderby rows"
Microsoft.EntityFrameworkCore.SqlServer Version : 2.1.2

Query generates
[code]

Our code is doing a custom select expression and then is doing paging.
OrderBy Expression is before the Select Expression.

Is there a workaround to add this missing orderby ?

[2018-08-28 08:28] xrkolovos commented on #13137
We use Sql Server 2008 R2

[2018-08-28 08:56] ChristophvdF opened #13138 "Stackoverflow in Lazy Loading"
Accessing navigation property inside of another property leads to StackOverflowException.

Inside of my [Subproject Entity](https://gist.github.com/ChristophvdF/166e1a4df0a714cb722cbbcd004b3fc5#file-subproject-cs) I need to access the `No` from the [Project Entity](https://gist.github.com/ChristophvdF/166e1a4df0a714cb722cbbcd004b3fc5#file-project-cs) which holds a collection of `Subproject`s. When

[2018-08-28 09:51] cello99d opened #13139 "Decreasing Model Build Time by 80%: Please provide a way to turn off conventions"
While looking for a workaround for #13108 , I removed the KeyDiscoveryConvention from the Database Provider, in my case the sample Oracle Provider.
Since we describe our model completely by fluent API Code and use a database first approach, I decided to remove as many conventions as possible.
The result was astonishing: a decrease of 80% of the time it takes to build the model, in my case the buil

[2018-08-28 11:29] zete commented on #1368
Suffering same issue here.
Let's hope EF Team fix this it soon.

[2018-08-28 11:37] bartekmarnane opened #13140 "The property '' on entity type could not be found in a SelectMany query since upgrading to EF 2.1"
I've upgraded my app to Ef Core 2.1 and a query that used to work in EF 2.0 is now giving errors.

I use variations of the same query across multiple different tables and they are all failing with the same error now that I've upgraded.

The stacktrace is quite large, so I've only included the error and the preceding line.

[code]

Here are my models:

[code]

Here is the query I run:

[code]

The

[2018-08-28 12:20] ThomasWeiss commented on #13123
I can't reproduce it in a minimal project, yet I'm positive that the attribute is correctly applied to the property... must be some kind of side-effect that I haven't found yet. I will close the issue as I've no evidence that it comes from EF at this stage.

[2018-08-28 12:50] craigsmitham commented on #13134
@smitpatel thank you! Just to confirm I'm on the right path, from what I understand the `ModelCustomizer` is pretty basic - it simply adds entity types from the DbContext, then conventions take care of the rest?

[2018-08-28 13:36] peterjanto commented on #12412
Hello, Thanks for fix ! But when i use something like this

 `c#
modelBuilder.Entity<Address>().OwnsOne(x => x.Turnovers);
`

EF core throw this exception:
`
System.InvalidOperationException
  HResult=0x80131509
  Message=No mapping to a relational type can be found for the CLR type 'object'.
  Source=Microsoft.EntityFrameworkCore.Relational
  StackTrace:
   at Microsoft.EntityFrameworkCore.Storag

[2018-08-28 15:38] francescomazzurco opened #13141 "NullReferenceException when filtering by null navigation property"
Hello all,

I have a really basic one-to-many relationship model:

[code]

When I query a `Parent` which results in null, and then try to query a `Child` having such parent, I get a `NullReferenceException`. For instance:

[code]

However, this query does not throw:
[code]

Finally, I was forced to find this workaround:

[code]

Is this the expected behaviour?

This is the Stack trace of the `Null

[2018-08-28 15:46] wgutierrezr opened #13142 "Scaffold-DbContext skipping columns in DBContext file (OnModelCreating)"
I get my model from existing sql server database using:
`Scaffold-DbContext "Server=ITDEVSQL12;Database=EMS.BD;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Operations`

The created classes are correct:
[code]

But in the DBContext file created in the OnModelCreating:
[code]

Columns missing: AutomaticPosId, VendorId, Periodicity, DeliveryInitialDate, DeliveryTime

I

[2018-08-28 16:37] bricelam opened #13144 "Profile SqlServerSpatialReader and Writer"
We can probably avoid a lot of allocations using `ICoordinateSequenceFilter` and `for` loops.

[2018-08-28 16:50] smitpatel commented on #13134
@craigsmitham `ModelCustomizer` in above code is service registered for `IModelCustomizer` interface. Look for service registration of that type in codebase. At core level we register `ModelCustomizer` class & at relational level we register `RelationalModelCustomizer`. You can search for those 2 classes in codebase to see what exactly they are doing and how they figure out whole model. As you sus

[2018-08-28 16:53] smitpatel commented on #13142
@wgutierrezr - That is expected behavior. When you add an EntityType to model, EF Core conventions will use reflection to add all the CLR properties as columns. The code in `OnModelCreating` is needed only when you need to configure something which is not done by conventions. We do this in order to keep the code in `OnModelCreating` to minimum. The missing columns you are seeing are not missing. T

[2018-08-28 16:57] smitpatel commented on #13137
What is the issue here? `ORDER BY` is moved to `ROW_NUMBER` function and you don't need to specify ORDER BY clause in SQL. (at least accordingly to T-SQL documentation of `ROW_NUMBER()`)

[2018-08-28 16:59] smitpatel commented on #13077
Related issue #8107

[2018-08-28 17:02] smitpatel commented on #13133
By convention, EF Core maps `DateTime` property to `datetime2` column in database. (for better accuracy of stored values). That is the reason we are generating `datetime2` literal. If your database is using something other than conventional then you need to configure it properly in EF Core. Using ColumnAttribute the way you showed is one way. You can also use Fluent API to do the same. If your EF

[2018-08-28 17:15] bricelam commented on #13116
Similar to #6149?

[2018-08-28 17:27] ajcvickers commented on #5553
Triage: we should try to not need to check for whether a feature is available, or if we do we should find the most appropriate way to use version number, compatibility level, or whatever else to determine what is supported.

[2018-08-28 17:28] ajcvickers commented on #12195
Moving this to 3.0 to consider as part of the overall 3.0 query plan: #12795

[2018-08-28 17:44] Eilon opened #13145 "DbContext from EF 2.1.2 violates type contstraint of AddDbContext but 2.1.1 does not"
_From @benm-eras on Tuesday, 28 August 2018 10:49:38_

I am not sure where to log this issue as it could be a problem with any one of 3 packages:

1. Microsoft.Extensions.DependencyInjection
2. Microsoft.EntityFrameworkCore.SqlServer
3. Microsoft.NET.Sdk.Functions

I am working on a web application using ASP.NET Core MVC and Azure Functions (v2), and recently ran into an issue with injecting my Db

[2018-08-28 18:49] ajcvickers commented on #12881
Outcomes from the discussion in triage:
* For now @maumar to test if casting in the projection can be used as a workaround
* For 3.0, make sure that if the projected type is a mapped type, then we use the appropriate property-access mode to add items to the backing field.
* For 3.0/backlog, depending on workarounds:
  * Special-case well-known read-only types to build the collection before assigni

[2018-08-28 18:51] ajcvickers commented on #12911
Triage: for 3.0, we will investigate the minimal set of places where we have to wrap in an exec call to avoid the SQL Server parsing issue. Worst case, we will have to do it everywhere. Note that this should only be done when generating idempotent scripts.

[2018-08-28 18:55] ajcvickers commented on #13036
Another option discussed in triage is to make queries for non roots of the aggregate always be no-tracking.

Referencing from #1985 to consider as part of the overall aggregate behaviors.

[2018-08-28 18:56] ajcvickers commented on #1985
See also #13036

[2018-08-28 19:06] smitpatel commented on #13141
Not a regression.

[2018-08-28 19:07] ajcvickers commented on #13048
Outcomes from triage discussion: detect when something problematic is being captured and then warn and don't cache (since cache entry will never be used anyway).

[2018-08-28 19:10] ajcvickers commented on #13055
Triage: closing as external since this is a case where OData is producing an invalid expression tree, as tracked by https://github.com/OData/WebApi/issues/1413

[2018-08-28 19:13] ajcvickers commented on #13076
@NickCraver Could you file a new issue with a repro for the ArgumentNullException, since we would like to fix this.

For the idea here, we think it could be potential, but due to way conventions run it could be difficult to give valid and useful additional information.

[2018-08-28 19:13] smitpatel commented on #12412
This is the SQL which fails
[code]
The issue is `NULL` for which we cannot find mapping.

[2018-08-28 19:36] ajcvickers opened #13146 "Support "unconstrained" foreign key relationships"
EF Core uses a "foreign key" property that is matched to a "principal key" to define a relationship, where one or both of these may be shadow properties. For relational databases, these relationships are almost always backed by a constraint which means that if an FK property has a value, then there must exist a principal key that matches. We use this information to make decisions/optimizations on

[2018-08-28 19:39] ajcvickers commented on #13078
@gojanpaolo We intend to maintain the semantics of FK relationships in the in-memory database, including at some point adding constraint checking. However, we discussed this in triage and we believe that it would be useful to specify an "unconstrained" FK relationship, whether targeting in-memory or relational database. I have opened #13146 to track this.

[2018-08-28 19:42] ajcvickers commented on #13081
@smitpatel Can you find the issue about general null compensation in query?

[2018-08-28 19:44] gojanpaolo commented on #13078
@ajcvickers Noted. Thanks! :)

[2018-08-28 19:49] ajcvickers commented on #13084
We discussed this in triage, and decided that we can support this through #2968. Keeping this issue oen to track configuration of lazy-loading with this mechanism once implemented.

[2018-08-28 19:55] ajcvickers commented on #12797
We should consider the general case here as part of #12795; specifically #12672

[2018-08-28 20:03] maumar commented on #12130
This no longer repros in current bits, closing.

[2018-08-28 20:06] maumar commented on #12644
Closing, as we were not able to reproduce the issue. Feel free to re-open the issue adding full repro if the problem persists.

[2018-08-28 20:11] maumar commented on #12583
example that doesn't involve weak collections:
https://github.com/aspnet/EntityFrameworkCore/issues/13083

[2018-08-28 20:34] ajcvickers commented on #13126
@domagojmedo It looks to me like you are hitting #6872, and then #12950 when calling EnsureCreated twice.

[2018-08-28 20:35] smitpatel commented on #13081
Duplicate of #12294

[2018-08-28 20:35] smitpatel commented on #13081
Looks like we don't have general issue tracking it.

[2018-08-28 20:51] ajcvickers commented on #10153
@maumar The branch is now ready for this to be merged.

[2018-08-28 20:51] ajcvickers commented on #12575
@maumar The branch is now ready for this to be merged.

[2018-08-28 20:51] ajcvickers commented on #12682
@smitpatel The branch is now ready for this to be merged.

[2018-08-28 20:52] ajcvickers commented on #12738
@smitpatel The branch is now ready for this to be merged.

[2018-08-28 20:52] ajcvickers commented on #13025
@smitpatel The branch is now ready for this to be merged.

[2018-08-28 22:00] cello99d commented on #13141
Duplicate of #12062?

[2018-08-28 22:46] craigsmitham commented on #13134
Thanks again @smitpatel ! Very helpful.

[2018-08-28 23:12] eiadxp opened #13148 "Implementing IDataErrorInfo break the database creation"
When I try to implement IDataErrorInfo interface in my base entity the ORM fail to create the database due to reflection TargetParameterCountException
--

[code]

### Steps to reproduce
1. Create a.NET Standard project and add Microsoft.EntityFrameworkCore.SqlServer package.
2. Create a base entity class that implement IDataErrorInfo interface.
3. Create entity using your base entity.
4. Create yo

[2018-08-28 23:36] Varorbc commented on #13116
Yes, very similar to this, as Rowanmiller said, I would like to have xml doc comments, and the scalability mentioned by him, I hope you can also provide such a package, but don't use https for t4 templates: //www.nuget.org/packages/EntityFramework.CodeTemplates.CSharp/

[2018-08-28 23:38] maumar commented on #12652
Translation for this case is indeed blocked even when anonymous type is used in the middle of the query, due to https://github.com/aspnet/EntityFrameworkCore/issues/8094. The workaround currently is to only use anonymous type when you are not binding to it afterwards (i.e. in final projection).

If the entire query gets translated, we won't pull any additional data from db so perf impact should be

[2018-08-29 01:00] maumar commented on #12575
merged to 2.1 branch in 2b2b13caa37906ac59911218e694b76f8744b88a

[2018-08-29 01:00] #12575 closed

[2018-08-29 01:00] maumar commented on #10153
merged to 2.1 branch in 74860990fad0c7dd73a36325b046da5966f13d67

[2018-08-29 01:00] #10153 closed

[2018-08-29 01:38] optiks commented on #13039
@ajcvickers After further discussion, please feel free to close this as designed. I'll send a separate follow up email. Thanks.

[2018-08-29 04:58] ThomasWeiss commented on #13123
@ajcvickers @roji I think I finally got a minimal repro, I put the .cs and .csproj in [this gist](https://gist.github.com/ThomasWeiss/e637284b5453f5ac3bea25f9abfac612).

When I:
- create the migration
- apply the migration
- patch the DB to create the user with `insert into users (id) values('00000000-0000-0000-0000-000000000000')` (would normally be patched directly into the migration)
- debug th

[2018-08-29 06:45] avinash-phaniraj-readify opened #13150 "Nested Switch Case With Aggregate Function Generates Incorrect Query"
A query with a combination  of a nested switch case and aggregate function generates incorrect sql.
The error is with an alias being generated on the nested switch.

[code]

### Steps to reproduce
Full repro available here --> https://github.com/avinash-phaniraj-readify/EFCoreTestBed/tree/AggregateQueryFailure

[code]
[code]
### Further technical details
EF Core version: 2.1.2
Database Provider: S

[2018-08-29 06:52] francescomazzurco commented on #13141
Yes it is indeed the same bug of [#12062](https://github.com/aspnet/EntityFrameworkCore/issues/12062). My apologies for not spotting it before posting the issue.

 Anyhow, I still think it is worth noticing that the exception is thrown only when comparing the navigation property to an object being null, and not when comparing it to explicit `null`.

[2018-08-29 07:56] MikaelGRA commented on #11487
I would be really interested in this feature as well. Especially ContainsTable. That would be very useful for many of our projects.

[2018-08-29 10:26] skyflyer opened #13151 "Replacing one-to-one relationship either breaks foreign key constraint or leaves orphan entities"
While developing a rather complex interaction between entities, I stumbled upon a failing testcase, where child entity (one-to-one) is replaced.

Explanation of the setup:
We have two entities, `InternalOrder` and `OrderTime`, where `InternalOrder` has defined properties:
[code]

We have an existing `InternalOrder` and when we remove `OrderTime` from it, EF detects this correctly and: updates the

[2018-08-29 10:46] skyflyer commented on #13151
Correction: I've regenerated snapshot using `dotnet ef migrations add Initial` and I see now that the relation is different from what it was before:

[code]

This one seems wrong. And if I change `WithMany` to `WithOne`, EF complains:

[code]

I tried several other options for defining this relationship, but no dice for me. Omitting the `HasForeignKey` runs, but hits the same "foreign key violatio

[2018-08-29 10:54] weizhuangzhi opened #13152 "Model Definition and Owned Entity Types"
Using the following code example, if I use Model Definition and Owned Entity Types at the same time, three tables will be generated in the database. If I don't use Model Definition (remove OnModelCreating), there is only one table. What is the reason? Thank you

In addition, how can I make both of them work, that is, get a table Prefix_Blog .

- Prefix_Blog、Prefix_Author、Prefix_StreetAddress（Model

[2018-08-29 11:56] divega commented on #9249
@Kelsch @cfdelaune I am sorry to hear that this isn't fixed for you in recent releases of Xamarin. If you are seeing the exact same symptoms described here, it is mostly likely still a Xamarin issue. I know that the Xamarin team has made several fixes trying to address this, but perhaps there is one more case that they need to look at.

If you haven't already, please report the issue on Xamarin's

[2018-08-29 12:12] vargaz commented on #9249
Also, could you paste the _exact_ error message you are getting, i.e. the {System.ExecutionEngineException: Attempting to JIT compile method
message.

[2018-08-29 12:13] DibranMulder commented on #12985
It is actually possible, I wrote a Blogpost about it. You should add a netcoreapp target framework.
For more information check the entire blogpost.
[code]
https://dibranmulder.github.io/2018/08/23/Azure-functions-V2-with-EF-Core/

[2018-08-29 12:52] cfdelaune commented on #9249
Thank you for following up. I will post a new issue asap. For now, here is a screenshot of the error I am getting on an iPhone 7 when attempting to add a record to a table with the the following column types (8 total):

- Guid
- string
- DateTime
- Guid?
- DateTime
- DateTime?
- int?
- string

![img_0042](https://user-images.githubusercontent.com/105791/44788678-ae0f8000-ab68-11e8-84b7-d29fa6f46e6

[2018-08-29 14:14] dmitry-lipetsk opened #13153 "Problem with compilation [Microsoft.DotNet.GlobalTools.Sdk]"
EF Core version: master

Could anybody say me - what I should install for resolve the error:

?

I use VS2017 CE v15.8.2

Catalog "C:\Program Files\dotnet\sdk\2.1.401\Sdks" already exists at computer.

Subfolder "Microsoft.DotNet.GlobalTools.Sdk\Sdk" - no.

Thanks.

[2018-08-29 15:09] rgoliveira commented on #7424
I'm currently working on optimizing the number of queries executed to generate a report -- trying to *ideally* run only a single huge one --, and EF is ignoring several of my `.Include`s, even though I'm projecting the root entity inside an anonymous object. I needed to load all these related entities into the context to avoid extra queries further down the road. Not sure how to work around this.

[2018-08-29 15:40] pmiddleton commented on #11963
@roji - Thanks for that link.  Based on that it looks like PostgreSQL can support the same type of pivot that Sql and Oracle do.  It will just require more because the base query needs to have the aggregate manually applied by the provider.

From my research Oracle, Sql, and PostgreSQL are the only databases with a pivot operation built in.  Maybe @divega has more knowledge in this area for other

[2018-08-29 16:25] ajcvickers commented on #13152
@weizhuangzhi The call to `ToTable` is explicitly telling EF to map each entity type to a different table, which overrides the convention that owned entity types are mapped to the same table are their owner.

[2018-08-29 16:29] ajcvickers commented on #13070
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-29 16:30] ajcvickers commented on #13090
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-29 18:03] ole1986 commented on #7424
Doesnt it makes sense (especially when you have huge queries) to run them in parallel anyway?

[2018-08-29 18:16] ajcvickers commented on #13081
@divega to create an issue for general null compensation.

[2018-08-29 18:31] raullermen commented on #11719
I'm having the same problem. How do you solve it?

[2018-08-29 18:32] rgoliveira commented on #7424
Depending on your needs, yes. That's the workaround I'm writing at the moment. It might even be faster, though I'm still not convinced that EF is doing something expected, since I'm explicitly saying "include these related entities in the query" and then when I run a `.Load()` it simply won't populate some of the navigation properties.

In my case, I disabled lazy loading to find extra queries mor

[2018-08-29 18:50] dmitry-lipetsk commented on #13153
OK. I understood. RTFM.

[2018-08-29 19:03] tburnett80 commented on #10639
This is a fairly common issue I have run into several instances of this because with ProjectReference nuget packages showing in the references you see the nuget package version and not the assembly version for binding redirects and the auto redirects do not seem to function.

Thanks camainc for pointing out the correct version for this assembly.

[2018-08-29 19:17] ajcvickers commented on #13140
@maumar to find dupe.

[2018-08-29 19:27] ajcvickers commented on #13150
@smitpatel to find dupe

[2018-08-29 19:41] ajcvickers commented on #12412
@smitpatel to file a new issue with the specifics about ownership.

[2018-08-29 20:10] collinbarrett opened #13154 "HasData() creating deletes and re-inserts for unchanged entities on subsequent migrations"
#### Issue

When I add a migration after filling out some `HasData()` on a `modelBuilder.Entity<T>()`, the migration works well. However, if I add another migration immediately following (without changing anything), the second migration deletes and re-inserts all of the seed data again.

#### Background

I asked a [SO question](https://stackoverflow.com/questions/52067079/ef-core-2-1-seed-with-has

[2018-08-29 20:33] joacar opened #13155 "Loading entities without OrderBy and Skip/Take"
Loading collection using `DbContext.Entry().Load()` where query cotains Skip/Take **and** OrderBy.

### Steps to reproduce
[EFCoreLoadTakeOrderBy.zip](https://github.com/aspnet/EntityFrameworkCore/files/2333708/EFCoreLoadTakeOrderBy.zip)

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system:
IDE: Visual Studio 2017 15.5.x

[2018-08-29 20:37] collinbarrett commented on #13154
@AndriySvyryd added "Alternate 3" to the OP. No dice.

[2018-08-29 20:51] ajcvickers commented on #13122
Note for triage: there are two issues here:
* First, something needs to detect that the FK value has changed. By design, this would require DetectChanges to be called, but it may be pragmatic to put a localized check for just the FK here
* Second, if the FK changes, but the navigation remains null after the changes, then the relationship is still flagged as "loaded". Explicitly setting clearing th

[2018-08-29 21:00] maumar commented on #13016
simplified repro:

[code]

[2018-08-29 21:05] ajcvickers commented on #12881
As a workaround I was able to use an explicit cast with a ToList, at least when projecting to a type that doesn't need to be IReadOnlyCollection. For example:
[code]

[2018-08-29 21:08] smitpatel commented on #13016
The anonymous object added duplicated columns.

[2018-08-29 21:11] smitpatel commented on #13150
Duplicate of #12826

[2018-08-29 21:17] ajcvickers commented on #13088
We discussed this again in triage and since it seems to be a very popular request we will consider adding some API to discover and register IEntityTypeConfigurations from a given assembly. This would always be opt-in, meaning that to use it an explicit call must be made, and should take the Assembly to look in as a parameter.

[2018-08-29 21:31] ajcvickers commented on #13107
This is covered by the work in #9244, #8494, and #8427

[2018-08-29 21:34] ajcvickers commented on #13109
@Icaroto Another thing to test is removing the second TargetFramework--we are not sure whether multitargetting can be set this way, and VS also has issues with multitargetting in some situations.

[2018-08-29 21:35] ajcvickers commented on #13116
Triage: this is not something we are going to implement because we believe the value is pretty small, but we would consider a well-written community PR to add this functionality.

[2018-08-29 21:45] ajcvickers commented on #13120
@etairi Include only supports simple access expressions for navigation properties and is used to bring entire entities into the results. As @SSkovboiSS indicated, if you just include TenderCircles, then the "Circle" navigation property on TenderCircle will not be included, but CircleId will be. Since TenderCircle.Tender is an inverse navigation to the already included relationship from Tender to C

[2018-08-29 21:57] rgoliveira commented on #7424
Ok, so I found out the problem with my code.

Assume that I have an IQueryable `grid` with some filters already applied to it.

This doesn't work:
[code]
The SQL for the above statement will have an inner join for EntityA, _but not for EntityB_.

To fix this, I had to put the `Include` **after** the `Join`'s projection:
[code]
This will generate a query with inner joins for both EntityA and Entity

[2018-08-29 22:08] smitpatel commented on #13085
We run into using `Equals` method due to client side implementation.
For query like below, (untested)
[code]
Here, we have a client Where which causes us to evaluate Distinct on client. But at the same time we are not projecting out the entity, so we use ValueBuffer rather than entity. Doing operations like Distinct/Contains etc on enumerable causes call to Equals method. We should be materializin

[2018-08-29 22:35] maumar commented on #13016
Include generates the following subquery model to fetch some related entities:

[code]

Issue is that EntityTwo.Guid and EntityFive.TwoGuid map to the same column in the database. So, when we generate select expression for this query model, we only add the column once to the projection list. This results in inner select only having 2 columns (EntityTwo.Guid and EntityOnes.Guid, but from query mode

[2018-08-29 22:37] ajcvickers commented on #13124
@KrzysztofBranicki That code, or the equivalent in OnConfiguring, is not something we're planning to make async. This means that the connection string would have to be resolved outside if it needs to be async. However, it would be possible to still use constructor injection, but there would need to be an additional async call to set the connection string. Something like:
[code]
I don't know that t

[2018-08-29 22:40] ajcvickers commented on #13130
@jamiewest Can you post a runnable project/solution or complete that reproduces the issue you are seeing?

[2018-08-29 22:43] ajcvickers commented on #13139
This scenario would be covered by #12511, which is a significantly smaller feature than #1906, but is still on our backlog. We discussed again, but at present we still don't believe it will fit in either of the currently tracked releases.

[2018-08-29 22:48] ajcvickers commented on #13145
@benm-eras This looks like a manifestation of the Azure Functions environment, as discussed in this issue: https://github.com/Azure/azure-functions-core-tools/issues/335. There is some guidance there on how to workaround the issue. If that doesn't help, then I would suggest opening a new issue on Azure Functions.

[2018-08-29 22:53] ajcvickers commented on #13148
Duplicate of #12605

[2018-08-29 22:54] ajcvickers commented on #13077
After further discussion in triage, closing this as duplicate of #8107

[2018-08-29 22:54] smitpatel opened #13157 "Query: Null check in projection for owned navigation fails"
[code]
2.1.3
[code]

[2018-08-29 22:54] smitpatel commented on #12412
Filed #13157

[2018-08-29 22:54] #12412 closed

[2018-08-29 23:15] maumar commented on #12065
Sending back to triage - we need to figure out how exactly include should behave

[2018-08-29 23:43] AndriySvyryd opened #13159 "Cosmos.Sql: Optimize query SQL"
- [ ] Boolean expression
- [ ] Short-circuiting
- [ ] n+1 for nested queries

[2018-08-29 23:53] Varorbc commented on #13116
I think it's important for those who take database first and then use reverse engineering.

[2018-08-30 00:12] maumar commented on #12200
We should translate to something like this:

[code]

[2018-08-30 00:13] divega commented on #13081
@ajcvickers yup, at least the title was written to cover the whole set of cases.

[2018-08-30 00:35] ajcvickers commented on #13138
Notes for triage:
* Stack overflow is essentially a duplicate of #12451, since it happens when Load triggers DetectChanges
* However, even with DetectChanges turned off, there is still an exception because a second query is starting before the first one ends

[2018-08-30 00:46] divega commented on #13099
@ThomasNigro just to reiterate what @ajcvickers already mentioned, instead of using Reflection.Emit directly, EF Core uses compiled LINQ expression trees, and there is an interpreter of LINQ expressions that is designed for AOT platforms.

This is what allows EF Core to work in some other AOT platforms like UWP (when compiled with .NET Native). In fact, Mono has included this interpreter of LINQ e

[2018-08-30 00:48] AndriySvyryd opened #13160 "Cosmos.SQL: Implement Sync pipeline for DDL/DML"

[2018-08-30 01:01] divega commented on #13099
@ThomasNigro from reading into https://docs.unity3d.com/Manual/IL2CPP-BytecodeStripping.html, it seems that IL2CPP supports the same link.xml format for fine control of what code is removed as Xamarin and the Mono linker, so if the first error you are getting is due to the removal of such code or reflection metadata, tweaking link.xml might help get further.

[2018-08-30 01:04] ajcvickers commented on #13155
@joacar When I run this I get an exception that says I'm using Take without ordering. Query is:
[code]
Since Take is before OrderBy the exception makes sense to me. Ordering and then Taking doesn't throw the exception:
[code]
Again, as expected.

So what is the bug/question here?

[2018-08-30 02:48] herme063 opened #13162 "Same table multiple classes"
Let me first start with: this is not table hierarchy.

I have 2 assemblies that share the same **concept** Person. In the 1st assembly, Person is a class with 5 properties but in the 2nd one it only has 2 properties (the bare minimum Id and Name). Each assembly has a db context. I am creating a 3rd assembly to enable a combined code first migration for both db contexts. I am using fluent api to co

[2018-08-30 02:49] djkiwe opened #13163 "System.ComponentModel.Win32Exception when using dotnet-ef tools"
Hi, when trying to use any command in dotnet-ef tools installed globally,  I get the following exception:
[code]

### Steps to reproduce
Tried to list migrations
[code]

### Further technical details
project.csproj
[code]

dotnet --info
[code]
Any ideas?

[2018-08-30 06:31] roji commented on #13123
@ThomasWeiss, thanks for the repro, I can see something unexpected happening (for me). It does seem that EF Core is generating Guid values for `UserId` even though `DatabaseGeneratedOption.None` is specified. Removing the foreign-keyness of `UserId` removes this behavior (and a zero Guid is properly inserted).

@ajcvickers I don't have time at the moment to dig further but does the foreign-keyness

[2018-08-30 06:35] ThomasWeiss commented on #13123
If it can help, and from the steps I went through in order to get the repro, it may come from the fact that `UserId` is both a foreign key and part of a composite primary key. Not 100% sure though.

[2018-08-30 07:01] utkarsh24 opened #13164 "Cosmos.Sql: No coercion operator is defined between types 'Newtonsoft.Json.Linq.JToken' and 'Status'(EnumType)."
Hi,

I have started using cosmosDB.Sql  using EF core.
I have a simple model

public class Transaction
    {

        public Guid id { get; set; }

        public DateTime StartTime { get; set; }

        public string Property1 { get; set; }

        public Status Status { get; set; }
}

public enum Status
    {

        NotInitiated = 1,

        InProgress = 2,

        Completed = 3
    }

I a

[2018-08-30 07:46] joacar commented on #13155
Hi @ajcvickers

My apologizes for beeing a bit trigger-happy and not providing more details. I was pretty sure that I tested the other way around last night, but apparently not! I guess I'm thinking SQL-ordering `select **top** .. **order by**` and not LINQ-ordering.

Just seeing the generated SQL made me think it was incorrect since it doesn't make sense to put the `order by` on the outer stateme

[2018-08-30 08:06] xrkolovos commented on #13137
In sqlserver2016 this works fine. In sqlServer 2008R2 this orderby is not respected. If you add this orderby i suggested it works only.

[2018-08-30 09:13] lxh7 commented on #12866
I've run into the same problem. It seems the problem occurs when there are bi-directional navigation properties defined. (Article <-> ArticleGroup: Article contais both ArticleGroupId and ArticleGroup as navigation properties, ArticleGroup contains Articles collection)

I'm implementing a production planning system (factory scenario), with production orders to produce a certain article, which is b

[2018-08-30 09:52] genne opened #13165 "InMemory provider doesn't work when mixing enabling/disabling proxies"
If you add one entity to the database using proxies, and then try to query it with proxies disabled, you won't receive any data. It seems like enabling vs disabling proxies creates two separate databases.

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.InMemory
Operating system: Windows 10
IDE: Visual Studio 2017

[2018-08-30 09:56] chrisbecke commented on #11961
Ran into the same issue with EFCore 2.1.2

    dotnet ef dbcontext scaffold ... -f -d -v

renders a PRIMARY KEY AUTOINCREMENT field as a ValueGeneratedNever in the generated DbContext, and the reverse operation

    dotnet ef migrations add ...

generates PRIMARY KEY AUTOINCREMENT columns in the SQLite db where the property either has no ValueGenerated... at all, or is explicitly ValueGeneratedNev

[2018-08-30 11:40] smartcodinghub commented on #11765
I have this issue too and as @leak I can't use EntityFramework 2.1. I can't understand why this isn't a high priority bug...

[2018-08-30 12:55] etairi commented on #13120
@ajcvickers

Yes, this indeed happens, and Tender is included, but I basically want to ignore it. Is there any way to force it to ignore Tender and Circle?

[2018-08-30 12:55] lxh7 opened #13166 "EF Core relationship fixup interferes with Lazy Loading"
Updating an existing entity using TryUpdateModelAsync causes all navigation properties to be read, and through Lazy Loading the related entities are loaded.

This causes numerous queries to the database (in test case over 1000). After everything is loaded, the application hangs (in the real scenario, not in the simple example).

### Steps to reproduce
- use enclosed project [LazyLoadingTooEager.zi

[2018-08-30 13:49] divega commented on #5913
@boris008 this issue was closed a long time ago, but we are tracking reverse engineering of views into query types in #1679 for EF Core 2.2. We can consider reverse engineering tables without primary keys in a similar fashion. cc @bricelam

[2018-08-30 15:27] arielmoraes commented on #246
I have a situation where I have a Value Object that may be null and inside the VO I have a decimal property, the problem I'm facing is that EF Core 2.1 forces this decimal to be `Nullable` as it is marked as not required in the entity configuration. What I think is the VO itself should be null if the value does not exist from the user perspective and if the value exists, the VO should not be null

[2018-08-30 15:57] ajcvickers commented on #13123
@ThomasWeiss Yes, the DatabaseGeneratedOption needs to go on the primary key--sorry I wasn't clear about this. This is because when generating key values it is very unusual that a key value should be generated directly for an FK property, since it would not match any existing PK. Instead, PK values typically get their value via propagation from the primary key value, rather than having a new value

[2018-08-30 16:55] AndriySvyryd commented on #12814
This would require https://github.com/aspnet/EntityFrameworkCore/issues/13146

[2018-08-30 16:59] AndriySvyryd commented on #246
@arielmoraes this mapping will be enabled by https://github.com/aspnet/EntityFrameworkCore/issues/9005

[2018-08-30 17:06] yringler commented on #12814
I think this issue is replaced by #13146, and should be closed.
@ajcvickers, is that correct?

[2018-08-30 17:08] mrcoymeeks commented on #1100
Where can I find the 2.1 workaround doc for sqlgeometry?  Thanks!

[2018-08-30 17:18] joshmouch opened #13167 "Supported method for coalescing left joins"
I have a query like this:

[code]

Notice the cast to (decimal?).  This is because te code won't build if you use the coalesce operator on a non-nullable type.  However, that value could be null since the "let b" portion is essentially a left join.

I just upgraded to the latest version of EF.Core, and now I'm getting an error from that query that says
`Coalesce used with type that cannot be null`

[2018-08-30 17:31] AndriySvyryd commented on #12592
Non-nullable optional foreign keys might need https://github.com/aspnet/EntityFrameworkCore/issues/13146

[2018-08-30 17:58] ajcvickers commented on #13162
Note for triage: consider creating the PK to PK relationship automatically in this case?

@herme063 Something like this:
[code]
Couple of notes on this:
* The relationship is configured between the two PK properties with no navigations; navigations can be added if needed.
* Properties, like Name, that exist in both types will by convention get mapped to different columns, but this can be overridde

[2018-08-30 17:58] arielmoraes commented on #246
Oh no my Domain would have to be bloated with database constraints :(

[2018-08-30 18:12] ajcvickers commented on #12814
@yringler Correct--thanks!

[2018-08-30 18:31] ajcvickers commented on #13155
@joacar There isn't currently a way to to configure all warnings as errors.

[2018-08-30 18:34] AndriySvyryd opened #13168 "Cosmos.SQL: Bitwise operators on booleans return incorrect results"
See `SimpleQueryCosmosSqlTest.Where.cs`

[2018-08-30 18:43] joshmouch opened #13169 "2.2.0-preview1: System.Data.SqlTypes.SqlNullValueException: 'Data is Null. This method or property cannot be called on Null values.'"
Hi,

I just upgraded to 2.2.0-preview1, and started getting an exception on previously working code.

The exception is:
`System.Data.SqlTypes.SqlNullValueException: 'Data is Null. This method or property cannot be called on Null values.'`
and occurs inside `System.Linq.AsyncEnumerable.SingleOrDefault()`

The stack trace is:

[code]

The line that throws the error is:

[code]

[2018-08-30 18:47] joshmouch commented on #13169
I should also note that the value of `Parameter2` is null when the error occurs.

[2018-08-30 18:49] joshmouch commented on #13169
Also, if I comment out the `Include` and `ThenInclude` lines then the line of code works.  In other words, this works as expected:

[code]

[2018-08-30 19:31] demodav commented on #7217
How does one use this code? How do you execute it please provide an example.

[2018-08-30 20:12] ajcvickers commented on #13166
@lxh7 Any code that traverses a graph automatically through property accesses will trigger lazy loading and potentially cause the whole graph to be loaded. Typically this is handled by temporarily turning off lazy-loading while the graph traversal happens. For example:

[code]
When you say, "have EF Core populate properties through backing fields", this is what EF Core does (and in fact must do) f

[2018-08-30 20:21] ajcvickers commented on #13165
@genne This is a manifestation of #9613 since model built for lazy-loading proxies is different than the one built for non-proxies, causing in this case a different service provider to be built. See PR #9692 for the way to force use of the same in-memory database database. See also #12895 which will allow proxy creation to be switched on and off without this side effect.

[2018-08-30 20:25] ajcvickers commented on #13120
@etairi Not currently, no. This is because the Tender entity is loaded, and the relationship from Tender to TenderCircles is loaded. Since the navigation property is part of a relationship that is being explicitly loaded it will always be set. The navigation property could be removed if it is not needed, but if the navigation exists and the relationship is loaded, then the navigation will be set.

[2018-08-30 20:34] smitpatel commented on #13137
@xrkolovos - Can you submit a repro project which demonstrate what you are seeing?

[2018-08-30 20:36] smitpatel commented on #13164
Need to do special processing for enums here
https://github.com/aspnet/EntityFrameworkCore/blob/35bedd676d58ce56849a899fd9d40ac2408eec7f/src/EFCore.Cosmos.Sql/Query/Internal/ValueBufferFactoryFactory.cs#L43-L48

[2018-08-30 20:38] Psypher9 commented on #11402
@bricelam would this be an item you guys would entertain a PR for?

[2018-08-30 20:39] smitpatel commented on #13169
@joshmouch - Can you submit a full repro code which demonstrate issue you are hitting? In the absence of model classes and configuration, it is really difficult for us to investigate this issue.

[2018-08-30 20:39] herme063 commented on #13162
Looks good, thank you.

[2018-08-30 20:43] ajcvickers commented on #7217
@demodav This is old code used to describe an issue--it is not intended to run on recent releases.

[2018-08-30 20:49] bricelam commented on #13072
Remove it from GeometryValueConverter too.

[2018-08-30 21:16] bricelam opened #13170 "ValueComparer silently ignored when type doesn't match ValueConverter"

[2018-08-30 22:29] bricelam commented on #5913
Yes, I was going to tackle #5719 at the same time.

[2018-08-30 22:32] bricelam commented on #11402
We would consider a well-written PR for *any* open issue. 😉 (And even some closed ones.)

[2018-08-30 22:37] ajcvickers commented on #13151
@skyflyer It's possible that there is an EF bug here, but before digging too much further I want to make a few comments about the repository code. To me, this code seems overly complex for what it is doing, at least in the case that fails in the repro. Part of this complexity seems to be because it is detaching and attaching where it doesn't seem to be necessary--as a general rule of thumb, detach

[2018-08-30 23:05] Psypher9 commented on #11402
Cool, I will see what I can do then. So is the original intent to have the `Remove-Migration` command take a step back on the Snapshot and remove the latest migration from the project while _not_ removing it from the disk?

[2018-08-31 00:07] ajcvickers opened #13171 "Revisit whether InternalsVisibleTo to tests is needed"

[2018-08-31 00:08] Psypher9 commented on #11402
Ah okay. I see now!

[2018-08-31 00:11] optiks commented on #12844
Please also consider whether it would make sense to provide a predicate on `Throws`, i.e. something like `warnings.Throw(RelationalEventId.QueryClientEvaluationWarning, query => /* some logic* / true)`. I'm not sure what the appropriate type for `query` would be.

I think this would let us them implement this behaviour ourselves.

[2018-08-31 00:18] fpanaccia opened #13172 "Migration Data Seed, byte[] and Path"
Hi, we store a .pfx certificate in a postgresql database, the problem is that everytime we generate a new migration, its detects an non existing change in the certificate, here is an example

[code]

In the Context, we have something like this

[code]

And then in the Migration Folder we have the "InitialCreate", and without any change in the context, we create a migration,using the command "Add-M

[2018-08-31 01:08] joshmouch commented on #13169
@smitpatel No I can't.  I can gather any other info you need, though.

[2018-08-31 01:38] jonathanmoffatt opened #13173 "Getting "attempt was made to lazy-load navigation property on detached entity" error when using AsNoTracking despite using Include to eager fetch children"
I'm using Entity Framework Core 2.1.2 and am performing a query using AsNoTracking. I'm using Include to bring in my navigation property (a collection).

If all my entities have at least one child in their collection then it all works fine.

However, if any of my entities have no children then I get an error:

[code]

### Steps to reproduce

Here's a standalone example that can be run from a conso

[2018-08-31 02:49] ThomasWeiss commented on #13123
@ajcvickers Thanks a lot for that clarification.
For those running in the same issue and looking at my repro, the problem got solved by applying the         `[DatabaseGenerated(DatabaseGeneratedOption.None)]` attribute to the `Id` of `UserEntity`.

[2018-08-31 05:27] lxh7 commented on #12866
@ajcvickers informed me about a property on the change tracker:

[code]

This solves the problem!

[2018-08-31 06:26] skyflyer commented on #13151
@ajcvickers, you are right about the "convoluted" comment. And I should've probably taken the time to explain why it is so convoluted.

Here are the most important reasons for the convoluted nature of this setup:
* the objects are domain objects, hence they have no public setters and collections are read only, which means I can't modify object (aggregate root) at will without other side effects.
*

[2018-08-31 06:26] jamiewest commented on #13130
I don't have anything I could drop here, I believe I fixed my issue but I am not sure where or how I did it. I think the problem had to do with either an incorrectly configured `FK` relationship or one that was being configured by convention. I believe if the exception contained information regarding the entity or entities that the `ForeignKeyPropertyDiscoveryConvention` was working on I could hav

[2018-08-31 09:05] HenrikGabrielsson opened #13174 "Cannot create a DbSet for 'Model' because this type is not included in the model for the context."
Hi!

We recently updated EF Core from 2.0.2 to 2.1.2, and this code that worked perfectly fine earlier, has now started failing with some strange errors. When debugging this code in Visual Studio 2017, the error can not be reproduced. It only occurs when we have deployed this code to our Azure App Service.

We have a pretty basic Entity model that looks like this:

[code]

And in our DbContext, ou

[2018-08-31 10:02] roji commented on #13172
@ajcvickers IIRC the decision was to have reference comparison for byte arrays since the are typically big blobs and we don't want to pay the price of a value comparison each time we save an entity. This seems to be backfiring here as the instances are different and seeding detects a "change".

How about modifying the comparison behavior to first compare references, and only if unequal we do value

[2018-08-31 10:07] plamen-i commented on #1100
Soooo... FINALLY!
First preview version of EntityFrameworkCore Spatial support for SQL Server using NTS is available:
[Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite](https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite)

Congrats Microsoft & all community members involved in pushing/coding for this to become reality!

[2018-08-31 10:13] Icaroto commented on #13109
Hi guys, really sorry the delay to get back.

I did some more investigation and found out that the issue is not with the data project (the one with the EF Core)

I added a few unit tests in this project and it worked fine. From that, I created a brand new net46 project to reference the data project again and it worked. So it was clear the issue was with the project referencing the data project.

I

[2018-08-31 11:16] etairi commented on #13120
@ajcvickers  Okay. Thanks for info! (Y)

[2018-08-31 11:27] DGuidi commented on #1100
thanks to all involved developers for this :)

[2018-08-31 11:58] genne commented on #13165
Ok great I see. Thanks for the reply!

[2018-08-31 12:45] Matthiee commented on #12367
@bricelam I can give this a shot if you want, let me know!

[2018-08-31 12:52] joshmouch commented on #13169
After removing the .Include method, above, I tried loading the related entity after the query results were returned, and I got the same exception.  So it's probably not the Include, but rather something with the relationship between the two entities:

[code]

[2018-08-31 13:01] figuerres commented on #1100
Looking forward to the day i can port my web api project from .net classic to .net core !!!

[2018-08-31 13:24] slubowsky opened #13175 "Computed field can be configured on a derived type"
Created some entity types using inheritance. Have one field that needs to be an actual value in base but a computed value in derived.

Not expecting it to work, but trying just in case, I used fluent API to configure computed property on derived type only . Everything compiles, migration gets created, table gets created with computed field - but as coded, intention was for this to be for derived t

[2018-08-31 14:13] joshmouch commented on #13169
On a hunch, I tried changing a line in the DbContext OnModelCreating from:

[code]

to:

[code]

And that fixed the problem.  Is there any way to get a better error message in this case?

[2018-08-31 15:37] ajcvickers commented on #13172
@roji That's something we should consider. Related to this, while working on the spatial stuff, @bricelam has uncovered several areas for improvement in around these things--for example, see #13098. I've got an item in my list of things to do to look at this from a wider perspective and see what we can do for 2.2 and 3.0.

[2018-08-31 15:44] ajcvickers commented on #13173
@jonathanmoffatt This is because lazy-loading isn't supported for NoTracking queries (#10042) but we tried to not make it throw if it looked like lazy-loading wasn't needed. In retrospect it might have been better to always throw. Note that the warning can be configured to not throw using `ConfigureWarnings` in the DbContextOptionsBuilder.

[2018-08-31 15:48] ajcvickers commented on #13174
@HenrikGabrielsson Unfortunately, I don't think there is going to be much we can do without a way to reproduce what you are seeing. It sounds like it might be a threading issue--is it possible that multiple threads could be accessing the same context instance concurrently?

[2018-08-31 15:49] ajcvickers commented on #13169
@joshmouch Does the `BId` property map to a column that contains nulls?

[2018-08-31 15:53] ajcvickers commented on #13175
@slubowsky Yeah, I can't see how this would work given that the column in the database is either computed or it isn't. However, can you post code showing your attempt to configure it differently on the base verses the derived type?

[2018-08-31 16:11] john-luke-laue opened #13176 "Entity query fails suddenly with Index was outside the bounds of the array - RowNumberPagingExpressionVisitor in the stack trace"
I have a complex entity query that has been working for the past couple of weeks. Suddenly, the query starts failing.

We did recently upgrade our SQL Server from 2005 to 2016, but that was many weeks back, and the query has worked fine since the upgrade until now.

**Important Note:** An IIS reset made the issue go away.

I noticed in the stack trace that there is a call to _RowNumberPagingExpres

[2018-08-31 16:34] ajcvickers opened #13177 "Scaffold-dbcontext for dotnetcore"
From VS Feedback

scaffold-dbcontext seems to be broken in vs2017 15.8.0 Package Manager Console Host Version 4.8.0.5385

if i run our scaffold command
Scaffold-DbContext "XXXX" Microsoft.EntityFrameworkCore.SqlServer -OutputDir .\Entities\XXX -f -context "XXXContext"
it fails on not being able to parse the framework version

my college's visual studio can still run the command without a problem (

[2018-08-31 16:34] ajcvickers commented on #13177
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-08-31 16:35] joshmouch commented on #13169
@ajcvickers  Yes.  So I incorrectly added the IsRequired() to the property.

[2018-08-31 16:44] jaredpar commented on #11391
Why do you believe this is a roslyn compiler problem? Is there bad IL generated that is causing this?

Killing the server means it falls back to the command line compiler here which will produce the exact same output.

[2018-08-31 16:44] bricelam commented on #1100
To get started:

Install the `Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite` package.

Add this to your `UseSqlServer()` call:

[code]

Add some spatial properties to your entities:

[code]

Query away.

[code]

We still need to implement mapping to `geography` columns, but feel free to experiment and provide feedback.

The SQLite implementation (using SpatiaLite) is coming soon.

[2018-08-31 16:48] bricelam commented on #12367
Awesome, go for it!

[2018-08-31 16:50] ajcvickers commented on #13106
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-08-31 17:34] ice1e0 opened #13178 "Migration change field length from field which is used in primary/foreign key"
When I change the field length of a field which is used in a primary key or foreign key the migration only adds an `migrationBuilder.AlterColumn` but does not drop/create the primary key and foreign keys which 're using the field.

When I then run the migration script the SQL server throws an error because a change of a field which is used in a primary key / foreign key is not allowed.

I would ex

[2018-08-31 17:46] Matthiee commented on #12367
@bricelam @AndriySvyryd Which of the following outputs are correct?

Output 1:
[code]

Output 2:
[code]

[2018-08-31 17:47] mqudsi opened #13179 "Indices with conversions defined should perform comparison in db on converted value"
Given a class with an index set up pointing to a value (of any type) that has a conversion defined, the index comparison should be performed on the converted value in the database and should not rely on the availability of `IEquatable<Foo>`.

I could probably file a separate bug for this, but additionally, if `IEquatable<Foo>` is required and `Foo` is `Nullable<T>` where T: IEquatable<T>`, EF Core

[2018-08-31 17:51] bricelam commented on #12367
Our main goal is to make that file diff well for when there's [a merge conflict](https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/teams#resolving-conflicts). Given that, I'd say option 2.

[2018-08-31 17:53] ajcvickers commented on #13053
@AndriySvyryd The tst, `Update_on_bytes_concurrency_token_original_value_matches_does_not_throw` is inside a `!Test21` ifdef, which indicates to me that this test should not be running on 2.1 builds. But the issue here says it failed on a 2.1 run. I think you setup this ifdef flag, so can you look if it has got our of sync with build numbers or similar?

[2018-08-31 17:55] ajcvickers commented on #13053
@ryanbrandenburg @natemcmaster Per my previous comment, and given this is only failing sometimes, could there have been a temporary issue with build numbers that causes this ifdef to not be honored?

[2018-08-31 17:55] ThomasNigro commented on #13099
Thank you for these very detailed answers! Those really help understand the potential underlying issues.

To sum up:
- EF Core does not actually Ref.Emit contrary to my original understandings
- EF Core should work on AOT environment, like Xamarin and UWP (because of .NET Native) because (among other things) it is able to run a custom interpreter of LINQ expressions
- Mono has this interpreter
- U

[2018-08-31 17:57] ajcvickers commented on #13135
Closing this as a duplicate of #13053. since this test is also wrapped in an ifdef indicating that it should not run on a 2.1 build.

[2018-08-31 18:04] natemcmaster commented on #13053
I am not aware of issues with build numbers and ifdef.

[2018-08-31 18:05] joshmouch commented on #13169
@ajcvickers Is it possible to add a better error message for this situation?

[2018-08-31 18:09] #13118 closed

[2018-08-31 18:29] ajcvickers commented on #13163
@djkiwe What is the result of running `which dotnet`?

[2018-08-31 19:07] ajcvickers commented on #13169
@joshmouch Use `EnableRichDataErrorHandling`:
https://github.com/aspnet/EntityFrameworkCore/blob/d59be61006d78d507dea07a9779c3c4103821ca3/src/EFCore/DbContextOptionsBuilder%60.cs#L110

I also filed: https://github.com/aspnet/EntityFramework.Docs/issues/955

[2018-08-31 19:35] ajcvickers commented on #13117
See also https://github.com/aspnet/Home/issues/3483

[2018-08-31 19:41] ajcvickers commented on #13138
@ChristophvdF Have you consider making the computed property [not-mapped](https://docs.microsoft.com/en-us/ef/core/modeling/included-properties)? This is a more common pattern for this type of thing.

[2018-08-31 19:43] ajcvickers commented on #13176
@john-luke-laue Unfortunately, there are two many unknowns in the snippets above for us to be able to effectively reproduce the issue you are seeing. Can you post a runnable project/solution or complete code listing that demonstrates the issue?

[2018-08-31 19:50] ChristophvdF commented on #13138
@ajcvickers Sadly that isn't possible since we need the property persisted in the database because there are other systems which need to access the value as well.

[2018-08-31 20:03] gforceg commented on #13046
@AndriySvyryd @ajvickers Thanks so much for your response. I will give this a try very soon!

[2018-08-31 20:07] dpedrelli commented on #1100
@bricelam
Thanks.  Is there a time frame on mapping the columns?  I don't really need Geography support as much for program-side functionality as I do code-first migrations.  Right now, I'm using a script to modify the tables after I create them and add spatial indices.

Thanks

[2018-08-31 20:16] ajcvickers commented on #13138
@ChristophvdF I meant something like this:
[code]
Although as I was writing this I realized you could just force EF to access the backing field directly for the same result:
[code]

[2018-08-31 20:28] bricelam opened #13181 "SQL Server Spatial: Invalid SQL when calling methods on constants"
[code]
[code]

# Workaround

Rewrite the query. In this case:

[code]

[2018-08-31 20:37] bricelam commented on #1100
For now, you can just specify the column type. Be warned though, the rest of the stack doesn't yet handle `geography` so you will likely hit issues.
[code]
or
[code]

[2018-08-31 21:44] divega commented on #13099
Thanks you. Looking forward to learn more about this.

That wouldn't be surprising to me because IIRC they use a very custom version of Mono that might not have the complete AOT configuration.

This should be quite easy to test in a simple program without using EF Core. I will try to do some experiments.

Not sure if we are saying the same thing, but link.xml is supposed to help guide the strippin

[2018-08-31 21:50] j-hudecek opened #13184 "Trouble migrating to AspNetCore.App on Linux"
I have a web app created from 2.0 template that uses EF Core with SQLite and references AspNetCore.All.

I've read [that it will be deprecated](https://github.com/aspnet/Announcements/issues/287) so I've decided to move away from it.

I've removed the .All package and added the .App, added System.Data.SQLite (v.1.0.109), added the other necessary packages to get rid of compiler errors and successf

[2018-08-31 22:40] voronov-maxim opened #13187 "SqliteException when GroupJoin with Take"
[code]

### Steps to reproduce
[code]
All worked well with SqlServer provider.
If remove Take(1), the bug is not reproduced.

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.Sqlite
Operating system: Windows 10
IDE: Visual Studio 2017 15.8.2

[2018-08-31 23:35] xenoxsis opened #13189 "Cannot open the database XXX requested by the login"
Hi,

I recently started a new .Net Core Web Application and I started by setting up the identity, everything worked fine, when I called Update-Database on my own local sql instance, it was creating the database no problem and everything worked.

I then started adding some custom models, and added the DbSet property to the context. That's when I ran into a problem. When I deleted the database and r

[2018-09-01 00:15] divega commented on #13099
I can confirm that the expression interpreter does not work with IL2CPP, however I did not observe a runtime exception. I used a simple project with this script:

[code]

[2018-09-01 00:54] AndriySvyryd opened #13190 "Cosmos.SQL: Incorrect datetime mapping"
See `SimpleQueryCosmosSqlTest.Where_chain`

[2018-09-01 01:12] divega commented on #13099
Next thing I would like to check if I have a chance if is the behavior is due to the code being removed, so I will look into adding link.xml.

[2018-09-01 04:26] ashiqhassan95 commented on #12010
Add the following line to propertygroup
`<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>`

[2018-09-01 09:36] peterkachezi commented on #136
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.InvalidOperationException: The connection was not closed. The connection's current state is open.
   at System.Data.ProviderBase.DbConnectionInternal.TryOpenConnection(DbConnection outerConnection, DbConnectionFactory connectionFactory, T

[2018-09-01 09:36] peterkachezi commented on #136
Guys after i have created my setup ,thats the error that i got vb2010 ,,,any help

[2018-09-01 14:07] Risanshita commented on #12985
@DibranMulder as you mention in your blog I have done same.

But I'm getting this error:-

PM> add-migration initialmigration
Error:
  An assembly specified in the application dependencies manifest (FunctionApp3.deps.json) was not found:
 package: 'FunctionApp3', version: '1.0.0'
path: 'FunctionApp3.dll'

Someone suggest on github to add this line in project file, i did event error shows
[code]

P

[2018-09-01 19:31] ajcvickers commented on #136
@peterkachezi This GitHub repo is for Entity Framework Core. There is nothing in info above that looks like it is related to EF Core.

[2018-09-01 21:10] smitpatel opened #13192 "Query: Infer TypeMapping for Literals & Parameters correctly"
We have been talking in #4978 and various other issues (like #9582 ) to add API to specify store type facet inside query. While all they may be fine but we still need correct inference for all case if we want value converters to work correctly (since it come from actual type mapping). There wouldn't be any easy api to specify value converter to use for literal inside query.

Filing this issue to m

[2018-09-01 21:10] smitpatel commented on #9582
Blocked on #13192

[2018-09-01 21:16] smitpatel commented on #8895
The `CONTAINS` call is inside `FromSql` query string. We don't process the string. Hence it is not possible for us to infer any kind of type mapping based on parameters. (Also there couldn't be unknown columns). Further `CONTAINS` requires that the parameter of type string to be used but it should _NOT_ be of `nvarchar(max)`. For string that is our default type mapping. The only thing we (could) d

[2018-09-01 21:27] smitpatel commented on #9143
Superseded by #10513

[2018-09-01 21:41] smitpatel commented on #12085
Blocked on #13192

[2018-09-01 21:50] smitpatel commented on #12728
Duplicate of #8107

[2018-09-01 21:51] smitpatel commented on #8107
Consider scenario in #12728

[2018-09-01 22:13] smitpatel commented on #12998
Dependent on #13192

[2018-09-01 22:15] smitpatel commented on #7520
Pulling this into 3.0 since we should either finish this with #12795 or close this.

[2018-09-02 12:00] Follpvosten opened #13193 "SQLite+SQLCipher (Android): Connection stays open after EnsureDeleted()"
I am developing an Android app using Xamarin.Forms (with a .NET Standard library containing the code). It is using EntityFramework Core with the Sqlite backend.
When a user successfully authenticates inside the app, a local SQLite database is created (using `DbContext.Database.EnsureCreated();`); when the user logs out again, the database is to be destroyed (using `DbContext.Database.EnsureDeleted

[2018-09-02 12:52] qibunext opened #13194 "SaaS应用资源有限的情况下如何自动回收内存使用量"
[code]
SaaS应用资源有限的情况下如何自动回收内存使用量
数据访问使用的是 Entity framework + Pomelo.EntityFrameworkCore.MySql
服务器配置
2核4G内存
当应用程序运行在.net core 2.0上时内存使用量会缓存增加，但使用量最大化时会自动重启应用程序，会停止一会，（目前只能先用.net core 2.0）
应用程序运行在.net core 2.1上时内存使用量也会缓存增加，使用量最大化时不会自动重启，一直停留在最大的使用量。导致静态文件访问不了，mysql数据库访问也会超时

Translation:

"How to automatically reclaim memory usage when SaaS application resources are limited
Data access using Entity

[2018-09-02 14:38] shaulbehr opened #13195 "DbFunction mapping works with a single parameter, but not with two"
EF Core 2.1.0

In my DbContext class:
[code]
Usage:
[code]
exception thrown:

[2018-09-02 18:44] pmiddleton commented on #13195
Your second query is falling back to client evaluation.

The lambda parameter in the second query is defined as ```o``` but you are binding to ```t.Start``` and ```t.End```.  What is ```t``` and where is it defined?  Did you really mean to bind to ```o.Start``` and ```o.End```?

[2018-09-03 02:03] shaulbehr commented on #13195
Yes, my bad, I typed it out wrong. It's meant to be o not t.

[2018-09-03 02:32] qibunext commented on #13194
[code]

"How to automatically reclaim memory usage when SaaS application resources are limited
Data access using Entity framework + Pomelo.EntityFrameworkCore.MySql
server configuration
2 core 4G memory
When the application runs on .net core 2.0, the memory usage will increase, but when the usage is maximized, the application will be restarted automatically and will stop for a while. (At present,

[2018-09-03 03:07] AndriySvyryd opened #13196 "Include before Concat throws on nav rewrite"
[code]

Parameter name: inputInfo
   at Remotion.Linq.Clauses.ResultOperatorBase.CheckSequenceItemType(StreamedSequenceInfo inputInfo, Type expectedItemType)
   at Remotion.Linq.Clauses.ResultOperators.ConcatResultOperator.GetOutputDataInfo(IStreamedDataInfo inputInfo)
   at System.Linq.Enumerable.Aggregate[TSource,TAccumulate](IEnumerable`1 source, TAccumulate seed, Func`3 func)
   at Remotion.Li

[2018-09-03 03:10] AndriySvyryd opened #13197 "Include after Concat logs warning incorrectly"
[code]

   at Microsoft.EntityFrameworkCore.Diagnostics.EventDefinition`1.Log[TLoggerCategory](IDiagnosticsLogger`1 logger, WarningBehavior warningBehavior, TParam arg, Exception exception) in C:\enlistments\Universe\EntityFramework\src\EFCore\Diagnostics\EventDefinition`.cs:line 106
   at Microsoft.EntityFrameworkCore.Internal.CoreLoggerExtensions.IncludeIgnoredWarning(IDiagnosticsLogger`1 diagno

[2018-09-03 03:27] Varorbc commented on #6149
@rowanmiller Is there a plan to add this feature?

[2018-09-03 05:14] Varorbc commented on #831
@rowanmiller Can add comments for tables, columns, navigation properties?

[2018-09-03 05:28] andresdsep commented on #12211
Interestingly, today I found that comparing a C# date with a database datetime directly would work:
`dbContext.Entities.Where(x => x.Created == DateTime.Now)`
Using Contains would not:
`dbContext.Entities.Where(x => datesArray.Contains(x.Created))`

[2018-09-03 06:14] ChristophvdF commented on #13138
@ajcvickers I just tested your solution. In my small test project the changes worked, no exception and correct result.
I still can't really wrap my head around why the loop doesn't occur when set to use field only.

[2018-09-03 07:11] divega commented on #6149
@Varorbc this issue has been closed for a long time, and is mostly a duplicate of #131116.

So the answer is the same as
https://github.com/aspnet/EntityFrameworkCore/issues/13116#issuecomment-417113811.

[2018-09-03 11:12] shaulbehr commented on #13195
@pmiddleton :

I can see that. But why?

[2018-09-03 13:09] slubowsky commented on #13175
@ajcvickers All I did was something like:
[code]
where Days is defined in the base class and computed column is NOT set up for base. Table gets computed property (even for base) due to setting it up on derived.

[2018-09-03 15:27] ThomasNigro commented on #13099
Regarding `link.xml` it seems we're saying the same thing 👌

Your script tests IL2CPP (in)ability to use the expression interpreter. During our tests with EF Core, we observed compile-time exception. I'm building a small repro project, will upload in a couple of hours.

[2018-09-03 15:59] pmiddleton commented on #13195
I can not reproduce your issue.  Do you have a small sample app which shows the problem you can share?

[2018-09-03 18:28] pmiddleton commented on #13195
I just noticed you are doing a FirstOrDefault without and OrderBy.  I believe you are dropping to client eval because of that.

You should be getting a warning about nondeterministic results.

See this article on how to configure warnings if you don't know how to setup them up.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbcontextoptionsbuilder.configurewarnings?view

[2018-09-03 18:34] andrescorrea opened #13198 "Migration errors with the located assembly's manifest definition does not match the assembly reference"
I'm trying to generate a database from the terminal of VS code using SQL Operations Studio, whenever I try to generate a migration this error occurs.

`dotnet ef migrations add init`

This is how my .csproj looks like now
[code]

Any workaround for this?

[2018-09-03 18:36] pmiddleton commented on #13195
I ran a test and missing the orderby should not be dropping you to client eval.  I'm back to needing a example app as I can't repo.

[2018-09-03 18:55] fpanaccia commented on #13172
Hi, i just found that with DateTime.MaxValue it has the same behaviour than the one with byte[], i have this seed

[code]

And then, when we create a migration without any change in the context, we get this

[code]
BUT it does not behave like this, if you use DateTime.MinValue.

[2018-09-03 20:36] per3ian commented on #12251
same here

 Version : 2.2.100-preview1-009349

[2018-09-04 01:06] smitpatel commented on #12795
(not linking individual issues here).
Currently, there are few blockers in current query pipeline due to various reasons which requires some architecture level changes. e.g tracking entity types in all cases properly, Include/correlated subquery with client eval, Type inference in Sql Translation, Include path specification. let queries, client evals and side effects.
Some of them are also linked

[2018-09-04 02:40] orassr commented on #1368
Is there any way to separate the configurations to a different file outside the DbContext?

[2018-09-04 02:47] pmiddleton commented on #12795
I have have run into two areas where Relinq has given me a bunch of grief which you might want to think about as you do the rework.

1) Trying to use functions as data sources.  When implementing both bootstrapped functions and table valued functions I needed a function to act as the source of the query.  Relinq is geared around having a class act as the query source, while a function which return

[2018-09-04 03:46] scionwest commented on #1368
@orassr Yes; not sure what that has to do with this conversation though. Sounds like you need to do a bit of googling.

The `IEntityTypeConfiguration<TEntity>` interface will get you what you want.

[code]

[code]

[2018-09-04 04:23] jcagme opened #13200 "Samples of CosmosDb usage"
I'm using Microsoft.EntityFrameworkCore.Cosmos.Sql Version 2.2.0-preview1-35029 for EF driven identity in asp.net core 2.1.

I've added identity to some projects in the past but this is the first attempt using CosmosDb. Pretty much, I've done what is described here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.1.

When running `dotnet ef migration

[2018-09-04 05:04] kant2002 opened #13201 "non-provider specific reverse engeneering"
When reversing database, I would like to be able keep provider specific stuff out of generated code. For example I have currently database in the SQL Server, but if I want to support Postgres, that prevents me from using database scaffolding/updating generated code. When I scaffold from SQL Server DB, generated code contains very specific stuff in the code which not that I want.

[2018-09-04 05:33] Bo-Yee-Woods opened #13202 "Migration error when use owned type for value object"
https://github.com/Bo-Yee-Woods/TestOwnedType/tree/master/TestOwnedType
See my sample project, I attempt to use owned type to configure the relationship between my entity and value object (DDD concept). It works fine in my Case one, but I got an migration error (see below) for Case Two. I think the way of implementation of Case Two is the same as Case One, why case two cannot work?

Stack trace:
S

[2018-09-04 06:30] Bo-Yee-Woods commented on #13202
If I add a empty constructor to ComputedStampDuty like, "private ComputedStampDuty() { }"
Then I will get another error.
System.InvalidOperationException: Field '<AdditionalBuyersStampDuty>k__BackingField' of entity type 'ComputedStampDuty' is readonly and so cannot be set.
   at Microsoft.EntityFrameworkCore.Infrastructure.ModelValidator.ValidateFieldMapping(IModel model)
   at Microsoft.EntityFr

[2018-09-04 06:34] JaylanChen commented on #795
Is there a plan to improve this feature? IT really is a great feature.

[2018-09-04 06:56] ryanelian commented on #795
Please develop bulk Delete with Where support first . It would be **infinitely more useful** than bulk Create and Update and the EF team don't need to ship everything from the get-go.

[code]

[2018-09-04 07:06] dmitry-lipetsk opened #13203 "Usage DbContext with external transaction"
Hello,

**Introduction to problem**

I want to write code, which mixed direct work with ADO.NET provider and EF.Core infrastructure within one (external) transaction.

**Test code**
[code]

**What need change in EF.Core**

I added into RelationalConnection new virtual method BeginLowLevelTransaction and call it from BeginTransactionWithNoPreconditions.

[code]

**Some changes in my DataProvider, i

[2018-09-04 09:36] branislavsimo opened #13204 "EF Core 2.1.2 -'must be reducible node' error when referencing group key in subquery"
This LINQ query fails during runtime with error in subject:
[code]
I expected this SQL query to be generated:
[code]
When I replace the "g.Key" with local variable "guid" (i.e. su.TenantId == guid), an SQL query is generated correctly.

NOTE: This query is a simplification of my original query with joins just to show the error.

Test project: [LinqTest.zip](https://github.com/aspnet/EntityFramewor

[2018-09-04 09:59] ThomasNigro commented on #13099
Just added the repro sample here : https://github.com/ThomasNigro/EFCoreUnityIL2CPP
There's a README attached. Currently posting in the Unity forums.

[2018-09-04 11:27] scharada commented on #12465
EF core was supposed to be the "problem solver" and "the framework to use" ... when such important and critical features as m to m are in the bottom of the todo list, when the daily used operations in development are not supported and you have to rely on workarounds, you start thinking if you made the right choice going for ef core....
this is not to talk about performance ... EF is known to produ

[2018-09-04 11:36] JakobFerdinand opened #13205 "Foreign key exception at many to many add"
When adding a new `entity` to a M/N connection in a special order EF Core throws a `DbUpdateException` with message `The INSERT statement conflicted with the FOREIGN KEY constraint...`

[code]

[code]

The order of the four steps are important.
For example if you first call step 2 `var student = context.CreateAddedEntity<Student>();` and then step 1 `var connections = context.Teacher_Students.ToLi

[2018-09-04 11:41] ThomasNigro commented on #13099
Here is the Unity issue ticket `1077758` : https://fogbugz.unity3d.com/default.asp?1077758_tta7bdan262g8pa1

[2018-09-04 12:16] Mimetis opened #13206 "ValueGeneratedOnAdd() not applied when seeding data with EntityTypeBuilder<T>.HasData()"
Hello guys.

Basically, the `ValueGeneratedOnAdd()` method seems to not work as expected when seeding data (and using the `HasData()` method from the `EntityTypeBuilder<T>` object instance.

For instance, I've used a modified version of the light (and old :) ) **AdventureWorks** database.
In the **Address** table, we have two autogenerated columns : `rowguid` and `ModifiedDate`.

First of all, her

[2018-09-04 12:49] AniMeIIIkA opened #13207 "Include and ThenInclude not working after select"
Microsoft.AspNetCore.All - 2.1.3
[code]
All User navigation property ICollection is null
If i remove select, then userCourse have User with all ICollection's

[2018-09-04 14:41] DSilence commented on #13088
I'm willing to take a look at this if nobody minds.

[2018-09-04 15:09] devdeer-stephan commented on #831
@ajcvickers We are currently running into the same problem where re-scaffolding the whole model on each change on the database is really **really** inconvenient. Also, having influence on the generated code would be really nice (but I'll look into EF Core Power Tools for that first)

If I understand your third point correctly this has been an issue for almost four YEARS now and in all that time

I

[2018-09-04 15:55] ajcvickers commented on #13184
@j-hudecek ASP.NET/EF Core use the `Microsoft.Data.Sqlite` package. `System.Data.SQLite` is the older third-party SQLite provider which was never part of the All package.

[2018-09-04 16:00] ajcvickers commented on #13189
@xenoxsis The [documentation on customizing the ASP.NET Core Identity model](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize_identity_model?view=aspnetcore-2.1) may help. If you are still running into issues, then please post a runnable project/solution or complete code listing that demonstrates that behavior you are seeing.

[2018-09-04 16:16] ajcvickers opened #13208 "Some DateTime values are not diffed correctly in seed data"
Moved from https://github.com/aspnet/EntityFrameworkCore/issues/13172#issuecomment-418177283 posted by @fpanaccia

Hi, i just found that with DateTime.MaxValue it has the same behaviour than the one with byte[], i have this seed

[code]

And then, when we create a migration without any change in the context, we get this

[code]
BUT it does not behave like this, if you use DateTime.MinValue.

EF Co

[2018-09-04 16:16] ajcvickers commented on #13172
@fpanaccia I think there is likely a different root cause here, so I moved this to #13208

[2018-09-04 16:34] martin-kelley opened #13209 "EF Core 210 not including columns with default values in insert into query"
Yes I know this looks like a duplicate from earlier versions of EF core, but it is clearly (to me at least) a bug.

If you have a SQL column of type bit having a default value of true and you model it in EF as a bool and configure the property in code-first  with .HasDefaultValue(true), the when you add a new instance o the entity the generated SQL ignores a vale of false in the class instance sup

[2018-09-04 16:35] ajcvickers commented on #13202
@Bo-Yee-Woods This is because the owned type is still an entity type, and using a constructor to set related entities is not yet supported--see #12078

The error about the backing field being read-only means what it says. EF can't write to a read-only field, and hence can't set the value for the related entity.

[2018-09-04 16:39] ajcvickers commented on #13203
@dmitry-lipetsk Can you explain a bit more why this is needed? Specifically, what is it about the current UseTransaction method that doesn't work for this case?

[2018-09-04 16:41] xenoxsis commented on #13189
@ajcvickers Hi Mr. Vickers - I have uploaded the project here: https://github.com/xenoxsis/Auctioneer

[2018-09-04 16:48] Bo-Yee-Woods commented on #13202
@ajcvickers but how to explain my case one can work?

[2018-09-04 16:48] ajcvickers commented on #831
@devdeer-stephan We try to gather as much information as we can when making priority decisions, so making us aware that you need it (for example by giving a thumbs-up/+1 on the issue) is the best way to influence the priority. That being said, resources are very constrained, so even things that we consider important will, unfortunately, continue to get bumped.

[2018-09-04 16:54] ajcvickers commented on #13202
@Bo-Yee-Woods The way to make it work is:
* Don't try to pass the entity instance through a constructor
* Make sure that the property or it's backing field is read-write so that it can be set

[2018-09-04 16:55] beamer15 opened #13210 "WithExtension suggests that 'this' is updated, as well as returning 'this'"
When I read the documentation for DbContextOptions<TContext>.WithExtension, it sounds to me like the instance the method is called on will be updated, and then those same options are returned, just to enable chaining. This is not the case.  The current instance is not updated, but a new instance is returned, so ONLY chaining is supported.

https://github.com/aspnet/EntityFrameworkCore/blob/7facc2d

[2018-09-04 17:07] Bo-Yee-Woods commented on #13202
@ajcvickers Thank you for explaining. As I try following DDD pattern, the value object (owned type) must be immutable (readonly). Just now, I found the difference between my case one and case two. I suspect that adding a public empty contructor in the parent entity can solve my problem.

[2018-09-04 17:12] GSPP commented on #12998
Maybe send `0.0/0.0` to the server as a representation for `NaN`.

[2018-09-04 17:37] ajcvickers commented on #13189
@xenoxsis The call to `dbInitializer.Initialize();` is attempting to access the database while EF tooling is obtaining the model to use. If you're going to do database initialization on startup, then it needs to happen only when the application starts, and hence cannot go in the Configure method. For a production app, I would strongly recommend not doing database deployment or seeding when the app

[2018-09-04 17:41] Bo-Yee-Woods commented on #13202
@ajcvickers yes, you are correct. Does it mean the Microsoft documentation here is wrong? https://docs.microsoft.com/en-us/dotnet/standard/microservices-architecture/microservice-ddd-cqrs-patterns/implement-value-objects#value-object-implementation-in-c

[2018-09-04 17:45] ajcvickers commented on #13202
@Bo-Yee-Woods Which part of that documentation specifically?

[2018-09-04 17:48] Bo-Yee-Woods commented on #13202
@ajcvickers The fields in "Address" are readonly.

public class Address : ValueObject
{
    public String Street { get; }
    public String City { get; }
    public String State { get; }
    public String Country { get; }
    public String ZipCode { get; }

    private Address() { }

    public Address(string street, string city, string state, string country, string zipcode)
    {
        Street =

[2018-09-04 17:52] BrennanConroy opened #13211 "Skipped Test output is too large"
On Ubuntu our test logs are roughly 63MB in size. 30MB of that comes from EF skipped test output. This makes it very difficult to view logs in the browser.

Can we find some way to remove this output.

cc @ryanbrandenburg

[2018-09-04 17:53] Bo-Yee-Woods commented on #13202
@ajcvickers As it is 2am now per Singapore time, I will read your update tomorrow.

[2018-09-04 17:54] ajcvickers commented on #13202
@Bo-Yee-Woods That's fine because non of the property types are entity types--they are simple scalar properties. In your case, `ComputedStampDuty` is an instance of an owned entity type. (I know you are treating it as a value object type, but it's really still an entity type.)

[2018-09-04 18:14] Bo-Yee-Woods commented on #13202
@ajcvickers wait, the owner entity of address value object is order entity. Pls refer to here https://github.com/dotnet-architecture/eShopOnAzure/blob/master/src/Services/Ordering/Ordering.Domain/AggregatesModel/OrderAggregate/Order.cs

[2018-09-04 18:39] dmitry-lipetsk commented on #13203
Arthur, thank you for your help.

UseTransaction works as I wanted.

[code]

[2018-09-04 18:46] divega commented on #13099
Thanks @ThomasNigro. Looking forward to answers to your ticket. Based on the error you reported, it seems there may be multiple issues preventing EF Core form working on Unity.

FWIW, I tried a few things on link.xml but didn't see any change.

[2018-09-04 18:58] daniloak opened #13212 "Add-Migration behavior with LogLevel"
When I am running Add-Migrations I am getting the following error message

`An error occurred while accessing the IWebHost on class 'Program'. Continuing without the application service provider. Error: Configuration value 'Info' is not supported.
Unable to create an object of type 'MyContext'. Add an implementation of 'IDesignTimeDbContextFactory<MyContext>' to the project, or see https://go.micr

[2018-09-04 18:59] MOO2Extractor commented on #6560
Me too today.  Two+ year old Intellisense bug isn't fixed?

[2018-09-04 19:03] #12367 closed

[2018-09-04 19:37] divega commented on #13131
@smitpatel and I discussed this further. He found that we could expand null comparisons in predicates to use the [IS_DEFINED() function](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sql-query-reference#bk_is_defined) in order to compensate for the current behavior.

However presumably having a predicate filters a large number of documents on IS_DEFINED() would be expensive.

We are cur

[2018-09-04 19:45] patriksvensson commented on #12713
@natemcmaster Been hitting this as well lately. When is 2.1.3 with the fix expected to be released?

[2018-09-04 20:16] natemcmaster commented on #12713
@patriksvensson next week.

[2018-09-04 20:40] gforceg commented on #13046
@AndriySvyryd Your code sample was very helpful and informative.
Now I have unit testing working in my project (And I know more about how DI works outside of .net core MVC!)

I did have to make a small change to get this to work:

I changed this line:
[code]

To this:
[code]

[2018-09-04 21:44] cfdelaune commented on #9249
I just submitted this as a new issue [here](https://github.com/xamarin/xamarin-macios/issues/4749).

[2018-09-04 22:33] ajcvickers commented on #13179
@mqudsi Can you post the full stack trace?

[2018-09-04 23:59] RaidMax opened #13215 "Failed to compare two elements in the array"
After upgrading to Entity Framework Core 2.1.2, I consistently receive this error.

It occurs when making a request through ASP .NET Core

[code]

### Code causing the issue
[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Pomelo.EntityFrameworkCore.MySql
Operating system: Windows Server 2008 R2

[2018-09-05 00:32] RaidMax commented on #13215
Perhaps that's the issue. I was thinking of group by when I wrote it. Let me test and see if that's the issue, if so I'll close this.

[2018-09-05 02:35] Bo-Yee-Woods commented on #13202
@ajcvickers Thank you very much!

[2018-09-05 03:22] tai-yi opened #13216 "Where condition missing on Left join grouped sub query"
I want left join twice, first is a grouped sub query, second is a table.

The major translation works well.

But the condition has some problem, if LINQ condtion constains the grouped query part, the translation will not translate condition part.

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple

[2018-09-05 04:14] Bo-Yee-Woods commented on #13202
@ajcvickers  Hi, I have some other finding. I summary there is three points we need to notice.

    public class PaymentRecordEntityConfiguration
        : IEntityTypeConfiguration<PaymentRecordEntity>
    {
        public void Configure(EntityTypeBuilder<PaymentRecordEntity> builder)
        {
            builder.Property(x => x.DocumentRefNo).IsRequired();

            builder.Property<double>("

[2018-09-05 04:56] tmvan opened #13217 "EFCore Design Tools - Unable to reverse previous migrations with entity has ID's type is string"
I have two entities with 1-n relationship, and **their ID types are string**. After period of working, I want to remove the entity that has foreign key references to other one. I started editing, adding migrations and updating database. Everything is fine util I want to reverse to previous migrations that exist before I remove the entity. And I got exception like this:
[code]
This issue happens wi

[2018-09-05 07:05] bludev commented on #831
I too thought that the lack of 'update model' was a problem. However, I noticed that in EFCore the scaffolding of the entire database (in my case about 300 tables) is much faster than the update that I did before with EF6 + EDMX. Using 'HandleBars' I was able to customize the creation of context, entities and names of navigation properties. I must say that I no longer miss the old graphic tool of

[2018-09-05 07:15] darkguy2008 commented on #9723
So, is this done? I'm having an issue where my app's directory is "api-users" and it tries to make the namespace as "namespace api-users.Models" which obviously doesn't work and crashes everywhere.

[2018-09-05 08:59] ronsplinter commented on #6214
I know this issue is closed but I want to leave my frustration about the missing automatic migrations feature somewere. Hopefully you will reconsider.

[2018-09-05 10:31] kunalpgithub opened #13218 "EF Core, how can I configure it to target both different database system like SQL Server and MYSQL both together."
We are using EF core for our new project.

But we have one team member using Mac machine for development. So all other developers are using EF Core with SQL Sever but we want to use EF Core with MySQL for our Mac Developer.

It seems like we can configure DB Context to use either only SQL Server or MySQL.

Is there a way to tell EFCore to use SQL Server or MYSQL using some kind of factory method i

[2018-09-05 10:42] kjbetz commented on #13218
I'm interested in the answer to your question as well. As I've had a very similiar scenario.

One way to go about it though would be to have Mac developers run MS SQL Server for Linux in Docker container... or it might even be able to run natively. That way everyone is using MS SQL Server.

[2018-09-05 11:54] poke opened #13219 "Replacing a related child entity while also dropping the old child entity"
I am having a problem that I want to replace a child entity on an object with a new entity. While doing that, I want to replace the reference on the parent entity, create a new child entity, and *also* drop the original/old child entity.

When attempting to do that, even if explicitly dropping the old entity, I am unable to set the *new* entity within the same transaction. I am always left with ei

[2018-09-05 11:57] poke commented on #13219
Case 4:

[code]

This also works, since when deleting the child, EF is now unable to navigate back to the parent to set the `ChildId` to `null`.

[2018-09-05 13:05] sam-wheat commented on #13218
Will your you application target both MSSQL and MySQL? If so, you can use [AdaptiveClient](https://github.com/leaderanalytics/AdaptiveClient) and [AdaptiveClient.EntityFramework](https://github.com/leaderanalytics/AdaptiveClient.EntityFramework).  AdaptiveClient will help you target multiple database platforms using EntityFramework Core.  You can also easily expose services via REST, WCF, etc.

Pl

[2018-09-05 13:09] kunalpgithub commented on #13218
@sam-wheat  No, applicaiton does not target both MSSQL and MySQL. Just for development we want to use mySQL on some of machine and others are using SQL Server.

[2018-09-05 14:59] joakimriedel opened #13220 "Nested projections with null check or access to parent navigation property => exception"
Using nested projections with null checks or trying to access a parent navigation property in a child projection, all throws exceptions.

### Steps to reproduce

I have a project with these two entities below;

[code]

I'm having an AutoMapper configuration where child entities are accessing the parent entity through a navigation property.

[code]

AutoMapper generates code that translates to the

[2018-09-05 15:55] ajcvickers commented on #9723
@darkguy2008
This issue is in the Backlog milestone. This means that it is not going to happen for the 3.0 release. We will re-assess the backlog following the 3.0 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-09-05 16:01] ajcvickers commented on #13219
@poke What version of EF Core are you using?

[2018-09-05 16:04] poke commented on #13219
@ajcvickers I’m running above test code inside LINQPad with EF Core 2.1.2. I can provide a clonable repo though if needed.

[2018-09-05 16:28] ajcvickers commented on #13219
@poke It's quite unusual to have the FK property defined on the "Parent" side of the relationship. Usually when people talk about Parent/Child relationships the Parent acts as the principal side of the relationship and the Child acts as the dependent side. So, for example, cascade deletes always work from the principal to the dependent, not the other way round.

That being said, when I run your co

[2018-09-05 16:30] ajcvickers commented on #13219
@poke I take that back. Case 2 doesn't work--the existing principal is deleted, but the child FK is not set to the new principal. I'll look into this further.

[2018-09-05 16:42] poke commented on #13219
Yeah, it could be true that this is a bit unusual. I’m originally encountering this issue in a situation where “child” is a file item that can be attached to multiple different kind of objects. Having the FK on the “parent” allows me to reuse this for different types of parents. And it also gives me a nice shortcut to figure out whether a child/file exists without having to query for it.

But if i

[2018-09-05 16:46] ajcvickers commented on #13202
@Bo-Yee-Woods Just to be accurate, for 2) The setter could be internal or private, or it could have no setter and a writable backing field. For 3) Owned type can have an empty constructor, but if it does, then EF will use it instead of the parameterized constructor. This may change in 3.0--see #10865. 4) if the properties are read-only, then they must be set from the constructor.

[2018-09-05 17:00] bricelam commented on #9723
@darkguy2008 See also dotnet/sdk#1564

[2018-09-05 17:04] anurse commented on #13211
This is a significant delaying factor in diagnosing the cause of build failures. It would be great if this log content could be reduced. It could be related to https://github.com/aspnet/BuildTools/issues/749 though. It's possible that this is written by xunit/vstest when the `--diag` switch is provided, which the Universe test runs do.

[2018-09-05 17:04] mdebeus opened #13221 "IsRowVersion is not working for SqlLite in memory"
Describe what is not working as expected.
I have a property on my model, public byte[] ConcurrencyToken which I specify as IsRowVersion using FluidApi. When I add an item to a sqlite in memory database, this property is set to null. I expect this property be to initialized such that it can be used to detect concurrency conflicts.

### Steps to reproduce
Below are the contents of the project and te

[2018-09-05 17:32] pmiddleton commented on #12795
@smitpatel - Is there going to be a public working branch at some point so that we can check things out as they are built?

[2018-09-05 17:33] sitefinitysteve commented on #6560
It's the wrong repo for the issue to be in... Still would be nice to be fixed SOMEWHERE.

[2018-09-05 17:34] natemcmaster commented on #13211
How many tests are skipped? Maybe the solution is to skip fewer tests.

[2018-09-05 17:35] BrennanConroy commented on #13211
~8179
But there is a legitimate reason for skipping
`Unmet assembly test condition(s): LocalDb is not accessible on this platform. An external SQL Server must be configured.`

[2018-09-05 17:37] pnguyen535 commented on #10800
I couldn't get this to work with EF 2.1.2, the FindNavigation always return null to me
.Metadata.FindNavigation(nameof(Dinner.Rsvps));

Is there something else that I need to look for? I have the similar setup in the Domain as your code.

Thank you

[2018-09-05 17:49] ajcvickers commented on #6560
@DMW007 The issue is tracked here: https://github.com/dotnet/roslyn/issues/8237 That's where comments need to be made to reach the people who could fix this.

[2018-09-05 17:49] DMW007 commented on #6560
@sitefinitysteve You're right, but since VS is only proprietary software, we don't have a github repo to report/discuss the bug. And we didn't get any fix or at least feedback from @rowanmiller about the progress. He said that the bug was passed to the IntelliSense team, but it doesn't seem that they care about this annoying bug. I don't want to know how much time was wasted on this bug...

[2018-09-05 17:53] ajcvickers commented on #13119
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-05 17:55] ajcvickers commented on #13194
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2018-09-05 18:31] ErikEJ commented on #831
@bludev I think you first 2 defects are addressed in EF Core Power Tools

[2018-09-05 18:44] ajcvickers commented on #13206
@AndriySvyryd to find dupe.

[2018-09-05 18:46] ajcvickers commented on #13208
@AndriySvyryd to find the dupe.

[2018-09-05 19:12] ajcvickers commented on #13211
@natemcmaster Is there a way that we can conditionally skip the entire assembly?

[2018-09-05 19:14] ajcvickers commented on #13211
Or, @smitpatel suggests if we can use a Linux image with SQL Server installed, then we could use that. We have an image that is used on EFCI that does this.

[2018-09-05 19:47] christopherspence opened #13222 "CLI doesn't execute migrations when the migration folder isn't in the default place"
My coworker and I found an interesting bug in the Entity Framework CLI. If you have your migrations in a non-standard folder, and you try to update the database, it doesn't run through the migrations.

What doesn't work:

[code]
However, it does work in the VS 2017 Package Manager

[code]

Thanks in advance

### Further technical details
.NET Core version: 2.1.302
EF Core version: 2.1.1
Database P

[2018-09-05 19:47] bricelam opened #13223 "Update NetTopologySuite to 1.15.1"
And remove [this workaround](https://github.com/aspnet/EntityFrameworkCore/blob/cbd2a2074d908673195abbb14de5a460acaa2aea/src/EFCore.SqlServer.NTS/NetTopologySuite.IO/SqlServerSpatialReader.cs#L73-L77).

[2018-09-05 19:58] ajcvickers commented on #13175
@slubowsky Thanks for posting that. We discussed in triage and decided on no action for now, but we may need to revisit what it means to configure for base verses derived types when considering TPC mapping.

[2018-09-05 20:00] ajcvickers commented on #13162
Discussed in triage, and decided that at least for now the relationship needs to be configured such that the principal and dependent are know, which is important for support of option dependents with table splitting.

[2018-09-05 20:00] AndriySvyryd commented on #13208
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/12346

[2018-09-05 20:02] AndriySvyryd commented on #13206
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/11969

[2018-09-05 20:05] ajcvickers commented on #13179
Stack trace:
[code]

[2018-09-05 20:26] ajcvickers commented on #13198
@andrescorrea Can you please post a project/solution that reproduces the issue you are seeing so that we can investigate more.

[2018-09-05 20:30] ajcvickers commented on #13200
@jcagme Migrations are designed around relational databases and hence `IMigrator` is not available. Issue #6983 is tracking a better exception message for these cases. We do have ideas around evolving the document database, but these will likely not look like relational migrations.

We will be blogging about Cosmos DB very soon. This should help showing how to use it and what currently works. Plea

[2018-09-05 20:36] smitpatel commented on #12795
@pmiddleton - Yes. It will take some time to initially bootstrap the compiler.

[2018-09-05 20:37] smitpatel commented on #13221
Duplicate of #2195

[2018-09-05 20:40] smitpatel commented on #13207
Duplicate of #12737

[2018-09-05 21:14] ajcvickers opened #13224 "Separate column default constraints from EF store-generated values"
Issue #9627 talked about the different possible reasons for having columns with default constraints. We discussed this some more and decided to look at adding more separation of these concepts in the 3.0 timeframe. This would make it easier to specify that a column has a default constraint without that meaning that EF should use a sentinel value to decide whether or not to include a value for the

[2018-09-05 21:16] ajcvickers commented on #13209
@martin-kelley We're not going to change this for 2.2, but we discussed in triage and I have opened #13224 to look at making this a better experience. Using the model default in some way may be something we could consider.

[2018-09-05 21:17] ajcvickers commented on #13212
@daniloak Can you post a runnable/project solution that demonstrates the behavior you are seeing so that we can investigate further.

[2018-09-05 21:49] mqudsi commented on #13179
Thanks, @ajcvickers. I didn't notice I had copied the wrong stack trace in my OP.

[2018-09-05 21:58] blowdart opened #13225 "Many to many self reference table - guid Id changes itself"
_From @john345331 on September 5, 2018 18:51_

https://stackoverflow.com/questions/52191661/many-to-many-self-reference-table-guid-id-changes-itself

_Copied from original issue: aspnet/Home#3500_

[2018-09-05 21:58] blowdart commented on #13225
_From @john345331 on September 5, 2018 18:52_

Also a better documentation should be added for self referencing one-to-one and many-to-many tables

[2018-09-05 23:15] smitpatel commented on #13211
@anurse - Which location it is spamming the console output? AFAIK we did work to get SqlServer installed. See https://github.com/dotnet/core-eng/issues/3476
If that is the place then it's just matter of configure env variable to connection in that particular build config.

If there are location where we want to stop running these tests and there is no SqlServer, then we need to do conditional proc

[2018-09-05 23:30] JeanCollas commented on #1100
@bricelam I haven't checked yet, but I see `where t.Point.Distance(currentLocation) < 100` with no indication of the unit there, I guess it is in the comment of "Distance" function, is it meters? km?

[2018-09-06 00:11] SomPuttivara opened #13226 "Expression evaluation caused an overflow"
Background: I'm working on porting a legacy Linq2Sql solution to EFCore with @optiks

I'm getting an exception when having the following Linq query:

[code]
[code]

### Steps to reproduce
Completed code can be found here:
https://github.com/avinash-phaniraj-readify/EFCoreTestBed/tree/ExpressionOverflow

While this is the behaviour we see with Sql CE, the SQL Server run has issues as well
On Sql Se

[2018-09-06 00:40] smitpatel commented on #13226
For SqlServer, it looks like we are eating up Convert node through RemoveConvert. We may/should introduce explicit cast.

cc: @ErikEJ for SqlCE, Any leads based on exception message?

[2018-09-06 02:12] sjb-sjb opened #13227 "Shadow-state entity exception caused by generic base class?"
I get this exception:
System.InvalidOperationException
  HResult=0x80131509
  Message=Entity type 'TreeNode`1[[Q5.Content.Settings.Instrument, Q5U, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]' is in shadow-state. A valid model requires all entity types to have corresponding CLR type.
  Source=Microsoft.EntityFrameworkCore
  StackTrace:
   at Microsoft.EntityFrameworkCore.Infrastructure

[2018-09-06 05:34] Follpvosten commented on #13193
Alright, I'll look into doing that. I had already thought of that beforehand, but since there are 3-5 different projects involved (SQLitePCL, SQLCipher, EF Core and SQLite itself, and maybe also Mono to some extent), I decided to go to the high-level project I actually use.

I will go to the other projects one after another and see what I can do.

[2018-09-06 06:26] KlausEvenEnevoldsen commented on #13058
Do you have any news to share on this Issue? :-)

[2018-09-06 08:22] DiedrikDM opened #13228 "Issue: AddDbContext() in combination with Scaffolding from Database throws InvalidOperationException"
If you're new to EF Core the template created by the scaffolding tool (dotnet-cli) can be a bit confusing when you try to use it in combination with the AddDbContext() method. I'm not sure if it is an actual bug of the AddDbContext method or if it is something that can be clarified in the docs...

### Steps to reproduce
Start with a new ASP.NET Core application (I chose the MVC template from Visua

[2018-09-06 09:08] LordMike commented on #13140
We're also seeing this. This is very critical :|

[2018-09-06 09:12] quan01994 opened #13229 "Scaffold-DbContext SqlServer decimal"
[code]

in sql server
this column type is decimal(18,2) not null

Scaffold-DbContext generate this Code
[code]
Why report this warning?

[2018-09-06 10:25] gitn00b1337 opened #13230 "Concurrency Error"
I am using EF Core 2.1.2 in my netcoreapp2.1 app. The below exception is being thrown on my local DB, and is the only request being sent at the time - therefore it cannot actually be a concurrency issue.

I have a system versioned table in sql server. It is very large and has many nullable foreign keys to other tables. One of which is UserId -> user table. The user is currently set to ID 7. I am c

[2018-09-06 11:05] ChristophvdF commented on #12451
Hi,

I encounter the same issue with the lazy loader but my setup is a bit different.
All values I need are eager loaded

                var project = await DbContext.Projects
                    .Include(p => p.Customer)
                    .Include(p => p.Operator)
                    .Include(p => p.ProjectManager)
                    .Include(p => p.TechnicalManager)
                    .Incl

[2018-09-06 11:35] stilettk opened #13231 "SqlException when grouping by IS NOT NULL"
I have a following query:
[code]
It throws the following exception when executed:
[code]

### Steps to reproduce

Use the query from above with this model:
[code]
The following sql is generated:
[code]

### Further technical details
EF Core version: 2.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017 15.8.2

[2018-09-06 12:44] jcemoller commented on #12148
@ajcvickers Just started hitting this bug as well. See https://github.com/AutoMapper/AutoMapper/issues/2784. I've created a gist that reproduces the error here: https://gist.github.com/jcemoller/51c2ecc07369f4c4b706df006be67633

The following code is what AutoMapper generates. Removing the null check works, but since the entity might be null it is not a feasible workaround.

[code]

[2018-09-06 12:47] Ice2burn opened #13232 "EF core 2.1 for many-to-many table results in n+1 queries"
Details in separate repo [here](https://github.com/AutoMapper/AutoMapper/issues/2783)

See [execution plan](https://github.com/AutoMapper/AutoMapper/issues/2783#issuecomment-419057467) and result query. I believe it should result in one query.

### Further technical details
EF Core version: 2.1.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer 2.1.0
Operating system: Windows 10
IDE: Vis

[2018-09-06 13:09] ghost opened #13233 ""Value cannot be null.\nParameter name: tableExpression""
Get Exception:
- `"Value cannot be null.\nParameter name: tableExpression"`

### Steps to reproduce
Get data from `DbSet` in derived `DbContext` class, using `from` clause like this:

[code]

while these work
### 1
[code]
### 2

[code]

### Further technical details
EF Core version: 2.1.1
EF Core version: 2.1.2

[2018-09-06 13:48] daniloak commented on #13212
I edited the issue, I also added a video showing the issue, please, do not consider the "notepad" part in the video

[2018-09-06 15:17] markusschaber commented on #1100
@JeanCollas I thought the unit of the distance depends on the coordinate system of the geodata - whether it's WGS84, or some local projection, or some other coordinate system...

[2018-09-06 15:42] bricelam commented on #13193
Do all your SQLitePCLRaw.* package versions align? We had [similar issues](https://github.com/aspnet/Microsoft.Data.Sqlite/issues/524) reported in the past...

[2018-09-06 15:49] ajcvickers commented on #13212
@daniloak I downloaded your project and tried running various migration commands. They all worked fine for me, which suggests something about your machine setup. I would try clearing your NuGet caches, reinstalling the .NET Core SDK, and possibly Visual Studio.

[2018-09-06 15:56] ajcvickers commented on #13233
@ckams I have not been able to reproduce what you are seeing--my full code is below. Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[code]

[2018-09-06 15:59] ajcvickers commented on #12451
@ChristophvdF Lazy-loading needs to be disabled where the navigation properties are being accessed.

[2018-09-06 16:02] ajcvickers commented on #13230
@gitn00b1337 There is nothing that immediately looks wrong in the code you posted. Could you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing.

[2018-09-06 16:06] ajcvickers commented on #13140
@smitpatel Does this look like the correct dupe: #12575

[2018-09-06 16:07] ajcvickers commented on #13229
Duplicate of #12241

[2018-09-06 16:10] ajcvickers commented on #13058
@KlausEvenEnevoldsen This issue has been triaged as a bug into the 3.0 milestone. Thanks for providing the additional info.

[2018-09-06 16:26] ajcvickers commented on #13227
@sjb-sjb
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW

[2018-09-06 16:27] Ice2burn commented on #13232
So I was editing query step by step and found the reason:
[code]
It's caused by `OrderBy() `
Then I put any (even in classic form `.OrderBy(s => s.Ticket.Id)`) EF creates n+1 requests.

[2018-09-06 16:31] daniloak commented on #13212
Did you use Debug or Info in the log level?

[2018-09-06 16:33] ajcvickers commented on #13212
@daniloak I didn't change anything. I expected the project to be setup to reproduce the issue you are seeing.

[2018-09-06 16:38] daniloak commented on #13212
Again with the parameter changed.

[WebApplication6.zip](https://github.com/aspnet/EntityFrameworkCore/files/2357932/WebApplication6.zip)

[2018-09-06 16:45] xperiandri opened #13234 "ReferenceOwnershipBuilder<TEntity, TRelatedEntity> misses generic HasOne"
`ReferenceOwnershipBuilder<TEntity, TRelatedEntity>` type misses `HasOne<TRelatedEntity>([CanBeNullAttribute] string navigationName)` method

### Further technical details
EF Core version: 2.1
Database Provider: Microsoft.EntityFrameworkCore.SqlServer

[2018-09-06 16:51] ajcvickers commented on #13212
@daniloak Thanks, I am able to reproduce this now--we will investigate.

[2018-09-06 17:12] ErikEJ commented on #13226
@smitpatel  I have improved type mapping of parameters on the latest SQL CE provider build, wonder if that would solve this?

@SomPuttivara Could you share the generated SQL? And try 2.1.0.5 ?

[2018-09-06 18:45] smitpatel commented on #13140
Duplicate of #12575

[2018-09-06 18:54] ajcvickers opened #13235 "Add CanConnect or similar API for health checks"
Notes:
* There will be a default relational implementation that at least opens a connection and possibly runs a query
* Relational providers can override this if something else is needed
* Non-relational providers can do whatever makes sense for them
* There will be an overload that takes something like `Func<TContext, bool>` that can be used for doing a fully custom check.

/cc @glennc @divega @r

[2018-09-06 19:26] smitpatel commented on #13232
Can you create full query without AM & DL and post it here? I looked at the query in AM and it does not contain any OrderBy.

[2018-09-06 19:27] ajcvickers opened #13237 "Use Reflection to set readonly fields"
We currently don't allow readonly fields to be set because the expresion compiler doesn't allow us to compile a delegate to do this. However, the pattern is sufficiently nice, especially now with readonly auto-props, that we should make this work by setting the field through Reflection. We may also consider a warning if doing this adds significant perf overhead.

[2018-09-06 19:44] ajcvickers commented on #13218
@kunalpgithub This is not an approach I would recommend because SQL Server and MySQL do not always support the same set of features or exactly the same behavior. So, while you can develop an application that can use either type of database, this requires specifically designing for this and testing against both databases, and for any non-trivial application usually requires compromises and/or provi

[2018-09-06 19:44] jcemoller commented on #13220
I'm sorry @ajcvickers, but I am not able to reproduce this exact error message anymore. It was something that occurred while debugging another issue (https://github.com/aspnet/EntityFrameworkCore/issues/12148#issuecomment-419079239) and looking at the code now again this my attempt to convert from AutoMapper to EF Core was not done properly.

I have updated this issue with a new gist that successf

[2018-09-06 19:45] smitpatel commented on #12584
This could be fixed by #13118

[2018-09-06 19:48] ajcvickers commented on #10800
@pnguyen535 Typically this happens when the navigation property has not been configured using `HasOne`, `WithOne`, etc.

[2018-09-06 19:59] ajcvickers commented on #13140
@LordMike #12575 is scheduled to be patched in the 2.1.5 release of ASP.NET Core.

[2018-09-06 20:06] ajcvickers commented on #13225
Covered by https://github.com/aspnet/EntityFramework.Docs/issues/815

[2018-09-06 20:11] #12927 closed

[2018-09-06 20:13] ajcvickers opened #13238 "Merge IDbContextOptionsExtensionWithDebugInfo into IDbContextOptionsExtension"
See #12927 and PR #13199

[2018-09-06 20:17] babacardiop commented on #12702
@wannesdecraene Can you explain how you fixed your problem?
I am facing the same here. Thanks in advance!

[2018-09-06 20:19] awr opened #13239 "Feature Request: LINQ to table parameter"
Use Case: Ability to use query against a variable number of inputs, for a batching scenario. Ideally I'd like to have the same query plan used whether there are 2 input values or 100 input values, in conjunction with a linq query.

Hypothetical linq:
[code]

Ideally this generates t-sql that looks something like:
[code]

Note that I realize I can already do something similar with a `Contains` -- s

[2018-09-06 20:34] wannesdecraene commented on #12702
As I said in the post above, I had an unnecessary virtual relation in another model. (not EntityA, B or C)
When I removed this I got the correct migration.

[2018-09-06 20:56] ajcvickers opened #13240 "Add-Migration when a model class has a 2D array property gives a NullReferenceException in the package manager console."
From VS Feedback:

Create a model class with a 2D array property, e.g.
[code]
Run Add-Migration NewMigration in the package manager console.

Get a null reference exception.

[2018-09-06 20:57] ajcvickers commented on #13240
[code]

[2018-09-06 20:58] smitpatel commented on #13231
GroupBy terms needs to be value type. Same as Order By.
As a work around, you should be able to write ternary `HasParent = x.ParentId != null ? true : false`

[2018-09-06 21:21] babacardiop commented on #12702
Oh ok.
I thought the correction you made was on one of the entities that you included in your snippet that is why i was insisting to know where exactly you made your change.
Will inspect my other models.
Thanks for the quick reply! :)

[2018-09-06 21:56] pnguyen535 commented on #10800
I figured it out. The backing fields for navigation need to the HashSet<>.

Thanks

[2018-09-06 22:21] SomPuttivara commented on #13226
@ErikEJ Here is the generated SQL

`SELECT [emp].[Id] AS [EmployeeId], [emp].[Name] AS [EmployeeName], [dev].[Device], CASE
    WHEN [emp].[YearsOfService] = 0
    THEN 0.0 ELSE [emp].[NumberOfShare] / [emp].[YearsOfService]
END AS [AverageSharePerYear]
FROM [Employee] AS [emp]
INNER JOIN [EmployeeDevice] AS [dev] ON [emp].[Id] = [dev].[EmployeeId]`

This gets 'Expression evaluation caused an over

[2018-09-06 23:05] bricelam opened #13243 "SQLite Spatial: Allow specifying mode in InitSpatialMetaData()"
I'm not sure how many people will actually care...

The workaround is pretty trivial if you're using Migrations:
[code]

There is no easy workaround when using `Database.EnsureCreated()`.

[2018-09-06 23:07] bricelam opened #13244 "SQLite Spatial: Allow specifying a default SRID and dimension"
Currently only allow setting these on the properties directly. It may be nice to add sugar to specify default values for the entire table and/or model.

Without it, it should be pretty straightforward to set it by enumerating all properties.

[2018-09-06 23:14] bricelam opened #13246 "SQLite Spatial: Remove mod_spatialite NuGet package dependency?"
Going to leave it for now, but we should discuss the pros an cons as a team.

[2018-09-07 03:15] Psypher9 commented on #11402
Okay, so after
* testing and testing some more
* reading and re-reading back through all of our conversation here
* as well as making some changes in `Remove-Migration` and testing them with some Git and TFS controlled projects

I also think this is a bug in the `EnvDTE.ProjectItem.Remove()` endpoint. That and probably something else along the way TFS that isn't functioning properly. When I was tr

[2018-09-07 05:08] kunalpgithub commented on #13218
Thanks @ajcvickers .

Does that mean its not possible to achieve database persistence using EF core?

[2018-09-07 05:31] ChristophvdF commented on #12451
@ajcvickers Thx for the clarification.

[2018-09-07 05:55] fabercs commented on #9829
@guillerglez88 I m not sure your code is working for multiple dbContexts, your configSqlServer delegate is called for each AddDbContext method and inside this delegate you create new SqlConnection for each call. Did you ever test your code for multi different contexts? I am in a similar situation.

[2018-09-07 05:56] aspnet-hello opened #13248 "Test failure: Reports_debug_info_for_most_similar_existing_service_provider"
This test [fails](http://aspnetci/viewLog.html?buildId=547358&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ryan

[2018-09-07 05:56] aspnet-hello commented on #13248
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-07 08:32] jcemoller commented on #13220
@ajcvickers I must have been a bit tired yesterday. When creating the gist, I forgot to enable *QueryClientEvaluationWarning*. Just updated the gist, and it will now throw the same exception I observed in my actual project for the SQL provider:

*"Microsoft.EntityFrameworkCore.Query.QueryClientEvaluationWarning: The LINQ expression 'where (Convert([a].Action, Int32) == 1)' could not be translated

[2018-09-07 09:05] BalassaMarton commented on #795
@ryanelian I too miss the bulk delete option but at least we can write a workaround for that - `Take` N elements from the set, remove them, detach the entities, and repeat until the query doesn't return more elements. However, you cannot do this with update - if you do a `SELECT ... WHERE ...`, you have to load the whole result set, otherwise you can't guarantee that the next `Take` will not give

[2018-09-07 09:25] jcemoller opened #13250 "AsQueryable and expression filter cause locally evaluated join with SQL"
When investigating possible workarounds for https://github.com/aspnet/EntityFrameworkCore/issues/13220 using Take(1) instead of FirstOrDefault(), I stumbled on another issue with using expression filters utilizing AsQueryable on collections.

[code]

### Steps to reproduce

The following query uses AsQueryable to be able to use a static expression in the Where clause. It accesses a navigation prop

[2018-09-07 10:31] Ice2burn commented on #13232
Original full query:
[code]

[2018-09-07 12:55] tomchovanec commented on #12713
@natemcmaster Thank you, nightly build could help temporary. I was looking for some ungly hack because it's not possible to compile sources or add them to the solution that contains 60+ projects while many other developers works on it.

[2018-09-07 14:02] chrsas opened #13251 "Incorrect sql generated for query with groupby"
Context: AdventureWorksLT
EF Core: 2.1.2
LinQ:
[code]
SQL:
[code]
It does not grouped.

[2018-09-07 14:03] Ice2burn commented on #13232
Was able to reproduce the issue outside of main project.

See `HomeController/Index`:
[Test.zip](https://github.com/aspnet/EntityFrameworkCore/files/2361296/Test.zip)

[2018-09-07 15:06] ajcvickers commented on #12795
### Update on the plan for query in 3.0

We have been having some deep discussions over what we should do with query in 3.0. These discussions fall into two areas:

- Query behavior and whether we can make query more robust, conceptually easier to understand, and with less chance of regressing by making some high-level changes to the way it works. Most of the issues linked from here relate to this

[2018-09-07 15:17] guillerglez88 commented on #9829
Yes @fabercs, the code is working as expected from the moment i posted the snippets. If you find anything i could be loosing, i would thanks to know.

[2018-09-07 15:33] ajcvickers commented on #13218
@kunalpgithub Persistence, yes. :-) If you mean "persistence ignorance", then yes, but it requires developing and testing that way. It is not a goal of EF Core to make every database system behave exactly the same way as every other database system, but rather to provide common, useful abstractions where they make sense, while not hiding or compromising the unique features and behavior of each sys

[2018-09-07 15:49] pmiddleton commented on #12795
@ajcvickers - Is SelectExpression et al going to stay the same, or do you plan to generate the final sql via a walk of the expression tree?

[2018-09-07 15:50] ajcvickers commented on #13176
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-07 15:51] ajcvickers commented on #13174
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-07 15:51] ajcvickers commented on #13163
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-07 15:51] ajcvickers commented on #13137
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-07 15:53] ajcvickers commented on #13177
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-07 16:06] MikeJansen opened #13252 "Allow DbContext.Query<T> called with an entity type"
Simply calling `DbContext.Query<T>()` with various entities (like `IdentityUser`) is throwing an `InvalidCastException`.

[code]
### Steps to reproduce

Given:

[code]

Using ASP.NET Core 2.1, I am getting this exception on the `db.Query<IdentityUser>()` call:

[code]

I ran into this with my own entities and reproduced it with minimal code using the canned ApplicationDbContext/IdentityUser.

###

[2018-09-07 16:16] smitpatel commented on #13252
You cannot call `Query<>` method for EntityTypes. You must use `Set<>` method.

[2018-09-07 16:26] smitpatel commented on #12795
@pmiddleton - There will be SelectExpression but it would change some of the features. Perhaps the biggest change in SelectExpression would be around its projection handling. Currently, we add SQL fragment to projection and bind using the index in projection. Which causes quite a few issues in terms of changing projection ordering since there is already ValueBuffer binding somewhere else. (this is

[2018-09-07 16:28] bricelam opened #13841 "Microsoft.Data.Sqlite: Consider changing ultimate fallback type to BLOB"
We have aspnet/Microsoft.Data.Sqlite#435 and aspnet/Microsoft.Data.Sqlite#523 the help improve type inference. We should look for anywhere else that we fallback to a default and make sure they're all consistent. I propose BLOB since every value can be losslessly coerced to it.

[2018-09-07 16:32] bricelam opened #13253 "SQLite: Consider changing ultimate fallback type to BLOB"
We have #8824 to generally improve type inference, but we'll still have fallbacks. Like aspnet/Microsoft.Data.Sqlite#548, we should also review everywhere we fallback to a default and make sure it's consistent. I propose BLOB since every value can be losslessly coerced to it.

[2018-09-07 16:38] MikeJansen commented on #13252
@smitpatel Thank you.  That fixed the problem.  Perhaps `DbContext.Query<TQuery>() could have a more constrained `where` clause for `TQuery` ?

Closing the issue.

[2018-09-07 16:39] ajcvickers opened #13254 "Byte arrays in the in-memory database can be mutated"
Because the bytes are not copied into a new array in the store. This means that mutating the array values will impact the store even without SaveChanges being called.

[2018-09-07 16:40] smitpatel commented on #13252
For better exception msg.

[2018-09-07 16:55] andrescorrea commented on #13198
I fixed the error adding:
[code]

[2018-09-07 17:02] cortex93 opened #13256 "Have a way to construct a rawsqlstring from a trusted source"
When executing raw sql script containing curly braces, it is really cumbersome to have to escape those characters in the first place.

We should have a method to be able to bypass the replacement mechanism when we trust the input.

[code]
With EF1000 compilation warning "The SQL expression passed to 'ExecuteSqlCommandAsync' embeds data that will not be parameterized."

Should be something like
[co

[2018-09-07 17:13] maganuk opened #13257 "Model Size Limited"
I have a fairly large Model object with a lot of nested arrays and objects. Works fine in EF6. However attempting to project the same in EF Core throws an error. Its a fairly simple projection and I can tell its something to do with the size of the model that is throwing the error. If I comment out ANY two of the nested objects the error goes away. If I breakup the same model into two or three dif

[2018-09-07 17:30] djkiwe commented on #13163
Sorry for the delayed response. The result of `which dotnet` is `/usr/bin/dotnet`

[2018-09-07 18:09] smitpatel commented on #13256
It is just a warning. Wouldn't disable the warning in the source is same amount of work as calling a method?

[2018-09-07 18:27] mrcoymeeks commented on #5269
Apologize for commenting on a closed issue, but I want to get some clarification around the designed behavior.

I'm currently porting over to EF Core and I have a closure tree representation in the database, with a composite key, parentId, descendantId, and tenantId.  The root of the tree is always Guid.Empty so all nodes are related to Guid.Empty.

When I attempt to insert Guid.Empty into this ta

[2018-09-07 18:28] ajcvickers commented on #13234
@AndriySvyryd to check; may already be fixed in 2.2.

[2018-09-07 18:38] ajcvickers commented on #13246
Leave as is for now.

[2018-09-07 18:41] ajcvickers commented on #13251
@smitpatel to find dupe.

[2018-09-07 18:45] ajcvickers commented on #13252
Better message for 2.2, backlog afterwards for making Query work for DbSets.

[2018-09-07 19:04] smitpatel commented on #13251
It is not invalid SQL. It does grouping on client and gives correct result.

[2018-09-07 19:05] smitpatel commented on #13251
Duplicate of #10012

[2018-09-07 19:11] ajcvickers commented on #13256
@cortex93 We discussed this and we're not planning to do anything here, especially since the APIs will be changing slightly in 3.0 and the analyzer will be removed.

[2018-09-07 19:12] ajcvickers commented on #13257
@maganuk The stack trace here is not coming from EF, but rather from AutoMapper. Please follow up with the AutoMapper people.

[2018-09-07 19:16] smitpatel commented on #13212
You cannot use just `Info` you need to use exact string version of the `LogLevel` enum as in this file. https://github.com/aspnet/Logging/blob/master/src/Microsoft.Extensions.Logging.Abstractions/LogLevel.cs

[2018-09-07 19:17] ajcvickers commented on #13222
@christopherspence I was not able to reproduce this behavior--it may be due to something about the project/solution structure. Can you post a project/solution that reproduces what you are seeing?

[code]

[2018-09-07 19:36] blogcraft commented on #831
I have a problem with EF Core Power Tools, when I reverse Engineer a table in my database, with "EntityTypes only" selected, it deletes my current context, and if I choose to create de context it removes my previously added tables. (I just need to add a new entity, and leave alone whatever I had)

[2018-09-07 21:01] divega commented on #13256
@cortex93 Thanks for the clarification. So, you are talking about a SQL string that happens to include curly braces as part of the SQL (e.g. inside some string literal) and the fact that you now have to escape them to prevent our argument replacement logic from being triggered. This is interesting. As you mentioned, there are probably things we could do about this. Bringing it back to triage.

[2018-09-07 21:10] cortex93 commented on #13256
you rephrase it right; thanks for re-opening it.

[2018-09-07 21:31] AnOxfordDev commented on #13089
@bricelam - I'm new here, but this seems like a nice way to get started. Do you mind if I take this task?

[2018-09-07 21:38] smitpatel commented on #13089
@AnOxfordDev - There is already PR out from @Matthiee to fix this issue. We have to discuss in team how to deal with exact formatting issues as discussed on the PR.

[2018-09-07 22:31] ajcvickers opened #13260 "Query: In-memory query compares byte arrays by reference"
But this only worked because the bytes were not being copied into the database. Following the fix to #13254 this becomes an issue.

See: https://github.com/aspnet/EntityFrameworkCore/pull/13259/commits/e42754a9eb18d3646b079708f1b9fc2e7307e6d2#diff-851399a831cc13e5a9911382ed1d7ee7R57

Fails:
[code]
Works:
[code]

[2018-09-07 23:32] divega opened #13261 "SQL Server: consider adding first class support for SqlConnection.AccessToken"
SqlConnection.AccessToken is added to SqlClient for .NET Core in 2.2 to enable Azure Active Directory Authentication.

Although it is already possible to use the feature with the current APIs in EF Core and our SQL Server provider, it requires creating the SqlConnection object and passing it to UseSqlServer (or somehow setting the access token just before the connection object is ever opened).

Th

[2018-09-08 02:16] qibunext commented on #13194
[code]

[2018-09-08 06:32] aspnet-hello commented on #13248
Reports_debug_info_for_most_similar_existing_service_provider [failed with about the same error](http://aspnetci/viewLog.html?buildId=549089&buildTypeId=XPlat_Windows_Win8_Universe) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-08 07:26] Follpvosten commented on #13193
@bricelam I have now had time to check that; adding a dependency to SQLitePCLraw.core, Version 1.1.11, doesn't change anything. Which other packages should I try?

I would think that a completely fresh project such as my "SQLiteProblem" example should use all the right package versions by default, but I don't know that, of course.

[2018-09-08 07:57] ErikEJ commented on #831
@blogcraft You must leave everything you want included selected every time you run the tool

[2018-09-08 10:36] aspnet-hello opened #13262 "Test failure: Remove_on_bytes_concurrency_token_original_value_matches_does_not_throw"
This test [fails](http://aspnetci/viewLog.html?buildId=549249&buildTypeId=Releases_21Public_UbuntuUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @ajcvickers

This issue was made automatically. If there is a problem contact ry

[2018-09-08 10:36] aspnet-hello commented on #13262
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-09-08 10:48] MovGP0 commented on #10434
I found that in my codebases there are only a few use cases that EF Core can't handle. Most importantly are type aliases and time conversions (NodaTime).

### Type Alias

A type alias (there might be a better name for it) is something that wraps a scalar primitive type like a `string`, `int`, `guid`, or something similar in a `struct`: This is mosly done for type savety when writing a LINQ query,

[2018-09-08 11:34] sjb-sjb commented on #13227
OK I am trying to narrow it down. I have found that it is not simply the generic and

[2018-09-08 11:47] dazinator opened #13263 "dotnet ef database update - creates database at wrong path"
EF appears to be trying to create a database file in the wrong location.

[code]

### Steps to reproduce

1. Use this connection string in `appsettings`:

   `"Server=(localdb)\\mssqllocaldb;Database=Dennis;Trusted_Connection=True;MultipleActiveResultSets=true"`

2. Make sure no database already exists on localdb.
3. `dotnet ef database update`.

EF tries to create the new database as `C:/Users/[U

[2018-09-08 12:31] ErikEJ commented on #13263
Duplicate, patch your LocalDB 2071 with the latest CU

[2018-09-08 14:45] dazinator commented on #13263
@ErikEJ - thanks - any idea how do I do that? I found a SQL 2017 CU but when I run it there is no mention of LocalDb:

![image](https://user-images.githubusercontent.com/3176632/45255419-2868ad00-b37e-11e8-92f0-3a1480ee7d75.png)

[2018-09-08 14:50] dazinator commented on #13263
Nevermind - looks like I had found the correct one :-)

For anyone else looking: https://www.microsoft.com/en-us/download/details.aspx?id=56128

![image](https://user-images.githubusercontent.com/3176632/45255474-f441bc00-b37e-11e8-8041-84ee92805edd.png)

[2018-09-08 16:43] johnybravo666 opened #13264 "Lazy loading detached items when using reinitializing"
https://stackoverflow.com/questions/52236367/list-clear-vs-new-list-asp-net-core-entity-framework-core-lazy-loadi

[2018-09-08 17:48] bricelam commented on #13193
You're right. 2.1 projects should all be at 1.1.11.

[2018-09-08 18:33] crhairr opened #13265 "EntityQueryModelVisitor does not properly use CreateTransparentIdentifierType"
As a 3rd-party EF Core provider maintainer, I need to be able to control the transparent identifier type used by EntityQueryModelVisitor. I can override CreatetTransparentIdentifierType, but this has no effect on VisitAdditionalFromClause because it does not properly call that method:

https://github.com/aspnet/EntityFrameworkCore/blob/146863a3bdc25c1ea1cb224ba0611594398c8459/src/EFCore/Query/Enti

[2018-09-08 19:05] crhairr opened #13266 "Promote IncludeCompiler into DI services"
As a 3rd-party EFCore provider developer/maintainer, I need to be able to modify the behavior of the default IncludeCompiler. The current IncludeCompiler makes several assumptions about the underlying DB provider's capabilities especially with regards to GroupJoins, and results in non-performant runtime query execution.

It is possible to inherit from IncludeCompiler and override some functionalit

[2018-09-08 19:22] corstian opened #13267 "Exception when applying database migrations containing spatial data"
Applying Entity Framework Core migrations with the 2.2.0 previews (and spatial extensions) does not work.

**Exception message:**
[code]

**Stack trace:**
[code]

**Edit:**

After trying to update the database with verbose mode enabled we can see a bit better what's going on:

[code]

### Steps to reproduce

- Create new .NET Standard project.
- Alter the project file to be able to run migrations.

[2018-09-08 19:26] corstian commented on #13267
Involves testing the progress booked on #1100. FYI

[2018-09-09 01:49] blogcraft commented on #831
Ohh, that's a bummer, :( It's the UI version of runing the scaffold-dbcontext command with -f and the list of tables.

Right now my app has ~50 entities out of a 500+ tables of my legacy DB. So, I was actually searching for an easier way to go.

[2018-09-09 07:02] ErikEJ commented on #831
What is your issue? The selection is stored between each run in the efpt.config.json file !

[2018-09-09 07:02] ErikEJ commented on #831
And you can search in the table list...

[2018-09-09 07:03] Alantoo commented on #12118
Hi everyone.

I had similar issue. I was unable to update property of owned type of an entity.
Hope it will be helpful for someone as temporary fixup until we get solution from ef team.
Here a code snipped which works for me to update entity with immutable owned types:

[code]

If someone can suggest better approach it would be nice.

[2018-09-09 10:36] birjitningomba commented on #13228
I got the same issue but it turns out that an exception was thrown from the validate() method I use to validate the entities before saving the context. I skip the validation during troubleshooting and with that I am able to perform the database operation.

[2018-09-09 14:48] juanmarl commented on #626
@Wain123
When you materialize a query with many entities you get a bunch of ChangeTracker.Tracked events, one per each entity in the query result.
With this code you can call Init() when the object graph is *completely* materialized:
[code]

[2018-09-09 16:35] sjb-sjb commented on #13227
I tried building an example based on the EF Blogging.UWP sample program. However when I put the offending code into that context, it worked.

Then I rebuilt my project by creating a new UWP project and importing my code. I also updated VS by a minor version. And … it worked. So, it seems like a problem connected to the specific project state.

I imagine it is not something that can really be figur

[2018-09-09 17:44] sjb-sjb commented on #13227
Well, it worked … until it didn't. I'll keep you posted.

[2018-09-09 18:33] obelixA opened #13268 "Could not load file or assembly System.ComponentModel.Annotations, Version=4.2.0.0"
Hi

the past few days I tried to get out of "DLL hell 2.0" aka nuget packages :-)
I setup my whole solution on VS in a brand new directory, created each project as a new one and only tool the sources over.
Doing this I also updated alle the nuget packages to the latest version.
Running the app it hits an exception when doing "Database.Migrate()"

I tried every workaround I found in the web. Adding

[2018-09-09 19:00] xperiandri opened #13269 "Allow one-to-one transitive relationships"
I migrate from EF 6 which has TPT inheritance.
So that I have UserMembership to InternalContact 1-1 relationship which where InternalContact is a type derived from Contact.
And I've made InternalContact and ExternalContact as owned types of Contact to simulate TPT.
However, UserMembership is related to InternalContact which is not an entity. But defining EF Core model relationship from UserMembers

[2018-09-09 19:19] bdebaere opened #13270 "Curly braces should be ignored when using raw SQL method with no parameters"
During initialization of my test database I am executing several SQL files which create views. I was using context.Database.ExecuteSqlCommand for this until my views started becoming more complex. Now it's throwing an error: "Input string was not in a correct format". The interesting thing is that this error does not occur when using ADO.NET SqlCommand.

### Steps to reproduce
This works:
[code]

[2018-09-09 21:12] haddoncd opened #13271 "GroupJoin after Join “flattens” results"
Using Entity Framework Core 2.1 and an SQLite database, I get different behaviour from a LINQ GroupJoin if I use it after another Join. It is not clear if this is a bug or if there is something I am overlooking.

I have created a minimal VS2017 project to reproduce this, which can be found here:
https://gitlab.com/haddoncd/EntityFrameworkGroupJoinIssue

In this example, I get one object for each r

[2018-09-09 22:26] aspnet-hello commented on #13248
Reports_debug_info_for_most_similar_existing_service_provider [failed with about the same error](http://aspnetci/viewLog.html?buildId=549913&buildTypeId=XPlat_HighSierraOsxUniverse) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-09-09 23:04] xperiandri opened #13272 "SaveChanges loads entity with Deleted state instead of deleting"
I want to remove an entity by creating an empty one with Id only. But:
1. Instead of deleting the entry on SaveChages EF loads its data.
2. If `Any` is used instead of `AnyAsync` then EF loads all records completely (whole table). WHY???

### Steps to reproduce
[code]

Could you explain if I miss something or these are bugs?

I also tried `Attach`, `Remove` combination which does not work too.

##

[2018-09-10 02:35] divega commented on #3932
Bring this back to triage to discuss that the current implementation of query types is missing some of the functionality we wanted to have and discussed in https://github.com/aspnet/EntityFrameworkCore/issues/9290, even for query types:

1. **SQL-based defining queries**: With the current API, the only way to provide SQL as part of a defining query is to call FromSql inside the call to ToQuery. Fo

[2018-09-10 02:57] divega commented on #12466
Bringing back to triage. Here is a repro that shows that MinBatchSize actually affects whether the InsertData calls generated are separated or a single call.

You can simply create a project with the code blow and add a migration to see the effect.

I added TWEAK comments in places that can be modified to change the outcome.

Demos.DataSeeding.csproj:
[code]
Program.cs:

[code]

[2018-09-10 03:03] divega commented on #12466
BTW, IMO it would be nice of the batch size wasn't considered and the InsertData call was generated always as a single call when various operations of the same type happen on the same type. E.g.:

[code]

Rather than separate:

[code]

[2018-09-10 03:11] divega commented on #12466
Another thing that can be improved is the generation of DeleteData. It is shame because this one in particular could be very concise. It seems we always generate separate calls, but I didn't investigate deeply if the reason is similar. E.g. removing 4 of the seeded entities in a subsequent migration produces code like this:

[code]

[2018-09-10 03:21] divega opened #13273 "Analyzer does not recongize using variable of type FormattableString as a safe pattern"
This should be considered a safe case because it leads to parameterization, however it is detected by the analyzer as a potentially unsafe pattern:

[code]

We plan to address the issues with the API in 3.0, at which point we will likely remove the analyzer, but it is really annoying that this particular case is flagged as a possibly unsafe pattern because this is the most natural safe refactoring

[2018-09-10 03:31] divega commented on #13003
@smitpatel that may not be as crazy as you think... unfortunatelly it currently doesn't work: https://github.com/aspnet/EntityFrameworkCore/issues/3932#issuecomment-419770662

[2018-09-10 06:34] Trapov opened #13274 "Don't detect FK properties that match exactly the principal key properties"
`OwnsOne` is throwing an exception when owned type has the same key name and type, even if the root entity id and the child entity id were marked with `HasColumnName` differently.

[code]
[code]

This code was working in the previous version(the latest working version is 2.0.3), but starting from 2.1.0 it doesn't work anymore.

Exception message:
[code]
Stack trace:
[code]

### Steps to reproduce

[2018-09-10 07:02] MovGP0 commented on #3263
There is an additional pattern. Consider:

[code]

[code]

vs.

[code]

[code]

[2018-09-10 07:55] faryu commented on #1100
How are different coordinate reference systems handled? (Support for ST_Transform, etc?)
Can the SRID for the geometry column be defined in the model configuration?

[2018-09-10 08:15] SteffenMangold commented on #1100
Will it be puplished EF Core 2.2.0 or 3.0.0? I'm confused.

[2018-09-10 09:17] genne opened #13275 "Async on nested expressions freezes"
If you execute `ToArrayAsync` on a nested expression, i.e.

[code]

then `data[0].Nested` will be of type `AsyncLinqOperatorProvider.EnumerableAdapter<NestedModel>`, i.e. it seems like it's evaluated async as well. If you evaluate that in a WebApi (or similar) it will freeze.

### Steps to reproduce

Calling the following WebAPI action will timeout:

[code]

### Further technical details
EF Core v

[2018-09-10 12:30] SteffenMangold commented on #1100
@btecu but why is the alpha depending on entity core 3.0.0-alpha?

[2018-09-10 12:38] corstian commented on #1100
@SteffenMangold Scroll down in [the list](https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite) and you'll see 2.2.0 previews appear. Note that I had problems resolving the System.Data.SqlClient dependency when installing the latest versions from MyGet.

[2018-09-10 12:43] gpanagakis commented on #1100
Iam unable to install  Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuitea allon with the last
packages for Microsoft.EntityFrameworkCore and  Microsoft.EntityFrameworkCore.SqlServer.
I tried :
Install-Package Microsoft.EntityFrameworkCore -Version 2.2.0-preview1-35029
Install-Package Microsoft.EntityFrameworkCore.SqlServer -Version 2.2.0-preview1-35029

An afterward there is no
Microsoft.En

[2018-09-10 15:20] AlissonRS commented on #6482
`formatter(state, exception)` doesn't seem to get the query at all. It looks it returns the SQL to Entities representation (e.g the expression tree), but not the actual query.

I also tried using `ILoggerFactory`, but **No registration for type ILoggerFactory could be found.**. I'm missing something, but I don't know what.

![image](https://user-images.githubusercontent.com/4753901/45306725-bb7723

[2018-09-10 15:37] ajcvickers commented on #5269
@mrcoymeeks If you need GUIDs to be automatically when inserting new entities, then yes. Otherwise, just disable value generation on the primary key. See discussion here: #13123

[2018-09-10 15:43] mlynam opened #13276 "Seeded migrations with RowVersion produces invalid migrations"
Migrations where you use HasData to seed the database with entities that use a RowVersion property produces future migrations where the call to DeleteData looks for an entity matching a seeded Id and a null rowversion. Delete then removes nothing from the database and the Insert operation fails.

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.1.2
Database Provider:

[2018-09-10 15:44] ajcvickers commented on #13194
@qibunext We're really not going to be able to do anything with this kind of information. If you believe that there is a big in EF Core, then please post a runnable project/solution or complete code listing that demonstrates that bug.

[2018-09-10 15:47] ajcvickers commented on #10434
@MovGP0 For the cases where you comment "doesn't work" do you get an exception, bad SQL, or does it fail in some other way? Can you please post details of the stracktraces, bad SQL, or other failures?

[2018-09-10 15:58] ajcvickers commented on #13264
@johnybravo666 In this code:
[code]
The first line loads parent entities; child entities are not loaded. The second line sets child entities to a new empty list, but since the child entities are not loaded this is essentially a no-op. The third line then lazy-loads the child entities, since they have not been loaded, and then adds a new child entity to the list.

The reason it behaves differently

[2018-09-10 15:59] ajcvickers commented on #13264
Question for triage: should setting the property to a new empty collection cause it to be marked as loaded and empty? (Note that this is difficult--it likely means that the setter will have to trigger lazy loading, because otherwise we would not know which entities to mark as deleted.)

[2018-09-10 16:02] MovGP0 commented on #10434
@ajcvickers those cases work in memory and not in the SQL Server.

If I get an exception or not depends in the configuration. By default it's just a warning and very slow.

[2018-09-10 16:08] ajcvickers commented on #13268
@obelixA Can you post the csproj file?

[2018-09-10 16:09] ajcvickers commented on #13270
Related to #13256

[2018-09-10 16:18] ajcvickers commented on #13272
@xperiandri I have not been able to reproduce the behavior you are seeing--my code is below. Can you please post a runnable project/solution or complete code listing that demonstrates the behavior you are seeing?

[code]

[2018-09-10 16:26] bricelam commented on #1100
@faryu You set SRID values on the Geometry instances (use a geometry factory to specify a default). Some providers (like SQLite + SpatiaLite) require the SRID to be defined on the column. For these, we'll add Fluent API like `modelBuilder.Entity<SpatialThing>().Property(t => t.Point).ForSqliteHasSrid(4326)`.

[2018-09-10 16:30] obelixA commented on #13268
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</

[2018-09-10 16:31] bricelam commented on #1100
This work is going into the 2.2 branch.

Here is [the nightly feed for 2.2](https://dotnet.myget.org/gallery/dotnet-core).
Here is [the nightly feed for 3.0](https://dotnet.myget.org/gallery/aspnetcore-dev).

Previews of 2.2 will be released to NuGet.org monthly. The 2.2 Preview 2 release will be the first to include the Microsoft.EntityFrameworkCore.SqlServer.NetTopologySuite package.

[2018-09-10 17:10] chrispickford opened #13277 "Code-first TPH with multi-levelled inheritance throws exception"
I'm trying to configure TPH given the following structure (2 tiers of inheritance on my concrete classes):
[code]

My context OnModelCreating looks like this:
[code]

When trying to generate a migration the following exception is thrown:
[code]

### Steps to reproduce
VS2017 project here: https://github.com/chrispickford/EFCoreTphException

### Further technical details
EF Core version: 2.1.1
Data

[2018-09-10 17:32] Eilon commented on #13117
Closing this issue in favor of https://github.com/aspnet/Home/issues/3483, because this issue applies to almost every repo in the 'aspnet' org. (Yes, this issue is older, sorry!)

[2018-09-10 17:32] #13117 closed

[2018-09-10 17:50] mrcoymeeks commented on #5269
@ajcvickers Thanks for the link!

[2018-09-10 17:52] ajcvickers commented on #13195
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2018-09-10 17:55] ajcvickers commented on #13269
@xperiandri Can you please post a runnable project/solution or complete code listing showing the types and how they are configured and how the behavior is different from what you expect.

[2018-09-10 18:55] ajcvickers commented on #13275
@smitpatel to suggest a workaround, and find dupe.

[2018-09-10 18:56] ajcvickers commented on #13276
@AndriySvyryd to find dupe.

[2018-09-10 19:56] AndriySvyryd commented on #13276
This is related to https://github.com/aspnet/EntityFrameworkCore/issues/11969

[2018-09-10 20:29] bricelam commented on #13267
We should still look in to the exception, but does it work if you add a class like this to your project?
[code]

[2018-09-10 20:39] bricelam opened #13278 "Spatial: Translate aggregate functions"
There are a handful of aggregate functions for spatial data. (Collect, Extent, Union, etc.)

It would be nice if we had a way to represent them in LINQ.

.NET                            | SQL Server                          | SpatiaLite                             | PostGIS
------------------------------- | ----------------------------------- | -------------------------------------- | -------
~~En

[2018-09-10 20:50] bricelam opened #13280 "Sqlite Spatial: Translate GeometryType"
Unfortunately, the result of GeometryType is different between NTS and SpatiaLite:

Lib | Result
--- | ---
NTS | Point
SpatiaLite | POINT Z

We really need some way of determining an instance type to enable efficiently querying heterogeneous collections.

We could either:
* Return the value directly--require handling case and dimension in the application; values change between server and client ev

[2018-09-10 20:55] bricelam opened #13281 "Spatial: Translate sugar methods"
NTS has some sugar methods that could be rewritten using other available methods. For example, `.IsWithinDistance(other, distance)` could be written as `.Distance(other) <= distance`.

Should we provide translations for these or just encourage using the primitive operations instead?

[2018-09-10 20:59] ajcvickers commented on #13163
@djkiwe There's nothing obvious we can see wrong here. Can you post the full project so we can attempt to reproduce the behavior you are seeing?

[2018-09-10 21:00] bricelam opened #13282 "Spatial Query: Normalize method calls"
There are several ways to write the same thing using NTS. It would ease the burden on provider writers if we normalized these to a single member. For example, `ToString` and `ToText` would be rewritten as `AsText`.

[2018-09-10 21:01] ajcvickers commented on #13270
Triaging both this and #13256 to make sure when no parameters are passed to the method, then the curly braces are ignored and sent as-is to the database.

[2018-09-10 21:02] ajcvickers commented on #13256
Triaged with #13270, leaving that issue on the backlog.

[2018-09-10 21:02] smitpatel commented on #13275
It is a deadlock issue. Same as #12842

As a work-around,
1. Use ToList on inner collections like this
[code]

2. Disable MARS, which would make sure proper internal buffering happens.
3. Use Sync query.

[2018-09-10 21:04] smitpatel commented on #13282
If we do this then #13281 may automagically work.

[2018-09-10 21:04] smitpatel commented on #13260
Same would be true for relational when client eval kicks in.

[2018-09-10 21:05] bricelam opened #13283 "Provider-specific design-time services"
We should extend the `DesignTimeServicesReferenceAttribute` to enable adding provider-specific services. This would allow you to reverse engineer spatial columns into NTS properties simply by installing the package beforehand.

Related to #12083

[2018-09-10 21:10] bricelam commented on #13282
It's a little different. The sugar methods are usually there because they're more efficient in NTS. We wouldn't want to use the normalized version during client eval.

[2018-09-10 21:12] ajcvickers commented on #13264
Triage: we will consider for 3.0 that if a proxy is tracked, then calling the setter should cause all entities to be loaded and then marked as deleted before setting the new empty collection.  We can do something similar for references.

[2018-09-10 21:19] ajcvickers commented on #13265
Tracking this for 3.0 as part of the the larger query refactoring that is tracked by #12795

[2018-09-10 21:19] ajcvickers commented on #13266
Tracking this for 3.0 as part of the the larger query refactoring that is tracked by #12795

[2018-09-10 21:42] smitpatel commented on #3932
Fix for https://github.com/aspnet/EntityFrameworkCore/issues/11803 actually regressed this in 2.2. It was working correctly in 2.1 RTM

[2018-09-10 21:54] djkiwe commented on #13163
I'm not sure it's related to this project in particular as I have the same issue with other freshly created projects using the dotnet cli. When I use `dotnet ef` (the one loaded with this line` <DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.3" />` ), the program works perfectly.
I think it has something to do with running global dotnet cli tools.

[2018-09-10 22:01] obelixA commented on #13268
@ajcvickers First of all: thanks for your help!
My first try was to only convert the trouble making project. NOPE, does not work.
Than I converted all 84 projects in the solution. Clean, rebuild and... NOPE, doesn't work either.
So by now I have a top modern solution with some 100k lines of code that can compile perfectly (ok nearly perfectly, some warnings left) but cannot be executed..,
Do you h

[2018-09-10 22:19] ajcvickers commented on #13277
@chrispickford It wasn't 100% clear when reading this what "2 tiers of inheritance" means. Assuming that it just means a normal inheritance hierarchy with multiple derived types from a single base, then there are a few ways to configure it.

First, as the exception message indicates, the `HasDiscriminator` call can be made on the mapped type at the root of the hierarchy:
[code]
[code]
Second, if t

[2018-09-10 22:49] crhairr commented on #13266
Thanks for the timeline! This change will be a huge help for NoSQL providers.

[2018-09-11 06:55] corstian commented on #13267
Adding the design time services does not change the end result. I can verify that the service has been found in the log, but the same exception still occurs.

[code]

[2018-09-11 07:42] luigi68 commented on #11738
Hi, I have exactly the same issue posted by @sadjadbp when calling the DbContext.SaveChanges method.
I noted that doing something like
var listOfChangedEntities = DbContext.ChangeTracker.Entries().Where(x => x.State == EntityState,Modified || x => x.State == EntityState.Added) the SaveChanges call works fine.
Any suggestion?