[2017-11-15 16:25] bricelam commented on #9795
No, we let the provider re-calculate the column type using the same information it used for the model at the time the migration was generated

[2017-11-15 16:31] series0ne commented on #3797
@DemoBytom I thought I had seen somewhere that around the Core 2.0 release they had fixed that, though I may have been mistaken. Of course, there are other ways to test this as well. Much as it's a pain to seed a real database with test data and test against that, it's doable.

[2017-11-15 16:32] smitpatel commented on #10295
It is in a way by-design.
In QueryFilter `_tennantIds` is field on DbContext, which means its value can be changed based on the context running the query.
If we inline the values in the SQL, then when you change the value of `_tennantIds` in another context, we have to recompute the new SQL. Query compilation also has cost associated with it.
So instead we created parameter, so that we can use the

[2017-11-15 16:33] bricelam commented on #9795
(This is the same as it worked in all previous versions of EF Core. We inadvertantly regressed the behavior in 2.0.0.)

[2017-11-15 16:55] hidegh commented on #3797
@series0ne

Again, I don't need advices on "Required". **Required is what I want to omit**, cause it's can't be used as a general solution and **it's still just a bypass around the real issue and only applicable in certain cases.**

Let's now forget the details what a repository is, how it differs from query classes. Also you've referred to rich domain classes, but haven't expressed whether in you

[2017-11-15 16:57] bricelam commented on #2174
@pgrm I briefly mentioned a strategy in [the Migrations docs](https://github.com/bricelam/EntityFramework.Docs/blob/migrate/entity-framework/core/managing-schemas/migrations/projects.md) I'm adding...

[2017-11-15 17:01] fspataro commented on #9462
Hi,
I just ran into the same issue upgrading an asp.net project from 1.0 to 2.0 --- StackOverflowException with complete website shutdown as soon as a dbset is touched either via code or quick watch.

My db model is pretty complex so finding the specific entity was going to time consuming but @ErikEJ SQL found the bad table right away!!!!! Thanks that saved a whole bunch of headache.

[2017-11-15 17:14] zanate4019 commented on #3797
Look there are a number of times when you will not know the dependent objects needed ahead of time.  Take the following common layered approach to decoupling an application

- Service Layer - contains domain\business specific logic that calls a repository layer to interact with data in a decoupled fashion
- Repository Layer - acts a go-between for the service and data layers that allows them to re

[2017-11-15 17:27] mehmetsari commented on #10271
@smitpatel - I  shortened the content to show you actually, it was not a local variable. It was came from an identity service (constructor) injection to dbcontext and it was working yesterday like a charm.

        private readonly IIdentityService _identityService;

        public AppDBContext(DbContextOptions options, IIdentityService identityService) : base(options)
        {
            _ident

[2017-11-15 17:45] OphiCA commented on #10271
@smitpatel I tested moving the filter to OnModelCreating and it works, though I'm not happy about having to do it this way. It defeats the purpose of me having a base configuration class for commonly grouped entities. My app currently is a baby, and the amount of entities that depend on a tenant id, which I need to filter by, will double, triple, or increase even more than that.

While I can't sha

[2017-11-15 18:36] marcwmiller commented on #10298
I have same issue.

[2017-11-15 19:08] smitpatel opened #10301 "Query: QueryFilter with EntityTypeConfiguration are failing to inject current context values"
[code]
The generated SQL is same for all cases causing incorrect results in version: 2.0.0
& throws exception as in #10271

Work-around: Configure filter in `OnModelCreating` directly.

[2017-11-15 19:10] smitpatel commented on #10271
This is 2.0.0 behavior:

For the example of @mehmetsari
`OnModelCreating` is run only once when building model first time. It is cached for later use. Once you create a local variable `applicationUser`, its value won't change even if the value of `_identityService` changes. Its like taking a snapshot of value at the time code is run. The query filter will have that value of local variable which ha

[2017-11-15 19:10] johanskoldekrans commented on #9462
@fspataro We upgraded to the October-patch and haven’t had any problems since.

[2017-11-15 19:22] smitpatel commented on #10299
You would need to add constructor probably like this

https://github.com/aspnet/EntityFrameworkCore/blob/e4ab5ad430871e63083287cb8d00ffdd5c2109cf/src/EFCore.SqlServer/ValueGeneration/Internal/SqlServerValueGeneratorSelector.cs#L26-L37

Also the service registration is like this
https://github.com/aspnet/EntityFrameworkCore/blob/e4ab5ad430871e63083287cb8d00ffdd5c2109cf/src/EFCore.SqlServer/Extensio

[2017-11-15 19:40] fspataro commented on #9462
Hi @johanskoldekrans --- which patch are you referring to?  I just started this upgrade with a clean install of VS2017 and pulled all the updates and patches the VS showed me.  I did notice VS 15.4.4 today --- currently on 15.4.3.

[2017-11-15 19:54] johanskoldekrans commented on #9462
Try this https://github.com/dotnet/core/blob/master/release-notes/download-archive.md

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2017-11-15 19:56] fspataro commented on #9462
@johanskoldekrans thanks!

[2017-11-15 20:39] john-t-white opened #10303 "Add support for FindByAlternateKey."
Would it be possible to add FindByAlternateKey and FindByAlternateKeyAsync methods to DbSet<T>.  While the find by primary key is nice, it would be great to also be able to have the same functionality with alternate keys.  Here is some code that works for me, but it has the restriction on only one alternate key.

[code]

[2017-11-15 20:47] smitpatel commented on #10271
Reopening for triage.

[2017-11-15 21:06] lccarvalho commented on #10298
Scaffold-DbContext fails silently after that same upgrade to VS 15.4.4

[2017-11-15 21:08] smitpatel commented on #10273
work-around
[code]

[2017-11-15 21:13] OphiCA commented on #10271
I can confirm that it does work as I expect it to work in 2.0.0. To test, I have three "admin" users. One doesn't have a tenant id, which makes them a system user, the other two have different tenant ids which makes them users for two different tenants.

I logged in and out of each one in order, 10 times each, for a total of 30 sessions. When logging into the system user I was redirected to the sy

[2017-11-15 21:26] prochnowc commented on #10273
This was quick. Thanks. Keep up the good work.
Do you think the fix can be released with 2.0.x ? Or do have to wait for 2.1 ? How is the bug fixing policy?

For us the workaround is not feasible because we use projection via AutoMapper together with Odata.

[2017-11-15 21:31] smitpatel opened #10305 "RevEng: bool property with default is marked as nullable even if it is non-nullable in database"
Model
[code]
Generated this table
[code]
Which reverse engineered this model
[code]

We are incorrectly making the property nullable even though it is not.

[2017-11-15 22:03] firelizzard18 commented on #3797
@ajbeaven Can we get someone to lock this? I'd like updates on the issue itself, not arguments on the philosophy of development and design standards.

[2017-11-15 22:10] smitpatel commented on #10271
Yes that is correct.
The only difference in 2.0.0 was we just looked at top level member expression and somehow it matched up `Context.Member` in EntityTypeConfiguration. That's how it worked by co-incidence. If you use multi-level property access or method call it wouldn't work. We will discuss in team about how to deal with that regression in #10301

As for this issue,
if people are using someth

[2017-11-15 22:13] smitpatel commented on #10301
If we use single level property off context e.g. `Context.TenantId` rather than indirection, then this worked correctly in 2.0.0

[2017-11-15 22:44] ardalis opened #10307 "Owned Type should support immutable value object behavior"
I'm using owned types with a simple value object:

[code]

My primary concern is with this bit from the exception message:
**When replacing owned entities modify the properties without changing the instance or detach the previous owned entity entry first.**

The advice to modify the properties goes against having immutable value objects, which take in their state through their constructors and onl

[2017-11-15 22:45] dasMulli opened #10308 "Owned types and key default values unintuitive to configure"
When including owned types on an entity that used a default value sql, I expect that I can configure these based on the examples given for these features in an intuitive way.

However, it turns out that this causes an error message saying that the owned type and the entity contain a property mapped to the same column with different default values.

### Steps to reproduce

[code]

[code]

### Worka

[2017-11-15 22:45] #10144 closed

[2017-11-15 22:49] maxwang opened #10309 "Could not upgrade Microsoft.EntityFrameworkCore.Design to 1.1.4"
Dear Sir/Madam,

I tried to upgrade Microsoft.EntityFrameworkCore.Design from 1.1.3 to 1.1.4 from Visual Studio 2017.

But got the error as :
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1605	Detected package downgrade: Microsoft.EntityFrameworkCore.Design from 1.1.4 to 1.1.3. Reference the package directly from the project to select a different version.
 Website -> Micros

[2017-11-15 22:53] AndriySvyryd commented on #10307
This sounds similar to https://github.com/aspnet/EntityFrameworkCore/issues/7340 so it might already be fixed in 2.1.0

In general however we don't support read-only entity types yet, see https://github.com/aspnet/EntityFrameworkCore/issues/7586

[2017-11-15 22:53] ardalis commented on #10307
Also, any guidance on how to actually detach the owned type (as the exception instructs) would be helpful. Not finding anything in the docs that would cover this. Tried this (in my repository):

[code]

But got the same behavior/exception.

[2017-11-15 22:56] AndriySvyryd commented on #10307
@ardalis calling `.State = EntityState.Detached` should be enough. But you need to call it on the `PremiumRate.EffectiveDateRange` that you are replacing.

[2017-11-15 23:02] smitpatel commented on #10309
Can you share csproj file or packages.config for Website?

[2017-11-15 23:06] smitpatel commented on #10308
Similar to #9771
Setting a facet on parent PK which is sharing column with owned type throws exception unless property in owned type also configured with same facet.

[2017-11-15 23:07] smitpatel commented on #10273
@prochnowc - At present it is marked for 2.1 release. We will discuss in team if it meets bar for patch.

cc: @ajcvickers @divega

[2017-11-15 23:53] ardalis commented on #10307
@AndriySvyryd thanks! I tried this but get the same error:

[code]

My repository works with a Principal (aggregate), which has a list of Rates (of type PremiumRate). So, to detach the EffectiveDateRange value object/owned type I need to do it as shown above (I think). But, it still doesn't work. :(

[2017-11-15 23:55] ardalis commented on #10307
Do I need to detach it before I change it, or just before I tell the dbcontext to SaveChanges?

[2017-11-15 23:56] AndriySvyryd commented on #10307
It needs to be detached before it is changed.

[2017-11-15 23:59] smitpatel commented on #10294
Our FirstOrDefault does not take care of `default(T)`. So database will already return null. For reference types it works correctly. For ValueType it will throw exception.

[2017-11-16 00:08] smitpatel commented on #10293
This worked for me. Can you modify code below so that it demonstrate the exception you are seeing?
Tested using version 2.0.0 & 2.0.1
[code]

[2017-11-16 00:10] smitpatel commented on #10292
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-11-16 00:14] #10112 closed

[2017-11-16 00:37] ardalis commented on #10307
Ok, thanks. That got me a new error, that hopefully I can track down:

[code]

[2017-11-16 00:39] AndriySvyryd commented on #10307
@ardalis You probably need to set the `PremiumRate.EffectiveDateRange` state to `Modified` after replacing it.

[2017-11-16 00:44] ardalis commented on #10307
Ok, thanks. Doing that in my Repository Update method fixes the issues for actual updates, but fails on inserts with

`Microsoft.EntityFrameworkCore.DbUpdateConcurrencyException : Attempted to update or delete an entity that does not exist in the store.`

That's fine, so I just need a way to determine whether my PremiumRate is new or pre-existing. Normally I would check its ID to see if it is defa

[2017-11-16 00:50] AndriySvyryd commented on #10307
You can check the `.State` of the `PremiumRate` entry. It could be `Added` or `Detached` for a new entity and `Unchanged` or `Modified` otherwise.

[2017-11-16 01:18] maxwang commented on #10309
Thank you.
My project does not have packages.config.
Please check my project csproj:
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>

  <PropertyGroup>
    <PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;</PackageTargetFallback>
  </PropertyGroup>

  <PropertyGroup>
    <UserSecretsId>asp

[2017-11-16 01:27] smitpatel commented on #10309
I took above file and ran dotnet restore on it, it did not give me any package downgrade warnings. I also updated EFCore.Design package to 1.1.4 and it also worked without warning.

[2017-11-16 01:59] Wind010 commented on #10298
I have the same predicament.

[2017-11-16 02:05] alexzaytsev-newsroomly commented on #10298
Can confirm that 2.0.2 workaround works. Not really clear why.

[2017-11-16 02:45] maxwang commented on #10309
Hi Smit,

Thank you. It works when I manually update the csproj file. Do not know why this does not work when I tried to use NuGet package manager.

[2017-11-16 02:59] smitpatel commented on #10309
I cannot say on top of my head why it doesn't work. I will try running it on my end tomorrow. But most likely this is something out of control of EF. Best thing to do would be to submit issue to VS using VS feedback system.

[2017-11-16 03:03] DoubleCouponDay opened #10311 "DatabaseFacade.ExecuteSqlCommand() does not return the rows affected"
DatabaseFacade.ExecuteSqlCommand() returns -1 when a 1 Return value was expected. Whatever this return integer is, its not the amount of rows affected in this stored procedure, [which the source code summary alludes to.](https://github.com/aspnet/EntityFrameworkCore/blob/09c9b263d648dac4432b9dfb280f84f651c33949/src/EFCore.Relational/RelationalDatabaseFacadeExtensions.cs#L127).

There is a stack ov

[2017-11-16 04:00] kuncevic commented on #9880
@ericstj are you talking about that https://github.com/crhairr/EntityFrameworkCore.MongoDb ?

[2017-11-16 04:50] maxwang commented on #10309
Hi Smit,

It is possible it is a bug of VS. I check out the project and create a new branch for this project with Git and tried to upgrade to 1.1.4 to have a look it works or not.
Maybe it is a package cache issue. Thanks anyway.

[2017-11-16 05:01] divega commented on #9880
@kuncevic I think you mentioned the wrong Eric :smile:, but yes, that is the MongoDB provider we know about.

[2017-11-16 05:08] clement911 commented on #9795
I couldn't get it working. How would it know the model used at the time the migration was generated?

[2017-11-16 05:15] kuncevic commented on #9880
@divega ahh i c, thanks for following up.

[2017-11-16 05:56] Dev0033 opened #10312 "ToDictionary won't work, if using with navigation property"
model from [https://docs.microsoft.com/en-us/ef/core/get-started/full-dotnet/new-db](https://docs.microsoft.com/en-us/ef/core/get-started/full-dotnet/new-db)

If I try to get #Dictionary and navigation property from query, I'll get an exception.

# **Exception message:**
No coercion operator is defined between types 'Intro.Blog' and 'System.String'.

# **Stack trace:**
[code]
# Steps to reproduce

[2017-11-16 07:48] subprime commented on #3910
For the meanwhile is there any solution for an workaround? I'm also have this problem for an REST API Endpoint.

I have currently the problem that in definiton of an ressouce only one API Endpoint shall be created, called URL:PORT/api/testmeans with optional type as query string

[code]

But how i can return a whole list of testmeans with specific characteristics?

[2017-11-16 08:12] MaklaCof commented on #4007
Does anyone can provide any information, when N+1 will be fixed? I really hope that after 2 years, this problem will get attention it deserves.
I gladly volunteer for any pre-release.

[2017-11-16 08:40] xumix commented on #3797
@firelizzard18 Can we get someone to fix this actually?

[2017-11-16 08:46] lillo42 commented on #10311
I already had problems with  `SET NOCOUNT ON;` , try remove `SET NOCOUNT ON;` and see if error continuous.

[2017-11-16 08:59] JesperTreetop commented on #3797
I would like to know which of the following the feature falls under:

A: We intend to do it and we're getting to it as soon as we can.

B: We don't intend on doing it unless there is significant pressure, and we prioritize other work ahead of it. We would accept an open source pull request.

C: We don't intend on doing it unless there is significant pressure, and we prioritize other work ahead of

[2017-11-16 09:08] razzemans commented on #3797
It's already been said that they are aiming for a 2.1 release, hence the milestone 2.1 label. Can we please stop guessing and discussing why or how the team is prioritizing this feature, whether this feature is good design or not, and keep this thread for actual updates, like @firelizzard18 already stated. Thanks!

[2017-11-16 09:13] tidusjar commented on #9994
I am also seeing this issue when attempting to run some sort of scheduler e.g. Hangfire, Quartz.net

Did using the nightly builds help anyone?

[2017-11-16 10:10] shaulbehr commented on #10299
Thanks @smitpatel, I changed my code from:
[code]
to
[code]
and now it works!
Thank you for your help!

[2017-11-16 10:27] shaulbehr commented on #10293
@smitpatel Define `MyEnum` as a `byte`.
[code]

[2017-11-16 10:46] cdie opened #10313 "ForeignKey constraint not created"
Tried to create a relationship between two tables, with one that have composed primary key, and the foreign key constraint is not created in one table (no exception thrown).

### Steps to reproduce
Here a demonstration code. Tested with EF Core 2.0, 2.0.1 and 2.1 preview last build, same result

[code]
Here's result

![SSMS](http://imageshack.com/a/img922/3324/FSMVwO.png)

As you can see, TabId is

[2017-11-16 11:35] jorgeyanesdiez commented on #10298
I get exactly the same problem with `dotnet xunit`, and probably all other dotnet commands are affected.
Lets hope this gets fixed soon.

[2017-11-16 11:39] IsaaasI commented on #10287
Many Thanks bricelam for your fast replay.
I updeted the package to v2.0.1 and I face the below issue.
Actually, If possible to contact with you on Skype and I will share my screen with you to solve the problem faster .
![image](https://user-images.githubusercontent.com/17950923/32889264-44662686-cadb-11e7-8427-4dbff595ac12.png)

Installed Packages & SDK
![image](https://user-images.githubusercont

[2017-11-16 11:53] jorgeyanesdiez commented on #10298
This is probably a dupe of https://github.com/dotnet/cli/issues/7901

[2017-11-16 11:57] ralmsdeveloper commented on #10287
@IsaaasI
Remove the _**Microsoft.EntityFrameworkCore.SqlServer.Design**_ dependency, it is not used in version 2.0.

[2017-11-16 12:26] mneundorfer opened #10314 "HasColumnType with not null statement"
With EF Core 1.x, we used a statement like this to constraint a specific DB column on the ModelBuilder:

`HasColumnType("nvarchar(32) collate SQL_Latin1_General_CP1_CS_AS not null")`

After upgrading to EF Core 2, this statement seems to create issues on applying the generated migrations:

[code]

The issue goes away when removing the `not null` statement from `HasColumnType()` call and adding it

[2017-11-16 13:16] xumix opened #10315 "ToArrayAsync / CountAsync Blocking forever if using inline vars in LINQ code"
This query never gets executed:
[code]
Entities - just a normal entity, Ones &Other - some collections declared as virtual
Count never gets executed

If I change to
[code]
then the query works OK. If I remove inline b and u declaration, it also works with async

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: windows

[2017-11-16 13:22] asadmalik3 commented on #4021
@divega What is the status of this request? Are you guys going to work on it?

[2017-11-16 13:28] vladislav-karamfilov commented on #10315
This is fixed in 2.0.1.

[2017-11-16 13:35] zoinkydoink opened #10316 "What is correct way to add decimal precision"
I have a model that I would like to create a decimal precision of `decimal(38,20)` but cant seen to find the correct answer online. below is my entity and the decimal precision i want is on the `LastPriceBtc`

after i add a migration, i tried changing the field  in the modelsnapshot to ` b.Property<decimal?>("LastPriceBtc").HasColumnType("decimal(38,20)");` but that didnt work.

I would just like

[2017-11-16 13:36] xumix commented on #10315
@vladislav-karamfilov THX

[2017-11-16 14:11] ADringer opened #10317 "Setting IsModified value of an 'owned' entity"
I have a model defined as:
[code]

And this is configured as:

[code]

When I'm updating the `Run` entity, I want to exclude some of the properties of the `Audit` entity. I tried:

`context.Entry(run).Property(x => x.Audit.ApprovedBy).IsModified = false`

But this results in the error:

Parameter name: propertyAccessExpression

How can I manage properties of an owned class?

Thanks

### Further te

[2017-11-16 14:39] nphmuller opened #10318 "InMemory database data not shared between different DbContext types."
According to the xml docs the `name` parameter in `UseInMemoryDatabase()` should enable us to share the in-memory db anywhere the same name is used. Does this include different type of DbContext classes? Because in version 2.0.1 I can't get this to work.

See the following test:
[code]

[2017-11-16 15:43] smitpatel commented on #10313
Your `OnModelCreating` is incorrect. You have one set of navigation - `Tab` & `Tab2`. First you configure relationship using those navigations with FK `Tab2.TabId` then later you reconfigure relationship represented by both navigations with a composite FK `Tab.Value1,Value2` Both of them are conflicting. They uses different side as principal and different properties as FK. So when you reconfigure

[2017-11-16 15:45] smitpatel commented on #10314
Side-effect of https://github.com/aspnet/EntityFrameworkCore/issues/8146
Required behavior must be configured using `IsRequired` API otherwise EF Core will generate `NULL` after column name conflicting with column type specified

[2017-11-16 15:48] smitpatel commented on #10316
Use this code
[code]
Or what you put in modelsnapshot, you can put the same fluent API in DbContext.OnModelCreating method.

ModelSnapshot is snapshot of your model when last migration created. It is only used to compute changes between last scaffolded migration and current model to generate next migration. ModelSnapshot is not supposed to be edited by user. And editing it will not change your mod

[2017-11-16 15:51] KieranDevlinSycous commented on #9367
@smitpatel Do you need any more information on this?

[2017-11-16 15:52] smitpatel commented on #9367
@KieranDevlinSycous - We have sufficient information to reproduce the issue. We just haven't got around to find exact root cause which is causing this.

[2017-11-16 16:31] joshmouch opened #10319 "Possible to get statistics back for DbContext.SaveChanges?"
I'd like to write some automated tests to measure how much database IO is occurring during particular processes in our application and ensure they never go above a certain threshold.

Outside of EF, you would:
1. Open SQL Server Management Studio
2. set io statistics on
3. ...run your queries
4. ... look at the response returned in the Messages window see the statistics.

So I'm wondering if there

[2017-11-16 16:34] smitpatel commented on #10287
Also upgrade `Microsoft.AspNetCore.All` to 2.0.3 version.

[2017-11-16 16:54] ajcvickers commented on #10271
@smitpatel One thing that might make things "work" in 2.0.0 is if the app is causing a new internal service provider to be built each time--for example, if it is doing anything like `.UseLoggerFactory(new LoggerFactory)`.

@OphiCA Do you use OnConfiguring at all? Is your AddDbContext exactly as posted above?

[2017-11-16 16:59] OphiCA commented on #10271
@ajcvickers I do not use OnConfiguring at all, and AddDbContext is exactly as posted.

[2017-11-16 17:40] seb999 opened #10320 "Saving / deleting / modifing data using EF Core 2.0 give random results"
Dear All,

We are experiencing very unstable behaviour of our application since we migrated to EF Core 2.0. For example our users has to press 2 to 3 times a save button in the UI to get data saved in the database. After investigation we end up using the following command to tell the EF that we want to save, delete or update. Without those command it is working randomly. With EF core 1.0 those com

[2017-11-16 18:10] ajcvickers commented on #10298
@Eilon @natemcmaster @livarcocc Any ideas on this?

[2017-11-16 18:14] livarcocc commented on #10298
I have been trying to repro this for a while now without much success, but this does seem like a CLI problem.

[2017-11-16 18:19] smitpatel commented on #10293
[code]

[2017-11-16 18:21] ajcvickers commented on #10291
@EvilAvenger Yes, if you're going to run migrations as part of application startup, then you will need to make sure protection is in place such that it happens once and only once.

[2017-11-16 18:28] smitpatel commented on #10312
Correct QM
[code]

Faulty QM
[code]

Seems like error in _Include optimization or `TrackEntitiesInResults`

[2017-11-16 18:28] bricelam commented on #9795
It's in the __*.Designer.cs__ file.

[2017-11-16 18:44] dazinator opened #10322 "[Question] - OnModelCreating and Global Query Filters"
I am using `EF Core 20` in an Xamarin app (monodroid80) targeting `netstandard20`.

Multiple users can use the app, as they may share the same device between them. Imagine a team, where one user has the device one day, then another user the next day etc.

However I need to keep each user's data completely seperate.

My current approach is to have a single database, but treat each user as a tenant,

[2017-11-16 18:54] livarcocc commented on #10298
This is a CLI/SDK bug that we now understand. I am duping this one to the one in the CLI: https://github.com/dotnet/cli/issues/7901

We will explain it there why this happens and a workaround and we are figuring out the vehicle to carry a fix for this.

@ajcvickers can you close this bug?

[2017-11-16 18:54] ajcvickers commented on #10298
Thanks @livarcocc. Closing.

[2017-11-16 19:04] eusebiu commented on #10207
After updating to 2.0.1 and call .Any(), I get: The type initializer for 'Microsoft.EntityFrameworkCore.EntityFrameworkQueryableExtensions' threw an exception
Inner exception: Sequence contains no matching element
  at System.Linq.Enumerable.Single[TSource] (System.Collections.Generic.IEnumerable`1[T] source, System.Func`2[T,TResult] predicate) [0x0006b] in /Library/Frameworks/Xamarin.iOS.framewor

[2017-11-16 19:43] ajcvickers commented on #3797
Just to clarify the status on this:
* We do intend to implement lazy loading in EF Core.
* There are issues with dynamic proxies and things have moved on considerably since EF4. We ultimately want to instead use Roslyn to re-write assemblies to add appropriate hooks as part of build. This is quite a lot of work, but we feel it will deliver the best experience in the long term.
* In the short term

[2017-11-16 20:11] JesperTreetop commented on #3797
This is great - thanks for the update! I will personally sit down quietly and wait now that I know about the plan. I didn't expect for it to include the bit about Roslyn-powered weaving - I agree that it will be a better experience than dynamically generates proxies when it arrives. I am fine with making changes to the model objects to enable lazy loading.

[2017-11-16 20:28] ajcvickers commented on #3910
@subprime One workaround is to use multiple tracking queries with the same context instance and let the context fixup all the nav properties.

[2017-11-16 20:38] ajcvickers commented on #10315
@xumix Have you tried with 2.0.1 and confirmed that it is not fixed? If so, can you post a complete project or code listing that reproduces what you are seeing?

[2017-11-16 20:59] ajcvickers commented on #4021
@asadmalik3 This issue is in the Backlog milestone. This means that it is not going to happen for the 2.1 release. We will re-assess the backlog following the 2.1 release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2017-11-16 21:07] ajcvickers commented on #10318
@nphmuller This will not work in 2.0.0/2.0.1. It should work in 2.1 with the fix for #9613. However, this might be fragile if the entity type configuration diverges between the two models. Can you give some more details on why you want to do this so we can understand the scenario better?

[2017-11-16 21:13] ajcvickers commented on #10320
@seb999 What is the lifetime of misContext?

[2017-11-16 21:50] ajcvickers opened #10325 "Can't use Microsoft.EntityFrameworkCore.Sqlite"
VS Feedback:

In VS15.5 Preview, I created a Xamarin.Forms projects with .NET Standard code sharing strategy.
Add Microsoft.EntityFrameworkCore.Sqlite, Android Project can't run, if I run the android project, program will crash and vs will stop.

[2017-11-16 21:50] #10222 closed

[2017-11-16 21:59] smitpatel commented on #10322
[code]
By using local variable in filter you effectively broke the linkage with context. So we no longer know which part comes from DbContext.

If you configure your filter like this
`builder.Entity<T>().HasQueryFilter(e => e.TenantId == _currentTenant.Id && !e.IsDeleted);`
then it will inject value of _currentTenant at runtime from db context instance. Assuming _currentTenant is field/property on

[2017-11-16 22:11] clement911 commented on #9795
Oh, I see it. However, the sql script generated is still using nvarchar(max) for the string primary key in my case, which is causing failure...

I managed to regenerate a new initial migration file with ef 2.0) to replace all the existing ones, by following this post https://weblog.west-wind.com/posts/2016/Jan/13/Resetting-Entity-Framework-Migrations-to-a-clean-Slate
Luckily I was careful enough t

[2017-11-16 23:45] dazinator commented on #10322
@smitpatel - thanks for responding. This linkage to `DbContext` instance members seems a bit magical if its what I am imagining it to be. There is no mention of this in the docs: https://docs.microsoft.com/en-us/ef/core/querying/filters is it worth adding something - unless I am misunderstanding something which is always possible.

I was suspecting to see an API similar in nature to the following

[2017-11-16 23:50] ajcvickers opened #10327 "EntityFramework Core Scaffolding error - Cannot find path '[path]' because it does not exist."
From VS issues:

Customer created an ASP.NET Core project in Visual Studio and wanted to reverse engineer his database into an EF model using the Scaffold-DbContext from EF Core.  However when he ran this command from the Package Manager Console:

Scaffold-DbContext 'Server=###########.database.windows.net;Database=###########;user id=#########;password=#######;' Microsoft.EntityFrameworkCore.SqlS

[2017-11-16 23:55] bricelam commented on #10298
Re-opening since it looks like there's work to do on our side too.

[2017-11-17 01:52] AndriySvyryd opened #10329 "Uniquify identifiers generated by conventions"
Currently key, index and fk names are only uniquified if they collide with an explicitly-configured name.

Also start all uniquification suffixes with 1

[2017-11-17 05:01] DoubleCouponDay commented on #10311
@lillo42 that fixed the issue. This is not a bug    :)

[2017-11-17 07:00] TsengSR commented on #3910
@subprime : Dunno how your DbContext is set up, but when you add a property which only defines the base class, i.e.

[code]

If it's part of a other model, it works same. But if you only want a subset of it, you can only load the subset data first and then query your parent model. EF Core will connect them when loading

[code]

It's well covered by the [Loading Related Data](https://docs.microsoft

[2017-11-17 07:42] IsaaasI commented on #10287
@bricelam Still same issue. required your help.
@ralmsdeveloper I deleted both Microsoft.EntityFrameworkCore.SqlServer.Design & Entity Framework 6.2 and still I have below issue.
![image](https://user-images.githubusercontent.com/17950923/32936079-d56852a0-cb83-11e7-9fb7-4bc1746a9f5a.png)

@smitpatel  I tried many times to update to 2.0.3 but no luck . below the issue.
I already cleared the cache

[2017-11-17 08:05] alexdrl commented on #8922
We're having the same issue using EF Core 2.0.1 in VS 15.4.3 and VS 15.5 Preview 3 with no luck.

This is annoying because the Xamarin application is now blocked because of this.

[2017-11-17 09:43] JonPSmith opened #10330 "Question: why does a many-to-many linking table only have one foreign key index?"
I have a many-to-many linking table, called `BookAuthor` between a `Book` and an `Author` entity. I noticed that the  `BookAuthor` table only has a index on the `Author` foreign key - I expected another index on the `Book` foireign key too. Is this because the primary key index, which contains both the `BookId` and the `AuthorId` helps with the `Book` foreign key?

I'm asking so that I understand

[2017-11-17 09:52] seb999 commented on #10320
Hello Arthur,

I'm loading the context in the startup page :

`public void ConfigureServices(IServiceCollection services)
        {
            services.AddDbContextPool<MISContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));`

Then in my class constructor, passing it with Dependency Injection:

`private readonly MISContext misContext;

[2017-11-17 10:30] Lily721 opened #10331 "Assets file 'E:\****\obj\project.assets.json' doesn't have a target for '.NETPortable,Version=v4.0,Profile=Profile111'. Ensure that restore has run and that you have included 'portable40-net45+win8+wpa81' in the TargetFrameworks for your project."
Hi guys,

When I use multi target framework in my project like following:

`<TargetFrameworks>netstandard1.1;net45</TargetFrameworks>
<TargetFrameworkProfile>Profile111</TargetFrameworkProfile>`

And following is why I need TargetFrameworkProfile in my .csproj:

`<Import Project="$(MSBuildExtensionsPath)\Microsoft\Portable\v4.5\Microsoft.Portable.CSharp.targets" />`

I faced upper problem, I thoug

[2017-11-17 11:47] heku commented on #10298
The suggestion in comments don't work for `netstandard2.0` project like below.

Windows 10 + VS 2017 15.4.4 + NetCore 2.0.3 SDK

[code]

[2017-11-17 11:50] lccarvalho commented on #10298
Neither for the 'Scaffold-DbContext' problem in a netcoreapp2.0 project

[2017-11-17 12:33] ralmsdeveloper commented on #10287
@IsaaasI,
Do this manually, edit your * .csproj file.

Search for:
<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0-preview1-final" />

and replaced by:
<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.3" />

Also do this for System.Text.Encoding, the stable version is 4.3.0.

[2017-11-17 12:56] p- opened #10333 "Create same migrations for different database systems"
Hello!

I did look around, but did not find yet a recommended way to create the same migrations for different database systems.

The use case is the following: a project that is developed on Windows with SQL Server, but also needs to be tested on Linux with a different database system like SQLite, PostgreSQL, ...
So the same migrations should be applied to databases on different db systems.

Now i

[2017-11-17 14:48] marcwmiller commented on #10298
I used the project config below, and it resolved the issue in my environment (Windows 10 + VS 2017 15.4.4 NetCore 2.0.3 SDK) for 'Scaffold-DbContext'

[code]

[2017-11-17 15:08] glatzert opened #10334 "add Migration creates silly migrations"
dotnet ef migrations add "NewMigration" created very silly migrations:

Assume the following class being changed as follows:

[code]

This Change to the Entity class resultet in a Migration, that
 1. Renamed SomeId to SomeOtherId (the original Name was "DisplayNameId" and "DisplayNameIdPlural")
 2. Created a new Column SomeId.

That's odd, but we ignored it, since it was easy enough to repair by H

[2017-11-17 15:13] glatzert opened #10335 "Can't remove migration after adding"
`dotnet ef migrations remove`
after
`dotnet ef migrations add`

throws the following exception.

[code]

Since I was able to _create_ the Migration, I'd assume to be able to remove it again as well.

### Steps to reproduce
 - Add Migration for database, where you have no Access rights.
 - Remove Migration again

### Further technical details
EF Core version: 2.0.1
Database Provider: Microsoft.Enti

[2017-11-17 16:00] IsaaasI commented on #10287
@ralmsdeveloper
I am not able to find the .csproj from the Solution Explorer. I think the structure for VS 2017 and .NET core 2.0 application is different than previous version.
![image](https://user-images.githubusercontent.com/17950923/32955987-9ce4cdc4-cbc8-11e7-88f7-e61961843013.png)

I open it from Window explorer by notepad
![image](https://user-images.githubusercontent.com/17950923/32956041

[2017-11-17 16:49] TecnoliqDev commented on #9666
Apparently aspnetcore 2.0.1 official release is out and I'm still having the "Could not load type 'System.Globalization.CultureInfo'" issue. Did this get fixed for anyone without the dev feed?

[2017-11-17 17:12] smitpatel commented on #10335
Add migration does not need connection to database since it is only computing difference between current model & model from last migration (stored in modelsnapshot).
Whereas remove migration needs connection to database because it needs to verify that you are not reverting a migration which is already been applied to database. If the migration is already being applied to database then you first ne

[2017-11-17 17:16] ralmsdeveloper commented on #10287
Check this file.

![32956041-bf7a5548-cbc8-11e7-950b-9f11b12bb0cf](https://user-images.githubusercontent.com/16335882/32959905-3a4403ba-cbaa-11e7-8b58-9f249b671cec.png)

[2017-11-17 17:18] ajcvickers commented on #10320
@seb999 We're probably going to need a full project or complete code listing that reproduces the issue before we can fully investigate. Is the behavior the same if you use AddDbContext instead of AddDbContextPool?

[2017-11-17 17:24] ajcvickers commented on #10298
@lccarvalho This sounds like it could be a different issue. Can you please file a new issue including a sample project that reproduces what you are seeing?

@heku .NET Standard class libraries are not supported directly by the EF tooling. You will need to target an actual framework (e.g. netcoreapp2.0) or specify a startup project that targets a framework. This issue is not about that, but about u

[2017-11-17 17:27] ajcvickers commented on #10333
@p- See this section in the docs: https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers

[2017-11-17 17:42] IsaaasI commented on #10287
Yes , True

I fix it but still the migration not work :)

Can I chat with you on any chatting application to solve migration issue? I want only connect .NET Core2.0 app with MYSQL Database by entity framework .

@ralmsdeveloper @bricelam

[2017-11-17 17:50] ralmsdeveloper commented on #10287
Are you installing the **Microsoft.EntityFramework.SqlServer** package and want to try connecting to **MySQL**?

You will not, wrong package!

Try using **MySql.Data.EntityFrameworkCore.**

[2017-11-17 17:56] bricelam commented on #10287
You may need to [update Program.cs](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/#update-main-method-in-programcs) too.

[2017-11-17 17:58] IsaaasI commented on #10287
It is already installed , are you sure the  Entity Framework 6.2 not required ? Brcasue the below error is I think required Entity framwork.
No DbContext was found in assembly '***'. Ensure that you're using the correct assembly and that the type is neither abstract nor generic.

I delete SqlServer
@ralmsdeveloper

I will try update Program.cs now
@bricelam

[2017-11-17 17:59] electricessence opened #10336 "Many-to-many implementation: will linking tables happen automatically or will we still need to map?"
As described here (for many-to-many), is this set in stone, or will it evolve to automatically map using attributes?

Also, is there any potential helper methods for adding (or removing) an entity to this linking without having to return an identity before continuing to add to the linking table?

https://docs.microsoft.com/en-us/ef/core/modeling/relationships
[code]

[2017-11-17 18:00] IsaaasI commented on #10287
The program.cs is already updated.
![image](https://user-images.githubusercontent.com/17950923/32961644-67498490-cbda-11e7-8981-d22c246cd692.png)

[2017-11-17 18:07] ajcvickers commented on #10336
@electricessence Not 100% sure what you are asking, but many-to-many without join tables is tracked by #1368. It should be possible to do this with just attributes/conventions once implemented.

Not sure what you mean on your second question. Can you be more specific and include some code showing what you mean?

[2017-11-17 18:13] p- commented on #10333
@ajcvickers Great! That's exactly what I was looking for, but unfortunately didn't find it. Thanks!

[2017-11-17 18:30] ralmsdeveloper commented on #10287
Post your DbContext here.

[2017-11-17 18:46] anpete commented on #10322
@dazinator It is called out in the tip that starts with "Note the use of a DbContext instance level field..."

This is the first version of these docs, though, and so surely there are lots of improvements that could be made. Did I mention we love getting PRs on the docs? 😀

[2017-11-17 18:49] BennyM commented on #2467
Awesome, I was just about to clone the repo and fix this :)

[2017-11-17 19:09] electricessence commented on #10336
@ajcvickers ...
1) "once implemented" is the question... I have the cross definitions in place...  (HasOne/WithMany etc.)  The question is, do I need them anymore?  Will keeping them be problematic?  When can I remove them?

2) Right now, if you want to create a link, you simply add an entry to the linking table no?  Before, you could add an entry to the 'linkage'...

[code]

[code]

I can imagine

[2017-11-17 19:11] #10208 closed

[2017-11-17 19:12] ajcvickers commented on #10224
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-17 19:13] ajcvickers commented on #10245
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-17 19:29] #10271 closed

[2017-11-17 19:32] #10274 closed

[2017-11-17 19:53] IsaaasI commented on #10287
![image](https://user-images.githubusercontent.com/17950923/32966150-e9fe3ba6-cbe9-11e7-94fe-27783d0ee3b1.png)

![image](https://user-images.githubusercontent.com/17950923/32966185-ff5d7df4-cbe9-11e7-8061-492875bf80d7.png)

This is my error now.
![image](https://user-images.githubusercontent.com/17950923/32966200-0f81e5f8-cbea-11e7-860f-2471b8a69139.png)

[2017-11-17 20:07] ralmsdeveloper commented on #10287
I think it would be ideal, you see some articles before, to help you
better understand, how to use EF Core:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/

https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/crud

[2017-11-17 20:12] ajcvickers commented on #10327
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-11-17 20:43] ajcvickers commented on #10336
@electricessence Sorry, but I'm really struggling to understand what you are referring to. Can you explain what you mean by "old way" and "new way"? Old and new with respect to what? Are you referring to many-to-many relationships in EF6 verses how they are in EF Core 2.0 or are you asking about how they are going to be once #1368 is implemented?

[2017-11-17 20:47] ajcvickers commented on #10200
@SharpSeeEr To be honest, we didn't consider the case of having a base type which is an owned entity and then another mapping for the derived type that is not an owned entity. Right now this should be considered not supported--we will use this bug to track adding better validation for this when building a model. Beyond this, issue #9630 is tracking support for inheritance in owned type, which will

[2017-11-17 20:50] AndriySvyryd opened #10337 "Uniquify relational names on demand"
Currently the relational identifiers are uniquified after the model is built, so querying one during the configuration could potentially return a different string.

[2017-11-17 20:51] ajcvickers commented on #10282
@supernarwen It's certainly the case that you need to dispose the DbContext properly. Beyond that, the context is not thread safe, nor are the underlying ADO.NET objects like DbConnection. Can you check that you don't have multiple threads accessing these thing concurrently? If after that you're still seeing an issue, then please post a complete code listing or project that reproduces that issue.

[2017-11-17 20:52] ajcvickers commented on #10288
Setting this for @divega to investigate, since it looks like the same issue that is already being investigated for EF6.

[2017-11-17 20:54] ajcvickers commented on #10295
Moving this to the backlog since the filter is functional by client evaluation and there may be some complexity in handling the expansion of the list in the filter case.

[2017-11-17 20:56] ajcvickers commented on #10303
@john-t-white Can you explain a bit more about how this would be used? Also, when there are multiple alternate keys, how is one chosen over the others?

(Our inclination here is to close this because it doesn't add much value over just creating a normal LINQ query, but we would like to understand if we're missing some scenario.)

[2017-11-17 20:58] electricessence commented on #10336
I apologize if I'm not making sense.  I'm migrating an older EF to new EF Core.

1) "once implemented" meaning, it is not yet. Correct?
2) What is the right way _right now_, and is there a difference _once implemented_?  ==> The link and sample I provided is directly from Microsoft docs and it includes _in addition to_ the key mappings, the dual unidirectional relationship maps for respective tabl

[2017-11-17 20:58] ajcvickers commented on #10307
We discussed in triage and we think this issue is already covered by #7340 (allow replace of owned entity) and #7586 (read-only entity types.)

[2017-11-17 20:59] ajcvickers commented on #9771
Note, see #10308 and consider all facets when fixing this.

[2017-11-17 21:00] ajcvickers commented on #10308
Closing as a duplicate of #9771 with a note added to consider all facets.

[2017-11-17 21:01] electricessence commented on #10336
I'm simply a little foggy on the optimal way to add a many-to-many link/reference when updating a table.  I'm concerned about how the identity of a new item is properly passed to the link-entity.

[2017-11-17 21:01] ajcvickers commented on #10314
@mneund The column type is intended to be _only_ the column type.  It should not also include constraints, such as "not null". Instead these should be configured using the `[Required]` attribute or by the `.IsRequired()` fluent API.

[2017-11-17 21:03] ajcvickers commented on #10317
@ADringer The owned entity must be addressed directly. For example,
[code]

[2017-11-17 21:05] ajcvickers commented on #10325
Assigning to @divega along with other Android investigations. Feel free to de-dupe as needed.

[2017-11-17 21:06] ajcvickers commented on #10277
Assigning to @divega along with other Android investigations. Feel free to de-dupe as needed.

[2017-11-17 21:50] erikpowa commented on #8922
@alexdrl
1. use _package.config_ and do a Clean Build
or
2. if you're using _PackageReference_, make sure you've manually added System.Runtime.CompilerServices.Unsafe **4.3.0** nuget package and do a Clean Build (delete obj/bin folders, restore nuget packages etc)

[2017-11-17 21:52] ajcvickers commented on #10330
@JonPSmith Yes, my understanding is that we don't generate an index in cases where it is covered by another index. So, in this case the index on the PK is for BookId, AuthorId, which means the index for just BookId is not created, but the index for AuthorId is.

However, leaving this open to discuss with @divega since @bricelam indicated that this may not be the correct thing to do for SQLite, and

[2017-11-17 21:57] ajcvickers commented on #10331
@Lily721 Looks like you are using the new project system in for portable targets, which I don't think it supported. Regardless, this does not seem to be related to EF Core, so if you feel this is a bug, then please file a new issue at https://github.com/dotnet/sdk/issues

[2017-11-17 21:59] ajcvickers commented on #10334
@glatzert We are not able to repro this with just the info posted. Can you please post a full code listing or project that reproduces the issue you are seeing?

[2017-11-17 22:10] glatzert commented on #10334
I can share the project with you on Monday, so you can just add the migration and probably see the problem.

I will also provide the DbContext, ModelSnapshots and resulting Migration.

Am 17.11.2017 10:59 nachm. schrieb Arthur Vickers <notifications@github.com>:

@glatzert<https://github.com/glatzert> We are not able to repro this with just the info posted. Can you please post a full code listing

[2017-11-17 22:40] #10273 closed

[2017-11-17 22:41] ajcvickers commented on #10335
To add to what @smitpatel said above, there is also a "force" command line option that can be used to force the remove even if the database cannot be reached.

[2017-11-17 22:51] bricelam opened #10338 "PMC Tools: Redirect standard error"
Currently, when `dotnet` fails in PMC, it just terminates without displaying an error. This is because `dotnet` prints errors to standard error which gets swallowed.

We should, at least, show the standard error output when `dotnet` exits with an error code.

[2017-11-17 22:55] bricelam commented on #10298
I've filed #10338 to improve the silently failing PMC commands.

[2017-11-17 23:00] ajcvickers commented on #10336
@electricessence Still finding it a little difficult to understand everything you are asking (for example, where are the unidirectional relationships?) but I'll try to answer in a general way.

* To map a many-to-many relationship in EF Core currently requires the join table to mapped. I wrote a series of blog posts on this which might be useful: https://blog.oneunicorn.com/2017/09/25/many-to-many

[2017-11-17 23:28] bricelam commented on #10298
Workaround
===
Adding the following to the project should also make it work.
[code]

[2017-11-17 23:29] anpete commented on #9367
@KieranDevlinSycous Have you enabled MultipleActiveResultSets in your connection string? If you don't, then we are forced to buffer the entire outer result set.

[2017-11-17 23:32] bricelam commented on #2467
@BennyM I love the enthusiasm! Feel free to check out some of our other [up-for-grabs issues](https://github.com/aspnet/EntityFramework/labels/up-for-grabs) if you're still interested in submitting a PR. 😉

[2017-11-17 23:33] KieranDevlinSycous commented on #9367
@anpete Yes, in the instance where I first encountered this issue I had MARS enabled.

[2017-11-17 23:45] bricelam commented on #10330
I take it all back. SQLite makes excellent use of [covering indexes](https://www.sqlite.org/queryplanner.html#covidx).

[2017-11-18 00:01] lccarvalho commented on #10298
Tks, @bricelam, can confirm that your workaround works. @ajcvickers: will file new issue with sample project during weekend, please let me know if it is not necessary anymore.

[2017-11-18 00:14] anpete commented on #9367
@KieranDevlinSycous Do you still see the issue? When I run the repro, with MARS enabled, and after changing the call to ```GC.GetTotalMemory``` to force GC, then I get output like this:
[code]

[2017-11-18 03:22] smitpatel commented on #10287
@IsaaasI - Your project has errors. Before running migrations make sure you can build you project in VS without errors.

[2017-11-18 04:55] StrangeWill commented on #3470
Kind of mixed on this -- nested transactions can be really useful. Mostly for automated tests. I like setting up a database in a state, starting a transaction, running a test, then rolling it back. Makes integration tests really nice.

But some of our more complex stuff uses transactions itself, then it explodes due to nested transactions.

Pondering if I have other options but a nested transactio

[2017-11-18 06:57] heku opened #10342 "dotnet ef migrations not works for multiple contexts after upgrading to latest .netcore SDK(2.0.3)"
As the title, after upgrading .netcore SDK(2.0.0->2.0.3), the command `dotnet ef migrations add` not works(no exception no error, just no response) for multiple contexts. I create a demo solution to repo this issue, as the PMC command `add-migration` can work correctly, I think this should be a .netcore CLI bug or EfCore CLI bug.

The demo solution includes two similar .netstandard projects and a

[2017-11-18 07:19] heku commented on #10298
@ajcvickers

Thanks for response. I specified the startup project indeed，but didn't wok. I open another issue #10342 to describe my problem in detail.

[2017-11-18 08:57] jbogard commented on #3797
Ah it's still being considered? The lack of lazy loading and forcing eager fetching was one of EF Core's best features! I have to jump through so many hoops to turn off lazy loading for other ORMs.

[2017-11-18 09:49] lucabriguglia commented on #3797
@jbogard I couldn't agree more!

[2017-11-18 12:19] IsaaasI commented on #10287
Thanks a lot @ralmsdeveloper . Finally, I did it . The Migration work fine now.
But :)
1.enable-migrations -> works fine.
2.Add-Migration -> works fine
![image](https://user-images.githubusercontent.com/17950923/32980187-2b00b550-cc73-11e7-871d-06971ccd8404.png)
3.update-database -> works fine
![image](https://user-images.githubusercontent.com/17950923/32980179-0ca036e4-cc73-11e7-8614-937a1d98a3a7

[2017-11-18 12:49] andrasg opened #10344 "Querying for parent entity type with custom sql?"
I have a class hierarchy and use EF to store them in a SQL table. Works all fine, see the discriminators.

Is there a way to query among all of these entities using a custom SQL query?

Classes are setup this way:

[code]

I am setting up a mapping on the `Fruit` entity to point to a specific table, so all subclasses will use the same table:

[code]

The query I am looking for would look something

[2017-11-18 12:54] andrasg commented on #10344
In EF6 I was able to solve this by using `_dbContext.Database.SqlQuery<AggregateType>(rawsql)` where `AggregateType` would match onto the result of the `rawsql` query. Is there anything similar in EF Core 2.0?

[2017-11-18 13:58] ralmsdeveloper commented on #10287
Its Context is configured to use SQL Server and not MYSQL, so it is impossible to see the tables!

It would be very important to study the documentation!

https://docs.microsoft.com/en-us/ef/core/

or some article that shows how to use Asp.Net Core + EF Core

It looks like you're a little confused :)

I'm sure you can do that.

It would be important for you to search for articles on the internet,

[2017-11-18 14:11] cmatskas commented on #3797
@jbogard maybe if this is enabled at global level during the context construction? That would make it easy to disable or enable and use lazy loading as needed

[2017-11-18 16:51] lccarvalho commented on #10298
@ajcvickers no need for a new issue, with help of the messages I could see that there was an error on my Scaffold command, everything works fine for me now

[2017-11-18 17:18] topfunet commented on #10325
any news?

[2017-11-18 17:53] JonPSmith opened #10345 "Help on decoding Model with 'foreign key to same table' when using table splitting"
I am building a tool that can compare the DbContext's `Model` with a database (I get the database model via the design-time scaffolder). The idea is to to provide feedback to the user when the DbContext's `Model` and the database don't match - rather like a user-friendly version of EF6.x's `context.Database.CompatibleWithModel`, with human-readable error messages.

I have got it to work with prett

[2017-11-18 19:12] mne1991 commented on #3797
@jbogard, Could you explain that please? why is it bad?

[2017-11-18 20:49] Spongman commented on #3797
in EF6 you can disable lazy-loading on a per-configuration or per-property level.

[2017-11-19 00:09] jesusmogollon opened #10346 "EnsureCreated call create table twice on database update command"
Describe what is not working as expected.
If there is a seeder class with the EnsureCreated call in the seed method, migrations with new tables will fail with an error trying to create the tables twice

If you are seeing an exception, include the full exceptions details (message and stack trace).
[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run t

[2017-11-19 08:47] jbogard commented on #3797
@Spongman we use projections so it skips the EF model on reads anyway. NHibernate made it....challenging to say the least to turn off lazy loading, EF6 made it easy it seems.

And you'd probably be even more surprised by what I'm not aware of :)

Just thinking though in terms of priority, there are things I'd rather have than a feature I'd turn off by default.

There are times when I've found lazy

[2017-11-19 11:54] MarcoLoetscher opened #10347 "Support C# 8.0 nullable reference types in model building"
C# 8 is on the way and better to early than too late should be planned the implementation of the new features ([Introducing Nullable Reference Types in C#](https://blogs.msdn.microsoft.com/dotnet/2017/11/15/nullable-reference-types-in-csharp/)).
[code]
A new logic is needed for mapping of e. g. string: [Required and Optional Properties](https://docs.microsoft.com/de-ch/ef/core/modeling/required-op

[2017-11-19 14:18] gilbertogwa commented on #3106
Only register proposer... To me, works changes "\\" on string connection to "\":

EG

 <add name="DefaultConnection" connectionString="Server=localhost\\SQLEXPRESS...

rather then

 <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS...

Source: https://stackoverflow.com/questions/36084770/entity-framework-core-use-windows-service

[2017-11-19 19:35] smitpatel commented on #10344
try `var redFruits = _DbContext.Set<Fruit>().FromSql(rawsql);`

[2017-11-19 19:37] smitpatel commented on #10346
Duplicate of #10197

In the summary, you cannot use `EnsureCreated` & migrations together. You have to pick only on or the other to create the database.

[2017-11-19 21:30] ralmsdeveloper opened #10349 "Simplify methods"
**What do you think about changing this:**

[code]

**Simplify for this:**

[code]

Using something like this:

[code]
This could also be applied to IMemberTranslator.

Do you think this is useful?
@AndriySvyryd @smitpatel  @anpete  @ajcvickers  @bricelam

[2017-11-19 23:00] tipa commented on #8922
Thanks - while both of your suggestions work, they feel like a workaround. Would be awesome if we wouldnt have to use them in the future

[2017-11-20 01:56] halityurttas commented on #10320
Did you get any error in debug mode? Your codes is not look fault. You should check your model configuration or you look to data transfer object values in debug mode. This problem does not belong to entity framework concepts.

[2017-11-20 02:20] halityurttas commented on #10344
Actually this is imposible. But you make an object to contains apple and banana methods. For example apple have a property with name is color. And banana have height. You should make a type to contains whole properties. If you want to get reel types you must use mapping result to reel type. The unboxing possible on created reel object. So Fruits not applicable to convert Apple, but Apple to fruit

[2017-11-20 07:54] alexdrl commented on #8922
@erikpowa We are in the point 2, using PackageReference. I cannot install System.Runtime.CompilerServices.Unsafe 4.3.0 because EF Core 2.0.0 uses the 4.4.0 version, so NuGet detects a package downgrade, and does not let me install 4.3.0.

[2017-11-20 08:21] glatzert commented on #10335
Thanks for making the decision clear and mentioning the force Switch :)

[2017-11-20 08:30] glatzert commented on #10334
[MigrationIssue.zip](https://github.com/aspnet/EntityFrameworkCore/files/1486918/MigrationIssue.zip)

This is the DataAccess, Migration and Model Project of my Solution - I added the Migrations Project before adding the new Migration and after adding it. You'll see, that the last Migration is really huge (and somewhat crazy) compared to the changes in the ModelSnapshot.

[2017-11-20 09:04] KieranDevlinSycous commented on #9367
@anpete This would appear to be the case on my end too. I suppose you can count this ticket as closed until I can re replicate it on my old project.

[2017-11-20 09:48] chris31389 commented on #10198
@ajcvickers I've just tested this with SqlServer and its producing the same results.  Should I raise a new issue?

[2017-11-20 15:00] eflorespalma opened #10351 "Connectionstring Azure Active Directory Account"
Hi, everybody i have a services account in my sql azure associated to my azure active directory.. i can connect to sql azure through sql managment using the credentials of my Azure AD account with the method **Active Directory Password**, but now i want that my net core app use authenthication via azure ad account and i dont know how to do it, because i put Authentication = Active Directory Passwo

[2017-11-20 15:25] seb999 commented on #10320
Hello, we didn't get any error in debug mode. It would be difficult to send you the entire project with the database.

For now on, we managed to get ride of this by aadding
misContext.Entry(object).State = EntityState.Added; for add operation
misContext.Entry(object).State = EntityState.Modified; for update operation
misContext.Entry(object).State = EntityState.Deleted; for delete operation

[2017-11-20 15:27] bytefish commented on #8922
@alexdrl I think the following trick is neccessary to make it work.

Manually edit your csproj file and define, that the ``NU1605`` warning shouldn't be treated as an error.

[code]

Now in your Project File add the Package:

[code]

Then I would:

1. Clean the NuGet Caches
2. Clean all ``bin`` and ``obj`` folders
3. Restore the Packages
4. Build

Now your Xamarin App should start with Entity Fram

[2017-11-20 16:00] alexdrl commented on #8922
@bytefish @erikpowa That workaround worked good... as we're working closely to the latest version of .NET Core/Standard and Xamarin, could you give us some explanation of why is this happening?

Thank you for the workaround.

[2017-11-20 17:02] ajcvickers commented on #9433
@oncicaradupopovici The milestone assigned at the top of the issue is the indicator of what release a fix will be in--in this case 2.1. Unfortunately, the dates for 2.1 are not confirmed yet, so I can't share them publicly at this time.

[2017-11-20 17:02] ErikEJ commented on #10351
Have you tried with full .NET Framework - the System.Data.SqlClient for .NET Core is not "feature complete"

[2017-11-20 17:03] olivierr91 opened #10353 "EF.Functions.ILike does not work with InMemoryDatabase"
EF.Functions.ILike does not work as expected with InMemoryDatabase:

[code]

The ILike function works correctly when using the PostgreSQL implementation.

[2017-11-20 17:26] ajcvickers commented on #10342
@bricelam Can you investigate this with regard to the 2.0.1 issue?

[2017-11-20 17:33] ajcvickers commented on #10345
@JonPSmith Can you explain a bit what you mean by, "Basically the context.Model says there is a foreign key to the table, but because its the same table it doesn't exist?" Are you saying that EF is not creating FK constraints in the database for this case?

[2017-11-20 17:39] ajcvickers commented on #10349
@ralmsdeveloper Thanks for the suggestion, but in general we explicitly avoid scanning assemblies because this has been a common source of issues in the past, both perf and otherwise.

[2017-11-20 18:04] roji commented on #10353
@orobert91 can you please open this in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues and close this one? It's a totally Npgsql-specific issue. I'll try to fix this for the upcoming 2.0.1 release.

[2017-11-20 18:07] ajcvickers commented on #10265
Additional note from #10249: .NET ordering of GUIDs is different from SQL Server ordering of GUIDs.

[2017-11-20 18:09] ajcvickers commented on #10198
@chris31389 Thanks for the info. It does indeed seem that the default ordering for GUIDs on .NET is different from that of SQL Server. No need for another issue--I have added a note to #10265 which is the general issue we have for consideration of this issue.

[2017-11-20 18:10] ralmsdeveloper commented on #10349
@ajcvickers, thank you.

Do you remember in term of performance if this was catastrophic?

I ask this why I use this method!

[2017-11-20 18:13] ajcvickers commented on #10349
@ralmsdeveloper In some cases in EF6 it became that way. It depends a lot on the assembly being used.

[2017-11-20 18:15] ralmsdeveloper commented on #10349
Alright thanks, I'll stay with your opinion for the experience you've had!

[2017-11-20 18:18] bricelam commented on #10342
I am not able to repro this locally. @heku could you add the output of the command with `--verbose`?

[2017-11-20 18:18] bricelam commented on #10342
Also, the output of `dotnet --info`.

[2017-11-20 18:28] ajcvickers commented on #10351
@eflorespalma This is really a question for SQLClient, since EF Core doesn't play a part in understanding/using the actual contents of the connection string. If you want to continue to follow up on this, then I would file an issue on the [corefx repo](https://github.com/dotnet/corefx), but you may have better luck just asking a question on Stack Overflow.

[2017-11-20 18:35] bricelam commented on #10327
We should consider explicitly blocking Service Fabric startup projects like we do Docker projects.

[2017-11-20 18:38] bricelam commented on #10331
Have you tried removing `<TargetFrameworkProfile>`? It doesn't make sense in a cross-targeting project...

[2017-11-20 18:39] ralmsdeveloper commented on #10287
@ajcvickers

[2017-11-20 18:45] orobert91 commented on #10353
I think you misread the title, it is an issue with InMemoryDatabase. I just said that the function was working in PostgreSQL, the issue is with InMemoryDatabase.

[2017-11-20 19:24] roji commented on #10353
You're issue may be when working with InMemoryDatabase, but the ILike function comes from the Npgsql provider (Npgsql.EntityFrameworkCore.PostgreSQL), and not from EF Core. The Npgsql provider is the one providing the C# implementation - the one executed on all providers *except* for PostgreSQL, and the one that seems to have a bug.

So please move this issue to Npgsql.EntityFrameworkCore.PostgreS

[2017-11-20 19:28] orobert91 commented on #10353
Ok I understand, I have moved the issue to https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/267

[2017-11-20 19:41] krishnamoola commented on #1465
u

[2017-11-20 19:42] weitzhandler commented on #4645
Isn't it time for official adoption of a client-side package that will make it easier to maintain client entities against a server using an EF model? Such as [TrackableEntities](github.com/trackableEntities/trackable-entities/).

[2017-11-20 19:52] JonPSmith commented on #10345
Hi @ajcvickers,

In getting the information to explain the problem I found a way around it, so **this isn't a problem any more** (I have updated the original code with my fix).

However, the basic problem is that foreign key information is incorrect in the the `context.Model` for *table splitting* classes. I have worked around the problem, so you can close the issue, but I thought you might like t

[2017-11-20 19:56] ardalis commented on #10307
@AndriySvyryd I'm pretty close, but I seem to be running into a problem if I load the same parent entity again after having saved changes to it (and its owned entity). When I attempt to access the owned entity's State to detach it in my GetById() method, it gives me an error saying I should "detach the previous owned entity entry first." That's exactly what I'm trying to do on the line that blows

[2017-11-20 20:11] ardalis commented on #10307
@ajcvickers Note that immutable instances for owned entities doesn't appear to have anything to do with #7586 (readonly entities). These values can still be changed in the database, they just don't have property setters that can be used to change the instance (just like `DateTime` or `string`). Thus, the exception that says "When replacing owned entities modify the properties without changing the

[2017-11-20 20:49] ajcvickers commented on #7586
Also consider immutable types here.

[2017-11-20 20:57] agrebenyuk opened #10354 "EF Core does not generate where parameter when I explicitly search by it in my linq query"
Hi guys,

I encountered an issue where I use EF Core for a pretty simple query but the corresponding generated sql statement does not look right.

So, my linq query:
[code]
And the SQL version intercepted bu SQLProfiler is:
[code]
So I have 2 questions here:
1) Why do I have [c].[SearchParameterField] in the sql result set?
2) Why doesn't my sql query have the where clause with the search by searc

[2017-11-20 21:25] AndriySvyryd commented on #10307
@ardalis That exception probably means that the entity you are trying to get the entry for is already detached. This might be happening if you detached the owned entity, but didn't replace it with a new instance.

[2017-11-20 21:28] bricelam commented on #4645
FYI, I stumbled across [Mimetis/Dotmim.Sync](https://github.com/Mimetis/Dotmim.Sync) the other day if anyone here is interested in taking a closer look at it. (This is not an endorsement.)

[2017-11-20 21:42] smitpatel commented on #10345
It is correct model.
At core level, you have 2 entity types with a unique one to one relationship defined with them. From perspective of Core, every entity type has their own storage. The `ToTable` calls sets a relational annotation on EntityType indicating what should be the table at "relational" level. This is by design. Relational has concept of table splitting but non-relational providers do n

[2017-11-20 21:58] #1367 closed

[2017-11-20 22:54] eriksendc opened #10357 "EF Core 2.0.1 Generating Nullable Timestamp Column"
Hi All,

I'm looking at a freshly created database after having upgraded to EF Core 2.0.1. I have one table that has a timestamp column. In my existing production and QA databases, the column is NOT NULL, and in a freshly created DB using 2.0.1 it is nullable.

Existing Prod & QA (created w/1.1.2):

    create table ...
    [Timestamp] [timestamp] NOT NULL,
    ....

New DB Freshly Created (w/2.0.

[2017-11-20 23:02] #9209 closed

[2017-11-20 23:02] #10213 closed

[2017-11-20 23:02] #10329 closed

[2017-11-20 23:23] smitpatel commented on #10354
`c.SearchParameterField.Equals(searchParameter, StringComparison.InvariantCultureIgnoreCase)`
When you pass in StringComparison option, we don't know how to translate it to Server. Hence equality on searchParameter is computed on client rather than sent to server in SQL. Therefore we also need to project that column in SelectExpression.
If you remove StringComparison option and just overload with

[2017-11-20 23:25] eriksendc commented on #10357
PS - The line of code that defines the column in my model class is:

    public byte[] Timestamp { get; set; }

and the line of code that configures / describes the Timestamp column is:

    builder.Entity<MeetUp>().Property(p => p.Timestamp).ValueGeneratedOnAddOrUpdate().IsConcurrencyToken();

[2017-11-21 01:21] #10305 closed

[2017-11-21 02:21] agrebenyuk commented on #10354
thanks @smitpatel  , the collation of my DB is case insensitive , so I'll get rid of StringComparison in the where clause ,

What about question 1 ? or it will get resolved once I make my changes with StringComparison?

[2017-11-21 02:25] agrebenyuk commented on #10354
just another point - just as a suggestion,  it would be more appropriate if in this case (with String Comparison) devs received some sort of warning/error , as it is not obvious and I just came across the face that my search is incorrect during query performance optimization (which is not something that always happens during development).

[2017-11-21 02:32] andreluizsecco opened #10360 "Exception after upgrading the EF Core package to 2.0.1"
My project was working perfectly. I updated the EF Core packages to 2.0.1 and now I get the following exception:

      Connection id "0HL9GGHE4EU10", Request id "0HL9GGHE4EU10:00000001": An unhandled exception was thrown by the application.
System.InvalidOperationException: The entity type 'ProductPlanCustomer' requires a primary key to be defined.
   at Microsoft.EntityFrameworkCore.Infrastructu

[2017-11-21 03:07] ralmsdeveloper commented on #10360
Hello André,
You could post your ProductPlan and Customer to try repro.

More for now, make sure that Microsoft.AspNetCore.All is in version 2.0.3

[2017-11-21 04:28] smitpatel commented on #10354
We already generate a warning when we evaluate parts of query on client. Check your logs.

[2017-11-21 06:18] maumar commented on #4007
@MaklaCof I'm working on this feature right now. Its scheduled to be shipped with the next release of EF Core. Unless I encounter some unexpected issues the code should be in our dev branch in a next couple weeks or so - ready to be tested

[2017-11-21 08:25] JonPSmith commented on #10345
Thanks @smitpatel for taking the time to provide me with a very detailed answer. Excellent stuff. I will look at that and make some changes.

[2017-11-21 08:30] weitzhandler commented on #4645
@bricelam, looks like that repo is interacting directly with the DB.
The only projects I found that does what I'm looking for are:
- [Trackable Entities](https://github.com/TrackableEntities/trackable-entities) by @tonysneed
- [Breeze#](https://github.com/Breeze/breeze.sharp) - which looks abandoned

But even tho, as a subject that is so demanding for ANY client app (WPF, UWP, Xamarin), that has t

[2017-11-21 08:44] alexdrl opened #10361 "Xamarin.iOS app with EFCore 2.0 SQLitePCL.Batteries.Init()"
A Xamarin.iOS app with EFCore 2.0 needs a call to

[code]

If the call is not made, the app initialization throws this error message.

[code]
Like explained [here](https://github.com/ericsink/SQLitePCL.raw/wiki/SQLitePCL.Batteries.Init)

### Steps to reproduce
Xamarin.iOS project working with EFCore 2.0. Solution with a common .NET Standard project which shares code between iOS and Android, using

[2017-11-21 09:29] hidegh commented on #3797
@jbogard Currently i do use razor to generate output I use in PDF forms. I do use eager loading, since mostly I know what is asked for. But there might be expressions that could go beyond the basic set.

Eager is the best way to go [if we consider performance]. But currently EF core does have a bug, since instead of getting an exception when accessing a not loaded property I do get a NULL. I don't

[2017-11-21 10:25] andreluizsecco commented on #10360
Hello, I'm using the Microsoft.AspNetCore.All package in version 2.0.3

ProductPlan:

[code]

Customer:

[code]

[2017-11-21 10:48] dmitryshunkov commented on #3797
@hidegh why don't you check foreign key property for null value without db query for your business decision instead of navigation property?

[2017-11-21 11:00] hidegh commented on #3797
@dmitryshunkov Using foreign key ID is not very DDD-ish (IMO it's a wrong architecture decision since you got **another ambiguity** - see below). Also you might have bi-directional relations where the FKID is on the other item.

The issue with FKID is, that if you have an entity with both FKID and the corresponding property to the given object, then FKID should equal subProperty.ID - but since you

[2017-11-21 12:39] heku commented on #10342
@bricelam @ajcvickers Thank you for reply. I stand corrected.  The issue is not _.netcore SDK 2.0.3_, it's _.netcore SDK 2.1.0-preview1-007042_. I installed both SDKs on my machine.
[code]

When I switch to 2.0.3, it works.

But the .net SDK 2.1 goes into an endless waiting, here is the log it outputs. From the log, seems the problem is the `dotnet build` line, but I tried it in another cmd window

[2017-11-21 12:45] heku commented on #10342
As the problem is the .netcore SDK preview, feel free to close this issue.

[2017-11-21 13:03] Mardoxx opened #10362 "Query filter is not updating correctly with my simple logical OR predicate"
Using your [example code](https://github.com/aspnet/EntityFrameworkCore/blob/06a1471047bbe226eee7848305d4f8c2e7b2dacd/samples/QueryFilters/Program.cs).

[code]

[code]

Changing the predicate to something more complex
[code]
and it works fine.

[2017-11-21 13:10] Mardoxx commented on #10362
Never mind I was being a retard.

[2017-11-21 13:23] Mardoxx opened #10363 "Query Filters caching predicates causes issues"
Using your [example code](https://github.com/aspnet/EntityFrameworkCore/blob/06a1471047bbe226eee7848305d4f8c2e7b2dacd/samples/QueryFilters/Program.cs).

[code]

[code]

Changing the predicate to something more complex
[code]
and it works fine.

[2017-11-21 13:32] Mardoxx commented on #10363
If I had to guess... The first time the function body is entered of the query filter, you see if it can be reduced and store this value. Unfortunately this results in the predicate becoming just `!p.IsDeleted` (ignoring LHS branch, because it is being assumed static).

Upon further testing, if we flip the bool, `modelBuilder.Entity<Post>().HasQueryFilter(p => ViewDeleted | !p.IsDeleted);` experien

[2017-11-21 13:37] Mardoxx commented on #10363
Uncomment `SetupDatabase()`, run once, then comment it out again and run.
Need to do this because predicates aren't re-created per context creation ---- it would seem.

[code]

[2017-11-21 14:16] abbradar commented on #6560
I encountered this with .NET Core 2.0 on Linux and EF Core 2.0, in F# -- but during compilation, not auto-complete.

schema (most fields omitted):
[code]

code:
[code]

error:
[code]

[2017-11-21 14:24] jeroenlandheer commented on #9950
Exactly the same issue here, any workaround?

[2017-11-21 14:53] ralmsdeveloper commented on #10360
Hello André,

I performed an insert with the instructions below and I was successful!

[code]

From what I realized you have keys that values need to be propagated, here we had something similar.
https://github.com/aspnet/EntityFrameworkCore/issues/9552#issuecomment-324794136

I believe @ajcvickers or @smitpatel could complement this.

[2017-11-21 14:54] IgorWolbers commented on #3910
@eL-Prova - I created a [feature request for EF6](https://github.com/aspnet/EntityFramework6/issues/403) although I am not holding my breath :(.

[2017-11-21 16:12] ajcvickers commented on #10363
Duplicate of #9825

[2017-11-21 16:14] Mardoxx commented on #10363
@ajcvickers nice, thanks! Will remember to check closed issues next time 😉

[2017-11-21 16:16] orahj opened #10364 "How to use Lazy loading on Generic Function In .net Core"
[code]
How do I use Lazy loading this generic function

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide code to reproduce the issue.

[code]

### Further technical details
EF Core version: (found

[2017-11-21 16:18] clockwiseq opened #10365 "Database.SqlQuery<TElement> Missing"
In Entity Framework, there is a method to execute a query against the database and return a specified object type.  Entity Framework Core does not have this and the only alternative is 4 times the amount of code.  Example below.

#### Database.SqlQuery<TElement> (Entity Framework 6.0)
This is the [SqlQuery](https://msdn.microsoft.com/en-us/library/system.data.entity.database.sqlquery(v=vs.113).asp

[2017-11-21 16:19] pawepaw opened #10366 "Problem when connecting to database."
Hi,

I'm developing aws lambda function which connects to aws rds aurora (MySql engine) using entity framework. I'm getting exception on every connection when my code is trying to connect to database. When i'm connecting from my own PC everything works like it should.

I have the same nuget package versions as i have in other projects so it should not be a case.

Do you have any idea what is wrong

[2017-11-21 16:25] john-t-white commented on #10303
Sorry it took so long for my response.

The scenario I have is that we send out notifications to our users.  When an event happens, multiple notifications can be sent out and we batch those together in one request to our notification service to keep it less chatty. Each notification request in a batch specifies an identifier for the type of notification it needs to send along with data for that sp

[2017-11-21 16:30] ajcvickers commented on #10360
@andreluizsecco I put your code in a console app and it is working fine for me--see below. Can you either update the code below or post a complete, runnable project that reproduces what you are seeing?

[code]

[2017-11-21 16:36] ajcvickers commented on #10303
@john-t-white Thanks for the detailed response. It looks like what you want would probably be covered by #7391, the features discussed there work with alternate keys as well as primary keys, which was my intention.

[2017-11-21 16:43] john-t-white commented on #10303
Awesome!

Is this something that is on the roadmap at this point?

[2017-11-21 16:43] fulte004 commented on #1679
Just a thought: the EntityFramework Reverse POCO Generator extension's t4 generation of views requires that a recognized ID column that is an int or a bigint (long) and is NOT NULL. The template generator allows a different ID naming convention to be defined within the .tt file. If it discovers such a column, it proceeds with the generation. If not, the view is skipped. Scaffold-DbContext generati

[2017-11-21 16:45] ajcvickers commented on #10366
@pawepaw This does not look related to Entity Framework, but rather with the underlying MySQL provider for ADO.NET. It looks like from the stack trace you are using the provider from Oracle, so I would follow up with them. You might also want to look into using an open source provider such as https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql

[2017-11-21 16:47] ajcvickers commented on #10365
Raw SQL queries that return arbitrary types is being tracked by #9290.

[2017-11-21 16:49] ajcvickers commented on #10364
@orahj Not sure exactly what you are asking for, but lazy loading in EF Core is not implemented yet and is being tracked by #3797

[2017-11-21 16:53] ajcvickers commented on #6560
@abbradar This seems like a different issue from the one discussed here. Can you please file a new issue together with complete code listing or project to reproduce what you are seeing?

[2017-11-21 16:56] StrangeWill opened #10367 "EF Core Migrations Ignoring snapshot state when run from dotnet but not from PMC"
Upon running `dotnet ef migration add` I am getting a *full* migration of my database from scatch.

Running `Add-Migration` from the package manager console properly generates the right migration (added a single column).

Running `dotnet ef database update` properly updates the correct database.

`dotnet ef migration add` also properly updates the snapshot file.

I'm not sure what factors may be c

[2017-11-21 17:14] ajcvickers commented on #10357
Note for triage: In 1.1.2 I see this generated:
[code]
I 2.0.1 I see this:
[code]

I'm guessing, but I haven't confirmed, that this is another consequence of #8146 in that the default is non null but now we are explicitly specifying it as null.

[2017-11-21 17:20] ajcvickers commented on #10303
@john-t-white #7391 is something I would love to work on, but realistically I don't know if it will make the next release since there are other higher priority items we need to do. I may get a bit of free time to look at it over the holidays.

Closing this for now, since I think #7391 covers it.

[2017-11-21 17:27] ajcvickers commented on #6401
Triage decision: we will continue to help make it possible and easy for third-parties to create packages providing support for languages other than C#, but we won't own or maintain those packages as part of the EF code. This is because we believe the community is better able to understand best practices and special requirements of other languages on which the EF team are not experts.

[2017-11-21 17:32] ajcvickers commented on #10319
@joshmouch We discussed this and we don't have any really good answers. It seems to us that overriding SaveChanges and issuing the commands is probably the best way to go--yes there will be some additional overhead, but collecting the statistics is also adding overhead, and we're expecting this is done in dev/debug anyway. I'm not sure how you would get the statistics back, but you can use the und

[2017-11-21 17:33] ajcvickers commented on #10327
Note from triage: we will consider blocking all/some Service Fabric projects explicitly if they are known not to be compatible with EF Core.

[2017-11-21 17:33] #10327 closed

[2017-11-21 17:36] ajcvickers commented on #10344
@andrasg Closing as @smitpatel's answer seems to be correct--please feel free to comment again and we can re-open if this is not working or not what you wanted.

@halityurttas I think you might be a bit confused--it might be worth reading up on some top-level docs: https://docs.microsoft.com/en-us/ef/core/

[2017-11-21 17:38] ajcvickers commented on #10347
@MarcoLoetscher This is absolutely something we want to leverage, but since we are generating additional semantics and behavior based on nullability we will need to consider carefully how to do this without making unintended breaking changes to model/schema generation.

[2017-11-21 17:44] ajcvickers commented on #10265
Notes from triage:
* Since there are already cases of order not being preserved even without any value conversions, it means that this is not an issue limited to value conversion and likely needs a solution in general type mapping rather than just in value conversion.
* There are different things we could do, but it's not clear exactly when we should:
  * Force client eval
  * Use unnatural but or

[2017-11-21 17:47] bricelam commented on #4645
@weitzhandler I think you're looking for something more like issue #5536

[2017-11-21 18:44] murbanowicz opened #10368 "Can't use migrations in EF Core: "42P07: relation "AspNetRoles" already exists""
I have strange issue which I can't find solution for.

The stack is: NET Core 2, EF, PostgreSQL.
I use .NET Core Identity with `User : IdentityUser` to extend base user model with additional fields.

After I create first migration, drop whole database and try to `dotnet ef database update` I always get an error: `42P07: relation "AspNetRoles" already exists`

Even with this error, the database and

[2017-11-21 18:48] weitzhandler commented on #4645
The issue comment is a bit unclear, but I think it is indeed what I'm referring to.

[2017-11-21 18:53] AndriySvyryd commented on #3470
@StrangeWill As long as your tests don't involve rolling back the transaction before the test ends you can still wrap the whole test in a transaction and flow it through to all the contexts used to avoid creating new (nested) transactions. We have a helper method for this in our tests: https://github.com/aspnet/EntityFrameworkCore/blob/229c3645433e430673ea85558f9c76ac364f9aa9/src/EFCore.Specificat

[2017-11-21 19:59] erikpowa commented on #10277
Duplicate of #8922, [Workaround](https://github.com/aspnet/EntityFrameworkCore/issues/8922#issuecomment-345375260)

[2017-11-21 20:07] nphmuller commented on #10318
@ajcvickers My current scenario is that I have implemented query and save filters in one DbContext, but I want to easily insert objects in the database that bypass the filter. This data will be used in integration tests so I can test all filter logic.

I could extend the filters, so they could be turned on or off, but in that case all my tests rely on that on/off toggle logic. It would make for be

[2017-11-21 20:24] Tarig0 commented on #3910
@subprime

What I did was create a generic function and use the oftype<T> to get the type and then discover the navigations of the type passed into my generic.

You could use somethings like that and loop through all of your known types to get all of the correct properties

[2017-11-21 20:40] smitpatel commented on #10368
You are calling migrate or ensurecreated while building service provider.
Please share code of your startup & program.cs

[2017-11-21 20:47] ajcvickers commented on #10318
@nphmuller Thanks for the info.

[2017-11-21 20:59] ajcvickers opened #10369 "EF Migrations - MaxLength, StringLength is ignored"
From VS Feedback:

Basic ASP.NET MVC template. Custom class in DbSet. Fields with data annotation MaxLength or StringLength are ignored for strings when doing Add-Migration/Update-Database cycle. Database reset also won't help - Update-Database -TargetMigration 0 | Update-Database -Force.

What I've tried so far:
* Setting length as is and the change only it in migration
* Setting specific migrati

[2017-11-21 22:14] bricelam commented on #10369
This is EF6 code: `c => c.String()`

[2017-11-21 22:26] bricelam commented on #10369
I'm not able to repro this. `[MaxLength]`, `[StringLength]`, and `.HasMaxLength()` are all reflected in the DDL generated by Migraitons.

[code]

Can we get a project?

[2017-11-22 00:09] smitpatel commented on #8902
This seems to be actually bigger than that.
When running test inside Test Explorer in VS.
[code]

[2017-11-22 06:02] lofzefjg opened #10372 "cli bug: dotnet ef ?? still very much a work in progress, nothing working end-to-end yet"
cli bug: dotnet ef
still very much a work in progress, nothing working end-to-end yet

[2017-11-22 06:05] huoxudong125 commented on #8996
It's a pity for new one(.net core user).

[code]

Is there is simple way to use this commands. or have a good tutorials.

[2017-11-22 06:55] avoidik commented on #10369
Sure, I'll prepare it and let you know

[2017-11-22 07:34] orahj commented on #10364
I am Using a Generic repository Which Means I pass In any Model, Now That Lazy Loading is not Working How do Use the include for Eager Loading? in my generic repository

[2017-11-22 07:54] pawepaw commented on #10366
I'm using pomelo. I'll foward it there. thanks and sorry for bothering.

[2017-11-22 08:09] whizkidwwe1217 opened #10373 "Throws System.NotImplementedException: The method or operation is not implemented. when performing operations on a DbSet<>"
Describe what is not working as expected.
Ef is throwing a NotImplementedException when performing operations on a DbSet. I tried using linq, but the same exception was thrown.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

[2017-11-22 08:16] whizkidwwe1217 commented on #10373
Sorry. My bad. I didn't notice that the vscode intellisense automatically generated a property for me.
![image](https://user-images.githubusercontent.com/1977391/33116621-722115f8-cfa0-11e7-980d-bd0d10b6f4db.png)
Closing this issue.

[2017-11-22 09:46] Caskia opened #10374 "Query: ArgumentNullException when using ternary operator with null comparison"
#9223
This bug shows up again when I upgrade my library to 2.0.1.

The problem seems to be Boolean type.

#### Further technical details
EF Core version: 2.0.1
Database Provider: Pomelo.EntityFrameworkCore.MySql
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-11-22 09:50] DeepakRoy commented on #10207
I have the same issue, is there any solution?

[2017-11-22 09:50] hikalkan commented on #9076
I have a seed code on Startup.cs file which throws exception since there is no database. It should not run Program.cs if there is a IDesignTimeDbContextFactory implementation.

[2017-11-22 10:21] glatzert commented on #10334
I created the needed migration manually to move on.
Today I needed to remove an entity from the database, with interesting results as well:

It removed this:
[code]
and all related parts from the ModelSnapshot, resulting in a migration which drops a lot of unrelated columns and foreign keys, just to recreate them.

[2017-11-22 10:52] andreluizsecco commented on #10360
Checking out here, I noticed that some parts are working, like insert, update and delete directly on this table.
The exception happens in this method:

[code]

Structure and mapping of 'CustomerUser':

[code]
Obs: The 'User' class is created by my authentication mechanism, I am using ASP.NET Core Identity 2.0.1

[2017-11-22 11:05] eusebiu commented on #10207
I found an workaround, inspired by @rob2212 - use linkskip.
Set Configuration to Release, Link Framework SDK only and add these in mtouch arguments:

`--linkskip=Microsoft.EntityFrameworkCore --linkskip=Microsoft.EntityFrameworkCore.Relational --linkskip=Microsoft.EntityFrameworkCore.Sqlite --linkskip=Remotion.Linq --linkskip=Microsoft.Data.Sqlite.Core --linkskip=Microsoft.EntityFrameworkCore.Sqli

[2017-11-22 11:28] andreluizsecco commented on #10360
I discovered the problem. It's an important detail that I forgot to mention. The context I am using to running the query in the CustomerUser class is not the same as where I am applying the Mapping of the ProductPlanCustomer class, so it is not achieved to determine the primary key. To perform a test, I have added the following line in the OnConfiguring method of the context that I am using and it

[2017-11-22 12:39] mkgn opened #10375 "System.InvalidCastException DBSet<T>.Add()"
I am using EF Core 2.0 with ASP.Net Core 2.0 and SQL Server.

I get System.InvalidCastException when trying to call the generic method Context.Set<T> method. I have detailed out all information in below link.

[StackOVerflow Question](https://stackoverflow.com/questions/47368802/system-invalidcastexception-when-adding-an-entity-dbsett-add)

Since I couldn't get any information, i thought to write

[2017-11-22 12:49] NPadrutt commented on #10207
@eusebiu nice! so far it seems to work :)

[2017-11-22 13:55] aliatienza commented on #2876
Posts are dated 2016. It's already 2017 going on 2018. May I know if EF is or will be applicable to UWP apps?

[2017-11-22 14:07] jesusmogollon commented on #10346
Makes sense, tanks a lot

[2017-11-22 14:37] tonysneed commented on #1836
I opened PR #10356 to address this issue by adding `--output-dbcontext-dir` to generate the DbContext class in a different location.  I updated both the code generation and EF commands.

[2017-11-22 16:17] smitpatel commented on #10374
It is fixed in 2.1.0 release and not in 2.0.1. The bug remains exist in 2.0.1 package.

[2017-11-22 16:17] smitpatel commented on #10374
Duplicate of #9223

[2017-11-22 16:47] ajcvickers commented on #10372
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-11-22 16:51] ajcvickers commented on #10364
@orahj A good place to start is the documentation on loading related entities: https://docs.microsoft.com/en-us/ef/core/querying/related-data

[2017-11-22 16:56] ajcvickers commented on #10360
@andreluizsecco Can you post a project/solution that repros what you are seeing--i.e. code that works in 2.0.0 but then fails unchanged in 2.0.1? I don't think we're going to be able to make much progress without that.

[2017-11-22 17:05] ajcvickers commented on #10375
@mkgn Can you post a complete code listing or VS project/solution that reproduces what you are seeing?

[2017-11-22 18:20] bricelam commented on #10361
Correct. I don't think Xamarin.iOS can handle [the Assembly.Load() call](https://github.com/aspnet/Microsoft.Data.Sqlite/blob/rel/2.0.0/src/Microsoft.Data.Sqlite.Core/Utilities/BundleInitializer.cs#L15).

[2017-11-22 18:23] andreluizsecco commented on #10360
Unfortunately I can't publish the entire project, but in my previous response, I have documented how the situation happened and how I did to get around it.
Anyway, thanks for help. I'll close this issue.

[2017-11-22 18:27] alexdrl commented on #10361
I use the EF Core dependency assembly that gets added as a transitive dependency, and call that Init method, the app works correctly. In the project assets json, the Xamarin.iOS SQLitePCLraw package gets restored correctly.

[2017-11-22 18:29] bricelam commented on #10361
We should probably document this on the [Supported .NET Implementations](https://docs.microsoft.com/ef/core/platforms/) page or thereabouts.

[2017-11-22 18:31] alexdrl commented on #10361
The documentation already stated that there are problems in Xamarin.iOS but there is no page that describes this (or other) workarounds.

[2017-11-22 18:35] #4553 closed

[2017-11-22 18:46] bricelam commented on #10325
Duplicate of  #8922?

[2017-11-22 18:58] bricelam commented on #10372
Duplicate of #10342?

[2017-11-22 19:52] ajcvickers commented on #10272
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-22 19:53] ajcvickers commented on #10309
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-22 20:59] #2943 closed

[2017-11-22 21:44] ajcvickers commented on #10164
This was discussed in triage with the following conclusions:
* EF calls into user code. This makes it more important the the context is preserved.
  * We could be selective and avoid the overhead on some low-level paths
* Deadlocks was not a major concern because they only happen when .Wait is used, and this is bad practice anyway
* Perf overhead was measured to be small
  * Perf overhead might be

[2017-11-22 21:47] ajcvickers commented on #10337
Discussed in triage and decided do backlog this for now. If we get feedback that this would be useful, then we could consider doing it for this and other "leaks" (e.g. type mapping/value gen flag) in a way that uses an on-demand convention when accessing the metadata through the API.

[2017-11-22 21:52] ajcvickers commented on #10357
We discussed this in triage and decided:
* The new behavior is "correct" in that the property is nullable/optional in the model and so making in nullable/optional in the database reflect that.
* However, it shouldn't really matter in most cases because SQL Server is internally handling the value, so behavior is unlikely to change
* For normal use of Migrations, no new migration will be generated b

[2017-11-22 21:54] ajcvickers commented on #10367
@StrangeWill Can you post a full code listing or working project that reproduces this issue? Also, do you know if it also repros using EF Core 2.0.1?

[2017-11-22 21:57] ajcvickers commented on #10368
Discussed in triage and this seems like it is almost certainly due to EnsureCreated or Migrate being called when the application starts, and this code may also be running when the tooling is used. See https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/ for information on how to change startup code to match the patterns now supported by ASP.NET Core in 2.0.

If we missed something, the

[2017-11-22 22:03] bricelam opened #10378 "Tools: Command to get EnsureCreated() SQL script"
We should expose the `DbContext.Database.GenerateCreateScript()` method as a command.

[code]
[code]

[2017-11-22 23:35] #9530 closed

[2017-11-23 00:21] manfred20 opened #10380 "ORA-00923: FROM keyword not found where expected"
I have applications made in .Net461, which use Oracle Database.
I decided to test EFCore, If the tables are created with the EnsureCreated it works, more if I run the migration, I found the error, I followed all the steps. I downloaded the fonts and followed the steps correctly, where I'm failing.

Line meeting the problem is:
[code]
In my searches I only found this:
http://www.dba-oracle.com/t_or

[2017-11-23 00:34] smitpatel commented on #10380
The exact cause of exception would be seen in SQL logs.
Follow this sample on how to enable logging. https://github.com/smitpatel/EFSampleApp/blob/nightly/EFSampleApp/Program.cs

Regardless,
Using `EnsureCreated()`  & `Migrate()` both together is not invalid. See https://github.com/aspnet/EntityFrameworkCore/issues/10197

[2017-11-23 00:52] ralmsdeveloper commented on #10380
@smitpatel, in fact, this does not work.
That happened to me.
This error is trying to execute this SqlServer command:
[code]
Is there a PR of my for this: https://github.com/aspnet/EntityFrameworkCore/pull/10219

As the project came from the base of SqlServer, there were several places still with commands for SQLServer.
Pr corrected this and many other things.

[2017-11-23 01:04] manfred20 commented on #10380
@smitpatel,
I forgot to inform you that you could comment the EnsureCreated() line.
I was testing, as I said when I launch EnsureCreated (), it works.
More migrations do not.

[2017-11-23 01:27] zmqcherish opened #10382 "Can not save data when it has a primary key values 0"
### Expected behavior
Using db(DbContext) .Add func to add a data when it has a primary key values 0, and then execute the db.SaveChanges(). After it, just read the data out, the primary key has be changed to value 1.

### Steps to reproduce
here is the demo code in github: [code](https://github.com/zmqcherish/EFCoreBug)
1. create a dotnet core console project, and  add 'Microsoft.EntityFrameworkC

[2017-11-23 01:31] smitpatel commented on #10382
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-11-23 02:06] zmqcherish commented on #10382
@smitpatel well i just update the issue.

[2017-11-23 02:17] smitpatel commented on #10382
It is expected behavior.

Based on docs: https://sqlite.org/autoinc.html
When you define Integer primary key in database, it will get value automatically if none supplied.
From EF Core perspective, Id is int PK & by convention it is configured as auto-increment. When user provides explicit value for a property, we try to save it but in the absence of explicit value, we assume database is going to

[2017-11-23 02:26] ralmsdeveloper commented on #10382
@smitpatel, it could solve this, with the setting below, by setting the _**OnModelCreating**_.

[code]

[2017-11-23 07:34] davidfowl commented on #10164
@ajcvickers are you currently doing ConfigureAwait everywhere in the code base?

[2017-11-23 08:30] zmqcherish commented on #10382
@ralmsdeveloper @smitpatel  thank you very much. And @ralmsdeveloper method work well.

[2017-11-23 09:23] hung-doan commented on #9664
I tried, but still not work :(

[2017-11-23 09:26] sebastianfilke opened #10384 "Contains query does not work with composite key"
I have an Entity called QuestionnaireEntity and a composite key

`builder.HasKey(e => new {e.IdQuestionnaire, e.IdQuestionnaireVersion});`

I want to do a select statement with in clause like this:

[code]
which results in the following exception:
[code]

The following works perfect with single attributes and not composite keys:
[code]

So my question is: How can i obtain a query with select in cl

[2017-11-23 09:37] sebastianfilke commented on #10384
I also tried the following. which seems to work but produces a warning:

[code]
[code]

[2017-11-23 09:53] ErikEJ opened #10385 "SQLCE 2.1 provider - unable to get latest"
Unable to use the latest EFCore.Relational package from aspnet-dev feed on Myget

[code]

### Further technical details
Feed: https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json
EF Core version: .2.1.0-preview1-27673'
Database Provider: N/A
Operating system: Win 10
IDE: VS 2017 15.3.2

[2017-11-23 09:59] smitpatel commented on #10384
Possible duplicate of #9424 & #10081
What is the version of EF Core you are using?
Warnings will be there because we have to client eval it for now.

[2017-11-23 10:09] smitpatel commented on #10385
We recently updated corefx dependencies https://github.com/aspnet/Universe/commit/641cc35d42ee282e6cba385d03620d502ecfc24a

I am trying to find from where we get that package.

[2017-11-23 10:18] SchneMa commented on #2266
Does anyone know a good workaround to use existing Databases with tpt inheritance?

[2017-11-23 10:32] smitpatel commented on #10385
@ErikEJ - I would recommend going back 1 version behind.
Universe build which produces the packages injects dependencies separate from what repos are using. I am not quite getting hold of from where it is getting particular package. But current source code of EF Core does not depend on that package. About weekly, we update dependencies in all our sources. I am certain that before that happens the

[2017-11-23 10:38] weitzhandler commented on #2266
@SchneMa Entity Framework 6.

[2017-11-23 11:44] EnterpriseIreland opened #10386 "Cannot delete a parent entity even there is no child referencing the parent."
Hello,

I have two entities - BookableItemType and BookableItem which is one to many relation.

BookableItemType Entity has many BookableItems
[code]
BookableItem has a parent
[code]

I have set to DeleteBehavior as restrict.
[code]
This should not delete the parent parent entity if it has no children.
However it throw an error

[code]
I have run the query in SSMS and there is no children referenc

[2017-11-23 11:55] sebastianfilke commented on #10384
Yeah, it's somehow related to it but i think it's not exactly the same. i am using the newest version 2.0.1.
Also i am not using Tuple against Tuple. I am taking the items out of the Tuple and compare them. Which already works.

But the main problem for me is that i would expect that this works:

[code]

If i configure a composite key in my IEntityTypeConfiguration like this `builder.HasKey(e => n

[2017-11-23 11:57] dougajmcdonald commented on #1368
Ouch, just came across this issue and now have to re-write much of our data access code to handle the new type of joining entity on either side of the relationship. Significant issue :(

Asking for an explicit joining entity is fine, but having to name it add an `ICollection<EntityAEntityB>` on both sides is a killer

[2017-11-23 12:01] sebastianfilke commented on #10384
Little addition: why i would except that this works is that a regular linq query does work:

[code]

[2017-11-23 12:22] mpawelski opened #10387 "No values for shadow properies when using `AsNotracking`"
When I use shadow property and `AsNotracking` there is no value in `PropertyEntry.CurrentValue` or `PropertyEntry.OriginalValue` but for other properties that are defined in entity class I can access their values.

### Steps to reproduce
For example I have this code in my `OnModelCreating` method

[code]
and `ForNpgsqlUseXminAsConcurrencyToken` inside is just
[code]
but when I access `_context.Ent

[2017-11-23 14:45] synercoder opened #10388 "Many2Many relationship with shadow keys after adding state is Unchanged"
When creating a many to many class with only navigation properties (with the key properties as shadow properties), the context doesn't set the entity state to Added when calling the `DbSet<>.Add(...)` method.

After adding the relation object, the entry state is `EntityState.Unchanged`

### In short
Model:

    public class FooBar
    {
        public Foo Foo { get; set; }
        public Bar Bar {

[2017-11-23 15:17] MaklaCof opened #10389 "Query: optimize for OrderBy on navigation property"
OrderBy could be optimized on navigational property.

For example, this query
[code]
produce this SQL:
[code]
but better would be:
[code]
There is no need to select fields again for ORDER BY, just use already returned field if exists.
I am attaching screenshot for ClientStatistics in Management Studio. Trial 1 and 2 are SQL created by EF. Trial 3 and 4 are when I manually correct sort. The differe

[2017-11-23 18:14] olman21 opened #10390 "SQLite SuppressForeignKeyEnforcement is not working after upgrate version 2.0"
I have a helper method for unit test my repositories using SQLite as store, really I'm not interested in verify Foreign Keys in Test mode, then I used SuppressForeignKeyEnforcement config method in order to avoid that validation, before I upgrade to version 2.0.1 it worked like a charm, as soon I make the upgrade it started validating FKs when I insert test data causing my tests to fail. I noticed

[2017-11-23 18:18] smitpatel commented on #10389
Duplicate of #6703

De-duping a SelectExpression in order by is non-trivial task. It is same QueryModel but when we translate it both times, we generate different aliases to avoid name clash. So inside SelectExpression we cannot match and de-dupe it like we do with other complex expression.

@MaklaCof - Given there is perf differences, we will discuss this in team in next triage meeting. Thanks fo

[2017-11-23 18:37] ralmsdeveloper commented on #10390
Have you tried upgrading to version 2.0.1?

[2017-11-23 18:46] olman21 commented on #10390
I update that part, actually I'm using the latest version (2.0.1) I started a laborious task to migrate our aspnet core 1.1 applications to 2.0 and as a part of this all packages were upgraded to lastest version, so yes this happens to me in Microsoft.EntityFrameworkCore.Sqlite version 2.0.1.

[2017-11-23 20:24] ralmsdeveloper commented on #10390
Out of curiosity, looking at something here, you can change
this:
`x => x.SuppressForeignKeyEnforcement () `
by:
`x => x.SuppressForeignKeyEnforcement (false)`

[2017-11-23 20:33] olman21 commented on #10390
@ralmsdeveloper no difference :(

[2017-11-23 20:37] ralmsdeveloper commented on #10390
I believe @bricelam, have any idea about this.

[2017-11-23 20:59] marcusholmgren opened #10391 "Unexpected delete statement when SaveChanges called"
I have tested to have a Domain Driven-Design aggregate root (Blog) that have child entities (Post). The Blog have private setters so the internal set can only be modified through the add method on the Blog. When loading Blog and including posts the behaviour changes and adding new posts generates a unexpected delete statement that removes previous post from the blog.

1. Open new DB context and cr

[2017-11-23 21:11] smitpatel commented on #10390
Breaking change as per #7527

In 1.1 EF used to send out PRAGMA command whenever connection internally opened in EF Core. With 2.0 release, we send out command only if the connection actually gets opened. In this case since you are passing open connection, we do not send PRAGMA command.

While I am leaving this open so that we can discuss in the meeting if this was intentional breaking change. But

[2017-11-23 22:40] fgheysels opened #10392 "Unable to query with filter on an Owned Entity"
I have a simple class with a property that is mapped as an owned entity.
The class that is used as an owned entity has IEquatable implemented and has some overloaded equality operators.

When I issue a LINQ statement with a Where clause that filters on that owned entity, the following exception is thrown:

[code]
Looking at the stacktrace, I can see that the linq query is evaluated on an IEnumerab

[2017-11-23 23:14] smitpatel commented on #10391
https://github.com/marcusholmgren/efcore-test/blob/master/Program.cs#L82

This line seems somewhat in-accurate. When Include pipeline tries to get `Posts` to add retrieved posts from database, it will get a new instance of hashset since field `posts` is null. But when you add another post, it will initialize field `posts` and the instance of hashset where include added post was gone due to `??` in

[2017-11-24 04:24] roji commented on #4526
Just pinging this to make sure it's not totally forgotten. With the seemingly wide support of UPSERT/MERGE across databases, this could be a pretty valuable feature (although of course the specific implementations/variations would have to be investigated ([see this comparative doc](https://wiki.postgresql.org/wiki/UPSERT) cited above by @Ciantic)

[2017-11-24 04:45] marcusholmgren commented on #10391
Thank you @smitpatel. Your suggested change solves this reported incident.

Since the mapping isn't explicitly stating that the private member `posts` is the field to be change tracked I can see why this causes diffing problems.

[2017-11-24 07:38] hikalkan commented on #9825
Is that released with 2.0.1? Change logs of 2.0.1 includes this one.

[2017-11-24 07:41] smitpatel commented on #9825
@hikalkan - Yes.

[2017-11-24 08:07] MaklaCof commented on #10389
Great. Thank you.
I imagine this is common scenario when you display result in grid (together with columns from detail tables) and you want to order by column from detail table.

[2017-11-24 08:22] hikalkan commented on #9825
Thanks. This issue is in 2.0.3 milestone which causes the confusion.

[2017-11-24 09:30] joacar opened #10393 "[Tools] [Enhancement] Extend dotnet ef scripting"
Hi,

I would like to see some extension to the scripting via command line (or PMC for that matter)

## dotnet ef migrations revert
1. Update the database to the previous migrations and apply it `dotnet ef database update Migrations-1`
2. Remove the last not applied migrations `dotnet ef migrations remove`

## File extension for additional data
In many of my web projects the DbContext is definied i

[2017-11-24 09:46] joakimriedel opened #10394 "Incorrect syntax in generated idempotent script containing trigger"
## Background

I am using migrations to add a trigger to my database.

[code]

## Error

When scripting the migrations as an idempotent script the generated script yields a syntax error.

[code]

### Steps to reproduce

#### Using idempotent script

Generate a migration script using the idempotent flag. `dotnet ef migrations script -i`

[code]

This yields the error mentioned above.

#### Expected

[2017-11-24 10:36] fgheysels commented on #10392
I've been playing around with this issue a little bit further and added some extra findings in my original message.

[2017-11-24 12:12] john-surcombe commented on #3797
@jbogard I sometimes see AutoMapper inadvertently mapping too much data, wasting network bandwidth. Perhaps I should ban my team from using it and insist they manually write prodecural mapping code everywhere instead?!

Seriously, AutoMapper is an absolute godsend, thanks... especially when combined with EF6's wonderful lazy loading!

[2017-11-24 13:13] jakubmisek commented on #8498
@dazinator ... fyi a different solution for the issue, using Reflection https://github.com/peachpiecompiler/peachpie/commit/eb9213f174fa909459ad0137ff996876eac2ac4c

[2017-11-24 13:17] olman21 commented on #10390
I tried out to open connection after configure the dbcontext but SuppressForeignKeyEnforcement is still validating FKs.

[2017-11-24 14:26] jbogard commented on #3797
Use ProjectTo :)

http://docs.automapper.org/en/stable/Queryable-Extensions.html

On Fri, Nov 24, 2017 at 6:13 AM john-surcombe <notifications@github.com>
wrote:

[2017-11-24 14:27] Seanxwy opened #10395 "How to create a view?"
ef core 2.0 code first how to create a view?

[2017-11-24 15:40] resnyanskiy commented on #3797
Or use `GetMapExpression` for single entity. By the way, in some cases projections (`IQueryable.Select`) is a real alternative to a lazy loading.
@john-surcombe

https://github.com/AutoMapper/AutoMapper/issues/2164

[2017-11-24 16:29] mfronczyk opened #10396 "AsNoTracking() returning different instances of the same entity."
The documentation says that no tracking queries still perform identity resolution. I fetch the same Category entity 2 times: once using Include and once directly by a query:

[code]

After adding AsNoTracking in both queries, I had to make the following change in the Product method to keep things working the same:

[code]
The docs say that you may get a new instance if a previous result with the s

[2017-11-24 16:45] smitpatel commented on #10390
If you are passing an open connection to DbContext using `UseSqlite` then order of dbcontext configuration does not matter. You are supposed to configure the connection yourself whenever you want.

[2017-11-24 16:47] smitpatel commented on #10396
Please post complete code listing which demonstrate the issue you are seeing.

[2017-11-24 16:52] glucaci commented on #9044
I have one question related to backing fields for owned types. How can be something like this configured?
[code]
I've expected to be something like:
[code]
and then
[code]
but HasField is not available on ReferenceOwnershipBuilder.

[2017-11-24 17:04] mfronczyk commented on #10396
I'd need to spend some time to create a complete, runnable listing. Could you please first have a look at my description and check if it's the desired behaviour? If you agree that it should work, I'll create a more complete bug report. Does it work for you?

[2017-11-24 17:05] smitpatel commented on #10392
Overridden `Equals`, `==`, `!=` are methods on the user class. We cannot look into its implementation because it is not an Expression. Hence we cannot translate it to server. Due to this limitation it causes in-memory evaluation which is also costly operation. Further if you do not have override `==` then equality of entities in query would be reference equality which will not give correct results

[2017-11-24 17:08] smitpatel commented on #10396
It should not do Identity Resolution across multiple queries when AsNoTracking used.

[2017-11-24 17:45] mfronczyk commented on #10396
So it looks like to be an expected behaviour. Please keep in mind that I run the queries one after another, despite of the async code.

You might want to consider changing the documentation here https://docs.microsoft.com/en-us/ef/core/querying/tracking. Currently it says:

It should probably mention that if the same entity is returned from 2 different queries, then it's not resolved to the same o

[2017-11-24 20:08] fgheysels commented on #10392
First of all, thanks for your reply.

An owned entity is typically used to represent some kind of Value-Type, and value-types do not have a primary key, since they're not entities.    So equality on PK doesn't work in this case.
I thought that by overriding Equals EF would be able to generate a clause based on that routine, but right now EF is actually 'stealing my identity'.

Isn't there any way

[2017-11-24 20:09] rpokrovskij opened #10397 "It should be possible to create ILoggerFactory (or custom ef logger) for each dbContext and inject it as regular dependency without side effects"
https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging wrotes:

Is it a final design decision or a bug?

Requiring "only one ILoggerFactory instance per app"   means "it is impossible to create logging when each dbcontext logs to each own buffer (e.g. to each own string list)"

How to configure logging to concreete buffer for concreate session depending e.g on user name? pooling loggingFac

[2017-11-24 20:57] axellejamous commented on #4649
I removed my `context.Database.EnsureCreated()` call but still get the error.. anyone else?

[2017-11-24 21:03] dubeg opened #10398 "FromSql, stored procedures and named parameters"
One of the ways to execute a Stored Procedure that returns entities is by registering the entity's class in the DbContext, and then calling `DbContext.Set<Entity>().FromSql(...)`. I am a newcomer to EF Core, and I was struggling to understand why my StoredProc wasn't returning anything.

Let's say we have a stored procedure as defined below:
[code]
Now, here's how I tried executing this SP using E

[2017-11-25 08:10] oldsand opened #10399 "Unable to Add Migration if the project is place inside folder name with "["

[2017-11-25 08:34] glucaci opened #10400 "Support for readonly backing fields"
Using readonly backing fields is currently not supported. It's any plan for this?

[code]

Considering next model:
[code]

[2017-11-26 04:25] Tarig0 commented on #10398
I think it would make sense to have the provider handle how the mapping works. For example ODBC didn't have the variable name as an option. Definitely want add a vote for if the provider can to use the @{name} to map to a named variable if avaliable

[2017-11-26 04:29] Tarig0 commented on #10395
manual migration, and fromsql

[2017-11-26 04:43] Tarig0 commented on #10387
Why would you want the shadow properties unless you are tracking the entity?

Seems to me you want to have your cake and eat it to.

The only way you would be able to get the shadow properties without tracking them after the initial query is to query the DB again.

[2017-11-26 04:54] Tarig0 commented on #10384
Would it work if you did
[code]

[2017-11-26 12:24] glucaci opened #10401 "Working with backing fields independent of property type"
Currently is not possible to have a different type on the backing field than on the Property.
My ideea was that EF works only with the backing field independent of the property type and use the property name to "fetch" the Column.

Given the next model:
[code]

I can achieve this with a weird workaround by creating a shadow property with different name than the model property
[code]

It's planed t

[2017-11-26 15:52] DenisKolpakov opened #10402 "SQL Server Migrations: CreateIndex for Memory-Optimized Table ignores schema"
There is no chance to create index for memory-optimized table with schema different from [dbo] using migrations. Command does not use schema name to identify db object.

[code]
[code]

### Further technical details
EF Core version: 2.1.0-preview1-27654 and earlier
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: No matter (Rider 2017.2.1)

[2017-11-26 16:44] divega opened #10403 "Include link in exception messages that direct to report issues"
E.g. in the recursion limit exception. It is not obvious to all our customers where to report issues. See https://twitter.com/jesperbook/status/934788283057496070.

[2017-11-26 19:10] weitzhandler commented on #7174
I'm facing the same issue.
In my model I'm trying to call:

    protected override void OnModelCreating(ModelBuilder builder)
    {
      base.OnModelCreating(builder);

      builder.Entity<User>().Property(a => a.Email).HasAnnotation("MinLength", new MinLengthAttribute(5));
    }

When trying to apply migrations, I get the following error:

[2017-11-26 19:37] smitpatel commented on #10402
https://github.com/aspnet/EntityFrameworkCore/blob/9daecfd5b915336c2242ab11de471ac6f3d151ad/src/EFCore.SqlServer/Migrations/SqlServerMigrationsSqlGenerator.cs#L530-L532

It ignores schema right now. Thanks for reporting bug @DenisKolpakov

[2017-11-26 19:39] smitpatel commented on #7174
@weitzhandler - You are adding custom type annotation on model. Unless you override CSharpHelper service, it will not work.

What it your intention to add that annotation on the model?

[2017-11-26 20:57] weitzhandler commented on #7174
Thanks for your quick response.
I thought I'd keep the model clean of attributes but I guess never mind.

[2017-11-26 20:59] smitpatel commented on #7174
The point is, even if you put that annotation in EF model, EF does not understand it and will not do anything around it apart from throwing exception when it needs to print it out. If you are trying to use annotations for validation then you should put annotations on classes rather than in EF model. EF does not do any validation. Other validation frameworks based on annotations are required to do

[2017-11-26 21:07] SSkovboiSS opened #10404 "DateTime.DayOfWeek translation"
Currently there is no translation for DayOfWeek property of DateTime value, it evaluates on client.
When using in complex queries it can cause a lot of client evaluation:

[code]

[code]

I fixed this by rewriting query using EF Core database scalar functions and SQL DATEPART and now it's fully executed on database.

If I get things right the main problem with DATEPART is that its result is one-ba

[2017-11-27 04:40] olivierr91 opened #10405 "Joining tables with "xmin" defined as concurrency token throws "column x.xmin does not exist" (PostgresSQL)"
AppDbContext.cs:

[code]
Where `UserImageFile` inherits from `UserFile` and `User.AccountPicture` is of type` UserImageFile`.

UserRepository.cs:

`_dbContext.Users.Include(u => u.AccountPicture).ToList();`

Generated SQL by Entity Framework:

[code]
Throws "column t.xmin does not exist". This query isn't valid because PostgreSQL will not select xmin as part of `"u.AccountPicture".*` . EFCore shou

[2017-11-27 08:52] roji commented on #10405
For context, `xmin` is a PostgreSQL system column that contains the ID of the last transaction to update the row. The column implicitly exists in all tables, and can be used for optimistic concurrency (a bit like SQL Server's `rowversion`).

However, I'm not sure why EF Core generates a query where the outer select includes it but the inner select doesn't.

[2017-11-27 08:57] smitpatel commented on #10405
The inner select expression is `SELECT *` so EF core assumes it would be implicitly available. In this case of reference include, the related table is converted to * because of discriminator predicate causing a subquery. The explicit columns are only put together when pulling data out of the related table regardless of it being just a table or subquery.

Are there any special rules around xmin bei

[2017-11-27 10:02] gusleo opened #10406 "Failed when using SqlLinq.Max()"
Describe what is not working as expected.

[code]

### Steps to reproduce
First you can create table with no data, then run query.Max() or query.MaxAsync()
Before, on asp.net core 1 their no issue, but when migrate to asp.net core 2.0 show the error above

 var query = (from c in MediCoreContext.HospitalAppointment
                         where c.HospitalId == hospitalId && c.MedicalStaffId == me

[2017-11-27 11:17] hikalkan opened #10407 "Changes on #9825 caused an issue"
Hi all,

#### Problem

The changes to solve this issue caused an inconsistent exception for us. We disabled this feature by the code below:

[code]

Then our code worked again. The exception we have (without enabling Microsoft.EntityFrameworkCore.Issue9825 as shown above):

[code]

#### Query & QueryFilter:

Our query is like that:

[code]

And Global Query filter is like that:

https://github.com

[2017-11-27 12:22] roji commented on #10405
Apologies, I didn't read the SQL close enough. By default `xmin` is indeed no included in star queries, as it's an implicit system that's always there and seldom of interest.

However, I'm not sure how I'd go about including `xmin` explicitly in the inner select with Npgsql... Any tips on that?

[2017-11-27 14:36] orobert91 commented on #10405
Forgot the Discriminator part of the context modeling in my original post, it is now updated.

[2017-11-27 17:07] ajcvickers commented on #10164
@davidfowl No, we don't call ConfigureAwait--that's what this discussion is about.

[2017-11-27 17:26] ajcvickers commented on #10387
@mpawelski To add a bit more to what @Tarig0 says, shadow properties are properties that do not exist in the entity's CLR type and hence must be stored somewhere else. That "somewhere else" is an entry associated with the entity when it is tracked by the context. So when you run a tracking query, then the shadow property values are associated with the entry in the context that tracks the entity.

[2017-11-27 17:49] davidfowl commented on #10164
But it's closed now 😄 . Are we going to?

[2017-11-27 18:04] ajcvickers commented on #4526
@roji Thanks--there's definitely a lot of value in doing this. the comparative doc is very useful--we would have to figure out what to do for SQL Server.

[2017-11-27 18:10] ajcvickers commented on #10395
@BruinY To add to what @Tarig0 said, see #827 for an overview of the various parts of view support in EF Core with links to more specific issues covering the different aspects.

[2017-11-27 18:13] ajcvickers commented on #10396
@mfronczyk Thanks for the note about the docs--we will consider making it more explicit that identity resolution in no-tracking queries applies only to a single query while it is executing.

[2017-11-27 18:16] bricelam commented on #10393
Some thoughts:

#1972 is about adding a `--revert` option (or similar) to `dotnet ef migrations remove`

I think we support response files (or can easily enable it):
[code]

#2174 is tracking a squash command.

[2017-11-27 18:16] ajcvickers commented on #9044
@glucaci "Email" is a navigation property, and hence it needs to be configured differently than a normal property--see issue #6674

[2017-11-27 18:18] bricelam commented on #1972
Note, we used `--force` to skip checking if the migration is applied. We should use something like `--revert` to mean just revert before removing it.

[2017-11-27 18:19] ajcvickers commented on #10399
@oldsand Can you post the error/stack trace that you see?

[2017-11-27 18:23] bricelam commented on #10164
@davidfowl No, we'll stick with our original decision to not call it. (reasoning above)

[2017-11-27 18:24] ajcvickers commented on #10400
@glucaci We plan to support this by allowing non-parameterless constructors to be used--see #240. We did investigate attempting to force writing of the readonly field, but the CLR protects it pretty well, even when building/executing expression trees. We didn't want to revert to pure Reflection since this would result in a non-obvious perf bottleneck.

[2017-11-27 18:31] davidfowl commented on #10164
I'm not sure those points are all entirely reasonable. How did you test the performance differences? What sync context did you use?

That's not true. If there's a sync context that serializes execution of continuations (like ASP.NET does) and you have 2 tasks that are interdependent then it's possible to cause a deadlock without explicitly calling .Wait.

It's not always about performance, it migh

[2017-11-27 18:35] ajcvickers commented on #10401
@glucaci You can map the field directly and not map the property at all:
[code]
But then you will not be able to use the property directly in a query since EF doesn't know how to handle the "CustomName" class.

Beyond that, when #242 is implemented, you can configure the property with a value converter to allow CustomName to be converted to a string when reading and writing to the database.

[2017-11-27 18:38] ajcvickers commented on #10406
Duplicate of #10086, which is itself closed as by-design.

[2017-11-27 18:41] gregbowyer84 commented on #1368
oooh! deal breaker... any timeline for the implementation?

[2017-11-27 18:47] ajcvickers commented on #10407
Possible duplicate of #10301

[2017-11-27 19:04] ajcvickers commented on #10282
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-27 19:12] ajcvickers commented on #10385
@natemcmaster @ryanbrandenburg @pranavkm Any ideas what is going on here?

[2017-11-27 19:30] pranavkm commented on #10385
Looks like I had a typo in one of my commits and wasn't publishing dependencies to the feed. Redoing the build so this should get sorted shortly.

[2017-11-27 19:57] khionu commented on #1368
@gregbowyer84 read the whole thread, please.

[2017-11-27 20:20] ajcvickers commented on #10380
Looks like this will get fixed by the PR from @ralmsdeveloper. Assigning to @bricelam who is handling that PR.

[2017-11-27 20:21] ajcvickers commented on #10384
Notes from triage: we will investigate for 2.1 fixing the exception and performing client eval instead. After that, probably translating this to SQL will go on the backlog.

[2017-11-27 20:23] ajcvickers commented on #10386
@EnterpriseIreland Can you post a full runnable project/solution or code listing that reproduces what you are seeing? (The exception should not be generated unless a dependent is actually being tracked.)

[2017-11-27 20:28] ajcvickers commented on #10392
@fgheysels We discussed this in triage and it seems like most of this issue is about using value object semantics with EF Core, which is covered by #9906. However, some things like implicit conversion operators may still not be recognized by EF. For now, closing as dup of #9906 and we can re-assess after that issue is implemented.

[2017-11-27 20:29] ajcvickers opened #10409 "Add support for using response files from EF commands"
To make something like this work:
[code]

[2017-11-27 20:31] pranavkm commented on #10385
MyGet's being odd. I had to manually upload packages but that should resolve your issue. Feel free to reopen this issue if you continue seeing issues here.

[2017-11-27 20:32] ajcvickers commented on #10393
@joacar Thanks for the suggestions. As @bricelam says above, two of these issues are already being tracked, and I just filed #10409 for ensuring the response files can be used. We would be happy to help you get started if you would like to work on a PR for any of these issues.

[2017-11-27 20:34] ajcvickers commented on #10394
@jcemoller In this case EF has no idea what is in the SQL method call (and attempting to parse the SQL is a can of worms we don't want to open). It should work in all cases if you explicitly include the EXEC in your SQL.

[2017-11-27 20:35] fgheysels commented on #9906
@smitpatel - I think that , when using owned entities as a value type (which will be for me the most obvious usage of owned entities), you should not think in terms of primary keys.  A value type is not an entity and has no identifier; it's identity is made up by its value.

@ajcvickers I'm a fond user of NHibernate, and there this is done using 'component-mapping'.  Maybe helpfull to take a look

[2017-11-27 20:37] ajcvickers commented on #10396
Submitted https://github.com/aspnet/EntityFramework.Docs/pull/574

[2017-11-27 20:42] ajcvickers commented on #10398
@dubeg The SQL syntax used in the FromSql call above is specifying the parameters be passed to the stored procedure in that order. This syntax does not do any named parameter binding. It would likely be possible to add support for named parameter binding to EF, but this would require telling EF that this is a stored procedure call, and then the application also providing different syntax--i.e. not

[2017-11-27 20:44] ajcvickers commented on #10401
@glucaci After discussing in triage we have a follow-up question: what is the reason for including the backing field specifically as a string? Was this just an attempt to get things working with EF, or is there some other reason it is there?

[2017-11-27 21:22] bricelam commented on #10409
Should be as simple as setting `command.HandleResponseFiles = true` in [src\ef\Commands\CommandBase.cs](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/ef/Commands/CommandBase.cs)

[2017-11-27 22:02] SSkovboiSS commented on #10404
I would like to contribute a pull request regarding this issue. I figured out next formula to get `DayOfWeek` value:

`SELECT (DATEPART(DW, @date) + @@DATEFIRST + 6) % 7`

Next code verify correctness, it just prints 'OK!' 49 times:

[code]

But in order to not doing useless job it would be good if someone from EF Core team confirm that we really need this and accept proposed implementation.

[2017-11-27 22:30] glucaci commented on #10400
Thanks for explanation @ajcvickers. I'll follow the discution on #240

[2017-11-27 22:35] ajcvickers commented on #10397
@rpokrovskij If you are using ASP.NET Core, then it may be worth following up with the ASP.NET team since EF mainly makes use of the infrastructure setup for an ASP.NET application. This includes a single, singleton ILoggerFactory registered in the application's service provider.

With regard to the EF use of ILoggerFactory, we optimized for the case where services do not need to depend on a conte

[2017-11-27 22:50] glucaci commented on #10401
No other reason @ajcvickers. Only trying to map the model to the DB and in the same time keep the API clean.

This with converters sounds nice, there will be some limitations? For example looking on the "CustomName" type or something else that contains composed ValueObjects?

[2017-11-27 22:51] guillerglez88 commented on #9829
Just a question, because i'm not sure i'm doing that the right way, is it correct to manage sql connections that way?

[code]

[2017-11-27 22:57] ajcvickers commented on #9829
@guillerglez88 Possibly, but it's not clear just from that code. Specifically, make sure that the connection is not used by multiple threads concurrently--neither DbContext nor DbConnection are thread safe.

[2017-11-27 23:01] smitpatel opened #10410 "Query: Order By (Select 1) can be omitted for Sql without skip/take"
[code]
Can omit Order by here since there is no skip/take. (Test OrderBy_True)
At present while generating ordering we don't have access to current select expression to look at skip/take.

[2017-11-27 23:07] guillerglez88 commented on #9829
Thank you for your prompt response. actually it is a concurrent context, it is an asp net core 2 web app, basically i have many db context pointing to same database. I'm trying to manage single db transaction per http request cross dbcontext, so, i'm assuming all DbContext will be registered `Scoped` (single instance per http request) as well as the `SqlConnection`, the above code is used that way

[2017-11-27 23:21] dsdwilches commented on #2356
@natemcmaster @RonFrick Did you solve your problem? I'm having the same issue and it's not evident what in my code can be causing this error.

[2017-11-27 23:36] xr280xr commented on #1833
I absolutely need this and can't imagine any serious medium to large-scale, data-centered application not needing it. I'm shocked it has sat in the backlogs for coming up on a decade.

[2017-11-28 03:36] dwilches commented on #9994
Also seeing this in my setup. Did anyone find the solution or how to at least avoid it?

[2017-11-28 03:37] dwilches commented on #2356
For other people coming here, this guy made a minimal repro in this other issue: https://github.com/aspnet/EntityFrameworkCore/issues/9994

[2017-11-28 03:37] peppy commented on #9994
you can avoid by not using transactions... 💯

[2017-11-28 07:23] xleon commented on #2394
So I can´t deploy my app from Visual Studio to Azure just because I´m using SQLite and getting the same error (`Generating idempotent scripts for migration is not currently supported by SQLite`). That makes ef sqlite option totally useless or just for development.
I know sqlite should not be used for production but it´s perfect for testing or quick deploy scenarios.

[2017-11-28 07:45] joacar commented on #10393
@ajcvickers I would be glad to contribute! Perhaps response files I a good starting point and after completion move to tackling the others. I'll move the discussion to the appropriate issue!

[2017-11-28 07:49] ErikEJ commented on #10404
What happens if you change to another language?? https://docs.microsoft.com/en-us/sql/t-sql/functions/datefirst-transact-sql

[2017-11-28 07:52] FilipLesnak opened #10412 "migration script with national characters"
I have migration script with the following:
`migrationBuilder.Sql("update sf set sf.PdfCaption='Poč' from SectionFields sf join Sections s on sf.SectionId=s.Id and s.Type in (1,2) and sf.Name='Quantity'");`

After updating the database field SectionFields.PdfCaption contains value "Poc" but it should contain "Poč". So it seems like there is some problem with national characters and migrationBuilde

[2017-11-28 07:58] kmolerov opened #10413 "Feature request - migrations add <automaticIncrementalName>"
Current bahaviour:
dotnet ef migrations add -> Missing required argument '\<NAME>'.

Required behaviour:
dotnet ef migrations add -> Create new migration based on previous name with autoincremented index.
example:
Previous migration name is "migration_12". After execution command "dotnet ef migrations add", new migration is created with name "migration_13".

Use case - Business model is under deve

[2017-11-28 07:59] joacar commented on #10409
Hi,

Before I get started with this (I've no development experience with EF Core it self, so probably some stupid questions initially) I have some questions

1. Are there any file structure outlined
2. One file for all context or one per context
3. Where should we look for the response file
4. Default file if no context is specified

My thought is that the response file just acts as a argument con

[2017-11-28 08:09] SSkovboiSS commented on #10404
The above formula works preserving @@DATEFIRST value, so even if you change server language the result will still be the same.
Test code demonstrates it: @@DATEFIRST is changing inside the inner loop, but the result actually remains equal to offset which doesn't change inside the inner loop.

[2017-11-28 08:11] ErikEJ commented on #10385
@pranavkm Thanks, working now

[2017-11-28 08:42] DerGary opened #10414 "EntityType marked with NotMapped is still discovered by Conventions"
Bug described in #8151 is not fixed in 1.1.x Versions of EF Core and because we are using UWP we can't upgrade to 2.x.x.

### Further technical details
EF Core version: 1.1.4
Database Provider: Microsoft.EntityFrameworkCore.Sqlite
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-11-28 10:25] JonPSmith opened #10415 "Question: How can I detect that a primary key will be provided in software and not by the database?"
In my [`EfSchemaCompare`](https://github.com/JonPSmith/EfCore.TestSupport/wiki/9.-EfSchemaCompare) tool I compare the `IProperty`'s `ValueGenerated` value with the `DatabaseColumn`'s `ValueGenerated` value. One of my users of  `EfSchemaCompare` has pointed out that if the primary key is of a type where the value is provided by the software then my tool incorrectly says that there is a difference.

[2017-11-28 11:35] BladeWise commented on #10388
Have you tried adding entities directly to the context?
[code]
I have experienced the same issue, and despite the fact that both [DbContext.Add<T>](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbcontext.add?view=efcore-2.0) and [DbSet<T>.Add](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.dbset-1.add?view=efcore-2.0) claim to track related en

[2017-11-28 12:41] FilipLesnak commented on #10412
Well....
It seems like this problem occurs only while applying migration scripts via update-database command in "Package Manager Console".

[2017-11-28 14:10] kdrapel opened #10416 "Scaffolding issue with Oracle function-based index"
When performing a scaffolding from an existing Oracle 11g database (using Devart Dotconnect) with the following command:

Scaffold-DbContext "DATA SOURCE=(DESCRIPTION= (ADDRESS= (PROTOCOL=TCP) (HOST=XXXXXX) (PORT=1521)) (CONNECT_DATA= (SERVER=DEDICATED) (SERVICE_NAME=YYYY))); PASSWORD=aaaa;USER ID=bbbb" Devart.Data.Oracle.Entity.EFCore

I encounter an exception about a "Value cannot be null".  Aft

[2017-11-28 14:47] JimBobSquarePants opened #10417 "Fluent Api triggers table creation of base classes"
If I attempt to configure primary key behaviour against base classes using the fluent API only those classes are created against the database. This behaviour is contrary to my understanding that abstract classes do not trigger table behaviour.

### Steps to reproduce
Given the following base classes
[code]

And configuration code to normalize behaviour across my concrete types

[code]
The library

[2017-11-28 14:50] ralmsdeveloper commented on #10416
Hello @kdrapel,
Probably in Scaffolding, your component is setting some value to the Default field, when there are virtual columns we set the default value to null, because this information is calculated on the server.

We have an example [here](https://github.com/aspnet/EntityFrameworkCore/blob/dev/samples/OracleProvider/src/OracleProvider/Scaffolding/Internal/OracleDatabaseModelFactory.cs#L227-L

[2017-11-28 15:06] rpokrovskij commented on #10397
Yes, I have created pooling solution:
https://stackoverflow.com/questions/43680174/entity-framework-core-log-queries-for-a-single-db-context-instance/43818769?noredirect=1#comment81955801_43818769

But the fact that you explain EF Core (over)design with "we want to do it ASP.NET way" - it is just a facepalm. Do you have your own minds about arhcitecture you desinging? Compare "pooling" with EF6 co

[2017-11-28 16:13] synercoder commented on #10388
@BladeWise I tried it with just `context.Add(...);` and the result was the same. The entity was not added.

[2017-11-28 16:25] kdrapel commented on #10416
Thanks for your feedback, I contacted the vendor regarding this bug.

[2017-11-28 16:25] theCuriousOne commented on #7533
@ajcvickers  I am momentarily facing the same issue. In you example you need to have

`public class DerivedContext1 : DbContext
{
    public DerivedContext1(DbContextOptions<DerivedContext1> options)
        : base(options)
    {
    }
}`

and the the compiler will complain

[2017-11-28 17:14] EEaglehouse commented on #4711
Switching to DateTimeOffset doesn't solve the problem. It isn't time zone aware; it only stores the UTC offset for a specific instant in time. There is no simple way to derive the time zone where the value was created. Picking the underlying UTC value out of the DateTimeOffset value would be the best you could do and DateTime is just as good at assuming that.

[2017-11-28 17:15] ajcvickers commented on #7533
@theCuriousOne When you say "you need to have" can you be more specific? Need to have for what reason?

[2017-11-28 17:30] ajcvickers commented on #10417
@JimBobSquarePants Using the `Entity` call tells EF to map the entity type, which in turn causes it to become the base type of a TPH mapping. If you want the type instead to be an un-mapped base type, then don't explicitly configure it as as an entity type with a call to `Entity` or a by having DbSet for it on the context.

Something like this can be used to bulk-configure all entity types that in

[2017-11-28 17:32] ajcvickers commented on #4711
@EEaglehouse and others. I'm working on a change that will allow the kind to be be preserved by storing the DateTime as a long in the database and automatically converting it on the way in and out. Should be in 2.1 as part of #242.

[2017-11-28 17:36] ajcvickers commented on #10388
@BladeWise "I've found cases where the first works, and the latter fails silently" Can you please file an issue for this including the steps needed to reproduce this behavior--seems like a bug.

[2017-11-28 17:44] BladeWise commented on #10388
@ajcvickers To be fair, it happened with pre-2.0.0 releases, and since then I have yet to work on this. If I happen to be bitten by this again, I'll provide feedback. Anyway, you can confirm that both Add methods should behave the same, right?

[2017-11-28 17:45] ajcvickers commented on #10415
@JonPSmith When you say, " value is provided by the software" do you mean the key value is set by the application, or it is set by EF, or both?

I ask because because I don't think it is possible to detect in a provider-agnostic way where a key's values (or any other generated value) will come from. It's up to the database provider to determine the best strategy, which might be store-generated or

[2017-11-28 17:46] ajcvickers commented on #10388
@BladeWise Yes. The code for DbSet.Add just calls directly into DbContext.Add.

[2017-11-28 17:47] ajcvickers commented on #10414
@DerGary By filing this are you requesting that this fix be back ported to 1.1.x?

Which issues are preventing use of UWP on 2.x.x?

[2017-11-28 17:51] theCuriousOne commented on #7533
@ajcvickers  I  meant "you need to have" in order to reproduce the error. My current issue is that I need to extend an DbContext with exactly that kind of code.

[2017-11-28 17:56] ajcvickers commented on #9829
@guillerglez88 That sounds like it should be okay. If all of this is happening in a single request, then there should be only one thread executing in that request at any time, which means that even if there are multiple context and a single connection they still won't be used by multiple threads concurrently.

[2017-11-28 17:58] DerGary commented on #10414
@ajcvickers yes that's what I would suggest.

I wrote about the Problems with 2.x and UWP in the discussion thread [here](https://github.com/aspnet/EntityFrameworkCore/issues/8598#issuecomment-336878042) but I got no response.

Also I would like to know what your plans about supporting uwp in the future are and how we users should handle errors in 1.1.x because we can't upgrade to 2.x. (because we

[2017-11-28 17:59] ajcvickers commented on #7533
@theCuriousOne I'm curious as to why you need to use that kind of code--I can see it would be problematic, and I can see some scenarios where it might be needed, but I am curious what your scenarios are so that we can make an assessment of the severity of the issue and react appropriately in finding workaround and considering ways to fix.

[2017-11-28 18:06] BlinkSun opened #10418 "Useless "using ;" cause error (Migrations CLI)"
Hi, when I call a new migration "dotnet ef migrations add MigName", it create new CS files and update FolderDbContextModelSnapshot.cs.

When I try after "dotnet ef database update", I got a "Build Fail".

So, I need to open  FolderDbContextModelSnapshot.cs and DateTime_MigName.Designer.cs and delete the, I dont know why, useless "using ;" on the second line (after the comment) !

After that edit,

[2017-11-28 18:25] theCuriousOne commented on #7533
@ajcvickers The is a framework build with dotnet core, and I need to extend upon it. And do not know how to do it otherwise.

[2017-11-28 18:58] ajcvickers commented on #7533
@theCuriousOne I see; so the DerivedContext1 is code that you cannot change? I'll re-open this issue to consider what to do.

[2017-11-28 19:01] ajcvickers commented on #10418
Duplicate of #2467

[2017-11-28 19:13] ajcvickers commented on #10414
@DerGary There are a lot of different moving parts in the .NET Core/UWP/EF Core story and after thinking carefully about the bigger picture with the various stakeholders we made the call to target .NET Standard 2.0 only. It wasn't really about making things easier for us, but about setting things up for future success. I'm personally very sorry that this doesn't meet your needs, and we certainly t

[2017-11-28 19:19] EEaglehouse commented on #4711
@ajcvickers Thank you. It would be nice to have that as an option. For me, the better solution remains to have an option to force the Kind to a particular value (Utc in my case) for DateTime values. Reading it as a DateTimeOffset is useless to me because I would still need to convert to DateTime with Kind as Utc in my applications' data layer; all local time zone conversions are handled in the pre

[2017-11-28 19:23] DerGary commented on #10414
I tried using EF Core 2.0.0-preview1-final which didn't target .net standard 2.0 yet. This version of EF Core does include the fix of the mentioned bug and a Migration can be created. But using this version my tests failed because I got the error described in #8817 .

I also tried only creating the migration with 2.0.0-preview1-final and then downgrading to 1.1.4 again but that didn't work either.

[2017-11-28 19:38] smitpatel commented on #9825
@ajcvickers @divega - Can we rename 2.0.3 milestone to 2.0.1 now?

[2017-11-28 19:38] BlinkSun commented on #2467
oh didnt see that #2467 !!! Thank you !!!

[2017-11-28 19:38] ajcvickers commented on #4711
@EEaglehouse Yes, after #242 you will be able to set things up to still store as a datetime in the database, but force a specific kind whenever it is read from the database.

[2017-11-28 19:39] ajcvickers commented on #9825
@smitpatel Unlikely, but not really our call. @Eilon?

[2017-11-28 19:40] JonPSmith commented on #10415
Thanks @ajcvickers. Your understanding of my question is correct, and you suggested implementation makes sense. I have two extra questions, which might allow me to produce a richer test:

1. I know that a `Guid` has a `ValueGenerator` automatically applied. Is that always done, or does it depend on the database provider?
2. If the developer adds their own `ValueGenerator<T>` to a column can I dete

[2017-11-28 19:46] smitpatel opened #10419 "Query: ApplyOptimizations which are not parameter dependents during compilation"
https://github.com/aspnet/EntityFrameworkCore/blob/82339be400132a6020cb3d594bdc7b716a845e26/src/EFCore.Relational/Query/Sql/DefaultQuerySqlGenerator.cs#L291-L340

A decent amount of processing can be moved to compile time rather than SQL gen time in cases where it does not depend on parameter value.

[2017-11-28 19:46] ajcvickers commented on #10415
@JonPSmith Any "OnAdd" property on a key will need to have a value generator of some sort. There are broadly two kinds:
* Generators that immediately generate the real key value--for example, the default for GUIDs
* Generators that create temporary values that will be replaced on SaveChanges--for example, the default for ints.

So for your first question, as long as the GUID key property is OnAdd,

[2017-11-28 20:50] danobri commented on #9214
@pmiddleton - I have two very similar functions, both decorated with the same DbFunction annotation:

`[DbFunction(Schema = "dbo")]`

One of them outputs the schema in generated queries and the other does not, causing the generated query to fail.  If I cut and paste the query from the debug window, and add the schema prefix to the UDF manually the query succeeds.  Despite lots of review and compar

[2017-11-28 20:57] smitpatel commented on #9214
@danobri - Without reproduction steps it is near impossible to guess what is happening.

[2017-11-28 21:16] smitpatel commented on #10415
Just to chime in
I looked at the issue https://github.com/JonPSmith/EfCore.TestSupport/issues/2
It is showing difference because it is indeed mismatch between model & database.
PK are set as valuegenerated by convention. While reverse engineering, if database column does not have auto generated values, we explicitly call fluent API `ValueGeneratedNever` on the property in `OnModelCreating`

[2017-11-28 22:08] pmiddleton commented on #9214
@danobri - are you also using the fluent api on the problem function?  Could you accidentally be overwriting the schema there?

Beyond that guess I would need to see repo code like @smitpatel mentioned.  Can you post a minimal repo.

[2017-11-28 22:10] pmiddleton commented on #9214
@danobri - can you also open a new issue when you have the repo code.

[2017-11-28 22:28] danobri commented on #9214
I am not using the fluent api on the function wire up.  I believe I've found the problem though, so will open a new issue.

[2017-11-28 22:38] rpokrovskij opened #10420 "InMemory: after adding LoggerFactory to dbContext, dbContext can't access data (all returned tables are empty)."
1. create dbcontext over inMemory data provider
2. add some data using first instance of dbContext
3. check that data exists with second instance of dbContext (yes it is exist)
4. create third instance of dbContext (but this time add LoggerFactory for custom logging)
4b. try to return data from third dbContext - data source is empty

expected behaviour - data added on step 2 should be there (as it

[2017-11-28 22:47] danobri opened #10421 "DbFunction schema not output if any arguments are nullable navigation properties"
When calling a UDF as described in #7368, if the argument being passed to the UDF is a property of a nullable navigation property, the schema prefix is not being output in the generated query despite being properly specified in a DbFunction annotation.

For example:

`context.Widgets.Select(w => context.Foo(w.SomeNullableNavigationProperty.Name)) ;`

 If the nav prop is NOT nullable, the schema is

[2017-11-28 22:48] danobri commented on #9214
Just created #10421

[2017-11-28 23:06] Eilon commented on #9825
We decided to have the milestones match the releases, which is 2.0.3. If you click on the milestone you'll see it says 2.0.1 in the description. Perhaps we can make that text a little clearer?

[2017-11-28 23:20] divega commented on #9825
@Eilon I tried to make the description text a bit clearer, but I am not sure how much helps, because it I have not been able find any other place this text is shown, other than when you edit it :smile_cat: Do you known when else it is shown?

I know there was a decision taken on this, but haven't some of the original arguments to align to 2.0.3 (e.g. everything was going to be versioned the same,

[2017-11-28 23:30] smitpatel commented on #10421
Repro code
[code]

[2017-11-28 23:34] ajcvickers commented on #10420
Duplicate of #9613

[2017-11-28 23:37] pmiddleton commented on #10421
@smitpatel  - I'm taking a look at it.

[2017-11-29 00:06] ajcvickers commented on #10414
@DerGary I was able to workaround #8151 by adding:
[code]
as the first line in my OnModelCreating. Can you verify whether this workaround is applicable to your product code?

[2017-11-29 00:21] smitpatel commented on #10421
Will be fixed by https://github.com/aspnet/EntityFrameworkCore/pull/10370

https://github.com/aspnet/EntityFrameworkCore/blob/efc0025d555b7f56f64c4a052bf0329a1119c414/src/EFCore.Relational/Query/Expressions/SqlFunctionExpression.cs#L130-L137

That code eats schema. It happens because the argument is reducible expression when its nullable navigation access causing new SqlFunctionExpression to be fo

[2017-11-29 00:23] pmiddleton commented on #10421
Hey wait a minute - I just got to that line and fixed it myself.

No fair - I had to start dinner for my daughter!

[2017-11-29 00:44] smitpatel commented on #10421
@pmiddleton - You can submit PR if you want to :)

[2017-11-29 00:48] pmiddleton commented on #10421
@danobri - unfortunately I don't see anyway to work around this right now, other than to make the navigation property non-nullable.

[2017-11-29 00:48] pmiddleton commented on #10421
@smitpatel - that's ok as long as you have it fixed :)

[2017-11-29 01:46] pmiddleton commented on #10421
@danobri - actually I just did have one idea which is worth a shot.  You can try reversing your query.  Use the nullable object as the root of the query instead of work out from there.  I don't know your table structure but if it is a simple query it might work.  It's worth a shot.

[2017-11-29 02:13] danobri commented on #10421
@pmiddleton - Thanks for addressing the issue so quickly, and for the idea for the workaround.  Any guess at when this might make it into a release?

Unfortunately I don't think I can reverse the query, as the UDF has multiple arguments that are nullable properties.  The purpose of the UDF is to create a programmatic name for the primary entity that concatenates and formats values from a number of

[2017-11-29 02:13] Eilon commented on #9825
Well, what I'd much rather us do is just always update everything, e.g. next patch would be 2.0.4 for everything, even if there are no changes. If you can help get buyoff on that from @DamianEdwards , that would simplify many things.

[2017-11-29 02:26] smitpatel commented on #10405
It turns out that this is not something providers can control directly. It is being generated here
https://github.com/aspnet/EntityFrameworkCore/blob/6281180714df2659604bce00bee793ced5788cf1/src/EFCore.Relational/Query/RelationalQueryModelVisitor.cs#L1567-L1577

It is at the intersection of many issues. The code specifically solve #8375 for Left outer join case. The code would become more concise

[2017-11-29 03:58] ralmsdeveloper commented on #10416
@ajcvickers  you can closed?

[2017-11-29 07:08] roji commented on #10405
@smitpatel thanks for the guidance, I'll try to find some time to look at this soon...

[2017-11-29 07:09] roji commented on #10405
BTW opened https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/271 to track as it's an Npgsql issue, you may consider closing this issue unless you wish to investigate EF Core changes related to it etc.

[2017-11-29 07:50] rpokrovskij commented on #10420
So this means "it is normal since  abstraction leaks are normal with EF core /ORM and ASP tubes".
They can explain this way any design fail.

[2017-11-29 08:27] DerGary commented on #10414
@ajcvickers Thanks for the suggestion I just tried it and EF was able to create a Migration but i got some strange Columns in the database:

[code]

I used the following model to create this behaviour:

[code]

[2017-11-29 08:32] JonPSmith commented on #10415
Thanks for your input @smitpatel.

I agree that the Model and the database are different, but the idea of my tool is to report differences that suggests the database isn't in the right state for the EF Core application's model. In this case the Model/database difference is correct for the situation. I'm trying to find a way to spot this and not raise an error.

The feedback you guys have given is

[2017-11-29 08:43] kdrapel commented on #10416
@ralmsdeveloper Just one last question, I somehow expected the error message to at least indicate the faulty table or/and index, is this lack of information related to way the vendor is providing you context or is there something to do on your side.  Is there a way to make this more verbose?

[2017-11-29 11:31] attiqeurrehman opened #10425 "Update Disconnected Entity"
I want to update the disconnected entity with its child but I am getting the following error:

[code]

### Steps to reproduce

Please download the [Opiniated.zip](https://github.com/aspnet/EntityFrameworkCore/files/1513589/Opiniated.zip) project, after unzipping it, run it and try to create a job with associated employee manager in swagger.

[code]
it will create the job with associated project ma

[2017-11-29 11:38] ralmsdeveloper commented on #10416
Hello @kdrapel,
  Records are sent by methods, in scaffolding generation, of each provider.
For you to visualize what is happening, configuring something like this in your DbContext:

[code]

class:
[code]

[2017-11-29 12:01] mrpmorris opened #10426 "CollectionEntry.IsLoaded is false when collection is loaded but empty"
When I execute DbContext.SomeSet.Include(x => x.SomeCollection) and that collection is empty, the EntityCollection for that reference returns IsLoaded=false instead of IsLoaded = true.

### Steps to reproduce
(See attachment, which includes full test case)

[EFCoreChildMembersIsLoaded.zip](https://github.com/aspnet/EntityFrameworkCore/files/1513687/EFCoreChildMembersIsLoaded.zip)

[code]

### Furt

[2017-11-29 12:55] ralmsdeveloper commented on #10426
Have you tried using:
_`secondContext.Entry (root) .Collection ("Children").Load();`_

[code]

Does that solve what you need?

[2017-11-29 13:15] Misiu commented on #827
@ajcvickers any news about this? It is added to backlog, but I can't find any information about any progress.

[2017-11-29 13:31] mrpmorris commented on #10426
@ralmsdeveloper I don't need to load it, I need to know if the developer has loaded it.

[2017-11-29 13:31] renepierre17 opened #10427 "Subtract date in SQL Server"
I have the following class:

[code]
I run the linq below and it does not bring me anything!
[code]
SQL:
[code]

It does not generate exception, just did not see something that subtracts the date in SQL eg DATEDIFF

### Further technical details
EF Core version: (2.0.1)
Database Provider: (e.g. Microsoft.EntityFrameworkCore.SqlServer)
Operating system: Windows 10
IDE: (e.g. Visual Studio 2017)

[2017-11-29 14:23] Xarkam opened #10428 "Cli migration fail with $(SolutionDir) in csproj"
I want make a `dotnet ef migrations add InitialCreate -v` and build faild because I have a `$(SolutionDir)` in my csproj :
[code]
I have no exception, just a message telling me that the build failed.
[code]
### Steps to reproduce
To reproduce, simply add similar code given at the beginning of this issue and try to make a migration.

### Further technical details
EF Core version: 2.0.1
Database Pro

[2017-11-29 14:28] cincuranet opened #10429 "Make StringBuilderExtensions public?"
Would it be possible to make `StringBuilderExtensions` public? Especially for provider writers the methods there are useful and reimplementing/copying these doesn't make much sense.

[2017-11-29 14:30] joacar opened #10430 "Missing multi-part identifier when executing ToListAsync"
### Failing query
[code]

Corresponding `ToList()` version works (see code at the bottom). Just paste the code into an empty WebApplication project and launch it.

The async version works if the `OrderBy` references a single property e.g. `OrderBy(p => (int?) p.ProfileInstagram.FollowCount) ?? 0)`

SQL Server Express 13.0.4001.0 (English)

### StackTrace
[code]

### Further technical details
Micro

[2017-11-29 15:55] cincuranet opened #10431 "Why are AppendIdentityWhereCondition and AppendRowsAffectedWhereCondition abstract and rest is virtual?"
Why are `AppendIdentityWhereCondition` and `AppendRowsAffectedWhereCondition` abstract and rest is virtual?

In _FirebirdClient_ I don't have any code path where these could be used (but I do use other parts from `UpdateSqlGenerator` like i.e. `AppendInsertCommandHeader`), yet I still have to override these and have a dummy code there.

Would making these virtual brake anything?
Maybe even, given

[2017-11-29 16:03] KallDrexx opened #10432 "Stop adding connection string into code when scaffolding"
When I run the command:

`dotnet ef dbcontext scaffold "<connection-string>" Microsoft.EntityFrameworkCore.SqlServer -o "Data" -c "ApiDbContext" -f`

It generates a `ApiDbContext.cs` file with the following:

[code]

I have literally just spent 2 hours trying to figure out why my our staging environments were hitting our development databases instead of our production databases.  We run this comma

[2017-11-29 16:29] pmiddleton commented on #10427
You're going to have to call DateDiff manually via a UDF.  See #10241 on how to setup DateDiff.

[2017-11-29 16:59] ErikEJ commented on #10432
I will investigate adding the option to have the connectionstring removed to my  "EF Core Power Tools"

[2017-11-29 17:05] ristogod commented on #9415
This is the part that is confusing me profusely. All the code example are always provided out of context, so I'm never quite sure where to apply these fixes.

Our solution doesn't have the DbContext in the same assembly as Web Project. We have a Data project that has DbContext defined in it. So it doesn't contain startup.cs because it's not the project that runs.

So when we run migration using a

[2017-11-29 17:22] ralmsdeveloper commented on #10427
Hello @renepierre17,
For now we can use the solution that @pmiddleton quoted, @smitpatel gave an example of how to use this. (#10241)

We will have something more interesting, there is a PR for this already (https://github.com/aspnet/EntityFrameworkCore/pull/10264)

That way, we will not need to create extra functions.

Why we will have all these functions available in EF.Functions, with the tempo

[2017-11-29 17:57] bricelam commented on #10409
Response files are a general feature of the command-line argument parser. We'd simply turn it on for the `dotnet ef` commands.

The feature lets you read command-line arguments from a file. For example, if `ECHO` supported it (it doesn't), you could to this to print out the contents of `message.txt`.

[code]

`dotnet ef` would never automatically load one of these files. You'd always have to speci

[2017-11-29 18:02] bricelam commented on #9415
@ristogod Does [this docs page](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation) help?

[2017-11-29 18:26] ajcvickers commented on #827
@Misiu When an issue is in the backlog it means that the EF team is intending to work on it at some point in the future, but is not actively working on it now--that's what the "backlog" is. For this issue specifically, there are several sub-issues, one of which is being worked on for 2.1--#9290. I believe the other sub-issues are also still in the backlog.

[2017-11-29 18:40] bricelam commented on #10399
I'm not able to repro this using 2.0.1

[code]

[2017-11-29 18:45] ajcvickers commented on #10425
@attiqeurrehman Looks like there are multiple instances of Job with the same ID in the graph that is being attached. The code will need to do identity resolution in some way to generate a graph that contains only a single entity instance for any given key.

[2017-11-29 18:47] bricelam commented on #2394
Calling `dbContext.Database.Migrate()` during app start (or from an admin or first-run page) could be an alternative.

Another alternative is to manually apply the script generated by `dotnet ef migrations script --from {currentMigration}` as part of your deployment process.

[2017-11-29 18:49] bricelam commented on #2394
(Even if Web Publish could get the script, I don't think MSDeploy knows how to run it against SQLite)

[2017-11-29 18:51] bricelam commented on #10413
Looking for #3053?

[2017-11-29 18:53] bricelam commented on #10412
Shouldn't your SQL use `N'Poč'` instead?

[2017-11-29 18:54] ErikEJ commented on #10432
@KallDrexx Implemented in the latest daily build: https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools

[2017-11-29 18:55] rousseauo commented on #10099
I encoutered the same problem. Adding a migration that should generate a new table caused a bad migration when this new table owned a complex type property.

Ex: I had 2 entities, Member & Business, wich both have a complex type Address
I created a 3rd one, Entrepreneur, also with a complex type property (owned property).
The generated migration renamed Member-->Entrepreneur, Business-->Member and

[2017-11-29 18:59] DamianEdwards commented on #9825
@divega we were never going to version everything the same. The desire to align the milestone names was to ensure they reflected the same time period/release across all repos and make it easier to query all issues in a single milestone across the entire organization. If we do what @Eilon is suggesting, then that will be true for the actual versions too, however, it will mean always shipping every

[2017-11-29 19:01] KallDrexx commented on #10432
That's neat and I 100% appreciate it, but unfortunately most of our developers do not use Visual Studio proper anymore, we are mixed between Rider and VS Code (mostly for cross-platform support) :(.

[2017-11-29 19:35] ajcvickers commented on #10367
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-29 19:36] ajcvickers commented on #10369
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-29 19:36] ajcvickers commented on #10375
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-11-29 19:45] ristogod commented on #9415
Yes it does actually.

I was able to create the DesignTimeContextFactory. Then I used `<PackageReference Include="Microsoft.EntityFrameworkCore.Tools" Version="2.0.1" />` instead of `<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="2.0.1" />` which allowed me to run migrations where the project was `netstandard2.0` instead of `netcoreapp2.0`. Thanks.

[2017-11-29 19:46] renepierre17 commented on #10427
Thanks @ralmsdeveloper,
I really appreciate that, it will be very useful.

[2017-11-29 21:34] bricelam commented on #10428
The `$(SolutionDir)` is only set if you are building in Visual Studio or building the `*.sln` file directly. To make your project's more robust, you should add something like the following:

[code]

[2017-11-29 21:36] ajcvickers commented on #10414
@DerGary How about this?
[code]

[2017-11-29 21:37] bricelam commented on #10428
Another commonly used form: (so you don't have to type the correct number of `..`s)

    $([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), WebApplication.sln))

[2017-11-29 21:39] ajcvickers commented on #10390
We discussed this in triage and decided that the current behavior is correct. That is, if EF opens the connection, then EF will send a PRAGMA based on the value of SuppressForeignKeyEnforcement. This is true regardless of whether or not EF created the connection. However, if the application opens the connection, then it is the responsibility of the application to send any pragmas desired for that

[2017-11-29 21:43] ajcvickers commented on #10401
@glucaci Thanks for the additional info. I'm going to close this as a duplicate of #9906. There needs to be some more design to understand what this will actually involve, but this issue is valuable input into that process.

[2017-11-29 21:47] ajcvickers commented on #10413
@kmolerov As @bricelam says, the underlying motivation here seems a lot like #3053, so I'm going to close this as a duplicate. However, any solution to #3053 is likely to involve not creating explicit migrations rather than using auto-incrementing IDs. For explicit migrations, we think that using a semantic name is better practice that ID numbers. This doesn't mean you can't use numbers manually,

[2017-11-29 21:48] ajcvickers commented on #10416
Note from triage: we will investigate if there is some assumption in our code that needs to change to avoid this.

[2017-11-29 21:50] #10421 closed

[2017-11-29 21:57] smitpatel opened #10433 "Query: Distinct on non-materialized QSRE could give incorrect result"
https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Specification.Tests/Query/GearsOfWarQueryTestBase.cs#L2726-L2738

Generates
[code]
This could generate incorrect results if `Gears` table has some non-mapped columns. So even though expectation is distinct records there could be duplicates.
We should probably expand * projection to full list of mapped properties here to get closer t

[2017-11-29 21:58] ajcvickers opened #10434 "Handle type conversions in SQL generation"
Consider cases like #10427 which involves SQL translations for DateTime calculations. If the property has been mapped to some non-datetime type, then this kind of translation will not work anymore. Instead, query should either:
* Do a different translation
* Revert to client evaluation

Probably client eval is what we can realistically do in the short term, but in the future it would be good to ha

[2017-11-29 22:00] smitpatel commented on #10405
Thanks @roji I have subscribed to that issue so if you run into issue, I can help out.
I attempted to expand all star projections in EF Core level, and ran into binding issue (hence #10424), I am looking to fix it more appropriate way.
Another side effect which came into picture #10433 I got some ideas around fixing that too. But if you do this restrictive enough in Postgre then it should work.
Cl

[2017-11-29 22:01] ajcvickers commented on #10429
@cincuranet The problem is that we don't want to be in the business of shipping (and supporting) extension methods over basic types that we don't own. So for simple helpers like this we opted to make them internal. I believe other provider writers have copied the ones they use or source linked to the file in some way. @ErikEJ @roji may have more details.

[2017-11-29 22:02] ajcvickers commented on #10431
@AndriySvyryd This looks like update pipeline; can you answer @cincuranet's questions?

[2017-11-29 22:07] ajcvickers commented on #10432
@KallDrexx This was actually discussed at great length a few years ago. The problem is that we won't the result of reverse engineering to be runnable. If it isn't then people tend to give up immediately. We also couldn't come up with a secure way of doing this that would work across platforms/environments/frameworks. So after much debate we went with putting the connection string in, but with a wa

[2017-11-29 22:07] #9951 closed

[2017-11-29 22:11] AndriySvyryd commented on #10431
@cincuranet These methods are required to be implemented for correct behavior and there's no standard SQL that could be placed in the base implementation as far as I can tell. What would you suggest to be generated that could reasonably be expected to work across different relational databases?

[2017-11-29 22:16] Xarkam commented on #10428
@bricelam thanks.

I will look to test tomorrow

[2017-11-29 22:32] smitpatel commented on #10384
Fixed in #9522

[2017-11-29 22:32] #10384 closed

[2017-11-29 23:01] divega commented on #9825
@DamianEdwards "everything" was an exaggeration, sorry. IIRC, the idea was that .NET Core, ASP.NET Core meta-package and SDK would align, wasn't it? But they don't, which I think is new data. Then there is concrete (1 person) in this thread [saying that the mapping between the milestone and the package version is confusing](https://github.com/aspnet/EntityFrameworkCore/issues/9825#issuecomment-346

[2017-11-30 00:56] AndriySvyryd opened #10435 "Add logging event for client-side cascade delete"
This is tricky to debug when not intended

[2017-11-30 01:57] josh-sachs commented on #10432
For what it is worth, it seems to me the best compromise would have been to include an additional, optional flag that would result in the current behavior - and to have the default behavior be something that is suitable for use against a production code base.

The inclusion of the connection string is bad practice, and the tooling should work in a way that encourages people to wean themselves off

[2017-11-30 01:58] KallDrexx commented on #10432
That's sad to hear that insecurity and potentially hidden bugs are being done for hackathon mentality.  The likelihood of someone coming to EF Core to just try it out and just stumbling on how to scaffold C# entities from an existing database without looking at any documentation seems pretty slim to me.  If they are already following documentation to perform the scaffold I don't see why it's that

[2017-11-30 02:04] divega commented on #10433
@smitpatel explained that he was removing the star projection from cases like this, but it became apparent that for DISTINCT we should have the full list of columns (as opposed to just what is being projected in the outer projection).

Personally, I would not expect non-mapped columns to have an influence in the results.

There is however an optimization when the root is a scan over an entity type

[2017-11-30 02:06] smitpatel commented on #9111
Summary of a recent discussion about testing of tools interface
There are 3 splits of tests needed.
1. PMC/dotnet ef calling into mock ef.exe with correct parameters.
2. ef.exe calling into mock executor.
3. Executor calling into right entry points into (mock) design assembly.

Above would verify, from command to design assembly entry point pipeline is working correctly.
Inside design assembly the

[2017-11-30 05:16] smitpatel commented on #10432
After looking at this more closely,
the very first code snippet is actually not what we are generating with 2.0 packages.
#6686 explicitly converted code to following style.
[code]

Which makes sure that if the DbContext is configured already, it won't be reconfigured. So scaffolding actually does not change connection string and does not cause any issue of hitting wrong database. The problem does

[2017-11-30 05:20] smitpatel commented on #10432
Given that after removing `OnConfiguring` first time, "Update model from database" will preserve that modification as part of #831 and #831 being slated for 2.1.0 release, adding a flag in 2.1.0 release providers very little value.

[2017-11-30 06:19] DamianEdwards commented on #9825
@divega yeah that was the plan, and then the SDK changed to be split out again (for valid reasons), so now we're just back to .NET Core runtime and ASP.NET Core meta-package aligning. We have the OK to split those if need be, but ultimately that doesn't really help anything here. Versioning is hard 😕

[2017-11-30 06:21] hikalkan commented on #9825
Definitely :)

[2017-11-30 07:24] cincuranet commented on #10431
I would just make them `virtual` instead of `abstract`. Then these still can be overridden, yet if you don't use them, you can safely ignore them, as other virtual methods in `UpdateSqlGenerator`.

[2017-11-30 07:35] cincuranet commented on #10429
Fair enough. I suppose, given it's closed now, it wouldn't make sense to discuss creating a separate NuGet package from these (i.e. `Microsoft.EntityFrameworkCore.[Shared|Extensions]`) and marking it as "internal" (with the same reasoning behind as internal namespaces), right? ;)

[2017-11-30 07:50] BitBridgeCoin opened #10439 "Same codes, different result after updating entity framework core"
I run the same pieces of code except for packages, and got different results. Anything wrong?

Exception Message = "Sequence contains more than one element"
Stack trace: at System.Linq.Enumerable.SingleOrDefault[TSource](IEnumerable`1 source)\r\n

Previous packages:
[code]
Update one:
[code]

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the

[2017-11-30 08:22] AndriySvyryd opened #10440 "Query: Include on derived throws in async"
See [Repro10440](https://github.com/aspnet/EntityFrameworkCore/compare/Repro10440)

[code]

   at Microsoft.EntityFrameworkCore.Query.Internal.IncludeCompiler.<_IncludeAsync>d__23`1.MoveNext() in C:\enlistments\Universe\EntityFramework\src\EFCore\Query\Internal\IncludeCompiler.cs:line 349
--- End of stack trace from previous location where exception was thrown ---
   at Microsoft.EntityFrameworkCo

[2017-11-30 08:29] AndriySvyryd opened #10441 "Query: Derived include types not inferred for collections"
See https://github.com/aspnet/EntityFrameworkCore/compare/Repro10440

Using the desired syntax
[code]
results in

Have to specify types explicitly 😞 :
[code]

[2017-11-30 08:40] VincentG85 opened #10442 "SaveChanges => Value cannot be null : derivedType"
When removing an element from a specific DbSet, an exception is thrown after effective DB delete.

[code]

DataProviderfrom which Update then Commit is called:
[code]

The base class which effectively removes the element:
[code]

The entity involved:
[code]

My DbContext:
[code]

### Further technical details
EF Core version: 2.0.1
Database Provider: Pomelo.EntityFrameworkCore.MySql
Operating syst

[2017-11-30 09:19] DerGary commented on #10414
This seems to work but it looks like a janky workaround for a problem that shouldn't exist in the first place.

Thats exactly why I do not approve with the decision to break support by targeting .net standard 2.0. The whole framework does not feel production ready and a lot of workarounds need to be used to get it up and running. And everyone who develops UWP is stranded on this version for a long

[2017-11-30 13:13] jsacapdev opened #10443 "Allow opt-out of rows affected check"
A trigger is created on the database to delete an row if it meets some condition.

An entity is added to the table that matches that condition.

The call to SaveChanges() throws.

Is this by design? Is there a workaround? (other than using a third party library)

[code]

### Steps to reproduce

1. Ran the program to create a Blog.

2. Ran the program to create a post.

3. Manually created the trig

[2017-11-30 14:13] josh-sachs commented on #10432
What is ironic is you missed the part where nobody claimed beginners read documentation line-by-line, the assumption was made they are copy pasting.  The warning should educate them on how to alleviate the concern instead of requiring them to remember to revisit to the same constructor every time they update their database outside of code-first.

What is ironic is that the content of the message a

[2017-11-30 15:02] Xtrophic commented on #10214
Found an easy fix for the issue.
File: \src\EFCore.SqlServer\Storage\Internal\SqlServerUdtTypeMapping.cs
[code]
Where the addition is the line:
[code]
This will prevent any UDT from beeing set in the SqlCommand when the value is null / dbnull (which causes the exception).

[2017-11-30 15:48] ralmsdeveloper commented on #10432
@josh-sachs , I do not see sarcasm in the text @smitpatel , if you look, quotes being programmed to 2.1.

You have your opinion and your point of view, but I do not find your text productive.
@smitpatel just wanted to run something, and I believe that when he asked the beginners to see the documentation, surely the intention was good and did not disqualify anyone!

to complement: @smitpatel is one

[2017-11-30 16:05] josh-sachs commented on #10432
It's fine - I might just be having a bad day and took it the wrong way, but reading it still seems condescending.  Perhaps sarcastic was the wrong word. I recognize that I have a tendency to get combative, so apologies for that.

Regardless there is, and apparently may continue to be an issue here for teams not using code-first to drive the database schema.  My original text attempts to highlight

[2017-11-30 16:18] ralmsdeveloper commented on #10432
@josh-sachs , I'm sure the team will look at it with affection. I realized that these days they are working hard to improve many things and also make more implementations.

Your feedback is certainly valuable to the team!

[2017-11-30 16:41] ajcvickers commented on #10429
@cincuranet We've discussed that in the past as well and concluded that we don't want to do that for basically the same reasons, but that if somebody in the community wanted to create and maintain such a package, then we would consider using it and potentially even contributing to it. (I say "consider" because taking a new dependency is something that can impact more than just EF, so we have to be

[2017-11-30 16:43] ajcvickers commented on #10414
@DerGary Thanks for the feedback. Not sure there is much else we can do at this point, so closing this issue.

[2017-11-30 16:46] ajcvickers commented on #10214
@Xtrophic Would you consider submitting a PR?

[2017-11-30 19:00] olman21 commented on #10390
Got it.

[2017-11-30 19:12] ExcaliburVT commented on #9664
I am encountering this as well.  We purposefully have the root appsettings.json have a token for the connectionstring so that it can be replaced by the deployment script and have the appsettings.Development.json override the setting for the developer workstations.  The Update-Database command seems to totally ignore environment and only use the root appsettings.json.

[2017-11-30 19:57] seantarogers opened #10446 "Child inheritance generating InvalidCastException"
### Issue

I am trying to use Table Per Hierarchy inheritance in conjunction with a one to many relationship.  Both the Parent and child entities use inheritance. I have a very simple entity model. I have a one base parent entity: **Session** which has two entities which extend from it: **QuotingSession** and **BackOfficeSession**. Both of these two parent entities contain a collection of child en

[2017-11-30 19:57] carnaval opened #10447 "Query: Navigation property populated twice"
Hey.
It seems that in some instances it's possible for an `Include`ed navigation list to receive duplicate items when it's being queried while its dbset is being iterated on.

Now, I'm no EF expert so maybe it's a misunderstanding on my part but I'm assuming that querying is always supposed to be a no-op, whether you use `Include()` or not.

To be more explicit, here is a small standalone repro :

[2017-11-30 20:41] ajcvickers commented on #9825
@Eilon @divega @DamianEdwards Just another data point on this. In our issue template we ask people which version of EF Core they are using. Thirteen people have reported issues saying they are using 2.0.1. Zero people have reported issues saying that they are using 2.0.3. So it seems from this (limited) data that our customers on GitHub universally think of the release as being 2.0.1 despite effor

[2017-11-30 21:10] AndriySvyryd opened #10448 "Setting a reference twice using the same context fails"
Saving after setting `CurrentWeapon` to `null` doesn't update the relationship snapshot, so the last `SaveChanges` doesn't detect the change.

See [Repro10448]( https://github.com/aspnet/EntityFrameworkCore/compare/Repro10440...Repro10448)

[code]

[2017-11-30 21:14] slubowsky commented on #9029
With current versions (EntityFrameworkCore 2.0.1 and AutoMapper 6.2.0) this now  appears to work so closing issue

[2017-11-30 21:14] #9029 closed

[2017-11-30 21:19] AndriySvyryd opened #10449 "Marking a reference as modified throws for PK-overlapping FK"
See [Repro10449]( https://github.com/aspnet/EntityFrameworkCore/compare/Repro10440...Repro10449)
[code]

   at Microsoft.EntityFrameworkCore.ChangeTracking.Internal.InternalEntityEntry.SetPropertyModified(IProperty property, Boolean changeState, Boolean isModified, Boolean isConceptualNull) in C:\enlistments\Universe\EntityFramework\src\EFCore\ChangeTracking\Internal\InternalEntityEntry.cs:line 35

[2017-11-30 21:27] AndriySvyryd opened #10450 "Adding an item to a collection doesn't mark it as modified"
See [Repro10450](https://github.com/aspnet/EntityFrameworkCore/compare/Repro10449...Repro10450)
[code]

[2017-11-30 22:02] #1972 closed

[2017-11-30 22:34] felixhacks opened #10451 "Allow a second type argument AddDbContext to support inheritance"
I have a project running in different environments with different databases (PostgreSQL / SQL Server). I tried using the same DbContext for both databases but had some problems with migrations since vendor specific code is added (e.g. data types).

I decided to make two distinct contexts, both extending my dbContext.

[code]

From now on I added migrations using `Add-Migration -Context PgSqlParcel

[2017-11-30 23:12] ygoe commented on #5464
Why? Is it bad practice to have primary keys of two columns? Or is it too difficult to implement for EF Core?

[2017-11-30 23:15] Xtrophic commented on #10214
First time doing fork/pr etc. Let me know if there is something that should have been done differently.

[2017-11-30 23:16] anpete opened #10456 "Build fails on clean machine"
[code]

[2017-11-30 23:34] MikeYeager opened #10457 "Error NU1605 Detected package downgrade: Microsoft.NETCore.App from 2.0.3 to 2.0.0"
I upgraded VS2017 to 15.4.5, verified that .NETCore SDK 2.0.3 is properly installed and upgraded all of the NuGet packages in my multi-project solution to the latest versions. The solution is configured to run all ASP.NET Core Web API projects in Docker/Linux. All of the updates went smoothly except for Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.1. It causes the build to break with this messag

[2017-11-30 23:35] gtproys commented on #7444
MikeInSwitzerland,  I am trying to run it too.

did you were able to solve the issue?

[2017-11-30 23:36] gtproys commented on #7444
I am trying to follow https://www.codeproject.com/Articles/1210559/Asp-net-core-Angular-Build-from-scratch-a-web
with code but i am not able to get over that step

[2017-11-30 23:42] bricelam commented on #10456
Yuck, happening during `Directory.Delete(path, recursive: true)`.

Theories:
* `Path.GetRandomFileName()` might be returning the same string now that we do more in parallel.
* Antivirus might still be looking at the directory. We can add some retries or just ignore errors.

[2017-11-30 23:54] #8050 closed

[2017-12-01 00:28] bricelam commented on #10457
It looks like you've included `Microsoft.EntityFrameworkCore.Tools.DotNet` as a `PackageReference`. It should only be included as a `DotNetCliToolReference`.

[code]

[2017-12-01 01:07] Eilon commented on #10298
Keeping the issue open for tracking purposes.

[2017-12-01 04:09] roji commented on #10405
@smitpatel just to be sure I understand... are you working on avoiding star projections for cases which would include the one described above (with xmin)? If so I wouldn't really have anything to do here, right? Otherwise I'll take a look on my side.

[2017-12-01 04:12] CodeSwimBikeRunner opened #10460 "Migration not working in a WebApi Project with an external Assembly reference"
**Steps to reproduce**

Create a new Solution and add a Class Library(.NET Core) Project. Add EntityFramework Core as a nuget package, and EntityFrameworkCore.Tools. This Project is called DAL. Set up a DataContext. Seen below.

[code]
Create a new Solution and add a WebApi project that injects and initializes the DbContext. This Project is called WebApi.
Reference the DAL Assembly in the WebApi P

[2017-12-01 04:22] ChristopherLClark commented on #10460
I needed to install EntityFrameworkCore in the DAL Project as well. I had installed the Tools but not the main nugetpackage.

[2017-12-01 04:32] smitpatel commented on #10405
I will be fixing making sure that `SelectExpression._starProjections` is accurate enough for all cases. Removing all star projection does not seem best idea because of smaller SQL with * projection. So eventually all the cases where explicit listing of columns needed like #10433 EF or provider could expand star projection into list. It would be similar to xmin scenario but xmin is provider specifi

[2017-12-01 10:12] gcali commented on #10334
Today I found the same issue; I added a new DbSet and, instead of simply creating a new table, it started renaming tables and dropping/creating columns in other tables. While the result is coherent with the expected model, it leads to data loss.

Unfortunately I cannot share the code of this project; but I can say that I noticed that the issue might be linked to complex types. The migration has th

[2017-12-01 11:30] mpawelski commented on #10387
Thank you guys for this great answers! It really helped me in learning EF Core.

[2017-12-01 13:37] cincuranet commented on #10429
OK. I'll keep that in mind. Maybe later we can extract some base layer for providers.

[2017-12-01 14:45] jaredcnance commented on #626
I think it would also be beneficial to have some form of hook to notify if a LINQ expression was not able to be translated. I am aware that this gets logged, but it would be helpful to have a programmatic way to escalate it from a simple WARN log to some other form of notification. This, of course, makes the most sense during development but it is not always obvious to the developers.

The primary

[2017-12-01 15:39] smitpatel opened #10462 "SqlServer: EF.Functions.FreeText which takes list of columns as parameter"
PR #10408 is adding support for `EF.Functions.FreeText`. In SQL server, `FREETEXT` also takes a list of columns as parameter. Creating this issue to determine design of client side API and implement translation according to that.

[2017-12-01 15:48] xaviergxf commented on #6482
Did anyone knows how to create queries with its explicit schema name? I need this to use with SqlDependency which has some crazy restrictions.

[2017-12-01 17:59] anpete opened #10463 "Filters: Error when referencing DbSet in filter"
[code]
yields:
[code]
And, accessing via a closure fails, in a slightly different way:
[code]