[2017-08-14 20:45] ajcvickers commented on #8825
@bricelam I think this one does meet the bar--we have seen lots of people hit this. Your thoughts?

[2017-08-14 20:48] ajcvickers commented on #8862
@smitpatel Does this, in your option, still meet the bar for a patch?

[2017-08-14 20:49] ajcvickers commented on #8930
Marking for re-triage as it is not clear that this meets the current bar for a patch.

[2017-08-14 20:51] ajcvickers commented on #9105
@smitpatel What are the consequences of not parameterizing? Is it only cache misses in the query cache?

[2017-08-14 20:56] pmiddleton commented on #9397
For a database driver to add support for new functions it needs to do two things.

Derive from RelationalEvaluatableExpressionFilter and override IsEvaluatableMethodCall.  This method is used by ReLinq to know which functions will be translated by the driver.  ReLinq will attempt to evaluate any function not returned by this function when it reduces the query.

Derive from RelationalCompositeMetho

[2017-08-14 21:11] ajcvickers commented on #9401
@AndriySvyryd This seems to be the same issue you were hitting when testing UWP. Is there an external NuGet issue we can reference? Also, can you post the "assets fallback" workaround? (Or let me know I'm off-base if this is a different issue. 😸)

[2017-08-14 21:14] AndriySvyryd commented on #9401
@hannespreishuber This is a known NuGet issue, it's fixed in version 4.3.0.4365. As a workaround add this to your project file:
[code]

[2017-08-14 21:19] bricelam commented on #8825
Agree. Super low risk too. (one-liner)

[2017-08-14 21:20] bricelam commented on #8930
The workaround is pretty painful, but `2.0.0` is out now so I could go either way...

[2017-08-14 21:23] dozer75 commented on #9101
Confirmed that it works in EF Core 2.0, so I'm happy :)

[2017-08-14 21:23] #9101 closed

[2017-08-14 21:37] bricelam opened #9406 "Test: Upgrade to 2.3.0 Beta 4"
There are a few more analyzer issues we need to fix before upgrading.

[2017-08-14 21:41] ajcvickers commented on #9291
@joeaudette For cases where you want to set a default value for use in existing rows when migrating the database, but don't want EF to use the default value for any newly inserted rows you can do this:
[code]
This tells EF that even though the column has a default, the EF runtime should not make use of that default.

[2017-08-14 21:45] joeaudette commented on #9291
@ajcvickers thanks for the tip! That is great, does that also eliminate the warning?

What I did to solve it was first add the default as true, generate a migration, then remove the default and generate another migration, and that also worked as the first migration made sure existing rows got true and then the second migration removed the default and eliminated the warnings.

[2017-08-14 21:47] ajcvickers commented on #9292
Duplicate of #8925

[2017-08-14 21:49] ajcvickers commented on #9291
@joeaudette Not sure if it removes the warning, but I will check when I do the work to update the error message.

[2017-08-14 21:49] divega commented on #8443
@MisinformedDNA from our initial discussions with Cosmos DB, we are not likely going to target the Table Storage API. We could close #1142 because we are not doing it, but it is not necessarily encompassed.

[2017-08-14 23:18] ajcvickers opened #9409 "Clarify which async operations can actually happen in parallel"
In the comment here https://github.com/aspnet/EntityFramework/issues/8026#issuecomment-318715840 @anpete indicates that something like this should work in 2.0:

[code]

But this is not true--I was able to make it fail quite easily since it creates a race condition in the state manager when tracking the new entity--see full repro code below. (A sleep can be added to the state manager to make it fai

[2017-08-14 23:28] smitpatel commented on #9105
@ajcvickers - Yes.

[2017-08-14 23:29] smitpatel commented on #8862
It is regression. So we should fix it. 😞

[2017-08-14 23:47] mguinness commented on #5837
Have MSFT considered working w/ a 3rd party to achieve this?  There is an excellent product by Devart called [Entity Developer](https://www.devart.com/entitydeveloper/editions.html) which has EF Core support.

They've done this in the past with Dotfuscator Community Edition and Devart has a similiar Entity Developer Express Edition (which is limited to 10 tables).  Seems like this could be advanta

[2017-08-15 00:29] AndriySvyryd commented on #9401
@hannespreishuber Note that if you compile in release mode most queries will currently fail due to https://github.com/aspnet/EntityFramework/issues/9355

[2017-08-15 00:37] #9074 closed

[2017-08-15 02:47] smitpatel commented on #3000
@AndriySvyryd - Is this something no longer relevant after new testing pattern?

[2017-08-15 02:53] smitpatel commented on #200
@anpete - is this duplicate of #2341

[2017-08-15 02:53] smitpatel commented on #202
@anpete - ?

[2017-08-15 02:54] smitpatel commented on #619
@AndriySvyryd

[2017-08-15 02:54] smitpatel commented on #500
?

[2017-08-15 02:56] smitpatel commented on #800
@maumar - Is this something we already did or tracking somewhere else?

[2017-08-15 02:58] smitpatel commented on #1063
Duplicate of #8443 ?

[2017-08-15 02:59] smitpatel commented on #1175
@AndriySvyryd

[2017-08-15 03:04] smitpatel commented on #1561
Skip/Take are already parametrized in EF Core.

[2017-08-15 03:06] smitpatel commented on #1807
We already did in Specification.Tests packages.

[2017-08-15 03:07] smitpatel commented on #1883
@maumar - What would be current exception message?

[2017-08-15 03:09] smitpatel commented on #2076
I will just clean this up.

[2017-08-15 03:10] smitpatel commented on #2182
@anpete

[2017-08-15 03:12] smitpatel commented on #2817
Is this `Include` valid scenario which we would want to fix?

[2017-08-15 03:13] smitpatel commented on #2927
We may be already doing this.

[2017-08-15 03:14] smitpatel commented on #3078
This may be already working.

[2017-08-15 03:33] jeyara commented on #4649
@vsevolodsa You can call it inside the constructor of your dbContext

[2017-08-15 03:42] anpete commented on #200
@smitpatel Yep

[2017-08-15 03:51] anpete commented on #2182
@smitpatel Not done.

[2017-08-15 03:51] #2927 closed

[2017-08-15 03:56] John0King opened #9411 "[question] Does EF Core 2.0 support GroupBy translate to SQL ?"
I read it from wiki , what happened ?

[2017-08-15 04:02] smitpatel commented on #9411
duplicate of #2341
It is being implemented in 2.1.0

[2017-08-15 04:13] divega commented on #2927
@anpete @smitpatel please try to assign resolution and milestone when you close, unless it is too much work to figure out the right values.

[2017-08-15 04:17] anpete commented on #2927
@maumar Can you add the milestone when this was done (outer parameter introduction).

[2017-08-15 04:24] divega commented on #2927
The final release milestone is sufficient. E.g. if it was in a 2.0 milestone, 2.0.0 should be enough.

[2017-08-15 04:35] #9406 closed

[2017-08-15 05:34] ErikEJ commented on #5837
@mguinness The sqlite toolbox does this already for sqlite, sql server and sqlce

[2017-08-15 09:03] emiliano84 commented on #9401
@smitpatel where can I kindly find  6.0.0 previews of Microsoft.NETCore.UniversalWindowsPlatform?

and guys is there any way to follow its development/roadmap? for ef, .net core and asp.net core I found everything on github, but for UWP I couldn't. thanks!

[2017-08-15 10:23] idochynets opened #9412 "Unable to migrate database changes"
The Propblem:

I want to apply migrate changes to my database, but always has an error for sql server express instance
'CREATE DATABASE permission denied in database 'master'. Connection string:
"DefaultConnection": "Server=JOHNYDEE\\SQLEXPRESS;Database=Traffikation;User ID = sa; Password = "password";Trusted_Connection=True;MultipleActiveResultSets=true"

[code]

### Steps to reproduce
Include a

[2017-08-15 10:25] bilal-fazlani opened #9413 "Microsoft.EntityFrameworkCore.DbUpdateException when saving with ForeignKey attribute"
SaveChanges() throws exception when `ForeignKey` attribute is used.

[code]

### Steps to reproduce

[code]

### Notes:

1. This only breaks when I use the foreign Key attribute. If I remove the property `BlogId` from `Comment` class (& also remove the `ForeignKey` attribute), EF doesn't throw exception.
2. This only breaks in EF Core. In EF 6.x, EF doesn't throw exception.

### Further technical

[2017-08-15 10:29] xaviergxf opened #9414 "Create ToSql extension method"
Hi EF guys,

    I'm trying to use the EF and SqlDependency together.  I'm using EF Core to generated the SQL and then  inject it into SqlDependency. Here's a sample of the usage:

[code]

The ToSql method i'm using comes from:
http://rion.io/2016/10/19/accessing-entity-framework-core-queries-behind-the-scenes-in-asp-net-core/

The current implementation of ToSql was working fine for .net core 1.1

[2017-08-15 11:06] nicollaas94 commented on #9376
AutoSaveChanges are false, I'll try to get time to create an sample today

[2017-08-15 11:47] alojoshka commented on #1368
Is there any approximate time schedule for implementing pure many-to-many support in EF Core (without join table as entity)? we are waiting for this feature to start porting all our projects to Ef Core.

[2017-08-15 11:53] masha6 commented on #8527
Any plans/roadmap/timeline for this important feature?

[2017-08-15 12:04] SergeyBarskiy commented on #9347
I got an OK to share compiled model, @divega .  If you provide email address, I can send it to you.
Thanks.

[2017-08-15 13:16] DSilence commented on #9038
This is something that we've immediately noticed after updating. A lot of our queries broke, since we're using async everywhere. Kinda frustrating that this hasn't been fixed before stable release.

[2017-08-15 13:24] divega commented on #9347
Thanks @SergeyBarskiy. My email is like my alias here + @ + the company I work for + .com.

Didn’t you have a chance to test the performance with 2.0 final (we released it yesterday).

[2017-08-15 13:33] daviatorstorm opened #9415 "Cannot make migration. ef core 2.0"
I've migrated from .NET Core 1.1 to .NET Core 2.0. Have some troubles with EF Core 2.0. I'm using multi environment. `dotnet-ef` command missing `-e` (environment) option, that is required in my project.

`dotnet ef migrations add Test -c BackendContext -v`

Error

    Using project \Backend.csproj'.
    Using startup project \Backend.csproj'.
    Writing '\obj\Backend.csproj.EntityFrameworkCore.t

[2017-08-15 13:34] DavidBurela commented on #8443
Now that EF core 2.0 has been released. Hopefully this can get considered for 2.1 now <3
Been looking forward to it since 2014 when the original #1035 was created

[2017-08-15 14:00] twistedtwig opened #9416 "Multiple context operations in parallel - how to find - call stack in thread pool"
I'm getting this exception -

[code]

I understand the reason for this, however I've carefully checked and there's no async / multithreaded code I can see anywhere.  The stack trace is simply:

[code]

### Steps to reproduce
Big and complex project - can you assist with some tips as to how to track down which query is being executed, etc?  There are no async calls I can see, and no multithreaded c

[2017-08-15 14:02] twistedtwig commented on #9416
Incidentally, I was getting random errors about connection states and data readers until I added `ToList` to the end of all my queries.  That's what caused this more informative message to appear - prior to that it was all `SingleOrDefault()` and no nice message.

[2017-08-15 14:40] daviatorstorm commented on #9415
Found a [solution](https://wildermuth.com/2017/07/06/Program-cs-in-ASP-NET-Core-2-0)

[2017-08-15 15:39] weitzhandler commented on #5536
There needs to be a better and more comprehensive solution to deal with disconnected entities.

Xamarin.Forms is acquired by MS, but no official proper solution is offered to deal with client data.

Trackable Entities does a fare job but doesn't rely on metadata from server, while Breeze# which is indeed comprehensive is not maintained anymore and doesn't support PCLs and Xamarin.Forms.

[2017-08-15 15:40] weitzhandler commented on #8739
Besides Azure tables doesn't give an answer to dealing with complex entity graphs, like TrackableEntities or Breeze does. Please see #5536.

[2017-08-15 15:48] MisinformedDNA commented on #8443
@divega Cosmos DB is essentially four different APIs to do different things. I would expect either a single Cosmos DB provider to handle all four APIs (seemingly this issue) or four separate Cosmos DB providers, one for each of Cosmos DB's APIs. The latter seems more reusable, composable and maintainable.

[2017-08-15 16:04] alojoshka commented on #1368
I think many-to-many feature was always one of the weak points even of EF6. In NHibernate the implementations was much better - it just worked simply and stable without the need of difficult implementations (adding, deleting and modifying connected lists on any side caused needed operations in  join table without the need to modify both collections before saving the context). Hopefully the Ef Core

[2017-08-15 16:06] ChristopherRobinSuperStar opened #9417 "And how about AutoDetectChangesEnabled with AddDbContextPool in ef core 2.0?"
Now I get  "System.InvalidOperationException: 'OnConfiguring cannot be used to modify DbContextOptions when DbContext pooling is enabled.'"

And is it nessesary to set it like this or what is the best way to do it?
db.ChangeTracker.AutoDetectChangesEnabled = false;
db.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

Thanks!

[2017-08-15 16:25] mguinness commented on #5837
@ErikEJ Although you have a great tool, it isn't a full replacement for the old EDMX designer yet.  Maybe I'm missing something (I saw the DGML export), but there is no GUI to view the database entities.

I could be wrong, but I think a lot of EF6 users are looking for the EDMX designer experience (using database first) which Entity Developer provides (see below).  If you have plans to add that fu

[2017-08-15 16:55] bricelam commented on #5837
@mguinness You're looking for issue #1027

[2017-08-15 17:19] smitpatel commented on #9214
Fixed via 7529563ec9136359a78a223f6e69441641a03924

[2017-08-15 17:19] #9214 closed

[2017-08-15 17:19] smitpatel commented on #9360
fixed via 7529563ec9136359a78a223f6e69441641a03924

[2017-08-15 17:19] #9360 closed

[2017-08-15 17:39] smitpatel commented on #9414
Updated method which works in 2.0.0 RTM
[code]

duplicate of #6482

[2017-08-15 17:40] smitpatel commented on #6482
This is small extension method you can include in your code to get SQL for a query. It works in 2.0.0 bits. It uses internal methods so can break in future releases.
[code]

[2017-08-15 17:50] steji113 opened #9418 "EF Core 2.1 Roadmap Update"
# Roadmap Update
I know EF Core 2.0 was just released, but it might be helpful for contributors and users alike to have an idea of what the roadmap for EF Core 2.1 is looking like. Is this something that can be updated [here](https://github.com/aspnet/EntityFramework/wiki/Roadmap)? Also, it would be an immense help to developers if these feature comparison doc pages could be updated as well [here]

[2017-08-15 17:51] smitpatel commented on #9413
This is working as expected.

When you use `context.Entry(comment).State = EntityState.Added;` to add comment to context, EF sets state for that entity only. Hence comment will be in `Added` state but blog will be in `Detached` state. When you call `SaveChanges` on this, it will assume that blog already exist in database and will just insert new comment. Since `comment.BlogId` is not initialized i

[2017-08-15 18:00] hiyelbaz commented on #9418
+1 I think feature comparison should have a higher priority.

[2017-08-15 18:00] smitpatel commented on #9412
This is issue with your SQL Server configuration. Please make sure
- You have appropriate authentication mode enabled.
- You can connect to database using userid/password or windows auth.
- Whichever mode you connect has permission to create database.

You can read more about how to configure SQL Server in its documentation.

[2017-08-15 18:10] smitpatel opened #9419 "Query: Translate Array.Any"
[code]
Causes client eval
[code]

[2017-08-15 18:10] smitpatel commented on #3078
Contains is already working. Filed #9149 for Any

[2017-08-15 18:10] #3078 closed

[2017-08-15 18:21] smitpatel commented on #2076
This is no longer an issue since we moved to Dependency object for parameters in constructor and that fixed it.

[2017-08-15 18:21] #2076 closed

[2017-08-15 18:21] maumar commented on #9419
dupe of https://github.com/aspnet/EntityFramework/issues/6660

[2017-08-15 18:35] fergalmoran commented on #9402
When will the ubuntu apt feed have the latest cli?

[2017-08-15 18:36] maumar commented on #1883
Fix for #3910 should address this. New exception is (will double check that the scenario in the bug is affected)

[code]

[2017-08-15 18:40] maumar commented on #800
somewhat related to https://github.com/aspnet/EntityFramework/issues/6061

[2017-08-15 19:21] AndriySvyryd commented on #7614
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 19:24] AndriySvyryd commented on #9012
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 19:24] #9012 closed

[2017-08-15 19:30] AndriySvyryd commented on #8188
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 19:37] smitpatel commented on #9012
@AndriySvyryd -Do we have EF 2.0.1?

[2017-08-15 19:44] AndriySvyryd commented on #9012
@smitpatel We will soon

[2017-08-15 19:46] #9370 closed

[2017-08-15 19:47] AndriySvyryd commented on #6537
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 19:50] AndriySvyryd commented on #5119
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 20:00] Lave4269 commented on #9188
Scaffolding is also broken for varchar(8000) for I'm guessing is the same problem as above.

[2017-08-15 20:09] AndriySvyryd commented on #5841
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0

[2017-08-15 20:15] giggio commented on #8480
This is one of those things that should just work and that enable a good code writing experience. The ORM is almost invisible. This is a must. Good one!

[2017-08-15 20:18] AndriySvyryd commented on #6423
Verified that this is fixed in the prerelease builds of EF 2.0.1 and UWP 6.0.0 at least for Release (x86)

[2017-08-15 20:32] AndriySvyryd commented on #9281
@bricelam For SQL Server the exception is:

   at Microsoft.EntityFrameworkCore.Scaffolding.Internal.SqlServerDatabaseModelFactory.Create(String connectionString, IEnumerable`1 tables, IEnumerable`1 schemas)
   at Microsoft.EntityFrameworkCore.Scaffolding.Internal.RelationalScaffoldingModelFactory.Create(String connectionString, IEnumerable`1 tables, IEnumerable`1 schemas, Boolean useDatabaseNames

[2017-08-15 21:05] ajcvickers commented on #9413
In EF6, changing the entity state Added worked the same as calling Add--that is, it operated on the whole graph. This was because EF6 couldn't handle partially tracked graph. With EF Core, changing the state is an intentionally lower-level method that operates on a single entity. This is needed to make APIs like TrackGraph usable. So closing this as by-design because the EF Core/EF6 difference her

[2017-08-15 21:05] AndriySvyryd commented on #9401
@emiliano84 You can get the daily builds from https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json

But to compile you will also need Windows 10 RS3 Insider Preview, the corresponding SDK and Visual Studio 15.4 Preview

[2017-08-15 21:32] AndriySvyryd commented on #1175
@smitpatel We still have this code

[2017-08-15 21:33] AndriySvyryd commented on #619
Fixed in f5af64f38dc55cb857a5598765c2eb0678ae62a9, 644dec8482805ef4ebf2d6faf4d05a25294bb574

[2017-08-15 21:33] #619 closed

[2017-08-15 22:01] bricelam commented on #9281
Hmm... `MarshalByRefObject` is part of .NET Standard 2.0

[2017-08-15 22:22] smitpatel commented on #9367
Simplified Repro:
[code]

Observations:
net461 - query runs with stable memory usage.
netcoreapp2.0 - Memory grows over time while query is running.
Still trying to find exact issue. Seems like memory leak in some dependency at netcoreapp level.

[2017-08-15 22:35] AndriySvyryd commented on #7582
@MichalStrehovsky This hasn't improved in 6.0.0 prerelease

[2017-08-15 22:39] #9281 closed

[2017-08-15 22:42] AndriySvyryd opened #9422 "Snapshot change tracking is slow"
The scenario in https://github.com/aspnet/EntityFramework/issues/7582 is slow even in desktop app

[2017-08-15 22:51] AndriySvyryd opened #9423 "UWP Design: Better message when "the process has no package identity""
System.TypeInitializationException: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnection' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.InvalidOperationException: The process has no package identity. (Exception from HRESULT: 0x80073D54)
   at Windows.Storage.ApplicationData.get_Current()
   at

[2017-08-15 23:04] zlstringham commented on #9422
Can this be clarified? Does "desktop app" imply WPF, UWP on desktop, ...?

[2017-08-15 23:04] mguinness commented on #5837
@bricelam Ah yes, you're correct.  Apologies for muddying the waters here.

[2017-08-15 23:06] AndriySvyryd commented on #9422
@zlstringham net462 Console App

[2017-08-15 23:12] AndriySvyryd commented on #4336
See https://xunit.github.io/docs/getting-started-devices-uwp.html for how to create a testing app

[2017-08-15 23:18] mguinness commented on #1027
@itanex I had the opposite experience, I wasn't impressed with LLBLGen (not intuitive) but liked Entity Developer.  I guess we may have different requirements, but I thought that DevArt provides a similar experience to the old EDMX designer.

I'd recommend anybody that still needs database first take a look at the [express edition](https://www.devart.com/entitydeveloper/editions.html) which althou

[2017-08-15 23:19] smitpatel commented on #9367
This happens for both reference & collection include.
It is specific to include only. Shadow property access which would cause QueryBuffer is working stable.

[2017-08-15 23:20] ajcvickers commented on #9323
@smitpatel Where did we end up with this? Hopefully, if we scaffold HasDefaultValueSql, then we don't also scaffold ValueGeneratedOnAdd, and likewise for HasComputedValueSql and ValueGeneratedOnAddOrUpdate?

[2017-08-15 23:27] mguinness commented on #6482
@smitpatel That looks very similar to the work by [Ricardo Peres](http://blogs.msmvps.com/ricardoperes/2016/08/30/implementing-missing-features-in-entity-framework-core-part-5-getting-the-sql-for-a-query/), perhaps you should give some attribution?

[2017-08-15 23:33] smitpatel commented on #6482
@mguinness - I found that in linked issue #9414 which references different source. I corrected the code to work for 2.0 on that issue. Posted here since there were more watchers on this.

[2017-08-15 23:34] ajcvickers commented on #5473
@afshan3 This issue is closed and doesn't appear to be directly related to your question. Can you please file a new issue with full details of the versions you are using and the steps needed to reproduce the issue. Thanks!

[2017-08-15 23:37] smitpatel commented on #9323
We would generate `ValueGenerated*` only if it would be different from conventions. For the case of HasDefaultValueSql, convention would give the same result so we were not scaffolding the function. (like wise for computed column.

This change was just to make sure, that DatabaseModel SqlServer is passing to Design does not have redundant data. DatabaseModel was setting ValueGenerated.OnAddOrUpdat

[2017-08-15 23:39] ajcvickers commented on #9323
Thanks @smitpatel. Sounds perfect.

[2017-08-15 23:53] AndriySvyryd opened #9424 ".Contains on a tuple collection doesn't work"
This works in 1.1.2.

Add this test to SimpleQueryTestBase.ResultOperators.cs:

[code]

	at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
	at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
	at System.Threading.Tasks.Task.Wait()
	C:\enlistments\Universe\EntityFramework\src\EFCore.Specification.Tests\Query\Quer

[2017-08-15 23:58] smitpatel commented on #9424
Does it client eval in 1.1.2?

[2017-08-15 23:59] AndriySvyryd commented on #9424
Probably

[2017-08-16 02:11] JimLynn commented on #9336
I've just encountered this problem myself, upgrading from EFCore 1.0 to 2.0.

An included navigation property works after a GroupBy, but when you add an OrderBy on the group, the included properties are ignored, and are null in the results.

[2017-08-16 02:34] divega commented on #9281
@bricelam could a binding redirect help?

[2017-08-16 04:13] caleblloyd commented on #9014
@ajcvickers can the EF team get this on the schedule for 2.1?  I believe that providing a method to fix this race condition in DBMS's that support Repeatable Read transactions is important for consistency.

[2017-08-16 04:45] pmiddleton commented on #9320
I will take this one, as I did create the problem.  It seemed like a good idea at the time :)

[2017-08-16 07:55] kierenj commented on #9416
(@twistedtwig and I work together) - in the end, there was an issue further up the DI tree which was the ultimate cause.
However we were wondering if there's value in keeping this open to see if -

a) there's a problem where the helpful error message isn't triggered when using `SingleOrDefault()`
b) there's anything that can be done to give more context about the query - the stack trace/message di

[2017-08-16 08:54] coronabytes opened #9425 "ToList in Select hangs forever in EF Core 2.0"
Upgraded our aspnetcore application to 2.0 yesterday and while most things seem to work I found one query that now hangs forever in an endless loop.

The issue seems to be the ToList in the Select projection, while not the most elegant solution this was working in efcore 1.1.2.

as soon as i remove the output selection completely or or remove the ToList and save it to an IEnumerable<> instead of L

[2017-08-16 10:15] Dave3of5 opened #9426 "DbContextPool what happens after pool size is reached"
It's not described anywhere what happens with DbContextPool when the pool size is reached and another DBContext is created.

If I am reading [this](https://github.com/aspnet/EntityFramework/blob/69f870ab1f32b3185c3599887fbe020c0f70c445/src/EFCore/Internal/DbContextPool.cs
) correctly it just creates a brand new DBContext rather than take one out of the pool ?

Is this correct ?

[2017-08-16 10:29] kamleshdelat commented on #9180
Unable to determine the relationship represented by navigation property occurring issue after migration of asp.net core 1.1 to 2.0

[2017-08-16 10:36] kamleshdelat opened #9427 "Unable to determine the relationship represented by navigation property occurring issue after migration of asp.net core 1.1 to 2.0"
public class Contact
{
    public int ContactId { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Email { get; set; }

  [ForeignKey("CreatedById")]
    public User CreatedBy { get; set; }

[ForeignKey("UpdatedById")]
    public User UpdatedBy { get; set; }
}

public class User
{
    public int UserId { get; set; }
    public string

[2017-08-16 10:55] abhijitajmera commented on #9180
We are having the same issue in our projects. Would appreciate a decent workaround if available and a quick fix. Maybe also update test cases to avoid this regression.

[2017-08-16 10:56] fitzchak opened #9428 "context.Database.GetDbConnection() should expose also the ConnectionId"
Maybe it is better to add GetConnection which would return the IRelationalConnection which also expose the ConnectionId in addition to the DbConnection.

See: https://github.com/aspnet/EntityFramework/blob/fbaebcbfb57f245edfded68f0bad78f4978d8867/src/EFCore.Relational/RelationalDatabaseFacadeExtensions.cs#L336

[2017-08-16 11:57] ArnaudDebaene opened #9429 "Add a way to observe transactions commit/rollback"
It would be usefull to add an API to be able to observe transactions commit/rollback. For example, an event TransactionCompleted could be added to IDbContextTransaction (similar to what is available in Systm.Transactions.Transaction)

[2017-08-16 12:37] divega commented on #9426
@Dave3of5 that sounds correct. The size argument can be used to limit the number of instances that EF Core will keep in the pool (e.g. even when the application becomes idle), but it won’t limit the total number of instances that can be created. I.e. if you are using “size” instances and a new one is needed, it won’t block.

Cc @anpete

[2017-08-16 12:49] JuanIrigoyen commented on #8434
I have tested a new solution using the latest version of EF core 2 and DataAnnotations, my current file pass from 22000 lines to 10000. However most of the lines in this file refer to the default values, I do not agree with this approach, since the default values should be part of the metadata of the entity using an attribute how [DefaultValue(0)]. In any case use a file with half of lines makes i

[2017-08-16 13:55] bricelam commented on #9281
I don't think so. I think the facade is just missing a type forward.

[2017-08-16 14:28] chassq opened #9430 "Refernce 'Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0' Fails"
We are trying to reference Microsoft.EntityFrameworkCore.Tools.DotNet from our scaffold project (netcoreapp2.0). We get this error

Severity	Code	Description	Project	File	Line	Suppression State
Error		Package 'Microsoft.EntityFrameworkCore.Tools.DotNet 2.0.0' has a package type 'DotnetCliTool' that is not supported by project 'z_scaffold\db.scaffold'

[code]

### Steps to reproduce
Create new neta

[2017-08-16 15:00] Dave3of5 commented on #9426
@divega What's the point of this then ?

I would assume most people would use this to limit the number of DBContext objects that are created but it doesn't really do that.

Clearly this doesn't work in a similar fashion to the connection pooling in ADO.Net which was implied in the documentation.

I just can't see a good use case for this.

[2017-08-16 16:05] smitpatel commented on #9425
duplicate of https://github.com/aspnet/EntityFramework/issues/9128

[2017-08-16 16:29] ajcvickers commented on #9375
@ErikEJ Did you ever figure out why your code was working in 1.1 and then broke in 2.0? Is it anything we need to be concerned about?

[2017-08-16 16:34] bricelam commented on #9418
To see our current ambitions for 2.1, you can always look at [the issues in the 2.1.0 milestone with the type-enhancement label](https://github.com/aspnet/EntityFramework/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.1.0+label%3Atype-enhancement).

[2017-08-16 16:42] bricelam commented on #9423
Current thoughts: Re-throw that exception (with that HRESULT) in EFCore.Design with a friendlier "not supported on UWP at design time" message.

[2017-08-16 16:44] bricelam commented on #4336
Sweet.

[2017-08-16 16:46] bricelam commented on #8434
I will look into this as part of #831.

[2017-08-16 16:46] MarcoLoetscher commented on #9418
Can you please add the issue number to the following paragraphs:
[Critical O/RM features](https://github.com/aspnet/EntityFramework/wiki/Roadmap#critical-orm-features) and [High priority features](https://github.com/aspnet/EntityFramework/wiki/Roadmap#high-priority-features) according to the paragraph [EF Core 2.0 (under development)](https://github.com/aspnet/EntityFramework/wiki/Roadmap#ef-core-

[2017-08-16 17:02] AndriySvyryd commented on #9180
@abhijitajmera The workaround is in the first comment, you need to configure the relationship using Fluent API

[2017-08-16 17:03] ErikEJ commented on #9375
@ajcvickers I got the timeline wrong, it was never in 1.1!

[2017-08-16 17:04] mguinness commented on #9390
Pomelo just released [2.0.0-rtm-10056](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/2.0.0-rtm-10056).

[2017-08-16 17:24] abhijitajmera commented on #9180
@AndriySvyryd Thanks. The work around worked well. Thanks.

[2017-08-16 17:31] ajcvickers commented on #9375
Thanks Erik. 😄

[2017-08-16 17:36] smitpatel commented on #9430
External issue https://github.com/NuGet/Home/issues/4190

[2017-08-16 17:36] marianosz commented on #9306
Same error here with the same scenario
`xception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.EntityFrameworkCore.Query.Internal.IncludeCompiler.IncludeLoadTreeNodeBase.<_AwaitMany>d__8.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(

[2017-08-16 17:40] mhosman commented on #1368
+1, please implement Many To Many via shadow state entities!!!!

[2017-08-16 17:51] bricelam commented on #9418
Added a few. The ones related to some points but didn't cover the whole thing:

* RevEng: Support Views (#1679)
* Allow for declaring aggregates in the model (#1985)
* Relational: TPT inheritance mapping pattern (#2266)
* Relational: TPC inheritance mapping pattern (#3170)
* Turn-key Disconnected Entities Solution (#5536)
* View types support (#9290)

[2017-08-16 17:59] smitpatel commented on #9427
[code]
Works perfectly fine and generated migration on 2.0.0 packages.
Please provide a console app reprocuding the issue

[2017-08-16 18:06] #1308 closed

[2017-08-16 18:07] ajcvickers commented on #1561
Already fixed a different way.

[2017-08-16 18:09] ajcvickers commented on #1807
Triage: we think that what we have now is good enough and there is not enough ROI for doing something more.

[2017-08-16 18:09] #1807 closed

[2017-08-16 18:17] ajcvickers commented on #9038
@maumar Do you think this should be considered for patch?

[2017-08-16 18:25] steji113 commented on #9418
Thanks for the updates!

[2017-08-16 18:42] idochynets commented on #9412
It's wrongly closed i think :(

I'm using Sql Server Auth mode
I'm sure that credentials are right, i used sa and custom user with appropriate credentials, also the both has 'db_creator' or 'sys_admin' server roles

But in case when i'm connecting to standalone sql  server instance it trying to connect under domain user which is not exist on sql server and ignore connection string user
In case whe

[2017-08-16 19:08] ajcvickers commented on #9412
@idochynets It would be better to follow up with SQL Server on this--EF isn't doing anything special here, so if there are cases that don't work which you think should, then that's likely an issue with better addressed by SQL Server people.

[2017-08-16 19:19] idochynets commented on #9412
Many thanks for your comment @ajcvickers, if problem will be resolved on my side, i will add my solution here :)

[2017-08-16 19:29] maximtarasov opened #9433 "Using pooling for multiple DbContexts causes exception"
[code]

[code]

[code]

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.InMemory 2.0.0
Operating system: Mac OS X High Sierra
IDE: Rider

[2017-08-16 19:37] robinchesterman commented on #7889
I'm still seeing this issue.

My main console app and related data access class library (that contains my DbContext) are both targeting .NET Core 2.0.

Nothing I can see references 4.0.2.1.

Both projects have 4.4.1 of System.Diagnostics.DiagnosticSource installed, and both have the `GenerateRuntimeConfigurationFiles` workaround added.

[2017-08-16 20:06] ajcvickers commented on #9347
@divega Re-opened and assigned to you for now so we don't forget about this. We can re-triage based on the results of looking at the repro.

[2017-08-16 20:08] maumar commented on #9038
I would say so, given that this used to work before 2.0 (which we didn't realize)

[2017-08-16 20:10] alojoshka commented on #1368
for us it means "forget about Ef Core for now". This solution adds a lot of shim to every m-m entity, and it is not implementable for business applications with hundreds of entities. Unfortunately.

[2017-08-16 20:23] ajcvickers commented on #1901
Triage: we discussed this and we think parameter names are generally pretty good now, but even if there are cases where we generate the name above, then we're still okay with that. We can revisit this in the future of it becomes an issue with the community or we discover cases where names are very unreadable and/or confusing.

[2017-08-16 20:27] ajcvickers commented on #2817
@fabiohvp We're not 100% what the intention was when this issue was filed, but in EF Core things have progressed a lot in the last two years. The Select expression inside Include is not supported in EF Core--instead use Include/ThenInclude syntax, as described in the docs. So closing this for now. If you believe there is still an issue with EF Core, then please re-open and provide more details. If

[2017-08-16 20:30] AndriySvyryd commented on #9423
Perhaps we should detect a UWP project and preemptively direct the users to create a separate project to use for all the EF design tools.

[2017-08-16 20:41] ajcvickers commented on #9405
@EdwinSaenz Thanks for filing this issue. We had discussed this in the past and also re-assessed today and we are going to keep the current behavior. It's certainly not an easy choice, but it stems from this:
* Query filters only apply to queries against the database. Once an entity is tracked by the state manager it is always accessible regardless of what filters are being used. There are several

[2017-08-16 21:05] bricelam commented on #7889
@robinchesterman Have you installed the [.NET Core 2.0 SDK](https://www.microsoft.com/net/download/core)?

[2017-08-16 21:15] bricelam commented on #5595
Will we need aspnet/Microsoft.Data.Sqlite#294 for this?

[2017-08-16 21:26] AndriySvyryd commented on #5595
We don't _need_ it, since this is mostly about the work in Relational. It will probably still throw for providers that don't explicitly support it.

[2017-08-16 21:57] smitpatel commented on #1901
parameter names
`@__firstName_0`
& `@__details_LastName_1`

[2017-08-16 22:19] smitpatel opened #9434 "Query: Hide extension method on IQueryable"
https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore/Extensions/Internal/QueryableExtensions.cs#L48

This select shows up in intellisense while using R# We should not have extension methods on IQueryable on public surface unless it is for public usage.

[2017-08-16 22:50] ajcvickers commented on #9415
@daviatorstorm Updating an ASP.NET Core application from 1.1 to 2.0 is covered by this doc: https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/

It would be great if you could comment on the doc with any issues you ran into that are not covered by the guide.

[2017-08-16 23:00] ajcvickers commented on #9417
@ChristopherRobinSuperStar When using DbContext pooling the best approach is to build the DbContextOptions externally and pass it to the DbContext constructor. When using AddDbContext (typically for ASP.NET Core applications) this is done using something like this:
[code]
If not using AddDbContext, then create a new DbContextOptionsBuilder explicitly and use this in the same way.

Note that AutoDe

[2017-08-16 23:09] ajcvickers commented on #9426
@Dave3of5 The point of DbContext pooling is to allow reuse of DbContext instances from a pool, which for certain scenarios can result in a performance boost over creating a new instance each time. This is also the primary reason for connection pooling in ADO.NET, although the performance boost for connections will be more since connections are generally a more heavyweight resource.

This is actual

[2017-08-16 23:32] ajcvickers commented on #9428
@fitzchak We had a design similar to that in the early days of EF Core, but we decided to simplify the API by collapsing the connection. Things that are commonly used are exposed directly or as extension methods. However, things like ConnectionId are relatively low level and so not exposed directly. For code that does need access it's quite easy to get the IRelationalConnection when needed:
[code]

[2017-08-16 23:33] ajcvickers commented on #626
Consider what can be done to observe transactions commit/rollback--see #9429

[2017-08-16 23:34] ajcvickers commented on #9429
@ArnaudDebaene I've added a note to #626, which the the overall issue covering this kind of event. For now, you might want to look into what events are available on DbConnection and DbTransaction and try using those directly.

[2017-08-16 23:54] e-davidson opened #9436 "What is the best way to remove entities from an untracked child collection"
What is the best way to remove a child entities from an untracked entity that came from a web application?
If I want to avoid fetching the missing children just for the sake of removing them, I'd need to write the sql manually.
[code]
The issue with that method is
A. Now I need an extra call to the database.
B. Its no longer a transaction when I call SaveChanges(). I now must use _context.Database

[2017-08-17 00:17] ajcvickers commented on #9409
The failure above no longer repros with the current dev code. However, there is another race condition whereby if the first query has partially tracked the entity when the second call looks for it in the state manager (as part of in-memory find rather than as part of query) then a partially initialized state entry is returned which will look corrupt--for example State is set to Detached. So it sti

[2017-08-17 00:22] ajcvickers commented on #9014
@caleblloyd It's something we plan to do some thinking around, but we're not even sure what approach to take at this time. We're not sure yet whether always using repeatable read is the best approach for the default behavior, whether it should be opt-in, whether it should remain an application concern, or whether to do something different. @anpete and @divega will do some investigation and thinkin

[2017-08-17 00:25] ajcvickers commented on #9180
@AndriySvyryd Do you think this meets the bar to patch in 2.0.1?

[2017-08-17 00:46] MaximBalaganskiy opened #9437 "Diagnostics logging is incompatible with windows EventLog"
After an upgrade to EF Core 2.0 EventLog provider throws an exception
[code]

### Steps to reproduce
https://github.com/MaximBalaganskiy/EfEventLogIssue

### Further technical details
Target Framework: net461
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Windows 10
IDE: Visual Studio 2017

[2017-08-17 00:47] MaximBalaganskiy commented on #9437
The base event id is defined [here](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore/Diagnostics/CoreEventId.cs) and this is not compatible with the EventLog provider

[2017-08-17 02:05] SergeyBarskiy opened #9438 "Scaffolding of Sql Server DbContext does not handle properly nvarchar(4000) columns"
If I scaffold  Sql Server Database using 'dotnet ef dbcontext scaffold', it does not handle properly nvarchar(4000) columns.  They are generated as HasType("nvarchar") without length specification.  This cause exception during model validation phase.

### Further technical details
EF Core version: 2.0 RTM
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: Win 10
IDE: Visu

[2017-08-17 02:15] SergeyBarskiy commented on #9347
I emailed you the project, @divega
Things have gotten worse in 2.0 from 1.0, I went from 40 seconds to 2 minutes.  memory usage was pretty high too, over 110MB.

Here is Program.cs listing:
using Microsoft.EntityFrameworkCore;
using System.Linq;
using System;
using System.Diagnostics;

namespace EFLargeContext
{
    class Program
    {
        static void Main(string[] args)
        {

[2017-08-17 04:15] raky291 commented on #7152
.NET Core 2.0 was released and this error is keeping, there are something new with this issue?
Anyone knows any alternative solution to this problem?

[2017-08-17 04:29] luisms89 commented on #9128
@shlomiw do not move to EF 6. I have the same issue using EF 6.1.3

[2017-08-17 05:08] jbt00000 commented on #9427
I'm seeing this same issue in my app too.  I'll try to get either a repro or a resolution.

[2017-08-17 05:21] kamleshdelat commented on #9427
I resolve it https://github.com/aspnet/EntityFrameworkCore/issues/9180#issuecomment-322735278

using Workaround
protected override void OnModelCreating(ModelBuilder modelBuilder)
{
	base.OnModelCreating(modelBuilder);
	modelBuilder.Entity<Relation>(e =>
	{
	   e.HasOne(r => r.AccountManager).WithMany(u => u.AccountManagerRelations).HasForeignKey(r => r.AccountManagerId);
	   e.HasOne(r => r.SalesM

[2017-08-17 05:55] ErikEJ opened #9439 "Improve Tools packages descriptions"
See https://stackoverflow.com/questions/45703613/whats-the-difference-between-efcore-tools-and-efcore-tools-dotnet

[2017-08-17 06:12] smitpatel commented on #9438
duplicate of #9188

[2017-08-17 06:19] popcatalin81 commented on #1368
@rowanmiller @bricelam @ajcvickers Not that 2.0 is out, do you have any updates for us regarding this item?  A roadmap update would be really helpful.

[2017-08-17 06:45] Dave3of5 commented on #9426
So I take from this there is no intention to allow this functionality? If so, how would you limit the number of connections EFCore would be allowed to make to the Db? So the reason I ask is to stop a Db from being overloaded with connections from a server.

If I set a max connections in the connection string is this overall for the server or for each context?

[2017-08-17 07:03] divega commented on #9347
@ajcvickers I got the repro from @SergeyBarskiy. This can now be assigned in triage to someone that is going to perform the actual investigation and then I will forward the repro. Thanks.

[2017-08-17 08:17] leak commented on #329
It is really disappointing that such an essential feature as simply renaming a column via migrations is still unsupported in 2.0

[2017-08-17 08:29] amirreza58 opened #9440 "EF Core 2.0 includes not accessible in WHERE with NotMapped Property"
I have 2 entity
[code]
[code]
and there relations (works well in EF core 1.x)

this code works well in EF core 1.x:

[code]
after upgrading to EF core 2.0.0 with same database :

[code]
NullReferenceException for ProductsInventory ,its looks like view_availability property dose not access to ProductsInventory

this code works :
[code]
so my ProductsInventory is not null

### Further technical deta

[2017-08-17 09:51] divega commented on #9401
@AndriySvyryd FWIW, PackageTargetFallback is deprecated and customers should use AssetTargetFallback instead.

[2017-08-17 11:15] rooonikz opened #9441 "PropertyBuilder specific methods can be used by different property types"
In EF6 we have type specific types and its' methods (e.g. StringPropertyConfiguration and IsUnicode()) to configure mapping between C# Entity and SQL Table. Now, in EF Core we can apply IsUnicode() method of PropertyBuilder<T> FluentAPI even on datetime type and so on. Would not it be better to have only type specific PropertyBuilders as it was previously implemented in EF 6 ? Thanks.

### EF 6
[c

[2017-08-17 11:34] ivankarpey commented on #9033
@bricelam It's not clear for me what is the purpose of implicit call of `BuildWebHost` method? Why it called on every operation?

[2017-08-17 13:06] dazinator commented on #9339
Could you also provide an example of running a `scaffold` programtically?

[2017-08-17 13:08] #9418 closed

[2017-08-17 13:10] divega commented on #9418
I have updated both the [roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap) and the [feature comparison page](https://docs.microsoft.com/en-us/ef/efcore-and-ef6/features).

@bricelam I would like to understand where the list at https://github.com/aspnet/EntityFrameworkCore/issues/9418#issuecomment-322848857 fits :smile:

[2017-08-17 13:12] ErikEJ commented on #9339
https://github.com/ErikEJ/SqlCeToolbox/blob/master/src/GUI/EFCoreReverseEngineer/EFCoreReverseEngineer.cs

[2017-08-17 13:13] dazinator commented on #9339
@ErikEJ - much obliged!

[2017-08-17 13:14] divega opened #9442 "Sample EF Core provider for Oracle databases"
We will build a sample EF Core 2 provider for Oracle databases.

Note that we don't plan to turn this sample into a product (and therefore we are likely not going to distribute this code in a NuGet package) but with the exercise we want to:

1. Make sure that the EF Core provider APIs are adequate and sufficient to target Oracle databases
2. Help bootstrap any efforts to build an actual production

[2017-08-17 13:16] fletchsod-developer commented on #1368
If I were you, I wouldn't keep waiting for this feature (along with 1-to-many, 1-to-1, etc.) to be fixed and move on to thinking outside of the box.  Because you will end up waiting 10 years later and no changes.

We end up creating Sparse Matrix to store fields & values (like pebble pieces) as C# class properties.  That is our database table and we used C# linq objects to write script to manipula

[2017-08-17 13:21] dazinator commented on #9339
damn.. I actually need this for 1.0.x (sorry) - the code on this issue is all for 1.1.0 I believe. Upgrading to 1.1.0 isn't something I can do very easily at present :-(

[2017-08-17 13:38] alojoshka commented on #1368
It sounds like writing own ORM. What is the task of Ef Core then, if it supports a lot of advanced features on many platforms, but doesn't support out of the box the more basic  things - reading and saving data?
Many-to-many scenario is not just an abstraction, it's a model that describes business logic, and I can't understand the logic of  Ef Core developer's team, when in 2017 I end up with writ

[2017-08-17 15:43] Igoreso commented on #6132
Is there any update? Or maybe a workaround (that doesn't involve building own EF)? It doesn't seem like this issue have been worked on in almost a year.

[2017-08-17 16:14] steji113 commented on #9418
Thanks!

[2017-08-17 16:20] MoxxNull commented on #9225
I just updated an rather large app to asp.net core 2 / ef core2 and got the same error when using OpenIddict, which worked fine on net core 1.1, and according to the author

While trying to hunt the problem down, here is a minimum project to reproduce the error: [https://github.com/MoxxNull/efcore2test](url)

Comment out
`options.UseOpenIddict();`
and the query is against the correct "SampleEntiti

[2017-08-17 16:52] ajcvickers commented on #9441
@rooonikz There were several reasons for doing things differently in EF Core, but the probably the most important is that EF Core can be used with any CLR type that a database provider can map, while EF6 only worked with a limited set of pre-defined CLR types.

[2017-08-17 16:57] wli3 opened #9443 "dotnet core cli missing option"
_From @daviatorstorm on August 16, 2017 11:35_

`dotnet core cli` missing `-e` (environment) option in command line.
I'm trying to make a migration and database update using `ef core` tools, but I cannot do it so easy as with `-e` option

_Copied from original issue: dotnet/cli#7454_

[2017-08-17 16:57] wli3 commented on #9443
Hi @daviatorstorm,

Thank you for the issue. Are you referencing this issue?

console
-e|--environment <NAME>                The environment to use. Defaults to "Development".
With 2.0, you can use the ASPNETCORE_ENVIRONMENT environment variable instead.

If so ASPNETCORE_ENVIRONMENT can be used instead.

https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2017-08-17 16:57] wli3 commented on #9443
_From @daviatorstorm on August 17, 2017 8:0_

Hello @wli3,

I'm using TeamCity as CI and multi environment. So I tried to specify directly in project directory a `ASPNETCORE_ENVIRONMENT` variable. But it doesn't work for me.

So I rolled back to `1.1`.

[2017-08-17 16:57] wli3 commented on #9443
Hi @bricelam @natemcmaster  could you help me with this issue?

[2017-08-17 16:57] wli3 commented on #9443
_From @natemcmaster on August 17, 2017 16:56_

@wli3 this isn't the right project for the issue. I recommend you move this here: https://github.com/aspnet/entityframeworkcore

[2017-08-17 16:59] ajcvickers commented on #9436
@e-davidson This issue and the ideas you propose are being tracked by #5536 (better support for disconnected entities) and #795 (set-based updates). Closing this as a duplicate of those issues.

[2017-08-17 17:02] elmojo commented on #9427
I am also seeing this error after upgrading to EF 2.0.

[2017-08-17 17:17] fletchsod-developer commented on #1368
Exactly!  We're far ahead on the new "Cloud-based Web Application" now than we were 3 years ago.  We now no longer have to deal with frequent `JOIN` bugs.  We noticed EF Core's sql query & returned result aren't the same for every same call in `JOIN`.  So we moved business logic outside of EF Core & instead passed in the seperate data back to EF Core tables for CRUD changes.

[2017-08-17 17:28] yanbu0 opened #9444 "Scaffolding self-referencing relationship in SQL Server causes stack overflow error when queried"
Describe what is not working as expected.

This took me forever and a day to figure out what was going on, but a developer left a relationship in place in the dev database that was self referencing on the primary key.  Basically, it was something like lineItem.ID = lineItem.ID, which of course doesn't make any sense.  EF Core 1.x appeared to simply ignore it, but one I upgraded to EF Core 2.0, the

[2017-08-17 17:29] smitpatel commented on #9444
Can you share model classes generated by scaffolding?

[2017-08-17 17:33] alojoshka commented on #1368
It would be fare then to announce it publicly that the **Ef Core will be cloud-based only and will never support many-to-many pattern in a classic way**, and remove this topic  from the list of issues, so developer can decide whether  to change the entire philosophy of the database development, or to choose a more appropriate ORM and platform for their future projects. But this topic is **still**

[2017-08-17 17:33] ajcvickers commented on #9427
Closing as duplicate of #9180 based on comment from @kamleshdelat. @elmojo Does the workaround in #9180 work for you? If not, can you please file a new issue with full project or code listing that reproduces the problem?

[2017-08-17 17:34] bricelam commented on #9443
How are you running the command? Can't you just update the invocation to something like this?
[code]

[2017-08-17 17:38] smitpatel commented on #9347
@divega - Can you send me project?

[2017-08-17 17:40] bricelam commented on #329
@leak Could you be hitting #9344? Renaming columns in Migrations is supported in all providers (e.g. SQL Server, PostgreSQL, etc.) except SQLite which doesn't provide native support for it. Have you considered submitting a feature request on SQLite?

[2017-08-17 17:42] elmojo commented on #9427
@ajcvickers I added the relationship it was complaining about explicitly with Fluent.  Of course, it just then complained about the next relationship if found.  So yes, the work around would fix my problem but I'd have to spend a long time writing out all the relationships in Fluent.  I reverted back to Core 1.1 until #9180 is fixed.

[2017-08-17 17:45] elmojo commented on #8498
Ditto what @assilsicom said.  I also reverted back to Core 1.1 from 2.0 and was getting this error.  Deleting the bin folders worked as stated above and resolved the issue.

[2017-08-17 17:45] smitpatel commented on #9440
Since where is on client, work-around
[code]

[2017-08-17 18:05] bricelam commented on #9339
The code is actually for 2.0.0. It shouldn't be too bad to backport. Try removing some of the `I`s from the services and just remove the non-existent ones.

[2017-08-17 18:06] bricelam commented on #9033
You want #9076

[2017-08-17 18:14] bricelam commented on #7152
@raky291 You should be able to create a .NET Standard Class Library to put your EF Core code in and use the tools.

[2017-08-17 18:16] yanbu0 commented on #9444
The below is the class in question.  The "InverseLintItem" > "LineItem" relationship seems to have been the issue.  I have removed this code and pulled this from source control so I don't have a functioning example to reproduce the error however.

[code]

Here is the code generated in the context:

[code]

[2017-08-17 18:20] neooleg opened #9445 "OrderBy doesn't work if ThenInclude uses (or how to order nested collection)"
### Steps to reproduce

There is no docs found about ordering nested collection (ThenInclude() should be used), but found some [fresh samples which should work](https://github.com/aspnet/EntityFrameworkCore/issues/5519) (based on discussion).

Hence using the same approach the following code should sort nested items, but it doesn't (no exception thrown):

[code]

### Further technical details
EF C

[2017-08-17 18:33] mhosman commented on #1368
Something important... Many to many relationships works on EF Core. The only different thing is that you need to create a Class for the join table. This discussion is about removing the need of creating that class.

[2017-08-17 18:37] smitpatel commented on #9427
@ajcvickers - Reopening issue to understand if this has same root cause as #9180. In any case of failure to find relationship, fluent API is going to fix it.

@kamleshdelat, @elmojo  - Can you share a repro code which demonstrate issue you are facing so we can verify if it has same root cause as #9180

[2017-08-17 18:37] ajcvickers opened #9446 "One-to-one relationship swaps principal/dependent moving from 1.1 to 2.0"
The model below makes one end principal in 1.1 and the other end principal in 2.0.

[code]

1.1.2:
[code]

2.0:
[code]

[2017-08-17 18:40] AndriySvyryd commented on #9446
This should throw in validation as ambiguous principal end

[2017-08-17 18:51] smitpatel commented on #9444
@yanbu0 - Can you also share "dirty" table creation script?

[2017-08-17 18:57] KhalloufHassan commented on #1100
wasn't this supposed to be released with EF Core 2.0?
is there any news about it? I working on a new project that depends heavily on locations and areas

[2017-08-17 18:59] elmojo commented on #9427
The attached file should reproduce the issue.
[ef-sample.txt](https://github.com/aspnet/EntityFrameworkCore/files/1232307/ef-sample.txt)

[2017-08-17 19:02] smitpatel commented on #9427
@elmojo - Thanks for repro code. It is indeed #9180. You can also work-around issue by removing KeyAttribute from your classes.

[2017-08-17 19:14] ajcvickers commented on #1387
See #9385 for some more ideas in this area.

[2017-08-17 19:21] alojoshka commented on #1368
the problem is that this  join entity always should be mentioned not only while saving the context, but for fetching data and building projections, and it is extremely difficult to migrate existing business logic to Ef Core, making it implementable only for the new applications, written from scratch. As it was mentioned many time in the discussion above, the lack of the possibility to migrate old

[2017-08-17 19:22] ajcvickers commented on #1387
See #8138 for additional ideas in this area--specifically around lazy loading of scalar properties.

[2017-08-17 19:22] ajcvickers commented on #8138
Consolidating issues and closing as a duplicate of #1387

[2017-08-17 19:24] ajcvickers commented on #9385
@ssougnez Thanks for your comments. I've added a note to #1387 to look here for additional ideas and I'll close this as a duplicate of #1387 so we can track this in one place.

[2017-08-17 19:28] AndriySvyryd commented on #9422
Profiling shows `AsConcreteMetadataType()` to be on the hot path

[2017-08-17 19:36] jbt00000 commented on #9427
If the declarative method is now broken and one must use the fluent API, that is an utter fail.

[2017-08-17 19:37] leak commented on #329
Well I am hitting most of the things below here: https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore.Sqlite.Core/Migrations/SqliteMigrationsSqlGenerator.cs#L150

Talking to the SQLite guys seems pointless, they have been evasive about that topic for years now. (see their mailing list archives)

I'm just wondering if SQLite is so unpopular in conjunction with EF, or does it have somet

[2017-08-17 19:48] AndriySvyryd commented on #9281
@divega, @ajcvickers  These are my final findings:
EF 2.0.1 prerelease can be used with UWP 6.0.0 prerelease without major issues with InMemory, SQLite or SQL Server providers.

To get acceptable change tracking performance `ChangingAndChangedNotifications` strategy should be used.

To use the design time tools (Migrations and Scaffolding) the context and model should be placed in a netstandard2.0

[2017-08-17 19:51] jbt00000 opened #9447 "SqlServer: Char mapping worked in 1.1 but does not work in 2.0"
After upgrading from EF 1.1 to 2.0, EF has problem validating model.  This is data first and uses attributes.

Definition was...

		[Column("XXXXX")]
		public char XXXXX{ get; set; }

[code]

[2017-08-17 19:57] ajcvickers commented on #9447
@jbt00000 Which database provider are you using?

[2017-08-17 19:59] jbt00000 commented on #9447
I'm going against Sql Azure

[2017-08-17 19:59] jbt00000 commented on #9447
In the short term, I've converted my tt file to change the mapping to string.  which is not great as there is no not null support, but acceptable in the short term.

[2017-08-17 20:00] AndriySvyryd commented on #7582
@Shayon Apart from using INPC add the attached configuration to your app RD.xml file. These will not be necessary with EF 2.1+

Also if the real model has many enum properties perf can be further improved by adding these lines to the RD.xml file:
[code]

[Default.rd.xml.txt](https://github.com/aspnet/EntityFrameworkCore/files/1232449/Default.rd.xml.txt)

[2017-08-17 20:05] figuerres commented on #1100
Just a reminder to Microsoft staff, this issue is blocking projects from using .net core, so if Microsoft wants to shift to supporting .net core and away from maintaining. Net 4 x then this needs to be addressed.

[2017-08-17 20:13] dvlkv opened #9449 "fails on _IncludeAsync"
[code]

### Steps to reproduce
Make many includes into your query, filter it and try to get data. It would fail if your are using async methods.

[code]

### Further technical details
EF Core version: 2.0.0
Database Provider: Npgsql.EntityFrameworkCore.PostgreSQL
Operating system: Windows 10 Pro
IDE: Rider 2017.1

[2017-08-17 20:20] elmojo commented on #9427
I'll try removing [Key] from my entities.  Luckily that is in a base class so that is easy to do.

[2017-08-17 20:22] jbt00000 commented on #9427
That may work for some apps, but it can also cause downstream errors.  Just tried it on my side.  As I have hundreds of such relationship, but a custom written TT file driven by an XML file, I'm going to generate the fluent mappings... but what a pain...

[2017-08-17 20:26] elmojo commented on #9427
Yeah, it is.  I just rolled back for now to 1.1.  I'll try the upgrade sometime later.  I wasted most of my day running down this issue and reverting.  Cannot waste another going back the other way.

[2017-08-17 20:31] #7582 closed

[2017-08-17 20:41] bricelam commented on #9344
Looks like the model snapshot returns `null` for `IProperty.Relational().ColumnType` if it's not configured, but the model always returns a type.

@ajcvickers @AndriySvyryd Should we change the way `ColumnType` works on the snapshot or just compensate in the model differ?

[2017-08-17 20:43] bricelam commented on #9344
If we want to make it consistent, we could either:
1. Always serialize the type into the snapshot, or
2. Lazily compute it using the current provider after the snapshot is loaded.

[2017-08-17 20:45] Shayon commented on #7582
I'm unable to see any performance improvement.  Applied the changes to `Default.rd.xml` and ran it in `Release` and saw no significant changes in speed. 😕

Do you have any performance numbers to show?  Where should I expect performance improvement?

[2017-08-17 20:46] bricelam commented on #9344
[code]

[2017-08-17 20:50] ChristopherRobinSuperStar commented on #9447
I have the same truble when start Scaffold-DbContext after updating to core 2.0. But I get the next exception "ArgumentException: Data type 'nvarchar' is not supported in this form. Either specify the length explicitly in the type name, for example as 'nvarchar(16)', or remove the data type and use APIs such as HasMaxLength to allow EF choose the data type."  For example part of generated code
`en

[2017-08-17 20:54] AndriySvyryd commented on #7582
@Shayon Using INPC these changes decrease the running time by 10% making it the same as Debug when running on the prerelease version of UWP 6.0.0 with prerelease version of EF Core 2.0.1.
Without INPC they net about x2 perf increase.
I've also opened https://github.com/aspnet/EntityFrameworkCore/issues/9422 to make this scenario faster in general.

[2017-08-17 21:04] bricelam commented on #329
I agree this is a critical feature for SQLite. I too would like to see it done as soon as possible. Unfortunately, with limited resources, it comes down to a matter of priorities, and we still have some pretty big priorities on our backlog:
* GroupBy translation
* Lazy loading
* Update model from database
* Stored procedure mapping
* Improved view mapping
* Data seeding

...just to name a few.

[2017-08-17 21:13] Shayon commented on #7582
Okay, I was unable to test with prerelease version of UWP 6.0.0 and with prerelease version of EF Core 2.0.1, so hopefully they missing performance will appear when I am able to bump versions.

I'm glad you've opened a more general ticket as well as this is still a pretty serious concern for us.  Thanks.

[2017-08-17 21:13] AndriySvyryd commented on #9344
@bricelam Probably need a design meeting, as we've already discussed this at least twice

[2017-08-17 21:16] bricelam commented on #9344
Will cue it up. Although this is mostly orthogonal to #8624.

[2017-08-17 21:19] bricelam commented on #9344
I'm leaning towards writing it into the model snapshot and compensating for older snapshots.

[2017-08-17 22:06] AfshanJL opened #9452 "\"
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.

Partial code listings, or multiple fragments of code, will slow down our response or cause us to push the issue back to you to provide

[2017-08-17 22:10] maumar commented on #9445
Include only determines which navigations are going to be loaded in the final projection. For your scenario you can try ordering on the client:

[code]

If you want to sort on the server, then you would have to construct the projection manually (i.e. Include can't be used for this) - and this currently would produce a separate query to fetch Posts for each Blog (which is potentially very slow)

[2017-08-17 22:54] smitpatel commented on #9404
Turns out we were leaking data readers in multiple spots causing MARS failure.

[2017-08-17 22:56] smitpatel commented on #7520
At present all queries return enumerable which causes us to convert single result to sequence. Improve the contract so that we don't have to do special processing and we can just return single result.

[2017-08-17 23:03] smitpatel commented on #9449
Similar to #9306

[2017-08-17 23:07] smitpatel commented on #9447
@jbt00000 - It is breaking change see https://github.com/aspnet/EntityFrameworkCore/issues/8656

@ChristopherRobinSuperStar - Please file a new issue since it is unrelated to issue reported here.

[2017-08-17 23:12] maumar opened #9455 "Query/Logging: log contents of compiled code (e.g. materializers inside a shaper) as part of the query plan"
Currently the compiled code is opaque to the expression printer, which makes it harder to debug some of the materializer code. We could improve this by creating a reducible node around shapers that would store the pre-compiled expression, which could be logged by a printer, and the node could prune itself of that extra expression (leaving just the compiled part). This way we keep the information f

[2017-08-17 23:15] MichalStrehovsky commented on #9422
For .NET native, taking the `throw` out of the method (into a throw helper) would likely allow `AsConcreteMetadataType` to get inlined. It should have some nice benefits.

It won't help the CLR though, as CLR/RyuJIT is not capable of inlining generic methods.

[2017-08-17 23:28] smitpatel opened #9456 "DataReaderDisposing inconsistency"
`RelationalLoggerExtensions.DataReaderDisposing` marks RelationalConnection as NotNull argument but in RelationalDataReader connection can be null and it is being passed to logger.

Some contract is incorrect.

[2017-08-17 23:29] smitpatel opened #9457 "Test: Use mix of ConnectionString/Connection in SqlServer functional tests"
The new testing pattern uses shared connection between tests in a fixture. We should have mix of connection string and connection pattern since most of our customers uses connection string.

[2017-08-17 23:35] iszolea opened #9458 "Unable to resolve service for type 'Microsoft.EntityFrameworkCore.Storage.IRawSqlCommandBuilder'."
The above error is returned when trying to action the following migration:
[code]

The database context is added as:
[code]
The DbContext is:
[code]
The full stack trace from the migration process is:
[code]

I am using EF Verions 1.1.2 and .net core 1.1.

Can you please provide advice on where to go from here?

Thanks
Jeff

[2017-08-17 23:35] jbt00000 commented on #9447
That's fine, the change was fairly minor in my custom tt file.

That said, if there is not a "Look at the breaking changes between EF 1.1 and EF 2.0" page, there should be one and this should make the list.

[2017-08-17 23:44] AndriySvyryd commented on #9457
Currently there are 16 SqlServer test containers using connection string

[2017-08-17 23:44] KhalloufHassan commented on #1368
@alojosgka
Did they really say they won't do it?
I was so hyped for asp core for a week and I watched all mva courses about it! I even convinced my manager to start our new project using it only to find out today this isn't supported and spatial data isn't supported either

I'm not sure we can start the project this way, how hard is it to use ef6 on asp core and move to ef core when the features a

[2017-08-17 23:45] maumar commented on #9378
fixed in 782bbf3c2c5c65d9f3a20e84d9adb1615416fbbc

[2017-08-17 23:45] #9378 closed

[2017-08-17 23:47] maumar commented on #9369
@ErikEJ  can you try these tests again once 782bbf3c2c5c65d9f3a20e84d9adb1615416fbbc gets into myget? I added some more logging for `NorthwindData.Set<T>` that will hopefully shed some more light on this issue.

[2017-08-18 00:08] AndriySvyryd commented on #9128
@anpete Do we need a new issue for patch approval?

[2017-08-18 00:57] #8762 closed

[2017-08-18 01:10] #9404 closed

[2017-08-18 02:54] douglasoliveirabh commented on #1585
@rowanmiller Is there a solution to implement complex type mapping already?

[2017-08-18 03:29] divega commented on #1585
@douglasoliveirabh we added support for owned types in 2.0, which provides a superset of the capabilities of complex types. However owned types are not mapped by convention, i.e. in order for a type to become an owned type you have to explicitly address it with the `OwnsOne` method. Given that I am not sure it would be viable to enable chained member access in the `Property<T>` method.

Reopening

[2017-08-18 05:03] raky291 commented on #7152
Hi @bricelam

I'm working with .NET Core 2.0 and these are my packages:

Microsoft.EntityFrameworkCore.Sqlite 2.0.0
Microsoft.EntityFrameworkCore.Design 2.0.0
Microsoft.EntityFrameworkCore.Tools 2.0.0

Here is my code:

[code]

And this is my output when I'm try to do a migration with the tools:

[code]

Can you give me a suggestion to solve this?

[2017-08-18 05:19] ErikEJ commented on #329
I you need an embedded database on Windows desktop, you could use the SQLCE provider

[2017-08-18 05:27] ErikEJ commented on #9369
I will, thanks!

[2017-08-18 05:36] raky291 commented on #7152
Hi @bricelam thank you

To use the EntityFrameworkCore.Tools with the .NET Standard, I needed to add a console app that references my library, and set it as the startup project.

![screenshot](https://user-images.githubusercontent.com/12045722/29445562-c38a42ae-83a4-11e7-98f4-1bfdbd60cb19.jpg)

[2017-08-18 05:39] bassebaba commented on #1368
I'm with @alojoshka here. I use the database first approach since I'm on legacy systems with existing/old databases.
Many-to-many gets really messy and I actually wish I would have explored other possibilities than ef core, but when I found out about this it was too late.

@kh please be cautious. "Release" and "production ready" does not mean the same thing for Microsoft as for the rest of us. Mig

[2017-08-18 05:44] MikeFoden commented on #1368
It's now open source, so feel free to contribute to help 'em out guys!

[2017-08-18 06:15] leak commented on #329
@ErikEJ Last time i checked that provider had similar limitations, e.g. not being able to rename columns, or did that change?

[2017-08-18 07:12] popcatalin81 commented on #1368
@MikeFoden this particular feature is unfortunately out of reach of individual contributors as it touches almost all subsystems in non trivial ways: metadata, entity tracking, query translation, reverse engineering and more.

Which means the only chance to see it implemented is if the EF team decides to do it.

[2017-08-18 07:39] ChristopherRobinSuperStar commented on #9447
But what should I do with my breaked varchar mapping?

[2017-08-18 07:47] ErikEJ commented on #329
Yes, rename column is the only Migration limitation in the SQL CE provider, compared to 10 limitations in the SQLite provider - you can work around that with AddColumn and DropColumn

https://docs.microsoft.com/en-us/ef/core/providers/sqlite/limitations

https://github.com/ErikEJ/EntityFramework.SqlServerCompact/wiki/Limitations

[2017-08-18 08:29] pavlospap commented on #9225
Same thing here...
Actually the workaround right now is to use the `ToTable("PluralTableName")` from `EntityTypeBuilder` which was not needed in the previous version...

[2017-08-18 08:56] ChristopherRobinSuperStar opened #9459 "Data type 'varchar' is not supported in this form. After updating to core 2.0"
I had my DB-first model (generated by Scaffold-DbContext command) in my Core 1.1 application.
Then I updated my application to Core 2.0. And this model worked fine with core 2.0.
Then I restarted Scaffold-DbContext command and got a new generated model. (It broke here!!!)
And now with this new model I get the next exception wnen try to get data with EFCore.

[code]
In previous version it generated

[2017-08-18 09:00] Predator404 opened #9460 "Visual Studio Crashes : System.ServiceModel.CommunicationException: There was an error reading from the pipe"
Hello,

I'm using Entity Framework Core and have run into an issue that I suspect originates in Entity Framework itself.

I've attached my solution that I'm using so that you can re-create the issue on your side.
In order to reproduce you are going to have to create a database and (obviously) apply the existing migrations to that database. The config file pointing to the database can be found at V

[2017-08-18 09:19] berets76 opened #9461 "The annotation 'Npgsql:IndexMethod' cannot be added because an annotation with the same name already exists."
I've already posted this issue to Npgsql.EntityFrameworkCore.PostgreSQL , but could be the problem is "here"; if not, anyone can address me in the right direction.

I've a 'database first' project, and after the upgrade to 2.0.0, the scaffold-dbcontext stop working throwing the following exception.

My command:
`EntityFrameworkCore\Scaffold-DbContext "Host=1.1.1.1;Database=myDB;Username=postgres;P

[2017-08-18 09:32] seb999 opened #9462 "Migration from Core 1.1 to 2.0 not working"
Dear All,

I have a dotnet core 1.1 project running in production. I upgraded it with core 2.0 and keep getting error from the EntityFramework core 2.0 and I don't get any debugger information.

![image](https://user-images.githubusercontent.com/21962276/29452849-06409ce8-8408-11e7-956b-fc6bb979f447.png)

Then I created from scratch a new .net core 2.0 project and regenerated the entity framework

[2017-08-18 09:48] badyalsk commented on #9462
I also migrated my project from Core 1.1 to 2.0.
Core 1.1 was working fine but getting the same error in core 2.0 and not get any debugger information.

[2017-08-18 09:59] alktly opened #9463 "Right approach for disabling auto-increment in EF Core 2.0"
Hello all,

I have been trying to disable auto-increment feature on EF Core 2.0 for an Id column in my OnModelCreating() method by trying different approaches such as;
[code]
and .Annotation("DatabaseGenerated", DatabaseGeneratedOption.None); however, nothing seem to work while I have

[code]
property in my OnModelCreating() method.

At the end, I got it working with following setup with no HasKey

[2017-08-18 10:33] MaklaCof opened #9464 "System.NullReferenceException on navigational property (2.0)"
This query:
[code]
Entity framework class:
[code]
throws error
[code]

### Further technical details
EF Core version: (2.0)
Database Provider: (Microsoft.EntityFrameworkCore.SqlServer) - SQL Server 2016
Operating system: Windows 10
IDE: (e.g. Visual Studio 2017)

Query is part of bigger query, which freeze entire execution of code. Step over (F10) never actually step over and web request nevery fi

[2017-08-18 10:47] mparlak commented on #9462
Hi,
 I got the same mistake.

[2017-08-18 11:22] shawty commented on #7341
@bricelam - Hi Brice, can you give us an example please?

Iv'e just hit this in a dotnet core web app using npgsql, and I'm not exactly clear on how to proceed.

Actual Exception is:

`Startup project 'gis.database.csproj' targets framework '.NETStandard'. This framework is not intended for execution and may fail to resolve runtime dependencie
s. If so, specify a different project using the --star

[2017-08-18 12:06] svallis opened #9466 "Using a navigation property to clear a foreign key fails in 2.0.0"
Given the following two (simplified) models, configured with the foreign key as `DeleteBehavior.Restrict`:

[code]

Trying to clear the asset with `product.DownloadAsset = null;` (after loading the data with `.Include(x => x.DownloadAsset)`) results in the following error:

[code]

Clearing with `product.DownloadAssetId = null;` works as expected.

Obviously I don't want any entities to be deleted

[2017-08-18 13:45] roji commented on #9461
This issue definitely belongs in Npgsql.EntityFrameworkCore.PostgreSQL rather than here (although I can't find it there). Please close this and reopen in Npgsql.EntityFrameworkCore.PostgreSQL.

[2017-08-18 13:46] roji commented on #9461
Apologies, found the other issue: https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/228.

Please close this one.

[2017-08-18 13:48] eltjo-k commented on #2266
You can avoid the problem to a certain extend by not mentioning the base class in the context definition:
[code]
[code]
If you want to enjoy the benefits of class inheritance, but at the same time store the entities in their own tables you'll have to repeat the model building procedure for every type individually.
[code]
If you need to map private properties on a base class, make them `protected`,

[2017-08-18 13:55] hikalkan commented on #8576
I suggest to check https://github.com/zzzprojects/EntityFramework.DynamicFilters to get idea. It's widely used and makes same thing for EF6.

[2017-08-18 14:01] ColinRaaijmakers commented on #9433
Got the same problem, using multiple DbContexts with .UseSqlServer.

[2017-08-18 14:06] Ben-Pattinson commented on #2341
Mind-boggling that they got out of beta without a working Group By functionality. Every time I tangle with EF I end up lowering my expectations. I keep thinking I know how limited it is and then it gets worse.
Personally I think this kind of limitation ends up putting the whole Core project into Beta status. It's interesting, but if you don't have a solid data access technology you can use, it's u

[2017-08-18 14:11] alktly commented on #9463
Just an update on this.

It turns out it is a flaw on many to many relationship situation.

I had tables such as License, Products and ProductLicenses. These are two entities with many to many relationship and a shared table which is called ProductLicenses.
In OnModelCreating() table, I have placed ProductLicense properties before Product properties which caused no affect for Product properties as

[2017-08-18 14:12] leus commented on #1368
What @popcatalin81 says, and further more, even if one individual decides to bite the bullet and implement it, chances are it's not going to be merged because of its scope. (I believe this actually happened.)

[2017-08-18 14:37] MaklaCof opened #9467 "IDesignTimeDbContextFactory Constructor with parameter"
I implement IDesignTimeDbContextFactory for dotnet ef migrations add.
My current code is:
[code]
But I don't want hard coded ConnectionString.
I tried like this:
[code]
but I get error:

when executed
`dotnet ef migrations add`

How to get connection string from `appsettings.json`?

[2017-08-18 15:10] fletchsod-developer commented on #1368
In addition to what <b>@popcatalin81</b>  and <b>@leus</b> mentioned, is many of us are lacking available time, knowledge & researches for us to make useful contributions to EF Core codebase.  We're also afraid to contribute, only to find EF Core features get cannibalize later on.

[2017-08-18 15:14] MaklaCof opened #9468 "The binary operator AndAlso is not defined exception in Select"
This code:
[code]
returns error:

Callstack:
[code]

EF Core 2.0
SQL Server 2016
Microsoft windows 10

[2017-08-18 15:28] bricelam commented on #7152
Correct. You can also just use the class library if you edit the `*.csproj` to cross-target .NET Core:
[code]

[2017-08-18 15:32] bricelam commented on #7341
[code]

[2017-08-18 15:44] ajcvickers commented on #9344
Agree with @bricelam.

[2017-08-18 16:08] bricelam commented on #9459
Duplicate of #9188

[2017-08-18 16:24] shawty commented on #7341
Thanks for that Brice.

[2017-08-18 16:28] ajcvickers commented on #9447
@jbt00000 Curious: in 1.1, was the `char` property being populated with the correct value from the database when running a query? What is the column type in the database?

[2017-08-18 16:32] jbt00000 commented on #9447
it was a

char(1) not null

And... the best I can say is that nobody had reported a bug on that value...

I have a custom TT file that had changed that type into a char, as such, the change on my side was pretty trivial once I understood this to be a permanent change.

[2017-08-18 16:34] bricelam commented on #9344
I changed my approach (see the PR). There were a few other places we only want the value if it was explicitly configured by the user. Also, while writing them in the snapshot is fine, that would make it more difficult to keep them out of the migrations where they definitely shouldn't be.

[2017-08-18 16:44] ajcvickers commented on #9458
@iszolea Ideally you shouldn't need code like this in your migration--instead use the MigrationBuilder.Sql method.

That being said, the code posted is configuring the context in the service provider, but then creating a new context instance explicitly rather than resolving the context from the service provider. So you need to either resolve the context from the service provider, or explicitly con

[2017-08-18 16:55] ajcvickers commented on #9447
Re-opening this to investigate if this should be added back--we had previously thought the the 1.1 mapping we had was broken, but if it is not, then we should add it back.

[2017-08-18 17:06] stevejgordon opened #9470 "Include with InMemory provider does not return records when required navigation are null"
I have a question and possible bug to report in EF Core 2.0.

In our project we have been using the InMemory provider with EF as part of our unit testing strategy. We are able to setup a clean InMemory "database" with a set of test data which we can then use to validate our query code is working as expected.

After upgrading to 2.0.0 I noticed that we had multiple test failures across the project.

[2017-08-18 17:11] ajcvickers commented on #9225
Note for triage: In the repro provided the code is using an external IModelCustomizer, which means the default customizer that does the naming is not getting used.

@bradmarder @MoxxNull @pavlospap As a workaround, can you try deriving your customizer from RelationalModelCustomizer? Calling the base.Customize method should then set the table names appropriately.

Long term, we probably either need

[2017-08-18 17:26] ajcvickers commented on #9466
@svallis We made some changes to the way DeleteBehaviors work in 2.0. I can't find the announcement for this (@divega--do you know where it is?) but here is the draft I wrote for it in #8923:

So it looks like you need to configure the relationship as DeleteBehavior.ClientSetNull, or just don't configure it at all since this is the default. Question: why were you explicitly configuring Restrict in

[2017-08-18 17:33] tipa commented on #8922
Any updates on this?

[2017-08-18 17:38] ajcvickers commented on #9437
@divega If you have any spare thinking cycles I'd appreciate your thoughts on this. I haven't been able to come up with any good ideas on how to proceed.

@Eilon Would appreciate your thoughts too. The event IDs are too long for Windows EventLog, but changing them would be a breaking change...

@AndriySvyryd @anpete @bricelam @smitpatel @maumar Any ideas?

[2017-08-18 17:41] ajcvickers commented on #9433
Note for people hitting this: the workaround is to not use pooling. (Pooling can give some perf improvements, but if it is so much that it is needed by your app to even function then I'd be very interested to see the numbers. We will, of course, fix this, but probably not until the 2.1 release.)

[2017-08-18 17:43] ajcvickers commented on #9446
@AndriySvyryd Can you investigate this so we can determine if the regression is enough to fix in a patch? (Not sure we can make it fail in model validation now, but willing to at least consider that for 2.1.)

[2017-08-18 17:44] Rick-Anderson commented on #2467
FWIW, more customers will be hitting this now that we're creating more CLI docs. See https://github.com/aspnet/Scaffolding/issues/599

[2017-08-18 17:46] ajcvickers commented on #2467
@Rick-Anderson Why do we have sample projects with no default namespace?

[2017-08-18 17:52] Rick-Anderson commented on #2467
@ajcvickers maybe this is rare. When you follow the instructions at aspnet/Scaffolding#599, you get no namespace. The project has a namespace, not the DC.
It's not clear the CLI requires you to add a namespace for the DC.

[2017-08-18 17:56] ajcvickers commented on #2467
@Rick-Anderson It may not be required, but it's certainly best practice. If we have some guidance or tooling that is by default creating classes not in any namespace, then I think the real thing to address is that guidance and tooling. (Think about what VS does--every project you create or class you add to it is in a namespace by default; it's idiomatic to .NET.)

[2017-08-18 17:57] Rick-Anderson commented on #2467
@ajcvickers  does the bug belong to .NET CLI for not warning on `-dc MovieContext` in the following command?
[code]

[2017-08-18 17:59] ajcvickers commented on #2467
@Rick-Anderson I don't know enough about how the templating works to know what part should be ensuring a namespace. Maybe ask whoever authored the templates?

[2017-08-18 18:09] alojoshka commented on #1368
actually, to solve the problem in a positive way, the only thing is needed and highly awaited from the Ef Core team is to set the approximate date of the release which will implement this feature. Of course each developer team and business has it's own priorities and has the right to decide whether to wait or to look for and alternative solution. I am really tired to plan our next bunch of project

[2017-08-18 18:09] AndriySvyryd commented on #9446
@ajcvickers I don't think this meets the bar:
* This would be a breaking change either way
* There's a straightforward workaround
* If we revert the behavior it could cause other regressions

[2017-08-18 18:14] ajcvickers commented on #9433
@anpete There is a PR for this, but it looks like it needs some work.

[2017-08-18 18:18] stuartallenmills opened #9471 "Adding EF 2.0 results in Exception in VS2017 React/Redux template web app"
'System.Collections.Generic.Dictionary`2<System.String,System.Object> Microsoft.Extensions.Configuration.IConfigurationBuilder.get_Properties()'.

Stack Trace:
   at Microsoft.Extensions.Configuration.FileConfigurationExtensions.SetFileProvider(IConfigurationBuilder builder, IFileProvider fileProvider)
   at Microsoft.Extensions.Configuration.FileConfigurationExtensions.SetBasePath(IConfigurationB

[2017-08-18 18:19] AndriySvyryd commented on #9437
Add a high id compatibility option to the EventLog provider?

[2017-08-18 18:19] ajcvickers commented on #9439
@divega Thoughts?

[2017-08-18 18:20] Rick-Anderson commented on #2467
@ajcvickers But it is generating invalid code. You're not required to have a NS. It seems like it would be better to fix the producer of bad generated code than fixing the inputs.

[2017-08-18 18:24] ajcvickers commented on #9440
@smitpatel or @anpete Can one of you write down the ideas we had here so we don't forget them?

[2017-08-18 18:34] ajcvickers commented on #9457
@AndriySvyryd  and @anpete to decide when enough is enough.

[2017-08-18 18:42] ajcvickers commented on #9464
@maumar After investigation let's circle back and see if we should patch.

[2017-08-18 18:47] ajcvickers commented on #9470
@maumar Let's consider for patch after investigation, and also check whether or not it is a regression.

[2017-08-18 18:53] leonidmln commented on #9433
i had the same problem, you need to change code https://github.com/aspnet/EntityFrameworkCore/pull/9465

[2017-08-18 18:53] stuartallenmills commented on #9471
Was using VS2107 preview.  Retesting with Release - problem not encountered at this point.

[2017-08-18 18:54] orobert91 commented on #9470
I have exactly the same problem (just closed my duplicate issue).

[2017-08-18 19:01] ajcvickers commented on #2467
@Rick-Anderson We didn't close this--we are intending to fix it. We will re-triage the priority. I still believe the bigger issue is that something out of Microsoft if generating a class without a namespace. That's something we should just not do.

[2017-08-18 19:05] Rick-Anderson commented on #2467
@ajcvickers I'm guessing this is low priority FWIW.
I sometimes create VS projects and remove the namespace - just to cut down on noise/indenting on rendered  code.  Even if the scaffolder forces a namespace, nothing stops the user from removing the namespace. I'll shut up now.

[2017-08-18 19:07] orobert91 commented on #9470
For testing purposes, we often do not want to setup the full entity tree in the test database and we often do not need all navigational properties during a test. Allowing includes on navigational properties mapped to a non-nullable field should return the primary entity whether the related entity exists or not. Marking the fields as nullable just for testing purposes does not seem right to me.

[2017-08-18 19:17] ajcvickers commented on #1585
Discussed in triage and agreed that we should not do this because the semantics would not be clear, specially if done before any OwnsXxx call has been made.

[2017-08-18 19:21] ajcvickers commented on #9437
We discussed this in triage and have this proposal:
* Change the event Ids now in 2.0.1; this is a breaking change, but the sooner we do it the better
* Communicate to the known consumers of our diagnostics that we are doing this--we think we know the most significant consumers
* Add a quirk mode that can be switched on to use the 2.0.0 event IDs if needed--to be used until all consumers have upda

[2017-08-18 19:21] ajcvickers commented on #9437
@AndriySvyryd How would it work?

[2017-08-18 19:25] AndriySvyryd commented on #9437
It would use some function to map the ids to the supported range. Possibly mapping everything above `65535` to `65535` or to `% 65535`

[2017-08-18 19:26] ajcvickers commented on #9437
@AndriySvyryd Doesn't seem like we would be able to ensure uniqueness though, which would be a problem.

[2017-08-18 19:28] ajcvickers commented on #9446
@AndriySvyryd Was it deterministic in 1.1 at least as far as we know? If so, did we do something to switch that determinism that could be switched back?

[2017-08-18 19:29] ajcvickers commented on #9446
Or maybe, more generally, can we get some idea of what caused the change?

[2017-08-18 19:29] AndriySvyryd commented on #9437
If we only need uniqueness in EF space we can expose a mapping function that provides it.

[2017-08-18 19:30] ajcvickers commented on #9449
@maumar It seems possible that this and #9306 are duplicates for the same unerlying cause as #9038. Can you check this?

[2017-08-18 19:31] ajcvickers commented on #9306
@maumar It seems possible that this and #9449 are duplicates for the same underlying cause as #9038. Can you check this?

[2017-08-18 19:31] AndriySvyryd commented on #9446
@ajcvickers It's deterministic based on the order the entities are discovered. In 2.0 we effectively reversed this order by using delayed convention application.

[2017-08-18 19:32] ajcvickers commented on #9446
@AndriySvyryd So would it be high risk to switch the order back in 2.0.1?

[2017-08-18 19:32] AndriySvyryd commented on #9446
Yes

[2017-08-18 19:34] ajcvickers commented on #9449
Also, if they are not duplicates, then let's consider for patch as a separate issue.

[2017-08-18 19:34] ajcvickers commented on #9446
Would like to understand this--we should chat on Monday.

[2017-08-18 19:37] ajcvickers commented on #9462
@seb999 Can you let us know which version of VS you are using, and also which versions of the .NET Core SDK are insatalled. Also, what happens if you run the app not in the debugger? What error/exception/message/stack trace do you see, if any?

[2017-08-18 19:41] ajcvickers commented on #9467
@MaklaCof The factory is not, by design, resolved from the service provider. The way to get your configuration into the factory is to duplicate or refactor and re-use the code you have in Main that sets up your configuration. In fact, if you factor this out appropriately into a BuildWebHost method that is just about configuration and not about running the application, then you should not need to h

[2017-08-18 19:54] mhosman commented on #9462
@seb999 You need Visual Studio 2017 in version 15.3 (the new one). Also you need to update all your NuGet packages to v2.0 and also you need to install .NET Core SDK 2.0 from: https://www.microsoft.com/net/core#windowscmd

[2017-08-18 20:20] ajcvickers commented on #9463
@alktly I am not able to reproduce what you are seeing. Can you look at the repro code below and see if there is something I am missing? No matter which combination of calls to HasKey I make in which order, if I also call ValuGeneratedNever, then the property is marked is not marked as ValueGenerated.OnAdd, which means it will not use store generated values.

Also, the annotation for "DatabaseGene

[2017-08-18 20:31] smitpatel opened #9473 "RevEng: SqlServer: Type aliasing ignores type facets of aliased type"
Our code to read information about type aliases does not read facets information for types so for alias like this `CREATE TYPE dbo.TestTypeAlias FROM nvarchar(max);`, we would get underlying type as `nvarchar` instead of `nvarchar(max)` which would throw later. The information is available in metadata, we need to update our SQL to parse the information and apply similar processing to current type

[2017-08-18 20:45] smitpatel commented on #3910
@maumar - is this fixed?

[2017-08-18 20:53] bricelam commented on #8922
Have you tried again with version 2.0.0? an Xamarin.Android 7.5?

[2017-08-18 20:54] ajcvickers commented on #9460
@Predator404 I downloaded the attached zip files, but I they don't seem to contain any source code or projects.
For this kind of Visual Studio crash the best option is usually to use the "Send Feedback" option in Visual Studio, since this will include important diagnostics in the report. If you can provide a VS solution (or let me know what I am doing wrong in trying to find it) then we can invest

[2017-08-18 21:13] anpete commented on #9128
Risk: Low: Adds a small amount of new code to the query compiler that detects the offending query patterns and performs a transformation from sync to async operators.
Justification: Fixes a deadlock that can occur in reasonably common customer scenarios. After the fix, such queries become fully async, which is the ideal behavior.

[2017-08-18 21:19] anpete commented on #9437
I like just breaking early. Not sure the quirks mode is worth it.

[2017-08-18 21:19] maumar commented on #9470
The reason for the behavior change is that now include is using navigation rewrite logic to construct the queries (whereas before we manually crafted include statements). Navigation rewrite produces INNER JOIN pattern for required relationships and LEFT JOIN pattern for optional. Before we would always hand-craft LEFT JOIN pattern, regardless of the relationship requiredness between child and pare

[2017-08-18 21:29] tipa commented on #8922
How can I test it with Xamarin.Android 7.5? Version 7.4 was just released a few days ago

[2017-08-18 21:33] smitpatel commented on #9470
Is this issue arising because we "saved" data which would violate integrity constraint otherwise? I think the Include pipeline is behaving correctly here.

[2017-08-18 21:45] orobert91 commented on #9470
@smitpatel Yes, indeed. I understand your point. The pipeline is behaving correctly, even though the previous behavior allowed us to simplify greatly the data setup of unit tests.

Where previously, I could persist an entity for testing purpose like:
`var student = new Student();`

Will now become:
'var student = new Student() {Program = new Program() {School = new School() {City = new City() {Cou

[2017-08-18 21:49] Eilon commented on #9437
Hmm very interesting problem. I think I'm feeling we should just do the break now...

[2017-08-18 21:51] ajcvickers commented on #9437
@Eilon With a quirk mode or not?

[2017-08-18 21:55] Eilon commented on #9437
I think I'd err on having a quirk. It's trivial to add them.

[2017-08-18 22:16] orobert91 commented on #9470
If the in-memory database ever perform integrity checks the tests would fail anyway on SaveChanges(), so better make our test data integrity compliant with non-nullable constraints. I have fixed my tests and everything runs fine. The issue is closed for me.

[2017-08-18 22:40] smitpatel commented on #9447
There is no suitable mapping for `char` property in SqlServer.

Saving data is fine for either mapping of `int` or `char(1)`. Since SqlServer does not have native char mapping value will be stored in database as int & string (of size 1) respectively, When you read back data, assigning value of int/string to char throws `InvalidCastException`.

Furthermore, with `char(1)` mapping writing any query

[2017-08-18 22:41] smitpatel commented on #9447
Removing regression since, saving data always worked but querying data was faulty. Reading back data does not work in 1.1.2 or 2.0.0 so it is not regression.

@ajcvickers - Should we close this now? (what should be labels?)

[2017-08-18 23:17] smitpatel commented on #9470
Closing this as by design.
In this case Include pipeline is working correctly. If your FK is required (i.e. there will be parent record present always) then Inner join is more efficient and left outer join is redundant.
It is true that this is regression but this breaking change improves faulty behavior. So we would want it in 2.0.0.
From EF perspective, we always go based on the domain model prov

[2017-08-18 23:29] LeonardoDaga opened #9475 "Migration column renaming causes a failing query?"
Sorry. I'm not an expert. So I apologize if I don't use the right terms to describe the issue.

What I found is that a simple query
[code]
returns an empty collection even if there are several Team objects with the ChampID requested.
ChampID is a nullable int navigation property of the class Team.
When I create the first migration to add the table related to Team, the migration tool creates a colu

[2017-08-19 00:14] smitpatel opened #9478 "ModelBuilder: stackoverflow for may be invalid relationship via fluent api"
Model
[code]

Watch it 🔥

[2017-08-19 00:20] divega commented on #9470
Reopening to make sure we have a conversation about enforcing requiredness in the in-memory provider as mentioned in the twitter thread:

https://twitter.com/stevejgordon/status/898592262468370436

[2017-08-19 00:29] ajcvickers commented on #9470
See also #2166

[2017-08-19 00:30] smitpatel commented on #9478
Throw in this line in OnModelCreating it ignores the relationship and creates database without FK.
`modelBuilder.Entity<Blog>().Property(e => e.Id).HasColumnName("id");``

[2017-08-19 00:36] PinpointTownes commented on #9225
That indeed works, thanks. The only concern I have is that `RelationalModelCustomizer` is one of those "pubternal" infrastructure classes that we're not supposed to directly use or inherit from. Are you fairly confident no breaking change will be added in EF Core 2.x?

[2017-08-19 00:38] tarekgh opened #9480 "HTTP Error 502.5 - Process Failure ASP.Net Core2 after update to Microsoft.EntityFrameworkCore -Version 2.0.0 #7462"
_From @embryologist on August 17, 2017 2:20_

## Steps to reproduce
[ARTSQLCORE.zip](https://github.com/dotnet/corefx/files/1230002/ARTSQLCORE.zip)

[code]
I installed `Microsoft.NETCore.App -Version 2.0.0` yet when I run the app I get this msg,

_Copied from original issue: dotnet/corefx#23320_

[2017-08-19 00:38] tarekgh commented on #9480
_From @karelz on August 17, 2017 21:59_

Do you have a minimal repro? The attached project is rather large and hard to debug.

[2017-08-19 00:38] tarekgh commented on #9480
Should this get moved to https://github.com/aspnet?

[2017-08-19 00:38] tarekgh commented on #9480
_From @embryologist on August 18, 2017 2:30_

@karelz, how can I provide you with a minimal one?

[2017-08-19 00:38] tarekgh commented on #9480
you can zip it and attach it to github here or put it on OneDrive and send a link

[2017-08-19 00:38] tarekgh commented on #9480
_From @karelz on August 18, 2017 16:19_

Or make it so minimal, that the code modifications to default template fit here as source code ... that would be ideal

[2017-08-19 00:38] tarekgh commented on #9480
_From @embryologist on August 19, 2017 0:25_

I believe its `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />`
I think updating it ti version 2 with the current Asp.Net Core Preview creates a conflict.  downgrading solved the problem

[2017-08-19 00:39] smitpatel commented on #9478
This worked in 1.1.2 packages creating a self-ref fk. (defining such relationship is possible in SqlServer).
It initially gave error on cascade but setting behavior to restrict worked.
[code]

[2017-08-19 00:41] smitpatel commented on #9444
Root cause #9478
Leaving this issue open in case we want to take care of such relationship in reverse engineering.

[2017-08-19 00:43] #9434 closed

[2017-08-19 01:56] maumar commented on #3910
fixed in 07afd7aa330da5b6d90d518da7375d8bbf676dfd

[2017-08-19 01:56] #3910 closed

[2017-08-19 02:00] divega commented on #9470
I just realized reading the discussion in #2166 that this is not about enforcing requiredness but the referential constraint, which we the decided not to do. I.e. in the repro provided a default value of 0 is stored in the foreign key, and we don’t have a good way to know it isn’t a valid key, without help from the store.

So the conversation can be about whether we have new data to revisit the or

[2017-08-19 02:07] divega commented on #9437
@ajcvickers sorry I didn’t see this before. Anyway, sounds like a good plan.

[2017-08-19 02:27] divega commented on #9466
@ajcvickers I ended up not creating announcements for many of the changes. Instead this information was added to the documentation, both in the cascade delete topic and on https://docs.microsoft.com/en-us/ef/core/miscellaneous/1x-2x-upgrade.

I am also planning to update that topic with additional information for Visual Studio 2015 and .NET Framework users that I have been adding to the prerequisi

[2017-08-19 03:49] iszolea commented on #9458
Damm! Obvious now.

Thanks so much.
Cheers
Jeff

[2017-08-19 05:59] orobert91 opened #9481 "EF Core joining on the wrong field when using GroupBy"
Here is probably a big bug introduced in EF Core 2.0. The database is PostgreSQL.

I have this code, which returns a result in EF Core 1.2, and gives no results in EF Core 2.0:
[code]

I have investigated the produced SQL query. The first SQL query that is produced to join  **Team** on **Sport** is correct:

[code]

The second query produced to join **Team** on **Players** has an incorrect join:

[2017-08-19 06:53] brightcr opened #9482 "UWP: Unable to use Microsoft.EntityFrameworkCore.Sqlite Version 2"
The solution is not building with latest stable version of Microsoft.EntityFrameworkCore.Sqlite 2.0.0 and getting below compiler error:

- The type or namespace name 'EntityFrameworkCore' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)

Due to this other types e.g. DbContext from this namespace are not found

It is not working with reloading project, restarting

[2017-08-19 07:17] stevejgordon commented on #9470
In our case we can update the tests. There are quite a few broken as a result of the change. Would it be worth documenting this change so others know to be prepared for this? Also, could it be possible to enable to original behaviour via configuration?

[2017-08-19 07:59] erikpowa commented on #8922
@tipa **[Xamarin Updater Extension](https://developer.xamarin.com/recipes/cross-platform/ide/change_updates_channel/extension-gallery/)** for VS 2017. For older version of VS you can [switch channels](https://developer.xamarin.com/recipes/cross-platform/ide/change_updates_channel/) in vs->options->xamarin (not sure if alpha or beta).
I had the same error so I updated everything to the latest versi

[2017-08-19 08:11] tipa commented on #8922
@erikpowa that means I am forced to use VS17 Preview in order to use Xamarin.Android 7.5, is that correct? I would probably even do that if that finally resolves that issue

[2017-08-19 08:41] divega commented on #9439
Here is a proposal based on the current description and the stackoverflow thread:

[2017-08-19 10:09] seb999 commented on #9462
Hej,
I have Visual Studio enterprise 2017 Version 15.3.0 (I installed the update package),
I have intalled the .net core SDK 2.0
My .csproj contain only 2.0 packages:

`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <GenerateBindingRedirectsOutputType>true</GenerateBi

[2017-08-19 12:13] svallis commented on #9466
Thanks for the responses.

Bear in mind this code base has been around since pre 1.0.0. Some of the foreign keys were being created in my migrations with `ReferentialAction.Cascade`, which I didn't want. I added the following in `OnModelCreating()`:

[code]

Commenting that out in 2.0.0 and generating a new migration is still trying to create `ReferentialAction.Cascade` relationships in places tha

[2017-08-19 16:28] DNS-Cihang commented on #9462
Same issue. Visual studio 15.3.1, all package upgraded to 2.0, dotnet sdk 2.0, dot cli tool all 2.0. It's a critical issue. Everything related to EntityFramework core is not working, however the usermanager and rolemanager is still working well.

[2017-08-19 19:03] jimerino opened #9484 "Why Scaffold-DbContext must build the project?"
Hi!

I'm newbie and I'm trying to understand EF core. I've notice if you have an error in the project, Scaffold-DbContext returns "Build failed". Only if your project is clean and can build without errors, then Scaffold-DbContext can generate the Entities from DB.

In my sample proyects, it's very common to destroy the Entities deleting the clases and regenerating them frequently with Scaffold-DbC

[2017-08-19 19:19] ajcvickers commented on #9225
@PinpointTownes RelationalModelCustomizer is a public class, not an "internal" one, so, unless something extreme happens, it won't be broken in 2.x.

[2017-08-19 19:26] PinpointTownes commented on #9225
@ajcvickers right, but for the 2.0 release, `RelationalModelCustomizer`'s summary was `This API supports the Entity Framework Core infrastructure and is not intended to be used directly from your code. This API may change or be removed in future releases.`

I saw this changed in a recent commit (https://github.com/aspnet/EntityFrameworkCore/commit/e5b6a773230238c1625196d0ea1970b350927363#diff-bc9d

[2017-08-19 19:31] ajcvickers commented on #9470
@divega Agreed that we should revisit that decision. I think the discussion is really about the strength semantics for foreign keys defined in the model. For relational the semantics have always been strong--you can't lie about whether an FK is required or not, or whether the constraint really exists in the database or not, and then expect to get correct results if your data doesn't match what you

[2017-08-19 19:34] ajcvickers commented on #9225
@PinpointTownes Yeah, the documentation for the relational assembly didn't get completed until after the 2.0 release. I didn't remember that it said that before--what it says now is correct, even for the 2.0 release.

[2017-08-19 19:35] ajcvickers commented on #9466
@divega Sounds good.

[2017-08-19 19:40] ajcvickers commented on #9466
@svallis Thanks for the information. Glad it is working for you now. (FYI: relationships get cascade delete by convention when the FK is not nullable.)

[2017-08-19 19:40] #9257 closed

[2017-08-19 19:45] ajcvickers commented on #9470
@stevejgordon We will try to get this documented and we'll discuss an opt-out.

[2017-08-19 20:19] weitzhandler commented on #246
@ctolkien @julielerman thank you!

Is there a way to define owned entities via attributes?

[2017-08-19 20:48] weitzhandler commented on #246
@ctolkien @julielerman thank you!

Is there a way to define owned entities via attributes?

Looks like mission of complex types has been accomplished. The only thing blocking me from moving to EF Core is now TPT (#2266), sadly it's on the [Backlog](/aspnet/EntityFrameworkCore/milestone/2) milestone.

[2017-08-19 21:32] TsengSR opened #9485 "Mapping referenced entity only to the backing field"
I got a case, where I have a base type `ModuleConfigBase` which can have multiple modules which share a common base class.

I want to ensure that a specific type which inherits from `ModuleConfigBase` can only assign specific types of modules to it, i.e. `NativeModule`.

Since the `Module` itself should be accessible anywhere, I'd like to avoid adding a property which is only private on the base t

[2017-08-19 23:07] gavrilyuc commented on #1368
What is the approximate date? I want to know, whether to wait or write your crutch.

[2017-08-20 00:03] weitzhandler commented on #8499
How do I register the `IDesignTimeDbContextFactory` when setting up the DI container (i.e. during `ConfigureServices` in _Startup.cs_) to be the default factory?

[2017-08-20 00:05] weitzhandler commented on #8499
@bricelam

How do I register an implementation of `IDesignTimeDbContextFactory` when setting up the DI container (i.e. during `ConfigureServices` in _Startup.cs_) to be the default factory?'

Thank you!

[2017-08-20 00:44] weitzhandler commented on #5715
@ajcvickers @bricelam
How do we force column type to `date` in EF Core?

Thanks!

[2017-08-20 00:46] weitzhandler commented on #246
@julielerman Are collections supported as owned types too (i.e. `Contact.Addresses`)?

[2017-08-20 01:17] smitpatel commented on #8499
@weitzhandler - You don't need to register `IDesignTimeDbContextFactory` in DI. We search for implementation of it in assembly and directly use it to create context.

[2017-08-20 01:20] smitpatel commented on #246
@weitzhandler - Currently owned type must be defined by fluent api only. There is no support for attributes. Collection of owned entities is not supported atm. it is being tracked here https://github.com/aspnet/EntityFrameworkCore/issues/8172

[2017-08-20 01:26] smitpatel commented on #9482
which version of UWP?

[2017-08-20 01:38] weitzhandler commented on #246
@smitpatel
Thanks for your quick response!

[2017-08-20 02:41] DNS-Cihang opened #9486 "Database first approach dbContext cannot query data after updated to 2.0.0 . Give 502.3 Bad Gateway error."
I cannot do anything about DbContext after updated to EntityframeworkCore 2.0.0. Even I created a new Aspnt.Core 2.0.0 app, and scaffolding models from existing database, the same error happened.

### Steps to reproduce
* Scaffolding models from existing database.
* Follow the official tutorial to register dbContext in StartUp.cs
`services.AddDbContextPool<SomeDbContext>(
          options => opti

[2017-08-20 03:33] embryologist commented on #9480
@tarekgh , Thanks so much, Please close the issue,
To run Core2 version 2 I updated my visual studio and the sdk, everything return back to normal.
Please close the issue

[2017-08-20 05:39] divega opened #9487 "Support configuring owned types using attributes"
As mentioned at https://github.com/aspnet/EntityFrameworkCore/issues/246#issuecomment-323557686, we could support using and attribute on either a navigation property or a type to recognize owned types. E.g. we could do this with `ComplexTypeAttribute` :smile_cat:

[2017-08-20 06:55] leehavin opened #9488 "Inheritance of DBContext, error writing, causes visual studio compilation to generate errors too much"
After inheriting the DbContext, add the constructor, and I know it's not right to add this.But the compiled error message can cause a lot of 421 errors.
The added code is as follows:
   public UmsContext(DbContextOptions options) : base(options) {}

Exception message:
![image](https://user-images.githubusercontent.com/12468518/29492715-1880094c-85b7-11e7-8c49-40b3c763a222.png)
Code:
[code]

### Fu

[2017-08-20 07:48] brightcr commented on #9482
Latest Version 5.4.0

[2017-08-20 07:52] shyandsy opened #9489 "reverse model from mysql doesnt work"
reverse model from mysql database doesnt work

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce
i will add this part if required

[code]

### Further technical details
EF Core version: 2
Database Provider: MySql.Data.EntityFrameworkCore
Operating system:
IDE: Visual Studio 2017 15.3.1

![image](https://user-images.github

[2017-08-20 09:22] divega opened #9490 "Consider trying to make it clearer that IDesignTimeDbContextFactory should not be registered as a service"
Comments like https://github.com/aspnet/EntityFrameworkCore/issues/8499#issuecomment-323554888 and others seem to debunk any belief that renaming the type could help clarify how it is used.

I am not sure anything is going to help significantly but it seems we haven’t taken the chance to say “do not register this as a service” in the API docs. It is possible we could do better in the conceptual do

[2017-08-20 09:49] jculverwell commented on #9046
@thomaswolff

With regards to the article https://codopia.wordpress.com/2017/07/21/how-to-fix-the-assembly-binding-redirect-problem-in-azure-functions/
Can you share what you config setting you were using to get System.ValueTuple working.   I'm using

[code]
and it is saying it can't find the assembly.

[2017-08-20 11:20] jculverwell commented on #9046
@thomaswolff

Ignore my last message....this worked for me

[code]

[2017-08-20 12:26] fileman opened #9491 "Model-level Entity Filter Navigation Properties"
Companion feature to Model-level Entity Filters. (#7413 and #7450). Allow use of navigation properties in query at the model level with "many-to-many" relationship.

builder.HasQueryFilter(c => !c.IsDeleted && c.User.Any(u => u.Id == MyDbContext.UserId))

[2017-08-20 14:34] smitpatel commented on #9482
To use EF Core 2.0 with UWP you would need UWP 6+ (which is in prerelease state at present)
See https://github.com/aspnet/EntityFrameworkCore/issues/9401 for more details on prerequisites and how to use EF Core 2 in UWP 6.

[2017-08-20 14:39] smitpatel commented on #9489
`MySQL.Data.EntityFrameworkCore` package depends on EF Core 1.1.1. Since 2.0 is major version there are breaking changes hence you cannot use MySQL package with EF Core 2.0 packages. If you are referencing any EF Core package v 2.0 then remove those references (or uninstall packages from your project).

[2017-08-20 14:41] smitpatel commented on #9488
None of the error in screenshot indicates there is error in EF Core code or C# code either. Like the first 4 errors in the image is showing incorrect JS file. Please find details of any EF related compilation error if any.

[2017-08-20 17:18] ajcvickers opened #9492 "Port .NET Native tracking perf improvements to 2.0.1"
Issue #7582

[2017-08-20 18:19] MarcoLoetscher opened #9493 "Model-level query sortings"
It would be very handy if sortings could be defined model-based.

Fluent API:
`modelBuilder.Entity<Post>().HasQuerySortOrderAsc(p => p.Title);`
`modelBuilder.Entity<Post>().HasQuerySortOrderAsc(p => p.Title).HasQuerySortOrderDesc(p => p.Content);`

Data Annotations:
`[QuerySortOrderAsc]
public string Title { get; set; }`
or
`[QuerySortOrderAsc(1)]
public string Title { get; set; }`
`[QuerySortOrde

[2017-08-21 01:43] weitzhandler commented on #8499
@smitpatel I appreciate your response.
I'm not sure how to implement that interface, I only exposed a ctor accepting `DbContextOptions` in my `DbContext`, how can I initialize this in the factory? Is there any tutorial on how to use this interface?

[2017-08-21 02:11] weitzhandler opened #9498 "Exception when trying to configure migrations in Core 2.0"
Describe what is not working as expected.

When calling `dotnet ef migrations list -c TenantsDbContext` on the console, I get the following error:

[code]

### Steps to reproduce
Here's the snippet from _Startup.cs_:

[code]

### Further technical details
EF Core version: 2.0
Database Provider: `Microsoft.EntityFrameworkCore.SqlServer`
Operating system: Windows 10 x64
IDE: e.g. Visual Studio 15.3.

[2017-08-21 02:16] weitzhandler commented on #9498
I had `Microsoft.EntityFrameworkCore.SqlServer.Design` installed, which depends on `Microsoft.EntityFrameworkCore.SqlServer` version 1.1.2.

After uninstalling the `SqlServer.Desgin` package, it's working now.

[2017-08-21 02:24] leehavin commented on #9488
@smitpatel
The error reported was index.d.s and nodejs, but they were not used in the project.When I add it
”public UmsContext（DbContextOptions options）：base（options）{}“  error。
Get rid of all normal

[2017-08-21 05:46] ivanovmv90 commented on #9464
Looks like problem with async methods. For me, problem dissapeared after changing ToListAsync() with ToList().

Also, https://github.com/aspnet/EntityFrameworkCore/issues/9449

[2017-08-21 06:48] denismaster opened #9499 "System.ArgumentOutOfRangeException after migration to 2.0"
Hello. I'm trying to write dynamic filtration and sorting functionality in my application. On the previous version, 1.1, there is no problems. But when I started using the .NET Core 2.0 and EF Core 2.0, the exception was thrown:
[code]

### Steps to reproduce
Include a complete code listing (or project/solution) that we can run to reproduce the issue.
SortDirection.cs
[code]
SortExpression.cs
[cod

[2017-08-21 07:15] MaklaCof commented on #9464
For me too. Thank you very much. I really needed a workaround (until bug is fixed) for this.

[2017-08-21 09:27] rooonikz opened #9500 "Method incorrect declaration"
When you want to use IdentityBuilder to setup Identity services for your application (e.g. AddUserStore<>() AddRoleStore<>() AddPasswordValidator<>() and so on). When you have looked at these methods' declarations, you will see:

[code]

Looking at _**TUser**_ type, you are thinking about passing User type as generic parameter. Using Autofac DI container integration I have got this ArgumentExcepti

[2017-08-21 12:08] johanskoldekrans opened #9501 ""Data type 'nvarchar' is not supported in this form" after scaffolding from database"
I have used efcore and netcore since the betas without much trouble but now I am stuck. I had a fully functional application using 1.x. After upgrading to EFCore 2.0 I now get the error below. (also tried with preview 2.1.0-preview1-26723 same error)

I have tried to scaffold in a new project and get the same result. I dont't have any reference to datatype nvarchar except for nvarchar(max), every

[2017-08-21 12:19] fschlaef commented on #9501
The exact same bug is present in 2.0.0.

An nvarchar(4000) gets scaffolded as this :

[code]

Which result in the above error.

nvarchar(MAX) correctly gets scaffolded to this :

[code]

And other lengths like 255 correctly to this :

[code]

However, this was apparently adressed in issue #9188 and fixed. Any chance to see it in 2.0.1 ?

[2017-08-21 12:20] johanskoldekrans commented on #9501
What do you need to know more to look into this? I could pm the contextfile if that could help.

[2017-08-21 12:22] johanskoldekrans commented on #9501
That is not how this gets scaffolded.

I have:

entity.Property(e => e.AppointmentDescription)
                    .IsRequired()
                    .HasColumnType("nvarchar(max)");

entity.Property(e => e.FormData)
                    .IsRequired()
                    .HasColumnType("nvarchar");

[2017-08-21 13:16] ErikEJ commented on #9501
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/9188 ? (Fixed in 2.1) - you can fix by hand....

[2017-08-21 14:37] johanskoldekrans commented on #9501
@ErikEJ I am running 2.1.0-preview as you can see above. Do you know what build it will be included in?

[2017-08-21 14:38] ManuelHaas commented on #9462
Same issue as seb999 with Visual Studio 15.3.1, dotnet sdk 2.0 and all .NET Core packages updated to 2.0!

[2017-08-21 14:41] hikalkan opened #9502 "HasQueryFilter does not compile expression correctly in some cases"
Hi,

I'm having a strange problem with new global query filters (HasQueryFilter). My code is complicated since I'm developing an application framework. So, I will share the related code.

1. Using HasQueryFilter like that:

[code]

2. CreateFilterExpression is defined as below:

[code]

What I'm achiving here to combine soft delete and multitenant filters based on implemented interfaces of entitie

[2017-08-21 15:03] ErikEJ commented on #9501
It was only fixed 3 days ago, so it could be a single digit number of days from now

[2017-08-21 15:16] dazinator commented on #9339
I can't seem to find some imporant services in 1.0.x:

[code]

Is there an alternative for `MigrationsScaffolder` or perhaps I am missing a package reference or `using` directive?

I also cannot find (not sure which of these, if any, are essential)

- `OperationReporter` or `OperationReportHandler` or any of:

[code]

[2017-08-21 15:45] dazinator commented on #9339
Ah found them. I was missing a package reference to: `Microsoft.EntityFrameworkCore.Design`

[2017-08-21 15:48] rjperes commented on #3797
Rowan: what do you mean by life cycle hooks?

[2017-08-21 15:49] rjperes commented on #3797
@rowanmiller : what do you mean by life cycle hooks?

[2017-08-21 15:58] dazinator commented on #9339
So, after some tinkering, here is a 1.0.x equivalent:

[code]

[2017-08-21 16:26] dazinator commented on #9339
Ok so I can successfully generate migrations, but not I am trying to reverse engineer.

How do I register:  .`ReverseEngineeringGenerator` in 1.0.x?

At the moment if I just add it like this:

[code]

Then when I resolve it I get an exception that `IScaffoldingModelFactory` can't be resolved. I can't find an implementation of `IScaffoldingModelFactory` anywhere though to register.

[2017-08-21 16:30] dazinator commented on #9339
Ok this is useful: https://github.com/aspnet/EntityFrameworkCore/blob/e51cd5454ba58aa4f5985ca3a5d6172971f92510/src/EFCore.Design/Scaffolding/Internal/ScaffoldingServiceCollectionExtensions.cs#L28

[2017-08-21 16:53] brunoalreis commented on #1862
Hi,

I don't see this issue listed in the [2.1.0 road map](https://github.com/aspnet/EntityFrameworkCore/wiki/Roadmap) (only in the critical section). Will it be implemented only in the next year (since 2.1.0 will be in the Q4 2017)?

Thanks in advance.

[2017-08-21 17:02] dazinator commented on #9339
Right so I am close.. but I have been thwarted.
After figuring out where things are in 1.0.x. and adding a bunch of additional service registrations, I can now resolve the `ReverseEngineeringGenerator`. The problem is, when I try to use it I get this exception:

![image](https://user-images.githubusercontent.com/3176632/29530066-15adfdc6-869a-11e7-8a61-5e09a09fc153.png)

I have no idea what that e

[2017-08-21 17:07] bdominguez opened #9503 "Duplicated foreign keys after restoring missing IdentityUser and IdentityRole navigation properties"
Previously on 1.1.2 IdentityUser and IdentityRole provided the following navigation properties:

User

[code]

Role

[code]
Now if I manually add them (like it's written in 1.x to 2.0 migration docs) I get this when running migrations script:

[code]

Manual workaround:

[code]

### Further technical details
EF Core version: 2.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating

[2017-08-21 17:12] dazinator commented on #9339
Found the culprit. This registration:

[code]

Should have been:

[code]

and I was also registering it twice :-(

Here is the working code for 1.0.x the service registrations are enough to scaffold migrations and also reverse engineer - using sql server:

[code]

[2017-08-21 17:55] ajcvickers commented on #9485
@TsengSR I don't think you can do exactly what you want, and I'm finding it a little hard looking at your code and connecting that to your description. I think if you make `protected Module module;` a protected property instead of a protected field, and then reference it in your configuration:
[code]
then EF would bind to it.

[2017-08-21 17:55] dazinator opened #9504 "ReverseEngineering - partial classes"
We have an existing database from which we reverse engineer a model (i.e using the `scaffold` command to point at the existing tables)

We occasional repeat this command to update our model from changes made directly to the database.
We also have some customisations that we need to preserve for particular entities.
In order to preserve them, we place them in a `partial` class:

[code]

However, su

[2017-08-21 18:15] bdominguez opened #9505 "Unable to load DLL 'e_sqlite3' on EF Core 2.0"
I'm testing my code using sqlite in memory database and I get this error when trying to run a test.

`System.TypeInitializationException: The type initializer for 'Microsoft.Data.Sqlite.SqliteConnection' threw an exception. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.DllNotFoundException: Unable to load DLL 'e_sqlite3': Th

[2017-08-21 18:38] #8008 closed

[2017-08-21 18:40] #9456 closed

[2017-08-21 18:47] mhosman commented on #9462
Check also you .csproj and check if all references are ok.

[2017-08-21 18:52] #9433 closed

[2017-08-21 18:55] ajcvickers commented on #9500
Moved to https://github.com/aspnet/Identity/issues/1382

[2017-08-21 19:22] ajcvickers commented on #9462
@seb999 Do you get any more information with the Bad Gateway error? Any call stacks, etc?

It seems unlikely that this is related to EF Core specirfically. Does it still repro if you remove EF packages?

[2017-08-21 19:25] JesperTreetop commented on #3797
@rjperes "Lifecycle hooks" are [mentioned and linked on the roadmap page](https://github.com/aspnet/EntityFrameworkCore/wiki/Roadmap).

I also echo the many opinions by other people that having an ORM without lazy loading is like having an ORM that wants to stop being an ORM at some arbitrary point. I have already given too many hours of my life trying to write EF Core repository library code that

[2017-08-21 19:45] ajcvickers commented on #9503
@bdominguez Are you saying that when you configure the navigations in the EF model (Labeled as "manual workaround" above) then there are still duplicated FKs? Or only if you add the navigation properties but don't explicitly configure them?

[2017-08-21 20:31] cubikca commented on #2266
Guess this isn't ready for production use yet. I'm not going to rip apart my existing database (despite its design flaws) to accommodate the lack of EF Core features. Maybe when 3.0 comes around it'll be useful. Too bad, because .NET Core adoption is important to us, but not to the point of constantly working around missing features.

[2017-08-21 20:36] QuantumHive opened #9506 "'Add Migrations' after Migrating to 2.0"
In `ef core 1.1`, I had some migrations like so:
[
![capture](https://user-images.githubusercontent.com/2554952/29536805-9a2305f4-86bf-11e7-9ce3-4acc65e98ae3.PNG)
](url)

So now I'm trying to [migrate to `v2.0`](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/index). So after adding a new Migration with the [Command Line Tools](https://docs.microsoft.com/en-us/ef/core/miscellaneous

[2017-08-21 20:45] seb999 commented on #9462
Hi Arthur,
It’s working without EF package. I migrated other projects (bit simpler without db or with basic MySql) and it works well.

I got this output :
The thread 0x1dc4 has exited with code 0 (0x0).
An unhandled exception of type 'System.StackOverflowException' occurred in System.Private.CoreLib.dll

Thanks.

[2017-08-21 21:30] jkeslinke opened #9507 "2.0 Scaffold-DbContext BIT NOT NULL is being generated as a nullable bool"
I am upgrading from .Net Core 1.1 to 2.0 and as I'm updating the EF Contexts I am running the following command to regenerate the Context:

Scaffold-DbContext "Data Source=XXX;Initial Catalog=XXX;Integrated Security=SSPI;MultipleActiveResultSets=True" Microsoft.EntityFrameworkCore.SqlServer -StartupProject ABS3.Infrastructure.Data -Project ABS3.Infrastructure.Data -OutputDir Core -Context CoreCont

[2017-08-21 22:20] zilloy opened #9508 "Fails with System.NotSupportedException when cast entity Foo to IFoo and then include navigation property"
Fails with System.NotSupportedException when cast entity Foo to IFoo and then include navigation property
[code]

### Steps to reproduce
[code]

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer

[2017-08-21 23:41] anpete commented on #9181
@smitpatel Done? Dupe?

[2017-08-21 23:42] AndriySvyryd opened #9509 "ModelValidator shouldn't mutate the model."
Currently ValidateChangeTrackingStrategy adds 'SkipDetectChanges' annotation.

[2017-08-22 00:06] AndriySvyryd opened #9510 "Ambiguous one-to-one relationship doesn't throw in validation"
[code]
See https://github.com/aspnet/EntityFrameworkCore/issues/9446

[2017-08-22 00:40] AndriySvyryd opened #9512 "Review RelationalPropertyAnnotations methods"
Methods `GetDefaultValue`, `GetDefaultValueSql` and `GetComputedColumnSql` will all return `null` when called with `true` on a property that has conflicting configuration.
They should use the configuration source to resolve the conflict and return the correct value.

[2017-08-22 01:28] bdominguez commented on #9503
I mean the second case. If I don't put that workaround code (explicit relationships) I get duplicated FKs because it seems that it doesn't resolve relationships correctly.

[2017-08-22 02:47] kishoretvk opened #9513 "EFcore TimesOut when executing long time taking queries"
Describe what is not working as expected.
Ef core when executing stored procedure, that takes more than few millions of records.

times out abruptly.  i use EF core as async. the result might be from search of 3 record from a million to few  100.
If you are seeing an exception, include the full exceptions details (message and stack trace).
execption : ef core timeout.
[code]

### Steps to reproduc

[2017-08-22 03:42] tldzyx commented on #8872
@ajcvickers @smitpatel
Could you provide more detail about the reasons for not implement the basic dispose pattern?

I'm confused. if DbContext don't need implement the basic dispose pattern, why it implement the IDisposable interface?

Usually, if a object be called the Dispose method, we should use it again never, and a IsDisposed boolean is pretty.

[2017-08-22 05:36] Wayne-Mather commented on #9513
I had a simliar issue but resolved it as follows:

[code]

See if that at least solves the timeout problem for yourself

[2017-08-22 05:43] Wayne-Mather commented on #9462
I just upgraded to 2.0 without issues. I did find that to get things working I removed all the individual packages and just used the meta package instead.

For what it is worth, this project has been upgraded from 1.0-BETA project.json through to 2.0 with all the hiccups that were (and were not) expected along that journey.

Here my csproj file if it helps in any way. Also note I am using SQL Serv

[2017-08-22 06:23] johanskoldekrans commented on #9486
I haven't been able to get this to work either and the documentation on this is lacking.

If I scaffold using both Efcore 2.0 and 2.1-preview1 and follow the instructions from the official tutorial I get:

`
System.ArgumentException occurred
  HResult=0x80070057
  Message=AddDbContext was called with configuration, but the context type 'SomeContext' only declares a parameterless constructor. This

[2017-08-22 07:21] NPadrutt commented on #8922
I have the same issue on the current stable and on the preview of Xamarin. But I still have the same issue..

[2017-08-22 07:51] johanskoldekrans commented on #9507
You are not alone. Changing a couple of thousand lines of code because of this was a nice birthday present.  Is this behaviour by design or a bug?

[2017-08-22 07:59] ReginaldBull commented on #9326
`public class DsmIdentityEntities : IdentityDbContext
    {
        internal IConfigurationRoot Configuration { get; set; }

        public DbSet<ApplicationUser> ApplicationUsers { get; set; }
        public DbSet<ApplicationUserRole> ApplicationUserRoles { get; set; }
        public DbSet<ApplicationRole> ApplicationRoles { get; set; }
        public DbSet<ApplicationUserToken> ApplicationUserTo

[2017-08-22 08:07] LakshmiPrasanna-Human opened #9515 "Entity Framework Core 2.0 Scaffold-DbContext returns Build Error"
In visual Studio 2017, create a .NET core class library project with Target Framework as 2.0 (No project.json).

Have included below packages by Package Manager console.

Microsoft.EntityFrameworkCore.SqlServer
Microsoft.EntityFrameworkCore.SqlServer.Design
Microsoft.EntityFrameworkCore.Tools
Microsoft.VisualStudio.Web.CodeGeneration.Design
While running below Scaffold-DbContext command from Packa

[2017-08-22 08:23] seb999 commented on #9486
Hi Johan,

Perhaps you forgot to add in your context class the following contructor:

`
public class MISContext : DbContext
{
public MISContext(DbContextOptions<MISContext> options) : base(options)
{ }

protected override void OnModelCreating(ModelBuilder modelBuilder)
{
.......
.......
}
`

[2017-08-22 08:45] hikalkan commented on #9502
Additional information:

This does not work (as I said above):

[code]

IsSoftDeleteFilterEnabled is only called one time, not for all queries.

But this works:

[code]

By the magic of logical expressions, both expressions are actually identical (you can proove it) and I'm using this workaround. However I'm not sure the second one produce good & optimum SQL.

[2017-08-22 08:55] JonPSmith opened #9516 "LINQ Average conversion to SQL is correct in ver2-preview1, but incorrect in version 2"
In EF Core 2.0.0-preview1-final release the Linq `Average` command was correctly converted to the SQL AVG command. In release 2.0.0 this seems to be broken.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Steps to reproduce

I have a `Book` entity class with a collection of `Review` entity classes that contain `NumVotes`. I want to calcu

[2017-08-22 09:02] johanskoldekrans commented on #9486
I did that about ten times when I started with efcore but every time you scaffold it removes it. Since this is best practice I have a hard time understanding why it is removed every time... Out of the box the solution isnt working so this should be included in the documentation on how to implement the ContextPool.

[2017-08-22 09:04] ndphuong opened #9517 "How to setting a model with table don't have any primary key column?"
The EFCore throw exception: `The entity type  XXX requires a primary key to be defined`
But our table don't have any primary key column

How to avoid this ?

[2017-08-22 09:06] seb999 commented on #9486
I'm also like you stuck with migration to 2.0, I opened this issue few days ago:
https://github.com/aspnet/EntityFrameworkCore/issues/9462

[2017-08-22 09:17] johanskoldekrans commented on #9462
I had to scaffold from the database in an empty project. And replaced all contents of the models-folder for all projects that had efcore contexts.

[2017-08-22 09:46] glegleme commented on #9505
Same issue after deployment to Windows10IOT - Raspberry Pi 3 (OS: 10.0.16267.1001) .
Build is produced with: dotnet publish -r win-arm

Here is a sample console app to reproduce the issue:

using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;

namespace HelloSqLite
{
    class Program
    {
        static void Main(string[] args)
        {
            using (var db

[2017-08-22 11:50] marianosz commented on #9038
Hi guys. Any ETA for this? Is blocking our company update to NET Core 2. Thanks!

[2017-08-22 11:51] evil-shrike commented on #4573
As I understand FILESTREAM support is missing due to the absence of SqlFileStream support in SqlClient on .NET Core.
See dotnet/corefx#15652

[2017-08-22 12:07] chassq commented on #4693
+1

[2017-08-22 12:12] RehanSaeed commented on #6323
@zman13 What did you use in the end to get your connection string working under Docker? I'm trying the following and none of them work so far inside my docker container but they do work outside of Docker on my Windows machine:

[code]

[2017-08-22 12:24] badyalsk commented on #9486
I'm also looking into the solution to solve this chaos.

I had tried:

Scaffold-DbContext in an empty project replaced all Entity classes and Database SomeDbContext class in Project.

Registered dbContext in StartUp.cs
services.AddDbContextPool<SomeDbContext>( options => options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));

Added constructor in SomeDbContext class like
pu

[2017-08-22 12:25] badyalsk commented on #9462
Anyone able to solve this chaos?

[2017-08-22 13:41] seb999 commented on #9462
Unfortunately, I didn't manage to sort it out.

[2017-08-22 14:09] brunzefb opened #13828 "Microsoft.Data.Sqlite: Adding support for providing an encryption key in SqliteConnectionString class"
I would like to discuss adding the key in the SqliteConnectionString class of the Microsoft.Data.Sqlite project, but am not 100% sure this can be made to work throughout the stack-  If Password were a property of SqliteConnectionString (and passed to the lower dll) and you had a SQLitePCLRaw.core with a provider that supported encryption, and a native dll that also supported encryption, you would

[2017-08-22 14:29] bassebaba commented on #9501
I cant find 2.1.0-preview of the All-package or EFcore
https://www.nuget.org/packages/Microsoft.AspNetCore.All/
https://www.nuget.org/packages/Microsoft.EntityFrameworkCore/

Did something change? How am one to install previews from now on?

[2017-08-22 15:21] ErikEJ opened #9518 "Time to update "Getting and Building the Code" :-)"
https://github.com/aspnet/EntityFrameworkCore/wiki/Getting-and-Building-the-Code

(No PRs for wiki pages, sadly)

[2017-08-22 15:25] ErikEJ commented on #9501
@bassebaba  The preview (stable dev build) feed url is: https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json

[2017-08-22 15:30] JonPSmith opened #9519 "Client vs. Server evaluation - is version 2 produces sub-optimal SQL compared to version 1/2.0.0-preview1-final"
I have a Client vs. Server query that uses `string.Join` to combine some of the data as it is returned. Based on ver1 I though this was a 'safe' Client vs. Server  query because no `QueryClientEvaluationWarning` was logged. What I swapped to EF Core 2.0.0 then a `QueryClientEvaluationWarning` IS logged for the same query.

## UPDATE
The problem is not that a `QueryClientEvaluationWarning` is logge

[2017-08-22 16:07] bricelam commented on #9484
Primarily to allow you to register (or override) design-time services:

[code]

There are also other pragmatic reasons, but they could (in theory) be avoided.

[2017-08-22 16:14] HaoK commented on #9326
@ReginaldBull can you try calling base in your OnModelCreating at the top to see if that fixes the issue?

[2017-08-22 16:17] bricelam commented on #9181
@AndriySvyryd may have fixed this already too...

[2017-08-22 16:18] bricelam commented on #9181
Possibly by #9454

[2017-08-22 16:21] bricelam commented on #8922
(Marking for re-triage. Xamarin supports .NET Standard 2.0 now, but this still seems to be blocked.)

[2017-08-22 16:33] bricelam commented on #9504
At a high level, you're looking for #4038.

[2017-08-22 16:37] bricelam commented on #9506
We strongly recommend using the PMC tools (`Add-Migration` and friends) in Visual Studio since it provides a more integrated experience.

[2017-08-22 16:42] bricelam commented on #8872
@tldzyx Wouldn't calling `obj.IsDisposed` be using the object? :trollface:

[2017-08-22 16:51] bricelam commented on #8872
The Visual Basic snipped provides the best guidance for `IDisposable`:
[code]
If you never anticipate having unmanaged resources, the `Boolean` overload of `Dispose` provides almost no value.

[2017-08-22 16:55] bricelam commented on #9507
Previously, there would have been no way to insert `false`. Making the CLR property nullable allows EF to differentiate between `null` (use the default) and `false`.

[2017-08-22 16:57] bricelam commented on #9507
Note, the database an remain the same. The column will always have a value since sending `null` will cause the default value--`1`--to be used.

[2017-08-22 16:59] bricelam commented on #9515
If you manually build the project (e.g. using Ctrl+Shift+B) you should be able to see what the errors are.

[2017-08-22 17:02] ajcvickers commented on #9507
See #8400 and #7163 for more details.

[2017-08-22 17:08] ajcvickers commented on #9513
Looks like @Wayne-Mather has answered the question. @kishoretvk If you are still having issues, then please provide more complete details on how we can reproduce the issue.

[2017-08-22 17:12] bricelam commented on #9505
@bdominguez What framework and runtime are you using?

@glegleme According to ericsink/SQLitePCL.raw#161 this should work. You could also try just using the version that ships with Windows 10:

[code]

[2017-08-22 17:14] ajcvickers commented on #9446
@divega Your thoughts on this one as a candidate for 2.0.1?

[2017-08-22 17:16] ajcvickers commented on #9462
@seb999 @badyalsk @joelmartinez @Wayne-Mather @DNS-Cihang @mparlak Could one of you attach a project that reproduces the issue so that we can investigate?

[2017-08-22 17:30] smitpatel commented on #9488
@leehavin - Share repro code which demonstrate what you are seeing. Again there is no visible C# error here.

[2017-08-22 17:32] bdovaz commented on #9505
@bricelam I'm targeting .NET 4.6.2

[2017-08-22 17:32] ajcvickers commented on #9517
@ndphuong EF Core requires all mapped entity types to have a primary key defined. This is needed so that different entity instances can be uniquely identified for tracking.

Can you provide some details of what you are trying to do so we might be able to give some advice on how to approach it.

[2017-08-22 17:35] bricelam commented on #9505
AnyCPU, x86, or x64?

[2017-08-22 17:36] maumar commented on #9038
@marianosz I'm working on this issue at the moment

[2017-08-22 17:36] bricelam commented on #9505
NuGet via `packages.config` or MSBuild `PackageReference` items?

[2017-08-22 17:37] smitpatel commented on #9499
@denismaster - Can you give example of a query? Do you have includes in your query?

[2017-08-22 17:39] bdominguez commented on #9505
AnyCPU and MSBuild PackageReference

[2017-08-22 17:39] bricelam commented on #9505
Are you using the `Microsoft.NET.Test.Sdk` package?

[2017-08-22 17:40] bdominguez commented on #9505
Yes, I'm using MSTest

[2017-08-22 17:51] smitpatel commented on #9508
Include indicates a navigation property to be loaded on an entity type in the model. Once you cast to `IFoo` the query source no longer correspond to any entity type in the model. Hence EF Core fails to find the navigation `Bars` to be included.
Further casting won't be translatable to Server. The best way is to do casting after getting the result on client manually.

[2017-08-22 17:53] ajcvickers commented on #9508
@smitpatel Any way we can figure out that the actual entity type is Foo and Foo.Bars is the same thing as IFoo.Bars?

[2017-08-22 18:12] smitpatel commented on #9516
Enumerable.Average throws InvalidOperationException when sequence contains no elements.
Ref: https://msdn.microsoft.com/en-us/library/bb548874(v=vs.110).aspx
We aligned with C# behavior due to bug https://github.com/aspnet/EntityFrameworkCore/issues/7901

[2017-08-22 18:14] smitpatel commented on #6323
@RehanSaeed - Changed localhost to machine IP where localhost is running.

[2017-08-22 18:22] smitpatel commented on #9519
We have worsened the query here. It is N+1 query with N queries have translatable join but now we are not translating it anymore. Further we are not doing outer parameter on 2nd level navigation.
This could be related to our N+1 optimizations.

[2017-08-22 18:27] Naresh3454 commented on #7731
https://developercommunity.visualstudio.com/content/problem/35803/help-error-the-package-manager-console-requires-po.html

[2017-08-22 18:27] smitpatel commented on #9508
We can map in simple case. For same interface being implemented by multiple types we can fall back to last known entity type. It may create some inconsistency & ambiguity on how & where is include is applied. Easiest way to write that would be to apply include before the cast.

Reopening so that we can discuss in triage.

[2017-08-22 18:39] bricelam commented on #9213
+1. I want to write this...
[code]
...not this.

[code]

[2017-08-22 18:43] smitpatel commented on #9181
Verified that all above tests are fixed in #9454

[2017-08-22 18:43] #9181 closed

[2017-08-22 18:46] smitpatel commented on #9515
This package is no longer in 2.0 release. You need to remove reference to it.

[2017-08-22 18:46] glegleme commented on #9505
@bricelam The solution with
 `dotnet add package SQLitePCLRaw.bundle winsqlite3 `
does not work against dot.net core console app, because that package is compatible with UAP 10 only.
I have tried that workaround, but to no avail. It compiles and work on development machine just fine, but on the target machine.

[2017-08-22 19:08] muhsohail opened #9520 "'Reference to type 'BaseControlContext" claim it is defined in Microsoft.AspNetCore.Authentication, but it could not be found."
**Issue:**

I am below facing weird issue.

_

_

I am reading and creating OpenID Connect server with ASOS this article ASOS - AspNet.Security.OpenIdConnect.Server.

Article link: [http://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-introduction/](url)

I simply created new sample solution and added new subclass AuthorizationProvider class of OpenIdConnectServerPro

[2017-08-22 19:13] pmiddleton commented on #9213
This is the next thing on my list to look into.

[2017-08-22 19:15] RehanSaeed commented on #6323
@smitpatel Is there some way to do this programmatically? I'm thinking that I can leave `localhost` in my connection string then if I'm running on Linux, replace `localhost` with the local IP somehow.

[2017-08-22 19:18] smitpatel commented on #6323
@RehanSaeed - I don't know. Try asking on stackoverflow. Perhaps someone with more SQL background can answer.

[2017-08-22 19:22] zilloy commented on #9508
It worked fine in v 1.1.2 btw, so it's probably a regression

[2017-08-22 19:22] RehanSaeed commented on #6323
@smitpatel Will do.

I feel that EF Core should really support `localhost` on Linux to help smooth out the platform differences. Perhaps I'll raise that as an issue but I'm not sure if that's an EF Core issue or some other repository.

[2017-08-22 19:27] smitpatel commented on #6323
EF core just use the connection string and pass it to `SqlClient` to create the connection. https://github.com/dotnet/corefx is the place to raise the feature request. If SqlClient supports it on Ubuntu then EF will just work fine.

[2017-08-22 19:34] bricelam commented on #9213
Sweet. No rush; I was just adding my feedback. I'm writing a blog post about you and used the feature for the first time. 😉

[2017-08-22 19:46] QuantumHive commented on #9506
Well after trying it with the PMC tools, the migration file seems to be included immediately. However I'd like to note that when using the Command Line Tools, the issue didn't arise in the previous dotnet core version `1.1`.
Also a new issue arises when doing `Remove-Migration` after I've did `Add-Migration`:

[code]

Also the migration file gets stuck in the Solution Explorer UI, but on disk does

[2017-08-22 19:48] averyoo7 opened #9521 "Why isn't .HasMaxLength(X) being generated for nvarchar(X) in my model?"
### Description
I'm getting a runtime error because of the model/scaffold/context (not sure which term is correct here) that's being generated. I haven't gotten out of the sandbox yet. I'm trying to build a DB-first model from SQL Server 2012 database.
__If the length of a field is specified in the db table, and a max length is required to avoid runtime errors, then why doesn't EF Core include .Ha

[2017-08-22 19:54] smitpatel commented on #9521
duplicate of #9188

[2017-08-22 19:55] averyoo7 commented on #9521
I see I'm wrong about the .HasMaxLength not being generated--it's there. I don't why I'm getting the error then, and I don't know the best place to ask about it.

[2017-08-22 19:56] TsengSR commented on #9485
I know that works, but I hoped there is (or at least would be in future) a way to directly map it, so we could have a cleaner way to design our domain models w/o too much persistence specifics leaking into the domain model and or using event sourcing, even for simpler problem domains.

[2017-08-22 19:57] smitpatel commented on #9506
@QuantumHive That error is duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/9280

[2017-08-22 19:57] smitpatel commented on #9521
@averyoo7 - Just change `nvarchar` to `nvarchar(4000)` and it will start working.

[2017-08-22 20:01] pmiddleton commented on #9213
Cool - where will the blog post be so I can check it out?

[2017-08-22 20:20] bricelam commented on #9213
It'll be on [my blog](http://bricelam.net) sometime this week. Do you Twitter? If so, I'll mention you there when I post it.

[2017-08-22 20:25] denismaster commented on #9499
Yes, there is a simple example of query, copied from debug view in vscode, that cause the error:
[code]
The goal of provided request is selecting first 10 teachers from database and sort them by their Id in ascending order. I want to include some extra information from Department, Position and Students properties.
I'd like to provide also Teacher class, which maybe can help you.
[code]

[2017-08-22 20:41] pmiddleton commented on #9213
I don't Tweet.

[2017-08-22 21:59] smitpatel commented on #9347
@SergeyBarskiy Can you share create table script for `INSTOREITEMTRANSFER` table. From what I suspect you generated this model from database using reverse engineering and there are bugs in rev eng causing decimal/numeric types to be scaffolded incorrectly. I would like to repro those bugs too.

[2017-08-22 22:01] smitpatel commented on #9499
This seems to be error in anonymous object in related queries with dynamically created first query.

[2017-08-22 22:04] ardalis opened #9523 "Specification pattern with Include and ThenInclude"
I'm using the Specification pattern with EF Core, and am specifying what I want to include as part of the specification (along with query criteria).

See here:
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/Infrastructure/Data/EfRepository.cs

Sample specification:
https://github.com/dotnet-architecture/eShopOnWeb/blob/master/src/ApplicationCore/Specifications/BasketWithItemsSpe

[2017-08-22 22:06] bricelam commented on #9213
Here's [a draft](https://github.com/bricelam/bricelam.github.io/blob/udf/_posts/2017-08-22-sqlite-efcore-udf-all-the-things.md)

[2017-08-22 22:07] #9424 closed

[2017-08-22 22:17] SergeyBarskiy commented on #9347
Sure. Here you go, Smit.

CREATE TABLE [dbo].[INSTOREITEMTRANSFER](
	[INSTOREITEMTRANSFERID] [char](36) NOT NULL,
	[INBINIDFROM] [char](36) NOT NULL,
	[INBINIDTO] [char](36) NOT NULL,
	[TRANSFERQUANTITY] [numeric](38, 5) NOT NULL,
	[ITEMID] [char](36) NOT NULL,
 CONSTRAINT [PK_INStoreItemTransfer] PRIMARY KEY CLUSTERED
(
	[INSTOREITEMTRANSFERID] ASC
))

[2017-08-22 22:39] AndriySvyryd opened #9524 "Connection state not tracked correctly if store connection gets closed"
1. Create a context with a closed existing connection or connection string
2. Call `context.Database.OpenConnection()`
3. Call `context.Database.GetDbConnection().Close()` or let it get closed due to a transient error
4. Call `context.SaveChanges()` or any other method that needs an open connection

At this point the connection will be closed, but should still be open.

[2017-08-22 23:02] Wayne-Mather commented on #9462
@ajcvickers - Unfortunately my solution is for a corporate entity so I cannot supply a solution. Hopefully others who have issues can assist.

[2017-08-22 23:03] maumar commented on #9464
dupe of #9038
@MaklaCof I listed some workarounds in the original issue

[2017-08-22 23:06] maumar commented on #9449
dupe of #9038

[2017-08-22 23:06] maumar commented on #9306
dupe of #9038

[2017-08-22 23:08] Wayne-Mather commented on #9462
@seb999 @badyalsk @mparlak - Silly question, but did you update your Main.cs and Startup.cs as per the [upgrade guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/)?

Specifically:

[code]

and the new constructor in Startup.cs (only if you currently use a property in your startup class)

[code]

[2017-08-22 23:57] smitpatel opened #9526 "RevEng: decimal/numeric(38,5) is scaffolded incorrectly"
[code]

Generates
[code]
😞

[2017-08-23 00:08] pranavkm opened #9527 "[1.1.4 Patch]: AsyncQuerySqlServerTest.Concurrent_async_queries_are_serialized test flakiness"
[code]

[2017-08-23 00:08] pranavkm commented on #9527
cc @Eilon \ @ajcvickers

[2017-08-23 00:09] smitpatel commented on #9347
@SergeyBarskiy - Sorry to ask for more info
Can you share table creation script for table `BLLICENSEWFSTEP` & `CATRANSACTION`?

[2017-08-23 00:19] SergeyBarskiy commented on #9347
CREATE TABLE [dbo].[BLLICENSEWFSTEP](
	[BLLICENSEWFSTEPID] [char](36) NOT NULL,
	[BLLICENSEID] [char](36) NOT NULL,
	[WFTEMPLATESTEPID] [char](36) NULL,
	[WFSTEPTYPEID] [int] NOT NULL,
	[PRIORITYORDER] [int] NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[WORKFLOWSTATUSID] [int] NOT NULL,
	[ROWVERSION] [int] NOT NULL,
	[LASTCHANGEDON] [dat

[2017-08-23 00:31] maumar commented on #9341
fixed in 28d155a6041a51059fa6f716c3077a30b4314330

[2017-08-23 00:31] #9341 closed

[2017-08-23 00:56] maumar commented on #9340
fixed in 25637c2e377dd467cb3bef10b6295ccd70587a90

[2017-08-23 00:56] #9340 closed

[2017-08-23 01:07] smitpatel opened #9530 "RevEng: Round-tripability of non clustered PK"
[code]
- Scaffold DbContext from above SQL
- Generate Migration
It gives following migration script
[code]
The PK becomes clustered (the default).
For some reason it works for simplest scenario correctly. Perhaps some column in above script is throwing it off.
Tested using CI builds Build no. 26744

This causes issue if the table has clustered index. Migration or database creation fails due to mul

[2017-08-23 01:12] smitpatel commented on #9347
@SergeyBarskiy - How about `HEARING` table script? Including all the constraints defined on it.
The project you provided indicate that reveng scaffolded `nvarchar(max)` for a column which is involved in a index. That is invalid for SqlServer. I am trying to get a repro for that and verify if it is working for latest codebase. Thanks.

[2017-08-23 01:51] SergeyBarskiy commented on #9347
Scaffolding created some number of configurations with just nvarchar without length.  Hearing must have been one of those.  I manually replaced them all with nvarchar(max) to get the sample to run.  This was flagged as known issues.  I think it occurs for nvarchar(4000) columns.

CREATE TABLE [dbo].[HEARING](
	[HEARINGID] [char](36) NOT NULL,
	[HEARINGTYPEID] [char](36) NOT NULL,
	[HEARINGSTATUSID

[2017-08-23 04:23] LakshmiPrasanna-Human commented on #9515
1. I have removed "Microsoft.EntityFrameworkCore.SqlServer.Design"
2. Build the project , its not showing any build errors. Build is successful.
3. When running Scaffold-DBContext from powershell command , it throwing the same error.
PM> Scaffold-DbContext "Data Source=HTGHTFG135611L;Initial Catalog=HHH;Persist Security Info=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir DBModels -force

[2017-08-23 04:24] LakshmiPrasanna-Human commented on #9515
Appreciate, if i can details more quickly

[2017-08-23 08:06] ErikEJ commented on #9526
Same issue a with maxLength:

    CAST(CASE WHEN c.precision <> tp.precision

            THEN c.precision

            ELSE null

        END AS int) AS [precision],

      CAST(CASE WHEN c.scale <> tp.scale

            THEN c.scale

            ELSE null

        END AS int) AS [scale],

[2017-08-23 08:14] cycbluesky opened #9531 "The instance of entity type 'ActivityRecipientPack' cannot be tracked because another instance with the key value 'RecipientPackId:0' is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached"
After I upgrade to EntityFrameworkCore 2.0, I got an error when I use parent-children table model as usual.
Next is table model.

[code]

--Code in ModelCreating
[code]

Next is test code
[code]

After run, I got the error.
[code]

[2017-08-23 08:23] JonPSmith commented on #9516
I would politely ask you to reconsider this design decision and go back to returning null on a 'on sequence' situation. My reasons are:

### A. Returning NULL for 'no sequence' is a recognised approach for databases
As EF Core is accessing a database then following the database convention is the most applicable approach. I believe EF6.x `Average` etc. returns null on 'no sequences'. Even the perso

[2017-08-23 09:00] ManuelHaas opened #9532 "Creation of DB takes several minutes after update to Visual Studio 15.3.1"
Hi,

I have an ASP.NET Core 1.2 (using .NET framework 4.6.2) app with EF Core 1.2. After updating Visual Studio 2017 to version 15.3.1 the creation of the database (if it was deleted in a previous step) takes several minutes!! Before update the creation takes a few seconds.
Watching the creation in debug log looks like slow motion. It creates two or three tables and freezes for one or two minutes,

[2017-08-23 09:02] RehanSaeed commented on #6323
@smitpatel I raised issue https://github.com/dotnet/corefx/issues/23503 to enable `localhost` support.

I managed to connect to a remote SQL Server but not my local instance, I suspect this is because my local instance does not allow remote connections and I would need to use the IP address as my data source on Linux. More details in the issue above.

[2017-08-23 09:10] pmrozek commented on #9515
I have the same problem with my project (class library - Visual Studio Pro 2017 15.3.2).
My project settings:
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup Label="Globals">
    <SccProjectName>SAK</SccProjectName>
    <SccProvider>SAK</SccProvider>
    <SccAuxPath>SAK</SccAuxPath>
    <SccLocalPath>SAK</SccLocalPath>
  </PropertyGroup>
  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</Tar

[2017-08-23 09:47] seb999 commented on #9462
This is a dummy project where i created the EF model based on my existing database with the Scaffolding tool.

Joining the database is a bit complicated, but eventually you can generate the database base on the model. I also tried this approach and it is not working.

[TestEntityCore2.zip](https://github.com/aspnet/EntityFrameworkCore/files/1244934/TestEntityCore2.zip)

[2017-08-23 10:06] bdominguez commented on #9505
@bricelam info that can be of your interest on *.csproj:

[code]

[2017-08-23 12:09] ndphuong commented on #9517
@ajcvickers
We are using EFCore to try access a read-only database
Some table don't have any primary key column so EF throws exception

[2017-08-23 12:17] falps opened #9533 "An item with the same key has already been added."
When batch updates and additions occur, the following error occurs:
An item with the same key has already been added. Key: p2068，
StackTrace:
at System.ThrowHelper.ThrowAddingDuplicateWithKeyArgumentException(Object key)
at System.Collections.Generic.Dictionary2.TryInsert(TKey key, TValue value, InsertionBehavior behavior) at System.Collections.Generic.Dictionary2.Add(TKey key, TValue value)
at Mi

[2017-08-23 13:03] badyalsk commented on #9462
Getting error: An unhandled exception of type 'System.StackOverflowException' occurred in System.Private.CoreLib.dll

[2017-08-23 13:20] glegleme commented on #9505
Solution (at least for raspberry Pi) is following:
- find winsqlite3.dll (It is located in WINDOWS/System32) on Raspberry Pi
- copy this dll into publish destination for .net core project
- rename it to: e_sqlite3.dll
Start dotnet console application.
This works both for console as well as for Asp.Net MVC core application.

[2017-08-23 13:37] wielvanraaij opened #9534 "Stack overflow after migration EF Core from 1.2 to 2.0"
I created a working project with EF Core 1.2 by generating a data model with EF Scaffolding. This project worked fine under version 1.2. When version 2.0 was released I updated the EF project to the latest version, but immediately started to expierence stackoverflow messages when loading the DbContext.

I've investigated the problem and it seems the problem is due to two bad foreign key contraints

[2017-08-23 13:59] mparlak commented on #9462
@Wayne-Mather
My current application is running fine with Microsoft.EntityFrameworkCore.SqlServer version = "1.1.2". But if I upgrade to Microsoft.EntityFrameworkCore.SqlServer version = "2.0.0" and run the application, it gives a StackOverflowException error.

[2017-08-23 14:00] youclk opened #9535 "Rownumber paging generates invalid SQL with DTO projection and orderby"
I find a bug ，if use `RowNumber` of paging：
[code]
At this point, the orderby fields and select the fields can't be the same：
[code]
the translation of sql：
[code]
Error info ：`the column name 'Id' is invalid`

[2017-08-23 14:07] SergiiKliebanov commented on #6313
Hi guys, I've also faced this problem. When I execute script from https://www.benday.com/wp-content/uploads/2017/03/deploy-ef-migrations.bat_.txt I receive
`dotnet exec needs a managed .dll or .exe extension`
My input arg is dll like it was described in the article. When I run `dotnet ef database update` from project directory everything works fine. You can find csproj below.

[code]

`dotnet --in

[2017-08-23 14:16] seb999 commented on #9534
We are facing the same issue here:
https://github.com/aspnet/EntityFrameworkCore/issues/9462

[2017-08-23 14:25] ReginaldBull commented on #9326
I have modified my OnModelCreating to this
`
        protected override void OnModelCreating(ModelBuilder builder)
        {
            base.OnModelCreating(builder);

            builder.Ignore<IdentityRole>();
            builder.Ignore<IdentityRoleClaim<string>>();
            ....
            }
`
And get this exception:

[2017-08-23 15:31] bubibubi opened #9536 "Conventions shouldn't try to set the base type for owned types"
For example an owned type Address { Street : string, City : City  }  and an owned type City { Name : string , State : string}

[2017-08-23 15:39] bricelam commented on #9515
We may need someone on [dotnet/project-system](https://github.com/dotnet/project-system) to help investigate. Our tool just calls the following. No additional information is available from the EnvDTE interfaces.

[code]

[2017-08-23 15:44] snickler commented on #245
I made a blog post on something I did as a workaround until this is completely supported:

http://sinclairinat0r.com/2017/05/06/entity-framework-core--mapping-stored-procedures,-fluently

[2017-08-23 15:54] bricelam commented on #6313
Version 1.0.0 of the Microsoft.EntityFrameworkCore.Tools.DotNet package isn't compatible with the .NET Core SDK 2.0. Add the following `global.json` to your solution.
[code]

[2017-08-23 16:01] bricelam commented on #9506
Agree, it is a bug. VS is supposed to automatically add new files to the project. Could you report it on [dotnet/project-system](https://github.com/dotnet/project-system)?

[2017-08-23 16:01] pmrozek commented on #9515
Sure, please find the attached file (project + database).

[CrossPlatform.zip](https://github.com/aspnet/EntityFrameworkCore/files/1246111/CrossPlatform.zip)

[2017-08-23 16:05] bricelam commented on #9505
@glegleme Can you follow up with an issue on [ericsink/SQLitePCL.raw](github.com/ericsink/SQLitePCL.raw)? AFAIK, it's supposed to just work™.

[2017-08-23 16:07] bricelam commented on #9505
@bdominguez Could you share your solution? I'm having a hard time reproducing the issue...

[2017-08-23 16:10] ajcvickers commented on #9246
@Eilon Pinging you for external issue per conversion yesterday.

[2017-08-23 16:19] DeveloperUniversity opened #9537 "Migration to 2.0 - Can't find System.Data.Entity"
After following the migration [instructions on this page](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/), I've resolved almost all issues.

HOWEVER, now when I attempt to run my application, I get the following exception:

```Cannot find compilation library location for package 'System.Data.Entity'```

I'm stumbling through a dozen new concepts here, but I think the .csproj and

[2017-08-23 16:29] bubibubi opened #9538 "Materialization process issue writing a provider (EntityMaterializerSource)"
During materialization process I can control how values are converted from DBMS types to CLR types implementing a custom EntityMaterializerSource.
In the standard implementation this is done by EntityMaterializerSource.TryReadValue.
Provider implementers can know the expected value and can convert the DBMS value to the expected value in the right way.

If the value is generated during Runtime for

[2017-08-23 16:46] ajcvickers commented on #9462
Thanks @seb999 for the project.

@AndriySvyryd Looks like this is a stack overflow in the model validator. Assigning to you to investigate as a high priority.

[2017-08-23 16:52] ajcvickers commented on #9532
@ManuelHaas Could you provide a full project that reproduces what you are seeing. You can email it privately (avickers at where I work) if it can't be posted publicly.

[2017-08-23 16:54] ajcvickers commented on #9534
Duplicate of #9478

[2017-08-23 16:58] ajcvickers commented on #9517
@ndphuong This is covered by #9290 and #1862 may also have useful information for you.

Closing this as a duplicate of #9290

[2017-08-23 17:37] ManuelHaas commented on #9532
@ajcvickers I'm sorry but there is some intellectual property in the project that is not free for transfer. Is there a way to turn on some kind of detailled logging for a log file that would help you?
If not, I had to remove some parts of the project which will take some time...

[2017-08-23 17:55] jayoungers commented on #8933
How is that not mentioned here?

https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging

[2017-08-23 18:01] smitpatel commented on #9347
@SergeyBarskiy Do you have index defined which would correspond to this code.
[code]
For some reason reveng generated it in code. But then `Comments` cannot be `nvarchar(max)` (SqlServer does not allow max when using with key/index). It seems like reveng generated some non-existent index.

[2017-08-23 18:10] ajcvickers commented on #9399
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-08-23 18:13] pauldalyii opened #9539 "Support for navigation references in model-level query filters"
I would like to be able to use navigation references in model-level query filters.  This limitation is called out in the [ef core / what's new](https://docs.microsoft.com/en-us/ef/core/what-is-new/#model-level-query-filters) documentation.

I can probably best describe my use case by extending the tenant sample shown in that documentation.

Unlike the referenced sample, I do not have reference to

[2017-08-23 18:20] glegleme commented on #9505
@bricelam  After follow up with [https://github.com/ericsink/SQLitePCL.raw/issues/175](url) the solution is to use
[code]
**`dotnet publish -r win10-arm`**

The build instructions on [https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md](url) are missleading.

[2017-08-23 19:33] ajcvickers commented on #9330
Moving this to 2.1 based on feedback in #9225.

[2017-08-23 19:34] ajcvickers commented on #9225
Closing as a duplicate of #9330 since we decided in triage to address this issue by fixing that one.

[2017-08-23 19:42] ketrex2 opened #9540 "Get methods with Include leads to (potentially massive) data loss!"
My database has an Enterprise entity with a one-to-many relationship with the Site entity, which has a one-to-many relationship with the Program entity.

The use of an Include() in the DbContext get method results in all children of the parent entity being deleted. Get methods that do not have Include() perform normally.

For example, calling:
`DbContext.Enterprises.Include(x => x.Sites).ToList();

[2017-08-23 19:53] smitpatel commented on #9516
We cannot return `null` because we cannot assign it to non-nullable object. If average is being computed in nullable type then EF Core doesn't throw.

[2017-08-23 19:58] smitpatel commented on #9535
We probably need to unwrap AliasExpression.

[2017-08-23 20:07] ajcvickers commented on #9409
Discussed in triage and decided:
* While sometimes using WhenAll on Async methods can be safe because the serialization in query, it is hard to clearly define when doing so is safe. Therefore, we will not encourage patterns that may result in concurrent access to context methods.
* We should throw a concurrency type message when detecting concurrent or recursive calls to  OnConfiguring--we already

[2017-08-23 20:10] ajcvickers commented on #9446
Triage decision: we will correctly detect this as ambiguous in 2.1 and throw a validation exception. Given that we are going to do this in 2.1 and we think that hitting this will not be super-common in 2.0, we are not going to patch anything.

[2017-08-23 20:12] ajcvickers commented on #2166
Based on the semantics of the FK as discussed in #9470 and that these semantics now matter for querying data from the in-memory provider, we think it would now be useful to have the in-memory provider check cosntraints--that is, if an FK has a non-null value, then there must be a principal key with that value.

[2017-08-23 20:15] ajcvickers commented on #9475
@LeonardoDaga We're finding it a little difficult to understand what is going on here. Could you provide a complete code listing or attach a project that demonstrates the issue you are seeing?

[2017-08-23 20:19] ajcvickers commented on #9484
@jimerino While this is not an unreasonable request it would actually take quite a lot of effort to make work and would also likely result in more fragile code since EF would have to be figuring out things like assembly locations independently. Also, hopefully an improved flow including "update model from database" (issue #831) will make this overall experience better. Closing this issue for these

[2017-08-23 20:22] ajcvickers commented on #9485
Closing as duplicate of #9059

[2017-08-23 20:24] ajcvickers commented on #9486
For now, closing this as a duplicate of #9462 since all the symptoms seem to be the same. That issue is being actively investigated.

[2017-08-23 20:43] paultechguy commented on #9433
Yepper, same issue here.  All same symptoms...using more than one DbContext with AddDbContextPool causes exception.

[2017-08-23 20:47] rnanjala commented on #827
i have installed entiry core 2.0 version and it's still not supporting views. any timeline as when we can use views using entitycore?

[2017-08-23 20:49] AndriySvyryd commented on #9462
@seb999 This is caused by a self referencing FK defined on the PK:

[code]

This would result in a useless relationship, since it would always point to itself.
To fix it add another property, like `TransferPetId`, to `PendingExpenseTransfer` and use it for the FK.

[2017-08-23 20:50] AndriySvyryd commented on #9462
Duplicate of #9478

[2017-08-23 20:59] AndriySvyryd commented on #9478
Impact: Self-referencing PK-to-PK relationships cause stack overflow.
Risk: Low, the fix only affects this scenario

[2017-08-23 21:01] ajcvickers commented on #827
@nhustak @rnanjala @ArgusMagnus Can you be more specific about what you want with regards to "supporting views"--perhaps looking at #9290 as well. The reason I ask is that there are various ways that EF could interact with views, but taking two examples, the work to reverse engineer from views is very different from the work to query for data without keys, and both of these could be considered "vi

[2017-08-23 21:03] AndriySvyryd opened #9543 "Warn for self-referencing PK-to-PK relationships in model validation"

[2017-08-23 21:10] anpete commented on #9433
Note for people hitting this: you should be able to workaround the issue by overriding the default DI configuration for DbContextPool to match [this](https://github.com/aspnet/EntityFrameworkCore/commit/a661feb049d92533021d7377ad0d289b64a722f0#diff-1f53a7b867113cb4b9c61eccef38abd9R167).

[2017-08-23 21:11] smitpatel commented on #9537
<Reference Include="System.Data.Entity">
      <HintPath>..\..\..\..\..\..\..\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\System.Data.Entity.dll</HintPath>
    </Reference>
  </ItemGroup>

Are you using EF6 in your project (side by side with EF Core). If no then remove above part.

[2017-08-23 21:18] #9510 closed

[2017-08-23 21:24] smitpatel commented on #9538
@anpete since Oracle has same issue with bool.
@bubibubi - `EntityMaterializerSource.TryReadValue` may not be used always. Check `TypedRelationalValueBufferFactory`. (& Untyped version)

[2017-08-23 21:26] smitpatel commented on #8933
@divega For doc issue

[2017-08-23 21:30] smitpatel commented on #9491
duplicate of #8881

[2017-08-23 21:31] smitpatel commented on #9539
duplicate of #8881

[2017-08-23 21:32] anpete commented on #9538
@bubibubi Which IRelationalValueBufferFactoryFactory does your provider use?

[2017-08-23 21:38] nhustak commented on #827
@ajcvickers  I did some googling and I'm fine with using a fromSQL to get data from my views.  I was able to add them to my context, albeit one of them I had to fake a primary key setup.  I don't have a particular view issue at this point in time - I can't really say what I was expecting.   Honestly I'm much more frustrated from not being able to inherit from a table model directly to a view model

[2017-08-23 21:39] nhustak commented on #827
@ajcvickers  I like where #9290 is headed.

[2017-08-23 21:42] ajcvickers commented on #9533
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-08-23 21:53] Nathan-Ryan commented on #8384
Any progress on this?
I'd just like to add it affects nested .FirstOrDefault() queries too. I use this technique a fair bit for my models which have optional sub-models.

[2017-08-23 21:57] maumar opened #9544 "Query: null semantics should apply to GreaterThanOrEqual, LessThanOrEqual, not only strict equality"
This currently manifests in our translation of string.Contains:

[code]

we should be applying null semantics here instead:

[code]

[2017-08-23 21:59] AndriySvyryd commented on #8384
@Nathan-Ryan This was fixed by https://github.com/aspnet/EntityFrameworkCore/commit/d9077d19967443cbe181e5b238aebca15823b451

[2017-08-23 21:59] #8384 closed

[2017-08-23 22:03] Nathan-Ryan commented on #8384
@AndriySvyryd Wow that was fast. Your my hero. Do we have to wait for the 2.1 release now?

[2017-08-23 22:05] AndriySvyryd commented on #8384
@Nathan-Ryan It was fixed previously, we just forgot to close this issue 😄 The fix should be available in 2.0.1

[2017-08-23 22:07] Nathan-Ryan commented on #8384
@AndriySvyryd Awesome, I'll check it out.

[2017-08-23 22:13] maumar commented on #9199
This is fixed in 2.0

[2017-08-23 22:13] #9199 closed

[2017-08-23 22:27] smitpatel commented on #9540
This is user code error.
In your `Site.cs` you have this property.
[code]
Which means everytime you access Programs, you would get new empty list of Program. Therefore when SaveChanges tries to detect changes, it fetches the value of `Site.Programs` which is empty list different from List of ` program which was loaded, hence it deletes the Program.
Similar issues are there in other classes.

[2017-08-23 22:45] Nathan-Ryan commented on #8384
@AndriySvyryd Which package source would I need to add to get 2.0.1?

[2017-08-23 22:47] AndriySvyryd commented on #8384
@Nathan-Ryan It would be https://dotnet.myget.org/gallery/aspnetcore-patch, but we haven't published it yet. For now you can try 2.1.0 from https://dotnet.myget.org/gallery/aspnetcore-dev

[2017-08-23 22:48] Nathan-Ryan commented on #8384
@AndriySvyryd Thank you very much.

[2017-08-23 22:56] maumar commented on #9248
This works in current bits, closing

[2017-08-23 22:56] #9248 closed

[2017-08-23 23:02] divega commented on #9516
@smitpatel what needs to be nullable? The type of the member the result of `Average()` is assigned to or the return type of the selector passed to `Average()`?

FWIW, in @JonPSmith's sample code the former is already nullable:

[code]

Also he is right that this used to work in previous versions of EF.

I know we decided on this when we discussed #7901, but even on that issue, the customer was ask

[2017-08-23 23:15] ajcvickers commented on #9536
@bubibubi Are you asking for inheritance of containment? If the former, can you add a bit more detail as to what the types look like and how you expect them to be mapped? If the latter, then you can already do:
[code]

[2017-08-23 23:17] smitpatel commented on #9516
This throws for all cases even for nullable types. `DetermineAggregateThrowingBehavior` is not working correctly. @anpete

[2017-08-23 23:29] ajcvickers commented on #9038
@maumar Can you write the patch Risk/Justification for this one?

[2017-08-23 23:39] maumar commented on #9038
Risk: Low - fix is very localized (one line change, constrained to blocks that return non-generic Task), fix is using well established pattern for noop async operations - returning Task.CompletedTask.
Impact: Medium/High - it's a regression introduced in 2.0 and was reported by multiple customers. There are workarounds, but they are not ideal - either switching to synchronous execution on rewrite

[2017-08-24 00:00] ajcvickers commented on #9523
@ardalis Have you tried using the string-based overloads of Include? When using strings, you don't need to have ThenInclude calls because you can instead use a concatenated string of properties. For example:
[code]
is the same as:
[code]

[2017-08-24 00:12] DeveloperUniversity commented on #9537
Thank you, that probably fixed it.

I also realized I was missing a couple of packages in the .csproj that I copied over from a fresh ASP.NET MVC Core 2.0 project:

[code]

[2017-08-24 00:22] smitpatel commented on #9347
[code]
Since there is no data, Queries are not returning results but fetching one result shouldn't be very slow to materialize also query compile time would be slower than runtime. SaveChanges couldn't be verified.

RevEng issues https://github.com/aspnet/EntityFrameworkCore/issues/9530 https://github.com/aspnet/EntityFrameworkCore/issues/9526

[2017-08-24 00:22] smitpatel commented on #9347
Handing over to @AndriySvyryd since Model building is the only slow step in pipeline.

[2017-08-24 01:42] TimRowe opened #9547 "InvalidOperationException: Unable to resolve service for type 'Microsoft.EntityFrameworkCore.DbContext' while attempting to activate"
I want to control dependency inject by myself sometime. So I configue the service like that below.

[code]
It work fine, but when i replace the `services.AddScoped(typeof(DbContext), typeof(TmqDbContext));` with `services.AddDbContext<TmqDbContext>()`, In my method, it raised the error .

[code]

[code]
The stack is
[code]

### Further technical details
EF Core version: 2.0
Database Provider: Micr

[2017-08-24 03:37] Ketrex commented on #9540
Thanks @smitpatel, not sure how I missed that!

[2017-08-24 06:22] LakshmiPrasanna-Human commented on #9515
Hi, The issue got resolved in my case. However i still see a bug in this. Below is the

Current Solution:  My current solution has three projects. One of the project(ProjectA) has build errors. In ProjectB i am running the Scaffold command from Project Management Console. In project Management Console , ProjectB is clearly selected. In this scenario its throwing error "Build Error" and code files

[2017-08-24 06:39] bubibubi commented on #9536
@ajcvickers I'd like to map something like this

[code]

[2017-08-24 06:50] TomWangliming opened #9548 "Can not create the database table by the Fluent API way"
I create the model, but Table cannot be generated automatically in SQLServer. I try create the table by myselft, the Database operation success.

### Further technical details
EF Core version: 2.0.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer
Operating system: win 10
IDE: Visual Studio 2017 15.3.1

[2017-08-24 07:51] tomwangliming commented on #9548
i use Database.EnsureCreated, the table is created.
Can the ef core generated  itself, not by useEnsureCreated?

[2017-08-24 08:14] denismaster commented on #9499
Is there any hotfix available?)

[2017-08-24 08:17] seb999 commented on #9462
Thanks a lot Andriy for your intervention. I commented out this self reference in the DBContext as well as the property InversePet in the table PendingExpenseTransfer and it works.

[2017-08-24 09:58] bubibubi commented on #9538
@anpete @smitpatel, I was using the default `IRelationalValueBufferFactoryFactory`. Looking at `UntypedRelationalValueBufferFactory.Create` it calls the _processValuesAction using the `DbDataReader` values.

In my case and probably in Oracle case the `DbDataReader.GetValues` returns 0 for false and -1 for true (no way to cast them as bit or something similar as in SQL Server).

So, the query
[code

[2017-08-24 10:41] MateEke opened #9549 "Can't run DateDiff with [DbFunction]"
When I try to run DateDiff with [DbFunction] I get the following exception:

System.Data.SqlClient.SqlException (0x80131904): Invalid parameter 1 specified for datediff.

The relevant part of the query is:
WHERE (DATEDIFF(N'ss', @__unixEpoch_0, [m].[DateTime]) > @__utcTimestamp_1)

### Steps to reproduce

[code]

### Further technical details
EF Core version: 2.0
Database Provider:  Microsoft.Enti

[2017-08-24 10:42] mohsin91 opened #9550 "Entity Framework Core 2 - Code First not creating tables automatically"
I have added the following line in method ConfigurationServices() in file Startup.cs (My connectionstring is fine).
[code]
and in Configure method,

[code]

This is creating the database but not tables. When i call a simple count on my tables,
[code]

It throws following exception
[code]

### Further technical details
EF Core version: 2.0
Database Provider: Microsoft.EntityFrameworkCore.SqlServer

[2017-08-24 11:20] barishamil commented on #8498
I have a .NET Standard 1.4 library that has Microsoft.EntityFrameworkCore.Sqlite 1.1.2 dependency
There is a UWP project that references it and it works fine
There is a .NET Core 2.0 project that references it and it gets this error

[2017-08-24 11:40] johanskoldekrans commented on #9462
Was this self reference reflected in the output or error list?

[2017-08-24 12:43] dannythomas13 opened #9551 "Expression of type 'System.Object' cannot be used for parameter of type 'Microsoft.EntityFrameworkCore.Metadata.IEntityType'"
Since updating to v2 I now get the following exception from one of my unit tests:

[code]
In order to get the test to pass I have had to change:
[code]
to the following:
[code]

[2017-08-24 12:58] skysurfer72 opened #9552 "EF Core 2 INSERT error (The property 'ID' on entity type 'xxx' has a temporary value)"
This is my model (semplified):
PRAT is the main table

[code]
VW_PRATICHE_CONTIPO is a View (not a table!) in the database that contains some data related to PRAT table (1 to 1 relationship)

[code]
The one-to-one relation between the table and the View is based on the ID field.

I need this because I want to do a query like this:
[code]
This query works as exptected.

The problem happens when I t

[2017-08-24 13:05] rnanjala commented on #827
@ajcvickers in the old entity framework with webforms, when I create the edmx, i am able to access the veiew directly like database objects but in the entity core 2.0, I couldn't do that directly. One of the workarounds I found is exxecuting fromsql(). is there a way, I could access the view directly like we do with tables?

[2017-08-24 14:38] SergeyBarskiy commented on #9347
@smitpatel Comment columns is nvarchar(4000).  Reverse engineer did not handle it., so I manually changed it to max without looking.

[2017-08-24 14:39] bdominguez commented on #9505
@bricelam here you have:

[App.zip](https://github.com/aspnet/EntityFrameworkCore/files/1249215/App.zip)

When you run the test you should see:

[code]

[code]

[2017-08-24 14:58] fkhasib commented on #4900
I am still facing this issue on 2.0.0, I end up with multiple repeated records for the same entity if I use multiple Include and ThenInclude. Is this suppose to be fixed with 2.0.0-preview-1 but not 2.0.0?

[2017-08-24 15:07] fkhasib opened #9553 "Multiple repeated records when using Include and ThenInclude"
This was suppose to be fixed by 2.0.0 but I still get this error, if I have an entity with Include and then include, I end up with multiple records for the same Entity Y
[code]
I used to fix this in 1.1 by adding at the end of the query the following
[code]
but now with 2.0.0 I am getting the following error if I add that group and select
[code]

Further technical details

EF Core version: 2.0
Dat

[2017-08-24 15:16] pmiddleton commented on #9549
The issue here is that the Sql Server DateAdd method is a bit of an odd ball.  It expects that first parameter to be not quoted or double quoted.  Currently we don't support that with the dbFunction attribute.

To get this to work you will need to use the custom translation mechanism on the dbFunctions fluent api to map the function call to a SqlFunctionExpression manually.

[code]

[2017-08-24 16:00] ntrpnr commented on #1368
We need this.

[2017-08-24 16:02] bricelam commented on #9515
There were bugs in certain project types when we tried to only build the selected project, so we had to resort to building the entire solution.

There's [a TODO](https://github.com/aspnet/EntityFrameworkCore/blob/rel/2.0.0/src/EFCore.Tools/tools/EntityFrameworkCore.psm1#L775) in the code for finding a reliable way to build just the selected project.

[2017-08-24 16:06] falps commented on #9533
My test environment is as follows：
system:win10 ,
database:mysql 5.7 ,
Entity Framework Core provider for MySql: Pomelo.EntityFrameworkCore.MySql  2.0.0-rtm-10058
EF version 2.0
IDE: Visual Studio 2017
code:
using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
using Syst

[2017-08-24 16:47] marchy commented on #2266
EF Core is far from being ready for real production use. Best advice: stay the heck away from it and keep using EF6. Your business will thank you for it.

PS: This also means you cannot use .NET Core and must use .NET Framework – which means you cannot dev on MacOS for anything other than research/hobby projects. The chain of dependencies is still bottlenecked  :(

[2017-08-24 16:52] marchy commented on #9418
Looking over the roadmap, you have Lazy Loading listed as Critical while TPT as High. I think these should be inversed, since TPT prevents businesses from adopting EF Core while Lazy Loading is simply an optimization that can be done at the code level (ie: either fetch with proper includes upfront or simply query twice). In other words it's not a BLOCKER, while TPT/TPC is.

[2017-08-24 16:54] anpete commented on #9538
If you switch to TypedRelationalValueBufferFactoryFactory, then EF will call the DbDataReader.GetX methods instead of GetValues. This can make it easier to do custom type conversions because you could wrap the underlying DbDataReader and perform the conversion in the specifica GetX method. E.g. GetBoolean.

[2017-08-24 17:14] cubikca commented on #2266
Not using .NET Core is not really an option when developing microservices that have a small footprint. The full .NET stack is too large to create a reasonably-sized container.

I've had some success by mapping an entity model to a domain model. This seems to be the direction that many people are going, and there's a lot to recommend this approach. It is, however, more work. In general, though, it'

[2017-08-24 17:15] weitzhandler commented on #9418
I totally second what @marchy said.
TPT is a must in LoB apps, lazy-loading is just another feature (IMHO an evil one).

[2017-08-24 17:19] Eilon commented on #9105
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

@ajcvickers - please assign.

[2017-08-24 17:19] Eilon commented on #8862
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 17:19] MateEke commented on #9549
Thank you! I had to do some minor modifications, and now it's working:

[code]

[2017-08-24 17:20] Eilon commented on #8825
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 17:25] leonidmln commented on #9433
They created wrong tests.
This fix https://github.com/aspnet/EntityFrameworkCore/commit/ec894e9b5b090bb249f319a45e6366eedf942039 is ok, not new one

[2017-08-24 17:56] pmiddleton commented on #9549
Thanks for the code cleanup - someone needs to integrate Roslyn into GitHub's text editor :)

[2017-08-24 18:01] marchy commented on #2266
@cubikca Great point on the microservices part. Another way to put this is that microservice arch on .NET is not yet feasible in practice/production systems.

What do you mean by mapping entity model to domain model though? Do you mean having two separate model layers? If this is the case it's directly against the EF code-first goals/spirit (ie: to squish your Data Access layer and Modelling layer

[2017-08-24 18:25] ajcvickers commented on #9379
@ErikEJ Are you still planning to investigate this?

[2017-08-24 18:31] ajcvickers commented on #9499
@smitpatel To investigate how common this is and what the workarounds might be.

[2017-08-24 18:36] ErikEJ commented on #9379
Yes, just have been to busy with my daytime job recently! 😄

[2017-08-24 18:37] ajcvickers commented on #9504
Closing as a duplicate of #4038

[2017-08-24 19:03] Neme12 opened #9554 "Could Find() be more general?"
It's really convenient to use the Find method on a DbSet:
[code]
but when you need something more complicated, such as calling Include() or AsNoTracking() first, Find() is not available and I have to fall back to doing this:
[code]
This is not only longer and terribly inconsistent, but from what I understand (forgive me if I'm wrong) it could also avoid an optimization that Find does if it's alrea

[2017-08-24 19:17] AndriySvyryd commented on #9509
Note that the validation part should remain in `ModelValidator`

[2017-08-24 19:58] weitzhandler commented on #9418
I totally second what @marchy said.
TPT is a must in LoB apps, lazy-loading is just another feature (IMHO an evil one).
But, from [here](https://github.com/aspnet/EntityFrameworkCore/wiki/Roadmap) I'm not even sure it's gonna be in 2.1. It's not even on the stretch list (any comment @bricelam?), and so is [it](https://github.com/aspnet/EntityFrameworkCore/issues/2266) under the Backlog milestone.

[2017-08-24 20:26] mguinness commented on #9277
Just to clarify that this issue is in relation to SQL Server.  The MySQL database provider has the same issue, but there is a [known issue](https://bugs.mysql.com/bug.php?id=75267) which prevents output parameters from being used with Connector/NET.

[2017-08-24 20:27] ajcvickers commented on #9433
@leonidmln Can you explain in some detail what is wrong with the fix? We're planning to ship this soon, so if it doesn't work, then it would be really great to find out before we ship it, but we can't see what is wrong. Can you post some code that shows what is not working?

[2017-08-24 20:47] Costo opened #9556 "Owned types of eager loaded entities with `.Include(...)` are not loaded"
Owned types are supposed to be automatically eager loaded, but it doesn't happen when using `.Include(...)`.

### Steps to reproduce

Given this database model:
A DataSource has many Orders
An Order has an Address (owned type)

[code]

Given this query:

[code]
Orders are eager loaded, but the Address property of all Orders will be `null`.

Workaround: Need to explicitly eager load the Address:
[c

[2017-08-24 20:56] smitpatel commented on #9536
BaseTypeDiscoveryConvention shouldn't be running on OwnedTypes since they don't allow inheritance.
behavior in 2.0 using above code.
[code]

@AndriySvyryd

[2017-08-24 21:03] smitpatel commented on #8498
Reopening so that we can write a proper response here. Using 1.x & 2.x packages of Asp.net in same project is not supported.

[2017-08-24 21:07] smitpatel commented on #9553
duplicate of #9551

[2017-08-24 21:14] smitpatel commented on #9551
[code]

[2017-08-24 21:17] smitpatel commented on #9551
Include with GroupBy and Select with single result operator.
This is regression from 1.1.2
@anpete

[2017-08-24 21:20] smitpatel commented on #9105
Assigning to @maumar To do porting and introduce a quirk. My machine does not have VS 2015 and cannot build 1.1.3 patch branch.

[2017-08-24 21:33] anpete opened #9558 "Relational: UDF calls are generated unquoted"
When we generate a call to a user defined database function, the function name is unquoted. Should it be?
[code]

[2017-08-24 21:39] rasuldev opened #9559 "All after Take generates wrong SQL and works incorrect"
The command
`context.Transactions.Take(10).All(t => t.UserId == "user")`
generates the following wrong SQL:
[code]
so it returns wrong answer. But if we run
`context.Transactions.Take(10).ToList().All(t => t.UserId ==  "user")`
all is fine.

### Further technical details
EF Core version: 1.1.2
Database Provider: Microsoft.EntityFrameworkCore.SqlServer 1.1.2
Operating system: Windows 10
IDE: Visual

[2017-08-24 21:44] smitpatel commented on #9556
duplicate #9210

[2017-08-24 21:45] smitpatel commented on #9551
@maumar this bug!

[2017-08-24 22:13] anpete opened #9560 "Query: Ensure ISqlGenerationHelper is used when generating identifiers"
Investigate: It looks like we may be incorrectly outputing a configured schema when generating table names in Sqlite queries.

[2017-08-24 22:29] smitpatel commented on #9499
The issue is with ordering by `OrderBy<Teacher, object>` . If you don't introduce casting to object everything works fine. If you introduce casting to object but with string type things work but for int type it is failing. Specifically this query fails
`var query = context.Set<Order>().Include(t => t.OrderDetails).OrderBy<Order, object>(c => c.OrderID).ToList();`

It is uncommon to introduce such

[2017-08-24 22:30] smitpatel commented on #9499
The issue is in Include compiler generating collection query model. It is failing to combine 2 order by which are same but having different types due to convert. When we translate them to SQL, it becomes 1 projection hence throwing error because of mismatch between size of expressions in anonymous object & projection list.

[2017-08-24 22:35] smitpatel commented on #9559
We should apply predicate after pushing down SelectExpression for correct results.

[2017-08-24 23:27] smitpatel opened #9562 "Query: Cleanup custom method implementations"
At present we have GroupBy async version in following classes.
- `RelationalResultOperatorHandler`
- `AsyncQueryMethodProvider`
- `AsyncLinqOperatorProvider`
- `ResultOperatorHandler`

We have 2 ways of grouping, streaming and pure client eval but we have multiple levels of async pipeline :trollface:

[2017-08-25 00:02] ajcvickers commented on #9547
@TimRowe The problem is that AddDbContext registers the type of your derived context--in this case TmqDbContext--but the call to GetService asks for the base DbContext type, which is not registered. You can either:
* Resolve the service as TmqDbContext. For example, `container.GetService<TmqDbContext>()`
* Or register a resolver for the base type that will redirect to the derived type. For example

[2017-08-25 00:11] ajcvickers commented on #9548
@tomwangliming EF Core does not have any mechanism to automatically create the database in the way that EF6 and earlier did. This was changed for several reasons, one of which was that it is generally better for an application to control when a database gets created rather than having it happen automatically and potentially unexpectedly. Along the same lines, EnsureCreated should usually only real